---
permalink: /blog/2012/08/how-to-start-a-language-exchange-on-the-right-foot/
layout: blog-old
title: 'How to start a language exchange on the right foot'
day: 14
month: Aug
year: 2012
category: language learning
tags: 
  - 'language exchange'
  - 'mailbag'
  - 'speaking'
language: en
translation: /blog/2012/08/jak-prawid%C5%82owo-rozpocz%C4%85%C4%87-wymian%C4%99-j%C4%99zykow%C4%85/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/08/sharing.jpg" rel="lightbox"><img alt="Two hamsters sharing a carrot" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/08/sharing.jpg" title="Language exchange is about sharing! Photo by ryancr"/></a><div class="caption">Language exchange is about sharing! <a href="http://www.flickr.com/photos/33128961@N00/142455033">Photo</a> by <a href="http://www.flickr.com/photos/ryanr/">ryancr</a></div></div>
<p><em>Nothing</em> can replace speaking your target language with a native speaker. A "language exchange" (sometimes called "tandem") is a great way to practice with a native speaker who is also learning your native language.</p>
<p>During each meeting with your language exchange partner, you take turns speaking both languages. Unlike classes or working with a teacher, the meetings are friendly, informal and (because they are mutually beneficial to you both) absolutely free. ;-)</p>
<p><strong>Don't worry: you don't need to live near native speakers or <a href="http://www.linguatrek.com/blog/2011/07/you-dont-need-to-live-in-a-foreign-country-to-learn">in the country</a> where the language is spoken!</strong></p>
<p>As I've written before, you can do a language exchange both <a href="http://www.linguatrek.com/blog/2011/02/immersion-tips-how-to-meet-natives#language-exchange">in person</a> or <a href="http://www.linguatrek.com/blog/2011/11/how-to-practice-speaking-over-the-internet">over the internet</a>.</p>
<p>I recently received this question via the <a href="http://www.linguatrek.com">contact form</a>:</p>
<blockquote>
<p>I've been studying Polish for about a year now and just took the step of reaching out to a Polish speaker on the <a href="http://language-exchange.gregloby.com/">Language|Exchange Project</a>.  I'm a little nervous about it, but I figured it will only help me get better.  I was wondering if you had any advice on how to get the most out of the exchange.</p>
</blockquote>
<p><strong>Great question!</strong></p>
<p>I've been doing language exchanges for several years (with both Polish and Russian) and I've definitely had my share of bad experiences. Through trial and error, I've come up with some ways to make my language exchanges as effective as possible. In this article, I give a few tips to help you avoid some common pitfalls.</p>
<p><strong>Read more for four tips on starting a new language exchange!</strong></p>
<h2>1. Establish the rules immediately</h2>
<p>From the first meeting, or ideally <em>before</em> the first meeting, decide what the rules are for each meeting.</p>
<p>A typical format is:</p>
<ul>
<li>60 minute meetings</li>
<li>For the first 50% you speak one language, then switch for the second half</li>
<li>Every meeting, alternative which language you start with</li>
</ul>
<p>But I've heard about (and tried!) lots of other formats. For example, if you have trouble quickly switching languages, you can alternate the language per meeting. Some people even prefer speaking both languages <em>simultaneously!</em> In that format, you only speak the language you are learning but hear your partner's responses in your native language. :-)</p>
<p>There are several other important questions to answer as well:</p>
<ul>
<li><strong>How will corrections be handled?</strong> Do you want to be interrupted and corrected immediately? Or do you prefer your partner to write them down and tell you later? Personally, I hate being interrupted for corrections. ;-) But it's just personal preference. Your partner might want the opposite of what you want!</li>
<li><strong>What <em>kind</em> of conversation will you have?</strong> Is it just a casual chat? Or will there be a topic prepared in advance? Will you bring some discussion points or a game?</li>
</ul>
<p>Since everyone will have different needs and preferences, it's very important to settle this as early as possible. It can be very hard to change later - especially, if it turns out that your partner is unwilling to do the thing you want!</p>
<h2>2. Stick to the rules!</h2>
<p>It's really important to stick to the rules once you've established them!</p>
<p>The two most important rules from my experience are: (a) sticking to the agreed upon language for this part of the meeting and (b) switching the language at the appropriate time.</p>
<p>If you're supposed to switch after 30 minutes, switch <em>immediately</em> after 30 minutes! If you let it go because your partner is in the middle of a long thought, that thought might not finish for another 20 minutes. :-) And now you only get 10 minutes to practice!</p>
<p>Or if this 30 minutes is supposed to be for Polish, stick to Polish! Some people have a bad habit of switching languages when their partner doesn't respond quickly enough or seems to be having trouble.  Remind them of the rules or you might end up spending too little time on your target language.</p>
<p><strong>If you don't enforce the rules from day one, it'll be very hard to start enforcing them later once you've settled into a pattern for your meetings.</strong></p>
<h2>3. Find the right partner</h2>
<p>My first couple experiences with language exchange were actually pretty bad. :-) It wasn't until I found a good language exchange partner that it started being a useful language learning tool.</p>
<p>Finding a good partner is a lot like finding a good friend - but actually even harder! Not only do you need have common interests and compatible personalities, but they also need to have a similar language ability and plenty of patience. You can have a good friend who's impatient - it's much harder to have an impatient language exchange partner. ;-)</p>
<p><strong>If you have one or two meetings with someone and it doesn't seem to be working out: move on!</strong></p>
<p>I've tried something like 30 different partners but only had about 6 really good ones that I continued to have productive meetings with over a long period of time. It might take you a few tries to find the right partner.</p>
<h2>4. Stay away from grammar</h2>
<p>As a rule, native speakers don't know much about their own grammar.</p>
<p>There are definitely exceptions! But most people only know what <em>sounds right.</em> So, it's fine to ask things like: "Is this right? How do you say it correctly?"</p>
<p>But they probably won't know <em>why</em> something is right or wrong. For that, you'll need to ask a language teacher or look in a textbook.</p>
<p><strong>What do you think? What kind of experience have you had with language exchange? Do you have any tips to add? Write a comment below!</strong></p>
</div>

<div id="comments">
<a id="comment-2868"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>The issue that bugs me is the following: how do you go about choosing the partner with the right level? Do both learners have to have the same or very similar level of languages? For example: what about choosing an English native whose Polish is lower (or very low) than my English level? Will it be successful?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/195/2868">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/08/how-to-start-a-language-exchange-on-the-right-foot#comment-2868">Tuesday, August 14, 2012 - 12:25</a></span>
</div>
</div>
<div class="indented"><a id="comment-2869"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>I think it can be successful! It depends on both people getting what they want/need out of it. It's certainly easier when you have the same level and you both want the same things.</p>
<p>But I think it can work with mismatched levels and wants/needs. You just have figure out how it's going to work right away and keep in mind that the rules are different for each section of the meeting.</p>
<p>I have to say that some of my least successful meetings were with people who had a higher level of English than I did Polish. But that had more to do with them sneaking English into the Polish section and being impatient with me. :-)</p>
<p>Does anyone have an example of a successful language exchange with mismatched levels? I know that <a href="http://gregloby.net/">Grzegorz Łobinski</a> has done them (he's got lots of language exchange experience) but I don't remember all the details. If no one responds, I can try and pull him into the discussion here!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/195/2869">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/08/how-to-start-a-language-exchange-on-the-right-foot#comment-2869">Tuesday, August 14, 2012 - 12:49</a></span>
</div>
</div>
</div><a id="comment-2871"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://howlearnspanish.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/378451a8d6aab6e56c0caa50495bd976?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Very good post, for what it's worth I don't do the first three and it seems to work fine for me, however my goal in doing a language exchange is definitely not yours, as I understand it, my goal is to just have a friendly chat with someone about whatever (doesn't much matter what) in their native language, which allows me to practice, that's it.  If you're looking to talk about something specific, and use specific words or grammar that you've learned, then yes the meeting is going to have to be much more structured which means you'll need to set rules and follow them.</p>
<p>The fourth one is absolutely true, though, and one I've learned the hard way.  Seriously guys: forget about asking them about grammar, forget about ever asking them "why" something is said the way it is, they don't know, they just know that it is (you wouldn't be any better if you were teaching someone English, native speakers generally have no clue as to why something is correct, they just know if it is or not).</p>
<p>Oh, something else I would add: you're probably going to have to add 20 friends and ask all 20 of them to add you on skype for a language exchange sometime for every 1 person you'll who will be available with any consistency to talk to, so plan on friending like 60-100 people on these sites (language exchanges like iTalki and The Mixxer).</p>
<p>What's your favorite language exchange, David? The best one I've tried so far is iTalki.</p>
<p>Cheers,<br/>
Andrew</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/195/2871">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://howlearnspanish.com" rel="nofollow">Andrew</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/08/how-to-start-a-language-exchange-on-the-right-foot#comment-2871">Tuesday, August 14, 2012 - 14:55</a></span>
</div>
</div>
<div class="indented"><a id="comment-2876"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks for the comment, Andrew!</p>
<p>Well, you probably did "sort of" set rules, but the rules just were: let's have a casual conversation. :-) The problems start when you want to have a friendly chat, but the other person is expecting something different, but you never discussed it.</p>
<p>Anyway, I also just have friendly chats. But I have had problems with some partners who take every excuse to switch to English thus cheating me of my Polish (or in the past, Russian) time! So, that's why I think a switching/sticking to it rule is important.</p>
<p>It's been a while since I've had to search for partners on a language exchange site. Now I can just find people through my blog. But my favorite back in the day was <a href="http://www.languageexchange.org/">xLingo</a>. I'm also very fond of <a href="http://language-exchange.gregloby.com/">Language|Exchange Project</a>, but I haven't had a chance to use it personally.</p>
<p>I just made accounts on The Mixxer and iTalki to test them out. iTalki definitely has some of the best user interface that I've seen!</p>
<p>Take care!<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/195/2876">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/08/how-to-start-a-language-exchange-on-the-right-foot#comment-2876">Wednesday, August 15, 2012 - 10:48</a></span>
</div>
</div>
<div class="indented"><a id="comment-2877"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://howlearnspanish.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/378451a8d6aab6e56c0caa50495bd976?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>That's very interesting because I find that with Spanish-speakers it's really hard to get them to try out their English with me and we end up speaking in Spanish 98% of the time and they're perfectly happy with that.  What an interesting difference between Spanish-speakers and Polish-speakers.</p>
<p>Cheers,<br/>
Andrew</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/195/2877">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://howlearnspanish.com" rel="nofollow">Andrew</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/08/how-to-start-a-language-exchange-on-the-right-foot#comment-2877">Wednesday, August 15, 2012 - 12:52</a></span>
</div>
</div>
</div></div><a id="comment-2893"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/42d7645a648750a9b6dcdeab80999a84?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I had a pleasure to be your language partner, David ;) But it seems to me that you counted me among those "unsuccessful" ones :D</p>
<p>My advice is to talk and write simultaneously (for example in skype) It gives a lot of possibilities! Write unknown words during talk, sometimes give link to the picture - to show what word you mean :) Or one person gives a link to short video, the other is instantly seeing and commenting it. Open online dictionary/translator in other window and use it. This is the power of modern technology :)<br/>
The main thing about correcting - don't correct EVERY mistake, try to focus on crucial mistakes or just correct every fifth mistake. Still, some people don't like any corrections :) And I recommend written corrections - they don't interupt the talk and stay in history.<br/>
Discussing grammar - even when my partners were interested, it didn't work. It affected the relation in a bad way and eventually became boring. On the other hand – vocabulary issues are very interesting :) Just try to focus on uncommon words and idioms. When I discuss vocabulary issues, it is always exchange - one person is talking about some unofficial/slang words and the other person thinks about equivalents in his/her own language (nerd-kujon). And I try to exhaust the subject - I give many examples. It's not for memorising them, but for exploring the language!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/195/2893">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Robico (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/08/how-to-start-a-language-exchange-on-the-right-foot#comment-2893">Friday, August 17, 2012 - 07:40</a></span>
</div>
</div>
<div class="indented"><a id="comment-2894"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Robert!</p>
<p>Great advice! :-)</p>
<p>You weren't one of the unsuccessful ones?! We met regularly for a quite a while, until something changed in someone's schedule, though I can't remember what anymore.</p>
<p>Take care!<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/195/2894">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/08/how-to-start-a-language-exchange-on-the-right-foot#comment-2894">Friday, August 17, 2012 - 08:30</a></span>
</div>
</div>
</div><a id="comment-2896"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.brazilianpolyglot.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d4e21ed170a0b88ebcac627e282464e1?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hello David,<br/>
Great post! “The process to find” a language partner is sometimes a really very difficult thing and I dare say that it is a critical part of the learning process (especially those who want to be able to speak a language and not only to read it) , the tips you gave are absolutely perfect, mainly the part to “find the right partner”, people expect to find out the perfect partner in the first attempt, but we know that it is not so easy as it seems, a good language partner is like a partner in a relationship, that is we do not find it out in the first attempt, it requires time and some adjustments till it fits both sides, but after it is really worth!!! Everyone should try this experience, it is more valuable than any language course.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/195/2896">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.brazilianpolyglot.com" rel="nofollow">Jimmy Mello</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/08/how-to-start-a-language-exchange-on-the-right-foot#comment-2896">Saturday, August 18, 2012 - 13:32</a></span>
</div>
</div>
<div class="indented"><a id="comment-2898"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Jimmy!</p>
<p>Thanks for the comment and sharing your experience! :-)</p>
<p>I'm going to write a little bit more about finding a partner in the near future since it seems this is something people are having trouble with.</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/195/2898">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/08/how-to-start-a-language-exchange-on-the-right-foot#comment-2898">Monday, August 20, 2012 - 19:45</a></span>
</div>
</div>
<a id="comment-2903"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/42d7645a648750a9b6dcdeab80999a84?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Quote: "a good language partner is like a partner in a relationship"</p>
<p>Some boys mix it up :) I will not mention, which nations are famous for "picking up girls on language sites" in order to be politically correct :D<br/>
I saw many profiles of female users in the langage learning sites, where they added "I am not looking for relationship", or used some stronger words :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/195/2903">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Robico (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/08/how-to-start-a-language-exchange-on-the-right-foot#comment-2903">Tuesday, August 21, 2012 - 10:18</a></span>
</div>
</div>
</div>
</div>
