---
permalink: /blog/2012/08/speaking-strategies-respond-to-everything/
layout: blog-old
title: 'Speaking strategies: Respond to everything!'
day: 21
month: Aug
year: 2012
category: language learning
tags: 
  - 'speaking'
  - 'speaking strategies'
language: en
translation: /blog/2012/08/strategie-m%C3%B3wienia-odpowiadaj-na-wszystko/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 131px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/08/onthephone.jpg" rel="lightbox"><img alt="Girl talking her cellphone" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/08/onthephone.jpg" title="Photo by Eddy Van 3000"/></a><div class="caption"><a href="http://www.flickr.com/photos/23566085@N00/4034975331">Photo</a> by <a href="http://www.flickr.com/photos/e3000/">Eddy Van 3000</a></div></div>
<p>In the <a href="http://www.linguatrek.com/blog/2012/04/3-steps-to-speaking-a-language-fluently-ebook-excerpt">introduction</a> to <a href="http://www.linguatrek.com/blog/2012/05/natural-language-learning-my-free-ebook-is-finished">my FREE ebook</a>, I mention that developing <em>speaking strategies</em> is a very important step in reaching "fluency" (although, I'm <a href="http://www.linguatrek.com/blog/2010/11/lets-stop-saying-fluent-fluently-and-fluency-too">not fond</a> of that word!) in a foreign language.</p>
<p>But unfortunately, this wasn't the topic of the ebook so I didn't discuss it then - which is why I'm trying to focus on it on my blog now (see <a href="http://www.linguatrek.com/tags/speaking-strategies">previous articles</a>).</p>
<p><strong>Some situations are more difficult to speak in than others!</strong></p>
<p>Two of the most difficult are:</p>
<ul>
<li>Over the telephone, and</li>
<li>In group of native speakers.</li>
</ul>
<p>Even though I've been learning Polish for over 5 years, I <em>still</em> personally have trouble in both of these situations. But the strategy I'm going to give you today helps tremendously!</p>
<p><strong>Read more to find out what it is!</strong></p>
<h2>Over the telephone</h2>
<p>Speaking over the telephone is one of the few situations where I still experience a <a href="http://www.linguatrek.com/blog/2011/05/how-to-overcome-your-fear-of-speaking">fear of speaking</a>.</p>
<p>It's not strong enough that I'll avoid making the call (lately I've had to call a couple banks in Poland in preparation for our <a href="http://www.linguatrek.com/blog/2012/06/the-topic-of-our-paid-product-the-presale-starts-in-a-couple-days">paid product for Bibliobird</a>) but I get pretty anxious before and during.</p>
<p>This stems from the fact that it's more difficult than speaking in person for a couple reasons:</p>
<ul>
<li><strong>You can't see facial cues or hand gestures.</strong> Humans are surprisingly dependent on body language. According to <a href="http://en.wikipedia.org/wiki/Body_language">some studies</a>, 60-70% of all meaning is derived from nonverbal communication. And non-native speakers rely on it more than natives!</li>
<li><strong>The conversation can move too quickly.</strong> You are also sending nonverbal cues about whether you've understood or not. In a real world meeting the other person would slow down or wait if they sensed that you don't understand. However, over the telephone, they just keep on going to the next point.</li>
</ul>
<h2>In a group of native speakers</h2>
<p>Getting to the point where you can discuss any topic in a one-on-one meeting with a native speaker is a major accomplishment. But doing the same with a group of native speakers is <em>much harder</em>!</p>
<ul>
<li><strong>The topic can change too quickly.</strong> As a non-native speaker you understand and speak slightly slower than a native speaker. By the time you've come up with something to say about the current topic, sometimes the conversation has already moved on to something else!</li>
<li><strong>It's more difficult to ask for an explanation.</strong> With the speed of the conversation it can also be more difficult to ask for an explanation of something you didn't understand.</li>
<li><strong>The language is NOT geared to you.</strong> In a one-on-one dialog, the other person will naturally (probably without even realizing it consciously) simplify their language for you. In a group of native speakers, this is not the case!</li>
</ul>
<h2>What should I do?</h2>
<p>Here is my advice to solve all these problems: <strong>Respond to everything!</strong></p>
<p>This means immediately say "Uh huh" or "OK" if you understand and ask right away if you don't. Interrupt, be annoying and, no matter what, don't disengage from the conversation!</p>
<p>Once you disengage, the conversation just starts flying by you and it's very difficult to re-engage. I remember my first few phone conversations coming to an end and wishing I could just start over. :-)</p>
<p>The same goes for talking with a group of native speakers. Try to respond in some way to <em>everything everyone says!</em> Be the center of attention.</p>
<p>This will definitely be harder if you are normally more reserved. I'm a listener by nature, so it was an adjustment for me at first.</p>
<p>But it's much better than getting lost and being unable to jump back in. If you remain disengaged, eventually, people will forget that you are there and just start to ignore you. Make yourself ever present and impossible to ignore!</p>
<p><strong>Do you have trouble talking on the phone or with a group of native speakers? Do you have any advice that worked for you? Write a comment below!</strong></p>
</div>

<div id="comments">
<a id="comment-2907"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://howlearnspanish.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/378451a8d6aab6e56c0caa50495bd976?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Yup, I really agree with you about having to immediately stop someone the second you don't understand something and ask for an explanation otherwise things take off and it becomes much harder to do the same thing later, except the instance where I have to do this is when talking with a language exchange partner via Skype!  It's something I've noticed before and if it's a problem with just one speaker then it must be really bad with several of them.</p>
<p>Cheers,<br/>
Andrew</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/197/2907">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://howlearnspanish.com" rel="nofollow">Andrew</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/08/speaking-strategies-respond-to-everything#comment-2907">Tuesday, August 21, 2012 - 11:55</a></span>
</div>
</div>
<div class="indented"><a id="comment-2913"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Andrew!</p>
<p>Sorry, I'm not sure I caught what you are saying about talking with a language exchange. :-/ I seem to have gotten lost in the wording somewhere - or I'm just exceptionally slow. :-) You do or don't have to do this with your language exchange partner?</p>
<p>I look forward to learning from your clarification!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/197/2913">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/08/speaking-strategies-respond-to-everything#comment-2913">Tuesday, August 21, 2012 - 16:18</a></span>
</div>
</div>
<div class="indented"><a id="comment-2926"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://howlearnspanish.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/378451a8d6aab6e56c0caa50495bd976?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Ah ok, yes what I meant is that I do have to do this with language exchange partners.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/197/2926">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://howlearnspanish.com" rel="nofollow">Andrew</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/08/speaking-strategies-respond-to-everything#comment-2926">Thursday, August 23, 2012 - 13:12</a></span>
</div>
</div>
</div></div><a id="comment-2909"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9fe6c269d033e8aa2396a51484ada45c?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I totally agree.Once I spoke to the Poles and they seemed dont understand what I meant at all.<br/>
But obviously not ,I misuse the verb probowac instead of przymierzac to express ''Can I try these earings on ?'' In Chinese(Taiwanese),przymierzac and probowac are the same - just try! But I think they misconstured that I wanna tried something and gave me a grin.I was so embarrased at that time ,even furious:))</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/197/2909">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">momo (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/08/speaking-strategies-respond-to-everything#comment-2909">Tuesday, August 21, 2012 - 12:14</a></span>
</div>
</div>
<div class="indented"><a id="comment-2914"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Don't worry, I've also experienced many similarly embarassing situations. :-) In fact, while I haven't done that one in particular, I think I probably would!</p>
<p>"przymierzać" seems natural for clothing, because it's like you're measuring it (mierzyć), right? But with earrings, you just want to try them and see what they look like! This would be an easy mistake for a native English speaker too. :-)</p>
<p>I wish you further success with your Polish!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/197/2914">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/08/speaking-strategies-respond-to-everything#comment-2914">Tuesday, August 21, 2012 - 16:23</a></span>
</div>
</div>
<a id="comment-2917"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Did you say ‘mogę spróbować’ or ‘mogę próbować’? the latter form is rather continuous like ’may I trying’ or so.</p>
<p>Generally when trying on clothes you can say both ‘mogę spróbować?’ or ‘mogę przymierzyć?’. I imagine ‘mogę spróbować’ like you’re stretching out your hand, touch e.g jeans and say ‘mogę spróbować?’ and saying implicitly that you’re saying ‘mogę spróbować [to przymierzyć]’ (‘can I try on [this one]?’).<br/>
There’s off course the difference between the both, but it’s not incorrect.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/197/2917">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/08/speaking-strategies-respond-to-everything#comment-2917">Wednesday, August 22, 2012 - 01:22</a></span>
</div>
</div>
<div class="indented"><a id="comment-2941"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>I'm glad to here that "mogę spróbować" is OK because I'm sure I'd make that mistake sooner or later. ;-) Thanks for the explanation!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/197/2941">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/08/speaking-strategies-respond-to-everything#comment-2941">Sunday, August 26, 2012 - 09:42</a></span>
</div>
</div>
</div></div><a id="comment-2910"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/23d5ba8e200b43304276d42213806e96?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Even now as an attorney, I still have problems with telephone calls in my NATIVE language, so doing it in my foreign language (right now, only German) would cause a lot of anxiety.  For me I find that's because people do not always speak clearly on the phone, and even if they do, it's very easy to not understand something because of a poor connection or a strong regional accent. Thank you for the tips; that's really what I do is try an interject into part of the conversation, sometimes just to clarify that I did understand it correctly.  Usually what I'll do is briefly summarize what was said (now, again, this is normally while working, so I doubt I could get away with this socially).  Being more reserved, how did you practice "jumping in"?  Is it something you just had to do, or did you work your way up to it?  I have this same problem as well.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/197/2910">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Tara H (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/08/speaking-strategies-respond-to-everything#comment-2910">Tuesday, August 21, 2012 - 14:50</a></span>
</div>
</div>
<div class="indented"><a id="comment-2915"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Tara,</p>
<p>Yeah, I didn't even mention the audio quality problem, but that's definitely a factor too!</p>
<p>Well, I just decided that I was going to try and jump in as much as possible. The first couple times I tried it, I interrupted more than usual but still not enough. With each subsequent attempt, however, I interrupted more and more.</p>
<p>Also, over time, you end up settling on a handful of useful phrases that you always use in certain situations. For example, on the Polish version of this article a commenter gave the example, "Could you spell that?" After a while, it starts to become automatic.</p>
<p>Summarizing what people just said is also a great strategy, which I personally use too! You <em>can</em> do it in social situations, but you have to do it on a sentence-by-sentence basis. Here's how I do it:</p>
<ol>
<li>Someone says a sentence I don't fully understand.</li>
<li>I immediately interrupt and explain it back them, using a phrase like, "Do you mean ...?" (in Polish, "Masz na myśli, że ...?" or "Więc to znaczy, że ...?")</li>
<li>They confirm that I understood correctly or explain it again.</li>
</ol>
<p>I hope that helps!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/197/2915">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/08/speaking-strategies-respond-to-everything#comment-2915">Tuesday, August 21, 2012 - 16:34</a></span>
</div>
</div>
</div><a id="comment-2918"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>David, ale może problem leży gdzie indziej? Z tego co się już zorientowałem, to Ty jesteś bardziej osobą introwertyczną – wolisz słuchać, nie wtrącać się, etc. Czy idąc do obcego środowiska, gdzie dyskutuje kilka osób, jesteś w stanie z łatwością przyłączyć się do rozmowy?</p>
<p>Drugi problem polega na tym, że nigdy osoba ucząca się obcego języka, nieżyjąca w danym kraju, nie będzie w stanie prowadzić rozmowy tak jak prowadzi we własnym języku. Musiałbyś być na bieżąco w polityce, sprawach obyczajowych, skandalach, kulturze, grach słownych, historii, i wielu, wielu innych sprawach. Ostatnio świetnie opisał to Luca na swoich blogu – na przykładzie języka francuskiego z którym ma już, uwaga, styczność (o ile się nie mylę), 20 lat!</p>
<p>Myślę, że nie warto się tym przejmować, chociaż nasze ambicje nie pozwalają nam tego łatwo zaakceptować.</p>
<p>PS.<br/>
przepraszam, ale dopiero teraz zauważyłem że to angielska wersja postu :)<br/>
I’m sorry but I’ve just noticed that this is the English version of the post.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/197/2918">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/08/speaking-strategies-respond-to-everything#comment-2918">Wednesday, August 22, 2012 - 01:34</a></span>
</div>
</div>
<div class="indented"><a id="comment-2942"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Wojtek!</p>
<p>No, wiesz co - w odpowiednim kontekście mogę przyłączyć się do jakiejś rozmowy. Np. jestem dość dobry w "networkingu" na konferencjach, spotkaniach związanych z moimi zainteresowaniami, itd. Niestety wygląda zupełnie inaczej kiedy jestem np. na imprezie, weselu, itd. :-)</p>
<p>Ale ten artykuł chodzi o sytuację, kiedy już jesteś w dyskusji!</p>
<p>Co do drugiej sprawy: może nie jesteś na bieżąco w polityce, itd ale zawsze możesz prosić o więcej informacji. Moim problemem na początku było to, że słyszałem coś czego nie rozumiałem (np. nazwisko polityka albo odnoszenie do skandalu) i po prostu tam stanąłem uśmiechając. :-) O wiele lepiej od razu wtrącić i pytać o co chodzi! Po jakimś czasie to może być irytujące dla tych native speakerów ale to ich sprawa. ;-) W ten sposób uczysz się jak najwięcej podczas rozmowy.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/197/2942">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/08/speaking-strategies-respond-to-everything#comment-2942">Sunday, August 26, 2012 - 10:00</a></span>
</div>
</div>
</div><a id="comment-2919"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Here you go, very interesting and helpful article by Luca: <a href="http://thepolyglotdream.com/2012/07/16/614/" title="http://thepolyglotdream.com/2012/07/16/614/">http://thepolyglotdream.com/2012/07/16/614/</a></p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/197/2919">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/08/speaking-strategies-respond-to-everything#comment-2919">Wednesday, August 22, 2012 - 01:38</a></span>
</div>
</div>
<a id="comment-2927"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/15a8a5e73b9def997db642e6ac60ad60?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Więc to znaczy, że ,i use this all the time now ,before if someone spoke to me in polish and i didnt understand i would just stand there looking at them blankly trying to work out what they have just said.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/197/2927">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Roy (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/08/speaking-strategies-respond-to-everything#comment-2927">Thursday, August 23, 2012 - 14:56</a></span>
</div>
</div>
<div class="indented"><a id="comment-2943"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Roy!</p>
<p>Hehe, I have to admit that I used to do the same (that is stare blankly trying to work out the last sentence). ;-) I'm glad you found a phrase and a strategy that works for you!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/197/2943">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/08/speaking-strategies-respond-to-everything#comment-2943">Sunday, August 26, 2012 - 10:01</a></span>
</div>
</div>
</div>
</div>
