---
permalink: /category/culture/
layout: base-old
title: 'culture'
language: pl
translation: 
---
<div class="node node-story clear-block" id="node-62">
<h2 class="node-title"><a href="/blog/2011/04/the-history-of-easter" title="The History of Easter">The History of Easter</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">26</strong> <strong class="month">kwi</strong> <strong class="year">2011</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Czytaj ten tekst z BiblioBirdem!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_55 first"><a href="/tags/easter" rel="tag" title="">Easter</a></li>
<li class="taxonomy_term_6"><a href="/tags/holidays" rel="tag" title="">holidays</a></li>
<li class="taxonomy_term_30 last active"><a class="active" href="/category/culture" rel="tag" title="">culture</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<iframe allowfullscreen="" frameborder="0" height="317" src="http://www.youtube.com/embed/eJYXMIJrhRI?rel=0" style="margin-bottom: 20px" title="YouTube video player" width="510"></iframe>
<p><strong>Read more for the transcript!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/04/the-history-of-easter#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">4 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2011/04/the-history-of-easter" title="Wyświetla dalszą część wpisu The History of Easter.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F04%2Fthe-history-of-easter&amp;linkname=The%20History%20of%20Easter" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-59">
<h2 class="node-title"><a href="/blog/2011/04/the-biggest-april-fools-day-hoax" title="The biggest April Fools' Day hoax!">The biggest April Fools' Day hoax!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">1</strong> <strong class="month">kwi</strong> <strong class="year">2011</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Czytaj ten tekst z BiblioBirdem!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_53 first"><a href="/tags/april-fools-day" rel="tag" title="">April Fools' Day</a></li>
<li class="taxonomy_term_6"><a href="/tags/holidays" rel="tag" title="">holidays</a></li>
<li class="taxonomy_term_30 last active"><a class="active" href="/category/culture" rel="tag" title="">culture</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Today is <a href="http://en.wikipedia.org/wiki/April_fools'_day">April Fools' Day</a>!  A day when people play tricks on their friends who may have forgotten to check the date in the morning.</p>
<p>Even a few organizations join in the fun!  Many newspapers, television stations and internet sites (like Google) have pulled April Fools' Day pranks, including the famous BBC <a href="http://en.wikipedia.org/wiki/Spaghetti_tree">spaghetti tree hoax</a>.</p>
<p>On April 1st, 1957, an estimated 8 million people watched the 3 minute report on television.  In the 1950s, spaghetti was not an everyday food in Britain and few people knew how it was produced.  <strong>Watch it yourself in the following video!</strong></p>
<iframe allowfullscreen="" frameborder="0" height="317" src="http://www.youtube.com/embed/yl-dtufFR-w?rel=0" style="margin-bottom: 20px" title="YouTube video player" width="510"></iframe>
<p><strong>Read the transcript below!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/04/the-biggest-april-fools-day-hoax#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">1 odpowiedź</a></li>
<li class="node_read_more"><a href="/blog/2011/04/the-biggest-april-fools-day-hoax" title="Wyświetla dalszą część wpisu The biggest April Fools' Day hoax!.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F04%2Fthe-biggest-april-fools-day-hoax&amp;linkname=The%20biggest%20April%20Fools%27%20Day%20hoax%21" id="da2a_2"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-46">
<h2 class="node-title"><a href="/blog/2011/02/history-of-valentines-day" title="History of Valentine's Day">History of Valentine's Day</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">14</strong> <strong class="month">lut</strong> <strong class="year">2011</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Czytaj ten tekst z BiblioBirdem!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_6 first"><a href="/tags/holidays" rel="tag" title="">holidays</a></li>
<li class="taxonomy_term_51"><a href="/tags/valentines-day" rel="tag" title="">Valentine's Day</a></li>
<li class="taxonomy_term_30 last active"><a class="active" href="/category/culture" rel="tag" title="">culture</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Today is Valentine's Day!  Watch this interesting video about the history of the holiday from the History channel:</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/Rs6xesanxNM?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/Rs6xesanxNM?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Read more for the transcript!</p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/02/history-of-valentines-day#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">1 odpowiedź</a></li>
<li class="node_read_more"><a href="/blog/2011/02/history-of-valentines-day" title="Wyświetla dalszą część wpisu History of Valentine's Day.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F02%2Fhistory-of-valentines-day&amp;linkname=History%20of%20Valentine%27s%20Day" id="da2a_3"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
