---
permalink: /category/language-learning/
layout: base-old
title: 'language learning'
language: en
translation: 
---
<div class="node node-story clear-block" id="node-254">
<h2 class="node-title"><a href="/blog/2013/10/review-memrisecom-i-started-learning-a-little-chinese" title="Review: Memrise.com (I started learning a little ... Chinese?!)">Review: Memrise.com (I started learning a little ... Chinese?!)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">15</strong> <strong class="month">Oct</strong> <strong class="year">2013</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_29 first active"><a class="active" href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_97"><a href="/tags/memrisecom" rel="tag" title="">Memrise.com</a></li>
<li class="taxonomy_term_7"><a href="/tags/review" rel="tag" title="">review</a></li>
<li class="taxonomy_term_4 last"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2013/10/memrise.jpg" rel="lightbox"><img alt="Memrise.com Logo" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2013/10/memrise.jpg" title=""/></a></div>
<p>For a while now I've been trying to decide what language to learn next.</p>
<p>Of course, I'll keep learning Polish! I've been reading the <em>Song of Ice and Fire</em> books (ie. <em>Game of Thrones</em>) in Polish and practicing speaking at the end of <a href="https://en.bibliobird.com/node/16345">our weekly voice chat meetings on Bibliobird.com</a>.</p>
<p>It's just that I'm already at a pretty advanced level and it's no longer as challenging as it used to be.</p>
<p>But which language to learn? They <em>ALL</em> seem interesting! But learning a language is a big commitment and no languages excite me as much as Polish did. :-/</p>
<p>A few weeks ago, I was talking to a friend and he told me he was learning <a href="http://www.memrise.com/course/749/learn-basic-chinese-read-a-menu/">how to read Chinese menus on Memrise.com</a>. This sounded really awesome, because:</p>
<ol>
<li><strong>I'd be able to use it right away!</strong> While I have no connection to China or the Chinese people, I do eat Chinese food often and the menus at Chinese restaurants are always written in both English and Chinese.</li>
<li><strong>It doesn't require much commitment.</strong> Learning a whole new language will take lots of time and effort - but just learning to read a menu is a simple way to get started.</li>
</ol>
<p>So, I decided to review <a href="http://www.memrise.com/">Memrise.com</a> by learning to read a little Chinese!</p>
<p><strong>Today's article also includes a <u>video</u> where I show you how Memrise works and <u>we go to a Chinese restaurant to try out what I've learned!</u></strong></p>
<p>Of course, you can learn many more languages on Memrise.com than Chinese, including: English, <a href="http://www.memrise.com/courses/english/polish/">Polish</a> and dozens of others. <em>Maybe it'll help you learn your next language?</em></p>
<p><strong>Read more to find out!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2013/10/review-memrisecom-i-started-learning-a-little-chinese#comments" title="Jump to the first comment of this posting.">22 comments</a></li>
<li class="node_read_more"><a href="/blog/2013/10/review-memrisecom-i-started-learning-a-little-chinese" title="Read the rest of Review: Memrise.com (I started learning a little ... Chinese?!).">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2013%2F10%2Freview-memrisecom-i-started-learning-a-little-chinese&amp;linkname=Review%3A%20Memrise.com%20%28I%20started%20learning%20a%20little%20...%20Chinese%3F%21%29" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-248">
<h2 class="node-title"><a href="/blog/2013/04/i-translated-all-the-words-but-i-still-dont-understand" title="&quot;I translated all the words, but I still don't understand!&quot;">"I translated all the words, but I still don't understand!"</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">2</strong> <strong class="month">Apr</strong> <strong class="year">2013</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_29 first active"><a class="active" href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_24 last"><a href="/tags/mailbag" rel="tag" title="">mailbag</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2013/03/reading.jpg" rel="lightbox"><img alt="Girl reading" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2013/03/reading.jpg" title="Photo by Rachel Sian"/></a><div class="caption"><a href="http://www.flickr.com/photos/28658690@N00/274158994">Photo</a> by <a href="http://www.flickr.com/photos/rachelsian/">Rachel Sian</a></div></div>
<p>I learned Polish primary by <a href="http://www.linguatrek.com/blog/2010/12/harry-potter-the-book-that-taught-me-polish">reading and listening to Harry Potter</a>. When I encountered a word I didn't know, I looked it up in the dictionary and made a flashcard.</p>
<p>There's more to it, but that's the short version I usually put in my blog articles and videos. You can find the <em>whole story</em> in <a href="http://www.linguatrek.com/subscribe">my free ebook.</a></p>
<p><strong>Many other people have tried similar methods with other language and have also been successful!</strong></p>
<p>However, occasionally I get emails from people saying:</p>
<blockquote>
<p><em>I started reading Harry Potter in language X but your method doesn't work! I translated all the individual words but the sentence doesn't make logical sense and isn't understandable.</em></p>
</blockquote>
<p>(BTW, I've been trying to turn all the advice I regularly give over e-mail into articles on my blog, so I can just send links and <a href="http://www.linguatrek.com/blog/2012/03/email-problem-i-need-your-help">write fewer e-mails</a>.)</p>
<p><strong>Read more for my response!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2013/04/i-translated-all-the-words-but-i-still-dont-understand#comments" title="Jump to the first comment of this posting.">34 comments</a></li>
<li class="node_read_more"><a href="/blog/2013/04/i-translated-all-the-words-but-i-still-dont-understand" title="Read the rest of &quot;I translated all the words, but I still don't understand!&quot;.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2013%2F04%2Fi-translated-all-the-words-but-i-still-dont-understand&amp;linkname=%22I%20translated%20all%20the%20words%2C%20but%20I%20still%20don%27t%20understand%21%22" id="da2a_2"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-244">
<h2 class="node-title"><a href="/blog/2013/02/how-to-find-motivation-that-is-powerful-enough-to-succeed" title="How to find motivation that is POWERFUL enough to succeed!">How to find motivation that is POWERFUL enough to succeed!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">19</strong> <strong class="month">Feb</strong> <strong class="year">2013</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_29 first active"><a class="active" href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_8 last"><a href="/tags/motivation" rel="tag" title="">motivation</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2013/02/valentines.jpg" rel="lightbox"><img alt="Girl with bow and arrow" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2013/02/valentines.jpg" title="Photo by martinak15"/></a><div class="caption"><a href="http://www.flickr.com/photos/64636777@N03/6877840433">Photo</a> by <a href="http://www.flickr.com/photos/martinaphotography/">martinak15</a></div></div>
<p>I've written many times (because it's sooo important):</p>
<blockquote>
<p>The only way to fail to learn a language is to give up!</p>
</blockquote>
<p>Learning a language takes a lot of time and effort. Along the way there will be days when you want to give up!</p>
<p><strong>In order to prevent that, you'll need strong motivation.</strong></p>
<p>Not a weak, external motivation like getting a good grade or finding a new job (although, those can help you get started). You need truly POWERFUL, internal motivation.</p>
<p><strong>But what if you don't have such a motivation (yet)?</strong></p>
<p>I get lots of e-mails from people who really want to learn a language, but don't think they have the type of motivation necessary to succeed.</p>
<p><strong>Luckily, it's possible to find motivation powerful enough to succeed... on purpose!</strong></p>
<p>Today, I'm FINALLY going to explain one of the techniques that I've been recommending over e-mail for years.</p>
<p><strong>Read more to find out what it is!</strong>
</p> </div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2013/02/how-to-find-motivation-that-is-powerful-enough-to-succeed#comments" title="Jump to the first comment of this posting.">24 comments</a></li>
<li class="node_read_more"><a href="/blog/2013/02/how-to-find-motivation-that-is-powerful-enough-to-succeed" title="Read the rest of How to find motivation that is POWERFUL enough to succeed!.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2013%2F02%2Fhow-to-find-motivation-that-is-powerful-enough-to-succeed&amp;linkname=How%20to%20find%20motivation%20that%20is%20POWERFUL%20enough%20to%20succeed%21" id="da2a_3"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-226">
<h2 class="node-title"><a href="/blog/2013/01/get-over-your-fear-of-speaking-in-a-foreign-language-without-leaving-your-house" title="Get over your fear of speaking in a foreign language (without leaving your house!)">Get over your fear of speaking in a foreign language (without leaving your house!)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">9</strong> <strong class="month">Jan</strong> <strong class="year">2013</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_79 first"><a href="/tags/fear-of-speaking" rel="tag" title="">fear of speaking</a></li>
<li class="taxonomy_term_29 last active"><a class="active" href="/category/language-learning" rel="tag" title="">language learning</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2013/01/fear.jpg" rel="lightbox"><img alt="FEAR" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2013/01/fear.jpg" title="Photo by wilderdom"/></a><div class="caption"><a href="http://www.flickr.com/photos/wilderdom/266650346/">Photo</a> by <a href="http://www.flickr.com/photos/wilderdom/">wilderdom</a></div></div>
<p><em>Have you ever tried to speak in a foreign language ... but your mind just went blank?</em></p>
<p><em>Then afterwards the words simply came to you?</em></p>
<p><strong>You are not alone!</strong></p>
<p>Fear of speaking a foreign language is sooo common that psychologists have even given it name: <a href="http://en.wikipedia.org/wiki/Foreign_language_anxiety">Foreign language anxiety</a>.</p>
<p>According to linguistic Stephen Krashen - one of the foremost experts on how humans naturally learn languages - this anxiety has a strong <a href="http://en.wikipedia.org/wiki/Input_hypothesis#Affective_filter_hypothesis">negative impact</a> on your ability to use a language!</p>
<p><strong>If you want to actually speak in the language you are learning, you will NEED to get over this fear.</strong></p>
<p>However, it's almost never addressed directly in language learning courses!</p>
<p>Today, I'm going to give you some tips for getting over your fear of speaking (without even leaving your house)!</p>
<p><strong>Read more to find out how!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2013/01/get-over-your-fear-of-speaking-in-a-foreign-language-without-leaving-your-house#comments" title="Jump to the first comment of this posting.">34 comments</a></li>
<li class="node_read_more"><a href="/blog/2013/01/get-over-your-fear-of-speaking-in-a-foreign-language-without-leaving-your-house" title="Read the rest of Get over your fear of speaking in a foreign language (without leaving your house!).">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2013%2F01%2Fget-over-your-fear-of-speaking-in-a-foreign-language-without-leaving-your-house&amp;linkname=Get%20over%20your%20fear%20of%20speaking%20in%20a%20foreign%20language%20%28without%20leaving%20your%20house%21%29" id="da2a_4"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-224">
<h2 class="node-title"><a href="/blog/2013/01/discover-the-perfect-language-learning-goal-for-2013-3-simple-questions" title="Discover the PERFECT language learning goal for 2013! (3 simple questions)">Discover the PERFECT language learning goal for 2013! (3 simple questions)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">1</strong> <strong class="month">Jan</strong> <strong class="year">2013</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_29 first active"><a class="active" href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_94 last"><a href="/tags/new-years-resolution" rel="tag" title="">New Year's resolution</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 142px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2013/01/2013.jpg" rel="lightbox"><img alt="Dog with 2013 hat" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2013/01/2013.jpg" title="Photo by HackBitz"/></a><div class="caption"><a href="http://www.flickr.com/photos/78341294@N00/8326634109">Photo</a> by <a href="http://www.flickr.com/photos/mgewalden/">HackBitz</a></div></div>
<p><strong>Happy New Year! I hope you had a great holiday season. :-)</strong></p>
<p>You may have noticed that I haven't published any articles for a few weeks. Instead I've been relaxing and reconnecting with friends and family. I've also been reflecting on my successes and failures from the previous year and <em>thinking about my goals for the new year.</em></p>
<p>Like many people, I have tendency to set many, overly-ambitious goals for myself that are impossible to achieve. <em>Have you ever done this?</em> ;-)</p>
<p>That's why this year I've decided to systematically choose only ONE PERFECT language learning goal. To be "perfect" it should:</p>
<ol>
<li><strong>Make a big difference</strong> in my language learning journey, and</li>
<li><strong>Be <em>actually</em> achievable</strong>.</li>
</ol>
<p>In this article I present <em>three simple questions</em> that I used to choose the perfect language learning goal for me in 2013.</p>
<p>Don't make any more empty promises to yourself!</p>
<p><strong>Read more and use the same questions to discover the perfect goal for YOU!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2013/01/discover-the-perfect-language-learning-goal-for-2013-3-simple-questions#comments" title="Jump to the first comment of this posting.">9 comments</a></li>
<li class="node_read_more"><a href="/blog/2013/01/discover-the-perfect-language-learning-goal-for-2013-3-simple-questions" title="Read the rest of Discover the PERFECT language learning goal for 2013! (3 simple questions).">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2013%2F01%2Fdiscover-the-perfect-language-learning-goal-for-2013-3-simple-questions&amp;linkname=Discover%20the%20PERFECT%20language%20learning%20goal%20for%202013%21%20%283%20simple%20questions%29" id="da2a_5"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-222">
<h2 class="node-title"><a href="/blog/2012/12/why-my-motivation-failed-and-how-you-can-avoid-the-same-pitfalls" title="Why my motivation failed (and how you can avoid the same pitfalls!)">Why my motivation failed (and how you can avoid the same pitfalls!)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">4</strong> <strong class="month">Dec</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_29 first active"><a class="active" href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_8 last"><a href="/tags/motivation" rel="tag" title="">motivation</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/12/failure.jpg" rel="lightbox"><img alt="Statue with head in hands" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/12/failure.jpg" title="Photo by Alex Proimos"/></a><div class="caption"><a href="http://www.flickr.com/photos/34120957@N04/4199675334">Photo</a> by <a href="http://www.flickr.com/photos/proimos/">Alex Proimos</a></div></div>
<p>Motivation is probably the most important ingredient in successful language learning.</p>
<p>I frequently get comments to my articles and videos complimenting my perseverance and motivation in learning Polish. But even now, I sometimes have problems with my motivation!</p>
<p><strong>I don't like to fail. Nobody does! Especially not publicly. :-)</strong></p>
<p>However, sometimes you can learn more from the failures of others than their successes. It's easy to believe that someone was successful because they are "special" or have an ingrained talent. It's important to see their failures too!</p>
<p>Which is why I'm going to share a personal story with you about how my motivation failed - very recently, a few weeks ago.</p>
<p><strong>Read more to find out how you can avoid the same pitfalls and renew your motivation!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/12/why-my-motivation-failed-and-how-you-can-avoid-the-same-pitfalls#comments" title="Jump to the first comment of this posting.">15 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/12/why-my-motivation-failed-and-how-you-can-avoid-the-same-pitfalls" title="Read the rest of Why my motivation failed (and how you can avoid the same pitfalls!).">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F12%2Fwhy-my-motivation-failed-and-how-you-can-avoid-the-same-pitfalls&amp;linkname=Why%20my%20motivation%20failed%20%28and%20how%20you%20can%20avoid%20the%20same%20pitfalls%21%29" id="da2a_6"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-218">
<h2 class="node-title"><a href="/blog/2012/11/listen-to-my-free-ebook-about-language-learning-in-polish" title="Listen to my FREE audiobook about language learning in Polish!">Listen to my FREE audiobook about language learning in Polish!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">13</strong> <strong class="month">Nov</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_93 first"><a href="/tags/audiobook" rel="tag" title="">audiobook</a></li>
<li class="taxonomy_term_25"><a href="/tags/ebook" rel="tag" title="">ebook</a></li>
<li class="taxonomy_term_29 last active"><a class="active" href="/category/language-learning" rel="tag" title="">language learning</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/05/nll-fauxbookstack-pl.png" rel="lightbox"><img alt="Cover of my ebook" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/05/nll-fauxbookstack-pl.png" title=""/></a></div>
<p><a href="http://www.linguatrek.com/blog/2012/03/our-big-announcement-we-need-your-help">Back in March</a> I decided to write a FREE ebook about language learning for YOU, the subscribers of my blog, in order to thank you for your support over the years.</p>
<p>I planned the content based on over 1500 survey responses and HUNDREDS of emails and comments. By the time it was finally <a href="http://www.linguatrek.com/blog/2012/05/natural-language-learning-my-free-ebook-is-finished">published in May</a>, I can honestly say that it <em>really</em> was FOR YOU!</p>
<p><strong>In the introduction, I write:</strong></p>
<blockquote>
<p>This ebook is for people...</p>
<ul>
<li>... who have spent years in traditional courses but still can't order in a restaurant, watch a movie without subtitles, or have a casual conversation with a native speaker.</li>
<li>... who think that their course was too fast, too slow, or too boring.</li>
<li>... who think they don't have a talent for learning language. (But, in truth, no talent is necessary!  What you need is a good approach!)</li>
<li>... who want to take control of their language learning journey and study using a method that will help them achieve their goal efficiently!</li>
</ul>
<p>In short, this ebook is for <em>normal</em> people who want to learn a language.  It's not for language experts or polyglots.</p>
<p>It's for the majority of <em>us</em> who have tried in vain to learn even one foreign language.  Or for those who successfully learned one foreign language, but the process was so slow and painful they're looking for a better way to learn their second foreign language.</p>
</blockquote>
<p>Today, I'm happy to announce an <strong>updated Polish translation</strong> and an <strong>audiobook version in Polish!</strong></p>
<p>Read more in order to listen to the introduction and find out how to download the full audiobook (or PDF, EPUB or MOBI)!</p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/11/listen-to-my-free-ebook-about-language-learning-in-polish#comments" title="Jump to the first comment of this posting.">9 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/11/listen-to-my-free-ebook-about-language-learning-in-polish" title="Read the rest of Listen to my FREE audiobook about language learning in Polish!.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F11%2Flisten-to-my-free-ebook-about-language-learning-in-polish&amp;linkname=Listen%20to%20my%20FREE%20audiobook%20about%20language%20learning%20in%20Polish%21" id="da2a_7"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-212">
<h2 class="node-title"><a href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project" title="Let's read in a foreign language! (a group project)">Let's read in a foreign language! (a group project)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">16</strong> <strong class="month">Oct</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_91 first"><a href="/tags/group-project" rel="tag" title="">group project</a></li>
<li class="taxonomy_term_29 last active"><a class="active" href="/category/language-learning" rel="tag" title="">language learning</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/10/dogreading.jpg" rel="lightbox"><img alt="Dog reading" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/10/dogreading.jpg" title="Photo by Francisco Martins"/></a><div class="caption"><a href="http://www.flickr.com/photos/65768710@N00/2200198472">Photo</a> by <a href="http://www.flickr.com/photos/betta_design/">Francisco Martins</a></div></div>
<p>Recently I've been so busy with Bibliobird and creating <a href="http://www.linguatrek.com/blog/2012/10/real-life-in-the-usa-our-product-for-learning-english-has-launched">our product for learning English</a>, that I had to put my Polish learning on hold.</p>
<p>I learned Polish <a href="http://www.linguatrek.com/blog/2010/12/harry-potter-the-book-that-taught-me-polish">mainly from reading and listening</a> to books in Polish - <strong>but it's been MONTHS since I've read anything!</strong> And back in June I canceled all my <a href="http://www.linguatrek.com/tags/language-exchange">language exchange</a> meetings because I didn't have the time.</p>
<p><strong>But now that our product is released, it's time to get back to Polish!</strong> I just got a new book (and audiobook!) based on a recommendation from a couple Bibliobird users: <strong><a href="http://en.wikipedia.org/wiki/Cylinder_van_Troffa">Cylinder van Troffa</a> by <a href="http://en.wikipedia.org/wiki/Janusz_Zajdel">Janusz Zajdel</a></strong></p>
<p>Over the next <em>four weeks,</em> I'm going to be reading and listening to it using the method I <a href="http://www.linguatrek.com/blog/2012/04/natural-language-learning-without-a-teacher">describe in my FREE ebook</a> while publicly sharing my progress.</p>
<p><strong>Have you been thinking of reading and listening to something in English, Polish or whatever language you're learning? <em>Read it along with me and share your progress too!</em></strong></p>
<p>Two of the biggest challenges in language learning are:</p>
<ul>
<li><strong>Getting started</strong> - it's <em>sooo easy</em> to procrastinate, and</li>
<li><strong>Staying motivated</strong> - REMEMBER: <a href="http://www.linguatrek.com/blog/2011/03/the-three-ingredients-for-successful-language-learning">the only way to fail, is to give up!</a></li>
</ul>
<p>I'm hoping that if we do this as a <em>group project</em>, it'll be a great excuse to start NOW! And sharing our progress with each other will help to keep us motivated.</p>
<p><strong>Read more to find out about my plan and how YOU can participate!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comments" title="Jump to the first comment of this posting.">41 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project" title="Read the rest of Let's read in a foreign language! (a group project).">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F10%2Flets-read-in-a-foreign-language-a-group-project&amp;linkname=Let%27s%20read%20in%20a%20foreign%20language%21%20%28a%20group%20project%29" id="da2a_8"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-204">
<h2 class="node-title"><a href="/blog/2012/09/how-to-learn-technical-or-any-specialized-language" title="How to learn technical (or any specialized) language?">How to learn technical (or any specialized) language?</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">18</strong> <strong class="month">Sep</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_29 first active"><a class="active" href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_90 last"><a href="/tags/specialized-language" rel="tag" title="">specialized language</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<p><em>(Don't worry, this is an article with language learning advice! But I just wanted to let you know that my paid product to help Poles learn English - "Real Life in the USA" - is going to be launched on Monday, October 1st. Learn more <a href="https://en.bibliobird.com/node/14452">here</a> and get a discount!)</em></p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/09/technology.jpg" rel="lightbox"><img alt="Room with lots of computers" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/09/technology.jpg" title="Photo by ClintJCL"/></a><div class="caption"><a href="http://www.flickr.com/photos/clintjcl/3109105564/in/photostream/">Photo</a> by <a href="http://www.flickr.com/photos/clintjcl/">ClintJCL</a></div></div>
<p>I personally learned Polish by <a href="http://www.linguatrek.com/blog/2010/12/harry-potter-the-book-that-taught-me-polish">reading and listening to the Harry Potter books</a> in Polish. While a fantasty book like Harry Potter is great for learning general language, it won't be the best choice if your goal is to learn specialized language instead.</p>
<p>In <a href="http://www.linguatrek.com/blog/2012/04/natural-language-learning-without-a-teacher">my free ebook</a>, I explain that you should pick content to learn from that uses the same type of language that you want to learn.</p>
<p><strong>While that's great general advice, many people have trouble implementing it in practice!</strong></p>
<p>In fact, I've received the following question <em>so often</em> that I decided it was time to write a complete article about it:</p>
<blockquote>
<p>How can I learn technical language? I want to learn how to write computer programs and most of the materials and documentation are in English. Is it possible to use the same method you used to learn Polish?</p>
<p>Of course, there are no audiobooks for technical literature. But you wrote that <a href="http://www.linguatrek.com/blog/2012/01/the-importance-of-listening">listening is extremely important</a>! How can I do it?</p>
</blockquote>
<p>It's definitely possible to find good reading and listening resources for programming - and most other specialized language!</p>
<p><strong>Read more to find out how!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/09/how-to-learn-technical-or-any-specialized-language#comments" title="Jump to the first comment of this posting.">5 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/09/how-to-learn-technical-or-any-specialized-language" title="Read the rest of How to learn technical (or any specialized) language?.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F09%2Fhow-to-learn-technical-or-any-specialized-language&amp;linkname=How%20to%20learn%20technical%20%28or%20any%20specialized%29%20language%3F" id="da2a_9"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-200">
<h2 class="node-title"><a href="/blog/2012/08/how-to-find-a-language-exchange-partner" title="How to find a language exchange partner">How to find a language exchange partner</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">28</strong> <strong class="month">Aug</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_88 first"><a href="/tags/language-exchange" rel="tag" title="">language exchange</a></li>
<li class="taxonomy_term_29 active"><a class="active" href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_60 last"><a href="/tags/speaking" rel="tag" title="">speaking</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/08/searching.jpg" rel="lightbox"><img alt="Man and boy searching for something" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/08/searching.jpg" title="Photo by ll.wynn"/></a><div class="caption"><a href="http://www.flickr.com/photos/23045955@N02/3267952345">Photo</a> by <a href="http://www.flickr.com/photos/23045955@N02/">ll.wynn</a></div></div>
<p>Two weeks ago <a href="http://www.linguatrek.com/blog/2012/08/4-tips-for-effective-language-exchange">I gave some tips</a> for starting a <em>language exchange.</em></p>
<p>Language exchange is where you communicate (either <a href="http://www.linguatrek.com/blog/2011/02/immersion-tips-how-to-meet-natives#language-exchange">in person</a> or <a href="http://www.linguatrek.com/blog/2011/11/how-to-practice-speaking-over-the-internet">over the internet</a>) with a native speaker of the language you are learning, who is also learning your native language.</p>
<p>In the comments, <a href="http://www.linguatrek.com/blog/2012/08/jak-prawid%C5%82owo-rozpocz%C4%85%C4%87-wymian%C4%99-j%C4%99zykow%C4%85#comment-2870">someone wrote</a> (translated from Polish):</p>
<blockquote>
<p>It's easy to look for more language exchange partners if your native language is English. After all, the whole world is learning that language. What to do if no one wants to learn Polish (<em>ed: this commenter's native language is Polish</em>). I don't think I'd find even one Swede who wanted to learn Polish.</p>
</blockquote>
<p>I've heard this opinion expressed many times before - basically every time I bring up language exchange.</p>
<p>I agree it's harder if your native language is less popular. But it's definitely still possible to find someone online!</p>
<p><strong>Read more for three tips on how to find a language exchange partner online!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/08/how-to-find-a-language-exchange-partner#comments" title="Jump to the first comment of this posting.">17 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/08/how-to-find-a-language-exchange-partner" title="Read the rest of How to find a language exchange partner.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F08%2Fhow-to-find-a-language-exchange-partner&amp;linkname=How%20to%20find%20a%20language%20exchange%20partner" id="da2a_10"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="item-list"><ul class="pager"><li class="pager-current first">1</li>
<li class="pager-item"><a class="active" href="/category/language-learning-page-1" title="Go to page 2">2</a></li>
<li class="pager-item"><a class="active" href="/category/language-learning-page-2" title="Go to page 3">3</a></li>
<li class="pager-item"><a class="active" href="/category/language-learning-page-3" title="Go to page 4">4</a></li>
<li class="pager-item"><a class="active" href="/category/language-learning-page-4" title="Go to page 5">5</a></li>
<li class="pager-item"><a class="active" href="/category/language-learning-page-5" title="Go to page 6">6</a></li>
<li class="pager-next"><a class="active" href="/category/language-learning-page-1" title="Go to next page">next ›</a></li>
<li class="pager-last last"><a class="active" href="/category/language-learning-page-5" title="Go to last page">last »</a></li>
</ul></div>
