---
permalink: /category/language-learning-page-4/
layout: base-old
title: 'language learning'
language: pl
translation: /category/language-learning/
---
<div class="node node-story clear-block" id="node-71">
<h2 class="node-title"><a href="/blog/2011/05/how-to-overcome-your-fear-of-speaking" title="How to overcome your fear of speaking">How to overcome your fear of speaking</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">24</strong> <strong class="month">maj</strong> <strong class="year">2011</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Czytaj ten tekst z BiblioBirdem!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_79 first"><a href="/tags/fear-of-speaking" rel="tag" title="">fear of speaking</a></li>
<li class="taxonomy_term_29 active"><a class="active" href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_60 last"><a href="/tags/speaking" rel="tag" title="">speaking</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/05/panic.jpg" rel="lightbox"><img alt="Woman with panicked look on her face" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/05/panic.jpg" title="&quot;I want to speak but I'm afraid!&quot;  Photo by Nate Steiner."/></a><div class="caption"><em>"I want to speak but I'm afraid!"</em> <a href="http://www.flickr.com/photos/44124484443@N01/321938695">Photo</a> by <a href="http://www.flickr.com/photos/nate/">Nate Steiner</a>.</div></div>
<p><em>No matter how well you know a language, you can't communicate with anyone if you're afraid to use it.</em></p>
<p>While it might not seem like this has anything to do with <em>language learning</em>, this is a problem that affects a lot of people.  <em>Even me</em>!</p>
<p>For a long a time, I was afraid to speak the languages I was learning (Polish and Russian).  I still have trouble getting the courage to speak in certain situations (ex. on the telephone) or with certain people.  It isn't something that I got over immediately, but I've slowly improved over several years.</p>
<p><strong>Read more to learn how I got over my fear of speaking and how <em>you</em> can too!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">60 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2011/05/how-to-overcome-your-fear-of-speaking" title="Wyświetla dalszą część wpisu How to overcome your fear of speaking.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F05%2Fhow-to-overcome-your-fear-of-speaking&amp;linkname=How%20to%20overcome%20your%20fear%20of%20speaking" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-58">
<h2 class="node-title"><a href="/blog/2011/03/what-i-want-bibliobird-to-become" title="What I want BiblioBird to become">What I want BiblioBird to become</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">29</strong> <strong class="month">mar</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_9 first"><a href="/tags/bibliobird" rel="tag" title="">BiblioBird</a></li>
<li class="taxonomy_term_29 last active"><a class="active" href="/category/language-learning" rel="tag" title="">language learning</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/03/huttese.jpg" rel="lightbox"><img alt="C3PO teaching Boba Fett to speak Huttese" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/03/huttese.jpg" title="Photo by Stéfan Le Dû"/></a><div class="caption"><a href="http://www.flickr.com/photos/49462908@N00/5422493992">Photo</a> by <a href="http://www.flickr.com/photos/st3f4n/">Stéfan Le Dû</a></div></div>
<p><a href="http://www.bibliobird.com">BiblioBird</a> is a web application for learning languages that I designed based on my experiences learning Polish.</p>
<p>Until now, BiblioBird has been a personal project of mine - but I have much bigger dreams for it!  I want BiblioBird to become a <em>community project</em> in which anyone can participate, similar to <a href="http://en.wikipedia.org/wiki/Wikipedia">Wikipedia</a>, for example.</p>
<p>To facilitate this, I've <a href="http://en.bibliobird.com/node/5526">recently released</a> the <a href="http://en.bibliobird.com/oss">code</a> that powers BiblioBird as <a href="http://en.wikipedia.org/wiki/Open_Source">Open Source</a>.  I am now working on some new features that will facilitate contribution from the new community!</p>
<p><strong>Read more to learn about BiblioBird and what I hope it could become!</strong></p>
</div>
<ul class="links inline"><li class="comment_add first"><a href="/comment/reply/58#comment-form" title="Pozwala dodać nową odpowiedź do tej strony.">Odpowiedz</a></li>
<li class="node_read_more"><a href="/blog/2011/03/what-i-want-bibliobird-to-become" title="Wyświetla dalszą część wpisu What I want BiblioBird to become.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F03%2Fwhat-i-want-bibliobird-to-become&amp;linkname=What%20I%20want%20BiblioBird%20to%20become" id="da2a_2"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-57">
<h2 class="node-title"><a href="/blog/2011/03/vlog-pom%C3%B3%C5%BCcie-mi-tworzy%C4%87-wolny-serwis-do-nauki-j%C4%99zyk%C3%B3w" title="Vlog: Pomóżcie mi tworzyć wolny serwis do nauki języków!">Vlog: Pomóżcie mi tworzyć wolny serwis do nauki języków!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">25</strong> <strong class="month">mar</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_9 first"><a href="/tags/bibliobird" rel="tag" title="">BiblioBird</a></li>
<li class="taxonomy_term_29 active"><a class="active" href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_4 last"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Zwracam się do Was o pomoc z BiblioBirdem!  Konkretnie z testowaniem nowych funkcji.  Proszę dołącz do zespołu BETA!</p>
<iframe allowfullscreen="" frameborder="0" height="317" src="http://www.youtube.com/embed/hFuQXJmw2Fk?rel=0" style="margin-bottom: 20px" title="YouTube video player" width="510"></iframe>
<p><a href="http://pl.bibliobird.com/node/5213">Oto jest wątek</a> na forum dla programisty.</p>
<p>Czytaj transkrypcję poniżej!</p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/03/vlog-pom%C3%B3%C5%BCcie-mi-tworzy%C4%87-wolny-serwis-do-nauki-j%C4%99zyk%C3%B3w#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">14 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2011/03/vlog-pom%C3%B3%C5%BCcie-mi-tworzy%C4%87-wolny-serwis-do-nauki-j%C4%99zyk%C3%B3w" title="Wyświetla dalszą część wpisu Vlog: Pomóżcie mi tworzyć wolny serwis do nauki języków!.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F03%2Fvlog-pom%25C3%25B3%25C5%25BCcie-mi-tworzy%25C4%2587-wolny-serwis-do-nauki-j%25C4%2599zyk%25C3%25B3w&amp;linkname=Vlog%3A%20Pom%C3%B3%C5%BCcie%20mi%20tworzy%C4%87%20wolny%20serwis%20do%20nauki%20j%C4%99zyk%C3%B3w%21" id="da2a_3"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-54">
<h2 class="node-title"><a href="/blog/2011/03/the-three-ingredients-for-successful-language-learning" title="The three ingredients for successful language learning">The three ingredients for successful language learning</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">15</strong> <strong class="month">mar</strong> <strong class="year">2011</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Czytaj ten tekst z BiblioBirdem!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_29 first active"><a class="active" href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_36 last"><a href="/tags/method" rel="tag" title="">method</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/03/ingredients.jpg" rel="lightbox"><img alt="Ingredients" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/03/ingredients.jpg" title="Some recipes have many ingredients.  Language learning only has three!  Photo by Anthony Georgeff"/></a><div class="caption">Some recipes have many ingredients.  Language learning only has three!  <a href="http://www.flickr.com/photos/43337469@N00/55765586">Photo</a> by <a href="http://www.flickr.com/people/manthatcooks/">Anthony Georgeff</a></div></div>
<p>What's the difference between a successful language learner and an unsuccessful language learner?</p>
<p>Is it talent with languages?  Nope!  Last week <a href="http://www.linguatrek.com/blog/2011/03/you-dont-need-talent-to-learn-a-language">I wrote</a> that talent isn't necessary to learn a language.  So, what then?</p>
<p>The three ingredients for successful language learning are <strong>time</strong>, <strong>motivation</strong> and an <strong>effective method</strong>.</p>
<p>With these three things, anyone can learn any language successfully.</p>
<p><strong>Read on for more information!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/03/the-three-ingredients-for-successful-language-learning#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">21 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2011/03/the-three-ingredients-for-successful-language-learning" title="Wyświetla dalszą część wpisu The three ingredients for successful language learning.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F03%2Fthe-three-ingredients-for-successful-language-learning&amp;linkname=The%20three%20ingredients%20for%20successful%20language%20learning" id="da2a_4"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-52">
<h2 class="node-title"><a href="/blog/2011/03/you-dont-need-talent-to-learn-a-language" title="You don't need talent to learn a language">You don't need talent to learn a language</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">8</strong> <strong class="month">mar</strong> <strong class="year">2011</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Czytaj ten tekst z BiblioBirdem!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_29 first last active"><a class="active" href="/category/language-learning" rel="tag" title="">language learning</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p><em>(I recorded <a href="http://www.linguatrek.com/blog/2011/02/vlog-nie-trzeba-mie%C4%87-talentu-%C5%BCeby-nauczy%C4%87-si%C4%99-j%C4%99zyka">a video in Polish about the same topic</a>. It's one of my favorite videos of all time! Especially the ending. ;-))</em></p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/03/talent.jpg" rel="lightbox"><img alt="Girl doing gymnastics" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/03/talent.jpg" title="Wow, that's talent!  Or is it?  Photo by Chrissy Wainwright."/></a><div class="caption">Wow, that's talent!  Or is it?  <a href="http://www.flickr.com/photos/90935137@N00/351684037">Photo</a> by <a href="http://www.flickr.com/people/wainwright/">Chrissy Wainwright</a>.</div></div>
<p>Many people believe that you're either born with a talent for learning languages or you're not.</p>
<p>What's more, most people believe they lack this talent only because they were unsuccessful at learning a language in school.  They may believe they are already hopeless - so, why even try?</p>
<p>Luckily, this is <em>completely untrue</em>!  You don't need innate talent to learn a language!</p>
<p><strong>Read more to find out why.</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/03/you-dont-need-talent-to-learn-a-language#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">13 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2011/03/you-dont-need-talent-to-learn-a-language" title="Wyświetla dalszą część wpisu You don't need talent to learn a language.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F03%2Fyou-dont-need-talent-to-learn-a-language&amp;linkname=You%20don%27t%20need%20talent%20to%20learn%20a%20language" id="da2a_5"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-53">
<h2 class="node-title"><a href="/blog/2011/03/vlog-jak-wygl%C4%85da-efektywna-metoda-nauki-j%C4%99zyka-obcego" title="Vlog: Jak wygląda efektywna metoda nauki języka obcego">Vlog: Jak wygląda efektywna metoda nauki języka obcego</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">5</strong> <strong class="month">mar</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_29 first active"><a class="active" href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_36"><a href="/tags/method" rel="tag" title="">method</a></li>
<li class="taxonomy_term_4 last"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Po tym <a href="http://www.linguatrek.com/blog/2011/02/vlog-nie-trzeba-mie%C4%87-talentu-%C5%BCeby-nauczy%C4%87-si%C4%99-j%C4%99zyka">filmiku o trzech potrzebnych składnikach</a> nauki języka obcego (czas, motywacja, efektywna metoda), bardzo dużo ludzi zapytało mnie o ten ostatni składnik.  W tym filmiku opisuję jak wygląda efektywna metoda nauki!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/Ta-PCSnDets?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/Ta-PCSnDets?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Czytaj traskrypcję poniżej!</p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/03/vlog-jak-wygl%C4%85da-efektywna-metoda-nauki-j%C4%99zyka-obcego#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">23 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2011/03/vlog-jak-wygl%C4%85da-efektywna-metoda-nauki-j%C4%99zyka-obcego" title="Wyświetla dalszą część wpisu Vlog: Jak wygląda efektywna metoda nauki języka obcego.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F03%2Fvlog-jak-wygl%25C4%2585da-efektywna-metoda-nauki-j%25C4%2599zyka-obcego&amp;linkname=Vlog%3A%20Jak%20wygl%C4%85da%20efektywna%20metoda%20nauki%20j%C4%99zyka%20obcego" id="da2a_6"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-50">
<h2 class="node-title"><a href="/blog/2011/03/language-learning-is-more-like-karate-than-math" title="Language learning is more like karate than math">Language learning is more like karate than math</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">1</strong> <strong class="month">mar</strong> <strong class="year">2011</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Czytaj ten tekst z BiblioBirdem!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_29 first last active"><a class="active" href="/category/language-learning" rel="tag" title="">language learning</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/03/ninja.jpg" rel="lightbox"><img alt="Ninja" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/03/ninja.jpg" title="Become a language ninja!  Photo by Joey Gannon."/></a><div class="caption">Become a language ninja!  <a href="http://www.flickr.com/photos/67961268@N00/408428562">Photo</a> by <a href="http://www.flickr.com/people/brunkfordbraun/">Joey Gannon</a>.</div></div>
<p>In school, languages are taught kind of like mathematics, but with letters and words instead of numbers.  <strong>But learning a language is not like learning math!</strong></p>
<p>Language learning uses entirely different brain functions and requires completely different processes to learn.</p>
<p>In fact, learning a language has more in common with learning karate than studying mathematics!</p>
<p><strong>Read more to find out why!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/03/language-learning-is-more-like-karate-than-math#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">12 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2011/03/language-learning-is-more-like-karate-than-math" title="Wyświetla dalszą część wpisu Language learning is more like karate than math.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F03%2Flanguage-learning-is-more-like-karate-than-math&amp;linkname=Language%20learning%20is%20more%20like%20karate%20than%20math" id="da2a_7"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-48">
<h2 class="node-title"><a href="/blog/2011/02/immersion-tips-how-to-meet-natives" title="Immersion tips: How to meet natives">Immersion tips: How to meet natives</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">22</strong> <strong class="month">lut</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_78 first"><a href="/tags/benny-lewis" rel="tag" title="">Benny Lewis</a></li>
<li class="taxonomy_term_52"><a href="/tags/immersion" rel="tag" title="">immersion</a></li>
<li class="taxonomy_term_88"><a href="/tags/language-exchange" rel="tag" title="">language exchange</a></li>
<li class="taxonomy_term_29 last active"><a class="active" href="/category/language-learning" rel="tag" title="">language learning</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/01/dive.jpg" rel="lightbox"><img alt="Woman diving underwater" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/01/dive.jpg" title="Dive into the culture!  Photo by Elena Lagaria"/></a><div class="caption">Dive into the culture!  <a href="http://www.flickr.com/photos/29393867@N07/4647221496">Photo</a> by <a href="http://www.flickr.com/photos/29393867@N07/">Elena Lagaria</a></div></div>
<p>We've all heard stories about someone going to a foreign country for a year and coming back able to speak the language "fluently." (I don't like that word, read <a href="http://www.linguatrek.com/blog/2010/11/lets-stop-saying-fluent-fluently-and-fluency-too">this article</a> to find out why.)</p>
<p>But immersion in a foreign country doesn't mean you'll <em>automatically</em> learn the language!</p>
<p>I've heard many more complaints from people living abroad who, despite being surrounded by the language everyday, don't seem to learn it.  One problem is that they end up speaking their native language most of the time, rather than meeting new people and engaging them in real conversation in the language they are learning.</p>
<p><strong>So, how can you meet new people in a foreign country and get the most out of your immersion experience?  Read more for tips!</strong></p><p>
</p> </div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/02/immersion-tips-how-to-meet-natives#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">5 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2011/02/immersion-tips-how-to-meet-natives" title="Wyświetla dalszą część wpisu Immersion tips: How to meet natives.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F02%2Fimmersion-tips-how-to-meet-natives&amp;linkname=Immersion%20tips%3A%20How%20to%20meet%20natives" id="da2a_8"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-49">
<h2 class="node-title"><a href="/blog/2011/02/vlog-polityka-w-stanach-zjednoczonych" title="Vlog: Polityka w Stanach Zjednoczonych">Vlog: Polityka w Stanach Zjednoczonych</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">19</strong> <strong class="month">lut</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_29 first active"><a class="active" href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_4 last"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Dzisiaj mówię na temat amerykańskiego systemu partyjnego i ciekawych dziejów politycznych w moim stanie Wisconsin.</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/SGKg9jnEIxw?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/SGKg9jnEIxw?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Czytaj transkrypcję poniżej!</p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/02/vlog-polityka-w-stanach-zjednoczonych#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">10 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2011/02/vlog-polityka-w-stanach-zjednoczonych" title="Wyświetla dalszą część wpisu Vlog: Polityka w Stanach Zjednoczonych.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F02%2Fvlog-polityka-w-stanach-zjednoczonych&amp;linkname=Vlog%3A%20Polityka%20w%20Stanach%20Zjednoczonych" id="da2a_9"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-44">
<h2 class="node-title"><a href="/blog/2011/02/what-to-do-when-you-dont-know-a-word" title="What to do when you don't know a word">What to do when you don't know a word</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">8</strong> <strong class="month">lut</strong> <strong class="year">2011</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Czytaj ten tekst z BiblioBirdem!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_29 first active"><a class="active" href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_76 last"><a href="/tags/speaking-strategies" rel="tag" title="">speaking strategies</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 146px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/02/panicbutton2.jpg" rel="lightbox"><img alt="Panic button" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/02/panicbutton2.jpg" title="Is it time to panic?  Photo by Mikel Manitius."/></a><div class="caption">Is it time to panic?  <a href="http://www.flickr.com/photos/69675357@N00/361935363">Photo</a> by <a href="http://www.flickr.com/photos/trancemist/">Mikel Manitius</a>.</div></div>
<p>As I've <a href="http://www.linguatrek.com/blog/2010/12/vocabulary-the-biggest-challenge-in-language-learning">written previously</a>, learning vocabulary is the biggest challenge in language learning: there are almost an infinite number of words to learn!</p>
<p>Inevitably, you will be in a situation where you need to use a word that you don't know.</p>
<p><em>What should you do?</em>  Panic?  ;-)</p>
<p>The short answer: circumlocution.  The long answer: <strong>read the rest of this post</strong>!</p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/02/what-to-do-when-you-dont-know-a-word#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">21 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2011/02/what-to-do-when-you-dont-know-a-word" title="Wyświetla dalszą część wpisu What to do when you don't know a word.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F02%2Fwhat-to-do-when-you-dont-know-a-word&amp;linkname=What%20to%20do%20when%20you%20don%27t%20know%20a%20word" id="da2a_10"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="item-list"><ul class="pager"><li class="pager-first first"><a class="active" href="/category/language-learning" title="Przejdź do pierwszej strony">« pierwsza</a></li>
<li class="pager-previous"><a class="active" href="/category/language-learning-page-3" title="Przejdź do poprzedniej strony">‹ poprzednia</a></li>
<li class="pager-item"><a class="active" href="/category/language-learning" title="Przejdź do strony 1">1</a></li>
<li class="pager-item"><a class="active" href="/category/language-learning-page-1" title="Przejdź do strony 2">2</a></li>
<li class="pager-item"><a class="active" href="/category/language-learning-page-2" title="Przejdź do strony 3">3</a></li>
<li class="pager-item"><a class="active" href="/category/language-learning-page-3" title="Przejdź do strony 4">4</a></li>
<li class="pager-current">5</li>
<li class="pager-item"><a class="active" href="/category/language-learning-page-5" title="Przejdź do strony 6">6</a></li>
<li class="pager-next"><a class="active" href="/category/language-learning-page-5" title="Przejdź do następnej strony">następna ›</a></li>
<li class="pager-last last"><a class="active" href="/category/language-learning-page-5" title="Przejdź do ostatniej strony">ostatnia »</a></li>
</ul></div>
