---
permalink: /category/language-learning-page-5/
layout: base-old
title: 'language learning'
language: pl
translation: /category/language-learning/
---
<div class="node node-story clear-block" id="node-45">
<h2 class="node-title"><a href="/blog/2011/02/vlog-nie-trzeba-mie%C4%87-talentu-%C5%BCeby-nauczy%C4%87-si%C4%99-j%C4%99zyka" title="Vlog: Nie trzeba mieć talentu, żeby nauczyć się języka">Vlog: Nie trzeba mieć talentu, żeby nauczyć się języka</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">4</strong> <strong class="month">lut</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_29 first active"><a class="active" href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_4 last"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Wielu ludzi myśli, że musisz mieć talent żeby nauczyć się języka.  Ale to nie prawda!  Ktokolwiek może się uczyć jakiegokolwiek języka.  Z mojego osobistego doświadczenia, tylko potrzebne są trzy składniki: czas, motywacja i efektywna metoda.</p>
<p>Obejrzyj ten filmik żeby dowiedzieć się więcej!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/5iJeSR5xvSk?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/5iJeSR5xvSk?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Czytaj transkrypcję poniżej!</p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/02/vlog-nie-trzeba-mie%C4%87-talentu-%C5%BCeby-nauczy%C4%87-si%C4%99-j%C4%99zyka#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">16 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2011/02/vlog-nie-trzeba-mie%C4%87-talentu-%C5%BCeby-nauczy%C4%87-si%C4%99-j%C4%99zyka" title="Wyświetla dalszą część wpisu Vlog: Nie trzeba mieć talentu, żeby nauczyć się języka.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F02%2Fvlog-nie-trzeba-mie%25C4%2587-talentu-%25C5%25BCeby-nauczy%25C4%2587-si%25C4%2599-j%25C4%2599zyka&amp;linkname=Vlog%3A%20Nie%20trzeba%20mie%C4%87%20talentu%2C%20%C5%BCeby%20nauczy%C4%87%20si%C4%99%20j%C4%99zyka" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-39">
<h2 class="node-title"><a href="/blog/2011/01/the-speed-of-language-learning" title="The speed of language learning">The speed of language learning</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">18</strong> <strong class="month">sty</strong> <strong class="year">2011</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Czytaj ten tekst z BiblioBirdem!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_29 first active"><a class="active" href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_80 last"><a href="/tags/speed" rel="tag" title="">speed</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/01/logisticallanguagelearning.png" rel="lightbox"><img alt="A graph showing the curve of language learning" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/01/logisticallanguagelearning.png" title='Language learning follows a "logistic curve".  Click to see the image bigger!'/></a><div class="caption">Language learning follows a <a href="http://en.wikipedia.org/wiki/Logistic_curve">"logistic curve"</a>.  Click to see the image bigger!</div></div>
<p>How long does it take to learn a language?  Well, it depends on how much time you spend learning and the effectiveness of your method.</p>
<p>But in my experience, I've noticed a pattern.  Learning a language always follows the same pace over time: it starts out slowly, then moves very quickly and, finally, returns back to slowly again.</p>
<p><strong>Read more for the details!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/01/the-speed-of-language-learning#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">10 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2011/01/the-speed-of-language-learning" title="Wyświetla dalszą część wpisu The speed of language learning.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F01%2Fthe-speed-of-language-learning&amp;linkname=The%20speed%20of%20language%20learning" id="da2a_2"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-38">
<h2 class="node-title"><a href="/blog/2011/01/how-to-pick-your-first-book-to-read-in-a-foreign-language" title="How to pick your first book to read in a foreign language">How to pick your first book to read in a foreign language</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">11</strong> <strong class="month">sty</strong> <strong class="year">2011</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Czytaj ten tekst z BiblioBirdem!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_45 first"><a href="/tags/books" rel="tag" title="">books</a></li>
<li class="taxonomy_term_87"><a href="/tags/finding-content" rel="tag" title="">finding content</a></li>
<li class="taxonomy_term_29 last active"><a class="active" href="/category/language-learning" rel="tag" title="">language learning</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Reading and listening to books in a foreign language is a great way to learn the language.  <a href="http://www.linguatrek.com/blog/2010/12/harry-potter-the-book-that-taught-me-polish">I learned Polish</a> largely through reading and listening to Harry Potter.</p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/01/readingbookstore.jpg" rel="lightbox"><img alt="People reading in a bookstore" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/01/readingbookstore.jpg" title="Photo by Mark Probst"/></a><div class="caption"><a href="http://www.flickr.com/photos/28311604@N00/14508908/">Photo</a> by <a href="http://www.flickr.com/photos/schani/">Mark Probst</a></div></div>
<p>It helps your brain learn to think in the language.  Reading and listening to hundreds of hours of correct sentences will give you a sense of what "sounds right".  You will be able to form correct sentences of your own <em>by feel</em>, not just <a href="http://www.linguatrek.com/blog/2010/11/dont-start-learning-polish-grammar#mental_math">grammar mathematics</a>.</p>
<p>So, you'd like to give it a try.  But what book should you choose?</p>
<p><strong>Read more for advice on how to pick what to read in a foreign language.</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/01/how-to-pick-your-first-book-to-read-in-a-foreign-language#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">8 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2011/01/how-to-pick-your-first-book-to-read-in-a-foreign-language" title="Wyświetla dalszą część wpisu How to pick your first book to read in a foreign language.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F01%2Fhow-to-pick-your-first-book-to-read-in-a-foreign-language&amp;linkname=How%20to%20pick%20your%20first%20book%20to%20read%20in%20a%20foreign%20language" id="da2a_3"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-36">
<h2 class="node-title"><a href="/blog/2011/01/what-is-spaced-repetition" title="What is spaced repetition?">What is spaced repetition?</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">4</strong> <strong class="month">sty</strong> <strong class="year">2011</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Czytaj ten tekst z BiblioBirdem!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_29 first active"><a class="active" href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_36 last"><a href="/tags/method" rel="tag" title="">method</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 154px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/01/ankiscreenshot.png" rel="lightbox"><img alt="Screenshot from Anki" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/01/ankiscreenshot.png" title="Anki, a computer program implementing spaced repetition"/></a><div class="caption"><a href="http://www.ankisrs.net/">Anki</a>, a computer program implementing spaced repetition</div></div>
<p>Spaced repetition is a learning technique, that helps you <em>learn and retain many facts over a long period of time</em>.</p>
<p>Unless you have a photographic memory, you likely won't remember a fact you've seen just once.  At least not for long!  You will need to review that fact in order to keep it in your mind.  But which facts should you review?  And how often?</p>
<p><strong>Read more to find out how spaced repetition answers these questions!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/01/what-is-spaced-repetition#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">10 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2011/01/what-is-spaced-repetition" title="Wyświetla dalszą część wpisu What is spaced repetition?.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F01%2Fwhat-is-spaced-repetition&amp;linkname=What%20is%20spaced%20repetition%3F" id="da2a_4"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-33">
<h2 class="node-title"><a href="/blog/2010/12/vocabulary-the-biggest-challenge-in-language-learning" title="Vocabulary: The Biggest Challenge in Language Learning">Vocabulary: The Biggest Challenge in Language Learning</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">21</strong> <strong class="month">gru</strong> <strong class="year">2010</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Czytaj ten tekst z BiblioBirdem!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_29 first active"><a class="active" href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_43 last"><a href="/tags/vocabulary" rel="tag" title="">vocabulary</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/12/dictionary.jpg" rel="lightbox"><img alt="A dictionary" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/12/dictionary.jpg" title="Photo by Greeblie on Flickr"/></a><div class="caption"><a href="http://www.flickr.com/photos/29598412@N00/3338710223/">Photo</a> by <a href="http://www.flickr.com/photos/greeblie/">Greeblie</a> on Flickr</div></div>
<p>All facets of language learning are important, including: reading, listening, speaking, grammar, pronunciation, etc.  <strong>But vocabulary is the most important.</strong>  Perfect grammar can't help you understand or speak if you don't know the words.  On the other hand, if you get the grammar wrong but use the right words, you will probably still be understood.</p>
<p><strong>Vocabulary is also the biggest challenge.</strong>  There are only so many grammar rules.  You will be reviewing those same rules over and over again, slowly strengthening your understanding of them the entire time you are learning a language.  <strong>But the amount of vocabulary in a language is essentially <i>infinite</i></strong> -- new words are coined every year.</p>
<p><strong>Read more for advice on how to surmount this challenge!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2010/12/vocabulary-the-biggest-challenge-in-language-learning#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">11 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2010/12/vocabulary-the-biggest-challenge-in-language-learning" title="Wyświetla dalszą część wpisu Vocabulary: The Biggest Challenge in Language Learning.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2010%2F12%2Fvocabulary-the-biggest-challenge-in-language-learning&amp;linkname=Vocabulary%3A%20The%20Biggest%20Challenge%20in%20Language%20Learning" id="da2a_5"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-29">
<h2 class="node-title"><a href="/blog/2010/12/you-dont-need-to-speak-like-a-native-speaker" title="You don't need to speak like a native speaker">You don't need to speak like a native speaker</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">7</strong> <strong class="month">gru</strong> <strong class="year">2010</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_29 first last active"><a class="active" href="/category/language-learning" rel="tag" title="">language learning</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/12/natives_0.jpg" rel="lightbox"><img alt="A group of native Frechmen in patriotic colors" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/12/natives_0.jpg" title="You don't need to be just like the natives!  Photo by Rob Stradling."/></a><div class="caption">You don't need to be just like the natives!  <a href="http://www.flickr.com/photos/74196805@N00/1509247415">Photo</a> by <a href="http://www.flickr.com/photos/brainless-angel/">Rob Stradling</a>.</div></div>
<p>In my article <a href="http://www.linguatrek.com/blog/2010/11/lets-stop-saying-fluent-fluently-and-fluency-too"><em>Let's stop saying "fluent!"</em></a>, I discussed the popular belief that being "fluent" means speaking just like a native speaker.  Some people are obsessed with trying to speak like native speakers while others in the language learning community (like Cody of <a href="http://www.youtube.com/user/Codylangaugesblog">Codylanguagesblog</a>) don't even think it's possible.</p>
<p>I don't want to say that it's <em>impossible</em>.  Why should it be?  If someone was motivated enough and worked really hard, I don't see why they <em>couldn't</em> reach that level.  But, personally, I don't care about speaking like a native speaker.</p>
<p>Read more to find out why!</p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2010/12/you-dont-need-to-speak-like-a-native-speaker#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">6 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2010/12/you-dont-need-to-speak-like-a-native-speaker" title="Wyświetla dalszą część wpisu You don't need to speak like a native speaker.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2010%2F12%2Fyou-dont-need-to-speak-like-a-native-speaker&amp;linkname=You%20don%27t%20need%20to%20speak%20like%20a%20native%20speaker" id="da2a_6"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-16">
<h2 class="node-title"><a href="/blog/2010/11/lets-stop-saying-fluent-fluently-and-fluency-too" title="Let's stop saying &quot;fluent&quot;! (&quot;fluently&quot; and &quot;fluency&quot; too)">Let's stop saying "fluent"! ("fluently" and "fluency" too)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">16</strong> <strong class="month">lis</strong> <strong class="year">2010</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_29 first last active"><a class="active" href="/category/language-learning" rel="tag" title="">language learning</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/11/no_fluent.png" rel="lightbox"><img alt="No Fluent!" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/11/no_fluent.png" title='Just say No to "Fluent"!'/></a><div class="caption">Just say No to "Fluent"!</div></div>
<p>The word "fluent" is used to sell products, as well as, feed or crush egos.  Since everyone has their own definition of the word, it's very hard (if not impossible) to have useful conversations about it, because we will be talking about different things.  So, let's stop just stop using the word fluent!</p>
<p><strong>Read more to learn about the discussion and see the alternative words I propose.</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2010/11/lets-stop-saying-fluent-fluently-and-fluency-too#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">11 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2010/11/lets-stop-saying-fluent-fluently-and-fluency-too" title="Wyświetla dalszą część wpisu Let's stop saying &quot;fluent&quot;! (&quot;fluently&quot; and &quot;fluency&quot; too).">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2010%2F11%2Flets-stop-saying-fluent-fluently-and-fluency-too&amp;linkname=Let%27s%20stop%20saying%20%22fluent%22%21%20%28%22fluently%22%20and%20%22fluency%22%20too%29" id="da2a_7"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="item-list"><ul class="pager"><li class="pager-first first"><a class="active" href="/category/language-learning" title="Przejdź do pierwszej strony">« pierwsza</a></li>
<li class="pager-previous"><a class="active" href="/category/language-learning-page-4" title="Przejdź do poprzedniej strony">‹ poprzednia</a></li>
<li class="pager-item"><a class="active" href="/category/language-learning" title="Przejdź do strony 1">1</a></li>
<li class="pager-item"><a class="active" href="/category/language-learning-page-1" title="Przejdź do strony 2">2</a></li>
<li class="pager-item"><a class="active" href="/category/language-learning-page-2" title="Przejdź do strony 3">3</a></li>
<li class="pager-item"><a class="active" href="/category/language-learning-page-3" title="Przejdź do strony 4">4</a></li>
<li class="pager-item"><a class="active" href="/category/language-learning-page-4" title="Przejdź do strony 5">5</a></li>
<li class="pager-current last">6</li>
</ul></div>
