---
permalink: /category/linguatrek-page-1/
layout: base-old
title: 'LinguaTrek'
language: pl
translation: /category/linguatrek/
---
<div class="taxonomy-term-description">A meta-tag - when we are talking about LinguaTrek itself.</div><div class="node node-story clear-block" id="node-70">
<h2 class="node-title"><a href="/blog/2011/05/zag%C5%82osuj-na-linguatrek-100-najlepszych-blog%C3%B3w-na-temat-nauki-j%C4%99zyk%C3%B3w" title="Zagłosuj na LinguaTrek: 100 najlepszych blogów na temat nauki języków ">Zagłosuj na LinguaTrek: 100 najlepszych blogów na temat nauki języków </a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">19</strong> <strong class="month">maj</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_34 first active"><a class="active" href="/category/linguatrek" rel="tag" title="A meta-tag - when we are talking about LinguaTrek itself.">LinguaTrek</a></li>
<li class="taxonomy_term_74"><a href="/tags/top-100-language-lovers" rel="tag" title="">Top 100 Language Lovers</a></li>
<li class="taxonomy_term_4 last"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="pl" data-to-lang="en">
<p>W skrócie: Ten blog został nominowany do konkursu "Top 100 Language Lovers 2011" - tzn 100 najlepszych blogów na temat nauki języków. Proszę <a href="http://www.lexiophiles.com/language-lovers-toplist/time-to-vote-for-your-favorite-language-learning-blog-2011">zagłosuj</a>!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/BbgjZKZSjLI?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/BbgjZKZSjLI?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p><strong>Czytaj transkrypcję poniżej!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/05/zag%C5%82osuj-na-linguatrek-100-najlepszych-blog%C3%B3w-na-temat-nauki-j%C4%99zyk%C3%B3w#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">9 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2011/05/zag%C5%82osuj-na-linguatrek-100-najlepszych-blog%C3%B3w-na-temat-nauki-j%C4%99zyk%C3%B3w" title="Wyświetla dalszą część wpisu Zagłosuj na LinguaTrek: 100 najlepszych blogów na temat nauki języków .">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F05%2Fzag%25C5%2582osuj-na-linguatrek-100-najlepszych-blog%25C3%25B3w-na-temat-nauki-j%25C4%2599zyk%25C3%25B3w&amp;linkname=Zag%C5%82osuj%20na%20LinguaTrek%3A%20100%20najlepszych%20blog%C3%B3w%20na%20temat%20nauki%20j%C4%99zyk%C3%B3w%20" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
<div class="item-list"><ul class="pager"><li class="pager-first first"><a class="active" href="/category/linguatrek" title="Przejdź do pierwszej strony">« pierwsza</a></li>
<li class="pager-previous"><a class="active" href="/category/linguatrek" title="Przejdź do poprzedniej strony">‹ poprzednia</a></li>
<li class="pager-item"><a class="active" href="/category/linguatrek" title="Przejdź do strony 1">1</a></li>
<li class="pager-current last">2</li>
</ul></div>
