---
permalink: /category/linguatrek/
layout: base-old
title: 'LinguaTrek'
language: pl
translation: 
---
<div class="taxonomy-term-description">A meta-tag - when we are talking about LinguaTrek itself.</div><div class="node node-story clear-block" id="node-234">
<h2 class="node-title"><a href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety" title="Wielkie zmiany do blogu! (wyniki ankiety)">Wielkie zmiany do blogu! (wyniki ankiety)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">22</strong> <strong class="month">sty</strong> <strong class="year">2013</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_34 first last active"><a class="active" href="/category/linguatrek" rel="tag" title="A meta-tag - when we are talking about LinguaTrek itself.">LinguaTrek</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="pl" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2013/01/bigchanges.jpg" rel="lightbox"><img alt="Big changes are underway" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2013/01/bigchanges.jpg" title="Zdjęcie autorstwa milena mihaylova"/></a><div class="caption"><a href="http://www.flickr.com/photos/25758374@N00/4061225640">Zdjęcie</a> autorstwa <a href="http://www.flickr.com/photos/minchki/">milena mihaylova</a></div></div>
<p>Dziękuję wszystkim, którzy wypełnili ankietę dotyczącą tego, o czym chcą czytać na moim blogu w roku 2013!</p>
<p>Tydzień temu <a href="http://www.linguatrek.com/blog/2013/01/a-blog-in-crisis-what-should-i-write-about">czułem się trochę przygnębiony</a>, że mniej osób czyta i komentuje.</p>
<p>Ale otrzymałem dużo konstruktywnych krytyk - i pozytywnych i negatywnych. Czasem było trudno je czytać ale potrzebowałem właśnie takich szczerych opinii.</p>
<p><strong>W tym tygodniu jestem bardzo optymistycznie nastawiony i ciszę się, że mogę użyć tego, czego się dowiedziałem, aby uczynić mój blog bardziej przydatnym dla Was!</strong></p>
<p><em>Tak więc dziękuję jeszcze raz. :-)</em></p>
<p>Dzisiaj podzielę się z Wami wynikami ankiety i ogłoszę parę zmian oraz przyszłe plany.</p>
<p>Spędziłem dużo czasu nad analizą Waszych odpowiedzi i odkryłem kilka ciekawych i niespodziewanych rzeczy.</p>
<p><strong>Czytaj więcej, żeby się dowiedzieć!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">54 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety" title="Wyświetla dalszą część wpisu Wielkie zmiany do blogu! (wyniki ankiety).">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2013%2F01%2Fwielkie-zmiany-do-blogu-wyniki-ankiety&amp;linkname=Wielkie%20zmiany%20do%20blogu%21%20%28wyniki%20ankiety%29" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-230">
<h2 class="node-title"><a href="/blog/2013/01/kryzys-na-blogu-o-czym-powinienem-pisa%C4%87" title="Kryzys na blogu! O czym powinienem pisać?!">Kryzys na blogu! O czym powinienem pisać?!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">15</strong> <strong class="month">sty</strong> <strong class="year">2013</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_34 first last active"><a class="active" href="/category/linguatrek" rel="tag" title="A meta-tag - when we are talking about LinguaTrek itself.">LinguaTrek</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="pl" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2013/01/blogideas_0.jpg" rel="lightbox"><img alt="Blog ideas" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2013/01/blogideas_0.jpg" title="Zdjęcia autorstwa owenwbrown"/></a><div class="caption"><a href="http://www.flickr.com/photos/owenwbrown/4857508633/">Zdjęcia</a> autorstwa <a href="http://www.flickr.com/photos/owenwbrown/">owenwbrown</a></div></div>
<p><em>Na początku dziękuję za czytanie mojego blogu. Naprawdę to doceniam. :-)</em></p>
<p>Co tydzień publikuję artykuł z poradami dotyczącymi nauki języka obcego. Mam nadzieję, że te artykuły są pomocne w Twojej przygodzie z językiem.</p>
<p>Ostatnio zauważyłem, że mniej osób czyta i komentuje. Tak naprawdę, nie jest to "kryzys" - to po prostu był fajnie brzmiący tytuł. ;-) Ale chciałbym to zmienić zanim stanie się prawdziwym kryzysem.</p>
<p>Nie bloguję tylko dla samego siebie (jednak przy tym świetnie się bawię). Piszę te artykuły dla CIEBIE! Jeśli nie pomagają Ci robić postępów w nauce języka - <em>ten blog nie jest udany.</em></p>
<p>Powiedz mi jak sprawiać, żeby moje artykuły były dla Ciebie pożyteczniejsze!</p>
<p><strong>Proszę wypełnij <a href="http://www.linguatrek.com/node/231">tę ankietę</a> i daj mi znać:</strong></p>
<ol>
<li>Czego chcesz więcej?</li>
<li>Czego chcesz mniej?</li>
<li>Jaki jest Twój największy problem z językiem, którego obecnie się uczysz?</li>
</ol>
<p>Użyję wyników, żeby zdecydować, na którym będę się skupiał w 2013 roku! Myślę, że będzie fantastyczny rok. :-)</p>
<p><em>Dziękuję z góry za Twoją pomoc!</em></p> </div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2013/01/kryzys-na-blogu-o-czym-powinienem-pisa%C4%87#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">12 odpowiedzi</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2013%2F01%2Fkryzys-na-blogu-o-czym-powinienem-pisa%25C4%2587&amp;linkname=Kryzys%20na%20blogu%21%20O%20czym%20powinienem%20pisa%C4%87%3F%21" id="da2a_2"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-203">
<h2 class="node-title"><a href="/blog/2012/09/w-wiadomo%C5%9Bciach-recenzja-mojego-ebooku-wywiad-najtrudniejsze-j%C4%99zyki-i-polyglotlinkcom" title="W wiadomościach: recenzja mojego ebooku, wywiad, najtrudniejsze języki i PolyglotLink.com!">W wiadomościach: recenzja mojego ebooku, wywiad, najtrudniejsze języki i PolyglotLink.com!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">4</strong> <strong class="month">wrz</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_89 first"><a href="/tags/in-the-news" rel="tag" title="">in the news</a></li>
<li class="taxonomy_term_34 last active"><a class="active" href="/category/linguatrek" rel="tag" title="A meta-tag - when we are talking about LinguaTrek itself.">LinguaTrek</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="pl" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/09/newsdesk.jpg" rel="lightbox"><img alt="" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/09/newsdesk.jpg" title="Zdjęcie autorstwa penelopejonze"/></a><div class="caption"><a href="http://www.flickr.com/photos/55754281@N00/4230788532">Zdjęcie</a> autorstwa <a href="http://www.flickr.com/photos/penelopejonze/">penelopejonze</a></div></div>
<p>Zwykle piszę artykuły z poradami o nauce języków albo z informacjami o amerykańskim i polskim kulturze. Dzisiaj będzie trochę inaczej.</p>
<p>Przez ostatnie dwa tygodnie, LinguaTrek (mój blog) i Bibliobird (moja aplikacja webowa do nauki języków) zostały wspomniane kilka razy w internecie.</p>
<p><strong><em>Oto krótki przegląd!</em></strong></p>
<h2>Recenzja mojego darmowego ebooku!</h2>
<p>J. Snider, autor wyśmienitego bloga <a href="http://polyglottally.com/">Polyglotally.com</a>, właśnie napisał recenzję <a href="http://www.linguatrek.com/blog/2012/04/vlog-naturalna-nauka-j%C4%99zyka-bez-nauczyciela">"Naturalnej nauki języka bez nauczyciel"a</a>, w której <a href="http://polyglottally.com/blog/extreme-language-learning/natural-language-learning-without-teacher">piszę</a> (przetłumaczone z angielskiego):</p>
<blockquote>
<p>Ta książka jest tej samej wysokiej jakości jak inne e-produkty (np. The Language Hacking Guide i Everyday Language Learner) ale w dużo lepszej cenie. Znakomita zawartość za darmo!</p>
</blockquote>
<p>Jeśli masz wolną chwilę, gorąco polecam jego blog! Jest tam dużo interesujących informacji o nauce języków i nie tylko!</p>
<h2>Wywiad z PolakPotrafi.pl</h2>
<p><a href="http://polakpotrafi.pl/project/Bibliobird">Projekt crowdfundingowy</a>, który prowadziliśmy na stronie <a href="http://polakpotrafi.pl/">PolakPotrafi.pl</a> (podobna do KickStarter.com), żeby przedsprzedać nasz <a href="http://www.linguatrek.com/blog/2012/06/temat-naszego-p%C5%82atnego-produktu-przedsprzeda%C5%BC-zacznie-si%C4%99-za-par%C4%99-dni">pierwszy płatny produkt</a> dla <a href="http://pl.bibliobird.com">Bibliobirda</a> był <em>"jednym z najbardziej spektakularnych sukcesów polskiego crowdfundingu!"</em></p>
<p>Wczoraj był <a href="http://blog.polakpotrafi.pl/post/30803902667/ponad-200-wsparcia-dla-bibliobird-david-snopek">wywiad ze mną na blogu PolakPotrafi.pl</a>, w którym opisuję szczegóły projektu i rozmawiam o tym, dlaczego moim zdaniem odnieśliśmy taki sukces.</p>
<p><strong>Czytaj dalej, żeby dowiedzieć się o ostatnich dwóch rzeczach!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/09/w-wiadomo%C5%9Bciach-recenzja-mojego-ebooku-wywiad-najtrudniejsze-j%C4%99zyki-i-polyglotlinkcom#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">13 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2012/09/w-wiadomo%C5%9Bciach-recenzja-mojego-ebooku-wywiad-najtrudniejsze-j%C4%99zyki-i-polyglotlinkcom" title="Wyświetla dalszą część wpisu W wiadomościach: recenzja mojego ebooku, wywiad, najtrudniejsze języki i PolyglotLink.com!.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F09%2Fw-wiadomo%25C5%259Bciach-recenzja-mojego-ebooku-wywiad-najtrudniejsze-j%25C4%2599zyki-i-polyglotlinkcom&amp;linkname=W%20wiadomo%C5%9Bciach%3A%20recenzja%20mojego%20ebooku%2C%20wywiad%2C%20najtrudniejsze%20j%C4%99zyki%20i%20PolyglotLink.com%21" id="da2a_3"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-184">
<h2 class="node-title"><a href="/blog/2012/07/czy-dostajesz-za-du%C5%BCo-maili-ode-mnie-s%C4%85-nowe-opcje-dla-subskrybent%C3%B3w" title="Czy dostajesz za dużo maili ode mnie? Są nowe opcje dla subskrybentów!">Czy dostajesz za dużo maili ode mnie? Są nowe opcje dla subskrybentów!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">5</strong> <strong class="month">lip</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_34 first last active"><a class="active" href="/category/linguatrek" rel="tag" title="A meta-tag - when we are talking about LinguaTrek itself.">LinguaTrek</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="pl" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 152px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/07/angrymail.jpg" rel="lightbox"><img alt="" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/07/angrymail.jpg" title="Zdjęcie autorstwa D. Sharon Pruitt"/></a><div class="caption"><a href="http://www.flickr.com/photos/pinksherbet/2927494753/">Zdjęcie</a> autorstwa <a href="http://www.flickr.com/photos/pinksherbet/">D. Sharon Pruitt</a></div></div>
<p>Niedawno doszło do mojej uwagi, że wiele osób uważa, że ​​wysyłam za dużo e-maili do subskrybentów tego bloga. Do tej pory mail był wysyłany do każdego artykułu w dniu jego publikacji.</p>
<p>To stało się szczególnie widoczne podczas <a href="http://www.linguatrek.com/blog/2012/06/kup-nasz-produkt-%C5%BCeby-pom%C3%B3c-nam-go-stworzy%C4%87-nasze-marzenie-jest-coraz-bli%C5%BCsze">przedsprzedaży</a> ponieważ wiele osób jest zainteresowanych tylko poradami na temat nauki języka i informacjami kulturowymi - nie Bilbiobirdem, przedsprzedażą lub innymi "osobistymi" artykułami.</p>
<p><em>(Przy okazji przedsprzedaż idzie świetnie! Nie pisałem nic o tym ostatnio ponieważ musiałem najpierw rozwiązać ten problem. Napiszę nowy artykuł za kilka dni kiedy ludzie mieli szansę na zaktualizowanie swoich opcji subskrypcji.)</em></p>
<p>Więc, dodaję nowe opcje subskrypcji, które pozwolą Ci na:</p>
<ul>
<li><strong>Otrzymanie maili do artykułów, które dotyczą tylko nauki języka i informacji kulturowych.</strong></li>
<li><strong>Otrzymanie tylko tygodniowego podsumowania artykułów - zamiast dostawania emaila do każdego nowego artykułu, który piszę.</strong> Z reguły piszę 1-2 artykułów tygodniowo.</li>
</ul>
<p>Jeśli jesteś subskrybentem tego bloga i chciałbyś zmienić swoje opcje, <a href="http://www.linguatrek.com/options">kliknij tutaj i wpisz swój adres emailowy</a>.</p>
<p><strong>Nie chcę wysyłać spamu!</strong> Jeśli jesteś subskrybentem i nie jesteś już zainteresowany moim blogiem, możesz użyć <a href="http://linguatrek.us2.list-manage.com/unsubscribe?u=6b5f39a01108c2e0115b129fb&amp;id=490d27bd0c">tego linka</a> do rezygnacji z subskrypcji. Jeśli masz jakikolwiek problem, możesz odpowiedzieć na jakikolwiek email, który Tobie wysłałem lub wypełnić <a href="http://www.linguatrek.com/contact">formularz kontaktowy</a> i pomogę Tobie.</p>
<p><strong>Dzięki i przepraszam za niedogodności!</strong></p> </div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/07/czy-dostajesz-za-du%C5%BCo-maili-ode-mnie-s%C4%85-nowe-opcje-dla-subskrybent%C3%B3w#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">11 odpowiedzi</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F07%2Fczy-dostajesz-za-du%25C5%25BCo-maili-ode-mnie-s%25C4%2585-nowe-opcje-dla-subskrybent%25C3%25B3w&amp;linkname=Czy%20dostajesz%20za%20du%C5%BCo%20maili%20ode%20mnie%3F%20S%C4%85%20nowe%20opcje%20dla%20subskrybent%C3%B3w%21" id="da2a_4"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-163">
<h2 class="node-title"><a href="/blog/2012/05/linguatrek-zaj%C4%85%C5%82-7-miejsce-w%C5%9Br%C3%B3d-najlepszych-blog%C3%B3w-o-nauce-j%C4%99zyk%C3%B3w-2012" title="LinguaTrek zajął 7 miejsce wśród najlepszych blogów o nauce języków 2012!">LinguaTrek zajął 7 miejsce wśród najlepszych blogów o nauce języków 2012!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">31</strong> <strong class="month">maj</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_34 first active"><a class="active" href="/category/linguatrek" rel="tag" title="A meta-tag - when we are talking about LinguaTrek itself.">LinguaTrek</a></li>
<li class="taxonomy_term_74 last"><a href="/tags/top-100-language-lovers" rel="tag" title="">Top 100 Language Lovers</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="pl" data-to-lang="en">
<a alt="Top 25 Language Learning Blogs 2012" href="http://bab.la/news/top-25-language-learning-blogs-2012" target="_blank"><img align="right" alt="Top 10 Language Learning Blogs 2012" border="0" height="60" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/image/2012/05/top10-learn-blog12.gif" style="margin: 5px" width="160"/></a>
<p>Od pięciu lat <a href="http://www.lexiophiles.com/">Lexiophiles</a> i <a href="http://bab.la/">bab.la</a> organizują coroczny konkurs wyróżniający blogi o nauce języków obcych. W zeszłym roku LinguaTrek uczestniczył w konkursie pierwszym razem i <strong>udało nam się dostać najwięcej głosów (dzięki Wykopowi!) i zająć <a href="http://www.linguatrek.com/blog/2011/06/linguatrek-got-12th-place-among-the-top-language-learner-blogs-of-2011">12 miejsce</a>!</strong></p>
<p>W tym roku było <em>935</em> nominowanych blogów, stron na Facebooku i kont na Twitterze - w nim 200 blogów w tej samej kategorii co LinguaTrek. <strong>Tym razem nie dostaliśmy tak dużo głosów jak ostatnim razem ale LinguaTrek nadal zajął <a href="http://en.bab.la/news/top-25-language-learning-blogs-2012">7 miejsce</a> w swojej kategorii i <a href="http://en.bab.la/news/top-100-language-lovers-2012">50 miejsce</a> w ogóle!</strong></p>
<p>Wiele fantastycznych blogów, które osobiście uwielbiam, uczestniczyło w konkursie! Gratuluję Wszystkim! Po prostu tak bardzo się cieszę, że LinguaTrek mógłby być wśród nich. :-)</p>
<p><strong>Dziękuję Wszystkim za <a href="http://www.linguatrek.com/blog/2012/05/zag%C5%82osuj-za-linguatrek-w-konkursie-top-100-language-lovers">głosowanie i wsparcie</a>!</strong></p> </div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/05/linguatrek-zaj%C4%85%C5%82-7-miejsce-w%C5%9Br%C3%B3d-najlepszych-blog%C3%B3w-o-nauce-j%C4%99zyk%C3%B3w-2012#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">21 odpowiedzi</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F05%2Flinguatrek-zaj%25C4%2585%25C5%2582-7-miejsce-w%25C5%259Br%25C3%25B3d-najlepszych-blog%25C3%25B3w-o-nauce-j%25C4%2599zyk%25C3%25B3w-2012&amp;linkname=LinguaTrek%20zaj%C4%85%C5%82%207%20miejsce%20w%C5%9Br%C3%B3d%20najlepszych%20blog%C3%B3w%20o%20nauce%20j%C4%99zyk%C3%B3w%202012%21" id="da2a_5"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-154">
<h2 class="node-title"><a href="/blog/2012/05/zag%C5%82osuj-za-linguatrek-w-konkursie-top-100-language-lovers" title="Zagłosuj za LinguaTrek w konkursie Top 100 Language Lovers!">Zagłosuj za LinguaTrek w konkursie Top 100 Language Lovers!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">16</strong> <strong class="month">maj</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_75 first"><a href="/tags/contest" rel="tag" title="">contest</a></li>
<li class="taxonomy_term_34 active"><a class="active" href="/category/linguatrek" rel="tag" title="A meta-tag - when we are talking about LinguaTrek itself.">LinguaTrek</a></li>
<li class="taxonomy_term_74 last"><a href="/tags/top-100-language-lovers" rel="tag" title="">Top 100 Language Lovers</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="pl" data-to-lang="en">
<div style="float: right; margin-left: 10px;"><a href="http://www.lexiophiles.com/language-lovers-toplist/vote-for-your-favorite-language-learning-blog-2012" target="_blank" title="Vote for your favorite Language Learning Blog 2012"><img alt="Vote the Top 100 Language Learning Blogs 2012" border="0" height="60" src="http://www.lexiophiles.com/wp-content/uploads/2012/05/top100-vote-for-this-blog-2.gif" width="160"/></a></div>
<p>Rozpoczyna się głosowanie w corocznym konkursie <strong>Top 100 Language Lovers</strong> i mój blog, LinguaTrek, znowu został nominowany w kategorii <strong>Top 100 Language Learning Blogs</strong> (czyli: <em>100 najlepszych blogów o nauce języków obcych</em>).</p>
<p><strong>W zeszłym roku dzięki <em>"efektowi Wykopu"</em> LinguaTrek dostał NAJWIĘCEJ głosów ze wszystkich blogów!</strong></p>
<p>Ale ogólna ocena tylko w 50% składa się z ilości głosów - druga połowa to zadanie organizatorzy konkursu. Rok temu LinguaTrek nadal był dość młody, więc to całkiem zrozumiałe, że tylko <a href="http://www.linguatrek.com/blog/2011/06/linguatrek-got-12th-place-among-language-learner-blogs-2011">zdobył 12 miejsce</a>.</p>
<p><strong>Ale w tym roku właśnie po opublikowaniu mojego DARMOWEGO ebooka (opublikowałem <a href="http://www.linguatrek.com/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC">polskie tłumaczenie</a> tydzień temu) - kto wie co jest możliwe! :-)</strong></p>
<p>Czy mogę liczyć na Twoją pomoc? :-) Wystarczy tylko kilka sekund. Już tłumaczę co trzeba zrobić:</p> </div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/05/zag%C5%82osuj-za-linguatrek-w-konkursie-top-100-language-lovers#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">27 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2012/05/zag%C5%82osuj-za-linguatrek-w-konkursie-top-100-language-lovers" title="Wyświetla dalszą część wpisu Zagłosuj za LinguaTrek w konkursie Top 100 Language Lovers!.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F05%2Fzag%25C5%2582osuj-za-linguatrek-w-konkursie-top-100-language-lovers&amp;linkname=Zag%C5%82osuj%20za%20LinguaTrek%20w%20konkursie%20Top%20100%20Language%20Lovers%21" id="da2a_6"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-123">
<h2 class="node-title"><a href="/blog/2012/02/thank-you-for-subscribing" title="Thank you for subscribing!">Thank you for subscribing!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">20</strong> <strong class="month">lut</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_34 first last active"><a class="active" href="/category/linguatrek" rel="tag" title="A meta-tag - when we are talking about LinguaTrek itself.">LinguaTrek</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p><strong>This is just a short note to thank everyone for subscribing to LinguaTrek!</strong></p>
<p>Since last week Tuesday, when <a href="http://www.linguatrek.com/blog/2012/02/subscribe-and-get-a-gift">I first offered</a> language consultations in exchange for subscribing - <strong>almost 200 new people have subscribed!</strong>  All thirty consultations have been claimed and I've already had a chance to do about half of them.</p>
<p>Some people had specific questions, one person wanted to hear a native speaker read a specific text and others just wanted to practice speaking with a native speaker of English - in some cases, for the first time!</p>
<p>I'm very glad that I'm able to help in your language learning journey. But also - for me - it's been <em>pretty amazing</em> to finally talk with the people who have been reading my blog and watching my videos! It's added a whole new human element to the conversations that we've had here.</p>
<p><strong>Thank you so much for subscribing and talking with me!</strong></p>
<p>(<em>And I look forward to doing the rest of the consultations later this week.</em>)</p> </div>
<ul class="links inline"><li class="comment_add first"><a href="/comment/reply/123#comment-form" title="Pozwala dodać nową odpowiedź do tej strony.">Odpowiedz</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F02%2Fthank-you-for-subscribing&amp;linkname=Thank%20you%20for%20subscribing%21" id="da2a_7"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-119">
<h2 class="node-title"><a href="/blog/2012/02/vlog-zasubskrybuj-m%C3%B3j-blog-i-dosta%C5%84-prezent" title="Vlog: Zasubskrybuj mój blog i dostań prezent!">Vlog: Zasubskrybuj mój blog i dostań prezent!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">15</strong> <strong class="month">lut</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_34 first active"><a class="active" href="/category/linguatrek" rel="tag" title="A meta-tag - when we are talking about LinguaTrek itself.">LinguaTrek</a></li>
<li class="taxonomy_term_4 last"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="pl" data-to-lang="en">
<p>Przepraszam wszystkich, którzy już przeczytali wczorajszy artykuł na ten sam temat!  Ten filmik jest najbardziej skierowany do moich widzów na YouTubie.  Większość z nich nie czytają mojego blogu i chciałbym zachęcić ich do dołączenia się z nami tutaj. :-)</p>
<p>Jeśli ten jest dla Ciebie nowy, zachęcam Ciebie do szybkiego działania! Tylko pierwszych 30 osób dostanie prezent!</p>
<p><object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/N94UW66w7b0?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/N94UW66w7b0?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object></p>
<p><strong>Czytaj transkrypcję poniżej!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/02/vlog-zasubskrybuj-m%C3%B3j-blog-i-dosta%C5%84-prezent#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">12 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2012/02/vlog-zasubskrybuj-m%C3%B3j-blog-i-dosta%C5%84-prezent" title="Wyświetla dalszą część wpisu Vlog: Zasubskrybuj mój blog i dostań prezent!.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F02%2Fvlog-zasubskrybuj-m%25C3%25B3j-blog-i-dosta%25C5%2584-prezent&amp;linkname=Vlog%3A%20Zasubskrybuj%20m%C3%B3j%20blog%20i%20dosta%C5%84%20prezent%21" id="da2a_8"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-75">
<h2 class="node-title"><a href="/blog/2011/06/dzi%C4%99kuj%C4%99-wszystkim-za-poparcie-w-konkursie" title="Dziękuję wszystkim za poparcie w konkursie!">Dziękuję wszystkim za poparcie w konkursie!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">3</strong> <strong class="month">cze</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_34 first last active"><a class="active" href="/category/linguatrek" rel="tag" title="A meta-tag - when we are talking about LinguaTrek itself.">LinguaTrek</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Wśród 200 blogów w swojej kategorii LinguaTrek zajął <a href="http://en.bab.la/news/top-25-language-learning-blogs-2011">12 miejsce</a> i wśród wszystkich 400 w konkursie <a href="http://en.bab.la/news/top-100-language-lovers-2011">23 miejsce</a>!  <strong>To wszystko jest <a href="http://www.linguatrek.com/blog/2011/05/zag%C5%82osuj-na-linguatrek-100-najlepszych-blog%C3%B3w-na-temat-nauki-j%C4%99zyk%C3%B3w">dzięki</a> <a href="http://www.wykop.pl/ramka/749007/wykop-efekt-dla-blogu-davida-snopka/">Wam</a>. :-)</strong> Jeszcze raz dziękuję bardzo za głosowanie i poparcie!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/67URVsB3XRc?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/67URVsB3XRc?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p><strong>Czytaj transkrypcję poniżej!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/06/dzi%C4%99kuj%C4%99-wszystkim-za-poparcie-w-konkursie#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">5 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2011/06/dzi%C4%99kuj%C4%99-wszystkim-za-poparcie-w-konkursie" title="Wyświetla dalszą część wpisu Dziękuję wszystkim za poparcie w konkursie!.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F06%2Fdzi%25C4%2599kuj%25C4%2599-wszystkim-za-poparcie-w-konkursie&amp;linkname=Dzi%C4%99kuj%C4%99%20wszystkim%20za%20poparcie%20w%20konkursie%21" id="da2a_9"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-73">
<h2 class="node-title"><a href="/blog/2011/06/linguatrek-got-12th-place-among-the-top-language-learner-blogs-of-2011" title="LinguaTrek got 12th place among the top Language Learner Blogs of 2011!">LinguaTrek got 12th place among the top Language Learner Blogs of 2011!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">2</strong> <strong class="month">cze</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_34 first active"><a class="active" href="/category/linguatrek" rel="tag" title="A meta-tag - when we are talking about LinguaTrek itself.">LinguaTrek</a></li>
<li class="taxonomy_term_74 last"><a href="/tags/top-100-language-lovers" rel="tag" title="">Top 100 Language Lovers</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<a alt="Top 25 Language Learning Blogs 2011" href="http://bab.la/news/top-25-language-learning-blogs-2011" target="_blank"><img align="right" alt="Top 25 Language Learning Blogs 2011" border="0" height="60" src="http://bab.la/img/partner/top25-learn-blog11.gif" style="margin: 5px" width="160"/></a>
<p>Every year <a href="http://www.lexiophiles.com/">Lexiophiles</a> and <a href="http://bab.la/">bab.la</a> organize a contest recognizing language blogs.  This year, LinguaTrek was <a href="http://www.linguatrek.com/blog/2011/05/vote-for-linguatrek-top-100-language-blogs">in the competition</a>!</p>
<p>There were 200 blogs in LinguaTrek's category (<a href="http://www.lexiophiles.com/language-lovers-toplist/time-to-vote-for-your-favorite-language-learning-blog-2011">language learner blogs</a>) and 400 in total.  <strong>In it's category LanguaTrek got <a href="http://en.bab.la/news/top-25-language-learning-blogs-2011">12th place</a> and <a href="http://en.bab.la/news/top-100-language-lovers-2011">23rd place</a> overall!</strong></p>
<p>I'm so absolutely thrilled that LinguaTrek did so well!  I can't believe my blog is up there with so many fantastic blogs that I admire.</p>
<p>Half of the score comes from votes from readers and the other half is the organizers' rating.  After I recorded a <a href="http://www.linguatrek.com/blog/2011/05/zag%C5%82osuj-na-linguatrek-100-najlepszych-blog%C3%B3w-na-temat-nauki-j%C4%99zyk%C3%B3w">video about it</a> and the users of Wykop <a href="http://www.wykop.pl/ramka/749007/wykop-efekt-dla-blogu-davida-snopka/">got involved</a>, <strong>LinguaTrek had the most votes</strong> for the rest of contest!</p>
<p><strong>Thank you everyone for voting and your support!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/06/linguatrek-got-12th-place-among-the-top-language-learner-blogs-of-2011#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">12 odpowiedzi</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F06%2Flinguatrek-got-12th-place-among-the-top-language-learner-blogs-of-2011&amp;linkname=LinguaTrek%20got%2012th%20place%20among%20the%20top%20Language%20Learner%20Blogs%20of%202011%21" id="da2a_10"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="item-list"><ul class="pager"><li class="pager-current first">1</li>
<li class="pager-item"><a class="active" href="/category/linguatrek-page-1" title="Przejdź do strony 2">2</a></li>
<li class="pager-next"><a class="active" href="/category/linguatrek-page-1" title="Przejdź do następnej strony">następna ›</a></li>
<li class="pager-last last"><a class="active" href="/category/linguatrek-page-1" title="Przejdź do ostatniej strony">ostatnia »</a></li>
</ul></div>
