---
permalink: /category/personal/
layout: base-old
title: 'personal'
language: en
translation: 
---
<div class="node node-story clear-block" id="node-261">
<h2 class="node-title"><a href="/blog/2014/03/vlog-wakacje-w-meksyku-en" title="Vlog: Vacation in Mexico (Polish)">Vlog: Vacation in Mexico (Polish)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">4</strong> <strong class="month">Mar</strong> <strong class="year">2014</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_31 first last active"><a class="active" href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<p>In January we were on a short vacation in Mexico! Here are the videos we recorded there. :-) We were at a market, sitting on the beach, Carrie (my wife) learned how to surf and we walked on Isla Mujeres. Check it out!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/oUjSqdMO9gk?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/oUjSqdMO9gk?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Sorry, this time I didn't have time to write a transcript. :-/ But at least I finally uploaded the video. ;-)</p>
<p><strong>If someone is willing to write a transcript or <a href="http://www.amara.org/en/videos/I6ix0jHPbj3B/info/wakacje-w-meksyku/">add subtitles</a> for Polish learners - let me know in the comments!</strong></p> </div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2014/03/vlog-wakacje-w-meksyku-en#comments" title="Jump to the first comment of this posting.">8 comments</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2014%2F03%2Fvlog-wakacje-w-meksyku-en&amp;linkname=Vlog%3A%20Vacation%20in%20Mexico%20%28Polish%29" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-252">
<h2 class="node-title"><a href="/blog/2013/09/im-returning-to-my-blog-and-i-gave-an-interview" title="I'm returning to my blog! (and I gave an interview)">I'm returning to my blog! (and I gave an interview)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">24</strong> <strong class="month">Sep</strong> <strong class="year">2013</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_31 first last active"><a class="active" href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2013/09/deck.jpg" rel="lightbox"><img alt="Behind our new apartment" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2013/09/deck.jpg" title="Behind our new apartment!"/></a><div class="caption">Behind our new apartment!</div></div>
<p>Hi Everyone!</p>
<p>I hope you had an excellent summer. :-) My wife and I certainly did! Since <a href="http://www.linguatrek.com/blog/2013/04/im-going-on-a-short-vacation-from-blogging-personal-note">my last article</a>, we've moved to a new apartment and went on vacation in California.</p>
<p>I just wanted to let you know that I'm slowly returning to my blog! I've already recorded material for two new videos about the USA and I've got an idea for an article and video about language learning. Hopefully, I'll finish them soon!</p>
<p>Also, last week Thursday (2013-09-19) I gave an interview on EnglishWithKatie.com! Katie is an American, living in Japan, who blogs about learning English. We talked about many things:</p>
<ul>
<li>Language learning</li>
<li>Traveling the world</li>
<li>Discrimination in the USA</li>
<li>How Americans feel connected to their roots</li>
<li>Personal development</li>
</ul>
<p><a href="http://englishwithkatie.com/live-wkatie-adler-call-in-internet-show-replays-2/">Listen to the full interview!</a> (search for "David Snopek" on that page)</p>
<p>I hope you like it!</p>
<p>Best regards, <br/>
David Snopek.</p>
<p><em>PS: I recorded a <a href="http://www.linguatrek.com/node/253">video in Polish</a> about this too!</em></p> </div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2013/09/im-returning-to-my-blog-and-i-gave-an-interview#comments" title="Jump to the first comment of this posting.">20 comments</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2013%2F09%2Fim-returning-to-my-blog-and-i-gave-an-interview&amp;linkname=I%27m%20returning%20to%20my%20blog%21%20%28and%20I%20gave%20an%20interview%29" id="da2a_2"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-250">
<h2 class="node-title"><a href="/blog/2013/04/im-going-on-a-short-vacation-from-blogging-personal-note" title="I'm going on a short &quot;vacation&quot; from blogging (personal note)">I'm going on a short "vacation" from blogging (personal note)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">9</strong> <strong class="month">Apr</strong> <strong class="year">2013</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_31 first last active"><a class="active" href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<p>Hello Everyone!</p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2013/04/me-paddys.jpg" rel="lightbox"><img alt="It's me!" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2013/04/me-paddys.jpg" title=""/></a></div>
<p>Normally I write articles with advice about language learning or information about Polish and American culture. Today's article is going to be a much more personal!</p>
<p>As of right now there are <strong>224 articles</strong> and almost <strong>4000 comments</strong> on this blog.</p>
<p>I'm <em>extremely</em> proud of my blog and I love the community that exists around it. I've met TONS of interesting people here and developed a few close friendships.</p>
<p>You guys have helped me with many things over the years: corrected my Polish, sent me encouraging emails, translated my ebook into Polish, <a href="http://www.linguatrek.com/blog/2012/11/listen-to-my-free-ebook-about-language-learning-in-polish">recorded an audio version of my ebook</a> and much more.</p>
<p><strong>Thank you so much for reading, commenting and helping! I'm extremely grateful. :-)</strong></p>
<p><em>(BTW, Tobiasz Karoń, who recorded my audiobook is releasing a new audiobook soon! Check out <a href="https://www.youtube.com/watch?v=in7Xpm45L-w">this video</a> to learn more about it.)</em></p>
<p><strong>However, it's also a lot of work!</strong></p>
<p>Of course, there is the time to actually write the articles, record videos and respond to comments. But I also receive about <a href="http://www.linguatrek.com/blog/2012/03/email-problem-i-need-your-help">50 emails a day</a> connected with this blog, mostly from people asking for advice specific to their situation.</p>
<p>Due to some changes in my life recently, I've had trouble finding time. So, I've decided to go on a short "vacation" from blogging.</p>
<p><strong>Read more to find out why and what this means!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2013/04/im-going-on-a-short-vacation-from-blogging-personal-note#comments" title="Jump to the first comment of this posting.">19 comments</a></li>
<li class="node_read_more"><a href="/blog/2013/04/im-going-on-a-short-vacation-from-blogging-personal-note" title="Read the rest of I'm going on a short &quot;vacation&quot; from blogging (personal note).">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2013%2F04%2Fim-going-on-a-short-vacation-from-blogging-personal-note&amp;linkname=I%27m%20going%20on%20a%20short%20%22vacation%22%20from%20blogging%20%28personal%20note%29" id="da2a_3"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-208">
<h2 class="node-title"><a href="/blog/2012/10/real-life-in-the-usa-our-product-for-learning-english-has-launched" title="Real Life in the USA (our product for learning English has launched!)">Real Life in the USA (our product for learning English has launched!)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">1</strong> <strong class="month">Oct</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_9 first"><a href="/tags/bibliobird" rel="tag" title="">BiblioBird</a></li>
<li class="taxonomy_term_31 last active"><a class="active" href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<p><strong>After eight weeks of <em>really</em> intense work, we've finally launched <a href="https://pl.bibliobird.com/real-life-in-the-usa-wersja-dla-zmotywowanych-ucz%C4%85cych-si%C4%99?coupon=RLUSASTART">"Real Life in the USA"</a> - a paid package of texts for Bibliobird, designed to help Poles learn English while simultaneously learning about the USA.</strong></p>
<p><em>(Normally, I write articles with language learning advice or information about American and Polish culture. Don't worry, we'll return to that next week!)</em></p>
<div class="diag align-right" style="float: right; width: 120px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/10/rlusacover_0.png" rel="lightbox"><img alt="Cover of Real Life in the USA" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/10/rlusacover_0.png" title="Original photo by Amanda Nicole Betley"/></a><div class="caption">Original <a href="http://www.flickr.com/photos/74277213@N03/6835040374">photo</a> by <a href="http://www.flickr.com/photos/amotherslens/">Amanda Nicole Betley</a></div></div>
<p>While everyone in the world is familiar with American movies and TV shows, <strong>these representations aren't 100% accurate!</strong> However, this is unfortunately how most foreigners form their impressions of the USA, Americans and our culture.</p>
<p>"Real Life in the USA" contains informative articles, fictional stories, interviews and natural conversations with native speakers, covering many topics from everyday life, including: work, education, crime, finding an apartment and many others (read more for the full table of contents!) - <strong>all through the eyes of real Americans!</strong></p>
<p>These texts are in English, all include audio (some of it taken from authentic conversations!) and are prepared to be read using Bibliobird, a web application based on the method I used to learn Polish!</p>
<p><strong>Read more for the details and information about getting a discount!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/10/real-life-in-the-usa-our-product-for-learning-english-has-launched#comments" title="Jump to the first comment of this posting.">14 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/10/real-life-in-the-usa-our-product-for-learning-english-has-launched" title="Read the rest of Real Life in the USA (our product for learning English has launched!).">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F10%2Freal-life-in-the-usa-our-product-for-learning-english-has-launched&amp;linkname=Real%20Life%20in%20the%20USA%20%28our%20product%20for%20learning%20English%20has%20launched%21%29" id="da2a_4"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-191">
<h2 class="node-title"><a href="/blog/2012/07/vlog-shaving-off-my-beard" title="Vlog: Shaving off my beard!">Vlog: Shaving off my beard!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">21</strong> <strong class="month">Jul</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_9 first"><a href="/tags/bibliobird" rel="tag" title="">BiblioBird</a></li>
<li class="taxonomy_term_84"><a href="/tags/polakpotrafipl" rel="tag" title="">PolakPotrafi.pl</a></li>
<li class="taxonomy_term_4"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
<li class="taxonomy_term_31 last active"><a class="active" href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<p>Like <a href="http://www.linguatrek.com/blog/2012/07/thank-you-if-we-get-200-ill-shave-off-my-beard">I said</a>: if we reached 200% of our goal <a href="http://polakpotrafi.pl/project/Bibliobird">on PolakPotrafi.pl</a>, I'd shave off my beard. And I did it!</p>
<p><strong>Thank you everyone for your support!</strong></p>
<p>I started a <a href="http://en.bibliobird.com/wiki/Thank_you_for_your_support">page on Bibliobird</a> with the official "thank yous" but unfortunately, more than half of the supporters still haven't responded to <a href="http://www.linguatrek.com/blog/2012/07/bibliobird-presale-is-a-success-216-whats-next">Karolina's e-mail!</a> You need to respond in order to get your "thank you", postcard or badge on your profile.</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/dpa5iQS1mdk?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/dpa5iQS1mdk?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>This video was a lot of fun to record! The very beginning and ending are in Polish but the rest is in English because this is the language that my wife and I usually interact in.</p>
<p><strong>Please let me know what you think of me without my beard in the comments!</strong></p> </div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/07/vlog-shaving-off-my-beard#comments" title="Jump to the first comment of this posting.">4 comments</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F07%2Fvlog-shaving-off-my-beard&amp;linkname=Vlog%3A%20Shaving%20off%20my%20beard%21" id="da2a_5"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-189">
<h2 class="node-title"><a href="/blog/2012/07/bibliobird-presale-is-a-success-216-whats-next" title="Bibliobird presale is a success! 216%! What's next?">Bibliobird presale is a success! 216%! What's next?</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">17</strong> <strong class="month">Jul</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_9 first"><a href="/tags/bibliobird" rel="tag" title="">BiblioBird</a></li>
<li class="taxonomy_term_84"><a href="/tags/polakpotrafipl" rel="tag" title="">PolakPotrafi.pl</a></li>
<li class="taxonomy_term_31 last active"><a class="active" href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/07/polakpotrafiend_0.png" rel="lightbox"><img alt="" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/07/polakpotrafiend_0.png" title=""/></a></div>
<p><em>Wow. I can't believe this is actually happening!</em></p>
<p>A year and a half ago <a href="http://www.linguatrek.com/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego">we launched</a> <a href="http://www.bibliobird.com">Bibliobird</a>, a free and Open Source web application for language learning based on the method that I used to learn Polish.</p>
<p>Since then it has become successful enough that it takes up all of our free time to maintain it.  It's clear that this idea has a lot of promise: many Poles have used it to make breakthroughs with their English!</p>
<p>We realized, however, that if it's going to ever reach it's full potential, we needed to devote more time and resources to it. Except we were already out of those things! Which is why we decided to create and sell some paid texts for Bibliobird to support our work on the project.</p>
<p><em>If we are successful, we'll be able to achieve <a href="http://www.linguatrek.com/blog/2012/03/why-i-almost-shut-down-linguatrek-and-bibliobird-and-our-big-dream">our dream</a> of working full-time to help people learn languages!</em></p>
<p>Three weeks ago, we launched our <a href="http://polakpotrafi.pl/projekt/Bibliobird/">crowdfunding campaign on PolakPotrafi.pl</a> to <a href="http://www.linguatrek.com/blog/2012/06/my-next-big-project-after-the-ebook">presell</a> the <a href="http://www.linguatrek.com/blog/2012/06/finally-our-full-product-idea-i-need-your-help-with-the-price">first package of paid texts</a> and to build a group of enthusiastic <em>founding members</em> to help us build and test it as well as all of our future products.</p>
<p><strong>The crowdfunding project was an unbelievable success!</strong></p>
<p>We reached our first goal of 10,000 PLN (about $2900) in only two days!  As of last night when the project closed, we reached <strong>21,585 PLN</strong> (about $6340), <strong>216%</strong> of the original goal (which means I'll be <a href="http://www.linguatrek.com/blog/2012/07/thank-you-if-we-get-200-ill-shave-off-my-beard">shaving off my beard</a>!) with <strong>210 supporters.</strong></p>
<p><strong>Thanks so much for all your support! I never could have imagined that it would go so well.</strong></p>
<p>Today I'm going to tell you what is going to happen next, including: when I'm going to shave my beard, when you'll receive your postcards, when we think the first product will be ready, etc...</p>
<p><strong>Read more to find out!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/07/bibliobird-presale-is-a-success-216-whats-next#comments" title="Jump to the first comment of this posting.">6 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/07/bibliobird-presale-is-a-success-216-whats-next" title="Read the rest of Bibliobird presale is a success! 216%! What's next?.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F07%2Fbibliobird-presale-is-a-success-216-whats-next&amp;linkname=Bibliobird%20presale%20is%20a%20success%21%20216%25%21%20What%27s%20next%3F" id="da2a_6"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-185">
<h2 class="node-title"><a href="/blog/2012/07/thank-you-if-we-get-200-ill-shave-off-my-beard" title="Thank you! If we get 200% - I'll shave off my beard. :-)">Thank you! If we get 200% - I'll shave off my beard. :-)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">9</strong> <strong class="month">Jul</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_9 first"><a href="/tags/bibliobird" rel="tag" title="">BiblioBird</a></li>
<li class="taxonomy_term_84"><a href="/tags/polakpotrafipl" rel="tag" title="">PolakPotrafi.pl</a></li>
<li class="taxonomy_term_31 last active"><a class="active" href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<p>Two weeks ago, <a href="http://www.linguatrek.com/blog/2012/06/buy-our-product-to-help-us-create-it-our-dream-is-sooo-close">we began</a> the presale of our first paid product on PolakPotrafi.pl. We were able to acheive our original goal of 10.000 PLN (about $2900) in <strong><em>only two days!</em></strong></p>
<p>Because crowdfunding is not very well known or trusted in Poland - this means we actually broke the record for crowdfunding in Poland. For the time being, we are the fasted project funded to 100%. <em>(Hopefully, some other awesome project will beat us in not too long!)</em></p>
<p><strong>There's one more week left in our project and (as <a href="http://www.linguatrek.com/blog/2012/06/presale-at-94-more-opportunities-to-become-a-founding-member">I said</a> a bit ago) I'm adding a new goal</strong>: If we reach 200% or 20.000 PLN (about $5800) by 2012-07-16, I'll shave off my beard. We already have 154%!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/RjYt2xmDjX4?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/RjYt2xmDjX4?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p><strong>The video is in Polish but there are English subtitles (click the "CC" on the bottom right).</strong> <em>I recommend it!</em> My wife and I had a lot of fun recording this one.</p>
<p><strong>Here is our <a href="http://polakpotrafi.pl/projekt/Bibliobird/">project page on PolakPotrafi.pl</a>.</strong> If you want to contribute, but don't speak Polish - check out <a href="http://www.youtube.com/watch?v=-XFEND9dHDg">this video</a>.</p>
<p>Here are the links I mention in the film about the record we broke (in Polish):</p>
<ul>
<li><a href="http://blog.polakpotrafi.pl/post/26131802776/rekordowy-projekt-jezyk-angielski-z-prawdziwego">Rekordowy projekt - "Język angielski z prawdziwego życia"</a>
</li><li><a href="http://crowdfunding.pl/2012/06/29/polacy-na-zagranicznym-portalu-i-obcokrajowcy-na-polskim-portalu/#.T_rKpqScgxU">Polacy na zagranicznym portalu i obcokrajowcy na polskim portalu</a></li>
</ul>
<p><strong>Read more for the transcript!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/07/thank-you-if-we-get-200-ill-shave-off-my-beard#comments" title="Jump to the first comment of this posting.">2 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/07/thank-you-if-we-get-200-ill-shave-off-my-beard" title="Read the rest of Thank you! If we get 200% - I'll shave off my beard. :-).">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F07%2Fthank-you-if-we-get-200-ill-shave-off-my-beard&amp;linkname=Thank%20you%21%20If%20we%20get%20200%25%20-%20I%27ll%20shave%20off%20my%20beard.%20%3A-%29" id="da2a_7"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-181">
<h2 class="node-title"><a href="/blog/2012/06/presale-at-94-more-opportunities-to-become-a-founding-member" title="Presale at 94%! More opportunities to become a founding member!">Presale at 94%! More opportunities to become a founding member!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">28</strong> <strong class="month">Jun</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_9 first"><a href="/tags/bibliobird" rel="tag" title="">BiblioBird</a></li>
<li class="taxonomy_term_84"><a href="/tags/polakpotrafipl" rel="tag" title="">PolakPotrafi.pl</a></li>
<li class="taxonomy_term_85"><a href="/tags/presale" rel="tag" title="">presale</a></li>
<li class="taxonomy_term_31 last active"><a class="active" href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/nintyfourpercent.png" rel="lightbox"><img alt="Status on PolakPotrafi" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/nintyfourpercent.png" title=""/></a></div>
<p><strong>Thanks everyone for your support! This has been amazing!</strong></p>
<p>In general, I didn't expect the presale on <a href="http://polakpotrafi.pl/project/Bibliobird">PolakPotrafi</a> would go so well. :-) I also didn't think that the option to become a "founding member" would be so popular!</p>
<p>I ran <a href="http://www.linguatrek.com/blog/2012/06/results-of-the-survey-the-winner-is-very-surprising">a survey</a> a couple weeks ago and I came to the conclusion that the package itself, "Real Life in the USA," would be the most popular and would make the most money.</p>
<p><strong>However, it turned out to be the complete opposite!</strong> The first 20 places to become a founder were bought up within 5 hours of the official start. :-) When I added more, those were bought up in less than a day. I know that if I add more new, they will also be bought very quickly. And the extra money would certainly help us start out!</p>
<p>Unfortunately, when I added more places last time, a few people in the first group were unhappy, because it was supposed to be an exclusive group. They were first so they got the best deal. In a sense it's unfair that the later people got the same deal. <strong><em>I understand that perfectly.</em></strong></p>
<p>So, when I again add more opporutunities, the people in the first and second groups must get something special. Like I said <a href="http://www.linguatrek.com/blog/2012/06/buy-our-product-to-help-us-create-it-our-dream-is-sooo-close#comment-2584">a few</a> <a href="http://www.linguatrek.com/blog/2012/06/buy-our-product-to-help-us-create-it-our-dream-is-sooo-close#comment-2603">times</a> in the comments and in <a href="http://polakpotrafi.pl/projekt/Bibliobird/aktualnosc/79">an update</a> on PolakPotrafi, I seriously cosidered making the price higher for the new people. But after lots of thinking, I decided that maybe that wasn't the best idea.</p>
<p>I don't want to create bad relations in the future between the people in the first two groups and the people in last. Afterall, the people in the third group would pay more (and in a way support the project more), so why should they have a lower status among the founding members? That would also be unfair.</p>
<p><strong>Of course, there must be some limit! We need to have someone to sell the product to in the future. If everyone had lifetime access to everything, we'd have a problem! ;-)</strong></p>
<p>After the presale we aren't ever going to sell founding memberships again - it wouldn't make sense. We'll have to concentrate on creating and selling the products themselves.</p>
<p>However, I think that even 100 founding members would be OK. Looking at the data, if I don't add any new places, will get to 10.000 PLN ($2900) in a week and in the end only a little higher. But if I add some more opportunities to become a founding member, we have a chance to even get twice that! That's why this decision was so hard but also important.</p>
<p>So, I decided on this solution...</p>
<p><strong>Read more to find out what it is! Or visit <a href="http://polakpotrafi.pl/project/Bibliobird">our page</a> on PolakPotrafi to become a founding member!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/06/presale-at-94-more-opportunities-to-become-a-founding-member#comments" title="Jump to the first comment of this posting.">5 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/06/presale-at-94-more-opportunities-to-become-a-founding-member" title="Read the rest of Presale at 94%! More opportunities to become a founding member!.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F06%2Fpresale-at-94-more-opportunities-to-become-a-founding-member&amp;linkname=Presale%20at%2094%25%21%20More%20opportunities%20to%20become%20a%20founding%20member%21" id="da2a_8"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-179">
<h2 class="node-title"><a href="/blog/2012/06/buy-our-product-to-help-us-create-it-our-dream-is-sooo-close" title="Buy our product to help us create it! (our dream is sooo close!)">Buy our product to help us create it! (our dream is sooo close!)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">26</strong> <strong class="month">Jun</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_9 first"><a href="/tags/bibliobird" rel="tag" title="">BiblioBird</a></li>
<li class="taxonomy_term_84"><a href="/tags/polakpotrafipl" rel="tag" title="">PolakPotrafi.pl</a></li>
<li class="taxonomy_term_31 last active"><a class="active" href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/polakpotrafi.png" rel="lightbox"><img alt="Screenshot of PolakPotrafi" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/polakpotrafi.png" title=""/></a></div>
<p>I can't believe our presale is finally happening! Back in January, <a href="http://www.linguatrek.com/blog/2012/03/why-i-almost-shut-down-linguatrek-and-bibliobird-and-our-big-dream">I decided</a> that I was going to try to turn my hobby of helping people learn languages into my job. And I had to give up a lot to do it.</p>
<p>We have until 2012-07-16 in order to raise enough money to create the product. If we don't, all the money will be refunded and we won't create it.</p>
<p><strong>But if the presale of our first paid product is a success, my wife and I will finally acheive our dream!</strong></p>
<p>We're conducting the presale on a Polish crowdfunding website called <strong>PolakPotrafi.pl</strong> (<a href="http://polakpotrafi.pl/projekt/Bibliobird">click here</a> to see our page there).</p>
<p>I chose this site because it has the best payment options for Poles and allows project descriptions in Polish. This makes sense because the first product is aimed at Polish native speakers learning English and they make up the majority of my readers and fans.</p>
<p><strong>But there are plenty of reasons to get involved in the presale even if you aren't Polish or aren't learning English!</strong></p>
<ul>
<li><strong>For 20 PLN (about $6)</strong> you can  get a postcard from the USA.</li>
<li><strong>For 100 PLN (about $30)</strong> you can get access to an exclusive webinar and Q&amp;A session that I'll do about learning a language on your own. I'll do it twice: once in English and once in Polish.</li>
<li><strong>For 200 PLN (about $60)</strong> you can become a "founding member" of Bibliobird and <strong><em>receive every paid product we ever make in the future!</em></strong> This will include products for learning other languages and for different learner groups. Something for English speakers learning Polish is almost a certainty. ;-) <strong>This is limited to 20 people, so if you're interested, buy right away!</strong> <em>(Update: this sold out almost immediately but I decided to increase the limit by 20 - I won't increase it again so buy quickly if you want to be a "founding member"!)</em></li>
<li>Or maybe you thought my free ebook was useful and just want to give something to thank me!</li>
</ul>
<p><a href="http://polakpotrafi.pl/projekt/Bibliobird">Click here</a> (in Polish!) to learn more or to help us either financially or by spreading the word! Thanks so much!</p>
<p><strong>If you don't speak Polish, click the "Read more" link to see a video I made to show you how to contribute.</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/06/buy-our-product-to-help-us-create-it-our-dream-is-sooo-close#comments" title="Jump to the first comment of this posting.">18 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/06/buy-our-product-to-help-us-create-it-our-dream-is-sooo-close" title="Read the rest of Buy our product to help us create it! (our dream is sooo close!).">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F06%2Fbuy-our-product-to-help-us-create-it-our-dream-is-sooo-close&amp;linkname=Buy%20our%20product%20to%20help%20us%20create%20it%21%20%28our%20dream%20is%20sooo%20close%21%29" id="da2a_9"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-177">
<h2 class="node-title"><a href="/blog/2012/06/the-topic-of-our-paid-product-the-presale-starts-in-a-couple-days" title="The topic of our paid product (the presale starts in a couple days!)">The topic of our paid product (the presale starts in a couple days!)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">22</strong> <strong class="month">Jun</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_9 first"><a href="/tags/bibliobird" rel="tag" title="">BiblioBird</a></li>
<li class="taxonomy_term_84"><a href="/tags/polakpotrafipl" rel="tag" title="">PolakPotrafi.pl</a></li>
<li class="taxonomy_term_31 last active"><a class="active" href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/reallife_1.png" rel="lightbox"><img alt="American flag, Bibliobird logo and text 'Real Life in the USA'" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/reallife_1.png" title=""/></a></div>
<p><a href="http://www.linguatrek.com/blog/2012/06/finally-our-full-product-idea-i-need-your-help-with-the-price">Two weeks ago</a> I told you about our idea for a paid language learning product. There was a survey about the price and format for this product. A few hundred people filled out the form - thanks so much!</p>
<p><a href="http://www.linguatrek.com/blog/2012/06/results-of-the-survey-the-winner-is-very-surprising">Last week</a> I told the results of the survey and asked for ideas for the topic of the product.</p>
<p>Today I'm just going to give you a short note with the topic we decided on and let you know that the presale is going to start on <strong>Monday, June 25th!</strong> The topic is going to be <strong>"Real Life in the USA"</strong>:</p>
<ul>
<li>There will be texts (and films with transcripts!) about many aspects of life in the USA, for example: work, fun and sport, and other daily activities.</li>
<li>There will be normal articles as well as stories and dialogs!</li>
<li>Some of the materials will be taken directly from real conversations with native speakers.</li>
<li>We'll also talk about immigration, stereotypes and music.</li>
</ul>
<p><strong>Everything will be <strong>in English</strong>, with <strong>native speakers</strong> and prepared to be read, watched and listened to <strong>on <a href="http://www.bibliobird.com">Bibliobird</a>!</strong></strong></p>
<p>I will publish more information on Monday!  <em>Thanks in advance for your support!</em></p> </div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/06/the-topic-of-our-paid-product-the-presale-starts-in-a-couple-days#comments" title="Jump to the first comment of this posting.">6 comments</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F06%2Fthe-topic-of-our-paid-product-the-presale-starts-in-a-couple-days&amp;linkname=The%20topic%20of%20our%20paid%20product%20%28the%20presale%20starts%20in%20a%20couple%20days%21%29" id="da2a_10"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="item-list"><ul class="pager"><li class="pager-current first">1</li>
<li class="pager-item"><a class="active" href="/category/personal-page-1" title="Go to page 2">2</a></li>
<li class="pager-item"><a class="active" href="/category/personal-page-2" title="Go to page 3">3</a></li>
<li class="pager-item"><a class="active" href="/category/personal-page-3" title="Go to page 4">4</a></li>
<li class="pager-next"><a class="active" href="/category/personal-page-1" title="Go to next page">next ›</a></li>
<li class="pager-last last"><a class="active" href="/category/personal-page-3" title="Go to last page">last »</a></li>
</ul></div>
