---
permalink: /blog/2013/12/5-blogów-pisanych-przez-amerykanów-mieszkających-w-polsce/
layout: blog-old
title: '5 blogów pisanych przez Amerykanów mieszkających w Polsce'
day: 31
month: gru
year: 2013
category: Poland
tags: [ ]
language: pl
translation: /blog/2013/12/5-blogs-by-americans-living-in-poland/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 120px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2013/12/turkey_in_road.jpg" rel="lightbox"><img alt="Turkey in the road" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2013/12/turkey_in_road.jpg" title="Wczoraj, przed naszym mieszkaniem"/></a><div class="caption">Wczoraj, przed naszym mieszkaniem</div></div>
<p>Kiedy poznaliśmy nowych ludzi w Krakowie, często powiedzieli takie rzeczy, np. <em>"Jesteś pierwszym Amerykanem, którego kiedykolwiek spotkałem," albo nawet, "Jesteś pierwszym native speakerem, którego spotkałem!"</em></p>
<p>Nie zawsze tak odpowiedziałem, ale zawsze myślałem: <em>"Naprawdę? Jest strasznie dużo Amerykanów mieszkających w Polsce!"</em></p>
<p>Kiedy najpierw przyjechaliśmy do Polski było nam trudno poznać Polaków! Zwykle poznajemy nowych znajomych przez starych znajomych. Ale kiedy nie znasz <em>nikogo</em>, jest trudno zacząć.</p>
<p>Nie mieliśmy jednak żadnych trudność w poznaniu innych Amerykanów! Mogłem ich rozpoznać z drugiej strony ulicy i usłyszeć ich akcenty w restauracji albo kawiarni. Tylko musieliśmy powiedzieć, <em>"Hej, co robisz w Polsce?"</em> (po angielsku oczywiście) i mieliśmy nowego znajomego. ;-)</p>
<p>Przypuszczam, że jest przynajmniej setki (jeśli nie tysiące) Amerykanów mieszkających tylko w Krakowie. Kiedy to mówię Polakom, nie wierzą mnie! No, dzisiaj mam trochę dowodu. :-)</p>
<p><strong>Czytaj więcej, żeby dowiedzieć się o 5 blogach pisanych przez Amerykanów mieszkających w Polsce!</strong></p>
<h2>1. <a href="http://kielbasastories.blogspot.com/">Kielbasa stories</a></h2>
<blockquote>
<p><em>"How I moved to Poland and survived"</em></p>
</blockquote>
<p>To mój ulubiony. :-) Jest pisany przez Chris, Amerykanka, kto ma świetne (i czasem dziwne) poczucie humoru. Nawet od czasu do czasu pisze po polsku!</p>
<p>Gorąco polecam jej <a href="http://kielbasastories.blogspot.com/2013/12/autobus-133.html">ostatni artykuł</a>. To śmieszna historia (po polsku), która się zdarzyła na przystanku autobusowym.</p>
<h2>2. <a href="http://roadtopoland.blogspot.com/">The Road to Poland</a></h2>
<p>Olivia, matka trójki dzieci (wkrótce będzie czwórki!), pisze dużo o życiu rodzinnym i trudności w wieloetnicznej, wielojęzycznej rodzinie. Czytanie jej blogu najbardziej przypomina mi o naszym krótkim pobycie w Polsce i niektóre trudności, które doświadczyła Carrie mieszkając za granicą.</p>
<p>Również zobaczcie <a href="http://roadtopoland.blogspot.com/p/moving-comapny.html">komentarze na stronie "About"</a> - są od dodatkowych Amerykanów mieszkających w Polsce!</p>
<h2>3. <a href="http://david-polanddavid.blogspot.com/">Poland - Our Future</a></h2>
<p>David pisze o sprawach codziennych w swoim życiu. Ale najlepsza cecha: pisze każdy artykuł i w języku polskim i w angielskim!</p>
<p>Również użył kursów (które osobiście polecam!) na <a href="http://www.linguatrek.com/blog/2011/05/real-polish-excellent-polish-content-for-learners">Real Polish</a>, blogu o nauce języka polskiego.</p>
<h2>4. <a href="http://neveradulldayinpoland.com/">Never a Dull Day in Poland</a></h2>
<blockquote>
<p><em>"My CRAZY adventures and challenges while living here!"</em></p>
</blockquote>
<p>Jest pisany przez Kelly, Amerykanka, która wyszła za mąż za człowieka, który NIE jest Polakiem. :-)</p>
<p>Współczuję jej doświadczenie w artykule <a href="http://neveradulldayinpoland.com/time-i-dread-the-most/">The time I dread the most</a>, na temat procesu zyskania karta pobytu. Również <a href="http://www.linguatrek.com/blog/2011/07/teaching-english-in-poland">musieliśmy to zrobić dwa razy</a> (większość informacji w komentarzy) - jest to proces frustrujący i czasochłonny.</p>
<h2>5. <a href="http://www.morningkawa.com/">Morning Kawa</a></h2>
<p>Jackie pisze nie tylko o doświadczeniach w Polsce, ale również podróżuje dużo po Europie i robi naprawdę piękne zdjęcia. Gorąco polecam <a href="http://instagram.com/morningkawa/">jej zdjęcia na Instagram</a>.</p>
<h2>PS: Myśli końcowe...</h2>
<p>Rozpoznanie rodaków z daleka to uniwersalna umiejętność! Nasza znajoma, która przeprowadziła z Irlandii do USA, grała w "Spot the spud" z swoją siostrą. Na tym polega gra: jedna z nich zauważa jakiegoś Irlandczyka gdzieś w pobliżu i mówi "spot the spud" i wtedy druga musi również go znaleźć.</p>
<p>Jeśli się martwiliście, w końcu poznaliśmy dość dużo Polaków w Polsce! Zacząłem uczestniczyć w <a href="http://www.linguatrek.com/blog/2011/02/immersion-tips-how-to-meet-natives">wymianach językowych i stowarzyszeniach</a>. Gorąco to polecam komukolwiek mieszkającemu za granicą.</p>
<p>Oh, i jeśli tego nie zauważyliście, Carrie (moja żona) zrobiła to zdjęcie na początku artykułu. To INDYK chodzący na ulicy przed naszym mieszkaniem! Mieszkamy w mieście - to pierwszy raz jak zobaczyłem indyka. :-)</p>
<p>I jeszcze jedna rzecz na końcu: kiedyś mieszkaliśmy w Polsce, również mieliśmy "blog podróży" podobny do tych w tym artykule - <a href="http://snopek.tv/">Snopek.tv</a>. Teraz jest bardzo stary, ale może jest coś ciekawego w nim. :-)</p>
<p><em>Życzę wszystkiego najlepszego w Nowym Roku!</em></p>
<p><strong>Czy znasz jakieś inne blogi pisanych przez ludzi mieszkających w innym kraju? Czy masz jakiekolwiek pytania dla Amerykanów mieszkających w Polsce? Proszę napisać komentarz poniżej!</strong></p>
</div>

<div id="comments">
<a id="comment-5645"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/52ae0a2067e03c022cbfbffdbb30f207?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Super wpis! Jedna uwaga, though. W tytule użyłeś czasownika pisać w aspekcie dokonanym, co by oznaczało, iż owe blogi nie są już aktualizowane (ktoś je raz napisał i już nie pisze). Powinieneś zatem użyć formy niedokonanej, która nie informuje, czy czynność jest zakończona czy też nie. Zatem poprawny tytuł powinien wyglądać następująco: "5 blogów pisanych przez Amerykanów mieszkających w Polsce". Pozdrowienia :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/259/5645">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Rafal (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2013/12/5-blog%C3%B3w-pisanych-przez-amerykan%C3%B3w-mieszkaj%C4%85cych-w-polsce#comment-5645">wtorek, grudzień 31, 2013 - 10:08</a></span>
</div>
</div>
<div class="indented"><a id="comment-5648"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Rafał!</p>
<p>Dzięki za poprawkę. :-) Już zmieniłem to w artykule.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/259/5648">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/12/5-blog%C3%B3w-pisanych-przez-amerykan%C3%B3w-mieszkaj%C4%85cych-w-polsce#comment-5648">wtorek, grudzień 31, 2013 - 11:08</a></span>
</div>
</div>
</div><a id="comment-5646"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/fef0ab3de137330352325fcc5ff5f3d4?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Odrobinę już chyba zapomniałeś polskiego. Widać to najbardziej w Twoich opisach blogów, ale ciągle jest nieźle! Jedna uwaga, powinno być: "wyszła za mąż za człowieka, który...".</p>
<p>Wszystkirgo najleprzego w nowym roku dla Ciebie i Twojej żony! Dużo miłości i rodzinnego ciepła!</p>
<p>Trzymaj się,<br/>
Wojtek</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/259/5646">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojciech (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2013/12/5-blog%C3%B3w-pisanych-przez-amerykan%C3%B3w-mieszkaj%C4%85cych-w-polsce#comment-5646">wtorek, grudzień 31, 2013 - 10:30</a></span>
</div>
</div>
<div class="indented"><a id="comment-5649"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>No, mam tak mało okazji, żeby mówić i pisać po polsku. :-) W każdym razie, dziękuję za poprawkę! Już zmieniłem to w artykule.</p>
<p>Dzięki za życzenia i również życzę szczęścia i sukcesów dla Ciebie i Twojej Rodzinie w Nowym Roku!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/259/5649">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/12/5-blog%C3%B3w-pisanych-przez-amerykan%C3%B3w-mieszkaj%C4%85cych-w-polsce#comment-5649">wtorek, grudzień 31, 2013 - 11:11</a></span>
</div>
</div>
<div class="indented"><a id="comment-5650"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/fef0ab3de137330352325fcc5ff5f3d4?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Dziękuję bardzo! I jeszcze życzę wielu ciekawych artykułów w 2014-tym!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/259/5650">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojciech (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2013/12/5-blog%C3%B3w-pisanych-przez-amerykan%C3%B3w-mieszkaj%C4%85cych-w-polsce#comment-5650">wtorek, grudzień 31, 2013 - 11:37</a></span>
</div>
</div>
</div></div><a id="comment-5647"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/2fca126c671ff15a9949c27263f2a48f?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Nie znam żadnych blogów pisanych przez obcokrajowców, ale chętnie zajrzę na te które podałeś zwłaszcza pisane w dwóch językach :)</p>
<p>Szczęśliwego Nowego Roku :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/259/5647">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Asia (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2013/12/5-blog%C3%B3w-pisanych-przez-amerykan%C3%B3w-mieszkaj%C4%85cych-w-polsce#comment-5647">wtorek, grudzień 31, 2013 - 10:44</a></span>
</div>
</div>
<a id="comment-5652"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/53548ae90e03c5db95524db4143b81e3?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Niestety, nie znam j.angielskiego i pewnie już nie zacznę się uczyć. Ale za to z ciekawością przejrzę te, które Ty wskazałeś. Bo bardzo lubię czytać uwagi obcokrajowców o Polsce. Te dobre, pozytywne i te negatywne, bo przecież takich też nie brakuje zapewne.<br/>
A Tobie i Twojej żonie życzę wszystkiego najlepszego w 2014 roku! Powodzenia.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/259/5652">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Pan Gucio (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2013/12/5-blog%C3%B3w-pisanych-przez-amerykan%C3%B3w-mieszkaj%C4%85cych-w-polsce#comment-5652">wtorek, grudzień 31, 2013 - 14:48</a></span>
</div>
</div>
<a id="comment-5654"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/e3d8d5c1999cb05551a78255fd430c96?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Cześć David :) Bardzo fajny artykuł, z przyjemnością zaznajomię się z treścią proponowanych przez Ciebie blogów. Nie będę się rozpisywał za bardzo. Osobiście chciałem Ci podziękować (zapewne nie tylko w swoim imieniu) za cały pracę, którą wykonałeś (chociaż dla Ciebie była to czysta przyjemność-tym bardziej wielkie dzięki). Chcę życzyć wszystkiego najlepszego w nowym roku dla Ciebie i Twojej rodziny :)</p>
<p>--<br/>
Pozdrawiam<br/>
dawid</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/259/5654">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">aes (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2013/12/5-blog%C3%B3w-pisanych-przez-amerykan%C3%B3w-mieszkaj%C4%85cych-w-polsce#comment-5654">środa, styczeń 1, 2014 - 04:45</a></span>
</div>
</div>
<a id="comment-5794"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/e9255d55fb9150882fd8f2439611287b?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Witam  mnie ciężko zrozumieć wybór nie tylko Amerykanów ale w ogóle ludzi z innych krajów którzy chcą tu mieszkać. Może dlatego że sama bardzo chcę uciec?<br/>
Bardzo dziękuję za te blogi są b ciekawe zabawne :) b przyjemnie się czyta. Chodź z napisaniem po ang miewam problemy ze zrozumieniem raczej nie :).<br/>
Wszystkiego naj spełnienia marzeń w 2014 roku. Dalszych sukcesów zdrowia wszystkiego :). Dla Ciebie Twojej rodziny wszystkich czytających :) nie ważne z jakiej części świata.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/259/5794">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Nika81 (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2013/12/5-blog%C3%B3w-pisanych-przez-amerykan%C3%B3w-mieszkaj%C4%85cych-w-polsce#comment-5794">czwartek, styczeń 2, 2014 - 04:23</a></span>
</div>
</div>
<a id="comment-5920"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.asenglish.pl" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/8e11face8c5d6550fb18955d4ff43ec8?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Dzięki za te linki, ciekawa jestem co tam obcokrajowcy piszą o Polsce, zaraz zerknę. "Kielbasa stories" - intrygujący tytuł :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/259/5920">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.asenglish.pl" rel="nofollow">AS</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2013/12/5-blog%C3%B3w-pisanych-przez-amerykan%C3%B3w-mieszkaj%C4%85cych-w-polsce#comment-5920">sobota, luty 15, 2014 - 06:56</a></span>
</div>
</div>
<a id="comment-5947"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.sprachcaffe.com/polski/study_abroad/language_schools/new_york/main.htm" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d6ac02c8faf5ea09964f3bf1a74ab55f?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Bardzo ciekawy artykuł, z przyjemnością poczytałam blogi obcokrajowców.Fajny jest Morning Kawa:)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/259/5947">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.sprachcaffe.com/polski/study_abroad/language_schools/new_york/main.htm" rel="nofollow">Podróże językowe</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2013/12/5-blog%C3%B3w-pisanych-przez-amerykan%C3%B3w-mieszkaj%C4%85cych-w-polsce#comment-5947">czwartek, luty 27, 2014 - 08:33</a></span>
</div>
</div>
<a id="comment-5950"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/c0788160771c61aeba58eef4b3d2dfd7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Hej, natłok obowiązków czy zwykła przerwa od blogowania? ;)<br/>
Pozdrawiam,</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/259/5950">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Marcin (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2013/12/5-blog%C3%B3w-pisanych-przez-amerykan%C3%B3w-mieszkaj%C4%85cych-w-polsce#comment-5950">sobota, marzec 1, 2014 - 14:30</a></span>
</div>
</div>
<div class="indented"><a id="comment-5961"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Nie przerwa - staram się znaleźć czas na to. W obecnej chwili po prostu mam za dużo pracy. :-/</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/259/5961">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/12/5-blog%C3%B3w-pisanych-przez-amerykan%C3%B3w-mieszkaj%C4%85cych-w-polsce#comment-5961">wtorek, marzec 4, 2014 - 08:34</a></span>
</div>
</div>
</div><div class="box">
<h2>Dodaj nową odpowiedź</h2>
<div class="content"><form accept-charset="UTF-8" action="/comment/reply/259" id="comment-form" method="post">
<div><div class="form-item" id="edit-name-wrapper">
<label for="edit-name">Nazwisko lub pseudonim: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-name" maxlength="60" name="name" size="30" type="text" value="Anonymous"/>
</div>
<div class="form-item" id="edit-mail-wrapper">
<label for="edit-mail">E-mail: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-mail" maxlength="64" name="mail" size="30" type="text" value=""/>
<div class="description">Zawartość pola nie będzie udostępniana publicznie. If you have a <a href="http://www.gravatar.com">Gravatar</a> account, used to display your avatar.</div>
</div>
<div class="form-item" id="edit-homepage-wrapper">
<label for="edit-homepage">Strona domowa: </label>
<input class="form-text" id="edit-homepage" maxlength="255" name="homepage" size="30" type="text" value=""/>
</div>
<div class="form-item" id="edit-comment-wrapper">
<label for="edit-comment">Odpowiedź: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<textarea class="form-textarea resizable required" cols="60" id="edit-comment" name="comment" rows="15"></textarea>
</div>
<ul class="tips"><li>Adresy internetowe są automatycznie zamieniane w odnośniki, które można kliknąć.</li><li>Dozwolone znaczniki HTML: &lt;a&gt; &lt;em&gt; &lt;strong&gt; &lt;cite&gt; &lt;code&gt; &lt;ul&gt; &lt;ol&gt; &lt;li&gt; &lt;dl&gt; &lt;dt&gt; &lt;dd&gt; &lt;blockquote&gt;</li><li>Znaki końca linii i akapitu dodawane są automatycznie.</li></ul><input id="form-b104bd131f86d8b9328d6b7209ccadca" name="form_build_id" type="hidden" value="form-b104bd131f86d8b9328d6b7209ccadca"/>
<input id="edit-comment-form" name="form_id" type="hidden" value="comment_form"/>
<div class="clear-block"><div class="form-item" id="edit-notify-wrapper">
<label class="option" for="edit-notify"><input checked="checked" class="form-checkbox" id="edit-notify" name="notify" type="checkbox" value="1"/> Notify me when new comments are posted</label>
</div>
<div class="form-radios"><div class="form-item" id="edit-notify-type-1-wrapper">
<label class="option" for="edit-notify-type-1"><input class="form-radio" id="edit-notify-type-1" name="notify_type" type="radio" value="1"/> All comments</label>
</div>
<div class="form-item" id="edit-notify-type-2-wrapper">
<label class="option" for="edit-notify-type-2"><input checked="checked" class="form-radio" id="edit-notify-type-2" name="notify_type" type="radio" value="2"/> Replies to my comment</label>
</div>
</div></div><input class="mollom-content-id" id="edit-mollom-contentId" name="mollom[contentId]" type="hidden" value=""/>
<input class="mollom-captcha-id" id="edit-mollom-captchaId" name="mollom[captchaId]" type="hidden" value=""/>
<div style="display: none;"><div class="form-item" id="edit-mollom-homepage-wrapper">
<input autocomplete="off" class="form-text" id="edit-mollom-homepage" maxlength="128" name="mollom[homepage]" size="60" type="text" value=""/>
</div>
</div><div class="description mollom-privacy">By submitting this form, you accept the <a class="mollom-target" href="https://mollom.com/web-service-privacy-policy" rel="nofollow">Mollom privacy policy</a>.</div><input class="form-submit" id="edit-preview" name="op" type="submit" value="Podgląd"/>
</div></form>
</div>
</div>
</div>
