---
permalink: /tags/american-stereotypes/
layout: base-old
title: 'American Stereotypes'
language: en
translation: 
---
<div class="node node-story clear-block" id="node-94">
<h2 class="node-title"><a href="/blog/2011/10/american-stereotypes-americans-are-fat" title="American Stereotypes: Americans are fat">American Stereotypes: Americans are fat</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">11</strong> <strong class="month">Oct</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_20 first active"><a class="active" href="/tags/american-stereotypes" rel="tag" title="">American Stereotypes</a></li>
<li class="taxonomy_term_32 last"><a href="/category/culture/usa" rel="tag" title="">USA</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/09/cheeseburger.jpg" rel="lightbox"><img alt="A cheeseburger" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/09/cheeseburger.jpg" title="Photo by Christian Kadluba"/></a><div class="caption"><a href="http://www.flickr.com/photos/38235150@N00/2919144729">Photo</a> by <a href="http://www.flickr.com/people/pokpok/">Christian Kadluba</a></div></div>
<p><strong>This is the second installment in a new series of articles called "<a href="http://www.linguatrek.com/tags/american-stereotypes">American Stereotypes</a>," which explores stereotypes about Americans.  Today's topic is: Americans are fat.</strong></p>
<p>"Americans are fat" is a pretty common stereotype.  Often, the view isn't that Americans are just slightly overweight, but rather that <em>most</em> Americans are downright morbidly obese!  Just do a Google image search for <em>fat American</em> if you don't believe me. ;-)</p>
<p>As with many stereotypes, there is <em>some</em> truth behind it.</p>
<p><strong>Read more to learn about this stereotype!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/10/american-stereotypes-americans-are-fat#comments" title="Jump to the first comment of this posting.">6 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/10/american-stereotypes-americans-are-fat" title="Read the rest of American Stereotypes: Americans are fat.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F10%2Famerican-stereotypes-americans-are-fat&amp;linkname=American%20Stereotypes%3A%20Americans%20are%20fat" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-91">
<h2 class="node-title"><a href="/blog/2011/09/american-stereotypes-americans-are-workaholics" title="American Stereotypes: Americans are workaholics">American Stereotypes: Americans are workaholics</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">13</strong> <strong class="month">Sep</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_20 first active"><a class="active" href="/tags/american-stereotypes" rel="tag" title="">American Stereotypes</a></li>
<li class="taxonomy_term_32 last"><a href="/category/culture/usa" rel="tag" title="">USA</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 106px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/09/workaholics.jpg" rel="lightbox"><img alt="Businessman and businesswoman talking" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/09/workaholics.jpg" title="Photo by Peter Hayes"/></a><div class="caption"><a href="http://www.flickr.com/photos/47494486@N03/5036313154">Photo</a> by <a href="http://www.flickr.com/people/inlinguamanchester/">Peter Hayes</a></div></div>
<p><strong>This is the first installment in a new series of articles called "<a href="http://www.linguatrek.com/tags/american-stereotypes">American Stereotypes</a>," which explores stereotypes about Americans.  Today's topic is: Americans are workaholics.</strong></p>
<p>A workaholic is a person so obsessed with working and earning money that they often forget to enjoy life.  <strong><em>Are Americans workaholics?</em></strong></p>
<p>More often than we'd like to admit, there's some truth to many stereotypes.  In this case, there are even statistics to back it up!  But I think the reality of the situation often falls somewhere between the stereotype and the true human experience.</p>
<p><strong>Read more to find out about this common stereotype!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/09/american-stereotypes-americans-are-workaholics#comments" title="Jump to the first comment of this posting.">4 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/09/american-stereotypes-americans-are-workaholics" title="Read the rest of American Stereotypes: Americans are workaholics.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F09%2Famerican-stereotypes-americans-are-workaholics&amp;linkname=American%20Stereotypes%3A%20Americans%20are%20workaholics" id="da2a_2"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
