---
permalink: /tags/audiobook/
layout: base-old
title: 'audiobook'
language: en
translation: 
---
<div class="node node-story clear-block" id="node-218">
<h2 class="node-title"><a href="/blog/2012/11/listen-to-my-free-ebook-about-language-learning-in-polish" title="Listen to my FREE audiobook about language learning in Polish!">Listen to my FREE audiobook about language learning in Polish!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">13</strong> <strong class="month">Nov</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_93 first active"><a class="active" href="/tags/audiobook" rel="tag" title="">audiobook</a></li>
<li class="taxonomy_term_25"><a href="/tags/ebook" rel="tag" title="">ebook</a></li>
<li class="taxonomy_term_29 last"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/05/nll-fauxbookstack-pl.png" rel="lightbox"><img alt="Cover of my ebook" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/05/nll-fauxbookstack-pl.png" title=""/></a></div>
<p><a href="http://www.linguatrek.com/blog/2012/03/our-big-announcement-we-need-your-help">Back in March</a> I decided to write a FREE ebook about language learning for YOU, the subscribers of my blog, in order to thank you for your support over the years.</p>
<p>I planned the content based on over 1500 survey responses and HUNDREDS of emails and comments. By the time it was finally <a href="http://www.linguatrek.com/blog/2012/05/natural-language-learning-my-free-ebook-is-finished">published in May</a>, I can honestly say that it <em>really</em> was FOR YOU!</p>
<p><strong>In the introduction, I write:</strong></p>
<blockquote>
<p>This ebook is for people...</p>
<ul>
<li>... who have spent years in traditional courses but still can't order in a restaurant, watch a movie without subtitles, or have a casual conversation with a native speaker.</li>
<li>... who think that their course was too fast, too slow, or too boring.</li>
<li>... who think they don't have a talent for learning language. (But, in truth, no talent is necessary!  What you need is a good approach!)</li>
<li>... who want to take control of their language learning journey and study using a method that will help them achieve their goal efficiently!</li>
</ul>
<p>In short, this ebook is for <em>normal</em> people who want to learn a language.  It's not for language experts or polyglots.</p>
<p>It's for the majority of <em>us</em> who have tried in vain to learn even one foreign language.  Or for those who successfully learned one foreign language, but the process was so slow and painful they're looking for a better way to learn their second foreign language.</p>
</blockquote>
<p>Today, I'm happy to announce an <strong>updated Polish translation</strong> and an <strong>audiobook version in Polish!</strong></p>
<p>Read more in order to listen to the introduction and find out how to download the full audiobook (or PDF, EPUB or MOBI)!</p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/11/listen-to-my-free-ebook-about-language-learning-in-polish#comments" title="Jump to the first comment of this posting.">9 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/11/listen-to-my-free-ebook-about-language-learning-in-polish" title="Read the rest of Listen to my FREE audiobook about language learning in Polish!.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F11%2Flisten-to-my-free-ebook-about-language-learning-in-polish&amp;linkname=Listen%20to%20my%20FREE%20audiobook%20about%20language%20learning%20in%20Polish%21" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
