---
permalink: /tags/books/
layout: base-old
title: 'books'
language: en
translation: 
---
<div class="node node-story clear-block" id="node-38">
<h2 class="node-title"><a href="/blog/2011/01/how-to-pick-your-first-book-to-read-in-a-foreign-language" title="How to pick your first book to read in a foreign language">How to pick your first book to read in a foreign language</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">11</strong> <strong class="month">Jan</strong> <strong class="year">2011</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Read this text with BiblioBird!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_45 first active"><a class="active" href="/tags/books" rel="tag" title="">books</a></li>
<li class="taxonomy_term_87"><a href="/tags/finding-content" rel="tag" title="">finding content</a></li>
<li class="taxonomy_term_29 last"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Reading and listening to books in a foreign language is a great way to learn the language.  <a href="http://www.linguatrek.com/blog/2010/12/harry-potter-the-book-that-taught-me-polish">I learned Polish</a> largely through reading and listening to Harry Potter.</p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/01/readingbookstore.jpg" rel="lightbox"><img alt="People reading in a bookstore" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/01/readingbookstore.jpg" title="Photo by Mark Probst"/></a><div class="caption"><a href="http://www.flickr.com/photos/28311604@N00/14508908/">Photo</a> by <a href="http://www.flickr.com/photos/schani/">Mark Probst</a></div></div>
<p>It helps your brain learn to think in the language.  Reading and listening to hundreds of hours of correct sentences will give you a sense of what "sounds right".  You will be able to form correct sentences of your own <em>by feel</em>, not just <a href="http://www.linguatrek.com/blog/2010/11/dont-start-learning-polish-grammar#mental_math">grammar mathematics</a>.</p>
<p>So, you'd like to give it a try.  But what book should you choose?</p>
<p><strong>Read more for advice on how to pick what to read in a foreign language.</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/01/how-to-pick-your-first-book-to-read-in-a-foreign-language#comments" title="Jump to the first comment of this posting.">9 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/01/how-to-pick-your-first-book-to-read-in-a-foreign-language" title="Read the rest of How to pick your first book to read in a foreign language.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F01%2Fhow-to-pick-your-first-book-to-read-in-a-foreign-language&amp;linkname=How%20to%20pick%20your%20first%20book%20to%20read%20in%20a%20foreign%20language" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-31">
<h2 class="node-title"><a href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish" title="Harry Potter: The book that taught me Polish ">Harry Potter: The book that taught me Polish </a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">14</strong> <strong class="month">Dec</strong> <strong class="year">2010</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_45 first active"><a class="active" href="/tags/books" rel="tag" title="">books</a></li>
<li class="taxonomy_term_46"><a href="/tags/harry-potter" rel="tag" title="">Harry Potter</a></li>
<li class="taxonomy_term_1 last"><a href="/category/language-learning/learn-polish" rel="tag" title="">learn Polish</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 119px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/12/harrypotterbooks.jpg" rel="lightbox"><img alt="Pile of Harry Potter books in Polish" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/12/harrypotterbooks.jpg" title="All my Harry Potter books"/></a><div class="caption">All my Harry Potter books</div></div>
<p>I've studied Polish mostly from reading and listening to books.  The first book I ever read in Polish, was Harry Potter.  When I first started to read Harry Potter, I had only been learning Polish for about a year at the University.</p>
<p>While I did enjoy that class (mostly because of the professor) it was basically <em>all grammar, grammar and more grammar</em>.  At the end of that year, I couldn't <em>really</em> speak or understand Polish normally.</p>
<p>I started reading the first Harry Potter book in January of 2008.  It took me four months to finish it.  Honestly, it was <em>extremely</em> difficult and took a lot of commitment.  But after finishing that book, I really felt like I spoke Polish.  My brain was able to produce and understand Polish automatically!</p><p>
</p><p>While the first book took me four months, <b>I managed to read all seven Harry Potter books before the end of that year!</b>  Each book was bigger and bigger, but I managed to read each one faster and faster.  I read (or rather listened to) the last book in only a couple weeks.  My learning accelerated exponentially.</p>
<p><strong>Read more to learn about the method I used!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comments" title="Jump to the first comment of this posting.">84 comments</a></li>
<li class="node_read_more"><a href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish" title="Read the rest of Harry Potter: The book that taught me Polish .">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2010%2F12%2Fharry-potter-the-book-that-taught-me-polish&amp;linkname=Harry%20Potter%3A%20The%20book%20that%20taught%20me%20Polish%20" id="da2a_2"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
