---
permalink: /tags/british-english/
layout: base-old
title: 'British English'
language: en
translation: 
---
<div class="node node-story clear-block" id="node-128">
<h2 class="node-title"><a href="/blog/2012/03/british-vs-american-english" title="British vs. American English">British vs. American English</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">13</strong> <strong class="month">Mar</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_70 first"><a href="/tags/american-english" rel="tag" title="">American English</a></li>
<li class="taxonomy_term_71 active"><a class="active" href="/tags/british-english" rel="tag" title="">British English</a></li>
<li class="taxonomy_term_2 last"><a href="/category/language-learning/learn-english" rel="tag" title="">learn English</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/03/americaengland.jpg" rel="lightbox"><img alt="American and English flags" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/03/americaengland.jpg" title="Photo by Alf"/></a><div class="caption"><a href="http://www.flickr.com/photos/98765712@N00/3974127808">Photo</a> by <a href="http://www.flickr.com/photos/ellyll/">Alf</a></div></div>
<p>I frequently receive emails or comments like:</p>
<blockquote><p>I just started learning English but it's British English.  Will I have trouble communicating with someone from the USA?  Can you easily understand British people?  What is the difference between American and British English?</p></blockquote>
<p>It's true that there are lots of dialects (I wrote about <a href="http://www.linguatrek.com/blog/2011/02/milwaukee-wisconsin-unique-english-dialect">my dialect</a> a while back), accents and other <a href="http://en.wikipedia.org/wiki/World_Englishes">variations of English</a> (ex. creoles, such as Jamaican).</p>
<p>But is the variation of English that you learn important?</p>
<p><strong>Read more for my response!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/03/british-vs-american-english#comments" title="Jump to the first comment of this posting.">37 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/03/british-vs-american-english" title="Read the rest of British vs. American English.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F03%2Fbritish-vs-american-english&amp;linkname=British%20vs.%20American%20English" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
