---
permalink: /tags/brooke/
layout: base-old
title: 'Brooke'
language: en
translation: 
---
<div class="node node-story clear-block" id="node-124">
<h2 class="node-title"><a href="/blog/2012/02/vlog-brooke-ma%C5%82a-amerykanka-kt%C3%B3ra-%C5%9Bni-o-polsce" title="Vlog: Brooke - mała Amerykanka która śni o Polsce">Vlog: Brooke - mała Amerykanka która śni o Polsce</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">25</strong> <strong class="month">Feb</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_69 first active"><a class="active" href="/tags/brooke" rel="tag" title="">Brooke</a></li>
<li class="taxonomy_term_4"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
<li class="taxonomy_term_33 last"><a href="/category/culture/poland" rel="tag" title="">Poland</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>To jest bardzo interesująca historia o dziewczynce w USA, która nie ma polskich korzeni ale zakochała się w Polsce w prosty sposób.</p>
<p><object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/Br0roArv7kY?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/Br0roArv7kY?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object></p>
<p>Czytaj cały list Brooke <a href="http://www.linguatrek.com/blog/2012/02/spreading-our-love-of-poland">tutaj</a>.</p>
<p>Proszę podaj mi poprawki <a href="">w serwisie Lang-8</a>.</p>
<p><strong>Czytaj transkrypcję poniżej!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/02/vlog-brooke-ma%C5%82a-amerykanka-kt%C3%B3ra-%C5%9Bni-o-polsce#comments" title="Jump to the first comment of this posting.">11 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/02/vlog-brooke-ma%C5%82a-amerykanka-kt%C3%B3ra-%C5%9Bni-o-polsce" title="Read the rest of Vlog: Brooke - mała Amerykanka która śni o Polsce.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F02%2Fvlog-brooke-ma%25C5%2582a-amerykanka-kt%25C3%25B3ra-%25C5%259Bni-o-polsce&amp;linkname=Vlog%3A%20Brooke%20-%20ma%C5%82a%20Amerykanka%20kt%C3%B3ra%20%C5%9Bni%20o%20Polsce" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-122">
<h2 class="node-title"><a href="/blog/2012/02/spreading-our-love-of-poland" title="Spreading our love of Poland">Spreading our love of Poland</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">21</strong> <strong class="month">Feb</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_69 first active"><a class="active" href="/tags/brooke" rel="tag" title="">Brooke</a></li>
<li class="taxonomy_term_33 last"><a href="/category/culture/poland" rel="tag" title="">Poland</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/02/love.jpg" rel="lightbox"><img alt="Red hearts with wings" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/02/love.jpg" title="Photo by Erika Tricroche"/></a><div class="caption"><a href="http://www.flickr.com/photos/26358240@N02/3931909203">Photo</a> by <a href="http://www.flickr.com/photos/erika_tricroche/">Erika Tricroche</a></div></div>
<p><strong>We just got an email from my mother-in-law that I am <em>sooo</em> excited about!</strong></p>
<p>She works as a 1st grade teacher near Appleton, Wisconsin.  When my wife and I were in Poland, we <a href="http://www.linguatrek.com/blog/2011/07/teaching-english-in-poland">worked as English teachers</a>.  Although our students were a little older than hers, we set up a <em>penpal project</em> with her students in the USA.</p>
<p>So, our students in Poland wrote letters to her students in the USA.  Then they wrote back - and so on.  I think both groups managed to write two letters in the course of a school year.</p>
<p>My wife returned to the USA a few times to visit family.  One of those times she went to her mother's class to talk about Poland.  She told a few fairy tales about Kraków (from the book <a href="http://bookadvisor.eu/The-Legends-of-Cracow;s,book,id,377">Legends of Cracow</a>), including the one about the Wawel dragon.  This was already almost two years ago.</p>
<p><strong>Then, at the end of last month, Brooke, one of my mother-in-law's former students, wrote her a letter.  This little girl - <em>who has no Polish heritage</em> - is still thinking about Poland!  It appears we've managed to spread <a href="http://www.linguatrek.com/blog/2011/03/how-long-have-i-been-obsessed-with-poland">our love of Poland</a> to her.</strong></p>
<p>I think it's contagious. ;-)</p>
<p><strong>Read more to see her actual letter!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/02/spreading-our-love-of-poland#comments" title="Jump to the first comment of this posting.">37 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/02/spreading-our-love-of-poland" title="Read the rest of Spreading our love of Poland.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F02%2Fspreading-our-love-of-poland&amp;linkname=Spreading%20our%20love%20of%20Poland" id="da2a_2"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
