---
permalink: /tags/christmas/
layout: base-old
title: 'Christmas'
language: en
translation: 
---
<div class="node node-story clear-block" id="node-35">
<h2 class="node-title"><a href="/blog/2010/12/vlog-bo%C5%BCe-narodzenia-w-stanach" title="Vlog: Boże Narodzenia w Stanach">Vlog: Boże Narodzenia w Stanach</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">29</strong> <strong class="month">Dec</strong> <strong class="year">2010</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_42 first active"><a class="active" href="/tags/christmas" rel="tag" title="">Christmas</a></li>
<li class="taxonomy_term_6"><a href="/tags/holidays" rel="tag" title="">holidays</a></li>
<li class="taxonomy_term_32"><a href="/category/culture/usa" rel="tag" title="">USA</a></li>
<li class="taxonomy_term_4 last"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Dzisiaj mówię na temat Bożego Narodzenia w Stanach Zjednoczonych i trochę pokażuję, jak moja rodzina obchodzi to święto.  Też mamy "tajemnica", z którą potrzebujemy pomocy od Polaków!  Proszę obejrzyj filmik i napisz komentarze, żeby nam pomóc!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/8CnfGj1nmkk?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/8CnfGj1nmkk?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Czytaj transkrypcję poniżej!</p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2010/12/vlog-bo%C5%BCe-narodzenia-w-stanach#comments" title="Jump to the first comment of this posting.">7 comments</a></li>
<li class="node_read_more"><a href="/blog/2010/12/vlog-bo%C5%BCe-narodzenia-w-stanach" title="Read the rest of Vlog: Boże Narodzenia w Stanach.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2010%2F12%2Fvlog-bo%25C5%25BCe-narodzenia-w-stanach&amp;linkname=Vlog%3A%20Bo%C5%BCe%20Narodzenia%20w%20Stanach" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-34">
<h2 class="node-title"><a href="/blog/2010/12/christmas-without-presents" title="Christmas without presents?">Christmas without presents?</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">28</strong> <strong class="month">Dec</strong> <strong class="year">2010</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Read this text with BiblioBird!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_42 first active"><a class="active" href="/tags/christmas" rel="tag" title="">Christmas</a></li>
<li class="taxonomy_term_6"><a href="/tags/holidays" rel="tag" title="">holidays</a></li>
<li class="taxonomy_term_32 last"><a href="/category/culture/usa" rel="tag" title="">USA</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/12/christmasstormtrooper.jpg" rel="lightbox"><img alt="Storm trooper holding Christmas presents" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/12/christmasstormtrooper.jpg" title="The Empire is stealing Christmas!  Photo by Kenny Louie."/></a><div class="caption">The Empire is stealing Christmas!  <a href="http://www.flickr.com/photos/99472898@N00/5278223836/">Photo</a> by <a href="http://www.flickr.com/photos/kwl/">Kenny Louie</a>.</div></div>
<p>For Christians, Christmas is about celebrating the birth of Jesus.  However, according to a <a href="http://www.gallup.com/poll/145367/Christmas-Strongly-Religious-Half-Celebrate.aspx">recent poll</a>, 95% of Americans celebrate Christmas, including 80% of non-Christians.  But for both believers and the rest of us, Christmas in the USA is about spending time with family and friends.</p>
<p>Yeah, family and friends, but also -- PRESENTS!  Glorious presents!</p>
<p>When I was a kid, I couldn't wait until Christmas.  I dreamt of all the great things I hoped I was going to get.  It was a magical day, when dreams came true!</p>
<p>How can you have Christmas without presents?</p>
<p>But a number of years ago, my family stopped exchanging gifts at Christmas.</p>
</div>
<ul class="links inline"><li class="comment_add first"><a href="/comment/reply/34#comment-form" title="Add a new comment to this page.">Add new comment</a></li>
<li class="node_read_more"><a href="/blog/2010/12/christmas-without-presents" title="Read the rest of Christmas without presents?.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2010%2F12%2Fchristmas-without-presents&amp;linkname=Christmas%20without%20presents%3F" id="da2a_2"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
