---
permalink: /tags/contest/
layout: base-old
title: 'contest'
language: en
translation: 
---
<div class="node node-story clear-block" id="node-155">
<h2 class="node-title"><a href="/blog/2012/05/vote-for-linguatrek-top-100-language-lovers" title="Vote for LinguaTrek: Top 100 Language Lovers!">Vote for LinguaTrek: Top 100 Language Lovers!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">16</strong> <strong class="month">May</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_75 first active"><a class="active" href="/tags/contest" rel="tag" title="">contest</a></li>
<li class="taxonomy_term_34"><a href="/category/linguatrek" rel="tag" title="A meta-tag - when we are talking about LinguaTrek itself.">LinguaTrek</a></li>
<li class="taxonomy_term_74 last"><a href="/tags/top-100-language-lovers" rel="tag" title="">Top 100 Language Lovers</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div style="float: right; margin-left: 10px;"><a href="http://www.lexiophiles.com/language-lovers-toplist/vote-for-your-favorite-language-learning-blog-2012" target="_blank" title="Vote for your favorite Language Learning Blog 2012"><img alt="Vote the Top 100 Language Learning Blogs 2012" border="0" height="60" src="http://www.lexiophiles.com/wp-content/uploads/2012/05/top100-vote-for-this-blog-2.gif" width="160"/></a></div>
<p>Voting for the yearly contest <strong>Top 100 Language Lovers</strong> has begun and my blog, LinguaTrek, has once again been nominated in the category <strong>Top 100 Language Learning Blogs</strong>.</p>
<p><strong>Last year, thanks to the <em>"Wykop effect"</em>, LinguaTrek received the MOST votes out of any of the blogs!</strong></p>
<p>But the votes only count for 50% of the overall score - the other half is the opinion of the contest organizers.  A year ago, LinguaTrek was still pretty young, so it's completely understandable that we only got <a href="http://www.linguatrek.com/blog/2011/06/linguatrek-got-12th-place-among-language-learner-blogs-2011">12th place</a>.</p>
<p><strong>But this year, right after the publication of <a href="">my FREE ebook</a> - who knows what's possible! :-)</strong></p>
<p>Can I count on your support? :-) It only takes a few seconds.  Here is what you have to do:</p>
<ul>
<li><strong>Go to <a href="http://www.lexiophiles.com/language-lovers-toplist/vote-for-your-favorite-language-learning-blog-2012">this page</a>.</strong></li>
<li><strong>Find and select "LinguaTrek".</strong>
</li><li><strong>Click the "Vote" button at the bottom of the list.</strong></li>
</ul>
<p>While you're there, check out the other great blogs! It's really a great honor to have LinguaTrek on the list with them. :-)</p>
<p><strong>Thanks for your help!</strong></p> </div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/05/vote-for-linguatrek-top-100-language-lovers#comments" title="Jump to the first comment of this posting.">16 comments</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F05%2Fvote-for-linguatrek-top-100-language-lovers&amp;linkname=Vote%20for%20LinguaTrek%3A%20Top%20100%20Language%20Lovers%21" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
