---
permalink: /tags/ebook/
layout: base-old
title: 'ebook'
language: en
translation: 
---
<div class="node node-story clear-block" id="node-152">
<h2 class="node-title"><a href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC" title="Vlog: Mój ebook jest dostępny (i po polsku również)">Vlog: Mój ebook jest dostępny (i po polsku również)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">10</strong> <strong class="month">May</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_25 first active"><a class="active" href="/tags/ebook" rel="tag" title="">ebook</a></li>
<li class="taxonomy_term_29"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_4 last"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Wreszcie polska wersja i wersje mobilne mojego ebooka są gotowe!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/9FfswP0rM5k?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/9FfswP0rM5k?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p><strong>Jeśli chcesz dostać mój ebook, proszę <a href="http://www.linguatrek.com/subscribe">zasubskrybuj mój blog</a>!</strong></p>
<p>Proszę podaj mi poprawki <a href="http://lang-8.com/10069/journals/1470177/Vlog%253A-M%25C3%25B3j-ebook-jest-dost%25C4%2599pny-%2528i-po-polsku-r%25C3%25B3wnie%25C5%25BC%2529">w serwisie Lang-8</a>!</p>
<p><strong>Czytaj transkrypcję poniżej!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC#comments" title="Jump to the first comment of this posting.">26 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC" title="Read the rest of Vlog: Mój ebook jest dostępny (i po polsku również).">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F05%2Fvlog-m%25C3%25B3j-ebook-jest-dost%25C4%2599pny-i-po-polsku-r%25C3%25B3wnie%25C5%25BC&amp;linkname=Vlog%3A%20M%C3%B3j%20ebook%20jest%20dost%C4%99pny%20%28i%20po%20polsku%20r%C3%B3wnie%C5%BC%29" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-151">
<h2 class="node-title"><a href="/blog/2012/05/ebook-available-for-e-readers-like-kindle-and-in-polish" title="Ebook available for e-readers (like Kindle) and in Polish!">Ebook available for e-readers (like Kindle) and in Polish!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">10</strong> <strong class="month">May</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_25 first active"><a class="active" href="/tags/ebook" rel="tag" title="">ebook</a></li>
<li class="taxonomy_term_29 last"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<p>It's been great to hear everyone's thoughts about the ebook since <a href="http://www.linguatrek.com/blog/2012/05/natural-language-learning-my-free-ebook-is-finished">I published the English version last week</a>.  I'm positively thrilled with the response that I have gotten so far!</p>
<p><strong>I really hope it helps you in your language learning journey!</strong> :-)</p>
<h2>Versions for mobile devices and e-readers!</h2>
<p>Today, I'm happy to announce that you can now read it on your mobile devices and e-readers, like the iPhone, iPad, Nook or Kindle!</p>
<p>If you are subscriber, you should already have received an email about how to download the ebook in not only PDF format, but also EPUB and MOBI.  Thanks to everyone who help BETA test those files!</p>
<h2>Polish translation!</h2>
<p>Also, with the help of several LinguaTrek subscribers, the ebook is now available in Polish! This really took much more time and effort to produce than I thought it would!</p>
<p>Luckily I had the help of many wonderful volunteers -- without whom, I don't think I could have ever finished it this quickly.  Thank you so much!</p>
<p><strong>If you want to receive your copy, please <a href="http://www.linguatrek.com/subscribe">subscribe now</a>!</strong></p> </div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/05/ebook-available-for-e-readers-like-kindle-and-in-polish#comments" title="Jump to the first comment of this posting.">3 comments</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F05%2Febook-available-for-e-readers-like-kindle-and-in-polish&amp;linkname=Ebook%20available%20for%20e-readers%20%28like%20Kindle%29%20and%20in%20Polish%21" id="da2a_2"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-148">
<h2 class="node-title"><a href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished" title="Natural Language Learning (my FREE ebook) is finished!">Natural Language Learning (my FREE ebook) is finished!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">3</strong> <strong class="month">May</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_25 first active"><a class="active" href="/tags/ebook" rel="tag" title="">ebook</a></li>
<li class="taxonomy_term_29 last"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/default/files/imagecache/Large/image/2012/05/nll-fauxbookstack.png" rel="lightbox"><img alt="Stack of books" src="http://www.linguatrek.com/sites/default/files/imagecache/Small/image/2012/05/nll-fauxbookstack.png" title="Check out the new cover design my wife created!"/></a><div class="caption">Check out the new cover design my wife created!</div></div>
<p><strong>After three weeks of intense work since <a href="http://www.linguatrek.com/blog/2012/04/im-writing-the-free-ebook-and-an-easter-miracle">I announced that I would create it</a>, I've finally finished the English version of my FREE ebook on language learning, called: <em>Natural Language Learning (Without a Teacher!)</em></strong></p>
<p>It ended up being 104 pages in PDF format - a little bit longer than my guess of 40 pages. ;-) The ebook consists of 13 chapters in two parts (a theory part and a practical part) as well as 4 worksheets to help you create the perfect language learning method for you!</p>
<p><strong>Check out <a href="http://www.linguatrek.com/blog/2012/04/natural-language-learning-without-a-teacher">this article</a> for more information about what's in the ebook, as well as these two excerpts: <a href="http://www.linguatrek.com/blog/2012/04/planning-your-daily-routine-ebook-excerpt">Planning your daily routine</a> and <a href="http://www.linguatrek.com/blog/2012/04/3-steps-to-speaking-a-language-fluently-ebook-excerpt">3 steps to speaking a language fluently</a>.</strong></p>
<p>The theory part consists mainly of rewritten material that I've previously published on my blog.  But almost all of the practical part is completely new!</p>
<p>As a software developer, I never really imagined that I'd end up doing this much writing, let alone writing <em>a whole ebook.</em> :-) While it was definitely harder than I expected it was also much more enjoyable. <strong>I can't wait to hear what you think!</strong></p>
<p><strong>Read more to find out how to get it and what's next!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished#comments" title="Jump to the first comment of this posting.">29 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished" title="Read the rest of Natural Language Learning (my FREE ebook) is finished!.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F05%2Fnatural-language-learning-my-free-ebook-is-finished&amp;linkname=Natural%20Language%20Learning%20%28my%20FREE%20ebook%29%20is%20finished%21" id="da2a_3"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-146">
<h2 class="node-title"><a href="/blog/2012/04/planning-your-daily-routine-ebook-excerpt" title="Planning your daily routine (ebook excerpt!)">Planning your daily routine (ebook excerpt!)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">26</strong> <strong class="month">Apr</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_25 first active"><a class="active" href="/tags/ebook" rel="tag" title="">ebook</a></li>
<li class="taxonomy_term_29 last"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<p><em>This is an excerpt from my <a href="http://www.linguatrek.com/blog/2012/04/natural-language-learning-without-a-teacher">upcoming ebook</a> on language learning, called <strong>Natural Language Learning (Without a Teacher)</strong>.  I was trying really hard to have the ebook finished before today! It appears that two weeks wasn't quite enough time to finish it.</em></p>
<p><em>But the first draft is complete! I'm now focusing on editing, preparing all the worksheets, and making the book more visually appealing. I'm really hoping to have the English version ready for you next week!</em></p>
<p><em><strong>For now, please enjoy this excerpt from the practical half of the ebook!</strong> (Last week <a href="http://www.linguatrek.com/blog/2012/04/3-steps-to-speaking-a-language-fluently-ebook-excerpt">I shared the introduction</a>, which revealed that the ebook is made up of two main sections: one on theory and the other on using that theory in practice.)</em></p>
<hr/>
<p>Earlier in the theory section, we talked about the importance of <a href="http://www.linguatrek.com/blog/2011/03/the-three-ingredients-for-successful-language-learning">time and regularity</a> in language learning. The core idea is that practicing 15 minutes per day (almost 2 hours per week total) is better than practicing for 3 hours, but just once a week.</p>
<p><strong>Regularity is more important than the raw amount of time!</strong></p>
<p>When your brain learns a new skill, it's actually changing on a physical and chemical level. This takes time and energy in a very literal way! Spreading out your language learning gives your brain the chance to adapt.</p>
<p>In this section we'll take a brief moment to discuss planning your daily language learning routine. In the appendix, there is a <a href="http://www.linguatrek.com/files/nll-ebook/worksheets/en/DailyRoutine.pdf">worksheet</a> to help.</p>
<p>For now, we'll be talking primarily about Parts A and B of the worksheet: <em>Finding time</em> and <em>Activities that could be converted</em>. When we get to the section on <em>Creating your own method</em>, you'll have everything you need to complete Part C of the worksheet.</p>
<p><strong>Read more to see the full section from the ebook!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/04/planning-your-daily-routine-ebook-excerpt#comments" title="Jump to the first comment of this posting.">2 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/04/planning-your-daily-routine-ebook-excerpt" title="Read the rest of Planning your daily routine (ebook excerpt!).">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F04%2Fplanning-your-daily-routine-ebook-excerpt&amp;linkname=Planning%20your%20daily%20routine%20%28ebook%20excerpt%21%29" id="da2a_4"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-144">
<h2 class="node-title"><a href="/blog/2012/04/3-steps-to-speaking-a-language-fluently-ebook-excerpt" title="3 steps to speaking a language fluently (ebook excerpt!)">3 steps to speaking a language fluently (ebook excerpt!)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">19</strong> <strong class="month">Apr</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_25 first active"><a class="active" href="/tags/ebook" rel="tag" title="">ebook</a></li>
<li class="taxonomy_term_29 last"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<p>The question I'm asked most frequently is:</p>
<blockquote><p><strong>"How can I quickly learn to speak English/Polish/etc fluently?"</strong></p></blockquote>
<p>Usually I avoid answering this question directly because (1) <a href="http://www.linguatrek.com/blog/2010/11/lets-stop-saying-fluent-fluently-and-fluency-too">I don't like the word <em>fluently</em></a> :-) and (2) it's a <strong>BIG</strong> question.</p>
<p>So instead I usually ask what's causing the person to struggle with the language, and then focus on helping them solve their particular problem.</p>
<p>Now I've decided it's important to finally answer this question definitively in the introduction of this ebook, to clarify what is included in this ebook, as well as <em>what is not included</em>.</p>
<p><strong>Read more for the full introduction to the ebook!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/04/3-steps-to-speaking-a-language-fluently-ebook-excerpt#comments" title="Jump to the first comment of this posting.">15 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/04/3-steps-to-speaking-a-language-fluently-ebook-excerpt" title="Read the rest of 3 steps to speaking a language fluently (ebook excerpt!).">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F04%2F3-steps-to-speaking-a-language-fluently-ebook-excerpt&amp;linkname=3%20steps%20to%20speaking%20a%20language%20fluently%20%28ebook%20excerpt%21%29" id="da2a_5"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-142">
<h2 class="node-title"><a href="/blog/2012/04/im-writing-the-free-ebook-and-an-easter-miracle" title="I'm writing the free ebook (and an Easter miracle!)">I'm writing the free ebook (and an Easter miracle!)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">11</strong> <strong class="month">Apr</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_25 first active"><a class="active" href="/tags/ebook" rel="tag" title="">ebook</a></li>
<li class="taxonomy_term_29 last"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<p><strong>Note: This article is a follow-up to <a href="http://www.linguatrek.com/blog/2012/04/natural-language-learning-without-a-teacher">this article</a> from 2012-04-06.</strong></p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/default/files/imagecache/Large/image/2012/04/easter.jpg" rel="lightbox"><img alt="Dyed Easter eggs" src="http://www.linguatrek.com/sites/default/files/imagecache/Small/image/2012/04/easter.jpg" title="Photo by Robert S. Donovan"/></a><div class="caption"><a href="http://www.flickr.com/photos/10687935@N04/2354603718">Photo</a> by <a href="http://www.flickr.com/photos/booleansplit/">Robert S. Donovan</a></div></div>
<p>In my <a href="http://www.linguatrek.com/blog/2012/04/natural-language-learning-without-a-teacher">last blog post</a> (published on <em>Good Friday</em>), I told you about the free ebook I was thinking about writing, and I asked you to fill out a survey telling me if you wanted it.</p>
<p><strong>I said that if 300 people wanted the ebook, then I would write it.</strong></p>
<p>By around noon on Easter Sunday we just barely topped 300 people!  And I was very happy. :-) But then, right before we were about to leave to celebrate Easter with my folks, something AMAZING happened!</p>
<p>My Polish video about this ebook <a href="http://www.wykop.pl/link/1101685/david-snopek-naturalna-nauka-jezyka-bez-nauczyciela/">appeared</a> on the front page of <a href="http://www.wykop.pl/">Wykop.pl</a> (the Polish equivalent of <a href="http://digg.com/">Digg.com</a>)!</p>
<p>Later that evening (when we got home) I checked the numbers again. <em>Hundreds</em> of new people signed up for the free ebook! In total, almost 1400 people have said they want to receive it when it's finished.</p>
<p>I kept telling Carrie (my wife) that it was an Easter miracle!  A miracle that could only have happened with the magic of Wykop! :-)</p>
<p><strong>Thank you so much to everyone who signed up and thank you to everyone who voted on Wykop.</strong></p>
<p><strong>Read more for a short note about what's coming next!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/04/im-writing-the-free-ebook-and-an-easter-miracle#comments" title="Jump to the first comment of this posting.">7 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/04/im-writing-the-free-ebook-and-an-easter-miracle" title="Read the rest of I'm writing the free ebook (and an Easter miracle!).">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F04%2Fim-writing-the-free-ebook-and-an-easter-miracle&amp;linkname=I%27m%20writing%20the%20free%20ebook%20%28and%20an%20Easter%20miracle%21%29" id="da2a_6"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-138">
<h2 class="node-title"><a href="/blog/2012/04/natural-language-learning-without-a-teacher" title="Natural Language Learning (without a teacher!)">Natural Language Learning (without a teacher!)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">6</strong> <strong class="month">Apr</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_25 first active"><a class="active" href="/tags/ebook" rel="tag" title="">ebook</a></li>
<li class="taxonomy_term_29 last"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/default/files/imagecache/Large/image/2012/04/paperbackstack.jpg" rel="lightbox"><img alt="Fake ebook cover" src="http://www.linguatrek.com/sites/default/files/imagecache/Small/image/2012/04/paperbackstack.jpg" title=""/></a></div>
<p><strong>Note: This article is a follow-up to <a href="http://www.linguatrek.com/blog/2012/03/our-big-announcement-we-need-your-help">this article</a> from 2012-03-29.</strong></p>
<p>Thanks to everyone who commented and sent emails over the past 2 or 3 weeks. I <em>literally</em> received <em>hundreds</em> of emails! I'm trying to reply to all of them, so if you're still waiting for a response, please be patient!</p>
<p>I'd especially like to thank everyone who completed <a href="http://linguatrek.com/node/136">the survey</a> about the <strong>FREE ebook</strong>!</p>
<p>Right after I posted <a href="http://www.linguatrek.com/blog/2012/03/our-big-announcement-we-need-your-help">the last video</a>, I had to run to a meeting with a client. (I'm a freelance software developer.) After several hours of work, I finally had a chance to look at my inbox - and the first two pages were completely filled up with survey responses! ;-)</p>
<p><strong>Based on your responses to the survey, I've chosen a topic for the FREE ebook:</strong></p>
<blockquote>
<p ;="" style="font-size: 20px">Natural Language Learning (Without a Teacher!)</p>
<p style="font-weight: bold; margin-bottom: 20px;">A step-by-step guide on how to learn a language <em>naturally</em> on your own!</p>
</blockquote>
<p><em>(NOTE: There was also a significant group of people who wanted advice on getting over their <a href="http://www.linguatrek.com/blog/2011/05/how-to-overcome-your-fear-of-speaking">fear of speaking</a>.  Unfortunately, it didn't get enough votes to be the topic of this ebook, but <span style="text-decoration: underline;">I promise</span> to make more articles and videos about this important topic!)</em></p>
<p><strong>Please read more for the full ebook description and to sign up to get your copy when it's finished!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/04/natural-language-learning-without-a-teacher#comments" title="Jump to the first comment of this posting.">21 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/04/natural-language-learning-without-a-teacher" title="Read the rest of Natural Language Learning (without a teacher!).">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F04%2Fnatural-language-learning-without-a-teacher&amp;linkname=Natural%20Language%20Learning%20%28without%20a%20teacher%21%29" id="da2a_7"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-132">
<h2 class="node-title"><a href="/blog/2012/03/our-big-announcement-we-need-your-help" title="Our BIG announcement! (We need your help!)">Our BIG announcement! (We need your help!)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">29</strong> <strong class="month">Mar</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_25 first active"><a class="active" href="/tags/ebook" rel="tag" title="">ebook</a></li>
<li class="taxonomy_term_31 last"><a href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<p><strong>Note: This article is a follow-up to <a href="http://www.linguatrek.com/blog/2012/03/why-i-almost-shut-down-linguatrek-and-bibliobird-and-our-big-dream">this article</a> from 2012-03-27.</strong></p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/default/files/imagecache/Large/image/2012/03/p1040194.jpg" rel="lightbox"><img alt="Food on at table at a restaurant" src="http://www.linguatrek.com/sites/default/files/imagecache/Small/image/2012/03/p1040194.jpg" title="Some tapas at Espana."/></a><div class="caption">Some tapas at Espana.</div></div>
<p>Here are some pictures from Carrie's (my wife's) birthday.  We went to a restaurant downtown that just opened, called <a href="http://www.espanamilwaukee.com/">Espana</a>.  It was great!  And Carrie thanks you for the birthday wishes! :-)</p>
<p><strong>Sorry about making you wait for the big announcement.  It was difficult for us, too! :-)</strong></p>
<p>When I recorded <a href="http://www.youtube.com/watch?v=5NA29HFBC68">my first video</a> on YouTube three years ago, I had <em>no idea</em> that anyone would actually watch it (let alone 12,000 people).  But it was an even bigger surprise when people started asking me for language learning advice!</p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/default/files/imagecache/Large/image/2012/03/p1040195.jpg" rel="lightbox"><img alt="People outside at night" src="http://www.linguatrek.com/sites/default/files/imagecache/Small/image/2012/03/p1040195.jpg" title="After the restaurant: my parents, Carrie and Niki (her best friend)."/></a><div class="caption">After the restaurant: my parents, Carrie and Niki (her best friend).</div></div>
<p>Learning languages was my favorite hobby, so I was more than happy to help!  In later videos, I described how I learned Polish and began giving advice.  Eventually, <a href="http://www.linguatrek.com/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego">I decided</a> to create <a href="http://www.bibliobird.com">Bibliobird</a>, a web application designed to help Poles learn English.</p>
<p><strong>My "hobby" is now completely out of hand!</strong> (In the best possible way!)</p>
<p>I've had the <em>amazing opportunity</em> to help hundreds (if not thousands!) of people in their language learning journeys.  But it takes a <a href="http://www.linguatrek.com/blog/2012/03/email-problem-i-need-your-help">HUGE amount of time</a> and resources to sustain.</p>
<p><strong>The only way to continue is to take this to the next level!</strong></p>
<p>Today, we've got a big announcement and a new project - and we need your help!</p>
<p><strong>Read more and please let us know what you think!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/03/our-big-announcement-we-need-your-help#comments" title="Jump to the first comment of this posting.">12 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/03/our-big-announcement-we-need-your-help" title="Read the rest of Our BIG announcement! (We need your help!).">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F03%2Four-big-announcement-we-need-your-help&amp;linkname=Our%20BIG%20announcement%21%20%28We%20need%20your%20help%21%29" id="da2a_8"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-112">
<h2 class="node-title"><a href="/blog/2012/01/language-learning-guide" title="Language learning guide?">Language learning guide?</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">24</strong> <strong class="month">Jan</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_78 first"><a href="/tags/benny-lewis" rel="tag" title="">Benny Lewis</a></li>
<li class="taxonomy_term_25 active"><a class="active" href="/tags/ebook" rel="tag" title="">ebook</a></li>
<li class="taxonomy_term_29 last"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/default/files/imagecache/Large/image/2012/01/guidebook.jpg" rel="lightbox"><img alt="Man looking at a guide book" src="http://www.linguatrek.com/sites/default/files/imagecache/Small/image/2012/01/guidebook.jpg" title="Just follow the guide to Language-ville! Photo by Kevin Jaako."/></a><div class="caption">Just follow the guide to Language-ville! <a href="http://www.flickr.com/photos/56944727@N00/2553636020">Photo</a> by <a href="http://www.flickr.com/people/jaako/">Kevin Jaako</a>.</div></div>
<p>I receive a lot of emails and comments asking me for advice on language learning.  I respond to all of them, so when I notice that I've answered the same question a lot, I try to write an article about it on my blog.</p>
<p>That way, when someone asks me that question again, I can point them to a well-polished article, instead of having to come up with a completely new explanation in the 5 minutes I have to respond to their email.</p>
<p>The article I wrote a couple weeks ago about <a href="http://www.linguatrek.com/blog/2012/01/the-importance-of-listening">the importance of listening</a> is one example.  However, I got some really great questions in the comments which helped me realize that I left out a very important piece: <em>how to listen, when you don't yet speak the language very well.</em></p>
<p>Eventually, this will end up becoming a <em>new</em> article.</p>
<p>But wouldn't it be great if I could just have a page somewhere that includes all of my thoughts about listening?  As new questions or ideas come up, I could continue to refine it.</p>
<p>This got me thinking that maybe I should be compiling a <em>language learning guide</em>, that covers my opinions about how to learn a language effectively, lots of tips, and the basics of my method.</p>
<p><strong>Read more for my thoughts and let me know what you think!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/01/language-learning-guide#comments" title="Jump to the first comment of this posting.">13 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/01/language-learning-guide" title="Read the rest of Language learning guide?.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F01%2Flanguage-learning-guide&amp;linkname=Language%20learning%20guide%3F" id="da2a_9"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
