---
permalink: /tags/fear-of-speaking/
layout: base-old
title: 'fear of speaking'
language: en
translation: 
---
<div class="node node-story clear-block" id="node-226">
<h2 class="node-title"><a href="/blog/2013/01/get-over-your-fear-of-speaking-in-a-foreign-language-without-leaving-your-house" title="Get over your fear of speaking in a foreign language (without leaving your house!)">Get over your fear of speaking in a foreign language (without leaving your house!)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">9</strong> <strong class="month">Jan</strong> <strong class="year">2013</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_79 first active"><a class="active" href="/tags/fear-of-speaking" rel="tag" title="">fear of speaking</a></li>
<li class="taxonomy_term_29 last"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2013/01/fear.jpg" rel="lightbox"><img alt="FEAR" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2013/01/fear.jpg" title="Photo by wilderdom"/></a><div class="caption"><a href="http://www.flickr.com/photos/wilderdom/266650346/">Photo</a> by <a href="http://www.flickr.com/photos/wilderdom/">wilderdom</a></div></div>
<p><em>Have you ever tried to speak in a foreign language ... but your mind just went blank?</em></p>
<p><em>Then afterwards the words simply came to you?</em></p>
<p><strong>You are not alone!</strong></p>
<p>Fear of speaking a foreign language is sooo common that psychologists have even given it name: <a href="http://en.wikipedia.org/wiki/Foreign_language_anxiety">Foreign language anxiety</a>.</p>
<p>According to linguistic Stephen Krashen - one of the foremost experts on how humans naturally learn languages - this anxiety has a strong <a href="http://en.wikipedia.org/wiki/Input_hypothesis#Affective_filter_hypothesis">negative impact</a> on your ability to use a language!</p>
<p><strong>If you want to actually speak in the language you are learning, you will NEED to get over this fear.</strong></p>
<p>However, it's almost never addressed directly in language learning courses!</p>
<p>Today, I'm going to give you some tips for getting over your fear of speaking (without even leaving your house)!</p>
<p><strong>Read more to find out how!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2013/01/get-over-your-fear-of-speaking-in-a-foreign-language-without-leaving-your-house#comments" title="Jump to the first comment of this posting.">34 comments</a></li>
<li class="node_read_more"><a href="/blog/2013/01/get-over-your-fear-of-speaking-in-a-foreign-language-without-leaving-your-house" title="Read the rest of Get over your fear of speaking in a foreign language (without leaving your house!).">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2013%2F01%2Fget-over-your-fear-of-speaking-in-a-foreign-language-without-leaving-your-house&amp;linkname=Get%20over%20your%20fear%20of%20speaking%20in%20a%20foreign%20language%20%28without%20leaving%20your%20house%21%29" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-187">
<h2 class="node-title"><a href="/blog/2012/07/nobody-will-laugh-at-you-really" title="Nobody will laugh at you, really!">Nobody will laugh at you, really!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">13</strong> <strong class="month">Jul</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_79 first active"><a class="active" href="/tags/fear-of-speaking" rel="tag" title="">fear of speaking</a></li>
<li class="taxonomy_term_29"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_86 last"><a href="/tags/learner-stories" rel="tag" title="">learner stories</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<p><em>As <a href="http://www.linguatrek.com/blog/2012/05/3-super-simple-speaking-strategies">I wrote</a> a few weeks ago, I want to focus on the things <em>I didn't write about</em> in my <a href="http://www.linguatrek.com/blog/2012/04/3-steps-to-speaking-a-language-fluently-ebook-excerpt">ebook</a>, mainly: <a href="http://www.linguatrek.com/blog/2011/05/how-to-overcome-your-fear-of-speaking">fear of speaking</a> and strategies to practice speaking.</em></p>
<p><em>I'd also like to start sharing the stories of other learners. I get to hear your stories with language learning (usually in private e-mail). And you've already gotten to hear my story told 100 different ways. But you haven't gotten to hear each other's stories yet.</em></p>
<p><em>Today, we have a guest post from <a href="http://www.questforepicness.com/">Ilhan</a> - an aerospace engineering student in Munich, Germany and a reader of this blog - sharing his story and talking about his fear of speaking, what causes it along with strategies, advice and thoughts to help overcome it. Enjoy!</em></p>
<hr/>
<p style="text-align: center;"><a href="http://smg.photobucket.com/albums/v487/Aquilion/?action=view&amp;current=nobodywilllaughatyou.jpg" target="_blank"><img alt="Photobucket" border="0" src="http://img.photobucket.com/albums/v487/Aquilion/nobodywilllaughatyou.jpg"/></a><br/>Image courtesy of <a href="http://www.freedigitalphotos.net">FreeDigitalPhotos.net</a></p>
<p>It was happening again. My hands were shaking. My mouth was dry.  I stared at the ground. My shoulders dropped. My head bent in shame.  Just five minutes ago I had a great conversation with Francisco, one of my best buddies. The conversation was in Spanish, my “target language” for several years now.</p>
<p>But now my tongue was tied and my mind was cluttered. I couldn’t get a word out in Spanish.  Whenever I was spoken to I replied in German. I was ashamed of this fact. What was going on?</p>
<p><strong>Read more to find out!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/07/nobody-will-laugh-at-you-really#comments" title="Jump to the first comment of this posting.">5 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/07/nobody-will-laugh-at-you-really" title="Read the rest of Nobody will laugh at you, really!.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F07%2Fnobody-will-laugh-at-you-really&amp;linkname=Nobody%20will%20laugh%20at%20you%2C%20really%21" id="da2a_2"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-160">
<h2 class="node-title"><a href="/blog/2012/05/do-i-need-to-speak-from-day-one" title="Do I NEED to speak from day one?">Do I NEED to speak from day one?</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">29</strong> <strong class="month">May</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_78 first"><a href="/tags/benny-lewis" rel="tag" title="">Benny Lewis</a></li>
<li class="taxonomy_term_79 active"><a class="active" href="/tags/fear-of-speaking" rel="tag" title="">fear of speaking</a></li>
<li class="taxonomy_term_29"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_60 last"><a href="/tags/speaking" rel="tag" title="">speaking</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/05/butterfly.jpg" rel="lightbox"><img alt="Butterfly" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/05/butterfly.jpg" title="Photo by Gustavo Durán"/></a><div class="caption"><a href="http://www.flickr.com/photos/67662120@N00/2986020135">Photo</a> by <a href="http://www.flickr.com/photos/trekman/">Gustavo Durán</a></div></div>
<p>This is topic widely discussed and disagreed upon in the language learning community. One of biggest advocates of speaking immediately is Benny Lewis, author of the <a href="http://www.fluentin3months.com/">Fluent in 3 Months</a> blog and creator of the <a href="http://speakfromday1.com/faq/">Speak From Day 1</a> video course.</p>
<p>In the <a href="http://speakfromday1.com/faq/">FAQ</a> for that product, he writes: (<em>some emphasis added</em>)</p>
<blockquote>
<p>Rather than read through the guide and watch all the videos to find out my one major 'secret', I can tell you right now: <strong>you need to speak the language immediately.</strong></p>
<p>No years of studying grammar, no expensive and complicated software, no "magic pill" to master a language while you sleep, you just need to speak it. Speak it regularly, speak it confidently, and speak it immediately. <strong>The more you speak, the quicker you will improve.</strong></p>
</blockquote>
<p>Now, I'm a BIG fan of Benny. He recently gave me the amazing opportunity to write a <a href="http://www.fluentin3months.com/polish/">guest post on his blog</a>.

</p><p>But in this particular point, I disagree. I don't think you <em>NEED</em> to speak from day one.</p>
<p><strong>Read more to find out why!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/05/do-i-need-to-speak-from-day-one#comments" title="Jump to the first comment of this posting.">30 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/05/do-i-need-to-speak-from-day-one" title="Read the rest of Do I NEED to speak from day one?.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F05%2Fdo-i-need-to-speak-from-day-one&amp;linkname=Do%20I%20NEED%20to%20speak%20from%20day%20one%3F" id="da2a_3"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-71">
<h2 class="node-title"><a href="/blog/2011/05/how-to-overcome-your-fear-of-speaking" title="How to overcome your fear of speaking">How to overcome your fear of speaking</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">24</strong> <strong class="month">May</strong> <strong class="year">2011</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Read this text with BiblioBird!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_79 first active"><a class="active" href="/tags/fear-of-speaking" rel="tag" title="">fear of speaking</a></li>
<li class="taxonomy_term_29"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_60 last"><a href="/tags/speaking" rel="tag" title="">speaking</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/05/panic.jpg" rel="lightbox"><img alt="Woman with panicked look on her face" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/05/panic.jpg" title="&quot;I want to speak but I'm afraid!&quot;  Photo by Nate Steiner."/></a><div class="caption"><em>"I want to speak but I'm afraid!"</em> <a href="http://www.flickr.com/photos/44124484443@N01/321938695">Photo</a> by <a href="http://www.flickr.com/photos/nate/">Nate Steiner</a>.</div></div>
<p><em>No matter how well you know a language, you can't communicate with anyone if you're afraid to use it.</em></p>
<p>While it might not seem like this has anything to do with <em>language learning</em>, this is a problem that affects a lot of people.  <em>Even me</em>!</p>
<p>For a long a time, I was afraid to speak the languages I was learning (Polish and Russian).  I still have trouble getting the courage to speak in certain situations (ex. on the telephone) or with certain people.  It isn't something that I got over immediately, but I've slowly improved over several years.</p>
<p><strong>Read more to learn how I got over my fear of speaking and how <em>you</em> can too!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comments" title="Jump to the first comment of this posting.">69 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/05/how-to-overcome-your-fear-of-speaking" title="Read the rest of How to overcome your fear of speaking.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F05%2Fhow-to-overcome-your-fear-of-speaking&amp;linkname=How%20to%20overcome%20your%20fear%20of%20speaking" id="da2a_4"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
