---
permalink: /tags/grammar/
layout: base-old
title: 'grammar'
language: en
translation: 
---
<div class="node node-story clear-block" id="node-237">
<h2 class="node-title"><a href="/blog/2013/01/the-key-to-understanding-english-tenses" title="The key to understanding English tenses!">The key to understanding English tenses!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">29</strong> <strong class="month">Jan</strong> <strong class="year">2013</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_17 first active"><a class="active" href="/tags/grammar" rel="tag" title="">grammar</a></li>
<li class="taxonomy_term_2"><a href="/category/language-learning/learn-english" rel="tag" title="">learn English</a></li>
<li class="taxonomy_term_95 last"><a href="/tags/tenses" rel="tag" title="">tenses</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 107px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2013/01/alarmclock.jpg" rel="lightbox"><img alt="Alarm clock" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2013/01/alarmclock.jpg" title="Photo by Alan Cleaver"/></a><div class="caption"><a href="http://www.flickr.com/photos/11121568@N06/4293345631">Photo</a> by <a href="http://www.flickr.com/photos/alancleaver/">Alan Cleaver</a></div></div>
<p>Every language has <em>some</em> difficult bit.</p>
<p>It's that one aspect of the language that you'll be working on over and over again the whole time that you're learning it.</p>
<p>For English, it's <em>verb tenses.</em></p>
<p>Counting the way the teachers usually do, <strong>English has 14-16 tenses.</strong> <em>(There's many ways to count them!)</em></p>
<p>No matter what the exact number - the point is that English has a very complex verb system. I get TONS of questions from English learners about which tense is correct in a particular sentence.</p>
<p>A couple weeks ago, during one of our <a href="https://pl.bibliobird.com/spotkania-premium-przez-czat-g%C5%82osowy">English lessons over voice chat</a>, a learner (<em>Hi Marcin!</em>) asked me:</p>
<blockquote>
<p>Why did you say: "I was using it as an example?" Why not: "I used it as an example?" You weren't talking about it very long - shouldn't it be <em>past simple</em> instead of <em>past continuous</em>?</p>
</blockquote>
<p><strong>The answer is actually quite simple. And it ISN'T a grammar explanation. ;-) Really! I won't need to draw a picture or show you a chart.</strong></p>
<p>In fact, all this confusion comes from a <em>fundamental misunderstanding</em> about English tenses, which itself stems from years and years of teachers explaining the tenses in a particular way.</p>
<p>Today, I'm <em>finally</em> going to clear up this misunderstanding!</p>
<p><strong>Read more to learn the key to understanding English tenses!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2013/01/the-key-to-understanding-english-tenses#comments" title="Jump to the first comment of this posting.">30 comments</a></li>
<li class="node_read_more"><a href="/blog/2013/01/the-key-to-understanding-english-tenses" title="Read the rest of The key to understanding English tenses!.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2013%2F01%2Fthe-key-to-understanding-english-tenses&amp;linkname=The%20key%20to%20understanding%20English%20tenses%21" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-89">
<h2 class="node-title"><a href="/blog/2011/08/what-is-grammar-good-for" title="What is grammar good for?">What is grammar good for?</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">31</strong> <strong class="month">Aug</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_17 first active"><a class="active" href="/tags/grammar" rel="tag" title="">grammar</a></li>
<li class="taxonomy_term_29 last"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 120px; margin: 10px 0 10px 10px"><a href="http://www.youtube.com/watch?v=41cJUliIuH0" rel="lightbox"><img alt='Jackie Chan and Chris Tucker singing "e;War!"e; in the film Rush Hour' src="http://img.youtube.com/vi/41cJUliIuH0/default.jpg"/></a><div class="caption">Just <a href="http://www.youtube.com/watch?v=41cJUliIuH0">ask Jackie Chan</a>!  "Grammar.  Huh, yeah.  What is it good for?  Absolutely nothing!"</div></div>
<p>Occasionally I write articles about grammar (like I did <a href="http://www.linguatrek.com/blog/2011/08/the-first-grammar-you-should-learn-in-polish">last week</a>).  I always feel a little weird writing about grammar, because, in general, I don't advocate studying grammar, <em>particularly</em> <a href="http://www.linguatrek.com/blog/2010/11/dont-start-learning-polish-grammar">not in the beginning</a>.</p>
<p>However, studying some grammar when you've already got some fundamentals in the language <em>can</em> be helpful!</p>
<p><strong>Read more to find out how!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/08/what-is-grammar-good-for#comments" title="Jump to the first comment of this posting.">9 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/08/what-is-grammar-good-for" title="Read the rest of What is grammar good for?.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F08%2Fwhat-is-grammar-good-for&amp;linkname=What%20is%20grammar%20good%20for%3F" id="da2a_2"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-88">
<h2 class="node-title"><a href="/blog/2011/08/the-first-grammar-you-should-learn-in-polish" title="The first grammar you should learn in Polish">The first grammar you should learn in Polish</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">23</strong> <strong class="month">Aug</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_17 first active"><a class="active" href="/tags/grammar" rel="tag" title="">grammar</a></li>
<li class="taxonomy_term_1 last"><a href="/category/language-learning/learn-polish" rel="tag" title="">learn Polish</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/08/schoolhousedolls.jpg" rel="lightbox"><img alt="Model of a teacher and two students in a school house" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/08/schoolhousedolls.jpg" title="&quot;It's time to learn Polish grammar, children!&quot; Photo by F Delventhal."/></a><div class="caption">"It's time to learn Polish grammar, children!" <a href="http://www.flickr.com/photos/13194817@N00/3167502248">Photo</a> by <a href="http://www.flickr.com/people/krossbow/">F Delventhal</a>.</div></div>
<p>As <a href="http://www.linguatrek.com/blog/2010/11/dont-start-learning-polish-grammar">I've written before</a>, learning Polish shouldn't start with grammar.  You should start by doing a lot of listening, learning vocabulary and maybe some speaking (possibly <a href="http://www.linguatrek.com/blog/2011/06/experiment-in-shadowing">shadowing</a>).</p>
<p>While using these techniques, it's often helpful to have a <em>basic</em> understanding of Polish grammar, so you know what patterns to look for.  (See <a href="http://www.linguatrek.com/blog/2010/11/polish-grammar-overview-for-complete-beginners">my overview of Polish grammar</a>.)</p>
<p><strong>But, before you focus on grammar, you should first understand some fundamentals of the language.</strong>  This way, the grammar will make more sense and actually <em>mean something</em> to you.</p>
<p><strong>So now you've reach that point.</strong> <em>Congratulations!</em>  It's time to start studying Polish grammar. :-)</p>
<p>But there's so much to learn - what should you start with?</p>
<p><strong>Read more for my advice!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/08/the-first-grammar-you-should-learn-in-polish#comments" title="Jump to the first comment of this posting.">24 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/08/the-first-grammar-you-should-learn-in-polish" title="Read the rest of The first grammar you should learn in Polish.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F08%2Fthe-first-grammar-you-should-learn-in-polish&amp;linkname=The%20first%20grammar%20you%20should%20learn%20in%20Polish" id="da2a_3"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-23">
<h2 class="node-title"><a href="/blog/2010/11/polish-grammar-overview-for-complete-beginners" title="Polish Grammar Overview for Complete Beginners">Polish Grammar Overview for Complete Beginners</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">24</strong> <strong class="month">Nov</strong> <strong class="year">2010</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_17 first active"><a class="active" href="/tags/grammar" rel="tag" title="">grammar</a></li>
<li class="taxonomy_term_1 last"><a href="/category/language-learning/learn-polish" rel="tag" title="">learn Polish</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/11/inquisitive-3.jpg" rel="lightbox"><img alt="Girl with inquisitive look" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/11/inquisitive-3.jpg" title="Photo by caryatidxx on Flickr"/></a><div class="caption">I wonder about Polish grammar?  <a href="http://www.flickr.com/photos/34977199@N02/4059418418/">Photo</a> by <a href="http://www.flickr.com/photos/dearlydeparted/">caryatidxx</a> on Flickr.</div></div>
<p>A big part of language learning is paying attention to patterns.  But when first starting a language, everything is so new, it's hard to even know what you are looking for!</p>
<p>I <a href="http://www.linguatrek.com/blog/2010/11/dont-start-learning-polish-grammar">don't advocate</a> starting to learn Polish by studying the grammar.  But having a general idea of what the grammar is about, can help you recognize patterns and pick up some of the grammar naturally, just from exposure to the language.</p>
<p>What follows is a brief overview of Polish grammar.  None of the actual grammar rules are given!  Just a quick description of what you can expect to find in Polish, intended for the complete beginner.</p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2010/11/polish-grammar-overview-for-complete-beginners#comments" title="Jump to the first comment of this posting.">45 comments</a></li>
<li class="node_read_more"><a href="/blog/2010/11/polish-grammar-overview-for-complete-beginners" title="Read the rest of Polish Grammar Overview for Complete Beginners.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2010%2F11%2Fpolish-grammar-overview-for-complete-beginners&amp;linkname=Polish%20Grammar%20Overview%20for%20Complete%20Beginners" id="da2a_4"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-7">
<h2 class="node-title"><a href="/blog/2010/11/dont-start-learning-polish-grammar" title="Don't Start Learning Polish with the Grammar!">Don't Start Learning Polish with the Grammar!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">5</strong> <strong class="month">Nov</strong> <strong class="year">2010</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_17 first active"><a class="active" href="/tags/grammar" rel="tag" title="">grammar</a></li>
<li class="taxonomy_term_1 last"><a href="/category/language-learning/learn-polish" rel="tag" title="">learn Polish</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/11/spanish_classroom.jpg" rel="lightbox"><img alt="Adult students in a Spanish language classroom" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/11/spanish_classroom.jpg" title="Photo by joeshlabotnik on Flickr"/></a><div class="caption">Adult students in a Spanish language classroom. <a href="http://www.flickr.com/photos/joeshlabotnik/2112935897/">Photo</a> by <a href="http://www.flickr.com/photos/joeshlabotnik/">joeshlabotnik</a> on Flickr.</div></div>
<p>When we were in <a href="http://en.wikipedia.org/wiki/Krak%C3%B3w">Kraków, Poland</a>, I met a lot of foreigners just starting to learn <a href="http://en.wikipedia.org/wiki/Polish_language">Polish</a>.  One of the main complaints was that Polish grammar is so complicated.  Most Polish language courses, textbooks and teachers start by saying, "Learn all the grammar rules first and then we can continue."</p>
<p><strong>This can kill your motovation and won't really get you any closer to your goal: to speak and understand Polish!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2010/11/dont-start-learning-polish-grammar#comments" title="Jump to the first comment of this posting.">15 comments</a></li>
<li class="node_read_more"><a href="/blog/2010/11/dont-start-learning-polish-grammar" title="Read the rest of Don't Start Learning Polish with the Grammar!.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2010%2F11%2Fdont-start-learning-polish-grammar&amp;linkname=Don%27t%20Start%20Learning%20Polish%20with%20the%20Grammar%21" id="da2a_5"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
