---
permalink: /tags/group-project/
layout: base-old
title: 'group project'
language: pl
translation: 
---
<div class="node node-story clear-block" id="node-213">
<h2 class="node-title"><a href="/blog/2012/10/czytajmy-w-obcym-j%C4%99zyku-projekt-grupowy" title="Czytajmy w obcym języku! (projekt grupowy)">Czytajmy w obcym języku! (projekt grupowy)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">16</strong> <strong class="month">paź</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_91 first active"><a class="active" href="/tags/group-project" rel="tag" title="">group project</a></li>
<li class="taxonomy_term_29 last"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="pl" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/10/dogreading.jpg" rel="lightbox"><img alt="Dog reading" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/10/dogreading.jpg" title="Zdjęcia autorstwa Francisco Martins"/></a><div class="caption"><a href="http://www.flickr.com/photos/65768710@N00/2200198472">Zdjęcia</a> autorstwa <a href="http://www.flickr.com/photos/betta_design/">Francisco Martins</a></div></div>
<p>Ostatnio byłem tak zajęty z Bibliobirdem i tworzeniem <a href="http://www.linguatrek.com/blog/2012/10/real-life-in-the-usa-nasz-produkt-do-nauki-j%C4%99zyka-angielskiego-wystartowa%C5%82">naszego produktu do nauki j. angielskiego</a>, że musiałem przestać się uczyć polskiego.</p>
<p>Nauczyłem się j. polskiego <a href="http://www.linguatrek.com/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego">przeważnie dzięki czytaniu i słuchaniu książek</a> w języku polskim - <strong>jednak od MIESIĘCY niczego nie czytałem!</strong> Co więcej, w czerwcu zrezygnowałem ze wszystkich moich <a href="http://www.linguatrek.com/tags/language-exchange">wymian językowych</a> z powodu braku czasu.</p>
<p><strong>Ale po wypuszczeniu naszego produktu, jest już czas wrócić do nauki polskiego!</strong> Właśnie dostałem nową książkę (i audiobook!), którą poleciło mi kilku użytkowników Bibliobirda: <strong><a href="http://pl.wikipedia.org/wiki/Cylinder_van_Troffa">Cylinder van Troffa</a> Janusza Zajdla.</strong></p>
<p>Przez następne <em>cztery tygodnie</em> będę czytał i słuchał jej korzystając z metody, którą <a href="http://www.linguatrek.com/blog/2012/04/vlog-naturalna-nauka-j%C4%99zyka-bez-nauczyciela">opisałem w moim DARMOWYM ebooku</a> - i będę dzielił się moimi postępami publicznie.</p>
<p><strong>Czy myślałeś o czytaniu i słuchaniu czegoś w języku angielskim, polskim albo jakimkolwiek języku, którego się uczysz? <em>Czytaj razem ze mną i również dziel się swoimi postępami!</em></strong></p>
<p>Dwa z największych wyzwań w nauce języka to:</p>
<ul>
<li><strong>Zacząć</strong> - jest <em>taaak łatwo</em> to odwlekać, i</li>
<li><strong>Trzymać motywację</strong> - PAMIĘTAJ: <a href="http://www.linguatrek.com/blog/2011/03/the-three-ingredients-for-successful-language-learning">jedyny sposób, żeby nie nauczyć się języka to poddać się!</a></li>
</ul>
<p>Mam nadzieję, że taki <em>projekt grupowy</em> będzie dobrym powodem, żeby zacząć JUŻ TERAZ! I podzielenie się naszymi postępami będzie pomocą w utrzymaniu motywacji.</p>
<p><strong>Czytaj więcej, żeby dowiedzieć się o moich planach i jak TY możesz brać udział!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/10/czytajmy-w-obcym-j%C4%99zyku-projekt-grupowy#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">6 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2012/10/czytajmy-w-obcym-j%C4%99zyku-projekt-grupowy" title="Wyświetla dalszą część wpisu Czytajmy w obcym języku! (projekt grupowy).">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F10%2Fczytajmy-w-obcym-j%25C4%2599zyku-projekt-grupowy&amp;linkname=Czytajmy%20w%20obcym%20j%C4%99zyku%21%20%28projekt%20grupowy%29" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
