---
permalink: /tags/halloween/
layout: base-old
title: 'Halloween'
language: pl
translation: 
---
<div class="node node-story clear-block" id="node-2">
<h2 class="node-title"><a href="/blog/2010/10/halloween-adults" title="Halloween for Adults!">Halloween for Adults!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">31</strong> <strong class="month">paź</strong> <strong class="year">2010</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Czytaj ten tekst z BiblioBirdem!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_41 first active"><a class="active" href="/tags/halloween" rel="tag" title="">Halloween</a></li>
<li class="taxonomy_term_6"><a href="/tags/holidays" rel="tag" title="">holidays</a></li>
<li class="taxonomy_term_32"><a href="/category/culture/usa" rel="tag" title="">USA</a></li>
<li class="taxonomy_term_4 last"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-left" style="float: left; width: 160px; margin: 10px 10px 10px 0"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/10/halloween-2010-01.jpg" rel="lightbox"><img alt="Adults dressed in costumes." src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/10/halloween-2010-01.jpg" title="Adults at a Halloween costume party."/></a><div class="caption">Adults at a Halloween costume party.</div></div>
<p><a href="http://en.wikipedia.org/wiki/Halloween">Halloween</a> has always been one of my favorite holidays.  Kids get to dress up as superheroes, ghosts or monsters, go door-to-door with their friends saying "Trick or Treat" and get lots of candy.  What kid wouldn't love that?  Frequently, when we were children, I dressed up as a knight with a shield and sword and my sister dressed up as a princess.</p>
<p>But Halloween isn't only for children!</p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2010/10/halloween-adults#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">2 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2010/10/halloween-adults" title="Wyświetla dalszą część wpisu Halloween for Adults!.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2010%2F10%2Fhalloween-adults&amp;linkname=Halloween%20for%20Adults%21" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
