---
permalink: /tags/holiday/
layout: base-old
title: 'holiday'
language: pl
translation: 
---
<div class="node node-story clear-block" id="node-82">
<h2 class="node-title"><a href="/blog/2011/07/vlog-patriotyzm-w-usa" title="Vlog: Patriotyzm w USA">Vlog: Patriotyzm w USA</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">8</strong> <strong class="month">lip</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_6 first active"><a class="active" href="/tags/holiday" rel="tag" title="">holiday</a></li>
<li class="taxonomy_term_13"><a href="/tags/usa" rel="tag" title="">USA</a></li>
<li class="taxonomy_term_4 last"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="pl" data-to-lang="en">
<p>Właśnie był <a href="http://pl.wikipedia.org/wiki/Dzie%C5%84_Niepodleg%C5%82o%C5%9Bci_Stan%C3%B3w_Zjednoczonych">Dzień Niepodległości</a> w Stanach Zjednoczonych więc dzisiaj zdecydowałem poruszyć temat patriotyzm w USA!</p>
<p>Niestety tylko bardzo mało nagrałem na imprezie w samym Dniu Niepodległości ale jest tego trochę i będzie więcej w następnym roku. :-)</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/0cvbz-Q_JVY?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/0cvbz-Q_JVY?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Proszę podaj mi poprawki do tego filmiku <a href="http://lang-8.com/10069/journals/1004471/Patriotyzm-w-USA">w serwisie Lang-8</a>.  <a href="http://www.linguatrek.com/blog/2011/07/the-declaration-of-independence">Oto jest filmik</a> na temat Deklaracji Niepodległości, o którym mówiłem.</p>
<p><strong>Czytaj transkrypcję poniżej!</strong></p>
</div>
<ul class="links inline"><li class="comment_add first"><a href="/comment/reply/82#comment-form" title="Pozwala dodać nową odpowiedź do tej strony.">Odpowiedz</a></li>
<li class="node_read_more"><a href="/blog/2011/07/vlog-patriotyzm-w-usa" title="Wyświetla dalszą część wpisu Vlog: Patriotyzm w USA.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F07%2Fvlog-patriotyzm-w-usa&amp;linkname=Vlog%3A%20Patriotyzm%20w%20USA" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
var a2a_config = a2a_config || {}, da2a = {ready: false, html_ready: false, script_ready: false, script_onready: function() { da2a.script_ready = true; if(da2a.html_ready)da2a.init(); }}; a2a_config.tracking_callback = ['ready', da2a.script_onready];
(function(){var a = document.createElement('script');a.type = 'text/javascript';a.async = true;a.src = 'http://static.addtoany.com/menu/page.js';var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(a, s);})();
//--><!]]>
</script>
</span></li>
</ul></div>
