---
permalink: /tags/holidays/
layout: base-old
title: 'holidays'
language: pl
translation: 
---
<div class="node node-story clear-block" id="node-82">
<h2 class="node-title"><a href="/blog/2011/07/vlog-patriotyzm-w-usa" title="Vlog: Patriotyzm w USA">Vlog: Patriotyzm w USA</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">8</strong> <strong class="month">lip</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_6 first active"><a class="active" href="/tags/holidays" rel="tag" title="">holidays</a></li>
<li class="taxonomy_term_61"><a href="/tags/independence-day" rel="tag" title="">Independence Day</a></li>
<li class="taxonomy_term_32"><a href="/category/culture/usa" rel="tag" title="">USA</a></li>
<li class="taxonomy_term_4 last"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Właśnie był <a href="http://pl.wikipedia.org/wiki/Dzie%C5%84_Niepodleg%C5%82o%C5%9Bci_Stan%C3%B3w_Zjednoczonych">Dzień Niepodległości</a> w Stanach Zjednoczonych więc dzisiaj zdecydowałem poruszyć temat patriotyzm w USA!</p>
<p>Niestety tylko bardzo mało nagrałem na imprezie w samym Dniu Niepodległości ale jest tego trochę i będzie więcej w następnym roku. :-)</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/0cvbz-Q_JVY?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/0cvbz-Q_JVY?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Proszę podaj mi poprawki do tego filmiku <a href="http://lang-8.com/10069/journals/1004471/Patriotyzm-w-USA">w serwisie Lang-8</a>.  <a href="http://www.linguatrek.com/blog/2011/07/the-declaration-of-independence">Oto jest filmik</a> na temat Deklaracji Niepodległości, o którym mówiłem.</p>
<p><strong>Czytaj transkrypcję poniżej!</strong></p>
</div>
<ul class="links inline"><li class="comment_add first"><a href="/comment/reply/82#comment-form" title="Pozwala dodać nową odpowiedź do tej strony.">Odpowiedz</a></li>
<li class="node_read_more"><a href="/blog/2011/07/vlog-patriotyzm-w-usa" title="Wyświetla dalszą część wpisu Vlog: Patriotyzm w USA.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F07%2Fvlog-patriotyzm-w-usa&amp;linkname=Vlog%3A%20Patriotyzm%20w%20USA" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-81">
<h2 class="node-title"><a href="/blog/2011/07/the-declaration-of-independence" title="The Declaration of Independence">The Declaration of Independence</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">5</strong> <strong class="month">lip</strong> <strong class="year">2011</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Czytaj ten tekst z BiblioBirdem!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_6 first active"><a class="active" href="/tags/holidays" rel="tag" title="">holidays</a></li>
<li class="taxonomy_term_61"><a href="/tags/independence-day" rel="tag" title="">Independence Day</a></li>
<li class="taxonomy_term_32 last"><a href="/category/culture/usa" rel="tag" title="">USA</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Yesterday was the 4th of July which is <a href="http://en.wikipedia.org/wiki/Independence_Day_(United_States)">Independence Day</a> in the United States.  It's a day of barbecues, parades and fireworks to commemorate the signing of the <a href="http://en.wikipedia.org/wiki/Declaration_of_Independence">Declaration of Independence</a> from Britain in 1776.  It is the most important national holiday in our country.</p>
<p>Here is a short video about the Declaration of Independence:</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/yb7MI8NQLoo?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/yb7MI8NQLoo?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p><strong>Read more for a transcript with translations into Polish!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/07/the-declaration-of-independence#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">1 odpowiedź</a></li>
<li class="node_read_more"><a href="/blog/2011/07/the-declaration-of-independence" title="Wyświetla dalszą część wpisu The Declaration of Independence.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F07%2Fthe-declaration-of-independence&amp;linkname=The%20Declaration%20of%20Independence" id="da2a_2"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-62">
<h2 class="node-title"><a href="/blog/2011/04/the-history-of-easter" title="The History of Easter">The History of Easter</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">26</strong> <strong class="month">kwi</strong> <strong class="year">2011</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Czytaj ten tekst z BiblioBirdem!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_55 first"><a href="/tags/easter" rel="tag" title="">Easter</a></li>
<li class="taxonomy_term_6 active"><a class="active" href="/tags/holidays" rel="tag" title="">holidays</a></li>
<li class="taxonomy_term_30 last"><a href="/category/culture" rel="tag" title="">culture</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<iframe allowfullscreen="" frameborder="0" height="317" src="http://www.youtube.com/embed/eJYXMIJrhRI?rel=0" style="margin-bottom: 20px" title="YouTube video player" width="510"></iframe>
<p><strong>Read more for the transcript!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/04/the-history-of-easter#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">4 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2011/04/the-history-of-easter" title="Wyświetla dalszą część wpisu The History of Easter.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F04%2Fthe-history-of-easter&amp;linkname=The%20History%20of%20Easter" id="da2a_3"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-59">
<h2 class="node-title"><a href="/blog/2011/04/the-biggest-april-fools-day-hoax" title="The biggest April Fools' Day hoax!">The biggest April Fools' Day hoax!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">1</strong> <strong class="month">kwi</strong> <strong class="year">2011</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Czytaj ten tekst z BiblioBirdem!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_53 first"><a href="/tags/april-fools-day" rel="tag" title="">April Fools' Day</a></li>
<li class="taxonomy_term_6 active"><a class="active" href="/tags/holidays" rel="tag" title="">holidays</a></li>
<li class="taxonomy_term_30 last"><a href="/category/culture" rel="tag" title="">culture</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Today is <a href="http://en.wikipedia.org/wiki/April_fools'_day">April Fools' Day</a>!  A day when people play tricks on their friends who may have forgotten to check the date in the morning.</p>
<p>Even a few organizations join in the fun!  Many newspapers, television stations and internet sites (like Google) have pulled April Fools' Day pranks, including the famous BBC <a href="http://en.wikipedia.org/wiki/Spaghetti_tree">spaghetti tree hoax</a>.</p>
<p>On April 1st, 1957, an estimated 8 million people watched the 3 minute report on television.  In the 1950s, spaghetti was not an everyday food in Britain and few people knew how it was produced.  <strong>Watch it yourself in the following video!</strong></p>
<iframe allowfullscreen="" frameborder="0" height="317" src="http://www.youtube.com/embed/yl-dtufFR-w?rel=0" style="margin-bottom: 20px" title="YouTube video player" width="510"></iframe>
<p><strong>Read the transcript below!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/04/the-biggest-april-fools-day-hoax#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">1 odpowiedź</a></li>
<li class="node_read_more"><a href="/blog/2011/04/the-biggest-april-fools-day-hoax" title="Wyświetla dalszą część wpisu The biggest April Fools' Day hoax!.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F04%2Fthe-biggest-april-fools-day-hoax&amp;linkname=The%20biggest%20April%20Fools%27%20Day%20hoax%21" id="da2a_4"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-46">
<h2 class="node-title"><a href="/blog/2011/02/history-of-valentines-day" title="History of Valentine's Day">History of Valentine's Day</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">14</strong> <strong class="month">lut</strong> <strong class="year">2011</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Czytaj ten tekst z BiblioBirdem!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_6 first active"><a class="active" href="/tags/holidays" rel="tag" title="">holidays</a></li>
<li class="taxonomy_term_51"><a href="/tags/valentines-day" rel="tag" title="">Valentine's Day</a></li>
<li class="taxonomy_term_30 last"><a href="/category/culture" rel="tag" title="">culture</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Today is Valentine's Day!  Watch this interesting video about the history of the holiday from the History channel:</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/Rs6xesanxNM?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/Rs6xesanxNM?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Read more for the transcript!</p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/02/history-of-valentines-day#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">1 odpowiedź</a></li>
<li class="node_read_more"><a href="/blog/2011/02/history-of-valentines-day" title="Wyświetla dalszą część wpisu History of Valentine's Day.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F02%2Fhistory-of-valentines-day&amp;linkname=History%20of%20Valentine%27s%20Day" id="da2a_5"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-37">
<h2 class="node-title"><a href="/blog/2011/01/vlog-alkohol-i-sylwester-2011-w-stanach-zjednoczonych" title="Vlog: Alkohol i Sylwester 2011 w Stanach Zjednoczonych">Vlog: Alkohol i Sylwester 2011 w Stanach Zjednoczonych</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">5</strong> <strong class="month">sty</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_6 first active"><a class="active" href="/tags/holidays" rel="tag" title="">holidays</a></li>
<li class="taxonomy_term_48"><a href="/tags/new-years-eve" rel="tag" title="">New Year's Eve</a></li>
<li class="taxonomy_term_4"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
<li class="taxonomy_term_31 last"><a href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Dzisiaj mówię krótko na temat alkoholu i Sylwestra w Stanach i potem pokazuję to, co nagrałem na Sylwestra.  Mam nadzieję, że to jest ciekawe!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/mGbzBPWs0jA?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/mGbzBPWs0jA?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Czytaj transkrypcję poniżej!</p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/01/vlog-alkohol-i-sylwester-2011-w-stanach-zjednoczonych#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">2 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2011/01/vlog-alkohol-i-sylwester-2011-w-stanach-zjednoczonych" title="Wyświetla dalszą część wpisu Vlog: Alkohol i Sylwester 2011 w Stanach Zjednoczonych.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F01%2Fvlog-alkohol-i-sylwester-2011-w-stanach-zjednoczonych&amp;linkname=Vlog%3A%20Alkohol%20i%20Sylwester%202011%20w%20Stanach%20Zjednoczonych" id="da2a_6"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-35">
<h2 class="node-title"><a href="/blog/2010/12/vlog-bo%C5%BCe-narodzenia-w-stanach" title="Vlog: Boże Narodzenia w Stanach">Vlog: Boże Narodzenia w Stanach</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">29</strong> <strong class="month">gru</strong> <strong class="year">2010</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_42 first"><a href="/tags/christmas" rel="tag" title="">Christmas</a></li>
<li class="taxonomy_term_6 active"><a class="active" href="/tags/holidays" rel="tag" title="">holidays</a></li>
<li class="taxonomy_term_32"><a href="/category/culture/usa" rel="tag" title="">USA</a></li>
<li class="taxonomy_term_4 last"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Dzisiaj mówię na temat Bożego Narodzenia w Stanach Zjednoczonych i trochę pokażuję, jak moja rodzina obchodzi to święto.  Też mamy "tajemnica", z którą potrzebujemy pomocy od Polaków!  Proszę obejrzyj filmik i napisz komentarze, żeby nam pomóc!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/8CnfGj1nmkk?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/8CnfGj1nmkk?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Czytaj transkrypcję poniżej!</p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2010/12/vlog-bo%C5%BCe-narodzenia-w-stanach#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">7 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2010/12/vlog-bo%C5%BCe-narodzenia-w-stanach" title="Wyświetla dalszą część wpisu Vlog: Boże Narodzenia w Stanach.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2010%2F12%2Fvlog-bo%25C5%25BCe-narodzenia-w-stanach&amp;linkname=Vlog%3A%20Bo%C5%BCe%20Narodzenia%20w%20Stanach" id="da2a_7"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-34">
<h2 class="node-title"><a href="/blog/2010/12/christmas-without-presents" title="Christmas without presents?">Christmas without presents?</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">28</strong> <strong class="month">gru</strong> <strong class="year">2010</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Czytaj ten tekst z BiblioBirdem!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_42 first"><a href="/tags/christmas" rel="tag" title="">Christmas</a></li>
<li class="taxonomy_term_6 active"><a class="active" href="/tags/holidays" rel="tag" title="">holidays</a></li>
<li class="taxonomy_term_32 last"><a href="/category/culture/usa" rel="tag" title="">USA</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/12/christmasstormtrooper.jpg" rel="lightbox"><img alt="Storm trooper holding Christmas presents" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/12/christmasstormtrooper.jpg" title="The Empire is stealing Christmas!  Photo by Kenny Louie."/></a><div class="caption">The Empire is stealing Christmas!  <a href="http://www.flickr.com/photos/99472898@N00/5278223836/">Photo</a> by <a href="http://www.flickr.com/photos/kwl/">Kenny Louie</a>.</div></div>
<p>For Christians, Christmas is about celebrating the birth of Jesus.  However, according to a <a href="http://www.gallup.com/poll/145367/Christmas-Strongly-Religious-Half-Celebrate.aspx">recent poll</a>, 95% of Americans celebrate Christmas, including 80% of non-Christians.  But for both believers and the rest of us, Christmas in the USA is about spending time with family and friends.</p>
<p>Yeah, family and friends, but also -- PRESENTS!  Glorious presents!</p>
<p>When I was a kid, I couldn't wait until Christmas.  I dreamt of all the great things I hoped I was going to get.  It was a magical day, when dreams came true!</p>
<p>How can you have Christmas without presents?</p>
<p>But a number of years ago, my family stopped exchanging gifts at Christmas.</p>
</div>
<ul class="links inline"><li class="comment_add first"><a href="/comment/reply/34#comment-form" title="Pozwala dodać nową odpowiedź do tej strony.">Odpowiedz</a></li>
<li class="node_read_more"><a href="/blog/2010/12/christmas-without-presents" title="Wyświetla dalszą część wpisu Christmas without presents?.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2010%2F12%2Fchristmas-without-presents&amp;linkname=Christmas%20without%20presents%3F" id="da2a_8"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-26">
<h2 class="node-title"><a href="/blog/2010/11/vlog-dzie%C5%84-dzi%C4%99kczynienia-%C5%9Bwi%C4%99ta-w-usa-w-og%C3%B3le-i-para-innych-rzeczy" title="Vlog: Dzień Dziękczynienia, święta w USA w ogóle i para innych rzeczy">Vlog: Dzień Dziękczynienia, święta w USA w ogóle i para innych rzeczy</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">27</strong> <strong class="month">lis</strong> <strong class="year">2010</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_6 first active"><a class="active" href="/tags/holidays" rel="tag" title="">holidays</a></li>
<li class="taxonomy_term_37"><a href="/tags/thanksgiving" rel="tag" title="">Thanksgiving</a></li>
<li class="taxonomy_term_32"><a href="/category/culture/usa" rel="tag" title="">USA</a></li>
<li class="taxonomy_term_4 last"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Dzisiaj Amerykanin mówiący po polsku rozmawia na temat Dnia Dziękczynienia, który właśnie odbył w czwartek.  Też mówi w ogóle o tym, jak się różnią sposoby do obchodzenia świąt między Amerykanów.  I na końcu, jest para innych rzeczy nie na temat, ale mam nadzieję, jeszcze ciekawa!  Zapraszam do oglądania!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/4gL5lZGHnSc?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/4gL5lZGHnSc?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Czytaj transkrypcję poniżej!</p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2010/11/vlog-dzie%C5%84-dzi%C4%99kczynienia-%C5%9Bwi%C4%99ta-w-usa-w-og%C3%B3le-i-para-innych-rzeczy#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">3 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2010/11/vlog-dzie%C5%84-dzi%C4%99kczynienia-%C5%9Bwi%C4%99ta-w-usa-w-og%C3%B3le-i-para-innych-rzeczy" title="Wyświetla dalszą część wpisu Vlog: Dzień Dziękczynienia, święta w USA w ogóle i para innych rzeczy.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2010%2F11%2Fvlog-dzie%25C5%2584-dzi%25C4%2599kczynienia-%25C5%259Bwi%25C4%2599ta-w-usa-w-og%25C3%25B3le-i-para-innych-rzeczy&amp;linkname=Vlog%3A%20Dzie%C5%84%20Dzi%C4%99kczynienia%2C%20%C5%9Bwi%C4%99ta%20w%20USA%20w%20og%C3%B3le%20i%20para%20innych%20rzeczy" id="da2a_9"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-24">
<h2 class="node-title"><a href="/blog/2010/11/turkey-day-isnt-the-same-for-everyone" title="Turkey Day isn't the same for everyone!">Turkey Day isn't the same for everyone!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">25</strong> <strong class="month">lis</strong> <strong class="year">2010</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_6 first active"><a class="active" href="/tags/holidays" rel="tag" title="">holidays</a></li>
<li class="taxonomy_term_37"><a href="/tags/thanksgiving" rel="tag" title="">Thanksgiving</a></li>
<li class="taxonomy_term_32 last"><a href="/category/culture/usa" rel="tag" title="">USA</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Today is Thanksgiving!</p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/11/traditionalthanksgiving.jpg" rel="lightbox"><img alt="Table set with food." src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/11/traditionalthanksgiving.jpg" title="Photo by Ben Franske"/></a><div class="caption">Traditional Thanksgiving dinner. <a href="http://commons.wikimedia.org/wiki/File:TraditionalThanksgiving.jpg">Photo</a> by <a href="http://commons.wikimedia.org/w/index.php?title=User:BenFranske">Ben Franske</a>.</div></div>
<p>Traditionally, that means families gather together to eat a gigantic home-cooked dinner consisting of: turkey, stuffing, mashed potatoes, gravy, cranberry sauce and pumpkin pie.  Everyone eats until they can't eat anymore.  Then they play and watch American football.  Is there a more American holiday? ;-)</p>
<p>That is what every single American family will be doing tonight.  Well, in the movies at least!</p>
<p>Like all things American (and holidays in particular), they are very individual.  Celebrations vary from family to family and year to year.</p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2010/11/turkey-day-isnt-the-same-for-everyone#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">1 odpowiedź</a></li>
<li class="node_read_more"><a href="/blog/2010/11/turkey-day-isnt-the-same-for-everyone" title="Wyświetla dalszą część wpisu Turkey Day isn't the same for everyone!.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2010%2F11%2Fturkey-day-isnt-the-same-for-everyone&amp;linkname=Turkey%20Day%20isn%27t%20the%20same%20for%20everyone%21" id="da2a_10"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="item-list"><ul class="pager"><li class="pager-current first">1</li>
<li class="pager-item"><a class="active" href="/tags/holidays-page-1" title="Przejdź do strony 2">2</a></li>
<li class="pager-next"><a class="active" href="/tags/holidays-page-1" title="Przejdź do następnej strony">następna ›</a></li>
<li class="pager-last last"><a class="active" href="/tags/holidays-page-1" title="Przejdź do ostatniej strony">ostatnia »</a></li>
</ul></div>
