---
permalink: /tags/holidays-page-1/
layout: base-old
title: 'holidays'
language: en
translation: /tags/holidays/
---
<div class="node node-story clear-block" id="node-13">
<h2 class="node-title"><a href="/blog/2010/11/history-veterans-day-usa" title="The History of Veterans Day (USA)">The History of Veterans Day (USA)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">11</strong> <strong class="month">Nov</strong> <strong class="year">2010</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Read this text with BiblioBird!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_6 first active"><a class="active" href="/tags/holidays" rel="tag" title="">holidays</a></li>
<li class="taxonomy_term_32"><a href="/category/culture/usa" rel="tag" title="">USA</a></li>
<li class="taxonomy_term_38 last"><a href="/tags/veterans-day" rel="tag" title="">Veterans Day</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 126px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/11/veterans_day_2010.jpg" rel="lightbox"><img alt="Veterans Day 2010 poster." src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/11/veterans_day_2010.jpg" title="Veterans Day 2010 poster."/></a><div class="caption">Veterans Day 2010 poster.</div></div>
<p>November 11th [eleventh] is a national holiday in both America and Poland, although most people in both countries are unaware of the other's holiday!  In Poland, today is Narodowe Święto Niepodległości (<a href="http://en.wikipedia.org/wiki/Polish_Independence_Day">National Independence Day</a>).  It celebrates Poland becoming an independent state in 1918, after 123 years of not existing.  In the United States, today is <a href="http://en.wikipedia.org/wiki/Veterans_Day">Veterans Day</a>, a day to celebrate veterans of all wars.  Both holidays have their origins in World War I.</p>
<p>Watch the video about the history of Veterans Day and read the transcript below!</p>
<object height="344" width="425"><param name="movie" value="http://www.youtube.com/v/ymCa1eB_qLA?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="344" src="http://www.youtube.com/v/ymCa1eB_qLA?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="425" wmode="opaque"/></object>
<p>Read more for the transcript.</p>
</div>
<ul class="links inline"><li class="comment_add first"><a href="/comment/reply/13#comment-form" title="Add a new comment to this page.">Add new comment</a></li>
<li class="node_read_more"><a href="/blog/2010/11/history-veterans-day-usa" title="Read the rest of The History of Veterans Day (USA).">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2010%2F11%2Fhistory-veterans-day-usa&amp;linkname=The%20History%20of%20Veterans%20Day%20%28USA%29" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-3">
<h2 class="node-title"><a href="/blog/2010/11/wszystkich-%C5%9Bwi%C4%99tych-w-polsce" title="Wszystkich Świętych w Polsce">Wszystkich Świętych w Polsce</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">1</strong> <strong class="month">Nov</strong> <strong class="year">2010</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Read this text with BiblioBird!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_39 first"><a href="/tags/all-saints-day" rel="tag" title="">All Saints Day</a></li>
<li class="taxonomy_term_40"><a href="/tags/all-souls-day" rel="tag" title="">All Souls Day</a></li>
<li class="taxonomy_term_6 active"><a class="active" href="/tags/holidays" rel="tag" title="">holidays</a></li>
<li class="taxonomy_term_33 last"><a href="/category/culture/poland" rel="tag" title="">Poland</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/11/all_saints_day.jpg" rel="lightbox"><img alt="Nocą w cmentarzu, znicze na grobach, kobieta stoi tyłem do nas" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/11/all_saints_day.jpg" title="Wszystkich Świętych (Oświęcim, 1984).  Autor zdjęcia: John Thaxter."/></a><div class="caption">Wszystkich Świętych (Oświęcim, 1984).  Autor <a href="http://pl.wikipedia.org/w/index.php?title=Plik:All_Saints_Day,_1984,_Oswiecim,_Poland_Img871.jpg">zdjęcia</a>: <a href="http://commons.wikimedia.org/wiki/User:John_Thaxter">John Thaxter</a>.</div></div>
<p><strong>Zaadaptowany od <a href="http://pl.wikipedia.org/wiki/Wszystkich_%C5%9Awi%C4%99tych#Wsp.C3.B3.C5.82czesno.C5.9B.C4.87">artykułu na Wikipedii</a>:</strong></p>
<blockquote>
<p>Pierwszy dzień listopada jest w Polsce <a href="http://pl.wikipedia.org/wiki/Dni_wolne_od_pracy" title="Dni wolne od pracy">dniem wolnym od pracy</a>, co powoduje, że wiele osób podróżuje nawet na wielkie odległości, aby odwiedzić groby swoich bliskich. Ludzie odwiedzają <a href="http://pl.wikipedia.org/wiki/Cmentarz" title="Cmentarz">cmentarze</a>, aby ozdobić groby kwiatami, zapalić znicze i <a href="http://pl.wikipedia.org/wiki/Modlitwa" title="Modlitwa">pomodlić się</a> w intencji swoich zmarłych. To święto ma charakter religijny, głównie katolicki, ale dobrym zwyczajem obchodzi je także wiele osób innych wyznań, albo nie wyznających żadnej religii. Jest to wyrazem <a href="http://pl.wikipedia.org/wiki/Pami%C4%99%C4%87" title="Pamięć">pamięci</a> oraz oddania czci i szacunku zmarłym.</p>
</blockquote> </div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2010/11/wszystkich-%C5%9Bwi%C4%99tych-w-polsce#comments" title="Jump to the first comment of this posting.">1 comment</a></li>
<li class="node_read_more"><a href="/blog/2010/11/wszystkich-%C5%9Bwi%C4%99tych-w-polsce" title="Read the rest of Wszystkich Świętych w Polsce.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2010%2F11%2Fwszystkich-%25C5%259Bwi%25C4%2599tych-w-polsce&amp;linkname=Wszystkich%20%C5%9Awi%C4%99tych%20w%20Polsce" id="da2a_2"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-2">
<h2 class="node-title"><a href="/blog/2010/10/halloween-adults" title="Halloween for Adults!">Halloween for Adults!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">31</strong> <strong class="month">Oct</strong> <strong class="year">2010</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Read this text with BiblioBird!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_41 first"><a href="/tags/halloween" rel="tag" title="">Halloween</a></li>
<li class="taxonomy_term_6 active"><a class="active" href="/tags/holidays" rel="tag" title="">holidays</a></li>
<li class="taxonomy_term_32"><a href="/category/culture/usa" rel="tag" title="">USA</a></li>
<li class="taxonomy_term_4 last"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-left" style="float: left; width: 160px; margin: 10px 10px 10px 0"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/10/halloween-2010-01.jpg" rel="lightbox"><img alt="Adults dressed in costumes." src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/10/halloween-2010-01.jpg" title="Adults at a Halloween costume party."/></a><div class="caption">Adults at a Halloween costume party.</div></div>
<p><a href="http://en.wikipedia.org/wiki/Halloween">Halloween</a> has always been one of my favorite holidays.  Kids get to dress up as superheroes, ghosts or monsters, go door-to-door with their friends saying "Trick or Treat" and get lots of candy.  What kid wouldn't love that?  Frequently, when we were children, I dressed up as a knight with a shield and sword and my sister dressed up as a princess.</p>
<p>But Halloween isn't only for children!</p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2010/10/halloween-adults#comments" title="Jump to the first comment of this posting.">2 comments</a></li>
<li class="node_read_more"><a href="/blog/2010/10/halloween-adults" title="Read the rest of Halloween for Adults!.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2010%2F10%2Fhalloween-adults&amp;linkname=Halloween%20for%20Adults%21" id="da2a_3"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="item-list"><ul class="pager"><li class="pager-first first"><a class="active" href="/tags/holidays" title="Go to first page">« first</a></li>
<li class="pager-previous"><a class="active" href="/tags/holidays" title="Go to previous page">‹ previous</a></li>
<li class="pager-item"><a class="active" href="/tags/holidays" title="Go to page 1">1</a></li>
<li class="pager-current last">2</li>
</ul></div>
