---
permalink: /tags/independence-day/
layout: base-old
title: 'Independence Day'
language: en
translation: 
---
<div class="node node-story clear-block" id="node-82">
<h2 class="node-title"><a href="/blog/2011/07/vlog-patriotyzm-w-usa" title="Vlog: Patriotyzm w USA">Vlog: Patriotyzm w USA</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">8</strong> <strong class="month">Jul</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_6 first"><a href="/tags/holidays" rel="tag" title="">holidays</a></li>
<li class="taxonomy_term_61 active"><a class="active" href="/tags/independence-day" rel="tag" title="">Independence Day</a></li>
<li class="taxonomy_term_32"><a href="/category/culture/usa" rel="tag" title="">USA</a></li>
<li class="taxonomy_term_4 last"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Właśnie był <a href="http://pl.wikipedia.org/wiki/Dzie%C5%84_Niepodleg%C5%82o%C5%9Bci_Stan%C3%B3w_Zjednoczonych">Dzień Niepodległości</a> w Stanach Zjednoczonych więc dzisiaj zdecydowałem poruszyć temat patriotyzm w USA!</p>
<p>Niestety tylko bardzo mało nagrałem na imprezie w samym Dniu Niepodległości ale jest tego trochę i będzie więcej w następnym roku. :-)</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/0cvbz-Q_JVY?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/0cvbz-Q_JVY?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Proszę podaj mi poprawki do tego filmiku <a href="http://lang-8.com/10069/journals/1004471/Patriotyzm-w-USA">w serwisie Lang-8</a>.  <a href="http://www.linguatrek.com/blog/2011/07/the-declaration-of-independence">Oto jest filmik</a> na temat Deklaracji Niepodległości, o którym mówiłem.</p>
<p><strong>Czytaj transkrypcję poniżej!</strong></p>
</div>
<ul class="links inline"><li class="comment_add first"><a href="/comment/reply/82#comment-form" title="Add a new comment to this page.">Add new comment</a></li>
<li class="node_read_more"><a href="/blog/2011/07/vlog-patriotyzm-w-usa" title="Read the rest of Vlog: Patriotyzm w USA.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F07%2Fvlog-patriotyzm-w-usa&amp;linkname=Vlog%3A%20Patriotyzm%20w%20USA" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-81">
<h2 class="node-title"><a href="/blog/2011/07/the-declaration-of-independence" title="The Declaration of Independence">The Declaration of Independence</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">5</strong> <strong class="month">Jul</strong> <strong class="year">2011</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Read this text with BiblioBird!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_6 first"><a href="/tags/holidays" rel="tag" title="">holidays</a></li>
<li class="taxonomy_term_61 active"><a class="active" href="/tags/independence-day" rel="tag" title="">Independence Day</a></li>
<li class="taxonomy_term_32 last"><a href="/category/culture/usa" rel="tag" title="">USA</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Yesterday was the 4th of July which is <a href="http://en.wikipedia.org/wiki/Independence_Day_(United_States)">Independence Day</a> in the United States.  It's a day of barbecues, parades and fireworks to commemorate the signing of the <a href="http://en.wikipedia.org/wiki/Declaration_of_Independence">Declaration of Independence</a> from Britain in 1776.  It is the most important national holiday in our country.</p>
<p>Here is a short video about the Declaration of Independence:</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/yb7MI8NQLoo?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/yb7MI8NQLoo?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p><strong>Read more for a transcript with translations into Polish!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/07/the-declaration-of-independence#comments" title="Jump to the first comment of this posting.">1 comment</a></li>
<li class="node_read_more"><a href="/blog/2011/07/the-declaration-of-independence" title="Read the rest of The Declaration of Independence.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F07%2Fthe-declaration-of-independence&amp;linkname=The%20Declaration%20of%20Independence" id="da2a_2"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
