---
permalink: /tags/koszty-życia-w-usa/
layout: base-old
title: 'koszty życia w USA'
language: pl
translation: /tags/koszty-%C5%BCycia-w-usa/
---
<div class="node node-story clear-block" id="node-165">
<h2 class="node-title"><a href="/blog/2012/06/vlog-koszty-%C5%BCycia-w-usa-mieszkanie" title="Vlog: Koszty życia w USA - Mieszkanie">Vlog: Koszty życia w USA - Mieszkanie</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">2</strong> <strong class="month">cze</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_92 first active"><a class="active" href="/tags/koszty-%C5%BCycia-w-usa" rel="tag" title="">koszty życia w USA</a></li>
<li class="taxonomy_term_32"><a href="/category/culture/usa" rel="tag" title="">USA</a></li>
<li class="taxonomy_term_4 last"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Ludzie ciągle pytają mnie o kosztach życia w USA. Zdecydowałem nagrać filmik o kosztach powiązanych z mieszkaniem z mojego doświadczenie w moim mieście. Jeśli spodoba Wam się, mam pomysły na inne filmiki w tej serii.</p>
<p>Równiez trochę eksperymentowałem z nagraniem w tym filmiku - czasem udało mi się, czasem nie. :-) Od razu przepraszam, że kamera tak dużo się rusza!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/yeqOQG-s7Wc?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/yeqOQG-s7Wc?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Proszę podaj mi poprawki <a href="http://lang-8.com/10069/journals/1509315/Vlog%253A-Koszty-%25C5%25BCycia-w-USA-Mieszkanie">w serwisie Lang-8</a>!</p>
<p><strong>Czytaj transkrypcję poniżej!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/06/vlog-koszty-%C5%BCycia-w-usa-mieszkanie#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">49 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2012/06/vlog-koszty-%C5%BCycia-w-usa-mieszkanie" title="Wyświetla dalszą część wpisu Vlog: Koszty życia w USA - Mieszkanie.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F06%2Fvlog-koszty-%25C5%25BCycia-w-usa-mieszkanie&amp;linkname=Vlog%3A%20Koszty%20%C5%BCycia%20w%20USA%20-%20Mieszkanie" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
