---
permalink: /tags/language-school/
layout: base-old
title: 'language school'
language: en
translation: 
---
<div class="node node-story clear-block" id="node-105">
<h2 class="node-title"><a href="/blog/2011/12/goenglishgocom-virtual-english-school" title="GoEnglishGo.com: Virtual English school">GoEnglishGo.com: Virtual English school</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">13</strong> <strong class="month">Dec</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_21 first active"><a class="active" href="/tags/language-school" rel="tag" title="">language school</a></li>
<li class="taxonomy_term_2 last"><a href="/category/language-learning/learn-english" rel="tag" title="">learn English</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/12/goenglishgo.png" rel="lightbox"><img alt="GoEnglishGo Logo" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/12/goenglishgo.png" title=""/></a></div>
<p>Real world English schools are great.  You enter a new environment where the primary language is English.  It's easy to forget that you're still in your native country.  And you get to make new friends who also share your passion and interest in English.</p>
<p>But traveling to an English class is also very inconvenient.  Depending on where you live and work, it probably takes considerable time to get there.  And when you leave, the English lesson ends.  You might have a homework assignment, but outside the magic of the classroom, it's less compelling.</p>
<p>With a virtual school, you lose the effect of the environment and much of the social interaction.  But you are able to study at any time of the day or night.  And you don't have to lose any time traveling there!</p>
<p>This article is about an online language school, <a href="http://www.goenglishgo.com">GoEnglishGo.com</a>, which is run by an American from Texas, who now lives in Kraków, Poland.</p>
<p>(<em>Full disclosure: while the founder of this school is a personal friend of mine, I'm not receiving any monetary benefits or commissions for writing this review.</em>)</p>
<p><strong>Read more the full review!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/12/goenglishgocom-virtual-english-school#comments" title="Jump to the first comment of this posting.">5 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/12/goenglishgocom-virtual-english-school" title="Read the rest of GoEnglishGo.com: Virtual English school.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F12%2Fgoenglishgocom-virtual-english-school&amp;linkname=GoEnglishGo.com%3A%20Virtual%20English%20school" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-96">
<h2 class="node-title"><a href="/blog/2011/10/english-our-borrowed-language" title="English: Our borrowed language">English: Our borrowed language</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">18</strong> <strong class="month">Oct</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_21 first active"><a class="active" href="/tags/language-school" rel="tag" title="">language school</a></li>
<li class="taxonomy_term_2 last"><a href="/category/language-learning/learn-english" rel="tag" title="">learn English</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p><em><strong>This is a guest post written by Alice Cuninghame on behalf of <a href="http://www.stgeorges.co.uk/" target="_blank" title="St Georges International">St Georges International</a>. For students keen to learn English, learn French or <a href="http://www.stgeorges.co.uk/foreign-languages/german-courses/" target="_blank" title="learn German London">learn German London</a> language school SGI provides a great mix of top-class teaching and facilities and a vibrant social programme.</strong></em></p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/10/linguatrek_1_0.jpg" rel="lightbox"><img alt="Warsaw, Poland" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/10/linguatrek_1_0.jpg" title="Warsaw, capital of Poland. Photo by Henri Sivonen."/></a><div class="caption">Warsaw, capital of Poland. <a href="http://www.flickr.com/photos/hsivonen/191671502/">Photo</a> by <a href="http://www.flickr.com/photos/hsivonen/">Henri Sivonen</a>.</div></div>
<p>English is often referred to as a ‘mongrel’ language. It borrows words from other languages shamelessly, sometimes keeping them as they are, sometimes adapting them to make truly English words.</p>
<p>English has its roots in the Germanic family of languages, which includes German, Dutch and most of the Scandinavian languages. Unlike those languages, it borrows heavily from others outside the ‘family’. For historical reasons, French and Latin have had a particularly strong influence on English over the years.</p>
<p>More surprising is that <strong>English borrows some words from distant Poland</strong>. Increasingly, Polish borrows from English too. That is less surprising, given the worldwide domination of the English language, and the large numbers of Polish migrants heading to the UK in recent years.</p>
<p><strong>Read more for some examples of Polish words in English!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/10/english-our-borrowed-language#comments" title="Jump to the first comment of this posting.">3 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/10/english-our-borrowed-language" title="Read the rest of English: Our borrowed language.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F10%2Fenglish-our-borrowed-language&amp;linkname=English%3A%20Our%20borrowed%20language" id="da2a_2"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-95">
<h2 class="node-title"><a href="/blog/2011/10/learn-polish-in-poland-lengua-viva" title="Learn Polish in Poland: Lengua Viva">Learn Polish in Poland: Lengua Viva</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">4</strong> <strong class="month">Oct</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_21 first active"><a class="active" href="/tags/language-school" rel="tag" title="">language school</a></li>
<li class="taxonomy_term_1 last"><a href="/category/language-learning/learn-polish" rel="tag" title="">learn Polish</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/10/germanclasslenguaviva.jpg" rel="lightbox"><img alt="Young ladies sitting around a table" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/10/germanclasslenguaviva.jpg" title="German class at Lengua Viva."/></a><div class="caption">German class at Lengua Viva.</div></div>
<p>I strongly believe that <a href="http://www.linguatrek.com/blog/2011/07/you-dont-need-to-live-in-a-foreign-country-to-learn">you don't need to live in a foreign country</a> to learn its language.  Personally, I learned Polish primarily in my home country.</p>
<p>You can even learn a lot about a <em>foreign culture</em> from your home country.  You can read the literature, watch the films, and even speak with the natives.</p>
<p><strong>However, to experience certain aspects of any culture, you simply have to visit the country!</strong></p>
<p>This article is about <a href="http://www.lenguaviva.edu.pl/">Lengua Viva</a>, a language school in Gdańsk, Poland which offers courses in Polish as a foreign language.  Plus, <strong>they've offered a special price for readers of LinguaTrek!</strong></p>
<p>(<em>Full disclosure: I have never been to Lengua Viva, so I can't personally vouch for the quality of their courses.  I agreed to promote their school in exchange for a special reduced price for LinguaTrek readers.  I don't personally receive any money or anything else from them.</em>)</p>
<p><strong>Read more for information about the courses!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/10/learn-polish-in-poland-lengua-viva#comments" title="Jump to the first comment of this posting.">7 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/10/learn-polish-in-poland-lengua-viva" title="Read the rest of Learn Polish in Poland: Lengua Viva.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F10%2Flearn-polish-in-poland-lengua-viva&amp;linkname=Learn%20Polish%20in%20Poland%3A%20Lengua%20Viva" id="da2a_3"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
