---
permalink: /tags/mailbag/
layout: base-old
title: 'mailbag'
language: en
translation: 
---
<div class="node node-story clear-block" id="node-248">
<h2 class="node-title"><a href="/blog/2013/04/i-translated-all-the-words-but-i-still-dont-understand" title="&quot;I translated all the words, but I still don't understand!&quot;">"I translated all the words, but I still don't understand!"</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">2</strong> <strong class="month">Apr</strong> <strong class="year">2013</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_29 first"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_24 last active"><a class="active" href="/tags/mailbag" rel="tag" title="">mailbag</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2013/03/reading.jpg" rel="lightbox"><img alt="Girl reading" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2013/03/reading.jpg" title="Photo by Rachel Sian"/></a><div class="caption"><a href="http://www.flickr.com/photos/28658690@N00/274158994">Photo</a> by <a href="http://www.flickr.com/photos/rachelsian/">Rachel Sian</a></div></div>
<p>I learned Polish primary by <a href="http://www.linguatrek.com/blog/2010/12/harry-potter-the-book-that-taught-me-polish">reading and listening to Harry Potter</a>. When I encountered a word I didn't know, I looked it up in the dictionary and made a flashcard.</p>
<p>There's more to it, but that's the short version I usually put in my blog articles and videos. You can find the <em>whole story</em> in <a href="http://www.linguatrek.com/subscribe">my free ebook.</a></p>
<p><strong>Many other people have tried similar methods with other language and have also been successful!</strong></p>
<p>However, occasionally I get emails from people saying:</p>
<blockquote>
<p><em>I started reading Harry Potter in language X but your method doesn't work! I translated all the individual words but the sentence doesn't make logical sense and isn't understandable.</em></p>
</blockquote>
<p>(BTW, I've been trying to turn all the advice I regularly give over e-mail into articles on my blog, so I can just send links and <a href="http://www.linguatrek.com/blog/2012/03/email-problem-i-need-your-help">write fewer e-mails</a>.)</p>
<p><strong>Read more for my response!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2013/04/i-translated-all-the-words-but-i-still-dont-understand#comments" title="Jump to the first comment of this posting.">34 comments</a></li>
<li class="node_read_more"><a href="/blog/2013/04/i-translated-all-the-words-but-i-still-dont-understand" title="Read the rest of &quot;I translated all the words, but I still don't understand!&quot;.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2013%2F04%2Fi-translated-all-the-words-but-i-still-dont-understand&amp;linkname=%22I%20translated%20all%20the%20words%2C%20but%20I%20still%20don%27t%20understand%21%22" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-195">
<h2 class="node-title"><a href="/blog/2012/08/how-to-start-a-language-exchange-on-the-right-foot" title="How to start a language exchange on the right foot">How to start a language exchange on the right foot</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">14</strong> <strong class="month">Aug</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_88 first"><a href="/tags/language-exchange" rel="tag" title="">language exchange</a></li>
<li class="taxonomy_term_29"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_24 active"><a class="active" href="/tags/mailbag" rel="tag" title="">mailbag</a></li>
<li class="taxonomy_term_60 last"><a href="/tags/speaking" rel="tag" title="">speaking</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/08/sharing.jpg" rel="lightbox"><img alt="Two hamsters sharing a carrot" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/08/sharing.jpg" title="Language exchange is about sharing! Photo by ryancr"/></a><div class="caption">Language exchange is about sharing! <a href="http://www.flickr.com/photos/33128961@N00/142455033">Photo</a> by <a href="http://www.flickr.com/photos/ryanr/">ryancr</a></div></div>
<p><em>Nothing</em> can replace speaking your target language with a native speaker. A "language exchange" (sometimes called "tandem") is a great way to practice with a native speaker who is also learning your native language.</p>
<p>During each meeting with your language exchange partner, you take turns speaking both languages. Unlike classes or working with a teacher, the meetings are friendly, informal and (because they are mutually beneficial to you both) absolutely free. ;-)</p>
<p><strong>Don't worry: you don't need to live near native speakers or <a href="http://www.linguatrek.com/blog/2011/07/you-dont-need-to-live-in-a-foreign-country-to-learn">in the country</a> where the language is spoken!</strong></p>
<p>As I've written before, you can do a language exchange both <a href="http://www.linguatrek.com/blog/2011/02/immersion-tips-how-to-meet-natives#language-exchange">in person</a> or <a href="http://www.linguatrek.com/blog/2011/11/how-to-practice-speaking-over-the-internet">over the internet</a>.</p>
<p>I recently received this question via the <a href="http://www.linguatrek.com">contact form</a>:</p>
<blockquote>
<p>I've been studying Polish for about a year now and just took the step of reaching out to a Polish speaker on the <a href="http://language-exchange.gregloby.com/">Language|Exchange Project</a>.  I'm a little nervous about it, but I figured it will only help me get better.  I was wondering if you had any advice on how to get the most out of the exchange.</p>
</blockquote>
<p><strong>Great question!</strong></p>
<p>I've been doing language exchanges for several years (with both Polish and Russian) and I've definitely had my share of bad experiences. Through trial and error, I've come up with some ways to make my language exchanges as effective as possible. In this article, I give a few tips to help you avoid some common pitfalls.</p>
<p><strong>Read more for four tips on starting a new language exchange!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/08/how-to-start-a-language-exchange-on-the-right-foot#comments" title="Jump to the first comment of this posting.">15 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/08/how-to-start-a-language-exchange-on-the-right-foot" title="Read the rest of How to start a language exchange on the right foot.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F08%2Fhow-to-start-a-language-exchange-on-the-right-foot&amp;linkname=How%20to%20start%20a%20language%20exchange%20on%20the%20right%20foot" id="da2a_2"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-159">
<h2 class="node-title"><a href="/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-great-material-for-learners-of-english-or-polish" title='"Czytamy w oryginale - wielkie powieści" - great material for learners of English or Polish'>"Czytamy w oryginale - wielkie powieści" - great material for learners of English or Polish</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">26</strong> <strong class="month">May</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_29 first"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_24 active"><a class="active" href="/tags/mailbag" rel="tag" title="">mailbag</a></li>
<li class="taxonomy_term_7 last"><a href="/tags/review" rel="tag" title="">review</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/05/bookscat.jpg" rel="lightbox"><img alt="Cat by lots of books" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/05/bookscat.jpg" title="Photo by Fergus Ray Murray"/></a><div class="caption"><a href="http://www.flickr.com/photos/54408024@N00/479270001">Photo</a> by <a href="http://www.flickr.com/photos/0olong/">Fergus Ray Murray</a></div></div>
<p><strong><em>(If you haven't voted for LinguaTrek yet in the "Top 100 Language Learner Blogs" contest, only two days remain! The voting last until May 28th at 5:00pm CST (or midnight Polish time). If you have a free minute, <a href="http://www.linguatrek.com/blog/2012/05/vote-for-linguatrek-top-100-language-lovers">please vote</a>!)</em></strong></p>
<p>Wojtek - a reader of my blog who regularly comments - just sent me an e-mail about a very interesting product which matches the learning methods I describe in <a href="http://www.linguatrek.com/blog/2012/05/natural-language-learning-my-free-ebook-is-finished">my ebook</a> very well!

</p><p>Wojtek writes: (translated from Polish - see the original <a href="http://www.linguatrek.com/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-wspania%C5%82e-materia%C5%82y-dla-ucz%C4%85cych-si%C4%99-angielskiego">here</a>)</p>
<blockquote>
<p>I'd like to inform you about some excellent materials for learners of English and even those wanting to learn Polish.</p>
<p><a href="http://sklep.rp.pl/produkt/czytamy-w-oryginale___.php">„Czytamy w oryginale – wielkie powieści”</a> (<em>"We're reading in the original - great novels"</em>) it is a recently republished series of simplified novels (graded readers) for learners of English. So far 2 parts have been published - in total 10 classic stories. Today I just received my copies in the mail. The price for one part is 19.99 PLN (around $6).</p>
</blockquote>
<p><strong>Read more, to see the rest of Wojtek's e-mail!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-great-material-for-learners-of-english-or-polish#comments" title="Jump to the first comment of this posting.">5 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-great-material-for-learners-of-english-or-polish" title='Read the rest of "Czytamy w oryginale - wielkie powieści" - great material for learners of English or Polish.'>Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F05%2Fczytamy-w-oryginale-wielkie-powie%25C5%259Bci-great-material-for-learners-of-english-or-polish&amp;linkname=%22Czytamy%20w%20oryginale%20-%20wielkie%20powie%C5%9Bci%22%20-%20great%20material%20for%20learners%20of%20English%20or%20Polish" id="da2a_3"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
