---
permalink: /tags/memrisecom/
layout: base-old
title: 'Memrise.com'
language: en
translation: 
---
<div class="node node-story clear-block" id="node-254">
<h2 class="node-title"><a href="/blog/2013/10/review-memrisecom-i-started-learning-a-little-chinese" title="Review: Memrise.com (I started learning a little ... Chinese?!)">Review: Memrise.com (I started learning a little ... Chinese?!)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">15</strong> <strong class="month">Oct</strong> <strong class="year">2013</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_29 first"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_97 active"><a class="active" href="/tags/memrisecom" rel="tag" title="">Memrise.com</a></li>
<li class="taxonomy_term_7"><a href="/tags/review" rel="tag" title="">review</a></li>
<li class="taxonomy_term_4 last"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2013/10/memrise.jpg" rel="lightbox"><img alt="Memrise.com Logo" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2013/10/memrise.jpg" title=""/></a></div>
<p>For a while now I've been trying to decide what language to learn next.</p>
<p>Of course, I'll keep learning Polish! I've been reading the <em>Song of Ice and Fire</em> books (ie. <em>Game of Thrones</em>) in Polish and practicing speaking at the end of <a href="https://en.bibliobird.com/node/16345">our weekly voice chat meetings on Bibliobird.com</a>.</p>
<p>It's just that I'm already at a pretty advanced level and it's no longer as challenging as it used to be.</p>
<p>But which language to learn? They <em>ALL</em> seem interesting! But learning a language is a big commitment and no languages excite me as much as Polish did. :-/</p>
<p>A few weeks ago, I was talking to a friend and he told me he was learning <a href="http://www.memrise.com/course/749/learn-basic-chinese-read-a-menu/">how to read Chinese menus on Memrise.com</a>. This sounded really awesome, because:</p>
<ol>
<li><strong>I'd be able to use it right away!</strong> While I have no connection to China or the Chinese people, I do eat Chinese food often and the menus at Chinese restaurants are always written in both English and Chinese.</li>
<li><strong>It doesn't require much commitment.</strong> Learning a whole new language will take lots of time and effort - but just learning to read a menu is a simple way to get started.</li>
</ol>
<p>So, I decided to review <a href="http://www.memrise.com/">Memrise.com</a> by learning to read a little Chinese!</p>
<p><strong>Today's article also includes a <u>video</u> where I show you how Memrise works and <u>we go to a Chinese restaurant to try out what I've learned!</u></strong></p>
<p>Of course, you can learn many more languages on Memrise.com than Chinese, including: English, <a href="http://www.memrise.com/courses/english/polish/">Polish</a> and dozens of others. <em>Maybe it'll help you learn your next language?</em></p>
<p><strong>Read more to find out!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2013/10/review-memrisecom-i-started-learning-a-little-chinese#comments" title="Jump to the first comment of this posting.">22 comments</a></li>
<li class="node_read_more"><a href="/blog/2013/10/review-memrisecom-i-started-learning-a-little-chinese" title="Read the rest of Review: Memrise.com (I started learning a little ... Chinese?!).">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2013%2F10%2Freview-memrisecom-i-started-learning-a-little-chinese&amp;linkname=Review%3A%20Memrise.com%20%28I%20started%20learning%20a%20little%20...%20Chinese%3F%21%29" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
