---
permalink: /tags/mistakes/
layout: base-old
title: 'mistakes'
language: pl
translation: 
---
<div class="node node-story clear-block" id="node-60">
<h2 class="node-title"><a href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles" title="5 English mistakes commonly made by Poles">5 English mistakes commonly made by Poles</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">12</strong> <strong class="month">kwi</strong> <strong class="year">2011</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="http://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Czytaj ten tekst z BiblioBirdem!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_2 first"><a href="/category/language-learning/learn-english" rel="tag" title="">learn English</a></li>
<li class="taxonomy_term_54 last active"><a class="active" href="/tags/mistakes" rel="tag" title="">mistakes</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/default/files/imagecache/Large/image/2011/04/theyalsohavelife.jpg" rel="lightbox"><img alt="" src="http://www.linguatrek.com/sites/default/files/imagecache/Small/image/2011/04/theyalsohavelife.jpg" title="Mistake?  Or genius!?  Photo by Tuija Aalto"/></a><div class="caption">Mistake?  Or genius!?  <a href="http://www.flickr.com/photos/28214861@N00/28542300">Photo</a> by <a href="http://www.flickr.com/photos/tuija/">Tuija Aalto</a></div></div>
<p>While teaching English in Poland and having language exchanges with Polish people over Skype, I've noticed that there are a few English mistakes that a lot of Poles seem to make.</p>
<p>While other nationalities certainly make these mistakes too, because of my familiarity with Polish, in most cases I can point to some characteristic of the Polish language that the speaker could be <a href="http://en.wikipedia.org/wiki/Language_transfer">transferring</a> to English.</p>
<p>Don't worry, none of the mistakes I'm going to discuss are critical!  Native speakers will still understand, even if you make a few of these mistakes. :-)</p>
<p><strong>Read more to see five mistakes that Poles commonly make when speaking or writing English!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">129 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles" title="Wyświetla dalszą część wpisu 5 English mistakes commonly made by Poles.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F04%2F5-english-mistakes-commonly-made-by-poles&amp;linkname=5%20English%20mistakes%20commonly%20made%20by%20Poles" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
