---
permalink: /tags/movies/
layout: base-old
title: 'movies'
language: en
translation: 
---
<div class="node node-story clear-block" id="node-176">
<h2 class="node-title"><a href="/blog/2012/06/traces-of-poland-in-american-movies" title="Traces of Poland in American movies">Traces of Poland in American movies</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">19</strong> <strong class="month">Jun</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_83 first active"><a class="active" href="/tags/movies" rel="tag" title="">movies</a></li>
<li class="taxonomy_term_33 last"><a href="/category/culture/poland" rel="tag" title="">Poland</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<p><em>Today we have an interesting article from Marcin at <a href="http://www.sprachcaffe.com/english/main.htm">sprachcaffe.com</a>, which offers language courses and camps abroad. It's a mix of tourism and language learning. :-)</em></p>
<p><em>(Note #1: I don't receive any kind of payment for publishing this article or the links to their page - I only received this awesome article!)</em></p>
<p><em>(Note #2: I translated this article from the <a href="http://www.linguatrek.com/blog/2012/06/%C5%9Bladem-polskich-akcent%C3%B3w-w-filmach-ameryka%C5%84skich">original Polish version</a>.)</em></p>
<hr/>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/manwithvideocamera.jpg" rel="lightbox"><img alt="Man with video camera" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/manwithvideocamera.jpg" title="Photo by woodleywonderworks"/></a><div class="caption"><a href="http://www.flickr.com/photos/73645804@N00/3994475649">Photo</a> by <a href="http://www.flickr.com/photos/wwworks/">woodleywonderworks</a></div></div>
<p>We all know that watching films in English helps us learn the language. We also know the surprise that comes with seeing traces of Poland in them!</p>
<p>Any reference to Poland in American films usually suprises Poles... postively or negatively. Here is a quick overview of Polish references found in American films.</p>
<p><strong>Read more to find out about them!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/06/traces-of-poland-in-american-movies#comments" title="Jump to the first comment of this posting.">4 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/06/traces-of-poland-in-american-movies" title="Read the rest of Traces of Poland in American movies.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F06%2Ftraces-of-poland-in-american-movies&amp;linkname=Traces%20of%20Poland%20in%20American%20movies" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
