---
permalink: /tags/music/
layout: base-old
title: 'music'
language: en
translation: 
---
<div class="node node-story clear-block" id="node-67">
<h2 class="node-title"><a href="/blog/2011/05/black-is-the-color-a-folk-song" title='"Black Is the Color" - A folk song'>"Black Is the Color" - A folk song</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">13</strong> <strong class="month">May</strong> <strong class="year">2011</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="http://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Read this text with BiblioBird!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_2 first"><a href="/category/language-learning/learn-english" rel="tag" title="">learn English</a></li>
<li class="taxonomy_term_5 last active"><a class="active" href="/tags/music" rel="tag" title="">music</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>I heard this song for the first time when I was in Ireland in 2004.  It's a folk song of <a href="http://en.wikipedia.org/wiki/Black_Is_the_Colour_(Of_My_True_Love's_Hair)">unknown origin</a> but most likely from Scotland because of the reference to the <a href="http://en.wikipedia.org/wiki/River_Clyde">Clyde</a>.  Like most folk songs, no two versions are exactly alike and my version is no exception. :-)</p>
<p><strong>Watch me perform "Black Is the Color":</strong></p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/3PurHBvEATk?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/3PurHBvEATk?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p><strong>Read the lyrics below!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/05/black-is-the-color-a-folk-song#comments" title="Jump to the first comment of this posting.">19 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/05/black-is-the-color-a-folk-song" title='Read the rest of "Black Is the Color" - A folk song.'>Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F05%2Fblack-is-the-color-a-folk-song&amp;linkname=%22Black%20Is%20the%20Color%22%20-%20A%20folk%20song" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-27">
<h2 class="node-title"><a href="/blog/2010/11/american-music-hallelujah-most-covered-song-of-all-time" title='American Music: "Hallelujah" - Most covered song of all time!'>American Music: "Hallelujah" - Most covered song of all time!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">30</strong> <strong class="month">Nov</strong> <strong class="year">2010</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="http://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Read this text with BiblioBird!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_2 first"><a href="/category/language-learning/learn-english" rel="tag" title="">learn English</a></li>
<li class="taxonomy_term_5 last active"><a class="active" href="/tags/music" rel="tag" title="">music</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 110px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/default/files/imagecache/Large/image/2010/11/leonard_cohen_1988.jpg" rel="lightbox"><img alt="Man in coat" src="http://www.linguatrek.com/sites/default/files/imagecache/Small/image/2010/11/leonard_cohen_1988.jpg" title="Photo by Roland Godefroy"/></a><div class="caption">Leonard Cohen in 1988.  <a href="http://commons.wikimedia.org/wiki/File:Leonard_Cohen17b.jpg">Photo</a> by Roland Godefroy.</div></div>
<p>"Hallelujah" by <a href="http://en.wikipedia.org/wiki/Leonard_Cohen">Leonard Cohen</a> is quite possibly the most covered song of all time.  It has been recorded by <a href="http://www.leonardcohenfiles.com/coverlist.php">almost 200 different artists</a>.  And it has some of the most beautiful lyrics of any song in the English language that I know.</p>
<p>Listen to the song performed by <a href="http://en.wikipedia.org/wiki/Jeff_Buckley">Jeff Buckley</a> below and read the lyrics!</p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2010/11/american-music-hallelujah-most-covered-song-of-all-time#comments" title="Jump to the first comment of this posting.">3 comments</a></li>
<li class="node_read_more"><a href="/blog/2010/11/american-music-hallelujah-most-covered-song-of-all-time" title='Read the rest of American Music: "Hallelujah" - Most covered song of all time!.'>Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2010%2F11%2Famerican-music-hallelujah-most-covered-song-of-all-time&amp;linkname=American%20Music%3A%20%22Hallelujah%22%20-%20Most%20covered%20song%20of%20all%20time%21" id="da2a_2"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-20">
<h2 class="node-title"><a href="/blog/2010/11/vlog-historia-piosenki-matter-of-time-i-plany-na-nast%C4%99pne-filmiki" title='Vlog: Historia piosenki "Matter of Time" i plany na następne filmiki'>Vlog: Historia piosenki "Matter of Time" i plany na następne filmiki</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">21</strong> <strong class="month">Nov</strong> <strong class="year">2010</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_5 first active"><a class="active" href="/tags/music" rel="tag" title="">music</a></li>
<li class="taxonomy_term_4"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
<li class="taxonomy_term_31 last"><a href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>W tym filmik mówię na temat historii piosenki, którą grałem w <a href="http://www.linguatrek.com/blog/2010/11/matter-of-time-an-original-song-by-david-snopek">zeszłym filmiku</a>.  Też wspominam stare czasy kiedy byłem bardziej zaangażowany muzyką. ;-)  Obiecam, że za tydzień wracamy do normalnych tematów.</p>
<p>Przepraszam za długość tego filmiku!  Już usunąłem kilka rzeczy z niego, żeby robić go trochę krótszy (z tego powodu, jest tak dużo edycji w filmiku).</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/SeRflRDtBdU?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/SeRflRDtBdU?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Czytaj transkrypcję poniżej!</p>
</div>
<ul class="links inline"><li class="comment_add first"><a href="/comment/reply/20#comment-form" title="Add a new comment to this page.">Add new comment</a></li>
<li class="node_read_more"><a href="/blog/2010/11/vlog-historia-piosenki-matter-of-time-i-plany-na-nast%C4%99pne-filmiki" title='Read the rest of Vlog: Historia piosenki "Matter of Time" i plany na następne filmiki.'>Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2010%2F11%2Fvlog-historia-piosenki-matter-of-time-i-plany-na-nast%25C4%2599pne-filmiki&amp;linkname=Vlog%3A%20Historia%20piosenki%20%22Matter%20of%20Time%22%20i%20plany%20na%20nast%C4%99pne%20filmiki" id="da2a_3"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-19">
<h2 class="node-title"><a href="/blog/2010/11/matter-of-time-an-original-song-by-david-snopek" title='"Matter Of Time" - An original song by David Snopek'>"Matter Of Time" - An original song by David Snopek</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">20</strong> <strong class="month">Nov</strong> <strong class="year">2010</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="http://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Read this text with BiblioBird!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_5 first active"><a class="active" href="/tags/music" rel="tag" title="">music</a></li>
<li class="taxonomy_term_31 last"><a href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 117px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/default/files/imagecache/Large/image/2010/11/alspainting.jpg" rel="lightbox"><img alt="Painting, room with volcano" src="http://www.linguatrek.com/sites/default/files/imagecache/Small/image/2010/11/alspainting.jpg" title="By Allison Snopek"/></a><div class="caption">Painting by <a href="http://www.allisonsnopek.com">Allison Snopek</a></div></div>
<p>I wrote "Matter Of Time" in the summer of 2004.  At the time I was depressed and drinking very heavily.  I was also very lonely.  I hadn't had a girlfriend for over a year ("10,000 lonely nights" is an exaggeration, 400 would be more accurate) -- which isn't surprising because I was drunk all the time.  I did a lot of things that I regret.  The song is about frustration about my life and who I had become.</p>
<p>But it's a hopeful song!  I promise myself that I won't always be this way.  Which is, of course, how it turned out. ;-)  I don't have any of those problems anymore.</p>
<p>Read more to listen to the song and read the lyrics.</p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2010/11/matter-of-time-an-original-song-by-david-snopek#comments" title="Jump to the first comment of this posting.">1 comment</a></li>
<li class="node_read_more"><a href="/blog/2010/11/matter-of-time-an-original-song-by-david-snopek" title='Read the rest of "Matter Of Time" - An original song by David Snopek.'>Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2010%2F11%2Fmatter-of-time-an-original-song-by-david-snopek&amp;linkname=%22Matter%20Of%20Time%22%20-%20An%20original%20song%20by%20David%20Snopek" id="da2a_4"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-10">
<h2 class="node-title"><a href="/blog/2010/11/learn-history-american-music-we-didnt-start-fire" title="Learn History with American Music: We Didn't Start The Fire">Learn History with American Music: We Didn't Start The Fire</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">9</strong> <strong class="month">Nov</strong> <strong class="year">2010</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_5 first active"><a class="active" href="/tags/music" rel="tag" title="">music</a></li>
<li class="taxonomy_term_32 last"><a href="/category/culture/usa" rel="tag" title="">USA</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 159px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/default/files/imagecache/Large/image/2010/11/billyjoel_fire.jpg" rel="lightbox"><img alt="Cover of Billy Joel's album &quot;We Didn't Start The Fire&quot;" src="http://www.linguatrek.com/sites/default/files/imagecache/Small/image/2010/11/billyjoel_fire.jpg" title="Cover of Billy Joel's album &quot;We Didn't Start The Fire&quot;"/></a><div class="caption">Cover of Billy Joel's album "We Didn't Start The Fire"</div></div>
<p>In 1989, the American musician <a href="http://en.wikipedia.org/wiki/Billy_Joel">Billy Joel</a> turned forty.  Reflecting on his life, he wrote the song <a href="http://en.wikipedia.org/wiki/We_Didn't_Start_the_Fire">"We Didn't Start the Fire,"</a> which makes reference to 119 cultural and historical events that occurred during his lifetime.  Some of the things are of world importance, others pertain only to American pop culture.</p>
<p>Listen to the song and learn about all the events below!</p>
</div>
<ul class="links inline"><li class="comment_add first"><a href="/comment/reply/10#comment-form" title="Add a new comment to this page.">Add new comment</a></li>
<li class="node_read_more"><a href="/blog/2010/11/learn-history-american-music-we-didnt-start-fire" title="Read the rest of Learn History with American Music: We Didn't Start The Fire.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2010%2F11%2Flearn-history-american-music-we-didnt-start-fire&amp;linkname=Learn%20History%20with%20American%20Music%3A%20We%20Didn%27t%20Start%20The%20Fire" id="da2a_5"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-4">
<h2 class="node-title"><a href="/blog/2010/11/american-music-cracker-big-dipper" title="American Music: Cracker - Big Dipper">American Music: Cracker - Big Dipper</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">2</strong> <strong class="month">Nov</strong> <strong class="year">2010</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="http://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Read this text with BiblioBird!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_2 first"><a href="/category/language-learning/learn-english" rel="tag" title="">learn English</a></li>
<li class="taxonomy_term_5 last active"><a class="active" href="/tags/music" rel="tag" title="">music</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/default/files/imagecache/Large/image/2010/11/david_lowery.jpg" rel="lightbox"><img alt="Man on stage playing guitar." src="http://www.linguatrek.com/sites/default/files/imagecache/Small/image/2010/11/david_lowery.jpg" title="David Lowery of Cracker (singer, guitarist, song writer)"/></a><div class="caption">David Lowery of Cracker (singer, guitarist, song writer)</div></div>
<p>One of my favorite American bands is <a href="http://en.wikipedia.org/wiki/Cracker_%28band%29">Cracker</a>.  They have an <a href="http://en.wikipedia.org/wiki/Alternative_rock">alternative rock</a> sound mixed with some <a href="http://en.wikipedia.org/wiki/Country_music">country</a> stylings and intelligent but frequently funny lyrics.  "Big Dipper" is a sad song but one of my favorites.  Listen to the video and read the lyrics below!</p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2010/11/american-music-cracker-big-dipper#comments" title="Jump to the first comment of this posting.">3 comments</a></li>
<li class="node_read_more"><a href="/blog/2010/11/american-music-cracker-big-dipper" title="Read the rest of American Music: Cracker - Big Dipper.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2010%2F11%2Famerican-music-cracker-big-dipper&amp;linkname=American%20Music%3A%20Cracker%20-%20Big%20Dipper" id="da2a_6"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
