---
permalink: /tags/new-years-resolution/
layout: base-old
title: 'New Year''s resolution'
language: en
translation: 
---
<div class="node node-story clear-block" id="node-224">
<h2 class="node-title"><a href="/blog/2013/01/discover-the-perfect-language-learning-goal-for-2013-3-simple-questions" title="Discover the PERFECT language learning goal for 2013! (3 simple questions)">Discover the PERFECT language learning goal for 2013! (3 simple questions)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">1</strong> <strong class="month">Jan</strong> <strong class="year">2013</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_29 first"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_94 last active"><a class="active" href="/tags/new-years-resolution" rel="tag" title="">New Year's resolution</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 142px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2013/01/2013.jpg" rel="lightbox"><img alt="Dog with 2013 hat" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2013/01/2013.jpg" title="Photo by HackBitz"/></a><div class="caption"><a href="http://www.flickr.com/photos/78341294@N00/8326634109">Photo</a> by <a href="http://www.flickr.com/photos/mgewalden/">HackBitz</a></div></div>
<p><strong>Happy New Year! I hope you had a great holiday season. :-)</strong></p>
<p>You may have noticed that I haven't published any articles for a few weeks. Instead I've been relaxing and reconnecting with friends and family. I've also been reflecting on my successes and failures from the previous year and <em>thinking about my goals for the new year.</em></p>
<p>Like many people, I have tendency to set many, overly-ambitious goals for myself that are impossible to achieve. <em>Have you ever done this?</em> ;-)</p>
<p>That's why this year I've decided to systematically choose only ONE PERFECT language learning goal. To be "perfect" it should:</p>
<ol>
<li><strong>Make a big difference</strong> in my language learning journey, and</li>
<li><strong>Be <em>actually</em> achievable</strong>.</li>
</ol>
<p>In this article I present <em>three simple questions</em> that I used to choose the perfect language learning goal for me in 2013.</p>
<p>Don't make any more empty promises to yourself!</p>
<p><strong>Read more and use the same questions to discover the perfect goal for YOU!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2013/01/discover-the-perfect-language-learning-goal-for-2013-3-simple-questions#comments" title="Jump to the first comment of this posting.">9 comments</a></li>
<li class="node_read_more"><a href="/blog/2013/01/discover-the-perfect-language-learning-goal-for-2013-3-simple-questions" title="Read the rest of Discover the PERFECT language learning goal for 2013! (3 simple questions).">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2013%2F01%2Fdiscover-the-perfect-language-learning-goal-for-2013-3-simple-questions&amp;linkname=Discover%20the%20PERFECT%20language%20learning%20goal%20for%202013%21%20%283%20simple%20questions%29" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-107">
<h2 class="node-title"><a href="/blog/2011/12/my-language-goals-for-2012" title="My language goals for 2012">My language goals for 2012</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">27</strong> <strong class="month">Dec</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_94 first active"><a class="active" href="/tags/new-years-resolution" rel="tag" title="">New Year's resolution</a></li>
<li class="taxonomy_term_31 last"><a href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 106px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/12/fireworks.jpg" rel="lightbox"><img alt="Fireworks!" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/12/fireworks.jpg" title="Photo by Trey Ratcliff"/></a><div class="caption"><a href="http://www.flickr.com/photos/95572727@N00/2374904960">Photo</a> by <a href="http://www.flickr.com/people/stuckincustoms/">Trey Ratcliff</a></div></div>
<p>I know a lot of people think New Year's Resolutions are stupid.  Personally I've always liked them and I <em>try</em> to make some every year.  Unfortunately, I can't remember the resolutions I made for 2011. :-/</p>
<p>But that old, tired year will be behind us soon.  It's time to start thinking about the wonderful New Year!</p>
<p>While I have a number of New Year's Resolutions - including to start flossing my teeth more often :-) - the main topic of this blog is language, so I'm only going to talk about my language learning goals.</p>
<p><strong>Read more to see my language goals for next year!</strong></p><p>
</p> </div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/12/my-language-goals-for-2012#comments" title="Jump to the first comment of this posting.">37 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/12/my-language-goals-for-2012" title="Read the rest of My language goals for 2012.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F12%2Fmy-language-goals-for-2012&amp;linkname=My%20language%20goals%20for%202012" id="da2a_2"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
