---
permalink: /tags/new-years-eve/
layout: base-old
title: 'New Year''s Eve'
language: en
translation: 
---
<div class="node node-story clear-block" id="node-37">
<h2 class="node-title"><a href="/blog/2011/01/vlog-alkohol-i-sylwester-2011-w-stanach-zjednoczonych" title="Vlog: Alkohol i Sylwester 2011 w Stanach Zjednoczonych">Vlog: Alkohol i Sylwester 2011 w Stanach Zjednoczonych</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">5</strong> <strong class="month">Jan</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_6 first"><a href="/tags/holidays" rel="tag" title="">holidays</a></li>
<li class="taxonomy_term_48 active"><a class="active" href="/tags/new-years-eve" rel="tag" title="">New Year's Eve</a></li>
<li class="taxonomy_term_4"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
<li class="taxonomy_term_31 last"><a href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Dzisiaj mówię krótko na temat alkoholu i Sylwestra w Stanach i potem pokazuję to, co nagrałem na Sylwestra.  Mam nadzieję, że to jest ciekawe!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/mGbzBPWs0jA?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/mGbzBPWs0jA?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Czytaj transkrypcję poniżej!</p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/01/vlog-alkohol-i-sylwester-2011-w-stanach-zjednoczonych#comments" title="Jump to the first comment of this posting.">2 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/01/vlog-alkohol-i-sylwester-2011-w-stanach-zjednoczonych" title="Read the rest of Vlog: Alkohol i Sylwester 2011 w Stanach Zjednoczonych.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F01%2Fvlog-alkohol-i-sylwester-2011-w-stanach-zjednoczonych&amp;linkname=Vlog%3A%20Alkohol%20i%20Sylwester%202011%20w%20Stanach%20Zjednoczonych" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
