---
permalink: /tags/personal/
layout: base-old
title: 'personal'
language: en
translation: 
---
<div class="node node-story clear-block" id="node-129">
<h2 class="node-title"><a href="/blog/2012/03/about-me-and-my-mission" title="About me (and my mission)">About me (and my mission)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">20</strong> <strong class="month">Mar</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_28 first last active"><a class="active" href="/tags/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/03/me.jpg" rel="lightbox"><img alt="Portrait of David" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/03/me.jpg" title=""/></a></div>
<p><strong>I just realized I don't have a page on my blog where I really introduce myself and explain why I'm doing what I'm doing. :-)</strong></p>
<p>I've been writing and recording videos about language learning, Polish, and American culture for more than three years and, if you've been following along, you already know my whole story - <em>but not WHY I do this!</em></p>
<p><strong>(For my long-time fans: there is also a photo of me with long hair in the full article below. Check it out!)</strong></p>
<p>If you don't know me, here's a quick <em>official</em> bio:</p>
<blockquote>
<p>David Snopek is an American entrepreneur, programmer, language teacher, and language learner born and raised in Milwaukee, WI.  Though his last name is, in fact, Polish (due to distant Polish ancestors who immigrated to the USA about 100 years ago), he grew up speaking only one language: English.</p>
<p>As an adult, David was able to achieve a rather high level of proficiency in Polish using a non-traditional method.  Inspired by his success in language learning, he created <a href="http://www.linguatrek.com/">Linguatrek</a> to share the experience with others, and <a href="http://www.bibliobird.com">Bibliobird</a>, a web application to help Poles learn English.</p>
</blockquote>
<p><strong>I was reluctant to write this article because I knew it would lead to talking about "my mission."</strong></p>
<p>To be honest, I <em>do</em> have a mission, but I felt nervous saying so.  Big corporations and politicians have missions - and, to say it nicely, they are usually bulls**t. ;-)</p>
<p>So, I was worried that you might think my mission is bulls**t too.  But language learning is <a href="http://www.linguatrek.com/blog/2012/01/vlog-skupianie-si%C4%99-na-tym-co-jest-dla-mnie-wa%C5%BCne">my true passion</a> and I felt it was finally time to share this with you.</p>
<p><strong>Read more for more information about my mission!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/03/about-me-and-my-mission#comments" title="Jump to the first comment of this posting.">79 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/03/about-me-and-my-mission" title="Read the rest of About me (and my mission).">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F03%2Fabout-me-and-my-mission&amp;linkname=About%20me%20%28and%20my%20mission%29" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
