---
permalink: /tags/polakpotrafipl/
layout: base-old
title: 'PolakPotrafi.pl'
language: en
translation: 
---
<div class="node node-story clear-block" id="node-191">
<h2 class="node-title"><a href="/blog/2012/07/vlog-shaving-off-my-beard" title="Vlog: Shaving off my beard!">Vlog: Shaving off my beard!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">21</strong> <strong class="month">Jul</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_9 first"><a href="/tags/bibliobird" rel="tag" title="">BiblioBird</a></li>
<li class="taxonomy_term_84 active"><a class="active" href="/tags/polakpotrafipl" rel="tag" title="">PolakPotrafi.pl</a></li>
<li class="taxonomy_term_4"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
<li class="taxonomy_term_31 last"><a href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<p>Like <a href="http://www.linguatrek.com/blog/2012/07/thank-you-if-we-get-200-ill-shave-off-my-beard">I said</a>: if we reached 200% of our goal <a href="http://polakpotrafi.pl/project/Bibliobird">on PolakPotrafi.pl</a>, I'd shave off my beard. And I did it!</p>
<p><strong>Thank you everyone for your support!</strong></p>
<p>I started a <a href="http://en.bibliobird.com/wiki/Thank_you_for_your_support">page on Bibliobird</a> with the official "thank yous" but unfortunately, more than half of the supporters still haven't responded to <a href="http://www.linguatrek.com/blog/2012/07/bibliobird-presale-is-a-success-216-whats-next">Karolina's e-mail!</a> You need to respond in order to get your "thank you", postcard or badge on your profile.</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/dpa5iQS1mdk?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/dpa5iQS1mdk?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>This video was a lot of fun to record! The very beginning and ending are in Polish but the rest is in English because this is the language that my wife and I usually interact in.</p>
<p><strong>Please let me know what you think of me without my beard in the comments!</strong></p> </div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/07/vlog-shaving-off-my-beard#comments" title="Jump to the first comment of this posting.">4 comments</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F07%2Fvlog-shaving-off-my-beard&amp;linkname=Vlog%3A%20Shaving%20off%20my%20beard%21" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-189">
<h2 class="node-title"><a href="/blog/2012/07/bibliobird-presale-is-a-success-216-whats-next" title="Bibliobird presale is a success! 216%! What's next?">Bibliobird presale is a success! 216%! What's next?</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">17</strong> <strong class="month">Jul</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_9 first"><a href="/tags/bibliobird" rel="tag" title="">BiblioBird</a></li>
<li class="taxonomy_term_84 active"><a class="active" href="/tags/polakpotrafipl" rel="tag" title="">PolakPotrafi.pl</a></li>
<li class="taxonomy_term_31 last"><a href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/07/polakpotrafiend_0.png" rel="lightbox"><img alt="" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/07/polakpotrafiend_0.png" title=""/></a></div>
<p><em>Wow. I can't believe this is actually happening!</em></p>
<p>A year and a half ago <a href="http://www.linguatrek.com/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego">we launched</a> <a href="http://www.bibliobird.com">Bibliobird</a>, a free and Open Source web application for language learning based on the method that I used to learn Polish.</p>
<p>Since then it has become successful enough that it takes up all of our free time to maintain it.  It's clear that this idea has a lot of promise: many Poles have used it to make breakthroughs with their English!</p>
<p>We realized, however, that if it's going to ever reach it's full potential, we needed to devote more time and resources to it. Except we were already out of those things! Which is why we decided to create and sell some paid texts for Bibliobird to support our work on the project.</p>
<p><em>If we are successful, we'll be able to achieve <a href="http://www.linguatrek.com/blog/2012/03/why-i-almost-shut-down-linguatrek-and-bibliobird-and-our-big-dream">our dream</a> of working full-time to help people learn languages!</em></p>
<p>Three weeks ago, we launched our <a href="http://polakpotrafi.pl/projekt/Bibliobird/">crowdfunding campaign on PolakPotrafi.pl</a> to <a href="http://www.linguatrek.com/blog/2012/06/my-next-big-project-after-the-ebook">presell</a> the <a href="http://www.linguatrek.com/blog/2012/06/finally-our-full-product-idea-i-need-your-help-with-the-price">first package of paid texts</a> and to build a group of enthusiastic <em>founding members</em> to help us build and test it as well as all of our future products.</p>
<p><strong>The crowdfunding project was an unbelievable success!</strong></p>
<p>We reached our first goal of 10,000 PLN (about $2900) in only two days!  As of last night when the project closed, we reached <strong>21,585 PLN</strong> (about $6340), <strong>216%</strong> of the original goal (which means I'll be <a href="http://www.linguatrek.com/blog/2012/07/thank-you-if-we-get-200-ill-shave-off-my-beard">shaving off my beard</a>!) with <strong>210 supporters.</strong></p>
<p><strong>Thanks so much for all your support! I never could have imagined that it would go so well.</strong></p>
<p>Today I'm going to tell you what is going to happen next, including: when I'm going to shave my beard, when you'll receive your postcards, when we think the first product will be ready, etc...</p>
<p><strong>Read more to find out!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/07/bibliobird-presale-is-a-success-216-whats-next#comments" title="Jump to the first comment of this posting.">6 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/07/bibliobird-presale-is-a-success-216-whats-next" title="Read the rest of Bibliobird presale is a success! 216%! What's next?.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F07%2Fbibliobird-presale-is-a-success-216-whats-next&amp;linkname=Bibliobird%20presale%20is%20a%20success%21%20216%25%21%20What%27s%20next%3F" id="da2a_2"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-185">
<h2 class="node-title"><a href="/blog/2012/07/thank-you-if-we-get-200-ill-shave-off-my-beard" title="Thank you! If we get 200% - I'll shave off my beard. :-)">Thank you! If we get 200% - I'll shave off my beard. :-)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">9</strong> <strong class="month">Jul</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_9 first"><a href="/tags/bibliobird" rel="tag" title="">BiblioBird</a></li>
<li class="taxonomy_term_84 active"><a class="active" href="/tags/polakpotrafipl" rel="tag" title="">PolakPotrafi.pl</a></li>
<li class="taxonomy_term_31 last"><a href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<p>Two weeks ago, <a href="http://www.linguatrek.com/blog/2012/06/buy-our-product-to-help-us-create-it-our-dream-is-sooo-close">we began</a> the presale of our first paid product on PolakPotrafi.pl. We were able to acheive our original goal of 10.000 PLN (about $2900) in <strong><em>only two days!</em></strong></p>
<p>Because crowdfunding is not very well known or trusted in Poland - this means we actually broke the record for crowdfunding in Poland. For the time being, we are the fasted project funded to 100%. <em>(Hopefully, some other awesome project will beat us in not too long!)</em></p>
<p><strong>There's one more week left in our project and (as <a href="http://www.linguatrek.com/blog/2012/06/presale-at-94-more-opportunities-to-become-a-founding-member">I said</a> a bit ago) I'm adding a new goal</strong>: If we reach 200% or 20.000 PLN (about $5800) by 2012-07-16, I'll shave off my beard. We already have 154%!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/RjYt2xmDjX4?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/RjYt2xmDjX4?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p><strong>The video is in Polish but there are English subtitles (click the "CC" on the bottom right).</strong> <em>I recommend it!</em> My wife and I had a lot of fun recording this one.</p>
<p><strong>Here is our <a href="http://polakpotrafi.pl/projekt/Bibliobird/">project page on PolakPotrafi.pl</a>.</strong> If you want to contribute, but don't speak Polish - check out <a href="http://www.youtube.com/watch?v=-XFEND9dHDg">this video</a>.</p>
<p>Here are the links I mention in the film about the record we broke (in Polish):</p>
<ul>
<li><a href="http://blog.polakpotrafi.pl/post/26131802776/rekordowy-projekt-jezyk-angielski-z-prawdziwego">Rekordowy projekt - "Język angielski z prawdziwego życia"</a>
</li><li><a href="http://crowdfunding.pl/2012/06/29/polacy-na-zagranicznym-portalu-i-obcokrajowcy-na-polskim-portalu/#.T_rKpqScgxU">Polacy na zagranicznym portalu i obcokrajowcy na polskim portalu</a></li>
</ul>
<p><strong>Read more for the transcript!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/07/thank-you-if-we-get-200-ill-shave-off-my-beard#comments" title="Jump to the first comment of this posting.">2 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/07/thank-you-if-we-get-200-ill-shave-off-my-beard" title="Read the rest of Thank you! If we get 200% - I'll shave off my beard. :-).">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F07%2Fthank-you-if-we-get-200-ill-shave-off-my-beard&amp;linkname=Thank%20you%21%20If%20we%20get%20200%25%20-%20I%27ll%20shave%20off%20my%20beard.%20%3A-%29" id="da2a_3"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-181">
<h2 class="node-title"><a href="/blog/2012/06/presale-at-94-more-opportunities-to-become-a-founding-member" title="Presale at 94%! More opportunities to become a founding member!">Presale at 94%! More opportunities to become a founding member!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">28</strong> <strong class="month">Jun</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_9 first"><a href="/tags/bibliobird" rel="tag" title="">BiblioBird</a></li>
<li class="taxonomy_term_84 active"><a class="active" href="/tags/polakpotrafipl" rel="tag" title="">PolakPotrafi.pl</a></li>
<li class="taxonomy_term_85"><a href="/tags/presale" rel="tag" title="">presale</a></li>
<li class="taxonomy_term_31 last"><a href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/nintyfourpercent.png" rel="lightbox"><img alt="Status on PolakPotrafi" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/nintyfourpercent.png" title=""/></a></div>
<p><strong>Thanks everyone for your support! This has been amazing!</strong></p>
<p>In general, I didn't expect the presale on <a href="http://polakpotrafi.pl/project/Bibliobird">PolakPotrafi</a> would go so well. :-) I also didn't think that the option to become a "founding member" would be so popular!</p>
<p>I ran <a href="http://www.linguatrek.com/blog/2012/06/results-of-the-survey-the-winner-is-very-surprising">a survey</a> a couple weeks ago and I came to the conclusion that the package itself, "Real Life in the USA," would be the most popular and would make the most money.</p>
<p><strong>However, it turned out to be the complete opposite!</strong> The first 20 places to become a founder were bought up within 5 hours of the official start. :-) When I added more, those were bought up in less than a day. I know that if I add more new, they will also be bought very quickly. And the extra money would certainly help us start out!</p>
<p>Unfortunately, when I added more places last time, a few people in the first group were unhappy, because it was supposed to be an exclusive group. They were first so they got the best deal. In a sense it's unfair that the later people got the same deal. <strong><em>I understand that perfectly.</em></strong></p>
<p>So, when I again add more opporutunities, the people in the first and second groups must get something special. Like I said <a href="http://www.linguatrek.com/blog/2012/06/buy-our-product-to-help-us-create-it-our-dream-is-sooo-close#comment-2584">a few</a> <a href="http://www.linguatrek.com/blog/2012/06/buy-our-product-to-help-us-create-it-our-dream-is-sooo-close#comment-2603">times</a> in the comments and in <a href="http://polakpotrafi.pl/projekt/Bibliobird/aktualnosc/79">an update</a> on PolakPotrafi, I seriously cosidered making the price higher for the new people. But after lots of thinking, I decided that maybe that wasn't the best idea.</p>
<p>I don't want to create bad relations in the future between the people in the first two groups and the people in last. Afterall, the people in the third group would pay more (and in a way support the project more), so why should they have a lower status among the founding members? That would also be unfair.</p>
<p><strong>Of course, there must be some limit! We need to have someone to sell the product to in the future. If everyone had lifetime access to everything, we'd have a problem! ;-)</strong></p>
<p>After the presale we aren't ever going to sell founding memberships again - it wouldn't make sense. We'll have to concentrate on creating and selling the products themselves.</p>
<p>However, I think that even 100 founding members would be OK. Looking at the data, if I don't add any new places, will get to 10.000 PLN ($2900) in a week and in the end only a little higher. But if I add some more opportunities to become a founding member, we have a chance to even get twice that! That's why this decision was so hard but also important.</p>
<p>So, I decided on this solution...</p>
<p><strong>Read more to find out what it is! Or visit <a href="http://polakpotrafi.pl/project/Bibliobird">our page</a> on PolakPotrafi to become a founding member!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/06/presale-at-94-more-opportunities-to-become-a-founding-member#comments" title="Jump to the first comment of this posting.">5 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/06/presale-at-94-more-opportunities-to-become-a-founding-member" title="Read the rest of Presale at 94%! More opportunities to become a founding member!.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F06%2Fpresale-at-94-more-opportunities-to-become-a-founding-member&amp;linkname=Presale%20at%2094%25%21%20More%20opportunities%20to%20become%20a%20founding%20member%21" id="da2a_4"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-179">
<h2 class="node-title"><a href="/blog/2012/06/buy-our-product-to-help-us-create-it-our-dream-is-sooo-close" title="Buy our product to help us create it! (our dream is sooo close!)">Buy our product to help us create it! (our dream is sooo close!)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">26</strong> <strong class="month">Jun</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_9 first"><a href="/tags/bibliobird" rel="tag" title="">BiblioBird</a></li>
<li class="taxonomy_term_84 active"><a class="active" href="/tags/polakpotrafipl" rel="tag" title="">PolakPotrafi.pl</a></li>
<li class="taxonomy_term_31 last"><a href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/polakpotrafi.png" rel="lightbox"><img alt="Screenshot of PolakPotrafi" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/polakpotrafi.png" title=""/></a></div>
<p>I can't believe our presale is finally happening! Back in January, <a href="http://www.linguatrek.com/blog/2012/03/why-i-almost-shut-down-linguatrek-and-bibliobird-and-our-big-dream">I decided</a> that I was going to try to turn my hobby of helping people learn languages into my job. And I had to give up a lot to do it.</p>
<p>We have until 2012-07-16 in order to raise enough money to create the product. If we don't, all the money will be refunded and we won't create it.</p>
<p><strong>But if the presale of our first paid product is a success, my wife and I will finally acheive our dream!</strong></p>
<p>We're conducting the presale on a Polish crowdfunding website called <strong>PolakPotrafi.pl</strong> (<a href="http://polakpotrafi.pl/projekt/Bibliobird">click here</a> to see our page there).</p>
<p>I chose this site because it has the best payment options for Poles and allows project descriptions in Polish. This makes sense because the first product is aimed at Polish native speakers learning English and they make up the majority of my readers and fans.</p>
<p><strong>But there are plenty of reasons to get involved in the presale even if you aren't Polish or aren't learning English!</strong></p>
<ul>
<li><strong>For 20 PLN (about $6)</strong> you can  get a postcard from the USA.</li>
<li><strong>For 100 PLN (about $30)</strong> you can get access to an exclusive webinar and Q&amp;A session that I'll do about learning a language on your own. I'll do it twice: once in English and once in Polish.</li>
<li><strong>For 200 PLN (about $60)</strong> you can become a "founding member" of Bibliobird and <strong><em>receive every paid product we ever make in the future!</em></strong> This will include products for learning other languages and for different learner groups. Something for English speakers learning Polish is almost a certainty. ;-) <strong>This is limited to 20 people, so if you're interested, buy right away!</strong> <em>(Update: this sold out almost immediately but I decided to increase the limit by 20 - I won't increase it again so buy quickly if you want to be a "founding member"!)</em></li>
<li>Or maybe you thought my free ebook was useful and just want to give something to thank me!</li>
</ul>
<p><a href="http://polakpotrafi.pl/projekt/Bibliobird">Click here</a> (in Polish!) to learn more or to help us either financially or by spreading the word! Thanks so much!</p>
<p><strong>If you don't speak Polish, click the "Read more" link to see a video I made to show you how to contribute.</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/06/buy-our-product-to-help-us-create-it-our-dream-is-sooo-close#comments" title="Jump to the first comment of this posting.">18 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/06/buy-our-product-to-help-us-create-it-our-dream-is-sooo-close" title="Read the rest of Buy our product to help us create it! (our dream is sooo close!).">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F06%2Fbuy-our-product-to-help-us-create-it-our-dream-is-sooo-close&amp;linkname=Buy%20our%20product%20to%20help%20us%20create%20it%21%20%28our%20dream%20is%20sooo%20close%21%29" id="da2a_5"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-177">
<h2 class="node-title"><a href="/blog/2012/06/the-topic-of-our-paid-product-the-presale-starts-in-a-couple-days" title="The topic of our paid product (the presale starts in a couple days!)">The topic of our paid product (the presale starts in a couple days!)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">22</strong> <strong class="month">Jun</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_9 first"><a href="/tags/bibliobird" rel="tag" title="">BiblioBird</a></li>
<li class="taxonomy_term_84 active"><a class="active" href="/tags/polakpotrafipl" rel="tag" title="">PolakPotrafi.pl</a></li>
<li class="taxonomy_term_31 last"><a href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/reallife_1.png" rel="lightbox"><img alt="American flag, Bibliobird logo and text 'Real Life in the USA'" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/reallife_1.png" title=""/></a></div>
<p><a href="http://www.linguatrek.com/blog/2012/06/finally-our-full-product-idea-i-need-your-help-with-the-price">Two weeks ago</a> I told you about our idea for a paid language learning product. There was a survey about the price and format for this product. A few hundred people filled out the form - thanks so much!</p>
<p><a href="http://www.linguatrek.com/blog/2012/06/results-of-the-survey-the-winner-is-very-surprising">Last week</a> I told the results of the survey and asked for ideas for the topic of the product.</p>
<p>Today I'm just going to give you a short note with the topic we decided on and let you know that the presale is going to start on <strong>Monday, June 25th!</strong> The topic is going to be <strong>"Real Life in the USA"</strong>:</p>
<ul>
<li>There will be texts (and films with transcripts!) about many aspects of life in the USA, for example: work, fun and sport, and other daily activities.</li>
<li>There will be normal articles as well as stories and dialogs!</li>
<li>Some of the materials will be taken directly from real conversations with native speakers.</li>
<li>We'll also talk about immigration, stereotypes and music.</li>
</ul>
<p><strong>Everything will be <strong>in English</strong>, with <strong>native speakers</strong> and prepared to be read, watched and listened to <strong>on <a href="http://www.bibliobird.com">Bibliobird</a>!</strong></strong></p>
<p>I will publish more information on Monday!  <em>Thanks in advance for your support!</em></p> </div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/06/the-topic-of-our-paid-product-the-presale-starts-in-a-couple-days#comments" title="Jump to the first comment of this posting.">6 comments</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F06%2Fthe-topic-of-our-paid-product-the-presale-starts-in-a-couple-days&amp;linkname=The%20topic%20of%20our%20paid%20product%20%28the%20presale%20starts%20in%20a%20couple%20days%21%29" id="da2a_6"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
