---
permalink: /tags/profanity/
layout: base-old
title: 'profanity'
language: en
translation: 
---
<div class="node node-story clear-block" id="node-80">
<h2 class="node-title"><a href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87" title="How to swear like a Pole: pierd*lić">How to swear like a Pole: pierd*lić</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">12</strong> <strong class="month">Jul</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_11 first active"><a class="active" href="/tags/profanity" rel="tag" title="">profanity</a></li>
<li class="taxonomy_term_1 last"><a href="/category/language-learning/learn-polish" rel="tag" title="">learn Polish</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 122px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/07/profanity.jpg" rel="lightbox"><img alt="Symbols - to look like censored profanity - inside a 'no' or 'not allowed' sign" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/07/profanity.jpg" title="These words should be used by experts only!  Photo by stockicide on Flickr."/></a><div class="caption">These words should be used by experts only!  <a href="http://www.flickr.com/photos/55095508@N03/5137053864">Photo</a> by <a href="http://www.flickr.com/photos/55095508@N03/">stockicide</a> on Flickr.</div></div>
<p>For some reason, many people are fascinated with swear words in foreign languages.  Frequently, people I meet ask me how to say them in Polish.  I've only given in a few times and I've always regretted it later.</p>
<p>Imagine hearing someone yelling the k-word everytime they see you!  Or repeating it over and over endlessly at a party.</p>
<p>But <strong>swear words <em>are</em> a very interesting topic when looked at intellectually.</strong>  In English, it's amazing all the different meanings that the f-word can have!  Swear words are often some of the most versitile and colorful words in any language.</p>
<p><strong>Today's article is a guest post by <a href="http://www.youtube.com/user/skorway">skorway on YouTube</a> (who is a Pole) about all the different meanings and variations of the Polish swear word <em>pierd*lić</em>.</strong></p>
<p><em>Note: That's not really how the word is spelled, the asterisk is to censor it (just like typing "f**k" in English).  <strong>The full article is UNCENSORED</strong> and may not be appropriate for some readers!  You have been warned.</em></p>
<p><strong>Read more for the full article!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comments" title="Jump to the first comment of this posting.">127 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87" title="Read the rest of How to swear like a Pole: pierd*lić.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F07%2Fhow-to-swear-like-a-pole-pierdoli%25C4%2587&amp;linkname=How%20to%20swear%20like%20a%20Pole%3A%20pierd%2Ali%C4%87" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
