---
permalink: /tags/religion/
layout: base-old
title: 'religion'
language: pl
translation: 
---
<div class="node node-story clear-block" id="node-104">
<h2 class="node-title"><a href="/blog/2011/12/unique-american-religions" title="Unique American Religions">Unique American Religions</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">7</strong> <strong class="month">gru</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_66 first active"><a class="active" href="/tags/religion" rel="tag" title="">religion</a></li>
<li class="taxonomy_term_32 last"><a href="/category/culture/usa" rel="tag" title="">USA</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/12/church.jpg" rel="lightbox"><img alt="Inside of a church" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/12/church.jpg" title="Photo by Marc."/></a><div class="caption"><a href="http://www.flickr.com/photos/30982194@N05/3952192361">Photo</a> by <a href="http://www.flickr.com/photos/marcp_dmoz/">Marc</a>.</div></div>
<p>A few interesting religions began in the United States, including Mormonism and the Jehovah’s Witnesses.  The Amish religion did not originate in the United States, but this interesting cultural group is now only found in the U.S. (and a bit of Canada).</p>
<p>Though these three religions are very different, they are all based in the U.S., so I’ve received many questions about them from LinguaTrek readers.  All three of these religions are based in <a href=" http://en.wikipedia.org/wiki/Christianity">Christianity</a>.</p>
<p><strong>Read more to learn about these interesting religious groups!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/12/unique-american-religions#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">12 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2011/12/unique-american-religions" title="Wyświetla dalszą część wpisu Unique American Religions.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F12%2Funique-american-religions&amp;linkname=Unique%20American%20Religions" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
