---
permalink: /tags/shadowing/
layout: base-old
title: 'shadowing'
language: en
translation: 
---
<div class="node node-story clear-block" id="node-76">
<h2 class="node-title"><a href="/blog/2011/06/experiment-in-shadowing" title='Experiment in "shadowing"'>Experiment in "shadowing"</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">14</strong> <strong class="month">Jun</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_29 first"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_36"><a href="/tags/method" rel="tag" title="">method</a></li>
<li class="taxonomy_term_59 last active"><a class="active" href="/tags/shadowing" rel="tag" title="">shadowing</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/06/shadows.jpg" rel="lightbox"><img alt="Shadows of little boys running" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/06/shadows.jpg" title="Photo by Nattu"/></a><div class="caption"><a href="http://www.flickr.com/photos/33345813@N00/1115248583">Photo</a> by <a href="http://www.flickr.com/photos/nattu/">Nattu</a></div></div>
<p>For several years, I've heard about a mysterious technique for language learning called <em>shadowing</em>.</p>
<p>I understood that it had to do with repeating after a recording of a native speaker, however, I didn't really know more than that.  But recently I've become more interested!</p>
<p>It all started because I want to <a href="http://en.bibliobird.com/node/6171">improve my Polish pronunciation</a>.  While its strongest proponents assert that shadowing is a complete language learning technique, <a href="http://ask.antimoon.com/questions/3224/pronunciation-shadowing">many</a> <a href="http://languagegeek.net/2008/07/01/getting-started-with-shadowing/">people</a> <a href="http://eprints.ums.edu.my/1958/">say</a> that it's particularly great for improving pronunciation.</p>
<p><strong>So, I've decide to experiment using shadowing with Polish!</strong></p>
<p>In this article, I describe my plan for this experiment.  I'm completely new to the technique, but I know that many readers of the blog already use it.  <em>Please</em> give me your advice!</p>
<p><strong>Read more for a short explanation of shadowing and my plan!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/06/experiment-in-shadowing#comments" title="Jump to the first comment of this posting.">20 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/06/experiment-in-shadowing" title='Read the rest of Experiment in "shadowing".'>Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F06%2Fexperiment-in-shadowing&amp;linkname=Experiment%20in%20%22shadowing%22" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
