---
permalink: /tags/shopping/
layout: base-old
title: 'shopping'
language: pl
translation: 
---
<div class="node node-story clear-block" id="node-240">
<h2 class="node-title"><a href="/blog/2013/02/vlog-zakupy-w-usa" title="Vlog: Zakupy w USA!">Vlog: Zakupy w USA!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">5</strong> <strong class="month">lut</strong> <strong class="year">2013</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_96 first active"><a class="active" href="/tags/shopping" rel="tag" title="">shopping</a></li>
<li class="taxonomy_term_32"><a href="/category/culture/usa" rel="tag" title="">USA</a></li>
<li class="taxonomy_term_4 last"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="pl" data-to-lang="en">
<p><em>(Jeśli jesteś subskrybentem i nie dostałeś maila dotyczącego tego filmiku, to dlatego, że nie wybrałeś "Interesuje mnie temat ... Życie w USA i kultura amerykańska" albo "Uczę się ... angielskiego" w swoich <a href="http://www.linguatrek.com/options">opcjach subskrybenta</a>.)</em></p>
<p>Na podstawie <a href="http://www.linguatrek.com/blog/2013/01/big-changes-to-my-blog-results-of-the-survey">Waszych odpowiedzi na ankiecie</a> parę tygodni temu, oto filmik <em>po angielsku pokazujący codzienne życie w USA.</em></p>
<p>Poprosiliście o mniej filmików, w których rozmawiam do kamery w naszym mieszkaniu i więcej poza domem. Więc właśnie to spróbowaliśmy zrobić!</p>
<p><strong>Proszę mi powiedzcie co myślicie o tym filmiku! Czy chcecie więcej takich?</strong></p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/kX3Nc__0M3w?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/kX3Nc__0M3w?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p><em>(<a href="http://www.amara.org/en/videos/efRYnCKiSxcG/en/520589/#transcripts">Kliknij tutaj</a>, żeby pomóc z napisami albo przetłumaczyć je na inny język!)</em></p>
<p><strong>Czytaj dalej, żeby zobaczyć pełną transkrypcję!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2013/02/vlog-zakupy-w-usa#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">55 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2013/02/vlog-zakupy-w-usa" title="Wyświetla dalszą część wpisu Vlog: Zakupy w USA!.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2013%2F02%2Fvlog-zakupy-w-usa&amp;linkname=Vlog%3A%20Zakupy%20w%20USA%21" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
