---
permalink: /tags/speaking/
layout: base-old
title: 'speaking'
language: en
translation: 
---
<div class="node node-story clear-block" id="node-100">
<h2 class="node-title"><a href="/blog/2011/11/how-to-practice-speaking-over-the-internet" title="How to practice speaking over the internet">How to practice speaking over the internet</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">9</strong> <strong class="month">Nov</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_29 first"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_60 last active"><a class="active" href="/tags/speaking" rel="tag" title="">speaking</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/default/files/imagecache/Large/image/2011/11/artofconversation.jpg" rel="lightbox"><img alt="Two women talking" src="http://www.linguatrek.com/sites/default/files/imagecache/Small/image/2011/11/artofconversation.jpg" title="The art of conversation. Photo by Duncan Harris."/></a><div class="caption">The art of conversation. <a href="http://www.flickr.com/photos/29057345@N04/4107333458">Photo</a> by <a href="http://www.flickr.com/people/duncanh1/">Duncan Harris</a>.</div></div>
<p>Nothing can replace practicing your language with a native speaker.  But what if no native speakers live in your city?  Not everyone has the means to <a href="http://www.linguatrek.com/blog/2011/07/you-dont-need-to-live-in-a-foreign-country-to-learn">travel to another country</a>.</p>
<p><strong>But that doesn't mean you can't practice speaking!</strong></p>
<p>I've written about <a href="http://www.linguatrek.com/blog/2011/02/immersion-tips-how-to-meet-natives#language-exchange">language exchange</a> in the past.</p>
<p>This is where you meet with someone who's native language is the language you are learning and your native language is the language they are learning.  For the first half of the meeting you talk in one language and for the second half you talk in the other.</p>
<p><strong>And the best part is that this is something you can do entirely over the internet, using voice chat software like <a href="http://www.skype.com/">Skype</a>!</strong></p>
<p><strong>Read more to learn how!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/11/how-to-practice-speaking-over-the-internet#comments" title="Jump to the first comment of this posting.">9 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/11/how-to-practice-speaking-over-the-internet" title="Read the rest of How to practice speaking over the internet.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F11%2Fhow-to-practice-speaking-over-the-internet&amp;linkname=How%20to%20practice%20speaking%20over%20the%20internet" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-71">
<h2 class="node-title"><a href="/blog/2011/05/how-to-overcome-your-fear-of-speaking" title="How to overcome your fear of speaking">How to overcome your fear of speaking</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">24</strong> <strong class="month">May</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_29 first"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_60 last active"><a class="active" href="/tags/speaking" rel="tag" title="">speaking</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/default/files/imagecache/Large/image/2011/05/panic.jpg" rel="lightbox"><img alt="Woman with panicked look on her face" src="http://www.linguatrek.com/sites/default/files/imagecache/Small/image/2011/05/panic.jpg" title="&quot;I want to speak but I'm afraid!&quot;  Photo by Nate Steiner."/></a><div class="caption"><em>"I want to speak but I'm afraid!"</em> <a href="http://www.flickr.com/photos/44124484443@N01/321938695">Photo</a> by <a href="http://www.flickr.com/photos/nate/">Nate Steiner</a>.</div></div>
<p><em>No matter how well you know a language, you can't communicate with anyone if you're afraid to use it.</em></p>
<p>While it might not seem like this has anything to do with <em>language learning</em>, this is a problem that affects a lot of people.  <em>Even me</em>!</p>
<p>For a long a time, I was afraid to speak the languages I was learning (Polish and Russian).  I still have trouble getting the courage to speak in certain situations (ex. on the telephone) or with certain people.  It isn't something that I got over immediately, but I've slowly improved over several years.</p>
<p><strong>Read more to learn how I got over my fear of speaking and how <em>you</em> can too!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comments" title="Jump to the first comment of this posting.">29 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/05/how-to-overcome-your-fear-of-speaking" title="Read the rest of How to overcome your fear of speaking.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F05%2Fhow-to-overcome-your-fear-of-speaking&amp;linkname=How%20to%20overcome%20your%20fear%20of%20speaking" id="da2a_2"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
