---
permalink: /tags/tenses/
layout: base-old
title: 'tenses'
language: en
translation: 
---
<div class="node node-story clear-block" id="node-237">
<h2 class="node-title"><a href="/blog/2013/01/the-key-to-understanding-english-tenses" title="The key to understanding English tenses!">The key to understanding English tenses!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">29</strong> <strong class="month">Jan</strong> <strong class="year">2013</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_17 first"><a href="/tags/grammar" rel="tag" title="">grammar</a></li>
<li class="taxonomy_term_2"><a href="/category/language-learning/learn-english" rel="tag" title="">learn English</a></li>
<li class="taxonomy_term_95 last active"><a class="active" href="/tags/tenses" rel="tag" title="">tenses</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 107px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2013/01/alarmclock.jpg" rel="lightbox"><img alt="Alarm clock" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2013/01/alarmclock.jpg" title="Photo by Alan Cleaver"/></a><div class="caption"><a href="http://www.flickr.com/photos/11121568@N06/4293345631">Photo</a> by <a href="http://www.flickr.com/photos/alancleaver/">Alan Cleaver</a></div></div>
<p>Every language has <em>some</em> difficult bit.</p>
<p>It's that one aspect of the language that you'll be working on over and over again the whole time that you're learning it.</p>
<p>For English, it's <em>verb tenses.</em></p>
<p>Counting the way the teachers usually do, <strong>English has 14-16 tenses.</strong> <em>(There's many ways to count them!)</em></p>
<p>No matter what the exact number - the point is that English has a very complex verb system. I get TONS of questions from English learners about which tense is correct in a particular sentence.</p>
<p>A couple weeks ago, during one of our <a href="https://pl.bibliobird.com/spotkania-premium-przez-czat-g%C5%82osowy">English lessons over voice chat</a>, a learner (<em>Hi Marcin!</em>) asked me:</p>
<blockquote>
<p>Why did you say: "I was using it as an example?" Why not: "I used it as an example?" You weren't talking about it very long - shouldn't it be <em>past simple</em> instead of <em>past continuous</em>?</p>
</blockquote>
<p><strong>The answer is actually quite simple. And it ISN'T a grammar explanation. ;-) Really! I won't need to draw a picture or show you a chart.</strong></p>
<p>In fact, all this confusion comes from a <em>fundamental misunderstanding</em> about English tenses, which itself stems from years and years of teachers explaining the tenses in a particular way.</p>
<p>Today, I'm <em>finally</em> going to clear up this misunderstanding!</p>
<p><strong>Read more to learn the key to understanding English tenses!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2013/01/the-key-to-understanding-english-tenses#comments" title="Jump to the first comment of this posting.">30 comments</a></li>
<li class="node_read_more"><a href="/blog/2013/01/the-key-to-understanding-english-tenses" title="Read the rest of The key to understanding English tenses!.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2013%2F01%2Fthe-key-to-understanding-english-tenses&amp;linkname=The%20key%20to%20understanding%20English%20tenses%21" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
