---
permalink: /tags/things-i-love-about-poland/
layout: base-old
title: 'Things I Love About Poland'
language: pl
translation: 
---
<div class="node node-story clear-block" id="node-207">
<h2 class="node-title"><a href="/blog/2012/09/rzeczy-kt%C3%B3re-kocham-w-polsce-nr-06-jedzenie-na-mie%C5%9Bcie" title="Rzeczy, które kocham w Polsce, nr 06: Jedzenie na mieście!">Rzeczy, które kocham w Polsce, nr 06: Jedzenie na mieście!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">25</strong> <strong class="month">wrz</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_3 first active"><a class="active" href="/tags/things-i-love-about-poland" rel="tag" title="">Things I Love About Poland</a></li>
<li class="taxonomy_term_33 last"><a href="/category/culture/poland" rel="tag" title="">Poland</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="pl" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 147px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/09/zapiekanka.jpg" rel="lightbox"><img alt="Zapiekanka" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/09/zapiekanka.jpg" title="Zapiekanka. Zdjęcie autorstwa Mariuszjbie."/></a><div class="caption">Zapiekanka. <a href="http://commons.wikimedia.org/wiki/File:Zapiekanka_2..jpg">Zdjęcie</a> autorstwa Mariuszjbie.</div></div>
<p><strong>To jest <em>szósty</em> artykuł z serii "<a href="http://www.linguatrek.com/tags/things-i-love-about-poland">Rzeczy, które kocham w Polsce</a>," w której omawiam różnice między Polską a USA.</strong></p>
<p>Trochę minęło, od kiedy napisałem ostatni artykuł z tej serii! Zaraz po powrocie z naszej ostatniej wycieczki do Polski (w październiku 2010), zrobiłem listę ponad <em>dwudziestu tematów</em> do opisania. :-)</p>
<p>Miałem nadzieję odwiedzić Polskę ponownie w jesień tego roku, ale z nawałem pracy, którą mamy przy Bibliobirdzie, nie wydaje się to możliwe. :-/</p>
<p><em>(A propos, nasz płatny produkt do pomocy Polakom w nauce angielskiego - "Real Life in the USA" - startuje w poniedziałek, 1 października. <a href="https://en.bibliobird.com/node/14452">Tutaj</a> dowiesz się więcej i dostaniesz zniżkę!)</em></p>
<p><strong>Teraz, kiedy nadeszła jesień, nachodzi mnie nostalgia!</strong></p>
<p>W moim <a href="http://www.linguatrek.com/blog/2010/11/things-i-love-about-poland-01-waiters-leave-you-alone">pierwszym artykule z tej serii</a>, opisałem jedną z rzeczy, które uwielbiam w jedzeniu na mieście w Polsce - a dzisiaj opowiem o jeszcze trzech!</p>
<p><strong>Czytaj dalej, aby dowiedzieć się o co chodzi!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/09/rzeczy-kt%C3%B3re-kocham-w-polsce-nr-06-jedzenie-na-mie%C5%9Bcie#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">17 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2012/09/rzeczy-kt%C3%B3re-kocham-w-polsce-nr-06-jedzenie-na-mie%C5%9Bcie" title="Wyświetla dalszą część wpisu Rzeczy, które kocham w Polsce, nr 06: Jedzenie na mieście!.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F09%2Frzeczy-kt%25C3%25B3re-kocham-w-polsce-nr-06-jedzenie-na-mie%25C5%259Bcie&amp;linkname=Rzeczy%2C%20kt%C3%B3re%20kocham%20w%20Polsce%2C%20nr%2006%3A%20Jedzenie%20na%20mie%C5%9Bcie%21" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-66">
<h2 class="node-title"><a href="/blog/2011/05/things-i-love-about-poland-05-history-is-everywhere" title="Things I Love About Poland #05: History is Everywhere!">Things I Love About Poland #05: History is Everywhere!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">17</strong> <strong class="month">maj</strong> <strong class="year">2011</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Czytaj ten tekst z BiblioBirdem!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_3 first active"><a class="active" href="/tags/things-i-love-about-poland" rel="tag" title="">Things I Love About Poland</a></li>
<li class="taxonomy_term_33 last"><a href="/category/culture/poland" rel="tag" title="">Poland</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/05/outsidewawel.jpg" rel="lightbox"><img alt="People on a hill in front of a castle" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/05/outsidewawel.jpg" title="People relaxing near the Wisła river, next to Wawel castle.  Photo by bazylek100 on Flikr."/></a><div class="caption">People relaxing near the Wisła river, next to Wawel castle.  <a href="http://www.flickr.com/photos/bazylek/3413198654/">Photo</a> by <a href="http://www.flickr.com/photos/bazylek/">bazylek100</a> on Flikr.</div></div>
<p><strong>This is the fifth installment in my series of articles called "<a href="http://www.linguatrek.com/tags/things-i-love-about-poland">Things I Love About Poland</a>," in which I discuss differences between Poland and the USA.  In this article, I talk about Poland's old-world character and wonderful museums.</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/05/things-i-love-about-poland-05-history-is-everywhere#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">6 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2011/05/things-i-love-about-poland-05-history-is-everywhere" title="Wyświetla dalszą część wpisu Things I Love About Poland #05: History is Everywhere!.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F05%2Fthings-i-love-about-poland-05-history-is-everywhere&amp;linkname=Things%20I%20Love%20About%20Poland%20%2305%3A%20History%20is%20Everywhere%21" id="da2a_2"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-41">
<h2 class="node-title"><a href="/blog/2011/01/things-i-love-about-poland-04-money" title="Things I Love About Poland #04: Money">Things I Love About Poland #04: Money</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">25</strong> <strong class="month">sty</strong> <strong class="year">2011</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Czytaj ten tekst z BiblioBirdem!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_3 first active"><a class="active" href="/tags/things-i-love-about-poland" rel="tag" title="">Things I Love About Poland</a></li>
<li class="taxonomy_term_33 last"><a href="/category/culture/poland" rel="tag" title="">Poland</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/01/polishbanknotes.jpg" rel="lightbox"><img alt="Polish bills" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/01/polishbanknotes.jpg" title="Polish bills.  Photo by Niels Heidenreich."/></a><div class="caption">Polish bills.  <a href="http://www.flickr.com/photos/schoschie/8903464/">Photo</a> by <a href="http://www.flickr.com/photos/schoschie/">Niels Heidenreich</a>.</div></div>
<p><strong>This is the fourth installment in my series of articles called "<a href="http://www.linguatrek.com/tags/things-i-love-about-poland">Things I Love About Poland</a>," in which I discuss differences between Poland and the USA.  In this article, I talk about money.</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/01/things-i-love-about-poland-04-money#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">23 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2011/01/things-i-love-about-poland-04-money" title="Wyświetla dalszą część wpisu Things I Love About Poland #04: Money.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F01%2Fthings-i-love-about-poland-04-money&amp;linkname=Things%20I%20Love%20About%20Poland%20%2304%3A%20Money" id="da2a_3"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-17">
<h2 class="node-title"><a href="/blog/2010/11/things-i-love-about-poland-03-country-vs-city" title="Things I Love About Poland #03: Country vs. City">Things I Love About Poland #03: Country vs. City</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">17</strong> <strong class="month">lis</strong> <strong class="year">2010</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Czytaj ten tekst z BiblioBirdem!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_3 first active"><a class="active" href="/tags/things-i-love-about-poland" rel="tag" title="">Things I Love About Poland</a></li>
<li class="taxonomy_term_33 last"><a href="/category/culture/poland" rel="tag" title="">Poland</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/11/house_kalisz_poland.jpg" rel="lightbox"><img alt="Country house in Poland" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/11/house_kalisz_poland.jpg" title="Photo by Maciej Bliziński"/></a><div class="caption">Country house outside of Kalisz, Poland (where my great grandmother was born).  <a href="http://www.flickr.com/photos/automaciej/124669260/">Photo</a> by <a href="http://www.flickr.com/people/automaciej/">Maciej Bliziński</a>.</div></div>
<p><strong>This is the third in a series of articles called "<a href="http://www.linguatrek.com/tags/things-i-love-about-poland">Things I Love About Poland</a>," where I discuss differences between Poland and the USA. In this article, I talk about my dream of living in a Polish village.</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2010/11/things-i-love-about-poland-03-country-vs-city#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">9 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2010/11/things-i-love-about-poland-03-country-vs-city" title="Wyświetla dalszą część wpisu Things I Love About Poland #03: Country vs. City.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2010%2F11%2Fthings-i-love-about-poland-03-country-vs-city&amp;linkname=Things%20I%20Love%20About%20Poland%20%2303%3A%20Country%20vs.%20City" id="da2a_4"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-14">
<h2 class="node-title"><a href="/blog/2010/11/things-i-love-about-poland-02-kiosks" title="Things I Love About Poland #02: Kiosks!">Things I Love About Poland #02: Kiosks!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">12</strong> <strong class="month">lis</strong> <strong class="year">2010</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Czytaj ten tekst z BiblioBirdem!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_3 first active"><a class="active" href="/tags/things-i-love-about-poland" rel="tag" title="">Things I Love About Poland</a></li>
<li class="taxonomy_term_33 last"><a href="/category/culture/poland" rel="tag" title="">Poland</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/11/2349854120_4b6bb6bd37_o.jpg" rel="lightbox"><img alt="Polish Kiosk" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/11/2349854120_4b6bb6bd37_o.jpg" title="Photo by urbanlegend on Flickr"/></a><div class="caption">A Polish kiosk.  <a href="http://www.flickr.com/photos/17989497@N00/2349854120/">Photo</a> by <a href="http://www.flickr.com/photos/17989497@N00">urbanlegend</a> on Flickr.</div></div>
<p><strong>This is the second in a series of articles called "<a href="http://www.linguatrek.com/tags/things-i-love-about-poland">Things I Love About Poland</a>," where I discuss differences between Poland and the USA.  In this article, I talk about Polish <a href="http://en.wikipedia.org/wiki/Kiosk">kiosks</a>!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2010/11/things-i-love-about-poland-02-kiosks#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">8 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2010/11/things-i-love-about-poland-02-kiosks" title="Wyświetla dalszą część wpisu Things I Love About Poland #02: Kiosks!.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2010%2F11%2Fthings-i-love-about-poland-02-kiosks&amp;linkname=Things%20I%20Love%20About%20Poland%20%2302%3A%20Kiosks%21" id="da2a_5"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-6">
<h2 class="node-title"><a href="/blog/2010/11/things-i-love-about-poland-01-waiters-leave-you-alone" title="Things I Love About Poland #01: Waiters leave you alone">Things I Love About Poland #01: Waiters leave you alone</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">4</strong> <strong class="month">lis</strong> <strong class="year">2010</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Czytaj ten tekst z BiblioBirdem!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_3 first active"><a class="active" href="/tags/things-i-love-about-poland" rel="tag" title="">Things I Love About Poland</a></li>
<li class="taxonomy_term_33 last"><a href="/category/culture/poland" rel="tag" title="">Poland</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/11/waitress_taking_an_order.jpg" rel="lightbox"><img alt="Waitress taking order at a restaurant" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/11/waitress_taking_an_order.jpg" title="Photo by Alan Light"/></a><div class="caption">Waitress taking order at a restaurant.  <a href="http://www.flickr.com/photos/alan-light/261015500/">Photo</a> by <a href="http://www.flickr.com/photos/alan-light/">Alan Light</a>.</div></div>
<p><strong>This is the first in a series of articles called "<a href="http://www.linguatrek.com/tags/things-i-love-about-poland">Things I Love About Poland</a>."  In this article, I talk about the differences between America and Poland when it comes to restaurants.</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2010/11/things-i-love-about-poland-01-waiters-leave-you-alone#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">9 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2010/11/things-i-love-about-poland-01-waiters-leave-you-alone" title="Wyświetla dalszą część wpisu Things I Love About Poland #01: Waiters leave you alone.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2010%2F11%2Fthings-i-love-about-poland-01-waiters-leave-you-alone&amp;linkname=Things%20I%20Love%20About%20Poland%20%2301%3A%20Waiters%20leave%20you%20alone" id="da2a_6"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
