---
permalink: /tags/time/
layout: base-old
title: 'time'
language: en
translation: 
---
<div class="node node-story clear-block" id="node-171">
<h2 class="node-title"><a href="/blog/2012/06/learning-a-foreign-language-is-all-about-time" title="Learning a foreign language is all about time!">Learning a foreign language is all about time!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">12</strong> <strong class="month">Jun</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_29 first"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_82 last active"><a class="active" href="/tags/time" rel="tag" title="">time</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<p><em>Today I have the pleasure of publishing a guest post from Wojtek Ryrych, a long-time reader of my blog and a frequent commenter. He already contributed an article to the blog a few weeks ago when I published <a href="http://www.linguatrek.com/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-great-material-for-learners-of-english-or-polish">an e-mail</a> from him about a great dual language Polish-English reader that he had recently bought.</em></p>
<p><em>Wojtek is a web developer and designer. You can visit his website at <a href="http://ryrych.pl">ryrych.pl</a>, which is still under construction but he hopes something will appear there soon. As the saying goes, "The cobbler's children have no shoes." :-)</em></p>
<hr/>
<div class="diag align-right" style="float: right; width: 107px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/default/files/imagecache/Large/image/2012/06/superman.jpg" rel="lightbox"><img alt="Man dressed as superman" src="http://www.linguatrek.com/sites/default/files/imagecache/Small/image/2012/06/superman.jpg" title="Photo by Thomas Hawk"/></a><div class="caption"><a href="http://www.flickr.com/photos/51035555243@N01/6849283819">Photo</a> by <a href="http://www.flickr.com/photos/thomashawk/">Thomas Hawk</a></div></div>
<p>In this short article I would like to share some things with you that many of you probably haven't thought about. I'll tell you a particular truism.</p>
<p>Here it is:</p>
<p><blockquote>To achieve success you have to practice.</blockquote></p>
<p><em>Practice a lot.</em> Some people claim that you have to devote 10,000 hours.</p>
<p><em>Is it true?</em> <strong>Read on!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/06/learning-a-foreign-language-is-all-about-time#comments" title="Jump to the first comment of this posting.">9 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/06/learning-a-foreign-language-is-all-about-time" title="Read the rest of Learning a foreign language is all about time!.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F06%2Flearning-a-foreign-language-is-all-about-time&amp;linkname=Learning%20a%20foreign%20language%20is%20all%20about%20time%21" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
