---
permalink: /tags/top-100-language-lovers/
layout: base-old
title: 'Top 100 Language Lovers'
language: en
translation: 
---
<div class="node node-story clear-block" id="node-162">
<h2 class="node-title"><a href="/blog/2012/05/linguatrek-got-7th-place-among-the-top-language-learner-blogs-of-2012" title="LinguaTrek got 7th place among the top Language Learner Blogs of 2012!">LinguaTrek got 7th place among the top Language Learner Blogs of 2012!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">31</strong> <strong class="month">May</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_34 first"><a href="/category/linguatrek" rel="tag" title="A meta-tag - when we are talking about LinguaTrek itself.">LinguaTrek</a></li>
<li class="taxonomy_term_74 last active"><a class="active" href="/tags/top-100-language-lovers" rel="tag" title="">Top 100 Language Lovers</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<a alt="Top 25 Language Learning Blogs 2012" href="http://bab.la/news/top-25-language-learning-blogs-2012" target="_blank"><img align="right" alt="Top 10 Language Learning Blogs 2012" border="0" height="60" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/image/2012/05/top10-learn-blog12.gif" style="margin: 5px" width="160"/></a>
<p>For the past five years <a href="http://www.lexiophiles.com/">Lexiophiles</a> and <a href="http://bab.la/">bab.la</a> have organized an annual contest recognizing language blogs.  Last year was the first year LinguaTrek participated and <strong>we managed to get the most votes (thanks to Wykop!) and <a href="http://www.linguatrek.com/blog/2011/06/linguatrek-got-12th-place-among-the-top-language-learner-blogs-of-2011">12th place</a>!</strong></p>
<p>This year there were <em>935</em> blogs, Facebook pages and Twitter accounts nominated, including 200 blogs in LinguaTrek's category. <strong>This time around we didn't do as well in the voting, but LinguaTrek still got <a href="http://en.bab.la/news/top-25-language-learning-blogs-2012">7th place</a> in it's category and <a href="http://en.bab.la/news/top-100-language-lovers-2012">50th place</a> overall!</strong></p>
<p>Many fantastic blogs that I admire highly participated in this contest! Congratuations to everyone! I'm simply thrilled that LinguaTrek could be among such great company. :-)</p>
<p><strong>Thank you everyone for <a href="http://www.linguatrek.com/blog/2012/05/vote-for-linguatrek-top-100-language-lovers">voting and your support</a>!</strong></p> </div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/05/linguatrek-got-7th-place-among-the-top-language-learner-blogs-of-2012#comments" title="Jump to the first comment of this posting.">2 comments</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F05%2Flinguatrek-got-7th-place-among-the-top-language-learner-blogs-of-2012&amp;linkname=LinguaTrek%20got%207th%20place%20among%20the%20top%20Language%20Learner%20Blogs%20of%202012%21" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-155">
<h2 class="node-title"><a href="/blog/2012/05/vote-for-linguatrek-top-100-language-lovers" title="Vote for LinguaTrek: Top 100 Language Lovers!">Vote for LinguaTrek: Top 100 Language Lovers!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">16</strong> <strong class="month">May</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_75 first"><a href="/tags/contest" rel="tag" title="">contest</a></li>
<li class="taxonomy_term_34"><a href="/category/linguatrek" rel="tag" title="A meta-tag - when we are talking about LinguaTrek itself.">LinguaTrek</a></li>
<li class="taxonomy_term_74 last active"><a class="active" href="/tags/top-100-language-lovers" rel="tag" title="">Top 100 Language Lovers</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div style="float: right; margin-left: 10px;"><a href="http://www.lexiophiles.com/language-lovers-toplist/vote-for-your-favorite-language-learning-blog-2012" target="_blank" title="Vote for your favorite Language Learning Blog 2012"><img alt="Vote the Top 100 Language Learning Blogs 2012" border="0" height="60" src="http://www.lexiophiles.com/wp-content/uploads/2012/05/top100-vote-for-this-blog-2.gif" width="160"/></a></div>
<p>Voting for the yearly contest <strong>Top 100 Language Lovers</strong> has begun and my blog, LinguaTrek, has once again been nominated in the category <strong>Top 100 Language Learning Blogs</strong>.</p>
<p><strong>Last year, thanks to the <em>"Wykop effect"</em>, LinguaTrek received the MOST votes out of any of the blogs!</strong></p>
<p>But the votes only count for 50% of the overall score - the other half is the opinion of the contest organizers.  A year ago, LinguaTrek was still pretty young, so it's completely understandable that we only got <a href="http://www.linguatrek.com/blog/2011/06/linguatrek-got-12th-place-among-language-learner-blogs-2011">12th place</a>.</p>
<p><strong>But this year, right after the publication of <a href="">my FREE ebook</a> - who knows what's possible! :-)</strong></p>
<p>Can I count on your support? :-) It only takes a few seconds.  Here is what you have to do:</p>
<ul>
<li><strong>Go to <a href="http://www.lexiophiles.com/language-lovers-toplist/vote-for-your-favorite-language-learning-blog-2012">this page</a>.</strong></li>
<li><strong>Find and select "LinguaTrek".</strong>
</li><li><strong>Click the "Vote" button at the bottom of the list.</strong></li>
</ul>
<p>While you're there, check out the other great blogs! It's really a great honor to have LinguaTrek on the list with them. :-)</p>
<p><strong>Thanks for your help!</strong></p> </div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/05/vote-for-linguatrek-top-100-language-lovers#comments" title="Jump to the first comment of this posting.">16 comments</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F05%2Fvote-for-linguatrek-top-100-language-lovers&amp;linkname=Vote%20for%20LinguaTrek%3A%20Top%20100%20Language%20Lovers%21" id="da2a_2"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-73">
<h2 class="node-title"><a href="/blog/2011/06/linguatrek-got-12th-place-among-the-top-language-learner-blogs-of-2011" title="LinguaTrek got 12th place among the top Language Learner Blogs of 2011!">LinguaTrek got 12th place among the top Language Learner Blogs of 2011!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">2</strong> <strong class="month">Jun</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_34 first"><a href="/category/linguatrek" rel="tag" title="A meta-tag - when we are talking about LinguaTrek itself.">LinguaTrek</a></li>
<li class="taxonomy_term_74 last active"><a class="active" href="/tags/top-100-language-lovers" rel="tag" title="">Top 100 Language Lovers</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<a alt="Top 25 Language Learning Blogs 2011" href="http://bab.la/news/top-25-language-learning-blogs-2011" target="_blank"><img align="right" alt="Top 25 Language Learning Blogs 2011" border="0" height="60" src="http://bab.la/img/partner/top25-learn-blog11.gif" style="margin: 5px" width="160"/></a>
<p>Every year <a href="http://www.lexiophiles.com/">Lexiophiles</a> and <a href="http://bab.la/">bab.la</a> organize a contest recognizing language blogs.  This year, LinguaTrek was <a href="http://www.linguatrek.com/blog/2011/05/vote-for-linguatrek-top-100-language-blogs">in the competition</a>!</p>
<p>There were 200 blogs in LinguaTrek's category (<a href="http://www.lexiophiles.com/language-lovers-toplist/time-to-vote-for-your-favorite-language-learning-blog-2011">language learner blogs</a>) and 400 in total.  <strong>In it's category LanguaTrek got <a href="http://en.bab.la/news/top-25-language-learning-blogs-2011">12th place</a> and <a href="http://en.bab.la/news/top-100-language-lovers-2011">23rd place</a> overall!</strong></p>
<p>I'm so absolutely thrilled that LinguaTrek did so well!  I can't believe my blog is up there with so many fantastic blogs that I admire.</p>
<p>Half of the score comes from votes from readers and the other half is the organizers' rating.  After I recorded a <a href="http://www.linguatrek.com/blog/2011/05/zag%C5%82osuj-na-linguatrek-100-najlepszych-blog%C3%B3w-na-temat-nauki-j%C4%99zyk%C3%B3w">video about it</a> and the users of Wykop <a href="http://www.wykop.pl/ramka/749007/wykop-efekt-dla-blogu-davida-snopka/">got involved</a>, <strong>LinguaTrek had the most votes</strong> for the rest of contest!</p>
<p><strong>Thank you everyone for voting and your support!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/06/linguatrek-got-12th-place-among-the-top-language-learner-blogs-of-2011#comments" title="Jump to the first comment of this posting.">12 comments</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F06%2Flinguatrek-got-12th-place-among-the-top-language-learner-blogs-of-2011&amp;linkname=LinguaTrek%20got%2012th%20place%20among%20the%20top%20Language%20Learner%20Blogs%20of%202011%21" id="da2a_3"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-69">
<h2 class="node-title"><a href="/blog/2011/05/vote-for-linguatrek-top-100-language-blogs" title="Vote for LinguaTrek: Top 100 Language Blogs!">Vote for LinguaTrek: Top 100 Language Blogs!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">17</strong> <strong class="month">May</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_34 first"><a href="/category/linguatrek" rel="tag" title="A meta-tag - when we are talking about LinguaTrek itself.">LinguaTrek</a></li>
<li class="taxonomy_term_74 last active"><a class="active" href="/tags/top-100-language-lovers" rel="tag" title="">Top 100 Language Lovers</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/05/top100lovers_logo1.gif" rel="lightbox"><img alt="Logo for the competiton" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/05/top100lovers_logo1.gif" title=""/></a></div>
<p>LinguaTrek was nominated in the <a href="http://www.lexiophiles.com">Lexophile</a> <a href="http://www.lexiophiles.com/language-lovers-toplist/time-to-vote-top-100-language-lovers-2011">Top 100 Language Lovers 2011 competition</a>.  Of the hundreds of  blogs nominated, only 200 were selected for the competition.  I'm very honored that my blog is among those 200!</p>
<p><strong>Go to <a href="http://www.lexiophiles.com/language-lovers-toplist/time-to-vote-for-your-favorite-language-learning-blog-2011">this page</a> to vote!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/05/vote-for-linguatrek-top-100-language-blogs#comments" title="Jump to the first comment of this posting.">1 comment</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F05%2Fvote-for-linguatrek-top-100-language-blogs&amp;linkname=Vote%20for%20LinguaTrek%3A%20Top%20100%20Language%20Blogs%21" id="da2a_4"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
