---
permalink: /tags/valentines-day/
layout: base-old
title: 'Valentine''s Day'
language: en
translation: 
---
<div class="node node-story clear-block" id="node-46">
<h2 class="node-title"><a href="/blog/2011/02/history-of-valentines-day" title="History of Valentine's Day">History of Valentine's Day</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">14</strong> <strong class="month">Feb</strong> <strong class="year">2011</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Read this text with BiblioBird!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_6 first"><a href="/tags/holidays" rel="tag" title="">holidays</a></li>
<li class="taxonomy_term_51 active"><a class="active" href="/tags/valentines-day" rel="tag" title="">Valentine's Day</a></li>
<li class="taxonomy_term_30 last"><a href="/category/culture" rel="tag" title="">culture</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Today is Valentine's Day!  Watch this interesting video about the history of the holiday from the History channel:</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/Rs6xesanxNM?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/Rs6xesanxNM?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Read more for the transcript!</p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/02/history-of-valentines-day#comments" title="Jump to the first comment of this posting.">1 comment</a></li>
<li class="node_read_more"><a href="/blog/2011/02/history-of-valentines-day" title="Read the rest of History of Valentine's Day.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F02%2Fhistory-of-valentines-day&amp;linkname=History%20of%20Valentine%27s%20Day" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
