---
permalink: /tags/vlog/
layout: base-old
title: 'vlog'
language: en
translation: 
---
<div class="node node-story clear-block" id="node-152">
<h2 class="node-title"><a href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC" title="Vlog: Mój ebook jest dostępny (i po polsku również)">Vlog: Mój ebook jest dostępny (i po polsku również)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">10</strong> <strong class="month">May</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_25 first"><a href="/tags/ebook" rel="tag" title="">ebook</a></li>
<li class="taxonomy_term_29"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_4 last active"><a class="active" href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Wreszcie polska wersja i wersje mobilne mojego ebooka są gotowe!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/9FfswP0rM5k?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/9FfswP0rM5k?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p><strong>Jeśli chcesz dostać mój ebook, proszę <a href="http://www.linguatrek.com/subscribe">zasubskrybuj mój blog</a>!</strong></p>
<p>Proszę podaj mi poprawki <a href="http://lang-8.com/10069/journals/1470177/Vlog%253A-M%25C3%25B3j-ebook-jest-dost%25C4%2599pny-%2528i-po-polsku-r%25C3%25B3wnie%25C5%25BC%2529">w serwisie Lang-8</a>!</p>
<p><strong>Czytaj transkrypcję poniżej!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC#comments" title="Jump to the first comment of this posting.">26 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC" title="Read the rest of Vlog: Mój ebook jest dostępny (i po polsku również).">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F05%2Fvlog-m%25C3%25B3j-ebook-jest-dost%25C4%2599pny-i-po-polsku-r%25C3%25B3wnie%25C5%25BC&amp;linkname=Vlog%3A%20M%C3%B3j%20ebook%20jest%20dost%C4%99pny%20%28i%20po%20polsku%20r%C3%B3wnie%C5%BC%29" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-133">
<h2 class="node-title"><a href="/blog/2012/03/vlog-dzi%C4%99kuj%C4%99-i-zapraszam-na-rozmowy-po-angielsku" title="Vlog: Dziękuję i zapraszam na rozmowy po angielsku">Vlog: Dziękuję i zapraszam na rozmowy po angielsku</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">24</strong> <strong class="month">Mar</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_2 first"><a href="/category/language-learning/learn-english" rel="tag" title="">learn English</a></li>
<li class="taxonomy_term_4 last active"><a class="active" href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Tylko chciałbym podziękować wszystkim za świetną odpowiedź na mój ostatni blog i filmik. I zapraszam Was na nasze <a href="http://pl.bibliobird.com/wiki/Harmonogram_spotka%25C5%2584_po_angielsku">cotygodniowe rozmowy po angielsku</a> na Bibliobirdzie.</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/dJFEteuQWdY?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/dJFEteuQWdY?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Oto jest <a href="http://pl.bibliobird.com/wiki/Harmonogram_spotka%25C5%2584_po_angielsku">harmonogram spotkań</a> na czacie głosowym i <a href="http://pl.bibliobird.com/wiki/Czat_g%25C5%2582osowy">instrukcje</a>, żeby połączyć się z serwerem.</p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/03/vlog-dzi%C4%99kuj%C4%99-i-zapraszam-na-rozmowy-po-angielsku#comments" title="Jump to the first comment of this posting.">8 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/03/vlog-dzi%C4%99kuj%C4%99-i-zapraszam-na-rozmowy-po-angielsku" title="Read the rest of Vlog: Dziękuję i zapraszam na rozmowy po angielsku.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F03%2Fvlog-dzi%25C4%2599kuj%25C4%2599-i-zapraszam-na-rozmowy-po-angielsku&amp;linkname=Vlog%3A%20Dzi%C4%99kuj%C4%99%20i%20zapraszam%20na%20rozmowy%20po%20angielsku" id="da2a_2"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-124">
<h2 class="node-title"><a href="/blog/2012/02/vlog-brooke-ma%C5%82a-amerykanka-kt%C3%B3ra-%C5%9Bni-o-polsce" title="Vlog: Brooke - mała Amerykanka która śni o Polsce">Vlog: Brooke - mała Amerykanka która śni o Polsce</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">25</strong> <strong class="month">Feb</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_69 first"><a href="/tags/brooke" rel="tag" title="">Brooke</a></li>
<li class="taxonomy_term_4 active"><a class="active" href="/tags/vlog" rel="tag" title="">vlog</a></li>
<li class="taxonomy_term_33 last"><a href="/category/culture/poland" rel="tag" title="">Poland</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>To jest bardzo interesująca historia o dziewczynce w USA, która nie ma polskich korzeni ale zakochała się w Polsce w prosty sposób.</p>
<p><object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/Br0roArv7kY?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/Br0roArv7kY?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object></p>
<p>Czytaj cały list Brooke <a href="http://www.linguatrek.com/blog/2012/02/spreading-our-love-of-poland">tutaj</a>.</p>
<p>Proszę podaj mi poprawki <a href="">w serwisie Lang-8</a>.</p>
<p><strong>Czytaj transkrypcję poniżej!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/02/vlog-brooke-ma%C5%82a-amerykanka-kt%C3%B3ra-%C5%9Bni-o-polsce#comments" title="Jump to the first comment of this posting.">11 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/02/vlog-brooke-ma%C5%82a-amerykanka-kt%C3%B3ra-%C5%9Bni-o-polsce" title="Read the rest of Vlog: Brooke - mała Amerykanka która śni o Polsce.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F02%2Fvlog-brooke-ma%25C5%2582a-amerykanka-kt%25C3%25B3ra-%25C5%259Bni-o-polsce&amp;linkname=Vlog%3A%20Brooke%20-%20ma%C5%82a%20Amerykanka%20kt%C3%B3ra%20%C5%9Bni%20o%20Polsce" id="da2a_3"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-115">
<h2 class="node-title"><a href="/blog/2012/02/vlog-spotkanie-kongresu-polonii-ameryka%C5%84skiej-i-wiza-dla-polak%C3%B3w" title="Vlog: Spotkanie Kongresu Polonii Amerykańskiej i wiza dla Polaków">Vlog: Spotkanie Kongresu Polonii Amerykańskiej i wiza dla Polaków</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">7</strong> <strong class="month">Feb</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_32 first"><a href="/category/culture/usa" rel="tag" title="">USA</a></li>
<li class="taxonomy_term_4 last active"><a class="active" href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>W sobotę byłem na spotkaniu Kongresu Polonii Amerykańskiej. Nauczyłem się strasznie dużo na tym spotkaniu, mam o wiele więcej do powiedzenia na ten temat ale filmik już był dość długi, więc to będzie innym razem.</p>
<p>Ale pewnie najbardziej ciekawe dla Was: <strong>jesteśmy najbliżej w historii do zniesienia wizy dla Polaków!</strong></p>
<p><object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/rkvRzMhcl5s?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/rkvRzMhcl5s?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object></p>
<p>Oto jest <a href="http://www.linguatrek.com/blog/2011/12/vlog-kongres-polonii-ameryka%C5%84skiej">mój pierwszy filmik</a> na temat Kongresu.</p>
<p><strong>Czytaj transkrypcję poniżej!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/02/vlog-spotkanie-kongresu-polonii-ameryka%C5%84skiej-i-wiza-dla-polak%C3%B3w#comments" title="Jump to the first comment of this posting.">14 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/02/vlog-spotkanie-kongresu-polonii-ameryka%C5%84skiej-i-wiza-dla-polak%C3%B3w" title="Read the rest of Vlog: Spotkanie Kongresu Polonii Amerykańskiej i wiza dla Polaków.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F02%2Fvlog-spotkanie-kongresu-polonii-ameryka%25C5%2584skiej-i-wiza-dla-polak%25C3%25B3w&amp;linkname=Vlog%3A%20Spotkanie%20Kongresu%20Polonii%20Ameryka%C5%84skiej%20i%20wiza%20dla%20Polak%C3%B3w" id="da2a_4"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-113">
<h2 class="node-title"><a href="/blog/2012/01/vlog-poznaj-tommyego-inny-amerykanin-m%C3%B3wi%C4%85cy-po-polsku" title="Vlog: Poznaj Tommy'ego: inny Amerykanin mówiący po polsku">Vlog: Poznaj Tommy'ego: inny Amerykanin mówiący po polsku</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">28</strong> <strong class="month">Jan</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_4 first active"><a class="active" href="/tags/vlog" rel="tag" title="">vlog</a></li>
<li class="taxonomy_term_31 last"><a href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Dzisiaj pokażę kilka krókich filmików nagranych przez innego Amerykanina, który mówi po polsku. Jest moim znajomym, spotkałem go w Polsce kilka lat temu.  Jeśli macie jakiekolwiek pytania dla niego, napiszcie w komentarzach!</p>
<p><object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/fc1z7b6cwzU?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/fc1z7b6cwzU?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object></p>
<p>Szkoła online Tommy'ego jest <a href="http://www.goenglishgo.com">GoEnglishGo.com</a> (<a href="http://facebook.com/goenglishgo">na Facebooku</a>) i oto jest <a href="http://www.linguatrek.com/blog/2011/12/goenglishgocom-virtual-english-school">mój artykuł</a> o niej.</p>
<p>Proszę podajcie mi poprawki <a 10069="" 1287782="" href="" http:="" journals="" lang-8.com="" vlog%253a-poznawaj-tommy%2527ego%253a-inny-amerykanin-m%25c3%25b3wi%25c4%2585cy-po-polsku%2521="">na serwisie Lang-8</a>.</p>
<p><strong>Czytaj transkrypcję poniżej!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/01/vlog-poznaj-tommyego-inny-amerykanin-m%C3%B3wi%C4%85cy-po-polsku#comments" title="Jump to the first comment of this posting.">9 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/01/vlog-poznaj-tommyego-inny-amerykanin-m%C3%B3wi%C4%85cy-po-polsku" title="Read the rest of Vlog: Poznaj Tommy'ego: inny Amerykanin mówiący po polsku.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F01%2Fvlog-poznaj-tommyego-inny-amerykanin-m%25C3%25B3wi%25C4%2585cy-po-polsku&amp;linkname=Vlog%3A%20Poznaj%20Tommy%27ego%3A%20inny%20Amerykanin%20m%C3%B3wi%C4%85cy%20po%20polsku" id="da2a_5"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-111">
<h2 class="node-title"><a href="/blog/2012/01/vlog-skupianie-si%C4%99-na-tym-co-jest-dla-mnie-wa%C5%BCne" title="Vlog: Skupianie się na tym, co jest dla mnie ważne">Vlog: Skupianie się na tym, co jest dla mnie ważne</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">17</strong> <strong class="month">Jan</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_4 first active"><a class="active" href="/tags/vlog" rel="tag" title="">vlog</a></li>
<li class="taxonomy_term_31 last"><a href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Rok 2011 był rokiem ciężkiej pracy nad interesującymi projektami i nie tylko własnymi.  Niestety mój kierunek trochę odbiegł od moich pasji.  Jak już <a href="http://www.linguatrek.com/blog/2011/12/my-language-goals-for-2012">napisałem</a>, był żałosny rok jeśli chodzi o naukę j. polskiego.</p>
<p>Ale właśnie podjąłem ważną decyzję, która znaczy, że w nowym roku znowu będę się skupiał nad tym, co jest mi naprawdę ważne!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/WhQjMwqRJmI?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/WhQjMwqRJmI?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Proszę podaj mi poprawki w serwisie Lang-8 <a href="http://lang-8.com/10069/journals/1272018/Vlog%253A-Skupianie-si%25C4%2599-na-tym%252C-co-jest-mi-wa%25C5%25BCne">tutaj</a>.</p>
<p>Jeśli nie masz pojęcia o tym, czym jest <a href="http://www.bibliobird.com">Bibliobird</a>, polecam <a href="http://www.linguatrek.com/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego">ten filmik</a>.  Jeśli jesteś ciekaw o <a href="http://www.h2oscore.com">H2OScore.com</a> możesz oglądać jego <a href="http://www.youtube.com/h2oscore">kanał na YouTubie</a>.</p>
<p><strong>Proszę czytaj dalej dla transkrypcji!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/01/vlog-skupianie-si%C4%99-na-tym-co-jest-dla-mnie-wa%C5%BCne#comments" title="Jump to the first comment of this posting.">16 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/01/vlog-skupianie-si%C4%99-na-tym-co-jest-dla-mnie-wa%C5%BCne" title="Read the rest of Vlog: Skupianie się na tym, co jest dla mnie ważne.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F01%2Fvlog-skupianie-si%25C4%2599-na-tym-co-jest-dla-mnie-wa%25C5%25BCne&amp;linkname=Vlog%3A%20Skupianie%20si%C4%99%20na%20tym%2C%20co%20jest%20dla%20mnie%20wa%C5%BCne" id="da2a_6"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-106">
<h2 class="node-title"><a href="/blog/2011/12/vlog-kongres-polonii-ameryka%C5%84skiej" title="Vlog: Kongres Polonii Amerykańskiej">Vlog: Kongres Polonii Amerykańskiej</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">21</strong> <strong class="month">Dec</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_32 first"><a href="/category/culture/usa" rel="tag" title="">USA</a></li>
<li class="taxonomy_term_4 last active"><a class="active" href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Tydzień temu spotkałem się z prezesem Kongresu Polonii Amerykańskiej w Wisconsin na kawę. W tym filmiku mówię o tym, czego się nauczyłem o tej organizacji!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/ej83Q1lqB5U?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/ej83Q1lqB5U?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Proszę podaj mi poprawki w serwisie Lang-8 <a href="http://lang-8.com/10069/journals/1235198/Vlog%253A-Kongres-Polonii-Ameryka%25C5%2584skiej">tutaj</a>.</p>
<p>Linki do więcej informacji:</p>
<ul>
<li><a href="http://www.pac1944.org/">http://www.pac1944.org/</a></li>
<li><a href="http://pacwisconsin.com/">http://pacwisconsin.com/</a></li>
</ul>
<p><strong>Czytaj transkrypcję poniżej!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/12/vlog-kongres-polonii-ameryka%C5%84skiej#comments" title="Jump to the first comment of this posting.">8 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/12/vlog-kongres-polonii-ameryka%C5%84skiej" title="Read the rest of Vlog: Kongres Polonii Amerykańskiej.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F12%2Fvlog-kongres-polonii-ameryka%25C5%2584skiej&amp;linkname=Vlog%3A%20Kongres%20Polonii%20Ameryka%C5%84skiej" id="da2a_7"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-102">
<h2 class="node-title"><a href="/blog/2011/11/vlog-nasze-mieszkanie-w-usa" title="Vlog: Nasze mieszkanie w USA">Vlog: Nasze mieszkanie w USA</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">22</strong> <strong class="month">Nov</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_4 first active"><a class="active" href="/tags/vlog" rel="tag" title="">vlog</a></li>
<li class="taxonomy_term_31 last"><a href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Dzisiaj razem z żoną pokazujemy nasze mieszkanie!</p>
<p>Przepraszam, że to zrobiliśmy tak w pośpiechu ale moja żona tylko miała 5 minut żeby mi pomóc z tym, musiała od razu wyjechać na spotkanie. I z tego powodu zrobiłem strasznie dużo błędów. :-) Ale wreszcie możecie widzieć nasze mieszkanie!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/ScB5bUnBTpk?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/ScB5bUnBTpk?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p><strong>Czytaj transkrypcję poniżej</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/11/vlog-nasze-mieszkanie-w-usa#comments" title="Jump to the first comment of this posting.">20 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/11/vlog-nasze-mieszkanie-w-usa" title="Read the rest of Vlog: Nasze mieszkanie w USA.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F11%2Fvlog-nasze-mieszkanie-w-usa&amp;linkname=Vlog%3A%20Nasze%20mieszkanie%20w%20USA" id="da2a_8"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-99">
<h2 class="node-title"><a href="/blog/2011/10/vlog-learning-how-to-shoot-bro%C5%84-w-usa-cz-2" title="Vlog: Learning how to shoot (Broń w USA cz. 2)">Vlog: Learning how to shoot (Broń w USA cz. 2)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">29</strong> <strong class="month">Oct</strong> <strong class="year">2011</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="http://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Read this text with BiblioBird!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_32 first"><a href="/category/culture/usa" rel="tag" title="">USA</a></li>
<li class="taxonomy_term_4 last active"><a class="active" href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>(<em>This is the second part to an earlier vlog in Polish: <a href="http://www.linguatrek.com/blog/2011/10/vlog-bro%C5%84-w-usa-cz%C4%99%C5%9B%C4%87-1">Broń w USA</a>.</em>)</p>
<p>Along with another couple my wife and I went to the shooting range to learn how to shoot pistols.</p>
<p>It <em>isn't necessary</em> to take a course in order to go out on the range and shoot for the first time, but we felt it was more responsible to learn how to use a gun safely.</p>
<p>Watch the video for clips from the course and on the shooting range!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/LxCCbmxVTt4?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/LxCCbmxVTt4?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p><strong>Read more for a transcript (<em>with Polish translations!</em>)</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/10/vlog-learning-how-to-shoot-bro%C5%84-w-usa-cz-2#comments" title="Jump to the first comment of this posting.">1 comment</a></li>
<li class="node_read_more"><a href="/blog/2011/10/vlog-learning-how-to-shoot-bro%C5%84-w-usa-cz-2" title="Read the rest of Vlog: Learning how to shoot (Broń w USA cz. 2).">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F10%2Fvlog-learning-how-to-shoot-bro%25C5%2584-w-usa-cz-2&amp;linkname=Vlog%3A%20Learning%20how%20to%20shoot%20%28Bro%C5%84%20w%20USA%20cz.%202%29" id="da2a_9"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-97">
<h2 class="node-title"><a href="/blog/2011/10/vlog-bro%C5%84-w-usa-cz%C4%99%C5%9B%C4%87-1" title="Vlog: Broń w USA (cz. 1)">Vlog: Broń w USA (cz. 1)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">25</strong> <strong class="month">Oct</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_32 first"><a href="/category/culture/usa" rel="tag" title="">USA</a></li>
<li class="taxonomy_term_4 last active"><a class="active" href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Dzisiaj mówię na temat broni w Stanach Zjednoczonych: zasady dotyczące jej kupowania i noszenia ze sobą w moim stanie, Wisconsin.</p>
<p>W sobotę opublikuję filmik, w którym z żoną i inną parą pojechaliśmy na strzelnicę, żeby uczyć się jak strzelać z pistoletu!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/kXIsszsUnTo?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/kXIsszsUnTo?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Proszę podaj mi poprawki do tego filmiku <a href="http://lang-8.com/10069/journals/1155512/Bro%25C5%2584-palna-w-USA">w serwisie Lang-8</a>.</p>
<p><strong>Czytaj transkrypcję poniżej!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/10/vlog-bro%C5%84-w-usa-cz%C4%99%C5%9B%C4%87-1#comments" title="Jump to the first comment of this posting.">4 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/10/vlog-bro%C5%84-w-usa-cz%C4%99%C5%9B%C4%87-1" title="Read the rest of Vlog: Broń w USA (cz. 1).">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F10%2Fvlog-bro%25C5%2584-w-usa-cz%25C4%2599%25C5%259B%25C4%2587-1&amp;linkname=Vlog%3A%20Bro%C5%84%20w%20USA%20%28cz.%201%29" id="da2a_10"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="item-list"><ul class="pager"><li class="pager-current first">1</li>
<li class="pager-item"><a class="active" href="/tags/vlog-page-1" title="Go to page 2">2</a></li>
<li class="pager-item"><a class="active" href="/tags/vlog-page-2" title="Go to page 3">3</a></li>
<li class="pager-item"><a class="active" href="/tags/vlog-page-3" title="Go to page 4">4</a></li>
<li class="pager-next"><a class="active" href="/tags/vlog-page-1" title="Go to next page">next ›</a></li>
<li class="pager-last last"><a class="active" href="/tags/vlog-page-3" title="Go to last page">last »</a></li>
</ul></div>
