---
permalink: /tags/youtube/
layout: base-old
title: 'YouTube'
language: pl
translation: 
---
<div class="node node-story clear-block" id="node-110">
<h2 class="node-title"><a href="/blog/2012/01/8-reasons-to-use-youtube-to-learn-a-language" title="8 reasons to use YouTube to learn a language">8 reasons to use YouTube to learn a language</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">10</strong> <strong class="month">sty</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_29 first"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_68 last active"><a class="active" href="/tags/youtube" rel="tag" title="">YouTube</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/default/files/imagecache/Large/image/2012/01/youtube.jpg" rel="lightbox"><img alt="David in a cardboard cut of a YouTube window" src="http://www.linguatrek.com/sites/default/files/imagecache/Small/image/2012/01/youtube.jpg" title="My costume from Halloween 2010."/></a><div class="caption">My costume from <a href="http://www.linguatrek.com/blog/2010/10/halloween-adults">Halloween 2010</a>.</div></div>
<p>As most of you probably know, I've been using <a href="http://www.youtube.com/">YouTube</a> in my effort to learn Polish for <a href="http://www.linguatrek.com/blog/2011/09/vlog-trzy-lata-na-youtube-pi%C4%99%C4%87-lat-z-j-polskim">over three years now</a>.</p>
<p>YouTube is a massive service, with "hundreds of millions of users from around the world."  According to <a href="http://www.youtube.com/t/faq">their FAQ</a>, "48 hours of video are uploaded every minute, resulting in nearly 8 years of content uploaded every day."</p>
<p>Using YouTube has led to many very positive things in my life and, in my opinion, has also significantly improved my language abilities.</p>
<p><em>I strongly encourage <strong>YOU</strong> to try using YouTube in your language learning!</em></p>
<p><strong>Read more to find out why!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/01/8-reasons-to-use-youtube-to-learn-a-language#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">9 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2012/01/8-reasons-to-use-youtube-to-learn-a-language" title="Wyświetla dalszą część wpisu 8 reasons to use YouTube to learn a language.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F01%2F8-reasons-to-use-youtube-to-learn-a-language&amp;linkname=8%20reasons%20to%20use%20YouTube%20to%20learn%20a%20language" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
