---
permalink: /blog/2013/02/how-to-find-motivation-that-is-powerful-enough-to-succeed/
layout: blog-old
title: 'How to find motivation that is POWERFUL enough to succeed!'
day: 19
month: Feb
year: 2013
category: language learning
tags: 
  - 'motivation'
language: en
translation: /blog/2013/02/jak-znale%C5%BA%C4%87-motywacj%C4%99-kt%C3%B3ra-jest-do%C5%9B%C4%87-silna-aby-osi%C4%85gn%C4%85%C4%87-cel/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2013/02/valentines.jpg" rel="lightbox"><img alt="Girl with bow and arrow" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2013/02/valentines.jpg" title="Photo by martinak15"/></a><div class="caption"><a href="http://www.flickr.com/photos/64636777@N03/6877840433">Photo</a> by <a href="http://www.flickr.com/photos/martinaphotography/">martinak15</a></div></div>
<p>I've written many times (because it's sooo important):</p>
<blockquote>
<p>The only way to fail to learn a language is to give up!</p>
</blockquote>
<p>Learning a language takes a lot of time and effort. Along the way there will be days when you want to give up!</p>
<p><strong>In order to prevent that, you'll need strong motivation.</strong></p>
<p>Not a weak, external motivation like getting a good grade or finding a new job (although, those can help you get started). You need truly POWERFUL, internal motivation.</p>
<p><strong>But what if you don't have such a motivation (yet)?</strong></p>
<p>I get lots of e-mails from people who really want to learn a language, but don't think they have the type of motivation necessary to succeed.</p>
<p><strong>Luckily, it's possible to find motivation powerful enough to succeed... on purpose!</strong></p>
<p>Today, I'm FINALLY going to explain one of the techniques that I've been recommending over e-mail for years.</p>
<p><strong>Read more to find out what it is!</strong>
<h2>Love is the most powerful motivation</h2>
</p><p>When we were in Poland, I met lots of foreigners who lived there. The ones who spoke the best Polish were married to Poles. :-) Love forms <a href="http://www.mezzoguild.com/2012/10/03/when-i-almost-married-egyptian-girl-who-only-spoke-arabic">the strongest motivation.</a></p>
<p><em>(BTW, it's only a coincidence that I'm publishing this near Valentines Day! I've been planning to write this article for a long time...)</em></p>
<p><strong>However, it doesn't have to be love for a person! Even if you're already happily married to someone from your home country (like I am!) you can still use love to motivate you.</strong></p>
<p>Here is what I recommend (you may recognize this if you've e-mailed me for advice in the past):</p>
<blockquote>
<p>Find something in the language or connected with the country where the language is spoken...</p>
<p><strong>... and fall in love with it!</strong></p>
</blockquote>
<p>This could be <em>anything</em>:</p>
<ul>
<li>An author</li>
<li>A historical period</li>
<li>A band</li>
<li>The characteristic food from a country or region</li>
<li>An actor</li>
<li>The culture</li>
<li>A television show</li>
<li>Even a <em>person</em> (doesn't have to be <em>romantic</em> love - it could be a close friendship)</li>
</ul>
<p>It may take you some time to find something that really means a lot to you. But keep looking - it's worth it!</p>
<h2>Use the language to get to know it better</h2>
<p>Make the language your window to get to know that thing better.</p>
<p>For example, if you love an author, read their books in the original. Of course, you <em>could</em> read the translation. But if you connect with it in the original language, the experience will be much more <em>intimate.</em></p>
<p>Ideally this motivation will be so powerful, you won't even think about the fact that your doing this in a foreign language. You'll only thinking about this thing that you love. Grammar, vocabulary, pronunciation - will only be afterthoughts.</p>
<p>That's when you know it's working. :-)</p>
<h2>Some examples of EXCELLENT motivation</h2>
<ul>
<li>If you love the food of southern France, learn recipes (in French!), watch cooking shows, research the history of their cuisine.</li>
<li>If you think <a href="http://www.imdb.com/name/nm0001570/?ref_=sr_1">Edward Norton</a> is the best actor in the world, watch all his movies and interviews in English.</li>
<li>If you're entralled by Japanese culture, find a Japanese penpal and develop a friendship.</li>
</ul>
<p>In the comments on my <a href="http://www.linguatrek.com/blog/2012/03/about-me-and-my-mission">About me</a> page we're gathering language learning stories. Some of them are truly inspirational! Go read a few of those comments to see some examples of powerful motivations from real people.</p>
<h2>Fall in love often!</h2>
<p>You should always be on the look out for new things to fall in love with.</p>
<p>Personally, my motivation has evolved considerably over the years!</p>
<p>In the beginning, what I really loved was my family and it's history. I wanted to <a href="http://www.linguatrek.com/blog/2011/03/how-long-have-i-been-obsessed-with-poland">get in touch with my roots</a> and learning Polish was one way to do that.</p>
<p>At first, Harry Potter was just a random choice - I had never read the books in English and wasn't at all interested in them. But then I fell in love with that story as well!</p>
<p>Eventually, the Polish language itself became a very important part of my life. Now I can't imagine living without it.</p>
<h2>Your experience</h2>
<p>This isn't the only technique I know for finding motivation - I'll write about the others later - but it definitely forms the strongest internal motivation that I'm aware of.</p>
<p><strong>What is your motivation? Is it (or was it) POWERFUL enough to help you succeed? Has it changed over time? Write a comment!</strong></p>
</div>

<div id="comments">
<a id="comment-4013"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://languagesabroad.com/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f2822c43c4161ef6c1f10ee216646f99?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>GREAT post! People think that they'll be able to pick up a language in a month (okay, that might be a bit of an exaggeration), but it takes time - a lot of time. If you don't have the motivation to do it, it will seem like a chore and you will end up resenting it which is not conducive to any learning process! (You'll start finding excuses not to do it!) If there's something you really enjoy, or love as you put it, then that could just be your ticket to success! It won't feel like hard work because you will be enjoying it as you learn.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/244/4013">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://languagesabroad.com/" rel="nofollow">Beth | Languages Abroad</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/how-to-find-motivation-that-is-powerful-enough-to-succeed#comment-4013">Tuesday, February 19, 2013 - 09:41</a></span>
</div>
</div>
<div class="indented"><a id="comment-4030"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks, Beth!</p>
<p>Heh, I'm actually not sure that's an exaggeration. Everyone wants to achieve everything quickly and with very little effort - myself included. ;-) Unfortunately, that's rarely possible. But we <em>can</em> make the journey as enjoyable as possible, which will make it feel like time is flying and the effort is nothing! :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/244/4030">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/how-to-find-motivation-that-is-powerful-enough-to-succeed#comment-4030">Tuesday, February 19, 2013 - 14:40</a></span>
</div>
</div>
<div class="indented"><a id="comment-4061"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://languagesabroad.com/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f2822c43c4161ef6c1f10ee216646f99?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Very true - wouldn't it be fantastic if we could pick things up that quickly! I guess we'll have to take simply enjoying the process as compensation!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/244/4061">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://languagesabroad.com/" rel="nofollow">Beth | Languages Abroad</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/how-to-find-motivation-that-is-powerful-enough-to-succeed#comment-4061">Thursday, February 21, 2013 - 06:16</a></span>
</div>
</div>
</div></div><a id="comment-4016"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9338719b214bcd1739b1f775197ffc92?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>What a fabulous post, David! I couldn't agree more. I learned Spanish in Cali, Colombia as an exchange student many years ago. To this day, when people remark how well I speak the language and ask how did I accomplish this, I always reply "It's because I fell in love with it." "It" meaning the language, the Colombian people, the food and drink, the dancing, the smells of the street, the mountains,etc. In short, I fell in love with the experience as a whole and wanted more than anything else to be able to communicate with those around me. This love has since extended to 5 other languages, mastered to a variety of degrees. However, the one constant is my love for all. Today, when people ask me which language I love the best, my sincere answer is "Whichever I'm speaking/learning at the moment!"</p>
<p>My best wishes to all for a lifetime of love!<br/>
Dana</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/244/4016">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Dana Weiss (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/how-to-find-motivation-that-is-powerful-enough-to-succeed#comment-4016">Tuesday, February 19, 2013 - 09:56</a></span>
</div>
</div>
<div class="indented"><a id="comment-4029"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Dana!</p>
<p>Wow, it sounds like your experience in Columbia was really awesome! I'm jealous, of course. ;-)</p>
<p>Take care!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/244/4029">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/how-to-find-motivation-that-is-powerful-enough-to-succeed#comment-4029">Tuesday, February 19, 2013 - 14:37</a></span>
</div>
</div>
</div><a id="comment-4019"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/5e99f4ec1db418dfc488ed5154a53cfd?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>What if the people of the country that you're learning their language abused you, how still I can find the motivation?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/244/4019">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/how-to-find-motivation-that-is-powerful-enough-to-succeed#comment-4019">Tuesday, February 19, 2013 - 12:05</a></span>
</div>
</div>
<div class="indented"><a id="comment-4021"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>I'm really sorry to hear about that! It's terrible for anyone to be abused for any reason.</p>
<p>I would never say it's impossible! But I can only imagine (never having been a victim of abuse) that it'd be difficult to disconnect your feelings associated with the abuse from the country/language of the people who abused you.</p>
<p>Since this is a really extraordinary situation, I'm not sure I have any concrete advice for you... I'm sorry!</p>
<p>However, if you do find a motivation despite the situation, I'd love to learn how. I'm sure your experience could be motivating to others that are in the same situation. Please let me me know!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/244/4021">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/how-to-find-motivation-that-is-powerful-enough-to-succeed#comment-4021">Tuesday, February 19, 2013 - 12:48</a></span>
</div>
</div>
</div><a id="comment-4020"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/2f182a3a89c388bd67761ff05204ad3a?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi, unfortunately, my motivation to learn the language is very poor. When I worked abroad and could communicate only in English, was very strong. I hope to go to work abroad and to find more motivation to learn. Thank you for your help in learning the language. Regards Jerzy.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/244/4020">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/how-to-find-motivation-that-is-powerful-enough-to-succeed#comment-4020">Tuesday, February 19, 2013 - 12:47</a></span>
</div>
</div>
<div class="indented"><a id="comment-4031"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Jerzy!</p>
<p>What about being abroad gave you such motivation? If you can answer that question for yourself, maybe you can find a way to have it even when you are in your home country too?</p>
<p>I wish you the best of luck with work and language learning!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/244/4031">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/how-to-find-motivation-that-is-powerful-enough-to-succeed#comment-4031">Tuesday, February 19, 2013 - 14:42</a></span>
</div>
</div>
</div><a id="comment-4023"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4743d59abcf34b4bf5b690fabe11ea46?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi David, I just loved your post :-). I found your answer quite surprising but it's so true! It was also my case, I learnt French (which is considered as a quite difficult language) in no time because I fell in love with how it sounded. My passion started when I heard Celine Dion's song- "Pour que tu m'aimes encore" for the very first time. I didn't have a clue about who the singer was, nor what she was singing about! I just loved the sound of the words and felt a lot of emotions about the song.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/244/4023">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Maria (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/how-to-find-motivation-that-is-powerful-enough-to-succeed#comment-4023">Tuesday, February 19, 2013 - 13:33</a></span>
</div>
</div>
<div class="indented"><a id="comment-4032"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Maria!</p>
<p>Thanks. :-)</p>
<p>That's really awesome that you can pin it down to a specific event in your life. It's almost cinematic! ;-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/244/4032">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/how-to-find-motivation-that-is-powerful-enough-to-succeed#comment-4032">Tuesday, February 19, 2013 - 14:44</a></span>
</div>
</div>
</div><a id="comment-4034"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8e802d028ec15036361922b8529c491d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>When I was at school I found English lessons very hard, boring, useless.<br/>
Later I discovered films like ' Blade runner', books like 'Hobbit' ' The lord of the rings' . Possibility of reading, watching it in English has been my dream for years. And of course not abridged version. Now even English grammar is fascinating. Yes, it's a kind of love. I' m not a subject of external forces, I like learning English. Simply I prefer learning to wasting my time watching TV etc. Recently I have found a very simple but beautiful word ' moustache'. When I was listening to Harry Potter I heard the word and I thought English is beautiful and I am crazy about it.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/244/4034">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Beata (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/how-to-find-motivation-that-is-powerful-enough-to-succeed#comment-4034">Tuesday, February 19, 2013 - 15:32</a></span>
</div>
</div>
<div class="indented"><a id="comment-4052"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Beata!</p>
<p>Oooo, Blade Runner. That is one of my favorite movies of all time. :-)</p>
<p>It sounds like you have a great motivation! Congrats on your successes so far, and I wish you many more!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/244/4052">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/how-to-find-motivation-that-is-powerful-enough-to-succeed#comment-4052">Wednesday, February 20, 2013 - 07:41</a></span>
</div>
</div>
</div><a id="comment-4040"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/2174bcc01c14994734552e0566103e3d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Yeah I completely agree with your article David. During my final year of school, I was so determined to get the best mark possible. In a similar yet different way, I loved doing homework each night haha. I sort of... forced myself to love it I guess. Right now I have trouble doing the same thing for any further studies, but at the same time I always look for something that I genuinely love and use that to motivate me instead of forcing myself :) works a treat! Cheers for the good article!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/244/4040">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Bradley (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/how-to-find-motivation-that-is-powerful-enough-to-succeed#comment-4040">Tuesday, February 19, 2013 - 16:54</a></span>
</div>
</div>
<div class="indented"><a id="comment-4055"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Bradley,</p>
<p>That's really interesting! I always knew that in school there were a few people who were actually motivated by getting good marks. I never quite understood them. ;-) But that's really not the point: finding motivation is very personal and if something works for you, that's all that matters.</p>
<p>Thinking about it now, I could see how the some of the same forces that motivate people to get a higher score in a video game could apply! Although somehow video games motivated me more when I was in school than course work. :-)</p>
<p>Anyway, thanks for sharing and I'm glad to hear that you've got great motivation now too!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/244/4055">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/how-to-find-motivation-that-is-powerful-enough-to-succeed#comment-4055">Wednesday, February 20, 2013 - 10:42</a></span>
</div>
</div>
</div><a id="comment-4053"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/252eb902c738144999c74d35083861e5?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Awesome. Through the reading, I realize that it was the way I found motivation in study. I learned a little greek due to my interest in the bible (the new testament was writen in greek and aramaic). Now I'm improving my english (I'm brazilian) through blogs that post interesting things. Your blog is on my list.</p>
<p>Greetings from Brazil.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/244/4053">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Vinícius (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/how-to-find-motivation-that-is-powerful-enough-to-succeed#comment-4053">Wednesday, February 20, 2013 - 08:48</a></span>
</div>
</div>
<div class="indented"><a id="comment-4056"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Viniclus!</p>
<p>That's actually something I've always wanted to do too: read the Bible in Ancient Greek OR to read some old Buddhist texts in Pali. :-) I'm not a religous person, but the oldness and the importance of those texts makes it very tempting.</p>
<p>I'm glad my blog is on the list!</p>
<p>Take care,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/244/4056">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/how-to-find-motivation-that-is-powerful-enough-to-succeed#comment-4056">Wednesday, February 20, 2013 - 10:44</a></span>
</div>
</div>
</div>
</div>
