---
permalink: /blog/2013/02/vlog-zakupy-w-usa/
layout: blog-old
title: 'Vlog: Zakupy w USA!'
day: 5
month: Feb
year: 2013
category: USA
tags: 
  - 'shopping'
  - 'vlog'
language: en
translation: 
---
<div class="content">
<p><em>(Jeśli jesteś subskrybentem i nie dostałeś maila dotyczącego tego filmiku, to dlatego, że nie wybrałeś "Interesuje mnie temat ... Życie w USA i kultura amerykańska" albo "Uczę się ... angielskiego" w swoich <a href="http://www.linguatrek.com/options">opcjach subskrybenta</a>.)</em></p>
<p>Na podstawie <a href="http://www.linguatrek.com/blog/2013/01/big-changes-to-my-blog-results-of-the-survey">Waszych odpowiedzi na ankiecie</a> parę tygodni temu, oto filmik <em>po angielsku pokazujący codzienne życie w USA.</em></p>
<p>Poprosiliście o mniej filmików, w których rozmawiam do kamery w naszym mieszkaniu i więcej poza domem. Więc właśnie to spróbowaliśmy zrobić!</p>
<p><strong>Proszę mi powiedzcie co myślicie o tym filmiku! Czy chcecie więcej takich?</strong></p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/kX3Nc__0M3w?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/kX3Nc__0M3w?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p><em>(<a href="http://www.amara.org/en/videos/efRYnCKiSxcG/en/520589/#transcripts">Kliknij tutaj</a>, żeby pomóc z napisami albo przetłumaczyć je na inny język!)</em></p>
<p><strong>Czytaj dalej, żeby zobaczyć pełną transkrypcję!</strong></p>
<h2><a name="transcript">Transkrypcja</a></h2>
<ul>
<li>Hello!</li>
<li>David Snopek here</li>
<li>Doing a video today in English</li>
<li>I did a survey on my blog a couple of weeks ago</li>
<li>And it turns out that almost everybody wants me to record videos in English</li>
<li>So, today we're going to go shopping</li>
<li>One of the most requested videos is that I show things from daily life in the United States</li>
<li>And shopping</li>
<li>And the price of bread and eggs and different daily products</li>
<li>So, we're going to go shopping</li>
<li>Here's our list of things we're going to get</li>
<li>We're going to get some milk, bread, eggs and chedder cheese</li>
<li>So, the store we're going to doesn't charge for plastic bags</li>
<li>But they do give you a discount if you bring in your old plastic bags</li>
<li>We're just going to bring our own bag with us</li>
<li>I that in some states it's actually the law that they don't give you plastic bags</li>
<li>Or that they charge you money for plastic bags</li>
<li>When we were in Poland, I remember a couple of stores charging us for plastic bags</li>
<li>Anyway, we're bringing our own bag!</li>
<li>Alright, let's go!</li>
<li>So, here we are at the store</li>
<li>We're very lucky to live near such a big store</li>
<li>I personally don't really like big stores</li>
<li>Because there's too many products and I always get lost</li>
<li>But it's much cheaper</li>
<li>So that's why we come here</li>
<li>And that's why we're lucky to live so close</li>
<li>Sweet!</li>
<li>Ok, we got to go find the milk</li>
<li>Remember to check them</li>
<li>Oh, yeah, yeah, yeah</li>
<li>Yeah, the eggs are all good</li>
<li>So, these are the organic eggs that we like</li>
<li>They're probably the most expensive possible eggs</li>
<li>You can see some cheaper ...</li>
<li>So, people are always sending me emails, saying that the bread in the United States is terrible</li>
<li>And that the bread in Poland is so much better</li>
<li>We were in Poland for a while and we ate plenty of Polish bread</li>
<li>And it was very tasty</li>
<li>But I don't think all the bread in the United States is terrible</li>
<li>Some of this bread right here in this aisle is absolutely terrible</li>
<li>This is the cheapest bread that money could buy</li>
<li>And there is a whole row of it</li>
<li>However, we don't ever eat this bread!</li>
<li>We only eat the good bread</li>
<li>So, I definitely think it's possible to find good bread in the United States</li>
<li>Alright, we're back!</li>
<li>We have our products</li>
<li>I was kind of nervous filming that</li>
<li>I was worried they were going to kick us out</li>
<li>The last time we recorded in a grocery store, they kicked us out</li>
<li>But everything went great</li>
<li>Thanks so much for watching</li>
<li>Please let me know if you like this type of video</li>
<li>This is sort of new for me</li>
<li>Usually, I record my videos in Polish</li>
<li>Here's one in English, out in the world</li>
<li>So, let me know in the comments</li>
<li>Thank you, good bye!</li>
</ul>
</div>

<div id="comments">
<a id="comment-3740"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/dbfffc3f867621e330196b21c79ee339?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witam, mam trochę może niezwiązaną z filmem sprawę ale dotyczy ona wymowy dźwięku "th".<br/>
Ogólnie ludzie radzą, żeby uzyskiwać ten dźwięk mówiąc "F" kiedy język jest pomiędzy zębami (przednimi). Poniższy filmik<br/>
<a href="http://www.youtube.com/watch?feature=player_embedded&amp;v=yTPfN_Q1G-I#" title="http://www.youtube.com/watch?feature=player_embedded&amp;v=yTPfN_Q1G-I#">http://www.youtube.com/watch?feature=player_embedded&amp;v=yTPfN_Q1G-I#</a>!<br/>
niby to obrazuje ale np przy słówku "Thursday" autor nie wymawia "f" tylko "t" co brzmi jak "torsdej" - chociaż to pewnie albo przesłyszenie albo poprostu zła wymowa.<br/>
To samo np przy słowie though (nie thought). Ludzie którzy wymawiają to mówią coś jak "dou" (przykład tutaj : <a href="http://pl.forvo.com/word/though/#en" title="http://pl.forvo.com/word/though/#en">http://pl.forvo.com/word/though/#en</a> ) a raczej pierwsza osoba, kolejne wymawiają "zou"<br/>
Jakieś porady ? :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3740">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">luko (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3740">Tuesday, February 5, 2013 - 09:05</a></span>
</div>
</div>
<div class="indented"><a id="comment-3744"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Luko!</p>
<p>W niektórych dialektach j. angielskiego "th" naprawdę brzmi jak "f" , "t" albo nawet "d". Ale w większości dialektów i oczywiście w standardowym angielskim tak nie brzmi!</p>
<p>Oto parę bardzo dobrych filmików o wymowie "th" w standardowym angielskim:</p>
<p><a href="http://www.youtube.com/watch?v=Y30HHD6IdMc&amp;list=PL94542C029BB667AB" title="http://www.youtube.com/watch?v=Y30HHD6IdMc&amp;list=PL94542C029BB667AB">http://www.youtube.com/watch?v=Y30HHD6IdMc&amp;list=PL94542C029BB667AB</a></p>
<p><a href="http://www.youtube.com/watch?v=NQpSQAKIC34&amp;list=PL94542C029BB667AB" title="http://www.youtube.com/watch?v=NQpSQAKIC34&amp;list=PL94542C029BB667AB">http://www.youtube.com/watch?v=NQpSQAKIC34&amp;list=PL94542C029BB667AB</a></p>
<p>Polecam te filmy gorąco!!</p>
<p>Nie wiem, czy to zauważyłeś ale w moim dialekcie słowo "the" może czasem brzmieć jak "ne", np: We gotta find "ne" bread. ;-) Jest parę ciekawych różnic w moim dialekcie - napisałem cały artykuł o tym:</p>
<p><a href="http://www.linguatrek.com/blog/2011/02/milwaukee-wisconsin-unique-english-dialect" title="http://www.linguatrek.com/blog/2011/02/milwaukee-wisconsin-unique-english-dialect">http://www.linguatrek.com/blog/2011/02/milwaukee-wisconsin-unique-englis...</a></p>
<p>Mam nadzieję, że to pomoże!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3744">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3744">Tuesday, February 5, 2013 - 09:51</a></span>
</div>
</div>
<div class="indented"><a id="comment-3760"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/dbfffc3f867621e330196b21c79ee339?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>W pierwszym filmiku mówi żeby nie wymawiać "f" i "s" kiedy język jest między zębami, no i nie powiedziała jaką litere mam wymawiac, "th" poprostu? Chyba nie najlepiej to u mnie brzmi, może to wina mojej wady zgryzu ? :(</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3760">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">luko (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3760">Tuesday, February 5, 2013 - 10:46</a></span>
</div>
</div>
<div class="indented"><a id="comment-3782"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>No, to zupełnie nowy dźwięk dla Polaka. :-) Prawdę mówiąc dla większości osób bo ten dźwięk nie jest często spotykany w innych językach. Polecam, że poprawnie ustaw język i potem spróbuj to imitować. To lepiej niż "powiedz f" lub coś w tym stylu.</p>
<p>Będziesz potrzebował dużo ćwiczeń!</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3782">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3782">Tuesday, February 5, 2013 - 13:21</a></span>
</div>
</div>
</div></div></div><a id="comment-3743"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://biter.bartoszrakowski.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8edb38c99fa153f352cb167b5a6cbf6d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Bardzo fajny film, nauczyłem się poprawnej wymowy dwóch słów które jak się okazuje źle wymawiałem. Zdecydowanie poproszę więcej takich nagrań :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3743">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://biter.bartoszrakowski.com" rel="nofollow">Biter</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3743">Tuesday, February 5, 2013 - 09:50</a></span>
</div>
</div>
<div class="indented"><a id="comment-3745"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki! Z ciekawości: jakie były te dwa słowa?</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3745">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3745">Tuesday, February 5, 2013 - 09:52</a></span>
</div>
</div>
<div class="indented"><a id="comment-3749"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://biter.bartoszrakowski.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8edb38c99fa153f352cb167b5a6cbf6d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Te słowa to "definitely" (tak, tak, brak podstaw sie kłania) i "aisle" (tu już totalnie inne słowo wymawiałem:))</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3749">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://biter.bartoszrakowski.com" rel="nofollow">Biter</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3749">Tuesday, February 5, 2013 - 10:01</a></span>
</div>
</div>
</div></div><a id="comment-3751"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/64dd6ad96df0aa1bceef6921b5724950?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Świetny filmik :) i bardzo podoba mi się pomysł filmów po angielsku. Pozwala to osłuchać się z językiem co jest bardzo przydatne jeśli ktoś ma już jakieś podstawy.<br/>
Bardzo podoba mi się też obecność angielskich napisów pod filmem- osobiście mam trochę problem z rozumieniem ze słuchu dlatego tekst pozwala zrozumieć mówioną kwestię przy jednoczesnym słuchaniu.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3751">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Emilia (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3751">Tuesday, February 5, 2013 - 10:01</a></span>
</div>
</div>
<div class="indented"><a id="comment-3752"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Emilia!</p>
<p>Dzięki. :-) Bardzo się cieszę, że podoba Ci się ten filmik.</p>
<p>Chciałbym dodać (nie tylko dla Ciebie ale dla wszystkich!), że napisy nie są doskonałe. Sam tylko dodałem transkrypcję i YouTube automatycznie zsynchronizował je z filmikiem. Ale jeśli ktoś chce je poprawić albo przetłumaczyć na polski (albo na inny język), może na tej stronie:</p>
<p><a href="http://www.amara.org/en/videos/efRYnCKiSxcG/en/520589/#transcripts" title="http://www.amara.org/en/videos/efRYnCKiSxcG/en/520589/#transcripts">http://www.amara.org/en/videos/efRYnCKiSxcG/en/520589/#transcripts</a></p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3752">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3752">Tuesday, February 5, 2013 - 10:07</a></span>
</div>
</div>
<div class="indented"><a id="comment-3769"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/08b3a675e5fcfb74cd10e4bad78a3e36?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Poprawiłem nieco napisy angielskie (mam nadzieję, że jest ok ;), jednak nie mam pojęcia czy to się zapisało, czy jest dostępne itd...<br/>
Dodatkowo w transkrypcji jest np coś takiego: "So, we're going to go shopping" natomiast słychać: "So, we're gonna go shopping" (albo się mylę - co jest bardziej możliwe ;p). I jeszcze kilka podobnych różnic. W takim wypadku ciężko jest porównać wymowę z transkrypcją.<br/>
Pozdrawiam :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3769">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3769">Tuesday, February 5, 2013 - 12:07</a></span>
</div>
</div>
<div class="indented"><a id="comment-3774"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dziękuję bardzo za pomoc! Naprawdę wygląda świetnie! To już powinno być dostępne, przynajmniej ja to widzę. :-) Wygląda na to, że ktoś inny przetłumaczył napisy na polski!</p>
<p>Napisałem "going to" bo zwykle nie pisze się takie skrócenia jak "gonna" - to sprawa wymowa. Ale może w celu nauki zrobię to w przyszłości! Tylko nigdy tak nie pisałbym kiedy normalnie piszę po angielsku.</p>
<p>Jeszcze raz dziękuję!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3774">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3774">Tuesday, February 5, 2013 - 13:03</a></span>
</div>
</div>
</div></div></div><a id="comment-3761"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a7a5a3799d5930c5225dc8a6820f5633?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Masakra, ale tam macie wszystko tanie w porównaniu do zarobków. Jeśli wziąć Polaka, który zarabia 1500zł i obywatela USA, który zarabia 1500$ to różnica jest kolosalna. U nas chleb kosztuje ponad 5zł (to tak jakby tam kosztował 5 dolarów).</p>
<p>Co do filmiku, to nie zdawałem sobie sprawy z tego, że będę wszystko rozumiał bez napisów ;D</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3761">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3761">Tuesday, February 5, 2013 - 11:04</a></span>
</div>
</div>
<div class="indented"><a id="comment-3783"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Gratuluję Ci rozumienia bez napisów! :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3783">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3783">Tuesday, February 5, 2013 - 13:22</a></span>
</div>
</div>
</div><a id="comment-3763"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/38e1c3cefadc81b9928e6546fe0b14d4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>hmm... kilka słów odnośnie wrażeń po obejrzeniu filmiku. Kiedy go oglądałem przyszedł mi na myśl program Wojciecha Cejrowskiego "Boso przez świat". Polecam obejrzeć jeśli będziesz miał chwilę wolnego czasu. Myślę, że on by Cię zainspirował do sposobu nagrywania dalszych filmów w jakiejkolwiek płaszczyźnie (np. co do wyboru miejsc). Można coś podglądnąć u niego jeśli się coś spodoba, ale oczywiście zawsze trzeba mieć swój styl.<br/>
Tutaj link do jednego z odcinków "Boso przez świat":<br/>
<a href="http://www.youtube.com/watch?v=c9x9cN-hSr4" title="http://www.youtube.com/watch?v=c9x9cN-hSr4">http://www.youtube.com/watch?v=c9x9cN-hSr4</a><br/>
No i tak myślałem, że czasem mógłbyś wpleść polskie zdanie, wydaje mi się, że bardziej wyczuwałoby się wtedy ducha filmiku, który jest dla uczących się angielskiego. Twój filmik podobał mi się. Pozdrawiam, Paweł.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3763">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Paweł (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3763">Tuesday, February 5, 2013 - 11:05</a></span>
</div>
</div>
<div class="indented"><a id="comment-3779"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Paweł!</p>
<p>Dzięki za sugestię! Już wiele osób mi poleciło program Wojciecha Cejrowskiego ale jeszcze nie miałem szansę tego obejrzeć. Będę oglądał parę odcinków później. :-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3779">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3779">Tuesday, February 5, 2013 - 13:14</a></span>
</div>
</div>
</div><a id="comment-3764"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/7f3665a38cb757e1e0db23b50280fcb1?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Howdy David</p>
<p>I have heard your opinion of an american bread. The same is here. At Tesco you can bay eggs for £0,90 and bread for £0,60. I like to do shopping at a polish shop, because there is a polish bread and sausages. Have you eaten polish ones. My colleague is from the U.S.A and she has told that she was able to bay a polish bottles of vodka, cans of polish beer ;-) ;-)in the U.S.A.<br/>
For example I am a singel person I spend about £40 for shopping and per month it is about up to £140 for food( sometimes more)<br/>
I think food in the USA is cheap and other things are more expansive like a rent, bills etc.<br/>
Thanks for your e-mail about lessons. Am in Poland at the moment, but I think I would like to have English lessons ( private). With your lessons I can prepare to an English exam (TOEFL)</p>
<p>See you soon</p>
<p>Radek</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3764">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Radek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3764">Tuesday, February 5, 2013 - 11:05</a></span>
</div>
</div>
<div class="indented"><a id="comment-3780"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Radek!</p>
<p>I've eatten Polish sausages and drank Polish beer and vodka - but not recently. :-) In any case, you can buy lots of Polish products in our city - just not in the store we showed in the video.</p>
<p>Awesome, just let me know when you're ready for lessons!</p>
<p>Take care!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3780">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3780">Tuesday, February 5, 2013 - 13:16</a></span>
</div>
</div>
</div><a id="comment-3765"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/90d261001bd8edb84978bc74c41d76c2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Świetny filmik, bardzo mi się podoba. No a teraz zajmę się jego tłumaczeniem bo ledwo 10 % rozumiem :D. Oczywiście czekam na więcej tego typu filmików.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3765">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Domi (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3765">Tuesday, February 5, 2013 - 11:06</a></span>
</div>
</div>
<div class="indented"><a id="comment-3781"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Bardzo się cieszę, że podoba Ci się! Jeśli mało rozumiesz to znaczy, że dużo możesz się nauczyć z niego. :-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3781">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3781">Tuesday, February 5, 2013 - 13:17</a></span>
</div>
</div>
</div><a id="comment-3767"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/04afbf28ea12408be8a262e06f16c671?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>dobre. mi się to bardzo podoba. mogę obejrzeć jeszcze chętnie np. filmik o tym, jak Amerykanie gotują, albo jak chodzą do kina itd.</p>
<p>David ma super wymowę - tzn. bez tłumaczenia można zrozumieć 90 % tego co mówi. Podejrzewam, że trochę dostosował ją do non-native-speakerów, ale gdyby wszyscy tak mówili native-speakerzy byłoby dobrze. Ostatnio rozmawiałem z angielskim policjantem na lotnisku w London Luton i chociaż gość był super sympatyczny, rozumiałem z trudem 50 % może jego wypowiedzi. </p>
<p>Zgadzam się z wcześniejszą opinią któregoś z komentatorów, że David mógłby rzucić okiem na Cejrowskiego. On do perfekcji opanował taki krótki reportaż filmowy.</p>
<p>pozdrawiam serdecznie</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3767">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Tomasz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3767">Tuesday, February 5, 2013 - 11:59</a></span>
</div>
</div>
<div class="indented"><a id="comment-3784"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Tomasz!</p>
<p>Bardzo się cieszę, że podoba Ci się. :-)</p>
<p>No, nie starałem się dostosować wymowę do non-native speakerów ale jest możliwe, że to zrobiłem nieświadomie. :-/ Hehe, kiedy sam rozmawiam z Anglikiem czasem tylko rozumiem 50%. :-) Ale to zależy od jego akcentu i dialektu.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3784">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3784">Tuesday, February 5, 2013 - 13:25</a></span>
</div>
</div>
</div><a id="comment-3772"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/93cf2e9c7488695a29557c4d063f61e7?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Bardzo mi się podobało, niestety niewiele zrozumiałem z tego co mówiłeś ale lepiej mi poszło z tekstem pisanym.Dziękuje, że się tak dla nas poświęcasz.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3772">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Tadeusz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3772">Tuesday, February 5, 2013 - 12:49</a></span>
</div>
</div>
<div class="indented"><a id="comment-3785"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Tadeusz!</p>
<p>Dzięki. :-) Cieszę się, że podoba Ci się! Tak jak powiedziałem komuś innym: to, że mało zrozumiałeś, znaczy, że możesz dużo się nauczyć z tego!</p>
<p>Polecam wielokrotnie słuchanie - tylko popatrz na transkrypcję od czasu do czasu. Niedługo będziesz w stanie tego rozumieć bez napisów/transkrypcji. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3785">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3785">Tuesday, February 5, 2013 - 13:27</a></span>
</div>
</div>
</div><a id="comment-3786"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9857dc3fe1a376eaf7fb5d46b894a791?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Bardzo fajny filmik...zauwazylem ze jesli znam temat i widze o czym jest mowa,to nawet nie patrzac na napisy zrozumialem wiekszosc z tego filmu..wniosek jaki...dziekuje i czekam na nastepny:)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3786">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Krzysztof (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3786">Tuesday, February 5, 2013 - 13:43</a></span>
</div>
</div>
<div class="indented"><a id="comment-3815"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Krzysztof!</p>
<p>Dzięki. :-) To fantastycznie, że zrozumiałeś filmik bez problemów! Gratulacje!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3815">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3815">Wednesday, February 6, 2013 - 12:37</a></span>
</div>
</div>
</div><a id="comment-3787"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/327a4ea7e618fbe2b949c9842f97852a?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Dziękuję pomaganie<br/>
chociaż moim priorytetem obecnie jest inny jezyk do nauki jako bieżący wymóg, to dzięki Tobie coraz częsciej zastanawiam sie nad próbą odzyzkania tego co w rezygnacji odpuscilem z j. angielskim a później przeskoczenia tamtych umiejetnosci . motywacji moze na razie nie widze ale od zawsze miałem sympatie do j. angielskiego i Ameryki i paru innych anglojezycznych miejsc, wiec chociaż z moralnych wzgledów .<br/>
jakby tochę za późno ale dzięki Tobie bedę przeżywał namiastkę realnej, prawdziwej Ameryki .<br/>
Pozdrawiam . Janusz .</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3787">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">janusz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3787">Tuesday, February 5, 2013 - 14:06</a></span>
</div>
</div>
<div class="indented"><a id="comment-3817"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Janusz!</p>
<p>Bardzo się cieszę, że podoba Ci się filmik. Oczywiście motywacja jest najważniejsza - ale mam nadzieję, że kiedyś wrócisz do nauki mojego ojczystego języka! I jeśli to zrobisz, polecam nasz kurs językowy na temat prawdziwego życia w USA:</p>
<p><a href="https://pl.bibliobird.com/real-life-in-the-usa" title="https://pl.bibliobird.com/real-life-in-the-usa">https://pl.bibliobird.com/real-life-in-the-usa</a></p>
<p>:-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3817">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3817">Wednesday, February 6, 2013 - 12:44</a></span>
</div>
</div>
</div><a id="comment-3795"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://advice.latkos.eu.org/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/6238cfa625802448f1f205d3f7f4998d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>And your wife suggested to check all eggs :)<br/>
Very good idea with this video - it shows us how US world looks like.<br/>
Many thanks and please make more and in different situation.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3795">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://advice.latkos.eu.org/" rel="nofollow">Paweł</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3795">Tuesday, February 5, 2013 - 16:08</a></span>
</div>
</div>
<div class="indented"><a id="comment-3818"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Paweł!</p>
<p>Yes, it's very important to check the eggs. There's nothing worse than getting home and finding a broken egg! :-)</p>
<p>I'm glad you like it! There are definitely more to come.</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3818">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3818">Wednesday, February 6, 2013 - 12:46</a></span>
</div>
</div>
</div><a id="comment-3796"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/10e09cb9c04341b7c14516164b3546ff?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witaj David<br/>
Ja powiem krótko, gdybym miała takiego nauczyciela języka angielskiego jak Ty, to myślę że błyskawicznie opanowałabym ten język. Uważam iż to właśnie nauczyciel i jego metody są najważniejsze + oczywiście nasze chęci. Ja niestety nie mam talentu do nauki języków obcych choć z filmiku zrozumiałam niemal wszystko.</p>
<p>Pozdrawiam serdecznie<br/>
Czekam na więcej filmików z życia codziennego w USA.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3796">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Bety (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3796">Tuesday, February 5, 2013 - 16:52</a></span>
</div>
</div>
<div class="indented"><a id="comment-3819"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Bety!</p>
<p>Dzięki za miłe słowa. :-) Kiedy Twój jedyny kontakt z językiem jest kursem i nauczycielem - masz rację. Ale w dzisiejszym świecie jest łatwiej niż kiedykolwiek wziąć sprawy w swoje ręce!</p>
<p>Jeśli jeszcze nie czytałaś mojego darmowego ebooka - polecam go gorąco. To właśnie na temat jak nauczyć się języka bez nauczyciela! Mam nadzieję, że to pomoże. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3819">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3819">Wednesday, February 6, 2013 - 12:50</a></span>
</div>
</div>
</div><a id="comment-3799"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/46d0352c7ddc83e315d20dd69bdc6de6?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Jestem za . jak najwięcej takich scenek rodzajowych z życia wziętych ,przydatnych w codziennych sytuacjach.<br/>
Takie filmiki bardzo dużo wnoszą ale dobrze by było jak tekst pod filmem był  by przetłumaczony na  polski.<br/>
Pozdrawiam</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3799">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Edziu (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3799">Wednesday, February 6, 2013 - 04:28</a></span>
</div>
</div>
<div class="indented"><a id="comment-3820"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Edziu!</p>
<p>Dzięki. :-) Ktoś przetłumaczył napisy na polski! Kliknij ikonę "CC" i wybierz "Polish" z tej listy i je zobaczysz.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3820">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3820">Wednesday, February 6, 2013 - 12:51</a></span>
</div>
</div>
</div><a id="comment-3800"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8a252cf5861232b64310128068d1b01c?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Bardzo fajny filmik, więcej takich bym chciała :)<br/>
Pozdrawiam</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3800">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Aneta (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3800">Wednesday, February 6, 2013 - 07:54</a></span>
</div>
</div>
<div class="indented"><a id="comment-3821"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Aneta!</p>
<p>Dzięki. :-) Filmik był dość popularny - na pewno będzie więcej takich!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3821">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3821">Wednesday, February 6, 2013 - 12:52</a></span>
</div>
</div>
</div><a id="comment-3805"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/5e3dbc9ac4e5485caddd5a6874344cac?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Wspaniały filmik :D<br/>
Najbardziej moją uwagę przykuł ten obraz (chyba olejny) na drzwiach szafy, czy co to tam było w pierwszej scenie :D. Piosenka tez była niezła ^u^, zaskoczyły mnie te porozwieszane balony xd u nas też by mogli tak dekorować sklepy, od razu by się milej zrobiło :D, co najciekawsze - zrozumiałam prawie wszytko, co było powiedziane w filmiku, więc chyba nie jest ze mną jeszcze aż tak źle XD<br/>
Jednym słowem - świetny filmik i proszę o więcej takich :DDD</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3805">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Sandra (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3805">Wednesday, February 6, 2013 - 08:28</a></span>
</div>
</div>
<div class="indented"><a id="comment-3822"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Sandra!</p>
<p>Dziękuję bardzo. :-)</p>
<p>Ten obraz to kopia jakiegoś sławnego obrazu - ale moja żona ją namalowała kilka lat temu! Hehe, uwielbiam tę dziwną piosenkę. Jest serwis z piosenkami do darmowego użycia i zawsze znajduję tam dużo różnych, interesujących rzeczy. ;-)</p>
<p>To fantastycznie, że zrozumiałaś filmik bez problemów! Gratulacje!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3822">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3822">Wednesday, February 6, 2013 - 12:58</a></span>
</div>
</div>
</div><a id="comment-3816"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/708849f23da31eaeab4e13b13d201aec?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>super!!!! świetny pomysł...<br/>
fajnie by było gdyby transkrypcja była tłumaczona tak jak inne teksty w Bibliobirdzie...<br/>
pozdrawiam Robert</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3816">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3816">Wednesday, February 6, 2013 - 12:40</a></span>
</div>
</div>
<div class="indented"><a id="comment-3823"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Robert!</p>
<p>Dzięki. :-)</p>
<p>Niestety nie mieliśmy czasu, żeby go dodać do Bibliobirda. :-/ Ale ktoś przetłumaczył napisy na polski! Kliknij ikonę "CC" i wybierz "Polish" z tej listy i je zobaczysz.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3823">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3823">Wednesday, February 6, 2013 - 13:00</a></span>
</div>
</div>
</div><a id="comment-3833"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3edaefc3d69a4bf6a0e4b474303c6d06?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć David<br/>
Chciałam obejrzeć Twój filmik i dokonać oceny, ale mój nowy netbook zatrzymuje się się podczas odtwarzania i wydaje dziwne dźwięki. Kupiłam go w Polsce i przywiozłam do Anglii, więc nie mam na razie możliwości uczyć się, skoro nie mogę odtwarzać Twojego nagrania. Po obejrzeniu połowy, wydaje mi się, że filmik jest za długi w stosunku do zawartej treści. Chodzi o to, że pokazywanie szczegółow typu otwieranie opakowania z jajkami to strata czasu dla osób oglądających...<br/>
Pozdrawiam, Anna</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3833">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anna Z (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3833">Thursday, February 7, 2013 - 03:51</a></span>
</div>
</div>
<div class="indented"><a id="comment-3835"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9a8cb03a0d20b459b313c180559fa98b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Przerywniki w filmie też dobrze mieć. Tak więc nie ma co narzekać :)<br/>
Popieram pomysł podpatrzenia, jak tworzyć materiały wideo od Pana Cejrowskiego. Później styl sam się wyrobi.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3835">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3835">Thursday, February 7, 2013 - 07:19</a></span>
</div>
</div>
<a id="comment-3840"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Anna!</p>
<p>Hrm, to szkoda, że miałaś takie problemy techniczne. :-/ Również przepraszam, że filmik nie podobał Ci się. Kiedy nagrywam coś na miejscu, koniecznie będzie mniej mowy i więcej pokazywania. Może w przyszłości nagram filmik w jednym miejscu, który będzie miał więcej mowy.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3840">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3840">Thursday, February 7, 2013 - 08:02</a></span>
</div>
</div>
</div><a id="comment-3855"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/426075b91265ea08bedfe670c59810b4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Rewelacyjny filmik!!!!!!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3855">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">banan (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3855">Thursday, February 7, 2013 - 14:27</a></span>
</div>
</div>
<div class="indented"><a id="comment-3887"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki. :-) Pozdrawiam, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3887">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3887">Saturday, February 9, 2013 - 11:43</a></span>
</div>
</div>
</div><a id="comment-3859"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8725e9a7b6078fe2263cd6ce86762d75?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi David, robisz fantastyczną robotę!</p>
<p>Filmy tego typu zawierają akcję, nie mogą być więc 'pełne języka'. Nie taka jest ich rola - zawsze można nagrać coś gadając z krzesła, albo po prostu podcast ;)</p>
<p>Po 1.5 roku nauki (wcześniej udawanie nauki w średniej i na studiach, a tym samym zmarnowanie GODZIN życia oraz de facto na długi okres znienawidzenie języka) byłem w stanie zrozumieć za pierwszym razem wszystkie wypowiadane w filmiku zdania, co do pojedynczego słowa! Ale ja mam teraz bzika na punkcie american english i za sobą godziny dziennie spędzone na słuchaniu i czytaniu. Popełniony przez Davida ebook świetnie opisuje najefektywniejszy sposób nauki, który wcześniej poparł badaniami min. Dr. Stephen Krashen. Polecam również stronę na której Warren Ediger bardzo ciekawie przedstawia niniejszy proces:<br/>
<a href="http://successfulenglish.com/2009/10/the-basics-introduction/" title="http://successfulenglish.com/2009/10/the-basics-introduction/">http://successfulenglish.com/2009/10/the-basics-introduction/</a></p>
<p>Pozdrawiam!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3859">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">31 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3859">Friday, February 8, 2013 - 05:02</a></span>
</div>
</div>
<div class="indented"><a id="comment-3888"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć!</p>
<p>Dziękuję bardzo. :-) Bardzo się cieszę, że Twoja nauka teraz idzie tak dobrze! Gratuluję Ci sukcesów do tej pory i życzę dalszych!</p>
<p>To jest fantastyczna strona! Warren świetnie wyjaśnia ten proces. Będę musiał wysłać mu maila. ;-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/240/3888">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-zakupy-w-usa#comment-3888">Saturday, February 9, 2013 - 11:48</a></span>
</div>
</div>
</div>
</div>
