---
permalink: /blog/2013/02/vlog-post-office-in-the-usa/
layout: blog-old
title: 'Vlog: Post office in the USA!'
day: 26
month: Feb
year: 2013
category: USA
tags: 
  - 'vlog'
language: en
translation: /blog/2013/02/vlog-na-poczcie-w-usa/
---
<div class="content">
<p><em>(If you're a subscriber and you didn't get an e-mail about this video, it's because you didn't selected "I'm interested in ... Life in the USA and American culture" or "I'm learning ... English" in your <a href="http://www.linguatrek.com/options">subscriber options</a>.)</em></p>
<p><strong>Today we're going to take you on a short trip to the post office! You also get to to see the bus in Milwaukee and a little bit of our neighborhood.</strong></p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/7Qg_voLffvc?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/7Qg_voLffvc?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p><em>(<a href="http://www.amara.org/en/v/BeuQ/">Click here</a> to help work on the subtitles or translate them into another language!)</em></p>
<p><strong>Read more for a full transcript!</strong></p>
<h2><a name="transcript">Transcript</a></h2>
<ul>
<li>Today, we are going to the post office</li>
<li>A couple of days ago we got one of these notes in our mailbox</li>
<li>Which means they came to drop off a package and we weren't here to get it</li>
<li>So, now we have to go down to the post office and pick it up</li>
<li>So, in a moment we're going to be going to the post office</li>
<li>And now we are officially going to the post office</li>
<li>The post office is actually really close to our house</li>
<li>It's in the neighborhood just west of our neighborhood</li>
<li>But it's a little further than we usually walk</li>
<li>So we're going to take the bus!</li>
<li>Which means that you get to see a little bit of the bus in Milwaukee</li>
<li>Ok, here we are</li>
<li>Our post office is on Martin Luther King Drive</li>
<li>It's in a very old building</li>
<li>I don't know when it was built but it's probably one of the older post offices in the city</li>
<li>Here you can see P. O. boxes</li>
<li>These are mailboxes that you can rent so you can have your mail delivered (and you can come pick it up)</li>
<li>Without having to give people your real address</li>
<li>In case you wanted to keep your actual address private for some reason</li>
<li>So, just the street?</li>
<li>You're all set, thank you!</li>
<li>Thank you! Take care!</li>
<li>We have our package</li>
<li>For the trip back we don't have to buy a ticket</li>
<li>When you buy a ticket on the bus, you get a transfer</li>
<li>Which you can see my transfer here</li>
<li>Which allows you to take another bus for free within 2 hours of your first trip</li>
<li>If it's chocolate, it's mine!</li>
<li>So, we're back from the post office</li>
<li>We have our package</li>
<li>When we went down to the post office, we didn't know who it was from, what it was</li>
<li>It turns out that it's from Poland</li>
<li>You can see all of the stamps here</li>
<li>It's from a Bibliobird user</li>
<li>One of our students who comes to our English discussion lessons over voice chat</li>
<li>"wilk" is his username on Bibliobird</li>
<li>So he sent us a present</li>
<li>In a second we're going to open it and find out what it is</li>
<li>Alright what do we got here?</li>
<li>It's for Carrie - some chocolates</li>
<li>Oh, my gosh</li>
<li>Oh, wow</li>
<li>It's hot chocolate</li>
<li>Or I guess you would say like "drinking chocolate"</li>
<li>From my favorite place to get hot chocolate</li>
<li>Yeah, in Warsaw</li>
<li>And we've got...</li>
<li>Oh, man</li>
<li>"wilk" sent us some chocolate bars</li>
<li>Look at all of that</li>
<li>Oh, wow</li>
<li>Look at that</li>
<li>That is awesome</li>
<li>We got all the different kinds</li>
<li>Oh, my gosh</li>
<li>Oh, that is boss</li>
<li>That is boss</li>
<li>And I assume this is more -</li>
<li>Yeah, milk chocolate</li>
<li>Now here's some milk chocolate</li>
<li>Those are pretty packages</li>
<li>Yeah, with some pictures from Warsaw</li>
<li>Ah, from Łazienki park?</li>
<li>Um, this one is</li>
<li>That one</li>
<li>The... with Chopin</li>
<li>And then this is the mermade in old town</li>
<li>And one last one that I forgot in there</li>
<li>Wow, awesome</li>
<li>Well, I can tell you right now that Carrie is going to love eating all of this chocolate</li>
<li>Wow</li>
<li>Alright, I'ma [= I'm going to] try it</li>
<li>That is very tasty</li>
<li>We just want to say: Thank you so much, "wilk"</li>
<li>This is a wonderful present</li>
</ul>
</div>

<div id="comments">
<a id="comment-4116"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/013a6497ed07a9fb73373649c34af9f5?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi  David. I must admit you do a good job related to your video. It helps me to understand American. Thanks for your video. I hope you'll give more videos on this website. I am happy you give subtitles in English in video. It procure that your videos are easly to understand..</p>
<p>P.S If i make a mistakes you'll correct me if you want...</p>
<p>All the best<br/>
Piotr</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/246/4116">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">peter (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-post-office-in-the-usa#comment-4116">Tuesday, February 26, 2013 - 12:18</a></span>
</div>
</div>
<div class="indented"><a id="comment-4119"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Piotr!</p>
<p>Thanks! I'm glad you liked it. :-) Your written English is rather good and I only noticed two small errors that could affect understanding:</p>
<p>procure -&gt; ensures</p>
<p>easly -&gt; easy</p>
<p>I hope that helps!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/246/4119">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-post-office-in-the-usa#comment-4119">Tuesday, February 26, 2013 - 12:52</a></span>
</div>
</div>
</div><a id="comment-4126"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/ab19dfe9e80f1bbd9a9a40768441edcf?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Really nice trip and vlog. I hope you already ate them all (chocolates) ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/246/4126">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">wolbashi (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-post-office-in-the-usa#comment-4126">Tuesday, February 26, 2013 - 14:10</a></span>
</div>
</div>
<div class="indented"><a id="comment-4139"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks! Heh, no we just got them yesterday so we've only had a few. :-) "Wilk" really sent us a lot of them!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/246/4139">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-post-office-in-the-usa#comment-4139">Tuesday, February 26, 2013 - 21:11</a></span>
</div>
</div>
</div><a id="comment-4134"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/07c6f0f07fda79c236e83a133a622efd?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>David, you just gave ma a serious chocolate craving. Now I have no choice but to stuff my belly with some delicious chocolates. Anyway, cool video :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/246/4134">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Maciek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-post-office-in-the-usa#comment-4134">Tuesday, February 26, 2013 - 17:19</a></span>
</div>
</div>
<div class="indented"><a id="comment-4140"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Maciek!</p>
<p>Heh, sorry about the craving. ;-) Glad you liked it!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/246/4140">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-post-office-in-the-usa#comment-4140">Tuesday, February 26, 2013 - 21:11</a></span>
</div>
</div>
</div><a id="comment-4151"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/186ed06a8ceea211ca02b2b888f07c49?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi David, </p>
<p>I'm really glad you got it finally. I hope you find it tasty all :)<br/>
You have nice post office there, really nice building, has so classic American style ... and without a queue inside. When I think about post offices in Poland I always see long queue with many people waiting hours to get their parcel or a letter :) That's why I don't like to get notice from post office unless it's package I'm really waiting for.<br/>
Thank you David for this video, for me it was really fun to see how you get this package.</p>
<p>Cheers</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/246/4151">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wilk (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-post-office-in-the-usa#comment-4151">Wednesday, February 27, 2013 - 03:17</a></span>
</div>
</div>
<div class="indented"><a id="comment-4158"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks again for the chocolate! We've only had a chance to try a few of the kinds, but so far we're loving it. :-)</p>
<p>Yeah, that is a very classic post office. The newer ones could be any office with a front a desk, they don't really <em>look like</em> post offices.</p>
<p>Heh, well, we were there for 10 minutes with only one person in front of us. ;-) But we went at a very good time. It was 9:20am on a Monday so everyone had just gotten to work. Around 12pm and 5pm it's the busiest at the post office.</p>
<p>Although Americans go to the post office much less frequently than Poles. There just isn't much to do there! I go to pick up stuff at my P. O. Box, but there's no line for that. You can buy stamps at other places. I'm really only ever in line there if I need to mail a package abroad or to the government (otherwise I'd probably go to UPS or FedEx) or if I need to pick up something that wasn't delivered.</p>
<p>Heh, we told you we'd make a video! ;-)</p>
<p>Take care!<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/246/4158">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-post-office-in-the-usa#comment-4158">Wednesday, February 27, 2013 - 08:57</a></span>
</div>
</div>
</div><a id="comment-4184"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/7a47663fc8004092ce10fa21f51d12e7?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>hi again!</p>
<p>thanks for the video - but it should include the phrase: "audycja zawiera lokowanie produktu" :P no I'm kidding ;) but it's placed everywhere when ppl present some goods with a clear logo of the company.</p>
<p>ah one more thing - it's good to hear that you were so kind to that person who dealt with your note, usually ppl treat them like machines and don't even say "hello" or "thank you".</p>
<p>hopefully you've enjoyed the chocolate, and the next video will be about the experience of eating it.</p>
<p>cheers!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/246/4184">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Gosia (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-post-office-in-the-usa#comment-4184">Friday, March 1, 2013 - 06:48</a></span>
</div>
</div>
<div class="indented"><a id="comment-4232"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Gosia!</p>
<p>Hehe, well, Linguatrek.com is my blog, not my company. If anything is commercial it would be Bibliobird.com. However, I guess it's all connected!</p>
<p>I don't think any chocolate is going to be left by my next video! It's just TOO good! ;-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/246/4232">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-post-office-in-the-usa#comment-4232">Monday, March 4, 2013 - 16:32</a></span>
</div>
</div>
</div><a id="comment-4195"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/70986e3c1e255d50689b2236bd30f979?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Good bit a movie. Well done. I hope that you'll make more movies some in this design. :D:D:D</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/246/4195">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Pawel Cośtam (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-post-office-in-the-usa#comment-4195">Saturday, March 2, 2013 - 12:07</a></span>
</div>
</div>
<div class="indented"><a id="comment-4233"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Paweł!</p>
<p>I'm glad you liked it. :-) There will definitely be more like this!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/246/4233">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-post-office-in-the-usa#comment-4233">Monday, March 4, 2013 - 16:32</a></span>
</div>
</div>
</div><a id="comment-4328"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.idiomas247.com/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c82de4a7fde2212efec755ede63a2766?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>What I really appreciate from this kind of posts is this type of simple dialogues that describe everyday situations. They are really useful! :D</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/246/4328">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.idiomas247.com/" rel="nofollow">idiomatico</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-post-office-in-the-usa#comment-4328">Tuesday, March 26, 2013 - 07:47</a></span>
</div>
</div>
</div>
