---
permalink: /blog/2013/02/vlog-na-poczcie-w-usa/
layout: blog-old
title: 'Vlog: Na poczcie w USA!'
day: 26
month: Feb
year: 2013
category: USA
tags: 
  - 'vlog'
language: en
translation: 
---
<div class="content">
<p><em>(Jeśli jesteś subskrybentem i nie dostałeś maila dotyczącego tego filmiku, to dlatego, że nie wybrałeś "Interesuje mnie temat ... Życie w USA i kultura amerykańska" albo "Uczę się ... angielskiego" w swoich <a href="http://www.linguatrek.com/options">opcjach subskrybenta</a>.)</em></p>
<p><strong>Dzisiaj zabieramy Ciebie na krótką wycieczkę na pocztę! Również zobaczysz autobus w Milwaukee i trochę naszej dzielnicy.</strong></p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/7Qg_voLffvc?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/7Qg_voLffvc?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p><em>(<a href="http://www.amara.org/en/v/BeuQ/">Kliknij tutaj</a>, żeby pomóc z napisami albo przetłumaczyć je na inny język!)</em></p>
<p><strong>Czytaj dalej, żeby zobaczyć pełną transkrypcję!</strong></p>
<h2><a name="transcript">Transkrypcja</a></h2>
<ul>
<li>Today, we are going to the post office</li>
<li>A couple of days ago we got one of these notes in our mailbox</li>
<li>Which means they came to drop off a package and we weren't here to get it</li>
<li>So, now we have to go down to the post office and pick it up</li>
<li>So, in a moment we're going to be going to the post office</li>
<li>And now we are officially going to the post office</li>
<li>The post office is actually really close to our house</li>
<li>It's in the neighborhood just west of our neighborhood</li>
<li>But it's a little further than we usually walk</li>
<li>So we're going to take the bus!</li>
<li>Which means that you get to see a little bit of the bus in Milwaukee</li>
<li>Ok, here we are</li>
<li>Our post office is on Martin Luther King Drive</li>
<li>It's in a very old building</li>
<li>I don't know when it was built but it's probably one of the older post offices in the city</li>
<li>Here you can see P. O. boxes</li>
<li>These are mailboxes that you can rent so you can have your mail delivered (and you can come pick it up)</li>
<li>Without having to give people your real address</li>
<li>In case you wanted to keep your actual address private for some reason</li>
<li>So, just the street?</li>
<li>You're all set, thank you!</li>
<li>Thank you! Take care!</li>
<li>We have our package</li>
<li>For the trip back we don't have to buy a ticket</li>
<li>When you buy a ticket on the bus, you get a transfer</li>
<li>Which you can see my transfer here</li>
<li>Which allows you to take another bus for free within 2 hours of your first trip</li>
<li>If it's chocolate, it's mine!</li>
<li>So, we're back from the post office</li>
<li>We have our package</li>
<li>When we went down to the post office, we didn't know who it was from, what it was</li>
<li>It turns out that it's from Poland</li>
<li>You can see all of the stamps here</li>
<li>It's from a Bibliobird user</li>
<li>One of our students who comes to our English discussion lessons over voice chat</li>
<li>"wilk" is his username on Bibliobird</li>
<li>So he sent us a present</li>
<li>In a second we're going to open it and find out what it is</li>
<li>Alright what do we got here?</li>
<li>It's for Carrie - some chocolates</li>
<li>Oh, my gosh</li>
<li>Oh, wow</li>
<li>It's hot chocolate</li>
<li>Or I guess you would say like "drinking chocolate"</li>
<li>From my favorite place to get hot chocolate</li>
<li>Yeah, in Warsaw</li>
<li>And we've got...</li>
<li>Oh, man</li>
<li>"wilk" sent us some chocolate bars</li>
<li>Look at all of that</li>
<li>Oh, wow</li>
<li>Look at that</li>
<li>That is awesome</li>
<li>We got all the different kinds</li>
<li>Oh, my gosh</li>
<li>Oh, that is boss</li>
<li>That is boss</li>
<li>And I assume this is more -</li>
<li>Yeah, milk chocolate</li>
<li>Now here's some milk chocolate</li>
<li>Those are pretty packages</li>
<li>Yeah, with some pictures from Warsaw</li>
<li>Ah, from Łazienki park?</li>
<li>Um, this one is</li>
<li>That one</li>
<li>The... with Chopin</li>
<li>And then this is the mermade in old town</li>
<li>And one last one that I forgot in there</li>
<li>Wow, awesome</li>
<li>Well, I can tell you right now that Carrie is going to love eating all of this chocolate</li>
<li>Wow</li>
<li>Alright, I'ma [= I'm going to] try it</li>
<li>That is very tasty</li>
<li>We just want to say: Thank you so much, "wilk"</li>
<li>This is a wonderful present</li>
</ul>
</div>

<div id="comments">
<a id="comment-4113"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://biter.bartoszrakowski.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8edb38c99fa153f352cb167b5a6cbf6d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Dzięki za fajną wycieczkę, po raz kolejny bardzo przydatna w nauce</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4113">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://biter.bartoszrakowski.com" rel="nofollow">Biter</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4113">Tuesday, February 26, 2013 - 10:27</a></span>
</div>
</div>
<div class="indented"><a id="comment-4120"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki. :-) Bardzo się cieszę, że filmik spodobał Ci się.</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4120">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4120">Tuesday, February 26, 2013 - 11:53</a></span>
</div>
</div>
</div><a id="comment-4114"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/61b8221cc20e068672ef097295b5878f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Superb! I really appreciate it! It's going to help, honestly!<br/>
Best regards.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4114">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">bob (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4114">Tuesday, February 26, 2013 - 11:07</a></span>
</div>
</div>
<div class="indented"><a id="comment-4121"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Bob!</p>
<p>I'm glad you like it. :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4121">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4121">Tuesday, February 26, 2013 - 11:54</a></span>
</div>
</div>
<a id="comment-4125"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a3b293c64b4a78f06a5b7625ea222686?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Looks fantastic, great stuff!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4125">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Pajama Tutors Language Tutors (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4125">Tuesday, February 26, 2013 - 12:39</a></span>
</div>
</div>
</div><a id="comment-4115"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e8e9528a99f793a85c81b465e441c45e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć, David!<br/>
Po raz drugi od filmika z zakupami, widzę jak świetnym pomysłem są filmiki po angielsku. To super sprawa - możemy obsłuchać się z językiem, "odwiedzić" Stany, no i dostrzec jakie świetne macie z Carrie poczucie humoru ;-)<br/>
Pozdrawiam!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4115">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Maria (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4115">Tuesday, February 26, 2013 - 11:07</a></span>
</div>
</div>
<div class="indented"><a id="comment-4122"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Maria!</p>
<p>Dzięki. :-) Bardzo się cieszę, że spodobało Ci się. Bawimy się świetnie przy nagrywaniu takich filmików. ;-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4122">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4122">Tuesday, February 26, 2013 - 11:55</a></span>
</div>
</div>
</div><a id="comment-4117"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/2bc6d2330a62f8b7b3dcc1acd28c150d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>That's great. Very helpful in learning :) chyba dobrze napisałem :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4117">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Mariusz  (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4117">Tuesday, February 26, 2013 - 11:21</a></span>
</div>
</div>
<div class="indented"><a id="comment-4123"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks! (Yes, you wrote it correctly. ;-))</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4123">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4123">Tuesday, February 26, 2013 - 11:56</a></span>
</div>
</div>
</div><a id="comment-4118"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a7a5a3799d5930c5225dc8a6820f5633?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Wszędzie w USA kierowcy autobusów noszą takie ubrania? :D</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4118">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4118">Tuesday, February 26, 2013 - 11:40</a></span>
</div>
</div>
<div class="indented"><a id="comment-4124"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Nie, zasady dla kierowców autobusów są inne w każdym systemie autobusowym. Mamy jeden publiczny system autobusowy dla naszego hrabstwa (<a href="http://ridemcts.com/">Milwaukee Country Transit System</a>). W innych miejscowościach wszystko wygląda (i działa) inaczej.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4124">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4124">Tuesday, February 26, 2013 - 11:59</a></span>
</div>
</div>
</div><a id="comment-4127"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3c48acbf8a3b1b6d623982239a190c60?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć David</p>
<p>Świetny filmik :) Czekoladowy finał był naprawdę sympatyczny.<br/>
Mam nadzieję, że podobnych filmików będzie więcej :)<br/>
Wracając do prezentu, to która czekolada najbardziej Ci smakowała ?</p>
<p>Pozdrawiam<br/>
Łukasz</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4127">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Łukasz  (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4127">Tuesday, February 26, 2013 - 13:29</a></span>
</div>
</div>
<div class="indented"><a id="comment-4141"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Łukasz!</p>
<p>Dzięki. :-) No, tylko dostaliśmy to wczoraj, jeszcze nie próbowaliśmy wszystkich! ;-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4141">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4141">Tuesday, February 26, 2013 - 20:16</a></span>
</div>
</div>
</div><a id="comment-4128"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4233db66c19e4dde3b062637fe2d0d97?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Świetny i bardzo ciekawy filmik :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4128">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kamil (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4128">Tuesday, February 26, 2013 - 13:34</a></span>
</div>
</div>
<div class="indented"><a id="comment-4142"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki! :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4142">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4142">Tuesday, February 26, 2013 - 20:17</a></span>
</div>
</div>
</div><a id="comment-4129"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a6d99048620affa3e7d2f088c68729cb?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Żądam "Things I love about Poland"! ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4129">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">uuueeeuueeue (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4129">Tuesday, February 26, 2013 - 14:11</a></span>
</div>
</div>
<div class="indented"><a id="comment-4143"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Heh, no jedna rzecz, którą kocham w Polsce to: czekolada. ;-) Krótki "artykuł" ale prawda!</p>
<p>Mówiąc poważnie nadal mam przynajmniej 5 pomysłów na nowe artykuły w tej serii. Na pewno kiedyś napiszę kolejny!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4143">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4143">Tuesday, February 26, 2013 - 20:19</a></span>
</div>
</div>
</div><a id="comment-4130"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/202bf2d5c8d6e6d54cab3f8e110f7d7f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witaj David!<br/>
Kolejny ciekawy film!!!<br/>
Mam pytanie. Czy myślałeś, aby zrobić krótki filmowy materiał o amerykańskiej muzyce folkowej (folk, singer-songwriter, americana, alternative, alt-country etc.)? Wydaje mi się, że jest to ważny element kultury oraz tożsamości amerykańskiej. Szczególnie ciekawi mnie czy lubisz tego typu muzykę. jeżeli tak, to czy mógłbyś polecić godnych uwagi, mało znanych w Polsce, artystów.</p>
<p>PS: widząc jak świetnie opanowałeś język polski nabrałem dodatkowej motywacji, aby lepiej nauczyć się angielskiego. Pozdrawiam.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4130">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Lukasz  (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4130">Tuesday, February 26, 2013 - 14:43</a></span>
</div>
</div>
<div class="indented"><a id="comment-4144"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Łukasz!</p>
<p>Dzięki. :-) Nie, nie myślałem o tym ale to fajny pomysł! Nawet znam kilka amerykańskich artystów muzyki folkowej tutaj w Milwaukee. ;-) Dodałem to do moich notatek.</p>
<p>Cieszę się, że jakoś mogłem pomóc. Życzę Ci sukcesu w nauce angielskiego!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4144">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4144">Tuesday, February 26, 2013 - 20:23</a></span>
</div>
</div>
</div><a id="comment-4131"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/85c8754660b18c5ef39b41ce5a7c50d2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Davidzie w tym zdaniu z transkrypcji jest błąd: "So, in a moment we're going to be going to the post office".</p>
<p>Pozdrawiam i czekam na więcej takich filmików!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4131">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Marta (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4131">Tuesday, February 26, 2013 - 15:13</a></span>
</div>
</div>
<div class="indented"><a id="comment-4145"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Marta!</p>
<p>W danym momencie w filmiku powiedziałem: "So, in a moment we're gonna [= going to] be going to the post office". Ale rzadko pisze się "gonna" - to sprawa wymowy - częściej pisze się "going to". Jeśli to chodzi o coś innego, jakoś nie widzę tego błędu!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4145">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4145">Tuesday, February 26, 2013 - 20:26</a></span>
</div>
</div>
<div class="indented"><a id="comment-4164"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/85c8754660b18c5ef39b41ce5a7c50d2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>W takim razie ogromnie przepraszam! Słuchając, a potem widząc co innego w transkrypcji sądziłam, że po prostu wkradł się błąd. Nigdy też nie widziałam takiej konstrukcji w zdaniu.</p>
<p>Dziękuję za wyjaśnienie! :)<br/>
Pozdrawiam serdecznie :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4164">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Marta (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4164">Wednesday, February 27, 2013 - 12:55</a></span>
</div>
</div>
</div></div><a id="comment-4132"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d182d3c9cc02c45d0a9e477b74714bae?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Bardzo sympatyczny filmik;) Bardzo miło się was ogląda. Podoba mi się też to, że dodałeś transkrypcje. Dzięki temu jak coś nie zrozumiałam mogłam sobie sprawdzić. Dziękuję Ci za ten filmik i wszystkie jakie nagrałeś, zarówno te po angielsku jak i po polsku. Pozdrawiam!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4132">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anna (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4132">Tuesday, February 26, 2013 - 15:36</a></span>
</div>
</div>
<div class="indented"><a id="comment-4146"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Anna!</p>
<p>Dzięki. :-) Bardzo się cieszę, że spodobało Ci się!</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4146">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4146">Tuesday, February 26, 2013 - 20:28</a></span>
</div>
</div>
</div><a id="comment-4133"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8bfd8f57bef1881948a9844ae10aaabf?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Dołączam się do pozytywnych opinii już wypowiedzanych.<br/>
Dziękuję i pozdrawiam serdecznie Ciebie i Twoich Bliskich!<br/>
J<br/>
	Nie jestem „na bieżąco” i nie znam pełnego celu jaki Ci przyświeca przy robieniu filmików. Dlatego poniższe uwagi wycofuję (oprócz czwartej), jeżeli filmiki mają z założenia charakter, ogólnie mówiąc, poznawczo – rozrywkowy. Rozumiem, że wtedy ich po prostu nie umieścisz.</p>
<p>Jeżeli jednak filmik ma mieć również cel dydaktyczny, to brakuje mi:<br/>
1.	 tłumaczenia na j polski; jeżeli zrobię to sam – nie będę pewny czy będzie OK;<br/>
2.	pakietu audio (np MP3) do słuchania na urządzeniach przenośnych;<br/>
3.	standardowego dialogu (w Twoim wydaniu  (musiałby być chyba symulowany)) między Tobą a osobą „za okienkiem”;<br/>
4.	wyjaśnienia (czy jakiejś uwagi w tekście) w momencie rozmów (szeptów) w tle; O tym, że są to rozmowy ”w tle” (nie należące do kontekstu) staje mi się jasne gdy oglądam filmik kolejny raz;				Ta uwaga dotyczy również niektórych innych Twoich filmików;</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4133">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Ja.. (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4133">Tuesday, February 26, 2013 - 15:58</a></span>
</div>
</div>
<div class="indented"><a id="comment-4147"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć!</p>
<p>Dzięki. :-)</p>
<p>No, ten filmik jest rozrywkowy. Tworzymy bardziej "poważne" materiały dydaktyczne na stronie <a href="http://pl.bibliobird.com">Bibliobird.com</a>. Tam są tłumaczenia każdego słowa, dwa nagrania do każdego tekstu, itd. Polecam gorąco!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4147">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4147">Tuesday, February 26, 2013 - 20:31</a></span>
</div>
</div>
</div><a id="comment-4136"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/1debaaf1dca8b781c4a1c0d1450c96b8?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Czesc Dawid! Super filmik! Nie moge sie doczekac co bedzie w nastepnym. Pozdrowienia dla Ciebie i Carrie</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4136">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Przemek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4136">Tuesday, February 26, 2013 - 16:33</a></span>
</div>
</div>
<div class="indented"><a id="comment-4148"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Przemek!</p>
<p>Dzięki. :-) Nadal zastanawiam się co będzie w następnym...</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4148">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4148">Tuesday, February 26, 2013 - 20:32</a></span>
</div>
</div>
</div><a id="comment-4137"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://advice.latkos.eu.org/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/6238cfa625802448f1f205d3f7f4998d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>For me it is very helpfull to see real situations - as You and your wife are able to help people like me - I'm very grateful.<br/>
It seems that po boxes are very popular in US?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4137">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://advice.latkos.eu.org/" rel="nofollow">Paweł</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4137">Tuesday, February 26, 2013 - 17:23</a></span>
</div>
</div>
<div class="indented"><a id="comment-4149"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Paweł!</p>
<p>Thanks! You know - I actually have no idea how popular P.O. Boxes are. I have one! But I don't know if other people I know do, it's not something we talk about often. :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4149">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4149">Tuesday, February 26, 2013 - 20:34</a></span>
</div>
</div>
</div><a id="comment-4150"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a79da0b07b5846be1526f3ad255b0797?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć David,</p>
<p>Bardzo fajny filmik, choć może jest w nim za mało o samej poczcie :-) ale nie szkodzi.<br/>
Zainteresował mnie zwrot "I'ma..." - uczę się angielskiego już naprawdę długo a pierwszy raz się z tym zetknąłem. To popularna fraza czy regionalizm (regionalizm czyli wyrażenie typowe dla jakiegoś regionu)?</p>
<p>Druga sprawa to ...... kierunki geograficzne. Kiedy tylko oglądam jakiś amerykański film, gdzie występuje policja, to zawsze słyszę tam określenia typu: "po wschodniej stronie ulicy", "dwie przecznice na zachód od...." czy też "obstawcie południowe wyjście budynku". Ty też użyłeś "west of....". Czy we wszystkich amerykańskich miastach ulice są położone na liniach północ-południe i wschód-zachód (mapa Milwaukee tak właśnie wygląda)? W innym przypadku nie wyobrażam sobie, żeby można było komunikować się w ten sposób z wystarczającą precyzją. No chyba, że wszyscy policjanci w Stanach mają na wyposażeniu kompasy :-) (są oczywiście metody określania stron świata bez kompasu, ale nie zawsze jest to tak oczywiste).</p>
<p>Pozdrawiam was oboje,</p>
<p>Jacek</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4150">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Jacek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4150">Wednesday, February 27, 2013 - 00:46</a></span>
</div>
</div>
<div class="indented"><a id="comment-4155"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Jacek!</p>
<p>Dzięki. :-) Nagraliśmy przynajmniej 10 minut na samej poczcie ale niestety tam światło było okropne, więc tylko te kilka sekund pojawiło się w ukończonym filmiku. :-/</p>
<p>Baaarrrdzo rzadko pisze się "I'ma" tak samo jak rzadko pisze się "gonna" - to jest sprawa wymowy i nie pojawia się w ortografii. Tylko napisałem "I'ma" w transkrypcji bo wiedziałem, że wielu uczących się tego nigdy nie zauważyłem. ;-) Ale tak - to skrócenie w wymowie jest bardzo często używane przez native speakerów.</p>
<p>To tak samo jak słowo "the" może brzmieć jak "uh", "duh" lub "nuh" w szybkiej mowie - ale nikt nigdy tego nie pisze.</p>
<p>Nie, ulice nie zawsze są położone na liniach północ-południe i wschód-zachód. U nas to nawet tylko na grubo. Wydaje mi się, że mamy "miastowy zachód/wschód" - to znaczy zachód/wschód według ulic. ;-) Lubimy używać takich stron kompasu w mowie - to chyba część kultury.</p>
<p>Również w tym przypadku chodziło mi o dzielnicy, a nie ulice. Oto map dzielnic w Milwaukee:</p>
<p><a href="http://www.milwaukee.gov/ImageLibrary/Public/map4.pdf" title="http://www.milwaukee.gov/ImageLibrary/Public/map4.pdf">http://www.milwaukee.gov/ImageLibrary/Public/map4.pdf</a></p>
<p>Mieszkamy w Riverwest - poczta jest w Harambee. To jest na zachód od naszej dzielnicy, nawet jeśli ulice nie są tak precyzyjne. :-)</p>
<p>Mam nadzieję, że to wszystko ma sens!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4155">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4155">Wednesday, February 27, 2013 - 07:39</a></span>
</div>
</div>
</div><a id="comment-4153"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/87b1bf86cc037cb46d583f5febb39217?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Dzięki za filmik. Bardzo fajny.<br/>
Trochę mi brakuje dialogu przy okienku, a to ważne, żeby się nauczyć jak załatwiać sprawy na poczcie... ale, pamiętam jak ostatnio dostałem "awizo" (the note dropped by postman in my mailbox) - to poszedłem na pocztę i powiedziałem tylko "dzień dobry" i "dziękuję". Wszystko inne było oczywiste.<br/>
Pozdrawiam.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4153">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kazimierz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4153">Wednesday, February 27, 2013 - 02:29</a></span>
</div>
</div>
<div class="indented"><a id="comment-4156"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Kazimierz!</p>
<p>Tak, niestety światło i dźwięk nie było tak dobre na poczcie. Nagraliśmy tam przynajmniej 10 minut ale niestety tylko mogłem używać kilku sekund w ukończonym filmiku.</p>
<p>Tak samo zwykle wygląda u nas - tylko: "Hello" / "Thank you". Ale w tym przypadku miałem krótką rozmowę z osobą przy okienku o moim kuzynie. ;-) Rozpoznała nazwisko "Snopek" bo mój kuzyn (<a href="http://sigmundsnopek.com/">Sigmund Snopek III</a>) jest dość popularnym muzykiem w Stanach w ogóle ale zwłaszcza u nas w Milwaukee.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4156">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4156">Wednesday, February 27, 2013 - 07:45</a></span>
</div>
</div>
<div class="indented"><a id="comment-4159"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/87b1bf86cc037cb46d583f5febb39217?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Aaa, rozumiem. Właśnie dziwiłem się dlaczego do obcej osoby powiedziałeś take care. Teraz wszystko jasne!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4159">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kazimierz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4159">Wednesday, February 27, 2013 - 08:01</a></span>
</div>
</div>
</div></div><a id="comment-4154"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c122569b3d4a2059f5cd549a67119a91?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>David,<br/>
Bardzo dziękuję za fajny film.Wspaniała pomoc w nauce angielskiego.<br/>
Pozdrawiam.Marta</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4154">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">esperanca58 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4154">Wednesday, February 27, 2013 - 05:15</a></span>
</div>
</div>
<div class="indented"><a id="comment-4157"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Marta!</p>
<p>Dzięki. :-) Bardzo się cieszę, że spodobało Ci się.</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4157">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4157">Wednesday, February 27, 2013 - 07:45</a></span>
</div>
</div>
</div><a id="comment-4165"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f0fda26f3a475cbe3f5df379e91bcda6?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I want more! :D It's really great, interesting and helpful.<br/>
Thank you David and best regards :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4165">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Thomas (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4165">Wednesday, February 27, 2013 - 16:22</a></span>
</div>
</div>
<a id="comment-4169"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/2ec16e4d370511a895f74fec9e11e172?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witaj  ! </p>
<p>Bardzo  dobry    filmik  . I  bardo  przyjemna   miejscowość .<br/>
Agnieszka</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4169">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Agnieszka Rybka (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4169">Thursday, February 28, 2013 - 03:12</a></span>
</div>
</div>
<a id="comment-4171"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/82aefbc81cb72afe9d33e061557c0f66?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Bodajże pierwszy raz  spotkałam się z formą I'ma ,aczkolwiek coś mi świta,że mogłam już ją słyszeć w radio tylko zupełnie nie byłam świadoma o co chodzi :)<br/>
Teraz bardziej zwrócę na to uwagę.<br/>
Dzięki David za filmiki.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4171">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Beata (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4171">Thursday, February 28, 2013 - 12:00</a></span>
</div>
</div>
<a id="comment-4174"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9eb9aa486e2b034bd6e0c6a1928de6e3?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Very good movie. I would like more watch life on the street in city Milwauke.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4174">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">pawel13 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4174">Thursday, February 28, 2013 - 13:16</a></span>
</div>
</div>
<a id="comment-4178"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/27eae8a38a2428f31827550e59d02617?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witaj :)<br/>
ja dopiero zaczyna moja przygodę językową więc w tym temacie nie zabieram głosu bo jeszcze zbyt mało wiem. Ale jeśli pozwolisz to dodam coś od siebie w kwestii technicznej. Po uruchomieniu filmu na całym ekranie trochę przeszkadzało mi Twoje logo ponieważ było tego samego koloru co wyświetlane napisy. Gdyby było półprzezroczyste lub innego koloru napisy to myślę, że wszystko byłoby czytelniejsze.<br/>
Zajmuję się między innymi fotografowaniem. Z fragmentu który pokazałeś wnioskuję, że światło na poczcie było wystarczające. Przyczyna tkwi w kamerze a raczej w jej obsłudze. W kamerach i aparatach fotograficznych jest czujnik odpowiedzialny za pomiar światła. Często można wybrać tryb pomiaru np. TTL, 3DMatrix, centralnie ważony lub punktowy. W uproszczeniu: dopóki w kadrze byłeś Ty lub ściana poczty obraz był dobrze naświetlony czyli czytelny. Gdy w kadrze znalazł się dużo jaśniejszy element czyli okna, czujnik automatycznie wykonał kompensacje oświetlenia i dostosował najjaśnieszy punkt kadru tak aby był dobrze czytelny w światłach a nie w cieniach czyli prawidłowo zostało naświetlone okno. Jak sobie z tym poradzić? W aparatach typu lustrzanka jest przycisk którym można zablokować pomiar światła na wybranej jasności. Nie wiem jak jest w Twojej kamerze. Rada: w pomieszczeniach unikaj tego aby np. okno nie "wchodziło" Ci w kadr bo wtedy przyciemni się cała reszta pomieszczenia. Trzeba się inaczej ustawić w stosunku do okna. Możesz to sprawdzić w domu. Skieruj obiektyw kamery na okno a potem powoli przesuwaj kadr na resztę pomieszczenia, zobaczysz jak zaczyna się przyciemniać okno a rozjaśniać obraz pokoju. Identyczna sytuacja wystąpi gdy będziesz kręcił film pod słońce lub skierujesz obiektyw na żarówkę lub świecę. A dzisiejsze kamery są w stanie nakręcić czytelny film nawet przy świeczce.<br/>
Jeszcze jedno. Jeśli mnie pamięć nie myli to chyba powiedziałeś kiedyś żeby mówić Ci o Twoich błędach językowych, czy tak?<br/>
W powyższych wypowiedziach napisałeś "Nawet znam kilka amerykańskich artystów..." powinno być "Nawet znam kilku amerykańskich artystów...". Piszę o tym z sympatii bo przecież Twoja praca ma służyć nauce języków.<br/>
A filmik oczywiście mi się podobał, dzięki :)<br/>
Serdeczne pozdrowienia Ciebie i żony, z Łodzi.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4178">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Jacek Jarczewski (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4178">Thursday, February 28, 2013 - 19:35</a></span>
</div>
</div>
<a id="comment-4179"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/27eae8a38a2428f31827550e59d02617?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Ups, tak powinno być :)</p>
<p>Serdeczne pozdrowienia dla Ciebie i żony, z Łodzi.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/247/4179">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Jacek Jarczewski (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-na-poczcie-w-usa#comment-4179">Thursday, February 28, 2013 - 19:38</a></span>
</div>
</div>
</div>
