---
permalink: /blog/2013/02/vlog-grocery-shopping-in-the-usa/
layout: blog-old
title: 'Vlog: Grocery shopping in the USA!'
day: 5
month: Feb
year: 2013
category: USA
tags: 
  - 'shopping'
  - 'vlog'
language: en
translation: /blog/2013/02/vlog-zakupy-w-usa/
---
<div class="content">
<p><em>(If you're a subscriber and you didn't get an e-mail about this video, it's because you didn't selected "I'm interested in ... Life in the USA and American culture" or "I'm learning ... English" in your <a href="http://www.linguatrek.com/options">subscriber options</a>.)</em></p>
<p>As you requested in <a href="http://www.linguatrek.com/blog/2013/01/big-changes-to-my-blog-results-of-the-survey">the survey a couple weeks ago</a>, here is a video <em>in English</em> showing daily life in the USA.</p>
<p>You asked for less videos where I'm talking to the camera and more out in the world. So that's what we tried to do!</p>
<p><strong>Please let me know what you think of the video! Do you want more like this?</strong></p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/kX3Nc__0M3w?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/kX3Nc__0M3w?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p><em>(<a href="http://www.amara.org/en/videos/efRYnCKiSxcG/en/520589/#transcripts">Click here</a> to help work on the subtitles or translate them into another language!)</em></p>
<p><strong>Read more for a full transcript!</strong></p>
<h2><a name="transcript">Transcript</a></h2>
<ul>
<li>Hello!</li>
<li>David Snopek here</li>
<li>Doing a video today in English</li>
<li>I did a survey on my blog a couple of weeks ago</li>
<li>And it turns out that almost everybody wants me to record videos in English</li>
<li>So, today we're going to go shopping</li>
<li>One of the most requested videos is that I show things from daily life in the United States</li>
<li>And shopping</li>
<li>And the price of bread and eggs and different daily products</li>
<li>So, we're going to go shopping</li>
<li>Here's our list of things we're going to get</li>
<li>We're going to get some milk, bread, eggs and chedder cheese</li>
<li>So, the store we're going to doesn't charge for plastic bags</li>
<li>But they do give you a discount if you bring in your old plastic bags</li>
<li>We're just going to bring our own bag with us</li>
<li>I that in some states it's actually the law that they don't give you plastic bags</li>
<li>Or that they charge you money for plastic bags</li>
<li>When we were in Poland, I remember a couple of stores charging us for plastic bags</li>
<li>Anyway, we're bringing our own bag!</li>
<li>Alright, let's go!</li>
<li>Sweet!</li>
<li>So, here we are at the store</li>
<li>We're very lucky to live near such a big store</li>
<li>I personally don't really like big stores</li>
<li>Because there's too many products and I always get lost</li>
<li>But it's much cheaper</li>
<li>So that's why we come here</li>
<li>And that's why we're lucky to live so close</li>
<li>Ok, we got to go find the milk</li>
<li>Remember to check them</li>
<li>Oh, yeah, yeah, yeah</li>
<li>Yeah, the eggs are all good</li>
<li>So, these are the organic eggs that we like</li>
<li>They're probably the most expensive possible eggs</li>
<li>You can see some cheaper ...</li>
<li>So, people are always sending me emails, saying that the bread in the United States is terrible</li>
<li>And that the bread in Poland is so much better</li>
<li>We were in Poland for a while and we ate plenty of Polish bread</li>
<li>And it was very tasty</li>
<li>But I don't think all the bread in the United States is terrible</li>
<li>Some of this bread right here in this aisle is absolutely terrible</li>
<li>This is the cheapest bread that money could buy</li>
<li>And there is a whole row of it</li>
<li>However, we don't ever eat this bread!</li>
<li>We only eat the good bread</li>
<li>So, I definitely think it's possible to find good bread in the United States</li>
<li>Alright, we're back!</li>
<li>We have our products</li>
<li>I was kind of nervous filming that</li>
<li>I was worried they were going to kick us out</li>
<li>The last time we recorded in a grocery store, they kicked us out</li>
<li>But everything went great</li>
<li>Thanks so much for watching</li>
<li>Please let me know if you like this type of video</li>
<li>This is sort of new for me</li>
<li>Usually, I record my videos in Polish</li>
<li>Here's one in English, out in the world</li>
<li>So, let me know in the comments</li>
<li>Thank you, good bye!</li>
</ul>
</div>

<div id="comments">
<a id="comment-3747"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3edbd79488435a967ac0ab8896bff9de?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi David! I wanted to thank you that I could see this small video. I've never been to the USA yet, so thanks to that I was given a chance for seeing how the American supermarkets really look like.<br/>
Have a nice day!</p>
<p>Kasia</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3747">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kasia (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3747">Tuesday, February 5, 2013 - 10:59</a></span>
</div>
</div>
<div class="indented"><a id="comment-3750"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Kasia!</p>
<p>I'm really glad you liked it. :-) If enough people say they also liked it, I'll record more like this!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3750">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3750">Tuesday, February 5, 2013 - 11:01</a></span>
</div>
</div>
</div><a id="comment-3754"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f3a936115570c7384007d10c375d39cd?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hello David!<br/>
I like this video :) This is the best way to learn english.<br/>
Greetings from Poland!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3754">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Ania (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3754">Tuesday, February 5, 2013 - 11:23</a></span>
</div>
</div>
<div class="indented"><a id="comment-3759"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Ania!</p>
<p>I'm glad you liked it!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3759">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3759">Tuesday, February 5, 2013 - 11:42</a></span>
</div>
</div>
</div><a id="comment-3757"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/455f859f977249517d4dc1d734f7b5e2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi,<br/>
yes it's nice to see some piece of normal life in US. So I think it's a good idea :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3757">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Magdalena (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3757">Tuesday, February 5, 2013 - 11:40</a></span>
</div>
</div>
<div class="indented"><a id="comment-3758"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Magdelena!</p>
<p>Awesome, thanks!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3758">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3758">Tuesday, February 5, 2013 - 11:41</a></span>
</div>
</div>
</div><a id="comment-3762"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/11e704519cf165750e547149b5d26c87?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>This video is absolutely great.<br/>
We want more!! :D</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3762">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Maria (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3762">Tuesday, February 5, 2013 - 12:05</a></span>
</div>
</div>
<div class="indented"><a id="comment-3766"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Awesome, I'm glad to hear it! :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3766">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3766">Tuesday, February 5, 2013 - 12:06</a></span>
</div>
</div>
</div><a id="comment-3768"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/95bb692545f673e335828d128f0c1cb2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Absolutely great idea, David!</p>
<p>What sort of discount is it if you bring your own bags?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3768">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Sylwia (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3768">Tuesday, February 5, 2013 - 13:02</a></span>
</div>
</div>
<div class="indented"><a id="comment-3776"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Sylwia!</p>
<p>I'm glad you liked it!</p>
<p>It is a very small discount. :-) I think 5 cents?</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3776">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3776">Tuesday, February 5, 2013 - 14:08</a></span>
</div>
</div>
</div><a id="comment-3770"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e77cfb75560093420afb2a184320b7b4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Nice to see that you are so flexible. This is a market like every  other, so supply and demand. It's good to find new target group, as you have done...the ultimative language learners - without limit to just one foreign.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3770">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">2701 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3770">Tuesday, February 5, 2013 - 13:16</a></span>
</div>
</div>
<div class="indented"><a id="comment-3777"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Well, I want my work to actually be interesting and useful to someone, so I have to be flexible! I'm glad you guys shared your opinions with me about what you wanted - I can already see that's pretty popular. :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3777">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3777">Tuesday, February 5, 2013 - 14:10</a></span>
</div>
</div>
</div><a id="comment-3771"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/af507aabdd2f49fab21035ebc893f903?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>English version it's better than Polish. Also topic is pretty intersting, so you chose good way  : )</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3771">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kszegosz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3771">Tuesday, February 5, 2013 - 13:23</a></span>
</div>
</div>
<div class="indented"><a id="comment-3778"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3778">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3778">Tuesday, February 5, 2013 - 14:11</a></span>
</div>
</div>
</div><a id="comment-3773"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/70986e3c1e255d50689b2236bd30f979?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>It's so good see supermarket in USA. In the past I saw harcore koksu on the shopping in USA but you know it's not same. I was suprise when I saw normal eggs in this shop. In movies almost always eggs have white shell and cheddar cheese good choise I always use it to the white sauce in lasagne. </p>
<p>Please make more videos in English leanguage, thus I better understan English in conversations.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3773">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Pawel Cośtam (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3773">Tuesday, February 5, 2013 - 13:57</a></span>
</div>
</div>
<div class="indented"><a id="comment-3775"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Paweł!</p>
<p>Actually, most eggs in the supermarket are white. Those are the cheap eggs! :-) We buy the expensive organic eggs which are brown.</p>
<p>I'm glad you liked the video!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3775">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3775">Tuesday, February 5, 2013 - 14:07</a></span>
</div>
</div>
</div><a id="comment-3788"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/caa5e31f220a360df1234ba072633d94?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Finally. I'm glad your videos are in english. This is what I was expecting when I subscribed to your channel (not that your polish is bad or something. It's actually quite impressive:) ) Can't wait for the next video.<br/>
Cheers!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3788">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Rafal (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3788">Tuesday, February 5, 2013 - 15:12</a></span>
</div>
</div>
<div class="indented"><a id="comment-3808"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Rafał!</p>
<p>Thanks! I'm still trying to think of a good topic for the next video. :-)</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3808">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3808">Wednesday, February 6, 2013 - 13:23</a></span>
</div>
</div>
</div><a id="comment-3789"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/95bb692545f673e335828d128f0c1cb2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Why you wife didn't say anything?:)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3789">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Sylwia (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3789">Tuesday, February 5, 2013 - 15:13</a></span>
</div>
</div>
<div class="indented"><a id="comment-3809"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Sylwia!</p>
<p>Well, she said one sentence. :-) She reminded me to check the eggs. But she's always a little nervous about being in my films. We've done a number of audio recordings together on Bibliobird, which she is much more comfortable with.</p>
<p>Take care!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3809">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3809">Wednesday, February 6, 2013 - 13:25</a></span>
</div>
</div>
</div><a id="comment-3790"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/ba39e7ab83372f3c16ac3b9176a2e56c?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi David!</p>
<p>Thanks a lot. Watching your video I felt as I was there by myself. Snowy streets, the shop and your interesting narration. Very simple video, yet very nice and funny music for shopping action - like in a good movie :-).<br/>
Waiting for more.</p>
<p>Best regards,<br/>
Piotr</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3790">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Piogrystol (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3790">Tuesday, February 5, 2013 - 15:21</a></span>
</div>
</div>
<div class="indented"><a id="comment-3810"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Piotr!</p>
<p>I'm glad you liked it. :-) I'm very happy with how the walk to the store turned out. It's always a little difficult to do with other people on the street. ;-)</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3810">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3810">Wednesday, February 6, 2013 - 13:26</a></span>
</div>
</div>
</div><a id="comment-3794"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/ab19dfe9e80f1bbd9a9a40768441edcf?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi David,<br/>
I'm really glad to see movie about daily life in US in English. As somebody mentioned before, not because of your bad polish, it's really good. Subscribing for your blog I was expecting to see vlogs and posts in English, because I'm still learning this language. Currently I'm in foreign country and I have to use my English on a daily basis. Understanding English spoken by non native speaker is not easy but sometimes not a challenge either. Watching this video I could see whether I improved my English understanding or not. More videos like this and remember "pierwsze koty za płoty".</p>
<p>Cheers,<br/>
wolbashi</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3794">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">wolbashi (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3794">Tuesday, February 5, 2013 - 17:07</a></span>
</div>
</div>
<div class="indented"><a id="comment-3811"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Wolbashi!</p>
<p>Thanks. :-)</p>
<p>Well, there are plenty of articles in English! In fact, I only started writing my articles in Polish in April of last year. I do have maybe 5 other videos in English (on my blog at least, there are couple more on Bibliobird in our course <a href="https://pl.bibliobird.com/real-life-in-the-usa">Real Life in the USA</a>).</p>
<p>But for some reason they were never very popular compared to the ones in Polish! So, it was very discouraging to spend the time recording them and then have no one watch them. :-/ Anyway, I'm glad that now people are interested in them!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3811">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3811">Wednesday, February 6, 2013 - 13:30</a></span>
</div>
</div>
</div><a id="comment-3798"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/583a2eacb99c20124c0d110ffb767ad4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I want more!!!!! :D</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3798">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">holdenQ (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3798">Wednesday, February 6, 2013 - 03:51</a></span>
</div>
</div>
<div class="indented"><a id="comment-3812"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks! Oh, there'll be more, don't worry. :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3812">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3812">Wednesday, February 6, 2013 - 13:31</a></span>
</div>
</div>
</div><a id="comment-3801"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.idiomas247.com/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c82de4a7fde2212efec755ede63a2766?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>(Excuse me if my English is not very good) This is a everyday talk that shows impressions of a common day in a supermarket. That matter about plastic bags is something recent in my country (Spain). I find your blog really interesting because I like being aware of differences between cultures and countries. I put here a Spanish online course in case someone is interested in learning my language: <a href="http://www.idiomas247.com/en/online/free-spanish-courses" title="http://www.idiomas247.com/en/online/free-spanish-courses">http://www.idiomas247.com/en/online/free-spanish-courses</a></p>
<p>Thanx!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3801">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.idiomas247.com/" rel="nofollow">medicivalencia</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3801">Wednesday, February 6, 2013 - 08:55</a></span>
</div>
</div>
<div class="indented"><a id="comment-3813"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks! How does the situation with plastic bags in Spain look? I was in Spain once for a week, but I have no recollection of the bag situation. :-)</p>
<p>Thanks for the link!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3813">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3813">Wednesday, February 6, 2013 - 13:32</a></span>
</div>
</div>
<div class="indented"><a id="comment-3834"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.idiomas247.com/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c82de4a7fde2212efec755ede63a2766?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hi, David! Now in Spain it's starting to be compulsary to bring plastic bags to the supermarkets. It was something really sudden that started roughly two years ago. In case you want to purchase a plastic bag, you have to pay 2 cents or something like that.</p>
<p>Regards!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3834">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.idiomas247.com/" rel="nofollow">medicivalencia</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3834">Thursday, February 7, 2013 - 05:57</a></span>
</div>
</div>
</div></div><a id="comment-3802"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://dawnandsunrise.blogspot.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c360df8105b473e669ad7493cbaf8714?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>I like it! :) I haven't watched one of your vlogs before, and was very much surprised by your voice. If blogging ever fails you, then you have a fallback as a radio announcer.</p>
<p>I'm a segment #2 reader, but this was fun. Bring on the Polski!</p>
<p>-David Isenhower</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3802">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://dawnandsunrise.blogspot.com" rel="nofollow">David Isenhower</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3802">Wednesday, February 6, 2013 - 09:01</a></span>
</div>
</div>
<div class="indented"><a id="comment-3814"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi David!</p>
<p>Hehe, thanks. :-) Many years ago I did a weekly internet radio show for a while (maybe 2 years?). That was a lot of fun - but also a lot of work!</p>
<p>I'm thinking that my article next week will be something about Polish, but I haven't decided for sure yet.</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3814">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3814">Wednesday, February 6, 2013 - 13:33</a></span>
</div>
</div>
</div><a id="comment-3828"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/6d597f356d795b3336a6bb1de2d39081?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Nice :) please more video like that. It`s  good when you can see what you mean, not only talk, talk and talk. Therefore, your videos are so interesting :)</p>
<p>Regards,<br/>
Ania</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3828">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Ania (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3828">Wednesday, February 6, 2013 - 14:38</a></span>
</div>
</div>
<div class="indented"><a id="comment-3838"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks, Ania! I'm glad you liked it. Yeah, I can do more showing which is fun. :-) That usually leads to less talking but there is a balance.</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3838">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3838">Thursday, February 7, 2013 - 08:32</a></span>
</div>
</div>
</div><a id="comment-3830"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e60c2c08844b2496f5e7a71687a8e1a4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>David grate job! It's nice to see how it exactly look like in the USA.  I have only one remark - It would be great to hear your conversation with cashier. It would help us catch some key expressions/sentences used during the shopping. I know it could be little embarrassing - recording video while paying for the bill... Maybe hidden camera..? ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3830">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">jh (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3830">Wednesday, February 6, 2013 - 15:31</a></span>
</div>
</div>
<div class="indented"><a id="comment-3837"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks!</p>
<p>Heh, well, I don't think there was much of a conversation. :-) Just "Hello" and then they say the price and we give them the money. At least normally. Sometimes there's questions if something goes "wrong" - but that's about it.</p>
<p>Having a hidden camera would be awesome! That would solve so many problems. My camera is rather big - it looks like a super big cellphone.</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3837">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3837">Thursday, February 7, 2013 - 08:30</a></span>
</div>
</div>
</div><a id="comment-3853"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/b07de2a912fb7e880791839992685c12?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi, David!<br/>
This video is great! I think that see such kind of video is the good way to learn english,<br/>
Regards<br/>
Marek</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3853">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Marek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3853">Thursday, February 7, 2013 - 14:42</a></span>
</div>
</div>
<div class="indented"><a id="comment-3884"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Marek!</p>
<p>Thanks! I'm glad you liked it. There will be more like this one!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3884">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3884">Saturday, February 9, 2013 - 12:21</a></span>
</div>
</div>
</div><a id="comment-3860"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/7a47663fc8004092ce10fa21f51d12e7?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>wybacz David, ale musze to napisać: aleś te jajka obmacał :P hahahahaha dobre to było ;)</p>
<p>ok, let's be serious now! this video is great! but as I wrote in the survey - it's your blog, so keep writing and recording what YOU like. there're ppl who will read whatever you "leave" here, and don;t get upset if you don;t receive many comments, we do read and watch, but sometimes it's useless to repeat the very same "wow this is awesome"(or whatever) over and over again - at least I do like that, and this is my first post ;) It was great to hear your voice again (the 1st video I saw was about the gun in America). so anyway, I look forward to hear and watch more from you, no matter if it'll be in Polish or English). greetings for your lovely wife! cheers!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3860">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Gosia (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3860">Friday, February 8, 2013 - 08:33</a></span>
</div>
</div>
<div class="indented"><a id="comment-3885"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Gosia!</p>
<p>Thanks for your support and encouragement. :-)</p>
<p>It is about what I want to write/record, but I also don't really want to write or record things that people aren't interested in. So, it has got to be a balance!</p>
<p>In any case, I have lots of analytics too, so it's isn't just about comments. For me, one of the most important numbers is how many people click the link in the emails to subscribers.</p>
<p>For a comparison, it had been going down for a couple months and got as low as 5% for some articles I published just before the survey. It was really depressing me that 95% of the subscribers didn't care to actually read my articles! I was just annoying them. :-/</p>
<p>But after the survey, I can already see an improvement. The article about English tenses right after the survey got 53% (the highest ever!) in English and 19% in Polish. I'm really happy about that! :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3885">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3885">Saturday, February 9, 2013 - 12:34</a></span>
</div>
</div>
<div class="indented"><a id="comment-3952"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/7a47663fc8004092ce10fa21f51d12e7?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>hi again!</p>
<p>hey don't look at it that way. if you noticed that less ppl are clicking and  "reading" what you posted, it doesn't have to mean that the content is somehow boring - it may mean that ppl are just too busy to read it at the moment, and come back a bit later. e.g. I've bookmarked your blog, and don't click on the links in mails - I go to the blog using the bookmark when I have some free time. ok, some posts are of no interest to me - because I studied some aspects of American culture, but anyway, sometimes I do read them.</p>
<p>so keep posting as much as you can and are willing to ;) cheers!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3952">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Gosia (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3952">Wednesday, February 13, 2013 - 05:09</a></span>
</div>
</div>
</div></div><a id="comment-3903"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/186ed06a8ceea211ca02b2b888f07c49?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>David, at last in English :) This is gr8. First of all it was nice to see your neighborhood even as a short slide show ;) I can say by looking at your face you were totally stressed, but it was very good clip. I will ask you to talk much much more next time. It would be great to watch the clip and listen to the subject your talk about but also to treat this video as yet another comprehensive input. Also the best about it is that we have transcription so even when it was hard to me understand "the organic eggs that we like" I could read it and it's fantastic I can listen to native speaker and be sure that at the end of the day I will know what you said even if I was not able to catch it with my ears :) And also I would ask you to catch all voices in the background that you can understand when you listen to the clip. Like for example when you went into the shop there was an announcement - are you able to hear it and understand ? If you can, then would be fun to have it in transcription as well.<br/>
I hope my opinion gives you valid feedback, but first of all, I'm very glad to watch such video on your (b)vlog :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3903">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Marcin (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3903">Sunday, February 10, 2013 - 17:05</a></span>
</div>
</div>
<div class="indented"><a id="comment-3912"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Marcin!</p>
<p>Thanks for the feedback!</p>
<p>I'm glad you liked it. I *love* doing those "slide shows" when we're walking somewhere. I think that's the 3rd one I've done? It's definitely the longest. :-)</p>
<p>I think the announcement is saying "Derek to the front end" but it's pretty hard to hear.</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3912">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3912">Monday, February 11, 2013 - 10:25</a></span>
</div>
</div>
<div class="indented"><a id="comment-3916"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/186ed06a8ceea211ca02b2b888f07c49?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>A, you see. This is what I'm proposing, if you can hear it then please add it to transcription, if you can't then don't. This way I will know exactly when I should be able to understand something and when I should not bother at all. If native speaker did not understand it then I should not be sad if I can't :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3916">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Marcin (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3916">Monday, February 11, 2013 - 13:25</a></span>
</div>
</div>
</div></div><a id="comment-3946"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9eb9aa486e2b034bd6e0c6a1928de6e3?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi David<br/>
Thanks for this video. But it was minimal simply shopping. Such purchases senile just on half day (breakfast etc.) I look forward to this series of videos - daily life in the United States of America. Would be interesting to show the daily life(the average citizen - example Mr David S. get out of bed at 6 am like in movie "Groundhog day";)  ):  meals, commuting to work by public transport, shopping for week, cooking dinner after job etc. -<br/>
Do you eat with wife sometimes festive Polish style pork chop(schabowy?) dinners, pancakes, boiled potatoes? - (in fact on polish heritage)<br/>
I look forward to the continuation.  Films in English are good. Can enable subtitles in Polish is a big plus. I liked the music funny in the movie.</p>
<p>Drogie macie w stanch jajka (te eko). Jednak jajka z własnej przydomowej hodowli to dobra rzecz.<br/>
Zapewne są błędy w powyższym tekście więc z góry przepraszam.<br/>
Best regards pawel13<br/>
 ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3946">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">pawel13 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3946">Tuesday, February 12, 2013 - 14:20</a></span>
</div>
</div>
<div class="indented"><a id="comment-3949"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Paweł!</p>
<p>Thanks for the comment. :-) I'm glad you liked the video.</p>
<p>Yeah, it was minimal shopping for the purpose of recording the video. Thanks for the suggestion! We could make a mini-series about a day in one man's life. ;-)</p>
<p>So, Carrie and I are vegetarians now. In the past (before I was a vegetarian) I did try schabowy in Poland and I liked it very much.</p>
<p>Take care!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3949">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3949">Tuesday, February 12, 2013 - 16:46</a></span>
</div>
</div>
</div><a id="comment-3957"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4743d59abcf34b4bf5b690fabe11ea46?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi David, I liked the video, the length was perfect (not too long nor too short), good quality, nice music. I wish there had been more text about shopping in the USA (like the text about plastic bags, it was quite interesting). It was funny to hear your wife talking about checking the eggs (I do the same!). Looking forward to seeing more videos!<br/>
P.S. Regarding videos in Polish/English- what's your audience? If most of them are foreigners, I guess everybody would prefer to watch the movies in English as they want to learn/improve their English. Videos in Polish would be better for people who want to learn/improve their Polish. What do you think?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3957">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Maria (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3957">Thursday, February 14, 2013 - 08:13</a></span>
</div>
</div>
<div class="indented"><a id="comment-3961"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Maria!</p>
<p>Thanks, I'm glad you liked it. :-) BTW, 6min is my favorite video length as well. I'm always aiming for that although I frequently end up accidentally going longer. ;-)</p>
<p>As far who is my audience: I have (fortunately? unfortunately?) several audiences. I learned more about them recently on a recent survey which I wrote about in these articles:</p>
<p><a href="http://www.linguatrek.com/blog/2013/01/a-blog-in-crisis-what-should-i-write-about" title="http://www.linguatrek.com/blog/2013/01/a-blog-in-crisis-what-should-i-write-about">http://www.linguatrek.com/blog/2013/01/a-blog-in-crisis-what-should-i-wr...</a></p>
<p><a href="http://www.linguatrek.com/blog/2013/01/big-changes-to-my-blog-results-of-the-survey" title="http://www.linguatrek.com/blog/2013/01/big-changes-to-my-blog-results-of-the-survey">http://www.linguatrek.com/blog/2013/01/big-changes-to-my-blog-results-of...</a></p>
<p>I'm not sure my videos in Polish would actually help anyone learn Polish, because I'm not a native speaker. :-) Although, they'd probably be interesting to other learners. Those videos are mostly geared at Polish who may or may not be interested in learning English.</p>
<p>Take care!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/239/3961">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comment-3961">Thursday, February 14, 2013 - 09:34</a></span>
</div>
</div>
</div>
</div>
