---
permalink: /blog/2013/03/i-translated-all-the-words-but-i-still-dont-understand/
layout: blog-old
title: '"I translated all the words, but I still don''t understand!"'
day: 2
month: Apr
year: 2013
category: language learning
tags: 
  - 'mailbag'
language: en
translation: /blog/2013/03/przet%C5%82umaczy%C5%82em-wszystkie-s%C5%82owa-ale-nadal-nie-rozumiem/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2013/03/reading.jpg" rel="lightbox"><img alt="Girl reading" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2013/03/reading.jpg" title="Photo by Rachel Sian"/></a><div class="caption"><a href="http://www.flickr.com/photos/28658690@N00/274158994">Photo</a> by <a href="http://www.flickr.com/photos/rachelsian/">Rachel Sian</a></div></div>
<p>I learned Polish primary by <a href="http://www.linguatrek.com/blog/2010/12/harry-potter-the-book-that-taught-me-polish">reading and listening to Harry Potter</a>. When I encountered a word I didn't know, I looked it up in the dictionary and made a flashcard.</p>
<p>There's more to it, but that's the short version I usually put in my blog articles and videos. You can find the <em>whole story</em> in <a href="http://www.linguatrek.com/subscribe">my free ebook.</a></p>
<p><strong>Many other people have tried similar methods with other language and have also been successful!</strong></p>
<p>However, occasionally I get emails from people saying:</p>
<blockquote>
<p><em>I started reading Harry Potter in language X but your method doesn't work! I translated all the individual words but the sentence doesn't make logical sense and isn't understandable.</em></p>
</blockquote>
<p>(BTW, I've been trying to turn all the advice I regularly give over e-mail into articles on my blog, so I can just send links and <a href="http://www.linguatrek.com/blog/2012/03/email-problem-i-need-your-help">write fewer e-mails</a>.)</p>
<p><strong>Read more for my response!</strong></p>
<h2>First, know "why" you're doing this!</h2>
<p>If you're trying this method based ENTIRELY on the two sentences I write about it in my blog articles - <strong>go read <a href="http://www.linguatrek.com/subscribe">my free ebook</a> now!</strong></p>
<p>In my ebook, I explain the theory behind why this works AND how you can create a similar method for you and your needs.</p>
<p>I don't believe that there is only one correct language learning method. The best method for you will be specific to you and there are many factors:</p>
<ul>
<li>Your interests</li>
<li>Your goals</li>
<li>The level of your language skills</li>
<li>The level of your motivation</li>
<li>How well you deal with uncertainty</li>
<li>... and many more</li>
</ul>
<p><strong>My ebook will give you the all the tools you need to create the perfect method FOR YOU!</strong> <em>(And it takes 100 pages, not 2 sentences to do that...)</em></p>
<h2>Some sentences like this is OK</h2>
<p>Even when your language abilities are on an advanced level, there will occasionally be sentences that you don't fully understand, even though you know all the words.</p>
<ul>
<li>Maybe it contains a grammar structure you haven't fully mastered yet?</li>
<li>Maybe there is an idiom or slang word in there, which you don't know about?</li>
<li>Maybe it requires cultural knowledge that you don't have?</li>
<li>Maybe it isn't very clear and even a native speaker would be confused?</li>
</ul>
<p><strong>In any case, this will happen from time to time ... and it's OK!</strong></p>
<p><a href="http://www.linguatrek.com/blog/2012/03/do-i-need-to-understand-everything">You don't have to understand everything.</a> In real life, you can always ask for clarification. And when you're studying, the most important thing is that you learned <em>something new</em> and took one step towards your goal.</p>
<h2>But too many is not!</h2>
<p>If you're encountering very many sentences like this, it probably means that the <a href="http://www.linguatrek.com/blog/2012/07/is-this-bookmoviesong-too-hard-for-me">content you picked is too hard.</a></p>
<p><strong>Afterall, even if you aren't <a href="http://www.linguatrek.com/blog/2011/03/language-learning-is-more-like-karate-than-math">studying the grammar consciously</a>, you still need to learn it <em>step-by-step</em>, starting with the simplest structures.</strong></p>
<p>Like I wrote in my ebook: ideally, you want to find something <em>just above</em> your current level. If your motivation is really high, you can even tackle things <em>way above</em> your current level (like I did with Harry Potter).</p>
<p>However, if you don't understand so many sentences that it's bothering you and hurting your motivation, it's time to find something new!</p>
<p><strong>And remember: you don't have to read books!</strong></p>
<p>There are also movies, TV shows, podcasts, <a href="http://www.linguatrek.com/tags/language-exchange">language exchange</a>, etc. If content meant for native speakers is too hard, look for content created especially for learners! There are <a href="http://www.linguatrek.com/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-wspania%C5%82e-materia%C5%82y-dla-ucz%C4%85cych-si%C4%99-angielskiego">graded readers</a>, <a href="http://www.eslpod.com/">special podcasts</a>, <a href="http://www.cnn.com/studentnews/">news programs</a> and even <a href="http://www.youtube.com/watch?v=NcTQFu-V0vM">TV shows</a> with simplified language.</p>
<p>Sometimes it takes several tries to find the right content for you. Don't give up!</p>
<p><strong>Have you ever encountered a sentence where you knew all the words, but still didn't understand it? Write a comment below!</strong></p>
</div>

<div id="comments">
<a id="comment-4274"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://howlearnspanish.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/378451a8d6aab6e56c0caa50495bd976?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Agreed, love this method and I think Harry Potter is such an excellent choice/recommendation, though I would add the caveat that if you're a complete beginner then it's too difficult for you and you should probably try some children's books instead, that's what I tend to recommend to them.</p>
<p>Cheers,<br/>
Andrew</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/248/4274">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://howlearnspanish.com" rel="nofollow">Andrew</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/03/i-translated-all-the-words-but-i-still-dont-understand#comment-4274">Tuesday, March 12, 2013 - 14:12</a></span>
</div>
</div>
<div class="indented"><a id="comment-4353"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Andrew!</p>
<p>Thanks! Heh, you managed to comment during the short window when I accidentally published this article a month ago. :-) I just could find time to finish the Polish translation until now.</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/248/4353">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/03/i-translated-all-the-words-but-i-still-dont-understand#comment-4353">Tuesday, April 2, 2013 - 11:29</a></span>
</div>
</div>
<div class="indented"><a id="comment-4863"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.freepsychicreading.org" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/1f2cfaf28abbc611f92c334a197a86e2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hi there just wanted to give you a quick heads up.<br/>
The text in your post seem to be running off the screen in<br/>
Opera. I'm not sure if this is a formatting issue or something to do with internet browser compatibility but I thought I'd post to let you know.<br/>
The layout look great though! Hope you get the problem fixed soon.<br/>
Kudos</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/248/4863">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.freepsychicreading.org" rel="nofollow">Psychic Reading</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/03/i-translated-all-the-words-but-i-still-dont-understand#comment-4863">Saturday, June 22, 2013 - 02:09</a></span>
</div>
</div>
</div></div><a id="comment-4355"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d72861d7d8ff9539824b9f52c9a88c07?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi Andrew, Hi David,</p>
<p>the bigest problem to understand what you translated is meaning behind. I remember often about what happend in my workbook, what I had to use for my lessons in Krakow. I translated the sentence and didn't get the real meaning, because german an polish have a other structur. In same other cases it was a phrase what I didn't know (how shoud I!). Until December I have visited a polish course here in Gelsenkirchen / Germany, so I could ask my polish teacher. Then she told me about the meaning of the sentence or phrase.</p>
<p>Regards,<br/>
Olaf</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/248/4355">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Olaf (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/03/i-translated-all-the-words-but-i-still-dont-understand#comment-4355">Tuesday, April 2, 2013 - 12:42</a></span>
</div>
</div>
<div class="indented"><a id="comment-4394"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Olaf!</p>
<p>Yeah, it's great to have someone on hand to ask when you have problems.  That's why I'm so lucky to have this blog - I have a few thousand Polish experts I can ask for help when I have problems. ;-)</p>
<p>I wish you the best of luck with your German!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/248/4394">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/03/i-translated-all-the-words-but-i-still-dont-understand#comment-4394">Saturday, April 6, 2013 - 08:10</a></span>
</div>
</div>
</div><a id="comment-4356"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.everydaylanguagelearner.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9bef68ce232ae2405462c08f60c76e9a?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Great post David.  The note about reading difficulty is really important I think.  Finding the right level of reading is important.  You want to be challenged, but not bogged down.  You want to get drawn into the story, not into the dictionary.  And so the hard work comes in finding the right book - for you.  But once you find it . . . hang on!</p>
<p>Aaron</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/248/4356">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.everydaylanguagelearner.com" rel="nofollow">Aaron</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/03/i-translated-all-the-words-but-i-still-dont-understand#comment-4356">Tuesday, April 2, 2013 - 12:57</a></span>
</div>
</div>
<div class="indented"><a id="comment-4393"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Aaron!</p>
<p>Thanks! (And thanks for posting about this on Facebook too!)</p>
<p>Yeah, I think that's one of the most important points. When I get into this topic with people, it usually comes down to one of two things:</p>
<ol>
<li>Picking content that's too difficult. This really is hard and I try to encourage people to keep trying if the first choice wasn't right.</li>
<li>Not taking the time to really understand what I'm suggesting and just translating individual words and expecting magic to occur at some point. ;-) I vented about this a bit in a <a href="http://www.linguatrek.com/blog/2013/04/i-translated-all-the-words-but-i-still-dont-understand#comment-4388">comment below</a>.</li>
</ol>
<p>Take care!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/248/4393">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/03/i-translated-all-the-words-but-i-still-dont-understand#comment-4393">Saturday, April 6, 2013 - 08:08</a></span>
</div>
</div>
</div><a id="comment-4359"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.scoop.it/t/idiomas-educacion-traduccion-interpretacion/p/3999266427/i-translated-all-the-words-but-i-still-don-t-understand-linguatrek" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...]  "I translated all the words, but I still don't understand!" | LinguaTrek            From <a href="http://www.linguatrek.com" rel="nofollow" title="www.linguatrek.com">www.linguatrek.com</a> -  Today, 8:43 PM [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/248/4359">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.scoop.it/t/idiomas-educacion-traduccion-interpretacion/p/3999266427/i-translated-all-the-words-but-i-still-don-t-understand-linguatrek" rel="nofollow">&amp;amp;quot;I translated all the words, but I still don&amp;#039;t</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/03/i-translated-all-the-words-but-i-still-dont-understand#comment-4359">Tuesday, April 2, 2013 - 13:43</a></span>
</div>
</div>
<a id="comment-4362"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.englishfluencynow.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/be69740cdc332bf410bd0584d532af63?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hi David, </p>
<p>I too am using Harry Potter to help myself improve my French. I am just about finished with the first one. </p>
<p>I absolutely say that it would be too difficult for a beginning French student, but once you have achieved a certain level, then it is a great way to learn and improve vocabulary, grammar understanding, etc all in a very natural way. </p>
<p>Of course, anything that is of interest to the learner is the best, so Harry Potter may not be the ticket for everyone. </p>
<p>For example, I love skiing, so today I was really interested to tell my French language coach about my recent ski trip, and I realized I didn't have enough of the vocabulary words I wanted to use, so we started searching on sites to figure out some words to use and it was really fun - and I learned a bit about skiing in France. </p>
<p>I look forward to reading the ebook and checking out your site. </p>
<p>Got here via FB post by Aaron at The Everyday Language Learner. </p>
<p>Thanks.<br/>
Lisa</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/248/4362">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.englishfluencynow.com" rel="nofollow">Lisa</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/03/i-translated-all-the-words-but-i-still-dont-understand#comment-4362">Tuesday, April 2, 2013 - 14:08</a></span>
</div>
</div>
<div class="indented"><a id="comment-4392"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Lisa!</p>
<p>Glad Harry Potter's going so well for you! Ah, that's a great example about skiing. I've definitely had similar experiences with Polish.</p>
<p>Thanks for letting me know! I'll have to thank Aaron. :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/248/4392">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/03/i-translated-all-the-words-but-i-still-dont-understand#comment-4392">Saturday, April 6, 2013 - 08:03</a></span>
</div>
</div>
</div><a id="comment-4366"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/46fea550beec32f54394c1d40225d95d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Heh, tell me about difficult content. My book of choice was A Game of Thrones. At the time I started reading, about three months ago, I knew about ten polish words at best.<br/>
I know the content I picked is way above my level but maybe I'm too proud to give up because I'm still reading it with the same motivation. That and the awesome story :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/248/4366">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anna (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/03/i-translated-all-the-words-but-i-still-dont-understand#comment-4366">Tuesday, April 2, 2013 - 14:58</a></span>
</div>
</div>
<div class="indented"><a id="comment-4391"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Anna!</p>
<p>Heh, yeah, sometimes the story can be the best motivation. The best is where you stop thinking about the grammar/vocabulary/etc and are just dying to know what happens next!</p>
<p>Just be careful about burnout! Sometimes it can be fun to read something simple and short as break. You'll be able to see how far you've come and it'll feel awesome. :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/248/4391">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/03/i-translated-all-the-words-but-i-still-dont-understand#comment-4391">Saturday, April 6, 2013 - 08:02</a></span>
</div>
</div>
</div><a id="comment-4367"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/ec825e21d53535e9c2d34d5bd2b718e2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>For Romanian, a GREAT first book is Habarnam.  It has 30 several page chapters.  It was written by a Russian but translated into Romanian.  It has an English translation easily found as a pdf.</p>
<p>There is a second volume in Romanian but not in English, but after working through the first Habarnam book, you won't need the English anymore.  There is also a third volume, but Russian only.</p>
<p>A group in Romania has recorded the first two volumes (around 9 hours of audio) in a project for blind children.  The text and recordings (in Romanian) can be freely downloaded from their site <a href="http://gramo.ro/habarnam/" title="http://gramo.ro/habarnam/">http://gramo.ro/habarnam/</a>. The site is in Romanian, but beginners can easily navigate it by having Google translate the page.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/248/4367">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Pete (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/03/i-translated-all-the-words-but-i-still-dont-understand#comment-4367">Tuesday, April 2, 2013 - 15:12</a></span>
</div>
</div>
<div class="indented"><a id="comment-4390"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Pete!</p>
<p>That's awesome! Thanks so much for sharing. I don't know how many people here are learning Romanian but I'm sure they'd find that super useful.</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/248/4390">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/03/i-translated-all-the-words-but-i-still-dont-understand#comment-4390">Saturday, April 6, 2013 - 08:00</a></span>
</div>
</div>
</div><a id="comment-4382"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/252eb902c738144999c74d35083861e5?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi David,</p>
<p>Very interesting post. I realized something when studying English: TV shows with a "learned" (or scholarly) language were much easier to understand, from a foreign viewpoint. They're more literal, and almost don't use slangs. I practiced with House, M.D. show, and this gave me confidence in listening. TV shows like "Friends" or "How I Met Your Mother" are much more difficult to understand (again, from a foreign viewpoint).</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/248/4382">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Vinícius Albuquerque (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/03/i-translated-all-the-words-but-i-still-dont-understand#comment-4382">Wednesday, April 3, 2013 - 14:26</a></span>
</div>
</div>
<div class="indented"><a id="comment-4389"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Vinicius,</p>
<p>Thanks! Yeah, I think you're right. TV shows like "Friends" might have less sophisticated language (than a scholarly program) but they also use slang/idioms and make reference to aspects of culture that you probably wouldn't know unless you lived in the country.</p>
<p>I've had similar experiences with Polish! Understanding jokes in movies and TV shows is super hard for me. But I can watch a lecture on Polish history just fine. ;-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/248/4389">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/03/i-translated-all-the-words-but-i-still-dont-understand#comment-4389">Saturday, April 6, 2013 - 07:58</a></span>
</div>
</div>
<div class="indented"><a id="comment-4398"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="https://tomasz.jadowski.net" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3cdbaa2914c95444fc7968fe42ddfa2b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hi David,</p>
<p>Yes, jokes, current hot topics and cultural aspects (idioms based on it etc.) are the hardest thing in foreign language in my opinion. I have a personal grade for this - a Woody Allen's Stand-up on CD :-)</p>
<p>When I completely understand without hesitation all Allen's jokes (listen to again after long time with blank memory), I'll be a nearly level of native in my grade :-)</p>
<p>Best,<br/>
Tom</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/248/4398">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="https://tomasz.jadowski.net" rel="nofollow">Tomek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/03/i-translated-all-the-words-but-i-still-dont-understand#comment-4398">Saturday, April 6, 2013 - 08:21</a></span>
</div>
</div>
<a id="comment-4405"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/252eb902c738144999c74d35083861e5?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Yeah, David. That's why I'm moving on to these shows. I'm watching some sitcoms and talk shows now. But now I already understand the sound of the words, and it give me an idea of what's the actor talking about. In the worst-case scenario, I can google the word.</p>
<p>Thanks for the reply. I always come back to see your comments. I learn a lot from them.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/248/4405">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Vinícius Albuquerque (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/03/i-translated-all-the-words-but-i-still-dont-understand#comment-4405">Saturday, April 6, 2013 - 08:40</a></span>
</div>
</div>
</div></div><a id="comment-4385"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://leszekslanguages.blogspot.se/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c0140d79c3c793c14a8e4f2fc374b1c6?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>I'm learning Hungarian and answer on your question is yes.<br/>
Actually Hungarian is one of those languages that you can't understand just by translating every word...grammar is so complicated.<br/>
I tried the same with other languages and it worked sometimes, but not with Hungarian and sometimes it makes me frustrated because even when I get the translation of the word I don't have it in normal form.So I don't know what particular ending mean...really complicated stuff.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/248/4385">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://leszekslanguages.blogspot.se/" rel="nofollow">Lestry</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/03/i-translated-all-the-words-but-i-still-dont-understand#comment-4385">Thursday, April 4, 2013 - 23:16</a></span>
</div>
</div>
<div class="indented"><a id="comment-4388"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Lestry!</p>
<p>Thanks for your comment. Yeah, I've heard some really interesting things about Hungarian grammar. It sounds like a challenging and FUN language to learn. :-)</p>
<p>So, there something I'd really like to clearify, and I was trying to do it with this article but apparently I didn't do a very good job. This isn't directed only at you, Lestry, so don't worry! I just need to vent and your comment has brought this to my mind...</p>
<p><strong>Point #1: I never said that you shouldn't learn grammar!</strong></p>
<p>In my ebook and my articles on the topic I'm trying to make a few big points about grammar:</p>
<ul>
<li>We shouldn't start learning a language with the grammar on day 1 or try to learn all the grammar before moving on to real language ("real" meaning it's useful/meaningful to you - not that it's meant for native speakers).</li>
<li>The grammar we focus on should come from the real language we are exposed to - not like in a language course where the language comes from the grammar structure of the day.</li>
<li>We should be spending 95% of the time with the real language, and 5% with grammar - as opposed to the the reverse in most textbooks and course.</li>
<li>No matter how well you know the rules of grammar, it's lots of experience with the language that will "teach" you the grammar in the end.</li>
<li>Knowing grammar can be useful! Just for fewer things than most people think it is.</li>
</ul>
<p>Obviously in the course of learning Polish, I learned many grammar rules and did some grammar exercises and so on. But that was a minor activity and not the thing that eventually allowed me to experience a breakthrough in my language ability.</p>
<p><strong>Point #2: Nor did I say that translating every word in a sentence would magically allow you to understand it.</strong></p>
<p>In my ebook I proposed a schema for language learning methods that I believe is very effective:</p>
<ol>
<li>Find interesting content in the language (of course, at the appropriate level for your current skills and motivation)</li>
<li>Find a way to understand it (translating each word my favorite method but it's not the ONLY method! In my ebook, I propose several. And obviously, checking a grammar book can be a part of this)</li>
<li>Find a way to review what you've learned (my favorite method is flashcards - but several others are proposed in my ebook as well)</li>
</ol>
<p>So, I was never suggesting that everyone should be translating individual words and then magic will happen! Firstly, it's part of an overall process and, secondly, it's not the only option - different techniques work better for different people.</p>
<p>I feel like I've explained this very well in my ebook, but for some reason I still get e-mails and comments where people believe that I'm recommending something that I'm not.</p>
<p>Anyway, sorry for posting this in reply to your comment, Lestry! It's not about you. This is a constant frustration of mine and I just needed to vent. ;-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/248/4388">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/03/i-translated-all-the-words-but-i-still-dont-understand#comment-4388">Saturday, April 6, 2013 - 07:56</a></span>
</div>
</div>
</div><a id="comment-4431"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/b5f16f9334936ff8341a474d651d481b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Do you share our belief that the world would be a much more connected and empathetic place if everyone would speak one or more foreign languages fluently?<br/>
Then please support us by taking five minutes to answer this short survey about your personal experiences with language learning. ---&gt; <a href="http://fluidsurveys.com/s/getbabbo/">Survey</a> </p>
<p>We are Dimitri and David, two language learners who find that learning a language is harder than it need be. We identified a number of problems with learning languages (be it in school, language classes or studying online) and would like to learn your view on them.</p>
<p>Together we can find out what needs to be done to make language learning easier and more effective.</p>
<p>Among all participants we will give away five €20 Amazon.com coupons.</p>
<p>If you would like to get in touch drop us a line: <a href="mailto:getbabbo@gmail.com">getbabbo@gmail.com</a></p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/248/4431">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Babbo (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/03/i-translated-all-the-words-but-i-still-dont-understand#comment-4431">Monday, April 8, 2013 - 10:35</a></span>
</div>
</div>
<a id="comment-4433"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.idiomas247.com/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c82de4a7fde2212efec755ede63a2766?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Obviously each language has its own structure and its own way of express a vision. That's the reason why by learning a new language you acquire a new form of understand the reality :D</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/248/4433">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.idiomas247.com/" rel="nofollow">idiomatico</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/03/i-translated-all-the-words-but-i-still-dont-understand#comment-4433">Tuesday, April 9, 2013 - 07:44</a></span>
</div>
</div>
<a id="comment-4494"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.languageapproach.net/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e033228f024a95c9ebefafbb660bbdbd?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>I'd never thought of reading a book in another language to learn that language! That's such a great idea! It is a bit hard, though, to get all of the context and sentence structure learned, like you said. It certainly requires other studying, other than reading the book.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/248/4494">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.languageapproach.net/" rel="nofollow">Chris</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/03/i-translated-all-the-words-but-i-still-dont-understand#comment-4494">Thursday, May 2, 2013 - 11:44</a></span>
</div>
</div>
<a id="comment-4496"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://languagehackingguide.info" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4a40264c4d2868b14d6d51fb178c2310?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>I think it would be easier for me to use movies and tv to learn than to read a book.  Or maybe start with younger children's books.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/248/4496">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://languagehackingguide.info" rel="nofollow">Marek B</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/03/i-translated-all-the-words-but-i-still-dont-understand#comment-4496">Saturday, May 4, 2013 - 08:49</a></span>
</div>
</div>
<a id="comment-4497"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://talklikeanativereview.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/7ca2db56a2adbb31043c6cff25479772?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>I love sports and as a result a lot of my reading is online sport websites.  A lot of smaller clubs do not tend to have an English version so I try to read it first and if I struggle with any words then use the translate facility.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/248/4497">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://talklikeanativereview.com" rel="nofollow">Roberto</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/03/i-translated-all-the-words-but-i-still-dont-understand#comment-4497">Monday, May 6, 2013 - 02:19</a></span>
</div>
</div>
<a id="comment-4508"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://studyonlinefrench.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/cd75f9f6524c12298eade2d10e555682?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>"I translated all the words but I still don't understand!" </p>
<p>I'm learning Turkish and I get this problem regularly. There's so many parts of the language where a direct translation just doesn't work; the logic of the grammar is totally different to English and Latin based languages. Plus the same word, or word construction, can have totally different meanings.</p>
<p>Here's an example</p>
<p>"içme suyu"</p>
<p>Which means "drinking water". Fine, you might think. Except it also means "don't drink the water"! So the same 2 words can have totally opposite meanings, you can only get the real meaning from the wider context.</p>
<p>Great fun!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/248/4508">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://studyonlinefrench.com" rel="nofollow">Ray</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/03/i-translated-all-the-words-but-i-still-dont-understand#comment-4508">Friday, May 10, 2013 - 09:10</a></span>
</div>
</div>
<a id="comment-4516"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/14d0439c633cc80c01087151dce5e866?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hey, i love the methodology behind this method it makes alot of sense. I have learned Esperanto this way fairly quickly without realising i was using this method! However now i am learning korean and i cant find any audiobooks for my favorite novels. I can barely even find any intresting authentic korean audiobooks. Recently i bought a TTS(Text-To-Speech) software called SVOX(for my andriod phone) and suposidly the voices are suposed to sound natural soundning. I listened to the english voices and besides the roboty-rise and falls of words it never fails tp spew out the correct prononciation. I also listened to the korean version and it sounds pretty natural(to me) however it reads text with weird and abrupt haults and im wondering whether or not i should use it? Do you think it would be okay to use if i cant find any audiobooks? How do you think this would effect my progress? Thanks in advance.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/248/4516">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kira (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/03/i-translated-all-the-words-but-i-still-dont-understand#comment-4516">Tuesday, May 14, 2013 - 19:44</a></span>
</div>
</div>
<div class="indented"><a id="comment-4846"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Kira!</p>
<p>Sorry for the super late response... I'd say TTS is probably better than nothing, but I wouldn't recommend it unless it was the ONLY option. Besides books, there's also movies + subtitles, or podcasts + transcripts, where you can get authentic audio. I'd definitely try that first!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/248/4846">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/03/i-translated-all-the-words-but-i-still-dont-understand#comment-4846">Monday, June 10, 2013 - 09:13</a></span>
</div>
</div>
</div><a id="comment-4522"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/7a1b8d2f6271efaed1439f601217802f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Very interesting stuff from what I've read on your blog,<br/>
and I must say that I can't agree with your methods any more.<br/>
In fact, most of my writing skills in English come from the Harry<br/>
Potter book series when I read them as an 8-year old. Even though English is my native language, seeing these sentences so many times, Something I will always regard as remarkable happened. Things just simply "sounded right." It's hard to explain. It is almost exactly what you explained when learning Polish. I just have one crucial question to ask,<br/>
At what point did things begin to "sound right" or "feel right"<br/>
when you would say or write them?<br/>
In other words, how many pages or entire books did you have to read where you knew by instinct the construction of a sentence (almost any sentence)?<br/>
Oh, by the way, I lied, I have another question,<br/>
Are you going to try a second language using the same method, if so, which language?<br/>
Thank You,<br/>
you have just confirmed a method I wanted to try out because of my success in learning English by reading, A LOT.....<br/>
  XenoLingvo</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/248/4522">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">XenoLingvo (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/03/i-translated-all-the-words-but-i-still-dont-understand#comment-4522">Friday, May 17, 2013 - 03:33</a></span>
</div>
</div>
<div class="indented"><a id="comment-4847"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi XenoLingvo!</p>
<p>It's hard to say exactly when things started to sound right, but sometime around when I finished the first book and started the second one. Of course, it improved a lot with time, but that's probably when it began..</p>
<p>Yeah, I do plan to learn another language! But I'm not sure which or when. I keep thinking that Spanish would be a very practical language to learn, but it just doesn't excite me that much. Both Turkish and Egyptian Arabic seem really exciting to me! But I haven't decided yet.  ;-)</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/248/4847">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/03/i-translated-all-the-words-but-i-still-dont-understand#comment-4847">Monday, June 10, 2013 - 09:18</a></span>
</div>
</div>
<div class="indented"><a id="comment-4903"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.studyonlinefrench.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/cd75f9f6524c12298eade2d10e555682?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hi David</p>
<p>I would recommend Turkish if you're looking for a challenge, I'm certainly finding it challenging! The grammatical structure and logic are totally different to the standard Latin or Slavic based European languages. It's a great mind exercise.</p>
<p>Regards</p>
<p>Ray</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/248/4903">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.studyonlinefrench.com" rel="nofollow">Ray</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/03/i-translated-all-the-words-but-i-still-dont-understand#comment-4903">Sunday, July 7, 2013 - 07:30</a></span>
</div>
</div>
</div></div><a id="comment-4857"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://courses.bindas-bol.com/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/2d7aada6f9a233e1f1f01773b3aaa6df?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hello,</p>
<p>I agree with you that for learning language Interest, Goal and Motivation is required. Without these no one can learn Frech , German, Spanish or any language.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/248/4857">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://courses.bindas-bol.com/" rel="nofollow">Bindas Bol</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/03/i-translated-all-the-words-but-i-still-dont-understand#comment-4857">Tuesday, June 18, 2013 - 07:34</a></span>
</div>
</div>
</div>
