---
permalink: /blog/2012/12/dlaczego-moja-motywacja-zawiodła-i-jak-możesz-uniknąć-tej-samej-pułapki/
layout: blog-old
title: 'Dlaczego moja motywacja zawiodła (i jak możesz uniknąć tej samej pułapki!)'
day: 4
month: Dec
year: 2012
category: language learning
tags: 
  - 'motivation'
language: en
translation: /blog/2012/12/dlaczego-moja-motywacja-zawiod%C5%82a-i-jak-mo%C5%BCesz-unikn%C4%85%C4%87-tej-samej-pu%C5%82apki/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/12/failure.jpg" rel="lightbox"><img alt="Statua z głową w rękach" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/12/failure.jpg" title="Zdjęcie autorstwa Alex Proimos"/></a><div class="caption"><a href="http://www.flickr.com/photos/34120957@N04/4199675334">Zdjęcie</a> autorstwa <a href="http://www.flickr.com/photos/proimos/">Alex Proimos</a></div></div>
<p>Motywacja najprawdopodobniej jest najważniejszym składnikiem skutecznej nauki języka.</p>
<p>Często dostaję komentarze pod moimi artykułami i filmikami pochwalające moją wytrwałość i motywację w nauce polskiego. Ale nawet ja czasami mam problemy z motywacją!</p>
<p><strong>Nie lubię ponosić porażki. Nikt tego nie lubi! Zwłaszcza publicznie. :-)</strong></p>
<p>Jednak czasem więcej nas uczą porażki innych niż ich sukcesy. Łatwo jest myśleć, że ktoś odniósł sukces bo jest "wyjątkowy" lub ma wrodzony talent. Również ważne jest zobaczenie porażki!</p>
<p>To dlatego podzielę się z Wami osobistą historią o tym, jak moja motywacja zawiodła - całkiem niedawno, kilka tygodni temu.</p>
<p><strong>Czytaj więcej, żeby dowiedzieć się jak możesz uniknąć tej samej pułapki i odnowić swoją motywację!</strong></p>
<h2>Moja porażka</h2>
<p>Kilka tygodni temu zaproponowałem <a href="http://www.linguatrek.com/blog/2012/10/czytajmy-w-obcym-j%C4%99zyku-projekt-grupowy">grupowy projekt czytania</a> na moim blogu.</p>
<p>Moim celem było spędzanie 1 godziny na czytaniu i słuchaniu <a href="http://pl.wikipedia.org/wiki/Cylinder_van_Troffa"><em>Cylindra van Troffa</em></a> po polsku przez 4 tygodnie.</p>
<p>Szło całkiem dobrze! Książka było interesująca. Była na dobrym poziomie: nie za trudna, ale z mnóstwem nowych słów.</p>
<p>Trzymałem się planu około 6 dni... Potem zacząłem mieć problemy. Niczego nie robiłem przez 3 dni, następnie powróciłem do planu na parę dni. Znowu pominąłem kilka dni.</p>
<p><strong>Około dwóch tygodni po starcie w ogóle przestałem czytać.</strong></p>
<h2>Co się stało?</h2>
<p>Naprawdę zdałem sobie sprawę z tego, co się stało, dopiero kiedy słuchałem 
<a href="http://www.linguatrek.com/blog/2012/11/wys%C5%82uchajcie-mojego-darmowego-audiobooka-o-nauce-j%C4%99zyk%C3%B3w">audiobooka mojego ebooka</a>. <a href="http://unfamusic.com/">Tobiasz</a>, który go stworzył, właśnie przesłał mi MP3 i byłem bardzo podekscytowany, żeby wreszcie go wysłuchać.</p>
<p>W rozdziale na temat <a href="http://www.linguatrek.com/blog/2012/04/ustalenie-dziennego-planu-nauki-j%C4%99zyka-fragment-e-booka">ustalenia dziennego planu nauki</a>, Tobiasz czytał:</p>
<blockquote>
<p>Jeżeli jeszcze nie masz dziennego planu nauki, nie bądź zbyt ambitny! Wielu ludzi popełnia błąd, tworząc na początku zbyt intensywny dzienny plan nauki; na przykład, jedna lub dwie godziny w ciągu dnia.
</p>
<p>Upewnienie się, że nie wypalisz się podczas nauki języka jest niezwykle ważne. Jeśli zaczniesz od skromniejszego planu i powoli będziesz go rozszerzać, dramatycznie zmniejszysz szanse na to, że się wypalisz lub poddasz się.</p>
</blockquote>
<p>Kiedy najpierw ustaliłem mój dzienny plan myślałem, że to nie dotyczyło mnie: <em>"Oczywiście dam sobie radę z godziną dziennie - w przeszłości uczyłem się DWIE godziny dziennie!"</em></p>
<p><strong>Jednak od miesięcy nie uczyłem się polskiego regularnie! Chociaż ten plan nie sprawiłby mi problemów w przeszłości, był zbyt ambitny dla mnie teraz.</strong></p>
<p>Nie śledziłem swoich porad i się wypaliłem!</p>
<h2>Odnów swoją motywację!</h2>
<p> Chociaż prawdopodobnie będziesz doświadczał wielu małych porażek podczas swojej przygody z językiem, jedyny sposób, żeby nie nauczyć się języka w końcu to poddać się.</p>
<p>To nie jest ważne, że poniosłeś porażkę - tylko to, że zdecydowałeś się spróbować jeszcze raz po porażce. I miejmy nadzieję, że tym razem będziesz trochę mądrzejszy. :-)</p>
<p>Spróbuję znowu przeczytać <em>Cylinder van Troffa</em>. Ale tym razem ze skromniejszym planem: 15 minut dziennie. Zawsze mogę to zwiększyć później.</p>
<p>Jeśli Ty miałeś podobne doświadczenie, nie poddawaj się! Przeanalizuj to, co się stało, i spróbuj jeszcze raz!</p>
<p><strong>Czy Twoja motywacja kiedykolwiek Cię zawiodła? Proszę podziel się swoją historią w komentarzach! Pokażmy wszystkim, że nie są sami!</strong></p>
</div>

<div id="comments">
<a id="comment-3282"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/0b4a579b7bbe29d0641acca1317ae792?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Nie zapominaj o przyjemnościach!</p>
<p>Nauka nie powinna kojarzyć się z utrapieniem, przymusem lub z jakimkolwiek batem nad głową, ale systematyczność jest ważna. 15 minut dziennie to świetny plan. Nie stanie się nic złego, jeżeli po skończonym treningu okaże się, że "bawiłeś" się świetnie przez 30 minut. Radość z samego wykonywania czynności, która sprawia nam jakąś przyjemność jest świetnym motorem motywacyjnym do wykonywania jej dłużej i częściej. Nie ma co się katować sztywnym planem postępów. Jeżeli nie nadążysz i nie wykonasz planu, będziesz się źle z tym czuł i możesz stracić wiarę w siebie, swoje możliwości i motywację do dalszego działania. Jeżeli zabawa z językiem obcym sprawia Ci przyjemność, to kiedy po 15 minutach zadzwoni dzwonek na koniec lekcji, nie raz zajęczysz "Łeee już koniec?"</p>
<p>Pozdrawiam</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/223/3282">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">kkorpik (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/12/dlaczego-moja-motywacja-zawiod%C5%82a-i-jak-mo%C5%BCesz-unikn%C4%85%C4%87-tej-samej-pu%C5%82apki#comment-3282">Tuesday, December 4, 2012 - 12:39</a></span>
</div>
</div>
<div class="indented"><a id="comment-3286"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://pepkin88.me/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/dc0ee67be0257e746479b188f9b01fac?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Dokładnie o tym mówił Damian Redmer w swoim ostatnim filmiku (możliwe, że autor posta go widział):<br/>
<a href="http://www.youtube.com/watch?v=bN9koJWcCfk" title="http://www.youtube.com/watch?v=bN9koJWcCfk">http://www.youtube.com/watch?v=bN9koJWcCfk</a></p>
<p>Polecam obejrzeć.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/223/3286">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://pepkin88.me/" rel="nofollow">pepkin88</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/12/dlaczego-moja-motywacja-zawiod%C5%82a-i-jak-mo%C5%BCesz-unikn%C4%85%C4%87-tej-samej-pu%C5%82apki#comment-3286">Tuesday, December 4, 2012 - 17:47</a></span>
</div>
</div>
<div class="indented"><a id="comment-3309"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/581f8a15be165ff009c810368d130ac4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>A ja proponuję wyobrazić sobie sytuację, gdy macie za dwa miesiące maturę rozszerzoną z angielskiego i rozpoczniecie naukę bez planu, za to z podaną na filmie wewnętrzną motywacją na zabawę z angielskim. Jest bardzo prawdopodobne, że owszem nauczycie się więcej, ale nie tego co potrzeba. </p>
<p>Przetestowałem to wielokrotnie w przypadku przedmiotów ścisłych, gdzie wewnętrznie motywowany obszar wiedzy własnej rozrasta się przepięknie, tyle że nie w kierunku przerabianego programu. Co z tego, że będę znał termodynamikę na poziomie Feynmanna, gdy uwalę egzamin z fizyki relatywistycznej? </p>
<p>Jeszcze wyraźniej ta sytuacja będzie widoczna gdy trzeba się przygotować do znajomości angielskiego o określonej, wąskiej tematyce w sytuacji określonego terminu. Gdy dodamy do tego ograniczenie czasowe, przykładowo 30 minut dziennie, to pojawi się konieczność nie tylko separacji materiału do nauki, ale dokładne określenie czasu i zmotywowanie się lub zmuszenie do nauki, gdy zalewa fala zmęczenia i z wewnętrznej motywacji omawianej na filmie zostaje zero. </p>
<p>Odnosząc się do konieczności szybkiego czytanie wymaganego przez zawód, szkołę, nauka frywolna, zabawowa, bez określenia etapów i końcowych rezultatów, nie koniecznie przyniesie żądany, powtarzam - żądany, rezultat. </p>
<p>Filmik jest więc prawdziwy w określonych okolicznościach dla realizacji niektórych celów. W innych nie sprawdzi się. Fakt ten proponuję zakonotować, zamiast bezkrytycznie stosować u siebie rozwiązania proponowane przez osoby niezorientowane w naszej sytuacji. </p>
<p>Pozdrawiam</p>
<p>Arek</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/223/3309">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Arek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/12/dlaczego-moja-motywacja-zawiod%C5%82a-i-jak-mo%C5%BCesz-unikn%C4%85%C4%87-tej-samej-pu%C5%82apki#comment-3309">Sunday, December 9, 2012 - 11:12</a></span>
</div>
</div>
<div class="indented"><a id="comment-3310"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://pepkin88.me/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/dc0ee67be0257e746479b188f9b01fac?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Przecież w filmiku autor wyraźnie zaznacza, że jest to jedna z metod motywowania siebie, że w niektórych sytuacjach metoda kija i marchewki przynosi lepsze efekty.<br/>
A tutaj chodzi przecież o motywowanie siebie do nauki języka, której nikt nam nie zlecił, zatem filmik bardzo pasuje.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/223/3310">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://pepkin88.me/" rel="nofollow">pepkin88</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/12/dlaczego-moja-motywacja-zawiod%C5%82a-i-jak-mo%C5%BCesz-unikn%C4%85%C4%87-tej-samej-pu%C5%82apki#comment-3310">Sunday, December 9, 2012 - 12:44</a></span>
</div>
</div>
</div></div></div><a id="comment-3283"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/bbeaf6884c64bdd31b684d1360d9f9d6?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Motywacja jest chyba najtrudniesza!<br/>
Setki razy za coś się zabierałam i nie dotrzymywałam słowa sama przed sobą- to frustrujące uczucie. Potem tracimy wiarę w siebie, przestajemy powoli wierzyć że jesteśmy w stanie coś osiągnąć.<br/>
Takie słowa kiedyś zapadły mi w pamięć:)</p>
<p>"Gdybym miał 8 godzin na ścięcie drzewa, spędziłbym sześć na ostrzeniu siekiery"</p>
<p>Abraham Lincoln</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/223/3283">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Jola (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/12/dlaczego-moja-motywacja-zawiod%C5%82a-i-jak-mo%C5%BCesz-unikn%C4%85%C4%87-tej-samej-pu%C5%82apki#comment-3283">Tuesday, December 4, 2012 - 13:49</a></span>
</div>
</div>
<div class="indented"><a id="comment-3285"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/596bbe0b42829c829b4b4c5879dc183c?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Lincoln raczej miał na myśli to, że przy dużym zasobie czasu <em>większość poświęcamy na przygotowania</em>.</p>
<p>Tutaj powinna być stosowana zasada <strong>małych kroczków</strong> - przy takich trudniej się wyłożyć (i zmęczyć przy okazji) niż przy wielkich susach :)</p>
<p>Teraz się bardziej zmotywowałem do dalszej nauki.<br/>
Dzięki za wpis David :D</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/223/3285">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Mariusz z NadMorza (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/12/dlaczego-moja-motywacja-zawiod%C5%82a-i-jak-mo%C5%BCesz-unikn%C4%85%C4%87-tej-samej-pu%C5%82apki#comment-3285">Tuesday, December 4, 2012 - 16:19</a></span>
</div>
</div>
<a id="comment-3308"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/581f8a15be165ff009c810368d130ac4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Kwintesencja prokrastynacji czyli zwlekania. </p>
<p>Nic dodać, nic ująć...</p>
<p>Pozdrawiam</p>
<p>Arek</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/223/3308">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Arek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/12/dlaczego-moja-motywacja-zawiod%C5%82a-i-jak-mo%C5%BCesz-unikn%C4%85%C4%87-tej-samej-pu%C5%82apki#comment-3308">Sunday, December 9, 2012 - 10:31</a></span>
</div>
</div>
</div><a id="comment-3284"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/233e923f547c899e5aa8013d94146f26?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Miewam czasami podobne problemy. Zauważyłem, że największą motywacje mam na początku. Na przykład jeśli chodzi o książki, to przed zakupem sprawdzam opinie, szukam najciekawszej, zamawiam. Po zamówieniu nie mogę się doczekać dostawy, w międzyczasie oglądam parę razy książkę w e-księgarni. Najfajniejsze uczucie jest wtedy jak dzwoni kurier do drzwi, przeglądam, kartkuje. Lubie zapach druku. Przez pierwsze pare dni czytam najwięcej, później zdąża się coraz mniej. Najgorzej jest jak w międzyczasie dokupię sobie inną. Często jest tak, że ta 1-sza idzie w odstawkę na długi czas. Ostatnio miałem tak w wakacje. 1-szą część Harrego Pottera po angielsku szybko przeczytałem. Drugą już do połowy, później miałem przerwę gdzieś koło 1.5-2 miesięcy. Ostatnio skończyłem czytać. Teraz czytam The Lord of the ring po angielsku. 9 rozdział. Nie jest źle, mam nadzieję że wytrwam. Na razie czytam 1 rozdział dziennie, wychodzi jakieś 40min.<br/>
Pozdrawiam Marcin</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/223/3284">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Marcin (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/12/dlaczego-moja-motywacja-zawiod%C5%82a-i-jak-mo%C5%BCesz-unikn%C4%85%C4%87-tej-samej-pu%C5%82apki#comment-3284">Tuesday, December 4, 2012 - 15:06</a></span>
</div>
</div>
<a id="comment-3307"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/581f8a15be165ff009c810368d130ac4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć Davidzie!</p>
<p>Przestój w nauce to nie porażka, o ile do niej wrócisz w sensownym czasie. Pracując, czy angażując się w jakiś projekt, możemy dojść do momentu, gdy trzeba obcinać inne czynności codzienne by móc projekt zrealizować. Czasami wręcz nie ma innej możliwości - trzeba odrzucić to, co nie daje nam doraźnej korzyści. Czyli, bardzo często, naukę języka. Trzeba to jednak robić świadomie by możliwie szybko wrócić do nauki. </p>
<p>Język polski masz bardzo dobrze opanowany, więc po ewentualnym przestoju łatwo wrócić do poprzedniego poziomu. Nie uważam, że doświadczyłeś porażki, tylko złapałeś oddech przed kolejną fazą nauki. :)</p>
<p>Nota bene, sam robię podobnie - pewne rzeczy w angielskim muszę wyprowadzić na prostą, więc mam teraz bardziej pasywną fazę nauki. </p>
<p>Zryw miałem z HP, ale przytłoczył mnie czas, który musiałem poświęcić dziennie  na niego obok innej nauki angielskiego i zawiesiłem czytałem HP. Absolutnie nie traktując tego jako porażki, tylko próby - spróbowałem, OK, wiem z czym to się je i czym grozi, teraz muszę się skupić na innych rzeczach, ale zgromadzone doświadczenie z kilkudziesięciu stron HP1, zaprocentuje w przyszłości, gdy będę miał więcej czasu. Powracając, oczywiście,  do HP1 (w końcu po to kupiłem wszystkie części po angielsku... :) ).</p>
<p>Starałem się złapać kilka srok za ogon, a tak nie zawsze się da. Więc teraz ograniczyłem się do pewnego minimum, by - idąc za sentencją Konfucjusza: <cite>"To nie ma znaczenia, jak wolno idziesz, dopóki nie przestaniesz."</cite> - ciągle podążać do przodu. Na razie drobnymi krokami, które planuję przyspieszyć w niedługiej przyszłości. </p>
<p><strong>Nie sądzę, Davidzie, byś stracił motywację, tylko siedząc przy nowych rozwiązaniach dla Bibliobirda, zwyczajnie nie miałeś czasu.</strong> Doba ma tylko 24 godziny a pewne rzeczy wymagają poświęcenia im dużo czasu i zawłaszczają 100% uwagi. Nie wymagaj od siebie rzeczy niemożliwych! </p>
<p>Ja w każdym razie mam nadzieję, że będę mówił z biegiem czasu równie dobrze po angielsku, jak Ty po polsku, mimo zwolnienia tempa nauki. Twoje filmiki i materiały językowe są dla mnie dużą motywacją i inspiracją. </p>
<p>Pozdrawiam i życzę najpierw udanych funkcji w Bibliobirdzie, a następnie udanego powrotu do intensywniejszego posługiwania się językiem polskim! </p>
<p>Arek</p>
<p>(Nawiasem mówiąc, też mam zaplanowaną powtórkę języka... polskiego! ;) )</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/223/3307">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Arek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/12/dlaczego-moja-motywacja-zawiod%C5%82a-i-jak-mo%C5%BCesz-unikn%C4%85%C4%87-tej-samej-pu%C5%82apki#comment-3307">Sunday, December 9, 2012 - 10:30</a></span>
</div>
</div>
<div class="indented"><a id="comment-3330"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Arek!</p>
<p>Dzięki za podzielenie się Twoją historią i słowa wsparcia. :-)</p>
<p>Nie byłeś na ostatnim spotkaniu w niedzielę, w którym rozmawialiśmy na luzie po polsku. Ale gdybyś tam byłeś, zobaczyłbyś, że jesteśmy w podobnej sytuacji - ja też robię wiele błędów w rozmowie po polsku. Niewiele brakujesz, żeby rozmawiać równie dobrze po angielsku, jak ja po polsku. ;-)</p>
<p>Dzięki za życzenia i pomocy w testowaniu funkcji na Bibliobirdzie! Nad tym dużo pracuję, i mam nadzieję, że będziemy mieli coś skończonego na końcu miesiąca.</p>
<p>Życzę dalszych sukcesów w nauce!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/223/3330">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/12/dlaczego-moja-motywacja-zawiod%C5%82a-i-jak-mo%C5%BCesz-unikn%C4%85%C4%87-tej-samej-pu%C5%82apki#comment-3330">Friday, December 14, 2012 - 10:22</a></span>
</div>
</div>
</div><a id="comment-3318"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.mowpohiszpansku.pl" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/2896c03011e2a23f43163abfed940605?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>David, świetnie piszesz o niepowodzeniach. To chyba nieodłączna część nauki języka. Większość z nas ma wiele obowiązków, a nauka języka to zadanie dodatkowe, nieobowiązkowe. Samodyscyplina to naprawdę trudna sprawa. Jeśli nie mam czasu na naukę, to staram się "przemycać" język obcy do mojej codzienności. Słucham muzyki po hiszpańsku albo czytam informacje ze świata w tym języku. Więcej informacji na ten temat podaję na moim blogu o nauce hiszpańskiego - "Mów po hiszpańsku" :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/223/3318">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.mowpohiszpansku.pl" rel="nofollow">Mów po hiszpańsku</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/12/dlaczego-moja-motywacja-zawiod%C5%82a-i-jak-mo%C5%BCesz-unikn%C4%85%C4%87-tej-samej-pu%C5%82apki#comment-3318">Thursday, December 13, 2012 - 07:00</a></span>
</div>
</div>
<div class="indented"><a id="comment-3337"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Piszesz prawdę - staram się robić (i polecam) to samo. :-)</p>
<p>Z innej beczki, zajrzałem do Twojego blogu i go zasubskrybowałem. Wygląda bardzo interesująco! Życzę Ci sukcesu z tym i czekam na nowe wpisy. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/223/3337">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/12/dlaczego-moja-motywacja-zawiod%C5%82a-i-jak-mo%C5%BCesz-unikn%C4%85%C4%87-tej-samej-pu%C5%82apki#comment-3337">Saturday, December 15, 2012 - 09:17</a></span>
</div>
</div>
<div class="indented"><a id="comment-3341"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.mowpohiszpansku.pl" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/2896c03011e2a23f43163abfed940605?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Dziękuję za słowa uznania :) Przypomniałeś mi "And now for something completely different" z Monthy Pythona. Na polski tłumaczono to właśnie jako "a teraz coś z zupełnie innej beczki" ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/223/3341">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.mowpohiszpansku.pl" rel="nofollow">Mów po hiszpańsku</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/12/dlaczego-moja-motywacja-zawiod%C5%82a-i-jak-mo%C5%BCesz-unikn%C4%85%C4%87-tej-samej-pu%C5%82apki#comment-3341">Saturday, December 15, 2012 - 13:02</a></span>
</div>
</div>
</div></div><a id="comment-3370"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/866eee6d18fde213a58eda8e64588f41?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>wesołych świat :)</p>
<p>trochę późno ale lepiej niż wcale</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/223/3370">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">bitowo/zed16 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/12/dlaczego-moja-motywacja-zawiod%C5%82a-i-jak-mo%C5%BCesz-unikn%C4%85%C4%87-tej-samej-pu%C5%82apki#comment-3370">Wednesday, December 26, 2012 - 15:52</a></span>
</div>
</div>
<div class="indented"><a id="comment-3376"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki! Życzę Wszystkiego Najlepszego w Nowym Roku!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/223/3376">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/12/dlaczego-moja-motywacja-zawiod%C5%82a-i-jak-mo%C5%BCesz-unikn%C4%85%C4%87-tej-samej-pu%C5%82apki#comment-3376">Saturday, December 29, 2012 - 08:31</a></span>
</div>
</div>
</div><a id="comment-3389"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/866eee6d18fde213a58eda8e64588f41?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>jesteś tak zajęty , że nie mal nie widać cię na forum :P szkoda ale czasem tak jest</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/223/3389">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">bitowo/zed16 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/12/dlaczego-moja-motywacja-zawiod%C5%82a-i-jak-mo%C5%BCesz-unikn%C4%85%C4%87-tej-samej-pu%C5%82apki#comment-3389">Sunday, December 30, 2012 - 19:20</a></span>
</div>
</div>
<a id="comment-3792"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://naukahobbysamoterapia.blogspot.com/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/32b372bda5c8ff28fc0dceaab1099681?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Ja także odczuwam duży spadek motywacji :-(<br/>
Obrałam sobie cele, miałam do końca lutego skończyć A2, ale miałam tyle pracy, nauki na studiach i innych obowiązków, że nie udało mi się ich zrealizować. Doszło do tego, że nauka angielskiego w ogóle mnie nie cieszy. Jak dodatkowo pomyślę, że jeszcze tyle przede mną, żeby znać go na poziomie przeciętnym, to jeszcze bardziej się demotywuję...</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/223/3792">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://naukahobbysamoterapia.blogspot.com/" rel="nofollow">Violina</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/12/dlaczego-moja-motywacja-zawiod%C5%82a-i-jak-mo%C5%BCesz-unikn%C4%85%C4%87-tej-samej-pu%C5%82apki#comment-3792">Tuesday, February 5, 2013 - 15:45</a></span>
</div>
</div>
<div class="indented"><a id="comment-3841"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Violina!</p>
<p>Wszyscy czasem tak się czują. To znaczy, że to jest czas, żeby coś zmienić. Może to czas na krótką przerwę? Albo na nową metodę nauki? Albo może czas, żeby wzmocnić swoją motywację?</p>
<p>Tak jak piszę w moim ebooku, jeśli sam proces jest przyjemny, to nieważne ile czasu jest potrzebne, żeby osiągnąć cel!</p>
<p>Tylko nie poddajesz się na zawsze i na pewno kiedyś będzie znała angielski na wyższym poziomie. :-)</p>
<p>Mam nadzieję, że to pomoże!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/223/3841">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/12/dlaczego-moja-motywacja-zawiod%C5%82a-i-jak-mo%C5%BCesz-unikn%C4%85%C4%87-tej-samej-pu%C5%82apki#comment-3841">Thursday, February 7, 2013 - 08:30</a></span>
</div>
</div>
</div>
</div>
