---
permalink: /blog/2012/12/why-my-motivation-failed-and-how-you-can-avoid-the-same-pitfalls/
layout: blog-old
title: 'Why my motivation failed (and how you can avoid the same pitfalls!)'
day: 4
month: gru
year: 2012
category: language learning
tags: 
  - 'motivation'
language: pl
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/12/failure.jpg" rel="lightbox"><img alt="Statue with head in hands" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/12/failure.jpg" title="Photo by Alex Proimos"/></a><div class="caption"><a href="http://www.flickr.com/photos/34120957@N04/4199675334">Photo</a> by <a href="http://www.flickr.com/photos/proimos/">Alex Proimos</a></div></div>
<p>Motivation is probably the most important ingredient in successful language learning.</p>
<p>I frequently get comments to my articles and videos complimenting my perseverance and motivation in learning Polish. But even now, I sometimes have problems with my motivation!</p>
<p><strong>I don't like to fail. Nobody does! Especially not publicly. :-)</strong></p>
<p>However, sometimes you can learn more from the failures of others than their successes. It's easy to believe that someone was successful because they are "special" or have an ingrained talent. It's important to see their failures too!</p>
<p>Which is why I'm going to share a personal story with you about how my motivation failed - very recently, a few weeks ago.</p>
<p><strong>Read more to find out how you can avoid the same pitfalls and renew your motivation!</strong></p>
<h2>My failure</h2>
<p>Several weeks ago I proposed a <a href="http://www.linguatrek.com/blog/2012/10/lets-read-in-a-foreign-language-a-group-project">group reading project</a> on my blog.</p>
<p>My goal was to spend about 1 hour a day reading and listening to <a href="http://en.wikipedia.org/wiki/Cylinder_van_Troffa"><em>Cylinder van Troffa</em></a> in Polish for four weeks.</p>
<p>It was going alright! The book was very interesting. It was at a good level: not too hard, but lots of new vocabulary.</p>
<p>I stuck with my plan for about 6 days... And then I started having problems. I missed three days, then got back into it for a couple days. Then a missed a few more days.</p>
<p><strong>About two weeks after starting, I stopped reading altogether.</strong></p>
<h2>What happened?</h2>
<p>I don't think I really realized what happened until I was listening to the <a href="http://www.linguatrek.com/blog/2012/11/listen-to-my-free-ebook-about-language-learning-in-polish">audiobook version of my ebook</a>. <a href="http://unfamusic.com/">Tobiasz</a>, who created it, had just sent me the MP3's and I was very excited to finally listen to them.</p>
<p>In the chapter about <a href="http://www.linguatrek.com/blog/2012/04/planning-your-daily-routine-ebook-excerpt">planning your daily routine</a>, I wrote:</p>
<blockquote>
<p>If you don't already have a daily language learning routine, don't be too ambitious! Many people make the mistake of making their first daily routine really intense; for example, including one or two hours of language learning per day.</p>
<p>Making sure that you don't burn out is extremely important. If you start out with a more modest daily routine and slowly increase it, you will drastically reduce your chances of burning out and giving up.</p>
</blockquote>
<p>When I first planned my daily routine, I thought this didn't apply to me: <em>"Of course, I can handle an hour a day - I used to do TWO hours a day!"</em></p>
<p><strong>But I hadn't been regularly studying Polish for many months!  While this routine wouldn't have been a problem for me in the past, it was far too ambitious for me now.</strong></p>
<p>I didn't follow my own advice and burned out!</p>
<h2>Renewing your motivation!</h2>
<p>While you will likely experience many little failures along the way, the only way to ultimately fail is to give up.</p>
<p>The important thing isn't that you failed, but that you decided to try again after the failure - hopefully a little wiser. :-)</p>
<p>I'm going to try again to read <em>Cylinder van Troffa</em>. But with a much more modest plan: 15 minutes a day. I can always increase it later.</p>
<p>If you've had a similar experience, don't give up! Analyze what went wrong and give it another try!</p>
<p><strong>Has your motivation ever failed? Please share your story in the comments! Let's show everyone that they're not alone!</strong></p>
</div>

<div id="comments">
<a id="comment-3276"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/23d5ba8e200b43304276d42213806e96?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>I definitely understand what you mean!  When I originally started learning Polish, I was going for a few hours each day, because that was my language learning schedule in college.  Of course, as soon as work picked up, I couldn't handle it, so it was easy to give up.  I recently started up again, and am now saying 1 hour MAXIMUM each day.  </p>
<p>I guess it's hard for us to sit back and realize that just because we could have handled a certain routine before, we might not be able to do it now.  For me, I had to realize that I'm no longer in college, and real (paying!) work has to be done.  It was also frustrating because I've already learned a foreign language, and starting from zero is hard on the ego!  If there's no time limit, it's okay to admit that we need to slow down.  Really, to become truly confident in a language, there is no fast track.  You can become independent quickly, but it takes a long time before the language really becomes part of who you are (if that makes any sense!).  </p>
<p>It's true that the only way to really fail is to give up completely.  It's actually surprising how much you can remember once you get back into the habit.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/222/3276">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Tara H (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/12/why-my-motivation-failed-and-how-you-can-avoid-the-same-pitfalls#comment-3276">wtorek, grudzień 4, 2012 - 11:26</a></span>
</div>
</div>
<a id="comment-3277"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/f724b97b475d8194eebcdfa79baed9b9?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>This advice can be applied to any goal in life... very helpful! You're so smart. :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/222/3277">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Allison (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/12/why-my-motivation-failed-and-how-you-can-avoid-the-same-pitfalls#comment-3277">wtorek, grudzień 4, 2012 - 11:32</a></span>
</div>
</div>
<a id="comment-3278"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.brazilianpolyglot.com" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d4e21ed170a0b88ebcac627e282464e1?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Hello David,<br/>
It was great to come across you posting today, I was thinking about this.  I study several languages, and I really believe that the main problem with me is not really the motivation, but much more than that: the lack of concentration. I would say that I was really motivated, but what happens to me is the concentration to keep working for hours and hours. Recently I have met Benny, the Irish Polyglot, and in our conversation he exposed me his routine, and I really thought this should be the best routine, that is from 8:00a.m to 10p.m, that is a “total immersion” process, but unfortunately people have not such amount of free time.<br/>
 So, your pieces of advice sounded great,  everyone can be concentrated at least 15 minutes a day (if not give up!!), and by doing so step by step you can achieve your goals. The Assimil Method is based upon this concept , and so is Pimsleur,  and even knowing this, I also fail sometimes in the learning process, but as you said: “they are not alone” we are with them! And the only thing to do is try it again!! I am sure your post will motivate dozens of people to try it again.<br/>
Thanks,<br/>
Best Wishes,<br/>
Jimmy Mello</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/222/3278">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.brazilianpolyglot.com" rel="nofollow">Jimmy Mello</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/12/why-my-motivation-failed-and-how-you-can-avoid-the-same-pitfalls#comment-3278">wtorek, grudzień 4, 2012 - 12:19</a></span>
</div>
</div>
<a id="comment-3279"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://gettingaroundmyself.com" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/9e71c01a663e013eb38bf7c0dca2cb31?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>I have had problems sticking to my language learning schedule also recently. I thought that the 'take it easy' rule did not apply to me but this is the first time I have tried to learn a second language, so I especially need to allow myself time to get into a good steady flow.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/222/3279">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://gettingaroundmyself.com" rel="nofollow">Anonymous</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/12/why-my-motivation-failed-and-how-you-can-avoid-the-same-pitfalls#comment-3279">wtorek, grudzień 4, 2012 - 12:26</a></span>
</div>
</div>
<div class="indented"><a id="comment-3324"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Thanks for sharing!</p>
<p>Yeah, the first second language is definitely the hardest. Not to say that it's ever really "easy" but it becomes much more natural after the first.</p>
<p>I wish your success in your language learning adventure!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/222/3324">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/12/why-my-motivation-failed-and-how-you-can-avoid-the-same-pitfalls#comment-3324">piątek, grudzień 14, 2012 - 09:57</a></span>
</div>
</div>
</div><a id="comment-3281"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://howlearnspanish.com" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/378451a8d6aab6e56c0caa50495bd976?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Too many times to count and recount.  I've started so many languages (French, Brazilian Portuguese, Russian, Japanese, Swedish, German, Thai) that I later dropped for some reason or another (usually time constraints) it's just ridiculous.  For me it's an issue of time and prioritization: I don't have time for everything so I have to prioritize, and I hate it, I hate it because it means I must give up things that I really want to do but that just don't make the cut, their priority isn't high enough.</p>
<p>Too many things to do, too much to learn, too little time :(</p>
<p>Cheers,<br/>
Andrew</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/222/3281">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://howlearnspanish.com" rel="nofollow">Andrew</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/12/why-my-motivation-failed-and-how-you-can-avoid-the-same-pitfalls#comment-3281">wtorek, grudzień 4, 2012 - 13:26</a></span>
</div>
</div>
<div class="indented"><a id="comment-3323"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Andrew,</p>
<p>Yeah, I agree completely. If only humans lived another couple hundred years, it'd be much easier to prioritize. :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/222/3323">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/12/why-my-motivation-failed-and-how-you-can-avoid-the-same-pitfalls#comment-3323">piątek, grudzień 14, 2012 - 09:56</a></span>
</div>
</div>
</div><a id="comment-3287"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Baby steps – do you remember my guest post? If you have a period of inactivity, in order for you to catch up, you have to start slowly, step by step until you are ready to tackle bigger tasks. Just like training your body after a break, longer or shorter, you have to, well, actually start anew.</p>
<p>I like to say that you have always have your finger on the pulse. :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/222/3287">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/12/why-my-motivation-failed-and-how-you-can-avoid-the-same-pitfalls#comment-3287">środa, grudzień 5, 2012 - 12:35</a></span>
</div>
</div>
<div class="indented"><a id="comment-3301"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Wojtek!</p>
<p>Yes, of course, I remember your guest post. :-) If I would have followed your advice, I wouldn't have had these problems. It's easy to forget after comming so far, that the same old rules still apply. ;-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/222/3301">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/12/why-my-motivation-failed-and-how-you-can-avoid-the-same-pitfalls#comment-3301">sobota, grudzień 8, 2012 - 10:13</a></span>
</div>
</div>
</div><a id="comment-3289"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/c0fc411ee0971e6ace61841fbb11afa2?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>This advice sort of comes at me at the perfect time. I've been studying a language approximately since September 1st of this year, back when my motivation was incredible but I had a far way to go in terms of efficient techniques. I pretty much spent anywhere from 2-4 hours a day on learning and over time figured out what was working and what wasn't. I would lose motivation on one technique and move to a subsequent one that I felt was more effective, always allowing myself many different ways of incorporating the language into my daily life. </p>
<p>This worked especially well because after spending 2-3 weeks on a newer technique, I'd go back to the old one and find out just how much further I had managed to get in a much faster time. Very rewarding feeling.<br/>
I've run into a bit of a problem recently though, approximately the past two weeks. Whereas before I would at least do 30 minutes at minimum every day, I've had a few days in a row where I have done barely ten, and recently even skipped days. Considering how much enjoyment that feeling of actually knowing I'm actually progressing and how much I usually enjoy those moments when I can sit down and actively learn is, this is quite disappointing. </p>
<p>The reason for this plateau is very much related to 1) a drastic change in my life situation and 2) I've run into a problem with the materials I was using, as with one course I've come to an advanced level where the pace at which the work required surpasses my abilities and I have to spend at least an hour longer reviewing the same material to get that same sense of progress, and another where a website I was using got completely reconstructed and I cannot use the materials as effectively as I did before.  </p>
<p>I tried to make up for these lacks by moving onto a few newer techniques that actually result in even quicker learning in terms of my vocabulary and hearing skills but I ran into that exact problem that you've summarised here. The amount of time required for me to go at the pace I want to, is too ambitious considering my life situation. I don't really have the few hours to spare daily on working on this. I imagine I'm going to have to settle for slower progress, otherwise I risk going to a complete halt and losing my momentum and confidence. </p>
<p>On the other hand I'm quite surprised how many different methods one can go through in learning a language. No one method is foolproof but all of them push you at least somewhat forward and then there's the intuitive part of learning where you don't even realise how much more you have picked up and polished off subconsciously. </p>
<p>Thanks for the awesome blog entries.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/222/3289">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Evelina (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/12/why-my-motivation-failed-and-how-you-can-avoid-the-same-pitfalls#comment-3289">czwartek, grudzień 6, 2012 - 09:14</a></span>
</div>
</div>
<div class="indented"><a id="comment-3322"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Evelina!</p>
<p>Thanks so much for sharing your experience! I always say that there is no one right method to learn a language and it's great to have some personal stories from others to prove that. :-)</p>
<p>I wish you the best of luck in learning your language! (You never say what it is - is it a secret? ;-))</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/222/3322">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/12/why-my-motivation-failed-and-how-you-can-avoid-the-same-pitfalls#comment-3322">piątek, grudzień 14, 2012 - 09:55</a></span>
</div>
</div>
</div><a id="comment-3291"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/377da01e56b85b716cf82cbe21d4aec5?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Hey David, </p>
<p>I have been following you for about a year now and studying for approx 2 years.  I have done Rosetta Stone, i have attempted to read a few books (mainly grammar and learning books), and i just finished with all the lessons on Bussu.com.   My main problem is that once i get to a certain level of difficulty it is really hard for me to focus.  I want to try what you did, as far as reading a book and then listing to the audio version.  Do you think that the Hunger Games series would be a good choice? Thanks for you time David.  Jason</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/222/3291">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Jason (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/12/why-my-motivation-failed-and-how-you-can-avoid-the-same-pitfalls#comment-3291">czwartek, grudzień 6, 2012 - 17:23</a></span>
</div>
</div>
<div class="indented"><a id="comment-3321"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Jason!</p>
<p>Sorry for the late reply. I've been having trouble finding time to respond to comments and e-mails too, unfortunately. :-/</p>
<p>I've never read Hunger Games, so I don't know anything about it's level. However, what will work for you depends mostly on you and so you'll be the best judge here.</p>
<p>I've written a few articles about choosing the right book:</p>
<p><a href="http://www.linguatrek.com/blog/2011/01/how-to-pick-your-first-book-to-read-in-a-foreign-language" title="http://www.linguatrek.com/blog/2011/01/how-to-pick-your-first-book-to-read-in-a-foreign-language">http://www.linguatrek.com/blog/2011/01/how-to-pick-your-first-book-to-re...</a></p>
<p><a href="http://www.linguatrek.com/blog/2012/07/is-this-bookmoviesong-too-hard-for-me" title="http://www.linguatrek.com/blog/2012/07/is-this-bookmoviesong-too-hard-for-me">http://www.linguatrek.com/blog/2012/07/is-this-bookmoviesong-too-hard-fo...</a></p>
<p>I also write about it a lot in my ebook. Anyway, I hope those articles are helpful!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/222/3321">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/12/why-my-motivation-failed-and-how-you-can-avoid-the-same-pitfalls#comment-3321">piątek, grudzień 14, 2012 - 09:53</a></span>
</div>
</div>
</div><a id="comment-3390"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/866eee6d18fde213a58eda8e64588f41?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>happy new year :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/222/3390">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">bitowo/zed16 (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/12/why-my-motivation-failed-and-how-you-can-avoid-the-same-pitfalls#comment-3390">niedziela, grudzień 30, 2012 - 20:21</a></span>
</div>
</div>
<div class="indented"><a id="comment-3407"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Happy New Year to you as well! :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/222/3407">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/12/why-my-motivation-failed-and-how-you-can-avoid-the-same-pitfalls#comment-3407">wtorek, styczeń 1, 2013 - 16:42</a></span>
</div>
</div>
</div><div class="box">
<h2>Dodaj nową odpowiedź</h2>
<div class="content"><form accept-charset="UTF-8" action="/comment/reply/222" id="comment-form" method="post">
<div><div class="form-item" id="edit-name-wrapper">
<label for="edit-name">Nazwisko lub pseudonim: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-name" maxlength="60" name="name" size="30" type="text" value="Anonymous"/>
</div>
<div class="form-item" id="edit-mail-wrapper">
<label for="edit-mail">E-mail: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-mail" maxlength="64" name="mail" size="30" type="text" value=""/>
<div class="description">Zawartość pola nie będzie udostępniana publicznie. If you have a <a href="http://www.gravatar.com">Gravatar</a> account, used to display your avatar.</div>
</div>
<div class="form-item" id="edit-homepage-wrapper">
<label for="edit-homepage">Strona domowa: </label>
<input class="form-text" id="edit-homepage" maxlength="255" name="homepage" size="30" type="text" value=""/>
</div>
<div class="form-item" id="edit-comment-wrapper">
<label for="edit-comment">Odpowiedź: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<textarea class="form-textarea resizable required" cols="60" id="edit-comment" name="comment" rows="15"></textarea>
</div>
<ul class="tips"><li>Adresy internetowe są automatycznie zamieniane w odnośniki, które można kliknąć.</li><li>Dozwolone znaczniki HTML: &lt;a&gt; &lt;em&gt; &lt;strong&gt; &lt;cite&gt; &lt;code&gt; &lt;ul&gt; &lt;ol&gt; &lt;li&gt; &lt;dl&gt; &lt;dt&gt; &lt;dd&gt; &lt;blockquote&gt;</li><li>Znaki końca linii i akapitu dodawane są automatycznie.</li></ul><input id="form-a49fdbc9d0eada2562e544e1422519fb" name="form_build_id" type="hidden" value="form-a49fdbc9d0eada2562e544e1422519fb"/>
<input id="edit-comment-form" name="form_id" type="hidden" value="comment_form"/>
<div class="clear-block"><div class="form-item" id="edit-notify-wrapper">
<label class="option" for="edit-notify"><input checked="checked" class="form-checkbox" id="edit-notify" name="notify" type="checkbox" value="1"/> Notify me when new comments are posted</label>
</div>
<div class="form-radios"><div class="form-item" id="edit-notify-type-1-wrapper">
<label class="option" for="edit-notify-type-1"><input class="form-radio" id="edit-notify-type-1" name="notify_type" type="radio" value="1"/> All comments</label>
</div>
<div class="form-item" id="edit-notify-type-2-wrapper">
<label class="option" for="edit-notify-type-2"><input checked="checked" class="form-radio" id="edit-notify-type-2" name="notify_type" type="radio" value="2"/> Replies to my comment</label>
</div>
</div></div><input class="mollom-content-id" id="edit-mollom-contentId" name="mollom[contentId]" type="hidden" value=""/>
<input class="mollom-captcha-id" id="edit-mollom-captchaId" name="mollom[captchaId]" type="hidden" value=""/>
<div style="display: none;"><div class="form-item" id="edit-mollom-homepage-wrapper">
<input autocomplete="off" class="form-text" id="edit-mollom-homepage" maxlength="128" name="mollom[homepage]" size="60" type="text" value=""/>
</div>
</div><div class="description mollom-privacy">By submitting this form, you accept the <a class="mollom-target" href="//mollom.com/web-service-privacy-policy" rel="nofollow">Mollom privacy policy</a>.</div><input class="form-submit" id="edit-preview" name="op" type="submit" value="Podgląd"/>
</div></form>
</div>
</div>
</div>
