---
permalink: /blog/2011/12/goenglishgocom-virtual-english-school/
layout: blog-old
title: 'GoEnglishGo.com: Virtual English school'
day: 13
month: Dec
year: 2011
category: learn-english
tags: 
  - 'language school'
  - 'review'
language: en
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/default/files/imagecache/Large/image/2011/12/goenglishgo.png" rel="lightbox"><img alt="GoEnglishGo Logo" src="http://www.linguatrek.com/sites/default/files/imagecache/Small/image/2011/12/goenglishgo.png" title=""/></a></div>
<p>Real world English schools are great.  You enter a new environment where the primary language is English.  It's easy to forget that you're still in your native country.  And you get to make new friends who also share your passion and interest in English.</p>
<p>But traveling to an English class is also very inconvenient.  Depending on where you live and work, it probably takes considerable time to get there.  And when you leave, the English lesson ends.  You might have a homework assignment, but outside the magic of the classroom, it's less compelling.</p>
<p>With a virtual school, you lose the effect of the environment and much of the social interaction.  But you are able to study at any time of the day or night.  And you don't have to lose any time traveling there!</p>
<p>This article is about an online language school, <a href="http://www.goenglishgo.com">GoEnglishGo.com</a>, which is run by an American from Texas, who now lives in Kraków, Poland.</p>
<p>(<em>Full disclosure: while the founder of this school is a personal friend of mine, I'm not receiving any monetary benefits or commissions for writing this review.</em>)</p>
<p><strong>Read more the full review!</strong></p>
<h2>Tommy Holt</h2>
<div class="diag align-right" style="float: right; width: 128px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/default/files/imagecache/Large/image/2011/12/tommyholt.jpg" rel="lightbox"><img alt="Portait of a man in a backpack" src="http://www.linguatrek.com/sites/default/files/imagecache/Small/image/2011/12/tommyholt.jpg" title="Tommy Holt, founder of GoEnglishGo.com."/></a><div class="caption">Tommy Holt, founder of GoEnglishGo.com.</div></div>
<p>Tommy is the founder of <a href="http://www.goenglishgo.com">GoEnglishGo.com</a>, along with his wife, Kasia.  I met him at the CELTA teacher training program at International House in Kraków, Poland.  He helped to teach me how to be an effective English teacher.</p>
<p>He has a passion for languages (and speaks very good Polish!) and is one of the best English teachers I've had the pleasure to watch teach.</p>
<p>After many years of teaching English and training English teachers in real world language schools, he and his wife decided to open a virtual school.</p>
<h2>Structure of a lesson</h2>
<p>GoEnglishGo.com provides individual, one-on-one lessons with a native speaker of English, conducted over <a href="http://www.skype.com/">Skype</a>, once a week.</p>
<p>Each lesson is 60 minutes long and is based on custom materials found inside the school's online learning platform.  They work with students at any level or age group.</p>
<p>Every lesson is composed of three parts:</p>
<ul>
<li><strong>Interactive lessons</strong>: two or more self-corrected activities that introduce vocabulary or grammatical structures.  These are to be completed during the week, <em>before</em> the online Skype meeting.  The activities are completed entirely online and include: fill in the blank, matching, true/false or multiple choice questions - much like the worksheets you'd complete in a real world class.</li>
<li><strong>Online community</strong>: includes forum topics or blog posts to read and comment on.  The forum topics frequently include audio or video using <a href="http://voicethread.com/">Voicethread</a>, which allows students to leave audio comments.  This is also meant to be completed before or after the lesson with the teacher.</li>
<li><strong>Videoconference lesson</strong>: this is the most important part, which is conducted with the teacher over Skype.  I'll describe it in full in the next section...</li>
</ul>
<h2>Videoconference lesson</h2>
<p>Before connecting on Skype the student loads a slideshow from the school's online portal, so that it's ready when the lesson begins.  The slideshow consists mainly of the sort of things a teacher would write on the board during a real world class, as well as some interactive activities to help guide the lesson, including: audio, video or various exercises.</p>
<p>During the lesson, both the teacher and the student are also working in the same <a href="http://docs.google.com">Google Document</a>.  Here, the teacher keeps track of errors and interesting words or phrases that come up during the lesson.</p>
<p>The student tries to correct the errors and practice writing in real time.  This Google Doc also acts as a written record of what was learned during the lesson, which the student can refer back to later.</p>
<h2>Conclusion</h2>
<p>While a virtual school lacks the environment and social aspects, GoEnglishGo.com faithfully maintains all of the learning activities that are present in a real world school.</p>
<p>If you don't have time to go to a real world school, or had to stop going because the time of the lesson didn't work for you, I recommend trying a virtual school.  The most important aspect of learning a language isn't necessarily the method, but that you continue to use the language on a regular basis.</p>
<p>GoEnglishGo.com includes a free trial lesson for all new students, so you have nothing to lose.  <a href="http://www.goenglishgo.com/#box_register">Sign up</a> today!</p>
<p><strong>Have you ever studied any language at a virtual language school?  What were the pros and cons?  Please write a comment below!</strong></p>
</div>

<div id="comments">
<a id="comment-1277"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/01/vlog-poznaj-tommyego-inny-amerykanin-m%C3%B3wi%C4%85cy-po-polsku" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] online Tommy'ego jest GoEnglishGo.com i oto jest mój artykuł o [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/105/1277">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/01/vlog-poznaj-tommyego-inny-amerykanin-m%C3%B3wi%C4%85cy-po-polsku" rel="nofollow">Vlog: Poznaj Tommy&amp;amp;#039;ego: inny Amerykanin mówiący po </a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/12/goenglishgocom-virtual-english-school#comment-1277">Saturday, January 28, 2012 - 11:29</a></span>
</div>
</div>
<a id="comment-1281"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e3304456440244b2b4cc6883293ad1c2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>ha ja robię te voicethreads :D:D:D</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/105/1281">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Brooch (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/12/goenglishgocom-virtual-english-school#comment-1281">Saturday, January 28, 2012 - 16:12</a></span>
</div>
</div>
<div class="indented"><a id="comment-1282"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Wiem, Tommy tak mi powiedział. :-)  Dobra robota!  Ten, który widziałem, był wspaniały.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/105/1282">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/12/goenglishgocom-virtual-english-school#comment-1282">Saturday, January 28, 2012 - 17:51</a></span>
</div>
</div>
<div class="indented"><a id="comment-1284"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e3304456440244b2b4cc6883293ad1c2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>który widziałeś?<br/>
No i to dzięki Tobie - pamiętaj :D:D</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/105/1284">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Brooch (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/12/goenglishgocom-virtual-english-school#comment-1284">Saturday, January 28, 2012 - 19:16</a></span>
</div>
</div>
<div class="indented"><a id="comment-1294"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Był "The Smoking Ban". :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/105/1294">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/12/goenglishgocom-virtual-english-school#comment-1294">Thursday, February 2, 2012 - 05:09</a></span>
</div>
</div>
</div></div></div>
</div>
