---
permalink: /blog/2011/12/my-language-goals-for-2012/
layout: blog-old
title: 'My language goals for 2012'
day: 27
month: Dec
year: 2011
category: personal
tags: 
  - 'New Year''s resolution'
language: en
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 106px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/12/fireworks.jpg" rel="lightbox"><img alt="Fireworks!" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/12/fireworks.jpg" title="Photo by Trey Ratcliff"/></a><div class="caption"><a href="http://www.flickr.com/photos/95572727@N00/2374904960">Photo</a> by <a href="http://www.flickr.com/people/stuckincustoms/">Trey Ratcliff</a></div></div>
<p>I know a lot of people think New Year's Resolutions are stupid.  Personally I've always liked them and I <em>try</em> to make some every year.  Unfortunately, I can't remember the resolutions I made for 2011. :-/</p>
<p>But that old, tired year will be behind us soon.  It's time to start thinking about the wonderful New Year!</p>
<p>While I have a number of New Year's Resolutions - including to start flossing my teeth more often :-) - the main topic of this blog is language, so I'm only going to talk about my language learning goals.</p>
<p><strong>Read more to see my language goals for next year!</strong></p><p>
<h2>My progress in 2011</h2>
</p><p>I started learning Polish in 2007.  The year I studied the hardest was definitely 2008, when I <a href="http://www.linguatrek.com/blog/2010/12/harry-potter-the-book-that-taught-me-polish">read and listened to all the Harry Potter books</a> in Polish.</p>
<p>It's sad to say, but <strong>2011 was the year I spent the least time studying Polish <em>by far</em></strong>.</p>
<p>It's understandable: this year I spent more time working than I ever have in my life.  But it's also disappointing.  Next year I want to devote more time to my favorite hobby: learning Polish!</p>
<h2>Read a book every month</h2>
<p>... in Polish, of course!</p>
<p>I've already read over 30 books in Polish.  So, 12 in a year isn't very many.  But this year I read only 2 or 3!</p>
<p>I thought about setting a higher goal, but I want it to be something that I know I can achieve.  A minimum of a book a month sounds reasonable.</p>
<h2>Speak Polish with my wife everyday</h2>
<p>My wife only speaks a little Polish but she understands a lot!  We've gone for as long as an hour where I speak only Polish and she speaks mostly English.  (<em>We should make a video of this sometime!</em>)</p>
<p>Being forced to organize my thoughts into Polish every day (if only for 5 minutes!) will hopefully help keep my speaking skills sharp.  And it might improve my wife's Polish too!</p>
<h2>Take the Polish C2 exam</h2>
<p>I'm not a big fan of exams or certifications.  I think they're artificial and focus too much on obscure grammar points.  In general, I believe it's more important to be able to <a href="http://www.linguatrek.com/blog/2010/11/lets-stop-saying-fluent-fluently-and-fluency-too">fluidly</a> express your ideas and understand what people say - even if you make a lot of mistakes!</p>
<p>But I've been studying Polish for five years now.  Maybe it's time to learn some obscure grammar points?</p>
<p>C2 is the highest level in the <a href="http://en.wikipedia.org/wiki/Common_European_Framework_of_Reference_for_Languages">Common European Framework of Reference for Languages</a>, so I'm not entirely certain that I'd pass.  But I think my Polish would improve from the attempt.</p>
<p>And if I did pass, it would be so cool to have <em>proof</em> that I speak decent Polish. :-)</p>
<p><strong>What do you think of my language resolutions?  Do you think I'll accomplish them?  What are your language learning goals for next year?  Leave a comment below!</strong></p>
</div>

<div id="comments">
<a id="comment-1116"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8726c2c23bc71223af041803c3e91cae?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć David,<br/>
Obserwuję twój blog przez dłuższy czas, bo mam podobną pasję jak Ty i trzeba przyznać, że Twój Polski jest świetny. Ja także myślę nad postanowieniami na przyszły rok. Mam nadzieję, że uda nam się je spełnić.<br/>
Pozdrawiam,<br/>
Paulina</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/107/1116">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Paulina (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/12/my-language-goals-for-2012#comment-1116">Tuesday, December 27, 2011 - 13:31</a></span>
</div>
</div>
<div class="indented"><a id="comment-1117"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/64552c2a1288fc7e08b7fdc145f83383?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Paulino, przymiotnik 'polski' piszemy małą literą :/</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/107/1117">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">troche wstyd (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/12/my-language-goals-for-2012#comment-1117">Tuesday, December 27, 2011 - 13:58</a></span>
</div>
</div>
<a id="comment-1123"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Paulina! Dziękuję bardzo. :-) Jakie są Twoje postanowienia dotyczące języków?  Pozdrawiam serdecznie, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/107/1123">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/12/my-language-goals-for-2012#comment-1123">Tuesday, December 27, 2011 - 17:29</a></span>
</div>
</div>
</div><a id="comment-1118"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witaj David,</p>
<p>Wczoraj znalazłem Twój blog i powiem szczerze, że zainspirowałeś mnie oraz naładowałeś moje baterie. :)</p>
<p>Jestem pod wrażeniem Twojego polskiego. Szczególnie tego, że opanowałeś go tak szybko.<br/>
Ja w kwietniu przyszłego roku będę się uczył już 5 lat angielskiego, choć muszę powiedzieć, że nauka nie zawsze była tak intensywna. No i musiałem znaleźć odpowiednią metodę. Ale z popełnionych błędów wyciągnąłem wnioski i mogę powiedzieć, że rok 2011 był najbardziej obfitym rokiem.</p>
<p>Ja mam największy problem z mówieniem, bo tak na prawdę nie mam z kim. Będę myślał nad znalezieniem sobie jakiegoś nauczyciela-native’a. Przecież muszę jakoś przełamać tę granicę, nie? :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/107/1118">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/12/my-language-goals-for-2012#comment-1118">Tuesday, December 27, 2011 - 15:49</a></span>
</div>
</div>
<div class="indented"><a id="comment-1124"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Wojtek!</p>
<p>Dziękuję za miłe słowa. :-) Jestem bardzo ciekaw: jaka jest ta metoda, którą znalazłeś?</p>
<p>Jeśli mieszkasz w dużym lub średnim mieście, na pewno tam mieszka kilku native speakerów j. angielskiego. Ale czasem trudno ich znaleźć (ale jakoś bardzo łatwo dla innego native speakera, nie wiem jak, ale znajdujemy siebie ;-)).</p>
<p>Ale jeśli nikogo nie znajdziesz, możesz rozmawiać z kimś przez Skype.  Napisałem artykuł o tym niedawno temu:</p>
<p><a href="http://www.linguatrek.com/blog/2011/11/how-to-practice-speaking-over-the-internet" title="http://www.linguatrek.com/blog/2011/11/how-to-practice-speaking-over-the-internet">http://www.linguatrek.com/blog/2011/11/how-to-practice-speaking-over-the...</a></p>
<p>I ten artykuł też może być pożyteczny:</p>
<p><a href="http://www.linguatrek.com/blog/2011/07/you-dont-need-to-live-in-a-foreign-country-to-learn" title="http://www.linguatrek.com/blog/2011/07/you-dont-need-to-live-in-a-foreign-country-to-learn">http://www.linguatrek.com/blog/2011/07/you-dont-need-to-live-in-a-foreig...</a></p>
<p>Życzę Ci dalszych sukcesów z angielskim w nowym roku!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/107/1124">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/12/my-language-goals-for-2012#comment-1124">Tuesday, December 27, 2011 - 17:36</a></span>
</div>
</div>
<div class="indented"><a id="comment-1125"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Generalnie od początku opieram się na SRS w różnych formach. Początkowo uczyłem się słów z takim komercyjnym programem i nie miałem wtedy wiedzy, że powtarzać trzeba cały czas. No i przestałem po 2,5 roku. W sumie było to niewygodne bo program był na Windowsa a ja korzystałem już wtedy od jakiegoś czasu z Linuksa.</p>
<p>Tak zwana metoda Antimoon (<a href="http://antimoon.com" title="http://antimoon.com">http://antimoon.com</a>) dużo mi pomogła. Generalnie sprowadza się ona do zdania „less output, more input” oraz pomniejszych technik.</p>
<p>Obecnie korzystam z Anki, mając fajną bazę słów, które napotykam w książkach, artykułach, filmach, etc oraz kursu SuperMemo „Angielski. No problem”. Zacząłem od początku bo chciałem uzupełnić niektóre braki.</p>
<p>Staram się dużo czytać i zastanawiać się słowami, wyrażeniami, które jeszcze nie znam.</p>
<p>Ostatnio zacząłem się osłuchiwać, np. oglądając Futuramę, ale jest to trudne bo tam występuje głównie język bardzo potoczny, no i szybko mówią.</p>
<p>również pozdrawiam!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/107/1125">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/12/my-language-goals-for-2012#comment-1125">Wednesday, December 28, 2011 - 03:05</a></span>
</div>
</div>
<div class="indented"><a id="comment-1126"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Aha, fajnie! Dziękuję za podzielenie się. :-)</p>
<p>Twoja metoda jest bardzo podobna do mojej.  Oto jest artykuł po angielsku na temat mojej metody:</p>
<p><a href="http://www.linguatrek.com/blog/2010/12/harry-potter-the-book-that-taught-me-polish" title="http://www.linguatrek.com/blog/2010/12/harry-potter-the-book-that-taught-me-polish">http://www.linguatrek.com/blog/2010/12/harry-potter-the-book-that-taught...</a></p>
<p>I filmik na ten sam temat po polsku:</p>
<p><a href="http://www.linguatrek.com/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego" title="http://www.linguatrek.com/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego">http://www.linguatrek.com/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angi...</a></p>
<p>Muszę przyznać się, że sam czasem mam problemy w rozumieniu Futuramy, bo są odniesienia do różnych rzeczy w kulturze popularnej, których nie znam. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/107/1126">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/12/my-language-goals-for-2012#comment-1126">Wednesday, December 28, 2011 - 07:25</a></span>
</div>
</div>
<a id="comment-1247"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/de73ae204307122c64628f17cb1ae840?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Genialny wybór! Futurama ma chyba najprostsze słownictwo z amerykańskich seriali. Polecam jeszcze Simpsonów, ale uważam, że są ciut trudniejsi. Jeżeli jednak masz problemy z rozumieniem to polecam oglądać odcinki z napisami (angielskimi oczywiście). Najlepiej obejrzeć cały serial najpierw z napisami, potem bez, a po przerobieniu wszystkich odcinków jeszcze raz całość... Niesamowicie dużo zostaje w głowie z konstrukcji gramatycznych tzn. stają się one zautomatyzowane - w ogóle nie trzeba się wysilać, wszystko zgrabnie samo się ciśnie na usta. Jest to ciekawa metoda, ale słówek w ten sposób się nie nauczysz. Ja polecam stare SM i... Visual Dictionary - nie ma nic lepszego niż poprzeglądać duży słownik obrazkowy przed snem - 5 minut dziennie, a po roku daje niesamowite efekty.</p>
<p>Jak skończysz z animowanymi serialami, możesz przerzucić się na grane - łatwy w zrozumieniu jest How I Met Your Mother (rozumiem, że niektórzy mogą potrzebować napisów, ale raczej aktorzy tam mówią wyraźnie). Są też seriale, których zupełnie nie trawię i nawet nie staram się zrozumieć np. Californication, chociaż mój brat twierdzi, że jest łatwiejszy niż HIMYM. Z innych ciekawych sposobów na osłuchiwanie się to polecam włączyć sobie radyjko np. BBC Radio w dzień (ja nastawiam się na amerykański angielski, więc mi to średnio pasuje), a wieczorem WNYC z Nowego Jorku - takie amerykańskie Tok FM:). Zamiast BBC można sobie puszczać podcasty np. Freakonomics (zakochałem się w książce, w audycji już niekoniecznie), albo zupełną perełkę "This American Life" (wcześniej "Your Radio Playhouse"). Można też słuchać audiobooków jak się jest mniej osłuchanym. Polecam (jak każdy)Harrego Pottera w wersji brytyjskiej (mimo wszystko wg mnie jest lepiej "zagrana").</p>
<p>No i trzeba dużo czytać - 20-30 stron dziennie to przyzwoity poziom. Najlepiej książki bliskie zainteresowaniom - prawnicy powinni zaczynać od Grishama, informatycy od "Cyfrowej twierdzy" Dana Browna (to tylko sugestia!). Warto też trochę samemu popisać.</p>
<p>Co do rozmów z Native'ami - poszukaj zapomnianej ciotki z Ameryki. Każdy ma kogoś takiego. Najlepiej 2-3 pokolenie. Dzwoń raz na tydzień na Skypie na godzinkę - ciotka się ucieszy, że ktoś ma ochotę jej dostarczyć niusów zza wielkiej wody;). Powodzenia!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/107/1247">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Mike;) (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/12/my-language-goals-for-2012#comment-1247">Monday, January 23, 2012 - 21:56</a></span>
</div>
</div>
<div class="indented"><a id="comment-1248"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Dzięki za ten komentarz!</p>
<p>Na razie odpuściłem sobie Futuramę, ale oglądałem tak (każdy odcinek)<br/>
bez napisów, z napisami po angielsku, z napisami po polsku</p>
<p>Później starałem się dodawać wszystkie niezrozumiałe słowa i konstrukcje do Anki. Ale było to trochę męczące i chyba dlatego przerwałem.</p>
<p>Uważasz, że powinienem przejmować się nieznanymi słowami i wyrażeniami, czy po prostu odpuścić sobie i cieszyć się tym co rozumiem.</p>
<p>Aha, do dziś pamiętam słowa piosenki „We’re whalers on the moon/ We carry our harpoon” :D Czyli chyba zapada w pamięć :D</p>
<p>No i jak uważasz: oglądać na siłę aż zrozumiem czy raz każdy odcinek z napisami?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/107/1248">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/12/my-language-goals-for-2012#comment-1248">Tuesday, January 24, 2012 - 15:55</a></span>
</div>
</div>
<div class="indented"><a id="comment-1249"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/de73ae204307122c64628f17cb1ae840?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Wrzucanie tekstów z Futuramy do Anki to trochę za dużo roboty. Seriale, audiobooki, słuchowiska traktuj raczej jako mixing business with pleasure;). To ma Ci pomóc przede wszystkim się osłuchać z językiem i zastosowaniem konstrukcji gramatycznych. Staraj się zrozumieć, ale nie przedkładaj tego ponad ponad przyjemność oglądania. Jeżeli znasz używane słówka, ale nie możesz ich zrozumieć to oglądaj z napisami, a przynajmniej kilkanaście odcinków, bo później i tak automatycznie załapiesz. Ja do dzisiaj nie rozumiem Williego z Simpsonów;).</p>
<p>"Vocabsy" możesz budować na podstawie słówek z książek albo komercyjnych programów jak np. SuperMemo (ma genialną bazę Advanced w Extreme English - polecam, bo dużo tam, oprócz samych słówek, konstrukcji pseudozdaniowych). Ten zestaw jest już niedostępny od jakichś 8 lat, ale kto szuka ten znajdzie:). Możesz też budować słownictwo przy pomocy genialnego BiblioBirda - szkoda, że nie mam czasu, bo sam chętnie bym trochę go powykorzystywał.</p>
<p>Mój sposób na oglądanie seriali w celach edukacyjnych: obejrzyj raz bez napisów, jeżeli za trudne to z angielskimi napisami, jeżeli dalej za trudne to obejrzyj raz z polskimi, żeby znać kontekst (chociaż uważam, że lepiej zmienić serial, niż oglądać coś z polskimi napisami, bo to może popsuć cały efekt). Jeżeli czujesz, że masz już trochę wyższy poziom to oglądaj sezonami - najpierw z napisami angielskimi, potem bez, potem jeszcze raz bez i wystarczy. Po ukończeniu wszystkich sezonów możesz obejrzeć całość jeszcze raz, a jak nie lubisz tego serialu to oglądaj następny:).</p>
<p>Pamiętaj, że nauka angielskiego dzieli się na dwa rodzaje: naukę aktywną i bierną. Aktywna to wkuwanie słówek (i tylko słówek, chociaż warto czasem porobić jakieś ćwiczenia gramatyczne typu Murphy albo Hewings, tak dla zabawy;&gt;), a bierna, ta zdecydowanie bardziej przyjemna, to przede wszystkim czytanie książek, słuchanie audiobooków, oglądanie seriali, filmów (input) i ewentualnie mówienie do ludzi, do siebie, do ściany - niesamowite jest to jak automatycznie składają się zdania itd. Mówienie najprościej zacząć od zaplanowania następnego dnia po angielsku (może nie super dokładny, ale dobrze, żeby były szczegóły) jak leżysz przed snem w łóżku (10 minut, a niesamowicie okazuje słabsze punkty, gdzie trzeba jeszcze nadrobić słownictwo, ale z czasem nie ma już takich problemów). Można też sobie myśleć po angielsku np. jak się idzie można nazywać mijane przedmioty itd. Warto wyrobić sobie parę takich nawyków, wtedy nauka przychodzi łatwiej:).</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/107/1249">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Mike;) (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/12/my-language-goals-for-2012#comment-1249">Tuesday, January 24, 2012 - 19:11</a></span>
</div>
</div>
<div class="indented"><a id="comment-1251"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Super! Bardzo pomocna odpowiedź!<br/>
Muszę powiedzieć, że aż tak źle nie jest, bo od jakiegoś czasu oglądam wystąpienia w TED. Mówcy pochodzą z różnych krajów, stąd różne akcenty. Ale bardzo dużo rozumiem. No czasem ktoś mówi bardzo szybko i wtedy jest trudno.</p>
<p>Jak tylko uporządkuję sobie sprawy, wracam do Futuramy. W końcu to tylko 20 minut dziennie – w sam raz.</p>
<p>Co do SuperMemo to uczę się obecnie z „Angielski. No Problem!” bo chciałem trochę uzupełnić braki.<br/>
Pewnie dzisiejsze SM to nie to samo co dawniej, szczególnie że oni idą teraz tylko na ilość, nie na R&amp;D.<br/>
Ale ta baza z Extreme jest też chyba dostępna i teraz, na różnych platformach.</p>
<p>W każdym razie ja posłuchałem rady i postanowiłem nie poświęcać aż tak dużej ilości czasu na SRS, czyli tak jak Ty mówisz, na aktywną naukę. Wolę to rozłożyć w czasie. I tak np. ilość nowych słów w Anki ograniczyłem do 8 dziennie co przekłada się na 3000 rocznie. Ponieważ nauka nie kończy się po roku ani dwóch, 3000 słów rocznie za cenę 10-12 minut poświęconych to na prawdę świetny kompromis. To może to nie 3000 niepowtarzalnych słów, ale faktów wg starej terminologii – w nowej to chyba 3000 notatek.</p>
<p>Dziękuję jeszcze raz za komentarz i pozdrawiam serdecznie!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/107/1251">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/12/my-language-goals-for-2012#comment-1251">Wednesday, January 25, 2012 - 01:34</a></span>
</div>
</div>
<div class="indented"><a id="comment-1256"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/de73ae204307122c64628f17cb1ae840?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>To nowe SuperMemo, jak przeglądałem, to ma dla mnie zbyt wiele bajerów. Może i nauka jest mniej monotonna, ale według mnie mniej wygodna. Jak zaczynałem zabawę w SM to robiłem na początku po 50-100 nowych słówek (z racji faktu, że większość znałem), a teraz po około 15-20, a jak nie mam czasu to robię tylko powtórki. W bazie Advanced jest ponad 38 tysięcy pozycji, więc jest to nauka na laaaaata:).</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/107/1256">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Mike;) (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/12/my-language-goals-for-2012#comment-1256">Wednesday, January 25, 2012 - 07:41</a></span>
</div>
</div>
<div class="indented"><a id="comment-1268"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Słuchaj, a masz może dobrej jakości napisy do Futuramy? Bo te, które teraz mam, były jakby niepełne – czasem więcej mówili, a było mniej zapisane.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/107/1268">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/12/my-language-goals-for-2012#comment-1268">Friday, January 27, 2012 - 12:02</a></span>
</div>
</div>
<div class="indented"><a id="comment-1269"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/de73ae204307122c64628f17cb1ae840?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Nie mam napisów do futuramy, ale wiem, że na <a href="http://www.tvsubtitles.net" title="www.tvsubtitles.net">www.tvsubtitles.net</a> są całkiem przyzwoite. Często jest tak, że napisy są uproszczone, ale lepszy rydz niż nic;).</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/107/1269">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Mike;) (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/12/my-language-goals-for-2012#comment-1269">Friday, January 27, 2012 - 13:33</a></span>
</div>
</div>
</div></div></div></div></div><a id="comment-1250"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Również polecam podkasty - dużo ich słuchałem w języku polskim.  Ale 20-30 stron czytania dziennie jest trochę ekstremalne.  Trudno byłoby znaleźć czas na to w moim ojczystym języku i oczywiście czytanie w obcym języku idzie o wiele wolniej. :-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/107/1250">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/12/my-language-goals-for-2012#comment-1250">Tuesday, January 24, 2012 - 20:19</a></span>
</div>
</div>
<div class="indented"><a id="comment-1252"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Może nie ekstremalne ale może być nużące. Na przykład ostatnio czytałem 30-40, czyli cały rozdział „Smashing Book #2”.</p>
<p>Ale pół godziny dziennie to w sam raz.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/107/1252">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/12/my-language-goals-for-2012#comment-1252">Wednesday, January 25, 2012 - 01:36</a></span>
</div>
</div>
<a id="comment-1255"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/de73ae204307122c64628f17cb1ae840?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Zależy co się czyta;). Mi np. Grisham idzie piorunem, a np. "Metro 2033" to straszna męczarnia (może dlatego, że to przekład, a może dlatego, że książka jest monotematyczna), tak czy inaczej porzuciłem ją na 65% i może kiedyś wrócę;). 20 stron dziennie to około godzina.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/107/1255">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Mike;) (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/12/my-language-goals-for-2012#comment-1255">Wednesday, January 25, 2012 - 07:36</a></span>
</div>
</div>
</div></div></div></div></div><a id="comment-1127"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/b69ba4fd3269de01cad11c07a047851d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Jestem ciekaw czy planuje Pan nauke w przyszłości kolejnego języka zwłaszcza ze wie Pan jak sie go nauczyć bo polski zna Pan biegle. Jestem pod wrazeniem to niesamowite ze nauczyl sie Pan tyle slow i zwrotow. Pozdrawiam :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/107/1127">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/12/my-language-goals-for-2012#comment-1127">Wednesday, December 28, 2011 - 09:05</a></span>
</div>
</div>
<div class="indented"><a id="comment-1128"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dziękuję za miłe słowa. :-) Ale osobiście sądzę, że nadal jest dużo do nauczenia się w języku polskim! Nauka języka nigdy się nie kończy. :-)</p>
<p>Ale, tak, chciałbym nauczyć się kolejnego języka tylko nie w roku 2012. Będzie sporo roboty, żeby podszkolić mój polski do tego poziomu, żeby zdać egzamin C2!</p>
<p>Na pewno dam znać na swoim blogu, kiedy zdecyduję na nowy język. :-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/107/1128">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/12/my-language-goals-for-2012#comment-1128">Wednesday, December 28, 2011 - 09:29</a></span>
</div>
</div>
<div class="indented"><a id="comment-1190"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.stepkowski.net" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/66b737791679a5bac5814962462d527a?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Dawid, a czy poziom tego egzaminu C2 nie jest taki, że rdzennemu Polakowi trudno go zdać ? :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/107/1190">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.stepkowski.net" rel="nofollow">Wojciech Stępkowski</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/12/my-language-goals-for-2012#comment-1190">Tuesday, January 10, 2012 - 01:31</a></span>
</div>
</div>
<div class="indented"><a id="comment-1191"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Mam nadzieję, że nie!  Bo jeśli rdzenny Polak nie zdałby tego egzaminu, nie mam szansy. :-/  Zobaczymy!  Pozdrawiam, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/107/1191">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/12/my-language-goals-for-2012#comment-1191">Tuesday, January 10, 2012 - 09:11</a></span>
</div>
</div>
<div class="indented"><a id="comment-1407"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d0e58861d35e3865029a0521735df5b9?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Tak, nie jednemu Polakowi byłoby trudno zdać C2, ale tak samo, jak Anglikowi podobny test w jego języku.<br/>
Ludzie uczący się języka obcego mają często większą "wrażliwość" na niektóre jego aspekty i jeśli przygotowują się do egzaminu, przyzwyczajają się też do określonych typów zadań. Paradoksalnie, obcokrajowcowi jest nawet łatwiej to zdać, niż przeciętnemu 'nativowi'. Myślę, że masz wszelkie szanse na zdanie C2 (poziom biegły, zbliżony do ojczystego). W Twojej sytuacji starałbym się nawet o jak najlepszy wynik/ocenę, bo sam 'pass' myślę, że masz już w kieszeni :-).</p>
<p>P.S. Co mogę Ci doradzić, to "wkuwanie" tych tabelek, teorii, reguł, bo rzeczywiście pojawiają się na tych egzaminach. No i zapamiętanie, jakie czasowniki występują z 'się', bo czasem opuszczasz ten zaimek zwrotny w swojej mowie.</p>
<p>Pozdrawiam</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/107/1407">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">shark.qwerty (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/12/my-language-goals-for-2012#comment-1407">Saturday, March 3, 2012 - 11:01</a></span>
</div>
</div>
<div class="indented"><a id="comment-1411"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dziękuję, że wierzę w moją umiejętność. :-) Ale byłbym zadowolony, gdybym zdał ten egzamin w ogóle! Dla mnie ocena nie ma znaczenia.  Pozdrawiam serdecznie, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/107/1411">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/12/my-language-goals-for-2012#comment-1411">Tuesday, March 6, 2012 - 14:09</a></span>
</div>
</div>
</div></div></div></div></div><a id="comment-1129"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8726c2c23bc71223af041803c3e91cae?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Rzeczywiście 'polski' pisze się w języku polskim z małej litery. Cały dzień używałam angielskiego i w pośpiechu napisałam tak jak to powinno być po angielsku.<br/>
A co do moich postanowień to zaczynam intensywnie uczyć się francuskiego. Moim celem jest też zorganizowanie czasu tak, by starczyło go na czytanie książek i oglądanie filmów po angielsku.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/107/1129">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Paulina (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/12/my-language-goals-for-2012#comment-1129">Wednesday, December 28, 2011 - 14:54</a></span>
</div>
</div>
<a id="comment-1130"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.pzielinski.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/cf55d548310520d36bd123dca798d8cb?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Jak się czyta Twój blog to aż się chce również złożyć pewne postanowienia aby i dla mnie 2012 był jeszcze lepszy. Dzięki za motywację!</p>
<p>Osobiście jednak uważam, że jak coś chce się polepszyć, to robię to natychmiast a nie czekam do następnego roku:)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/107/1130">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.pzielinski.com" rel="nofollow">Piotr Zielinski</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/12/my-language-goals-for-2012#comment-1130">Thursday, December 29, 2011 - 11:59</a></span>
</div>
</div>
<a id="comment-1138"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a25f3de48df09973ae21542a0903abd5?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hmmm, nie wiem w jaki sposób wymawiasz polskie "r", ale prawidłowo robi się to tak, że musisz językiem dotknąć górnych zębów ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/107/1138">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">josff (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/12/my-language-goals-for-2012#comment-1138">Friday, December 30, 2011 - 14:38</a></span>
</div>
</div>
<div class="indented"><a id="comment-1145"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hrm.  Więc na pewno nie robię to prawidłowo. :-/  Język dotyka "wał dziąsłowy" (mam nadzieję, że to poprawne słówko - mam na myśli "alveolar ridge" po angielsku).</p>
<p>Muszę zastanawiać się o tym, jak to zmienić!  Dziękuję za poradę.</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/107/1145">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/12/my-language-goals-for-2012#comment-1145">Saturday, December 31, 2011 - 09:03</a></span>
</div>
</div>
</div><a id="comment-1159"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/2c32d3ed293a4021fd90d4b2ddbb578f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Josf, chyba jednak to David ma rację: <a href="http://en.wikipedia.org/wiki/Alveolar_trill" title="http://en.wikipedia.org/wiki/Alveolar_trill">http://en.wikipedia.org/wiki/Alveolar_trill</a></p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/107/1159">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Mikołaj (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/12/my-language-goals-for-2012#comment-1159">Sunday, January 1, 2012 - 05:40</a></span>
</div>
</div>
<a id="comment-1208"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c353cf436780f796e77c34f3e290d5aa?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witam Was, na początku WSZYSTKIM gratuluję mobilizacji :) ja w Nowym roku postanowiłam, że rok 2012 będzie dla mnie rokiem "angielskim' i podciągnę się w mówieniu i pisaniu . Blog super mam nadzieję, że wasza mobilizacja i zaangażowanie będzie mi pomocne :) Trzymajcie kciuki.<br/>
Pozdrawiam<br/>
Marzena</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/107/1208">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/12/my-language-goals-for-2012#comment-1208">Monday, January 16, 2012 - 04:46</a></span>
</div>
</div>
<div class="indented"><a id="comment-1210"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Marzena!</p>
<p>Dzięki. :-) Życzę Ci powodzenia z angielskim w nowy roku! Daj znać jak Ci idzie!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/107/1210">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/12/my-language-goals-for-2012#comment-1210">Monday, January 16, 2012 - 16:11</a></span>
</div>
</div>
</div><a id="comment-1213"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/01/vlog-skupianie-si%C4%99-na-tym-co-jest-dla-mnie-wa%C5%BCne" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] projektami i nie tylko własnymi. Niestety mój kierunek trochę pobiegł od moich pasji. Jak już napisałem na moim blogu, był żałosny rok jeśli chodzi o naukę j. [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/107/1213">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/01/vlog-skupianie-si%C4%99-na-tym-co-jest-dla-mnie-wa%C5%BCne" rel="nofollow">Vlog: Skupianie się na tym, co jest dla mnie ważne | LinguaT</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/12/my-language-goals-for-2012#comment-1213">Tuesday, January 17, 2012 - 08:13</a></span>
</div>
</div>
<a id="comment-1214"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/808fcf2ba0260a10eaccd2add1a77f0c?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Gratuluję i życzę powodzenie w zdaniu jak najlepiej egzaminu.<br/>
Ja w tym roku mam zamiar poprawić swoje zdolności mówienia, ale nie mam za bardzo z kim. Znasz może jakiś inny sposób ? </p>
<p>Z góry dziękuję za odpowiedź.<br/>
Pozdrawiam, Krzysztof.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/107/1214">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Chris (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/12/my-language-goals-for-2012#comment-1214">Tuesday, January 17, 2012 - 10:11</a></span>
</div>
</div>
<div class="indented"><a id="comment-1225"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Krzysztof!</p>
<p>Dzięki. :-)</p>
<p>Możesz z kimś rozmawiać przez internet?  Właśnie napisałem artykuł na ten temat:</p>
<p><a href="http://www.linguatrek.com/blog/2011/11/how-to-practice-speaking-over-the-internet" title="http://www.linguatrek.com/blog/2011/11/how-to-practice-speaking-over-the-internet">http://www.linguatrek.com/blog/2011/11/how-to-practice-speaking-over-the...</a></p>
<p>Mam nadzieję, że to pomoże!</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/107/1225">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/12/my-language-goals-for-2012#comment-1225">Tuesday, January 17, 2012 - 18:22</a></span>
</div>
</div>
</div><a id="comment-1229"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/91211663c39c23511e986af3f19d1f35?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Gratuluje opanowania języka polskiego -jest językiem niezwykle trudnym ,szczególnie w piśmie, a pan opanował go do perfekcji.Ja także mam noworczne postanowienia-nauka jęz.niemieckiego-uczę się sama-z SuperMemo,i obecnie uczęszczam na kurs -od podstaw.Gratuluje i pozdrawiam Gosia.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/107/1229">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">GOSIA (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/12/my-language-goals-for-2012#comment-1229">Thursday, January 19, 2012 - 14:12</a></span>
</div>
</div>
<div class="indented"><a id="comment-1235"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Sądzę, że jeszcze nie opanowałem języka polskiego - nadal mam dużo roboty przed sobą - ale dziękuję za miłe słowa. :-)  Życzę Ci powodzenia w nauce języka niemieckiego!  Pozdrawiam serdecznie, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/107/1235">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/12/my-language-goals-for-2012#comment-1235">Saturday, January 21, 2012 - 07:43</a></span>
</div>
</div>
</div><a id="comment-1231"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://jakisdziwnykoles.wordpress.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/5cb9638a8c6ba09efbaa3896fbde6ee4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Panie Dawidzie - co do polskich książek do przeczytania, to polecam cała sagę o wiedźminie Andrzeja Sapkowskiego. Mózg Panu zawrze od nowego słownictwa (zwłaszcza przy dialogach "chłopstwa" :))</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/107/1231">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://jakisdziwnykoles.wordpress.com" rel="nofollow">Emes</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/12/my-language-goals-for-2012#comment-1231">Thursday, January 19, 2012 - 17:32</a></span>
</div>
</div>
<div class="indented"><a id="comment-1236"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dziękuję za polecenie. :-) Pozdrawiam, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/107/1236">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/12/my-language-goals-for-2012#comment-1236">Saturday, January 21, 2012 - 07:48</a></span>
</div>
</div>
</div>
</div>
