---
permalink: /blog/2011/12/unique-american-religions/
layout: blog-old
title: 'Unique American Religions'
day: 7
month: Dec
year: 2011
category: USA
tags: 
  - 'religion'
language: en
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/12/church.jpg" rel="lightbox"><img alt="Inside of a church" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/12/church.jpg" title="Photo by Marc."/></a><div class="caption"><a href="http://www.flickr.com/photos/30982194@N05/3952192361">Photo</a> by <a href="http://www.flickr.com/photos/marcp_dmoz/">Marc</a>.</div></div>
<p>A few interesting religions began in the United States, including Mormonism and the Jehovah’s Witnesses.  The Amish religion did not originate in the United States, but this interesting cultural group is now only found in the U.S. (and a bit of Canada).</p>
<p>Though these three religions are very different, they are all based in the U.S., so I’ve received many questions about them from LinguaTrek readers.  All three of these religions are based in <a href=" http://en.wikipedia.org/wiki/Christianity">Christianity</a>.</p>
<p><strong>Read more to learn about these interesting religious groups!</strong></p>
<h2>Mormonism</h2>
<p>Joseph Smith, who is now viewed as a Mormon prophet, established the <a href="http://mormon.org/">Mormon religion</a> in the 1820’s in New York.  Mormons believe that the Angel Moroni spoke to Joseph Smith and showed him how to translate the Book of Mormon from a set of golden plates he found in a buried box.</p>
<p>The Book of Mormon describes the indigenous people of the Americas as Israelites who believed in the coming of Jesus Christ hundreds of years before he was even born.  Needless to say, this rewriting of genetic history is often <a href="http://en.wikipedia.org/wiki/Genetics_and_the_Book_of_Mormon">viewed as controversial</a>.</p>
<p>Today, there are many branches of Mormonism, but 99% of Mormons are members of The Church of Jesus Christ of Latter-Day Saints (or LDS).  The LDS group followed Brigham Young to Utah after Joseph’s Smith death, mainly to escape persecution.  In Utah today, the LDS have an <a href="http://en.wikipedia.org/wiki/Mormons#Culture_and_practices">isolated and rich culture</a> based on a series of precise rituals, high moral standards and volunteerism and humanitarian/missionary efforts.</p>
<p>Many people believe that most Mormons practice <a href="http://en.wikipedia.org/wiki/Polygyny#United_States_and_Canada">polygyny</a>, but this isn’t true.  Even though Joseph Smith originally taught polygyny as part of Mormonism, only a minority of Mormons (known as Mormon Fundamentalists) still practice.</p>
<p>Today there are over 14 million Mormons throughout the world.</p>
<p>Ironically, all the Mormons I've met were in Poland. :-)</p>
<h2>Jehovah’s Witnesses</h2>
<p>Jehovah’s Witnesses grew out of a Bible study group in Pittsburgh in 1870, but were not called <a href="http://www.watchtower.org/">Jehovah’s Witnesses</a> until 1931.  The Jehovah’s Witness religion originated from a rejection of many concepts traditionally viewed as mainstream Christian.</p>
<p>The main belief system revolves around a focus on <a href="http://en.wikipedia.org/wiki/Armageddon ">Armageddon</a> and Judgement Day.  They believe a small group of “anointed” followers (only <a href="http://en.wikipedia.org/wiki/144000_%28number%29#Jehovah.27s_Witnesses">exactly 144,000</a> people) will go to heaven.  After the end of the world, the rest of the “saved” will live in an earthly paradise.  All others simply cease to exist.  They also do not believe in Hell.</p>
<p>The <a href="http://en.wikipedia.org/wiki/Jehovah%27s_Witnesses_practices#Memorial_of_Christ.27s_death">Memorial</a> (of Christ’s death) ceremony is the <strong>only</strong> holiday that Jehovah’s Witnesses celebrate.  They don’t even celebrate birthdays!  At the Memorial, a small number partake in the eating of bread and drinking of wine, a symbolic representation of Christ’s body and blood, consumed in remembrance of Christ’s death for the sins of his people.</p>
<p>Today, there are over 8 million practitioners worldwide, with over 18 million in attendance each year for the Memorial ceremony.</p>
<h2>The Amish</h2>
<p>The Amish people actually came from Switzerland to the USA (mainly Pennsylvania) around 1730, and now mainly occupy many areas of the United States.  Most people are very curious about the Amish because they’re a very isolated culture that is very different than mainstream America.</p>
<p>The Amish are mostly known for a very simple way of life: they dress simply, live modestly, and reject modern conveniences and technologies.  They do not use phones, computers, cars, or even electricity!  Unsurprisingly, the Amish do not have a website.  ;-)  But I did find <a href="http://www.amish.net/faq.asp">this helpful FAQ page</a>.</p>
<p>The Amish use the Bible as a guide for their humble lifestyle.  They emphasize church and family above all else.  Because the Amish are dedicated to manual labor, they are well known for their craftsmanship.  The Amish sell high-quality, handmade products like quilts and furniture.</p>
<p>When my friend Kasia visited the States, she made a <a href="http://www.youtube.com/watch?v=0TNKLQztbm4&amp;feature=channel_video_title">video about her experience</a> visiting an Amish area.  Check it out!</p>
<p>There are about 250,000 Amish people living in the U.S. and Canada today.</p>
<p><strong>What interests you most about these unique American religions?  What other U.S. religions do you find interesting?  Leave a comment below!</strong></p>
</div>

<div id="comments">
<a id="comment-1078"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/ffa3c1e5a96eea844609d56bcedb50a4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>A few weeks ago I've watched very interesting program on TV about the Amish's family. They live in Poland near Warsaw, but they're very modern people, because they use computer and they've got a car :) but they live at home in forest far away from another people.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/104/1078">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Czarek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/12/unique-american-religions#comment-1078">Wednesday, December 7, 2011 - 16:48</a></span>
</div>
</div>
<div class="indented"><a id="comment-1082"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Interesting!  Very different than the Amish in the States.</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/104/1082">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/12/unique-american-religions#comment-1082">Wednesday, December 7, 2011 - 17:42</a></span>
</div>
</div>
</div><a id="comment-1080"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/665dd8af4145d02873630e5204c99f98?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Jehovah’s Witnesses is not a religion. Officially.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/104/1080">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Paweł (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/12/unique-american-religions#comment-1080">Wednesday, December 7, 2011 - 17:26</a></span>
</div>
</div>
<div class="indented"><a id="comment-1081"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Do you have a reference for this?  I actually wasn't aware that religions needed to be officially registered.</p>
<p>Thanks!<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/104/1081">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/12/unique-american-religions#comment-1081">Wednesday, December 7, 2011 - 17:40</a></span>
</div>
</div>
<div class="indented"><a id="comment-1083"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/665dd8af4145d02873630e5204c99f98?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p><a href="http://www.sciaga.pl/tekst/88665-89-swiadkowie_jehowy_w_spoleczenstwie_polskim/strona/1" title="http://www.sciaga.pl/tekst/88665-89-swiadkowie_jehowy_w_spoleczenstwie_polskim/strona/1">http://www.sciaga.pl/tekst/88665-89-swiadkowie_jehowy_w_spoleczenstwie_p...</a></p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/104/1083">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Paweł (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/12/unique-american-religions#comment-1083">Thursday, December 8, 2011 - 05:48</a></span>
</div>
</div>
<div class="indented"><a id="comment-1091"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks, that's very interesting!  I didn't read the whole thing, but from what I gathered from the first two pages, religions have to be registered with the government in Poland to be religions - otherwise they are sects.</p>
<p>I don't know a ton about the situation in the USA, but it's my understanding that religions themselves aren't regulated by the government at all.  Something is a religion simply by someone believing it.  But churchs can be registered as non-profit institutions for tax reasons.  So, if your church wants to take donations, they'll register as a non-profit under some religous classification, so they don't have to pay taxes on it.</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/104/1091">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/12/unique-american-religions#comment-1091">Friday, December 9, 2011 - 18:33</a></span>
</div>
</div>
<div class="indented"><a id="comment-1092"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/24999d59c10d6d17efccff6b12a8a8b4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>They've been officially registred in Poland since 1990. You can check it out here <a href="http://www.msw.gov.pl/portal/pl/92/9108/Koscioly_i_zwiazki_wyznaniowe_wpisane_do_rejestru_kosciolow_i_innych_zwiazkow_wy.html" title="http://www.msw.gov.pl/portal/pl/92/9108/Koscioly_i_zwiazki_wyznaniowe_wpisane_do_rejestru_kosciolow_i_innych_zwiazkow_wy.html">http://www.msw.gov.pl/portal/pl/92/9108/Koscioly_i_zwiazki_wyznaniowe_wp...</a></p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/104/1092">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Seba (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/12/unique-american-religions#comment-1092">Saturday, December 10, 2011 - 06:30</a></span>
</div>
</div>
<div class="indented"><a id="comment-1093"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks!  I wonder why that first article implies that they aren't registered?  Looking at it again, it doesn't actually say directly that they aren't registered.</p>
<p>It says: "W Polsce zarejestrowanych jest przeszło 150 związków wyznaniowych i kościołów, ale według specjalistów w naszym kraju działa także drugie tyle nielegalnych sekt. Pod ich wpływem znajduje się od 250 tyś. do miliona ludzi, głównie młodych."</p>
<p>And then it goes on to talk about sects with the implication that Jehova's Witnesses are a sect.  The author must not like them much. :-)</p>
<p>I met some Jehova's Witnesses in Poland two times.  They were on the street handing out flyers about their next guess about when the world would end.  But they weren't Poles, they were actually Americans who made the trip out to Poland.  The flyers were in Polish but none of them could actually speak it.</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/104/1093">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/12/unique-american-religions#comment-1093">Saturday, December 10, 2011 - 08:29</a></span>
</div>
</div>
<div class="indented"><a id="comment-1094"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/665dd8af4145d02873630e5204c99f98?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>The topic about what is religion and what is not, is very complicated.  You can find a lot of information that confirm that Jehova's Witnesses are a sect and no information that they are not.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/104/1094">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Paweł (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/12/unique-american-religions#comment-1094">Saturday, December 10, 2011 - 08:46</a></span>
</div>
</div>
<div class="indented"><a id="comment-1095"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>I can understand people having different <em>beliefs</em> as to what is a religion and what is not.  I've heard people argue that Buddism is not a religion because it's non-theist and so on.  This is a very philisophical question which has many answers.</p>
<p>But this thread started by saying that Jehovah's Witnesses were not a religion <em>officially</em> - that's a legal question, which has only one answer.  According to the last link from MSW, they are <em>officially</em> a religion in Poland.</p>
<p>I have no intention of getting into the philisophical debate about whether Buddists, Jehovas Witnesses, Scientologists, etc are really religions or not.</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/104/1095">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/12/unique-american-religions#comment-1095">Saturday, December 10, 2011 - 08:57</a></span>
</div>
</div>
</div></div></div></div></div></div></div><a id="comment-1096"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/665dd8af4145d02873630e5204c99f98?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I got your point. But there is a big difference between "religia" and "związek wyznaniowy". The second I can establish for my own:)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/104/1096">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Paweł (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/12/unique-american-religions#comment-1096">Saturday, December 10, 2011 - 09:04</a></span>
</div>
</div>
<div class="indented"><a id="comment-1296"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/6ee96ab041f65daa1184242ad7f10cb1?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>You may not like Jehovah's Witnesses for various reasons unknown to us or maybe you are just biased against them, but the facts are that the Witnesses operate legally in Poland, they abide by the Polish law, they pay required taxes, and they do not isolate themselves from the rest of society, as sects do.</p>
<p>Besides, the current Polish Constitution guarantees the freedom of religion in Poland, so if the Polish state and the Polish law do not have a problem with the Witnesses, why do you?</p>
<p>Also, I think it's worth mentioning here that today Jehovah's Witnesses are the third largest religious group in Poland - right after the Catholic and the Orthodox Church.</p>
<p>Regards,<br/>
Michael</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/104/1296">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">skorway (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/12/unique-american-religions#comment-1296">Friday, February 3, 2012 - 01:00</a></span>
</div>
</div>
</div>
</div>
