---
permalink: /blog/2012/01/8-reasons-to-use-youtube-to-learn-a-language/
layout: blog-old
title: '8 reasons to use YouTube to learn a language'
day: 10
month: sty
year: 2012
category: language learning
tags: 
  - 'YouTube'
language: pl
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/01/youtube.jpg" rel="lightbox"><img alt="David in a cardboard cut of a YouTube window" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/01/youtube.jpg" title="My costume from Halloween 2010."/></a><div class="caption">My costume from <a href="http://www.linguatrek.com/blog/2010/10/halloween-adults">Halloween 2010</a>.</div></div>
<p>As most of you probably know, I've been using <a href="http://www.youtube.com/">YouTube</a> in my effort to learn Polish for <a href="http://www.linguatrek.com/blog/2011/09/vlog-trzy-lata-na-youtube-pi%C4%99%C4%87-lat-z-j-polskim">over three years now</a>.</p>
<p>YouTube is a massive service, with "hundreds of millions of users from around the world."  According to <a href="http://www.youtube.com/t/faq">their FAQ</a>, "48 hours of video are uploaded every minute, resulting in nearly 8 years of content uploaded every day."</p>
<p>Using YouTube has led to many very positive things in my life and, in my opinion, has also significantly improved my language abilities.</p>
<p><em>I strongly encourage <strong>YOU</strong> to try using YouTube in your language learning!</em></p>
<p><strong>Read more to find out why!</strong></p>
<h2>My first YouTube video</h2>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/5NA29HFBC68?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/5NA29HFBC68?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>I uploaded this video on September 27th, 2008.  I was planning to record only two videos: one in Polish and one in Russian (which I was also learning at the time) and link to them from my <a href="http://www.hackyourlife.org/">old blog</a>.</p>
<p>I didn't really expect many people to watch it - and certainly only readers of my blog would be interested!

</p><p>But I began getting really encouraging comments from random native speakers of Polish.  Three years later, that video has over 10k views and over 100 (100% positive!) comments.  This inspired me to <a href="www.youtube.com/user/dsnopek">continue recording YouTube videos</a> in Polish.  Now I have over 60 videos.</p>
<h2>Reasons to watch YouTube videos</h2>
<p>Even if you never record your own video, there are lots of reasons to watch other people's videos in the language you are learning.  Here are a few:</p>
<p>(<em>NOTE: While there are lots of different types of content on YouTube - music videos, television, machinima, etc - I recommend watching "vlogs," or video blogs, which usually consist of one person talking to the camera.</em>)</p>
<ul>
<li><strong>Access to natural, conversational speech.</strong>  Movies and television can be great, but they are still artificial to a certain extent.</li>
<li><strong>Experience the culture from the perspective of a native.</strong>  Traveling to the country and experiencing the culture firsthand is great.  But you're still experiencing it from your perspective.  Watching someone's Christmas celebration on YouTube, for example, allows you to experience the event from their perspective!</li>
<li><strong>Behind the videos are <em>real people</em> that you can talk to and get to know!</strong>  If you don't have any native speakers in your home country, this is a great opportunity to meet some.</li>
<li><strong>It's free!</strong>  Professional language learning products that teach you slang or conversation can be very expensive.  Why pay when we can just connect with each other and have conversations (even one-sided ones)?</li>
</ul>
<h2>Reasons to record YouTube videos</h2>
<p>I <em>highly recommend</em> recording YouTube videos in the language you are learning!  Here are a few of the positive things I gained from doing so:</p>
<ul>
<li><strong>It helped me get over <a href="http://www.linguatrek.com/blog/2011/05/how-to-overcome-your-fear-of-speaking">my fear of speaking</a>.</strong>  At first I was afraid to speak because I know I make a lot of mistakes in Polish.  However, lots of people watched my videos (which have tons of mistakes in them) and...  Nothing went wrong!  No one attacked me.  They understood what I was trying to say.   Slowly, I became less and less afraid.</li>
<li><strong>I met tons of interesting people.</strong>  There are very few native Polish speakers in Milwaukee.  To this day, I know only one or two.  But, via my videos, I've had the opportunity to talk with some really cool people and form some lasting relationships.</li>
<li><strong>I get a TON of corrections.</strong>  Like I mentioned above, I make many mistakes in every video.  People have been giving me corrections since the beginning, but I ended up receiving so many that I've started using <a href="http://www.linguatrek.com/blog/2011/06/use-lang-8-to-practice-writing">Lang-8</a> (a social language correction service) to collect them.</li>
<li><strong>Free compliments!</strong>  In all the time I've recorded YouTube videos, I have only ever received one or two truly negative comments.  Sometimes people disagree with what I'm saying, but we've always been able to discuss the topic politely.  Most people are simply happy to see foreigners take an interest in their country and their language!  The overwhelming majority of comments I receive are simply compliments. :-)  This has helped to keep me motivated over the years.</li>
</ul>
<p><strong>Have you used YouTube in your language learning?  Has it helped you?  If so, how?  If not, why not?  Please leave a comment below!</strong></p>
</div>

<div id="comments">
<a id="comment-1194"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/b69ba4fd3269de01cad11c07a047851d?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Już w pierwszym filmie mówił Pan dobrze po polsku, ale teraz mówi Pan doskonale :)gdy patrzy się na ten Pana pierwszy filmik a te ostatnio dodane. Naprawdę jest Pan wielki gratuluję talentu i oczywiście wytrwałości bo pewnie nawet dla ludzi zdolnych początki są trudne pozdrawiam.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/110/1194">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/01/8-reasons-to-use-youtube-to-learn-a-language#comment-1194">środa, styczeń 11, 2012 - 09:45</a></span>
</div>
</div>
<div class="indented"><a id="comment-1201"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Dzięki. :-) Nie mówiłem tak dobrze w realnym życiu.  I co więcej w ogóle bałem się mówić. ;-)  Nie wiem czy jest widać ale w tym filmiku (i może w pierwszych dziesięciu) dość się zdenerwowałem.  Ale bardzo się cieszę, że wyszło przynajmniej tak dobrze jak wyszło, bo miało wielki wpływ na moją naukę i życie.</p>
<p>Nie sądzę, że już mówię "doskonale" - nadal mam dużo roboty przed sobą - ale dziękuję za komplement. ;-) Nagrałem cały filmik na temat "talentu" w nauce języków obcych i również nie sądzę, że jestem specjalnie zdolny w tym:</p>
<p><a href="http://www.linguatrek.com/blog/2011/02/vlog-nie-trzeba-mie%C4%87-talentu-%C5%BCeby-nauczy%C4%87-si%C4%99-j%C4%99zyka" title="http://www.linguatrek.com/blog/2011/02/vlog-nie-trzeba-mie%C4%87-talentu-%C5%BCeby-nauczy%C4%87-si%C4%99-j%C4%99zyka">http://www.linguatrek.com/blog/2011/02/vlog-nie-trzeba-mie%C4%87-talentu...</a></p>
<p>Bo starałem się nauczyć kilku innych języków przed polskim i nie udało mi się.  Ale przez to, nauczyłem się jak nauczyć się języka! ;-)  Z zmianą w metodzie wyszło mi o wiele lepiej.</p>
<p>Ale się zgodziłbym, że wytrwałość mam. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/110/1201">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/01/8-reasons-to-use-youtube-to-learn-a-language#comment-1201">środa, styczeń 11, 2012 - 19:57</a></span>
</div>
</div>
</div><a id="comment-1195"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Ja od niedawna zacząłem oglądać TED-a. Super sprawa.</p>
<p>Chciałem się jeszcze odnieść do Twojej przymiarki do egzaminu z polskiego i twoich wątpliwości, czy rdzenny Polak by go zdał.</p>
<p>Jestem święcie przekonany, że przeciętny Polak, który naukę w szkole ma już dawno za sobą, z pewnością oblałby gramatykę.<br/>
Nie mam wątpliwości, że nikt poza lingwistami, polonistami, językoznawcami, i do pewnego stopnia obcokrajowcami, nie pamięta zasad gramatyki, bo nie są mu do niczego potrzebne.</p>
<p>Moja nauka gramatyki polskiej skończyła się wraz ze szkołą podstawową. W liceum nie mieliśmy jej w ogóle.</p>
<p>Tego samego można się, drogi Davidzie, spodziewać po rdzennym mieszkańcu anglojęzycznym – nie zna reguł, bo je zapomniał.</p>
<p>Czy ktoś pamięta dziś rozkład zdania, zdania podrzędne, przydawki, dopełnienia i inne bzdety? :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/110/1195">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/01/8-reasons-to-use-youtube-to-learn-a-language#comment-1195">środa, styczeń 11, 2012 - 12:46</a></span>
</div>
</div>
<div class="indented"><a id="comment-1202"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Zgadzam się!</p>
<p>Przeciętny Amerykanin nie zna reguł gramatyki j. angielskiego bo w Stanach (przynajmniej kiedy ja byłem w szkole), NIGDY nie uczymy się ich. :-)  Osobiście tylko zacząłem ich się uczyć kiedy zostałem nauczycielem j. angielskiego. ;-)</p>
<p>Niestety też nie znam gramatyki polskiego tak dobrze, bo tylko spędziłem czas na to w pierwszym roku nauki.  Żeby przygotowywać się do tego egzaminu, muszę wrócić do tego!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/110/1202">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/01/8-reasons-to-use-youtube-to-learn-a-language#comment-1202">środa, styczeń 11, 2012 - 20:02</a></span>
</div>
</div>
</div><a id="comment-1196"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.pzielinski.com" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/cf55d548310520d36bd123dca798d8cb?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Racja, pierwszy Twoj film prezentuje bardzo wysoki poziom. Jak obcokrajowcy uczą się odmiany czasowników? Na pamięć?W polskim przecież, w każdej osobie czasownik ma inną formę i nie ma tu żadnej logiki. W angielskim są proste reguły i mało wyjątków jeśli chodzi o odmianę.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/110/1196">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.pzielinski.com" rel="nofollow">Piotr Zielinski</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/01/8-reasons-to-use-youtube-to-learn-a-language#comment-1196">środa, styczeń 11, 2012 - 13:06</a></span>
</div>
</div>
<div class="indented"><a id="comment-1203"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Dzięki. :-)  Osobiście lepiej mówię kiedy nie myślę o odmianach i deklinacjach itd.  I na początku trudno było odzwyczaić się od tego, bo w pierwszym roku nauki znałem TYLKO gramatykę, bo byłem na kursie na uniwersytecie i wyłącznie skupiliśmy się na gramatyce. :-(</p>
<p>Zgadzam się¸ że polska gramatyka jest skomplikowana ale jest logiczna. Trudno dla native speakera widzieć tej logiki, tak samo jak było trudno dla mnie rozpoznać zasady gramatyczne w j. angielsku przed tym, jak zostałem nauczycielem, ale jest. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/110/1203">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/01/8-reasons-to-use-youtube-to-learn-a-language#comment-1203">środa, styczeń 11, 2012 - 20:06</a></span>
</div>
</div>
<div class="indented"><a id="comment-1205"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Faktycznie, to jest ciekawe zagadnienie. :D</p>
<p>Ja np. nie jestem w stanie w tej chwili nic powiedzieć o deklinacji hehe.</p>
<p>Angielski jest językiem pozycyjnym, w przeciwieństwie do polskiego. Dlatego mam np. trudność zapamiętania, kiedy ma wystąpić czas, miejsce, etc. w bardziej skomplikowanych zdaniach.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/110/1205">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/01/8-reasons-to-use-youtube-to-learn-a-language#comment-1205">czwartek, styczeń 12, 2012 - 01:45</a></span>
</div>
</div>
</div></div><a id="comment-1207"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/ae57801d705dd963f4dc34fe15fcbe40?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Hi. This is my first time here, on your blog.</p>
<p>I have just saw two of your films on youtube, one about difficulty level between various languages and the second about learning method using books.</p>
<p>I find this method with books as brilliant. I have some problems with learning foreign languages. During highschool I was learning German - I have even pass the exam called Matura in German, but now I can't say anything in this language.</p>
<p>My mother tongue is Polish, but I'm writing here in English because I want you to tell me about all mistakes I have made here.</p>
<p>I hope this is not a problem that I use English on your blog, isn't it?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/110/1207">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/01/8-reasons-to-use-youtube-to-learn-a-language#comment-1207">niedziela, styczeń 15, 2012 - 17:38</a></span>
</div>
</div>
<div class="indented"><a id="comment-1209"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hello!</p>
<p>I'm glad you enjoyed the videos. :-) Writing in English is no problem, actually, I think there is more English on my blog than Polish.  Maybe I should try and change that? ;-)</p>
<p>In school I studied Spanish for 6 years and did well in the course.  But I didn't really learn anything - just like you, I can't say anything either.</p>
<p>Your English is rather good!  You only made a few small mistakes, nothing serious.  For example:</p>
<ul>
<li>"I have just saw" -&gt; "I have just seen"</li>
<li>"... about difficulty level" -&gt; "... about THE difficulty level"</li>
<li>"... about learning method" -&gt; "... about THE learning method"</li>
<li>"I have even pass" -&gt; "I have even passed"</li>
</ul>
<p>That's it!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/110/1209">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/01/8-reasons-to-use-youtube-to-learn-a-language#comment-1209">poniedziałek, styczeń 16, 2012 - 14:57</a></span>
</div>
</div>
</div><div class="box">
<h2>Dodaj nową odpowiedź</h2>
<div class="content"><form accept-charset="UTF-8" action="/comment/reply/110" id="comment-form" method="post">
<div><div class="form-item" id="edit-name-wrapper">
<label for="edit-name">Nazwisko lub pseudonim: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-name" maxlength="60" name="name" size="30" type="text" value="Anonymous"/>
</div>
<div class="form-item" id="edit-mail-wrapper">
<label for="edit-mail">E-mail: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-mail" maxlength="64" name="mail" size="30" type="text" value=""/>
<div class="description">Zawartość pola nie będzie udostępniana publicznie. If you have a <a href="http://www.gravatar.com">Gravatar</a> account, used to display your avatar.</div>
</div>
<div class="form-item" id="edit-homepage-wrapper">
<label for="edit-homepage">Strona domowa: </label>
<input class="form-text" id="edit-homepage" maxlength="255" name="homepage" size="30" type="text" value=""/>
</div>
<div class="form-item" id="edit-comment-wrapper">
<label for="edit-comment">Odpowiedź: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<textarea class="form-textarea resizable required" cols="60" id="edit-comment" name="comment" rows="15"></textarea>
</div>
<ul class="tips"><li>Adresy internetowe są automatycznie zamieniane w odnośniki, które można kliknąć.</li><li>Dozwolone znaczniki HTML: &lt;a&gt; &lt;em&gt; &lt;strong&gt; &lt;cite&gt; &lt;code&gt; &lt;ul&gt; &lt;ol&gt; &lt;li&gt; &lt;dl&gt; &lt;dt&gt; &lt;dd&gt; &lt;blockquote&gt;</li><li>Znaki końca linii i akapitu dodawane są automatycznie.</li></ul><input id="form-e54a9e294b3a259c5aaa66b2ee9389a1" name="form_build_id" type="hidden" value="form-e54a9e294b3a259c5aaa66b2ee9389a1"/>
<input id="edit-comment-form" name="form_id" type="hidden" value="comment_form"/>
<input id="edit-honeypot-time" name="honeypot_time" type="hidden" value="1419172831"/>
<div class="clear-block"><div class="form-item" id="edit-notify-wrapper">
<label class="option" for="edit-notify"><input checked="checked" class="form-checkbox" id="edit-notify" name="notify" type="checkbox" value="1"/> Notify me when new comments are posted</label>
</div>
<div class="form-radios"><div class="form-item" id="edit-notify-type-1-wrapper">
<label class="option" for="edit-notify-type-1"><input class="form-radio" id="edit-notify-type-1" name="notify_type" type="radio" value="1"/> All comments</label>
</div>
<div class="form-item" id="edit-notify-type-2-wrapper">
<label class="option" for="edit-notify-type-2"><input checked="checked" class="form-radio" id="edit-notify-type-2" name="notify_type" type="radio" value="2"/> Replies to my comment</label>
</div>
</div></div><input class="mollom-content-id" id="edit-mollom-contentId" name="mollom[contentId]" type="hidden" value=""/>
<input class="mollom-captcha-id" id="edit-mollom-captchaId" name="mollom[captchaId]" type="hidden" value=""/>
<div style="display: none;"><div class="form-item" id="edit-mollom-homepage-wrapper">
<input autocomplete="off" class="form-text" id="edit-mollom-homepage" maxlength="128" name="mollom[homepage]" size="60" type="text" value=""/>
</div>
</div><div class="description mollom-privacy">By submitting this form, you accept the <a class="mollom-target" href="https://mollom.com/web-service-privacy-policy" rel="nofollow">Mollom privacy policy</a>.</div><input class="form-submit" id="edit-preview" name="op" type="submit" value="Podgląd"/>
<div class="honeypot-textfield"><div class="form-item" id="edit-url-wrapper">
<label for="edit-url">Leave this field blank: </label>
<input class="form-text" id="edit-url" maxlength="128" name="url" size="20" type="text" value=""/>
</div>
</div>
</div></form>
</div>
</div>
</div>
