---
permalink: /blog/2012/01/how-to-listen-effectively/
layout: blog-old
title: 'How to listen effectively'
day: 31
month: Jan
year: 2012
category: language learning
tags: 
  - 'listening'
language: en
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/01/listening.jpg" rel="lightbox"><img alt="Child listening to headphones" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/01/listening.jpg" title="Photo by seanomatopoeia."/></a><div class="caption"><a href="http://www.flickr.com/photos/40732566596@N01/109538354">Photo</a> by <a href="http://www.flickr.com/photos/seanomalone/">seanomatopoeia</a>.</div></div>
<p>A couple weeks ago, I wrote an article about the <a href="http://www.linguatrek.com/blog/2012/01/the-importance-of-listening">importance of listening</a>.</p>
<p>Thanks, everyone for the really excellent comments on that post!  You helped me realize that I forgot to discuss a very critical point: how to listen effectively.</p>
<p><strong>Read more for some helpful advice!</strong></p>
<h2><em>Just listening</em> isn't enough</h2>
<p>One of the major hurdles when first starting a new foreign language is that it sounds <em>so foreign!</em></p>
<p>In the very beginning, it can be helpful to passively listen to the language even if you don't understand anything.  You will become more familiar and comfortable with the sound of the language.  Later, when you really begin to learn it won't seem as strange.</p>
<p><strong>But after that initial stage, passive listening isn't enough!</strong></p>
<p>You need to have a method for actually understanding what you're listening to.  This is called <em>comprehensible listening</em>.</p>
<h2>Comprehensible listening</h2>
<p>I've talked very little about language learning theory on my blog.  But the latest research says we naturally learn a second language by actively consuming comprehensible <em>input</em> (meaning reading and listening).  This is a big topic, which I'll write more about in future articles.</p>
<p>What's important now is: <strong>You only learn if you can understand or have a method to understand what you are listening to or reading.</strong></p>
<p>Does that mean you should only read and listen to texts that are very easy?  Nope!  You want material that is a little too hard for you.  If it's too easy, then there is nothing you can learn from it.</p>
<p><strong>But how can you understand something that is too hard for you?  You need a method!</strong></p>
<h2>Methods to understand</h2>
<p>There are many methods and which one you decide to use will depend a lot on personal preference.  Here are only three examples.</p>
<h3>Context</h3>
<p>If the text you are listening to contains 80-90% structures and vocabulary that you already know, you can probably guess the meaning of the rest from context.</p>
<p>Unfortunately, it can be very difficult to find an appropriately difficult text for your level, especially when you're on a lower level.  The texts found in most language text books are <em>graded</em>, so that they get progressively harder.  But they also tend to be artificial and boring.</p>
<p>This is a lot easier for advanced learners.  Once you've reached that level, you will already understand 80-90% of most texts that you encounter.  That said, some people actually prefer to use only context because they believe it is the <em>most natural</em> method.</p>
<h3>Transcript</h3>
<p>Using a transcript of the audio in the same language is my favorite method.  When I don't understand something in the listening, I can look at the transcript and look up any unknown words or structures.</p>
<p>This is basically what I did <a href="http://www.linguatrek.com/blog/2010/12/harry-potter-the-book-that-taught-me-polish">with the Harry Potter books</a>.  I always bought both the audiobook and paper version.  I tried to focus on the audiobook as much as possible while using the paper book as a transcript when necessary.</p>
<p>It's also relatively easy to do this with movies and shows.  There are lots of websites where you can download the subtitles which can act as your transcript.</p>
<p>Song lyrics are also usually easy to find.  Some podcasts transcribe their episodes.  And so on!</p>
<p>This technique can be used anywhere you can find a suitable transcript.</p>
<h3>Translations</h3>
<p>Some people prefer to work with a translation of the text into their native language, as a means to understand it.  For example, instead of looking up unknown words in the dictionary when I was listening to Harry Potter, I could have checked the English version.</p>
<p>There are even bilingual books where the page on the left is in one language and the page on the right is in the other.  Or other prepared learning materials.</p>
<p>I don't personally like this method because I prefer to keep thinking in terms of the language I'm learning rather than going to a full translation into English.  Good translations also tend not to be literal.  Sometimes it can be difficult to see what parts of the translation connect to the original.</p>
<p>And, of course, in many cases it's harder to find a translation than a transcript.</p>
<p><strong>What do think?  Is understanding what you are listening to important?  What method do you use to help you understand what you are listening to?  Write a comment below!</strong></p>
</div>

<div id="comments">
<a id="comment-1291"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/374f0aa8e3190f05eb3e7b7a2fff93ae?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi,<br/>
Nice set of ideas for listening.<br/>
I didn't understand where to find websites to download subtities. Could you give me an example?<br/>
Thanks,</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/114/1291">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">gipsie (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/01/how-to-listen-effectively#comment-1291">Tuesday, January 31, 2012 - 17:12</a></span>
</div>
</div>
<div class="indented"><a id="comment-1292"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi!</p>
<p>There are lots of websites where you can download subtitles.  Just try googling for "subtitles".</p>
<p>Here are a few examples:</p>
<ul>
<li><a href="http://www.opensubtitles.org/" title="http://www.opensubtitles.org/">http://www.opensubtitles.org/</a></li>
<li><a href="http://subscene.com/" title="http://subscene.com/">http://subscene.com/</a></li>
<li><a href="http://www.podnapisi.net/" title="http://www.podnapisi.net/">http://www.podnapisi.net/</a></li>
<li><a href="http://www.findsubtitles.eu/" title="http://www.findsubtitles.eu/">http://www.findsubtitles.eu/</a></li>
</ul>
<p>Hope that helps!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/114/1292">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/01/how-to-listen-effectively#comment-1292">Tuesday, January 31, 2012 - 17:16</a></span>
</div>
</div>
</div><a id="comment-1295"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/77378e21152a38870d030e23cc3f369d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Watching movies in foreign language is a great idea - it can be very entertaining and, unlike books, even if you understand little you can pretty much understand what's going on and keep on watching. Also - it's great for learning words from context. In a way you learn almost organically - hearing language and connecting it with a situation.</p>
<p>I once wanted to try improving my French watching movies with subtitles - without them it gets too frustrated, when you don't comprehend a word you cannot even check it in dictionary.<br/>
Sadly, it appeared soon that there are NO French subtitles for any movies in French. And I had chosen really most popular ones with Louis de Funes.</p>
<p>Frenchmen really do anything they can too make learning their language repelling.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/114/1295">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Noqa (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/01/how-to-listen-effectively#comment-1295">Thursday, February 2, 2012 - 11:23</a></span>
</div>
</div>
<div class="indented"><a id="comment-1298"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>That's a great point - you do get a lot more context from movies than books!  But that's unfortunate about French movies.  The French *are* very protective of their language, I wonder if that has something to do with it. :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/114/1298">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/01/how-to-listen-effectively#comment-1298">Friday, February 3, 2012 - 19:00</a></span>
</div>
</div>
</div><a id="comment-1313"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8295eac2214c96652ce9be2faeee4ec5?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Movies with subtitles - I learned that way myself. Although I won't recomend medical TV shows for beginners :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/114/1313">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Arie (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/01/how-to-listen-effectively#comment-1313">Tuesday, February 14, 2012 - 07:14</a></span>
</div>
</div>
<div class="indented"><a id="comment-1317"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Heh, yeah. When ever I see medical shows, even in my native language, I just ignore all the medical terminology. :-)  Thanks for sharing your experience!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/114/1317">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/01/how-to-listen-effectively#comment-1317">Wednesday, February 15, 2012 - 07:49</a></span>
</div>
</div>
</div><a id="comment-1328"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.everydaylanguagelearner.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9bef68ce232ae2405462c08f60c76e9a?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hey David,<br/>
Great post and great list of suggestions.  Are Polish audio books readily available for you there?  I am looking for Turkish audio books but havne't looked hard enough yet.  That would be my desired method.  I love listening to audio books.  Parallel texts are good too.  I just released a Turkish/English guide and am preparing to publish the Polish and hopefully the Polish/English guide soon.  Keep up the great work here.</p>
<p>Aaron</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/114/1328">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.everydaylanguagelearner.com" rel="nofollow">Aaron</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/01/how-to-listen-effectively#comment-1328">Saturday, February 18, 2012 - 04:30</a></span>
</div>
</div>
<div class="indented"><a id="comment-1329"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Aaron,</p>
<p>Yes!  There are lots of places to find audiobooks in Polish online.</p>
<p>In the past I ordered physical audiobooks (ie. on CDs) but that was a pain because they took so long to get here from Poland and I had one instance where they were lost in the mail.</p>
<p>Since then, I've been buying them in purely electronic format so I can just download them.  The last two audiobooks I got from audioteka.pl but I've used other sites too, which I can't recall at the moment.</p>
<p>There are also a number of well-known Polish sites (one named after a certain domestic rodent - Poles will know what I mean ;-)) where you can download pretty much any book or audiobook for free.  Of course, this isn't exactly in line with copyright which is why I don't recommend it.</p>
<p>Anyway, there must be equivalent sites for Turkish audiobooks!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/114/1329">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/01/how-to-listen-effectively#comment-1329">Saturday, February 18, 2012 - 07:22</a></span>
</div>
</div>
</div><a id="comment-1803"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/03/do-i-need-to-understand-everything" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] The main challenge is understanding this language when you are still learning (especially listening). [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/114/1803">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/03/do-i-need-to-understand-everything" rel="nofollow">Do I need to understand everything? | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/01/how-to-listen-effectively#comment-1803">Wednesday, May 2, 2012 - 20:18</a></span>
</div>
</div>
<a id="comment-3410"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/cb5b490615a423f1da6135060c942b85?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>In order to have good skills in listening comprehension in English and to speak it fluently, a learner should practise listening to audio and video aids in English (dialogues, thematic texts and narrative stories) with subsequent speaking. It is preferable to have English transcripts of audio and video material. I suggest that learners practise listening comprehension with subsequent speaking on a variety of topics and with materials for all levels on a regular long-term basis in the following order:</p>
<p>1. Listen to each sentence several times. Alongside listening see and read each sentence in the transcript.</p>
<p>2. Make sure you understand everything clearly in each sentence in terms of pronunciation, vocabulary and grammar.</p>
<p>3. Without looking into the transcript, try to repeat each sentence (say it aloud) exactly as you have heard it. Being able to repeat a sentence means that a learner has remembered its content.</p>
<p>4. Listen to that particular conversation or text (story) in short paragraphs or chunks, say each paragraph aloud, and compare to the transcript.</p>
<p>5. Listen to the whole conversation or story without interruption several times, and try to tell the content of the whole conversation or text (story) you’ve heard. You can write key words and phrases, or main ideas as a plan, or questions on that particular dialogue or text to make easier for you to convey the content in English. It is important to compare what you’ve said to the transcript.</p>
<p>It is a good idea to record one’s speech on audio aid to compare it with the original audio/video recording.<br/>
I believe that for practising listening comprehension and speaking in English it is a good idea to include various practical topics for potential needs of learners with comprehensive vocabulary on each topic. As you know the content of materials matters a great deal.<br/>
Ready-made thematic dialogues, questions and answers on conversation topics, thematic texts (informative texts and narrative stories), grammatical usage sentences (in the form of dialogues and texts), and sentences with difficult vocabulary on various topics, especially with fixed phrases and idioms can be used in practising listening comprehension in English.<br/>
It’s possible and effective to practise listening comprehension and speaking in English on one’s own this way through self-check using transcripts, books, audio and video aids to provide additional solid practice and to accelerate mastering of English.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/114/3410">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Mike (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/01/how-to-listen-effectively#comment-3410">Tuesday, January 1, 2013 - 18:40</a></span>
</div>
</div>
</div>
