---
permalink: /blog/2012/01/language-learning-guide/
layout: blog-old
title: 'Language learning guide?'
day: 24
month: sty
year: 2012
category: language learning
tags: 
  - 'Benny Lewis'
  - 'ebook'
language: pl
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/01/guidebook.jpg" rel="lightbox"><img alt="Man looking at a guide book" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/01/guidebook.jpg" title="Just follow the guide to Language-ville! Photo by Kevin Jaako."/></a><div class="caption">Just follow the guide to Language-ville! <a href="http://www.flickr.com/photos/56944727@N00/2553636020">Photo</a> by <a href="http://www.flickr.com/people/jaako/">Kevin Jaako</a>.</div></div>
<p>I receive a lot of emails and comments asking me for advice on language learning.  I respond to all of them, so when I notice that I've answered the same question a lot, I try to write an article about it on my blog.</p>
<p>That way, when someone asks me that question again, I can point them to a well-polished article, instead of having to come up with a completely new explanation in the 5 minutes I have to respond to their email.</p>
<p>The article I wrote a couple weeks ago about <a href="http://www.linguatrek.com/blog/2012/01/the-importance-of-listening">the importance of listening</a> is one example.  However, I got some really great questions in the comments which helped me realize that I left out a very important piece: <em>how to listen, when you don't yet speak the language very well.</em></p>
<p>Eventually, this will end up becoming a <em>new</em> article.</p>
<p>But wouldn't it be great if I could just have a page somewhere that includes all of my thoughts about listening?  As new questions or ideas come up, I could continue to refine it.</p>
<p>This got me thinking that maybe I should be compiling a <em>language learning guide</em>, that covers my opinions about how to learn a language effectively, lots of tips, and the basics of my method.</p>
<p><strong>Read more for my thoughts and let me know what you think!</strong></p>
<h2>Should I write a guide?</h2>
<p><em>Don't worry, this isn't a money-making scheme!</em></p>
<p>I have no intention of selling an ebook like <a href="http://www.fluentin3months.com/">Benny the Irish Polyglot's</a> <a href="http://www.fluentin3months.com/language-hacking-guide/">Language Hacking Guide</a>.  For one, I'm not enough of an expert (yet).  Speaking English, Polish and some bad Russian doesn't quite qualify me as a polyglot. ;-)</p>
<p>Instead, I imagine that this would be pages on my blog or in the <a href="http://en.bibliobird.com/wiki">Bibliobird Wiki</a>.  I like the idea of putting it in a wiki because then other people could share their ideas too!  But I'm still undecided.</p>
<p><strong>The main question is: should I even bother?</strong></p>
<h2>Proposed table of contents</h2>
<p>If I were to start writing the guide today, here is what the table of contents would look like:</p>
<ol>
<li><a href="http://www.linguatrek.com/blog/2011/03/you-dont-need-talent-to-learn-a-language">You don't need talent to learn a language</a> (<a href="http://www.linguatrek.com/blog/2011/02/vlog-nie-trzeba-mie%C4%87-talentu-%C5%BCeby-nauczy%C4%87-si%C4%99-j%C4%99zyka">video</a> in Polish)
  <ul>
<li><a href="http://www.linguatrek.com/blog/2010/12/harry-potter-the-book-that-taught-me-polish">My story</a></li>
<li>Scientific basis / We are designed to learn languages (i.e. my <a href="http://www.linguatrek.com/blog/2011/03/language-learning-is-more-like-karate-than-math">karate metaphor</a>)</li>
<li>The problems with mainstream language education</li>
<li><a href="http://www.linguatrek.com/blog/2011/07/you-dont-need-to-live-in-a-foreign-country-to-learn">You don't need to live in the country</a></li>
<li>What is your goal? (i.e. discussion of <a href="http://www.linguatrek.com/blog/2010/11/lets-stop-saying-fluent-fluently-and-fluency-too">"fluency"</a> and <a href="http://www.linguatrek.com/blog/2010/12/you-dont-need-to-speak-like-a-native-speaker">aiming for perfection</a>)
  </li></ul>
</li>
<li>The <a href="http://www.linguatrek.com/blog/2011/03/the-three-ingredients-for-successful-language-learning">three ingredients</a> of successful language learning
  <ul>
<li>Overview: Time, motivation, effective method</li>
<li>Time (it's about regularity!)</li>
<li>Motivation</li>
<li><a href="http://www.linguatrek.com/blog/2011/05/how-to-overcome-your-fear-of-speaking">Fear</a> and confidence are also big factors!</li>
</ul>
</li>
<li>What makes an <a href="http://www.linguatrek.com/blog/2011/03/vlog-jak-wygl%C4%85da-efektywna-metoda-nauki-j%C4%99zyka-obcego">effective method</a>?
  <ul>
<li>Overview: There isn't only one correct method (in fact, almost anything will work, eventually), but a set of characteristics that will make a method more effective.</li>
<li>Communication leads, grammar/vocabulary follow</li>
<li>Do what you love, but in the language you are learning</li>
<li>Focus on <a href="http://www.linguatrek.com/blog/2010/12/vocabulary-the-biggest-challenge-in-language-learning">vocabulary</a></li>
<li><a href="http://www.linguatrek.com/blog/2012/01/the-importance-of-listening">Listening, not only reading</a></li>
<li>Input vs. output</li>
<li>Repetition</li>
<li>... remaining characteristics ...</li>
</ul>
</li>
<li>Examples of effective methods from successful learners
  <ul>
<li>My method in detail</li>
<li>... maybe I can get others to contribute their stories?</li>
</ul>
</li>
<li>Tips for absolute beginners</li>
<li>Tips for listening
  <ul>
<li>Comprehensible listening</li>
</ul>
</li>
<li>Tips for reading</li>
<li>Tips for speaking
  <ul>
<li><a href="http://www.linguatrek.com/blog/2011/02/what-to-do-when-you-dont-know-a-word">Circumlocution</a></li>
<li><a href="http://www.linguatrek.com/blog/2011/11/how-to-practice-speaking-over-the-internet">How to practice speaking over the internet</a></li>
</ul>
</li>
<li>Tips for writing
  <ul>
<li><a href="http://www.linguatrek.com/blog/2011/06/use-lang-8-to-practice-writing">How to practice writing over the internet</a></li>
</ul>
</li>
<li>Tips for vocabulary
  <ul>
<li><a href="http://www.linguatrek.com/blog/2011/01/what-is-spaced-repetition">Spaced repetition</a></li>
</ul>
</li>
<li>Tips for grammar</li>
</ol>
<h2>Proposed introduction</h2>
<blockquote>
<p>There are many great reasons to learn a foreign language:</p>
<ul>
<li>Find a better job</li>
<li>Travel to another land</li>
<li>Explore a culture by trying to see through their eyes</li>
<li>Learn the native language of your significant other</li>
<li>Get in touch with your roots</li>
<li>Or just for the fun of it! :-)</li>
</ul>
<p>But whatever reason you have for starting to learn a foreign language, the sad truth is that most people fail before they reach their goal.</p>
<p>The most commonly cited reason is: "I don't have a talent for languages."</p>
<p>However, the truth is that talent has nothing to do with it.  The truth is that most people don't understand how to learn a language or the true mechanisms behind the process.</p>
<p>This guide is written by someone who has failed to learn many languages.  I studied Spanish in grade school and high school for a total of six years and learned practically nothing.  Later, I took a French course for a year and came out similarly empty handed.  In college I studied Russian for three years and, while I made more progress, I still couldn't carry on a basic conversation in the language.</p>
<p>Five years ago I started learning Polish, also in a university-level class.  While the course was very enjoyable (like the Russian course before it), I found myself able to easily pass a grammar test but I couldn't order at a restaurant or survive the post office.</p>
<p>That's when I decided to take an entirely different approach to language learning.  In only a year or two I was able to reach a level of proficiency with my Polish that I've never achieved with any other language.  I'm able to read popular books, the newspaper, listen to the radio, watch movies, as well as have conversations on almost any topic.</p>
<p>Was I finally successful because I have a "talent for language?"</p>
<p>I'm still the same person who failed to learn Spanish, French and Russian.  If I had had a special talent, wouldn't I have learned those languages as well?</p>
<p>Successfully learning a language is not about talent.  It's easier for the small number of people with a talent for it - but it's possible for anyone.</p>
<p>My goal with this guide is to help you to succeed!</p>
</blockquote>
<h2>What do you think?</h2>
<p><strong>Before I take this idea any further, I want to know what you think!</strong></p>
<p>Should I create this guide?  Would it be useful to you?</p>
<p>What do you think of the table of contents?  Or the introduction?</p>
<p><strong>Please leave a comment below!</strong></p>
</div>

<div id="comments">
<a id="comment-1253"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/7b5a7ccbcedb083c040d17c6e5b16795?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>YES YES YES YES YES!!!!! Oh and my opinion? YES YES YES YES YES YES</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/112/1253">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Hyunji KLee (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/01/language-learning-guide#comment-1253">środa, styczeń 25, 2012 - 02:24</a></span>
</div>
</div>
<div class="indented"><a id="comment-1259"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Thanks for the enthusiasm!</p>
<p>I've been thinking about Niki's comment below but I want to know your opinion.  Do you think creating a guide adds any extra value over just blogging about these topics and having a directory of links like this blog post?  Doing that would certainly be easier!  And actually looking at my table of contents, I can now see there are lots of things I've forgotten to write about. :-)</p>
<p>Or does reworking these articles into a seperate guide make more sense?</p>
<p>I'm interested in your opinions!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/112/1259">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/01/language-learning-guide#comment-1259">czwartek, styczeń 26, 2012 - 07:58</a></span>
</div>
</div>
</div><a id="comment-1254"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.tomfrompoland.com" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/3cdbaa2914c95444fc7968fe42ddfa2b?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Great idea! I can't wait for a guide :-) Your method and your TOC looks good and it's better in my opinion that Benny method, compare on yours videos.</p>
<p>I have to change my opinion about Benny method after I read the post with comments at <a href="http://bit.ly/xkBM0W" title="http://bit.ly/xkBM0W">http://bit.ly/xkBM0W</a> (in Polish)</p>
<p>You have definitely better result and you don't talk about "fluency in 3 months" despite that you achieve fluency in Polish in my opinion so your small piece of advice will be very useful :-)</p>
<p>All the best<br/>
Tom</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/112/1254">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.tomfrompoland.com" rel="nofollow">TomFromPoland</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/01/language-learning-guide#comment-1254">środa, styczeń 25, 2012 - 04:16</a></span>
</div>
</div>
<div class="indented"><a id="comment-1260"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Thanks, Tom!</p>
<p>I actually quite like Benny and his blog.  Most of his posts are motivational, which I think is very important!  Many people think they are incapable of learning a foreign language and if Benny can convince them it's possible - that's fantastic!</p>
<p>But, yes, I don't believe it's possible in most cases to become fluent in three month.  I also don't like his "talking from day one" and "speaking your way to fluency" methodology.  I don't think I could personally learn a language using those strategies - I need to get the language from <em>somewhere</em> first!</p>
<p>What do you think of Niki's comment below?  Which do you think would be better?  A guide made up of reworked articles from my blog or just a "guide" directing learners through the articles on my blog?</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/112/1260">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/01/language-learning-guide#comment-1260">czwartek, styczeń 26, 2012 - 08:06</a></span>
</div>
</div>
<div class="indented"><a id="comment-1262"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.tomfrompoland.com" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/3cdbaa2914c95444fc7968fe42ddfa2b?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Hi David,</p>
<p>I'm a heavy Kindle user :-) so anything you will write that I can read on Kindle will be great. I think that guide should be separated from the blog, perfectly in various format like epub, mobi, pdf. Some of open-source programming ebooks like <a href="http://progit.org/book/" title="http://progit.org/book/">http://progit.org/book/</a> are a good example and you can look how they technically prepared it.</p>
<p>I suggest to write and publish guide exactly as progit book was published, with source in markdown syntax hosted on github and web, pdf, mobi, epub format autogenerated from source. It will be a good prepared for the future translations :-)</p>
<p>This is my small suggestion :-)</p>
<p>All the best<br/>
Tom</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/112/1262">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.tomfrompoland.com" rel="nofollow">TomFromPoland</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/01/language-learning-guide#comment-1262">czwartek, styczeń 26, 2012 - 08:58</a></span>
</div>
</div>
<div class="indented"><a id="comment-1272"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Tom,</p>
<p>Yeah, if I do a guide I'd like to release the "finished version" (if it can ever be finished!) in ebook formats.  Thanks for the pointer to how they do it for the git book, that'll be helpful.</p>
<p>See ya!<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/112/1272">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/01/language-learning-guide#comment-1272">sobota, styczeń 28, 2012 - 11:44</a></span>
</div>
</div>
</div></div></div><a id="comment-1257"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.robinsonwriters.com" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/9e25b719e848d458ab165d1d27d1164f?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>I think your guide to language learning IS essentially this blog post!  Here's the thing: I say make a page in your blog dedicated to the guide, keep the intro on that page, and use the outline you've already created as the actual guide (updating the links as you create more posts)!  <strong>Your blog IS a language learning guide</strong>.  But having something on your blog that organizes your posts in a meaningful way will help your audience find and read more about the particular topics they're looking for, and with ease.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/112/1257">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.robinsonwriters.com" rel="nofollow">Niki</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/01/language-learning-guide#comment-1257">środa, styczeń 25, 2012 - 12:02</a></span>
</div>
</div>
<div class="indented"><a id="comment-1261"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Niki,</p>
<p>Thanks for the comment!</p>
<p>Simply having a page that organizes my blog posts in meaningful way would certainly be easier and faster than reworking the existing articles to form a coherent guide.</p>
<p>Right now, I'm thinking maybe I'll start with that first and fill in the holes where I don't have any articles yet.  Once I've filled up the "table of contents" - or if people say they really want an independent guide! - I'll think about converting it.</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/112/1261">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/01/language-learning-guide#comment-1261">czwartek, styczeń 26, 2012 - 08:15</a></span>
</div>
</div>
</div><a id="comment-1263"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/7b5a7ccbcedb083c040d17c6e5b16795?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Well David I guess that's a personal preference thing do whatever you decide will be great either way but my personal preference I like things orderly, so I'd like a separate guide but ya know the above blog as Nikki mentioned truly is a guide already.... so thank you for the time you put into methodically planning that all out! Many of the links have really helped me so much!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/112/1263">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Hyunji KLee (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/01/language-learning-guide#comment-1263">czwartek, styczeń 26, 2012 - 16:48</a></span>
</div>
</div>
<div class="indented"><a id="comment-1273"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Thanks for your reply!</p>
<p>I agree, in the end a guide would probably be better organized.  Because you don't get the flow from one topic to another with individual blogs.</p>
<p>I'm still thinking about it. :-)  First I think I'll test out all my ideas on the blog and then once I've said most of it, I'll think about reorganizing it into a guide.</p>
<p>Best of luck in your language learning adventure!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/112/1273">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/01/language-learning-guide#comment-1273">sobota, styczeń 28, 2012 - 11:50</a></span>
</div>
</div>
<div class="indented"><a id="comment-1279"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.tomfrompoland.com" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/3cdbaa2914c95444fc7968fe42ddfa2b?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>@David</p>
<p>Exactly in this way Benny from Fluentin3months did with his guide. It's a deeper and wider version of his blog posts.</p>
<p>I think that is the best idea, whatever a guide will be publish or not, posts will be written. :-)</p>
<p>Best<br/>
Tom</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/112/1279">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.tomfrompoland.com" rel="nofollow">TomFromPoland</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/01/language-learning-guide#comment-1279">sobota, styczeń 28, 2012 - 12:41</a></span>
</div>
</div>
</div></div><a id="comment-1264"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://balilanguageschool.com" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/a3b0ab7482fff9062079938d15b0c8d6?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Yes.... I think it would be great,  and I think it would be useful for many people.  :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/112/1264">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://balilanguageschool.com" rel="nofollow">Learn Indonesian in Bali</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/01/language-learning-guide#comment-1264">czwartek, styczeń 26, 2012 - 20:33</a></span>
</div>
</div>
<a id="comment-1589"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/03/our-big-announcement-we-need-your-help" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>[...] first mentioned this idea a couple months ago - but when it got a positive response, I got scared! [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/112/1589">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/03/our-big-announcement-we-need-your-help" rel="nofollow">Our BIG announcement! (We need your help!) | LinguaTrek</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/01/language-learning-guide#comment-1589">czwartek, marzec 29, 2012 - 10:43</a></span>
</div>
</div>
<a id="comment-3427"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/cb5b490615a423f1da6135060c942b85?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>In addition to my language learning advice in my posts on this site the links below contain highly useful materials for learners of English (as well as other languages) and can serve as a free and valuable guide for them.</p>
<p>PRACTICAL ESSENTIAL GUIDE FOR LEARNERS OF ENGLISH AND OTHER LANGUAGES:</p>
<p><a href="http://en.wikibooks.org/wiki/How_to_Learn_a_Language" title="http://en.wikibooks.org/wiki/How_to_Learn_a_Language">http://en.wikibooks.org/wiki/How_to_Learn_a_Language</a> (full of helpful tips, read it attentively as a priority);<br/>
<a href="http://www.eslgold.com/textbooks.html" title="http://www.eslgold.com/textbooks.html">http://www.eslgold.com/textbooks.html</a><br/>
<a href="http://www.eslgold.com/special_courses.html" title="http://www.eslgold.com/special_courses.html">http://www.eslgold.com/special_courses.html</a><br/>
<a href="http://www.eslgold.com/pronunciation.html" title="http://www.eslgold.com/pronunciation.html">http://www.eslgold.com/pronunciation.html</a><br/>
<a href="http://www.eslgold.com/grammar/review.html" title="http://www.eslgold.com/grammar/review.html">http://www.eslgold.com/grammar/review.html</a><br/>
<a href="http://www.eslgold.com/vocabulary/learn.html" title="http://www.eslgold.com/vocabulary/learn.html">http://www.eslgold.com/vocabulary/learn.html</a><br/>
<a href="http://www.eslgold.com/listening/practice.html" title="http://www.eslgold.com/listening/practice.html">http://www.eslgold.com/listening/practice.html</a><br/>
<a href="http://www.eslgold.com/speaking/tips_practicing_speaking.html" title="http://www.eslgold.com/speaking/tips_practicing_speaking.html">http://www.eslgold.com/speaking/tips_practicing_speaking.html</a><br/>
<a href="http://www.eslgold.com/reading/an_article.html" title="http://www.eslgold.com/reading/an_article.html">http://www.eslgold.com/reading/an_article.html</a><br/>
<a href="http://www.eslgold.com/writing/improve.html" title="http://www.eslgold.com/writing/improve.html">http://www.eslgold.com/writing/improve.html</a><br/>
<a href="http://www.eslgold.com/video.html" title="http://www.eslgold.com/video.html">http://www.eslgold.com/video.html</a><br/>
<a href="http://www.eslgold.com/toefl.html" title="http://www.eslgold.com/toefl.html">http://www.eslgold.com/toefl.html</a><br/>
<a href="http://www.eslpoint.com/" title="http://www.eslpoint.com/">http://www.eslpoint.com/</a>  (click "Links Index" and then "General Tips")<br/>
<a href="http://www.eslpoint.com/" title="http://www.eslpoint.com/">http://www.eslpoint.com/</a>  (click "For Students" and then "Explanations")<br/>
<a href="http://www.langcent.manchester.ac.uk/resources/online/support-advice/learning-guide/developing-skills/" title="http://www.langcent.manchester.ac.uk/resources/online/support-advice/learning-guide/developing-skills/">http://www.langcent.manchester.ac.uk/resources/online/support-advice/lea...</a><br/>
<a href="http://esl.fis.edu/learners/advice/index.htm" title="http://esl.fis.edu/learners/advice/index.htm">http://esl.fis.edu/learners/advice/index.htm</a><br/>
<a href="http://www.bbc.co.uk/worldservice/learningenglish/radio/studyguides/#guides" title="http://www.bbc.co.uk/worldservice/learningenglish/radio/studyguides/#guides">http://www.bbc.co.uk/worldservice/learningenglish/radio/studyguides/#guides</a><br/>
<a href="http://language-learning-tips.com/" title="http://language-learning-tips.com/">http://language-learning-tips.com/</a><br/>
<a href="http://www.ed.ac.uk/schools-departments/institute-academic-development/undergraduate/services/englishlearning" title="http://www.ed.ac.uk/schools-departments/institute-academic-development/undergraduate/services/englishlearning">http://www.ed.ac.uk/schools-departments/institute-academic-development/u...</a></p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/112/3427">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Mike (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/01/language-learning-guide#comment-3427">sobota, styczeń 5, 2013 - 14:32</a></span>
</div>
</div>
<a id="comment-4320"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/cb5b490615a423f1da6135060c942b85?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>In my opinion a learner should always keep in mind the following 7 aspects of learning and practising English (also read my articles on them and select the materials with the most helpful relevant content for your needs on each daily life topic):</p>
<p>PHONETICS/PRONUNCIATION: How good is your English pronunciation? What materials do you have and use to practise your English pronunciation?<br/>
Learning English from scratch ought to start with learning English pronunciation through explanations, demonstration of correct articulation/pronunciation and through exercises/practice. Learning English pronunciation should cover major rules of reading English letters, the articulation of vowels and consonants, stress in words, in phrases, rhythm and intonation in sentences, and doing practical phonetic exercises that include listening to and pronouncing of words, phrases and sentences.</p>
<p>GRAMMAR: Do you have and regularly use self-study books or Internet materials with explanations, usage examples of English grammar, with grammar exercises in the form of dialogues, questions - answers and short texts containing sentences that most likely can be used in daily life, and with a key (answers to grammar exercises) for self-check to practise English grammar? Read my earlier advice on learning and practising English grammar.</p>
<p>VOCABULARY: Do you have and use English phrase books, conversation books, thematic English dictionaries and Internet materials with thematic English vocabulary the list of which I gave you in the past?</p>
<p>LISTENING: Do you listen to English dialogues (conversations) and texts on each daily life topic important to you at all levels of difficulty? Do you retell them and compare your speech with the original texts?</p>
<p>SPEAKING: Do you practise speaking English on daily life topics with native English speakers preferably teachers of English?<br/>
It is a good idea for language learners to prepare questions and speech on a chosen topic in advance for easier and better communication with native speakers (with more inclusive meaningful content to get more productive results).<br/>
It is useful for learners to prepare potential questions and answers with helpful content on all everyday topics, and to practise speaking. To show different ways of expressing a particular thought they can make up several potential questions and answers on one point in this speaking activity.</p>
<p>READING: Have you selected texts at all levels of difficulty for reading on each topic with important content for your needs? Do you practise reading and retelling thematic texts?</p>
<p>WRITING: Do you practise writing your thoughts on various topics and issues of real life? To make your writing better make up a plan of main ideas and issues, and also check a list of vocabulary on the topic from English phrase books, conversation books, thematic English dictionaries and websites with thematic vocabulary.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/112/4320">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Mike (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/01/language-learning-guide#comment-4320">sobota, marzec 23, 2013 - 20:11</a></span>
</div>
</div>
<div class="box">
<h2>Dodaj nową odpowiedź</h2>
<div class="content"><form accept-charset="UTF-8" action="/comment/reply/112" id="comment-form" method="post">
<div><div class="form-item" id="edit-name-wrapper">
<label for="edit-name">Nazwisko lub pseudonim: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-name" maxlength="60" name="name" size="30" type="text" value="Anonymous"/>
</div>
<div class="form-item" id="edit-mail-wrapper">
<label for="edit-mail">E-mail: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-mail" maxlength="64" name="mail" size="30" type="text" value=""/>
<div class="description">Zawartość pola nie będzie udostępniana publicznie. If you have a <a href="http://www.gravatar.com">Gravatar</a> account, used to display your avatar.</div>
</div>
<div class="form-item" id="edit-homepage-wrapper">
<label for="edit-homepage">Strona domowa: </label>
<input class="form-text" id="edit-homepage" maxlength="255" name="homepage" size="30" type="text" value=""/>
</div>
<div class="form-item" id="edit-comment-wrapper">
<label for="edit-comment">Odpowiedź: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<textarea class="form-textarea resizable required" cols="60" id="edit-comment" name="comment" rows="15"></textarea>
</div>
<ul class="tips"><li>Adresy internetowe są automatycznie zamieniane w odnośniki, które można kliknąć.</li><li>Dozwolone znaczniki HTML: &lt;a&gt; &lt;em&gt; &lt;strong&gt; &lt;cite&gt; &lt;code&gt; &lt;ul&gt; &lt;ol&gt; &lt;li&gt; &lt;dl&gt; &lt;dt&gt; &lt;dd&gt; &lt;blockquote&gt;</li><li>Znaki końca linii i akapitu dodawane są automatycznie.</li></ul><input id="form-ff6acbcbe8be2a68885dd5d369117b0f" name="form_build_id" type="hidden" value="form-ff6acbcbe8be2a68885dd5d369117b0f"/>
<input id="edit-comment-form" name="form_id" type="hidden" value="comment_form"/>
<input id="edit-honeypot-time" name="honeypot_time" type="hidden" value="1446271169"/>
<div class="clear-block"><div class="form-item" id="edit-notify-wrapper">
<label class="option" for="edit-notify"><input checked="checked" class="form-checkbox" id="edit-notify" name="notify" type="checkbox" value="1"/> Notify me when new comments are posted</label>
</div>
<div class="form-radios"><div class="form-item" id="edit-notify-type-1-wrapper">
<label class="option" for="edit-notify-type-1"><input class="form-radio" id="edit-notify-type-1" name="notify_type" type="radio" value="1"/> All comments</label>
</div>
<div class="form-item" id="edit-notify-type-2-wrapper">
<label class="option" for="edit-notify-type-2"><input checked="checked" class="form-radio" id="edit-notify-type-2" name="notify_type" type="radio" value="2"/> Replies to my comment</label>
</div>
</div></div><input class="mollom-content-id" id="edit-mollom-contentId" name="mollom[contentId]" type="hidden" value=""/>
<input class="mollom-captcha-id" id="edit-mollom-captchaId" name="mollom[captchaId]" type="hidden" value=""/>
<div style="display: none;"><div class="form-item" id="edit-mollom-homepage-wrapper">
<input autocomplete="off" class="form-text" id="edit-mollom-homepage" maxlength="128" name="mollom[homepage]" size="60" type="text" value=""/>
</div>
</div><div class="description mollom-privacy">By submitting this form, you accept the <a class="mollom-target" href="https://mollom.com/web-service-privacy-policy" rel="nofollow">Mollom privacy policy</a>.</div><input class="form-submit" id="edit-preview" name="op" type="submit" value="Podgląd"/>
<div class="honeypot-textfield"><div class="form-item" id="edit-url-wrapper">
<label for="edit-url">Leave this field blank: </label>
<input class="form-text" id="edit-url" maxlength="128" name="url" size="20" type="text" value=""/>
</div>
</div>
</div></form>
</div>
</div>
</div>
