---
permalink: /blog/2012/01/vlog-skupianie-się-na-tym-co-jest-dla-mnie-ważne/
layout: blog-old
title: 'Vlog: Skupianie się na tym, co jest dla mnie ważne'
day: 17
month: Jan
year: 2012
category: personal
tags: 
  - 'vlog'
language: en
translation: /blog/2012/01/vlog-skupianie-si%C4%99-na-tym-co-jest-dla-mnie-wa%C5%BCne/
---
<div class="content">
<p>Rok 2011 był rokiem ciężkiej pracy nad interesującymi projektami i nie tylko własnymi.  Niestety mój kierunek trochę odbiegł od moich pasji.  Jak już <a href="http://www.linguatrek.com/blog/2011/12/my-language-goals-for-2012">napisałem</a>, był żałosny rok jeśli chodzi o naukę j. polskiego.</p>
<p>Ale właśnie podjąłem ważną decyzję, która znaczy, że w nowym roku znowu będę się skupiał nad tym, co jest mi naprawdę ważne!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/WhQjMwqRJmI?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/WhQjMwqRJmI?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Proszę podaj mi poprawki w serwisie Lang-8 <a href="http://lang-8.com/10069/journals/1272018/Vlog%253A-Skupianie-si%25C4%2599-na-tym%252C-co-jest-mi-wa%25C5%25BCne">tutaj</a>.</p>
<p>Jeśli nie masz pojęcia o tym, czym jest <a href="http://www.bibliobird.com">Bibliobird</a>, polecam <a href="http://www.linguatrek.com/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego">ten filmik</a>.  Jeśli jesteś ciekaw o <a href="http://www.h2oscore.com">H2OScore.com</a> możesz oglądać jego <a href="http://www.youtube.com/h2oscore">kanał na YouTubie</a>.</p>
<p><strong>Proszę czytaj dalej dla transkrypcji!</strong></p>
<h2><a name="transcript">Transkrypcja</a></h2>
<ul>
<li>Dzień dobry</li>
<li>Znowu przed kamerą internetową mówi David Snopek</li>
<li>Witam wszystkich w nowym roku</li>
<li>Mam nadzieję, że święta u Was były wspaniałe</li>
<li>Wszystko u nas było fajnie</li>
<li>Dzisiaj będę mówił o moich planach na nowy rok i o ważnej decyzji, którą podjąłem kilka tygodni temu</li>
<li>Zeszły rok był bardzo interesujący, bardzo pracowity</li>
<li>Pracowałem więcej niż kiedykolwiek w moim życiu</li>
<li>W pierwszej połowie tego roku mieszkaliśmy u moich rodziców</li>
<li>Nagrywałem nowy filmik tygodniowo</li>
<li>Budowałem stronę Bibliobird</li>
<li>Trochę uczyłem angielskiego przez Skype</li>
<li>Trochę pracowałem na zlecenie jako programista ale bardzo mało</li>
<li>Jak mieszkaliśmy u rodziców, nie było potrzeby</li>
<li>Moim głownym zajęciem były Bibliobird i te filmiki</li>
<li>Było bardzo fajnie</li>
<li>Wszystko się zmieniło w czerwcu i lipcu</li>
<li>W czerwcu przeprowadziliśmy się z domu moich rodziców do naszego obecnego mieszkania</li>
<li>To znaczyło, że musiałem zarabiać trochę więcej pieniędzy</li>
<li>Ale nie było tak źle</li>
<li>Poświęciłem może dziesięć do dwadzieścia godzin tygodniowo na te projekty na zlecenie</li>
<li>Resztę miałem dla Bibliobirda</li>
<li>I te projekty były całkiem ciekawe</li>
<li>Pracowałem nad stroną, która jest konkurentem do GroupOn</li>
<li>Pracowałem nad bardzo inowacyjną aplikacją, która pomaga zespołom w komunikacji ze sobą ale w bardzo nietradycyjny sposób: bez emaili bardziej jak na Facebooku, na przykład</li>
<li>I też od końca kwietnia pracowałem trochę na boku z grupą, której celem jest oszczędzenie naszego najcenniejszego naturalnego zasobu: wody</li>
<li>Ten projekt bardzo mnie zaciekawił</li>
<li>Oczywiście, lubię takie projekty, które chcą polepszyć świat</li>
<li>Ale też ze strony technologicznej był bardzo interesujący: ten program ma do czynienia z ogromną ilością danych</li>
<li>Nie tylko miliony punktów danych, ale miliony nowych punktów danych dziennie i biliony w całości</li>
<li>Więc około lipca dołączyłęm się do tej grupy jako współzałożyciel firmy h2oscore.com</li>
<li>Znaleźliśmy biuro, zatrudniliśmy starzystów, biegaliśmy o inwestycję</li>
<li>Firma rozwinęła i wynosiliśmy pewne sukcesy</li>
<li>Ale to wszystko zajmowało cały mój czas</li>
<li>To było w lipcu, że praktycznie przestałem nagrywać filmików</li>
<li>Przestałem pracować nad Bibliobirdem</li>
<li>Zaczynając od grudnia ciężko myślałem: czy naprawdę chcę zrezygnować z Bibliobirda?</li>
<li>Bo tak de facto się stało</li>
<li>Nie zdecydowałem tak zrobić</li>
<li>Ale po prostu z powodu braku czasu</li>
<li>Kocham i H2OScore i Bibliobird</li>
<li>Ale zdałem sobie sprawę, że jeśli mam czas tylko dla jednego projektu, wybrałbym Bibliobird</li>
<li>Nauka języków obcych jest moją prawdziwą pasją</li>
<li>Więc na początku stycznia kilka tygodni temu oficjalnie zrezygnowałem z H2OScore</li>
<li>Oczywiście, oni idą dalej</li>
<li>Już od mojego wyjścia kilka dobrych rzeczy zdarzyło się dla nich</li>
<li>Byli w telewizji, byli w gazecie, itd</li>
<li>Ale to znaczy, że ja wrócę do pracy nad Bibliobirdem i do trochę pracy na zlecenie</li>
<li>W kolejnych tygodniach i miesiącach, będę szukał sposobów, na ulepszenie Bibloibirda i na poświęcenie mu więcej mojej uwagi</li>
<li>To też znaczy, że będę nagrywał więcej filmików</li>
<li>Myślę, że rok dwa tysiące dwunasty bedzie nawet lepszy od poprzedniego</li>
<li>Dziękuję za uwagę</li>
<li>Do widzenia</li>
</ul>
</div>

<div id="comments">
<a id="comment-1215"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/186ed06a8ceea211ca02b2b888f07c49?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć Dawid, </p>
<p>ciepło Cię pozdrawiam i gratuluję słówka "przeprowadziliśmy się", bardzo ładnie wyartykułowane :)</p>
<p>PS: Przez Ciebie kupiłem Harrego Pottera w wersji angielskiej ^.^</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/111/1215">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wilk (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/01/vlog-skupianie-si%C4%99-na-tym-co-jest-dla-mnie-wa%C5%BCne#comment-1215">Tuesday, January 17, 2012 - 11:14</a></span>
</div>
</div>
<div class="indented"><a id="comment-1221"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Świetnie! Daj znać jak Ci idzie z Harrym Potterem kiedy zaczniesz go czytać.</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/111/1221">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/01/vlog-skupianie-si%C4%99-na-tym-co-jest-dla-mnie-wa%C5%BCne#comment-1221">Tuesday, January 17, 2012 - 17:40</a></span>
</div>
</div>
</div><a id="comment-1217"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Jeżeli pracujesz 12 godzin to podziwiam, że masz jeszcze siły na osobiste projekty i naukę języka. :)</p>
<p>Skoro prosisz o porady, to chciałbym odnieść się do wstępu „Znowu przed kamerą internetową”. Na mój gust brzmi to trochę sztucznie – zarówno powitanie, jak i akcentowanie „internetową” (wiadomo, że o nią chodzi).</p>
<p>To nie moja sprawa, ale proponowałbym coś mniej formalnego w stylu „cześć/witam was, tu David Snopek”. I dalej rozwinięcie.</p>
<p>Wiem, że już się do tego odnosiłeś, ale za bardzo akcentujesz „r” – brzmi to trochę po francusku, trochę jak wada wymowy u rodowitego Polaka – miałem taką nauczycielkę. :)<br/>
Spróbuj wymawiać tą spółgłoskę mniej dźwięcznie (ale nie rób z tego „l” – taką nauczycielkę też miałem – notabene od muzyki :D) – bardziej swobodnie i może krócej.</p>
<p>Wiem, że to z czym native nie ma problemów, ma problem uczący się. Sam czasem mam problemy z wymową bezdźwięcznego „th”.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/111/1217">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/01/vlog-skupianie-si%C4%99-na-tym-co-jest-dla-mnie-wa%C5%BCne#comment-1217">Tuesday, January 17, 2012 - 14:39</a></span>
</div>
</div>
<div class="indented"><a id="comment-1222"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Od tej pory kiedy nie mam tradycyjnej posady w jakiejś firmie, uważam też moją pracę nad Bibliobirdem za "pracę."  Może to nie jest płatna ale pracuję nad nim dokładnie tak samo jak pracowałbym dla jakiegoś klienta.  Po prostu zdecydowałem, że to moja praca. :-) Jakbym był własnym klientem.</p>
<p>Więc rzeczywiście pracuję 12 godzin dziennie ale nie wszystkie godziny są płatne.  Ale nauka języka - to jest poza pracą.  Nie znam żadnego klienta, który mnie płaciłbym, żeby nauczyć się języka. ;-)</p>
<p>Ee, moje wprowadzenie rzeczywiście jest sztuczne, robię to świadomie.  Tak powiedziałem na samym początku bo wtedy nie mówiłem tak dobrze po polsku. :-) Ale kontynuuję bo jest popularne wśród widzów.</p>
<p>Dzięki za porady dotyczące wymowy.  Z jakiegoś powodu nie mogę zmotywować się do poprawienia mojej wymowy ale wiem, że powinienem. :-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/111/1222">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/01/vlog-skupianie-si%C4%99-na-tym-co-jest-dla-mnie-wa%C5%BCne#comment-1222">Tuesday, January 17, 2012 - 17:50</a></span>
</div>
</div>
</div><a id="comment-1218"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Aha. W przeciwieństwie do większości Polaków, prawidłowo odmieniłeś rok. Większość powiedziałaby „dwutysięczny dwunasty” :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/111/1218">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/01/vlog-skupianie-si%C4%99-na-tym-co-jest-dla-mnie-wa%C5%BCne#comment-1218">Tuesday, January 17, 2012 - 14:41</a></span>
</div>
</div>
<a id="comment-1219"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d0ec7dbdd1ead7fb16d8425d4b95d09d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witaj, David!</p>
<p>Życzę Ci samych sukcesów w 2012 roku i realizacji wszystkich planów. BiblioBird ma ogromny potencjał i na pewno będę z niego korzystał.</p>
<p>Chciałbym jeszcze dodać, że natchnąłeś mnie do spróbowania nauki w nieco bardziej oryginalny sposób niż mechaniczne wkuwanie przypadkowych słówek. Wielokrotnie wspomniałeś, że ogromnego postępu w nauce języka polskiego dokonałeś czytając Harry'ego Pottera. Zainspirowałeś mnie do czegoś podobnego: postanowiłem przeczytać książkę "Ulysses" Joyce'a. Będę porównywał każde słowo, zdanie, akapit zawarte w oryginalnej książce z wersją polskojęzyczną. Dlaczego wybrałem tę książkę? Zupełnie przypadkiem natknąłem się w Wikipedii na artykuł o tej powieści i na informację, że książka zawiera ok. 30 tysięcy unikalnych słów - czyli znacznie więcej niż potrzeba do swobodnej konwersacji w języku angielskim! Jako że lubię wyzwania, postanowiłem nabyć audiobooka "Ulyssesa" i systematycznie czytać równolegle polską i angielską wersję książki, co jakiś czas przesłuchując też wersję audio dla osłuchania się z językiem. Trudniejsze wyrazy będę wpisywał do Anki. Wiem, że będzie ciężko, ale w miarę czytania powinienem radzić sobie z językiem coraz lepiej. Ciekawe, czy zdążę ją przeczytać w tym roku. :-)</p>
<p>Pozdrawiam!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/111/1219">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kamil (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/01/vlog-skupianie-si%C4%99-na-tym-co-jest-dla-mnie-wa%C5%BCne#comment-1219">Tuesday, January 17, 2012 - 15:03</a></span>
</div>
</div>
<div class="indented"><a id="comment-1223"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Kamil!</p>
<p>Dzięki. :-)</p>
<p>To bardzo ambitny plan!  Podoba mi się. ;-)  Osobiście nigdy nie czytałem książki "Ulysses" ale słyszałem bardzo ciekawe rzeczy o niej.  Dam znać jak Ci idzie kiedy zaczniesz z nią!</p>
<p>Życzę powodzenia w nauce!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/111/1223">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/01/vlog-skupianie-si%C4%99-na-tym-co-jest-dla-mnie-wa%C5%BCne#comment-1223">Tuesday, January 17, 2012 - 17:54</a></span>
</div>
</div>
<div class="indented"><a id="comment-1230"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d0ec7dbdd1ead7fb16d8425d4b95d09d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witaj ponownie!</p>
<p>Od dwóch dni staram się wcielić w życie mój plan. Niestety, mój perfekcjonizm strasznie spowalnia tempo czytania książki i nie wiem, czy kiedykolwiek uda mi się ją ukończyć. :-) Na początku zamierzałem jedynie wpisywać do Anki tłumaczenia niezrozumiałych wyrazów i fragmentów zdań w oparciu o polski przekład powieści. Jednak, jak zapewne wiesz, najlepiej uczyć się na pamięć całych zdań, aby lepiej przyswoić szyk zdania oraz poznać kontekst danego słowa. Znalazłem w internecie wersję on-line książki - zarówno po angielsku i po polsku - więc mogę te zdania wklejać do programu zamiast przepisywać. Niestety, nie jestem w stanie zrozumieć w pełni większości zdań, gdyż wiele z nich jest bardzo rozbudowanych i z trudnym słownictwem. W rezultacie, wklejam mniej więcej co drugie zdanie do Anki! Mimo, że dotarłem dopiero do siódmej strony powieści (a ma ona 1305 stron), utworzyłem już 150 wpisów w bazie! Jeśli tendencja utrzyma się, z chwilą zakończenia książki będę miał w bazie... prawie 30 tysięcy zdań. :-) :-) :-) Będę musiał jakoś uprościć tę metodę, w przeciwnym wypadku książkę skończę czytać w następnym wcieleniu. :-)</p>
<p>Pozdrawiam!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/111/1230">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kamil (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/01/vlog-skupianie-si%C4%99-na-tym-co-jest-dla-mnie-wa%C5%BCne#comment-1230">Thursday, January 19, 2012 - 14:46</a></span>
</div>
</div>
</div></div><a id="comment-1220"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/b69ba4fd3269de01cad11c07a047851d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>co do wstepu to prisze go nie zmieniac obserwuje pana kanal i blog od dlugiego czasu i wstep juz jest kultowy to cos typu dawno dawno temu w odleglej galaktyce :) cieplo pozdrawiam i jestem pana fanem</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/111/1220">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/01/vlog-skupianie-si%C4%99-na-tym-co-jest-dla-mnie-wa%C5%BCne#comment-1220">Tuesday, January 17, 2012 - 16:15</a></span>
</div>
</div>
<div class="indented"><a id="comment-1224"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Nie martw się - nie zmienię jego. :-)  Pozdrawiam serdecznie, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/111/1224">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/01/vlog-skupianie-si%C4%99-na-tym-co-jest-dla-mnie-wa%C5%BCne#comment-1224">Tuesday, January 17, 2012 - 17:56</a></span>
</div>
</div>
<div class="indented"><a id="comment-1228"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/b69ba4fd3269de01cad11c07a047851d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>To fajnie. Mam pytanie odnośnie Pana metody gdy czytał Pan Harrego Pottera to tłumaczył Pan słowo po słowie, którego Pan nie znał czy jakoś inaczej?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/111/1228">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/01/vlog-skupianie-si%C4%99-na-tym-co-jest-dla-mnie-wa%C5%BCne#comment-1228">Thursday, January 19, 2012 - 14:01</a></span>
</div>
</div>
<div class="indented"><a id="comment-1238"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Nie jestem pewien o co pytasz ale spróbuję odpowiadać. :-)  Tylko tłumaczyłem pojedyncze słowa i napisałem dla nich fiszki.  Nie robiłem tego od razu kiedy spotkałem nieznane słowa, tylko je podkreślałem i co dwie strony, przestawałem czytać żeby "tłumaczyć" ostatnio podkreślane słowa.  Mam nadzieję, że odpowiedziałem na Twoje pytanie!  Pozdrawiam, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/111/1238">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/01/vlog-skupianie-si%C4%99-na-tym-co-jest-dla-mnie-wa%C5%BCne#comment-1238">Saturday, January 21, 2012 - 08:19</a></span>
</div>
</div>
</div></div></div><a id="comment-1233"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/118d6ebe9d4c3a70d855ccf46b801929?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witaj David !</p>
<p>Ja tez lubie uczyc sie jezykow obcych. Niedawno (na stare lata :) zaczalem sie uczyc hiszpanskiego Jak juz kiedys wspomniales jest wiele metod nauki i kazdy pewnie uczy sie w innym celu. Moja ulubiona metoda jest nauka dialogow filmowych. "Moja" metoda jest przydatna dla osob ktore chca sie porozumiewac w innym kraju, ale niestety, nie wystarczy uczniom ani studentom, ktorzy beda kiedys zdawac egzamin. Kupilem film Almadovara. Skopiowalem znalezione na internecie dialogi hiszpanskie z angielskim tlumaczeniem. Ogladam odcinki filmu i staram sie powtarzac slowa z dialogu. Nastepnie czytam odpowiednie dialogi hiszpanskie i ogladam ponownie te same odcinki. Kiedy z akcji moge sie troche zorientowac o co chodzi czytam angielskie tlumaczenie. Powtarzam te docinki kilka razy tak ze po pewnym czasie pamietam hiszpanskie dialogi i "wczuwam" sie w akcje znajac na pamiec rozmowe. Wiem ze rozmowy z filmow, teksty piosenek niekoniecznie sa poprawne gramatycznie. Gramatyki polskiej nigdy nie znalem ale wedlug moich nauczycieli z ogolniaka bardzo dobrze pisalem ( to juz bylo tak dawno :) Angielskiej gramatyki tez nie znam ale dosyc dobrze opanowalem ten moj drugi jezyk a wlasciwie po tylu latach jest juz pierwszym :).<br/>
 Mieszkajac w Stanach nauczylem sie angielskiego z angielskiego. Nigdy nie zagladalem do slownika polsko-angielskiego ani angielsko-polskiego, ale lubilem"podrozowac" po slowniku papierowym (angielskim).  David, postanowilem uczysc sie Twoja metoda, wczoraj kupilem na Amazon Harry Portera po hiszpansku i angielsku. Nie bede szukal pojedynczych nieznanych mi slow a raczej czytal angielskie tlumaczenie.<br/>
Pozdrawiam serdecznie.<br/>
yurek</p>
<p>Twoja strona bardzo mi sie podoba.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/111/1233">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">yurek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/01/vlog-skupianie-si%C4%99-na-tym-co-jest-dla-mnie-wa%C5%BCne#comment-1233">Friday, January 20, 2012 - 02:08</a></span>
</div>
</div>
<div class="indented"><a id="comment-1239"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Czeżć Yurek!</p>
<p>Dziękuję bardzo za podzielenie się Twoim doświadczeniem. Bardzo mi się podoba Twoja metoda, brzmi bardzo efektywna. Ze strony konceptualistycznej jest bardzo podobna do mojej: zamiast nagrania dźwiękowej masz sam film, zamiast książki masz scenariusz i zamiast słownika masz tłumaczenie na angielski. :-)</p>
<p>Kiedy zaczniesz z Harrym Potterem, daj znać jak Ci idzie!</p>
<p>Jedna wielka różnica między filmami i książkami jest ilość słownictwa. Będziesz spotykał o wiele więcej słów w czytaniu.  Ale na pewno to będzie pomocne. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/111/1239">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/01/vlog-skupianie-si%C4%99-na-tym-co-jest-dla-mnie-wa%C5%BCne#comment-1239">Saturday, January 21, 2012 - 08:30</a></span>
</div>
</div>
</div><a id="comment-1234"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/02928b7430eb302a1995388d2931bf31?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Może uznasz to za offtop, ale nie wiem czy wiesz, że Frank Sinatra zaśpiewał piosenkę po polsku, tutaj podaję link do youtube<br/>
<a href="http://www.youtube.com/watch?v=fqBT9PO8T4Q" title="http://www.youtube.com/watch?v=fqBT9PO8T4Q">http://www.youtube.com/watch?v=fqBT9PO8T4Q</a></p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/111/1234">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">qwerty (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/01/vlog-skupianie-si%C4%99-na-tym-co-jest-dla-mnie-wa%C5%BCne#comment-1234">Friday, January 20, 2012 - 16:31</a></span>
</div>
</div>
<div class="indented"><a id="comment-1240"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dziękuję za linka! Nie wiedziałem o tym. :-) Pozdrawiam serdecznie, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/111/1240">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/01/vlog-skupianie-si%C4%99-na-tym-co-jest-dla-mnie-wa%C5%BCne#comment-1240">Saturday, January 21, 2012 - 08:31</a></span>
</div>
</div>
</div>
</div>
