---
permalink: /blog/2012/11/listen-to-my-free-ebook-about-language-learning-in-polish/
layout: blog-old
title: 'Listen to my FREE audiobook about language learning in Polish!'
day: 13
month: Nov
year: 2012
category: language learning
tags: 
  - 'audiobook'
  - 'ebook'
language: en
translation: /blog/2012/11/wys%C5%82uchajcie-mojego-darmowego-audiobooka-o-nauce-j%C4%99zyk%C3%B3w/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/05/nll-fauxbookstack-pl.png" rel="lightbox"><img alt="Cover of my ebook" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/05/nll-fauxbookstack-pl.png" title=""/></a></div>
<p><a href="http://www.linguatrek.com/blog/2012/03/our-big-announcement-we-need-your-help">Back in March</a> I decided to write a FREE ebook about language learning for YOU, the subscribers of my blog, in order to thank you for your support over the years.</p>
<p>I planned the content based on over 1500 survey responses and HUNDREDS of emails and comments. By the time it was finally <a href="http://www.linguatrek.com/blog/2012/05/natural-language-learning-my-free-ebook-is-finished">published in May</a>, I can honestly say that it <em>really</em> was FOR YOU!</p>
<p><strong>In the introduction, I write:</strong></p>
<blockquote>
<p>This ebook is for people...</p>
<ul>
<li>... who have spent years in traditional courses but still can't order in a restaurant, watch a movie without subtitles, or have a casual conversation with a native speaker.</li>
<li>... who think that their course was too fast, too slow, or too boring.</li>
<li>... who think they don't have a talent for learning language. (But, in truth, no talent is necessary!  What you need is a good approach!)</li>
<li>... who want to take control of their language learning journey and study using a method that will help them achieve their goal efficiently!</li>
</ul>
<p>In short, this ebook is for <em>normal</em> people who want to learn a language.  It's not for language experts or polyglots.</p>
<p>It's for the majority of <em>us</em> who have tried in vain to learn even one foreign language.  Or for those who successfully learned one foreign language, but the process was so slow and painful they're looking for a better way to learn their second foreign language.</p>
</blockquote>
<p>Today, I'm happy to announce an <strong>updated Polish translation</strong> and an <strong>audiobook version in Polish!</strong></p>
<p>Read more in order to listen to the introduction and find out how to download the full audiobook (or PDF, EPUB or MOBI)!</p>
<h2>Listen to the introduction!</h2>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/f4ZWyPB7h3E?fs=1&amp;hl=en_US&amp;rel=0&amp;start=93"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/f4ZWyPB7h3E?fs=1&amp;hl=en_US&amp;rel=0&amp;start=93" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<h2>Download it now!</h2>
<p><strong><a href="http://www.linguatrek.com/subscribe">Please subscribe</a> to my blog in order to download the audiobook (or PDF, EPUB or MOBI)!</strong></p>
<p>Or if you're already a subscribers, you can <a href="http://www.linguatrek.com/nll-ebook-pl">download it here</a>.</p>
<h2>Tell your friends!</h2>
<p>The creator of the audiobook is <a href="http://unfamusic.com/">Tobiasz 'unfa' Karoń</a>: a musician, podcaster and producer.  He did a really fantastic job!</p>
<p>Tobiasz is making his first steps into recording audiobooks and offered to record my audiobook for FREE in exchange for promoting him and his website.</p>
<p><strong>Please share this article on Twitter, Facebook and Wykop! Let's help Tobiasz get the attention he deserves for his excellent work!</strong></p>
</div>

<div id="comments">
<a id="comment-3182"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9b0f0ce5c7fadc3ef36463869ffd4704?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi David,</p>
<p>Do you plan to record English audiobook version?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/218/3182">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Tom (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/11/listen-to-my-free-ebook-about-language-learning-in-polish#comment-3182">Tuesday, November 13, 2012 - 11:37</a></span>
</div>
</div>
<div class="indented"><a id="comment-3183"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>+1 to this idea!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/218/3183">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/11/listen-to-my-free-ebook-about-language-learning-in-polish#comment-3183">Tuesday, November 13, 2012 - 11:46</a></span>
</div>
</div>
<a id="comment-3184"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Yes! However, I don't know when I'll get around to it. Whenever I think I'm going to have more time -- it turns out that I'm just as busy but with other things.</p>
<p>Also, after hearing Tobiasz's audiobook (which sounds really awesome), it's going to be hard to compete. :-) It may take me a little longer to record than I had originally imagined.</p>
<p>But I will do it eventually!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/218/3184">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/11/listen-to-my-free-ebook-about-language-learning-in-polish#comment-3184">Tuesday, November 13, 2012 - 11:54</a></span>
</div>
</div>
</div><a id="comment-3189"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d866a6e9db7d5df3b61905490bdef744?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć David, przepraszam że piszę w języku polskim, jednak jeszcze nie jestem aż tak zaawansowany w języku angielskim.<br/>
Przeczytałem Twój e-book i jest świetny, gratuluje Ci za ten wysiłek i podziwiam, jednak ja chciałbym o coś zapytać.<br/>
Piszesz tam że języka można się nauczyć każdego, tzn. każdy sam jest w stanie się go nauczyć.<br/>
Ja chciałbym zacząć naukę języka chińskiego jednak słyszałem że do nauki tego języka potzrebny jest nauczyciel, problem w tym że mnie nie stać na prywatną naukę czy kurs, więc pozostaje nauka samemu, myślisz że człowiek samodzielnie jest w stanie nauczyć się chińskiego?<br/>
Uczę się amgielskiego i niemieckiego - problemu nie mam ale nie wiem czy warto uczyć się samemu chińskiego...</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/218/3189">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/11/listen-to-my-free-ebook-about-language-learning-in-polish#comment-3189">Thursday, November 15, 2012 - 15:01</a></span>
</div>
</div>
<div class="indented"><a id="comment-3206"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć!</p>
<p>Myślę, że tak!</p>
<p>Jest dużo materiałów w internecie, dużo innych uczących się, którzy są chętni do pomocy innym, itd. Z tym językiem będzie trudniej coś czytać na początku bo nie ma alfabetu ale na pewno jest kilka rozwiązania, np. może istnieje alfabet dla uczących się, może lepiej zacząć ze słuchaniem bez czytania, itd.</p>
<p>Niestety osobiście nie uczę się chińskiego, więc trudno podać konkretnych porad.</p>
<p>Oto blog znajomego, który się uczy chińskiego:<br/>
<a href="http://mandarinfromscratch.com/" title="http://mandarinfromscratch.com/">http://mandarinfromscratch.com/</a></p>
<p>Mam nadzieję, że to pomoże!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/218/3206">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/11/listen-to-my-free-ebook-about-language-learning-in-polish#comment-3206">Sunday, November 18, 2012 - 12:29</a></span>
</div>
</div>
</div><a id="comment-3388"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/ff3f22c0f97350c8acb1b884b47ce03f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>David,</p>
<p>Where can I find a Polish audio version of Harry Potter, Sorcerer's Stone? I tried Amazon (both US and UK) and they didn't have it. Thank you for your blog.</p>
<p>Stephen</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/218/3388">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Stephen  (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/11/listen-to-my-free-ebook-about-language-learning-in-polish#comment-3388">Sunday, December 30, 2012 - 18:55</a></span>
</div>
</div>
<div class="indented"><a id="comment-3391"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Stephen,</p>
<p>You'll have to order it from a Polish bookstore, either in Poland or in your country. I can't say exactly which one has it NOW, because stock flutuates. I ordered most of mine online from bookstores in Chicago, but got a couple from Empik (a big bookstore in Poland).</p>
<p>It looks like Empik is out of stock now:</p>
<p><a href="http://www.empik.com/harry-potter-i-kamien-filozoficzny-audiobook-cd-rowling-joanne-k,11497,ksiazka-p" title="http://www.empik.com/harry-potter-i-kamien-filozoficzny-audiobook-cd-rowling-joanne-k,11497,ksiazka-p">http://www.empik.com/harry-potter-i-kamien-filozoficzny-audiobook-cd-row...</a></p>
<p>Here are the ones I know in Chicago (unfortunately none has it right now):</p>
<p><a href="http://www.quovadisbooks.net/" title="http://www.quovadisbooks.net/">http://www.quovadisbooks.net/</a></p>
<p><a href="http://www.domksiazki.com/" title="http://www.domksiazki.com/">http://www.domksiazki.com/</a></p>
<p><a href="http://ksiegarniafocus.com/" title="http://ksiegarniafocus.com/">http://ksiegarniafocus.com/</a></p>
<p>Your best bet is probably some other bookstore (not Empik) in Poland, since there are lots and if it's available in Polish anywhere, it'd be in Poland. :-)</p>
<p>I wish you luck in your search!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/218/3391">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/11/listen-to-my-free-ebook-about-language-learning-in-polish#comment-3391">Monday, December 31, 2012 - 09:05</a></span>
</div>
</div>
</div><a id="comment-3418"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://angielski.gregloby.net/naturalna-nauka-jezyka-bez-nauczyciela-darmowy-ebook/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] jest jeszcze za słaby, żeby czytać w oryginale podeprzyj się polskim tłumaczeniem – Naturalna nauka języka bez nauczyciela.  Dla Twojej wygody, ebooki przygotowane są w różnych formatach pdf, epub, mobi. Polska wersja [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/218/3418">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://angielski.gregloby.net/naturalna-nauka-jezyka-bez-nauczyciela-darmowy-ebook/" rel="nofollow">Naturalna nauka języka bez nauczyciela &amp;amp;#8211; darmowy e</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/11/listen-to-my-free-ebook-about-language-learning-in-polish#comment-3418">Wednesday, January 2, 2013 - 10:38</a></span>
</div>
</div>
<a id="comment-4438"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2013/04/im-going-on-a-short-vacation-from-blogging-personal-note" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] over the years: corrected my Polish, sent me encouraging emails, translated my ebook into Polish, recorded an audio version of my ebook and much [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/218/4438">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2013/04/im-going-on-a-short-vacation-from-blogging-personal-note" rel="nofollow">I&amp;amp;#039;m going on a short &amp;amp;quot;vacation&amp;amp;quot; f</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/11/listen-to-my-free-ebook-about-language-learning-in-polish#comment-4438">Tuesday, April 9, 2013 - 12:44</a></span>
</div>
</div>
</div>
