---
permalink: /blog/2012/11/vlog-odpowiadam-na-negatywne-komentarze-pieniądze-czy-pasja/
layout: blog-old
title: 'Vlog: Odpowiadam na negatywne komentarze - pieniądze czy pasja?'
day: 20
month: Nov
year: 2012
category: USA
tags: 
  - 'koszty życia w USA'
  - 'vlog'
language: en
translation: /blog/2012/11/vlog-odpowiadam-na-negatywne-komentarze-pieni%C4%85dze-czy-pasja/
---
<div class="content">
<p><em>To jest kolejny odcinek z serii: <a href="http://www.linguatrek.com/tags/koszty-%C5%BCycia-w-usa">Koszty życia w USA!</a></em></p>
<p>Dwa tygodnie temu opublikowałem <a href="http://www.linguatrek.com/blog/2012/11/vlog-koszty-%C5%BCycia-w-usa-wynagrodzenie-i-rodzinny-bud%C5%BCet">drugi odcinek</a> z serii: Koszty życia w USA - w którym rozmawiałem na temat wynagrodzenia i rodzinnego budżetu.</p>
<p><strong>Powiem od razu, że większość komentarzy była pozytywna!</strong> Ale również dostałem wiele negatywnych odpowiedzi (zwłaszcza <a href="http://www.wykop.pl/link/1314531/vlog-koszty-zycia-w-usa-wynagrodzenie-i-rodzinny-budzet/">na Wykopie</a> ale nie tylko), których w ogóle nie spodziewałem się.</p>
<p>Nagrywam takie filmiki od sześciu lat i już jestem przyzwyczajony do negatywnych komentarzy w internecie. Więc pierwotnie zamierzałem po prostu przejść dalej... <em>Ale tym razem, to tak mnie dręczyło, bo myślę, że większość negatywnych komentarzy nie wynika ze złości ale z braku informacji.</em></p>
<p><strong>Tak więc zdecydowałem odpowiedzieć na trzy głowne motywy w tych negatywnych komentarzach!</strong></p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/puap5RtqN4M?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/puap5RtqN4M?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Jeśli masz chwilę, żeby pomóc mi z językiem polskim, proszę podaj mi poprawki <a href="http://lang-8.com/10069/journals/1789296/Vlog%253A-Odpowiadam-na-negatywne-komentarze-pieni%25C4%2585dze-czy-pasja%253F">w serwisie Lang-8</a>!</p>
<p><strong>Czytaj więcej, żeby czytać transkrypcję!</strong></p>
<h2><a name="transcript">Transkrypcja</a></h2>
<ul>
<li>Dzień dobry</li>
<li>Znowu przed kamerą internetową mówi David Snopek</li>
<li>Dwa tygodnie temu opublikowałem drugi odcinek z serii: Koszty życia w USA</li>
<li>W którym rozmawiałem na temat wynagrodzenia i rodzinnego budżetu</li>
<li>Powiem od razu, że większość komentarzy była pozytywna</li>
<li>Ale również dostałem wiele negatywnych odpowiedzi - zwłaszcza na Wykopie ale nie tylko - których w ogóle nie spodziewałem się</li>
<li>No, nagrywam takie filmiki od sześciu lat</li>
<li>Już jestem przyzwyczajony do negatywnych komentarzy w internecie</li>
<li>Więc pierwotnie zamierzałem po prostu przejść dalej</li>
<li>Ale tym razem, to tak mnie dręczyło</li>
<li>Bo myślę, że większość nagatywnych komentarzy nie wynika ze złości ale z braku kontekstu, z braku informacji</li>
<li>Więc dzisiaj w tym filmiku będę odpowiadał na trzy główne motywy w tych negatywnych komentarzach</li>
</ul>
<h3>1. Narzekam bo jest nam źle</h3>
<ul>
<li>Niektórzy myśleli, że w poprzednim odcinku narzekałem bo zarabiamy "tak mało" i jest nam źle</li>
<li>Ale nie narzekam</li>
<li>Po pierwsze żyjemy dobrze</li>
<li>Stać nas na mieszkanie, stać nas na jedzenie</li>
<li>Poza tym bawimy się dobrze</li>
<li>Jesteśmy zadowoleni z naszego życia</li>
<li>Po drugie wcale nie jesteśmy biedni</li>
<li>Rząd ustala jakąś granicę ubóstwa</li>
<li>Jeśli zarabiasz mniej, dostajesz pomoc od rządu</li>
<li>Ale zarabiamy o wiele, wiele więcej</li>
<li>Po trzecie i chyba najważniejsze nie pracujemy na pełny etat z własnego wyboru</li>
<li>Pracuję na pół jako freelancer, jako programista na zlecenie, i na pół dla siebie</li>
<li>Od dwóch lat staram się startować własną firmę</li>
<li>Na początku była to firma technologiczna dotycząca wody</li>
<li>Nagrałem chyba 10 filmików na ten temat</li>
<li>To szło dość dobrze ale to rozprosiło moją uwagę od Bibliobirda, od nauki języków obcych</li>
<li>Co jest moją prawdziwą pasją</li>
<li>Więc w styczniu zregzynowałem z tego projektu</li>
<li>Mój współzałożyciel nadal pracuje nad tym</li>
<li>Od tej pory nawet dostał dość dużą inwestycję i gratuluję mu</li>
<li>W każdym razie od stycznia staram się zbudować firmę wokół Bibliobirda</li>
<li>Wciągnąłem wtedy moją żonę do tego</li>
<li>I od sierpnia ona pracuje wyłącznie nad Bibliobirdem</li>
<li>Więc zyski od Bibliobirda to jakby jej wynagrodzenie</li>
<li>I oczywiście nagrałem sporo filmików na temat Bibliobirda</li>
</ul>
<h3>2. W naszym mieście, stanie lub w USA jest źle</h3>
<ul>
<li>Niektórzy myśleli, że chodziło mi o to, że jest źle w USA, że już nie ma snu amerykańskiego</li>
<li>Gospodarka oczywiście nie jest tak jak kiedyś była</li>
<li>Niedawno wielu ludzi stracili pracę i dla niektórych ta praca nie wróci</li>
<li>Będą musieli nauczyć się nowych umiejętności i pracować w nowych branżach</li>
<li>To jest bardzo trudna sytuacja</li>
<li>Ale sen amerykański nadal żyje, nadal istnieje</li>
<li>I mam nadzieję, że przyszły sukces naszej firmy to udowodni</li>
<li>Ale zobaczymy</li>
<li>Poza tym, tematem tej serii nie jest wynagrodzenie ale koszty</li>
<li>Nawet nie jest na temat ogólnej sytuacji w USA</li>
<li>Tak jak powiedziałem w pierwszych dwóch filmikach, już możecie znaleźć wszystkie statystyki w internecie</li>
<li>Mimo tego ludzie ciągle mnie proszą o konkretne przykłady</li>
<li>Ile kosztuje mieszkanie?</li>
<li>Ile kosztuje chleb i mleko?</li>
<li>Ile kosztuje benzyna?</li>
<li>I to bywa różnie w innych stanach, w innych miastach, w innych dzielnicach nawet</li>
<li>Więc w tej serii podaję konkretne przykłady z mojego życia</li>
<li>Tylko podałem wynagrodzenie bo ludzie prosili o to, żeby to porównywać z kosztami</li>
<li>Więc nasze "złe" zarobki nie znaczą, że jest źle w USA</li>
</ul>
<h3>3. Muszę być naprawdę głupi jeśli tak zarabiamy</h3>
<ul>
<li>Parę osób powiedziało, że ja muszę być naprawdę głupi jeśli zarabiamy "tak mało"</li>
<li>Dowiedziałem się podczas tej rozmowy, że jest tabu w polskiej kulturze rozmawiać o zarobkach</li>
<li>I chyba w przyszłości będę to unikał</li>
<li>Myśle, że to będzie lepiej</li>
<li>Ale nie wstydzę się naszych zarobków</li>
<li>Powiem nawet, że jestem dumny z tego powodu</li>
<li>Ponieważ zarabiamy w zasadzie to samo co zarobiliśmy kiedy moja żona pracowała w normalnej firmie</li>
<li>Ponieważ stać nas na życie podczas gdy startujemy własną firmę z naszej pasji</li>
<li>I prowadzenie firmy jest dość kosztowne</li>
<li>Jest wiele wydatków</li>
<li>Na przykład: kilku freelancerów pracują dla nas w naszej firmie</li>
<li>I muszę im płacić co miesiąc</li>
<li>To rzeczywiście jest nasz największy wydatek</li>
<li>I nadal pozostaje nam dość na życie</li>
<li>Od dwóch lat żyję w świecie startupów i przedsiębiorstwa</li>
<li>Kiedyś w przeszłości kiedy pracowałem w normalnej firmie, w korporacji, zarobiłem o wiele więcej</li>
<li>Ale pieniądze to nie wszystko</li>
<li>Oczywiście chcielibyśmy zarabiać więcej</li>
<li>Ale pasja jest dla nas ważniejsza</li>
<li>Chciałbym dodać na koniec, że są osoby, które nie mogą znaleźć pracy na pełny etat</li>
<li>Które zarabiają to samo co my - ale nie z własnego wyboru - dlatego, że nie mogą znaleźć pracy</li>
<li>Takie osoby również nie są głupie</li>
<li>Nawet bez takiego wyjaśnienia jakie podałem tutaj w tym filmiku</li>
<li>Nie ma powodu wstydzić się takich zarobków</li>
<li>Dobrze</li>
<li>Mam nadzieję, że to jest koniec tego tematu</li>
<li>Jeśli niektórzy nadal nie są zadowoleni z naszych zarobków</li>
<li>Zapraszam do zakupu naszego kursu z języka angielskiego</li>
<li>Dobrze, następnym razem wrócimy do kosztów</li>
<li>Dziękuję za uwagę</li>
<li>Do widzenia</li>
</ul>
</div>

<div id="comments">
<a id="comment-3217"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/da9010e88f473e139570236359fcea51?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Jest - Niedawno wielu ludzi stracili pracę i dla niektórych ta praca nie wróci</p>
<p>Powinno być - Niedawno wielu ludzi straciło pracę i dla niektórych ta praca nie wróci</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/220/3217">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Trev (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/11/vlog-odpowiadam-na-negatywne-komentarze-pieni%C4%85dze-czy-pasja#comment-3217">Tuesday, November 20, 2012 - 09:04</a></span>
</div>
</div>
<div class="indented"><a id="comment-3218"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki za poprawkę! :-) Pozdrawiam serdecznie, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/220/3218">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/11/vlog-odpowiadam-na-negatywne-komentarze-pieni%C4%85dze-czy-pasja#comment-3218">Tuesday, November 20, 2012 - 09:05</a></span>
</div>
</div>
</div><a id="comment-3219"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9b0f0ce5c7fadc3ef36463869ffd4704?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Dokładnie David, nie powiedziałeś w poprzednim filmiku, że to pół-etatu i jeszcze płacisz z dochodów Bibliobirda żonie :-), więc większość osób błędnie założyła, że to są dochody dwóch osób na pełnych etatach (czyli  ~2000$/2*167h ~= 6$/h co daje ~ 20zł/h), co nawet na polskie warunki jest mało (no powiedzmy mocno przeciętnie), szczególnie w branży IT.</p>
<p>Sam nie zwróciłem na to uwagi, ale nawet średnia 32 tyś. $/rocznie dla Twojego stanu na gospodarstwo domowe, wydaje mi się niska (w porównaniu do polskich warunków).</p>
<p>Czyli albo w USA jest tak źle, albo w Polsce tak dobrze :-)</p>
<p>Pozdrawiam</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/220/3219">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Tomek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/11/vlog-odpowiadam-na-negatywne-komentarze-pieni%C4%85dze-czy-pasja#comment-3219">Tuesday, November 20, 2012 - 09:16</a></span>
</div>
</div>
<div class="indented"><a id="comment-3220"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Tomek!</p>
<p>No, właśnie. Tego nie powiedziałem bo nie myślałem, że było to potrzebne z kilku powodów:</p>
<ol>
<li>Temat serii nie był wynagrodzeniem, to tylko było dla porównania z kosztami,</li>
<li>Myślałem błędnie, że wszyscy już znali moją sytuację (bo nie jest sekretem, mówiłem o tym publicznie w internecie)</li>
</ol>
<p>Ale podczas rozmowy na Wykopie zdałem sobie sprawę, że chyba powinienem to wszystko wyjaśnić. :-)</p>
<p>To była średnia dla naszego miasta. Ale nie sądzę, że to jest tak niska. Myślę, że jest niższa od krajowej średni ale koszty u nas również są niższej od wielu miejsc w kraju. I oczywiście to tylko statystyka. :-) W konkretnych sytuacjach to nie ma znaczenia.</p>
<p>W każdym razie nie sądzę, że tylko z tych informacji można powiedzieć, że jest źle czy dobrze w USA w ogóle.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/220/3220">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/11/vlog-odpowiadam-na-negatywne-komentarze-pieni%C4%85dze-czy-pasja#comment-3220">Tuesday, November 20, 2012 - 09:36</a></span>
</div>
</div>
</div><a id="comment-3221"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/06aeda4ad9584fe7d395dc2a3449faed?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć,<br/>
Ja chciałem bardzo Ci podziękować za ten filmy o kosztach. No cóż poznałeś drugie oblicze Polaków. Ostatnio wyrosła nam młodzież, która nie ma wyczucia oraz szacunku do pracy drugiego człowieka i człowieka w ogóle.<br/>
Natomiast, rzeczywiście dobrze, że uzupełniłeś te informację, ponieważ to zupełnie zmienia postać rzeczy (odbiór tej informacji).<br/>
Pamiętaj proszę, że my mamy słabe wyobrażenia o realiach życia w USA a dla większości czytających i oglądających jest to jedyna taka informacja jaką kiedykolwiek słyszeli.<br/>
Zapewne, jak przyjechałeś do Polski to też miałeś inne wyobrażenie o Polsce i Polakach.<br/>
Ja Ci w każdym razie dziękuję.<br/>
I ja akurat odebrałem te filmy i Twoją osobę pozytywnie.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/220/3221">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">namado (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/11/vlog-odpowiadam-na-negatywne-komentarze-pieni%C4%85dze-czy-pasja#comment-3221">Tuesday, November 20, 2012 - 12:22</a></span>
</div>
</div>
<div class="indented"><a id="comment-3233"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć!</p>
<p>Bardzo się cieszę, że te filmiki Ci się podobają. :-) Będzie więcej tego!</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/220/3233">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/11/vlog-odpowiadam-na-negatywne-komentarze-pieni%C4%85dze-czy-pasja#comment-3233">Thursday, November 22, 2012 - 12:00</a></span>
</div>
</div>
</div><a id="comment-3225"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/b4c5db966c1df9b35764ad4b7a39f83e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Małe uwagi:<br/>
1. Jest: Więc dzisiaj w tym filmiku będę odpowiadał na trzy główne motywy w tych negatywnych komentarzach<br/>
Proponuję: W dzisiejszym filmiku odpowiem na trzy główne zarzuty w tych negatywnych komentarzach (moja nauczycielka od polskiego zawsze powtarzała, że nie zaczyna się zdania od "więc")</p>
<p>2.Jest: Od dwóch lat staram się startować własną firmę<br/>
Proponuję: Od dwóch lat staram się wystartować z własną firmą, albo - Od dwóch lat staram się rozkręcić własną firmę.</p>
<p>3. Jest: To szło dość dobrze ale to rozprosiło moją uwagę od Bibliobirda, od nauki języków obcych<br/>
Proponuję: To szło dość dobrze ale odwracało moją uwagę od Bibliobirda, od nauki języków obcych</p>
<p>4.Jest: Tylko podałem wynagrodzenie bo ludzie prosili o to, żeby to porównywać z kosztami<br/>
Proponuję: Podałem wynagrodzenie tylko dlatego, że ludzie prosili aby porównać je z kosztami.</p>
<p>5. Jest: Dowiedziałem się podczas tej rozmowy, że jest tabu w polskiej kulturze rozmawiać o zarobkach<br/>
Proponuję: Podczas tej rozmowy dowiedziałem się, że w polskiej kulturze zarobki i rozmowa o nich to tabu.</p>
<p>6. Jest: I chyba w przyszłości będę to unikał<br/>
Proponuję: I chyba w przyszłości będę tego unikał.</p>
<p>7. Jest: Ponieważ zarabiamy w zasadzie to samo co zarobiliśmy kiedy moja żona pracowała w normalnej firmie. Ponieważ stać nas na życie podczas gdy startujemy własną firmę z naszej pasji.<br/>
Proponuję: Ponieważ zarabiamy w zasadzie tyle samo, ile zarabialiśmy kiedy moja żona pracowała w normalnej firmie. Ponieważ stać nas na życie, podczas gdy startujemy z własną firmą będącą naszą pasją.</p>
<p>ps. czy takie poprawki są Ci w ogóle potrzebne? Bo to co piszesz jest na tyle jasne i zrozumiałe, że mogę wyjść na kogoś, kto się „czepia szczegółów”.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/220/3225">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">jaworek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/11/vlog-odpowiadam-na-negatywne-komentarze-pieni%C4%85dze-czy-pasja#comment-3225">Tuesday, November 20, 2012 - 15:28</a></span>
</div>
</div>
<div class="indented"><a id="comment-3231"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć!</p>
<p>Dziękuję bardzo za poprawki. :-) Są pomocne!  Wolę jednak poprawki w serwisie Lang-8, bo jest łatwiej czytać i mogę zbierać poprawki od wielu osób do jednego miejsca.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/220/3231">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/11/vlog-odpowiadam-na-negatywne-komentarze-pieni%C4%85dze-czy-pasja#comment-3231">Thursday, November 22, 2012 - 11:58</a></span>
</div>
</div>
</div><a id="comment-3227"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/47fab4b41d091115a25626cb804e54cd?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć David,<br/>
jeszcze jedna prawda o Polakach: zawsze znajdzie się ktoś, kto skrytykuje coś pozytywnego. A i jeszcze jedna, każdy Polak zna się świetnie na wszystkim a zwłaszcza na służbie zdrowia i polityce (tzn. każdy jest przekonany o tym, że jest specjalistą w tych dziedzinach). Dlatego też, nie przejmuj się tymi negatywnymi komentarzami, bo są to raczej prowokacje, niż prawdziwe opinie.<br/>
Pozdrawiam<br/>
juka</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/220/3227">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">juka (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/11/vlog-odpowiadam-na-negatywne-komentarze-pieni%C4%85dze-czy-pasja#comment-3227">Tuesday, November 20, 2012 - 16:36</a></span>
</div>
</div>
<div class="indented"><a id="comment-3232"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Juka!</p>
<p>Dzięki za słowa wsparcia. :-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/220/3232">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/11/vlog-odpowiadam-na-negatywne-komentarze-pieni%C4%85dze-czy-pasja#comment-3232">Thursday, November 22, 2012 - 11:59</a></span>
</div>
</div>
</div><a id="comment-3228"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/7f3665a38cb757e1e0db23b50280fcb1?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hello David!!! Don't be worry if a Pole ( or the Poles) speaks or speak of money. In Poland the issue of money is like ''a hot potato''. You are doing a good job. Let me know something. Could I pay by a debit card. I live in England and I cannot afford a teacher of English ( £20 per hour)and want to study in a University.</p>
<p>I have a family in the U.S.A and they left Poland 25 years ago and I know sometimes life is not easy, but the same in my country you can find people who love complaining of weather etc. </p>
<p>Kind regards</p>
<p>Robert</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/220/3228">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Robert (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/11/vlog-odpowiadam-na-negatywne-komentarze-pieni%C4%85dze-czy-pasja#comment-3228">Thursday, November 22, 2012 - 07:18</a></span>
</div>
</div>
<div class="indented"><a id="comment-3230"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Robert!</p>
<p>Thanks for the words of support. :-)</p>
<p>I just added the option to pay via PayPal, which allows you to pay with a debit card.</p>
<p>When you're on the "Realizacja zamówienia" page:</p>
<ol>
<li>Under "Metoda płatności" select "Paypal - płać bez udostępniania swoich informacji finansowych."</li>
<li>Click "Podgląd zamówienia"</li>
<li>Click "Submit order"</li>
<li>If you have a PayPal account you can click "Have a PayPal account?" and login OR you can click "Don't have a PayPal account?" and simply enter your debit card information.</li>
</ol>
<p>I hope that helps! Please let me know if you have any other problems and I'll try to help. Unfortunately, today is Thanksgiving Day and we're going out of town so I might not get back to you right away but I'll try! :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/220/3230">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/11/vlog-odpowiadam-na-negatywne-komentarze-pieni%C4%85dze-czy-pasja#comment-3230">Thursday, November 22, 2012 - 08:35</a></span>
</div>
</div>
</div><a id="comment-3236"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3c48acbf8a3b1b6d623982239a190c60?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witaj David</p>
<p>Niedawno odkryłem Twoją stronę Bibliobird i jest naprawdę świetna :)<br/>
Od razu pobrałem Twój ebook. Uczę się języka angielskiego już od dłuższego czasu, na początku w szkole, potem na studiach a teraz już z własnej woli i niestety raz z większymi lub mniejszymi sukcesami. Powiem szczerze, że twoja strona oraz Twoje filmiki są dla mnie dowodem, że jeśli Ty nauczyłeś się tak biegle mówić w moim ojczystym języku to może ja też nauczę się tak samo w Twoim :)<br/>
A co do ostatniego filmiku dotyczącego negatywnych komentarzy to nie przejmuj się :)<br/>
Polacy są specjalistami w każdej dziedzinie i zawsze narzekają. I bardzo trudno jest ich zadowolić :D<br/>
Jest nawet taki żart: Jaka jest ulubiona pogoda polaków ?<br/>
Taka, której aktualnie nie ma :D</p>
<p>Powiem tylko tyle, rób swoje i nie zwracaj uwagi na żadne negatywy w Twoim imieniu :)<br/>
Cieszę się także,że nauka języków jest Twoją pasją. Bo jak mówi stare przysłowie: "Wybierz pracę którą kochasz, a nigdy nie będziesz musiał przepracować nawet dnia w swoim życiu"<br/>
I tego ci serdecznie życzę Davidzie<br/>
Mam nadzieję że następnym razem zdecyduje się napisać do Ciebie po angielsku :)</p>
<p>Pozdrawiam<br/>
Łukasz</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/220/3236">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Łukasz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/11/vlog-odpowiadam-na-negatywne-komentarze-pieni%C4%85dze-czy-pasja#comment-3236">Friday, November 23, 2012 - 13:40</a></span>
</div>
</div>
<div class="indented"><a id="comment-3248"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Łukasz!</p>
<p>Dzięki za słowa wsparcia. :-) Bardzo się cieszę, że mój blog i Bibliobird są Ci pomocne! Brzmi jak jesteś zmotywowany do nauki i to jest bardzo ważne. Już jesteś na dobrej drodze!</p>
<p>Życzę Ci dalszych sukcesów w nauce!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/220/3248">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/11/vlog-odpowiadam-na-negatywne-komentarze-pieni%C4%85dze-czy-pasja#comment-3248">Sunday, November 25, 2012 - 08:27</a></span>
</div>
</div>
</div><a id="comment-3251"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.pzielinski.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/cf55d548310520d36bd123dca798d8cb?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Negatywne komentarze całkowicie ignoruj. Im większy sukces odnosisz tym więcej negatywnych komentarzy uzyskasz. To taka nowa patologia powstała wraz z rozwojem Internetu w Polsce.<br/>
Zauważ, że te słowa krytyki są wypowiadane przez anonimowe osoby. Prawdopodobnie nie podpisałyby się pod takimi komentarzami  bo im wstyd byłoby.</p>
<p>Jestem pewien, że większość z nich nie podjęłaby się ryzyka zrezygnowania z "stabilnego" etatu i rozpoczęcia własnej firmy.</p>
<p>Pozdrawiam<br/>
Piotr</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/220/3251">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.pzielinski.com" rel="nofollow">Piotr Zielinski</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/11/vlog-odpowiadam-na-negatywne-komentarze-pieni%C4%85dze-czy-pasja#comment-3251">Sunday, November 25, 2012 - 16:07</a></span>
</div>
</div>
<div class="indented"><a id="comment-3254"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Piotr!</p>
<p>Dziękuję bardzo za słowa wsparcia. :-) No, może powinienem się cieszyć z negatywnych komentarzy bo to znaczy, że odnosiłem trochę sukcesu. ;-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/220/3254">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/11/vlog-odpowiadam-na-negatywne-komentarze-pieni%C4%85dze-czy-pasja#comment-3254">Monday, November 26, 2012 - 09:08</a></span>
</div>
</div>
</div><a id="comment-3264"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://sklep.swiatpanelitychy.pl/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/564915e41643ebdd7ea06fa6c35e93d5?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Wiedzę że dążysz do doskonałości w języku polskim, chciałbym tak umieć angielski ja Ty polski</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/220/3264">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://sklep.swiatpanelitychy.pl/" rel="nofollow">Michał</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/11/vlog-odpowiadam-na-negatywne-komentarze-pieni%C4%85dze-czy-pasja#comment-3264">Saturday, December 1, 2012 - 10:56</a></span>
</div>
</div>
<div class="indented"><a id="comment-3296"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Michał!</p>
<p>Dzięki. :-) Życzę Ci sukcesu w nauce j. angielskiego! Jeśli jeszcze nie czytałeś mojego darmowego ebooku, polecam go. W nim wyjaśniam jak możesz uczyć się w ten sam sposób, jak sam nauczyłem się polskiego. Dostaniesz go jeśli zasubskrybujesz mój blog:</p>
<p><a href="http://www.linguatrek.com/subscribe" title="http://www.linguatrek.com/subscribe">http://www.linguatrek.com/subscribe</a></p>
<p>Mam nadzieje, że to pomoże!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/220/3296">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/11/vlog-odpowiadam-na-negatywne-komentarze-pieni%C4%85dze-czy-pasja#comment-3296">Friday, December 7, 2012 - 09:16</a></span>
</div>
</div>
</div>
</div>
