---
permalink: /blog/2012/11/vlog-koszty-życia-w-usa-wynagrodzenie-i-rodzinny-budżet/
layout: blog-old
title: 'Vlog: Koszty życia w USA: Wynagrodzenie i rodzinny budżet'
day: 6
month: Nov
year: 2012
category: USA
tags: 
  - 'koszty życia w USA'
  - 'vlog'
language: en
translation: /blog/2012/11/vlog-koszty-%C5%BCycia-w-usa-wynagrodzenie-i-rodzinny-bud%C5%BCet/
---
<div class="content">
<p><em>To jest kolejny odcinek z serii: <a href="http://www.linguatrek.com/tags/koszty-%C5%BCycia-w-usa">Koszty życia w USA!</a></em></p>
<p>W <a href="http://www.linguatrek.com/blog/2012/06/vlog-koszty-%C5%BCycia-w-usa-mieszkanie">pierwszym odcinku</a> mówiłem o kosztach związanych z mieszkaniem. Dość dużo osób odpowiedziało, że nie można zrozumieć tych kosztów bez porównania z wynagrodzeniem. I mają rację!</p>
<p><strong>W tym filmiku będę mówił na temat wynagrodzenia i rodzinnego budżetu.</strong></p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/iHL08buHirI?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/iHL08buHirI?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Jeśli chcesz dowiedzieć się więcej o prawdziwym życiu w USA i JEDNOCZEŚNIE nauczyć się języka angielskiego: polecam kurs online, który razem z żoną stworzyliśmy pod tytułem <a href="https://pl.bibliobird.com/real-life-in-the-usa?coupon=TEHB6DSF">Real Life in the USA</a></p>
<p><strong>I po podaniu tego kodu kuponu: TEHB6DSF - dostaniesz zniżkę o 10 procent. Zapraszamy!</strong></p>
<p>Poniżej zamieszczam linki, o których wspominałem w adnotacjach do filmiku:</p>
<ul>
<li><a href="http://www.consumerreports.org/cro/money/shopping/ways-to-save-on/cell-phone-bills/overview/cell-phone-bills.htm">Link</a> do ConsumerReports.org na temat kosztu telefonu komórkowego.</li>
<li><a href="http://www.personalfinancewhiz.com/the-average-cost-of-food-per-month-for-one-person-is-surprising/">Link</a> z danymi od rządu na temat kosztów żywności.</li>
</ul>
<p>Jeśli masz chwilę, żeby pomóc mi z językiem polskim, proszę podaj mi poprawki <a href="http://lang-8.com/10069/journals/1767353/Vlog%253A-Koszty-%25C5%25BCycia-w-USA-Wynagrodzenie-i-rodzinny-bud%25C5%25BCet">w serwisie Lang-8</a>!</p>
<p><strong>Czytaj transkrypcję poniżej!</strong></p>
<h2><a name="transcript">Transkrypcja</a></h2>
<ul>
<li>Dzień dobry!</li>
<li>Znowu przed kamerą internetową mówi David Snopek</li>
<li>No, jeśli mnie nie znasz, jestem Amerykaninem</li>
<li>Dorosłem mówiąc tylko w jednym języku: angielskim</li>
<li>Od kilku lat uczę się języka polskiego</li>
<li>I również nagrywam filmiki i piszę artykuły o nauce języków obcych i kulturze amerykańskiej</li>
<li>Dzisiaj jest kolejny odcinek w serii: koszty życia w USA</li>
<li>W pierwszym odcinku mówiłem o kosztach związanych z mieszkaniem</li>
<li>I bardzo dużó ludzi na to odpowiedziało, że nie można rozumieć tych kosztów bez porównania z wynagrodzeniem</li>
<li>I mają rację</li>
<li>W komentarzach podałem parę statystyk</li>
<li>Ale w tym filmiku będę mówił więcej na temat wynagrodzenia i rodzinnego budżetu</li>
<li>Oczywiście, tak jak powiedziałem w pierwszym odcinku:</li>
<li>Mógłbym po prostu poczytać i powtórzyć statystyki z internetu</li>
<li>Ale każdy może szukać w internecie - to byłoby nudne</li>
<li>Więc podam naszą sytuację w naszym mieście jako konkretny, prawdziwy przykład</li>
</ul>
<h3>Wynagrodzenie</h3>
<ul>
<li>W naszym stanie Wisconsin, minimalna płaca za godzinę pracy jest 7 dolarów i 25 centów</li>
<li>To znaczy, że pracując na pełny etat, mając 10 niewypłaconych dni urlopu, zarabiasz 14.500 dolarów rocznie</li>
<li>Czyli trochę ponad 1.200 dolarów miesięcznie</li>
<li>To jest przed podatkami</li>
<li>To jest legalne minimum, jeśli pracujesz na pełny etat w większości sytuacjach</li>
<li>Są sytuacje kiedy możesz zarabiać mniej</li>
<li>Na przykład kelnerzy dostają piwki, więc minimalna płaca w naszym stanie dla nich jest 2 dolary i 33 centów za godzinę</li>
<li>Ale to są wyjątki</li>
<li>Wszystko zależy od stanu</li>
<li>I o tym nie będę mówił w tym filmiku</li>
<li><a href="http://en.wikipedia.org/wiki/Milwaukee#Demographics">Według Wikipedii</a>, w naszym mieście Milwaukee średni dochód gospodarstwa domowego jest 32.216 dolarów rocznie</li>
<li>Przepraszam, mam strasznie dużo problemów z liczbami po polsku</li>
<li>No więc proszę o cierpliwość</li>
<li>Jeszcze raz to jest 32.216 dolarów rocznie</li>
<li>Czyli 2.685 dolarów miesięcznie</li>
<li>I to znowu jest przed podatkami, tak mi się wydaje</li>
<li>Jako konkretny przykład, z żoną zarabiamy ok 2.000 dolarów miesięcznie przed podatkami</li>
<li>Podatki są strasznie skomplikowane</li>
<li>Płacimy kilka razy za różne rzeczy i wszystko zależy od ilu zarabiasz, ilu masz</li>
<li>Prawdę mówiąc, nie rozumiem podatków zbyt dobrze</li>
<li>Wypełniam wszystkie formularze i po prostu płacę daną sumę</li>
<li>Jednak mogę powiedzieć, że teraz płacimy 300 dolarów miesięcznie za podatki</li>
<li>Ale na końiec roku, kiedy wypełnię wszystkie formularze, może będziemy winni więcej, może trochę nam wrócą</li>
<li>W zeszłym roku byliśmy winni jakichś dodatkowych 500 dolarów</li>
<li>Ale no zobaczymi jak będzie w tym roku</li>
<li>W każdym razie powiedzmy w ramach tej dyskusji, że zarabiamy 1700 dolarów po podatkach</li>
</ul>
<h3>Rodzinny budżet</h3>
<ul>
<li>Tak jak powiedziałem w zeszłym filmiku: wynajmujemy mieszkanie</li>
<li>I wszystkie koszty powiązane z nim wynosi ok. 850 dolarów za miesiąc</li>
<li>Czyli 50% naszych zarobów</li>
<li>Mamy bardzo, bardzo tanie mieszkanie - celowo</li>
<li>To był jeden z powodów, że wybraliśmy właśnie tę dzielnicę</li>
<li>Tutaj są bardzo tanie mieszkania</li>
<li>I teraz podam ogólny obraz reszty naszego rodzinnego budżetu</li>
<li>Ale w przyszłości nagram cały filmik dla każdego z tych kosztów</li>
<li>No, dobrze</li>
<li>Najpierw płacimy <s>205</s> 250 <em>(Źle mówiłem w filmiku)</em> dolarów miesięcznie za ubezpieczenie zdrowotne</li>
<li>To NIE znaczy, że wizyta u lekarza jest <s>zadarma</s> bezpłatna</li>
<li>Nadal z tym ubezpieczeniem musimy płacić kilkaset dolarów na każdą wizytę</li>
<li><a href="http://www.linguatrek.com/blog/2011/04/vlog-ubezpieczenie-zdrowotne-w-usa">W starym filmiku</a> spróbowałem wyjaśnić ubezpieczenie zdrowotne w USA</li>
<li>To jest dość skomplikowana sprawa</li>
<li>Ale w przeciwieństwie do podatków przynajmniej go rozumiem</li>
<li>Zapraszam do oglądania</li>
<li>Ale planuję nagrać nowy taki filmik wkrótce</li>
<li>Płacimy 125 dolarów miesięcznie za dlugi studenckie mojej żony</li>
<li>Płacimy ok. 100 dolarów miesięcznie za telefony komórkowe</li>
<li>I to moim zdaniem jest za dużo</li>
<li>Mam okropny telefon</li>
<li><s>Zobacz</s> Zobaczcie</li>
<li>Bo to jest zwykły, normalny telefon</li>
<li>To jest nie iPhone</li>
<li>Nie ma internetu</li>
<li>Nie ma appsów</li>
<li>Tylko telefonuje i wysyła SMSy</li>
<li>Sam telefon kosztował 20 dolarów</li>
<li>I tyle</li>
<li>Ale za "service" - eee za plan</li>
<li>Żeby telefonować i wysyłać SMSy muszę zapłacić ok. 50 dolarów miesięcznie</li>
<li>To nie ma sensu</li>
<li>I tak samo z telefonem mojej żony</li>
<li>Może to już czas znaleźć nowy plan</li>
<li>Bo to za dużo po prostu</li>
<li>No, dobrze idąc dalej</li>
<li>Chodzimy raz albo dwa do restauracji w każdym miesiącu</li>
<li>I to kosztuje minimalnie 25 dolarów na dwie osoby</li>
<li>Oczywiście to można kosztować o wiele więcej w bardzo dobrych restauracjach</li>
<li>Ostatnim dużym kosztem jest żywność</li>
<li>Płacimy ok. 300 dolarów miesięcznie</li>
<li>I nie ukrywam faktu, że wydajemy więcej pieniędzy niż chyba większość</li>
<li>Ale to z powodu, że chcemy jeść zdrowo i to zawsze kosztuje o wiele więcej</li>
<li>I tyle</li>
<li>Planuję nagrać filmiki o każdym z tych pojedynczych tematów</li>
<li>I w nich podam więcej szczegółów i konkretnych przykładów</li>
</ul>
<h3>Parę słów na koniec</h3>
<ul>
<li>Jeśli chcesz dowiedzieć się więcej o prawdziwym życiu w USA</li>
<li>I jednocześnie nauczyć się języka angielskiego</li>
<li>Polecam kurs online, który razem z żoną storzyliśmy pod tytułem "Real Life in the USA"</li>
<li>Czyli "Prawdziwe życie w USA"</li>
<li>Oto <a href="https://pl.bibliobird.com/real-life-in-the-usa?coupon=TEHB6DSF">link do niego</a></li>
<li>Jest również link w opisie</li>
<li>I po podaniu tego kodu kuponu (TEHB6DSF), dostaniesz zniżkę o 10 procent</li>
<li>Dziękuję za uwagę</li>
<li>Do widzenia</li>
</ul>
</div>

<div id="comments">
<a id="comment-3165"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/866eee6d18fde213a58eda8e64588f41?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>otrzymałeś ode mnie 2 wiadomości na e-mail ode mnie na temat budżetu rodzinnego i wynagrodzenia ?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/214/3165">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">bitowo/zed16 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/11/vlog-koszty-%C5%BCycia-w-usa-wynagrodzenie-i-rodzinny-bud%C5%BCet#comment-3165">Wednesday, November 7, 2012 - 10:15</a></span>
</div>
</div>
<div class="indented"><a id="comment-3169"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Tak! Dziękuję bardzo za informacje. Było bardzo interesujące. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/214/3169">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/11/vlog-koszty-%C5%BCycia-w-usa-wynagrodzenie-i-rodzinny-bud%C5%BCet#comment-3169">Wednesday, November 7, 2012 - 20:46</a></span>
</div>
</div>
</div>
</div>
