---
permalink: /blog/2012/11/wysłuchajcie-mojego-darmowego-audiobooka-o-nauce-języków/
layout: blog-old
title: 'Wysłuchajcie mojego DARMOWEGO audiobooka o nauce języków!'
day: 13
month: lis
year: 2012
category: language learning
tags: 
  - 'audiobook'
  - 'ebook'
language: pl
translation: /blog/2012/11/listen-to-my-free-ebook-about-language-learning-in-polish/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/05/nll-fauxbookstack-pl.png" rel="lightbox"><img alt="Okładka mojego ebooka" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/05/nll-fauxbookstack-pl.png" title=""/></a></div>
<p>W marcu <a href="http://www.linguatrek.com/blog/2012/03/vlog-nasze-wielkie-og%C5%82oszenie-i-potrzebujemy-waszej-pomocy">zdecydowałem się na napisania DARMOWEGO ebooka</a> o nauce języków obcych dla WAS - subskrybentów mojego blogu - żeby wam podziękować za wsparcie okazane przez te wszystkie lata.</p>
<p>Zaplanowałem treść ebooka na podstawie ponad 1500 odpowiedzi na ankiety oraz SETEK maili i komentarzy. Kiedy wreszcie <a href="http://www.linguatrek.com/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC">opublikowałem go w maju</a>, mogłem szczerze powiedzieć, że <em>naprawdę</em> był napisany DLA WAS!</p>
<p><strong>We wstępie piszę:</strong></p>
<blockquote>
<p>Ten ebook jest dla tych, którzy ...</p>
<ul>
<li>... spędzili już wiele lat na tradycyjnych kursach ale nadal nie potrafią zamówić nic w restauracji, ani oglądać filmu bez napisów, ani uczestniczyć w luźnej rozmowie z native speakerem.</li>
<li>... myślą, że takie kursy są za szybkie, za wolne albo za nudne.</li>
<li>... myślą, że nie mają talentu do nauki języków. (Ale prawdę mówiąc nie trzeba mieć talentu -- tylko dobre podejście!)</li>
<li>... chcą mieć kontrolę nad swoją nauką i uczyć się metodą, która im efektywnie pomoże w osiągnięciu swojego celu!</li>
</ul>
<p>Krótko mówiąc ta książka jest dla <em>zwykłych ludzi</em>, którzy chcą nauczyć się języka. Nie jest dla ekspertów językowych albo poliglotów.</p>
<p>Jest dla większości <em>nas</em>, którzy próbowali bezskutecznie nauczyć się chociaż jednego języka obcego. Albo dla tych, którym już udało się nauczyć jednego ale proces był tak wolny albo bolesny, że szukają lepszego sposobu, żeby nauczyć się drugiego języka obcego.</p>
</blockquote>
<p>Dzisiaj z wielką przyjemnością anonsuję <strong>zaktualizowane tłumaczenie na polski</strong> oraz <strong>wersję audiobooka w j. polskim!</strong></p>
<p>Czytaj więcej, żeby wysłuchać wstępu i dowiedzieć się jak pobrać cały audiobook (lub plik PDF, EPUB oraz MOBI)!</p>
<h2>Wysłuchajcie wprowadzenia!</h2>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/f4ZWyPB7h3E?fs=1&amp;hl=en_US&amp;rel=0&amp;start=93"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/f4ZWyPB7h3E?fs=1&amp;hl=en_US&amp;rel=0&amp;start=93" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<h2>Pobierzcie go teraz!</h2>
<p><strong><a href="http://www.linguatrek.com/subscribe">Proszę zasubskrybujcie</a> mój blog, żeby pobrać audiobook (lub plik PDF, EPUB oraz MOBI)!</strong></p>
<p>Albo jeśli już jesteś subskrybentem, możesz <a href="http://www.linguatrek.com/nll-ebook-pl">pobrać go tutaj</a>.</p>
<h2>Powiedzcie znajomym!</h2>
<p>Twórcą audiobooka jest <a href="http://unfamusic.com/">Tobiasz 'unfa' Karoń</a>: muzyk, podcaster i producent. To naprawdę świetne wykonanie!</p>
<p>Tobiasz stawia pierwsze kroki w zawodzie lektora audiobooków i zaoferował nagrać mój audiobook ZA DARMO w zamian za promowanie jego osoby i strony.</p>
<p><strong>Proszę, podzielcie się tym artykułem na Twitterze, Facebooku i Wykopie! Pomóżmy Tobiaszowi uzyskać taki rozgłos, na jaki zasługuje się z powodu wyśmienitej pracy!</strong></p>
</div>

<div id="comments">
<a id="comment-3186"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/b4f1a5ae307709a2466e0005d5cf21b9?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Cześć! Jestem strasznie zafascynowany Twoimi filmikami, jesteś niesamowity :D Trzy dni temu trafiłem na Twój kanał, całkiem przypadkowo - gdzieś w sieci znalazłem jakiś komentarz, a było tam napisane coś w stylu "Ten koleś podobny jest do David'a Snopka" i zacząłem szukać o kogo chodzi :) Bardzo się cieszę, że mogłem tutaj trafić. Od razu pobrałem e-book'a i przeczytałem go wczoraj w poczekalni do badania rodzinnego :D Kiedy uczęszczałem do gimnazjum wydaje mi się, że dobrze radziłem sobie z angielskim - miałem prawie najlepsze oceny z całej klasy. Jednak w szkole średniej nauczycielka nie kładła takiego nacisku i ja sam olałem ten język, czego bardzo żałuję. Wydaje mi się, że dobrze potrafię zrozumieć np. filmy w języku angielskim. Przykładowo wczoraj oglądałem Pursuit of Happyness z Will'em Smith'em po praz pierwszy w dodatku w języku angielskim - nigdy wcześniej tego nie robiłem, zainspirowałeś mnie do poprawy (nauczenia) języka. Co prawda niektórych scen nie zrozumiałem do końca, ale większość to na prawdę proste teksty, które miło mi się słuchało i w całości nie miałem problemu z filmem. Dużo nie zrozumianych rzeczy, to słówka, których nie znam. </p>
<p>Wcześniej oglądałem filmy, ale szukałem zawsze z lektorem, albo z napisami. Lecz gdy nie raz brakowało jakiegoś zdania przetłumaczonego to chyba to rozumiałem. Jednak nie potrafię dobrze rozmawiać. Moim problemem jest to, że po prostu nie wiem, nie przychodzi mi do głowy to zdanie, które chce powiedzieć. Wydawało mi się kiedyś, że bardzo dobrze umiem angielski - guzik prawda. Nie potrafiłbym dogadać się o pierwszą lepszą rzecz w tym języku. Dlaczego tak jest? Filmy rozumiem, próbowałem poczytać e-book'a po angielsku jakiegoś, nie czytam pierwsza klasa - jednak coś tam rozumiem. A z dogadaniem się mam ogromny problem. To jedna sprawa.</p>
<p>Druga sprawa, mam pytanie otóż takie. Nie potrafię znaleźć odpowiedniej książki do czytania w języku angielskim. Bardzo podoba mi się Harry Potter, ale już go przeczytałem w języku ojczystym. Rzeczy, które mnie interesują teraz są za trudne, tak mi się wydaje - czytam różne informacje o wyrobie wina, jestem młodym winiarzem : ) Jednak wydaje mi się, że te rzeczy są za trudne jak na początek. Chciałbym nigdy nie przeczytać Harrego po polsku i teraz zacząć tak jak Ty :D Co prawda czytałem go jakieś 6-8lat temu, ale gdy teraz go będę czytał to pewnie wiele rzeczy będzie dla mnie już zrozumiałem i nie będzie mnie tak ciągnęło do dalszego poznawania historii bohaterów, będzie mi się przypominało i to chyba nie jest dobry pomysł czytania tej książki? Jak myślisz?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/219/3186">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Marek (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/11/wys%C5%82uchajcie-mojego-darmowego-audiobooka-o-nauce-j%C4%99zyk%C3%B3w#comment-3186">środa, listopad 14, 2012 - 05:20</a></span>
</div>
</div>
<div class="indented"><a id="comment-3187"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/9a8cb03a0d20b459b313c180559fa98b?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Hej</p>
<p>Widzę, że jesteśmy na podobnym poziomie opanowania języka angielskiego. Ogólnie to co piszesz to samo mogę powiedzieć o sobie.<br/>
W sumie nie ma co męczyć Davida bo możesz sam odpowiedzieć po przeczytaniu jego książki. Dwa nie sądzę, że gdy znasz już książkę to nie warto czytać w języku angielskim. Powiem, że tym bardziej bo łatwiej ci będzie nieznane słówka domyślić się co znaczą. Przez to lepiej w pamięci zostaną. Bo przypomni ci się co było napisane w ojczystym języku.<br/>
Też nie uważam abyś nie próbował czytać to co cie interesuje mimo, iż uważasz za trudne. Tam są tylko słowa, specyficzne dla danego działu np. dział prawniczy, informatyczny i winiarzy.<br/>
Sam mogę powiedzieć, że przez to, że zawodowo zajmuje się serwerami i związanymi z tymi technologiami musiałem często i gęsto czytać manuale w angielskim. I przez to teraz słowa takie specyficzne hadware software są dla mnie naturalne jak język polski.<br/>
Jestem zdania, że warto kilka razy przesłuchać audio booka i czytać wielokrotnie już przeczytany artykuł czy ebook.<br/>
Zobacz np. <a href="http://www.youtube.com/watch?v=gRjIaCnl1Xc" title="http://www.youtube.com/watch?v=gRjIaCnl1Xc">http://www.youtube.com/watch?v=gRjIaCnl1Xc</a>. Też mówi o tym, że to dobrze wpływa na naukę języka przez kilku krotne słuchanie tego samego materiału.<br/>
Polecam obejrzeć sobie <a href="http://ed.ted.com/lessons/richard-st-john-8-traits-of-successful-people" title="http://ed.ted.com/lessons/richard-st-john-8-traits-of-successful-people">http://ed.ted.com/lessons/richard-st-john-8-traits-of-successful-people</a><br/>
<a href="http://ed.ted.com/lessons/richard-st-john-the-power-of-passion" title="http://ed.ted.com/lessons/richard-st-john-the-power-of-passion">http://ed.ted.com/lessons/richard-st-john-the-power-of-passion</a></p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/219/3187">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">kristomen (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/11/wys%C5%82uchajcie-mojego-darmowego-audiobooka-o-nauce-j%C4%99zyk%C3%B3w#comment-3187">środa, listopad 14, 2012 - 12:26</a></span>
</div>
</div>
<div class="indented"><a id="comment-3205"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>To dobre porady! :-) Dzięki Ci, kristomen!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/219/3205">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/11/wys%C5%82uchajcie-mojego-darmowego-audiobooka-o-nauce-j%C4%99zyk%C3%B3w#comment-3205">niedziela, listopad 18, 2012 - 11:49</a></span>
</div>
</div>
</div><a id="comment-3203"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Marek!</p>
<p>Dzięki za podzielenie się Twoją historią. :-) To świetne, że masz nową motywację do nauki języka angielskiego i obejrzenie filmu po angielsku bez napisów i lektora szło Ci tak dobrze. Myślę, że już jesteś na dobrej drodze - tylko trzeba zdecydować się na następny krok!</p>
<p>Powtórzę parę rzeczy, które już napisał kristomen: teksty o wyrobie wina nie konieczne są za trudne i fakt, że już przeczytałeś Harry'ego Pottera, nie znaczy, że to zły wybór.</p>
<p>Jeśli naprawdę interesujesz się wyrobem wina - no, to może być dodatkową motywacją i pomoże w nauce! Będzie specyficzne słownictwo ale to jest problem prawie wyłącznie na początku. Kiedy już znasz dość tego słownictwa, to będzie tak samo jak czytanie czegoś innego. Na początku Harry'ego Pottera musiałem nauczyć się słownictwa związanego z magią też. ;-)</p>
<p>Co do Harry'ego Pottera: Niektórzy ludzi nawet wolą czytać coś w obcym języku, którego już przeczytali w ojczystym języku! Sam wolę czytać coś nowego, bo mam bardzo specyficzne stosunki do książek. ;-) Ale fakt, że już przeczytałeś daną książkę, nie szkodzi naukę - może nawet ułatwi proces!</p>
<p>Ale to są bardzo osobiste sprawy - tylko Ty jesteś w stanie powiedzieć co będzie najlepiej dla siebie. Tak więc to polecam: spróbuj coś na czas określony, i sprawdź jak to idzie! Np. spróbuj z tekstami o wyrobie wina przez miesiąc i potem zdecyduj czy warto kontynuować.</p>
<p>Krótko mówiąc polecam eksperymentowanie! :-)</p>
<p>Mam nadzieję, że to pomoże!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/219/3203">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/11/wys%C5%82uchajcie-mojego-darmowego-audiobooka-o-nauce-j%C4%99zyk%C3%B3w#comment-3203">niedziela, listopad 18, 2012 - 11:42</a></span>
</div>
</div>
</div><a id="comment-3200"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/7f3665a38cb757e1e0db23b50280fcb1?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Howdy David!!! Hope you are fine in the U.S.A. I am going to bay your english lessons. I have a question for you, but before I should what am going to write ( of course). I have to pass Test of English as a Foreign Language in England. Have you heard of this test. Believe that with your method I can do it plus with your new product made by you.<br/>
Is it possible to use your lessons?? There are many topics in your lessons. To be honset I don't like grammar. I like to learn a group of words ( grammar in practical way).Kind</p>
<p>Kind regards</p>
<p>Robert</p>
<p><a href="mailto:r.wtyklo@wp.pl">r.wtyklo@wp.pl</a></p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/219/3200">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/11/wys%C5%82uchajcie-mojego-darmowego-audiobooka-o-nauce-j%C4%99zyk%C3%B3w#comment-3200">niedziela, listopad 18, 2012 - 06:33</a></span>
</div>
</div>
<div class="indented"><a id="comment-3204"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Robert!</p>
<p>Things are good by us! I hope all is well by you too.</p>
<p>Well, if your main need is to pass this exam and it's happening very, very soon - it's probably best to prepare directly for the exam. You can probably find a tutor who will give you the skills you need pass (although, it might not actually improve your English - that's how things go with exam preperation).</p>
<p>But our course will DEFINITELY help you to improve your English and this will help you on the exam. Especially if there is a spoken part to the exam, I'd recommend the "Motivated Learner" version because then you can come to two meetings every week over voice chat - this will help with any fear of speaking you may have (not everybody does, but it's extremely common).</p>
<p>Anyway, I look forward to talking with you! :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/219/3204">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/11/wys%C5%82uchajcie-mojego-darmowego-audiobooka-o-nauce-j%C4%99zyk%C3%B3w#comment-3204">niedziela, listopad 18, 2012 - 11:48</a></span>
</div>
</div>
<div class="indented"><a id="comment-3212"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/7f3665a38cb757e1e0db23b50280fcb1?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Hello David!! I have pass that TOEFL by June 2013 so still I have time. I have a full time job, but still can manage. Could you give me the link to Motivated Learner created be you. I think it will be the best idea.Before I need a lot of input. I can speak in English, but for me is not enough at the moment;-)</p>
<p>Look forward to hearing from you</p>
<p>Best regards</p>
<p>Robert</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/219/3212">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Robert (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/11/wys%C5%82uchajcie-mojego-darmowego-audiobooka-o-nauce-j%C4%99zyk%C3%B3w#comment-3212">poniedziałek, listopad 19, 2012 - 07:07</a></span>
</div>
</div>
<div class="indented"><a id="comment-3213"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Robert!</p>
<p>That's great that you'll be joining us! Here is the link:</p>
<p><a href="https://pl.bibliobird.com/real-life-in-the-usa-wersja-dla-zmotywowanych-ucz%C4%85cych-si%C4%99" title="https://pl.bibliobird.com/real-life-in-the-usa-wersja-dla-zmotywowanych-ucz%C4%85cych-si%C4%99">https://pl.bibliobird.com/real-life-in-the-usa-wersja-dla-zmotywowanych-...</a></p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/219/3213">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/11/wys%C5%82uchajcie-mojego-darmowego-audiobooka-o-nauce-j%C4%99zyk%C3%B3w#comment-3213">poniedziałek, listopad 19, 2012 - 08:53</a></span>
</div>
</div>
<a id="comment-3214"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/7454f718c80af43bb70b7348a7dcec34?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Hey Robert, I'm going to pass my TOEFL exam early next year. I've never taken any English exam yet so I'm a little afraid. How do you prepare for the exam ? Do you live in Poland or in English-speaking country ? If you have some usefull materials, I'd be really greatful to you for sharing these with me.</p>
<p>David, your blog and also BiblioBird side are very helpful for me and many other people, I guess. Thanks a lot. Let's keep it that way!<br/>
Patrycja</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/219/3214">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">frimes (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/11/wys%C5%82uchajcie-mojego-darmowego-audiobooka-o-nauce-j%C4%99zyk%C3%B3w#comment-3214">poniedziałek, listopad 19, 2012 - 11:20</a></span>
</div>
</div>
<div class="indented"><a id="comment-3229"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/7f3665a38cb757e1e0db23b50280fcb1?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>To be honest. In Poland you cannot learn English well, because you have to learn on your own. I live in England and believe me or no sometimes I could say they don't speak properly. I believe that you want to study in England. I set this goal for the next year here and I have to hard work. My advise is that you need good materials in English. There are some advises <a href="http://www.antimoon.com" title="www.antimoon.com">www.antimoon.com</a> . Believe that this website and David's website help you. I have to learn two in one in English ( I mean spoken and written language). I know many people who speak well in English, but they cannot write well.It does make sense, but at an academic level you will have to write many pages. Because I have to pass by June 2013 am going to concentrate on a few English materials than many books etc. Where you can find good matierils. I believe that here at David's website ( practical materials in Life and on an exam) about written English I think the same at the same place)</p>
<p>Let me know something.</p>
<p>Are you going to study or go to an English-speaking country&gt;&gt;Why do you have to pass a TOEFL??</p>
<p>Kind regards</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/219/3229">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Robert (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/11/wys%C5%82uchajcie-mojego-darmowego-audiobooka-o-nauce-j%C4%99zyk%C3%B3w#comment-3229">czwartek, listopad 22, 2012 - 08:32</a></span>
</div>
</div>
<a id="comment-3243"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Patrycja,</p>
<p>Thanks!</p>
<p>Contrary to what Robert says, I think you can learn English well in Poland. I learned Polish here in the USA without many local people to practice with!</p>
<p>Good luck on your exam!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/219/3243">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/11/wys%C5%82uchajcie-mojego-darmowego-audiobooka-o-nauce-j%C4%99zyk%C3%B3w#comment-3243">niedziela, listopad 25, 2012 - 08:42</a></span>
</div>
</div>
</div></div></div></div><a id="comment-3208"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/4ad6549b1a2ae4b31b0b0f2dc3595b61?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Właśnie znalazłam kopalnię bardzo tanich książek po angielsku :) są wprawdzie używane ale to mi zupełnie nie przeszkadza. Zamówię ich kilkanaście a najdroższy i tak będzie koszt przesyłki :) a może na biblobidzie będziemy się wymieniać w przyszłości? :)<br/>
problem mam jedynie ze znalezieniem interesujących mnie audiobooków... o pobraniu gdzieś z netu mowy nie ma bo na ogół sa płatne a ostatecznie nie wiadomo co dostaniemy...</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/219/3208">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">ania_j (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/11/wys%C5%82uchajcie-mojego-darmowego-audiobooka-o-nauce-j%C4%99zyk%C3%B3w#comment-3208">niedziela, listopad 18, 2012 - 13:18</a></span>
</div>
</div>
<div class="indented"><a id="comment-3209"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/9a8cb03a0d20b459b313c180559fa98b?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Masz na myśli zwykłe książki? Jeśli tak to nie chciał bym męczyć się z taką książką jako, że uczący się wiele słów nie zna. Sprawdzanie ich było by katorgą jak dla mnie. A to ma być przyjemnością. Po drugie za parę lat dużo osób przekona się, że ebook na tablecie czy kindle jest zdecydowanie wygodniejsze niż zwyła książka. Ponieważ ebook może być zawsze i wszędzie z tobą. Nie wyobrażam sobie zabranie ze sobie na wakacje 1000 zwykłych drukowanych książek.<br/>
Do tego wolę ebook bo dane słowo od razu można sprawdzić w słowniku online.<br/>
Do tego już jest gotowe narzędzie jakim jest bibliobird.<br/>
Mam nadzieję, że David udoskonali nie długo bibliobird o pomysły jakie pojawiły się na forum.<br/>
Tak sobie myślę, że dobrze by działało jak bibliobird sprzężyc z czytnikiem pdf. Bo wiele materiałów, które mnie interesuje na pewno nie znajdzie się w bibliobird jako, że to wąska dziedzina - nie każdą osobę interesuje to co mnie.<br/>
Może było by dobrze umożliwić wrzucanie własnych tekstów do bibliobird. Myślę, że bibliobird już w swojej bazie ma pokaźną ilość słówek aby zautomatyzować tłumaczenie słówek.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/219/3209">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">kristomen (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/11/wys%C5%82uchajcie-mojego-darmowego-audiobooka-o-nauce-j%C4%99zyk%C3%B3w#comment-3209">niedziela, listopad 18, 2012 - 14:29</a></span>
</div>
</div>
<div class="indented"><a id="comment-3210"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/4ad6549b1a2ae4b31b0b0f2dc3595b61?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Właśnie wczoraj zastanawiałam się czy kiedyś da się podpiąc bibliobirda pod dowolne strony czy pod pdfa - byłoby rewelacyjnie. Na tę chwilę zadowolę się drukowanymi książkami, tym bardziej, że kilka kupiłam dla dziecka, a Królewna Śnieżka czy Pinokio nie mogą być napisane trudnym językiem :)<br/>
Poległam z audiobookami bo szukałam, szukałam i nie znalazłam tego co chciałam. tym bardziej że na początku mimo że słuchałabym książki to chciałabym mieć ją też przed oczami :). A może bibliobird udostępni kiedyć tworzenie audiobooków do posiadanych przez ludzi książek :). Może Carrie kiedyś postanowi zmienić zawód np bo głos do takich nagrań ma doskonały :D</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/219/3210">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">ania_j (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/11/wys%C5%82uchajcie-mojego-darmowego-audiobooka-o-nauce-j%C4%99zyk%C3%B3w#comment-3210">niedziela, listopad 18, 2012 - 14:55</a></span>
</div>
</div>
<div class="indented"><a id="comment-3246"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Kristomen / Ania,</p>
<p>Takie funkcje przyjdą! Wkrótce będzie możliwość dodawania własnych tekstów (ale na początku nie będzie tak wygodnie) i w przyszłości będzie aplikacje do urządzeń mobilnych (prawdę mówiąc prawie skończyłem wersję do Androida).</p>
<p>Hehe, przekażę Carrie Twoje miłe słowa o jej głosie. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/219/3246">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/11/wys%C5%82uchajcie-mojego-darmowego-audiobooka-o-nauce-j%C4%99zyk%C3%B3w#comment-3246">niedziela, listopad 25, 2012 - 09:04</a></span>
</div>
</div>
</div></div><a id="comment-3245"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Ania!</p>
<p>Rzeczywiście jest trudniej znaleźć audiobooki bo nie każda książka ma audiobook. Z tego powodu polecam, że najpierw znajdziesz audiobook - przynajmniej odkryj, że jest gdzieś w internecie dostępny - i wtedy kupić/sprawdzić książkę.</p>
<p>Ale słuchanie jest naprawdę ważne!</p>
<p><a href="http://www.linguatrek.com/blog/2012/01/the-importance-of-listening" title="http://www.linguatrek.com/blog/2012/01/the-importance-of-listening">http://www.linguatrek.com/blog/2012/01/the-importance-of-listening</a></p>
<p>Życzę Ci miłej lektury!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/219/3245">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/11/wys%C5%82uchajcie-mojego-darmowego-audiobooka-o-nauce-j%C4%99zyk%C3%B3w#comment-3245">niedziela, listopad 25, 2012 - 09:00</a></span>
</div>
</div>
</div><a id="comment-3211"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/9a8cb03a0d20b459b313c180559fa98b?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Prośba do Davida. Widzę, że każdy użytkownik ma jakieś pomysły i wartościowe uwagi. Lecz nie daj się wmanewrować w jakieś zadania, które w tej chwili mało wniosą w projekt bibliobird, albo dodana funkcjonalność przyda się 1% użytkownikom. </p>
<p>Przykładem były propozycje z papierami, wizami do Stanów Zjednoczonych - gdzieś na forum było.</p>
<p>W sumie narzędzia do nauki języków jest pełno. Wystarczy przetestować je wszystkie i spisać co się w nich podobało. A czego lepiej unikać. Także jest feedback na forach.<br/>
Moje podejście jest takie. Że zawsze patrze jak inni zrobili (tych najlepszych) i myślę co mógł bym zrobić lepiej. Ponieważ nie ma co ponownie odkrywać koła. </p>
<p>Warto przeczytać Metoda Lean Startup <a href="http://helion.pl/ksiazki/metoda-lean-startup-wykorzystaj-innowacyjne-narzedzia-i-stworz-firme-ktora-zdobedzie-rynek-eric-ries,melean.htm" title="http://helion.pl/ksiazki/metoda-lean-startup-wykorzystaj-innowacyjne-narzedzia-i-stworz-firme-ktora-zdobedzie-rynek-eric-ries,melean.htm">http://helion.pl/ksiazki/metoda-lean-startup-wykorzystaj-innowacyjne-nar...</a></p>
<p>Zbiór książek dla dzieci <a href="http://www.mainlesson.com/main/displayarticle.php?article=feature" title="http://www.mainlesson.com/main/displayarticle.php?article=feature">http://www.mainlesson.com/main/displayarticle.php?article=feature</a><br/>
Kiedyś znalezione lecz nie korzystałem jako, że wole treści z tematyki IT.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/219/3211">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">kristomen (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/11/wys%C5%82uchajcie-mojego-darmowego-audiobooka-o-nauce-j%C4%99zyk%C3%B3w#comment-3211">niedziela, listopad 18, 2012 - 15:16</a></span>
</div>
</div>
<div class="indented"><a id="comment-3244"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Kristomen!</p>
<p>Zgadza się, jest bardzo trudno zdecydować na nowe funkcje zwłaszcza kiedy już mam bardzo mało czasu. :-/</p>
<p>Już znam Metodę Lead Startup i do pewnego stopnia go używam. Ale to bardziej chodzi o biznes a nie funkcje aplikacji. Radzi, że powinieneś skupić się na funkcje, które sprzedają albo prowadzi do sprzedaży. Odnosząc do poprzedniego tematu mam tę książkę Erika Riesa na moim Kindlu. ;-)</p>
<p>Bardzo chciałbym zachęcać więcej osób do uczestnictwa w stronie open source Bibliobirda. Wtedy ludzie mogliby pomoc w dodawaniu swoich ulubionych funkcji.</p>
<p>Zobaczymy jak będzie!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/219/3244">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/11/wys%C5%82uchajcie-mojego-darmowego-audiobooka-o-nauce-j%C4%99zyk%C3%B3w#comment-3244">niedziela, listopad 25, 2012 - 08:55</a></span>
</div>
</div>
</div><a id="comment-3354"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/a35c13bc2354760e584b3427558d7f9a?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Cześć, David, na pewno pomożesz wielu osobom. Ba, już z pewnością pomogłeś wiele razy. Na Twój blog trafiłam dzięki kumplowi, który czyta wykop. Słuchałam Twojego audiobooka i postanowiłam napisać kilka słów. Ja dopiero niedawno zaczęłam uczyć się samodzielnie portugalskiego, którym tak naprawdę interesuję się od 8 lat, ale nigdy nie miałam dość motywacji, żeby zabrać się za niego na dobre. Teraz planuję pojechać na wymianę i praktyki do Portugalii, bo wciąż jestem studentką. Mam wokół siebie również świetnych i motywujących ludzi, którzy podróżują i nie trwonią czasu, uczą się języków i robią to, co naprawdę lubią. Postanowiłam, że też nie będę stała w miejscu i zabiorę się za upragniony język. Szukałam raczej kursów, a że są dość kosztowne, to szybko się demotywowałam. Dzięki przyjacielowi natrafiłam na stronę memrise.com do nauki słówek i tam właśnie nauczyłam się pierwszych słów po portugalsku. Co uważasz o tym serwisie? Pobrałam również muzykę portugalskich wykonawców i nauczyłam się dwóch utworów na pamięć, często same mi się przypominają, gdy czekam gdzieś na tramwaj, co mnie ogromnie cieszy, bo widzę, że angaż w naukę z mojej strony jest coraz większy i nawiedza mnie w dowolnej chwili dnia. Nauczyłam się z nich także wymowy niektórych słów, ogólnych zasad, choć są jeszcze takie, których nie rozumiem. Wypisuję sobie słowa w wolnych chwilach, powtarzam je rano, dojeżdżając na uczelnię, czy do pracy. Sprawia mi to przyjemność. Najgorsza jest wymowa, ale pracuję nad tym. Muszę jeszcze lekko się podszkolić i wtedy będę w stanie pójśc za Twoim przykładem i zacząć czytać i słuchać ksiażki po portugalsku. Myślę również o Potterze, bo jestem Potteromaniakiem ;) Na razie idzie mi dość powoli. Powoli do tego stopnia, że mam jedną obawę, a mianowicie, że nauka języka trwa tak strasznie długo, że zdążę się zniechęcić do tego czasu. Póki co bardzo mnie cieszy nauka, ale wiem, że miewam słomiany zapał. Mam nadzieję, że w tej kwestii tak nie będzie, bo nauczyć się samemu języka daje ogromną satysfakcję. Gratuluję Ci Twojego wyczynu i tego, że chcesz pomóc tak wielu. Jesteś bardzo inspirującą osobą.<br/>
Pozdrawiam, Marta z Koszalina.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/219/3354">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Marta (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/11/wys%C5%82uchajcie-mojego-darmowego-audiobooka-o-nauce-j%C4%99zyk%C3%B3w#comment-3354">piątek, grudzień 21, 2012 - 08:50</a></span>
</div>
</div>
<div class="indented"><a id="comment-3363"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Marta!</p>
<p>Dzięki za komentarz i miłe słowa. :-) Brzmi jak już jesteś na dobrej drodze! Życzę sukcesu w Twojej przygodzie z portugalskim!</p>
<p>Co do memrise.com: nigdy nie spróbowałem tego serwisu ale jeśli masz do tego chęć - to fantastycznie! Nie ma tylko jednego sposobu do nauki języka - wszystko mogłoby dziać! - to, co będzie działało dla Ciebie  zależy jedynie od Ciebie.</p>
<p>Mówisz, że "nauczyć się samemu języka daje ogromną satysfakcję" więc myślę, że wszystko jest w porządku. ;-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/219/3363">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/11/wys%C5%82uchajcie-mojego-darmowego-audiobooka-o-nauce-j%C4%99zyk%C3%B3w#comment-3363">wtorek, grudzień 25, 2012 - 15:50</a></span>
</div>
</div>
</div><div class="box">
<h2>Dodaj nową odpowiedź</h2>
<div class="content"><form accept-charset="UTF-8" action="/comment/reply/219" id="comment-form" method="post">
<div><div class="form-item" id="edit-name-wrapper">
<label for="edit-name">Nazwisko lub pseudonim: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-name" maxlength="60" name="name" size="30" type="text" value="Anonymous"/>
</div>
<div class="form-item" id="edit-mail-wrapper">
<label for="edit-mail">E-mail: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-mail" maxlength="64" name="mail" size="30" type="text" value=""/>
<div class="description">Zawartość pola nie będzie udostępniana publicznie. If you have a <a href="http://www.gravatar.com">Gravatar</a> account, used to display your avatar.</div>
</div>
<div class="form-item" id="edit-homepage-wrapper">
<label for="edit-homepage">Strona domowa: </label>
<input class="form-text" id="edit-homepage" maxlength="255" name="homepage" size="30" type="text" value=""/>
</div>
<div class="form-item" id="edit-comment-wrapper">
<label for="edit-comment">Odpowiedź: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<textarea class="form-textarea resizable required" cols="60" id="edit-comment" name="comment" rows="15"></textarea>
</div>
<ul class="tips"><li>Adresy internetowe są automatycznie zamieniane w odnośniki, które można kliknąć.</li><li>Dozwolone znaczniki HTML: &lt;a&gt; &lt;em&gt; &lt;strong&gt; &lt;cite&gt; &lt;code&gt; &lt;ul&gt; &lt;ol&gt; &lt;li&gt; &lt;dl&gt; &lt;dt&gt; &lt;dd&gt; &lt;blockquote&gt;</li><li>Znaki końca linii i akapitu dodawane są automatycznie.</li></ul><input id="form-ca93ba35c5a57d4dc7b8146b3f78950b" name="form_build_id" type="hidden" value="form-ca93ba35c5a57d4dc7b8146b3f78950b"/>
<input id="edit-comment-form" name="form_id" type="hidden" value="comment_form"/>
<div class="clear-block"><div class="form-item" id="edit-notify-wrapper">
<label class="option" for="edit-notify"><input checked="checked" class="form-checkbox" id="edit-notify" name="notify" type="checkbox" value="1"/> Notify me when new comments are posted</label>
</div>
<div class="form-radios"><div class="form-item" id="edit-notify-type-1-wrapper">
<label class="option" for="edit-notify-type-1"><input class="form-radio" id="edit-notify-type-1" name="notify_type" type="radio" value="1"/> All comments</label>
</div>
<div class="form-item" id="edit-notify-type-2-wrapper">
<label class="option" for="edit-notify-type-2"><input checked="checked" class="form-radio" id="edit-notify-type-2" name="notify_type" type="radio" value="2"/> Replies to my comment</label>
</div>
</div></div><input class="mollom-content-id" id="edit-mollom-contentId" name="mollom[contentId]" type="hidden" value=""/>
<input class="mollom-captcha-id" id="edit-mollom-captchaId" name="mollom[captchaId]" type="hidden" value=""/>
<div style="display: none;"><div class="form-item" id="edit-mollom-homepage-wrapper">
<input autocomplete="off" class="form-text" id="edit-mollom-homepage" maxlength="128" name="mollom[homepage]" size="60" type="text" value=""/>
</div>
</div><div class="description mollom-privacy">By submitting this form, you accept the <a class="mollom-target" href="//mollom.com/web-service-privacy-policy" rel="nofollow">Mollom privacy policy</a>.</div><input class="form-submit" id="edit-preview" name="op" type="submit" value="Podgląd"/>
</div></form>
</div>
</div>
</div>
