---
permalink: /blog/2010/10/halloween-adults/
layout: blog-old
title: 'Halloween for Adults!'
day: 31
month: Oct
year: 2010
category: USA
tags: 
  - 'Halloween'
  - 'holidays'
  - 'vlog'
language: en
translation: 
---
<div class="content">
<div class="diag align-left" style="float: left; width: 160px; margin: 10px 10px 10px 0"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/10/halloween-2010-01.jpg" rel="lightbox"><img alt="Adults dressed in costumes." src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/10/halloween-2010-01.jpg" title="Adults at a Halloween costume party."/></a><div class="caption">Adults at a Halloween costume party.</div></div>
<p><a href="http://en.wikipedia.org/wiki/Halloween">Halloween</a> has always been one of my favorite holidays.  Kids get to dress up as superheroes, ghosts or monsters, go door-to-door with their friends saying "Trick or Treat" and get lots of candy.  What kid wouldn't love that?  Frequently, when we were children, I dressed up as a knight with a shield and sword and my sister dressed up as a princess.</p>
<p>But Halloween isn't only for children!</p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/10/halloween-kids.jpg" rel="lightbox"><img alt="Young boy dressed as knight.  Young girl dressed as princess." src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/10/halloween-kids.jpg" title="My sister and I as children on Halloween."/></a><div class="caption">My sister and I as children on Halloween.</div></div>
<p>Adults dress up too and go to costume parties.  Bars and dance clubs also hold Halloween events.  Since Halloween can fall on any day of the week, there are usually parties and events on both the weekend before and after the actual day.  But someone is always crazy enough to hold a party on Oct 31st, even if it is a Tuesday.</p>
<p>It's not uncommon to celebrate Halloween for a whole week.  I remember one year (it was 2002, when Halloween fell on a Thursday), I went to six different Halloween parties!</p>
<h2>Halloween 2010 (video):</h2>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/2SLuOtH5NbY?fs=1&amp;hl=pl_PL&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/2SLuOtH5NbY?fs=1&amp;hl=pl_PL&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<h2><a name="transcript">Transcript:</a></h2>
<p>[00:14]</p>
<ul>
<li>I'm your mom.</li>
<li>A flamingo.</li>
<li>I'm from the orange-face tribe.  My name is "Pretty Eyes".</li>
<li>I am <a href="http://en.wikipedia.org/wiki/Tammy_Faye_Bakker">Tammy Faye Bakker</a>.</li>
<li>I am a clown and this is supposed to be funny.  Happy Halloween!</li>
<li><a href="http://en.wikipedia.org/wiki/Che_Guevara">Che Guevara</a>.</li>
<li>I'm a <a href="http://www.youtube.com">YouTube</a> video.  Please -- Am I near the "Like"? -- Like this video!</li>
</ul>
<p>[01:00]</p>
<ul>
<li>Hello, Bacon!</li>
<li>Hi, world!</li>
<li>How do you like being on YouTube?</li>
<li>It tastes great...</li>
<li>Just like you.</li>
<li>I've been a flamingo.  I've been a lightning bug.  I've been the <a href="http://en.wikipedia.org/wiki/Bride_of_Frankenstein">bride of Frankenstein</a>.  I've been a drag queen.</li>
<li>That was awesome.</li>
<li>Shake it!</li>
</ul>
<p>[01:40]</p>
<ul>
<li>Thank you, dear.  Yes, dear?</li>
<li>How does Halloween rank among your favorite holidays?</li>
<li>I think it's one of the top ones.</li>
<li>Number one?</li>
<li>I think it might be.</li>
</ul>
<p>[02:24]</p>
<ul>
<li>I have a beard.</li>
<li>That wouldn't be considered <a href="http://en.wikipedia.org/wiki/Product_placement">product placement</a>, would it?</li>
<li>This is <a href="http://en.wikipedia.org/wiki/Product_placement">product placement</a>.</li>
</ul>
<p>[02:50]</p>
<ul>
<li>Music downstairs.</li>
<li>Keep going.</li>
<li>Almost there.</li>
</ul>
</div>

<div id="comments">
<a id="comment-8"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2010/11/vlog-wr%C3%B3ci%C5%82em-do-usa-jakie-r%C3%B3%C5%BCnice-zauwa%C5%BCy%C5%82em-i-co-dalej-na-moim-kanale" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] nawet nagrałem filmik na paru imprezach halloweenowych [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/2/8">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2010/11/vlog-wr%C3%B3ci%C5%82em-do-usa-jakie-r%C3%B3%C5%BCnice-zauwa%C5%BCy%C5%82em-i-co-dalej-na-moim-kanale" rel="nofollow">Vlog: Wróciłem do USA! Jakie różnice zauważyłem i co dalej n</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/10/halloween-adults#comment-8">Saturday, November 13, 2010 - 10:52</a></span>
</div>
</div>
<a id="comment-1779"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/01/8-reasons-to-use-youtube-to-learn-a-language" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] YouTube   My costume from Halloween 2010. [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/2/1779">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/01/8-reasons-to-use-youtube-to-learn-a-language" rel="nofollow">8 reasons to use YouTube to learn a language | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/10/halloween-adults#comment-1779">Wednesday, May 2, 2012 - 19:08</a></span>
</div>
</div>
</div>
