---
permalink: /blog/2013/11/what-are-you-thankful-for-happy-thanksgiving-day/
layout: blog-old
title: 'What are you thankful for? Happy Thanksgiving Day!'
day: 28
month: Nov
year: 2013
category: USA
tags: 
  - 'holidays'
  - 'Thanksgiving'
language: en
translation: /blog/2013/11/za-co-jeste%C5%9B-wdzi%C4%99czny-%C5%BCycz%C4%99-mi%C5%82ego-dnia-dzi%C4%99kczynienia/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2013/11/thanksgivingteeth.jpg" rel="lightbox"><img alt="Turkey with teeth" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2013/11/thanksgivingteeth.jpg" title="Photo by Dino Abatzidis"/></a><div class="caption"><a href="http://www.flickr.com/photos/atomicshark/3074620301/">Photo</a> by <a href="http://www.flickr.com/photos/atomicshark/">Dino Abatzidis</a></div></div>
<p>Thanksgiving is an American holiday when we get together with friends or family and remember all the things we have to be thankful for.</p>
<p>Personally, I'm most thankful for:</p>
<ul>
<li>My wife, Carrie</li>
<li>My health</li>
<li>The wonderful readers of my blog and their patience when I don't publish an article for a while :-)</li>
</ul>
<p>Sorry I haven't published anything in over a month! In October, I was traveling for work almost every week and I'm still trying to catch up on everything.</p>
<p><strong>However, I'd like to share a couple Thanksgiving related things with you that you may not have seen!</strong></p>
<ul>
<li>Three years ago, <a href="http://www.linguatrek.com/blog/2010/11/vlog-dzie%C5%84-dzi%C4%99kczynienia-%C5%9Bwi%C4%99ta-w-usa-w-og%C3%B3le-i-para-innych-rzeczy">I recorded a video about Thanksgiving in Polish</a> and <a href="http://www.linguatrek.com/blog/2010/11/turkey-day-isnt-the-same-for-everyone">wrote an article in English</a>. If you haven't been following my blog for 3 years, well, then it's new to you! ;-)</li>
<li>Here is <a href="http://www.youtube.com/watch?v=lZvtRytTUvc">a great video where you can learn some Thanksgiving vocabulary</a> in English and find out a little about the history of the holiday (there are subtitles).</li>
</ul>
<p>I hope you have a great day and thank you!</p>
<p><strong>What are you thankful for? Write a comment below!</strong></p>
</div>

<div id="comments">
<a id="comment-5508"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a7bdd072183f6c9d98af9ef5c84f11b5?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hey David and Everyone!</p>
<p>I'm thankful<br/>
For:</p>
<p>*each day in my life<br/>
*good health<br/>
*my dear family<br/>
*my friends<br/>
*for you David and your beautiful wife. You are both very good teachers and very friendly people. Love you!<br/>
*food on my table<br/>
*my job<br/>
*and also for bad expirences because they are the best lessons.</p>
<p>Please correct me. I try write without dictionary.</p>
<p>Happy Thanksgiving!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/256/5508">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">krystynaM (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/11/what-are-you-thankful-for-happy-thanksgiving-day#comment-5508">Thursday, November 28, 2013 - 18:24</a></span>
</div>
</div>
<div class="indented"><a id="comment-5519"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Krystyna!</p>
<p>Thanks for the comment. :-) I only have one correction:</p>
<p>"I try write" -&gt; "I'm trying to write"</p>
<p>Otherwise it's perfect!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/256/5519">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/11/what-are-you-thankful-for-happy-thanksgiving-day#comment-5519">Saturday, November 30, 2013 - 12:28</a></span>
</div>
</div>
</div><a id="comment-5510"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/7e37844cc9f5b2d0e56e61e6edaf24c7?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Thank you<br/>
*for great , amazing people who I met in my " road life",<br/>
*for bad people who I met in my "road life", cause they give me a great lessons,<br/>
*that I find my own place in the world-Warsaw,<br/>
*that I'm resourceful person<br/>
 Please correct me :)</p>
<p>Happy Thanksgiving:)</p>
<p>Best wishes</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/256/5510">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kasia (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/11/what-are-you-thankful-for-happy-thanksgiving-day#comment-5510">Friday, November 29, 2013 - 05:46</a></span>
</div>
</div>
<div class="indented"><a id="comment-5520"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Kasia!</p>
<p>Thanks. :-)</p>
<p>Only a couple couple corrections:</p>
<ul>
<li>"road life" -&gt; "life on the road"</li>
<li>they give me a great lesson -&gt; they gave me great lessons</li>
<li>find -&gt; found</li>
</ul>
<p>It was very well written!</p>
<p>Take care,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/256/5520">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/11/what-are-you-thankful-for-happy-thanksgiving-day#comment-5520">Saturday, November 30, 2013 - 12:30</a></span>
</div>
</div>
</div><a id="comment-8070"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/2b5ef51ad96ac09d6ba6d3d8ad4bbfe2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>For me, there are lot of things that I want to be thankful for. First and foremost I want to say thank you to God because he gave me a life like this, family, friends and a lot more.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/256/8070">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">smilers (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/11/what-are-you-thankful-for-happy-thanksgiving-day#comment-8070">Tuesday, November 18, 2014 - 19:49</a></span>
</div>
</div>
<a id="comment-8094"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/87570000b49997e30f11cb84109364eb?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Sorry I haven't published anything in over a month! In October, I was traveling for work almost every week and I'm still trying to catch up on everything.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/256/8094">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">doll (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/11/what-are-you-thankful-for-happy-thanksgiving-day#comment-8094">Wednesday, December 24, 2014 - 13:28</a></span>
</div>
</div>
</div>
