---
permalink: /category/culture/poland/
layout: base-old
title: 'Poland'
language: en
translation: 
---
<div class="node node-story clear-block" id="node-258">
<h2 class="node-title"><a href="/blog/2013/12/5-blogs-by-americans-living-in-poland" title="5 blogs by Americans living in Poland">5 blogs by Americans living in Poland</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">31</strong> <strong class="month">Dec</strong> <strong class="year">2013</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_33 first last active"><a class="active" href="/category/culture/poland" rel="tag" title="">Poland</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 120px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2013/12/turkey_in_road.jpg" rel="lightbox"><img alt="Turkey in the road" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2013/12/turkey_in_road.jpg" title="Yesterday, in front of our apartment :-)"/></a><div class="caption">Yesterday, in front of our apartment :-)</div></div>
<p>When we met new people in Kraków, Poland, they'd frequently say things like, <em>"You're the first American I've ever met,"</em> or even, <em>"You're the first native speaker I've ever met!"</em></p>
<p>I wouldn't necessarily say this, but I'd be thinking: <em>"Seriously? There are a TON of Americans living in Poland!"</em></p>
<p>In fact, when we first arrived in Poland we had trouble meeting Poles! We normally expand our social circle by meeting the friends of our friends. But when you don't know <em>anyone</em>, it's hard to get started.</p>
<p>However, we had no trouble meeting other Americans! I could recognize them from across the street or hear their accents when we were at a restaurant or cafe. And all we had to say was, <em>"Hey, what are you doing in Poland?"</em> And then we'd have a new American friend. ;-)</p>
<p>If I had to guess, there are at least hundreds if not thousands of Americans living in Kraków alone. When I'd tell this to Poles and they wouldn't beleive me! Well, today I have some proof. :-)</p>
<p><strong>Read more to learn about 5 blogs written by Americans living in Poland!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2013/12/5-blogs-by-americans-living-in-poland#comments" title="Jump to the first comment of this posting.">15 comments</a></li>
<li class="node_read_more"><a href="/blog/2013/12/5-blogs-by-americans-living-in-poland" title="Read the rest of 5 blogs by Americans living in Poland.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2013%2F12%2F5-blogs-by-americans-living-in-poland&amp;linkname=5%20blogs%20by%20Americans%20living%20in%20Poland" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-206">
<h2 class="node-title"><a href="/blog/2012/09/things-i-love-about-poland-06-eating-out" title="Things I Love About Poland #06: Eating out!">Things I Love About Poland #06: Eating out!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">25</strong> <strong class="month">Sep</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_3 first"><a href="/tags/things-i-love-about-poland" rel="tag" title="">Things I Love About Poland</a></li>
<li class="taxonomy_term_33 last active"><a class="active" href="/category/culture/poland" rel="tag" title="">Poland</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 147px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/09/zapiekanka.jpg" rel="lightbox"><img alt="Zapiekanka" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/09/zapiekanka.jpg" title="A zapiekanka. Photo by Mariuszjbie."/></a><div class="caption">A zapiekanka. <a href="http://commons.wikimedia.org/wiki/File:Zapiekanka_2..jpg">Photo</a> by Mariuszjbie.</div></div>
<p><strong>This is the <em>sixth</em> installment in my series of articles called "<a href="http://www.linguatrek.com/tags/things-i-love-about-poland">Things I Love About Poland</a>," in which I discuss differences between Poland and the USA.</strong></p>
<p>It's been awhile since I wrote an article in this series!  Right when we got back from our last trip to Poland (in October 2010), I made a list of over <em>twenty ideas</em> to write about. :-)</p>
<p>I was hoping to visit Poland again in the fall this year, but with all the work we're doing on Bibliobird, it looks like that will be impossible. :-/</p>
<p><em>(BTW, our paid product to help Poles learn English - "Real Life in the USA" - is going to be launched on Monday, October 1st. Learn more <a href="https://en.bibliobird.com/node/14452">here</a> and get a discount!)</em></p>
<p><strong>So, now that fall has come, I'm feeling a little nostalgic!</strong></p>
<p>In my <a href="http://www.linguatrek.com/blog/2010/11/things-i-love-about-poland-01-waiters-leave-you-alone">first article in this series</a>, I wrote about one thing I love about going out to eat in Poland - and today I'm going to tell you three more!</p>
<p><strong>Read more to find out what they are!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/09/things-i-love-about-poland-06-eating-out#comments" title="Jump to the first comment of this posting.">14 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/09/things-i-love-about-poland-06-eating-out" title="Read the rest of Things I Love About Poland #06: Eating out!.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F09%2Fthings-i-love-about-poland-06-eating-out&amp;linkname=Things%20I%20Love%20About%20Poland%20%2306%3A%20Eating%20out%21" id="da2a_2"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-176">
<h2 class="node-title"><a href="/blog/2012/06/traces-of-poland-in-american-movies" title="Traces of Poland in American movies">Traces of Poland in American movies</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">19</strong> <strong class="month">Jun</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_83 first"><a href="/tags/movies" rel="tag" title="">movies</a></li>
<li class="taxonomy_term_33 last active"><a class="active" href="/category/culture/poland" rel="tag" title="">Poland</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<p><em>Today we have an interesting article from Marcin at <a href="http://www.sprachcaffe.com/english/main.htm">sprachcaffe.com</a>, which offers language courses and camps abroad. It's a mix of tourism and language learning. :-)</em></p>
<p><em>(Note #1: I don't receive any kind of payment for publishing this article or the links to their page - I only received this awesome article!)</em></p>
<p><em>(Note #2: I translated this article from the <a href="http://www.linguatrek.com/blog/2012/06/%C5%9Bladem-polskich-akcent%C3%B3w-w-filmach-ameryka%C5%84skich">original Polish version</a>.)</em></p>
<hr/>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/manwithvideocamera.jpg" rel="lightbox"><img alt="Man with video camera" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/manwithvideocamera.jpg" title="Photo by woodleywonderworks"/></a><div class="caption"><a href="http://www.flickr.com/photos/73645804@N00/3994475649">Photo</a> by <a href="http://www.flickr.com/photos/wwworks/">woodleywonderworks</a></div></div>
<p>We all know that watching films in English helps us learn the language. We also know the surprise that comes with seeing traces of Poland in them!</p>
<p>Any reference to Poland in American films usually suprises Poles... postively or negatively. Here is a quick overview of Polish references found in American films.</p>
<p><strong>Read more to find out about them!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/06/traces-of-poland-in-american-movies#comments" title="Jump to the first comment of this posting.">7 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/06/traces-of-poland-in-american-movies" title="Read the rest of Traces of Poland in American movies.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F06%2Ftraces-of-poland-in-american-movies&amp;linkname=Traces%20of%20Poland%20in%20American%20movies" id="da2a_3"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-124">
<h2 class="node-title"><a href="/blog/2012/02/vlog-brooke-ma%C5%82a-amerykanka-kt%C3%B3ra-%C5%9Bni-o-polsce" title="Vlog: Brooke - mała Amerykanka która śni o Polsce">Vlog: Brooke - mała Amerykanka która śni o Polsce</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">25</strong> <strong class="month">Feb</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_69 first"><a href="/tags/brooke" rel="tag" title="">Brooke</a></li>
<li class="taxonomy_term_4"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
<li class="taxonomy_term_33 last active"><a class="active" href="/category/culture/poland" rel="tag" title="">Poland</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>To jest bardzo interesująca historia o dziewczynce w USA, która nie ma polskich korzeni ale zakochała się w Polsce w prosty sposób.</p>
<p><object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/Br0roArv7kY?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/Br0roArv7kY?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object></p>
<p>Czytaj cały list Brooke <a href="http://www.linguatrek.com/blog/2012/02/spreading-our-love-of-poland">tutaj</a>.</p>
<p>Proszę podaj mi poprawki <a href="">w serwisie Lang-8</a>.</p>
<p><strong>Czytaj transkrypcję poniżej!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/02/vlog-brooke-ma%C5%82a-amerykanka-kt%C3%B3ra-%C5%9Bni-o-polsce#comments" title="Jump to the first comment of this posting.">11 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/02/vlog-brooke-ma%C5%82a-amerykanka-kt%C3%B3ra-%C5%9Bni-o-polsce" title="Read the rest of Vlog: Brooke - mała Amerykanka która śni o Polsce.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F02%2Fvlog-brooke-ma%25C5%2582a-amerykanka-kt%25C3%25B3ra-%25C5%259Bni-o-polsce&amp;linkname=Vlog%3A%20Brooke%20-%20ma%C5%82a%20Amerykanka%20kt%C3%B3ra%20%C5%9Bni%20o%20Polsce" id="da2a_4"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-122">
<h2 class="node-title"><a href="/blog/2012/02/spreading-our-love-of-poland" title="Spreading our love of Poland">Spreading our love of Poland</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">21</strong> <strong class="month">Feb</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_69 first"><a href="/tags/brooke" rel="tag" title="">Brooke</a></li>
<li class="taxonomy_term_33 last active"><a class="active" href="/category/culture/poland" rel="tag" title="">Poland</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/02/love.jpg" rel="lightbox"><img alt="Red hearts with wings" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/02/love.jpg" title="Photo by Erika Tricroche"/></a><div class="caption"><a href="http://www.flickr.com/photos/26358240@N02/3931909203">Photo</a> by <a href="http://www.flickr.com/photos/erika_tricroche/">Erika Tricroche</a></div></div>
<p><strong>We just got an email from my mother-in-law that I am <em>sooo</em> excited about!</strong></p>
<p>She works as a 1st grade teacher near Appleton, Wisconsin.  When my wife and I were in Poland, we <a href="http://www.linguatrek.com/blog/2011/07/teaching-english-in-poland">worked as English teachers</a>.  Although our students were a little older than hers, we set up a <em>penpal project</em> with her students in the USA.</p>
<p>So, our students in Poland wrote letters to her students in the USA.  Then they wrote back - and so on.  I think both groups managed to write two letters in the course of a school year.</p>
<p>My wife returned to the USA a few times to visit family.  One of those times she went to her mother's class to talk about Poland.  She told a few fairy tales about Kraków (from the book <a href="http://bookadvisor.eu/The-Legends-of-Cracow;s,book,id,377">Legends of Cracow</a>), including the one about the Wawel dragon.  This was already almost two years ago.</p>
<p><strong>Then, at the end of last month, Brooke, one of my mother-in-law's former students, wrote her a letter.  This little girl - <em>who has no Polish heritage</em> - is still thinking about Poland!  It appears we've managed to spread <a href="http://www.linguatrek.com/blog/2011/03/how-long-have-i-been-obsessed-with-poland">our love of Poland</a> to her.</strong></p>
<p>I think it's contagious. ;-)</p>
<p><strong>Read more to see her actual letter!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/02/spreading-our-love-of-poland#comments" title="Jump to the first comment of this posting.">37 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/02/spreading-our-love-of-poland" title="Read the rest of Spreading our love of Poland.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F02%2Fspreading-our-love-of-poland&amp;linkname=Spreading%20our%20love%20of%20Poland" id="da2a_5"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-109">
<h2 class="node-title"><a href="/blog/2011/12/mail-stereotypy-o-polakach" title="Mail: Stereotypy o Polakach">Mail: Stereotypy o Polakach</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">30</strong> <strong class="month">Dec</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_67 first"><a href="/tags/polish-stereotypes" rel="tag" title="">Polish Stereotypes</a></li>
<li class="taxonomy_term_33 last active"><a class="active" href="/category/culture/poland" rel="tag" title="">Poland</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/12/z_krakowskie.jpg" rel="lightbox"><img alt="Polacy tancerzy w stroju krakowskim" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/12/z_krakowskie.jpg" title=""/></a></div>
<p><strong>To jest pierwszy artykuł z <a href="http://www.linguatrek.com/tags/mailbag">serii</a>, który jest bezpośrednio wzięty z ogromnej ilości maili, które dostaję na temat nauki języków, Stanów i Polski.</strong></p>
<p>Kilka dni temu dostałem ten mail:</p>
<blockquote>
<p>Witam David.</p>
<p>Chciałbym zadać ci jedno pytanie odnośnie stereotypów o Polakach. Nie wiem czy już o tym mówiłeś w swoich filmach(nie widzałem ich wszystkich bo jest ich całkiem sporo) więc jeśli już o tym mówiłeś to przepraszam. Więc...</p>
<p>Tutaj w Polsce często słyszę, że Amerykanie, Niemcy, Brytyjczycy śmieją sie z nas, że kradnimy, że pijemy i wiele innych obraźliwych opini.</p>
<p>Wiem, że kochasz Polske i wiem, że masz o nas dobrą opinie ale czy słyszałeś żeby inni Amerykanie mówili tak o nas? Jestem bardzo ciekaw czy jest to prawda, że mamy tak złą opinie za granicą. Z niecierpliwościa czekam na odpowiedź. Pozdrawiam.</p>
</blockquote>
<p><strong>Czytaj dalej, żeby poznać moją odpowiedź!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/12/mail-stereotypy-o-polakach#comments" title="Jump to the first comment of this posting.">31 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/12/mail-stereotypy-o-polakach" title="Read the rest of Mail: Stereotypy o Polakach.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F12%2Fmail-stereotypy-o-polakach&amp;linkname=Mail%3A%20Stereotypy%20o%20Polakach" id="da2a_6"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-86">
<h2 class="node-title"><a href="/blog/2011/08/polish-cryptologists-crack-the-nazi-code" title="Polish cryptologists crack the Nazi code">Polish cryptologists crack the Nazi code</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">9</strong> <strong class="month">Aug</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_16 first"><a href="/tags/history" rel="tag" title="">history</a></li>
<li class="taxonomy_term_33 last active"><a class="active" href="/category/culture/poland" rel="tag" title="">Poland</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 138px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/08/enigmamachine.jpg" rel="lightbox"><img alt="Old machine that looks similar to a typewriter" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/08/enigmamachine.jpg" title="One of the Engima machines. Photo by J Brew."/></a><div class="caption">One of the Engima machines. <a href="http://www.flickr.com/photos/93452909@N00/3318018628">Photo</a> by <a href="http://www.flickr.com/photos/brewbooks/">J Brew</a>.</div></div>
<p>The Enigma machine was invented near the end of World War I.  An electro-mechanical cypher machine that allowed the German military to send encoded messages, the Enigma evolved to become a powerful tool the Nazis would soon use before and during World War II.</p>
<p>But did you know that this powerful and complicated machine was deconstructed and decoded by a clever group of Polish mathematicians?  Plus, as a result of their efforts, many agree <strong>the war in Europe ended two years sooner than it could have</strong>!</p>
<p><strong>Read more to learn about this great (and often overlooked) moment in Polish history!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/08/polish-cryptologists-crack-the-nazi-code#comments" title="Jump to the first comment of this posting.">16 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/08/polish-cryptologists-crack-the-nazi-code" title="Read the rest of Polish cryptologists crack the Nazi code.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F08%2Fpolish-cryptologists-crack-the-nazi-code&amp;linkname=Polish%20cryptologists%20crack%20the%20Nazi%20code" id="da2a_7"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-83">
<h2 class="node-title"><a href="/blog/2011/07/teaching-english-in-poland" title="Teaching English in Poland">Teaching English in Poland</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">19</strong> <strong class="month">Jul</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_63 first"><a href="/tags/celta" rel="tag" title="">CELTA</a></li>
<li class="taxonomy_term_62"><a href="/tags/teaching-english" rel="tag" title="">teaching English</a></li>
<li class="taxonomy_term_33 last active"><a class="active" href="/category/culture/poland" rel="tag" title="">Poland</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/07/carriestudents.jpg" rel="lightbox"><img alt="Children on a couch with an adult" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/07/carriestudents.jpg" title="My wife with some of her students."/></a><div class="caption">My wife with some of her students.</div></div>
<p><em>Want to travel to Poland for a long period of time but don't know how to afford it?  <strong>Teach English!</strong></em></p>
<p>If you are a native speaker of English or speak English at an advanced level, <strong>working as an English teacher can be a great way to support yourself while you travel abroad.</strong>  In Poland, language learning is very popular and there are tons of private language schools (something completely unheard of in the States).</p>
<p>Even if your native language isn't English, you can probably find a school that teaches it.  When we were living in Kraków, I knew Italian, German and Russian native speakers who were teaching their native languages!</p>
<p><em>Don't speak very good Polish?  <strong>No problem!</strong></em>  It's not required, and in fact, you will be encourage to never use the students' native language in the classroom.</p>
<p>From October 2009 to June 2010, my wife and I were working as English teachers in Poland.  In this article, I'd like to give a little advice for people who want to do the same.</p>
<p><strong>Read more for my advice!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/07/teaching-english-in-poland#comments" title="Jump to the first comment of this posting.">51 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/07/teaching-english-in-poland" title="Read the rest of Teaching English in Poland.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F07%2Fteaching-english-in-poland&amp;linkname=Teaching%20English%20in%20Poland" id="da2a_8"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-66">
<h2 class="node-title"><a href="/blog/2011/05/things-i-love-about-poland-05-history-is-everywhere" title="Things I Love About Poland #05: History is Everywhere!">Things I Love About Poland #05: History is Everywhere!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">17</strong> <strong class="month">May</strong> <strong class="year">2011</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Read this text with BiblioBird!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_3 first"><a href="/tags/things-i-love-about-poland" rel="tag" title="">Things I Love About Poland</a></li>
<li class="taxonomy_term_33 last active"><a class="active" href="/category/culture/poland" rel="tag" title="">Poland</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/05/outsidewawel.jpg" rel="lightbox"><img alt="People on a hill in front of a castle" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/05/outsidewawel.jpg" title="People relaxing near the Wisła river, next to Wawel castle.  Photo by bazylek100 on Flikr."/></a><div class="caption">People relaxing near the Wisła river, next to Wawel castle.  <a href="http://www.flickr.com/photos/bazylek/3413198654/">Photo</a> by <a href="http://www.flickr.com/photos/bazylek/">bazylek100</a> on Flikr.</div></div>
<p><strong>This is the fifth installment in my series of articles called "<a href="http://www.linguatrek.com/tags/things-i-love-about-poland">Things I Love About Poland</a>," in which I discuss differences between Poland and the USA.  In this article, I talk about Poland's old-world character and wonderful museums.</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/05/things-i-love-about-poland-05-history-is-everywhere#comments" title="Jump to the first comment of this posting.">7 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/05/things-i-love-about-poland-05-history-is-everywhere" title="Read the rest of Things I Love About Poland #05: History is Everywhere!.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F05%2Fthings-i-love-about-poland-05-history-is-everywhere&amp;linkname=Things%20I%20Love%20About%20Poland%20%2305%3A%20History%20is%20Everywhere%21" id="da2a_9"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-41">
<h2 class="node-title"><a href="/blog/2011/01/things-i-love-about-poland-04-money" title="Things I Love About Poland #04: Money">Things I Love About Poland #04: Money</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">25</strong> <strong class="month">Jan</strong> <strong class="year">2011</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Read this text with BiblioBird!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_3 first"><a href="/tags/things-i-love-about-poland" rel="tag" title="">Things I Love About Poland</a></li>
<li class="taxonomy_term_33 last active"><a class="active" href="/category/culture/poland" rel="tag" title="">Poland</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/01/polishbanknotes.jpg" rel="lightbox"><img alt="Polish bills" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/01/polishbanknotes.jpg" title="Polish bills.  Photo by Niels Heidenreich."/></a><div class="caption">Polish bills.  <a href="http://www.flickr.com/photos/schoschie/8903464/">Photo</a> by <a href="http://www.flickr.com/photos/schoschie/">Niels Heidenreich</a>.</div></div>
<p><strong>This is the fourth installment in my series of articles called "<a href="http://www.linguatrek.com/tags/things-i-love-about-poland">Things I Love About Poland</a>," in which I discuss differences between Poland and the USA.  In this article, I talk about money.</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/01/things-i-love-about-poland-04-money#comments" title="Jump to the first comment of this posting.">23 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/01/things-i-love-about-poland-04-money" title="Read the rest of Things I Love About Poland #04: Money.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F01%2Fthings-i-love-about-poland-04-money&amp;linkname=Things%20I%20Love%20About%20Poland%20%2304%3A%20Money" id="da2a_10"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="item-list"><ul class="pager"><li class="pager-current first">1</li>
<li class="pager-item"><a class="active" href="/category/culture/poland-page-1" title="Go to page 2">2</a></li>
<li class="pager-next"><a class="active" href="/category/culture/poland-page-1" title="Go to next page">next ›</a></li>
<li class="pager-last last"><a class="active" href="/category/culture/poland-page-1" title="Go to last page">last »</a></li>
</ul></div>
