---
permalink: /category/culture/usa-page-1/
layout: base-old
title: 'USA'
language: en
translation: /category/culture/usa/
---
<div class="node node-story clear-block" id="node-91">
<h2 class="node-title"><a href="/blog/2011/09/american-stereotypes-americans-are-workaholics" title="American Stereotypes: Americans are workaholics">American Stereotypes: Americans are workaholics</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">13</strong> <strong class="month">Sep</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_20 first"><a href="/tags/american-stereotypes" rel="tag" title="">American Stereotypes</a></li>
<li class="taxonomy_term_32 last active"><a class="active" href="/category/culture/usa" rel="tag" title="">USA</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 106px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/09/workaholics.jpg" rel="lightbox"><img alt="Businessman and businesswoman talking" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/09/workaholics.jpg" title="Photo by Peter Hayes"/></a><div class="caption"><a href="http://www.flickr.com/photos/47494486@N03/5036313154">Photo</a> by <a href="http://www.flickr.com/people/inlinguamanchester/">Peter Hayes</a></div></div>
<p><strong>This is the first installment in a new series of articles called "<a href="http://www.linguatrek.com/tags/american-stereotypes">American Stereotypes</a>," which explores stereotypes about Americans.  Today's topic is: Americans are workaholics.</strong></p>
<p>A workaholic is a person so obsessed with working and earning money that they often forget to enjoy life.  <strong><em>Are Americans workaholics?</em></strong></p>
<p>More often than we'd like to admit, there's some truth to many stereotypes.  In this case, there are even statistics to back it up!  But I think the reality of the situation often falls somewhere between the stereotype and the true human experience.</p>
<p><strong>Read more to find out about this common stereotype!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/09/american-stereotypes-americans-are-workaholics#comments" title="Jump to the first comment of this posting.">4 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/09/american-stereotypes-americans-are-workaholics" title="Read the rest of American Stereotypes: Americans are workaholics.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F09%2Famerican-stereotypes-americans-are-workaholics&amp;linkname=American%20Stereotypes%3A%20Americans%20are%20workaholics" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-82">
<h2 class="node-title"><a href="/blog/2011/07/vlog-patriotyzm-w-usa" title="Vlog: Patriotyzm w USA">Vlog: Patriotyzm w USA</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">8</strong> <strong class="month">Jul</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_6 first"><a href="/tags/holidays" rel="tag" title="">holidays</a></li>
<li class="taxonomy_term_61"><a href="/tags/independence-day" rel="tag" title="">Independence Day</a></li>
<li class="taxonomy_term_32 active"><a class="active" href="/category/culture/usa" rel="tag" title="">USA</a></li>
<li class="taxonomy_term_4 last"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Właśnie był <a href="http://pl.wikipedia.org/wiki/Dzie%C5%84_Niepodleg%C5%82o%C5%9Bci_Stan%C3%B3w_Zjednoczonych">Dzień Niepodległości</a> w Stanach Zjednoczonych więc dzisiaj zdecydowałem poruszyć temat patriotyzm w USA!</p>
<p>Niestety tylko bardzo mało nagrałem na imprezie w samym Dniu Niepodległości ale jest tego trochę i będzie więcej w następnym roku. :-)</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/0cvbz-Q_JVY?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/0cvbz-Q_JVY?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Proszę podaj mi poprawki do tego filmiku <a href="http://lang-8.com/10069/journals/1004471/Patriotyzm-w-USA">w serwisie Lang-8</a>.  <a href="http://www.linguatrek.com/blog/2011/07/the-declaration-of-independence">Oto jest filmik</a> na temat Deklaracji Niepodległości, o którym mówiłem.</p>
<p><strong>Czytaj transkrypcję poniżej!</strong></p>
</div>
<ul class="links inline"><li class="comment_add first"><a href="/comment/reply/82#comment-form" title="Add a new comment to this page.">Add new comment</a></li>
<li class="node_read_more"><a href="/blog/2011/07/vlog-patriotyzm-w-usa" title="Read the rest of Vlog: Patriotyzm w USA.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F07%2Fvlog-patriotyzm-w-usa&amp;linkname=Vlog%3A%20Patriotyzm%20w%20USA" id="da2a_2"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-81">
<h2 class="node-title"><a href="/blog/2011/07/the-declaration-of-independence" title="The Declaration of Independence">The Declaration of Independence</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">5</strong> <strong class="month">Jul</strong> <strong class="year">2011</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Read this text with BiblioBird!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_6 first"><a href="/tags/holidays" rel="tag" title="">holidays</a></li>
<li class="taxonomy_term_61"><a href="/tags/independence-day" rel="tag" title="">Independence Day</a></li>
<li class="taxonomy_term_32 last active"><a class="active" href="/category/culture/usa" rel="tag" title="">USA</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Yesterday was the 4th of July which is <a href="http://en.wikipedia.org/wiki/Independence_Day_(United_States)">Independence Day</a> in the United States.  It's a day of barbecues, parades and fireworks to commemorate the signing of the <a href="http://en.wikipedia.org/wiki/Declaration_of_Independence">Declaration of Independence</a> from Britain in 1776.  It is the most important national holiday in our country.</p>
<p>Here is a short video about the Declaration of Independence:</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/yb7MI8NQLoo?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/yb7MI8NQLoo?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p><strong>Read more for a transcript with translations into Polish!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/07/the-declaration-of-independence#comments" title="Jump to the first comment of this posting.">1 comment</a></li>
<li class="node_read_more"><a href="/blog/2011/07/the-declaration-of-independence" title="Read the rest of The Declaration of Independence.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F07%2Fthe-declaration-of-independence&amp;linkname=The%20Declaration%20of%20Independence" id="da2a_3"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-64">
<h2 class="node-title"><a href="/blog/2011/04/vlog-ubezpieczenie-zdrowotne-w-usa" title="Vlog: Ubezpieczenie zdrowotne w USA">Vlog: Ubezpieczenie zdrowotne w USA</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">29</strong> <strong class="month">Apr</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_56 first"><a href="/tags/health-insurance" rel="tag" title="">health insurance</a></li>
<li class="taxonomy_term_32 active"><a class="active" href="/category/culture/usa" rel="tag" title="">USA</a></li>
<li class="taxonomy_term_4 last"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Dzisiaj mówię o ubezpieczeniu zdrowotnym w Stanach Zjednoczonych z mojego osobistego doświadczenia jako Amerykanin.</p>
<iframe allowfullscreen="" frameborder="0" height="317" src="http://www.youtube.com/embed/kfWQhK5IGkI?rel=0" style="margin-bottom: 20px" title="YouTube video player" width="510"></iframe>
<p>Zrobiłem tym razem strasznie dużo błędów, już przepraszam za to! :-)  Ale były w tym dla mnie trudne słowa: zapłacić/płacić, tysiąc/tysiące/tysięcy, pieniądze/pieniędzy, wszystkie te liczby, itd.</p>
<p><strong>Czytaj transkrypcję poniżej!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/04/vlog-ubezpieczenie-zdrowotne-w-usa#comments" title="Jump to the first comment of this posting.">16 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/04/vlog-ubezpieczenie-zdrowotne-w-usa" title="Read the rest of Vlog: Ubezpieczenie zdrowotne w USA.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F04%2Fvlog-ubezpieczenie-zdrowotne-w-usa&amp;linkname=Vlog%3A%20Ubezpieczenie%20zdrowotne%20w%20USA" id="da2a_4"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-51">
<h2 class="node-title"><a href="/blog/2011/02/vlog-poci%C4%85gi-w-stanach-zjednoczonych" title="Vlog: Pociągi w Stanach Zjednoczonych">Vlog: Pociągi w Stanach Zjednoczonych</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">26</strong> <strong class="month">Feb</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_32 first active"><a class="active" href="/category/culture/usa" rel="tag" title="">USA</a></li>
<li class="taxonomy_term_4 last"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Dzisiaj mówię na temat pociągów w Stanach Zjednoczonych!  Wygląda na to że jesteście fanami pociągów bo dostałem kilka próśb o filmik na ten temat. :-)</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/rPYkTL34c5E?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/rPYkTL34c5E?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Linki do tych ciekawostek na YouTube'ie:</p>
<ul>
<li><a href="http://www.communitywalk.com/mapa_vloger%C3%B3w_w_polsce/map/896077">Mapka polskich vlogerów</a></li>
<li><a href="http://zspontanik.pl/index.php?s=vloger_ranking">Ranking polskich vlogerów</a></li>
</ul>
<p>Czytaj transkrypcję poniżej!</p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/02/vlog-poci%C4%85gi-w-stanach-zjednoczonych#comments" title="Jump to the first comment of this posting.">3 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/02/vlog-poci%C4%85gi-w-stanach-zjednoczonych" title="Read the rest of Vlog: Pociągi w Stanach Zjednoczonych.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F02%2Fvlog-poci%25C4%2585gi-w-stanach-zjednoczonych&amp;linkname=Vlog%3A%20Poci%C4%85gi%20w%20Stanach%20Zjednoczonych" id="da2a_5"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-47">
<h2 class="node-title"><a href="/blog/2011/02/vlog-jedzenie-w-stanach-zjednoczonych" title="Vlog: Jedzenie w Stanach Zjednoczonych">Vlog: Jedzenie w Stanach Zjednoczonych</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">11</strong> <strong class="month">Feb</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_50 first"><a href="/tags/food" rel="tag" title="">food</a></li>
<li class="taxonomy_term_32 active"><a class="active" href="/category/culture/usa" rel="tag" title="">USA</a></li>
<li class="taxonomy_term_4 last"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Dzisiaj odpowiadam na pytanie: Jak jadacie w Stanach?</p>
<p>Przepraszam bardzo za jakość filmiku ale z jakiegoś nieznanego powodu nie wygląda tak dobrze jak zwykle.  Może było za mało światła w kuchni?  Ależ niestety nie wiem... :-(</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/e3z4Ie5ziZI?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/e3z4Ie5ziZI?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Dziękuję bardzo użytkownikom Flickr'a <a href="http://www.flickr.com/people/retrocactus/">John Biehler<a></a>, <a href="http://www.flickr.com/photos/mroach/">mroach</a>, <a href="http://www.flickr.com/photos/imipolexg/">ImipolexG</a> i <a href="http://www.flickr.com/photos/fredross/">Ross</a> za zdjęcia "pot pie" (<a href="http://www.flickr.com/photos/69295994@N00/2972378123">pierwsze</a>, <a href="http://www.flickr.com/photos/73569497@N00/5218219613">drugie</a>) i "macaroni &amp; cheese" (<a href="http://www.flickr.com/photos/68265131@N00/1024939562">pierwsze</a>, <a href="http://www.flickr.com/photos/97941517@N00/2891337890">drugie</a>).</a></p>
<p><strong>Znalazłem przepisy na te potrawy po polsku!</strong></p>
<p><a href="http://crustanddust.blogspot.com/2010/11/chicken-pot-pie.html">"Pot pie"</a> -- Ten przepis ma fajny wstęp!  Ale "pot pie" w obrazku wygląda dziwnie. :-/  I oto przepis na <a href="http://mojeekspresjekulinarne.blox.pl/2010/02/Creamy-Macaroni-and-cheese.html">"macaroni &amp; cheese"</a>.</p>
<p>Nie wiem czy są dobre przepisy ale wyglądają dość podobnie do tego, co moja żona robi, kiedy gotuje te potrawy. ;-)</p>
<p><strong>Czytaj transkrypcję poniżej!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/02/vlog-jedzenie-w-stanach-zjednoczonych#comments" title="Jump to the first comment of this posting.">9 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/02/vlog-jedzenie-w-stanach-zjednoczonych" title="Read the rest of Vlog: Jedzenie w Stanach Zjednoczonych.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F02%2Fvlog-jedzenie-w-stanach-zjednoczonych&amp;linkname=Vlog%3A%20Jedzenie%20w%20Stanach%20Zjednoczonych" id="da2a_6"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-35">
<h2 class="node-title"><a href="/blog/2010/12/vlog-bo%C5%BCe-narodzenia-w-stanach" title="Vlog: Boże Narodzenia w Stanach">Vlog: Boże Narodzenia w Stanach</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">29</strong> <strong class="month">Dec</strong> <strong class="year">2010</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_42 first"><a href="/tags/christmas" rel="tag" title="">Christmas</a></li>
<li class="taxonomy_term_6"><a href="/tags/holidays" rel="tag" title="">holidays</a></li>
<li class="taxonomy_term_32 active"><a class="active" href="/category/culture/usa" rel="tag" title="">USA</a></li>
<li class="taxonomy_term_4 last"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Dzisiaj mówię na temat Bożego Narodzenia w Stanach Zjednoczonych i trochę pokażuję, jak moja rodzina obchodzi to święto.  Też mamy "tajemnica", z którą potrzebujemy pomocy od Polaków!  Proszę obejrzyj filmik i napisz komentarze, żeby nam pomóc!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/8CnfGj1nmkk?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/8CnfGj1nmkk?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Czytaj transkrypcję poniżej!</p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2010/12/vlog-bo%C5%BCe-narodzenia-w-stanach#comments" title="Jump to the first comment of this posting.">7 comments</a></li>
<li class="node_read_more"><a href="/blog/2010/12/vlog-bo%C5%BCe-narodzenia-w-stanach" title="Read the rest of Vlog: Boże Narodzenia w Stanach.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2010%2F12%2Fvlog-bo%25C5%25BCe-narodzenia-w-stanach&amp;linkname=Vlog%3A%20Bo%C5%BCe%20Narodzenia%20w%20Stanach" id="da2a_7"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-34">
<h2 class="node-title"><a href="/blog/2010/12/christmas-without-presents" title="Christmas without presents?">Christmas without presents?</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">28</strong> <strong class="month">Dec</strong> <strong class="year">2010</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Read this text with BiblioBird!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_42 first"><a href="/tags/christmas" rel="tag" title="">Christmas</a></li>
<li class="taxonomy_term_6"><a href="/tags/holidays" rel="tag" title="">holidays</a></li>
<li class="taxonomy_term_32 last active"><a class="active" href="/category/culture/usa" rel="tag" title="">USA</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/12/christmasstormtrooper.jpg" rel="lightbox"><img alt="Storm trooper holding Christmas presents" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/12/christmasstormtrooper.jpg" title="The Empire is stealing Christmas!  Photo by Kenny Louie."/></a><div class="caption">The Empire is stealing Christmas!  <a href="http://www.flickr.com/photos/99472898@N00/5278223836/">Photo</a> by <a href="http://www.flickr.com/photos/kwl/">Kenny Louie</a>.</div></div>
<p>For Christians, Christmas is about celebrating the birth of Jesus.  However, according to a <a href="http://www.gallup.com/poll/145367/Christmas-Strongly-Religious-Half-Celebrate.aspx">recent poll</a>, 95% of Americans celebrate Christmas, including 80% of non-Christians.  But for both believers and the rest of us, Christmas in the USA is about spending time with family and friends.</p>
<p>Yeah, family and friends, but also -- PRESENTS!  Glorious presents!</p>
<p>When I was a kid, I couldn't wait until Christmas.  I dreamt of all the great things I hoped I was going to get.  It was a magical day, when dreams came true!</p>
<p>How can you have Christmas without presents?</p>
<p>But a number of years ago, my family stopped exchanging gifts at Christmas.</p>
</div>
<ul class="links inline"><li class="comment_add first"><a href="/comment/reply/34#comment-form" title="Add a new comment to this page.">Add new comment</a></li>
<li class="node_read_more"><a href="/blog/2010/12/christmas-without-presents" title="Read the rest of Christmas without presents?.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2010%2F12%2Fchristmas-without-presents&amp;linkname=Christmas%20without%20presents%3F" id="da2a_8"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-30">
<h2 class="node-title"><a href="/blog/2010/12/vlog-r%C3%B3%C5%BCnice-mi%C4%99dzy-stanami-i-polsk%C4%85-milwaukee-dom-rodzic%C3%B3w-i-ich-dzielnica" title="Vlog: Różnice między Stanami i Polską -- Milwaukee, dom rodziców i ich dzielnica">Vlog: Różnice między Stanami i Polską -- Milwaukee, dom rodziców i ich dzielnica</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">11</strong> <strong class="month">Dec</strong> <strong class="year">2010</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_47 first"><a href="/tags/milwaukee" rel="tag" title="">Milwaukee</a></li>
<li class="taxonomy_term_32 active"><a class="active" href="/category/culture/usa" rel="tag" title="">USA</a></li>
<li class="taxonomy_term_4 last"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Dzisiaj Amerykanin mówiący po polsku rozmawia na temat swojego miasto, pokazuje trochę domu swoich rodziców i ich dzielnicę -- cały czas wracając uwagę na różnice miedzy Stanami i Polską.</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/2JGFxVbh89M?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/2JGFxVbh89M?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Czytaj transkrypcję poniżej!</p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2010/12/vlog-r%C3%B3%C5%BCnice-mi%C4%99dzy-stanami-i-polsk%C4%85-milwaukee-dom-rodzic%C3%B3w-i-ich-dzielnica#comments" title="Jump to the first comment of this posting.">4 comments</a></li>
<li class="node_read_more"><a href="/blog/2010/12/vlog-r%C3%B3%C5%BCnice-mi%C4%99dzy-stanami-i-polsk%C4%85-milwaukee-dom-rodzic%C3%B3w-i-ich-dzielnica" title="Read the rest of Vlog: Różnice między Stanami i Polską -- Milwaukee, dom rodziców i ich dzielnica.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2010%2F12%2Fvlog-r%25C3%25B3%25C5%25BCnice-mi%25C4%2599dzy-stanami-i-polsk%25C4%2585-milwaukee-dom-rodzic%25C3%25B3w-i-ich-dzielnica&amp;linkname=Vlog%3A%20R%C3%B3%C5%BCnice%20mi%C4%99dzy%20Stanami%20i%20Polsk%C4%85%20--%20Milwaukee%2C%20dom%20rodzic%C3%B3w%20i%20ich%20dzielnica" id="da2a_9"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-26">
<h2 class="node-title"><a href="/blog/2010/11/vlog-dzie%C5%84-dzi%C4%99kczynienia-%C5%9Bwi%C4%99ta-w-usa-w-og%C3%B3le-i-para-innych-rzeczy" title="Vlog: Dzień Dziękczynienia, święta w USA w ogóle i para innych rzeczy">Vlog: Dzień Dziękczynienia, święta w USA w ogóle i para innych rzeczy</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">27</strong> <strong class="month">Nov</strong> <strong class="year">2010</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_6 first"><a href="/tags/holidays" rel="tag" title="">holidays</a></li>
<li class="taxonomy_term_37"><a href="/tags/thanksgiving" rel="tag" title="">Thanksgiving</a></li>
<li class="taxonomy_term_32 active"><a class="active" href="/category/culture/usa" rel="tag" title="">USA</a></li>
<li class="taxonomy_term_4 last"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Dzisiaj Amerykanin mówiący po polsku rozmawia na temat Dnia Dziękczynienia, który właśnie odbył w czwartek.  Też mówi w ogóle o tym, jak się różnią sposoby do obchodzenia świąt między Amerykanów.  I na końcu, jest para innych rzeczy nie na temat, ale mam nadzieję, jeszcze ciekawa!  Zapraszam do oglądania!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/4gL5lZGHnSc?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/4gL5lZGHnSc?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Czytaj transkrypcję poniżej!</p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2010/11/vlog-dzie%C5%84-dzi%C4%99kczynienia-%C5%9Bwi%C4%99ta-w-usa-w-og%C3%B3le-i-para-innych-rzeczy#comments" title="Jump to the first comment of this posting.">7 comments</a></li>
<li class="node_read_more"><a href="/blog/2010/11/vlog-dzie%C5%84-dzi%C4%99kczynienia-%C5%9Bwi%C4%99ta-w-usa-w-og%C3%B3le-i-para-innych-rzeczy" title="Read the rest of Vlog: Dzień Dziękczynienia, święta w USA w ogóle i para innych rzeczy.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2010%2F11%2Fvlog-dzie%25C5%2584-dzi%25C4%2599kczynienia-%25C5%259Bwi%25C4%2599ta-w-usa-w-og%25C3%25B3le-i-para-innych-rzeczy&amp;linkname=Vlog%3A%20Dzie%C5%84%20Dzi%C4%99kczynienia%2C%20%C5%9Bwi%C4%99ta%20w%20USA%20w%20og%C3%B3le%20i%20para%20innych%20rzeczy" id="da2a_10"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="item-list"><ul class="pager"><li class="pager-first first"><a class="active" href="/category/culture/usa" title="Go to first page">« first</a></li>
<li class="pager-previous"><a class="active" href="/category/culture/usa" title="Go to previous page">‹ previous</a></li>
<li class="pager-item"><a class="active" href="/category/culture/usa" title="Go to page 1">1</a></li>
<li class="pager-current">2</li>
<li class="pager-item"><a class="active" href="/category/culture/usa-page-2" title="Go to page 3">3</a></li>
<li class="pager-next"><a class="active" href="/category/culture/usa-page-2" title="Go to next page">next ›</a></li>
<li class="pager-last last"><a class="active" href="/category/culture/usa-page-2" title="Go to last page">last »</a></li>
</ul></div>
