---
permalink: /category/culture/usa-page-2/
layout: base-old
title: 'USA'
language: en
translation: /category/culture/usa/
---
<div class="node node-story clear-block" id="node-24">
<h2 class="node-title"><a href="/blog/2010/11/turkey-day-isnt-the-same-for-everyone" title="Turkey Day isn't the same for everyone!">Turkey Day isn't the same for everyone!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">25</strong> <strong class="month">Nov</strong> <strong class="year">2010</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_6 first"><a href="/tags/holidays" rel="tag" title="">holidays</a></li>
<li class="taxonomy_term_37"><a href="/tags/thanksgiving" rel="tag" title="">Thanksgiving</a></li>
<li class="taxonomy_term_32 last active"><a class="active" href="/category/culture/usa" rel="tag" title="">USA</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Today is Thanksgiving!</p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/11/traditionalthanksgiving.jpg" rel="lightbox"><img alt="Table set with food." src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/11/traditionalthanksgiving.jpg" title="Photo by Ben Franske"/></a><div class="caption">Traditional Thanksgiving dinner. <a href="http://commons.wikimedia.org/wiki/File:TraditionalThanksgiving.jpg">Photo</a> by <a href="http://commons.wikimedia.org/w/index.php?title=User:BenFranske">Ben Franske</a>.</div></div>
<p>Traditionally, that means families gather together to eat a gigantic home-cooked dinner consisting of: turkey, stuffing, mashed potatoes, gravy, cranberry sauce and pumpkin pie.  Everyone eats until they can't eat anymore.  Then they play and watch American football.  Is there a more American holiday? ;-)</p>
<p>That is what every single American family will be doing tonight.  Well, in the movies at least!</p>
<p>Like all things American (and holidays in particular), they are very individual.  Celebrations vary from family to family and year to year.</p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2010/11/turkey-day-isnt-the-same-for-everyone#comments" title="Jump to the first comment of this posting.">3 comments</a></li>
<li class="node_read_more"><a href="/blog/2010/11/turkey-day-isnt-the-same-for-everyone" title="Read the rest of Turkey Day isn't the same for everyone!.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2010%2F11%2Fturkey-day-isnt-the-same-for-everyone&amp;linkname=Turkey%20Day%20isn%27t%20the%20same%20for%20everyone%21" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-13">
<h2 class="node-title"><a href="/blog/2010/11/history-veterans-day-usa" title="The History of Veterans Day (USA)">The History of Veterans Day (USA)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">11</strong> <strong class="month">Nov</strong> <strong class="year">2010</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Read this text with BiblioBird!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_6 first"><a href="/tags/holidays" rel="tag" title="">holidays</a></li>
<li class="taxonomy_term_32 active"><a class="active" href="/category/culture/usa" rel="tag" title="">USA</a></li>
<li class="taxonomy_term_38 last"><a href="/tags/veterans-day" rel="tag" title="">Veterans Day</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 126px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/11/veterans_day_2010.jpg" rel="lightbox"><img alt="Veterans Day 2010 poster." src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/11/veterans_day_2010.jpg" title="Veterans Day 2010 poster."/></a><div class="caption">Veterans Day 2010 poster.</div></div>
<p>November 11th [eleventh] is a national holiday in both America and Poland, although most people in both countries are unaware of the other's holiday!  In Poland, today is Narodowe Święto Niepodległości (<a href="http://en.wikipedia.org/wiki/Polish_Independence_Day">National Independence Day</a>).  It celebrates Poland becoming an independent state in 1918, after 123 years of not existing.  In the United States, today is <a href="http://en.wikipedia.org/wiki/Veterans_Day">Veterans Day</a>, a day to celebrate veterans of all wars.  Both holidays have their origins in World War I.</p>
<p>Watch the video about the history of Veterans Day and read the transcript below!</p>
<object height="344" width="425"><param name="movie" value="http://www.youtube.com/v/ymCa1eB_qLA?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="344" src="http://www.youtube.com/v/ymCa1eB_qLA?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="425" wmode="opaque"/></object>
<p>Read more for the transcript.</p>
</div>
<ul class="links inline"><li class="comment_add first"><a href="/comment/reply/13#comment-form" title="Add a new comment to this page.">Add new comment</a></li>
<li class="node_read_more"><a href="/blog/2010/11/history-veterans-day-usa" title="Read the rest of The History of Veterans Day (USA).">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2010%2F11%2Fhistory-veterans-day-usa&amp;linkname=The%20History%20of%20Veterans%20Day%20%28USA%29" id="da2a_2"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-10">
<h2 class="node-title"><a href="/blog/2010/11/learn-history-american-music-we-didnt-start-fire" title="Learn History with American Music: We Didn't Start The Fire">Learn History with American Music: We Didn't Start The Fire</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">9</strong> <strong class="month">Nov</strong> <strong class="year">2010</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_5 first"><a href="/tags/music" rel="tag" title="">music</a></li>
<li class="taxonomy_term_32 last active"><a class="active" href="/category/culture/usa" rel="tag" title="">USA</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 159px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/11/billyjoel_fire.jpg" rel="lightbox"><img alt="Cover of Billy Joel's album &quot;We Didn't Start The Fire&quot;" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/11/billyjoel_fire.jpg" title="Cover of Billy Joel's album &quot;We Didn't Start The Fire&quot;"/></a><div class="caption">Cover of Billy Joel's album "We Didn't Start The Fire"</div></div>
<p>In 1989, the American musician <a href="http://en.wikipedia.org/wiki/Billy_Joel">Billy Joel</a> turned forty.  Reflecting on his life, he wrote the song <a href="http://en.wikipedia.org/wiki/We_Didn't_Start_the_Fire">"We Didn't Start the Fire,"</a> which makes reference to 119 cultural and historical events that occurred during his lifetime.  Some of the things are of world importance, others pertain only to American pop culture.</p>
<p>Listen to the song and learn about all the events below!</p>
</div>
<ul class="links inline"><li class="comment_add first"><a href="/comment/reply/10#comment-form" title="Add a new comment to this page.">Add new comment</a></li>
<li class="node_read_more"><a href="/blog/2010/11/learn-history-american-music-we-didnt-start-fire" title="Read the rest of Learn History with American Music: We Didn't Start The Fire.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2010%2F11%2Flearn-history-american-music-we-didnt-start-fire&amp;linkname=Learn%20History%20with%20American%20Music%3A%20We%20Didn%27t%20Start%20The%20Fire" id="da2a_3"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-2">
<h2 class="node-title"><a href="/blog/2010/10/halloween-adults" title="Halloween for Adults!">Halloween for Adults!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">31</strong> <strong class="month">Oct</strong> <strong class="year">2010</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Read this text with BiblioBird!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_41 first"><a href="/tags/halloween" rel="tag" title="">Halloween</a></li>
<li class="taxonomy_term_6"><a href="/tags/holidays" rel="tag" title="">holidays</a></li>
<li class="taxonomy_term_32 active"><a class="active" href="/category/culture/usa" rel="tag" title="">USA</a></li>
<li class="taxonomy_term_4 last"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-left" style="float: left; width: 160px; margin: 10px 10px 10px 0"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/10/halloween-2010-01.jpg" rel="lightbox"><img alt="Adults dressed in costumes." src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/10/halloween-2010-01.jpg" title="Adults at a Halloween costume party."/></a><div class="caption">Adults at a Halloween costume party.</div></div>
<p><a href="http://en.wikipedia.org/wiki/Halloween">Halloween</a> has always been one of my favorite holidays.  Kids get to dress up as superheroes, ghosts or monsters, go door-to-door with their friends saying "Trick or Treat" and get lots of candy.  What kid wouldn't love that?  Frequently, when we were children, I dressed up as a knight with a shield and sword and my sister dressed up as a princess.</p>
<p>But Halloween isn't only for children!</p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2010/10/halloween-adults#comments" title="Jump to the first comment of this posting.">2 comments</a></li>
<li class="node_read_more"><a href="/blog/2010/10/halloween-adults" title="Read the rest of Halloween for Adults!.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2010%2F10%2Fhalloween-adults&amp;linkname=Halloween%20for%20Adults%21" id="da2a_4"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="item-list"><ul class="pager"><li class="pager-first first"><a class="active" href="/category/culture/usa" title="Go to first page">« first</a></li>
<li class="pager-previous"><a class="active" href="/category/culture/usa-page-1" title="Go to previous page">‹ previous</a></li>
<li class="pager-item"><a class="active" href="/category/culture/usa" title="Go to page 1">1</a></li>
<li class="pager-item"><a class="active" href="/category/culture/usa-page-1" title="Go to page 2">2</a></li>
<li class="pager-current last">3</li>
</ul></div>
