---
permalink: /category/culture/usa/
layout: base-old
title: 'USA'
language: en
translation: 
---
<div class="node node-story clear-block" id="node-256">
<h2 class="node-title"><a href="/blog/2013/11/what-are-you-thankful-for-happy-thanksgiving-day" title="What are you thankful for? Happy Thanksgiving Day!">What are you thankful for? Happy Thanksgiving Day!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">28</strong> <strong class="month">Nov</strong> <strong class="year">2013</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_6 first"><a href="/tags/holidays" rel="tag" title="">holidays</a></li>
<li class="taxonomy_term_37"><a href="/tags/thanksgiving" rel="tag" title="">Thanksgiving</a></li>
<li class="taxonomy_term_32 last active"><a class="active" href="/category/culture/usa" rel="tag" title="">USA</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2013/11/thanksgivingteeth.jpg" rel="lightbox"><img alt="Turkey with teeth" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2013/11/thanksgivingteeth.jpg" title="Photo by Dino Abatzidis"/></a><div class="caption"><a href="http://www.flickr.com/photos/atomicshark/3074620301/">Photo</a> by <a href="http://www.flickr.com/photos/atomicshark/">Dino Abatzidis</a></div></div>
<p>Thanksgiving is an American holiday when we get together with friends or family and remember all the things we have to be thankful for.</p>
<p>Personally, I'm most thankful for:</p>
<ul>
<li>My wife, Carrie</li>
<li>My health</li>
<li>The wonderful readers of my blog and their patience when I don't publish an article for a while :-)</li>
</ul>
<p>Sorry I haven't published anything in over a month! In October, I was traveling for work almost every week and I'm still trying to catch up on everything.</p>
<p><strong>However, I'd like to share a couple Thanksgiving related things with you that you may not have seen!</strong></p>
<ul>
<li>Three years ago, <a href="http://www.linguatrek.com/blog/2010/11/vlog-dzie%C5%84-dzi%C4%99kczynienia-%C5%9Bwi%C4%99ta-w-usa-w-og%C3%B3le-i-para-innych-rzeczy">I recorded a video about Thanksgiving in Polish</a> and <a href="http://www.linguatrek.com/blog/2010/11/turkey-day-isnt-the-same-for-everyone">wrote an article in English</a>. If you haven't been following my blog for 3 years, well, then it's new to you! ;-)</li>
<li>Here is <a href="http://www.youtube.com/watch?v=lZvtRytTUvc">a great video where you can learn some Thanksgiving vocabulary</a> in English and find out a little about the history of the holiday (there are subtitles).</li>
</ul>
<p>I hope you have a great day and thank you!</p>
<p><strong>What are you thankful for? Write a comment below!</strong></p> </div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2013/11/what-are-you-thankful-for-happy-thanksgiving-day#comments" title="Jump to the first comment of this posting.">4 comments</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2013%2F11%2Fwhat-are-you-thankful-for-happy-thanksgiving-day&amp;linkname=What%20are%20you%20thankful%20for%3F%20Happy%20Thanksgiving%20Day%21" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-246">
<h2 class="node-title"><a href="/blog/2013/02/vlog-post-office-in-the-usa" title="Vlog: Post office in the USA!">Vlog: Post office in the USA!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">26</strong> <strong class="month">Feb</strong> <strong class="year">2013</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_32 first active"><a class="active" href="/category/culture/usa" rel="tag" title="">USA</a></li>
<li class="taxonomy_term_4 last"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<p><em>(If you're a subscriber and you didn't get an e-mail about this video, it's because you didn't selected "I'm interested in ... Life in the USA and American culture" or "I'm learning ... English" in your <a href="http://www.linguatrek.com/options">subscriber options</a>.)</em></p>
<p><strong>Today we're going to take you on a short trip to the post office! You also get to to see the bus in Milwaukee and a little bit of our neighborhood.</strong></p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/7Qg_voLffvc?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/7Qg_voLffvc?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p><em>(<a href="http://www.amara.org/en/v/BeuQ/">Click here</a> to help work on the subtitles or translate them into another language!)</em></p>
<p><strong>Read more for a full transcript!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2013/02/vlog-post-office-in-the-usa#comments" title="Jump to the first comment of this posting.">13 comments</a></li>
<li class="node_read_more"><a href="/blog/2013/02/vlog-post-office-in-the-usa" title="Read the rest of Vlog: Post office in the USA!.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2013%2F02%2Fvlog-post-office-in-the-usa&amp;linkname=Vlog%3A%20Post%20office%20in%20the%20USA%21" id="da2a_2"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-239">
<h2 class="node-title"><a href="/blog/2013/02/vlog-grocery-shopping-in-the-usa" title="Vlog: Grocery shopping in the USA!">Vlog: Grocery shopping in the USA!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">5</strong> <strong class="month">Feb</strong> <strong class="year">2013</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_96 first"><a href="/tags/shopping" rel="tag" title="">shopping</a></li>
<li class="taxonomy_term_32 active"><a class="active" href="/category/culture/usa" rel="tag" title="">USA</a></li>
<li class="taxonomy_term_4 last"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<p><em>(If you're a subscriber and you didn't get an e-mail about this video, it's because you didn't selected "I'm interested in ... Life in the USA and American culture" or "I'm learning ... English" in your <a href="http://www.linguatrek.com/options">subscriber options</a>.)</em></p>
<p>As you requested in <a href="http://www.linguatrek.com/blog/2013/01/big-changes-to-my-blog-results-of-the-survey">the survey a couple weeks ago</a>, here is a video <em>in English</em> showing daily life in the USA.</p>
<p>You asked for less videos where I'm talking to the camera and more out in the world. So that's what we tried to do!</p>
<p><strong>Please let me know what you think of the video! Do you want more like this?</strong></p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/kX3Nc__0M3w?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/kX3Nc__0M3w?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p><em>(<a href="http://www.amara.org/en/videos/efRYnCKiSxcG/en/520589/#transcripts">Click here</a> to help work on the subtitles or translate them into another language!)</em></p>
<p><strong>Read more for a full transcript!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2013/02/vlog-grocery-shopping-in-the-usa#comments" title="Jump to the first comment of this posting.">47 comments</a></li>
<li class="node_read_more"><a href="/blog/2013/02/vlog-grocery-shopping-in-the-usa" title="Read the rest of Vlog: Grocery shopping in the USA!.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2013%2F02%2Fvlog-grocery-shopping-in-the-usa&amp;linkname=Vlog%3A%20Grocery%20shopping%20in%20the%20USA%21" id="da2a_3"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-165">
<h2 class="node-title"><a href="/blog/2012/06/vlog-koszty-%C5%BCycia-w-usa-mieszkanie" title="Vlog: Koszty życia w USA - Mieszkanie">Vlog: Koszty życia w USA - Mieszkanie</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">2</strong> <strong class="month">Jun</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_92 first"><a href="/tags/koszty-%C5%BCycia-w-usa" rel="tag" title="">koszty życia w USA</a></li>
<li class="taxonomy_term_32 active"><a class="active" href="/category/culture/usa" rel="tag" title="">USA</a></li>
<li class="taxonomy_term_4 last"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Ludzie ciągle pytają mnie o kosztach życia w USA. Zdecydowałem nagrać filmik o kosztach powiązanych z mieszkaniem z mojego doświadczenie w moim mieście. Jeśli spodoba Wam się, mam pomysły na inne filmiki w tej serii.</p>
<p>Równiez trochę eksperymentowałem z nagraniem w tym filmiku - czasem udało mi się, czasem nie. :-) Od razu przepraszam, że kamera tak dużo się rusza!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/yeqOQG-s7Wc?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/yeqOQG-s7Wc?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Proszę podaj mi poprawki <a href="http://lang-8.com/10069/journals/1509315/Vlog%253A-Koszty-%25C5%25BCycia-w-USA-Mieszkanie">w serwisie Lang-8</a>!</p>
<p><strong>Czytaj transkrypcję poniżej!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/06/vlog-koszty-%C5%BCycia-w-usa-mieszkanie#comments" title="Jump to the first comment of this posting.">49 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/06/vlog-koszty-%C5%BCycia-w-usa-mieszkanie" title="Read the rest of Vlog: Koszty życia w USA - Mieszkanie.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F06%2Fvlog-koszty-%25C5%25BCycia-w-usa-mieszkanie&amp;linkname=Vlog%3A%20Koszty%20%C5%BCycia%20w%20USA%20-%20Mieszkanie" id="da2a_4"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-115">
<h2 class="node-title"><a href="/blog/2012/02/vlog-spotkanie-kongresu-polonii-ameryka%C5%84skiej-i-wiza-dla-polak%C3%B3w" title="Vlog: Spotkanie Kongresu Polonii Amerykańskiej i wiza dla Polaków">Vlog: Spotkanie Kongresu Polonii Amerykańskiej i wiza dla Polaków</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">7</strong> <strong class="month">Feb</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_32 first active"><a class="active" href="/category/culture/usa" rel="tag" title="">USA</a></li>
<li class="taxonomy_term_4 last"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>W sobotę byłem na spotkaniu Kongresu Polonii Amerykańskiej. Nauczyłem się strasznie dużo na tym spotkaniu, mam o wiele więcej do powiedzenia na ten temat ale filmik już był dość długi, więc to będzie innym razem.</p>
<p>Ale pewnie najbardziej ciekawe dla Was: <strong>jesteśmy najbliżej w historii do zniesienia wizy dla Polaków!</strong></p>
<p><object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/rkvRzMhcl5s?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/rkvRzMhcl5s?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object></p>
<p>Oto jest <a href="http://www.linguatrek.com/blog/2011/12/vlog-kongres-polonii-ameryka%C5%84skiej">mój pierwszy filmik</a> na temat Kongresu.</p>
<p><strong>Czytaj transkrypcję poniżej!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/02/vlog-spotkanie-kongresu-polonii-ameryka%C5%84skiej-i-wiza-dla-polak%C3%B3w#comments" title="Jump to the first comment of this posting.">14 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/02/vlog-spotkanie-kongresu-polonii-ameryka%C5%84skiej-i-wiza-dla-polak%C3%B3w" title="Read the rest of Vlog: Spotkanie Kongresu Polonii Amerykańskiej i wiza dla Polaków.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F02%2Fvlog-spotkanie-kongresu-polonii-ameryka%25C5%2584skiej-i-wiza-dla-polak%25C3%25B3w&amp;linkname=Vlog%3A%20Spotkanie%20Kongresu%20Polonii%20Ameryka%C5%84skiej%20i%20wiza%20dla%20Polak%C3%B3w" id="da2a_5"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-106">
<h2 class="node-title"><a href="/blog/2011/12/vlog-kongres-polonii-ameryka%C5%84skiej" title="Vlog: Kongres Polonii Amerykańskiej">Vlog: Kongres Polonii Amerykańskiej</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">21</strong> <strong class="month">Dec</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_32 first active"><a class="active" href="/category/culture/usa" rel="tag" title="">USA</a></li>
<li class="taxonomy_term_4 last"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Tydzień temu spotkałem się z prezesem Kongresu Polonii Amerykańskiej w Wisconsin na kawę. W tym filmiku mówię o tym, czego się nauczyłem o tej organizacji!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/ej83Q1lqB5U?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/ej83Q1lqB5U?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Proszę podaj mi poprawki w serwisie Lang-8 <a href="http://lang-8.com/10069/journals/1235198/Vlog%253A-Kongres-Polonii-Ameryka%25C5%2584skiej">tutaj</a>.</p>
<p>Linki do więcej informacji:</p>
<ul>
<li><a href="http://www.pac1944.org/">http://www.pac1944.org/</a></li>
<li><a href="http://pacwisconsin.com/">http://pacwisconsin.com/</a></li>
</ul>
<p><strong>Czytaj transkrypcję poniżej!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/12/vlog-kongres-polonii-ameryka%C5%84skiej#comments" title="Jump to the first comment of this posting.">8 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/12/vlog-kongres-polonii-ameryka%C5%84skiej" title="Read the rest of Vlog: Kongres Polonii Amerykańskiej.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F12%2Fvlog-kongres-polonii-ameryka%25C5%2584skiej&amp;linkname=Vlog%3A%20Kongres%20Polonii%20Ameryka%C5%84skiej" id="da2a_6"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-104">
<h2 class="node-title"><a href="/blog/2011/12/unique-american-religions" title="Unique American Religions">Unique American Religions</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">7</strong> <strong class="month">Dec</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_66 first"><a href="/tags/religion" rel="tag" title="">religion</a></li>
<li class="taxonomy_term_32 last active"><a class="active" href="/category/culture/usa" rel="tag" title="">USA</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/12/church.jpg" rel="lightbox"><img alt="Inside of a church" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/12/church.jpg" title="Photo by Marc."/></a><div class="caption"><a href="http://www.flickr.com/photos/30982194@N05/3952192361">Photo</a> by <a href="http://www.flickr.com/photos/marcp_dmoz/">Marc</a>.</div></div>
<p>A few interesting religions began in the United States, including Mormonism and the Jehovah’s Witnesses.  The Amish religion did not originate in the United States, but this interesting cultural group is now only found in the U.S. (and a bit of Canada).</p>
<p>Though these three religions are very different, they are all based in the U.S., so I’ve received many questions about them from LinguaTrek readers.  All three of these religions are based in <a href=" http://en.wikipedia.org/wiki/Christianity">Christianity</a>.</p>
<p><strong>Read more to learn about these interesting religious groups!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/12/unique-american-religions#comments" title="Jump to the first comment of this posting.">12 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/12/unique-american-religions" title="Read the rest of Unique American Religions.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F12%2Funique-american-religions&amp;linkname=Unique%20American%20Religions" id="da2a_7"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-99">
<h2 class="node-title"><a href="/blog/2011/10/vlog-learning-how-to-shoot-bro%C5%84-w-usa-cz-2" title="Vlog: Learning how to shoot (Broń w USA cz. 2)">Vlog: Learning how to shoot (Broń w USA cz. 2)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">29</strong> <strong class="month">Oct</strong> <strong class="year">2011</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Read this text with BiblioBird!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_32 first active"><a class="active" href="/category/culture/usa" rel="tag" title="">USA</a></li>
<li class="taxonomy_term_4 last"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>(<em>This is the second part to an earlier vlog in Polish: <a href="http://www.linguatrek.com/blog/2011/10/vlog-bro%C5%84-w-usa-cz%C4%99%C5%9B%C4%87-1">Broń w USA</a>.</em>)</p>
<p>Along with another couple my wife and I went to the shooting range to learn how to shoot pistols.</p>
<p>It <em>isn't necessary</em> to take a course in order to go out on the range and shoot for the first time, but we felt it was more responsible to learn how to use a gun safely.</p>
<p>Watch the video for clips from the course and on the shooting range!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/LxCCbmxVTt4?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/LxCCbmxVTt4?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p><strong>Read more for a transcript (<em>with Polish translations!</em>)</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/10/vlog-learning-how-to-shoot-bro%C5%84-w-usa-cz-2#comments" title="Jump to the first comment of this posting.">11 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/10/vlog-learning-how-to-shoot-bro%C5%84-w-usa-cz-2" title="Read the rest of Vlog: Learning how to shoot (Broń w USA cz. 2).">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F10%2Fvlog-learning-how-to-shoot-bro%25C5%2584-w-usa-cz-2&amp;linkname=Vlog%3A%20Learning%20how%20to%20shoot%20%28Bro%C5%84%20w%20USA%20cz.%202%29" id="da2a_8"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-97">
<h2 class="node-title"><a href="/blog/2011/10/vlog-bro%C5%84-w-usa-cz%C4%99%C5%9B%C4%87-1" title="Vlog: Broń w USA (cz. 1)">Vlog: Broń w USA (cz. 1)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">25</strong> <strong class="month">Oct</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_32 first active"><a class="active" href="/category/culture/usa" rel="tag" title="">USA</a></li>
<li class="taxonomy_term_4 last"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Dzisiaj mówię na temat broni w Stanach Zjednoczonych: zasady dotyczące jej kupowania i noszenia ze sobą w moim stanie, Wisconsin.</p>
<p>W sobotę opublikuję filmik, w którym z żoną i inną parą pojechaliśmy na strzelnicę, żeby uczyć się jak strzelać z pistoletu!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/kXIsszsUnTo?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/kXIsszsUnTo?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Proszę podaj mi poprawki do tego filmiku <a href="http://lang-8.com/10069/journals/1155512/Bro%25C5%2584-palna-w-USA">w serwisie Lang-8</a>.</p>
<p><strong>Czytaj transkrypcję poniżej!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/10/vlog-bro%C5%84-w-usa-cz%C4%99%C5%9B%C4%87-1#comments" title="Jump to the first comment of this posting.">6 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/10/vlog-bro%C5%84-w-usa-cz%C4%99%C5%9B%C4%87-1" title="Read the rest of Vlog: Broń w USA (cz. 1).">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F10%2Fvlog-bro%25C5%2584-w-usa-cz%25C4%2599%25C5%259B%25C4%2587-1&amp;linkname=Vlog%3A%20Bro%C5%84%20w%20USA%20%28cz.%201%29" id="da2a_9"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-94">
<h2 class="node-title"><a href="/blog/2011/10/american-stereotypes-americans-are-fat" title="American Stereotypes: Americans are fat">American Stereotypes: Americans are fat</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">11</strong> <strong class="month">Oct</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_20 first"><a href="/tags/american-stereotypes" rel="tag" title="">American Stereotypes</a></li>
<li class="taxonomy_term_32 last active"><a class="active" href="/category/culture/usa" rel="tag" title="">USA</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/09/cheeseburger.jpg" rel="lightbox"><img alt="A cheeseburger" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/09/cheeseburger.jpg" title="Photo by Christian Kadluba"/></a><div class="caption"><a href="http://www.flickr.com/photos/38235150@N00/2919144729">Photo</a> by <a href="http://www.flickr.com/people/pokpok/">Christian Kadluba</a></div></div>
<p><strong>This is the second installment in a new series of articles called "<a href="http://www.linguatrek.com/tags/american-stereotypes">American Stereotypes</a>," which explores stereotypes about Americans.  Today's topic is: Americans are fat.</strong></p>
<p>"Americans are fat" is a pretty common stereotype.  Often, the view isn't that Americans are just slightly overweight, but rather that <em>most</em> Americans are downright morbidly obese!  Just do a Google image search for <em>fat American</em> if you don't believe me. ;-)</p>
<p>As with many stereotypes, there is <em>some</em> truth behind it.</p>
<p><strong>Read more to learn about this stereotype!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/10/american-stereotypes-americans-are-fat#comments" title="Jump to the first comment of this posting.">6 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/10/american-stereotypes-americans-are-fat" title="Read the rest of American Stereotypes: Americans are fat.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F10%2Famerican-stereotypes-americans-are-fat&amp;linkname=American%20Stereotypes%3A%20Americans%20are%20fat" id="da2a_10"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="item-list"><ul class="pager"><li class="pager-current first">1</li>
<li class="pager-item"><a class="active" href="/category/culture/usa-page-1" title="Go to page 2">2</a></li>
<li class="pager-item"><a class="active" href="/category/culture/usa-page-2" title="Go to page 3">3</a></li>
<li class="pager-next"><a class="active" href="/category/culture/usa-page-1" title="Go to next page">next ›</a></li>
<li class="pager-last last"><a class="active" href="/category/culture/usa-page-2" title="Go to last page">last »</a></li>
</ul></div>
