---
permalink: /blog/2012/07/are-you-getting-too-many-e-mails-from-me-new-subscriber-options/
layout: blog-old
title: 'Are you getting too many e-mails from me? New subscriber options!'
day: 5
month: Jul
year: 2012
category: LinguaTrek
tags: [ ]
language: en
translation: /blog/2012/07/czy-dostajesz-za-du%C5%BCo-maili-ode-mnie-s%C4%85-nowe-opcje-dla-subskrybent%C3%B3w/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 152px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/07/angrymail.jpg" rel="lightbox"><img alt="" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/07/angrymail.jpg" title="Photo by D. Sharon Pruitt"/></a><div class="caption"><a href="http://www.flickr.com/photos/pinksherbet/2927494753/">Photo</a> by <a href="http://www.flickr.com/photos/pinksherbet/">D. Sharon Pruitt</a></div></div>
<p>It's recently come to my attention that many people feel that I'm sending too many e-mails to subscribers of this blog. Up until now, an e-mail would get sent for every article I write, on the day I write it.</p>
<p>This became particularly apparent during the <a href="http://www.linguatrek.com/blog/2012/06/buy-our-product-to-help-us-create-it-our-dream-is-sooo-close">presale</a> because many people are only interested in language learning advice and cultural information - not Bibliobird, the presale, or other "personal" articles.</p>
<p><em>(BTW, the presale's going great! I haven't written anything about it recently because I needed to solve this problem first. I'll write something in a few days after people have a chance to update their subscriber options.)</em></p>
<p>So, I'm adding new subscriber options, which will allow you to:</p>
<ul>
<li><strong>Only receive e-mails for articles that have to do with language learning or cultural information.</strong></li>
<li><strong>Receive only a weekly digest of articles - rather than getting an e-mail for every article I write.</strong> I tend to write 1-2 articles a week.</li>
</ul>
<p>If you are a subscriber of this blog and wish to change your options, <a href="http://www.linguatrek.com/options">click here</a> and enter your e-mail address.</p>
<p><strong>It is not my intention to send spam!</strong> If you're a subscriber and you're no longer interested in my blog, you can use <a href="http://linguatrek.us2.list-manage.com/unsubscribe?u=6b5f39a01108c2e0115b129fb&amp;id=490d27bd0c">this link</a> to unsubscribe.  If you have any problems, you can reply to any of the e-mails I've sent you or use the <a href="http://www.linguatrek.com/contact">contact form</a> and I'll help you.</p>
<p><strong>Thanks and sorry for the inconvenience!</strong></p>
</div>

<div id="comments">

</div>
