---
permalink: /blog/2012/07/bibliobird-presale-is-a-success-216-whats-next/
layout: blog-old
title: 'Bibliobird presale is a success! 216%! What''s next?'
day: 17
month: Jul
year: 2012
category: personal
tags: 
  - 'BiblioBird'
  - 'PolakPotrafi.pl'
language: en
translation: /blog/2012/07/przedsprzeda%C5%BC-bibliobirda-jest-udana-216-co-dalej/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/07/polakpotrafiend_0.png" rel="lightbox"><img alt="" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/07/polakpotrafiend_0.png" title=""/></a></div>
<p><em>Wow. I can't believe this is actually happening!</em></p>
<p>A year and a half ago <a href="http://www.linguatrek.com/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego">we launched</a> <a href="http://www.bibliobird.com">Bibliobird</a>, a free and Open Source web application for language learning based on the method that I used to learn Polish.</p>
<p>Since then it has become successful enough that it takes up all of our free time to maintain it.  It's clear that this idea has a lot of promise: many Poles have used it to make breakthroughs with their English!</p>
<p>We realized, however, that if it's going to ever reach it's full potential, we needed to devote more time and resources to it. Except we were already out of those things! Which is why we decided to create and sell some paid texts for Bibliobird to support our work on the project.</p>
<p><em>If we are successful, we'll be able to achieve <a href="http://www.linguatrek.com/blog/2012/03/why-i-almost-shut-down-linguatrek-and-bibliobird-and-our-big-dream">our dream</a> of working full-time to help people learn languages!</em></p>
<p>Three weeks ago, we launched our <a href="http://polakpotrafi.pl/projekt/Bibliobird/">crowdfunding campaign on PolakPotrafi.pl</a> to <a href="http://www.linguatrek.com/blog/2012/06/my-next-big-project-after-the-ebook">presell</a> the <a href="http://www.linguatrek.com/blog/2012/06/finally-our-full-product-idea-i-need-your-help-with-the-price">first package of paid texts</a> and to build a group of enthusiastic <em>founding members</em> to help us build and test it as well as all of our future products.</p>
<p><strong>The crowdfunding project was an unbelievable success!</strong></p>
<p>We reached our first goal of 10,000 PLN (about $2900) in only two days!  As of last night when the project closed, we reached <strong>21,585 PLN</strong> (about $6340), <strong>216%</strong> of the original goal (which means I'll be <a href="http://www.linguatrek.com/blog/2012/07/thank-you-if-we-get-200-ill-shave-off-my-beard">shaving off my beard</a>!) with <strong>210 supporters.</strong></p>
<p><strong>Thanks so much for all your support! I never could have imagined that it would go so well.</strong></p>
<p>Today I'm going to tell you what is going to happen next, including: when I'm going to shave my beard, when you'll receive your postcards, when we think the first product will be ready, etc...</p>
<p><strong>Read more to find out!</strong></p>
<h2>My beard</h2>
<div class="diag align-right" style="float: right; width: 120px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/07/mybeardandi_0.jpg" rel="lightbox"><img alt="My beard and I" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/07/mybeardandi_0.jpg" title=""/></a></div>
<p>First things first: my poor beard. ;-)</p>
<p><a href="http://www.linguatrek.com/blog/2012/07/thank-you-if-we-get-200-ill-shave-off-my-beard">I said</a> that if we reach 200% of our goal, I'd shave off my beard and record a video of it - so it's time to say good bye to the beard! If you liked it - don't worry - I intend to grow it back. :-)</p>
<p>I'm planning to record the video a little later in the week and hopefully publish it this weekend.</p>
<h2>E-mails, "thank yous" and postcards</h2>
<p>Everyone who contributed to the project will receive an e-mail asking them about the "rewards" they chose on PolakPotrafi.</p>
<p>For example, we'll ask you if you'd like to be thanked and under what name. If you're supposed to receive a postcard, we'll ask you for your mailing address. And so on.</p>
<p>The e-mail will be coming from Karolina Enerlich (karolina.enerlich <em>at</em> lingwo <em>dot</em> biz), who is helping me gather this information so I that can focus on more important tasks.</p>
<p>I'm hoping to post the "thank yous" and send all the postcards this week!</p>
<h2>Important dates</h2>
<p>We're planning to start work on "Real Life in the USA," our first paid package, on <strong>August 6th</strong>.  We're hoping to finish it in <strong>4-6 weeks</strong>.</p>
<p>Founding members will have access to each text as we create them.  Everyone else who bought the package will need to wait until the whole thing is finished (but you will get updates on our progress here and on PolakPotrafi).</p>
<p>We'll start doing the weekly meetings once the product is available for general sale. This will hopefully be the same time we finish creating the package but may be shortly after.</p>
<p>Creating the package is going to be a really intense process and I haven't had much time off of work in months. So, Carrie and I will be taking a vacation from <strong>July 29th to August 5th</strong> in order to be rested and ready for all the work ahead.</p>
<h2>Webinar</h2>
<p>I haven't decided exactly when the webinar is going to be held, but it will be <em>after</em> we finish creating "Real Life in the USA." Right now it is the most important thing and we can't afford any distractions. We need to focus on making it the BEST possible product!</p>
<p>My plan is for the webinar to be an extension of my <a href="http://www.linguatrek.com/blog/2012/04/natural-language-learning-without-a-teacher">free ebook</a>. So, it will assume that you've already read the ebook and will cover topics <em>beyond</em> those in the ebook or in greater detail.</p>
<p>If you're coming to the webinar, I highly recommend reading the ebook first! Remember, founding members also get access to the webinar.</p>
<p>I intend to do the English version first. So, if you're learning English you can try attending it and come again to the Polish version if you were unable to understand it well enough.</p>
<h2>Founding members</h2>
<p>In the e-mail to founding members, we'll be asking you for your Bibliobird username. We'll be putting your <a href="http://www.linguatrek.com/blog/2012/06/presale-at-94-more-opportunities-to-become-a-founding-member#status">founding member badge and founder number</a> on your profile as soon as possible - definitely before the end of the week.</p>
<p>I'm still trying to figure out the best way for the founding members to collaborate going forward. I'm thinking maybe a Google Group or a private forum on Bibliobird? In any case, I'll figure it out and let you all know by next week.</p>
<p>While we're working on "Real Life in the USA," we'll be sending you information about our progress, plans for the next texts and finished texts and exercises to test. We need your help making sure that the package is of the HIGHEST quality!</p>
<h2>Final thoughts</h2>
<p><em>It's really an exciting and amazing time that we live in!</em></p>
<p>I'm just a normal person who learned a foreign language. But through the magic of YouTube, blogging, the internet, Open Source, sites like Wykop and JoeMonster, crowdfunding, etc - this has grown into something much greater than I'd otherwise be capable of on my own.</p>
<p>In the past, you'd have to spend money on advertising to reach this many people. These days you can focus on creating something entertaining or interesting that has value and people will share it with each other. I imagine that one day Bibliobird will also do traditional advertising - but we can get amazingly far just by working together.</p>
<p>Only a few years ago, the only way to raise money was to pitch investors, apply for grants or take on debt. Crowdfunding is really changing the game.</p>
<p>Today, you can accomplish <em>almost anything</em> - and you don't need to be rich or have the resources of a big company.</p>
<p>Anyway, I'd better stop there. :-) We're only at very the beginning so it's too early call this project a success. But we've already accomplished much more than I originally thought was possible! And that's worth celebrating.</p>
<p><strong>Thanks again for all your support! I couldn't (and can't do it) without you!</strong></p>
</div>

<div id="comments">
<a id="comment-2729"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://howlearnspanish.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/378451a8d6aab6e56c0caa50495bd976?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Again, much congratulations, it sounds like there have actually been several years worth of work (building your site and building up the content, building up readership and subscribers, etc.) ultimately going into this.</p>
<p>All you have to do is make the product kick ass, specifically make it better than what people were expecting (always under-promise and over-deliver, right? old saying, and very true) and word of mouth will take care of it from there.</p>
<p>Cheers,<br/>
Andrew</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/189/2729">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://howlearnspanish.com" rel="nofollow">Andrew</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/bibliobird-presale-is-a-success-216-whats-next#comment-2729">Tuesday, July 17, 2012 - 14:24</a></span>
</div>
</div>
<div class="indented"><a id="comment-2747"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks, Andrew!</p>
<p>Yeah, that will be the next big challenge and I'm actually looking forward to it. I've been doing soooo much marketing lately that it's going to be great to sit down and really focus on creating something. :-)</p>
<p>Unfortunately, I've been planning this so openly, it's going to be hard to OVER-deliver. ;-) But I think we'll be able to deliver spot on.</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/189/2747">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/bibliobird-presale-is-a-success-216-whats-next#comment-2747">Thursday, July 19, 2012 - 12:46</a></span>
</div>
</div>
</div><a id="comment-2755"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/07/vlog-shaving-off-my-beard" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] "thank yous" but unfortunately, more than half of the supporters still haven't responded to Karolina's e-mail! You need to respond in order to get your "thank you", postcard or badge on your [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/189/2755">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/07/vlog-shaving-off-my-beard" rel="nofollow">Vlog: Shaving off my beard! | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/bibliobird-presale-is-a-success-216-whats-next#comment-2755">Saturday, July 21, 2012 - 08:54</a></span>
</div>
</div>
</div>
