---
permalink: /blog/2012/07/czy-ta-książka-piosenka-lub-ekranizacja-jest-za-trudna/
layout: blog-old
title: 'Czy ta książka, piosenka lub ekranizacja jest za trudna?'
day: 24
month: Jul
year: 2012
category: language learning
tags: 
  - 'finding content'
  - 'motivation'
language: en
translation: /blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/07/selfawareness.jpg" rel="lightbox"><img alt="" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/07/selfawareness.jpg" title="Zdjęcie autorstwa Yannis"/></a><div class="caption"><a href="http://www.flickr.com/photos/8291053@N08/3192165661">Zdjęcie</a> autorstwa <a href="http://www.flickr.com/photos/yannisag/">Yannis</a></div></div>
<p>Czytanie książek, oglądanie filmów czy słuchanie muzyki w obcym języku to świetny sposób na jego naukę! Właściwie, jest to podstawa metody, której sam użyłem, aby nauczyć się języka polskiego (<a href="http://www.linguatrek.com/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego">czytałem i słuchałem książek Harry'ego Pottera</a> po polsku).</p>
<p><strong><a href="http://www.linguatrek.com/blog/2011/01/how-to-pick-your-first-book-to-read-in-a-foreign-language">Wybór odpowiednich materiałów</a> jest trudny.</strong> <em> (Poświęciłem temu tematowi około 15 stron w swoim <a href="http://www.linguatrek.com/blog/2012/04/vlog-naturalna-nauka-j%C4%99zyka-bez-nauczyciela">DARMOWYM ebooku</a>.)</em></p>
<p>Najtrudniejszą częścią - obok znajdowania czegoś, co Cię zainteresuje (a to bardzo osobista decyzja) - jest dobranie materiałów na odpowiednim poziomie.</p>
<p>Idealnie byłoby znaleźć coś <em>tuż ponad</em> Twoim obecnym poziomem językowym. Jeśli tekst będzie zbyt łatwy - nie nauczysz się niczego nowego. Chociaż materiały, które są lekko poniżej lub dokładnie na Twoim poziomie, też są całkiem pomocne!</p>
<p><strong>Tak czy siak, jeśli to jedna z pierwszych książek/piosenek/ekranizacji, które czytasz/słuchasz/oglądasz, i tak nie będzie łatwo!</strong></p>
<p>Odpowiednie pytanie brzmi: <em>Czy nie jest ZBYT trudno?</em></p>
<p><strong>Przeczytaj więcej, aby dowiedzieć się, po czym to poznać!</strong></p>
<h2>Będzie trudno!</h2>
<p>Kiedy zaczynałem czytać "Harry’ego Pottera" po polsku, mój poziom językowy był niski. <em>I mam na myśli naprawdę niski!</em></p>
<p>Przekopałem się przez tony wiedzy gramatycznej. Jednak znałem bardzo mało słówek, nie rozumiałem większości z tego, co do mnie mówią i zdecydowanie nie dałbym rady odbyć normalnej rozmowy.</p>
<p><strong>Ta książka nie była "tuż ponad" moim poziomem - była <em>zdecydowanie</em> ponad nim!</strong></p>
<p>Na początku znajdowałem 20-40 nieznanych słówek <em>na każdej stronie.</em></p>
<p>Ale mimo tego okazała się dla mnie znakomitym wyborem. Chociaż dla kogoś innego - <em>na dokładnie tym samym poziomie</em> - może okazać się wyborem fatalnym!</p>
<p>Sęk w tym, że liczy się o wiele więcej niż tylko Twój obecny poziom językowy.</p>
<h2>Motywacja</h2>
<p><a href="http://www.linguatrek.com/blog/2011/03/the-three-ingredients-for-successful-language-learning">Trzy składniki</a> nauki języka to: czas, motywacja oraz efektywna metoda.</p>
<p>Dużo czasu spędzamy na rozmowach o odnalezieniu efektywnej metody. Ale nie ma to sensu, jeśli brak Ci motywacji!</p>
<p><strong>Tak, jak napisałem w swoim ebooku - niski poziom umiejętności językowych możesz nadrobić wysoką motywacją.</strong></p>
<p>Dlatego właśnie wybór czegoś, co będzie dla Ciebie interesujące, jest <em>taaaki ważny.</em> Mimo, że jestem już na nie za stary, uwielbiam książki o Harrym Potterze. :-) Jeśli wybrałbym coś, co uważałbym za nudne, albo po prostu w porządku, w życiu nie przeczytałbym książki będącej tak wysoko ponad moim poziomem. Prawdopodobnie poddałbym się, bo byłoby za trudno.</p>
<p><strong>Pamiętaj: <em>jedyny sposób, aby nie odnieść sukcesu w nauce języka to poddać się!</em></strong></p>
<h2>Po czym stwierdzić, że jest <em>zbyt</em> trudno?</h2>
<p>Nauka języka jest kwestią o wiele bardziej osobistą niż zdobywanie większości innych umiejętności. Twoja psychika, emocje oraz pewność siebie odgrywają tu olbrzymią rolę.</p>
<p>Nie wydaje mi się, żeby można było powiedzieć to samo o nauce matematyki, wyplatania koszy czy gry w piłkę nożną. :-)</p>
<p>Dlatego właśnie <em>samoświadomość</em> jest tak istotna w nauce języka. Musisz być całkowicie świadom, co myślisz i czujesz o danym języku <em>oraz wybranej metodzie.</em></p>
<p><strong>Jedyny sposób, aby poznać czy coś jest za trudne, to spróbować to przeczytać/obejrzeć/wysłuchać, a następnie zadać sobie pytanie: czy trudność tekstu zmniejsza moją motywację? Jeśli odpowiedź brzmi "tak" - jest za trudno!</strong></p>
<p>Musisz to zauważyć i zmienić tak wcześnie jak się tylko da. Im dłużej będziesz robić coś, co Cię zniechęca, tym bardziej ryzykujesz wyczerpaniem swojej motywacji i ewentualnym poddaniem się.</p>
<p>"Poziom idealny" to taki tuż ponad Twoim obecnym, ale może się okazać, że potrzebujesz czegoś łatwiejszego. Ewentualnie, znaleźć coś, co motywuje Cię tak silnie, że poziom przestanie być problemem. Ale to nie poziom trudności, tylko Twoja motywacja jest najważniejsza.</p>
<p><strong>Co o tym myślisz? Próbowałeś czytać, oglądać lub słuchać czegoś, co było za trudne? Po czym to poznałeś? Napisz komentarz poniżej!</strong></p>
</div>

<div id="comments">
<a id="comment-2778"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d0ec7dbdd1ead7fb16d8425d4b95d09d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Moje zmagania z "Ulyssesem" to potwierdzają Twoje słowa. Przy mojej znajomości języka książka jest po prostu zbyt trudna, a przez to nudna. Chociaż przyznam, że po to właśnie ją wybrałem, żeby było ciężko. :-) Ponadto straciłem zaufanie do polskiego tłumaczenia tej powieści. Nie wiem, czy tłumacz tak ambitnie zinterpretował sens rzadko spotykanych słów, czy po prostu nie miał dobrego słownika i improwizował. Napisałem Ci zresztą o tym kiedyś w bardzo długim e-mailu. Na przykład słowo "dogsbody" w polskim tłumaczeniu widnieje jako "psia dusza", "psia morda", chociaż słowniki wskazują, że oznacza to "chłopiec na posyłki". Wydaje się jednak, że nie znał tego słowa i próbował je wpasować w kontekst.<br/>
Ciekawi mnie zresztą, czy kiedykolwiek spotkałeś się z takim słowem jak "dogsbody".<br/>
Cóż, będę powoli próbował skończyć tę książkę, bo nie lubię porzucać raz rozpoczętej pracy.</p>
<p>Pozdrawiam!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/194/2778">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kamil (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna#comment-2778">Tuesday, July 24, 2012 - 11:03</a></span>
</div>
</div>
<div class="indented"><a id="comment-2805"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Kamil!</p>
<p>Dzięki za podzielenie się Twoim doświadczeniem z Ulyssesem. :-) No, spróbuj ją skończyć, jeśli naprawdę chcesz, ale uważaj na swoją motywację! Jest o wiele gorzej stracić motywacji na dalszą naukę niż porzucić jakąś książkę.</p>
<p>Nigdy nie spotykałem słowa "dogsbody"! Ale słownik potwierdza, że oznacza to "chłopiec na posyłki". Nie znam kontekstu, w którym jest używane, ale może to słowo miało inne znaczenie w przeszłości? Ale również zawsze są błędy w tłumaczeniach.</p>
<p>Życzę wytrwałości w nauce!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/194/2805">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna#comment-2805">Friday, July 27, 2012 - 07:19</a></span>
</div>
</div>
<div class="indented"><a id="comment-2812"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d0ec7dbdd1ead7fb16d8425d4b95d09d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Masz rację, znacznie gorzej jest stracić motywację. Tak jak wielokrotnie podkreślałeś, treść powinna być interesująca, a nawet fascynująca. Wtedy pokonywanie bariery językowej i poznawanie języka nie stanie się celem samym w sobie, a jedynie przeszkodą utrudniającą pełne poznanie przekazu.</p>
<p>Pozdrawiam!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/194/2812">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kamil (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna#comment-2812">Friday, July 27, 2012 - 07:51</a></span>
</div>
</div>
</div></div><a id="comment-2784"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/651f1ae03e808871b678d255e639f8e4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Google Tłumacz faktycznie nie podaje tłumaczenia ale już <a href="http://www.diki.pl/" title="http://www.diki.pl/">http://www.diki.pl/</a> Tłumaczy to słowo bez problemu.</p>
<p>Pozdrawiam</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/194/2784">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">nikto (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna#comment-2784">Tuesday, July 24, 2012 - 22:14</a></span>
</div>
</div>
<a id="comment-2791"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/71b987f6afb839ca2213de44b568e846?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Zainspirowany obejrzeniem kilku filmów po angielsku bez napisów chciałem obejrzeć Monty Python and the Holy Grail. Niestety powszechne tam słownictwo sprawiało, że nie rozumiałem praktycznie ani słowa :) lecz pewien jestem, że prędzej czy później uda mi się obejrzeć i ten film!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/194/2791">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">neentendo (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna#comment-2791">Thursday, July 26, 2012 - 00:42</a></span>
</div>
</div>
<div class="indented"><a id="comment-2806"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Aaaa, taaak. :-) Komedia jest naprawdę trudna w obcym języku. Sam zrezygnowałem z kilku książek po polsku bo było zbyt dużo żartów, których wcale nie zrozumiałem. Tak było z książkami Stanisława Lema.</p>
<p>Ale na pewno kiedyś będziesz w stanie obejrzeć ten film - i sam będę w stanie przeczytać Lema. ;-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/194/2806">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna#comment-2806">Friday, July 27, 2012 - 07:22</a></span>
</div>
</div>
<div class="indented"><a id="comment-2811"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d0ec7dbdd1ead7fb16d8425d4b95d09d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Wiele książek Lema obfituje w zabawy słowne, praktycznie nieprzetłumaczalne na inne języki, ale takie książki jak "Solaris", "Niezwyciężony" czy "Śledztwo" możesz spokojnie spróbować przeczytać.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/194/2811">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kamil (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna#comment-2811">Friday, July 27, 2012 - 07:43</a></span>
</div>
</div>
</div></div><a id="comment-2796"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c0788160771c61aeba58eef4b3d2dfd7?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>witam, mam pytanie odnośnie książki Harrego Pottera. Mam zamiar kupić książkę przez allegro lecz nie wiem czy treść będzie ta sama jak w innych wersjach (inna oprawa﻿ książki). Nie stać mnie na większy wydatek (16 lat) więc kombinuję tak, że książkę kupię, a audiobook pobiorę z internetu. Jeśli ktoś się orientuje, proszę odpowiedzieć. Z góry dziękuję.=)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/194/2796">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">ismrider (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna#comment-2796">Thursday, July 26, 2012 - 13:36</a></span>
</div>
</div>
<div class="indented"><a id="comment-2807"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć!</p>
<p>Wersja opublikowana w USA jest inna niż oryginalna wersja. Ale myślę, że tylko jest te dwie wersje po angielsku. Więc tylko musisz upewnić się, że i książka i audiobook są z USA albo z UK.</p>
<p>Mam nadzieję, że to pomoże!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/194/2807">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna#comment-2807">Friday, July 27, 2012 - 07:25</a></span>
</div>
</div>
</div><a id="comment-2797"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d0ec7dbdd1ead7fb16d8425d4b95d09d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Właśnie przed chwilą otrzymałem od Carrie i Davida kartkę z Ameryki. To bardzo miłe, warto było dołożyć cegiełkę do tego projektu chociażby dla tej pocztówki.</p>
<p>Pozdrawiam!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/194/2797">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kamil (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna#comment-2797">Friday, July 27, 2012 - 03:15</a></span>
</div>
</div>
<div class="indented"><a id="comment-2808"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Kamil!</p>
<p>To fajnie że pocztówka pomyślnie doszła do Ciebie! Bardzo się cieszę, że Ci się podoba. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/194/2808">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna#comment-2808">Friday, July 27, 2012 - 07:26</a></span>
</div>
</div>
</div><a id="comment-2814"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f8940f88e38bd89bb466914e236cf82d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Zacząłem z Harrym Potterem i zobaczymy, czy coś z tego wyjdzie.<br/>
Mam jeszcze pytanie - gramatyki uczę się w szkole, ale program jest dla mnie bardzo łatwy i jestem szybszy niż pozostali. Chcę umieć więcej, więc mam ochotę poznać kolejny czas. Mam w domu książkę do nauki angielskiego, ale jest ona w całości po angielsku. Teoria także. Czy nauka teorii po angielsku może być owocna, czy nie opłaca się tego robić?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/194/2814">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">MC97 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna#comment-2814">Friday, July 27, 2012 - 11:48</a></span>
</div>
</div>
<div class="indented"><a id="comment-2818"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Nauka gramatyki może być pożyteczna! Napisałem artykuł o tym (po angielsku):</p>
<p><a href="http://www.linguatrek.com/blog/2011/08/what-is-grammar-good-for" title="http://www.linguatrek.com/blog/2011/08/what-is-grammar-good-for">http://www.linguatrek.com/blog/2011/08/what-is-grammar-good-for</a></p>
<p>Mam nadzieję, że to odpowie na Twoje pytanie!</p>
<p>Pozdrawiam serdecznie,<br/>
David Snopek.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/194/2818">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna#comment-2818">Saturday, July 28, 2012 - 06:44</a></span>
</div>
</div>
</div><a id="comment-2821"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4893fce1ed68e7bf1cdf34e756d2e760?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Czy mógłbyś Davidzie poradzić jak uczyć się języka informatycznego? Chciałabym uczyć się programowania, a wiadomo, że większość materiałów, dokumentacja jest po angielsku. Stosować taką technikę jak z Harrym Potterem? Wiadomo z góry, iż audiobook'a tu nie będzie. Drukować sobie tutoriale, a potem je tłumaczyć? ;/ Jestem w kropce. Nie ma tutaj historii jak w przypadku czytania książki, także efektywność byłaby tu duuużo mniejsza :/.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/194/2821">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Karmelowa (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna#comment-2821">Sunday, July 29, 2012 - 23:02</a></span>
</div>
</div>
<div class="indented"><a id="comment-2823"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://tomasz.jadowski.net" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3cdbaa2914c95444fc7968fe42ddfa2b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Myślę, że pomocne byłoby czytanie:</p>
<p>1) blogów<br/>
2) książek informatycznych<br/>
3) Wikipedii</p>
<p>A przede wszystkim nie tłumaczyć. Informatyka jest na tyle młodą i dynamiczną dziedziną, że większości terminów nie ma w słowniku lub mają zupełnie inne w nim znaczenie.</p>
<p>Jak więc sobie radzić gdy się napotka nieznany termin?<br/>
Są dwa sposoby: 1) googlać 2) - lepszy - korzystać z angielskiej Wikipedii.</p>
<p>Szczególnie polecam Wikipedię, każdy ważny termin, oprogramowanie lub technika programistyczna jest tam opisana, bardziej lub mniej szczegółowo, ale zawsze są odnośniki do innych źródeł. Polecam więc Wikipedię zamiast słownika i dużo blogów i książek na interesujące Cię tematy.</p>
<p>A co do audio to nie masz racji, jest sporo np podcastów informatycznych (polecam <a href="http://devhell.info" title="http://devhell.info">http://devhell.info</a> jeśli interesuje Cię Webdeveloping). Warto ich słuchać choćby żeby zaznajomić się jak wymawiać te wszystkie terminy i nazwy technologii :-)</p>
<p>Pozdrawiam<br/>
Tomek</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/194/2823">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://tomasz.jadowski.net" rel="nofollow">TomFromPoland</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna#comment-2823">Monday, July 30, 2012 - 02:46</a></span>
</div>
</div>
<a id="comment-2843"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć!</p>
<p>Zgadzam się z Tomem: Wikipedia jest lepszym źródłem znaczenia od słownika i jeśli chodzi o nagranie dźwiękowe, jest DUŻO podkastów o programowaniu. Właśnie z tego powodu polecam, że skupisz się na podkastach.  W moim darmowym ebooku opisuję jak możesz używać mojej metody z podkastami zamiast audiobooków.</p>
<p>Mam nadzieję, że to pomoże!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/194/2843">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna#comment-2843">Monday, August 6, 2012 - 10:29</a></span>
</div>
</div>
</div><a id="comment-2824"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4893fce1ed68e7bf1cdf34e756d2e760?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Dziękuję za wyczerpującą i pomocną odpowiedź : )</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/194/2824">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Karmelowa (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna#comment-2824">Monday, July 30, 2012 - 03:11</a></span>
</div>
</div>
<a id="comment-2833"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/df7a7f65aacde23289cc65fa70e040ac?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Moim zdaniem najtrudniejsze są nazwy własne, które tłumaczone są w taki a nie inny sposób. Weźmy przykład Harry'ego Pottera. Hermoina stworzyła stowarzyszenie "Walka o Emancypację Skrzatów Zniewolonych" (WESZ), która w angielskiej wersji brzmiała SPEW (rozwinąć tego skrótu nie potrafię). Zwróćmy uwagę jak różne są to słowa - "spew" nie oznacza "wesz" lecz "wymiotować", a "wesz" w języku angielskim to "louse". Tłumacz, który przełożył Harry'ego na język polski wyjaśnił to na końcu w "krótkim poradniku dla dociekliwych" i bardzo dobrze, że tak zrobił ; ) To tylko jeden z wielu przykładów takich ciekawostek. Harry był tłumaczony z angielskiego na polski więc takie "poradniki" od tłumacza są pomocne zwłaszcza dla tych co uczą się polskiego. Dobrze zatem w naszym przypadku gdzie uczymy się angielskiego znaleźć książkę  napisaną w języku polskim a przetłumaczoną na angielski, wówczas jest też szansa na to, że takie pomocne wskazówki się znajdą a taką książkę jest chyba ciężko znaleźć. Mam nadzieję, że dość zrozumiale przedstawiłem to co mam na myśli. Pozdrawiam serdecznie, Daniel.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/194/2833">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Daniel (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna#comment-2833">Thursday, August 2, 2012 - 07:06</a></span>
</div>
</div>
<div class="indented"><a id="comment-2844"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Zgadza się! Nigdy nie czytałem Harry'ego Pottera po angielsku więc takie uwagi od tłumacza były nawet pomocne dla mnie. ;-) Dzięki za komentarz!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/194/2844">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna#comment-2844">Monday, August 6, 2012 - 10:31</a></span>
</div>
</div>
</div><a id="comment-2838"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/48261a5ef8ba4109024051191be2c920?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Mobilizuje mnie pan do nauki języków! W szkole uczę się angielskiego i niemieckiego a oprócz tego jeszcze mnie 2 języki interesują i jakieś tam podstawy próbuję ogarnąć z nich lecz w wakacje postanowiłam się skupić nad angielskim, bo głupio mi trochę, że po 10 latach nauki nadal nie potrafiłam zrozumieć prostej wypowiedzi! Słuchałam sporo angielskiego w telewizji przez miesiąc i teraz już czuję się trochę pewniej, choć nie jest to prosta sprawa zrozumieć gdy ktoś szybko mówi! Ale najważniejsze to pokonać obawę przed uświadomieniem sobie, że się czegoś po prostu nie umie i próbować to zmienić. Dziś też kupiłam tom Harrego po angielsku, chociaż jedyny tom jaki znalazłam to ostatnia część ale spróbuję resztę książek zamówić w Internecie. Pozdrawiam!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/194/2838">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna#comment-2838">Saturday, August 4, 2012 - 11:51</a></span>
</div>
</div>
<div class="indented"><a id="comment-2845"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki za podzielenie się Twoim doświadczeniem. :-) To fajnie, że będziesz czytała Harry'ego Pottera! Daj mi znać jak Ci pójdzie.</p>
<p>Jedna uwaga: każdy tom jest na coraz wyższym poziomie. To jakby język rozwijał zarazem z wiekiem dzieci, które go czytały. Więc pierwszy tom jest łatwiejszy niż ostatni ze strony językowej.</p>
<p>Życzę Ci sukcesu w nauce!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/194/2845">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna#comment-2845">Monday, August 6, 2012 - 10:35</a></span>
</div>
</div>
<a id="comment-2846"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Och i jeszcze jedna rzecz: Jeśli jeszcze nie czytałaś mojego darmowego ebooka, go polecam bo jest dużo porady do czytania w obcym język. :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/194/2846">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna#comment-2846">Monday, August 6, 2012 - 10:36</a></span>
</div>
</div>
<div class="indented"><a id="comment-2854"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/48261a5ef8ba4109024051191be2c920?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Zapoznałam się! A także przeczytałam kilka artykułów z blogów, które pan polecił. Naprawdę wcześniej mi się rzadko zdarzało  czytać cokolwiek po angielsku, ewentualnie się wysilałam gdy czegoś szukałam czegoś dotyczącego mojej ulubionej gry - The sims2. Nie lubiłam tego, bo czytając uświadamiałam sobie, ilu słów jeszcze nie znam! Już wolałam słuchać, bo z słuchania rozumiem jeszcze mniej niż z czytania więc nie zwracałam uwagi na pojedyncze słówka a raczej cieszyłam się jak cokolwiek zrozumiałam. Gdyby mi ktoś powiedział miesiąc temu, że będę czytać Harrego po angielsku, to bym nie uwierzyła, bo nawet nie byłam pewna, czy sobie dam radę w polskim przekładzie. Lubię książki, ale fantastyka mnie jakoś specjalnie nie wciągała. A tymczasem idzie mi dość gładko, na początku było najgorzej, ale teraz jestem na 170 stronie i czyta mi się przyjemnie, nie muszę korzystać ze słownika, głownie nie rozumiem takich słów określających różne dźwięki, bo tego jest multum i jeszcze takie różne wyrazy określające jaką ktoś zrobił minę itp ale tego się mogę domyślać. Także naprawdę się cieszę, że się przełamałam dzięki pana filmikom z czytaniem i teraz jak będę się uczyć następnych języków jak najszybciej sięgnę do książek, bo widzę, że wkuwanie języka na sucho jest bez sensu. Dopiero jak sobie czytasz fabułę, wszystko się składa w całość, słowa funkcjonują w rzeczywisty sposób, a tak to raz się nauczysz słówka, za chwilę zapomnisz, potem znowu się nauczysz i tak w kółko.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/194/2854">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna#comment-2854">Wednesday, August 8, 2012 - 03:10</a></span>
</div>
</div>
</div></div><a id="comment-2853"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/6b1f3b9438afb6bb10cf7d789a147359?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Swe pierwsze kroki w czytaniu po angielsku skierowałam w stronę Harry'ego Pottera. Byłam już po lekturze polskich tłumaczeń, zresztą świetnie przetłumaczonych przez pana Polkowskiego. Jako, że sporo pamiętałam z polskich przekładów to całkiem zgrabnie szło mi ponowne czytanie Pottera, ale po angielsku. Im dalej w las tym pewniej się czułam i zdecydowałam się przeczytać 6 część bez uprzedniego czytania po polsku, bo jeszcze nie została przetłumaczona. Było ciężko, sporo nie zrozumiałam, niemal się zniechęciłam, ale jakoś dotrwałam do końca. Kunszt autorki doceniłam dopiero w polskim przekładzie. Zanim wyszła kolejna książka z sagi, chwyciłam się twórczości Trudi Canavan, połknęłam całą "Erę pięciorga", świetnie się bawiłam. Następnie pojawił się siódmy tom Pottera i bez większych problemów połknęłam go, świetnie się przy tym bawiąc. Głownie staram się czytać fantastykę, która sprawia, że świetnie się bawię, ale ostatnio chwytam też po kryminały, czy książki obyczajowe. Myślę, że najtrudniej było zacząć, a potem to się jakoś potoczyło. Aktualnie nadal zdarza mi się natrafić na książki, które w oryginale są dla mnie za trudne, ostatnio była to trylogia Patricka Rothfussa "Imię wiatru". Początek pierwszego tomu skutecznie mnie odstraszył od czytania jej w oryginale, a szkoda ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/194/2853">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wolbashi (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna#comment-2853">Tuesday, August 7, 2012 - 13:32</a></span>
</div>
</div>
<div class="indented"><a id="comment-2862"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć!</p>
<p>Gratuluję Ci sukcesu w przeczytaniu tylu książek po angielsku! Życzę dalszych sukcesów w nauce! :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/194/2862">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna#comment-2862">Friday, August 10, 2012 - 06:11</a></span>
</div>
</div>
</div><a id="comment-2929"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e92a2b676050cf7c8d526bca9fcf8340?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>David!<br/>
Przypadkowo trafiłam dziś na Twój kanał na Youtube i powiem szczerze, że z zaciekawieniem oglądałam resztę Twoich filmików. Angielskiego uczę się w zasadzie od dzieciństwa. Bardzo lubię ten język, ale niestety mam sporo trudności z nim. Motywacji mi nie brakuje, czasu też nie, ale zupełnie nie wiem od czego zacząć, aby osiągnąć perfekcję. Zaczęłam czytać Harry'ego Pottera w oryginale (w polskiej wersji przeczytałam wszystkie tomy!), ale phrasal verbs sprawiają mi bardzo dużą trudność. Czy Amerykanie/Anglicy rzeczywiście używają w języku potocznym, codziennym tak dużą ilość phrasal verbs?<br/>
Serdecznie pozdrawiam!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/194/2929">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Magda (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna#comment-2929">Friday, August 24, 2012 - 11:36</a></span>
</div>
</div>
<div class="indented"><a id="comment-2944"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Magda!</p>
<p>Dzięki za miłe słowa. :-) To fantastycznie, że czytasz Harry'ego Pottera po angielsku!</p>
<p>Niestety, tak - Amerykanie/Anglicy rzeczywiście używają dużo phrasal verbs. Dla nas to są normalne, nie za bardzo widzimy różnicy między czasownikami i czasownikami złożonymi (phrasal verbs). Ale na szczęście są w wszystkich słownikach dla native speakerów i w dobrych słowników angielskopolskich.</p>
<p>Daj znać jeśli masz jakieś inne problemy!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/194/2944">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna#comment-2944">Sunday, August 26, 2012 - 10:29</a></span>
</div>
</div>
</div><a id="comment-2946"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/63876f095008a02e6bb12a576c97222b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Na początek muszę przyznać, że dałeś mi niezłego kopa jeśli idzie o motywację.<br/>
Jakiś czas temu próbowałem uczyć się metodą Broniarka ( książka: jak nauczyłem się 8 języków) metoda pamięciowa na uczeniu się pełnych zdań na pamięć. Zabrakło mi motywacji.<br/>
Mam tylko jedno pytanie czy książka The God delusion Richarda Dawkinsa jest odpowiednia do nauki Twoją metodą. Lubie książki Dawkinsa za klarowność i wyrazistość ale nie wiem czy na początek podołam. Oczywiście porównując np do Harrego Pottera.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/194/2946">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna#comment-2946">Tuesday, August 28, 2012 - 14:45</a></span>
</div>
</div>
<div class="indented"><a id="comment-2960"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć!</p>
<p>To fajnie, że jesteś zmotywowany :-) No, dowolna książka może być - to bardziej zależy od Ciebie, niż od samej książki. Czy już czytałeś mój darmowy ebook? W nim podałem dużo porady do wybrania odpowiedniej książki. Jeśli zasubskrybujesz mój blog, go dostaniesz:</p>
<p><a href="http://www.linguatrek.com/subscribe" title="http://www.linguatrek.com/subscribe">http://www.linguatrek.com/subscribe</a></p>
<p>Również więcej napisałem o tym na moim blogu ale niestety tylko po angielsku:</p>
<p><a href="http://www.linguatrek.com/blog/2011/01/how-to-pick-your-first-book-to-read-in-a-foreign-language" title="http://www.linguatrek.com/blog/2011/01/how-to-pick-your-first-book-to-read-in-a-foreign-language">http://www.linguatrek.com/blog/2011/01/how-to-pick-your-first-book-to-re...</a></p>
<p>Mam nadzieję, że to pomoże!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/194/2960">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna#comment-2960">Sunday, September 2, 2012 - 14:45</a></span>
</div>
</div>
</div><a id="comment-3724"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/5f168f2914b83444dea75ea5e982429e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Masz absolutną rację w kwestii motywacji! Pamiętam, jak dawno temu kupiłam sobie niemieckie czasopismo dla nastolatek i nawet w 1-stronicowych artykułach o np. muzykach znajdowało się mnóstwo nowych słówek i zwrotów. Nad jednym, dłuższym artykułem pracowało mi się dość długo, ale nigdy się nie poddawałam, bo to był język, który bardzo lubiłam i chciałam, naprawdę bardzo chciałam POZNAĆ wszystkie te wyrażenia.</p>
<p>Natomiast ostatnio musiałam czytać "Panią Bovary" po francusku - owszem, to powieść, nie artykuł ;), ale koniecznych do przetłumaczenia słówek na 1 stronie tekstu było dużo mniej niż wtedy, przy niemieckich artykułach. Mimo to nie byłam w stanie przebrnąć przez tę książkę - po 60 str sięgnęłam po polską wersję. Dlaczego? Tak, jak piszesz, nie byłam zmotywowana. Nie przypadła mi ta opowieść jakoś do gustu, a i większość tych słówek była tak rzadko używana, że sprawdzanie ich znaczenia zdawało się być mało przydatne na przyszłość. </p>
<p>To w ogóle jest dla mnie problem przy czytaniu powieści w innych językach - mnóstwo specjalistycznych słówek np. dotyczących ubioru, które i tak zaraz zapomnę, bo nigdzie ich potem nie zobaczę/usłyszę ponownie! Bez sprawdzania ich nie zrozumiem opisu, ale to tłumaczenie sporo zajmuje i jak pisałam, nie zostaje w pamięci! :(</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/194/3724">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Monika (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna#comment-3724">Saturday, February 2, 2013 - 15:24</a></span>
</div>
</div>
<div class="indented"><a id="comment-3753"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Monika!</p>
<p>Dzięki za podzielenie się Twoją historią. :-) Na pewno będzie pomocna innym, którzy mają podobne problemy!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/194/3753">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna#comment-3753">Tuesday, February 5, 2013 - 10:09</a></span>
</div>
</div>
</div><a id="comment-3910"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://naukahobbysamoterapia.blogspot.com/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9b0aba7b659a01e3fc327aa5d542a3aa?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Interesuję się zdrowym odżywianiem i za Twoją radą postanowiłam czytać  o tym na angielskich stronach. Ale nie rozumiałam większości słów i przeczytanie jednej strony zajęło mi bardzo dużo czasu, co mnie zniechęciło. Ale nie mogę się poddawać! :-)<br/>
(PS) Na książkę jest jeszcze za wcześnie. Ale słucham podcastów z British Council: Elementary Podcast.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/194/3910">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://naukahobbysamoterapia.blogspot.com/" rel="nofollow">Violina</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna#comment-3910">Monday, February 11, 2013 - 05:11</a></span>
</div>
</div>
<div class="indented"><a id="comment-3915"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Violina!</p>
<p>Uważaj na to zniechęcenie! To prawdopodobnie znaczy, że te materiały są zbyt trudne. Może to czas spróbować coś łatwiejszego? Powiedziałaś, że to za wcześnie na książkę ale są uproszczone książki dla uczących się, np:</p>
<p><a href="http://www.linguatrek.com/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-wspania%C5%82e-materia%C5%82y-dla-ucz%C4%85cych-si%C4%99-angielskiego" title="http://www.linguatrek.com/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-wspania%C5%82e-materia%C5%82y-dla-ucz%C4%85cych-si%C4%99-angielskiego">http://www.linguatrek.com/blog/2012/05/czytamy-w-oryginale-wielkie-powie...</a></p>
<p>To tylko pomysł. :-) Tylko Ty jesteś w stanie wiedzieć, czy to czas na coś innego czy nie. Ale bardzo się cieszę, że podzielasz się z nami Twoimi postępami!</p>
<p>Życzę Ci wytrwałości w nauce!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/194/3915">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna#comment-3915">Monday, February 11, 2013 - 10:26</a></span>
</div>
</div>
</div><a id="comment-4039"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/1debaaf1dca8b781c4a1c0d1450c96b8?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Czesc Dawid!<br/>
W mojm przypadku ksiazki odpadaja, naprawde nie potrafie sie nad nimi skupic. Ale jako ze jestem kinomaniakiem wszelkiego radzaju filmy naprawde mnie wcjagaja, dlatego postanowilem ogladac tylko w j.angielskim, takze teksty piosenek ktorych sluchalem ,a ktorych nigdy nie staralem sie zrozumiec bardzo mnie motywowuja do ich poznania.Bardzo pomaga mi ta stronka ktora polecam <a href="http://www.tekstowo.pl/piosenka,metallica,sad_but_true.html" title="http://www.tekstowo.pl/piosenka,metallica,sad_but_true.html">http://www.tekstowo.pl/piosenka,metallica,sad_but_true.html</a></p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/194/4039">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Przemek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna#comment-4039">Tuesday, February 19, 2013 - 16:38</a></span>
</div>
</div>
<div class="indented"><a id="comment-4043"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Przemek!</p>
<p>Bardzo się cieszę, że znalazłeś coś dla Ciebie. :-) Życzę Ci dalszych sukcesów!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/194/4043">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna#comment-4043">Wednesday, February 20, 2013 - 07:06</a></span>
</div>
</div>
</div>
</div>
