---
permalink: /blog/2012/07/czy-dostajesz-za-dużo-maili-ode-mnie-są-nowe-opcje-dla-subskrybentów/
layout: blog-old
title: 'Czy dostajesz za dużo maili ode mnie? Są nowe opcje dla subskrybentów!'
day: 5
month: Jul
year: 2012
category: LinguaTrek
tags: [ ]
language: en
translation: /blog/2012/07/czy-dostajesz-za-du%C5%BCo-maili-ode-mnie-s%C4%85-nowe-opcje-dla-subskrybent%C3%B3w/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 152px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/07/angrymail.jpg" rel="lightbox"><img alt="" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/07/angrymail.jpg" title="Zdjęcie autorstwa D. Sharon Pruitt"/></a><div class="caption"><a href="http://www.flickr.com/photos/pinksherbet/2927494753/">Zdjęcie</a> autorstwa <a href="http://www.flickr.com/photos/pinksherbet/">D. Sharon Pruitt</a></div></div>
<p>Niedawno doszło do mojej uwagi, że wiele osób uważa, że ​​wysyłam za dużo e-maili do subskrybentów tego bloga. Do tej pory mail był wysyłany do każdego artykułu w dniu jego publikacji.</p>
<p>To stało się szczególnie widoczne podczas <a href="http://www.linguatrek.com/blog/2012/06/kup-nasz-produkt-%C5%BCeby-pom%C3%B3c-nam-go-stworzy%C4%87-nasze-marzenie-jest-coraz-bli%C5%BCsze">przedsprzedaży</a> ponieważ wiele osób jest zainteresowanych tylko poradami na temat nauki języka i informacjami kulturowymi - nie Bilbiobirdem, przedsprzedażą lub innymi "osobistymi" artykułami.</p>
<p><em>(Przy okazji przedsprzedaż idzie świetnie! Nie pisałem nic o tym ostatnio ponieważ musiałem najpierw rozwiązać ten problem. Napiszę nowy artykuł za kilka dni kiedy ludzie mieli szansę na zaktualizowanie swoich opcji subskrypcji.)</em></p>
<p>Więc, dodaję nowe opcje subskrypcji, które pozwolą Ci na:</p>
<ul>
<li><strong>Otrzymanie maili do artykułów, które dotyczą tylko nauki języka i informacji kulturowych.</strong></li>
<li><strong>Otrzymanie tylko tygodniowego podsumowania artykułów - zamiast dostawania emaila do każdego nowego artykułu, który piszę.</strong> Z reguły piszę 1-2 artykułów tygodniowo.</li>
</ul>
<p>Jeśli jesteś subskrybentem tego bloga i chciałbyś zmienić swoje opcje, <a href="http://www.linguatrek.com/options">kliknij tutaj i wpisz swój adres emailowy</a>.</p>
<p><strong>Nie chcę wysyłać spamu!</strong> Jeśli jesteś subskrybentem i nie jesteś już zainteresowany moim blogiem, możesz użyć <a href="http://linguatrek.us2.list-manage.com/unsubscribe?u=6b5f39a01108c2e0115b129fb&amp;id=490d27bd0c">tego linka</a> do rezygnacji z subskrypcji. Jeśli masz jakikolwiek problem, możesz odpowiedzieć na jakikolwiek email, który Tobie wysłałem lub wypełnić <a href="http://www.linguatrek.com/contact">formularz kontaktowy</a> i pomogę Tobie.</p>
<p><strong>Dzięki i przepraszam za niedogodności!</strong></p>
</div>

<div id="comments">
<a id="comment-2664"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e02a93643472ceae05a9020f760cdcec?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Bardzo dobre i uczciwe rozwiązanie! :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/184/2664">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">mkbest (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-dostajesz-za-du%C5%BCo-maili-ode-mnie-s%C4%85-nowe-opcje-dla-subskrybent%C3%B3w#comment-2664">Thursday, July 5, 2012 - 11:10</a></span>
</div>
</div>
<div class="indented"><a id="comment-2669"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki. :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/184/2669">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-dostajesz-za-du%C5%BCo-maili-ode-mnie-s%C4%85-nowe-opcje-dla-subskrybent%C3%B3w#comment-2669">Thursday, July 5, 2012 - 12:09</a></span>
</div>
</div>
</div><a id="comment-2665"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/830b58d5955939037185dc93951fbc6f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Widzialem, te chamska dyskusje na wykopie.<br/>
Kompletnie sie z nia nie zgadzam. Widac chlopacy nie wiedza co znaczy subskrypcja. Ostatnio wlasnie zauwazylem, ze nie wysylasz juz maili i wystraszylem sie, ze to przez chamów z wykop.pl.<br/>
Widać jest coś na rzeczy.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/184/2665">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Sprox (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-dostajesz-za-du%C5%BCo-maili-ode-mnie-s%C4%85-nowe-opcje-dla-subskrybent%C3%B3w#comment-2665">Thursday, July 5, 2012 - 11:33</a></span>
</div>
</div>
<div class="indented"><a id="comment-2667"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>To nie było tylko z powodu tej dyskusji na Wykop, ale to jest dlatego, że zacząłem o tym myśleć.</p>
<p>W końcu znalazłem miejsce w Mailchimp (aplikacja webowa, która wysyła te maile) ze spisem ludzi, którzy odsubskrybowali - i wygląda na to, że <em>kilkaset</em> osób odsubskrybowało podczas maili o przedsprzedaży i podało przyczyny (nawet nie wiedziałem poprzednio, że był taki formularz, który pyta o przyczynę!) takie jak:</p>
<ul>
<li>"Za dużo! Za dużo! Za dużo! Wiele bezwartościowych! Spam! Nękanie!"</li>
<li>"Too many messages"</li>
<li>"I am unsubscribing because I do not want to receive an email from you every few days"</li>
</ul>
<p><em>(Skopiowałem te przykłady bezpośrednio z Mailchimp! Jest ich o wiele więcej.)</em></p>
<p>To dla mnie jest dziwne, że wśród kilkaset niezadowolonych tylko ta jedna osoba na Wykopie zwrócił się do mnie bezpośrednio ale rzeczywiście był problem do rozwiązania! Nadal jednak dużo się uczę o emailu i subskrypcji. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/184/2667">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-dostajesz-za-du%C5%BCo-maili-ode-mnie-s%C4%85-nowe-opcje-dla-subskrybent%C3%B3w#comment-2667">Thursday, July 5, 2012 - 11:50</a></span>
</div>
</div>
<div class="indented"><a id="comment-2674"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/830b58d5955939037185dc93951fbc6f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Oczywiscie, fakt, ze zajales sie problemem jest bardzo wazny.<br/>
Mi emaile nie przeszkadzaja poniewaz wiem co znaczy subskrypcja.<br/>
W innym wypadku uzywam czytnikow RSS.</p>
<p>Jednak sam poczulem niesmak jak dostalem maila z Twoim tekstem o wystepowaniu Polakow, polskich motywow w filmach zagranicznych.<br/>
Dla wielu osob byla to zwykla atakujaca 'podprogowo' reklama ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/184/2674">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Sprox (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-dostajesz-za-du%C5%BCo-maili-ode-mnie-s%C4%85-nowe-opcje-dla-subskrybent%C3%B3w#comment-2674">Friday, July 6, 2012 - 02:07</a></span>
</div>
</div>
</div></div><a id="comment-2666"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://KodyCzasu.pl" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/03ebd9d795ce65aaba9a37c0d7ee456e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Witam,</p>
<p>Strasznie często David nie piszesz, ale rzeczywiście raz na tydzień naprawdę wystarczy;)</p>
<p>Jednak jedna poprawka, którą możesz wprowadzić w swoim e-mail marketingu to to, że najlepsze i najczęściej czytane (np. możesz to sprawdzić spoglądając na wskaźnik kliknięć) są e-mail-e, które  są całkowicie tekstowe, bez żadnej szaty graficznej, 50-70 znaków na linijkę. </p>
<p>Takie e-maila-e świetnie się czyta, ale także pisze i poprawia;)</p>
<p>Pozdrawiam,<br/>
Damian<br/>
PS.Życzę sukcesów z Bibliobird-em;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/184/2666">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://KodyCzasu.pl" rel="nofollow">Damian</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-dostajesz-za-du%C5%BCo-maili-ode-mnie-s%C4%85-nowe-opcje-dla-subskrybent%C3%B3w#comment-2666">Thursday, July 5, 2012 - 11:48</a></span>
</div>
</div>
<div class="indented"><a id="comment-2668"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Damian!</p>
<p>Dziękuję za sugestię!</p>
<p>Słyszałem to i sam wolę emaile tekstowe. Niestety, MailChimp nie może wysyłać emaili tekstowych automatycznie. :-/ Mam nadzieję, że to kiedyś się zmieni. Mógłbym coś stworzyć z pomocą API ale to wymaga czasu! Kiedy wysyłam emiale ręcznie w Mailchimp (co robię dość rzadko) zwykle wysyłam emaile tekstowe.</p>
<p>Na razie więc emaile będą w formacie HTML..</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/184/2668">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-dostajesz-za-du%C5%BCo-maili-ode-mnie-s%C4%85-nowe-opcje-dla-subskrybent%C3%B3w#comment-2668">Thursday, July 5, 2012 - 12:09</a></span>
</div>
</div>
</div><a id="comment-2673"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9a8cb03a0d20b459b313c180559fa98b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Dobrze, że teraz wyszedł ten problem a nie pużniej. </p>
<p>Podoba mi się twoje podejście nie obraziłęś na chamskie komentarze (co do subskrypcji). Nie zignorowałeś także problemu i skupiłeś się na rozwiązaniu.</p>
<p>Teraz będzie myślę dobrze :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/184/2673">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Krzysztof (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-dostajesz-za-du%C5%BCo-maili-ode-mnie-s%C4%85-nowe-opcje-dla-subskrybent%C3%B3w#comment-2673">Thursday, July 5, 2012 - 15:20</a></span>
</div>
</div>
<div class="indented"><a id="comment-2675"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/830b58d5955939037185dc93951fbc6f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Nie polecam się wzorować na tekstach tego Pana przy nauce jezyka polskiego :)</p>
<p>Ort i błąd składni. </p>
<p>Pozdrawiam</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/184/2675">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Sprox (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-dostajesz-za-du%C5%BCo-maili-ode-mnie-s%C4%85-nowe-opcje-dla-subskrybent%C3%B3w#comment-2675">Friday, July 6, 2012 - 02:19</a></span>
</div>
</div>
<div class="indented"><a id="comment-2676"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9a8cb03a0d20b459b313c180559fa98b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Z tym to na pewno mam problem i o tym dobrze wiem. Niestety problem nie wynika z lenistwa a tylko z nie możliwości wychwycenia tych błędów. Widać, że pewna sfera związana z ort i składnią u mnie leży. (Dysleksja).</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/184/2676">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Krzysztof (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-dostajesz-za-du%C5%BCo-maili-ode-mnie-s%C4%85-nowe-opcje-dla-subskrybent%C3%B3w#comment-2676">Friday, July 6, 2012 - 03:46</a></span>
</div>
</div>
</div></div><a id="comment-2678"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a4de5055e71e36275e69ca21d5769013?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Jest ok David:-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/184/2678">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Lidek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/czy-dostajesz-za-du%C5%BCo-maili-ode-mnie-s%C4%85-nowe-opcje-dla-subskrybent%C3%B3w#comment-2678">Monday, July 9, 2012 - 04:14</a></span>
</div>
</div>
</div>
