---
permalink: /blog/2012/07/is-this-bookmoviesong-too-hard-for-me/
layout: blog-old
title: 'Is this book/movie/song too hard for me?'
day: 24
month: lip
year: 2012
category: language learning
tags: 
  - 'finding content'
  - 'motivation'
language: pl
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/07/selfawareness.jpg" rel="lightbox"><img alt="" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/07/selfawareness.jpg" title="Photo by Yannis"/></a><div class="caption"><a href="http://www.flickr.com/photos/8291053@N08/3192165661">Photo</a> by <a href="http://www.flickr.com/photos/yannisag/">Yannis</a></div></div>
<p>Reading books, watching movies and listening to music in your target language is a great way to learn! In fact, that is the basis of the method I used to learn Polish (I <a href="http://www.linguatrek.com/blog/2010/12/harry-potter-the-book-that-taught-me-polish">read and listened to Harry Potter</a> in Polish).</p>
<p><strong><a href="http://www.linguatrek.com/blog/2011/01/how-to-pick-your-first-book-to-read-in-a-foreign-language">Choosing the right materials</a> for you is difficult!</strong> <em>(I devote about 15 pages to this topic in <a href="http://www.linguatrek.com/blog/2012/04/natural-language-learning-without-a-teacher">my FREE ebook</a>!)</em></p>
<p>Besides finding something that is interesting to you (which is an extremely personal decision), the most difficult part is finding something at the appropriate level.</p>
<p>Ideally, you want to find something <em>just above</em> your current level. If it's too easy, there won't be anything to learn. Although, things that are a little below or right at your level will also help a lot!</p>
<p><strong>However, if this is the one of the first books/songs/movies that you have read/watched/listened to, it's going to be hard regardless!</strong></p>
<p>The real question is: <em>Is it TOO hard?</em></p>
<p><strong>Read more to find out how you can tell!</strong></p>
<h2>It will be hard!</h2>
<p>When I started reading Harry Potter in Polish, my level was low. <em>I mean really low!</em></p>
<p>I had studied tons of grammar. But I knew very little vocabulary, I couldn't understand most things people said to me and I definitely couldn't carry on a real conversation.</p>
<p><strong>This book wasn't "just above" my level - it was <em>way</em> above my level!</strong></p>
<p>In the very beginning, there were 20-40 unknown words <em>on every page!</em></p>
<p>But despite all this - it was actually a very good choice for me. However, for someone else - <em>at the exact same level</em> - it might be a terrible choice!</p>
<p>The fact is that there is much more to this than just your current level.</p>
<h2>Motivation</h2>
<p>The <a href="http://www.linguatrek.com/blog/2011/03/the-three-ingredients-for-successful-language-learning">three ingredients</a> to language learning are: time, motivation and an effective method.</p>
<p>We spend a lot of time talking about finding an effective method. But all of that is meaningless if you don't have the motivation to actually do it!</p>
<p><strong>As I talked about in my ebook, you can make up for your low level of language skill with a high level of motivation!</strong></p>
<p>This is why choosing something that is interesting to you is <em>sooo important!</em>  Despite being too old for it, I really love the Harry Potter story. :-) If I had chosen something that I thought was boring or just OK - I could never have read a book that was so much higher than my current level. I would probably have given up because it was too hard.</p>
<p><strong>Remember: <em>the only way to fail to learn a language, is to give up!</em></strong></p>
<h2>How can you tell if it's <em>too</em> hard?</h2>
<p>Language learning is much more personal than learning most skills. Your psychology, emotions and self-confidence play a huge role!</p>
<p>I don't think you could say that about learning soccer, math or basket weaving. :-)</p>
<p>That's why <em>self-awareness</em> is so important while learning a language. You need to be acutely aware of what you are thinking and feeling about the language <em>and your method.</em></p>
<p><strong>The only way to tell if something is too hard, is to try to read/watch/listen to it and ask yourself the question: is the difficulty of this lessening my motivation? If the answer is "yes" - it's too hard!</strong></p>
<p>You need to notice this and change as soon as possible. The longer you do something demotivating, the more you risk running out of motivation and potentially giving up.</p>
<p>While the "ideal level" is just above your current level, you may find that you need something easier. Or maybe find something that motivates you so strongly that its difficulty isn't a problem! But it's your motivation and not the absolute level of the difficulty that is important.</p>
<p><strong>What do you think? Have you tried to read, watch or listen to something that was too hard? How could you tell? Write a comment below!</strong></p>
</div>

<div id="comments">
<a id="comment-2779"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://howlearnspanish.com" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/378451a8d6aab6e56c0caa50495bd976?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>What an excellent post, David!  This is something I've harped on over and over again and I couldn't possibly agree more, and I'm actually a bit upset that you've managed to say it more clearly and concisely than I've been able to, ha.</p>
<p>"You need to notice this and change as soon as possible. The longer you do something demotivating, the more you risk running out of motivation and potentially giving up."</p>
<p>You were saying this in reference to doing something that's too hard, but I'd like to expand on and modify it a bit to include things that are demotivating simply because they're <strong>boring</strong> as I find that's the most common cause of people giving up on learning a language.  If you're doing something that bores you, that's neither fun nor interesting, you need to notice this and change as soon as possible.  The longer you do something boring, the more you risk running out of motivation and potentially giving up.</p>
<p>Screw the dry textbooks and memorization of vocab lists and grammar rules and boring 'lessons', find something fun in the language you're learning, something that <strong>if it were in your native language to begin with you would still want to watch/read/listen to</strong>--that's THE criteria right there: if it were in your native language, would you still enjoy it? If not, don't do it.  Pick a movie or book (I absolutely agree about Harry Potter, that's the best general recommendation in my opinion, most people will find it fun and entertaining to at least some degree, they're written at a 4th grade level which is neither too easy nor too hard, and those suckers are available in like 70 damned different languages, they're perfect) or a music video (you know <a href="http://howlearnspanish.com/2012/06/shakira-lo-hecho-esta-hecho/">I like Shakira!</a>) and get to learning the language while having fun.</p>
<p>I think I might write up a whole blog post on this, thanks for the inspiration, I'll be sure to link to you if I do.</p>
<p>Cheers,<br/>
Andrew</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/2779">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://howlearnspanish.com" rel="nofollow">Andrew</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-2779">wtorek, lipiec 24, 2012 - 13:49</a></span>
</div>
</div>
<div class="indented"><a id="comment-2798"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Andrew,</p>
<p>Glad you enjoyed it! I just read the post you wrote on your blog and it's great stuff - you covered a lot of ground! Here's the link in case anyone else is interested:</p>
<p><a href="http://howlearnspanish.com/2012/07/the-most-important-factor-in-learning-a-language-is/" title="http://howlearnspanish.com/2012/07/the-most-important-factor-in-learning-a-language-is/">http://howlearnspanish.com/2012/07/the-most-important-factor-in-learning...</a></p>
<p>Yeah, I agree: when people are choosing content I always say take something you love to do in your native language and do it in the foreign language.</p>
<p>This seems to come up a lot with the discussion of children's books (ie. the kind for really little kids, like "See Spot Run"). Some people honestly really like children's books (even as adults) but I think the majority of people who choose them for language learning, do so because it seems logical but actually don't like them at all.</p>
<p>However, I think we could each write a dozen articles about how motivation affects different aspects of language learning and still have lots more to write about. ;-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/2798">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-2798">piątek, lipiec 27, 2012 - 07:52</a></span>
</div>
</div>
<div class="indented"><a id="comment-2815"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://howlearnspanish.com" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/378451a8d6aab6e56c0caa50495bd976?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Thanks, David.</p>
<p>I think, with regards to children's stuff, that you need to choose something you would enjoy--granted, there are people who simply can't enjoy any sort of kids stuff but I think they're the rare exception--e.g. I could watch classic Looney Tunes all day long (Coyote &amp; Roadrunner, Goofy, Donald Duck, etc.) and if I could find those in Spanish with Spanish subtitles or transcripts, I'd be ecstatic.  The real key is doing things you'd enjoy, and if you don't enjoy a specific children's book or cartoon then for god's sake don't mess with it just because some guy on the internet said that using children's stuff was a good idea.</p>
<p>Cheers,<br/>
Andrew</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/2815">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://howlearnspanish.com" rel="nofollow">Andrew</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-2815">piątek, lipiec 27, 2012 - 13:02</a></span>
</div>
</div>
<div class="indented"><a id="comment-2816"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Heh, then maybe it's just me. :-) I don't really like children's books or cartoons - at least since I was kid! Anyway, that's all just personal preference.</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/2816">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-2816">piątek, lipiec 27, 2012 - 13:06</a></span>
</div>
</div>
</div></div><a id="comment-2982"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/f90728c489101193f2a800e3dbdb35e0?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Hello, I would like to subscribe for this webpage to take most up-to-date<br/>
updates, so where can i do it please help.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/2982">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">get more info (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-2982">środa, wrzesień 5, 2012 - 12:40</a></span>
</div>
</div>
<div class="indented"><a id="comment-2983"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Here is the subscribe form:<br/>
<a href="http://www.linguatrek.com/subscribe" title="http://www.linguatrek.com/subscribe">http://www.linguatrek.com/subscribe</a></p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/2983">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-2983">środa, wrzesień 5, 2012 - 16:16</a></span>
</div>
</div>
</div><a id="comment-3042"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/7486285dddfe5bd047c0069213ce0017?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>I have been browsing online more than three hours today, yet I never found<br/>
any interesting article like yours. It's pretty worth enough for me. In my view, if all web owners and bloggers made good content as you did, the web will be much more useful than ever before.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/3042">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">opinie na temat kolagenu (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-3042">sobota, wrzesień 29, 2012 - 00:11</a></span>
</div>
</div>
</div><a id="comment-2780"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/15a8a5e73b9def997db642e6ac60ad60?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>hi david<br/>
my copy of harry potter is on its way from poland as i type this so ill let you know how i get on,ive a feeling i may be translating more than 40 words per page.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/2780">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Roy (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-2780">wtorek, lipiec 24, 2012 - 14:19</a></span>
</div>
</div>
<div class="indented"><a id="comment-2799"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Roy!</p>
<p>Thanks awesome that you're going to read and listen to Harry Potter! Definitely, let me know how it goes when you start! However, like I said in my ebook, the beginning is always the most difficult part. Once you get into the flow and have a certain level of base vocabulary for the author/story, it becomes increasingly easy.</p>
<p>I'm not sure you can do worse than my 40 words per page though - there really aren't that many more words on a page. ;-)</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/2799">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-2799">piątek, lipiec 27, 2012 - 07:54</a></span>
</div>
</div>
</div><a id="comment-2781"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>One more thing to add. If you feel tired but want to read/watch/listen to, there is a chance that you quickly change the approach to the learning material for the worse! If you continue it will surely demotivate you in next days. Don’t do it! Do not dig when you are in a hole!</p>
<p>As Andrew put it: would you read/watch/listen to it if you were doing it in your native language?</p>
<p>Sometimes it is beneficial to take a rest / to take a day off learning EVEN if you feel that you must do it. Do not do it!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/2781">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-2781">wtorek, lipiec 24, 2012 - 15:15</a></span>
</div>
</div>
<div class="indented"><a id="comment-2800"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>That's great advice, Wojtek!</p>
<p>When I feel tired and don't want to work on my language for the day, I usually say to myself, "Just do 5 minutes." Sometimes doing 5 minutes is enough to pull me in and I'll end up doing an hour. But sometimes it's just 5 minutes! And then I stop and give my brain some rest. :-)</p>
<p>Rest is also very important to the learning process. Sometimes after a little time away from a language you come back feeling even stronger than before you left!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/2800">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-2800">piątek, lipiec 27, 2012 - 07:57</a></span>
</div>
</div>
</div><a id="comment-2783"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://howlearnspanish.com/2012/07/the-most-important-factor-in-learning-a-language-is/" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>[...] This is an excellent question because if you get stuff that’s too hard for you then the effort required to deal with it could easily overpower your motivation to do so thereby resulting in you not doing it.  It’s a big “demotivator”, as David calls it.  David? Eh? Yeah, I was actually inspired to write this blog post by a friggin’ awesome one that David Snopek over at LinguaTrek just published today that I cannot possibly encourage you strongly enough to go and read right now: Is this book/movie/song too hard for me? [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/2783">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://howlearnspanish.com/2012/07/the-most-important-factor-in-learning-a-language-is/" rel="nofollow">The Most Important Factor in Learning a Language Is&amp;amp;#823</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-2783">wtorek, lipiec 24, 2012 - 19:21</a></span>
</div>
</div>
<a id="comment-2785"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/15a8a5e73b9def997db642e6ac60ad60?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>to be honest i don't read any books at all and I don't even really like Harry potter but my motivation is to learn to speak polish at a conversation level so i will be motivated to read it even if I'm not interested in it (if that makes sense)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/2785">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Roy (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-2785">środa, lipiec 25, 2012 - 02:03</a></span>
</div>
</div>
<div class="indented"><a id="comment-2801"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Well, books aren't for everyone! That's why in my ebook I also discuss movies, TV, songs, video games and conversation as possible sources of input. But who knows! Maybe your motivation to learn Polish will be enough to carry you through or maybe you'll discover that you actually really like Harry Potter. ;-)</p>
<p>In any case, the only way to know is to try, and then be very conscious of your emotional state and motivation as you do it.</p>
<p>Best of luck!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/2801">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-2801">piątek, lipiec 27, 2012 - 08:00</a></span>
</div>
</div>
</div><a id="comment-2790"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/866eee6d18fde213a58eda8e64588f41?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>roy<br/>
which books do you prefer ? i could help you to choose a good book for you :) i did topic and i got some preposition for foreigners whose want to learn polish</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/2790">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">z polski (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-2790">środa, lipiec 25, 2012 - 16:04</a></span>
</div>
</div>
<a id="comment-2792"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/15a8a5e73b9def997db642e6ac60ad60?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Thanks for the offer but I've already ordered Harry potter,the reason I've ordered this book is I think as David said it is written mainly for children ,so I'm hoping it might not be to difficult for me</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/2792">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Roy (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-2792">czwartek, lipiec 26, 2012 - 02:01</a></span>
</div>
</div>
<a id="comment-2793"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/79f3fb983e2ee65b09b16ae5e6d41a15?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Hi David,<br/>
Great post, I'm glad you've talked a little about your proficiency before you started reading Harry Potter. I've been learning for a couple of months now and figured I might give the book a go. Your comments have boosted my enthusiasm further. I wonder, had you read the book in English prior to attempting the Polish version? Or were you already familiar with the story? I myself don't know it particularly well and wonder whether that might put me at a greater disadvantage? Excellent blog by the way!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/2793">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Matt B (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-2793">czwartek, lipiec 26, 2012 - 03:05</a></span>
</div>
</div>
<div class="indented"><a id="comment-2802"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Matt!</p>
<p>Thanks, I'm glad you liked it. :-)</p>
<p>I actually kind of wish I would have started recording videos in Polish *before* I read Harry Potter so people could see really how bad I was. ;-) But still hadn't made any headway on my fear of speaking, I was very self-conscious then and who would have known language learning would turn into "my thing"...</p>
<p>No, I've never read Harry Potter in English. But I had seen all the movies so I knew basically the characters and the plot.</p>
<p>Hope that helps!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/2802">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-2802">piątek, lipiec 27, 2012 - 08:06</a></span>
</div>
</div>
</div><a id="comment-2794"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/4212fdb8bd48481609e773a9200b9224?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>I've seen SO MANY people recommend Harry Potter as a good first book for a number of different languages and while I actually enjoyed Harry Potter in English my problem is that I am not really sure I would enjoy reading it AGAIN (I am a "native" English speaker studying Spanish)</p>
<p>Still I might give it a try just to see if I actually do enjoy it. Another book I am thinking of reading in Spanish is "One Hundred Years of Solitude" by Gabriel Garcia Marquez but I am not completely sure if I will enjoy it(I am not sure if I would read it in English though it does sound kind of interesting as metaphorical history of Colombia) OR if it will be too difficult for me. (I am still very much at a beginner level in Spanish).</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/2794">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Mugizi (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-2794">czwartek, lipiec 26, 2012 - 12:36</a></span>
</div>
</div>
<div class="indented"><a id="comment-2803"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Mugizi!</p>
<p>Thanks for the comment. :-)</p>
<p>I understand this argument completely! I personally don't like reading most books more than once. If I know what's going to happen next, it doesn't really draw me in the same way. If I had read Harry Potter previously I'm not sure if I would have used it and I don't plan to use it again for other languages.</p>
<p>But it's worth a try! There is really no way to know until you give it a shot. The same goes for "One Hundred Years of Solitude" - you won't know if it's interesting or difficult until you try.</p>
<p>I wish you the best of luck! Let me know how it goes once you pick something and start reading/listening!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/2803">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-2803">piątek, lipiec 27, 2012 - 08:11</a></span>
</div>
</div>
</div><a id="comment-2795"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/15a8a5e73b9def997db642e6ac60ad60?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>i should have it tomorow, ups tried to deliver today but i was at work.Not bad 4 days from poland.Ill let you know how i get on.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/2795">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Roy (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-2795">czwartek, lipiec 26, 2012 - 14:22</a></span>
</div>
</div>
<a id="comment-2804"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/15a8a5e73b9def997db642e6ac60ad60?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Mam dobra wiadomosc,kilka minut temu dostalem sie od mojej zony SMS-a.Moja ksiazka jest tu.Nie moge sie doczekac zaczac czytanie.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/2804">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Roy (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-2804">piątek, lipiec 27, 2012 - 08:14</a></span>
</div>
</div>
<div class="indented"><a id="comment-2809"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Fantastycznie! Życzę miłego czytania!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/2809">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-2809">piątek, lipiec 27, 2012 - 08:27</a></span>
</div>
</div>
</div><a id="comment-2817"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://want2speakthai.com" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/df9c20bc10c424116379310d07a6c6a0?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>It's so important to push yourself, but not too much.  It's like dunking an OREO cookie.  If you put it in milk and take it out right away, it was basically a waste of time dunking it.  If you put it in and soak it too long, then the cookie crumbles and you just wasted the cookie.  You have to soak it long enough to soften it.  </p>
<p>If we don't push ourselves enough, we don't learn anything.  If we push too hard, its hurts our motivation to do more.  We have to do enough to soften our brain and let it absorb the language we are learning.(I know I am weird)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/2817">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://want2speakthai.com" rel="nofollow">Justin Travis Mair</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-2817">piątek, lipiec 27, 2012 - 22:19</a></span>
</div>
</div>
<div class="indented"><a id="comment-2819"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Justin!</p>
<p>Thanks for the comment. That's a very creative metaphor - I like it! :-)</p>
<p>BTW: I just checked out your blog quick - looks very interesting! I subscribed and I'm looking forward to your future posts.</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/2819">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-2819">sobota, lipiec 28, 2012 - 08:18</a></span>
</div>
</div>
</div><a id="comment-2822"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/15a8a5e73b9def997db642e6ac60ad60?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>started to read it last night ,I know roughly about five words per page</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/2822">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Roy (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-2822">poniedziałek, lipiec 30, 2012 - 02:45</a></span>
</div>
</div>
<a id="comment-2825"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/15a8a5e73b9def997db642e6ac60ad60?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>51 words on the first page I need to translate</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/2825">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Roy (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-2825">poniedziałek, lipiec 30, 2012 - 04:20</a></span>
</div>
</div>
<a id="comment-2831"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/95fb52388914d987164793df8da2127f?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>After I found your blog some time ago I started reading Agatha Christie in Polish (And then there were none - Nie było już nikogo), as I am a big fan of her books. I found it quite difficult at the beginning, but as the story progressed it got easier and easier. After that I decided to pick a more modern writer and started reading a novel from Mary Higgins Clark (Pójdę sama tą drogą). For some reason the beginning again was very hard and the experience was similar to Agatha Christie. After a while I couldn't stop reading, because of the tense story. Now I started with Harry Potter. I thought, if it's a children's book, it can't be so difficult. However, I feel that there is so much specific vocabulary that for me it feels like the most difficult of the three so far. I am 100 pages into the book now and it starts getting a little easier. As every author (translator) has his own set of words he commonly uses I might just be glad to have started with the Harry Potter series. With 7 books that are all also available as audiobooks this might just be the right investment in my Polish learning. And I like the voice of the reader a lot so far.</p>
<p>Thanks David for your advice and your great blog. Reading books for me seems to be the best way to get yourself "learn" new vocabulary. And thanks to you I also found the RealPolish blog, which is also a great source of learning material (the paid and the free stuff, both). I already noticed a huge progess, when talking to my Polish teacher.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/2831">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Matthias (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-2831">środa, sierpień 1, 2012 - 06:28</a></span>
</div>
</div>
<div class="indented"><a id="comment-2852"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Matthias!</p>
<p>Thanks for sharing your experience!  For me the beginning of a book is always the hardest too. :-) That's fantastic that you got so drawn into the story! That really sounds like it was a great book for you.</p>
<p>I'm actually surprised to hear that Harry Potter was the hardest so far, but you know, different things are hard for different people even if they have the same level. There are just a ton of factors.</p>
<p>Anyway, let me know how it continues to go with your reading! Best of luck!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/2852">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-2852">poniedziałek, sierpień 6, 2012 - 17:47</a></span>
</div>
</div>
</div><a id="comment-2835"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/15a8a5e73b9def997db642e6ac60ad60?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>At the moment I'm doing more looking up words than anything else ,I'm almost having to translate every word,I think I've spent 12hours so far and I'm half way trough the 3rd page.its a lot more difficult than I thought it would be but I'm still very motivated to complete it .</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/2835">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Roy (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-2835">piątek, sierpień 3, 2012 - 02:04</a></span>
</div>
</div>
<div class="indented"><a id="comment-2847"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Roy,</p>
<p>Wow! Yeah, so long as you're still motivated to go for it, it really doesn't matter how long it takes you. I'm sure that with every hour invested, you are learning quite a bit. And that's really all that matters, that you are making progress and you have motivation to continue.</p>
<p>It is unfortunate, however, that you won't get to enjoy the "flow" of reading for a long time. It might be worth having something easier on the side, just for that. But that's up to you.</p>
<p>Definitely keep me up-to-date about your progress! Especially let me know if you start having any problems with your motivation - I can try and help you work through it.</p>
<p>Happy reading!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/2847">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-2847">poniedziałek, sierpień 6, 2012 - 11:40</a></span>
</div>
</div>
</div><a id="comment-2837"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://bookechoes.com" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/f66029de59a6fc9b5552def4c111d4e9?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>¡Me gusta mucho ver Bob Esponja en español! I love watching Spongebob in Spanish! It's fun, and having seen the episodes in English helps me learn new words and phrases.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/2837">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://bookechoes.com" rel="nofollow">Connie B. Dowell</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-2837">piątek, sierpień 3, 2012 - 10:53</a></span>
</div>
</div>
<div class="indented"><a id="comment-2848"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Connie!</p>
<p>Thanks for sharing! That's awesome that you found something for you. :-)</p>
<p>Best of luck with your Spanish!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/2848">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-2848">poniedziałek, sierpień 6, 2012 - 11:41</a></span>
</div>
</div>
</div><a id="comment-2863"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://musingopiningandcriticising.blogspot.com" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/8d43cbf402c2f2cc1b8c564d8f960e86?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>This is *such* a good post, and it's so important to read according to your level. Or, as you say, slightly above it. But most importantly, things that are interesting.</p>
<p>On my degree course, I learned Serbian/Croatian language. By the beginning of the second year (after about 80 language contact hours), we were expected to take a literature course and start reading literature in the native language. At this stage, I'd say most of us had decent-ish survival/conversational skills in the language - perhaps a little lower than we could/should have been, but that's another topic entirely!</p>
<p>The books we were expected to read were often quite long, and were generally classics in former Yugoslavia. We're talking often quite old books, some of them from the 15th-18th Century, as well as what would probably be viewed as modern classics. As you can imagine, many of these were dull as ditchwater - not to imagine really difficult, since they used outdated and complicated vocabulary and structures.</p>
<p>And we were expected to read one book a week - in addition to all our other language study.</p>
<p>Obviously, this was pretty unsustainable for most of us. Not only was it almost literally impossible to read that much material when we were looking up so many words, the difficulty made it really demotivating - and that's before you take into account how interesting poems about medieval knights are likely to be!</p>
<p>I, and many of my colleagues, ended up finding most of the books in translation and reading them that way, just to keep up with the class. Which eventually meant that from a language-learning point of view, the class was next to useless.</p>
<p>So, yeah, thanks for making me feel a little better about that crappy year!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/2863">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://musingopiningandcriticising.blogspot.com" rel="nofollow">SamB</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-2863">piątek, sierpień 10, 2012 - 08:12</a></span>
</div>
</div>
<div class="indented"><a id="comment-2864"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Sam!</p>
<p>Glad you liked the article. :-)</p>
<p>Wow, that's insane! 80 language contact hours and they had you reading classics from hundreds of years ago? Honestly, even after years with Polish I still can't read Mickiewicz (classic Polish literature from the 19th century). Oh, I will one day! ;-) But that's something for much further along in any language journey.</p>
<p>I just tried to search on your blog and see if you kept at Serbian afterward. From the "Serbia - what I did wrong" it seems like probably not?</p>
<p>Anyway, that definitely seems like a formative experience that has positively affected how you've been learning languages since. And that's something! :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/2864">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-2864">piątek, sierpień 10, 2012 - 08:22</a></span>
</div>
</div>
</div><a id="comment-2865"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://musingopiningandcriticising.blogspot.com" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/8d43cbf402c2f2cc1b8c564d8f960e86?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Thanks David :)</p>
<p>I haven't written much about Serbian on there (my Serbian experiences are all before I started my blog), but yeah, I haven't really actively kept it up. After four years of the course I was so utterly fed up of it, I just wanted out.</p>
<p>Now, with a bit of distance, I would consider making an effort with it again. I do still keep up with it to some extent, but nothing serious or dedicated. I listen to music and occasionally read newspaper articles, and I have a Serbian-speaking friend who I catch up with every so often and chat in Serbian with. </p>
<p>So I haven't really kept at it, but I do try and maintain it a little. And as you say, it definitely has affected how I've gone about learning Norwegian, and it's been a very positive thing in that regard.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/2865">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://musingopiningandcriticising.blogspot.com" rel="nofollow">SamB</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-2865">piątek, sierpień 10, 2012 - 08:40</a></span>
</div>
</div>
<a id="comment-2951"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://voice-over.org" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/e6ffd039d5889c63afb81242ada87349?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>I learned Spanish this way!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/2951">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://voice-over.org" rel="nofollow">Jason</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-2951">piątek, sierpień 31, 2012 - 11:17</a></span>
</div>
</div>
<div class="indented"><a id="comment-2963"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Awesome! Thanks for sharing!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/2963">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-2963">niedziela, wrzesień 2, 2012 - 15:51</a></span>
</div>
</div>
</div><a id="comment-2990"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/057bd8edaedb8c358e0398e26c9c1cba?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>David, thanks for this inspirational article. I'm an English learner and out here, students need to take at least six years of English course in school. A bunch of my friends even went to cram schools to learn more English aside from regular class/school time. But honestly I can say in general we just learned the textbook form English, by which I mean the material is basically overly formal or outdated. In this sense, we could get high scores in those exams/tests but ironically we could barely speak or converse with native speakers. Well, I restarted learning English after left school for almost ten years and in a completely different way. I heard a similar method you mentioned here and I did/do stick with it.  Obviously, using real materials, like popular novels/movies/shows as well as talking to native speakers, definitely helps me a lot. Over time, I've been making progress continually; surely sometimes I felt like I improved dramatically while sometimes I seemed to be stuck at a point but yea every time I was able to go through it somehow. Looking back, deep down I know I've done so much! By far, I've been doing well and  really confident in brushing this language up and would like to try this method on other languages too. Anyway, thanks for sharing and I'm so looking forward to your new posts. Cheers, Chen.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/2990">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Chen (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-2990">piątek, wrzesień 14, 2012 - 13:38</a></span>
</div>
</div>
<div class="indented"><a id="comment-2999"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Chen,</p>
<p>Thanks for the comment and sharing your story! I'm glad you were able to make a breakthrough with your English using a similar method. I wish you continued success with English and future success with other languages!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/2999">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-2999">środa, wrzesień 19, 2012 - 10:32</a></span>
</div>
</div>
</div><a id="comment-3351"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/3b3ebf22ed07958d6a0442f09d1edb43?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Witaj Davidzie :)<br/>
Mam do Ciebie pytanie.Chialaby sie dowiedziec, jaki przeskok zrobiles po przeczytaniu 1 cz. Harrego Pottera? Tzn zaczales czytac jako beginner, a skonczyles po pierwszej czesci jako intermediate, upperintermediate badz wyzej? Zalezy mi na bardzo szybkim poprawieniu mojego angielskiego, i zastanawiam sie czy w 4-5 msc moge przeskoczyc o level wyzej....wiem, ze dla chcacego nic trudnego, ale czasami sa rzeczy, ktore nas ograniczaja...<br/>
Pozdrawiam serdecznie ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/3351">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Es. (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-3351">środa, grudzień 19, 2012 - 06:12</a></span>
</div>
</div>
<div class="indented"><a id="comment-3352"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Co prawda nie jestem David, ale powiem Ci o moim doświadczeniach. Jeżeli zaczynasz bądź jesteś jeszcze na początku, to w 4-5 miesięcy jesteś w stanie zrobić ogromne postępy. Później potrzeba na prawdę wiele czasu by „dopieścić”, doszlifować język.</p>
<p>Ja to nazywam czasami „connecting the dots” i przypomina to krzywą postępu w nauce (na osi x jest czas, na osi y, postęp). Nie jestem dobry z matematyki, ale jest to podobne do logarytmu, z tym że zaczyna się od 0. Na początku robisz bardzo szybko duże postępy. Później dochodzimy do niemalże prostej i bardzo trudno to przeskoczyć.</p>
<p>Zresztą porównaj to do języka ojczystego. Gdybyś poświęciła chociaż 1 godzinę dziennie na czytanie książek, to minęłoby ogrom czasu zanim nowe słowa i wyrażenia stały się Twoją drugą naturą, aktywnym słownictwem - wiedziałabyś jak je używać i kiedy. Po prostu chodzi o „gęstość” (denisity), a raczej o to, że nowe jednostki powtarzałyby się bardzo rzadko.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/3352">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-3352">środa, grudzień 19, 2012 - 06:28</a></span>
</div>
</div>
<a id="comment-3361"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć!</p>
<p>Trudno powiedzieć dokładnie ale tak powiem: kiedy zacząłem czytać Harry'ego Pottera, wcale nie mogłem rozumieć ze słuchu albo powiedzieć pełnego zdania w realnym życiu. Potem byłem w stanie dużo rozumieć ze słuchu i rozmawiać - oczywiście z wieloma błędami. Więc była wielka zmiana!</p>
<p>Powtarzam to co napisał Wojtek: "w 4-5 miesięcy jesteś w stanie zrobić ogromne postępy." :-)</p>
<p>Mam nadzieję, że to pomoże!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/3361">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-3361">wtorek, grudzień 25, 2012 - 15:16</a></span>
</div>
</div>
</div><a id="comment-3359"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/3b3ebf22ed07958d6a0442f09d1edb43?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Dziekuje Wojtku za odpowiedz, moja znajomosc jezyka okreslam na B1, moze troche B2, ale widze, ze jescze duzo mi brakuje do....hmm...plynnosci.Kupilam ksiazke z audiobookiem, mam duzo ksiazek po angielsku w domu, i jestem ciekawa jaki progres w j.angielskim moze zrobic powiedzmy po 4-5 msc wglebiania sie w ten jakze uzyteczny jezyk...czy jest mozliwe zaczepienie sie o C1 po tych paru miesiacach?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/3359">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Es. (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-3359">wtorek, grudzień 25, 2012 - 14:45</a></span>
</div>
</div>
<div class="indented"><a id="comment-3360"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Szczerze to nie wiem, bo nie przykładam żadnej miary do tych oznaczeń: nauka powinna odbywać się dla przyjemności, nie dla egzaminów, certyfikatów, chyba, że konkretna sytuacja tego wymaga (np. wymaga tego zagraniczna uczelnia). Jest wiele osób, które pozdawały różne FCE, CAE czy inne egzaminy i tak na prawdę kiepsko sobie radzą z językiem. Dlaczego? Ponieważ ludzie przygotowują się pod ten czy inny egzamin, czytają książki jakie sztuczki zastosować, by go zdać, etc.</p>
<p>Moja rada to pracuj codziennie z tekstem przez godzinę dziennie. Ważne by był to tekst z audio - najpierw możesz jedynie czytać - później skup się w większości na audio. Nie wybieraj długich książek a krótkie readersy,np. Longmana (polecam!).</p>
<p>Ze swojej strony powiem, że postawiłem na osłuchiwanie się od marca tego roku i dziś, po prawie 10 miesiącach i na oko 300 godzinach audio mogę powiedzieć, że jest ogromna różnica! O ile na początku wydawało mi się, że nie dam rady słuchać bez tekstu przed oczami, to teraz praktycznie tylko słucham: tu 5, tu 10 minut, 20 minut podczas spaceru - więc słucham podczas czynności, które i tak wykonuję. Dzięki temu osłuchiwanie się to czysta przyjemność i nie jest to nużące (nie wyobrażam sobie siedzenia przez godzinę i słuchania). Ostatnio np. przesłuchałem książkę o tematyce psychologicznej - 7 godzin audio.<br/>
Aha: do każdego akcentu idzie się przyzwyczaić, bo na początku może się wydawać, że nigdy nie zrozumiemy tego czy innego lektora. Nic bardziej mylnego! To tylko kwestia czasu.</p>
<p>Pozdrawiam. Nie myśl jak zacząć, tylko zacznij. :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/3360">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-3360">wtorek, grudzień 25, 2012 - 15:15</a></span>
</div>
</div>
</div><a id="comment-4348"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2013/03/i-translated-all-the-words-but-i-still-dont-understand" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>[...] If you're encountering very many sentences like this, it probably means that the content you picked is too hard. [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/193/4348">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2013/03/i-translated-all-the-words-but-i-still-dont-understand" rel="nofollow">&amp;amp;quot;I translated all the words, but I still don&amp;amp;#0</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/is-this-bookmoviesong-too-hard-for-me#comment-4348">wtorek, kwiecień 2, 2013 - 12:24</a></span>
</div>
</div>
<div class="box">
<h2>Dodaj nową odpowiedź</h2>
<div class="content"><form accept-charset="UTF-8" action="/comment/reply/193" id="comment-form" method="post">
<div><div class="form-item" id="edit-name-wrapper">
<label for="edit-name">Nazwisko lub pseudonim: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-name" maxlength="60" name="name" size="30" type="text" value="Anonymous"/>
</div>
<div class="form-item" id="edit-mail-wrapper">
<label for="edit-mail">E-mail: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-mail" maxlength="64" name="mail" size="30" type="text" value=""/>
<div class="description">Zawartość pola nie będzie udostępniana publicznie. If you have a <a href="http://www.gravatar.com">Gravatar</a> account, used to display your avatar.</div>
</div>
<div class="form-item" id="edit-homepage-wrapper">
<label for="edit-homepage">Strona domowa: </label>
<input class="form-text" id="edit-homepage" maxlength="255" name="homepage" size="30" type="text" value=""/>
</div>
<div class="form-item" id="edit-comment-wrapper">
<label for="edit-comment">Odpowiedź: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<textarea class="form-textarea resizable required" cols="60" id="edit-comment" name="comment" rows="15"></textarea>
</div>
<ul class="tips"><li>Adresy internetowe są automatycznie zamieniane w odnośniki, które można kliknąć.</li><li>Dozwolone znaczniki HTML: &lt;a&gt; &lt;em&gt; &lt;strong&gt; &lt;cite&gt; &lt;code&gt; &lt;ul&gt; &lt;ol&gt; &lt;li&gt; &lt;dl&gt; &lt;dt&gt; &lt;dd&gt; &lt;blockquote&gt;</li><li>Znaki końca linii i akapitu dodawane są automatycznie.</li></ul><input id="form-b6f12a5a9aab9f23487d317404ff5796" name="form_build_id" type="hidden" value="form-b6f12a5a9aab9f23487d317404ff5796"/>
<input id="edit-comment-form" name="form_id" type="hidden" value="comment_form"/>
<div class="clear-block"><div class="form-item" id="edit-notify-wrapper">
<label class="option" for="edit-notify"><input checked="checked" class="form-checkbox" id="edit-notify" name="notify" type="checkbox" value="1"/> Notify me when new comments are posted</label>
</div>
<div class="form-radios"><div class="form-item" id="edit-notify-type-1-wrapper">
<label class="option" for="edit-notify-type-1"><input class="form-radio" id="edit-notify-type-1" name="notify_type" type="radio" value="1"/> All comments</label>
</div>
<div class="form-item" id="edit-notify-type-2-wrapper">
<label class="option" for="edit-notify-type-2"><input checked="checked" class="form-radio" id="edit-notify-type-2" name="notify_type" type="radio" value="2"/> Replies to my comment</label>
</div>
</div></div><input class="mollom-content-id" id="edit-mollom-contentId" name="mollom[contentId]" type="hidden" value=""/>
<input class="mollom-captcha-id" id="edit-mollom-captchaId" name="mollom[captchaId]" type="hidden" value=""/>
<div style="display: none;"><div class="form-item" id="edit-mollom-homepage-wrapper">
<input autocomplete="off" class="form-text" id="edit-mollom-homepage" maxlength="128" name="mollom[homepage]" size="60" type="text" value=""/>
</div>
</div><div class="description mollom-privacy">By submitting this form, you accept the <a class="mollom-target" href="//mollom.com/web-service-privacy-policy" rel="nofollow">Mollom privacy policy</a>.</div><input class="form-submit" id="edit-preview" name="op" type="submit" value="Podgląd"/>
</div></form>
</div>
</div>
</div>
