---
permalink: /blog/2012/07/nobody-will-laugh-at-you-really/
layout: blog-old
title: 'Nobody will laugh at you, really!'
day: 13
month: lip
year: 2012
category: language learning
tags: 
  - 'fear of speaking'
  - 'learner stories'
language: pl
translation: 
---
<div class="content">
<p><em>As <a href="http://www.linguatrek.com/blog/2012/05/3-super-simple-speaking-strategies">I wrote</a> a few weeks ago, I want to focus on the things <em>I didn't write about</em> in my <a href="http://www.linguatrek.com/blog/2012/04/3-steps-to-speaking-a-language-fluently-ebook-excerpt">ebook</a>, mainly: <a href="http://www.linguatrek.com/blog/2011/05/how-to-overcome-your-fear-of-speaking">fear of speaking</a> and strategies to practice speaking.</em></p>
<p><em>I'd also like to start sharing the stories of other learners. I get to hear your stories with language learning (usually in private e-mail). And you've already gotten to hear my story told 100 different ways. But you haven't gotten to hear each other's stories yet.</em></p>
<p><em>Today, we have a guest post from <a href="http://www.questforepicness.com/">Ilhan</a> - an aerospace engineering student in Munich, Germany and a reader of this blog - sharing his story and talking about his fear of speaking, what causes it along with strategies, advice and thoughts to help overcome it. Enjoy!</em></p>
<hr/>
<p style="text-align: center;"><a href="http://smg.photobucket.com/albums/v487/Aquilion/?action=view&amp;current=nobodywilllaughatyou.jpg" target="_blank"><img alt="Photobucket" border="0" src="http://img.photobucket.com/albums/v487/Aquilion/nobodywilllaughatyou.jpg"/></a><br/>Image courtesy of <a href="http://www.freedigitalphotos.net">FreeDigitalPhotos.net</a></p>
<p>It was happening again. My hands were shaking. My mouth was dry.  I stared at the ground. My shoulders dropped. My head bent in shame.  Just five minutes ago I had a great conversation with Francisco, one of my best buddies. The conversation was in Spanish, my “target language” for several years now.</p>
<p>But now my tongue was tied and my mind was cluttered. I couldn’t get a word out in Spanish.  Whenever I was spoken to I replied in German. I was ashamed of this fact. What was going on?</p>
<p><strong>Read more to find out!</strong></p>
<h2>The intruder</h2>
<p>Another Spanish speaker had joined us. I didn’t know him and this scared me. My self-confidence was gone. He didn’t know I was learning Spanish and I wasn’t sure if I should let him know. I could have said something in Spanish, become part of the new conversation and improved. But what if he laughed at me? What if he thought to himself:</p>
<blockquote>
<p><em>What a dork! Thanks for trying man, but you suck at Spanish!</em></p>
</blockquote>
<p>What if he made fun of me in front of people or behind my back? I’d feel like an idiot, a total loser! This was something serious and I didn’t want to mess up my "reputation."</p>
<p>Fast forward to a few days later. I was sitting in the basement of a dorm for Spanish speakers (Spain and South America). My friend Francisco was there and our homie from the other day (the Venezulano). </p>
<p>There were people from all parts of the Spanish-speaking world, Mexicans, Spaniards, etc. We were having a great conversationin Spanish! No shame, no worries, no fear. Just Spanish awesomeness.</p>
<h2>What just happened?</h2>
<p>Nobody was laughing at me. Nobody was making fun of me. People were having a genuine conversation with me and appreciating my hustle. See, the speakers of your target language will never ever laugh at you or mock you in a bad way.</p>
<h2>Love</h2>
<p>Basically, they love you.</p>
<p>Why? They are amazed that of all the languages of the world you chose theirs to study. They feel proud that you too feel this special connection with their culture and want to get to know their country. They enjoy the fact that there are other people who like their cuisine and they feel great being reassured they have the prettiest girls/boys. The reasons are endless but basically, they love you!</p>
<p>In all the years that I have been learning a foreign language (I speak five languages: Turkish, German, English, French, Spanish - more or less fluently) I have never been mocked or made fun of by native speakers. It just doesn’t happen.</p>
<p>When I injured my knee in Nerja, Spain, and had to jump on one foot to get out of the city center (no cars allowed there) to catch a taxi and get to a hospital, two Spanish grandmas spoke with me and were genuinely concerned. </p>
<p>Another example is when I filled my backpack with Spanish books and the shopkeeper couldn’t have had a bigger smile on her face (I like to think she was happy because of my appreciation for her language, not because I left some big bucks at that shop).</p>
<p>Everybody seemed to like the fact that I wasn’t your average tourist speaking ONLY my native language or English.  Whenever I was in France people were always complimenting my French skills, no matter how bad I was, because they really appreciated my effort and my will to learn their language (a note of caution: this is not true for Paris).</p>
<h2>A helping hand</h2>
<p>Most people like to help others. It’s a fact of life. You meet them on the street when you ask for directions, in a bar when you want to make friends or ask for the best drink and in all walks of life.</p>
<p>Most people I have met throughout my “language adventures” were even happier to help me to learn their language. They loved to talk to me in their own language, correct me whenever I made mistakes and were willing to show me their city and culture.</p>
<p>The very few folks who will not want to help you in your language studies are people that are not happy to help anyway. It is wise to avoid this kind of person in general as they will only take and not give. My highest maxim is to surround myself with people that give me love and therefore I try to give back as much love as I can.</p>
<p>So what if one jerk makes fun of you? Who cares? He is a jerk, will stay a jerk and probably die alone while you enjoy the great miracles that his country has to offer.</p>
<p>Funny fact: most people who make fun of language learners are those that are actually very jealous, because they too want to learn a foreign language but they think it is impossible. </p>
<p>They make fun of you because they want to be you - how great is that!</p>
<h2>Your game plan</h2>
<p>All this information is good, but what do you actually do with all of this? Theory without practice is worthless. So let’s put our theory (“People love you for learning their language and will not make fun of you”) into practice (go speak with somebody).</p>
<p>First of all, you should get yourself a <a href="http://www.skype.com">Skype</a> account if you haven’t set one up yet. This is very important as Skype allows you to voice chat with people from all over the world for free. </p>
<p>You might <a href="http://www.linguatrek.com/blog/2011/07/you-dont-need-to-live-in-a-foreign-country-to-learn">not live in the country</a> where your target language is spoken as a native language, not have a big community of native speakers of your language close by or you might just be shy and not willing/ready to go to talk to strangers on the street. These are all fair reasons.</p>
<p>Your second step is getting on <a href="http://www.interpals.net/">InterPals.Net</a> or any other online language exchange website (<em>David: <a href="http://www.linguatrek.com/blog/2011/11/how-to-practice-speaking-over-the-internet">I wrote</a> about a couple</em>) and setting up an account. InterPals is totally free and I have met many great gals and guys on there. It allows you to search for native speakers of your language who also want to learn your native language so you can have a beneficial exchange.</p>
<p>Look for speakers of your native language, checkout their profiles to see if you have things in common, and write them a message. Important thing here: write in the language you are learning! Don’t write in English or any other language! It is very important to establish the rules of engagement early on: no other language to be spoken than your target or your partner’s target language.</p>
<p>Start by writing messages first. It is easier to write and since you don’t have to think with a gun to your head you can take your time formulating your thoughts and getting to know your partner. Do you really click? Does it feel comfortable talking to him/her? How does it feel writing and reading your target language? Does your partner correct you when you make mistakes (important point)?</p>
<p>Once you have established a little rapport you can start talking for real (say: skyping). You have talked to your language partner for some time, gotten to know him/her a little bit and are ready to make the next step. Congratulations! This is a very good way of getting some real-world practice under your belt and you shouldn’t underestimate this step. Don’t skip it.  Don’t think to yourself:</p>
<blockquote>
<p><em>Ohh well I am really good at reading and writing, if need be I’ll be understood and understand others.</em></p>
</blockquote>
<p>No, you won’t! As long as you do not get real world exposure to a spoken language with all its benefits and drawbacks, you will not be able to understand people when they speak to you (only exception: if they pretend you are a baby - but you don’t want to be a baby, do you?)!</p>
<p>Nike’s motto is pretty accurate here: Just do it!</p>
<h2>Conclusion</h2>
<p>Language learning really is not as hard as it seems if you follow a few simple rules. You obviously want to learn a language and are ready to take the necessary steps.  Plus, you came to the right place for your info since David has some legit advice you should consider listening to!</p>
<p>Learning a foreign language can be daunting, scary and mysterious - but it need not be. You don’t need to be scared that people who speak your target language will make fun of you. Quite the contrary, they will love you for learning their language and be willing to help you on your way. The only thing you need to do is go out there and start speaking - believe me, it will put your language learning on turbo!</p>
<p><em>Ilhan is an aerospace engineering major, language lover and travel freak. He is on his own <a href="http://www.questforepicness.com">Quest for Epicness</a>.</em></p>
</div>

<div id="comments">
<a id="comment-2717"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/15a8a5e73b9def997db642e6ac60ad60?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>the problem i have is that when i start speaking to polish to a polish person usually thay will say a word i dont know and the conversation stops.Or i may say something that is not the correct grammar but thay will understand me but obviously they will reply with the correct grammar and it may be a word ending that ive never heard before and it makes the whole sentence sound different to me.Anything with the dative case also is really difficult for me to understand as an english speaker,i always say something like do ciebie instead of ci.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/187/2717">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Roy (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/nobody-will-laugh-at-you-really#comment-2717">niedziela, lipiec 15, 2012 - 08:55</a></span>
</div>
</div>
<div class="indented"><a id="comment-2741"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Roy!</p>
<p>I think the first problem could be helped just by having a good strategy for when you don't know a word. I'd recommend: interrupting them as soon as you realize you don't know it or can't guess it from context and ask for an explanation (in Polish, of course). Letting things move too far along just makes it more difficult and unnatural.</p>
<p>If you have a trouble asking what something means, I sometimes like to say back what I think they meant and then let them correct me. Usually with phrases like: "To znaczy, że ..." or "Więc masz na myśli ..."</p>
<p>I don't think people responding with the correct grammar is a problem really, you just have to get used to it. :-) This is actually my favorite way to get corrections! When people try to correct you directly it ends up messing up the flow of the conversation and it can be hard sometimes to get back to it.</p>
<p>Yeah, the dative is difficult because it's used really rarely in Polish (at least when compared to other slavic languages like Russian) so you get fewer examples. But messing up Ciebie and Ci is usually still understandable because it's rare that both would make sense in a particular context.</p>
<p>I hope that helps!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/187/2741">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/nobody-will-laugh-at-you-really#comment-2741">czwartek, lipiec 19, 2012 - 10:29</a></span>
</div>
</div>
<div class="indented"><a id="comment-2743"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/15a8a5e73b9def997db642e6ac60ad60?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>hi david<br/>
did you get my message about the harry potter audio?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/187/2743">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Roy (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/nobody-will-laugh-at-you-really#comment-2743">czwartek, lipiec 19, 2012 - 10:42</a></span>
</div>
</div>
<div class="indented"><a id="comment-2744"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Yeah, just replied. I'm really behind on comments and e-mails - I've got a couple hundred I'm going to try and get through today. :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/187/2744">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/nobody-will-laugh-at-you-really#comment-2744">czwartek, lipiec 19, 2012 - 10:59</a></span>
</div>
</div>
</div></div></div><a id="comment-2718"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.questforepicness.com" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/c810ac6700e41698d25f549d4b97d7dc?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>The conversation doesn't have to stop there. If they use a word you don't know, you can just ask what it means. They will try to describe it, and if you still don't understand it who cares keep talking. Things like that happen in a normal conversation, too.</p>
<p>The help with the grammar point is awesome, because you learn the usage right there. If you use it wrong enough times and they correct you enough times you will always remember that.<br/>
So this is a great "excercise".</p>
<p>I don't see why the conversation has to stop there, you can keep going :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/187/2718">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.questforepicness.com" rel="nofollow">Ilhan</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/nobody-will-laugh-at-you-really#comment-2718">niedziela, lipiec 15, 2012 - 09:45</a></span>
</div>
</div>
<div class="box">
<h2>Dodaj nową odpowiedź</h2>
<div class="content"><form accept-charset="UTF-8" action="/comment/reply/187" id="comment-form" method="post">
<div><div class="form-item" id="edit-name-wrapper">
<label for="edit-name">Nazwisko lub pseudonim: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-name" maxlength="60" name="name" size="30" type="text" value="Anonymous"/>
</div>
<div class="form-item" id="edit-mail-wrapper">
<label for="edit-mail">E-mail: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-mail" maxlength="64" name="mail" size="30" type="text" value=""/>
<div class="description">Zawartość pola nie będzie udostępniana publicznie. If you have a <a href="http://www.gravatar.com">Gravatar</a> account, used to display your avatar.</div>
</div>
<div class="form-item" id="edit-homepage-wrapper">
<label for="edit-homepage">Strona domowa: </label>
<input class="form-text" id="edit-homepage" maxlength="255" name="homepage" size="30" type="text" value=""/>
</div>
<div class="form-item" id="edit-comment-wrapper">
<label for="edit-comment">Odpowiedź: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<textarea class="form-textarea resizable required" cols="60" id="edit-comment" name="comment" rows="15"></textarea>
</div>
<ul class="tips"><li>Adresy internetowe są automatycznie zamieniane w odnośniki, które można kliknąć.</li><li>Dozwolone znaczniki HTML: &lt;a&gt; &lt;em&gt; &lt;strong&gt; &lt;cite&gt; &lt;code&gt; &lt;ul&gt; &lt;ol&gt; &lt;li&gt; &lt;dl&gt; &lt;dt&gt; &lt;dd&gt; &lt;blockquote&gt;</li><li>Znaki końca linii i akapitu dodawane są automatycznie.</li></ul><input id="form-5102e3eef6cd6cb8474617df3d757208" name="form_build_id" type="hidden" value="form-5102e3eef6cd6cb8474617df3d757208"/>
<input id="edit-comment-form" name="form_id" type="hidden" value="comment_form"/>
<div class="clear-block"><div class="form-item" id="edit-notify-wrapper">
<label class="option" for="edit-notify"><input checked="checked" class="form-checkbox" id="edit-notify" name="notify" type="checkbox" value="1"/> Notify me when new comments are posted</label>
</div>
<div class="form-radios"><div class="form-item" id="edit-notify-type-1-wrapper">
<label class="option" for="edit-notify-type-1"><input class="form-radio" id="edit-notify-type-1" name="notify_type" type="radio" value="1"/> All comments</label>
</div>
<div class="form-item" id="edit-notify-type-2-wrapper">
<label class="option" for="edit-notify-type-2"><input checked="checked" class="form-radio" id="edit-notify-type-2" name="notify_type" type="radio" value="2"/> Replies to my comment</label>
</div>
</div></div><input class="mollom-content-id" id="edit-mollom-contentId" name="mollom[contentId]" type="hidden" value=""/>
<input class="mollom-captcha-id" id="edit-mollom-captchaId" name="mollom[captchaId]" type="hidden" value=""/>
<div style="display: none;"><div class="form-item" id="edit-mollom-homepage-wrapper">
<input autocomplete="off" class="form-text" id="edit-mollom-homepage" maxlength="128" name="mollom[homepage]" size="60" type="text" value=""/>
</div>
</div><div class="description mollom-privacy">By submitting this form, you accept the <a class="mollom-target" href="//mollom.com/web-service-privacy-policy" rel="nofollow">Mollom privacy policy</a>.</div><input class="form-submit" id="edit-preview" name="op" type="submit" value="Podgląd"/>
</div></form>
</div>
</div>
</div>
