---
permalink: /blog/2012/07/thank-you-if-we-get-200-ill-shave-off-my-beard/
layout: blog-old
title: 'Thank you! If we get 200% - I''ll shave off my beard. :-)'
day: 9
month: Jul
year: 2012
category: personal
tags: 
  - 'BiblioBird'
  - 'PolakPotrafi.pl'
language: en
translation: /blog/2012/07/vlog-dzi%C4%99kujemy-je%C5%9Bli-osi%C4%85gniemy-200-zgol%C4%99-brod%C4%99/
---
<div class="content">
<p>Two weeks ago, <a href="http://www.linguatrek.com/blog/2012/06/buy-our-product-to-help-us-create-it-our-dream-is-sooo-close">we began</a> the presale of our first paid product on PolakPotrafi.pl. We were able to acheive our original goal of 10.000 PLN (about $2900) in <strong><em>only two days!</em></strong></p>
<p>Because crowdfunding is not very well known or trusted in Poland - this means we actually broke the record for crowdfunding in Poland. For the time being, we are the fasted project funded to 100%. <em>(Hopefully, some other awesome project will beat us in not too long!)</em></p>
<p><strong>There's one more week left in our project and (as <a href="http://www.linguatrek.com/blog/2012/06/presale-at-94-more-opportunities-to-become-a-founding-member">I said</a> a bit ago) I'm adding a new goal</strong>: If we reach 200% or 20.000 PLN (about $5800) by 2012-07-16, I'll shave off my beard. We already have 154%!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/RjYt2xmDjX4?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/RjYt2xmDjX4?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p><strong>The video is in Polish but there are English subtitles (click the "CC" on the bottom right).</strong> <em>I recommend it!</em> My wife and I had a lot of fun recording this one.</p>
<p><strong>Here is our <a href="http://polakpotrafi.pl/projekt/Bibliobird/">project page on PolakPotrafi.pl</a>.</strong> If you want to contribute, but don't speak Polish - check out <a href="http://www.youtube.com/watch?v=-XFEND9dHDg">this video</a>.</p>
<p>Here are the links I mention in the film about the record we broke (in Polish):</p>
<ul>
<li><a href="http://blog.polakpotrafi.pl/post/26131802776/rekordowy-projekt-jezyk-angielski-z-prawdziwego">Rekordowy projekt - "Język angielski z prawdziwego życia"</a>
</li><li><a href="http://crowdfunding.pl/2012/06/29/polacy-na-zagranicznym-portalu-i-obcokrajowcy-na-polskim-portalu/#.T_rKpqScgxU">Polacy na zagranicznym portalu i obcokrajowcy na polskim portalu</a></li>
</ul>
<p><strong>Read more for the transcript!</strong></p>
<h2><a name="transcript">Transcript</a></h2>
<ul>
<li>Dzień dobry</li>
<li>Znowu przed kamerą internetową mówi David Snopek</li>
<li>Dwa tygodnie temu rozpoczął się nasz projekt na stronie PolakPotrafi.pl</li>
<li>Zbieramy pieniądze, żeby stworzyć płatny pakiet tekstów do nauki języka angielskiego z pomocą Bibliobirda</li>
<li>Bibliobird - krótko mówiąc - jest darmową, open source-ową aplikacją webową do nauki języków</li>
<li>Korzystając z tej samej metody, którego użyłem, żeby nauczyć się języka polskiego</li>
<li>Jeśli chcecie dowiedzieć się więcej, zapraszam do oglądania <a href="http://www.youtube.com/watch?v=J43EmWBbWAE">filmiku</a>, który nagraliśmy dla PolakPotrafi</li>
<li>Ten filmik ma ponad 50 tysięcy wyświetleń</li>
<li>To jest najwięcej wyświetleń z wszystkich moich filmików do tej pory</li>
<li>W wielkiej mierze to dzięki pomocy subskrybentów mojego blogu oraz użytkowników Wykopu i JoeMonster</li>
<li>Dziękujemy Wszystkim serdecznie za podzielenie się tym linkiem z znajomymi</li>
<li>Bez tego to nie mogłoby być możliwe</li>
<li>Nasz pierwotny cel, był 10 tysięcy złotych</li>
<li>Który osiągnęliśmy w ciągu tylko dwóch dni</li>
<li>Co znaczy, że pobiliśmy rekord crowdfundingu w Polsce</li>
<li>To po prostu niesamowicie!</li>
<li>Nie spodziewałem się, że pójdzie tak dobrze, tak szybko</li>
<li>Parę arkułów w polskim internecie zostało napisane o naszym projekcie z tego powodu</li>
<li>Są linki w opisie</li>
<li>Już mamy ponad 15 tysięcy złotych</li>
<li>Co znaczy, że na pewno to zrobimy</li>
<li>Że na pewno stworzymy ten pierwszy pakiet tekstów</li>
<li>Że spróbujemy zrealizować nasze marzenie</li>
<li>Dziękuję Wszystkim za wsparcie</li>
<li>I nie tylko wsparcie pieniężne</li>
<li>Również za otuchy, które nam dodaliście</li>
<li>To wiele dla nas znaczy</li>
<li>Jeszcze raz dziękujemy</li>
<li>Projekt na PolakPotrafi będzie trwa jeszcze tydzień</li>
<li>Do końca szestanstego lipca</li>
<li>Do tej daty możecie kupić m.in. ten płatny produkt taniej, niż będziemy go sprzedawać w przyszłości</li>
<li>I nadal jest możliwość, żeby zostać "założycielem" Bibliobirda</li>
<li>Założyciele dostaną nie tylko ten pierwszy płatny produkt, ale wszystkie, które kiedykolwiek stworzymy w przyszłości</li>
<li>I w zamian za to, będą nam pomagali w tworzeniu i testowaniu wszystkich produktów</li>
<li>Po zakończeniu tego projektu na PolakPotrafi, nigdy więcej nie będziemy sprzedawać możliwości, żeby zostać założycielem</li>
<li>Będziemy musieli skupić się na tworzeniu i sprzedaży samych produktów</li>
<li>I mamy wiele planów na przyszłość</li>
<li>Planujemy stworzyć więcej produktów nie tylko do nauki języka angielskiego ale też innych języków</li>
<li>Również chcielibyśmy przygotować całe książki do nauki z pomocą Bibliobirda</li>
<li>Nie tylko takie pakiety tekstów</li>
<li>I wiele, wiele innych planów</li>
<li>Już osiągnęliśmy nasz pierwszy cel</li>
<li>Ale dodatkowe pięniądze na pewno przyjdadzą się projektowi</li>
<li>Ponieważ to zmniejszy ryzyko i dla nas i dla "założycieli"</li>
<li>Już mamy dość pieniędzy, żeby stworzyć ten pierwszy produkt</li>
<li>I mamy wielkie plany</li>
<li>Ale nie możemy gwarantować, ile będzie kolejnych produktów</li>
<li>To wszystko zależy od sukcesu naszych produktów na rynku</li>
<li>To dlatego, że podam nowy cel</li>
<li>Jeśli zbieramy 20 tysięcy złotych</li>
<li>To znaczy, że będziemy mieli dość pieniędzy, żeby stworzyć przynajmniej dwa produktów nawet bez żadnych innych zarobków</li>
<li>Też podam nową nagrodę</li>
<li>Jeśli osiągniemy ten drugi cel, zgolę brodę i zrobię filmik tego</li>
<li>Od lat niektórzy fanowie prosili mnie o to</li>
<li>Prawdę mówiąc nie rozumiem dlaczego</li>
<li>Ale to nie ważne</li>
<li>Jeden fan nawet stórzył ten obrazek może roku temu</li>
<li>Tylko byłem bez brody raz jako dorosły</li>
<li>Miałem przynajmniej wąsy od kiedy miałem 14 lat</li>
<li>Więc to będzie coś naprawdę wyjątkowego</li>
<li>Muszę się przyznać nawet, że nie chcę ogolić się</li>
<li>Moja żona nie chce, żebym to zrobił</li>
<li>Ale jeśli to jakoś pomogłoby nam osiągnać sukces z tym projektem</li>
<li>Zrobilibyśmy wszystko</li>
<li>Więc jeszcze raz prosimy o wsparcie</li>
<li>Proszę zmusić mnie do ogolenia się</li>
<li>Dziękuję za uwagę</li>
<li>Do widzenia</li>
</ul>
</div>

<div id="comments">

</div>
