---
permalink: /blog/2012/07/vlog-golenie-brody/
layout: blog-old
title: 'Vlog: Golenie brody!'
day: 21
month: Jul
year: 2012
category: personal
tags: 
  - 'BiblioBird'
  - 'PolakPotrafi.pl'
  - 'vlog'
language: en
translation: 
---
<div class="content">
<p>Tak jak <a href="http://www.linguatrek.com/blog/2012/07/vlog-dzi%C4%99kujemy-je%C5%9Bli-osi%C4%85gniemy-200-zgol%C4%99-brod%C4%99">powiedziałem</a>: jeśli osiągniemy 200% naszego celu <a href="http://polakpotrafi.pl/project/Bibliobird">na PolakPotrafi.pl</a>, zgolę brodę. I to zrobiłem!</p>
<p><strong>Dziękuję Wszystkim za wsparcie!</strong></p>
<p>Rozpocząłem <a href="http://en.bibliobird.com/wiki/Thank_you_for_your_support">stronę na Bibliobirdzie</a> z oficjalnymi podziękowaniami ale niestety ponad połowa wspierających jeszcze nie odpowiadało na <a href="http://www.linguatrek.com/blog/2012/07/przedsprzeda%C5%BC-bibliobirda-jest-udana-216-co-dalej">email Karoliny!</a> Musisz odpowiedzieć, żeby dostać podziękowania, pocztówkę albo odznakę na profilu.</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/dpa5iQS1mdk?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/dpa5iQS1mdk?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Nagrywanie tego filmiku było bardzo zabawne! Sam początek i koniec są po polsku ale reszta jest po angielsku bo to jest język, którym zwykle z żoną rozmawiamy ze sobą.</p>
<p><strong>Proszę mi powiedzcie co myślicie o moim wyglądzie bez brody w komentarzach!</strong></p>
</div>

<div id="comments">
<a id="comment-2756"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d0ec7dbdd1ead7fb16d8425d4b95d09d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Po ogoleniu wyglądasz podobnie do Davida Snopka, tylko że bez brody! ;-) Brzmi dziwnie, ale pierwsza myśl, jaka mi się nasunęła po Twoim goleniu, to: "David kogoś przypomina, ale nie mogę sobie teraz przypomnieć, kto to jest". Po dłuższym namyśle sądzę jednak, że to tylko takie złudzenie i jedyną osobą, z którą mi się kojarzysz, to David Snopek 10 minut wcześniej, z zarostem.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/192/2756">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kamil (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/vlog-golenie-brody#comment-2756">Saturday, July 21, 2012 - 10:51</a></span>
</div>
</div>
<a id="comment-2757"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/5b6c490f6344446c5916feab109c6d72?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Odmłodniałeś ;D Ale jednak broda to taki Twój znak rozpoznawczy także aby to był pierwszy i ostatni raz ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/192/2757">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kasia (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/vlog-golenie-brody#comment-2757">Saturday, July 21, 2012 - 11:24</a></span>
</div>
</div>
<a id="comment-2758"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8e0c38205f32e937967de91448523405?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Według mnie, broda do Ciebie pasowała, ale mówiąc szczerze, tak krótsza broda (w trakcie golenia)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/192/2758">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">sbt (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/vlog-golenie-brody#comment-2758">Saturday, July 21, 2012 - 11:26</a></span>
</div>
</div>
<a id="comment-2759"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/2d3e4e37869793b57dd702acfbb1b307?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Woow! Wyglądasz o wiele młodziej! Zupełnie inaczej :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/192/2759">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Klaudia (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/vlog-golenie-brody#comment-2759">Saturday, July 21, 2012 - 12:05</a></span>
</div>
</div>
<a id="comment-2760"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://auditlog.pl" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a1dbdfa9e7e5dab7d26c11bce62bb7cf?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Gratuluję odwagi mimo wszystko!:)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/192/2760">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://auditlog.pl" rel="nofollow">Przemysław Żyła</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/vlog-golenie-brody#comment-2760">Saturday, July 21, 2012 - 13:08</a></span>
</div>
</div>
<a id="comment-2761"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/47fab4b41d091115a25626cb804e54cd?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witaj,<br/>
Twoja bródka była słodka i bardzo charakterystyczna. Teraz wyglądasz o jakieś 8 lat młodziej. Moim zdaniem, to wersja pośrednia (czyli niewielki zarost) jest najlepsza. Gratuluję odwagi.</p>
<p>A jeśli chodzi o maile, to u mnie znalazł się on w spamach. Nie wiem dlaczego tak się stało, że został tak "przechwycony" przez skrzynkę, ale najważniejsze, że tam zajrzałam. Może u innych też tak się stało.<br/>
Pozdrawiam</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/192/2761">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">lux (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/vlog-golenie-brody#comment-2761">Saturday, July 21, 2012 - 13:43</a></span>
</div>
</div>
<a id="comment-2762"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4cab7150154e27b626f0191af1a4a462?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>hmm no teraz też ok, ale chyba najlepiej w krótkiej brodzie, tej w trakcie golenia!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/192/2762">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">mirkos (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/vlog-golenie-brody#comment-2762">Saturday, July 21, 2012 - 14:46</a></span>
</div>
</div>
<a id="comment-2763"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/866eee6d18fde213a58eda8e64588f41?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>wyglądasz trochę inaczej :) wyglądasz młodziej bez brody :P moim zdaniem to i lepiej bo człowiek niestety starzeję się i za kilka lat się przekonasz (tak jak wszyscy)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/192/2763">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">z polski (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/vlog-golenie-brody#comment-2763">Saturday, July 21, 2012 - 16:35</a></span>
</div>
</div>
<a id="comment-2764"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/306a9af965dd63f435276f5b8ae8cf89?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Wyglądasz młodziej:)chociaż broda do Ciebie pasowała, ale mówiąc szczerze, tak krótsza broda jak w trakcie golenia.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/192/2764">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">justyna (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/vlog-golenie-brody#comment-2764">Sunday, July 22, 2012 - 03:06</a></span>
</div>
</div>
<a id="comment-2765"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3edaefc3d69a4bf6a0e4b474303c6d06?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć David<br/>
Zbyt długa broda wydłużała twarz, więc moim zdaniem, nie był to estetyczny wygląd. Jednak bez brody i wąsów jest dziwnie...<br/>
Uważam, że najlepszym rozwiązaniem dla Ciebie jest hodowla maksymalnie 1-tygodniowego zarostu.<br/>
Pozdrawiam Ciebie i Carrie - Anna Z.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/192/2765">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anna Z. (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/vlog-golenie-brody#comment-2765">Sunday, July 22, 2012 - 05:42</a></span>
</div>
</div>
<a id="comment-2768"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f197639a3b31753c85121c67daa04814?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Na początku zastanawiałem się czy to naprawdę ty :) przyzwyczaiłem się do twojej brody i moim zdaniem lepiej w niej wyglądasz natomiast ostrzyżenie włosów było dobrym posunięciem no i gratuluję odwagi i sukcesu w projekcie mam nadzieję, że twoje przyszłe projekty również okażą się sukcesem. Pozdrawiam</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/192/2768">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Łukasz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/vlog-golenie-brody#comment-2768">Sunday, July 22, 2012 - 10:23</a></span>
</div>
</div>
<a id="comment-2769"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3b1f3db8ed117064bb97f66e0987e572?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>David, wyglądasz jak niemowlak. :D</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/192/2769">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Bett (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/vlog-golenie-brody#comment-2769">Sunday, July 22, 2012 - 16:49</a></span>
</div>
</div>
<a id="comment-2771"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8dc8d25c5760aabee2a76490f180e363?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>You are so crazy!!! :)Ale zabawa z tym obcinaniem.. Zgadzam się z poprzednikami że najlepiej wyglądałes w okolicach 4 min filmiku :)Broda -TAK ale zdecydowanie krótsza! Super :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/192/2771">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">cami (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/vlog-golenie-brody#comment-2771">Monday, July 23, 2012 - 03:59</a></span>
</div>
</div>
<a id="comment-2777"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/2a9944bf68840a123ba90f96432aa4e2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>You actually look better without beard than with you long beard (my personal view) - I have a beard but I look strange without one</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/192/2777">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">gumishu (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/vlog-golenie-brody#comment-2777">Tuesday, July 24, 2012 - 08:39</a></span>
</div>
</div>
<a id="comment-3093"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://example.com/podstrona." title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/abeab2c8f9e0f440cac4ce6b2424818f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hiiii  :)</p>
<p>Zalecałabym wąsa ,nie takiego jak Piłsudski heee,lecz delikatnego,niewielkiego wąsika..broda? hmm nie koniecznie,a jeśli już tak bardzo tęsknisz za nią,zdecyduj się na króciutką:)<br/>
Pozdrowionka!</p>
<p>hmmm..ciekawe czy przetłumaczysz te zdrobnienie:)) Polacy słyną z tego.<br/>
A teraz uciekam na kawkę i deserek z bitą śmietanką i truskaweczkami:))</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/192/3093">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://example.com/podstrona." rel="nofollow">magda</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/vlog-golenie-brody#comment-3093">Thursday, October 11, 2012 - 03:18</a></span>
</div>
</div>
<div class="indented"><a id="comment-3094"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Ależ Piłsudski miał fantastyczne wąsy! Niestety takie nie są modne w obecnych czasach. ;-) Takie zdrobnienia nie sprawiają mi żadnych problemów.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/192/3094">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/vlog-golenie-brody#comment-3094">Thursday, October 11, 2012 - 08:27</a></span>
</div>
</div>
</div>
</div>
