---
permalink: /blog/2012/07/vlog-shaving-off-my-beard/
layout: blog-old
title: 'Vlog: Shaving off my beard!'
day: 21
month: Jul
year: 2012
category: personal
tags: 
  - 'BiblioBird'
  - 'PolakPotrafi.pl'
  - 'vlog'
language: en
translation: /blog/2012/07/vlog-golenie-brody/
---
<div class="content">
<p>Like <a href="http://www.linguatrek.com/blog/2012/07/thank-you-if-we-get-200-ill-shave-off-my-beard">I said</a>: if we reached 200% of our goal <a href="http://polakpotrafi.pl/project/Bibliobird">on PolakPotrafi.pl</a>, I'd shave off my beard. And I did it!</p>
<p><strong>Thank you everyone for your support!</strong></p>
<p>I started a <a href="http://en.bibliobird.com/wiki/Thank_you_for_your_support">page on Bibliobird</a> with the official "thank yous" but unfortunately, more than half of the supporters still haven't responded to <a href="http://www.linguatrek.com/blog/2012/07/bibliobird-presale-is-a-success-216-whats-next">Karolina's e-mail!</a> You need to respond in order to get your "thank you", postcard or badge on your profile.</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/dpa5iQS1mdk?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/dpa5iQS1mdk?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>This video was a lot of fun to record! The very beginning and ending are in Polish but the rest is in English because this is the language that my wife and I usually interact in.</p>
<p><strong>Please let me know what you think of me without my beard in the comments!</strong></p>
</div>

<div id="comments">
<a id="comment-2766"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/92dc3ffb9b34dead8df16be81f7cb686?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>10 years younger :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/191/2766">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Mariusz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/vlog-shaving-off-my-beard#comment-2766">Sunday, July 22, 2012 - 06:27</a></span>
</div>
</div>
<a id="comment-2767"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>You seem to have very soft beard. After a week I have irritations on my face. :)</p>
<p>The second issue is that, it is very interesting that people who spoke different languages sound different when they talk. And I mean the tone. It’s as if I was listening to two David Snopeks. :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/191/2767">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/vlog-shaving-off-my-beard#comment-2767">Sunday, July 22, 2012 - 08:31</a></span>
</div>
</div>
<div class="indented"><a id="comment-2788"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hehe, yeah, about the different tones is very true. I'm not entirely sure what causes that. When I'm speaking Polish I try to sound the way Polish people sound to me - but obviously I don't accomplish it very well because people easily recognize that I'm not Polish. :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/191/2788">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/07/vlog-shaving-off-my-beard#comment-2788">Wednesday, July 25, 2012 - 11:35</a></span>
</div>
</div>
</div><a id="comment-2773"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/105ec4d55f7f7b95861f3176b30969b4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Szczerze mowiac David, z broda bylo ci dobrze ale troche archaicznie jak z ksiazki Slowackiego.Teraz Carrie bedzie miala wrazenie ze zmienila meza. Mysle ze na dobrze wyjdzie.</p>
<p>gratulacje z odniesionego sukcesu</p>
<p>hi<br/>
greg</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/191/2773">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">franekjozefa (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/07/vlog-shaving-off-my-beard#comment-2773">Monday, July 23, 2012 - 12:04</a></span>
</div>
</div>
</div>
