---
permalink: /blog/2012/03/about-me-and-my-mission/
layout: blog-old
title: 'About me (and my mission)'
day: 20
month: Mar
year: 2012
category: LinguaTrek (11)
tags: 
  - 'personal'
language: en
translation: /blog/2012/03/o-mnie-i-mojej-misji/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/03/me.jpg" rel="lightbox"><img alt="Portrait of David" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/03/me.jpg" title=""/></a></div>
<p><strong>I just realized I don't have a page on my blog where I really introduce myself and explain why I'm doing what I'm doing. :-)</strong></p>
<p>I've been writing and recording videos about language learning, Polish, and American culture for more than three years and, if you've been following along, you already know my whole story - <em>but not WHY I do this!</em></p>
<p><strong>(For my long-time fans: there is also a photo of me with long hair in the full article below. Check it out!)</strong></p>
<p>If you don't know me, here's a quick <em>official</em> bio:</p>
<blockquote>
<p>David Snopek is an American entrepreneur, programmer, language teacher, and language learner born and raised in Milwaukee, WI.  Though his last name is, in fact, Polish (due to distant Polish ancestors who immigrated to the USA about 100 years ago), he grew up speaking only one language: English.</p>
<p>As an adult, David was able to achieve a rather high level of proficiency in Polish using a non-traditional method.  Inspired by his success in language learning, he created <a href="http://www.linguatrek.com/">Linguatrek</a> to share the experience with others, and <a href="http://www.bibliobird.com">Bibliobird</a>, a web application to help Poles learn English.</p>
</blockquote>
<p><strong>I was reluctant to write this article because I knew it would lead to talking about "my mission."</strong></p>
<p>To be honest, I <em>do</em> have a mission, but I felt nervous saying so.  Big corporations and politicians have missions - and, to say it nicely, they are usually bulls**t. ;-)</p>
<p>So, I was worried that you might think my mission is bulls**t too.  But language learning is <a href="http://www.linguatrek.com/blog/2012/01/vlog-skupianie-si%C4%99-na-tym-co-jest-dla-mnie-wa%C5%BCne">my true passion</a> and I felt it was finally time to share this with you.</p>
<p><strong>Read more for more information about my mission!</strong></p>
<h2>My mission</h2>
<p>My mission is to:</p>
<ul>
<li><strong>Motivate you to learn foreign languages and experience other cultures.</strong> <p style="margin: 1em">This can help you get a better job, broaden your perspective, get you in touch with your roots, allow you to have amazing travels, and enrich your life in general.</p></li>
<li><strong>Dispel the misconceptions that lead you to believe that you can't learn languages or a particular language.</strong> <p style="margin: 1em">Many people think you need to have "<a href="http://www.linguatrek.com/blog/2011/03/you-dont-need-talent-to-learn-a-language">a talent for languages</a>."  Or that <a href="http://www.linguatrek.com/blog/2011/07/you-dont-need-to-live-in-a-foreign-country-to-learn">you have to live in the country</a> where the language is spoken.  Or that memorizing confusing <a href="http://www.linguatrek.com/blog/2011/03/language-learning-is-more-like-karate-than-math">grammar rules is essential</a>.  Or that some languages are <a href="http://www.linguatrek.com/blog/2010/11/polish-is-not-the-hardest-language-in-the-world">drastically harder than others</a>.  Or that you're too old to learn a language.  <strong>All of these things are false: anyone can learn any language!</strong></p></li>
<li><strong>Show you how to learn another language in an enjoyable, fast and effective way.</strong> <p style="margin: 1em">There isn't only one right method for learning a language.  Some methods will be <a href="http://www.linguatrek.com/blog/2011/03/the-three-ingredients-for-successful-language-learning#efficient-method">more efficient</a> than others.  But the best method for you depends a lot on YOU, and your personal preferences.  I want to help you find <em>your method</em>.</p></li>
</ul>
<p><strong>Why?</strong></p>
<p><em>Because I've been there: I once needed the same type of help and advice!</em></p>
<h2>My failures</h2>
<p><strong><em>The truth is that I failed to learn several languages before I ultimately succeeded in learning Polish.</em></strong></p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/03/mexicandoll.jpg" rel="lightbox"><img alt="Mexican doll" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/03/mexicandoll.jpg" title="Photo by Fabián Everardo Alvarez Navarro"/></a><div class="caption"><a href="http://www.flickr.com/photos/fabalv/244029097/in/photostream/">Photo</a> by <a href="http://www.flickr.com/people/fabalv/">Fabián Everardo Alvarez Navarro</a></div></div>
<p>Like many Americans, I studied Spanish in grade school and high school.  For a total of six years, I played games, sang songs, learned a ton of grammar, and took some tests.  I did everything the teacher said and actually got very good scores.  But like most of my peers, I failed to learn how to do more than pass a grammar test.  <strong>After SIX years!</strong></p>
<p>I talk to people <em>every day</em> who had the same experience with Spanish or English or French or whatever they were learning.  They studied in school for 5 or 10 or 15 years, but they still can't order in a restaurant or watch a movie without subtitles or have a casual conversation with a native speaker.</p>
<p><strong>At that point, I decided that I have no talent for languages and therefore I am incapable of learning one.</strong></p>
<p>And besides what's the point?  Why even learn Spanish anyway?  At the time I had no idea and no real motivation to keep trying.</p>
<h2>Finding motivation</h2>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/03/david-redsquare.jpg" rel="lightbox"><img alt="David in Red Square" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/03/david-redsquare.jpg" title="In Red Square. Yes, I used to have long hair. :-)"/></a><div class="caption">In Red Square. Yes, I used to have long hair. :-)</div></div>
<!--
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/03/kazan.jpg" rel="lightbox"><img src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/03/kazan.jpg" alt="Temple and museum in Kazan, Russia" title="Kazan in Russia.  Photo by Andrey" /></a><div class="caption">Kazan in Russia.  <a href="http://www.flickr.com/photos/8414198@N04/2513569020">Photo</a> by <a href="http://www.flickr.com/photos/akras/">Andrey</a></div></div>

-->
<p>Later, as an adult, I made several Russian-speaking friends.  One of them invited me to go with him to visit his family in Belarus and Russia.</p>
<p>I thought, <em>Wow, what an amazing opportunity!  I'll be able to see and experience life from the perspective of the residents of these countries.  <strong>I'd better learn some Russian!</strong></em></p>
<p>So I signed up for a Russian language course at the local university.  I enjoyed the course, but much like my Spanish course, we learned grammar, grammar and more grammar.</p>
<p>After a year, I went to Russia with my friend and it was really fantastic!  My language ability was terrible.  However, the experience was enough for me to catch the language learning and traveling bug.  When we came back, I continued taking Russian courses for the next two years.</p>
<p><strong><em>Unfortunately, I never got very good and I was getting increasingly frustrated.</em></strong></p>
<p>I put tons and tons of work into studying Russian.  But whenever I had the opportunity to test my language abilities with my Russian-speaking friends, I found that I could only have the most basic of conversations, and only if they spoke very slowly and restricted themselves to the small amount of vocabulary I knew.</p>
<p><strong>Six years of Spanish and three years of Russian and I'd only mastered grammar tests.</strong> <a href="http://www.linguatrek.com/blog/2010/11/lets-stop-saying-fluent-fluently-and-fluency-too">Fluidly</a> speaking and understanding a language was still little more than a dream.</p>
<h2>Learning Polish</h2>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/03/warszawa.jpg" rel="lightbox"><img alt="David and Carrie behind Warsaw Castle" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/03/warszawa.jpg" title="My wife and I in Warszawa"/></a><div class="caption">My wife and I in Warszawa</div></div>
<p>When it came time to learn Polish, I started by taking another college-level course.  I enjoyed it quite a bit, mostly due to the professor, who told great stories.  But, after a year it was obvious I that wasn't going to really learn Polish, just like I never really learned Spanish or Russian.</p>
<p>I asked myself, <em>"Do I want to learn how to pass grammar tests?  Or do I want to actually speak Polish?"</em>  Obviously, I wanted to speak Polish!</p>
<p><strong>It was time for a drastic change.</strong></p>
<p>So I stopped going to my Polish class and started doing a ton of research on how the human brain learns languages.  I also began experimenting with a method that involved <a href="http://www.linguatrek.com/blog/2010/12/harry-potter-the-book-that-taught-me-polish">reading and listening to Harry Potter</a> in Polish.</p>
<p>At first it went very slowly.  It took me four months to read my first book.  But only a year after starting, I managed to read all seven Harry Potter books!</p>
<p><strong>I went from struggling with the most basic conversations to being able to:</strong></p>
<ul>
<li>Talk with native speakers on almost any topic</li>
<li>Read and listen to books</li>
<li>Watch movies</li>
<li>Write emails, letters and articles</li>
</ul>
<p>Plus, I did it relatively quickly, studying primarily on my own (not in a course and without a teacher), and while living here in the USA.  It was a profoundly enjoyable and <a href="http://www.linguatrek.com/blog/2011/09/vlog-trzy-lata-na-youtube-pi%C4%99%C4%87-lat-z-j-polskim">life-changing experience</a>.</p>
<p><strong>A year and a half after starting this new method, my wife (Carrie) and I moved to Poland for a year.  <em>Immediately</em>, I was able to:</strong></p>
<ul>
<li>Handle Polish bureaucracy entirely in Polish, including the immigration office, the tax office, the post office, etc</li>
<li><a href="http://www.linguatrek.com/blog/2011/07/teaching-english-in-poland">Interview for jobs</a> in Polish</li>
<li>Find and rent an <a href="http://www.youtube.com/watch?v=k8pwVfGIlVs">apartment</a></li>
</ul>
<h2>You can do it too!</h2>
<p>Frequently, people respond to my Polish videos with comments like, "Wow, you speak great Polish.  You must have a talent for languages.  I wish I could speak English as well as you speak Polish, but I have no talent for languages."</p>
<p><strong>Hey, I don't have talent for language learning either!</strong></p>
<p>If I did, I would have also easily learned Spanish and Russian by now.  When I learned Polish, I was still the same talentless person I was before.  The only thing that changed was my approach.</p>
<p>As long as you're able to gather together the <a href="http://www.linguatrek.com/blog/2011/03/the-three-ingredients-for-successful-language-learning">ingredients to successful language learning</a>, you can learn any language, and to a high level of proficiency!</p>
<h2>What's your story?</h2>
<p>Now that you know about me, I'd like to learn more about you!</p>
<p>I'd be very grateful if you'd introduce yourself in the comments below and tell me YOUR language learning story.</p>
<p><strong>What is your language learning story? What language are you learning and what will your life be like once you learn it?  Don't feel like you have to write a novel - I just want to get to know you. :-)  Please write a comment below!</strong></p>
</div>

<div id="comments">
<a id="comment-1476"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/5609ea83edf92f4bad9b21ad056f8514?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Howdy David!!! Goog to read another article about your personal learning of Polish.</p>
<p>For example!! My problem is a common problem. I study English at a College in High Wycombe, but there are 12 students in the classroom ;-( ;-( hahahah. I am at ( in or on) an intermediate level and I have to pass very imported exam ( CAE) and I know study at College is sometimes.....waste of time. I don't like boring boring borin texstbooks ( it makes me bored and I yawn)<br/>
I like your method, which is not easy, but no pain ;-)<br/>
Sometimes people say;-) You have to speak speak speak, but number one is to get input ( like a boy or a girl)<br/>
I want to be a teacher like you and I study at the moment a book of Harry Potter and I am going to use Power English from HJ Hoge ( only for people upper-intermediate)</p>
<p>At the end, you wrote a good article and look forward to hearing you soon at the Website</p>
<p>Kings Regards</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/1476">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Peter from High Wycombe (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-1476">Tuesday, March 20, 2012 - 10:19</a></span>
</div>
</div>
<div class="indented"><a id="comment-1486"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Piotr!</p>
<p>Thanks for your comment.  I hope Harry Potter is going well!  Yeah, I can't stand most textbooks either. :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/1486">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-1486">Wednesday, March 21, 2012 - 06:05</a></span>
</div>
</div>
</div><a id="comment-1483"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/7e4296d4216d18962082984382100f3b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi David!</p>
<p>I'm Polish. I was learning German in school for three years, but it was long ago and barely remember anything now. :)</p>
<p>I know a bit English. I never had any English classes, everything i know was learned from computer games, movies, songs and internet. So I don't know correct grammar, but I understand a lot. </p>
<p>Also I never spoke in English, and translating from English to Polish is way easier for me than other way around. :)</p>
<p>I wish you luck and hope for more movies. :) Cheers!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/1483">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">waspoza (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-1483">Wednesday, March 21, 2012 - 04:58</a></span>
</div>
</div>
<div class="indented"><a id="comment-1487"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks for the comment!  You probably know English grammar better than you think.  Just being exposed to all that correct English in games, movies, songs, internet, etc would allow you to learn the grammar naturally.</p>
<p>That's interesting that you've never spoke English!  So, for you it's only a written language?</p>
<p>Translating into our native language is always easier, so I can translate from Polish to English, OK.  From English to Polish is always a disaster. :-)  It's much easier to just use Polish than to translate into it.</p>
<p>I hope to record some more videos soon!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/1487">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-1487">Wednesday, March 21, 2012 - 06:08</a></span>
</div>
</div>
<div class="indented"><a id="comment-1494"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://about.me/tomfrompoland" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3cdbaa2914c95444fc7968fe42ddfa2b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hi David :-)</p>
<p>Yes, translating into another language is a big deal for me, too. I can't easily to find a proper word and a proper construction. There are many idioms and expressions that aren't simply translative.</p>
<p>For example Polish "biały jak śnieg" expression in English the proper is "lily-white" which literary mean "biały jak lilia" (not using in this meaning in Polish often, we use word snow instead - based on "The Firm" book by John Grisham Polish and English version).</p>
<p>There are different word orders, meaning and using in different situation the same word, many exception in both (native and foreign) langauges, so I really look up to everyone who can translate fiction or non-fiction book and not lose a meaning, a feeling, a mood and thoughts of original author (like "The Lord of the Rings" translate by Maria Skibniewska).</p>
<p>I rather simply abridge part of text or speech that literary translate word by word. It's much easier for me even if I have to switch the language and do it in foreign one.</p>
<p>All the best :-)<br/>
Tom</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/1494">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://about.me/tomfrompoland" rel="nofollow">TomFromPoland</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-1494">Wednesday, March 21, 2012 - 08:09</a></span>
</div>
</div>
<div class="indented"><a id="comment-1498"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Yeah, absolutely. Respect for good translators! :-)  Best regards, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/1498">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-1498">Wednesday, March 21, 2012 - 14:59</a></span>
</div>
</div>
<a id="comment-3831"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/70986e3c1e255d50689b2236bd30f979?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>You must know not one on only culture Polishmen but also culture  Englishmen to better understand indoms in England. On south USA never dropping snow so they more white colour associated with lily in Polish sometimes we speak white like wall or white like chalk.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/3831">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Pawel Cośtam (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-3831">Wednesday, February 6, 2013 - 16:01</a></span>
</div>
</div>
</div><a id="comment-1495"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/7e4296d4216d18962082984382100f3b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Yup, unfortunately English is only a written language for me atm. Maybe I will leave country in the future and this will force me to speak, but for now I don't have any real need to do it.</p>
<p>And about learning language from the internet. This can be very dangerous. Especially when you stumble upon a page like <a href="http://lolcats.icanhascheezburger.com/">lolcats.icanhascheezburger.com</a> and this type of grammar stuck in your head. :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/1495">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">waspoza (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-1495">Wednesday, March 21, 2012 - 08:45</a></span>
</div>
</div>
</div></div><a id="comment-1500"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/fa00a7104f8ce0edbe400a7873f742c1?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>"So, I was worried that you might think my mission is bulls**t too"</p>
<p>Your mission is not bulls**t, it's Bushido (Japanese: "the way of the fighter").</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/1500">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-1500">Wednesday, March 21, 2012 - 20:57</a></span>
</div>
</div>
<div class="indented"><a id="comment-1503"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Heh, thanks! :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/1503">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-1503">Thursday, March 22, 2012 - 04:52</a></span>
</div>
</div>
</div><a id="comment-1508"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d874821ba380f649ae752f092c86eca1?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hello David! I always watch your videos on Youtube and I've to say: your polish is outstanding. Love your intro - through many videos is still the same :D</p>
<p>I've learned english similar to you - I began learning english about 4 years ago in middle school. But i know a bit from watching Cartoon Network. I used to see every single part of Dexter's labolatory and my  ear became accustomed to english. I hadn't any problem with english through years and now I'm going to pass extended A levels.<br/>
I studied german about nine years. Guess what - I don't remember almost anything. I had to memorize gramatics and bizzare words when I didn't know how to say simple sentences. It was a nightmare.<br/>
Now I'm studying spanish, and gotta say: I like this language. Afer about 3 years I can speak about simple things, because im that kind of person who loves to cram everything. Now I do, because just like english, I'm going to pass A-levels in spanish(but basic level).<br/>
Keep it going, because you're studying one of the most difficult language in the world. Spanish and english are nothing comparing to polish. And you're doing good work.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/1508">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Michal (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-1508">Thursday, March 22, 2012 - 12:23</a></span>
</div>
</div>
<div class="indented"><a id="comment-1566"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Michał!  Thanks for the kind words and sharing your story. :-)  Best of luck on your exams!  Regards, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/1566">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-1566">Thursday, March 29, 2012 - 07:44</a></span>
</div>
</div>
</div><a id="comment-1532"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/03/why-i-almost-shut-down-linguatrek-and-bibliobird-and-our-big-dream" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] I've told the story of how I learned Polish (despite failing to learn other languages) many times. For example, just last week, when I finally published my "About me" page! [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/1532">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/03/why-i-almost-shut-down-linguatrek-and-bibliobird-and-our-big-dream" rel="nofollow">Why I almost shut down LinguaTrek and Bibliobird... and our </a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-1532">Tuesday, March 27, 2012 - 08:40</a></span>
</div>
</div>
<a id="comment-1557"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/15a8a5e73b9def997db642e6ac60ad60?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>hi david<br/>
ive been in touch with you before,but anyway my name is Roy im 44 and im from england and im learning (trying to learn) polish, ive no special reason to learn another language but were i work there are a lot of poles there and i thought one day id just try to say hello and how are you in polish and it just went from there ,but i didnt no anything about polish grammar and how complex it is.ive been learning on and of since jan 2011, when the grammar gets to much for me i stop and think about another language but always end up going back to polish.ive got a lot of polish freinds here in england who all speak good english and they say its easy for them,they can get to coversation level very quickly as our grammar is very simple and even if they get they grammar all wrong when they speak to me it just seems to make sense and i know what they want to say.the problem i have is that although i can speak i little in polish, when polish ppl speak to me i cant understand anything sometimes only one or two words in a sentence.anyway it keeps me busy at break time at work reading polski krok po kroku<br/>
also id be glad to help any poles to learn english using skype.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/1557">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Roy (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-1557">Wednesday, March 28, 2012 - 13:28</a></span>
</div>
</div>
<div class="indented"><a id="comment-1567"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Roy!</p>
<p>Thanks for sharing your story here. :-)</p>
<p>If you have trouble understanding what Poles say to you, I think it would be better to focus on vocabulary and listening rather than grammar.  Even without grammar and just vocabulary, you can understand almost everything!  And once you can understand, it's actually possible to pick up the grammar just from lots of exposure to the language.</p>
<p>Heh, there are lots of Poles looking to talk with native speakers of English over Skype! If no one contacts you from this comment, please send me an e-mail and I'll hook you up with someone.</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/1567">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-1567">Thursday, March 29, 2012 - 07:48</a></span>
</div>
</div>
<div class="indented"><a id="comment-4420"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a0c3eb99705edc3d035225c4520116a3?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>David:  I have completed reading your e-book and am interested in having a skype partner in Polish.  I have only a rudimentary vocabulary and have been to Poland twice.  I will possibly be working in Poland in the near future and want to be able to converse in social situation (restuarants, hotels, etc.) and I would like to be able to pronounce words that I see, even if I do not understand their meaning.</p>
<p>I am 57 years old, can speak Spanish, and have always learned some basics of the language of whatever country I may visit.  Vietnam, Thailand, Italy, Germany, Turkey, China and such.  But I want to progress more deaply in Polish.</p>
<p>Can you recommend a language partner?  </p>
<p>Thanks,</p>
<p>Bob</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/4420">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Bob  (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-4420">Saturday, April 6, 2013 - 19:22</a></span>
</div>
</div>
</div></div><a id="comment-1610"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/15a8a5e73b9def997db642e6ac60ad60?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>hi david i sent you an email about helping on skype ,not sure if you got it ok.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/1610">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Roy (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-1610">Saturday, March 31, 2012 - 02:09</a></span>
</div>
</div>
<div class="indented"><a id="comment-1617"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Roy, I got! I'm just really behind on my e-mails.  Everyday I spend 1-2 hours responding to ~50 e-mails and somehow I still have hundreds left to go!  Hopefully, I'll get to them all eventually.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/1617">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-1617">Wednesday, April 4, 2012 - 05:57</a></span>
</div>
</div>
</div><a id="comment-1810"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/04/natural-language-learning-without-a-teacher" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] I personally studied several languages for many years and failed to learn more than how to pass a grammar test. It wasn't until I tried a new method, based on how the brain actually learns language, that I was finally able to achieve success learning Polish. [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/1810">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/04/natural-language-learning-without-a-teacher" rel="nofollow">Natural Language Learning (without a teacher!) | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-1810">Wednesday, May 2, 2012 - 19:28</a></span>
</div>
</div>
<a id="comment-1981"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.fluentin3months.com/polish/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] I know because I’ve been learning Polish for about fives years (I’m an American – read this article in English or watch this video in Polish for my [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/1981">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.fluentin3months.com/polish/" rel="nofollow">What makes learning Polish so easy? | Fluent in 3 months - L</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-1981">Tuesday, May 22, 2012 - 10:30</a></span>
</div>
</div>
<a id="comment-2069"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8e8e27545f5c02ff085c0650e8bbd18d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I'm Bulgarian and I've been studying English for many years, but I'm not yet 'fluent' in it. (whatever one understands by fluent)<br/>
My goal is not very specific, but it's just what I want to achieve - I want to be more comfortable using English than Bulgarian. (my native language)<br/>
Yup, it's pretty ambitious, some may say that it's impossible, but I don't care much. It IS possible! :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/2069">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">John (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-2069">Tuesday, May 29, 2012 - 12:31</a></span>
</div>
</div>
<div class="indented"><a id="comment-2127"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi John!</p>
<p>Thanks for sharing! That is a very ambitious goal. :-) But, yes, I agree that it's possible.</p>
<p>I wish you success with your English!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/2127">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-2127">Friday, June 1, 2012 - 16:16</a></span>
</div>
</div>
</div><a id="comment-2078"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/b04d366a7da3cb04f797b1182c4122c6?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I'm moving to Beijing in August and I'm trying to learning Chinese. I'm spending e next couple of months trying to build my vocabulary an some comprehension. I'm also memorizing characters. So far I've memorized about 300 and I hope to have memorized about 1000 before I get there. My goal is two be able to comfortably and confidently a) travel around the country using Chinese to do everything from ask directions to buying train tickets, and b) make friends with locals who speak little to no English. If I can reach these two goals, I will be at a level of "fluency" that I'm perfectly happy with.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/2078">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Noel Simon (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-2078">Wednesday, May 30, 2012 - 09:34</a></span>
</div>
</div>
<div class="indented"><a id="comment-2128"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Noel,</p>
<p>Thanks for sharing!  It seems like so many people are learning Chinese right now, it makes me want to give it a shot.</p>
<p>That's awesome about your trip in August! I'm jealous. :-)</p>
<p>I wish you success in acheiving your goals!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/2128">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-2128">Friday, June 1, 2012 - 16:19</a></span>
</div>
</div>
</div><a id="comment-2125"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://karlspeak.tumblr.com/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/0c24c5a5672f219ea05cfec1573b2aa2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>within 6 months be able to<br/>
1) to 90% accuracy recognize 3000 words and &gt;1500 Characters<br/>
2) Be able to read Chinese news articles on non technical subjects and understand it with only having to look up 10 or so words<br/>
3) Be able to watch a Chinese sitcom and children show and understand<br/>
4) Be able to Read chapters at a time of a Chinese Bible<br/>
4) Be able to hold a 15 minutes conversation about a non technical subject.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/2125">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://karlspeak.tumblr.com/" rel="nofollow">karl prosser</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-2125">Friday, June 1, 2012 - 10:51</a></span>
</div>
</div>
<div class="indented"><a id="comment-2129"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Karl,</p>
<p>Thanks for sharing your goals! I love how concretely you've defined them. It's always easier to accomplish goals where you can easily measure if you're there or not. Lots of people set "unmeasurable" goals, where they can sort of claim failure or success regardless. This usually (and sort of surprisingly) leads to people declaring failure and getting really demotivated.</p>
<p>In any case, I wish <em>you</em> success with your Chinese!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/2129">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-2129">Friday, June 1, 2012 - 16:22</a></span>
</div>
</div>
</div><a id="comment-2202"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/06/my-next-big-project-after-the-ebook" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] This has led me realize that helping people learn languages is my true passion! [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/2202">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/06/my-next-big-project-after-the-ebook" rel="nofollow">My next BIG project after the ebook! | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-2202">Tuesday, June 5, 2012 - 08:13</a></span>
</div>
</div>
<a id="comment-2268"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/b534cbb701dfe8ddf5a5a85597e32234?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi David,<br/>
This year I'm leaving for Canada permanently and my goal is to improve my English so I'll feel more comfortable once I get there. My story is quite funny because I started learning English when I was 15. I started my high school and since everyone in my class already had been learning English for couple of years I literally had to jump into their level. On the beginning I didn't know any word in English :) I learned English by listening to them so lot's of things came naturally. </p>
<p>Now I learn English using Facebook- I have many friends from Canada so I read their posts and comments and I always find something I don't understand :) I also watch TV series without subtitles and I try to 'catch' vocabulary, idioms and grammar.</p>
<p>I'm planning to learn French when decide my English is good enough. </p>
<p>PS. Please correct my mistakes :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/2268">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">dzjustyna (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-2268">Thursday, June 7, 2012 - 03:02</a></span>
</div>
</div>
<a id="comment-2429"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f915739c209df2599c6255ef8e9683d4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi David<br/>
im a 52 year old English speaking man who has decided to learn Polish.At the moment im at the very start of my quest and even though i am getting alot of negetive fed back from friends and family who say i have left it to late and will get nowhere i am determind to prove them all wrong.my goal at this stage is to be able to understand and converse in basic Polish within 12 months.im not sure if this is a realistic goal but this is where i have set my sights.<br/>
                 regards paul</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/2429">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">paul (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-2429">Thursday, June 14, 2012 - 13:03</a></span>
</div>
</div>
<div class="indented"><a id="comment-2437"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Paul!</p>
<p>Thanks for sharing your "quest." :-) It's never too late to learn a language! I've talked with people who learned a language to fluency after 60!</p>
<p>The biggest affect that age has is on accent. For whatever reason the ability to copy a foreign accent diminishes with age. But it's still entirely possible speak well enough that anyone can understand you!</p>
<p>If your motivated enough, have an effective method and can devote enough time to it - I beleive your goal is absolutely possible! Just be careful not study too intensely and burn out at the beginning. I talk about that in this article:</p>
<p><a href="http://www.linguatrek.com/blog/2012/04/planning-your-daily-routine-ebook-excerpt" title="http://www.linguatrek.com/blog/2012/04/planning-your-daily-routine-ebook-excerpt">http://www.linguatrek.com/blog/2012/04/planning-your-daily-routine-ebook...</a></p>
<p>I wish you success in acheiving your goal!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/2437">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-2437">Friday, June 15, 2012 - 10:24</a></span>
</div>
</div>
</div><a id="comment-2508"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/20f9b3d92e1477f7ad321cf4edcc4613?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi David, Hi Everyone:-)</p>
<p>As for my goal, it's pretty simple I want to improve my English, especially speaking English. I fancy learning English a lot. Speaking English "fluently" was my goal since the primary school. Whatever  fluency really means...I would be happy to posses the ability to speak  English naturally one day. Not only would I like to read the books and watch movies or tv series without subtitles but I want to speak English as fluent as possible - almost perfectly would be enough for me;-).<br/>
I come originally from Poland and have been living in Ireland for over six years. I came to Dublin one day because I felt like I weren't making any progress in learning English and I was just fed up with that feeling. I believe that living (even for a short period of time)in an English-speaking country is the best way (if not the only one) to gain fluency in  English (whatever does it really mean, we all may have our own definition...)I do not speak fluent yet, I make many mistakes, I am aware of that but I read the books and watch movies or tv series without subtitles and speaking with other people is not a huge challenge any more.</p>
<p>Best regards,<br/>
Joanna</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/2508">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Joanna (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-2508">Tuesday, June 19, 2012 - 14:25</a></span>
</div>
</div>
<div class="indented"><a id="comment-2545"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Joanna!</p>
<p>Thanks for sharing your goal. :-) It is a very ambitous goal but if you're motivated enough (and it sounds like you are!) I'm sure that you'll acheive it. ;-)</p>
<p>I wish you further successes with your English!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/2545">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-2545">Monday, June 25, 2012 - 06:00</a></span>
</div>
</div>
</div><a id="comment-2535"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/0cd69db5fca81bceac3045760b92be01?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hello David,<br/>
my name is Nicole and I am from Rio de Janeiro, Brazil. I am 21 years old and since I was 11 I've learned English language. I entered in a course and nowadays I continue my studies by my own. I signed up many blogs that give some cool tips of English but I want to improve my English because I want to do an exchange by the university. </p>
<p>Thank you for your tips,</p>
<p>Nicole.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/2535">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Nicole (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-2535">Friday, June 22, 2012 - 18:11</a></span>
</div>
</div>
<div class="indented"><a id="comment-2546"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Nicole!</p>
<p>Thanks for your sharing your story here. :-) I wish you success with your English and becoming an exchange student!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/2546">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-2546">Monday, June 25, 2012 - 06:01</a></span>
</div>
</div>
</div><a id="comment-2631"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/01d37c2c08752465713f0180a9022648?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>You're not learning a foreign language. You are learning YOUR language. Polish. Well done, though.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/2631">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-2631">Friday, June 29, 2012 - 23:42</a></span>
</div>
</div>
<div class="indented"><a id="comment-2633"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks, I'd love to think of it as <em>my</em> language. :-) But I'm not sure that I really can! Like I wrote to you in reply to your other comment, the Polish language was lost in my family a long time ago because my Polish roots are so distant:</p>
<p><a href="http://www.linguatrek.com/blog/2011/03/how-long-have-i-been-obsessed-with-poland#comment-2630" title="http://www.linguatrek.com/blog/2011/03/how-long-have-i-been-obsessed-with-poland#comment-2630">http://www.linguatrek.com/blog/2011/03/how-long-have-i-been-obsessed-wit...</a></p>
<p>But thanks anyway!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/2633">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-2633">Saturday, June 30, 2012 - 04:50</a></span>
</div>
</div>
</div><a id="comment-2829"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.Icedchai.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/0e58f969a551f2a339830734d4b70bb1?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hi David! </p>
<p>It's odd that though I've spent a considerable amount of time online researching websites and tools to learn Polish this is the first time I've come across your blog. Apart from odd it's also great!<br/>
I'm from India and though we have our own incredibly long list of languages here, I grew up speaking English at home so I guess you could say it's my first language.<br/>
My motivation to learn Polish is rather cliched :) - my partner is Polish and after 4 years of several visits to Poland I'm now determined to learn the language in spite of the daunting task ahead of me. The good thing? - I'm a good mimic so pronunciation comes easy once I hear as well as see the word written down. The bad - Polish grammar scares me!<br/>
But with websites like yours I'm hoping I can turn this around and be more fluent during my next visit. Wish me luck! :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/2829">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.Icedchai.com" rel="nofollow">Lavanya</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-2829">Tuesday, July 31, 2012 - 12:47</a></span>
</div>
</div>
<div class="indented"><a id="comment-2849"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Lavanya!</p>
<p>I'm glad you like my blog! Having a Polish partner/spouse is a great motivation. Most of the foreigners I know who have learned Polish well are in a similar situation - in fact, I'm kind of an odd case in that my wife is American. ;-)</p>
<p>Here are some articles that will hopefully help make Polish grammar seem less scary:</p>
<p><a href="http://www.linguatrek.com/blog/2010/11/dont-start-learning-polish-grammar" title="http://www.linguatrek.com/blog/2010/11/dont-start-learning-polish-grammar">http://www.linguatrek.com/blog/2010/11/dont-start-learning-polish-grammar</a></p>
<p><a href="http://www.linguatrek.com/blog/2010/11/polish-is-not-the-hardest-language-in-the-world" title="http://www.linguatrek.com/blog/2010/11/polish-is-not-the-hardest-language-in-the-world">http://www.linguatrek.com/blog/2010/11/polish-is-not-the-hardest-languag...</a></p>
<p><a href="http://www.linguatrek.com/blog/2010/11/polish-grammar-overview-for-complete-beginners" title="http://www.linguatrek.com/blog/2010/11/polish-grammar-overview-for-complete-beginners">http://www.linguatrek.com/blog/2010/11/polish-grammar-overview-for-compl...</a></p>
<p><a href="http://www.linguatrek.com/blog/2011/08/the-first-grammar-you-should-learn-in-polish" title="http://www.linguatrek.com/blog/2011/08/the-first-grammar-you-should-learn-in-polish">http://www.linguatrek.com/blog/2011/08/the-first-grammar-you-should-lear...</a></p>
<p>My free ebook is probably also a good place to start. It describes a framework of learning a language which largely ignores grammar.</p>
<p>I hope that helps!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/2849">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-2849">Monday, August 6, 2012 - 16:06</a></span>
</div>
</div>
</div><a id="comment-3312"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/09780eb193b714c16ef9ee7003b29b37?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć Dawid. </p>
<p>Muszę się przyznać, że żebym nie wiedział, że pan nigdy nie rozmawiał po Polsku w wieku młodszym, to bym dał rękę, że pan się urodził Polakiem w Polsce. Kończąc temat, jestem bardzo zaszokowany z twoim rozwinięciem się. Super! Też mi się twoje strona internetowa podoba i życzę panowi jak naj wyszsze sukcesy z programem BiblioBird. </p>
<p>Polecę stronę do kolegi, który się stara nauczyć polskiego. Dopiero zaczęliśmy ale nawet dobrze idzie! Mam nadzieje, że większość to się nauczy od pana. Ale, czy byś miał jakieś rady jak bym mógł jemu pomóc z językiem do tamtego czasu? Widzę, że ostatni komentarz był pare miesięcy temu, ale mam ciche nadzieje, że pan odpisze i może nawet moją gramatyki poprawi!</p>
<p>Dziękuje ponownie i pozdrowienia dla pana i resztę rodziny. Wesołych świat!</p>
<p>Daniel</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/3312">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Daniel (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-3312">Wednesday, December 12, 2012 - 02:51</a></span>
</div>
</div>
<div class="indented"><a id="comment-3334"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Daniel!</p>
<p>Dzięki za miłe słowa - to wiele dla mnie znaczy. :-)</p>
<p>Co do nauki polskiego: niestety nie ma dużo materiałów na Bibliobirdzie - ale chciałbym to zmienić w przyszłości. Jest jednak dużo porad w moim darmowym ebooku! W nim opisuję dokładnie jak sam nauczyłem się polskiego i wyjaśniam jak możesz zaadoptować to do własnych potrzeby, nawet z innymi językami.</p>
<p>Dostaniesz go, jeśli zasubskrybujesz mój blog tutaj:</p>
<p><a href="http://www.linguatrek.com/subscribe" title="http://www.linguatrek.com/subscribe">http://www.linguatrek.com/subscribe</a></p>
<p>Jest wersja i po polsku i po angielsku.</p>
<p>Mam nadzieję, że te porady będą przydatne Twoim koledze!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/3334">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-3334">Saturday, December 15, 2012 - 09:05</a></span>
</div>
</div>
</div><a id="comment-3521"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://weirdspirit.wordpress.com/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/cb266fe484376cb1c2c198762e31a110?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hello, David!<br/>
My friend Ana, from Argentina is now fluent in Polish, and I got inspired by her. I'm from Colombia and I've been learning German for the last five months, but I really want to start with Polish. Would it be a good idea if I learnt both at the same time?<br/>
I'm not an English-native-speaker, so I already have a fulfilling experience related to learning languages.<br/>
You are great, and you inspire me as well.<br/>
Have a great day.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/3521">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://weirdspirit.wordpress.com/" rel="nofollow">David Rojas</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-3521">Saturday, January 19, 2013 - 10:24</a></span>
</div>
</div>
<div class="indented"><a id="comment-3522"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi David!</p>
<p>That's awesome about your friend Ana! It's wonderful that people from all over the world are having such great success with learning Polish. :-)</p>
<p>As far as learning two languages at once, I've written an article about this:</p>
<p><a href="http://www.linguatrek.com/blog/2011/11/how-to-learn-two-languages-at-once" title="http://www.linguatrek.com/blog/2011/11/how-to-learn-two-languages-at-once">http://www.linguatrek.com/blog/2011/11/how-to-learn-two-languages-at-once</a></p>
<p>I wish you the best of luck with your German and (maybe soon) Polish!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/3522">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-3522">Saturday, January 19, 2013 - 10:31</a></span>
</div>
</div>
</div><a id="comment-3697"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4f191686b3516a57fed5f375eff18279?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi David. I saw your message and I with pleasure love to tell You about my learning language story. </p>
<p>In elementary school I learned only German, whose I do not like. In middle school, I started to learn English. I really didn't like this lesson because I had a weird teacher, who don't know how teaching.  When I went to high school fond of this more attention. Now I try do more with my english. Sometimes I dont know how to write or say something, but I try, even I do much mistakes. I`ve been learning english after school one times a week and I have 5 hours in school. unfortunately in this school I have terrible teacher too. I think my english it`s okay and I can took with other people. I`m not the best in the class, but I`m not the worst too. I can say much, but I have so much trouble with past tenses and sometimes I dont know words what I wanna say.I think, in the time I`ll learning english very well and this can help me in my job and in my everyday life. If I'll be good to know English I want to live abroad. :)</p>
<p>ADA</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/3697">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Ada (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-3697">Thursday, January 31, 2013 - 13:58</a></span>
</div>
</div>
<div class="indented"><a id="comment-3706"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Ada!</p>
<p>Thanks so much for your comment and sharing your story. :-)</p>
<p>Yeah, it's practically impossible to learn a language if you don't like it or don't like the teacher (if the course is your only contact with the language). I had a similar experience with Spanish.</p>
<p>But it's definitely going to be different with your English! You've already started to work on your English outside of school and I hope that my blog and ebook will be helpful too. ;-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/3706">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-3706">Friday, February 1, 2013 - 12:37</a></span>
</div>
</div>
</div><a id="comment-3703"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3c5c43871cdde00d49f5213209d40b13?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>hi David,<br/>
I'm sorry I didn't leave a comment so I want to repair my fault. At school I thought I hadn't talent for languages and my teacher laughed when I was talking...so it wosn't wery motivating. When I was 40 decided learn English and taken an English course. I don't know why but learning English became for me necessary for life. It's not important for me if it takes 3,5 or 10 years, I will be able to speak and understand well. I had to start from the beginning, now I have been learning for 3 years...but...I still feel like I can't speak and understand English fluent. I was looking for something helpful in the internet and I found You and Your story.<br/>
It is great find someone who think and feel like me. Thank you very much for your good job and engagement.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/3703">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Bea (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-3703">Friday, February 1, 2013 - 11:11</a></span>
</div>
</div>
<div class="indented"><a id="comment-3707"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Bea!</p>
<p>Thanks for your comment and sharing your story. :-)</p>
<p>Your teacher actually laughed at you? That's terrible! That's definitely a sign that you need to find a new teacher.</p>
<p>It sounds like your really motivated to learn English now! Remember: the only way to fail to learn a language is to give up. So long as you don't give up, you will reach your goal!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/3707">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-3707">Friday, February 1, 2013 - 12:41</a></span>
</div>
</div>
</div><a id="comment-3721"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3c5c43871cdde00d49f5213209d40b13?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć Davidzie :)<br/>
Tym razem napiszę po polsku. Nie wiem czy już wcześniej nie natknąłeś się na stronkę gdzie można posłuchać i poczytać po angielsku, jeśli nie to wysyłam link: <a href="http://www.ccprose.com/booklist" title="http://www.ccprose.com/booklist">http://www.ccprose.com/booklist</a>. Zapewniam Ciebie że nie zrezygnuję z nauki, uczę się od 3 lat i stało się to codzienną koniecznością jak mycie zębów. Miłego dnia  Bea</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/3721">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Bea (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-3721">Saturday, February 2, 2013 - 01:42</a></span>
</div>
</div>
<div class="indented"><a id="comment-3742"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Bea!</p>
<p>Dzięki za linka! Nie, nie znałem tej strony. Może nawet napiszę artykuł o tym, bo to naprawdę fajna. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/3742">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-3742">Tuesday, February 5, 2013 - 09:28</a></span>
</div>
</div>
</div><a id="comment-3827"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/6d597f356d795b3336a6bb1de2d39081?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć David,</p>
<p>Prosiłeś w mailu abym się wypowiedziała na temat mojej przygody z angielskim oraz opinii na temat wideo. W chwili obecnej nie mam za dużo czasu żeby poświęcić się temu dogłębnie a nie chciałabym zrobić tego byle jak, więc daj mi proszę trochę czasu. Piszę po polsku z tego samego powodu, moja gramatyka nie jest na tyle dobra żeby usiąść i płynnie szybko coś napisać a wolałabym nie korzystać w takich sprawach z translatora. Opiszę moją historię z angielskim. Do 16 roku życia uczyłam się niemieckiego i rosyjskiego, gdy poszłam do liceum zaczęłam uczyć się angielskiego, łaciny i niemieckiego. Kompletnie nie rozumiałam gramatyki angielskiego i żaden nauczyciel do dziś nie jest w stanie mi to wytłumaczyć. W związku z czym poprosiłam moją nauczycielkę aby wstawiła mi 2 na świadectwie ukończenia szkoły średniej bo ja i tak mature będę zdawać z niemieckiego. W między czasie poznałam w pubie anglika, nie znał polskiego więc siłą rzeczy musiałam z nim rozmawiać po angielsku. Coś we mnie przeskoczyło i suma sumarum zdałam mature z angielskiego na dwie 4 :) Jednakże wyjechałam na studia, tam angielski to była prowizorka, przestałam używać języka,jedynymi wyjątkami były sporadyczne wyjazdy za granice na wczasy. Kilkakrotnie próbowałam uczyć się w prywatnych szkołach języka angielskiego, zawsze pojawiał się ten sam problem: po teście kwalifikowałam się do grupy intermiediet a często B1/B2 i gdy trafiałam na zajęcia okazywało się że gramatyka tam stosowana jest dla mnie nie do pojęcia :/ Raz poprosiłam o przeniesienie do grupy która jest mniej zaawansowana, tam z kolei nudziłam się i miałam poczucie straconego czasu i pieniędzy. W chwili obecnej myślę o wyjeździe na stałe za granicę, staram się o wizę do USA i mam świadomość że muszę popracować nad językiem, to i doświadczenia opisane wyżej sprawiły że trafiłam na twoją stronę :) Mam nadzieję że Twoja metoda okaże się skuteczna, jak tylko ustabilizują się moje sprawy zawodowe mam zamiar sumiennie przysiąść do nauki Twoim sposobem. Kupiłam już nawet Małego Księcia w języku angielskim :) Pozdrawiam serdecznie,Ania</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/3827">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Ania (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-3827">Wednesday, February 6, 2013 - 13:24</a></span>
</div>
</div>
<div class="indented"><a id="comment-3839"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Ania!</p>
<p>Dzięki za podzielenie się Twoją historią. :-) Rozmowa z osobą, która tylko mówi się danym językiem, może być dobrą motywacją! To szkoda, że miałaś takie doświadczenie na kursach, ale niestety to dość często spotykana sytuacja.</p>
<p>Polecam, że nie martwisz się zbyt dużo o zasady gramatyczne. Również możesz ich się nauczyć "nieświadomie" - o tym piszę w moim ebooku. Jeśli jeszcze go nie czytałaś, gorąco polecam!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/129/3839">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/about-me-and-my-mission#comment-3839">Thursday, February 7, 2013 - 07:52</a></span>
</div>
</div>
</div><div class="item-list"><ul class="pager"><li class="pager-current first">1</li>
<li class="pager-item"><a class="active" href="/blog/2012/03/about-me-and-my-mission-page-1" title="Go to page 2">2</a></li>
<li class="pager-next"><a class="active" href="/blog/2012/03/about-me-and-my-mission-page-1" title="Go to next page">next ›</a></li>
<li class="pager-last last"><a class="active" href="/blog/2012/03/about-me-and-my-mission-page-1" title="Go to last page">last »</a></li>
</ul></div>
</div>
