---
permalink: /blog/2012/03/british-vs-american-english/
layout: blog-old
title: 'British vs. American English'
day: 13
month: Mar
year: 2012
category: learn English
tags: 
  - 'American English'
  - 'British English'
language: en
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/03/americaengland.jpg" rel="lightbox"><img alt="American and English flags" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/03/americaengland.jpg" title="Photo by Alf"/></a><div class="caption"><a href="http://www.flickr.com/photos/98765712@N00/3974127808">Photo</a> by <a href="http://www.flickr.com/photos/ellyll/">Alf</a></div></div>
<p>I frequently receive emails or comments like:</p>
<blockquote><p>I just started learning English but it's British English.  Will I have trouble communicating with someone from the USA?  Can you easily understand British people?  What is the difference between American and British English?</p></blockquote>
<p>It's true that there are lots of dialects (I wrote about <a href="http://www.linguatrek.com/blog/2011/02/milwaukee-wisconsin-unique-english-dialect">my dialect</a> a while back), accents and other <a href="http://en.wikipedia.org/wiki/World_Englishes">variations of English</a> (ex. creoles, such as Jamaican).</p>
<p>But is the variation of English that you learn important?</p>
<p><strong>Read more for my response!</strong></p>
<h2>British vs. American English</h2>
<p>There are a few differences in grammar and vocabulary between British and American English.</p>
<p>For example, the 2nd and 3rd form of verbs are sometimes different: "learned" (American) vs. "learnt" (British).  Or, "I've finally <em>gotten</em> over my cold" (American) vs. "I have finally <em>got</em>..." (British).</p>
<p>The differences in vocabulary can sometimes be very funny!  A friend of mine moved from Ireland to the USA to go to University.  One day she needed to erase something, but she didn't have an eraser.  So, she asked everyone in her class if she "could borrow a <em>rubber</em>."  No one would respond, they just ignored her!</p>
<p>Only later did she find out that <em>rubber</em> in American English is slang for <em>condom</em>. :-)</p>
<p><strong>But overall, these types of differences are <em>really</em> small - the biggest difference is in pronunciation!</strong></p>
<h2>Can you understand British people?</h2>
<p>The short answer: <em>sometimes</em>. ;-)</p>
<p>In the States, we have 2-8 major dialects, depending on <a href="http://www.evolpub.com/Americandialects/AmDialMap.html">how you</a> <a href="https://pantherfile.uwm.edu/downing/www/course/350-192/region.html">count them</a>.  They are relatively similar to each other.</p>
<p>On the other hand, there are anywhere from <a href="http://en.wikipedia.org/wiki/File:English_Dialects_of_the_British_Isles.png">forty three</a> to <a href="http://answers.yahoo.com/question/index?qid=20070808040947AAlKYOj">"hundreds"</a> of different English dialects on the British Isles, depending on who you ask.  And they vary wildly!</p>
<p><strong>I've only had the opportunity to hear a few of them, mostly in movies.  Some of them are easy for me to understand and some are impossible without subtitles.</strong></p>
<p>In 2004, I went to Ireland for a month.  At first I had a lot of trouble understanding most people.  But, after a week, I got used to it and didn't have any problems.</p>
<h2>Does it matter which one I learn?</h2>
<p>Like I said, vocabulary and grammar don't differ much.  The only difference that really matters is pronunciation.</p>
<p><em>Your pronunciation</em> is more likely to be influenced by your native language, rather than the version of English you are learning.  That said, I have met a few non-native speakers who have lovely American or British accents! :-)</p>
<p><strong>The biggest problem for you will be understanding speakers of a version of English that you're not used to hearing.</strong></p>
<p>If you've only had experience listening to British speakers, it may be a little difficult for you to understand Americans, or vice versa.  But, just like my experience in Ireland, it only takes some consistent exposure to another dialect before you'll begin to understand it.</p>
<p>I'd recommend that you pick one dialect to start with and only listen to material in that dialect.  Once your level is higher (upper intermediate or advanced), pick a different dialect and listen to material only in that dialect for a month.  You will quickly become proficient in that dialect as well!</p>
<p>Repeat this process for a few major variations and you'll likely even be able to deal with a few versions you've never heard before.</p>
<p><strong>What's your experience with the different dialects of English?  What about other languages?  Please write a comment below!</strong></p>
</div>

<div id="comments">
<a id="comment-1435"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I’ve been learning British one but the American is often easier to listen to because of the letter ‘R’ being pronounced clearer for Poles.</p>
<p>Now I’m listening to some readers (don’t know the exact word in English for simplified lectures) that is recorded by an American speaker. And I don’t have any problem with the accent.</p>
<p>I tell you one funny thing that always seems funny to me. Generally in Poland we are taught British English, but TV speakers, media and generally people tend to pronounce names of foreign products with American English (localized English?). One example. If someone sold ‘eye care’ liquid, he or she would pronounce it with hard ‘R’, not as /kɛə/.<br/>
I always wonder why it is happening. :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/128/1435">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/british-vs-american-english#comment-1435">Tuesday, March 13, 2012 - 11:09</a></span>
</div>
</div>
<div class="indented"><a id="comment-1443"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Heh, there are so many variations of English that maybe Poles are just constructing their own with the pieces they like best? ;-)  You can take the American 'r' and British vocabulary and Australian slang ("Throw it on the barbie!") and so on and make the BEST English Ever!</p>
<p>Joking, of course. :-)</p>
<p>Yes, "simplified readers" is correct.</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/128/1443">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/british-vs-american-english#comment-1443">Tuesday, March 13, 2012 - 14:58</a></span>
</div>
</div>
</div><a id="comment-1439"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a140205686f16e7af2fc493d5ca1e263?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>For all people who want to know more about differences between British and American </p>
<p>This book will be help you:</p>
<p>English for GB and US Fans. Rozmowki na (prawie) kazda okazje. Author Werner Fink. I bought this in Poland for maybe 5 years. The are a part with the Differences in pronunciacion - my favorit word :-), in vocabulary and spelling. I can recommend it! </p>
<p>for example spelling</p>
<p>British     US<br/>
centre      center<br/>
colour      color</p>
<p>for example vocabulary</p>
<p>letterbox    mailbox<br/>
rubbish      trash</p>
<p>David is it right????</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/128/1439">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">trzpiot (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/british-vs-american-english#comment-1439">Tuesday, March 13, 2012 - 12:47</a></span>
</div>
</div>
<div class="indented"><a id="comment-1444"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks for the book suggestion!  I'm sure someone will find it useful.  Yes, those are correct as far as I know.  I can vouch for the American ones but I'm not as good with British vocabulary as I'd like. :-)  Best regards, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/128/1444">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/british-vs-american-english#comment-1444">Tuesday, March 13, 2012 - 14:59</a></span>
</div>
</div>
<a id="comment-3493"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/89390de8b27516481668e909c270944c?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Yes the English examples are also right ;)</p>
<p>Check out this </p>
<p><a href="http://history1900s.about.com/od/1900s/qt/trspelling.htm" title="http://history1900s.about.com/od/1900s/qt/trspelling.htm">http://history1900s.about.com/od/1900s/qt/trspelling.htm</a></p>
<p>It makes a lot of sense especially as English is such a mix of languages/spelling patterns. These guys developed a plan to simplify English, or tidy it up a bit. And although it didn't stick as a complete idea evidently some of the new spellings did...</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/128/3493">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Owen (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/british-vs-american-english#comment-3493">Tuesday, January 15, 2013 - 15:04</a></span>
</div>
</div>
<div class="indented"><a id="comment-3515"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Owen,</p>
<p>Thanks for the link! That's really interesting, but I'm sad that they weren't able to pull off bigger spelling reforms. :-/</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/128/3515">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/british-vs-american-english#comment-3515">Thursday, January 17, 2013 - 21:00</a></span>
</div>
</div>
</div></div><a id="comment-1440"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/99f489687f148d49af8f24e4a73a758c?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>This video convinced me that I in fact don't understand British English:<br/>
<a href="http://www.youtube.com/watch?v=jfectchNtQM" title="http://www.youtube.com/watch?v=jfectchNtQM">http://www.youtube.com/watch?v=jfectchNtQM</a></p>
<p>I have rather little problems with understanding most of Americans, but many British accents (especially those from the North of Britain) sound to me like Norwegian. I can comprehend nothing. I like British accents similar to Received Pronunciation or Estuary English as they are perfectly comprehensive, but hearing most of local British dialects make me cringe and cry.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/128/1440">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Marcin (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/british-vs-american-english#comment-1440">Tuesday, March 13, 2012 - 13:40</a></span>
</div>
</div>
<div class="indented"><a id="comment-1442"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/99f489687f148d49af8f24e4a73a758c?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>"they are perfectly comprehensive"</p>
<p>I meant comprehensible, of course.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/128/1442">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Marcin (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/british-vs-american-english#comment-1442">Tuesday, March 13, 2012 - 13:54</a></span>
</div>
</div>
<a id="comment-1445"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Wow, that was really difficult to understand!  For the first minute or two I understood like 20%.  By the end I was getting maybe 70% but definitely none of the jokes.  I still don't know what's strange about the name "Les Porter." :-)</p>
<p>Thanks for the link!</p>
<p>I actually make that same mistake all the time, writing "comprehensive" instead of "comprehensible" - usually when I'm writing about "comprehensible input." ;-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/128/1445">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/british-vs-american-english#comment-1445">Tuesday, March 13, 2012 - 15:07</a></span>
</div>
</div>
<a id="comment-1473"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f8acf1f301d9492f7375837752347907?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Doesn't sound much like English. Maybe it's that Scots language, I've heard of (<a href="http://en.wikipedia.org/wiki/Scots_language" title="http://en.wikipedia.org/wiki/Scots_language">http://en.wikipedia.org/wiki/Scots_language</a> ; not to be confused with Scottish Gaelic)?<br/>
And you can't really say there is just British English. In terms of standard language - yes, but there are, indeed, loads of accents in GB, of which some are pretty easy to understand and some are incomprehesible to the Brits (even in England itself; apparently accent from Leeds or Geordie accent are very hard to understand).</p>
<p>Also, if you're in Scotland/Wales, never call people living there 'British'. Even though it's technically one country, most Scots and Welsh don't like English people and don't want to be identified with them ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/128/1473">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kora (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/british-vs-american-english#comment-1473">Monday, March 19, 2012 - 14:01</a></span>
</div>
</div>
<div class="indented"><a id="comment-1475"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/99f489687f148d49af8f24e4a73a758c?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<blockquote><p>And you can't really say there is just British English</p></blockquote>
<p>Of course we can't. I called it 'British' to emphasize what kind of difficulties we may expect when we try to communicate with random people from the UK.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/128/1475">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Marcin (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/british-vs-american-english#comment-1475">Monday, March 19, 2012 - 16:37</a></span>
</div>
</div>
<a id="comment-3492"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/89390de8b27516481668e909c270944c?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Yes, that is English :) Scottish is one of the strongest variations! It is I guess what you could call the scotts language but there are only a few words different to English and most of them are not much more than (at least what feels like), A colloquial change. Certain words like 'Aye' for yes appear in quite a few other dialects in Britain as well!</p>
<p>In the UK you hear the accent a lot and get used to it, but occasianally you hear a much thicker accent (quite a bit thicker than the accent in the video) and that will loose most people ;)</p>
<p>Also, just as a note; Britain isn't a country, Scotland, England and Wales ARE countries contained in the island of Britain, and together with Northern Ireland (not southern ireland!) they form the UK. Thats generally why people can get annoyed if you say they are English when they are Scottish and Visa Versa, as England and Scotland are very much different countries. There are still some Scottish people (and Welsh and CERTAINLY Irish) people that hate England but only those with mildly 'extremist views', I'm half Welsh and have plenty of Irish and Scottish friends and have never experienced any animosity, apart from the usual friendly banter ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/128/3492">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Owen (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/british-vs-american-english#comment-3492">Tuesday, January 15, 2013 - 14:52</a></span>
</div>
</div>
<div class="indented"><a id="comment-3516"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Owen!</p>
<p>Thanks for the explanation! I'm sure it will be useful to lots of folks. Unfortunately, I'm not able to provide much of an English perspective so it's great to get it in the comments. :-)</p>
<p>Out of curiosity, you don't happen to know what the deal is with the "Les Porter" joke in that video? They keep coming back to it but I just don't get it!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/128/3516">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/british-vs-american-english#comment-3516">Thursday, January 17, 2013 - 21:04</a></span>
</div>
</div>
</div></div></div><a id="comment-1441"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/80b59ec179fbb4d83e0b785dfcabc2f4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I had many teachers from many countries but I think that American English is much easier to understand.I started my English education 5 years ago and we used the direct method.Of course the accent of the teachers was different but they had to use British vocabulary and British spelling.<br/>
We have talked and you know  everything about my accent :-)Definitely I prefer  American English however according to the British it's a like a sword in their harts  hahaha.<br/>
Best regard from Bielsko-Biała and take care.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/128/1441">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Marek S....ński (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/british-vs-american-english#comment-1441">Tuesday, March 13, 2012 - 13:47</a></span>
</div>
</div>
<div class="indented"><a id="comment-1446"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Well, obviously, American English is the best! ;-) I'm joking, of course. :-) Regards, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/128/1446">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/british-vs-american-english#comment-1446">Tuesday, March 13, 2012 - 15:08</a></span>
</div>
</div>
<a id="comment-1447"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Bielsko-Biała sounds VERY familiar to me. :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/128/1447">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/british-vs-american-english#comment-1447">Wednesday, March 14, 2012 - 02:05</a></span>
</div>
</div>
</div><a id="comment-1448"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/6b81f3dea904a75375d4feb147af1de3?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>If u have free time I recommend exploring <a href="http://www.r1ng.pl/empik" title="http://www.r1ng.pl/empik">http://www.r1ng.pl/empik</a></p>
<p>In simple English game u can won free language courses in Empik School Online.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/128/1448">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Specdm (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/british-vs-american-english#comment-1448">Wednesday, March 14, 2012 - 05:07</a></span>
</div>
</div>
<a id="comment-1449"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.everydaylanguagelearner.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9bef68ce232ae2405462c08f60c76e9a?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>One thing thing that is perhaps a new thought in our globalized world is that getting either correct British or American English pronunciation may in fact no longer matter.  If you are Polish learning English for business, it is probably more likely that you will be using your English to speak with other English language learners - all of whom may not use the 'th' the way we English speakers pronounce it nor may all the vowel sounds be "correct."  But does it matter?  What perhaps is developing is a global English that is all together different than both.  Imagine that 300 million Chinese are learning English!  There are onle 300 million Americans.  What does that mean?  Today there are more English language learners in the world than native speakers.  Hmmm.  Seems we may be in for a fun ride in the next 50 years.  My thoughts:  The idea of a proper American or British accent is a dying dinosaur.  Say hello to the new global English pronunciation patterns - which are evolving and developing in a country near you!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/128/1449">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.everydaylanguagelearner.com" rel="nofollow">Aaron</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/british-vs-american-english#comment-1449">Wednesday, March 14, 2012 - 11:24</a></span>
</div>
</div>
<div class="indented"><a id="comment-1452"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Yeah, this is a really intriguing idea!</p>
<p>I think it would be great if there was a more flexible "international English" which encompassed all of the English as used by non-native speakers and removed all of the culturally-bound idioms.</p>
<p>American English is full of <a href="http://en.wikipedia.org/wiki/Glossary_of_English-language_idioms_derived_from_baseball">ridiculous baseball idioms</a>.  Of course, Americans will use them (I definitely do!), but should non-native speakers have to learn them? Or is it <em>more reasonable</em> to expect us to stop using these idioms when speaking in an international setting?</p>
<p>But I could really write a whole post just on this topic!</p>
<p>I've always taken the stance of letting people to decide for themselves about what they want to learn - and then helping them with that. :-)  So, if someone is concerned about understanding native speakers from America, I'll do my best to assist!</p>
<p>Thanks for the insightful comment, Aaron!</p>
<p>Take care,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/128/1452">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/british-vs-american-english#comment-1452">Thursday, March 15, 2012 - 16:23</a></span>
</div>
</div>
<div class="indented"><a id="comment-1459"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/99f489687f148d49af8f24e4a73a758c?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I love the Yogi Berra quotes. They are like Buddhist koans, but much funnier. "The future ain't what it used to be" - that's definitely my favorite one.</p>
<p>Baseball is almost unknown in Poland (although it was popular here among the primary school kids in the 90's, but the fad disappeared in a few years since its onset).</p>
<p>A small curiosity: in the town where I live - in Kutno - there is an EMEA Little League Center: <a href="http://www.pnybf.com/Kutno.htm" title="http://www.pnybf.com/Kutno.htm">http://www.pnybf.com/Kutno.htm</a> .<br/>
It's the only professional complex of baseball fields in Poland. </p>
<p>There is another (only one!) real baseball field in Warsaw (in the district of Mokotow) - and that's the entire baseball infrastructure in Poland.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/128/1459">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Marcin (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/british-vs-american-english#comment-1459">Friday, March 16, 2012 - 13:46</a></span>
</div>
</div>
</div></div><a id="comment-1451"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/5609ea83edf92f4bad9b21ad056f8514?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Howdy David!!! Good to hear ( or see) your another article about English. I live in the U.K and I think american people are more happy. Have you heard about an english reserve????That is true. One of my friend was born in Texas and has been in the U.K for over 15 years, but he is not happy here sometimes. Last time he said me that american english in the U.K is like a second class language, but most films made are in the U.S.A.</p>
<p>I wrote in your blog that I am going to use your method. Could I use this method with other books or other english materials ??<br/>
Please let me.It is very imported for me. I am going to pass CAE, but most english people speak in an informal language like people from Poland.</p>
<p>Kings regards and look froward hearing from you<br/>
Peter</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/128/1451">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Peter  (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/british-vs-american-english#comment-1451">Thursday, March 15, 2012 - 09:08</a></span>
</div>
</div>
<div class="indented"><a id="comment-1453"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>I have never been to England but I have heard some things about the "reserved English culture."  Of course, I'm always wary of such things until I've had a chance to experience them for myself!  I've found that stereotypes are frequently blown out of proportion. :-)</p>
<p>Yes, absolutely!  In fact, you use <a href="http://www.linguatrek.com/blog/2011/03/the-three-ingredients-for-successful-language-learning#effective-method">many variations</a> on my method that don't even involve books!  If you're more interested in conversation, films, television shows, games or music - you can do pretty much the same thing with those!</p>
<p>If you're trying to learn either formal or informal language - I suggest that you find materials which use the type you are trying to learn and spend as much time as possible with them.  That's exactly how native speakers learned to be formal or informal. :-)</p>
<p>Best of luck with your exam!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/128/1453">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/british-vs-american-english#comment-1453">Thursday, March 15, 2012 - 16:27</a></span>
</div>
</div>
</div><a id="comment-1455"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://eastasiastudent.net" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a67bc9ba43f6134143cc355e60edd51f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>It seems that British people have less trouble understanding American accents than the other way round, probably because we have so much more exposure to American TV and films ('movies'!).</p>
<p>Obviously I am as biased as it is possible to be biased on this, but I do think a standard British accent is more pleasant to listen to than a general American one. I find this is especially true for foreigners learning English; for me, someone who has learnt a British accent has a strikingly nicer sound to their voice.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/128/1455">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://eastasiastudent.net" rel="nofollow">Hugh Grigg</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/british-vs-american-english#comment-1455">Friday, March 16, 2012 - 03:12</a></span>
</div>
</div>
<div class="indented"><a id="comment-1466"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks for your comment!  I actually also enjoy listening to foreigners speak with English accents. :-)  For some reason it's sort of charming and actually, since I don't know the English accent that well, it makes their English pronunciation seem better than it probably actually is. ;-)</p>
<p>Your blog looks interesting, I just subscribed!  I really want to learn Japanese and Chinese some day.  I haven't thought about Korean, but if I learn too much about it, I'll probably start wanting to learn it too. ;-)  If only I could learn them all!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/128/1466">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/british-vs-american-english#comment-1466">Sunday, March 18, 2012 - 08:15</a></span>
</div>
</div>
</div><a id="comment-1457"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/5609ea83edf92f4bad9b21ad056f8514?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Thanks David for your advise about English. I want to use your method, but with other books. ( I am not going to read The Tragedy of Hamlet, which was written by William Shakespeare)( It is only a joke ;-) ;-) ), but I have started read a book of harry Potter ( part 1 only). </p>
<p>Kings regards</p>
<p>David</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/128/1457">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Peter  (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/british-vs-american-english#comment-1457">Friday, March 16, 2012 - 06:50</a></span>
</div>
</div>
<div class="indented"><a id="comment-1467"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Fantastic!  Let me know how it goes. :-)  Regards, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/128/1467">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/british-vs-american-english#comment-1467">Sunday, March 18, 2012 - 08:16</a></span>
</div>
</div>
</div><a id="comment-1458"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/99f489687f148d49af8f24e4a73a758c?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>As for the British vs American English issue, I like the blog "Separated by a common language": <a href="http://separatedbyacommonlanguage.blogspot.com/" title="http://separatedbyacommonlanguage.blogspot.com/">http://separatedbyacommonlanguage.blogspot.com/</a></p>
<p>It's being written by a professor of linguistics who has worked and lived in the US as well as in the UK. She mentions or extensively describes a lot of subtle differences between the dialects of English that many average speakers aren't even aware of.</p>
<p>In my opinion that's the best blog on the topic.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/128/1458">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Marcin (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/british-vs-american-english#comment-1458">Friday, March 16, 2012 - 13:15</a></span>
</div>
</div>
<div class="indented"><a id="comment-1468"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Great suggestion!  I've been subscribed to this blog for a long time, but I'm subscribed to a lot of blogs and unfortunately can't keep up on them all.</p>
<p>But, yes, this is a good one!  Some of the differences that she points out can be very humorous. ;-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/128/1468">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/british-vs-american-english#comment-1468">Sunday, March 18, 2012 - 08:17</a></span>
</div>
</div>
</div><a id="comment-1460"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a5515a9d0bacfce3b40a5a9da2ea0d3b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>to me that guy in youtube movie sounds a bit... Swedish</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/128/1460">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">2.sniadanie (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/british-vs-american-english#comment-1460">Friday, March 16, 2012 - 13:55</a></span>
</div>
</div>
<a id="comment-1462"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/15a8a5e73b9def997db642e6ac60ad60?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>its really strong scottish accent and i can understand eveything but give me a really strong welsh accent and i find it really hard to understand,we have friends from wales and i have to get the girl to translate when her brother speaks to me.:-0</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/128/1462">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Roy (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/british-vs-american-english#comment-1462">Sunday, March 18, 2012 - 07:09</a></span>
</div>
</div>
<div class="indented"><a id="comment-1463"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I gave up. Understood nothing. :)</p>
<p>But an ordinary Pole would have the same problem with native Kashubians or Silesians. These two dialects, especially when it comes to people who cultivate these traditions, are really difficult to understand. Especially Kashubian.</p>
<p>The two are not separate languages, the people are Poles, but children do not use them in schools. It’s rather a folk custom.</p>
<p>But what about the accent from the video? Is it a tradition or an everyday language?</p>
<p>I like British accent, but many times I sneak in a ‘hard R’ though I suppose a German has more difficulty. :)<br/>
I heard that a British accent is regarded intelligent in the US.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/128/1463">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/british-vs-american-english#comment-1463">Sunday, March 18, 2012 - 07:27</a></span>
</div>
</div>
<div class="indented"><a id="comment-1469"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>From a linguistic perspective, I think you could make a really strong argument for Kashubian being it's own language.  Maybe even Silesian, but the argument would be less strong.</p>
<p>In that video, the guy is clearly still speaking English.  His pronunciation is crazy and he uses a couple of unusual idioms.  It's possible that some of the words I didn't understand were specific to his dialect.  But, in any case, I could understand almost all of it without a translator so I'll say it was English. ;-)</p>
<p>But if someone could just explain the joke about "Les Porter" I'd be very grateful.  Since it seems to an important peice in the plot. :-)</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/128/1469">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/british-vs-american-english#comment-1469">Sunday, March 18, 2012 - 08:25</a></span>
</div>
</div>
</div></div><a id="comment-1464"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/15a8a5e73b9def997db642e6ac60ad60?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>that accent is everyday language,not sure that an english accent is regarded intellgent in the us but when we were on holiday in mexico all the americans we met there wanted us to talk all the time because they liked the english accent.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/128/1464">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Roy (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/british-vs-american-english#comment-1464">Sunday, March 18, 2012 - 07:40</a></span>
</div>
</div>
<div class="indented"><a id="comment-1470"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Heh, Americans are weird like that. :-)  Particularly, American women.  I'm surprised that more Englishmen don't come to the States to take advantage of that. ;-)</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/128/1470">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/british-vs-american-english#comment-1470">Sunday, March 18, 2012 - 08:27</a></span>
</div>
</div>
</div><a id="comment-1525"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/ae57801d705dd963f4dc34fe15fcbe40?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p><a href="http://www.youtube.com/watch?v=liNVaGWYHYc" title="http://www.youtube.com/watch?v=liNVaGWYHYc">http://www.youtube.com/watch?v=liNVaGWYHYc</a></p>
<p>:D</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/128/1525">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/british-vs-american-english#comment-1525">Monday, March 26, 2012 - 10:14</a></span>
</div>
</div>
<div class="indented"><a id="comment-1598"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Heh, that was pretty good. :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/128/1598">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/british-vs-american-english#comment-1598">Friday, March 30, 2012 - 12:51</a></span>
</div>
</div>
</div><a id="comment-3197"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e71a902b6a066dc96951699697afbafd?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>As an <a href="http://www.eslhonolulu.com/">English Tutor in Honolulu</a> I find it amazing listening to people speak English in many different ways. Standard American English , British English and Old English really varies in many ways. Spelling and terminologies are somewhat mostly the main reasons.</p>
<p>  Like : biscuit - cracker<br/>
           toilet - loo -- john</p>
<p> So basically, the main thing is to learn them and be fluent in speaking,reading,writing,etc. you really need to communicate with them. That would be the best teaching and learning experience for everyone. In the class here, we have are global. So there is Chinese,Thai,Korean,Japanese,Filipino,Spanish,and a lot more. So imagine teaching those people ,it really is tasking but it is fun because I too am learning with them.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/128/3197">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Bianca Mulach (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/british-vs-american-english#comment-3197">Friday, November 16, 2012 - 10:32</a></span>
</div>
</div>
</div>
