---
permalink: /blog/2012/03/email-problem-i-need-your-help/
layout: blog-old
title: 'Email problem - I need your help!'
day: 8
month: Mar
year: 2012
category: personal
tags: [ ]
language: en
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/default/files/imagecache/Large/image/2012/03/mail.jpg" rel="lightbox"><img alt="Letters on a table" src="http://www.linguatrek.com/sites/default/files/imagecache/Small/image/2012/03/mail.jpg" title="Everyone loves to get mail! Photo by Donovan Beeson."/></a><div class="caption">Everyone loves to get mail! <a href="http://www.flickr.com/photos/79334698@N00/5527935353">Photo</a> by <a href="http://www.flickr.com/people/donovan_beeson/">Donovan Beeson</a>.</div></div>
<p><strong>I love receiving emails and comments from <a href="http://www.linguatrek.com/blog/2011/02/milwaukee-wisconsin-unique-english-dialect">you guys</a>!</strong></p>
<p>It's great to hear about your language learning journeys and to help when I can!  Language learning is my passion and I want to help as many people succeed as possible.</p>
<p><strong>That's why I try to respond to every single email and comment</strong> - if nothing else to let you know that I'm listening and I appreciate it.</p>
<p>The problem is that lately I've been getting <a href="http://pl.bibliobird.com/node/8366">so many</a> that I'm having trouble finding time to respond to them all.</p>
<p><strong>In fact, I spend 1-2 hours per day just responding to emails and comments but I still haven't responded to messages from as far back as <em>March 2nd (6 days ago)</em>.</strong></p>
<p>It's gotten to a point where, not only is it nearly impossible to catch up - but I'm having trouble finding time to write new articles, record new videos and improve <a href="http://www.bibliobird.com">Bibliobird</a>.</p>
<p>I have a few ideas about how to fix this but I want to hear your ideas and make sure that you're OK with whatever I decide.</p>
<p><strong>I need your help!  Please read the rest of this article and leave a comment!</strong></p>
<h2>Ideas</h2>
<p>Here are a few of the ideas that I have:</p>
<ul>
<li><strong>Write articles instead of responding</strong>: Most of the emails I receive are requests for advice.  People tell me about their specific problems and I try to help them.  This is great but in the end it helps <em>only one person</em>.  Instead, I could turn my response into an article that could help many people!</li>
<li><strong>Encourage people to ask for help on the <a href="http://en.bibliobird.com/forum">Bibliobird forum</a></strong>:  There is a great community of language learners that are actively helping each other on the forum.  I read everything that gets posted but frequently someone from the community gives basically the same advice I would give!  I only have to jump in if no one responds or if I have something unique to add.</li>
<li><strong>Find someone to help me respond to emails</strong>: Much of the time, I've already written an article about the problem the person is having and I just need to send the link.  Or they'll suggest a topic for a new article, a book or movie they think I'd like or a feature they want in Bibliobird.  Those just get added to big lists (ie. <em>my notes</em>) which I look at later.  Someone else could definitely do those things!</li>
</ul>
<h2>What do you think?</h2>
<p>Just to be clear: <strong>I still intend to read <em>everything</em> that everyone sends me!</strong>  That's fine.  It doesn't take very much time and, in fact, that's <em>the best part</em> about my activities on the internet. :-)</p>
<p><strong>I only want to spend less time <em>responding</em>.</strong>  That's what's taking me hours and hours to do.</p>
<p>If I had those hours back, I could:</p>
<ul>
<li>Write more articles</li>
<li>Record more videos</li>
<li>Make Bibliobird even more awesome! ;-)</li>
</ul>
<p><strong>So, what do YOU think?  Would you be OK with the ideas I suggested above?  What else could I do to improve the situation?</strong></p>
<p><strong>Or are personal emails more important to you than articles/videos/etc?  In the end I really want to help you best, so please let me know how I can do that.</strong></p>
<p><strong>Leave a comment below!</strong></p>
</div>

<div id="comments">
<a id="comment-1419"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://about.me/tomfrompoland" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3cdbaa2914c95444fc7968fe42ddfa2b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hi David,</p>
<p>Your plan sounds well and I think response on the blog is better, because it can help many people. Not only one who send to you question. And you will be able to simply send shorter response only with link without detailed explanation.</p>
<p>It can shorter your daily responding time.</p>
<p>All the best<br/>
Tom</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/127/1419">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://about.me/tomfrompoland" rel="nofollow">TomFromPoland</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/email-problem-i-need-your-help#comment-1419">Thursday, March 8, 2012 - 10:36</a></span>
</div>
</div>
<div class="indented"><a id="comment-1424"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks for your comment, Tom!  I hope it ends up working out. :-)  Regards, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/127/1424">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/email-problem-i-need-your-help#comment-1424">Friday, March 9, 2012 - 14:46</a></span>
</div>
</div>
</div><a id="comment-1420"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Though it might sound brutal, but you are not paid for that and your time is precious. You could as well send auto-response with the message that you try to read all messages but due to time constraints it is not possible to reply to all of them.</p>
<p>I would personally go for that. Answering the same thing n-th time is counter-productive.</p>
<p>The other idea is to set up Q &amp; A service. Shapado is an open source Q &amp; A service and you can start it withing a couple of seconds.<br/>
Antimoon used to have similar service and it was very popular.</p>
<p>To my mind such a service is better than a forum. Think of stockexchange platform like stackoverflow!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/127/1420">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/email-problem-i-need-your-help#comment-1420">Thursday, March 8, 2012 - 13:13</a></span>
</div>
</div>
<div class="indented"><a id="comment-1425"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks for your input!</p>
<p>I'm think about putting such a notice on the contact page on my blog that says I don't have time to respond to all messages but that I try my best.</p>
<p>I don't want to be too brutal because I still want to develop relationships with the people who read my blog!  I've made some good friends this way and really, this is one of my favorite parts having this blog.  So, I hope to find something between "brutal" and doing everything for everyone. ;-)</p>
<p>Having a Q&amp;A service would be interesting.  I could probably even just make a searchable FAQ page on my blog with a link to the article that answers the question.  And I could link to that on the contact page!</p>
<p>I really *love* Stackoverflow.  As a software developer, that is one of my favorite sites on the internet. :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/127/1425">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/email-problem-i-need-your-help#comment-1425">Friday, March 9, 2012 - 14:50</a></span>
</div>
</div>
<div class="indented"><a id="comment-1428"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>David, but the Q&amp;A site/service is community driven. I’m still looking for one where I could ask question in Polish and English.<br/>
Antimoon’s was pretty good, but now it’s gone.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/127/1428">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/email-problem-i-need-your-help#comment-1428">Saturday, March 10, 2012 - 03:32</a></span>
</div>
</div>
</div></div><a id="comment-1422"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.boshka-art.blogspot.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8b6885c2dd3a8c459c143dcad2dd5e58?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hi David;-) jesli mozesz zerknij jak sobie z tym poradził Shogun1978 - znasz go z YT...miał setki pytań i równiez nie radził sobie z czasem...to ZROZUMIAŁE- zebrał je własnie w kupke i robi zbiorowe odpowiedzi zamiast poszczególnych e-maili;-))<br/>
Nawet nie potrafie sobie wyobrazić ile masz czasu TYLKO DLA SIEBIE I ZONY...przez nasz inwazyjny atak;-))) trzymam kciuki- oszczedzaj sie trochę- pamiętaj o odpoczynku;-) A za wszystko jak zwykle WAM dziękujemy;-)))</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/127/1422">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.boshka-art.blogspot.com" rel="nofollow">Boshka</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/email-problem-i-need-your-help#comment-1422">Friday, March 9, 2012 - 04:14</a></span>
</div>
</div>
<div class="indented"><a id="comment-1426"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Bożka! Dzięki za komentarz, pomysł i miłe słowa. :-) Shogun1978 ma fajne rozwiązanie do tego problemu. Wszyscy słyszą odpowiedź i odpowiada na wszystkie pytania jednocześnie. Będę o tym myślał! Pozdrawiam, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/127/1426">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/email-problem-i-need-your-help#comment-1426">Friday, March 9, 2012 - 14:52</a></span>
</div>
</div>
</div><a id="comment-1429"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a140205686f16e7af2fc493d5ca1e263?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>David, mysle ze problem powinno rozwiazac nakrecenie krotkiego filmu video na YT w ktorym dokaldnie przedstawisz ten problem, podajac przyklady w godzinach ile Ci to by zabralo...Mysle ze powiino pomoc. Moglbys robic od czasu do czasu akcje ze np 1 raz w miesiacu pojawi sie filmik ze zbiorczymi odpowiedziami na pytania.Moglbys okresli czas trwania takiej akcji, ze np w tym tygodniu zbierasz pytania do tego i tego czasu. Mysle ze takie Q &amp; A mozna by podzielic na wiele kategorii : - jezyk angielski, zycie w usa.... prywatne( jesli takie pytania sa i jesli masz ochote na nie wogole odpowiadac)i co jakisz czas moglbys udzielac odpowiedzi. Mysle ze przy takiej liczbie pytan trzeba wprowadzic jakies "twarde" zasady aby moc to jakos ogarnac. Jak to mowimy zeby "wilk byl syty i owca cala" :)<br/>
 Serdeczne pozdrowienia</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/127/1429">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">trzpiot (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/email-problem-i-need-your-help#comment-1429">Saturday, March 10, 2012 - 13:30</a></span>
</div>
</div>
<div class="indented"><a id="comment-1433"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Marzena!</p>
<p>Dziękuję za pomysły. Zgadzam się, że jakieś twarde zasady pomogłyby bo wtedy jest jasno wszystkim co się dzieje i nie było niespodzianek. :-)</p>
<p>Też myślę, że mógłbym nagrywać wiele krótkich filmików z jedną odpowiedzią, bo to pomogłoby w przesłaniu linków kiedy ludzie zadają pytania, na które już odpowiedziałem.  Ale nie wiem czy to spodobało się widzom. Teraz muszę po prostu eksperymentować z tymi pomysłami. ;-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/127/1433">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/email-problem-i-need-your-help#comment-1433">Tuesday, March 13, 2012 - 11:17</a></span>
</div>
</div>
<div class="indented"><a id="comment-1438"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a140205686f16e7af2fc493d5ca1e263?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hej David,</p>
<p>wpadl mi jeszcze maly szczegol na Twojej stronie. W zakladce na gorze po prawo "o tym blogu" pisze grubymi literami "Wyslij mi wiadomosc". Moze warto byloby pomyslec i dopisac w nawiasie pod spodem problem z odpowiedzia na maile, ze powodu duzej ilosci maili nie jestes w stanie odpisac na wszystkie. Wtedy osoba ktora wysyla Ci taka wiadomosc jest uprzedzona o sytuacji w jakiej sie znajdujesz.</p>
<p>Musisz byc swiadomy tego ze nie jestes w stanie zadowolic kazda osobe. Zawsze znajdzie sie ktos kto niestety tego nie zrozumie. Mysle ze co madrzejsza osoba (a takich fanow wlasnie masz :-) jest w stanie pojac, iz nie dasz czasowo rady zawsze odpowiadac. Osoby ktore lubia Cie sluchac, zawsze beda to robic... Nie przejmuj sie tym tak zbyt mocno! :-) Jesli pytasz o zdanie, to ja osobiscie wole zebys wiecej krecil filmow i pisal artykuly niz spedzal czas na odpisywaniu na kazde pytanie.</p>
<p>jak zwykle pozdrawiam :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/127/1438">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">trzpiot (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/email-problem-i-need-your-help#comment-1438">Tuesday, March 13, 2012 - 13:32</a></span>
</div>
</div>
<div class="indented"><a id="comment-1454"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Taak, nawet nie myślałem o tym. :-/ To jakby rozkazuję wszystkim wysłać mi wiadomość! :-)</p>
<p>Problem tkwi w tym, że nadal chciałbym zapraszać ludzi do kontaktu ze mną.</p>
<p>Może tylko potrzebne jest krótkie wyjaśnienie <a href="http://www.linguatrek.com/contact">na tej stronie</a>?</p>
<p>Będę o tym wszystkim myślał. :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/127/1454">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/email-problem-i-need-your-help#comment-1454">Thursday, March 15, 2012 - 20:18</a></span>
</div>
</div>
<div class="indented"><a id="comment-1456"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://about.me/tomfrompoland" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3cdbaa2914c95444fc7968fe42ddfa2b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>I think that short explanation and FAQ about the most common requests and questions will be OK.</p>
<p>You should to explain why you don't answer or why it takes so long time, suggest to view a FAQ and searching your blog before sending any email to you.</p>
<p>You should to except unwanted topics and suggestions (simply delete email when this topic comes in it) and encouraging people more put comments (on blog or Youtube) so that more people be able to response and be able to see answer for they unasked questions.</p>
<p>That are my two cents :-)</p>
<p>Best<br/>
Tom</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/127/1456">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://about.me/tomfrompoland" rel="nofollow">TomFromPoland</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/email-problem-i-need-your-help#comment-1456">Friday, March 16, 2012 - 05:35</a></span>
</div>
</div>
<div class="indented"><a id="comment-1465"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Those are all good ideas. Thanks, Tom!  The problem is that I still really <em>want</em> to respond to them all.  First, I think I have to convince <em>myself</em> that it's OK to sometimes not reply. ;-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/127/1465">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/email-problem-i-need-your-help#comment-1465">Sunday, March 18, 2012 - 09:09</a></span>
</div>
</div>
</div></div></div></div></div><a id="comment-1588"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/03/our-big-announcement-we-need-your-help" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] to help hundreds (if not thousands!) of people in their language learning journeys. But it takes a HUGE amount of time and resources to [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/127/1588">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/03/our-big-announcement-we-need-your-help" rel="nofollow">Our BIG announcement! (We need your help!) | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/email-problem-i-need-your-help#comment-1588">Thursday, March 29, 2012 - 10:43</a></span>
</div>
</div>
</div>
