---
permalink: /blog/2012/03/o-mnie-i-mojej-misji-page-5/
layout: blog-old
title: 'O mnie (i mojej misji)'
day: 20
month: Mar
year: 2012
category: personal
tags: [ ]
language: en
translation: /blog/2012/03/o-mnie-i-mojej-misji/
---
<div class="content">
<p><object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/RTF9ptgquNY?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/RTF9ptgquNY?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object></p>
<p>Zapraszam do oglądania filmik powyżej ...</p>
<h2>... albo możesz czytać tę samą treść poniżej!</h2>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/03/me.jpg" rel="lightbox"><img alt="Portret Davida" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/03/me.jpg" title=""/></a></div>
<p><strong>Właśnie zdałem sobie sprawę, że nie mam żadnej strony na moim blogu, na której naprawdę przedstawiam się i wyjaśniam dlaczego robię to co robię. :-)</strong></p>
<p>Piszę artykuły i nagrywam filmiki o nauce języków i kulturze amerykańskiej i polskiej od ponad trzech lat, i jeśli je śledziłeś/aś, znasz już całą moją historię - <em>ale nie wiesz dlaczego to robię!</em></p>
<p><strong>(Specjalnie dla długoletnich fanów: w pełnym artykule jest zdjęcie, na którym mam długie włosy! Zapraszam!)</strong></p>
<p>Jeśli mnie nie znasz, oto jest mój krótki, <em>oficjalny</em> profil:</p>
<blockquote>
<p>David Snopek jest amerykańskim przedsiębiorcą, programistą oraz nauczycielem i uczącym się języków obcych, który urodził się i wychował się w Milwaukee w stanie Wisconsin. Chociaż ma polskie nazwisko (dzięki dalekim polskim przodkom, którzy wyemigrowali do USA ok. 100 lat temu), dorósł mówiąc tylko w jednym języku: angielskim.</p>
<p>W końcu jako dorosłemu udało mu się dojść do całkiem wysokiego poziomu w nauce j.polskiego, korzystając z nietradycyjnej metody. Zainspirowany tym sukcesem, stworzył <a href="http://www.linguatrek.com/">Linguatrek</a>, blog na którym dzieli się swoim doświadczeniem i <a href="http://pl.bibliobird.com">Bibliobird</a>, aplikację internetową, która pomaga Polakom w nauce j. angielskiego.</p>
</blockquote>
<p><strong>Pierwotnie nie chciałem napisać tego artykułu bo wiedziałem, że będę musiał opowiedzieć o "mojej misji".</strong></p>
<p>Prawdę mówiąc rzeczywiście <em>mam misję</em>.  Obawiałem się jednak ogłaszania jej publicznie. Duże korporacje i politycy mają misje. I mówiąc delikatnie, zwykle są to same <em>bzdury</em> (chciałem napisać słowo na "g" ;-)).</p>
<p>Martwiłem się, że pomyślicie, że moja misja również jest bzdurą.  Ale nauka języków jest <a href="http://www.linguatrek.com/blog/2012/01/vlog-skupianie-si%C4%99-na-tym-co-jest-dla-mnie-wa%C5%BCne">moją prawdziwą pasją</a> i czułem, że wreszcie przyszedł czas, żeby podzielić się tym z Wami.</p>
<p><strong>Czytaj dalej aby dowiedzieć się więcej o mojej misji!</strong></p>
<h2>Moja misja</h2>
<p>Moją misją jest to, żeby:</p>
<ul>
<li><strong>Zmotywować Ciebie do nauki języków obcych i poznawania innych kultur.</strong> <p style="margin: 1em">To może pomóc Ci w: znalezieniu lepszej pracy, poszerzeniu Twoich horyzontów, powrocie do Twoich korzeni, cieszeniu się z podróży po świecie i w ogóle wzbogaceniu Twojego życia.</p></li>
<li><strong>Rozwiać przekonanie, że nie możesz nauczyć się języków albo konkretnego języka.</strong> <p style="margin: 1em">Dużo ludzi myśli, że trzeba mieć "<a 02="" 2011="" blog="" href="" http:="" vlog-nie-trzeba-mie%c4%87-talentu-%c5%bceby-nauczy%c4%87-si%c4%99-j%c4%99zyka="" www.linguatrek.com="">talent do języków</a>."  Albo, że <a href="http://www.linguatrek.com/blog/2011/07/you-dont-need-to-live-in-a-foreign-country-to-learn">trzeba mieszkać w kraju</a>, gdzie się mówi w danym języku. Albo, że koniecznie trzeba nauczyć się na pamięć skomplikowanych <a href="http://www.linguatrek.com/blog/2011/03/language-learning-is-more-like-karate-than-math">zasad gramatycznych</a>. Albo, że niektóre języki są <a href="http://www.linguatrek.com/blog/2010/11/polish-is-not-the-hardest-language-in-the-world">o wiele trudniejsze od innych</a>.  Albo, że jesteś zbyt stary, żeby nauczyć się języków.  <strong>Wszystkie te przekonania są fałszywe: każdy może nauczyć się dowolnego języka!</strong></p></li>
<li><strong>Pokazać Ci jak nauczyć się języka w sposób przyjemny, szybki i efektywny.</strong> <p style="margin: 1em">Nie ma tylko jednej właściwej metody nauki języka.  Niektóre metody są <a href="http://www.linguatrek.com/blog/2011/03/vlog-jak-wygl%C4%85da-efektywna-metoda-nauki-j%C4%99zyka-obcego">efektywniejsze</a> od innych. Ale najefektywniejsza metoda nauki zależy od Ciebie i Twoich osobistych preferencji.  Chciałbym pomóc Ci znaleźć <em>Twoją własną metodę</em>.</p></li>
</ul>
<p><strong>Dlaczego?</strong></p>
<p><em>Bo kiedyś byłem w takiej samej sytuacji!  Potrzebowałem takich samych porad i pomocy!</em></p>
<h2>Moje porażki</h2>
<p><strong><em>Prawda jest taka, że poniosłem wiele porażek ucząc się różnych języków obcych, zanim w końcu odniosłem sukces z j. polskim.</em></strong></p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/03/mexicandoll.jpg" rel="lightbox"><img alt="Mexican doll" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/03/mexicandoll.jpg" title="Zdjęcie Fabiána Everarda Alvareza Navarra"/></a><div class="caption"><a href="http://www.flickr.com/photos/fabalv/244029097/in/photostream/">Zdjęcie</a> <a href="http://www.flickr.com/people/fabalv/">Fabiána Everarda Alvareza Navarra</a></div></div>
<p>Tak jak wielu Amerykanów uczyłem się j. hiszpańskiego w szkole średniej i "high school" - w sumie sześć lat.  Graliśmy w gry, śpiewaliśmy, uczyliśmy się mnóstwa gramatyki i zdawaliśmy egzaminy. Robiłem wszystko co kazał nauczyciel i nawet miałem bardzo dobre oceny.  Ale tak jak większość moich rówieśników, nie udało mi się nauczyć więcej niż tylko tyle, aby zdać egzamin gramatyczny. <strong>Po sześciu latach!</strong></p>
<p><em>Codziennie</em> rozmawiam z ludźmi, którzy mieli takie same doświadczenie z hiszpańskim albo angielskim, albo francuskim, albo z jakimkolwiek innym językiem.  Uczyli się w szkole przez 5, 10 albo 15 lat, ale nadal nie mogą zamówić nic w restauracji, ani obejrzeć filmu bez napisów, ani rozmawiać na luzie z native speakerem.</p>
<p><strong>Wtedy zdecydowałem, że nie mam talentu do języków więc nigdy nie nauczę się języka obcego.</strong></p>
<p>A poza tym, jaki miałoby to sens?  Co dałaby mi znajomość j. hiszpańskiego?  W tamtym momencie, nie miałem pojęcia i prawdziwej motywacji żeby kontynuować naukę.</p>
<h2>Znajdowanie motywacji</h2>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/03/david-redsquare.jpg" rel="lightbox"><img alt="David na Placu Czerwonym" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/03/david-redsquare.jpg" title="Na placu czerwonym. Tak, kiedyś miałem długie włosy. :-)"/></a><div class="caption">Na placu czerwonym. Tak, kiedyś miałem długie włosy. :-)</div></div>
<p>Póżniej jako dorosły poznałem wielu przyjaciół mówiących po rosyjsku.  Jeden z nich jechał do Rosji i na Białoruś, żeby odwiedzić swoją rodzinę i zaprosił mnie, abym mu towarzyszył.</p>
<p>Pomyślałem, <em>"Ojej, to taka wspaniała okazja!  Będę mógł zobaczyć i doświadczyć życia z perspektywy prawdziwych obywateli tych krajów.  <strong>Muszę nauczyć się trochę rosyjskiego!</strong>"</em></p>
<p>Więc zapisałem się na kurs j. rosyjskiego na miejscowym uniwersytecie.  Kurs był bardzo ciekawy, ale tak samo jak na kursie z hiszpańskiego, uczyliśmy się gramatyki, gramatyki i więcej gramatyki.</p>
<p>Po roku pojechałem na tę wycieczkę z moim znajomym i było fantastycznie!  Moja znajomość języka była okropna.  Ale to wystarczyło, żeby zostać zarażonym miłością do języków i podróżowania.  Kiedy wróciliśmy, kontynuowałem ten kurs przez następne dwa lata.</p>
<p><strong><em>Niestety, nigdy nie opanowałem j.rosyjskiego zbyt dobrze, i z tego powodu stawałem się coraz bardziej sfrustrowany.</em></strong></p>
<p>Bardzo dużo wysiłku włożyłem w naukę j. rosyjskiego.  Ale kiedy miałem okazję ćwiczyć ze znajomymi mówiącymi po rosyjsku, mogłem tylko uczestniczyć w najprostszych rozmowach i tylko gdy mówili bardzo powoli i z ograniczonym słownictwem.</p>
<p><strong>Po sześciu latach hiszpańskiego i trzech latach rosyjskiego opanowałem tylko testy gramatyczne.  Biegłe mówienie i rozumienie innego języka nadal było tylko snem.</strong></p>
<h2>Nauka j. polskiego</h2>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/03/warszawa.jpg" rel="lightbox"><img alt="David i Carrie za zamkiem warszawskim" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/03/warszawa.jpg" title="Razem z żoną w Warszawie"/></a><div class="caption">Razem z żoną w Warszawie</div></div>
<p>Kiedy wreszcie przyszedł czas na polski, zacząłem inny kurs na uniwersytecie.  Był bardzo przyjemny, głównie dzięki profesorowi, który opowiadał fajne historie.  Ale po roku już było jasne, że naprawdę nie nauczę się polskiego, tak samo jak nie nauczyłem się hiszpańskiego i rosyjskiego.</p>
<p>Zadałem samemu sobie pytanie, <em>"Czy chciałbym nauczyć się jak zdawać egzaminy gramatyczne?  Czy chciałbym naprawdę mówić po polsku?"</em>  Oczywiście, chciałem mówić po polsku!</p>
<p><strong>To był czas na wielką zmianę.</strong></p>
<p>Więc przestałem chodzić na kurs i zacząłem czytać o tym, jak ludzki mózg uczy się języków.  Zacząłem również eksperymentować z metodą, w której <a href="http://www.linguatrek.com/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego">czytałem i słuchałem Harry'ego Pottera</a> po polsku.</p>
<p>Na samym początku szło bardzo powoli.  Czytanie pierwszego tomu zajęło mi cztery miesiące.  Ale rok po rozpoczęciu nauki tą metodą, udało mi się przeczytać i przesłuchać wszystkie siedem tomów Harry'ego Pottera.</p>
<p><strong>Przed tym miałem problemy z najbardziej podstawowymi rozmowami.  Ale potem mogłem:</strong></p>
<ul>
<li>Rozmawiać z native speakerami prawie na dowolny temat</li>
<li>Czytać i słuchać książek</li>
<li>Oglądać filmy</li>
<li>Pisać emaile, listy i artykuły</li>
</ul>
<p>I to wszystko stało się stosunkowo szybko.  Uczyłem się przeważnie sam (nie na kursie, bez nauczyciela) i podczas gdy mieszkałem tutaj w USA.  To było doświadczenie niezwykle przyjemne i <a href="http://www.linguatrek.com/blog/2011/09/vlog-trzy-lata-na-youtube-pi%C4%99%C4%87-lat-z-j-polskim">zmieniło moje życie na lepsze</a>.</p>
<p><strong>Półtora roku po rozpoczęciu nauki tą metodą, z żoną (Carrie) przeprowadziliśmy się do Polski na rok.  Od razu mogłem:</strong></p>
<ul>
<li>Dać sobie radę z polską biurokracją wyłącznie po polsku, np. urząd do spraw cudzoziemców, urząd skarbowy, ZUS, poczta, itd.</li>
<li>Odbywać <a href="http://www.linguatrek.com/blog/2011/07/teaching-english-in-poland">rozmowy kwalifikacyjne</a> po polsku</li>
<li>Znaleźć i wynająć <a href="http://www.youtube.com/watch?v=k8pwVfGIlVs">mieszkanie</a></li>
</ul>
<h2>Ty też możesz to zrobić!</h2>
<p>Często ludzie piszą komentarze pod moim filmikami po polsku takie jak, "Ojej, mówisz świetnie po polsku.  Musisz mieć wielki talent do języków.  Bardzo chciałbym mówic po angielsku tak dobrze jak Ty mówisz po polsku.  Ale nie mam talentu do języków."</p>
<p><strong>Ale sam również nie mam talentu do języków!</strong></p>
<p>Gdybym miał, łatwo nauczyłbym się j. hiszpańskiego i rosyjskiego.  Kiedy nauczyłem się polskiego, nadal byłem tą samą nieutalentowaną osobą, jaką byłem poprzednio.  Ja się nie zmieniłem, tylko zmieniłem swoje podejście.</p>
<p>Jeśli zbierzesz i połączysz ze sobą <a href="http://www.linguatrek.com/blog/2011/03/the-three-ingredients-for-successful-language-learning">"składniki skutecznej nauki języków"</a>, możesz nauczyć się dowolnego języka dochodząc do wysokiego poziomu.</p>
<h2>Opowiedz mi swoją historię w nauce języków!</h2>
<p>Dobrze! Teraz kiedy już mnie znasz - chciałbym dowiedzieć się trochę o Tobie!</p>
<p>Byłbym bardzo wdzięczny gdybyś przedstawił/a się w komentarzach poniżej i opowiedział/a mi swoją historię w nauce języków.</p>
<p><strong>Jaka jest Twoja historia w nauce języków? Jakiego języka teraz się uczysz? Jak będzie wyglądało Twoje życie kiedy się go nauczysz?  Nie musisz pisać powieści o sobie -  chciałbym tylko trochę Cię poznać. :-)  Proszę napisz komentarz poniżej!</strong></p>
</div>

<div id="comments">
<div class="indented"><a id="comment-4285"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Marlena!</p>
<p>Dzięki za komentarz i przemiłe słowa. :-) To fantastycznie, że zaczęłaś czytać książkę po angielsku! Proszę daj mi znać, jak Ci pójdzie.</p>
<p>Stres i lęk są bardzo szkodliwe w nauce języka. Myślę, że czytanie i słuchanie będą Ci pomocne w zbudowaniu pewności siebie.</p>
<p>Życzę sukcesu w nauce!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/4285">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-4285">Friday, March 15, 2013 - 11:43</a></span>
</div>
</div>
</div><a id="comment-4279"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/cf313888c0daf0dac61a7bc82eac2127?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć!Uczyłam się angielskiego w szkole średniej i nigdy nie lubiłam tego języka.Nigdy też się go nie nauczyłam.Ogrome trudności sprawia mi wymowa większości wyrazów.Jeśli chodzi o pisanie nie mam problemów.Niestety cały czas "tkwię" na podstawowym poziomie(wg niektórych (średniozaawansowanym),nie mogę swobodnie porozmawiać na każdy temat i posługuję się tylko czasem present i past simple.<br/>
Poddałam się.. i chyba nie mam motywacji.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/4279">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Dagmara (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-4279">Thursday, March 14, 2013 - 07:24</a></span>
</div>
</div>
<div class="indented"><a id="comment-4286"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Dagmara!</p>
<p>Dzięki za podzielenie się Twoją historią. :-) Mam nadzieję, że kiedyś znajdziesz motywację do nauki angielskiego i wrócisz do niej! Bardzo się cieszę, że tutaj trafiłaś i również mam nadzieję, że moje porady w ebooku i na blogu będą Ci pomocne w tym!</p>
<p>Oto jest artykuł o tym jak znaleźć motywację:</p>
<p><a href="http://www.linguatrek.com/blog/2013/02/jak-znale%C5%BA%C4%87-motywacj%C4%99-kt%C3%B3ra-jest-do%C5%9B%C4%87-silna-aby-osi%C4%85gn%C4%85%C4%87-cel" title="http://www.linguatrek.com/blog/2013/02/jak-znale%C5%BA%C4%87-motywacj%C4%99-kt%C3%B3ra-jest-do%C5%9B%C4%87-silna-aby-osi%C4%85gn%C4%85%C4%87-cel">http://www.linguatrek.com/blog/2013/02/jak-znale%C5%BA%C4%87-motywacj%C4...</a></p>
<p>I ten jest na temat słuchania - nie mówiłaś o słuchaniu w Twoim komentarzu, więc wydało mi się, że do tej pory nie skupiłaś się na tym (ale oczywiście mogę się mylić):</p>
<p><a href="http://www.linguatrek.com/blog/2012/01/the-importance-of-listening" title="http://www.linguatrek.com/blog/2012/01/the-importance-of-listening">http://www.linguatrek.com/blog/2012/01/the-importance-of-listening</a></p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/4286">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-4286">Friday, March 15, 2013 - 11:49</a></span>
</div>
</div>
</div><a id="comment-4297"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4e78ecdfd5eb2fa42913a025d1f2c4bc?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witam. Uczę się angielskiego od szkoły podstawowej. Na szkolnym poziomie nie mam problemów z językiem. Teraz mam tylko problem z czasami perfect. Wiem jak się tworzy te czasy ale nie wiem kiedy je wykorzystać. Innym problemem jest jeszcze wykorzystanie znanych mi słów w mówieniu. Jakieś porady? </p>
<p>Pozdrawiam</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/4297">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Piotr (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-4297">Sunday, March 17, 2013 - 10:27</a></span>
</div>
</div>
<div class="indented"><a id="comment-4314"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Piotr!</p>
<p>Dzięki za komentarz. :-) Czasy to jeden z najtrudniejszych aspektów gramatyki języka angielskiego! Napisałem artykuł o czasach niedawno temu - może to będzie pomocne:</p>
<p><a href="http://www.linguatrek.com/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim" title="http://www.linguatrek.com/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim">http://www.linguatrek.com/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-...</a></p>
<p>Powiem, że podstawowe użycie czasów "perfect" dodaje wrażenie, że coś się stało w przeszłości i nadal jest połączone z czymś późniejszym. Nigdy NIE MUSISZ dać takiego wrażenia, jeśli nie chcesz! ;-) Używanie tego czasu będzie pozwolił Ci mówić bardziej elokwentnie ale tylko jest wymagane w paru szczególnych sytuacjach (np. z słowami "ever", "already" i "yet"), które są łatwo poznać.</p>
<p>Mam nadzieję, że to pomoże!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/4314">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-4314">Friday, March 22, 2013 - 11:32</a></span>
</div>
</div>
</div><a id="comment-4302"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/2512371379d7bfcd3b4e5a005b7cbcd8?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć, uczę się angielskiego od dawna, głównie w szkole, gdzie poziom był raczej niski i co roku treści się powtarzały, nie wnosząc nic nowego. Nie boję się mówić w tym języku, ale jestem świadoma, że popełniam błędy. Mój poziom nazwałabym prostym komunikatywnym :P. Bardzo się cieszę, że trafiłam na Twoją stronę, dziękuję za dużo cennych porad :). Dzisiaj zaczęłam czytać książkę po angielsku ( sensacyjny plotkarski :P paradokument o ojcu Johna Lennona), jednak już rozglądam się za Harrym Potterem. Pozdrawiam :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/4302">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Ki (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-4302">Monday, March 18, 2013 - 10:38</a></span>
</div>
</div>
<div class="indented"><a id="comment-4315"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć!</p>
<p>To fantastycznie, że nie boisz się mówić i, że zaczęłaś czytać książkę po angielsku! Proszę daj mi znać jak Ci pójdzie. :-)</p>
<p>Życzę dalszych sukcesów w nauce!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/4315">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-4315">Friday, March 22, 2013 - 11:34</a></span>
</div>
</div>
</div><a id="comment-4343"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.equatorbud.com/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/1fe838d30d8ba4c26e6973f91c5ee026?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Dobry.<br/>
Pochodzę z Ukrainy.<br/>
Kiedy miałem 3 lata wyjechałem z rodzicami do Syberii. W szkole uczyłem się rosyjskiego i po powrocie do Ukrainy 10 lat późnej trafiłem do szkoły z językiem rosyjskim (wschód Ukrainy Donieck) gdzie zdecydowani że nie potrzebuje uczyć język ojczysty.<br/>
Ale nie zgodziłem się i nauczyłem się samodzielnie, chociaż to nie było łatwe na wschodzie Ukrainy gdzie się mowie na co dzień w języku  rosyjskim.<br/>
W  2007 roku przyjechałem do Polski i nauczyłem się polskiego w ciągu roku bo po prostu musiałem, bo otworzyliśmy firmę i trzeba było dużo spraw załatwiać.<br/>
Także potrafię porozumiewać się po angielsku. Ale chce swój angielski zrobić bardziej swobodnym.<br/>
Jeszcze chce się nauczyć kilki języków,  włoskiego i francuskiego na pewno.<br/>
Za miesiąc urodzie się nasza córeczka i będziemy ją uczyć języków, a ona nas ))</p>
<p>Dziękuje Davidzie z wspaniałą stronę</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/4343">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.equatorbud.com/" rel="nofollow">Andrzej</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-4343">Sunday, March 31, 2013 - 19:20</a></span>
</div>
</div>
<div class="indented"><a id="comment-4409"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Andrzej!</p>
<p>Dzięki za podzielenie się Twoją historią. :-) My tylko byliśmy w Polsce bardzo krótko ale miałem podobne doświadczenie, że od razu musiałem załatwić dużo spraw po polsku, np. w US, ZUS, Urzędzie Miasta i w Urzędzie Spraw Cudzoziemskich.</p>
<p>Życzę Ci sukcesów w polepszeniu Twojego angielskiego i przyszłej nauce włoskiego i francuskiego!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/4409">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-4409">Saturday, April 6, 2013 - 11:07</a></span>
</div>
</div>
</div><a id="comment-4344"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.equatorbud.com/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/1fe838d30d8ba4c26e6973f91c5ee026?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>i bardzo fajnie śpiewasz, z duszą</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/4344">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.equatorbud.com/" rel="nofollow">Andrzej</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-4344">Sunday, March 31, 2013 - 19:39</a></span>
</div>
</div>
<div class="indented"><a id="comment-4408"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki. :-) Znam kilka piosenek po rosyjsku, przeważnie grupy Kino. Powinienem nauczyć się kilku piosenek po ukraińsku! ;-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/4408">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-4408">Saturday, April 6, 2013 - 11:03</a></span>
</div>
</div>
</div><a id="comment-4383"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9990c922400e2984ef60061bd9641e4c?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witaj David!<br/>
Od lat próbuję znaleźć motywację do nauki j.angielskiego - od lat bezskutecznie. Nie chcę zapeszyć, ale myślę, że Twoje filmiki, ebook, jak i przesłanie które niesiesz, są tym czego dotychczas mi brakowało. Jestem pełen podziwu dla Twoich osiągnięć, mam nadzieję, że choć w części uda mi się powtórzyć Twój sukces. Motywacja już jest. I za to chciałbym Ci serdecznie podziękować:)<br/>
Pozostańmy w kontakcie:)<br/>
Pozdrawiam, Paweł:)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/4383">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Paweł (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-4383">Wednesday, April 3, 2013 - 16:28</a></span>
</div>
</div>
<div class="indented"><a id="comment-4410"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Paweł!</p>
<p>Dzięki za komentarz i miłe słowa. :-) Naprawdę mam nadzieję, że moje materiały będą Ci pomocne w nauce! Życzę sukcesu!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/4410">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-4410">Saturday, April 6, 2013 - 11:09</a></span>
</div>
</div>
</div><a id="comment-4499"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e5ecc31549bbd27cfef6243331426e8f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hello there.</p>
<p>Do you think that it's possible to learn language to a native-like level? I mean I was learning English for 10 years at school, private lessons etc. Most of the language I must have learned by playing computer games  (godbless that they weren't translating it to polish at the time) and movies. I'd say that my vocabulary is rather good, i mostly encounter some problems when i read a book (obscure words that aren't used frequently in spoken english etc) or have to deal with some heavy accents.</p>
<p>Masz jakieś problemy kiedy słuchasz szybko mówiących native-speakerów czy opanowałeś Język Polski na tyle dobrze, że to nie jest już dla Ciebie żadnym problemem? Gdzieś wcześniej wspominałeś, że korzystałeś z aplikacji Supermemo oraz, że przeciętna osoba zna około 20 000 słów w swoim języku, tak więc z ciekawości - jak duża była twoja kolekcja w tym programie :)? Btw. długo pracowałeś nad wymową? Bo słychać, że włożyłeś w nią dużo pracy i muszę przyznać, że momentami mówisz bardziej "po polsku" niż ja. Może za kilka lat nie będzie się dało poznać, że jesteś obcokrajowcem (już teraz ciężko rozpoznać twój "mother-tongue") :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/4499">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Jacek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-4499">Monday, May 6, 2013 - 14:18</a></span>
</div>
</div>
<div class="indented"><a id="comment-4512"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Jacek!</p>
<p>I think it's possible to learn a language to a native-like level. It's not personally a goal of mine, but I think it's possible!</p>
<p>Nie, zwykle nie mam problemów kiedy słucham szybko mówiących native speakerów - ale zawsze są ludzie, których jest trudno rozumieć. :-) Nie używałem Supermemo, ale podobnej aplikacji. Niestety nie pamiętam dokładnie - w kolekcji było kilka tysięcy słów.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/4512">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-4512">Monday, May 13, 2013 - 08:43</a></span>
</div>
</div>
</div><a id="comment-4502"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/ccd1b1a9a1f4e7a2e07a6f6fbed8261c?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witaj. Na początku chciał bym Ci powiedzieć ze jestem pod wielkim wrażeniem tego w jaki sposób można nauczyć sie języka  :). Mam 18 lat w szkole mam jezyk angielski ale nic Mi nie wchodzi do głowy przez gramatykę :( . Bardzo chciał bym nauczyć sie j.angielskiego bo wiaze z Tym Moja przyszłość , odkładam pieniążki na koncie aby przeprowadzić sie do USA na stałe chce zaczac życie od nowa, bo dużo w życiu przeszedłem , śmierć rodziców , zero kontaktu z rodzina zostali Mi tylko przyjaciele z którymi chcemy wyjechać do USA ale najpierw nauczyć sie języka :).Pobrałem juz Pana e-booka i czas siąść do nauki :)  Chce jeszcze podkreślić ze od 4 dni szukam dobrej metody na naukę i dopiero dzisiaj o godzinie 1.08 w nocy czasu polskiego trafiłem na Pana !!! :) Bardzo dziękuje ze sa tacy ludzie jak Pan ze dziela się Swoim doświadczeniem. :) Pozdrawiam cieplutko z zimnej Polski :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/4502">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Qba (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-4502">Tuesday, May 7, 2013 - 18:10</a></span>
</div>
</div>
<a id="comment-4842"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/ee26b760afcaa55b5c7d64ceb3bd24da?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witaj David świetnie sobie radzisz z nauką języków.bardzo Ci dziękuję za tak dobre strony,ale nie umiem otwprzyć książki do nauki angielskiego,a zwłaszcza nuka słów w piśmie i mowie,jak wejść czy podacz mi konkretną stronę.Pazdrawim bardzo serdecznie.Stanislaw</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/4842">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">stanislaw (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-4842">Wednesday, June 5, 2013 - 09:48</a></span>
</div>
</div>
<a id="comment-4855"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8ef07bb09eb3ece5db45a45db0319a3f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witam,<br/>
prezentujesz fajne filmiki. Ja tam nie mam aż takiej miłości do nauki języków. Ale fascynują mnie inne zagadnienia, np. problem: jak żyją ludzie w różnych krajach. Oczywiście interesuje mnie także jak żyją zwykli ludzie w Stanach Zjednoczonych.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/4855">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Zbigniew Synopa (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-4855">Sunday, June 16, 2013 - 10:31</a></span>
</div>
</div>
<a id="comment-5035"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/01d3b4475ea2467ffcd8e91a9a68152f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>hello David!</p>
<p>I've just found your blog and it's really amazing! You're like an eloquent free private tutor :) and you put so much heat in it. Usually things you can find online are rewritten from some grammar books but here you can experience live language with excellent explanation of it's use.<br/>
I've been learning English for 22 years now (seems like a long time). I attended private English classes and then I had a private tutor but the thing that helped me the most was watching cartoons in English. I believe it was something like a natural language acquisition, I learned to hear separate words and not just an English mumble and simultaneously I was learning about English grammar during classes. Having that I could continue to learn by myself and here some problems occured. Since I'm a self-made man (or a woman - I don't know which one is correct, but I definitely know I'm a woman ;)) I didn't have anyone to correct my mistakes, but now I know who to turn to :) thanks for that!<br/>
Anyway my advice is to try to watch foreign films (English-spoken) without subtitles. To read some extracts or books even if we don't know all the words our brain will still remember the context the specific word had been used and to visit an interesting learning site: memrise.com and of course to check your blog regularly :)</p>
<p>best wishes</p>
<p>PS. could you correct any mistakes that I've made?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/5035">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Postraszek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-5035">Thursday, August 1, 2013 - 04:43</a></span>
</div>
</div>
<a id="comment-5074"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a329bdeec1b73f89d9f0003a21bfd3c8?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Mam na imię Piotr, we wrześniu rozpoczynam naukę w liceum. Chciałbym do tego czasu podnieść poziom mojego angielskiego. Największy problem sprawia mi słuchanie i mówienie. Proszę polećcie mi jakąś formę nauki abym te 2 elementy znacznie poprawił.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/5074">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">petri20 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-5074">Monday, August 19, 2013 - 06:06</a></span>
</div>
</div>
<div class="indented"><a id="comment-5091"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Piotr!</p>
<p>Najlepszy sposób, żeby poprawić słuchanie i mówienie - to słuchanie i mówienie. :-) O tym dużo napisałem w moim darmowym ebooku. Jeśli jeszcze nie czytałeś go, polecam gorąco! Zasubskrybuj mój blog i go dostaniesz:</p>
<p><a href="http://www.linguatrek.com/subscribe" title="http://www.linguatrek.com/subscribe">http://www.linguatrek.com/subscribe</a></p>
<p>Życzę powodzenia w nauce!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/5091">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-5091">Monday, August 26, 2013 - 08:08</a></span>
</div>
</div>
</div><a id="comment-5100"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a25e18b79dedf3b717d99caf7cf8b5a1?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>David, please help me.</p>
<p>Which one is more understandable for English-speaking person:</p>
<p>1 - ONE SOURCE OF SERVICES<br/>
2 - ONE SOURCE. ALL SERVICES.<br/>
3 - ONE SOURCE - ALL SERVICES<br/>
4 - ONE SOURCE OF ALL SERVICES<br/>
5 - ALL SERVICES IN ONE SOURCE<br/>
6 - ALL SERVICES. ONE SOURCE.<br/>
7 - other?</p>
<p>It should mean: "Jedno źródło usług".</p>
<p>Thank you in advance.<br/>
Kuba</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/5100">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kuba (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-5100">Tuesday, August 27, 2013 - 06:12</a></span>
</div>
</div>
<div class="indented"><a id="comment-5101"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Kuba,</p>
<p>Maybe one of these two:</p>
<p>1. "All services from one source"</p>
<p>2. "One source for all services"</p>
<p>It's a little hard to translate without the full context, but those sound the best to me.</p>
<p>I hope that helps!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/5101">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-5101">Tuesday, August 27, 2013 - 07:01</a></span>
</div>
</div>
<div class="indented"><a id="comment-5102"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a25e18b79dedf3b717d99caf7cf8b5a1?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Thank you very much.<br/>
Sorry if I spam here, but I did not find better place to ask.</p>
<p>The context is: there is a service company (security, cleaning, technical services etc. - whole variety of services) and the slogan (in polish "JEDNO ŹRÓDŁO USŁUG") should give the information to the Client that the company is providing a lot of different, comprehensive services.</p>
<p>ONE SOURCE is the company<br/>
SERVICES - all services provided by the company</p>
<p>Now, the company is using: "ONE SOURCE OF SERVICES", but I am not sure if it has sense.</p>
<p>Kuba</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/5102">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kuba (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-5102">Tuesday, August 27, 2013 - 08:11</a></span>
</div>
</div>
<div class="indented"><a id="comment-5121"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Kuba,</p>
<p>In that case, I like the 2nd translation I gave best: "One source for all services," however it'd sound better if you said what kind of services, for example: "One source for all building services" or "One source for all business services" - something like that.</p>
<p>I hope that helps!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/5121">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-5121">Sunday, September 1, 2013 - 17:29</a></span>
</div>
</div>
</div></div></div><a id="comment-5117"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8c9813b162f22867211d97b4cf95c15c?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witaj, natrafiłem na twoje filmiki na youtube przez przypadek. Muszę powiedzieć że mam pewien cel w życiu. chce wyjechać do Stanów i pracować jako kierowca autobusu, wiem ze to możliwe jeśli się tego chce. Zamiłowanie do języka angielskiego mam od dziecka ale podobnie jak ty bardzo trudno uczyć mi się języka mając jako taka wiedzę gramatyczna a zasadniczo nie wiedzieć o tym języku za wiele. Chce powiedzieć ze dziś zakładam swoje konto i mam nadzieje ze to mój pierwszy krok naprzód w zdobyciu swojego celu. Dzięki za taka postawę bo to strasznie motywuje i pokazuje ze Ja Też Mogę...</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/5117">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">piotrrywocki (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-5117">Saturday, August 31, 2013 - 01:23</a></span>
</div>
</div>
<a id="comment-5186"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/89d5da2f6811b273498cda92f5e8f015?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Jak oglądam Twoje filmiki, to po prostu nie mogę się nie uśmiechać XD Twój polski jest taki jakiś przyjemny, a Twojego głosu bardzo miło się słucha :)<br/>
Poza tym naprawdę bardzo się cieszę, kiedy ktoś mówi moim ojczystym językiem, szczególnie, że nie jest tak wiele osób uczących się polskiego, a takich, które potrafią się nim posługiwać tak dobrze jak Ty, jeszcze mniej :D<br/>
Do tego sam trochę siedzę w językach, więc cieszę się, kiedy widzę, że ktoś uczy się jakiegokolwiek języka. Chociaż jeszcze do niedawna tak nie było. Trochę głupio mi to mówić, ale do drugiej klasy gimnazjum (a teraz jestem w pierwszej liceum, więc nadal jestem jeszcze dzieciakiem XD) nienawidziłem angielskiego, a o niemieckim już nie wspomnę. A było tak prawdopodobnie dlatego że wmówiłem sobie, że nie mam talentów do języków. Ale w wakacje między drugą a trzecią klasą spróbowałem swoich sił w japońskim, bo interesowałem się kulturą Japonii. I wtedy okazało się, że wystarczy mieć chęci. Teraz, kiedy mogę czytać japońskie komiksy, oglądać japońskie filmy bez napisów czy słuchać japońskich wiadomości... Tej satysfakcji nie można porównać z niczym innym. Szczególnie kiedy te ich wszystkie krzaczki i drzewka zaczynają coś znaczyć XD A nigdy nie chodziłem na żaden krus, źródłem mojej wiedzy jest główne internet. A moja koleżanka, która chodziła przez półtora roku na kurs japońskiego, ledwo coś potrafi powiedzieć XD I teraz sobie pomyślałem: dlaczego nie miało by być tak samo z angielskim i niemieckim? No i poza tym naprawdę fajnie, że nagrywasz takie filmiki itp., to też dodaje motywacji :)<br/>
A tak nawiasem mówiąc, to sorki za tak długą wiadomość, ale tak jakoś po prostu zachciało mi się to napisać :D</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/5186">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Takashi (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-5186">Thursday, September 19, 2013 - 14:03</a></span>
</div>
</div>
<div class="indented"><a id="comment-5259"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć!</p>
<p>Dziękuję bardzo za podzielenie się Twoją historią. :-) To fantastycznie, że znalazłeś motywację do japońskiego! Gratuluję Ci postępów i życzę Ci dalszych i również w angielskim i niemieckim!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/5259">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-5259">Saturday, September 28, 2013 - 07:33</a></span>
</div>
</div>
</div><a id="comment-5263"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e9255d55fb9150882fd8f2439611287b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witam. ja w sumie angielskiego uczyłam się w szkole. Będąc jeszcze w szkole podstawowej całą masę lat temu :p chodziłam na taki kurs dla początkujących w sumie dla dzieci. Od kilkunastu lat nie chodzę już do szkoły i niestety nie mam kontaktu z Angielskim.:( Tylko tyle co czytam e maile po angielsku właśnie czytać czytam rozumiem dużo, nie wszystko, ale rozumiem, a napisać odp po angielsku nie umiem :(</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/5263">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Nika (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-5263">Saturday, September 28, 2013 - 08:56</a></span>
</div>
</div>
<a id="comment-5587"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9a5a5996215cd3b0209c488b204a50f6?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi David, i'm polish man i have 14 year<br/>
school  english  8 year<br/>
rating school 3,4 think good, no?</p>
<p>don't like write english<br/>
teach russian in usually 3 rank<br/>
from polish good, rank</p>
<p>think  understood me?? repley.  </p>
<p>Regards,<br/>
Paul.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/5587">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Paul (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-5587">Friday, December 13, 2013 - 18:48</a></span>
</div>
</div>
<a id="comment-5806"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/22922f132f7052a362dc9c1c62365875?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć David! </p>
<p>Wszyscy się dzielą swoimi przemyśleniami, to i ja podzielę się swoimi.</p>
<p>Z języków znam polski (jako native speaker) oraz angielski (na poziomie C1). Kiedyś uczyłam się hiszpańskiego (rok) i francuskiego (4 lata), ale bez większych rezultatów. </p>
<p>Angielskiego uczyłam się przymusowo w szkole, ale moja mama zainwestowała także w prywatnego lektora, który na początku po prostu ze mną rozmawiał-to sprawiło, że nie bałam się mówić i od pierwszych miesięcy nie bałam się zaczynać rozmowy, pomimo świadomości robienia błędów. Myślę, że bardzo pomogło mi też oglądanie wielu filmów z napisami zamiast dubbingu-człowiek osłuchuje się z językiem i zawsze coś w głowie zostaje. W tym języku także studiuję (inżynierię). </p>
<p>Obecnie wróciłam do francuskiego (z powodów miłosnych: mój mężczyzna jest pół Francuzem i pół Włochem) i muszę powiedzieć, że po pierwsze, zdecydowanie łatwiej uczyć się mając obok native speakera, a po drugie, znalazłam świetną stronę internetową, która niejako "nagradza" za czynione postępy, co motywuje mnie do działania.</p>
<p>Twoje postępy śledziłam kiedyś dawno, a teraz wpadłam tu, żeby pokazać mojemu chłopakowi, że można nauczyć się polskiego bardzo szybko i przyjemnie (choć on i tak już mówi niesamowicie biegle).<br/>
Życzę dalszych sukcesów!</p>
<p>Pozdrawiam,<br/>
Sylwia</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/5806">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Sylwia  (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-5806">Wednesday, January 8, 2014 - 12:18</a></span>
</div>
</div>
<a id="comment-6724"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e5419c9d6909d784456d77a85d533d09?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witaj David ! Ja pragnę nauczyć się języka angielskiego w stopniu perfekcyjnym i widzę, jaka daleka droga przede mną, gdy widzę swoje obecne możliwości ( jestem pewien swojego poziomu takie słabe A2, gramatycznie wyżej ). Masz rację, jeśli chodzi o naukę języka obcego w szkole, która skupia się głównie na gramatyce i schematycznych rozmówkach.Ja 20 lat temu w szkole średniej intensywnie uczyłem się języka angielskiego w klasie o profilu z poszerzonym angielskim i mimo to nie mogę swobodnie porozmawiać w tym języku - po prostu tragedia jakaś ! Może brak pewności siebie, swoich istniejących możliwości też się tutaj wkradł ? Bardzo pragnę opanować język angielski na wysokim poziomie, co umożliwi mi rozwój zawodowy i satysfakcję z podróży zagranicznych. Dlatego od około 2 miesięcy czytam prasę anglojęzyczną "Newsweek" w wersji angielskiej "od deski do deski" bez tłumaczenia nieznanych słów, domyślając się ich z kontekstu przez zrozumienie całego zdania. Poszukuję też innych aktywnych i efektywnych metod doskonałego opanowania języka angielskiego...<br/>
i tak trafiłem na Twój blog. I będę zachwycony, jak osiągnę taki poziom w języku angielskim, jak Ty w polskim.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/6724">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Krato (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-6724">Monday, May 5, 2014 - 15:58</a></span>
</div>
</div>
<div class="item-list"><ul class="pager"><li class="pager-first first"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji" title="Go to first page">« first</a></li>
<li class="pager-previous"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji-page-4" title="Go to previous page">‹ previous</a></li>
<li class="pager-item"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji" title="Go to page 1">1</a></li>
<li class="pager-item"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji-page-1" title="Go to page 2">2</a></li>
<li class="pager-item"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji-page-2" title="Go to page 3">3</a></li>
<li class="pager-item"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji-page-3" title="Go to page 4">4</a></li>
<li class="pager-item"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji-page-4" title="Go to page 5">5</a></li>
<li class="pager-current last">6</li>
</ul></div>
</div>
