---
permalink: /blog/2012/03/o-mnie-i-mojej-misji-page-1/
layout: blog-old
title: 'O mnie (i mojej misji)'
day: 20
month: Mar
year: 2012
category: personal
tags: [ ]
language: en
translation: /blog/2012/03/o-mnie-i-mojej-misji/
---
<div class="content">
<p><object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/RTF9ptgquNY?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/RTF9ptgquNY?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object></p>
<p>Zapraszam do oglądania filmik powyżej ...</p>
<h2>... albo możesz czytać tę samą treść poniżej!</h2>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/03/me.jpg" rel="lightbox"><img alt="Portret Davida" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/03/me.jpg" title=""/></a></div>
<p><strong>Właśnie zdałem sobie sprawę, że nie mam żadnej strony na moim blogu, na której naprawdę przedstawiam się i wyjaśniam dlaczego robię to co robię. :-)</strong></p>
<p>Piszę artykuły i nagrywam filmiki o nauce języków i kulturze amerykańskiej i polskiej od ponad trzech lat, i jeśli je śledziłeś/aś, znasz już całą moją historię - <em>ale nie wiesz dlaczego to robię!</em></p>
<p><strong>(Specjalnie dla długoletnich fanów: w pełnym artykule jest zdjęcie, na którym mam długie włosy! Zapraszam!)</strong></p>
<p>Jeśli mnie nie znasz, oto jest mój krótki, <em>oficjalny</em> profil:</p>
<blockquote>
<p>David Snopek jest amerykańskim przedsiębiorcą, programistą oraz nauczycielem i uczącym się języków obcych, który urodził się i wychował się w Milwaukee w stanie Wisconsin. Chociaż ma polskie nazwisko (dzięki dalekim polskim przodkom, którzy wyemigrowali do USA ok. 100 lat temu), dorósł mówiąc tylko w jednym języku: angielskim.</p>
<p>W końcu jako dorosłemu udało mu się dojść do całkiem wysokiego poziomu w nauce j.polskiego, korzystając z nietradycyjnej metody. Zainspirowany tym sukcesem, stworzył <a href="http://www.linguatrek.com/">Linguatrek</a>, blog na którym dzieli się swoim doświadczeniem i <a href="http://pl.bibliobird.com">Bibliobird</a>, aplikację internetową, która pomaga Polakom w nauce j. angielskiego.</p>
</blockquote>
<p><strong>Pierwotnie nie chciałem napisać tego artykułu bo wiedziałem, że będę musiał opowiedzieć o "mojej misji".</strong></p>
<p>Prawdę mówiąc rzeczywiście <em>mam misję</em>.  Obawiałem się jednak ogłaszania jej publicznie. Duże korporacje i politycy mają misje. I mówiąc delikatnie, zwykle są to same <em>bzdury</em> (chciałem napisać słowo na "g" ;-)).</p>
<p>Martwiłem się, że pomyślicie, że moja misja również jest bzdurą.  Ale nauka języków jest <a href="http://www.linguatrek.com/blog/2012/01/vlog-skupianie-si%C4%99-na-tym-co-jest-dla-mnie-wa%C5%BCne">moją prawdziwą pasją</a> i czułem, że wreszcie przyszedł czas, żeby podzielić się tym z Wami.</p>
<p><strong>Czytaj dalej aby dowiedzieć się więcej o mojej misji!</strong></p>
<h2>Moja misja</h2>
<p>Moją misją jest to, żeby:</p>
<ul>
<li><strong>Zmotywować Ciebie do nauki języków obcych i poznawania innych kultur.</strong> <p style="margin: 1em">To może pomóc Ci w: znalezieniu lepszej pracy, poszerzeniu Twoich horyzontów, powrocie do Twoich korzeni, cieszeniu się z podróży po świecie i w ogóle wzbogaceniu Twojego życia.</p></li>
<li><strong>Rozwiać przekonanie, że nie możesz nauczyć się języków albo konkretnego języka.</strong> <p style="margin: 1em">Dużo ludzi myśli, że trzeba mieć "<a 02="" 2011="" blog="" href="" http:="" vlog-nie-trzeba-mie%c4%87-talentu-%c5%bceby-nauczy%c4%87-si%c4%99-j%c4%99zyka="" www.linguatrek.com="">talent do języków</a>."  Albo, że <a href="http://www.linguatrek.com/blog/2011/07/you-dont-need-to-live-in-a-foreign-country-to-learn">trzeba mieszkać w kraju</a>, gdzie się mówi w danym języku. Albo, że koniecznie trzeba nauczyć się na pamięć skomplikowanych <a href="http://www.linguatrek.com/blog/2011/03/language-learning-is-more-like-karate-than-math">zasad gramatycznych</a>. Albo, że niektóre języki są <a href="http://www.linguatrek.com/blog/2010/11/polish-is-not-the-hardest-language-in-the-world">o wiele trudniejsze od innych</a>.  Albo, że jesteś zbyt stary, żeby nauczyć się języków.  <strong>Wszystkie te przekonania są fałszywe: każdy może nauczyć się dowolnego języka!</strong></p></li>
<li><strong>Pokazać Ci jak nauczyć się języka w sposób przyjemny, szybki i efektywny.</strong> <p style="margin: 1em">Nie ma tylko jednej właściwej metody nauki języka.  Niektóre metody są <a href="http://www.linguatrek.com/blog/2011/03/vlog-jak-wygl%C4%85da-efektywna-metoda-nauki-j%C4%99zyka-obcego">efektywniejsze</a> od innych. Ale najefektywniejsza metoda nauki zależy od Ciebie i Twoich osobistych preferencji.  Chciałbym pomóc Ci znaleźć <em>Twoją własną metodę</em>.</p></li>
</ul>
<p><strong>Dlaczego?</strong></p>
<p><em>Bo kiedyś byłem w takiej samej sytuacji!  Potrzebowałem takich samych porad i pomocy!</em></p>
<h2>Moje porażki</h2>
<p><strong><em>Prawda jest taka, że poniosłem wiele porażek ucząc się różnych języków obcych, zanim w końcu odniosłem sukces z j. polskim.</em></strong></p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/03/mexicandoll.jpg" rel="lightbox"><img alt="Mexican doll" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/03/mexicandoll.jpg" title="Zdjęcie Fabiána Everarda Alvareza Navarra"/></a><div class="caption"><a href="http://www.flickr.com/photos/fabalv/244029097/in/photostream/">Zdjęcie</a> <a href="http://www.flickr.com/people/fabalv/">Fabiána Everarda Alvareza Navarra</a></div></div>
<p>Tak jak wielu Amerykanów uczyłem się j. hiszpańskiego w szkole średniej i "high school" - w sumie sześć lat.  Graliśmy w gry, śpiewaliśmy, uczyliśmy się mnóstwa gramatyki i zdawaliśmy egzaminy. Robiłem wszystko co kazał nauczyciel i nawet miałem bardzo dobre oceny.  Ale tak jak większość moich rówieśników, nie udało mi się nauczyć więcej niż tylko tyle, aby zdać egzamin gramatyczny. <strong>Po sześciu latach!</strong></p>
<p><em>Codziennie</em> rozmawiam z ludźmi, którzy mieli takie same doświadczenie z hiszpańskim albo angielskim, albo francuskim, albo z jakimkolwiek innym językiem.  Uczyli się w szkole przez 5, 10 albo 15 lat, ale nadal nie mogą zamówić nic w restauracji, ani obejrzeć filmu bez napisów, ani rozmawiać na luzie z native speakerem.</p>
<p><strong>Wtedy zdecydowałem, że nie mam talentu do języków więc nigdy nie nauczę się języka obcego.</strong></p>
<p>A poza tym, jaki miałoby to sens?  Co dałaby mi znajomość j. hiszpańskiego?  W tamtym momencie, nie miałem pojęcia i prawdziwej motywacji żeby kontynuować naukę.</p>
<h2>Znajdowanie motywacji</h2>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/03/david-redsquare.jpg" rel="lightbox"><img alt="David na Placu Czerwonym" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/03/david-redsquare.jpg" title="Na placu czerwonym. Tak, kiedyś miałem długie włosy. :-)"/></a><div class="caption">Na placu czerwonym. Tak, kiedyś miałem długie włosy. :-)</div></div>
<p>Póżniej jako dorosły poznałem wielu przyjaciół mówiących po rosyjsku.  Jeden z nich jechał do Rosji i na Białoruś, żeby odwiedzić swoją rodzinę i zaprosił mnie, abym mu towarzyszył.</p>
<p>Pomyślałem, <em>"Ojej, to taka wspaniała okazja!  Będę mógł zobaczyć i doświadczyć życia z perspektywy prawdziwych obywateli tych krajów.  <strong>Muszę nauczyć się trochę rosyjskiego!</strong>"</em></p>
<p>Więc zapisałem się na kurs j. rosyjskiego na miejscowym uniwersytecie.  Kurs był bardzo ciekawy, ale tak samo jak na kursie z hiszpańskiego, uczyliśmy się gramatyki, gramatyki i więcej gramatyki.</p>
<p>Po roku pojechałem na tę wycieczkę z moim znajomym i było fantastycznie!  Moja znajomość języka była okropna.  Ale to wystarczyło, żeby zostać zarażonym miłością do języków i podróżowania.  Kiedy wróciliśmy, kontynuowałem ten kurs przez następne dwa lata.</p>
<p><strong><em>Niestety, nigdy nie opanowałem j.rosyjskiego zbyt dobrze, i z tego powodu stawałem się coraz bardziej sfrustrowany.</em></strong></p>
<p>Bardzo dużo wysiłku włożyłem w naukę j. rosyjskiego.  Ale kiedy miałem okazję ćwiczyć ze znajomymi mówiącymi po rosyjsku, mogłem tylko uczestniczyć w najprostszych rozmowach i tylko gdy mówili bardzo powoli i z ograniczonym słownictwem.</p>
<p><strong>Po sześciu latach hiszpańskiego i trzech latach rosyjskiego opanowałem tylko testy gramatyczne.  Biegłe mówienie i rozumienie innego języka nadal było tylko snem.</strong></p>
<h2>Nauka j. polskiego</h2>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/03/warszawa.jpg" rel="lightbox"><img alt="David i Carrie za zamkiem warszawskim" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/03/warszawa.jpg" title="Razem z żoną w Warszawie"/></a><div class="caption">Razem z żoną w Warszawie</div></div>
<p>Kiedy wreszcie przyszedł czas na polski, zacząłem inny kurs na uniwersytecie.  Był bardzo przyjemny, głównie dzięki profesorowi, który opowiadał fajne historie.  Ale po roku już było jasne, że naprawdę nie nauczę się polskiego, tak samo jak nie nauczyłem się hiszpańskiego i rosyjskiego.</p>
<p>Zadałem samemu sobie pytanie, <em>"Czy chciałbym nauczyć się jak zdawać egzaminy gramatyczne?  Czy chciałbym naprawdę mówić po polsku?"</em>  Oczywiście, chciałem mówić po polsku!</p>
<p><strong>To był czas na wielką zmianę.</strong></p>
<p>Więc przestałem chodzić na kurs i zacząłem czytać o tym, jak ludzki mózg uczy się języków.  Zacząłem również eksperymentować z metodą, w której <a href="http://www.linguatrek.com/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego">czytałem i słuchałem Harry'ego Pottera</a> po polsku.</p>
<p>Na samym początku szło bardzo powoli.  Czytanie pierwszego tomu zajęło mi cztery miesiące.  Ale rok po rozpoczęciu nauki tą metodą, udało mi się przeczytać i przesłuchać wszystkie siedem tomów Harry'ego Pottera.</p>
<p><strong>Przed tym miałem problemy z najbardziej podstawowymi rozmowami.  Ale potem mogłem:</strong></p>
<ul>
<li>Rozmawiać z native speakerami prawie na dowolny temat</li>
<li>Czytać i słuchać książek</li>
<li>Oglądać filmy</li>
<li>Pisać emaile, listy i artykuły</li>
</ul>
<p>I to wszystko stało się stosunkowo szybko.  Uczyłem się przeważnie sam (nie na kursie, bez nauczyciela) i podczas gdy mieszkałem tutaj w USA.  To było doświadczenie niezwykle przyjemne i <a href="http://www.linguatrek.com/blog/2011/09/vlog-trzy-lata-na-youtube-pi%C4%99%C4%87-lat-z-j-polskim">zmieniło moje życie na lepsze</a>.</p>
<p><strong>Półtora roku po rozpoczęciu nauki tą metodą, z żoną (Carrie) przeprowadziliśmy się do Polski na rok.  Od razu mogłem:</strong></p>
<ul>
<li>Dać sobie radę z polską biurokracją wyłącznie po polsku, np. urząd do spraw cudzoziemców, urząd skarbowy, ZUS, poczta, itd.</li>
<li>Odbywać <a href="http://www.linguatrek.com/blog/2011/07/teaching-english-in-poland">rozmowy kwalifikacyjne</a> po polsku</li>
<li>Znaleźć i wynająć <a href="http://www.youtube.com/watch?v=k8pwVfGIlVs">mieszkanie</a></li>
</ul>
<h2>Ty też możesz to zrobić!</h2>
<p>Często ludzie piszą komentarze pod moim filmikami po polsku takie jak, "Ojej, mówisz świetnie po polsku.  Musisz mieć wielki talent do języków.  Bardzo chciałbym mówic po angielsku tak dobrze jak Ty mówisz po polsku.  Ale nie mam talentu do języków."</p>
<p><strong>Ale sam również nie mam talentu do języków!</strong></p>
<p>Gdybym miał, łatwo nauczyłbym się j. hiszpańskiego i rosyjskiego.  Kiedy nauczyłem się polskiego, nadal byłem tą samą nieutalentowaną osobą, jaką byłem poprzednio.  Ja się nie zmieniłem, tylko zmieniłem swoje podejście.</p>
<p>Jeśli zbierzesz i połączysz ze sobą <a href="http://www.linguatrek.com/blog/2011/03/the-three-ingredients-for-successful-language-learning">"składniki skutecznej nauki języków"</a>, możesz nauczyć się dowolnego języka dochodząc do wysokiego poziomu.</p>
<h2>Opowiedz mi swoją historię w nauce języków!</h2>
<p>Dobrze! Teraz kiedy już mnie znasz - chciałbym dowiedzieć się trochę o Tobie!</p>
<p>Byłbym bardzo wdzięczny gdybyś przedstawił/a się w komentarzach poniżej i opowiedział/a mi swoją historię w nauce języków.</p>
<p><strong>Jaka jest Twoja historia w nauce języków? Jakiego języka teraz się uczysz? Jak będzie wyglądało Twoje życie kiedy się go nauczysz?  Nie musisz pisać powieści o sobie -  chciałbym tylko trochę Cię poznać. :-)  Proszę napisz komentarz poniżej!</strong></p>
</div>

<div id="comments">
<div class="indented"><a id="comment-1580"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Agnieszka!</p>
<p>Dziękuję bardzo za miłe słowa i podzielenie się Twoją historią. :-)</p>
<p>Tak, masz rację: czytanie bez zrozumienia niczego nie da. :-) Musisz rozumieć! Możesz to robić tak jak ja to zrobiłem: znajdować wszystkie nieznane słowa w słowniku. Albo możesz mieć tę książkę w dwóch wersjach tak jak opisałaś.</p>
<p>Ale moim zdaniem, lepiej byłoby czytać stronę albo parę stron w jednym języku i potem w drugim. Z całymi rozdziałami bardzo mało będziesz uczyła się, bo rozumienie chodzi tak późno po czytaniu po angielsku. Najprawdopodobniej już nie będziesz pamiętała jak to było po angielsku!</p>
<p>Ale nie musisz siedzieć nad jednym rozdziałem (albo stroną) i tak długo go tłumaczyć aż go rozumiesz. Jeśli nauczyłaś się czegoś nowego (i wiem, że nauczysz się sporo!) to wystarczy, po prostu idź naprzód.</p>
<p>Mam nadzieję, że to pomoże!</p>
<p>Myślę o pisaniu ebooku z instrukcjami o tym, jak krok po krok uczyć się korzystając z tej metody.  Jeśli jesteś tym zainteresowana, zapraszam do oglądania tego filmiku:</p>
<p><a href="http://www.linguatrek.com/blog/2012/03/vlog-nasze-wielkie-og%C5%82oszenie-i-potrzebujemy-waszej-pomocy" title="http://www.linguatrek.com/blog/2012/03/vlog-nasze-wielkie-og%C5%82oszenie-i-potrzebujemy-waszej-pomocy">http://www.linguatrek.com/blog/2012/03/vlog-nasze-wielkie-og%C5%82oszeni...</a></p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1580">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1580">Thursday, March 29, 2012 - 09:49</a></span>
</div>
</div>
</div><a id="comment-1528"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8e160f7491d9a393ba052ec157cbff2c?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witam. Obejrzałam Twój filmik zatytułowany "o mnie (i mojej misji)" i w pierwszej kolejności chciałam powiedzieć, że to, co robisz jest wspaniałe i mam nadzieję, że nigdy nie przestaniesz :-). Uczę się angielskiego sama od niedawna, mam podstawy, ale chciałabym nauczyć się komunikatywnie. Znam bardzo mało słów, dlatego korzystam z SuperMemo, ale zauważyłam, że nie idzie mi zapamiętywanie. Jak już myślę, że jakieś słowo zapamiętałam, to po jakimś czasie znowu nie mogę sobie przypomnieć. Czy masz jakieś dodatkowe rady dla takich, jak ja? Pozdrawiam, Magda</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1528">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kaczka (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1528">Tuesday, March 27, 2012 - 08:32</a></span>
</div>
</div>
<div class="indented"><a id="comment-1581"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki za miłe słowa. :-) Nigdy nie chcę przestać! ;-)</p>
<p>To jest całkiem naturalnie, że po jakimś czasie zapomniesz nowych słów. Na właśnie tym podstawie działają takie programy jak SuperMemo!</p>
<p>Powinnaś powtarzać swoją "talię" w programie codziennie. W pierwszym dniu, każde słowo jest nowe, więc program pokażuje Ci wszystkie. Te, które zapamiętałaś, pojawią się następnego dnia, i te, z którymi miałaś problemy, pojawią się od razu.</p>
<p>Następnego dnia, te słowa, na które odpowiesz dobrze, pojawią się po dwóch dnia, i te, które zapomniałaś wrócą do początku. I tak dalej..</p>
<p>Więc cały ten system stara się przypominać Ci te słowa, dokładnie kiedy najprawdopodobniej je zapomniesz. :-) Bo zapomnienie i znowu przypomnienie sobie są naturalnymi częściami zapamiętania!</p>
<p>Napisałem cały artykuł o tym (niestety, po angielsku):</p>
<p><a href="http://www.linguatrek.com/blog/2011/01/what-is-spaced-repetition" title="http://www.linguatrek.com/blog/2011/01/what-is-spaced-repetition">http://www.linguatrek.com/blog/2011/01/what-is-spaced-repetition</a></p>
<p>Mam nadzieję, że to pomoże!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1581">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1581">Thursday, March 29, 2012 - 09:59</a></span>
</div>
</div>
</div><a id="comment-1529"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/03/vlog-dlaczego-o-ma%C5%82o-nie-przesta%C5%82em-blogowa%C4%87-i-nasze-wielkie-marzenie" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] Opowiadałem historie o tym jak nauczyłem się języka polskiego wiele wiele razy - na przykład tydzień temu kiedy nagrałem filmik „O mnie”. [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1529">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/03/vlog-dlaczego-o-ma%C5%82o-nie-przesta%C5%82em-blogowa%C4%87-i-nasze-wielkie-marzenie" rel="nofollow">Vlog: Dlaczego o mało nie przestałem blogować (i nasze wielk</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1529">Tuesday, March 27, 2012 - 09:34</a></span>
</div>
</div>
<a id="comment-1546"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4cad61152eccb9f1384134b5af2564fe?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Chciałbym znać angielski na poziomie natywnym, ale to raczej nie możliwe, dlatego chciałbym chociaż mówić tak żeby zwykły native speaker nie potrafił odróżnić czy ja jestem native speakerem czy nie, ale to chyba też nie takie proste :-) gramatyka, słownictwo, akcent no i te niuanse między bardzo podobnymi zwrotami. Czasem nawet te same wyrażenia inaczej intonowane powodują zmianę znaczenia. Chciałbym rozumieć wszystkie teksty piosenek i programy rozrywkowe gdzie występuje gra słów i slang. Chciałbym być wstanie mówić o skomplikowanych rzeczach jak filozofia. Nie pogardził bym też brytyjskim akcentem, acz amerykański też jest cool :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1546">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Milosz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1546">Tuesday, March 27, 2012 - 13:48</a></span>
</div>
</div>
<div class="indented"><a id="comment-1582"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć!</p>
<p>Dziękuję bardzo za podzielenie się Twoim celem. :-)</p>
<p>No, moim zdanie jest całkiem możliwe mówić tak żeby zwykły native speaker nie potrafił odróżnić Cię od native speakerem. Ale jest bardzo, bardzo trudno! Osobiście mam skromniejszy cel. :-)</p>
<p>Życzę Ci sukcesu w nauce!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1582">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1582">Thursday, March 29, 2012 - 10:02</a></span>
</div>
</div>
</div><a id="comment-1614"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/34be196c73065d9b86b2458c7284fdda?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>jesteś genialny, pozdrawiam:)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1614">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1614">Tuesday, April 3, 2012 - 15:32</a></span>
</div>
</div>
<div class="indented"><a id="comment-1621"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki za miłe słowa. :-) Pozdrawiam, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1621">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1621">Wednesday, April 4, 2012 - 07:14</a></span>
</div>
</div>
</div><a id="comment-1626"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/87a51fb084b4699f95218a24acae5377?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witam. Jestem Damian, chodzę do 2 klasy technikum, angielskiego uczę się w szkole od 1 klasy podstawowej, zawsze byłem przeciętny, ale od kiedy jestem w technikum, poziom nauczania woła o pomstę do nieba.O niemieckim nie wspominając, gdyż z nim to totalna katastrofa, w niedalekiej przyszłości mam też zamiar uczyć się go tak samo jak w chwili obecnej angielskiego.<br/>
Dlatego zacząłem uczyć się angielskiego z Bibliobirdem i Anki.(Jednak teraz z BB przerzuciłem się na Ojca Chrzestnego w wersji ang :) ). Nie ma dnia żebym nie poświęcił godziny na angielski, robię to już około 3 miesiące i efekty są takie, że znacznie mniej odnajduje nieznanych słówek w książce, czytam szybciej :). Zresztą mieliśmy okazję korespondować emailowo, kiedy jeszcze zaczynałem ;)(nick Klosa na BB)<br/>
Moim "najbliższym" celem jest dzięki nauce zdanie matury a później być może znajdę dzięki temu lepszą pracę, ale nawet jeśli dam radę obejrzeć film bez napisów uznam to za ogromny sukces :D Pozdrawiam!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1626">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Damian (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1626">Friday, April 6, 2012 - 09:28</a></span>
</div>
</div>
<div class="indented"><a id="comment-1658"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Damian!</p>
<p>Dzięki za podzielenie się Twoim celami!  Myślę, że dobrze robisz w nauce. Na pewno osiągniesz Twoje cele!</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1658">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1658">Thursday, April 12, 2012 - 17:02</a></span>
</div>
</div>
</div><a id="comment-1687"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/04afbf28ea12408be8a262e06f16c671?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Ja osobiście monitoruję Twoje metody nauki języków, żeby wyłowić cenniejsze doświadczenia i obserwacje, zwłaszcza odnośnie wymowy.<br/>
Mówię dość dobrze po angielsku i francusku, ale ponieważ mieszkam w Polsce i przede wszystkim (ze względów zawodowych i niezawodowych) używam tych języków w celu  czytania i pisania, mam wiecznie problem z wymową, kiedy dochodzi do rozmów z native speakerami. Oczywiście, moja wymowa jest poprawna, a nawet nienajgorsza, jak na Polaka, ale to ciągle nie to, co mówić jak Anglik czy Amerykanin. Nie chodzi o snobizm, ale o sprawy praktyczne. Zwracając akcentem czy wymową ciągłą uwagę na fakt, że nie jesteś stąd, ma swoje praktyczne minusy.<br/>
Zawsze waham się, czy lepiej mówić ,,standardowym brytyjskim", czy szukac jakiejś formy ,,standardowego amerykańskiego". Można oczywiście próbowac obu.<br/>
Osobiście duży postęp w wymowie, chociaż dość specyficznej, dało mi wielokrotne obejrzenie3ch filmów: Green Street Hooligans, Footbal Factory i wreszcie The bussiness. Wiem, ze to nie<br/>
jest standardowy angielski, ale jakoś dziwnie pomaga.Będę stale śledził rozwój tego programu. Dziękuję za wysiłek włożony w jego prowadzenie.<br/>
Pozdrawiam serdecznie<br/>
Tomek</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1687">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Tomek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1687">Wednesday, April 18, 2012 - 10:20</a></span>
</div>
</div>
<div class="indented"><a id="comment-1709"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Tomek!</p>
<p>Dzięki za podzielenie się. :-) Oglądanie filmów (i słuchanie w ogóle) rzeczywiście dużo pomaga w poprawieniu wymowy.  Niedawno temu napisałem parę artykułów o słuchaniu:</p>
<p><a href="http://www.linguatrek.com/blog/2012/01/the-importance-of-listening" title="http://www.linguatrek.com/blog/2012/01/the-importance-of-listening">http://www.linguatrek.com/blog/2012/01/the-importance-of-listening</a></p>
<p><a href="http://www.linguatrek.com/blog/2012/01/how-to-listen-effectively" title="http://www.linguatrek.com/blog/2012/01/how-to-listen-effectively">http://www.linguatrek.com/blog/2012/01/how-to-listen-effectively</a></p>
<p>Mam nadzieję, że to pomoże!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1709">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1709">Saturday, April 21, 2012 - 09:29</a></span>
</div>
</div>
</div><a id="comment-1688"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f0f6b95e0719ec1206f4caaa2c575a4a?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>David!<br/>
Jestem pod wrażeniem tego jak dobrze mówisz po Polsku!<br/>
Poświęciłem trochę czasu na analizę Twojej metody nauki języka i wygląda to wspaniale, a Ty sam jesteś przykładem jak dobrze można nauczyć się w ten sposób języka - jednakże mam pewne zastrzeżenie:</p>
<p>Chodzi o to, że słuchając Ciebie mam wrażenie jakbym słyszał audiobooka.. Mówisz w bardzo podobny sposób jak lektorzy, Twój Polski jest jakby.. sztuczny (bardzo proszę - nie odbierz tego źle!).<br/>
I teraz zastanawiam się, czy rzecz polega na tym, że Amerykanie i Polacy mówią w inny sposób (w sensie, że mówisz po Polsku tak jak po Angielsku, chodzi o intonację, etc.) czy jest to rzecz nabyta podczas nauki?</p>
<p>Po prostu nie brzmisz jak Polak z ulicy, chociaż może to i dobrze.. ;)</p>
<p>Pozdrawiam,<br/>
Tomek</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1688">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Tomek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1688">Wednesday, April 18, 2012 - 11:27</a></span>
</div>
</div>
<div class="indented"><a id="comment-1710"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Tomek!</p>
<p>Dzięki za miłe słowa. :-) Hehe, no to dlatego, że mało rozmawiam z Polakami - najwięcej czytam i słucham książek. Gdybym chciał brzmieć bardziej jak Polak z ulicy mógłbym rozmawiać więcej albo słuchać treści z rozmowami (np. filmy, seriale).</p>
<p>Ale tylko chcę wygodnie rozumieć i rozmówić na dowolny temat. Więc mam mało motywacji do poprawienia tego. Każdy ma własny cel. :-)</p>
<p>Mam nadzieję, że rozumiesz!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1710">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1710">Saturday, April 21, 2012 - 09:36</a></span>
</div>
</div>
</div><a id="comment-1689"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e12b1b10564777988bd93cdf6a6b9a25?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć nazywam się Asia, mieszkam w Białymstoku, mam 12 lat i chciałabym nauczyć się j. Japońskiego, ale średnio mi to idzie :-( Zaczynam się obawiać że nie nauczę się. Niezbyt dobrze sobie radzę, jestem dopiero po 3-ech lekcjach, a umiem niewiele.<br/>
Poza tym nie mogę znaleść czasu na nauke Japońskiego, bo muszę zająć się szkołą.<br/>
psychicznie cierpię przez to poniewarz zawszę popadam w depresję że się nie nauczę, (asz mi się płakać zachciało )': ) mam nadzieję że znajdę jakiś "Sposób" .</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1689">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Joanna (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1689">Wednesday, April 18, 2012 - 18:09</a></span>
</div>
</div>
<div class="indented"><a id="comment-1711"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Asia!</p>
<p>Dzięki za podzielenie się Twoją historią. :-) Nie martw się! Jeśli masz mało czasu, to znaczy, że będziesz się uczyła bardzo powoli. ALE jedyny sposób, w który możesz nie nauczyć się japońskiego, jest podawaniem się. Tylko nie poddawaj się, i w końcu go się nauczysz!</p>
<p>Jak powiedziałem kilka razy, ludzki mózg jest naturalny zaprojektowany do nauki języków:</p>
<p><a href="http://www.linguatrek.com/blog/2012/04/vlog-naturalna-nauka-j%C4%99zyka-bez-nauczyciela" title="http://www.linguatrek.com/blog/2012/04/vlog-naturalna-nauka-j%C4%99zyka-bez-nauczyciela">http://www.linguatrek.com/blog/2012/04/vlog-naturalna-nauka-j%C4%99zyka-...</a></p>
<p><a href="http://www.linguatrek.com/blog/2011/03/language-learning-is-more-like-karate-than-math" title="http://www.linguatrek.com/blog/2011/03/language-learning-is-more-like-karate-than-math">http://www.linguatrek.com/blog/2011/03/language-learning-is-more-like-ka...</a></p>
<p>Nie ma znaczenia kim jesteś, jakiego języka się uczysz, czy masz talent, ile masz lat, itd. Możesz nauczyć się dowolnego języka!</p>
<p>Mam nadzieję, że to pomoże. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1711">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1711">Saturday, April 21, 2012 - 09:41</a></span>
</div>
</div>
</div><a id="comment-1690"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/12d62d774208772387fd1a59c1568cf3?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witam, jestem w trzeciej klasie gimnazjum (za 5 dni egzaminy :D) - angielskiego się uczę tylko w szkole od drugiej klasy podstawówki. Wiadomo, jak to w szkole wygląda - od trzech lat jakoś bardziej idzie, gdybym przypomniał sobie gramatykę byłoby super, ale gorzej ze składaniem zdań (moja wymowa jest tragiczna, więc o niej nie chcę pisać :P).</p>
<p>Obejrzałem po angielsku trzy serie serialu - House M.D (oczywiście z napisami), więc co nieco tam podłapałem :)</p>
<p>Podstawy na egzaminie za tydzień napiszę (na próbnym miałem 85%, źle nie jest, ale tyłka nie urywa). W wakacje mam w planach przysiąść do nauki - mam nadzieję, że twój e-book będzie wtedy gotowy :P</p>
<p>Niemiecki - trzy lata, podstawy podstaw, z niego kompletnie nic nie umiem. Ale prawdą jest, że ten język mi się po prostu nie podoba, nie lubię. Może w technikum, gdy się dostanę do grupy z francuskim pokocham jakiś nowy język ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1690">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">chrup (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1690">Thursday, April 19, 2012 - 10:51</a></span>
</div>
</div>
<div class="indented"><a id="comment-1712"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć! Dzięki za podzielenie się. :-) Oglądanie seriali jest dobrym sposobem do nauki! W tym również jest słuchanie - i jeśli masz problemy z wymową, słuchanie jest bardzo ważne.</p>
<p>Będę o tym pisałem więcej w ebooku, ale nie musisz nawet znać gramatykę, żeby mówić gramatycznie. Na wyższych poziomach świadoma wiedza na ten temat może się przydać ale jest całkiem niewymagana. Napisałem kilka artykuł o tym już (niestety po angielsku):</p>
<p><a href="http://www.linguatrek.com/blog/2011/03/language-learning-is-more-like-karate-than-math" title="http://www.linguatrek.com/blog/2011/03/language-learning-is-more-like-karate-than-math">http://www.linguatrek.com/blog/2011/03/language-learning-is-more-like-ka...</a></p>
<p><a href="http://www.linguatrek.com/blog/2010/11/dont-start-learning-polish-grammar#mental_math" title="http://www.linguatrek.com/blog/2010/11/dont-start-learning-polish-grammar#mental_math">http://www.linguatrek.com/blog/2010/11/dont-start-learning-polish-gramma...</a></p>
<p>Mam nadzieję, że to pomoże!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1712">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1712">Saturday, April 21, 2012 - 09:50</a></span>
</div>
</div>
</div><a id="comment-1699"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/7fcc34fe435eb39b58ba36287008cb06?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Przygodę z nauką języka angielskiego rozpocząłem w czwartej klasie podstawówki, i tak jak pisałeś, przede wszystkim gramatyka, gramatyka i jeszcze raz gramatyka. Najwięcej nauczyłem się podczas przygotowań do matury. Chodziłem wtedy na indywidualne korepetycje - miałem możliwość porozmawiania na przeróżne tematy. Na studiach miałem niestety tylko 3 lata kursu angielskiego w tym jeden rok języka technicznego, choć przygotowanie teacher'a jeśli chodzi o słownictwo nie było na wysokim poziomie. Obecnie pracuję w dużej korporacji i mam styczność z ludźmi z innych krajów. Oceniam swoją znajomość języka na poziomie komunikatywnym, lecz na dłuższą rozmowę bym się jeszcze nie pisał. Ostatnio nie mogłem dogadać się w pracy z człowiekiem z Niemiec, który niestety mówił tylko po niemiecku, więc zacząłem się uczyć tego języka:) Ogólnie polecam uczenie się z karteczek, można je kupić, ale nie chcę robić tutaj nikomu reklamy.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1699">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Marcin (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1699">Thursday, April 19, 2012 - 11:19</a></span>
</div>
</div>
<div class="indented"><a id="comment-1713"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Marcin! Dzięki za podzielenie się Twoim doświadczeniem. :-) To fantastycznie, że masz okazję używać tych języków w pracy - to dobra motywacja! Pozdrawiam serdecznie, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1713">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1713">Saturday, April 21, 2012 - 09:52</a></span>
</div>
</div>
</div><a id="comment-1756"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3edaefc3d69a4bf6a0e4b474303c6d06?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć David<br/>
Dzięki Tobie i Twojej misji uwierzyłam, że mimo mojego wieku (51 lat) osiągnę pozytywne wyniki w posługiwaniu się językiem angielskim. W pisaniu i czytaniu robię mało błędów, ale rozmowa to jedna wielka klęska! Jednak nie poddaję się i codziennie każdą wolną chwilę poświęcam na naukę.<br/>
Uczę się w celu znalezienia pracy za granicą, bo w Polsce jest wysokie bezrobocie. Pracowałam ostatnio w Szwecji i porozumiewałam się w języku angielskim, ale mój poziom to kropla w morzu potrzeb...<br/>
Czekam na Twój e-book i życzę sukcesów w życiu prywatnym i zawodowym.<br/>
P.S. Miło, że zamieszczasz zdjęcia - teraz znam nie tylko Ciebie, ale także żonę i rodziców.<br/>
Pozdrawiam serdecznie - Anna.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1756">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anna Z. (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1756">Wednesday, April 25, 2012 - 16:14</a></span>
</div>
</div>
<div class="indented"><a id="comment-1775"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Anna!</p>
<p>Dzięki za podzielenie się Twoją historią. :-) Życzę sukcesu w nauce i znalezieniu dobrej pracy!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1775">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1775">Saturday, April 28, 2012 - 07:14</a></span>
</div>
</div>
</div><a id="comment-1820"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/6afeb17a124c02d43d52481aaa245970?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć David<br/>
 Moim celem jest głównie dobre rozumienie mówionego angielskiego. Podobnie jak ty przesłuchałem wszystkie części Harrego Pottera (read by Jim Dale) świetna zabawa bez poczucia tracenia czasu. Ale nadal mam problem ze zrozumieniem dialogów w filmach i tekstów piosenek.<br/>
 Angielska wymowa dla polaka wydaje się początkowo bardzo niewyraźna, bełkotliwa (somewhat like drunken babbling) a pisownia nie jest fonetyczna (different spelling and pronunciation) Napisz jak to jest kiedy słyszysz nieznane polskie słowo, to czy potrafisz je zapisać by w słowniku sprawdzić co oznacza?<br/>
Marcin.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1820">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Marcin (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1820">Thursday, May 3, 2012 - 02:50</a></span>
</div>
</div>
<div class="indented"><a id="comment-1860"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Marcin!</p>
<p>Dziękuję za podzielenie się Twoim celem. :-) To fajnie, że przesłuchałeś Harry'ego Pottera!</p>
<p>Z polskim jest rzeczywiście łatwiej znaleźć słowo, poznane ze słuchu, w słowniku dzięki fonetycznej pisowni.  Ale z dialogami w filmach możesz znaleźć napisy (oczywiście w oryginalnym języku) i piosenkami możesz znaleźć tekst.  I realnej rozmowie możesz prosić o wyjaśnienie.  Więc nie jest tak źle! :-)</p>
<p>Życzę dalszych sukcesów w nauce!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1860">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1860">Saturday, May 12, 2012 - 09:02</a></span>
</div>
</div>
</div><a id="comment-1835"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/536eccebeb13f6da5bc5c728391927cf?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Masz dużo racji na temat nauczania w szkołach. W polskich szkołach nauka języka powinna być zabroniona podejrzewam że znaczna większość ludzi się zraża do nauki. Wpajają nam że gramatyka jest najważniejsza i nim dojdziemy do końca zdania potrafią nam wytknąć stertę błędów i ludzie się zrażają. Po 10 latach nauki angielskiego, pojechałem do stanów i angielskiego od 0 zacząłem się uczyć. Mimo że jestem bardzo dobrze osłuchany, bardzo boje się mówić i obecnie skupiam się na poprawnej wymowie, tego nas nigdy nie uczyli w szkole. Ale wracając do nauki, niemieckiego uczyłem się z przerwami, po 2 lata i nigdy bez większych rezultatów. Aż w pracy mieliśmy zorganizowane zajęcia w grupach 6 osobowych. Po pół roku czasu, w samolocie/lotnisku, hotelu czy sklepie mogłem spokojnie się dogadać po niemiecku (lepiej niż po angielsku -wstyd :\ ) a głowna zasługa była tego taka, że uczyli nas życiowych rzeczy, dużo słownictwa, scenek i po troszku sukcesywnie wplatana gramatyka. Progres niesamowity, praktycznie oparty na twojej metodzie. Ale nie wierze w self study. Bez nauczyciela daleko nie zajdziemy, szczególnie gdy wchodzi nauka od 0 języka. Jeśli jest dobry nauczyciel to po 2x po 1h tygodoniowo można olbrzymi progres zrobić. Tak jak wspominałeś, motywacja to podstawa, a potem otoczenie bądź nauczyciel by nas nie odpychli od celów:)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1835">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Szpec (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1835">Thursday, May 3, 2012 - 21:43</a></span>
</div>
</div>
<div class="indented"><a id="comment-1861"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki za podzielenie się Twoim doświadczeniem. :-) Sądzę, że można nauczyć się języka bez nauczyciela! Ale to nie dla wszystkich. Jak zawsze mówię: najlepsza metoda zależy od osoby. Sam wolę samodzielną naukę. ;-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1861">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1861">Saturday, May 12, 2012 - 09:07</a></span>
</div>
</div>
</div><a id="comment-1896"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a24829abadf63527526ff16919dffaa8?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witaj, co prawda pisałam już do Ciebie maila jednak tutaj również coś napiszę.<br/>
Na imię mam Monika i bardzo chcę nauczyć się języka angielskiego w takim stopniu aby móc swobodnie nim operować zarówno w mowie jak i w piśmie.<br/>
Z pewnością pomogłoby mi to w znalezieniu lepszej pracy a także nawiązywać kontakty z ludźmi innej narodowości ;)<br/>
Język, którego się uczyłam w szkole i zdawałam maturę to język rosyjski i z zasadzie, jak tak sobie pomyślę, to nie mam pojęcia jakim cudem zdałam maturę...:D<br/>
pozdrawiam wszystkich serdecznie</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1896">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Monika (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1896">Monday, May 14, 2012 - 12:06</a></span>
</div>
</div>
<div class="indented"><a id="comment-1914"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Monika!</p>
<p>Dzięki za podzielenie się Twoim doświadczeniem tutaj publicznie. :-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1914">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1914">Wednesday, May 16, 2012 - 12:46</a></span>
</div>
</div>
</div><a id="comment-1908"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://biter.bartoszrakowski.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8edb38c99fa153f352cb167b5a6cbf6d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Dziękuje za masę pracy którą tu wkładasz bo jest to praca bardzo wartościowa i potrzebna - ja sam sporo z tego korzystam (zwłaszcza z dobrodziejstw Bibliobirda). Jednocześnie gratuluję wspaniałych rezultatów oraz (co tez za tym idzie) sporej popularności którą udało ci się w Polsce zdobyć i życzę dalszego rozwoju pełnego sukcesów.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1908">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://biter.bartoszrakowski.com" rel="nofollow">Biter</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1908">Tuesday, May 15, 2012 - 17:35</a></span>
</div>
</div>
<div class="indented"><a id="comment-1915"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dziękuję bardzo za miłe słowa. Takie komentarze jak Twój bardzo mnie motywują do dalszej roboty. :-) Pozdrawiam serdecznie, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1915">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1915">Wednesday, May 16, 2012 - 12:48</a></span>
</div>
</div>
</div><a id="comment-1917"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/0187344932877f5982e8bc2d40b05d5d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć David.<br/>
Mam do Ciebie pytanie. Czy planujesz nauczyć się jeszcze innego języka, tą samą metodą jaką nauczyłeś się języka polskiego?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1917">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">aras014 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1917">Wednesday, May 16, 2012 - 13:27</a></span>
</div>
</div>
<div class="indented"><a id="comment-1918"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Tak, na pewno! :-) Może nawet w następnym roku.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1918">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1918">Wednesday, May 16, 2012 - 15:12</a></span>
</div>
</div>
</div><a id="comment-1925"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f06d78e110fd6eb87a4b178d850e69dc?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć David. Od dawna śledzę Twoje filmiki i jestem pod wrażeniem Twojego zapału do nauki polskiego. Moim celem jest możliwość oglądania angielskich filmów bez napisów (zarówno polskich jak i angielskich) i oczywiście wszystko (no może prawie wszystko) rozumieć :)</p>
<p>Moim sposobem, którego inspiracją był Twój najnowszy e-book, jest oglądanie świetnego serialu Friends w języku angielskim bez napisów, następnie oglądam ten sam odcinek drugi raz z angielskimi napisami. Wypisuję sobie słówka, których nie znam i powtarzam je w Anki :) Mam nadzieję, że dotrzymam do końca 10 sezonu do póki co jestem na samym starcie - oglądnąłem 1 odcinek.</p>
<p>Pozdrawiam,<br/>
Kuba</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1925">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kuba (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1925">Thursday, May 17, 2012 - 10:27</a></span>
</div>
</div>
<div class="indented"><a id="comment-1954"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Kuba!</p>
<p>Dzięki za podzieleniem się Twojego celu i metody! Myślę, że dobrze robisz oglądaniem serialu Friends. Wydaje mi się, że już masz bardzo efektywną metodę. :-)</p>
<p>Życzę sukcesu i wytrwałości w nauce!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1954">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1954">Friday, May 18, 2012 - 06:41</a></span>
</div>
</div>
</div><a id="comment-1946"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/b5a4d3dd6b2e10ef18789461d3d82df5?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hej,</p>
<p>....w zasadzie to nie wiem od czego zacząć.<br/>
Całkiem przypadkowo trafiłam na Twoje filmiki na YT. Zaczęłam je oglądać myśląc (w dosłownym tego znaczeniu, lecz proszę nie myśleć o mnie źle) "następny polski łoś, który mieszka parę lat na obczyźnie i udaje jak kaleczy język". Lecz po chwili zwątpiłam, tłumacząc sobie, że faktycznie coś jest nie tak i że na prawdę, starasz się zachęcić wszystkich ukazując swoje wypociny językowe (co z łatwością Ci idzie po polsku), że jeśli się chce to można nauczyć się języka.<br/>
Zainteresowałam się i wstąpiłam na Twój blog. Przyznaję, że ogarnął mnie mały chaos panujący na Twoim blogu, gdyż nie wiedziałam od czego zacząć (co przeczytać pierwsze, co obejrzeć). Brakuje mi jakiejś strony coś w rodzaju "step by step", dla początkujących, by nie zniechęcić ich do opuszczenia strony, lecz zachęcić. Może coś takiego jest, lecz bywa osobą strasznie szybką i w gorącej wodzie kąpaną, więc możliwe, że coś mnie ominęło ;).</p>
<p>Strasznie chcę się nauczyć ang., lecz jakoby brakuje mi szerokiej motywacji do tego: od czego zacząć? co jest ważne, a co nie. Przez rok czasu byłam w USA, lecz obracając się wśród polaków, miałam marne szanse na dokształcenie się ang. Teraz obecnie mieszkam w Kanadzie przez parę miesięcy, mój mąż wychował się tutaj od małego dziecka, więc dla niego bariera językowa z angielskim nie stwarza żadnego problemu, lecz nie potrafię z nim rozmawiać. Stara się mnie coś tam nauczyć, lecz opornie mi to idzie. W zasadzie mówimy po polsku (gdyż tak mi łatwiej, a on przy okazji uczy się ode mnie poprawnej polszczyzny). Boję się odezwać po ang., zakładając już, że źle coś powiem i nikt mnie nie zrozumie, lecz tutaj czy w USA, wiem, że na to nie zwracają uwagi. Większość tych obu krajów to emigranci i nikt poprawnie nie mówi.<br/>
Co robić ? Jak się nauczyć? Podaj proszę parę wskazówek, może u Ciebie znajdę motywację :)<br/>
Pozdrawiam</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1946">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Jola (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1946">Thursday, May 17, 2012 - 18:31</a></span>
</div>
</div>
<div class="indented"><a id="comment-1955"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Jola!</p>
<p>Dzięki za komentarz i sugestię dotyczącą organizacji mojego blogu. :-) Mam plany, żeby zorganizować go lepiej!</p>
<p>Może najlepszym miejscem, żeby zacząć, jest mój ebook. Zasubskrybuj mój blog tutaj:</p>
<p><a href="http://www.linguatrek.com/subscribe" title="http://www.linguatrek.com/subscribe">http://www.linguatrek.com/subscribe</a></p>
<p>... i dostaniesz linki do pobrania. Jest tłumaczenie na polski!</p>
<p>Ale poza tym, wydaje mi się, że Twoje największe problemy są z motywacją i obawą przed mówieniem.  Musisz znaleźć silną wewnętrzną motywację.  To znaczy, że w jakiś sposób musisz zakochać się w Kanadzie, w języku albo w jakiejś czynności, która się odbywa w tym języku.  Zewnętrzna motywacje jak np. mieszkanie w danym kraju, szukanie lepszej pracy - nie wystarczy!</p>
<p>Co do obawy przed mówieniem: to jest bardzo często spotykany problem. Sam musiałem walczyć z tym i nadal mam problemy w niektórych sytuacjach (np. przez telefon). Tylko powoli pokonałem ją - ale to jest bardzo ważny krok!  Napisałem artykuł o tym (niestety po angielsku) i planuję pisać więcej na ten temat:</p>
<p><a href="http://www.linguatrek.com/blog/2011/05/how-to-overcome-your-fear-of-speaking" title="http://www.linguatrek.com/blog/2011/05/how-to-overcome-your-fear-of-speaking">http://www.linguatrek.com/blog/2011/05/how-to-overcome-your-fear-of-spea...</a></p>
<p>Mam nadzieję, że to jakoś pomoże!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1955">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1955">Friday, May 18, 2012 - 06:54</a></span>
</div>
</div>
</div><a id="comment-1960"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/878e1bd2b5842634477adfb375138170?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Wielkie podziękowania dla Ciebie, uczę się angielskiego od 1.5 roku i mam problemy ze słownictwem tzn nie mogę przypomnieć sobie słowa podczas rozmowy.Dzięki Twoim radom pomyślałem ze mógłbym przejść jeszcze raz moja ulubiona grę RPG z rozbudowanymi dialogami tylko ze tym razem po angielsku... Ponieważ znam ja na pamięć ;D. Jest to o wiele lepszy sposób niż czyste zakuwanie słów z listy. Dzięki i Powodzenia</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1960">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">;&gt; (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1960">Sunday, May 20, 2012 - 16:03</a></span>
</div>
</div>
<div class="indented"><a id="comment-1991"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Fantastycznie! To fajna metoda do nauki. :-) Daj mi znać, jak Ci pójdzie!  Pozdrawiam serdecznie, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1991">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1991">Wednesday, May 23, 2012 - 11:42</a></span>
</div>
</div>
</div><a id="comment-1961"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4462195a2db51fb512b0573781d9677b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witam.<br/>
Zarejestrowałem się na Bibliobirdzie jakiś czas temu, ale jeszcze nie zacząłem nauki, trochę chyba z lenistwa, albo innych powodów, których nie umiem sobie wytłumaczyć :) Oglądałem filmiki i mam zamiar przeczytać e-booka. Twoja metoda przedstawia się obiecująco. Podziwiam Twoją misję, że chciało Ci się poświęcić tyle własnego czasu na stworzenie Bibliobirda, napisanie e-booka i wszystkie odpowiedzi na posty. Pozdrawiam i dziękuję, a za czas jakiś jak już się wezmę za naukę będę płynnie mówił po angielsku :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1961">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">dzwon13 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1961">Monday, May 21, 2012 - 04:11</a></span>
</div>
</div>
<div class="indented"><a id="comment-1992"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dziękuję za miłe słowa. :-) Mam nadzieję, że ebook będzie Ci pomocny. Życzę Ci sukcesu w nauce angielskiego! Pozdrawiam, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1992">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1992">Wednesday, May 23, 2012 - 11:45</a></span>
</div>
</div>
</div><a id="comment-1963"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/233e923f547c899e5aa8013d94146f26?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć David,</p>
<p>Napisze Ci jak u mnie wygląda nauka j. angielskiego.<br/>
Tego języka zacząłem uczyć się od liceum od poziomu elementary czyli w 2007roku. Była to głównie gramatyka, trochę słuchania. Trafiłem na dobrych nauczycieli, którzy wpoili mi solidne podstawy. Następnie przerobiłem ok. 20 książeczek z serii PenguinReader zaczynając od poziomu 1. Od około 1.5 roku skupiam się na oglądaniu seriali po angielsku bez polskich napisów. Zadziwiło mnie, że chodź mój zasób słownictwa nie był specjalnie bogaty potrafiłem zrozumieć w ok. 98% fabułę. Od tego czasu obejrzałem już seriale takie jak Lost, Jericho, Breaking Bad, 90210, The O.C., Heroes. Spędziłem nad tym długie godziny. W planach miałem jeszcze przerobienie serii fiszek( 6 serii po ok. 1000słówek każda). Niestety przez ostatnie parę miesięcy pochłonięty byłem czymś innym i nie miałem na fiszki zbyt dużej ochoty. Przerobiłem dopiero 1 serię ;(.<br/>
Ostatnio zaopatrzyłem się w audiobook Harrego Pottera i książkę po ang. Chcę powtórzyć Twój wyczyn tylko w drugą stronę ang-&gt;pol.<br/>
Jestem zadowolony ze swoich sukcesów, ale wiem, że jeszcze sporo pracy przede mną.<br/>
Ps. Najwięcej przyjemności sprawiało mi oglądanie seriali.</p>
<p>Pozdrawiam i życzę wszystkim motywacji i czasu w dalszej nauce!<br/>
Marcin</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1963">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Marcin (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1963">Monday, May 21, 2012 - 05:22</a></span>
</div>
</div>
<div class="indented"><a id="comment-1993"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Marcin!</p>
<p>Wydaje mi się, że bardzo dobrze zrobiłeś z j. angielskim! Czytanie tych książeczek i oglądanie seriali są dobrą metodą do nauki. :-) To fantastycznie, że planujesz przyczytać/przesłuchać Harry'ego Pottera! Daj mi znać, jak Ci pójdzie! :-)</p>
<p>Życzę sukcesu w nauce!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1993">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1993">Wednesday, May 23, 2012 - 11:50</a></span>
</div>
</div>
</div><a id="comment-1966"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/b386459da37f920859661d4477c4af7c?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Jestem Marcin, studiuję medycynę. Planuję mieszkać i pracować za granicą, dlatego uczę się języków. Angielski znam już bardzo dobrze, teraz przyszedł czas na niemiecki. Uczę się, aby nie stracić okazji na dobrą pracę w przyszłości. Moim celem jest płynne posługiwanie się językiem niemieckim, z nastawieniem na terminologię medyczną. Chciałbym osiągnąć ten cel w ciągu najbliższych trzech, czterech lat. Być może kiedyś przyjdzie czas na inne języki - ale już tylko w celu rekreacyjnym ;)</p>
<p>Bardzo spodobała mi się twoja książka o naturalnej nauce języka. Na pewno skorzystam z twoich rad podczas nauki języka niemieckiego. Masz zupełne inne nastawienie do nauki języków niż większość ludzi. Nauka języka może być przyjemna.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1966">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Spreu (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1966">Monday, May 21, 2012 - 10:10</a></span>
</div>
</div>
<div class="indented"><a id="comment-1994"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki za podzielenie się Twoim doświadczeniem i miłe słowa. :-) Gratuluję Ci sukcesów z j. angielskim i życzę Ci podobnych sukcesów w nauce j. angielskiego! Pozdrawiam, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1994">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1994">Wednesday, May 23, 2012 - 11:52</a></span>
</div>
</div>
</div><a id="comment-1988"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e1095ff1262457995008b0484f13c505?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Moje imię to Grzesiek 22 lata. Obejrzałem trochę (nie wszystkie) twoich filmików "reportaży" podoba mi się to co robisz, gratuluje zaawansowania w posługiwaniu się naszym językiem. Napisz proszę czy wybierasz się jeszcze kiedyś do Polski. Sam umiem angielski (ponieważ jest on bardzo popularny w Polsce) i w moim odczuciu jest on u mnie na dość wysokim poziome, choć nie wybieram się się do Anglii czy Ameryki.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1988">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Grzesiek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1988">Tuesday, May 22, 2012 - 12:23</a></span>
</div>
</div>
<div class="indented"><a id="comment-1995"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Grzesiek! Bardzo chciałbym znowu zwiedzić Polskę - to kwestia pieniędzy, niestety. Gratuluję Ci sukcesu w nauce j. angielskiego! Pozdrawiam serdecznie, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1995">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1995">Wednesday, May 23, 2012 - 11:54</a></span>
</div>
</div>
</div><a id="comment-2005"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/dc89345197b7730f30b7895d153936cb?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Uczę się języka angielskiego z przerwami wiele lat i niestety jestem nadal na poziomie pomiędzy elementary, a pre-intermediate. Postanowiłem poważnie i konsekwentnie nauczyć się samodzielnie angielskiego. Pracuję jako opiekun medyczny (care assistant) i swoje życie zawodowe wiążę z wyjazdem do Wielkiej Brytanii. Korzystam obecnie z różnych kursów mp3, myślę też o kursie e-tutor.pl. W planach mam również "powalczyć" z Harry Poterrem w wersji angielskiej-tylko nie wiem czy podołam językowo:(</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2005">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">piotr_35l (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2005">Thursday, May 24, 2012 - 10:24</a></span>
</div>
</div>
<div class="indented"><a id="comment-2009"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki za podzielenie się Twoją historią. :-) Jeśli zaczniesz czytać Harry'ego Pottera, dam mi znać, jak Ci pójdzie! Jest dużo porad do tego w moim ebooku. Najbardziej liczy się motywacja - nawet na poziomie pre-intermediate z dość dużą motywacją podołasz!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2009">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2009">Saturday, May 26, 2012 - 06:54</a></span>
</div>
</div>
<div class="indented"><a id="comment-2030"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/dc89345197b7730f30b7895d153936cb?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Zacząłem czytać...na 1 stronie 30 nieznanych słów-wrzuciłem je do e-tutor.pl, to taki system powtarzania słownictwa jak np. Anki tylko, że z dźwiękiem. Czy nauczyłeś się tak wspaniale polskiego czytając i słuchając tylko Harry Pottera. Zależy mi bardzo na jak najszybszych efektach, dlatego zastanawiam się czy pozostać wyłącznie przy Harrym Potterze, czy też korzystać z innych źródeł jak kursy online, programy komputerowe, kursy książkowe, podcasty z BBC, książka i ćwiczenia z gramatyki angielskiej? Czy mógłbyś mi coś podpowiedzieć? Z jednej strony wydaje mi się, że skupienie się na jednej głównej rzeczy jest bardzo ważne!, natomiast z drugiej strony...Z niecierpliwością czekam na Twoją odpowiedź. Dziękuję:)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2030">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">piotr_35l (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2030">Monday, May 28, 2012 - 03:11</a></span>
</div>
</div>
<div class="indented"><a id="comment-2031"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Co nagle to po diable: <a href="http://www.everydaylanguagelearner.com/2012/05/23/myth-of-fast-fluency/" title="http://www.everydaylanguagelearner.com/2012/05/23/myth-of-fast-fluency/">http://www.everydaylanguagelearner.com/2012/05/23/myth-of-fast-fluency/</a></p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2031">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2031">Monday, May 28, 2012 - 04:15</a></span>
</div>
</div>
</div></div></div><div class="item-list"><ul class="pager"><li class="pager-first first"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji" title="Go to first page">« first</a></li>
<li class="pager-previous"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji" title="Go to previous page">‹ previous</a></li>
<li class="pager-item"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji" title="Go to page 1">1</a></li>
<li class="pager-current">2</li>
<li class="pager-item"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji-page-2" title="Go to page 3">3</a></li>
<li class="pager-item"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji-page-3" title="Go to page 4">4</a></li>
<li class="pager-item"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji-page-4" title="Go to page 5">5</a></li>
<li class="pager-item"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji-page-5" title="Go to page 6">6</a></li>
<li class="pager-next"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji-page-2" title="Go to next page">next ›</a></li>
<li class="pager-last last"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji-page-5" title="Go to last page">last »</a></li>
</ul></div>
</div>
