---
permalink: /blog/2012/03/o-mnie-i-mojej-misji-page-2/
layout: blog-old
title: 'O mnie (i mojej misji)'
day: 20
month: Mar
year: 2012
category: personal
tags: [ ]
language: en
translation: /blog/2012/03/o-mnie-i-mojej-misji/
---
<div class="content">
<p><object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/RTF9ptgquNY?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/RTF9ptgquNY?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object></p>
<p>Zapraszam do oglądania filmik powyżej ...</p>
<h2>... albo możesz czytać tę samą treść poniżej!</h2>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/03/me.jpg" rel="lightbox"><img alt="Portret Davida" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/03/me.jpg" title=""/></a></div>
<p><strong>Właśnie zdałem sobie sprawę, że nie mam żadnej strony na moim blogu, na której naprawdę przedstawiam się i wyjaśniam dlaczego robię to co robię. :-)</strong></p>
<p>Piszę artykuły i nagrywam filmiki o nauce języków i kulturze amerykańskiej i polskiej od ponad trzech lat, i jeśli je śledziłeś/aś, znasz już całą moją historię - <em>ale nie wiesz dlaczego to robię!</em></p>
<p><strong>(Specjalnie dla długoletnich fanów: w pełnym artykule jest zdjęcie, na którym mam długie włosy! Zapraszam!)</strong></p>
<p>Jeśli mnie nie znasz, oto jest mój krótki, <em>oficjalny</em> profil:</p>
<blockquote>
<p>David Snopek jest amerykańskim przedsiębiorcą, programistą oraz nauczycielem i uczącym się języków obcych, który urodził się i wychował się w Milwaukee w stanie Wisconsin. Chociaż ma polskie nazwisko (dzięki dalekim polskim przodkom, którzy wyemigrowali do USA ok. 100 lat temu), dorósł mówiąc tylko w jednym języku: angielskim.</p>
<p>W końcu jako dorosłemu udało mu się dojść do całkiem wysokiego poziomu w nauce j.polskiego, korzystając z nietradycyjnej metody. Zainspirowany tym sukcesem, stworzył <a href="http://www.linguatrek.com/">Linguatrek</a>, blog na którym dzieli się swoim doświadczeniem i <a href="http://pl.bibliobird.com">Bibliobird</a>, aplikację internetową, która pomaga Polakom w nauce j. angielskiego.</p>
</blockquote>
<p><strong>Pierwotnie nie chciałem napisać tego artykułu bo wiedziałem, że będę musiał opowiedzieć o "mojej misji".</strong></p>
<p>Prawdę mówiąc rzeczywiście <em>mam misję</em>.  Obawiałem się jednak ogłaszania jej publicznie. Duże korporacje i politycy mają misje. I mówiąc delikatnie, zwykle są to same <em>bzdury</em> (chciałem napisać słowo na "g" ;-)).</p>
<p>Martwiłem się, że pomyślicie, że moja misja również jest bzdurą.  Ale nauka języków jest <a href="http://www.linguatrek.com/blog/2012/01/vlog-skupianie-si%C4%99-na-tym-co-jest-dla-mnie-wa%C5%BCne">moją prawdziwą pasją</a> i czułem, że wreszcie przyszedł czas, żeby podzielić się tym z Wami.</p>
<p><strong>Czytaj dalej aby dowiedzieć się więcej o mojej misji!</strong></p>
<h2>Moja misja</h2>
<p>Moją misją jest to, żeby:</p>
<ul>
<li><strong>Zmotywować Ciebie do nauki języków obcych i poznawania innych kultur.</strong> <p style="margin: 1em">To może pomóc Ci w: znalezieniu lepszej pracy, poszerzeniu Twoich horyzontów, powrocie do Twoich korzeni, cieszeniu się z podróży po świecie i w ogóle wzbogaceniu Twojego życia.</p></li>
<li><strong>Rozwiać przekonanie, że nie możesz nauczyć się języków albo konkretnego języka.</strong> <p style="margin: 1em">Dużo ludzi myśli, że trzeba mieć "<a 02="" 2011="" blog="" href="" http:="" vlog-nie-trzeba-mie%c4%87-talentu-%c5%bceby-nauczy%c4%87-si%c4%99-j%c4%99zyka="" www.linguatrek.com="">talent do języków</a>."  Albo, że <a href="http://www.linguatrek.com/blog/2011/07/you-dont-need-to-live-in-a-foreign-country-to-learn">trzeba mieszkać w kraju</a>, gdzie się mówi w danym języku. Albo, że koniecznie trzeba nauczyć się na pamięć skomplikowanych <a href="http://www.linguatrek.com/blog/2011/03/language-learning-is-more-like-karate-than-math">zasad gramatycznych</a>. Albo, że niektóre języki są <a href="http://www.linguatrek.com/blog/2010/11/polish-is-not-the-hardest-language-in-the-world">o wiele trudniejsze od innych</a>.  Albo, że jesteś zbyt stary, żeby nauczyć się języków.  <strong>Wszystkie te przekonania są fałszywe: każdy może nauczyć się dowolnego języka!</strong></p></li>
<li><strong>Pokazać Ci jak nauczyć się języka w sposób przyjemny, szybki i efektywny.</strong> <p style="margin: 1em">Nie ma tylko jednej właściwej metody nauki języka.  Niektóre metody są <a href="http://www.linguatrek.com/blog/2011/03/vlog-jak-wygl%C4%85da-efektywna-metoda-nauki-j%C4%99zyka-obcego">efektywniejsze</a> od innych. Ale najefektywniejsza metoda nauki zależy od Ciebie i Twoich osobistych preferencji.  Chciałbym pomóc Ci znaleźć <em>Twoją własną metodę</em>.</p></li>
</ul>
<p><strong>Dlaczego?</strong></p>
<p><em>Bo kiedyś byłem w takiej samej sytuacji!  Potrzebowałem takich samych porad i pomocy!</em></p>
<h2>Moje porażki</h2>
<p><strong><em>Prawda jest taka, że poniosłem wiele porażek ucząc się różnych języków obcych, zanim w końcu odniosłem sukces z j. polskim.</em></strong></p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/03/mexicandoll.jpg" rel="lightbox"><img alt="Mexican doll" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/03/mexicandoll.jpg" title="Zdjęcie Fabiána Everarda Alvareza Navarra"/></a><div class="caption"><a href="http://www.flickr.com/photos/fabalv/244029097/in/photostream/">Zdjęcie</a> <a href="http://www.flickr.com/people/fabalv/">Fabiána Everarda Alvareza Navarra</a></div></div>
<p>Tak jak wielu Amerykanów uczyłem się j. hiszpańskiego w szkole średniej i "high school" - w sumie sześć lat.  Graliśmy w gry, śpiewaliśmy, uczyliśmy się mnóstwa gramatyki i zdawaliśmy egzaminy. Robiłem wszystko co kazał nauczyciel i nawet miałem bardzo dobre oceny.  Ale tak jak większość moich rówieśników, nie udało mi się nauczyć więcej niż tylko tyle, aby zdać egzamin gramatyczny. <strong>Po sześciu latach!</strong></p>
<p><em>Codziennie</em> rozmawiam z ludźmi, którzy mieli takie same doświadczenie z hiszpańskim albo angielskim, albo francuskim, albo z jakimkolwiek innym językiem.  Uczyli się w szkole przez 5, 10 albo 15 lat, ale nadal nie mogą zamówić nic w restauracji, ani obejrzeć filmu bez napisów, ani rozmawiać na luzie z native speakerem.</p>
<p><strong>Wtedy zdecydowałem, że nie mam talentu do języków więc nigdy nie nauczę się języka obcego.</strong></p>
<p>A poza tym, jaki miałoby to sens?  Co dałaby mi znajomość j. hiszpańskiego?  W tamtym momencie, nie miałem pojęcia i prawdziwej motywacji żeby kontynuować naukę.</p>
<h2>Znajdowanie motywacji</h2>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/03/david-redsquare.jpg" rel="lightbox"><img alt="David na Placu Czerwonym" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/03/david-redsquare.jpg" title="Na placu czerwonym. Tak, kiedyś miałem długie włosy. :-)"/></a><div class="caption">Na placu czerwonym. Tak, kiedyś miałem długie włosy. :-)</div></div>
<p>Póżniej jako dorosły poznałem wielu przyjaciół mówiących po rosyjsku.  Jeden z nich jechał do Rosji i na Białoruś, żeby odwiedzić swoją rodzinę i zaprosił mnie, abym mu towarzyszył.</p>
<p>Pomyślałem, <em>"Ojej, to taka wspaniała okazja!  Będę mógł zobaczyć i doświadczyć życia z perspektywy prawdziwych obywateli tych krajów.  <strong>Muszę nauczyć się trochę rosyjskiego!</strong>"</em></p>
<p>Więc zapisałem się na kurs j. rosyjskiego na miejscowym uniwersytecie.  Kurs był bardzo ciekawy, ale tak samo jak na kursie z hiszpańskiego, uczyliśmy się gramatyki, gramatyki i więcej gramatyki.</p>
<p>Po roku pojechałem na tę wycieczkę z moim znajomym i było fantastycznie!  Moja znajomość języka była okropna.  Ale to wystarczyło, żeby zostać zarażonym miłością do języków i podróżowania.  Kiedy wróciliśmy, kontynuowałem ten kurs przez następne dwa lata.</p>
<p><strong><em>Niestety, nigdy nie opanowałem j.rosyjskiego zbyt dobrze, i z tego powodu stawałem się coraz bardziej sfrustrowany.</em></strong></p>
<p>Bardzo dużo wysiłku włożyłem w naukę j. rosyjskiego.  Ale kiedy miałem okazję ćwiczyć ze znajomymi mówiącymi po rosyjsku, mogłem tylko uczestniczyć w najprostszych rozmowach i tylko gdy mówili bardzo powoli i z ograniczonym słownictwem.</p>
<p><strong>Po sześciu latach hiszpańskiego i trzech latach rosyjskiego opanowałem tylko testy gramatyczne.  Biegłe mówienie i rozumienie innego języka nadal było tylko snem.</strong></p>
<h2>Nauka j. polskiego</h2>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/03/warszawa.jpg" rel="lightbox"><img alt="David i Carrie za zamkiem warszawskim" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/03/warszawa.jpg" title="Razem z żoną w Warszawie"/></a><div class="caption">Razem z żoną w Warszawie</div></div>
<p>Kiedy wreszcie przyszedł czas na polski, zacząłem inny kurs na uniwersytecie.  Był bardzo przyjemny, głównie dzięki profesorowi, który opowiadał fajne historie.  Ale po roku już było jasne, że naprawdę nie nauczę się polskiego, tak samo jak nie nauczyłem się hiszpańskiego i rosyjskiego.</p>
<p>Zadałem samemu sobie pytanie, <em>"Czy chciałbym nauczyć się jak zdawać egzaminy gramatyczne?  Czy chciałbym naprawdę mówić po polsku?"</em>  Oczywiście, chciałem mówić po polsku!</p>
<p><strong>To był czas na wielką zmianę.</strong></p>
<p>Więc przestałem chodzić na kurs i zacząłem czytać o tym, jak ludzki mózg uczy się języków.  Zacząłem również eksperymentować z metodą, w której <a href="http://www.linguatrek.com/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego">czytałem i słuchałem Harry'ego Pottera</a> po polsku.</p>
<p>Na samym początku szło bardzo powoli.  Czytanie pierwszego tomu zajęło mi cztery miesiące.  Ale rok po rozpoczęciu nauki tą metodą, udało mi się przeczytać i przesłuchać wszystkie siedem tomów Harry'ego Pottera.</p>
<p><strong>Przed tym miałem problemy z najbardziej podstawowymi rozmowami.  Ale potem mogłem:</strong></p>
<ul>
<li>Rozmawiać z native speakerami prawie na dowolny temat</li>
<li>Czytać i słuchać książek</li>
<li>Oglądać filmy</li>
<li>Pisać emaile, listy i artykuły</li>
</ul>
<p>I to wszystko stało się stosunkowo szybko.  Uczyłem się przeważnie sam (nie na kursie, bez nauczyciela) i podczas gdy mieszkałem tutaj w USA.  To było doświadczenie niezwykle przyjemne i <a href="http://www.linguatrek.com/blog/2011/09/vlog-trzy-lata-na-youtube-pi%C4%99%C4%87-lat-z-j-polskim">zmieniło moje życie na lepsze</a>.</p>
<p><strong>Półtora roku po rozpoczęciu nauki tą metodą, z żoną (Carrie) przeprowadziliśmy się do Polski na rok.  Od razu mogłem:</strong></p>
<ul>
<li>Dać sobie radę z polską biurokracją wyłącznie po polsku, np. urząd do spraw cudzoziemców, urząd skarbowy, ZUS, poczta, itd.</li>
<li>Odbywać <a href="http://www.linguatrek.com/blog/2011/07/teaching-english-in-poland">rozmowy kwalifikacyjne</a> po polsku</li>
<li>Znaleźć i wynająć <a href="http://www.youtube.com/watch?v=k8pwVfGIlVs">mieszkanie</a></li>
</ul>
<h2>Ty też możesz to zrobić!</h2>
<p>Często ludzie piszą komentarze pod moim filmikami po polsku takie jak, "Ojej, mówisz świetnie po polsku.  Musisz mieć wielki talent do języków.  Bardzo chciałbym mówic po angielsku tak dobrze jak Ty mówisz po polsku.  Ale nie mam talentu do języków."</p>
<p><strong>Ale sam również nie mam talentu do języków!</strong></p>
<p>Gdybym miał, łatwo nauczyłbym się j. hiszpańskiego i rosyjskiego.  Kiedy nauczyłem się polskiego, nadal byłem tą samą nieutalentowaną osobą, jaką byłem poprzednio.  Ja się nie zmieniłem, tylko zmieniłem swoje podejście.</p>
<p>Jeśli zbierzesz i połączysz ze sobą <a href="http://www.linguatrek.com/blog/2011/03/the-three-ingredients-for-successful-language-learning">"składniki skutecznej nauki języków"</a>, możesz nauczyć się dowolnego języka dochodząc do wysokiego poziomu.</p>
<h2>Opowiedz mi swoją historię w nauce języków!</h2>
<p>Dobrze! Teraz kiedy już mnie znasz - chciałbym dowiedzieć się trochę o Tobie!</p>
<p>Byłbym bardzo wdzięczny gdybyś przedstawił/a się w komentarzach poniżej i opowiedział/a mi swoją historię w nauce języków.</p>
<p><strong>Jaka jest Twoja historia w nauce języków? Jakiego języka teraz się uczysz? Jak będzie wyglądało Twoje życie kiedy się go nauczysz?  Nie musisz pisać powieści o sobie -  chciałbym tylko trochę Cię poznać. :-)  Proszę napisz komentarz poniżej!</strong></p>
</div>

<div id="comments">
<div class="indented"><a id="comment-2032"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/dc89345197b7730f30b7895d153936cb?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hmmm więc co byś polecił? Jesteś zwolennikiem e-tutor.pl czy raczej nie? Czytanie tylko Harry Pottera i walka z nieznaną gramatyką i słownictwem czy jakoś inaczej zorganizować swoją naukę angielskiego aby byłą jak najbardziej efektywna? Może kurs e-tutor.pl, a dodatkowo zamiast (lub z) Harryego Pottera  podcasty z transkrypcją z BBC, gramatyka-książka z teorią i ćwiczeniami? Myślę o tym aby e-tutor uczynić główną bazą taką wykładnią-czy Twoim zdaniem to dobry pomysł? Jeżeli tak, to zdecydować się na konto premium-opieka nauczyciela czy standard? Z góry dziękuję za odpowiedź.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2032">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">piotr_35l (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2032">Monday, May 28, 2012 - 05:34</a></span>
</div>
</div>
<div class="indented"><a id="comment-2036"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Napisałeś, że oczekujesz szybkich rezultatów, a ja jedynie odpisałem, że to niemożliwe. Efekty widać jedynie z perspektywy czasu, wielu tygodni czy miesięcy, a nawet lat.</p>
<p>Nie korzystałem z etutora. Nie znam Twojego poziomu wyjściowego. Ja bym skończył ogólny kurs i nie brał na siebie zbyt wielu rzeczy bo to i tak nie działa.</p>
<p>Nie wiem jakim językiem jest napisany Harry Potter. Ja bym polecił uproszczone powieści. Dawid wczoraj zacytował mój e-mail do niego. Przeczytaj ten post.<br/>
Mogę jeszcze polecić readersy Longmana, bo je lubię.</p>
<p>Tak jak napisałem, nie ma sensu, szczególnie na początku, uczyć się z wielu źródeł, bo można się szybko zniechęcić. Myślę, że 0,5-1h na początek to max.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2036">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2036">Monday, May 28, 2012 - 09:41</a></span>
</div>
</div>
<div class="indented"><a id="comment-2037"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/dc89345197b7730f30b7895d153936cb?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Dzięki za odpowiedź! Poczekam jeszcze na odpowiedź od Naszego Guru Davida. Pozdrawiam</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2037">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2037">Monday, May 28, 2012 - 10:13</a></span>
</div>
</div>
<a id="comment-2052"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>To zależy od ilości wolnego czasu i przyjemności nauki. Bo nawet jeśli masz ileś godzin wolnych do nauki - to nie najlepszy pomysł spędzić za dużo czasu nad nauką. To może spowodować wypalenie i poddanie się. Napisałem o tym w ebooku - oto jest dany fragment:</p>
<p><a href="http://www.linguatrek.com/blog/2012/04/ustalenie-dziennego-planu-nauki-j%C4%99zyka-fragment-e-booka" title="http://www.linguatrek.com/blog/2012/04/ustalenie-dziennego-planu-nauki-j%C4%99zyka-fragment-e-booka">http://www.linguatrek.com/blog/2012/04/ustalenie-dziennego-planu-nauki-j...</a></p>
<p>Ale jeśli sama nauka jest Ci bardzo przyjemna i masz dużą motywację, możesz uczyć się więcej. W każdym razie, wszystko na ten temat jest w powyższym artykule. :-)</p>
<p>Nauka będzie szybsza jeśli będziesz skupiał się na prawdziwej komunikacji (np. książki, podkasty z BBC, itd) zamiast świadomej wiedzy (np. kursy, ćwiczenia gramatyczne). Ale jest ograniczenie do szybkości. Nauka języka potrzebuje trochę czasu.  Możesz naprawdę dużo osiągnąć w ciągu 6 miesięcy albo roku! To dla mnie jest bardzo szybko. ;-) Szybciej to będzie trudno, szczególnie z ryzykiem wypalenia.</p>
<p>Artykuł, który Wojtek podał powyżej, jest naprawdę dobrze - polecam!</p>
<p>Mam nadzieję, że to pomoże!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2052">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2052">Tuesday, May 29, 2012 - 07:41</a></span>
</div>
</div>
<div class="indented"><a id="comment-2083"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/dc89345197b7730f30b7895d153936cb?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Dziękuję bardzo:)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2083">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">piotr_35l (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2083">Wednesday, May 30, 2012 - 15:46</a></span>
</div>
</div>
</div></div></div></div><a id="comment-2184"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://exoz.pl" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4a9baf2778037eb5c89e7009db778a90?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Cześć Dawid,</p>
<p>Śledzę od długiego czasu (co prawda wyrywkowo, ale zawsze) Twojego bloga i jestem pod wielkim, wielkim wrażeniem Twojego uporu :)</p>
<p>Sam posługuję się językiem angielskim codziennie w pracy w kontaktach z wszelkimi nacjami (w przeważającej większości nie są to natywni Brytyjczycy ani Amerykanie) i mój angielski pozwala mi na swobodną komunikację.</p>
<p>Problem pojawia się podczas pobytu za granicą - szczególnie w Wielkiej Brytanii. Ja używam angielskiego - książkowego/pisanego, który dość często nie ma wiele wspólnego z angielskim mówionym. </p>
<p>Pomijam nawet systematyczne zapominanie o przedimkach jak 'a', 'an', 'the' przez native speakerów. Po prostu ilość skrótów używanych przez osoby natywnie używające języka angielskiego jest często tak duża, że ani oni nie rozumieją mnie ani ja nie rozumiem ich !</p>
<p>Może to jest pomysł na artykuł/odcinek video bloga ? Wyjaśnienie chociaż kilkunastu najważniejszych różnic pomiędzy językiem oficjalnym a potocznym (ot, chociażby takie głupie "ain't") może poprawić znacznie jakość komunikacji podczas przebywania wśród native speakerów.</p>
<p>pozdrawiam i trzymam kciuki za dalsze prowadzenie twego bloga !</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2184">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://exoz.pl" rel="nofollow">Grzechu</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2184">Sunday, June 3, 2012 - 14:48</a></span>
</div>
</div>
<div class="indented"><a id="comment-2185"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://exoz.pl" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4a9baf2778037eb5c89e7009db778a90?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>BTW: Odezwij się na priv, podeślę Ci słownik slangu, z jakiego sam się uczę :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2185">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://exoz.pl" rel="nofollow">Grzechu</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2185">Sunday, June 3, 2012 - 14:50</a></span>
</div>
</div>
<a id="comment-2195"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć!</p>
<p>Dzięki za podzielenie się Twoim doświadczeniem z angielskim. :-) To prawda, że jest wiele różnic miedzy językiem standardowym i dialektami, używanymi na co dzień przez native speakerów. Prawdę mówiąc sam mam wiele problemów w rozumieniu dialektów angielskiego, których nie znam - zwłaszcza tych w Anglii. ;-)</p>
<p>Napisałem parę razy na temat dialektów (bo żaden native speaker nie mówi językiem standardowym jako językiem ojczystym):</p>
<p><a href="http://www.linguatrek.com/blog/2011/04/do-english-speakers-make-mistakes-on-purpose" title="http://www.linguatrek.com/blog/2011/04/do-english-speakers-make-mistakes-on-purpose">http://www.linguatrek.com/blog/2011/04/do-english-speakers-make-mistakes...</a></p>
<p><a href="http://www.linguatrek.com/blog/2011/02/milwaukee-wisconsin-unique-english-dialect" title="http://www.linguatrek.com/blog/2011/02/milwaukee-wisconsin-unique-english-dialect">http://www.linguatrek.com/blog/2011/02/milwaukee-wisconsin-unique-englis...</a></p>
<p>Jeszcze nie nagrałem filmiku na ten temat! Dzięki za pomysł. :-) Oczywiście, tylko mógłbym dobrze opowiadać o różnicach między oficjalnym a moim. :-)</p>
<p>Życzę dalszych sukcesów w Twojej przygodzie z angielskim!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2195">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2195">Monday, June 4, 2012 - 10:12</a></span>
</div>
</div>
</div><a id="comment-2206"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] To uświadomiło mi, że pomaganie ludziom w nauce języka jest moją prawdziwą pasją! [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2206">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku" rel="nofollow">Mój następny WIELKI projekt po ebooku! | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2206">Tuesday, June 5, 2012 - 09:13</a></span>
</div>
</div>
<a id="comment-2269"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.facebook.com/?ref=tn_tnmn" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/644814eeec5bf8b7c754282f31d7ccc5?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hello! I live in Russia, and I start to study Polish language two months ago (why I am writing in English, which also do not know good). I know Russian and Belorussian well. I learn Serbian language more than year and can communicate with people on basic topic. I don't set myself the goal of  fluent in language. I just like to communicate with people, listen to songs, watch movies. It brings people and cultures together. And make friends  with different people.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2269">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.facebook.com/?ref=tn_tnmn" rel="nofollow">Vladimir</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2269">Thursday, June 7, 2012 - 07:01</a></span>
</div>
</div>
<div class="indented"><a id="comment-2292"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Vladimir,</p>
<p>Thanks for sharing your experience and goals with language learning! I'm personally really intrigued by Slavic languages, but unfortunately, I only have experience with Polish and (a little) Russian. I'd like to one day learn a few more!</p>
<p>Best of luck with your language learning adventures!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2292">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2292">Friday, June 8, 2012 - 22:37</a></span>
</div>
</div>
</div><a id="comment-2271"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/1f27dd2e416406fa8b310e5fffb0cf46?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hej David!<br/>
Trafiłam na Twój kanał na youtube jakieś pół roku temu. Bloga zasubskrybowałam dopiero dziś :) Ale od dawna podziwiam Twoje zmagania z językiem i zazdroszczę samozaparcia. Jesteś bardzo inteligentnym człowiekiem, ale poza tym również przesympatycznym i niesamowicie miło się Ciebie ogląda i słucha. Moja przygoda z językiem angielskim zaczęła się już w przedszkolu. Nauka w szkole nie była efektywna, ale chodziłam od najmłodszych lat też na zajęcia dodatkowe - do tzw British School (była to szkoła językowa). Myślałam, że umiem angielski - nie sprawiało mi większego problemu na przykład zrozumienie tego, co mówią aktorzy w filmach itd. Ale z niejakimi problemami spotkałam się dopiero, gdy przyjechałam na studia do Aberystwyth w Wielkiej Brytanii. Jest tutaj niesamowita mieszanka narodowości, więc każdy mówi z zupełnie innym akcentem. Na początku była to dla mnie trudność, ale teraz mogę dumnie powiedzieć, że dogaduję się z każdym bez większych problemów. Uwielbiam inne kultury, więc zycie tutaj sprawia mi ogromną frajdę.</p>
<p>Dodam jeszcze, że studiuję literaturę angielską (w której mam też moduł,który nazywa się literatura i kultura amerykańska) oraz język hiszpański, dwa kierunki związane ściśle z językami.<br/>
Póki co hiszpański umiem tylko na poziomie bardzo podstawowym, ale może kupię sobie Harry'ego Pottera po hiszpańsku podążając za Twoją metodą? Kto wie, może wtedy będzie mi łatwiej :)</p>
<p>Przepraszam, ze tak się rozpisałam, mam nadzieję, że nie używałam jakichś trudnych polskich słów. </p>
<p>Dzięki, że stworzyłeś ten kanał, tego bloga i bibliobirda :)</p>
<p>Pozdrawiam,<br/>
Karolina</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2271">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Karolina (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2271">Thursday, June 7, 2012 - 09:33</a></span>
</div>
</div>
<div class="indented"><a id="comment-2293"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Karolina!</p>
<p>Dzięki za miłe słowa i podzielenie się Twoją "przygodą" z językami obcymi. :-)</p>
<p>Gratuluję sukcesu z j. angielskim i życzę Ci podobnych sukcesów z hiszpańskim! Jeśli zaczniesz czytać Harry'ego Pottera po hiszpańsku, daj mi znać, jak Ci pójdzie!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2293">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2293">Friday, June 8, 2012 - 22:41</a></span>
</div>
</div>
</div><a id="comment-2276"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/ed555f1fd6b09792b8ab0abdb054be3b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witam Cię,</p>
<p>przede wszystkim fenomenalnie mówisz po Polsku,<br/>
naprawdę bardzo przyjemnie się Ciebie słucha (i ogląda;p)</p>
<p>Swoją misję wypełniasz kapitalnie, gdyż inspirujesz do nauki i życia; sam chcę swobodnie rozmawiać w kilku językach (właśnie w hiszpańskim, który uwielbiam, angielskim, niemieckim, francuskim...)</p>
<p>Skoro Ty tak świetnie opanowałeś polski, który jest ekstremalnie trudnym językiem, to mnie również może się udać... Oczywiście po długim czasie systematycznej pracy, ale uda się - jeśli tylko będę chciał. I to wcale nie musi być praca - nauka języka powinna być zabawą, tylko i wyłącznie zabawą. Akurat Tobie nie muszę tego mówić.</p>
<p>Teraz zwrócę się do innych, przeglądających ten blog, zwłaszcza do moich rodaków:</p>
<p>Popatrzcie na niego - facet doskonale mówi po naszemu - a wszyscy wiemy, że to jeden z najtrudniejszych języków świata.<br/>
Ale mówi - tylko dlatego i AŻ dlatego - że chciał.<br/>
Chciał, mili Państwo.</p>
<p>Serdecznie pozdrawiam, podziękuj sobie, bo odwalasz kawał dobrej roboty</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2276">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Niemen7 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2276">Friday, June 8, 2012 - 17:14</a></span>
</div>
</div>
<div class="indented"><a id="comment-2294"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dziękuję bardzo za miłe słowa. :-)</p>
<p>Na pewno uda Ci się! Motywacja jest bardzo ważna w tym i brzmi jak masz jej sporo. :-) Zgadzam się z wszystkim co napisałeś: nie musi być pracą - właściwie musi NIE być pracą, jeśli chcesz wytrwać do celu!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2294">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2294">Friday, June 8, 2012 - 22:45</a></span>
</div>
</div>
</div><a id="comment-2296"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/aa91fbc45b1d53314d389383c0a34367?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witaj David!</p>
<p>      Na Twój konał na YouTube trafiłem przez przypadek jakieś cztery miesiące temu. Od tego czasu systematycznie oglądam dodane przez Ciebie filmiki. Gratuluję motywacji i znajomości języka polskiego na tak wysokim poziomie. Ja swoją przygodę z językiem angielskim rozpocząłem ok. 12 lat temu. Przez 6 lat chodziłem na kurs do szkoły języków obcych. Gramatykę opanowałem dość łatwo, ale miałem problemy z  wypowiadaniem się po angielsku. Od ok. roku rozmawiam przez Skype z native speakerami i muszę szczerze powiedzieć, że rezultaty były widoczne już po kilku tygodniach (chociaż rozmawiałem jedynie 3 razy w tygodniu po ok. 1 godzinie) Dodatkowo uczę się też Twoją metodą. Czytam książkę Maureen Lee   ,, The old House one the Corner". Nieznane słowa zapisuję<br/>
w zeszycie wraz z numerem strony, na której dane słowo się znajduje, aby słowo nie było wyrwane z kontekstu. Moim celem jest umiejętność swobodnego porozumiewania się po angielsku. Ostatnio zacząłem się także uczyć hiszpańskiego. Pozdrawiam Piotr.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2296">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Piotrek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2296">Saturday, June 9, 2012 - 09:04</a></span>
</div>
</div>
<div class="indented"><a id="comment-2318"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Piotr!</p>
<p>Dzięki za miłe słowa i podzielenie się Twoją historią. :-) Gratuluję Ci postępów w nauce! Później w nauce również zacząłem rozmawiać z ludźmi przez Skype w ramach nauki (i nadal to robię). Wydaje mi się, że w sumie masz bardzo efektywną metodę. :-)</p>
<p>Życzę Ci dalszych sukcesów w nauce!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2318">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2318">Saturday, June 9, 2012 - 23:07</a></span>
</div>
</div>
</div><a id="comment-2375"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/ff81e6392e3c2092305564448c55add6?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć David !!!</p>
<p>Od tygodnia subskrybuje Twój blog, trafiłem na niego po przez kanał pewnego użytkownika youtube opowiadającego o życiu w USA, którego również subskrybuje. Moim celem jest nauka j.angielskiego w stopniu, który pozwoli mi w miarę swobodnie komunikować się oraz prowadzić rozmowy z innymi ludźmi. Do tej pory j.angielskiego uczyłem się głównie sam i efekt jest średnio zadowalający. Przez większość swojej edukacji miałem do czynienia z j, niemieckim lecz nauka go nie sprawiała mi przyjemności, ponieważ zwyczajnie nie przepadam za tym językiem. Pragnę uczyć się j. angielskiego a dzięki Twojej misji pragnienie to jest jeszcze większe :)</p>
<p>SERDECZNIE POZDRAWIAM !!!<br/>
Michał</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2375">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Michał (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2375">Monday, June 11, 2012 - 18:41</a></span>
</div>
</div>
<a id="comment-2376"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/ff81e6392e3c2092305564448c55add6?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć David !!!</p>
<p>Od tygodnia subskrybuje Twój blog, trafiłem na niego po przez kanał pewnego użytkownika youtube opowiadającego o życiu w USA, którego również subskrybuje. Moim celem jest nauka j.angielskiego w stopniu, który pozwoli mi w miarę swobodnie komunikować się oraz prowadzić rozmowy z innymi ludźmi. Do tej pory j.angielskiego uczyłem się głównie sam i efekt jest średnio zadowalający. Przez większość swojej edukacji miałem do czynienia z j, niemieckim lecz nauka go nie sprawiała mi przyjemności, ponieważ zwyczajnie nie przepadam za tym językiem. Pragnę uczyć się j. angielskiego a dzięki Twojej misji pragnienie to jest jeszcze większe :)</p>
<p>SERDECZNIE POZDRAWIAM !!!<br/>
Michał</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2376">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Michał (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2376">Monday, June 11, 2012 - 18:44</a></span>
</div>
</div>
<a id="comment-2382"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/0aa6103b3631cbd14ca7f9c748ef8c97?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witaj Davidzie :)<br/>
Jestem w trakcie czytania Twojej ksiazki.<br/>
Chcialam podzielic sie moim entuzjazmem dla Twojej pracy. Nie wielu ludzi ma  potrzeby realizacji marzen i wizje, a i z tego malego grona jeszcze czesc odpada podczas prob i niedogodnosci.<br/>
Zycze Ci Davidzie wspanialych owocow tej misji.<br/>
Jesli chodzi o j. angielski, to mam problemy z nauka. Sa jezyki przynoszace mi radosc ( np. hebrajski, hiszpanski). Angielskiego nie cierpie :(. Ten jezyk jest dla moich uszu nie do zaakceptowania. Musze niestety nauczyc sie mowic, slyszec i pisac wlasnie po angielsku, wiec mam nadzieje, ze to jest ten moment, kiedy wreszcie inaczej spojze na nauke i nauczanie przedmiotow nielubianych :-D.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2382">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Beata Hoffmann (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2382">Tuesday, June 12, 2012 - 06:49</a></span>
</div>
</div>
<div class="indented"><a id="comment-2415"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Beata!</p>
<p>Dzięki za słowa wsparcia i podzielenie się Twoją sytuacją z angielskim. :-)</p>
<p>Jak nie cierpisz j. angielskiego będzie bardzo trudno go się nauczyć, niestety. :-/ Motywacja jest strasznie ważna w nauce języków. Nauka będzie o wiele efektywniejsza jeśli w jakiś sposób "zakochasz się" w języku.</p>
<p>Wiem, że to może być trudno do zrobienia ale znajdź coś związane z językiem (albo z kulturą krajów, w którym się mówi danym językiem), co lubisz: zespół muzyczny, autora, aktora, potrawę, coś. Na tej podstawie może kiedyś wyrośnie prawdziwe polubienie tego języka. Uwierz mi, to pomoże! :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2415">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2415">Wednesday, June 13, 2012 - 17:45</a></span>
</div>
</div>
</div><a id="comment-2543"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/583a2eacb99c20124c0d110ffb767ad4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hej! Ale świtny ten filmik. Bardzo motywujący. A ty David masz talent, ale jest to talent do utrzymania motywacji w nauce języka. Talent, którego mi niestety brakuje. Ale pracjuę nad tym. ;D</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2543">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">holdenQ (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2543">Monday, June 25, 2012 - 03:06</a></span>
</div>
</div>
<div class="indented"><a id="comment-2563"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki za miłe słowa. :-) Życzę Ci wytrwałości w nauce! Pozdrawiam serdecznie, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2563">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2563">Monday, June 25, 2012 - 11:56</a></span>
</div>
</div>
</div><a id="comment-2604"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/7604cefcc6a9f2fea08596841f6edef9?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witam i na wstępie mojego komentarza podziwiam :)</p>
<p>Ja mam historie językowe niemiecko-angielskie.<br/>
Niemieckiego uczę się 13 lat, ale tak na prawdę dopiero w liceum zaczęłam myśleć, a nawet śnić po niemiecku z czego bardzo się cieszę, gdyż zamierzam w przyszłości wyjechać właśnie do Niemiec.</p>
<p>Z angielskim zawsze pod górę, jeśli chodzi o angielski, jaki poznałam w szkole. Wszystkie zawiłości gramatyczne, szczególnie mnóstwo czasów w języku, sprawiały mi na testach problem. Miałam angielski tylko 3 lata w liceum, ale wcześniej oglądanie po angielsku filmów, seriali, czy grzebanie w internecie nie sprawiały mi większych trudności.<br/>
Mój angielski jest więc bardziej angielskim potocznym i niestety zaśmiecony brudami.<br/>
Na studiach miałam przez dwa semestry język angielski o specjalności medycznej i myślałam, że nie podołam, gdyż na maturze zdawałam niemiecki na poziomie rozszerzonym, a okazało się, iż zdałam najlepiej w grupie egzamin, który był w formie ustnej.<br/>
W nauce angielskiego, którego w większości nauczyłam się przez przypadek i przy okazji pomagała mi najbardziej muzyka i masa filmów.</p>
<p>Teraz zaczynam przygodę z hiszpańskim, gdyż bardzo mi się podoba styl tego języka, mam zestaw fiszek, jednak jest mi trudno z powodu, iż nie jest to ani język słowiański, ani germański.</p>
<p>Dzięki Twojej historii widzę, że wszystko jest możliwie, więc jestem jeszcze bardziej nakręcona :)</p>
<p>Pozdrowienia z Wrocławia</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2604">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Nutka (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2604">Wednesday, June 27, 2012 - 13:54</a></span>
</div>
</div>
<div class="indented"><a id="comment-2628"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dziękuję bardzo za podzielenie się Twoją historią. Czasem nauka "przez przypadek i przy okazji" jest najlepsza. ;-) Gratuluję Ci sukcesu z niemieckim i angielskim i życzę podobnych sukcesów w nauce hiszpańskiego!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2628">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2628">Friday, June 29, 2012 - 20:29</a></span>
</div>
</div>
</div><a id="comment-2697"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d0ecc9951daeb783f49393a4fb76c78d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witam. Jestem Paulina. Mam 22 lata. Uczę się angielskiego od 15 lat jednak nie wchodził mi on wcześniej do głowy. Po obejrzeniu filmów na YouTube dostałam wielkiej motywacji do nauki:)<br/>
Moja rodzina mieszka w Anglii. Często tam bywam ale nie mogę się dogadać z nikim bo boje się mówić. Myślę że to przez to że nie mogę zapamiętać słówek.<br/>
Moim celem jest biegle mówić po angielsku.:) Nie poddam się i udowodnię wszystkim że potrafię to zrobić :)<br/>
Pozdrawiam<br/>
Paulina</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2697">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Paulina (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2697">Wednesday, July 11, 2012 - 15:24</a></span>
</div>
</div>
<div class="indented"><a id="comment-2714"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Paulina!</p>
<p>Dzięki za komentarz! Bardzo się cieszę, że znalazłaś motywację i wierzę, że to wszystkim udowodnisz. :-)</p>
<p>Co do zapamiętania słówek: system rozmieszczonego powtórzenia dobrze działa dla mnie. Napisałem artykuł o tym (niestety po angielsku):<br/>
<a href="http://www.linguatrek.com/blog/2011/01/what-is-spaced-repetition" title="http://www.linguatrek.com/blog/2011/01/what-is-spaced-repetition">http://www.linguatrek.com/blog/2011/01/what-is-spaced-repetition</a></p>
<p>Ale również jest informacja o tym w moim darmowym ebooku. Jeśli go jeszcze nie czytałaś, go polecam!</p>
<p>Co do obawy przed mówieniem - oto są parę artykułów o tym:<br/>
<a href="http://www.linguatrek.com/blog/2011/05/how-to-overcome-your-fear-of-speaking" title="http://www.linguatrek.com/blog/2011/05/how-to-overcome-your-fear-of-speaking">http://www.linguatrek.com/blog/2011/05/how-to-overcome-your-fear-of-spea...</a> (po angielsku)<br/>
<a href="http://www.linguatrek.com/blog/2012/07/nikt-nie-b%C4%99dzie-si%C4%99-%C5%9Bmia%C4%87-z-ciebie-naprawd%C4%99" title="http://www.linguatrek.com/blog/2012/07/nikt-nie-b%C4%99dzie-si%C4%99-%C5%9Bmia%C4%87-z-ciebie-naprawd%C4%99">http://www.linguatrek.com/blog/2012/07/nikt-nie-b%C4%99dzie-si%C4%99-%C5...</a></p>
<p>Mam nadzieję, że znajdziesz coś pomocnego w tych artykułach!</p>
<p>Życzę Ci sukcesu w nauce angielskiego!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2714">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2714">Saturday, July 14, 2012 - 12:32</a></span>
</div>
</div>
</div><a id="comment-2751"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/6d9cac88cb840aaaeca4c0b0b22a3408?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć David,<br/>
Zawsze fascynowały mnie inne języki (z wyjątkiem niemieckiego;p), ale zawsze moje wyniki w szkole były przeciętne. W te wakacje postanowiłem nauczyć się języka rosyjskiego, przekonała mnie do tego rosyjska muzyka reggae.</p>
<p>Mam nadzieje, że twoje filmiki będą dla mnie motywacją w nauce. Bo skoro ktoś może nauczyć się polskiego który sprawia wiele problemów nawet ludziom urodzonym w Polsce. Dlaczego miałbym nie móc nauczyć się rosyjskiego? :)</p>
<p>Pozdrawiam i gratuluje, bo twój polski jest na prawdę bardzo dobry!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2751">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">kbddz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2751">Friday, July 20, 2012 - 04:41</a></span>
</div>
</div>
<div class="indented"><a id="comment-2787"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć!</p>
<p>Dzięki za komentarz i miłe słowa! Rosyjska muzyka reggae jest fantastyczną motywacją. :-)</p>
<p>Życzę sukcesu w nauce j. rosyjskiego!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2787">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2787">Wednesday, July 25, 2012 - 10:58</a></span>
</div>
</div>
</div><a id="comment-2901"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/581f8a15be165ff009c810368d130ac4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witam</p>
<p>Twoje doświadczenia, Davidzie, bardzo mnie zmotywowały do nauki języka angielskiego. Ponieważ od niepamiętnych czasów rozpoczynam i przestaję uczyć się angielskiego więc jak gdyby stoję w miejscu. To ruszam do przodu, to się cofam. Co prawda ostatni rok codziennie czegoś się uczę, ale jeszcze nie przeszedłem zaczarowanej linii pełnej automatyzacji w rozmowie. Po poczytaniu Twojego bloga i obejrzeniu kilku video wzrosła we mnie motywacja (tłumiona, czasami skutecznie, przez rodzinę... :( )</p>
<p>Za dwa tygodnie (wtedy zmniejszy mi się obciążenie czasowe) wezmę się, za Twoim przykładem, za cz. 1. Harry Pottera. Książkę po angielsku mam, audiobooka angielskiego również. Po polsku kilka lat temu czytałem, film oglądałem (po polsku).</p>
<p>Czy mógłbyś mi podać algorytm swojej nauki tym sposobem? Może nie pierwszej części HP, ale kolejnej. Sposób nauki wyobrażam sobie następująco:<br/>
1. Wysłuchać kilka razy jeden rozdział.<br/>
2. Przeczytać z przyjemnością ten sam rozdział.<br/>
3. Przeczytać ponownie ten rozdział wyłapując nieznane słowa i frazy.<br/>
4. Spisuję frazy (nieznane słowo z jego otoczeniem).<br/>
5. Powtórki fraz fonetycznie czyli tak jak brzmi w audiobooku. Tu mam uwagę - jeżeli wycinać frazę z audiobooka i zapisywać ją oddzielnie to jest od cholery roboty! Tak jakby przygotowywać dedykowany kurs językowy. Wyszukiwać od nowa w audiobooku, podejrzewam, że jeszcze więcej. Czy znasz drogę na skróty?<br/>
6. Czytam kolejny raz ten sam rozdział z większym zrozumieniem.<br/>
7. Słucham tego rozdziału z audiobooka, także więcej rozumiejąc.<br/>
Kiedy przejść do następnego rozdziału? Czyli, jaki stopień nieznajomości tekstu pozostawić za sobą? Jeśli miałbym znać tekst na 100% mogłoby to trwać za długo. A może właśnie mam go opanować na 100%? Czyli wryć w pamięć? Jak sądzisz Davidzie na podstawie swoich doświadczeń?<br/>
Ile razy czytać cały rozdział? </p>
<p>W którymś poście prezentowałeś algorytmy powtarzania - ^2, ^3 (wybrałeś ^3). Czy chodziło o zrozumienie danego zwrotu czy o poprawne wypowiedzenie go? Twoja odpowiedź ma dla mnie znaczenie jako wielkiej wagi wskazówka do kolejnego etapu mojej nauki. </p>
<p>Generalnie chcę osiągnąć stopień zrozumienia pozwalający na nie zastanawianie się co ktoś powiedział po angielsku i odpowiedzenie mu. Tak jak mam w polskim - zrozumiem nawet bełkot. </p>
<p>Jeszcze jedno. Co sądzisz o wersjach uproszczonych książek typu graded readers (stage od 0 do 6)? Warto się w to bawić? Czy może lepiej od razu walić z grubej rury normalny dziecięcy poziom HP 1-7, Hardy Boys, Charlie w fabryce czekolady etc. Gramatykę niby znam, ale nie umiem posługiwać się nią automatem. Moje córki (4 i 6 lat) nie znają gramatyki polskiego ni w ząb, ale mówią 1000x lepiej niż ja wydukam po angielsku. Z drugiej strony nie mam bombardującego językiem angielskim otoczenia, żeby myśleć po angielsku. </p>
<p>Czasami mam wrażenie, że jestem o krok od zrozumienia i wystarczyłby jakiś większy wysiłek językowy, by ten język złapać. Jednak jest to tak jak z horyzontem - czy się idzie, czy biegnie w jego kierunku, on jest ciągle oddalony i nieuchwytny. </p>
<p>Pozdrawiam serdecznie!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2901">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Arek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2901">Tuesday, August 21, 2012 - 03:39</a></span>
</div>
</div>
<div class="indented"><a id="comment-2935"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Arek!</p>
<p>To fantastycznie, że zdecydowałeś się czytać Harry'ego Potter po angielsku!</p>
<p>Czy czytałeś mój darmowy ebook? Bo w nim już opisałem cały proces, którego użyłem żeby czytać Harry'ego Pottera, i wyraziłem swoją opinię o graded readers. ;-) Dostaniesz go, jeśli zasubskrybujesz mój blog:</p>
<p><a href="http://www.linguatrek.com/subscribe" title="http://www.linguatrek.com/subscribe">http://www.linguatrek.com/subscribe</a></p>
<p>Ale tutaj powiem, że Twój sposób nauki wygląda na strasznie dużo pracy! Oczywiście nie znam Ciebie ale moim zdaniem trudno byłoby przy tym nie tracić motywację. Sam zrobiłem o wiele mniej, żeby przejść dalej. Minimalnie przeczytałem każdą część tylko raz i wysłuchałem kilka razy.</p>
<p>Nie musisz opanować go na 100%. Jeśli dzisiaj nauczyłeś przynajmniej czegoś, czego nie znałeś wczoraj - idziesz w odpowiedni kierunek i reszta przyjdzie z czasem. :-)</p>
<p>Ale piszę więcej o tym wszystkim w ebooku - zapraszam do czytania!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2935">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2935">Sunday, August 26, 2012 - 10:00</a></span>
</div>
</div>
</div><a id="comment-2932"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c5904206e1a9cb981d26e15e60cb4906?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witam Cie Davidzie</p>
<p> Wpadłem na pomysł żeby nakręcić teledysk do piosenki Rockstar zespołu Nickelback z Polską sceną YouTube. W tym z Tobą Czy zgodziłbyś się wystąpić? Teledysk byłby na tej samej zasadzie co oryginalny. Co myślisz o tym pomyśle?</p>
<p> Pozdrawiam<br/>
 Kacper "Kacu" Kostecki</p>
<p>PS. Zależy mi aby ktoś taki jak Ty brał udział ;)<br/>
PS.2 Nie znalazłem żadnej formy kontaktu do Ciebie więc napisałem ten komentarz. Odpisz na mojego e-maila: <a href="mailto:Kacu94@gmail.com">Kacu94@gmail.com</a></p>
<p>We R In Touch ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2932">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kacper Kacu Kostecki (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2932">Sunday, August 26, 2012 - 05:54</a></span>
</div>
</div>
<div class="indented"><a id="comment-2936"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Kacper!</p>
<p>Dzięki za zaproszenie. :-)</p>
<p>Oto jest formularz kontaktowy na moim blogu:<br/>
<a href="http://www.linguatrek.com/contact" title="http://www.linguatrek.com/contact">http://www.linguatrek.com/contact</a></p>
<p>To brzmi jak bardzo ciekawy projekt! Proszę wyślij mi więcej informacje. W obecnej chwili nie mam zbyt dużo czasu ale to powinno się zmienić za 2-3 tygodni.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2936">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2936">Sunday, August 26, 2012 - 10:06</a></span>
</div>
</div>
</div><a id="comment-2949"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/7e9de911601d01509fbb800ad3bf6acf?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hej David!</p>
<p>Pierwszy raz wpadłem na twoją stroną i zrobiłem to całkiem przypadkiem. Bardzo zainteresowało mnie to co robisz ponieważ nauczyłeś się mojego ojczystego języka. Polacy uczą się dość wielu języków obcych i opanowują je raczej dobrze (przynajmniej według testów, ale jak trafnie zauważyłeś nie o to chodzi). Ja osobiście pomimo wybitnego antytalentu do języków (dysortografia i raczej kiepskie wyniki w tej dziedzinie) zdałem maturę dwujęzyczną francusko-polską i to dobrze. Dzięki tobie zrozumiałem że tego języka nauczyłem się w całkiem inny sposób niż ten, którym próbowałem nauczyć się angielskiego czy hiszpańskiego. Pomimo że teoretycznie na podobnym poziomie posługuje się francuskim i angielskim dużo łatwiej przychodzi mi komunikacja w tym pierwszym. Jak będę miał chwilę czasu więcej na pewno przestudiuję  twoją książkę.</p>
<p>Pozdrawiam z Poznania</p>
<p>PS. Wg. mnie język polski i tak pozostanie relatywnie trudny :P</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2949">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Sider (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2949">Wednesday, August 29, 2012 - 17:17</a></span>
</div>
</div>
<div class="indented"><a id="comment-2962"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć!</p>
<p>Dzięki za miłe słowa i podzielenie się Twoim doświadczeniem. :-) Jeśli w końcu przeczytasz mój ebook, proszę daj mi znać co o nim myślisz!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2962">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2962">Sunday, September 2, 2012 - 15:50</a></span>
</div>
</div>
</div><a id="comment-3201"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8cdad5f3d5b5c5b67ca3b2ee0bade4b9?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witaj David,<br/>
chyba przeznaczenie skierowało mnie na Twoją stronę, bo to, co wymyśliłam jako najlepszy sposób nauki angielskiego dla mnie, Ty opisujesz jako skuteczną i wypróbowaną metodę. Mój kontakt z angielskim był krótki, nieprzyjemny i dawno temu. Uczyłam się go przez 4 lata w liceum, ale na maturze zdawałam rosyjski (uczyłam się go zawsze z przyjemnością bo bardzo mi się podobał i miałam szczęście do rusycystek). Lekcje angielskiego w szkole były porażką - nudne, nieprzyjemne i bardzo stresujące, a nauczycielka naprawdę okropna i niekompetentna. Ja zresztą też nie byłam przykładną uczennicą więc nie zwalam wszystkiego na szkolny system nauczania. W dodatku nie miałam wtedy motywacji do nauki bo były to czasy kiedy wyjazdy zagraniczne były dla wybranych. Na studiach miałam lektorat z angielskiego tylko przez 2 lata, a z racji indywidualnego toku nauczania nie uczestniczyłam w normalnych zajęciach,tylko co jakiś czas zdawałam partię materiału, czyli trochę gramatyki i kilka czytanek, wyuczonych wcześniej na pamięć. Od tamtego czasu minęło prawie 20 lat i cała niewielka wiedza gramatyczna wyleciała mi z głowy. Jednak zawsze nieznajomość angielskiego była moim kompleksem i niespełnionym marzeniem. Nie miałam też możliwości czasowych i finansowych, żeby zapisać się na kurs lub korzystać z prywatnych lekcji, ale dwa lata temu postanowiłam sobie, że stanę na głowie i dałam sobie 5 lat na nauczenie się angielskiego w stopniu komunikatywnym. Moja motywacja rosła, ale rósł też opór przed "szkolną" metodą nauki. Szukałam też nauczyciela prywatnego, który dawałby mi poczucie komfortu w moje niewiedzy - cały czas wstydzę się swoich braków i marzyłam o sposobie nauczenie się własnymi siłami, wiedząc jednocześnie, że to niemożliwe. Od zawsze marzyłam o znajomości angielskiego głównie z chęci czytania ukochanego Szekspira w oryginale. A ponieważ jestem też zagorzałą wielbicielką książek i filmów o Harrym Potterze, to i jego wymarzyłam sobie przeczytać po angielsku. Póki co, oglądałam wielokrotnie filmy bez polskiego lektora, na słuchawkach, i delektowałam się pięknym brytyjskim akcentem. Zauważyłam też, że słuchając czegoś co znam tak dobrze i uwielbiam pasjami, jakoś naturalnie i podświadomie przyswajam zwroty (nie znając i nie rozumiejąc zasad,które nimi rządzą)i zapamiętuję słowa, których ucząc się "na sucho" nie zapamiętałabym tak szybko. Przypomniałam też sobie jak znajoma romanistka, starsza pani, od 30 lat ucząca francuskiego w Maroku, opowiedziała mi historię swojego męża, który jako lekarz pojechał do Afryki nie znając francuskiego i nauczył się go szybko czytając swoje ulubione książki po francusku i słuchając swoich francuskich współpracowników. Nauczył się jednego z najtrudniejszych języków w dorosłym wieku, bez żadnych szkół językowych! Wystarczyła ogromna motywacja, pracowitość i zaufanie do samego siebie, odrzucenie utartych schematów nauczania języków obcych. Czyli to, co właśnie zalecasz Ty. :-) Wczoraj, po kolejnych obejrzeniu Harrego, podjęłam decyzję, lub raczej dokonałam odkrycia, że muszę kupić książki i audiobook'i i to jest najlepszy dla mnie sposób - w domu, bez obcych, których bym się wstydziła i na moich zasadach. Dzisiaj, szukając gdzie mogę je kupić trafiłam "przypadkiem" na Twoją stronę i omal nie spadłam z wrażenie z krzesła. :-)) Teraz nie mam już najmniejszych wątpliwości, że sobie poradzę. Wzmacnia mnie też marzenie, żeby za 2 lata wyjechać w podróż po świecie, pomieszkać w różnych miejscach, a że jestem anglofilką, chcę zacząć od Wielkiej Brytanii. I wiem, że mi się uda. :-) I tak oto dokonałam publicznego zobowiązanie. Trzymaj za mnie kciuki, ja na pewno będę korzystać z Twoich rad i wskazówek i obiecuję napisać w 2015 roku, na przykład z Oksfordu. :-)<br/>
Serdeczne dzięki, wyrazy uznania i szacunku za to co robisz! :-))<br/>
Karolina</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/3201">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Karolina (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-3201">Sunday, November 18, 2012 - 07:51</a></span>
</div>
</div>
<div class="indented"><a id="comment-3242"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Karolina!</p>
<p>Dziękuję bardzo za podzielenie się Twoją historią! Była bardzo interesująca i mam nadzieję, że to również zmotywuje innych, którzy wpadną tutaj. :-)</p>
<p>To fantastycznie, że będziesz czytała Harry'ego Pottera! Daj mi znać, jak Ci pójdzie.</p>
<p>Jeśli jeszcze nie czytałaś mojego darmowego ebooka, jest dużo porad w nim właśnie do tego. Zapraszam do czytania! Dostaniesz go, jeśli zasubskrybujesz mój blog tutaj:</p>
<p><a href="http://www.linguatrek.com/subscribe" title="http://www.linguatrek.com/subscribe">http://www.linguatrek.com/subscribe</a></p>
<p>Życzę Ci dalszych sukcesów!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/3242">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-3242">Sunday, November 25, 2012 - 08:35</a></span>
</div>
</div>
</div><a id="comment-3355"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/b6958af3a4e8a683cfff7ab13ab3cfa8?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć,<br/>
w jaki sposób Ty nauczyłeś się gramatyki? Czy nie miałeś wcześniej jakichś podstaw w języku polskim, zanim zacząłeś uczyć się polskiego (masz polsko brzmiące nazwisko)? Wtedy nauka przebiega o wiele łatwiej. Trudno raczej nauczyć się gramatyki języka polskiego z pojedynczej książki, liczba odmian itp. jest przytłaczająca :).<br/>
Twoja gramatyka tutaj jest całkiem niezła, chociaż czasami da się zauważyć drobne błędy. Nie wiem też, jak duży jest udział tej pomagającej Ci osoby w redagowaniu tekstów. W każdym razie sukcesów w nauce :).<br/>
Pozdrawiam.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/3355">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Paweł (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-3355">Saturday, December 22, 2012 - 05:00</a></span>
</div>
</div>
<div class="indented"><a id="comment-3364"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Paweł!</p>
<p>O tym piszę najwięcej w mojej darmowej ebooku (zapraszam do czytania!) ale tutaj tak powiem: Nauczyłem się zasad gramatyczych na kursie na uniwersytecie ale moim zdaniem naprawdę nauczyłem się gramatyki z czytania i słuchania książek po polsku. Przeczytałem ich dość dużo. ;-)</p>
<p>Tak, mam polskie nazwisko bo mam dalekie polskie korzenie! Moi prapradziadkowie wyemigrowali z Polski ok. 100 lat temu:</p>
<p><a href="http://www.linguatrek.com/blog/2011/03/how-long-have-i-been-obsessed-with-poland" title="http://www.linguatrek.com/blog/2011/03/how-long-have-i-been-obsessed-with-poland">http://www.linguatrek.com/blog/2011/03/how-long-have-i-been-obsessed-wit...</a></p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/3364">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-3364">Tuesday, December 25, 2012 - 16:00</a></span>
</div>
</div>
</div><a id="comment-3406"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/cad547abc1ca79cae1e64ff7e115c708?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witam,</p>
<p>Podpisuje sie pod Twoimi opiniami.Nauka w szkole, na kursie, to najczesciej zmarnowane pieniadze. No moze nie tak do konca, ale wydane sumy nie przekladaja sie na efekty w nauce. Gramatyka, gramatyka, nudne i sztuczne dialogi i teksty na zajeciach, a i tak slowa czlowiek nie powie, bo strach przed mowieniem. Ja tez przez lata "mecze" sie z nauka angielskiego, kursy, korepetycje, zmiana nauczycieli i nic. Tzn. nie moge powiedziec, ze nic, ale efekt nie zadawala mnie. Chcialabym mowic prawie perfekt ;-), to moje niespelnione marzenie, uwielbiam angielski...W miedzyczasie byl Londyn 7 miesiecy, praca, szkola, efekt ....po powrocie do Polski przelamalam troche bariere mowienia. Ostatnio mialam dluzsza przerwe z angielskim, z 4 lata kompletnego braku kontaktu. Obecnie powrocilam do nauki, znalazlam native speakera (Brytyjczyk), ktoremu od razu powiedzialam "KSIAZKI MNIE NUDZA", wiec nasza nauka opiera sie na zywej rozmowie, tego co sie aktualnie dzieje w jego zyciu, w moim, w pracy, a tematy same przychodza. Jeszcze dluga droga przede mna, ale Nowy Rok, a ja mam ambitne plany wiecej czasu poswiecac jezykowi angielskiemu ;-).<br/>
Pozdrawiam serdecznie, Twoj jezyk polski imponujacy i motywujacy ;-)</p>
<p>Ania</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/3406">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">AniaJI (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-3406">Tuesday, January 1, 2013 - 16:20</a></span>
</div>
</div>
<div class="indented"><a id="comment-3409"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Ania!</p>
<p>Dzięki za podzielenie się Twoją historią. :-) Bardzo się cieszę, że przełamałaś barierę mówienia i, że idzie Ci tak dobrze z Twoim nowym nauczycielem.</p>
<p>Życzę sukcesu w nauce! 2013 jest rokiem, w którym zrobisz największy postęp do tej pory! ;-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/3409">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-3409">Tuesday, January 1, 2013 - 16:58</a></span>
</div>
</div>
</div><a id="comment-3425"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/455f859f977249517d4dc1d734f7b5e2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Dzień dobry, </p>
<p>moja koleżanka podczas świąt opowiedziała mi o Tobie i stronie którą tworzysz. Świetny pomysł i życzę Ci żebyś się nie poddawał. A czytanie HP podziałało na mnie inspirująco, gdyż jest to jedna z moich ulubionych książek. Mam mocne postanowienie, żeby w tym roku nauczyć się rosyjskiego i poprawić niemiecki, bo uczyłam się go 9 lat w szkole, ale to nie zdało egzaminu tak samo jak w Twoim przypadku. </p>
<p>Trzymam kciuki za Twoją misję!<br/>
M.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/3425">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Magdalena (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-3425">Saturday, January 5, 2013 - 06:50</a></span>
</div>
</div>
<div class="indented"><a id="comment-3480"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Magdaleno!</p>
<p>Dziękuję bardzo za miłe słowa. :-) Życzę Ci sukcesu z Twoim rosyjskim i niemieckim.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/3480">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-3480">Saturday, January 12, 2013 - 19:32</a></span>
</div>
</div>
</div><a id="comment-3599"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/592243220d217a61061bac799733549f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witaj,<br/>
Chciałbym podszkolić się w języku angielskim aby bez problemu komunikować się w pracy oraz móc podróżować:)<br/>
Chciałbym bez skrępowania rozmawiać z przyjaciółmi z za granicy, których poznałem w kilku krajach. Dziękuję za Twoje zainteresowanie, Serdecznie pozdrawiam Łukasz:)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/3599">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Łukasz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-3599">Wednesday, January 23, 2013 - 15:07</a></span>
</div>
</div>
<div class="indented"><a id="comment-3610"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Łukasz!</p>
<p>Dziękuję bardzo za komentarz. :-) Żeby rozmawiać z przyjaciółmi zza granicy - to fantastyczna motywacja! Mam nadzieję, że mój blog i ebook będą Ci pomóc w używaniu tej motywacji, żeby osiągnąć Twój cel!</p>
<p>Życzę sukcesów w nauce!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/3610">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-3610">Thursday, January 24, 2013 - 11:36</a></span>
</div>
</div>
</div><a id="comment-3604"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/161651b0fa1ba6e5f81d765c8b43d3c3?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>cóz też mieszkam kilka lat w Irlandi ale ten angielski daleki jest od british english...ja mieszkam w Cork a tu co dzielnica gadaja z innym akcentem...w takich okolicznościach przyrody,pomiedzy pracą a opieką nad dzieckiem próbuje się nauczyc mówić poprawnie po angielsku,bo na tym mi najbardziej zależy...POZDRAWIAM CIE I DZIĘKUJĘ ZA TWĄ PRACĘ! Mariusz.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/3604">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Mariusz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-3604">Thursday, January 24, 2013 - 07:00</a></span>
</div>
</div>
<div class="indented"><a id="comment-3611"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Mariusz!</p>
<p>Hehe, raz byłem w Corku przez kilka dni i się zgadzam. :-) Rozmawiałem z jakimś facetem w pubie i nie byłem w stanie zrozumieć ... no, prawie niczego, ale pomiętam, że nie mogłem zrozumieć słowa "cowboy". Z jego wymową brzmiało jak "carbuoy". ;-)</p>
<p>Życzę Ci sukcesu w nauce angielskiego!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/3611">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-3611">Thursday, January 24, 2013 - 11:41</a></span>
</div>
</div>
</div><a id="comment-3636"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/93cf2e9c7488695a29557c4d063f61e7?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi David<br/>
Uczę się angielskiego od 30 lat( z przerwami)i niewiele potrafię. A więc jak widzisz jestem prawdziwym antytalenciem! Moim celem jest nauczenie się na poziomie komunikatywnym. Byłoby ,to dla mnie wielkie osiągnięcie!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/3636">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Tadeusz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-3636">Saturday, January 26, 2013 - 00:53</a></span>
</div>
</div>
<div class="indented"><a id="comment-3638"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Tadeusz!</p>
<p>Dzięki za komentarz i podzielenie się Twoją historią. :-)</p>
<p>Mam nadzieję, że to widać tutaj w komentarzach, że nie jesteś sam! Wiele osób uczyło się baaaardzo długo i w końcu mało potrafi.</p>
<p>Ale to nie chodzi o talent! Jak wyjaśniłem w artykule, osobiście nie mam talentu do nauki języków. Tylko potrzebujesz trzech składników: motywacji, czasu i efektywnej metody.</p>
<p>O tym wszystkim piszę bardziej szczegółowo w moim ebooku! Zapraszam do czytania!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/3638">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-3638">Saturday, January 26, 2013 - 10:27</a></span>
</div>
</div>
</div><a id="comment-3637"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/60850816a594197dffa966b91943889e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Ja się uczę angielskiego z przerwami, w sumie to by się kilka lat zebrało. Efekty niezbyt imponujące. Największy problem to blokada przed mówieniem. Ale dzięki Twoim radom mam nadzieję, że to się zmieni. Zastosowałam już pierwszą z nich aby najpierw słuchać a potem czytać. Do tej pory wydawało mi się, że sporo rozumiem. Okazało się, że tylko jak czytam. Gdy najpierw włączyłam słuchanie, zrozumiałam z tekstu może 3 słowa. </p>
<p>Dzięki za rady...</p>
<p>Pozdrawiam<br/>
Ania</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/3637">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">handzia5 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-3637">Saturday, January 26, 2013 - 10:20</a></span>
</div>
</div>
<div class="item-list"><ul class="pager"><li class="pager-first first"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji" title="Go to first page">« first</a></li>
<li class="pager-previous"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji-page-1" title="Go to previous page">‹ previous</a></li>
<li class="pager-item"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji" title="Go to page 1">1</a></li>
<li class="pager-item"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji-page-1" title="Go to page 2">2</a></li>
<li class="pager-current">3</li>
<li class="pager-item"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji-page-3" title="Go to page 4">4</a></li>
<li class="pager-item"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji-page-4" title="Go to page 5">5</a></li>
<li class="pager-item"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji-page-5" title="Go to page 6">6</a></li>
<li class="pager-next"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji-page-3" title="Go to next page">next ›</a></li>
<li class="pager-last last"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji-page-5" title="Go to last page">last »</a></li>
</ul></div>
</div>
