---
permalink: /blog/2012/03/o-mnie-i-mojej-misji/
layout: blog-old
title: 'O mnie (i mojej misji)'
day: 20
month: mar
year: 2012
category: personal
tags: [ ]
language: pl
translation: /blog/2012/03/about-me-and-my-mission/
---
<div class="content">
<p><object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/RTF9ptgquNY?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/RTF9ptgquNY?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object></p>
<p>Zapraszam do oglądania filmik powyżej ...</p>
<h2>... albo możesz czytać tę samą treść poniżej!</h2>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/03/me.jpg" rel="lightbox"><img alt="Portret Davida" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/03/me.jpg" title=""/></a></div>
<p><strong>Właśnie zdałem sobie sprawę, że nie mam żadnej strony na moim blogu, na której naprawdę przedstawiam się i wyjaśniam dlaczego robię to co robię. :-)</strong></p>
<p>Piszę artykuły i nagrywam filmiki o nauce języków i kulturze amerykańskiej i polskiej od ponad trzech lat, i jeśli je śledziłeś/aś, znasz już całą moją historię - <em>ale nie wiesz dlaczego to robię!</em></p>
<p><strong>(Specjalnie dla długoletnich fanów: w pełnym artykule jest zdjęcie, na którym mam długie włosy! Zapraszam!)</strong></p>
<p>Jeśli mnie nie znasz, oto jest mój krótki, <em>oficjalny</em> profil:</p>
<blockquote>
<p>David Snopek jest amerykańskim przedsiębiorcą, programistą oraz nauczycielem i uczącym się języków obcych, który urodził się i wychował się w Milwaukee w stanie Wisconsin. Chociaż ma polskie nazwisko (dzięki dalekim polskim przodkom, którzy wyemigrowali do USA ok. 100 lat temu), dorósł mówiąc tylko w jednym języku: angielskim.</p>
<p>W końcu jako dorosłemu udało mu się dojść do całkiem wysokiego poziomu w nauce j.polskiego, korzystając z nietradycyjnej metody. Zainspirowany tym sukcesem, stworzył <a href="http://www.linguatrek.com/">Linguatrek</a>, blog na którym dzieli się swoim doświadczeniem i <a href="http://pl.bibliobird.com">Bibliobird</a>, aplikację internetową, która pomaga Polakom w nauce j. angielskiego.</p>
</blockquote>
<p><strong>Pierwotnie nie chciałem napisać tego artykułu bo wiedziałem, że będę musiał opowiedzieć o "mojej misji".</strong></p>
<p>Prawdę mówiąc rzeczywiście <em>mam misję</em>.  Obawiałem się jednak ogłaszania jej publicznie. Duże korporacje i politycy mają misje. I mówiąc delikatnie, zwykle są to same <em>bzdury</em> (chciałem napisać słowo na "g" ;-)).</p>
<p>Martwiłem się, że pomyślicie, że moja misja również jest bzdurą.  Ale nauka języków jest <a href="http://www.linguatrek.com/blog/2012/01/vlog-skupianie-si%C4%99-na-tym-co-jest-dla-mnie-wa%C5%BCne">moją prawdziwą pasją</a> i czułem, że wreszcie przyszedł czas, żeby podzielić się tym z Wami.</p>
<p><strong>Czytaj dalej aby dowiedzieć się więcej o mojej misji!</strong></p>
<h2>Moja misja</h2>
<p>Moją misją jest to, żeby:</p>
<ul>
<li><strong>Zmotywować Ciebie do nauki języków obcych i poznawania innych kultur.</strong> <p style="margin: 1em">To może pomóc Ci w: znalezieniu lepszej pracy, poszerzeniu Twoich horyzontów, powrocie do Twoich korzeni, cieszeniu się z podróży po świecie i w ogóle wzbogaceniu Twojego życia.</p></li>
<li><strong>Rozwiać przekonanie, że nie możesz nauczyć się języków albo konkretnego języka.</strong> <p style="margin: 1em">Dużo ludzi myśli, że trzeba mieć "<a 02="" 2011="" blog="" href="" http:="" vlog-nie-trzeba-mie%c4%87-talentu-%c5%bceby-nauczy%c4%87-si%c4%99-j%c4%99zyka="" www.linguatrek.com="">talent do języków</a>."  Albo, że <a href="http://www.linguatrek.com/blog/2011/07/you-dont-need-to-live-in-a-foreign-country-to-learn">trzeba mieszkać w kraju</a>, gdzie się mówi w danym języku. Albo, że koniecznie trzeba nauczyć się na pamięć skomplikowanych <a href="http://www.linguatrek.com/blog/2011/03/language-learning-is-more-like-karate-than-math">zasad gramatycznych</a>. Albo, że niektóre języki są <a href="http://www.linguatrek.com/blog/2010/11/polish-is-not-the-hardest-language-in-the-world">o wiele trudniejsze od innych</a>.  Albo, że jesteś zbyt stary, żeby nauczyć się języków.  <strong>Wszystkie te przekonania są fałszywe: każdy może nauczyć się dowolnego języka!</strong></p></li>
<li><strong>Pokazać Ci jak nauczyć się języka w sposób przyjemny, szybki i efektywny.</strong> <p style="margin: 1em">Nie ma tylko jednej właściwej metody nauki języka.  Niektóre metody są <a href="http://www.linguatrek.com/blog/2011/03/vlog-jak-wygl%C4%85da-efektywna-metoda-nauki-j%C4%99zyka-obcego">efektywniejsze</a> od innych. Ale najefektywniejsza metoda nauki zależy od Ciebie i Twoich osobistych preferencji.  Chciałbym pomóc Ci znaleźć <em>Twoją własną metodę</em>.</p></li>
</ul>
<p><strong>Dlaczego?</strong></p>
<p><em>Bo kiedyś byłem w takiej samej sytuacji!  Potrzebowałem takich samych porad i pomocy!</em></p>
<h2>Moje porażki</h2>
<p><strong><em>Prawda jest taka, że poniosłem wiele porażek ucząc się różnych języków obcych, zanim w końcu odniosłem sukces z j. polskim.</em></strong></p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/03/mexicandoll.jpg" rel="lightbox"><img alt="Mexican doll" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/03/mexicandoll.jpg" title="Zdjęcie Fabiána Everarda Alvareza Navarra"/></a><div class="caption"><a href="http://www.flickr.com/photos/fabalv/244029097/in/photostream/">Zdjęcie</a> <a href="http://www.flickr.com/people/fabalv/">Fabiána Everarda Alvareza Navarra</a></div></div>
<p>Tak jak wielu Amerykanów uczyłem się j. hiszpańskiego w szkole średniej i "high school" - w sumie sześć lat.  Graliśmy w gry, śpiewaliśmy, uczyliśmy się mnóstwa gramatyki i zdawaliśmy egzaminy. Robiłem wszystko co kazał nauczyciel i nawet miałem bardzo dobre oceny.  Ale tak jak większość moich rówieśników, nie udało mi się nauczyć więcej niż tylko tyle, aby zdać egzamin gramatyczny. <strong>Po sześciu latach!</strong></p>
<p><em>Codziennie</em> rozmawiam z ludźmi, którzy mieli takie same doświadczenie z hiszpańskim albo angielskim, albo francuskim, albo z jakimkolwiek innym językiem.  Uczyli się w szkole przez 5, 10 albo 15 lat, ale nadal nie mogą zamówić nic w restauracji, ani obejrzeć filmu bez napisów, ani rozmawiać na luzie z native speakerem.</p>
<p><strong>Wtedy zdecydowałem, że nie mam talentu do języków więc nigdy nie nauczę się języka obcego.</strong></p>
<p>A poza tym, jaki miałoby to sens?  Co dałaby mi znajomość j. hiszpańskiego?  W tamtym momencie, nie miałem pojęcia i prawdziwej motywacji żeby kontynuować naukę.</p>
<h2>Znajdowanie motywacji</h2>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/03/david-redsquare.jpg" rel="lightbox"><img alt="David na Placu Czerwonym" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/03/david-redsquare.jpg" title="Na placu czerwonym. Tak, kiedyś miałem długie włosy. :-)"/></a><div class="caption">Na placu czerwonym. Tak, kiedyś miałem długie włosy. :-)</div></div>
<p>Póżniej jako dorosły poznałem wielu przyjaciół mówiących po rosyjsku.  Jeden z nich jechał do Rosji i na Białoruś, żeby odwiedzić swoją rodzinę i zaprosił mnie, abym mu towarzyszył.</p>
<p>Pomyślałem, <em>"Ojej, to taka wspaniała okazja!  Będę mógł zobaczyć i doświadczyć życia z perspektywy prawdziwych obywateli tych krajów.  <strong>Muszę nauczyć się trochę rosyjskiego!</strong>"</em></p>
<p>Więc zapisałem się na kurs j. rosyjskiego na miejscowym uniwersytecie.  Kurs był bardzo ciekawy, ale tak samo jak na kursie z hiszpańskiego, uczyliśmy się gramatyki, gramatyki i więcej gramatyki.</p>
<p>Po roku pojechałem na tę wycieczkę z moim znajomym i było fantastycznie!  Moja znajomość języka była okropna.  Ale to wystarczyło, żeby zostać zarażonym miłością do języków i podróżowania.  Kiedy wróciliśmy, kontynuowałem ten kurs przez następne dwa lata.</p>
<p><strong><em>Niestety, nigdy nie opanowałem j.rosyjskiego zbyt dobrze, i z tego powodu stawałem się coraz bardziej sfrustrowany.</em></strong></p>
<p>Bardzo dużo wysiłku włożyłem w naukę j. rosyjskiego.  Ale kiedy miałem okazję ćwiczyć ze znajomymi mówiącymi po rosyjsku, mogłem tylko uczestniczyć w najprostszych rozmowach i tylko gdy mówili bardzo powoli i z ograniczonym słownictwem.</p>
<p><strong>Po sześciu latach hiszpańskiego i trzech latach rosyjskiego opanowałem tylko testy gramatyczne.  Biegłe mówienie i rozumienie innego języka nadal było tylko snem.</strong></p>
<h2>Nauka j. polskiego</h2>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/03/warszawa.jpg" rel="lightbox"><img alt="David i Carrie za zamkiem warszawskim" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/03/warszawa.jpg" title="Razem z żoną w Warszawie"/></a><div class="caption">Razem z żoną w Warszawie</div></div>
<p>Kiedy wreszcie przyszedł czas na polski, zacząłem inny kurs na uniwersytecie.  Był bardzo przyjemny, głównie dzięki profesorowi, który opowiadał fajne historie.  Ale po roku już było jasne, że naprawdę nie nauczę się polskiego, tak samo jak nie nauczyłem się hiszpańskiego i rosyjskiego.</p>
<p>Zadałem samemu sobie pytanie, <em>"Czy chciałbym nauczyć się jak zdawać egzaminy gramatyczne?  Czy chciałbym naprawdę mówić po polsku?"</em>  Oczywiście, chciałem mówić po polsku!</p>
<p><strong>To był czas na wielką zmianę.</strong></p>
<p>Więc przestałem chodzić na kurs i zacząłem czytać o tym, jak ludzki mózg uczy się języków.  Zacząłem również eksperymentować z metodą, w której <a href="http://www.linguatrek.com/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego">czytałem i słuchałem Harry'ego Pottera</a> po polsku.</p>
<p>Na samym początku szło bardzo powoli.  Czytanie pierwszego tomu zajęło mi cztery miesiące.  Ale rok po rozpoczęciu nauki tą metodą, udało mi się przeczytać i przesłuchać wszystkie siedem tomów Harry'ego Pottera.</p>
<p><strong>Przed tym miałem problemy z najbardziej podstawowymi rozmowami.  Ale potem mogłem:</strong></p>
<ul>
<li>Rozmawiać z native speakerami prawie na dowolny temat</li>
<li>Czytać i słuchać książek</li>
<li>Oglądać filmy</li>
<li>Pisać emaile, listy i artykuły</li>
</ul>
<p>I to wszystko stało się stosunkowo szybko.  Uczyłem się przeważnie sam (nie na kursie, bez nauczyciela) i podczas gdy mieszkałem tutaj w USA.  To było doświadczenie niezwykle przyjemne i <a href="http://www.linguatrek.com/blog/2011/09/vlog-trzy-lata-na-youtube-pi%C4%99%C4%87-lat-z-j-polskim">zmieniło moje życie na lepsze</a>.</p>
<p><strong>Półtora roku po rozpoczęciu nauki tą metodą, z żoną (Carrie) przeprowadziliśmy się do Polski na rok.  Od razu mogłem:</strong></p>
<ul>
<li>Dać sobie radę z polską biurokracją wyłącznie po polsku, np. urząd do spraw cudzoziemców, urząd skarbowy, ZUS, poczta, itd.</li>
<li>Odbywać <a href="http://www.linguatrek.com/blog/2011/07/teaching-english-in-poland">rozmowy kwalifikacyjne</a> po polsku</li>
<li>Znaleźć i wynająć <a href="http://www.youtube.com/watch?v=k8pwVfGIlVs">mieszkanie</a></li>
</ul>
<h2>Ty też możesz to zrobić!</h2>
<p>Często ludzie piszą komentarze pod moim filmikami po polsku takie jak, "Ojej, mówisz świetnie po polsku.  Musisz mieć wielki talent do języków.  Bardzo chciałbym mówic po angielsku tak dobrze jak Ty mówisz po polsku.  Ale nie mam talentu do języków."</p>
<p><strong>Ale sam również nie mam talentu do języków!</strong></p>
<p>Gdybym miał, łatwo nauczyłbym się j. hiszpańskiego i rosyjskiego.  Kiedy nauczyłem się polskiego, nadal byłem tą samą nieutalentowaną osobą, jaką byłem poprzednio.  Ja się nie zmieniłem, tylko zmieniłem swoje podejście.</p>
<p>Jeśli zbierzesz i połączysz ze sobą <a href="http://www.linguatrek.com/blog/2011/03/the-three-ingredients-for-successful-language-learning">"składniki skutecznej nauki języków"</a>, możesz nauczyć się dowolnego języka dochodząc do wysokiego poziomu.</p>
<h2>Opowiedz mi swoją historię w nauce języków!</h2>
<p>Dobrze! Teraz kiedy już mnie znasz - chciałbym dowiedzieć się trochę o Tobie!</p>
<p>Byłbym bardzo wdzięczny gdybyś przedstawił/a się w komentarzach poniżej i opowiedział/a mi swoją historię w nauce języków.</p>
<p><strong>Jaka jest Twoja historia w nauce języków? Jakiego języka teraz się uczysz? Jak będzie wyglądało Twoje życie kiedy się go nauczysz?  Nie musisz pisać powieści o sobie -  chciałbym tylko trochę Cię poznać. :-)  Proszę napisz komentarz poniżej!</strong></p>
</div>

<div id="comments">
<a id="comment-1477"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/866eee6d18fde213a58eda8e64588f41?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>ja uczę się 2 języków. języka polskiego gdyż nawet jako polak sam nie wiem wszystkiego o swoim ojczystym języku oraz uczę się angielskiego abym mógł na poziomie komunikatywnym rozmawiać z anglikiem/amerykaninem lub obcokrajowcem mówiącym po angielsku :P</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1477">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Zed16 (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1477">wtorek, marzec 20, 2012 - 11:35</a></span>
</div>
</div>
<div class="indented"><a id="comment-1491"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć!  Dziękuję za komentarz. :-)  Z tego, co pamiętam byłeś na TeamSpeak w sobotę, tak?  Nie wiem na jakim poziomie obecnie jesteś ale zapraszam do uczestnictwa w rozmowie następnym razem! :-) Pozdrawiam serdecznie, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1491">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1491">środa, marzec 21, 2012 - 07:33</a></span>
</div>
</div>
<div class="indented"><a id="comment-1845"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/ba9aec598126facc29235b8a6deaa970?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Witaj David, z tej strony Damian. Jestem po studiach technicznych. Od czasu do czasu uczę się samodzielnie niemieckiego - niestety, bez większych sukcesów (trudno znaleźć czas i spokój, kiedy człowiek pracuje i ma jeszcze inne obowiązki). Kilka lat nauki tego języka -w szkole, nie przyniosło znaczących rezultatów. Może dlatego że była to nauka obowiązkowego robienia zadań gramatycznych i robienia wszystkiego wg. zasad gramatycznych. Efektem czego były dobre oceny, ale marne umiejętności. Zobaczymy jak będzie teraz...</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1845">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1845">poniedziałek, maj 7, 2012 - 11:29</a></span>
</div>
</div>
<div class="indented"><a id="comment-1880"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Damian!</p>
<p>Zawsze jest trudno znaleźć czas.  Jest rozdział o tym w moim ebooku - i opublikowałem go również na moim blogu:</p>
<p><a href="http://www.linguatrek.com/blog/2012/04/ustalenie-dziennego-planu-nauki-j%C4%99zyka-fragment-e-booka" title="http://www.linguatrek.com/blog/2012/04/ustalenie-dziennego-planu-nauki-j%C4%99zyka-fragment-e-booka">http://www.linguatrek.com/blog/2012/04/ustalenie-dziennego-planu-nauki-j...</a></p>
<p>No, to bardzo często spotykana historia: dobre ceny ale nie zbyt dobre umiejętności. :-/ Życzę Ci sukcesów teraz w nauce niemieckiego!</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1880">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1880">sobota, maj 12, 2012 - 12:43</a></span>
</div>
</div>
</div><a id="comment-2952"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/85503ac9528328d1a31fe914083b45ed?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Witaj. Mam 48 lat i chcialabym nauczyć sie jezyka angielskiego tak aby bez stresu komunikowac sie. Ja mam od kilku miesiecy  amerykanskiego przyjaciela ktory mnie odwiedza w Polsce i ja odwiedzam USA i rozmawiam z nim ale to jest slaby poziom komunikacji o korzystam z translatora. Chcialabym mowić ale nei znam czasow i uzywam bezokolicznikow. Komunikuje sie tylko na podstawie slow ktore znam komoletnie nie uzywam czasow. Nie  umiem budowac zdan. Chcialabym nauczyć sie jezyka amerykanskiego zeby w sposb prosty komunikowac sie kiedy jestem w USa. Mam wrazenie, ze nie jestem utalentowana do jezykow. Prosze o wskazówki jak tego dokonać?<br/>
Pozdrawiam serdecznie<br/>
Bozena z Warszawy ( lat 48)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2952">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Rudzin (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2952">sobota, wrzesień 1, 2012 - 16:46</a></span>
</div>
</div>
<div class="indented"><a id="comment-2959"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Bożena!</p>
<p>Dziękuję za komentarz. :-) To fajnie, że tak zależy Ci na komunikację z Twoim amerykańskim przyjacielem. Wydaje mi się, że masz dość dużą motywację do nauki angielskiego i to jest bardzo dobry początek!</p>
<p>Czy już czytałaś mój darmowy ebook? W nim jest dużo porad do nauki języków obcych. Jeśli zasubskrybujesz mój blog, dostaniesz ebook:</p>
<p><a href="http://www.linguatrek.com/subscribe" title="http://www.linguatrek.com/subscribe">http://www.linguatrek.com/subscribe</a></p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/2959">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-2959">niedziela, wrzesień 2, 2012 - 15:38</a></span>
</div>
</div>
</div></div><a id="comment-1515"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/ff5ecf4dd46c898b6d16981e79d09840?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Cześć, David!<br/>
Jeszcze robisz trochę błędów przy wymówieniu niektórych słów, ale w ogóle wszystko SUPER! Szacunek!!!<br/>
Myślę, że nie mam talentu do nauczenia języków obcych, lecz znam pięć języków - ukraiński przede wszystkim, rosyjski, angielski, łaciński, polski. Ostatniego nauczyłem za 6 miesięcy. Ale angielskiego znam nie zbyt dobrze, mogę czytać i mówić na temat zawodowy.     </p>
<p>Pozdrawiam!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1515">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Lehamale (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1515">czwartek, marzec 22, 2012 - 16:27</a></span>
</div>
</div>
<div class="indented"><a id="comment-1568"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Aleksy!</p>
<p>Dziękuję za miłe słowa. :-) Tak, najprawdopodobniej będę robił trochę błędów do końca mojego życia. ;-) Ale wiem, że będzie ich coraz mniej.</p>
<p>Dziękuję za podzielenie się Twoim doświadczeniem! To fajnie słyszeć od innych, którzy nie mają talentu do języka ale którzy mieli sukces z nauką ich.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1568">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1568">czwartek, marzec 29, 2012 - 08:50</a></span>
</div>
</div>
</div><a id="comment-4168"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/2ec16e4d370511a895f74fec9e11e172?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Witaj   Davidzie  !<br/>
Powinnam   się  przedstawić .  Zrobię  to , obiecuję .  Przepraszam  ,za  tak  długą   zwłokę .  Filmik  jest  bardo  motywujący  do  pracy  ,  daje  nadzieję ze  może   w  końcu  spełni  się   moje  marzenie  o  MÓWIENIU  w  języku  angielskim  .<br/>
Pozdrawiam  .<br/>
Agnieszka</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/4168">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Agnieszka Rybka (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-4168">czwartek, luty 28, 2013 - 03:42</a></span>
</div>
</div>
<div class="indented"><a id="comment-4170"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Agnieszka!</p>
<p>Dzięki. :-) Jeśli nie poddasz się, spełni się Twoje marzenie o mówieniu na pewno! Mam nadzieję, że mój ebook i blog będą Ci pomocne w tym.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/4170">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-4170">czwartek, luty 28, 2013 - 10:08</a></span>
</div>
</div>
<div class="indented"><a id="comment-4185"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/2ec16e4d370511a895f74fec9e11e172?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Witam  !<br/>
Nie  poddaję się . Muszę  dziś zainstalować  Anki  .  Mam  nadzieję  ,że  jakoś dam  radę .<br/>
Obiecałam  ,że   się  przedstawię i  opowiem swoją  historię   . Mam  na imię  Agnieszka    Właśnie  nie  dawno  skończyłam   42  lata .  Jestem  inżynierem .  Wiesz   , w  Polsce   spotkałam  się  z  żartami  ,ze  Ci   "techniczni  "to  trochę   tacy  mniej  lotni  .. to  żarty  .  Nie   mniej  jednak  ,może  dlatego  ten  mój  angielski  taki  marny  . Uczyłam  się angielskiego sześć      lat  w szkole ( nawet  zdałam  maturę  z  języka angielskiego i  egzamin  wstępny  na  studia  ), ale  to zawsze  była  gramatyka  . Później  już  było   gorzej  . Na  studiach  lektorat  z  angielskiego   był  ,ale  tak  właściwie  jakby  go  nie  było ,  no  i  te  studia  techniczne ...zawsze  było  coś  do  zaliczania . Później  praca  ,  mąż ,  dzieci  ,  nawet  po  drodze kurs  językowy . No i  tak  to  wygląda .<br/>
Pozdrawiam.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/4185">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Agnieszka Rybka (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-4185">piątek, marzec 1, 2013 - 07:55</a></span>
</div>
</div>
<div class="indented"><a id="comment-4188"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Agnieszka!</p>
<p>Dzięki za podzielenie się Twoją historią tutaj. :-)</p>
<p>Mam nadzieję, że instalacja Anki pójdzie pomyślnie - ten program jest dość łatwy do użycia.</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/4188">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-4188">piątek, marzec 1, 2013 - 09:30</a></span>
</div>
</div>
</div></div></div></div><a id="comment-1478"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/af917b4e008b4526865ccd068a8df3b0?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Ja uczę się angielskiego od 2 klasy szkoły podstawowej, teraz jestem w klasie maturalnej, więc będzie przeszło 11 lat, czyli bardzo długo. Ogólnie rzecz biorąc nie narzekam na swój poziom j. angielskiego - zarówno gramatykę, jak i słownictwo mam dość dobrze opanowane. Całkiem nieźle radzę sobie też w tzw. rozmowach sterowanych - to jedno z zadań, jakie mnie czeka na ustnym egzaminie maturalnym. Jednak taka rozmowa jest zwyczajnie naciągana, prowadzona na siłę, pod ściśle określonymi kryteriami - jest po prostu nienaturalna. Niestety takie rozmowy to w tej chwili mój jedyny sposób na ćwiczenie mówienia. I właśnie z tym mam największy problem. Z racji, że nigdy jeszcze nie miałem okazji wyjechać za granicę, moja płynność mówienia i swoboda wypowiadania się są raczej mizerne. Bardzo bym chciał po maturze gdzieś wyjechać, może do Anglii na jakieś dłuższe wakacje. Wtedy mógłbym się przyzwyczaić, oswoić z mówieniem po angielsku, bo tego mi tylko brakuje. Jeśli chodzi o inne języki, to od 3 lat uczę się jeszcze niemieckiego (też w szkole), ale szczerze mówiąc nie zależy mi na nim, bo nigdy tak naprawdę nie chciałem się go uczyć - języka byłego zaborcy. Jeśli mógłbym sobie wybrać inny język, to na pewno byłby to włoski lub francuski. Oba te języki bardzo mi się podobają i chętnie bym się ich kiedyś poduczył. :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1478">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Grzegorz (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1478">wtorek, marzec 20, 2012 - 15:08</a></span>
</div>
</div>
<div class="indented"><a id="comment-1493"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Grzegorz!</p>
<p>Dzięki za komentarz. :-) Tak, po pewnym stopniu kiedy już masz duże słownictwo i dobrze rozumiesz ze słuchu - tylko pozostaje ćwiczenie w mówieniu.</p>
<p>Jest kilka możliwości do takiego ćwiczenia w internecie!  Napisałem artykuł o wymianie językowej:</p>
<p><a href="http://www.linguatrek.com/blog/2011/11/how-to-practice-speaking-over-the-internet" title="http://www.linguatrek.com/blog/2011/11/how-to-practice-speaking-over-the-internet">http://www.linguatrek.com/blog/2011/11/how-to-practice-speaking-over-the...</a></p>
<p>I na Bibliobirdzie spotykamy tygodniowo na rozmowę po angielsku na TeamSpeak.  Jest więcej informacji tutaj:</p>
<p><a href="http://pl.bibliobird.com/wiki/Harmonogram_spotka%25C5%2584_po_angielsku" title="http://pl.bibliobird.com/wiki/Harmonogram_spotka%25C5%2584_po_angielsku">http://pl.bibliobird.com/wiki/Harmonogram_spotka%25C5%2584_po_angielsku</a></p>
<p>Mam nadzieję, że to pomoże!</p>
<p>I życzę powodzenia na egzaminie maturalnym!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1493">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1493">środa, marzec 21, 2012 - 07:44</a></span>
</div>
</div>
</div><a id="comment-1479"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/6a1a7edb1652a63ae7c8ab1699f9c74b?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Uczę się na studiach 3 języków (kierunek: stosunki międzynarodowe). Są to język angielski, niemiecki i rosyjski. Najbardziej lubię zajęcia z angielskiego, lecz pisać lubię po rosyjsku, z niemieckiego niestety nic nie lubię... Kupiłam już HP po angielsku I tom i zobaczymy jak mi pójdzie. Może wkrótce też będę mówić i pisać po angielsku tak jak Ty po polsku :) Pozdrawiam.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1479">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Paulina (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1479">wtorek, marzec 20, 2012 - 16:54</a></span>
</div>
</div>
<div class="indented"><a id="comment-1490"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Paulina!</p>
<p>Dziękuję za komentarz. :-) Wow, uczysz się trzech języków na raz! Jestem pod wrażeniem. Też bardzo lubię pisać po rosyjsku ale teraz to chyba wszystko co umiem w tym języku. ;-)</p>
<p>Daj mi znać jak Ci idzie z Harrym Potterem kiedy zaczniesz!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1490">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1490">środa, marzec 21, 2012 - 07:31</a></span>
</div>
</div>
</div><a id="comment-1480"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/93c76ddb4e91163ba0dbc2cef8b4c699?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Język angielski jako przedmiot mam od zerówki (aktualnie jestem w 2 klasie technikum), ale nigdy w życiu nie nazwałbym tego nauką. Tak naprawdę uczę się rok może dwa z takim czy innym skutkiem. Ostatnio jednak stwierdziłem, że trzeba wreszcie zacząć poważnie do tego podchodzić. Znalazłem Vlog, obejrzałem wiele filmików na YouTubie i od razu z wielką chęcią zacząłem korzystać z BibloBirda (Anki i Lang-8 również), który jest zresztą, według mnie, genialny! Krótko mówiąc bardzo mnie Pan zmotywował pokazując, że dla chcącego nic trudnego, za co bardzo dziękuję :) Mam nadzieję, że kiedyś będę znał ten język na tyle dobrze, żeby móc nim operować na studiach- takie moje małe marzenie.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1480">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Bartek (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1480">wtorek, marzec 20, 2012 - 17:02</a></span>
</div>
</div>
<div class="indented"><a id="comment-1489"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Dzięki za komentarz!  Bardzo się cieszę, że mogłem jakoś pomóc i, że Bibliobird podoba Ci się. :-)  Jeśli masz tyle zapału do nauki jak wydaje mi się, że masz z tego komentarzu - na pewno osiągniesz Twoje marzenie! ;-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1489">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1489">środa, marzec 21, 2012 - 07:28</a></span>
</div>
</div>
</div><a id="comment-1481"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/fe544dea866df0eff0a330464de9519f?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Wiem doskonale o czym piszesz. Uczę się niemieckiego już 10 lat (wow, nie zdawałem sobie sprawy, że to już tyle!) i jedyne co umiem to wskazać/zapytać o drogę, może coś kupić w sklepie, parę prostych, podstawowych pytań i właściwie to wszystko. Aha, znam odmianę der, die, das przez przypadki, skomplikowane konstrukcje gramatyczne itd., które przydają się tylko na sprawdzianach, więc jeśli miałbym rozmawiać z Niemcem to próbowałbym rozmawiać po angielsku. </p>
<p>Jak już wspomniałem angielski, to jest z nim u mnie dużo lepiej, na pewno Twój blog zmotywował mnie do nauki i udowodnił że języka można się nauczyć bez szkoły, nudnych podręczników i drogich kursów. Za to muszę Ci podziękować, pomimo że jestem na siebie zły że nie dążę do celu chociaż w połowie tak konsekwentnie jak Ty. Ale i tak czuję że powoli podążam do celu i w końcu uda mi się opanować angielski w zadowalającym mnie stopniu :)</p>
<p>Pozdrawiam i życzę dalszych sukcesów!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1481">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Joybubbles (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1481">wtorek, marzec 20, 2012 - 18:02</a></span>
</div>
</div>
<div class="indented"><a id="comment-1488"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Dzięki za komentarz i podzielenie się Twoją historią z j. niemieckim!</p>
<p>Podczas nauki zawsze wydaje nam się, że idzie zbyt powoli.  Zwykle to tylko później, że zdamy sobie sprawę, że nasz poziom podniósł znacznie. :-)  Więc nie bądź tak zły na siebie!  Jeśli nie poddasz się, w końcu osiągniesz Twój cel.  I to wszystko, co się liczy. :-)</p>
<p>Życzę Ci wytrwałości w nauce!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1488">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1488">środa, marzec 21, 2012 - 07:16</a></span>
</div>
</div>
</div><a id="comment-1496"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/9cc582b8561315c080c20030903824ef?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Ja uczyłem sie 2 języków: niemieckiego i angielskiego.<br/>
Angielski zawsze mi sie podobał i nie mialem większych problemów z nim. Natomiast niemieckiego uczyłem sie bo musiałem, nigdy nie lubiłem tego języka i do teraz umiem sie tylko przedstawić, liczyć i to chyba w zasadzie tyle, choć UWAGA łącznie uczyłem sie niemieckiego 10 lat (3-gimnazjum, 4-technikum, 3-studia).</p>
<p>Z angielskiego tez nie bylem jakis pro, ale postanowiłem wlasnie studiować ten język.<br/>
Bylem na specjalności nauczycielskiej w Foreign Language Teacher Training College.<br/>
Rok temu skonczylem 3-letnią naukę i uzyskałem tytuł licencjata.<br/>
Kurde, jednak mam takie wrażenie, ze nie znam tego języka na takim poziomie na jakim bym chcial.<br/>
Najgorzej wspominam Listening Comprehension Classes.<br/>
Strasznie mnie denerwowało ze nie moglem zrozumieć o czym mówią w nagraniu, chociaż po przeczytaniu skryptu okazywało sie ze znam 90% słówek. Chyba po prostu zacząłem sie uczyc angielskiego za późno (Critical Period Hypothesis?).</p>
<p>Na dodatek teraz prawie od roku juz nie uzywalem angielskiego i zaczynam powoli zapominać.<br/>
Filmy, muzyka jednak nie zastąpią rozmowy, niestety:(</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1496">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wiesiek (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1496">środa, marzec 21, 2012 - 12:50</a></span>
</div>
</div>
<div class="indented"><a id="comment-1497"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Wiesiek!</p>
<p>Dziękuję bardzo za komentarz i podzielenie się Twoim doświadczeniem. :-)</p>
<p>Gratulacje z okazji uzyskania tytułu licencjata!</p>
<p><a href="http://en.wikipedia.org/wiki/Critical_period_hypothesis">Critical period hypothesis</a> chodzi przeważnie o naukę ojczystego języka. Jeśli nie uczyłeś się żadnego języka przed jakimś wiekiem, nigdy nie nauczysz języka w pełni.  Są takie przykre przykłady jak <a href="http://en.wikipedia.org/wiki/Genie_(feral_child)">Genie</a> i <a href="http://en.wikipedia.org/wiki/Victor_of_Aveyron">Victor of Aveyron</a>.</p>
<p>Niektórzy mówią, że to też dotyczy nauki języków obcych ale osobiście myślę, że to bzdura.  Jest wiele przykładów ludzi, którzy uczyli się języków jak już mieli dość dużo lat (np. <a href="http://thelinguist.blogs.com/">Steve Kaufmann</a>, który nauczył się rosyjskiego do wysokiego poziomu po sześćdziesiątce).</p>
<p>Sam zacząłem uczyć się j. polskiego kiedy miałem 23 lat - wiem, że to nie jest zbyt stary - odwrotnie, to bardzo młody! - ale to pewno jest po "okresie krytycznym". :-)</p>
<p>Myślę, że po prostu musisz więcej słuchać!  Niedawno temu napisałem parę artykułów o słuchaniu:</p>
<p><a href="http://www.linguatrek.com/blog/2012/01/the-importance-of-listening" title="http://www.linguatrek.com/blog/2012/01/the-importance-of-listening">http://www.linguatrek.com/blog/2012/01/the-importance-of-listening</a></p>
<p><a href="http://www.linguatrek.com/blog/2012/01/how-to-listen-effectively" title="http://www.linguatrek.com/blog/2012/01/how-to-listen-effectively">http://www.linguatrek.com/blog/2012/01/how-to-listen-effectively</a></p>
<p>I jeśli potrzebujesz rozmowy, zapraszam na nasze rozmowy po angielsku w internecie:</p>
<p><a href="http://pl.bibliobird.com/wiki/Harmonogram_spotka%25C5%2584_po_angielsku" title="http://pl.bibliobird.com/wiki/Harmonogram_spotka%25C5%2584_po_angielsku">http://pl.bibliobird.com/wiki/Harmonogram_spotka%25C5%2584_po_angielsku</a></p>
<p>Mam nadzieję, że to pomoże!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1497">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1497">środa, marzec 21, 2012 - 14:17</a></span>
</div>
</div>
</div><a id="comment-1501"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/5609ea83edf92f4bad9b21ad056f8514?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Hello David!!! Have you heard about prof. Leon Leszek Szkutnik??? He has written many book of English before....1989 and after 1989. He has written in Polish and English. I like one of his book ..Mowimy po angielsku''( We speak English). If, you never heard of him I can make scan of this book ( two pages or three) and I can send to you an e-mail via your Website. </p>
<p>p.s It is amazing that books in the U.K for english students, who want to speak Spanich for example are written in two languages.</p>
<p>Kings regards</p>
<p>Peter</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1501">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Peter from High Wycombe (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1501">czwartek, marzec 22, 2012 - 05:14</a></span>
</div>
</div>
<div class="indented"><a id="comment-1569"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Peter!</p>
<p>I haven't heard of him. I'd love a scan of a few pages of his book if you are willing! :-)  Yeah, bilingual readers are great.  There are even a few for people learning Polish! ;-)  Unfortunately, not as many as for people learning English or Spanish, etc.</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1569">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1569">czwartek, marzec 29, 2012 - 08:52</a></span>
</div>
</div>
<div class="indented"><a id="comment-1586"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/5609ea83edf92f4bad9b21ad056f8514?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Hello David!!! I will scan a few pages of this book and send to you with Mp-3 to this book.</p>
<p>Best regards</p>
<p>Radek from High Wycombe</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1586">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Radek from High Wycombe (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1586">czwartek, marzec 29, 2012 - 10:38</a></span>
</div>
</div>
</div></div><a id="comment-1502"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/5609ea83edf92f4bad9b21ad056f8514?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>P.S<br/>
<a href="http://archiwum.wiz.pl/1997/97113700.asp" title="http://archiwum.wiz.pl/1997/97113700.asp">http://archiwum.wiz.pl/1997/97113700.asp</a></p>
<p>Please, read this article of Leszek Szkutnik,link is the above in...Polish ;-) ;-) ( not available in English)</p>
<p>take care</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1502">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Peter from High Wycombe (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1502">czwartek, marzec 22, 2012 - 05:30</a></span>
</div>
</div>
<div class="indented"><a id="comment-1570"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Thanks for the link!  I'll read it when I have a chance. :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1570">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1570">czwartek, marzec 29, 2012 - 08:52</a></span>
</div>
</div>
</div><a id="comment-1504"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/2df0cf400240e1c185f0a7cc3dbd7324?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Cześć,<br/>
Mam na imię Adam. Uczę się języka angielskiego już parę ładnych lat. Czytam artykuły i książki w języku angielskim oraz oglądam filmy w tym języku. Widząc lub słysząc słowo od razu wiem lub domyślam się z kontekstu jego znaczenia. Radzę sobie z pisaniem prostych zdań w każdym z podstawowych czasów i robię przy tym niewiele błędów. Niestety mam wielki problem z mówieniem, z trudem formułuję mówione zdania oraz nie pamiętam słów w czasie mówienia. Gdy muszę coś powiedzieć w tym języku bardzo się denerwuję, mówiąc kolokwialnie zapominam języka w gębie. Nie wiem co mam zrobić, jak przełamać tą barierę, jak zacząć mówić w miarę płynnie po angielsku. Jeżeli zacznę mówić po angielsku, to z pewnością nabiorę więcej pewności siebie w czasie kontaktów z obcokrajowcami.</p>
<p>Pozdrawiam,<br/>
Adam</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1504">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Adam (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1504">czwartek, marzec 22, 2012 - 08:29</a></span>
</div>
</div>
<div class="indented"><a id="comment-1571"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Adam!</p>
<p>Gratuluję Twojego sukcesu z j. angielskim! :-) Taki strach przed mówieniem może przeszkodzić cały Twój bieg myślenia więc nie wątpię, że masz problemy z pamiętaniem słów. To jest bardzo często spotykany problem! Sam musiałem walczyć z tym i nadal mam problemy w niektórych sytuacjach (np. przez telefon).</p>
<p>Napisałem krótki artykuł o tym (po angielsku):</p>
<p><a href="http://www.linguatrek.com/blog/2011/05/how-to-overcome-your-fear-of-speaking" title="http://www.linguatrek.com/blog/2011/05/how-to-overcome-your-fear-of-speaking">http://www.linguatrek.com/blog/2011/05/how-to-overcome-your-fear-of-spea...</a></p>
<p>Ale dlatego, że to jest tak ważny temat, myślę o pisaniu ebooku o tym. Jest więcej informacji w tym filmiku:</p>
<p><a href="http://www.linguatrek.com/blog/2012/03/vlog-nasze-wielkie-og%C5%82oszenie-i-potrzebujemy-waszej-pomocy" title="http://www.linguatrek.com/blog/2012/03/vlog-nasze-wielkie-og%C5%82oszenie-i-potrzebujemy-waszej-pomocy">http://www.linguatrek.com/blog/2012/03/vlog-nasze-wielkie-og%C5%82oszeni...</a></p>
<p>Mam nadzieję, że to pomoże!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1571">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1571">czwartek, marzec 29, 2012 - 09:00</a></span>
</div>
</div>
<div class="indented"><a id="comment-1592"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/2df0cf400240e1c185f0a7cc3dbd7324?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Dziękuję za odpowiedź :) Chętnie przeczytałbym e-booka na ten temat, ponieważ jest to w tej chwili mój wielki problem.</p>
<p>Jeszcze raz dziękuję i pozdrawiam!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1592">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Adam (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1592">czwartek, marzec 29, 2012 - 13:55</a></span>
</div>
</div>
</div></div><a id="comment-1505"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/c1324fa1bb671845828173723d7a005d?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Ja się uczę j.angielskiego i j.niemieckiego który jest mi narzucony przez Gimnazjum . J.angielskiego uczę się 6 lat podstawówki i 1,5 roku w gimnazjum czyli łącznie 7,5 lat ale biorąc pod uwagę to że w podstawówce się praktycznie nic nie nauczyłem to uczę się prawie 2 lata.<br/>
J.niemieckiego uczę się też prawie 2 lata ale nie chce się go uczyć więc się nawet nim zbytnio nie interesuje mimo że mam wujka w Niemczech, "uczę" się tego języka bo mogłem wybrać albo Niemiecki albo Rosyjski jako dodatkowy przedmiot. W Ruskim wystraszył mnie alfabet.<br/>
Co do angielskiego to moim problemem jest gramatyka i nie ma co się nad tym rozpisywać po prostu jest problemem i już. Jeśli chodzi o słownictwo to nie ma u mnie problemu.<br/>
Co do tego co bym chciał osiągnąć z tym językiem to jak "ogarnę" tą gramatykę chciałbym iść do liceum anglojęzycznego a potem wylecieć do Anglii lub do Stanów Zjednoczonych .</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1505">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Paweł (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1505">czwartek, marzec 22, 2012 - 08:32</a></span>
</div>
</div>
<div class="indented"><a id="comment-1572"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Paweł!</p>
<p>Dziękuję bardzo za podzielenie się Twoją historią. :-)</p>
<p>Wiem, że bardzo chcesz ogarnąć gramatykę - ale powiem (tylko krótko!), że to nie jest tak ważne.  Możesz władać tą gramatyką nawet nie rozumiejąc tej gramatyki świadomie.  Tylko trzeba znać gramatykę świadomie, żeby zdać egzaminy w szkole. ;-)</p>
<p>Napisałem wiele artykułów o tym na moim blogu (niestety po angielsku):</p>
<p><a href="http://www.linguatrek.com/blog/2011/03/language-learning-is-more-like-karate-than-math" title="http://www.linguatrek.com/blog/2011/03/language-learning-is-more-like-karate-than-math">http://www.linguatrek.com/blog/2011/03/language-learning-is-more-like-ka...</a></p>
<p><a href="http://www.linguatrek.com/blog/2010/11/dont-start-learning-polish-grammar#mental_math" title="http://www.linguatrek.com/blog/2010/11/dont-start-learning-polish-grammar#mental_math">http://www.linguatrek.com/blog/2010/11/dont-start-learning-polish-gramma...</a></p>
<p>Więc polecam, że nie martwisz się zbyt dużo o gramatykę i, że skupiasz się na używaniu języka w jakiś sposób. To może być rozmowa, czytanie książek, słuachanie piosenek, itd. Również napisałem artykuł o tym:</p>
<p><a href="http://www.linguatrek.com/blog/2011/03/the-three-ingredients-for-successful-language-learning" title="http://www.linguatrek.com/blog/2011/03/the-three-ingredients-for-successful-language-learning">http://www.linguatrek.com/blog/2011/03/the-three-ingredients-for-success...</a></p>
<p>I nagrałem filmik:</p>
<p><a href="http://www.linguatrek.com/blog/2011/03/vlog-jak-wygl%C4%85da-efektywna-metoda-nauki-j%C4%99zyka-obcego" title="http://www.linguatrek.com/blog/2011/03/vlog-jak-wygl%C4%85da-efektywna-metoda-nauki-j%C4%99zyka-obcego">http://www.linguatrek.com/blog/2011/03/vlog-jak-wygl%C4%85da-efektywna-m...</a></p>
<p>Stany zapraszają! :-) Mam nadzieję, że kiedyś będziesz miał szansę zwiedzić nasz piękny kraj!</p>
<p>Mam nadzieję, że to wszystko jakoś pomoże. ;-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1572">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1572">czwartek, marzec 29, 2012 - 09:09</a></span>
</div>
</div>
</div><a id="comment-1506"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/f9eb43d7a39f1fcb98d45a0710008678?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Witam, bardzo dziękuję za twoje rady David!<br/>
Chciałbym znać angielski naprawdę dobrze, jako, iż aktualnie jestem w szkole w Wielkiej Brytanii. Chcę dobrze zdać egzaminy GCSE z takich przedmiotów jak Angielski, Nauka, Psychologia, Biznes, Media i to jest moja motywacja (również taka, iż w szkole nie ma nikogo z Polski, a jakoś muszę rozmawiać ze znajomymi). Później iść na Sixth Form, znać A-Levels i wyjechać na Uniwersytet w Nowym Jorku.<br/>
Dzisiaj kupuję 1. tom Harrego Pottera po angielsku (książkę i audiobooka)... zobaczymy jak wyjdzie :). Mam ambicje, co jest raczej bardzo ważne przy nauce języków.<br/>
Pozdrawiam!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1506">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Chuck (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1506">czwartek, marzec 22, 2012 - 09:03</a></span>
</div>
</div>
<div class="indented"><a id="comment-1573"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Chuck!</p>
<p>Dziękuję bardzo za podzielenie się Twoją historią. :-) To fajnie, że masz szansę być w angielskojęzycznym kraju w szkole, gdzie nie ma nikogo z Twojej ojczyzny!</p>
<p>Kiedy my byliśmy w Polsce byłoby bardzo łatwo tylko mówić po angielsku bo tak dużo obcokrajowcy mieszka na stały w Krakowie. Rzeczywiście wielu z nich wcale nie mówi po polsku. ;-)</p>
<p>Proszę mi powiedz jak Ci idzie z Harrym Potterem kiedy zaczniesz!</p>
<p>Życzę dalszych sukcesów w nauce!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1573">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1573">czwartek, marzec 29, 2012 - 09:14</a></span>
</div>
</div>
</div><a id="comment-1507"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Gdybym nie wiedział, że jesteś Amerykaninem, pomyślałbym po lekturze tego wpisu, że jesteś Polakiem.</p>
<p>Muszę powiedzieć: Twój pisany polski jest zajebisty! (nie wiem czy shit-hot jest dobrym odpowiednikiem :D)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1507">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1507">czwartek, marzec 22, 2012 - 11:34</a></span>
</div>
</div>
<div class="indented"><a id="comment-1574"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hehe, dzięki. :-) Rzeczywiście piszę lepiej niż mówię. Ale ktoś też pomógł mi poprawić ten artykuł przed tym jak opublikowałem go. Więc to nie do końca moja umiejętność. ;-)</p>
<p>(Nie wiem, czy istnieje odpowiednik do zajebisty ale "shit-hot" jest naprawdę fajny przymiotnik! :-))</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1574">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1574">czwartek, marzec 29, 2012 - 09:16</a></span>
</div>
</div>
</div><a id="comment-1516"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://gamestube.pl" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/9bc813589375f72fef65ce23b87fdc81?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Hej David!<br/>
Ja uczyłem się podobnie jak Ty kilka dobrych, ale nie hiszpańskiego, lecz niemieckiego i tak samo umiałem tylko testy. Praktycznie do 14 roku życia nie byłem świadom, że tak na prawdę przez osłuchanie się z angielskim czy to w muzyce czy w filmach oraz też częściowe oczytanie tak na prawdę znam go 100x lepiej niż niemiecki. W wieku 14 lat wyjechałem na 15 dni do Anglii i miałem okazję uczestniczyć w swego rodzaju "home-made" kursie prowadzonym przez Polaka, który mieszkał tam już kilka lat. Poznałem zasady gramatyki (i jak się okazało niektóre podświadomie znałem), jakieś słownictwo... Jednakże nie mówiłem tam dużo z native speakerami, praktycznie w ogóle. Po powrocie do Polski zapisałem się na kurs angielskiego i od tego czasu (potem ucząc się także w szkole angielskiego, ale to akurat nic nie daje) nie mam żadnych problemów z gramatyką i rozumieniem większości tekstów pisanych i mówionych. Jednakże żeby nie było tak pięknie moim brakiem jest nieznajomość spooorej ilości słownictwa co bardzo utrudnia rozumienie języka. Jeśli chodzi o słowa związane z branżą IT to z nimi nie ma problemu, bo w tym siedzę i czy to czytam jakiś artykuł czy oglądam film na YouTube to nie mam problemów. Gorzej jest ze spontaniczną rozmową czy oglądaniem filmów. I tutaj właśnie mam do Ciebie David pytanie - jak najlepiej Twoim zdaniem nauczyć się słówek? Staram się oglądać filmy z angielskimi napisami, tłumaczę na bieżąco słowa, ale niestety nie jestem w stanie ich tak od razu spamiętać. Jaki byłby Twój sposób?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1516">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://gamestube.pl" rel="nofollow">Mateusz</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1516">czwartek, marzec 22, 2012 - 17:26</a></span>
</div>
</div>
<div class="indented"><a id="comment-1518"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Zainteresuj się Anki i poczytaj o SRS (Spaced Repetition System). To naturalne, że słowa Ci ulatują jeżeli ich nie powtarzasz, bo tak działa nasz mózg.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1518">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1518">piątek, marzec 23, 2012 - 02:14</a></span>
</div>
</div>
<a id="comment-1575"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Mateusz!</p>
<p>Dziękuję bardzo za podzielenie się Twoją historią. :-)</p>
<p>Gratuluję Twoich sukcesów z j. angielskim! Powtórzę to, co napisał Wojtek, bo sam uczę się słownictwa z pomocą programu komputerowego Anki.  Podobne programy z systemami Spaced Repetition działałyby tak samo, np. SuperMemo.</p>
<p>Napisałem artykuł o tym na moim blogu (niestety po angielsku):</p>
<p><a href="http://www.linguatrek.com/blog/2011/01/what-is-spaced-repetition" title="http://www.linguatrek.com/blog/2011/01/what-is-spaced-repetition">http://www.linguatrek.com/blog/2011/01/what-is-spaced-repetition</a></p>
<p>Mam nadzieję, że to pomoże!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1575">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1575">czwartek, marzec 29, 2012 - 09:25</a></span>
</div>
</div>
</div><a id="comment-1517"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/b8add37db7c1536ebb7cbe424ac65428?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>David - superka - kolejny super artykul. Od czasu do czas wpadam na youtube i ogladam Twoje filmiki ktore dodaja sily i mocy podczas nauki angielskiego :) Ja mieszkam w US od 5 lat - mowie po angielsku ale jest to angielski daleki od doskonalosci. Pracuje w IT wiec swobodnie porozumiewam sie jezeli chodzi o terminologie komputerowa ale moja pieta achilesowa to swobodna rozmowa towarzyska. To jest problem ...  problem z wyrazeniem wszystkich swoich mysli ;( ... takze moj cel jezykowy to osisgnac taki poziom aby .... jak to pisal nasz wieszcz narodowy .... "Chcialbym aby jezyk gietki mogl wypowiedzic wszytko to co pomysli glowa " ..... Pozdro Wes</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1517">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wes (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1517">czwartek, marzec 22, 2012 - 23:47</a></span>
</div>
</div>
<div class="indented"><a id="comment-1576"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Wes!</p>
<p>Dzięki za miłe słowa i podzielenie się Twoją historią. :-) Na pewno kiedyś będziesz mógł swobodnie rozmawiać po angielsku, tylko nie poddawaj się i ciągle próbuj inne rzeczy/podejście do tego!</p>
<p>Czy mógłbym spytać jaki jest Twój problem w takich rozmowach? Czy brakujesz Ci słownictwa?  Czy denerwujesz w tej sytuacji i nie możesz znaleźć odpowiednich słów?</p>
<p>Proszę podaj konkretny problem i może będę w stanie pomóc!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1576">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1576">czwartek, marzec 29, 2012 - 09:29</a></span>
</div>
</div>
</div><a id="comment-1519"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/62009b7bb37089a550288fda5b977db4?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>hello David! :)<br/>
Jesteś inspiracją dla wielu ludzi m.in. dla mnie do nauki języków obcych.<br/>
Uczyłam się łącznie 6 lat jęz. angielskiego, w tym nacisk na gramatykę wynosił 90%. Co z tego że zaliczałam sprawdziany na 4 (u nas skala ocen to 1-5) a tak naprawdę jęz. angielskiego umiałam niewiele. Po kilku latach umiałam tylko się przedstawić, powiedzieć skąd jestem i coś o sobie, naprawdę niewiele. Angielski poszedł na bok. Teraz po latach widzę, że ten język jest niezbędny i chcę się jego uczyć, ale właśnie nie chcę wbijać sobie do głowy gramatyki, tylko nauczyć się w miarę płynnie rozmawiać. Od ponad roku oglądam filmy po angielsku, słucham wiadomości CNN, słucham także muzyki tłumacząc teksty piosenek i śmiało mogę powiedzieć, że po roku mój angielski w mowie jest lepszy niż po 6 latach w szkole.</p>
<p>Moim zdaniem mówisz bardzo dobrze po polsku! Super, że prowadzisz swój blog oraz udzielasz się na youtube, dzięki tobie wiele ludzi zmieni podejście do języka obcego i jego nauki.<br/>
Pozdrawiam serdecznie,<br/>
Aga</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1519">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Aga (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1519">piątek, marzec 23, 2012 - 10:21</a></span>
</div>
</div>
<div class="indented"><a id="comment-1577"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Aga!</p>
<p>Dziękuję bardzo za miłe słowa i podzielenie się Twoją historią. :-) Brzmi jak masz fajne podejście do nauki j. angielskiego! Gratuluję sukcesów, które poniosłaś. :-)</p>
<p>Życzę dalszych sukcesów w nauce!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1577">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1577">czwartek, marzec 29, 2012 - 09:32</a></span>
</div>
</div>
</div><a id="comment-1520"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/b3d0d5ff827cab4d8060e021fe320039?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Ja muszę się uczyć samej gramatyki, żeby zdać do szkoły do której chcę zdać bo tam głównie tylko gramatyka się liczy. Ale kiedyś tłumaczyłam piosenki na youtube i z tego dość dużo się nauczyłam. Często oglądam też filmy po angielsku i słucham piosenek i zwykle większość rozumiem. Umiałabym też z kimś pogadać po angielsku. A przez cały czas uczyłam się tylko gramatyki. I trochę się z tobą nie zgadzam, bo trzeba chociaż trochę znać tą gramatykę żeby się porozumieć.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1520">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Agnieszka (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1520">piątek, marzec 23, 2012 - 14:57</a></span>
</div>
</div>
<div class="indented"><a id="comment-1579"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Agnieszka!</p>
<p>Dziękuję za podzielenie się Twoją historią. :-) Gratuluję Twoich sukcesów z j. angielskim!  Tak, żeby zdać egzaminy trzeba uczyć się gramatyki, niestety. ;-)</p>
<p>No, zgadzam się musisz <em>używać</em> gramatyki żeby się porozumieć. Ale nie musisz go znać świadomie.  Przecież większość native speakerów nie zna gramatyki języka ojczystego ale mówią świetnie. ;-)  Sam nauczyłem się gramatyki j. angielskiego dopiero kiedy zostałem nauczycielem! (W Stanach nie uczymy się gramatyki j. angielskiego w szkole - wiem, że jest inaczej w Polsce)</p>
<p>Myślę, że jest całkiem możliwie mówić gramatycznie nie znając wcale zasad. Napisałem parę artykułów o tym:</p>
<p><a href="http://www.linguatrek.com/blog/2011/03/language-learning-is-more-like-karate-than-math" title="http://www.linguatrek.com/blog/2011/03/language-learning-is-more-like-karate-than-math">http://www.linguatrek.com/blog/2011/03/language-learning-is-more-like-ka...</a></p>
<p><a href="http://www.linguatrek.com/blog/2010/11/dont-start-learning-polish-grammar#mental_math" title="http://www.linguatrek.com/blog/2010/11/dont-start-learning-polish-grammar#mental_math">http://www.linguatrek.com/blog/2010/11/dont-start-learning-polish-gramma...</a></p>
<p>W każdym razie, dziękuję bardzo za komentarz! :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1579">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1579">czwartek, marzec 29, 2012 - 09:38</a></span>
</div>
</div>
<div class="indented"><a id="comment-1609"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/b3d0d5ff827cab4d8060e021fe320039?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Wow! Ale wy na serio nie znacie gramatyki tak po prostu? Co by się w ogóle stało gdyby ktoś zaczął z wami gadać w kilku czasach? ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1609">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Agnieszka (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1609">piątek, marzec 30, 2012 - 15:45</a></span>
</div>
</div>
<div class="indented"><a id="comment-3131"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/f96a56d5096bdb5adacf6257c6c52035?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Ja myślę, że to zależy od konkretnego języka. Angielski znałem(całkiem nieźle) niemal wyłącznie przez osłuchanie i oczytanie, w gramatykę nigdy się nie zagłębiałem. Generalnie więc na upartego da się. </p>
<p>Natomiast od jakiegoś czasu uczę się też arabskiego i dopiero ten język sprawił, że spojrzałem na gramatykę nie jak na przykrą konieczność, ale coś ogromnie pomocnego i dającego duża satysfakcję. Kiedy człowiek zaczyna rozumieć jak język naprawdę działa, jaką ma strukturę to trochę tak jak gdyby odkrył go na nowo. Słownik nagle staje się mniej niezbędny a czytanie i słuchanie zaskakująco łatwiejsze.</p>
<p>Mało tego, dzięki arabskiemu zupełnie inaczej patrze dziś na angielski, polski i na język w ogóle. Oczywiście nie każdy język ma strukturę tak logiczną i spólna jak języki semickie, niemniej jednak myślę dziś, że wiele się traci traktując gramatykę tylko i wyłącznie jako środek do celu. </p>
<p>Oczywiście nie mówię tu o tępym wkuwaniu regułek. Tak na prawdę na początku wystarczy wiedzieć o istnieniu reguły gramatycznej i potrafić ją rozpoznać. Reszta przechodzi sama kiedy się na daną regułę trafia i stosuje w praktyce.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/3131">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-3131">poniedziałek, październik 22, 2012 - 16:54</a></span>
</div>
</div>
<div class="indented"><a id="comment-3866"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/0c4c4e16237a4f46cb290222772e1f7d?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Dlaczego uczysz się arabskiego?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/3866">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Asia (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-3866">piątek, luty 8, 2013 - 14:20</a></span>
</div>
</div>
<div class="indented"><a id="comment-3876"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/8df77ecadeebde12a91306ae0e436f19?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Bo mi się podoba ;) Gramatycznie, strukturalnie. Ogólnie ciekawy język.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/3876">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-3876">sobota, luty 9, 2013 - 07:21</a></span>
</div>
</div>
</div></div></div></div></div><a id="comment-1527"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/f95c918e409421c16b075e0307357134?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Witaj :) Naprawdę cieszy mnie fakt, że dzielisz się z nami swoimi osiągnięciami i doświadczeniem, bo to sprawia, że w chwilach beznadziejności i traceniu wiary w jakiekolwiek rezultaty, i szansy na sukces przywracasz nam tę wiarę i motywację do dalszej walki. Ja osobiście niestety poległam w tej dziecinie i jest to bardzo demotywujące, w żaden sposób nie ułatwia mi to dalszego kształcenia, ale po raz kolejny postanowiłam wziąć się w garść :)<br/>
Przyznam, że ucząc się języka angielskiego całe bite 8 LAT jedyne co potrafię w chwili obecnej to przedstawić się i wymienić kilkanaście słówek ewentualnie zrozumiem niektóre łatwe zdania. Jednak przyznajmy, że są to efekty bardzo marne tym bardziej po tylu latach.. W moim 18-letnim życiu uczyłam się 3 języków: angielskiego, niemieckiego i włoskiego. Najlepiej idzie mi niemiecki choć to zapewne dlatego, że tutaj na Śląsku wiele słówek mamy z zachodu i mam rodzinę w Niemczech, więc jest to pewne ułatwienie. Włoski to była dosyć krótka historia, ponieważ poprzestałam naukę w domu na rzecz angielskiego, który jednak jest najważniejszy. Przechodząc do sedna jestem zmartwiona faktem, że za rok matura mnie czeka, a ja tak naprawdę nic nie potrafię. Jeszcze bardziej dołującym faktem jest to, że bardzo chciałam wyjechać do Stanów Zjednoczonych na rok pod opiekę innej rodziny niestety na razie nie mogę moich marzeń zrealizować. Od kilku dni próbuję naukę Twoim sposobem czytając pewne romansidło :) Jednak nie jestem przekonana czy cokolwiek się nauczę dlatego, że tak naprawdę muszę całe zdania przetłumaczać, a później powtarzając rozdział zapominam i sama nie wiem czy takie czytanie bez zrozumienia coś da.. Mój sposób wygląda tak, że najpierw czytam jeden rozdział po angielsku następnie po polsku, później znów po angielsku i w tym czasie ćwiczę swoją wymowę pomagając sobie audiobookiem. Jak sądzisz czy to ma sens? Czy może jednak powinnam siedzieć nad jednym rozdziałem i tak długo go tłumaczyć, aż go zrozumiem całkowicie?<br/>
Z góry dziękuję za odpowiedź i za motywację do dalszej nauki.<br/>
Pozdrawiam ciepło, Agnieszka :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/130/1527">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Agu. (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji#comment-1527">poniedziałek, marzec 26, 2012 - 16:14</a></span>
</div>
</div>
<div class="item-list"><ul class="pager"><li class="pager-current first">1</li>
<li class="pager-item"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji-page-1" title="Przejdź do strony 2">2</a></li>
<li class="pager-item"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji-page-2" title="Przejdź do strony 3">3</a></li>
<li class="pager-item"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji-page-3" title="Przejdź do strony 4">4</a></li>
<li class="pager-item"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji-page-4" title="Przejdź do strony 5">5</a></li>
<li class="pager-item"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji-page-5" title="Przejdź do strony 6">6</a></li>
<li class="pager-next"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji-page-1" title="Przejdź do następnej strony">następna ›</a></li>
<li class="pager-last last"><a class="active" href="/blog/2012/03/o-mnie-i-mojej-misji-page-5" title="Przejdź do ostatniej strony">ostatnia »</a></li>
</ul></div><div class="box">
<h2>Dodaj nową odpowiedź</h2>
<div class="content"><form accept-charset="UTF-8" action="/comment/reply/130" id="comment-form" method="post">
<div><div class="form-item" id="edit-name-wrapper">
<label for="edit-name">Nazwisko lub pseudonim: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-name" maxlength="60" name="name" size="30" type="text" value="Anonymous"/>
</div>
<div class="form-item" id="edit-mail-wrapper">
<label for="edit-mail">E-mail: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-mail" maxlength="64" name="mail" size="30" type="text" value=""/>
<div class="description">Zawartość pola nie będzie udostępniana publicznie. If you have a <a href="http://www.gravatar.com">Gravatar</a> account, used to display your avatar.</div>
</div>
<div class="form-item" id="edit-homepage-wrapper">
<label for="edit-homepage">Strona domowa: </label>
<input class="form-text" id="edit-homepage" maxlength="255" name="homepage" size="30" type="text" value=""/>
</div>
<div class="form-item" id="edit-comment-wrapper">
<label for="edit-comment">Odpowiedź: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<textarea class="form-textarea resizable required" cols="60" id="edit-comment" name="comment" rows="15"></textarea>
</div>
<ul class="tips"><li>Adresy internetowe są automatycznie zamieniane w odnośniki, które można kliknąć.</li><li>Dozwolone znaczniki HTML: &lt;a&gt; &lt;em&gt; &lt;strong&gt; &lt;cite&gt; &lt;code&gt; &lt;ul&gt; &lt;ol&gt; &lt;li&gt; &lt;dl&gt; &lt;dt&gt; &lt;dd&gt; &lt;blockquote&gt;</li><li>Znaki końca linii i akapitu dodawane są automatycznie.</li></ul><input id="form-0a6d6b91880d8e4acc6d6f51437f7f0d" name="form_build_id" type="hidden" value="form-0a6d6b91880d8e4acc6d6f51437f7f0d"/>
<input id="edit-comment-form" name="form_id" type="hidden" value="comment_form"/>
<div class="clear-block"><div class="form-item" id="edit-notify-wrapper">
<label class="option" for="edit-notify"><input checked="checked" class="form-checkbox" id="edit-notify" name="notify" type="checkbox" value="1"/> Notify me when new comments are posted</label>
</div>
<div class="form-radios"><div class="form-item" id="edit-notify-type-1-wrapper">
<label class="option" for="edit-notify-type-1"><input class="form-radio" id="edit-notify-type-1" name="notify_type" type="radio" value="1"/> All comments</label>
</div>
<div class="form-item" id="edit-notify-type-2-wrapper">
<label class="option" for="edit-notify-type-2"><input checked="checked" class="form-radio" id="edit-notify-type-2" name="notify_type" type="radio" value="2"/> Replies to my comment</label>
</div>
</div></div><input class="mollom-content-id" id="edit-mollom-contentId" name="mollom[contentId]" type="hidden" value=""/>
<input class="mollom-captcha-id" id="edit-mollom-captchaId" name="mollom[captchaId]" type="hidden" value=""/>
<div style="display: none;"><div class="form-item" id="edit-mollom-homepage-wrapper">
<input autocomplete="off" class="form-text" id="edit-mollom-homepage" maxlength="128" name="mollom[homepage]" size="60" type="text" value=""/>
</div>
</div><div class="description mollom-privacy">By submitting this form, you accept the <a class="mollom-target" href="https://mollom.com/web-service-privacy-policy" rel="nofollow">Mollom privacy policy</a>.</div><input class="form-submit" id="edit-preview" name="op" type="submit" value="Podgląd"/>
</div></form>
</div>
</div>
</div>
