---
permalink: /blog/2011/03/the-three-ingredients-for-successful-language-learning/
layout: blog-old
title: 'The three ingredients for successful language learning'
day: 15
month: Mar
year: 2011
category: language learning
tags: 
  - 'method'
language: en
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/default/files/imagecache/Large/image/2011/03/ingredients.jpg" rel="lightbox"><img alt="Ingredients" src="http://www.linguatrek.com/sites/default/files/imagecache/Small/image/2011/03/ingredients.jpg" title="Some recipes have many ingredients.  Language learning only has three!  Photo by Anthony Georgeff"/></a><div class="caption">Some recipes have many ingredients.  Language learning only has three!  <a href="http://www.flickr.com/photos/43337469@N00/55765586">Photo</a> by <a href="http://www.flickr.com/people/manthatcooks/">Anthony Georgeff</a></div></div>
<p>What's the difference between a successful language learner and an unsuccessful language learner?</p>
<p>Is it talent with languages?  Nope!  Last week <a href="http://www.linguatrek.com/blog/2011/03/you-dont-need-talent-to-learn-a-language">I wrote</a> that talent isn't necessary to learn a language.  So, what then?</p>
<p>The three ingredients for successful language learning are <strong>time</strong>, <strong>motivation</strong> and an <strong>effective method</strong>.</p>
<p>With these three things, anyone can learn any language successfully.</p>
<p><strong>Read on for more information!</strong></p>
<h2><a name="time">Time</a></h2>
<p>By "time" I mean two things:</p>
<ul>
<li><strong>You need to spend time with the language regularly.</strong>  Even if you only spend 20 minutes a day, practicing a little each and every day is better than spending a lot of time only once a week.</li>
<li><strong>You need perseverance!</strong>  Humans are designed to learn languages.  The only way to fail is to give up.  If you stick with it, you <em>will</em> learn the language - no doubt about it!</li>
</ul>
<p><a href="http://www.linguatrek.com/blog/2011/03/language-learning-is-more-like-karate-than-math">I've written previously</a> that language learning is a lot like athletic training.  You could say the same two things about exercise and getting in shape: exercising 20 minutes a day is better than working out 4 hours every Saturday and you need to stick with your exercise routine to see results! </p>
<h2><a name="motivation">Motivation</a></h2>
<p>Because you need to convince yourself to do it regularly and not give up, you need strong motivation!</p>
<p>External motivation, like getting a good grade or finding a new job, can get you started - but it probably won't be enough to keep you going.</p>
<p>For that reason, it's important to make the task itself enjoyable.  You don't need to suffer to make progress!  We are naturally motivated to do things we like.</p>
<p>As <a href="http://www.linguatrek.com/blog/2010/12/harry-potter-the-book-that-taught-me-polish">I have written before</a>, I've been learning Polish mostly from reading and listening to books.  I love books, even those in my native language!  Once I get involved in a story, I am naturally compelled to find out what happens next.  I have no problem getting myself to read daily.</p>
<p>Other types of deeper motivation can also help: planning a trip to the country where the language is spoken, meeting friends who are native speakers or getting in touch with your roots.</p>
<p>Besides just helping you persevere, the latest research on learning shows that being highly engaged and motivated actually improves the natural learning process.</p>
<h2><a name="effective-method">An Effective Method</a></h2>
<p>Any language learning method will work ... <em>eventually</em>.</p>
<p>But some methods are more effective than others.  When you use a less effective method, you'll end up spending more time working towards your goals.  So, what makes a method more effective?</p>
<p>The human brain is designed to learn languages.  You activate this brain function by <em>using the language</em> - that is by sending and receiving meaningful messages in that language.</p>
<p>Many language learning methods focus too much on learning <i>about</i> the language (i.e. studying grammar rules), rather than actually using it.  Or, they require you to spend time with language that isn't really meaningful.  These are common problems with the language programs in many schools.</p>
<p><strong>The more time spent actually <em>using</em> the language, the more effective the method is.</strong></p>
<p>There is an almost endless number of ways to use a language, including:</p>
<ul>
<li>Reading books, magazines, newspapers, or articles on the Internet</li>
<li>Speaking with people over Skype or in person</li>
<li>Playing video games in the language</li>
<li>Watching films, TV shows or even videos on YouTube</li>
<li>Writing e-mails or chatting online</li>
<li>Listening to music, podcasts or audiobooks</li>
</ul>
<p>How your chosen method uses the language isn't really important, as long as you're using the language!  You can study by yourself or in a class.</p>
<p>Unsurprisingly, so long as your method is reasonably effective, the most important thing is to simply choose a method you enjoy!</p>
</div>

<div id="comments">
<a id="comment-372"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2011/06/4-reasons-to-learn-polish" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] is very important when learning a language. So, it's best to learn the language which you are most interested [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/54/372">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2011/06/4-reasons-to-learn-polish" rel="nofollow">4 reasons to learn Polish! | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/the-three-ingredients-for-successful-language-learning#comment-372">Tuesday, May 31, 2011 - 10:03</a></span>
</div>
</div>
<a id="comment-408"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2011/06/how-long-does-it-take-to-learn-a-foreign-language" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] to an advanced level in a year, if they put enough time into it. Assuming, of course, you have the other two ingredients [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/54/408">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2011/06/how-long-does-it-take-to-learn-a-foreign-language" rel="nofollow">How long does it take to learn a foreign language? | LinguaT</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/the-three-ingredients-for-successful-language-learning#comment-408">Tuesday, June 7, 2011 - 10:20</a></span>
</div>
</div>
<a id="comment-512"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.rocketlanguagesreview.org/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/5f3fc1b393ae116939f6a2a876bd6dda?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>I am really impressed by the method and ingredients for successful language learning. It is an irrefutable fact that we need time, motivation and an effective method to learn a language.  Learning a language requires love, devotion and high level of motivation.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/54/512">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.rocketlanguagesreview.org/" rel="nofollow">learn spanish</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/the-three-ingredients-for-successful-language-learning#comment-512">Saturday, July 2, 2011 - 14:14</a></span>
</div>
</div>
<a id="comment-533"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.bsiproductdevelopment.com/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c249076f79312a7cae66c30ba1519475?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>To learn any language, if you have got love, dedication and devotion, it won't be difficult master the language.  However, motivation and effective methods facilitate the learning process faster and surely. I appreciate your nice work.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/54/533">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.bsiproductdevelopment.com/" rel="nofollow">engineering design</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/the-three-ingredients-for-successful-language-learning#comment-533">Sunday, July 10, 2011 - 13:01</a></span>
</div>
</div>
<a id="comment-675"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2011/08/heinrich-schliemann-a-famous-polyglot%E2%80%99s-method" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] Remember, there isn't only ONE right method; it’s about finding the method that works for YOU! [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/54/675">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2011/08/heinrich-schliemann-a-famous-polyglot%E2%80%99s-method" rel="nofollow">Heinrich Schliemann: a famous polyglot’s method | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/the-three-ingredients-for-successful-language-learning#comment-675">Tuesday, August 2, 2011 - 09:59</a></span>
</div>
</div>
<a id="comment-751"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/2fea966428206fdcfe190d9afd0ac89c?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>To those who are looking for good and easy books in english, for practice. I want to reccemend you "coolins classics" collection which is available in Empik stores. There are many of easy and short books in very low price (11~zł). For instance I've just finished "Call of the Wild" of Jack London.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/54/751">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Jackiew (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/the-three-ingredients-for-successful-language-learning#comment-751">Monday, September 5, 2011 - 08:34</a></span>
</div>
</div>
<div class="indented"><a id="comment-753"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks for posting your suggestion!  I'm sure someone will find it helpful. :-)  Best regards, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/54/753">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/03/the-three-ingredients-for-successful-language-learning#comment-753">Tuesday, September 6, 2011 - 06:47</a></span>
</div>
</div>
</div><a id="comment-1514"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/03/o-mnie-i-mojej-misji" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] zbierzesz i połączysz ze sobą "składniki skutecznej nauki języków", możesz nauczyć się dowolnego języka dochodząc do wysokiego [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/54/1514">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/03/o-mnie-i-mojej-misji" rel="nofollow">O mnie (i mojej misji) | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/the-three-ingredients-for-successful-language-learning#comment-1514">Thursday, March 22, 2012 - 15:35</a></span>
</div>
</div>
<a id="comment-1758"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/04/ustalenie-dziennego-planu-nauki-j%C4%99zyka-fragment-e-booka" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] w części teoretycznej, mówiliśmy o znaczeniu czasu i regularność w nauce języka. Ćwiczenie języka codziennie przez 15 minut (około 2 godziny w tygodniu) jest [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/54/1758">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/04/ustalenie-dziennego-planu-nauki-j%C4%99zyka-fragment-e-booka" rel="nofollow">Ustalenie dziennego planu nauki języka! (fragment e-booka!) </a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/the-three-ingredients-for-successful-language-learning#comment-1758">Thursday, April 26, 2012 - 10:25</a></span>
</div>
</div>
<a id="comment-1761"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/04/planning-your-daily-routine-ebook-excerpt" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] in the theory section, we talked about the importance of time and regularity in language learning. The core idea is that practicing 15 minutes per day (almost 2 hours per week [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/54/1761">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/04/planning-your-daily-routine-ebook-excerpt" rel="nofollow">Planning your daily routine (ebook excerpt!) | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/the-three-ingredients-for-successful-language-learning#comment-1761">Thursday, April 26, 2012 - 10:26</a></span>
</div>
</div>
<a id="comment-1789"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/01/language-learning-guide" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] three ingredients of successful language [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/54/1789">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/01/language-learning-guide" rel="nofollow">Language learning guide? | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/the-three-ingredients-for-successful-language-learning#comment-1789">Wednesday, May 2, 2012 - 20:10</a></span>
</div>
</div>
<a id="comment-1953"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2011/03/you-dont-need-talent-to-learn-a-language" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] believe the three ingredients to successful language learning are: time, motivation and an effective [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/54/1953">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2011/03/you-dont-need-talent-to-learn-a-language" rel="nofollow">You don&amp;amp;#039;t need talent to learn a language | LinguaT</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/the-three-ingredients-for-successful-language-learning#comment-1953">Friday, May 18, 2012 - 06:24</a></span>
</div>
</div>
<a id="comment-1985"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.fluentin3months.com/polish/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] learning any language, all that’s required is a little time, motivation and an effective [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/54/1985">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.fluentin3months.com/polish/" rel="nofollow">What makes learning Polish so easy? | Fluent in 3 months - L</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/the-three-ingredients-for-successful-language-learning#comment-1985">Tuesday, May 22, 2012 - 11:30</a></span>
</div>
</div>
</div>
