---
permalink: /blog/2011/03/vlog-dlaczego-uczę-się-polskiego/
layout: blog-old
title: 'Vlog: Dlaczego uczę się polskiego?'
day: 18
month: Mar
year: 2011
category: personal
tags: 
  - 'vlog'
language: en
translation: /blog/2011/03/vlog-dlaczego-ucz%C4%99-si%C4%99-polskiego/
---
<div class="content">
<p>Ludzie zawsze mnie pytają dlaczego uczę się polskiego.  Więc wreszcie zdecydowałem się nagrać cały filmik na ten temat.  Miałem dzisiaj problemy z wymową niektórych słów ale tak bywa -- są dni lepsze i gorsze. :-)</p>
<iframe allowfullscreen="" frameborder="0" height="317" src="http://www.youtube.com/embed/nhExD342KAA?rel=0" style="margin-bottom: 20px" title="YouTube video player" width="510"></iframe>
<p>Czytaj transkrypcję poniżej!</p>
<h2><a name="transcript">Transkrypcja</a></h2>
<ul>
<li>Dzień dobry</li>
<li>Znobu...  "Znobu?"</li>
<li>Znowu przed kamerą internetową mówi David Snopek</li>
<li>Ludzie zawsze mnie pytają dlaczego uczę się języka polskiego</li>
<li>Jest w komentarzach pod prawie każdym filmikiem i na wykopie</li>
<li>I dostaję dość dużo wiadomości i maili z tym pytaniem</li>
<li>Więc wreszcie zdecydowałem się nagrać cały filmik na ten temat</li>
<li>Zacząłem uczyć się polskiego we wrześniu 2006 roku</li>
<li>To znaczy 4,5 roku temu</li>
<li>Język polski najpierw mnie zainteresował bo mam dalekie polskie korzenia</li>
<li>Amerykanie w ogóle mają obsesję na punkcie naszego pochodzenia i nie jestem wyjątkiem</li>
<li>Wszyscy moi przodkowie pochodzą z Polski</li>
<li>Ale najbliższe połączenie to dwaj z moich pradziadków, którzy urodzili się w Polsce i wyemigrowali do Stanów na przełomie dwudziestego wieku</li>
<li>Prawie wszyscy moi prapradziadkowie też urodzili się w Polsce</li>
<li>Ale oczywiście wtedy nie było żadnej Polski, bo to było podczas rozbiorów</li>
<li>Ale w każdym razie <del>sądzili</del> [uważali] siebie za Polaków</li>
<li>Więc pod tym względem jestem członkiem przynajmniej trzeciego pokolenia, które urodziło się tutaj w Stanach</li>
<li>Więc to bardzo dalekie korzenie</li>
<li>Ale mimo tego, kiedy byliśmy dziećmi wszyscy w rodzinie -- zwłaszcza dziadkowie -- mówili nam że jesteśmy Polakami i że, powinniśmy być bardzo dumni z tego powodu</li>
<li>To miało bardzo mocny wpływ na mnie</li>
<li>Od dawna mam obsesję na punkcie Polski</li>
<li>Mój dziadek właśnie znalazł jakiś tekst, który napisałem dla szkoły, kiedy miałem tylko 8 lat na temat rodziny i Polski</li>
<li>Nawet nie pamiętałem, że moja obsesja była taka stara</li>
<li>Ale okazuje się, że tak</li>
<li>Opublikuję właśnie ten tekst na moim blogu we wtorek</li>
<li>Jest bardzo śmiesznie</li>
<li>W ogóle nie mogę czytać to bez śmiechu</li>
<li>Więc byłem przez rodzinę tak przekonany, że jesteśmy Polakami, że zdałem sobie sprawę, że nie jesteśmy Polakami dopiero kiedy byliśmy trochę starsi</li>
<li>Bo rzeczywiście jesteśmy Amerykanami w pełnym sensie</li>
<li>Już nie przestrzegamy żadnych polskich obyczajów</li>
<li>Nikt w rodzinie nie mówi po polsku, no oprócz mnie</li>
<li>Jedna babcia mówiła po polsku ale niestety zmarła przed tym, jak ja zacząłem uczyć się polskiego</li>
<li>Co jest wielka szkoda!</li>
<li>Bo fajnie by było rozmawiać z kimś w rodzinie po polsku</li>
<li>Ale tak jest</li>
<li>Wszystko co pozostaje po Polsce to nieliczne polskie potrawy, poczucie dumy i obsesyjne zainteresowanie <del>wszystkiego polskiego</del> [wszystkim, co polskie]</li>
<li>Więc właśnie z tego powodu zacząłem uczyć się polskiego</li>
<li>Ale teraz kontynuuję bo naprawdę zakochałem się w języku, który jest bardzo piękny, i również w kraju</li>
<li>[Za] pierwszym razem jak byłem w Polsce to było w lipcu 2007 roku</li>
<li>Przyjechałem na trzytygodniowy kurs języka polskiego na <a href="http://pl.wikipedia.org/wiki/KUL">Katolickim Uniwersytecie Lubelskim</a></li>
<li>Wtedy strasznie mówiłem po polsku</li>
<li>Nawet powiedziałbym, że nie mówiłem po polsku</li>
<li>Co więcej strasznie bałem się mówić w ogóle</li>
<li>Przeżyłem kilka okropnych doświadczeń na poczcie, na przykład</li>
<li>I na tym kursie, tak jak na kursie w Stanach, to chodziło przeważnie o gramatykę</li>
<li>Więc muszę powiedzieć, że niestety niczego nie nauczyłem się z języka</li>
<li>Ale poznałem tam Polaków</li>
<li>I dowiedziałem się, że Polacy są <del>najgościnnymi</del> [najbardziej gościnnymi] ludźmi na świecie</li>
<li>I poza tym mają taką energię</li>
<li>Są tacy żywi</li>
<li>Lubią rozmawiać, no i argumentować i narzekać</li>
<li>Ale zawszę z taką żywością</li>
<li>No i sam kraj jest pełen historii</li>
<li>W Lublinie jest piękne stare miasto z budynkami starszymi od mojego ojczystego kraju</li>
<li>Jest zamek</li>
<li>Są muzea</li>
<li>Wtedy byłem na wycieczkach do Warszawy, do Krakowa, do Kazimierza Dolnego</li>
<li>No w sumie, było fajnie, było bardzo fajnie</li>
<li>Wróciłem do Polski następnego roku na ten sam kurs</li>
<li>Trzy tygodnie</li>
<li>Ale wtedy już przeczytałem kilka tomów Harry'ego Pottera i wreszcie mogłem mówić</li>
<li>Więc zrobiłem wszystko po polsku!</li>
<li>Tak jak [za] pierwszym razem niczego nie nauczyłem się z języka na tym kursie</li>
<li>Ale też były wykłady po polsku na różne tematy, na przykład: polska historia, literatura, muzyka, wierze, i tak dalej i tak dalej</li>
<li>Ale najważniejsze po prostu było to, że byłem w Polsce i moje poczucia do tego kraju wzmocniły się</li>
<li>Później od lipca 2009 roku do października 2010 roku razem z żoną mieszkaliśmy w Polsce, właśnie w Krakowie</li>
<li>Ale nagrałem bardzo dużo filmików w ciągu tego pobytu więc teraz nie powiem więcej o tym</li>
<li>Ale, no, w sumie</li>
<li>Zacząłem uczyć się polskiego dlatego, że mam dalekie polskie korzenie</li>
<li>Ale teraz mógłbym powiedzieć, że uczę się polskiego bo naprawdę kocham język polski</li>
<li>I to jest świetna motywacja w ogóle</li>
<li>No</li>
<li>To wszystko na dzisiaj</li>
<li>Dziękuję za uwagę</li>
<li>Do widzenia</li>
</ul>
</div>

<div id="comments">
<a id="comment-188"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/93d6da7af56fbeea07c5b87bfa8a01ad?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Davidzie, w zdaniu:<br/>
Ale w każdym razie sądzili siebie za Polaków</p>
<p>Lepiej pasuje:<br/>
Ale w każdym razie uważali siebie za Polaków</p>
<p>A poza tym jestem pod wielkim wrażeniem, mówisz lepiej niż niejeden Polak.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/56/188">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-dlaczego-ucz%C4%99-si%C4%99-polskiego#comment-188">Friday, March 18, 2011 - 19:42</a></span>
</div>
</div>
<div class="indented"><a id="comment-197"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dziękuję za poprawkę!  Właśnie to miałem na myśli. :-)  Już to dodałem do transkrypcji.  Pozdrawiam, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/56/197">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-dlaczego-ucz%C4%99-si%C4%99-polskiego#comment-197">Saturday, March 19, 2011 - 06:18</a></span>
</div>
</div>
</div><a id="comment-194"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/65eedd3d5031d3a52ff4b9772beb40e8?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Przepraszam, że będę się czepiał, mówisz świetnie, chciałbym tak mówić po angielsku, jak ty mówisz po polsku. Ale nie przepuszczę okazji, żeby się przyczepić :)</p>
<p>A teraz poprawki (drobnostki w sumie):<br/>
najgościnnymi -&gt; najgościnniejszymi (ale lepiej chyba brzmi najbardziej gościnnymi)<br/>
"lubią argumentować" - to pewnie "false friend" z angielskiego - argumentować po polsku to nie to samo, co "to argument" po angielsku. "To argument" raczej znaczy "kłócić się", a "argumentować" po polsku oznacza "uzasadniać", "podawać swoje argumenty". Chyba, że źle rozumiem znaczenie to argument po angielsku.</p>
<p>Pozdrowienia z Lublina (pewnie się widzieliśmy kiedyś, bo w 2008 studiowałem na KULu przez pewien czas :)</p>
<p>PS - masz fajny akcent - taki rosyjski trochę.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/56/194">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">ajuc (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-dlaczego-ucz%C4%99-si%C4%99-polskiego#comment-194">Saturday, March 19, 2011 - 05:37</a></span>
</div>
</div>
<div class="indented"><a id="comment-199"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dziękuję bardzo za poprawki!  Już zmieniłem "najgościnnymi" w transkrycji.  Ale nie jestem pewien z tym "kłócić się" -- brzmi za negatywnie.  Miałem na myśli "debate" po angielsku, może lepiej byłoby "dyskutować" lub "debatować"?  Ale "debatować" brzmi zbyt poważnie!  Miałem na myśli normalny "debate" między ludźmi, nie tak jak między politykami. ;-)  Jak sądzisz?</p>
<p>Dziękuję bardzo za miłe słowa. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/56/199">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-dlaczego-ucz%C4%99-si%C4%99-polskiego#comment-199">Saturday, March 19, 2011 - 06:25</a></span>
</div>
</div>
</div><a id="comment-195"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/65eedd3d5031d3a52ff4b9772beb40e8?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>A przy okazji - widziałeś bloga polandian.com ?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/56/195">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">ajuc (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-dlaczego-ucz%C4%99-si%C4%99-polskiego#comment-195">Saturday, March 19, 2011 - 05:43</a></span>
</div>
</div>
<div class="indented"><a id="comment-200"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Tak, tak! :-)  Ale dawno tego nie czytałem.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/56/200">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-dlaczego-ucz%C4%99-si%C4%99-polskiego#comment-200">Saturday, March 19, 2011 - 06:26</a></span>
</div>
</div>
</div><a id="comment-202"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://luckydevs.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9d0c765b4fcae49ba9cbe3d5255ee438?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Cześć, "dyskutować" będzie w porządku, ewentualnie "wymieniać się poglądami/argumentami". Polacy uważają polski za jeden z trudniejszych  i bardziej skomplikowanych języków na świecie (może i tak jest, nie wiem, bardzo prawdopodobne) i kochają kiedy ktoś się go uczy z własnej woli! Inna sprawa, że wielu Polaków robi w nim dużo błędów (najlepszy przykład - nasz "wspaniały" prezydent w księdze kondolencyjnej dla Japonii). Uważaj na błędy Polaków - najczęstsze to chyba "z kąd" (skąd) "dwutysięcznyktóryś" (dwatysiącektóryś) albo "z przed" (sprzed). Jest ich dużo więcej, sprawdź w polskiej Wikipedii "powszechne błędy językowe".</p>
<p>Trzymaj się!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/56/202">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://luckydevs.com" rel="nofollow">stopa</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-dlaczego-ucz%C4%99-si%C4%99-polskiego#comment-202">Saturday, March 19, 2011 - 13:12</a></span>
</div>
</div>
<div class="indented"><a id="comment-203"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/65eedd3d5031d3a52ff4b9772beb40e8?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Dzisiejsze powszechne błędy językowe to jutrzejsze alternatywne poprawne formy :).</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/56/203">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">ajuc (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-dlaczego-ucz%C4%99-si%C4%99-polskiego#comment-203">Sunday, March 20, 2011 - 18:48</a></span>
</div>
</div>
</div><a id="comment-207"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e71b4737ce9ebb1ad8e505082aeeb1f7?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Podałeś idealną charakterystykę Polaków - szczególnie mówiąc o narzekaniu :)</p>
<p>Szkoda, że to taka ponadczasowa cecha mojego narodu - pozostaje nadzieja, że nasza gościnność jest bardziej znana niż nasze malkontenctwo. ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/56/207">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Den (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-dlaczego-ucz%C4%99-si%C4%99-polskiego#comment-207">Monday, March 21, 2011 - 17:00</a></span>
</div>
</div>
<a id="comment-210"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a52803d3692b9accf44ea81ba645056e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Trochę za bardzo akcentujesz głoskę 'R', ale jesteś niesamowicie sympatyczny!;d<br/>
Będę gościł tutaj coraz częściej, bardzo spodobała mi się idea tej strony i mam zamiar uczyć się angielskiego razem z BiblioBird'em.<br/>
Życzę Ci powodzenia w dalszej nauce, pozdrawiam!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/56/210">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Jarek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-dlaczego-ucz%C4%99-si%C4%99-polskiego#comment-210">Thursday, March 24, 2011 - 03:17</a></span>
</div>
</div>
<a id="comment-6786"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/76c1e5f6e4e129bfb4ec3ac1677d7b1b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Wow, świetnie Ci idzie mówienie po polsku. Jestem pod wrażeniem tego, jak poprawnie gramatycznie się wyrażasz!<br/>
Trafiłam na bloga dosłownie z przypadku, ale na pewno będę wracać - subskrybuję i zaczynam szperać po treści wpisów :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/56/6786">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Karola (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-dlaczego-ucz%C4%99-si%C4%99-polskiego#comment-6786">Friday, May 16, 2014 - 12:42</a></span>
</div>
</div>
</div>
