---
permalink: /blog/2011/03/vlog-jak-wygląda-efektywna-metoda-nauki-języka-obcego/
layout: blog-old
title: 'Vlog: Jak wygląda efektywna metoda nauki języka obcego'
day: 5
month: Mar
year: 2011
category: language learning
tags: 
  - 'method'
  - 'vlog'
language: en
translation: /blog/2011/03/vlog-jak-wygl%C4%85da-efektywna-metoda-nauki-j%C4%99zyka-obcego/
---
<div class="content">
<p>Po tym <a href="http://www.linguatrek.com/blog/2011/02/vlog-nie-trzeba-mie%C4%87-talentu-%C5%BCeby-nauczy%C4%87-si%C4%99-j%C4%99zyka">filmiku o trzech potrzebnych składnikach</a> nauki języka obcego (czas, motywacja, efektywna metoda), bardzo dużo ludzi zapytało mnie o ten ostatni składnik.  W tym filmiku opisuję jak wygląda efektywna metoda nauki!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/Ta-PCSnDets?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/Ta-PCSnDets?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Czytaj traskrypcję poniżej!</p>
<h2><a name="transcript">Transkrypcja</a></h2>
<ul>
<li>Dzień dobry,</li>
<li>Znowu przed kamerą internetową mówi David Snopek</li>
<li><a href="http://www.linguatrek.com/blog/2011/02/vlog-nie-trzeba-mie%C4%87-talentu-%C5%BCeby-nauczy%C4%87-si%C4%99-j%C4%99zyka">Miesiąc temu nagrałem filmik</a> pod tytułem "Nie trzeba mieć talentu, żeby nauczyć się języka obcego", w którym, powiedziałem, że naprawdę tylko potrzebne są trzy składniki</li>
<li>To czas, motywacja i efektywna metoda</li>
<li>Bardzo dużo ludzi zapytało mnie o ten ostatni składnik</li>
<li>Więc dzisiaj chciałbym mówić trochę na ten temat</li>
<li>Najpierw, nie sądzę, że jest tylko jedna skuteczna metoda i koniec</li>
<li>Każdą metodą uda Ci się w końcu</li>
<li>Ale są metody bardziej efektywne i mniej efektywne</li>
<li>Ucząc się mniej efektywną metodą, potrzebujesz o wiele więcej czasu, żeby osiągnąć Twój cel</li>
<li>Również nie powiem, że jedna metoda jest najefektywniejsza</li>
<li>Zawsze w reklamie mówi się, że ta metoda jest najefektywniejsza na świecie lub coś w tym stylu</li>
<li>Po prostu rozdzielam te metody na te dwie grupy: na bardziej efektywne i mniej efektywne</li>
<li>I w tym filmiku będę opisywał jak wyglądają -- moim zdaniem, oczywiście -- te metody efektywniejsze</li>
<li>Dobrze!</li>
<li>Najważniejsze jest to, że naprawdę używasz języka, że naprawdę komunikujesz się w tym języku</li>
<li>Bo w większości kursów w szkole nie komunikujesz się w prawdziwym sensie</li>
<li>Czytasz sztuczne teksty, na różne dziwne tematy, które dla Ciebie nie mają żadnego znaczenia</li>
<li>Kiedy mówisz to w różnych dziwnych dialogach</li>
<li>Nie mówisz czegoś, co naprawdę chcesz mówić</li>
<li>I większość czasu spędzasz na ćwiczenia gramatyczne</li>
<li>Natomiast ludzki mózg jest naturalnie zaprojektowany do nauki języków</li>
<li>I moim zdaniem aktywujesz tę funkcję mózgu przez używanie języka, to znaczy przez prawdziwą komunikację</li>
<li>Ta komunikacja nie musi być tylko mówieniem -- też może być pisaniem, czytanie, słuchaniem</li>
<li><a href="http://www.linguatrek.com/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego">W innym filmiku</a> pod tytułem "Jak uczyć się języka angielskiego w ten sam sposób jak uczę się polskiego" opisałem szczegóły mojej osobistej metody nauki</li>
<li>Ale teraz powiem tylko, że jest na podstawie czytania i słuchania książek po polsku</li>
<li>To jest komunikacja pasywna ale prawdziwa</li>
<li>Czytam bo naprawdę chcę dowiedzieć się, co dalej się stanie w tej książce</li>
<li>Ta metoda działa specjalnie dobrze dla mnie, bo bardzo lubię czytać i słuchać książek nawet w moim ojczystym języku, to znaczy w angielskim</li>
<li>Też jest bardzo fajnie, bo nie potrzebuję drugiej osoby, mogę to robić sam</li>
<li>Jest bardzo dużo materiałów</li>
<li>Mogę jak chcę, kiedy chcę, słuchać czegoś ciekawego dla mnie, jak długo chcę</li>
<li>Ale również mógłbyś rozmawiać z ludźmi przez Skype</li>
<li>Ja też to trochę robię</li>
<li>Mógłbyś rozmawiać z ludźmi w danym kraju lub z nauczycielem w Twoim domu</li>
<li>Mógłbyś oglądać filmy, słuchać muzyki, podcastów, pisać maile, rozmawiać przez czat</li>
<li>Kursy też mogą pasować do tego wzoru, ale trochę jest trudniej na kursach bo czasem te tematy mogą być dla Ciebie nudne</li>
<li>Ale jak naprawdę używasz języka, przez tę naturalną funkcję mózgu, automatycznie nauczysz się tego języka</li>
<li>Więc kiedy większość czasu jest spędzona na używanie języka, to znaczy, że ta metoda będzie efektywniejsza</li>
<li>I to wszystko</li>
<li>No, nie zapomnijmy, że też potrzebny jest czas -- musisz to robić regularnie -- i oczywiście motywacja</li>
<li>Ale może o nich więcej w przyszłych filmikach</li>
<li>Dobrze</li>
<li>Para uwag <del>na końcu</del> [na koniec]</li>
<li>Ten filmik jest moim pięćdziesiątym filmikiem na YouTube'ie</li>
<li>Nigdy nie wyobrażałem sobie, że nagram tak dużo filmików</li>
<li>Na samym początku ponad dwa lata temu tylko chciałem nagrać dwa filmiki: jeden po polsku i drugi po rosyjsku</li>
<li>I nawet nigdy nie nagrywałem tego drugiego po rosyjsku</li>
<li>Rzecz druga: w ostatnich osiemnastu tygodniach nagrałem dwadzieścia filmików, przynajmniej jeden tygodniowo</li>
<li>Nie wiem jak długo wytrzymam bo to rzeczywiście jest bardzo dużo roboty</li>
<li>Może nastąpi krótka przerwa, ale zobaczymy</li>
<li>To wszystko na dzisiaj</li>
<li>Dziękuję za uwagę</li>
<li>Do widzenia</li>
</ul>
</div>

<div id="comments">
<a id="comment-157"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/af604012130e977f76c429b5ff706182?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Podziwiam Cię, jeśli chodzi o naukę języka. Nie wiem skąd bierze się twoja motywacja i chęć nauki, ale jest to pełne podziwu.</p>
<p>Osobiście uczę się angielskiego ostatnio sam. Poprzez oglądanie filmów, seriali, czytaniu róznych rzeczy. Jak na razie zdaje to egzamin.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/53/157">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Maciej Moderski (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-jak-wygl%C4%85da-efektywna-metoda-nauki-j%C4%99zyka-obcego#comment-157">Saturday, March 5, 2011 - 18:00</a></span>
</div>
</div>
<a id="comment-158"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/405fa83edf86f248782789f09898bfaf?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Mówisz po polsku lepiej niż niektórzy rodowici Polacy.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/53/158">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-jak-wygl%C4%85da-efektywna-metoda-nauki-j%C4%99zyka-obcego#comment-158">Sunday, March 6, 2011 - 04:53</a></span>
</div>
</div>
<a id="comment-159"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.wp.pl" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/87efd6546c37bfeab94238325de68162?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Witam.<br/>
Przyznam szczerze, że namówiłeś mnie do nauki języka angielskiego. Początkującym uczniem nie jestem, ale cały czas mam braki. Głównie jeśli chodzi o słownictwo, bo bez niego ani rusz. Pójdę chyba do biblioteki i wypożycze jakąś książkę po angielsku i spróbuję ją przeczytać. Pottera nie lubię, ale Władce pierścieni albo książki pani Agathy Christie, które są chyba lepsze na początke bo o wiele krótsze. Więc postaram się ją zdobyć i przeczytać ją po angielsku. Czytałem je juz po Polsku, więc będzie troche łatwiej. </p>
<p>Wg mnie masz rację. Kursy angielskiego zazwyczaj niczego mi nie dawały, bo czytałem teksty o 'pierdoła'. Jakieś wycieszki nad morze. Kogo to obchodzi?! A ksiązki lubie czytać i jest motywacja co się stało dalej. Szkoda tylko, że nie do kazdej książki jkest audiobook po angielsku, ale może się gdzieś znajdzie.</p>
<p>P.S.<br/>
Możesz podać link przez który mogę sie zarejestrować na: <a href="http://www.linguatrek.com" title="www.linguatrek.com">www.linguatrek.com</a> bo nie mogę znaleźć przycisku do rejestracji.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/53/159">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.wp.pl" rel="nofollow">Adrian</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-jak-wygl%C4%85da-efektywna-metoda-nauki-j%C4%99zyka-obcego#comment-159">Sunday, March 6, 2011 - 04:56</a></span>
</div>
</div>
<div class="indented"><a id="comment-163"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Adrian!</p>
<p>Czytanie jest na pewno dobrym sposobem polepszyć się słownictwo.<br/>
Myśląc o tym teraz, sądzę, że moje słownictwo w moim ojczystym języku też pochodzi z czytania!  Proszę mi powiedz jak idzie z Twoim<br/>
czytaniem i słuchaniem. :-)</p>
<p>Na stronie linguatrek.com nie można się rejestrować, to tylko mój<br/>
blog.  Na stronie bibliobird.com można się zarejestrować, konkretny<br/>
link to:</p>
<p><a href="http://pl.bibliobird.com/user/register" title="http://pl.bibliobird.com/user/register">http://pl.bibliobird.com/user/register</a></p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/53/163">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-jak-wygl%C4%85da-efektywna-metoda-nauki-j%C4%99zyka-obcego#comment-163">Sunday, March 6, 2011 - 10:25</a></span>
</div>
</div>
<div class="indented"><a id="comment-168"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.wp.pl" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/87efd6546c37bfeab94238325de68162?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Oczywiście wielu słówek nie znam z języka angielskiego, ale myślę że jest ok. Z czytaniem i pisaniem po angielsu nie jest u mnie źle. A co do słuchania i mówienia to jest oczywiscie gorzej. Zdanie potrafiłbym napisać, a jak mam to samo powiedziedzieć to nagle zapominam języka w buzi :D</p>
<p>A ze słuchaniem to jest tak, że Amerykanów potrafię zrozumieć calkiem dobrze, a Anglików już nie :D</p>
<p>Ale muszę zabrać się za czytanie ksiażek po angielsku. A co do czytania książek. to jak czytałeś je po polsku to skąd miałeś pewność, ze dobrze je zrozumiałeś? Początkowo chyba musiałeś każde słowo tłumaczyć i budować zdania bez form gramatycznych?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/53/168">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.wp.pl" rel="nofollow">Adrian</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-jak-wygl%C4%85da-efektywna-metoda-nauki-j%C4%99zyka-obcego#comment-168">Sunday, March 6, 2011 - 16:22</a></span>
</div>
</div>
<div class="indented"><a id="comment-171"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Jako amerykanin też mam problemy z rozumieniem Anglików, jak mówią. ;-)</p>
<p>Z językami nigdy nie masz pewności! :-)  Często zgaduję z kontekstu.  Ale na skali książki, zawsze są dowody pożniej, ktore Ci mówią czy dobrze zgadłeś czy nie.  W krótkich tekstach to trochę trudniej.</p>
<p>Nie odkryłem tej metody na samym początku.  Jak opowiada w filmiku w powyższym komentarzu, uczyłem się polskiego pierwszy rok na uniwersytecie.  W tym kursie uczyliśmy prawie wyłącznie gramatyki.  Więc kiedy zacząłem czytać Harry'ego Pottera w drugim roku, znałem trochę gramatyki ale niczego jeszcze!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/53/171">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-jak-wygl%C4%85da-efektywna-metoda-nauki-j%C4%99zyka-obcego#comment-171">Sunday, March 6, 2011 - 19:21</a></span>
</div>
</div>
</div></div><a id="comment-944"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/64e5374f312f3e0cf097400e150344dc?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>WITAM,</p>
<p>W każdej księgarni z książkami angielskimi (albo na allegro) możesz kupić specjalne okrojone wersje ksiazek(limitowana ilosc slow, zaleznie od poziomu), ktore sa zawsze z plyta. Jak sie wyrobisz w sluchaniu i rozumieniu polecam stronke audible.com. Tysiace ksiazek. Absolutnie niesamowita biblioteka. ściaganie mp3 jest platne, ale doprawdy warto. Wiele z tytulow to ksiazki, ktorych sluchasz przez 50 godzin. Czytane przez super aktorow ( tak dobrych jak Fronczewski, czytający Harrego Nawet nudne prace domowe typu sprzatanie staja sie fajne. No a do tego cwiczysz angielski. Wersje do czytania mozesz sciagnac jak e-book albo wypozyczyc z biblioteki.  Inny sposob to ivona.com, ale uprzedzam, ze ksiazki ivona czyta poprawnie, ale malo autentycznie. Nic dziwnego to przeciez syntezator mowy. Acha, polecam dobry slownin ang/ang<br/>
<a href="http://www.thefreedictionary.com/" title="http://www.thefreedictionary.com/">http://www.thefreedictionary.com/</a>. Powodzenia</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/53/944">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">marchewa (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-jak-wygl%C4%85da-efektywna-metoda-nauki-j%C4%99zyka-obcego#comment-944">Friday, September 30, 2011 - 14:47</a></span>
</div>
</div>
</div><a id="comment-160"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/405fa83edf86f248782789f09898bfaf?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Jeżeli nie rozumiesz jakiś slangowych wyrażeń, to polecam stronę miejski.pl.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/53/160">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-jak-wygl%C4%85da-efektywna-metoda-nauki-j%C4%99zyka-obcego#comment-160">Sunday, March 6, 2011 - 04:56</a></span>
</div>
</div>
<div class="indented"><a id="comment-164"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dziękuję bardzo za linka!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/53/164">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-jak-wygl%C4%85da-efektywna-metoda-nauki-j%C4%99zyka-obcego#comment-164">Sunday, March 6, 2011 - 10:26</a></span>
</div>
</div>
</div><a id="comment-172"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/1a977dd494ffaa6294462aba70d93bec?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hej David </p>
<p>Szacunek David dla ciebie naprawde podziwiam cię jak ty płytnie mówisz w tym skonplikowanym języku :) niektórzy polacy nie potrafią mówić tak jak ty z taka  ekspersją :D ja się ucze angielskiego kilka już lat i z mówieniem jest u mnie strasznie kiepsko choć z pisaniem i czytaniem jest bardzo dobrze filmy mogę spokojnie oglądać bez napisów ale tylko amerykańskie bo z niektórymi z UK mam problem z usłuszeniem dialogów. Czy mógłbyś mi poradzić do czego powinienem przyłożyć się mocniej aby poprawić swój angielski w mowie ?. </p>
<p>Pozdrawiam Serdecznie :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/53/172">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Michał (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-jak-wygl%C4%85da-efektywna-metoda-nauki-j%C4%99zyka-obcego#comment-172">Monday, March 7, 2011 - 20:25</a></span>
</div>
</div>
<div class="indented"><a id="comment-174"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Michał!</p>
<p>Dla mnie czytanie i (zwłaszcza) słuchanie miały bezpośredny wpływ na mówienie.  To znacznie zwiększyło moje aktywne słownictwo, które jest bardzo ważne w rozmowie.  Ale po pewnym poziomie, po prostu musisz dużo mówić żeby robić postępy takie jak kiedyś.</p>
<p>Mógłbyś rozmawiać z ludźmi po angielsku przez Skype?  Lub na żywo z nauczycielem?  Może nawet są native speakerzy w Twoim mieście, z którymi mógłbyś się spotkać na rozmowę?  Najczęściej reklamują na serwisie <a href="http://www.gumtree.pl">Gumtree</a>.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/53/174">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-jak-wygl%C4%85da-efektywna-metoda-nauki-j%C4%99zyka-obcego#comment-174">Tuesday, March 8, 2011 - 15:44</a></span>
</div>
</div>
</div><a id="comment-175"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.zabrzegornik.pl" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e69c32a1c4629a9685f0aeed4d47b3a5?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Polski użytkownik (Michał) powyżej powinien uważać jak pisze, bo może tylko autora tego bloga wprowadzić w błąd swoimi błędami ;)<br/>
płytnie - płynnie<br/>
skonplikowanym - skomplikowanym<br/>
polacy - Polacy<br/>
usłuszeniem - usłyszeniem<br/>
Nie mówiąc już o przecinkach, kropkach, a raczej ich braku...<br/>
Także ja radzę (nie złośliwie) najpierw przyłożyć się do nauki polskiego.<br/>
Zabawne jest to, że Polak prosząc Amerykanina o pomoc w języku polskim popełnia więcej błędów w swoim języku, niż tenże Amerykanin (który w ostatniej wypowiedzi nie popełnił ani jednego błędu).<br/>
Pozdrawiam autora bloga, który jest dla mnie dużą inspiracją w procesie nauki języka angielskiego.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/53/175">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.zabrzegornik.pl" rel="nofollow">Węgielek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-jak-wygl%C4%85da-efektywna-metoda-nauki-j%C4%99zyka-obcego#comment-175">Tuesday, March 8, 2011 - 16:49</a></span>
</div>
</div>
<a id="comment-179"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f1215ccee5f179f324c302f04fd13002?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Zachęciłeś mnie do nauki angielskiego i pokazałeś mi ciekawszą metodę uczenia angielskiego. Czytanie książki w języku obcym.<br/>
Dotychczasowa nauka była mało efektowna - kursy, gramatyka i czytanie mało ciekawych krótkich tekstów.<br/>
Z mojego doświadczenia mogę powiedzieć, iż najlepszą metodą nauki słówek dla mnie jest supermemo. Kiedyś uczyłem się przez pół roku słówek (miałem konto demo w supermemo) i do dnia dzisiejsze słówka pamiętam. A uczyłem się parę lat temu.<br/>
Przypomniałeś mi o tym programie i kupiłem sobie pełną wersje. Teraz codziennie w pracy 20 minut uczę się słówek (zamiast pić kawy) a w domu czytam.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/53/179">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Mr. Boo (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-jak-wygl%C4%85da-efektywna-metoda-nauki-j%C4%99zyka-obcego#comment-179">Thursday, March 10, 2011 - 13:23</a></span>
</div>
</div>
<div class="indented"><a id="comment-182"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dziękuję za komentarz!  Też używam programu komputerowego, który jest bardzo podobny do SuperMemo, żeby sobie pomóc uczyć się słów na pamięć.  To <a href="http://www.ankisrs.net/">Anki</a>.  Dodaję do Anki wszystkie nieznane mi słowa, które spotykam w czytaniu i słuchaniu.</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/53/182">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-jak-wygl%C4%85da-efektywna-metoda-nauki-j%C4%99zyka-obcego#comment-182">Thursday, March 10, 2011 - 17:11</a></span>
</div>
</div>
</div><a id="comment-230"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/fe544dea866df0eff0a330464de9519f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>50 filmików to już coś! Gratuluję i mam nadzieję, że doczekamy się następnych 50 :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/53/230">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">joy (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-jak-wygl%C4%85da-efektywna-metoda-nauki-j%C4%99zyka-obcego#comment-230">Friday, April 1, 2011 - 17:17</a></span>
</div>
</div>
<a id="comment-896"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/090ebd97e4f0d6202f63854e74fb2624?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć,</p>
<p>Trafiłam na Twojego bloga przez przypadek, szukając efektywnej metody nauki języka. Kiedy byłam małym dzieckiem, rozpoczęłam swoją przygodę z językiem angielskim. Nauczyłam się go w sposób pozwalający na w miarę swobodną komunikację. Niestety teraz zmuszona zostałam do nauki kolejnego języka, tym razem francuskiego, co nie przychodzi mi równie łatwo, jak kiedyś nauka angielskiego. I czasem próbuję wtrącać w zdanie po angielsku jakieś słówko po francusku i odwrotnie.<br/>
Zaczęłam naukę w domu, samodzielnie. Opanowałam podstawy wymowy, trafiłam na kilka, moim zdaniem dobrych książek do nauki języka. Potem poszłam na intensywny kurs. W międzyczasie dużo czasu poświęcałam na naukę poprzez oglądanie telewizji, czytanie gazet książek. Filmy zawsze oglądam z napisami, a przy czytaniu książek korzystam ze słownika. Ze słownictwem z każdym dniem jest coraz lepiej. Odkryłam jednak bardzo ciakawy sposób nauki: obserwuję wszystko dookoła siebie: witryny sklepowe, billboardy. Kiedy miałam problemy z liczebnikami, to próbowałam w głowie powiedzieć numery rejestracyjne samochodu, który mnie mijał.<br/>
Jednak z mówieniem u mnie jest trochę gorzej. Dlatego motywacja u mnie spada z dnia na dzień. Będąc w Anglii początkowo miałam opory, żeby mówić. Jednak po dwóch tygodniach blokada językowa znikneła.<br/>
Teraz mieszkam we Francji i z każdym tygodniem moja blokada się powiększa.<br/>
I niestety chodząc na kurs francuskiego, z każdym dniem utwiedzam się w przekonaniu, że gramatyka nie jest na tyle istotna, co mówienie. Niestety moi francuscy nauczyciele tego nie rozumieją.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/53/896">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Pinezka (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-jak-wygl%C4%85da-efektywna-metoda-nauki-j%C4%99zyka-obcego#comment-896">Monday, September 19, 2011 - 10:09</a></span>
</div>
</div>
<div class="indented"><a id="comment-907"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć!</p>
<p>Dziękuję bardzo za podzielenie się Twoim doświadczeniem!  Myślę, że to w ogóle dobrze robisz, z oglądaniem telewizji, czytaniem gazet, itd.  Twoja metoda z liczebnikami jest bardzo interesująca!  Może to sam spróbuję. :-)</p>
<p>Nie podałaś przyczyny dla Twojej blokady z francuskim.  Czy to chodzi o strach przed mówieniem?  To jest sytuacja bardzo często spotykana - sam musiałem walczyć z tym w polskim i nadal mam problemy w niektórych sytuacjach, np. podczas rozmowy przez telefon. :-)</p>
<p>Ale napisałem artykuł (po angielsku) o tym, jak przekonać ten strach:</p>
<p><a href="http://www.linguatrek.com/blog/2011/05/how-to-overcome-your-fear-of-speaking" title="http://www.linguatrek.com/blog/2011/05/how-to-overcome-your-fear-of-speaking">http://www.linguatrek.com/blog/2011/05/how-to-overcome-your-fear-of-spea...</a></p>
<p>Może to byłoby dla Ciebie pożyteczne! :-)</p>
<p>To szkoda, że Twoi nauczyciele nie doceniają mówienia i tak się skupiają na gramatyce. :-/</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/53/907">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-jak-wygl%C4%85da-efektywna-metoda-nauki-j%C4%99zyka-obcego#comment-907">Tuesday, September 20, 2011 - 13:21</a></span>
</div>
</div>
<div class="indented"><a id="comment-930"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/090ebd97e4f0d6202f63854e74fb2624?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć,</p>
<p>Dziękuję za link, muszę przyswoić sobie Twoje wskazówki. </p>
<p>Mój strach przed mówieniem wynika raczej z tego, że nie potrafię szybko i bez zastanowienia mówić. Ponieważ mieszkam w regionie turystycznym, czasami ludzie pytają o drogę, punkty charakterystyczne itp. Ostatnio miałam sytuację, w której pani w autobusie zapytała o pewien plac, zaczęłam mówić, jednak pan siedzący naprzeciwko (Francuz) postanowił mnie szybko wyręczyć, bo widział jak powoli idzie mi mówienie. Francuzi mówią bardzo szybko i oczekują również szybkich odpowiedzi.<br/>
Dodatkowo strach przed mówieniem bierze się z mojego fatalnego akcentu. O ile potrafię rozmawiać po francusku ze znajomymi obcokrajowcami, którzy mnie rozumieją, to nie mam tej łatwości w przypadku rozmowy z Francuzami. Niestety przy napotkaniu pierwszej trudności zaczynamy rozmawiać po angielsku. </p>
<p>A tak na marginesie przy czytaniu Twojego artykułu (How to overcome your fear of speaking) przypomniał mnie się pewien fragment tekstu, który przeczytałam w internecie:<br/>
"Polska...Dziwny kraj, w którym z kelnerem można porozmawiać po angielsku, z kucharzem po francusku, ekspedientem po niemiecku a ministrem lub jakimkolwiek urzędnikiem państwowym tylko za pośrednictwem tłumacza. Polacy...! Jak wy to robicie...?</p>
<p>Pozdrawiam serdecznie,<br/>
Kasia</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/53/930">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kasia (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-jak-wygl%C4%85da-efektywna-metoda-nauki-j%C4%99zyka-obcego#comment-930">Tuesday, September 27, 2011 - 04:35</a></span>
</div>
</div>
</div></div><a id="comment-999"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f333709286464c203d6e7adb08eb1e6b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>czesc :)<br/>
kurcze najchętniej to bym porozmawiała na czacie z obcokrajowcem po angielsku ale co jak niestety nie moge znalesc :(.. bo mysle ze ciagła rozmowa i jak człowiek jest otoczony tym jezykiem to się uczy czy nie tak ;&gt;</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/53/999">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kaja (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-jak-wygl%C4%85da-efektywna-metoda-nauki-j%C4%99zyka-obcego#comment-999">Monday, October 31, 2011 - 09:06</a></span>
</div>
</div>
<div class="indented"><a id="comment-1008"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Kaja!</p>
<p>Możesz znaleźć obcokrajowców do rozmowy na czacie na wielu serwisach w internecie, np:</p>
<p><a href="http://www.languageexchange.org/" title="http://www.languageexchange.org/">http://www.languageexchange.org/</a></p>
<p><a href="http://language-exchange.gregloby.com/" title="http://language-exchange.gregloby.com/">http://language-exchange.gregloby.com/</a></p>
<p>Mam nadzieję, że to pomoże!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/53/1008">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-jak-wygl%C4%85da-efektywna-metoda-nauki-j%C4%99zyka-obcego#comment-1008">Sunday, November 6, 2011 - 09:10</a></span>
</div>
</div>
</div><a id="comment-1000"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f333709286464c203d6e7adb08eb1e6b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Ale naprawde szczeze podziwiam !<br/>
 Pozdrawiam Kaja</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/53/1000">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kaja (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-jak-wygl%C4%85da-efektywna-metoda-nauki-j%C4%99zyka-obcego#comment-1000">Monday, October 31, 2011 - 09:08</a></span>
</div>
</div>
<a id="comment-1843"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/79364bb181dd2e2dbf423949a00351f5?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Do czytania polecam ksiazki, ktore sa napisane w miare latwym jezykiem. Wiele ksiazek po angielsku zawiera duzo niezrozumialych slow i wyrazen. Ja teraz czytam ''Twilight'' pierwsza czesc, naprawde fajnie napisana, a potem w kolejce czeka ''Memoirs of a geisha'' (wyznania gejszy). Przy uczeniu sie jezyka poprzez czytanie ksiazek polecam wybierac takie, ktore przedewszystkim lubimy, potem zanim kupicie przeczytajcie dwie pierwsze strony  i sprawdzcie, czy w miare rozumiecie. Jesli tak, reszte stron przeczytajcie w domu, jesli nie, poszukajcie innej :)<br/>
 Pozdrawiam</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/53/1843">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Goska (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-jak-wygl%C4%85da-efektywna-metoda-nauki-j%C4%99zyka-obcego#comment-1843">Sunday, May 6, 2012 - 11:42</a></span>
</div>
</div>
</div>
