---
permalink: /blog/2011/03/vlog-pomóżcie-mi-tworzyć-wolny-serwis-do-nauki-języków/
layout: blog-old
title: 'Vlog: Pomóżcie mi tworzyć wolny serwis do nauki języków!'
day: 25
month: Mar
year: 2011
category: learn-polish
tags: 
  - 'vlog'
language: en
translation: /blog/2011/03/vlog-pom%C3%B3%C5%BCcie-mi-tworzy%C4%87-wolny-serwis-do-nauki-j%C4%99zyk%C3%B3w/
---
<div class="content">
<p>Zwracam się do Was o pomoc z BiblioBirdem!  Konkretnie z testowaniem nowych funkcji.  Proszę dołącz do zespołu BETA!</p>
<iframe allowfullscreen="" frameborder="0" height="317" src="http://www.youtube.com/embed/hFuQXJmw2Fk?rel=0" style="margin-bottom: 20px" title="YouTube video player" width="510"></iframe>
<p><a href="http://pl.bibliobird.com/node/5213">Oto jest wątek</a> na forum dla programisty.</p>
<p>Czytaj transkrypcję poniżej!</p>
<h2><a name="transcript">Transkrypcja</a></h2>
<ul>
<li>Mówiłem parę razy w moich filmikach o projekcie <a href="http://pl.bibliobird.com">BiblioBird.com</a></li>
<li>To jest serwis internetowy do nauki języków obcych, który ja rozpocząłem</li>
<li>Jest zaprojektowany na podstawie metody, z której sam korzystam, żeby uczyć się polskiego</li>
<li>Czytasz tekst w języku obcym</li>
<li>Kiedy nie znasz pewnego słowa, klikasz na nie i wyświetla się tłumaczenie na język ojczysty</li>
<li>Wszystkie te nieznane słowa są zapamiętane i później możesz powtarzać je w formie fiszek</li>
<li>Razem z tekstem czasem może być nagranie dźwiękowe lub nawet film kiedy tekst jest transkrypcją filmu</li>
<li>Jest bezpłatny</li>
<li>Kod programu, dzięki któremu działa BiblioBird, właśnie był opublikowany otwarcie jako <a href="http://pl.wikipedia.org/wiki/Otwarte_oprogramowanie">Open Source</a></li>
<li>Teraz tylko ja pracuję nad BiblioBirdem</li>
<li>Ale bardzo chciałbym, żeby BiblioBird został projektem społecznościowym, w którym każdy może brać udział</li>
<li>Podobny do Wikipedii, na przykład</li>
<li>Teraz pracuję nad zezwoleniem wszystkim na dodawanie nowych tekstów do BiblioBirda</li>
<li>I pierwszy krok do tego jest zezwoleniem wszystkim na edytowanie haseł w słowniku i ich tłumaczeń</li>
<li>Wkrótce właśnie ta funkcja zostanie wprowadzona do aplikacji</li>
<li>Ale najpierw to wszystko musi być przetestowane</li>
<li>Więc zwracam się o pomoc</li>
<li>Proszę dołącz do zespołu BETA</li>
<li>Członkowie tego zespołu mogą używać nowych funkcji przed ich publicznym wprowadzeniem</li>
<li>Jeśli chcesz pomagać w testowaniu, proszę wyślij mi wiadomość z prośbą o członkostwo razem z Twoją nazwą użytkownika na BiblioBirdzie</li>
<li>Poza tym jeśli jesteś programistą i chcesz pomagać, proszę przedstaw się <a href="http://pl.bibliobird.com/node/5213">w odpowiednim wątku<a></a> na forum</a></li>
<li>Jest odnośnik w opisie</li>
<li>Jeśli nie jesteś programistą i nie masz czasu [żeby] pomagać przy testach, proszę napisz swoje pomysły na forum na BiblioBirdzie</li>
<li>Niestety teraz nie mam tak dużo czasu na tworzenie funkcji zasugerowanych przez użytkowników</li>
<li>Ale jak tam piszesz i inni mogą to widzieć i dodawać komentarze, będzie widać które pomysły są najpopularniejsze</li>
<li>Potem kiedy będę miał więcej czasu lub inni programiści dołączą do zespołu, będziemy wiedzieli co zrobić najpierw</li>
<li>To jest wszechświat możliwości</li>
<li>Teraz BiblioBird jest tylko do nauki języka angielskiego ale możemy rozwijać go do nauki jakiegokolwiek języka</li>
<li>Teraz dostajesz tłumaczenia na język ojczysty ale może w przyszłości zamiast tego mógłbyś wybrać definicje lub synonimy w tym samym języku</li>
<li>Teraz jest bardzo mało tekstów</li>
<li>Ale możemy dodawać cokolwiek nawet całe książki z nagraniami dźwiękowymi</li>
<li>No</li>
<li>Razem możemy stworzyć jeden z najlepszych serwisów do nauki języków obcych</li>
<li>Jestem tego pewien </li>
<li>Ale nie mogę tego robić sam</li>
<li>Dziękuję bardzo za uwagę</li>
<li>Do widzenia</li>
</ul>
</div>

<div id="comments">
<a id="comment-211"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://jezyki.blogspot.com/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/6d53fa800731afb2a772bea06e46fa29?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Świetny pomysł. Powinieneś rozważ dodanie wymowy każdego słowa, lepiej się uczyć słów kiedy można poznać ich wymowę.<br/>
Z niecierpliwością czekam na teksty po francusku!<br/>
Pozdrawiam</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/57/211">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://jezyki.blogspot.com/" rel="nofollow">Paweł</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-pom%C3%B3%C5%BCcie-mi-tworzy%C4%87-wolny-serwis-do-nauki-j%C4%99zyk%C3%B3w#comment-211">Saturday, March 26, 2011 - 04:10</a></span>
</div>
</div>
<a id="comment-213"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e74683e263c8fa47615ad47a7dfcc17b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witaj!<br/>
Nie wiem, czy masz świadomość, że bardzo podobne projekty już istnieją, mają bardzo dużą bazę słówek.</p>
<p><a href="http://www.lingq.com/" title="http://www.lingq.com/">http://www.lingq.com/</a><br/>
<a href="http://www.wordchamp.com/lingua2/Home.do" title="http://www.wordchamp.com/lingua2/Home.do">http://www.wordchamp.com/lingua2/Home.do</a><br/>
O obu znajdziesz trochę informacji na tym blogu:<br/>
<a href="http://jezyk-angielski.gregloby.net/" title="http://jezyk-angielski.gregloby.net/">http://jezyk-angielski.gregloby.net/</a></p>
<p>Zasadnicza różnica jest taka, że nie są Opensource, natomiast w ograniczonym zakresie można korzystać z nich za darmo.</p>
<p>Inną doskonałym rozwiązaniem jest Amazon Kindle + książki w języku, który chcesz poznać, + ewentualnie zmieniony słownik zamiast oryginalnego angielsko - angielskiego.<br/>
Ja w ten sposób doskonale swój ciągle kiepski angielski</p>
<p>Pozdrawiam i życzę sukcesów</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/57/213">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Inny Paweł (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-pom%C3%B3%C5%BCcie-mi-tworzy%C4%87-wolny-serwis-do-nauki-j%C4%99zyk%C3%B3w#comment-213">Saturday, March 26, 2011 - 15:03</a></span>
</div>
</div>
<div class="indented"><a id="comment-215"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Tak, znam te inne serwisy. :-)</p>
<p>Moim zdaniem LingQ nie jest naprawdę bezpłatny bo w wersji bezpłatnej ogranicza ilość zapamiętanych słów do 100.  Jest za mało żeby naprawdę używać tego serwisu, więc to tylko wersja próbna.  Za pożyteczną wersję musisz płacić.</p>
<p>Też jest kilka ważnych (przynajmniej moim zdaniem!) różnic ze strony technologicznej, ale nie będę pisał o nich teraz. :-)</p>
<p>To jest blog Grzegorza Łobińskiego!  To znajomy mój.  Spotykamy się przez Skype tygodniowo na wymianę językową.  Też jest programistą i pracuje nad własnym podobnym serwisem do nauki języków obcych (teraz w fazie BETA ale w przyszłości ten też będzie płatny):</p>
<p><a href="http://www.vocabull.com" title="http://www.vocabull.com">http://www.vocabull.com</a></p>
<p>Znam nawet więcej takich serwisów ale myślę, że BiblioBird ma coś dodać do tego rynku będąc naprawdę bezpłatny i Open Source.  Też myślę, że w przyszłości te różnice w technologii będą powodować, że jakość tłumaczeń na BiblioBirdzie będzie najlepsza. ;-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/57/215">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-pom%C3%B3%C5%BCcie-mi-tworzy%C4%87-wolny-serwis-do-nauki-j%C4%99zyk%C3%B3w#comment-215">Saturday, March 26, 2011 - 15:39</a></span>
</div>
</div>
</div><a id="comment-217"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/41d0a5afe410cfa3353e33c0973e200b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Świetny pomysł. I oczywiście zgadzam się z Davidem... Jest kilka takich serwisów, ale trzeba zauważyć, że prawie wszystkie są płatne i nie dają możliwości rozwiajania swoich umięjętnosci językowych osobą, których na to nie stac ;)</p>
<p>David a co do Twojej osoby: Przed chwilką znalazłem Twojego bloga i się zachwyciłem tym jak dobrze mówisz po Polsku. Nie robisz praktycznie wcale błędów a do tego potrafisz zmotywować do nauki języków obcych. Podziwiam i deklaruje się zaglądać regularnie na Twojego bloga ; ) A przy serwisie mogę pomóc jeżeli tylko będę potrafił.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/57/217">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Sitar (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-pom%C3%B3%C5%BCcie-mi-tworzy%C4%87-wolny-serwis-do-nauki-j%C4%99zyk%C3%B3w#comment-217">Monday, March 28, 2011 - 08:04</a></span>
</div>
</div>
<a id="comment-228"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/2652d159cb7efb134d92bca67fd12a81?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Bardzo dobry pomysł z tym BiblioBirdem, mam nadziję, że szybko się rozwinie.<br/>
I że w przyszłości dojdzie język włoski. :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/57/228">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Lena (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-pom%C3%B3%C5%BCcie-mi-tworzy%C4%87-wolny-serwis-do-nauki-j%C4%99zyk%C3%B3w#comment-228">Friday, April 1, 2011 - 14:24</a></span>
</div>
</div>
<a id="comment-231"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://blog.KrzysztofSzumny.pl" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/2acbf0ee0888104f1c90a85266682990?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[something similar to English]:</p>
<p>I have proposition for you. Currently I don't have enough time to participate other projects, however I think, that I know how you can get an attention of developers community.</p>
<p>Now, your blog is quite known among people which are interested in learning new languages. You are also interesting people which decided to learn "difficult" language like polish (yes, I know what you think about difficulty of our language ;) )</p>
<p>However, mentioned things doesn't help you with getting attention of developers world. I would like to encourage you to start writing/vlogging about programming. We know how job of software developer can look like in Poland... however we (polish developers) don't have to many occasion to read about life and "adventures" of USA developers in polish. Polish "IT blogosphere" is (in my opinion) the most promising part of polish bloggers world. For example you can be interested in to know that wykop.pl (which I guess, you know already ;)) where in some time site especially known among IT guys. </p>
<p>I think there are a lot of people which can be interested in about this part of your life... But in other hand, I am not sure how many of your subscribers can be also scared by this ;)</p>
<p>---------------------------------------------------<br/>
[polski]:</p>
<p>Mam propozycje dla Ciebie. Obecnie nie mam eystarczająco dużo czasu by uczestniczyć w innych projektach, jednak myślę, że wiem jak możesz zdobyć uwagę programistycznej społeczności.</p>
<p>Obecnie, Twój blog jest nawet rozpoznawalny wśród ludzi interesujących się nauką jezyków. Jesteś także interesujący dla ludzi, ponieważ postanowiłeś nauczyć się "trudnego" języka jakim jest polski (tak, wiem co Ty myślisz o trudności tego języka ;))</p>
<p>Jednakże, wspomniane rzeczy nie pomagają Ci zdobyć rozgłosu wśród programistów na świecie. Chciałbym Cię zachęcić do rozpoczęcia pisania/robienia filmików o programowaniu. Wiemy (my-Polacy) jak praca programisty może wyglądać w naszych, polskich warunkach, nie mamy jednak okazji (my polscy programiści), czytać o życiu i "przygodach" amerykańskich deweloperów. Polska blogosfera IT jest w moim mniemaniu najbardziej obiecującą częścią polskiej społeczności bloggerów. Dla przykładu możesz być zainteresowany faktem, że serwis wykop.pl (który zapewne już znasz;)) był w swoim czasie serwisem znanym przede wszystkim wśród ludzi z branży IT.</p>
<p>Sądzę, że jest sporo osób, które mogą być zaineresowane tą częścią Twojego życia, jednak z drugiej strony nie wiem ilu Twoich subskrybentów może zostać przez to wystraszonych ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/57/231">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://blog.KrzysztofSzumny.pl" rel="nofollow">noisy - Krzysztof Szumny</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-pom%C3%B3%C5%BCcie-mi-tworzy%C4%87-wolny-serwis-do-nauki-j%C4%99zyk%C3%B3w#comment-231">Sunday, April 3, 2011 - 19:22</a></span>
</div>
</div>
<div class="indented"><a id="comment-232"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>I agree, blogging about programming would attract more developers!  I've been thinking for awhile about starting a new technology-related blog.  But not yet, writing one blog a week here is hard enough! ;-)</p>
<p>Right now, though, I don't mind not getting too much attention from the developer community.  I still need to write a whole bunch of documentation for the BiblioBird code, before anyone could reasonably contribute!</p>
<p>Regards,<br/>
David.</p>
<p>-----</p>
<p>Zgadzam się, gdybym pisał o programowaniu, przyciągnęłoby uwagi więcej programistów!  Od dawna myślałem o rozpoczęciu nowego blogu na temat technologii.  Ale jeszcze nie jest odpowiedni czas, pisać artykuł tygodniowo dla tego blogu już jest dość trudno! ;-)</p>
<p>Faktycznie, teraz nie martwię się o to, że projekt nie dostaje tak dużo uwagi od społeczności programistycznej.  Jeszcze muszę napisać kupę dokumentacji dla kodu BiblioBirda przed tym, jak ktoś mógłby łatwo współpracować!</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/57/232">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-pom%C3%B3%C5%BCcie-mi-tworzy%C4%87-wolny-serwis-do-nauki-j%C4%99zyk%C3%B3w#comment-232">Monday, April 4, 2011 - 12:56</a></span>
</div>
</div>
</div><a id="comment-240"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9a8cb03a0d20b459b313c180559fa98b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Z swojej strony reklamuję np. stronę LinguaTrek.com na swojej stronie. Jako ulubione strony internetowe.<br/>
Ciekawi mnie jak generujesz wygląd strony bibliobird.com, (sosujesz szablony?) Chętnie bym przygotował propozycję wyglądu, żeby bardziej przyciągała wyglądem. Uważam, iż jest ważne bo duży procent ma wpływ na ocenę programu sam wygląd strony. </p>
<p>Też, czasem nie rób błędu myślowego, że trzeba wszystko napisać samemu. Zawsze wykorzystuj gotowe abyś nie wymyślał koła od nowa. Tak więc, czy bibliobird.com korzysta z jakiegoś frameworka?. Ja np. lubię symfony-project.org ale dawno nic nie pisałem w php. Ale wiem, że ułatwiło to innym programistom. Ponieważ kod programu był by pisany z godnie standardami. Zdecydowanie łatwiej było by rozwijać projekt. W symfony masz dużo już gotowych modułów jak logowanie, zabezpieczenia itd.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/57/240">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Krzysztof (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-pom%C3%B3%C5%BCcie-mi-tworzy%C4%87-wolny-serwis-do-nauki-j%C4%99zyk%C3%B3w#comment-240">Sunday, April 10, 2011 - 03:39</a></span>
</div>
</div>
<div class="indented"><a id="comment-241"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dziękuję za reklamę.  Jaki jest adres Twojej strony?</p>
<p>To jest "theme", który sam stworzyłem.  Niestety zupełnie brakuje mi talentu graficznego. :-)  Tak, BiblioBird jest budowany na podstawie <a href="http://www.drupal.org">Drupal</a>.</p>
<p>Dużo ludzi już zaoferowało swojej pomocy w przygotowaniu nowej szaty graficznej dla BiblioBirda.  Chętnie zaakceptowałbym takiej pomocy, tylko, że obecnie są dwa problemy:</p>
<ol>
<li>Kogo wybrać?  Może najlepiej poruszyć ten temat na forum na BiblioBirdzie, żeby wszyscy mogli podać swoje propozycje i razem moglibyśmy wybrać jedną.</li>
<li>Jeszcze nie wiemy wszystkiego, co będzie w BiblioBirdzie.  Możemy teraz coś zaprojektować ale później kiedy coś dodamy/usuniemy, ten "design" już nie będzie najodpowiedniejszy.  Może to trochę wczesno na to?</li>
</ol>
<p>Ale zgadzam się, że wygląd jest ważny i że, obecnie strona wygląda strasznie -- oprócz logo, które bardzo lubię (moja żona to zrobiła).  Jestem otwarty na sugestie! :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/57/241">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-pom%C3%B3%C5%BCcie-mi-tworzy%C4%87-wolny-serwis-do-nauki-j%C4%99zyk%C3%B3w#comment-241">Sunday, April 10, 2011 - 10:10</a></span>
</div>
</div>
<div class="indented"><a id="comment-242"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9a8cb03a0d20b459b313c180559fa98b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>1. wybrać najlepiej najładniejszy projekt. Dużo ludzi może deklarować chęć pomocy a faktycznie nikt nie zrobi. Jutro sobie usiądę (jak będę mieć czas) i pomyślę. Jak coś zrobię to dam znać. Ale nie obiecuje.  </p>
<p>2. Piszesz, że nie wiesz do końca co będzie w bibliobird. Tutaj radził bym dobrze zastanowić się. Ponieważ natrafiłem na ciekawą stronę <a href="http://www.wordchamp.com" title="http://www.wordchamp.com">http://www.wordchamp.com</a> która umożliwia (z mojego punktu widzenia) to samo co bibliobird tylko jeszcze więcej potrafi. Np. można wybrać dowolną stronę i poprzez stronę wordchamp czytać stronę z artykułami np. Robinson Crusoe Written Anew for Children </p>
<p> <a href="http://www.wordchamp.com/lingua2/ReaderResult.do?assignmentID=0&amp;courseID=0&amp;url=http%3a%2f%2fwww.mainlesson.com%2fdisplay.php%3fauthor%3dbaldwin%26book%3dcrusoe%26story%3dsee%26PHPSESSID%3df6e79d40c6b14860187ddea974b4ada0&amp;fromID=13&amp;toID=35&amp;demo=false&amp;docPhraseID=0&amp;back=" title="http://www.wordchamp.com/lingua2/ReaderResult.do?assignmentID=0&amp;courseID=0&amp;url=http%3a%2f%2fwww.mainlesson.com%2fdisplay.php%3fauthor%3dbaldwin%26book%3dcrusoe%26story%3dsee%26PHPSESSID%3df6e79d40c6b14860187ddea974b4ada0&amp;fromID=13&amp;toID=35&amp;demo=false&amp;docPhraseID=0&amp;back=">http://www.wordchamp.com/lingua2/ReaderResult.do?assignmentID=0&amp;courseID...</a></p>
<p>Należy sobie jasno powiedzieć. Czy jest sens bibliobird. Warto robić, gdy będzie lepszy od konkurencji. Nie wolno zapomnieć o użytkowniku. Odpowiedzieć na proste pytanie Co użytkownikowi strona BiblioBird da. Jakie będą korzyści dla użytkownika.<br/>
Obecnie widzę, że bibliobird robić będzie podobnie co wordchamp. Różnice interfejsie i cenie. </p>
<p>Więc dobrze będzie spisać i ustalić co ma robić strona bibliobird aby czasem się nie potrzebnie napracować. Jasno ustalić jakie funkcje ma mieć, jaki cele itd. To się przyda ponieważ jak mają pracować inni programiści to musi być harmonogram prac, określone cele żeby każdy wiedział co ma robić i żeby nie było bałaganu. Bo jeżeli każdy zacznie dodawać swoje funkcje według swojego upodobania to później nikt nie będzie potrafił obsłużyć strony bibliobird.com</p>
<p>Proponuję przygotować, zebrać najważniejsze dane i zrobić Prototyp strony (bez programowania) np przy pomocy programu Axure. Wykonać makietę strony.<br/>
Do tego wykorzystać jak najwięcej gotowych rozwiązań. np. CMS drupal czy joomla. Framework symfony, jQuery, api google translator,  itd Sprawdzić czy czasem w sieci są gotowe słowniki do wykorzystania na zasadzie open source. </p>
<p>Nie chcę cie straszyć i zniechęcać do pracy bo dzięki tobie poznałem lepszą technikę nauki angielskiego. Ale niech projekt, który zainicjowałeś przyniesie jak najwięcej efektów. Bo dzisiaj jest łatwo napracować się a efektów zero. Praca dla pracy jest kiepskim sposobem na życie. </p>
<p>Adres mojej strony <a href="http://www.grikon.eu/lubie-to" title="http://www.grikon.eu/lubie-to">http://www.grikon.eu/lubie-to</a></p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/57/242">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Krzysztof (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-pom%C3%B3%C5%BCcie-mi-tworzy%C4%87-wolny-serwis-do-nauki-j%C4%99zyk%C3%B3w#comment-242">Sunday, April 10, 2011 - 14:43</a></span>
</div>
</div>
<div class="indented"><a id="comment-243"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>1. Bardzo chciałbym widzieć to, co wymyślisz!  Ale to nie powinno być tylko między nami (tzn Tobą i mną).  Chciałbym, żeby BiblioBird był projektem społecznościowym więc ten proces powien być otwarty dla społeczności!  Proponuję, że podzialasz swoje pomysły na <a href="http://pl.bibliobird.com/forum">forum na BiblioBirdzie</a>.</p>
<p>2. To są bardzo dobre uwagi! :-)  Na pewno jest dość dużo konkurencji (już była mowa o WordChamp <a href="http://www.linguatrek.com/blog/2011/03/vlog-pom%C3%B3%C5%BCcie-mi-tworzy%C4%87-wolny-serwis-do-nauki-j%C4%99zyk%C3%B3w#comment-213">powyżej</a> w komentarzach pod tym samym artykułem).</p>
<p>Z jednej strony, myślę, że zawsze jest jakiś sens aby stworzyć wersję Open Source, nawet kiedy coś takiego już istnieje.  Na samym początku jaki sens miała Wikipedia kiedy już istniała Encyklopedia Brytannica, która miała o wiele więcej artykułów? :-)</p>
<p>Z drugiej strony nasze tłumaczenia są o wiele lepsze od konkurencji (moim zdaniem, oczywiście). I im większa zostaje społeczność, tym lepsze będą tłumaczenia.  A gdyby społeczność została bardzo wielka, inne serwisy nie byłyby w stanie konkurować.  Przynajmniej mam taką nadzieję. ;-)  Marzę o projekcie na bardzo dużej skali. :-)</p>
<p>Czym będzie BiblioBird nie tylko jest kwestią ustalenia -- to też chodzi o potrzeby i ociekiwania społeczności.  Jeszcze ich nie znam.  To jest coś, co musimy razem ukrywać!  Możesz myśleć o obecnym BiblioBirdzie jako prototypie -- ale oczywiście, ściśle mówiąc nie jest bo już jest dużo programowania w nim i nie zamierzam później zacząć od nowa.</p>
<p>Ale wykorzystuje z wielu gotowych rozwiązań, np: Drupal (i dużo modułów), jQuery, <a href="http://www.nltk.org">NLTK</a>. Importujemy hasła w słowniku z wolnych źródeł, np: <a href="http://www.wiktionary.org">Wiktionary</a> i <a href="http://www.polskie-slowniki.eu/">Polskich Słowników</a>.</p>
<p>Ale stworzenie małych (prawdziwych) prototypów dla konkretnych funkcji ma największy sens.  To dobry sposób na dyskusję o tych funkcjach.  Nie sądzę, że będzie bałagan.  Wystarczy dobrze i otwarcie komunikować się z sobą w publicznym miesjcu (np. na forum).  Mam doświadczenie z różnymi innymi projektami Open Source i w ten sposób wszystko było w porządku.</p>
<p>Trochę przeglądałem Twoją stronę, fajnie wygląda!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/57/243">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-pom%C3%B3%C5%BCcie-mi-tworzy%C4%87-wolny-serwis-do-nauki-j%C4%99zyk%C3%B3w#comment-243">Sunday, April 10, 2011 - 18:50</a></span>
</div>
</div>
<a id="comment-261"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9a8cb03a0d20b459b313c180559fa98b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Moja propozycja dla strony głównej biblioBird</p>
<p><a href="http://pokazywarka.pl/inoll1/">Strona główna BiblioBird</a></p>
<p>Na podstronach menu "wprowadzenie, czytelnia, blog" pojawi się u góry.</p>
<p>po najechaniu myszką na wprowadzenie wyświetlać ma dymek wyjaśniający co znajduje sie na danej stronie. </p>
<p>Starałem się żeby było proste i duże klawisze ponieważ idzie era tabletów (ekranów dotykowch). A tak naprawdę bibliobird to narzędzie wiec nie ma co utrudniać i komplikować.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/57/261">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Krzysztof (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-pom%C3%B3%C5%BCcie-mi-tworzy%C4%87-wolny-serwis-do-nauki-j%C4%99zyk%C3%B3w#comment-261">Tuesday, April 12, 2011 - 12:42</a></span>
</div>
</div>
<div class="indented"><a id="comment-262"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9a8cb03a0d20b459b313c180559fa98b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>To jest szkic. Wiele żeczy jest do poprawki. Tak więc jak spodoba się. To można przysiąść i dopracować. </p>
<p>Widzę, że pokazywarka rozmydla zdjęcie :(  może bezpośredni link lepszy będzie <a href="http://s1.pokazywarka.pl/bigImages/523531/1443671.jpg" title="http://s1.pokazywarka.pl/bigImages/523531/1443671.jpg">http://s1.pokazywarka.pl/bigImages/523531/1443671.jpg</a></p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/57/262">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Krzysztof (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-pom%C3%B3%C5%BCcie-mi-tworzy%C4%87-wolny-serwis-do-nauki-j%C4%99zyk%C3%B3w#comment-262">Tuesday, April 12, 2011 - 12:47</a></span>
</div>
</div>
<div class="indented"><a id="comment-284"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Rozpocząłem wątek na forum dla dyskusji na ten temat:</p>
<p><a href="http://en.bibliobird.com/node/5971" title="http://en.bibliobird.com/node/5971">http://en.bibliobird.com/node/5971</a></p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/57/284">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/03/vlog-pom%C3%B3%C5%BCcie-mi-tworzy%C4%87-wolny-serwis-do-nauki-j%C4%99zyk%C3%B3w#comment-284">Thursday, April 14, 2011 - 15:25</a></span>
</div>
</div>
</div></div></div></div></div>
</div>
