---
permalink: /blog/2011/03/you-dont-need-talent-to-learn-a-language/
layout: blog-old
title: 'You don''t need talent to learn a language'
day: 8
month: Mar
year: 2011
category: language learning
tags: [ ]
language: en
translation: 
---
<div class="content">
<p><em>(I recorded <a href="http://www.linguatrek.com/blog/2011/02/vlog-nie-trzeba-mie%C4%87-talentu-%C5%BCeby-nauczy%C4%87-si%C4%99-j%C4%99zyka">a video in Polish about the same topic</a>. It's one of my favorite videos of all time! Especially the ending. ;-))</em></p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/03/talent.jpg" rel="lightbox"><img alt="Girl doing gymnastics" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/03/talent.jpg" title="Wow, that's talent!  Or is it?  Photo by Chrissy Wainwright."/></a><div class="caption">Wow, that's talent!  Or is it?  <a href="http://www.flickr.com/photos/90935137@N00/351684037">Photo</a> by <a href="http://www.flickr.com/people/wainwright/">Chrissy Wainwright</a>.</div></div>
<p>Many people believe that you're either born with a talent for learning languages or you're not.</p>
<p>What's more, most people believe they lack this talent only because they were unsuccessful at learning a language in school.  They may believe they are already hopeless - so, why even try?</p>
<p>Luckily, this is <em>completely untrue</em>!  You don't need innate talent to learn a language!</p>
<p><strong>Read more to find out why.</strong></p>
<h2><a name="humans">Humans learn languages</a></h2>
<p>Humans are <em>designed to learn languages</em>.  It is one of our basic functions.</p>
<p>Only a handful of people have been documented as <em>never</em> learning a single language (ex. <a href="http://en.wikipedia.org/wiki/Genie_(feral_child)">Genie</a> or <a href="http://en.wikipedia.org/wiki/Victor_of_Aveyron">Victor of Aveyron</a>) - and those are all extreme cases in which the person grew up without normal human contact.</p>
<p>If you are reading this, you have already learned at least one language and you can do it again. :-)</p>
<h2><a name="i-have-no-talent">I have no talent for languages...</a></h2>
<p>... but I've been pretty successful at learning Polish!</p>
<p>I've met two or three people who are truly gifted at learning languages - and I know I'm not one of them.</p>
<p>First of all, some people can learn languages without trying very hard.  I have devoted a lot of time to learning Polish over the last four years.  In 2008, I spent at least two hours a day on Polish for the entire year.  If you do anything for two hours a day, you will get good at it.</p>
<p><strong>This isn't talent, it's hard work!</strong></p>
<p>Of course, not everyone has two hours a day for language learning.  But even if you spend only 20 minutes a day, you <em>will</em> eventually learn the language!</p>
<p>Second of all, I spent six years studying Spanish in school and didn't learn <em>anything</em>!  Later, when I spent four years studying Russian at university, I got to an intermediate level, but didn't achieve great success.</p>
<p>If I really had a talent for language learning, wouldn't I have learned Spanish and Russian easily?</p>
<h2><a name="anyone-can-do-it">Anyone can learn any language!</a></h2>
<p><a href="http://www.linguatrek.com/blog/2011/03/language-learning-is-more-like-karate-than-math">Last week, I wrote</a> about how learning a language is more like athletic training than learning a traditional school subject, like mathematics.</p>
<p>Barring physical disability, no one can say, "I just don't have a talent for running."  The ability to run isn't a question of talent -- it's a basic function of being human: everyone can do it.</p>
<p>If you want to get better at it, you have to train regularly.  Reading articles about running won't make you a better runner -- you just have to do it.</p>
<p>Over time, you can run faster and longer distances.  You don't have to learn the physics of the human body to improve -- it just happens automatically through training.</p>
<p>Obviously, language learning and running aren't <em>exactly the same</em>.  But all the things I just said about running can be applied to language learning as well.</p>
<h2><a name="three-ingredients">If not talent, then what?</a></h2>
<p>I believe the <a href="http://www.linguatrek.com/blog/2011/03/the-three-ingredients-for-successful-language-learning">three ingredients</a> to successful language learning are: <strong>time</strong>, <strong>motivation</strong> and <strong>an effective method</strong>.</p>
<p>It is these three things that make the difference between a successful language learner and an unsuccessful one.  I will write more about this next week!  Stay tuned!</p>
</div>

<div id="comments">
<a id="comment-185"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2011/03/the-three-ingredients-for-successful-language-learning" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] it talent with languages? Nope! Last week I wrote that talent isn't necessary to learn a language. So, what [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/52/185">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2011/03/the-three-ingredients-for-successful-language-learning" rel="nofollow">The three ingredients for successful language learning | Lin</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/you-dont-need-talent-to-learn-a-language#comment-185">Tuesday, March 15, 2011 - 10:30</a></span>
</div>
</div>
<div class="indented"><a id="comment-328"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/df1019af76771f9d8710ef59a1f5151f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Historia Gine jest zatrważająca.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/52/328">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">viddhi108 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/you-dont-need-talent-to-learn-a-language#comment-328">Monday, May 16, 2011 - 17:49</a></span>
</div>
</div>
<div class="indented"><a id="comment-340"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/dffbd9c153a00c85ec398aea2049f569?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Fakt, ta historia jest przerażająca, trudna do ogarnięcia wyobraźnią.<br/>
Poniekąd potwierdza ona, że człowiek musi mieć w pewnym wieku odpowiednią bazę intelektualną, żeby mógł uczyć się nowych rzeczy. Jeżeli dorosły człowiek nie potrafi w bogaty stylistycznie i poprawny gramatycznie sposób wyrażać myśli w swoim ojczystym języku, to - moim zdaniem - nie ma szans na opanowanie języka obcego na dobrym  poziomie.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/52/340">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">gr (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/you-dont-need-talent-to-learn-a-language#comment-340">Friday, May 20, 2011 - 05:50</a></span>
</div>
</div>
<div class="indented"><a id="comment-356"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/df1019af76771f9d8710ef59a1f5151f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Bardzo mi przykro z powodu Twojego problemu.<br/>
 Ucz się wytrwale i nie przejmuj się swoimi brakami<br/>
 i tak osiągniesz postęp!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/52/356">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">viddhi108 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/you-dont-need-talent-to-learn-a-language#comment-356">Tuesday, May 24, 2011 - 16:22</a></span>
</div>
</div>
</div></div></div><a id="comment-673"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2011/08/heinrich-schliemann-a-famous-polyglot%E2%80%99s-method" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] said many times that anyone can learn a language and how fast you learn a language depends on how much time you devote to [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/52/673">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2011/08/heinrich-schliemann-a-famous-polyglot%E2%80%99s-method" rel="nofollow">Heinrich Schliemann: a famous polyglot’s method | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/you-dont-need-talent-to-learn-a-language#comment-673">Tuesday, August 2, 2011 - 09:59</a></span>
</div>
</div>
<a id="comment-1531"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/03/why-i-almost-shut-down-linguatrek-and-bibliobird-and-our-big-dream" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] told the story of how I learned Polish (despite failing to learn other languages) many times. For example, just last week, when I finally published my "About me" [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/52/1531">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/03/why-i-almost-shut-down-linguatrek-and-bibliobird-and-our-big-dream" rel="nofollow">Why I almost shut down LinguaTrek and Bibliobird... and our </a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/you-dont-need-talent-to-learn-a-language#comment-1531">Tuesday, March 27, 2012 - 09:40</a></span>
</div>
</div>
<a id="comment-1783"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/01/language-learning-guide" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] You don't need talent to learn a language (video in Polish) [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/52/1783">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/01/language-learning-guide" rel="nofollow">Language learning guide? | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/you-dont-need-talent-to-learn-a-language#comment-1783">Wednesday, May 2, 2012 - 20:09</a></span>
</div>
</div>
<a id="comment-1800"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/02/how-to-become-a-self-directed-language-learner" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] starts with a description of Aaron's language learning history - which has a lot of parallels to my own! He studied German in school and achieved little. Then he spent many years learning Spanish and [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/52/1800">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/02/how-to-become-a-self-directed-language-learner" rel="nofollow">How to become a self-directed language learner | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/you-dont-need-talent-to-learn-a-language#comment-1800">Wednesday, May 2, 2012 - 20:18</a></span>
</div>
</div>
<a id="comment-1809"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/04/natural-language-learning-without-a-teacher" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] who think they don't have a talent for learning language (but in truth no talent is necessary - just a good [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/52/1809">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/04/natural-language-learning-without-a-teacher" rel="nofollow">Natural Language Learning (without a teacher!) | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/you-dont-need-talent-to-learn-a-language#comment-1809">Wednesday, May 2, 2012 - 20:28</a></span>
</div>
</div>
<a id="comment-1947"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8f92852e25eb9a6f984e050da81ef9ff?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>First off, let me tell you guys this is partly true, and not true.</p>
<p>This man who is speaking here, who has been 'pretty successful at polish' as he put it, probably was, and I agree with him that everyone can learn a language to an extent. </p>
<p>However, by studying 2 meager hours a day, always surrounded by an environment that speaks your regular language, whatever it may be, you will never learn to be fluent by this manner.</p>
<p>When I was a child, I attended a French Immersion School to learn French. It was ONLY speaking in French for roughly 7 hours a day, and english was punished by reduction of recess time-Something crucial to children at that age. </p>
<p>I graduated in 6th grade, and even then, I have not achieved the highest level of fluency, but had already won several national wide competition awards for french! </p>
<p>Most of my teachers say that I have a talent for learning languages. I'm not quite sure if I do, but All I know is that if you want to learn a language fluently, travel to a country, and stay for a few years. You will be fluent at that point. </p>
<p>I am currently fluent in 3 languages, and working on my 4th.</p>
<p>Cheers and Good luck to your success in learning languages!</p>
<p>~Rhidian</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/52/1947">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Rhidian (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/you-dont-need-talent-to-learn-a-language#comment-1947">Thursday, May 17, 2012 - 21:44</a></span>
</div>
</div>
<div class="indented"><a id="comment-1952"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Being in the country where the language is spoken definitely provides the most resources for learning a language. But I don't think it's <em>required</em> to learn a language:</p>
<p><a href="http://www.linguatrek.com/blog/2011/07/you-dont-need-to-live-in-a-foreign-country-to-learn" title="http://www.linguatrek.com/blog/2011/07/you-dont-need-to-live-in-a-foreign-country-to-learn">http://www.linguatrek.com/blog/2011/07/you-dont-need-to-live-in-a-foreig...</a></p>
<p>Also, I think two hours a day is a lot!  Most people work 8-10 hours a day, have responsibilities at home (ex. kids), etc.  It can be hard to find even 15 minutes a day for a new activity let alone two hours! And of course, most also can't travel to another country for a few years.</p>
<p>I understand that you are committed to being a polyglot and so language learning is somewhere higher up on your personal list of priorities.  But my blog is aimed at normal people, who aren't necessarily obsessed with languages, who are struggling to learn even one or two.  It is definitely possible to acheive a very high level while spending a modest amount of time per day and without traveling to the country!</p>
<p>What you comment says (exaggerated for effect) is: "If you can't spend more than two hours a day or travel to the country for a few years - don't even bother trying."</p>
<p>I don't think that's very useful advice for the readers of my blog. :-)</p>
<p>Congratuations on acheiving such a high level in your three languages!  I wish you the best of luck with your fourth and beyond!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/52/1952">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/03/you-dont-need-talent-to-learn-a-language#comment-1952">Friday, May 18, 2012 - 06:22</a></span>
</div>
</div>
</div><a id="comment-1983"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.fluentin3months.com/polish/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] who rationalized giving up on learning Polish because it was the hardest language in the word and they don’t have a talent for languages. There are even more people who wanted to learn Polish – but gave up before they started, [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/52/1983">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.fluentin3months.com/polish/" rel="nofollow">What makes learning Polish so easy? | Fluent in 3 months - L</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/you-dont-need-talent-to-learn-a-language#comment-1983">Tuesday, May 22, 2012 - 11:30</a></span>
</div>
</div>
<a id="comment-3544"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/03/about-me-and-my-mission" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] people think you need to have "a talent for languages." Or that you have to live in the country where the language is spoken. Or that memorizing [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/52/3544">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/03/about-me-and-my-mission" rel="nofollow">About me (and my mission) | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/03/you-dont-need-talent-to-learn-a-language#comment-3544">Tuesday, January 22, 2013 - 10:28</a></span>
</div>
</div>
</div>
