---
permalink: /blog/2012/02/spreading-our-love-of-poland/
layout: blog-old
title: 'Spreading our love of Poland'
day: 21
month: Feb
year: 2012
category: Poland
tags: 
  - 'Brooke'
language: en
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/02/love.jpg" rel="lightbox"><img alt="Red hearts with wings" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/02/love.jpg" title="Photo by Erika Tricroche"/></a><div class="caption"><a href="http://www.flickr.com/photos/26358240@N02/3931909203">Photo</a> by <a href="http://www.flickr.com/photos/erika_tricroche/">Erika Tricroche</a></div></div>
<p><strong>We just got an email from my mother-in-law that I am <em>sooo</em> excited about!</strong></p>
<p>She works as a 1st grade teacher near Appleton, Wisconsin.  When my wife and I were in Poland, we <a href="http://www.linguatrek.com/blog/2011/07/teaching-english-in-poland">worked as English teachers</a>.  Although our students were a little older than hers, we set up a <em>penpal project</em> with her students in the USA.</p>
<p>So, our students in Poland wrote letters to her students in the USA.  Then they wrote back - and so on.  I think both groups managed to write two letters in the course of a school year.</p>
<p>My wife returned to the USA a few times to visit family.  One of those times she went to her mother's class to talk about Poland.  She told a few fairy tales about Kraków (from the book <a href="http://bookadvisor.eu/The-Legends-of-Cracow;s,book,id,377">Legends of Cracow</a>), including the one about the Wawel dragon.  This was already almost two years ago.</p>
<p><strong>Then, at the end of last month, Brooke, one of my mother-in-law's former students, wrote her a letter.  This little girl - <em>who has no Polish heritage</em> - is still thinking about Poland!  It appears we've managed to spread <a href="http://www.linguatrek.com/blog/2011/03/how-long-have-i-been-obsessed-with-poland">our love of Poland</a> to her.</strong></p>
<p>I think it's contagious. ;-)</p>
<p><strong>Read more to see her actual letter!</strong></p>
<h2>Brooke's letter</h2>
<p>I've linked images of her actual letter below.  Her handwriting can be a little difficult to read and pencil doesn't scan very well, so I've transcribed the parts about Poland.</p>
<div style="text-align: center">
<a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/02/letter-001.jpg" rel="lightbox"><img alt="Letter page 2" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/02/letter-001.jpg" title=""/></a>
<a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/02/letter-002.jpg" rel="lightbox"><img alt="Letter page 1" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/02/letter-002.jpg" title=""/></a>
</div>
<p>Brooke writes:</p>
<blockquote>
<p>What's new about your daughter in Poland?  Did she move because I would like to learn more about Poland like I did in first grade.</p>
<p>It was really fun when we got pen pals and your daughter came in.</p>
<p>I was so excited.</p>
<p>She taught us everything I wanted to learn, but I still want to learn a lot more.</p>
<p>Can you ask her when she's coming back?  Or if she's coming back?  Have you been to Poland?  I haven't but I want to.</p>
</blockquote>
<p>My favorite part is when she asks, "Or if she's coming back?"  Why would anyone ever want to come back from Poland?! ;-)</p>
<h2>Spreading our love of Poland</h2>
<p>It's not uncommon for Americans with Polish heritage to have a warm place in their heart for Poland and its people.  But people without any connection to Poland frequently have trouble finding it on a map. :-/</p>
<p>What's so wonderful about this situation is that Brooke has formed her own personal connection to Poland, not by heritage - but through a penpal, and through the enthusiasm that my wife feels toward Poland.  We should really do this sort of thing more often!</p>
<p>I'm so excited about this, I think I'm going to make a video about it in Polish, too!</p>
<p><strong>Can you help me with the Polish title?  Maybe a translation of the English title (<em>rozdawanie naszej miłości do Polski</em>?) or something completely different (<em>Dziewczynka, która polubiła Polskę</em>)?  Please let me know in the comments!</strong></p>
<p><strong>Do you know of any similar situations?  How do you think we could inspire other young people to have more interest in Poland?  Please leave a comment below!</strong></p>
</div>

<div id="comments">
<a id="comment-1340"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c4410517bfa619a78c030ee90df3a81b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć!!<br/>
Polecam Ci ciekawy film dokument o niedźwiedziu, który był ...żołnierzem podczas II wojny światowej, link  <a href="http://www.youtube.com/watch?v=IG2xGu9a6X4" title="http://www.youtube.com/watch?v=IG2xGu9a6X4">http://www.youtube.com/watch?v=IG2xGu9a6X4</a></p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/122/1340">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">BehemotowyKot (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/02/spreading-our-love-of-poland#comment-1340">Tuesday, February 21, 2012 - 11:29</a></span>
</div>
</div>
<div class="indented"><a id="comment-1347"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dziękuję za linka!  To bardzo ciekawa... i dziwna historia. :)  Kiedy mam trochę więcej wolnego czasu, obejrzę cały filmik.  Pozdrawiam, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/122/1347">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/02/spreading-our-love-of-poland#comment-1347">Wednesday, February 22, 2012 - 07:39</a></span>
</div>
</div>
<div class="indented"><a id="comment-1358"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a140205686f16e7af2fc493d5ca1e263?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>lepiej brzmi "Kiedy bede mial trochę więcej wolnego czasu..." gdyz mowimy tu o przyszlosci. Taka mala poprawka :) Boje sie ze jak bedziemy poprawiac Davida, to kiedys obroci sie to przeciwko nam i wtedy to on bedzie nam wytykal nasze bledy :):):) Ja osobiscie lubie kiedy sie mnie poprawia, bo na bledach najlepiej sie uczyc wiec mysle ze sie nie gniewasz :)</p>
<p>Co do filmu, obejrzalam caly. Niesamowita historia... tylko czemu nas wtedy o tym nie uczono?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/122/1358">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">trzpiot (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/02/spreading-our-love-of-poland#comment-1358">Wednesday, February 22, 2012 - 17:23</a></span>
</div>
</div>
</div><a id="comment-1369"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Wczoraj wreszcie obejrzałem cały ten film i muszę się przyznać, że jest to bardzo interesująca historia!  To może zasługuje na cały artykuł! :-)  Pozdrawiam, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/122/1369">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/02/spreading-our-love-of-poland#comment-1369">Friday, February 24, 2012 - 11:04</a></span>
</div>
</div>
</div><a id="comment-1341"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/bc581d36e535006cf431a7aad17e1c66?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Maybe somethink like "Zaszczepiliśmy naszą miłość do Polski" ?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/122/1341">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kacper Wojtyniak (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/02/spreading-our-love-of-poland#comment-1341">Tuesday, February 21, 2012 - 12:27</a></span>
</div>
</div>
<div class="indented"><a id="comment-1342"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/bc581d36e535006cf431a7aad17e1c66?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>What a mistake. I wanted to write "something" with 'g' at the end...</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/122/1342">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kacper Wojtyniak (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/02/spreading-our-love-of-poland#comment-1342">Tuesday, February 21, 2012 - 12:28</a></span>
</div>
</div>
<a id="comment-1348"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks for the suggestion!  It's a much more natural translation into Polish than what I had.</p>
<p>Don't worry about the thing/think mistake. I actually do that all the time myself. :-) I type both of those words soooo often that it's easy to accidentally type the wrong one.</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/122/1348">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/02/spreading-our-love-of-poland#comment-1348">Wednesday, February 22, 2012 - 07:41</a></span>
</div>
</div>
</div><a id="comment-1343"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/80b59ec179fbb4d83e0b785dfcabc2f4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>O dziewczynce która pokochała Polskę.<br/>
Zaraziliśmy Polską małą Brook.<br/>
Brook mała Amerykanka która śni o Polsce.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/122/1343">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Marek S....ński (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/02/spreading-our-love-of-poland#comment-1343">Tuesday, February 21, 2012 - 13:40</a></span>
</div>
</div>
<div class="indented"><a id="comment-1349"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Marek!  Dziękuję za propozycje. :-) Podobają mi się bardzo. Pozdrawiam, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/122/1349">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/02/spreading-our-love-of-poland#comment-1349">Wednesday, February 22, 2012 - 07:43</a></span>
</div>
</div>
</div><a id="comment-1344"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d0ec7dbdd1ead7fb16d8425d4b95d09d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I think the best translation of "Spreading our love of Poland" would be "Szerzenie miłości do Polski".</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/122/1344">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kamil (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/02/spreading-our-love-of-poland#comment-1344">Tuesday, February 21, 2012 - 13:56</a></span>
</div>
</div>
<div class="indented"><a id="comment-1350"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Aha, thanks for the translation!  It's much better than my attempt. :-)  Regards, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/122/1350">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/02/spreading-our-love-of-poland#comment-1350">Wednesday, February 22, 2012 - 07:43</a></span>
</div>
</div>
<a id="comment-1353"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Jakoś mi to nie pasuje w tym kontekście.</p>
<p>• szerzyć nienawiść - OK<br/>
• szerzyć słowo - OK (trochę biblijne)</p>
<p>Ale na sto procent nie jestem pewny. :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/122/1353">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/02/spreading-our-love-of-poland#comment-1353">Wednesday, February 22, 2012 - 10:01</a></span>
</div>
</div>
<div class="indented"><a id="comment-1355"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d0ec7dbdd1ead7fb16d8425d4b95d09d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Może masz rację. Można by było też napisać "zaszczepiać..." lub "wzbudzać miłość do Polski", ale to trochę mniej dosłowne tłumaczenia.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/122/1355">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kamil (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/02/spreading-our-love-of-poland#comment-1355">Wednesday, February 22, 2012 - 10:08</a></span>
</div>
</div>
<div class="indented"><a id="comment-1357"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Ale nigdy nie musi być dosłowne tłumaczenie. :)<br/>
„zaszczepić miłość” brzmi fajnie.</p>
<p>Ja bym użył „wzbudzić” w kontekście niepokój, ciekawość, ale widzę w słowniku, że też się go używa w kontekście miłości. :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/122/1357">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/02/spreading-our-love-of-poland#comment-1357">Wednesday, February 22, 2012 - 11:52</a></span>
</div>
</div>
</div></div></div><a id="comment-1345"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a140205686f16e7af2fc493d5ca1e263?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>"Milosc do Polski nie zna granic" :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/122/1345">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">trzpiot (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/02/spreading-our-love-of-poland#comment-1345">Tuesday, February 21, 2012 - 15:50</a></span>
</div>
</div>
<div class="indented"><a id="comment-1351"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>To brzmi jak dobry tytuł do dwugodzinnego filmu. ;-)  Podoba mi się bardzo.  Pozdrawiam, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/122/1351">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/02/spreading-our-love-of-poland#comment-1351">Wednesday, February 22, 2012 - 07:44</a></span>
</div>
</div>
</div><a id="comment-1346"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>„Dziewczynka, która •zapałała• miłością do Polski”? / ‘the girl who fell in love with Poland’</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/122/1346">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/02/spreading-our-love-of-poland#comment-1346">Wednesday, February 22, 2012 - 03:38</a></span>
</div>
</div>
<div class="indented"><a id="comment-1352"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>To fajna propozycja - brzmi dość poetycznie! :-)  Pozdrawiam, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/122/1352">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/02/spreading-our-love-of-poland#comment-1352">Wednesday, February 22, 2012 - 07:46</a></span>
</div>
</div>
<div class="indented"><a id="comment-1354"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Nie obraź się, ale powinno być „poetycko” :)<br/>
Ale mam nadzieję, że się nie obrazisz, bo sam prosiłeś by Cię poprawiać. :)</p>
<p>Swoją drogą pisząc „Cię” przyszła mi do głowy jedna rzecz. Mianowicie, może napisałbyś, jak bardzo różnimy się od Amerykanów, zwracając uwagę na takie drobnostki jak zwracanie się do kogoś z dużej litery (Cię, Tobie, etc.), pisanie przez Pan/Pani? To zupełnie odwrotnie do bezpośredniego stylu Twoich (znowu :D) rodaków. :)</p>
<p>Tak by przeciętny odbiorca zagraniczny mógł zrozumieć te zawiłości. :)<br/>
Najlepiej gdybyś napisał to po angielsku. :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/122/1354">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/02/spreading-our-love-of-poland#comment-1354">Wednesday, February 22, 2012 - 10:05</a></span>
</div>
</div>
<div class="indented"><a id="comment-1356"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Ale również chętnie przeczytałbym, jak zwracać się z szacunkiem w formalnych listach. Ostatnio zaczynałem takie listy od „Dear Sirs”, ale nie jestem pewien czy to poprawne. :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/122/1356">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/02/spreading-our-love-of-poland#comment-1356">Wednesday, February 22, 2012 - 10:08</a></span>
</div>
</div>
<div class="indented"><a id="comment-1361"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.boshka-art.blogspot.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8b6885c2dd3a8c459c143dcad2dd5e58?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>....ja zauważyłam,ze niektóre listy zaczynają sie tu tak:<br/>
To whom it may concerns ......bla bla bla ;-)<br/>
ale to nie jest oczywiście zadna reguła.Wszystko zalezy o co chodzi w liście i do kogo się zwracasz..</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/122/1361">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.boshka-art.blogspot.com" rel="nofollow">Boshka</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/02/spreading-our-love-of-poland#comment-1361">Thursday, February 23, 2012 - 05:02</a></span>
</div>
</div>
<div class="indented"><a id="comment-1365"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>"To whom it may concern" jest używane tylko kiedy nie jest wiadomo do kogo ten list powinno być skierowany.  Kiedy wiesz na pewno kogo to dotyczy, najlepiej napisać Mr/Ms/Mrs nazwisko.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/122/1365">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/02/spreading-our-love-of-poland#comment-1365">Thursday, February 23, 2012 - 18:31</a></span>
</div>
</div>
</div><a id="comment-1368"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Tak nauczyłem się w szkole i nadal tak robię...</p>
<p>Nieformalne listy zaczynają się od:</p>
<blockquote><p>Dear John,</p></blockquote>
<p>I formalne listy zaczynają się od:</p>
<blockquote><p>Mr. Smith:</p></blockquote>
<p>I jeśli to kiebieta, piszesz Ms. kiedy nie wiesz czy jest zamężna czy nie.  Jeśli wiesz na pewno (np. ona tak napisała w poprzednim liście) to Miss. dla niezamężna i Mrs. dla zamężna.</p>
<p>Mam nadzieję, że to pomoże!</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/122/1368">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/02/spreading-our-love-of-poland#comment-1368">Thursday, February 23, 2012 - 18:40</a></span>
</div>
</div>
</div><a id="comment-1364"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Aha, dzięki za poprawkę! Czasem po prostu wymyślam nowe słowa. ;-)</p>
<p>To, że po polsku pisze się Ty/Cię/Tobie/itd dużymi literami ale po angielsku tak pisze się I (ja) - to naprawdę drobnostka.  Ale to wszystko z Pan/Pani jest dla mnie bardzo dziwne. :-)  Z strony lingwistycznej jest oczywiście dość trudno ale taka formalność jest w ogóle bardzo obca.  Zawsze mówię/piszę: Jako Amerykanin nie znoszę formalności. ;-)  Jesteśmy narodem bardzo rozluźniony.</p>
<p>To dobry temat na nowy artykuł.  Dodałem go do moich notatek. :-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/122/1364">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/02/spreading-our-love-of-poland#comment-1364">Thursday, February 23, 2012 - 18:28</a></span>
</div>
</div>
<div class="indented"><a id="comment-1393"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.facebook.com/Magister.korepetycje.przez.Skype" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/0fea4643aef2972bd2237c102f801561?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>wymyślasz nowe słowa, inaczej rzecz ujmując - tworzysz NEOLOGIZMY ,<br/>
ps.<br/>
pozdrawiam Ciebie i najbardziej polski stan Wisconsin</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/122/1393">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.facebook.com/Magister.korepetycje.przez.Skype" rel="nofollow">Monteclarus</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/02/spreading-our-love-of-poland#comment-1393">Tuesday, February 28, 2012 - 18:25</a></span>
</div>
</div>
<div class="indented"><a id="comment-1404"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Aha, no, tak!  Lubię tworzyć neologizmy nawet po angielsku.  Podoba mi się brzmienie tego: "polski stan Wisconsin" :-)</p>
<p>Właśnie zajrzałem do Twojej strony i to fajna sprawa, że robisz korepetycje z historii przez Skype.  Jak to zwykle wygląda?  Czy uczeń najpierw coś czyta/słucha i potem o tym rozmawiasz?</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/122/1404">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/02/spreading-our-love-of-poland#comment-1404">Friday, March 2, 2012 - 09:00</a></span>
</div>
</div>
</div></div></div></div></div><a id="comment-1360"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.boshka-art.blogspot.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8b6885c2dd3a8c459c143dcad2dd5e58?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Welcome David..pewnie dlatego, ze mieszkam poza granicami Polski  i wiem jak bardzo trudno zachęcić "tubulców" do zainteresowania się obcym językiem czy idąc dalej poprostu obacą kulturą - jestem Ci bardzo wdzięczna za Twoj osobisty wklad w dzielenie się miłościa do j.polskiego i do Polski poprostu;-)<br/>
Zarażasz tym bakcylem innych ludzi;-)Dzis ,moze sie wydawać,ze to TYLKO mała Brook ,ale jestem pewna ,ze Twoja wspolna droga z Polską i (J)polskim dopiero się zaczęła na dobre;-)))<br/>
Tacy zapaleńcy,-trudne słowo;) jak Ty (i nie mam tu również żadnych oporów z tytuowaniem Ciebie per TY, pewnie równiez dlatego ,ze tutaj to norma) - pozytywnie zakręceni hooby-ici;-)) poyrwają i będą zawsze porywali za soba innych.......wiuuuuuu...;-)) Dla mnie to co robisz to unusual spread of friendship mainly;-)))<br/>
Bożka</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/122/1360">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.boshka-art.blogspot.com" rel="nofollow">Boshka</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/02/spreading-our-love-of-poland#comment-1360">Thursday, February 23, 2012 - 04:58</a></span>
</div>
</div>
<div class="indented"><a id="comment-1366"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Bożka, dziękuję bardzo za miłe i motywujące słowa. :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/122/1366">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/02/spreading-our-love-of-poland#comment-1366">Thursday, February 23, 2012 - 18:34</a></span>
</div>
</div>
</div><a id="comment-1363"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8d1e64ebccf346f0df6ec2b895f8e4d0?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Mysle ze jest to bardzo wspaniałe kiedy robisz to co kochasz a w dodotku zarażasz tym innych:) bardzo pozytywny artykul i ciesze sie ze sa jeszcze tacy ludzie na swiecie ktorzy cha sie dowiedziec czegos wiecej o naszym kraju a przede wszystkim osoby ktore im to udostepniaja ! pozdrawiam serdecznie!: )</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/122/1363">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Malwa9944 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/02/spreading-our-love-of-poland#comment-1363">Thursday, February 23, 2012 - 13:26</a></span>
</div>
</div>
<div class="indented"><a id="comment-1367"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki za miłe słowa. :-) Pozdrawiam serdecznie, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/122/1367">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/02/spreading-our-love-of-poland#comment-1367">Thursday, February 23, 2012 - 18:34</a></span>
</div>
</div>
</div><a id="comment-1370"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/be85948dba84409ed140f13d94f90bf8?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Smutna prawda o Polsce<br/>
Lista zasług Donka jest długa i każdy powinien mieć szanse ją zobaczyć:<br/>
2011:</p>
<p>podwyżka podatku VAT<br/>
podwyżka podatku CIT<br/>
podwyżka AKCYZY<br/>
podwyżka podatku od ciężarówek<br/>
podwyżka opłaty klimatycznej<br/>
podwyżka składki rentowej<br/>
podwyżka wieku emerytalnego<br/>
podwyżka podatku gruntowego<br/>
podwyżka opłaty targowej<br/>
podatek od miedzi<br/>
akcyza na węgiel<br/>
likwidacja dopłat za leki na receptę<br/>
likwidacja ulg (jak na internet, rodzinne, na edukacje i kursy, przedsiębiorcze)</p>
<p>2010:</p>
<p>-wprowadzenie e-myta<br/>
-podatek pielęgnacyjny, 1 % dochodów brutto,<br/>
-podniesienie opłaty rejestracyjnej dla samochodów,<br/>
-anulowanie budów połowy autostrad<br/>
-totalny chaos z pociągami<br/>
-likwidacja ulg na obowiązkowe biokomponenty do paliwa,<br/>
-umorzenie miliardowych długów Rosji za gaz (bez powodu, w ramach przyjaźni polsko radzieckiej)<br/>
-likwidacja ulg na internet,<br/>
-zamrożenie składek do OFE,<br/>
-ogołocenie Funduszu Rezerwy Demograficznej<br/>
-zatrudnienie ponad 100 tysięcy nowych, zbędnych urzędników<br/>
-"kreatywna księgowość", czyli liczenie szarej strefy (to jeszcze niepewne)<br/>
-ustawa o zabieraniu dzieci pod BYLE pozorem na wzór Szwecji<br/>
-portret prezydenta w każdej ambasadzie (ostatnio było tak za Gierka)<br/>
-spotkanie ambasadorów Polski z całego świata z Sikorskim i Ławrowem (byle służby specjalne Rosji, obecnie sprawy zagraniczne) w celu wyznaczenia "wskazówek".<br/>
-obłożenie VATem (najwyższym) kursów kształcących i szkoleń, w tym na prawo jazdy.<br/>
-ustawa, mówiąca, że jeśli jest ryzyko, że dług przekroczy 55 % wartości PKB, VAT AUTOMATYCZNIE będzie podwyższany, czyli w 2012 VAT 25 %, najwyższy w Europie<br/>
-Pożyczka z EBI 2 miliardów Euro. Najwyższa pożyczka, jakiej Europejski Bank Inwestycyjny udzielił od 2004.<br/>
-brak JAKICHKOLWIEK uzgodnień w sprawie gazociągu z Rosji do Niemiec. W efekcie, Polscy rybacy jako jedyni nie dostają odszkodowań (Szwedzi i Estończycy dostają równowartość 150 tys złotych każdy).<br/>
-zablokowanie możliwości wpływania do portów w CAŁEJ POLSCE statków o zanurzeniu większym niż 7-8m. Statki te kierowane są do Niemiec.</p>
<p>-Umowa na gaz z Rosja, o której Unia Europejska wyraziła się, ze jest skrajnie niekorzystna dla Polski, a w kraju "uzgadniaczom" grozi za nią obecnie Trybunał Stanu.</p>
<p>Za TEN SAM gaz z Rosji Niemcy płacą 20 % mniej, Anglicy 50 % mniej !!!</p>
<p>+ najciekawsze propozycje w roku bieżącym:<br/>
-emerytury 67 dla kobiet,<br/>
-acta,<br/>
-pożyczki bankrutom.</p>
<p>Źródło: <a href="http://www.prawda2.info" title="www.prawda2.info">www.prawda2.info</a></p>
<p>można dodać:<br/>
- absurdy prawne<br/>
- nie wymigowane koszty stadionów w tym fuszerek, dróg i autostrad<br/>
- dane podaje z gusu że przeciętna pensia wynosi prawie 3400 zł brutto, a nie powie że większość społeczeństwa ma tą najniższą z najniższą - jak za to legalnie kupić film, programy, muzykę i żyć, a założyć rodzinnę czy mieszkanie mieć.....<br/>
- spada ilość urodzeń dzieci, najwięcej jest na emigracji m.in Brytania, warunki i lepszy start nawet na zmywaku można się dorobić...<br/>
- oficjalnie jest na 40 mln, a po ostatnich danych spisu powszechnego ok 36 mln - myślę, że jest lekkie okłamanie,<br/>
- nie potrzebna ilość osób zasiadających w sejmie wystraszyło by 200 i ten senat....i likwidacja powiatów, kolejny absurd post komunistów i kolesiów<br/>
- wzrost kosztów utrzymania, manipulowanie danymi przez gus i ministra finansów w tym rząd<br/>
- dziwne umowy z rządem Izraelem, ratyfikacja pomocy dla krajów z wysokim długiem<br/>
- ciągła prywatyzacja, sprzedaż ze bezcen<br/>
- gnębienie lokalnych przedsiębiorców<br/>
- ten rząd o poprzednie jest winny, dużego matactwa, dziwnych ustaw, afer, sprzedaży majątku (likwidacja), ważnych przedsiębiorstw o zasięgu makro i mikro ekonomicznym i strategicznym........<br/>
- rozbrajanie armii i likwidacja tego co się jeszcze da<br/>
można by tak dodawać, ale większość lemingów nie wierzy w to i cieszy się kolorową beztroską w swoim TV (ogłupiaczu), czuję że wogle te euro 2012 się nie odbędzie, jeśli tak to zejdzie na dalszy plan, a większość obudzi się w ręką w nocniku lub delikatnie mówiąć0 jak Zabłocki na mydle....</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/122/1370">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Meryll (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/02/spreading-our-love-of-poland#comment-1370">Friday, February 24, 2012 - 11:24</a></span>
</div>
</div>
<div class="indented"><a id="comment-1394"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.facebook.com/Magister.korepetycje.przez.Skype" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/0fea4643aef2972bd2237c102f801561?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>ok,... ale czy Dawid interesuje się tak szczegółowo by mu takie rzeczy wypisywać na jego stronie.<br/>
Dla Dawida, być może, Polska to fajny europejski kraj z duszą i tradycjami, na TEM koniec (&lt;--David użyłem teraz formy archaicznej/dawnej) !</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/122/1394">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.facebook.com/Magister.korepetycje.przez.Skype" rel="nofollow">Monteclarus</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/02/spreading-our-love-of-poland#comment-1394">Tuesday, February 28, 2012 - 18:34</a></span>
</div>
</div>
</div><a id="comment-1371"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/02/vlog-brooke-ma%C5%82a-amerykanka-kt%C3%B3ra-%C5%9Bni-o-polsce" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] Czytaj cały list Brooke tutaj. [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/122/1371">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/02/vlog-brooke-ma%C5%82a-amerykanka-kt%C3%B3ra-%C5%9Bni-o-polsce" rel="nofollow">Vlog: Brooke - mała Amerykanka która śni o Polsce | LinguaTr</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/02/spreading-our-love-of-poland#comment-1371">Saturday, February 25, 2012 - 10:25</a></span>
</div>
</div>
<a id="comment-1378"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/51dacf4000afab1570dc9fcb02d39699?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I LOVE USA!!!! ;P</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/122/1378">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">MiecioXD (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/02/spreading-our-love-of-poland#comment-1378">Sunday, February 26, 2012 - 09:55</a></span>
</div>
</div>
<a id="comment-1379"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/51dacf4000afab1570dc9fcb02d39699?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>No ciekawa ta historia z Brooke!!! A ja jestem taki sam tylko że ja nie mam korzeni Amerykańskich ale i tak kocham USA i oddał bym wszystko żeby tam polecieć chociaż na 2 tygodnie!!!! :P I LOVE USA!!!!!!!!!!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/122/1379">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">MiecioXD (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/02/spreading-our-love-of-poland#comment-1379">Sunday, February 26, 2012 - 09:57</a></span>
</div>
</div>
<div class="indented"><a id="comment-1392"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Stany zapraszają! :-) Czy oglądałeś mój <a href="http://www.linguatrek.com/blog/2012/02/vlog-spotkanie-kongresu-polonii-ameryka%C5%84skiej-i-wiza-dla-polak%C3%B3w">filmik</a> o sytuacji z wizą? Pozdrawiam, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/122/1392">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/02/spreading-our-love-of-poland#comment-1392">Tuesday, February 28, 2012 - 17:48</a></span>
</div>
</div>
</div><a id="comment-1398"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/51dacf4000afab1570dc9fcb02d39699?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>PEWNIE!!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/122/1398">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">MiecioXD (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/02/spreading-our-love-of-poland#comment-1398">Wednesday, February 29, 2012 - 07:18</a></span>
</div>
</div>
</div>
