---
permalink: /blog/2012/02/subscribe-and-get-a-gift/
layout: blog-old
title: 'Subscribe and get a gift!'
day: 14
month: Feb
year: 2012
category: LinguaTrek
tags: [ ]
language: en
translation: /blog/2012/02/vlog-zasubskrybuj-m%C3%B3j-blog-i-dosta%C5%84-prezent/
---
<div class="content">
<p>Hello, everyone!</p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/02/letters.jpg" rel="lightbox"><img alt="Letter boxes with letters in them" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/02/letters.jpg" title="Get updates from LinguaTrek in your mailbox! Photo by Peter E. Lee"/></a><div class="caption">Get updates from LinguaTrek in your mailbox! <a href="http://www.flickr.com/photos/76151808@N00/4891128253">Photo</a> by <a href="http://www.flickr.com/photos/oldpatterns/">Peter E. Lee</a></div></div>
<p>Today I’m publishing a sort of unusual article.  It’s NOT about our normal topics of language learning or Polish and American culture and history.</p>
<p>But don’t worry! We’ll return to those soon. :-)</p>
<p><strong>I just wanted to thank everyone for reading my articles, watching my videos and above all, participating in the discussion by sending e-mails and leaving comments.</strong></p>
<p>In the year or so my blog has been up, there have been <strong>over 1,100 comments</strong> and <strongs>hundreds of e-mails!  That’s not to mention the <strong>over 3,300 YouTube comments</strong> during the same time period. If it weren’t for your help and enthusiasm, I would have given up on this long ago.</strongs></p>
<p><strong>So, THANK YOU for your support!</strong></p>
<p>In the next few weeks, I’m going to share some plans and ideas connected with language learning that I’m really, really excited about! And, like always, <strong>I’m going to need your help!</strong></p>
<p>I don’t want you to miss anything, so I added an <a href="http://www.linguatrek.com/subscribe">e-mail subscription form</a> to LinguaTrek.com.  If you want to get my articles as soon as they’re published, <a href="http://www.linguatrek.com/subscribe">please subscribe</a>!</p>
<p>In order to encourage you to sign up, <strong>I’m going to offer a free gift to the first 30 subscribers</strong>!</p>
<p><strong>Read more for information about the gift!</strong></p>
<h2>Free gift!</h2>
<p>The first 30 subscribers will receive a free 15-minute language learning consultation with me over Skype.</p>
<p>Tell me about your problems learning English, Polish or any other language, and I’ll give you personal  advice for your situation!  I’m happy to speak with you in either English or Polish.</p>
<p>I know 15 minutes sounds short.  But 30 consultations will take me <strong>almost 8 hours!</strong></p>
<p>What’s coming next is so important to me, that I’m willing to give up a day of my time, so that you won’t miss it!</p>
<h2>Great things are coming!</h2>
<p>Recently I’ve done a lot of soul searching and talking with my readers, viewers and users.  Now I’ve got some really exciting things I want to share with you!</p>
<p>But I don’t want to say too much yet. :-) I’m still getting my thoughts organized and I’m not quite ready.</p>
<p>First, I’d like to get my most dedicated blog readers and YouTube viewers to subscribe so that they don’t miss it (I’m going to record a similar YouTube video in Polish in a couple days).</p>
<p>So, <a href="http://www.linguatrek.com/subscribe">please subscribe</a>!</p>
</div>

<div id="comments">
<a id="comment-1315"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a140205686f16e7af2fc493d5ca1e263?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>dopiero dzis poznalam ta strone oraz obejrzalam kilka filmikow, a juz bardzo mi sie tu spodobalo. No i ta mila niespodzianka ze Skajpem :). Kurcze troche sie zaczynam denerwowac ;-)</p>
<p>Pozdrowienia dla Davida ktory w sposob fenomenalny opanowal jezyk polski. Sama uczylam sie niemieckiego i wiem ile czasu i poswiecen taka nauka wymaga. Mam nadzieje ze w podobnym stopniu opanuje kiedys angielski :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/118/1315">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">trzpiot (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/02/subscribe-and-get-a-gift#comment-1315">Tuesday, February 14, 2012 - 16:25</a></span>
</div>
</div>
<div class="indented"><a id="comment-1316"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Marzena, wysłałem Ci informację mailowo o tym jak zgłosić na rozmowę ze mną ale jeszcze tego nie robiłaś!  Jeśli za długo czekasz, stracisz Twojego miejsca, jest ich tylko 30. :-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/118/1316">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/02/subscribe-and-get-a-gift#comment-1316">Wednesday, February 15, 2012 - 07:21</a></span>
</div>
</div>
<div class="indented"><a id="comment-1319"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a140205686f16e7af2fc493d5ca1e263?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Wielkie dzieki! Dzis wlasnie przeprowadzilam te 3 kroki do zapisania terminu i mam nadzieje ze sie udalo. Chodzilo mi o termin sobota 12h mojego czasu. Mam nadzieje ze to jakos sie udalo w Twoim kalendarzu zapisac. Pozdrawiam :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/118/1319">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">trzpiot (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/02/subscribe-and-get-a-gift#comment-1319">Wednesday, February 15, 2012 - 14:26</a></span>
</div>
</div>
<div class="indented"><a id="comment-1322"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Już jesteśmy umówieni. :-) Mam nadzieję, wszystkie maile do Ciebie dotarły.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/118/1322">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/02/subscribe-and-get-a-gift#comment-1322">Thursday, February 16, 2012 - 08:09</a></span>
</div>
</div>
</div></div></div><a id="comment-1324"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/184903aeb19e68d6a1025d64d9563358?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Thanks for the free gift David!  You definitely cleared some things up for me and gave me some great advice that will save me a lot of time while learning Polish going forward.  Feel free to give these gifts out anytime you want!  I will take advantage!</p>
<p>Nick</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/118/1324">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Rahl333 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/02/subscribe-and-get-a-gift#comment-1324">Thursday, February 16, 2012 - 15:47</a></span>
</div>
</div>
<a id="comment-1336"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/02/thank-you-for-subscribing" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] last week Tuesday, when I first offered language consultations in exchange for subscribing - almost 200 new people have subscribed! All [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/118/1336">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/02/thank-you-for-subscribing" rel="nofollow">Thank you for subscribing! | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/02/subscribe-and-get-a-gift#comment-1336">Monday, February 20, 2012 - 11:23</a></span>
</div>
</div>
<a id="comment-1533"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/03/why-i-almost-shut-down-linguatrek-and-bibliobird-and-our-big-dream" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] the beginning of the year, I've hinted that I have some big plans to share with [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/118/1533">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/03/why-i-almost-shut-down-linguatrek-and-bibliobird-and-our-big-dream" rel="nofollow">Why I almost shut down LinguaTrek and Bibliobird... and our </a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/02/subscribe-and-get-a-gift#comment-1533">Tuesday, March 27, 2012 - 09:40</a></span>
</div>
</div>
<a id="comment-2205"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/06/my-next-big-project-after-the-ebook" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] the beginning of the year, I've been talking with lots and lots of people about their problems, needs, fears, and desires with regard to language [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/118/2205">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/06/my-next-big-project-after-the-ebook" rel="nofollow">My next BIG project after the ebook! | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/02/subscribe-and-get-a-gift#comment-2205">Tuesday, June 5, 2012 - 09:13</a></span>
</div>
</div>
</div>
