---
permalink: /blog/2012/02/vlog-brooke-mała-amerykanka-która-śni-o-polsce/
layout: blog-old
title: 'Vlog: Brooke - mała Amerykanka która śni o Polsce'
day: 25
month: Feb
year: 2012
category: Poland
tags: 
  - 'Brooke'
  - 'vlog'
language: en
translation: /blog/2012/02/vlog-brooke-ma%C5%82a-amerykanka-kt%C3%B3ra-%C5%9Bni-o-polsce/
---
<div class="content">
<p>To jest bardzo interesująca historia o dziewczynce w USA, która nie ma polskich korzeni ale zakochała się w Polsce w prosty sposób.</p>
<p><object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/Br0roArv7kY?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/Br0roArv7kY?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object></p>
<p>Czytaj cały list Brooke <a href="http://www.linguatrek.com/blog/2012/02/spreading-our-love-of-poland">tutaj</a>.</p>
<p>Proszę podaj mi poprawki <a href="">w serwisie Lang-8</a>.</p>
<p><strong>Czytaj transkrypcję poniżej!</strong></p>
<h2><a name="transcript">Transkrypcja</a></h2>
<ul>
<li>Dzień dobry</li>
<li>Znowu przed kamerą internetową mówi David Snopek</li>
<li>Najpierw chciałbym podziękować wszystkim, którzy zasubskrybowali mój blog</li>
<li>W sumie dwieście osób to zrobiło</li>
<li>Już zrobiłem prawie wszystkie konsultacje i były bardzo miłe</li>
<li>Fajnie było wreszcie rozmawiać z ludźmi, z którymi do tej pory tylko pisałem</li>
<li>Więc dziękuję bardzo za subskrypcje i za miłe rozmowy</li>
<li>Dobrze, do sedna sprawy!</li>
<li>"Brooke - mała Amerykanka, która śni o Polsce"</li>
<li>Ten filmik rzeczywiście nosi wiele tytułów</li>
<li>Dostałem wiele fajnych propozycji w komentarzach na moim blogu i chciałbym je wymienić teraz:</li>
<li>"Zaszczepiliśmy naszą miłość do Polski"</li>
<li>To jest dobrym tłumaczeniem tytułu mojego artykułu po angielsku</li>
<li>Ale jest wiele kreatywnych pomysłów też, np:</li>
<li>"O dziewczynce która pokochała Polskę"</li>
<li>"Zaraziliśmy Polską małą Brooke"</li>
<li>"Miłość do Polski nie zna granic"</li>
<li>To jeden z moich ulubionych</li>
<li>"Dziewczynka, która zapalała miłością do Polski"</li>
<li>To bardzo poetycki tytuł</li>
<li>Dziękuję wszystkim, którzy zaproponowali tytuły na moim blogu dla tego filmiku</li>
<li>Ale to jest - w każdym razie - bardzo ciekawa historia</li>
<li>Kiedy byliśmy w Polsce z żoną pracowaliśmy jako nauczyciele j. angielskiego</li>
<li>Moja teściowa w USA jest nauczycielką klasy pierwszej</li>
<li>Więc z naszymi najmłodszymi uczniami zrobiliśmy projekt "penpal"</li>
<li>To znaczy, że każdy uczeń w Polsce napisał list do ucznia w USA i odpowiedział</li>
<li>Myślę, że w sumie obie strony napisały dwa listy w ciągu roku</li>
<li>Moja żona wróciła do Stanów dwa razy żeby odwiedzić rodzinę i przyjaciół</li>
<li>Jednym razem przyjechała do klasy swojej matki</li>
<li>Tam opowiadała o Polsce</li>
<li>Opowiadała polskie bajki, np. legendę o smoku wawelskim</li>
<li>I dzieci tam były zachwycone</li>
<li>To było już prawie dwa lata temu</li>
<li>Ale kilka tygodni temu teściowa dostała list od jednej z jej byłych uczennic</li>
<li>Ma na imię Brooke</li>
<li>Ta dziewczynka, która w ogóle nie ma żadnych polskich korzeni, nadal myśli o Polsce, nadal jest bardzo zainteresowana Polską</li>
<li>Cały ten list jest na moim blogu</li>
<li>Jest link w opisie</li>
<li>Ale teraz poczytam tłumaczenie części tego listu:</li>
<li>Co słychać u Pani córki w Polsce?</li>
<li>Czy przeprowadziła się bo chciałabym uczyć się więcej o Polsce jak w pierwszej klasie</li>
<li>Była świetna zabawa kiedy mieliśmy "penpals" i przyjechała do nas Pani córka</li>
<li>Nauczyła nas wszystko, co chciałam się nauczyć, ale nadal chciałabym uczyć się o wiele więcej</li>
<li>Czy może Pani ją zapytać kiedy ona wróci?</li>
<li>Albo czy ona wróci?</li>
<li>Czy Pani kiedyś była w Polsce?</li>
<li>Ja nie ale bardzo chcę to zrobić</li>
<li>To jednocześnie wspaniale i też niesamowicie</li>
<li>Bo ta dziewczynka zakochała się w Polsce ale nie dzięki polskim korzeniom</li>
<li>To dzięki jednym znajomym w Polsce, z którym napisała listy</li>
<li>I dzięki entuzjazmowi mojej żony do Polski</li>
<li>I tyle</li>
<li>Ciągle myślę, jak możemy to zrobić znowu</li>
<li>Jak możemy robić to często</li>
<li>I jestem otwarty na Wasze sugestie</li>
<li>Proszę napiszcie swoje pomysły w komentarzach</li>
<li>No, dobrze</li>
<li>To wszystko na dzisiaj</li>
<li>Dziękuję bardzo za uwagę</li>
<li>Do widzenia</li>
</ul>
</div>

<div id="comments">
<a id="comment-1372"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/26fd2e82a723e8274be94f243b006bb2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Fajnie by było znaleść takiego penpala ; D<br/>
Myśli , że jest bardzo duża grupa Polaków , którzy chcieli by korespondować z amerykanami : p trzeba było im to jakoś umożliwić, np.Zebrać osoby chętne z ameryki i z polski, najlepiej w podobnym przedziale wiekowym : ).</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/124/1372">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Łukasz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/02/vlog-brooke-ma%C5%82a-amerykanka-kt%C3%B3ra-%C5%9Bni-o-polsce#comment-1372">Saturday, February 25, 2012 - 09:49</a></span>
</div>
</div>
<div class="indented"><a id="comment-1373"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/26fd2e82a723e8274be94f243b006bb2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Ale błędów popełniłem przy pisaniu...<br/>
(Myślę) oraz (było by)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/124/1373">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Łukasz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/02/vlog-brooke-ma%C5%82a-amerykanka-kt%C3%B3ra-%C5%9Bni-o-polsce#comment-1373">Saturday, February 25, 2012 - 09:51</a></span>
</div>
</div>
<a id="comment-1381"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Łukasz!</p>
<p>Dziękuję za komentarz. :-)</p>
<p>Myślę, że jest stosunkowo łatwo dla dorosłych albo nastolatków znaleźć penpala w internecie.  Jest social networking i są strony internetowe do tego, np:</p>
<p><a href="http://www.mylanguageexchange.com/penpals.asp" title="http://www.mylanguageexchange.com/penpals.asp">http://www.mylanguageexchange.com/penpals.asp</a><br/>
<a href="http://www.interpals.net/" title="http://www.interpals.net/">http://www.interpals.net/</a></p>
<p>I w tym przypadku obie strony już są chętne do tego, już są zainteresowani drugim krajem i tym pomysłem.  Jeśli ktoś jest do czegoś zmotywowany, znajdzie sposób tego robić. :-)</p>
<p>Ale z tą sytuacją z Brooke chodzi mi o to, że:</p>
<ul>
<li>Małe dzieci nie mogą to robić same, potrzebują jakiejś pomocy</li>
<li>Brooke nie wiedziała, że kontakt z penpalem w danym kraju będzie fajną sprawą</li>
<li>Przed tym projektem nie była zainteresowana Polską ale teraz jest - to spowodował motywację a nie odwrotnie</li>
</ul>
<p>I dlatego moim zdaniem jest taka wyjątkowa sytuacja!  I również jest o wiele trudniej go powtórzyć. :-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/124/1381">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/02/vlog-brooke-ma%C5%82a-amerykanka-kt%C3%B3ra-%C5%9Bni-o-polsce#comment-1381">Tuesday, February 28, 2012 - 05:37</a></span>
</div>
</div>
</div><a id="comment-1374"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/368beefda8692adca1ba583eae40bc26?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Zdecydowanie to fajna sprawa ; ) I oczywiście, ze byłoby wiele chetnych.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/124/1374">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Sitar (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/02/vlog-brooke-ma%C5%82a-amerykanka-kt%C3%B3ra-%C5%9Bni-o-polsce#comment-1374">Saturday, February 25, 2012 - 09:59</a></span>
</div>
</div>
<div class="indented"><a id="comment-1385"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>:-) Tak, ale jak dotrzeć do tych, którzy jeszcze nie wiedzą, że są chętni?</p>
<p>Dzięki za komentarz!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/124/1385">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/02/vlog-brooke-ma%C5%82a-amerykanka-kt%C3%B3ra-%C5%9Bni-o-polsce#comment-1385">Tuesday, February 28, 2012 - 06:06</a></span>
</div>
</div>
</div><a id="comment-1375"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a140205686f16e7af2fc493d5ca1e263?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Ja moge sie podzielic swoim doswiadczeniem. Pisalam kiedys z taka Amerykanka z Texasu ktora byla u nas na wymianie w szkole. Sama sie zapytalam czy ma ochote na taka wymiane. Byla tak mila ze sie zgodzila.Niestety kontakt byl dosc krotki gdyz byla to bardzo wierzaca dziewczyna (ja tez jestem:-) ale wszytsko sprowadzalo sie do jednego tematu naszych mailu wiec na dluzsza mete bylo to troche uciazliwebo brakowalo nam tematow.:( </p>
<p>Sam pomysl uwazam za swietny, bo przeciez przez takie cos jestesmy zmuszeni aby tlumaczyc dany tekst oraz jak najlepiej sie "popisac"przed adresatem.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/124/1375">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">trzpiot (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/02/vlog-brooke-ma%C5%82a-amerykanka-kt%C3%B3ra-%C5%9Bni-o-polsce#comment-1375">Saturday, February 25, 2012 - 11:12</a></span>
</div>
</div>
<div class="indented"><a id="comment-1382"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki za podzielenie się Twoim doświadczeniem. :-)</p>
<p>Trudno jest znaleźć kogoś, z kim możesz pisać długo i nadal mieć tematy. Z znajomym w życiu możesz rozmawiać o czymś, co właśnie zrobiliście razem. Miałem właśnie ten sam problem z wieloma partnerami na wymianę językową. Zwykle ta korespondencja trwa kilka tygodni albo miesięcy i to wszystko.  Ale teraz jest para osób z którym rozmawiałem naprawdę długo.</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/124/1382">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/02/vlog-brooke-ma%C5%82a-amerykanka-kt%C3%B3ra-%C5%9Bni-o-polsce#comment-1382">Tuesday, February 28, 2012 - 05:55</a></span>
</div>
</div>
</div><a id="comment-1376"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/614aec444fb10ff1e5776ab5904833f1?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Ja również piszę się na taką wymianę listami.<br/>
Proszę o więcej informacji :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/124/1376">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Przemek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/02/vlog-brooke-ma%C5%82a-amerykanka-kt%C3%B3ra-%C5%9Bni-o-polsce#comment-1376">Saturday, February 25, 2012 - 11:53</a></span>
</div>
</div>
<div class="indented"><a id="comment-1384"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hehe, na razie nie ma więcej informacji. ;-) Jak już poniżej napisałem, nie spodziewałem się, że widzowie i czytelnicy byliby zainteresowani tym dla samego siebie. Ale będę o tym myśleć! :-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/124/1384">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/02/vlog-brooke-ma%C5%82a-amerykanka-kt%C3%B3ra-%C5%9Bni-o-polsce#comment-1384">Tuesday, February 28, 2012 - 06:04</a></span>
</div>
</div>
</div><a id="comment-1380"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/43042967cdd2a38b8f2f32ed3150b6ba?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>doskonały pomysł ;D biorąc pod uwagę fakt, że pisanie listów powoli jest wypierane przez e-maile. Myślę, że dużo Twoich czytelników i widzów byłoby chętnych na taką listowną wymianę ;)<br/>
Pozdrawiam, Olga</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/124/1380">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">olga (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/02/vlog-brooke-ma%C5%82a-amerykanka-kt%C3%B3ra-%C5%9Bni-o-polsce#comment-1380">Sunday, February 26, 2012 - 14:30</a></span>
</div>
</div>
<div class="indented"><a id="comment-1383"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Nie sądzę, że MUSI być list a nie email.  Ale rzeczywiście jest fajnie dostać list!  Widzisz pisownię drugiej osoby, wiesz, że ta karta naprawdę była w ich rękach i w tym kraju.  Jest znaczka, dziwny adres. No, prawdziwy list jest dość romantyczną sprawą. ;-)</p>
<p>Nie zdałem sobie sprawę, że moi czytelnicy i widzowie potrzebowali pomocy w znajdowaniu penpala!  Ale z tego, co wynika z tych komentarzy, to wygląda na tak. :-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/124/1383">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/02/vlog-brooke-ma%C5%82a-amerykanka-kt%C3%B3ra-%C5%9Bni-o-polsce#comment-1383">Tuesday, February 28, 2012 - 06:02</a></span>
</div>
</div>
</div>
</div>
