---
permalink: /blog/2010/12/christmas-without-presents/
layout: blog-old
title: 'Christmas without presents?'
day: 28
month: Dec
year: 2010
category: USA
tags: 
  - 'Christmas'
  - 'holidays'
language: en
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/12/christmasstormtrooper.jpg" rel="lightbox"><img alt="Storm trooper holding Christmas presents" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/12/christmasstormtrooper.jpg" title="The Empire is stealing Christmas!  Photo by Kenny Louie."/></a><div class="caption">The Empire is stealing Christmas!  <a href="http://www.flickr.com/photos/99472898@N00/5278223836/">Photo</a> by <a href="http://www.flickr.com/photos/kwl/">Kenny Louie</a>.</div></div>
<p>For Christians, Christmas is about celebrating the birth of Jesus.  However, according to a <a href="http://www.gallup.com/poll/145367/Christmas-Strongly-Religious-Half-Celebrate.aspx">recent poll</a>, 95% of Americans celebrate Christmas, including 80% of non-Christians.  But for both believers and the rest of us, Christmas in the USA is about spending time with family and friends.</p>
<p>Yeah, family and friends, but also -- PRESENTS!  Glorious presents!</p>
<p>When I was a kid, I couldn't wait until Christmas.  I dreamt of all the great things I hoped I was going to get.  It was a magical day, when dreams came true!</p>
<p>How can you have Christmas without presents?</p>
<p>But a number of years ago, my family stopped exchanging gifts at Christmas.</p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/12/christmasbaby.jpg" rel="lightbox"><img alt="Baby looking at presents" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/12/christmasbaby.jpg" title='"What could it be?"  Photo by Steve Evans.'/></a><div class="caption">"What could it be?"  <a href="http://www.flickr.com/photos/64749744@N00/3138533800/">Photo</a> by <a href="http://www.flickr.com/photos/babasteve/">Steve Evans</a>.</div></div>
<p>While presents for children are great (we still do them with the kids in the family) they don't make sense for adults.  As an adult, you can buy whatever you want, so you already have it.</p>
<p>What to get for someone who already has everything?  How to finish all your shopping in time?  What to tell others to get for you when they ask you?  What to do when someone gives you something you don't really want?</p>
<p>These are all very stressful questions.  Christmas is supposed to be fun!</p>
<p>One of the great things about American culture, is how diverse it is.  Like I said <a href="http://www.linguatrek.com/blog/2010/11/turkey-day-isnt-the-same-for-everyone">previously</a>, every family has their own way of celebrating the holidays.  This means we can basically decide to do whatever we want!</p>
<p>So, we decided to stop exchanging gifts.  Now it's only about spending time together.</p>
<p>If you miss giving and receiving gifts, there is no reason you can't do that all year round!  Why try to find a present for everyone all at the same time?</p>
<p>After another wonderful Christmas, I am still happy with our decision.</p>
</div>

<div id="comments">

</div>
