---
permalink: /blog/2010/12/harry-potter-the-book-that-taught-me-polish/
layout: blog-old
title: 'Harry Potter: The book that taught me Polish '
day: 14
month: gru
year: 2010
category: learn Polish
tags: 
  - 'books'
  - 'Harry Potter'
language: pl
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 119px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/12/harrypotterbooks.jpg" rel="lightbox"><img alt="Pile of Harry Potter books in Polish" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/12/harrypotterbooks.jpg" title="All my Harry Potter books"/></a><div class="caption">All my Harry Potter books</div></div>
<p>I've studied Polish mostly from reading and listening to books.  The first book I ever read in Polish, was Harry Potter.  When I first started to read Harry Potter, I had only been learning Polish for about a year at the University.</p>
<p>While I did enjoy that class (mostly because of the professor) it was basically <em>all grammar, grammar and more grammar</em>.  At the end of that year, I couldn't <em>really</em> speak or understand Polish normally.</p>
<p>I started reading the first Harry Potter book in January of 2008.  It took me four months to finish it.  Honestly, it was <em>extremely</em> difficult and took a lot of commitment.  But after finishing that book, I really felt like I spoke Polish.  My brain was able to produce and understand Polish automatically!</p><p>
</p><p>While the first book took me four months, <b>I managed to read all seven Harry Potter books before the end of that year!</b>  Each book was bigger and bigger, but I managed to read each one faster and faster.  I read (or rather listened to) the last book in only a couple weeks.  My learning accelerated exponentially.</p>
<p><strong>Read more to learn about the method I used!</strong></p>
<h2>My Method</h2>
<p>I originally <a href="http://www.hackyourlife.org/?p=25">wrote about this in February of 2008 on my old blog</a>, when I was still actively reading the first book.</p>
<p>First, I read and simply tried to understand from context.  Later, I would go back over what I read and look up all the words I didn't know in the dictionary.  I created flashcards on the computer for all these words.  Everyday I reviewed my flashcards.</p>
<p>(<em>At the time I used a program that I had written myself for the flashcards.  I've already stopped maintaining this program and its no longer available on the internet.  But it was based on <a href="http://en.wikipedia.org/wiki/Spaced_repetition">spaced repetition</a> and worked similarly to <a href="http://www.supermemo.com/">SuperMemo</a> or <a href="http://ankisrs.net/">Anki</a> -- which is what I would recommend for flashcards now.</em>)</p>
<h2>Audio books</h2>
<p>For each Harry Potter that I read, I always bought the paper book and the audio book.  For the first book, I didn't use the audio at all.  At the time it just scared me -- I thought it was too hard for my level (thinking back, I probably should have tried anyway).</p>
<p>With later books I used the audio in various ways.  First, I read a section and then listened to it.  Later, I tried the reverse, listening then reading.  This way I would understand some things on reading that I might have missed when listening.</p>
<p>Ultimately, with the last couple books, I only listened.  I maybe opened the paper version a couple times when something was really difficult, but very rarely.</p>
<h2>The result?</h2>
<p>This method was very effective for me.  At the beginning of 2008, I couldn't speak or understand Polish in any realistic sense.  Of course, I knew some grammar from my course at the University, but that was about it.</p>
<p>By the end of 2008, I spoke pretty good Polish.  Not perfectly (<a href="http://www.linguatrek.com/blog/2010/12/you-dont-need-to-speak-like-a-native-speaker">I still don't speak perfectly</a>), but pretty good.</p>
<p>In September of 2008, I recorded <a href="http://www.youtube.com/watch?v=5NA29HFBC68">my first YouTube video in Polish</a>.  Take a look for yourself!  Of course, I speak a little better now, but I wasn't too terrible even then.</p>
<p>In future posts, I'll talk about why I think this method works.</p>
<h2>Problems</h2>
<p>There were a few problems with my method!</p>
<p>Mainly, it was very time consuming.  The time spent reading and listening was fine.  In fact, it very enjoyable!  I always wanted to know what would happen next in the story.</p>
<p>But I also spent a lot of time searching for words in the dictionary.  I had to use several dictionaries (both online and on paper) and frequently it was difficult to find certain words.  Writing the flashcards also took quite a bit of time.</p>
<h2>A solution!</h2>
<p>This is why created my new project: <a href="http://www.bibliobird.com">BiblioBird.com</a>.</p>
<p>It allows you to read and listen to texts in a foreign language.  When you don't know a word, click on it to receive a translation in your native language.  BiblioBird remembers all the words you clicked on and saves them to a list.  Very soon, it will make flashcards out of this list automatically.</p>
<p>At the time of this writing, BiblioBird is still at the very beginning stages.  But I have lots of ideas for how to improve it.</p>
<p>Unfortunately, most of the texts are targeted at Polish speakers learning English.  There is presently <a href="http://en.bibliobird.com/embed-reader/l/www.linguatrek.com/blog/2010/11/wszystkich-%C5%9Bwi%C4%99tych-w-polsce">only one text</a> in the system for people learning Polish.  I'm working on adding more texts and in the future, users will be able to add texts themselves.</p>
<h2>Other tools</h2>
<p>There are a number of other programs similar to BiblioBird.  In future posts, I'll discuss the merits of each, but for now here is a list:</p>
<ul>
<li><a href="http://www.lingq.com">Lingq</a> - Commercial with a limited free option.  12 language: English, Spanish, French, Italian, German, Swedish, Russian, Portuguese, Japanese, Chinese, Korean.</li>
<li><a href="http://www.lingro.com">Lingro</a> - Free.  11 languages: English, Spanish, French, German, Italian, Polish, Portuguese, Swedish, Russian, Dutch, Chinese.</li>
<li><a href="http://www.polyglotproject.com">The Polyglot Project</a> - Free. 5 languages: French, German, Italian, Spanish, English.</li>
</ul>
<p><em>Note: This blog post is basically an English translation of a <a href="http://www.linguatrek.com/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-uczy%C5%82em-si%C4%99-polskiego">YouTube video</a> I recorded in Polish a couple weeks ago.</em></p>
</div>

<div id="comments">
<a id="comment-38"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2010/12/vocabulary-the-biggest-challenge-in-language-learning" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>[...] I started reading Harry Potter in Polish, I had to learn thousands of new words before I could read comfortably. Almost all of those words [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/38">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2010/12/vocabulary-the-biggest-challenge-in-language-learning" rel="nofollow">Vocabulary: The Biggest Challenge in Language Learning | Lin</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-38">wtorek, grudzień 21, 2010 - 11:14</a></span>
</div>
</div>
<a id="comment-43"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2011/01/what-is-spaced-repetition" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>[...] I was reading Harry Potter in Polish, I had almost 3,000 flashcards with new Polish words. Without using a computerized SRS, I don't [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/43">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2011/01/what-is-spaced-repetition" rel="nofollow">What is spaced repetition? | LinguaTrek</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-43">wtorek, styczeń 4, 2011 - 11:45</a></span>
</div>
</div>
<a id="comment-48"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2011/01/how-to-pick-your-first-book-to-read-in-a-foreign-language" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>[...] and listening to books in a foreign language is a great way to learn the language. I learned Polish largely through reading and listening to Harry Potter. Photo by Mark [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/48">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2011/01/how-to-pick-your-first-book-to-read-in-a-foreign-language" rel="nofollow">How to pick your first book to read in a foreign language | </a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-48">wtorek, styczeń 11, 2011 - 14:07</a></span>
</div>
</div>
<a id="comment-187"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2011/03/the-three-ingredients-for-successful-language-learning" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>[...] I have written before, I've been learning Polish mostly from reading and listening to books. I love books, even those in [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/187">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2011/03/the-three-ingredients-for-successful-language-learning" rel="nofollow">The three ingredients for successful language learning | Lin</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-187">wtorek, marzec 15, 2011 - 10:30</a></span>
</div>
</div>
<a id="comment-192"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/65eedd3d5031d3a52ff4b9772beb40e8?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>I've learned English by reading books of Harry Turtledove (ok, before that I've read programming manuals, but that hardly counts as English :) - his first book from the cycle have been translated to Polish, and later books haven't so I got motivation, and it worked just like you describe it - at first it was hard, but I just ignored words I didn't understood if the whole sentence made sense to me anyway. After a few occurences of a word I could guess from context what it means, and it felt more like fun, that looking it up in a dictionary every 10 seconds, and trying to rember. This method also makes it easy to remember in which context each word is used the most often.</p>
<p>The problem with learning English by reading is - my pronounciation is horrible - it sounds like if you tried to read English text as if it was Polish, with a few exceptions where I remember how given word should sound.</p>
<p>In this aspect Polish is much easier - given letter sounds the same in each word.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/192">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">ajuc (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-192">sobota, marzec 19, 2011 - 04:48</a></span>
</div>
</div>
<div class="indented"><a id="comment-204"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Thanks for sharing your experience!  Polish spelling is definitely easier in this regard. :-)</p>
<p>In your case, I would recommend listening to more audiobooks!  Even though Polish spelling is helpful, I don't think I would have learned nearly as much from reading Harry Potter if I just read it -- listening helped a lot. :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/204">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-204">poniedziałek, marzec 21, 2011 - 09:09</a></span>
</div>
</div>
</div><a id="comment-291"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/31394d0c41d9524d3d9f146ae6c13446?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Dzień dobry. Jestem z Biłorusi. Tylko zaczęła studiować język polski. On jest bardzo podobny do białoruskiego - problemów prawie nie mam.  Patrzę TV  <a href="http://wwitv.com/television/" title="http://wwitv.com/television/">http://wwitv.com/television/</a> 168.htm i słucham radie  <a href="http://moje.polskieradio.pl/" title="http://moje.polskieradio.pl/">http://moje.polskieradio.pl/</a>, czytam, ale mi tego brakuje.  Mi podoba się słuchać audioksięgi, i gdyby pan mi pomógł i przysłał na moją skrzynkę (<a href="mailto:svanurmjolk@vp.pl">svanurmjolk@vp.pl</a>) audio wersje Harry Pottera, byłabym bardzo wdzięczna! Nie mam możliwości znaleźć w internecie za darmo. Wspomóżcie mi, proszę!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/291">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Miesalina (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-291">sobota, kwiecień 23, 2011 - 10:55</a></span>
</div>
</div>
<a id="comment-295"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/be982193590e8362725477db3deb5e3a?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Jak podoba Ci się Polska literatura (zakładam, że miałeś okazję poznać Polskich autorów)?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/295">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Regis (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-295">niedziela, maj 1, 2011 - 18:33</a></span>
</div>
</div>
<div class="indented"><a id="comment-297"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Niestety do tej pory, nie czytałem tak dużo polskiej literatury.  Przeczytałem jedną książkę Stanisława Lema i jedną Joanny Chmielewskiej ale to chyba wszystko.  Mam Quo Vadis (był prezent od znajomej) ale jeszcze nie zacząłem poważnie ją czytać.</p>
<p>Kiedy byliśmy w Krakowie, pożyczałem książki z biblioteki dość regularnie ale jakoś przeważnie czytałem książki zagraniczne w języku polskim.  Wtedy przeczytałem między innymi może cztery książki Kira Bułyczowa (to autor rosyjski) i dwie książki Stephena Kinga.  To po prosto są książki, których przedtem nigdy nie czytałem, ale wyglądały ciekawe kiedy byłem w bibliotece. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/297">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-297">poniedziałek, maj 2, 2011 - 12:48</a></span>
</div>
</div>
<div class="indented"><a id="comment-313"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/be982193590e8362725477db3deb5e3a?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Polecam więc Andrzeja Sapkowskiego. Słyszałeś zapewne o Wiedźminie (The Witcher), w USA znana jest chyba gra stworzona na podstawie tej książki.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/313">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Regis (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-313">sobota, maj 7, 2011 - 17:11</a></span>
</div>
</div>
<div class="indented"><a id="comment-314"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Dzięki za polecenie!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/314">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-314">poniedziałek, maj 9, 2011 - 00:51</a></span>
</div>
</div>
</div><a id="comment-3890"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/092ac5cea34fae0422f09300f364ca84?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Thanks for this, David. I just hit upon the Harry Potter idea a couple of months ago and the guy who runs my blog, Wes Groleau, sent me a link to this site of yours. You've given me the idea of going beyond book one of H.P. (I'm reading it in several languages) and doing as you did. I've noticed that most are translated into the languages I'm interested in.<br/>
I understand the Polish only b/c I know Russian. But I was prompted to write by your mention of Lem. I read his story, The Cyberiad, years ago dealing with words starting with n. How in the heck did the translator (Michael Kandel) manage to make that work in English? Any notion?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/3890">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Pat Barrett (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-3890">sobota, luty 9, 2013 - 13:05</a></span>
</div>
</div>
<div class="indented"><a id="comment-3896"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Pat!</p>
<p>That's great! Let me know how Harry Potter goes for you as a language learning tool. If you haven't read my ebook, I recommend it! In it I talk a lot about the technique I use when reading and how it can be adapted to suit others.</p>
<p>I haven't Cyberiad in either English or Polish. However, I'm constantly amazed at translation when it's done well! I'm personally terrible at translation, even with articles I wrote myself. ;-) I can't imagine how professional translators manage when dealing with something as artist as a novel or poem.</p>
<p>Take care!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/3896">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-3896">niedziela, luty 10, 2013 - 09:58</a></span>
</div>
</div>
<div class="indented"><a id="comment-8171"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/7d1a660ed7a87b561fc88625e0d05da9?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>how can i get the book in polish online? and it will really help me if i know only 300 words in polish? :))</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/8171">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-8171">czwartek, czerwiec 11, 2015 - 11:54</a></span>
</div>
</div>
</div></div></div></div><a id="comment-315"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/86d2c8cb05042f9b1837126b8d1a9c56?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>łał, jestem pod wrażeniem :-). Jestem anglikiem i mieszkam w Polsce prawie od dwóch lat. Jeszcze się uczę. Naprawdę, nigdy nie słyszałem innej osoby, która nauczyła się polskiego do takiego wysokiego poziomu. Mam książki "Harry Potter", ale niestety nie mam audio. Ale chyba warto szukać na internecie jakiejś strony, skąd można go kupić. Ja mam podobną metodę, kiedy nie znam słowa, dodaję go do Anki. </p>
<p>Dobrze, chyba czas zacznąć czytać Harry'a Potter'a :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/315">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">antek (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-315">poniedziałek, maj 9, 2011 - 13:06</a></span>
</div>
</div>
<div class="indented"><a id="comment-318"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Gdzie w Polsce mieszkasz?  Kiedy byliśmy w Krakowie poznałem kilku obcokrajowców, którzy bardzo dobrze mówią po polsku.  Niektórzy nawet mówią o wiele lepiej ode mnie! :-)  Nadal mam sporo roboty przed sobą.</p>
<p>Możesz kupić "Harry Potter" do słuchania w Empiku.  Również, jak jesteś w Polsce, na pewno znasz Chomikuj.pl, tak? ;-)</p>
<p>Z Twoją metodą, co czytałeś?  Czy uczyłeś się polskiego w domu w Anglii czy dopiero zacząłeś w Polsce?  Co Ciebie zmotywowało do nauki tego pięknego języka? :-)  Jeśli chcesz rozmawiać ze mną więcej na ten temat, proszę mnie skontaktuj przez <a href="http://www.linguatrek.com/contact">ten formularz</a>.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/318">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-318">wtorek, maj 10, 2011 - 09:12</a></span>
</div>
</div>
</div><a id="comment-407"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2011/06/how-long-does-it-take-to-learn-a-foreign-language" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>[...] made my biggest progress with Polish in 2008 when I started reading the Harry Potter series in Polish. For the entire year, I spent two hours a day reading, listening and reviewing [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/407">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2011/06/how-long-does-it-take-to-learn-a-foreign-language" rel="nofollow">How long does it take to learn a foreign language? | LinguaT</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-407">wtorek, czerwiec 7, 2011 - 10:20</a></span>
</div>
</div>
<a id="comment-644"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2011/07/you-dont-need-to-live-in-a-foreign-country-to-learn" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>[...] I made my greatest progress in 2008, reading and listening to books in Polish, while living my home country. By the time we arrived in [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/644">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2011/07/you-dont-need-to-live-in-a-foreign-country-to-learn" rel="nofollow">You don&amp;amp;#039;t need to live in a foreign country to lear</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-644">wtorek, lipiec 26, 2011 - 10:04</a></span>
</div>
</div>
<a id="comment-663"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.tomfrompoland.com" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/3cdbaa2914c95444fc7968fe42ddfa2b?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Hi David :-)</p>
<p>I'm just starting improved my English with this method :-) I choose books ('The firm' by John Grisham and 'The Bourne Identity' by Robert Ludlum) with audiobook (I'm not using Harry Potter because audio is in British English, I prefer and want to learn an American dialect :-)</p>
<p>I hear that John Grisham uses simple, short sentences and in his books are a lot of dialogs - it's the case that (based on first pages and skimming), it's a big plus.</p>
<p>So, when I finish with English I'll plan do (using the same materials) the same with Spanish and German :-)</p>
<p>All the best<br/>
Tom</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/663">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.tomfrompoland.com" rel="nofollow">TomFromPoland</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-663">niedziela, lipiec 31, 2011 - 11:51</a></span>
</div>
</div>
<div class="indented"><a id="comment-664"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Tom!</p>
<p>Let me know how it goes!  I was actually looking for The Bourne Identity in Polish when we were in Poland but I couldn't find it.  I love those movies but haven't read any of the books.</p>
<p>I bet, actually, that there is an American version of the Harry Potter audio book.  I don't know if you know this, but they made "American translations" of all the Harry Potter books, to remove vocabulary that wouldn't be known to Americans.  They probably did the same with the audio book!  Because, honestly, as an American I do have trouble understanding English accents. ;-)</p>
<p>Hey, I see on your web page that you're a web developer interested in Open Source!  I'm also an Open Source web developer.  Check out my project <a href="http://www.bibliobird.com">BiblioBird</a>!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/664">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-664">niedziela, lipiec 31, 2011 - 18:03</a></span>
</div>
</div>
<div class="indented"><a id="comment-665"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.tomfrompoland.com" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/3cdbaa2914c95444fc7968fe42ddfa2b?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Hi David :-)</p>
<p>I didn't know that are American versions of Harry Potter books. But I'd like more "life" texts not about fantasy like Potter or modern famous in Poland "Game of Thrones" by George R.R. Martin.</p>
<p>If you want buy 'The Bourne Identity' ("Tożsamość Bourne'a" in Polish) check it on <a href="http://www.allegro.pl">Allegro.pl</a> or antique bookstore. You can set alert in search this term. I'm just buying it there, because I didn't have Polish version too. But try the latest edition (2008), the edition in the early-1990's century was printed on bad paper and bad quality :(</p>
<p>I saw your service bibliobird, it's great, but now I'm focus on other programming languages like Python, Java and Ruby and avoid develop in PHP :-). But it very impressive that it's develop in Drupal (I don't know it at all, only few facts about it), I didn't know that Drupal is so powerful.</p>
<p>I have one idea to bibliobird. It should copy to personal dictionary not only word with translation but also a example sentence with this word. I do it that. It more powerful technique, it's simpler remember word with content that only (sometimes artificial) word.</p>
<p>Best regards<br/>
Tom</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/665">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.tomfrompoland.com" rel="nofollow">TomFromPoland</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-665">poniedziałek, sierpień 1, 2011 - 03:27</a></span>
</div>
</div>
<div class="indented"><a id="comment-666"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Tom!</p>
<p>Thanks for the tips regarding The Bourne Identity!  I'm a little wary of buying stuff on Allegro when I'm in the States, though (I did buy a few things off of it when we were in Poland).  Maybe it's worth the experiment! ;-)</p>
<p>There are parts of BiblioBird written in Python (the natural language processing bits) and server-side JavaScript (the importer).  Personally, I'm not that crazy about PHP either, my preferred web development environment is Python with WebOb.  But I really, really love Drupal!  It is probably the best written PHP application that I've seen plus it has so many add-on modules written for it, that even for really advanced functionality I don't have to write the code myself -- there's already a module for that!</p>
<p>I agree about the example sentences.  I've been meaning to implement that for some time (you can see it discussed on the forums more than once) but I just haven't had the time.  My main priority it getting it so normal users can add their own texts.  Until I get that feature finished BiblioBird will never reach its full potential.</p>
<p>Stay in touch!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/666">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-666">poniedziałek, sierpień 1, 2011 - 06:23</a></span>
</div>
</div>
<div class="indented"><a id="comment-667"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.tomfrompoland.com" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/3cdbaa2914c95444fc7968fe42ddfa2b?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Hi,</p>
<p>Hmm, indeed it's hard to buy on Allegro from outside of Poland, but if you want I can buy for you and resend to you to States if you like :-) It's no problem for me :-) You have my email.</p>
<p>Best<br/>
Tom</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/667">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.tomfrompoland.com" rel="nofollow">TomFromPoland</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-667">poniedziałek, sierpień 1, 2011 - 09:25</a></span>
</div>
</div>
</div></div></div></div><a id="comment-680"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2011/08/heinrich-schliemann-a-famous-polyglot%E2%80%99s-method" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>[...] suggest using audio and print books to learn language (I made my biggest progress with Polish by reading and listening to Harry Potter!), my methods do vary from Schliemann’s in some [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/680">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2011/08/heinrich-schliemann-a-famous-polyglot%E2%80%99s-method" rel="nofollow">Heinrich Schliemann: a famous polyglot’s method | LinguaTrek</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-680">wtorek, sierpień 2, 2011 - 09:59</a></span>
</div>
</div>
<a id="comment-713"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/2622fed1633c96e7217871cce44ece6e?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Cześć:)<br/>
Znalazłam Cię przez youtube i jestem zachwycona Twoją znajomością polskiego. Myślałam na początku, że jesteś Polakiem, który na kilka lat wyjechał do Stanów. A tu takie zaskoczenie:)) BRAWO!!</p>
<p>Też się uczę angielskiego, próbowałam z książkami: Grisham, Masterton (pomyślałam, że skoro po polsku mi się miło czyta, to po angielsku też), ale nic z tego nie wyszło. Umęczyłam się niemiłosiernie. Może za szybko się poddałam? Mówiłeś, że efekty zobaczyłeś po roku... No i ja nie miałam książek do słuchania. Ale teraz to poprawię i chyba się rzucę też na Pottera :-D </p>
<p>A Tobie polecam książki Janusza Głowackiego:)<br/>
Pozdrawiam, świetna robota!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/713">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Geek (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-713">sobota, sierpień 20, 2011 - 10:22</a></span>
</div>
</div>
<div class="indented"><a id="comment-715"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć!</p>
<p>Dziękuję bardzo za miłe słowa. :-)</p>
<p>Jestem bardzo ciekaw, co się stało z tymi książkami?  Przeczytałaś je ale niczego nie uczyłaś się?  Czy czytanie z słownikiem w ręce było okropne więc poddałaś się?</p>
<p>Zobaczyłem efekty od razu po przeczytaniu pierwszej książki czyli po czterech miesiącach.  Oczywiście moje postępy były znacznie większe po całym tym roku.  Dla mnie, książki do słuchania były niezbędne ale to było dlatego, że byłem na takim niskim poziomie.  Na wyższym poziomie nie ma wielkiej różnicy bo już dobrze znasz wymowy i dobrze rozumiesz ze słuchu.  Ale ja wtedy nie mogłem rozumieć niczego ze słuchu. ;-)</p>
<p>Dziękuję bardzo za polecenie książek Janusza Głowackiego!  Poczytałem trochę o nim na Wikipedii i wygląda na ciekawą osobę.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/715">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-715">poniedziałek, sierpień 22, 2011 - 07:49</a></span>
</div>
</div>
</div><a id="comment-739"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2011/08/what-is-grammar-good-for" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>[...] wasn't until I started actually using Polish (by reading and listening to books) that I began to really speak [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/739">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2011/08/what-is-grammar-good-for" rel="nofollow">What is grammar good for? | LinguaTrek</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-739">środa, sierpień 31, 2011 - 10:04</a></span>
</div>
</div>
<a id="comment-752"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/79a516fafb69fafdd4f8e88dc0428b45?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Polecam wszystkim e-czytniki. Sam mam Amazon Kindle z wbudowanym słownikiem. Książki są legalnie dostępne w Internecie (Project Gutenberg) albo mniej legalnie w sieciach p2p;).</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/752">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Mike;) (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-752">poniedziałek, wrzesień 5, 2011 - 20:24</a></span>
</div>
</div>
<div class="indented"><a id="comment-754"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Dzięki za polecenia. :-)  Na pewno przydają się komuś!  Pozdrawiam, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/754">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-754">wtorek, wrzesień 6, 2011 - 07:01</a></span>
</div>
</div>
</div><a id="comment-768"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://mandarinfromscratch.com/2011/09/08/what-is-grammar-good-for-guest-post-by-david-snopek-of-linguatrek/" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>[...] wasn’t until I started actually using Polish (by reading and listening to books) that I began to really speak [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/768">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://mandarinfromscratch.com/2011/09/08/what-is-grammar-good-for-guest-post-by-david-snopek-of-linguatrek/" rel="nofollow">What is grammar good for? &amp;amp;#8211; Guest post by David Sn</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-768">czwartek, wrzesień 8, 2011 - 15:28</a></span>
</div>
</div>
<a id="comment-895"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/24999d59c10d6d17efccff6b12a8a8b4?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Hi! I've read almost everything you posted here and I'm really impressed by your enthusiasm and your progress!</p>
<p>But there's still one thing which I'd like to know more about. You wrote you used a flashcard program but you didn't mention what your flashcards looked like. That's quite an interesting aspect of vocabulary learning and there are lots of different ideas about it on the net. Briefly: what did you put in the question field? Was it a word, a Polish sentence with a marked word or maybe something different? What was in the answer field? Would you mind commenting on it? :-)</p>
<p>Best wishes,<br/>
Seba</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/895">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Seba (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-895">poniedziałek, wrzesień 19, 2011 - 08:36</a></span>
</div>
</div>
<div class="indented"><a id="comment-909"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Seba!</p>
<p>Thanks for so much for the kind words. :-)</p>
<p>I'm actually writing an article now that talks a little bit more about what I put on my flashcards.  But it still doesn't have everything!</p>
<p>The question was always at least a Polish word.  If the word had more than one meaning, I would sometimes put an example sentence so I would know which meaning.  If it was a verb, I'd also add the "object" in parenthesis, for example: "interesować się (czymś / kimś)" or "podobać (komuś) się".</p>
<p>The answer was the translation in English, sometimes with an example sentence if the meaning was very unusual for that word and I might not understand.</p>
<p>Hope that helps!</p>
<p>Best regards,<br/>
David</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/909">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-909">wtorek, wrzesień 20, 2011 - 13:37</a></span>
</div>
</div>
</div><a id="comment-898"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/1a395139f701369edc4c785a7cae62a0?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>I'm learning english since I waa about 7 years old and the first book I read was Edgar Allan Poe's stories. Since I was just a teenaager (I was 12 years old) it was an awful decision. I could not understand anything. I was depressed. Then i bought Eragon by Cristopher Paolini and it seemed for me so easy :) Later I borrowed Harry Potter books in english, now I can't imagine reading them in polish :)<br/>
An now when I'm 21 years old there is no problem for me to read and understand Poe's or Lovecraft's stories. Poems are also easy for me. Reading in english helped me with grammar a lot, though I know I still make a lot of mistakes :)<br/>
Now I convinced my boyfriend to this method and I hope it'll help him with his german :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/898">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">chari (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-898">poniedziałek, wrzesień 19, 2011 - 10:55</a></span>
</div>
</div>
<div class="indented"><a id="comment-910"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Chari!</p>
<p>Thanks so much for sharing your experience!  I hope this method works for boyfriend.  Let me know how it goes!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/910">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-910">wtorek, wrzesień 20, 2011 - 13:38</a></span>
</div>
</div>
</div><a id="comment-1004"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2011/11/review-polygloto-polish" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>[...] with this course, I'd recommend supplementing it with interesting content in Polish, whether that's books, podcasts, films, videos games or whatever you [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/1004">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2011/11/review-polygloto-polish" rel="nofollow">Review: Polygloto Polish | LinguaTrek</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-1004">wtorek, listopad 1, 2011 - 13:09</a></span>
</div>
</div>
<a id="comment-1114"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2011/12/my-language-goals-for-2012" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>[...] 2011 I started learning Polish in 2007. The year I studied the hardest was definitely 2008, when I read and listened to all the Harry Potter books in [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/1114">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2011/12/my-language-goals-for-2012" rel="nofollow">My language goals for 2012 | LinguaTrek</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-1114">wtorek, grudzień 27, 2011 - 10:59</a></span>
</div>
</div>
<a id="comment-1160"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/3bd87cbf8b98d5ef3706c4e094c4656d?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Hi David,</p>
<p>First, thanks so much for your blog.  I am beginning to teach myself Polish (trying anyway) and it's so inspiring to see what you've done and accomplished in the language.  Sure, there are a ton of polyglot blogs out there, but it's great to see a foreign language blog dealing specifically with Polish.</p>
<p>I'm really fascinated in your learning method using Harry Potter.  I am not a huge reader but I do agree that reading in a foreign language can help you gain proficiency.  I have studied Armenian for a while and have found that reading is a great supplement and a nice way to learn phrases and natural ways to say things.</p>
<p>You said you studied Polish in Uni for a year before starting the Potter series.  You also said you couldn't really speak or understand.  Are you being serious or just modest?  I think you must have been able to have some basic conversations after a 1 year course.  </p>
<p>I'm asking about that because I'm wondering how much I should know before trying something like a Harry Potter book.  Right now I just know some really random vocabulary, almost no verbs, and next to nothing about grammar.  I think I need to build the foundation some more before I start trying to read anything.  Thoughts?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/1160">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">ice (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-1160">niedziela, styczeń 1, 2012 - 15:24</a></span>
</div>
</div>
<div class="indented"><a id="comment-1162"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hello!</p>
<p>I'm glad you're enjoying the blog!</p>
<p>I was being serious when I said I couldn't really speak or understand much.  Of course, I could understand <em>something</em>, like the simple language we used in class and the sentances in the grammar exercises we did.  But I couldn't understand or say anything pratical or real.</p>
<p>I think whether or not this method will work depends - <em>more than anything else!</em> - on the person.  I believe I was able to stick it out at such an early level because (1) I am extremely stubborn (some people call that "motivated" ;-)) and (2) I love reading and the desire to know what happens next in a book is pretty powerful for me.</p>
<p>Another person faced with 20 unknown words <em>on every page</em> which need to be looked up in the dictionary, might give up. :-)  That number might need to 5-10 to be below their threshold of giving up.  In which case, they should find an easier text or do another activity until their level is a little higher.</p>
<p>You mentioned that you're not a huge reader.  What I always tell people is that they should take something they love to do in their native language and do that in the language they are learning.  Because then the activity itself is fun and you're already strongly motivated to do it regularly.</p>
<p>This could be watching TV or films, playing video games, listening to music, talking to people over chat or Skype, etc.  It doesn't matter much, so long as your are getting lots of input in the language, you do it regularly and you're motivated enough not to give up.</p>
<p>So, to summarize: it can be done.  But if you think taking on a task of this magnitude at your level will de-motivate you, don't do it yet.</p>
<p>Hope that was helpful!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/1162">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-1162">poniedziałek, styczeń 2, 2012 - 19:00</a></span>
</div>
</div>
<div class="indented"><a id="comment-1163"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/3bd87cbf8b98d5ef3706c4e094c4656d?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Very helpful, thank you!  And wise.</p>
<p>I have a question about the process:  Was it difficult looking up so many words when you take into account the declensions?  The first time you come across a word it is likely to be declined in some form, right?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/1163">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">ice (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-1163">poniedziałek, styczeń 2, 2012 - 22:05</a></span>
</div>
</div>
<div class="indented"><a id="comment-1164"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Yes, sometimes it was!  There were a few words that I was unable to find immediately, until I eventually saw them in a form I could look up.</p>
<p>The only example I can remember right now, is that I saw this verb in the past tense pretty often: "dotarł" or "dotarła".  And for many weeks I couldn't figure out what the base form was so I couldn't look it up!  I'm not sure how I eventually found it, but it's "dotrzeć". :-)</p>
<p>However, for most words, only the very end changes.  And since the dictionary is ordered alphabetically, you can usually find the base form by just looking around on the page.</p>
<p>Best of luck!  Definitely let me know how it goes for you if you decide to try reading/listening to something in Polish!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/1164">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-1164">wtorek, styczeń 3, 2012 - 07:36</a></span>
</div>
</div>
</div></div></div><a id="comment-1293"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://balilanguageschool.com" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/a3b0ab7482fff9062079938d15b0c8d6?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Good method, I think it will be very effective for everyone as well. thank you for sharing David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/1293">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://balilanguageschool.com" rel="nofollow">Learn Indonesian in Bali</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-1293">środa, luty 1, 2012 - 23:26</a></span>
</div>
</div>
<a id="comment-1530"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/03/why-i-almost-shut-down-linguatrek-and-bibliobird-and-our-big-dream" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>[...] told the story of how I learned Polish (despite failing to learn other languages) many times. For example, just last week, when I finally [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/1530">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/03/why-i-almost-shut-down-linguatrek-and-bibliobird-and-our-big-dream" rel="nofollow">Why I almost shut down LinguaTrek and Bibliobird... and our </a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-1530">wtorek, marzec 27, 2012 - 09:40</a></span>
</div>
</div>
<a id="comment-1590"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/03/our-big-announcement-we-need-your-help" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>[...] step-by-step guide to using my personal language learning method (without the help of [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/1590">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/03/our-big-announcement-we-need-your-help" rel="nofollow">Our BIG announcement! (We need your help!) | LinguaTrek</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-1590">czwartek, marzec 29, 2012 - 10:43</a></span>
</div>
</div>
<a id="comment-1695"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/04/3-kroki-do-p%C5%82ynnego-m%C3%B3wienia-fragment-e-booka" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>[...] Osobiście, udało mi się to za pomocą słuchania i czytania Harry'ego Pottera. [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/1695">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/04/3-kroki-do-p%C5%82ynnego-m%C3%B3wienia-fragment-e-booka" rel="nofollow">3 kroki do płynnego mówienia (fragment e-booka!) | LinguaTre</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-1695">czwartek, kwiecień 19, 2012 - 10:56</a></span>
</div>
</div>
<a id="comment-1762"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/04/planning-your-daily-routine-ebook-excerpt" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>[...] example, before I started reading Harry Potter in Polish, I already set aside time in my day for reading in English: during lunch at work and every night [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/1762">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/04/planning-your-daily-routine-ebook-excerpt" rel="nofollow">Planning your daily routine (ebook excerpt!) | LinguaTrek</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-1762">czwartek, kwiecień 26, 2012 - 10:26</a></span>
</div>
</div>
<a id="comment-1784"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/01/language-learning-guide" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>[...] My story [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/1784">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/01/language-learning-guide" rel="nofollow">Language learning guide? | LinguaTrek</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-1784">środa, maj 2, 2012 - 20:10</a></span>
</div>
</div>
<a id="comment-1797"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/01/how-to-listen-effectively" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>[...] is basically what I did with the Harry Potter books. I always bought both the audiobook and paper version. I tried to focus on the audiobook as much as [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/1797">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/01/how-to-listen-effectively" rel="nofollow">How to listen effectively | LinguaTrek</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-1797">środa, maj 2, 2012 - 20:11</a></span>
</div>
</div>
<a id="comment-1801"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/03/do-i-need-to-understand-everything" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>[...] My method for learning Polish involved mainly reading and listening to books in Polish. There are many variations on this method that involve the use of movies, podcasts or even video games instead of books. [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/1801">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/03/do-i-need-to-understand-everything" rel="nofollow">Do I need to understand everything? | LinguaTrek</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-1801">środa, maj 2, 2012 - 20:18</a></span>
</div>
</div>
<a id="comment-1811"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/04/natural-language-learning-without-a-teacher" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>[...] described this method several times in articles and videos. But always in a very general [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/1811">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/04/natural-language-learning-without-a-teacher" rel="nofollow">Natural Language Learning (without a teacher!) | LinguaTrek</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-1811">środa, maj 2, 2012 - 20:28</a></span>
</div>
</div>
<a id="comment-1817"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/04/3-steps-to-speaking-a-language-fluently-ebook-excerpt" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>[...] Personally, I did this by reading and listening to Harry Potter. [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/31/1817">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/04/3-steps-to-speaking-a-language-fluently-ebook-excerpt" rel="nofollow">3 steps to speaking a language fluently (ebook excerpt!) | L</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish#comment-1817">środa, maj 2, 2012 - 20:30</a></span>
</div>
</div>
<div class="item-list"><ul class="pager"><li class="pager-current first">1</li>
<li class="pager-item"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish-page-1" title="Przejdź do strony 2">2</a></li>
<li class="pager-next"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish-page-1" title="Przejdź do następnej strony">następna ›</a></li>
<li class="pager-last last"><a class="active" href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish-page-1" title="Przejdź do ostatniej strony">ostatnia »</a></li>
</ul></div><div class="box">
<h2>Dodaj nową odpowiedź</h2>
<div class="content"><form accept-charset="UTF-8" action="/comment/reply/31" id="comment-form" method="post">
<div><div class="form-item" id="edit-name-wrapper">
<label for="edit-name">Nazwisko lub pseudonim: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-name" maxlength="60" name="name" size="30" type="text" value="Anonymous"/>
</div>
<div class="form-item" id="edit-mail-wrapper">
<label for="edit-mail">E-mail: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-mail" maxlength="64" name="mail" size="30" type="text" value=""/>
<div class="description">Zawartość pola nie będzie udostępniana publicznie. If you have a <a href="http://www.gravatar.com">Gravatar</a> account, used to display your avatar.</div>
</div>
<div class="form-item" id="edit-homepage-wrapper">
<label for="edit-homepage">Strona domowa: </label>
<input class="form-text" id="edit-homepage" maxlength="255" name="homepage" size="30" type="text" value=""/>
</div>
<div class="form-item" id="edit-comment-wrapper">
<label for="edit-comment">Odpowiedź: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<textarea class="form-textarea resizable required" cols="60" id="edit-comment" name="comment" rows="15"></textarea>
</div>
<ul class="tips"><li>Adresy internetowe są automatycznie zamieniane w odnośniki, które można kliknąć.</li><li>Dozwolone znaczniki HTML: &lt;a&gt; &lt;em&gt; &lt;strong&gt; &lt;cite&gt; &lt;code&gt; &lt;ul&gt; &lt;ol&gt; &lt;li&gt; &lt;dl&gt; &lt;dt&gt; &lt;dd&gt; &lt;blockquote&gt;</li><li>Znaki końca linii i akapitu dodawane są automatycznie.</li></ul><input id="form-0e2b79f3bf170f400daa46be2c535353" name="form_build_id" type="hidden" value="form-0e2b79f3bf170f400daa46be2c535353"/>
<input id="edit-comment-form" name="form_id" type="hidden" value="comment_form"/>
<input id="edit-honeypot-time" name="honeypot_time" type="hidden" value="1446270881"/>
<div class="clear-block"><div class="form-item" id="edit-notify-wrapper">
<label class="option" for="edit-notify"><input checked="checked" class="form-checkbox" id="edit-notify" name="notify" type="checkbox" value="1"/> Notify me when new comments are posted</label>
</div>
<div class="form-radios"><div class="form-item" id="edit-notify-type-1-wrapper">
<label class="option" for="edit-notify-type-1"><input class="form-radio" id="edit-notify-type-1" name="notify_type" type="radio" value="1"/> All comments</label>
</div>
<div class="form-item" id="edit-notify-type-2-wrapper">
<label class="option" for="edit-notify-type-2"><input checked="checked" class="form-radio" id="edit-notify-type-2" name="notify_type" type="radio" value="2"/> Replies to my comment</label>
</div>
</div></div><input class="mollom-content-id" id="edit-mollom-contentId" name="mollom[contentId]" type="hidden" value=""/>
<input class="mollom-captcha-id" id="edit-mollom-captchaId" name="mollom[captchaId]" type="hidden" value=""/>
<div style="display: none;"><div class="form-item" id="edit-mollom-homepage-wrapper">
<input autocomplete="off" class="form-text" id="edit-mollom-homepage" maxlength="128" name="mollom[homepage]" size="60" type="text" value=""/>
</div>
</div><div class="description mollom-privacy">By submitting this form, you accept the <a class="mollom-target" href="https://mollom.com/web-service-privacy-policy" rel="nofollow">Mollom privacy policy</a>.</div><input class="form-submit" id="edit-preview" name="op" type="submit" value="Podgląd"/>
<div class="honeypot-textfield"><div class="form-item" id="edit-url-wrapper">
<label for="edit-url">Leave this field blank: </label>
<input class="form-text" id="edit-url" maxlength="128" name="url" size="20" type="text" value=""/>
</div>
</div>
</div></form>
</div>
</div>
</div>
