---
permalink: /blog/2010/12/vlog-jak-uczyć-się-angielskiego-w-ten-sam-sposób-jak-uczę-się-polskiego/
layout: blog-old
title: 'Vlog: Jak uczyć się angielskiego w ten sam sposób jak uczę się polskiego'
day: 4
month: Dec
year: 2010
category: learn English
tags: 
  - 'method'
  - 'vlog'
language: en
translation: /blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego/
---
<div class="content">
<p>Dzisiaj znowu mówię o tym jak uczyłem się języka polskiego i przedstawiam BiblioBird.com, mój projekt dla nauki języków obcych (na razie tylko języka angielskiego).  Też mam prezenty dla wszystkich, którzy utwarzają konto na stronie BiblioBird.com do jedenastego grudnia.  Obejrzyj filmik, żeby dowiedzieć się więcej!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/lElYVuETqrk?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/lElYVuETqrk?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Czytaj transkrypcję poniżej.</p>
<h2><a name="transcript">Transkrypcja</a></h2>
<ul>
<li>Dzień dobry</li>
<li>Znowu przed kamerą internetową mówi David Snopek</li>
<li>Już mówiłem o tym w kilku filmikach w przeszłości, ale głównie uczyłem się języka polskiego od czytania i słuchania książek</li>
<li>Pierwszą książką, którą przeczytałem po polsku, był Harry Potter</li>
<li>Kiedy zacząłem czytać tę książkę tylko uczyłem się języka polskiego rok</li>
<li>I to było na uniwersytecie, gdzie była tylko gramatyka, gramatyka i tyle</li>
<li>Wtedy nie mogłem normalnie mówić ani rozumieć po polsku</li>
<li>To było w styczniu 2008 (dwa tysiące ósmego) roku</li>
<li>Po czterech miesiącach skończyłem ten pierwszy tom Harry'ego Potter'a</li>
<li>Prawdę mówiąc było bardzo, bardzo trudno</li>
<li>Ale po tym, naprawdę mówiłem po polsku</li>
<li>Mogłem rozumieć to, co słyszałem lub czytałem prawie automatycznie</li>
<li>Co więcej udało mi się przeczytać wszystkich siedem tomów Harry'ego Potter'a przed końcem tego roku</li>
<li>Więc uczyłem się bardzo, bardzo szybko</li>
<li>Każda książka była coraz grubsza, ale czytałem coraz <del>szybko</del> [szybciej]</li>
<li>Pierwszą książkę <del>w czterech miesiącach</del> [w cztery miesiące], a ostatnią może -- nie pamiętam -- może w <del>dwóch tygodniach</del> [w dwa tygodnie]</li>
<li>Ale popatrzcie!</li>
<li>To jest pierwsza książka i to dość mała</li>
<li>Potem druga, to też dość małą</li>
<li>I nawet trzecia jest trochę grubsza ale nie za bardzo</li>
<li>Ale potem jest czwarta, piąta, szósta, siódma</li>
<li>Ostatnie cztery to coś</li>
<li>Moja metoda wyglądała tak</li>
<li>Napisałem artykuł o tym, już <del>w</del> [na] moim starym blogu właśnie</li>
<li>To było właśnie w ciągu tego -- napisałem to w lutym tego roku</li>
<li>I planuję kiedyś przepisać to <del>dla mojego nowego blogu</del> [na mój nowy blog], ale nieważne</li>
<li>Czytałem i podkreślałem nieznane słowa ołówkiem</li>
<li>Później szukałem tych nieznanych słów w słowniku i pisałem fiszki</li>
<li>Wtedy użyłem programu, który sam napisałem, ale to działało w sposób podobny do Anki i SuperMemo</li>
<li>To było "spaced repetition"</li>
<li>Ten program już nie istnieje</li>
<li>Nie <del>jest</del> [ma] w internecie już</li>
<li>Ale codziennie powtarzałem te fiszki</li>
<li>Zawsze kupowałem normalną książkę razem z książką do słuchania</li>
<li>Z pierwszym tomem Harry'ego Potter'a nie użyłem tej do słuchania</li>
<li>Bo to po prostu wystraszyło mnie</li>
<li>Było za trudno na moim poziomie wtedy</li>
<li>Ale z następnymi korzystałem z wersji do słuchania <del>w</del> [na] różne sposoby</li>
<li>Po pierwsze czytałem i potem słuchałem</li>
<li>Później odwrotnie, słuchałem i potem czytałem</li>
<li>Wtedy rozumiałem parę części, które nie były rozumiałe od słuchania</li>
<li>I w końcu z ostatnimi książkami tylko słuchałem</li>
<li>Może otwierałem książki nieliczne razy, kiedy było w nich coś naprawdę <del>trudne</del> [trudnego] ale rzadko</li>
<li>I ta metoda była bardzo, bardzo skuteczna dla mnie</li>
<li>Na początku tego roku nie mówiłem po polsku -- w realnym sensie</li>
<li>No, już coś wiedziałem -- ale nie mówiłem, nie rozumiałem normalnie</li>
<li>I na końcu tego roku mówiłem nawet dobrze -- nie perfekcyjnie, ale dość dobrze</li>
<li>To było we wrześniu tego roku, że nagrałem mój pierwszy filmik na YouTube'ie</li>
<li>Więc to widać, że nawet wtedy coś umiałem</li>
<li>Też były problemy z tą metodą</li>
<li>Głównie, była bardzo czasochłonna</li>
<li>Czytanie i podkreślenie słów było w porządku, nawet bardzo przyjemne</li>
<li>Bo zawsze chciałem dowiedzieć się co dalej się zdarzy w książce</li>
<li>Ale czas ze słownikiem -- i musiałem korzystać z kilku słowników normalnych i internetowych</li>
<li>Bardzo często bywało trudno znaleźć słowo lub wybrać odpowiednie znaczenie tego słowa</li>
<li>I też czas spędzony z pisaniem fiszek</li>
<li>W ogóle było tego za dużo</li>
<li>I właśnie dlatego tworzyłem mój nowy projekt -- nad którym teraz pracuję cały czas -- BiblioBird.com</li>
<li>Dzisiaj chciałbym przedstawić to, i pokazać Wam jak można korzystać z tego, żeby uczyć się języka angielskiego w ten sam sposób jak ja uczyłem się polskiego</li>
<li>Też mam prezenty, dla wszystkich, którzy <del>utwarzą</del> [utwarzają] konta na stronie BiblioBird.com przed końcem tego tygodnia -- to znaczy do jedenastego grudnia</li>
<li>Ten pomysł na prezent <del>był przez innego użytkownika</del> [podsunął mi inny użytkownik] YouTube'a, który prosił mnie o pocztówkę wysłaną ze Stanów Zjednoczonych</li>
<li>Więc utwórz konta na stronie BiblioBird.com, potem wyślij mi wiadomość przez YouTube z Twoim adresem, do jedenastego grudnia, i wyślę Ci pocztówkę ze Stanów Zjednoczonych</li>
<li>Wiem, że nie wszyscy są zainteresowani Stanami</li>
<li>Ale to jest prezent mały i prosty, i mam nadzieję, że też osobisty i przyjemny</li>
<li>Dobrze, do prezentacji</li>
<li>Oto jest artykuł na moim blogu</li>
<li>W niektórych artykułach można kliknąć na słowo i od razu wyświetla się tłumaczenie po polsku</li>
<li>To wszystko jest przez integrację z BiblioBird.com</li>
<li>Niestety teraz na moim blogu nie wszystkie artykuły mają integracje z BiblioBird'em</li>
<li>Ale na stronie głównej, jeśli widzicie obraz BiblioBird z napisem "Czytaj ten tekst z BiblioBird'em", to znaczy, że ma integrację z BiblioBird'em</li>
<li>Też w przyszłości będą normalne tłumaczenia tych artykułów, dla tych, którzy nie chcą w ten sposób uczyć się angielskiego</li>
<li>Ale teraz mówię na temat BiblioBird'a</li>
<li>To wszystko działa bez konta w systemie BiblioBird.com</li>
<li>Ale jak masz konto, wszystkie nieznane słowa, na które kliknąłeś, są zapamiętane w systemie, żebyś mógł powtarzać te słowa później</li>
<li>Więc, utwórzmy konto</li>
<li>Możesz kliknąć tutaj jeśli jesteś na stronie LinguaTrek.com w artykule z integracją z BiblioBird'em</li>
<li>Lub bezpośrednio na stronie BiblioBird.com</li>
<li>Przejdziemy tam</li>
<li>Kliknij na czerwony <del>nacisk</del> [przycisk] z napisem "Utwórz konto"</li>
<li>I wszystko jest jak normalnie: nazwa użytkownika, adres e-mail, hasło, i utwórz nowe konto</li>
<li>Teraz już masz dostęp do BiblioBird'a i normalne konto</li>
<li>Ale żeby mieć pełny dostęp do BiblioBird'a i żeby system wiedział, że nie jesteś robotem, że jesteś człowiekiem, e-mail potwierdzający został wysłany do Ciebie</li>
<li>Oto jest email od BiblioBird'a</li>
<li>Kliknij na odnośnik</li>
<li>I teraz Twoje konto jest potwierdzone</li>
<li>Teraz kliknij na "Zawartość" i <del>znaleźć</del> [znajdź] artykuł do czytania</li>
<li>Tu są niektóre artykuły <del>od</del> [z] mojego blogu i <del>niektóre</del> inne</li>
<li>Na przykład, ten artykuł</li>
<li>Ten artykuł też ma audio do słuchania</li>
<li>Przeczytany przeze mnie</li>
<li>Też możesz kliknąć na słowo i wyświetla się tłumaczenie na polski</li>
<li>Ale teraz wszystkie te słowa są zapamiętane w "Moim osobistym słowniczku"</li>
<li>Kliknij na ten <del>nacisk</del> [przycisk] tutaj</li>
<li>Oto są te słowa</li>
<li>Teraz to tylko jest spis słów, ale następną dużą rzeczą, którą dodam do BiblioBird'a, będą fiszki.</li>
<li>No, w sumie, to wszystko jest tak samo jak robiłem z książkami, ołówkiem i słownikiem, ale o wiele szybciej</li>
<li>Nie musisz w ogóle szukać w słowniku i system będzie też pisać te fiszki automatycznie</li>
<li>Na końcu chciałbym dodać, że to wszystko jest na samym początku</li>
<li>Planuję dodać wiele rzeczy</li>
<li>Teraz tam jest bardzo mało tekstów, chciałbym dodać więcej</li>
<li>I też chciałbym pozwolić wszystkim dodawać nowe teksty</li>
<li>W najbliższym czasie będą fiszki, żebyście mogli powtarzać te nieznane słowa</li>
<li>Też chciałbym dodać całą książkę i już mam tę książkę do tego -- to science fiction</li>
<li>Też będzie z tym nagranie dźwiękowy, to znaczy będzie książka do słuchania</li>
<li>Ale nie wiem w ogóle, kiedy to będzie gotowe ale jak najprędzej</li>
<li>I jeszcze mam wiele pomysłów</li>
<li>Na razie to wszystko</li>
<li>Dziękuje bardzo za uwagę</li>
<li>Do widzenia</li>
</ul>
</div>

<div id="comments">
<a id="comment-73"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/58ada1efff4bb34297572aae1c3f18bc?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>"Kliknij na czerwony nacisk z napisem... "</p>
<p>Powinno być: czerwony przycisk ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/28/73">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">garry (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego#comment-73">Tuesday, February 8, 2011 - 11:23</a></span>
</div>
</div>
<div class="indented"><a id="comment-74"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dziękuję za poprawkę! :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/28/74">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego#comment-74">Tuesday, February 8, 2011 - 11:30</a></span>
</div>
</div>
</div><a id="comment-79"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/653eb32aa0d4972a63ab88f641afd962?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi,</p>
<p>great blog. You're a great man. Some very minor errors in your transcription:</p>
<p>Pierwszą książkę w czterech miesiącach, a ostatnią może -- nie pamiętam -- może w dwóch tygodniach<br/>
should be<br/>
Pierwszą książkę w cztery miesiące, a ostatnią może -- nie pamiętam -- może w dwa tygodnie</p>
<p>Co więcej udało mi się przeczytać wszystkich siedem tomów Harry'ego Potter'a przed końcem tego roku<br/>
=&gt;<br/>
Co więcej udało mi się przeczytać wszystkiE siedem tomów Harry'ego Potter'a przed końcem tego roku</p>
<p>I planuję kiedyś przepisać to dla mojego nowego blogu ale nie ważnie<br/>
=&gt;<br/>
I planuję kiedyś przepisać to na mój nowy blog, ale nieważne</p>
<p>Ale z następnymi korzystałem z wersji do słuchania w różne sposoby<br/>
should be<br/>
Ale z następnymi korzystałem z wersji do słuchania na różne sposoby<br/>
or<br/>
Ale z następnymi korzystałem z wersji do słuchania w różnY sposób</p>
<p>Napisałem artykuł o tym, już w moim starym blogu właśnie<br/>
=&gt;<br/>
Napisałem artykuł o tym, już na moim starym blogu właśnie</p>
<p>Nie jest w internecie już<br/>
=&gt;<br/>
Nie ma w internecie już</p>
<p>Wtedy rozumiałem parę części, które nie były rozumiałe od słuchania<br/>
=&gt;<br/>
Wtedy rozumiałem niektóre części, które nie były Zrozumiałe od słuchania</p>
<p>Po pierwsze czytałem i potem słuchałem<br/>
=&gt;<br/>
Najpierw czytałem, a potem słuchałem</p>
<p>Może otwierałem książki nieliczne razy, kiedy było w nich coś naprawdę trudne ale rzadko<br/>
=&gt;<br/>
Może otwierałem książki niewiele razy, kiedy było w nich coś naprawdę trudneGO, ale rzadko</p>
<p>Czytanie i podkreślenie słów było w porządku, nawet bardzo przyjemnie<br/>
=&gt;<br/>
Czytanie i podkreślenie słów było w porządku, nawet bardzo przyjemne</p>
<p>Ten pomysł na prezent był przez innego użytkownika YouTube'a, który prosił mnie o pocztówkę wysłaną ze Stanów Zjednoczonych<br/>
=&gt;<br/>
Ten pomysł na prezent podsunął mi inny użytkownik YouTube'a, który prosił mnie o pocztówkę wysłaną ze Stanów Zjednoczonych</p>
<p>Tu są niektóre artykuły od mojego blogu, i niektóre inne<br/>
=&gt;<br/>
Tu są niektóre artykuły z mojego bloga i inne</p>
<p>Przeczytane przeze mnie<br/>
=&gt;<br/>
Przeczytany przeze mnie (TEN artykuł)</p>
<p>If you need any help with programming your site let me know. I'm trying with some startup too but it's very difficult.</p>
<p>--<br/>
Best regards,<br/>
Tomek</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/28/79">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Thomas (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego#comment-79">Tuesday, February 8, 2011 - 12:34</a></span>
</div>
</div>
<div class="indented"><a id="comment-81"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks soooo much for the corrections!  I have added them all to the original article. :-)</p>
<p>It would be great to have help programming the site!  I'm planning to release the code behind BiblioBird as Open Source in the near future.  Hopefully that help get more features in faster.</p>
<p>If you want to talk more about startups and programming, please send me a message via the <a href="http://www.linguatrek.com/contact">contact form</a>!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/28/81">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego#comment-81">Tuesday, February 8, 2011 - 13:48</a></span>
</div>
</div>
</div><a id="comment-82"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://jacekmuda.pl" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d7f217c6c01f25a6707de77ee7ae0b26?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Dawidzie! Bardzo się cieszę że trafiłem na Twojego vloga. Z metodą którą promujesz spotkałem się już parę lat temu, w biografii Heinricha Schliemanna który z ogromnej biedy i bezdomności wydostał się właśnie dzięki zaparciu w nauce języków których poznał 12 albo 13 - w 19 wieku język rosyjski dał mu fortunę w kontaktach handlowych z Rosją i pozwolił mu zrealizować swoje marzenie - odkryć Troję. Jestem także dumny, że uczysz się własnie języka polskiego nota bene uznawanego za bardzo trudny język. Serdecznie pozdrawiam!</p>
<p>Jacek</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/28/82">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://jacekmuda.pl" rel="nofollow">Jacek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego#comment-82">Tuesday, February 8, 2011 - 14:03</a></span>
</div>
</div>
<a id="comment-122"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/6501c104b8820c545a4a7564fb12dcb3?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>David, gratuluję Ci tak szybkiego nauczenia się naszego (chyba trudnego) języka i wytrwałości. Ja angielskiego uczę się ponad 10 lat w szkole, a i tak nie jest jeszcze tak perfekcyjny jak Twój polski. Szukam w internecie różnych sposobów na jak najlepsze przygotowanie się do matury, bardzo się cieszę, że trafiłam na Twoją metodę i stronę. Myślałam, że czytanie książek po angielsku będzie niemożliwe (na razie oglądam tylko filmy z angielskimi napisami, a i tak czasem mam problemy ze zrozumieniem), ale skoro Tobie tak dobrze poszło z polskim, to i ja spróbuję. I oczywiście zaraz zakładam konto na BiblioBird :)<br/>
Na koniec chciałam Ci pogratulować zapału i energii, którą widać po tym co robisz, mówisz :)<br/>
Dzięki!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/28/122">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Ola (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego#comment-122">Sunday, February 13, 2011 - 14:42</a></span>
</div>
</div>
<a id="comment-183"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/74105cb6800ce9c7092f6c404cc73adc?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Dawidzie może znasz jakąś metodę aby przezwyciężyć strach przed mówieniem w obcym języku ??? :) Mam dość zabawną sytuację w domu - mój mąż jest nauczycielem języka angielskiego i ja bardzo chcę się uczyć tego języka ale mój Misiek (jak dotąd) nie może znaleźć sposobu aby przekonać mnie do mówienia w tym języku :D Jak sam nadmienia konwersacja jest dość ważnym elementem tej nauki a ja uparta jestem jak ten osioł :) Moja znajomość angielskiego jest - jak to mówi mój mąż- bierna. Rozumiem, potrafię sobie przetłumaczyć, wiem co ktoś do mnie mówi ale najgorszym problemem jest u mnie samoczynne wypowiadanie się. Mam straszną blokadę. Bardzo bym chciała jakoś się przemóc aby móc wreszcie w sposób płynny pokonwersować sobie z moim mężusiem :) Jemu bardzo na tym zależy aby mnie uczyć tylko ja jakoś tak....no mam z tym wielki problem. Wynika to chyba po części z tego, że ja wiem że on umie, a ja nie umiem i się chyba tego wstydzę :/ I ten wstyd mnie zjada i potem trema i nic z tego nie wychodzi...help ! :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/28/183">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Uparciuch (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego#comment-183">Friday, March 11, 2011 - 06:17</a></span>
</div>
</div>
<div class="indented"><a id="comment-184"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Znam ten problem doskonale!  Przez długi czas też się bałem mówić po polsku zwłaszcza w niektórych sytuacjach.  Np. w dużej grupie, na urzędach, przez telefon lub z pewnymi ludźmi.  Nadal trochę się boję mówić przez telefon. ;-)  Przeważnie bałem się robić błędy.  Dopiero po tym, jak zrobiłem dość dużo błędów i zobaczyłem, że nie było tak strasznie, zacząłem się czuć pewniej siebie z językiem.</p>
<p>Kiedy byliśmy w Polsce, znałem kilku cudzoziemców, którzy mówią lepiej po polsku niż po angielsku.  Zawsze było przyjemnie rozmawiać z nimi po polsku, bo nie było tego stresu - też uczą się! :-)</p>
<p>Trudno podać konkretne porady, bo to jest problem bardzo osobisty i zależy od Twojej własnej psychologii.  Znasz się lepiej niż znam Cię. :-)  Może najpierw lepiej mówić po angielsku w sytuacji, w której czujesz się bardziej pewna siebie?  Może na początku lepiej rozmawiać regularnie nie z mężem ale z kimś innym?</p>
<p>Dla mnie nagrywanie tych filmików bardzo pomogło, bo każdym razem robię wiele błędów w bardzo publicznej sytuacji - i każdym razem nic złego się nie staje. :-)  Też pomogł mi pobyt w Polsce, bo <em>musiałem</em> mówić po polsku, nie miałem wyboru.  Te pierwsze razy na urzędach naprawdę było strasznie ale wiedziałem, że musiałem to robić żeby zostać w Polsce.  Po pewnym czasie po prostu brakowało mi energii do dalszego martwienia się. ;-)</p>
<p>Mam nadzieję, że było coś pomocnego w mojej odpowiedzi!  Życzę powodzenia w konwersacji!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/28/184">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego#comment-184">Friday, March 11, 2011 - 17:36</a></span>
</div>
</div>
</div><a id="comment-365"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/27d2530ff17139a256b7667bb1b102bf?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Czy znasz może angielskie strony internetowe typu peb.pl albo chomikuj.pl skąd mógłbym pobrać wersje audio Harrego Pottera? Niestety, nie znam dobrze anglojęzycznego Internetu. Widziałem w jakiejś księgarni Harrego Pottera w języku angielskim (zresztą mam jednego w domu), ale bez dołączonej płyty, do posłuchania.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/28/365">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">PLrc (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego#comment-365">Thursday, May 26, 2011 - 11:53</a></span>
</div>
</div>
<div class="indented"><a id="comment-366"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Możesz znaleźć Harry'ego Pottera po angielsku na Chomikuj.pl!  Właśnie przez Google szukałem <a href="http://www.google.com/search?q=harry+potter+pdf+%22philosopher's+stone+%22+site:chomikuj.pl">PDF'a</a> i <a href="http://www.google.com/search?q=harry+potter+mp3+%22philosopher's+stone+%22+site:chomikuj.pl">mp3</a>.  Są! :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/28/366">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego#comment-366">Thursday, May 26, 2011 - 12:38</a></span>
</div>
</div>
<div class="indented"><a id="comment-367"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/27d2530ff17139a256b7667bb1b102bf?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Wielkie dzięki! ^^</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/28/367">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">PLrc (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego#comment-367">Thursday, May 26, 2011 - 13:23</a></span>
</div>
</div>
</div></div><a id="comment-400"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://marcinrogowski.alwaysdata.net" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/b6aeef1129238808541a79d272ab3461?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Cześć!</p>
<p>Gratuluję wyników w samodzielnej nauce języka polskiego! Jestem pod dużym wrażeniem. Ja uczę się właśnie języka angielskiego i mam zamiar korzystać również z BiblioBird.</p>
<p>PS Drobna uwaga: znalazłem błąd w tytule z prawej strony tej strony: "Popularne artykułe po polsku" - powinno być: "Popularne artykuły po polsku"</p>
<p>pozdrawiam serdecznie</p>
<p>Marcin</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/28/400">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://marcinrogowski.alwaysdata.net" rel="nofollow">Marcin</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego#comment-400">Sunday, June 5, 2011 - 14:11</a></span>
</div>
</div>
<div class="indented"><a id="comment-403"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Marcin!</p>
<p>Dziękuję bardzo za miłe słowa i poprawkę (już to zmieniłem na stronie).  Mam nadzieję, że BiblioBird będzie dla Ciebie pomocny! :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/28/403">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego#comment-403">Monday, June 6, 2011 - 07:55</a></span>
</div>
</div>
</div><a id="comment-984"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/fdfbacf328bfa9d0aea09731fc12fb54?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witam!</p>
<p>Bardzo podoba mi się Pana forma nauki. Jednak mam parę pytań odnośnie tej metody. Czy uczył się Pan systematycznie słówek np. po przeczytaniu jednego rozdziału, czy wszystkich dopiero po skończeniu czytania całej książki? Ciekawa jestem również, czy po zapisaniu słówek na fiszkach uczył się Pan ich i następnie czytał ten sam fragment już ze zrozumieniem. Z góry dziękuję za odpowiedź.</p>
<p>Pozdrawiam,<br/>
Kamila</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/28/984">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kamila (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego#comment-984">Monday, October 17, 2011 - 13:40</a></span>
</div>
</div>
<div class="indented"><a id="comment-987"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Kamila!</p>
<p>Dziękuję bardzo za miłe słowa. :-)</p>
<p>Tak, uczyłem się systematycznie.  Po przeczytaniu dwóch stron,<br/>
znalazłem wszystkie nie znane słowa w słowniku i napisałem fiszki i<br/>
potem jeszcze dwie strony, itd.  Powtarzałem te fiszki codziennie z<br/>
programem podobnym do Anki (teraz używam Anki).  Ale nie, nie czytałem<br/>
ten sam fragment znowu po tym, jak nauczyłem się lepiej tych słów.<br/>
Ale na pewno kiedyś znowu przeczytam wszystkie tomy Harry'ego Pottera.</p>
<p>Mam nadzieję, że to pomoże!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/28/987">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego#comment-987">Tuesday, October 18, 2011 - 19:57</a></span>
</div>
</div>
</div><a id="comment-988"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/fdfbacf328bfa9d0aea09731fc12fb54?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Wielkie dzięki za odpowiedź! Spróbuję wypróbować tę metodę na sobie ;)</p>
<p>Pozdrawiam,<br/>
Kamila</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/28/988">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kamila (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego#comment-988">Wednesday, October 19, 2011 - 14:03</a></span>
</div>
</div>
<a id="comment-1023"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c33e52167fff3586a88ded34696923da?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witam</p>
<p>Jaki tytuł nosi ta książka po angielsku o której wspomniałeś w vlog ??</p>
<p>I czy jest ona ogólnie dostępna w internecie, czy trzeba ją kupić ??</p>
<p>Pozdrawiam<br/>
Damian .  ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/28/1023">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Hysek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego#comment-1023">Friday, November 11, 2011 - 07:48</a></span>
</div>
</div>
<div class="indented"><a id="comment-1024"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c33e52167fff3586a88ded34696923da?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Jeszcze mam jeden problem. Pobrałem sobie Harrego Pottera po angielsku, czy tam go ale z takim skutkiem, że rozumiem co 20 słowo . ; / wcześniej się nie uczyłem Języka Angielskiego . może powinienem zacząć od czegoś innego?? No i jeszcze nie umiem wypowiadać niektórych słów. </p>
<p>Proszę doradź Mi jakoś . Bardzo mi na tym zależy gdyż chcę wyjechać do Anglii w Przyszłym roku po ukończeniu szkoły.</p>
<p>Pozdrawiam Damian</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/28/1024">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Hysek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego#comment-1024">Friday, November 11, 2011 - 12:58</a></span>
</div>
</div>
<div class="indented"><a id="comment-1026"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Jeśli jesteś na samym początku z j. angielskim, Harry Potter (zwłaszcza bez pliku dźwiękowego) jest za trudny.  Coś łatwiejszego byłoby lepiej i musisz mieć również książkę do słuchania - to bardzo ważne na początku.</p>
<p>Mam nadzieję, że to pomoże!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/28/1026">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego#comment-1026">Monday, November 14, 2011 - 12:55</a></span>
</div>
</div>
</div><a id="comment-1025"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Damian!</p>
<p>Nie chcę zdradzić tytułu tej książki ale trzeba ją kupić. To normalna książka ale dostałem zgodę od autora, żeby dodać ją do BiblioBirda. :-)  Nadal chciałbym to robić ale jeszcze nie miałem czasu.</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/28/1025">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego#comment-1025">Monday, November 14, 2011 - 12:52</a></span>
</div>
</div>
</div><a id="comment-1030"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f43f1e154814097c6ac25eb401c3d2eb?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>David trafiłem na Twoją stronę przez przypadek. Zwyczajnie przeszukiwałem Internet. Jestem pod ogromnym wrażeniem Twojego polskiego. Szczerze, chylę czoła (to znaczy: ogromny szacunek dla Ciebie). Chciałbym znać jakikolwiek język obcy na tak dobrym poziomie jak Ty.<br/>
Jestem studentem matematyki i chcę zająć się w przyszłości pracą naukową. Do tego, poza erudycją (erudycja - ogromna/specjalistyczna wiedza na jakiś temat) matematyczną, potrzebny będzie mi angielski, ponieważ większość publikacji naukowych jest w tym języku. Mam nadzieję, że dzięki Twojej metodzie podszlifuję (to znaczy: poprawię) swój angielski. Niedługo, wybiorę się do biblioteki po jakąś książkę w tym języku. Mam nadzieję, że będę posiadał tyle wytrwałości, co Ty.</p>
<p>Pozdrawiam i życzę sukcesów.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/28/1030">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wee (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego#comment-1030">Thursday, November 17, 2011 - 13:53</a></span>
</div>
</div>
<div class="indented"><a id="comment-1033"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dziękuję bardzo za miłe słowa. :-) Nauczyłem się paru nowych słów z Twojego komentarza więc dziękuję za to też. ;-)</p>
<p>Również mam nadzieję, że ta metoda będzie Ci pomocna! Ale nawet jeśli nie, wiem, że w końcu na pewno nauczysz się angielskiego. Tylko potrzebne są te <a href="http://www.linguatrek.com/blog/2011/03/the-three-ingredients-for-successful-language-learning">trzy składniki</a>: efektywna metoda, motywacja i czasu. Na szczęście jest wiele <a href="http://www.linguatrek.com/blog/2011/03/vlog-jak-wygl%C4%85da-efektywna-metoda-nauki-j%C4%99zyka-obcego">efektywnych metod</a>, myślę, że to zależy najbardziej od preferencji danej osoby. W każdym razie, nie poddawaj się i na pewno się nauczysz. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/28/1033">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego#comment-1033">Saturday, November 19, 2011 - 05:17</a></span>
</div>
</div>
</div><a id="comment-1055"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/672f7b2547c949f534419c150af255dd?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć.<br/>
Jestem pod wielkim , naprawdę wielkim wrażeniem. Twój język polski jest genialny, fantastyczny. Tylko małe błędy popełniasz. Twój entuzjazm i zapał do nauki języka polskiego udzielił mi się także. Bo ja chcę uczyć się języka angielskiego. Koniecznie sprawdzę twoją metodę z Harrym Potterem.<br/>
Your polish is very very good. Czy dobrze? Pewnie jest jakiś błąd. Chciałem napisać takie proste zdanie. Twój polski jest bardzo, bardzo dobry.<br/>
                Pozdrawiam serdecznie i życzę wielkich sukcesów.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/28/1055">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Andrzej (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego#comment-1055">Monday, November 28, 2011 - 04:46</a></span>
</div>
</div>
<div class="indented"><a id="comment-1061"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dziękuję bardzo za miłe słowa. :-) Daj znać jak Ci idzie z Harrym Potterem kiedy zaczniesz!</p>
<p>Nie, nie ma prawdziwego błędu. Powinno być przecinek i "Polish" jest napisany z wielką literką, ale to nic ważnego: Your Polish is very, very good.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/28/1061">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego#comment-1061">Tuesday, November 29, 2011 - 15:16</a></span>
</div>
</div>
</div><a id="comment-1667"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e523834c9fe3c0cff2a399c7e8d0793e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>O masz, ale ciekawa strona. Mnie akurat język angielski nie za bardzo interesuje, uczę się hiszpańskiego i znam jedną stronę która działa podobnie do twojej <a href="http://www.practicaespanol.com/" title="http://www.practicaespanol.com/">http://www.practicaespanol.com/</a> (praktykujhiszpański), też można artykuły odsłuchać w audio a po kliknięciu na wyraz pokazuje jego znaczenie tyle że nie w języku polskim, m.in. w języku angielskim którego w ogóle nie znam. Nie ma tam też tej bazy słówek których później możemy się uczyć, bardzo podoba mi się to rozwiązanie i żałuję że nie ma takie z językiem hiszpańskim. Sam podobnie uczę się języka, głównie czytam artykuły w internecie i zapisuję sobie na karteczce na pulpicie, w telefonie lub na kartce słówka później uczę się ich na pamięć. Byłem raz na trzymiesięcznym kursie i dla mnie to są pieniądze wyrzucone w błoto, wolę jednak uczyć się sam bez ponoszenia aż tak dużych kosztów. Pozdrawiam ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/28/1667">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">RA-V (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego#comment-1667">Saturday, April 14, 2012 - 12:00</a></span>
</div>
</div>
<div class="indented"><a id="comment-1685"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Aha, dzięki za linka - to fajnie, że inni robią podobne rzeczy. Kiedyś chciałbym dodać nowe języki (tak jak hiszpański) do Bibliobirda i planuję, że będą również tłumaczenia na polski! Brzmi jak masz dobrą metodę. :-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/28/1685">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego#comment-1685">Tuesday, April 17, 2012 - 17:33</a></span>
</div>
</div>
</div>
</div>
