---
permalink: /blog/2010/12/vlog-różnice-między-stanami-i-polską-milwaukee-dom-rodziców-i-ich-dzielnica/
layout: blog-old
title: 'Vlog: Różnice między Stanami i Polską -- Milwaukee, dom rodziców i ich dzielnica'
day: 11
month: Dec
year: 2010
category: learn-polish
tags: 
  - 'vlog'
language: en
translation: /blog/2010/12/vlog-r%C3%B3%C5%BCnice-mi%C4%99dzy-stanami-i-polsk%C4%85-milwaukee-dom-rodzic%C3%B3w-i-ich-dzielnica/
---
<div class="content">
<p>Dzisiaj Amerykanin mówiący po polsku rozmawia na temat swojego miasto, pokazuje trochę domu swoich rodziców i ich dzielnicę -- cały czas wracając uwagę na różnice miedzy Stanami i Polską.</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/2JGFxVbh89M?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/2JGFxVbh89M?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Czytaj transkrypcję poniżej!</p>
<h2><a name="transcript">Transkrypcja</a></h2>
<ul>
<li>Dzień dobry</li>
<li>Znowu przed kamerą internetową, mówi David Snopek</li>
<li>Dzisiaj będę mówił na temat mojego miasta, Milwaukee</li>
<li>I też będę pokazywał trochę dom moich rodziców, żebyście mogli zobaczyć normalny amerykański dom</li>
<li>I też będę pokazywał trochę tę dzielnicę</li>
<li>Cały czas wracając uwagę na różnice między Stanami i Polską</li>
<li>Mieszkam w mieście <a href="http://pl.wikipedia.org/wiki/Milwaukee">Milwaukee</a></li>
<li>Które jest w stanie <a href="http://pl.wikipedia.org/wiki/Wisconsin">Wisconsin</a></li>
<li>Tu jest kilka pocztówek <a href="http://www.linguatrek.com/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-uczy%C5%82em-si%C4%99-polskiego">z promocji</a>, która była w filmiku w zeszłym tygodniu</li>
<li>Do tej pory wysłałem 10 pocztówek do widzów w Polsce</li>
<li>Mówię "do tej pory" bo promocja trwa do końca tego dnia, to znaczy jedenastego grudnia</li>
<li>I może nawet wyślę parę jeszcze</li>
<li>Jest nad jeziorem <a href="http://pl.wikipedia.org/wiki/Michigan_(jezioro)">Michigan</a></li>
<li>To jest jedno z <a href="http://pl.wikipedia.org/wiki/Wielkie_Jeziora_P%C3%B3%C5%82nocnoameryka%C5%84skie">wielkich jezior</a> w Stanach</li>
<li>W naszym stanie jest bardzo dużo krów</li>
<li>Produkuje się tu bardzo dużo seru</li>
<li>Kiedyś byliśmy na pierwszym miejscu, ale teraz jesteśmy na drugim</li>
<li>Nie jestem pewien, ale myślę, że Kalifornia jest teraz na pierwszym miejscu</li>
<li>Milwaukee jest bardzo sławny z piwa</li>
<li>W Milwaukee jest bardzo dużo piwowarów</li>
<li>Jeden z nich jest oczywiście <a href="http://pl.wikipedia.org/wiki/Miller_Brewing_Company">Miller</a> -- Miller pochodzi z Milwaukee</li>
<li>Też <a href="http://en.wikipedia.org/wiki/Pabst_Brewing_Company">Pabst</a> i <a href="http://en.wikipedia.org/wiki/Valentin_Blatz_Brewing_Company">Blatz</a> pochodzą z Milwaukee</li>
<li>Też mamy bardzo <a href="http://en.wikipedia.org/wiki/Wisconsin_breweries">dużo małych piwowarów</a>, na przykład <a href="http://www.waterstreetbrewery.com/">Water Street Brewery</a> na tej pocztówce</li>
<li>Mam bardzo dużo takich...  Mówimy po angielsku <a href="http://en.wikipedia.org/wiki/Microbrewery#Brewpub">"brewpubs"</a></li>
<li>To jest mały piwowar, który też jest restauracją i mamy tych bardzo, bardzo dużo</li>
<li>Jest piosenka <a href="http://en.wikipedia.org/wiki/What's_Made_Milwaukee_Famous_(Has_Made_a_Loser_Out_of_Me)">"What Made Milwaukee Famous"</a>, w której się śpiewa: "What made Milwaukee famous, made a loser out of me"</li>
<li>To znaczy piwo, bo Milwaukee jest sławny z piwa</li>
<li>Też <a href="http://pl.wikipedia.org/wiki/Harley-Davidson">Harley-Davidson</a> pochodzi z Milwaukee</li>
<li>Dla mnie największa różnica między miastem w Stanach i miastem w Polsce, jest to, że amerykańskie miasto jest na bardzo dużym obszarze</li>
<li>Nawet kiedy podobne ilość osób tam mieszka</li>
<li>Że, w amerykańskim mieście jest bardzo dużo przestrzeni między budynkami, między domami</li>
<li>I głównie nie mieszkamy w blokach, mieszkamy w domach</li>
<li>Nawet <del>wielorodzinnym</del> [wielorodzinnych] domach, jeszcze w domach</li>
<li>I wszystko jest tak...  No, nie wiem jak to dobrze opisać</li>
<li>Ale na bardzo dużym obszarze</li>
<li>Kiedy mówimy o mieście, to nie tylko oficjalnie -- oficjalne miasto</li>
<li>Bo miasto ma granice, oczywiście</li>
<li>Ale jak przekraczasz te granice, to nadal wygląda i funkcjonuje jak miasto</li>
<li>Niczego się nie zmienia, jak przekraczasz te granice</li>
<li>Musisz jechać nawet bardzo długo, żeby zobaczyć wieś w ogóle</li>
<li>Bo jest miasto, miasto, miasto i nadal miasto</li>
<li>I myślę, że to właśnie dlatego, że prawie wszyscy jeżdżą samochodami</li>
<li>I komunikacja miejska jest tak straszna tutaj przynajmniej w moim mieście</li>
<li>I też w innych miastach, w <del>którym</del> [których] byłem</li>
<li>Ale to jest temat dla całego filmiku w przyszłości</li>
<li>Tu jest pokój, który funkcjonuje się jako mój gabinet teraz</li>
<li>Tutaj gdzie przed chwilą siedziałem i gdzie teraz nagrywam wszystkie moje filmiki na YouTube'ie</li>
<li>Teraz idziemy do łazienki bo tam jest parę różnic</li>
<li>Teraz jesteśmy w łazience</li>
<li>Po pierwsze włącznik światła zawsze jest w środku pokoju w Stanach -- zawsze</li>
<li>I też toaleta i prysznic zawsze są w tym samym pokoju -- zawsze</li>
<li>Teraz idziemy na dół</li>
<li>To rzeczywiście jest bardzo duży dom na dwie osoby</li>
<li>Na rodzinę to normalny ale jak nie było tutaj mnie i mojej siostry, rodzice starali się to sprzedać</li>
<li>Może przez, no... prawie ostatnich dziesięć lat, ale nie udało im się</li>
<li>Tu jest kominek, już gotowy na Bożego Narodzenia</li>
<li>Tu jest duża kuchnia</li>
<li>Choinka</li>
<li>Tu jest basen, teraz pokryty śniegiem -- latem jest otwarty</li>
<li>To jest jedną przyczyną, dlatego jest trudno sprzedać ten dom</li>
<li>Bo dotrzymanie <del>basena</del> [basenu] jest bardzo drogie</li>
<li>I druga przyczyna jest tam -- autostrada jest właśnie za domem</li>
<li>Więc jest bardzo hałaśliwie tutaj</li>
<li>Tu ten obraz był zamalowany przez moją żonę i mojego ojca</li>
<li>Tym latem zamalowali ten obraz</li>
<li>W Stanach w ogóle jest bardzo mało małych sklepów</li>
<li><del>Jest</del> [Są] głównie tylko te duże</li>
<li>I tutaj mamy szczęście bo <del>jedzie się</del> [idzie się] tylko może dziesięć minut do centrum handlowego, gdzie teraz idę</li>
<li>Ale to nic dziwnego, jak ktoś gdzieś mieszka, gdzie idzie się trzydzieści minut do jakiegokolwiek sklepu -- nie mówiąc o sklepach spożywczych, ale w ogóle</li>
<li>To dlatego, że Amerykanie głownie jeżdżą do sklepu samochodem, i to jest bardzo daleko</li>
<li>I kupują bardzo dużo i to robią rzadziej</li>
<li>Wydaje mi się, że w Polsce i w Europie kupują produkty [spożywcze], jedzenie, itd codziennie lub <del>każda para dni</del> [co parę dni]</li>
<li>Ale tak nie jest w Stanach</li>
<li>Tutaj jest nasze małe centrum handlowe</li>
<li>Teraz idę do najbliższego sklepu spożywczego</li>
<li>Na wewnętrzu to wygląda dość podobnie do małego sklepu spożywczego za rogiem w Polsce</li>
<li>Ale to jest stacja benzynowa</li>
<li>I wtedy, właśnie przyszedł mi do głowy pomysł, że może stacje benzynowe są tak, jak sklepy za rogiem w Polsce, kiedy tylko chcesz kupić chleb lub jajka lub mleko</li>
<li>Bo jak wszyscy jeżdżą zawsze samochodami muszą bardzo często być na stacjach benzynowych</li>
<li>Nie wiem, czy to w ogóle jest prawda ale to jest bardzo ciekawy pomysł</li>
<li>No, to wszystko</li>
<li>Dziękuję wszystkim, którzy zarejestrowali się na stronie <a href="http://www.bibliobird.com">BiblioBird.com</a></li>
<li>I jak zawsze, dziękuję za uwagę</li>
<li>Do widzenia</li>
</ul>
</div>

<div id="comments">
<a id="comment-64"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/54e68069fa2eff0f953f52a796892ae4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>"namalowali obraz" -&gt; "zamalowali obraz" znaczyłoby że go ukryli pod nową warstwą farby.</p>
<p>Jeśli robisz duże zakupy na stacji benzynowej, to czy zostawiasz samochód przy dystrybutorze, czy parkujesz gdzieś z boku?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/30/64">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Void (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/vlog-r%C3%B3%C5%BCnice-mi%C4%99dzy-stanami-i-polsk%C4%85-milwaukee-dom-rodzic%C3%B3w-i-ich-dzielnica#comment-64">Tuesday, February 8, 2011 - 07:03</a></span>
</div>
</div>
<div class="indented"><a id="comment-69"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki za poprawkę!  Ktoś już mi powiedział o tym w komentarzach na YouTube'ie i właśnie dlatego to zmieniłem to w kolejnych filmikach. ;-)</p>
<p>Co do statcji benzynowej: Jeśli jesteś tam też po benzynę, zostawiasz samochód przy dystrybutorsze.  Ale jak tylko na zakupy, wtedy gdzieś z boku.</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/30/69">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/12/vlog-r%C3%B3%C5%BCnice-mi%C4%99dzy-stanami-i-polsk%C4%85-milwaukee-dom-rodzic%C3%B3w-i-ich-dzielnica#comment-69">Tuesday, February 8, 2011 - 08:13</a></span>
</div>
</div>
</div>
</div>
