---
permalink: /blog/2010/12/you-dont-need-to-speak-like-a-native-speaker/
layout: blog-old
title: 'You don''t need to speak like a native speaker'
day: 7
month: Dec
year: 2010
category: language learning
tags: [ ]
language: en
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/12/natives_0.jpg" rel="lightbox"><img alt="A group of native Frechmen in patriotic colors" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/12/natives_0.jpg" title="You don't need to be just like the natives!  Photo by Rob Stradling."/></a><div class="caption">You don't need to be just like the natives!  <a href="http://www.flickr.com/photos/74196805@N00/1509247415">Photo</a> by <a href="http://www.flickr.com/photos/brainless-angel/">Rob Stradling</a>.</div></div>
<p>In my article <a href="http://www.linguatrek.com/blog/2010/11/lets-stop-saying-fluent-fluently-and-fluency-too"><em>Let's stop saying "fluent!"</em></a>, I discussed the popular belief that being "fluent" means speaking just like a native speaker.  Some people are obsessed with trying to speak like native speakers while others in the language learning community (like Cody of <a href="http://www.youtube.com/user/Codylangaugesblog">Codylanguagesblog</a>) don't even think it's possible.</p>
<p>I don't want to say that it's <em>impossible</em>.  Why should it be?  If someone was motivated enough and worked really hard, I don't see why they <em>couldn't</em> reach that level.  But, personally, I don't care about speaking like a native speaker.</p>
<p>Read more to find out why!</p>
<h2><a name="motivation">Why are you learning the language?</a></h2>
<p>I think it all comes back to your motivation.  Why are you learning the language?  Maybe to travel, to meet people, to read literature in the original, to live in the country, to work as a translator/interpreter.  Even for the last reason, speaking like a native speaker isn't necessary.  In fact, I can't think of any goal (except "to speak like a native speaker") where it is necessary!</p>
<p>Personally, all I want is to be able to freely express myself and to understand anything I happen to read or hear.  And that is a pretty huge goal!</p>
<p>I have never tried to work on my accent (although people do sometimes compliment me on it).  So long as I speak clearly enough to be understood, I am happy.  I don't want to fool anyone into thinking I am Polish.  What is there to gain from that?  I am who I am.</p>
<h2><a name="conclusion">Why is this important?</a></h2>
<p>Some people get really caught up in this.  They think they are "failing" if they aren't matching native speakers.  Of course, you should always strive to emulate natives, but it's no problem if you don't achieve it.  Relax!  Remember the reason you are learning the language and focus on that.</p>
<p>One big problem is the <a href="http://en.wikipedia.org/wiki/Diminishing_returns">Law of Diminishing returns</a> as it applies to language learning.  In the first year, you might get 50% of the way there.  In the second year, 75% of the way there.  Third year -- 88%, fourth year -- 94%, fifth year -- 96%.  Do see where I'm headed?  After six years you might get to 97%, but it could be ten more years before you cross that last 3%.</p>
<p>Native speakers are hyper-tuned to their own language.  We all are.  A native speaker will notice even the slightest mistake or mispronunciation.  To fool someone into thinking you're a native speaker for even one minute is a huge accomplishment.  And doing it all day long?  Legendary!</p>
<p>Don't let this become your <a href="http://en.wikipedia.org/wiki/Moby-Dick"><em>white whale</em></a>!  In chasing it, you might lose sight of what you are after and kill your motivation!</p>
</div>

<div id="comments">
<a id="comment-37"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2010/12/harry-potter-the-book-that-taught-me-polish" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] the end of 2008, I spoke pretty good Polish. Not perfectly (I still don't speak perfectly), but pretty [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/29/37">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2010/12/harry-potter-the-book-that-taught-me-polish" rel="nofollow">Harry Potter: The book that taught me Polish | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/you-dont-need-to-speak-like-a-native-speaker#comment-37">Tuesday, December 14, 2010 - 10:45</a></span>
</div>
</div>
<a id="comment-1788"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/01/language-learning-guide" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] What is your goal? (i.e. discussion of "fluency" and aiming for perfection) [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/29/1788">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/01/language-learning-guide" rel="nofollow">Language learning guide? | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/you-dont-need-to-speak-like-a-native-speaker#comment-1788">Wednesday, May 2, 2012 - 20:10</a></span>
</div>
</div>
<a id="comment-3145"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c144c0669060006c18538299692f1452?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>You don't need to be just like the natives!</p>
<p>Then a lovely picture of people that appear to be native to an African country. </p>
<p>The thing is, this picture and caption seem to contain a hint of earlier times and the way that some Western English speakers (incorrectly) use the word native.<br/>
As a euphemism. For much less savoury words and attitudes that much blood has been spilled over.</p>
<p>I'm sorry if that wasn't your intention  - perhaps my comment appears to have come completely out of the blue and you are scratching your head. Hopefully.</p>
<p>So let me explain a little - my interest in languages often, and unfortunately, leads me into interactions with people who still hold some surprising views regarding the significance of skin colour. As a black Englishman, I've experienced some surprising attitudes from Poles and other Eastern Europeans and have even been warned to be careful by Polish friends.</p>
<p>So, I hope you are absorbing the better parts of Polish culture and again I apologise if I saw something that wasn't intended.  Just found myself rolling my eyes at the caption.</p>
<p>Take care<br/>
C.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/29/3145">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">conny (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/you-dont-need-to-speak-like-a-native-speaker#comment-3145">Thursday, November 1, 2012 - 14:50</a></span>
</div>
</div>
<div class="indented"><a id="comment-3146"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Conny!</p>
<p>I'm sorry if the picture offended you - that was definitely not my intent! I simply wanted a visual to show some people who are obviously native to somewhere. I could have taken a picture of myself in Milwaukee, but I feel that the visual wouldn't have conveyed much. :-)</p>
<p>I did not consider any racial implication, however, now that you've brought it up, I've put a note on my TODO list to try and find another picture.</p>
<p>Poles do sometimes have weird attitudes toward black people. One thing that has always bothered me is that there doesn't appear to be a "nice" word for black people in Polish. Poles will insist that "murzyn" is OK, but it really feels like a Polonization of "moor" so I don't use it. I always say "czarnoskórny" instead, even though I'm told it sounds unnatural.</p>
<p>In any case, there are actually a number of black Poles! So, things will eventually change.</p>
<p>I wish you the best of luck in your language learning adventure!</p>
<p>Sorry once again for causing offense!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/29/3146">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/12/you-dont-need-to-speak-like-a-native-speaker#comment-3146">Thursday, November 1, 2012 - 15:17</a></span>
</div>
</div>
<a id="comment-3147"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>In fact, I've already changed it. It's now a group of really excessive Frenchmen. :-)</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/29/3147">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/12/you-dont-need-to-speak-like-a-native-speaker#comment-3147">Thursday, November 1, 2012 - 15:24</a></span>
</div>
</div>
<div class="indented"><a id="comment-3148"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c144c0669060006c18538299692f1452?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi David,</p>
<p>That's really cool of you.</p>
<p>I understand what you mean about nothing like that crossing your mind when you captioned the picture and I have no doubt you're sincere.</p>
<p>I am glad that you're so into Polish culture. It means that any Poles who have the weird attitudes you mentioned might benefit from their interaction with you, as you're obviously an open-minded and thoughtful person.</p>
<p>I didn't know there was a significant black Polish community. There was a lot of fuss here in the UK recently because groups of Polish football "fans" had warned the UK not to send any black fans over during the European Championships. But, like you, I am hopeful that things will eventually change.</p>
<p>Sincere regards,<br/>
Conny</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/29/3148">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">conny (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/12/you-dont-need-to-speak-like-a-native-speaker#comment-3148">Thursday, November 1, 2012 - 17:47</a></span>
</div>
</div>
</div></div>
</div>
