---
permalink: /category/language-learning/learn-english-page-1/
layout: base-old
title: 'learn English'
language: en
translation: /category/language-learning/learn-english/
---
<div class="node node-story clear-block" id="node-27">
<h2 class="node-title"><a href="/blog/2010/11/american-music-hallelujah-most-covered-song-of-all-time" title='American Music: "Hallelujah" - Most covered song of all time!'>American Music: "Hallelujah" - Most covered song of all time!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">30</strong> <strong class="month">Nov</strong> <strong class="year">2010</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Read this text with BiblioBird!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_2 first active"><a class="active" href="/category/language-learning/learn-english" rel="tag" title="">learn English</a></li>
<li class="taxonomy_term_5 last"><a href="/tags/music" rel="tag" title="">music</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 110px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/11/leonard_cohen_1988.jpg" rel="lightbox"><img alt="Man in coat" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/11/leonard_cohen_1988.jpg" title="Photo by Roland Godefroy"/></a><div class="caption">Leonard Cohen in 1988.  <a href="http://commons.wikimedia.org/wiki/File:Leonard_Cohen17b.jpg">Photo</a> by Roland Godefroy.</div></div>
<p>"Hallelujah" by <a href="http://en.wikipedia.org/wiki/Leonard_Cohen">Leonard Cohen</a> is quite possibly the most covered song of all time.  It has been recorded by <a href="http://www.leonardcohenfiles.com/coverlist.php">almost 200 different artists</a>.  And it has some of the most beautiful lyrics of any song in the English language that I know.</p>
<p>Listen to the song performed by <a href="http://en.wikipedia.org/wiki/Jeff_Buckley">Jeff Buckley</a> below and read the lyrics!</p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2010/11/american-music-hallelujah-most-covered-song-of-all-time#comments" title="Jump to the first comment of this posting.">11 comments</a></li>
<li class="node_read_more"><a href="/blog/2010/11/american-music-hallelujah-most-covered-song-of-all-time" title='Read the rest of American Music: "Hallelujah" - Most covered song of all time!.'>Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2010%2F11%2Famerican-music-hallelujah-most-covered-song-of-all-time&amp;linkname=American%20Music%3A%20%22Hallelujah%22%20-%20Most%20covered%20song%20of%20all%20time%21" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-18">
<h2 class="node-title"><a href="/blog/2010/11/should-i-learn-english-callan-method" title="Should I learn English with the Callan Method?">Should I learn English with the Callan Method?</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">18</strong> <strong class="month">Nov</strong> <strong class="year">2010</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_35 first"><a href="/tags/callan" rel="tag" title="">Callan</a></li>
<li class="taxonomy_term_2 active"><a class="active" href="/category/language-learning/learn-english" rel="tag" title="">learn English</a></li>
<li class="taxonomy_term_36 last"><a href="/tags/method" rel="tag" title="">method</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/11/callanschool.jpg" rel="lightbox"><img alt="Callan School sign" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/11/callanschool.jpg" title="Photo by Shht! on Flickr"/></a><div class="caption"><a href="http://www.flickr.com/photos/shht/416297552/">Photo</a> by <a href="http://www.flickr.com/people/shht/">Shht!</a> on Flickr</div></div>
<p>There are many different approaches to language teaching.  When choosing a school or a course, it can be difficult for the student to decide which method is best.  <a href="http://www.callanschoollondon.com/en/about-the-method/">Callan Method</a> is very popular.  In this article I will explain what the method is and its advantages/disadvantages.</p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2010/11/should-i-learn-english-callan-method#comments" title="Jump to the first comment of this posting.">1 comment</a></li>
<li class="node_read_more"><a href="/blog/2010/11/should-i-learn-english-callan-method" title="Read the rest of Should I learn English with the Callan Method?.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2010%2F11%2Fshould-i-learn-english-callan-method&amp;linkname=Should%20I%20learn%20English%20with%20the%20Callan%20Method%3F" id="da2a_2"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="node node-story clear-block" id="node-4">
<h2 class="node-title"><a href="/blog/2010/11/american-music-cracker-big-dipper" title="American Music: Cracker - Big Dipper">American Music: Cracker - Big Dipper</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">2</strong> <strong class="month">Nov</strong> <strong class="year">2010</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="https://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Read this text with BiblioBird!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_2 first active"><a class="active" href="/category/language-learning/learn-english" rel="tag" title="">learn English</a></li>
<li class="taxonomy_term_5 last"><a href="/tags/music" rel="tag" title="">music</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/11/david_lowery.jpg" rel="lightbox"><img alt="Man on stage playing guitar." src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/11/david_lowery.jpg" title="David Lowery of Cracker (singer, guitarist, song writer)"/></a><div class="caption">David Lowery of Cracker (singer, guitarist, song writer)</div></div>
<p>One of my favorite American bands is <a href="http://en.wikipedia.org/wiki/Cracker_%28band%29">Cracker</a>.  They have an <a href="http://en.wikipedia.org/wiki/Alternative_rock">alternative rock</a> sound mixed with some <a href="http://en.wikipedia.org/wiki/Country_music">country</a> stylings and intelligent but frequently funny lyrics.  "Big Dipper" is a sad song but one of my favorites.  Listen to the video and read the lyrics below!</p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2010/11/american-music-cracker-big-dipper#comments" title="Jump to the first comment of this posting.">5 comments</a></li>
<li class="node_read_more"><a href="/blog/2010/11/american-music-cracker-big-dipper" title="Read the rest of American Music: Cracker - Big Dipper.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2010%2F11%2Famerican-music-cracker-big-dipper&amp;linkname=American%20Music%3A%20Cracker%20-%20Big%20Dipper" id="da2a_3"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
<div class="item-list"><ul class="pager"><li class="pager-first first"><a class="active" href="/category/language-learning/learn-english" title="Go to first page">« first</a></li>
<li class="pager-previous"><a class="active" href="/category/language-learning/learn-english" title="Go to previous page">‹ previous</a></li>
<li class="pager-item"><a class="active" href="/category/language-learning/learn-english" title="Go to page 1">1</a></li>
<li class="pager-current last">2</li>
</ul></div>
