---
permalink: /blog/2011/02/immersion-tips-how-to-meet-natives/
layout: blog-old
title: 'Immersion tips: How to meet natives'
day: 22
month: Feb
year: 2011
category: language learning
tags: 
  - 'Benny Lewis'
  - 'immersion'
  - 'language exchange'
language: en
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/01/dive.jpg" rel="lightbox"><img alt="Woman diving underwater" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/01/dive.jpg" title="Dive into the culture!  Photo by Elena Lagaria"/></a><div class="caption">Dive into the culture!  <a href="http://www.flickr.com/photos/29393867@N07/4647221496">Photo</a> by <a href="http://www.flickr.com/photos/29393867@N07/">Elena Lagaria</a></div></div>
<p>We've all heard stories about someone going to a foreign country for a year and coming back able to speak the language "fluently." (I don't like that word, read <a href="http://www.linguatrek.com/blog/2010/11/lets-stop-saying-fluent-fluently-and-fluency-too">this article</a> to find out why.)</p>
<p>But immersion in a foreign country doesn't mean you'll <em>automatically</em> learn the language!</p>
<p>I've heard many more complaints from people living abroad who, despite being surrounded by the language everyday, don't seem to learn it.  One problem is that they end up speaking their native language most of the time, rather than meeting new people and engaging them in real conversation in the language they are learning.</p>
<p><strong>So, how can you meet new people in a foreign country and get the most out of your immersion experience?  Read more for tips!</strong></p><p>
<h2><a name="meeting-people">Meeting people</a></h2>
</p><p>You can learn any language from anywhere in the world, but one of the huge benefits of being immersed in a foreign country is contact with native speakers.</p>
<p>When we first moved to Poland, we didn't know very many people.  Those we did know were all people we spoke English with: other foreigners, other teachers at our school and our students.  For the first couple months, the only time I actually got to speak in Polish was at stores, restaurants and government offices -- luckily for me there is <em>a lot</em> of bureaucracy in Poland! :-)</p>
<p>Ordering lunch or arguing with the lady at the tax office is good practice, but you learn everything there is to learn in those situations very quickly.</p>
<p>Like most people, I'm not very good at meeting strangers.  I've always met people through other people I already know.  For example, maybe I'd be at my friend's birthday party and one of his friends introduces me to another friend.</p>
<p>But in a new country, how do you make that first friend?  How do you get invited to that party?  How do you break out of your native language community?</p>
<p>If I hadn't made a conscious effort to try to meet more Polish people, I don't think I ever would have.</p>
<h2><a name="language-exchange">Find a language exchange partner</a></h2>
<p>A language exchange is where you meet with someone who's native language is the language you are learning and your native language is the language they are learning.  For the first half of the meeting you talk in one language and for the second half you talk in the other.</p>
<p>For example, I would meet with a Polish person learning English.  The first 30 minutes we speak in Polish and for the second 30 minutes we speak in English.</p>
<p>This is a great way to practice!  Unlike lessons with a teacher, it's more social and you both have something to gain.  It can also be less stressful to talk with someone else who is learning -- you don't worry about your mistakes because they're making mistakes too!  And unlike ordering lunch, it's a real conversation. </p>
<p>You can even do a language exchange over the internet via e-mail or Skype.  But the best way is in person!  There's just no substitute for being in the same room together, being able to see the other person's face and really interacting with that person.</p>
<p>I've made a lot of friends this way!</p>
<p>Services like <a href="http://www.craigslist.org/">Craigslist</a> or <a href="http://www.gumtree.com/">Gumtree</a> are great for finding language exchange partners.  The last time I put an ad on Gumtree, I received 15 responses in one day!</p>
<h2><a name="club">Join a club</a></h2>
<p>Before we moved to Poland, I never joined any clubs, mainly because my friends and I already shared similar interests.  So, joining a club wasn't something that occurred to me right away.</p>
<p>But joining a club is great way to meet like-minded people.  In Cracow, I got involved in the <a href="http://www.facebook.com/group.php?gid=225422555464">Language Exchange Kraków</a> and <a href="http://www.facebook.com/group.php?gid=55929605740">TANDEM Kraków</a> clubs.  Both groups organized events and meetings in or about various languages.</p>
<p>But you don't have to join a language club!  That's just what I'm interested in. :-)</p>
<p>You could join a knitting club, a Latin dance club, a science fiction club, a model train club or a book club - whatever you happen to have a passion for!</p>
<p><a href="http://www.facebook.com/">Facebook</a> and <a href="http://www.meetup.com/">Meetup.com</a> are great ways to find clubs in your city.</p>
<h2><a name="see-also">See also</a></h2>
<ul>
<li><a href="http://www.fluentin3months.com/">Benny the Irish Polyglot</a>: Benny has a great blog about language learning with <a href="http://www.fluentin3months.com/finding-accommodation/">many</a>, <a href="http://www.fluentin3months.com/the-smartest-decision-you-will-ever-make-to-achieve-fluency/">many</a> articles about how to make the most of your time in a foreign country.</li>
</ul>
</div>

<div id="comments">
<a id="comment-535"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://panrimo.com/blog/?p=73" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] not be afraid to approach some of the natives and start talking to them about why they love their country so much. Many tourists may shy away on this idea because [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/48/535">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://panrimo.com/blog/?p=73" rel="nofollow">Don&amp;amp;#8217;t appear touristy | panrimo.com</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/immersion-tips-how-to-meet-natives#comment-535">Tuesday, July 12, 2011 - 10:04</a></span>
</div>
</div>
<a id="comment-601"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.bsiproductdevelopment.com/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/5f3fc1b393ae116939f6a2a876bd6dda?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Where there is a will, there is way.  In you are interested to learn a language, you can devise means to learn it.  However, you can use this tips which are practical and help you learn faster.  The more you get involved and engaged in conversation, the more you would find it easy to carry on with the language.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/48/601">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.bsiproductdevelopment.com/" rel="nofollow">engineering design</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/immersion-tips-how-to-meet-natives#comment-601">Wednesday, July 13, 2011 - 21:23</a></span>
</div>
</div>
<div class="indented"><a id="comment-608"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi!  Thanks for the comment.  Based on your homepage, it looks like you're either in Wisconsin or Minnesota.  I'm located in Milwaukee, Wisconsin!  I think you may be one of the only local readers of my blog. :-)</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/48/608">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/02/immersion-tips-how-to-meet-natives#comment-608">Thursday, July 14, 2011 - 11:53</a></span>
</div>
</div>
</div><a id="comment-646"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2011/07/you-dont-need-to-live-in-a-foreign-country-to-learn" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] exchange over Skype - I've written about language exchange before. That's where you talk with a native speaker of the language you are learning, who is also learning [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/48/646">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2011/07/you-dont-need-to-live-in-a-foreign-country-to-learn" rel="nofollow">You don&amp;amp;#039;t need to live in a foreign country to lear</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/immersion-tips-how-to-meet-natives#comment-646">Tuesday, July 26, 2011 - 09:04</a></span>
</div>
</div>
<a id="comment-699"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2011/08/the-natives-wont-speak-to-me-in-their-language" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] I wrote previously (here), a language exchange is where you meet with a native speaker of your target language, who is also [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/48/699">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2011/08/the-natives-wont-speak-to-me-in-their-language" rel="nofollow">The natives won&amp;amp;#039;t speak to me in their language! | </a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/immersion-tips-how-to-meet-natives#comment-699">Tuesday, August 16, 2011 - 09:35</a></span>
</div>
</div>
<a id="comment-5642"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2013/12/5-blogs-by-americans-living-in-poland" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] you were worried, I did eventually make several Polish friends, by doing language exchanges and joining clubs. I'd highly recommend that to anyone living [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/48/5642">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2013/12/5-blogs-by-americans-living-in-poland" rel="nofollow">5 blogs by Americans living in Poland | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/immersion-tips-how-to-meet-natives#comment-5642">Tuesday, December 31, 2013 - 08:25</a></span>
</div>
</div>
<a id="comment-5644"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2013/12/5-blog%C3%B3w-napisanych-przez-amerykan%C3%B3w-mieszkaj%C4%85cych-w-polsce" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] się martwiliście, w końcu poznaliśmy dość dużo Polaków w Polsce! Zacząłem uczestniczyć w wymianach językowych i stowarzyszeniach. Gorąco to polecam komukolwiek mieszkającemu za [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/48/5644">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2013/12/5-blog%C3%B3w-napisanych-przez-amerykan%C3%B3w-mieszkaj%C4%85cych-w-polsce" rel="nofollow">5 blogów napisanych przez Amerykanów mieszkających w Polsce </a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/immersion-tips-how-to-meet-natives#comment-5644">Tuesday, December 31, 2013 - 08:26</a></span>
</div>
</div>
</div>
