---
permalink: /blog/2011/02/milwaukee-wisconsin-unique-english-dialect/
layout: blog-old
title: 'Milwaukee, Wisconsin''s unique English dialect'
day: 1
month: Feb
year: 2011
category: learn English
tags: 
  - 'dialects'
  - 'Milwaukee'
language: en
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 107px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/02/cheesehead.jpg" rel="lightbox"><img alt="Dog wearing cheesehead" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/02/cheesehead.jpg" title="An average cheesehead from Wisconsin.  Photo by Chrissy Wainwright."/></a><div class="caption">An average <a href="http://en.wikipedia.org/wiki/Cheesehead">cheesehead</a> from Wisconsin.  <a href="http://www.flickr.com/photos/90935137@N00/267291853">Photo</a> by <a href="http://www.flickr.com/people/wainwright/">Chrissy Wainwright</a>.</div></div>
<p>There are several English dialects.  Within the United States, these dialects don't vary that much, but there are differences.</p>
<p>I'm from Milwaukee, Wisconsin, which has its own peculiar dialect.  It's starting to die out now that most young people speak a more standard version of English.  Even so, everyone can still understand it.</p>
<p><strong>Read more to learn about some of the unique phrases in my dialect of English!</strong></p>
<h2><a name="by">"by"</a></h2>
<p>In most of the United States, you would say, "I'm going to John's house" or "I was at grandma's house."  In my dialect, you could also say, "I'm going by John" or "I was by grandma" -- which most other English speakers would interpret to mean that I was standing near John or grandma, not that I visited their homes.</p>
<p>I heard once that this comes from the German word "bei," but I don't have a credible reference.  However, that would make sense given the large number of German immigrants that came to Wisconsin.</p>
<h2><a name="aina">"aina"<a></a></a></h2>
<blockquote>"It's cold out today, aina hey?"</blockquote>
<p>This means "isn't it" or "aren't they."</p>
<h2><a name="der">"der"</a></h2>
<blockquote>"Down der on da lake."</blockquote>
<p>"Der" means "their," "they're" or "there."</p><p>
</p><p>This isn't limited to just this one word: a "d" sound can be substituted for any "th" sound.  For example: "da" for "the" and "dem" for "them".  This also likely comes from Wisconsin's immigrant past, as many non-native speakers of English replace the unfamiliar "th" sound with a close equivalent.</p>
<h2><a name="yous">"yous" or "yous guys"</a></h2>
<p>Standard English uses "you" for both the singular and the plural.  Speakers of many English dialects have invented their own plural versions, including "y'all," "you all" or "you guys."  In my dialect it's "yous" or "yous guys."</p>
</div>

<div id="comments">
<a id="comment-54"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d783111eabba5c5f20afc27a6095f551?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>hi dave, they don't mention anything about milwaukee, but as one of our dialects die out, that doesn't nesecarry mean there is less dynamics in the english language. While "der" might eventually leave, a new shorthand replaces it. </p>
<p><a href="http://www.npr.org/2011/01/18/133024500/you-have-an-accent-even-on-twitter" title="http://www.npr.org/2011/01/18/133024500/you-have-an-accent-even-on-twitter">http://www.npr.org/2011/01/18/133024500/you-have-an-accent-even-on-twitter</a></p>
<p>that's about it. have a happy day!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/43/54">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">stuart (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/milwaukee-wisconsin-unique-english-dialect#comment-54">Tuesday, February 1, 2011 - 14:05</a></span>
</div>
</div>
<div class="indented"><a id="comment-56"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>That's a pretty awesome article! Thanks, Stuart!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/43/56">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/02/milwaukee-wisconsin-unique-english-dialect#comment-56">Tuesday, February 1, 2011 - 14:15</a></span>
</div>
</div>
</div><a id="comment-151"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/247b9e89df518889f5c55705ee9a8b3e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Though "der" and "de" are really popular subsitutes for the "th" sound (and from what I've noticed the most popular ones in Poland), I have never heard about "yous" form - thanks for sharing it.</p>
<p>Oh, and I guess that the "aina" doesn't evolved straight from "is/are not", but from "ain't", but that's just my opinion. They sound similar and share similar meaning (wich by the way is the same as are/isn't's one :) ). But I'm not native, so these're only my suspicions :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/43/151">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Artur Ziejewski (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/milwaukee-wisconsin-unique-english-dialect#comment-151">Wednesday, February 23, 2011 - 13:04</a></span>
</div>
</div>
<a id="comment-289"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2011/04/do-english-speakers-make-mistakes-on-purpose" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] we can say a number of things that would be incorrect in standard English. I recently wrote a full article about it, but here are a few examples: "I was by grandma on Sunday", "What do yous guys think?", [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/43/289">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2011/04/do-english-speakers-make-mistakes-on-purpose" rel="nofollow">Do English speakers make mistakes on purpose? | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/milwaukee-wisconsin-unique-english-dialect#comment-289">Tuesday, April 19, 2011 - 09:10</a></span>
</div>
</div>
<a id="comment-619"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.rocketlanguagesreview.org/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3e5dbbc667d4910f6150165f4b6ebd8f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>I have a knack for these phrases in English dialect. These phrases may seem to be grammatically wrong for the modern man but they are actually being used widely and also understood easily.  I think they add to local colloquial, very pleasing to listen. Thanks for the resourceful post.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/43/619">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.rocketlanguagesreview.org/" rel="nofollow">Rocket languages software</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/milwaukee-wisconsin-unique-english-dialect#comment-619">Friday, July 15, 2011 - 11:03</a></span>
</div>
</div>
<a id="comment-622"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.evictionresources.com/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/6622d287e26508fb7ae98ad097cf488a?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>I love to listen to these interesting dialects.  I even go on trips to certain places purposefully to listen to particular dialect.  I record their voices and listen them later on. I also try to copycat them in my practice before meeting any local person. We shouldn't let these die rather preserve them for their beauty.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/43/622">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.evictionresources.com/" rel="nofollow">Eviction Notice</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/milwaukee-wisconsin-unique-english-dialect#comment-622">Saturday, July 16, 2011 - 07:40</a></span>
</div>
</div>
<div class="indented"><a id="comment-623"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks for the comment!  What are your favorite dialects?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/43/623">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/02/milwaukee-wisconsin-unique-english-dialect#comment-623">Sunday, July 17, 2011 - 08:06</a></span>
</div>
</div>
</div><a id="comment-1432"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/03/british-vs-american-english" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] true that there are lots of dialects (I wrote about my dialect a while back), accents and other variations of English (ex. creoles, such as [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/43/1432">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/03/british-vs-american-english" rel="nofollow">British vs. American English | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/milwaukee-wisconsin-unique-english-dialect#comment-1432">Tuesday, March 13, 2012 - 10:38</a></span>
</div>
</div>
<a id="comment-1806"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/03/email-problem-i-need-your-help" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] I love receiving emails and comments from you guys! [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/43/1806">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/03/email-problem-i-need-your-help" rel="nofollow">Email problem - I need your help! | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/milwaukee-wisconsin-unique-english-dialect#comment-1806">Wednesday, May 2, 2012 - 20:19</a></span>
</div>
</div>
</div>
