---
permalink: /blog/2011/02/vlog-pociągi-w-stanach-zjednoczonych/
layout: blog-old
title: 'Vlog: Pociągi w Stanach Zjednoczonych'
day: 26
month: Feb
year: 2011
category: learn-polish
tags: 
  - 'vlog'
language: en
translation: /blog/2011/02/vlog-poci%C4%85gi-w-stanach-zjednoczonych/
---
<div class="content">
<p>Dzisiaj mówię na temat pociągów w Stanach Zjednoczonych!  Wygląda na to że jesteście fanami pociągów bo dostałem kilka próśb o filmik na ten temat. :-)</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/rPYkTL34c5E?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/rPYkTL34c5E?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Linki do tych ciekawostek na YouTube'ie:</p>
<ul>
<li><a href="http://www.communitywalk.com/mapa_vloger%C3%B3w_w_polsce/map/896077">Mapka polskich vlogerów</a></li>
<li><a href="http://zspontanik.pl/index.php?s=vloger_ranking">Ranking polskich vlogerów</a></li>
</ul>
<p>Czytaj transkrypcję poniżej!</p>
<h2><a name="transcript">Transkrypcja</a></h2>
<ul>
<li>Dzień dobry</li>
<li>Znowu przed kamerą internetową mówi David Snopek</li>
<li>Dostałem kilka próśb o filmik na temat pociągów w Stanach Zjednoczonych</li>
<li>Okazuje się, że jest kilku fanów komunikacji kolejowej</li>
<li>Muszę przyznać, że sam bardzo lubię pociągi</li>
<li>Ale w Stanach, tylko dwa razy w moim życiu jeździłem pociągiem</li>
<li>Ale w Europie wiele, wiele razy</li>
<li>Moja najdłuższa jazda pociągiem była z Mińska do Kazania</li>
<li>To trwało dwa dni</li>
<li>Kiedy mieszkaliśmy w Krakowie, jeździłem pociągiem trzy lub cztery razy w tygodniu z Krakowa do Zabierzowa</li>
<li>Bo tam pracowałem w szkole językowej</li>
<li>I poza tym, raz do Lublina, raz do Warszawy, raz do Kijowa</li>
<li>To była bardzo ciekawa podróż</li>
<li>W Stanach, pociągi -- jako hobby, jako zainteresowanie -- są dość popularne</li>
<li>Bo jest w tym coś romantycznego</li>
<li>Ale jako środek komunikacji od miejsca do miejsca -- są bardzo mało popularne</li>
<li>Przynajmniej w mojej części kraju</li>
<li>Bo słyszałem, że w północno-wschodzie ludzie często jeżdżą pociągiem</li>
<li>Ale nie wiem na pewno, bo sam tego nie widziałem</li>
<li>Ale bez wątpienia to jest wyjątek</li>
<li>Bo w Stanach, w ogóle, w ranking najczęściej używanych środków komunikacji, <del>w</del> [na] pierwszym miejscu jest: samochód</li>
<li>Parę miesięcy temu nasz ulubiony gubernator Scott Walker zwrócił do rządu federalnego 800 (osiemset) milionów dolarów, który miały być dla budowy kolei dużych prędkości tutaj w naszym stanie</li>
<li>Bo uważał, że zbyt mało osób jeździ pociągiem, że lepiej by było wydać te pieniądze za autostrady, drogi, mosty, itd</li>
<li>Bo większość tutaj jeździ samochodem</li>
<li>Z jednej strony, oczywiście, on ma rację</li>
<li>Ale myślę, że fajnie by było mieć coś takiego jak kolej dużych prędkości</li>
<li>Bo osobiście jeżdżę do Minneapolis autobusem, może raz w roku, lub raz co dwa lata i jedzie się tam 8 (osiem) godzin autobusem</li>
<li>Nawet samochodem jedzie się tam 6 (sześć) godzin</li>
<li>Więc fajnie by było trochę szybciej ale tak jest</li>
<li>Dalej w tym rankingu, <del>w</del> [na] drugim miejscu jest: samolot</li>
<li>Mamy bardzo duży kraj, wszystko jest tak daleko od siebie</li>
<li>Osobiście w moim życiu latałem do innych miast w Stanach ponad dwadzieścia razy, może nawet trzydzieści</li>
<li>Nie pamiętam</li>
<li><del>W</del> [Na] trzecim miejscu jest: autobus</li>
<li>I to przeważnie z powodu, ze jest o wiele taniej autobusem niż pociągiem</li>
<li>Co jest całkiem normalnie, tak samo jak w Polsce</li>
<li>Na przykład: jedzie się autobusem do Minneapolis za 110 (sto dziesięć) dolarów</li>
<li>To jest cała podróż, tam i powrotem</li>
<li>Pociągiem kosztuje 190 (sto dziewięćdziesiąt) dolarów i tylko jest 1,5 (półtora) godziny <del>króciej</del> [krócej]</li>
<li>Więc nie warto</li>
<li>I <del>w</del> [na] ostatnim miejscu: pociąg</li>
<li>Jak już wspominałem, tylko dwa raz w moim życiu jeździłem pociągiem</li>
<li>Raz kiedy byłem małym dzieckiem</li>
<li>I raz tylko trzy tygodnie temu</li>
<li>Razem z żoną pojechaliśmy do jej babci, która mieszka w Pontiac, Illinois</li>
<li>Najpierw 1,5 (półtora) godziny do Chicago i potem prawie 2 (dwie) godziny do Pontiac</li>
<li>Podczas podróży nagrałem kilka filmików, które za chwilę wam pokażę</li>
<li>Tutaj jest nasz dworzec w Milwaukee, który wygląda pięknie</li>
<li>Co może być ciekawe, na dworcach w Milwaukee i w Chicago, nie czekasz na pieronie</li>
<li>Czekasz w środku w odpowiednim miejscu dla Twojego pociągu</li>
<li>Otwierają drzwi na pieron kiedy jest czas wsiąść do pociągu</li>
<li>Jest tak samo jak na lotnisku</li>
<li>Niestety, widok z pociągu nie jest tak dobry</li>
<li>Bo zawsze kolej jedzie za fabrykami i innymi budynkami przemysłowymi</li>
<li>Więc nie ma pięknych krajobrazów, przepraszam za to, </li>
<li>Widok jest o wiele lepiej kiedy jedziesz samochodem</li>
<li>Jeszcze kilka rzeczy na końcu</li>
<li>Nadal trwa ta demonstracja w stolicy naszego stanu</li>
<li>Kiedy dzisiaj czytałem gazetę, zobaczyłem list od Solidarności w Polsce</li>
<li>Wykupili całą stronę w tej gazecie na list, popierający demonstrantów </li>
<li>Dla mnie fajna niespodzianka, że jakaś organizacja w Polsce myśli o wydarzeniu w naszym mało znanym stanie</li>
<li>To fajnie</li>
<li>Ostatnia rzecz: para ciekawostek na YouTube'ie</li>
<li>Jest mapka polskich vlogerów, zrobiona przez użytkownika <a href="http://www.youtube.com/user/mlodykubica">MłodyKubica</a></li>
<li>Też jest ranking polskich vlogerów, zrobiony przez użytkownika <a href="http://www.youtube.com/user/zspontanik">zSpontanik</a></li>
<li>Nie jestem Polakiem ale jakoś jestem na tej mapce i w tym rankingu</li>
<li>Zapraszam do oglądania tych stron</li>
<li>Są linki w opisie</li>
<li>To wszystko</li>
<li>Dziękuję za uwagę</li>
<li>Do widzenia</li>
</ul>
</div>

<div id="comments">
<a id="comment-153"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3dc923f74c0d5d50a772b56cfd09ccf2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Prośby pewnie z tego powodu, że chcieli zobaczyć pociągi, które się nie spóźniają =)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/51/153">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Adrian (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/vlog-poci%C4%85gi-w-stanach-zjednoczonych#comment-153">Sunday, February 27, 2011 - 06:16</a></span>
</div>
</div>
<a id="comment-167"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/75cfc27665c2621035c74c99070e8ae9?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>W polsce nie ma polityków którzy przepuścili by przez zwoje pazerne łapska 800 mln $.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/51/167">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/vlog-poci%C4%85gi-w-stanach-zjednoczonych#comment-167">Sunday, March 6, 2011 - 16:00</a></span>
</div>
</div>
<a id="comment-322"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.pzielinski.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/cf55d548310520d36bd123dca798d8cb?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>A mi się podoba taki krajobraz industrialny - coś w sobie ma:)<br/>
Btw, świetny blog!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/51/322">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.pzielinski.com" rel="nofollow">Piotr</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/vlog-poci%C4%85gi-w-stanach-zjednoczonych#comment-322">Friday, May 13, 2011 - 15:27</a></span>
</div>
</div>
</div>
