---
permalink: /blog/2011/02/vlog-nie-trzeba-mieć-talentu-żeby-nauczyć-się-języka/
layout: blog-old
title: 'Vlog: Nie trzeba mieć talentu, żeby nauczyć się języka'
day: 4
month: Feb
year: 2011
category: learn Polish
tags: 
  - 'vlog'
language: en
translation: /blog/2011/02/vlog-nie-trzeba-mie%C4%87-talentu-%C5%BCeby-nauczy%C4%87-si%C4%99-j%C4%99zyka/
---
<div class="content">
<p>Wielu ludzi myśli, że musisz mieć talent żeby nauczyć się języka.  Ale to nie prawda!  Ktokolwiek może się uczyć jakiegokolwiek języka.  Z mojego osobistego doświadczenia, tylko potrzebne są trzy składniki: czas, motywacja i efektywna metoda.</p>
<p>Obejrzyj ten filmik żeby dowiedzieć się więcej!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/5iJeSR5xvSk?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/5iJeSR5xvSk?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Czytaj transkrypcję poniżej!</p>
<h2><a name="transcript">Transkrypcja</a></h2>
<ul>
<li>Dzien dobry</li>
<li>Znow przed kamerą internetową mówi David Snopek</li>
<li>Ostatnio dostałem bardzo dużo maili na różne tematy</li>
<li>Ale w wielu z nich, ludzie napisali, że zazdroszczą mojego talentu do nauki języków obcych</li>
<li>Ale osobiście nie sądzę, że jestem specjalnie utalentowany z językami</li>
<li>Bo w szkole, w gimnazjum, w liceum uczyłem się języka hiszpańskiego</li>
<li>Ale niczego nie nauczyłem się</li>
<li>I póżniej na uniwersytecie uczyłem się języka rosyjskiego</li>
<li>Było lepiej niż z hiszpańskim</li>
<li>Ale nie udało mi się</li>
<li>Nie odniosłem wielkiego sukcesu</li>
<li>To tylko teraz z językiem polskim, że wszystko idzie tak dobrze</li>
<li>Przez wszystkie te lata, kiedy uczyłem się hiszpańskiego i rosyjskiego</li>
<li>Nie nauczyłem się tych języków, niestety</li>
<li>Ale nauczyłem się, jak uczyć się języka</li>
<li>Moim zdaniem nie trzeba mieć talentu</li>
<li>Bo, no, to jest jasne, że ja sam nie mam talentu do tego</li>
<li>Bo gdybym miał go, nauczyłbym się hiszpańskiego i rosyjskiego</li>
<li>Moim zdaniem, tylko są potrzebne trzy składniki: czas, motywacja i efektywna metoda</li>
<li>Z tymi trzema rzeczami, ktokolwiek mógłby nauczyć się jakiegokolwiek języka</li>
<li>Kiedy uczyłem się języka hiszpańskiego, brakowało mi wszystkich tych trzech składników</li>
<li>Bo tylko spędziłem czas na to w szkole</li>
<li>Nie spędziłem żadnego czasu mojego wolnego</li>
<li>W ogóle nie miałem motywacji</li>
<li>Nie chciałem uczyć się hiszpańskiego, tylko musiałem w szkole</li>
<li>I taka metoda, jaka jest w szkole</li>
<li>Tylko ćwiczysz gramatykę i tyle</li>
<li>Nie spędzasz <del>czas</del> [czasu] z prawdziwym językiem</li>
<li>Więc to teraz jasne dlaczego niczego nie nauczyłem się</li>
<li>Z rosyjskim, no, było lepiej</li>
<li>Spędziłem dużo czasu na to</li>
<li>Miałem nawet dużą motywację</li>
<li>Ale znowu metoda, jaka jest na uniwersytecie, jest taka sama</li>
<li>Tylko ćwiczysz gramatykę, gramatykę i tyle</li>
<li>Nie spędzasz <del>czas</del> [czasu] z prawdziwym językiem</li>
<li>Więc, no, udało mi się czegoś nauczyć, ale nie tak dużo</li>
<li>Nadal jestem na bardzo niskim poziomie z rosjyskim</li>
<li>Ale teraz z polskim, spędziłem i nawet, no, spędzam dużo czasu na to</li>
<li>Mam dużą motywację</li>
<li>I z moją metodą teraz, o której już mówiłem bardzo dużo w innych filmikach, spędzam czas z prawdziwym językiem</li>
<li>To jest różnica</li>
<li>Wreszcie udało mi się nauczyć się jakiegoś języka, przynajmniej do tego stopnia</li>
<li>Nadal mam bardzo dużo roboty przed sobą</li>
<li>Wydaje mi się, że tylko są potrzebne te trzy składniki a nie talentu</li>
<li>W ogóle</li>
<li>Nie musisz mieć talentu, żeby nauczyć się języka</li>
<li>I to wszystko co mam dzisiaj do powiedzenia!</li>
<li>Dziękuję za uwagę</li>
<li>Do widzenia!</li>
<li>Teraz coś dla tych, którzy nadal oglądają...</li>
<li>Wcześniej tego samego dnia...</li>
<li>Dzień dobry</li>
<li>Znowu przed kamerą internetową mówi David Snopek</li>
<li>Dzisiaj zdecydowałem się, nagrać filmik tutaj na zewnątrz w ogrodku moich rodziców</li>
<li>Żebyście mogli zobaczyć jak spadło trochę śniegu</li>
<li>Ale nie wiem czy w ogóle to jest dobry pomysł</li>
<li>Teraz bardzo wątpię</li>
<li>Bo tutaj jest bardzo zimno, co więcej siedzę na metalowym krześle</li>
<li>I będę musiał krzyczeć bo autostrada jest bardzo głośna</li>
<li>Tutaj właśnie za domem moich rodziców jest autostrada</li>
<li>Ale spróbuję, zobaczymy</li>
<li>No, i gdybym, och, boże</li>
<li>Jest za zimno</li>
<li>Gdzie są moje notatki?</li>
<li>Co chciałem powiedzieć?</li>
<li>Czas, motywację i efektywną metodę...</li>
<li>Kurczę, jest bardzo zimno</li>
<li>... nauczyć się jakiegokolwiek języka</li>
<li>Nie wytrzymam!</li>
<li>Muszę wrócić do domu</li>
</ul>
</div>

<div id="comments">
<a id="comment-57"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/22bb862304dc85762b6dc5e4c05d5441?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>So... What is in your opinion the most effective method? (apart from living among or talking frequently to ppl to whom this particular language is their "mother tongue")</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/45/57">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Varin (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/vlog-nie-trzeba-mie%C4%87-talentu-%C5%BCeby-nauczy%C4%87-si%C4%99-j%C4%99zyka#comment-57">Monday, February 7, 2011 - 19:01</a></span>
</div>
</div>
<div class="indented"><a id="comment-65"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>I don't believe that there is only ONE most effective method.  It is possible to learn a language using many different methods.  But I do think methods which include contact with the real language and not just textbooks and grammar rules are more effective.</p>
<p>I recorded a video (in Polish) about the method I am using to learn Polish:</p>
<p><a href="http://www.linguatrek.com/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego" title="http://www.linguatrek.com/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego">http://www.linguatrek.com/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angi...</a></p>
<p>I also wrote an article in English with the same contents:</p>
<p><a href="http://www.linguatrek.com/blog/2010/12/harry-potter-the-book-that-taught-me-polish" title="http://www.linguatrek.com/blog/2010/12/harry-potter-the-book-that-taught-me-polish">http://www.linguatrek.com/blog/2010/12/harry-potter-the-book-that-taught...</a></p>
<p>-----</p>
<p>(Teraz po polsku dla tych, którzy nie mówią po angielsku!)</p>
<p>Nie sądzę, że jest tylko jedyna najefektywniejsza metoda i wszystko. Można nauczyć się języka w różne sposoby. Ale mógłbym powiedzieć, że efektywniejsze metody są te, z którymi masz kontakt z prawdziwym językiem a nie tylko z podręcznikami i zasadami gramatycznymi.</p>
<p>Na moim blogu już napisałem/mówiłem dużo o tej metodzie, której osobiście sam używam do nauki polskiego. Najnowszy filmik na ten temat po polsku jest tutaj:</p>
<p><a href="http://www.linguatrek.com/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego" title="http://www.linguatrek.com/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego">http://www.linguatrek.com/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angi...</a></p>
<p>I oto jest artykuł o tej samej treści, tylko po angielsku:</p>
<p><a href="http://www.linguatrek.com/blog/2010/12/harry-potter-the-book-that-taught-me-polish" title="http://www.linguatrek.com/blog/2010/12/harry-potter-the-book-that-taught-me-polish">http://www.linguatrek.com/blog/2010/12/harry-potter-the-book-that-taught...</a></p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/45/65">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/02/vlog-nie-trzeba-mie%C4%87-talentu-%C5%BCeby-nauczy%C4%87-si%C4%99-j%C4%99zyka#comment-65">Tuesday, February 8, 2011 - 08:09</a></span>
</div>
</div>
</div><a id="comment-59"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c5a60ed1b65a6bc131583b28248b0add?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Może i faktycznie masz rację David, że każdy język jest specyficzny i każdy ma osobne predyspozycje do nauki konkretnych języków. Myślę, że narodom słowiańskim o wiele łatwiej uczyć się języków swoich sąsiadów jak na przykład słowakowi pewnie łatwiej jest uczyć się języka polskiego który jest podobny do jego ojczystego. Z drugiej strony mi o wiele łatwiej jest uczyć się angielskiego z którym mam styczność praktycznie codziennie niż języka hindi o którym tylko słyszałem ;) Bardzo fajna inicjatywa pisanie takiego vlogu ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/45/59">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Łukasz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/vlog-nie-trzeba-mie%C4%87-talentu-%C5%BCeby-nauczy%C4%87-si%C4%99-j%C4%99zyka#comment-59">Tuesday, February 8, 2011 - 06:49</a></span>
</div>
</div>
<div class="indented"><a id="comment-66"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hrm, może coś źle rozumiem (lub powiedziałem w filmiku) ale nie sądzę, że każdy ma osobne predyspozycję do nauki konkretnych języków.</p>
<p>Myślę, że ktokolwiek może się nauczyć jakiegokolwiek języka!</p>
<p>Zgadzam się, że jest łatwiej nauczyć się języków, które są podobne do języka ojczystego.</p>
<p>Dziękuję za komentarz!</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/45/66">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/02/vlog-nie-trzeba-mie%C4%87-talentu-%C5%BCeby-nauczy%C4%87-si%C4%99-j%C4%99zyka#comment-66">Tuesday, February 8, 2011 - 08:14</a></span>
</div>
</div>
</div><a id="comment-62"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/14895b1ed6806a3da593723318f6f5dd?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>A spodziewałem się jakiś ciekawych porad na temat efektywnego sposobu uczenia się.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/45/62">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">alucard (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/vlog-nie-trzeba-mie%C4%87-talentu-%C5%BCeby-nauczy%C4%87-si%C4%99-j%C4%99zyka#comment-62">Tuesday, February 8, 2011 - 07:53</a></span>
</div>
</div>
<div class="indented"><a id="comment-63"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Już nagrałem filmik na temat metody, której sam używam do nauki języka polskiego:</p>
<p><a href="http://www.linguatrek.com/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego" title="http://www.linguatrek.com/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego">http://www.linguatrek.com/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angi...</a></p>
<p>Moim zdaniem to bardzo efektywna metoda -- przynajmniej to działa dla mnie. :-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/45/63">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/02/vlog-nie-trzeba-mie%C4%87-talentu-%C5%BCeby-nauczy%C4%87-si%C4%99-j%C4%99zyka#comment-63">Tuesday, February 8, 2011 - 07:59</a></span>
</div>
</div>
</div><a id="comment-71"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/96dc4252393746ffdfb7994067eb7231?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Świetna strona, świetna metoda, super filmiki! :)<br/>
Nie moge się doczekać kiedy dodasz do BiblioBird'a możliwość ładowania własnych tekstów, lub dodasz jakieś książki.</p>
<p>Pozdrawiam serdecznie i tak trzymać ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/45/71">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">2quality (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/vlog-nie-trzeba-mie%C4%87-talentu-%C5%BCeby-nauczy%C4%87-si%C4%99-j%C4%99zyka#comment-71">Tuesday, February 8, 2011 - 09:55</a></span>
</div>
</div>
<a id="comment-78"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d091f51135993a516b9d56ebd1d1d72a?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Ja też nie jestem Polakiem, a Ukraińcem. Nauczyłem się języka polskiego będąc 10 letnim dzieckiem w przeciągu 2 tygodni opanowałem podstawowych słów i zdań żeby w miarę jako tako rozmawiać zrozumiale, a po 2-3 miesiącach rozmawiałem już normalnie po Polsku (80% akcentu :) (z pisania i czytania kompletnie nic) w tym przypadku miałem łatwiej o wiele, wiele bo młody umysł lepiej chłonie wiedzę dla tego teraz swoich znajomych co mają młode dzieci namawiam żeby posyłali ich na prywatne (nie szkolne) zajęcia z nauki jakiegoś obcego języka.<br/>
Miałem motywację? Tak bo nie miałem wyjścia mieszkałem w prywatnym domu z lokatorami i sąsiadami którzy mieli syna o 3 lata starszego ode mnie, więc od wszystkich wokół męczyłem setkami pytań "jak to będzie po polsku? a to? tamto? a co to znaczy?..." itd. hehehe i próbowałem powtarzać poprawnie zarazem zapamiętując. Poświęciłem 100% czasu wiadomo czemu ;) Metodę miałem dość "oryginalną" no bo zmusiło mnie do tego sytuacja życiowa. Po niecałym roku wróciłem na 2 lata spowrotem na Ukrainę, i po tych dwóch latach matka znowu mnie zabrała od babci do Polski (tym razem miałem iść do szkoły podstawowej). W przeciągu kilki dni przypomniałem (odświeżyłem pamięć) języka Polskiego i musiałem w przeciągu niecałych 3 miesięcy nauczyć się dobrze pisać i czytać (czego wcześniej nie umiałem anie odrobinkę). Z pomocą znajomych polaków dałem radę i w szkole było ciężko przez pierwsze pół roku bo odstawałem w szybkości pisaniu i gramatyce. Podsumowując: nauczyłem się mówić w 2-3 miesiące + pisać 3 miesiące (+pół roku doszlifowanie gramatyki). Tak wyjątkowo szybko udało się dzięki 100% wydajności (intensywności) nauczania zwłaszcza uwzględniając młody wiek.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/45/78">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous12121212121212 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/vlog-nie-trzeba-mie%C4%87-talentu-%C5%BCeby-nauczy%C4%87-si%C4%99-j%C4%99zyka#comment-78">Tuesday, February 8, 2011 - 12:15</a></span>
</div>
</div>
<a id="comment-83"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/6f2e03e62ed83cd2e23d4fe56b7b210c?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>David, jestem naprawdę pod wrażeniem. Uważam nawet, że Twój zasób słownictwa wykracza ponad zasób przeciętnego polaka. Trzymaj kciuki za moje opanowanie języka hiszpańskiego (na razie w sferze marzeń).</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/45/83">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/vlog-nie-trzeba-mie%C4%87-talentu-%C5%BCeby-nauczy%C4%87-si%C4%99-j%C4%99zyka#comment-83">Tuesday, February 8, 2011 - 15:29</a></span>
</div>
</div>
<a id="comment-85"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/32cd0c3bc9dd1975d4ed1137cec7541e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Fajny blog, fajna metoda nauki.<br/>
Podobną metodą mój brat nauczył się j. angielskiego - oglądając filmy z angielskim lektorem i dodatkowo z napisami.<br/>
A tak poza tym świetnie mówisz po polsku, pozdrawiam.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/45/85">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">ste2 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/vlog-nie-trzeba-mie%C4%87-talentu-%C5%BCeby-nauczy%C4%87-si%C4%99-j%C4%99zyka#comment-85">Tuesday, February 8, 2011 - 17:30</a></span>
</div>
</div>
<a id="comment-92"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/2fa0f27c9f52c0b9594dde9b7ad289ad?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Gratuluje tak świetnego opanowania naszego języka, tego, że dajesz radę w Polsce (w przeciwieństwie do wielu Polaków, wierz mi :) ) i zdobycia przebojem (nawet jeśli przypadkiem) wykopu! :).</p>
<p>Co do tego talentu, to myślę, że ma on wprawdzie drugorzędne znaczenie, ale jednak ma. Rozumiem natomiast dydaktyczną funkcję twojego hasła. Talent ma znaczenie, tylko wiele osób myśli, że tego talentu nie posiada. W związku z tym przekonywanie ich, że bez talentu dadzą radę, może ich skłonić do wysiłków i z czasem odkryją, że to co myśleli na temat swojego talentu nie było prawdą. Kluczem jest natomiast czas i metoda - tu pełna zgoda. Bez regularnego, minimum codziennego kontaktu z językiem - nie będzie efektów, zła metoda może te wymagania czasowe zmultiplikować.</p>
<p>(to była część wypowiedzi zamieszczona na wykopie, jak widzisz musiałem trochę poprawić składnie - Polish is tricky! even for natives... :). Tutaj chciałbym moją wypowiedź trochę rozwinąć)</p>
<p>Osobiście też mam swoją metodę nauki - w tym przypadku angielskiego. W skrócie polega ona na próbie jak najczęstszego kontaktu z językiem wspomaganej codzienną intensywną ale niezbyt długą (ok. 45min) pracą pamięciową. Najlepszy kontakt to rozmowa, ale z tym, żyjąc poza granicami kraju anglojęzycznego jest problem (wiem, że są sposoby internetowe, ale mi nie odpowiadają, uważam, że jeśli rozmowa - to tylko na żywo). Jeśli nie mamy szans na kontakt z żywym językiem poprzez rozmowę, najlepszą metodą zastępczą jest kontakt z językiem literackim. To też jest żywy język, tylko jakby zastygły w druku. A więc książki - od czasu, gdy zacząłem dawać radę, staram się każdą możliwą beletrystykę czytać w angielskim oryginale (i też zaczynałem tę przygodę od Harry Pottera!). Teraz to nawet specjalnie czytam Normana Daviesa w polskim przekładzie, żeby mi się polski z kolei nie opuścił :). Jeśli nie można mieć kontaktu z angielską książką (bo np. akurat czyta się polską albo z chwilowego braku czasu) warto przynajmniej przeglądać internet po angielsku. Tyle jeśli chodzi o kontakt - to uczy mózg struktury języka, daje opanowanie formy, szkieletu. Natomiast do tego należy sukcesywnie dodawać "mięso" czyli nowe słownictwo. Nie wszystko jesteśmy w stanie wywnioskować z kontekstu, poza tym, jeśli takiego wnioskowania jest za dużo - przeszkadza to w dobrej lekturze książki i w rezultacie - nie ma tego efektu kontaktu z żywym językiem, o który nam chodzi. Dodatkowo należy pamiętać, że języki w mniejszym lub większym stopniu (angielski w większym) oparte są o struktury idiomatyczne, których nie sposób w ogóle wywnioskować z kontekstu aktualnego, który najczęściej ma niewiele, albo zgoła nic, wspólnego z kontekstem oryginalnym, w którym idiom się rodził. I do tego "mięsa" potrzebna jest regularna, systematyczna praca pamięciowa. Dziś na szczęście nie trzeba prowadzić zapisków, notatek, zeszytów i z nich zakuwać [ciekawe czy znasz ten polski idiom :D] słówka. Dziś mamy takie narzędzia jak np. <a href="http://www.supermemo.net" title="www.supermemo.net">www.supermemo.net</a>, które mocno ułatwiają sprawę (ale systematyczności za nas nie przypilnują!) i które szczerze polecam. </p>
<p>To tyle, życzę powodzenia w Polsce i z polskim!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/45/92">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">nervosaur (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/vlog-nie-trzeba-mie%C4%87-talentu-%C5%BCeby-nauczy%C4%87-si%C4%99-j%C4%99zyka#comment-92">Wednesday, February 9, 2011 - 05:21</a></span>
</div>
</div>
<div class="indented"><a id="comment-96"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dziękuję bardzo za komentarz i udzielenie Twojego doświadczenia!  Prawdę mówiąc nie znam tego idioma. :-)</p>
<p>Żeby nauczyć się słownictwa, też gorąco polecam takie systemy do powtórzania się jak SuperMemo ale osobiście używam <a href="http://ankisrs.net/">Anki</a>, który jest bardzo podoby.  <a href="http://www.linguatrek.com/blog/2011/01/what-is-spaced-repetition">Napisałem artykuł</a> na temat takich systemów "spaced repetition".</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/45/96">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/02/vlog-nie-trzeba-mie%C4%87-talentu-%C5%BCeby-nauczy%C4%87-si%C4%99-j%C4%99zyka#comment-96">Wednesday, February 9, 2011 - 07:48</a></span>
</div>
</div>
</div><a id="comment-990"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3e58de09a2fdaac94acf2bc45ec0cf38?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Czy mi się wydaje, czy chciałeś na samym końcu powiedzieć inne słowo zamiast "kurcze"? ;] bo tak to zabrzmiało ;]<br/>
Takie pytanko mam, zdarzyło Ci się powiedzieć "o kur**"? :P chyba wiesz o co chodzi :)<br/>
Muszę się pochwalić, bo jestem bardzo szczęśliwy, wczoraj (bo już po północy) miałem egzamin na prawo jazdy w Kielcach, no i zdałem za pierwszym razem :) zero błędów na egzaminie :) a miałem wymagającego egzaminatora :) w Polsce nie jest tak łatwo dostać prawo jazdy jak w USA :P (mam 18 lat) :)<br/>
Pozdrawiam!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/45/990">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">XTwittyX (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/vlog-nie-trzeba-mie%C4%87-talentu-%C5%BCeby-nauczy%C4%87-si%C4%99-j%C4%99zyka#comment-990">Thursday, October 20, 2011 - 18:31</a></span>
</div>
</div>
<div class="indented"><a id="comment-992"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Do tej pory nigdy nie mówiłem tego pewnego słowa na "k", które nie jest kurczakiem. ;-)  Przynajmniej w realnej sytuacji.  Często niepolacy proszą mnie o przekleństwa po polsku i parę razy podałem to słowo.  Ale to wszystko! :-)</p>
<p>Gratulacje z Twoim prawem jazdy!  Sam nie zdawałem tego egzaminu za pierwszym razem (i było tu w Stanach, tzn ten łatwy egzamin). :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/45/992">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/02/vlog-nie-trzeba-mie%C4%87-talentu-%C5%BCeby-nauczy%C4%87-si%C4%99-j%C4%99zyka#comment-992">Friday, October 21, 2011 - 13:52</a></span>
</div>
</div>
</div><a id="comment-1088"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a926a803ffcd592e7f1ac406906b2531?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Jest:<br/>
"Więc to teraz jasne dlaczego niczego nie nauczyłem się"<br/>
Powinno być:<br/>
"Więc to teraz jasne dlaczego niczego się nie nauczyłem"<br/>
Źródło:<br/>
<a href="http://lpj.pl/index.php?op=35&amp;id=9" title="http://lpj.pl/index.php?op=35&amp;id=9">http://lpj.pl/index.php?op=35&amp;id=9</a></p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/45/1088">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Się mówi (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/vlog-nie-trzeba-mie%C4%87-talentu-%C5%BCeby-nauczy%C4%87-si%C4%99-j%C4%99zyka#comment-1088">Friday, December 9, 2011 - 11:09</a></span>
</div>
</div>
<div class="indented"><a id="comment-1101"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dziękuję bardzo za poprawkę i zwłaszcza tego linka!  Bez niego w ogóle nie wiedziałbym dlaczego to jest niepoprawne.  Pozdrawiam serdecznie, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/45/1101">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/02/vlog-nie-trzeba-mie%C4%87-talentu-%C5%BCeby-nauczy%C4%87-si%C4%99-j%C4%99zyka#comment-1101">Saturday, December 10, 2011 - 09:57</a></span>
</div>
</div>
</div>
</div>
