---
permalink: /blog/2011/02/what-to-do-when-you-dont-know-a-word/
layout: blog-old
title: 'What to do when you don''t know a word'
day: 8
month: Feb
year: 2011
category: language learning
tags: 
  - 'speaking strategies'
language: en
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 146px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/02/panicbutton2.jpg" rel="lightbox"><img alt="Panic button" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/02/panicbutton2.jpg" title="Is it time to panic?  Photo by Mikel Manitius."/></a><div class="caption">Is it time to panic?  <a href="http://www.flickr.com/photos/69675357@N00/361935363">Photo</a> by <a href="http://www.flickr.com/photos/trancemist/">Mikel Manitius</a>.</div></div>
<p>As I've <a href="http://www.linguatrek.com/blog/2010/12/vocabulary-the-biggest-challenge-in-language-learning">written previously</a>, learning vocabulary is the biggest challenge in language learning: there are almost an infinite number of words to learn!</p>
<p>Inevitably, you will be in a situation where you need to use a word that you don't know.</p>
<p><em>What should you do?</em>  Panic?  ;-)</p>
<p>The short answer: circumlocution.  The long answer: <strong>read the rest of this post</strong>!</p>
<h2>How do you say dehumidifier?</h2>
<p>When we were living in Poland, we had a massive problem with moisture in our apartment, particularly during the winter.</p>
<p>Our dishes dried on a rack in the kitchen and our bathroom didn't have a window.  In the warm months, we dried our clothes on the balcony, but in the winter we dried them inside.</p>
<p>Moisture leads to mold.  Mold leads to ruined paint, rotten bread and allergies.</p>
<p>I started trying to find a place to buy a dehumidifier.  At many stores they sell a kind of chemical dehumidifier (a <a href="http://www.stopwilgoci.pl/">big white puck</a>) that takes water out of the air, but didn't work nearly fast enough for the size of our humidity problem.</p>
<div class="diag align-right" style="float: right; width: 157px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/02/dehumidifier.jpg" rel="lightbox"><img alt="Dehumidifier" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/02/dehumidifier.jpg" title="The dehumidifier we eventually bought."/></a><div class="caption">The dehumidifier we eventually bought.</div></div>
<p>For some reason, electric dehumidifiers are very uncommon in Poland.  I even had trouble figuring out the correct word.  Searching on the internet led to many different possibilities, including: "osuszacz powietrza," "odwilżacz" and "pochłaniacz wilgoci."</p>
<p>I went to every store I thought might have a dehumidifier and tried each word in turn.  The clerk I asked always ended up looking at me like I was crazy!</p>
<p>So, I gave up on the words I found on the internet and simply described what I wanted using other words which I already knew.  This is called "circumlocution."</p>
<p><em>"Szukam elektrycznego sprzętu, który usuwa wilgoć z powietrza."</em>  This means, <em>"I'm looking for an electric appliance that removes moisture from the air."</em></p>
<p>Some people always carry a dictionary with them in case there is a word they need.  This works, but it can cause some interesting pauses as you are searching for the right word.  And if it's a word you've never heard before, you can never <em>really</em> be sure it means what you intend in the target language.</p>
<p>So, instead just describe the thing you are looking for using words you already know!</p>
<p><strong>Have you ever tried this technique?  What other techniques have you used when you don't know a word?  Write a comment below!</strong></p>
</div>

<div id="comments">
<a id="comment-98"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/958931700bea4d68e03f3578123e29f8?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witaj,</p>
<p>bardzo podoba mi się to co piszesz i w jaki sposób piszesz. Zastanawiam się, czy podoba Ci się nasz język :)</p>
<p>pozdrowienia<br/>
D.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/44/98">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Dominus (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/what-to-do-when-you-dont-know-a-word#comment-98">Wednesday, February 9, 2011 - 14:39</a></span>
</div>
</div>
<a id="comment-111"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e23767f293427f0cc371ab3e15e34b75?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witam,<br/>
duże wrażenie robi to w jakim stopniu opanowałeś nasz język. Sam chciałbym tak dobrze mówić po angielsku, jak Ty po polsku.<br/>
PS. "powiedtrza" =&gt; powietrza, choć pewnie to tylko literówka bo kolejne wystąpienie tego słowa już jest ok.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/44/111">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">metaxy (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/what-to-do-when-you-dont-know-a-word#comment-111">Saturday, February 12, 2011 - 17:54</a></span>
</div>
</div>
<div class="indented"><a id="comment-126"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dziękuję za poprawkę!  Już poprawiłem artykuł.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/44/126">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/02/what-to-do-when-you-dont-know-a-word#comment-126">Monday, February 14, 2011 - 11:03</a></span>
</div>
</div>
</div><a id="comment-144"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://blog.KrzysztofSzumny.pl" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/2acbf0ee0888104f1c90a85266682990?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Of course ... I am trying improvise :)  I am sometimes using other words which seems to me be similar and sometimes hands are also useful  ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/44/144">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://blog.KrzysztofSzumny.pl" rel="nofollow">noisy - Krzysztof Szumny</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/what-to-do-when-you-dont-know-a-word#comment-144">Sunday, February 20, 2011 - 20:53</a></span>
</div>
</div>
<a id="comment-220"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/18d6fa19b96378e92cafa4ee4583b70e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hey David.</p>
<p>Please share what model did you buy? I also have problem with moisture and I've tried chemical dehumidifiers as well but effects weren't satisfactory. So "electric" soultion seems to be perfect :) BTW - in previous sentence ("I also have...") I've used PP tense ("I've tried...") and then Simple Past ("effects weren't..."). Is this a mistake? I'm wondering if such mixing is acceptable.</p>
<p>Kind regards :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/44/220">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">crs (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/what-to-do-when-you-dont-know-a-word#comment-220">Wednesday, March 30, 2011 - 12:40</a></span>
</div>
</div>
<div class="indented"><a id="comment-221"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hello!</p>
<p>It was an Olimpia Splendid SeccoReale.  I bought it at <a href="http://www.euro.com.pl/">AGD RTV Euro</a>.</p>
<p>Mixing different <em>types</em> of tenses is acceptable (perfect and simple, continuous and simple, etc) but not different times (meaning past, present, future).  The whole sentence was in the past, so it's OK!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/44/221">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/02/what-to-do-when-you-dont-know-a-word#comment-221">Wednesday, March 30, 2011 - 14:15</a></span>
</div>
</div>
</div><a id="comment-229"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/2652d159cb7efb134d92bca67fd12a81?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Describing the word, using hands to show what I mean, and also the good method is drawing.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/44/229">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Lena (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/what-to-do-when-you-dont-know-a-word#comment-229">Friday, April 1, 2011 - 15:06</a></span>
</div>
</div>
<a id="comment-260"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8d6379551c0ed10a10bd896d7eb79de9?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>One day I had  an english lesson in my school. The Teacher told me to describe a picture with a (soup) ladle ("Chochla" in polish).</p>
<p>And I had no idea how it was called in english and even in polish!</p>
<p>My teacher said to describe it with an other words, so my classmate tried this and said<br/>
"The photo shows a spoon, that is used to serve a soup"<br/>
TADAAA it was correct, so even if you don't know some words, there is always some way to solve a problem ^_^</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/44/260">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">seba2122 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/what-to-do-when-you-dont-know-a-word#comment-260">Tuesday, April 12, 2011 - 11:24</a></span>
</div>
</div>
<a id="comment-405"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/30d921b15dbe571266f6402410b2ff6a?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć David,</p>
<p>Czytając ten wpis przypomniała mi się identyczna sytuacja, która spotkała mnie podczas mojego pobytu w USA i pierwszych zakupów które realizowałem w miejscowym Wallmart'cie. Problem może wydawać się banalny ale na tamtą chwilę był dla mnie dość zabawny a zarazem poważny. Potrzebowałem bowiem zakupić tartą bułkę, która miała mi posłużyć później do przygotowania panierki na kotlety. I tutaj w mojej glowie nastała pustka... jak jest po angielsku "tarta bułka" :)? Zaczepiłem pierwszą lepszą Panią robiącą zakupy i wytłumaczyłem w bardzo podobny jak Ty sposób że:<br/>
- "I'm looking for something like a ground roll that is used to coat a chicken for example in KFC?".<br/>
Na co po chwili zastanowienia Pani odparła:<br/>
 - "Ohhhh... I'know what you're looking for, it's probably breadcrumbs" - po czym wskazała regał, na którym odnalazłem wreszcie poszukiwane "okruchy chleba" :) Kotlety smakowały a ja poszerzyłem moje słownictwo. Cała sytuacja do dziś wywołuje we mnie miłe wspomnienie :)</p>
<p>Pozdrawiam,<br/>
Paweł</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/44/405">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">PaVliK (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/what-to-do-when-you-dont-know-a-word#comment-405">Monday, June 6, 2011 - 15:57</a></span>
</div>
</div>
<div class="indented"><a id="comment-406"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Paweł!</p>
<p>To fajna historia!  Nic nie smakuje tak dobrze, jak rozwiązany problem w obcym kraju. :-)  Nazwa "tarta bułka" zawsze wydawała mi się bardziej logiczna niż "breadcrumbs".  Bo przecież tarta bułka sama nie robi się - ktoś musi to trzeć. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/44/406">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/02/what-to-do-when-you-dont-know-a-word#comment-406">Monday, June 6, 2011 - 17:15</a></span>
</div>
</div>
<div class="indented"><a id="comment-1087"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/b00137ce6965d02cbbe02e43da1b8bed?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Very nice article :) And a lot of new words for me... :)<br/>
Greetings!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/44/1087">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">P.o.l.a (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/what-to-do-when-you-dont-know-a-word#comment-1087">Thursday, December 8, 2011 - 18:48</a></span>
</div>
</div>
<div class="indented"><a id="comment-1100"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/44/1100">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/02/what-to-do-when-you-dont-know-a-word#comment-1100">Saturday, December 10, 2011 - 09:47</a></span>
</div>
</div>
</div></div></div><a id="comment-1697"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/04/3-kroki-do-p%C5%82ynnego-m%C3%B3wienia-fragment-e-booka" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] tym etapie rozwijasz i ćwiczysz "strategie mówienia" takie jak peryfraza (kiedy nie znasz słowa), różne wyrażenia konwersacyjne do podtrzymania biegu rozmowy oraz [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/44/1697">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/04/3-kroki-do-p%C5%82ynnego-m%C3%B3wienia-fragment-e-booka" rel="nofollow">3 kroki do płynnego mówienia (fragment e-booka!) | LinguaTre</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/what-to-do-when-you-dont-know-a-word#comment-1697">Thursday, April 19, 2012 - 10:56</a></span>
</div>
</div>
<a id="comment-1792"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/01/language-learning-guide" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] Circumlocution [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/44/1792">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/01/language-learning-guide" rel="nofollow">Language learning guide? | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/what-to-do-when-you-dont-know-a-word#comment-1792">Wednesday, May 2, 2012 - 20:10</a></span>
</div>
</div>
<a id="comment-1819"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/04/3-steps-to-speaking-a-language-fluently-ebook-excerpt" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] this point you develop and practice "speaking strategies" like circumlocution (for when you don't know a word), various conversational phrases to keep things flowing, and even [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/44/1819">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/04/3-steps-to-speaking-a-language-fluently-ebook-excerpt" rel="nofollow">3 steps to speaking a language fluently (ebook excerpt!) | L</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/what-to-do-when-you-dont-know-a-word#comment-1819">Wednesday, May 2, 2012 - 20:31</a></span>
</div>
</div>
<a id="comment-1973"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/05/trzy-super-proste-strategie-m%C3%B3wienia" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] tym kroku rozwijasz i ćwiczysz “strategie mówienia” takie jak circumlocution (kiedy nie znasz słowa), różne wyrażenia konwersacyjne do podtrzymania biegu rozmowy oraz [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/44/1973">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/05/trzy-super-proste-strategie-m%C3%B3wienia" rel="nofollow">Trzy super proste &amp;amp;quot;strategie mówienia&amp;amp;quot; | L</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/what-to-do-when-you-dont-know-a-word#comment-1973">Monday, May 21, 2012 - 11:43</a></span>
</div>
</div>
<a id="comment-2047"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/05/3-super-simple-speaking-strategies" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] this step, the goal is to develop and practice "speaking strategies" like circumlocution (for when you don't know a word), various conversational phrases to keep things flowing and even [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/44/2047">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/05/3-super-simple-speaking-strategies" rel="nofollow">3 super simple &amp;amp;quot;speaking strategies&amp;amp;quot; | Lin</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/what-to-do-when-you-dont-know-a-word#comment-2047">Tuesday, May 29, 2012 - 06:53</a></span>
</div>
</div>
<a id="comment-2162"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e1cff9a6d94db659e08f32a311ccb913?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Ja miałem problem podczas matury ustnej z języka angielskiego. Moim zadaniem było opisanie obrazka na którym pewien człowiek kopał za pomocą łopaty dołek w celu posadzenia drzewka.</p>
<p>Trudno opisać taki rysunek, gdy człowiek nie wie jak jest łopata po angielsku. Z sytuacji wyszedłem tak, że po prostu tam gdzie miało być "spade" lub "shovel" (już do końca życia zapamiętam :P ) używałem zwrotu "The thing which is used to digging". Maturę udało się zdać z wynikiem 13/20 :)</p>
<p>Pozdrawiam :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/44/2162">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Bronzar (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/02/what-to-do-when-you-dont-know-a-word#comment-2162">Sunday, June 3, 2012 - 08:29</a></span>
</div>
</div>
<div class="indented"><a id="comment-2187"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hehe, to fajny przykład i sprytne wyjście. :-) Pozdrawiam, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/44/2187">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/02/what-to-do-when-you-dont-know-a-word#comment-2187">Sunday, June 3, 2012 - 15:02</a></span>
</div>
</div>
</div>
</div>
