---
permalink: /blog/2011/10/american-stereotypes-americans-are-fat/
layout: blog-old
title: 'American Stereotypes: Americans are fat'
day: 11
month: Oct
year: 2011
category: USA
tags: 
  - 'American Stereotypes'
language: en
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/09/cheeseburger.jpg" rel="lightbox"><img alt="A cheeseburger" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/09/cheeseburger.jpg" title="Photo by Christian Kadluba"/></a><div class="caption"><a href="http://www.flickr.com/photos/38235150@N00/2919144729">Photo</a> by <a href="http://www.flickr.com/people/pokpok/">Christian Kadluba</a></div></div>
<p><strong>This is the second installment in a new series of articles called "<a href="http://www.linguatrek.com/tags/american-stereotypes">American Stereotypes</a>," which explores stereotypes about Americans.  Today's topic is: Americans are fat.</strong></p>
<p>"Americans are fat" is a pretty common stereotype.  Often, the view isn't that Americans are just slightly overweight, but rather that <em>most</em> Americans are downright morbidly obese!  Just do a Google image search for <em>fat American</em> if you don't believe me. ;-)</p>
<p>As with many stereotypes, there is <em>some</em> truth behind it.</p>
<p><strong>Read more to learn about this stereotype!</strong></p>
<h2>The unfortunate truth</h2>
<p>Unfortunately, this stereotype does have a "large" basis in fact.  Americans are getting bigger and bigger, according to various studies over the years by the federal <a href="http://www.cdc.gov/">Centers for Disease Control and Prevention</a>.  While 24.3% of Americans were <strong>overweight</strong> in the early 1960's, that percentage climbed to 33.3% by the mid 1980's.</p>
<p>Nowadays, 33.8% of Americans are considered <strong>obese</strong>, and that number <a href="http://www.cdc.gov/obesity/data/trends.html">continues to grow</a>.  That means that nearly 2/3 of all American adults are currently <a href="http://www.cmc-northeast.org/body.cfm?id=164">overweight or obese</a>.</p>
<h2>A global trend</h2>
<p>Now let's put this stereotype in perspective.  Yes, Americans are leading the way (and sometimes <a href="http://www.dailyhaha.com/_pics/not_fat_american.htm">with a peculiar sense of pride</a>).</p>
<p>The whole truth: <a href="http://news.bbc.co.uk/2/hi/health/7151813.stm">people all over the world are getting fatter too</a>!  In the Middle East: Kuwait, Israel, Bahrain, and the UAE are nearly keeping up with America.  Saudi Arabia actually tops America, with 73% of adults considered overweight.  In Europe, the percentage of overweight adults in the UK, Germany and Bosnia is very close to the U.S.  Obesity rates continue to grow in Australia, Canada, Brazil, and in many other industrialized nations.</p>
<p>So, it appears Americans are indeed fat.  However, many other nations are just as fat as Americans, yet don't get all the special attention.</p>
<p><strong>What do you think? Is this stereotype is accurate?  Or do you think it's unfair?  Write a comment!</strong></p>
</div>

<div id="comments">
<a id="comment-978"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/0e295b34228af1cc37922853023589b7?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p><a href="http://wiadomosci.onet.pl/swiat/amerykanie-chcemy-by-ludzie-mowili-o-polsce,1,4881817,wiadomosc.html" title="http://wiadomosci.onet.pl/swiat/amerykanie-chcemy-by-ludzie-mowili-o-polsce,1,4881817,wiadomosc.html">http://wiadomosci.onet.pl/swiat/amerykanie-chcemy-by-ludzie-mowili-o-pol...</a><br/>
Przeczytaj, proszę :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/94/978">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">importiant (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/10/american-stereotypes-americans-are-fat#comment-978">Sunday, October 16, 2011 - 01:41</a></span>
</div>
</div>
<div class="indented"><a id="comment-980"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>To bardzo ciekawe, dziękuję za linka!  Niestety nie mieszkamy w Chicago, więc nie mamy tej stacji telewizyjnej.  Ale będę czegoś szukał na ich stronie internetowej:</p>
<p><a href="http://video.wttw.com/" title="http://video.wttw.com/">http://video.wttw.com/</a></p>
<p>Do tej pory niestety niczego nie znalazłem.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/94/980">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/10/american-stereotypes-americans-are-fat#comment-980">Sunday, October 16, 2011 - 10:35</a></span>
</div>
</div>
</div><a id="comment-979"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/97996ab4822223e45bda744500ba9114?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p><a href="http://www.terrencemiao.com/funny/2005-06/tn/Main_Difference.jpg.html" title="http://www.terrencemiao.com/funny/2005-06/tn/Main_Difference.jpg.html">http://www.terrencemiao.com/funny/2005-06/tn/Main_Difference.jpg.html</a><br/>
;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/94/979">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">seve (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/10/american-stereotypes-americans-are-fat#comment-979">Sunday, October 16, 2011 - 09:16</a></span>
</div>
</div>
<div class="indented"><a id="comment-981"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>While entertaining, that is not a very kind photo.  There are obviously attractive women in the USA too.</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/94/981">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/10/american-stereotypes-americans-are-fat#comment-981">Sunday, October 16, 2011 - 10:36</a></span>
</div>
</div>
</div><a id="comment-982"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/0e295b34228af1cc37922853023589b7?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>To szkoda, a jeśli masz kanał France 24 to zobacz ten link:<br/>
<a href="http://www.deon.pl/wiadomosci/swiat/art,7789,telewizja-france-24-o-polsce-w-europie.html" title="http://www.deon.pl/wiadomosci/swiat/art,7789,telewizja-france-24-o-polsce-w-europie.html">http://www.deon.pl/wiadomosci/swiat/art,7789,telewizja-france-24-o-polsc...</a></p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/94/982">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">importiant (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/10/american-stereotypes-americans-are-fat#comment-982">Sunday, October 16, 2011 - 14:54</a></span>
</div>
</div>
<div class="indented"><a id="comment-983"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Niestety również nie mam tego kanału. :-/  Nie mamy kablówki, więc tylko mamy kanały lokalne tutaj w Milwaukee, Wisconsin.  Chicago to blisko ale nie <em>tak</em> blisko. :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/94/983">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/10/american-stereotypes-americans-are-fat#comment-983">Monday, October 17, 2011 - 13:09</a></span>
</div>
</div>
</div>
</div>
