---
permalink: /blog/2011/10/vlog-broń-w-usa-część-1/
layout: blog-old
title: 'Vlog: Broń w USA (cz. 1)'
day: 25
month: Oct
year: 2011
category: USA
tags: 
  - 'vlog'
language: en
translation: /blog/2011/10/vlog-bro%C5%84-w-usa-cz%C4%99%C5%9B%C4%87-1/
---
<div class="content">
<p>Dzisiaj mówię na temat broni w Stanach Zjednoczonych: zasady dotyczące jej kupowania i noszenia ze sobą w moim stanie, Wisconsin.</p>
<p>W sobotę opublikuję filmik, w którym z żoną i inną parą pojechaliśmy na strzelnicę, żeby uczyć się jak strzelać z pistoletu!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/kXIsszsUnTo?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/kXIsszsUnTo?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Proszę podaj mi poprawki do tego filmiku <a href="http://lang-8.com/10069/journals/1155512/Bro%25C5%2584-palna-w-USA">w serwisie Lang-8</a>.</p>
<p><strong>Czytaj transkrypcję poniżej!</strong></p>
<h2><a name="transcript">Transkrypcja</a></h2>
<ul>
<li>Dzień dobry</li>
<li>Znowu przed kamerą internetową mówi David Snopek</li>
<li>Dzisiaj będę mówił na temat broni w Stanach Zjednoczonych</li>
<li>Ludzie nieustannie pytają mnie o to w mailach i w komentarzach</li>
<li>Bo ta sytuacja wygląda zupełnie inaczej tutaj niż w większości Europy</li>
<li>W Stanach, wszyscy dorośli mają prawo posiadać broń</li>
<li>Oprócz tych, którzy kiedyś byli skazany za pewne przestępstwa</li>
<li>Ale zasady dotyczące kupienia i noszenia broni zależą od stanu</li>
<li>I będę mówił o tych zasadach właśnie w moim stanie, Wisconsin</li>
<li>W wieku osiemnaście, możesz kupić broń myśliwską i od razu pojechać z tym do domu</li>
<li>W wieku dwadzieścia jeden, możesz kupić pistolet i inne rodzaje broni ale musisz czekać dwa dni przed tym, jak możesz to odebrać</li>
<li>Żebyś nie nagle kupić broń kiedy jesteś chwilowo zły na kogoś i go postrzelił</li>
<li>Ale w ogóle nie musisz mieć żadnego pozwolenia lub licencji</li>
<li>Nawet nie musisz wiedzieć jak prawidłowo i bezpiecznie używać <s>go</s> [jej]</li>
<li>Zamierzałem pierwotnie nagrać ten filmik ponad trzy miesięcy temu</li>
<li>I wtedy zasady dotyczące noszenia broni w naszym Stanie były <s>jedyne</s> [jedne] z najbardziej restrykcyjnych w całym kraju</li>
<li>Ale to właśnie się zmieniło</li>
<li>Przed zmianą, żeby nosić broń otwarcie i widocznie</li>
<li>Tylko z jakimś pozwoleniem i musiałeś zdać jakiś kurs</li>
<li>Było nielegalnie dla wszystkich oprócz policjantów nosić ukrytą broń</li>
<li>Oczywiście, mogłeś przewozić <s>go</s> [ją] w samochodzie ale tylko niezaładowany i w specjalnym pudełku, z którego nie mogłeś szybko wyjąć tę broń</li>
<li>Najlepiej to pudełko w bagażniku</li>
<li>W ten sposób mogłeś przewozić broń ze sklepu do domu, do strzelnicy, do lasu, żeby polować jelenie lub coś w tym stylu</li>
<li>Ale parę miesięcy temu w stanowym senacie zagłosowali za nowe prawo</li>
<li>Zaczynając od pierwszego listopada, możesz dostać pozwolenie na noszenie ukrytej broni</li>
<li>I na szczęście jest pozwolenie i kurs</li>
<li>W pierwszej wersji tego prawa, wszyscy mogliby to robić bez oficjalnego pozwolenia i żadnego kursu</li>
<li>Trochę się martwiłem o tym</li>
<li>Tak jest już w niektórych stanach, na przykład: Vermont, Arizona, Wyoming</li>
<li>Do lipca tego roku, osobiście nie miałem żadnego kontaktu z broniami</li>
<li>Mieszkam w Milwaukee, to największe miasto w naszym stanie</li>
<li>I ogólnie mówiąc ludzie w Milwaukee nie lubią broni w przeciwieństwie do reszty stanu</li>
<li>I to wynika z faktu, że prawie co tydzień w Milwaukee w wiadomościach mówi się, że ktoś w mieście został postrzelony</li>
<li>I w tym Milwaukee nie jest wyjątkowe</li>
<li>Tak się zdarza w wszystkich miastach o podobnej wielkości</li>
<li>Moim zdaniem, fajnie byłoby, gdyby nie było żadnych broni w miastach</li>
<li>Niech oni mają na wsi bo tam nawzajem strzelają siebie o wiele, o wiele mniej</li>
<li>Ale to trochę poza tematem</li>
<li>Właśnie w lipcu nauczyłem się bardzo dużo o broniach</li>
<li>Bo razem z moją żoną i inną parą pojechaliśmy na wycieczkę do strzelnicy, żeby uczyć się jak strzelić pistoletem</li>
<li>Cały ten kurs trwał dwie godziny</li>
<li>Muszę przyznać się, że na samym początku martwiłem się bardzo</li>
<li>Nawet bałem się dotknąć pistoleta i amunicji</li>
<li>Bo to bardzo mnie niepokoi, że bardzo małym ruchem mogę zranić kogoś tak radykalnie</li>
<li>Moim zdaniem, żeby zranić kogoś radykalnie, musiałbym ruszać radykalnie, zrobić coś radykalnego</li>
<li>Nie tylko ...</li>
<li>Nauczyliśmy się [jak] robić wszystko jak najbardziej bezpiecznie</li>
<li>I w sumie było to całkiem zabawne doświadczenie</li>
<li>Nagrałem filmik tego wszystkiego, kiedy tam byliśmy</li>
<li>Prześlę go do YouTube'a w sobotę</li>
<li>Jeszcze jedna rzecz na końcu</li>
<li>Chciałbym podziękować użytkownikowi <a href="http://www.youtube.com/ZatemOneMoreTime">ZatemOneMoreTime</a>, który nagrał odpowiedź wideo do mojego ostatniego filmiku</li>
<li>I wydaje mi się, że jest pierwsza odpowiedź wideo, którą dostałem</li>
<li>Więc dziękuję bardzo</li>
<li>I to wszystko!</li>
<li>Dziękuję bardzo za uwagę</li>
<li>Do widzenia!</li>
</ul>
</div>

<div id="comments">
<a id="comment-997"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/90b240cbb78f037180eaed11023f1d5f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Zachęcam do obejrzenia popularnego w Polsce kanału niekrytego krytyka<br/>
<a href="http://www.niekrytykrytyk.com" title="www.niekrytykrytyk.com">www.niekrytykrytyk.com</a></p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/97/997">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">niekryty (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/10/vlog-bro%C5%84-w-usa-cz%C4%99%C5%9B%C4%87-1#comment-997">Saturday, October 29, 2011 - 04:31</a></span>
</div>
</div>
<div class="indented"><a id="comment-1005"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki za polecenie. :-) Nie oglądała jego kanału od dawna!  Pozdrawiam serdecznie, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/97/1005">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/10/vlog-bro%C5%84-w-usa-cz%C4%99%C5%9B%C4%87-1#comment-1005">Wednesday, November 2, 2011 - 07:46</a></span>
</div>
</div>
</div><a id="comment-1012"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/2008c11da7bf3caafa7260ae2fdb2f7e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Dzień dobry<br/>
Znowu przed kamerą internetową mówi David Snopek<br/>
Dzisiaj będę mówił na temat broni w Stanach Zjednoczonych<br/>
Ludzie nieustannie pytają mnie o to w mailach i w komentarzach<br/>
Bo ta sytuacja wygląda zupełnie inaczej tutaj niż w większości Europy<br/>
W Stanach, wszyscy dorośli mają prawo posiadać broń<br/>
Oprócz tych, którzy kiedyś byli skazany za pewne przestępstwa<br/>
Ale zasady dotyczące kupienia i noszenia broni zależą od stanu<br/>
I będę mówił o tych zasadach właśnie w moim stanie, Wisconsin<br/>
W wieku osiemnaście, możesz kupić broń myśliwską i od razu pojechać z tym do domu<br/>
W wieku dwadzieścia jeden, możesz kupić pistolet i inne rodzaje broni ale musisz czekać dwa dni zanim będziesz mógł ją(broń)odebrać.<br/>
 Żebyś nie mógł w chwili gniewu kupić broni by kogoś postrzelić.<br/>
Ale w ogóle nie musisz mieć żadnego pozwolenia lub licencji<br/>
Nawet nie musisz wiedzieć jak prawidłowo i bezpiecznie używać jej.<br/>
Zamierzałem pierwotnie nagrać ten filmik ponad trzy miesięcy temu<br/>
I wtedy zasady dotyczące noszenia broni w naszym Stanie były  jedne z najbardziej restrykcyjnych w całym kraju<br/>
Ale to właśnie się zmieniło<br/>
Przed zmianą, można było nosić broń otwarcie i w widocznym miejscu<br/>
Tylko z jakimś pozwoleniem i musiałeś zdać jakiś kurs<br/>
Było nielegalnie dla wszystkich oprócz policjantów nosić ukrytą broń<br/>
Oczywiście, mogłeś przewozić  ją w samochodzie ale tylko niezaładowany i w specjalnym pudełku, z którego nie mogłeś szybko wyjąć tej broni.<br/>
Najlepiej gdy to pudełko znajdowało się w bagażniku.<br/>
W ten sposób mogłeś przewozić broń ze sklepu do domu, do strzelnicy, do lasu, żeby polować jelenie lub coś w tym stylu<br/>
Ale parę miesięcy temu w stanowym senacie  ustanowiono(prawo niby potocznie się przegłosowuje ale prawnicza forma wskazuje że prawo się stanowi i jest to najwłaściwsza forma stan oznacza państwo tak jak Stany Zjednoczone Ameryki oznacza Państwa Zjednoczone Ameryki każdy Stan czyli Państwo ma prawo stanowić prawo na swoim terytorium ) nowe prawo<br/>
Zaczynając od pierwszego listopada, pozwala otrzymać pozwolenie na noszenie ukrytej broni<br/>
I na szczęście jest pozwolenie i kurs<br/>
W pierwszej wersji tego prawa, wszyscy mogliby to robić bez oficjalnego pozwolenia i żadnego kursu<br/>
Trochę się martwiłem  tym<br/>
Tak jest już w niektórych stanach, na przykład: Vermont, Arizona, Wyoming<br/>
Do lipca tego roku, osobiście nie miałem żadnego kontaktu z broniami<br/>
Mieszkam w Milwaukee, to największe miasto w naszym stanie<br/>
I ogólnie mówiąc ludzie w Milwaukee nie lubią broni w przeciwieństwie do reszty stanu<br/>
I to wynika z faktu, że prawie co tydzień w Milwaukee w wiadomościach mówi się, że ktoś w mieście został postrzelony<br/>
I w tym Milwaukee nie jest wyjątkowe<br/>
Tak się zdarza w wszystkich miastach o podobnej wielkości<br/>
Moim zdaniem, fajnie byłoby, gdyby nie było żadnych broni w miastach<br/>
Niech oni mają na wsi bo tam  strzelają do siebie o wiele, o wiele rzadziej<br/>
Ale to trochę poza tematem<br/>
Właśnie w lipcu nauczyłem się bardzo dużo o broniach<br/>
Bo razem z moją żoną i inną parą pojechaliśmy na wycieczkę do strzelnicy, żeby uczyć się jak strzelać z pistoletu.<br/>
Cały ten kurs trwał dwie godziny<br/>
Muszę przyznać się, że na samym początku martwiłem się bardzo<br/>
Nawet bałem się dotknąć pistoletu i amunicji<br/>
Bo to bardzo mnie niepokoi, że bardzo małym ruchem mogę wyrządzić komuś tak wielką kszywdę.<br/>
Moim zdaniem, żeby wyrządzić komuś kszywdę, musiałbym się ruszać energicznie, zrobić coś gwałtownego(nie wiem o czym myślisz radykalnie możesz zakończyć czyjeś życie radykalność to zawsze jakaś postać skrajnego zachowania.  Zmieniam na taka formę bo wydaje mi się że to mogłeś mieć na myśli)<br/>
Nie tylko ...<br/>
Nauczyliśmy się jak najbezpieczniej posługiwać się bronią<br/>
I w sumie było to całkiem zabawne doświadczenie<br/>
Nagrałem filmik z tego wszystkiego, kiedy tam byliśmy<br/>
Prześlę go do YouTube'a w sobotę<br/>
Jeszcze jedna rzecz na końcu<br/>
Chciałbym podziękować użytkownikowi ZatemOneMoreTime, który nagrał odpowiedź wideo do mojego ostatniego filmiku<br/>
I wydaje mi się, że jest pierwsza odpowiedź wideo, którą dostałem<br/>
Więc dziękuję bardzo<br/>
I to wszystko!<br/>
Dziękuję bardzo za uwagę<br/>
Do widzenia! </p>
<p>P.S.  (post scriptum);)<br/>
Ogólnie dobrze mówisz, piszesz szyk zdań czasami niepoprawny poprawiłem tak że taraz jest dobrze każdy w Polsce napewno zrozumiałby o co ci chodzi :)             </p>
<p>                                       Pozdrawiam serdecznie</p>
<p>                                           Przemysław Janicki</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/97/1012">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Avatar (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/10/vlog-bro%C5%84-w-usa-cz%C4%99%C5%9B%C4%87-1#comment-1012">Tuesday, November 8, 2011 - 19:22</a></span>
</div>
</div>
<div class="indented"><a id="comment-1016"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Przemysław,</p>
<p>Dziękuję bardzo za poprawki! :-)</p>
<p>Niestety, jest bardzo trudno znaleźć poprawione części w tym tekście.  Czy mógłbyś podać Twoje poprawki w serwisie Lang-8?</p>
<p><a href="http://lang-8.com/10069/journals/1155512/Bro%25C5%2584-palna-w-USA" title="http://lang-8.com/10069/journals/1155512/Bro%25C5%2584-palna-w-USA">http://lang-8.com/10069/journals/1155512/Bro%25C5%2584-palna-w-USA</a></p>
<p>Tam mają bardzo dobry interfejs do poprawiania tekstów.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/97/1016">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/10/vlog-bro%C5%84-w-usa-cz%C4%99%C5%9B%C4%87-1#comment-1016">Wednesday, November 9, 2011 - 11:12</a></span>
</div>
</div>
</div><a id="comment-4204"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8e802d028ec15036361922b8529c491d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>David, na pewno już słyszałeś, to co za chwilę napiszę: CHCIAŁABYM MÓWIĆ PO ANGIELSKU TAK JAK TY PO POLSKU. Robisz błędy ale to tylko dodaje Ci uroku.<br/>
Mówisz piękną polszczyzną, z akcentem który brzmi bardzo miło, trudno rozpoznać jaki jest Twój język ojczysty. Chwilami mówisz zupełnie bez obcego akcentu. Dążenie do perfekcji chyba nie jest potrzebne nikomu.<br/>
Zauważyłam że mówisz wolno i może dzięki temu tak płynnie. Może to jest pomysł dla mojego angielskiego? Mówić wolniej, wyraźniej przez to płynniej?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/97/4204">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Beata (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/10/vlog-bro%C5%84-w-usa-cz%C4%99%C5%9B%C4%87-1#comment-4204">Sunday, March 3, 2013 - 05:43</a></span>
</div>
</div>
<div class="indented"><a id="comment-4238"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Beata!</p>
<p>Dziękuję bardzo za miłe słowa. :-) No, mówię wolno bo nie ma innego wyjścia - po polsku jeszcze nie mogę mówić zbyt szybko. ;-) Ale to na pewno pomaga! Mam trochę więcej czasu, żeby myśleć, dobrze wymawiać, itd.</p>
<p>Jeśli jesteś dobrze zmotywowana (i brzmi jak jesteś!) i nie poddasz się, na pewno kiedyś będziesz mówiła świetnie po angielsku!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/97/4238">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/10/vlog-bro%C5%84-w-usa-cz%C4%99%C5%9B%C4%87-1#comment-4238">Monday, March 4, 2013 - 17:43</a></span>
</div>
</div>
</div>
</div>
