---
permalink: /blog/2011/11/how-to-practice-speaking-over-the-internet/
layout: blog-old
title: 'How to practice speaking over the internet'
day: 9
month: Nov
year: 2011
category: language learning
tags: 
  - 'language exchange'
  - 'speaking'
language: en
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/11/artofconversation.jpg" rel="lightbox"><img alt="Two women talking" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/11/artofconversation.jpg" title="The art of conversation. Photo by Duncan Harris."/></a><div class="caption">The art of conversation. <a href="http://www.flickr.com/photos/29057345@N04/4107333458">Photo</a> by <a href="http://www.flickr.com/people/duncanh1/">Duncan Harris</a>.</div></div>
<p>Nothing can replace practicing your language with a native speaker.  But what if no native speakers live in your city?  Not everyone has the means to <a href="http://www.linguatrek.com/blog/2011/07/you-dont-need-to-live-in-a-foreign-country-to-learn">travel to another country</a>.</p>
<p><strong>But that doesn't mean you can't practice speaking!</strong></p>
<p>I've written about <a href="http://www.linguatrek.com/blog/2011/02/immersion-tips-how-to-meet-natives#language-exchange">language exchange</a> in the past.</p>
<p>This is where you meet with someone who's native language is the language you are learning and your native language is the language they are learning.  For the first half of the meeting you talk in one language and for the second half you talk in the other.</p>
<p><strong>And the best part is that this is something you can do entirely over the internet, using voice chat software like <a href="http://www.skype.com/">Skype</a>!</strong></p>
<p><strong>Read more to learn how!</strong></p>
<h2>My experience with language exhange</h2>
<p>While learning both Polish and Russian I've had a many language exchange partners.</p>
<p>In the beginning, particularly while learning Russian, I didn't have much success with it.  In retrospect, I don't think I found the right partners.  It can take time to find someone who not only has the right skill level and can meet at the appropriate times, but also meshes with you on a personal level.</p><p>
</p><p>I had much more success with Polish.  In all, I've had eight seperate long-term language exchange partners and also participated in a <a href="http://www.facebook.com/group.php?gid=225422555464">language exchange club</a> when we were living in Kraków.</p>
<p>It's not only a great way to practice speaking, but you also get to meet really interesting people and have fascinating conversations.  It doesn't feel like "studying" at all. :-)</p>
<h2>Finding language exchange partners</h2>
<p>Before my videos and blog, I found language exchange partners mainly through <a href="http://www.languageexchange.org/">xLingo</a>.  It's a great, <em>free</em> site that helps connect you with people who want to communicate over e-mail, instant message or Skype (in your profile you set which you are interested in).</p>
<p>After my videos and blog started getting more popular, I got so many requests from people to have language exchanges that I didn't need to use xLingo anymore.  Unfortunately, I don't have time to meet with everyone so I have to turn most of them down.</p>
<p>However, very recently, one of my former language exchange partners created a new language exchange site, <a href="http://language-exchange.gregloby.com/">Language|Exchange Project</a>, which will be the topic of the rest of this article!</p>
<h2>Language|Exchange Project</h2>
<p>Unfortunately, I haven't had a chance to really use the site because I'm not looking for a new language exchange partner.</p>
<p><strong><em>But I know <a href="http://gregloby.net/">Greg<a></a></a></em></strong>, the creator of the site.</p>
<p>Now he speaks very good English -- but that wasn't always the case!  In the process of learning English, he has used language exchange much more extensively than I have and has experience with lots of language exchange websites.</p>
<p><strong>If anyone knows what should go into a high quality language exchange site, it's Greg.</strong> :-)</p>
<p>Hear is a very short review of the sites features:</p>
<ul>
<li><strong><a href="http://language-exchange.gregloby.com/search.cfm">Searching</a></strong>: You can search by language as well as age, gender and the country they live in.  By default it also includes proficient speakers of your target language but it's possible to limit the search to native speakers.</li>
<li><strong><a href="http://language-exchange.gregloby.com/search.cfm">Charts</a> showing which language groups are on the site:</strong> All language exchange sites attract different groups.  Here you can easily see if the group you want to meet is there!</li>
<li><strong>Contact preference</strong>: In your profile, you can set what type of communication you prefer: e-mail, text chat or voice chat.</li>
<li><strong>Facebook integration</strong>: Login is done entirely via Facebook.  But accounts are also linked to the users' Facebook profiles, so you can get to know more about your language exchange partners and their interests before contacting them.  Also, you don't need to enter your interests again into another site - Facebook already has them.</li>
</ul>
<p>Overall, I <em>highly</em> recommend trying language exchange and using the <a href="http://language-exchange.gregloby.com">Language|Exchange Project</a> to find your partners!</p>
<p><strong>Have you done language exchanges to practice speaking?  Was it helpful?  Or is it a waste of time?  Write a comment below!</strong></p>
</div>

<div id="comments">
<a id="comment-1014"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://eastasiastudent.net" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a67bc9ba43f6134143cc355e60edd51f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>I totally agree that Skype has a lot of potential for language exchange, although it's never quite so easy in reality. I find that the vast majority of online exchange partners really don't accept that they're going to have to spend some time speaking their own language.</p>
<p>Still, there are a few gold nuggets for everyone on the language exchange sites, so it's well worth doing.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/100/1014">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://eastasiastudent.net" rel="nofollow">Hugh Grigg</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/11/how-to-practice-speaking-over-the-internet#comment-1014">Wednesday, November 9, 2011 - 10:20</a></span>
</div>
</div>
<div class="indented"><a id="comment-1017"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Hugh,</p>
<p>Thanks for the comment!</p>
<p>I agree, it can be hard to find a good language exchange partner.  Sometimes, like you say, people just don't want to speak their own language and the part of the conversation where you get to learn doesn't happen or ends up being very short.</p>
<p>To prevent that specific problem, I usually agree on some ground rules in the first meeting, which usually involves switching languages at predefined time.</p>
<p>Of course, some people won't like this and you might have to just try a different partner.</p>
<p>Personally, I've met with lots of people for language exchange only once because the dynamic didn't work.  So, it takes some trial and error.</p>
<p>BTW, your site looks very interesting, I've subscribed.  One day I'd like to learn some Asian languages as well! :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/100/1017">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/11/how-to-practice-speaking-over-the-internet#comment-1017">Wednesday, November 9, 2011 - 11:26</a></span>
</div>
</div>
</div><a id="comment-1018"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.tomfrompoland.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3cdbaa2914c95444fc7968fe42ddfa2b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hi David :-)</p>
<p>Language exchange is a great opportunity for all (both via the Internet or via personal meeting).</p>
<p>But is a big problem for non-native English speakers :(</p>
<p>Most of people looking for an English native speakers and small per cent of English speakers learn, for example, my native language - Polish. So it's hard to find a good partner for conversations :(</p>
<p>English speakers are mostly overwhelmed by language exchange requests.</p>
<p>All the best<br/>
Tom</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/100/1018">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.tomfrompoland.com" rel="nofollow">TomFromPoland</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/11/how-to-practice-speaking-over-the-internet#comment-1018">Wednesday, November 9, 2011 - 14:19</a></span>
</div>
</div>
<div class="indented"><a id="comment-1019"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/86d2c8cb05042f9b1837126b8d1a9c56?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>As a native English speaker learning Polish, I have found it the other way round, lots of Poles simply don't want to speak Polish back in return. The higher level of English that they have, the less chance I have of a Polish conversation. I often write posts on sites such as Lang8, trying to start a discussion, and I even ask people to "Please write back in Polish" on the post. Most don't respect it, and I certainly wouldn't write back in Polish on their English posts. I did at one point on one of my posts cause an argument between two Poles, one who refused to write in Polish and the other who got angry by it.</p>
<p>Another example is when I joined a Facebook group called "Mówimy tylko po polsku", when I added people and started chatting to them, "Oh you're English, cool, let's speak English then" was generally the reply. When I was in Poland and asked a Pole to please speak only in Polish to me, he told me "No, I don't want to speak Polish, I'm learning English, and everyone here wants to learn English". It made no difference that I was actually in Poland, making an effort to speak the language. I asked him what he'd do if he was in England and I only spoke Polish to him, "I'd walk off" was his reply. So, I did just that ;-)</p>
<p>At one point in the past I even tried offering money for someone to not speak English at all to me. Out of 5 people, only 1 could do it.<br/>
I know a few Poles who can't (luckily for me) speak English, and we've managed to communicate just fine.</p>
<p>I'm not saying it's limited to Polish, and I'm guessing I'm just unlucky in that I'm just not finding the right people, or that my Polish is exceptionally bad and nobody can understand me.</p>
<p>For me, being a native-English speaker is a huge disadvantage when learning any foreign language. I wouldn't swap English for any other language though (It's too useful ;-) ), but in any future languages that I want to learn, I am going to pretend I'm Polish or Icelandic or something :-).</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/100/1019">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Tony (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/11/how-to-practice-speaking-over-the-internet#comment-1019">Thursday, November 10, 2011 - 03:41</a></span>
</div>
</div>
<div class="indented"><a id="comment-1020"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.tomfrompoland.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3cdbaa2914c95444fc7968fe42ddfa2b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hi Tony :-)</p>
<p>Dziękuję za Twój punkt widzenia :-) Nie wiedziałem, że to może być problemem dla uczących się języka polskiego.</p>
<p>Masz rację, że gdy spotykamy rodowitego Anglika czy Amerykanina, to chcemy szlifować swój angielski :-)</p>
<p>Myślę, że wynika to z tego, że mamy mało okazji do porozmawiania w języku angielskim, a nasz polski nie wymaga doskonalenia :-)</p>
<p>Jakbyś chciał kiedyś pogadać po polsku (w zamian za pomoc w angielskim :-)) to skontaktuj się ze mną (<a href="http://www.tomfrompoland.com" title="http://www.tomfrompoland.com">http://www.tomfrompoland.com</a>)</p>
<p>Pozdrawiam<br/>
Tomek</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/100/1020">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.tomfrompoland.com" rel="nofollow">TomFromPoland</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/11/how-to-practice-speaking-over-the-internet#comment-1020">Thursday, November 10, 2011 - 03:51</a></span>
</div>
</div>
<a id="comment-1110"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/b75fe2251bdbefb2a6707162693dc2bc?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć Tony<br/>
Według mnie większość starszych nie rozmawia na internecie i tu masz problem.<br/>
Młodzi uczą się angielskiego i ci nie będą rozmawiać z tobą po polsku. Musisz znaleść starszą osobę na internecie i z nią rozmawiać po polsku. Będzie to dla ciebie bardzo pozyteczne ponieważ starsze osoby lepiej mówią po polsku niż młodzi którzy mylą angielską wymowę z polską.<br/>
Marek</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/100/1110">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/11/how-to-practice-speaking-over-the-internet#comment-1110">Friday, December 23, 2011 - 12:20</a></span>
</div>
</div>
<a id="comment-3199"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e77cfb75560093420afb2a184320b7b4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I am actually learning German, not English, so if you need help with Polish, just write to 2701 on Lang-8.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/100/3199">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">2701 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/11/how-to-practice-speaking-over-the-internet#comment-3199">Saturday, November 17, 2012 - 16:00</a></span>
</div>
</div>
</div></div><a id="comment-1021"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://gregloby.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8da2c3f5bd8322d29829e204972492ac?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>"If anyone knows what should go into a high quality language exchange site, it's Greg. :-)" Thank you David for the lovely introduction, I love it :). </p>
<p>But seriously, thank you for sharing the info about Language|Exchange Project (<a href="http://language-exchange.gregloby.com" title="http://language-exchange.gregloby.com">http://language-exchange.gregloby.com</a>). Absolutely, I'm building the website on grounds of my own language exchange experiences. There is still a lot to do, but I hope the website with help of its members will become, in the near future, a highly helpful tool for people looking for a language exchange partner.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/100/1021">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://gregloby.com" rel="nofollow">gregloby</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/11/how-to-practice-speaking-over-the-internet#comment-1021">Thursday, November 10, 2011 - 05:05</a></span>
</div>
</div>
<a id="comment-1022"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4a28101850088f90ac90da986d6018ff?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I wonder if this blog survives to occur so neatly in the network. Good luck, which you wish.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/100/1022">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">English Language Courses (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/11/how-to-practice-speaking-over-the-internet#comment-1022">Friday, November 11, 2011 - 06:27</a></span>
</div>
</div>
<a id="comment-1793"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/01/language-learning-guide" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] How to practice speaking over the internet [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/100/1793">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/01/language-learning-guide" rel="nofollow">Language learning guide? | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/11/how-to-practice-speaking-over-the-internet#comment-1793">Wednesday, May 2, 2012 - 20:10</a></span>
</div>
</div>
<a id="comment-2705"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/07/nobody-will-laugh-at-you-really" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] second step is getting on InterPals.Net or any other online language exchange website (David: I wrote about a couple) and setting up an account. InterPals is totally free and I have met many great gals [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/100/2705">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/07/nobody-will-laugh-at-you-really" rel="nofollow">Nobody will laugh at you, really! | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/11/how-to-practice-speaking-over-the-internet#comment-2705">Friday, July 13, 2012 - 10:14</a></span>
</div>
</div>
<a id="comment-2710"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/07/nikt-nie-b%C4%99dzie-si%C4%99-%C5%9Bmia%C4%87-z-ciebie-naprawd%C4%99" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] się do InterPals.Net albo jakiejś innej strony służącej do wymiany językowej online (David: Napisałem o kilku z nich) i ustawienie sobie tam konta. InterPals jest całkowicie za darmo i poznałem tam [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/100/2710">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/07/nikt-nie-b%C4%99dzie-si%C4%99-%C5%9Bmia%C4%87-z-ciebie-naprawd%C4%99" rel="nofollow">Nikt nie będzie się śmiać z Ciebie! Naprawdę! | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/11/how-to-practice-speaking-over-the-internet#comment-2710">Friday, July 13, 2012 - 10:17</a></span>
</div>
</div>
<a id="comment-3438"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/cb5b490615a423f1da6135060c942b85?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>It is a good idea for language learners to prepare questions and speech on a chosen topic in advance for easier and better on-line communication with native speakers (with more inclusive meaningful content to get more productive results).</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/100/3438">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Mike (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/11/how-to-practice-speaking-over-the-internet#comment-3438">Monday, January 7, 2013 - 15:19</a></span>
</div>
</div>
<div class="indented"><a id="comment-3483"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Absolutely! I actually recommended exactly that in my latest article. :-)</p>
<p>It's like the saying goes: "Great minds think alike" ;-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/100/3483">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/11/how-to-practice-speaking-over-the-internet#comment-3483">Saturday, January 12, 2013 - 19:52</a></span>
</div>
</div>
</div><a id="comment-3445"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2013/01/pokonaj-sw%C3%B3j-l%C4%99k-przed-m%C3%B3wieniem-w-obcym-j%C4%99zyku-bez-wychodzenia-z-domu" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] z programów komputerowych takich jak Skype i Mumble, możesz ćwiczyć mówienie przez internet z ludźmi ze wszystkich stron [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/100/3445">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2013/01/pokonaj-sw%C3%B3j-l%C4%99k-przed-m%C3%B3wieniem-w-obcym-j%C4%99zyku-bez-wychodzenia-z-domu" rel="nofollow">Pokonaj swój lęk przed mówieniem w obcym języku (bez wychodz</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/11/how-to-practice-speaking-over-the-internet#comment-3445">Wednesday, January 9, 2013 - 08:30</a></span>
</div>
</div>
<a id="comment-3477"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.languageninjas.com/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c3f6bf66121abafb3175e0987138ee53?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>The hardest part is finding a language exchange partner that's consistently there, so it's best to find more than one speaking partner</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/100/3477">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.languageninjas.com/" rel="nofollow">Jade</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/11/how-to-practice-speaking-over-the-internet#comment-3477">Saturday, January 12, 2013 - 16:41</a></span>
</div>
</div>
<a id="comment-3934"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2013/02/how-to-get-started-learning-polish-from-zero" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] And, of course, all of my more advanced advice starts to apply to you! For example, how to get over your fear of speaking and how to practice speaking over the internet. [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/100/3934">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2013/02/how-to-get-started-learning-polish-from-zero" rel="nofollow">How to get started learning Polish (from zero!) | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/11/how-to-practice-speaking-over-the-internet#comment-3934">Tuesday, February 12, 2013 - 10:08</a></span>
</div>
</div>
<a id="comment-4192"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/cb5b490615a423f1da6135060c942b85?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>My ideas below may help you practice a language even on your own more comprehensively and productively.</p>
<p>1. Prepare your own list of everyday topics in order of priority and importance based on your needs for potential practical use.</p>
<p>You can make a plan of issues (list main ideas or key concepts) to cover each topic comprehensively in terms of its content. As you know a daily life topic, for example "Shopping" includes various situations, concepts and issues related to the topic.</p>
<p>Always try to think of potential situations and issues connected with a topic that may be important to you or you may encounter and how to best express your thoughts.</p>
<p>2. Make your own list of materials (aids, resources) to practice a daily life topic and select the most relevant content at all levels for your needs.</p>
<p>There are Internet resources, textbooks, phrase books, conversation books, audio/video recordings, TV, radio programs, online and face-to-face communication, and reading materials to practice daily life topics.</p>
<p>You can also create your own materials on each topic to include the most important content at your own discretion for your potential use.</p>
<p>3. Read helpful advice/suggestions on how to practice listening comprehension, speaking, vocabulary, reading, writing on a daily life topic.</p>
<p>4. In my opinion it would be especially helpful to prepare a list of activities to practice and to master a daily life topic with vocabulary on it. Can you prepare a list of real life topics in order of importance for yourself with a detailed plan to master each topic (by developing your listening comprehension, speaking, reading, writing and vocabulary skills)?</p>
<p>I believe it's a good idea to learn and to practice each daily life topic comprehensively (thoroughly) before proceeding to the next topic as I described in my English learning article "Logical mastering of a daily life topic in English". Thought-through (selective) content on each topic for practice based on one's needs is necessary to first encompass relevant content for one's needs as there is an enormous amount of diverse content in language resources.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/100/4192">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Mike (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/11/how-to-practice-speaking-over-the-internet#comment-4192">Friday, March 1, 2013 - 11:28</a></span>
</div>
</div>
<a id="comment-8103"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/996a2e138c21e328e1058f4989cf9b6a?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Myślę, że najlepiej nauki  języka polskiego uczyć się od native speakerów. Ale ż naprawdę nie każdy chce pomoc. Są platformy jak ta <a href="http://preply.com/pl/skype/polski-z-native-speakerem" title="http://preply.com/pl/skype/polski-z-native-speakerem">http://preply.com/pl/skype/polski-z-native-speakerem</a>, gdzie można znaleźć sobie korepetytora dla zajęć przez Skype online.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/100/8103">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/11/how-to-practice-speaking-over-the-internet#comment-8103">Monday, January 12, 2015 - 05:29</a></span>
</div>
</div>
</div>
