---
permalink: /blog/2011/11/vlog-nasze-mieszkanie-w-usa/
layout: blog-old
title: 'Vlog: Nasze mieszkanie w USA'
day: 22
month: Nov
year: 2011
category: personal
tags: 
  - 'vlog'
language: en
translation: 
---
<div class="content">
<p>Dzisiaj razem z żoną pokazujemy nasze mieszkanie!</p>
<p>Przepraszam, że to zrobiliśmy tak w pośpiechu ale moja żona tylko miała 5 minut żeby mi pomóc z tym, musiała od razu wyjechać na spotkanie. I z tego powodu zrobiłem strasznie dużo błędów. :-) Ale wreszcie możecie widzieć nasze mieszkanie!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/ScB5bUnBTpk?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/ScB5bUnBTpk?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p><strong>Czytaj transkrypcję poniżej</strong></p>
<h2><a name="transcript">Transkrypcja</a></h2>
<ul>
<li>Dzień dobry</li>
<li>Znowu przed kamerą internetową mówi David Snopek</li>
<li>Dawno było, może w lipcu powiedziałem, że pokażę nasze nowe mieszkanie</li>
<li>Ale to już w listopadzie</li>
<li>I wreszcie pokażę</li>
<li>Mieszkamy w tym dwurodzinnym domku na pierwszej piętrze</li>
<li>I nasze drzwi są z tyłu</li>
<li>Więc idziemy!</li>
<li>To jest nasz ogród</li>
<li>Lepiej wygląda kiedy jest trochę słońca</li>
<li>Drzwi do piwnicy</li>
<li>I tutaj jest nasze drzwi</li>
<li>Witamy do naszego mieszkania</li>
<li>Tutaj jest nasza piękna kuchnia</li>
<li>Nie jest taka duża jak u moich rodziców ale nadal jest dość duża dla nas</li>
<li>W całym mieszkaniu mamy te małe drzwi dla krasnoludów</li>
<li>Tutaj magazynujemy rzeczy, które nie są potrzebne na co dzień</li>
<li>Teraz idziemy do głównego pokoju</li>
<li>Tutaj teraz jest trochę chaotycznie</li>
<li>Z powodu, że budujemy choinkę</li>
<li>Znajoma nam dała tę choinkę ale bez podstawy</li>
<li>Jest w procesie bo, znajoma nam to dała ale podstawy</li>
<li>Spróbowaliśmy używać pudełka ale nie udało nam się</li>
<li>I kupiliśmy coś z internetu</li>
<li>Ale jest w procesie</li>
<li>Następnie...</li>
<li>Tutaj jest łazienka</li>
<li>Tutaj mamy mapę świata</li>
<li>To jest bardzo edukacyjne miejsce</li>
<li>Dalej!</li>
<li>Następnie do mojego biura</li>
<li>Tutaj jest naprawdę chaotycznie</li>
<li>Tutaj teraz nie jestem zbyt często bo mam nowe biuro w centrum</li>
<li>Może to pokażę w innym filmiku</li>
<li>I teraz idziemy do sypialni</li>
<li>To normalna sypialnia</li>
<li>Też bardzo duży pokój dla nas</li>
<li>To łóżko, pianina żony</li>
<li>Dalej...</li>
<li>Proszę?</li>
<li>Co?</li>
<li>O, tutaj moja żona robi rzeczy do sprzedaży w internecie</li>
<li>Robi naszyjniki</li>
<li>No, teraz do balkonu</li>
<li>Bardzo fajnie mieć balkon</li>
<li>Tutaj można widzieć całą ulicę i trochę dalej park</li>
<li>O, i tutaj jest bardzo ciekawy domek</li>
<li>Ten tu, czy to widać?</li>
<li>Nazywamy to po angielsku "Polish flat"</li>
<li>Dlatego, że polscy imigranci, kiedy najpierw przyjechali do Stanów, zbudowali najpierw bez pięter tylko parter</li>
<li>I kiedy mieli trochę więcej pieniędzy i potrzebowali trochę więcej miejsca, zbudowali pierwsze piętro</li>
<li>Ale kiedy znowu potrzebowali miejsca zamiast zbudować drugie piętro wynosili dom i zbudowali piętro poniżej</li>
<li>Nie wiem dlaczego, może z powodu, że wtedy starszą technologią to było łatwiej</li>
<li>Ale naprawdę nie wiem, tak zrobili i tak jest</li>
<li>I to jest nasze mieszkanie</li>
<li>Dziękuję bardzo za uwagę</li>
<li>Do widzenia</li>
</ul>
</div>

<div id="comments">
<a id="comment-1038"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/fe544dea866df0eff0a330464de9519f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Ale fajna ta mapa :) Jakbym taką miał to pewnie cały dzień bym spędzał pod prysznicem :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/102/1038">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">joy (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/11/vlog-nasze-mieszkanie-w-usa#comment-1038">Tuesday, November 22, 2011 - 11:39</a></span>
</div>
</div>
<div class="indented"><a id="comment-1039"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hehe, już nauczyłem się bardzo dużo pod prysznicem. :-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/102/1039">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/11/vlog-nasze-mieszkanie-w-usa#comment-1039">Tuesday, November 22, 2011 - 12:31</a></span>
</div>
</div>
</div><a id="comment-1041"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://jakisdziwnykoles.wordpress.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/5cb9638a8c6ba09efbaa3896fbde6ee4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>"Jest w procesie"... Urocza kalka językowa :). Jak już, to coś jest jeszcze nie skończone, podstawka wysłana pocztą może być "w drodze", ew. jakaś sprawa może być "w toku".</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/102/1041">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://jakisdziwnykoles.wordpress.com" rel="nofollow">Emes</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/11/vlog-nasze-mieszkanie-w-usa#comment-1041">Wednesday, November 23, 2011 - 10:36</a></span>
</div>
</div>
<div class="indented"><a id="comment-1044"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dziękuję bardzo za poprawkę. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/102/1044">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/11/vlog-nasze-mieszkanie-w-usa#comment-1044">Friday, November 25, 2011 - 10:04</a></span>
</div>
</div>
</div><a id="comment-1042"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3f3c80d5369d576b9e4990bd74a5eb3f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Mieszkamy w tym dwurodzinnym domku na pierwszej piętrze<br/>
Powinnno być na pierwszym piętrze<br/>
Witamy do naszego mieszkania - Witamy w naszym mieszkaniu, zapraszamy do naszego mieszkania<br/>
Ale jest w procesie- to określenie naukowe moim zdaniem lepiej powiedzieć np. jest w trakcie, robi się itd.</p>
<p>Pozdrawiam z Polski :)</p>
<p>Ps. Mam nadzieję, że znasz polskie tradycje świąteczne takie jak np. dzielenie się opłatkiem, kładzenie sianka pod obrus, przygotowanie miejsca dla niespodziewanego gościa przy stole, czekanie na pierwszą gwiazdkę- dopiero wtedy można zasiąść przy wigilijnym stole, 12 potraw..</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/102/1042">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Aga (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/11/vlog-nasze-mieszkanie-w-usa#comment-1042">Wednesday, November 23, 2011 - 11:14</a></span>
</div>
</div>
<div class="indented"><a id="comment-1045"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dziękuję bardzo za poprawki. :-)</p>
<p>Tak, znam te tradycje ale nigdy nie miałem okazji osobiście doświadczyć je. Kiedy byliśmy w Polsce, mieliśmy nadzieję, że ktoś nas zaprosi na obiad świąteczny. ;-)  Ale tak nie się stało.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/102/1045">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/11/vlog-nasze-mieszkanie-w-usa#comment-1045">Friday, November 25, 2011 - 10:07</a></span>
</div>
</div>
<div class="indented"><a id="comment-1047"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3dc923f74c0d5d50a772b56cfd09ccf2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Tak, znam te tradycje ale nigdy nie miałem okazji osobiście doświadczyć je.</p>
<p>Powinno być:</p>
<p>Tak, znam te tradycje ale nigdy nie miałem okazji ich osobiście doświadczyć.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/102/1047">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Artistide (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/11/vlog-nasze-mieszkanie-w-usa#comment-1047">Friday, November 25, 2011 - 10:52</a></span>
</div>
</div>
<div class="indented"><a id="comment-1048"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki. :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/102/1048">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/11/vlog-nasze-mieszkanie-w-usa#comment-1048">Friday, November 25, 2011 - 10:54</a></span>
</div>
</div>
</div></div></div><a id="comment-1043"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3dc923f74c0d5d50a772b56cfd09ccf2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Sądzę, że powiedziałeś "Witamy do [...]", bo po angielsku będzie to brzmiało "Welcome TO".<br/>
Ale w języku polskim inaczej się to mówi.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/102/1043">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Artistide (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/11/vlog-nasze-mieszkanie-w-usa#comment-1043">Friday, November 25, 2011 - 08:33</a></span>
</div>
</div>
<div class="indented"><a id="comment-1046"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Tak, właśnie to miałem na myśli po angielsku. :-) Dziękuję bardzo za poprawkę. Pozdrawiam, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/102/1046">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/11/vlog-nasze-mieszkanie-w-usa#comment-1046">Friday, November 25, 2011 - 10:09</a></span>
</div>
</div>
</div><a id="comment-1049"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/feeeeecc541fa496df5f9e4a70d90679?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć David!</p>
<p>Chciałbym ci napisać o kilku polskich słodyczach, które są baaardzo pyszne:</p>
<p>1) krówki <a href="http://pl.wikipedia.org/wiki/Kr%C3%B3wki" title="http://pl.wikipedia.org/wiki/Kr%C3%B3wki">http://pl.wikipedia.org/wiki/Kr%C3%B3wki</a><br/>
2) ptasie mleczko <a href="http://pl.wikipedia.org/wiki/Ptasie_mleczko_%28cukiernictwo%29" title="http://pl.wikipedia.org/wiki/Ptasie_mleczko_%28cukiernictwo%29">http://pl.wikipedia.org/wiki/Ptasie_mleczko_%28cukiernictwo%29</a><br/>
3) delicje - okrągłe biszkoptowe ciastka, z galaretką w środku, pokryte czekoladą<br/>
zdjęcie możesz zobaczyć jak wpiszesz w google delicje</p>
<p>Co ciekawe, w Polsce można dostać Kinder Niespodziankę <a href="http://pl.wikipedia.org/wiki/Kinder_niespodzianka" title="http://pl.wikipedia.org/wiki/Kinder_niespodzianka">http://pl.wikipedia.org/wiki/Kinder_niespodzianka</a><br/>
 czy też Kinder Bueno (wymawia się "błeno" :)<br/>
<a href="http://pl.wikipedia.org/wiki/Kinder_Bueno" title="http://pl.wikipedia.org/wiki/Kinder_Bueno">http://pl.wikipedia.org/wiki/Kinder_Bueno</a><br/>
które nie wywodzą się z Polski, są popularne w wielu krajach na świecie, ale trudno je dostać w Ameryce</p>
<p>Może dodam jeszcze jedną ciekawostkę związaną z zimą. W naszym kraju popularne są buty bambosze, które są baardzo ciepłe i chronią przed zimnem, możesz się też w takie zaopatrzyć :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/102/1049">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">= (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/11/vlog-nasze-mieszkanie-w-usa#comment-1049">Friday, November 25, 2011 - 14:33</a></span>
</div>
</div>
<div class="indented"><a id="comment-1056"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć!</p>
<p>Dziękuję˙bardzo za "słodkie" informacje. :-)</p>
<p>Już spróbowałem ptasie mleczko, ale reszty - nie. Muszę ich szukać kiedy jestem następny raz w Polsce!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/102/1056">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/11/vlog-nasze-mieszkanie-w-usa#comment-1056">Monday, November 28, 2011 - 09:17</a></span>
</div>
</div>
</div><a id="comment-1050"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/1c7b26f8488303145ba0c0532dcad584?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hey!<br/>
Może nagrałbyś i wstawił na vloga więcej swoich piosenek, masz świetny głos :))</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/102/1050">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Song (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/11/vlog-nasze-mieszkanie-w-usa#comment-1050">Saturday, November 26, 2011 - 04:48</a></span>
</div>
</div>
<div class="indented"><a id="comment-1057"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć!  Dzięki za miłe słowa. :-) Na pewno opublikuję jeszcze swoje piosenki ale nie wiadomo kiedy. Pozdrawiam, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/102/1057">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/11/vlog-nasze-mieszkanie-w-usa#comment-1057">Monday, November 28, 2011 - 09:18</a></span>
</div>
</div>
</div><a id="comment-1051"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/cf55d548310520d36bd123dca798d8cb?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Domy podobne trochę do UK. Z tym że w US są całe drewniane. Nie jest to stała konstrukcja?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/102/1051">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/11/vlog-nasze-mieszkanie-w-usa#comment-1051">Saturday, November 26, 2011 - 16:24</a></span>
</div>
</div>
<div class="indented"><a id="comment-1054"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/cf55d548310520d36bd123dca798d8cb?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>*słaba zamiast stała oczywiśćie...:)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/102/1054">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/11/vlog-nasze-mieszkanie-w-usa#comment-1054">Sunday, November 27, 2011 - 16:30</a></span>
</div>
</div>
<div class="indented"><a id="comment-1058"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Tak, domy w większości przypadkach są drewniane.  Piwnica jest oczywiście z betonu.  To może słabsza konstrukcja od kamiennych domów ale zwykle ta różnica nie jest tak ważna.  Są u nas oczywiście tornada ale przy nich nawet kamienny dom nie jest bezpieczny. :-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/102/1058">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/11/vlog-nasze-mieszkanie-w-usa#comment-1058">Monday, November 28, 2011 - 09:24</a></span>
</div>
</div>
<div class="indented"><a id="comment-1060"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.pzielinski.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/cf55d548310520d36bd123dca798d8cb?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hmm,<br/>
Już ktoś mi mówił, że te domy drewniane nie są takie słabe. Czasami jednak pokazują w TV jak samochód wjechał w dom i przebił śnianę- prawdziwe?<br/>
Z domu z cegły takie coś jest niemożliwe... Poza tym cegła wytrzyma nie tylko jedno pokolenie...<br/>
Co do tornad - myślę, że cegła ma szansę wytrzymać tornado. Oczywiście dach odpadnie od razu, ale mury nie powinny...</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/102/1060">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.pzielinski.com" rel="nofollow">Piotr Zielinski</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/11/vlog-nasze-mieszkanie-w-usa#comment-1060">Monday, November 28, 2011 - 15:48</a></span>
</div>
</div>
<div class="indented"><a id="comment-1062"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Nie wiem czy są prawdziwe, również tylko coś takiego widziałem w telewizji lub filmach. :-)</p>
<p>To zależy do tornada! Tornado F4 lub mocniejsze zniszczyłoby dom kamienny, budynki z stali, mury, prawie wszystko.</p>
<p>Oto jest artykuł o mocy zniszczenia tornad:</p>
<p><a href="http://en.wikipedia.org/wiki/Tornado_intensity_and_damage" title="http://en.wikipedia.org/wiki/Tornado_intensity_and_damage">http://en.wikipedia.org/wiki/Tornado_intensity_and_damage</a></p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/102/1062">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/11/vlog-nasze-mieszkanie-w-usa#comment-1062">Tuesday, November 29, 2011 - 15:28</a></span>
</div>
</div>
</div></div></div></div><a id="comment-1053"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8794a9e326480170fc151806f37f527b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Parę występów z polskiego Mam Talentu, naprawdę polecam'</p>
<p><a href="http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/dzieki-nim-serce-holowni-rosnie---soundngrace,57035.html" title="http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/dzieki-nim-serce-holowni-rosnie---soundngrace,57035.html">http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/dzieki-nim-serce-h...</a></p>
<p><a href="http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/tomasz-piotrowski--czlowiek-ktorego-strach-krytykowac,57037.html" title="http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/tomasz-piotrowski--czlowiek-ktorego-strach-krytykowac,57037.html">http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/tomasz-piotrowski-...</a></p>
<p><a href="http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/duzo-magii-zero-sciemy-czyli-marcin-muszynski,44147.html" title="http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/duzo-magii-zero-sciemy-czyli-marcin-muszynski,44147.html">http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/duzo-magii-zero-sc...</a></p>
<p><a href="http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/odwazny-kacper-sikora-zaspiewal-lepiej-od-stinga,43976.html" title="http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/odwazny-kacper-sikora-zaspiewal-lepiej-od-stinga,43976.html">http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/odwazny-kacper-sik...</a></p>
<p><a href="http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/soundngrace-jest-jak-w-niebie,24043.html" title="http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/soundngrace-jest-jak-w-niebie,24043.html">http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/soundngrace-jest-j...</a></p>
<p><a href="http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/tomasz-piotrowski-podgrzal-atmosfere,23519.html" title="http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/tomasz-piotrowski-podgrzal-atmosfere,23519.html">http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/tomasz-piotrowski-...</a></p>
<p><a href="http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/jakub-sikora-czyli-petarda-harmonijki,23162.html" title="http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/jakub-sikora-czyli-petarda-harmonijki,23162.html">http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/jakub-sikora-czyli...</a></p>
<p><a href="http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/nieziemskie-genialne-i-perfekcyjne-mira-art,22700.html" title="http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/nieziemskie-genialne-i-perfekcyjne-mira-art,22700.html">http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/nieziemskie-genial...</a></p>
<p><a href="http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/on-rzucil-jurorow-na-kolana,22090.html" title="http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/on-rzucil-jurorow-na-kolana,22090.html">http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/on-rzucil-jurorow-...</a></p>
<p><a href="http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/rewolucja-w-mam-talent---wszyscy-jurorzy-tancza,21663.html" title="http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/rewolucja-w-mam-talent---wszyscy-jurorzy-tancza,21663.html">http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/rewolucja-w-mam-ta...</a></p>
<p><a href="http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/malarz-z-przypadku,21257.html" title="http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/malarz-z-przypadku,21257.html">http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/malarz-z-przypadku...</a></p>
<p><a href="http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/kacper-sikora-wzruszyl-jurorow,20667.html" title="http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/kacper-sikora-wzruszyl-jurorow,20667.html">http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/kacper-sikora-wzru...</a></p>
<p><a href="http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/cejrowski-i-komorowski-w-mam-talent,20257.html" title="http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/cejrowski-i-komorowski-w-mam-talent,20257.html">http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/cejrowski-i-komoro...</a></p>
<p><a href="http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/melkart-ball-w-mam-talent,18963.html" title="http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/melkart-ball-w-mam-talent,18963.html">http://mamtalent.tvn.pl/wideo/wszystkie-kategorie,1,1/melkart-ball-w-mam...</a></p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/102/1053">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">mam talent (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/11/vlog-nasze-mieszkanie-w-usa#comment-1053">Sunday, November 27, 2011 - 10:36</a></span>
</div>
</div>
</div>
