---
permalink: /blog/2012/10/lets-read-in-a-foreign-language-a-group-project/
layout: blog-old
title: 'Let''s read in a foreign language! (a group project)'
day: 16
month: Oct
year: 2012
category: language learning
tags: 
  - 'group project'
language: en
translation: /blog/2012/10/czytajmy-w-obcym-j%C4%99zyku-projekt-grupowy/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/10/dogreading.jpg" rel="lightbox"><img alt="Dog reading" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/10/dogreading.jpg" title="Photo by Francisco Martins"/></a><div class="caption"><a href="http://www.flickr.com/photos/65768710@N00/2200198472">Photo</a> by <a href="http://www.flickr.com/photos/betta_design/">Francisco Martins</a></div></div>
<p>Recently I've been so busy with Bibliobird and creating <a href="http://www.linguatrek.com/blog/2012/10/real-life-in-the-usa-our-product-for-learning-english-has-launched">our product for learning English</a>, that I had to put my Polish learning on hold.</p>
<p>I learned Polish <a href="http://www.linguatrek.com/blog/2010/12/harry-potter-the-book-that-taught-me-polish">mainly from reading and listening</a> to books in Polish - <strong>but it's been MONTHS since I've read anything!</strong> And back in June I canceled all my <a href="http://www.linguatrek.com/tags/language-exchange">language exchange</a> meetings because I didn't have the time.</p>
<p><strong>But now that our product is released, it's time to get back to Polish!</strong> I just got a new book (and audiobook!) based on a recommendation from a couple Bibliobird users: <strong><a href="http://en.wikipedia.org/wiki/Cylinder_van_Troffa">Cylinder van Troffa</a> by <a href="http://en.wikipedia.org/wiki/Janusz_Zajdel">Janusz Zajdel</a></strong></p>
<p>Over the next <em>four weeks,</em> I'm going to be reading and listening to it using the method I <a href="http://www.linguatrek.com/blog/2012/04/natural-language-learning-without-a-teacher">describe in my FREE ebook</a> while publicly sharing my progress.</p>
<p><strong>Have you been thinking of reading and listening to something in English, Polish or whatever language you're learning? <em>Read it along with me and share your progress too!</em></strong></p>
<p>Two of the biggest challenges in language learning are:</p>
<ul>
<li><strong>Getting started</strong> - it's <em>sooo easy</em> to procrastinate, and</li>
<li><strong>Staying motivated</strong> - REMEMBER: <a href="http://www.linguatrek.com/blog/2011/03/the-three-ingredients-for-successful-language-learning">the only way to fail, is to give up!</a></li>
</ul>
<p>I'm hoping that if we do this as a <em>group project</em>, it'll be a great excuse to start NOW! And sharing our progress with each other will help to keep us motivated.</p>
<p><strong>Read more to find out about my plan and how YOU can participate!</strong></p>
<h2>1. Find something to read!</h2>
<p>If you want to participate, the first thing you're going to need to do is find something to read.</p>
<p>This doesn't need to be a book. It could be a series of podcasts, videos or even just news articles online! If you're a Pole learning English, you could even use our product: <a href="https://pl.bibliobird.com/real-life-in-the-usa-wersja-dla-zmotywowanych-ucz%C4%85cych-si%C4%99">Real Life in the USA.</a></p>
<p>But ideally it should have audio! As I've written previously, <a href="http://www.linguatrek.com/blog/2012/01/the-importance-of-listening">listening is extremely important</a>.</p>
<p>In <a href="http://www.linguatrek.com/blog/2011/01/how-to-pick-your-first-book-to-read-in-a-foreign-language">this article</a> I gave advice about how to find a good book for you and in my ebook I wrote even more extensively about how to find all kinds of materials with audio!</p>
<h2>2. Create a daily plan</h2>
<p>In my ebook, I talk a lot about <a href="http://www.linguatrek.com/blog/2012/04/planning-your-daily-routine-ebook-excerpt">planning a daily routine</a>. This is my plan for the next several weeks:</p>
<ul>
<li>7:00am: (10 minutes) Right when I wake up I'm going to review my Anki deck.</li>
<li>10:00am-2:00pm: (30 minutes) I usually go for a 30 minute walk in the middle of the day as a break. During this time I'm going to listen to the audiobook on my MP3 player.</li>
<li>6:00pm: (30 minutes) In the evening I'll read what I listened to earlier, look up any unknown words in the dictionary and add them to Anki.</li>
</ul>
<p>If you haven't already, I really recommend reading <a href="http://www.linguatrek.com/blog/2012/04/planning-your-daily-routine-ebook-excerpt">this chapter</a> from my ebook and doing the exercises it describes!</p>
<h2>3. Track your progress</h2>
<p>I'm going to be recording my progress daily in this <a href="https://docs.google.com/spreadsheet/ccc?key=0AmLACxRxd-KfdHozVEEwZTFNZlVSY2x1NFpBcUhsa2c">spreadsheet</a>. You'll be able to see exactly how much time I spend reading, listening and reviewing in Anki!</p>
<p>You can create your own copy of that spreadsheet by following these instructions:</p>
<ol>
<li><a href="https://drive.google.com/previewtemplate?id=0AmLACxRxd-KfdGRFWGlJZW5od2tzZ1I2TEgtb004RUE&amp;mode=public">Click here</a> and then click the "Use this template" button. This requires a Google account.</li>
<li>Click the title (ex. "Copy of Reading log template") and change it to something else, for example: David's reading log.</li>
<li>Click the blue "Share" button in the upper-right corner.</li>
<li>Click the "Change..." link next to the text "Private - Only the people listed below can access", select "Public on the web" and click "Save".</li>
<li>Click the blue "Done" button.</li>
<li>Bookmark this page so you can return later and copy the URL to share with us!</li>
</ol>
<h2>4. Write a comment below!</h2>
<p>Write a comment below and tell us:</p>
<ol>
<li>What you're planning on reading or listening to?</li>
<li>What is your daily plan?</li>
<li>What is the URL for your progress spreadsheet?</li>
</ol>
<p>If you select "Notify me when new comments are posted" and "All comments" when posting your comment, you'll be sent an e-mail anytime someone writes a comment here! We can use this to stay in contact with each other.</p>
<h2>5. Start reading and listening!</h2>
<p>If you have any problems or feel like you're losing motivation, write a comment here. We'll do our best to help you find a solution to your problem!</p>
<p><strong><em>I wish you all the best of luck!</em></strong></p>
</div>

<div id="comments">
<a id="comment-3099"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.everydaylanguagelearner.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9bef68ce232ae2405462c08f60c76e9a?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>I'll be reading Aslan, Cadi ve Dolap (The Lion, The Witch and the Wardrobe) in Turkish.  Still looking for the audio book. Audio books are not easy to find in Turkish.  A new business idea for someone!</p>
<p>Aaron</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3099">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.everydaylanguagelearner.com" rel="nofollow">Aaron</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3099">Tuesday, October 16, 2012 - 10:44</a></span>
</div>
</div>
<div class="indented"><a id="comment-3110"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Awesome! Yeah, I concur - it's much to hard to track down audio books when you aren't in the country. Or is it that Turkish audio books are hard to come by even in Turkey? Maybe a cultural thing: audio books are less popular?</p>
<p>Anyway, it's great that you're joining it!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3110">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3110">Wednesday, October 17, 2012 - 08:21</a></span>
</div>
</div>
</div><a id="comment-3100"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8e8e27545f5c02ff085c0650e8bbd18d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I think I'm going to read Harry Potter. :) I've read the book in my native language, I love the story and I should definitely work on my vocabulary because basically, that's the thing that's lacking in my English. </p>
<p>I'll try to do one chapter a day or something like that because I'm pretty busy at school and I just have so much stuff to do, but I'm gonna give my best to stick to my plan.</p>
<p>And maybe I could do one podcast of Luke's English Podcast every two or three days, we'll see.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3100">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Seth (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3100">Tuesday, October 16, 2012 - 11:15</a></span>
</div>
</div>
<div class="indented"><a id="comment-3111"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>That's great! :-)</p>
<p>One chapter a day is actually pretty ambitious! I've committed to doing about one hour a day, and that amounts to just a handful of pages. But if you have the time and energy to sustain that - that's fantastic - but be careful not to burn yourself out.</p>
<p>Definitely let us know how it goes!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3111">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3111">Wednesday, October 17, 2012 - 08:24</a></span>
</div>
</div>
<div class="indented"><a id="comment-3115"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8e8e27545f5c02ff085c0650e8bbd18d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Yeah, it is and I probably won't be able to do it, but whatever, I'll give it a try. Even if I only learn one word a day, it'd still be better than nothing, right? :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3115">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Seth (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3115">Wednesday, October 17, 2012 - 14:10</a></span>
</div>
</div>
<div class="indented"><a id="comment-3119"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Yes, of course! However, that's one of the reasons that I usually set my goals as time rather than progress - it's the "learning even one word" that's truly important, not the distance travelled in the book.</p>
<p>And, well, also I can almost always acheive a time goal! :-) It's demotivating when you don't reach a goal and if the goal actually doesn't matter that much, you risk demotivating yourself for no reason.</p>
<p>But that's just food for thought! Only YOU can know what motivates YOU the most. So feel free to ignore my advice if it doesn't apply to you. :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3119">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3119">Thursday, October 18, 2012 - 08:25</a></span>
</div>
</div>
</div></div></div><a id="comment-3101"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e2729a6de9a6c44eb14f50ccfcebeaa9?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Great idea!</p>
<p>I'm going to read The Little Prince. I already read it in Portuguese version. </p>
<p>I'll read and listen one chapter per day and soon I'll back here to sharing my progress.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3101">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Edenir (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3101">Tuesday, October 16, 2012 - 12:33</a></span>
</div>
</div>
<div class="indented"><a id="comment-3112"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Awesome! I've actually never heard of The Little Prince but the Wikipedia page makes me want to read it. :-)</p>
<p><a href="http://en.wikipedia.org/wiki/The_Little_Prince" title="http://en.wikipedia.org/wiki/The_Little_Prince">http://en.wikipedia.org/wiki/The_Little_Prince</a></p>
<p>I look forward to hearing about your progress!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3112">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3112">Wednesday, October 17, 2012 - 08:27</a></span>
</div>
</div>
</div><a id="comment-3102"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/6d3ca84ab22c449e10b6ba2e3b4773bb?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I'm going to try The Hitchhiker's Guide to the Galaxy. Where can I get it in Polish?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3102">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Lee Toomey (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3102">Tuesday, October 16, 2012 - 13:28</a></span>
</div>
</div>
<div class="indented"><a id="comment-3103"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>If you happen to be in Milwaukee county (in Wisconsin in the USA) this is actually available at the public library. :-) I borrowed it from there a couple years ago. But I'm guessing you're not here! ;-)</p>
<p>For some reason I had trouble finding the first book online - it seems to be out of stock everywhere. Although, later books are available, even in US online bookstores, for example:</p>
<p><a href="http://thepolishbookstore.com/search?q=autostopem+przez+galaktyk%C4%99" title="http://thepolishbookstore.com/search?q=autostopem+przez+galaktyk%C4%99">http://thepolishbookstore.com/search?q=autostopem+przez+galaktyk%C4%99</a></p>
<p>Does anyone else know where it can be bought?</p>
<p>Thanks in advance!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3103">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3103">Tuesday, October 16, 2012 - 14:07</a></span>
</div>
</div>
<div class="indented"><a id="comment-3107"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9b0f0ce5c7fadc3ef36463869ffd4704?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Maybe try eBay.com or Allegro.pl?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3107">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Tom (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3107">Wednesday, October 17, 2012 - 01:35</a></span>
</div>
</div>
<div class="indented"><a id="comment-3113"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>On Allegro I see a complete set of them:</p>
<p><a href="http://allegro.pl/5x-autostopem-przez-galaktyke-douglas-adams-i2717572338.html" title="http://allegro.pl/5x-autostopem-przez-galaktyke-douglas-adams-i2717572338.html">http://allegro.pl/5x-autostopem-przez-galaktyke-douglas-adams-i271757233...</a></p>
<p>There's also lots of the later books, the DVD, some books about the books, etc. :-)</p>
<p><a href="http://allegro.pl/listing.php/search?sg=0&amp;string=autostopem+przez+galaktyk%C4%99" title="http://allegro.pl/listing.php/search?sg=0&amp;string=autostopem+przez+galaktyk%C4%99">http://allegro.pl/listing.php/search?sg=0&amp;string=autostopem+przez+galakt...</a></p>
<p>Here are two ads with just the first book, but the price seems quite high for used books (you may as well buy the complete set):</p>
<p><a href="http://allegro.pl/adams-autostopem-przez-galaktyke-i2712608806.html" title="http://allegro.pl/adams-autostopem-przez-galaktyke-i2712608806.html">http://allegro.pl/adams-autostopem-przez-galaktyke-i2712608806.html</a><br/>
<a href="http://allegro.pl/d-adams-przewodnik-autostopem-przez-galaktyke-i2712655978.html" title="http://allegro.pl/d-adams-przewodnik-autostopem-przez-galaktyke-i2712655978.html">http://allegro.pl/d-adams-przewodnik-autostopem-przez-galaktyke-i2712655...</a></p>
<p>On eBay there's nothing. I'm actually astonished at how difficult it is to track this book down!</p>
<p>However, this series of books is one of my favorite of all time (I have them all in English) so it's probably worth it. :-)</p>
<p>Anyway, Lee, I hope you manage to get it!</p>
<p>See ya!<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3113">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3113">Wednesday, October 17, 2012 - 08:34</a></span>
</div>
</div>
</div></div></div><a id="comment-3105"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e9dd15ad3dc769c9d7f156245f690fd2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I will join in. I will be reading Breaking into Japanese Literature. The audio is available online. I will also continue with Assimil.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3105">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Bob Blackburn (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3105">Tuesday, October 16, 2012 - 20:43</a></span>
</div>
</div>
<div class="indented"><a id="comment-3120"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Awesome! You could track both your reading and Assimil together, which I'd love to see.</p>
<p>My reading usually follows a particular trajectory for each book: first, I read more than I listen - but in the end I usually ONLY listen. I also tend to move very slowly in the beginning and exponentially accelerate.</p>
<p>It would be cool to see what your Assimil trajectory looks like. Does it follow a pattern too? Will it be affected by your reading? Only time will tell!</p>
<p>Anyway, I'm a data nerd so these things interest me. Might not be at all interesting to you. :-)</p>
<p>Take care!<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3120">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3120">Thursday, October 18, 2012 - 08:28</a></span>
</div>
</div>
</div><a id="comment-3106"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/96f05a197f0bc0f10864ca0160abb7a0?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Great idea :) I also will follow this process. I am going to read Harry Potter in English :)</p>
<p>Greetings!</p>
<p>Gutek</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3106">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Gutek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3106">Wednesday, October 17, 2012 - 01:31</a></span>
</div>
</div>
<div class="indented"><a id="comment-3108"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/96f05a197f0bc0f10864ca0160abb7a0?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>And I will use of course David's method ::)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3108">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Gutek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3108">Wednesday, October 17, 2012 - 01:59</a></span>
</div>
</div>
<a id="comment-3121"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>That's great, Gutek! If you have any questions about words or sentances you meet in Harry Potter, you can ask about them at the Bibliobird meetings on Mumble. :-)</p>
<p>I can't wait to hear about your progress!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3121">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3121">Thursday, October 18, 2012 - 08:30</a></span>
</div>
</div>
</div><a id="comment-3116"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/15a8a5e73b9def997db642e6ac60ad60?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Well im still reading harry potter in polish but my level is that low im having to translate it almost word for word,it took me almost one month to finish the first chapter, and as i flick through the book every now and then i see so many words i dont know.For the first chapter i had to learn around 800 new words and even when i read the fist chapter again i still dont remember them all.All my my polish freinds think im nuts but im carrying on with it :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3116">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Roy (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3116">Wednesday, October 17, 2012 - 16:06</a></span>
</div>
</div>
<div class="indented"><a id="comment-3118"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Roy!</p>
<p>I'm glad you've stuck with it! I also had to learn several hundred new words to make it through the first chapter as well. Personally when people think I'm nuts for doing something, that acts as it's own motivation. ;-)</p>
<p>However, it might be worth trying something that's at an easier level, if only just to see what it's like. The most important thing is that you have the will and motivation to keep going forward, consuming more of the book. If you've got still got that - you're doing great. :-) But if it's waning or you're struggling, something at an easier level might end up being an amazing breath of fresh air!</p>
<p>Anyway, just an idea! Only you are in a position to truly evaluate the correct course of action.</p>
<p>Best of luck! Keep us updated about your progress!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3118">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3118">Thursday, October 18, 2012 - 08:18</a></span>
</div>
</div>
</div><a id="comment-3123"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9e1c3a3a43825039f589d7b30074eda1?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I just started to read 'The Green Mile' by Stephen King and I'm going to try to keep that log as You proposed since I have a big problem doing things systematically. I hope that will help somehow. </p>
<p><a href="https://docs.google.com/spreadsheet/ccc?key=0Amkp4KPSaV4gdDB2ZzdwYlVOUGpWVTNXOUZ4bmMtakE" title="https://docs.google.com/spreadsheet/ccc?key=0Amkp4KPSaV4gdDB2ZzdwYlVOUGpWVTNXOUZ4bmMtakE">https://docs.google.com/spreadsheet/ccc?key=0Amkp4KPSaV4gdDB2ZzdwYlVOUGp...</a></p>
<p>Regards<br/>
Andrzej</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3123">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Andrzej (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3123">Friday, October 19, 2012 - 18:42</a></span>
</div>
</div>
<div class="indented"><a id="comment-3125"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Andrzej!</p>
<p>That's awesome! I'm glad someone is keeping the spreadsheet and I can't wait to see your progress over time. :-) Like I told Gutek, feel free to ask about any words or phrases you don't understand in your reading at the Bibliobird voice chat meetings!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3125">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3125">Saturday, October 20, 2012 - 08:01</a></span>
</div>
</div>
</div><a id="comment-3126"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/7f3665a38cb757e1e0db23b50280fcb1?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hello David !!! I am going to bay your new product. To be honest I do not like Harry Potter, but what I am going to read soon;-). The count of Monte Christo and Holmes ;-).My English at intermediate level and I have to improve my written and spoken language.</p>
<p>I would like to read one book than five books at the same time:<br/>
Please tell me: How could I improve my written language ( that is not my strong point). In the next year I will have to write many pages of English. I am going to use the program ''Anki'' like you and memorize not only one word ( it does not make sense).</p>
<p>Could you give some advises please</p>
<p>Kind regards</p>
<p>Radek</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3126">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Radek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3126">Sunday, October 21, 2012 - 07:00</a></span>
</div>
</div>
<div class="indented"><a id="comment-3127"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/96f05a197f0bc0f10864ca0160abb7a0?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>That is simple, if you want to strengthen your writing skills you should focus especially on reading section. Read as many as you can if you dream about improve yor writing abilities. On the other hand, if you want to be perfect during conversations, during speaking situations you should listen a lot. Books, texts materials are designed to help you to improve your writing skills. Podcasts are made for helping you in speaking side of language. This tips come from a lot of experts in language acquisition who made a lot of research about this topic.</p>
<p>So I recommend you to combine this two aspects - reading and listening :)</p>
<p>(Sorry about mistakes I practise my writing skills :) Im native in polish - and if I made some mistakes please correct me of course if you can :) )</p>
<p>Greetings!</p>
<p>Gutek</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3127">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Gutek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3127">Sunday, October 21, 2012 - 07:30</a></span>
</div>
</div>
<div class="indented"><a id="comment-3135"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Gutek!</p>
<p>Of course, I agree with you. :-) Since you asked for corrections, I just wanted to give you a few:</p>
<ul>
<li>dream about improve -&gt; dream about improving</li>
<li>this tips -&gt; these tips</li>
<li>who made a lot of research -&gt; who did a lot of research</li>
<li>this two aspects -&gt; these two aspects</li>
</ul>
<p>I hope that helps!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3135">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3135">Tuesday, October 23, 2012 - 09:09</a></span>
</div>
</div>
<div class="indented"><a id="comment-3138"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/96f05a197f0bc0f10864ca0160abb7a0?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Thank you so much David :)</p>
<p>(I hope I'will be able to take part in the next voice meeting :) )</p>
<p>Regards,</p>
<p>Gutek</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3138">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Gutek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3138">Tuesday, October 23, 2012 - 17:42</a></span>
</div>
</div>
</div></div><a id="comment-3134"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Radek!</p>
<p>That's awesome that you're reading Count of Monte Cristo and Sherlock Holmes. I personally like Sherlock Holmes a lot. :-)</p>
<p>I agree with what Gutek wrote. In order to write well, you should read a lot of the same type of thing you're going to be writing. That's, in fact, the main way native speakers become good at writing in their native language. Ask any university professor who teaches writing - they'll tell you that you have to read a lot in order to write well.</p>
<p>I wish you the best of luck!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3134">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3134">Tuesday, October 23, 2012 - 09:07</a></span>
</div>
</div>
</div><a id="comment-3129"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/6d1eab89afed561f2a8213d7533ad25f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I'd actually begun to read Harry Potter 1 in German several weeks before this project started, and I must admit it works :). The fact that I know the story more or less induces me into predicting or guessing what really happens to the protagonists and that helps me discern the meaning of the German text (or at least establish the context).<br/>
What's good in this method is that you don't concentrate only on the process of learning the new vocabulary itself, but explore the plot, and it feels pleasant. The language then "lives", it seems a "real" thing when coupled with believable, down-to earth, causal events described by the author. It does expecially when complemented with an audiobook.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3129">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">shark.qwerty (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3129">Monday, October 22, 2012 - 04:28</a></span>
</div>
</div>
<div class="indented"><a id="comment-3136"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Awesome! I can't wait to hear about your progress.</p>
<p>Thanks for sharing your experience with reading and listening - I've personally experienced the same advantages. :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3136">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3136">Tuesday, October 23, 2012 - 09:12</a></span>
</div>
</div>
</div><a id="comment-3130"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9c4daa018fb3dd97a698088cbdbea791?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>A few days ago I bought "Tess of the D'Urbervilles" by Thomas Hardy. This is my first book written in English and I hope this won't be hard to read.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3130">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kamil (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3130">Monday, October 22, 2012 - 06:54</a></span>
</div>
</div>
<div class="indented"><a id="comment-3137"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Great! I've never read "Tess" so I can't speak to it's level, but I just read a little bit about it on the Wikipedia and it looks very interesting. :-)</p>
<p>Let us know about your progress!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3137">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3137">Tuesday, October 23, 2012 - 09:19</a></span>
</div>
</div>
</div><a id="comment-3151"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/1728dddc259df860f26effae2c791c4c?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>i have started with russian last week ... got my plan my audiobook and the paper version of harry potter .. because i like the story and so far i did  not read any harry potter books in my native language</p>
<p>the level might be a bit too high i noticed but i do not give up :D i really want to give this method a good change to succeed :D</p>
<p>any tipps are welcome though :D  </p>
<p>regards</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3151">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Takema (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3151">Sunday, November 4, 2012 - 17:56</a></span>
</div>
</div>
<div class="indented"><a id="comment-3167"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Takema!</p>
<p>Awesome! I wish you the best of luck and please let us know how it goes. :-)</p>
<p>For some reason, personally, I've been having trouble sticking with my routine. I think I picked too ambitious of a daily routine after not reading in Polish for so long. But I'm hoping to get back into it soon.</p>
<p>There are lots of tips in my ebook if you haven't read it yet! Just subscribe to my blog and you'll get a link to download it:</p>
<p><a href="http://www.linguatrek.com/subscribe" title="http://www.linguatrek.com/subscribe">http://www.linguatrek.com/subscribe</a></p>
<p>I wish you success in your language learning journey!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3167">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3167">Wednesday, November 7, 2012 - 21:08</a></span>
</div>
</div>
<div class="indented"><a id="comment-3170"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/1728dddc259df860f26effae2c791c4c?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>hi David </p>
<p>just a question , now i am using one Anki deck where i put in the words , this deck is growing and growing :D , is does it make sense to create more decks or is it the idea of putting all the unknown words from the book in one anki deck from where you keep on repeating them ? </p>
<p>an other tipp , my audio book was spoken quite fast to understand it better i downloaded Audacity , a free program witch lets you reduce the speed of the mp3 ( 0,90 X original speed proved to be a lot better  ) </p>
<p>thanks so far for your help ( your e book was an eye opener for me ) progress will be slow .. but i am not expecting anything else .. i got a good plan on paper and set the goals so i will be motivated and working on my new language every day :D</p>
<p>regards</p>
<p>Maarten</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3170">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Takema (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3170">Thursday, November 8, 2012 - 03:41</a></span>
</div>
</div>
<div class="indented"><a id="comment-3172"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>I personally prefer to keep everything in one big deck. Otherwise, I have to open each deck individually to review! But I really just want to go in there and have it tell me what I need to review today.</p>
<p>Thanks for sharing the Audacity suggestion! That's not something I've ever tried.</p>
<p>Sounds like things are going great! I wish you all the best! :-)</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3172">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3172">Saturday, November 10, 2012 - 18:12</a></span>
</div>
</div>
<div class="indented"><a id="comment-3226"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/1728dddc259df860f26effae2c791c4c?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Lets write an update ...</p>
<p>the reading is not processing fast , but i did not expect anything else ,in the beginning one page per day now i can dome up to three .. but hey i am only progressing for 14 days now :D though i sure have the feeling that more words are stored and the audiobook is going better by the day :D .. </p>
<p>i see slow but steady progress i commute a lot so i listen a lot :D on the other hand i try to limit the number of new words to 100 so that repeating them in Anki does not consume to much time .. </p>
<p>there has been only one day that i could not come to the anki deck but listened for 15 minutes better spend 15 minutes on something than doing nothing :D </p>
<p>thats it so far for me</p>
<p>Regards</p>
<p>Maarten</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3226">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Takema (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3226">Tuesday, November 20, 2012 - 17:15</a></span>
</div>
</div>
<div class="indented"><a id="comment-3250"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Maarten,</p>
<p>Thanks for the update! Sounds like your doing great. :-)</p>
<p>I've got to post my own update soon... I wasn't nearly as successful as you were this time around. :-/ Maybe I'll write a full article about it.</p>
<p>Keep up the excellent progress! I wish you continued success!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3250">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3250">Sunday, November 25, 2012 - 10:03</a></span>
</div>
</div>
<div class="indented"><a id="comment-3365"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/1728dddc259df860f26effae2c791c4c?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>well ..</p>
<p>here is another update.. i have still managed to repeat the word , but due to holidays changed schedule extra work ,the reading part is standing still .. completed chapter 1 and from tomorrow i will continue reading... </p>
<p>motivation was not the issue , i think december is a difficult month where so many other things , family time etc also take a large amount of time ( more than i planned with ) </p>
<p>i am still on it , and i have been repeating what i did so far almost every day in Anki .. it slowed me down a bit but for sure wont stop me :D</p>
<p>regards</p>
<p>Maarten</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3365">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Takenma (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3365">Tuesday, December 25, 2012 - 18:48</a></span>
</div>
</div>
</div></div></div></div></div></div><a id="comment-3288"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/43e5352bc5f86ee30b2b723c0a7f4a73?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi David.</p>
<p>Thanks for your book and hints.<br/>
I'm from Italy.<br/>
I started studying hebrew 1 year ago. After Assimil (first 3 months) I continued with films, songs, books, ... </p>
<p>Now I'm reading The Wee Free Men by Terry Pratchett and I'm trying to use your method listen-read-repeat.<br/>
I use Anki from many months and usually insert whole sentences and not single words. My deck has already 1400 cards and it takes me 30-40 minutes to finish my repetitions every day... a lot of time... time that I could use to read the book...</p>
<p>I usually do my repetitions during my journey to work and back home. During the day I find some time (15-20 min) to listen the audiobook and some time (30 min) to read the book and insert sentences into anki. </p>
<p>Have you something to suggest me?</p>
<p>Thanks and regards<br/>
Alfonso</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3288">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Alfonso (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3288">Thursday, December 6, 2012 - 04:10</a></span>
</div>
</div>
<div class="indented"><a id="comment-3320"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Alfonso,</p>
<p>That's great that your Hebrew studies are going so well! Congratulations!</p>
<p>I recommend limiting the time you spend reviewing in Anki. There is actually a feature where you tell it to stop you after a certain number of minutes. I'd say only do 10-15 minutes at the most.</p>
<p>Like I said in my ebook, reviewing in Anki is NOT the most important activity. It is just to keep the words you learned fresh in your mind. All the REAL learning will come from listening and reading.</p>
<p>I hope that helps!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3320">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3320">Friday, December 14, 2012 - 09:48</a></span>
</div>
</div>
</div><a id="comment-3419"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/cb5b490615a423f1da6135060c942b85?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Extensive reading in English by learners with the help of a good English dictionary on a variety of real life topics is one of the ways to learn English vocabulary. Since there is an enormous amount of reading material in English, a learner of English has to prioritise reading in subjects according to learner's needs for using English to encompass first the most necessary, relevant and frequently used vocabulary. Day-to-day topics ought to come first in reading.</p>
<p>Reading materials can be arranged by level of difficulty of vocabulary - for learners at beginning, intermediate and advanced levels.</p>
<p>Learners can master the most important English vocabulary by reading thematic texts (materials), first of all on everyday topics with important content, for example: Practical Tips and Advice to Make Everyday Life Easier and Better (practical solutions for everyday problems). Such self-help books on settling everyday matters are available at public libraries, book stores and on the Internet.</p>
<p>In addition to thematic informative texts (materials), learners can read thematic dialogues (samples of real life conversations between people), narrative realistic stories, fine literature, newspapers, magazines, Internet materials, books, audio books and e-books in various subjects, general thematic English dictionaries, etc.</p>
<p>Good general thematic English dictionaries arrange vocabulary by subject matter (topics) and provide clear word usage explanations and also a few usage sentences for each word meaning, which is especially important. Some English synonym dictionaries provide usage explanations and usage examples for words with similar meaning. Thematic general English dictionaries combined with English synonym dictionaries are a valuable tool for mastering English vocabulary logically, comprehensively and intensively for real life needs of learners.</p>
<p>Good public libraries, book stores and the Internet have a wide selection of English reading materials.</p>
<p>It is better for learners to write down unknown vocabulary in whole sentences to remember word meanings easier. It would be a good speaking practice for learners telling the content of the texts that they have read. Learners can write key words and phrases, or main ideas as a plan, or questions on the text that require long answers to make easier for learners to tell the content of the text. I believe it is a good idea to read each logical chunk or paragraph of a text and to narrate each paragraph separately, and then the whole text.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3419">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Mike (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3419">Wednesday, January 2, 2013 - 13:28</a></span>
</div>
</div>
<div class="indented"><a id="comment-3479"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Mike,</p>
<p>Thanks for all the advice you've put in the comments of my blog! I'm sure it will be helpful to my future readers. :-)</p>
<p>Take care!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/212/3479">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/10/lets-read-in-a-foreign-language-a-group-project#comment-3479">Saturday, January 12, 2013 - 19:23</a></span>
</div>
</div>
</div>
</div>
