---
permalink: /blog/2012/10/real-life-in-the-usa-our-product-for-learning-english-has-launched/
layout: blog-old
title: 'Real Life in the USA (our product for learning English has launched!)'
day: 1
month: Oct
year: 2012
category: personal
tags: 
  - 'BiblioBird'
language: en
translation: /blog/2012/10/real-life-in-the-usa-nasz-produkt-do-nauki-j%C4%99zyka-angielskiego-wystartowa%C5%82/
---
<div class="content">
<p><strong>After eight weeks of <em>really</em> intense work, we've finally launched <a href="https://pl.bibliobird.com/real-life-in-the-usa-wersja-dla-zmotywowanych-ucz%C4%85cych-si%C4%99?coupon=RLUSASTART">"Real Life in the USA"</a> - a paid package of texts for Bibliobird, designed to help Poles learn English while simultaneously learning about the USA.</strong></p>
<p><em>(Normally, I write articles with language learning advice or information about American and Polish culture. Don't worry, we'll return to that next week!)</em></p>
<div class="diag align-right" style="float: right; width: 120px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/10/rlusacover_0.png" rel="lightbox"><img alt="Cover of Real Life in the USA" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/10/rlusacover_0.png" title="Original photo by Amanda Nicole Betley"/></a><div class="caption">Original <a href="http://www.flickr.com/photos/74277213@N03/6835040374">photo</a> by <a href="http://www.flickr.com/photos/amotherslens/">Amanda Nicole Betley</a></div></div>
<p>While everyone in the world is familiar with American movies and TV shows, <strong>these representations aren't 100% accurate!</strong> However, this is unfortunately how most foreigners form their impressions of the USA, Americans and our culture.</p>
<p>"Real Life in the USA" contains informative articles, fictional stories, interviews and natural conversations with native speakers, covering many topics from everyday life, including: work, education, crime, finding an apartment and many others (read more for the full table of contents!) - <strong>all through the eyes of real Americans!</strong></p>
<p>These texts are in English, all include audio (some of it taken from authentic conversations!) and are prepared to be read using Bibliobird, a web application based on the method I used to learn Polish!</p>
<p><strong>Read more for the details and information about getting a discount!</strong></p>
<h2>How did I learn Polish?</h2>
<p><a href="http://www.linguatrek.com/blog/2010/12/harry-potter-the-book-that-taught-me-polish">I learned Polish</a> primarily from reading and listening to books in Polish. Specifically, I started with the Harry Potter books!</p>
<p>On my blog and in <a href="http://www.linguatrek.com/blog/2012/04/natural-language-learning-without-a-teacher">my free ebook</a>, I've written extensively about the advantages of reading and <em>especially</em> listening in a foreign language.</p>
<p><strong>But this process can be difficult, time-consuming and sometimes just plain unpleasant!</strong></p>
<p>When I read Harry Potter, I searched for all the unknown words in a dictionary. Sometimes I couldn't find them or didn't understand the meaning of a particular word in the given context. I created flashcards (by hand!) in order to review later what I had learned.</p>
<p>It's quite a bit of work! Which is why some people who try the same method quickly give up.</p>
<p><strong>So, almost 2 years ago, I created Bibliobird!</strong></p>
<h2>What is Bibliobird?</h2>
<p><a href="http://www.bibliobird.com">Bibliobird.com</a> is a free and Open Source web application which can help you learn English (more languages coming!) by reading and listening to interesting content.</p>
<p>While reading, you can click on an unknown word and receive a translation in Polish (again, more languages coming). All of your unknown words are automatically added to the popular flashcard program, Anki, in order to review them later.</p>
<p>Unlike similar applications, all the translations on Bibliobird are checked and corrected by real people, ie. it's not Google Translate or some other fully automatic process! This means that the translation fits the given context - including things that are particularly difficult for learners, like idioms, slang and phrasal verbs.</p>
<p><strong>In this way, Bibliobird makes the process easier, less time-consuming and allows you to focus on the pleasurable aspects of learning - which decreases the chance that you'll give up!</strong></p>
<h2>Real Life in the USA</h2>
<p>"Real Life in the USA" is the first paid content for Bibliobird. It's our hope that this product will help support our work on Bibliobird and allow us to add more languages and features!</p>
<p>Both the <strong>Basic</strong> and <strong>Motivated Learner</strong> versions include:</p>
<ul>
<li>18 texts containing over <strong>15,000 words total</strong> for intermediate and advanced learners - although (with the help of Bibliobird) it should also be accessible to highly motivated learners on lower levels</li>
<li><strong>2 videos</strong> and <strong>4 natural conversations</strong></li>
<li><strong>2 audio recordings for every text:</strong> one at a natural speed, the other a little slower - both read by a native speaker!</li>
<li><strong>Over 3 hours of audio</strong> in MP3 format which you can download and listen to on your MP3 player</li>
<li><strong>Over 100 idioms</strong> or slang words/phrases used in everyday life</li>
<li>Translations marked with the meaning used in the given context <em>(we don't usually do this for our free content)</em></li>
<li>Audio for each individual word - not just the whole text <em>(also something not present in the free content)</em></li>
</ul>
<h3>The "Motivated Learner" version</h3>
<p><em>The only way to fail to learn a language is to give up!</em></p>
<p>This is why we've decided to create a <strong>Motivated Learner</strong> version which includes all the features of the <strong>Basic</strong> version listed above and additionally the following:</p>
<ul>
<li><strong>Permanent access to a private forum where you can discuss the texts</strong> with us and other people who also bought them. Here you can ask any language related questions or practice using what you've learned!</li>
<li><strong>Exercises for each text.</strong> You can submit your answers and we will correct them. Each includes one writing exercise.</li>
<li><strong>For four weeks after purchasing the package you will get access to weekly 1-hour meetings via voice chat,</strong> where everyone will be able ask at least one question. If not everyone gets a chance to ask their question, of course, we'll go over 1 hour. And if it goes faster, you can ask multiple questions. We'll do the meetings in both Polish and English.</li>
</ul>
<h3>Table of contents</h3>
<p>Here is the full table of contents - if you follow the links you can read the introduction to each text!</p>
<table class="neat-table">
<thead>
<tr>
<td><strong>Topic</strong></td>
<td><strong>Title</strong></td>
<td><strong>Style</strong></td>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Health</strong></td>
<td><a href="https://pl.bibliobird.com/node/11842">3 ways to stay healthy in the US!</a></td>
<td>Advice</td>
</tr>
<tr>
<td><strong>Work</strong></td>
<td><a href="https://pl.bibliobird.com/node/11857">Coming out of the crisis</a></td>
<td>Report</td>
</tr>
<tr>
<td><strong>Homosexuality</strong></td>
<td><a href="https://pl.bibliobird.com/node/13376">Discussion: What is it like to be gay in the USA?</a></td>
<td>Conversation</td>
</tr>
<tr>
<td><strong>Multiculturism</strong></td>
<td><a href="https://pl.bibliobird.com/node/14821">Exploring the world without leaving Milwaukee</a></td>
<td>Report</td>
</tr>
<tr>
<td><strong>Immigration</strong></td>
<td><a href="https://pl.bibliobird.com/node/13749">How to get a tourist visa to the USA!</a></td>
<td>Interview</td>
</tr>
<tr>
<td><strong>Baseball</strong></td>
<td><a href="https://pl.bibliobird.com/node/14661">How to play baseball</a></td>
<td>Report</td>
</tr>
<tr>
<td><strong>Culture shock</strong></td>
<td><a href="https://pl.bibliobird.com/node/12538">Michał in the USA #1: Arriving in the United States</a></td>
<td>Fiction</td>
</tr>
<tr>
<td><strong>Housing</strong></td>
<td><a href="https://pl.bibliobird.com/node/12803">Michał in the USA #2: Finding an apartment</a></td>
<td>Fiction</td>
</tr>
<tr>
<td><strong>Entertainment</strong></td>
<td><a href="https://pl.bibliobird.com/node/12810">Michał in the USA #3: Having a good time!</a></td>
<td>Fiction</td>
</tr>
<tr>
<td><strong>Crime</strong></td>
<td><a href="https://pl.bibliobird.com/node/13052">Michał in the USA #4: Staying safe!</a></td>
<td>Fiction</td>
</tr>
<tr>
<td><strong>Regional differences</strong></td>
<td><a href="https://pl.bibliobird.com/node/12932">Michał in the USA #5: Beer, brats and baseball!</a></td>
<td>Fiction</td>
</tr>
<tr>
<td><strong>Transportation</strong></td>
<td><a href="https://pl.bibliobird.com/node/13061">Opinion: Do you need a car to survive in the USA?</a></td>
<td>Editorial</td>
</tr>
<tr>
<td><strong>Politics</strong></td>
<td><a href="https://pl.bibliobird.com/node/12250">Politics: It's so terrible, you have to laugh!</a></td>
<td>Report</td>
</tr>
<tr>
<td><strong>Race</strong></td>
<td><a href="https://pl.bibliobird.com/node/13145">Racial Equality: We're not there yet</a></td>
<td>Report</td>
</tr>
<tr>
<td><strong>Coffee</strong></td>
<td><a href="https://pl.bibliobird.com/node/13763">The culture of coffee</a></td>
<td>Conversation</td>
</tr>
<tr>
<td><strong>Art</strong></td>
<td><a href="https://pl.bibliobird.com/node/13352">The life of a professional artist</a></td>
<td>Interview</td>
</tr>
<tr>
<td><strong>Education</strong></td>
<td><a href="https://pl.bibliobird.com/node/12646">The value of education: Do you need a degree?</a></td>
<td>Advice</td>
</tr>
<tr>
<td><strong>Community</strong></td>
<td><a href="https://pl.bibliobird.com/node/12562">When the community comes together, amazing things can happen!</a></td>
<td>Report</td>
</tr>
</tbody>
</table>
<h3>Buy it now and get a DISCOUNT!</h3>
<p>Until October 8th, using the <strong>coupon code RLUSASTART</strong>, you can buy the <em>Motivated Learner</em> version for 30% off or 35 PLN (about $10).</p>
<p>We're also offering a <strong>14 day money-back guarantee</strong>. If you are dissatisfied with the package for any reason within the first 14 days, all we ask is that you complete a short survey (so we can work on improving it!) and we'll refund your money.</p>
<p><strong><a href="https://pl.bibliobird.com/real-life-in-the-usa-wersja-dla-zmotywowanych-ucz%C4%85cych-si%C4%99?coupon=RLUSASTART">Click here</a> to buy it now!</strong></p>
<h2>Thank you!</h2>
<p>The money to create this product came from a <a href="http://www.linguatrek.com/blog/2012/07/bibliobird-presale-is-a-success-216-whats-next">successful crowdfunding campaign</a>, during which <em>over 200 people</em> bought the package before we even started working on it.</p>
<p><strong>Thank you so much for your support! Without you, we would never have been able create this!</strong></p>
<p><em>(<a href="https://en.bibliobird.com/wiki/Thank_you_for_your_support">Here is a list</a> of all the people who gave - I also named them <a href="http://www.youtube.com/watch?v=-q1neyPGmqk">in this video.</a>)</em></p>
<h2>Tell us what you want next!</h2>
<p>It's our hope that this is only the first of many packages!</p>
<p><strong>Please <a href="http://www.linguatrek.com/node/209">fill out this survey</a> to let us know which language you are most interested in learning on Bibliobird and what the next package should be!</strong></p>
<p><em>(Check out the <a href="https://pl.bibliobird.com/node/15074">latest Bibliobird newsletter</a> to learn more about our plans for the near future.)</em></p>
</div>

<div id="comments">
<a id="comment-3046"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Trochę pojechałeś z tym tekstem o homo. W Polsce nie ma możliwości ani zawierania związków, ani adopcji dzieci przez te osoby. Podobnie jak u Was w niektórych stanach.</p>
<p>Pewnie zdajesz sobie sprawę jakie to wywołuje kontrowersje u wielu ludzi. W Ameryce, sądząc po ilości protestujących, nawet większe niż w Polsce.</p>
<p>Dam Ci dobrą radę: jeżeli chcesz mieć większy target, zrezygnuj z tematów światopoglądowych i polityki. To śliski grunt.</p>
<p>Swoje zdanie zachowam dla siebie, bo jest w tym względzie bardzo konserwatywne. ;)</p>
<p>Pomimo tego postaram się kupić produkt jak tylko ukończę kurs na SuperMemo i jak znajdę czas.</p>
<p>cheers</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/208/3046">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/10/real-life-in-the-usa-our-product-for-learning-english-has-launched#comment-3046">Monday, October 1, 2012 - 05:48</a></span>
</div>
</div>
<div class="indented"><a id="comment-3048"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Nie sądzę, że ten tekst będzie tak kontrowersyjny jak myślisz. Nie ma w nim (przynajmniej z mojej strony) żadnej polityki.</p>
<p>Jest tylko fakt, że homoseksualiści istnieją w USA i ich życie wygląda inaczej niż pokazane w filmach. Pomysł tego pochodzi z faktu, że jest niewiarygodnie duża ilość homoseksualistycznych postaci pokazanych w amerykańskich filmach. :-)</p>
<p>Czy przeczytałeś wstęp tego tekstu?</p>
<p>W każdym razie, zobaczymy. Mam nadzieję, że ludzie nie obrażą się tylko dlatego, że rozmawiałem z paroma homoseksualistami o ich życiu... :-/</p>
<p>No, jestem bardzo ciekaw jaka będzie Twoja opinia produktu. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/208/3048">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/10/real-life-in-the-usa-our-product-for-learning-english-has-launched#comment-3048">Monday, October 1, 2012 - 08:15</a></span>
</div>
</div>
<div class="indented"><a id="comment-3049"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Przecież nie gryzę. ;)</p>
<p>A pakiet chętnie przetestuję choćby by zobaczyć możliwości Bibliobirda i porównać z nową wersją Linqq (słyszałeś?). Jeżeli nic się nie zmieniło pod tym względem w Linqq, to Bibliobird (a raczej żmudna praca) wyprzedza go od lata świetlne. :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/208/3049">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/10/real-life-in-the-usa-our-product-for-learning-english-has-launched#comment-3049">Monday, October 1, 2012 - 08:55</a></span>
</div>
</div>
</div><a id="comment-3061"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/6ee96ab041f65daa1184242ad7f10cb1?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>"W Polsce nie ma możliwości ani zawierania związków, ani adopcji dzieci przez te osoby. Podobnie jak u Was w niektórych stanach".</p>
<p>Woh, dude, hold on a sec! :-) W Polsce nie ma żadnych przepisów prawnych mówiących na przykład, że "osobom homoseksualnym zabrania się tego i tamtego" albo że "osoby homoseksualne muszą to i tamto". Nie może więc być mowy o jakiejkolwiek dyskryminacji prawnej. </p>
<p>Związek dwóch homoseksualistów, jak również związek rolnika z ulubioną kozą, nie jest w Polsce nielegalny. Takie osoby mogą założyć spółkę cywilną, która m.in. daje prawo dziedziczenia po sobie majątków i może się ona nawet oficjalnie nazywać "Małżeństwo Kowalskiego z Wiśniewskim". Co więcej, w statusie takiej spółki może być wpisane, że wchodzi ona w życie w momencie odegrania marsza Mendelsona i włożenia sobie na palce obrączek.</p>
<p>Natomiast nie można traktować związku dwóch homoseksualistów jako  tradycyjnego "małżeństwa", bo jak sama nazwa wskazuje, do małżeństwa potrzeba dwóch płci, męskiej i żeńskiej, i głównym celem tego związku jest wydawanie na świat potomstwa, czego żaden związek homoseksualny spełnić nie może.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/208/3061">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">skorway (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/10/real-life-in-the-usa-our-product-for-learning-english-has-launched#comment-3061">Tuesday, October 2, 2012 - 14:15</a></span>
</div>
</div>
<div class="indented"><a id="comment-3062"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Huehuehue. Spot on, dude!</p>
<p>Chciałem napisać najdelikatniej jak to możliwe, choć Ty pokazałeś że można też „najniższą formą dowcipu[…]”. Bo lewactwo doczepi się do takiego tekstu jak do sławnego rysunku Andrzeja Krauzego! :D</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/208/3062">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/10/real-life-in-the-usa-our-product-for-learning-english-has-launched#comment-3062">Tuesday, October 2, 2012 - 14:35</a></span>
</div>
</div>
<div class="indented"><a id="comment-3063"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/6ee96ab041f65daa1184242ad7f10cb1?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Pewnych spraw nie ma co owijać w bawełnę, mozoląc się nad najdelikatniejszą formą przekazu - nie piszesz przecież do dzieci, którym trzeba wyjaśnić, że Święty Mikołaj nie istnieje. :-) </p>
<p>Nie wiem tylko, co rozumiesz pod pojęciem 'najniższej formy dowcipu' w moim ostatnim wpisie - poza sypnięciem garścią ogólnie znanych faktów, żadnych dowcipów raczej tam nie aplikowałem.</p>
<p>A lewactwo? No cóż... tych nie brakuje nigdy, a ja bynajmniej nie zamierzam się przejmować opiniami ludzi o błyskotliwości martwej makreli. ;-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/208/3063">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">skorway (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/10/real-life-in-the-usa-our-product-for-learning-english-has-launched#comment-3063">Wednesday, October 3, 2012 - 02:04</a></span>
</div>
</div>
<div class="indented"><a id="comment-3065"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>To o sarkazmie: „najniższa forma dowcipu, najwyższa forma inteligencji”. :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/208/3065">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/10/real-life-in-the-usa-our-product-for-learning-english-has-launched#comment-3065">Wednesday, October 3, 2012 - 06:46</a></span>
</div>
</div>
<a id="comment-3070"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/5be26b0efcf6f7fffa93097774c0bb77?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I tak odeszliśmy od komentowania pakietu "Real life in USA", a przeszliśmy do polityki. Wszystko było z klasą i uprzejmie, ale z każdym postem coraz śmielej Panowie sobie hasali. Boję się, że zaraz odezwą się tutaj "martwe makrele" i będziemy mieli polskie piekiełko - i poczuję się jak na youtube :D<br/>
Dlatego proponuję wrócić do tematu wpisu.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/208/3070">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">kacprey (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/10/real-life-in-the-usa-our-product-for-learning-english-has-launched#comment-3070">Friday, October 5, 2012 - 15:08</a></span>
</div>
</div>
</div></div></div></div><a id="comment-3054"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e2729a6de9a6c44eb14f50ccfcebeaa9?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi David! I found your blog a one week ago. I read a lot of posts, they're very useful.<br/>
The "Real Life in USA" is only available for Polish learners?</p>
<p>I've downloaded your ebook and I'll read it soon.</p>
<p>Sorry for my bad English and I hope you can understand.</p>
<p>Greetings from Brazil.</p>
<p>Edenir.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/208/3054">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Edenir (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/10/real-life-in-the-usa-our-product-for-learning-english-has-launched#comment-3054">Monday, October 1, 2012 - 15:12</a></span>
</div>
</div>
<div class="indented"><a id="comment-3058"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Endenir!</p>
<p>I'm glad my posts are useful to you! Unfortunately, yes - at the moment "Real Life in the USA" is only available for Polish learners. But we plan to change this in the future!</p>
<p>I hope the ebook will be helpful in your language learning journey! :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/208/3058">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/10/real-life-in-the-usa-our-product-for-learning-english-has-launched#comment-3058">Tuesday, October 2, 2012 - 08:50</a></span>
</div>
</div>
</div><a id="comment-3055"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://howlearnspanish.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/378451a8d6aab6e56c0caa50495bd976?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>This sounds fantastic and I'd love to do something similar to this for Spanish someday, something where I teach Spanish and teach them about the culture in a Spanish-speaking country at the same time, I think people would really like that.  Absolutely the best of luck to you, and keep us updated on how it goes.</p>
<p>Cheers,<br/>
Andrew</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/208/3055">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://howlearnspanish.com" rel="nofollow">Andrew</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/10/real-life-in-the-usa-our-product-for-learning-english-has-launched#comment-3055">Monday, October 1, 2012 - 18:23</a></span>
</div>
</div>
<div class="indented"><a id="comment-3059"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Andrew,</p>
<p>Thanks!</p>
<p>I don't know if you took a look at the <a href="https://en.bibliobird.com/node/15074">latest Bibliobird newsletter</a> - but I'd like to find other bloggers or teachers who are native speakers or experts on other languages to collaborate on making similar packages for those languages. :-)</p>
<p>If you'd maybe be interested, let me know and we can chat about it.</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/208/3059">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/10/real-life-in-the-usa-our-product-for-learning-english-has-launched#comment-3059">Tuesday, October 2, 2012 - 08:57</a></span>
</div>
</div>
</div>
</div>
