---
permalink: /blog/2012/04/3-kroki-do-płynnego-mówienia-fragment-e-booka/
layout: blog-old
title: '3 kroki do płynnego mówienia (fragment e-booka!)'
day: 19
month: kwi
year: 2012
category: language learning
tags: 
  - 'ebook'
language: pl
translation: /blog/2012/04/3-steps-to-speaking-a-language-fluently-ebook-excerpt/
---
<div class="content">
<p>(<em>To jest tłumaczenie <a href="http://www.linguatrek.com/blog/2012/04/3-steps-to-speaking-a-language-fluently-ebook-excerpt">tego artykułu</a> po angielsku i fragment wzięty z mojego <a href="http://www.linguatrek.com/blog/2012/04/vlog-naturalna-nauka-j%C4%99zyka-bez-nauczyciela">przyszłego ebooka</a>.</em>)</p>
<p>Najczęściej zadawane mi pytanie to:</p>
<blockquote>
<p><strong>"How can I quickly learn to speak English/Polish/etc fluently?"</strong></p>
<p><em>... czyli:</em>
</p><p><strong>"Jak szybko mogę nauczyć się płynnie mówić po angielsku/polsku/etc?"</strong></p>
</blockquote>
<p>Z reguły unikam bezpośredniej odpowiedzi na to pytanie ponieważ (1) <a href="http://www.linguatrek.com/blog/2010/11/lets-stop-saying-fluent-fluently-and-fluency-too">nie lubię słowa <em>"fluently"</em></a> :-) i (2) wymaga BARDZO złożonej odpowiedzi.</p>
<p>Więc zamiast udzielać na nie odpowiedzi, przeważnie pytam o to co powoduje, że osoba zmaga się z nauką języka i następnie skupiam się nad pomocą w rozwiązaniu jej konkretnego problemu.</p>
<p>Teraz zdałem sobie sprawę, że to ważne, aby nareszcie odpowiedzieć na to pytanie we wstępie to tego e-booka i jednocześnie wyjaśnić co mój e-book będzie zawierał, <em>a czego nie</em>.</p>
<p><strong>Czytaj dalej, aby przeczytać cały wstęp do e-booka!</strong></p>
<h2>Skąd wziął się pomysł na powstanie ebooka?</h2>
<p>Kiedy zdecydowałem się napisać tego e-booka, chciałem stworzyć coś krótkiego, skoncentrowanego na temacie i użytecznego. Wiedziałem, że jeśli napisałbym o wszystkim, spędziłbym lata nad ukończeniem mojego e-booka.</p>
<p>Więc, poprosiłem moich Czytelników <a href="http://www.linguatrek.com/blog/2012/03/our-big-announcement-we-need-your-help">o wypełnienie ankiety</a> i napisanie mi, na jaki temat chcieliby, aby był e-book. Podałem cztery pomysły i kilka otwartych linijek tekstowych na inne sugestie.  Oto cztery proponowane pomysły:</p>
<ol>
<li>Przewodnik krok po kroku na temat "Jak nauczyć się języka samodzielnie w naturalny sposób".</li>
<li>Rozszerzony przewodnik o tym jak pokonać <a href="http://www.linguatrek.com/blog/2011/05/how-to-overcome-your-fear-of-speaking">strach przed mówieniem</a>.</li>
<li>Porady, wskazówki i sztuczki do ćwiczenia mówienia (dla uczących się języka, którzy już osiągnęli wysoki poziom języka i już nie czują strachu przed mówieniem, ale nadal mają problemy z mówieniem).</li>
<li>Wszystkie porady na temat nauki języka znajdują się na moim blogu (obecnie ponad 125 artykułów) ułożonych w łatwym do czytania formacie.</li>
</ol>
<p>Szczerze mówiąc, miałem nadzieję, że numer 4 zostanie wybrany, ponieważ myślałem, że będzie on najłatwiejszy do napisania. ;-)</p>
<p>A oto pełne wyniki ankiety:</p>
<table>
<tr>
<td><strong>nr 1</strong></td>
<td><em>Przewodnik krok po kroku o naturalniej nauce języka</em></td>
<td>38%</td>
</tr>
<tr>
<td><strong>nr 4</strong></td>
<td><em>Wszystkie artykuły na moim blogu zreorganizowane w formacie ebooka</em></td>
<td>27%</td>
</tr>
<tr>
<td><strong>nr 2</strong></td>
<td><em>Rozszerzony przewodnik o tym jak pokonać strach przed mówieniem</em></td>
<td>21%</td>
</tr>
<tr>
<td><strong>nr 3</strong></td>
<td><em>Wskazówki i sztuczki do ćwiczenia mówienia</em></td>
<td>14%</td>
</tr>
</table>
<p>Na początku byłem zawiedziony, że mój ulubiony pomysł nie wygrał. :-) Ale po głębszym przemyśleniu, zdałem sobie sprawę, że o wiele lepszy temat został wybrany...</p>
<p><strong>...Ponieważ wybory nr 1, 2 i 3 nie były przypadkowe! Są one trzema krokami w procesie nauki języka.<strong></strong></strong></p>
<h2>Trzy kroki</h2>
<p>Nie ważne w jaki sposób uczysz się innego języka, jeśli przeszedłeś z zera na wysoki poziom, zrobiłeś te trzy kroki.</p>
<p>Nie musisz przechodzić przez te kroki jeden za drugim - mogą one odbywać się jednocześnie. Jednak, podczas nauki języka polskiego, przechodziłem przez nie <em>praktycznie</em> we właściwej kolejności.</p>
<h3>1. Przyzwyczajaj swój mózg do języka</h3>
<p>Jak możesz mówić w danym języku jeśli nie znasz żadnych słów albo jeśli nie rozumiesz kiedy ktoś go używa przy Tobie? <strong>Nie możesz!</strong> :-)</p>
<p>Po pierwsze, w jakiś sposób Twój mózg musi przyswoić język.</p>
<p>Osobiście, udało mi się to za pomocą <a href="http://www.linguatrek.com/blog/2010/12/harry-potter-the-book-that-taught-me-polish">słuchania i czytania Harry'ego Pottera</a>.</p>
<p>Ale jest wiele innych sposobów na to, na przykład: tradycyjny kurs językowy, mieszkanie w innym kraju, użycie <a href="http://www.linguatrek.com/blog/2011/06/experiment-in-shadowing">metody "shadowing"</a>, oglądanie filmów, słuchanie muzyki, etc. Niektóre z tych metod są bardziej efektywne niż inne, ale jeśli używasz jednej z nich wystarczająca długo, czym prędzej czy później, Twój mózg przyswoi język.</p>
<p>Jeśli przejdziesz przez te kroki po kolei, na końcu tego kroku (nauka języka nigdy nie ma końca!) będziesz w stanie rozumieć wszystko i tworzyć zdania w swojej głowie bez tłumaczenia (ale nie koniecznie podczas prawdziwej rozmowy).</p>
<h3>2. Pokonaj swój strach przed mówieniem</h3>
<p>Jednym z najczęściej spotykanych problemów, o którym słyszę od ludzi uczących się języków, jest to, że potrafią zrozumieć bardzo dużo i znają mnóstwo słów - jednak podczas rozmowy z drugą osobą bardzo się denerwują i mają pustkę w głowie.</p>
<p>Ale natychmiast po zakończeniu rozmowy, kiedy stres mija, nie mają problemu z przypomnieniem sobie słów, które chcieli użyć.</p>
<p><strong>Nie wszystkie osoby odczuwają strach przed mówieniem - <em>ale większość tak!</em></strong></p>
<p>Wiele osób boi się popełnić błędy podczas mówienia. Boją się, że druga osoba może ich nie zrozumieć - lub nawet, że ta osoba może ich wyśmiać, bądź pomyśleć, że są głupi.</p>
<p>To jest bardzo poważny problem i <a href="http://www.linguatrek.com/blog/2011/05/how-to-overcome-your-fear-of-speaking">napisałem artykuł</a> o tym, jak ten strach pokonać.  W przyszłości, mam zamiar napisać więcej!</p>
<h3>3. Ćwicz mówienie</h3>
<p>Kiedy już Twój umysł przyswoił język i już nie boisz się go używać, musisz mówić tak dużo jak to tylko możliwe!</p>
<p>Na tym etapie rozwijasz i ćwiczysz "strategie mówienia" takie jak <a href="http://www.linguatrek.com/blog/2011/02/what-to-do-when-you-dont-know-a-word">peryfraza</a> (kiedy nie znasz słowa), różne wyrażenia konwersacyjne do podtrzymania biegu rozmowy oraz niewerbalne sztuczki, aby sprawić większy komfort osobom, z którymi rozmawiasz.</p>
<p>Taka praktyka pozwoli Tobie na udzielanie odpowiedzi szybko i naturalnie, bez spowolnienia rozmowy.</p>
<h2>Mój e-book</h2>
<p><strong>Celem tego e-booka jest pomoc Tobie w przejściu pierwszego z tych trzech kroków.</strong></p>
<p>Myślę, że to świetne ponieważ, krok pierwszy jest najważniejszym i najbardziej <em>niezrozumiałym</em> krokiem.</p>
<p>Mało osób zna prawdziwe mechanizmy mózgu, na których oparta jest nauka języka obcego - i nawet jeśli je znają, mogą mieć trudności z użyciem ich w praktyce.</p>
<p>Właśnie z tego powodu, ten e-book będzie podzielony na dwie części:</p>
<ul>
<li>Część teoretyczna, w której wyjaśnię dlaczego ta metoda działa, i</li>
<li>Część praktyczna, w której przedstawię Wam przewodnik krok po kroku, jak stworzyć własną metodę nauki opierając sie na tych pomysłach.</li>
</ul>
<p>Niestety, to również oznacza, że kroki 2 i 3 nie będą omawianie w tym e-booku. Jednakże, na moim blogu jest kilka artykułów i filmików na ten temat (linki powyżej) i planuję napisać ich więcej.</p>
<p>Albo kiedyś napiszę dwa kolejne ebooki. ;-)</p>
<p><strong>Dzięki za czas poświęcony na przeczytanie e-booka! Mam nadzieję, że będzie pomocny w Waszej podróży po nauce języków.</strong></p>
<p><em>Powodzenia!</em></p>
<p><strong>Co myślisz o wprowadzeniu do e-booku? Czy brzmi to jak e-book, który chciałbyś przeczytać? Jeśli chciałbyś go otrzymać, proszę <a href="http://www.linguatrek.com">zasubskrybuj</a> mój blog, a wyślę go Tobie jak tylko zostanie on ukończony!</strong></p>
</div>

<div id="comments">
<a id="comment-1700"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/e9634ce7d011c494f46945e7c9191251?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Zapowiada się interesująco. Czekam na pełną wersję!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/145/1700">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Topher (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/3-kroki-do-p%C5%82ynnego-m%C3%B3wienia-fragment-e-booka#comment-1700">czwartek, kwiecień 19, 2012 - 11:45</a></span>
</div>
</div>
<a id="comment-1702"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://bit.ly/sekretny-prezent" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/c008f48cccedc3ece50e192f10e04db7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Hej,</p>
<p>bardzo ciekawa koncepcja, od niedawnego czasu stosuję coś podobnego,<br/>
to znaczy subskrybuję ciekawe <strong> podcasty<strong>  w iTunes i słucham ich po<br/>
kilkanaście razy, zauważyłem, ze dzięki temu wreszcie jestem w stanie<br/>
rozróżniać w angielskiej mowie <strong> pojedyńcze<strong>  słówka i trochę już zrozumieć.</strong></strong></strong></strong></p>
<p>Ta metoda ze słuchaniem jest super, bo przecież, np. to, że ktoś urodził się np. niewidomy, nie oznacza, że nie nauczy się mówić w języku ojczystym, podobnie jest ze <strong> słuchaniem<strong>  języka obcego;)</strong></strong></p>
<p>Pozdrawiam,<br/>
Damian</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/145/1702">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://bit.ly/sekretny-prezent" rel="nofollow">Anonymous</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/3-kroki-do-p%C5%82ynnego-m%C3%B3wienia-fragment-e-booka#comment-1702">czwartek, kwiecień 19, 2012 - 12:13</a></span>
</div>
</div>
<div class="indented"><a id="comment-1716"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Damian!</p>
<p>Co do słuchanie: zupełnie się zgadzam. :-) Sam słuchałem dużo podkastów w nauce j. polskiego.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/145/1716">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/04/3-kroki-do-p%C5%82ynnego-m%C3%B3wienia-fragment-e-booka#comment-1716">sobota, kwiecień 21, 2012 - 10:00</a></span>
</div>
</div>
</div><a id="comment-1703"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://jbp.beepworld.pl/" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/23654033842d6016766692f9d5e9a829?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Witam<br/>
Ja również czekam z niecierpliwością może i ja się przełamię<br/>
pozdrawiam</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/145/1703">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://jbp.beepworld.pl/" rel="nofollow">Ewa</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/3-kroki-do-p%C5%82ynnego-m%C3%B3wienia-fragment-e-booka#comment-1703">czwartek, kwiecień 19, 2012 - 12:15</a></span>
</div>
</div>
<a id="comment-1704"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/9a8cb03a0d20b459b313c180559fa98b?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Już od dłuższego czasu dajesz mi powera do nauki angielskiego (rok jakoś!). Jesteś lepszym nauczycielem niż w szkołach. Jako, że uzmysłowiłeś skąd brały się problemy i pokazałeś jak rozwiązać problem z nauką języka angielskiego. Do tego staje się przyjemne uczenie się. Mimo, iż studia skończone to uczę się dla siebie. </p>
<p>Nie mogę także doczekać się ebooka i na pewno książkę polecę znajomym.</p>
<p>Mam nadzieję, że artykuły będą nadal umieszczane w dwóch wersja językowych. Fajna sprawa jak dla mnie bo od razu uczę się już na twojej stronie.</p>
<p>Moja mała sugestia. Dobrze by było w ebook pokazać z jakich np można korzystać narzędzi. Bo np. mnie by nudziło czytanie i każdego słówka tłumaczyć ze słownika. W firefox jest plugin o nazwie Globefish", która pozwala kliknąć na dane słowo i od razu wyświetla tłumaczenie słówka. Supermemo też jest dobre gdy sprzężyc z swoim słownikiem, który sukcesywnie powiększał się ilością przeczytanych artykułów czy ebook.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/145/1704">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Krzysztof (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/3-kroki-do-p%C5%82ynnego-m%C3%B3wienia-fragment-e-booka#comment-1704">czwartek, kwiecień 19, 2012 - 13:21</a></span>
</div>
</div>
<div class="indented"><a id="comment-1717"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Krzysztof!</p>
<p>Dzięki za miłe słowa. :-) Bardzo się cieszę, że podobają Ci się artykuły w dwóch wersjach. Będę się starał dalej to robić.</p>
<p>W ebook będzie mowa o narzędziach! Nie słyszałem o tym pluginie ale znam podobne. Sam bardzo lubię systemy rozmieszczonego powtórzenia (tak jak Supermemo):</p>
<p><a href="http://www.linguatrek.com/blog/2011/01/what-is-spaced-repetition" title="http://www.linguatrek.com/blog/2011/01/what-is-spaced-repetition">http://www.linguatrek.com/blog/2011/01/what-is-spaced-repetition</a></p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/145/1717">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/04/3-kroki-do-p%C5%82ynnego-m%C3%B3wienia-fragment-e-booka#comment-1717">sobota, kwiecień 21, 2012 - 10:04</a></span>
</div>
</div>
</div><a id="comment-1705"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/2f5b3fa26595bc45871213860db4668f?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>No no, zapowiada się ciekawie. Dobrze, że napisałeś ten wstęp. Mam jeszcze większą chęć na przeczytanie ebooka jak tylko powstanie :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/145/1705">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/3-kroki-do-p%C5%82ynnego-m%C3%B3wienia-fragment-e-booka#comment-1705">czwartek, kwiecień 19, 2012 - 13:44</a></span>
</div>
</div>
<a id="comment-1706"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d1954b74aa99611463eeb5b88f2fa06e?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Takie osoby jak Pan tworzą tą dobrą stronę internetu. Język w dzisiejszych czasach jest bardzo ważny, a Pan ułatwia jego poznanie. Dzięki czemu ten E-Book stanie się bardzo wartościowy.</p>
<p>Dziwny jest jeden fakt: Kiedy mam lekcję angielskiego w szkole, to nie chce mi się zupełnie przyswajać regułek gramatycznych, a kiedy spędzam czas w internecie to często oglądam filmy anglojęzyczne. Wniosek. Szkoła nie uczy dobrze :)<br/>
                                            Pozdrawiam Adam</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/145/1706">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Adam (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/3-kroki-do-p%C5%82ynnego-m%C3%B3wienia-fragment-e-booka#comment-1706">czwartek, kwiecień 19, 2012 - 14:05</a></span>
</div>
</div>
<div class="indented"><a id="comment-1718"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Adam!</p>
<p>Dzięki za komentarz i miłe słowa. :-) No, co do szkoły: niektórzy ludzie lubią takie kursy i nawet czasem dobrze się uczą - ale to mniejszość. Jestem taki jak Ty: nauka na kursie tak mnie nudzi ale najchętniej coś ciekawego czytałbym albo oglądałbym. ;-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/145/1718">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/04/3-kroki-do-p%C5%82ynnego-m%C3%B3wienia-fragment-e-booka#comment-1718">sobota, kwiecień 21, 2012 - 10:08</a></span>
</div>
</div>
</div><a id="comment-1707"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/382ca1afe84416955abce442ddc34f22?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Cześć.</p>
<p>Bardzo ciekawie się zapowiada.<br/>
Super, że dodajesz linki do poprzednich wpisów. W ten sposób trafiłem na interesujący artykuł o "shadowing".<br/>
Muszę jeszcze sprawdzić serwisy do których linki znalazłem w komentarzach <a href="http://www.linguatrek.com/blog/2011/06/experiment-in-shadowing#comment-442" title="http://www.linguatrek.com/blog/2011/06/experiment-in-shadowing#comment-442">http://www.linguatrek.com/blog/2011/06/experiment-in-shadowing#comment-442</a></p>
<p>Maciek</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/145/1707">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">KeicaM (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/3-kroki-do-p%C5%82ynnego-m%C3%B3wienia-fragment-e-booka#comment-1707">piątek, kwiecień 20, 2012 - 07:45</a></span>
</div>
</div>
<div class="indented"><a id="comment-1719"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Maciek!</p>
<p>Bardzo się cieszę, że znalazłeś coś pomocnego w starszym artykule! :-) Teraz staram się zreorganizować moje poprzednie wpisy, żeby było łatwiej coś konkretnego znaleźć.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/145/1719">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/04/3-kroki-do-p%C5%82ynnego-m%C3%B3wienia-fragment-e-booka#comment-1719">sobota, kwiecień 21, 2012 - 10:11</a></span>
</div>
</div>
</div><a id="comment-1708"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/f29a3ff6b507eaebdcab0b27745641e4?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Witam </p>
<p>Ja również nie mogę się doczekać na ten e-book i w ogóle tez zauważyłem ze nauka samej ortografii pomoże jedynie na egzaminie a w normalnej komunikacji trzeba przejść przez te 3 kroki aby swobodnie rozmawiać bez większego stresu.</p>
<p>Krystian</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/145/1708">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Krystian (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/3-kroki-do-p%C5%82ynnego-m%C3%B3wienia-fragment-e-booka#comment-1708">sobota, kwiecień 21, 2012 - 04:58</a></span>
</div>
</div>
<a id="comment-1722"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/12d62d774208772387fd1a59c1568cf3?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Zapowiada się lepiej, niż myślałem - jestem pozytywnie zaskoczony ;)</p>
<p>Podcasty - przeszukiwałem internet w nadziei, że coś mnie zaciekawi (nie lubię się zmuszać do czegoś, czego nie lubię - chyba nie o to chodzi ;)). Wpadłem na moim zdaniem świetny pomysł, aby przyswajać sobie... recenzje wszelkiego typu sprzętu - obudów komputerowych, monitorów, smartfonów, kart graficznych - ogólnie tego, co się znajdzie i co mnie zaciekawi. Myślę, że efekt będzie podobny, osłucham się z językiem i z czasem nie będę miał problemów ze zrozumieniem znacznej części mówionego tekstu ;)</p>
<p>Póki co moim celem jest to, żeby móc płynnie pisać na angielskich forach internetowych (co jak co, ale nie zawsze w Polsce potrafię uzyskać pomoc/poradę w danej sprawie - szczególnie właśnie z komputerem, typu np. o tym, co zrobić, by móc jeszcze trochę obniżyć napięcie na CPU ;) )</p>
<p>Dziękuję panu za to, że pan jest - takich ludzi potrzeba jak najwięcej :)</p>
<p>Pozdrawiam!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/145/1722">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">chrup (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/3-kroki-do-p%C5%82ynnego-m%C3%B3wienia-fragment-e-booka#comment-1722">sobota, kwiecień 21, 2012 - 13:00</a></span>
</div>
</div>
<div class="indented"><a id="comment-1752"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>To brzmi jak bardzo dobry pomysł! Dam mi znać jak Ci pójdzie!</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/145/1752">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/04/3-kroki-do-p%C5%82ynnego-m%C3%B3wienia-fragment-e-booka#comment-1752">środa, kwiecień 25, 2012 - 11:37</a></span>
</div>
</div>
</div><a id="comment-1726"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/5609ea83edf92f4bad9b21ad056f8514?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Howdy David!!! When are you going to show you book of the way of learning language??? I study English at a College, but be honest I am not happy there. I have found AJ Hoge from your country, who helps people to develop skills in English. I trust you as well. You know most polish people do not speak in English in the U.K. We are hard-working people here. I am going to study Nursing and I am sure I could use you method. My the main problem is written English. I am at an intermediate level. I speak, but make many mistakes. At the moment I follow you method. Before speaking I must to get a lot of input like a boy;-) ;-) ;-).</p>
<p>Look forward to seeing you book of learning foreign languages and thank you for this book, which will help to uderstand you method;-)</p>
<p>Kind regards</p>
<p>Radek from High Wycombe ( near London)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/145/1726">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Radek from High Wycombe (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/3-kroki-do-p%C5%82ynnego-m%C3%B3wienia-fragment-e-booka#comment-1726">niedziela, kwiecień 22, 2012 - 05:43</a></span>
</div>
</div>
<div class="indented"><a id="comment-1753"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Radek!</p>
<p>I was hopeing to publish my ebook tomorrow, but it looks like that's not going to happen. :-/ Now, I'm thinking it'll be next week! I'm going to make an "official" announcement about this soon.</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/145/1753">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/04/3-kroki-do-p%C5%82ynnego-m%C3%B3wienia-fragment-e-booka#comment-1753">środa, kwiecień 25, 2012 - 11:39</a></span>
</div>
</div>
</div><a id="comment-1757"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/5609ea83edf92f4bad9b21ad056f8514?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Hello David !!! I am sure 100% that your e-book helps us to learn English as a second language. I think an american English is like a global language. I would not say like that in England, where I live, but that is truth. Still I remember the films of Rambo or Ghostbuster. I was a boy.</p>
<p>Look forward to seeing you e-book;-)</p>
<p>Kind regards</p>
<p>Radek</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/145/1757">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Radek from High Wycombe (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/3-kroki-do-p%C5%82ynnego-m%C3%B3wienia-fragment-e-booka#comment-1757">czwartek, kwiecień 26, 2012 - 03:21</a></span>
</div>
</div>
<a id="comment-1980"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/fe5ae6ba0c4b23c3db9e897d0c1d80fa?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Hi David<br/>
super stronka moje uznanie za chęci i dobrą wole,doceniam Twoją prace, poświęcony czas, serdeczność,pomoc i ogólnie zaangażowanie<br/>
pozdrawiam:)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/145/1980">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">MałGoś (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/3-kroki-do-p%C5%82ynnego-m%C3%B3wienia-fragment-e-booka#comment-1980">wtorek, maj 22, 2012 - 05:57</a></span>
</div>
</div>
<div class="indented"><a id="comment-2001"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Dziękuję bardzo! :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/145/2001">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/04/3-kroki-do-p%C5%82ynnego-m%C3%B3wienia-fragment-e-booka#comment-2001">środa, maj 23, 2012 - 12:32</a></span>
</div>
</div>
</div><div class="box">
<h2>Dodaj nową odpowiedź</h2>
<div class="content"><form accept-charset="UTF-8" action="/comment/reply/145" id="comment-form" method="post">
<div><div class="form-item" id="edit-name-wrapper">
<label for="edit-name">Nazwisko lub pseudonim: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-name" maxlength="60" name="name" size="30" type="text" value="Anonymous"/>
</div>
<div class="form-item" id="edit-mail-wrapper">
<label for="edit-mail">E-mail: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-mail" maxlength="64" name="mail" size="30" type="text" value=""/>
<div class="description">Zawartość pola nie będzie udostępniana publicznie. If you have a <a href="http://www.gravatar.com">Gravatar</a> account, used to display your avatar.</div>
</div>
<div class="form-item" id="edit-homepage-wrapper">
<label for="edit-homepage">Strona domowa: </label>
<input class="form-text" id="edit-homepage" maxlength="255" name="homepage" size="30" type="text" value=""/>
</div>
<div class="form-item" id="edit-comment-wrapper">
<label for="edit-comment">Odpowiedź: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<textarea class="form-textarea resizable required" cols="60" id="edit-comment" name="comment" rows="15"></textarea>
</div>
<ul class="tips"><li>Adresy internetowe są automatycznie zamieniane w odnośniki, które można kliknąć.</li><li>Dozwolone znaczniki HTML: &lt;a&gt; &lt;em&gt; &lt;strong&gt; &lt;cite&gt; &lt;code&gt; &lt;ul&gt; &lt;ol&gt; &lt;li&gt; &lt;dl&gt; &lt;dt&gt; &lt;dd&gt; &lt;blockquote&gt;</li><li>Znaki końca linii i akapitu dodawane są automatycznie.</li></ul><input id="form-f54c056ccd3b14ce1f2ec01e835d653d" name="form_build_id" type="hidden" value="form-f54c056ccd3b14ce1f2ec01e835d653d"/>
<input id="edit-comment-form" name="form_id" type="hidden" value="comment_form"/>
<div class="clear-block"><div class="form-item" id="edit-notify-wrapper">
<label class="option" for="edit-notify"><input checked="checked" class="form-checkbox" id="edit-notify" name="notify" type="checkbox" value="1"/> Notify me when new comments are posted</label>
</div>
<div class="form-radios"><div class="form-item" id="edit-notify-type-1-wrapper">
<label class="option" for="edit-notify-type-1"><input class="form-radio" id="edit-notify-type-1" name="notify_type" type="radio" value="1"/> All comments</label>
</div>
<div class="form-item" id="edit-notify-type-2-wrapper">
<label class="option" for="edit-notify-type-2"><input checked="checked" class="form-radio" id="edit-notify-type-2" name="notify_type" type="radio" value="2"/> Replies to my comment</label>
</div>
</div></div><input class="mollom-content-id" id="edit-mollom-contentId" name="mollom[contentId]" type="hidden" value=""/>
<input class="mollom-captcha-id" id="edit-mollom-captchaId" name="mollom[captchaId]" type="hidden" value=""/>
<div style="display: none;"><div class="form-item" id="edit-mollom-homepage-wrapper">
<input autocomplete="off" class="form-text" id="edit-mollom-homepage" maxlength="128" name="mollom[homepage]" size="60" type="text" value=""/>
</div>
</div><div class="description mollom-privacy">By submitting this form, you accept the <a class="mollom-target" href="https://mollom.com/web-service-privacy-policy" rel="nofollow">Mollom privacy policy</a>.</div><input class="form-submit" id="edit-preview" name="op" type="submit" value="Podgląd"/>
</div></form>
</div>
</div>
</div>
