---
permalink: /blog/2012/04/im-writing-the-free-ebook-and-an-easter-miracle/
layout: blog-old
title: 'I''m writing the free ebook (and an Easter miracle!)'
day: 11
month: kwi
year: 2012
category: language learning
tags: 
  - 'ebook'
language: pl
translation: 
---
<div class="content">
<p><strong>Note: This article is a follow-up to <a href="http://www.linguatrek.com/blog/2012/04/natural-language-learning-without-a-teacher">this article</a> from 2012-04-06.</strong></p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/default/files/imagecache/Large/image/2012/04/easter.jpg" rel="lightbox"><img alt="Dyed Easter eggs" src="http://www.linguatrek.com/sites/default/files/imagecache/Small/image/2012/04/easter.jpg" title="Photo by Robert S. Donovan"/></a><div class="caption"><a href="http://www.flickr.com/photos/10687935@N04/2354603718">Photo</a> by <a href="http://www.flickr.com/photos/booleansplit/">Robert S. Donovan</a></div></div>
<p>In my <a href="http://www.linguatrek.com/blog/2012/04/natural-language-learning-without-a-teacher">last blog post</a> (published on <em>Good Friday</em>), I told you about the free ebook I was thinking about writing, and I asked you to fill out a survey telling me if you wanted it.</p>
<p><strong>I said that if 300 people wanted the ebook, then I would write it.</strong></p>
<p>By around noon on Easter Sunday we just barely topped 300 people!  And I was very happy. :-) But then, right before we were about to leave to celebrate Easter with my folks, something AMAZING happened!</p>
<p>My Polish video about this ebook <a href="http://www.wykop.pl/link/1101685/david-snopek-naturalna-nauka-jezyka-bez-nauczyciela/">appeared</a> on the front page of <a href="http://www.wykop.pl/">Wykop.pl</a> (the Polish equivalent of <a href="http://digg.com/">Digg.com</a>)!</p>
<p>Later that evening (when we got home) I checked the numbers again. <em>Hundreds</em> of new people signed up for the free ebook! In total, almost 1400 people have said they want to receive it when it's finished.</p>
<p>I kept telling Carrie (my wife) that it was an Easter miracle!  A miracle that could only have happened with the magic of Wykop! :-)</p>
<p><strong>Thank you so much to everyone who signed up and thank you to everyone who voted on Wykop.</strong></p>
<p><strong>Read more for a short note about what's coming next!</strong></p>
<h2>What next?</h2>
<p>I'm absolutely thrilled that so many people want to read the ebook - <strong>and now it's time to get to work!</strong>
</p><p>It's going to be a short guide (around 40 pages) about <a href="http://www.linguatrek.com/blog/2012/04/natural-language-learning-without-a-teacher">learning a language <em>naturally</em> (without a teacher)</a>. I'm aiming to finish the English version in about 2 weeks.  The Polish translation will follow in a few days.</p>
<p>Because this will require so much of my time, I probably won't be publishing any other articles or videos in meantime, but maybe I'll share some excerpts from the ebook (or maybe I'll have some more questions for you).</p>
<p><strong>As soon as it's finished I'm going to send it out via email to all the subscribers on my blog!</strong> (Including those who filled out the survey.)</p>
<p><strong>If you want to receive the ebook when it's finished, but aren't yet a subscriber, please <a href="http://www.linguatrek.com/subscribe">subscribe now</a>!</strong></p>
</div>

<div id="comments">
<a id="comment-1650"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/854a06ceb760a94051d3d20b8090f2f6?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Hey David ;)<br/>
I'm looking forward to read it...<br/>
if you are planning to traslate it into spanish let me know.<br/>
maybe i can help you with that...<br/>
best regards!!!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/142/1650">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Ronald (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/im-writing-the-free-ebook-and-an-easter-miracle#comment-1650">czwartek, kwiecień 12, 2012 - 11:18</a></span>
</div>
</div>
<div class="indented"><a id="comment-1651"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>I wasn't planning to translate it into Spanish. But if I can find enough folks to help with it I definitely would! It'll be weird having it in a language I don't speak. :-) Maybe I can get my sister to help some too, she speaks excellent Spanish (she lived in a couple Spanish speaking countries for a few years).</p>
<p>Thanks so much for the offer!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/142/1651">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/04/im-writing-the-free-ebook-and-an-easter-miracle#comment-1651">czwartek, kwiecień 12, 2012 - 11:43</a></span>
</div>
</div>
</div><a id="comment-1656"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/e9dd15ad3dc769c9d7f156245f690fd2?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Congratulations on the interest in your website and book.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/142/1656">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Bob (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/im-writing-the-free-ebook-and-an-easter-miracle#comment-1656">czwartek, kwiecień 12, 2012 - 13:11</a></span>
</div>
</div>
<div class="indented"><a id="comment-1657"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Thanks!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/142/1657">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/04/im-writing-the-free-ebook-and-an-easter-miracle#comment-1657">czwartek, kwiecień 12, 2012 - 14:43</a></span>
</div>
</div>
</div><a id="comment-1723"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.irackiemil.globtra.com/pl" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d0e58861d35e3865029a0521735df5b9?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Cześć, </p>
<p>Świetny pomysł z tym e-bookiem, masz szansę zawrzeć w nim swoje dotychczasowe przemyślenia, doświadczenia itd.</p>
<p>W razie czego, chętnie pomogę w tłumaczeniu na polski :)</p>
<p>Pozdrawiam</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/142/1723">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.irackiemil.globtra.com/pl" rel="nofollow">shark.qwerty</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/im-writing-the-free-ebook-and-an-easter-miracle#comment-1723">sobota, kwiecień 21, 2012 - 19:49</a></span>
</div>
</div>
<div class="indented"><a id="comment-1724"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Dzięki za ofertę! Może wykorzystam z niej. :-) Pozdrawiam serdecznie, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/142/1724">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/04/im-writing-the-free-ebook-and-an-easter-miracle#comment-1724">sobota, kwiecień 21, 2012 - 20:30</a></span>
</div>
</div>
</div><a id="comment-1821"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/05/natural-language-learning-my-free-ebook-is-finished" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>[...] three weeks of intense work since I announced that I would create it, I've finally finished the English version of my FREE ebook on language learning, called: Natural [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/142/1821">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/05/natural-language-learning-my-free-ebook-is-finished" rel="nofollow">Natural Language Learning (my FREE ebook) is finished! | Lin</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/im-writing-the-free-ebook-and-an-easter-miracle#comment-1821">czwartek, maj 3, 2012 - 10:04</a></span>
</div>
</div>
<div class="box">
<h2>Dodaj nową odpowiedź</h2>
<div class="content"><form accept-charset="UTF-8" action="/comment/reply/142" id="comment-form" method="post">
<div><div class="form-item" id="edit-name-wrapper">
<label for="edit-name">Nazwisko lub pseudonim: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-name" maxlength="60" name="name" size="30" type="text" value="Anonymous"/>
</div>
<div class="form-item" id="edit-mail-wrapper">
<label for="edit-mail">E-mail: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-mail" maxlength="64" name="mail" size="30" type="text" value=""/>
<div class="description">Zawartość pola nie będzie udostępniana publicznie. If you have a <a href="http://www.gravatar.com">Gravatar</a> account, used to display your avatar.</div>
</div>
<div class="form-item" id="edit-homepage-wrapper">
<label for="edit-homepage">Strona domowa: </label>
<input class="form-text" id="edit-homepage" maxlength="255" name="homepage" size="30" type="text" value=""/>
</div>
<div class="form-item" id="edit-comment-wrapper">
<label for="edit-comment">Odpowiedź: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<textarea class="form-textarea resizable required" cols="60" id="edit-comment" name="comment" rows="15"></textarea>
</div>
<ul class="tips"><li>Adresy internetowe są automatycznie zamieniane w odnośniki, które można kliknąć.</li><li>Dozwolone znaczniki HTML: &lt;a&gt; &lt;em&gt; &lt;strong&gt; &lt;cite&gt; &lt;code&gt; &lt;ul&gt; &lt;ol&gt; &lt;li&gt; &lt;dl&gt; &lt;dt&gt; &lt;dd&gt; &lt;blockquote&gt;</li><li>Znaki końca linii i akapitu dodawane są automatycznie.</li></ul><input id="form-855ba98fc4b2bca8dbe906f3ae79dd8a" name="form_build_id" type="hidden" value="form-855ba98fc4b2bca8dbe906f3ae79dd8a"/>
<input id="edit-comment-form" name="form_id" type="hidden" value="comment_form"/>
<div class="clear-block"><div class="form-item" id="edit-notify-wrapper">
<label class="option" for="edit-notify"><input checked="checked" class="form-checkbox" id="edit-notify" name="notify" type="checkbox" value="1"/> Notify me when new comments are posted</label>
</div>
<div class="form-radios"><div class="form-item" id="edit-notify-type-1-wrapper">
<label class="option" for="edit-notify-type-1"><input class="form-radio" id="edit-notify-type-1" name="notify_type" type="radio" value="1"/> All comments</label>
</div>
<div class="form-item" id="edit-notify-type-2-wrapper">
<label class="option" for="edit-notify-type-2"><input checked="checked" class="form-radio" id="edit-notify-type-2" name="notify_type" type="radio" value="2"/> Replies to my comment</label>
</div>
</div></div><input class="mollom-session-id" id="edit-mollom-session-id" name="mollom[session_id]" type="hidden" value=""/>
<div style="display: none;"><div class="form-item" id="edit-mollom-homepage-wrapper">
<input class="form-text" id="edit-mollom-homepage" maxlength="128" name="mollom[homepage]" size="60" type="text" value=""/>
</div>
</div><div class="description mollom-privacy">Wysłanie formularza jest równoznaczne z akceptacją <a href="http://mollom.com/web-service-privacy-policy">polityki prywatności usługi Mollom</a>.</div><input class="form-submit" id="edit-preview" name="op" type="submit" value="Podgląd"/>
</div></form>
</div>
</div>
</div>
