---
permalink: /blog/2012/04/natural-language-learning-without-a-teacher/
layout: blog-old
title: 'Natural Language Learning (without a teacher!)'
day: 6
month: Apr
year: 2012
category: language learning
tags: 
  - 'ebook'
language: en
translation: /blog/2012/04/vlog-naturalna-nauka-j%C4%99zyka-bez-nauczyciela/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/04/paperbackstack.jpg" rel="lightbox"><img alt="Fake ebook cover" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/04/paperbackstack.jpg" title=""/></a></div>
<p><strong>Note: This article is a follow-up to <a href="http://www.linguatrek.com/blog/2012/03/our-big-announcement-we-need-your-help">this article</a> from 2012-03-29.</strong></p>
<p>Thanks to everyone who commented and sent emails over the past 2 or 3 weeks. I <em>literally</em> received <em>hundreds</em> of emails! I'm trying to reply to all of them, so if you're still waiting for a response, please be patient!</p>
<p>I'd especially like to thank everyone who completed <a href="http://linguatrek.com/node/136">the survey</a> about the <strong>FREE ebook</strong>!</p>
<p>Right after I posted <a href="http://www.linguatrek.com/blog/2012/03/our-big-announcement-we-need-your-help">the last video</a>, I had to run to a meeting with a client. (I'm a freelance software developer.) After several hours of work, I finally had a chance to look at my inbox - and the first two pages were completely filled up with survey responses! ;-)</p>
<p><strong>Based on your responses to the survey, I've chosen a topic for the FREE ebook:</strong></p>
<blockquote>
<p ;="" style="font-size: 20px">Natural Language Learning (Without a Teacher!)</p>
<p style="font-weight: bold; margin-bottom: 20px;">A step-by-step guide on how to learn a language <em>naturally</em> on your own!</p>
</blockquote>
<p><em>(NOTE: There was also a significant group of people who wanted advice on getting over their <a href="http://www.linguatrek.com/blog/2011/05/how-to-overcome-your-fear-of-speaking">fear of speaking</a>.  Unfortunately, it didn't get enough votes to be the topic of this ebook, but <span style="text-decoration: underline;">I promise</span> to make more articles and videos about this important topic!)</em></p>
<p><strong>Please read more for the full ebook description and to sign up to get your copy when it's finished!</strong></p>
<h2>Who is this ebook for?</h2>
<p>This ebook is for people...</p>
<ul>
<li>... who have spent years in traditional courses but still can't order in a restaurant, watch a movie without subtitles, or have a casual conversation with a native speaker.</li>
<li>... who think that their course was too fast, too slow, or too boring.</li>
<li>... who think they don't have a talent for learning language (but in truth <a href="http://www.linguatrek.com/blog/2011/03/you-dont-need-talent-to-learn-a-language">no talent is necessary</a> - just a good approach!)</li>
<li>... who want to take control of their language learning journey and study using a method that will help them achieve their goal efficiently!</li>
</ul>
<p><a href="http://www.linguatrek.com/blog/2012/03/about-me-and-my-mission">I personally studied</a> several languages for many years and failed to learn more than how to pass a grammar test.  It wasn't until I tried <strong>a new method, based on how the brain actually learns language</strong>, that I was finally able to achieve success learning Polish.</p>
<p>I've described this method several times in <a href="http://www.linguatrek.com/blog/2010/12/harry-potter-the-book-that-taught-me-polish">articles</a> and <a href="http://www.linguatrek.com/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego">videos</a>.  But always in a very general way.</p>
<p><strong><em>Natural Language Learning</em> will give you step-by-step instructions on how to use my method, with tips on how to modify it for your needs.</strong></p>
<h2>Why traditional methods fail</h2>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/04/classroom.jpg" rel="lightbox"><img alt="Woman in front of classroom" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/04/classroom.jpg" title="Photo by Rex Pe"/></a><div class="caption"><a href="http://www.flickr.com/photos/41087714@N00/250121658">Photo</a> by <a href="http://www.flickr.com/photos/goldendragon613/">Rex Pe</a></div></div>
<p>Traditional methods focus on consciously memorizing grammar rules.  You must understand the rules, explain the rules, and then take tests to prove you know the rules.  If you're a good student, you can usually learn them and do well in the course.</p>
<p><strong>The problem is that truly speaking and understanding a language <a href="http://www.linguatrek.com/blog/2011/03/language-learning-is-more-like-karate-than-math">isn't a conscious activity</a>!</strong> (I've written <a href="http://www.linguatrek.com/blog/2010/11/dont-start-learning-polish-grammar#mental_math">extensively</a> about this in the past.)</p>
<p>When you're speaking your native language, you aren't thinking about grammar rules, declinations, conjugations, verbs, nouns, genders, tenses, etc.</p>
<p>You simply think a thought and your brain is able to unconsciously assemble a grammatically correct sentence.  Or, you hear a sentence and immediately understand the meaning.</p>
<p><strong>When you truly acquire a foreign language, your brain will process that new language in the same way!</strong></p>
<h2><a name="lad">How the brain learns languages</a></h2>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/04/jumpingbrain.jpg" rel="lightbox"><img alt="A brain with frog feet" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/04/jumpingbrain.jpg" title="Photo (and brain!) by Emilio Garcia."/></a><div class="caption"><a href="http://www.flickr.com/photos/lapolab/2403693037/in/photostream/">Photo</a> (and brain!) by <a href="http://www.flickr.com/people/lapolab/">Emilio Garcia</a>.</div></div>
<p>The human brain is designed to learn languages.  This is why talent is unnecessary!</p>
<p>Linguists talk about a <em><a href="http://en.wikipedia.org/wiki/Language_acquisition_device">Language Acquisition Device</a></em> (LAD) that exists in all of our minds.</p>
<p>If you can activate this <em>device</em>, your brain will start to learn the language naturally and unconsciously.</p>
<p>So, the question is: <strong>How do you activate it?</strong>  It's actually very simple!</p>
<h2><a name="formula">The language learning formula</a></h2>
<p><strong><a href="http://en.wikipedia.org/wiki/Input_Hypothesis">According to linguists</a>, you activate your Language Acquisition Device (LAD) by listening to (or reading) content in the language that you can understand</strong>.</p>
<p>Linguists call this <strong><em>comprehensible input</em></strong>.</p>
<p>It works more efficiently if:</p>
<ol>
<li>You are interested in the input, and</li>
<li>You are in a low-stress environment.</li>
</ol>
<p style="text-align: center;"><img src="http://www.linguatrek.com/sites/www.linguatrek.com/files/image/2012/04/comprehensibleinput_0.png"/></p>
<p>Everyone learns languages this way, whether they realize it or not.  Even someone who successfully learned a language in a traditional course!  But it isn't the memorization of grammar rules that led to their success - it's the comprehensible input.</p>
<p>The main problem with traditional courses is that 90% of the time is spent on activities that don't activate your LAD (like grammar and tests).  Traditional courses also tend to focus on mistakes and correction - which leads to greater stress. And, of course, the learning materials tend to be very boring and artificial.</p>
<p>That's why they usually work very slowly or not at all!</p>
<h2><a name="problem">The BIG problem</a></h2>
<p>Even though the formula is very simple, there is one big problem: <strong>How can you understand input in a language that you don't speak yet?</strong></p>
<p>This is where having a method is helpful!</p>
<p>Of course, there isn't only one correct language learning method - the best method for you depends a lot on you and your personal preferences.  An effective method is made up of a few parts:</p>
<ul>
<li>A source of interesting content in the language</li>
<li>A method to understand this content</li>
<li>A system to review and remember what you've learned</li>
</ul>
<p><strong>But all of those parts can be customized to your interests and personal preferences!</strong></p>
<h2>The advantages of self-study</h2>
<p>A real-world course with a teacher can be nice for a few reasons:</p>
<ul>
<li>You have an expert (the teacher) to consult with</li>
<li>All of the lessons are planned for you</li>
<li>You can interact with other people socially</li>
</ul>
<p>However, I think those advantages are greatly outweighed by the disadvantages:</p>
<ul>
<li>You move at the pace of the rest of the class, which could be too fast or too slow</li>
<li>You have to learn what the teacher plans, which could be boring or might not apply to your goals</li>
<li>You have to travel to a specific place at a specific time, which might conflict with other commitments</li>
<li>You aren't actively learning 100% of the time (ex. when another student is answering a question)</li>
<li>Depending on the teacher and the other students, it can be stressful</li>
<li>It's generally more expensive than self-study</li>
</ul>
<p>In short, you can accomplish more, faster and more conveniently, with self-study.  And if you need to consult an expert, there are lots of internet communities where you can ask for help (or socialize!) - like <a href="http://www.bibliobird.com">Bibliobird</a>!</p>
<h2>What will be in <em>Natural Language Learning</em>?</h2>
<p>In the ebook, I will describe:</p>
<ul>
<li>Why this method works (in more detail)</li>
<li>How to find content in the language that is both interesting to you, and at the right level</li>
<li>A few common methods for understanding the content</li>
<li>A couple systems to review what you've learned</li>
</ul>
<p>This will be based on my experience learning Polish in this way - but not only! I've also talked with many other people who have tried my method or similar methods.</p>
<p>I will try to include several variations, so that after reading this ebook, you will be able to create <em>your own method</em> to learn any language effectively!</p>
<h2>Do you want this? Let me know!</h2>
<p>Like I said last time, I only want to create something that you actually want!  Even a short ebook will be a lot of work to write.  <strong>If I spend a lot of time making it and nobody wants it, I will feel like an idiot!</strong></p>
<p>While I know from the last survey that a large number of people are interested in <u>some ebook</u> from me, they were all interested in different ideas.</p>
<p><strong>If you are interested in <u>this ebook</u>, please fill out <a href="http://www.linguatrek.com/node/139">this NEW survey</a>!</strong> (If I end up making it, I'll send it to you at the email address you provide.)</p>
<p>If you and enough other people want it (I'm thinking around 300), then I'll write the ebook!</p>
<p><strong>Please let me know if you are interested by filling out <a href="http://www.linguatrek.com/node/139">the NEW survey</a>!  If you have any other comments, please write them below!</strong></p>
</div>

<div id="comments">
<a id="comment-1628"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.everydaylanguagelearner.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9bef68ce232ae2405462c08f60c76e9a?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Comprehensive post!  Great stuff and a good read and one I hope all language learners will stop by and read.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/138/1628">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.everydaylanguagelearner.com" rel="nofollow">Aaron</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/natural-language-learning-without-a-teacher#comment-1628">Saturday, April 7, 2012 - 01:01</a></span>
</div>
</div>
<div class="indented"><a id="comment-1630"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks, Aaron! I actually felt like this post left a lot out - but it was already getting long and I didn't want it to turn into the ebook itself. ;-) I'm looking forward to trying out a longer format medium.</p>
<p>Take care and Happy Easter!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/138/1630">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/04/natural-language-learning-without-a-teacher#comment-1630">Saturday, April 7, 2012 - 06:43</a></span>
</div>
</div>
</div><a id="comment-1629"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hey, I’ve finally figured out how to translate LAD into Polish and it sounds good: Language Acquisition Device → Ośrodek Akwizycji Języka.</p>
<p>:)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/138/1629">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/natural-language-learning-without-a-teacher#comment-1629">Saturday, April 7, 2012 - 01:28</a></span>
</div>
</div>
<div class="indented"><a id="comment-1631"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Ah, awesome, thanks! You don't happen to know a good way to translate "Comprehensible Input"? :-) I'm not crazy about anything I've come up with and just tend to use the term in English.</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/138/1631">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/04/natural-language-learning-without-a-teacher#comment-1631">Saturday, April 7, 2012 - 06:44</a></span>
</div>
</div>
<div class="indented"><a id="comment-1632"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Yup, I would translate it into „zrozumiała treść”. Input has many meanings, depending on context, and because ‘listening’ and ‘reading’ can be subsumed into one general term – ‘content’, „treść” isn’t so bad.</p>
<p>But I would have more problems with the word ‘output’ (as in ’comprehensible output’). Kinda intricacies of languages. :D</p>
<p>Happy Easter, David!</p>
<p>Ah, David, have a peek at my finished and translated video:<br/>
<a href="http://www.youtube.com/watch?v=mqrKoZS7iE8" title="http://www.youtube.com/watch?v=mqrKoZS7iE8">http://www.youtube.com/watch?v=mqrKoZS7iE8</a></p>
<p>hope you like it! :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/138/1632">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/natural-language-learning-without-a-teacher#comment-1632">Saturday, April 7, 2012 - 07:20</a></span>
</div>
</div>
<div class="indented"><a id="comment-1633"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Ok, cool. :-) In my video I was trying to decide between "zrozumiała treść" and "zrozumiała zawartość". I'm glad I got close! ;-)</p>
<p>Happy Easter to you and your family as well!</p>
<p>Heh, yeah, it's a very entertaining film. :-)</p>
<p>See ya!<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/138/1633">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/04/natural-language-learning-without-a-teacher#comment-1633">Saturday, April 7, 2012 - 07:28</a></span>
</div>
</div>
<div class="indented"><a id="comment-1652"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4cad61152eccb9f1384134b5af2564fe?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Actually to keep ebook content clear (if Polish version is planned of course), I would vote for using officially recognised terms in science world to not make reader confused in further reading. So, according to <a href="http://pl.wikipedia.org/wiki/Hipoteza_Okresu_Krytycznego" title="http://pl.wikipedia.org/wiki/Hipoteza_Okresu_Krytycznego">http://pl.wikipedia.org/wiki/Hipoteza_Okresu_Krytycznego</a> , "Language Acquisition Device" could be translated to "Mechanizm Przyswajania Języka"</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/138/1652">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Milosz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/natural-language-learning-without-a-teacher#comment-1652">Thursday, April 12, 2012 - 11:47</a></span>
</div>
</div>
<div class="indented"><a id="comment-1654"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Yeah, a Polish version is planned and I would love to use standard terms - I just need to know where to get the terms from. :-) It would be nice if the terms made sense on their own, but I'm going to be defining them anyway.</p>
<p>Thanks for the sugestion!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/138/1654">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/04/natural-language-learning-without-a-teacher#comment-1654">Thursday, April 12, 2012 - 12:30</a></span>
</div>
</div>
<div class="indented"><a id="comment-1661"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4cad61152eccb9f1384134b5af2564fe?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>David, it's nice that you want to write Polish version :-) I believe you could create some wiki page on your blog where community could help you in some ugly cases.</p>
<p>I use two methods for finding accurate terms:<br/>
1)opening wikipedia page of term in one language and then changing wikipedia's language to another (doesn't work always)<br/>
2)if first method fails, I select in Google to show me results only in Polish and then type english name</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/138/1661">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Milosz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/natural-language-learning-without-a-teacher#comment-1661">Friday, April 13, 2012 - 02:34</a></span>
</div>
</div>
<div class="indented"><a id="comment-1662"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks for the advice!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/138/1662">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/04/natural-language-learning-without-a-teacher#comment-1662">Friday, April 13, 2012 - 06:08</a></span>
</div>
</div>
</div></div></div></div></div><a id="comment-1638"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9cc582b8561315c080c20030903824ef?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I don't think we have a good equivalent of "comprehensible input" in Polish.<br/>
I've just realized I've been using this term for many years but never thought about its Polish translation.<br/>
So I searched the Internet and found "ekspozycja znacząca".<br/>
I don't know whether it's an "official" term or not, but it sounds OK to me.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/138/1638">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wiesiek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/natural-language-learning-without-a-teacher#comment-1638">Sunday, April 8, 2012 - 11:18</a></span>
</div>
</div>
<div class="indented"><a id="comment-1682"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Aha, thanks for the suggestion! :-) Unfortunately, I think the theory section of my ebook might be a little difficult to translate. :-/ Best regards, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/138/1682">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/04/natural-language-learning-without-a-teacher#comment-1682">Tuesday, April 17, 2012 - 17:23</a></span>
</div>
</div>
</div></div></div><a id="comment-1634"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/5609ea83edf92f4bad9b21ad056f8514?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Howdy David!!! I think that study without a teacher is possible, but for people who are at least at an intermediate level.<br/>
I don't like grammar, but the most imported is to learn a group of words ( phares) and realistic english materials;-) ;-).<br/>
What is your opinion David??</p>
<p>Look forward to seeing you answer</p>
<p>Kind regards</p>
<p>Radek from High Wycombe</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/138/1634">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Radek from High Wycombe (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/natural-language-learning-without-a-teacher#comment-1634">Saturday, April 7, 2012 - 08:37</a></span>
</div>
</div>
<div class="indented"><a id="comment-1635"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Radek!</p>
<p>I think anyone can learn without a teacher at any level! But it certainly requires more motivation and a solid plan to work for beginners.</p>
<p>Although, I feel like my ebook is not going to be geared at absolute beginners. For whatever reason I feel more compelled to help the people who have tried to learn a language in a traditional course and then failed.  But I'll certainly speak to beginners in it as well.</p>
<p>Happy Easter!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/138/1635">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/04/natural-language-learning-without-a-teacher#comment-1635">Saturday, April 7, 2012 - 09:03</a></span>
</div>
</div>
</div><a id="comment-1640"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/72cb4e7cea2ab28690461d684ac39f46?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Czekam z niecierpliwością na e-booka. Bardzo chciałbym nauczyć się języka węgierskiego. Myślę, że taka książka będzie bardzo pomocna. Trzymam kciuki!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/138/1640">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kamil (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/natural-language-learning-without-a-teacher#comment-1640">Monday, April 9, 2012 - 04:55</a></span>
</div>
</div>
<div class="indented"><a id="comment-1664"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki za zainteresowanie i wsparcie. :-) Język węgierski jest bardzo ciekawy! Nie wiem zbyt dużo o nim ale ludzie ciągle mówią, że jest tak trudny więc oczywiście, chciałbym kiedyś go się nauczyć. ;-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/138/1664">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/04/natural-language-learning-without-a-teacher#comment-1664">Friday, April 13, 2012 - 06:15</a></span>
</div>
</div>
</div><a id="comment-1641"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/7e24bc902e9d44ef7a9a652f7023cba8?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>How long will it take You to write this e-book?<br/>
Please don't say "It's done when it's done" ;)<br/>
I am aware about how stupid is that question but still...;]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/138/1641">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Lukas (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/natural-language-learning-without-a-teacher#comment-1641">Monday, April 9, 2012 - 06:51</a></span>
</div>
</div>
<div class="indented"><a id="comment-1663"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Like I said in my latest article:</p>
<p><a href="http://www.linguatrek.com/blog/2012/04/im-writing-the-free-ebook-and-an-easter-miracle" title="http://www.linguatrek.com/blog/2012/04/im-writing-the-free-ebook-and-an-easter-miracle">http://www.linguatrek.com/blog/2012/04/im-writing-the-free-ebook-and-an-...</a></p>
<p>I'm going to try and write it in two weeks. :-) But we'll see!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/138/1663">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/04/natural-language-learning-without-a-teacher#comment-1663">Friday, April 13, 2012 - 06:13</a></span>
</div>
</div>
</div><a id="comment-1759"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/04/planning-your-daily-routine-ebook-excerpt" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] is an excerpt from my upcoming ebook on language learning, called Natural Language Learning (Without a Teacher). I was trying really [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/138/1759">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/04/planning-your-daily-routine-ebook-excerpt" rel="nofollow">Planning your daily routine (ebook excerpt!) | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/natural-language-learning-without-a-teacher#comment-1759">Thursday, April 26, 2012 - 10:26</a></span>
</div>
</div>
<a id="comment-1813"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/04/im-writing-the-free-ebook-and-an-easter-miracle" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] This article is a follow-up to this article from 2012-04-06. Photo by Robert S. [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/138/1813">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/04/im-writing-the-free-ebook-and-an-easter-miracle" rel="nofollow">I&amp;amp;#039;m writing the free ebook (and an Easter miracle!)</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/natural-language-learning-without-a-teacher#comment-1813">Wednesday, May 2, 2012 - 20:28</a></span>
</div>
</div>
<a id="comment-1822"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/05/natural-language-learning-my-free-ebook-is-finished" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] out this article for more information about what's in the ebook, as well as these two excerpts: Planning your daily [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/138/1822">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/05/natural-language-learning-my-free-ebook-is-finished" rel="nofollow">Natural Language Learning (my FREE ebook) is finished! | Lin</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/natural-language-learning-without-a-teacher#comment-1822">Thursday, May 3, 2012 - 10:04</a></span>
</div>
</div>
<a id="comment-2200"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/06/my-next-big-project-after-the-ebook" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] decision and to thank all of you for your continuous support over the years, I decided to write a FREE ebook about language learning for you. I really thought I'd publish it 2-3 weeks after that announcement, [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/138/2200">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/06/my-next-big-project-after-the-ebook" rel="nofollow">My next BIG project after the ebook! | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/natural-language-learning-without-a-teacher#comment-2200">Tuesday, June 5, 2012 - 09:13</a></span>
</div>
</div>
<a id="comment-2298"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/06/finally-our-full-product-idea-i-need-your-help-with-the-price" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] I describe in my FREE ebook is a framework for building an effective language learning method for self-study (as opposed to [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/138/2298">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/06/finally-our-full-product-idea-i-need-your-help-with-the-price" rel="nofollow">Finally - our FULL product idea (I need your help with the p</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/natural-language-learning-without-a-teacher#comment-2298">Saturday, June 9, 2012 - 10:06</a></span>
</div>
</div>
<a id="comment-2385"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/06/learning-a-foreign-language-is-all-about-time" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] success. There is also at least motivation and a suitable method. But these things are described in David’s ebook. Read it, it's worth [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/138/2385">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/06/learning-a-foreign-language-is-all-about-time" rel="nofollow">Learning a foreign language is all about time! | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/natural-language-learning-without-a-teacher#comment-2385">Tuesday, June 12, 2012 - 09:04</a></span>
</div>
</div>
<a id="comment-2387"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/06/w-nauce-j%C4%99zyka-obcego-najwa%C5%BCniejszy-jest-czas" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] czynnik do sukcesu. Jest jeszcze co najmniej motywacja czy odpowiednia metoda. Ale o tym traktuje ebook David. Przeczytaj go, bo [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/138/2387">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/06/w-nauce-j%C4%99zyka-obcego-najwa%C5%BCniejszy-jest-czas" rel="nofollow">W nauce języka obcego najważniejszy jest czas! | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/natural-language-learning-without-a-teacher#comment-2387">Tuesday, June 12, 2012 - 09:05</a></span>
</div>
</div>
<a id="comment-2726"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/07/bibliobird-presale-is-a-success-216-whats-next" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] plan is for the webinar to be an extension of my free ebook. So, it will assume that you've already read the ebook and will cover topics beyond those in the [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/138/2726">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/07/bibliobird-presale-is-a-success-216-whats-next" rel="nofollow">Bibliobird presale is a success! 216%! What&amp;amp;#039;s next?</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/natural-language-learning-without-a-teacher#comment-2726">Tuesday, July 17, 2012 - 10:57</a></span>
</div>
</div>
<a id="comment-2885"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/07/is-this-bookmoviesong-too-hard-for-me" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] Choosing the right materials for you is difficult! (I devote about 15 pages to this topic in my FREE ebook!) [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/138/2885">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/07/is-this-bookmoviesong-too-hard-for-me" rel="nofollow">Is this book/movie/song too hard for me? | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/natural-language-learning-without-a-teacher#comment-2885">Wednesday, August 15, 2012 - 17:48</a></span>
</div>
</div>
<a id="comment-2965"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/09/in-the-news-a-review-of-my-ebook-an-interview-the-hardest-languages-and-polyglotlinkcom" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] Snider of the excellent Polyglotally.com blog recently wrote a review of Natural Language Learning without a Teacher in which he [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/138/2965">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/09/in-the-news-a-review-of-my-ebook-an-interview-the-hardest-languages-and-polyglotlinkcom" rel="nofollow">In the news: A review of my ebook, an interview, the hardest</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/natural-language-learning-without-a-teacher#comment-2965">Tuesday, September 4, 2012 - 10:53</a></span>
</div>
</div>
<a id="comment-2967"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/09/w-wiadomo%C5%9Bciach-recenzja-mojego-ebooku-wywiad-najtrudniejsze-j%C4%99zyki-i-polyglotlinkcom" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] Snider, autor wyśmienity blog Polyglotally.com, właśnie napisał recenzję Naturalnej nauki języka bez nauczyciela, w którym piszę (przetłumaczone z [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/138/2967">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/09/w-wiadomo%C5%9Bciach-recenzja-mojego-ebooku-wywiad-najtrudniejsze-j%C4%99zyki-i-polyglotlinkcom" rel="nofollow">W wiadomościach: recenzja mojego ebooku, wywiad, najtrudniej</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/natural-language-learning-without-a-teacher#comment-2967">Tuesday, September 4, 2012 - 10:57</a></span>
</div>
</div>
<a id="comment-3154"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/10/real-life-in-the-usa-our-product-for-learning-english-has-launched" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] my blog and in my free ebook, I've written extensively about the advantages of reading and especially listening in a foreign [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/138/3154">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/10/real-life-in-the-usa-our-product-for-learning-english-has-launched" rel="nofollow">Real Life in the USA (our product for learning English has l</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/natural-language-learning-without-a-teacher#comment-3154">Monday, November 5, 2012 - 08:53</a></span>
</div>
</div>
<a id="comment-3856"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.iforeignlanguage.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/6defe136b6e5f1247d82f1d889453768?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hi Dave,</p>
<p>I started reading through your website and agree with you 100%. As a language teacher, I try to get as much right brain learning in as possible. I am familiar with the TPR method which works well, however, there are two things that are working against me. 1) I am required to follow a book that can take away from spontaneous language learning and 2)  20 to 30 kids in a class makes it difficult for these spontaneous right brain activities. It can be done but there are limitations. There is nothing that kills me more to hear that a person has been in a language class for four years and only remembers the greetings. Well, I am going to be reading more of your material to look for ideas to help me out. Thanks for the blog.  George M.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/138/3856">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.iforeignlanguage.com" rel="nofollow">George</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/natural-language-learning-without-a-teacher#comment-3856">Friday, February 8, 2013 - 00:12</a></span>
</div>
</div>
<div class="indented"><a id="comment-3886"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi George!</p>
<p>I'm glad your enjoying my blog! If you haven't read my ebook, I highly recommend it. It's my "magnum opus". ;-)</p>
<p>Yeah, having a set curriculum is VERY limiting for teachers and working with so many students means you have "maximize", ie. do what would benefit the most students, essentially leaving off the top and bottom groups. And, of course, if you're working with kids, there are obvious discipline/focus problems with big groups like that.</p>
<p>I have the highest respect for teachers who can do good work under those conditions! The world needs teachers like you, George!</p>
<p>Usually, though, when talking to learners directly, my advice is to take their learning into their own hands. That's the best way to ensure that they'll get exactly what they need.</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/138/3886">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/04/natural-language-learning-without-a-teacher#comment-3886">Saturday, February 9, 2013 - 12:41</a></span>
</div>
</div>
</div>
</div>
