---
permalink: /blog/2012/04/vlog-napiszę-darmowy-ebook-i-cud-wielkanocny/
layout: blog-old
title: 'Vlog: Napiszę darmowy ebook (i cud wielkanocny!)'
day: 12
month: kwi
year: 2012
category: language learning
tags: 
  - 'ebook'
  - 'vlog'
language: pl
translation: /blog/2012/04/im-writing-the-free-ebook-and-an-easter-miracle/
---
<div class="content">
<p><strong>Ten filmik jest kontynuacją <a href="http://www.linguatrek.com/blog/2012/04/vlog-naturalna-nauka-j%C4%99zyka-bez-nauczyciela">tego filmiku</a> z dnia 2012-04-06.</strong></p>
<p>Dzisiaj mówię o wynikach ankiety - napiszę darmowy ebook, o którym mówiłem w ostatnim filmiku! Był cud wielkanocny!</p>
<p>Podaję parę szczegółów: kiedy zamierzam go skończyć, itd. Zapraszam do oglądania!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/dkiEEZ1HW-Q?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/dkiEEZ1HW-Q?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Jeśli chcesz dostać mój ebook, kiedy jest skonczony, proszę <a href="http://www.linguatrek.com/subscribe">zasubskrybuj mój blog</a>!</p>
<p>Proszę podaj mi poprawki <a href="http://lang-8.com/10069/journals/1419423/Vlog%253A-Cud-wielkanocny-napisz%25C4%2599-darmowy-ebook%2521">w serwisie Lang-8</a>!</p>
<p><strong>Czytaj transkrypcję poniżej!</strong></p>
<h2><a name="transcript">Transkrypcja</a></h2>
<ul>
<li>Dzień dobry</li>
<li>Znowu przed kamerą internetową mówi David Snopek</li>
<li>No - w moim ostatnim filmiku, który opublikowalem w Wielki Piątek</li>
<li>Powiedziałem Wam o darmowym e-booku, który chce napisać</li>
<li>I poprosiłem Was o wypełnienie ankiety</li>
<li>W której zapytałem Was - czy chcecie go czy nie</li>
<li>I powiedziałem, że jeżeli trzysta osób chce ten e-book - to go napiszę</li>
<li>No - około południa w Niedzielę Wielkanocną</li>
<li>Wreszcie przekroczyliśmy trzysta</li>
<li>I bardzo cieszyłem się z tego faktu</li>
<li>Ale właśnie przedtem jak wyjechaliśmy z domu</li>
<li>Żeby obchodzić święto wielkanocne z rodzicami</li>
<li>Coś naprawdę wspaniałego się stało</li>
<li>W jedną minutę jakieś dwadzieścia osób wypełniło ankietę</li>
<li>I - no - już było kilka dni po opublikowaniu tego filmiku</li>
<li>I ludzie już - no - dość powoli wypełniali ankietę</li>
<li>Więc to wydawało mi się trochę - no - dziwne</li>
<li>Sprawdziłem co się dzieje</li>
<li>I okazało się, że mój filmik pojawił się na stronie Wykop.pl</li>
<li>I kiedy wróciliśmy z domu rodziców - od rodziców</li>
<li>Już setki nowych osób wypełniło ankietę</li>
<li>W sumie tysiąc czterysta osób chce ten e-book</li>
<li>I jak nieustannie mówiła moja żona  -  to był cud wielkanocny</li>
<li>I ten cud mógł się stać tylko dzięki magii Wykopu</li>
<li>Więc dziękuję Wszystkim, którzy wypełnili ankietę</li>
<li>I dziękuję użytkownikom Wykopu, którzy głosowali na mój filmik</li>
<li>Dziękuję Wam BARDZO</li>
<li>No - bardzo się cieszę, że tak dużo osób chce czytać mój przyszły e-book</li>
<li>I teraz - no - muszę usiąc do pracy nad nim</li>
<li>I - no - ten e-book będzie krótkim przewodnikiem</li>
<li>Na temat “Naturalnej nauki języka (bez nauczyciela)” </li>
<li>Możesz dowiedzieć się więcej w moim ostatnim filmiku</li>
<li>Link jest tutaj - mam nadzieję</li>
<li>I chciałbym skończyć wersję po angielsku za dwa tygodnie</li>
<li>I tłumaczenie na polski pojawi się kilka dni potem</li>
<li>Co jeszcze chciałem powiedzieć?</li>
<li>Dlatego, że ten projekt będzie wymagał sporo czasu</li>
<li>Najprawdopodobniej nie opublikuję żadnych innych artykułów i filmików w międzyczasie</li>
<li>No - może podzielę się fragmentami e-booka </li>
<li>Albo będę miał więcej pytań dla Was</li>
<li>No nie wiem - zobaczymy</li>
<li>I kiedy będzie skończony wyślę go przez e-mail </li>
<li>Do wszystkich subskrybentów mojego blogu</li>
<li>W tym również tych, którzy wypełnili ankietę </li>
<li>I jeśli chcesz dostać e-book</li>
<li>Ale jeszcze nie subskrybujesz mój blog</li>
<li>Zapraszam do subskrybowania</li>
<li>Link jest w opisie</li>
<li>No - to wszystko na dzisiaj</li>
<li>Bardzo krótki filmik</li>
<li>No - dziękuję bardzo za uwagę</li>
<li>Do widzenia</li>
<li>[JEŚLI PODOBAŁ CI SIĘ TEN FILMIK ZAPRASZAM DO SUBSKRYBOWANIA MOJEGO BLOGU NA STRONIE: LINGUATREK.COM/SUBSCRIBE]</li>
</ul>
</div>

<div id="comments">
<a id="comment-1646"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/80cba913aa8819de858adb2c0256adc7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Cześć David! To świetna wiadomość, od razu zgłaszam, że wkradł się "chochlik" tutaj: kiedy zamierzam go skońcyć, powinno być skończyć ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/143/1646">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Agnieszka (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/vlog-napisz%C4%99-darmowy-ebook-i-cud-wielkanocny#comment-1646">czwartek, kwiecień 12, 2012 - 09:30</a></span>
</div>
</div>
<div class="indented"><a id="comment-1647"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Agnieszka! Dzięki za poprawkę - już to zmieniłem. :-) Pozdrawiam serdecznie, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/143/1647">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/04/vlog-napisz%C4%99-darmowy-ebook-i-cud-wielkanocny#comment-1647">czwartek, kwiecień 12, 2012 - 09:41</a></span>
</div>
</div>
</div><a id="comment-1648"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/26fd2e82a723e8274be94f243b006bb2?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>"Ale jeszcze nie subskrybujesz mój blog"<br/>
tu powinno być raczej<br/>
Ale jeszcze nie subskrybujesz mojego bloga<br/>
:)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/143/1648">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Łukasz (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/vlog-napisz%C4%99-darmowy-ebook-i-cud-wielkanocny#comment-1648">czwartek, kwiecień 12, 2012 - 10:49</a></span>
</div>
</div>
<div class="indented"><a id="comment-1649"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Łukasz! Dzięki za poprawkę. :-) Pozdrawiam serdecznie, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/143/1649">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/04/vlog-napisz%C4%99-darmowy-ebook-i-cud-wielkanocny#comment-1649">czwartek, kwiecień 12, 2012 - 10:50</a></span>
</div>
</div>
</div><a id="comment-1653"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/3b091c1d403d947dc954eee088db1cc5?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>"Coś naprawdę wspaniałego się stało"<br/>
troszkę ładniej brzmi gdy się powie<br/>
"Stało się coś naprawdę wspaniałego"<br/>
jeszcze jedno zamiast "mojego blogu" to "mojego bloga"<br/>
to tyle ;d,<br/>
Pozdrawiam!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/143/1653">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wiola (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/vlog-napisz%C4%99-darmowy-ebook-i-cud-wielkanocny#comment-1653">czwartek, kwiecień 12, 2012 - 12:20</a></span>
</div>
</div>
<div class="indented"><a id="comment-1655"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Wiola! Dzięki za poprawki. :-) Pozdrawiam, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/143/1655">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/04/vlog-napisz%C4%99-darmowy-ebook-i-cud-wielkanocny#comment-1655">czwartek, kwiecień 12, 2012 - 12:31</a></span>
</div>
</div>
</div><a id="comment-1665"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/5609ea83edf92f4bad9b21ad056f8514?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Howdy David!!! Good to hear that you are writting an ebook of English. Most polish people do not speak in English ( be honest).Maybe because of you each of us will be able to improve English up to an advanced level.</p>
<p>Look forward to seeing you book as soon as possible</p>
<p>Kind regards</p>
<p>Radek from High Wycombe ( Bucks)</p>
<p>P.S If you like polish idioms, let me know</p>
<p>for example to be between the Devil and the Deep blue see:-)</p>
<p>( miedzy mlotem a kowadlem) ( based on the book of polish -english idioms. Malgorzata Dzieduszycka)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/143/1665">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Radek from High Wycombe (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/vlog-napisz%C4%99-darmowy-ebook-i-cud-wielkanocny#comment-1665">piątek, kwiecień 13, 2012 - 07:12</a></span>
</div>
</div>
<div class="indented"><a id="comment-1684"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Radek!</p>
<p>The ebook won't be specific to English, but will help with learning any language!  Thanks for the idiom, I didn't know it previously. :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/143/1684">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/04/vlog-napisz%C4%99-darmowy-ebook-i-cud-wielkanocny#comment-1684">wtorek, kwiecień 17, 2012 - 17:30</a></span>
</div>
</div>
</div><div class="box">
<h2>Dodaj nową odpowiedź</h2>
<div class="content"><form accept-charset="UTF-8" action="/comment/reply/143" id="comment-form" method="post">
<div><div class="form-item" id="edit-name-wrapper">
<label for="edit-name">Nazwisko lub pseudonim: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-name" maxlength="60" name="name" size="30" type="text" value="Anonymous"/>
</div>
<div class="form-item" id="edit-mail-wrapper">
<label for="edit-mail">E-mail: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-mail" maxlength="64" name="mail" size="30" type="text" value=""/>
<div class="description">Zawartość pola nie będzie udostępniana publicznie. If you have a <a href="http://www.gravatar.com">Gravatar</a> account, used to display your avatar.</div>
</div>
<div class="form-item" id="edit-homepage-wrapper">
<label for="edit-homepage">Strona domowa: </label>
<input class="form-text" id="edit-homepage" maxlength="255" name="homepage" size="30" type="text" value=""/>
</div>
<div class="form-item" id="edit-comment-wrapper">
<label for="edit-comment">Odpowiedź: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<textarea class="form-textarea resizable required" cols="60" id="edit-comment" name="comment" rows="15"></textarea>
</div>
<ul class="tips"><li>Adresy internetowe są automatycznie zamieniane w odnośniki, które można kliknąć.</li><li>Dozwolone znaczniki HTML: &lt;a&gt; &lt;em&gt; &lt;strong&gt; &lt;cite&gt; &lt;code&gt; &lt;ul&gt; &lt;ol&gt; &lt;li&gt; &lt;dl&gt; &lt;dt&gt; &lt;dd&gt; &lt;blockquote&gt;</li><li>Znaki końca linii i akapitu dodawane są automatycznie.</li></ul><input id="form-5eff05f1f15c8a69ebf05ad33b1defce" name="form_build_id" type="hidden" value="form-5eff05f1f15c8a69ebf05ad33b1defce"/>
<input id="edit-comment-form" name="form_id" type="hidden" value="comment_form"/>
<div class="clear-block"><div class="form-item" id="edit-notify-wrapper">
<label class="option" for="edit-notify"><input checked="checked" class="form-checkbox" id="edit-notify" name="notify" type="checkbox" value="1"/> Notify me when new comments are posted</label>
</div>
<div class="form-radios"><div class="form-item" id="edit-notify-type-1-wrapper">
<label class="option" for="edit-notify-type-1"><input class="form-radio" id="edit-notify-type-1" name="notify_type" type="radio" value="1"/> All comments</label>
</div>
<div class="form-item" id="edit-notify-type-2-wrapper">
<label class="option" for="edit-notify-type-2"><input checked="checked" class="form-radio" id="edit-notify-type-2" name="notify_type" type="radio" value="2"/> Replies to my comment</label>
</div>
</div></div><input class="mollom-session-id" id="edit-mollom-session-id" name="mollom[session_id]" type="hidden" value=""/>
<div style="display: none;"><div class="form-item" id="edit-mollom-homepage-wrapper">
<input class="form-text" id="edit-mollom-homepage" maxlength="128" name="mollom[homepage]" size="60" type="text" value=""/>
</div>
</div><div class="description mollom-privacy">Wysłanie formularza jest równoznaczne z akceptacją <a href="http://mollom.com/web-service-privacy-policy">polityki prywatności usługi Mollom</a>.</div><input class="form-submit" id="edit-preview" name="op" type="submit" value="Podgląd"/>
</div></form>
</div>
</div>
</div>
