---
permalink: /blog/2012/04/vlog-naturalna-nauka-języka-bez-nauczyciela/
layout: blog-old
title: 'Vlog: Naturalna nauka języka (bez nauczyciela!)'
day: 6
month: Apr
year: 2012
category: language learning
tags: 
  - 'ebook'
  - 'vlog'
language: en
translation: /blog/2012/04/vlog-naturalna-nauka-j%C4%99zyka-bez-nauczyciela/
---
<div class="content">
<p><strong>Ten filmik jest kontynuacją <a href="http://www.linguatrek.com/blog/2012/03/vlog-nasze-wielkie-og%C5%82oszenie-i-potrzebujemy-waszej-pomocy">tego filmiku</a> z dnia 2012-03-29.</strong></p>
<p>W tym filmiku opisuję temat, który wybrałem dla darmowego ebooku, który chciałbym napisać - i chcę dowiedzieć się, czy go chcesz czy nie!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/cuc-WjlQ0Xg?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/cuc-WjlQ0Xg?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Już wiem, że dość dużo osób jest zainteresowane <u>jakimś ebookiem</u> ode mnie. Ale wszyscy chcieli ebook na inne tematy.</p>
<p><strong>Proszę <a href="http://www.linguatrek.com/node/140">wypełnij tę NOWĄ ankietę</a> jeśli jesteś zainteresowany WŁAŚNIE TYM ebookiem!</strong> Pamiętaj, że tylko go stworzę, jeśli dość dużo osób go chce!</p>
<p>Proszę podaj mi poprawki <a href="http://lang-8.com/10069/journals/1408656/Vlog%253A-Naturalna-nauka-j%25C4%2599zyka-%2528bez-nauczyciela%2529">w serwisie Lang-8</a>.</p>
<p><strong>Czytaj transkrypcję poniżej!</strong></p>
<h2><a name="transcript">Transkrypcja</a></h2>
<ul>
<li>Dzień dobry</li>
<li>Znowu przed kamerą internetową mówi David Snopek</li>
<li>No – najpierw chciałbym podziękować wszystkim, którzy skomentowali</li>
<li> Albo wysłali mi wiadomość w ostatnich trzech tygodniach</li>
<li>Dostałem setki wiadomości</li>
<li>Nadal się staram odpowiedzieć na wszystkie</li>
<li>Jeśli nadal czekasz na odpowiedź – no – proszę o cierpliwość</li>
<li>Zwłaszcza chciałbym podziękować wszystkim</li>
<li>Którzy wypełnili ankietę o darmowym e-booku, który chciałbym stworzyć</li>
<li>Od razu po tym jak przesłałem ostatni filmik</li>
<li>Musiałem pojechać na spotkanie z klientem i pracować z nim przez kilka godzin</li>
<li>I kiedy wreszcie miałem szansę zajrzeć do skrzynki odbiorczej</li>
<li>Pierwsze dwie strony były już wypełnione odpowiedziami na ankietę</li>
<li>Więc dziękuję wam bardzo</li>
<li>No – na podstawie Waszych odpowiedzi na ankietę</li>
<li>Wybrałem temat na mój darmowy e-book</li>
<li>„Naturalna nauka języka bez nauczycieli”</li>
<li>Będzie przewodnikiem ‘krok po kroku’</li>
<li>Jak samemu nauczyć się języka w sposób naturalny</li>
<li>Będzie na podstawie tej metody z której osobiście korzystałem</li>
<li>Żeby nauczyć się języka polskiego</li>
<li>Jeśli mnie nie znasz</li>
<li>Jestem Amerykaninem</li>
<li>Tylko zacząłem uczyć się języka polskiego kilka lat temu</li>
<li>Polecam filmik „O mnie”</li>
<li>Link jest – no – może tutaj</li>
<li>Również była dość liczna grupa osób, która chciała porady</li>
<li>Jak pokonać strach przed mówieniem</li>
<li>Niestety, nie dostał dość głosów, żeby zostać tematem e-booka</li>
<li> Ale obiecuję, że napiszę więcej artykułów</li>
<li>Nagram więcej filmików</li>
<li>Na ten bardzo ważny temat</li>
<li>[DLA KOGO JEST TEN E-BOOK?]</li>
<li>Ten e-book jest dla tych, którzy spędzili już wiele lat na tradycyjnych kursach</li>
<li>Ale nadal nie mogą zamówić nic w restauracji</li>
<li>Ani oglądać filmu bez napisów</li>
<li>Ani uczestniczyć w luźnej rozmowie z native speakerem</li>
<li>Jest dla tych, którzy myślą, że takie kursy są za szybkie</li>
<li> Albo za wolne</li>
<li>Albo za nudne</li>
<li>Jest dla tych, którzy myślą, że nie mają talentu do nauki języków</li>
<li>No – prawdę mówiąc nie trzeba mieć talentu – tylko dobrze podjeście</li>
<li>Już mówiłem o tym wiele, wiele razy</li>
<li>Jest dla tych, którzy chcą mieć kontrolę nad swoją nauką</li>
<li>I uczyć się naprawdę efektywną metodą</li>
<li>No – sam uczyłem się wielu języków przez wiele lat na tradycyjnych kursach</li>
<li>Ale tylko udało mi się nauczyć jak zdać egzamin gramatyczny</li>
<li>Dopiero kiedy spróbowałem inną metodą na podstawie naturalnego procesu nauki</li>
<li>Wreszcie odniosłem sukces – właśnie z językiem polskim</li>
<li>Już opisałem tę metodę wiele razy, ale zawsze bardzo ogólnie</li>
<li>Ten e-book będzie zawierał konkretne, szczegółowe instrukcje ‘krok po kroku’</li>
<li>Jak korzystać z tej metody</li>
<li>Oraz wskazówki o tym jak zmienić ją</li>
<li>Żeby dopasowała się do Twoich – no – potrzeb</li>
<li> I osobistych preferencji</li>
<li>Jak powiedziałem wcześniej będzie również tłumaczenie na język polski</li>
<li>[JAK MÓZG UCZY SIĘ JĘZYKÓW?]        	</li>
<li>Ludzki mózg jest naturalnie zaprojektowany, żeby nauczyć się języków</li>
<li>To właśnie dlatego, że talent jest niepotrzebny</li>
<li>Jesteś człowiekiem – dobrze – możesz nauczyć się języków</li>
<li>Lingwiści mówią o pewnych narzędziach w mózgu -  w naszych mózgach</li>
<li>Pod nazwą „LAD”, czyli Language Acquisition Device</li>
<li>Po polsku  - Narzędzie do nauki języków</li>
<li>No – na moim blogu w artykule na ten sam temat</li>
<li> Jest kilka ciekawych linków o tym wszystkim</li>
<li>Więc zapraszam do czytania</li>
<li>Ale wracając do tematu</li>
<li>Jeśli aktywujesz te narzędzie</li>
<li>Twój mózg zacznie uczyć się języka naturalnie i nieświadomie</li>
<li>Więc pytanie brzmi „Jak ją aktywować?”</li>
<li>No – to rzeczywiście jest bardzo proste</li>
<li> [FORMUŁA DO NAUKI JĘZYKÓW]        	</li>
<li>Według ligwistów aktwyjesz „LAD”, czyli narzędzie do nauki języków</li>
<li>Słuchania i ewentualnie, czytania wiadomości w danym języku, który rozumiesz</li>
<li>Lingwiści nazywają taką wiadomość, taką zawartość   – „Comprehensable Input”</li>
<li>Wogóle nie wiem jak przetłumaczyć „Comprehensible Input” na polski</li>
<li>Może – „zrozumiała zawartość”, „zrozumiała treść”</li>
<li>No – wiadomość w ogólnym sensie – no – również pasuje do tego kontekstu</li>
<li>Ale jakoś brzmi mi dziwnie  - „zrozumiała wiadomość”</li>
<li>No – w każdym razie „Comprehensable Input” i „LAD”</li>
<li>Działają najlepiej, najefektywniej kiedy jesteś zainteresowany tą zawartością</li>
<li>I kiedy jest jak najmniej stresu</li>
<li>I wszyscy uczą się języków w ten sposób</li>
<li>Nawet Ci, którzy skutecznie nauczyli się języka na tradycyjnym kursie</li>
<li>Ale nauczenie się – no – zasad gramatycznych nie było powodem ich sukcesu</li>
<li>Było to „Comprehensable Input”</li>
<li>Głównym problemem z tradycyjnymi kursami</li>
<li>Jest to, że dziewięćdziesiąt procent czasu</li>
<li>Jest spędzone na zadaniach, które nie aktywują „LAD” wogóle</li>
<li>I również jest tendencja, żeby skupiać się zbyt dużo – może za dużo</li>
<li>Na błędach i poprawkach co może prowadzić to większego stresu</li>
<li>I – no – materiały do nauki zazwyczaj</li>
<li>Nie zawsze – ale zazwyczaj są nudne i nie prawdziwe</li>
<li>I to właśnie dlatego takie kursy działają taki powoli albo wcale nie</li>
<li>[JEDEN DUŻY PROBLEM!]</li>
<li>Mimo tego, że formuła jest bardzo prosta</li>
<li>Jest jednym dużym problemem</li>
<li>Jak możesz rozumieć język, którym jeszcze nie mówisz?</li>
<li>No – to właśnie dlatego ta metoda może być pożyteczna</li>
<li>Oczywiście nie ma tylko jednej poprawnej metody</li>
<li>Najlepsza metoda dla Ciebie zalezy od Twoich osobistych preferencji i potrzeb</li>
<li>Ale wszystkie efektywnie metody składaja się z trzech części</li>
<li>„Żródło interesujących zawartości w danym języku”</li>
<li>„Metoda do rozumienia tej zawartości”</li>
<li>I „System do powtarzania tego, czego się uczyłeś”</li>
<li> Ale wszystkie te części moga być zmienione</li>
<li>Żeby pasowały do Twoich potrzeb oraz osobistych preferencji</li>
<li>[PLUSY DO SAMODZELNEJ NAUKI]</li>
<li>Kurs w realnym świecie z nauczycielem może być dobry z kilku powodów</li>
<li>Na przykład</li>
<li>Masz eksperta – nauczyciela – którego możesz prosić o porady i wyjasnienia</li>
<li>Wszystko już jest dla Ciebie zaplanowane</li>
<li>I możesz rozmawiać towarzysko z innymi uczącymi się</li>
<li>I – no – ludzie z natury są towarzyscy</li>
<li>Natomiast, myślę, że jest o wiele więcej minusów</li>
<li>Na przykład</li>
<li>Kurs idzie w tempie zależnym od reszty uczących się</li>
<li>Więc może być za szybko albo powoli</li>
<li>Musisz uczyć się tego co zaplanował nauczyciel</li>
<li>To może być dla Ciebie nudne albo nie dotyczyć Twoich celów</li>
<li>Musisz jechać do konkretnego miejsca, o konkretnej godzinie</li>
<li>I nie możesz uczyć się kiedy chcesz</li>
<li>I nie uczysz się aktywnie sto procent czasu</li>
<li>Na przykład</li>
<li>Kiedy inny uczący się odpowiada na pytania</li>
<li>Zależnie od nauczyciela i innych uczących się</li>
<li>No – może być bardzo stresująco i zwykle o wiele więcej kosztuje</li>
<li>Więc w sumie możesz osiągnąć więcej, szybciej, wygodniej samodzielną nauką</li>
<li>I oczywiście kiedy chcesz zapytać eksperta</li>
<li>Jest wiele stron internetowych – no – gdzie może to robić</li>
<li>Na przykład – BiblioBird</li>
<li>[CO BĘDZIE ZAWIERAŁ TEN DARMOWY E-BOOK?]</li>
<li>W tym e-booku będę opisywał dlaczego ta metoda działa</li>
<li>Bardziej i szczegółowo niż tutaj</li>
<li>Jak znaleźć zawartość, która jest interesująca i na odpowiednim poziomie</li>
<li>Będę opisywał parę dobrych metod do rozumienia tej zawartości</li>
<li>I parę systemów do powtarzania tego, czego się uczyłeś</li>
<li>To wszystko będzie na podstawie tej metody</li>
<li>Z której sam korzystałem, żeby nauczyć się języka polskiego</li>
<li>Ale nie tylko, bo również rozmawiałem z wieloma ludźmi</li>
<li>Którzy korzystali z mojej metody albo z podobnych</li>
<li>Dodam informacje o innych wersjach tej metody</li>
<li>Więc po przeczytaniu tego e-booka, będziesz mógł stworzyć własną metodą</li>
<li>Żeby nauczyć się dowolnego języka efektywnie</li>
<li>[CZY TO CHCESZ? DAJ MI ZNAĆ!]                        	</li>
<li>Jak powiedziałem ostatnim razem</li>
<li>Tylko chciałbym tworzyć coś – co naprawdę chcecie</li>
<li>Jeśli będę spędzał bardzo dużo czasu nad tym e-bookiem</li>
<li>No – potem – nikt go nie będzie chciał</li>
<li>No – będę się czuł jak idiota</li>
<li>No – już wiem z wyników ostatniej ankiety</li>
<li>Że dużo osób chce jakiś e-book ode mnie</li>
<li>Ale wszyscy byli zainteresowani innymi pomysłami</li>
<li>Więc jeśli jesteś zainteresowany właśnie tym darmowym e-bookiem</li>
<li>Pod tytułem „Naturalna nauka języka bez nauczyciela”</li>
<li>Proszę wypełnij nową ankietę</li>
<li>Link jest w opisie</li>
<li>Jeśli dość dużo osób go chce</li>
<li>Powiedzmy – trzysta – trzysta osób</li>
<li>No – wtedy napiszę go</li>
<li>Więc proszę wypełnij ankietę</li>
<li>Link jest w opisie</li>
<li>Jeśli macie jakiekolwiek inne opinie o tym pomyśle</li>
<li>Proszę napiszcie w komentarzach</li>
<li>Dziękuję za uwagę</li>
<li>Do widzenia</li>
<li>[JEŚLI PODOBAŁ CI SIĘ TEN FILMIK ZAPRASZAM DO SUBSKRYBOWANIA MOJEGO BLOGU NA STRONIE: LINGUATREK.COM/SUBSCRIBE]</li>
<li>Więc to może być za szybko albo powoli</li>
<li>I teraz dostaję sms-a</li>
<li>Do-do-do-do...</li>
</ul>
</div>

<div id="comments">
<a id="comment-1625"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Wychodzi na to, że nauka w szkołach językowych to nie tylko strata czasu, ale też wyciąganie pieniędzy. Tak zresztą pisze o tym Kauffman. To świetny biznes. Ludzie się uczą po kilka lat, płacą słono, a i tak nie osiągną biegłości.</p>
<p>System powtarzania jest istotny szczególnie przez pierwsze kilka lat. Nie wiem, może przez 3 lata, kiedy ta krzywa (nie wiem jak się nazywa) zbliża się do prostej, kiedy to, by osiągnąć następny poziom, potrzeba wielu lat.<br/>
W każdym razie, myślę że później powtarzanie w Anki czy SuperMemo nie jest tak na prawdę istotne, ale pod warunkiem, że czytamy, słuchamy (ten comprehensible input :D).</p>
<p>To, że zapomnimy wiele słów, cóż, to naturalne. Ucząc się angielskiego, stałem się bardziej świadomym „użytkownikiem” języka polskiego. Ileż to razy nie mogłem przypomnieć sobie jakiegoś słowa, by czasem, nawet po kilku dniach, go sobie przypomnieć. :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/141/1625">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/vlog-naturalna-nauka-j%C4%99zyka-bez-nauczyciela#comment-1625">Friday, April 6, 2012 - 09:17</a></span>
</div>
</div>
<a id="comment-1636"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/6a1a7edb1652a63ae7c8ab1699f9c74b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Taaaa coś wiem o takich kursach. Spędziłam na nich kilka lat, wydałam mnóstwo pieniędzy a tylko mnie dziady naciągnęli. Nie umiem swobodnie rozmawiać ani pisać. Żaden kurs nie przypadł mi do gustu, a te tematy przerabiane na zajęciach totalnie mnie nie interesowały.<br/>
W sumie prawdą jest że najlepiej nauczysz się języka, kiedy wyjedziesz do jakiegoś kraju i zostaniesz zmuszony by mówić w obcym języku 24h. Tylko nie każdy ma taką możliwość. Pozdrawiam.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/141/1636">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Paulina (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/vlog-naturalna-nauka-j%C4%99zyka-bez-nauczyciela#comment-1636">Saturday, April 7, 2012 - 13:23</a></span>
</div>
</div>
<div class="indented"><a id="comment-1637"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Bzdura z tym wyjazdem. Poczytaj sobie dane o imigrantach, którzy nawet w n-tym pokoleniu się nie asymilują i żyją w gettach. Masa Polaków, wykonująca brudną robotę na Wyspach, ledwo co duka po angielsku, albo jedynie czym się posługuje to slang robotniczy.</p>
<p>Ale co do kursów i nauki w szkołach, to zgoda. To strata czasu i wyciąganie pieniędzy z jednej strony, a świetny biznes z drugiej.<br/>
Wczoraj myślałem ogólnie o dzisiejszym systemie edukacji i stwierdziłem, że ten cały system jest chory. By go naprawić potrzeba wielu dziesiątków lat.</p>
<p>Swoją niechlubną rolę ma tu silne lobby wydawnicze, przymus edukacji i nastawienie pracodawców („pokaż mi swój papier”).<br/>
Na przykład czy nie chorym jest zmuszanie uczniów do nauki drugiego języka obcego, kiedy ponad 90% nie opanuje pierwszego? Ilu z nich znajdzie motywację do nauki niemieckiego czy francuskiego? Znów świetny przykład ciepłej posadki dla marnego nauczyciela i, w naszych warunkach, lobby czerwonego ZNP.</p>
<p>Czy w ogóle nie jest chorym ocenianie uczniów? 9 na 10 ludzi nie ma zdolności artystycznych, tymczasem nauczyciel ocenia według swojego widzimisię takie zdolności na lekcjach plastyki.<br/>
Podobnie ma się rzecz z wychowaniem fizycznym. Czyż nie jest idiotyzmem ocena takich umiejętności jak kampkowanie, bieganie na czas?!</p>
<p>Oczywiście sport jest jak najbardziej potrzebny, i nauczyciel powinien swoim autorytetem zachęcać do jego uprawiania a nie zniechęcania.</p>
<p>Dochodzimy tu do absurdu przymusu szkolnego. Mieszkasz w Polsce, to poznawaj jej dziedzictwo kulturowe, literaturę piękną i w szczególności najnowszą historię: kto był wrogiem i ile razy nas zaatakował. Nie jakieś bzdury o starożytnym Egipcie i Mezopotamii. Niech szkoła uczy posługiwania się bronią, by miał nas kto strzec! Jak nie, to wypad! Łobuzów nie chcemy!</p>
<p>Niestety nie doszedłem do tego, czy rozwiązaniem byłaby prywatyzacja szkół. Bo odcięcie kończyny nic nie da. Tu, jak pisałem, trzeba wymiany wielu pokoleń i zmiany świadomości społeczeństwa. Inaczej moglibyśmy na tym gruncie wyhodować rożnych paligłupów w szkołach podobnych do koranicznych. Po co sprzedawać im sznur?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/141/1637">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/vlog-naturalna-nauka-j%C4%99zyka-bez-nauczyciela#comment-1637">Sunday, April 8, 2012 - 06:01</a></span>
</div>
</div>
<a id="comment-1680"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Paulina!</p>
<p>Dzięki za komentarz. :-) To prawda, że jest najwięcej środków/materiałów/możliwości do nauki w kraju, gdzie się mówi danym językiem. Ale nikt nigdy nie jest zmuszony do mówienia tym językiem!</p>
<p>W Stanach jest dużo ludzi, którzy tutaj mieszkali bardzo długo (5, 10, 20, 50 lat) ale nie mówią po angielsku. Nawet są ci, którzy tutaj urodzili się ale nie mówią po angielsku.</p>
<p>Poza tym myślę, że jest wiele możliwości do nauki poza krajem! Sam nauczyłem się polskiego przeważnie tutaj w Stanach. O tym napisałem artykuł (po angielsku):</p>
<p><a href="http://www.linguatrek.com/blog/2011/07/you-dont-need-to-live-in-a-foreign-country-to-learn" title="http://www.linguatrek.com/blog/2011/07/you-dont-need-to-live-in-a-foreign-country-to-learn">http://www.linguatrek.com/blog/2011/07/you-dont-need-to-live-in-a-foreig...</a></p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/141/1680">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/04/vlog-naturalna-nauka-j%C4%99zyka-bez-nauczyciela#comment-1680">Tuesday, April 17, 2012 - 17:18</a></span>
</div>
</div>
</div><a id="comment-1639"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/94b80efe1eb58091420ae1b693aba52c?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Ja jestem teraz uczennicą 2 klasy gimnazjum niedawno natknęłam się na program Pana Davida na youtube, ciesze się z tego bardzo bo chce poznawać język angielski a choć mamy dobre podręczniki one mi nie wystarczają. Jeśli chodzi właśnie o naukę dla siebie a nie dla ocen rzeczywiście przynosi ona efekty. Przede wszystkim nie doświadczamy stresu co jest okropne, w szkole jednak taki stres jest nieodłącznym elementem. Wielu nauczycielom wystarczy tylko byśmy zapamiętali to w pamięci krótkotrwałej nie jest dziwne wiec, że uczniowie uczą się metodą zakuć, zdać zapomnieć. My mamy akurat panią, która dobrze nas uczy ale gdy uczymy się na konkretny termin to czego nauczyliśmy się łatwo jest zapomnieć. Jeszcze jest sprawa z niemieckim pan9i zawsze powtarza, że musi nas nauczyć na egzamin po 3 gimnazjum bez względu na to czy wybierzemy język niemiecki czy angielski. Uczymy się masy słówek a po kolejnym dziale już poprzedniego nie pamiętamy czy jest w tym sens. Szkoda, że przez to, iż mam tyle lekcji codziennie wracam do domu ok. 15-16 i na dodatkową naukę nie mam za bardzo czasu bo muszę się uczyć na sprawdzian, pytanie czy kartkówkę :(. Ale dzięki temu, że mam Pana Davida angielski z pewnością wejdzie mi lepiej do głowy :).</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/141/1639">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Katexoxo (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/vlog-naturalna-nauka-j%C4%99zyka-bez-nauczyciela#comment-1639">Sunday, April 8, 2012 - 15:21</a></span>
</div>
</div>
<a id="comment-1642"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a165f4815c3c6d4bf1f4867df4e3638e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>David Snopek ma Racje!</p>
<p>Jestem sam świadkiem że kursy i prywatne lekcje nic nie pomagają.<br/>
Straciłem masę pieniędzy i czasu.<br/>
Teraz umiem tylko w 50% czytać i rozumieć nie które teksty.<br/>
Jak słucham osobę mówiącą po angielsku kompletnie nic nie rozumiem..<br/>
Trzeba ćwiczyć samemu w domu, pojechać do kraju gdzie językiem używanym jest angielski i wtedy jest Efekt! Wiem bo byłem w Hiszpanii 3lata pracowałem jako elektryk samochodów osobowych i ciężarowych!<br/>
Teraz na prawdę mogę jechać do Hiszpanii, Portugalii czy Meksyku i rozmawiam jak Hiszpan...<br/>
Mam zamiar otrzymać ten ebook od Davida, zacząć sam się poduczać na jego zasadach jakie on tam przedstawia w ebooku i chcę wyjechać do UK do pracy lub do USA Georgii do miasta Atlanta ponieważ mam tam rodzinę! Pozdrawiam</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/141/1642">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Keiro (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/vlog-naturalna-nauka-j%C4%99zyka-bez-nauczyciela#comment-1642">Monday, April 9, 2012 - 14:33</a></span>
</div>
</div>
<div class="indented"><a id="comment-1681"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Gratuluję Ci sukcesu w nauce hiszpańskiego i angielskiego! Pozdrawiam serdecznie, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/141/1681">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/04/vlog-naturalna-nauka-j%C4%99zyka-bez-nauczyciela#comment-1681">Tuesday, April 17, 2012 - 17:22</a></span>
</div>
</div>
</div><a id="comment-1678"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/7b17158aeaf9e9775d3b313e3aca6d70?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Zgadzam się w zupełności z moimi przedmówcami. Ja również należę do grupy osób tułających się po kursach i niestety ale tracących mnóstwo pieniędzy na wszelakiego rodzaju szkolenia i kursy językowe ....heeehhh<br/>
Panie Dawidzie, czekam z niecierpliwością na Pańskiego ebooka.<br/>
Pozdrawiam - Marek</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/141/1678">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wachmistrz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/vlog-naturalna-nauka-j%C4%99zyka-bez-nauczyciela#comment-1678">Tuesday, April 17, 2012 - 02:22</a></span>
</div>
</div>
<a id="comment-1774"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f8f29bb81f04dc1a776e283f6fe63263?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Jasne że wielu będzie zainteresowanych eBookiem.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/141/1774">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">jarek65w (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/04/vlog-naturalna-nauka-j%C4%99zyka-bez-nauczyciela#comment-1774">Saturday, April 28, 2012 - 07:00</a></span>
</div>
</div>
</div>
