---
permalink: /blog/2013/09/im-returning-to-my-blog-and-i-gave-an-interview/
layout: blog-old
title: 'I''m returning to my blog! (and I gave an interview)'
day: 24
month: Sep
year: 2013
category: personal
tags: [ ]
language: en
translation: /blog/2013/09/vlog-wracam-do-blogowania-i-by%C5%82-wywiad/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2013/09/deck.jpg" rel="lightbox"><img alt="Behind our new apartment" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2013/09/deck.jpg" title="Behind our new apartment!"/></a><div class="caption">Behind our new apartment!</div></div>
<p>Hi Everyone!</p>
<p>I hope you had an excellent summer. :-) My wife and I certainly did! Since <a href="http://www.linguatrek.com/blog/2013/04/im-going-on-a-short-vacation-from-blogging-personal-note">my last article</a>, we've moved to a new apartment and went on vacation in California.</p>
<p>I just wanted to let you know that I'm slowly returning to my blog! I've already recorded material for two new videos about the USA and I've got an idea for an article and video about language learning. Hopefully, I'll finish them soon!</p>
<p>Also, last week Thursday (2013-09-19) I gave an interview on EnglishWithKatie.com! Katie is an American, living in Japan, who blogs about learning English. We talked about many things:</p>
<ul>
<li>Language learning</li>
<li>Traveling the world</li>
<li>Discrimination in the USA</li>
<li>How Americans feel connected to their roots</li>
<li>Personal development</li>
</ul>
<p><a href="http://englishwithkatie.com/live-wkatie-adler-call-in-internet-show-replays-2/">Listen to the full interview!</a> (search for "David Snopek" on that page)</p>
<p>I hope you like it!</p>
<p>Best regards, <br/>
David Snopek.</p>
<p><em>PS: I recorded a <a href="http://www.linguatrek.com/node/253">video in Polish</a> about this too!</em></p>
</div>

<div id="comments">
<a id="comment-5210"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/56f6a1df3a7bf7d264084e93c2ee5858?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi! I have been wondering lately why I haven't heard from You. And today I get an email about the post on ur blog. I am glad that You are back. You motivate me to learn English. I am excited to listen to this interview. Take care! Greetings from Poznań :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/252/5210">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Arwena121 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/im-returning-to-my-blog-and-i-gave-an-interview#comment-5210">Tuesday, September 24, 2013 - 10:02</a></span>
</div>
</div>
<a id="comment-5211"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e77cfb75560093420afb2a184320b7b4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Glad to see you again. I hope it works on financial side too, so you can spend more time on the project.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/252/5211">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">2701 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/im-returning-to-my-blog-and-i-gave-an-interview#comment-5211">Tuesday, September 24, 2013 - 10:23</a></span>
</div>
</div>
<div class="indented"><a id="comment-5232"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks! Heh, me too. :-) That was the original goal, but it hasn't worked out as well as I had hoped so far. Hopefully, it will improve this time around!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/252/5232">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/09/im-returning-to-my-blog-and-i-gave-an-interview#comment-5232">Wednesday, September 25, 2013 - 17:05</a></span>
</div>
</div>
</div><a id="comment-5212"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://loverofenglishvocabulary.blogspot.ie/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4219f6a9d2a511669c9d445405dd2e5e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hi David,</p>
<p>nice to hear from you. I am going to listen to this interview as soon as possible.</p>
<p>I am waiting for your articles which are very motivating and well written!</p>
<p>Wal</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/252/5212">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://loverofenglishvocabulary.blogspot.ie/" rel="nofollow">Wal</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/im-returning-to-my-blog-and-i-gave-an-interview#comment-5212">Tuesday, September 24, 2013 - 12:28</a></span>
</div>
</div>
<a id="comment-5213"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c360df8105b473e669ad7493cbaf8714?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Welcome back! I can't wait to see what's coming.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/252/5213">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Tikket (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/im-returning-to-my-blog-and-i-gave-an-interview#comment-5213">Tuesday, September 24, 2013 - 12:58</a></span>
</div>
</div>
<a id="comment-5221"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.urdureading.com/urdu-learning.php" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/78660ed7b9df3129775f3017f57e7d74?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Welcome back i am new to your blog. I am interesting in learning French. Last year i had learned Urdu from urdureading.com. Now can you help me in learning French. Thanx</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/252/5221">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.urdureading.com/urdu-learning.php" rel="nofollow">Aini Malik</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/im-returning-to-my-blog-and-i-gave-an-interview#comment-5221">Wednesday, September 25, 2013 - 06:06</a></span>
</div>
</div>
<div class="indented"><a id="comment-5233"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Wow, Urdu! That's super interesting - thanks for the link. I wish you the best of luck with your French!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/252/5233">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/09/im-returning-to-my-blog-and-i-gave-an-interview#comment-5233">Wednesday, September 25, 2013 - 17:07</a></span>
</div>
</div>
<div class="indented"><a id="comment-5248"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.urdureading.com/urdu-learning.php" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/78660ed7b9df3129775f3017f57e7d74?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>My pleasure David :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/252/5248">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.urdureading.com/urdu-learning.php" rel="nofollow">Aini Malik</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/im-returning-to-my-blog-and-i-gave-an-interview#comment-5248">Friday, September 27, 2013 - 05:02</a></span>
</div>
</div>
</div></div><a id="comment-5249"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/b0a74583de719f825dd1424a7868e4ae?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>It's supper that you come back. I read you guide again in English this time, some like you Harry Potter. I'm reading and writing unknowed words and translat them on Polish. Tedious job.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/252/5249">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/im-returning-to-my-blog-and-i-gave-an-interview#comment-5249">Friday, September 27, 2013 - 05:25</a></span>
</div>
</div>
<div class="indented"><a id="comment-5268"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>That's great! Let me know how it goes as you get further. :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/252/5268">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/09/im-returning-to-my-blog-and-i-gave-an-interview#comment-5268">Saturday, September 28, 2013 - 09:45</a></span>
</div>
</div>
</div><a id="comment-5253"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/96f05a197f0bc0f10864ca0160abb7a0?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi David! I've just finished listening your whole interview with Katie :) That was awsome! Lot's of very interesting threads and I've also found some questions which I would like to ask you during next voice meeting! So I hope we will hear each other soon! :)</p>
<p>Regards,</p>
<p>Gutek</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/252/5253">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Gutek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/im-returning-to-my-blog-and-i-gave-an-interview#comment-5253">Friday, September 27, 2013 - 15:18</a></span>
</div>
</div>
<div class="indented"><a id="comment-5269"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Awesome! I'm looking forward to it. :-) Actually, maybe you should post your questions here (or maybe better in the Polish version of this article), but I won't answer them until the next voice meeting which will maybe encourage more people to come to the meeting! What do you think?</p>
<p>Talk to you soon!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/252/5269">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/09/im-returning-to-my-blog-and-i-gave-an-interview#comment-5269">Saturday, September 28, 2013 - 09:49</a></span>
</div>
</div>
<div class="indented"><a id="comment-5283"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/96f05a197f0bc0f10864ca0160abb7a0?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>OK good idea :) I'll write my questins on polish platform but from today's perspective I can't ensure if I will be able to join the meeting this week (but I'll try my best to do it :) )</p>
<p>Regards David!</p>
<p>Gutek</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/252/5283">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Gutek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/im-returning-to-my-blog-and-i-gave-an-interview#comment-5283">Tuesday, October 1, 2013 - 16:42</a></span>
</div>
</div>
</div></div><a id="comment-5256"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/15a8a5e73b9def997db642e6ac60ad60?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>hi David<br/>
seeing you back here has made me start to learn polish again,i think harry potter was way too far above my level and i gave up after about 6 months but i decided to start again as soon as i got your message.Ive got so many polish friends now in england i cant give up on this language.<br/>
Maybe one day we could talk on skype and discuss language learning?<br/>
Best wishes Roy</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/252/5256">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Roy (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/im-returning-to-my-blog-and-i-gave-an-interview#comment-5256">Friday, September 27, 2013 - 15:57</a></span>
</div>
</div>
<div class="indented"><a id="comment-5270"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Roy!</p>
<p>That's great that you're getting back into your Polish! Yeah, if Harry Potter was too far above your level, try something else - there's tons of options!</p>
<p>I don't have a lot of time for Skype calls, but we can probably figure something out eventually. :-) It'd be great if you came to one of the voice meetings on Bibliobird! We usually spent 50-75% of the time practicing English and then the rest practicing Polish. I'm sure everyone would be happy to have another native speaker of English. ;-)</p>
<p>We arrange the time week-to-week on this post on the forum:</p>
<p><a href="https://en.bibliobird.com/node/16345" title="https://en.bibliobird.com/node/16345">https://en.bibliobird.com/node/16345</a><br/>
(Lately posts have been in Polish, but feel free to write in English - everyone will understand)</p>
<p>If you're interested, please let me know when you'll be available next week and I can try and take that into account for when we plan the day and time for the next meeting.</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/252/5270">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/09/im-returning-to-my-blog-and-i-gave-an-interview#comment-5270">Saturday, September 28, 2013 - 09:53</a></span>
</div>
</div>
</div><a id="comment-5285"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/15a8a5e73b9def997db642e6ac60ad60?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>hi<br/>
i would love to join you on bibliobird,im usually available all the time in the evenings apart from friday and saturday evenings.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/252/5285">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Roy (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/im-returning-to-my-blog-and-i-gave-an-interview#comment-5285">Tuesday, October 1, 2013 - 17:45</a></span>
</div>
</div>
<div class="indented"><a id="comment-5286"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Roy,</p>
<p>I didn't know when you were going to get back to me, so I ended up scheduling this weeks meeting yesterday - it's on Thursday at 18:30 UTC (which is 19:30 Polish time). I hope you can make it!</p>
<p>Here's some instructions on how to connect:</p>
<p><a href="https://pl.bibliobird.com/wiki/Czat_g%25C5%2582osowy" title="https://pl.bibliobird.com/wiki/Czat_g%25C5%2582osowy">https://pl.bibliobird.com/wiki/Czat_g%25C5%2582osowy</a></p>
<p>Unfortunately, the instructions are in Polish - but it's pretty simple language so I think you'll be alright. :-) However, if you have any questions/problems, just let me know!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/252/5286">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/09/im-returning-to-my-blog-and-i-gave-an-interview#comment-5286">Wednesday, October 2, 2013 - 06:46</a></span>
</div>
</div>
</div><a id="comment-5289"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/15a8a5e73b9def997db642e6ac60ad60?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Think ive got it working ok see you later</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/252/5289">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Roy (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/im-returning-to-my-blog-and-i-gave-an-interview#comment-5289">Thursday, October 3, 2013 - 04:32</a></span>
</div>
</div>
<a id="comment-5309"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/b6958af3a4e8a683cfff7ab13ab3cfa8?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć David!<br/>
Miałem pisać, żebyś napisał już coś, byś napisał coś nowego na blogu!<br/>
A tu proszę! :)<br/>
Mam pewien pomysł na projekt, który pozwoliłby wielu ludziom przyswoić fonetykę angielską (tzn. poprawić umiejętność rozumienia ze słuchu) w dość bezbolesny sposób - musiałbyś jednak wykonać wiele godzin nagrań. Czy byłbyś zainteresowany? Nie wiem, czy jesteś tego świadom, ale fonetyka angielska ma wiele haczyków i kruczków, które czynią go trudnym pod tym względem. Angielski, który na codzień używają Amerykanie bardzo się różni od jego wersji podręcznikowej - głównie właśnie za sprawą występującego w żywej mowie szerokiego spektrum zjawisk fonetycznych! Z oczywistych przyczyn taki projekt byłby nakierowany na amerykańską wersję angielskiego :).<br/>
Ciekaw jestem, czy ucząc się polskiego też masz takie wrażenie, tzn. czy mówiony polski w wersji oficjalnej i wersji potocznej bardzo się (w Twojej opinii) różnią, jeśli chodzi o warstwę fonetyczną? </p>
<p>Pozdrawiam :).</p>
<p>PS. Aha, mam jeszcze kilka ciekawych pomysłów :). Może napiszę o nich później :).</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/252/5309">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Pawel (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/im-returning-to-my-blog-and-i-gave-an-interview#comment-5309">Friday, October 11, 2013 - 09:50</a></span>
</div>
</div>
<div class="indented"><a id="comment-5355"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Paweł!</p>
<p>To brzmi jak bardzo ciekawy projekt! Daj mi znać, jak to pójdzie. Jeśli masz link chętnie promowałby go na moim blogu.</p>
<p>Niestety, zaledwie mam czas na mój blog i odpowiadanie na komentarze ;-) - tak więc nie mam czasu na nowe projekty.</p>
<p>Życzę jednak powodzenia!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/252/5355">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/09/im-returning-to-my-blog-and-i-gave-an-interview#comment-5355">Wednesday, October 23, 2013 - 11:10</a></span>
</div>
</div>
</div>
</div>
