---
permalink: /blog/2013/09/vlog-wracam-do-blogowania-i-był-wywiad/
layout: blog-old
title: 'Vlog: Wracam do blogowania! (i był wywiad)'
day: 24
month: Sep
year: 2013
category: personal
tags: 
  - 'vlog'
language: en
translation: /blog/2013/09/vlog-wracam-do-blogowania-i-by%C5%82-wywiad/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2013/09/deck.jpg" rel="lightbox"><img alt="Za naszym nowym mieskaniem" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2013/09/deck.jpg" title="Za naszym mieszkaniem!"/></a><div class="caption">Za naszym mieszkaniem!</div></div>
<p>Cześć Wszystkim!</p>
<p>Mam nadzieję, że mieliście fajne lato. :-) Razem z żoną na pewno mieliśmy!</p>
<p>Nagrałem ten krótki filmik, żeby dać Wam znać, że powoli wracam do blogowania! (<a href="http://www.linguatrek.com/blog/2013/04/b%C4%99d%C4%99-na-kr%C3%B3tkim-urlopie-od-blogowania-osobista-notatka">Moja przerwa zaczęła się w kwietniu</a>).</p>
<p>W filmiku opowiadam o moich planach na nowe filmiki i artykuły. Jest również kilka minut z wywiadu, który udzieliłem na stronie EnglishWithKatie.com w zeszłym tygodniu (link do całości poniżej). Mam nadzieję, że będzie Wam ciekawy!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/-YWVWxK3wik?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/-YWVWxK3wik?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p><a href="http://englishwithkatie.com/live-wkatie-adler-call-in-internet-show-replays-2/">Wysłuchaj wywiadu w całości!</a> (szukaj w stronie: "David Snopek")</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>

<div id="comments">
<a id="comment-5214"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3edaefc3d69a4bf6a0e4b474303c6d06?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć David<br/>
Niewiele rozumiem, mimo, że kilka razy wysłucham dialog.<br/>
Potrzebuję tekstu, tak jak w poprzednich filmikach.<br/>
Myślę, że wiele osób ma ten sam problem, co ja...<br/>
Pozdrawiam, Anna.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/253/5214">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anna Z (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/vlog-wracam-do-blogowania-i-by%C5%82-wywiad#comment-5214">Tuesday, September 24, 2013 - 13:24</a></span>
</div>
</div>
<div class="indented"><a id="comment-5229"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Anna,</p>
<p>No, niestety cała ta rozmowa trwa godzinę i potrzebowałbym pomocy, żeby napisać pełną transkrypcję. ;-) Razem (to znaczy z pomocą fanów) dodaliśmy napisy do kilku z moich filmików korzystając z programu Amara - mógłbym przesłać to w całości jako film do YouTube i moglibyśmy zrobić to samo jeśli jest dość chętnych!</p>
<p>Ale jeśli to się nie stanie - na pewno będą nowe (krótsze) materiały po angielsku i dodam do nich transkrypcję. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/253/5229">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/09/vlog-wracam-do-blogowania-i-by%C5%82-wywiad#comment-5229">Wednesday, September 25, 2013 - 17:00</a></span>
</div>
</div>
<a id="comment-5290"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/470822f7fe63f33a18c15068e4f7cf4e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witam,</p>
<p>Spróbuj włączyć w player youtube "Automatic caption" (taka ikona koło Watch Later), powinno pomóc :)</p>
<p>Pozdrawiam<br/>
Rob</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/253/5290">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/vlog-wracam-do-blogowania-i-by%C5%82-wywiad#comment-5290">Thursday, October 3, 2013 - 09:26</a></span>
</div>
</div>
</div><a id="comment-5215"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/04afbf28ea12408be8a262e06f16c671?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>super, czekam na nowe filmiki.<br/>
sam dialog dla mnie był w większości zrozumiały. jak już kiedyś tu wspominałem , Dawid masz bardzo poprawną (jak dla obcokrajowca) wymowę.<br/>
fajnie  będzie oglądać Twój blog</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/253/5215">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Tomasz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/vlog-wracam-do-blogowania-i-by%C5%82-wywiad#comment-5215">Tuesday, September 24, 2013 - 13:38</a></span>
</div>
</div>
<a id="comment-5216"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/186529be0fd52486ee73387fa637e3d6?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hej David<br/>
Fajnie ,że wracasz do blogowania. Mam nadzieję na więcej vlogów w języku angielskim. Jeśli chodzi o dialog to większą część zrozumiałem.<br/>
Pozdrawiam,</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/253/5216">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Łukasz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/vlog-wracam-do-blogowania-i-by%C5%82-wywiad#comment-5216">Tuesday, September 24, 2013 - 14:12</a></span>
</div>
</div>
<a id="comment-5217"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3a4e91d0699af87c9bc6bdc7699189b9?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hej David,<br/>
Dla mnie wywiad był ciekawy i zrozumiały, mówisz bardzo wyraźnie ;-)<br/>
świetnie, że wracasz do blogowania! twoje filmiki dodają mi motywacji! Ja mam problemy z mówieniem po angielsku, większość rozumiem, zarówno tekst pisany, jak i mówiony, znam sporo słów, ale gdy mam coś powiedzieć, nie potrafię tych słów użyć ;/</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/253/5217">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Mary (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/vlog-wracam-do-blogowania-i-by%C5%82-wywiad#comment-5217">Tuesday, September 24, 2013 - 15:32</a></span>
</div>
</div>
<a id="comment-5218"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://notjustajd.wordpress.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/23d5ba8e200b43304276d42213806e96?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Cześć David!  To jest bardzo fajne, że wracasz do tego blogu!  Bardzo mi się podoba wasze nowe mieszkanie.  Ten widok jest piękny, a mam nadzieję, że lubiliście twoje wakacje!  Czekam na twoich następnych vlogów.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/253/5218">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://notjustajd.wordpress.com" rel="nofollow">Tara H</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/vlog-wracam-do-blogowania-i-by%C5%82-wywiad#comment-5218">Tuesday, September 24, 2013 - 20:47</a></span>
</div>
</div>
<a id="comment-5220"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/96f05a197f0bc0f10864ca0160abb7a0?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hej David! Świetnie, że wracasz do regularnego blogowania. Jesteś wspaniałą osobowością i z przyjemnością będę śledził Twoje przyszłe wpisy na linguatrek.com :) Twój polski jest bardzo dobry a fragment wywiadu zamieszczony u góry bardzo mnie zaciekawił (cieszę się, że zrozumiałem z niego wszystko :)) Jak tylko znajdę chwilę czasu postaram się wysłuchać jego całość. Pozdrawiam i być może do usłyszenia na dzisiejszym spotkaniu głosowym :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/253/5220">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Gutek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/vlog-wracam-do-blogowania-i-by%C5%82-wywiad#comment-5220">Wednesday, September 25, 2013 - 04:48</a></span>
</div>
</div>
<div class="indented"><a id="comment-5227"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Gutek!</p>
<p>Dzięki za przemiłe słowa i uczestnictwo w dzisiejszym spotkaniu głosowym. :-) Do usłyszenia!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/253/5227">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/09/vlog-wracam-do-blogowania-i-by%C5%82-wywiad#comment-5227">Wednesday, September 25, 2013 - 16:51</a></span>
</div>
</div>
<div class="indented"><a id="comment-5245"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/96f05a197f0bc0f10864ca0160abb7a0?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Dzięki również! Bardzo miło było znowu Cię usłyszeć :) Równocześnie zachęcam innych do dołączenia do naszych spotkań. To świetna okazja na przełamywanie blokad pojawiających się podczas rozmów z native speakerami oraz na szlifowanie umiejętności mówienia w języku angielskim :) </p>
<p>Do ponownego usłyszenia!</p>
<p>Gutek</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/253/5245">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Gutek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/vlog-wracam-do-blogowania-i-by%C5%82-wywiad#comment-5245">Thursday, September 26, 2013 - 17:20</a></span>
</div>
</div>
<div class="indented"><a id="comment-5251"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a0c2ba2549ee9fe5fca83ff1274a9fdc?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hej Gutek, nie miałem pojęcia że organizowane są jakieś spotkania głosowe od czasu kiedy David zrezygnował, a na forum też nic takiego nie widzę. Mógłbyś napisać coś więcej?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/253/5251">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Widur (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/vlog-wracam-do-blogowania-i-by%C5%82-wywiad#comment-5251">Friday, September 27, 2013 - 11:02</a></span>
</div>
</div>
<div class="indented"><a id="comment-5252"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/96f05a197f0bc0f10864ca0160abb7a0?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hej Widur! W ciągu kilku minionych tygodni były organizowane otwarte spotkania głosowe (czyli w odróżnieniu do poprzednich, każdy chętny mógł wziąć w nich udział). Przeoczyłeś informacje o nich zapewne z tego względu, że nie były one ogłaszane w dziale "Premium meetings/Spotkania premium" tak jak to wcześniej miało miejsce, tylko David ogłosił chęć zorganizowania tych spotkań w dziale "General Discussion / Dyskusja ogólna" w temacie założonym przez Jucha - "conversation". :)</p>
<p>Mam nadzieję, że przy najbliższej okazji do nas dołączysz :)</p>
<p>Pozdrawiam,</p>
<p>Gutek</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/253/5252">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Gutek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/vlog-wracam-do-blogowania-i-by%C5%82-wywiad#comment-5252">Friday, September 27, 2013 - 13:03</a></span>
</div>
</div>
<div class="indented"><a id="comment-5266"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Oto bezpośredni link do wątku na forum Bibliobirda o spotkaniach głosowych na rozmowę po angielsku:</p>
<p><a href="https://pl.bibliobird.com/node/16345" title="https://pl.bibliobird.com/node/16345">https://pl.bibliobird.com/node/16345</a></p>
<p>Każdy może brać w nich udział! Zapraszamy!</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/253/5266">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/09/vlog-wracam-do-blogowania-i-by%C5%82-wywiad#comment-5266">Saturday, September 28, 2013 - 09:38</a></span>
</div>
</div>
</div></div></div></div></div><a id="comment-5222"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3b091c1d403d947dc954eee088db1cc5?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witaj Davidzie! :D<br/>
Miło, że znów coś zamieszczasz na yt. Jeżeli mogę to dam ci kilka wskazówek : gdy mówisz "udzieliłem wywiad" lepiej będzie brzmiało, gdy to odmienisz "udzieliłem wywiadu. " . Takie drobiazgi.;) albo "Proszę mi powiedz co myślisz o moich..." lepiej " Proszę, powiedz mi, co myślisz o moich ..." Domyślam się , że to przez ten długi okres, gdy nie mówiłeś po polsku. Ale to tylko drobne błędy.<br/>
Pozdrawiam , Wiola</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/253/5222">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wiola (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/vlog-wracam-do-blogowania-i-by%C5%82-wywiad#comment-5222">Wednesday, September 25, 2013 - 09:52</a></span>
</div>
</div>
<div class="indented"><a id="comment-5228"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Wiola!</p>
<p>Dziękuję bardzo za poprawki. No, może jest to przez długi okres, gdy nie mówiłem po polsku ale zawsze robię kilka błędów. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/253/5228">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/09/vlog-wracam-do-blogowania-i-by%C5%82-wywiad#comment-5228">Wednesday, September 25, 2013 - 16:53</a></span>
</div>
</div>
<div class="indented"><a id="comment-5241"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3b091c1d403d947dc954eee088db1cc5?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Jak mówiłam, to tylko drobiazgi. I tak jest bardzo dobrze z twoim jęz. polskim. :)<br/>
Pozdrawiam i życzę dalszych sukcesów ;), Wiola</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/253/5241">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wiola (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/vlog-wracam-do-blogowania-i-by%C5%82-wywiad#comment-5241">Thursday, September 26, 2013 - 05:33</a></span>
</div>
</div>
</div></div><a id="comment-5223"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/6abde5bd5fabdcf20f2c21883d27f174?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Czołem David,<br/>
Bardzo się cieszę, że wracasz do blogowania. Trafiłam na Twojego bloga właśnie wtedy kiedy zawieszałeś jego działalność więc dla mnie to duża radość! Pozwól, że wrażę swój zachwyt nad Twojã zajomościã I wymowã języka polskiego. Czapki z głów Panowie I Panie (zapewne znasz to powiedzenie).<br/>
Oh I, nie wiem czy mogę ale ostatnie zdanie w Twojej wypowiedzi "mam nadzieję, że będzie Wam ciekawy", brzmi raczej hm? Niezbyt poprawnie. Było by lepiej powiedzieć "Mam nadzieję, że Was zaciekawi".<br/>
I am sooooo excited about your blog you can not even imagine!<br/>
Pisz, nagrywaj, bãdź!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/253/5223">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Renata (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/vlog-wracam-do-blogowania-i-by%C5%82-wywiad#comment-5223">Wednesday, September 25, 2013 - 10:10</a></span>
</div>
</div>
<div class="indented"><a id="comment-5230"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Renata!</p>
<p>Aha, dzięki za poprawkę. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/253/5230">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/09/vlog-wracam-do-blogowania-i-by%C5%82-wywiad#comment-5230">Wednesday, September 25, 2013 - 17:01</a></span>
</div>
</div>
</div><a id="comment-5225"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://lukaszwitosz.pl/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/5de67d4352a15ada828dda33173cfc9b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Świetne, że wracasz do blogowania! Czekam z niecierpliwością na nowe wpisy! Pozdrawiam.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/253/5225">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://lukaszwitosz.pl/" rel="nofollow">Łukasz</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/vlog-wracam-do-blogowania-i-by%C5%82-wywiad#comment-5225">Wednesday, September 25, 2013 - 13:06</a></span>
</div>
</div>
<a id="comment-5226"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a6280abc64e6226561b3b81bf471bd34?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Nieźle mówisz po polsku, mimo długiej przerwy :D<br/>
Świetny filmik, jestem zaskoczona, że dużo rozumiem z tej rozmowy :)<br/>
David, pokaż Californie w następnym filmiku!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/253/5226">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Emilia (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/vlog-wracam-do-blogowania-i-by%C5%82-wywiad#comment-5226">Wednesday, September 25, 2013 - 14:56</a></span>
</div>
</div>
<div class="indented"><a id="comment-5231"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Emilia,</p>
<p>Dzięki! :-)</p>
<p>Dość dużo osób prosiło o Kalifornię, więc na pewno będzie! Tylko, że najprawdopodobniej nie w następnym filmiku. Najpierw chciałbym zrobić coś na temat nauki języka!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/253/5231">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/09/vlog-wracam-do-blogowania-i-by%C5%82-wywiad#comment-5231">Wednesday, September 25, 2013 - 17:03</a></span>
</div>
</div>
</div><a id="comment-5235"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/19e4c44c8822e5a145bc437e534db378?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witaj, Dawidzie!</p>
<p>Wielokrotnie próbowałem się nauczyć angielskiego metodami tradycyjnymi i ponosiłem całkowite porażki...:)<br/>
Jednak przez te lata wchłonąłem jakoś trochę słownictwa i osłuchałem się nieco poprzez nagrania z różnych źródeł min. youtube itp.<br/>
Dlatego wasza rozmowa była dla mnie zrozumiała.<br/>
Harry Potter to niestety nie dla mnie, filmy są fajne, ale ja nie mogłem zmóc żadnej książki o nim po polsku...:)<br/>
Lubię książki Johna Grishama i nawet udało mi się przeczytać The Firm i The Street Lawyer po angielsku.<br/>
Teraz zainspirowany Twoim przykładem kupiłem audiobooka The Firm i jestem po pierwszym rozdziale jednocześnie czytając...:)<br/>
Mam pytanie - masz jakiś sposób na opanowanie użycia angielskich czasów by móc je stosować w rozmowie w sposób arefleksyjny tj. bez zastanawiania się? Bo ich użycie to taka trudność dla mnie jak dla Ciebie posługiwanie się językiem który miałby np. 72 czasy...:)</p>
<p>Pozdrawiam<br/>
Piotr</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/253/5235">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Piotr_G (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/vlog-wracam-do-blogowania-i-by%C5%82-wywiad#comment-5235">Wednesday, September 25, 2013 - 18:13</a></span>
</div>
</div>
<div class="indented"><a id="comment-5244"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/96f05a197f0bc0f10864ca0160abb7a0?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hej Piotr myślę, że dobrą odpowiedź na Twoje pytanie odnośnie opanowania angielskiej gramatyki, udziela AJ Hoge w jednym ze swoich filmików na youtube (jeśli nie masz problemów ze zrozumieniem tego co on mówi, to polecam zapoznanie się z wszystkimi jego 7 zasadami). Podaję link do filmiku: </p>
<p><a href="http://www.youtube.com/watch?v=U5DTgnS3KiI" title="http://www.youtube.com/watch?v=U5DTgnS3KiI">http://www.youtube.com/watch?v=U5DTgnS3KiI</a></p>
<p>Gdybyś miał problemy ze zrozumieniem to przetłumaczyłem dla Ciebie fragment tego video:</p>
<p>AJ Hoge mówi:</p>
<p>" Kiedy uczysz się reguł gramatycznych, skupiasz się na ANALIZOWANIU angielskiego. Innymi słowy myślisz o języku angielskim w sensie występowania różnych czasów. W przypadku języka pisanego takiego podejście jest dopuszczalne, ponieważ dysponujesz wtedy większą ilością czasu (możesz spokojnie pomyśleć nad tekstem, masz czas na poprawę ewentualnych błędów itp.). Nie ma potrzeby pisania błyskawicznie. ALE w momencie kiedy prowadzisz z kimś konwersację nie masz zbyt wiele czasu na zastanawianie się nad regułami gramatycznymi, czasami angielskimi. Ktoś zadaję Ci pytanie i musisz odpowiedzieć na nie natychmiast. Nie masz czasu na to aby myśleć o przyimkach, formach czasownikowych, zaimkach dzierżawczych itp. Jak więc native speakerzy nauczyli się gramatyki? Mogę Ci powiedzieć, że ja nigdy nie uczyłem się zasad gramatycznych aż do szkoły średniej, kiedy potrzebowałem tej wiedzy do pisania wypracowań. W college’u również uczyłem się zasad gramatycznych w celu poprawnego pisania wypracowań. Ale do zwyczajnego porozumiewania się nie potrzebowaliśmy studiowania gramatyki. Więc jak nauczyliśmy się tych zasad? (I tutaj kluczowy moment, z którego powinieneś wyciągnąć wniosek) AJ odpowiada, że gramatyki nauczył poprzez SŁUCHANIE. Przez słuchanie poprawnej angielszczyzny wciąż i bez końca. Więc najlepszą metodą na nauczenie się angielskiej gramatyki to wystawienie swojego umysłu na działanie tzw. INPUT  (czyli mowa o wszystkim co dostaje się do Twojego ucha: wszelkiego rodzaju audiobooki, angielskich podkasty, audycje radiowe itp.) Oczywiście gramatyki uczysz się nie tylko przez słuchanie ale również poprzez czytanie(słuchanie jest jednak kluczowe). Nie powinieneś jednak skupiać się na podręcznikach szkolnych (gdzie często mamy do czynienia ze sztucznym i nudnym językiem) tylko na normalnych, zwykłych  książkach np. o tematyce przygodowej, biograficznej, kryminalnej itp. (to co Cię interesuje najbardziej). Kiedy skupiasz się na gramatyce podczas mówienia to tak naprawdę tylko sobie szkodzisz."</p>
<p>Koniec cytatu</p>
<p>Konkludując, jeśli chcesz się nauczyć poprawnie mówić w języku angielskim (zachowując właściwe reguły gramatyczne), powinieneś skupić się przede wszystkim na słuchaniu różnych, INTERESUJĄCYCH Cię materiałów. (np. poprzez równoczesne czytanie i słuchanie audiobooka o przygodach Harrego Pottera albo innych książek, które są dla Ciebie najbardziej interesujące)</p>
<p>Mam nadzieję, że to co napisałem będzie dla Ciebie pomocne</p>
<p>Pozdrawiam!</p>
<p>Gutek</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/253/5244">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Gutek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/vlog-wracam-do-blogowania-i-by%C5%82-wywiad#comment-5244">Thursday, September 26, 2013 - 16:42</a></span>
</div>
</div>
<a id="comment-5264"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Piotr!</p>
<p>Gratuluję Ci postępów i osiągnięć do pory i jest fantastycznie, że teraz słuchasz The Firm po angielsku!</p>
<p>Co do pytania: zgadzam się zupełnie z Gutkiem i AJ Hoge'm. Napisałem coś podobnego w moim darmowym ebooku - jeśli go jeszcze nie czytałeś, gorąco polecam! Dostaniesz go, jeśli zasubskrybujesz mój blog:</p>
<p><a href="http://www.linguatrek.com/subscribe" title="http://www.linguatrek.com/subscribe">http://www.linguatrek.com/subscribe</a></p>
<p>Życzę Ci dalszych sukcesów!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/253/5264">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/09/vlog-wracam-do-blogowania-i-by%C5%82-wywiad#comment-5264">Saturday, September 28, 2013 - 09:33</a></span>
</div>
</div>
</div><a id="comment-5236"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8a252cf5861232b64310128068d1b01c?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Bardzo fajnie, że wróciłeś! Może dzięki Tobie znowu wzrośnie we mnie motywacja do nauki języków obcych :)<br/>
Nie mogę doczekać się kolejnego wpisu/filmiku!<br/>
Pozdrawiam,<br/>
Aneta</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/253/5236">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/vlog-wracam-do-blogowania-i-by%C5%82-wywiad#comment-5236">Thursday, September 26, 2013 - 04:05</a></span>
</div>
</div>
<a id="comment-5238"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c252e954ae9561636611138ff822ee50?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witam.</p>
<p>Jestem tutaj pierwszy raz:) Pisze do Ciebie/Was ponieważ od kilku lat usiłuję nauczyć się jeż. ang. Nie wiem od czego rozpocząć tę naukę. Może macie jakieś dobre sprawdzone sposoby. Z góry dziękuję.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/253/5238">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">MM (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/vlog-wracam-do-blogowania-i-by%C5%82-wywiad#comment-5238">Thursday, September 26, 2013 - 04:24</a></span>
</div>
</div>
<div class="indented"><a id="comment-5265"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć!</p>
<p>Odpowiedziałem na Twój poprzedni komentarz tutaj:</p>
<p><a href="http://www.linguatrek.com/blog/2012/04/ustalenie-dziennego-planu-nauki-j%C4%99zyka-fragment-e-booka#comment-5207" title="http://www.linguatrek.com/blog/2012/04/ustalenie-dziennego-planu-nauki-j%C4%99zyka-fragment-e-booka#comment-5207">http://www.linguatrek.com/blog/2012/04/ustalenie-dziennego-planu-nauki-j...</a></p>
<p>Mam nadzieję, że to pomoże!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/253/5265">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/09/vlog-wracam-do-blogowania-i-by%C5%82-wywiad#comment-5265">Saturday, September 28, 2013 - 09:35</a></span>
</div>
</div>
</div><a id="comment-5243"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/93cf2e9c7488695a29557c4d063f61e7?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć Dawid<br/>
Dla mnie wywiad był ciekawy, ale niestety, nie nadążam za tobą i nie do końca rozumiem co mówisz. Mimo to cieszę się , że znów mogę Cię usłyszeć. Zazdroszczę Ci wspaniałych widoków z nowego mieszkania.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/253/5243">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Tadeusz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/vlog-wracam-do-blogowania-i-by%C5%82-wywiad#comment-5243">Thursday, September 26, 2013 - 11:57</a></span>
</div>
</div>
<a id="comment-5250"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a7bdd072183f6c9d98af9ef5c84f11b5?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Bardzo się cieszę, że trafiłam na Twoją piękną stronę. David, to co robisz dla innych jest wspaniałe. Podziwiam Cię!.<br/>
Really Great Job!</p>
<p>Słuchając tego interesującego wywiadu, mogę powiedzieć, że na początku bardziej rozumiałam Katie. Katie mówi bardzo wolno, i tak mi jest łatwiej wysłyszeć każde słowo i nadążam kojarzyć. Po około pół godzinie słuchania, gdy już się wciągnęłam na dobre w słuchanie, zauważyłam, że już i Ciebie dużo lepiej rozumię, mogę powiedzieć, że bez różnicy, czy mówiłes Ty, czy Katie.<br/>
Przekonałam się więc po raz kolejny, że słuchanie, zwłaszcza gdy temat nas interesuje jest bardzo dobrą metodą poznania i zrozumienia nowego języka. </p>
<p>Cieszę się bardzo, że powróciłes. </p>
<p>Greetings to you and to your beautiful wife.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/253/5250">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">krystynaM (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/vlog-wracam-do-blogowania-i-by%C5%82-wywiad#comment-5250">Friday, September 27, 2013 - 06:47</a></span>
</div>
</div>
<div class="indented"><a id="comment-5267"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Krystyna!</p>
<p>Dzięki za miłe słowa i podzielenie się Twoim doświadczeniem z słuchaniem tego wywiadu. :-) Bardzo często tak samo mi się zdarza kiedy coś słucham albo oglądam po polsku - na początku jest trudno ale po jakimś czasie przyzwyczajam się do tego. To fantastycznie usłyszeć jak to zdarza się innym!</p>
<p>Życzę dalszych sukcesów w Twojej nauce angielskiego!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/253/5267">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/09/vlog-wracam-do-blogowania-i-by%C5%82-wywiad#comment-5267">Saturday, September 28, 2013 - 09:43</a></span>
</div>
</div>
</div><a id="comment-5271"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/ee26b760afcaa55b5c7d64ceb3bd24da?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>David dziękuję za odpowiedz, ale nie mogę się zalogować nie ma Ciebie w moim e-mailu ani w spsmie,Jeżli mogę Cię prosić podaj jakiś po ludzku abym mógł się uczyć dzięki Twoiej wiedzy angielskiego.Pozdrawiam bardzo serdecznie.Stanisław</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/253/5271">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">stanislaw (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/vlog-wracam-do-blogowania-i-by%C5%82-wywiad#comment-5271">Saturday, September 28, 2013 - 12:49</a></span>
</div>
</div>
<div class="indented"><a id="comment-5273"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Stanisław!</p>
<p>Proszę wyślij mi wiadomość przez formularz kontaktowy, i jakoś damy sobie radę:</p>
<p><a href="http://www.linguatrek.com/contact" title="http://www.linguatrek.com/contact">http://www.linguatrek.com/contact</a></p>
<p>:-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/253/5273">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/09/vlog-wracam-do-blogowania-i-by%C5%82-wywiad#comment-5273">Saturday, September 28, 2013 - 17:24</a></span>
</div>
</div>
</div><a id="comment-5274"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://biter.bartoszrakowski.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8edb38c99fa153f352cb167b5a6cbf6d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>O... ale fajna niespodzianka, super że wracasz do aktywności! :)<br/>
Koniecznie pokaż wspomniane filmy z Kalifornii, to zawsze ciekawe zobaczyć jak się żyje po drugiej stronie oceanu :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/253/5274">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://biter.bartoszrakowski.com" rel="nofollow">Biter</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/vlog-wracam-do-blogowania-i-by%C5%82-wywiad#comment-5274">Saturday, September 28, 2013 - 18:35</a></span>
</div>
</div>
<a id="comment-5280"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c74a5bd02b8aff8f93d39d9568e22291?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witam.<br/>
 Świetnie, że pojawiły się nowe materiały bo już byłem na granicy rozpaczy :) Przyznam, że miałem trochę trudności ze zrozumieniem,trochę za szybko jak dla mnie, ale po wsłuchaniu się było lepiej. Obawiam się jednak, że nie dam rady nauczyć się tego języka mimo sporego wysiłku. Pozdrawiam wszystkich i życzę wytrwałości!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/253/5280">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Daniel (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/vlog-wracam-do-blogowania-i-by%C5%82-wywiad#comment-5280">Monday, September 30, 2013 - 16:42</a></span>
</div>
</div>
<a id="comment-5284"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/96f05a197f0bc0f10864ca0160abb7a0?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>David zgodnie z Twoją sugestią zamieszczę tutaj pytania odnośnie pełnej wersji wywiadu, który przeprowadziłeś z Katie:</p>
<p>1. Pierwsze pytanie nawiązuje do Twojej obecności w Polsce. W wywiadzie wspomniałeś, iż podczas pobytu w naszym kraju pracowałeś jako lektor w szkole językowej. Interesuje mnie czy techniki językowe, które obecnie popularyzujesz na swoim blogu oraz o których piszesz w swoim ebooku stosowałeś podczas prowadzenia zajęć w polskiej szkole językowej. Jestem ciekawy czy miałeś wolną rękę w doborze odpowiednich metod nauczania czy też musiałeś podporządkować się z góry ustalonym regułom w tej kwestii. </p>
<p>2. Następne pytanie odnosi się do Twojego pobytu w Rosji, Białorusi. Wspomniałeś w wywiadzie, że ciekawym doświadczeniem była dla Ciebie konfrontacja z komunistycznymi realiami panującymi w tych krajach. Interesuje mnie konkretnie z jakimi oznakami ograniczeń swobód obywatelskich spotkałeś się w tych miejscach :)</p>
<p>Postaram się pojawić na czwartkowym spotkaniu głosowym (nie mogę jednak dziś tego zagwarantować) i mam nadzieję, że usłyszymy wtedy odpowiedzi na wyżej postawione pytania :)</p>
<p>Pozdrawiam serdecznie,</p>
<p>Gutek</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/253/5284">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Gutek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/vlog-wracam-do-blogowania-i-by%C5%82-wywiad#comment-5284">Tuesday, October 1, 2013 - 17:05</a></span>
</div>
</div>
<a id="comment-5400"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/fc36c9b9a5f5c4b6528e26f3634b8db3?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Bardzo ciekawy wywiad.<br/>
Na razie posłuchałem tylko do połowy, myślę, Katie chodziło o placki ziemniaczane :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/253/5400">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wiesiek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/vlog-wracam-do-blogowania-i-by%C5%82-wywiad#comment-5400">Friday, November 8, 2013 - 12:50</a></span>
</div>
</div>
<a id="comment-5417"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/70ebd7b92de3dac3843093e78cd2d226?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć David, bardzo podobają mi się Twoje wpisy. Ja również prowadzę blog językowy: <a href="http://www.gettinenglish.com/blog-jezyka-angielskiego/" title="http://www.gettinenglish.com/blog-jezyka-angielskiego/">http://www.gettinenglish.com/blog-jezyka-angielskiego/</a> Mam nadzieję, że dzięki takim wskazówkom w Polsce coraz więcej osób będzie mówić świetnie po angielsku. Let's spread the word :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/253/5417">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">slawek85 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/09/vlog-wracam-do-blogowania-i-by%C5%82-wywiad#comment-5417">Friday, November 15, 2013 - 08:24</a></span>
</div>
</div>
</div>
