---
permalink: /blog/2013/04/będę-na-krótkim-urlopie-od-blogowania-osobista-notatka/
layout: blog-old
title: 'Będę na krótkim "urlopie" od blogowania (osobista notatka)'
day: 9
month: Apr
year: 2013
category: personal
tags: [ ]
language: en
translation: /blog/2013/04/b%C4%99d%C4%99-na-kr%C3%B3tkim-urlopie-od-blogowania-osobista-notatka/
---
<div class="content">
<p>Cześć Wszystkim!</p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2013/04/me-paddys.jpg" rel="lightbox"><img alt="To ja!" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2013/04/me-paddys.jpg" title=""/></a></div>
<p>Zwykle piszę artykuły z poradami do nauki języków albo informacją o polskiej i amerykańskiej kulturze. Dzisiejszy artykuł będzie bardziej osobisty!</p>
<p>W obecnej chwili jest <strong>224 artykułów</strong> i prawie <strong>4000 komentarzy</strong> na tym blogu.</p>
<p>Jestem <em>strasznie</em> dumny z mojego blogu i kocham społeczność wokół niego. Poznałem tutaj DUŻO interesujących ludzi i paru bliskich przyjaciół.</p>
<p>Pomogliście mi w wielu kwestiach przez lata: poprawiliście mój polski, wysłaliście mi zachęcające maile, przetłumaczyliście mój ebook na polski, <a href="http://www.linguatrek.com/blog/2012/11/wys%C5%82uchajcie-mojego-darmowego-audiobooka-o-nauce-j%C4%99zyk%C3%B3w">jeden z Was nagrał wersję dźwiękową mojego ebooka</a> i wiele więcej.</p>
<p><strong>Dziękuję bardzo za czytanie, komentowanie i pomoc! Jestem naprawdę wdzięczny. :-)</strong></p>
<p><em>(Nawiasem mówiąc, Tobiasz Karoń, który nagrał mój audiobook, opublikuje nowy audiobook wkrótce! <a href="https://www.youtube.com/watch?v=in7Xpm45L-w">Zobacz ten filmik,</a> żeby dowiedzieć się więcej.)</em></p>
<p><strong>Jednak to również dużo pracy!</strong></p>
<p>Oczywiście, trzeba czasu, żeby napisać same artykuły, nagrać filmiki i odpowiedzieć na komentarze. Ale również dostaję około <a href="http://www.linguatrek.com/blog/2012/03/email-problem-i-need-your-help">50 maili codziennie</a> związanych z tym blogiem, przeważnie od ludzi z prośbami o porady do swoich konkretnych sytuacji.</p>
<p>Z powodu pewnych zmian ostatnio w moim życiu, miewam problemy w znalezieniu czasu. Tak więc, zdecydowałem na krótki "urlop" od blogowania.</p>
<p><strong>Czytaj dalej, żeby dowiedzieć się dlaczego i co to znaczy!</strong></p>
<h2>Zmiany w życiu</h2>
<p>Nie opowiem szczegółów ale nasze koszty życia podwyższają. Niestety nie zarabiamy na Bibliobirdzie i naszych lekcjach językowych przez internet tak dużo jak mieliśmy nadzieję.</p>
<p>Tak więc musiałem poświęcić więcej czasu na pracę jako programista na zlecenie - i mniej czasu na blog i Bibliobird.</p>
<h2>Za dużo maili</h2>
<p><em>50 emaili codziennie - to dużo.</em></p>
<p>Przez lata jakoś udało mi się odpowiedzieć na każdy mail! Czasem spóźniałem się parę tygodni, ale zawsze odpowiadałem.</p>
<p>W marcu, rosła mała zaległość. I potem rosła trochę więcej. I nagle jest <em>kilkaset</em> nieprzeczytanych maili od Was w mojej skrzynce odbiorczej...</p>
<p><strong>Jeśli czekasz na odpowiedź ode mnie, naprawdę przepraszam BARDZO! Ale teraz nie mam pojęcia jak nadrobić tę zaległość (spróbowałem parę razy!). <em>I więcej maili ciągle dochodzi.</em></strong></p>
<p>Spróbuję znaleźć naprawdę ważne wiadomości w stosie maili ale nie mogę obiecać odpowiedzi. :-/</p>
<h2>Muszę się skupić</h2>
<p><strong>Powoli zdaję sobie sprawę, że jestem tylko jedną osobą. :-) Nie mogę pomóc każdym POJEDYNCZO przez mail.</strong></p>
<p>Jednak myślę, że mógłbym stworzyć narzędzie, które pozwoliłoby wielu osobom pomóc sobie nawzajem! Myślę, że tym może być Bibliobird.</p>
<p>Tak więc przez następnych kilka miesięcy będę publikował mniej artykułów na blogu (może raz w miesiącu), nie będę odpowiadał na większość maili (przepraszam!), i będę się skupiał mniej na komercyjnej stronie Bibliobirda...</p>
<p><em>... aby spędzić mój czas wolny nad społecznościową stroną <a href="http://www.bibliobird.com">Bibliobirda</a>. Chciałbym, żeby wszyscy na tej stronie mogli pomóc sobie z nauką jezyka!</em></p>
<p>Jeszcze raz przepraszam, że nie odpowiadam na maile! Ale mam nadzieję, że rozumiecie.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>

<div id="comments">
<a id="comment-4443"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c0788160771c61aeba58eef4b3d2dfd7?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Panie Davidzie, kazdy miewa  trudne chwile, wiec mysle ze ja jak i inni rozumieja Panska sytuacje.<br/>
Zycze Ci wiecej wolnego czasu ;))<br/>
Pozdrawiam,<br/>
Marcin.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/251/4443">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">MarcinPotter (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/04/b%C4%99d%C4%99-na-kr%C3%B3tkim-urlopie-od-blogowania-osobista-notatka#comment-4443">Tuesday, April 9, 2013 - 13:37</a></span>
</div>
</div>
<div class="indented"><a id="comment-4446"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Marcin!</p>
<p>Dziękuję bardzo za wsparcie. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/251/4446">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/04/b%C4%99d%C4%99-na-kr%C3%B3tkim-urlopie-od-blogowania-osobista-notatka#comment-4446">Tuesday, April 9, 2013 - 14:08</a></span>
</div>
</div>
<div class="indented"><a id="comment-4904"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/fc93252635c1a77fc1aa931480cf5949?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Dzięki za parcie na małego Tomeczka!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/251/4904">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Animutka (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/04/b%C4%99d%C4%99-na-kr%C3%B3tkim-urlopie-od-blogowania-osobista-notatka#comment-4904">Monday, July 8, 2013 - 06:36</a></span>
</div>
</div>
</div></div><a id="comment-4447"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://biter.bartoszrakowski.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8edb38c99fa153f352cb167b5a6cbf6d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Na wstępie gratuluje osiągnięć bo dorobek masz już imponujący. Czasami faktycznie lepiej zrobić sobie przetasowanie priorytetów aby lepiej wszystko zorganizować. Powodzenia! :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/251/4447">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://biter.bartoszrakowski.com" rel="nofollow">Biter</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/04/b%C4%99d%C4%99-na-kr%C3%B3tkim-urlopie-od-blogowania-osobista-notatka#comment-4447">Tuesday, April 9, 2013 - 14:13</a></span>
</div>
</div>
<a id="comment-4448"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/18b838e25b2190f83592ebf6bcac041f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Dawidzie, cieszę się że tworzysz coś co może mi pomóc w nauce języka Angielskiego, podchodzisz do tego w sposób prosty i łatwy do zrozumienia, cieszy mnie to że jednak jest ktoś ktoś tak WSPANIAŁY jak Ty!! :)  Naprawdę dziękuję Ci bardzo i życzę aby układało Ci się jak najlepiej!  Chciałbym móc kiedykolwiek w życiu spotkać  Ciebie i podziękować Ci osobiście, ale chyba jest to niemożliwe ;( </p>
<p>Pozdrawiam!!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/251/4448">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Sebastian  (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/04/b%C4%99d%C4%99-na-kr%C3%B3tkim-urlopie-od-blogowania-osobista-notatka#comment-4448">Tuesday, April 9, 2013 - 14:45</a></span>
</div>
</div>
<a id="comment-4449"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/ed4b49b84d5d1535deabc8e11b9ba2ec?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Dzięki ! Powodzenia :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/251/4449">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Gocha (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/04/b%C4%99d%C4%99-na-kr%C3%B3tkim-urlopie-od-blogowania-osobista-notatka#comment-4449">Tuesday, April 9, 2013 - 15:08</a></span>
</div>
</div>
<a id="comment-4453"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/230d9d29c6e51c69f423351605344bd7?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Nie masz za co przepraszać, takie rzeczy się zdarzają :) Na Bibliobirdzie, myślę, że uda nam się wzajemnie sobie pomagać ( kto wie, może nawet to będzie początek wspólnych znajomości i przyjaźni) najważniejsze, by każdy wykazał chęć pomocy jak tylko jest w stanie i byś Ty czuwał nad nami :P :)<br/>
Pozdrawiam Ciebie i Carrie.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/251/4453">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Lynn (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/04/b%C4%99d%C4%99-na-kr%C3%B3tkim-urlopie-od-blogowania-osobista-notatka#comment-4453">Wednesday, April 10, 2013 - 01:32</a></span>
</div>
</div>
<a id="comment-4460"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/b3d0d5ff827cab4d8060e021fe320039?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Każdy pewnie zrozumie, i tak robisz już naprawdę dużo ;) Więc życzę ci żeby powodziło ci sie lepiej :)<br/>
Pozdrawiam</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/251/4460">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Agnieszka (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/04/b%C4%99d%C4%99-na-kr%C3%B3tkim-urlopie-od-blogowania-osobista-notatka#comment-4460">Thursday, April 11, 2013 - 13:18</a></span>
</div>
</div>
<a id="comment-4461"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d739b87d6fcc5719d9aee21c095416db?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Bardzo często zaglądam tutaj,czytam artykuły i komentarze.Dziękuje za trafne porady,czas zabrać się do pracy i nauczyc się dobrze angielskiego.Ja zamiast książki,będę tłumaczyć sobie znaczenie słów w różnym konteście.Przeglądając net.natrafiłam na blog,który mnie zaciekawił.Może kogoś też zainteresuje. Więc podzielę się z wami<br/>
<a href="http://loverofenglishvocabulary.blogspot.ie" title="http://loverofenglishvocabulary.blogspot.ie">http://loverofenglishvocabulary.blogspot.ie</a></p>
<p>Pozdrawiam i czekam na nowe artykuły na blogu choć wiem ,że będą już teraz bardzo rzadko.Będe zaglądac i czytać.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/251/4461">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kazimiera (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/04/b%C4%99d%C4%99-na-kr%C3%B3tkim-urlopie-od-blogowania-osobista-notatka#comment-4461">Thursday, April 11, 2013 - 14:42</a></span>
</div>
</div>
<a id="comment-4466"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4a8b86745781f1841752f3767267161a?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Nie przejmuj się David, tak to już w życiu jest, że nie jesteśmy robotami :) i niestety mamy pewne ograniczenia czasowe, co na pewno każdy zrozumie :) Bardzo Ci dziękuję za tego bloga i za Twój ebook, jedno i drugie było i jest dla mnie bardzo pomocne. Będę cierpliwie czekać na kolejny wpis :) Pozdrawiam mocno:)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/251/4466">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Natalia (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/04/b%C4%99d%C4%99-na-kr%C3%B3tkim-urlopie-od-blogowania-osobista-notatka#comment-4466">Sunday, April 14, 2013 - 04:26</a></span>
</div>
</div>
<a id="comment-4493"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/651f1ae03e808871b678d255e639f8e4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Mam pytanie David. Czy nowy mały Snopek będzie uczony polskiego? :)</p>
<p>Pozdrawiam I ściskam.<br/>
nikto</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/251/4493">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">nikto (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/04/b%C4%99d%C4%99-na-kr%C3%B3tkim-urlopie-od-blogowania-osobista-notatka#comment-4493">Thursday, May 2, 2013 - 12:27</a></span>
</div>
</div>
<div class="indented"><a id="comment-4513"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>No, takie mamy plany! Zobaczymy, kiedy będzie ten mały Snopek. :-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/251/4513">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/04/b%C4%99d%C4%99-na-kr%C3%B3tkim-urlopie-od-blogowania-osobista-notatka#comment-4513">Monday, May 13, 2013 - 08:54</a></span>
</div>
</div>
</div><a id="comment-4845"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/7adf464133a1b49d7728b8e21a32d122?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Dawidzie wracaj! Brakuje nam Ciebie, nagraj chociaż krótki dzinnik na YT! ;) </p>
<p>Pozdrawiam,<br/>
Rafał</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/251/4845">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Rafał (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/04/b%C4%99d%C4%99-na-kr%C3%B3tkim-urlopie-od-blogowania-osobista-notatka#comment-4845">Sunday, June 9, 2013 - 12:50</a></span>
</div>
</div>
<a id="comment-4850"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e558c7e61e8bf56c1bb844100db9ab3d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>David! Dzięki za inspirację do nauki angielskiego! Po obejrzeniu Twoich filmików na YT i wysłuchaniu e-booka mam potężną motywcję. To cudowne, że są tacy ludzie, jak Ty. Dzięki jeszcze raz.<br/>
Powodzenia we wszystkim!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/251/4850">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Madzia (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/04/b%C4%99d%C4%99-na-kr%C3%B3tkim-urlopie-od-blogowania-osobista-notatka#comment-4850">Tuesday, June 11, 2013 - 11:29</a></span>
</div>
</div>
<a id="comment-4853"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4b5a1491e36bf8181e132a9f0abe6290?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witaj, dopiero kilka dni temu znalazłem Twoje filmiki o nauce angielskiego. Zaczynam się wciągać. Wielką robotę wykonałeś! Gratuluje</p>
<p>Pozdrawiam<br/>
Łukasz</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/251/4853">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Łukasz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/04/b%C4%99d%C4%99-na-kr%C3%B3tkim-urlopie-od-blogowania-osobista-notatka#comment-4853">Friday, June 14, 2013 - 14:51</a></span>
</div>
</div>
<a id="comment-4860"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/5cbb1eff2fc9424ebfa3fd7a346d3f97?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Kiedy szykuje się jakiś nowy post/filmik?! Snopkowy odwyk nie jest za fajny na dłuższą metę.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/251/4860">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Ewa (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/04/b%C4%99d%C4%99-na-kr%C3%B3tkim-urlopie-od-blogowania-osobista-notatka#comment-4860">Thursday, June 20, 2013 - 00:45</a></span>
</div>
</div>
<a id="comment-4875"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.behlert.pl" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/5cc20faef8c4e76b277650d5438b6147?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Panie Davidzie... czy nie za długi jest ten urlop? :P Może to głupio zabrzmi, ale się stęskniłem za Pana artykułami! ;) Pozdrawiam i wszystkiego dobrego życzę :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/251/4875">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.behlert.pl" rel="nofollow">Paweł</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/04/b%C4%99d%C4%99-na-kr%C3%B3tkim-urlopie-od-blogowania-osobista-notatka#comment-4875">Friday, June 28, 2013 - 13:46</a></span>
</div>
</div>
<div class="indented"><a id="comment-4883"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Przepraszam! Nie planowałem niczego nie publikować przez tak długi czas, ale tak się stało. :-/ Jestem strasznie zajęty pracą i trudno jest znaleźć czasu, żeby pisać! Dzięki za życzenia. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/251/4883">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/04/b%C4%99d%C4%99-na-kr%C3%B3tkim-urlopie-od-blogowania-osobista-notatka#comment-4883">Sunday, June 30, 2013 - 06:35</a></span>
</div>
</div>
</div><a id="comment-4943"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.asenglish.pl" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/2d6d33b96c18b4bd66ffadf802951869?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Szkoda, bo i mnie wciągnął Pana blog :( Cóż, pozostaje cierpliwie czekać :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/251/4943">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.asenglish.pl" rel="nofollow">AS</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/04/b%C4%99d%C4%99-na-kr%C3%B3tkim-urlopie-od-blogowania-osobista-notatka#comment-4943">Tuesday, July 23, 2013 - 03:34</a></span>
</div>
</div>
<a id="comment-5161"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/866eee6d18fde213a58eda8e64588f41?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>coś długa ta przerwa jest . szkoda bo czekam na ciąg dalszy</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/251/5161">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">zed16 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/04/b%C4%99d%C4%99-na-kr%C3%B3tkim-urlopie-od-blogowania-osobista-notatka#comment-5161">Tuesday, September 10, 2013 - 18:09</a></span>
</div>
</div>
<div class="indented"><a id="comment-5162"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Jeśli wszystko pójdzie zgodnie z planem, wrócę w tym miesiącu. :-) Zobaczymy!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/251/5162">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/04/b%C4%99d%C4%99-na-kr%C3%B3tkim-urlopie-od-blogowania-osobista-notatka#comment-5162">Wednesday, September 11, 2013 - 07:43</a></span>
</div>
</div>
</div>
</div>
