---
permalink: /blog/2012/05/czy-muszę-mówić-od-pierwszego-dnia/
layout: blog-old
title: 'Czy MUSZĘ mówić od pierwszego dnia?'
day: 29
month: maj
year: 2012
category: language learning
tags: 
  - 'Benny Lewis'
  - 'speaking'
language: pl
translation: /blog/2012/05/do-i-need-to-speak-from-day-one/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/05/butterfly.jpg" rel="lightbox"><img alt="Butterfly" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/05/butterfly.jpg" title="Photo by Gustavo Durán"/></a><div class="caption"><a href="http://www.flickr.com/photos/67662120@N00/2986020135">Photo</a> by <a href="http://www.flickr.com/photos/trekman/">Gustavo Durán</a></div></div>
<p>Temat ten jest szeroko dyskutowany i wiele osób wśród społeczności uczących się angielskiego, nie zgadza się z nim. Jednym z największych zwolenników natychmiastowego mówienia jest Benny Lewis, autor bloga <a href="http://www.fluentin3months.com/">Fluent in 3 Months</a> i twórca kursu video <a href="http://speakfromday1.com/faq/">Speak From Day 1</a>.</p>
<p>W <a href="http://speakfromday1.com/faq/">FAQ</a> do tego produktu, Benny pisze: (<em>dodałem kilka wyróżnień</em>)</p>
<blockquote>
<p>Zamiast zapoznać się z przewodnikiem i oglądać wszystkie filmiki, aby dowiedzieć się jaki jest mój WIELKI 'sekret', mogę powiedzieć już teraz: <strong>musisz zacząć mówić w języku jak najszybciej.</strong></p>
<p>Żadne uczenie się gramatyki latami, żadne drogie i skomplikowane oprogramowanie, żadna "magiczna pigułka" nie pomoże Ci opanować języka podczas snu, musisz po prostu używać go w mowie. Używaj go regularnie, używaj go śmiało i używaj go od razu. <strong>Im więcej mówisz, tym szybciej zrobisz postępy.</strong></p>
</blockquote>
<p>Jestem WIELKIM fanem Benny'ego. Nie dawno dał mi wspaniałą szansę na napisanie <a href="http://www.fluentin3months.com/polish/">gościnnego artykułu na jego blogu</a>.

</p><p>Jeżeli chodzi o ten konkretny punkt, nie zgadzam się z nim. Myślę, że nie <em>MUSISZ</em> zacząć mówić od pierwszego dnia.</p>
<p><strong>Czytaj dalej, aby dowiedzieć się więcej dlaczego!</strong></p>
<h2>Myślenie Benny'ego jest logiczne</h2>
<p>Tak jak napisałem w <a href="http://www.linguatrek.com/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC">my ebook</a> i <a href="http://www.linguatrek.com/blog/2012/04/vlog-naturalna-nauka-j%C4%99zyka-bez-nauczyciela">w innych artykułach</a>, ludzki mózg uczy się języka podczas procesu przetwarzania <em>rzeczywistej komunikacji</em> (comprehensible input) w języku.</p>
<p>Większość uczących się języka spędza swój czas skupiając się na rzeczach, które nie dostarczają mózgowi tego co potrzebuje! Rzeczach takich jak: gramatyka, testy, sztuczne listy słownictwa itd. Benny ma rację mówiąc ludziom, aby przestać skupiać się na tych rzeczach i zacząć komunikować się w danym języku.</p>
<p><strong>Jednak nie uważam, że mówienie jest <em>jedynym</em> rodzajem komunikacji, która działa!</strong></p>
<h2>Wiele dróg prowadzi do tego samego celu</h2>
<p>Rozmawiałem z osobami, które skutecznie nauczyły się języków na wiele różnych sposobów: oglądanie telewizji i filmów, słuchanie muzyki, czytanie książek, oglądanie filmików itd. Opcje są nieograniczone! Jednak kluczem jest <em>rzeczywista komunikacja</em>.</p>
<p>Kiedy słuchasz jakieś MP3 w danym języku, nie tylko słyszysz głosy, ale aktywnie w tym uczestniczysz! Jeśli jest to komedia, to śmiejesz się z żartów. Jeśli jest to historia, wyobrażasz ją sobie.</p>
<p>Osobiście, <a href="http://www.linguatrek.com/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego">nauczyłem się polskiego</a> w większości czytając i słuchając książek (szczególnie książki Harry'ego Pottera) po polsku. Przez pierwsze półtora roku, mówiłem po polsku bardzo mało - praktycznie wcale. Jednak, mój Polski stawał się coraz lepszy!</p>
<p>Kiedy zaczynałem czytać Harry'ego Pottera, musiałem sprawdzać co drugie słowo w słowniku. Pod koniec tego samego roku, mogłem swobodnie słuchać dalszych audiobooków Harry'ego Pottera bez potrzeby otwierania wersji książkowej. Wszystko bez mówienia.</p>
<p>Dzięki tylko obszernemu słuchaniu (ponad 100 godzin - każda książka Harry'ego Pottera to 10-20 godzin), już miałem język w głowie. Potrafiłem tworzyć polskie zdania, aby wyrazić moje myśli pomimo tego, że miałem bardzo mało praktyki w rzeczywistych sytuacjach.</p>
<p><strong>Jedyną rzeczą, która stała mi na drodze był...</strong></p>
<h2>Strach przed mówieniem</h2>
<p>W niektórych sytuacjach, jak rozmowa z innymi uczącymi się, czułem się swobodnie i potrafiłem mówić bardzo dobrze. Ale w innych sytuacjach kiedy czułem się nieswobodnie, natychmiast głupiałem. :-)</p>
<p><a href="http://www.linguatrek.com/blog/2011/05/how-to-overcome-your-fear-of-speaking">Pokonanie swojego strachu przed mówieniem</a> jest bardzo ważnym <a href="http://www.linguatrek.com/blog/2012/04/3-kroki-do-p%C5%82ynnego-m%C3%B3wienia-fragment-e-booka">krokiem do osiągnięcia płynności językowej</a>.  Jest to rzecz, z którą <em>nadal</em> się zmagam w niektórych sytuacjach, na przykład, podczas rozmowy przez telefon.</p>
<p><strong>Mówienie od pierwszego dnia zmusza Cię również do zmierzenia się z tym strachem od pierwszego dnia!</strong></p>
<p>Jednak proces przyswajania języka przez Twój mózgu i pokonania strachu przed mówieniem nie MUSZĄ odbywać się jednocześnie. Są to odrębne sprawy, które wpływają na tą samą całość.</p>
<p>Jeśli chcesz uczyć się za pomocą innego rodzaju komunikacji (jak słuchanie), musisz po prostu zmierzyć się ze strachem osobno.</p>
<p><em>(Piotr z portalu <a href="http://realpolish.pl">Real Polish</a> właśnie napisał <a href="http://realpolish.wordpress.com/2012/05/28/my-little-steps-to-develop-confidence-in-speaking-foreign-language/">artykuł</a> na swoim blogu, jak pokonał strach przed mówieniem. Mam naprawdę nadzieję, że więcej ludzi zacznie mówić o tym ważnym temacie!)</em></p>
<h2>Zalety innych form komunikacji</h2>
<p>Mówienie w języku jako źródło komunikacji jest wspaniałe. Ale jest wiele korzyści z używania innych form komunikacji (przeważnie nazywanych <em>pasywną komunikacją</em>) takich jak książki, filmy, gry video itd.:</p>
<ul>
<li><strong>Możesz to robić w każdej chwili</strong> - Muszę zaplanować rozmowę na Skypie (mając na uwadze różnice czasu), aby porozmawiać po polsku. Jednak mogę słuchać mojego odtwarzacza MP3 player w każdym momencie!</li>
<li><strong>Możesz to robić wszędzie</strong> - Moim ulubionym miejscem nauki jest łóżko i podczas spaceru.</li>
<li><strong>Powtarzanie jest łatwe</strong> - Możesz łatwo słuchać tej samej rzeczy wielokrotnie jeśli chcesz.</li>
<li><strong>Poziom stresu jest niski</strong> - Stres poważnie zaburza proces uczenia się. Podczas gdy nadal pokonujesz swój strach przed mówieniem, rozmowa może być bardzo stresująca, co utrudnia uczenie się.</li>
</ul>
<h2>Osobiste preferencje</h2>
<p>Jednak najważniejszym czynnikiem ze wszystkich jest: <strong>TWOJA OSOBA!</strong></p>
<p>Niektóre osoby są bardzo towarzyskie i ich główną formą komunikacji (nawet w ich ojczystym języku) jest rozmowa. Prawdopodobnie ci ludzie najlepiej uczą się przez skupienie się na mówieniu. </p>
<p>Osobiście jestem zapalonym czytelnikiem. W moim codziennym życiu, czytam o wiele więcej (nawet w moim ojczystym języku) niż mówię. I bardzo się z tego powodu cieszę! :-) Czytanie i słuchanie są dla mnie najlepsze.</p>
<p><strong>Nie ograniczaj się tylko do poszczególnej metody, która jest najlepsza dla <em>kogoś innego</em>!</strong></p>
<p>Musisz znaleźć metodę, która działa najlepiej dla Ciebie i <em>dla Twoich celów</em>. Co, tak à propos, jest tematem <a href="http://www.linguatrek.com/blog/2012/04/vlog-naturalna-nauka-j%C4%99zyka-bez-nauczyciela">mojego ebooka</a>. ;-)</p>
<p><strong>Co to tym myślisz? Czy MUSISZ zacząć mówić od pierwszego dnia? Czy są inne drogi do skutecznej nauki języka? Którą wolisz? Proszę napisz komentarz poniżej!</strong></p>
</div>

<div id="comments">
<a id="comment-2062"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://about.me/tomfrompoland" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/3cdbaa2914c95444fc7968fe42ddfa2b?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Hi,</p>
<p>I agree totally :-)</p>
<p>Zgadzam się w całej rozciągłości :-)<br/>
(I don't know how express this Polish phrase in English)</p>
<p>Tom</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/161/2062">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://about.me/tomfrompoland" rel="nofollow">TomFromPoland</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czy-musz%C4%99-m%C3%B3wi%C4%87-od-pierwszego-dnia#comment-2062">wtorek, maj 29, 2012 - 09:42</a></span>
</div>
</div>
<div class="indented"><a id="comment-2086"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Może: "I agree to the fullest extent" albo coś w tym stylu? W każdym razie "I totally agree" również jest dobrze. :-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/161/2086">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czy-musz%C4%99-m%C3%B3wi%C4%87-od-pierwszego-dnia#comment-2086">środa, maj 30, 2012 - 14:56</a></span>
</div>
</div>
</div><a id="comment-2063"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/6a8a8c21e4cca1dcd80b7535dd01b1c4?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Oj, jak bardzo źle mi było na początku mojej przygody z francuskim! Presja otoczenia, żebym zaczęła MÓWIĆ, doprowadziła mnie do lekkiej depresji (takiej prawdziwej, nie przysłowiowej). Straszne to było! Co ciekawe, bardzo pomógł mi kontakt z ludźmi na niższym poziomie językowym. Teraz czytam, oglądam filmy i słucham francuskiej muzyki, ale wciąż lepiej mi idzie "gadanie do siebie" (np: czytając po polsku/angielsku, tłumaczę sobie półgłosem na francuski), niż rozmowa z tubylcami. </p>
<p>I jeszcze słówko: nie wzięłam się jeszcze za ebooka, tak naprawdę dopiero teraz zaczęłam zagłębiać się w Twojego bloga, ale już czuję, że mi się tu podoba. I żałuję bardzo, że wcześniej Ciebie nie znalazłam, z pewnością byłoby mi o wiele łatwiej. </p>
<p>(I totally could translate all the above for you, but why?)</p>
<p>cheers!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/161/2063">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Aleksandra (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czy-musz%C4%99-m%C3%B3wi%C4%87-od-pierwszego-dnia#comment-2063">wtorek, maj 29, 2012 - 11:10</a></span>
</div>
</div>
<div class="indented"><a id="comment-2087"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Aleksandra!</p>
<p>Dzięki za podzielenie się Twoim doświadczeniem i miłe słowa o moim blogu. :-)</p>
<p>Jaki był powód tej presji, żebyś mówiła? Czy mieszkasz we Francji?</p>
<p>Miałem podobne doświadczenie z moją obawą przed mówieniem po polsku. Na początku nie miałem żadnych problemów w rozmowie z innymi obcokrajowcami. Ale jakoś z native speakerami były problemy. Kiedy wreszcie znalazłem native speakerów, z którymi czułem się bardzo swobodnie, to zaczęło się powoli poprawić się. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/161/2087">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czy-musz%C4%99-m%C3%B3wi%C4%87-od-pierwszego-dnia#comment-2087">środa, maj 30, 2012 - 15:02</a></span>
</div>
</div>
<div class="indented"><a id="comment-2118"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/6a8a8c21e4cca1dcd80b7535dd01b1c4?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Tak, przeprowadziłam się do Francji ze znajomością może pięciu słów. Miłość, wiesz jak jest :)<br/>
I tak naprawdę przez pierwszy rok w ogóle nie mówiłam po francusku. No, zablokowałam się i koniec! Unikałam jak mogłam okazji do gadania, a spotkania towarzyskie były katorgą! Za to teraz, 2.5 roku później, mimo, że nie mówię jeszcze jakoś super, to udało mi się uzyskać jako taką płynność mówienia (żegnaj zacinanie się na co 5tym słowie!!!), z czego jestem niesłychanie dumna! :)<br/>
No, i jak wielu z nas, wzięłam się za pomaganie innym. Nic na skalę Twego bloga, za to pomalutku, na wesoło, zmieniam na lepsze "nowoprzybyłych" :)<br/>
Straszną frajdę mi to sprawia; zaczęłam nawet spisywać swoje przemyślenia, na razie w "drogim pamiętniczku", ale powoli, powoli dojrzewam do przejścia do sieci. Uważaj więc, hodujesz konkurencję na własnym łonie! ;)</p>
<p>ps: miesiąc temu zaczęłam Pottera po francusku, wczoraj doszłam do trójgłowego psa!!!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/161/2118">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Aleksandra (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czy-musz%C4%99-m%C3%B3wi%C4%87-od-pierwszego-dnia#comment-2118">czwartek, maj 31, 2012 - 11:33</a></span>
</div>
</div>
<div class="indented"><a id="comment-2179"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>To fajnie, że wzięłaś się za pomaganie innym. :-) Życie to piękne koło. Gratuluję Ci postępów w czytaniu Harry'ego Pottera po francuski! Pozdrawiam serdecznie, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/161/2179">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czy-musz%C4%99-m%C3%B3wi%C4%87-od-pierwszego-dnia#comment-2179">niedziela, czerwiec 3, 2012 - 12:40</a></span>
</div>
</div>
</div></div></div><a id="comment-2067"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/5609ea83edf92f4bad9b21ad056f8514?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Hello David!!! I am a fan of Antimoon.com, because I live in the U.K and speaking does not help you. I had to change my method of this year, because I like to read. For example at work I speak, but I know that I make many mistakes and at this level I have to before get input by reading and listing to an english material. Maybe I am wrong.</p>
<p>I am a fan AJ Hoge from your country His method plus your method = the best English</p>
<p>Kind regards</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/161/2067">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Radek from High Wycombe (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czy-musz%C4%99-m%C3%B3wi%C4%87-od-pierwszego-dnia#comment-2067">wtorek, maj 29, 2012 - 12:15</a></span>
</div>
</div>
<div class="indented"><a id="comment-2088"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Radek!</p>
<p>Thanks for the comment!  I haven't spent much time on Antimoon.com, but because both you and Tomek (on the English version of this article) mentioned it, I went over there and found this related article:</p>
<p><a href="http://antimoon.com/other/myths-speaking.htm" title="http://antimoon.com/other/myths-speaking.htm">http://antimoon.com/other/myths-speaking.htm</a></p>
<p>I wish I had known about it earlier, I might have put it in my article. :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/161/2088">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czy-musz%C4%99-m%C3%B3wi%C4%87-od-pierwszego-dnia#comment-2088">środa, maj 30, 2012 - 15:06</a></span>
</div>
</div>
</div><a id="comment-2068"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.zarchipelagu.tk" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/203ff44100d14c74880708827e6b7dfc?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Ze swojego doświadczenia mogę powiedzieć, że to najlepsza metoda: przestać stresować się, że się na razie nie mówi, i zacząć być odbiorcą języka z zaangażowaniem swoich emocji i mówienie samo przyjdzie. Właśnie doświadczam tego z hiszpańskim. Moje wcześniejsze próby tradycyjnej metody zawsze kończyły się rozczarowaniem. Przestałam się więc stresować, że nie mówię, a zaczęłam słuchać, czytać, wyjechałam na Wyspy Kanaryjskie by móc być totalnie otoczoną językiem. Jeżeli mam powiedzieć jakie były proporcje to 95% byłam odbiorcą, a jedynie w 5% starałam się wydobyć coś z siebie, a pewnie nawet i mniej:). Nieoczekiwana zmiana w moim umyśle nastąpiła już po 3 miesiącach takiej systematycznej praktyki. Oczywiście przede mną jeszcze wiele pracy, ale nikt mnie już nie namówi na tradycyjny kurs językowy, bo w moim przypadku to po prostu nie działa. Czas, wyrozumiałość dla samego siebie i zaangażowanie emocji - to chyba najważniejsze z moich doświadczeń.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/161/2068">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.zarchipelagu.tk" rel="nofollow">moniq</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czy-musz%C4%99-m%C3%B3wi%C4%87-od-pierwszego-dnia#comment-2068">wtorek, maj 29, 2012 - 12:19</a></span>
</div>
</div>
<div class="indented"><a id="comment-2090"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć!</p>
<p>Dzięki za podzielenie się Twoim doświadczeniem! To bardzo interesująco i zgodne również z moim doświadczeniem. :-)</p>
<p>Właśnie zasubskrybowałem Twój blog! Jeszcze nie miałem szansę czytać tam zbyt dużo ale mogę powiedzieć od razu, że zazdroszczę Ci pobytu na Wyspach Kanaryjskich! Czekam na nowe artykuły. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/161/2090">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czy-musz%C4%99-m%C3%B3wi%C4%87-od-pierwszego-dnia#comment-2090">środa, maj 30, 2012 - 15:19</a></span>
</div>
</div>
<div class="indented"><a id="comment-2111"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.zarchipelagu.tk" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/203ff44100d14c74880708827e6b7dfc?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Dziękuję za subskrypcję:).</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/161/2111">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.zarchipelagu.tk" rel="nofollow">moniq</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czy-musz%C4%99-m%C3%B3wi%C4%87-od-pierwszego-dnia#comment-2111">czwartek, maj 31, 2012 - 10:21</a></span>
</div>
</div>
</div></div><a id="comment-2072"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/ef77153182823b2602b073f7db6db169?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Witam, Wydaje mi się, że jeśli człowiek zacznie się uczyć języka i od razu chce mówić w tym języku, to jest najlepsza droga do zniechęcenia uczenia się dalej.Tu potrzeba dużo cierpliwości i dużo pracy, a efekty same przyjdą.Niestety ,sam chciałbym być taki mądry i cierpliwy, ale jak dotąd to mi nie wychodzi.Tyle tylko, że nie mogę się zniechęcic.Mieszkam w Anglii i wcześniej czy póżniej muszę nauczyć sie tego języka. Pozdrawiam Roman</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/161/2072">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">buzzard (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czy-musz%C4%99-m%C3%B3wi%C4%87-od-pierwszego-dnia#comment-2072">wtorek, maj 29, 2012 - 17:25</a></span>
</div>
</div>
<div class="indented"><a id="comment-2091"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Roman!</p>
<p>Jeśli nie poddasz się na pewno nauczysz się j. angielskiego!</p>
<p>Zgadzam się. Przymus do mówienia rzeczywiście może być zniechęcający - tak byłoby również dla mnie. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/161/2091">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czy-musz%C4%99-m%C3%B3wi%C4%87-od-pierwszego-dnia#comment-2091">środa, maj 30, 2012 - 15:23</a></span>
</div>
</div>
</div><a id="comment-2075"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/e1cff9a6d94db659e08f32a311ccb913?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Jak dla mnie mówienie od razu nie bardzo ma sens. Po pierwsze jeśli ktoś nie ma podstaw, to co może sam powiedzieć? "Hello", "How are you" "Thanks, fine" ? No proszę, przez to się nikt języka nie nauczy. Poza tym nie każdy ma możliwość rozmowy z native speakerem, a nauka przez mówienie samemu do siebie jest według mnie jak nauka gry w ping ponga przez grę samemu ze sobą. Według mnie jednak najlepsza jest metoda Davida - łyknąć troszkę gramatyki, aby móc zrozumieć konstrukcje tekstu, a później zagłębiać się w lekturach, audiobookach, podcastach, serialach i język sam wpłynie do głowy, nic na siłę.</p>
<p>Pamiętajmy, że jak byliśmy dziećmi, to większość czasu tylko słuchaliśmy, a osiagnęliśmy perfekcję w posługiwaniu się językiem polskim :)</p>
<p>Pozdrawiam</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/161/2075">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Bronzar (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czy-musz%C4%99-m%C3%B3wi%C4%87-od-pierwszego-dnia#comment-2075">środa, maj 30, 2012 - 04:12</a></span>
</div>
</div>
<div class="indented"><a id="comment-2092"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Dzięki za słowa wsparcia! :-) Coś ciekawego zauważyłem: Polacy z reguły zgadzają się z mną o tym i ludzie z innych krajów (tak jak komentują na <a href="http://www.linguatrek.com/blog/2012/05/do-i-need-to-speak-from-day-one">angielskiej wersji</a> tego artykułu) - nie. Nie wiem dlaczego!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/161/2092">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czy-musz%C4%99-m%C3%B3wi%C4%87-od-pierwszego-dnia#comment-2092">środa, maj 30, 2012 - 15:30</a></span>
</div>
</div>
<div class="indented"><a id="comment-2098"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/e1cff9a6d94db659e08f32a311ccb913?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Być może dlatego, że polacy widzą jak wspaniale opanowałeś nasz ojczysty język, o którym jesteśmy przekonani, że jest bardzo trudny dla obcokrajowców. Widząc jak ta metoda zadziałała u Ciebie ciężko nam się nią nie fascynować.</p>
<p>A poza tym uważam, że jest ona naturalna, ciekawa i elegancka.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/161/2098">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Bronzar (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czy-musz%C4%99-m%C3%B3wi%C4%87-od-pierwszego-dnia#comment-2098">czwartek, maj 31, 2012 - 01:47</a></span>
</div>
</div>
<div class="indented"><a id="comment-2103"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Dzięki za miłe słowa. :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/161/2103">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czy-musz%C4%99-m%C3%B3wi%C4%87-od-pierwszego-dnia#comment-2103">czwartek, maj 31, 2012 - 05:23</a></span>
</div>
</div>
</div></div></div><a id="comment-2076"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/5609ea83edf92f4bad9b21ad056f8514?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Jak sie chcesz nauczyc jezyka musisz zaczac od PROSTEGO jezyka a nie jak niektorzy sluchaja BBC CNN a potem sie poddaja i finito. Harry Potter + MP-3 albo cos innego i dobry slownik angielsko-angielski z Plyta;-) :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/161/2076">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Radek from High Wycombe (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czy-musz%C4%99-m%C3%B3wi%C4%87-od-pierwszego-dnia#comment-2076">środa, maj 30, 2012 - 06:41</a></span>
</div>
</div>
<a id="comment-2097"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/5609ea83edf92f4bad9b21ad056f8514?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Hello Dawid;-) Have you thought about english lessons make ( made??)by you. It could be a good idea. You are a teacher of English and I am sure that many people ( from England, Poland) could bay you lessnons.</p>
<p>P.S About speaking ;-) I have been in U.K for over three years and I should speak good ( Maybe I am a bit lazy someitimes), but I had to change my method in English. I like antimoon.com + your website and your e-book and I think some teachers or most of them could learn from you ( it means method). I am reading at the moment The count of Monte Christo and it is better than a boring grammar book ;-). I use Anki. I like it. </p>
<p>Kind regards</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/161/2097">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Radek from High Wycombe (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czy-musz%C4%99-m%C3%B3wi%C4%87-od-pierwszego-dnia#comment-2097">czwartek, maj 31, 2012 - 01:00</a></span>
</div>
</div>
<div class="indented"><a id="comment-2102"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Radek!</p>
<p>Yes, I'm still thinking about making a paid product. I'll be writing about it on my blog soon!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/161/2102">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czy-musz%C4%99-m%C3%B3wi%C4%87-od-pierwszego-dnia#comment-2102">czwartek, maj 31, 2012 - 05:22</a></span>
</div>
</div>
</div><a id="comment-2120"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/b69e87b5696e9b6fc6e82e3b15e80456?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>elo,<br/>
jestem ciekawa na czym polega metoda Bennego, znasz David szczegóły? (oprocz tego że trzeba mówić od pierwszego dnia;))<br/>
ja dziś zaczęłam przerabiać mistrza i małgorzatę po rosyjsku, po 3 miesiącach nauki... nie jest łatwo ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/161/2120">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">nelhi (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czy-musz%C4%99-m%C3%B3wi%C4%87-od-pierwszego-dnia#comment-2120">czwartek, maj 31, 2012 - 13:04</a></span>
</div>
</div>
<div class="indented"><a id="comment-2180"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Niestety nie znam szczegółów tak dobrze jak chciałbym. :-/ Planuję kiedyś spróbować jego kurs i napisać recenzję. To fajnie, że zacząłeś czytać "Mistrza i Małgorzatę" po rosyjsku! Daj mi znać, jak Ci pójdzie. Pozdrawiam serdecznie, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/161/2180">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czy-musz%C4%99-m%C3%B3wi%C4%87-od-pierwszego-dnia#comment-2180">niedziela, czerwiec 3, 2012 - 12:43</a></span>
</div>
</div>
</div><div class="box">
<h2>Dodaj nową odpowiedź</h2>
<div class="content"><form accept-charset="UTF-8" action="/comment/reply/161" id="comment-form" method="post">
<div><div class="form-item" id="edit-name-wrapper">
<label for="edit-name">Nazwisko lub pseudonim: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-name" maxlength="60" name="name" size="30" type="text" value="Anonymous"/>
</div>
<div class="form-item" id="edit-mail-wrapper">
<label for="edit-mail">E-mail: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-mail" maxlength="64" name="mail" size="30" type="text" value=""/>
<div class="description">Zawartość pola nie będzie udostępniana publicznie. If you have a <a href="http://www.gravatar.com">Gravatar</a> account, used to display your avatar.</div>
</div>
<div class="form-item" id="edit-homepage-wrapper">
<label for="edit-homepage">Strona domowa: </label>
<input class="form-text" id="edit-homepage" maxlength="255" name="homepage" size="30" type="text" value=""/>
</div>
<div class="form-item" id="edit-comment-wrapper">
<label for="edit-comment">Odpowiedź: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<textarea class="form-textarea resizable required" cols="60" id="edit-comment" name="comment" rows="15"></textarea>
</div>
<ul class="tips"><li>Adresy internetowe są automatycznie zamieniane w odnośniki, które można kliknąć.</li><li>Dozwolone znaczniki HTML: &lt;a&gt; &lt;em&gt; &lt;strong&gt; &lt;cite&gt; &lt;code&gt; &lt;ul&gt; &lt;ol&gt; &lt;li&gt; &lt;dl&gt; &lt;dt&gt; &lt;dd&gt; &lt;blockquote&gt;</li><li>Znaki końca linii i akapitu dodawane są automatycznie.</li></ul><input id="form-6e3ca9cdb48192f87ab25c106747487b" name="form_build_id" type="hidden" value="form-6e3ca9cdb48192f87ab25c106747487b"/>
<input id="edit-comment-form" name="form_id" type="hidden" value="comment_form"/>
<div class="clear-block"><div class="form-item" id="edit-notify-wrapper">
<label class="option" for="edit-notify"><input checked="checked" class="form-checkbox" id="edit-notify" name="notify" type="checkbox" value="1"/> Notify me when new comments are posted</label>
</div>
<div class="form-radios"><div class="form-item" id="edit-notify-type-1-wrapper">
<label class="option" for="edit-notify-type-1"><input class="form-radio" id="edit-notify-type-1" name="notify_type" type="radio" value="1"/> All comments</label>
</div>
<div class="form-item" id="edit-notify-type-2-wrapper">
<label class="option" for="edit-notify-type-2"><input checked="checked" class="form-radio" id="edit-notify-type-2" name="notify_type" type="radio" value="2"/> Replies to my comment</label>
</div>
</div></div><input class="mollom-content-id" id="edit-mollom-contentId" name="mollom[contentId]" type="hidden" value=""/>
<input class="mollom-captcha-id" id="edit-mollom-captchaId" name="mollom[captchaId]" type="hidden" value=""/>
<div style="display: none;"><div class="form-item" id="edit-mollom-homepage-wrapper">
<input autocomplete="off" class="form-text" id="edit-mollom-homepage" maxlength="128" name="mollom[homepage]" size="60" type="text" value=""/>
</div>
</div><div class="description mollom-privacy">By submitting this form, you accept the <a class="mollom-target" href="https://mollom.com/web-service-privacy-policy" rel="nofollow">Mollom privacy policy</a>.</div><input class="form-submit" id="edit-preview" name="op" type="submit" value="Podgląd"/>
</div></form>
</div>
</div>
</div>
