---
permalink: /blog/2012/05/czytamy-w-oryginale-wielkie-powieści-wspaniałe-materiały-dla-uczących-się-angielskiego/
layout: blog-old
title: '"Czytamy w oryginale - wielkie powieści" - wspaniałe materiały dla uczących się angielskiego'
day: 26
month: May
year: 2012
category: language learning
tags: 
  - 'mailbag'
  - 'review'
language: en
translation: /blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-wspania%C5%82e-materia%C5%82y-dla-ucz%C4%85cych-si%C4%99-angielskiego/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/05/bookscat.jpg" rel="lightbox"><img alt="Cat by lots of books" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/05/bookscat.jpg" title="Photo by Fergus Ray Murray"/></a><div class="caption"><a href="http://www.flickr.com/photos/54408024@N00/479270001">Photo</a> by <a href="http://www.flickr.com/photos/0olong/">Fergus Ray Murray</a></div></div>
<p><strong><em>(Jeśli jeszczie nie głosowałeś/aś za LinguaTrek w konkursie "Top 100 Language Learning Blogs", tylko pozostaje dwa dni! Głosowanie trwa do 28 maja o 23:59 czasu polskiego. Jeśli masz wolną minutę, <a href="http://www.linguatrek.com/blog/2012/05/zag%C5%82osuj-za-linguatrek-w-konkursie-top-100-language-lovers">zagłosuj</a>!)</em></strong></p>
<p>Wojtek - czytelnik mojego blogu, który bardzo często komentuje - właśnie wysłał mi wiadomość o bardzo ciekawym produkcie, który świetnie pasuje metod nauki, które opisałem w <a href="http://www.linguatrek.com/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC">moim ebooku</a>!</p>
<p>Wojtek pisze:</p>
<blockquote>
<p>Chciałbym Cię poinformować o wspaniałych materiałach dla uczących się języka
angielskiego a nawet chcących się nauczyć polskiego.</p>
<p><a href="http://sklep.rp.pl/produkt/czytamy-w-oryginale___.php">„Czytamy w oryginale – wielkie powieści”</a> to wznowiona seria uproszczonych powieści (graded readers) dla ucząch się języka angielskiego. Do tej pory
wydano 2 części – w sumie 10 klasycznych powieści. Właśnie dziś dotarły one do mnie kurierem. Cena jednej części to 19.99 zł.</p>
<p>W zamyśle są one przeznaczone dla uczących się na poziomie średniozaawansowanym, ale dzięki temu, że po jednej stronie mamy tekst po angielsku a po drugiej po polsku, nawet początkujący będą mogli się odnaleźć!</p>
<p>Co więcej. Osobno można dokupić wersję audio oraz zeszyt ćwiczeń. Wersja audio jest czytana przez profesjonalnego brytyjskiego lektora i jest wykonana na prawdę na najwyższym poziomie! Simona Messinga, bo to on jest lektorem, słucha
się z największą przyjemnością!</p>
<p>Ponieważ jest to wznowiona seria, można oczekiwać że pojawią się jeszcze co najmniej dwie części, bowiem poprzednio wydano 19 książeczek. Wersja audio zazwyczaj nie trwa więcej niż godzinę, więc jest to w sam raz!</p>
<p>Więcej info znajdziesz tutaj:</p>
<p><a href="http://sklep.rp.pl/produkt/czytamy-w-oryginale___.php">http://sklep.rp.pl/produkt/czytamy-w-oryginale___.php</a><br/>
(książki można kupić w wielu księgarniach)</p>
<p>Pozdrawiam,<br/>
Twój wierny czytelnik,<br/>
Wojtek :)</p>
</blockquote>
<p><strong>Czy znasz te książki albo podobne? Jakie było Twoje doświadczenie? Napisz komentarz!</strong></p>
</div>

<div id="comments">
<a id="comment-2015"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Dzięki za opublikowanie! O tym, że wznowiono tę serię wychodzącą chyba w 2004. roku, dowiedziałem się kilka dni temu.<br/>
Sam jestem ciekawy opinii o produkcie. Szczególnie tych, którzy pamiętają poprzednią serię.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/158/2015">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-wspania%C5%82e-materia%C5%82y-dla-ucz%C4%85cych-si%C4%99-angielskiego#comment-2015">Saturday, May 26, 2012 - 10:08</a></span>
</div>
</div>
<a id="comment-2020"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9a314c3aefcc2a64c0f22ec358017499?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Już od jakiegoś czasu interesuję się zakupieniem pozycji "Czytamy w oryginalne - wielkie powieści". Wydaje mi się, ze wydawnictwo od razu powinno informować o tym, że należy dodatkowo dokupić do każdej powieści .mp3. Jest mi bardzo pomocne przy nauce, że "po jednej stronie mamy tekst po angielsku a po drugiej po polsku" + .mp3. Jeśli znacie jakieś książki wydane z takim układem wraz z .mp3 będę wdzięczny za informację. Ze swojej strony mogę polecić książkę <a href="http://www.langenscheidt.pl/files/img/Pyt_odpow_ang_persp.jpg" title="http://www.langenscheidt.pl/files/img/Pyt_odpow_ang_persp.jpg">http://www.langenscheidt.pl/files/img/Pyt_odpow_ang_persp.jpg</a> podobnie mamy tekst po polsku i angielsku - niestety brakuje .mp3, bardzo nad tym ubolewam.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/158/2020">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-wspania%C5%82e-materia%C5%82y-dla-ucz%C4%85cych-si%C4%99-angielskiego#comment-2020">Sunday, May 27, 2012 - 03:19</a></span>
</div>
</div>
<div class="indented"><a id="comment-2023"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Tak, zgadzam się. Nagranie dźwiękowe jest tak ważne w nauce języka, nie powinno być tak trudno znaleźć wersję audio. Nawet kiedy kupiłem książki Harry'ego Pottera - która jest chyba najłatwiejszą książką do znalezienia - czasem bywały trudności w znalezieniu audiobooków.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/158/2023">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-wspania%C5%82e-materia%C5%82y-dla-ucz%C4%85cych-si%C4%99-angielskiego#comment-2023">Sunday, May 27, 2012 - 07:55</a></span>
</div>
</div>
<a id="comment-2029"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Sprawa wydaje się trochę skomplikowana. Napiszę, jak ja to rozumiem.</p>
<p>Pierwsza seria „Czytamy w originale” to były książeczki tylko po angielsku, zeszyt ćwiczeń i płyta CD z nagraniem. Można je było kupić w księgarniach i na stronie czytamy.pl. Na stronie kupowało się to samo tylko, że w formie cyfrowej (PDF-y + mp3).</p>
<p>Teraz książki są dwujęzyczne i wydane jak biblioteczka „Rzeczypospolitej”. Natomiast adres czytamy.pl przekierowuje na stronę 44.pl, gdzie można kupić nagrania (na razie nie wszystkie) i zeszyt ćwiczeń. Nie można natomiast już kupić tekstu w formie cyfrowej. Można go natomiast kupić w sklepie „Rzepy”, ale cena jest absurdalna – tyle samo co wersja na papierze.</p>
<p>Na chłopski rozum wydaje się, że jest to problem z prawami autorskimi, tzn. jedni mają prawo do tego, drudzy do tego.</p>
<p>Starą serię (19 książeczek) można ściągnąć z internetu. Problemem jest to, że nikt, ale to nikt nie zamieścił nagrania w wyższej jakości. W tamtym czasie czytamy.pl bowiem umożliwiało wybranie jakości nagrania – dwie wersje różniące się nieznacznie ceną. Dla mnie słabsza jakość jest nieakceptowalna, bo brzmi po prostu koszmarnie.</p>
<p>Spędziłem 3 godziny szukając w sieci, gdzie się da, wyższej jakości audio. Nic.<br/>
Zostało mi 44.pl. Ale też nie jestem zadowolony, bo w dwóch przypadkach dostałem jeden plik, nie 7 (tyle ile jest rozdziałów). Ponieważ mój leciwy już odtwarzacz ma problem z przewijaniem w plikach o zmiennym bitrate (VBR), jest to problem. Napisałem do nich, ale na razie zero odzewu.</p>
<p>Myślę, że to trochę nakreśli sytuację.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/158/2029">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-wspania%C5%82e-materia%C5%82y-dla-ucz%C4%85cych-si%C4%99-angielskiego#comment-2029">Monday, May 28, 2012 - 02:43</a></span>
</div>
</div>
</div><a id="comment-2021"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/59c6601728cc3ffe130fc5678eb97ead?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hey David!<br/>
Obejrz w końcu "Czas Honoru" :)Spodoba ci się :) Pozdr</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/158/2021">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">fngsd (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-wspania%C5%82e-materia%C5%82y-dla-ucz%C4%85cych-si%C4%99-angielskiego#comment-2021">Sunday, May 27, 2012 - 04:17</a></span>
</div>
</div>
<div class="indented"><a id="comment-2022"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Wielu już to sugerowało - po prostu nie mam zbyt dużo czasu na oglądanie telewizji. Kiedy mam wolną chwilę na pewno go obejrzę! :-) Pozdrawiam, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/158/2022">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-wspania%C5%82e-materia%C5%82y-dla-ucz%C4%85cych-si%C4%99-angielskiego#comment-2022">Sunday, May 27, 2012 - 07:38</a></span>
</div>
</div>
<div class="indented"><a id="comment-2026"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/830b58d5955939037185dc93951fbc6f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>"Kiedy mam wolną chwilę" </p>
<p>Zamień na czas przeszły</p>
<p> - kiedy będę miał wolną chwilę.</p>
<p>P.S<br/>
Dobra robota z ebookiem, przeczytałem cały po angielsku, wszystko zrozumiałem i zmotywowałeś mnie do dalszej pracy, muszę zacząć mówić!</p>
<p>Pozdrawiam</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/158/2026">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-wspania%C5%82e-materia%C5%82y-dla-ucz%C4%85cych-si%C4%99-angielskiego#comment-2026">Monday, May 28, 2012 - 02:12</a></span>
</div>
</div>
<div class="indented"><a id="comment-2028"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Rarcja, ale powinno być „czas przyszły”.<br/>
W tym kontekście:</p>
<p>When I have some free time – Kiedy będę miał wolną chwilę / trochę wolnego czasu.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/158/2028">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-wspania%C5%82e-materia%C5%82y-dla-ucz%C4%85cych-si%C4%99-angielskiego#comment-2028">Monday, May 28, 2012 - 02:28</a></span>
</div>
</div>
<a id="comment-2048"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki za poprawkę i miłe słowa! Nieustannie robię taki błąd kiedy jest czas teraźniejszy w j. angielskim ale powinno być w czasie przyszłym w j. polskim. :-) Życzę sukcesu w nauce!</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/158/2048">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-wspania%C5%82e-materia%C5%82y-dla-ucz%C4%85cych-si%C4%99-angielskiego#comment-2048">Tuesday, May 29, 2012 - 07:11</a></span>
</div>
</div>
<div class="indented"><a id="comment-2481"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/47fab4b41d091115a25626cb804e54cd?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witaj,<br/>
bardzo przydają mi się Twoje błędy w języku polskim, ponieważ pozwala mi łatwiej zrozumieć i zapamiętać te konstrukcje w języku angielkim. Oczywiście podziwiam Twoją znajomość polskiego i pracę nad portalem. Dziękuję za ebuka. Pozdrawiam.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/158/2481">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Juka (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-wspania%C5%82e-materia%C5%82y-dla-ucz%C4%85cych-si%C4%99-angielskiego#comment-2481">Monday, June 18, 2012 - 05:31</a></span>
</div>
</div>
</div></div></div></div><a id="comment-2033"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a47b83981ba10fe79bf14f7acf3d95b6?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Moim zdaniem lepiej czytać w oryginale + mp3 i samemu sobie tłumaczyć. Dlaczego? Bo właśnie dzięki temu że pracujemy tylko z obcym językiem nasz umysł sam nabywa zdolności rozumienia całej gramatyki. I myślimy wtedy tylko po angielsku. </p>
<p>Natomiast gotowe tłumaczenia:</p>
<p>a) rozleniwiają - nasz umysł zamiast wdrążać się w angielską gramatykę i intuicyjnie ją łapać - będzie miał gotowe tłumaczenie polskie, przez co ten proces będzie pomijany. </p>
<p>b) gotowe tłumaczenia to już interpretacja. Tłumacze często zamieniają znaczenie wyrazów skupiając się tylko na samym sensie.<br/>
Przykład? Zobaczcie jak tłumaczą tytuły filmów angielskich na polski - zupełna wolna amerykanka ; - )</p>
<p>Mam w domu książkę z tekstami zespołu "the doors" przetłumaczone na polski i czytając tekst po angielsku sam go rozumiem i to jest właśnie te miłe uczucie - rozumiejąc PO SWOJEMU oryginał.<br/>
Natomiast tłumacz zabiera ten żywy kontakt.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/158/2033">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Peter0186 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-wspania%C5%82e-materia%C5%82y-dla-ucz%C4%85cych-si%C4%99-angielskiego#comment-2033">Monday, May 28, 2012 - 05:36</a></span>
</div>
</div>
<div class="indented"><a id="comment-2034"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Poruszyłeś ważny punkt – to jest przekład. Napisałem o tym w komentarzu do tego postu, tylko że w wersji angielskiej. Miałem wątpliwości jak podejść do dwóch języków.</p>
<p>Osobiście wolę czytać w oryginale, bo tak jak zauważyłeś, tłumacze czasem zbyt frywolnie przekładają tekst, fragment czy pojedyncze słowa.</p>
<p>Ale to że ja, Ty tego nie lubimy, nie oznacza, że ktoś tego nie preferuje. :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/158/2034">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-wspania%C5%82e-materia%C5%82y-dla-ucz%C4%85cych-si%C4%99-angielskiego#comment-2034">Monday, May 28, 2012 - 07:47</a></span>
</div>
</div>
<a id="comment-2035"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9a8cb03a0d20b459b313c180559fa98b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Mnie osobiście podoba się czytanie oryginału i potem tłumaczenia. Jakoś mnie to lepiej wchodzi. Gdy czytasz oryginał, to każdy sobie od razu tłumaczy i próbuje jak najwięcej zrozumieć.  Potem tylko sprawdzenie czy dobrze zrozumiał. </p>
<p>Problem z własnym tłumaczeniem może być z idoms</p>
<p>Myślę, że nie ma co się rozdrabiać jak uczyć się bo chyba wszystko prawie zostało napisane w ebooku David Snopek - Natural Language Learning. Teraz tylko trzeba pracować :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/158/2035">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">krzysztof (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-wspania%C5%82e-materia%C5%82y-dla-ucz%C4%85cych-si%C4%99-angielskiego#comment-2035">Monday, May 28, 2012 - 08:55</a></span>
</div>
</div>
<div class="indented"><a id="comment-2051"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Zgadzam się, są zalety i wady do obu metod. I tak, już rozważyłem je w moim ebooku. :-) Zapraszam wszystkich, którzy jeszcze go nie czytali, do czytania! Pozdrawiam serdecznie, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/158/2051">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-wspania%C5%82e-materia%C5%82y-dla-ucz%C4%85cych-si%C4%99-angielskiego#comment-2051">Tuesday, May 29, 2012 - 07:24</a></span>
</div>
</div>
</div><a id="comment-2049"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Sam wolę ten sam proces jak Ty z takich samych powodów. :-) Ale rozmawiałem z uczącymi się, którym udało się nauczyć się języka korzystając z gotowym tłumaczeniem również. Myślę, że to po prostu osobiste preferencje. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/158/2049">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-wspania%C5%82e-materia%C5%82y-dla-ucz%C4%85cych-si%C4%99-angielskiego#comment-2049">Tuesday, May 29, 2012 - 07:17</a></span>
</div>
</div>
</div><a id="comment-2043"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/5609ea83edf92f4bad9b21ad056f8514?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hello David!! Could you give me a link to a free MP-3 of The Count of Monte Christio. I love this book, I have to read this book. After I am going to read ''The Last of the Mohicans''. I like the above books.</p>
<p>Have you read in polish ''Dziady'' Adam Mickiewicz???<br/>
PLEASE DO NOT READ IT ;-)</p>
<p>Kind regards</p>
<p>Radek from High Wycombe</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/158/2043">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Radek from High Wycombe (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-wspania%C5%82e-materia%C5%82y-dla-ucz%C4%85cych-si%C4%99-angielskiego#comment-2043">Tuesday, May 29, 2012 - 06:22</a></span>
</div>
</div>
<div class="indented"><a id="comment-2050"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Radek!</p>
<p>Here is the same link I gave you previously:</p>
<p><a href="http://archive.org/details/count_monte_cristo_0711_librivox" title="http://archive.org/details/count_monte_cristo_0711_librivox">http://archive.org/details/count_monte_cristo_0711_librivox</a></p>
<p>I haven't read "Dziady" - for the most part Mickiewicz is still too hard for me. But I'm curious as to why you are so adamant that I shouldn't read it? :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/158/2050">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-wspania%C5%82e-materia%C5%82y-dla-ucz%C4%85cych-si%C4%99-angielskiego#comment-2050">Tuesday, May 29, 2012 - 07:20</a></span>
</div>
</div>
<div class="indented"><a id="comment-2058"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/5609ea83edf92f4bad9b21ad056f8514?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Why you should not read ''Dziady''??? Because this book makes bored and it is like Hamlet, Prince of Denmark written by William Shakespeare. Most english people are not able to read the above book in ENGLISH ( hahaha)</p>
<p>I hope that you may find one polish book in English ''Deluge ( Potop) written by Henryk Sienkiewicz.</p>
<p>I am going to find the above book in English ( I hope)</p>
<p>P.S I have learned a new idiom in English today ;-) ;-)</p>
<p>''We will cross that bridge when we get to it'' ;-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/158/2058">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Radek from High Wycombe (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-wspania%C5%82e-materia%C5%82y-dla-ucz%C4%85cych-si%C4%99-angielskiego#comment-2058">Tuesday, May 29, 2012 - 08:56</a></span>
</div>
</div>
</div></div><a id="comment-2055"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/866eee6d18fde213a58eda8e64588f41?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>David</p>
<p>nie polecam ci książki "Dziady" ponieważ to jest książka w której trzeba mieć sporo wiedzy historycznej a także literackiej by tą książkę zrozumieć. Występuje też dużo symboli. dam ci 1 przykład. w ósmej scenie dziadów części 3 ginie porażony piorunem doktor. Mickiewicz w ten sposób obraził słowackiego czyli swojego konkurenta.bo ojciec lub wujek(nie pamiętam dokładnie) słowackiego umarł porażony piorunem. tego się z książki nie dowiesz.dlatego ta książka jest trudna dla osoby która mało zna historię polski w latach 1800-1840 gdy były zabory i on tworzył.</p>
<p>Dla szczegółu powiem że są 4 części przy czym 1 nieukończona przez Mickiewicza.możliwe że nie zrozumiesz tego z doktorem bo ja przytoczyłem fragment z książki a nie czytałeś dziadów</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/158/2055">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-wspania%C5%82e-materia%C5%82y-dla-ucz%C4%85cych-si%C4%99-angielskiego#comment-2055">Tuesday, May 29, 2012 - 07:48</a></span>
</div>
</div>
<div class="indented"><a id="comment-2060"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a47b83981ba10fe79bf14f7acf3d95b6?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Bez przesady, to o czym mówisz to już jest wiedza dla koneserów.<br/>
Takie ciekawostki z piorunami to są dobre raczej do teleturniejów telewizyjnych :-) </p>
<p>Myślę że David może czytać każdą starą książkę w języku polskim a nawet powinien, bo to jest już literatura dla ludzi których bardziej interesuje sam język. </p>
<p>Co do rozumienia to skoro dzieci w szkołach dają radę...</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/158/2060">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Peter0186 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-wspania%C5%82e-materia%C5%82y-dla-ucz%C4%85cych-si%C4%99-angielskiego#comment-2060">Tuesday, May 29, 2012 - 10:12</a></span>
</div>
</div>
</div><a id="comment-2057"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/866eee6d18fde213a58eda8e64588f41?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>nie chcę cię zniechęcać ale to jest naprawdę bardzo trudne.nawet gdy ja chodziłem do szkoły bo inni uczniowie mieli duże problemy z tą książką :P</p>
<p>przepraszam za spam</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/158/2057">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">zed16 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-wspania%C5%82e-materia%C5%82y-dla-ucz%C4%85cych-si%C4%99-angielskiego#comment-2057">Tuesday, May 29, 2012 - 07:53</a></span>
</div>
</div>
<a id="comment-2064"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/866eee6d18fde213a58eda8e64588f41?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>peter</p>
<p>oczywiście masz rację z tym ale bez zagłębienia się w historię nie można zrozumieć tej książki w pełni. mi o to bardziej chodziło</p>
<p>szczególnie polecam jedną piękną książkę która mi się szczególnie spodobała</p>
<p>Stefan Żeromski-Wierna rzeka</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/158/2064">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">zed16 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-wspania%C5%82e-materia%C5%82y-dla-ucz%C4%85cych-si%C4%99-angielskiego#comment-2064">Tuesday, May 29, 2012 - 12:30</a></span>
</div>
</div>
<a id="comment-2998"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/104d0b30b78f39112b98db953de4eac2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Angielski w ogóle jest trudny uczę się 20 lat i nadal nic nie umiem :) i już się nie nauczę bo mam ponad 22 lata a według naukowców po tym wieku języka się już nie nauczymy :) </p>
<p>Został mi Polski hehe :D</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/158/2998">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-wspania%C5%82e-materia%C5%82y-dla-ucz%C4%85cych-si%C4%99-angielskiego#comment-2998">Wednesday, September 19, 2012 - 06:58</a></span>
</div>
</div>
<div class="indented"><a id="comment-3000"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Nie zgadzam się z tym, że po jakimś wieku, nie możesz nauczyć się nowego języka. Znam osoby, które zaczęły nauczyć się nowego języka po sześćdziesiątce i udało im się. Jeśli naprawdę chcesz nauczyć się j. angielskiego - możesz! Tylko potrzebne są motywacja, czas i efektywna metoda!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/158/3000">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-wspania%C5%82e-materia%C5%82y-dla-ucz%C4%85cych-si%C4%99-angielskiego#comment-3000">Wednesday, September 19, 2012 - 10:37</a></span>
</div>
</div>
</div><a id="comment-3001"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/104d0b30b78f39112b98db953de4eac2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Nie wszystko jest dla wszystkich, takie moje zdanie :) ja się języka nie nauczę choćbym nie wiem jaką miał cud metodę.</p>
<p>Chciałem kiedyś Duńskiego ale jak usłyszałem ich wymowę to się za głowę chwyciłem :) po za tym spotkałem nauczyciela duńczyka który uczy tego języka i powiedział że osoby starsze nie nauczą się języka tak dobrze jak rodowici mieszkańcy Danii :) a zwłaszcza nie nauczą się poprawnie mówić :)<br/>
Odpuściłem sobie tą naukę bo uważam jednak że do nauki języków trzeba mieć zdolności i łeb :) Ja nie mam i tyle hehe :D </p>
<p>Po za tym mam już 22 lata :) w dzieciństwie mogłem się uczyć :)</p>
<p>Życzę sukcesów w nauce ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/158/3001">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-wspania%C5%82e-materia%C5%82y-dla-ucz%C4%85cych-si%C4%99-angielskiego#comment-3001">Wednesday, September 19, 2012 - 12:16</a></span>
</div>
</div>
<div class="indented"><a id="comment-3002"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>No, sam zacząłem się uczyć j. polskiego kiedy już miałem 23 lat i idzie mi dość dobrze. :-) Ale na pewno nigdy nie będę mówił po polsku tak dobrze jak rodowici Polacy. Już napisałem/mówiłem dużo o tym, że  nie trzeba mieć zdolności do języków:</p>
<p><a href="http://www.linguatrek.com/blog/2012/03/o-mnie-i-mojej-misji" title="http://www.linguatrek.com/blog/2012/03/o-mnie-i-mojej-misji">http://www.linguatrek.com/blog/2012/03/o-mnie-i-mojej-misji</a></p>
<p><a href="http://www.linguatrek.com/blog/2011/02/vlog-nie-trzeba-mie%C4%87-talentu-%C5%BCeby-nauczy%C4%87-si%C4%99-j%C4%99zyka" title="http://www.linguatrek.com/blog/2011/02/vlog-nie-trzeba-mie%C4%87-talentu-%C5%BCeby-nauczy%C4%87-si%C4%99-j%C4%99zyka">http://www.linguatrek.com/blog/2011/02/vlog-nie-trzeba-mie%C4%87-talentu...</a></p>
<p>Wydaje mi się, że po prostu nie chcesz nauczyć się języka obcego. Oczywiście to jest całkiem w porządku! :-) Nie wszyscy interesują się językami. Ale gdybyś naprawdę chciał, gwarantuje Ci, że mógłbyś to zrobić. ;-)</p>
<p>Dzięki za życzenia!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/158/3002">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-wspania%C5%82e-materia%C5%82y-dla-ucz%C4%85cych-si%C4%99-angielskiego#comment-3002">Wednesday, September 19, 2012 - 13:04</a></span>
</div>
</div>
</div><a id="comment-3968"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e70d62bb58db727a0e1ade92465f758e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć,<br/>
też tego szukałam ostatnio i rzeczywiście są jakieś problemy żeby kupić to wszystko razem czyli książkę + dodatki. Ale znalazłam to:<br/>
<a href="http://chomikuj.pl/action/SearchFiles?FileName=Czytamy+w+oryginale&amp;submitSearchFiles=&amp;FileType=all" title="http://chomikuj.pl/action/SearchFiles?FileName=Czytamy+w+oryginale&amp;submitSearchFiles=&amp;FileType=all">http://chomikuj.pl/action/SearchFiles?FileName=Czytamy+w+oryginale&amp;submi...</a><br/>
chociaż wolałabym lepszej jakości nagrania i legal...<br/>
A do wydawnictwa napisałam swoją drogą i czekam na odpowiedź, bo nawet z ich stroną zamawiania były problemy.<br/>
Pozdrawiam<br/>
Aga</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/158/3968">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Aga (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-wspania%C5%82e-materia%C5%82y-dla-ucz%C4%85cych-si%C4%99-angielskiego#comment-3968">Friday, February 15, 2013 - 06:54</a></span>
</div>
</div>
</div>
