---
permalink: /blog/2012/05/do-i-need-to-speak-from-day-one/
layout: blog-old
title: 'Do I NEED to speak from day one?'
day: 29
month: May
year: 2012
category: language learning
tags: 
  - 'Benny Lewis'
  - 'fear of speaking'
  - 'speaking'
language: en
translation: /blog/2012/05/czy-musz%C4%99-m%C3%B3wi%C4%87-od-pierwszego-dnia/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/05/butterfly.jpg" rel="lightbox"><img alt="Butterfly" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/05/butterfly.jpg" title="Photo by Gustavo Durán"/></a><div class="caption"><a href="http://www.flickr.com/photos/67662120@N00/2986020135">Photo</a> by <a href="http://www.flickr.com/photos/trekman/">Gustavo Durán</a></div></div>
<p>This is topic widely discussed and disagreed upon in the language learning community. One of biggest advocates of speaking immediately is Benny Lewis, author of the <a href="http://www.fluentin3months.com/">Fluent in 3 Months</a> blog and creator of the <a href="http://speakfromday1.com/faq/">Speak From Day 1</a> video course.</p>
<p>In the <a href="http://speakfromday1.com/faq/">FAQ</a> for that product, he writes: (<em>some emphasis added</em>)</p>
<blockquote>
<p>Rather than read through the guide and watch all the videos to find out my one major 'secret', I can tell you right now: <strong>you need to speak the language immediately.</strong></p>
<p>No years of studying grammar, no expensive and complicated software, no "magic pill" to master a language while you sleep, you just need to speak it. Speak it regularly, speak it confidently, and speak it immediately. <strong>The more you speak, the quicker you will improve.</strong></p>
</blockquote>
<p>Now, I'm a BIG fan of Benny. He recently gave me the amazing opportunity to write a <a href="http://www.fluentin3months.com/polish/">guest post on his blog</a>.

</p><p>But in this particular point, I disagree. I don't think you <em>NEED</em> to speak from day one.</p>
<p><strong>Read more to find out why!</strong></p>
<h2>Benny's logic is sound</h2>
<p>As I wrote in <a href="http://www.linguatrek.com/blog/2012/05/natural-language-learning-my-free-ebook-is-finished">my ebook</a> and <a href="http://www.linguatrek.com/blog/2012/04/natural-language-learning-without-a-teacher">in other posts</a>, the human brain learns a language from processing <em>real communication</em> (comprehensible input) in the language.</p>
<p>Most language learners spend their time focusing on things that don't give the brain what it needs! Things like: grammar, tests, artificial vocabulary lists, etc. Benny is right to tell people to stop focusing on those things and to start communicating in the language.</p>
<p><strong>But I don't believe that speaking is the <em>only</em> type of communication that works!</strong></p>
<h2>Many roads lead to the same destination</h2>
<p>I've talked to people who have successfully learned languages in all sorts of ways: watching TV and movies, listening to music, reading books, playing videos, etc.  The options are limitless!  But the key is that it's <em>real communication</em>.</p>
<p>You aren't just listening to some MP3 of the language and hearing the sounds. You are actively participating!  If it's comedy, you're laughing at the jokes.  If it's a story, you're picturing the action.</p>
<p>Personally, <a href="http://www.linguatrek.com/blog/2010/12/harry-potter-the-book-that-taught-me-polish">I learned Polish</a> largely from reading and listening to books (specifically the Harry Potter books) in Polish.  For the first year and half, I spoke Polish very little - practically not at all.  Yet, my Polish ability was constantly improving!</p>
<p>When I first started reading Harry Potter, I needed to look up every other word in the dictionary.  By the end of that same year, I was able to comfortably listen to later Harry Potter audio books without even opening the paper version.  All without speaking.</p>
<p>Just from extensive listening (over 100 hours - each Harry Potter book was 10-20 hours), I already had the language in my brain.  I could form Polish sentences to express my thoughts even though I had very little practice doing so in real situations.</p>
<p><strong>The only thing that stood in my way was...</strong></p>
<h2>Fear of speaking</h2>
<p>In certain situations, like talking with other learners, I was comfortable and could speak very well.  But in other situations where I was uncomfortable, I immediately became very dumb. :-)</p>
<p><a href="http://www.linguatrek.com/blog/2011/05/how-to-overcome-your-fear-of-speaking">Getting over your fear of speaking</a> is a very important <a href="http://www.linguatrek.com/blog/2012/04/3-steps-to-speaking-a-language-fluently-ebook-excerpt">step to "fluency"</a> (I'm not crazy about <a href="http://www.linguatrek.com/blog/2010/11/lets-stop-saying-fluent-fluently-and-fluency-too">that word</a>).  This is something I <em>still</em> struggle with in certain situations, for example, when talking on the phone.</p>
<p><strong>Speaking from day one forces you to also address that fear from day one!</strong></p>
<p>But the process of getting the language in your brain and getting over your fear of speaking don't NEED to be done simultaneously.  They are separate issues that affect the same whole.</p>
<p>If you choose to learn via some other type of communication (like listening), you simply have to address that fear separately.</p>
<p><em>(Piotr from <a href="http://realpolish.pl">Real Polish</a> just wrote <a href="http://realpolish.wordpress.com/2012/05/28/my-little-steps-to-develop-confidence-in-speaking-foreign-language/">an article</a> on his blog about how he got over his fear of speaking. I really hope more people start talking about this important topic!)</em></p>
<h2>Advantages of other forms of communication</h2>
<p>Speaking the language as a source of communication is great.  But there are several advantages to using other forms of communication (usually called <em>passive communication</em>) like books, movies, video games, etc:</p>
<ul>
<li><strong>You can do it any time</strong> - I have to schedule a Skype call (dealing with timezone differences) in order to speak Polish. But I can listen to my MP3 player any time!</li>
<li><strong>You can do it anywhere</strong> - My favorite places to learn are in bed and while walking.</li>
<li><strong>Repetition is easy</strong> - You can easily listen to the same thing over and over again if you like.</li>
<li><strong>Stress is low</strong> - Stress seriously disrupts the learning process. While you're still getting over your fear of speaking, conversations will be very stressful, making it difficult to learn.</li>
</ul>
<h2>Personal preference</h2>
<p>But the most important factor of all is: <strong>YOU!</strong></p>
<p>Some people are extremely social and their main form of communication (even in their native language) is conversation. These people will probably learn best by focusing on speaking.</p>
<p>I'm personally a voracious reader.  In my daily life, I read far more (even in my native language) than I speak.  And I'm very happy this way! :-)  For me, reading and listening are best.</p>
<p><strong>Don't limit yourself to a particular method because it's the best for <em>someone else</em>!</strong></p>
<p>You need to find the method that works best for you and <em>for your goals</em>. Which is the topic of <a href="http://www.linguatrek.com/blog/2012/04/natural-language-learning-without-a-teacher">my ebook</a>, by the way ;-)</p>
<p><strong>What do you think? Do you NEED to speak from day one? Or are there other paths to successful language learning? What do you prefer? Please leave a comment below!</strong></p>
</div>

<div id="comments">
<a id="comment-2059"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.fluentin3months.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4ac83f83b0652aeee4fe06746f9ba12a?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>I agree 100% with your evaluation. You definitely do not need to speak from day 1. When I say that, I presume that someone's absolute priority is to speak and that they need to do it quickly (such as someone with an upcoming immersion experience).</p>
<p>When you NEED to speak, (not just "want" to) then you do NEED to speak from day 1 :) Simple as that!</p>
<p>However, reading and absorbing content in other ways can work wonders if you have other goals, or if speaking is not AS big of a priority. Your long term approach and reading Harry Potter etc. has obviously paid off!</p>
<p>Keep up the good work!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/160/2059">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.fluentin3months.com" rel="nofollow">Benny Lewis</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/do-i-need-to-speak-from-day-one#comment-2059">Tuesday, May 29, 2012 - 09:09</a></span>
</div>
</div>
<div class="indented"><a id="comment-2061"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Benny,</p>
<p>Thanks for chiming in! BTW, I love the photo. :-)</p>
<p>Yeah, if you are in an immersion situation or have one coming up, I absolutely agree - speaking should be the main focus.</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/160/2061">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/do-i-need-to-speak-from-day-one#comment-2061">Tuesday, May 29, 2012 - 09:16</a></span>
</div>
</div>
</div><a id="comment-2065"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://realpolish.pl" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9cd173db3c34291605fc39d2da3e19b2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Great stuff David, thank you for all! As I've said at the beginning my goal was only understanding... but eventually I changed my mind and now I want to speak :) I just love speaking English, even if I'm not pretty good yet. Now I'm sure that no one will put me in a jail if I do some mistakes or I'll tell something which is not understandable.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/160/2065">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://realpolish.pl" rel="nofollow">Piotr</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/do-i-need-to-speak-from-day-one#comment-2065">Tuesday, May 29, 2012 - 11:36</a></span>
</div>
</div>
<div class="indented"><a id="comment-2081"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Piotr, thanks again for sharing your experience on your blog! I wonder: how do you think it would have gone if you felt like you <em>had</em> to speak from the very beginning?</p>
<p>Take care!<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/160/2081">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/do-i-need-to-speak-from-day-one#comment-2081">Wednesday, May 30, 2012 - 14:36</a></span>
</div>
</div>
<div class="indented"><a id="comment-2100"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://realpolish.pl" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9cd173db3c34291605fc39d2da3e19b2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>It is hard to guess right now, but I think it could be tough time for me. If I would have to speak probably I could. But easier for me was not speaking at the beginning. That time it was just not my cup of tea. Cheers!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/160/2100">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://realpolish.pl" rel="nofollow">Piotr</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/do-i-need-to-speak-from-day-one#comment-2100">Thursday, May 31, 2012 - 03:01</a></span>
</div>
</div>
</div></div><a id="comment-2066"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/0d8e77257895639f213a9ae4900892e1?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I definitely agree with Benny on this one. In my opinion you will never learn to speak completely 100% confidently and naturally just from learning grammar, by listening, by watching tv. The sooner you start speaking in a new language, the easier it is to progress and the more natural it becomes to communicate in that language.<br/>
For example, I have recently completed my degree in Spanish, where I have had grammar drilled into me from day one, and consequently I can translate written Spanish almost perfectly but can barely say a complete sentence without some serious thought going into it. My Polish on the other hand, which I have learnt just from living with a native speaker for 18months, is far better than my Spanish and I find it a lot easier to have a conversation with someone in Polish than in Spanish, although my grammar is not anywhere near as good.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/160/2066">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Carly (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/do-i-need-to-speak-from-day-one#comment-2066">Tuesday, May 29, 2012 - 11:55</a></span>
</div>
</div>
<div class="indented"><a id="comment-2080"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Carly!</p>
<p>I agree with you on the grammar point! I spent tons of time learning Russian and Polish grammar in the past and it didn't help me AT ALL! :-)</p>
<p>Glad to hear that your Polish is going so well! Are you in the USA? I'm extremely jealous of the fact that you live with a Pole. :-) I've known one or two Poles in my city, but they keep moving away.</p>
<p>My experience was that once I got the language in my brain from listening - speaking was just a matter of opening my mouth and doing it! If it weren't for that pesky fear of speaking, it would have a pretty big non-event going from listening to speaking. ;-) Of course, if I had been speaking from day, I would have been working on that fear from day one too. But I'm not sure I would have enjoyed learning as much.</p>
<p>I'm really curious to see if I have a fear of speaking when I learn my next foreign language. Do you think your Spanish experience helped in this regard?</p>
<p>Życzę Ci dalszych sukcesu w nauce polskiego!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/160/2080">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/do-i-need-to-speak-from-day-one#comment-2080">Wednesday, May 30, 2012 - 14:33</a></span>
</div>
</div>
<div class="indented"><a id="comment-2093"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/0d8e77257895639f213a9ae4900892e1?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć David!</p>
<p>Sorry but one little correction I think 'Życzę Ci dalszych sukcesów w nauce polskiego'. Czy nie?</p>
<p>I don't live in the USA. I'm from the Isle of Man, a small island in the British Isles. There are so many Polish/Bulgarian/Portuguese/Filipino people here so its a very handy place for learning languages!</p>
<p>I don't think my learning Spanish helped my fear of speaking another language at all. I think people who aren't naturally confident just aren't able to speak without fear until they really are familiar with the language or feel comfortable with the people that they are speaking it with. For me, there has never really been much of a fear with speaking Polish, maybe because I didn't really have any goals or thoughts about how much Polish I needed to learn. With Spanish on the other hand the end goal was always to speak it well enough to pass my degree, so quite a lot of pressure compared with the fun of Polish! </p>
<p>Pozdrawiam,<br/>
Carly</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/160/2093">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Carly (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/do-i-need-to-speak-from-day-one#comment-2093">Wednesday, May 30, 2012 - 17:37</a></span>
</div>
</div>
<div class="indented"><a id="comment-2095"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Yes, you are correct, it should be sukcesów. I actually make that mistake a lot in writing, I don't know why. :-) Thanks for the correction!</p>
<p>Ah, I remember seeing someone say they were from the Isle of Man in one of the responses to my welcome e-mail!  I don't recall if I sent a reply yet - I'm still catching up on e-mails from the last week. If not, I'm sure I'll get to it soon. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/160/2095">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/do-i-need-to-speak-from-day-one#comment-2095">Wednesday, May 30, 2012 - 20:23</a></span>
</div>
</div>
<a id="comment-2096"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>PS: I invite you to check out the Polish version of this same discussion:</p>
<p><a href="http://www.linguatrek.com/blog/2012/05/czy-musz%C4%99-m%C3%B3wi%C4%87-od-pierwszego-dnia" title="http://www.linguatrek.com/blog/2012/05/czy-musz%C4%99-m%C3%B3wi%C4%87-od-pierwszego-dnia">http://www.linguatrek.com/blog/2012/05/czy-musz%C4%99-m%C3%B3wi%C4%87-od...</a></p>
<p>I don't do all my articles in both Polish and English, but it's something I'm trying to do more!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/160/2096">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/do-i-need-to-speak-from-day-one#comment-2096">Wednesday, May 30, 2012 - 20:27</a></span>
</div>
</div>
</div></div></div><a id="comment-2070"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.brazilianpolyglot.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d4e21ed170a0b88ebcac627e282464e1?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hello David,</p>
<p>Good post, I will try to answer your questions:<br/>
“Do you NEED to speak from day one?” To answer this question it is really important to know where is the person from and what is his/her mother tongue in relation to the language he/she is learning, because the closest is the language less will be the shyness to overcome this “linguistic first moment barrier”, for instance if you speak Portuguese, Spanish will be very similar and people usually tend to “try” to speak from day one with reasonable success, the same is true for pairs like German and Dutch, Italian and French and so on. I really agree that people sometimes are feared about committing mistakes and they tend to maintain themselves in a silent period for quite a long time, and this can be a big problem to overcome later, because the only way to learn a language is by speaking it. Maybe taking the middle way is really more appropriate, that is neither “from day one”, nor after months of studying.</p>
<p>“Or are there other paths to successful language learning?” I am a language teacher and for this reason day after day I realize that even having a quite effective method, there is no perfection or effortless method, you really have to study, and as you said in your ebook: “the only way to fail learning a foreign language is by giving up”, but I would go further, “you will never learn a language if you believe in miracles”, there is no shortcuts or magic pills, the keys are still things like dedication and time.</p>
<p>“What do you prefer?” As I have an authentic passion for languages, I usually say that they are my perfect hobby-job, so I virtually spend my whole time learning (and teaching) them, thus hard work in learning languages is not a problem for me, but for sure I try to make it pleasant by reading books, listening to podcasts and watching films. </p>
<p>Best wishes,<br/>
Jimmy Mello</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/160/2070">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.brazilianpolyglot.com" rel="nofollow">Jimmy Mello</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/do-i-need-to-speak-from-day-one#comment-2070">Tuesday, May 29, 2012 - 13:44</a></span>
</div>
</div>
<div class="indented"><a id="comment-2082"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Jimmy!</p>
<p>Thanks for your very detailed response. :-)  I absolutely agree with you that there are "no shortcuts or magic pills, the keys are still things like dedication and time." However, I think the human minds ability to learn languages at all is kind of a miracle! Languages are big and complex - yet we all manage to speak at least one. :-) To me that's a pretty amazing miracle!</p>
<p>The one thing I don't agree with is this: "the only way to learn a language is by speaking it." Once I had Polish in my brain from listening, it actually was no effort to start speaking (although, of course I did it badly - I still don't do it perfectly). The only problem was psychological (my fear of speaking) not really linguistic.</p>
<p>If your goal is to speak well, yes, you have to practice speaking a lot. But "learning a language" means a lot of things to a lot of different people. I think a "silent period" is OK, if you've chosen to do this. It's only damaging when you're forced into a "silent period" because of fear.</p>
<p>In any case, thanks again for the comment! I think you have the best "hobby-job" ever! :-)</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/160/2082">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/do-i-need-to-speak-from-day-one#comment-2082">Wednesday, May 30, 2012 - 14:45</a></span>
</div>
</div>
</div><a id="comment-2071"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/1682200cef99ed84d8ee7ee73cc020f2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Perhaps I don't NEED to speak from day one, but I WANT to speak from day one.<br/>
As a child we do not learn from books, movies, music as much as we learn from personal interaction. Speaking a language (even just a few words) has you thinking in that language. Learning Japanese, my vocabulary and reading skills took off after I learned how to politely ask while pointing like a child, "How do you say that in Japanese/", "How do you read that in Japanese?" and "Would you write that in Japanese?".<br/>
Now I'm using the same questions in Spanish and proceeding smoothly.<br/>
Next: Mandarin, Arabic.......</p>
<p>Charles</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/160/2071">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Charles Fillinger (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/do-i-need-to-speak-from-day-one#comment-2071">Tuesday, May 29, 2012 - 16:47</a></span>
</div>
</div>
<div class="indented"><a id="comment-2079"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Charles!</p>
<p>Absolutely! If you want to speak from day one, DO IT! :-)</p>
<p>One of my main points in this article is that people need to stop worrying about what other people think they "should do" and rather focus on what motivates them, their goals and personal preferences.</p>
<p>If speaking is what really motivates you - awesome! It great that you know yourself well enough to say that.</p>
<p>I don't entirely buy the argument "because we didn't learn from books, movies, music as children, those are less good ways to learn now." I know that isn't exactly what you said, I exaggerated for emphasis. :-) But as adults, we actually have a lot more options than we had as children which I think are just as effective. In fact, for certain people those other ways can be MORE effective!</p>
<p>Congrats on your Japanese and Spanish! I wish you similar success with Mandarin and Arabic!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/160/2079">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/do-i-need-to-speak-from-day-one#comment-2079">Wednesday, May 30, 2012 - 14:25</a></span>
</div>
</div>
<div class="indented"><a id="comment-2107"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/1682200cef99ed84d8ee7ee73cc020f2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I think perhaps my attitude may help me. I do not FEAR I MAY make a mistake, I KNOW I WILL make many mistakes. But what skill have any of us ever learned that we did flawlessly from the start. Very few people would play sports if they set the same standard for sports as they do language skills.<br/>
I study, (Anki is my best friend) watch videos, use tapes and CDs, shelves of books, yet for me personal interaction is the best teacher.<br/>
Fear may be a helpful survival trait, but unless you are a spy, communicating is not normally a survival situation. In my experience, people tend to enjoy helping a language learner rather than ridicule his efforts. </p>
<p>Charles</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/160/2107">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Charles Fillinger (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/do-i-need-to-speak-from-day-one#comment-2107">Thursday, May 31, 2012 - 07:31</a></span>
</div>
</div>
</div></div><a id="comment-2073"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/b04d366a7da3cb04f797b1182c4122c6?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I spent two years in Russia and taught a course at a pedogoical university. These were master's level students who were studying to become English teachers. They could quote Shakespeare and read Moby Dick without a problem. They could write essays and explain fine nuances of English grammar better than I could.  However, when I asked them to give me directions to a shop on the other side of town or to give me their opinion on the newest movie or song, they reverted to a low intermediate level ability for practical language usage. I would think that a balanced approach to language learning is necessary in order to develop all of the skills for effective communication, but it depends on what your short and long term goals are.<br/>
Love the blog.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/160/2073">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Noel Simon (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/do-i-need-to-speak-from-day-one#comment-2073">Tuesday, May 29, 2012 - 19:22</a></span>
</div>
</div>
<div class="indented"><a id="comment-2084"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Noel!</p>
<p>Thanks for the comment and kind words!</p>
<p>I agree, your goals are really important.  If those master's level students didn't even want to be communicatively competent, that's probably fine that they couldn't give directions.  But a university program should probably try to be more balanced!  If the courses completely ignore communicative competence, those students might not even know they have that deficiency which is a great disservice to them!</p>
<p>My main point with this article was that learners need to choose their own path based on their goals and preferences rather than feeling like they have to do what others say they should (ie. some people insist that you have to speak from day one).</p>
<p>Best of luck in your teaching and learning!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/160/2084">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/do-i-need-to-speak-from-day-one#comment-2084">Wednesday, May 30, 2012 - 14:51</a></span>
</div>
</div>
</div><a id="comment-2074"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://about.me/tomfrompoland" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3cdbaa2914c95444fc7968fe42ddfa2b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>I agree when we WANT speaking, we should simply do it :-)</p>
<p>But before speaking we have to have a "pattern of speaking".</p>
<p>Even child almost one year before producing any understandable sound get enormous amount of input - every day, almost 12h a day, from parents and other people. They're just listening and later when they try to reproduce sentences are always correct by others.</p>
<p>But in adult life we have to get a different approach. </p>
<p>Firstly, we have a great ability - known how to read and can read. So we can get easily input and "pattern of speaking" from written content, we don't have to absorb other people, we can do it ourselves.</p>
<p>Secondly, when we produce a sentences natives don't correct it almost ever unless they understand a gist. They think that it's impolite and we have to make a special request for this. So we have to correct ourselves (based on my experience) with correct input (natives speaking or written and audio content).</p>
<p>So I agree that speaking is important but early start without "good pattern" can damage our correctness. That I why agree with <a href="http://www.antimoon.com">Antimoon</a> method and David approach.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/160/2074">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://about.me/tomfrompoland" rel="nofollow">TomFromPoland</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/do-i-need-to-speak-from-day-one#comment-2074">Wednesday, May 30, 2012 - 01:03</a></span>
</div>
</div>
<div class="indented"><a id="comment-2085"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks, Tom!</p>
<p>I agree completely. :-) We should take advantage of the skills we have as adults and speak when we feel ready to do it. We don't have to speak just because others think we should.</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/160/2085">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/do-i-need-to-speak-from-day-one#comment-2085">Wednesday, May 30, 2012 - 14:54</a></span>
</div>
</div>
<a id="comment-2089"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Because both you and Radek (on the Polish version of the article) mentioned Antimoon.com, I went over there and found this related article:</p>
<p><a href="http://antimoon.com/other/myths-speaking.htm" title="http://antimoon.com/other/myths-speaking.htm">http://antimoon.com/other/myths-speaking.htm</a></p>
<p>Maybe it'll be interesting to the other people in this discussion too!</p>
<p>PS: I really need to read more on Antimoon.com! :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/160/2089">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/do-i-need-to-speak-from-day-one#comment-2089">Wednesday, May 30, 2012 - 15:07</a></span>
</div>
</div>
</div><a id="comment-2094"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://howlearnspanish.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/378451a8d6aab6e56c0caa50495bd976?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>This one's been done to death but that was still a very good overview that I pretty much agree with.  You don't need to speak from day one, but it certainly doesn't hurt as some claim and definitely does help to some degree (though you could argue that, especially early on, input would help just as much if not a bit more).  </p>
<p>One of the reasons I think speaking immediately helps you is that it <strong>really</strong> cements whatever language you're using when you speak into your brain, that is any vocabulary or grammar that you use in your target language while speaking will be much, much better memorized due to you having used them while speaking than they would have been from anything else done in the same amount of time (e.g. 10 minutes speaking and using the vocabulary you want to memorize while doing so will do far more for you than 10 minutes of Anki with the same vocab).</p>
<p>Let me ask you, I'm curious: when you first started speaking with native speakers after, what, around a year of input-only learning, how well did you do initially?  Also, how long did it take you to get up to speed so that you were fairly proficient at speaking? What I could see happening is someone learning a language via input-only and having excellent comprehension skills but never having spoken the language, then starting to speak to native speakers and starting off very herky-jerky with lots 'bumps in the road' so to speak but then very quickly getting up to speed and being fluent within a week or two--what do you think?</p>
<p>Cheers,<br/>
Andrew</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/160/2094">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://howlearnspanish.com" rel="nofollow">Andrew</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/do-i-need-to-speak-from-day-one#comment-2094">Wednesday, May 30, 2012 - 19:16</a></span>
</div>
</div>
<div class="indented"><a id="comment-2101"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Yeah, I agree that it's been done to death in the blogosphere in general. But the discussion only just came to my blog after the guest post on Fluent in 3 Months! The "you should be speaking from day one" has been a common reaction to my blog from this audience. So, I decided to respond in article form.</p>
<p>It's actually interesting the very different reaction that this post is getting in the English and <a href="http://www.linguatrek.com/blog/2012/05/czy-musz%C4%99-m%C3%B3wi%C4%87-od-pierwszego-dnia">Polish versions</a>.</p>
<p>The main reaction from Poles, seems to be "yeah, obviously." :-) But the non-Poles seem to defend the idea of speaking from day one. I wonder if that's a cultural difference? Or maybe just the fact that my Polish audience has been with me for a while and Benny's audience is from this other camp? Anyway, it's very interesting how pronounced the difference is!</p>
<p>I agree that using something while speaking helps cement it better than time with Anki. A real conversation has much stronger emotional value and so the memories of it will be much stronger -- especially if something embarassing happens. :-) There are a few language mistakes that I'll never make again because of that phenomenon!</p>
<p>Comprehensible input does that to a degree as well, when you're emotionally engaged in the content.  But still not as strongly as you experiencing it in real life.</p>
<p>As far as starting speaking: Initially I was so terrified that I did very badly. :-) Two things had to happen before I made real progress: (1) I had to realize that making mistakes wasn't the end of the world and (2) find people I really felt comfortable with.  But these weren't really linguistic problems -- they were psychological and social. I talk about this some in this article:</p>
<p><a href="http://www.linguatrek.com/blog/2011/05/how-to-overcome-your-fear-of-speaking" title="http://www.linguatrek.com/blog/2011/05/how-to-overcome-your-fear-of-speaking">http://www.linguatrek.com/blog/2011/05/how-to-overcome-your-fear-of-spea...</a></p>
<p>You can watch my speaking ability evolve to a certain degree in my YouTube videos! I've been recording them for 3.5 years.  But those are monologues, so they don't *really* count. However, there was a strong fear of making mistakes on the internet as well!</p>
<p>Thanks for your comment!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/160/2101">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/do-i-need-to-speak-from-day-one#comment-2101">Thursday, May 31, 2012 - 05:08</a></span>
</div>
</div>
<div class="indented"><a id="comment-2121"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://howlearnspanish.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/378451a8d6aab6e56c0caa50495bd976?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>That's very interesting, the whole thing about the difference in audiences and their reactions.</p>
<p>I completely agree with the point of that post about making mistakes: that's one of the biggest obstacles people have and it's also one of the most important things you have to take care of once you decide to start speaking so that you can just put yourself out there and speak, speak, speak with people.  I definitely had that as well when I first started skyping with people I met via language exchanges but it quickly went away with simple repetition, I just got used to it, and that I was able to do because I was persistent and, during that early phase where I was nervous and didn't 'feel' like doing it, I just forced myself to do it anyway.</p>
<p>Cheers,<br/>
Andrew</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/160/2121">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://howlearnspanish.com" rel="nofollow">Andrew</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/do-i-need-to-speak-from-day-one#comment-2121">Thursday, May 31, 2012 - 13:30</a></span>
</div>
</div>
</div></div><a id="comment-2124"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://icenugget.wordpress.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3bd87cbf8b98d5ef3706c4e094c4656d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>I really enjoyed the discussion here as well as your guest post.  It's great to see your site get recognition on Benny's site.</p>
<p>My experience in language learning is this:<br/>
-2 years learning Armenian: came to the country not knowing anything and had to speak from day one while doing intensive learning<br/>
-almost 1 year learning Polish: self study (that's a nice way of saying not intense) and almost no speaking</p>
<p>What is the result?  I am very comfortable in Armenian and can say and understand a lot.  I am very uncomfortable in Polish and can barely say or understand anything.</p>
<p>HOWEVER, I do agree with you.  I didn't focus on speaking in Polish from day 1 because there was no need to do so!  Rather, I wanted to avoid the painful experience of moving to a country having no vocabulary or knowledge of the grammar.  Soon I'll head to Poland and I expect a serious ramp up in my speaking/understanding ability because now I know some basic vocab and rules.  Time will tell.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/160/2124">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://icenugget.wordpress.com" rel="nofollow">ice</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/do-i-need-to-speak-from-day-one#comment-2124">Friday, June 1, 2012 - 08:32</a></span>
</div>
</div>
<div class="indented"><a id="comment-2181"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks for sharing your experience.  I'm REALLY looking forward to hearing about how things go once you're in Poland! I've subscribed to your blog and I'm waiting impatiently. ;-)</p>
<p>Actually, that would make an excellent guest post on my blog! If you're interested, contact me via e-mail or the <a href="http://www.linguatrek.com/contact">contact form</a>.</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/160/2181">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/do-i-need-to-speak-from-day-one#comment-2181">Sunday, June 3, 2012 - 12:56</a></span>
</div>
</div>
</div><a id="comment-2242"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a528e42c118e5d2c671c71ae8c13fbba?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>In my experience (for mandarin Chinese) you should speak from day one. If you just know how to say "hello" then say hello to whomever you meet. Once you know how to ask for a price, ask for the price of whatever you see. And then keep doing this. Repetition is the key to learning a language as abstract as mandarin and there is no way you can repeat a word often enough in class to actually remember any significant percentage of them - you need to repeat them, again and again.<br/>
Benny did very well with his speaking approach, reviewed on <a href="http://www.livethelanguage.cn/blog" title="http://www.livethelanguage.cn/blog">http://www.livethelanguage.cn/blog</a></p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/160/2242">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/do-i-need-to-speak-from-day-one#comment-2242">Wednesday, June 6, 2012 - 03:18</a></span>
</div>
</div>
<div class="indented"><a id="comment-2245"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks for sharing your experience! :-) What about for people who don't live in the country where the language is spoken? My blog is aimed primarily at people who <em>aren't</em> in immersion situations.</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/160/2245">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/do-i-need-to-speak-from-day-one#comment-2245">Wednesday, June 6, 2012 - 05:11</a></span>
</div>
</div>
<div class="indented"><a id="comment-2267"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a528e42c118e5d2c671c71ae8c13fbba?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Well, if there is nobody to speak to, then I guess speaking is simply not an option. However, for Chinese this will slow down progress a lot. Someone who studied Sinology for three years at university in Europe usually is the same level as someone who came as a complete beginner and spent 4 weeks studying intensively and live at a homestay. So the difference is huge.<br/>
However, when not in a Chinese speaking country, I would suggest so find Chinese (mandarin - important!) speaking communities, which today exist pretty much everywhere in the world, especially universities. When I studied for a year in London, I actually improved my Chinese, even though I only had three hours of class a week, but I found a Chinese circle of friends and we went for dinners etc. and I ended up speaking mandarin most of the time. Of course I was already intermediate level by then. For a beginner the same would hold true though, just that he/she would have to rely more on English to build up the social connections. Once you are in that environment and have friends, you will find that most Chinese abroad really want to speak Mandarin.<br/>
My tip if you want to make Chinese friends: love food, cook food, eat food, talk about food, dream about food, anything food and you will fit right in.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/160/2267">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/do-i-need-to-speak-from-day-one#comment-2267">Wednesday, June 6, 2012 - 19:47</a></span>
</div>
</div>
<div class="indented"><a id="comment-2291"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>I agree that lots of people come out of University language courses (or traditional courses in general) only slightly better than when they started - unfortunately. :-/</p>
<p>But traditional courses and speaking the language aren't the only two ways to learn a language!  I invite you to check out my ebook:</p>
<p><a href="http://www.linguatrek.com/blog/2012/04/natural-language-learning-without-a-teacher" title="http://www.linguatrek.com/blog/2012/04/natural-language-learning-without-a-teacher">http://www.linguatrek.com/blog/2012/04/natural-language-learning-without...</a></p>
<p>Or maybe even just this article, which mentions some of the PLETHORA of methods that people have used to successfully learn a language:</p>
<p><a href="http://www.linguatrek.com/blog/2011/03/the-three-ingredients-for-successful-language-learning" title="http://www.linguatrek.com/blog/2011/03/the-three-ingredients-for-successful-language-learning">http://www.linguatrek.com/blog/2011/03/the-three-ingredients-for-success...</a></p>
<p>Thanks so much for sharing your experience! Particularly, the advice about connecting with Chinese people: I had no idea that the Chinese were such avid food lovers! That'll surely come in handy one day. :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/160/2291">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/do-i-need-to-speak-from-day-one#comment-2291">Friday, June 8, 2012 - 20:23</a></span>
</div>
</div>
</div></div></div><a id="comment-2301"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/06/finally-our-full-product-idea-i-need-your-help-with-the-price" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] For example, you could use conversations with native speakers as your content, ask for explanations in order to understand it (even if the explanations are hand gestures or drawings on a napkin), and talking as much as possible as your system of repetition. If you like, you can even speak from day one. [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/160/2301">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/06/finally-our-full-product-idea-i-need-your-help-with-the-price" rel="nofollow">Finally - our FULL product idea (I need your help with the p</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/do-i-need-to-speak-from-day-one#comment-2301">Saturday, June 9, 2012 - 09:07</a></span>
</div>
</div>
</div>
