---
permalink: /blog/2012/05/linguatrek-got-7th-place-among-the-top-language-learner-blogs-of-2012/
layout: blog-old
title: 'LinguaTrek got 7th place among the top Language Learner Blogs of 2012!'
day: 31
month: maj
year: 2012
category: LinguaTrek
tags: 
  - 'Top 100 Language Lovers'
language: pl
translation: 
---
<div class="content">
<a alt="Top 25 Language Learning Blogs 2012" href="http://bab.la/news/top-25-language-learning-blogs-2012" target="_blank"><img align="right" alt="Top 10 Language Learning Blogs 2012" border="0" height="60" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/image/2012/05/top10-learn-blog12.gif" style="margin: 5px" width="160"/></a>
<p>For the past five years <a href="http://www.lexiophiles.com/">Lexiophiles</a> and <a href="http://bab.la/">bab.la</a> have organized an annual contest recognizing language blogs.  Last year was the first year LinguaTrek participated and <strong>we managed to get the most votes (thanks to Wykop!) and <a href="http://www.linguatrek.com/blog/2011/06/linguatrek-got-12th-place-among-the-top-language-learner-blogs-of-2011">12th place</a>!</strong></p>
<p>This year there were <em>935</em> blogs, Facebook pages and Twitter accounts nominated, including 200 blogs in LinguaTrek's category. <strong>This time around we didn't do as well in the voting, but LinguaTrek still got <a href="http://en.bab.la/news/top-25-language-learning-blogs-2012">7th place</a> in it's category and <a href="http://en.bab.la/news/top-100-language-lovers-2012">50th place</a> overall!</strong></p>
<p>Many fantastic blogs that I admire highly participated in this contest! Congratuations to everyone! I'm simply thrilled that LinguaTrek could be among such great company. :-)</p>
<p><strong>Thank you everyone for <a href="http://www.linguatrek.com/blog/2012/05/vote-for-linguatrek-top-100-language-lovers">voting and your support</a>!</strong></p>
</div>

<div id="comments">
<a id="comment-2108"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Well done! How many votes did you get?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/162/2108">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/linguatrek-got-7th-place-among-the-top-language-learner-blogs-of-2012#comment-2108">czwartek, maj 31, 2012 - 09:11</a></span>
</div>
</div>
<div class="indented"><a id="comment-2109"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>I don't have the exact number but I think around 900. On their voting page, they only give a "bar" (which is measured in percent - we have 7% of the bar) and the total votes (12,435). So, if LinguaTrek got 7% of 12,435 that's 871. It'd be sweet if they showed the actual vote numbers!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/162/2109">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/linguatrek-got-7th-place-among-the-top-language-learner-blogs-of-2012#comment-2109">czwartek, maj 31, 2012 - 09:16</a></span>
</div>
</div>
</div><div class="box">
<h2>Dodaj nową odpowiedź</h2>
<div class="content"><form accept-charset="UTF-8" action="/comment/reply/162" id="comment-form" method="post">
<div><div class="form-item" id="edit-name-wrapper">
<label for="edit-name">Nazwisko lub pseudonim: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-name" maxlength="60" name="name" size="30" type="text" value="Anonymous"/>
</div>
<div class="form-item" id="edit-mail-wrapper">
<label for="edit-mail">E-mail: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-mail" maxlength="64" name="mail" size="30" type="text" value=""/>
<div class="description">Zawartość pola nie będzie udostępniana publicznie. If you have a <a href="http://www.gravatar.com">Gravatar</a> account, used to display your avatar.</div>
</div>
<div class="form-item" id="edit-homepage-wrapper">
<label for="edit-homepage">Strona domowa: </label>
<input class="form-text" id="edit-homepage" maxlength="255" name="homepage" size="30" type="text" value=""/>
</div>
<div class="form-item" id="edit-comment-wrapper">
<label for="edit-comment">Odpowiedź: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<textarea class="form-textarea resizable required" cols="60" id="edit-comment" name="comment" rows="15"></textarea>
</div>
<ul class="tips"><li>Adresy internetowe są automatycznie zamieniane w odnośniki, które można kliknąć.</li><li>Dozwolone znaczniki HTML: &lt;a&gt; &lt;em&gt; &lt;strong&gt; &lt;cite&gt; &lt;code&gt; &lt;ul&gt; &lt;ol&gt; &lt;li&gt; &lt;dl&gt; &lt;dt&gt; &lt;dd&gt; &lt;blockquote&gt;</li><li>Znaki końca linii i akapitu dodawane są automatycznie.</li></ul><input id="form-25e39b0a1591b98e2dc18a3440c55452" name="form_build_id" type="hidden" value="form-25e39b0a1591b98e2dc18a3440c55452"/>
<input id="edit-comment-form" name="form_id" type="hidden" value="comment_form"/>
<div class="clear-block"><div class="form-item" id="edit-notify-wrapper">
<label class="option" for="edit-notify"><input checked="checked" class="form-checkbox" id="edit-notify" name="notify" type="checkbox" value="1"/> Notify me when new comments are posted</label>
</div>
<div class="form-radios"><div class="form-item" id="edit-notify-type-1-wrapper">
<label class="option" for="edit-notify-type-1"><input class="form-radio" id="edit-notify-type-1" name="notify_type" type="radio" value="1"/> All comments</label>
</div>
<div class="form-item" id="edit-notify-type-2-wrapper">
<label class="option" for="edit-notify-type-2"><input checked="checked" class="form-radio" id="edit-notify-type-2" name="notify_type" type="radio" value="2"/> Replies to my comment</label>
</div>
</div></div><input class="mollom-content-id" id="edit-mollom-contentId" name="mollom[contentId]" type="hidden" value=""/>
<input class="mollom-captcha-id" id="edit-mollom-captchaId" name="mollom[captchaId]" type="hidden" value=""/>
<div style="display: none;"><div class="form-item" id="edit-mollom-homepage-wrapper">
<input autocomplete="off" class="form-text" id="edit-mollom-homepage" maxlength="128" name="mollom[homepage]" size="60" type="text" value=""/>
</div>
</div><div class="description mollom-privacy">By submitting this form, you accept the <a class="mollom-target" href="//mollom.com/web-service-privacy-policy" rel="nofollow">Mollom privacy policy</a>.</div><input class="form-submit" id="edit-preview" name="op" type="submit" value="Podgląd"/>
</div></form>
</div>
</div>
</div>
