---
permalink: /blog/2012/05/natural-language-learning-my-free-ebook-is-finished/
layout: blog-old
title: 'Natural Language Learning (my FREE ebook) is finished!'
day: 3
month: May
year: 2012
category: language learning
tags: 
  - 'ebook'
language: en
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/05/nll-fauxbookstack.png" rel="lightbox"><img alt="Stack of books" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/05/nll-fauxbookstack.png" title="Check out the new cover design my wife created!"/></a><div class="caption">Check out the new cover design my wife created!</div></div>
<p><strong>After three weeks of intense work since <a href="http://www.linguatrek.com/blog/2012/04/im-writing-the-free-ebook-and-an-easter-miracle">I announced that I would create it</a>, I've finally finished the English version of my FREE ebook on language learning, called: <em>Natural Language Learning (Without a Teacher!)</em></strong></p>
<p>It ended up being 104 pages in PDF format - a little bit longer than my guess of 40 pages. ;-) The ebook consists of 13 chapters in two parts (a theory part and a practical part) as well as 4 worksheets to help you create the perfect language learning method for you!</p>
<p><strong>Check out <a href="http://www.linguatrek.com/blog/2012/04/natural-language-learning-without-a-teacher">this article</a> for more information about what's in the ebook, as well as these two excerpts: <a href="http://www.linguatrek.com/blog/2012/04/planning-your-daily-routine-ebook-excerpt">Planning your daily routine</a> and <a href="http://www.linguatrek.com/blog/2012/04/3-steps-to-speaking-a-language-fluently-ebook-excerpt">3 steps to speaking a language fluently</a>.</strong></p>
<p>The theory part consists mainly of rewritten material that I've previously published on my blog.  But almost all of the practical part is completely new!</p>
<p>As a software developer, I never really imagined that I'd end up doing this much writing, let alone writing <em>a whole ebook.</em> :-) While it was definitely harder than I expected it was also much more enjoyable. <strong>I can't wait to hear what you think!</strong></p>
<p><strong>Read more to find out how to get it and what's next!</strong></p>
<h2>How to get it?</h2>
<p>It's only available to subscribers of LinguaTrek, so if you haven't subscribed please do so <a href="http://www.linguatrek.com/subscribe">here</a>! <strong>Of course, subscribing is completely free!</strong> You will receive instructions via email about how to download the ebook.</p>
<p>If you are already a subscriber, these instructions are waiting for you in your inbox!</p>
<h2>What's next?</h2>
<p>I want to finish translating the ebook into Polish as soon as possible.  If you are interested in helping with the translation effort, please <a href="http://www.linguatrek.com/contact">send me an email</a>!  <strong>I'll be working on this over the weekend.</strong></p>
<p>I also plan to have EPUB and MOBI versions - for mobile ebook readers like the Kindle - ready soon.  <strong>If you have an ebook reader and want to help test that my files work, please <a href="http://www.linguatrek.com/contact">send me an email</a>!</strong></p>
<p><strong>I hope you enjoy the ebook and find it helpful on your language learning journey! Please let me know what you think in the comments below!</strong></p>
</div>

<div id="comments">
<a id="comment-1825"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/bb50f27bc3bae5d1fe932f9d2bdb79c4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Z niecierpliwością czekam na wersje po polsku :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/148/1825">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished#comment-1825">Thursday, May 3, 2012 - 10:22</a></span>
</div>
</div>
<a id="comment-1826"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://about.me/tomfrompoland" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3cdbaa2914c95444fc7968fe42ddfa2b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hi David,</p>
<p>Great work! I'm on chapter 9 now (reading on my Kindle, it's converted quite well) and I have one question :) Do you plan an audio version (in English of course)?</p>
<p>See ya and I'm backing to reading :-)<br/>
Tom</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/148/1826">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://about.me/tomfrompoland" rel="nofollow">TomFromPoland</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished#comment-1826">Thursday, May 3, 2012 - 11:56</a></span>
</div>
</div>
<div class="indented"><a id="comment-1827"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Tom!</p>
<p>Thanks, I'm glad you like it! An audio version would be cool, but I don't have a plan at the moment.  A number of people on YouTube requested one.  But I don't have time at the moment to make one.</p>
<p>That's awesome that it converted well to the Kindle! I'm going to make an official MOBI for the Kindle soon (maybe in time for the Polish release). It'd be great if you could help test it!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/148/1827">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished#comment-1827">Thursday, May 3, 2012 - 11:58</a></span>
</div>
</div>
<div class="indented"><a id="comment-1829"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Yeah, audio version read by you would be really awesome! I don’t think it’d take longer than preparation of Polish translation. And you did said that audio is even more important than reading. :D<br/>
So +1 to this idea. :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/148/1829">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished#comment-1829">Thursday, May 3, 2012 - 12:30</a></span>
</div>
</div>
</div></div><a id="comment-1828"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://about.me/tomfrompoland" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3cdbaa2914c95444fc7968fe42ddfa2b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hi,</p>
<p>Sure, I and my Kindle are ready for testing :-)</p>
<p>Tom</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/148/1828">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://about.me/tomfrompoland" rel="nofollow">TomFromPoland</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished#comment-1828">Thursday, May 3, 2012 - 12:23</a></span>
</div>
</div>
<a id="comment-1830"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/09c7b3d8e03f76f4d865985f23602dcb?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi David!</p>
<p>I've just finished reading your ebook and I'm definitely going to use some of your advice to find a perfect method for me to learn English. I think I've just realised how important listening is in the language learning process. Your ebook really helps to understand the proper way to learn foreign languages. Thank you so much for everything, you're awesome! :-)</p>
<p>Best regards,<br/>
Maciek.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/148/1830">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">maciekhtd (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished#comment-1830">Thursday, May 3, 2012 - 13:49</a></span>
</div>
</div>
<div class="indented"><a id="comment-1831"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Maciek!</p>
<p>Thanks for reading my ebook and letting me know what you think! You might be the first person to have finished it, but there is no way to know for sure.  You're definitely the first person who has told me about it. :-)</p>
<p>In any case, thanks for the kind words and I wish you success on your language learning journey!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/148/1831">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished#comment-1831">Thursday, May 3, 2012 - 13:58</a></span>
</div>
</div>
</div><a id="comment-1832"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/5be26b0efcf6f7fffa93097774c0bb77?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Najlepszą częścią tej książki jest 10.1 My goal with Polish.</p>
<p>Większość ludzi (jestem tego dobrym przykładem) robi sobie kuku przy nauce języka obcego kiedy coś staje się ich obsesją. Dawid podaje całą listę celi, które mogą się w obsesję przerodzić. A prawda jest tak, że jedni mają do tego talent i zdobywają to bez wysiłku, a drudzy nie, i musieliby poświęcić lata na praktykę. Więc lepiej postawić na pojęcia, które pojawiają się w opisie celu nauki polskiego u Dawidka: "comfortably" i "enjoy". Wtedy i ten cały LAD się uruchomi, i najtiwów zaczniemy traktować jak ludzi :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/148/1832">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Zawieszony (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished#comment-1832">Thursday, May 3, 2012 - 17:19</a></span>
</div>
</div>
<a id="comment-1836"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/5609ea83edf92f4bad9b21ad056f8514?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Howdy David!!!! I have been reading your book for over two hours ( I should go to the pub, but this book is cool). I am going to study Nursing at Bucks University in High Wycombe and with your method I can achieve an Academic English. You make people happy, who learn English as a second language. I have to send an e-mail to a tutor from Wycombe College with your book. I am going to use this method like you learnt with Harry Potter. Your personal method based on the natural learning of language. I want to burn up my tekst books, which make me unhappy and kill my ability to learn English ;-) ;-) ;-).</p>
<p>Thank you for a big effort, which help people ( students) to learn English ( an american or british)</p>
<p>P.S I am going to burn up my boring tekst books tomorrow. I had pay before £ 60 for these books ;-(and did not help me.</p>
<p>Kind regards </p>
<p>Radek from High Wycombe</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/148/1836">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Radek from High Wycombe (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished#comment-1836">Friday, May 4, 2012 - 07:40</a></span>
</div>
</div>
<a id="comment-1837"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/fbe5e4f0fa2256eb2fe38d1e0ecb83d2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi David! Why don't you just give somewhere on your website your banking account or donate button so people can thank you</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/148/1837">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Przemek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished#comment-1837">Friday, May 4, 2012 - 07:55</a></span>
</div>
</div>
<div class="indented"><a id="comment-1862"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Przemek!</p>
<p>I'm glad you liked the ebook, even enough to pay for it!  I'm going to be talking about the paid product I want to create soon. If you want to support me monetarily, please buy that when it is ready. ;-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/148/1862">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished#comment-1862">Saturday, May 12, 2012 - 08:13</a></span>
</div>
</div>
</div><a id="comment-1839"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Finally finished it! You and Steve Kaufmann made me realize that listening is the most important. That’s why it’s a part of my immersion since March. The other thing you motivate me is that, you wrote many times that 2 hours were maximum time you devoted to learn a language. Actually, it happens to me that I spend more than 2 hours now. :)</p>
<p>Let me thank you for your ebook! I do look forward to an audio version though. :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/148/1839">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished#comment-1839">Friday, May 4, 2012 - 10:19</a></span>
</div>
</div>
<div class="indented"><a id="comment-1852"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/5609ea83edf92f4bad9b21ad056f8514?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi Wojtek !!! I have seen you at one Website. <a href="http://www.antimoon.com" title="www.antimoon.com">www.antimoon.com</a>. How did you learn English in Poland. Maybe you could give me some advices???Kind regards Radek</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/148/1852">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Radek from High Wycombe (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished#comment-1852">Friday, May 11, 2012 - 03:56</a></span>
</div>
</div>
<div class="indented"><a id="comment-1853"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>IIRC I’ve already told you. I read a lot of content of interest to me. Learnt words with audio pronunciation, hundreds or even thousands of them.<br/>
My path wasn’t ideal at the beginning. Now, to make up for it, I listen a lot, about 1 hour a day. Comprehensible input is your key to success.</p>
<p>You should have already known that to learn a language you don’t have to live in a country where the language is spoken.</p>
<p>You have much more opportunity to immerse yourself, to pick up words and phrases living in the UK.</p>
<p>Be more patient. It’s all about it.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/148/1853">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished#comment-1853">Friday, May 11, 2012 - 09:20</a></span>
</div>
</div>
</div></div><a id="comment-1840"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f418ba133e27e418da211c92f5c712ff?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Yes! It's 2 in 1 - when I will read e-book about learning, I will learn new words from english language. So while learning about learning, people can learn new words too, pretty nice :P</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/148/1840">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Zowimir (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished#comment-1840">Friday, May 4, 2012 - 10:56</a></span>
</div>
</div>
<a id="comment-1842"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c481fba5a47a5e6aff6e25f01ba8a3df?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Great work David, I have just finished reading your ebook, it's not boring, even for constant-reader of your website!<br/>
I need more....;) I have idea of great joke..as long as you will be able to record audiobook of this work, just tell in polish - "dzień dobry, tutaj przed &gt;&gt;mikrofonem&lt;&lt; dejwid snopek"!.</p>
<p>Last but not least, You know, that english language is very popular what's more very helpful in searching job etc. Nowadays it is required to have certificate of english skill. For example - certificate in advanced english consists of really hard grammar as well as lots of dull vocabulary. What can you tell about it?</p>
<p>It is my first comment here, but not first visit.</p>
<p>P.S... I have some idea...i dream about speaking in German..but it's not necessary now. What would be better - improve my english skill more and more or try to learn german tongue from beginning?</p>
<p>Silence reader.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/148/1842">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">silencer (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished#comment-1842">Friday, May 4, 2012 - 17:27</a></span>
</div>
</div>
<div class="indented"><a id="comment-1863"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks!</p>
<p>Unfortunately, to pass tests with grammar questions, you do have to study the grammar directly.  In fact, it's actually possible prepare just for the test and to do very well on it, but actually speak English very badly. :-/</p>
<p>Anyway, if you have to take such a test, I recommend joining a course or hiring a tutor to help you prepare directly for that test, maybe 6 months in advance.  It likely won't help your English ability much and you will probably forget most of what you learn afterwards - but it will help you pass the test.</p>
<p>As far as German: that's up to you! It's easier to learn a second foreign language when your first is at a higher level.  But my advice would be to just follow your motivation!  If you're dying to start learning German now, just start!</p>
<p>Hope that helps!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/148/1863">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished#comment-1863">Saturday, May 12, 2012 - 08:18</a></span>
</div>
</div>
</div><a id="comment-1844"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/37589f346de9e6dbc97bcc55357538ac?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi David!</p>
<p>I'm so glad I've found your blog. I just subscribed u =) I moved from England to Poland,Gdansk months ago because I and my husband decided to do our own business here(he's originally Polish while I'm Thai). I'm just a Polish beginner now and I found that Polish is sooo difficult to me. Thank you very much for the ebook. You're amazing!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/148/1844">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Sue (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished#comment-1844">Monday, May 7, 2012 - 05:54</a></span>
</div>
</div>
<div class="indented"><a id="comment-1864"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Sue!</p>
<p>Glad you like the ebook!  Let me know how your Polish studies go!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/148/1864">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished#comment-1864">Saturday, May 12, 2012 - 08:19</a></span>
</div>
</div>
</div><a id="comment-1846"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/05/ebook-available-for-e-readers-like-kindle-and-in-polish" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] been great to hear everyone's thoughts about the ebook since I published the English version last week. I'm positively thrilled with the response that I have gotten so [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/148/1846">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/05/ebook-available-for-e-readers-like-kindle-and-in-polish" rel="nofollow">Ebook available for e-readers (like Kindle) and in Polish! |</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished#comment-1846">Thursday, May 10, 2012 - 10:32</a></span>
</div>
</div>
<a id="comment-1858"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://icenugget.wordpress.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3bd87cbf8b98d5ef3706c4e094c4656d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>David,</p>
<p>Thanks for your work on the e-book.  And thanks for making it free.  I enjoyed reading it.  More importantly, it will help me on my journey to learn Polish.  I've already started focusing on using Anki 10 minutes a day or several 10 minute sessions in one day rather than the one 30 minute weekly session I tended to do before.  This summer I will try to start reading the first Harry Potter book too.  I'm definitely not ready for it yet, but I'm excited for the ride :)</p>
<p>Kevin</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/148/1858">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://icenugget.wordpress.com" rel="nofollow">ice</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished#comment-1858">Saturday, May 12, 2012 - 01:47</a></span>
</div>
</div>
<div class="indented"><a id="comment-1865"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Kevin!</p>
<p>I'm glad you liked the ebook!  Let me know how your Polish studies go - especially once you start reading Harry Potter!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/148/1865">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished#comment-1865">Saturday, May 12, 2012 - 08:20</a></span>
</div>
</div>
</div><a id="comment-1874"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c481fba5a47a5e6aff6e25f01ba8a3df?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Thanks for reply, David. What's your next goal? Especially i mean themes of your next articles.<br/>
P.S i have just started to read "Hobbit" in english language and i added lots of words to my Anki :). It's not my first english language book but first in your system. I print some pages and the next i underline unknown words, but i desire to order it.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/148/1874">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">silencer (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished#comment-1874">Saturday, May 12, 2012 - 09:36</a></span>
</div>
</div>
<div class="indented"><a id="comment-1879"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>I'm actually not sure. I still have to recover from the ebook. ;-)  But I'll probably publish something next Tuesday or Thursday!</p>
<p>Ah, awesome! I read the Hobbit when I was a teenager.  Let me know how it goes!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/148/1879">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished#comment-1879">Saturday, May 12, 2012 - 11:39</a></span>
</div>
</div>
<div class="indented"><a id="comment-1884"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c481fba5a47a5e6aff6e25f01ba8a3df?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>With reference to advanced english exam - there is a great deal of wide range of vocabulary as well as listening ability, so your method should be great too ;-) grammar takes only a few percentages. :). It's 10 o clock, i am opening my anki now. :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/148/1884">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">silencer (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished#comment-1884">Sunday, May 13, 2012 - 01:57</a></span>
</div>
</div>
</div></div><a id="comment-1900"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://zacznij-wygrywac.pl/matura/?p=21" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] I watched one episode of South Park and read few pages from David Snopek’s ebook. Except that, I read and listened to one of many BBC English at Work [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/148/1900">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://zacznij-wygrywac.pl/matura/?p=21" rel="nofollow">Day 3 | Cambridge, wait for me!</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished#comment-1900">Monday, May 14, 2012 - 16:31</a></span>
</div>
</div>
<a id="comment-1986"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.fluentin3months.com/polish/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] Natural Language Learning (Without a Teacher!) – My FREE ebook, which you will receive if you subscribe to my blog! In it, I describe the exact method I used to learn Polish and how to create your own method that will allow you to learn any language on your own. It’s available in both English and Polish. [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/148/1986">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.fluentin3months.com/polish/" rel="nofollow">What makes learning Polish so easy? | Fluent in 3 months - L</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished#comment-1986">Tuesday, May 22, 2012 - 10:30</a></span>
</div>
</div>
<a id="comment-2014"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-great-material-for-learners-of-english-or-polish" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] sent me an e-mail about a very interesting product which matches the learning methods I describe in my ebook very well! Wojtek writes: (translated from Polish - see the original [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/148/2014">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-great-material-for-learners-of-english-or-polish" rel="nofollow">&amp;amp;quot;Czytamy w oryginale - wielkie powieści&amp;amp;quot; -</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished#comment-2014">Saturday, May 26, 2012 - 08:43</a></span>
</div>
</div>
<a id="comment-2045"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/05/3-super-simple-speaking-strategies" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] the introduction to my FREE ebook, I talked about the three steps to speaking a language "fluently" (although, I'm not fond of this [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/148/2045">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/05/3-super-simple-speaking-strategies" rel="nofollow">3 super simple &amp;amp;quot;speaking strategies&amp;amp;quot; | Lin</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished#comment-2045">Tuesday, May 29, 2012 - 05:53</a></span>
</div>
</div>
<a id="comment-2782"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/ed10e6b0494c627a1403d98f14b51f6a?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi David,how are you? I'm brazilian and I really want to learn polish,  I'm just a beginner, your blog is very good! greetings from Brazil :).</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/148/2782">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Christopher (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished#comment-2782">Tuesday, July 24, 2012 - 17:15</a></span>
</div>
</div>
<div class="indented"><a id="comment-2810"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Christopher!</p>
<p>Thanks for the comment. :-) I'm doing good. How about yourself?</p>
<p>That's awesome that you want to learn Polish! I hope that my blog and ebook will be helpful. Here are a few articles about starting to learn Polish:</p>
<p><a href="http://www.linguatrek.com/blog/2010/11/polish-is-not-the-hardest-language-in-the-world" title="http://www.linguatrek.com/blog/2010/11/polish-is-not-the-hardest-language-in-the-world">http://www.linguatrek.com/blog/2010/11/polish-is-not-the-hardest-languag...</a><br/>
<a href="http://www.linguatrek.com/blog/2010/11/dont-start-learning-polish-grammar" title="http://www.linguatrek.com/blog/2010/11/dont-start-learning-polish-grammar">http://www.linguatrek.com/blog/2010/11/dont-start-learning-polish-grammar</a><br/>
<a href="http://www.linguatrek.com/blog/2010/11/polish-grammar-overview-for-complete-beginners" title="http://www.linguatrek.com/blog/2010/11/polish-grammar-overview-for-complete-beginners">http://www.linguatrek.com/blog/2010/11/polish-grammar-overview-for-compl...</a></p>
<p>I hope they're helpful!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/148/2810">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished#comment-2810">Friday, July 27, 2012 - 07:32</a></span>
</div>
</div>
</div><a id="comment-2872"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/b9c8c6c8ecfc8ed2fcf633b0867064e2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I really like your website! It's awesome and really helpful for these who are learning other languages or want to start doing that. I have an idea for putting a facebook's like on Lingua Trek, that other people could share it and promote. I would be the first one probably :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/148/2872">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished#comment-2872">Tuesday, August 14, 2012 - 14:57</a></span>
</div>
</div>
<div class="indented"><a id="comment-2888"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks! That's a great idea about the Facebook like button. I'll add one when I have a chance!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/148/2888">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished#comment-2888">Wednesday, August 15, 2012 - 19:07</a></span>
</div>
</div>
</div><a id="comment-3181"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/11/listen-to-my-free-ebook-about-language-learning-in-polish" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] based on over 1500 survey responses and HUNDREDS of emails and comments. By the time it was finally published in May, I can honestly say that it really was FOR [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/148/3181">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/11/listen-to-my-free-ebook-about-language-learning-in-polish" rel="nofollow">Listen to my FREE audiobook about language learning in Polis</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished#comment-3181">Tuesday, November 13, 2012 - 07:31</a></span>
</div>
</div>
<a id="comment-3417"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://angielski.gregloby.net/naturalna-nauka-jezyka-bez-nauczyciela-darmowy-ebook/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] opisał dokładnie metodę nauki jaką posłużył się ucząc się języka polskiego – Natural language learning without a teacher . Ebook jest darmowy, wystarczy, że zasubskrybujesz blog [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/148/3417">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://angielski.gregloby.net/naturalna-nauka-jezyka-bez-nauczyciela-darmowy-ebook/" rel="nofollow">Naturalna nauka języka bez nauczyciela &amp;amp;#8211; darmowy e</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished#comment-3417">Wednesday, January 2, 2013 - 09:38</a></span>
</div>
</div>
<a id="comment-5419"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9a7c9c7646d47bcf08d78d419d77d296?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi David, Just subscribe to your site. I'm an English speaker living in Poland for 4yrs now and still can't speak the language, I sure hope your ebook can help me. Does BiblioBird help with Polish?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/148/5419">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished#comment-5419">Saturday, November 16, 2013 - 10:54</a></span>
</div>
</div>
<a id="comment-5625"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c22e9054207e0ec3adcdaf10796b0773?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hello, David!<br/>
Nice post!<br/>
I came here from an article about you at 'fluentin3months.com' and I have a question.<br/>
I am a Brazilian who is going to Kraków in two weeks to stay there for 7 other weeks. The purpose is voluntary work.<br/>
So, I want to know if is it possible to learn Polish, enough to have a conversation, in these next 9 weeks: from now to the end of my internship.<br/>
I know basic German, and if there's considerable amount of German speakers, I could focus on practising my German instead, even though I don't know how would I be treated by Poles while talking German.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/148/5625">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Murilo Loffi (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished#comment-5625">Monday, December 23, 2013 - 01:17</a></span>
</div>
</div>
</div>
