---
permalink: /blog/2012/05/trzy-super-proste-strategie-mówienia/
layout: blog-old
title: 'Trzy super proste "strategie mówienia"'
day: 21
month: May
year: 2012
category: language learning
tags: 
  - 'speaking'
  - 'speaking strategies'
language: en
translation: /blog/2012/05/trzy-super-proste-strategie-m%C3%B3wienia/
---
<div class="content">
<p><a href="http://www.linguatrek.com/blog/2012/04/3-kroki-do-p%C5%82ynnego-m%C3%B3wienia-fragment-e-booka">We wstępie</a> <a href="http://www.linguatrek.com/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC">mojego DARMOWEGO ebooka</a>, napisałem o trzech krokach do płynnego mówienia: (1) przyzwyczajaj swój mózg do języka, (2) pokonaj swój strach przed mówieniem, i (3) ćwicz mówienie. (<em>Tak jak wspomniałem w ebooku, te kroki mogą być zrobione jednocześnie</em>)</p>
<div class="diag align-right" style="float: right; width: 150px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/default/files/imagecache/Large/image/2012/05/battleship.jpg" rel="lightbox"><img alt="Gra: Battleship" src="http://www.linguatrek.com/sites/default/files/imagecache/Small/image/2012/05/battleship.jpg" title="Również jest strategia w mówieniu! Zdjęcie od Joe King."/></a><div class="caption">Również jest strategia w mówieniu! <a href="http://www.flickr.com/photos/28446991@N00/1363094393">Zdjęcie</a> od <a href="http://www.flickr.com/photos/jking89/">Joe King</a>.</div></div>
<p>Ponieważ mój ebook omawia pierwszy krok, zdecydowałem, że będę pisał o krokach nr 2 i 3 na moim blogu w najbliższym czasie. Tematem dzisiejszego artykułu jest krok nr 3: <em>ćwiczenie mówienia.</em></p>
<p>W tym kroku rozwijasz i ćwiczysz “strategie mówienia” takie jak <em><a href="http://www.linguatrek.com/blog/2011/02/what-to-do-when-you-dont-know-a-word">circumlocution</a></em> (kiedy nie znasz słowa), różne wyrażenia konwersacyjne do podtrzymania biegu rozmowy oraz niewerbalne sztuczki, aby sprawić większy komfort osobom, z którymi rozmawiasz.</p>
<p><strong><em>Milczenie</em> jest jedną z najbardziej niewygodnych rzeczy, które mogą się zdarzać w rozmowie, zarówno dla Ciebie jak i dla Twojego partnera rozmowy.</strong></p>
<p>Jako uczący się czasem potrzebujesz trochę dodatkowego czasu, żeby zrozumieć to, co słyszałeś/aś albo wymyślić odpowiedź. Ale jeśli kontroler biletów powie, "Could you show me your ticket?" (czyli: <em>Czy mógłby/mogłaby mi Pan/Pani pokazać bilet?</em>) i po prostu gapisz się na niego przez 15 sekund bez powiedzenia niczego - to może być trochę kłopotliwe. :-)</p>
<p>W tym artykule opiszę trzy super proste strategie mówienia, żeby uniknąć milczenia!</p>
<p><strong>Czytaj więcej, żeby dowiedzieć się jakie one są!</strong></p>
<h2>Proszę?</h2>
<p>Jedna strategia, która osobiście używam w języku polskim, jest powiedzenia <em>"Proszę?"</em> jakbym nie usłyszał albo nie skupił się. Jest to zaproszenie, żeby powtórzyć to, co druga osoba właśnie powiedziała ale może głośniej.</p>
<p>Oto jest kilka fraz po angielsku, żeby robić to samo:</p>
<ul>
<li>I'm sorry?</li>
<li>Excuse me?</li>
<li>What was that?</li>
</ul>
<p>To daje Ci możliwość, żeby pomyśleć i nawet znowu usłyszeć to, co było powiedziane - BEZ kłopotliwego wyjaśnienia Twojej sytuacji, np: <em>"I'm sorry, I don't understand. Could you please repeat?"</em> (czyli: <em>Przepraszam, nie zrozumiałem. Czy możesz to powtórzyć?</em>). Możesz osiągnąć to samo w dwóch lub trzech słowach i sprawić <em>całkiem naturalne wrażenie</em>.</p>
<p>Sam tak przyzwyczaiłem się do tej strategii, że teraz nie myśląc o tym automatycznie mówię "Proszę?" po pierwszym zdaniu prawie każdej rozmowy. ;-)</p>
<h2>Stall 'em!</h2>
<p>W zwykłych rozmowach w Twoim języku ojczystym, zawsze nie odpowiadasz natychmiast. Czasem musisz o tym pomyśleć. Ale nie przestawaj mówić, tak po prostu!</p>
<p>Jest kilka dobrych fraz, które informuje drugą osobę, że zrozumiałeś i teraz formujesz odpowiedź, np:</p>
<ul>
<li>Let me think (czyli: <em>Pozwól mi myśleć</em>)</li>
<li>That's a good question (czyli: <em>To jest dobre pytanie</em>)</li>
<li>Well ... (czyli: <em>No...</em>)</li>
</ul>
<p>Powiedzenie jednej z tych fraz pozwoli Cię na 2-10 sekud myślenia.</p>
<p>Dowiedz się o dobrych frazach od native speakera języka, którego się uczysz i ćwicz mówienie ich przed odpowiadaniem. Pomocne jest znać kilka fraz bo może będziesz chciał/a to robić kilka razy w jednej rozmowie! :-)</p>
<h2>Słowa-wypełniacze</h2>
<p>Trochę wahałem się, aby to zasugerować, ponieważ kiedy raz zaczniesz używać słów-wypełniaczy, będzie bardzo trudno przestać to robić.</p>
<p>Wszyscy znamy osoby mówiące w naszym ojczystym języku, które nadużywają słów-wypełniaczy, takich jak "wiesz" lub "no" - mówiąc je co dwa lub trzy słowa. To ryzykowna sprawa, więc uważaj!</p>
<p>Jednak, kiedy musisz przestać mówić, w środku zdania, na 2-3 sekundy, lepiej jest powiedzieć cokolwiek niż nic. Porównaj, "Lubię ... <em>(2 sekundy przerwy)</em> ... wychodzić z domu w piątki," z, "Lubię, no wiesz, wychodzić w piątki."</p>
<p>Myślę, że lepiej jest używać pełnych słów niż <em>dzwięko-wypełniaczy</em> takich jak "ah" lub "um" ponieważ mogą one sprawić wrażenie, że masz trudności z wypowiedzią. Nie chcesz tego zrobić - to może spowodować zakłopotanie drugiej osoby.  Ale nawet <em>dźwięki-wypełniacze</em> to lepsze niż nic!</p>
<p>Oto więcej przykładów w języku angielskim:</p>
<ul>
<li>well</li>
<li>so</li>
<li>basically</li>
<li>actually</li>
<li>ok</li>
<li>right</li>
</ul>
<p><strong>Co sądzisz o takich strategiach mówienia? Czy kiedyś już ich używałeś? Czy masz własne strategie na unikanie ciszy? Proszę napisz komentarz poniżej!</strong></p>
</div>

<div id="comments">
<a id="comment-1968"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://about.me/tomfrompoland" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3cdbaa2914c95444fc7968fe42ddfa2b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hi,</p>
<p>Hmm, well, so, that's a good point actually :-)</p>
<p>I have to try with my language-exchange partner</p>
<p>Regards<br/>
Tom</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/157/1968">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://about.me/tomfrompoland" rel="nofollow">TomFromPoland</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/trzy-super-proste-strategie-m%C3%B3wienia#comment-1968">Monday, May 21, 2012 - 10:45</a></span>
</div>
</div>
<a id="comment-1970"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.stepkowski.net" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/66b737791679a5bac5814962462d527a?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hehe Dawid uczysz marketingu językowego :P Podoba mi się !</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/157/1970">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.stepkowski.net" rel="nofollow">Wojciech Stępkowski</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/trzy-super-proste-strategie-m%C3%B3wienia#comment-1970">Monday, May 21, 2012 - 11:24</a></span>
</div>
</div>
<a id="comment-1971"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3b091c1d403d947dc954eee088db1cc5?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>świetna pomoc ;) </p>
<p>małe podpowiedzi :</p>
<p>zamiast "oto są kilka ..." to lepiej "oto jest kilka ..."  i zamiast "głoszniej" -  "głośniej"</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/157/1971">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wiola (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/trzy-super-proste-strategie-m%C3%B3wienia#comment-1971">Monday, May 21, 2012 - 11:27</a></span>
</div>
</div>
<div class="indented"><a id="comment-1974"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki za poprawki! :-) Już zmieniłem artykuł. Pozdrawiam serdecznie, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/157/1974">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/trzy-super-proste-strategie-m%C3%B3wienia#comment-1974">Monday, May 21, 2012 - 11:44</a></span>
</div>
</div>
</div><a id="comment-1972"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/af917b4e008b4526865ccd068a8df3b0?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Tego samego uczyli nas przed egzaminem ustnym z j.angielskiego. Tak, to bardzo dobre wskazówki. Nawet, gdy nie wiemy, jak coś trzeba powiedzieć, dobrze jest wtrącić na przykład "well" w środku zdania, bo to prosty, krótki sygnał dla rozmówcy, że potrzebujemy kilku sekund na zastanowienie. :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/157/1972">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Grzegorz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/trzy-super-proste-strategie-m%C3%B3wienia#comment-1972">Monday, May 21, 2012 - 11:30</a></span>
</div>
</div>
<a id="comment-1978"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/6f5c19db5beea8dd772d6fa7d1b89194?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>wlasnie Cie odkrylam dzieki broszce, bo w srode zdaje mature i zaczelam szukac jak glupia cokolwiek na temat tego egzaminu, bo nic nam w szkole nie powiedzili jak to wyglada. jak zwykle 'rozgadam' sie nie na temat. przede wszystkim dziekuje Ci za to, ze dzieki Tobie uwierzylam, ze moge sie nauczyc jezyka ! ebooka juz sciagnelam i przeczytalam calego. bardzo mi pomogl i podniosl moja pewnosc siebie i ze nie taki diabel straszny jak go maluja :) mam do Ciebie pytanie. myslalam, ze wybrac zmierzch po angielsku, ale w ebooku pisales, ze lepiej wybrac ksiazke, ktora sie nie czytalo po polsku wczesniej. ja zmierzch czytalam, wiec mysle nad czyms innym. chcialam po maturze przeczytac sobie ksiazke 'pamietniki wampirow' nie czytalam jej po polsku, a bardzo lubie ten serial, wiec pomyslalam, ze to dobry pomysl(slyszalam, ze ksiazka jest calkiem inna niz film, co w sumie lepiej, bo nie domysle sie o co chodzi odrazu. myslisz, ze ta ksiazka bylaby odpowiednia ? na pewno w ogole jej nie czytalas i ciezko Ci okreslic moj poziom, ale potrzebuje porady. jesli chodzi o moj poziom angielskiego to znam sporo slowek, ale mam blokade przed mowieniem. jak mam rozmawiac z kims po angielsku to za chwile meksyk w bani i nawet nie potrafie sie przedstawic po angielsku. matury jakie mi robila w szkole nauczycielka z poprzednich lat to zawsze mialam ok. 70%. oczywiscie chodzi mi o mature na poziomie podstawowym:)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/157/1978">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Aska (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/trzy-super-proste-strategie-m%C3%B3wienia#comment-1978">Monday, May 21, 2012 - 14:36</a></span>
</div>
</div>
<div class="indented"><a id="comment-1999"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki za miłe słowa! Bardzo się cieszę, że ebook jest Ci pomocny. :-)</p>
<p>To zależy od Twoich osobistych preferencji. Sam w ogóle nie lubię czytać książek wiele razy - to dla mnie nudne. Ale znam innych, które wybrali książki do nauki, które już dobrze znali w j. ojczystym - i było to dla nich bardzo interesujące i nie musieli wyszukiwać tak dużo słów w słowniku z powodu znajomości fabuły. Więc to zależy od Ciebie!</p>
<p>To prawda: nie czytałem tej książki, nie znam Twojego poziom i co więcej nie wiem niczego o Twojej motywacji! Wybranie książki jest bardzo osobistą sprawą. Polecam, że spróbujesz i zobaczysz jak Ci pójdzie! Jeśli jest tak trudna, że Ciebie zniechęca, jest za trudna. Ale jeśli myślisz, że możesz wytrwać do końca, jest w porządku.</p>
<p>Mam nadzieję, że to pomoże!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/157/1999">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/trzy-super-proste-strategie-m%C3%B3wienia#comment-1999">Wednesday, May 23, 2012 - 12:26</a></span>
</div>
</div>
</div><a id="comment-2042"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/ef77153182823b2602b073f7db6db169?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Właśnie o to chodzi.Trzeba znależć sposób na mówienie, zapamiętywanie zdań.Jesteś na dobrej drodze, żeby dotrzeć do naszych mózgów.Ja jestem w Anglii od 5-ciu lat i wstydzę się mojego nie mówienia po angielsku,może wreszcie mi się uda.Tobie się udało z j.polskim.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/157/2042">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">buzzard (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/trzy-super-proste-strategie-m%C3%B3wienia#comment-2042">Monday, May 28, 2012 - 16:59</a></span>
</div>
</div>
</div>
