---
permalink: /blog/2012/05/vlog-mój-ebook-jest-dostępny-i-po-polsku-również/
layout: blog-old
title: 'Vlog: Mój ebook jest dostępny (i po polsku również)'
day: 10
month: May
year: 2012
category: language learning
tags: 
  - 'ebook'
  - 'vlog'
language: en
translation: /blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC/
---
<div class="content">
<p>Wreszcie polska wersja i wersje mobilne mojego ebooka są gotowe!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/9FfswP0rM5k?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/9FfswP0rM5k?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p><strong>Jeśli chcesz dostać mój ebook, proszę <a href="http://www.linguatrek.com/subscribe">zasubskrybuj mój blog</a>!</strong></p>
<p>Proszę podaj mi poprawki <a href="http://lang-8.com/10069/journals/1470177/Vlog%253A-M%25C3%25B3j-ebook-jest-dost%25C4%2599pny-%2528i-po-polsku-r%25C3%25B3wnie%25C5%25BC%2529">w serwisie Lang-8</a>!</p>
<p><strong>Czytaj transkrypcję poniżej!</strong></p>
<h2><a name="transcript">Transkrypcja</a></h2>
<ul>
<li>Dzień dobry</li>
<li>Znowu przed kamerą internetową mówi David Snopek</li>
<li>Jeśli mnie nie znasz, polecam filmik "O mnie"</li>
<li>Jest link tutaj</li>
<li>W nim opowiadam o tym, jak nauczyłem się j. polskiego</li>
<li>Nie ogoliłem się od tygodni</li>
<li>Bo byłem tak zajęty pisaniem mojego ebooka</li>
<li>Nie spodziewiałem się, że będzie wymagało tak dużo czasu i wysiłku</li>
<li>Wreszcie w czwartek w zeszłym tygodniu opublikowałem wersję po angielsku w formacie PDF</li>
<li>Dzisiaj właśnie opublikowałem wersję po polsku</li>
<li>I teraz obie wersje nie są tylko w formacie PDF ale rownież EPUB i MOBI dla e-czytników tak jak Kindle</li>
<li>Jeśli chcesz mojego ebooka, proszę zasubskrybuj mój blog</li>
<li>Jest link w opisie</li>
<li>I dostaniesz instrukcje do pobrania tych plików przez email</li>
<li>Jeśli już jesteś subskrybentem mojego blogu, ta wiadomość czeka już w Twojej skrzynce odbiorczej</li>
<li>Mój ebook jest pod tytułem: Naturalna nauka języka bez nauczyciela</li>
<li>Ma około sto stron i składa się z dwóch części: część teoretyczna i część praktyczna</li>
<li>W części teorytecznej:</li>
<li>Opowiadam moją historią z nauką języków obcych</li>
<li>Opisuję proces, w którym mózg naturalnie się uczy języka</li>
<li>Opisuję trzy potrzebne składniki do skutecznej nauki, to są czas, motywacja i efektywna metoda</li>
<li>Już kiedyś nagrałem filmik na ten temat</li>
<li>Wyjaśniam dlaczego słuchanie jest takie ważne</li>
<li>Odpowiadam na pytanie: do czego może się przydać gramatyka</li>
<li>I wyjaśniam dlaczego słownictwo jest największym wyzwaniem</li>
<li>W części praktycznej:</li>
<li>Opisuję schemat do stworzenia efektywnej metody, korzystając z tej teorii</li>
<li>Podaję trzy elementy do efektywnej metody</li>
<li>Pomagam Ci w ustalaniu Twojego celu w nauce i dziennego planu</li>
<li>Potem opisuję bardzo szczegółowo tę metodę, którego sam użyłem, żeby nauczyć się j. polskiego </li>
<li>I podaję instrukcje "krok po kroku" jak Ty możesz to też robić</li>
<li>I w ostatnim i najdłuższym rozdziale wyjaśniam jak możesz stworzyć własną metodę na podstawie tego schematu</li>
<li>Bo nie ma tylko jednej efektywnej metody</li>
<li>Najefektywniejsza metoda dla Ciebie zależy jak najbardziej od Ciebie</li>
<li>Moja metoda dla mnie jest najefektywniejsza - ale dla Ciebie niekoniecznie</li>
<li>Ale z pomocą tego ebooka możesz stworzyć własną metodę, która będzie najlepsza dla Ciebie</li>
<li>Mam nadzieję, że będzie Wam pomocne</li>
<li>Więc zapraszam do czytania</li>
<li>Dziękuję za uwagę</li>
<li>Do widzenia</li>
</ul>
</div>

<div id="comments">
<a id="comment-1849"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/48722f1e15688b54098a584946029f00?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witam! Wielkie dzięki Davidzie, i gratulacje!<br/>
Ten ebook to Twój sukces, a dzięki niemu pomożesz bardzo wielu osobom, w tym mi. Zdążyłem już przeczytać i jestem bardzo zadowolony oraz.. ZMOTYWOWANY :)<br/>
Pozdrawiam,<br/>
Piotrek</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/152/1849">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">PiotrekzPłocka (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC#comment-1849">Thursday, May 10, 2012 - 23:27</a></span>
</div>
</div>
<div class="indented"><a id="comment-1868"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Piotrek!</p>
<p>Bardzo się cieszę, że ebook podobał Ci się.  I tak szybko go przeczytałeś!  Na pewno byłeś w pierwszej grupie osób, które to zrobiły. ;-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/152/1868">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC#comment-1868">Saturday, May 12, 2012 - 09:44</a></span>
</div>
</div>
</div><a id="comment-1850"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/5609ea83edf92f4bad9b21ad056f8514?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Howdy David!!! Be honest David!!!You are a great teacher. I speak in English at intermediate level, but with you clues I am able to work harder. Sometimes english people do not care if sombody wants speak better. Could I ask a question??? I don't like Harry Potter, but I like to read the Count of Monte Christo. You wrote that a book should have a MP-3. I am worry about one thing?? Should I learn English with this book?? In my opinion it is better to read one book than many books at the same time. Please let me know David. It is very imported for me. I want to study at a University in High Wycombe and honestly at a College we study boring grammar rules ;-( ;-(. I am not perfect and I make some mistakes, when I speak.</p>
<p>Kind regards</p>
<p>Look forward to hearing from you</p>
<p>Radek</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/152/1850">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Radek from High Wycombe (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC#comment-1850">Friday, May 11, 2012 - 04:38</a></span>
</div>
</div>
<div class="indented"><a id="comment-1869"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Radek!</p>
<p>I'm glad you liked the ebook!  Yeah, if you're motivated to read Count of Monte Christo and it's an appropriate level for you - it's a great book!  And, actually, you can find free MP3 recordings of it, for example:</p>
<p><a href="http://archive.org/details/count_monte_cristo_0711_librivox" title="http://archive.org/details/count_monte_cristo_0711_librivox">http://archive.org/details/count_monte_cristo_0711_librivox</a></p>
<p>I agree, it's better to focus on one book at a time.</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/152/1869">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC#comment-1869">Saturday, May 12, 2012 - 09:47</a></span>
</div>
</div>
<div class="indented"><a id="comment-1885"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/5609ea83edf92f4bad9b21ad056f8514?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Thanks a lot David!!! I live in England, but I like an American accent. It is very soft than an English accent. </p>
<p>Wielkie dzieki</p>
<p>Radek</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/152/1885">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Radek from High Wycombe (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC#comment-1885">Sunday, May 13, 2012 - 08:13</a></span>
</div>
</div>
</div></div><a id="comment-1854"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/236ded077c872e228af0d2431fea823a?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Trafiłam tu przez przypadek. Świetnie mówisz po polsku!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/152/1854">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Asior (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC#comment-1854">Friday, May 11, 2012 - 10:54</a></span>
</div>
</div>
<div class="indented"><a id="comment-1870"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki za miłe słowa. :-) Pozdrawiam, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/152/1870">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC#comment-1870">Saturday, May 12, 2012 - 09:47</a></span>
</div>
</div>
</div><a id="comment-1855"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3edaefc3d69a4bf6a0e4b474303c6d06?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Bravo David!<br/>
Dzięki za e-book!!!<br/>
Mam czas i motywację do nauki angielskiego, więc dzięki Twoim profesjonalnym wskazówkom zawartym w e-booku, nabieram przekonania, że niedługo bedę bez oporów rozmawiać po angielsku - pisać i czytać już sporo umiem.<br/>
Zamierzam w przyszłosci nauczyć się niemieckiego a może jeszcze francuskiego?<br/>
Oj, trochę się zagalopowałam, bo jestem urodzona w 1961 roku... Myślisz, że starczy mi życia na niemiecki i francuski?<br/>
Dzięki Tobie optymizm mnie nie opuszcza, tym bardziej, że bardzo lubię się uczyć czegoś nowego.<br/>
Pozdrawiam - Anna Z.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/152/1855">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anna Z. (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC#comment-1855">Friday, May 11, 2012 - 13:49</a></span>
</div>
</div>
<div class="indented"><a id="comment-1871"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Anna!</p>
<p>Dzięki za miłe słowa - bardzo się cieszę, że podobał Ci się ebook. :-)   Na pewno starczy Ci życia na naukę dwóch nowych języków!!  Rozmawiałem z ludźmi, którzy nauczyli się płynnie mówić językiem obcym, zaczynając w wieku 60. ;-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/152/1871">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC#comment-1871">Saturday, May 12, 2012 - 09:52</a></span>
</div>
</div>
</div><a id="comment-1856"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://bit.ly/czasowy-prezent" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/03ebd9d795ce65aaba9a37c0d7ee456e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Dla mnie e-book powinniem do Amazona trafić w cenie 99$, wykonałeś świetną pracę.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/152/1856">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://bit.ly/czasowy-prezent" rel="nofollow">Damian</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC#comment-1856">Friday, May 11, 2012 - 14:36</a></span>
</div>
</div>
<div class="indented"><a id="comment-1872"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dziękuję bardzo. :-) Wkrótce będę mówił o płatnym produkcie, który chcę sprzedać. Mam nadzieję, że będzie udany!  Pozdrawiam, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/152/1872">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC#comment-1872">Saturday, May 12, 2012 - 09:53</a></span>
</div>
</div>
</div><a id="comment-1857"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Piszę jeszcze raz, bo chyba mój komentarz przepadł. Napisałem w nim, że teraz było by fajnie, gdybyś nagrał wersję audio. Pochwalę się, że ostatnio 3 razy pod rząd słuchałem książki Kaufmanna. Bo ma przyjemny głos, książka bardzo ciekawa + comprehensible input. :)<br/>
Weź przykład Davidzie i z Kaufmanna i z Aarona Myersa, bo oni nagrali swoje książki.</p>
<p>Mam cichą nadzieję, że to zrobisz. :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/152/1857">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC#comment-1857">Friday, May 11, 2012 - 15:11</a></span>
</div>
</div>
<div class="indented"><a id="comment-1873"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Chciałbym to zrobić. :-)  Ale nie teraz.  Właśnie spędziłem tak dużo czasu nad pisaniem i tłumaczeniem tego ebooka (setki godzin), i - najpierw bardzo chciałbym małą przerwę ;-) - ale potem to już czas ruszyć dalej.  Ale na pewno kiedyś!</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/152/1873">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC#comment-1873">Saturday, May 12, 2012 - 09:58</a></span>
</div>
</div>
<a id="comment-4354"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://minawetp2.bloog.pl" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/464247765eb018bd28380b6a6f4d1a6a?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Gdzie można ściagnąć te e-booki? Kaufmanna i Aarona Myersa?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/152/4354">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://minawetp2.bloog.pl" rel="nofollow">MinaWetp</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC#comment-4354">Tuesday, April 2, 2013 - 13:24</a></span>
</div>
</div>
</div><a id="comment-1859"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e77cd5fa023f9b0b9a0926f5872fb8cb?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Dawid, rozpocząłem z nudów tłumaczenie Twojego ebooka na język polski. Mam nadzieję, że skończę szybciej niż Ty :D podaj adres mailowy - podeślę Ci gotowy przetłumaczony ;) oczywiście bez zobowiązań finansowych :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/152/1859">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC#comment-1859">Saturday, May 12, 2012 - 05:13</a></span>
</div>
</div>
<div class="indented"><a id="comment-1867"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hej, tłumaczenie na j. polski już jest skończone! Właśnie był temat tego filmiku. :-) Jeśli jesteś subskrybentem mojego blogu, powinieneś był dostać instrukcje o tym mailem w czwartek. Jeśli nie, po prostu zasubskrybuj i je dostaniesz!  W każdym razie, dziękuję za chęć do tłumaczenia mojego ebooka. :-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/152/1867">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC#comment-1867">Saturday, May 12, 2012 - 09:42</a></span>
</div>
</div>
</div><a id="comment-1875"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/ab7c44b89e605f198b10fabfbaf88122?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witaj, w ostatnim czasie trafiłem na Twój kanał na YT, z czego bardzo się cieszę, ponieważ jesteś bardzo ciekawym człowiekiem. Dzisiaj dowiedziałem się o Twoim e-booku, po zasubrykowaniu blogu nie otrzymałem wiadomości gdzie mogę pobrać pdf'a. I nie wiem czy to ja coś zepsułem czy coś nie działa. Jak to naprawić?</p>
<p>Pozdrawiam :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/152/1875">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Witek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC#comment-1875">Saturday, May 12, 2012 - 11:25</a></span>
</div>
</div>
<div class="indented"><a id="comment-1877"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Witek!</p>
<p>Proces wygląda tak:</p>
<ol>
<li>Wypełnij formułarz na tej stronie: <a href="http://www.linguatrek.com/subscribe" title="http://www.linguatrek.com/subscribe">http://www.linguatrek.com/subscribe</a> (brzmi jak to już zrobiłeś).</li>
<li>Dostaniesz mail potwierdzający - kilknij link w mailu. (Może wylądował w folderze SPAM?)</li>
<li>Dostaniesz wszystkie linki do plików ebooka (PDF, EPUB, MOBI - po angielsku i po polsku).</li>
</ol>
<p>Mam nadzieję, że to pomoże! Jeśli nadal masz problemy, wyślij mi wiadomość przez ten formułarz i mogę Ci wysłać plików mailem:</p>
<p><a href="http://www.linguatrek.com/subscribe" title="http://www.linguatrek.com/subscribe">http://www.linguatrek.com/subscribe</a></p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/152/1877">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC#comment-1877">Saturday, May 12, 2012 - 12:30</a></span>
</div>
</div>
<div class="indented"><a id="comment-1882"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/ab7c44b89e605f198b10fabfbaf88122?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Oczywiście, że działa. Przez moją nieuwagę nie zauważyłem odnośnika do  polskiej wersji.</p>
<p>Bardzo dziękuję za odpowiedź, pozdrawiam.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/152/1882">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Witek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC#comment-1882">Saturday, May 12, 2012 - 13:05</a></span>
</div>
</div>
</div></div><a id="comment-1876"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.zarchipelagu.tk" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/203ff44100d14c74880708827e6b7dfc?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Gdzie mozna znalezc link do pdfa?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/152/1876">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.zarchipelagu.tk" rel="nofollow">moniq</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC#comment-1876">Saturday, May 12, 2012 - 12:19</a></span>
</div>
</div>
<div class="indented"><a id="comment-1878"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć!</p>
<p>To jest bezpośredni link, ale nadal nie działa bez subskrypcji:</p>
<p><a href="http://www.linguatrek.com/download/David%20Snopek%20-%20Naturalna%20nauka%20j%C4%99zyka%20%28V1%29.pdf" title="http://www.linguatrek.com/download/David%20Snopek%20-%20Naturalna%20nauka%20j%C4%99zyka%20%28V1%29.pdf">http://www.linguatrek.com/download/David%20Snopek%20-%20Naturalna%20nauk...</a></p>
<p>W komentarzu powyżej opisałem proces subskrypcji. Jeśli masz jakiekolwiek problemy, daj mi znać!</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/152/1878">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC#comment-1878">Saturday, May 12, 2012 - 12:33</a></span>
</div>
</div>
<div class="indented"><a id="comment-1881"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.zarchipelagu.tk" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/203ff44100d14c74880708827e6b7dfc?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Dzieki!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/152/1881">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.zarchipelagu.tk" rel="nofollow">moniq</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC#comment-1881">Saturday, May 12, 2012 - 12:58</a></span>
</div>
</div>
</div></div><a id="comment-1897"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/40f178f5087d1e46aa3d971c0b2da449?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Powiem szczerze, że jestem pozytywnie zaskoczona.<br/>
Spodziewałam się kolejnej nudnej książeczki, gdzie będą mnie przekonywać, że tylko: systematyczność ... systematyczność i jeszcze raz systematyczność ...<br/>
A tu, okazało się, że ten e-book jest naprawdę ciekawy i sporo wnosi. Już po przeczytaniu kilku pierwszych stron "wciągnęłam się" i nawet nie zorientowałam się kiedy doleciałam do końca.<br/>
Szczerze polecam każdemu, kto tak jak ja jeszcze 2 dni temu, przeżywa "językowy kryzys". Bo e-book oprócz tego, że podpowiada nam nowe metody nauki, niesamowicie motywuje.<br/>
Jeśli Amerykanin był w stanie nauczyć się tak szybko i tak dobrze polskiego, to ta metoda MUSI BYĆ DOBRA.</p>
<p>Pozdrowienia i buziaki dla Davida !</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/152/1897">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Jeanne (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC#comment-1897">Monday, May 14, 2012 - 12:08</a></span>
</div>
</div>
<div class="indented"><a id="comment-1898"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/40f178f5087d1e46aa3d971c0b2da449?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Aaa ... byłabym zapomniała.<br/>
Mam nadzieję, że David nie obrazi się za przełożenie treści e-booka na francuski :) Bo szczerze mówiąc, mam takie zamiary. Kilku francuskojęzycznych znajomych chciałoby też przeczytać.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/152/1898">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Jeanne (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC#comment-1898">Monday, May 14, 2012 - 12:10</a></span>
</div>
</div>
<div class="indented"><a id="comment-1903"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Jeanne!</p>
<p>Bardzo się cieszę, że podobał Ci się mój ebook. :-) Oczywiście fajnie byłoby mieć tłumaczenie dla francuskojęzycznych! Czy chciałabyś zrobić "oficjalne tłumaczenie"? Jeśli tak, wyślij mi wiadomość przez ten formularz i wyślę Ci wszystkie dokumenty źródłowe:</p>
<p><a href="http://www.linguatrek.com/contact" title="http://www.linguatrek.com/contact">http://www.linguatrek.com/contact</a></p>
<p>Z ciekawości: czy jesteś Polką czy Francuską? Imię "Jeanne" brzmi trochę francusko. :-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/152/1903">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC#comment-1903">Tuesday, May 15, 2012 - 09:53</a></span>
</div>
</div>
</div></div><a id="comment-1906"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/b2d008aeb3835d3a20b5888678d22c92?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Dzięki wielkie za tę książkę!</p>
<p>Przeczytałem już większość w wersji angielskiej. Jest napisana prostym językiem i nawet mimo tego, że nie znam części słownictwa rozumiem cały jej sens.</p>
<p>Twoje rady i podejście do nauki są bardzo trafne i niezwykle pomocne. Dzięki tej książce nareszcie szybko na uczę się (i co ważne skutecznie) języka angielskiego.</p>
<p>Jeszcze raz dzięki!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/152/1906">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Dominik (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC#comment-1906">Tuesday, May 15, 2012 - 11:11</a></span>
</div>
</div>
<div class="indented"><a id="comment-1916"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Dominik!</p>
<p>Proszę bardzo. :-)</p>
<p>Gratuluję Ci poziomu angielskiego, że możesz ebook rozumieć po angielsku! Cieszę się, że moje porady są Ci pomocny i życzę dalszych sukcesów w nauce!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/152/1916">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC#comment-1916">Wednesday, May 16, 2012 - 12:51</a></span>
</div>
</div>
</div><a id="comment-3525"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/33cf1747bb420d529f2284ae01b0539e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witam,</p>
<p>Panie Davidzie,jak mogę pobrać Pana ebook?Zasubskrybowałam Pana bloga jakiś czas temu.</p>
<p>Ps:Gratuluję ciekawego bloga i oczywiście sukcesów w nauce języka polskiego!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/152/3525">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Ania (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC#comment-3525">Saturday, January 19, 2013 - 19:28</a></span>
</div>
</div>
<div class="indented"><a id="comment-3526"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Ania!</p>
<p>Powinnaś była dostać mail z linkiem do tego. Oto jest ten link:</p>
<p><a href="http://www.linguatrek.com/nll-ebook-pl" title="http://www.linguatrek.com/nll-ebook-pl">http://www.linguatrek.com/nll-ebook-pl</a></p>
<p>Mam nadzieję, że będzie Ci pomocny w nauce!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/152/3526">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC#comment-3526">Saturday, January 19, 2013 - 19:37</a></span>
</div>
</div>
</div><a id="comment-3528"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/33cf1747bb420d529f2284ae01b0539e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Tak,rzeczywiście dostałam z linkiem aktywacyjnym ale nie zauważyłam.Dziękuję za szybką odpowiedź.Dzisiaj zabieram się do czytania:)Jest Pan dla mnie przykładem,że można nauczyć się każdego języka.<br/>
Jakiś czas temu szukając informacji i materiałów do samodzielnej nauki angielskiego znalazłam Pana filmik na YT i oglądając go,pomyślałam sobie,że jest Pan Polakiem na stałe mieszkającym w USA,stąd lekko inny akcent.Dopiero oglądając inne filmiki,dowiedziałam się że sam nauczył się Pan polskiego!!!i to na takim wysokim poziomie!Jeszcze raz gratuluję!i dziękuję,że dzieli się Pan swoim doświadczeniem z innymi!:)</p>
<p>pozdrawiam<br/>
Ania</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/152/3528">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Ania (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC#comment-3528">Sunday, January 20, 2013 - 05:45</a></span>
</div>
</div>
<a id="comment-5953"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/0f1d2f2840f7aac5c592979f9565bbe5?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Dzieki za e-booka jest pelny bardzo dobrych wskazowek. Bardzo lubie sie uczyc jezykow obcych wiec napewno wykorzystam twoje metody. Jestem pod wrazeniem tego jak pieknie mowisz po polsku i ,ze poswieciles tyle czasu i energi zeby pomoc innym ludziom uczyc sie bardziej efektywnie. Niewiem czy jest taka opcja zeby ci ludzie mogli wysylac jakies donacje bo nie widzialam nic takiego na twoim blogu. Moim zdaniem zaslugujesz na jakies wynagrodzenie za swoja prace. Widac z ci to daje duzo satysfakcji samo w sobie ale mysle tez ,ze sa ludzie ktorzy by sie chcieli jakos odwdzieczyc.<br/>
Pozdrawiam serdecznie</p>
<p>Natalia</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/152/5953">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">natalia (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC#comment-5953">Monday, March 3, 2014 - 03:28</a></span>
</div>
</div>
<a id="comment-6691"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/2922abe325390bfd713a3f1761ad23be?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witam.<br/>
Pobrałam e-book ale po angielsku , wolałabym po polsku, bo z angielskim jestem na początku drogi. Czy jest możliwość pobrania po polsku też.Potrzebuję wszystkich możliwych rad i wskazówek bo muszę<br/>
wypracować sobie swoją własną ścieżkę nauki opartą o doświadczenia innych już sprawdzone i przetestowane.A Pan ma dużo dobrych doświadczeń jak się zorientowałam.<br/>
Pozdrawiam   E.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/152/6691">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Emka (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC#comment-6691">Friday, May 2, 2014 - 13:25</a></span>
</div>
</div>
<div class="indented"><a id="comment-6692"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Tak! Można pobrać ebook w języku polskim tutaj:</p>
<p><a href="http://www.linguatrek.com/nll-ebook-pl" title="http://www.linguatrek.com/nll-ebook-pl">http://www.linguatrek.com/nll-ebook-pl</a></p>
<p>Mam nadzieję, że będzie Ci pożyteczny. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/152/6692">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC#comment-6692">Friday, May 2, 2014 - 13:57</a></span>
</div>
</div>
</div>
</div>
