---
permalink: /blog/2012/05/vote-for-linguatrek-top-100-language-lovers/
layout: blog-old
title: 'Vote for LinguaTrek: Top 100 Language Lovers!'
day: 16
month: May
year: 2012
category: LinguaTrek
tags: 
  - 'contest'
  - 'Top 100 Language Lovers'
language: en
translation: /blog/2012/05/zag%C5%82osuj-za-linguatrek-w-konkursie-top-100-language-lovers/
---
<div class="content">
<div style="float: right; margin-left: 10px;"><a href="http://www.lexiophiles.com/language-lovers-toplist/vote-for-your-favorite-language-learning-blog-2012" target="_blank" title="Vote for your favorite Language Learning Blog 2012"><img alt="Vote the Top 100 Language Learning Blogs 2012" border="0" height="60" src="http://www.lexiophiles.com/wp-content/uploads/2012/05/top100-vote-for-this-blog-2.gif" width="160"/></a></div>
<p>Voting for the yearly contest <strong>Top 100 Language Lovers</strong> has begun and my blog, LinguaTrek, has once again been nominated in the category <strong>Top 100 Language Learning Blogs</strong>.</p>
<p><strong>Last year, thanks to the <em>"Wykop effect"</em>, LinguaTrek received the MOST votes out of any of the blogs!</strong></p>
<p>But the votes only count for 50% of the overall score - the other half is the opinion of the contest organizers.  A year ago, LinguaTrek was still pretty young, so it's completely understandable that we only got <a href="http://www.linguatrek.com/blog/2011/06/linguatrek-got-12th-place-among-language-learner-blogs-2011">12th place</a>.</p>
<p><strong>But this year, right after the publication of <a href="">my FREE ebook</a> - who knows what's possible! :-)</strong></p>
<p>Can I count on your support? :-) It only takes a few seconds.  Here is what you have to do:</p>
<ul>
<li><strong>Go to <a href="http://www.lexiophiles.com/language-lovers-toplist/vote-for-your-favorite-language-learning-blog-2012">this page</a>.</strong></li>
<li><strong>Find and select "LinguaTrek".</strong>
</li><li><strong>Click the "Vote" button at the bottom of the list.</strong></li>
</ul>
<p>While you're there, check out the other great blogs! It's really a great honor to have LinguaTrek on the list with them. :-)</p>
<p><strong>Thanks for your help!</strong></p>
</div>

<div id="comments">
<a id="comment-1921"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://landofbroszka.blogspot.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e3304456440244b2b4cc6883293ad1c2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>I was supposed to be there too... that's not fair!!!<br/>
the woman wrote to me and told me I was chosen! and I am not on the list, what gives? she told me I was supposed to write her an e-mail, but she never gave it to me! I wrote on her site, and answered her post - but she never reacted!<br/>
Great!<br/>
And I lost my chance to even compete. GREAT!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/155/1921">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://landofbroszka.blogspot.com" rel="nofollow">Brooch</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vote-for-linguatrek-top-100-language-lovers#comment-1921">Wednesday, May 16, 2012 - 16:52</a></span>
</div>
</div>
<div class="indented"><a id="comment-1922"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>That really sucks! :(</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/155/1922">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vote-for-linguatrek-top-100-language-lovers#comment-1922">Wednesday, May 16, 2012 - 17:14</a></span>
</div>
</div>
<a id="comment-3041"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c1ad1563dc601f7d1b8f463bf610daea?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>So considerably I m posting here due to the fact I<br/>
ve to say I seriously adore and agree with what you are producing !<br/>
So first of all thank you , I will come back again and make sure you post far more!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/155/3041">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vote-for-linguatrek-top-100-language-lovers#comment-3041">Thursday, September 27, 2012 - 23:17</a></span>
</div>
</div>
</div><a id="comment-1926"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c481fba5a47a5e6aff6e25f01ba8a3df?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I've voted :). good luck. David I have a problem! I started to learning English your technique a few days ago. But...I don't remember lots of words in the Anki! trouble even with these easy! Do I have a weak memory?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/155/1926">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">silencer (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vote-for-linguatrek-top-100-language-lovers#comment-1926">Thursday, May 17, 2012 - 10:31</a></span>
</div>
</div>
<div class="indented"><a id="comment-1928"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://landofbroszka.blogspot.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e3304456440244b2b4cc6883293ad1c2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>to dopiero kilka dni - nic łatwo nie przychodzi, a w szczególności nauka języków :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/155/1928">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://landofbroszka.blogspot.com" rel="nofollow">Brooch</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vote-for-linguatrek-top-100-language-lovers#comment-1928">Thursday, May 17, 2012 - 11:18</a></span>
</div>
</div>
<a id="comment-1940"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Forgetting is a very important part of learning!  I talked about this in my ebook.  You have to forget a word and be reminded of it several times before you will ultimately remember it. Anki helps with this!  If you review your deck in Anki everyday it will show you a word just when you need to be reminded of it.</p>
<p>If you don't beleive <em>me</em> :-) -- here is an article from the blog of a relatively well-known polyglot talking about the same thing:</p>
<p><a href="http://thepolyglotdream.com/2012/04/11/forget-it-the-secret-of-remembering-words/" title="http://thepolyglotdream.com/2012/04/11/forget-it-the-secret-of-remembering-words/">http://thepolyglotdream.com/2012/04/11/forget-it-the-secret-of-rememberi...</a></p>
<p>I hope that helps!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/155/1940">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vote-for-linguatrek-top-100-language-lovers#comment-1940">Thursday, May 17, 2012 - 14:55</a></span>
</div>
</div>
</div><a id="comment-1937"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.magnetyczny-angielski.pl/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/fcdaf9204621a9a7c2ca11c80191a594?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>I have just voted for your blog.</p>
<p>GOOD LUCK!</p>
<p> BTW Wow, a lot of blogs on the list.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/155/1937">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.magnetyczny-angielski.pl/" rel="nofollow">Violetta </a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vote-for-linguatrek-top-100-language-lovers#comment-1937">Thursday, May 17, 2012 - 13:55</a></span>
</div>
</div>
<div class="indented"><a id="comment-1941"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/155/1941">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vote-for-linguatrek-top-100-language-lovers#comment-1941">Thursday, May 17, 2012 - 14:59</a></span>
</div>
</div>
</div><a id="comment-1948"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a71f09b30db88d7d85ab0e94fb334466?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Do I need to read book? Underlinining and adding to my Anki or can i read whole range of websites and add words providing i have a basis of my english? :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/155/1948">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vote-for-linguatrek-top-100-language-lovers#comment-1948">Friday, May 18, 2012 - 03:14</a></span>
</div>
</div>
<div class="indented"><a id="comment-1950"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Nope! There are lots of different types of content. In my ebook, I discuss how to use the following: books, music, movies and television, video games, podcasts, language exchange or immersion. But there is really an infinite number of options! I recommend taking a look at the ebook. :-)</p>
<p>Yes, you can use websites as your content.  There are even a number of interesting technologies that can help you if websites are your content.  I discuss of a few of them in the ebook.</p>
<p>Hope that helps!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/155/1950">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vote-for-linguatrek-top-100-language-lovers#comment-1950">Friday, May 18, 2012 - 06:04</a></span>
</div>
</div>
</div><a id="comment-1949"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a71f09b30db88d7d85ab0e94fb334466?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>i have forgotten, what do you think about standard databases in this program? Is own database more helpful? Can you write something about plugins in this program? Do you recommend some?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/155/1949">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vote-for-linguatrek-top-100-language-lovers#comment-1949">Friday, May 18, 2012 - 03:17</a></span>
</div>
</div>
<div class="indented"><a id="comment-1951"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Your own database is much more helpful.  Because Anki (or any other SRS) isn't a complete solution.  Context is the real teacher.  I also talk about this in the ebook. :-)</p>
<p>Unfortunately, I don't use any Anki plugins (well, except for the Bibliobird one).</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/155/1951">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vote-for-linguatrek-top-100-language-lovers#comment-1951">Friday, May 18, 2012 - 06:07</a></span>
</div>
</div>
</div><a id="comment-2007"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/dcff3c42c0d8f56f76d409b7a5afc319?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>You've got my vote, too.</p>
<p>On first sight, we're doing quite well so far (the LinguaTrek is on top 5). Yeah, I know that our votes may contribute to only half of a final score, but that's a good beginning, isn't it?.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/155/2007">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Marek Ch. (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vote-for-linguatrek-top-100-language-lovers#comment-2007">Friday, May 25, 2012 - 18:40</a></span>
</div>
</div>
<div class="indented"><a id="comment-2012"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Well, the voting unfortunately is done in two days. :-) I don't think I did as good a job of promoting the contest this year as I did last year. I haven't even recorded a video!</p>
<p>But getting in the top five (as far as votes) ain't bad!</p>
<p>Thanks for your support!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/155/2012">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vote-for-linguatrek-top-100-language-lovers#comment-2012">Saturday, May 26, 2012 - 07:37</a></span>
</div>
</div>
</div><a id="comment-2013"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-great-material-for-learners-of-english-or-polish" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] (If you haven't voted for LinguaTrek yet in the "Top 100 Language Learner Blogs" contest, only two days remain! The voting last until May 28th at 5:00pm CST (or midnight Polish time). If you have a free minute, please vote!) [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/155/2013">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-great-material-for-learners-of-english-or-polish" rel="nofollow">&amp;amp;quot;Czytamy w oryginale - wielkie powieści&amp;amp;quot; -</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vote-for-linguatrek-top-100-language-lovers#comment-2013">Saturday, May 26, 2012 - 09:43</a></span>
</div>
</div>
<a id="comment-2105"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/05/linguatrek-got-7th-place-among-the-top-language-learner-blogs-of-2012" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] Thank you everyone for voting and your support! [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/155/2105">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/05/linguatrek-got-7th-place-among-the-top-language-learner-blogs-of-2012" rel="nofollow">LinguaTrek got 7th place among the top Language Learner Blog</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/vote-for-linguatrek-top-100-language-lovers#comment-2105">Thursday, May 31, 2012 - 08:29</a></span>
</div>
</div>
</div>
