---
permalink: /blog/2012/05/zagłosuj-za-linguatrek-w-konkursie-top-100-language-lovers/
layout: blog-old
title: 'Zagłosuj za LinguaTrek w konkursie Top 100 Language Lovers!'
day: 16
month: May
year: 2012
category: LinguaTrek
tags: 
  - 'contest'
  - 'Top 100 Language Lovers'
language: en
translation: /blog/2012/05/zag%C5%82osuj-za-linguatrek-w-konkursie-top-100-language-lovers/
---
<div class="content">
<div style="float: right; margin-left: 10px;"><a href="http://www.lexiophiles.com/language-lovers-toplist/vote-for-your-favorite-language-learning-blog-2012" target="_blank" title="Vote for your favorite Language Learning Blog 2012"><img alt="Vote the Top 100 Language Learning Blogs 2012" border="0" height="60" src="http://www.lexiophiles.com/wp-content/uploads/2012/05/top100-vote-for-this-blog-2.gif" width="160"/></a></div>
<p>Rozpoczyna się głosowanie w corocznym konkursie <strong>Top 100 Language Lovers</strong> i mój blog, LinguaTrek, znowu został nominowany w kategorii <strong>Top 100 Language Learning Blogs</strong> (czyli: <em>100 najlepszych blogów o nauce języków obcych</em>).</p>
<p><strong>W zeszłym roku dzięki <em>"efektowi Wykopu"</em> LinguaTrek dostał NAJWIĘCEJ głosów ze wszystkich blogów!</strong></p>
<p>Ale ogólna ocena tylko w 50% składa się z ilości głosów - druga połowa to zadanie organizatorzy konkursu. Rok temu LinguaTrek nadal był dość młody, więc to całkiem zrozumiałe, że tylko <a href="http://www.linguatrek.com/blog/2011/06/linguatrek-got-12th-place-among-language-learner-blogs-2011">zdobył 12 miejsce</a>.</p>
<p><strong>Ale w tym roku właśnie po opublikowaniu mojego DARMOWEGO ebooka (opublikowałem <a href="http://www.linguatrek.com/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC">polskie tłumaczenie</a> tydzień temu) - kto wie co jest możliwe! :-)</strong></p>
<p>Czy mogę liczyć na Twoją pomoc? :-) Wystarczy tylko kilka sekund. Już tłumaczę co trzeba zrobić:</p>
<ul>
<li><strong>Przejdź na <a href="http://www.lexiophiles.com/language-lovers-toplist/vote-for-your-favorite-language-learning-blog-2012">tę stronę</a>.</strong></li>
<li><strong>Znajdź i zaznacz "LinguaTrek".</strong>
</li><li><strong>Kliknij przycisk "Vote" na dole listy.</strong></li>
</ul>
<p>Kiedy tam jesteś, sprawdź te inne wspaniałe blogi! To naprawdę jest wielki zaszczyt mieć LinguaTrek na tym liście razem z tamtymi. :-)</p>
<p><strong>Z góry dziękuję bardzo za pomoc!</strong></p>
</div>

<div id="comments">
<a id="comment-1923"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/6cd65d3701a57308b57ca51f79c236c8?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>done ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/154/1923">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/zag%C5%82osuj-za-linguatrek-w-konkursie-top-100-language-lovers#comment-1923">Thursday, May 17, 2012 - 07:16</a></span>
</div>
</div>
<div class="indented"><a id="comment-1924"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki. :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/154/1924">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/zag%C5%82osuj-za-linguatrek-w-konkursie-top-100-language-lovers#comment-1924">Thursday, May 17, 2012 - 08:01</a></span>
</div>
</div>
<div class="indented"><a id="comment-1933"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/92575522fcac01a13f1d9019d70992e2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>głos oddany, powodzenia!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/154/1933">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/zag%C5%82osuj-za-linguatrek-w-konkursie-top-100-language-lovers#comment-1933">Thursday, May 17, 2012 - 12:46</a></span>
</div>
</div>
</div></div><a id="comment-1927"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/bc581d36e535006cf431a7aad17e1c66?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>We're going to win this time. Well, you are going to win :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/154/1927">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kacper Wojtyniak (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/zag%C5%82osuj-za-linguatrek-w-konkursie-top-100-language-lovers#comment-1927">Thursday, May 17, 2012 - 10:36</a></span>
</div>
</div>
<a id="comment-1929"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3c3a5010c43c47b897696a7140643a64?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Dawid, oddałam swój głos na "Lingua Trek". Uważam, że zasługujesz na zwycięstwo. Trzymam kciuki.<br/>
I gave my voice to the "Lingua Trek." I believe that you deserve to win. I cross my fingers.<br/>
Przepraszam za błędy, ale uczę się z różnym skutkiem.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/154/1929">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Ewcia (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/zag%C5%82osuj-za-linguatrek-w-konkursie-top-100-language-lovers#comment-1929">Thursday, May 17, 2012 - 11:18</a></span>
</div>
</div>
<div class="indented"><a id="comment-1931"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/bb895ee735732da95307cf9d969a5782?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>It should be "I keep my fingers crossed" I think :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/154/1931">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Soob (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/zag%C5%82osuj-za-linguatrek-w-konkursie-top-100-language-lovers#comment-1931">Thursday, May 17, 2012 - 12:12</a></span>
</div>
</div>
</div><a id="comment-1930"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/fd743bcd1bbf370e87395c8e57a75358?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>zrobione! :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/154/1930">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Arek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/zag%C5%82osuj-za-linguatrek-w-konkursie-top-100-language-lovers#comment-1930">Thursday, May 17, 2012 - 11:44</a></span>
</div>
</div>
<a id="comment-1932"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3edaefc3d69a4bf6a0e4b474303c6d06?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Zagłosowałam i mam nadzieję, że blog LinguaTrek zwycięży!<br/>
Pozdrawiam</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/154/1932">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anna Z. (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/zag%C5%82osuj-za-linguatrek-w-konkursie-top-100-language-lovers#comment-1932">Thursday, May 17, 2012 - 12:21</a></span>
</div>
</div>
<a id="comment-1934"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/af917b4e008b4526865ccd068a8df3b0?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>It's done. But, for now, it's still too few votes to victory. Come on, everybody! David's blog must win this year! We need your help!<br/>
Greetings to you, David. Cross my fingers. ;-)<br/>
GPS Gregory</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/154/1934">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Gregory (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/zag%C5%82osuj-za-linguatrek-w-konkursie-top-100-language-lovers#comment-1934">Thursday, May 17, 2012 - 13:04</a></span>
</div>
</div>
<a id="comment-1935"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://bikemarket.pl" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/bb0f9dc087c6b9c22ed706022e1d75b6?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>po napisaniu takiego ebooka, raczek każdy chętnie odda głos :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/154/1935">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://bikemarket.pl" rel="nofollow">krzywy</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/zag%C5%82osuj-za-linguatrek-w-konkursie-top-100-language-lovers#comment-1935">Thursday, May 17, 2012 - 13:07</a></span>
</div>
</div>
<a id="comment-1936"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/edf9a4a55bd786ddb796080f830f7cf0?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Zrobione ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/154/1936">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Piotr (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/zag%C5%82osuj-za-linguatrek-w-konkursie-top-100-language-lovers#comment-1936">Thursday, May 17, 2012 - 13:30</a></span>
</div>
</div>
<a id="comment-1938"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/0a093be88ab74bef6fb36a25cd8d54e7?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Poszło! Dopingujemy z całych sił :D</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/154/1938">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Agusiak (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/zag%C5%82osuj-za-linguatrek-w-konkursie-top-100-language-lovers#comment-1938">Thursday, May 17, 2012 - 14:04</a></span>
</div>
</div>
<a id="comment-1939"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/832ae307ab5064011dd194661017e346?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Głos oddany - za to, że właśnie zacząłem czytać "Henryka Garncarza".</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/154/1939">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">malina (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/zag%C5%82osuj-za-linguatrek-w-konkursie-top-100-language-lovers#comment-1939">Thursday, May 17, 2012 - 14:14</a></span>
</div>
</div>
<a id="comment-1942"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/32286d4bf82678160c2d9eeb55378663?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Mówisz i masz :):), głos oddany. Bardzo dziękuję za świetnego ebooka. Mam nadzieję, że wreszcie ruszę z miejsca:)</p>
<p>Pozdrawiam</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/154/1942">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">srogulski (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/zag%C5%82osuj-za-linguatrek-w-konkursie-top-100-language-lovers#comment-1942">Thursday, May 17, 2012 - 15:05</a></span>
</div>
</div>
<a id="comment-1943"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/96f05a197f0bc0f10864ca0160abb7a0?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>David głos oddany ;) Twoja strona, Twoja misja to naprawdę kawał dobrej roboty ! Zasługujesz na zwycięstwo i trzymam mocno za Ciebie kciuki! Pozdrawiam ! Wszystkiego dobrego !</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/154/1943">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Grzesiek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/zag%C5%82osuj-za-linguatrek-w-konkursie-top-100-language-lovers#comment-1943">Thursday, May 17, 2012 - 15:39</a></span>
</div>
</div>
<a id="comment-1944"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8ad08e0614727e08376b1578a294077a?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Taaaa-daam! Oddałam mój głos! Ty też zostań swoim bohaterem! ;D</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/154/1944">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kotojednorożec (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/zag%C5%82osuj-za-linguatrek-w-konkursie-top-100-language-lovers#comment-1944">Thursday, May 17, 2012 - 15:45</a></span>
</div>
</div>
<a id="comment-1945"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/581923263085d1a91bc06c702b7ab628?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Done :) Trzymam kciuki:D</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/154/1945">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">kasiawr30 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/zag%C5%82osuj-za-linguatrek-w-konkursie-top-100-language-lovers#comment-1945">Thursday, May 17, 2012 - 16:32</a></span>
</div>
</div>
<a id="comment-1956"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c3ee6b08a8187618c152c2e955f78b43?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Zagłosowałem :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/154/1956">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Said222 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/zag%C5%82osuj-za-linguatrek-w-konkursie-top-100-language-lovers#comment-1956">Friday, May 18, 2012 - 08:07</a></span>
</div>
</div>
<a id="comment-1957"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f8f29bb81f04dc1a776e283f6fe63263?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Poszło , nie jest źle.<br/>
Ale głosów jeszcze trzeba !</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/154/1957">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">jarek65w (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/zag%C5%82osuj-za-linguatrek-w-konkursie-top-100-language-lovers#comment-1957">Friday, May 18, 2012 - 12:58</a></span>
</div>
</div>
<a id="comment-1958"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3c1bd61404801f55cae1a184d4c84a60?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>David, bardzo dobrze tak trzymaj! Zagłosowałam</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/154/1958">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Ewa (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/zag%C5%82osuj-za-linguatrek-w-konkursie-top-100-language-lovers#comment-1958">Saturday, May 19, 2012 - 15:03</a></span>
</div>
</div>
<a id="comment-1959"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/820f6660d2ae53b3c4a0b8c1e926534a?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Dawid, już zagłosowałam na Twojego bloga ,trzymam kciuki!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/154/1959">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">BEATA (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/zag%C5%82osuj-za-linguatrek-w-konkursie-top-100-language-lovers#comment-1959">Sunday, May 20, 2012 - 16:02</a></span>
</div>
</div>
<a id="comment-1969"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/af917b4e008b4526865ccd068a8df3b0?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Davidzie, czy jest sposób, żeby oddać kilka głosów w tym głosowaniu? Czy da się to zrobić z jednego adresu IP, czy musiałbym szukać po mieście kafejek internetowych? :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/154/1969">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Grzegorz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/zag%C5%82osuj-za-linguatrek-w-konkursie-top-100-language-lovers#comment-1969">Monday, May 21, 2012 - 11:09</a></span>
</div>
</div>
<div class="indented"><a id="comment-1998"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Jeden głos na osobę wystarczy. :-) Chcę wygrać oczywiście ale wolałbym nie oszukiwać konkursu. Ale dzięki za ofertę i wsparcie! Pozdrawiam serdecznie, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/154/1998">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/05/zag%C5%82osuj-za-linguatrek-w-konkursie-top-100-language-lovers#comment-1998">Wednesday, May 23, 2012 - 12:16</a></span>
</div>
</div>
</div><a id="comment-2017"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e1cff9a6d94db659e08f32a311ccb913?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Głos na bloga oddany :)<br/>
Życzę powodzenia w konkursie!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/154/2017">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Derp (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/zag%C5%82osuj-za-linguatrek-w-konkursie-top-100-language-lovers#comment-2017">Saturday, May 26, 2012 - 12:33</a></span>
</div>
</div>
<a id="comment-2018"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/cc45219b20fec9316ca12fe6d8173fe9?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Zagłosowałem i ja. Powodzenia!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/154/2018">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Fenix (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/zag%C5%82osuj-za-linguatrek-w-konkursie-top-100-language-lovers#comment-2018">Saturday, May 26, 2012 - 15:31</a></span>
</div>
</div>
<a id="comment-2040"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/5e3be89afc27abc00e6ab034444ebfee?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>no w ostatniej chwili. Mój głos oddany na LinguaTrek. Powodzenia!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/154/2040">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Magda (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/zag%C5%82osuj-za-linguatrek-w-konkursie-top-100-language-lovers#comment-2040">Monday, May 28, 2012 - 14:20</a></span>
</div>
</div>
<a id="comment-2041"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/af917b4e008b4526865ccd068a8df3b0?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Ludzie! Za niecałe dwie godziny kończy się głosowanie na blog roku! Blog LinguaTrek obecnie REMISUJE z blogiem Inglês na Ponta da Língua. Jest sposób oddania więcej głosów z jednego komputera. Zainstalujcie program CCleaner i wyczyśćcie nim całą pamięć podręczną Waszych przeglądarek. Potem wystarczy ją tylko jeszcze raz uruchomić i można głosować. Dalej! Walczymy o 3 miejsce!!!﻿ Pomóżmy wszyscy Davidowi, teraz!<br/>
Davidzie, wiem, że nie chcesz oszukiwać w głosowaniu, ale masz szansę na 3 miejsce! Naprawdę warto jeszcze powalczyć, zostało tylko półtorej godziny!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/154/2041">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Grzegorz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/05/zag%C5%82osuj-za-linguatrek-w-konkursie-top-100-language-lovers#comment-2041">Monday, May 28, 2012 - 15:26</a></span>
</div>
</div>
</div>
