---
permalink: /blog/2011/06/how-long-does-it-take-to-learn-a-foreign-language/
layout: blog-old
title: 'How long does it take to learn a foreign language?'
day: 7
month: Jun
year: 2011
category: language learning
tags: 
  - 'Benny Lewis'
  - 'speed'
language: en
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/06/sprint.jpg" rel="lightbox"><img alt="Guys sprinting" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/06/sprint.jpg" title="These guys are fast!  Photo by Ken Slade"/></a><div class="caption">These guys are fast!  <a href="http://www.flickr.com/photos/10789832@N00/3335901360">Photo</a> by <a href="http://www.flickr.com/photos/texaseagle/">Ken Slade</a></div></div>
<p>I receive a lot of emails asking for advice on how to learn a language <em>fast</em>.</p>
<p>But how fast is <em>fast</em>?  Two years?  One year?  90 days?  There are even products that claim they allow you to learn a language in just 30 days.</p>
<p>So, how long does it really take to learn a language?</p>
<p><strong>Read more for my opinion!</strong></p>
<h2><a name="my-experience">My experience</a></h2>
<p>I made my biggest progress with Polish in 2008 when I started <a href="http://www.linguatrek.com/blog/2010/12/harry-potter-the-book-that-taught-me-polish">reading the Harry Potter series in Polish</a>.  For the entire year, I spent two hours a day reading, listening and reviewing flashcards.</p>
<p>At the beginning of that year, my head was full of confusing grammar rules from the course I was taking.  But I had trouble understanding or saying just about anything.  <strong>By the end of the year, I could understand practically anything and speak <a href="http://www.youtube.com/watch?v=5NA29HFBC68">rather fluidly</a></strong> - although, far from perfectly!</p>
<p><strong>In my opinion, reaching that level in one year is very fast!</strong></p>
<h2><a name="time">Time: the missing ingredient</a></h2>
<p>If you have an effective method and good motivation <em>you will learn the language!</em> <strong>But how fast you'll learn depends on how much time you put into it.</strong></p>
<p>In 2008, I spent two hours a day learning Polish.  If I had spent only an hour, my progress would have been slower.  If I had spent three hours, my progress would have been faster.</p>
<p>In my opinion, <strong>anyone (regardless of age, ability or experience) can learn any language to an advanced level in a year, if they put enough time into it.</strong>  Assuming, of course, you have the <a href="http://www.linguatrek.com/blog/2011/03/the-three-ingredients-for-successful-language-learning">other two ingredients</a> too!</p>
<h2><a name="fluent-in-three-months">Fluent in 3 months?</a></h2>
<p>I am a <em>big fan</em> of Benny, the Irish Polyglot, who writes the extremely popular language learning blog <a href="http://www.fluentin3months.com/">Fluent in 3 Months</a>.</p>
<p>But as I've said in the past, <a href="http://www.linguatrek.com/blog/2010/11/lets-stop-saying-fluent-fluently-and-fluency-too">I'm <em>not</em> a big fan</a> of the word "fluent."  The word can have different meanings depending on who is using it.  This is what Benny <a href="http://www.fluentin3months.com/defining-fluency-to-achieve-fluency/">says</a>:</p>
<blockquote>
<p>My own definition of fluency is something along the lines of not hesitating when speaking, getting your point across with very few mistakes and understanding when spoken to, without slowing down the conversation when with a group of otherwise native speakers.</p>
</blockquote>
<p>Benny's goal is to meet native speakers and have a social life in that language.  He wants to speak comfortably and naturally, but isn't worried about being <em>correct</em> or <em>perfect</em>.</p>
<p><strong>Working very intensely with a language similar to your native language (or one you already know), I think it is possible to reach that level in 3 months,</strong> particularly, if you've learned another language successfully in the past. <strong>But if you don't meet all those requirements, you <em>will</em> need more time!</strong></p>
<h2><a name="goals">What are your goals?</a></h2>
<p>Learning a language is not a small thing; and there's also the culture and history that come with it!  <strong>There is always more to learn and more to discover!</strong>  You can study any language (including your native language) for your entire life and still not master every corner of it.</p>
<p>It's important to decide what your goals are.  Do you want a social life like Benny?  Or do you intend to write academic papers?  Or deliver business presentations?  Are you aiming for <em>correctness</em> or <em>communication</em>?</p>
<p><strong>Some goals require more time than others.</strong></p>
<p>As I've written previously, <a href="http://www.linguatrek.com/blog/2011/01/the-speed-of-language-learning">the law of diminishing returns</a> applies to language learning.  Once you are already at an advanced level, improvements come much more slowly.</p>
<h2><a name="marathon">A marathon, <em>not a sprint!</em></a></h2>
<p>Like I already wrote above: <strong>you will learn the language, so long as you don't give up!</strong></p>
<p>If you spend more time you will learn faster.  To a point.  If you push yourself too hard, you won't want to do it anymore.</p>
<p>To me it's more important to enjoy the journey.  <em>Keep your motivation close and remember your goals!  Have fun and don't give up!</em></p>
<p><strong>What do you think?  How long does it take to learn a language?  How fast is <em>fast</em>?  Does it matter?</strong></p>
</div>

<div id="comments">
<a id="comment-411"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/27d2530ff17139a256b7667bb1b102bf?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>You have written there is always more to learn and dicover. Is you learning to Polish over? If it's not, how does it look nowadays? Has something changed when you became a fluent speaker? How much time do you spend daily learning?</p>
<p>Apart from that I'm wondering how do you manage with forgeting what you had learnt before?</p>
<p>What was your goal in learning?</p>
<p>I will write if I've got more questions :)</p>
<p>Cheers!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/74/411">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">PLrc (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/06/how-long-does-it-take-to-learn-a-foreign-language#comment-411">Tuesday, June 7, 2011 - 16:03</a></span>
</div>
</div>
<div class="indented"><a id="comment-415"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>No, I'm definitely not done learning Polish!  There is still tons to learn. :-)</p>
<p>My goals have changed over time.  In the beginning, I wanted to be able to <em>comfortably</em> do all the things I normally do in English, but in Polish.  So, mainly: read books, communicate on the internet and have conversations about interesting topics.  I wasn't concerned with correctness or accent -- just that I speak/write well enough that people understand.</p>
<p>Recently, I've decided it's time to <a href="http://pl.bibliobird.com/node/6171">focus on my accent</a>.  The comments on my YouTube videos usually look something like: "Your Polish is very good.  But you pronounce X, Y and Z badly." ;-)  I've decided to try a technique called <a href="http://learnanylanguage.wikia.com/wiki/Shadowing">shadowing</a> but I haven't started yet.</p>
<p>It also might be time to focus on grammar and correctness.  While I speak gramatically enough, I could improve a lot.  But I haven't decided what to do yet.</p>
<p>Currently, I read in Polish a little bit before bed (10-20 minutes).  Right now I'm reading Quo Vadis.  I have language exchanges via Skype, usually 2 hours a week, but sometimes more or less.  I spend many hours a week writing and reading e-mails and comments on the internet.  And, of course, I record my YouTube videos. :-)</p>
<p>I wish I spent more time reading.  But, unfortunately, I just don't have that much time. :-/</p>
<p>Anyway, I hope that answers your questions!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/74/415">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/06/how-long-does-it-take-to-learn-a-foreign-language#comment-415">Wednesday, June 8, 2011 - 05:11</a></span>
</div>
</div>
<div class="indented"><a id="comment-416"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://realpolish.wordpress.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9cd173db3c34291605fc39d2da3e19b2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Jeśli pozwolicie, dodam, że technika shadowing jest moją ulubioną formą nauki. Nie muszę zastanawiać się co powiedzieć, a mogę mówić po angielsku i udawać "prawdziwego" Amerykanina ;-)<br/>
Zawsze robię to w samochodzie jadąc lub wracając z pracy. Mam z tego wielką uciechę :D<br/>
I encourage everyone to try this method, it is really worth it!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/74/416">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://realpolish.wordpress.com" rel="nofollow">Piotr</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/06/how-long-does-it-take-to-learn-a-foreign-language#comment-416">Wednesday, June 8, 2011 - 08:39</a></span>
</div>
</div>
</div></div><a id="comment-417"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://blog.edulang.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/be920e56e78e29c05bb4ceda65572e71?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hi David-</p>
<p>Learning Polish w/ Harry Potter.  That's brilliant.  Congrats.  My wife and I love to watch disney movies in Chinese to keep the language moving and learn new words.</p>
<p>For years, and through the romance languages I had the same opinion as you:  1 year to learn a language well. </p>
<p>When I was 17 I lived in france for 6 months and with an intermediate base that was enough time to become nearly native in accent and typical vernacular.  That being said, it was 100% immersion in french school with french students, and then in the evening with a french family.</p>
<p>I learned spanish and italian in similar ways though with less of a base, and less immersion.  Still worked well.  Then... I met chinese... you cannot become "fluent" in chinese in a year, no matter what your method.  Simply impossible.  You can speak it and have conversations, but you'll have a very hard time once conversations leave your familar territory.</p>
<p>Even after three years of good language immersion, I can still be challenged by this same aspect--- new contexts and new vocabulary.</p>
<p>I would say in general, it REALLY depends so much on each individual.  I don't think anyone can learn any language in a year, though I think everyone can make good strides in a year with time, motivation and an effective method as you've mentioned... LASTLY, I would add "active"--- employing the language actively, and for me that's often in speaking.  It needs to go through you.</p>
<p>Great post !   Cheers, brad</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/74/417">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://blog.edulang.com" rel="nofollow">Brad Patterson</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/06/how-long-does-it-take-to-learn-a-foreign-language#comment-417">Wednesday, June 8, 2011 - 13:38</a></span>
</div>
</div>
<div class="indented"><a id="comment-418"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Brad!</p>
<p>Thanks for your comment. :-)  It's very interesting to hear about your history learning your languages.</p>
<p>Unfortunately, I have to ask: What do <em>you</em> mean by fluent? ;-)  To some people, speaking without hesitation is fluent.  What you seem to be describing is a lack of vocabulary.</p>
<p>Of course, I don't know Chinese so I can't <em>really</em> say. :-)  But in a dialog, you can always ask for an explanation of unknown words.  Or if you don't have a word you need, you can <a href="http://www.linguatrek.com/blog/2011/02/what-to-do-when-you-dont-know-a-word">describe what you mean in words you do know</a>.  Of course, some situations aren't dialogs -- you might be in a group of people and can't stop the whole party to ask about a word every minute. :-)</p>
<p>Although, in general I think we are really saying the same thing.  I don't think there is any point, when someone has completely learned a language and they are done.  There is always more to learn --  particularly, once you get to an advanced level!  That's when you start to dig into the really sticky grammar, turns of phrase, specialized vocabulary, etc.</p>
<p>When you say "I think everyone can make good strides in a year," to me that means the same as when I wrote "In my opinion, anyone can learn any language to an advanced level in a year."</p>
<p>Or maybe you just have higher standards for what constitutes "advanced level"! :-)</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/74/418">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/06/how-long-does-it-take-to-learn-a-foreign-language#comment-418">Wednesday, June 8, 2011 - 14:13</a></span>
</div>
</div>
<div class="indented"><a id="comment-448"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://blog.edulang.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/be920e56e78e29c05bb4ceda65572e71?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Took me awhile to get back here !</p>
<p>It's interesting that we're diggin into the word "fluency", when really every single world is a unique universe in itself for every single person.</p>
<p>I do think we are saying the same thing in different ways.  In any case, maybe one day I'll give the harry potter technique a try.  Lord knows I love those books in english, and the fact that you already know the story must help a ton.        Cheers, b</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/74/448">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://blog.edulang.com" rel="nofollow">Brad Patterson</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/06/how-long-does-it-take-to-learn-a-foreign-language#comment-448">Friday, June 17, 2011 - 14:58</a></span>
</div>
</div>
</div></div><a id="comment-419"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://onaucejezykow.blogspot.com/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/2f47b5764794b15dd07bff21486e94b1?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>"What do you think? How long does it take to learn a language? How fast is fast? Does it matter?"</p>
<p>No, it does not! One can only achieve excellence through hard work and long practice. However, reaching a satisfying level does not mean the end of learning - If you stop learning, you start forgetting what you've learned..<br/>
To acquire a language is a decision for a lifetime. - It takes that long to learn a language! Why to hurry than? Learning has to become a lifestyle  and the better the sooner student understands it.<br/>
Learning has to be part of everyday life.<br/>
It really doesn't matter how long does it take to learn a language.</p>
<p>“It doesn't matter how slowly you go-so long as you do not stop.”-Confucius. :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/74/419">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://onaucejezykow.blogspot.com/" rel="nofollow">Ev</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/06/how-long-does-it-take-to-learn-a-foreign-language#comment-419">Thursday, June 9, 2011 - 11:18</a></span>
</div>
</div>
<div class="indented"><a id="comment-420"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Agreed!  I love that Confucius quote, thanks for posting it. :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/74/420">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/06/how-long-does-it-take-to-learn-a-foreign-language#comment-420">Thursday, June 9, 2011 - 11:22</a></span>
</div>
</div>
</div><a id="comment-422"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/27d2530ff17139a256b7667bb1b102bf?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>As for your queries it can take endless time. When I was in school I was beeing teaching German for twelve years but I didn't learn it, because I have not been interested in that all what the language brings learners to. I do not want offend anyone, but each word in that tongue sounds to me like "Auschwitz". Detesting something it is imposible to learn it.</p>
<p>In my opinion time which it took you to learn Polish is very fast. I hope I will speak English in a year as good as you was able to speak Polish after reading The Harry Potter series so as you told - rather fluent. Your blog has inspired me. Now I believe I will be able.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/74/422">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">PLrc (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/06/how-long-does-it-take-to-learn-a-foreign-language#comment-422">Thursday, June 9, 2011 - 15:49</a></span>
</div>
</div>
<div class="indented"><a id="comment-423"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/27d2530ff17139a256b7667bb1b102bf?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I meant I was being t a u g h t German.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/74/423">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">PLrc (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/06/how-long-does-it-take-to-learn-a-foreign-language#comment-423">Thursday, June 9, 2011 - 17:24</a></span>
</div>
</div>
<div class="indented"><a id="comment-424"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>No worries. :-)</p>
<p>I had a similar experience with Spanish (although, I don't dislike Spanish -- it's a very nice language I would like to learn -- but I just didn't care because it was something I was forced to do for school, I had no real motivation).</p>
<p>Please let me know how it goes with your English!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/74/424">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/06/how-long-does-it-take-to-learn-a-foreign-language#comment-424">Friday, June 10, 2011 - 05:17</a></span>
</div>
</div>
</div></div><a id="comment-429"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/27d2530ff17139a256b7667bb1b102bf?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I'm wondering have you ever counted Polish words you know? You said you had been useing a programme such Anki, so you probably can know it.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/74/429">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">PLrc (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/06/how-long-does-it-take-to-learn-a-foreign-language#comment-429">Tuesday, June 14, 2011 - 06:50</a></span>
</div>
</div>
<div class="indented"><a id="comment-430"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>I have not!  I use Anki pretty inconsistently (ie. there are plenty of words I know that I have never added to Anki) so it isn't a good measure.  I have also started over with my flashcards several times.</p>
<p>When I was reading the first Harry Potter, I know that I had a couple thousand flashcards, but I don't remember the exact number.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/74/430">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/06/how-long-does-it-take-to-learn-a-foreign-language#comment-430">Tuesday, June 14, 2011 - 07:12</a></span>
</div>
</div>
</div><a id="comment-439"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.englishfocused.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/bebeb06130478545b5e4685bf9f5ab5b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Dear David, I found your blog among the entries for Top 100 Language Blogs and I was initially interested in what you write about. This changed when I read the article above. To be frank I lost all respect for you simply because you call yourself a big fan of Benny, the pseudo-polyglot as I prefer to call him. The definition of fluency he bandies about, and which you kindly quoted, couldn’t be possibly more confusing and is simply wrong. Anybody can open up a dictionary and check what fluency means. Unfortunately people are lazy and/or stupid and would rather believe the utter drivel someone publishes up on their silly blog. Benny never actually learnt any language in 3 months and I presume fluentin3months is nothing more than an attention-grabbing headline that helps him trick stupid people into buying his e-book. Furthermore, his website name stands for an aspiration that even he goes on to contradict (he even admitted that he never claimed to reach fluency in any of his 3-month missions). Serious language learners would ever associate themselves with people such as Benny, who get off on peddling false hope to the weak-minded.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/74/439">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.englishfocused.com" rel="nofollow">Ewelina Gonera</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/06/how-long-does-it-take-to-learn-a-foreign-language#comment-439">Wednesday, June 15, 2011 - 12:42</a></span>
</div>
</div>
<div class="indented"><a id="comment-440"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Ewelina!</p>
<p>I also don't believe that is possible for most people in most situations to learn a language in three months.  I'm sorry if that wasn't clear in my article, I will think about changing it so it is more clear.</p>
<p>I understand your feeling about the name of Benny's blog and his definition of fluent and I share them. :-)  In fact, <a href="http://www.linguatrek.com/blog/2010/11/lets-stop-saying-fluent-fluently-and-fluency-too">I don't think we should be using the word fluent</a>, because the average person has a completely incorrect idea of what it means.  If you ask a native English speaker on the street, they will tell you that fluent means you speak perfectly.  But most language learners, linguists and certainly marketers define it differently.</p>
<p>So, on all the important things, I think we agree. :-)</p>
<p>Where we disagree, is that I like Benny and I think his blog does a lot to help motivate people to learn languages.  Most people for some reason beleive they are incapable of learning language.  The majority of what Benny writes on his blog aims at convincing people that they can!</p>
<p>The fact that he admits that he has failed to learn several languages up to his standard of fluent in three months, shows me that he is being honest.</p>
<p>Yes, the name of the blog is terrible!  And my language learning technique is the polar opposite of Benny's -- he advocates speaking, speaking and speaking -- where as I've learned primarily from reading and listening.  But the motivational content on his blog -- which is the vast majority! -- I think is very good.</p>
<p>Anyway, thanks for taking the time to read my article!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/74/440">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/06/how-long-does-it-take-to-learn-a-foreign-language#comment-440">Wednesday, June 15, 2011 - 13:30</a></span>
</div>
</div>
</div><a id="comment-674"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2011/08/heinrich-schliemann-a-famous-polyglot%E2%80%99s-method" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] I’ve said many times that anyone can learn a language and how fast you learn a language depends on how much time you devote to it. [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/74/674">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2011/08/heinrich-schliemann-a-famous-polyglot%E2%80%99s-method" rel="nofollow">Heinrich Schliemann: a famous polyglot’s method | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/06/how-long-does-it-take-to-learn-a-foreign-language#comment-674">Tuesday, August 2, 2011 - 08:59</a></span>
</div>
</div>
<a id="comment-1805"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/03/do-i-need-to-understand-everything" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] The most important thing is that you don't give up! [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/74/1805">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/03/do-i-need-to-understand-everything" rel="nofollow">Do I need to understand everything? | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/06/how-long-does-it-take-to-learn-a-foreign-language#comment-1805">Wednesday, May 2, 2012 - 19:18</a></span>
</div>
</div>
<a id="comment-4470"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.UbudIndonesianTeacher.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/6ed45943e2511b203df7afd200be9326?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>If you are really interested and focus in learning a certain language then it will be easy for you and it won’t take long period of time to learn it. You only need courage and commitment so that you can catch up the lessons so easily. I am learning Indonesian language with my Ubud Private Indonesian teacher and I find it really cool since she can keep an eye for me what are the right things to do.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/74/4470">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.UbudIndonesianTeacher.com" rel="nofollow">Nancie Baxter</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/06/how-long-does-it-take-to-learn-a-foreign-language#comment-4470">Sunday, April 14, 2013 - 22:32</a></span>
</div>
</div>
</div>
