---
permalink: /blog/2011/06/linguatrek-got-12th-place-among-language-learner-blogs-2011/
layout: blog-old
title: 'LinguaTrek got 12th place among the top Language Learner Blogs of 2011!'
day: 2
month: cze
year: 2011
category: LinguaTrek
tags: 
  - 'Top 100 Language Lovers'
language: pl
translation: /blog/2011/06/linguatrek-got-12th-place-among-the-top-language-learner-blogs-of-2011/
---
<div class="content">
<a alt="Top 25 Language Learning Blogs 2011" href="http://bab.la/news/top-25-language-learning-blogs-2011" target="_blank"><img align="right" alt="Top 25 Language Learning Blogs 2011" border="0" height="60" src="http://bab.la/img/partner/top25-learn-blog11.gif" style="margin: 5px" width="160"/></a>
<p>Every year <a href="http://www.lexiophiles.com/">Lexiophiles</a> and <a href="http://bab.la/">bab.la</a> organize a contest recognizing language blogs.  This year, LinguaTrek was <a href="http://www.linguatrek.com/blog/2011/05/vote-for-linguatrek-top-100-language-blogs">in the competition</a>!</p>
<p>There were 200 blogs in LinguaTrek's category (<a href="http://www.lexiophiles.com/language-lovers-toplist/time-to-vote-for-your-favorite-language-learning-blog-2011">language learner blogs</a>) and 400 in total.  <strong>In it's category LanguaTrek got <a href="http://en.bab.la/news/top-25-language-learning-blogs-2011">12th place</a> and <a href="http://en.bab.la/news/top-100-language-lovers-2011">23rd place</a> overall!</strong></p>
<p>I'm so absolutely thrilled that LinguaTrek did so well!  I can't believe my blog is up there with so many fantastic blogs that I admire.</p>
<p>Half of the score comes from votes from readers and the other half is the organizers' rating.  After I recorded a <a href="http://www.linguatrek.com/blog/2011/05/zag%C5%82osuj-na-linguatrek-100-najlepszych-blog%C3%B3w-na-temat-nauki-j%C4%99zyk%C3%B3w">video about it</a> and the users of Wykop <a href="http://www.wykop.pl/ramka/749007/wykop-efekt-dla-blogu-davida-snopka/">got involved</a>, <strong>LinguaTrek had the most votes</strong> for the rest of contest!</p>
<p><strong>Thank you everyone for voting and your support!</strong></p>
</div>

<div id="comments">
<a id="comment-387"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://blog.edulang.com" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/be920e56e78e29c05bb4ceda65572e71?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Congrats David !  A handsome reward for the time you've put in here.  </p>
<p>Cheers, Brad</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/73/387">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://blog.edulang.com" rel="nofollow">Brad Patterson</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/06/linguatrek-got-12th-place-among-language-learner-blogs-2011#comment-387">czwartek, czerwiec 2, 2011 - 11:17</a></span>
</div>
</div>
<div class="indented"><a id="comment-388"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Brad!</p>
<p>Thanks!  I just subscribed to your blog.  I haven't had a chance to read much on it yet, but it looks very interesting.</p>
<p>Your Android app (or maybe just your company's app?  I don't know your involvement there) looks really awesome!  I love the use of the camera and OCR to make a sort of "augmented reality" dictionary lookup.</p>
<p>Stay in touch!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/73/388">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/06/linguatrek-got-12th-place-among-language-learner-blogs-2011#comment-388">czwartek, czerwiec 2, 2011 - 11:25</a></span>
</div>
</div>
</div><a id="comment-389"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://blog.edulang.com" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/be920e56e78e29c05bb4ceda65572e71?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Cheers :)</p>
<p>SnaPanda is an Edualang app, and I'm excited to be doing the "get to know the panda" behind-the-scenes work.  Thanks for subscribing to the blog.  It's great to have fellow language lovers exchanging there, here and really everywhere !</p>
<p>Best, Brad</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/73/389">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://blog.edulang.com" rel="nofollow">Brad Patterson</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/06/linguatrek-got-12th-place-among-language-learner-blogs-2011#comment-389">czwartek, czerwiec 2, 2011 - 11:28</a></span>
</div>
</div>
<a id="comment-390"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://onaucejezykow.blogspot.com/" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/2f47b5764794b15dd07bff21486e94b1?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Congratulations! Keep up the good work! :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/73/390">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://onaucejezykow.blogspot.com/" rel="nofollow">Ev</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/06/linguatrek-got-12th-place-among-language-learner-blogs-2011#comment-390">czwartek, czerwiec 2, 2011 - 14:10</a></span>
</div>
</div>
<div class="indented"><a id="comment-394"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Thanks!  I just subscribed to your blog. :-)  So, far I've only read your most recent article about "shadowing" -- I've been thinking about trying it so it immediately caught my eye -- but overall your blog looks very interesting!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/73/394">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/06/linguatrek-got-12th-place-among-language-learner-blogs-2011#comment-394">piątek, czerwiec 3, 2011 - 06:30</a></span>
</div>
</div>
<div class="indented"><a id="comment-397"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://onaucejezykow.blogspot.com/" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/2f47b5764794b15dd07bff21486e94b1?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Hi, :)<br/>
shadowing is a great learning technique :)I love it :)<br/>
The main point is to repeat while listening. It is important to start repeating (shadowing) the audio as soon as it starts instead of waiting for the pauses between recordings. After few times of listening to the same record your voice should be covering the one from the audio. In this manner you get the perfect pronunciation. It really is worth trying :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/73/397">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://onaucejezykow.blogspot.com/" rel="nofollow">Ev</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/06/linguatrek-got-12th-place-among-language-learner-blogs-2011#comment-397">piątek, czerwiec 3, 2011 - 07:51</a></span>
</div>
</div>
</div></div><a id="comment-393"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.phrasemix.com" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/38acf8b09c6718a9d484f38d96090e73?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Congratulations David. I found your site through the contest, and I'll definitely be checking in from time to time.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/73/393">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.phrasemix.com" rel="nofollow">Aaron Knight</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/06/linguatrek-got-12th-place-among-language-learner-blogs-2011#comment-393">czwartek, czerwiec 2, 2011 - 21:53</a></span>
</div>
</div>
<div class="indented"><a id="comment-395"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Thanks, Aaron!</p>
<p>Your blog looks really, really visually appealing, especially that you have an illustration for every phrase you introduce.  Do you have an artistic/design background?  I come from a software development background so everything I make is pretty much embarrassingly ugly. ;-)</p>
<p>Anyway, I love the idea of covering a single phrase in each article.  There really is a lot to say about even one sentence!  I've just subscribed. :-)</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/73/395">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/06/linguatrek-got-12th-place-among-language-learner-blogs-2011#comment-395">piątek, czerwiec 3, 2011 - 06:39</a></span>
</div>
</div>
</div><a id="comment-1919"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/05/vote-for-linguatrek-top-100-language-lovers" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>[...] But the votes only count for 50% of the overall score - the other half is the opinion of the contest organizers. A year ago, LinguaTrek was still pretty young, so it's completely understandable that we only got 12th place. [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/73/1919">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/05/vote-for-linguatrek-top-100-language-lovers" rel="nofollow">Vote for LinguaTrek: Top 100 Language Lovers! | LinguaTrek</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/06/linguatrek-got-12th-place-among-language-learner-blogs-2011#comment-1919">środa, maj 16, 2012 - 16:48</a></span>
</div>
</div>
<a id="comment-1920"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/05/zag%C5%82osuj-za-linguatrek-w-konkursie-top-100-language-lovers" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>[...] Ale ogólna ocena tylko w 50% składa się z ilości głosów - druga połowa to zadanie organizatorzy konkursu. Rok temu LinguaTrek nadal był dość młody, więc to całkiem zrozumiałe, że tylko zdobył 12 miejsce. [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/73/1920">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/05/zag%C5%82osuj-za-linguatrek-w-konkursie-top-100-language-lovers" rel="nofollow">Zagłosuj za LinguaTrek w konkursie Top 100 Language Lovers! </a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/06/linguatrek-got-12th-place-among-language-learner-blogs-2011#comment-1920">środa, maj 16, 2012 - 16:48</a></span>
</div>
</div>
<a id="comment-2104"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/05/linguatrek-got-7th-place-among-the-top-language-learner-blogs-of-2012" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>[...] For the past five years Lexiophiles and bab.la have organized an annual contest recognizing language blogs. Last year was the first year LinguaTrek participated and we managed to get the most votes (thanks to Wykop!) and 12th place! [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/73/2104">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/05/linguatrek-got-7th-place-among-the-top-language-learner-blogs-of-2012" rel="nofollow">LinguaTrek got 7th place among the top Language Learner Blog</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/06/linguatrek-got-12th-place-among-language-learner-blogs-2011#comment-2104">czwartek, maj 31, 2012 - 08:28</a></span>
</div>
</div>
<a id="comment-2106"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/05/linguatrek-zaj%C4%85%C5%82-7-miejsce-w%C5%9Br%C3%B3d-najlepszych-blog%C3%B3w-o-nauce-j%C4%99zyk%C3%B3w-2012" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>[...] Od pięciu lat Lexiophiles i bab.la organizują coroczny konkurs wyróżniający blogi o nauce języków obcych. W zeszłym roku LinguaTrek uczestniczył w konkursie pierwszym razem i udało nam się dostać najwięcej głosów (dzięki Wykopowi!) i zająć 12 miejsce! [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/73/2106">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/05/linguatrek-zaj%C4%85%C5%82-7-miejsce-w%C5%9Br%C3%B3d-najlepszych-blog%C3%B3w-o-nauce-j%C4%99zyk%C3%B3w-2012" rel="nofollow">LinguaTrek zajął 7 miejsce wśród najlepszych blogów o nauce </a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/06/linguatrek-got-12th-place-among-language-learner-blogs-2011#comment-2106">czwartek, maj 31, 2012 - 08:29</a></span>
</div>
</div>
<div class="box">
<h2>Dodaj nową odpowiedź</h2>
<div class="content"><form accept-charset="UTF-8" action="/comment/reply/73" id="comment-form" method="post">
<div><div class="form-item" id="edit-name-wrapper">
<label for="edit-name">Nazwisko lub pseudonim: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-name" maxlength="60" name="name" size="30" type="text" value="Anonymous"/>
</div>
<div class="form-item" id="edit-mail-wrapper">
<label for="edit-mail">E-mail: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-mail" maxlength="64" name="mail" size="30" type="text" value=""/>
<div class="description">Zawartość pola nie będzie udostępniana publicznie. If you have a <a href="http://www.gravatar.com">Gravatar</a> account, used to display your avatar.</div>
</div>
<div class="form-item" id="edit-homepage-wrapper">
<label for="edit-homepage">Strona domowa: </label>
<input class="form-text" id="edit-homepage" maxlength="255" name="homepage" size="30" type="text" value=""/>
</div>
<div class="form-item" id="edit-comment-wrapper">
<label for="edit-comment">Odpowiedź: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<textarea class="form-textarea resizable required" cols="60" id="edit-comment" name="comment" rows="15"></textarea>
</div>
<ul class="tips"><li>Adresy internetowe są automatycznie zamieniane w odnośniki, które można kliknąć.</li><li>Dozwolone znaczniki HTML: &lt;a&gt; &lt;em&gt; &lt;strong&gt; &lt;cite&gt; &lt;code&gt; &lt;ul&gt; &lt;ol&gt; &lt;li&gt; &lt;dl&gt; &lt;dt&gt; &lt;dd&gt; &lt;blockquote&gt;</li><li>Znaki końca linii i akapitu dodawane są automatycznie.</li></ul><input id="form-3c262601b0b7b7103bc3ca3a0612214a" name="form_build_id" type="hidden" value="form-3c262601b0b7b7103bc3ca3a0612214a"/>
<input id="edit-comment-form" name="form_id" type="hidden" value="comment_form"/>
<div class="clear-block"><div class="form-item" id="edit-notify-wrapper">
<label class="option" for="edit-notify"><input checked="checked" class="form-checkbox" id="edit-notify" name="notify" type="checkbox" value="1"/> Notify me when new comments are posted</label>
</div>
<div class="form-radios"><div class="form-item" id="edit-notify-type-1-wrapper">
<label class="option" for="edit-notify-type-1"><input class="form-radio" id="edit-notify-type-1" name="notify_type" type="radio" value="1"/> All comments</label>
</div>
<div class="form-item" id="edit-notify-type-2-wrapper">
<label class="option" for="edit-notify-type-2"><input checked="checked" class="form-radio" id="edit-notify-type-2" name="notify_type" type="radio" value="2"/> Replies to my comment</label>
</div>
</div></div><input class="mollom-content-id" id="edit-mollom-contentId" name="mollom[contentId]" type="hidden" value=""/>
<input class="mollom-captcha-id" id="edit-mollom-captchaId" name="mollom[captchaId]" type="hidden" value=""/>
<div style="display: none;"><div class="form-item" id="edit-mollom-homepage-wrapper">
<input autocomplete="off" class="form-text" id="edit-mollom-homepage" maxlength="128" name="mollom[homepage]" size="60" type="text" value=""/>
</div>
</div><div class="description mollom-privacy">By submitting this form, you accept the <a class="mollom-target" href="//mollom.com/web-service-privacy-policy" rel="nofollow">Mollom privacy policy</a>.</div><input class="form-submit" id="edit-preview" name="op" type="submit" value="Podgląd"/>
</div></form>
</div>
</div>
</div>
