---
permalink: /blog/2011/06/review-polish-through-legends/
layout: blog-old
title: 'Review: Polish Through Legends'
day: 28
month: Jun
year: 2011
category: learn Polish
tags: 
  - 'review'
language: en
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/06/polishthroughlegends.png" rel="lightbox"><img alt="Cover of Polish Through Legends" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/06/polishthroughlegends.png" title=""/></a></div>
<p><em>This is the fourth installment in a <a href="http://www.linguatrek.com/taxonomy/term/7,1">series</a> of reviews of products for learning Polish.</em></p>
<p>Not long ago, <a href="http://www.linguatrek.com/blog/2011/05/real-polish-excellent-polish-content-for-learners">I reviewed the free content</a> on Real Polish.  Today, I'm going to review one of the <strike>paid</strike> free courses (<em>Ed: this course is now free!</em>) by the same author: <a href="http://realpolish.wordpress.com/learn_polish_store/polish-through-legends-simple-stories-for-beginners/">Polish Through Legends</a>.</p>
<p><strong>Read more for the full review!</strong></p>
<h2><a name="overview">Overview of the course</a></h2>
<p><strong><a href="http://realpolish.wordpress.com/learn_polish_store/polish-through-legends-simple-stories-for-beginners/">Polish Through Legends</a></strong> is primarily an audio course, aimed at beginner and elementary learners.  It consists of three, 20 to 30 minute lessons in mp3 format (70 minutes total).  Each lesson is made up of two stories: a classic Polish legend and a modern story, both containing most of the same vocabulary.</p>
<p>First, you hear the legend, told at a slow speed along with music and sound effects.  Then you hear the same legend told at a natural speed (and without the effects).  Afterward, you hear a series of questions and their answers.  The narrator suggests that you try to answer the questions out loud.</p>
<p>In the second part, you hear the modern story in the same format: first slowly, then at a natural pace and finally, the question and answer portion.</p>
<p>Each lesson also comes with two PDFs containing:</p>
<ul>
<li>The full text of both stories,</li>
<li>A glossary of all the vocabulary (including the English translations), and</li>
<li>All of the questions and their corresponding answers.</li>
</ul>
<p><strike>The entire course costs $9.95 - or 27.50 PLN if you're lucky enough to be living in Poland! ;-)  You can also buy each lesson individually for $3.99 each.</strike> (<em>Ed: This course is now free!</em>)</p>
<h2><a name="impressions">My impressions</a></h2>
<p>First of all, <strong>the stories are great!</strong>  They are told in an entertaining way that is simply fun to listen to.  They include many Polish classics, such as the legend of the <a href="http://en.wikipedia.org/wiki/Wawel_Dragon">Wawel Dragon</a> and <a href="http://en.wikipedia.org/wiki/Hejna%C5%82_mariacki">Cracow's Heynal</a>, two tales well-known to all Poles, but <em>especially</em> cherished by residents of Cracow (where <a href="http://www.youtube.com/watch?v=k8pwVfGIlVs">we lived</a> when we were in Poland).</p>
<p>Second of all, <strong>ALL of the audio is in Polish!</strong>  Plus, it's a decent amount of audio for a beginning student (70 minutes total), which is pretty dense with content.</p>
<p>One of the main problems with Polish courses is that they contain <em>too</em> much English or are simply <em>very short</em>.  (See <a href="http://www.linguatrek.com/blog/2011/05/review-polishpod101-com">my review of PolishPod101</a> for an example!)  This is <strong>NOT</strong> a problem with Polish Through Legends!</p>
<p>Lastly, <strong>the language used is simple enough for beginners and told at a slow enough pace.</strong>  Usually, audio for beginners is just single words, while audio that contains interesting stories or dialogues is told too fast and often contains vocabulary that may be too advanced for beginners.  It is <em>really hard</em> to find this type of content geared toward beginners.</p>
<p>In my opinion, this is a great course for beginners!  Plus, it's reasonably priced compared to other beginner courses like Pimsleur, which costs up to $270! (See <a href="http://www.linguatrek.com/blog/2010/11/review-pimsleur-quick-simple-polish">my review</a> for more information.)</p>
<h2><a name="wife">What do you know, you're not a beginner!</a></h2>
<p>It's been a long time since I was a beginner-level Polish learner.  So, <strong>I asked my wife -- <em>a real elementary student of Polish!</em> -- to help with this review.</strong> :-)</p>
<p>She's been working on the first lesson for about two weeks.  It's unfortunate that she's only been using the product for such a short period of time, but I think her first impressions are still quite useful.  I'll post another article with her thoughts on the product after she's finished using it.</p>
<h3>Interview with my wife</h3>
<blockquote>
<p><strong>How are you using the lesson?</strong></p>
<p>First, I listened to the recording and followed along with the text. Every day after that, I listened to the story and questions (answering each in my head) on my mp3 player without the text. Then I would read through the story, looking up each word I didn't know on the glossary list, which was a very pleasant and smooth experience.</p>
<p>I made flash cards of problem words on my nifty little keychain pack of cards, so that whenever I was waiting for the bus, or in between calls at my job, I could study them without hassle. I went through the flashcards, listened to and read the text every day, grasping more and more of the words and phrases and using the glossary less and less until I got it!</p>
<p>I can't say enough about the convenience of the glossary list.  To have just the words you need for a piece of text is wonderful.  You don't have to flip through cards or a dictionary, which keeps my interest.</p>
<p>I studied the list by covering up one side and going through it, just scanning it, and also by jumping around out of order so that I'm not memorizing the words in alphabetical order.</p>
<p>Another great thing about the glossary list is that, while studying one word, it might make you think of another word on the list - maybe the spelling or the meaning - and I found it was my subconscious saying, "Make sure you differentiate this word from this other word," so I would study them together for a minute.</p>
<p>The glossary gives you the speed your brain needs to keep from getting frustrated and bored, combined with the beauty of a workable short list of words in context of a simple story.  Perfection!</p>
<p><strong>What do think? Is it helping you learn?</strong></p>
<p>I love it!</p>
<p>Hearing quick Polish (although it's a beautiful language) can be quite intimidating and is probably one of the main reasons why people don't attempt to learn it, I'm guessing.</p>
<p>The grammar charts out there are also scary, but this way you learn grammar passively, and it seems more natural.  It was a nice, slow pace so the intimidation factor was low enough that I could just relax and learn. </p>
<p>One small suggestion: it would be nice to have more of the idioms on the glossary list. (<em>Ed: she's referring to "palić kogoś w garło" and "wpaść na pomysł" which aren't included in the glossary for the first story.  Luckily she had me to explain them to her!</em>)</p>
<p>Also, it has good music, sound effects and voice acting!! :)</p>
<p><strong>Will you keep using it?  Would you recommend it to other beginners?</strong></p>
<p>I plan on it! And yes I would recommend it to beginners of all ages. I plan on learning them all and reading them to my future children. :-)</p>
<p>The story I read has strong visual aspects and makes you use your imagination, which reinforces the words and phrases.  Also, it is written in a clear, simple way, without being boring!</p>
<p>As I mentioned above, you have the freedom to choose your own pace.  And learning through Polish legends is a fun way to get anyone into the culture, which only makes you want to learn the language more!</p>
</blockquote>
<p><strong>Have you tried Real Polish's <em>Polish Through Legends</em>?  What did you think?  Leave a comment below!</strong></p>
</div>

<div id="comments">
<a id="comment-505"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/ffa3c1e5a96eea844609d56bcedb50a4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi David,</p>
<p>I'm beginner and I'm from Poland. I started learn english language quite recently, but I try speak and write in english more and more. I've one question for you. Do you know any legends of Milwaukee or yours region ? I know, my English is not good, but I think that you'll understand me.</p>
<p>P.S. Czy mógłbyś pokazać mi błędy jakie popełniłem w tekście ? Będę bardzo wdzięczny</p>
<p>Regards,</p>
<p>Krystian</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/78/505">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Krystian (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/06/review-polish-through-legends#comment-505">Tuesday, June 28, 2011 - 16:22</a></span>
</div>
</div>
<div class="indented"><a id="comment-506"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Krystian!</p>
<p>Thank you for your comment. :-)  Your English was good!  You only made three very small mistakes:</p>
<ul>
<li>"I started learn English" -&gt; "I started learn<strong>ing</strong> English"</li>
<li>"I try speak and write" -&gt; "I try <strong>to</strong> speak and write"</li>
<li>"yours region" -&gt; "your region" (without "s")</li>
</ul>
<p>Unfortunately, I can't think of any legends of Milwaukee or my nearest region.  The only legend I can think of, is that of <a href="http://en.wikipedia.org/wiki/Paul_Bunyan">Paul Bunyan</a>.  It's probably actually many legends: the legend of his birth, the legend of how he created the Grand Canyon, the legend of how he create the 10,000 lakes in Minnesota, etc.</p>
<p><a href="http://folkloreandmyth.netfirms.com/talltales.html#The%20Story%20of%20Paul%20Bunyan">Here is one story</a> which combines a few of the legends.  There are some other interesting legends on that page too.</p>
<p>Hope that helps!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/78/506">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/06/review-polish-through-legends#comment-506">Wednesday, June 29, 2011 - 06:36</a></span>
</div>
</div>
</div><a id="comment-507"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://mandarinfromscratch.com/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/199f7d2420ce37a57d68eef6e6fc643d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hi David</p>
<p>Thank you for this content recommendation, when I tackle Polish I will definitely be referring back to it:)</p>
<p>I concur wholeheartedly with you about the -Pod101 series, the beginner material has way too much English and the more advanced material is typically too complicated/fast for Intermediate learners, so you're left with this massive Upper Elementary/(Lower) Intermediate gap that, as you said, it's very difficult to find content for.</p>
<p>That's the reason why I just shelled out the cash for unlimited access to the Lesson Notes on CSLPod.com - because the Intermediate (and the first 50 or so Upper Intermediate) level podcasts are about 10 minutes long each, conducted at a speed that's easy to keep up with, and entirely in Mandarin. They always start out with a dialog or story at reduced speed, and then they explain lesson content IN MANDARIN with lots of easily comprehensible examples, after which the dialog/story is repeated at normal speed.</p>
<p>By the way, I was reading an article on l2mastery.com this morning and I ran into this site and wondered if you had ever heard of it:</p>
<p><a href="http://angielski.gregloby.net/czego-nie-robic-zeby-nauczyc-sie-jezyka-angielskiego/" title="http://angielski.gregloby.net/czego-nie-robic-zeby-nauczyc-sie-jezyka-angielskiego/">http://angielski.gregloby.net/czego-nie-robic-zeby-nauczyc-sie-jezyka-an...</a></p>
<p>Regards<br/>
David</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/78/507">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://mandarinfromscratch.com/" rel="nofollow">David Martin</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/06/review-polish-through-legends#comment-507">Wednesday, June 29, 2011 - 17:24</a></span>
</div>
</div>
<div class="indented"><a id="comment-508"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi David!</p>
<p>Thanks for the Mandarin recommendation (CSLPod.com)!</p>
<p>I do know that site (angielski.gregloby.net).  Grzegorz is a friend -- we meet weekly over Skype for language exchange.  Actually, he's learning Mandarin right now!  I'll forward him your comment about CSLPod.</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/78/508">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/06/review-polish-through-legends#comment-508">Thursday, June 30, 2011 - 07:58</a></span>
</div>
</div>
</div><a id="comment-510"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://realpolish.wordpress.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9cd173db3c34291605fc39d2da3e19b2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hi Everyone!<br/>
Thank you David for your review of my Polish Through Legends Course.<br/>
Today I woke up early in the morning and I decided to give my Polish Through Legends for FREE for everyone who wants to learn Polish! :)<br/>
So I encourage everyone to go to my blog and download it. Please enjoy learning Polish and have fun!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/78/510">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://realpolish.wordpress.com" rel="nofollow">Peter from Learn Real Polish</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/06/review-polish-through-legends#comment-510">Saturday, July 2, 2011 - 07:20</a></span>
</div>
</div>
<div class="indented"><a id="comment-655"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks, Piotr!  I just updated the article to reflect that your course is now free.</p>
<p>Sorry for taking so long!  I was busy and I meant to ask you if it was permanently free or just temporarily.  It looks like it's permanent now that I see you've released your <a href="http://realpolish.wordpress.com/learn_polish_store/polish-through-legends-ii/">Learn Polish Through Legends II</a> course.</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/78/655">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/06/review-polish-through-legends#comment-655">Wednesday, July 27, 2011 - 08:04</a></span>
</div>
</div>
<div class="indented"><a id="comment-661"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://realpolish.wordpress.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9cd173db3c34291605fc39d2da3e19b2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Thanks David,<br/>
I made up my mind to give that course permanently for free for everyone who are keen on learning Polish! Small donations are highly appreciated :)<br/>
I released Learn Polish Through Legends II - Warsaw Legends that is slightly different then previous but I guess it's even better. There is long explanation section in it, so it is pretty useful for improve Polish comprehension.</p>
<p>It's avaliable for only $5 for subscribers of my Newsletter. I offer 30 Days Money Back Guarantee, so I encourage everyone to try Warsaw Legends (1h 50min mp3 + txt)</p>
<p>Cheers,<br/>
Piotr</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/78/661">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://realpolish.wordpress.com" rel="nofollow">Piotr</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/06/review-polish-through-legends#comment-661">Wednesday, July 27, 2011 - 12:49</a></span>
</div>
</div>
<div class="indented"><a id="comment-777"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.idea.ruslan.com.mx/index.php?p=1_5_Roddy" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/864e1e51d5cb825e1c7352f6bcb971a8?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hi Peter, Hi David,</p>
<p>It´s really interesting all your comments.<br/>
Peter, I would like to know if you would accept some specific recommendations of your course. I have been studying throug it, and in my opinion it´s a very good course, even this. If I can contribute I would like to send you a pair of reccomendations that I consider could  help to improve your method.</p>
<p>Best regards,<br/>
Rodolfo</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/78/777">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.idea.ruslan.com.mx/index.php?p=1_5_Roddy" rel="nofollow">Rodolfo</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/06/review-polish-through-legends#comment-777">Monday, September 12, 2011 - 13:02</a></span>
</div>
</div>
<div class="indented"><a id="comment-847"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://realpolish.wordpress.com/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9cd173db3c34291605fc39d2da3e19b2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hi Rodolfo,hi David!</p>
<p>Rodolfo, I really apreciate your help, of course I'm waiting for your reccomendations. Please let me know what could I improve. Many thanks for your interesting in my course!</p>
<p>Pozdrawiam serdecznie,<br/>
Piotr</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/78/847">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://realpolish.wordpress.com/" rel="nofollow">Piotr</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/06/review-polish-through-legends#comment-847">Tuesday, September 13, 2011 - 00:23</a></span>
</div>
</div>
</div></div></div></div><a id="comment-3930"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2013/02/how-to-get-started-learning-polish-from-zero" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] for learners of all levels. He also has some paid products. I haven't tried them all, but the one I did was very [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/78/3930">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2013/02/how-to-get-started-learning-polish-from-zero" rel="nofollow">How to get started learning Polish (from zero!) | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/06/review-polish-through-legends#comment-3930">Tuesday, February 12, 2013 - 10:08</a></span>
</div>
</div>
<a id="comment-5020"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/814d31bb309b9ae3f46417627982075c?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi everyone! Is the product no longer available for free? When I access the link on the article, it says that Polish Through Legends v. 1+2+3 costs 19 euro.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/78/5020">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Luis (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/06/review-polish-through-legends#comment-5020">Sunday, July 28, 2013 - 16:59</a></span>
</div>
</div>
<div class="indented"><a id="comment-5025"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hrm, it looks like Piotr might have changed it again. I can't seem to find a link to a free version anymore...</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/78/5025">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/06/review-polish-through-legends#comment-5025">Monday, July 29, 2013 - 11:04</a></span>
</div>
</div>
</div><a id="comment-5598"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c7243d8c91fa6019ac7a205b9c0301c6?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi </p>
<p>I am looking for someone who are interested in language exchange. I have studied english for six months. I do not have wide range of vocabulery and I am not able to speak fluently as well. If you are interested in my announcement send me a message. </p>
<p>ps. David jeżeli mój wpis jest niezgodny z regulaminem to z góry przepraszam, ale dotychczasowe poszukiwania osób na popularnych portalach nie przyniosły niestety oczekiwanych efektów i tym samym postanowiłem zamieścić tego rodzaju "ogłoszenie"  na twoim blogu.</p>
<p>Pozdrawiam<br/>
Arek</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/78/5598">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Arek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/06/review-polish-through-legends#comment-5598">Thursday, December 19, 2013 - 07:41</a></span>
</div>
</div>
<div class="indented"><a id="comment-5602"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Arek,</p>
<p>To całkiem w porządku. :-) Mam nadzieję, że uda Ci się kogoś znaleźć!</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/78/5602">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/06/review-polish-through-legends#comment-5602">Friday, December 20, 2013 - 07:01</a></span>
</div>
</div>
</div>
</div>
