---
permalink: /blog/2011/06/use-lang-8-to-practice-writing/
layout: blog-old
title: 'Use Lang-8 to practice writing!'
day: 21
month: Jun
year: 2011
category: language learning
tags: 
  - 'review'
language: en
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/06/lang-8-frontpage.png" rel="lightbox"><img alt="Lang-8 front page" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/06/lang-8-frontpage.png" title=""/></a></div>
<p>Writing is a skill that's frequently neglected when learning a language.  People tend to focus more on reading, listening and speaking.</p>
<p>Writing is a skill that <em>should</em> be very easy to practice over the internet, but <strong>what if you don't know any native speakers?  Or what if the two native speakers you do know are tired of constantly correcting your writing?</strong> ;-)</p>
<p>In this article, I'm going to review <a href="http://lang-8.com/">Lang-8</a>: a <em>free</em> website where you can have your writing corrected by native speakers!</p>
<p><strong>Read more to find out about this wonderful service!</strong></p>
<h2><a name="getting-corrections">Getting corrections</a></h2>
<p>Posting the text you would like to have corrected is very easy!  It works a lot like standard blogging software, such as <em>Blogger</em> or <em>WordPress</em>.</p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/06/lang-8-1.png" rel="lightbox"><img alt="Screenshot of Lang-8" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/06/lang-8-1.png" title="The corrections on one of my texts.  Click for a larger image!"/></a><div class="caption">The corrections on one of my texts.  Click for a larger image!</div></div>
<p>You might be asking, <strong>What should I write about?</strong> Well, you can write about <strong><em>Anything!</em></strong>  You can write about the weather, a movie you just watched, an interesting moment in history or what you did today!  I've seen people write about all of these topics and more!</p>
<p><a href="http://lang-8.com/10069">I've been using Lang-8</a> to get corrections for the transcripts of my videos in Polish.  In this way, Lang-8 can help you learn to speak correctly too!</p>
<p>You'll receive an email notification when someone corrects your text.  I usually get corrections for my Polish texts in a matter of hours!</p>
<h2><a name="correcting">Correcting other people's writing</a></h2>
<p>It's also fairly easy to correct other people's writing.</p>
<p>You get a sentence-by-sentence display of the text, which also shows the other corrections already posted.  You simply click on the "Correct" link and start making changes!</p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/06/lang-8-2.png" rel="lightbox"><img alt="Screenshot of Lang-8" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/06/lang-8-2.png" title="The screen where you make corrections.  Click for a larger image!"/></a><div class="caption">The screen where you make corrections.  Click for a larger image!</div></div>
<p><strong>One element that could be improved upon: you have to format your corrections manually.</strong>  My suggestion: crossing out incorrect words and phrases and coloring your text additions in blue.  However, it would be nice if you could just make your changes, then the program would automatically format the altered text.</p>
<p>But it's not too bad once you decide how you would like your changes to appear and then get into a rhythm!</p>
<p>Going sentence by sentence is nice because it means that <strong>multiple people can correct different parts of the same text</strong>.  So, if the text is really long and you only have a few minutes, just correct the first part and let someone else correct the next part!</p>
<p><strong>Have you tried Lang-8?  What was your experience?  Do you have any other suggestions for practicing writing?  Please leave a comment!</strong></p>
</div>

<div id="comments">
<a id="comment-459"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/23aa1d5cf3b4ca358658c9e6397298f6?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Another great website for practising your language skills:<br/>
<a href="http://www.lyricstraining.com/index.php" title="http://www.lyricstraining.com/index.php">http://www.lyricstraining.com/index.php</a><br/>
Unfortunately there aren't any polish songs, but people who learns English, Spanish or another popular language should be satisfied :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/77/459">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Daniel (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/06/use-lang-8-to-practice-writing#comment-459">Tuesday, June 21, 2011 - 14:50</a></span>
</div>
</div>
<div class="indented"><a id="comment-461"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Daniel!</p>
<p>That is a really cool service!  I've made such exercises for students before.  Having them automatic and for such a large collection of songs is pretty awesome.  Thanks for the link!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/77/461">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/06/use-lang-8-to-practice-writing#comment-461">Wednesday, June 22, 2011 - 06:21</a></span>
</div>
</div>
</div><a id="comment-462"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.t-english.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41ec287c0234732eaa7c7010a92ca43?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>I used Lang-8 one time, doing an article in English for my Russian blog <a href="http://www.t-english.ru/index.php?option=com_content&amp;view=article&amp;id=83" title="http://www.t-english.ru/index.php?option=com_content&amp;view=article&amp;id=83">http://www.t-english.ru/index.php?option=com_content&amp;view=article&amp;id=83</a><br/>
When my well-english-speaking friend had read it he was exited about the amasing level of my English :)<br/>
So I liked it :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/77/462">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.t-english.com" rel="nofollow">Taras</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/06/use-lang-8-to-practice-writing#comment-462">Wednesday, June 22, 2011 - 12:45</a></span>
</div>
</div>
<div class="indented"><a id="comment-463"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Ah, so you used Lang-8 to correct your article before posting it on your blog?  That's a very smart idea! :-)</p>
<p>BTW, your blog looks very interesting!  That's cool that you got to meet with Steve Kaufmann when he was in Moscow. :-)  I've subscribed and look forward to reading more articles.</p>
<p>Всего хорошего! :-)<br/>
Дэвид (David)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/77/463">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/06/use-lang-8-to-practice-writing#comment-463">Wednesday, June 22, 2011 - 13:29</a></span>
</div>
</div>
<div class="indented"><a id="comment-464"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.t-english.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41ec287c0234732eaa7c7010a92ca43?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>That's right, David. It was only the article in English and I decided to ask Lang-8 to help me :). Actually I am not so active at my blogging, but anyway, thanks for encouragement.<br/>
Yes, I was glad to see Steve Kaufmann in Moscow although I was a little nervous at first. Finally our meetigs were great, Steve was very friendly and interesting person to talk.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/77/464">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.t-english.com" rel="nofollow">Taras</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/06/use-lang-8-to-practice-writing#comment-464">Wednesday, June 22, 2011 - 14:10</a></span>
</div>
</div>
<div class="indented"><a id="comment-465"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Well, now you have to blog more so that I can practice reading in Russian more!  Just kidding. ;-)</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/77/465">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/06/use-lang-8-to-practice-writing#comment-465">Wednesday, June 22, 2011 - 14:12</a></span>
</div>
</div>
</div></div></div><a id="comment-677"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2011/08/heinrich-schliemann-a-famous-polyglot%E2%80%99s-method" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] can get your writing corrected by native speakers using Lang-8. Reading aloud and repeating after the clergyman at mass sounds a lot like shadowing. Memorization [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/77/677">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2011/08/heinrich-schliemann-a-famous-polyglot%E2%80%99s-method" rel="nofollow">Heinrich Schliemann: a famous polyglot’s method | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/06/use-lang-8-to-practice-writing#comment-677">Tuesday, August 2, 2011 - 08:59</a></span>
</div>
</div>
<a id="comment-1161"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/5f713dfb7aac884e3f40bfd220579a04?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>One more note about 1st example of corections of text.<br/>
The corect form is:</p>
<p>"Bardzo trudno wyjaśnić tĘ sprawę" not: tĄ</p>
<p>People in Poland have a big problem with "tą" and "tę" and most of them make it wrong.</p>
<p>pamiętaj:<br/>
idę tą drogą (kto?co?)<br/>
ale<br/>
widzę tę drogę (kogo?co?)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/77/1161">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Ludviq (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/06/use-lang-8-to-practice-writing#comment-1161">Monday, January 2, 2012 - 16:58</a></span>
</div>
</div>
<a id="comment-1781"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/01/8-reasons-to-use-youtube-to-learn-a-language" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] giving me corrections since the beginning, but I ended up receiving so many that I've started using Lang-8 (a social language correction service) to collect [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/77/1781">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/01/8-reasons-to-use-youtube-to-learn-a-language" rel="nofollow">8 reasons to use YouTube to learn a language | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/06/use-lang-8-to-practice-writing#comment-1781">Wednesday, May 2, 2012 - 19:08</a></span>
</div>
</div>
<a id="comment-1794"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/01/language-learning-guide" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] How to practice writing over the internet [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/77/1794">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/01/language-learning-guide" rel="nofollow">Language learning guide? | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/06/use-lang-8-to-practice-writing#comment-1794">Wednesday, May 2, 2012 - 19:11</a></span>
</div>
</div>
<a id="comment-3272"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.facebook.com/maciej.raniszewski.5" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/01e5bca5ce2904227a9c34254842a0fd?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Wow. I have to try. Maybe I will post my CV :D. Or parts of my ebook.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/77/3272">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.facebook.com/maciej.raniszewski.5" rel="nofollow">Anonymous</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/06/use-lang-8-to-practice-writing#comment-3272">Tuesday, December 4, 2012 - 09:18</a></span>
</div>
</div>
<div class="indented"><a id="comment-3273"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Heh, using the ebook is a great idea! Why didn't I think of that? ;-) You can get some free proof reading.</p>
<p>Please let me know how it goes!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/77/3273">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/06/use-lang-8-to-practice-writing#comment-3273">Tuesday, December 4, 2012 - 09:41</a></span>
</div>
</div>
</div>
</div>
