---
permalink: /blog/2011/07/how-to-swear-like-a-pole-pierdolić-page-2/
layout: blog-old
title: 'How to swear like a Pole: pierd*lić'
day: 12
month: Jul
year: 2011
category: learn Polish
tags: 
  - 'profanity'
language: en
translation: /blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 122px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/07/profanity.jpg" rel="lightbox"><img alt="Symbols - to look like censored profanity - inside a 'no' or 'not allowed' sign" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/07/profanity.jpg" title="These words should be used by experts only!  Photo by stockicide on Flickr."/></a><div class="caption">These words should be used by experts only!  <a href="http://www.flickr.com/photos/55095508@N03/5137053864">Photo</a> by <a href="http://www.flickr.com/photos/55095508@N03/">stockicide</a> on Flickr.</div></div>
<p>For some reason, many people are fascinated with swear words in foreign languages.  Frequently, people I meet ask me how to say them in Polish.  I've only given in a few times and I've always regretted it later.</p>
<p>Imagine hearing someone yelling the k-word everytime they see you!  Or repeating it over and over endlessly at a party.</p>
<p>But <strong>swear words <em>are</em> a very interesting topic when looked at intellectually.</strong>  In English, it's amazing all the different meanings that the f-word can have!  Swear words are often some of the most versitile and colorful words in any language.</p>
<p><strong>Today's article is a guest post by <a href="http://www.youtube.com/user/skorway">skorway on YouTube</a> (who is a Pole) about all the different meanings and variations of the Polish swear word <em>pierd*lić</em>.</strong></p>
<p><em>Note: That's not really how the word is spelled, the asterisk is to censor it (just like typing "f**k" in English).  <strong>The full article is UNCENSORED</strong> and may not be appropriate for some readers!  You have been warned.</em></p>
<p><strong>Read more for the full article!</strong></p>
<h2>Pierdolić</h2>
<p>The word "pierdolić" can mean:</p>
<ol>
<li><strong>To have sex</strong> ("Pierdolili się oboje całymi dniami.")</li>
<li><strong>To talk off-topic; to not get to the point</strong> ("Nie pierdol! (= nie gadaj bzdur)")</li>
<li><strong>To ruin; to do something bad, clumsy</strong> ("Wszystko mi się pierdoli. (=wszystko idzie mi źle) albo (=wszystko mi się myli)")</li>
<li><strong>To ignore someone or something</strong> ("Pierdol go! (=olej go; nie przejmuj się nim)")</li>
</ol>
<p>Now, if we begin to add prefixes to the word "pierdolić", completely new meanings arise!</p>
<p>(<em>Ed: Polish uses <a href="http://i.imgur.com/jaYu1.jpg">prefixes</a> where English would make a compound verb with an adverb or preposition. In this case, "fuck up", "fuck over", "fuck around" would be good parallels.</em>)</p>
<p>(<em>Ed: From the advice of the commenters below, I added several "-pierdalać" words.  Practically all Polish verbs <a href="http://www.linguatrek.com/blog/2010/11/polish-grammar-overview-for-complete-beginners#verbs">come in pairs</a> (perfective and imperfective) and the "-pierdalać" ones are simply imperfective.</em>)</p>
<h3>Dopierdolić</h3>
<ol>
<li><strong>To beat someone brutally</strong> ("Widziałeś jego twarz? Ale mu dopierdolił!")</li>
<li><strong>To say nasty things about someone</strong> ("Słyszałaś co powiedziała Jolka? Nieźle Ci dopierdoliła tym tekstem.")</li>
<li>(<em>Ed: from the comments</em>) <strong>To make a really big mistake</strong> ("No to żeś dopierdolił, policja nie da nam spokoju.")</li>
<li>(<em>Ed: from the comments</em>) dopierdolić się - <strong>Same as <em>przypierdolić</em> sense #2</strong></li>
<li>(<em>Ed: from the comments</em>) dopierdolić się do kogoś - <strong>To seriously annoy someone</strong> ("Ale się do niego dopierdolił!")</li>
</ol>
<h3>Napierdalać</h3>
<ol>
<li>(<em>Ed: from the comments</em>) <strong>to hit; to knock; to bang</strong> ("Nie mogłem spać, bo ktoś całą noc napierdalał młotkiem w ścianę" lub "Ale deszcz dzisiaj napierdala")</li>
<li>(<em>Ed: from the comments</em>) <strong>to get into a fight</strong> ("Wczoraj napierdalałem się z zombie")</li>
<li>(<em>Ed: from the comments</em>) <strong>to hurt</strong> ("Ale mnie noga napierdala")</li>
<li>(<em>Ed: from the comments</em>) <strong>to play</strong> ("Ale to radio napierdala!")</li>
</ol>
<h3>Napierdolić</h3>
<ol>
<li>(<em>Ed: from the comments</em>) <strong>To put a large amount of something on  the table/plate</strong> ("Aleś tego napierdolił, chyba tego nie zjem")</li>
<li>Napierdolić (komuś) - <strong>To beat someone up, strongly</strong> ("Napierdolę mu za to co zrobił wczoraj mojemu bratu!")</li>
<li>Napierdolić się - <strong>To get drunk</strong> ("Na wczorajszej imprezie chłopaki się nieźle napierdolili.")</li>
</ol>
<h3>Opierdalać</h3>
<ol>
<li>(<em>Ed: from the comments</em>) opierdalać się - <strong>To spend time doing nothing instead of working</strong> ("Cały dzień się dzisiaj opierdalałem")</li>
</ol>
<h3>Opierdolić</h3>
<ol>
<li><strong>To yell at someone; to critcize someone</strong> ("Robota jeszcze nie skończona? Zaraz do niego zadzwonię i go opierdolę.")</li>
<li><strong>To eat</strong> ("Spóźniłem się tylko parę minut i Jacek z Andrzejem opierdolili ze stołu dosłownie wszystko; nic już dla mnie nie zostało.")</li>
<li><strong>To sell something</strong> ("Ten kradziony rower trzeba będzie gdzieś po cichu opierdolić i wziąć za niego trochę kasy.")</li>
<li>(<em>Ed: from the comments</em>) <strong>To rob someone's apartment/home</strong> ("Jacek i Wojtek opierdolili mieszkanie Tomka")</li>
<li>(<em>Ed: from the comments</em>) <strong>To give someone a haircut</strong> ("Widziałeś nową fryzurę Marka? Opierdolił się na łyso!")</li>
<li>(<em>Ed: from the comments</em>) opierdolić komuś fiuta - <strong>To perform fellatio</strong> ("Opierdoliła mu fiuta w kiblu.")</li>
</ol>
<h3>Odpierdolić</h3>
<ol>
<li><strong>To do something carelessly, negligently</strong> ("Wojtek odpierdolił całe wypracowanie z polskiego w 10 minut i jest już gotowy żeby wyjść na dwór.")</li>
<li><strong>To do something crazy or silly</strong> ("Jurek odpierdolił taki numer, że wszyscy pokładali się ze śmiechu.")</li>
<li>(<em>Ed: from the comments</em>) odpierdolić (komuś) <strong>To go crazy; to get upset</strong> ("Co on robi? Odpierdoliło mu.")</li>
<li>Odpierdolić się: a) <strong>To leave someone alone</strong> ("Odpierdol się ode mnie! (=zostaw mnie w spokoju)") b) <strong>To dress nicely</strong> ("Gdzie się tak odpierdoliłeś? Idziesz na randkę z Justyną?")</li>
</ol>
<h3>Popierdalać</h3>
<ol>
<li>(<em>Ed: from the comments</em>) <strong>To go very fast</strong> ("Patrz jak ten samolot popierdala!")</li>
</ol>
<h3>Popierdolić</h3>
<ol>
<li><strong>Perfective of "pierdolić"</strong> ("Masz ochotę się trochę popierdolić? (=uprawiać seks)" albo "Mam dość Twojego gadania; idź popierdolić komuś innemu!")</li>
<li>(<em>Ed: from the comments</em>) <strong>To go crazy; to do something ridiculous</strong> ("10 złotych za paczkę fajek? Chyba ich popierdoliło!")</li>
<li>(<em>Ed: from the comments</em>) <strong>To sell</strong> ("Popierdoliłem mu wczoraj ten stary telefon")</li>
<li>Coś się komuś popierdoliło - <strong>To be mistaken</strong> ("Co takiego?! Widziałeś mnie wczoraj w Krakowie?! Coś Ci się chyba popierdoliło.")</li>
</ol>
<h3>Porozpierdalać</h3>
<ol>
<li>(<em>Ed: from the comments</em>) <strong>To scatter (things) around</strong></li>
<li>(<em>Ed: from the comments</em>) <strong>To kill (people)</strong></li>
</ol>
<h3>Podpierdalać</h3>
<ol>
<li>(<em>Ed: from the comments</em>) podpierdalać się - <strong>To come on to someone; to hit on someone</strong></li>
</ol>
<h3>Podpierdolić</h3>
<ol>
<li><strong>To steal</strong> ("Myślę, że to on podpierdolił mi telefon.")</li>
<li><strong>To betray someone; to tell on someone</strong> ("Monika poszła do nauczycielki i podpierdoliła Aśkę.")</li>
</ol>
<h3>Przepierdolić</h3>
<ol>
<li><strong>To lose (<em>as in the opposite of "win"</em>)</strong> ("Po pierwszej minucie było wiadomo, że ten bokser przepierdoli walkę.")</li>
<li><strong>To lose something as the result of a failure</strong> ("Poszedł do kasyna i przepierdolił całą swoją wypłatę jednego wieczoru.")</li>
<li><strong>To cut into parts</strong> ("Przepierdol to na dwie równe części.")</li>
<li>(<em>Ed: from the comments</em>) przepierdolić się - <strong>To go across</strong> ("Gość przepierdolił się przez rzekę.")</li>
</ol>
<h3>Przypierdolić</h3>
<ol>
<li>Przypierdolić (komuś) - <strong>To beat someone up</strong> ("Chyba będę Ci musiał jeszcze raz przypierdolić.")</li>
<li>Przypierdolić się (do czegoś) - <strong>to hold a grudge, to resent someone</strong> ("Dlaczego się ciągle przypierdalasz do takich blahostek?")</li>
</ol>
<h3>Rozpierdolić</h3>
<ol>
<li><strong>To destroy, smash, ruin something</strong> ("Aneta rozpierdoliła pożyczony samochód.")</li>
<li><strong>To make laugh</strong> ("Ten gość mnie rozpierdala!")</li>
<li>(<em>Ed: from the comments</em>) <strong>To make speechless</strong> ("Twoja postawa mnie zupełnie rozpierdala.")</li>
<li><strong>To defeat someone; to win</strong> ("W tej grze bez problemu udaje mi się rozpierdolić wszystkich przeciwników.")</li>
<li>(<em>Ed: from the comments</em>) <strong>To solve (a problem)</strong> ("Rozpierdoliłem zagadkę.")</li>
<li>(<em>Ed: from the comments</em>) rozpierdolić się - <strong>To be destroyed</strong></li>
</ol>
<h3>Spierdalać</h3>
<ol>
<li><strong>To flee</strong> ("Spierdalali tak, że aż się za nimi kurzyło.")</li>
<li>(<em>Ed: from the comments</em>) spierdalaj (imperitive) <strong>Go away, leave me alone</strong> ("Pomóż mi! - Spierdalaj.")</li>
</ol>
<h3>Spierdolić</h3>
<ol>
<li><strong>To destroy, ruin, mess up</strong> ("Ten idiota spierdolił mi komputer.")</li>
<li><strong>To throw someone out</strong> ("Weź go spierdol na ziemię.")</li>
<li>Spierdolić się: a) <strong>To fall</strong> ("Próbowałem wejść na dach, ale się spierdoliłem z drabiny.") b) <strong>To fart</strong> ("Nie ma to jak spierdolić się podczas rodzinnego obiadu.")</li>
</ol>
<h3>Upierdolić</h3>
<ol>
<li>Upierdolić (się): a) <strong>To cut off; to tear off; to come off</strong> ("Spójrz, końcówka tego paska się upierdoliła i można go teraz tylko walnąć w kosz.") b) <strong>to dirty; to get dirty</strong> ("Wrócił po robocie do domu cały upierdolony.") c) <strong>To do harm to somebody</strong> ("Ten artykuł w gazecie wszystkich nas nieźle upierdolił.") d) <strong>To bite</strong> ("Niech to szlag! Znów mnie upierdolił w szyję komar!")</li>
<li>Upierdolić się - <strong>To get drunk</strong> ("Piotrek przyniósł trochę trawki i zamierzał się nią porządnie upierdolić.")</li>
</ol>
<h3>Wpierdolić</h3>
<ol>
<li><strong>To throw something into something</strong> ("Po przyjściu do mieszkania, od razu wpierdolił swoje ubrania do szafy.")</li>
<li>(<em>Ed: from the comments</em>) <strong>To eat</strong> ("Patrz! Wpierdolił całą paczkę chipsów" lub "Wpierdolił pół bochenka chleba")</li>
<li>Wpierdolić (komuś) - <strong>To beat someone up</strong> ("Nie wytrzymam i wpierdolę mu dzisiaj!")</li>
<li>Wpierdolić się: a) <strong>To fall into, ex. a ditch</strong> ("Jadąc rowerem, noga się mu wpierdoliła między szprychy.") b) <strong>To fall into problems</strong> ("Znowu się wpierdoliłem po uszy w jakieś gówno!") c) (<em>Ed: from the comments</em>) <strong>To intrude</strong> ("Wpierdolił mi się do pokoju bez pukania.")</li>
</ol>
<h3>Wypierdalać</h3>
<ol>
<li>(<em>Ed: from the comments</em>) <strong>Same as "spierdalać" sense #1</strong> (<em>Ed: <a href="http://www.youtube.com/watch?v=nA7nWXwK1ns">Here</a> is the most famous example of this word</em>)</li>
</ol>
<h3>Wypierdolić</h3>
<ol>
<li><strong>To throw out someone or something</strong> ("Masz jeszcze ten stary komputer? Już dawno powinieneś go był wypierdolić!")</li>
<li>(<em>Ed: from the comments</em>) <strong>Same as "spierdolić" sense #2</strong></li>
<li>(<em>Ed: from the comments</em>) <strong>Perfective of "pierdolić" sense #1</strong></li>
<li>Wypierdolić (komuś) - <strong>To hit someone</strong> ("Wypierdolił mu w ryj tak, że aż mu zadzwoniło w uszach.")</li>
<li>Wypierdolić się - <strong>To topple over; to flip over</strong> ("Biegnąc ile sił w nogach, wypierdoliłem się na ostatnim zakręcie.")</li>
</ol>
<h3>Zapierdalać</h3>
<ol>
<li>(<em>Ed: from the comments</em>) <strong>To do something very fast</strong> ("Zapomniałeś kupić ogórków! Zapierdalaj z powrotem do sklepu!")</li>
<li>(<em>Ed: from the comments</em>) <strong>To work very hard</strong> ("Zapierdalałem cały dzień w robocie, by potem okazało się, że cała robota poszła na marne.")</li>
</ol>
<h3>Zapierdolić</h3>
<ol>
<li><strong>To steal</strong> ("Wszedł do sklepu i zapierdolił aparat cyfrowy.")</li>
<li><strong>To kill</strong> ("Mówisz, że przystawiał się do mojej dziewczyny? Chyba go zapierdole!")</li>
<li>(<em>Ed: from the comments</em>) <strong>To make a really big mistake</strong> ("No to żeś ładnie zapierdolił, nie wiem jak to odkręcimy")</li>
<li>(<em>Ed: from the comments</em>) <strong>To do something in a very unexpected way, with big effect</strong> ("Zapierdolił takim sucharem, że wszyscy się posrali")</li>
<li>(<em>Ed: from the comments</em>) zapierdolić komuś - <strong>To hit someone once, very hard</strong> ("Zapierdoliłem mu tak, że się przewrócił")</li>
<li>Zapierdolić się - <strong>To get drunk</strong> ("Tomek się wczoraj tak zapierdolił, że jeszcze trzyma go kac.")</li>
<li>Zapierdolić się - <strong>To smoke up; To get high</strong> ("Maniek przyniósł wczoraj grama, ale się zapierdoliliśmy.")</li>
</ol>
<p><strong>Do you know any other meanings or forms of the word <em>pierdolić</em>? Do you think they'd be interesting to foreigners learning Polish? Write a comment!</strong></p>
</div>

<div id="comments">
<a id="comment-2670"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/651f1ae03e808871b678d255e639f8e4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Chyba wystarczy.<br/>
Rozpatrujemy tu jednak w zasadzie wyłącznie formy czasownikowe, a przecież istnieje ogromna ilość form rzeczownikowych, przymiotnikowych i przysłówków. I tak:</p>
<p>Pierdolec - ofiara losu, głupek</p>
<p>Pierdolnięty - chory umysłowo, wariat, szaleniec.</p>
<p>Popierdolony - ma źle poukładane w głowie, dziwny, odmienny, wariat, szalony.</p>
<p>Popierdolone - dziwne, obce,  nie na miejscu, źle poukładane,</p>
<p>Przepierdolone - przegrane, utracone </p>
<p>mieć u kogoś przepierdolone - podpaść komuś, narazić się </p>
<p>Porozpierdalane - rozrzucone</p>
<p>Porozpierdalani - pobici , pozabijani, porozrzucani daleko do siebie</p>
<p>No i całkowicie pominięty czasownik:</p>
<p>Porozpierdalać - porozrzucać(przedmioty) , pozabijać (ludzi)</p>
<p>Rozpierdolić - rozwiązać problem, rozwiązać zadanie, wpaść na pomysł. (rozpierdoliłem to - rozwiązałem zagadkę)</p>
<p>No i jedna z nowszych rzeczownikowych form pochodnych: popierdółka - Ktoś kim można pomiatać, zawsze musi cie słuchać. Ale tez drobna sprawa, mały problem.<br/>
<a href="http://www.youtube.com/watch?v=k2R-uDlDTek" title="http://www.youtube.com/watch?v=k2R-uDlDTek">http://www.youtube.com/watch?v=k2R-uDlDTek</a></p>
<p>Pozdrawiam<br/>
nikto</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/2670">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">nikto (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-2670">Thursday, July 5, 2012 - 12:30</a></span>
</div>
</div>
<div class="indented"><a id="comment-2686"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Wow! Dodam czasowniki do artykułu ale chyba niech reszta tu pozostaje. To mógłby być temat na nowy artykuł. :-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/2686">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-2686">Tuesday, July 10, 2012 - 13:55</a></span>
</div>
</div>
</div><a id="comment-2671"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/651f1ae03e808871b678d255e639f8e4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I jeszcze jedno.<br/>
podałem przykład:<br/>
"<br/>
Spierdalaj może tez znaczyć "daj mi spokój" lub "odejdź" - W kontekscie: "Pomóż mi! - Spierdalaj"<br/>
"<br/>
W tym kontekście lepiej nawet by brzmiało:<br/>
"Pomóż mi! - Odpierdol się"<br/>
A znaczy to samo - daj mi spokój, odejdź. </p>
<p>Pozdrawiam<br/>
nikto</p>
<p>PS. Czy planowany jest artykuł na temat: kurwa, chuj, jebać? :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/2671">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">nikto (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-2671">Thursday, July 5, 2012 - 12:48</a></span>
</div>
</div>
<div class="indented"><a id="comment-2687"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Nie jest zaplanowany ale jeśli chcesz napisać taki artykuł, chętnie go opublikuję. :-) Ten artykuł o słowie "pierdolić" też był gościnnym artykułem.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/2687">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-2687">Tuesday, July 10, 2012 - 14:03</a></span>
</div>
</div>
</div><a id="comment-2672"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/651f1ae03e808871b678d255e639f8e4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Wpierdalać - jeść coś ( Jacek sam wpierdala pączka, nie podzielił się jebany chuj). </p>
<p>trochę poza meritum problematyki. ale ciekawe:<br/>
"Miej wyjebane a będzie ci dane!" - bądź fajny(pozytywnie zakręcony) a doświadczysz ciekawych przypadków/przygód (w swoim życiu)!<br/>
lub<br/>
potrafisz się zachować a życie ci to wynagrodzi. </p>
<p>Pozdrawiam<br/>
nikto</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/2672">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">nikto (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-2672">Thursday, July 5, 2012 - 14:52</a></span>
</div>
</div>
<div class="indented"><a id="comment-2688"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Już jest "wpierdalać - to eat" w artykule. Dzięki za ciekawy idiom. :-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/2688">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-2688">Tuesday, July 10, 2012 - 14:04</a></span>
</div>
</div>
</div><a id="comment-2908"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9fe6c269d033e8aa2396a51484ada45c?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Really nice work.<br/>
Clear and with examples.<br/>
Thanks for sharing.<br/>
You know,to sort these different words needs lots of effort:))</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/2908">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">momo (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-2908">Tuesday, August 21, 2012 - 13:02</a></span>
</div>
</div>
<div class="indented"><a id="comment-2937"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks, I'm glad someone who's learning Polish finds it useful! For some reason, this article got really popular with Poles, but, of course, they don't need to learn these things. ;-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/2937">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-2937">Sunday, August 26, 2012 - 10:14</a></span>
</div>
</div>
</div><a id="comment-3274"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.facebook.com/maciej.raniszewski.5" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/01e5bca5ce2904227a9c34254842a0fd?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Funny that 'swear' means 'przeklinać' and also 'przysięgać'. So maybe Basket Boys are not so nice as I thought. Maybe they sing not 'ja przysięgam' but 'ja przeklinam' :D.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/3274">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.facebook.com/maciej.raniszewski.5" rel="nofollow">Maciej</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-3274">Tuesday, December 4, 2012 - 11:10</a></span>
</div>
</div>
<div class="indented"><a id="comment-3275"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.facebook.com/maciej.raniszewski.5" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/01e5bca5ce2904227a9c34254842a0fd?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Oh, but probably in 'ja przeklinam' case wouldn't be 'by' after 'I swear' :P.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/3275">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.facebook.com/maciej.raniszewski.5" rel="nofollow">Maciej</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-3275">Tuesday, December 4, 2012 - 11:15</a></span>
</div>
</div>
<div class="indented"><a id="comment-3280"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.facebook.com/maciej.raniszewski.5" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/01e5bca5ce2904227a9c34254842a0fd?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Now I know (form one of BiblioBird's article) that 'swear by' means 'klnąć się na coś' or 'powoływać się na coś'.<br/>
So 'I swear by the moon and the stars in the sky' could mean 'powołuję się na księżyc i gwiazdy na niebie'. Next we have 'and I swear like the shadow that's by your side' - 'i przysięgam jak cień, który jest przy Twoim boku'? Or maybe not 'przysięgam' but 'przeklinam'? I not sure what author had on his mind :).</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/3280">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.facebook.com/maciej.raniszewski.5" rel="nofollow">Maciej</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-3280">Tuesday, December 4, 2012 - 12:46</a></span>
</div>
</div>
<div class="indented"><a id="comment-3300"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Maciej!</p>
<p>Hehe, "swear" is a very complex word. :-) Yeah, I'm not sure either what the author meant with "and I swear like the shadow that's by your side" - it's very poetic but difficult to understand precisely.</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/3300">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-3300">Saturday, December 8, 2012 - 09:54</a></span>
</div>
</div>
</div></div></div><a id="comment-3368"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d72861d7d8ff9539824b9f52c9a88c07?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi, the video you talked about (skorway on YouTube) is no longer online.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/3368">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">maclinux (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-3368">Wednesday, December 26, 2012 - 09:08</a></span>
</div>
</div>
<div class="indented"><a id="comment-3369"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>It looks like his account is still online! I'm not sure he ever had any videos. But he is the original author of this article and he wanted to be credited with his YouTube page. :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/3369">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-3369">Wednesday, December 26, 2012 - 09:24</a></span>
</div>
</div>
</div><a id="comment-3430"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/1f83ee6ebf3dfd1215815dc84b31c82f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>To make a really big mistake ("No to żeś ładnie zapierdolił, nie wiem jak to odkręcimy")</p>
<p>powinno być spierdolił, zapierdolił znaczy zabrał, ukradł albo zabił synonimem jest do tego też zajebał np. ktoś mi zajebał portfel w pociągu, albo zajebali/zapierdolili sąsiada z naprzeciwka</p>
<p>spierdolił znaczy też uciec naprzykład: spierdoliłem z miejsca wypadku, albo spierdolilem z lekcji wf(PE)</p>
<p>W języku polskim ciekawe jest też to, że domyślnie używamy liczby mnogiej np. ukradli mi porfel, zabili sąsiada.</p>
<p>To eat ("Spóźniłem się tylko parę minut i Jacek z Andrzejem opierdolili ze stołu dosłownie wszystko; nic już dla mnie nie zostało.") -&gt; nigdy nie spotkałem się z takim zastosowaniem, mówi się raczej wpierdolili, opierdolili może być użyte zamiast słowa oszukać kogoś np. kutas opierdolił mnie o dwie dychy(20PLN). I jeszcze zamiast spójnika 'i' powinien być 'a' bo dluzszej chwili zastanowienia doszedlem do wniosku, że sam nie wiem dlaczego. Tak po prostu jest.:)</p>
<p>To dress nicely ("Gdzie się tak odpierdoliłeś? Idziesz na randkę z Justyną?") --&gt; 'Na co sie tak odpierdoliłeś' albo 'Po co sie tak odpierdoliłeś' może też być 'ależ się odpierdolił' bądź ale się żeś(lub żeś się, nie ma różnicy) odpierdolił, Gdzie sie tak odpierdoliles wydaje mi sie ze w tym kontekscie jest nie poprawne, ja nigdzie tego nie slyszalem to by znaczylo cos w stylu w jakim sklepie kupowales ubrania.</p>
<p>(Ed: from the comments) To sell ("Popierdoliłem mu wczoraj ten stary telefon") Obawiam sie ze nie ma czegos takiego.</p>
<p>Porozpierdalać<br/>
(Ed: from the comments) To scatter (things) around Gówniarz porozpierdalał/rozpierdolił swoje zabawki po całym domu<br/>
(Ed: from the comments) To kill (people) tak na sile to można by powiedzieć porozpierdalał ich na kawałki, ale używane jest raczej rozpierdolić np. rozpierdolił telefon o ścianę jeżeli mowa o zabijaniu to zapierdolił np. jeszcze jedno słowo i cię zapierdole jak Boga kocham.</p>
<p>Nie wiem czy wszystkie 'Ed' były od polaków wydaje mi się po prostu, że niektóre są na siłę stosowane i raczej się tak nie mówi na pewno nie popierdolić komuś komórkę to już jest jakiś totalny wymysł:)</p>
<p>Możliwe że nie które słowa powtórzyłem, bardzo za to przepraszam, ale czytanie polskich przekleństw nie sprawia mi przyjemności</p>
<p>A teraz słowo na zachętę: świetnie ci idzie z filmików zauważyłem ze często wymawiasz trzeci jako cieci(może nie często bo usłyszałem to raz ;) ), a tak poza tym to tylko końcówki  sprawiają ci problem ale polacy tez je czesto myla, sam osobiscie czesto zamiast odmieniac slowa uzywam bezokolicznikow bo mam zaćme i nagle nie pamiętam jak się odmienia. :)</p>
<p>I wondered if I should post it in english or in polish but since it's a blog devoted to learning polish I figured polish is the way to go and I'd like to apologize for not typing polish letters such as ą, ę etc.(I tried to type them but I forgot about it half way through the post and I'm just to lazy to correct it;) ) it's just that I'm not used to it and most polish on the internet doesn't use them so it's some kind of an exercise for you.:)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/3430">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-3430">Saturday, January 5, 2013 - 16:50</a></span>
</div>
</div>
<div class="indented"><a id="comment-3481"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć!</p>
<p>WSZYSTKIE te zdania pochodzą od Polaków. Nawet oryginalny artykuł jest wpisem gościnnym napisanym przez Polaka!</p>
<p>Dziękuję bardzo za uwagi i poprawki co do artykułu. :-)</p>
<p>Jednak dalej nie będę edytował tego artykułu - już zmieniłem go ponad 100 razy i to chyba dość. ;-) Nawet z paroma małymi błędami będzie pożyteczny dla uczących się j. polskiego.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/3481">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-3481">Saturday, January 12, 2013 - 19:38</a></span>
</div>
</div>
<a id="comment-3701"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/1c2092eb6b2578502469a583d59318d6?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Mogą być różnice środowiskowe czy regionalne, więc nie wszystko mogłeś  słyszeć. Opierdolił jako "zjadł" słyszę bardzo często, ale większość z pozostałych też mnie dziwi. Możliwe jednak, że ktoś ich używa.<br/>
Przedrostki mogą też lekko zmieniać te cztery podstawowe znaczenia, tak jak robią z innymi czasownikami. "To taki gaduła. Przyjdzie, popierdoli sobie i pójdzie". "Jego serce nie wytrzymało tego wyjazdu integracyjnego. Po prostu zapierdolił się na śmierć". Formy raczej rzadkie, ale możliwe i czytelne. Nie wiem czy jest sens wymieniać takie formy w artykule, chyba że chodzi o te często używane albo zmieniające znaczenie bardziej, niż wynika to ze znaczenia podstawowego i przedrostka.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/3701">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Dziecko Nadziei (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-3701">Friday, February 1, 2013 - 05:02</a></span>
</div>
</div>
<a id="comment-3702"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/1c2092eb6b2578502469a583d59318d6?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Jeszcze jednej rzeczy nie napisałem.<br/>
Przedrostek po- bardzo ładnie łączy się z większością form, które mają już jakiś przedrostek, działając w taki sposób, że tak jakby je zwielokrotnia. </p>
<p>Podpierdolił nas na komisariacie / Popodpierdalał nas na wszystkich komisariatach w okolicy.<br/>
Rozpierdolił mi szybę w samochodzie / Porozpierdalał mi wszystkie szyby w samochodzie.<br/>
Wypierdolił na śmietnik moją ulubioną książkę / Powypierdalał wszystkie moje książki.<br/>
Udało się, rozpierdoliłem wieżyczkę orków / Teraz to już na pewno wygram, porozpierdalałem im większość budynków.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/3702">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Dziecko Nadziei (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-3702">Friday, February 1, 2013 - 05:25</a></span>
</div>
</div>
</div><a id="comment-3700"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/1c2092eb6b2578502469a583d59318d6?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Widzę, że nie chcesz już poprawiać artykułu, ale warto zostawić informację przynajmniej w komentarzu.<br/>
Podstawowa forma występuje też w związku frazeologicznym "ja pierdolę!" wyrażającym, ogólnie mówiąc, zaskoczenie. W całej gamie, od oburzenia (Nasi politycy przyznali sobie premie w wysokości kilkuletnich zarobków przeciętnej rodziny. Ja pierdolę!), strachu (Ja pierdolę! Weź tego pająka!) lub obrzydzenia (Ja pierdolę! Nie wysyłaj mi takich zdjęć kiedy jem!) aż po zachwyt (Ja pierdolę! Ale laska!)</p>
<p>Przykłady:<br/>
<a href="http://www25.patrz.pl/u/f/58/33/63/583363.jpeg" title="http://www25.patrz.pl/u/f/58/33/63/583363.jpeg">http://www25.patrz.pl/u/f/58/33/63/583363.jpeg</a><br/>
<a href="http://www.youtube.com/watch?v=gkAcC0cCC78" title="http://www.youtube.com/watch?v=gkAcC0cCC78">http://www.youtube.com/watch?v=gkAcC0cCC78</a><br/>
http://images.wikia.com/nonsensopedia/images/archive/0/0d/20090607101218!Ja_pierdole.jpg</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/3700">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Dziecko Nadziei (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-3700">Friday, February 1, 2013 - 04:39</a></span>
</div>
</div>
<div class="indented"><a id="comment-3709"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Aha! Dzięki za linki i dodatkowe informacje. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/3709">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-3709">Friday, February 1, 2013 - 14:08</a></span>
</div>
</div>
</div><a id="comment-4318"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/6568cc67d4b72468e916909df867137a?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>quote<br/>
"[...](Ed: from the comments) To sell ("Popierdoliłem mu wczoraj ten stary telefon")[...]"</p>
<p>I'm polish and it should be: "Podpierdoliłem", not "Popierdoliłem"</p>
<p>More often in this situation you use "Zajebałem". "Jebać" is as big word as "Pierdolić" and you could write an article about it with the same length of text.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/4318">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">CzarnyKhaki (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-4318">Saturday, March 23, 2013 - 02:39</a></span>
</div>
</div>
<div class="item-list"><ul class="pager"><li class="pager-first first"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87" title="Go to first page">« first</a></li>
<li class="pager-previous"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87-page-1" title="Go to previous page">‹ previous</a></li>
<li class="pager-item"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87" title="Go to page 1">1</a></li>
<li class="pager-item"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87-page-1" title="Go to page 2">2</a></li>
<li class="pager-current last">3</li>
</ul></div>
</div>
