---
permalink: /blog/2011/07/how-to-swear-like-a-pole-pierdolić-page-1/
layout: blog-old
title: 'How to swear like a Pole: pierd*lić'
day: 12
month: Jul
year: 2011
category: learn Polish
tags: 
  - 'profanity'
language: en
translation: /blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 122px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/07/profanity.jpg" rel="lightbox"><img alt="Symbols - to look like censored profanity - inside a 'no' or 'not allowed' sign" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/07/profanity.jpg" title="These words should be used by experts only!  Photo by stockicide on Flickr."/></a><div class="caption">These words should be used by experts only!  <a href="http://www.flickr.com/photos/55095508@N03/5137053864">Photo</a> by <a href="http://www.flickr.com/photos/55095508@N03/">stockicide</a> on Flickr.</div></div>
<p>For some reason, many people are fascinated with swear words in foreign languages.  Frequently, people I meet ask me how to say them in Polish.  I've only given in a few times and I've always regretted it later.</p>
<p>Imagine hearing someone yelling the k-word everytime they see you!  Or repeating it over and over endlessly at a party.</p>
<p>But <strong>swear words <em>are</em> a very interesting topic when looked at intellectually.</strong>  In English, it's amazing all the different meanings that the f-word can have!  Swear words are often some of the most versitile and colorful words in any language.</p>
<p><strong>Today's article is a guest post by <a href="http://www.youtube.com/user/skorway">skorway on YouTube</a> (who is a Pole) about all the different meanings and variations of the Polish swear word <em>pierd*lić</em>.</strong></p>
<p><em>Note: That's not really how the word is spelled, the asterisk is to censor it (just like typing "f**k" in English).  <strong>The full article is UNCENSORED</strong> and may not be appropriate for some readers!  You have been warned.</em></p>
<p><strong>Read more for the full article!</strong></p>
<h2>Pierdolić</h2>
<p>The word "pierdolić" can mean:</p>
<ol>
<li><strong>To have sex</strong> ("Pierdolili się oboje całymi dniami.")</li>
<li><strong>To talk off-topic; to not get to the point</strong> ("Nie pierdol! (= nie gadaj bzdur)")</li>
<li><strong>To ruin; to do something bad, clumsy</strong> ("Wszystko mi się pierdoli. (=wszystko idzie mi źle) albo (=wszystko mi się myli)")</li>
<li><strong>To ignore someone or something</strong> ("Pierdol go! (=olej go; nie przejmuj się nim)")</li>
</ol>
<p>Now, if we begin to add prefixes to the word "pierdolić", completely new meanings arise!</p>
<p>(<em>Ed: Polish uses <a href="http://i.imgur.com/jaYu1.jpg">prefixes</a> where English would make a compound verb with an adverb or preposition. In this case, "fuck up", "fuck over", "fuck around" would be good parallels.</em>)</p>
<p>(<em>Ed: From the advice of the commenters below, I added several "-pierdalać" words.  Practically all Polish verbs <a href="http://www.linguatrek.com/blog/2010/11/polish-grammar-overview-for-complete-beginners#verbs">come in pairs</a> (perfective and imperfective) and the "-pierdalać" ones are simply imperfective.</em>)</p>
<h3>Dopierdolić</h3>
<ol>
<li><strong>To beat someone brutally</strong> ("Widziałeś jego twarz? Ale mu dopierdolił!")</li>
<li><strong>To say nasty things about someone</strong> ("Słyszałaś co powiedziała Jolka? Nieźle Ci dopierdoliła tym tekstem.")</li>
<li>(<em>Ed: from the comments</em>) <strong>To make a really big mistake</strong> ("No to żeś dopierdolił, policja nie da nam spokoju.")</li>
<li>(<em>Ed: from the comments</em>) dopierdolić się - <strong>Same as <em>przypierdolić</em> sense #2</strong></li>
<li>(<em>Ed: from the comments</em>) dopierdolić się do kogoś - <strong>To seriously annoy someone</strong> ("Ale się do niego dopierdolił!")</li>
</ol>
<h3>Napierdalać</h3>
<ol>
<li>(<em>Ed: from the comments</em>) <strong>to hit; to knock; to bang</strong> ("Nie mogłem spać, bo ktoś całą noc napierdalał młotkiem w ścianę" lub "Ale deszcz dzisiaj napierdala")</li>
<li>(<em>Ed: from the comments</em>) <strong>to get into a fight</strong> ("Wczoraj napierdalałem się z zombie")</li>
<li>(<em>Ed: from the comments</em>) <strong>to hurt</strong> ("Ale mnie noga napierdala")</li>
<li>(<em>Ed: from the comments</em>) <strong>to play</strong> ("Ale to radio napierdala!")</li>
</ol>
<h3>Napierdolić</h3>
<ol>
<li>(<em>Ed: from the comments</em>) <strong>To put a large amount of something on  the table/plate</strong> ("Aleś tego napierdolił, chyba tego nie zjem")</li>
<li>Napierdolić (komuś) - <strong>To beat someone up, strongly</strong> ("Napierdolę mu za to co zrobił wczoraj mojemu bratu!")</li>
<li>Napierdolić się - <strong>To get drunk</strong> ("Na wczorajszej imprezie chłopaki się nieźle napierdolili.")</li>
</ol>
<h3>Opierdalać</h3>
<ol>
<li>(<em>Ed: from the comments</em>) opierdalać się - <strong>To spend time doing nothing instead of working</strong> ("Cały dzień się dzisiaj opierdalałem")</li>
</ol>
<h3>Opierdolić</h3>
<ol>
<li><strong>To yell at someone; to critcize someone</strong> ("Robota jeszcze nie skończona? Zaraz do niego zadzwonię i go opierdolę.")</li>
<li><strong>To eat</strong> ("Spóźniłem się tylko parę minut i Jacek z Andrzejem opierdolili ze stołu dosłownie wszystko; nic już dla mnie nie zostało.")</li>
<li><strong>To sell something</strong> ("Ten kradziony rower trzeba będzie gdzieś po cichu opierdolić i wziąć za niego trochę kasy.")</li>
<li>(<em>Ed: from the comments</em>) <strong>To rob someone's apartment/home</strong> ("Jacek i Wojtek opierdolili mieszkanie Tomka")</li>
<li>(<em>Ed: from the comments</em>) <strong>To give someone a haircut</strong> ("Widziałeś nową fryzurę Marka? Opierdolił się na łyso!")</li>
<li>(<em>Ed: from the comments</em>) opierdolić komuś fiuta - <strong>To perform fellatio</strong> ("Opierdoliła mu fiuta w kiblu.")</li>
</ol>
<h3>Odpierdolić</h3>
<ol>
<li><strong>To do something carelessly, negligently</strong> ("Wojtek odpierdolił całe wypracowanie z polskiego w 10 minut i jest już gotowy żeby wyjść na dwór.")</li>
<li><strong>To do something crazy or silly</strong> ("Jurek odpierdolił taki numer, że wszyscy pokładali się ze śmiechu.")</li>
<li>(<em>Ed: from the comments</em>) odpierdolić (komuś) <strong>To go crazy; to get upset</strong> ("Co on robi? Odpierdoliło mu.")</li>
<li>Odpierdolić się: a) <strong>To leave someone alone</strong> ("Odpierdol się ode mnie! (=zostaw mnie w spokoju)") b) <strong>To dress nicely</strong> ("Gdzie się tak odpierdoliłeś? Idziesz na randkę z Justyną?")</li>
</ol>
<h3>Popierdalać</h3>
<ol>
<li>(<em>Ed: from the comments</em>) <strong>To go very fast</strong> ("Patrz jak ten samolot popierdala!")</li>
</ol>
<h3>Popierdolić</h3>
<ol>
<li><strong>Perfective of "pierdolić"</strong> ("Masz ochotę się trochę popierdolić? (=uprawiać seks)" albo "Mam dość Twojego gadania; idź popierdolić komuś innemu!")</li>
<li>(<em>Ed: from the comments</em>) <strong>To go crazy; to do something ridiculous</strong> ("10 złotych za paczkę fajek? Chyba ich popierdoliło!")</li>
<li>(<em>Ed: from the comments</em>) <strong>To sell</strong> ("Popierdoliłem mu wczoraj ten stary telefon")</li>
<li>Coś się komuś popierdoliło - <strong>To be mistaken</strong> ("Co takiego?! Widziałeś mnie wczoraj w Krakowie?! Coś Ci się chyba popierdoliło.")</li>
</ol>
<h3>Porozpierdalać</h3>
<ol>
<li>(<em>Ed: from the comments</em>) <strong>To scatter (things) around</strong></li>
<li>(<em>Ed: from the comments</em>) <strong>To kill (people)</strong></li>
</ol>
<h3>Podpierdalać</h3>
<ol>
<li>(<em>Ed: from the comments</em>) podpierdalać się - <strong>To come on to someone; to hit on someone</strong></li>
</ol>
<h3>Podpierdolić</h3>
<ol>
<li><strong>To steal</strong> ("Myślę, że to on podpierdolił mi telefon.")</li>
<li><strong>To betray someone; to tell on someone</strong> ("Monika poszła do nauczycielki i podpierdoliła Aśkę.")</li>
</ol>
<h3>Przepierdolić</h3>
<ol>
<li><strong>To lose (<em>as in the opposite of "win"</em>)</strong> ("Po pierwszej minucie było wiadomo, że ten bokser przepierdoli walkę.")</li>
<li><strong>To lose something as the result of a failure</strong> ("Poszedł do kasyna i przepierdolił całą swoją wypłatę jednego wieczoru.")</li>
<li><strong>To cut into parts</strong> ("Przepierdol to na dwie równe części.")</li>
<li>(<em>Ed: from the comments</em>) przepierdolić się - <strong>To go across</strong> ("Gość przepierdolił się przez rzekę.")</li>
</ol>
<h3>Przypierdolić</h3>
<ol>
<li>Przypierdolić (komuś) - <strong>To beat someone up</strong> ("Chyba będę Ci musiał jeszcze raz przypierdolić.")</li>
<li>Przypierdolić się (do czegoś) - <strong>to hold a grudge, to resent someone</strong> ("Dlaczego się ciągle przypierdalasz do takich blahostek?")</li>
</ol>
<h3>Rozpierdolić</h3>
<ol>
<li><strong>To destroy, smash, ruin something</strong> ("Aneta rozpierdoliła pożyczony samochód.")</li>
<li><strong>To make laugh</strong> ("Ten gość mnie rozpierdala!")</li>
<li>(<em>Ed: from the comments</em>) <strong>To make speechless</strong> ("Twoja postawa mnie zupełnie rozpierdala.")</li>
<li><strong>To defeat someone; to win</strong> ("W tej grze bez problemu udaje mi się rozpierdolić wszystkich przeciwników.")</li>
<li>(<em>Ed: from the comments</em>) <strong>To solve (a problem)</strong> ("Rozpierdoliłem zagadkę.")</li>
<li>(<em>Ed: from the comments</em>) rozpierdolić się - <strong>To be destroyed</strong></li>
</ol>
<h3>Spierdalać</h3>
<ol>
<li><strong>To flee</strong> ("Spierdalali tak, że aż się za nimi kurzyło.")</li>
<li>(<em>Ed: from the comments</em>) spierdalaj (imperitive) <strong>Go away, leave me alone</strong> ("Pomóż mi! - Spierdalaj.")</li>
</ol>
<h3>Spierdolić</h3>
<ol>
<li><strong>To destroy, ruin, mess up</strong> ("Ten idiota spierdolił mi komputer.")</li>
<li><strong>To throw someone out</strong> ("Weź go spierdol na ziemię.")</li>
<li>Spierdolić się: a) <strong>To fall</strong> ("Próbowałem wejść na dach, ale się spierdoliłem z drabiny.") b) <strong>To fart</strong> ("Nie ma to jak spierdolić się podczas rodzinnego obiadu.")</li>
</ol>
<h3>Upierdolić</h3>
<ol>
<li>Upierdolić (się): a) <strong>To cut off; to tear off; to come off</strong> ("Spójrz, końcówka tego paska się upierdoliła i można go teraz tylko walnąć w kosz.") b) <strong>to dirty; to get dirty</strong> ("Wrócił po robocie do domu cały upierdolony.") c) <strong>To do harm to somebody</strong> ("Ten artykuł w gazecie wszystkich nas nieźle upierdolił.") d) <strong>To bite</strong> ("Niech to szlag! Znów mnie upierdolił w szyję komar!")</li>
<li>Upierdolić się - <strong>To get drunk</strong> ("Piotrek przyniósł trochę trawki i zamierzał się nią porządnie upierdolić.")</li>
</ol>
<h3>Wpierdolić</h3>
<ol>
<li><strong>To throw something into something</strong> ("Po przyjściu do mieszkania, od razu wpierdolił swoje ubrania do szafy.")</li>
<li>(<em>Ed: from the comments</em>) <strong>To eat</strong> ("Patrz! Wpierdolił całą paczkę chipsów" lub "Wpierdolił pół bochenka chleba")</li>
<li>Wpierdolić (komuś) - <strong>To beat someone up</strong> ("Nie wytrzymam i wpierdolę mu dzisiaj!")</li>
<li>Wpierdolić się: a) <strong>To fall into, ex. a ditch</strong> ("Jadąc rowerem, noga się mu wpierdoliła między szprychy.") b) <strong>To fall into problems</strong> ("Znowu się wpierdoliłem po uszy w jakieś gówno!") c) (<em>Ed: from the comments</em>) <strong>To intrude</strong> ("Wpierdolił mi się do pokoju bez pukania.")</li>
</ol>
<h3>Wypierdalać</h3>
<ol>
<li>(<em>Ed: from the comments</em>) <strong>Same as "spierdalać" sense #1</strong> (<em>Ed: <a href="http://www.youtube.com/watch?v=nA7nWXwK1ns">Here</a> is the most famous example of this word</em>)</li>
</ol>
<h3>Wypierdolić</h3>
<ol>
<li><strong>To throw out someone or something</strong> ("Masz jeszcze ten stary komputer? Już dawno powinieneś go był wypierdolić!")</li>
<li>(<em>Ed: from the comments</em>) <strong>Same as "spierdolić" sense #2</strong></li>
<li>(<em>Ed: from the comments</em>) <strong>Perfective of "pierdolić" sense #1</strong></li>
<li>Wypierdolić (komuś) - <strong>To hit someone</strong> ("Wypierdolił mu w ryj tak, że aż mu zadzwoniło w uszach.")</li>
<li>Wypierdolić się - <strong>To topple over; to flip over</strong> ("Biegnąc ile sił w nogach, wypierdoliłem się na ostatnim zakręcie.")</li>
</ol>
<h3>Zapierdalać</h3>
<ol>
<li>(<em>Ed: from the comments</em>) <strong>To do something very fast</strong> ("Zapomniałeś kupić ogórków! Zapierdalaj z powrotem do sklepu!")</li>
<li>(<em>Ed: from the comments</em>) <strong>To work very hard</strong> ("Zapierdalałem cały dzień w robocie, by potem okazało się, że cała robota poszła na marne.")</li>
</ol>
<h3>Zapierdolić</h3>
<ol>
<li><strong>To steal</strong> ("Wszedł do sklepu i zapierdolił aparat cyfrowy.")</li>
<li><strong>To kill</strong> ("Mówisz, że przystawiał się do mojej dziewczyny? Chyba go zapierdole!")</li>
<li>(<em>Ed: from the comments</em>) <strong>To make a really big mistake</strong> ("No to żeś ładnie zapierdolił, nie wiem jak to odkręcimy")</li>
<li>(<em>Ed: from the comments</em>) <strong>To do something in a very unexpected way, with big effect</strong> ("Zapierdolił takim sucharem, że wszyscy się posrali")</li>
<li>(<em>Ed: from the comments</em>) zapierdolić komuś - <strong>To hit someone once, very hard</strong> ("Zapierdoliłem mu tak, że się przewrócił")</li>
<li>Zapierdolić się - <strong>To get drunk</strong> ("Tomek się wczoraj tak zapierdolił, że jeszcze trzyma go kac.")</li>
<li>Zapierdolić się - <strong>To smoke up; To get high</strong> ("Maniek przyniósł wczoraj grama, ale się zapierdoliliśmy.")</li>
</ol>
<p><strong>Do you know any other meanings or forms of the word <em>pierdolić</em>? Do you think they'd be interesting to foreigners learning Polish? Write a comment!</strong></p>
</div>

<div id="comments">
<div class="indented"><a id="comment-589"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Added.  Thanks!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/589">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-589">Wednesday, July 13, 2011 - 16:56</a></span>
</div>
</div>
</div><a id="comment-569"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://jakubrusinek.pl/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/85bb6969584c06622659d077eefd70fb?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Geez, sometimes I don't even realize how versatile our mother tongue is ^^</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/569">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://jakubrusinek.pl/" rel="nofollow">Livio</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-569">Wednesday, July 13, 2011 - 15:57</a></span>
</div>
</div>
<a id="comment-570"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://piachu.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3b6ba33b6b1ffcb19d21102019b8783d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>That's why I like Your blog, ambitious and it seems U really care bout things U talk about, which in other words causes other ones to think and react too. Really good job, ride on!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/570">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://piachu.com" rel="nofollow">Barteam</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-570">Wednesday, July 13, 2011 - 16:00</a></span>
</div>
</div>
<a id="comment-575"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9f66fcb306cdf92e9b30a462cd34afb0?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Zapierdalać - work hard, "Marcin zapierdala jak dziki osioł"</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/575">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">teo (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-575">Wednesday, July 13, 2011 - 16:13</a></span>
</div>
</div>
<a id="comment-577"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c5708d7dd7e19262773447d034f29531?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Zapierdalać kurwa z Wykopem!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/577">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-577">Wednesday, July 13, 2011 - 16:14</a></span>
</div>
</div>
<a id="comment-581"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/45ddcbca0427c2b1e4cf2d367575f9f3?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>"Zapierdolić" can also mean to hit somebody once very hard. "Zapierdoliłem mu tak, że się przewrócił"<br/>
David, did you consider making such list, but with f- word? ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/581">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-581">Wednesday, July 13, 2011 - 16:30</a></span>
</div>
</div>
<div class="indented"><a id="comment-591"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Added, thanks!  I think now I might have to. ;-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/591">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-591">Wednesday, July 13, 2011 - 16:59</a></span>
</div>
</div>
</div><a id="comment-582"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/386475718192d25629b671e6926199ce?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi<br/>
I found a little mistake example 5. in Zapierdolić (Ed: from the comments) To work very hard ("Zapierdalałem cały dzień w robocie, by potem okazało się, że cała robota poszła na marne.") should be in Zapierdalać.</p>
<p>Greetings:)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/582">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-582">Wednesday, July 13, 2011 - 16:31</a></span>
</div>
</div>
<div class="indented"><a id="comment-592"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Fixed.  Thanks!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/592">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-592">Wednesday, July 13, 2011 - 17:00</a></span>
</div>
</div>
</div><a id="comment-585"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/386475718192d25629b671e6926199ce?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi<br/>
One more meaning for Napierdalać, napierdalać się means "to get into a fight" ex. "Wczoraj napierdalałem się z zombie"<br/>
Regards:)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/585">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-585">Wednesday, July 13, 2011 - 16:38</a></span>
</div>
</div>
<div class="indented"><a id="comment-593"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Added, thanks!  Do you get into a lot of fights with zombies? ;-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/593">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-593">Wednesday, July 13, 2011 - 17:01</a></span>
</div>
</div>
<div class="indented"><a id="comment-594"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/386475718192d25629b671e6926199ce?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>When I'm drunk i feel like one;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/594">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-594">Wednesday, July 13, 2011 - 17:03</a></span>
</div>
</div>
</div></div><a id="comment-596"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a16a38cdfe8b2cbd38e8a56ab93238d3?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Man, I'm from Poland and you've really impressed me! I can't figure out more variations of the word "pierdolić". I suppose you included almost everything and it's correct!<br/>
Cheers :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/596">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-596">Wednesday, July 13, 2011 - 17:19</a></span>
</div>
</div>
<div class="indented"><a id="comment-597"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Well, it wasn't really me!  The original article is a guest post by a Pole and I got a TON of suggestions in the comments for this article.  But thanks anyway!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/597">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-597">Wednesday, July 13, 2011 - 17:21</a></span>
</div>
</div>
<a id="comment-598"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a16a38cdfe8b2cbd38e8a56ab93238d3?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Oh, I've found something :). "Spierdolić" and "Spierdalać" are not the same words. Explanation of "Spierdolić" is ok (to ruin or mess up something). Explanation: To flee ("Spierdalali tak, że aż się za nimi kurzyło.") is also correct, but it should go to the another category: "Spierdalać". "Spierdalać" means to flee or run away as you wrote. You haven't written about the word "Wypierdalać". It means "To go away" or "get out of there". Example in Polish: "Wypierdalaj stąd!" or "Wypierdalać!" - English, polite translation is "Get out of there!" or "Go away!". Here you have the video explanation :) <a href="http://www.youtube.com/watch?v=nA7nWXwK1ns" title="http://www.youtube.com/watch?v=nA7nWXwK1ns">http://www.youtube.com/watch?v=nA7nWXwK1ns</a><br/>
Sometimes people also use expression: "Ja pierdolę!" what means "Holy crap!". I don't know how to categorize that, but it's worth knowing.</p>
<p>Cheers!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/598">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-598">Wednesday, July 13, 2011 - 17:35</a></span>
</div>
</div>
<div class="indented"><a id="comment-609"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks!  I moved "spierdalać" to its own section and added "wypierdalać".</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/609">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-609">Thursday, July 14, 2011 - 13:13</a></span>
</div>
</div>
</div></div><a id="comment-599"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/dfdce2455e90923c467e710db41f8d32?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>WOW, as Polish native speaker I'm sure that not every Pole realize how many forms of "pierdolić" with different prefixes we have :)<br/>
I think that example number 5 for the word "opierdolić" needs a correction - this example comes from a joke (for Poles this joke is quite funny because of ambiguity of "opierdolić" - it means simultaneously 'to give a haircut' as you wrote and 'to rebuke somebody in an insulting way' - so in the joke when somebody comes to a hairdresser and says "proszę mnie opierdolić", he means "please give me a haircut", but hairdresser uses the second meaning and insults the customer).<br/>
I'm sorry for my English, I hope you understand what I mean :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/599">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">suezie (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-599">Wednesday, July 13, 2011 - 17:53</a></span>
</div>
</div>
<div class="indented"><a id="comment-610"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks for the explanation!  Do you have an example that I can copy into the article?</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/610">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-610">Thursday, July 14, 2011 - 13:16</a></span>
</div>
</div>
<div class="indented"><a id="comment-614"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/dfdce2455e90923c467e710db41f8d32?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Maybe: "Widziałeś nową fryzurę Marka? Opierdolił się na łyso!"<br/>
(I think that "opierdolić" meaning "give/get a haircut" is used especially to emphasize how short is a new haircut).</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/614">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">suezie (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-614">Thursday, July 14, 2011 - 14:27</a></span>
</div>
</div>
</div></div><a id="comment-602"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e5b22de3d6d6eeb2068d6bd9838dcb7e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Another missing meaning of DOPIERDOLIĆ -  "Dopierdolić się" - to bother someone heavily, contrary of "Odpierdolić się" ("Ale się do niego dopierdolił!")</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/602">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-602">Thursday, July 14, 2011 - 02:13</a></span>
</div>
</div>
<div class="indented"><a id="comment-611"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Added.  Thanks!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/611">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-611">Thursday, July 14, 2011 - 13:17</a></span>
</div>
</div>
</div><a id="comment-603"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/af6dffdba35fc4ef48b0133bac4a54a6?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I think I have another one meaning for "Napierdalać".<br/>
Napierdalać - to play fast or loud on the instrument (Patrz, napierdala na tej perkusji/gitarze jak szalony !)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/603">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonimowy (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-603">Thursday, July 14, 2011 - 05:49</a></span>
</div>
</div>
<a id="comment-604"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/57dcc93cd27f30d5ae5e0deb6dbbf029?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Nadpierdolony - np. nadpierdolony zębem czasu.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/604">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-604">Thursday, July 14, 2011 - 06:06</a></span>
</div>
</div>
<a id="comment-605"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/dfdce2455e90923c467e710db41f8d32?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>"I think I have another one meaning for "Napierdalać".<br/>
 Napierdalać - to play fast or loud on the instrument (Patrz, napierdala na tej perkusji/gitarze jak szalony !)"<br/>
For me that's the same as "napierdalać młotkiem" = to make loud noise.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/605">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">suezie (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-605">Thursday, July 14, 2011 - 06:27</a></span>
</div>
</div>
<a id="comment-606"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/7dbff1d9ed5b561450f2274e14f79b27?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Try those links:<br/>
<a href="http://automaciej.jogger.pl/2010/11/27/alem-tabelke/" title="http://automaciej.jogger.pl/2010/11/27/alem-tabelke/">http://automaciej.jogger.pl/2010/11/27/alem-tabelke/</a><br/>
<a href="http://pl.wiktionary.org/wiki/pierdoli%C4%87" title="http://pl.wiktionary.org/wiki/pierdoli%C4%87">http://pl.wiktionary.org/wiki/pierdoli%C4%87</a></p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/606">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-606">Thursday, July 14, 2011 - 11:28</a></span>
</div>
</div>
<div class="indented"><a id="comment-612"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks for the links!  I already saw the first one on Wykop but didn't link it here, so I'm glad you posted this comment. :-)</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/612">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-612">Thursday, July 14, 2011 - 13:20</a></span>
</div>
</div>
</div><a id="comment-613"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/52d53832de0293027260d5c3ff978870?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>"Wypierdolić" also means "to fuck somebody" for example "Andrzej mocno wypierdolił Anetę w dupę"</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/613">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">tgr (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-613">Thursday, July 14, 2011 - 14:14</a></span>
</div>
</div>
<a id="comment-615"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e51b83d157d5f34fe00eca0b8014e132?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I think this is missing:<br/>
"Wypierdolić" also as perfective of "pierdolić" sense #1 (=uprawiać seks), you would use it to say that you banged a chick, you scored etc. Ex: "Fajna laska, chętnie bym ją wypierdolił", or ever so famous: "A teraz mnie wypierdol!" :D</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/615">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Jahu (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-615">Thursday, July 14, 2011 - 21:27</a></span>
</div>
</div>
<div class="indented"><a id="comment-616"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Added.  Thanks!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/616">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-616">Friday, July 15, 2011 - 07:04</a></span>
</div>
</div>
</div><a id="comment-617"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/fef0ab3de137330352325fcc5ff5f3d4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>David, are you aware that this has been the most commented entry on your blog to date? Peculiar...</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/617">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Goury (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-617">Friday, July 15, 2011 - 10:35</a></span>
</div>
</div>
<div class="indented"><a id="comment-618"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>This is also the most read text article on my blog of all time. :-)</p>
<p>Some of my videos have gotten as many as 20,000 views.  But before this, the most that any text article got was 1,500 views.  This article already has over 10,000 views!  And it's not even an article that I wrote! :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/618">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-618">Friday, July 15, 2011 - 11:01</a></span>
</div>
</div>
</div><a id="comment-620"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/dfdce2455e90923c467e710db41f8d32?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>You have forgotten to change the example that I was talking about ;-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/620">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">suezie (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-620">Saturday, July 16, 2011 - 03:36</a></span>
</div>
</div>
<div class="indented"><a id="comment-621"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks for reminding me!  It's changed now. :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/621">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-621">Saturday, July 16, 2011 - 05:45</a></span>
</div>
</div>
</div><a id="comment-624"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4f0779748757d3c931e6b76714c4d323?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Zobacz to <a href="http://maturatobzdura.tv/rozmowki-wakacyjne-odcinek-39/" title="http://maturatobzdura.tv/rozmowki-wakacyjne-odcinek-39/">http://maturatobzdura.tv/rozmowki-wakacyjne-odcinek-39/</a><br/>
oraz <a href="http://www.niekrytykrytyk.pl" title="www.niekrytykrytyk.pl">www.niekrytykrytyk.pl</a></p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/624">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Xyz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-624">Monday, July 18, 2011 - 13:02</a></span>
</div>
</div>
<div class="indented"><a id="comment-628"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Bardzo podoba mi się program "Matura to bzdura" już obejrzałem parę odcinków.  Do tej pory mój ulubiony odcinek jest ten o polskiej pisowni. ;-)  Ale ten w Twoim komentarzu też jest fajny. Spodziewałbym się, że Polacy radziliby sobie z angielskim lepiej!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/628">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-628">Tuesday, July 19, 2011 - 08:40</a></span>
</div>
</div>
</div><a id="comment-633"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.pzielinski.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/cf55d548310520d36bd123dca798d8cb?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>I see many replies for that post ;) I think that many of us like when (especially) foreigner swears in Polish...</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/633">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.pzielinski.com" rel="nofollow">Piotr</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-633">Friday, July 22, 2011 - 08:43</a></span>
</div>
</div>
<div class="indented"><a id="comment-635"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Apparently!  This is the most popular text article on my blog ever. :-)</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/635">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-635">Friday, July 22, 2011 - 08:55</a></span>
</div>
</div>
</div><a id="comment-873"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/51f5e18acf1dc9b50c240d65d53c4034?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Dopierdolić: Może być w znaczeniu, ale żeś dopierdolił czyli powiedziałeś/zrobiłeś jakąś bzdurę.<br/>
Napierdalać: Ale mnie noga napierdala wyrażenie bólu<br/>
Popierdolić: Jako sprzedać "Popierdoliłem mu wczoraj ten stary telefon"<br/>
Podpierdolić: Np na Policję do przełożonego coś w rodzaju naskarżyć "Janek mnie wczoraj na psy podpierdolił, to konfident"<br/>
Wpierdolić: Zmajstrować dziecko "Aśka z Dawidem się wpierdolili, będą mieli bachora"<br/>
Zapierdolić: Upalić się "get high:)" "Maniek przyniósł wczoraj grama, ale się zapierdoliliśmy."</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/873">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Lnk (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-873">Tuesday, September 13, 2011 - 16:05</a></span>
</div>
</div>
<div class="indented"><a id="comment-883"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dodałem nowe znaczenia dla napierdalać, popierdolić i zapierdolić się.  Dziękuję bardzo!</p>
<p>Nie wiem jak przetłumaczyć "zmajstrować dziecko" na angielski. :-/ Rozumiem co masz na myśli, ale nie mogę wymyślić podobne pojęcie po angielsku.  Można powiedzieć "Asia and David had a child" ale to już jest po urodzeniu.  Wszystkie wyrazy/wyrażenia przed urodzeniem dotyczy tylko matkę, np. "Asia got pregnant" nie można powiedzieć, że "Asia and David got pregnant". ;-)  Jestem otwarty na propozycje! :-)</p>
<p>Czy "dopierdolić" w tym sensie nie jest takie same jak w znaczeniu nr 3? Tzn:</p>
<blockquote><p>
To make a really big mistake ("No to żeś dopierdolił, policja nie da nam spokoju.")
</p></blockquote>
<p>Też wydaje mi się, że to znaczenie dla podpierdolić już mamy w artykule (nr 2):</p>
<blockquote><p>
To betray someone; to tell on someone ("Monika poszła do nauczycielki i podpierdoliła Aśkę.")
</p></blockquote>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/883">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-883">Wednesday, September 14, 2011 - 07:15</a></span>
</div>
</div>
</div><a id="comment-914"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/b12be2db5bd75be086dea36bd99c7d62?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>nie, no nie mogę ze śmiechu :D leżę i kwiczę :D podziwiam kreatywność i poważny ton :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/914">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Monika (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-914">Tuesday, September 20, 2011 - 15:07</a></span>
</div>
</div>
<div class="indented"><a id="comment-915"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Bardzo się cieszę, że artykuł podoba Ci się! ;-) Pozdrawiam serdecznie, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/915">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-915">Tuesday, September 20, 2011 - 15:27</a></span>
</div>
</div>
</div><a id="comment-1079"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a142204ccf1e14c7b0be7c5782f6f5cd?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Napierdalać can mean grać (to play)- Ale to radio napierdala!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/1079">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-1079">Wednesday, December 7, 2011 - 17:13</a></span>
</div>
</div>
<div class="indented"><a id="comment-1090"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks!  I've added that to the main article.  Best regards, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/1090">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-1090">Friday, December 9, 2011 - 18:24</a></span>
</div>
</div>
</div><a id="comment-1643"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/12df8a4d502a0482a05b3077b0d906d5?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Good job! I don't swear (generally...), but this topic is interesting - I don't know why! I find out one more application of one version of „pierdolić”:</p>
<p>upierdolić - to cut something  off, for example: „Upierdol to piłą w tym miejsu.”</p>
<p>see also:<br/>
<a href="http://www.miejski.pl/slowo-upierdoli%C4%87" title="http://www.miejski.pl/slowo-upierdoli%C4%87">http://www.miejski.pl/slowo-upierdoli%C4%87</a></p>
<p>Regards,</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/1643">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Mateusz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-1643">Tuesday, April 10, 2012 - 20:28</a></span>
</div>
</div>
<a id="comment-1848"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/856b5922583f3501975faf453fe9ca8a?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>"Pierdolić się z czymś" - 1) ciężko pracować nad czymś bez widocznego efektu ("Ale się z tym pierdolisz! Zostaw to i idź do domu, skończysz jutro."), 2) wciąż poprawiać coś, co już jest zrobione dobrze ("Przestań się pierdolić z tą pierdułą, bo zaraz coś spierdolisz (zepsujesz)! Już jest OK!" </p>
<p>BTW: pierduła, pierdułka - coś malutkiego ("Widzisz tę pierdułkę? Nie? To weź lupę.") albo nieważnego ("Znowu się bawisz klockami? Zostaw te pierduły. Zajmij się czymś poważnym.")</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/1848">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-1848">Thursday, May 10, 2012 - 19:22</a></span>
</div>
</div>
<a id="comment-2473"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/1ef6576a87ec91c757b5b648cc14de02?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Ciekawe zestawienie wielu znaczeń słowa jest w filmie Psy, <a href="http://www.youtube.com/watch?v=j04aO719Cc0&amp;feature=player_detailpage#t=5701s" title="http://www.youtube.com/watch?v=j04aO719Cc0&amp;feature=player_detailpage#t=5701s">http://www.youtube.com/watch?v=j04aO719Cc0&amp;feature=player_detailpage#t=5...</a> (niestety tłumaczenie na angielski jest... no takie sobie)...</p>
<p>Gdy Franz z strzela serią z AK74 w ręku - do ruskich i mówi im "Wypierdalać!" oznacza to dla nich propozycję szybkiego zniknięcia ze skutecznego zasięgu broni.</p>
<p>W późniejszej scenie z Olem mamy do czynienia z zabawną grą słów :-) ale nie będę psuł pointy - trzeba oglądnąć całość...</p>
<p>HTH.</p>
<p>PS. Film nie jest dla dzieci. You've been warned!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/2473">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">reishen (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-2473">Sunday, June 17, 2012 - 12:01</a></span>
</div>
</div>
<a id="comment-2655"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/651f1ae03e808871b678d255e639f8e4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Brakuje chyba podstawowego  znaczenia słowa "spierdalaj" w kontekście<br/>
"odejdź, zejdź mi z oczu" słabo znam angielski ale chyba odpowiednim  będzie zwykłe "get out"(to nie to samo co ostrzejsze "wypierdalaj".</p>
<p>Spierdalaj może tez znaczyć  "daj mi spokój" lub "odejdź" - W kontekscie:  "Pomóż mi! - Spierdalaj"</p>
<p>nikto</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/2655">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-2655">Wednesday, July 4, 2012 - 16:06</a></span>
</div>
</div>
<div class="indented"><a id="comment-2662"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dodałem nowe znaczenie do "spierdalać" w artykule. Dzięki za sugestię!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/2662">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-2662">Thursday, July 5, 2012 - 09:00</a></span>
</div>
</div>
</div><a id="comment-2656"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/651f1ae03e808871b678d255e639f8e4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>No i jeszcze "wypierdalać" w znaczeniu " proszę bardzo szybko wychodzić" </p>
<p>nikto</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/2656">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-2656">Wednesday, July 4, 2012 - 16:14</a></span>
</div>
</div>
<div class="indented"><a id="comment-2661"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Myślę, że o to chodzi znaczenie 'Same as "spierdalać" sense #1' bo to jest "to flee" co oznacza: szybko wyjść, uciec, odjeść. Czy to wystarczy?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/80/2661">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87#comment-2661">Thursday, July 5, 2012 - 08:59</a></span>
</div>
</div>
</div><div class="item-list"><ul class="pager"><li class="pager-first first"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87" title="Go to first page">« first</a></li>
<li class="pager-previous"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87" title="Go to previous page">‹ previous</a></li>
<li class="pager-item"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87" title="Go to page 1">1</a></li>
<li class="pager-current">2</li>
<li class="pager-item"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87-page-2" title="Go to page 3">3</a></li>
<li class="pager-next"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87-page-2" title="Go to next page">next ›</a></li>
<li class="pager-last last"><a class="active" href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87-page-2" title="Go to last page">last »</a></li>
</ul></div>
</div>
