---
permalink: /blog/2011/07/the-declaration-of-independence/
layout: blog-old
title: 'The Declaration of Independence'
day: 5
month: Jul
year: 2011
category: USA
tags: 
  - 'holidays'
  - 'Independence Day'
language: en
translation: 
---
<div class="content">
<p>Yesterday was the 4th of July which is <a href="http://en.wikipedia.org/wiki/Independence_Day_(United_States)">Independence Day</a> in the United States.  It's a day of barbecues, parades and fireworks to commemorate the signing of the <a href="http://en.wikipedia.org/wiki/Declaration_of_Independence">Declaration of Independence</a> from Britain in 1776.  It is the most important national holiday in our country.</p>
<p>Here is a short video about the Declaration of Independence:</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/yb7MI8NQLoo?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/yb7MI8NQLoo?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p><strong>Read more for a transcript with translations into Polish!</strong></p>
<h2><a name="transcript">Transcript</a></h2>
<ul>
<li>The Declaration of Independence for me is one of the best pieces of writing I've ever seen</li>
<li>It's a revolutionary document for a revolutionary statement</li>
<li>You cannot help but be stirred when you read those words</li>
<li><a href="http://en.wikipedia.org/wiki/Thomas_Jefferson">Thomas Jefferson</a>'s writing is absolutely magnificent</li>
<li>And when he wrote, "We hold these truths to be self-evident, that all men are created equal," that was the first time somebody had bothered to write that down</li>
<li>And then you turn the clock back and think of when he was writing, how young he was, what a statement it was given the history of the world at that point</li>
<li>And you feel the excitement of being on the cusp of something so profound that it's hard to put it into words</li>
<li>If you review our Declaration of Independence, it has these beautiful words about all men are created equal and governments are born among men to represent the people</li>
<li>It was a good statement of what we were all about</li>
<li>And that's the only thing people remember about the Declaration of Independence, that it was about all men are created equal</li>
<li>But it's really a -- roughly a 28 count indictment against <a href="http://en.wikipedia.org/wiki/George_III_of_the_United_Kingdom">King George</a></li>
<li>And therefore because of the way in which the British crown treated us, we now declare that we are a free country and we want to let you know why</li>
<li>Now, we're going to have a war</li>
<li>In 1776, you have the <a href="http://en.wikipedia.org/wiki/Continental_Congress">Continental Congress</a> meeting in Philadelphia debating a unified position for <a href="http://en.wikipedia.org/wiki/Thirteen_Colonies">the colonies</a> with respect to the hostilities that have already broken out</li>
<li>And the fundamental issue between them is: are they fighting for their rights as Englishmen within the <a href="http://en.wikipedia.org/wiki/British_Empire">British Empire</a>, or are they going to fight for independence</li>
<li>And they're seriously divided</li>
<li>People who were perfectly willing to resist the tyranny of the British government were not necessarily willing to strike for independence</li>
<li>But there's a groundswell in favor of it, I think in large measure because they recognized that having provoked the lion this far, there's no going back</li>
<li>All of a sudden, you have this group of people who are going, "No, we're not part of some great chain of being with a king at the top of it.  We are a free people.  We can vote for who we want to have in charge. And we are not going to tolerate you, telling us that we have some class status that we have to be trapped in."</li>
<li>It says, you know, we are endowed by our creator with certain inalienable rights</li>
<li>Meaning that Parliament in London, the king himself, the courts cannot interfere and take away your rights because the state can't take power from us</li>
<li>Even to this day, it's probably the most central difference between America and every other country in the world</li>
<li>It goes well beyond what was needed in order to declare independence</li>
<li>It establishes a philosophical basis for a civil democracy, in which all persons are guaranteed rights by virtue of their personhood</li>
<li>This political genius, not just in Jefferson, but in <a href="http://en.wikipedia.org/wiki/John_Adams">Adams</a> and all the <a href="http://en.wikipedia.org/wiki/Founding_Fathers_of_the_United_States">other people</a> who collected here</li>
<li>They saw a new time for humankind, which is that we can be free, and that we can make decisions for ourselves</li>
</ul>
</div>

<div id="comments">
<a id="comment-527"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2011/07/vlog-patriotyzm-w-usa" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] podaj mi poprawki do tego filmiku w serwisie Lang-8. Oto jest filmik na temat Deklaracji Niepodległości, o którym [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/81/527">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2011/07/vlog-patriotyzm-w-usa" rel="nofollow">Vlog: Patriotyzm w USA | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/07/the-declaration-of-independence#comment-527">Friday, July 8, 2011 - 12:58</a></span>
</div>
</div>
</div>
