---
permalink: /blog/2012/09/how-to-learn-technical-or-any-specialized-language/
layout: blog-old
title: 'How to learn technical (or any specialized) language?'
day: 18
month: wrz
year: 2012
category: language learning
tags: 
  - 'specialized language'
language: pl
translation: 
---
<div class="content">
<p><em>(Don't worry, this is an article with language learning advice! But I just wanted to let you know that my paid product to help Poles learn English - "Real Life in the USA" - is going to be launched on Monday, October 1st. Learn more <a href="https://en.bibliobird.com/node/14452">here</a> and get a discount!)</em></p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/09/technology.jpg" rel="lightbox"><img alt="Room with lots of computers" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/09/technology.jpg" title="Photo by ClintJCL"/></a><div class="caption"><a href="http://www.flickr.com/photos/clintjcl/3109105564/in/photostream/">Photo</a> by <a href="http://www.flickr.com/photos/clintjcl/">ClintJCL</a></div></div>
<p>I personally learned Polish by <a href="http://www.linguatrek.com/blog/2010/12/harry-potter-the-book-that-taught-me-polish">reading and listening to the Harry Potter books</a> in Polish. While a fantasty book like Harry Potter is great for learning general language, it won't be the best choice if your goal is to learn specialized language instead.</p>
<p>In <a href="http://www.linguatrek.com/blog/2012/04/natural-language-learning-without-a-teacher">my free ebook</a>, I explain that you should pick content to learn from that uses the same type of language that you want to learn.</p>
<p><strong>While that's great general advice, many people have trouble implementing it in practice!</strong></p>
<p>In fact, I've received the following question <em>so often</em> that I decided it was time to write a complete article about it:</p>
<blockquote>
<p>How can I learn technical language? I want to learn how to write computer programs and most of the materials and documentation are in English. Is it possible to use the same method you used to learn Polish?</p>
<p>Of course, there are no audiobooks for technical literature. But you wrote that <a href="http://www.linguatrek.com/blog/2012/01/the-importance-of-listening">listening is extremely important</a>! How can I do it?</p>
</blockquote>
<p>It's definitely possible to find good reading and listening resources for programming - and most other specialized language!</p>
<p><strong>Read more to find out how!</strong></p>
<h2>Specialized language</h2>
<p>Every interest, hobby and occupation has it's own special language. There's a language for film, sewing, accounting and basketball. Each has dozens, hundreds or even thousands of <em>terms</em>.

</p><p>A <a href="http://en.wikipedia.org/wiki/Terminology">term</a> is a word or compound word that is particular to a specific context or is used in ways that only make sense in that context.</p>
<p>Finding written and audio content that uses the type of language you want to learn can be difficult - <em>it too is specific to the type of language!</em></p>
<p>Since <em>many</em> people have asked specifically about IT in English and it's something I personally know a lot about (I'm a professional software developer), this article is going to use technical language as an example.</p>
<p><strong>But you <em>can</em> find resources for any specialized language!</strong></p>
<h2>Try not to translate terms!</h2>
<p>One peice of advice at the beginning: <em>try not to translate terms!</em></p>
<p>Even if you have a massive dictionary, it will only have terms for the most common fields. The terms for many specialized languages have never been added to traditional dictionaries - but you may be able to find them defined in glossaries or on the <a href="http://www.wikipedia.org">Wikipedia</a>.</p>
<p>However, the best solution is to just learn terms from meeting them many times in context. Try to think of the term <em>only</em> in the target language - not as the literal translation into your native language.</p>
<h2>Finding written materials</h2>
<p>With technical language, there is no shortage of written materials! <em>(However, this may not be true for other types of specialized language.)</em></p>
<p>Here are some creative places to look for written materials and a few popular examples for IT in English:</p>
<ul>
<li><strong>Blogs</strong>:
  <ul>
<li><a href="http://www.codinghorror.com/blog/">Coding Horror</a></li>
<li><a href="http://www.joelonsoftware.com/">Joel on Software</a></li>
</ul>
</li>
<li><strong>Content aggregators / social bookmarking sites</strong>:
  <ul>
<li><a href="http://technorati.com/">Technorati</a></li>
<li><a href="http://www.reddit.com/r/technology/">Reddit</a></li>
</ul>
</li>
<li><strong>News sites specific to the topic</strong>: <a href="http://techcrunch.com/">TechCrunch</a></li>
<li><strong>Forums</strong>:
  <ul>
<li><a href="http://www.codeguru.com/">CodeGuru.com</a></li>
<li><a href="http://forums.devshed.com/">Dev Shed</a></li>
<li><a href="http://www.programmingforums.org/">ProgrammingForums.org</a></li>
</ul>
</li>
<li><strong>Facebook or LinkedIn Groups</strong></li>
<li><strong>Online Chat</strong>: <a href="http://freenode.net/irc_servers.shtml">IRC on Freenode.net</a></li>
<li><strong>Textbooks</strong>: 
  <ul>
<li><a href="http://www.amazon.com/Computer-Programming-Volumes-1-4A-Boxed/dp/0321751043/ref=la_B000AQ6O7M_1_1?ie=UTF8&amp;qid=1347467790&amp;sr=1-1">The Art of Computer Programming</a></li>
<li><a href="http://www.amazon.com/Design-Patterns-Elements-Reusable-Object-Oriented/dp/0201633612/ref=sr_1_1?s=books&amp;ie=UTF8&amp;qid=1347467861&amp;sr=1-1&amp;keywords=design+patterns">Design Patterns</a></li>
</ul>
</li>
</ul>
<h2>Finding audio materials</h2>
<p>With many specialized languages, audiobooks can be rare.  With IT specifically, this is definitely the case.</p>
<p><strong>But the single best suggestion (for any field) is <em>podcasts</em>.</strong></p>
<p><em>Podcasts</em> are like radio shows except you can download them and listen any time. The great thing is that many of them have transcripts! This isn't true for most other sources of audio.</p>
<p><a href="http://www.apple.com/itunes/">iTunes</a> is the best place to search for podcasts on any topic. However, here are some suggestions specifically for IT in English with transcripts:</p>
<ul>
<li><a href="http://www.kalzumeus.com/category/podcasts/">Kalzemeus</a></li>
<li><a href="https://stackoverflow.fogbugz.com/default.asp?W4">StackOverflow Podcast</a></li>
<li><a href="http://www.sitepoint.com/category/podcast/">Sitepoint</a></li>
<li><a href="http://www.grc.com/securitynow.htm">Security Now!</a></li>
</ul>
<p>You can also find lots of good audio content on <a href="http://www.youtube.com">YouTube</a> and <a href="http://www.vimeo.com">Vimeo</a>.</p>
<h2>Discuss!</h2>
<p>Are you trying to learn any specialized language in a foreign language? What kind?</p>
<p>Have you had any success finding content? What was it? Are you still having trouble?</p>
<p><strong>Write a comment below!</strong></p>
</div>

<div id="comments">
<a id="comment-2995"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/23d5ba8e200b43304276d42213806e96?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>I'm trying to learn specialized German for my two fields:  law and music.  Music is actually fairly easy, because several scores have German dynamics marked, so I'm not completely learning everything all over again, and it's fairly easy to just do several Google searches with my existing music vocabulary.  So for that, I really just do a lot of Googling and listening to interviews with musicians.  </p>
<p>With law though...that's a completely different animal.  First, it's not just a vocabulary difference; sentence structure and prepositions can be much more critical than in other types of fields.  Most native speakers don't learn that type of language quickly; first year of law school teaches you how to understand it.  I'm starting to work with German musicians trying to get non-immigrant VISAs to perform in the U.S., so I would like to be able to explain the process in German to them, and also German friends will ask me about what I do, and it would be nice to be able to answer them without stumbling through my sentences!</p>
<p>I'm finding vocabulary *okay*, but like I said, it's not just a vocabulary problem.  So I'm not exactly improving quickly, but the vocabulary is definitely there.  If I ever find a good source to learn it, I'll be very happy!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/204/2995">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Tara H (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/09/how-to-learn-technical-or-any-specialized-language#comment-2995">wtorek, wrzesień 18, 2012 - 11:41</a></span>
</div>
</div>
<div class="indented"><a id="comment-2996"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Tara!</p>
<p>Thanks for sharing! Hmmm, law is a difficult one, because so much of the material is written. I wonder if there are any legal podcasts for lawyers in German? I was able to Google up a bunch in English.</p>
<p>I know that trial law is very different from the rest of law, but maybe trials in Germany are recorded or filmed or at the very least transcribed and in the public record?</p>
<p>Maybe participating in forums or other discussion groups for lawyers in German would be good? Then you'd get to see lots of the niuanses used in practice and even be able to ask about them or have your attempts at using them critiqued!</p>
<p>A language exchange with a German lawyer would be awesome, but maybe a little harder to track down (unless you met them on one of those lawyer discussion groups).</p>
<p>Those are all the ideas I've got. :-) I wish you the best of luck in your search for materials!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/204/2996">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/09/how-to-learn-technical-or-any-specialized-language#comment-2996">wtorek, wrzesień 18, 2012 - 12:09</a></span>
</div>
</div>
</div><a id="comment-2997"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Yup, I’ve learnt technical language (IT, Linux, programming, design, web design, etc.) being exposed to the real content. Actually I didn’t bother to use and to force myself to learn this kind of language. As often Steve Kaufmann says ‘with enough exposure…’ I’ve been able to acquire it. Mainly reading books, blogs and articles.</p>
<p>Now being in the field of e-commerce/cycling I’m learning a new parlance. Of course it takes time to use to it, but as I wrote, to give myself a pat on the back (ha! learnt it recently! :D) I’m saying to myself ‘with enough exposure!’.</p>
<p>The funny thing about technical or more precisely – programming language is that two Poles – programmers won’t come to an agreement speaking Polish. Kinda (it’ll be ugly! :) „skomituj to a później zmerdżuj tego brancha” (’commit it and then merge this branch’.</p>
<p>:)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/204/2997">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/09/how-to-learn-technical-or-any-specialized-language#comment-2997">wtorek, wrzesień 18, 2012 - 14:56</a></span>
</div>
</div>
<a id="comment-3141"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/c8a68f96bde6267c8a1a1758fe4f12d9?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Technical language is, by definition, extremely specialised and can be difficult to understand. So, imagine what it's like in a different language! To ensure that you get the exact and precise meaning across, always make sure to use professionals for your <a href="http://www.rosettatranslation.com/technical-translation/">technical translation</a> This way, you will get high quality results!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/204/3141">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Dan (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/09/how-to-learn-technical-or-any-specialized-language#comment-3141">wtorek, październik 30, 2012 - 07:00</a></span>
</div>
</div>
<a id="comment-4910"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://PickAChat.co" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/7df47a05d7fb11b8aaa97e635b854aa5?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Hi everyone!</p>
<p>I'm building a language learning platform named PickAChat that will allow you to converse with native speakers about topics that interest you both, and so improve your listening and speaking skills.</p>
<p>How does it work? Simple. You tell us what topics you would like to talk about and in what language, and we will suggest suitable 'penpals' for you. We will give you the ability to look for them yourself as well. </p>
<p>On the flipside, as a native speaker, you can also become a tutor, and make money by helping others to learn your language.</p>
<p>If you like the idea and want early access to the beta version, please visit <a href="http://PickAChat.coand" title="http://PickAChat.coand">http://PickAChat.coand</a> give me your email!</p>
<p>Natalia<br/>
<a href="http://PickAChat.co" title="http://PickAChat.co">http://PickAChat.co</a><br/>
<a href="http://facebook.com/pickachat" title="http://facebook.com/pickachat">http://facebook.com/pickachat</a></p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/204/4910">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://PickAChat.co" rel="nofollow">Natalia</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/09/how-to-learn-technical-or-any-specialized-language#comment-4910">czwartek, lipiec 11, 2013 - 13:07</a></span>
</div>
</div>
<div class="box">
<h2>Dodaj nową odpowiedź</h2>
<div class="content"><form accept-charset="UTF-8" action="/comment/reply/204" id="comment-form" method="post">
<div><div class="form-item" id="edit-name-wrapper">
<label for="edit-name">Nazwisko lub pseudonim: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-name" maxlength="60" name="name" size="30" type="text" value="Anonymous"/>
</div>
<div class="form-item" id="edit-mail-wrapper">
<label for="edit-mail">E-mail: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-mail" maxlength="64" name="mail" size="30" type="text" value=""/>
<div class="description">Zawartość pola nie będzie udostępniana publicznie. If you have a <a href="http://www.gravatar.com">Gravatar</a> account, used to display your avatar.</div>
</div>
<div class="form-item" id="edit-homepage-wrapper">
<label for="edit-homepage">Strona domowa: </label>
<input class="form-text" id="edit-homepage" maxlength="255" name="homepage" size="30" type="text" value=""/>
</div>
<div class="form-item" id="edit-comment-wrapper">
<label for="edit-comment">Odpowiedź: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<textarea class="form-textarea resizable required" cols="60" id="edit-comment" name="comment" rows="15"></textarea>
</div>
<ul class="tips"><li>Adresy internetowe są automatycznie zamieniane w odnośniki, które można kliknąć.</li><li>Dozwolone znaczniki HTML: &lt;a&gt; &lt;em&gt; &lt;strong&gt; &lt;cite&gt; &lt;code&gt; &lt;ul&gt; &lt;ol&gt; &lt;li&gt; &lt;dl&gt; &lt;dt&gt; &lt;dd&gt; &lt;blockquote&gt;</li><li>Znaki końca linii i akapitu dodawane są automatycznie.</li></ul><input id="form-95ce4733956001e8cfc5e7bc4415dd05" name="form_build_id" type="hidden" value="form-95ce4733956001e8cfc5e7bc4415dd05"/>
<input id="edit-comment-form" name="form_id" type="hidden" value="comment_form"/>
<div class="clear-block"><div class="form-item" id="edit-notify-wrapper">
<label class="option" for="edit-notify"><input checked="checked" class="form-checkbox" id="edit-notify" name="notify" type="checkbox" value="1"/> Notify me when new comments are posted</label>
</div>
<div class="form-radios"><div class="form-item" id="edit-notify-type-1-wrapper">
<label class="option" for="edit-notify-type-1"><input class="form-radio" id="edit-notify-type-1" name="notify_type" type="radio" value="1"/> All comments</label>
</div>
<div class="form-item" id="edit-notify-type-2-wrapper">
<label class="option" for="edit-notify-type-2"><input checked="checked" class="form-radio" id="edit-notify-type-2" name="notify_type" type="radio" value="2"/> Replies to my comment</label>
</div>
</div></div><input class="mollom-content-id" id="edit-mollom-contentId" name="mollom[contentId]" type="hidden" value=""/>
<input class="mollom-captcha-id" id="edit-mollom-captchaId" name="mollom[captchaId]" type="hidden" value=""/>
<div style="display: none;"><div class="form-item" id="edit-mollom-homepage-wrapper">
<input autocomplete="off" class="form-text" id="edit-mollom-homepage" maxlength="128" name="mollom[homepage]" size="60" type="text" value=""/>
</div>
</div><div class="description mollom-privacy">By submitting this form, you accept the <a class="mollom-target" href="//mollom.com/web-service-privacy-policy" rel="nofollow">Mollom privacy policy</a>.</div><input class="form-submit" id="edit-preview" name="op" type="submit" value="Podgląd"/>
</div></form>
</div>
</div>
</div>
