---
permalink: /blog/2012/09/in-the-news-a-review-of-my-ebook-an-interview-the-hardest-languages-and-polyglotlinkcom/
layout: blog-old
title: 'In the news: A review of my ebook, an interview, the hardest languages and PolyglotLink.com!'
day: 4
month: Sep
year: 2012
category: LinguaTrek
tags: 
  - 'in the news'
language: en
translation: /blog/2012/09/w-wiadomo%C5%9Bciach-recenzja-mojego-ebooku-wywiad-najtrudniejsze-j%C4%99zyki-i-polyglotlinkcom/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/09/newsdesk.jpg" rel="lightbox"><img alt="" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/09/newsdesk.jpg" title="Photo by penelopejonze"/></a><div class="caption"><a href="http://www.flickr.com/photos/55754281@N00/4230788532">Photo</a> by <a href="http://www.flickr.com/photos/penelopejonze/">penelopejonze</a></div></div>
<p>Usually, I post articles with language learning advice or information about American or Polish culture. Today is going to be a little different.</p>
<p>Over the last two weeks, LinguaTrek (my blog) and Bibliobird (my web application for language learning) have been mentioned a number of times on the internet.</p>
<p><strong><em>Here is a quick overview!</em></strong></p>
<h2>A review of my FREE ebook!</h2>
<p>J. Snider of the excellent <a href="http://polyglottally.com/">Polyglotally.com</a> blog recently wrote a review of <a href="http://www.linguatrek.com/blog/2012/04/natural-language-learning-without-a-teacher">Natural Language Learning without a Teacher</a> in which <a href="http://polyglottally.com/blog/extreme-language-learning/natural-language-learning-without-teacher">he writes</a>:</p>
<blockquote>
<p>This e-book is of the same calibre as can be found in other e-products (like The Language Hacking Guide and Everyday Language Learner), but at a much more favourable price. Excellent content for free!</p>
</blockquote>
<p>If you have a moment, I highly recommend taking a look at J.'s blog! There is a plethora of interesting articles about language learning but not only!</p>
<h2>An interview with PolakPotrafi.pl</h2>
<p>The <a href="http://polakpotrafi.pl/project/Bibliobird">crowdfunding campaign</a> we did on <a href="http://polakpotrafi.pl/">PolakPotrafi.pl</a> (like KickStarter.com in Poland) in order to presell our <a href="http://www.linguatrek.com/blog/2012/06/the-topic-of-our-paid-product-the-presale-starts-in-a-couple-days">first paid product</a> for <a href="http://www.bibliobird.com">Bibliobird</a> was <em>"one of the most spectacular successes in Polish crowdfunding!"</em></p>
<p>Yesterday, I did an <a href="http://blog.polakpotrafi.pl/post/30803902667/ponad-200-wsparcia-dla-bibliobird-david-snopek">interview on the PolakPotrafi.pl blog</a> (in Polish) where I discuss the details of the compaign and what I believe allowed us to be so successful. The <a href="http://translate.google.pl/translate?sl=pl&amp;tl=en&amp;js=n&amp;prev=_t&amp;hl=en&amp;ie=UTF-8&amp;layout=2&amp;eotf=1&amp;u=http%3A%2F%2Fblog.polakpotrafi.pl%2Fpost%2F30803902667%2Fponad-200-wsparcia-dla-bibliobird-david-snopek&amp;act=url">Google Translate version</a> is pretty hilarious but it conveys the general idea. :-)</p>
<p><strong>Read more for the two remaining peices of news!</strong></p>
<h2>Edulider.pl: the hardest languages...</h2>
<p><a href="http://www.edulider.pl/">Edulider.pl</a>, a portal about learning, education and business, <a href="http://www.edulider.pl/edukacja/jakie-sa-najtrudniejsze-jezyki-swiata">wrote an article</a> (in Polish) about the hardest languages in the world, taking advantage of <a href="http://www.linguatrek.com/blog/2011/01/vlog-polski-nie-jest-jednym-z-najtrudniejszych-j%C4%99zyk%C3%B3w-na-%C5%9Bwiecie">my video</a> about how Polish is NOT the hardest language. :-)</p>
<p>They wrote (translated from Polish):</p>
<blockquote>
<p>Many Poles commonly consider Polish to be among the hardest languages.... The video above proves that Polish isn't all that hard.</p>
</blockquote>
<h2>PolyglotLink.com</h2>
<p><a href="http://polyglotlink.com/">PolyglotLink.com</a>, a portal to help learners find the best language learning blogs, was recently launched! LinguaTrek was one of the first blogs to become involved in the project.</p>
<p>According to the creator, Niel de la Rouviere, there are lots of cool new features comming soon! If you're interested in more information, <a href="http://polyglotlink.us2.list-manage.com/subscribe?u=8cb1857d350191921500a6ac3&amp;id=d296b543a3">subscribe to the newletter.</a></p>
<p><strong>Thanks for reading! We'll get back to talking about language learning or culture next week. :-)</strong></p>
</div>

<div id="comments">
<a id="comment-2964"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://polyglotlink.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/7217d7061084fa2ad1ba961b2f8bcd6d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Thanks for mentioning Polyglot Link. It's only started, but it's aiming for high places. Only 40 blogs for now, but there's lot more to be added, including more features.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/202/2964">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://polyglotlink.com" rel="nofollow">Niel</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/09/in-the-news-a-review-of-my-ebook-an-interview-the-hardest-languages-and-polyglotlinkcom#comment-2964">Tuesday, September 4, 2012 - 10:50</a></span>
</div>
</div>
<a id="comment-2969"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Yup, you have to wait a few months for you project(s) to be noticed, reviewed, spoken about, etc. It’s a common pattern. I’ve observed it several times with my projects. You have to have a lot of patience! But then, if a project is well designed/developed it spreads among community like a virus. :)</p>
<p>BTW David, have you received my e-mail with a remainder about you-know-what? :D</p>
<p>Ah… was the interview with Polak Potrafi guys in the form of IM? If so, I can only congratulate you on your clear thinking and formulating thoughts!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/202/2969">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/09/in-the-news-a-review-of-my-ebook-an-interview-the-hardest-languages-and-polyglotlinkcom#comment-2969">Tuesday, September 4, 2012 - 14:21</a></span>
</div>
</div>
<div class="indented"><a id="comment-2973"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Wojtek!</p>
<p>Yes, I got your e-mail. :-)</p>
<p>It was in the form of e-mail, so it's not so impressive. ;-) I'm sure you've heard the two Skype interviews I did on Real Polish - I certainly think a lot less clearly on the spot!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/202/2973">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/09/in-the-news-a-review-of-my-ebook-an-interview-the-hardest-languages-and-polyglotlinkcom#comment-2973">Tuesday, September 4, 2012 - 19:24</a></span>
</div>
</div>
</div><a id="comment-2985"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://howlearnspanish.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/378451a8d6aab6e56c0caa50495bd976?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>I'm intrigued by polyglotlink as well, it's taken off surprisingly well (no doubt due to quite a bit of behind the scenes work by its creator), I'm curious to see where it goes.</p>
<p>Congratulations on the review, I will get around to reading your book and reviewing it on my site eventually, it's just an issue of time.</p>
<p>Cheers,<br/>
Andrew</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/202/2985">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://howlearnspanish.com" rel="nofollow">Andrew</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/09/in-the-news-a-review-of-my-ebook-an-interview-the-hardest-languages-and-polyglotlinkcom#comment-2985">Thursday, September 6, 2012 - 18:51</a></span>
</div>
</div>
<div class="indented"><a id="comment-2986"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks! Ooo, I really can't wait to see your review of the ebook. :-)</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/202/2986">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/09/in-the-news-a-review-of-my-ebook-an-interview-the-hardest-languages-and-polyglotlinkcom#comment-2986">Friday, September 7, 2012 - 06:50</a></span>
</div>
</div>
</div>
</div>
