---
permalink: /blog/2012/09/jak-nauczyć-się-języka-technicznego-lub-innego-specjalistycznego/
layout: blog-old
title: 'Jak nauczyć się języka technicznego (lub innego specjalistycznego)?'
day: 18
month: Sep
year: 2012
category: language learning
tags: 
  - 'specialized language'
language: en
translation: /blog/2012/09/jak-nauczy%C4%87-si%C4%99-j%C4%99zyka-technicznego-lub-innego-specjalistycznego/
---
<div class="content">
<p><em>(Nie martw się, to jest artykuł z poradami odnośnie nauki języka! Chciałem jednak dać znać, że mój płatny produkt do pomocy Polakom w nauce angielskiego - „Real Life in the USA” - startuje w poniedziałek, 1 października. <a href="https://pl.bibliobird.com/node/14654">Tutaj</a> możesz dowiedzieć się więcej i dostać zniżkę!)</em></p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/09/technology.jpg" rel="lightbox"><img alt="Pokój pełen komputerów" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/09/technology.jpg" title="Zdjęcie autorstwa ClintJCL"/></a><div class="caption"><a href="http://www.flickr.com/photos/clintjcl/3109105564/in/photostream/">Zdjęcie</a> autorstwa <a href="http://www.flickr.com/photos/clintjcl/">ClintJCL</a></div></div>
<p>Ja osobiście uczyłem się polskiego <a href="http://www.linguatrek.com/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego">czytając i słuchając książek o „Harrym Potterze”</a> po polsku. Podczas, gdy książka fantasy, taka jak „Harry Potter” jest świetna do ogólnej nauki języka, nie będzie ona najlepszym wyborem, jeśli masz na celu naukę języka specjalistycznego.</p>
<p>W <a href="http://www.linguatrek.com/blog/2012/04/vlog-naturalna-nauka-j%C4%99zyka-bez-nauczyciela">moim darmowym ebooku</a>, wyjaśniam, że do nauki powinieneś wybrać książkę, w której użyty jest taki rodzaj języka, jakiego chcesz się nauczyć.</p>
<p><strong>Mimo, że jest to ogólnie świetna porada, wiele osób ma problem z wdrożeniem jej w praktyce!</strong></p>
<p>W zasadzie, <em>tak często</em> otrzymywałem następujące pytanie, iż postanowiłem, że nadszedł czas, aby napisać na ten temat pełny artykuł:</p>
<blockquote>
<p>W jaki sposób mogę nauczyć się słownictwa technicznego? Chcę nauczyć się pisania programów komputerowych, ale większość materiałów i dokumentacji jest po angielsku. Czy użycie tej samej metody, którą Ty uczyłeś się polskiego, jest możliwe?</p>
<p>Nie ma oczywiście żadnych audiobooków dla literatury technicznej. Ale napisałeś, że <a href="http://www.linguatrek.com/blog/2012/01/the-importance-of-listening">słuchanie jest niesamowicie istotne</a>! Jak mogę to zrobić?</p>
</blockquote>
<p>Znalezienie dobrych materiałów do czytania i słuchania dla języka programistycznego - i większości innych języków specjalistycznych - z pewnością jest możliwe!</p>
<p><strong>Czytaj dalej, aby dowiedzieć się jak to zrobić!</strong></p>
<h2>Język specjalistyczny</h2>
<p>Każde zainteresowanie, hobby czy zawód ma swój własny język specjalistyczny. Istnieje język filmu, księgowości, koszykówki oraz język szewski. Każdy z nich posiada tuziny, setki lub nawet tysiące <em>terminów</em>. </p><p><a href="http://pl.wikipedia.org/wiki/Termin">Termin</a> to słowo lub zwrot, który jest charakterystyczny dla konkretnego kontekstu lub używany w sposób, który ma sens jedynie w danym kontekście.</p>
<p>Znalezienie tekstów i materiałów audio, które wykorzystują rodzaj języka, którego chcesz się nauczyć, może być trudne - <em>zależy to też od rodzaju języka!</em></p>
<p>Ponieważ <em>wiele</em> osób pytało konkretnie o angielski język informatyczny i jest to coś, na czym się osobiście dobrze znam (jestem profesjonalnym programistą), w tym artykule użyję języka technicznego, jako przykładu.</p>
<p><strong>Ale <em>możesz</em> znaleźć materiały dla każdego języka specjalistycznego!</strong></p>
<h2>Staraj się nie tłumaczyć terminów!</h2>
<p>Jedna rada na początek: <em>staraj się nie tłumaczyć terminów!</em></p>
<p>Nawet, jeśli posiadasz ogromny słownik, będą w nim wyjaśnione jedynie terminy z najpopularniejszych dziedzin. Wiele specjalistycznych terminów nigdy nie zostało dodanych do tradycyjnych słowników - można je jednak znaleźć w glosariuszach lub na <a href="http://www.wikipedia.org">Wikipedii</a>.</p>
<p>Jednak najlepszym sposobem jest nauka terminów poprzez częste napotykanie ich w kontekście. Staraj się myśleć o terminie <em>jedynie</em> w języku docelowym - nie o dosłownym tłumaczeniu na Twój język ojczysty.</p>
<h2>Znajdowanie materiałów pisemnych</h2>
<p>W przypadku języka technicznego, nigdy nie zabraknie Ci materiałów pisemnych! <em>(Może tak jednak nie być w przypadku innych języków specjalistycznych.)</em></p>
<p>Oto kilka kreatywnych miejsc, w których można znaleźć materiały pisemne oraz kilka popularnych przykładów informatyki po angielsku:</p>
<ul>
<li><strong>Blogi</strong>: <ul>
<li><a href="http://www.codinghorror.com/blog/">Coding Horror</a></li>
<li><a href="http://www.joelonsoftware.com/">Joel on Software</a></li>
</ul>
</li>
<li><strong>Zbiory materiałów / strony społecznościowe z zakładkami</strong>: <ul>
<li><a href="http://technorati.com/">Technorati</a></li>
<li><a href="http://www.reddit.com/r/technology/">Reddit</a></li>
</ul>
</li>
<li><strong>Tematyczne serwisy informacyjne</strong>: <a href="http://techcrunch.com/">TechCrunch</a></li>
<li><strong>Fora</strong>: <ul>
<li><a href="http://www.codeguru.com/">CodeGuru.com</a></li>
<li><a href="http://forums.devshed.com/">Dev Shed</a></li>
<li><a href="http://www.programmingforums.org/">ProgrammingForums.org</a></li>
</ul>
</li>
<li><strong>Grupy na Facebooku lub LinkedIn</strong></li>
<li><strong>Czaty internetowe</strong>: <a href="http://freenode.net/irc_servers.shtml">IRC na Freenode.net</a></li>
<li><strong>Podręczniki</strong>: <ul>
<li><a href="http://www.amazon.com/Computer-Programming-Volumes-1-4A-Boxed/dp/0321751043/ref=la_B000AQ6O7M_1_1?ie=UTF8&amp;qid=1347467790&amp;sr=1-1">The Art of Computer Programming</a></li>
<li><a href="http://www.amazon.com/Design-Patterns-Elements-Reusable-Object-Oriented/dp/0201633612/ref=sr_1_1?s=books&amp;ie=UTF8&amp;qid=1347467861&amp;sr=1-1&amp;keywords=design+patterns">Design Patterns</a></li>
</ul>
</li>
</ul>
<h2>Znajdowanie materiałów audio</h2>
<p>W przypadku wielu języków specjalistycznych, audiobooki mogą należeć do rzadkości. Dokładnie tak mają się sprawy w przypadku informatyki.</p>
<p><strong>Jednak najlepszą sugestią (chyba dla każdej dziedziny) są <em>podcasty</em>.</strong></p>
<p><em>Podcasty</em> są jak audycje radiowe, z tym, że możesz je ściągnąć i odsłuchać w dowolnym momencie. Fajne jest to, że wiele z nich posiada transkrypcje! Nie jest tak w przypadku większości innych źródeł audio.</p>
<p><a href="http://www.apple.com/itunes/">iTunes</a> jest najlepszym miejscem na poszukiwanie podcastów na każdy temat. Tutaj jednak podaję kilka sugestii konkretnie dla informatyki po angielsku z transkrypcją:</p>
<ul>
<li><a href="http://www.kalzumeus.com/category/podcasts/">Kalzemeus</a></li>
<li><a href="https://stackoverflow.fogbugz.com/default.asp?W4">StackOverflow Podcast</a></li>
<li><a href="http://www.sitepoint.com/category/podcast/">Sitepoint</a></li>
<li><a href="http://www.grc.com/securitynow.htm">Security Now!</a></li>
</ul>
<p>Możesz też znaleźć wiele dobrych materiałów audio na <a href="http://www.youtube.com">YouTube</a> oraz <a href="http://www.vimeo.com">Vimeo</a>.</p>
<h2>Włącz się do dyskusji!</h2>
<p>Czy próbujesz uczyć się jakiegoś języka specjalistycznego w języku obcym? Jakiego?</p>
<p>Czy udało Ci się znaleźć jakieś materiały? Co to było? Czy nadal masz problemy?</p>
<p><strong>Napisz komentarz poniżej!</strong></p>
</div>

<div id="comments">
<a id="comment-2994"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://maxik.me" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/07591a7dafa50fa2fcc99f2eeee8f99d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Z podcastów polecam prelekcje TED. Na iTunes jest wersja audio i wideo, a na stronie ted.com można obejrzeć dany odcinek z napisami, na początku angielskimi, z czasem dodawane są tłumaczenia, także na język polski. Język nie jest może stricte techniczny, ale nie jest też ogólny.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/205/2994">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://maxik.me" rel="nofollow">Maxik</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/09/jak-nauczy%C4%87-si%C4%99-j%C4%99zyka-technicznego-lub-innego-specjalistycznego#comment-2994">Tuesday, September 18, 2012 - 11:25</a></span>
</div>
</div>
<a id="comment-3005"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/866eee6d18fde213a58eda8e64588f41?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>cześć :)</p>
<p>przepraszam jeśli jest trochę nie na temat ale może sporo wnieść do języka. ja uważam, że dobrym sposobem na poznanie języka jest dostać się do zagranicznych uczelni wyższych. tam można na odpowiednich kierunkach na pewno poznać interesujące cię słownictwo specjalistyczne.a co do materiału pisemnego to biblioteki są dobrym rozwiązaniem.</p>
<p>a teraz drobne odejście od tematu. niby według rankingów to brytyjskie i amerykańskie uczelnie są najlepsze na świecie(nie zgadzam się z tym stwierdzeniem). Ciekawi mnie tylko dlaczego tak ciągle jest,że anglojęzyczne uczelnie są uważane za najlepsze(a nie konieczne są najlepszymi)</p>
<p>Lista według rankingów(pierwsze 10)<br/>
1.Massachusetts Institute of Technology<br/>
2.University of Cambridge<br/>
3.Harvard University<br/>
4.University College London<br/>
5.University of Oxford<br/>
6.Imperial College London<br/>
7.Yale University<br/>
8.University of Chicago<br/>
9.Princeton University<br/>
10.California Institute of Technology</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/205/3005">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">z polski (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/09/jak-nauczy%C4%87-si%C4%99-j%C4%99zyka-technicznego-lub-innego-specjalistycznego#comment-3005">Thursday, September 20, 2012 - 16:32</a></span>
</div>
</div>
<div class="indented"><a id="comment-3006"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/866eee6d18fde213a58eda8e64588f41?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>pomyłka sporo do tematu *</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/205/3006">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">z polski (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/09/jak-nauczy%C4%87-si%C4%99-j%C4%99zyka-technicznego-lub-innego-specjalistycznego#comment-3006">Thursday, September 20, 2012 - 16:33</a></span>
</div>
</div>
</div><a id="comment-3007"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4ae0ef34e3270da87d08b72c086f940b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hej Dawid,<br/>
Mam takie pytanie. Znasz może kogoś albo wiesz może gdzie można dorwać teksty związane z wiertnictwem, geofizyką oraz geologią i energetyką? Albo jakieś ciekawe podcasty związane z tą tematyką?<br/>
pozdrawiam</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/205/3007">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Bartek Staszkiewicz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/09/jak-nauczy%C4%87-si%C4%99-j%C4%99zyka-technicznego-lub-innego-specjalistycznego#comment-3007">Friday, September 21, 2012 - 11:22</a></span>
</div>
</div>
<div class="indented"><a id="comment-3014"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Bartek!</p>
<p>Sam nie interesuję się tymi tematami, więc nie znam żadnych stron lub podcastów z własnego doświadczenia. Ale znalazłem sporo w poszukiwaniu w Googlu i na iTunes!</p>
<p>Na przykład:</p>
<p><a href="http://geology.com/" title="http://geology.com/">http://geology.com/</a></p>
<p><a href="http://librivox.org/the-elements-of-geology-by-william-harmon-norton/" title="http://librivox.org/the-elements-of-geology-by-william-harmon-norton/">http://librivox.org/the-elements-of-geology-by-william-harmon-norton/</a><br/>
(To znalazłem na iTunes)</p>
<p>Mam nadzieję, że to pomoże!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/205/3014">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/09/jak-nauczy%C4%87-si%C4%99-j%C4%99zyka-technicznego-lub-innego-specjalistycznego#comment-3014">Tuesday, September 25, 2012 - 13:50</a></span>
</div>
</div>
</div>
</div>
