---
permalink: /blog/2012/09/rzeczy-które-kocham-w-polsce-nr-06-jedzenie-na-mieście/
layout: blog-old
title: 'Rzeczy, które kocham w Polsce, nr 06: Jedzenie na mieście!'
day: 25
month: wrz
year: 2012
category: Poland
tags: 
  - 'Things I Love About Poland'
language: pl
translation: /blog/2012/09/things-i-love-about-poland-06-eating-out/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 147px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/09/zapiekanka.jpg" rel="lightbox"><img alt="Zapiekanka" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/09/zapiekanka.jpg" title="Zapiekanka. Zdjęcie autorstwa Mariuszjbie."/></a><div class="caption">Zapiekanka. <a href="http://commons.wikimedia.org/wiki/File:Zapiekanka_2..jpg">Zdjęcie</a> autorstwa Mariuszjbie.</div></div>
<p><strong>To jest <em>szósty</em> artykuł z serii "<a href="http://www.linguatrek.com/tags/things-i-love-about-poland">Rzeczy, które kocham w Polsce</a>," w której omawiam różnice między Polską a USA.</strong></p>
<p>Trochę minęło, od kiedy napisałem ostatni artykuł z tej serii! Zaraz po powrocie z naszej ostatniej wycieczki do Polski (w październiku 2010), zrobiłem listę ponad <em>dwudziestu tematów</em> do opisania. :-)</p>
<p>Miałem nadzieję odwiedzić Polskę ponownie w jesień tego roku, ale z nawałem pracy, którą mamy przy Bibliobirdzie, nie wydaje się to możliwe. :-/</p>
<p><em>(A propos, nasz płatny produkt do pomocy Polakom w nauce angielskiego - "Real Life in the USA" - startuje w poniedziałek, 1 października. <a href="https://en.bibliobird.com/node/14452">Tutaj</a> dowiesz się więcej i dostaniesz zniżkę!)</em></p>
<p><strong>Teraz, kiedy nadeszła jesień, nachodzi mnie nostalgia!</strong></p>
<p>W moim <a href="http://www.linguatrek.com/blog/2010/11/things-i-love-about-poland-01-waiters-leave-you-alone">pierwszym artykule z tej serii</a>, opisałem jedną z rzeczy, które uwielbiam w jedzeniu na mieście w Polsce - a dzisiaj opowiem o jeszcze trzech!</p>
<p><strong>Czytaj dalej, aby dowiedzieć się o co chodzi!</strong></p>
<h2>Wegetariańskie restauracje</h2>
<p>To <a href="http://www.linguatrek.com/blog/2010/11/vlog-5-fakt%C3%B3w-o-mnie">żadna tajemnica</a>, że od kilku lat jestem wegetarianinem. Zdaje się, że większość Polaków sądzi, iż Polska nie jest krajem przyjaznym wegetarianom - <em>ale to nieprawda!</em></p>
<p>Kiedy byliśmy w Krakowie, było tam kilka wegetariańskich restauracji. Najbardziej do gustu przypadła nam <a href="http://vegarestauracja.pl/">VEGA</a> na ul. Krupniczej, ale była też druga VEGA na św. Gertrudy (wygląda na to, że teraz jest zamknięta) oraz <a href="http://www.chimera.com.pl/">Chimera</a> na św. Anny.</p>
<p><strong>Wiecie, ile jest wegetariańskich restauracji w Milwaukee? <em>Zero!</em></strong></p>
<p>Jest jedna w Brookfield, dzielnicy oddalonej o 30 minut jazdy od naszego domu a my nie mamy samochodu. Nie trzeba więc tłumaczyć, że nigdy tam nie jadłem.</p>
<p>Przywykłem do przeglądania restauracyjnych menu w poszukiwaniu jednej czy dwóch rzeczy, które mogę zjeść. Ale odwiedziny w wegetariańskiej restauracji <em>gdzie mogę zjeść każdą pozycję z karty</em> to takie wspaniałe doświadczenie! I jest to coś, czego doświadczyłem jedynie w Polsce. :-)</p>
<h2>Sos</h2>
<p>W Polsce można spotkać szeroką gamę sosów, podawanych z różnymi potrawami - czasem zaskakującymi dla Amerykanina, na przykład: z pizzą!</p>
<p>Jeśli w Polsce wybierzesz się do porządnego lokalu z pizzą, będziesz mógł wybierać spośród kilku sosów, wliczając w to: ketchup, sos czosnkowy, sosy na bazie majonezu, oraz inne, w zależności od restauracji (ja byłem w takiej gdzie podawali <a href="http://en.wikipedia.org/wiki/Sambal">sos sambal</a>). Ale nawet w najmarniejszej restauracji zaproponują Ci ketchup do pizzy.</p><p>
</p><p>Ja zwykle polewam trochę sosem mój kawałek pizzy zanim go zjem.</p>
<h2>Zapiekanki</h2>
<p><a href="http://en.wikipedia.org/wiki/Zapiekanka">Zapiekanka</a> to połowa bagietki, zapiekana z serem i innymi dodatkami, często grzybami i mięsem, ale w zasadzie można na niej położyć wszystko!</p>
<p>Kiedy byliśmy w Krakowie, sporo czasu spędziliśmy po prostu spacerując po centrum. Prawie na każdym rogu można kupić zapiekanki albo <a href="http://en.wikipedia.org/wiki/Kebab">kebaba</a> prosto z ulicy. To świetna sprawa, jeśli cały dzień chodzisz i zwiedzasz albo musisz wrzucić coś na ząb po drodze do domu z nocnego wypadu.</p>
<p>Nasze ulubione miejsce na zapiekanki było na Placu Nowym w Kazimierzu, gdzie (zgadliście!) oferowali duży wybór sosów. :-)</p>
<p>W Milwaukee nie ma wiele budek z jedzeniem. W lato można spotkać w śródmieściu parę budek z hot dogami. Ale jest ich niewiele i stoją daleko od siebie - myślę, że to dlatego, iż mało ludzi chodzi pieszo, większość jeździ.</p>
<p><strong>Czy kiedykolwiek byłeś w wegetariańskiej restauracji, jadłeś pizzę z ketchupem (lub innym sosem) albo próbowałeś zapiekanki w Polsce? Albo (jeśli jesteś Polakiem) uważasz, że to dziwne, że nie mamy tego w USA? Napisz komentarz poniżej!</strong></p>
</div>

<div id="comments">
<a id="comment-3012"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.zarchipelagu.tk" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/203ff44100d14c74880708827e6b7dfc?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>He, he:) Jak zapiekanki w Krakowie, to tylko na takim małym ryneczku na Kazimierzu!!!! Zwłaszcza z oscypkiem, pycha!!!<br/>
W Warszawie na Muranowie otworzyli niedawno restaurację wegańską, wszystkie potrawy surowe, oczywiście bez mięsa, szczególnie koktajle mają dobre, niespotykane smaki np. połączenie szpinaku i cynamonu, i wiele innych. Dość ciekawie spróbować, chociaż raz. Ale nazwy lokalu nie pamiętam:).</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/207/3012">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.zarchipelagu.tk" rel="nofollow">monique</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/09/rzeczy-kt%C3%B3re-kocham-w-polsce-nr-06-jedzenie-na-mie%C5%9Bcie#comment-3012">wtorek, wrzesień 25, 2012 - 11:57</a></span>
</div>
</div>
<div class="indented"><a id="comment-3034"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Monique!</p>
<p>Nigdy nie byłem w wegańskiej restauracji! Następnym razem jak będę w Warszawie będę musiał to spróbować. :-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/207/3034">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/09/rzeczy-kt%C3%B3re-kocham-w-polsce-nr-06-jedzenie-na-mie%C5%9Bcie#comment-3034">czwartek, wrzesień 27, 2012 - 11:33</a></span>
</div>
</div>
</div><a id="comment-3020"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/80cba913aa8819de858adb2c0256adc7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Cześć Davidzie! Dawno nie komentowałam Twoich artykułów, ale uporczywie namawiam Cię do oglądania Czasu Honoru, to najlepszy polski serial ostatnich lat,</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/207/3020">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Agnieszka (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/09/rzeczy-kt%C3%B3re-kocham-w-polsce-nr-06-jedzenie-na-mie%C5%9Bcie#comment-3020">wtorek, wrzesień 25, 2012 - 14:40</a></span>
</div>
</div>
<div class="indented"><a id="comment-3035"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Agnieszka!</p>
<p>Zamierzam to zrobić! Dość dużo osób to mi polecało. Niestety od dawna nie miałem czasu na oglądanie telewizji. Mam nadzieję, że wkrótce będę miał wolną chwilę. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/207/3035">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/09/rzeczy-kt%C3%B3re-kocham-w-polsce-nr-06-jedzenie-na-mie%C5%9Bcie#comment-3035">czwartek, wrzesień 27, 2012 - 11:35</a></span>
</div>
</div>
</div><a id="comment-3024"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/3edaefc3d69a4bf6a0e4b474303c6d06?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Witaj David<br/>
Tydzień temu przyjechałam do Anglii i tu też nie ma takich budek z zapiekankami czy hot-dogami jak w Polsce, mimo, ze powstało dużo polskich sklepów z polską żywnością a język polski słychać na każdej ulicy.<br/>
Szukam pracy i  uczę sę angielskiego, bo mam duże trudności z porozumiewaniem się.<br/>
Czekam na "Real Life in the USA"!<br/>
Pozdrawiam - Anna.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/207/3024">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anna Z. (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/09/rzeczy-kt%C3%B3re-kocham-w-polsce-nr-06-jedzenie-na-mie%C5%9Bcie#comment-3024">środa, wrzesień 26, 2012 - 03:17</a></span>
</div>
</div>
<div class="indented"><a id="comment-3036"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Anna!</p>
<p>Życzę powodzenia w znalezieniu pracy! "Real Life in the USA" będzie dostępny już wkrótce - mam strasznie dużo pracy w następnych kilku dni. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/207/3036">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/09/rzeczy-kt%C3%B3re-kocham-w-polsce-nr-06-jedzenie-na-mie%C5%9Bcie#comment-3036">czwartek, wrzesień 27, 2012 - 11:37</a></span>
</div>
</div>
</div><a id="comment-3025"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/47fab4b41d091115a25626cb804e54cd?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Witaj Davidzie,<br/>
szkoda, że nie trafiłeś do naleśnikarni w Krakowie. Mają doskonały wybór naleśników z różnymi ...... sosami :)<br/>
Pozdrawiam</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/207/3025">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/09/rzeczy-kt%C3%B3re-kocham-w-polsce-nr-06-jedzenie-na-mie%C5%9Bcie#comment-3025">środa, wrzesień 26, 2012 - 12:23</a></span>
</div>
</div>
<div class="indented"><a id="comment-3037"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hehe, no, zawsze jest następny raz. :-) Podobają mi naleśniki.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/207/3037">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/09/rzeczy-kt%C3%B3re-kocham-w-polsce-nr-06-jedzenie-na-mie%C5%9Bcie#comment-3037">czwartek, wrzesień 27, 2012 - 11:38</a></span>
</div>
</div>
</div><a id="comment-3026"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/bab11a25428eddf694615e0fdaa02ef6?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Cześć David!<br/>
Tak jak ty, kocham Polskę :)<br/>
Prawdopodobnie jestem jedynym włochem który uczę się polskiego dobrowolnie! :D<br/>
Moj przyjaciele twierdzą że jestem szalony...:p<br/>
Ale to nie mój problem! :D<br/>
Dzięki za twoich widea i artykuły!<br/>
Może zrobiłem dużo błędów, ale jak się mówi: praktyka czyni mistrza! ;)<br/>
Pozdrawiam z Włoch<br/>
Pietro</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/207/3026">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/09/rzeczy-kt%C3%B3re-kocham-w-polsce-nr-06-jedzenie-na-mie%C5%9Bcie#comment-3026">czwartek, wrzesień 27, 2012 - 07:01</a></span>
</div>
</div>
<div class="indented"><a id="comment-3038"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Pietro!</p>
<p>Dzięki za komentarz! Nie widzę tak dużo błędów ale nie jestem Polakiem więc jest mi trudno ocenić. :-)</p>
<p>No, poznałem parę Włochów w Krakowie, którzy mieszkają w Polsce na stały i kochają ten piękny kraj! Na pewno jest trudniej na takich podobnych trafić na Włoszech.</p>
<p>Życzę Ci dalszych sukcesów w nauce j. polskiego!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/207/3038">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/09/rzeczy-kt%C3%B3re-kocham-w-polsce-nr-06-jedzenie-na-mie%C5%9Bcie#comment-3038">czwartek, wrzesień 27, 2012 - 11:41</a></span>
</div>
</div>
<a id="comment-3045"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Cześć!</p>
<p>W Bielsku-Białej, w mieście w którym mieszkam byś się na pewno odnalazł. Chociaż jest to miasto turystyczne, jest tu dobrze rozwinięty przemysł samochodowy, w tym także fabryka Fiata (w Polsce jest jeszcze w Tychach). W związku z tym jestem pewny, że jest tu trochę Włochów. Od czasu do czasu spotykam się właśnie z ogłoszeniami o pracę z wymaganym włoskim.</p>
<p>Zrobiłeś bardzo mało błędów – naliczyłem jedynie trzy małe:<br/>
• powinno być „który uczy się[…]”<br/>
• powinno być „za twoje[…]”<br/>
• „wideo” się nie odmienia, bo to w polskim brzmi bardzo śmiesznie; jednak czasem Polacy specjalnie, „dla jaj” przekręcają ten i podobne wyrazy: „wideła (widea), kakała (kakao)” hehe<br/>
• lepiej napisać „dzięki za twoje filmy/filmiki</p>
<p>pozdrawiam popijając podwójne esspresso :D</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/207/3045">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/09/rzeczy-kt%C3%B3re-kocham-w-polsce-nr-06-jedzenie-na-mie%C5%9Bcie#comment-3045">niedziela, wrzesień 30, 2012 - 09:22</a></span>
</div>
</div>
</div><a id="comment-3060"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/f197639a3b31753c85121c67daa04814?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Wrzucić coś na ząb :) fajny zwrot który świadczy o wysokiej znajomości jeżyka polskiego gratuluje Ci wciąż mnie zadziwiasz pozdrawiam :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/207/3060">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Ja125 (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/09/rzeczy-kt%C3%B3re-kocham-w-polsce-nr-06-jedzenie-na-mie%C5%9Bcie#comment-3060">wtorek, październik 2, 2012 - 12:51</a></span>
</div>
</div>
<div class="box">
<h2>Dodaj nową odpowiedź</h2>
<div class="content"><form accept-charset="UTF-8" action="/comment/reply/207" id="comment-form" method="post">
<div><div class="form-item" id="edit-name-wrapper">
<label for="edit-name">Nazwisko lub pseudonim: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-name" maxlength="60" name="name" size="30" type="text" value="Anonymous"/>
</div>
<div class="form-item" id="edit-mail-wrapper">
<label for="edit-mail">E-mail: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-mail" maxlength="64" name="mail" size="30" type="text" value=""/>
<div class="description">Zawartość pola nie będzie udostępniana publicznie. If you have a <a href="http://www.gravatar.com">Gravatar</a> account, used to display your avatar.</div>
</div>
<div class="form-item" id="edit-homepage-wrapper">
<label for="edit-homepage">Strona domowa: </label>
<input class="form-text" id="edit-homepage" maxlength="255" name="homepage" size="30" type="text" value=""/>
</div>
<div class="form-item" id="edit-comment-wrapper">
<label for="edit-comment">Odpowiedź: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<textarea class="form-textarea resizable required" cols="60" id="edit-comment" name="comment" rows="15"></textarea>
</div>
<ul class="tips"><li>Adresy internetowe są automatycznie zamieniane w odnośniki, które można kliknąć.</li><li>Dozwolone znaczniki HTML: &lt;a&gt; &lt;em&gt; &lt;strong&gt; &lt;cite&gt; &lt;code&gt; &lt;ul&gt; &lt;ol&gt; &lt;li&gt; &lt;dl&gt; &lt;dt&gt; &lt;dd&gt; &lt;blockquote&gt;</li><li>Znaki końca linii i akapitu dodawane są automatycznie.</li></ul><input id="form-42d3afd3a7c9e69813fa7bc3cc8cdcbe" name="form_build_id" type="hidden" value="form-42d3afd3a7c9e69813fa7bc3cc8cdcbe"/>
<input id="edit-comment-form" name="form_id" type="hidden" value="comment_form"/>
<div class="clear-block"><div class="form-item" id="edit-notify-wrapper">
<label class="option" for="edit-notify"><input checked="checked" class="form-checkbox" id="edit-notify" name="notify" type="checkbox" value="1"/> Notify me when new comments are posted</label>
</div>
<div class="form-radios"><div class="form-item" id="edit-notify-type-1-wrapper">
<label class="option" for="edit-notify-type-1"><input class="form-radio" id="edit-notify-type-1" name="notify_type" type="radio" value="1"/> All comments</label>
</div>
<div class="form-item" id="edit-notify-type-2-wrapper">
<label class="option" for="edit-notify-type-2"><input checked="checked" class="form-radio" id="edit-notify-type-2" name="notify_type" type="radio" value="2"/> Replies to my comment</label>
</div>
</div></div><input class="mollom-session-id" id="edit-mollom-session-id" name="mollom[session_id]" type="hidden" value=""/>
<div style="display: none;"><div class="form-item" id="edit-mollom-homepage-wrapper">
<input class="form-text" id="edit-mollom-homepage" maxlength="128" name="mollom[homepage]" size="60" type="text" value=""/>
</div>
</div><div class="description mollom-privacy">Wysłanie formularza jest równoznaczne z akceptacją <a href="http://mollom.com/web-service-privacy-policy">polityki prywatności usługi Mollom</a>.</div><input class="form-submit" id="edit-preview" name="op" type="submit" value="Podgląd"/>
</div></form>
</div>
</div>
</div>
