---
permalink: /blog/2012/09/things-i-love-about-poland-06-eating-out/
layout: blog-old
title: 'Things I Love About Poland #06: Eating out!'
day: 25
month: Sep
year: 2012
category: Poland
tags: 
  - 'Things I Love About Poland'
language: en
translation: /blog/2012/09/rzeczy-kt%C3%B3re-kocham-w-polsce-nr-06-jedzenie-na-mie%C5%9Bcie/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 147px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/09/zapiekanka.jpg" rel="lightbox"><img alt="Zapiekanka" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/09/zapiekanka.jpg" title="A zapiekanka. Photo by Mariuszjbie."/></a><div class="caption">A zapiekanka. <a href="http://commons.wikimedia.org/wiki/File:Zapiekanka_2..jpg">Photo</a> by Mariuszjbie.</div></div>
<p><strong>This is the <em>sixth</em> installment in my series of articles called "<a href="http://www.linguatrek.com/tags/things-i-love-about-poland">Things I Love About Poland</a>," in which I discuss differences between Poland and the USA.</strong></p>
<p>It's been awhile since I wrote an article in this series!  Right when we got back from our last trip to Poland (in October 2010), I made a list of over <em>twenty ideas</em> to write about. :-)</p>
<p>I was hoping to visit Poland again in the fall this year, but with all the work we're doing on Bibliobird, it looks like that will be impossible. :-/</p>
<p><em>(BTW, our paid product to help Poles learn English - "Real Life in the USA" - is going to be launched on Monday, October 1st. Learn more <a href="https://en.bibliobird.com/node/14452">here</a> and get a discount!)</em></p>
<p><strong>So, now that fall has come, I'm feeling a little nostalgic!</strong></p>
<p>In my <a href="http://www.linguatrek.com/blog/2010/11/things-i-love-about-poland-01-waiters-leave-you-alone">first article in this series</a>, I wrote about one thing I love about going out to eat in Poland - and today I'm going to tell you three more!</p>
<p><strong>Read more to find out what they are!</strong></p>
<h2>Vegetarian restaurants</h2>
<p>It's <a href="http://www.linguatrek.com/blog/2010/11/vlog-5-fakt%C3%B3w-o-mnie">no secret</a> that I've been a vegetarian for the past few years. Most Poles seem to think that Poland isn't a vegetarian friendly country - <em>but it's not true!</em></p>
<p>When we were in Kraków, there were several vegetarian restaurants.  Our personal favorite was <a href="http://vegarestauracja.pl/">VEGA</a> on Krupnicza street, but there was also a location on św. Gertrudy (looks like it's closed now) and <a href="http://www.chimera.com.pl/">Chimera</a> on św. Anny.</p>
<p><strong>Do you know how many vegetarian restaurants there are in Milwaukee? <em>None!</em></strong></p>
<p>There is one in Brookfield, a suburb that's a 30 minute drive from our house and we don't have a car. So, needless to say, I've never eaten there.</p>
<p>I've gotten used to skimming restaurant menus for the one or two things I can eat. But going to a vegetarian restaurant <em>where I can eat anything on the menu</em> is such a wonderful experience! And it's something that I've only ever experienced in Poland. :-)</p>
<h2>Sauce</h2>
<p>In Poland, there is a wide variety of sauces served with lots of foods - some that an American would never expect, for example: pizza!</p>
<p>If you go out to a decent place for pizza in Poland, you'll be able to choose from a few sauces, including: ketchup, garlic sauce, mayonnaise-based sauces, and others depending on the restaurant (I've been to one with <a href="http://en.wikipedia.org/wiki/Sambal">sambal sauce</a>).  But even the crappiest restaurant will offer you ketchup to go with your pizza.</p><p>
</p><p>I usually pour a little bit of the sauce on my slice of pizza before eating it.</p>
<h2>Zapiekanki</h2>
<p>A <a href="http://en.wikipedia.org/wiki/Zapiekanka">zapiekanka</a> is half of a baguette, baked with cheese and other toppings, commonly mushrooms and meat, but you can put pretty much anything on it!</p>
<p>When we were in Kraków, we spent a lot of our free time just walking around the city center. On almost every corner you can buy zapiekanki or <a href="http://en.wikipedia.org/wiki/Kebab">kebab</a>, right on the street.  This is great if you're walking around all day sightseeing or need to get something to eat on your way home from a night out.</p>
<p>Our favorite place for zapiekanki was on Plac Nowy in Kazimierz, where (you guessed it!) there was a large selection of sauces. :-)</p>
<p>In Milwaukee, there isn't much in the way of street food. In the summer, there are a couple of hot dog stands downtown. But they are few and far between - I think because few people walk, most are driving.</p>
<p><strong>Have you ever visited a vegetarian restaurant, had ketchup (or other sauce) on pizza or tried a zapiekanka in Poland? Or (if you're Pole) do you think it's strange that we don't have these things in the USA? Write a comment below!</strong></p>
</div>

<div id="comments">
<a id="comment-3013"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>No, I don’t think that it’s strange. Though I’m happy that street trade has not been completely destroyed (as it is being) by the government, many of these food stands are just well… seedy.</p>
<p>For some time I developed a taste for kebab. If Turks had to conquer western civilization, they did a first step – with kebab. :D</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/206/3013">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/09/things-i-love-about-poland-06-eating-out#comment-3013">Tuesday, September 25, 2012 - 12:17</a></span>
</div>
</div>
<div class="indented"><a id="comment-3033"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hehe, Turkish food is pretty fantastic. :-) We don't have much in Milwaukee (more Arab and Middle Eastern) but there's some great Turkish restaurants in the Twin Cities (Minneapolis and St. Paul) where I've spent a lot of time. Probably can't eat too much of it anymore though, now that I'm a vegetarian.</p>
<p>Take care!<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/206/3033">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/09/things-i-love-about-poland-06-eating-out#comment-3033">Thursday, September 27, 2012 - 11:31</a></span>
</div>
</div>
</div><a id="comment-3015"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://howlearnspanish.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/378451a8d6aab6e56c0caa50495bd976?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Oh that sounds fantastic, especially the sauces (I love sauces) especially for pizza and especially garlic sauce for pizza (I used to love Papa Johns specifically because you got garlic sauce--I later learned it's got some really funky ingredients in it, however).  The Zapiekanki sounds wonderful as well, anything involving good bread and melted cheese is bound to be awesome.</p>
<p>I think Poland is one of those countries where the cuisine is severely underestimated and deserves a lot more recognition, kind of reminds me of Portugal and Germany in that regard.  I don't get why everyone hates on Germany's food, how could anyone not love sausage and beer?!</p>
<p>Cheers,<br/>
Andrew</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/206/3015">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://howlearnspanish.com" rel="nofollow">Andrew</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/09/things-i-love-about-poland-06-eating-out#comment-3015">Tuesday, September 25, 2012 - 14:11</a></span>
</div>
</div>
<div class="indented"><a id="comment-3018"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d8fb6c700d79cba134cbbd0e6c896208?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Andrew,I assure you that Polish people loves beer and sausages :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/206/3018">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Mimi (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/09/things-i-love-about-poland-06-eating-out#comment-3018">Tuesday, September 25, 2012 - 14:16</a></span>
</div>
</div>
<a id="comment-3030"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Who hates German food?! It's extremely popular here in Milwaukee, even  some of the weirder stuff. :-) Probably has to do with the history of German immigration to this area.</p>
<p>If you have a chance to try some Polish food, you should! I think you'd like it. :-)</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/206/3030">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/09/things-i-love-about-poland-06-eating-out#comment-3030">Thursday, September 27, 2012 - 11:24</a></span>
</div>
</div>
</div><a id="comment-3016"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d8fb6c700d79cba134cbbd0e6c896208?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I agree that the best zapiekanki in Kraków You can buy on Plac Nowy :) I hope You tried ice creams on Starowislna Street?<br/>
For me it's a little odd that You don't have vegetarian restaurants or various sauces. So far I tought the USA is the kingdom of food in every meaning of this word</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/206/3016">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Mimi (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/09/things-i-love-about-poland-06-eating-out#comment-3016">Tuesday, September 25, 2012 - 14:12</a></span>
</div>
</div>
<div class="indented"><a id="comment-3031"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>You know, for some reason, I didn't eat a lot of (any?) ice cream in Kraków - so, no, I didn't try it on Starowiślna. But next time I'm there I'll give it a shot based on your recommendation! :-)</p>
<p>Well, in the USA we like to eat large quantities and you <em>can</em> find pretty much anything - but that doesn't necessarily mean it'll be easy to find. A lot depends on the city/state you're in too - there are a ton of regional differences when it comes to food.</p>
<p>Take care!<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/206/3031">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/09/things-i-love-about-poland-06-eating-out#comment-3031">Thursday, September 27, 2012 - 11:28</a></span>
</div>
</div>
</div><a id="comment-3023"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://icenugget.wordpress.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3bd87cbf8b98d5ef3706c4e094c4656d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>The open-face kebab is interesting.  I am used to having shwarma wrapped in Armenian lavash, which I prefer.  It is less messy and more portable.  But the Polish version is delicious as well.</p>
<p>As an American, I am by default not a big fan of sauce on (most)of my pizza.  One exception would be french dressing at a local place here.  In the case of Polish pizza, I think a lot of it is a bit dry or lacking sauce altogether, which is why you get to add it on yourself.  I much prefer the taste of marinara to ketchup though.</p>
<p>I'd like to hear what you think of the tuna-as-a-topping phenomenon.  I have yet to try it...</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/206/3023">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://icenugget.wordpress.com" rel="nofollow">ice</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/09/things-i-love-about-poland-06-eating-out#comment-3023">Tuesday, September 25, 2012 - 15:01</a></span>
</div>
</div>
<div class="indented"><a id="comment-3029"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Ya know, I started out not liking sauce on my pizza but I quickly started liking it a lot. I now continue to do it here in the USA. :-) I do agree, though, that Polish pizza is a little dryer than American pizza.</p>
<p>I didn't try tuna on pizza because when we were in Poland I wasn't eating fish. But I recently started eating fish a couple months ago, (so, I guess I'm a pescatarian, now?). Next time I'm in Poland I'll give it a shot!</p>
<p>Take care!<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/206/3029">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/09/things-i-love-about-poland-06-eating-out#comment-3029">Thursday, September 27, 2012 - 11:22</a></span>
</div>
</div>
</div><a id="comment-3027"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41500d88b134aedd279b7e818bd15ee?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I'm surprised; it sounds like Milwaukee is unusually bad veggie-wise, in that case... most US cities I've visited have noticeably more veggie restaurants than most Polish cities I've visited.</p>
<p>There is also more vegetarian (and vegan) awareness in many US non-veggie restaurants, I've found, than in Polish non-veggie restaurants. E.g. every US Chinese restaurant I've been in had multiple vegetarian entrees, but I've seen Polish Chinese places where every entree had meat, or there was only 1 vegetarian choice.</p>
<p>As a vegan I generally find it easier in US restaurants than Polish restaurants.</p>
<p>That said, things seem to be progressing, and by some strange coincidence, 2 different vegan (not just vegetarian but vegan!) restaurants appeared recently in Wroclaw!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/206/3027">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">russ (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/09/things-i-love-about-poland-06-eating-out#comment-3027">Thursday, September 27, 2012 - 10:43</a></span>
</div>
</div>
<div class="indented"><a id="comment-3028"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Russ,</p>
<p>Thanks for your comment!</p>
<p>It's not necessarily <em>bad</em> in Milwaukee - we just don't have any exclusively vegetarian restaurants. For example, our favorite restaurant (<a href="http://www.thecometcafe.com/">Comet</a>) has at least 5 options that you can get vegetarian or vegan, but then the rest of the menu is crazy meat-lovers, everything wrapped in bacon, etc. ;-)</p>
<p>So, lots of "vegetarian/vegan <em>friendly</em>" but no straight up "vegetarian/vegan".</p>
<p>Yeah, Chinese restaurants in Poland are weird. :-) Here they pretty dependably have the same sort of things on the menu everywhere. The 1 or 2 times I ate at a Chinese place in Poland it was all stuff I had never heard of. But I did find something vegetarian! I don't remember what it was.</p>
<p>Have you tried the vegan restaurants in Wrocław? How are they?</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/206/3028">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/09/things-i-love-about-poland-06-eating-out#comment-3028">Thursday, September 27, 2012 - 11:18</a></span>
</div>
</div>
<div class="indented"><a id="comment-3040"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41500d88b134aedd279b7e818bd15ee?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>One of the new vegan places (Machina organika) is kind of upscale fancy (pricier) "arty" vegan food with a different (relatively small) new menu each day.</p>
<p>The other (Najadacze) is simpler/cheaper - also tasty, but very small (little seating available).</p>
<p>But we most prefer a different vegetarian/vegan restaurant (Złe mięso) that appeared a year or two ago and has become our favorite; large menu (and everything vegetarian can also be made vegan), plenty of seating, an alternative vibe, cool music, and plenty of seating indoors and outdoors.</p>
<p>So it's a nice unexpected boom of veggie places in the past year or so here.</p>
<p>One thing I miss here is Thai restaurants... there's a great one in Kraków we've visited occasionally with various curries with tofu.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/206/3040">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">russ (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/09/things-i-love-about-poland-06-eating-out#comment-3040">Thursday, September 27, 2012 - 12:35</a></span>
</div>
</div>
</div></div>
</div>
