---
permalink: /blog/2011/01/the-speed-of-language-learning/
layout: blog-old
title: 'The speed of language learning'
day: 18
month: Jan
year: 2011
category: language learning
tags: 
  - 'speed'
language: en
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/01/logisticallanguagelearning.png" rel="lightbox"><img alt="A graph showing the curve of language learning" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/01/logisticallanguagelearning.png" title='Language learning follows a "logistic curve".  Click to see the image bigger!'/></a><div class="caption">Language learning follows a <a href="http://en.wikipedia.org/wiki/Logistic_curve">"logistic curve"</a>.  Click to see the image bigger!</div></div>
<p>When you first start learning a language, it's slow going.  Everything is new!  The vocabulary all seems so similar.  You might ask yourself, <i>How can native speakers tell these words apart</i>?  Even memorizing just a short list of words can be very difficult.</p>
<p>It's at this first stage that most people give up.  It seems like it will take a million years before they make any progress, especially if their method is tedious, boring or otherwise unpleasant and not fun.</p>
<p>But as you continue to learn, the pace starts to accelerate.  You learn faster and faster until you cross a certain threshold and your proficiency simply explodes!</p>
<p>This period of accelerated learning frequently takes you from beginner to intermediate, or even to lower-advanced.  While previously you could only memorize 10 words a week, now you can memorize 100 or more!  You probably struggled with basic verb conjugations for months, but now you can tackle a new grammar structure every week!</p>
<p>Unfortunately, that level of growth doesn't last forever.  After a certain point, when you've met all the grammar at least once and you've learned a sizable vocabulary, your learning starts to slow down again.</p>
<p>This is where you start to experience the <a href="http://en.wikipedia.org/wiki/Diminishing_returns">Law of Diminishing returns</a> as it relates to language learning (which I already discussed in a <a href="http://www.linguatrek.com/blog/2010/12/you-dont-need-to-speak-like-a-native-speaker#conclusion">previous article</a>).  At this point, you have to study for months or even years before noticing much improvement.</p>
<p>But, since you're already very proficient by the time you reach this stage, you can now use your new language very well and in many different contexts: traveling, talking with friends and colleagues, reading, listening to the radio, watching TV and movies -- all the fun stuff!</p>
<p>But how long until you'll be able to speak with <em>"perfect"</em> proficiency?  A very, very long time.</p>
<p><strong>Have you noticed the same pattern in your language learning?  Or was it completely different for you?  Leave a comment below!</strong></p>
</div>

<div id="comments">
<a id="comment-51"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/180057bbd400b0cedd3da073dfcdfd3f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I wish I learned more language when I was a child, the brain soaks information like a sponge. I'm currently learning Spanish, my third language (Polish and English being the ones I already know,) but I'm finding it very difficult. . The only thing I;m struggling with is memorizing the vocabulary which theoretically shouldn't be a problem as many of the words are cognates with either Polish or English. And Spanish is an easy language IMO.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/39/51">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">marcin (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/01/the-speed-of-language-learning#comment-51">Saturday, January 29, 2011 - 22:41</a></span>
</div>
</div>
<div class="indented"><a id="comment-53"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Have you tried using <a href="http://www.linguatrek.com/blog/2011/01/what-is-spaced-repetition">spaced repetition</a> for learning vocabulary?  Not everyone likes it, but it's worked great for me.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/39/53">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/01/the-speed-of-language-learning#comment-53">Sunday, January 30, 2011 - 07:13</a></span>
</div>
</div>
</div><a id="comment-75"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/77aaba4ab2ab0df2c44ed2f9a2952e92?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>CZeŚć. MógłbyŚ dodać do tego artukułu tłumaczenie? (ja wybredny bardzo :P )</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/39/75">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Piotr Wera (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/01/the-speed-of-language-learning#comment-75">Tuesday, February 8, 2011 - 11:51</a></span>
</div>
</div>
<div class="indented"><a id="comment-80"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Chciałbym dodać tłumaczenie do wszystkich artykułów na moim blogu!  Ale niestaty jeszcze nie miałem czasu, żeby dodać go do tego artykułu.</p>
<p>Spróbuję to zrobić jak naprędzej, ale wygląda na to, że nie będę miał czasu przynajmniej w tym tygodniu.</p>
<p>W przyszłości chciałbym, żeby wszyscy mogli dodać artykuły do BiblioBird'a (właśnie skąd pochodzi te tłumaczenia).  Jest coraz więcej dowodu na to, że ta funkcja jest bardzo ważna!</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/39/80">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/01/the-speed-of-language-learning#comment-80">Tuesday, February 8, 2011 - 13:22</a></span>
</div>
</div>
<div class="indented"><a id="comment-219"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/6c64fc55f84773599c7c974ca0399018?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Fakt, ta funkcja byłaby bardzo przydatna. Już podczas samego czytania wpisu mógłbym na bieżąco tłumaczyć go. Zajęłoby mi to nie wiele więcej czasu niż tylko przeczytanie danego wpisu.<br/>
Tak swoją drogą, to dzięki Ci David za pracę jaką wkładasz w budowę BiblioBird, bo to jest bardzo komfortowe narzędzie do sprawnej nauki języka.</p>
<p>The fact that this feature would be very useful. Even during the reading of the entry I could translate it on an ongoing basis. So it would take me a little more time than just read the entry.<br/>
By the way, thank you David for your work, which is contributing to the construction BiblioBird, because this is a very comfortable tool for effective language learning.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/39/219">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">DStavros (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/01/the-speed-of-language-learning#comment-219">Wednesday, March 30, 2011 - 06:21</a></span>
</div>
</div>
</div></div><a id="comment-110"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c8a9ed3dda14389da47c97741e33f49e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć!<br/>
Ktoś się upomniał o tłumaczenia tekstów, które według mnie nie są konieczne (a wręcz wprowadzają lenistwo i za bardzo ułatwiają sprawę). Przeczytałem kilka Twoich tekstów po angielsku i większość można zrozumieć bez większego problemu. Czasami zdarza się jednak, że pojedyncze słówko burzy sens całego zdania i trudno je zrozumieć. Dlatego podsuwam pomysł abyś tłumaczył trudne, wyszukane słówka, czy idiomy na język polski.<br/>
Np.: "You learn faster and faster until you cross a certain threshold and your proficiency simply explodes!"<br/>
Zdanie niby proste, ale słówka "threshold" i "proficiency" są trudne (przynajmniej dla mnie ;) ) i muszę się domyślać co oznaczają.<br/>
Krótki słowniczek wszystko by usprawnił.<br/>
Myślę, że to w zupełności wystarczy większości osób odwiedzających Twoją stronę do zrozumienia całych wypowiedzi :)</p>
<p>Pozdrawiam!<br/>
Arek</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/39/110">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Engineer (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/01/the-speed-of-language-learning#comment-110">Saturday, February 12, 2011 - 17:44</a></span>
</div>
</div>
<div class="indented"><a id="comment-125"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Arek!</p>
<p>Dziękuję za komentarz!</p>
<p>Myślę, że ten ktoś miał na myśli tłumaczenia przez BiblioBird.  Z tym można kilknąć na nieznane słowo i wyświetla się tłumacznie na polski.  To też potrzebuje czasu, żeby przygotowywać teksty dla BiblioBird'a ale pewnie dodam wszystkie moje artykuły do BiblioBird'a w końcu!</p>
<p>Ale krótki słowniczek z najtrudniejszymi słowami w artykule jest bardzo dobrym pomysłem! :-)</p>
<p>Co do tych konkretnych słów:</p>
<ul>
<li><strong>threshold</strong>: to jakaś ograniczenie -- zwykle po tym, jak przekraczasz to ograniczenie, coś się zdarzy.  W słowniku: "próg"</li>
<li><strong>proficiency</strong>: z językami to ma specyficzne znaczenie ale to chodzi o poziom umiejętności językowej.  Nie znalazłem dobrego odpowiednika w słowniku.</li>
</ul>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/39/125">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/01/the-speed-of-language-learning#comment-125">Monday, February 14, 2011 - 10:54</a></span>
</div>
</div>
</div><a id="comment-154"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/7ff39442668f77254cc0cd1f2f529456?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Na pewno chodzi o mnie, bo ja poprosiłem o tłumaczenie obok na polski:) I Ty Dawidzie, dobrze mnie zrozumiałeś o co mi chodzi :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/39/154">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">pablo162 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/01/the-speed-of-language-learning#comment-154">Tuesday, March 1, 2011 - 01:59</a></span>
</div>
</div>
<a id="comment-410"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2011/06/how-long-does-it-take-to-learn-a-foreign-language" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] I've written previously, the law of diminishing returns applies to language learning. Once you are already at an advanced level, improvements come much [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/39/410">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2011/06/how-long-does-it-take-to-learn-a-foreign-language" rel="nofollow">How long does it take to learn a foreign language? | LinguaT</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/01/the-speed-of-language-learning#comment-410">Tuesday, June 7, 2011 - 10:21</a></span>
</div>
</div>
<a id="comment-1804"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/03/do-i-need-to-understand-everything" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] mentioned several times that there are diminishing returns in language learning. When you're just starting out, you learn very, very quickly. You can even go from beginner to [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/39/1804">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/03/do-i-need-to-understand-everything" rel="nofollow">Do I need to understand everything? | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/01/the-speed-of-language-learning#comment-1804">Wednesday, May 2, 2012 - 20:18</a></span>
</div>
</div>
</div>
