---
permalink: /blog/2011/01/things-i-love-about-poland-04-money/
layout: blog-old
title: 'Things I Love About Poland #04: Money'
day: 25
month: Jan
year: 2011
category: learn-english
tags: 
  - 'Things I Love About Poland'
language: en
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/default/files/imagecache/Large/image/2011/01/polishbanknotes.jpg" rel="lightbox"><img alt="Polish bills" src="http://www.linguatrek.com/sites/default/files/imagecache/Small/image/2011/01/polishbanknotes.jpg" title="Polish bills.  Photo by Niels Heidenreich."/></a><div class="caption">Polish bills.  <a href="http://www.flickr.com/photos/schoschie/8903464/">Photo</a> by <a href="http://www.flickr.com/photos/schoschie/">Niels Heidenreich</a>.</div></div>
<p><strong>This is the fourth installment in my series of articles called "<a href="http://www.linguatrek.com/tags/things-i-love-about-poland">Things I Love About Poland</a>," in which I discuss differences between Poland and the USA.  In this article, I talk about money.</strong></p>
<p>American money is boring; it's all the same size and color!  But Polish money is of various sizes and colors, so it's easy to know approximately how much money you have with just a quick glance in your wallet.</p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/default/files/imagecache/Large/image/2011/01/americanbanknotes.jpg" rel="lightbox"><img alt="American bills" src="http://www.linguatrek.com/sites/default/files/imagecache/Small/image/2011/01/americanbanknotes.jpg" title="American bills.  Photo by Tracy Olson"/></a><div class="caption">American bills.  <a href="http://www.flickr.com/photos/37108241@N00/61056391/">Photo</a> by <a href="http://www.flickr.com/photos/tracy_olson/">Tracy Olson</a></div></div>
<p>How do blind people in the USA know how much money they have?  Honestly, I have no idea.  According to <a href="http://www.evengrounds.com/blog/blind-people-identify-paper-currency">this page</a>, some options include: folding each denomination differently, or using a wallet with many dividers.</p>
<p>But blind people still depend on sighted people to initially decipher the value of each bill!  With Polish money, there is no such problem.</p>
<div class="diag align-right" style="float: right; width: 149px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/default/files/imagecache/Large/image/2011/01/mycoinjar.jpg" rel="lightbox"><img alt="Jar full of coins" src="http://www.linguatrek.com/sites/default/files/imagecache/Small/image/2011/01/mycoinjar.jpg" title="My coin jar!"/></a><div class="caption">My coin jar!</div></div>
<p>Coins in the USA are worth so little, I have few chances to use them.  I tend to spend the bills and collect the coins.  Then, every couple years I take the coins to the bank and they turn them into bills again.</p>
<p>But I <em>love coins</em>!  I have a small coin collection with money from Russia, Ukraine, Israel, England, Canada and Jamaica - as well as some obsolete currency, including: Spanish pesetas, German deutsche marks and French francs.</p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/default/files/imagecache/Large/image/2011/01/polishcoins.jpg" rel="lightbox"><img alt="Polish coins" src="http://www.linguatrek.com/sites/default/files/imagecache/Small/image/2011/01/polishcoins.jpg" title="Polish coins.  Photo by Niels Heidenreich"/></a><div class="caption">Polish coins.  <a href="http://www.flickr.com/photos/schoschie/8903431/">Photo</a> by <a href="http://www.flickr.com/photos/schoschie/">Niels Heidenreich</a></div></div>
<p>In Poland, coins are actually useful.  You can buy a lot of things with one-, two- to five-zloty coins.  For example, when we lived in Cracow, a bottle of Tatra beer cost 2 zl at the store around the corner, and 20 bags of Grande mint tea cost 0.89 zl at Kaufland.  A bus or tram ticket cost 1.50 zl.</p>
<p>When in Poland, be prepared to be asked for exact change <em>every time</em> you buy something, <em>anywhere</em>!  This really irritates many people, especially foreigners who aren't used to it.  But <em>I love it</em>, because it means that I get to use coins!</p>
<h2>See also</h2>
<ul>
<li><a href="http://en.wikipedia.org/wiki/Polish_coins_and_banknotes">Polish coins and banknotes</a>: Wikipedia article that shows all Polish coins and banknotes, both front and back, with their relative sizes.</li>
<li><a href="http://www.transparent.com/polish/let%E2%80%99s-go-shopping/">Let's go shopping</a>: A fun article about shopping and money in Poland.
</li></ul>
</div>

<div id="comments">
<a id="comment-50"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/180057bbd400b0cedd3da073dfcdfd3f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>And they want to bring the euro to Poland. I hope that never happens, not only will it probably be bad for the economy but Poland will loose a little bit of its pride. Currency is one of the things that makes a country unique. I live in Canada and I agree with you, Polish money looks much cooler that Canadian/American.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/41/50">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">marcin (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/01/things-i-love-about-poland-04-money#comment-50">Saturday, January 29, 2011 - 21:33</a></span>
</div>
</div>
<div class="indented"><a id="comment-52"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>I agree about the Euro.  The pro-Euro people say that having the Euro makes the economy more stable, but it certainly didn't help in (for example) Germany or Ireland during the recent financial crisis!</p>
<p>I really don't understand how it makes sense to have a currency which is heavily influenced by factors in other countries while the economy is primarily influenced by local factors.  The currency could go in one direction while the economy goes in another.</p>
<p>But I definitely understand how the Euro is good for international business!  So, its probably being pushed by big business.</p>
<p>Anyway, with the way the Polish government keeps pushing the date for the Euro off, it might never happen. ;-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/41/52">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/01/things-i-love-about-poland-04-money#comment-52">Sunday, January 30, 2011 - 06:11</a></span>
</div>
</div>
</div><a id="comment-86"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/2ef321cdbf091461d42f8d2e068011db?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Nice article, and Very nice system you made. I can read your article about polish money, and troug the integration with BiblioBird, I understund it.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/41/86">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Janusz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/01/things-i-love-about-poland-04-money#comment-86">Tuesday, February 8, 2011 - 17:20</a></span>
</div>
</div>
<a id="comment-112"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.gaffame.victorygames.pl" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/ac45e66c4dc79da44b9eb4d2497c3d85?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hi!<br/>
Cool article. I come from Poland and I live near Baltic Sea. You should visit this place - amazing. :) I like the idea of the European Union, but I don't like to change the currency. I love "polskie złotówki" and "grosze"! ^^<br/>
Translate-system which you use here is very good thing. It's easy to read your posts.</p>
<p>Greetings from Polish!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/41/112">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.gaffame.victorygames.pl" rel="nofollow">Tomasz</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/01/things-i-love-about-poland-04-money#comment-112">Saturday, February 12, 2011 - 17:04</a></span>
</div>
</div>
</div>
