---
permalink: /blog/2011/01/vlog-alkohol-i-sylwester-2011-w-stanach-zjednoczonych/
layout: blog-old
title: 'Vlog: Alkohol i Sylwester 2011 w Stanach Zjednoczonych'
day: 5
month: Jan
year: 2011
category: personal
tags: 
  - 'holidays'
  - 'New Year''s Eve'
  - 'vlog'
language: en
translation: 
---
<div class="content">
<p>Dzisiaj mówię krótko na temat alkoholu i Sylwestra w Stanach i potem pokazuję to, co nagrałem na Sylwestra.  Mam nadzieję, że to jest ciekawe!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/mGbzBPWs0jA?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/mGbzBPWs0jA?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Czytaj transkrypcję poniżej!</p>
<h2><a name="trascript">Transkrypcja</a></h2>
<ul>
<li>Happy New Year!</li>
<li>Dzień dobry</li>
<li>Znowu przed kamerą internetową mówi David Snopek</li>
<li>Życzę Wszystkim Wszystkiego Najlepszego w Nowym Roku</li>
<li>Czy widzicie mój nowy kapelusz?</li>
<li>Czy to widać?</li>
<li>Mam nadzieję, że tak</li>
<li>Dzisiaj będę mówił krótko -- przynajmniej mam nadzieję, że będzie krótko -- na temat Sylwestra w Stanach Zjednoczonych</li>
<li>No, ludzie chodzą na imprezy, do barów, do klubów</li>
<li>Więc tak samo jak w Polsce</li>
<li>Więc tylko mam jedną uwagę i potem pokażę to, co nagrałem na Sylwestra</li>
<li>Ta uwaga chodzi o alkohol w Stanach</li>
<li>Bo alkohol jest bardzo ważną częścią Sylwestra</li>
<li>W moim stanie, w Wisconsin, tylko można kupować alkohol do dwudziestej pierwszej godziny w sklepach</li>
<li>I bary, kluby, wszystkie takie lokale, w których można pić alkohol, tylko są otwarte do drugiej w nocy</li>
<li>Z wyjątkiem Sylwestra</li>
<li>Na Sylwestra bary, kluby i tak dalej są otwarte całą noc</li>
<li>Ale to jest jedyny dzień w roku</li>
<li>Więc to zupełnie inaczej, niż w Polsce</li>
<li>Ale to jest tylko w naszym stanie, w Wisconsin</li>
<li>Różne są prawa w innych stanach</li>
<li>Pewnie są stany, w których można o dowolnej godziny kupować alkohol</li>
<li>I pewnie też są stany, w których te prawa nawet są ostrzejsze</li>
<li>Na przykład wiem, że w niektórych stanach w ogóle nie można kupować alkoholu w niedzielę</li>
<li>Teraz nie pamiętam w których, ale wiem, że są</li>
<li>No!</li>
<li>W tym roku, razem z żoną byliśmy na dwóch imprezach i też <del>na</del> [w] barze</li>
<li>Może imprezowaliśmy do trzeciej w nocy</li>
<li>O północy wszyscy <del>krzyczają</del> [krzyczą], piją szampan, całują [się] -- czasem są fajerwerki</li>
<li>I to wszystko</li>
<li>Zaraz pokaże to, co nagrałem na Sylwestra</li>
<li>Dziękuję za uwagę</li>
<li>Do widzenia</li>
</ul>
</div>

<div id="comments">
<a id="comment-155"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3dc923f74c0d5d50a772b56cfd09ccf2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Nie "krzyczają", tylko "krzyczą" =) I "całują się", nie powiedziałeś "się". To jest w około 2:55 minucie.</p>
<p>Czasami są fajerwerki? U nas w Polsce, a przynajmniej w Legnicy fajerwerki zawsze są =D.</p>
<p>Pijane lekcje tańca ^^</p>
<p>Tak, jakby coś, stwierdzenie "Pijane lekcje tańca" itp. jest tak naprawdę nieprawidłowe, (bo prawidłowe brzmiało by "lekcja tańca po pijanemu"), ale w ten sposób napisany tekst jest humorystyczny i jak najbardziej zrozumiały. Nie wiem, czy celowo tak napisałeś, ale na wszelki wypadek wolę Ci o tym napisać.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/37/155">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Adrian (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/01/vlog-alkohol-i-sylwester-2011-w-stanach-zjednoczonych#comment-155">Tuesday, March 1, 2011 - 08:51</a></span>
</div>
</div>
<div class="indented"><a id="comment-156"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dziękuję za poprawki!  Już zmieniłem "krzyczą" i "całują się" w transkrypcji.</p>
<p>Z tym "pijane lekcje tańca", nie wiedziałem, że to było napisane w sposób humerystyczny.  Ale może lepiej tak pozostaje. ;-)  Miałem na myśli "drunken dance lessons" jak po angielsku.  Też zabawnie byłoby "lekcje pijanego tańca" lub coś w tym stylu. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/37/156">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/01/vlog-alkohol-i-sylwester-2011-w-stanach-zjednoczonych#comment-156">Tuesday, March 1, 2011 - 17:10</a></span>
</div>
</div>
</div>
</div>
