---
permalink: /blog/2011/01/what-is-spaced-repetition/
layout: blog-old
title: 'What is spaced repetition?'
day: 4
month: sty
year: 2011
category: unknown
tags: [ ]
language: pl
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 154px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/default/files/imagecache/Large/image/2011/01/ankiscreenshot.png" rel="lightbox"><img alt="Screenshot from Anki" src="http://www.linguatrek.com/sites/default/files/imagecache/Small/image/2011/01/ankiscreenshot.png" title="Anki, a computer program implementing spaced repetition"/></a><div class="caption"><a href="http://www.ankisrs.net/">Anki</a>, a computer program implementing spaced repetition</div></div>
<p>Spaced repetition is a learning technique, that helps you <em>learn and retain many facts over a long period of time</em>.</p>
<p>Unless you have a photographic memory, you likely won't remember a fact you've seen just once.  At least not for long!  You will need to review that fact in order to keep it in your mind.  But which facts should you review?  And how often?</p>
<p><strong>Read more to find out how spaced repetition answers these questions!</strong></p>
<h2><a name="how">How does it work?</a></h2>
<p>The original spaced repetition system (SRS) is the <a href="http://en.wikipedia.org/wiki/Leitner_system">Leitner System</a>, developed by Sebastian Leitner in the 1970s.  It uses paper flashcards and a series of boxes.</p>
<p>Let's say that today you learned that the <a href="http://en.wikipedia.org/wiki/French_indian_war">French and Indian War</a> started in 1754.  So, you write a flashcard that says "What year did the French and Indian War start?" on the front and "1754" on the back.  You place this flashcard in the first box, which contains cards you review every day.</p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/default/files/imagecache/Large/image/2011/01/leitnersystem.png" rel="lightbox"><img alt="Diagram showing how cards move between boxes in the Leitner System" src="http://www.linguatrek.com/sites/default/files/imagecache/Small/image/2011/01/leitnersystem.png" title="The Leitner System"/></a><div class="caption">The Leitner System</div></div>
<p>Tomorrow you review the card again.  If you answer correctly, you put the flashcard in the second box, which contains cards you review every 3 days.  If after 3 days you answer correctly again, it goes into the third box, which gets reviewed after 5 days.  And so on.</p>
<p>If at any time you answer incorrectly, the flashcard returns to the first box.</p>
<p>This same idea of increasing the interval at which you review information is also the basis of the <em>Pimsleur Approach</em> which I wrote about in a <a href="http://www.linguatrek.com/blog/2010/11/review-pimsleur-quick-simple-polish">previous review</a>.</p>
<p>These days there are many computerized SRS's which avoid the trouble of having to manage paper flashcards and boxes in the physical world.  Some will even work on your mobile phone or tablet, so you can review anywhere!</p>
<p>Personally, I recommend <a href="http://www.ankisrs.net/">Anki</a> which is free and open source.</p>
<h2><a name="advantages">Advantages of Spaced Repetition</a></h2>
<ul>
<li><strong>Retain facts longer</strong>: Spaced repetition exploits the psychological <em>spacing effect</em>, which states that we more easily remember facts "studied a few times over a long period of time, rather than studied repeatedly in a short period of time" (from the <a href="http://en.wikipedia.org/wiki/Spacing_effect">Wikipedia</a>).

</li><li><strong>Learn more facts</strong>: With spaced repetition, you aren't reviewing everything every day, but only those things you need to review.  This way you can use spaced repetition to learn not just a couple dozen facts, but even thousands!  Eventually, some facts will only need to be reviewed after intervals measured in years.</li>
<li><strong>Never forget anything!</strong>: If you use a computerized SRS like <a href="http://www.ankisrs.net/">Anki</a> to manage your learning and review every day, you will never lose track of any facts you have learned.  Even if a card is set to review after 2 years, if you forget it, you will be reminded in 2 years.  Nothing can slip through the cracks!</li>
</ul>
<p>Read <a href="http://ankisrs.net/whyreview.html">this article</a> on the <a href="http://ankisrs.net/">Anki website</a> for a more detailed explanation of the advantages of using a computerized SRS.</p>
<h2><a name="my-experience">My Experience</a></h2>
<p>When I was <a href="http://www.linguatrek.com/blog/2010/12/harry-potter-the-book-that-taught-me-polish">reading Harry Potter in Polish</a>, I had almost 3,000 flashcards with new Polish words.  Without using a computerized SRS, I don't think I would have been able to learn all that vocabulary.</p>
<p>And as <a href="http://www.linguatrek.com/blog/2010/12/vocabulary-the-biggest-challenge-in-language-learning">I've said before</a>, I believe learning vocabulary is the greatest challenge in learning a foreign language!</p>
<p><strong>Have you tried any spaced repetition programs?  If so, leave a comment about your experience.  If not, <a href="http://www.ankisrs.net/">try Anki today</a>!</strong></p>
</div>

<div id="comments">
<div class="box">
<h2>Dodaj nową odpowiedź</h2>
<div class="content"><form accept-charset="UTF-8" action="/comment/reply/36" id="comment-form" method="post">
<div><div class="form-item" id="edit-name-wrapper">
<label for="edit-name">Nazwisko lub pseudonim: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-name" maxlength="60" name="name" size="30" type="text" value="Anonymous"/>
</div>
<div class="form-item" id="edit-mail-wrapper">
<label for="edit-mail">E-mail: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-mail" maxlength="64" name="mail" size="30" type="text" value=""/>
<div class="description">Zawartość pola nie będzie udostępniana publicznie. If you have a <a href="http://www.gravatar.com">Gravatar</a> account, used to display your avatar.</div>
</div>
<div class="form-item" id="edit-homepage-wrapper">
<label for="edit-homepage">Strona domowa: </label>
<input class="form-text" id="edit-homepage" maxlength="255" name="homepage" size="30" type="text" value=""/>
</div>
<div class="form-item" id="edit-comment-wrapper">
<label for="edit-comment">Odpowiedź: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<textarea class="form-textarea resizable required" cols="60" id="edit-comment" name="comment" rows="15"></textarea>
</div>
<ul class="tips"><li>Adresy internetowe są automatycznie zamieniane w odnośniki, które można kliknąć.</li><li>Dozwolone znaczniki HTML: &lt;a&gt; &lt;em&gt; &lt;strong&gt; &lt;cite&gt; &lt;code&gt; &lt;ul&gt; &lt;ol&gt; &lt;li&gt; &lt;dl&gt; &lt;dt&gt; &lt;dd&gt;</li><li>Znaki końca linii i akapitu dodawane są automatycznie.</li></ul><input id="form-257d029cf422e6f8907732df3383b1de" name="form_build_id" type="hidden" value="form-257d029cf422e6f8907732df3383b1de"/>
<input id="edit-comment-form" name="form_id" type="hidden" value="comment_form"/>
<div class="clear-block"><div class="form-item" id="edit-notify-wrapper">
<label class="option" for="edit-notify"><input checked="checked" class="form-checkbox" id="edit-notify" name="notify" type="checkbox" value="1"/> Notify me when new comments are posted</label>
</div>
<div class="form-radios"><div class="form-item" id="edit-notify-type-1-wrapper">
<label class="option" for="edit-notify-type-1"><input class="form-radio" id="edit-notify-type-1" name="notify_type" type="radio" value="1"/> All comments</label>
</div>
<div class="form-item" id="edit-notify-type-2-wrapper">
<label class="option" for="edit-notify-type-2"><input checked="checked" class="form-radio" id="edit-notify-type-2" name="notify_type" type="radio" value="2"/> Replies to my comment</label>
</div>
</div></div><input class="mollom-session-id" id="edit-mollom-session-id" name="mollom[session_id]" type="hidden" value=""/>
<div style="display: none;"><div class="form-item" id="edit-mollom-homepage-wrapper">
<input class="form-text" id="edit-mollom-homepage" maxlength="128" name="mollom[homepage]" size="60" type="text" value=""/>
</div>
</div><div class="description mollom-privacy">Wysłanie formularza jest równoznaczne z akceptacją <a href="http://mollom.com/web-service-privacy-policy">polityki prywatności usługi Mollom</a>.</div><input class="form-submit" id="edit-preview" name="op" type="submit" value="Podgląd"/>
</div></form>
</div>
</div>
</div>
