---
permalink: /blog/2012/06/finally-our-full-product-idea-i-need-your-help-with-the-price/
layout: blog-old
title: 'Finally - our FULL product idea (I need your help with the price!)'
day: 9
month: cze
year: 2012
category: personal
tags: [ ]
language: pl
translation: 
---
<div class="content">
<p>In <a href="http://www.linguatrek.com/blog/2012/06/my-next-big-project-after-the-ebook">my last article</a> on Tuesday, I told you about our plan to create a paid language learning product. <strong>But I didn't actually tell you what the product is!</strong></p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/catinbag.jpg" rel="lightbox"><img alt="A cat in a bag" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/catinbag.jpg" title="A cat in a bag! Photo by Freddy."/></a><div class="caption">A cat in a bag! <a href="http://www.flickr.com/photos/41894173046@N01/4060779">Photo</a> by <a href="http://www.flickr.com/photos/freddy/">Freddy</a>.</div></div>
<p>Someone <a href="http://www.linguatrek.com/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2260">commented</a> on that article, saying:</p>
<blockquote>
<p>"Polacy zazwyczaj nie kupują kota w worku"</p>
</blockquote>
<p>In English, that's literally: "Poles generally don't buy a <em>cat in a bag.</em>" It means that Poles don't buy something without seeing what it is first. I think intelligent and rational people of all nationalities behave this way. :-)</p>
<p><strong>Sorry for being so mysterious about this!</strong></p>
<p>I wasn't trying to be deceptive; I simply wanted to explain it just right. In fact, I have to warn you in advance that I think this is the <em>longest</em> article I've ever written! It even includes a video to help illustrate the idea.</p>
<p>This project is extremely important to us.  If it's successful, we'll be living our dream!  If not, well ... it's back to the drawing board. :-)</p>
<blockquote>
<p style="font-size: 110%"><strong>Today I'm FINALLY going to explain our FULL idea for the paid language learning product!</strong></p>
<p style="font-size: 110%"><strong>But we need YOUR help deciding many important details for the new product, including what format it will take and the price.</strong></p>
</blockquote>
<p>In this article, I'm going to share EXACTLY what we're thinking (including the potential prices). <strong>Please help us design this product by filling out the survey at the end!</strong></p>
<p><strong>Read more and tell me (honestly!) what you think of our idea!</strong></p>
<h2>Finding an effective method</h2>
<p>What I describe in <a href="http://www.linguatrek.com/blog/2012/04/natural-language-learning-without-a-teacher">my FREE ebook</a> is a framework for building an effective language learning method for self-study (as opposed to learning with a teacher).</p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/05/nll-fauxbookstack.png" rel="lightbox"><img alt="Stack of books" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/05/nll-fauxbookstack.png" title="The cover of my ebook, designed by my wife!"/></a><div class="caption">The cover of my ebook, designed by my wife!</div></div>
<p>Each method built from this framework consists of three parts:</p>
<ol>
<li>Interesting content in the language,</li>
<li>A method to understand it, and</li>
<li>A system to review what you've learned.</li>
</ol>
<p>There are many possible methods you could create based on this framework. Personally, <a href="http://www.linguatrek.com/blog/2010/12/harry-potter-the-book-that-taught-me-polish">I learned Polish</a> using Harry Potter as my content, a translating dictionary to understand it, and <a href="http://www.linguatrek.com/blog/2011/01/what-is-spaced-repetition">flashcard software</a> (similar to Anki) to review what I learned.</p>
<p>But you can also create methods that are <em>vastly different</em> based on the same framework!</p>
<p>For example, you could use conversations with native speakers as your content, ask for explanations in order to understand it (even if the explanations are hand gestures or drawings on a napkin), and talking as much as possible as your system of repetition. If you like, you can even <a href="http://www.linguatrek.com/blog/2012/05/do-i-need-to-speak-from-day-one">speak from day one</a>.</p>
<p><strong>The most important thing is that you receive <em>real</em> communication that you can understand (comprehensible input) and lots of it.</strong></p>
<p>Like I've <a href="http://www.linguatrek.com/blog/2011/03/language-learning-is-more-like-karate-than-math">written<a> <a href="http://www.linguatrek.com/blog/2012/04/natural-language-learning-without-a-teacher#lad">previously</a> (and in my ebook too): <em>the human brain is designed to learn languages!</em>  You just have to feed it comprehensible input.</a></a></p>
<p><strong>But the most effective method for YOU depends on YOUR goals and YOUR personal preferences.</strong> If you'd like more information about this, please <a href="http://www.linguatrek.com/subscribe">subscribe</a> to my blog (for FREE!) and you can download my ebook.</p>
<h2>Here's what I've learned</h2>
<p>I've been advising people to try these types of methods <em>for years</em> before my ebook, in YouTube videos and on my blog.  What's more, I've talked with many (possibly hundreds) of people who have tried them and I've learned A LOT from their experiences.</p>
<p>Many people have succeeded in making a breakthrough in their language learning by using an effective method similar to (or the same as) mine!</p>
<p><strong>But it's not as simple, easy, and enjoyable as it could be!</strong> Here are some common problems:</p>
<ol>
<li><strong>It's difficult to find (a) interesting content (b) with audio (c) at the appropriate level</strong> - When I read and listened to Harry Potter in Polish, I had to buy each book twice: the paper version and the audiobook. I was able to buy some from bookstores in Chicago, but others I had to order from Poland. One actually got lost in the mail! And, of course, I got lucky that Harry Potter was interesting to me - I didn't know anything about Polish authors.</li>
<li><strong>Most systems to understand the content are time-consuming, boring or have the potential to be inaccurate</strong> - I personally looked up every unknown word in a translating dictionary. This was boring and took a lot of time which could have been spent doing more reading and listening. There are less time-consuming methods (ex. Google Translate, full translation), but they bring more potential for inaccuracy or uncertainty.</li>
<li><strong>Managing your review system is time-consuming</strong> - again, this is time that <em>could be spent with the language!</em> Spaced repetition systems (like Anki) reduce the amount of time needed to review (because they only show you what needs to be reviewed today) but you still have to spend time adding new words and phrases to the system.</li>
</ol>
<p>We're all very busy and finding time for all the things we want to do is one of the biggest challenges in life in general.  For most people, language learning isn't their top priority or even in the top three (work, family, and friends tend to dominate).</p>
<p><strong>Wouldn't it be great if we could eliminate all of the time-consuming activities that don't give our brain what it needs to learn languages, so we could focus the little time we do have on the most important activities?</strong></p>
<h2>That's why I created Bibliobird!</h2>
<div class="diag align-right" style="float: right; width: 110px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/bibliobird-pink.png" rel="lightbox"><img alt="Purple bird" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/bibliobird-pink.png" title="The Bibliobird logo, also designed by my wife."/></a><div class="caption">The Bibliobird logo, also designed by my wife.</div></div>
<p><a href="http://www.bibliobird.com">Bibliobird</a> is an Open Source web application that attempts to solve all of the problems mentioned above!</p>
<p>You find a piece of interesting content with audio. If there is a word you don't know, you can click on it and get a translation in your native language. All these unknown words are added <em>automatically</em> to Anki for later review.</p>
<p><strong>There is no more searching in dictionaries and creating flashcards! You can spend more time reading and listening to the language.</strong></p>
<p>So far, there is only support for English and Polish.  We add a new English text every week along with two audio recordings - one read at a natural speed and the other a little slower. My wife, Carrie, is the one who writes and records them. :-)</p>
<p>The project is still very young - only 1.5 years old - but we've already had many successes! There are about 3000 registered users and between 300 and 500 <em>active users</em> in any given week. Here is a testimonial from Andrzej O. (translated from Polish):</p>
<blockquote>
<p><em>I visited your blog and I applied your advice and it turns out that - WOW! - it's the thing for me.</em></p>
<p><em>I've read several of your blog articles with the help of Bibliobird and I've listened to the audio versions, reviewing the text which I listened to and I have to admit that learning has never entered my head this easily.</em></p>
</blockquote>
<p><strong>But there is still a lot of work to do!</strong></p>
<p>I think Bibliobird does a really great job solving problems #2 and #3, particularly #2. Unlike similar applications, Bibliobird gives correct translations for idioms and phrasal verbs - two things which are very difficult for learners.</p>
<p><strong>But it still has a <em>long</em> way to go on solving problem #1: there still aren't very many texts in Bibliobird.  Let me explain why...</strong></p>
<h2>How a text gets into Bibliobird</h2>
<p>This process is a little complex, so I created the following video to demonstrate. I highly recommend watching the video! I will attempt to explain below, but the video has more details and it's much easier to understand when you can <em>see it</em> in action.</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/nSruLRh4fVM?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/nSruLRh4fVM?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p><em><strong>(There are both Polish and English subtitles. After the video starts, click the "CC" button in the lower right corner to turn them on!)</strong></em></p>
<p>When a text is entered into the system, the first step is to run a process called the <em>automatic annotator.</em>  This attempts to break the text into sentences, those sentences into words and look up each word in the dictionary.</p>
<p><strong>This is a lot harder to do accurately than it sounds!  Bibliobird uses <a href="http://en.wikipedia.org/wiki/Artificial_intelligence"><em>artificial intelligence</em></a> (AI) and <a href="http://en.wikipedia.org/wiki/Machine_learning"><em>machine learning</em></a> to deal with tricky situations.</strong></p>
<p>For example, if it encounters the word "look", is it the verb (ex. "They <u>look</u> strange" - in Polish: <em>wyglądać</em>) or the noun (ex. "He had a strange <u>look</u> on his face" - in Polish: <em>mina</em>)?</p>
<p>Bibliobird's automatic annotator still isn't very good. It needs a lot more work and makes a lot of mistakes, particularly with the type of example I gave above.</p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/manualannotator.png" rel="lightbox"><img alt="Screenshot of manual annotator" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/manualannotator.png" title="The manual annotator."/></a><div class="caption">The manual annotator.</div></div>
<p>That's why the next step in adding a text is for a human to use the <em>manual annotator</em> to make corrections. Then these corrections can be fed back to the automatic annotator which will learn from them and become more and more accurate.</p>
<p>The translations themselves come from Bibliobird's own dictionary, which are first imported automatically from the <a href="http://en.wiktionary.org">Wiktionary</a> (the Wikipedia's dictionary project) and then corrected and improved to fit the current text.</p>
<p><strong>The reason Bibliobird gives such awesome translations is that they don't come completely automatically, like Google Translate! The process <em>starts</em> automatically, but everything is corrected and improved by a real human, so that everything accurately matches the given context.</strong></p>
<h2>And finally, the paid product idea is ...</h2>
<blockquote>
<p style="font-size: 110%">... paid content for Bibliobird!</p>
</blockquote>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/amazement.jpg" rel="lightbox"><img alt="Little girl looking at bubble" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/amazement.jpg" title="Photo by Clément Seifert"/></a><div class="caption"><a href="http://www.flickr.com/photos/90929268@N00/177748091">Photo</a> by <a href="http://www.flickr.com/people/sazeod/">Clément Seifert</a></div></div>
<p>You were probably wondering why I was talking about Bibliobird so much!  Well, this is why. :-)</p>
<p><strong>Bibliobird is clearly working!</strong>  It's helping hundreds of Poles to learn English every day.  If it were brought to its full potential, it would be able to help many, many more people with many other languages!</p>
<p>Because it's Open Source, anyone can download the code that powers Bibliobird, modify it, and help to improve it - just like Linux or the Wikipedia.</p>
<p>My hope is that as the tools improve (like the <em>automatic</em> and <em>manual annotators</em>), a community of enthusiastic language learners will form to add free texts to Bibliobird. People could potentially rate and improve the annotations for texts created by other users!  It could become the <em>"Wikipedia of language learning."</em></p>
<p><strong>However, presently, it's being powered <em>solely</em> by the hard work of my wife, myself, and a few freelancers.</strong> (This is partly our fault: the tools haven't been opened up to normal users yet, but they will be before any paid content is released.)</p>
<p>Of course, we plan to continue creating one free text for learners of English every week.</p>
<p><strong>But additionally, we'd like to create <em>more, longer, higher quality</em> texts that users would have the option to pay for.  This would allow us to focus all of our attention on Bibliobird and really make it awesome!</strong></p>
<h2>What will the first product look like?</h2>
<p>I'm not entirely sure!  We need YOUR help deciding many of the details (<em>more on that below</em>).</p>
<p>One thing I do know for sure: the first paid product will be for Poles learning English. I apologize to non-Poles and people learning other languages! We have to start somewhere.</p>
<p><strong>However, as part of the <a href="http://www.linguatrek.com/blog/2012/06/my-next-big-project-after-the-ebook">presale</a>, we will be selling <em>lifetime access</em> to every future language learning product we create to a small group of <em>"founding members"</em>.</strong> We have plans to support more languages (especially Polish!) in the future.</p>
<p>In exchange for helping us achieve our dream, I'm more than happy to prioritize the needs of founding members. :-)</p>
<h2><a name="we-need-your-help">We need your help!</a></h2>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/help.jpg" rel="lightbox"><img alt="Help sign" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/help.jpg" title="Photo by Mike Scullen"/></a><div class="caption"><a href="http://www.flickr.com/photos/82625518@N00/5228173">Photo</a> by <a href="http://www.flickr.com/photos/revcyborg/">Mike Scullen</a></div></div>
<p><strong>There are a few important things that we need your help with RIGHT AWAY!</strong></p>
<p>Most importantly, we need help deciding on the format and the price of the product.  I'm going to describe all of our ideas below (including the potential prices). After you've read them, <a href="http://www.linguatrek.com/node/169">please fill out this survey</a> to let us know which idea you like best (if any of them)!</p>
<p>Just to be clear:</p>
<ul>
<li><strong>We only intend to do <em>one</em> of the ideas described below</strong> - at least at first.</li>
<li><strong>Nothing is decided yet!</strong> We really do need your help in designing this offer and we will change our plans depending on the results of the survey.</li>
</ul>
<h3>Packages of texts</h3>
<p><strong>Each product would be a package of texts on a specific topic for a specific level.</strong></p>
<p>For example: "American Politics for Advanced Learners" or "Daily Routine for Beginners".  The "texts" themselves could even be videos with transcripts, but there would always be an audio component (just like on Bibliobird now).</p>
<p>Each package would help you achieve a specific goal with the language. For example, after completing the "American Politics" package you'd be able to argue about politics with real Americans.  Or the "Daily Routine" package would allow you to describe your daily routine. The topic of the first package will be decided in a future survey (if this format is chosen).</p>
<p>The exact number of texts in a package and their length would vary depending on the level.  But each package would contain enough texts for the average learner to go through in about one month.</p>
<p><em>Proposed price: $14.95 or 50 PLN per package.</em></p>
<p>When we were <a href="http://www.linguatrek.com/blog/2011/07/teaching-english-in-poland">teaching English in Kraków, Poland</a>, I charged 50 PLN for a 60 minute one-on-one lesson.  If you have one lesson a week, like most of my students did, that's about 200 PLN a month for learning English. This would be 4 times cheaper!</p>
<h3>Premium subscription</h3>
<p><strong>We would create one text every day on various topics and for various levels, which would only be accessible to <em>premium members.</em></strong></p>
<p>All the premium members would continuously vote on the topics for upcoming texts and the texts would be produced according to their levels (ex. if most premium members are at an advanced level, we'll produce mostly advanced texts).</p>
<p><em>Proposed price: $9.95 or 35 PLN per month.</em></p>
<h3>Full books</h3>
<p><strong>We would annotate and record audio for an entire book!</strong></p>
<p>Of course, we can't use Harry Potter, but it makes for a good comparison. The first Harry Potter book had about 300 pages and 10 hours of audio. I imagine the length and complexity of the book would be similar.</p>
<p>As a beginner it took me 4 months to read my first such book.  For people at higher levels, of course, it wouldn't take as long.</p>
<p><em>Proposed price: $49.95 or 175 PLN per book.</em></p>
<p>I know this seems like a lot, but compare it with buying the first Harry Potter book: it's $10 (35 PLN) for the paper version and $30 (105 PLN) for the audiobook. This is only $9.95 (35 PLN) more and makes reading the book <em>significantly easier</em> for learners. <em>(Remember: we'll have to pay the author of the book as well for each copy sold.)</em></p>
<h2>Future plans</h2>
<p>If we are successful with the presale and produce the first product, here are some of our future plans:</p>
<ul>
<li><strong>Mobile application</strong> - Sitting at your computer isn't the best environment to learn! A while back I actually created a Bibliobird app for Android that's 90% finished. :-) I'd like to finish that and create an iOS version as well.</li>
<li><strong>Market place</strong> - We want to sell paid content on Bibliobird - but there is no reason that we should be the only ones! We'd like to allow other users to create both free and <em>paid content</em> that they can sell.</li>
<li><strong>New languages</strong> - With the help of the community, we'd like to add new languages to Bibliobird! People are constantly asking about Spanish, German and Russian.</li>
<li><strong>More paid content</strong> - After the first product, we plan to continue creating many more!</li>
</ul>
<p><strong>Of course, <em>founding members</em> will get lifetime access to all the new language learning products we create <em>ever!</em>  Everyone else will have to buy each <em>individually.</em></strong></p>
<h2>Let us know what you HONESTLY think!</h2>
<p><a href="http://www.linguatrek.com/node/169">Our survey</a> has only three simple questions (and room for additional comments):</p>
<ul>
<li>Are you a Pole learning English?</li>
<li>Which format would you be most interested in buying? (Or none if you hate all the ideas!)</li>
<li>Would you buy it for the proposed price? (<strong>Remember:</strong> during the presale, the first product will be sold for <em>less</em> than the proposed price.)</li>
</ul>
<p><strong>If have two free minutes, please <a href="http://www.linguatrek.com/node/169">fill out the survey</a>!</strong> The survey will only be open for about a week - I'll announce the results then.</p>
<p><em>You can leave comments below too - but only after you respond to the survey! ;-)</em></p>
</div>

<div id="comments">
<a id="comment-2313"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://howlearnspanish.com" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/378451a8d6aab6e56c0caa50495bd976?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>This sounds like a fantastic idea, I just wish I could try it out (I'm learning Spanish), I'll definitely keep an eye on it and if you ever start offering stuff for English speakers learning Spanish I'll definitely sign up and give it a try.</p>
<p>The prices are very reasonable, and I think you'll get a rough 50/50 split of people wanting the packages vs. the monthly subscription probably with more people going for the packages--that allows you to choose the specific subject you want.  The monthly subscription will be for people who want something delivered to them daily because they know that it will make them do something every single day whereas otherwise they wouldn't because they don't have the discipline and they know it.</p>
<p>Cheers,<br/>
Andrew</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/167/2313">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://howlearnspanish.com" rel="nofollow">Andrew</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/finally-our-full-product-idea-i-need-your-help-with-the-price#comment-2313">sobota, czerwiec 9, 2012 - 18:05</a></span>
</div>
</div>
<div class="indented"><a id="comment-2316"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Thanks! Yeah, I think Spanish is definitely a candidate for a language to be added soon. It's extremely popular not only in the US and other English speaking countries but also in Poland.</p>
<p>I've actually been pretty surprised with the results so far! I was expecting something more like you were. I won't give say too much about the results so far, because I don't want to skew them (too much, that is - I already said a little in the Polish version of this article) but let's just say it wasn't what I was expecting.</p>
<p>Anyway, I'm so glad I've started doing these surveys! I always think I know what my readers are going to choose and I'm always totally wrong. :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/167/2316">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/finally-our-full-product-idea-i-need-your-help-with-the-price#comment-2316">sobota, czerwiec 9, 2012 - 21:59</a></span>
</div>
</div>
<div class="indented"><a id="comment-2365"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://howlearnspanish.com" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/378451a8d6aab6e56c0caa50495bd976?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Yup, that happens a lot: a business or company will think their customers have X opinion and are just so certain about it until they actually start asking them and are shocked at the response they get.  I've learned never to assume that you know what people want, always go off of hard empirical evidence and ask them what they want.</p>
<p>Good luck and I look forward to seeing how this plays out.</p>
<p>Cheers,<br/>
Andrew</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/167/2365">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://howlearnspanish.com" rel="nofollow">Andrew</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/finally-our-full-product-idea-i-need-your-help-with-the-price#comment-2365">niedziela, czerwiec 10, 2012 - 15:29</a></span>
</div>
</div>
</div></div><a id="comment-2314"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/854a06ceb760a94051d3d20b8090f2f6?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Hi David<br/>
It's a great idea, I like it.<br/>
I'm learning polish now, and I really tried the Harry potter book but is so much for a beginner...<br/>
So, I have been trying different methods but I'm going slow with it, your project is something might be<br/>
Exactly what I'm looking for  to improve my Polish.<br/>
Best regards !!!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/167/2314">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Ronald (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/finally-our-full-product-idea-i-need-your-help-with-the-price#comment-2314">sobota, czerwiec 9, 2012 - 19:07</a></span>
</div>
</div>
<div class="indented"><a id="comment-2317"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Ronald,</p>
<p>I can't wait to do more for people learning Polish on Bibliobird! I always feel a strange connection to other humans who decide to learn this beautiful language. :-) In any case, I've been blessed with a relatively large Polish readership and so I've been pursuing their needs first. But support for Polish learners will come soon (I hope)!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/167/2317">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/finally-our-full-product-idea-i-need-your-help-with-the-price#comment-2317">sobota, czerwiec 9, 2012 - 22:03</a></span>
</div>
</div>
</div><a id="comment-2321"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/5609ea83edf92f4bad9b21ad056f8514?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Hello Dawid!!! The price is fine. I am sure that most the Poles could afford. For example in the past I had to pay for an hour with a teacher of English £10 up to £15. I had to give up, because I was not ''well-off''(??) ( ''wealthy'' I am not sure that word in English).<br/>
You wrote that you could make a book plus a MP-3. Did you mean an    e-book plus MP-3 ( PDF format)<br/>
Have you thought about an academic topics???Some people want to study in a University and they have to pass an Exam like an IELTS or TOEFL ( I don't like FCE ;-( ;-()waste of time.<br/>
I am sure that most of your customers will come from.....Poland and England ( second Poland). I know David it is not easy to make a plan, but your prices are good.</p>
<p>Kind regards</p>
<p>Radek from England</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/167/2321">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Radek (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/finally-our-full-product-idea-i-need-your-help-with-the-price#comment-2321">niedziela, czerwiec 10, 2012 - 01:59</a></span>
</div>
</div>
<div class="indented"><a id="comment-2349"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Radek!</p>
<p>I think "well-off" is probably better in this context than "wealthy". In my mind, "wealthy" means really, really rich! :-)</p>
<p>Yeah, I mean a book on Bibliobird, so in electronic format. When you don't know a word you can click on it and a translation comes up and it's added to your flashcards to review later.</p>
<p>That's an interesting idea about academic topics! I'll think about it.</p>
<p>Thanks for the words of support!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/167/2349">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/finally-our-full-product-idea-i-need-your-help-with-the-price#comment-2349">niedziela, czerwiec 10, 2012 - 07:26</a></span>
</div>
</div>
</div><a id="comment-2326"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://about.me/tomfrompoland" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/3cdbaa2914c95444fc7968fe42ddfa2b?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Hi David,</p>
<p>I've just voted on "full books" and think that price is high but worth it if a book has at least 10h of audio and over 300 pages of text. Shorter books should cost lower.</p>
<p>But all depends of interesting content and interesting content isn't the same for everyone, so I think it'll be extremely hard to find proper content, because even well-known content (like Harry Potter series) can't be good for majority.</p>
<p>Maybe Greg's Diary by Jeff Kinney series will be good? Its have many editions (like Spanish or German, I don't know about Polish) and describe daily life of younger boys. Its have an audio version, so you don't have to prepare yourself. But I don't know nothing about copyright costs and it can be expensive :(.</p>
<p>Or Hardy Boys Series? It's also popular in USA.</p>
<p>Or maybe try to find some good children or young adults self-publishing books from unknown wider authors. Some of them write also interesting books and probably easier to take copyright and it'll be cheaper that well-known books.</p>
<p>All the best<br/>
Tom</p>
<p>P.S.<br/>
I first time heart your English :-) Hehe :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/167/2326">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://about.me/tomfrompoland" rel="nofollow">TomFromPoland</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/finally-our-full-product-idea-i-need-your-help-with-the-price#comment-2326">niedziela, czerwiec 10, 2012 - 03:19</a></span>
</div>
</div>
<div class="indented"><a id="comment-2350"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Tom!</p>
<p>Thanks for responding to the survey and the words of support. :-)</p>
<p>Yeah, it will definitely be hard to find a book that enough people like. That's an other reason that a presale will be good! If I'm lucky, I can get most of the costs of production out of the way. If the book isn't popular enough to succeed in a presale, the product wouldn't be created.</p>
<p>Thanks for the suggestions! The Hardy Boys would be sooo awesome to have. I think it's a great series for learning English for many reasons (probably a topic for another article). But given how big they are, I don't think I'll be able to negotiate the copyright.</p>
<p>I'm definitely thinking self-published authors. If I can go to them and say "I'll be able to sell X books that you never would be able to sell otherwise," I'll be able to negotiate a good price.</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/167/2350">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/finally-our-full-product-idea-i-need-your-help-with-the-price#comment-2350">niedziela, czerwiec 10, 2012 - 07:32</a></span>
</div>
</div>
</div><a id="comment-2363"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/6c7e0baff946eb67973581d37097252a?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Good Idea.  I believe will reach your destination.  Collaboration is normally very effective.  I have an additional idea:<br/>
I watch a serial on TV Polonia via internet subscription, "Ranczo".  There are english subtitles for the enjoyment of english speakers.  I really like the program and the beauty of watching it via the internet is that I can replay the scenes which I do, attempting to pick up the words in the dialogue.  As you can assume, this is really difficult and really for most native paced dialogue, almost impossible for a beginner or even intermediate learner.  The addition of a transcript of the dialogue greatly increases the speed of comprehension.  So this would be like the audio version of a book, along with the printed book but for a TV program.  TV programs can be a very good alternative to audio books.<br/>
  The obstacle is, how can the transcript be created efficiently.  Would speech recognition software work similarly to the auto annotation?  A place to get the transcript started, then manually corrected by a native polish speaker? A polish speech recognition program probably does not exist.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/167/2363">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Oldman (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/finally-our-full-product-idea-i-need-your-help-with-the-price#comment-2363">niedziela, czerwiec 10, 2012 - 12:44</a></span>
</div>
</div>
<div class="indented"><a id="comment-2405"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Thanks for the idea! Having a television series would be great. As far as I know, automatic transcription technology still isn't very good. It would probably have to be like you describe - similar to the annotator: first automatic then manual. Or maybe even just manual?</p>
<p>The bigger problem is the copyright! I'm not sure if we can legally publish transcripts to a television show without their permission. We almost certainly can't sell them! It could be something added to Bibliobird by users as we aren't legally responsible (at least in the USA) for the things our users post, but we would have to take them down if the copyright owner complains. Although telling you that might make the legal situation even more sketchy. ;-)</p>
<p>In any case, it's an idea that I'll be thinking about!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/167/2405">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/finally-our-full-product-idea-i-need-your-help-with-the-price#comment-2405">środa, czerwiec 13, 2012 - 15:30</a></span>
</div>
</div>
</div><a id="comment-2369"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://malishkaphotography.com" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/ad8276cd42024392fe30817fc3fb4d58?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>My polish teacher introduced me to the Julek i Julka books.<br/>
They are excellent for beginning to read polish. They contain many entertaining short stories, which are easy to read.<br/>
Something like these (but not these since I've read them :-)) would be great! The material needs to keep you interested.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/167/2369">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://malishkaphotography.com" rel="nofollow">Paul</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/finally-our-full-product-idea-i-need-your-help-with-the-price#comment-2369">poniedziałek, czerwiec 11, 2012 - 08:05</a></span>
</div>
</div>
<div class="indented"><a id="comment-2406"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>I hadn't heard of the Julek i Julka books! I just did a quick Google search and they seem fun. I'll have to track one down to see what they look like... And save it to later indoctrinate my future children with a love of Poland, mwahahahaha! :-)</p>
<p>Thanks for the suggestion!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/167/2406">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/finally-our-full-product-idea-i-need-your-help-with-the-price#comment-2406">środa, czerwiec 13, 2012 - 15:36</a></span>
</div>
</div>
</div><a id="comment-2422"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/377da01e56b85b716cf82cbe21d4aec5?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Sounds awesome David! I will buy the book whenever it comes out. You have really helped me get to the next step.  Before, i was just doing the same thing over and over again, learning new words without a good review system.  I downloaded Anki and bought the IPhone app ($25, but well worth it) and now i am retaining words like never before.  Also, this is weird, but for those who are having problems with watching films and they want something to watch that will be a little easier, i suggest Kubus Puchatek (Winnie the Pooh).  I love it and it reminds me of my childhood. Thanks again David and keep up the awesome work!!! </p>
<p>Jason</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/167/2422">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/finally-our-full-product-idea-i-need-your-help-with-the-price#comment-2422">czwartek, czerwiec 14, 2012 - 04:53</a></span>
</div>
</div>
<div class="indented"><a id="comment-2436"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Jason,</p>
<p>Thanks!</p>
<p>I'm glad that Anki is really working out for you! Also, thanks for the suggestion! I'm sure that it will be useful to other learners. :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/167/2436">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/finally-our-full-product-idea-i-need-your-help-with-the-price#comment-2436">piątek, czerwiec 15, 2012 - 10:19</a></span>
</div>
</div>
</div><a id="comment-2467"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/06/results-of-the-survey-the-winner-is-very-surprising" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>[...] so much to everyone who responded to the survey from last Saturday about our upcoming paid language learning [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/167/2467">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/06/results-of-the-survey-the-winner-is-very-surprising" rel="nofollow">Results of the survey! (the winner is very surprising) | Lin</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/finally-our-full-product-idea-i-need-your-help-with-the-price#comment-2467">niedziela, czerwiec 17, 2012 - 06:30</a></span>
</div>
</div>
<a id="comment-2531"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/06/the-topic-of-our-paid-product-the-presale-starts-in-a-couple-days" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>[...] Two weeks ago I told you about our idea for a paid language learning product. There was a survey about the price and format for this product. A few hundred people filled out the form - thanks so much! [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/167/2531">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/06/the-topic-of-our-paid-product-the-presale-starts-in-a-couple-days" rel="nofollow">The topic of our paid product (the presale starts in a coupl</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/finally-our-full-product-idea-i-need-your-help-with-the-price#comment-2531">piątek, czerwiec 22, 2012 - 09:15</a></span>
</div>
</div>
<a id="comment-2724"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/07/bibliobird-presale-is-a-success-216-whats-next" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>[...] weeks ago, we launched our crowdfunding campaign on PolakPotrafi.pl to presell the first package of paid texts and to build a group of enthusiastic founding members to help us build and test it as well as all [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/167/2724">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/07/bibliobird-presale-is-a-success-216-whats-next" rel="nofollow">Bibliobird presale is a success! 216%! What&amp;amp;#039;s next?</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/finally-our-full-product-idea-i-need-your-help-with-the-price#comment-2724">wtorek, lipiec 17, 2012 - 09:57</a></span>
</div>
</div>
<div class="box">
<h2>Dodaj nową odpowiedź</h2>
<div class="content"><form accept-charset="UTF-8" action="/comment/reply/167" id="comment-form" method="post">
<div><div class="form-item" id="edit-name-wrapper">
<label for="edit-name">Nazwisko lub pseudonim: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-name" maxlength="60" name="name" size="30" type="text" value="Anonymous"/>
</div>
<div class="form-item" id="edit-mail-wrapper">
<label for="edit-mail">E-mail: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-mail" maxlength="64" name="mail" size="30" type="text" value=""/>
<div class="description">Zawartość pola nie będzie udostępniana publicznie. If you have a <a href="http://www.gravatar.com">Gravatar</a> account, used to display your avatar.</div>
</div>
<div class="form-item" id="edit-homepage-wrapper">
<label for="edit-homepage">Strona domowa: </label>
<input class="form-text" id="edit-homepage" maxlength="255" name="homepage" size="30" type="text" value=""/>
</div>
<div class="form-item" id="edit-comment-wrapper">
<label for="edit-comment">Odpowiedź: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<textarea class="form-textarea resizable required" cols="60" id="edit-comment" name="comment" rows="15"></textarea>
</div>
<ul class="tips"><li>Adresy internetowe są automatycznie zamieniane w odnośniki, które można kliknąć.</li><li>Dozwolone znaczniki HTML: &lt;a&gt; &lt;em&gt; &lt;strong&gt; &lt;cite&gt; &lt;code&gt; &lt;ul&gt; &lt;ol&gt; &lt;li&gt; &lt;dl&gt; &lt;dt&gt; &lt;dd&gt; &lt;blockquote&gt;</li><li>Znaki końca linii i akapitu dodawane są automatycznie.</li></ul><input id="form-031e460fb84403fe3dc2f3f0e482ccee" name="form_build_id" type="hidden" value="form-031e460fb84403fe3dc2f3f0e482ccee"/>
<input id="edit-comment-form" name="form_id" type="hidden" value="comment_form"/>
<div class="clear-block"><div class="form-item" id="edit-notify-wrapper">
<label class="option" for="edit-notify"><input checked="checked" class="form-checkbox" id="edit-notify" name="notify" type="checkbox" value="1"/> Notify me when new comments are posted</label>
</div>
<div class="form-radios"><div class="form-item" id="edit-notify-type-1-wrapper">
<label class="option" for="edit-notify-type-1"><input class="form-radio" id="edit-notify-type-1" name="notify_type" type="radio" value="1"/> All comments</label>
</div>
<div class="form-item" id="edit-notify-type-2-wrapper">
<label class="option" for="edit-notify-type-2"><input checked="checked" class="form-radio" id="edit-notify-type-2" name="notify_type" type="radio" value="2"/> Replies to my comment</label>
</div>
</div></div><input class="mollom-content-id" id="edit-mollom-contentId" name="mollom[contentId]" type="hidden" value=""/>
<input class="mollom-captcha-id" id="edit-mollom-captchaId" name="mollom[captchaId]" type="hidden" value=""/>
<div style="display: none;"><div class="form-item" id="edit-mollom-homepage-wrapper">
<input autocomplete="off" class="form-text" id="edit-mollom-homepage" maxlength="128" name="mollom[homepage]" size="60" type="text" value=""/>
</div>
</div><div class="description mollom-privacy">By submitting this form, you accept the <a class="mollom-target" href="https://mollom.com/web-service-privacy-policy" rel="nofollow">Mollom privacy policy</a>.</div><input class="form-submit" id="edit-preview" name="op" type="submit" value="Podgląd"/>
</div></form>
</div>
</div>
</div>
