---
permalink: /blog/2012/06/learning-a-foreign-language-is-all-about-time/
layout: blog-old
title: 'Learning a foreign language is all about time!'
day: 12
month: Jun
year: 2012
category: language learning
tags: 
  - 'time'
language: en
translation: /blog/2012/06/w-nauce-j%C4%99zyka-obcego-najwa%C5%BCniejszy-jest-czas/
---
<div class="content">
<p><em>Today I have the pleasure of publishing a guest post from Wojtek Ryrych, a long-time reader of my blog and a frequent commenter. He already contributed an article to the blog a few weeks ago when I published <a href="http://www.linguatrek.com/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-great-material-for-learners-of-english-or-polish">an e-mail</a> from him about a great dual language Polish-English reader that he had recently bought.</em></p>
<p><em>Wojtek is a web developer and designer. You can visit his website at <a href="http://ryrych.pl">ryrych.pl</a>, which is still under construction but he hopes something will appear there soon. As the saying goes, "The cobbler's children have no shoes." :-)</em></p>
<hr/>
<div class="diag align-right" style="float: right; width: 107px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/default/files/imagecache/Large/image/2012/06/superman.jpg" rel="lightbox"><img alt="Man dressed as superman" src="http://www.linguatrek.com/sites/default/files/imagecache/Small/image/2012/06/superman.jpg" title="Photo by Thomas Hawk"/></a><div class="caption"><a href="http://www.flickr.com/photos/51035555243@N01/6849283819">Photo</a> by <a href="http://www.flickr.com/photos/thomashawk/">Thomas Hawk</a></div></div>
<p>In this short article I would like to share some things with you that many of you probably haven't thought about. I'll tell you a particular truism.</p>
<p>Here it is:</p>
<p><blockquote>To achieve success you have to practice.</blockquote></p>
<p><em>Practice a lot.</em> Some people claim that you have to devote 10,000 hours.</p>
<p><em>Is it true?</em> <strong>Read on!</strong></p>
<h2>What? I have to spend 10 years to learn?!</h2>
<p>10,000 hours is a lot of time. It's 3 hours a day for 10 years.</p>
<p>The 10,000 hour principle, let's call it "from zero to hero," was described among other things in the book "Outliers" by Malcolm Gladwell. The principle is nothing but putting the old adage "practice makes perfect" into a specific time frame.</p>
<p>An amateur is different from a professional in that, the latter put enough time into the study of his field. The field actually doesn't matter. And everyone can achieve a success! Even you.</p>
<p>But there is no escape. There is no shortcut. There is no such thing as "3 months to fluency" – at least not from zero.</p>
<p>But I have some good news for you! 80% of the desired goal can be achieved faster than you think.</p>
<h2>The Pareto Principle</h2>
<p>80/20 – remember this principle well! It will surely come in handy in many fields of your life.</p>
<p>Not going into the details, the principle says that 80% of a goal can be achieved with 20% of the effort. Commerce is the classic example – 20% of our customers provide us with 80% of our income. <em>Simple?</em> Simple! And how true!</p>
<p>It becomes very interesting in our case. You can achieve 80% of language fluency - not in 10 thousand hours - but in what seems achievable to everyone: in 2-3 years, depending on the time you put in.</p>
<p><em>Want proof?</em> Here you go! David Snopek. :)</p>
<h2>Wait, wait, I’ve been learning for 10 years and don't know anything!</h2>
<p>A small note. Time is only one of the factors to success. There is also at least <a href="http://www.linguatrek.com/blog/2011/03/the-three-ingredients-for-successful-language-learning">motivation and a suitable method</a>. But these things are described in <a href="http://www.linguatrek.com/blog/2012/04/natural-language-learning-without-a-teacher">David’s ebook</a>. Read it, it's worth it.</p>
<h2>I gave up after two weeks!</h2>
<p>There is also one thing you must know. You have to know how to start. If you've just begun and have decided to spend 2-3 hours a day to learn a new skill (not only language), know that there's a 90% chance that you'll give up after a short time.</p>
<p><strong>This is natural and I have been through it many times. But I have a solution for you.</strong></p>
<h2>Baby steps</h2>
<p><strong>Small steps - even smaller steps than you're thinking - can make a big impact. :)</strong></p>
<p>It's an old and reliable method. Used by the masters. There is also one and important virtue that relates to this principle: patience.</p>
<p>I know that it's rather difficult to have patience nowadays, in the era of the internet and Google. I'm still learning it. But it is patience that will help you to slow down because the temptation to achieve success faster will be huge.</p>
<p>The matter is simple. Even when it comes to languages. Because if you're starting from zero you will not last 2 hours a day (unless you have experience). Spend half an hour, or 20 minutes.</p>
<p>Choose a goal. I will learn these 2000 basic words not in 3, but in 6 months. <em>Took 8?</em> No problem! Later you can gradually increase the time.</p>
<p>To achieve success in life, changes have to be introduced gradually. Slower than you were just thinking. :)</p>
<h2>Hyperpolyglots?</h2>
<p>This is another matter. They are professionals. If you think that they have supernatural skills, you are wrong. It's the huge amount of time they have put in that differentiates them from ordinary language enthusiasts. It is their whole life and way of earning money.</p>
<p>Could I learn 10 languages? Of course! And so could you! But I won't do it because I don't want to.</p>
<p>Languages are not my only hobby. If I stopped developing as a web designer/developer, gave up my interest in politics and other hobbies and spent my whole day on languages, I could become one of them!</p>
<p><strong>Everyone has a choice. There is only one day. <em>It is all about time.</em></strong></p>
<h2>Conclusion</h2>
<p>I trust I didn't discourage you. In fact, I believe I've raised your spirits!</p>
<p>Because everyone can learn a foreign language, irrespective of age. Any of us can achieve success. Success is practice and requires time.</p>
<p>Don't you sometimes think it would be good to put aside that television show or movie at night and do something that will bring you closer to success?</p>
<h2>About the author</h2>
<div class="diag align-right" style="float: right; width: 85px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/default/files/imagecache/Large/image/2012/06/wojtek-ryrych.png" rel="lightbox"><img alt="Photo of Wojtek" src="http://www.linguatrek.com/sites/default/files/imagecache/Small/image/2012/06/wojtek-ryrych.png" title=""/></a></div>
<p>Wojciech Ryrych is a self-directed learner who loves learning new things. Although he's still brushing up on his English, he would like to learn at least German and Russian.</p>
<p>Today he would like to tell you: <em>read language blogs, cause it's not worth reinventing the wheel!</em></p>
<p><strong>What do you think of Wojtek's article? Do you agree? How important has time been in your language learning? Write a comment below!</strong></p>
</div>

<div id="comments">
<a id="comment-2398"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://pathtopolyglot.wordpress.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f9ce1604f3fef58b6b53ae76bbb25fce?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>I do agree that it is all about time. I think that if I put more time, and what comes with that, effort, I would be much farther along in my German language skills. This would be even more true if I had taken advantage of my time spend in Germany (6 weeks total) by speaking more than one sentence of German during that time.<br/>
Anyways, long story short....agreed!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/171/2398">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://pathtopolyglot.wordpress.com" rel="nofollow">Tiffany</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/learning-a-foreign-language-is-all-about-time#comment-2398">Tuesday, June 12, 2012 - 13:30</a></span>
</div>
</div>
<div class="indented"><a id="comment-2400"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Why didn’t you take this advantage? I’m just curious. As for me – an introvert – it is and if I were you, it would be very difficult. Recently I came up with the idea that introverts are better at finding dedicated time to learn but generally start speaking later than extroverts. On the other hand extroverts who sometimes tend to be absent-minded have problems with finding time but the problem with getting over the problem with speaking is non-existent.</p>
<p>That’s why in my opinion there is no ‘one fit all’ method. You have to know yourself find your way.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/171/2400">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/learning-a-foreign-language-is-all-about-time#comment-2400">Tuesday, June 12, 2012 - 16:20</a></span>
</div>
</div>
<a id="comment-2417"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Tiffany, I love the subtitle of your blog: "Journey in Learning German for Real." :-) I just subscribed and look forward to future articles about your mission! In general I'm excited to see how people fare with Benny's challenge.</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/171/2417">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/learning-a-foreign-language-is-all-about-time#comment-2417">Wednesday, June 13, 2012 - 18:31</a></span>
</div>
</div>
</div><a id="comment-2399"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.language-bridge.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8a0deab71d1faa7c598e0f554af56834?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Wojciech,</p>
<p>You might be interested in watching this video:</p>
<p><a href="http://www.babelnomore.com/2012/01/15/michael-speaking-at-google/" title="http://www.babelnomore.com/2012/01/15/michael-speaking-at-google/">http://www.babelnomore.com/2012/01/15/michael-speaking-at-google/</a> </p>
<p>Michael Erard searched for hyperpolyglots, and when he found them (he studied 145 people) -- in history books and living among us -- he tried to make sense of their linguistic feats and their mental powers. His book (Babel No More) answers the age-old question, what are the upper limits of the human ability to learn, remember, and use languages?</p>
<p>Erard says it is hard to explain, but whatever an individual's biographical reasons are, he believes there is something that distinguishes hyperpolyglots neurologically.</p>
<p>"They have a neurological hardware that responds to the world, that's fed by the world that is suited to a pattern that is recognition-heavy, sound-heavy and memory-heavy - that is very structured, and also very sociable."</p>
<p>I agree with you that every adult can learn a few foreign languages but saying that a person can become a hyperpolyglot if he chooses is wrong. </p>
<p>Remember that the number of hyperpolyglots in the world is much less than the number of Nobel prize winners!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/171/2399">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.language-bridge.com" rel="nofollow">Arkady</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/learning-a-foreign-language-is-all-about-time#comment-2399">Tuesday, June 12, 2012 - 16:13</a></span>
</div>
</div>
<div class="indented"><a id="comment-2401"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi Arkady,</p>
<p>Erard’s book is on my long TODO list and would like to read it sooner or later. Perhaps I put it wrong but the term ‘hyperpolyglot’ itself is vague and overrated. I refer to the program on Canadian TV which was about these people a few weeks ago. As I’m a Steve Kaufmann follower, he dispelled some myths in his recent comments. He himself claims that he’s learnt 5 languages after he turned 50. Can we call him a hyper kind of a polyglot? He said he wasn’t. :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/171/2401">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/learning-a-foreign-language-is-all-about-time#comment-2401">Tuesday, June 12, 2012 - 16:34</a></span>
</div>
</div>
<a id="comment-2416"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Arkady!</p>
<p>Thanks for the link to the video. I'll definitely watch that when I have a free moment. I really love many of the @Google talks. :-)</p>
<p>I guess it comes down to who is really a "hyperpolyglot". If we're talking about the really truly exceptional people who learned dozens of languages, I guess I'm OK with that.</p>
<p>But there are lots of people in the polyglot community who speak six or greater languages fluently (which is the definition <a href="http://en.wikipedia.org/wiki/Polyglotism#Hyperpolyglot">according to the Wikipedia</a>) and I'd say the vast majority don't have a built in talent or a different neurology. They just love languages and so have put in enormous amounts of time.</p>
<p>Most had periods where they failed to learn languages successfully or at least very slowly. Their true language ability formed some time later in adulthood (both Benny Lewis and Steve Kaufmann fit this description). This seems to point away from biologic reasons for their abilities.</p>
<p>In any case, it's an interesting discussion!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/171/2416">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/learning-a-foreign-language-is-all-about-time#comment-2416">Wednesday, June 13, 2012 - 17:56</a></span>
</div>
</div>
</div><a id="comment-2418"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://howlearnspanish.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/378451a8d6aab6e56c0caa50495bd976?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>I particularly agree with the part about baby steps, and that's not just language-learning, that's basically anything difficult, especially if it takes a long time (the example that jumps to my mind is starting and successfully running your own business because this is the example that taught me this principle).</p>
<p>Pareto's rule is fascinating but I've frequently found that it's not very helpful due to the fact that often you can't isolate that 20%, you can't figure out who/what comprises that magical 20% that produces 80% of the results, at which point it just depresses you as you think "gee, it would be really nice if I knew who/what that 20% was, it really sucks that I can't find out :/ "</p>
<p>For example, 20% of everything you do in the process of trying to learn a new language will result in 80% of your progress, yes, but only knowing what the 20% is <strong>ahead of time</strong> will help, and you won't, you'll only figure out what that 20% is by doing <strong>everything</strong> (the 80% and the 20%) and then afterwards you'll be able to discern which things gave you your best results, but at that point that information is useless unless you're going to go off and learn another language (in which case it's very valuable, yes), which is why people who have already taught themselves at least one 2nd language have a much easier time learning others: they've learned how to learn languages.</p>
<p>Anyway, I digress.  Good article and I agree with what you said, just wanted to expand on it a bit.</p>
<p>Cheers,<br/>
Andrew</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/171/2418">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://howlearnspanish.com" rel="nofollow">Andrew</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/learning-a-foreign-language-is-all-about-time#comment-2418">Wednesday, June 13, 2012 - 20:09</a></span>
</div>
</div>
<div class="indented"><a id="comment-2421"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi Andrew!</p>
<p>You’re right! Knowing what’s important comes with practice. That’s why I wrote that the time is only one of the factors that lead to success. Learning your first foreign language is quite tricky.</p>
<p>I hope that my next language will be a breeze. And I will be able to use the power of 80/20. :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/171/2421">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/learning-a-foreign-language-is-all-about-time#comment-2421">Thursday, June 14, 2012 - 03:09</a></span>
</div>
</div>
</div><a id="comment-2439"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://howlearnspanish.com/2012/06/friday-linkfest-61512/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] A guest post by Wojtek over at Linguatrek concerning time management and the Pareto principle in the... gave what I thought was a very good basic overview of the subject that I agree with: it really is all about baby steps. [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/171/2439">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://howlearnspanish.com/2012/06/friday-linkfest-61512/" rel="nofollow">Friday Linkfest &amp;amp;#8211; 6/15/12 &amp;amp;#8211; Five awesome</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/learning-a-foreign-language-is-all-about-time#comment-2439">Friday, June 15, 2012 - 20:46</a></span>
</div>
</div>
<a id="comment-2482"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.heinsuniverse.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9b5a91a5425e416d4a02ce7d3e1f9ff5?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Good things take time. I've spent over 1400 hours learning Chinese and I feel as if I can only have basic conversations. It's not only the time you spend, but the quality of time. Being an English teacher in Taiwan, I've seen (non-motivated)students who have been learning English for 9 years but they cannot even say one full sentence fluently. Others study only a few years but are internally motivated, and their skill is amazing. Quantity vs quality, but I agree with this article, it takes time, perseverance is  the key.<br/>
<a href="http://www.heinsuniverse.com" title="http://www.heinsuniverse.com">http://www.heinsuniverse.com</a></p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/171/2482">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.heinsuniverse.com" rel="nofollow">Hein</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/learning-a-foreign-language-is-all-about-time#comment-2482">Monday, June 18, 2012 - 11:16</a></span>
</div>
</div>
<div class="indented"><a id="comment-2503"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Hein,</p>
<p>Thanks for the comment!</p>
<p>I agree absolutely that the quality of the time is important. In many traditional classes you spend a lot of time doing activities that really aren't improving your language ability. So, for example, you could put in 1 hour of time but only acheive 10 minutes of real learning.</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/171/2503">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/learning-a-foreign-language-is-all-about-time#comment-2503">Tuesday, June 19, 2012 - 12:32</a></span>
</div>
</div>
</div>
</div>
