---
permalink: /blog/2012/06/mój-następny-wielki-projekt-po-ebooku/
layout: blog-old
title: 'Mój następny WIELKI projekt po ebooku!'
day: 4
month: cze
year: 2012
category: personal
tags: [ ]
language: pl
translation: /blog/2012/06/my-next-big-project-after-the-ebook/
---
<div class="content">
<p>Wiem, że ostatnio wiele nowych osób zasubskrybowało sie do mojego bloga. Chce was zapewnić, że <em>zwykle</em> piszę artykuły i nagrywam filmiki na temat porad o nauce języków oraz informacji o polskiej i amerykańskiej kulturze. :-)</p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/paandi.jpg" rel="lightbox"><img alt="Z moim ojcem w barze" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/paandi.jpg" title="Z moim ojcem na moim weselu."/></a><div class="caption">Z moim ojcem na moim weselu.</div></div>
<p><strong>Dzisiejszy artykuł będzie o wiele bardziej osobisty.</strong></p>
<p>Mój ojciec lubi mówić, że:</p>
<blockquote>
<p><strong>Wszystko zajmuje dwa razu więcej czasu, tak długo jak Ci się wydaje, że zajmie - nawet jeśli bierzesz to pod uwagę.</strong></p>
</blockquote>
<p>W marcu, <a href="http://www.linguatrek.com/blog/2012/03/vlog-nasze-wielkie-og%C5%82oszenie-i-potrzebujemy-waszej-pomocy">powiedziałem wam</a>, że razem z żoną chcemy zrezygnować z pracy i pracować wyłącznie nad stworzeniem płatnego produktu do nauki języków.</p>
<p>Aby uczcić tę WIELKĄ decyzję i podziękować Wam wszystkim za Wasze nieustające wspracie przez te wszystkie lata, zdecydowałem dla Was napisać <a href="http://www.linguatrek.com/blog/2012/04/vlog-naturalna-nauka-j%C4%99zyka-bez-nauczyciela">DARMOWY ebook</a> o nauce języków obcych. Naprawdę myślałem, że opublikuję go po 2-3 tygodniach od opublikowania ogłoszenia, ale on nie był <a href="http://www.linguatrek.com/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC">kompletnie skończony</a> do 10 maja (dokładnie 6 tygodni po opublikowaniu mojego ogłoszenia).</p>
<p><strong><em>Okazało się, że mój ojciec miał racę!</em></strong></p>
<p>Ogólnie rzecz biorąc, pisanie ebooka było o wiele bardziej trudne niż mi się wydawało. Byłem trochę zawiedziony, że zajęło to tak długo. Jednak kiedy w końcu go opublikowałem, wiele osób było zaskoczonych, że udało mi się to wszystko osiagnąć w ciągu 6 tygodni. :-) Wydaje się, że myśleli, że to zajmie jeszcze więcej czasu!</p>
<p>W każdym razie, potrzebowałem kilka tygodni odpoczynku po napisaniu ebooka. <strong>Ale teraz jestem gotowy, aby zacząć mówić o naszym płatnym produkcie!</strong></p>
<p>Nie mogę się doczekać, aby usłyszeć co o tym myślicie! Proszę przeczytajcie ten artykuł i powiedzcie mi szczerze czy to jest rzecz, którą bylibyście zainteresowani.</p>
<p><strong>Czytajcie dalej, aby dowiedzieć się więcej o naszym przyszłym płatnym produkcie do nauki języków obcych!</strong></p>
<p><em>(Nagrałem <a href="http://www.youtube.com/watch?v=CNERMkDbbms">krótki filmik</a> związany z tym artykułem, jeśli jesteś ciekaw/a.)</em></p>
<h2>Zaczęło się przez przypadek</h2>
<p>Zacząłem <em>uczyć się</em> języków celowo. Ale zacząłem pomagać innym w nauce języków obcych <em>całkowicie przez przypadek!</em></p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/firstyoutubevideo.jpg" rel="lightbox"><img alt="Moje pierwsze wideo na YouTube" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/firstyoutubevideo.jpg" title="Moje pierwsze wideo na YouTube nagranie po polsku."/></a><div class="caption">Moje pierwsze wideo na YouTube nagranie po polsku.</div></div>
<p>Nagrałem <a href="http://www.youtube.com/watch?v=5NA29HFBC68">moje pierwsze wideo</a> na YouTube trzy lata temu po prostu, aby ćwiczyć mówienie po polsku. Nie miałem <em>żadnego pojęcia</em>, że ktokolwiek poza garstką ludzi, którzy przeczytali mój stary blog, go oglądałby (nie mówiąc o 12,000). Ale to okazało się jeszcze większą niespodzianką kiedy ludzie zaczęli pytać mnie o porady na temat nauki języków!</p>
<p>Później zacząłem nagrywać filmiki specjalnie o nauce języków. Następnie założyłem ten blog, aby pisać tylko o tym (mój stary blog był o pisaniu oprogramowania - to jest czym się zajmuję na co dzień). Ostatecznie, utworzyłem <a href="http://www.bibliobird.com">Bibliobird</a>, aplikację do nauki języków o jawnym kodzie źródłowym (Open Source).</p>
<p>Przez ostatnie trzy lata, miałem okazję pomóc setkom (jeśli nie tysiącom) ludzi. Nauczyłem się również BARDZO dużo od nich i ich doświadczeń życiowych.</p>
<p><strong>To uświadomiło mi, że pomaganie ludziom w nauce języka jest <a href="http://www.linguatrek.com/blog/2012/03/o-mnie-i-mojej-misji">moją prawdziwą pasją!</a></strong></p>
<h2>Mój dylemat</h2>
<p>Do tej pory, cała moja internetowa aktywność związana z nauką języka była moim <em>hobbym</em> -- niezwykle czasochłonne hobby!</p>
<p><strong>Prawie nie mam czasu na odpowiadanie na wszystkie <a href="http://www.linguatrek.com/blog/2012/03/email-problem-i-need-your-help">e-maile, które dostaję</a>, nie mówiąc o pisaniu nowych artykułów, nagrywaniu nowych filmików i ulepszaniu Bibliobird'a.</strong></p>
<p>Właściwie, pod koniec ostatniego roku, <a href="http://www.linguatrek.com/blog/2012/03/vlog-dlaczego-o-ma%C5%82o-nie-przesta%C5%82em-blogowa%C4%87-i-nasze-wielkie-marzenie">poważnie rozważałem</a> zamknięcie mojego bloga i Bibliobirda, ponieważ nie miałem na to wystarczająco czasu. Zamiast tego, w styczniu, zdecydowałem się zrezygnować z obiecującej firmy technologicznej, którą założyłem, aby zrealizować moje marzenie o zamianie mojej pasji do nauki języka w pracę na pełny etat.</p>
<p>Od początku tego roku, rozmawiałem z <a href="http://pl.bibliobird.com/node/7309">wieloma</a> <a href="http://www.linguatrek.com/blog/2012/02/vlog-zasubskrybuj-m%C3%B3j-blog-i-dosta%C5%84-prezent">osobami</a> na temat ich problemów, potrzeb, obaw i pragnień w odniesieniu do nauki języków obcych.</p>
<p>Na tej podstawie, uważam, że istnieje okazja na stworzenie naprawdę wyjątkowych i potężnych produktów dla uczących się języków i zarobienie pieniędzy na godne życie. <strong>Ale możemy to zrobić tylko wtedy kiedy będziemy mieli czas i środki na to, żeby skupić się nad tym 100%!</strong></p>
<h2>Rezygnacja z pracy?! To za duże ryzyko!</h2>
<p>Kiedy po raz pierwszy ogłosiłem, że chcemy zrezygnować z pracy, aby móc nad tym pracować, kilkanaście osób zmartwiło się, że podejmujemy za duże ryzyko.</p>
<p>Bardzo dziękuję za Waszą troskę o nasze dobro. :-) Ale mamy plan, aby spróbować zminimalizować ryzyko:</p>
<blockquote>
<p><strong>Zamierzamy zorganizować <em>przedsprzedaż</em> pierwszego produktu <em>zanim go stworzymy</em> w celu zebrania wystarczająco pieniędzy, aby móc zrezygnować z pracy i skupić się na pracy nad nim.</strong></p>
<p><strong>Jeśli nie zbierzemy wystarczająco pieniędzy z przedsprzedaży, wszystkie pieniądze będą zrefundowanie i produkt nie powstanie. I nadal zachowamy nasze stanowiska pracy.</strong></p>
</blockquote>
<p><em>(Ten model jest powszechnie znany jako <a href="http://crowdfunding.pl/crowdfunding-faq/#.T84SV6ScgxU">crowdfunding</a> czyli finansowanie spółecznościowe - ostatnio spopularyzowany przez portale Kickstarter, IndieGogo i PolakPotrafi.)</em></p>
<p>Ale jeśli zarobimy wystarczająco dużo pieniędzy i stworzymy nasz pierwszy produkt, mamy nadzieję, że dochód z tego pozwoli nam kontynuować tworzenie kolejnych produktów.</p>
<h2>Jak Ty z tego możesz skorzystać</h2>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/sanfrancisco.jpg" rel="lightbox"><img alt="Dom na wzgórzu w San Francisco" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/sanfrancisco.jpg" title="Mam szalony pomysł! Zdjęcie autorstwa Håkan Dahlström"/></a><div class="caption">Mam szalony pomysł! <a href="http://www.flickr.com/photos/93755244@N00/4083220012">Zdjęcie</a> autorstwa <a href="http://www.flickr.com/photos/dahlstroms/">Håkan Dahlström</a></div></div>
<p>Tak więc, oto co mam na myśli zrobić ... i chcę poznać Waszą opinię.</p>
<p>Podczas przedsprzedaży, nasz produkt będzie dostępny, oczywiście, za zniżką. Tak więc, jeśli nam pomożecie i kupicie go zanim on powstanie, będziesz mogli go otrzymać taniej niż jeśli zaczekacie aż do momentu kiedy będzie on skończony.</p>
<p><strong>Ale również rozważam zaoferowanie wybranej grupie osób (może 20) <em>dożywotni dostęp</em> do każdego płatnego produktu do nauki języków jaki kiedykolwiek stworzymy.</strong>  Mamy duże plany i nadzieję, aby tworzyć kilka produktów co roku!</p>
<p>Nie możesz stworzyć trwałego biznesu poprzez oferowanie taniego <em>dożywotniego dostępu</em> do Twoich przyszłych produktów, więc jest to coś co planujemy zrobić tylko RAZ!</p>
<p><strong>Jednak, pójdziemy na kompromis! -- <em>zawsze istnieje kompromis!</em></strong> :-)</p>
<p>Chcemy się upewnić, że produkt jest gotowy, zanim zostanie oficjalnie wydany. Więc, w zamian za taką super ofertę, potrzebujemy Waszych opinii na temat tego produktu (prawdopodobnie w formie ankiety) i pomocy w jego testowaniu <em> podczas gdy będziemy go nadal tworzyć!</em></p>
<h2>Więc co to za produkt?</h2>
<p>No... wyjaśnienie najprawdopodobniej zajęłoby mi cały artykuł i może filmik... :-) Opowiem wam o tym wkrótce!</p>
<p>Ale, oczywiście, będziemy potrzebować Waszej pomocy, aby <em>dokładnie</em> zdecydować co powinna być w nim uwzględnione, ile powinien on kosztować i wiele innych szczegółów.</p>
<p><strong>Na razie, proszę dajcie mi znać co myślicie na temat pomysłu z przedsprzedażą!</strong></p>
<p><strong>Czy uważasz, że to jest dobry pomysł? Czy potencjalnie kupiłbyś nasz produkt czy dożywotni dostęp do naszych wszystkich przyszłych produktów? Czy myślisz, że uda nam się spełnić nasze marzenie? Proszę zostaw komentarz poniżej!</strong></p>
</div>

<div id="comments">
<a id="comment-2208"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/f06d78e110fd6eb87a4b178d850e69dc?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Bardzo dobry pomysł, który według mnie powinien się udać gdyż Davidzie posiadasz już wyrobioną markę jeżeli chodzi o języki :) (przynajmniej na rynku polskim). Można Ci zaufać gdyż osoby, które oglądają Twoje filmiki i śledzą bloga wiedzą, że masz zapał do tego co robisz :)</p>
<p>Czy ja skorzystam z oferty? Nie wiem :)<br/>
Wszystko zależy dla jakiej grupy będzie przeznaczony produkt (poziom zaawansowania w danym języku) oraz ile będzie kosztował.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2208">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kuba (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2208">wtorek, czerwiec 5, 2012 - 10:31</a></span>
</div>
</div>
<div class="indented"><a id="comment-2222"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Dziękuję za miłe slowa. :-)</p>
<p>Będziemy potrzebowali pomocy w ustaleniu niektórych tych szczegółów dla pierwszego produktu, np: na jakim będzie poziomie zaawansowania, ile będzie kosztował, itd. Będzie więcej informacji w następnym artykule na ten temat (który chciałbym opublikować za tydzień albo wcześniej)!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2222">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2222">wtorek, czerwiec 5, 2012 - 12:17</a></span>
</div>
</div>
</div><a id="comment-2209"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="https://www.facebook.com/Official.DJ.Critical" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/0b0dddc91e38aeaa192d66f859f318de?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Po mojemu pomysł jak najbardziej godny podziwu. Bibliobird wyszedł Ci bardzo dobrze z resztą filmiki też są bardzo dobre. Masz bardzo dobre podejście do tego i widać, że bardzo mocno się angażujesz w to co robisz. Marzenia to bardzo ważna rzecz która powinna być przez człowieka spełniona, aby mógł żyć szczęśliwie i spokojnie. Pomysł super. Mam nadzieję, że Ci się poszczęści w tym co masz zamiar nadal robić. Pozdrawiam bodziolomza</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2209">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="https://www.facebook.com/Official.DJ.Critical" rel="nofollow">bodziolomza</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2209">wtorek, czerwiec 5, 2012 - 10:49</a></span>
</div>
</div>
<div class="indented"><a id="comment-2223"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Dziękuję bardzo za komentarz i miłe słowa. :-) Pozdrawiam serdecznie, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2223">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2223">wtorek, czerwiec 5, 2012 - 12:20</a></span>
</div>
</div>
</div><a id="comment-2211"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/50c2ad7e03fb0b104b031a8b01695abc?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Choose a job you love and you will never have to work a day in your life!</p>
<p>David obserwuję Twoją działalność dopiero od niedawna ale z moich obserwacji wynika że do tej pory zrealizowałeś wszystkie postawione przed sobą cele - myślę że z tym będzie podobnie - internauci nie zawiodą ;)</p>
<p>Popieram inicjatywę przedsprzedaży i każdą inną w całej rozciągłości - nie może być inaczej !</p>
<p>Pozdrawiam</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2211">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wolnygosc (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2211">wtorek, czerwiec 5, 2012 - 11:15</a></span>
</div>
</div>
<div class="indented"><a id="comment-2224"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>To fajne przysłowie. :-) Mam nadzieję, że je udowodnimy w naszym życiu. ;-) Dziękuję bardzo za słowa wsparcia! Pozdrawiam serdecznie, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2224">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2224">wtorek, czerwiec 5, 2012 - 12:23</a></span>
</div>
</div>
</div><a id="comment-2215"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/bb895ee735732da95307cf9d969a5782?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Moim zdaniem pomysł może i ryzykowany, ale bardzo dobry. W końcu nie ma nic lepszego niż połączenie pasji z pracą ;) </p>
<p>Co do kupna to wszystko zależy od ceny ale pewnie byłbym zainteresowany :)</p>
<p>Życzę powodzenia, ale skoro darmowy projekt taki jak Bibliobird udał się tak bardzo to dlaczego miałoby być inaczej teraz :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2215">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Soob (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2215">wtorek, czerwiec 5, 2012 - 11:27</a></span>
</div>
</div>
<div class="indented"><a id="comment-2225"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Dzięki za słowa wsparcia. :-) Będziemy potrzebowali pomocy w ustaleniu ceny produktu! Będzie więcej informacji w następnym artykule na ten temat. Pozdrawiam serdecznie, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2225">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2225">wtorek, czerwiec 5, 2012 - 12:24</a></span>
</div>
</div>
</div><a id="comment-2227"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/b3d0d5ff827cab4d8060e021fe320039?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>W ogóle to w jakiej formie ma być ten produkt? To będzie jakiś program czy coś takiego? Według mnie fajnie by było, gdyby było to bardziej o nauce języka angielskiego, np. nauka mówienia z amerykańskim akcentem albo coś w tym stylu. Fajnie by też było gdyby było też coś o USA, o kulturze czy coś takiego. Bo np. mi by do bardziej pasowała niż jak uczyć się różnych języków. A pomysł według mnie fajny ;) Chociaż raczej nie kupiłabym przedsprzedaży bo najpierw wolałabym bardziej zobaczyć co tam dokładnie będzie.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2227">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Agnieszka (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2227">wtorek, czerwiec 5, 2012 - 13:02</a></span>
</div>
</div>
<div class="indented"><a id="comment-2253"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Agnieszka!</p>
<p>Dowiesz się więcej w następnym artykule na ten temat. :-) Pojawi się wkrótce!</p>
<p>Wiem, że większość nie kupi podczas przedsprzedaży - to dlatego, że staram się ich pokonać z taką super ofertą. ;-) Bez sukcesu z przedsprzedażą nie będzie możliwie stworzyć produkt w ogóle!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2253">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2253">środa, czerwiec 6, 2012 - 06:43</a></span>
</div>
</div>
</div><a id="comment-2228"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/36e1723c488256e1779a4f827ed5b6aa?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Świetny i ciekawy pomysł. Trzymam kciuki za realizacje. A czy skorzystam z oferty? Zależy ile będzie kosztować i co będzie oferować.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2228">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Lidag (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2228">wtorek, czerwiec 5, 2012 - 13:54</a></span>
</div>
</div>
<div class="indented"><a id="comment-2254"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Dzięki. :-)</p>
<p>Będziemy potrzebowali pomocy w ustaleniu ceny produktu i (do pewnego stopnia) czego, co będzie w ofercie! Więcej informacji pojawi się w następnym artykule.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2254">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2254">środa, czerwiec 6, 2012 - 06:45</a></span>
</div>
</div>
</div><a id="comment-2230"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/e02a93643472ceae05a9020f760cdcec?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Czyli ten produkt będzie dotyczył tylko nauki języka angielskiego? Byłoby super, gdyby w przyszłości umożliwiał również naukę innych, rzadziej spotykanych języków. :) Czy ten produkt będzie również dostępny na platformy mobilne (iOS, Windows Phone, Android)? Wszyscy wiemy, że warto się uczyć w podróży :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2230">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">mkbest (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2230">wtorek, czerwiec 5, 2012 - 14:09</a></span>
</div>
</div>
<div class="indented"><a id="comment-2255"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Tylko zdradzę, że pierwszy produkt będzie do nauki j. angielskiego. ALE kolejne nie koniecznie! Dowiesz się więcej wkrótce. Pozdrawiam serdecznie, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2255">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2255">środa, czerwiec 6, 2012 - 06:47</a></span>
</div>
</div>
</div><a id="comment-2231"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d0ec7dbdd1ead7fb16d8425d4b95d09d?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Witaj!</p>
<p>Tak dobrze znasz polski, że nawet błędy popełniasz typowe dla przeciętnego Polaka. :-) "10-go maja" - powinno być "10 maja". Liczebniki pisane z tymi dziwnymi końcówkami (12-sty, 3-ci, 6-ósty) są całkowicie niepoprawne.</p>
<p>Przydałoby się, żebyś uchylił nieco rąbka tajemnicy o tym produkcie. Niezależnie od tego - trzymam za niego kciuki!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2231">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kamil (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2231">wtorek, czerwiec 5, 2012 - 14:23</a></span>
</div>
</div>
<div class="indented"><a id="comment-2235"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Przyganiał kocioł garnkowi…<br/>
Poprawnie liczebniki porządkowe (jak angielskie 1st, 2nd) zapisujemy z kropką. Poprawnie to „10. maja”, które czytamy „dziesiąty maja”. Niestety większość Polaków w tym duże media wciąż nie znają tej zasady i wtedy „10 maja” czytam „dziesięć maja”. Razi mnie to. :)</p>
<p>Odczytywanie dat to drugi podstawowy błąd językowy Polaków. Na przykład na pytanie który dziś mamy dzień, większość powiedziałaby „szósty czerwiec”, kiedy poprawnie to „szósty czerwca”. Przecież czerwiec jest tylko jeden!</p>
<p>Ale to takie niuanse. Więcej: <a href="http://obcyjezykpolski.strefa.pl/?md=archive&amp;id=155" title="http://obcyjezykpolski.strefa.pl/?md=archive&amp;id=155">http://obcyjezykpolski.strefa.pl/?md=archive&amp;id=155</a></p>
<p>Swoja drogą do dziś mam problemy z zapisywaniem i odczytywaniem dat po angielsku, bo można stosować kilka form i jak do tej pory żadna mi się nie utrwaliła. :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2235">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2235">wtorek, czerwiec 5, 2012 - 16:25</a></span>
</div>
</div>
<div class="indented"><a id="comment-2239"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d0ec7dbdd1ead7fb16d8425d4b95d09d?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>W którym miejscu stałem się kotłem? :-)<br/>
W podanym przez Ciebie linku jest wyraźnie napisane, że nie stawiamy kropki po liczbie w datach. Cytat:  "(...) jedynie poprawne konstrukcje to 10 stycznia, 4 lutego, 5 marca, 13 kwietnia, 3 maja, 10 czerwca, 3 lipca, 3 sierpnia, 30 września, 15 października, 1 listopada, 19 grudnia."<br/>
Na dokładkę: <a href="http://lukaszrokicki.pl/2009/06/26/poprawne-zapisywanie-dat/" title="http://lukaszrokicki.pl/2009/06/26/poprawne-zapisywanie-dat/">http://lukaszrokicki.pl/2009/06/26/poprawne-zapisywanie-dat/</a><br/>
<a href="http://so.pwn.pl/zasady.php?id=629746" title="http://so.pwn.pl/zasady.php?id=629746">http://so.pwn.pl/zasady.php?id=629746</a></p>
<p>Pozdrawiam.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2239">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kamil (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2239">środa, czerwiec 6, 2012 - 01:52</a></span>
</div>
</div>
<div class="indented"><a id="comment-2241"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>O ja! Przyganiał kocioł garnkowi! :D<br/>
Sorry za zamieszanie :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2241">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2241">środa, czerwiec 6, 2012 - 02:14</a></span>
</div>
</div>
</div><a id="comment-2257"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Dzięki za linka! :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2257">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2257">środa, czerwiec 6, 2012 - 06:51</a></span>
</div>
</div>
</div><a id="comment-2256"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Dzięki za poprawkę. :-) Już zmieniłem artykuł. Pozdrawiam serdecznie, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2256">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2256">środa, czerwiec 6, 2012 - 06:50</a></span>
</div>
</div>
</div><a id="comment-2232"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/cc45219b20fec9316ca12fe6d8173fe9?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>A ja chciałbym Ci podpowiedzieć taką formę sondowania i przedsprzedaży, jaką stosują ludzie z miastoszkolen.pl .  To webinary, forma internetowej pogadanki, telekonferencji z grupą ludzi zainteresowanych Twoim produktem. Nie umiem opowiedzieć Ci tego w skrócie, w krótkim komentarzu, ale spróbuj zapoznać się z tą platformą szkoleniową - "miasto szkoleń" ( <a href="http://www.miastoszkolen.pl" title="www.miastoszkolen.pl">www.miastoszkolen.pl</a> ). Ja bardzo często śledzę ich poczynania, dlatego polecam Ci zainteresować się ich działaniami. Naprawdę warto!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2232">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Fenix (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2232">wtorek, czerwiec 5, 2012 - 16:02</a></span>
</div>
</div>
<div class="indented"><a id="comment-2258"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Dzięki za linka! Jeszcze nie miałem czasu, żeby bardzo dobrze poznać tę platformę ale już wygląda bardzo interesująco. Poznam ją lepiej! Pozdrawiam serdecznie, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2258">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2258">środa, czerwiec 6, 2012 - 06:55</a></span>
</div>
</div>
</div><a id="comment-2233"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/66c55da356b5b48ef326dc77cf03d9e4?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Ja kibicuje każdemu, kto bierze swój los w swoje ręce, nie ważne czy produkuje programy do nauki języka, czy mydło z psa. Więc good for you i wytrwałości.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2233">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">dorianthecruel (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2233">wtorek, czerwiec 5, 2012 - 16:22</a></span>
</div>
</div>
<div class="indented"><a id="comment-2259"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Dzięki za słowa wsparcia! :-) Pozdrawiam serdecznie, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2259">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2259">środa, czerwiec 6, 2012 - 06:55</a></span>
</div>
</div>
</div><a id="comment-2234"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/f925b0bfe95764ff54c25c320ec2880d?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Moim zdaniem jest to dobry pomysł i kupiłbym Wasz produkt, ponieważ bardzo chciałbym polepszyć swoje umiejętności językowe, a świadomość o zainwestowanych pieniądzach jeszcze bardziej by mnie zmobilizowała. Jednak abyście mogli osiągnąć swój cel cena za Waszą pracę nie może być zbyt duża bo moglibyście zrazić tym wielu ewentualnych nabywców.</p>
<p>Pozdrowienia i mam nadzieję, że wkrótce będziemy mogli cieszyć się wynikami Waszej pracy.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2234">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Adam (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2234">wtorek, czerwiec 5, 2012 - 16:24</a></span>
</div>
</div>
<div class="indented"><a id="comment-2279"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Adam!</p>
<p>Dzięki za słowa wsparcia. :-) Zgadzam się, że świadomość o zainwestowanych pieniądzach ludzi mobilizuje. Sam doświadczyłem to zjawisko w swoim życiu.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2279">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2279">piątek, czerwiec 8, 2012 - 19:39</a></span>
</div>
</div>
</div><a id="comment-2260"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/b0d18d491252d98b534ffbc43202d05d?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Polacy zazwyczaj nie kupują kota w worku, a więc na pewno musisz zdecydować się na przedstawienie wstępnego zarysu produktu. Co więcej, siła tkwi w przyciągnięciu do marki i zbudowaniu pozytywnych relacji z potencjalnym klientem - może warto zaproponować tego rodzaju współpracę osobom, które w jakiś sposób pomagały Ci przy Bibliobird czy też, z którymi czujesz jakąś większą więź - w ten sposób docenisz tych, którzy w formie wolontariatu z Tobą współpracowali, a przy tym zbudujesz pozytywny wizerunek :)</p>
<p>Jeśli elementami Twojego produktu miałyby być nagrania audio - nie obędzie się bez profesjonalnej oprawy dźwiękowej, w końcu nikt nie chciałby płacić za produkt skonstruowany na słuchawkach do rozmów via Skype.</p>
<p>Pozdrawiam,<br/>
Tomasz</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2260">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Tomasz (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2260">środa, czerwiec 6, 2012 - 06:55</a></span>
</div>
</div>
<div class="indented"><a id="comment-2277"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Tomasz!</p>
<p>Rozumiem. Nie staram się sprzedać "kota w worku" - po prostu chciałbym przedstawić mój pomysł jak należy. :-) Jestem w trakcie pisania artykułu o tym, opublikuję go wkrótce - może nawet jutro! Zobaczymy. :-)</p>
<p>To dobry pomysł z współpracą z osobami, które są zaangażowane w Bibliobird. Będę o tym myślał!</p>
<p>Jeśli możemy zgromadzić trochę pieniędzy, zamierzamy kupić lepszą oprawę dźwiękową - na pewno!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2277">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2277">piątek, czerwiec 8, 2012 - 19:33</a></span>
</div>
</div>
</div><a id="comment-2262"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/340064d76b65854bfb0cdddb3799e6c4?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Uważam, że ten produkt to bardzo dobry pomysł.<br/>
Kupiłbym go na 100%.<br/>
Przedsprzedaż też jest dobrym pomysłem, bo można pokazać możliwości produktu i ponadto zminimalizować ryzyko.<br/>
Skorzystam z takiej opcji, ale kupiłbym go i bez niej, bo jak napisał Kuba w pierwszym komentarzu: Posiada Pan wyrobioną markę.<br/>
Nie chciałbym mieć dożywotniego dostępu do wszystkich następnych produktów, bo wolę zapłacić Panu za pracę.</p>
<p>Pozdrawiam,<br/>
Marek</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2262">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Marek (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2262">środa, czerwiec 6, 2012 - 09:20</a></span>
</div>
</div>
<div class="indented"><a id="comment-2278"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Marek!</p>
<p>Dziękuję bardzo za słowa wsparcia. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2278">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2278">piątek, czerwiec 8, 2012 - 19:34</a></span>
</div>
</div>
</div><a id="comment-2263"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/7f15d1fd74f73043806a3a30590b0b69?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Cześć David,</p>
<p>jestem chętna na przedsprzedaż produktu i dożywotni dostęp :) Bardzo chce nauczyć się j.angielskiego.Od dłuższego czasu czytam Twojego bloga i uważam,że w ciekawy sposób inspirujesz ludzi do nauki języków.Najważniejsze,że jesteś tego żywym dowodem,że można się nauczyć :)</p>
<p>Ps.Pomysł z webinarami też będzie strzałem w dziesiątkę :)</p>
<p>Pozdrawiam,<br/>
Kasia</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2263">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kasia (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2263">środa, czerwiec 6, 2012 - 10:22</a></span>
</div>
</div>
<div class="indented"><a id="comment-2280"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Kasia!</p>
<p>Dzięki za słowa wsparcia. :-) Myślałem o prowadzeniu webinara od długiego czasu. Nawet pierwotnie chciałem mieć webinar z okazji publikacji ebooka - ale kiedy przyszedł właściwy czas na to, tylko chciałem odpocząć. ;-) Zobaczymy co będzie w przyszłości!</p>
<p>Wkrótce opowiem wszystko o moim pomyśle na produkt - może nawet jutro! Staram się skończyć artykuł o nim.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2280">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2280">piątek, czerwiec 8, 2012 - 19:43</a></span>
</div>
</div>
</div><a id="comment-2264"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/104d0b30b78f39112b98db953de4eac2?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Jeśli produkt przyciągnie moją uwagę a pewno tak będzie to dla mnie cena nie gra roli :)</p>
<p>Od dawna śledzę Twój blog i jestem pod wrażeniem :) wiem też, że na pewno stworzysz fajny produkt ;)</p>
<p>Życzę powodzenia ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2264">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2264">środa, czerwiec 6, 2012 - 12:00</a></span>
</div>
</div>
<div class="indented"><a id="comment-2281"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Dzięki za słowa wsparcia i życzenia! Pozdrawiam serdecznie, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2281">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2281">piątek, czerwiec 8, 2012 - 19:43</a></span>
</div>
</div>
</div><a id="comment-2266"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/4adbc42fe6b1b1b713d98ad67a306aab?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Nie wiem jak dużą masz grupę subskrybentów, ja sam dołączyłem niedawno. Jeśli jednak jest ona odpowiednio duża, to powinno Wam się udać. Troszkę Tobie zazdroszczę, że udało Ci się znaleźć swoją prawdziwą pasję i do tego możesz jeszcze utrzymać się z jej realizowania. Ja ze swej strony życzę Wam powodzenia i przypuszczam, że chętnie stanę się Waszym klientem :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2266">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Piotr Zawadzki (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2266">środa, czerwiec 6, 2012 - 15:02</a></span>
</div>
</div>
<div class="indented"><a id="comment-2282"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Piotr!</p>
<p>Dzięki za słowa wsparcia. :-)</p>
<p>Niestety grupa subskrybentów nie jest tak liczna jak mogłaby być. Tylko kilka miesięcy temu dodałem możliwość do subskrypcji mojego blogu kiedy zdecydowałem zmienić to w biznes. Ale prawie tysiąc osób dołącza miesięcznie. W każdym razie, myślę, że jest dość, żeby mieć szansę na to. ;-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2282">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2282">piątek, czerwiec 8, 2012 - 19:50</a></span>
</div>
</div>
</div><a id="comment-2270"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/f418ba133e27e418da211c92f5c712ff?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Wracam po przerwie do przeglądania LT i BB ;)<br/>
" Opowiem wam o tym wkrótce! " - znowuuu ? :P Nie mogę się doczekać! Ciekawe, co to będzie.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2270">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Zowimir (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2270">czwartek, czerwiec 7, 2012 - 07:05</a></span>
</div>
</div>
<div class="indented"><a id="comment-2283"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hehe, to jest ostatni raz! :-) Jestem w trakcie pisania artykuł z wszystkimi szczegółami o naszym pomyśle. Opublikuję go wkrótce, może nawet jutro!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2283">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2283">piątek, czerwiec 8, 2012 - 19:51</a></span>
</div>
</div>
</div><a id="comment-2272"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/5609ea83edf92f4bad9b21ad056f8514?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Hello David!!!Good to hear that you have an idea of learning English. Have you thought about a-books??? I do not know what kind of a book.</p>
<p>For example: English people who learn a secod langugae have books in written in two langugae. Please find more information about Leszek Szkutnik one of the best polish teachers of English I belive top teacher. If sombody wants to learn English has to bay a book of English, but written in English. Because you are a teacher of English you know better than I what we have to learn. Please find some information about AJ hoge from your country, but I belive that you are better than AJ hoge. You english lessons should be for those, who are at least intermediate level ( min). Please do not give up. I am at intermediate level but I had to change the method of learning English ...because of you and I learn better and faster ;-) Kind regards Radek from High wycombe</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2272">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Radek   (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2272">czwartek, czerwiec 7, 2012 - 10:27</a></span>
</div>
</div>
<div class="indented"><a id="comment-2284"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Radek!</p>
<p>I haven't heard about Leszek Szkutnik. I'll definitely check him out when I have a chance. I have heard of AJ Hoge, though, someone even sent me one of his lessons. :-) The theory behind his method is actually very similar to mine, however, his lessons (or at least the one I listened too) didn't see very interesting. It was just like the kind of stories in normal English textbooks.</p>
<p>I wish you continued success with your English!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2284">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2284">piątek, czerwiec 8, 2012 - 19:54</a></span>
</div>
</div>
</div><a id="comment-2273"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/4b3e85f61aa69f775e2ee2640b37ca3d?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Bardzo dobra decyzja. Czekam na dalsze szczegóły. Tylko oby nie stało się kiedyś tak, że zastosowane w Twoich przyszłych programach rozwiązania sprzedasz konkurencji albo potentatowi softwarowemu i Twoja myśl przewodnia jako ojca pomysłu ucieknei razem z kasą na jakieś wyspy..he he he. Powodzenia i do dzieła !!! Czekam z niecierpliwością.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2273">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">ANDREW1975 (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2273">czwartek, czerwiec 7, 2012 - 10:53</a></span>
</div>
</div>
<div class="indented"><a id="comment-2285"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hehe. :-) Dzięki za słowa wsparcia! Szczegóły wkrótce będą! (Może nawet jutro, jeśli uda mi się skończyć ten artykuł)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/2285">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2285">piątek, czerwiec 8, 2012 - 19:57</a></span>
</div>
</div>
</div><a id="comment-3592"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/c3e504b957aa5b43c3d06e6a0f8358ae?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Cześć. Mam taką sugestię aby połączyć naukę języka z nauką o kraju, kulturze, mentalności itd. Żeby to nie było przysłowiowe "Ala ma kota, milicjant ma pałę" :) Ale żeby w trakcie nauki jednocześnie przyswajać informacje o kraju którego dany język dotyczy. </p>
<p>Tak czy inaczej, życzę powodzenia!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/3592">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Adam (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-3592">środa, styczeń 23, 2013 - 04:50</a></span>
</div>
</div>
<div class="indented"><a id="comment-3609"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Adam!</p>
<p>W końcu nasz produkt jest kursem j. angielskiego online pod tytułem "Real Life in the USA". Więc to DOKŁADNIE co miałeś na myśli. ;-) Możesz nauczyć się j. angielskiego podczas gdy poznajesz kulturę amerykańską:</p>
<p><a href="https://pl.bibliobird.com/real-life-in-the-usa" title="https://pl.bibliobird.com/real-life-in-the-usa">https://pl.bibliobird.com/real-life-in-the-usa</a></p>
<p>Zapraszam do poznania się z tym!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/166/3609">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-3609">czwartek, styczeń 24, 2013 - 11:32</a></span>
</div>
</div>
</div><div class="box">
<h2>Dodaj nową odpowiedź</h2>
<div class="content"><form accept-charset="UTF-8" action="/comment/reply/166" id="comment-form" method="post">
<div><div class="form-item" id="edit-name-wrapper">
<label for="edit-name">Nazwisko lub pseudonim: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-name" maxlength="60" name="name" size="30" type="text" value="Anonymous"/>
</div>
<div class="form-item" id="edit-mail-wrapper">
<label for="edit-mail">E-mail: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-mail" maxlength="64" name="mail" size="30" type="text" value=""/>
<div class="description">Zawartość pola nie będzie udostępniana publicznie. If you have a <a href="http://www.gravatar.com">Gravatar</a> account, used to display your avatar.</div>
</div>
<div class="form-item" id="edit-homepage-wrapper">
<label for="edit-homepage">Strona domowa: </label>
<input class="form-text" id="edit-homepage" maxlength="255" name="homepage" size="30" type="text" value=""/>
</div>
<div class="form-item" id="edit-comment-wrapper">
<label for="edit-comment">Odpowiedź: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<textarea class="form-textarea resizable required" cols="60" id="edit-comment" name="comment" rows="15"></textarea>
</div>
<ul class="tips"><li>Adresy internetowe są automatycznie zamieniane w odnośniki, które można kliknąć.</li><li>Dozwolone znaczniki HTML: &lt;a&gt; &lt;em&gt; &lt;strong&gt; &lt;cite&gt; &lt;code&gt; &lt;ul&gt; &lt;ol&gt; &lt;li&gt; &lt;dl&gt; &lt;dt&gt; &lt;dd&gt; &lt;blockquote&gt;</li><li>Znaki końca linii i akapitu dodawane są automatycznie.</li></ul><input id="form-e39f0db0b48dc530118c9a251f3e869e" name="form_build_id" type="hidden" value="form-e39f0db0b48dc530118c9a251f3e869e"/>
<input id="edit-comment-form" name="form_id" type="hidden" value="comment_form"/>
<div class="clear-block"><div class="form-item" id="edit-notify-wrapper">
<label class="option" for="edit-notify"><input checked="checked" class="form-checkbox" id="edit-notify" name="notify" type="checkbox" value="1"/> Notify me when new comments are posted</label>
</div>
<div class="form-radios"><div class="form-item" id="edit-notify-type-1-wrapper">
<label class="option" for="edit-notify-type-1"><input class="form-radio" id="edit-notify-type-1" name="notify_type" type="radio" value="1"/> All comments</label>
</div>
<div class="form-item" id="edit-notify-type-2-wrapper">
<label class="option" for="edit-notify-type-2"><input checked="checked" class="form-radio" id="edit-notify-type-2" name="notify_type" type="radio" value="2"/> Replies to my comment</label>
</div>
</div></div><input class="mollom-content-id" id="edit-mollom-contentId" name="mollom[contentId]" type="hidden" value=""/>
<input class="mollom-captcha-id" id="edit-mollom-captchaId" name="mollom[captchaId]" type="hidden" value=""/>
<div style="display: none;"><div class="form-item" id="edit-mollom-homepage-wrapper">
<input autocomplete="off" class="form-text" id="edit-mollom-homepage" maxlength="128" name="mollom[homepage]" size="60" type="text" value=""/>
</div>
</div><div class="description mollom-privacy">By submitting this form, you accept the <a class="mollom-target" href="//mollom.com/web-service-privacy-policy" rel="nofollow">Mollom privacy policy</a>.</div><input class="form-submit" id="edit-preview" name="op" type="submit" value="Podgląd"/>
</div></form>
</div>
</div>
</div>
