---
permalink: /blog/2012/06/nasz-pełny-pomysł-na-produkt-proszę-o-pomoc-z-ceną/
layout: blog-old
title: 'Nasz PEŁNY pomysł na produkt (proszę o pomoc z ceną!)'
day: 9
month: cze
year: 2012
category: personal
tags: [ ]
language: pl
translation: /blog/2012/06/finally-our-full-product-idea-i-need-your-help-with-the-price/
---
<div class="content">
<p>W <a href="http://www.linguatrek.com/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku">moim ostatnim artykule</a> we wtorek, powiedziałem Wam o planie stworzenia płatnego programu do nauki języków. <strong>Ale nie powiedziałem Wam, czym ten produkt właściwie będzie!</strong></p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/catinbag.jpg" rel="lightbox"><img alt="A cat in a bag" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/catinbag.jpg" title="Kot w worku! Zdjęcie autorstwa Freddy'ego."/></a><div class="caption">Kot w worku! <a href="http://www.flickr.com/photos/41894173046@N01/4060779">Zdjęcie</a> autorstwa <a href="http://www.flickr.com/photos/freddy/">Freddy'ego</a>.</div></div>
<p>Ktoś <a href="http://www.linguatrek.com/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2260">skomentował</a> artykuł, mówiąc:</p>
<blockquote>
<p>"Polacy zazwyczaj nie kupują kota w worku"</p>
</blockquote>
<p>Myślę, że inteligentni i racjonalni ludzie wszystkich narodowości zachowują się w ten sposób. :-)</p>
<p><strong>Przepraszam za bycie takim tajemniczym na ten temat!</strong></p>
<p>Nie chciałem Was zwodzić po prostu chciałem wyjaśnić to we właściwy sposób. Faktycznie muszę Was z góry ostrzec, że to <em>najdłuższy</em> artykuł, jaki kiedykolwiek napisałem! Zawiera nawet filmik, który pomoże zobrazować ten pomysł.</p>
<p>Ten projekt jest niezmiernie ważny dla nas. Jeśli odniesie on sukces, będzie to spełnienie naszych marzeń! Jeśli nie, no... będziemy musieli wymyślić nowy pomysł. :-)</p>
<blockquote>
<p style="font-size: 110%"><strong>Dzisiaj NARESZCIE wyjaśnię nasz CAŁY pomysł na nasz płatny produkt do nauki języka!</strong></p>
<p style="font-size: 110%"><strong>Ale potrzebujemy WASZEJ pomocy, aby zdecydować o wielu ważnych szczegółach, łącznie z formatem i ceną produktu.</strong></p>
</blockquote>
<p>W tym artykule, podzielę się z wami DOKŁADNIE tym co mamy na myśli (łącznie z potencjalnymi cenami). <strong>Proszę pomożcie nam zaprojektować ten produkt poprzez wypełnienie na końcu ankiety! </strong></p>
<p><strong>Czytaj dalej i powiedz mi (szczerze!) co myślisz o naszym pomyśle!</strong></p>
<h2>Znalezienie efektywnej metody</h2>
<p>To co opisałem <a href="http://www.linguatrek.com/blog/2012/04/vlog-naturalna-nauka-j%C4%99zyka-bez-nauczyciela">w moim darmowym ebooku</a> jest schemat zbudowania efektywnej metody nauki języka do samodzielnej nauki (w przeciwieństwie do nauki z nauczycielem).</p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/05/nll-fauxbookstack.png" rel="lightbox"><img alt="Stos książek" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/05/nll-fauxbookstack.png" title="Okładka mojej książki zaprojektowana przez moją żonę!"/></a><div class="caption">Okładka mojej książki zaprojektowana przez moją żonę!</div></div>
<p>Każda metoda zbudowana na podstawie tego schematu składa się z trzech elementów:</p>
<ol>
<li>Źródło interesujących treści w danym języku</li>
<li>Metoda zrozumienia tej treści</li>
<li>System powtarzania i zapamiętywania nauczonego materiału</li>
</ol>
<p>Jest wiele możliwych metod, które możesz stworzyć na podstawie tego schematu. Osobiście <a href="http://www.linguatrek.com/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego">nauczyłem się polskiego</a> używając Harry'ego Pottera jako mojej treści, słownika polsko-angielskiego, aby go zrozumieć, i <a href="http://www.linguatrek.com/blog/2011/01/what-is-spaced-repetition">programu do fiszek</a>, aby powtarzać to czego się nauczyłem.</p>
<p>Jednak również można tworzyć metody, które są <em>zupełnie różne</em> korzystając z tego samego schematu!</p>
<p>Na przykład, możesz używać konwersacji z native speakerami jako treści, zapytać o wyjaśnienia, aby je zrozumieć (nawet jeśli wyjaśnienie to gesty rękoma lub rysunki na serwetce) i rozmawiać tak dużo jak to tylko możliwe jako system powtórzeniowy. Jeśli chcesz możesz nawet <a href="http://www.linguatrek.com/blog/2012/05/czy-musz%C4%99-m%C3%B3wi%C4%87-od-pierwszego-dnia">zacząć mówić od pierwszego dnia</a>.</p>
<p><strong>Najważniejszą rzeczą jest to, że otrzymujesz ogromne ilości <em>rzeczywistej</em> komunikacji, którą jesteś w stanie zrozumieć (comprehensible input).</strong></p>
<p>Tak jak <a href="http://www.linguatrek.com/blog/2011/03/language-learning-is-more-like-karate-than-math">napisałem<a> <a href="http://www.linguatrek.com/blog/2012/04/vlog-naturalna-nauka-j%C4%99zyka-bez-nauczyciela#lad">poprzednio</a> (i w moim ebooku również): <em>mózg ludzki jest zaprojektowany do nauki języków!</em>  Musisz tylko mu dać "comprehensible input".</a></a></p>
<p><strong>Ale najefektywniejsza metoda zależy od CIEBIE od TWOICH celów i TWOICH osobistych preferencji. </strong> Jeśli chcesz dowiedzieć się więcej na ten temat, proszę <a href="http://www.linguatrek.com/subscribe">zasubskrybuj</a> mój blog (za DARMO!) i będziesz mógł/mogła ściągnąć moj ebook.</p>
<h2>Oto czego się nauczyłem</h2>
<p>W filmikach na YouTubie i na moim blogu, doradzałem ludziom wypróbowanie tego typu metod <em>przez lata</em> przed napisaniem ebooka. Co więcej, rozmawiałem z wieloma osobami (możliwie setkami), które z nich korzystały i DUŻO nauczyłem się z ich doświadczeń.</p>
<p>Wielu osobom udało się osiągnąć przełom w ich nauce języka korzystając efektywniej metody podobnej (lub tej samej) do mojej! </p>
<p><strong>Jednak to nie jest tak proste, łatwe i przyjemne, jakie mogłoby być!</strong> Oto kilka najczęściej spotykanych problemów:</p>
<ol>
<li><strong>Ciężko jest znaleźć (a) interesującą treść (b) z nagraniem dźwiękowym (c) na odpowiednim poziomie</strong> - Kiedy czytałem i słuchałem Harry’ego Pottera po polsku, musiałem kupić każdą książkę dwa razy: wersję papierową i audiobooka.  Kupiłem kilka z nich w księgarniach w Chicago, ale inne musiałem zamówić z Polski. Jedna przesyłka nawet zaginęła! I oczywiście miałem szczęście bo Harry Potter był dla mnie ciekawy - nie wiedziałem nic o polskich autorach.</li>
<li><strong>Większość systemów do rozumienia zawartości jest czasochłonnych, nudnych albo mają potencjał niedokładności</strong> - Osobiście szukałem każdego nieznanego słowa w słowniku. To było nudne i zajmowało bardzo dużo czasu, który mogłem wykorzystać na czytanie lub słuchanie. Są metody, które są mniej czasochłonne (np. Google Tłumacz, pełne tłumaczenie), ale wnoszą one bardziej potencjał niedokładności i niepewności. </li>
<li><strong>Zarządzanie systemem powtórzeniowym jest czasochłonne</strong> - powtarzam, to jest czas, który <em>możesz spędzić z prawdziwym językiem!</em> Systemy rozmieszczonego powtórzenia ("spaced repetition" - typu Anki) zmniejszają ilość czasu potrzebnego na powtórkę (ponieważ pokazuje on tylko ten materiał, który musi być dzisiaj powtórzony), ale nadal musisz spędzić czas na dodawanie nowych słów i wyrażeń do systemu.</li>
</ol>
<p>Wszyscy jesteśmy bardzo zajęci i znalezienie czasu na wszystkie rzeczy, które chcemy robić jest jednym z największych wyzwań w całym naszym życiu.  Dla większości ludzi, nauka języka nie jest najważniejsza albo nawet w pierwszej trójce (zwykle to praca, rodzina i przyjaciele).</p>
<p><strong>Czy nie byłoby super, gdybyśmy mogli wyeliminować wszystkie czasochłonne czynności, abyśmy mogli spędzić ten mały czas zaznaczony do nauki języka na najefektywniejszych czynnościach, które dają naszym mozgom to, czego potrzebuje (tzn "comprehensible input")?</strong></p>
<h2>Dlatego właśnie stworzyłem Bibliobirda!</h2>
<div class="diag align-right" style="float: right; width: 110px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/bibliobird-pink.png" rel="lightbox"><img alt="Fioletowy ptak" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/bibliobird-pink.png" title="Logo Bibliobird, zostało również zaprojektowanie przez moją żonę."/></a><div class="caption">Logo Bibliobird, zostało również zaprojektowanie przez moją żonę.</div></div>
<p><a href="http://www.bibliobird.com">Bibliobird</a> jest aplikacją webową Open Source, która próbuje rozwiązać wszystkie problemy o których wspomniałem powyżej!</p>
<p>Znajdujesz interesujący tekst z nagraniem dźwiękowym.  Jeśli jest jakieś słowo, którego nie znasz, możesz na nie kliknąć i otrzymasz tłumaczenie w Twoim ojczystym języku. Wszystkie te nieznane słowa są <em>automatycznie dodawne </em> do programu Anki do późniejszej powtórki.</p>
<p><strong>Nie ma szukania po słownikach I tworzenia fiszek! Możesz spędzić więcej czasu na czytanie i słuchanie w danym języku.</strong></p>
<p>Na razie tylko ma dwa języki: angielski i polski.  Co tydzień dodajemy nowy tekst w języku angielskim z dwoma nagraniami audio - jedno czytanie w naturalnym tempie, a drugie troszkę wolniej.  To moja żona, Carrie, która pisze i nagrywa ten materiał. :-)</p>
<p>Ten projekt jest nadal bardzo młody - ma tylko 1.5 roku - ale już osiągnęliśmy kilka sukcesów! Mamy ponad 3000 zarejestrowanych uźytkowników i pomiędzy 300-500 <em>aktywnych użytkowników</em> każdego tygodnia. Oto wypowiedź Andrzeja O.:</p>
<blockquote>
<p><em>Odwiedziłem Twojego bloga i zastosowałem się do Twoich rad i okazało się, że - WOW - to coś dla mnie.</em></p>
<p><em>Czytałem kilka artykułów z bloga przy użyciu Bibliobirda i słuchałem wersji audio, powtarzając tekst który usłyszałem i muszę przyznać, że nigdy nauka nie wchodziła mi do głowy tak łatwo.</em></p>
</blockquote>
<p><strong>Ale jest nadal bardzo dużo do zrobienia!</strong></p>
<p>Myślę, że Bibliobird naprawdę radzi sobie świetnie w rozwiązywaniu problemów nr 2 i 3, w szczególności nr 2. W przeciwieństwie do innych podobnych aplikacji, Bibliobird zapewnie poprawne tłmaczenie idiomów i czasowników złożonych - dwie rzeczy, które sprawiaja sporo trudności uczącym się.</p>
<p><strong>Jednak program ten nadal ma <em>długą</em> drogę do przejścia zanim będzie w stanie rozwiązywać problem nr 1: nadal nie ma wiele tekstów na Bibliobirdzie. Pozwól, że wytłumaczę dlaczego...</strong></p>
<h2>W jaki sposób tekst dostaje się do Bibliobirda</h2>
<p>Ten proces jest trochę skomplikowany, więc nagrałem filmik, aby to zademonstrować. Bardzo polecam obejrzenie filmiku! Poniżej, spróbuję wyjaśnić ten proces, ale filmik jest bardziej szczegółowy i jest łatwiej zrozumieć proces kiedy <em>widzisz to wszystko w akcji.</em></p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/nSruLRh4fVM?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/nSruLRh4fVM?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p><em><strong>(Są napisy w języku i polskim i angielskim. Po rozpoczęciu filmiku, kliknij na przycisk "CC" w prawym dolnym rogu, aby je włączyć!)</strong></em></p>
<p>Kiedy tekst jest wprowadzony do systemu, pierwszym krokiem jest uruchomienie <em>automatycznego "anotatora"</em> (anotator - to coś, co daje adnotacje). To próbuje rozbić tekst na zdania, te zdania na słowa i znaleźć te słowa w słowniku.</p>
<p><strong>To jest o wiele trudniejsze do zrobienia dokładnie, niż się wydaje!  Bibliobird wykorzystuje z <a href="http://pl.wikipedia.org/wiki/Sztuczna_inteligencja"><em>sztucznej inteligencji</em></a> (AI) oraz <a href="http://pl.wikipedia.org/wiki/Uczenie_maszynowe"><em>uczenia maszynowego</em></a>, które pomagają w trudnych sytuacjach.</strong></p>
<p>Na przykład, jeśli napotka słowo “look”, czy to jest czasownik? (np. "They <u>look</u> strange" - po polsku: <em>wyglądać</em>) albo rzeczownik (np: "He had a strange <u>look</u> on his face" - po polsku: <em>mina, wyraz twarzy</em>)?</p>
<p>Automatyczny anotator Bibliobirda nadal nie jest za dobry. Potrzebuje bardzo dużo pracy i robi dużo błędów, szczególnie z rodzajem przykładu, który dałem powyżej.</p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/manualannotator.png" rel="lightbox"><img alt="Zrzuty ekranu ręcznego anotatora" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/manualannotator.png" title="Ręczny anotator."/></a><div class="caption">Ręczny anotator.</div></div>
<p>Dlatego następny krok w procesie dodawania tekstu do systemu, jest wykonywany przez człowieka przy pomocy  <em>ręcznego anotatora</em>, aby poprawić błędy. Następnie te poprawki mogą być dodane do automatycznego anotatora, który na ich podstawie będzie stawał się coraz bardziej dokładny.</p>
<p>Tłumaczenia pochodzą z własnego słownika Bibliobirda, które najpierw są importowane z  <a href="http://pl.wiktionary.org">Wiktionary</a> (słownik Wikipedii) i następnie poprawiane oraz ulepszane, aby pasowały do bieżącego tekstu.</p>
<p><strong>Powodem dlaczego Bibliobird w taki dokładny sposób tłumaczy teksty jest to, że nie odbywa się to w sposób całkowice automatyczny, tak jak Google Tłumacz!  Proces <em>rozpoczyna się</em> automatycznie, ale wszystko jest poprawiane i ulepszane przez prawdziwego człowieka, więc wszystko dokładnie pasuje do danego kontekstu.</strong></p>
<h2>I nareszcie, pomysł na płatny produkt to ...</h2>
<blockquote>
<p style="font-size: 110%">... płatne teksty dla Bilbiobirda!</p>
</blockquote>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/amazement.jpg" rel="lightbox"><img alt="Mała dziewczynka patrząca na bańki" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/amazement.jpg" title="Zdjęcie autorstwaClément Seifert"/></a><div class="caption"><a href="http://www.flickr.com/photos/90929268@N00/177748091">Zdjęcie</a> autorstwa<a href="http://www.flickr.com/people/sazeod/">Clément Seifert</a></div></div>
<p>Na pewno zastanawialiście się dlaczego mówiłem tyle o Bibliobirdzie! Właśnie dlatego. :-)</p>
<p><strong>Bibliobird najwyraźniej działa!</strong> Pomaga setkom Polaków uczyć się angielskiego każdego dnia. Jeśli udałoby się rozwinąć jego pełny potencjał, mógłby on pomóc wielu osobom z wieloma innymi językami!</p>
<p>Ponieważ jest to program Open Source, każdy może ściągnąć kod, na którym działa Bibliobird, modyfikuje go i pomaga go ulepszać - w taki sam sposób jak Linux czy Wikipedia.</p>
<p>Mam nadzieję, ze wraz z ulepszeniem narzędzi (tak jak <em>automatyczny</em> i <em>ręczny anotator</em>), społeczność entuzjastycznych użytkowników uczących się języka, pomoże dodawać darmowe teksty do Bibliobirda. Może w przyszłości użytkownicy mogliby ocenić i ulepszyć adnotacje tekstów, które byłyby tworzone przez innych użytkowników! Moglibyśmy stworzyć <em>"Wikipedię nauki języków."</em></p>
<p><strong>Jednak, obecnie, program jest zasilany <em>wyłącznie</em> ciężką pracą mojej żony, moją i kilku freelancerów.</strong> (To jest częściowo nasza wina: narzędzia nie zostały jeszcze udostępnione zwykłym użytkownikom, ale zrobimy to zanim płatne teksty zostaną wypuszczona na rynek.)</p>
<p>Oczywiście, planujemy nadal tworzyć jeden darmowy tekst każdego tygodnia, dla uczących się języka angielskiego. </p>
<p><strong>Ale, dodatkowo, chcielibyśmy stworzyć <em>więcej dłuższych tekstów o wyższej jakości</em>, za które użytkownicy mogliby płacić. To pozwoliłoby nam skupić całą uwagę na Bibliobirdzie i zrobić z niego naprawdę super aplikację!</strong></p>
<h2>Jak będzie wyglądał pierwszy produkt?</h2>
<p>Nie jestem całkowicie pewny! Potrzebujemy WASZEJ pomocy, aby zdecydować o wielu szczegółach. (<em>więcej o tym poniżej.</em>).</p>
<p>Jednej rzeczy jestem pewny: pierwszy płatny product będzie dla Polaków uczących się angielskiego. Przepraszam wszystkich nie będących Polakami i osoby uczących się innych języków! Musimy od czegoś zacząć.</p>
<p><strong>Jednak, jako część  <a href="http://www.linguatrek.com/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku">przedsprzedaży</a>, będziemy sprzedawać <em>dożywotni dostęp</em> do każdego przyszłego produktu do nauki języków, tworząc mają grupę <em>"założycieli"</em>.</strong> Mamy plan, aby było więcej języków (szczególnie polski!) w przyszłości.</p>
<p>W zamian za pomoc w osiągnięciu naszego marzenia, chętnie potraktowałbym potrzeby założycieli priorytetowo. :-)</p>
<h2><a name="potrzebujemy-waszej-pomocy">Potrzebujemy waszej pomocy!</a></h2>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/help.jpg" rel="lightbox"><img alt="Znak z napisem 'help'" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/help.jpg" title="Zdjęcie autorstwa Mike Scullen"/></a><div class="caption"><a href="http://www.flickr.com/photos/82625518@N00/5228173">Zdjęcie</a> autorstwa <a href="http://www.flickr.com/photos/revcyborg/">Mike Scullen</a></div></div>
<p><strong>Jest kilka ważnych rzeczy, z którymi potrzebujemy Waszej pomocy JUŻ TERAZ!</strong></p>
<p>Przede wszystkim, potrzebujemy pomocy w podjęciu decyzji w sprawie formatu i ceny produktu. Mam zamiar opisać wszystkie nasze pomysły poniżej (w tym potencjalne ceny).  Po przeczytaniu wszystkiego, <a href="http://www.linguatrek.com/node/170">proszę wypełnij ankietę</a>, aby dać nam znać, który pomysł podoba się Ci (albo żaden)!</p>
<p>Żeby to było całkiem jasne:</p>
<ul>
<li><strong>Mamy zamiar zrealizować <em>tylko jeden</em> z pomysłów opisanych poniżej</strong> - przynajmniej na razie.</li>
<li><strong>Jeszcze nic nie zostało zdecydowane!</strong> Naprawdę potrzebujemy Waszej pomocy w zaprojektowaniu tej oferty i zmienimy nasze plany w zależności od wyników ankiety. </li>
</ul>
<h3>Pakiety tekstowe</h3>
<p><strong>Każdy product będzie pakietem tekstów na określony temat i na określony poziom.</strong></p>
<p>Na przykład: "Amerykańska Polityka dla Zaawansowanych" lub "Dzienny rozkład zajęć dla Początkujących". Samym materiałem mogą być nawet filmiki z transkrypcjami, ale zawsze będzie miał nagranie dźwiękowe (tak jak obecnie na Bibliobirdzie).</p>
<p>Każdy pakiet pomógłby Ci w osiągnięciu określonego celu z językiem. Na przykład, po ukończeniu pakietu "Amerykańska Polityka", był(a)byś w stanie rozmawiać o polityce z prawdziwymi Amerykanami. Albo pakiet "Dzienny rozkład zajęć" pozwoliłby Ci opisać Twój dzienny rozkładu zajęć. Temat pierwszego pakietu zostanie wybrany w następnej ankiecie (jeśli ten format zostanie wybrany). </p>
<p>Dokładna ilośc tekstów w pakecie i ich długość będzie się różnić w zależności od poziomu. Ale każdy pakiet będzie zawierać wystarczająco dużo tekstów na miesiąc nauki dla przeciętnego uczącego się. </p>
<p><em>Proponowana cena : $14.95 lub 50 PLN za pakiet.</em></p>
<p>Kiedy <a href="http://www.linguatrek.com/blog/2011/07/teaching-english-in-poland">uczyliśmy w Krakowie angielskiego</a>, brałem 50 PLN za 60-minutową lekcję prywatną.  Jeśli masz jedną lekcję tygodniowo, tak jak miała większość moich uczniów, to kosztowałoby około 200 PLN na miesiąc za naukę angielskiego. Nasz produkt byłby 4 razy tańszy!</p>
<h3>Subskrypcja premium</h3>
<p><strong>Pisalibyśmy jeden tekst na dzień na różne tematy i na różnych poziomach, do których mieliby dostęp tylko <em>członkowie premium.</em></strong></p>
<p>Wszyscy członkowie premium głosowaliby ciągle na tematy przyszłych tekstów i te teksty byłyby pisanie według ich poziomów językowych (np. jeśli większość członków premium będzie na poziomie zaawansowanym, napiszemy większość tekstów na tym poziomie).</p>
<p><em>Proponowana cena: $9.95 lub 35 PLN na miesiąc.</em></p>
<h3>Pełne książki</h3>
<p><strong>Zrobilibyśmy adnotacje i nagralibyśmy audio do całej książki!</strong></p>
<p>Oczywiście, nie możemy użyć Harry'ego Pottera, ale jest on dobrym odniesieniem. Pierwsza książka Harry'ego Pottera miała około 300 stron i 10 godzin audio. Wydaje mi się, że długość i poziom trudności książki będzie podobny.</p>
<p>Jako początkująca osoba, czytanie mojej pierwszej takiej książki zajęło mi 4 miesiące.  Osobom na wyższych poziomach, oczywiście, nie zajęłoby to tyle czasu. </p>
<p><em>Proponowana cena: $49.95 lub 175 PLN za książkę.</em></p>
<p>Wiem, że to wydaję się dużo, ale porównaj to do kupna pierwszej książki Harry'ego Pottera: to $10 (35 PLN) za wersję papierową i $30 (105 PLN) za audiobooka. To jest tylko $9.95 (35 PLN) więcej i <em>niezwykle</em> ułatwia czytanie książki dla uczących się. <em>(Pamiętaj: Będziemy musieli również zapłacić autorowi książki za każdą sprzedaną kopię).</em></p>
<h2>Przyszłe plany</h2>
<p>Jeśli osiągniemy sukces z przedsprzedażą i wyprodukujemy pierwszy produkt, oto nasze niektóre plany na przyszłość:</p>
<ul>
<li><strong>Aplikacja mobilna</strong> - Siedzenie przed Twoim komputerem nie jest najlepszym środowiskiem do nauki! Jakiś czas temu napisałem aplikację Bibliobird dla systemu Android, która jest skończona w 90%. :-) Chciałbym ją skończyć i stworzyć wersję także na system iOS.</li>
<li><strong>Rynek sprzedaży</strong> - Chcemy sprzedawać płatne teksty na Bibliobirdzie - ale nie ma powodu dlaczego my powinniśmy to tylko robić! Chcemy pozwolić innym użytkownikom na tworzenie darmowych jaki <em>płatnych tekstów</em>, które mogą sprzedać.</li>
<li><strong>Nowe języki</strong> - Z pomocą społeczności użytkowników, chcielibyśmy dodać nowe języki do Bibliobirda! Ludzie ciągle pytają nas o hiszpański, niemiecki i rosyjski.</li>
<li><strong>Więcej płatnych tekstów</strong> - Po wypuszczeniu pierwszego produktu, planujemy kontynuować tworzenie następnych!</li>
</ul>
<p><strong>Oczywiście, <em>założyciele</em> otrzymają dożywotni dostęp to wszystkich programów językowych, które <em>kiedykolwiek</em> stworzymy! Każda inna osoba będzie musiała kupić każdy produkt <em>osobno.</em></strong></p>
<h2>Daj nam znać co SZCZERZE myślisz!</h2>
<p><a href="http://www.linguatrek.com/node/170">Nasza ankieta</a> ma tylko trzy proste pytania (i miejsce na dodatkowe komentarze):</p>
<ul>
<li>Czy jesteś Polakiem uczącym się angielskiego?</li>
<li>Jakim formatem był(a)byś najbardziej zainteresowany/a kupić? (Albo żaden jeśli nie podobają Ci się żadne pomysły!)</li>
<li>Czy kupił(a)byś ten produkt za proponowaną cenę? (<strong>Pamiętaj:</strong> podczas przedsprzedaży, pierwszy produkt będzie sprzedany za <em>mniej</em> niż proponowana cena.)</li>
</ul>
<p><strong>Jeśli masz wolną chwilę, proszę <a href="http://www.linguatrek.com/node/170">wypełnij ankietę</a>!</strong> Ankietę będzie dostępna przez ok. tydzień - wtedy opublikuję wyniki.</p>
<p><em>Możesz również zostawić komentarze poniżej - ale tylko po wypełnieniu ankiety! ;-)</em></p>
</div>

<div id="comments">
<a id="comment-2305"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d0ec7dbdd1ead7fb16d8425d4b95d09d?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Hej, David!<br/>
Przed chwilą wypełniłem ankietę, ale Twój projekt ma taki rozmach, że ciągle przychodzą mi do głowy nowe pomysły i sugestie.<br/>
W ankiecie wybrałem opcję "pełne książki" z zaznaczeniem, że musiałyby one być naprawdę interesujące i z bogatym zasobem słów, aby czytelnicy mieli ochotę przez nie przebrnąć. Jednak cena może wydawać się trochę za wysoka. Zastanawiam się, czy nie byłoby dobrym sposobem na obniżenie ceny wybranie tych książek, do których prawa autorskie już wygasły. Niestety nie orientuję się za bardzo w tym temacie, nie wiem też, czy i jakie są różnice między przepisami w Polsce i USA. Wiem tylko, że w Polsce prawa autorskie do książki wygasają najpóźniej 70 lat po śmierci autora: <a href="http://forumprawne.org/prawo-autorskie/23974-prawo-autorskie-ksiazki.html" title="http://forumprawne.org/prawo-autorskie/23974-prawo-autorskie-ksiazki.html">http://forumprawne.org/prawo-autorskie/23974-prawo-autorskie-ksiazki.html</a> Wykorzystanie książek, których nie musiałbyś kupować i nie potrzebowałbyś żadnej licencji do ich rozpowszechniania zwolniłoby Cię z obowiązku płacenia od każdego egzemplarza takiej przetworzonej książki. Tak mi się przynajmniej wydaje, ale może gdzieś jest jakiś kruczek, który przeoczyłem. :P</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2305">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kamil (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2305">sobota, czerwiec 9, 2012 - 12:25</a></span>
</div>
</div>
<div class="indented"><a id="comment-2310"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Kamil!</p>
<p>Dzięki za pomysł. :-) Będę o tym myślał. Tak jak ktoś napisał w komentarzach poniżej, najlepsza książka byłaby nowoczesna. Takie archaizmy jakie są w starszych książkach się nie przydadzą, niestety. :-/</p>
<p>Prawdę mówiąc nie spodziewałem się, że pomysł z pełnymi książkami będzie tak popularny! Warto robić takie ankiety. ;-) W chwili obecnej jest najpopularniejsza opcja na ankiecie. Już rozważam kilka możliwości, żeby zmniejszyć cenę...</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2310">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2310">sobota, czerwiec 9, 2012 - 16:39</a></span>
</div>
</div>
<div class="indented"><a id="comment-2352"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d0ec7dbdd1ead7fb16d8425d4b95d09d?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Jakiś czas temu napisałem komentarz, ale prawdopodobnie pomyliłem "Podgląd" z "Zachowaj" i przepadł. Napiszę jeszcze raz, ale krócej.</p>
<p>W każdym razie, wydaje mi się, że książka sprzed 100 lat nie musi mieć tak bardzo archaicznego języka w porównaniu ze współczesnym angielskim. Być może istnieją książki, których autorzy dobrowolnie zrzekli się autorstwa i są objęte wolną licencją? Nie orientuję się niestety w tym temacie.<br/>
Nie zapomnijmy też, że każdy ma inne zainteresowania, więc trudno będzie wybrać takie pozycje, które usatysfakcjonują każdego. A skoro ma być to serwis do nauki języka, a czytanie książek nie ma być celem samym w sobie, a jedynie pomocą do nauki języka, to może jednak lepiej skupić się na książkach, za które nie trzeba byłoby płacić.</p>
<p>Pozdrawiam!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2352">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kamil (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2352">niedziela, czerwiec 10, 2012 - 09:05</a></span>
</div>
</div>
<div class="indented"><a id="comment-2353"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Kamil!</p>
<p>Dzięki za komentarz. Przepraszam za problemy techniczne! Ale bardzo się cieszę, że znowu to napisałeś. :-)</p>
<p>Jeśli wiele opcji i nie wykluczyłem książek sprzed 100 lat. Również są nowoczesne książki w public domain i pod wolnymi licenjami, np. creative commons, itd. Rozważam wszystkie te opcje. :-)</p>
<p>Temat książki, który będzie zainteresowała dość liczna grupa osób - to rzeczywiście jest trudny problem! To jest jeden z powodów, z której chcę przedsprzedać pierwszy produkt bo jeśli nie będzie dość popularny, to dowiem się przed ciężką pracą nad tym. I jeśli uda się, duża cześć kosztów produkcji będzie już zapłacona.</p>
<p>Dziękuję jeszcze raz za Twoje komentarze!</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2353">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2353">niedziela, czerwiec 10, 2012 - 09:15</a></span>
</div>
</div>
<div class="indented"><a id="comment-2370"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://about.me/tomfrompoland" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/3cdbaa2914c95444fc7968fe42ddfa2b?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Cześć :-)</p>
<p>Dawidzie, czy słyszałeś o <a href="https://en.wikipedia.org/wiki/Cory_Doctorow">Cory'm Doctorow'ie</a>? To popularny autor książek na licencji CC w gatunku Science Fiction i postcyberpunk ale nie wiem czy to gatunki popularne wśród użytkowników Bibliobirda :-)</p>
<p>Pozdrawiam</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2370">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://about.me/tomfrompoland" rel="nofollow">TomFromPoland</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2370">poniedziałek, czerwiec 11, 2012 - 09:27</a></span>
</div>
</div>
<div class="indented"><a id="comment-2413"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>O nim słyszałem ale nigdy nie czytałem żadnych z jego książek. Kiedy mam wolną chwilę, coś poczytam! Dzięki za pomysł! :-) Pozdrawiam, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2413">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2413">środa, czerwiec 13, 2012 - 17:20</a></span>
</div>
</div>
</div></div></div></div></div><a id="comment-2306"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/5609ea83edf92f4bad9b21ad056f8514?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Hello Dawid!!!Yes I think books are the best or or teksts with a MP-3.<br/>
I changed my method with English because of you. Should be a bit grammar with examples ( a sentence)only.</p>
<p>A pig in a poke ( kot w worku)the same meaning ;-)</p>
<p>Good luck -No pain no gain ;-)</p>
<p>Kind regards</p>
<p>Radek Radecki</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2306">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Radek   (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2306">sobota, czerwiec 9, 2012 - 14:44</a></span>
</div>
</div>
<div class="indented"><a id="comment-2311"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Thanks Radek!</p>
<p>I also found the saying "pig in a poke" on the internet, but, honestly, I've never heard that before. :-) If someone said it to me, I wouldn't know what they were talking about. So, instead of translating it I decided to explain it in the English version of this article:</p>
<p><a href="http://www.linguatrek.com/blog/2012/06/finally-our-full-product-idea-i-need-your-help-with-the-price" title="http://www.linguatrek.com/blog/2012/06/finally-our-full-product-idea-i-need-your-help-with-the-price">http://www.linguatrek.com/blog/2012/06/finally-our-full-product-idea-i-n...</a></p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2311">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2311">sobota, czerwiec 9, 2012 - 16:41</a></span>
</div>
</div>
</div><a id="comment-2307"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/9a8cb03a0d20b459b313c180559fa98b?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Tak szybko po przeczytaniu.</p>
<p>Fajny pomysł tylko obawiam się, że ceny nie na kieszeń polaka a zwłaszcza dla młodego człowieka (ucznia, studenta - tych będzie chyba naj więcej osób ). </p>
<p>"Proponowana cena: $49.95 lub 175 PLN za książkę." nie ma szans z taką ceną. Problem do tego, jaką książkę wybrać! by jak największej grupie ludzi się podobało/interesowało. (a wiemy, że są gusta i gusciki)</p>
<p>Wiem, że przetłumaczenie i stworzenie audiobooka pochłania dużo pracy i środków. Ale nikt nie doceni tego, że włożyłeś w to tyle serca i pracy. Więc lepiej nie pchać się w to a ruszyć coś z mniejszym. Coś co będzie na tyle mało kosztować, iż ludzie bez problemów wydadzą parę złoty. Bo przy 170zł to już na tyle wydatek, że oglądać będzie to z każdej strony i sprawdzi w sieci czy nie ma coś już podobnego. Spiraci itd. Tak jest z muzyką w sieci.</p>
<p>Też się trochę dziwie, iż stworzyłeś fajną książkę a nie umieściłeś w tekscie informacji dla tych osób chcących postawić piwo (w przenośni) lub przelać dowolną kwotę (nawet 1 zł) na twój nr. konta. W ramach podziękowania. </p>
<p>Na pewno wielu by się znalazło osób co by postawiło ci piwo. I tak byś miał dochód pasywny przez wiele lat. </p>
<p>Fajnie, że piszesz aplikacje na tel. Bo ja np. często lubie uczyć się z tabletu (android) czytająć np ebook (PDF) i odrazu nie znane słówka sprawdzać w słowniku (diki) i dodawać słówka do powtarzania w etutor.pl (polecam sprawdzić i zobaczyć jak oni rozwiązali cały system uczenia się słówek. Mnie się bardzo podoba).</p>
<p>Życzę ci dobrze ale nie chciał bym abyś się rozbił o ściane i przeżył na własnej skurze jak Polacy są dusi grosze.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2307">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Krzysztof (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2307">sobota, czerwiec 9, 2012 - 15:53</a></span>
</div>
</div>
<div class="indented"><a id="comment-2309"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Krzysztof!</p>
<p>Dzięki za komentarz (mam nadzieję, że też wypełniłeś ankietę? ;-)) - informacje zawierane w nim na pewno się przydadzą!</p>
<p>"Największa" grupa nie powinno interesować się produktem, tylko dość liczna grupa, że sprzedaż przynosi dochód a nie stratę. Ale rozumiem, że to jest dużo pieniędzy - wielu ludzi to napisało w ankiecie.</p>
<p>(Przypadkiem: Dziękuję serdecznie wszystkim za Wasze uwagi w ankiecie!)</p>
<p>Jest możliwie, że ten pomysł na produkt (pełne książki) nie będzie miało sensu ekonomicznego: za cenę, która podoba się ludziom nie da się zarabiać ale za wyższą cenę nikt go nie kupi. Jest lepiej to dowiedzieć się teraz a nie po pracy nad nim! :-) Ale nadal jest kilka możliwości, które już rozważam...</p>
<p>Nie przyjmuję donacji bo jestem wrodzonym przedsiębiorcą i wolałbym wymienić coś wartościowego za pieniądze. :-) Rozumiem chęć do donacji - dziękuję bardzo za miłe intencje! Ale kiedy coś jest darmowe - jest darmowe. :-) Wymyślę coś wartościowego, które mogę sprzedać.</p>
<p>Jeszcze raz dziękuję!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2309">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2309">sobota, czerwiec 9, 2012 - 16:34</a></span>
</div>
</div>
</div><a id="comment-2308"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/87342368c117001f01208c9ec92a90d9?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Cześć!</p>
<p>Pomysł z książkami bez praw autorskich wydaje mi się nietrafiony, z uwagi na "archaiczny" język, jakiego używano w I połowie XX wieku, o poprzednich epokach nie wspominając ;) Osobiście wolałbym teksty pisane językiem współczesnym i w dodatku nie literackim, tylko codziennym. W wersji pakietowej byłoby to chyba łatwiejsze do zrealizowania niż w wersji książkowej.<br/>
Druga sprawa - mobilność i łatwość synchronizacji. Bez tego Twój projekt ma kiepskie szanse na powodzenie. Wiesz jak cenny jest czas i jak trudno wygospodarować godzinę, czy chociażby pół godziny przed komputerem "stacjonarnym". O wiele łatwiej jest wyrywać w ciągu dnia krótkie, kilkuminutowe odcinki. Smartfony, tablety, netbooki i ultrabooki to już rzeczywistość, nawet w tym naszym kochanym, biednym i zacofanym kraju. Program Anki można skonfigurować tak, żeby się synchronizował na różnych komputerach. Także Bibliobird MUSI mieć taką funkcjonalność.</p>
<p>pozdrawiam i życzę powodzenia :)<br/>
Maad</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2308">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Maad (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2308">sobota, czerwiec 9, 2012 - 16:15</a></span>
</div>
</div>
<div class="indented"><a id="comment-2312"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć!</p>
<p>Dzięki za komentarz. Mam nadzieję, że również wypełniłeś ankietę? :-)</p>
<p>To prawda, że wersja książkowa byłaby trudniejsza do zrealizowania. Będziemy musieli rozmyślić opcje bardzo dokładnie. Ale myślę, że nadal jest kilka możliwości z kreatywnością. :-)</p>
<p>Co do mobilności: zupełnie się zgadzam. Po prostu muszę znaleźć trochę czasu do skończenia aplikacji Bibliobird dla androida!</p>
<p>Jeszcze raz dziękuję!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2312">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2312">sobota, czerwiec 9, 2012 - 16:45</a></span>
</div>
</div>
<div class="indented"><a id="comment-2328"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://about.me/tomfrompoland" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/3cdbaa2914c95444fc7968fe42ddfa2b?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Cześć David :-)</p>
<p>Mam nadzieję, że ta aplikacja BiblioBird dla Androida będzie pozwalała na pełne działanie off-line, tak jak np. Anki które wymaga sieci tylko do synchronizacji.</p>
<p>Bo jak nie będzie można synchronizować tekstu, tłumaczeń do tekstu i słówek do nauki off-line to trochę bez sensu, bo dużo osób nie ma dostępu do sieci cały czas (i jest on drogi w wersji mobilnej).</p>
<p>Pozdrawiam<br/>
Tomek</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2328">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://about.me/tomfrompoland" rel="nofollow">TomFromPoland</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2328">niedziela, czerwiec 10, 2012 - 04:26</a></span>
</div>
</div>
<div class="indented"><a id="comment-2333"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Tomek!</p>
<p>Tak, aplikacja dla Androida już w ten sposób działa: tylko wymaga sieci do synchronizacji. :-) Tylko muszę go skończyć!</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2333">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2333">niedziela, czerwiec 10, 2012 - 06:33</a></span>
</div>
</div>
</div></div></div><a id="comment-2319"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/b0d18d491252d98b534ffbc43202d05d?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Największym problemem tego projektu jest to, że aby zdobył uznanie musisz przygotować to w sposób rewolucyjny. W przeciwnym razie nie ma to szansy bytu.</p>
<p>Dlaczego? Bo sam pomysł nie jest czymś, czego nie było. Sukces lub porażka będzie wynikać z jakości wykonania.</p>
<p>Książki z audiobookiem - chcesz tłumaczyć angielskie książki na polski, dodać dodatkowe adnotacje np. kulturowe i nagrać do tego audio. Tak? </p>
<p>Jeśli tak, to wyjątkowo ambitnie, bo:</p>
<p>a) tłumaczenie takiej książki musiałoby być niemalże idealne pod względem gramatyki j. polskiego<br/>
b) nie każdy potrafi czytać teksty, a książki to już naprawdę mała grupa - jeśli nie chciałbyś uśpić swoich klientów musiałbyś zainwestować w profesjonalne studio/wynająć profesjonalne studio i aktora tzw. lektora.</p>
<p>Ponadto: jak napisałem w ankiecie - cena za wysoka, bo za pośrednictwem serwisów aukcyjnych używaną książkę w oryginale można kupić za parę złotych w bardzo dobrym stanie i czytać tekst ze słownikiem lub zainwestować kolejne parę złotych w używany tekst tłumaczony. Porządny audiobook to kwestia równowartości 4paku Guinness Draught.  </p>
<p>Łączny koszt - max. 60 zł</p>
<p>Domyślam się, że tak naprawdę Twoim zamysłem mogła być tylko książka z adnotacjami bez tłumaczenia całego tekstu w języku polskim. Tylko, że takie produkty już są.</p>
<p>Subskrypcje premium - jak wyżej, są książki tego typu dla uczących się angielskiego i nie tylko, gdzie poruszane są konkretne zagadnienia np. kultura UK, kultura USA, sprawy zmian klimatu, demografię itd. itd. </p>
<p>No i oczywiście do tego nagranie dźwiękowe - w przypadku książek kierowanych do uczących się angielskiego - zawsze jest. Czyli znowu pozostaje kwestia przygotowania dobrych materiałów audio i ciężka praca nad jakością merytoryczną, bo na sam pomysł już ktoś wcześniej musiał wpaść - tyle, że nie w internecie.</p>
<p>Na zakończenie - pamiętaj, że osoby, które tutaj mówią o tym czy kupią produkt czy nie, to na ogół osoby, które Cię cenią i lubią. Odpowiedź w takim przypadku zwykle jest pozytywna, a jak przyjdzie co do czego to część się może wycofać, albo po prostu okaże się, że grupa osób, która do tej pory była zainteresowana Twoją osobą jest za mała, by projekt przynosił zyski.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2319">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Tomasz (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2319">niedziela, czerwiec 10, 2012 - 01:11</a></span>
</div>
</div>
<div class="indented"><a id="comment-2337"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>"Książki z audiobookiem - chcesz tłumaczyć angielskie książki na polski, dodać dodatkowe adnotacje np. kulturowe i nagrać do tego audio. Tak?"</p>
<p>Nie dokładnie. Czy obejrzałeś filmik? ;-)</p>
<p>Rzeczywiście możesz to wszystko robić bez takiego produktu. Sam tak to zrobiłem tylko z książką, audiobookiem i słownikiem. :-) Bibliobird ma dużo darmowych materiałów. Napisałem ebook o tym, jak to zrobić bez produktu.</p>
<p>To tylko chodzi o ułatwienie tego procesu. Żeby przebrnąć przez Harry'ego Pottera, wymagało o wiele więcej wysiłku i czasu, niż wielu osób chce poświęcić nauce języka. I to znaczy, niestety, że najprawdopodobniej poddadzą się.</p>
<p>Pod względem merytorycznym - zgadzam się, że to nie rewolucja. :-) To podobnie do książek w dwóch językach albo uproszczonych powieści, itd. Ale myślę, że technologia w Bibliobirdzie może być innowacyjna! To potrzebuje tylko trochę dodatkowej pracy. Staram się to wyjaśnić w filmiku.</p>
<p>W tym artykule prosiłem właśnie o pomoc z ceną. Dziękuje Ci i Wszystkim za swoje opinie związane z tym! To na pewno pomoże bo w ogóle jest trudno ustalić ceny. :-)</p>
<p>Taki produkt nie jest dla wszystkich! Jeśli masz dość czasu żeby robić wszystko ręcznie i tak dużo motywacji, że nie poddasz się - to fantastycznie! Tutaj chodzi jak najbardziej o wymianę pieniędzy za czas i ułatwienie.</p>
<p>Przypuszczam, że kiedy czytałem Harry'ego Pottera, spędziłem może 30 minut dziennie nad czynnościami, który nie byłyby potrzebne gdyby Harry Potter był tekstem w Bibliobirdzie. Dodatkowych 30 minut dziennie, jest dla mnie warto zwłaszcza dlatego, że te czynności były najmniej przyjemne w całym procesie naukę.</p>
<p>Jeśli nie potrzebujesz tego czasu i ułatwienia - ten produkt nie byłby dla Ciebie.</p>
<p>Mam nadzieję, że dobrze odpowiedziałem na wszystkie Twoje uwagi!</p>
<p>Jeszcze raz dziękuję za komentarz i wypełnienie ankiety!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2337">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2337">niedziela, czerwiec 10, 2012 - 06:54</a></span>
</div>
</div>
</div><a id="comment-2322"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/87342368c117001f01208c9ec92a90d9?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Można powiedzieć, że jeśli chodzi o naukę języka, to wszystko już było, już zostało wymyślone i udostępnione. W internecie są tysiące stron z fajnymi tekstami, są książki, audiobooki, słowniki, listy dialogowe, filmy, systemy powtórek .... i co ważne, przy odrobinie wysiłku można ten materiał zgromadzić całkowicie za darmo! Choć być może chwilami nie do końca uczciwie ;) No ale to już taka Polska (i nie tylko) mentalność.</p>
<p>Pojawia się pytanie - czy produkt Davida będzie dawał coś więcej niż te darmowe źródła, żeby ludzie decydowali się płacić za niego dość wysoką cenę? Szczerze mówiąc, widzę tylko jeden mocny punkt profesjonalnego bibliobirda - oszczędność czasu potencjalnego ucznia.<br/>
Pomysł Davida, zgodnie z tym co sam powyżej pisze, rozwiązuje 3 duże problemy systemu nauki. Wszystkie te 3 problemy sprowadzają się do jednego - właśnie do oszczędności czasu. Myślę, że tylko osoby ceniące swój czas będą potencjalnymi klientami bibliobirda.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2322">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Maad (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2322">niedziela, czerwiec 10, 2012 - 03:37</a></span>
</div>
</div>
<div class="indented"><a id="comment-2325"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/b0d18d491252d98b534ffbc43202d05d?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Na nieszczęście Dawida - dobrej jakości materiały językowe, które zaoszczędzą nasz czas w zamian za zainwestowanie paru $ również już są... </p>
<p>Przecież cały problem jak napisałem wyżej, polega na tym, że w tym produkcie na etapie planowania, nie ma nic rewolucyjnego. Zarówno ten, który chce zapłacić jak i ten, który chce się uczyć za darmo już dzisiaj może znaleźć odpowiednie materiały, które są dobrze przygotowane pod względem metodycznym i jakościowym.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2325">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Tomasz (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2325">niedziela, czerwiec 10, 2012 - 04:18</a></span>
</div>
</div>
<div class="indented"><a id="comment-2340"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Nie rozumiem do końca argumentu, że "już są".</p>
<p>Już jest np. dwujęzyczna książka "Tom Sawyer". To nie powoduje, że dwujęzyczna książka "Sherlock Holmes" jest bez wartości. Takie podobne produkty mogą istnieć jednocześnie, i ten, kto chce "Tom Sawyer" go kupi, i tamten, kto chce "Sherlock Holmes" drugą książkę kupi. Mam nadzieję, że ktoś będzie chciał nasz produkt również!</p>
<p>W każdym razie, dziękuję bardzo za wszystkie Twoje komentarze tutaj. :-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2340">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2340">niedziela, czerwiec 10, 2012 - 07:12</a></span>
</div>
</div>
<div class="indented"><a id="comment-2344"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/b0d18d491252d98b534ffbc43202d05d?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Problem nie polega na braku możliwości egzystencji dwóch produktów obok siebie - problemem jest to, że te istniejące już materiały:</p>
<p>a) mają pewną renomę<br/>
b) są dużo bardziej konkurencyjne cenowo<br/>
b) stoją za nimi pewne wydawnictwa, a więc sztaby ludzi odpowiedzialnych za translatorykę, metodykę, oprawę audiowizualną itd. itd.</p>
<p>Ktoś wspomniał o osobowości - racja, David posiada wspaniałą osobowość. Niestety w przypadku działalności edukacyjnej - osobowość nie wystarcza. </p>
<p>Podobnie jak bycie native speakerem danego języka, nie czyni z nas dobrych nauczycieli. </p>
<p>Odnoszę się do ogółu wrażenia jakie odniosłem po przeczytaniu artykułu. Absolutnie nie współpracuję z żadnym wydawnictwem, ani portalem. Wyrażam tylko i wyłącznie swoją opinię.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2344">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Tomasz (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2344">niedziela, czerwiec 10, 2012 - 07:28</a></span>
</div>
</div>
</div></div><a id="comment-2338"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Tak, Bibliobird ma na cel usunięcia czasochłonnych i nieprzyjemnych czynności z procesu nauki. Ale to nie tylko oszczędza czas, ale również powiększyć szansy sukcesu!</p>
<p>Jeśli nie musisz spędzać przy tym tak dużo czasu i tylko robisz te przyjemne rzeczy (tzn. czytanie, słuchanie interesujących treści w języku) - jest mniej ryzyka, że poddasz się. Myślę, że to jest największa zaleta Bibliobirda.</p>
<p>Pomysł na "profesjonalny Bibliobird" (podoba mi się to określenie) chodzi o dodawanie bardziej ambitnych tekstów o wyższej jakości do Bibliobirda! Oczywiście cena jest do ustalenia, właśnie w tym artykule prosiłem o pomoc z tym. :-)</p>
<p>Dzięki za komentarz i (mam nadzieję!) za wypełnienie ankiety!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2338">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2338">niedziela, czerwiec 10, 2012 - 07:05</a></span>
</div>
</div>
</div><a id="comment-2323"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/9a8cb03a0d20b459b313c180559fa98b?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Tak sobie pomyślałem, że może lepiej co dwa tygodnie wydawać magazyn (nowoczesny, taki jaki powinien być w dobie internetu), który by zawierał krótką opowieść, opowiadania, kilka artykułów (pol i ang) - audiobook, ebook, nawet materiały wideo wersji . (każdy numer to osobna podstrona, który dostęp mieli ci co kupili dany numer magazynu) </p>
<p>Na pewno myślę, że mniej pracy wymagało i czasu na stworzenie takiego numeru. </p>
<p>Problem jakie informacje miał by zawierać magazyn. Ale myślę, że w tej formie bardziej opłacało się. Bo miesiąca na miesiąc przybywało by numerów i można by sklep z tego zrobić. Płatności nie duże, więc i nie trudniej by było wydać pieniądze. </p>
<p>Może ta forma magazynu interaktywnego z feedback czytelników co chcą. Będzie lepszą formą. </p>
<p>Rola magazynu będzie zebranie wszystko w jednym aby czytelnik miał łatwiej.<br/>
W magazynie można by przecież, też pośredniczyć w sprzedaży innych autorów książek i audiobooków (ciekawe propozycje - przydatne czytelnikowi).</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2323">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Krzysztof (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2323">niedziela, czerwiec 10, 2012 - 03:49</a></span>
</div>
</div>
<a id="comment-2324"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/87342368c117001f01208c9ec92a90d9?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Taki magazyn od razu rozjedzie się po sieci, po różnych chomikach i innych peb-ach. Nikt nie kupi tego, co może ściągnąć za darmo. Sorry, life is brutal :(</p>
<p>Bibliobird daje coś więcej niż sam tekst i dźwięk - jakąś wartość dodaną. Ta wartość jest ukryta w mechanizmie kliknięcia na nieznanym słowie, przeczytania opisu i automatycznego wklejenia do bazy słówek programu anki. Tego nie można sobie skopiować za darmochę, użytkownik musi korzystać ze strony bibliobirda. Musi mieć konto, musi się zalogować. A David musi zapewnić dostępność serwisu 24/7 - a to będzie niestety kosztowne :(</p>
<p>BTW - czy import do anki dotyczy pojedynczych słówek, czy też można importować całe frazy lub przykładowe zdania, ilustrujące faktyczne użycie danego słowa?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2324">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Maad (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2324">niedziela, czerwiec 10, 2012 - 04:11</a></span>
</div>
</div>
<div class="indented"><a id="comment-2327"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/b0d18d491252d98b534ffbc43202d05d?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Mechanizm sprawdzenia znaczenia, dodawania do powtórek itd. również nie jest niczym innowacyjnym, tyle tylko, że David zamknął to w Open Source.</p>
<p>Istnieje serwis, który umożliwia czytania zagranicznej prasy i portali - nazwa wyleciała mi z głowy niestety. </p>
<p>Mechanizm powtórek jest natomiast świetnie zaimplementowany w polski serwis Etutor - jak ktoś ma ochotę sprawdzić to niech się zarejestruje i sprawdzi próbną lekcję. Gdzie nie klikniesz dwa razy na słowo - otwiera się wbudowany słownik z wymową, znaczeniami, transkrypcją fonetyczną. Słownik ten jest dwukierunkowy - klikasz na polskie słowo - otrzymuje angielski i na odwrót. Słówko możesz wraz z przykładami dodać do powtórek.</p>
<p>Z mechanizmu powtórek można korzystać za darmo, jeśli natomiast chce się korzystać z pełnego dostępu do wszystkich lekcji - trzeba zapłacić. </p>
<p>Osobiście jestem jednak w ogóle zdania, że wpisywać słowa do powtórek powinno się ręcznie - jest to pierwszy etap nauki.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2327">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Tomasz (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2327">niedziela, czerwiec 10, 2012 - 04:24</a></span>
</div>
</div>
<div class="indented"><a id="comment-2329"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/87342368c117001f01208c9ec92a90d9?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Dlaczego uważasz, że projekt Davida musi być całkowicie innowacyjny? Niech zrobi swoją, lepszą wersję tego, co już ktoś inny wymyślił. Nie ma potrzeby wymyślać koła jeszcze raz. Jeśli David trafi w potrzeby użytkowników i zrobi wygodny, czytelny, zachęcający do nauki system - to wygra. Na rynku jest miejsce dla wielu systemów wspomagających naukę języków.</p>
<p>Etutora nie znam, nie wiem co może zaoferować, ale David ma ma jedną ważną zaletę - ma osobowość :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2329">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Maad (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2329">niedziela, czerwiec 10, 2012 - 05:10</a></span>
</div>
</div>
<div class="indented"><a id="comment-2330"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/87342368c117001f01208c9ec92a90d9?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Zajrzałem na etutor.pl i ..... chyba David będzie miał duży problem, żeby zrobić to lepiej.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2330">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Maad (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2330">niedziela, czerwiec 10, 2012 - 05:19</a></span>
</div>
</div>
<div class="indented"><a id="comment-2331"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/b0d18d491252d98b534ffbc43202d05d?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Wierz mi lub nie - od kilku lat interesuje się innowacyjnymi produktami związanymi z nauką języków. </p>
<p>Aby się wybić trzeba mieć albo innowacyjny pomysł albo bardzo dużo pieniędzy by zrobić coś lepiej niż inni. </p>
<p>Z planów wynika, że tego pierwszego nie ma. Co do drugiego nie mam pewności, ale sądzę, że też będzie słabo.</p>
<p>Nie wiem jak mocno wgłębiłeś się w E-tutor'a, ale po mniej więcej tygodniu po rejestracji powinieneś dostać e-mail z 7dniowym kodem dostępu do całego serwisu. A więc oprócz powtórek, materiały związane z gramatyką, pharasal verbs, idiomami, wymową, filmy video itp. </p>
<p>No i to co powiedziałem - dwukrotnie klikasz na jakikolwiek wyraz i otwiera się znakomity słownik pol-ang,ang-pol. Bardzo dużo znaczeń, przykłady użycia - zarówno jedno jak i drugie możesz dodać do powtórek, plus obok sugerowane idiomy, phrasale czy inne utarte wyrażenia, które można sprawdzić.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2331">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Tomasz (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2331">niedziela, czerwiec 10, 2012 - 05:42</a></span>
</div>
</div>
<div class="indented"><a id="comment-2332"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/87342368c117001f01208c9ec92a90d9?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Zaledwie rzuciłem okiem ;) ale to wystarczy, żeby ocenić ten portal bardzo pozytywnie. Gołym okiem widać fachową robotę programistyczną i dydaktyczną.<br/>
200 000 użytkowników płacących po 15zł miesięcznie (lub więcej) naprawdę robi ważenie, sprowadza na ziemię i chyba lekko podcina skrzydła konkurencji.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2332">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Maad (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2332">niedziela, czerwiec 10, 2012 - 06:14</a></span>
</div>
</div>
<div class="indented"><a id="comment-2334"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/b0d18d491252d98b534ffbc43202d05d?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Pod względem oprawy dźwiękowej zarzuciłbym im kilka błędów - w mojej opinii uczący powinien od początku być przystosowywany do pełnego tempa wypowiedzi. Ale to właściwie jest jedyny zarzut jaki mam do tego serwisu.</p>
<p>Istnieje kilka innych tego typu, ale to polskie dziecko w mojej opinii zdecydowanie przewyższa Busuu czy LiveMocha.</p>
<p>Gdybyś miał ochotę wymienić się doświadczeniami czy uwagami w tej kwestii kanałem prywatnym - <a href="mailto:tuvia22@yahoo.pl">tuvia22@yahoo.pl</a> .</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2334">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Tomasz (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2334">niedziela, czerwiec 10, 2012 - 06:35</a></span>
</div>
</div>
<div class="indented"><a id="comment-2335"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/87342368c117001f01208c9ec92a90d9?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>A dla mnie szybkie tempo lektora od razu dyskwalifikuje kurs. Zdecydowanie bardziej pasuje mi podejście i "ideologia" isel.pl</p>
<p>Ale chętnie poćwiczę z etutorem kilka dni. Być może okaże się, że jest to pierwszy w historii Polski wartościowy projekt finansowany przez UE.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2335">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Maad (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2335">niedziela, czerwiec 10, 2012 - 06:46</a></span>
</div>
</div>
</div></div></div></div></div><a id="comment-2345"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Tomasz,</p>
<p>Pomysł z płatnymi tekstami dla Bibliobirda jest bardzo podobny do płatnych lekcji na etutor.pl. Strona jest darmowa ale jeśli chcesz szczególnych materiałów dodatkowych musisz za to zapłacić.</p>
<p>Już istnieje serwisy, które tłumaczą teksty w obcym języku na język ojczysty tak jak Bibliobird. Ale Bibliobird to robi w odmienny sposób, który myślę, że jest wartościowy. Starałem się to wyjaśnić w filmiku ale wygląda na to, że nie udało mi się. :-/ Może będę musiał napisać jeszcze artykuł o tym! :-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2345">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2345">niedziela, czerwiec 10, 2012 - 07:36</a></span>
</div>
</div>
<div class="indented"><a id="comment-2347"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/b0d18d491252d98b534ffbc43202d05d?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Etutor ma trochę szerszy zakres, uczy języka na wielu płaszczyznach, ale to nie ma znaczenia. Wyraziłem swoje obawy.</p>
<p>Na marginesie - czy nagrywając filmik 'How a text gets into bibliobird' wstęp czytałeś z kartki/monitora/promptera (?) - wygląda to na bardzo nienaturalny wstęp, z wyuczonymi dwoma gestami dłoni, gdzie nawet nie spojrzałeś na to co pokazujesz ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2347">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Tomasz (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2347">niedziela, czerwiec 10, 2012 - 07:50</a></span>
</div>
</div>
<div class="indented"><a id="comment-2348"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Nie, nie czytałem z kartki. ;-) Ale zgadzam się, to nie naturalne. Nauczyłem się wstępu na pamięć. Zwykle przed kamerą tylko mówię. :-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2348">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2348">niedziela, czerwiec 10, 2012 - 07:57</a></span>
</div>
</div>
</div></div></div><a id="comment-2343"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Teraz do Anki importuje tylko wyraz z przykładem w słowniku. Bardzo chciałbym wprowadzić taki funkcję, że importuje również kontekst, w którym go spotkałeś. Po prostu jeszcze nie miałem czasu na to. :-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2343">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2343">niedziela, czerwiec 10, 2012 - 07:25</a></span>
</div>
</div>
</div><a id="comment-2336"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://about.me/tomfrompoland" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/3cdbaa2914c95444fc7968fe42ddfa2b?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Tak właśnie przyszło mi na myśl :-)</p>
<p>Jak się nie uda z pełnymi książkami (będzie to za drogie) to moim zdaniem warto przenieść podcasty Lucy i Jeff'a z <a href="http://www.eslpod.com" title="http://www.eslpod.com">http://www.eslpod.com</a> (kilka z nich jest na <a href="http://www.isel.edu.pl" title="http://www.isel.edu.pl">http://www.isel.edu.pl</a> z polskim tłumaczeniem trudniejszych wyrazów). Myślę, że autorzy byliby przychylni (i nie powinno to kosztować dużo).</p>
<p>Te podcasty są świetne, a w połączeniu z trybem nauki Bibliobirda to już w ogóle ideał. Są krótkie, fajnie zrobione i na ciekawe tematy. Ja spędzam dużo czasu nad nimi ale nie zawsze chce mi się tłumaczyć trudniejsze zagadnienia i wprowadzać do Anki.</p>
<p>Myślę, że David powinieneś skupić się na ulepszaniu trybu nauki BiblioBirda a materiały brać z innych źródeł. Twoją siłą jest unikalna platforma.</p>
<p>Pozdrawiam<br/>
Tomek</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2336">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://about.me/tomfrompoland" rel="nofollow">TomFromPoland</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2336">niedziela, czerwiec 10, 2012 - 06:49</a></span>
</div>
</div>
<div class="indented"><a id="comment-2342"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Tomek!</p>
<p>Dzięki za pomysł! Na prawdę fajny byłby mieć podkasty jako treść w Bibliobirdzie. Będę o tym myślał. :-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2342">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2342">niedziela, czerwiec 10, 2012 - 07:22</a></span>
</div>
</div>
<a id="comment-2432"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/c47cc9c65120b0f27fe98451e12086f1?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Po co ktoś miałby płacić za podcasty eslpod skoro ich autorzy zdecydowali się udostępniać je za darmo oraz Jeff po początkowym dialogu wyjaśnia wszystko bardzo prostym językiem? Najczęściej nawet nie potrzeba do tego słownika, a jak nawet, to skorzystanie z internetowego zajmuje na cały podcast 30s. To jest siła tych podcastów. Ponadto wykorzystywania ich i zarabianie na pracy Lucy i Jeff'a, którzy robią to z założenia za darmo, to naprawdę niegodny proceder.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2432">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2432">piątek, czerwiec 15, 2012 - 10:50</a></span>
</div>
</div>
<div class="indented"><a id="comment-2435"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Jeśli jakikolwiek podkast byłby używany jako tekst na Bibliobirdzie, to byłoby tylko z zgodą autora. Jeśli ten tekst byłby płatny, autor również zarabiałby na to. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2435">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2435">piątek, czerwiec 15, 2012 - 11:06</a></span>
</div>
</div>
</div></div><a id="comment-2339"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/66c55da356b5b48ef326dc77cf03d9e4?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Drogi Panie Davidzie.<br/>
Bardzo mi przykro o tym mówić ale nie sądzę, żeby Pana projekt przyjął się na naszym rynku, ponieważ na polskim rynku niemal nikt nie zarabia na prawach autorskich, chyba że dot. one patentów albo topowych artystów. Jest tak dlatego, że wszystko co jest związane z prawami autorskimi jest dla polaków niewymiernie drogie w stosunku do wartości, którą przedstawia. Proszę mieć na uwadze, że zarobki młodych ludzi w Polsce to zarobki rzędu od 1000-1500zł najczęściej poza kilkoma wyjątkami, a zatem sprzedaż pakietu artykułów w cenie 50zł za pakiet nie jest idealnym wyjściem gdyż jest to 1/20 pensji albo inaczej - dniówka. Proszę mieć też na uwadze, że na polskim rynku znajdują się produkty, które działają w identycznie i są to pisma, w których co prawda znajdują się artykuły na różne tematy ale kosztują 10x mniej, a i tak niewiele osób je kupuje gdyż znacznie łatwiej i taniej ściągnąć z internetu. Jeżeli chce Pan publikowac tego rodzaju artykuły to najlepiej spróbować swoich sił pracując w redakcji takiego pisma albo założyć pismo internetowe wydanie którego będzie można kupić za 5 zł inaczej znajdzie Pan swoje artykuły nie gdzie indziej jak tylko na torrentach, chomikach itp.<br/>
Z książkami jest identyczna sytuacja, zwyczajnie można je pobrać u nas łamanie prawa autorskiego to jak pójście do sklepu po bułki. Jezeli naprawdę chce Pan zarobić na tych prawach to nie tylko powinien Pan opracować produkt, ale dorzucić do niego metodę nauki, a także coś co sprawi, że kupi go dana kategoria ludzi. Ja na przykład z przyjemnością wykupiłbym dostęp za 5 zł do gazetki internetowej w której będą znajdować się artykuły na tematy: społeczne, ekonomiczne, prawne i polityczne, niemniej nie wykupiłbym pakietu artykułów za 50 zł na pewno.<br/>
Pozdrawiam i życzę wszystkiego dobrego, a w szczególności tego żebym się pomylił co do przedstawionego tutaj produktu. Naprawdę trzymam kciuki.<br/>
PS. przyszła mi do głowy lepsza forma zarobkowania może pojedyncze artykuły w cenie po 2 zł będą sprzedawać się lepiej na coś takiego stać będzie każdego i uda się Panu odkuć na ilości sprzedanych produktów a nie ich bezpośredniej cenie.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2339">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">dorianthecruel (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2339">niedziela, czerwiec 10, 2012 - 07:11</a></span>
</div>
</div>
<div class="indented"><a id="comment-2341"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Dzięki za podanie Twoich opinii, zwłaszcza o cenie! Właśnie tego szukamy i na pewno się przyda.</p>
<p>Czy kiedyś spróbowałeś Bibliobirda? To nie tylko artykuły. Są specjalnie przygotowane do nauki metodą, którą opisuję w moim ebooku. Starałem się to wszystko wyjaśnić w filmiku ale wygląda na to, że nie zrobiłem tego zbyt dobrze. :-/</p>
<p>Jeszcze raz dziękuję za cenne porady!</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2341">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2341">niedziela, czerwiec 10, 2012 - 07:21</a></span>
</div>
</div>
<div class="indented"><a id="comment-2346"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/66c55da356b5b48ef326dc77cf03d9e4?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Bibliobrid'a próbowałem, niemniej postrzegam go jako pewien półśrodek dla nauki. Obecnie moją metodą jest nauka całych serialowych dialogów i to jest dla mnie metoda najbardziej efektywna.<br/>
Wpadłem jeszcze na pomysł, że te Pana artykuły znalazłyby swój rynek zbytu wśród ludzi przygotowujących się do matury jako pomoc naukowa dla nauczyciela (Warto zapytać użytkownika yt I'mTalkingJBrooch co o tym myśli) i faktycznie tutaj można by popracować nad ceną i na przykład wywindować ją do 30zł na pakiet dla ludzi na różnych poziomach zaawansowania:)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2346">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">dorianthecruel (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2346">niedziela, czerwiec 10, 2012 - 07:49</a></span>
</div>
</div>
<div class="indented"><a id="comment-2351"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Nauka całych serialowych dialogów rzeczywiście jest efektywną metodą! :-)</p>
<p>Bibliobird w chwili obecnej nie będzie interesował wszystkich, bo brakuje treści, która będzie interesował wszystkim. Ale wyobraź sobie, gdyby były seriale na Bibliobirdzie! ;-)</p>
<p>Dzięki za pomysł! Będę o tym myślał. :-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2351">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2351">niedziela, czerwiec 10, 2012 - 08:45</a></span>
</div>
</div>
</div></div></div><a id="comment-2354"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/104d0b30b78f39112b98db953de4eac2?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Podoba mi się bardzo pomysł z książkami a cena? Hmm...gdzieś tu już pisałem że dla mnie nie ma żadnego znaczenia ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2354">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2354">niedziela, czerwiec 10, 2012 - 10:18</a></span>
</div>
</div>
<a id="comment-2355"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/87342368c117001f01208c9ec92a90d9?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Jak cena nie ma dla Ciebie żadnego znaczenia, to czego, za przeproszeniem, szukasz na takich stronach jak Davida? Wynajmij sobie native speakera, 7 razy w tygodniu po godzince i nawet się nie obejrzysz jak zaliczysz FCE albo i CAE ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2355">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Maad (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2355">niedziela, czerwiec 10, 2012 - 10:41</a></span>
</div>
</div>
<div class="indented"><a id="comment-2356"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/b0d18d491252d98b534ffbc43202d05d?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Kiedy pozbędziemy się tego mitu, że native to najlepszy nauczyciel?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2356">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Tomasz (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2356">niedziela, czerwiec 10, 2012 - 10:46</a></span>
</div>
</div>
</div><a id="comment-2357"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/87342368c117001f01208c9ec92a90d9?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>ok - poprawiam się - chodzi mi o zawodowego, utalentowanego pedagogicznie, z nieskazitelnym akcentem i anielsko cierpliwego native speakera,<br/>
może być też młodą, szczupłą blondynką z wielkim niebieskimi oczami i służbowym strojem w postaci mokrego podkoszulka<br/>
(I'm kidding of course)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2357">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Maad (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2357">niedziela, czerwiec 10, 2012 - 10:53</a></span>
</div>
</div>
<a id="comment-2358"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/104d0b30b78f39112b98db953de4eac2?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Kolego Maad :) daruj sobie złośliwości ;) będziesz zdrowszy hehe ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2358">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2358">niedziela, czerwiec 10, 2012 - 10:55</a></span>
</div>
</div>
<a id="comment-2359"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/104d0b30b78f39112b98db953de4eac2?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>A na strony będę sobie wchodził bo tak mi się podoba i nic ci do tego, zainteresuj się sobą ;) </p>
<p>Nos w swoje sprawy ;) jasne?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2359">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2359">niedziela, czerwiec 10, 2012 - 10:57</a></span>
</div>
</div>
<a id="comment-2360"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/87342368c117001f01208c9ec92a90d9?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>emotikony jakich używasz dają mi cień nadziei, że mój żart został li tylko opacznie zrozumiany - i tego się trzymajmy! ;)<br/>
bez urazy Anonymousie :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2360">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Maad (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2360">niedziela, czerwiec 10, 2012 - 11:23</a></span>
</div>
</div>
<a id="comment-2361"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/104d0b30b78f39112b98db953de4eac2?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Hehe nie bądź taki pewny siebie :)<br/>
Dla mnie nawet jeśli jakaś książka Davida będzie kosztowała 200 złotych to mnie będzie stać a Ciebie raczej nie :) No cóż mnie kryzys gospodarczy nie dopadł hehe ;) i tego się trzymajmy że bogatym wszystko wolno :D:D:D:D:D:D:D:D biednym...no nie bardzo ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2361">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2361">niedziela, czerwiec 10, 2012 - 12:57</a></span>
</div>
</div>
<div class="item-list"><ul class="pager"><li class="pager-current first">1</li>
<li class="pager-item"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85-page-1" title="Przejdź do strony 2">2</a></li>
<li class="pager-next"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85-page-1" title="Przejdź do następnej strony">następna ›</a></li>
<li class="pager-last last"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85-page-1" title="Przejdź do ostatniej strony">ostatnia »</a></li>
</ul></div><div class="box">
<h2>Dodaj nową odpowiedź</h2>
<div class="content"><form accept-charset="UTF-8" action="/comment/reply/168" id="comment-form" method="post">
<div><div class="form-item" id="edit-name-wrapper">
<label for="edit-name">Nazwisko lub pseudonim: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-name" maxlength="60" name="name" size="30" type="text" value="Anonymous"/>
</div>
<div class="form-item" id="edit-mail-wrapper">
<label for="edit-mail">E-mail: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-mail" maxlength="64" name="mail" size="30" type="text" value=""/>
<div class="description">Zawartość pola nie będzie udostępniana publicznie. If you have a <a href="http://www.gravatar.com">Gravatar</a> account, used to display your avatar.</div>
</div>
<div class="form-item" id="edit-homepage-wrapper">
<label for="edit-homepage">Strona domowa: </label>
<input class="form-text" id="edit-homepage" maxlength="255" name="homepage" size="30" type="text" value=""/>
</div>
<div class="form-item" id="edit-comment-wrapper">
<label for="edit-comment">Odpowiedź: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<textarea class="form-textarea resizable required" cols="60" id="edit-comment" name="comment" rows="15"></textarea>
</div>
<ul class="tips"><li>Adresy internetowe są automatycznie zamieniane w odnośniki, które można kliknąć.</li><li>Dozwolone znaczniki HTML: &lt;a&gt; &lt;em&gt; &lt;strong&gt; &lt;cite&gt; &lt;code&gt; &lt;ul&gt; &lt;ol&gt; &lt;li&gt; &lt;dl&gt; &lt;dt&gt; &lt;dd&gt; &lt;blockquote&gt;</li><li>Znaki końca linii i akapitu dodawane są automatycznie.</li></ul><input id="form-c052add1328b583c3e61909e080a261d" name="form_build_id" type="hidden" value="form-c052add1328b583c3e61909e080a261d"/>
<input id="edit-comment-form" name="form_id" type="hidden" value="comment_form"/>
<div class="clear-block"><div class="form-item" id="edit-notify-wrapper">
<label class="option" for="edit-notify"><input checked="checked" class="form-checkbox" id="edit-notify" name="notify" type="checkbox" value="1"/> Notify me when new comments are posted</label>
</div>
<div class="form-radios"><div class="form-item" id="edit-notify-type-1-wrapper">
<label class="option" for="edit-notify-type-1"><input class="form-radio" id="edit-notify-type-1" name="notify_type" type="radio" value="1"/> All comments</label>
</div>
<div class="form-item" id="edit-notify-type-2-wrapper">
<label class="option" for="edit-notify-type-2"><input checked="checked" class="form-radio" id="edit-notify-type-2" name="notify_type" type="radio" value="2"/> Replies to my comment</label>
</div>
</div></div><input class="mollom-content-id" id="edit-mollom-contentId" name="mollom[contentId]" type="hidden" value=""/>
<input class="mollom-captcha-id" id="edit-mollom-captchaId" name="mollom[captchaId]" type="hidden" value=""/>
<div style="display: none;"><div class="form-item" id="edit-mollom-homepage-wrapper">
<input autocomplete="off" class="form-text" id="edit-mollom-homepage" maxlength="128" name="mollom[homepage]" size="60" type="text" value=""/>
</div>
</div><div class="description mollom-privacy">By submitting this form, you accept the <a class="mollom-target" href="//mollom.com/web-service-privacy-policy" rel="nofollow">Mollom privacy policy</a>.</div><input class="form-submit" id="edit-preview" name="op" type="submit" value="Podgląd"/>
</div></form>
</div>
</div>
</div>
