---
permalink: /blog/2012/06/nasz-pełny-pomysł-na-produkt-proszę-o-pomoc-z-ceną-page-1/
layout: blog-old
title: 'Nasz PEŁNY pomysł na produkt (proszę o pomoc z ceną!)'
day: 9
month: Jun
year: 2012
category: personal
tags: [ ]
language: en
translation: /blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85/
---
<div class="content">
<p>W <a href="http://www.linguatrek.com/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku">moim ostatnim artykule</a> we wtorek, powiedziałem Wam o planie stworzenia płatnego programu do nauki języków. <strong>Ale nie powiedziałem Wam, czym ten produkt właściwie będzie!</strong></p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/catinbag.jpg" rel="lightbox"><img alt="A cat in a bag" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/catinbag.jpg" title="Kot w worku! Zdjęcie autorstwa Freddy'ego."/></a><div class="caption">Kot w worku! <a href="http://www.flickr.com/photos/41894173046@N01/4060779">Zdjęcie</a> autorstwa <a href="http://www.flickr.com/photos/freddy/">Freddy'ego</a>.</div></div>
<p>Ktoś <a href="http://www.linguatrek.com/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2260">skomentował</a> artykuł, mówiąc:</p>
<blockquote>
<p>"Polacy zazwyczaj nie kupują kota w worku"</p>
</blockquote>
<p>Myślę, że inteligentni i racjonalni ludzie wszystkich narodowości zachowują się w ten sposób. :-)</p>
<p><strong>Przepraszam za bycie takim tajemniczym na ten temat!</strong></p>
<p>Nie chciałem Was zwodzić po prostu chciałem wyjaśnić to we właściwy sposób. Faktycznie muszę Was z góry ostrzec, że to <em>najdłuższy</em> artykuł, jaki kiedykolwiek napisałem! Zawiera nawet filmik, który pomoże zobrazować ten pomysł.</p>
<p>Ten projekt jest niezmiernie ważny dla nas. Jeśli odniesie on sukces, będzie to spełnienie naszych marzeń! Jeśli nie, no... będziemy musieli wymyślić nowy pomysł. :-)</p>
<blockquote>
<p style="font-size: 110%"><strong>Dzisiaj NARESZCIE wyjaśnię nasz CAŁY pomysł na nasz płatny produkt do nauki języka!</strong></p>
<p style="font-size: 110%"><strong>Ale potrzebujemy WASZEJ pomocy, aby zdecydować o wielu ważnych szczegółach, łącznie z formatem i ceną produktu.</strong></p>
</blockquote>
<p>W tym artykule, podzielę się z wami DOKŁADNIE tym co mamy na myśli (łącznie z potencjalnymi cenami). <strong>Proszę pomożcie nam zaprojektować ten produkt poprzez wypełnienie na końcu ankiety! </strong></p>
<p><strong>Czytaj dalej i powiedz mi (szczerze!) co myślisz o naszym pomyśle!</strong></p>
<h2>Znalezienie efektywnej metody</h2>
<p>To co opisałem <a href="http://www.linguatrek.com/blog/2012/04/vlog-naturalna-nauka-j%C4%99zyka-bez-nauczyciela">w moim darmowym ebooku</a> jest schemat zbudowania efektywnej metody nauki języka do samodzielnej nauki (w przeciwieństwie do nauki z nauczycielem).</p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/05/nll-fauxbookstack.png" rel="lightbox"><img alt="Stos książek" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/05/nll-fauxbookstack.png" title="Okładka mojej książki zaprojektowana przez moją żonę!"/></a><div class="caption">Okładka mojej książki zaprojektowana przez moją żonę!</div></div>
<p>Każda metoda zbudowana na podstawie tego schematu składa się z trzech elementów:</p>
<ol>
<li>Źródło interesujących treści w danym języku</li>
<li>Metoda zrozumienia tej treści</li>
<li>System powtarzania i zapamiętywania nauczonego materiału</li>
</ol>
<p>Jest wiele możliwych metod, które możesz stworzyć na podstawie tego schematu. Osobiście <a href="http://www.linguatrek.com/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego">nauczyłem się polskiego</a> używając Harry'ego Pottera jako mojej treści, słownika polsko-angielskiego, aby go zrozumieć, i <a href="http://www.linguatrek.com/blog/2011/01/what-is-spaced-repetition">programu do fiszek</a>, aby powtarzać to czego się nauczyłem.</p>
<p>Jednak również można tworzyć metody, które są <em>zupełnie różne</em> korzystając z tego samego schematu!</p>
<p>Na przykład, możesz używać konwersacji z native speakerami jako treści, zapytać o wyjaśnienia, aby je zrozumieć (nawet jeśli wyjaśnienie to gesty rękoma lub rysunki na serwetce) i rozmawiać tak dużo jak to tylko możliwe jako system powtórzeniowy. Jeśli chcesz możesz nawet <a href="http://www.linguatrek.com/blog/2012/05/czy-musz%C4%99-m%C3%B3wi%C4%87-od-pierwszego-dnia">zacząć mówić od pierwszego dnia</a>.</p>
<p><strong>Najważniejszą rzeczą jest to, że otrzymujesz ogromne ilości <em>rzeczywistej</em> komunikacji, którą jesteś w stanie zrozumieć (comprehensible input).</strong></p>
<p>Tak jak <a href="http://www.linguatrek.com/blog/2011/03/language-learning-is-more-like-karate-than-math">napisałem<a> <a href="http://www.linguatrek.com/blog/2012/04/vlog-naturalna-nauka-j%C4%99zyka-bez-nauczyciela#lad">poprzednio</a> (i w moim ebooku również): <em>mózg ludzki jest zaprojektowany do nauki języków!</em>  Musisz tylko mu dać "comprehensible input".</a></a></p>
<p><strong>Ale najefektywniejsza metoda zależy od CIEBIE od TWOICH celów i TWOICH osobistych preferencji. </strong> Jeśli chcesz dowiedzieć się więcej na ten temat, proszę <a href="http://www.linguatrek.com/subscribe">zasubskrybuj</a> mój blog (za DARMO!) i będziesz mógł/mogła ściągnąć moj ebook.</p>
<h2>Oto czego się nauczyłem</h2>
<p>W filmikach na YouTubie i na moim blogu, doradzałem ludziom wypróbowanie tego typu metod <em>przez lata</em> przed napisaniem ebooka. Co więcej, rozmawiałem z wieloma osobami (możliwie setkami), które z nich korzystały i DUŻO nauczyłem się z ich doświadczeń.</p>
<p>Wielu osobom udało się osiągnąć przełom w ich nauce języka korzystając efektywniej metody podobnej (lub tej samej) do mojej! </p>
<p><strong>Jednak to nie jest tak proste, łatwe i przyjemne, jakie mogłoby być!</strong> Oto kilka najczęściej spotykanych problemów:</p>
<ol>
<li><strong>Ciężko jest znaleźć (a) interesującą treść (b) z nagraniem dźwiękowym (c) na odpowiednim poziomie</strong> - Kiedy czytałem i słuchałem Harry’ego Pottera po polsku, musiałem kupić każdą książkę dwa razy: wersję papierową i audiobooka.  Kupiłem kilka z nich w księgarniach w Chicago, ale inne musiałem zamówić z Polski. Jedna przesyłka nawet zaginęła! I oczywiście miałem szczęście bo Harry Potter był dla mnie ciekawy - nie wiedziałem nic o polskich autorach.</li>
<li><strong>Większość systemów do rozumienia zawartości jest czasochłonnych, nudnych albo mają potencjał niedokładności</strong> - Osobiście szukałem każdego nieznanego słowa w słowniku. To było nudne i zajmowało bardzo dużo czasu, który mogłem wykorzystać na czytanie lub słuchanie. Są metody, które są mniej czasochłonne (np. Google Tłumacz, pełne tłumaczenie), ale wnoszą one bardziej potencjał niedokładności i niepewności. </li>
<li><strong>Zarządzanie systemem powtórzeniowym jest czasochłonne</strong> - powtarzam, to jest czas, który <em>możesz spędzić z prawdziwym językiem!</em> Systemy rozmieszczonego powtórzenia ("spaced repetition" - typu Anki) zmniejszają ilość czasu potrzebnego na powtórkę (ponieważ pokazuje on tylko ten materiał, który musi być dzisiaj powtórzony), ale nadal musisz spędzić czas na dodawanie nowych słów i wyrażeń do systemu.</li>
</ol>
<p>Wszyscy jesteśmy bardzo zajęci i znalezienie czasu na wszystkie rzeczy, które chcemy robić jest jednym z największych wyzwań w całym naszym życiu.  Dla większości ludzi, nauka języka nie jest najważniejsza albo nawet w pierwszej trójce (zwykle to praca, rodzina i przyjaciele).</p>
<p><strong>Czy nie byłoby super, gdybyśmy mogli wyeliminować wszystkie czasochłonne czynności, abyśmy mogli spędzić ten mały czas zaznaczony do nauki języka na najefektywniejszych czynnościach, które dają naszym mozgom to, czego potrzebuje (tzn "comprehensible input")?</strong></p>
<h2>Dlatego właśnie stworzyłem Bibliobirda!</h2>
<div class="diag align-right" style="float: right; width: 110px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/bibliobird-pink.png" rel="lightbox"><img alt="Fioletowy ptak" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/bibliobird-pink.png" title="Logo Bibliobird, zostało również zaprojektowanie przez moją żonę."/></a><div class="caption">Logo Bibliobird, zostało również zaprojektowanie przez moją żonę.</div></div>
<p><a href="http://www.bibliobird.com">Bibliobird</a> jest aplikacją webową Open Source, która próbuje rozwiązać wszystkie problemy o których wspomniałem powyżej!</p>
<p>Znajdujesz interesujący tekst z nagraniem dźwiękowym.  Jeśli jest jakieś słowo, którego nie znasz, możesz na nie kliknąć i otrzymasz tłumaczenie w Twoim ojczystym języku. Wszystkie te nieznane słowa są <em>automatycznie dodawne </em> do programu Anki do późniejszej powtórki.</p>
<p><strong>Nie ma szukania po słownikach I tworzenia fiszek! Możesz spędzić więcej czasu na czytanie i słuchanie w danym języku.</strong></p>
<p>Na razie tylko ma dwa języki: angielski i polski.  Co tydzień dodajemy nowy tekst w języku angielskim z dwoma nagraniami audio - jedno czytanie w naturalnym tempie, a drugie troszkę wolniej.  To moja żona, Carrie, która pisze i nagrywa ten materiał. :-)</p>
<p>Ten projekt jest nadal bardzo młody - ma tylko 1.5 roku - ale już osiągnęliśmy kilka sukcesów! Mamy ponad 3000 zarejestrowanych uźytkowników i pomiędzy 300-500 <em>aktywnych użytkowników</em> każdego tygodnia. Oto wypowiedź Andrzeja O.:</p>
<blockquote>
<p><em>Odwiedziłem Twojego bloga i zastosowałem się do Twoich rad i okazało się, że - WOW - to coś dla mnie.</em></p>
<p><em>Czytałem kilka artykułów z bloga przy użyciu Bibliobirda i słuchałem wersji audio, powtarzając tekst który usłyszałem i muszę przyznać, że nigdy nauka nie wchodziła mi do głowy tak łatwo.</em></p>
</blockquote>
<p><strong>Ale jest nadal bardzo dużo do zrobienia!</strong></p>
<p>Myślę, że Bibliobird naprawdę radzi sobie świetnie w rozwiązywaniu problemów nr 2 i 3, w szczególności nr 2. W przeciwieństwie do innych podobnych aplikacji, Bibliobird zapewnie poprawne tłmaczenie idiomów i czasowników złożonych - dwie rzeczy, które sprawiaja sporo trudności uczącym się.</p>
<p><strong>Jednak program ten nadal ma <em>długą</em> drogę do przejścia zanim będzie w stanie rozwiązywać problem nr 1: nadal nie ma wiele tekstów na Bibliobirdzie. Pozwól, że wytłumaczę dlaczego...</strong></p>
<h2>W jaki sposób tekst dostaje się do Bibliobirda</h2>
<p>Ten proces jest trochę skomplikowany, więc nagrałem filmik, aby to zademonstrować. Bardzo polecam obejrzenie filmiku! Poniżej, spróbuję wyjaśnić ten proces, ale filmik jest bardziej szczegółowy i jest łatwiej zrozumieć proces kiedy <em>widzisz to wszystko w akcji.</em></p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/nSruLRh4fVM?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/nSruLRh4fVM?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p><em><strong>(Są napisy w języku i polskim i angielskim. Po rozpoczęciu filmiku, kliknij na przycisk "CC" w prawym dolnym rogu, aby je włączyć!)</strong></em></p>
<p>Kiedy tekst jest wprowadzony do systemu, pierwszym krokiem jest uruchomienie <em>automatycznego "anotatora"</em> (anotator - to coś, co daje adnotacje). To próbuje rozbić tekst na zdania, te zdania na słowa i znaleźć te słowa w słowniku.</p>
<p><strong>To jest o wiele trudniejsze do zrobienia dokładnie, niż się wydaje!  Bibliobird wykorzystuje z <a href="http://pl.wikipedia.org/wiki/Sztuczna_inteligencja"><em>sztucznej inteligencji</em></a> (AI) oraz <a href="http://pl.wikipedia.org/wiki/Uczenie_maszynowe"><em>uczenia maszynowego</em></a>, które pomagają w trudnych sytuacjach.</strong></p>
<p>Na przykład, jeśli napotka słowo “look”, czy to jest czasownik? (np. "They <u>look</u> strange" - po polsku: <em>wyglądać</em>) albo rzeczownik (np: "He had a strange <u>look</u> on his face" - po polsku: <em>mina, wyraz twarzy</em>)?</p>
<p>Automatyczny anotator Bibliobirda nadal nie jest za dobry. Potrzebuje bardzo dużo pracy i robi dużo błędów, szczególnie z rodzajem przykładu, który dałem powyżej.</p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/manualannotator.png" rel="lightbox"><img alt="Zrzuty ekranu ręcznego anotatora" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/manualannotator.png" title="Ręczny anotator."/></a><div class="caption">Ręczny anotator.</div></div>
<p>Dlatego następny krok w procesie dodawania tekstu do systemu, jest wykonywany przez człowieka przy pomocy  <em>ręcznego anotatora</em>, aby poprawić błędy. Następnie te poprawki mogą być dodane do automatycznego anotatora, który na ich podstawie będzie stawał się coraz bardziej dokładny.</p>
<p>Tłumaczenia pochodzą z własnego słownika Bibliobirda, które najpierw są importowane z  <a href="http://pl.wiktionary.org">Wiktionary</a> (słownik Wikipedii) i następnie poprawiane oraz ulepszane, aby pasowały do bieżącego tekstu.</p>
<p><strong>Powodem dlaczego Bibliobird w taki dokładny sposób tłumaczy teksty jest to, że nie odbywa się to w sposób całkowice automatyczny, tak jak Google Tłumacz!  Proces <em>rozpoczyna się</em> automatycznie, ale wszystko jest poprawiane i ulepszane przez prawdziwego człowieka, więc wszystko dokładnie pasuje do danego kontekstu.</strong></p>
<h2>I nareszcie, pomysł na płatny produkt to ...</h2>
<blockquote>
<p style="font-size: 110%">... płatne teksty dla Bilbiobirda!</p>
</blockquote>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/amazement.jpg" rel="lightbox"><img alt="Mała dziewczynka patrząca na bańki" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/amazement.jpg" title="Zdjęcie autorstwaClément Seifert"/></a><div class="caption"><a href="http://www.flickr.com/photos/90929268@N00/177748091">Zdjęcie</a> autorstwa<a href="http://www.flickr.com/people/sazeod/">Clément Seifert</a></div></div>
<p>Na pewno zastanawialiście się dlaczego mówiłem tyle o Bibliobirdzie! Właśnie dlatego. :-)</p>
<p><strong>Bibliobird najwyraźniej działa!</strong> Pomaga setkom Polaków uczyć się angielskiego każdego dnia. Jeśli udałoby się rozwinąć jego pełny potencjał, mógłby on pomóc wielu osobom z wieloma innymi językami!</p>
<p>Ponieważ jest to program Open Source, każdy może ściągnąć kod, na którym działa Bibliobird, modyfikuje go i pomaga go ulepszać - w taki sam sposób jak Linux czy Wikipedia.</p>
<p>Mam nadzieję, ze wraz z ulepszeniem narzędzi (tak jak <em>automatyczny</em> i <em>ręczny anotator</em>), społeczność entuzjastycznych użytkowników uczących się języka, pomoże dodawać darmowe teksty do Bibliobirda. Może w przyszłości użytkownicy mogliby ocenić i ulepszyć adnotacje tekstów, które byłyby tworzone przez innych użytkowników! Moglibyśmy stworzyć <em>"Wikipedię nauki języków."</em></p>
<p><strong>Jednak, obecnie, program jest zasilany <em>wyłącznie</em> ciężką pracą mojej żony, moją i kilku freelancerów.</strong> (To jest częściowo nasza wina: narzędzia nie zostały jeszcze udostępnione zwykłym użytkownikom, ale zrobimy to zanim płatne teksty zostaną wypuszczona na rynek.)</p>
<p>Oczywiście, planujemy nadal tworzyć jeden darmowy tekst każdego tygodnia, dla uczących się języka angielskiego. </p>
<p><strong>Ale, dodatkowo, chcielibyśmy stworzyć <em>więcej dłuższych tekstów o wyższej jakości</em>, za które użytkownicy mogliby płacić. To pozwoliłoby nam skupić całą uwagę na Bibliobirdzie i zrobić z niego naprawdę super aplikację!</strong></p>
<h2>Jak będzie wyglądał pierwszy produkt?</h2>
<p>Nie jestem całkowicie pewny! Potrzebujemy WASZEJ pomocy, aby zdecydować o wielu szczegółach. (<em>więcej o tym poniżej.</em>).</p>
<p>Jednej rzeczy jestem pewny: pierwszy płatny product będzie dla Polaków uczących się angielskiego. Przepraszam wszystkich nie będących Polakami i osoby uczących się innych języków! Musimy od czegoś zacząć.</p>
<p><strong>Jednak, jako część  <a href="http://www.linguatrek.com/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku">przedsprzedaży</a>, będziemy sprzedawać <em>dożywotni dostęp</em> do każdego przyszłego produktu do nauki języków, tworząc mają grupę <em>"założycieli"</em>.</strong> Mamy plan, aby było więcej języków (szczególnie polski!) w przyszłości.</p>
<p>W zamian za pomoc w osiągnięciu naszego marzenia, chętnie potraktowałbym potrzeby założycieli priorytetowo. :-)</p>
<h2><a name="potrzebujemy-waszej-pomocy">Potrzebujemy waszej pomocy!</a></h2>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/help.jpg" rel="lightbox"><img alt="Znak z napisem 'help'" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/help.jpg" title="Zdjęcie autorstwa Mike Scullen"/></a><div class="caption"><a href="http://www.flickr.com/photos/82625518@N00/5228173">Zdjęcie</a> autorstwa <a href="http://www.flickr.com/photos/revcyborg/">Mike Scullen</a></div></div>
<p><strong>Jest kilka ważnych rzeczy, z którymi potrzebujemy Waszej pomocy JUŻ TERAZ!</strong></p>
<p>Przede wszystkim, potrzebujemy pomocy w podjęciu decyzji w sprawie formatu i ceny produktu. Mam zamiar opisać wszystkie nasze pomysły poniżej (w tym potencjalne ceny).  Po przeczytaniu wszystkiego, <a href="http://www.linguatrek.com/node/170">proszę wypełnij ankietę</a>, aby dać nam znać, który pomysł podoba się Ci (albo żaden)!</p>
<p>Żeby to było całkiem jasne:</p>
<ul>
<li><strong>Mamy zamiar zrealizować <em>tylko jeden</em> z pomysłów opisanych poniżej</strong> - przynajmniej na razie.</li>
<li><strong>Jeszcze nic nie zostało zdecydowane!</strong> Naprawdę potrzebujemy Waszej pomocy w zaprojektowaniu tej oferty i zmienimy nasze plany w zależności od wyników ankiety. </li>
</ul>
<h3>Pakiety tekstowe</h3>
<p><strong>Każdy product będzie pakietem tekstów na określony temat i na określony poziom.</strong></p>
<p>Na przykład: "Amerykańska Polityka dla Zaawansowanych" lub "Dzienny rozkład zajęć dla Początkujących". Samym materiałem mogą być nawet filmiki z transkrypcjami, ale zawsze będzie miał nagranie dźwiękowe (tak jak obecnie na Bibliobirdzie).</p>
<p>Każdy pakiet pomógłby Ci w osiągnięciu określonego celu z językiem. Na przykład, po ukończeniu pakietu "Amerykańska Polityka", był(a)byś w stanie rozmawiać o polityce z prawdziwymi Amerykanami. Albo pakiet "Dzienny rozkład zajęć" pozwoliłby Ci opisać Twój dzienny rozkładu zajęć. Temat pierwszego pakietu zostanie wybrany w następnej ankiecie (jeśli ten format zostanie wybrany). </p>
<p>Dokładna ilośc tekstów w pakecie i ich długość będzie się różnić w zależności od poziomu. Ale każdy pakiet będzie zawierać wystarczająco dużo tekstów na miesiąc nauki dla przeciętnego uczącego się. </p>
<p><em>Proponowana cena : $14.95 lub 50 PLN za pakiet.</em></p>
<p>Kiedy <a href="http://www.linguatrek.com/blog/2011/07/teaching-english-in-poland">uczyliśmy w Krakowie angielskiego</a>, brałem 50 PLN za 60-minutową lekcję prywatną.  Jeśli masz jedną lekcję tygodniowo, tak jak miała większość moich uczniów, to kosztowałoby około 200 PLN na miesiąc za naukę angielskiego. Nasz produkt byłby 4 razy tańszy!</p>
<h3>Subskrypcja premium</h3>
<p><strong>Pisalibyśmy jeden tekst na dzień na różne tematy i na różnych poziomach, do których mieliby dostęp tylko <em>członkowie premium.</em></strong></p>
<p>Wszyscy członkowie premium głosowaliby ciągle na tematy przyszłych tekstów i te teksty byłyby pisanie według ich poziomów językowych (np. jeśli większość członków premium będzie na poziomie zaawansowanym, napiszemy większość tekstów na tym poziomie).</p>
<p><em>Proponowana cena: $9.95 lub 35 PLN na miesiąc.</em></p>
<h3>Pełne książki</h3>
<p><strong>Zrobilibyśmy adnotacje i nagralibyśmy audio do całej książki!</strong></p>
<p>Oczywiście, nie możemy użyć Harry'ego Pottera, ale jest on dobrym odniesieniem. Pierwsza książka Harry'ego Pottera miała około 300 stron i 10 godzin audio. Wydaje mi się, że długość i poziom trudności książki będzie podobny.</p>
<p>Jako początkująca osoba, czytanie mojej pierwszej takiej książki zajęło mi 4 miesiące.  Osobom na wyższych poziomach, oczywiście, nie zajęłoby to tyle czasu. </p>
<p><em>Proponowana cena: $49.95 lub 175 PLN za książkę.</em></p>
<p>Wiem, że to wydaję się dużo, ale porównaj to do kupna pierwszej książki Harry'ego Pottera: to $10 (35 PLN) za wersję papierową i $30 (105 PLN) za audiobooka. To jest tylko $9.95 (35 PLN) więcej i <em>niezwykle</em> ułatwia czytanie książki dla uczących się. <em>(Pamiętaj: Będziemy musieli również zapłacić autorowi książki za każdą sprzedaną kopię).</em></p>
<h2>Przyszłe plany</h2>
<p>Jeśli osiągniemy sukces z przedsprzedażą i wyprodukujemy pierwszy produkt, oto nasze niektóre plany na przyszłość:</p>
<ul>
<li><strong>Aplikacja mobilna</strong> - Siedzenie przed Twoim komputerem nie jest najlepszym środowiskiem do nauki! Jakiś czas temu napisałem aplikację Bibliobird dla systemu Android, która jest skończona w 90%. :-) Chciałbym ją skończyć i stworzyć wersję także na system iOS.</li>
<li><strong>Rynek sprzedaży</strong> - Chcemy sprzedawać płatne teksty na Bibliobirdzie - ale nie ma powodu dlaczego my powinniśmy to tylko robić! Chcemy pozwolić innym użytkownikom na tworzenie darmowych jaki <em>płatnych tekstów</em>, które mogą sprzedać.</li>
<li><strong>Nowe języki</strong> - Z pomocą społeczności użytkowników, chcielibyśmy dodać nowe języki do Bibliobirda! Ludzie ciągle pytają nas o hiszpański, niemiecki i rosyjski.</li>
<li><strong>Więcej płatnych tekstów</strong> - Po wypuszczeniu pierwszego produktu, planujemy kontynuować tworzenie następnych!</li>
</ul>
<p><strong>Oczywiście, <em>założyciele</em> otrzymają dożywotni dostęp to wszystkich programów językowych, które <em>kiedykolwiek</em> stworzymy! Każda inna osoba będzie musiała kupić każdy produkt <em>osobno.</em></strong></p>
<h2>Daj nam znać co SZCZERZE myślisz!</h2>
<p><a href="http://www.linguatrek.com/node/170">Nasza ankieta</a> ma tylko trzy proste pytania (i miejsce na dodatkowe komentarze):</p>
<ul>
<li>Czy jesteś Polakiem uczącym się angielskiego?</li>
<li>Jakim formatem był(a)byś najbardziej zainteresowany/a kupić? (Albo żaden jeśli nie podobają Ci się żadne pomysły!)</li>
<li>Czy kupił(a)byś ten produkt za proponowaną cenę? (<strong>Pamiętaj:</strong> podczas przedsprzedaży, pierwszy produkt będzie sprzedany za <em>mniej</em> niż proponowana cena.)</li>
</ul>
<p><strong>Jeśli masz wolną chwilę, proszę <a href="http://www.linguatrek.com/node/170">wypełnij ankietę</a>!</strong> Ankietę będzie dostępna przez ok. tydzień - wtedy opublikuję wyniki.</p>
<p><em>Możesz również zostawić komentarze poniżej - ale tylko po wypełnieniu ankiety! ;-)</em></p>
</div>

<div id="comments">
<div class="indented"><a id="comment-2362"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/b0d18d491252d98b534ffbc43202d05d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Zdaje się, że komuś coś się tutaj pomieszało. Z Twoich wyjątkowo błyskotliwych wypowiedzi wynika, że nie tylko cena nie ma znaczenia, ale także przydatność materiału w nauce.</p>
<p>Co by wykluczyć możliwość - bycia urażonym zastosuję znany chwyt - ;) :P :D</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2362">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Tomasz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2362">Sunday, June 10, 2012 - 13:27</a></span>
</div>
</div>
</div><a id="comment-2364"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e6fd836702e756ac15de1d1b43fcd4fe?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Davidzie ja uważam że twój projekt ma sens , tylko że tak jak Koledzy wyżej napisali musisz koniecznie zabezpieczyć treść przed kopiowaniem i tu książki moim zdaniem odpadają całkowicie!!!!!<br/>
Poza tym wszystko odpada co można by było skopiować i gdzieś umieścić w internecie do pobrania za darmo , moim zdaniem na tym najbardziej powinieneś się teraz skupić bo napracujesz się tylko a efekt w postaci zysków będzie żaden.<br/>
Dalej powinieneś rozwijać Bibliobirda iść w tym kierunku bo tego nikt nie skopiuje, a to jest naprawdę dobry pomysł tylko teksty trzeba by podzielić na poziomy zaawansowania i będzie ok.<br/>
Seriale to by było super , chyba byś był pierwszym kto oferuje taką usługę w Polsce tylko kwestia prawa autorskiego będzie trudna.<br/>
Ale tak jak pisałem moim zdaniem powinieneś rozwijać Bibliobirda zrobić subskrypcje premium zamieścić więcej tekstów , podzielić na poziomy i do boju.<br/>
Pozdrawiam</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2364">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Marcin (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2364">Sunday, June 10, 2012 - 15:58</a></span>
</div>
</div>
<div class="indented"><a id="comment-2407"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Marcin!</p>
<p>Dziękuję za słowa wsparcia. :-)</p>
<p>Z płatnymi tekstami na Bibliobirdzie, można skopiować same teksty i nagrania, ale prawdziwa wartość ich jest tylko na stronie Bibliobirda więc pod tym względem jesteśmy bezpieczni.</p>
<p>Teksty już są zaznaczone poziomu zaawansowania ale niestety nie ma dobrego sposobu, żeby wyszukiwać teksty. Tak, prawo autorskie jest chyba największym problemem jeśli chodzi o pełne książki, seriale, itd. Ale tak fajnie byłoby mieć serial na Bibliobirdzie! :-)</p>
<p>Za kilka dni opublikuję wyniki ankiety i nasze dalsze plany z produktem!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2407">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2407">Wednesday, June 13, 2012 - 16:46</a></span>
</div>
</div>
</div><a id="comment-2368"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/fbe5e4f0fa2256eb2fe38d1e0ecb83d2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć David,<br/>
Jak zapewne wiesz ludzie w internecie są przyzwyczajeni do tego, że większość rzeczy się tam znajdujących jest darmowa i niechętnie za coś płacą, jednak bibliobird w jakiś sposób musi generować zyski. Jeśli pieniędzy na projekt nie będziesz dawał ani ty, ani użytkownicy bibliobirda to zostają... ONI! Reklamodawcy. Nagrania audio umieszczaj na osobnym koncie youtube i zrób program partnerski. W ten sposób przed wysłuchaniem audio trzeba będzie obejrzeć reklamę. Do tego pod każdym tekstem dodałbym przycisk (link) pozwalający na przelew bankowy na rozwój bibliobirda :)<br/>
 </p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2368">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2368">Monday, June 11, 2012 - 06:20</a></span>
</div>
</div>
<div class="indented"><a id="comment-2408"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Tak, ludzie są tak przyzwyczajeni. Ale rzeczywiście coś kupują kiedy uważają, że ma wartość! Wiem, że sam rzadko kupuję w internecie ale nadal coś kupuję od czasu do czasu. :-)</p>
<p>Przecież jeśli niczego nie kupują nawet reklamy nie działałyby w sprawie zarabiania. ;-) Bo zwykle tylko zarabiasz kiedy ktoś klika na reklamę.</p>
<p>W każdym razie dziękuję za pomysł! Jeśli nie uda nam się z tym planem, spróbuję coś innego, może nawet reklamy.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2408">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2408">Wednesday, June 13, 2012 - 16:50</a></span>
</div>
</div>
</div><a id="comment-2371"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3edaefc3d69a4bf6a0e4b474303c6d06?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć David - witam także wszystkich zainteresowanych Twoją misją.<br/>
Popieram tych, którzy twierdzą, że książki nie przyniosą zysku ze względu na cenę.<br/>
Dostęp do materiałów edukacyjnych musi być tani, by nie odstraszał przeciętnych nabywców.<br/>
Bibliobird mi się podoba i jeśli byłby odpłatny oraz podzielony na stopnie zaawansowania, to jestem przekonana, że znajdzie wielu zwolenników.<br/>
Jednak cena nie powinna przekraczać 15 zł/m-c (np. 4 artykuły w formie dialogów).<br/>
Pozdrawiam, Anna</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2371">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anna Z. (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2371">Monday, June 11, 2012 - 11:55</a></span>
</div>
</div>
<div class="indented"><a id="comment-2409"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Anna!</p>
<p>Dzięki za podzielenie się Twoją opinią i słowa wsparcia. :-) Zawsze jest trudno ustalić ceny. Produkt musi być dość tani, żeby wystarczająca liczna grupa go chciała ale nadal dość drogi, żeby były zyski z jego sprzedaży.</p>
<p>Ale zawsze będą darmowe materiały na Bibliobirdzie. Wkrótce nawet zwykli użytkownicy będą w stanie je dodać. Więc nie wszyscy muszą kupić płatny produkt. Zobaczymy jak będzie!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2409">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2409">Wednesday, June 13, 2012 - 16:56</a></span>
</div>
</div>
</div><a id="comment-2372"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/866eee6d18fde213a58eda8e64588f41?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>David a mam 1 pytanie . znasz kogoś kto może porozmawiać z nauczycielem/profesorem zajmującym się nauczaniem języków obcych ? Sądzę , że jeśli nauczyciel/profesor byłby zainteresowanym twym produktem, to mógłby znaleźć chętnych na taki produkt(przypuszczalna reklama). w ten sposób by ludzie zainteresowani dowiedzieliby się o takich materiałach. moim zdaniem części osób zależy na dobrej znajomości języka angielskiego(zakładam większość)więc by kupili to.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2372">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">z polski (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2372">Monday, June 11, 2012 - 12:54</a></span>
</div>
</div>
<div class="indented"><a id="comment-2410"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Znam dość dużo nauczycieli j. angielskiego w Polsce bo sam uczyłem j. angielskiego przez krótki czas kiedy byliśmy w Polsce. :-) To dobry pomysł na reklamowanie produktu! Będę o tym myślał, dziękuję!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2410">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2410">Wednesday, June 13, 2012 - 16:58</a></span>
</div>
</div>
</div><a id="comment-2379"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/105ec4d55f7f7b95861f3176b30969b4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Kiedy wchodza w gre pieniadze, sprawa zaczyna sie komplikowac.<br/>
Sprzedawca - kupujacy, od zawsze w opozycji.</p>
<p>175 zl to absolutnie za duzo. Chyba ze presentujesz metode rewolucyjna. </p>
<p>Nie ma cudow, najlepszy prof. to motywacja i praca.</p>
<p>Jezeli chodzi o ceny  subskrypcji tygodniowych czy miesiecznych,  pwinny byc wzglednie niskie, aby nie "splokac" mlodych ludzi, inaczej pojda  gdzie indziej. </p>
<p>Jezeli BB ma byc platny to musicie naprawde zainteresowac  internetowcow, ktorzy maja wielki wybor.<br/>
Poza tym, cen (tradycyjnch  lekcji jezyka) nie mozna porownywac z internetowymi, online musza byc zdecydowanie tansze.</p>
<p>Teksty dla jednych beda  interesujace dla innch nudne. Nie da sie zadowolic wszystkich.<br/>
Na ogol jezyk na poczatku jest czasochlonny, wszyscy chca ten etap  ominac, niestety jak do tej pory nikt nie znalazl   lepszego sposobu jak wkuwanie. Zadna ksiazka nawet najlepsza nie pomoze.</p>
<p>Widzialem ceny etutor.pl, uwazam ze za  wysokie. Ktos, kto chce szybko opanowac angielski, bo potrzebuje do matury albo do pracy, skusi sie , jednak dla pewnej grupy, nauka jezyka to pasja drugorzedna, zagladaja od czasu do czasu. Na tych na pewno nie mozesz liczyc. </p>
<p>Nie nalezy zapominac o dotacjach, ktore moga  przyniesc wiecej zysku niz obowiazkowe oplaty.<br/>
Czebu by nie dopuscic dyskretnej reklamy?</p>
<p>powodzenia</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2379">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">greg jozefa (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2379">Tuesday, June 12, 2012 - 04:40</a></span>
</div>
</div>
<div class="indented"><a id="comment-2411"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Greg!</p>
<p>Dzięki za podzielenie się Twoją opinią i sugestie. :-) Będę o nich myślał!</p>
<p>Reklama i dotacje są możliwymi opcjami - ale bardziej mi się podoba ten plan, więc to spróbuję najpierw. ;-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2411">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2411">Wednesday, June 13, 2012 - 17:04</a></span>
</div>
</div>
</div><a id="comment-2381"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/866eee6d18fde213a58eda8e64588f41?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>właśnie ja zaproponowałem coś w stylu reklamy. nauczyciele którzy uczą języków mogliby zrobić recenzję albo coś podobnego. to by była reklama i w pewien sposób "wyróżnienie" bo ktoś wyspecjalizowany by powiedział to jest dobre :) a myślisz jak jest z filmami/książkami/muzyką. jak ktoś powie ale to jest świetne to część osób się rzuci w to co chce kupić</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2381">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">z polski (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2381">Tuesday, June 12, 2012 - 06:36</a></span>
</div>
</div>
<div class="indented"><a id="comment-2412"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki za pomysł! Będę o nim myślał. Pozdrawiam, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2412">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2412">Wednesday, June 13, 2012 - 17:06</a></span>
</div>
</div>
</div><a id="comment-2438"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c47cc9c65120b0f27fe98451e12086f1?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hm, skoro inne projekty (etutor, itp) działają już i mają się dobrze, to nie możesz wystartować z ceną zbliżoną do nich, przynajmniej na początek. Oni mają już swoją renomę, odbiorców, reklamę, Ty dopiero wchodzisz na ten rynek. Proponuję wystartować z ceną o połowę niższą, niż istniejąca już "konkurencja" działająca w podobnym obszarze. Zrób obliczenie obrazujące ile potrzebowałbyś osób płacących za produkt, aby taka cena stała się opłacalna. Skonfrontuj to z ilością osób, które obecnie odwiedzają BiblioBirda. A może darmowy dostęp do opcji premium dla osoby, która zachęci inną osobę do wykupienie płatnej transkrypcji? Albo która zachęci 2? W ten sposób szybciej poszerzysz ilość płatnych użytkowników.</p>
<p>Ot, takie luźnie przemyślenia w podzięce za jeden z Twoich filmików na youtube, który kiedyś zachęcił mnie do nauki przez czytanie. W moim przypadku była to książka Rich Dad Poor Dad od której zaczęłam naukę angielskiego. Jestem pewna, że człowiek jako biznesu czytałeś książkę Roberta Kiyosaki ;]</p>
<p>Pozdrawiam</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2438">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">natasza (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2438">Friday, June 15, 2012 - 14:22</a></span>
</div>
</div>
<div class="indented"><a id="comment-2489"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>To fajnie, że przeczytałaś "Rich Dad Poor Dad." Bardzo się cieszę, że wyszło Ci tak dobrze. :-)</p>
<p>Dzięki za sugestie. Będę o nich myślał! Subskrypcja premium nie został wybranym pomysłem, więc tak nie robimy na razie. Ale zobaczymy co będzie w przyszłości!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2489">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2489">Tuesday, June 19, 2012 - 11:24</a></span>
</div>
</div>
</div><a id="comment-2440"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4893fce1ed68e7bf1cdf34e756d2e760?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Uważam właśnie, że częściej to właśnie młodzi ludzie idą z duchem czasu i wykupują różne pakiety w internecie, a nie dorosłe osoby. Muszą być po prostu zainteresowani, a zapłacą. Mam niespełna 19 lat i widzę moich rówieśników. Największą siłą jest polecanie. Jeśli  komuś polecę coś w internecie, to zazwyczaj wykupuje to chociażby na próbę.</p>
<p>Bibliobird ma potencjał jednak, aby zaistniał w świadomości internautów musiałby mieć bardziej skomercjalizowane treści nawiązujące do popkultury, kontrowersyjne albo do ścisłych zainteresowań, bieżących wiadomości. W dzisiejszych czasach ludzie są bombardowani obrazem, także sam tekst przestaje być dla nich atrakcyjny, szybko się nudzimy.<br/>
Nie wiem czy znasz Niekrytego Krytyka<br/>
<a href="http://www.youtube.com/user/Macfra84" title="http://www.youtube.com/user/Macfra84">http://www.youtube.com/user/Macfra84</a> .<br/>
Komentuje głównie absurdy polskiej rzeczywistości. 86289957 wyświetleń i 288886 widzów mówi samo za siebie. </p>
<p>Program na tvnstyle: 66 niezapomnianych... <a href="http://www.tvnstyle.pl/program/66-niezapomnianych-przebojow" title="http://www.tvnstyle.pl/program/66-niezapomnianych-przebojow">http://www.tvnstyle.pl/program/66-niezapomnianych-przebojow</a> porusza również różne obszary, ma podobną formułę. </p>
<p>To co ludzie chcą dziś oglądać musi być zabawne, czasami wręcz głupie. Najlepiej jakbyś w swoich tekstach oceniał rzeczy związane z Polską itp. Już widzę teksty na wykopie albo demotywatorach "Amerykanin ocenia polską...". Strony typu kwejk, demotywatory, wykop itp. są największym narzędziem marketingowym, ale treść musi być kontrowersyjna, ludzie mogliby dzielić się nimi na facebook'u. Z tego co widzę ludzie bardzo lubią słuchać o swoim kraju z ust obcokrajowców albo o innych krajach, ale przede wszystkim o... absurdach. Nałogowo też oglądamy zagraniczne seriale czekając z wypiekami na twarzy aż pojawią się np. (u nas) o 5 rano. Mógłbyś omawiać jakieś epizody, seriale mają mnóstwo fanów, często oglądają je też, aby poprawić swój angielski.</p>
<p>Gdyby np. dodawano codziennie nowe treści, mogłabym się rozerwać,personalizować wyszukiwanie pod moje zainteresowania, miała możliwość zapytania się czegoś nauczyciela z 100% pewnością odpowiedzi + opcje które już są na stronie, byłabym skłonna zapłacić. Opłata najlepiej gdyby była przez SMS, super się to sprawdza na chomikuj.pl .</p>
<p>Mega ważna jest też oprawa graficzna, a obecna(bez obrazy oczywiście :) startuję na Akademie Sztuk Pięknych, więc jestem wyczulona na względy estetyczne ;) )  nie zachęca do nauki. Przydałaby się też jakaś reklama np. w formie animacji, którą możnaby zrobić nie drogim kosztem, ale stałaby się popularna przez samą formę, żart (przykład na wyrost jeśli chodzi o koszty - wszyscy znają dziś Małego Głoda, albo Serce i Rozum z reklam ; ) ). Taniej - może komiks?</p>
<p>Podsumowując:<br/>
- teksty popkulturowe, codziennie aktualizowane, felietony<br/>
- opłaty przez SMS<br/>
- pomoc nauczyciela<br/>
- zmiana oprawy graficznej - MEGA ważne, ludzie są wzrokowcami, wciska się im pełno shitu tylko dlatego, że jest ładnie opakowane<br/>
- reklama - animacja<br/>
- uwagi do artykułów w języku polski, przykłady zastosowania ważniejszych słów w innych kontekstach<br/>
- personalizowana wyszukiwarka według zainteresowań celów<br/>
- wyszukiwarka według słów (np. nauczyłam się słowa sunshine, chcę poczytać inne artykuły gdzie występuje to słowo)<br/>
- aplikacja na komórkę</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2440">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Karmelowa (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2440">Saturday, June 16, 2012 - 07:08</a></span>
</div>
</div>
<div class="indented"><a id="comment-2490"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki za takie zorganizowane i konkretne pomysły. :-) Nie wiem, czy widziałaś następny artykuł ale będzie pomoc nauczyciela. Już myślę o oprawie graficznej i rozmawiam z grafikiem na ten temat. W chwili obecnej nie mam zbyt dużo środków na to, ale zgadzam się, że to jest ważne. Wersja na komórkę jest prawie zakończona - tylko muszę znaleźć trochę czasu na to.</p>
<p>Będę myślał o Twoich pomysłach!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/168/2490">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85#comment-2490">Tuesday, June 19, 2012 - 11:28</a></span>
</div>
</div>
</div><div class="item-list"><ul class="pager"><li class="pager-first first"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85" title="Go to first page">« first</a></li>
<li class="pager-previous"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85" title="Go to previous page">‹ previous</a></li>
<li class="pager-item"><a class="active" href="/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85" title="Go to page 1">1</a></li>
<li class="pager-current last">2</li>
</ul></div>
</div>
