---
permalink: /blog/2012/06/presale-at-94-more-opportunities-to-become-a-founding-member/
layout: blog-old
title: 'Presale at 94%! More opportunities to become a founding member!'
day: 28
month: Jun
year: 2012
category: personal
tags: 
  - 'BiblioBird'
  - 'PolakPotrafi.pl'
  - 'presale'
language: en
translation: /blog/2012/06/94-w-przedspreda%C5%BCy-i-wi%C4%99cej-mo%C5%BCliwo%C5%9Bci-%C5%BCeby-zosta%C4%87-za%C5%82o%C5%BCycielem/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/nintyfourpercent.png" rel="lightbox"><img alt="Status on PolakPotrafi" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/nintyfourpercent.png" title=""/></a></div>
<p><strong>Thanks everyone for your support! This has been amazing!</strong></p>
<p>In general, I didn't expect the presale on <a href="http://polakpotrafi.pl/project/Bibliobird">PolakPotrafi</a> would go so well. :-) I also didn't think that the option to become a "founding member" would be so popular!</p>
<p>I ran <a href="http://www.linguatrek.com/blog/2012/06/results-of-the-survey-the-winner-is-very-surprising">a survey</a> a couple weeks ago and I came to the conclusion that the package itself, "Real Life in the USA," would be the most popular and would make the most money.</p>
<p><strong>However, it turned out to be the complete opposite!</strong> The first 20 places to become a founder were bought up within 5 hours of the official start. :-) When I added more, those were bought up in less than a day. I know that if I add more new, they will also be bought very quickly. And the extra money would certainly help us start out!</p>
<p>Unfortunately, when I added more places last time, a few people in the first group were unhappy, because it was supposed to be an exclusive group. They were first so they got the best deal. In a sense it's unfair that the later people got the same deal. <strong><em>I understand that perfectly.</em></strong></p>
<p>So, when I again add more opporutunities, the people in the first and second groups must get something special. Like I said <a href="http://www.linguatrek.com/blog/2012/06/buy-our-product-to-help-us-create-it-our-dream-is-sooo-close#comment-2584">a few</a> <a href="http://www.linguatrek.com/blog/2012/06/buy-our-product-to-help-us-create-it-our-dream-is-sooo-close#comment-2603">times</a> in the comments and in <a href="http://polakpotrafi.pl/projekt/Bibliobird/aktualnosc/79">an update</a> on PolakPotrafi, I seriously cosidered making the price higher for the new people. But after lots of thinking, I decided that maybe that wasn't the best idea.</p>
<p>I don't want to create bad relations in the future between the people in the first two groups and the people in last. Afterall, the people in the third group would pay more (and in a way support the project more), so why should they have a lower status among the founding members? That would also be unfair.</p>
<p><strong>Of course, there must be some limit! We need to have someone to sell the product to in the future. If everyone had lifetime access to everything, we'd have a problem! ;-)</strong></p>
<p>After the presale we aren't ever going to sell founding memberships again - it wouldn't make sense. We'll have to concentrate on creating and selling the products themselves.</p>
<p>However, I think that even 100 founding members would be OK. Looking at the data, if I don't add any new places, will get to 10.000 PLN ($2900) in a week and in the end only a little higher. But if I add some more opportunities to become a founding member, we have a chance to even get twice that! That's why this decision was so hard but also important.</p>
<p>So, I decided on this solution...</p>
<p><strong>Read more to find out what it is! Or visit <a href="http://polakpotrafi.pl/project/Bibliobird">our page</a> on PolakPotrafi to become a founding member!</strong></p>
<h2><a name="status">Status</a></h2>
<p>Instead of a better price, the first founders will get symbols of their status on Bibliobird.</p>
<p>All the founders will get a special badge on their Bibliobird profile. Look at <a href="http://en.bibliobird.com/user/1">my profile</a> - at the moment I have three badges.</p>
<p>People in the first group will get a gold badge, in the second - silver, and in third - blue. Here are some examples that we quickly put together:</p>
<p style="text-align: center;">
<img src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/b_bird_gold.png" style="padding: 0 10px"/>
<img src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/b_bird_silver.png" style="padding: 0 10px"/>
<img src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/b_bird_blue.png" style="padding: 0 10px"/>
</p><p>
</p><p><em>(I'll make English versions later.)</em></p>
<p>Also every founding member will get a number on their profile, so everyone will be able to see in what order they came to the project. I already know that "auditlog" will be founding member #1 and "wilk" will be #8. :-)</p>
<p>Right now badges and other information from your profile aren't visible on the forum. But I could change that!</p>
<h2>Goal and number of places</h2>
<p>According to all the data that I have - there could be at most 100 founding members in total and we still be able to comfortably make money in the future. So why isn't that the limit? Maybe my biggest mistake was choosing a limit that was too small to begin with.</p>
<p>And if from that, we're able to raise 20.000 PLN ($5800) - that means we would have enough money to create at least two products without haven't to earn anything! That lowers the risk for founding members that the project will end after a month. :-)</p>
<p>So, that's why I added a new "award" to became a "founding member" with a limit of 60. This is really the last time because any more founding members would threaten the commercial possibilities of future products.</p>
<img align="right" height="161" src="http://sphotos.xx.fbcdn.net/hphotos-snc6/271031_2254648726908_3496641_n.jpg" style="left-margin: 10px" width="113"/>
<p>I'm also adding another goal and prize for the whole group: if we achieve 20.000 PLN (double the original goal) I will shave off my beard and record a video of it. :-) For years my fans have asked me to do it - one even created this image a while back!</p>
<p>I was only beardless once in my adult life and I had at least a moustache since I was 14. So, it will really be something out of the ordinary!</p>
<p><strong>Thank you everyone for your support so far! I hope that existing founding members understand my decision. Please visit <a href="http://polakpotrafi.pl/project/Bibliobird">our page</a> on PolakPotrafi.pl!</strong></p>
<p>(<em>If you don't speak Polish but want to contribute, I made <a href="http://www.youtube.com/watch?v=-XFEND9dHDg">this video</a> to help you.</em>)</p>
</div>

<div id="comments">
<a id="comment-2613"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://howlearnspanish.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/378451a8d6aab6e56c0caa50495bd976?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Wow, congratulations!</p>
<p>More than anything, what this tells me is that you've got a very solid fan base that you've likely spent years establishing, no way in hell this would've worked for a start-up site with no base readership to work with.</p>
<p>People have to know you, like you, and trust you first...then they'll be willing to give you their money.  And that very much seems to be the case for you, you should feel great about that, you've got a lot of people out there who believe in you and think you can to do this: they've entrusted you with several thousand dollars of their money.</p>
<p>You can do it.</p>
<p>Cheers,<br/>
Andrew</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/181/2613">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://howlearnspanish.com" rel="nofollow">Andrew</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/presale-at-94-more-opportunities-to-become-a-founding-member#comment-2613">Thursday, June 28, 2012 - 15:29</a></span>
</div>
</div>
<div class="indented"><a id="comment-2626"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks Andrew! This has been an amazing experience. I'm totally exhausted from it - but truly amazing. :-)</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/181/2626">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/presale-at-94-more-opportunities-to-become-a-founding-member#comment-2626">Friday, June 29, 2012 - 15:08</a></span>
</div>
</div>
</div><a id="comment-2624"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://nietylkorosyjski.blogspot.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/1df8bc1828698936ceffb5ff18bf3dea?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>There's probably a slight misprint here: 10.000 PLN is not exactly $29000 :) Great job anyway!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/181/2624">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://nietylkorosyjski.blogspot.com" rel="nofollow">Dima</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/presale-at-94-more-opportunities-to-become-a-founding-member#comment-2624">Friday, June 29, 2012 - 15:05</a></span>
</div>
</div>
<div class="indented"><a id="comment-2625"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Oops! One too many zeros. ;-) I hope other people didn't get thrown off by that. Thanks Dima!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/181/2625">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/presale-at-94-more-opportunities-to-become-a-founding-member#comment-2625">Friday, June 29, 2012 - 15:06</a></span>
</div>
</div>
</div><a id="comment-2680"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/07/thank-you-if-we-get-200-ill-shave-off-my-beard" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] one more week left in our project and (as I said a bit ago) I'm adding a new goal: If we reach 200% or 20.000 PLN (about $5800) by 2012-07-16, I'll [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/181/2680">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/07/thank-you-if-we-get-200-ill-shave-off-my-beard" rel="nofollow">Thank you! If we get 200% - I&amp;amp;#039;ll shave off my beard</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/presale-at-94-more-opportunities-to-become-a-founding-member#comment-2680">Monday, July 9, 2012 - 10:05</a></span>
</div>
</div>
</div>
