---
permalink: /blog/2012/06/results-of-the-survey-the-winner-is-very-surprising/
layout: blog-old
title: 'Results of the survey! (the winner is very surprising)'
day: 16
month: Jun
year: 2012
category: personal
tags: [ ]
language: en
translation: /blog/2012/06/wyniki-ankiety-zwyci%C4%99ski-pomys%C5%82-jest-zaskakuj%C4%85cy/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/crowd.jpg" rel="lightbox"><img alt="Crowd in New York City" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/crowd.jpg" title="Photo by Gary McCabe"/></a><div class="caption"><a href="http://www.flickr.com/photos/25652598@N06/5217078170">Photo</a> by <a href="http://www.flickr.com/photos/garyisajoke/">Gary McCabe</a></div></div>
<p>Thanks so much to everyone who responded to <a href="http://www.linguatrek.com/blog/2012/06/finally-our-full-product-idea-i-need-your-help-with-the-price">the survey</a> from last Saturday about our upcoming paid language learning product!</p>
<p>The responses were really great for two main reasons:</p>
<p>
<ul>
<li><strong>I was looking for an honest reaction and I got one!</strong> Many people put a lot of emotion into their survey comments. When asking for opinions, there is always the risk that people will just say what the person asking wants to hear. <em>This was not the case with this survey!</em></li>
<li><strong>I was completely surprised by the results!</strong> Every time I do a survey, I have a preconceived idea of how you're going to respond, because, well, I've talked with many of you extensively via the comments, sometimes Skype, and especially e-mail. <em>And every time I'm completely wrong!</em></li>
</ul>
</p><p><strong>Today I'm going to tell you about the results of the survey and the final format and price we've decided on for our upcoming paid language learning product.</strong></p>
<p>Like always, we need YOUR help deciding even more details for the first product!</p>
<p><strong>Read more to find out the results!</strong></p>
<h2>Background</h2>
<p>I really recommend reading the <a href="http://www.linguatrek.com/blog/2012/06/finally-our-full-product-idea-i-need-your-help-with-the-price">last article</a> on this topic if you haven't already!</p>
<p><strong>But if you don't have the time (it's a very long article), let me just give a little background here...</strong></p>
<p><a href="http://www.bibliobird.com">Bibliobird</a> is a free (and Open Source) web application that helps you to learn a foreign language using the same method <a href="http://www.linguatrek.com/blog/2010/12/harry-potter-the-book-that-taught-me-polish">I used to learn Polish</a>: by reading and listening to interesting content in the language. Bibliobird makes the process the easier, less time-consuming, and allows you to focus on the fun parts <strong>- making it less likely that you'll give up!</strong></p>
<p>While reading, you can click on any unknown words and receive a translation in your native language. All the unknown words are automatically added to the popular flashcard program Anki for later review.</p>
<p>Unlike similar programs, the translations in Bibliobird are checked and corrected by <em>real humans!</em> This means they will be accurate to the <em>given context</em> and include some of the more difficult things to translate, like idioms, slang, and phrasal verbs - which are especially difficult for learners.</p>
<p><strong><em>All the content in Bibliobird is presently free!</em> But we want to create some higher quality paid content in order to support our work on the project.</strong></p>
<p>In the last article, we ran a survey about what format that content will take and its price. This is all leading to a <a href="http://www.linguatrek.com/blog/2012/06/my-next-big-project-after-the-ebook">presale</a>: if we raise enough money in the presale, we will create the first product, which will be geared towards Poles learning English.</p>
<p>However, we'll also be selling access to every future product we create (which will include other languages) to a small group of "<em>founding members</em>."</p>
<h2>The (very surprising) winner of the survey is...</h2>
<blockquote>
<p style="font-size: 110%">Full books with audio, annotated to be read with Bibliobird.</p>
</blockquote>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/finishline.jpg" rel="lightbox"><img alt="Runner approaching finishline" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/finishline.jpg" title="Photo by Sébastien Barré"/></a><div class="caption"><a href="http://www.flickr.com/photos/99706198@N00/3582823805">Photo</a> by <a href="http://www.flickr.com/photos/altuwa/">Sébastien Barré</a></div></div>
<p><strong><em>However, it didn't win by much and the proposed price wasn't very popular.</em></strong></p>
<p>Among Poles learning English, it got 38% of the votes, while packages of texts were a very close 2nd with 37%. However, only 51% said they would pay the price proposed for the full books!</p>
<p>I was personally expecting the packages and premium subscriptions to be the most popular.  But the more I thought about it, the full books really are the <em>most interesting</em> content.  As a customer, I probably would have picked the same thing. :-)</p>
<p><strong>However, after much thought, I've decided that the first product <em>won't</em> be a full book!</strong></p>
<h2>The first product will be a package of texts...</h2>
<p><em>...and let me tell you why.</em></p>
<p>I've estimated that we'll need to raise $2,900 (10,000 PLN) in the presale to allow us to produce a high-quality package of texts. This includes: money to survive while we create it, freelancers to help us (editor, translator), and new audio equipment.</p>
<p><strong>In order to create a full book product, we'd need at least 4x that!</strong></p>
<p>Based on the survey responses and the size of our audience, I'm pretty confident that we could raise $2,900. I'm not so sure we could raise enough for the full book - especially, when we're just starting out!</p>
<p>After we've created one or two successful packages and people have had the chance to try them and see how awesome they are, I think it will be a lot easier to take on such an ambitious project.</p>
<p><strong>I promise you that we will create a full book product as soon as I think we are able! That is a product that I <em>really</em> want to bring into existence.</strong></p>
<h2>More product details</h2>
<p><strong>In the last article, I said that it would be a collection of texts on a specific topic for a specific level and that there would be enough content to keep the average learner busy for a month.</strong></p>
<p>Here are some more details:</p>
<ul>
<li>It will contain around <strong>15,000 words</strong> total</li>
<li>There will be <strong>two audio recordings for every text,</strong> one at natural speed and the other a little slower - totaling about <strong>3 hours of audio</strong></li>
<li>You will be able to <strong>download the audio in MP3 format</strong> to listen to on your mobile devices</li>
<li>Every translation will be marked with the meaning used in the given context <em>(we don't usually do this for our free content)</em></li>
<li>There will be audio for each individual word - not just the whole text <em>(also something not present in the free content)</em></li>
</ul>
<p><strong>Now, we need YOUR help deciding what the topic and level for the first package should be!</strong></p>
<h2>Topic and level</h2>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/politics.jpg" rel="lightbox"><img alt="Hilary Clinton giving a speech" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/politics.jpg" title="Photo by Keith Kissel"/></a><div class="caption"><a href="http://www.flickr.com/photos/74419347@N00/2464869976">Photo</a> by <a href="http://www.flickr.com/photos/kakissel/">Keith Kissel</a></div></div>
<p><strong>Each package will help you to achieve a specific goal and will be for learners at a specific level of language ability.</strong></p>
<p>For example:</p>
<ul>
<li><em>"American Politics for Advanced Learners"</em> would allow you to argue about politics with real Americans.</li>
<li><em>"Daily Routine for Beginners"</em> would allow you to describe your daily routine.</li>
</ul>
<p>The texts don't have to be just <em>articles.</em> They could also include stories, dialogs, or videos. For higher levels, these could even be real conversations with native speakers - simply transcribed.</p>
<p>I've been thinking about level, and I think it makes sense for the first package to be for at least intermediate and maybe even upper intermediate or advanced.  Let me tell you why:</p>
<ul>
<li><strong>Beginners will one day be at a higher level, but higher level learners will never again be beginners.</strong> An advanced learner has no reason to buy a beginner product. But a beginner will one day be able to use a more advanced product.</li>
<li><strong>Bibliobird allows you to understand content above your level.</strong> <a href="http://www.fltr.ucl.ac.be/fltr/germ/etan/bibs/vocab/cup.html">Studies show</a> that you need to know 95% of the words in a text in order to understand it. Bibliobird allows you to understand content even when you don't know many more words!</li>
</ul>
<p><strong><em>But we need YOUR help deciding what the exact topic and level of the first package should be!</em></strong></p>
<p>I thought about doing another survey, but I decided that the comments would be better since everyone needs to see everyone else's ideas in order to decide.</p>
<p><strong>Please write a comment below telling me (1) your ideas for the topic of the first package and (2) what level it should be for!  If you like someone else's idea, please write a short comment saying you like it!</strong>
<h2>The price</h2>
</p><p>I've decided to offer the packages in two seperate versions: <strong>Basic</strong> and <strong>Motivated Learner</strong>.</p>
<p>The <strong>"Basic" package</strong> will only include the texts and audio as I described in the <em>"More product details"</em> section above.  This will be available for $9.95 or 35 PLN.  This is less than I proposed in the last article.</p>
<p>With the <strong>"Motivated Learner" package</strong> you will additionally get:</p>
<ul>
<li><strong>Permanent access to a private forum where you can discuss the package</strong> with us and other people who also bought it. Here you can ask any language related questions or practice using what you've learned!</li>
<li><strong>Exercises to go along with each text.</strong> You can submit your answers and we will correct them.</li>
<li><strong>For <em>four weeks</em> after purchasing the package you will also get access to weekly 1-hour meetings via voice chat,</strong> where everyone will be able ask <em>at least</em> one question. If not everyone gets a chance to ask their question, of course, we'll go over 1 hour.  And if it goes faster, you can ask multiple questions.  If necessary, we'll do more than one a week to accommodate everyone's schedules.</li>
</ul>
<p>It's our hope that the added benefits of the "Motivated Learner" package will help the people who bought it stay motivated and actually complete the package without giving up!</p>
<p>Normally, this package will cost $14.95 or 49 PLN - but during the presale we will be selling it for $9.95 or 35 PLN.</p>
<h2>The presale</h2>
<p>I've decided to conduct the presale on <a href="http://polakpotrafi.pl/">PolakPotrafi.pl</a>, a Polish crowdfunding website.  This provides <em>much</em> more convenient payment options (like bank transfer) for Poles, who make up the vast majority of my audience and will get the most out of this presale.</p>
<p>Non-Poles will be able to contribute via MoneyBookers.com, an online payment service similar to PayPal but more popular in Europe. Sorry that US-centric services like PayPal won't be available. Collecting online payments internationally still isn't an easy problem to solve!</p>
<p><strong>One of the main advantages to using a crowdfunding website is that they keep the money until the goal is reached. If the goal isn't reached, they'll refund you the money.</strong></p>
<h2>Guarantee</h2>
<p>On the survey several people asked about a guarantee.</p>
<p>Once the product is finished and available for sale, it will have a money-back guarantee of some kind. However, during the presale, we won't be able to provide a guarantee.</p>
<p>We will need to spend your money in order to create the product in the first place, so we can't refund it. This is a risk you will have to take in order to get the special reduced price. Sorry!</p>
<h2>What do you think?</h2>
<p>We're a lot closer to what the product will be, but there are still many things we need YOUR help deciding!</p>
<p><strong>In the comments please let us know:</strong></p>
<ul>
<li>What you think should be the topic of the first package of texts?</li>
<li>What level should the first package be for?</li>
</ul>
<p><strong>Please write a comment below!</strong></p>
</div>

<div id="comments">
<a id="comment-2442"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/ae995fa03b218e7c27a608b5f14e68ae?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Where do I sign up?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/173/2442">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Łukasz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/results-of-the-survey-the-winner-is-very-surprising#comment-2442">Saturday, June 16, 2012 - 11:27</a></span>
</div>
</div>
<div class="indented"><a id="comment-2443"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Heh, no where yet! Once we decide what the topic of the first package will be, I'll create the page on PolakPotrafi.pl. :-) Do you have any topic suggestions?</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/173/2443">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/results-of-the-survey-the-winner-is-very-surprising#comment-2443">Saturday, June 16, 2012 - 11:29</a></span>
</div>
</div>
<div class="indented"><a id="comment-2444"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/ae995fa03b218e7c27a608b5f14e68ae?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Not really, as English is not a language I'm learning.</p>
<p>What I hope for is that you get successful enough you will expand to other languages.</p>
<p>Cheers</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/173/2444">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Łukasz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/results-of-the-survey-the-winner-is-very-surprising#comment-2444">Saturday, June 16, 2012 - 11:39</a></span>
</div>
</div>
</div></div><a id="comment-2448"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/40c30a404af639d3ff9e710f37ba6eac?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Any plans of introducing additional languages (Spanish) in the future? I'd be very interested...</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/173/2448">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">BishKopt (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/results-of-the-survey-the-winner-is-very-surprising#comment-2448">Saturday, June 16, 2012 - 13:40</a></span>
</div>
</div>
<div class="indented"><a id="comment-2470"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Yes, absolutely! And Spanish is relatively high on the list as it's popular both in the USA and in Poland.</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/173/2470">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/results-of-the-survey-the-winner-is-very-surprising#comment-2470">Sunday, June 17, 2012 - 07:32</a></span>
</div>
</div>
</div><a id="comment-2455"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.learnaforeignlanguagenow.com/learn-english-foreign-language/results-of-the-survey-the-winner-is-very-surprising-linguatrek.html" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] learning English. However, we'll also be selling access to every future … …   More: Results of the survey! (the winner is very surprising) | LinguaTrek     ← Secrets To Learning Russian – Learning Foreign Languages Livemocha – What [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/173/2455">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.learnaforeignlanguagenow.com/learn-english-foreign-language/results-of-the-survey-the-winner-is-very-surprising-linguatrek.html" rel="nofollow">Results of the survey! (the winner is very surprising) | Lin</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/results-of-the-survey-the-winner-is-very-surprising#comment-2455">Saturday, June 16, 2012 - 18:51</a></span>
</div>
</div>
<a id="comment-2475"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/85bc1dd69a100849e12e9d81b5fe6383?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Any topic for Advanced Learners.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/173/2475">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">zastanawiacz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/results-of-the-survey-the-winner-is-very-surprising#comment-2475">Sunday, June 17, 2012 - 13:23</a></span>
</div>
</div>
<div class="indented"><a id="comment-2494"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/173/2494">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/results-of-the-survey-the-winner-is-very-surprising#comment-2494">Tuesday, June 19, 2012 - 11:49</a></span>
</div>
</div>
</div><a id="comment-2477"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://howlearnspanish.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/378451a8d6aab6e56c0caa50495bd976?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<blockquote><p>"American Politics for Advanced Learners" would allow you to argue about politics with real Americans.</p></blockquote>
<p>God help us (Americans).  Haha.</p>
<p>I'm not sure I want this to be one of the first things about the U.S. that you teach them, we'd rather not come off as stupid right off the bat, you know? :D</p>
<p>Anyway, I think making the significantly less expensive product first in order to get some cashflow going was exactly the right choice, I had to do something very similar a while back and definitely think I did the right thing: start small, baby steps...baby steps.</p>
<p>Cheers,<br/>
Andrew</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/173/2477">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://howlearnspanish.com" rel="nofollow">Andrew</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/results-of-the-survey-the-winner-is-very-surprising#comment-2477">Sunday, June 17, 2012 - 13:48</a></span>
</div>
</div>
<div class="indented"><a id="comment-2495"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hehe, I see your point. :-)</p>
<p>My logic was that Poles really like to argue politics, for which there is very specific language and vocabulary. Personally, I lack a lot of that vocabulary in Polish which makes participating in those (frequent!) arguments difficult. I figured the reverse might be true for Poles who seem to enjoy those arguments.</p>
<p>But that idea isn't resonating anyway.</p>
<p>Yes, baby steps! Thanks for the advice. :-)</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/173/2495">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/results-of-the-survey-the-winner-is-very-surprising#comment-2495">Tuesday, June 19, 2012 - 11:53</a></span>
</div>
</div>
<div class="indented"><a id="comment-2513"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://howlearnspanish.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/378451a8d6aab6e56c0caa50495bd976?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Huh, that's very interesting, I did not know that about Poles--specialized vocabulary and everything eh?  Interesting.</p>
<p>Cheers,<br/>
Andrew</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/173/2513">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://howlearnspanish.com" rel="nofollow">Andrew</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/results-of-the-survey-the-winner-is-very-surprising#comment-2513">Tuesday, June 19, 2012 - 19:38</a></span>
</div>
</div>
</div></div><a id="comment-2478"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/1e9f95f97bbf40198fa28a8ce0acede0?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi, I am a swede trying to learn polish. I am quite tired, so I am not sure I got this right. There won't be a product for learning polish with english as a base, am I correct? Or at least not for now, right?</p>
<p>Anyway I think the product sounds interesting with a good focus on making the method motivating itself, which is something I miss in my own methods ;) Regarding the topics it is hard to say. Personally I think an interest for a language often means an interest for its culture. For me politics, the society and cultural differences are all super interesting topics.</p>
<p>Best regards, Arne</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/173/2478">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Arne Ingemansson (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/results-of-the-survey-the-winner-is-very-surprising#comment-2478">Sunday, June 17, 2012 - 14:53</a></span>
</div>
</div>
<div class="indented"><a id="comment-2496"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Arne!</p>
<p>For the first product, no there won't be a version for English speakers wanting to learn Polish. But I'd really love to make such a product! It's high on my list of things to do next.</p>
<p>Thanks for the topic suggestions!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/173/2496">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/results-of-the-survey-the-winner-is-very-surprising#comment-2496">Tuesday, June 19, 2012 - 11:54</a></span>
</div>
</div>
</div><a id="comment-2479"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9e1c3a3a43825039f589d7b30074eda1?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Poziom:</p>
<p> Jak najbardziej jestem za tym, że materiał powinien być przygotowany pod kątem wyższego poziomu (intermediate, upper intermediate).</p>
<p>Treść:<br/>
(zaznaczam, że mój poziom nie jest wysoki)</p>
<p>Osobiście chciałbym, żeby teksty dotyczyły zwyczajnych, codziennych spraw. Teksty, które zawierają jak najwięcej wyrażeń i zwrotów (nie tylko tych podstawowych) używanych powszechnie podczas rozmowy z drugą osobą.</p>
<p>Przykłady:<br/>
1. W domu<br/>
a) meblowanie pokoju<br/>
b) zakup nowej lodówki<br/>
c) wizyta sąsiadów<br/>
etc.<br/>
2. W pracy<br/>
a) rozmowa ze współpracownikiem (o pracy)<br/>
b) rozmowa z szefem (o pracy)<br/>
c) załatwianie urlopu<br/>
etc.<br/>
3. W urzędzie,  etc.</p>
<p>Wiem, że to tematy podobne do tych z podręczników do angielskiego ale teksty w nich są sztuczne i zawierają mało przydatnych zwrotów (bardzo mało). Ja natomiast chciałbym mieć poczucie, że czytając taki tekst, czytam relację z autentycznych wydarzeń, że stoję obok i podsłuchuję rozmowy prawdziwych osób - czyli nativ speaker'ów rozmawiających o zwykłych sprawach.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/173/2479">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Andrzej (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/results-of-the-survey-the-winner-is-very-surprising#comment-2479">Sunday, June 17, 2012 - 17:43</a></span>
</div>
</div>
<div class="indented"><a id="comment-2483"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Może po prostu opowiedzieć pewną historię. Zwykle produkt, który mówi o pewnej (dobrej!) historii, odnosi sukces.</p>
<p>Przychodzi mi na myśli historia, że oto Polak (target produktu) dostał wizę do Stanów, zna już nieco angielski (poziom produktu) i musi rozpocząć życie zupełnie od nowa.<br/>
I tak jak napisałeś, musi urządzić mieszkanie, pozałatwiać sprawy w urzędach, kupić tę lodówkę, znaleźć pracę, etc.<br/>
Według mnie to ma sens, jest spójne, prawdziwe i pozwala na ogromną elastyczność.</p>
<p>Nie jest to zestaw niepowiązanych ze sobą historii, ale coś co z mojego punktu widzenia jest atrakcyjne dla wielu Polaków.</p>
<p>Co więcej, taką historię można później wykorzystać jako bazę dla Hiszpanów uczących się angielskiego.</p>
<p>Jedynie wrzucam pomysł, według mnie bardzo dobry, ale to Ty musisz zdecydować.</p>
<p>Nie sądzę by Polacy w ogóle garnęli się do zakupu czegoś o polityce. W Polsce postawa obywatelska jest bardzo słaba i media od 20 lat wmawiają im, że „polityka to bagno”. Zresztą produkt o polityce w pewnym sensie będzie przedstawiał Twój światopogląd, a ponieważ istnieje silna polaryzacja demokraci-republikanie, masz szansę stracić 50% targetu.</p>
<p>Co do akcentu, to dziwię się osobom, które piszą „nie interesuje mnie akcent amerykański”. Jest to totalnie bez sensu. Już wiele powiedziano, że w dzisiejszym świecie akcent nie ma znaczenia, ponieważ native speakerzy w porównaniu z resztą świata, która uczy się ich języka to zdecydowanie mniejsza część. Ważne jest by być zrozumiałym i żeby twój akcent był miły w odbiorze i nie powodował u adwersarza zakłopotania.</p>
<p>Ja co prawda wybrałem brytyjski, ale nie pogardzam amerykańskim i co więcej – jest on dla mnie bardziej zrozumiały kiedy mówca mówi szybko.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/173/2483">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/results-of-the-survey-the-winner-is-very-surprising#comment-2483">Monday, June 18, 2012 - 11:29</a></span>
</div>
</div>
<div class="indented"><a id="comment-2484"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Jeszcze jedno. Wstępem do historii może być coś takiego:</p>
<p>„po długim oczekiwaniu [bez podawania daty] Polacy w końcu dostali możliwość wyjazdu do Stanów bez wizy. Trudna sytuacja gospodarcza Polski sprawiła, że ludzie zaczęli tracili pracę. Jedną z takich osób był Jan Kowalski [polski John Smith], który nie zawahał się ani na chwilę. Postanowił poszukać szczęścia zza wielką wodą.”</p>
<p>Zrób coś, co jest Polakom bliskie. Słyszałeś o tzw. personach? (nie wiem jak to się tłumaczy). Taką personą? może być ten przysłowiowy Jan Kowalski. Osoba w średnim wieku, która nagle traci pracę. Ponieważ jest poziom języka angielskiego jest wystarczający (poziom produktu!), wylatuje do Stanów. Do dziś USA jest dla wielu Polaków synonimem dobrobytu, ale który jest wciąż niedostępny. Stąd ten motyw, że nie trzeba już wizy.</p>
<p>Ponieważ dla mnie osobiście jesteś w pewnym sensie „ambasadorem” – osobą, która poprzez swoje wpisy buduje pozytywny wizerunek Polaka, masz szansę to wykorzystać. A ponieważ każdy lubi być chwalony, to historia Polaka, który zmaga się z codziennymi problemami i rozpoczyna nowe życie, wydaje się na prawdę fascynująca.</p>
<p>To tyle. Jak mi coś jeszcze przyjdzie do głowy, dam znać.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/173/2484">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/results-of-the-survey-the-winner-is-very-surprising#comment-2484">Monday, June 18, 2012 - 11:40</a></span>
</div>
</div>
<div class="indented"><a id="comment-2485"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>;)</p>
<p>Nie wiem czy słyszałeś, ale w pewnym momencie rząd Stanów Zjednoczonych by zbudować pozytywny wizerunek czarnoskórych, których rodziny były na prawdę wielodzietne, przeprowadził akcję społeczną. Jednym z przykładów było stworzenie serialu telewizyjnego „Bill Cosby Show”. Celem było przedstawienie wielodzietnej rodziny murzynów w pozytywnym świetle.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/173/2485">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/results-of-the-survey-the-winner-is-very-surprising#comment-2485">Monday, June 18, 2012 - 11:46</a></span>
</div>
</div>
<a id="comment-2499"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześc Wojtek!</p>
<p>Dziękuję za bardzo interesujący pomysł! Na pewno powinno być kilka historyjek w pakiecie i jest to bardzo dobry wstęp. :-) Będę o tym dalej myślał.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/173/2499">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/results-of-the-survey-the-winner-is-very-surprising#comment-2499">Tuesday, June 19, 2012 - 11:59</a></span>
</div>
</div>
</div></div><a id="comment-2498"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Andrzej!</p>
<p>Dziękuję bardzo za pomysły. :-) Na pewno będzie kilka prawdziwych rozmów z native speakerami.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/173/2498">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/results-of-the-survey-the-winner-is-very-surprising#comment-2498">Tuesday, June 19, 2012 - 11:55</a></span>
</div>
</div>
</div><a id="comment-2532"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/06/the-topic-of-our-paid-product-the-presale-starts-in-a-couple-days" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] Last week I told the results of the survey and asked for ideas for the topic of the product. [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/173/2532">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/06/the-topic-of-our-paid-product-the-presale-starts-in-a-couple-days" rel="nofollow">The topic of our paid product (the presale starts in a coupl</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/results-of-the-survey-the-winner-is-very-surprising#comment-2532">Friday, June 22, 2012 - 10:15</a></span>
</div>
</div>
<a id="comment-2609"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/06/presale-at-94-more-opportunities-to-become-a-founding-member" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] ran a survey a couple weeks ago and I came to the conclusion that the package itself, "Real Life in the USA," [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/173/2609">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/06/presale-at-94-more-opportunities-to-become-a-founding-member" rel="nofollow">Presale at 94%! More opportunities to become a founding memb</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/results-of-the-survey-the-winner-is-very-surprising#comment-2609">Thursday, June 28, 2012 - 09:05</a></span>
</div>
</div>
</div>
