---
permalink: /blog/2012/06/the-topic-of-our-paid-product-the-presale-starts-in-a-couple-days/
layout: blog-old
title: 'The topic of our paid product (the presale starts in a couple days!)'
day: 22
month: Jun
year: 2012
category: personal
tags: 
  - 'BiblioBird'
  - 'PolakPotrafi.pl'
language: en
translation: /blog/2012/06/temat-naszego-p%C5%82atnego-produktu-przedsprzeda%C5%BC-zacznie-si%C4%99-za-par%C4%99-dni/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/reallife_1.png" rel="lightbox"><img alt="American flag, Bibliobird logo and text 'Real Life in the USA'" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/reallife_1.png" title=""/></a></div>
<p><a href="http://www.linguatrek.com/blog/2012/06/finally-our-full-product-idea-i-need-your-help-with-the-price">Two weeks ago</a> I told you about our idea for a paid language learning product. There was a survey about the price and format for this product. A few hundred people filled out the form - thanks so much!</p>
<p><a href="http://www.linguatrek.com/blog/2012/06/results-of-the-survey-the-winner-is-very-surprising">Last week</a> I told the results of the survey and asked for ideas for the topic of the product.</p>
<p>Today I'm just going to give you a short note with the topic we decided on and let you know that the presale is going to start on <strong>Monday, June 25th!</strong> The topic is going to be <strong>"Real Life in the USA"</strong>:</p>
<ul>
<li>There will be texts (and films with transcripts!) about many aspects of life in the USA, for example: work, fun and sport, and other daily activities.</li>
<li>There will be normal articles as well as stories and dialogs!</li>
<li>Some of the materials will be taken directly from real conversations with native speakers.</li>
<li>We'll also talk about immigration, stereotypes and music.</li>
</ul>
<p><strong>Everything will be <strong>in English</strong>, with <strong>native speakers</strong> and prepared to be read, watched and listened to <strong>on <a href="http://www.bibliobird.com">Bibliobird</a>!</strong></strong></p>
<p>I will publish more information on Monday!  <em>Thanks in advance for your support!</em></p>
</div>

<div id="comments">
<a id="comment-2542"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://howlearnspanish.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/378451a8d6aab6e56c0caa50495bd976?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Congratulations, David!  That's fantastic, keep us updated on how things go, at this point I'm honestly really, really curious to see how this is going to work out.  Plus, I would love to see someone else "break free from the bonds of employment" and go off to work for themselves--there's a very special sort of freedom in that, believe me.  It takes massive amounts of hard work and toil and suffering and dealing with setbacks and such, but it's worth it, it really is worth it.  Good luck to you, my friend.</p>
<p>Cheers,<br/>
Andrew</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/177/2542">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://howlearnspanish.com" rel="nofollow">Andrew</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/the-topic-of-our-paid-product-the-presale-starts-in-a-couple-days#comment-2542">Sunday, June 24, 2012 - 22:03</a></span>
</div>
</div>
<div class="indented"><a id="comment-2562"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Andrew,</p>
<p>Thanks for the kind wishes! We'll see how it goes. So far the start has been choppy as I'm still waiting on the PolakPotraf.pl people to actually activate my project. :-/ But it's only the very beginning! :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/177/2562">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/the-topic-of-our-paid-product-the-presale-starts-in-a-couple-days#comment-2562">Monday, June 25, 2012 - 11:49</a></span>
</div>
</div>
</div><a id="comment-2580"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/89b19fb7856f5cc4ea25af2907687be3?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi David,</p>
<p>Will the texts be in English (for Polish native speakers) or in Polish (for English native speakers?)</p>
<p>Thanks<br/>
Tim</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/177/2580">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Tim (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/the-topic-of-our-paid-product-the-presale-starts-in-a-couple-days#comment-2580">Tuesday, June 26, 2012 - 09:35</a></span>
</div>
</div>
<div class="indented"><a id="comment-2581"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Tim!</p>
<p>This first product will have texts in English for Polish native speakers. But there will definitely be a product to help English speakers learn Polish in the future! :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/177/2581">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/the-topic-of-our-paid-product-the-presale-starts-in-a-couple-days#comment-2581">Tuesday, June 26, 2012 - 09:38</a></span>
</div>
</div>
</div><a id="comment-2966"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/09/in-the-news-a-review-of-my-ebook-an-interview-the-hardest-languages-and-polyglotlinkcom" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] campaign we did on PolakPotrafi.pl (like KickStarter.com in Poland) in order to presell our first paid product for Bibliobird was "one of the most spectacular successes in Polish [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/177/2966">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/09/in-the-news-a-review-of-my-ebook-an-interview-the-hardest-languages-and-polyglotlinkcom" rel="nofollow">In the news: A review of my ebook, an interview, the hardest</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/the-topic-of-our-paid-product-the-presale-starts-in-a-couple-days#comment-2966">Tuesday, September 4, 2012 - 10:53</a></span>
</div>
</div>
<a id="comment-3140"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3a7129a232f7ab71575c70d9835a696e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Condivido del tutto insieme le idee espresse fino ad ora. Andate avanti in questo modo.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/177/3140">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">TeewameGuaddy (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/the-topic-of-our-paid-product-the-presale-starts-in-a-couple-days#comment-3140">Tuesday, October 30, 2012 - 04:58</a></span>
</div>
</div>
</div>
