---
permalink: /blog/2012/06/traces-of-poland-in-american-movies/
layout: blog-old
title: 'Traces of Poland in American movies'
day: 19
month: Jun
year: 2012
category: Poland
tags: 
  - 'movies'
language: en
translation: /blog/2012/06/%C5%9Bladem-polskich-akcent%C3%B3w-w-filmach-ameryka%C5%84skich/
---
<div class="content">
<p><em>Today we have an interesting article from Marcin at <a href="http://www.sprachcaffe.com/english/main.htm">sprachcaffe.com</a>, which offers language courses and camps abroad. It's a mix of tourism and language learning. :-)</em></p>
<p><em>(Note #1: I don't receive any kind of payment for publishing this article or the links to their page - I only received this awesome article!)</em></p>
<p><em>(Note #2: I translated this article from the <a href="http://www.linguatrek.com/blog/2012/06/%C5%9Bladem-polskich-akcent%C3%B3w-w-filmach-ameryka%C5%84skich">original Polish version</a>.)</em></p>
<hr/>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/default/files/imagecache/Large/image/2012/06/manwithvideocamera.jpg" rel="lightbox"><img alt="Man with video camera" src="http://www.linguatrek.com/sites/default/files/imagecache/Small/image/2012/06/manwithvideocamera.jpg" title="Photo by woodleywonderworks"/></a><div class="caption"><a href="http://www.flickr.com/photos/73645804@N00/3994475649">Photo</a> by <a href="http://www.flickr.com/photos/wwworks/">woodleywonderworks</a></div></div>
<p>We all know that watching films in English helps us learn the language. We also know the surprise that comes with seeing traces of Poland in them!</p>
<p>Any reference to Poland in American films usually suprises Poles... postively or negatively. Here is a quick overview of Polish references found in American films.</p>
<p><strong>Read more to find out about them!</strong></p>
<h2>Posters</h2>
<a href="http://img7.imagebanana.com/img/a87qlisy/rfflJv.jpg"><img align="right" border="0" height="153" src="http://img7.imagebanana.com/img/a87qlisy/rfflJv.jpg" style="margin: 10px" width="160"/></a>
<p>A very visible Polish reference - although, in the background - can be found in various scenes of "Beginners." The apartment of the main character, played by Ewan McGregor, is decorated with several Polish posters.</p>
<p>Where did the character's love of Polish poster art come from? Privately the director, <a href="http://www.imdb.com/name/nm0590122/">Mike Mills</a>, is a graphic designer and lover of the old Polish poster.</p>
<p>It's a nod to the Polish poster makers and their works which are visible in the film: "Siedem razy kobieta" by Andrzej Krajewski and "Wielka majówka" by Maria Ihnatowicz, which decorate the walls of the character's stylish apartment.</p>
<p><em>If you ever find yourself in New York, you must take a look at PHILIP WILLIAMS POSTERS, the biggest museum of posters in the world, located in Manhattan.</em></p>
<h2>Music</h2>
<p>Do you remember the movie "City of Angels" with Nicolas Cage and Meg Ryan? When the main character, Seth, an angel, falls to Earth by jumping from a sky scraper in Los Angeles, in the background you can hear music and the Polish prayer "Zdrowaś Maryjo." It's not just a prayer but an entire composition, created by the Polish composer and film score creator, Wojciech Kilar.</p>
<p><em>If thanks to this movie you like the city of angels, you should think about an English course in Los Angeles and find your own angel!</em></p>
<p>Also in the thriller "Stormy Monday" you can find Polish references. The owner of the jazz club, played by Sting, introduces the Polish band <em>Cracow Ensemble</em> as "the Pope's favorite band."</p>
<h2>Food</h2>
<p>After art and music it's time for Polish food. This is one of the most commonly repeating motifs (besides swear words and the phrase "Na zdrowie!") in many movies and shows all around the world.</p>
<p>The characters in "ER" eat hot dogs and Polish kielbasa on their breaks. "The Men in Black" order pierogi in a bar and "The Sopranos" - despite their love for their own Italian food - have Polish kiełbasa in the supermarket.</p>
<p>So if you're visiting the USA and you miss Polish food, in every big city you can certainly find Polish stores offering native delicacies which are also popular among Americans. <em>(From David: that's true even in our small city, Milwaukee.)</em></p>
<h2>Names and the national symbols</h2>
<a href="http://img7.imagebanana.com/img/spfj0j7g/KcZBNr.jpg"><img align="right" border="0" height="160" src="http://img7.imagebanana.com/img/spfj0j7g/KcZBNr.jpg" style="margin: 10px" width="159"/></a>
<p>In connection with the Euro 2012, it's time to talk about Polish national symbols. In the comedy "The Break-up" with <a href="http://www.imdb.com/name/nm0000098/">Jennifer Aniston</a> and <a href="http://www.imdb.com/name/nm0000681/">Vince Vaughn</a>, the main character is of Polish descent and has a Polish last name - Grobowski - and wears t-shirts with the Polish emblem and colors - one with the coat of arms and the other with the words "Polish and proud."</p>
<p>Also, Wiktor Nawarski, the name of the main character in "Terminal", played by Tom Hanks, sounds Polish. The country he's from is fictional, however it sounds very familar: <em>Krakozja</em>.</p>
<p>The character is presented as an exceptional, unselfish man as opposed to the citizens of the USA, which a beautiful American woman recognizes. Scenes for the movie where shot in Los Angeles, Montreal and New York.</p>
<p><em>If you want to feel the climate of the film, choose an <a href="http://www.sprachcaffe.com/polski/kursy_angielskiego/usa.htm">English course in the USA</a> and get to know the biggest airport terminals in the world, just like Tom Hanks.</em></p>
<p><strong>These are only a <em>few of the hundreds</em> of examples of Polish motifs in American films. It's also important to note that these expressions of Polishness are usually presented positively, which breaks stereotypes and provides a pleasant surprise.</strong></p>
<p><strong>What do you think about these examples? Do you know any more? Please write a comment!</strong></p>
</div>

<div id="comments">
<a id="comment-2540"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/0cd69db5fca81bceac3045760b92be01?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hello David, I thin there would be so many examples that go unnoticed and the people don't pay atention.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/176/2540">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Nicole (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/traces-of-poland-in-american-movies#comment-2540">Saturday, June 23, 2012 - 17:26</a></span>
</div>
</div>
<a id="comment-2541"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/02c41775fa4b426e0c2fe2ff6512021b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Ciekawy artykul. Calkiem niedawno mialam przyjemnosc ogladania "Beginners" i musze przyznac ze bardzo zdziwily mnie polskie plakaty w tym flmie. Fajnie, ze ktos to wyjasnil. Pozdrawiam!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/176/2541">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Monika (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/traces-of-poland-in-american-movies#comment-2541">Saturday, June 23, 2012 - 19:09</a></span>
</div>
</div>
</div>
