---
permalink: /blog/2012/06/w-nauce-języka-obcego-najważniejszy-jest-czas/
layout: blog-old
title: 'W nauce języka obcego najważniejszy jest czas!'
day: 12
month: Jun
year: 2012
category: language learning
tags: 
  - 'time'
language: en
translation: /blog/2012/06/w-nauce-j%C4%99zyka-obcego-najwa%C5%BCniejszy-jest-czas/
---
<div class="content">
<p><em>Dzisiaj mam zaszczyt opublikować wpis gościnny od Wojtka Ryrycha. Jest czytelnikiem mojego blogu od dawna i często pisze komentarze. Kilka tygodni temu opublikowałem <a href="http://www.linguatrek.com/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-wspania%C5%82e-materia%C5%82y-dla-ucz%C4%85cych-si%C4%99-angielskiego">artykuł</a> na podstawie emaila od Wojtka o wspaniałych dwujęzycznych uproszczonych powieściach, które właśnie kupił.</em></p>
<p><em>Wojtek jest web developerem i designerem. Możesz odwiedzić jego stronę <a href="http://ryrych.pl">ryrych.pl</a>, która nadal jest w budowie ale ma nadzieję, że wkrótce coś się tam
pojawi. Tak jak w przysłowiu: "szewc chodzi bez butów". :-)</em></p>
<hr/>
<div class="diag align-right" style="float: right; width: 107px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/superman.jpg" rel="lightbox"><img alt="Mężczyzna ubrany jak Superman" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/superman.jpg" title="Zdjęcie autorstwa Thomas Hawk"/></a><div class="caption"><a href="http://www.flickr.com/photos/51035555243@N01/6849283819">Zdjęcie</a> autorstwa <a href="http://www.flickr.com/photos/thomashawk/">Thomas Hawk</a></div></div>
<p>W tym krótkim artykule chciałbym podzielić się z Wami pewną wiedzą i truizmem, z którego pewnie wielu z Was nie zdawało sobie sprawy. Podzielę się z Wami pewną prawdą.</p>
<p>Oto ona:</p>
<p><blockquote>By osiągnąć sukces, musisz ćwiczyć.</blockquote></p>
<p><em>Bardzo dużo ćwiczyć.</em> Niektórzy mówią, że musisz poświęcić 10 000 godzin.</p>
<p><em>Czy to prawda?</em> <strong>Czytaj dalej!</strong></p>
<h2>Co? Mam spędzić 10 lat na naukę?!</h2>
<p>10 000 godzin to bardzo dużo. To 3 godziny dziennie przez 10 lat.</p>
<p>Zasada 10 tysięcy godzin, nazwijmy ją, „od zera do bohatera”, została m. in. opisana w książce „Outliers” Malcolma Gladwella. Zasada ta to nic innego jak umieszczenie starego jak świat powiedzenia „praktyka czyni mistrza” w ramy czasowe.</p>
<p>Tym czym różni się ekspert od amatora, to właśnie czasem, który poświęcił w poznanie swojej dziedziny. Właściwie dziedzina nie ma tu znaczenia. I każdy może osiągnąć sukces! Nawet Ty.</p>
<p>Jednak od czasu nie ma ucieczki. Nie ma żadnego skrótu. Nie ma czegoś takiego jak „3 miesiące do biegłości” – przynajmniej nie od zera.</p>
<p>Ale mam dla Was dobrą wiadomość. 80% wymarzonego celu możesz osiągnąć szybciej niż myślisz.</p>
<h2>Zasada Pareto</h2>
<p>80/20 – zapamiętajcie sobie dobrze tę zasadę! Z pewnością przyda się Wam w wielu dziedzinach życia.</p>
<p>Nie wchodząc w szczegóły, zasada Pareto mówi, że 80% celu możemy osiągnąć przy pomocy 20% wysiłku. Klasycznym przykładem jest handel – 20% naszych klientów zapewnia nam 80% całego zysku. <em>Proste?</em> Proste! A jakże prawdziwe!</p>
<p>W naszym przypadku sprawa robi się interesująca. 80% biegłości językowej możemy osiągnąć w nie 10 tysięcy godzin, lecz, co wydaje się każdemu osiągalne – w 2-3 lata, w zależności ile czasu poświęcimy dziennie.</p>
<p><em>Chcecie dowód?</em> Proszę bardzo! David Snopek. :)</p>
<h2>Zaraz, zaraz, ja się uczę już 10 lat i nadal nic nie umiem!</h2>
<p>Mała uwaga. Czas to tylko jeden czynnik do sukcesu. Jest jeszcze co najmniej <a href="http://www.linguatrek.com/blog/2011/03/the-three-ingredients-for-successful-language-learning">motywacja czy odpowiednia metoda</a>. Ale o tym traktuje <a href="http://www.linguatrek.com/blog/2012/04/natural-language-learning-without-a-teacher">ebook David</a>. Przeczytaj go, bo warto.</p>
<h2>Poddałem się po 2 tygodniach!</h2>
<p>Jest jeszcze jedna rzecz, o której powinniście wiedzieć. Musicie wiedzieć jak zacząć. Jeżeli dopiero zaczynasz i postanowiłeś poświęcić 2-3 godziny dziennie na naukę nowej umiejętności, nie tylko języka, to wiedz że na 90% poddasz się w krótkim czasie.</p>
<p><strong>To naturalne i sam wiele razy przez to przechodziłem. Mam jednak dla Ciebie rozwiązanie.</strong></p>
<h2>Polityka małych kroków</h2>
<p><strong>Mniejszych niż myślisz. :)</strong></p>
<p>To stara i sprawdzona metoda. Niezawodna. Stosowana przez mistrzów. Z tą zasadą wiąże się jeszcze jedna i jakże ważna cnota – cierpliwość.</p>
<p>Wiem, wiem, w czasach Internetu i Google trudno nam o cierpliwość. Sam się jej uczę. Cierpliwość pozwoli Ci nieco przystopować tempo, bo pokusa by sukces osiągnąć szybko, będzie duża.</p>
<p>Sprawa jest prosta. Także w przypadku języka. Ponieważ zaczynając od zera nie wytrzymasz 2 godzin dziennie (chyba, że masz już doświadczenie), poświęć pół godziny, albo 20 minut.</p>
<p>Wyznacz sobie cel. Te 2000 podstawowych słówek angielskich nauczę się nie w 3, a 6 miesięcy. Zajmie 8? Nie szkodzi! Później stopniowo możesz zwiększyć czas.</p>
<p>By osiągnąć sukces w życiu, zmiany musisz wprowadzać stopniowo. Wolniej niż teraz pomyślałeś. :)</p>
<h2>Hiper poligloci??</h2>
<p>To inna waga. To profesjonaliści. Jeżeli myślisz, że oni mają nadprzyrodzone umiejętności, to się mylisz. To, co ich odróżnia od zwykłych pasjonatów języków, to na prawdę ogromna ilość czasu, który na nie poświęcają. To jest ich całe życie a i sposób zarabiania pieniędzy.</p>
<p>Czy ja mógłbym się nauczyć 10 języków? Oczywiście! I Ty także! Ale tego nie zrobię, bo nie chcę.</p>
<p>Języki to nie jedyne moje zainteresowanie. Gdybym przestał się rozwijać jako web designer, web developer, przestał interesować się polityką, oraz porzucił inne zainteresowania i poświecił cały mój dzień na języki, mógłbym się stać jednym z nich!</p>
<p><strong>Każdy ma z nas wybór. Doba jest jedna. <em>To chodzi jedynie o czas.</em></strong></p>
<h2>Podsumowanie</h2>
<p>Wierzę, że nie zniechęciłem Was. Ba, wierzę że dodałem Wam nieco otuchy!</p>
<p>Bo każdy z nas może nauczyć się języka obcego, niezależnie od wieku. Każdy z nas może osiągnąć sukces. Sukces to praktyka i  wymaga czasu.</p>
<p>Nie pomyślałeś czasami, że warto odłożyć na bok ten serial, ten film wieczorem i zrobić coś, co przybliży Cię do sukcesu?</p>
<h2>O autorze</h2>
<div class="diag align-right" style="float: right; width: 85px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/wojtek-ryrych.png" rel="lightbox"><img alt="Photo of Wojtek" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/wojtek-ryrych.png" title=""/></a></div>
<p>Wojciech Ryrych jest samoukiem, który uwielbia się uczyć. Chociaż wciąż szlifuje angielski, bardzo chciałby nauczyć się co najmniej języka niemieckiego i rosyjskiego.</p>
<p>Dziś chciałby Wam powiedzieć: <em>czytajcie blogi językowe, bo nie warto wyważać otwartych drzwi!</em></p>
<p><strong>Co myślisz o artykule Wojtka? Czy z nim się zgadzasz? Jak ważny jest czas w Twoim nauce? Napisz komentarz poniżej!</strong></p>
</div>

<div id="comments">
<a id="comment-2388"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>„przeglądarka Google” aaa! Zmień to proszę, bo czuję się jak „Pani Krysia sekretarka”. :D</p>
<p>Dzięki za opublikowanie!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/172/2388">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/w-nauce-j%C4%99zyka-obcego-najwa%C5%BCniejszy-jest-czas#comment-2388">Tuesday, June 12, 2012 - 09:47</a></span>
</div>
</div>
<div class="indented"><a id="comment-2389"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hrm. Na co chcesz to zmienione? Może na "w czasach Internetu i przeglądarki Google'a?" (z "Google" na "Google'a")? Oprócz tego to dobrze mi wygląda... :-/</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/172/2389">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/w-nauce-j%C4%99zyka-obcego-najwa%C5%BCniejszy-jest-czas#comment-2389">Tuesday, June 12, 2012 - 09:53</a></span>
</div>
</div>
<div class="indented"><a id="comment-2391"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Miałem na myśli „wyszukiwarkę”, nie przeglądarkę. :) Możesz usunąć słowo „przeglądarki”. :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/172/2391">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/w-nauce-j%C4%99zyka-obcego-najwa%C5%BCniejszy-jest-czas#comment-2391">Tuesday, June 12, 2012 - 09:59</a></span>
</div>
</div>
<div class="indented"><a id="comment-2393"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Usunięto. :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/172/2393">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/w-nauce-j%C4%99zyka-obcego-najwa%C5%BCniejszy-jest-czas#comment-2393">Tuesday, June 12, 2012 - 10:04</a></span>
</div>
</div>
<div class="indented"><a id="comment-2402"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e02a93643472ceae05a9020f760cdcec?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Google wypuściło również swoją przeglądarkę, więc można uznać ten błąd jako celowy :D</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/172/2402">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">mkbest (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/w-nauce-j%C4%99zyka-obcego-najwa%C5%BCniejszy-jest-czas#comment-2402">Tuesday, June 12, 2012 - 18:14</a></span>
</div>
</div>
</div></div></div><a id="comment-2878"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/105ec4d55f7f7b95861f3176b30969b4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Nie zgadzam sie, ze kazdy moze nauczyc sie jezyka.<br/>
Skonczmy z ta demagogia.<br/>
Nie zapominajmy ze jest cos takiego jak predyspozycja. Jeden jest matematykiem, inny artysta.... nie nauczysz "drewnianego  ucha" muzyki.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/172/2878">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">greg jozefa (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/w-nauce-j%C4%99zyka-obcego-najwa%C5%BCniejszy-jest-czas#comment-2878">Wednesday, August 15, 2012 - 15:22</a></span>
</div>
</div>
<div class="indented"><a id="comment-2890"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Greg!</p>
<p>Jak się mówi po angielsku: "We're going to have to agree to disagree." :-)</p>
<p>Na pewno niektórzy mają predyspozycję do nauki języków. I dla nich ten proces jest łatwiejszy. Ale moim zdaniem każdy może nauczyć się języka do przyzwoitego poziomu.</p>
<p>To tak samo z innymi umiejętnościami. Wcale brakuje mi talentu wizualnego - ale gdybym chciał (niestety nie chcę) mógłbym nauczyć się jak rysować <em>dość dobrze.</em> Może lepszy przykład: nie mam talentu/predyspozycji do sportu ale uwielbiam grać w koszykówkę, świetnie bawię się przy tym, i razem z znajomymi (którzy również nie mają talentu) gram <em>dość dobrze.</em> ;-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/172/2890">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/w-nauce-j%C4%99zyka-obcego-najwa%C5%BCniejszy-jest-czas#comment-2890">Thursday, August 16, 2012 - 14:36</a></span>
</div>
</div>
</div></div><a id="comment-2390"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/866eee6d18fde213a58eda8e64588f41?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>no nie koniecznie bo jakby to powiedzieć jest coś w rodzaju talentu. niektórzy mają predyspozycję nauki języków a niektórzy jej nie mają. oczywiście każdy może się nauczyć języka ale to też zależy od człowieka</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/172/2390">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">z polski (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/w-nauce-j%C4%99zyka-obcego-najwa%C5%BCniejszy-jest-czas#comment-2390">Tuesday, June 12, 2012 - 09:58</a></span>
</div>
</div>
<div class="indented"><a id="comment-2392"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Tak, ale bardzo, BARDZO mało ludzi ma talent do języków. Większość osób, która nauczyła się języka obcego do poziomu płynności nie ma talentu do języków. Nawet większość hiper poliglotów brakuje tego talentu.</p>
<p>Już napisałem o tym kilka razy na moim blogu:</p>
<p><a href="http://www.linguatrek.com/blog/2011/03/you-dont-need-talent-to-learn-a-language" title="http://www.linguatrek.com/blog/2011/03/you-dont-need-talent-to-learn-a-language">http://www.linguatrek.com/blog/2011/03/you-dont-need-talent-to-learn-a-l...</a></p>
<p><a href="http://www.linguatrek.com/blog/2012/03/o-mnie-i-mojej-misji" title="http://www.linguatrek.com/blog/2012/03/o-mnie-i-mojej-misji">http://www.linguatrek.com/blog/2012/03/o-mnie-i-mojej-misji</a></p>
<p><a href="http://www.linguatrek.com/blog/2011/02/vlog-nie-trzeba-mie%C4%87-talentu-%C5%BCeby-nauczy%C4%87-si%C4%99-j%C4%99zyka" title="http://www.linguatrek.com/blog/2011/02/vlog-nie-trzeba-mie%C4%87-talentu-%C5%BCeby-nauczy%C4%87-si%C4%99-j%C4%99zyka">http://www.linguatrek.com/blog/2011/02/vlog-nie-trzeba-mie%C4%87-talentu...</a></p>
<p>... i oczywiście również w moim ebooku.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/172/2392">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/w-nauce-j%C4%99zyka-obcego-najwa%C5%BCniejszy-jest-czas#comment-2392">Tuesday, June 12, 2012 - 10:02</a></span>
</div>
</div>
<a id="comment-2394"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>„nie mam talentu” to często wymówka i kryje się za nią „nie chce mi się”. :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/172/2394">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/w-nauce-j%C4%99zyka-obcego-najwa%C5%BCniejszy-jest-czas#comment-2394">Tuesday, June 12, 2012 - 10:11</a></span>
</div>
</div>
</div><a id="comment-2395"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/866eee6d18fde213a58eda8e64588f41?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>david ale mi tu chodzi o "predyspozycję" w innym sensie. zaraz ci powiem o co mi chodziło. niektóre osoby łatwo się uczą języków, w których główne znaczenie ma wymowa . język chiński ma tony i 1 wyraz ich w zależności od tonu zmienia znaczenie. więc tutaj osoby które powiedzmy potrafią "zmieniać" głos nie będą musiały poświęcić aż tyle czasu co zwykła osoba.a niektórzy ludzie będą w innych językach lepszy :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/172/2395">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">z polski (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/w-nauce-j%C4%99zyka-obcego-najwa%C5%BCniejszy-jest-czas#comment-2395">Tuesday, June 12, 2012 - 10:16</a></span>
</div>
</div>
<div class="indented"><a id="comment-2397"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Może niektóre osoby potrafią zmieniać głos łatwiej - ale wszyscy mogą zmieniać głos na tyle dobrze, żeby wymowa byłaby rozumiała. Moim zdaniem większym problemem w nauce wymowy jest brak słuchania prawdziwych przykładów.</p>
<p>Niewiarygodnie dużo ludzi uczą się (źle!) pisowni danego języka na samym początku i używa tego do wymowy - BEZ dostatecznego słuchania prawdziwego języka w praktyce. W tradycyjnym kursie spędzasz tak dużo czasu mówiąc, słuchając innych uczniów, nauczyciela - nawet nauczyciel native speaker mówi trochę dziwnie kiedy uczy. ;-)</p>
<p>Więc myślę, że w większości przypadków to nie chodzi o to, że nie ludzie nie mają predyspozycji do wymowy, że nie potrafią dobrze wymawiać - po prostu nie wiedzą jak to powinno brzmieć. :-) I po jakimś czasie staje się trudno pozbyć złej wymowy.</p>
<p>Ale wyszedłem trochę z tematu! :-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/172/2397">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/w-nauce-j%C4%99zyka-obcego-najwa%C5%BCniejszy-jest-czas#comment-2397">Tuesday, June 12, 2012 - 11:08</a></span>
</div>
</div>
</div><a id="comment-2403"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3edaefc3d69a4bf6a0e4b474303c6d06?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witam<br/>
Z mojego doświadczenia po kilkuletniej, samodzielnej nauce języka angielskiego wyciągam następujące wnioski:<br/>
- trzeba się uczyć codziennie a nawet kilka razy dziennie, jeśli mamy na to chociażby 15 minut (po kilkumiesięcznej przerwie wiele zapomniałam),<br/>
- ważne jest słuchanie tekstu z nagrania, wypisanie nowych słówek (długopisem, tzn. ręcznie) i powtarzanie całych sekwencji,<br/>
- początkowe śledzenie tekstu wydrukowanego wraz ze słuchaniem należy starać się zaniechać po trzecim odsłuchaniu.<br/>
- dla mnie ważna jest także gramatyka, bo znajomość jej zasad pomaga zrozumieć wiele słownych konfiguracji.</p>
<p>Mój błąd w nauce dotychczas polegał na tym, że dużo pisałam i słuchałam, ale miałam tekst przed nosem i okazało się, że umiem czytać i pisać a nie potrafię samodzielnie budować zdań, natomiast rozumiem tylko wtedy, gdy ktoś bardzo powoli mówi...<br/>
Czyli ewidentny brak osłuchania - to moja porażka...<br/>
Do nauki zdecydowanie wolę krótkie teksty, gdyż za czytaniem książek nie przepadam.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/172/2403">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anna Z. (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/w-nauce-j%C4%99zyka-obcego-najwa%C5%BCniejszy-jest-czas#comment-2403">Wednesday, June 13, 2012 - 11:14</a></span>
</div>
</div>
<div class="indented"><a id="comment-2419"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Dzięki za interesujący komentarz!</p>
<p>&gt; początkowe śledzenie tekstu wydrukowanego wraz ze słuchaniem należy starać<br/>
&gt; się zaniechać po trzecim odsłuchaniu.</p>
<p>To ciekawe co piszesz. Ja w dalszym ciągu słucham sobie „Czytamy w oryginale” i teraz doszedłem do tego, że:</p>
<p>• pierwszy raz słucham bez tekstu i sprawdzić jak wiele zrozumiałem<br/>
• następnym razem stosując metodę „zatrzymaj się i pomyśl” staram się dokładnie przeczytać tekst ze zrozumieniem<br/>
• następnie 5 dni z rzędu (jak się uda) czytam i jednocześnie słucham</p>
<p>Robię tak ponieważ jestem wzrokowcem; wyczytałem, że to świetna metoda, która poprawia obie umiejętności językowe; zakochałem się w typografii. Co do ostatniego już tłumaczę.</p>
<p>Człowiek czytając obejmuje wzrokiem obrazy słów i nie robi tego świadomie. Temu ma służyć dobry skład i poprawna typografia. Ja staram się wyciągnąć coś więcej, i jakkolwiek zabrzmi to śmiesznie (bo trudno mi to wyjaśnić) lubię patrzyć na słowa i dostrzegać w nich szczegóły. Takie skrzywienie a może fetysz. ;)<br/>
W każdym razie, zobaczę czy ta metoda jest dobra. Tzn. czytanie i słuchanie jednocześnie.</p>
<p>&gt; Mój błąd w nauce dotychczas polegał na tym, że dużo pisałam i słuchałam,<br/>
&gt; ale miałam tekst przed nosem i okazało się, że umiem czytać i pisać a nie<br/>
&gt; potrafię samodzielnie budować zdań, natomiast rozumiem tylko wtedy, gdy<br/>
&gt; ktoś bardzo powoli mówi...<br/>
&gt; Czyli ewidentny brak osłuchania - to moja porażka...</p>
<p>Możesz wyjaśnić. Z jednej strony piszesz, że „dożo pisałam i słuchałam”, a później „czyli ewidentny brak osłuchania”.</p>
<p>Ja miałem podobnie. Dużo czytałem i rozumiałem a i pisałem, ale nie byłem osłuchany. Kiedy uświadomiłem sobie, że najważniejsze jest osłuchanie („czytajcie blogi językowe”), postanowiłem poświęcić na to około godziny dziennie. I od marca robię to codziennie.</p>
<p>&gt; Do nauki zdecydowanie wolę krótkie teksty, gdyż za czytaniem książek nie<br/>
&gt; przepadam.</p>
<p>Dlatego świetne są readersy! Bo można całość odsłuchać kilka razy i wszystko się pamięta. Ja planuję po jakimś czasie jednak wybrać nieskróconą literaturę. Ponieważ Harry Potter mnie nie interesuję,a spodobał mi się readers „Tożsamość Bourna”, chciałbym przeczytać/odsłuchać całą serię.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/172/2419">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/w-nauce-j%C4%99zyka-obcego-najwa%C5%BCniejszy-jest-czas#comment-2419">Thursday, June 14, 2012 - 02:57</a></span>
</div>
</div>
</div><a id="comment-2404"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/87342368c117001f01208c9ec92a90d9?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Ja też doszedłem do podobnych wniosków. Pisanie jest ważne, z tym że ja piszę sobie całe zdania na klawiaturze - zdania mam wklepane w anki a piszę po prostu w programie word. Jednocześnie ćwiczę sobie pisanie bezwzrokowe. Anki i word są cały czas otwarte na pulpicie i w ten sposób mogę co chwilę zerkać, bez większej szkody dla wydajności mojej pracy ;)<br/>
Jednak równie ważne jak pisanie, jest, przynajmniej dla mnie, głośne powtarzanie zdań. Często przy powtórkach łapię się na tym, że nie pamiętam jak napisać jakiś wyraz, ale pamiętam wymowę.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/172/2404">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Maad (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/w-nauce-j%C4%99zyka-obcego-najwa%C5%BCniejszy-jest-czas#comment-2404">Wednesday, June 13, 2012 - 13:06</a></span>
</div>
</div>
<div class="indented"><a id="comment-2420"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Ja bez pisania bezwzrokowego nie wyobrażam sobie życia. 6, 7 lat temu postanowiłem się nauczyć tej umiejętności. Z pomocą „Mistrza klawiatury” (polecam!) przez chyba 3 miesiące, po pół godziny dziennie, ćwiczyłem. Ale efekty były widoczne po bardzo krótkim czasie. Na prawdę prosto się nauczyć tej umiejętności.</p>
<p>Ucząc się z SM, Anki wszystko czytam na głos. Czytają książki i artykuły w dużej mierze także. To dobra metoda.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/172/2420">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/w-nauce-j%C4%99zyka-obcego-najwa%C5%BCniejszy-jest-czas#comment-2420">Thursday, June 14, 2012 - 03:01</a></span>
</div>
</div>
<div class="indented"><a id="comment-2423"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/87342368c117001f01208c9ec92a90d9?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Pisanie bezwzrokowe powinno być w programie szkoły podstawowej, i to od zerówki!<br/>
He, he - angielski i pisanie bezwzrokowe to podstawa współczesnej komunikacji. I think so ;)</p>
<p>Mistrza klawiatury używałem, ale bardziej mi pasowała stronka klawiszowiec.com.pl To oczywiście tylko na początek, potem jest żmudny codzienny trening. No i oczywiście sprawdzają się wszystkie rady o jakich pisze David w kontekście nauki języka, np. właściwa motywacja, systematyczność, itp.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/172/2423">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Maad (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/w-nauce-j%C4%99zyka-obcego-najwa%C5%BCniejszy-jest-czas#comment-2423">Thursday, June 14, 2012 - 07:57</a></span>
</div>
</div>
<div class="indented"><a id="comment-2424"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>He he, jeżeli oszczędzi to widoku pań zza okienka walących po klawiaturze dwoma palcami, to jestem za!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/172/2424">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/w-nauce-j%C4%99zyka-obcego-najwa%C5%BCniejszy-jest-czas#comment-2424">Thursday, June 14, 2012 - 09:11</a></span>
</div>
</div>
<div class="indented"><a id="comment-2425"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/87342368c117001f01208c9ec92a90d9?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Przede wszystkim oszczędzi fizjoterapeutom pracy z pacjentami mającymi problem z odcinkiem szyjnym kręgosłupa.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/172/2425">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Maad (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/w-nauce-j%C4%99zyka-obcego-najwa%C5%BCniejszy-jest-czas#comment-2425">Thursday, June 14, 2012 - 10:28</a></span>
</div>
</div>
</div></div></div></div><a id="comment-2426"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a8b9f43443fb453f2dc6e14597587a7d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Bardzo motywujący i rzeczowy tekst. Nauka języka to rzeczywiście droga "małych sukcesów". Także polecam ebook Davida - przeczytajcie, bo warto.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/172/2426">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">wojt (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/w-nauce-j%C4%99zyka-obcego-najwa%C5%BCniejszy-jest-czas#comment-2426">Thursday, June 14, 2012 - 11:05</a></span>
</div>
</div>
<a id="comment-2427"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9a3152858f50105d5211d6f2e15d4c90?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Bardzo fajny artykuł, mówiąc w skrócie. Najważniejsze w tego rodzaju artykułach jest dać czytelnikowi motywacje a panu Wojtkowi się to udało. Na początku mojej przygody z angielskim starałem się opanowywać dość obszerny materiał, jednak tak jak w artykule sprawiało to że rosło zniechęcenie. Na początku również przykuwały moją uwagę takie slogany jak "Angielski w 3 miesiące" itp., nie twierdze że publikacje tego rodzaju są niedobre. Wielu autorów takowych książek to naprawdę świetni lingwiści. Jednak nie oto chodzi w nauce języka aby się przy tym zbytnio męczyć i nadwyrężać. Wiele firm branży "językowej" rozumie dzisiaj że w nauce należy wykorzystywać czas który był by i tak zmarnowany. Tak na przykład dzięki zdobyczą można nabyć świetne materiały audio i można ich słuchać w drodze do pracy, szkoły, na przerwach (pan David wspominał że bardzo lubi słuchać książek kiedy spaceruje)itp. Wiele materiałów mp3 jest darmowych jak BBC(to tylko przykład który pierwszy mi się nasuną, jest wiele innych materiałów wystarczy chwilkę poszukać). W ebooku pana Snopka możecie znaleźć fantastyczne porady jak odnaleźć wolny czas. Życzę wszystkim samoukom powodzenie w nauce języków. Chciałbym jeszcze podziękować panu Wojtkowi za motywację zawartą w treści tego artykułu. Pozdrawiam Marek.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/172/2427">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/w-nauce-j%C4%99zyka-obcego-najwa%C5%BCniejszy-jest-czas#comment-2427">Thursday, June 14, 2012 - 11:31</a></span>
</div>
</div>
<div class="indented"><a id="comment-2428"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Tylko nie „panie Wojtku” panie Marku. :D Nie jestem aż taki stary i w sieci nie ma takich barier. :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/172/2428">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/w-nauce-j%C4%99zyka-obcego-najwa%C5%BCniejszy-jest-czas#comment-2428">Thursday, June 14, 2012 - 11:40</a></span>
</div>
</div>
<a id="comment-2430"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9a8cb03a0d20b459b313c180559fa98b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Polecam stronę ted.com. Można wybrać sobie wykład (materiały viedo)i tekst tłumaczenia. Dużo wykładów w jest języku ang.<br/>
Do każdego wykładu znajdziesz tekst dialogu w wer. angielskiej oraz innych językach (subtitles). </p>
<p>tak więc można nie dosyć ciekawych ludzi poznać i spojrzeć na jeszcze ciekawsze tematy to i uczenie staje się przyjemniejsze.</p>
<p>Aby zachęcić was możecie wejść<br/>
<a href="http://produktywnie.pl/2796/ted-zamiast-telewizji/" title="http://produktywnie.pl/2796/ted-zamiast-telewizji/">http://produktywnie.pl/2796/ted-zamiast-telewizji/</a><br/>
i przeczytać dlaczego warto.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/172/2430">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">krzysztof (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/w-nauce-j%C4%99zyka-obcego-najwa%C5%BCniejszy-jest-czas#comment-2430">Friday, June 15, 2012 - 06:39</a></span>
</div>
</div>
<div class="indented"><a id="comment-2431"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Tak, TED to wiele inspirujących wykładów/przemówień. Na jesieni zeszłego roku oglądałem go dosyć często.</p>
<p>No widzisz, przerwałem chyba dlatego, bo nie zastosowałem się do „polityki małych kroków”, o której napisałem. Narzuciłem sobie za dużo i w końcu zrezygnowałem.</p>
<p>Muszę pomyśleć by znów do tego powrócić. Ale tym razem obrać odpowiednią strategię. :)</p>
<p>PS.<br/>
swoją drogę, jeden z moich ulubionych wykładów, który rzeczywiście poprawić los wielu ludzi, to wioska/maszyny rolnicze na otwartej licencji. Pomysłodawcą jest Polak, który przeprowadził się do Stanów. Jak dla mnie, pomysł rewolucyjny.</p>
<p>pozdrawiam!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/172/2431">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/w-nauce-j%C4%99zyka-obcego-najwa%C5%BCniejszy-jest-czas#comment-2431">Friday, June 15, 2012 - 08:27</a></span>
</div>
</div>
</div></div><a id="comment-2525"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f86e444171775763b0f1a025b085385d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>1. Dlaczego zamiast 3 godzin dziennie nie zastosować 24? ( No może nie licząc snu to tak z 20)<br/>
2. Nie za bardzo rozumiem zasadę Pareto w nauce języka obcego, jak dla mnie biegłość to biegłość, choć przy testach się sprawdza to w nabywaniu umiejętności takich jak znajomość języka obcego sądzę że znajomość tej reguły niewiele nam da.</p>
<p>Co do punktu 1. Chodzi mi konkretnie o zanurzenie się w języku, którego się uczymy. Czyli, jeśli dla przykładu chcemy się nauczyć angielskiego, wyjedźmy do kraju anglojęzycznego. Jednak wielu ludzi nie ma takiej okazji, więc trzeba sprowadzić taką Wielką Brytanie czy Stany Zjednoczone do naszego otoczenia. Utworzyć środowisko w którym będziemy mieli do czynienia z danym jeżykiem cały dzień. Na przykład oglądanie filmów po angielsku, słuchanie podcastów, słuchanie muzyki (bardzo fajne jest też karaoke), granie w gry po angielsku, dosłownie wszystko co robiłeś do tej pory rób tak samo ale zmień język, nawet zmień język swojego systemu operacyjnego na ten którego się uczysz. Na początku na pewno będzie to wszystko frustrowało, ale po pewnym czasie język będzie wchodził sam. Na przykład gdy oglądasz filmy na początku nic nie rozumiesz lecz po jakimś czasie twój mózg będzie wyłapywał niektóre słowa, później grupę słów i w końcu zdania (listening &amp; watching method). Tu nie chodzi o to, żeby siedzieć przed książką i męczyć gramatykę lub rozwiązywać zadania, które po prostu nas nie ciekawią. Tu chodzi o zabawę, trzeba wczuć się w małe dziecko i nauczyć się obcego języka w ten sam, naturalny sposób w jaki uczyliśmy się polskiego.</p>
<p>No i gramatyka. Ja (jak i pewnie większość z was)uczyłem się gramatyki języka polskiego w szkole, gdy już umiałem mówić biegle po polsku. Więc jak do cholery umiałem mówić jeśli nie znałem gramatyki? No właśnie gramatyka to jak dla mnie nauka o języku, a nie bezpośrednie uczenie się języka. Choć muszę przyznać, że gramatyka się przydaje (najbardziej do pisania). Ale ludzie, bez przesady. Poświęcanie tyle czasu nauki na samą gramatykę jak to jest w klasach jest jak dla mnie bezsensem (szczególnie na początku nauki). Chyba że, to lubimy to proszę bardzo ale czy zastanawialiście się kiedyś czy jak mówicie coś po polsku to tworzycie zdania z poprawnością gramatyczną, jesteście świadomi tego że to co przed chwilą powiedzieliście jest zdaniem z  podmiotem logicznym, orzeczeniem i dopełnieniem itp. Nie sądzę. Myślę że tak samo jak ja po prostu mówicie, bo jesteście tak osłuchani w języku, że nie musicie znać regułek gramatycznych aby wiedzieć że mówicie teraz poprawnie i inni was zrozumieją.</p>
<p>To tyle jeśli chodzi o wytłumaczenie 24 godzin, choć warto jeszcze dodać, że bardo ważna jest nauka z wielu źródeł oraz powtórki.Hmm no może jeszcze nie powinno się od siebie na początku za dużo wymagać np. samodzielnego mówienia, tworzenia zdań, to przychodzi z czasem, na początku najważniejsze powinno być słuchanie. </p>
<p>Według mnie jeśli ktoś chce się nauczyć języka obcego prędzej czy później znajdzie swoją metodę która mu najbardziej odpowiada. Czy to będą 3 godziny z podręcznikiem i ćwiczeniami czy 24 godziny kontaktu z językiem obcym. To już jest indywidualna decyzja.</p>
<p>Na koniec jeszcze moja ulubiona rada "Don't work hard. PLAY hard!"<br/>
Coś w tym jest.</p>
<p>Pozdrawiam, Hubert</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/172/2525">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/w-nauce-j%C4%99zyka-obcego-najwa%C5%BCniejszy-jest-czas#comment-2525">Wednesday, June 20, 2012 - 12:14</a></span>
</div>
</div>
<div class="indented"><a id="comment-2528"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Dzięki za wyczerpujący komentarz!</p>
<p>Podając czas miałem na myśli czas dedykowany. Minimum kontaktu z językiem, który sobie narzucam. Wielu nie korzysta z takiego dedykowanego czasu, ale wielu też go preferuje. Kwestia gustu.</p>
<p>Co do zanurzenia się w języku, to jestem jak najbardziej za! Moje metody to 1) tak jak pisałeś, język systemowy ustawiony na angielski, język programów, także<br/>
2) czytanie w ciągu dnia artykułów z sieci, które mnie interesują<br/>
3) oglądanie filmików na YT</p>
<p>Potrafię np. wiele razy obejrzeć ten sam filmik Steve’a Kaufmanna, bo raz że mam kontakt z językiem, dwa dzieli się on wspaniałymi wskazówkami jak się uczyć języków</p>
<p>Co do gramatyki języka polskiego, to również pełna zgoda. Dziś oprócz absolutnych podstaw, ale uwaga, wpajanych dzieciom typu „uje się nie kreskuje”, albo „nie z czasownikami…” nic nie pamiętam. Zero. Null. Za Chiny Ludowe nie rozłożyłbym zdania!<br/>
Więc po co uczyć gramatyki?</p>
<p>Dzieciom od najmłodszych lat powinno się wpajać zamiłowanie do czytania. To działa. Na prawdę!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/172/2528">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/w-nauce-j%C4%99zyka-obcego-najwa%C5%BCniejszy-jest-czas#comment-2528">Wednesday, June 20, 2012 - 14:19</a></span>
</div>
</div>
</div><a id="comment-2529"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e46f0919788c6cc2680883bd50139100?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Fajnie sie czyta ten artykul tylko nie zawiera on niczego co nie byloby oczywiste po przeczytaniu poprzednich artykułów i ebooka na tym blogu.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/172/2529">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">czytelnik (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/w-nauce-j%C4%99zyka-obcego-najwa%C5%BCniejszy-jest-czas#comment-2529">Thursday, June 21, 2012 - 08:49</a></span>
</div>
</div>
<div class="indented"><a id="comment-2552"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Zgadzam się, że ogólny pomysł tego artykułu jest podobny do poprzednich artykułów i ebooka. Ale jest wiele szczegółów, które są nowe! Na przykład, nigdy nie pisałem o zasadzie Pareto i hiperpoliglotach.</p>
<p>Również myślę, że jest warto dowiedzieć się o doświadczeniu innych z tymi pomysłami. Inne perspektywy coś dodają. Sam wiele uczę się z ogromnej ilości emaili, które dostaję od czytelników o ich doświadczeniu.</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/172/2552">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/w-nauce-j%C4%99zyka-obcego-najwa%C5%BCniejszy-jest-czas#comment-2552">Monday, June 25, 2012 - 07:45</a></span>
</div>
</div>
</div><a id="comment-2651"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/799091009721f6f45124874594b2ef32?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>W pełni zgadzam się z artykułem. Od 4 klasy szkoły podstawowej (od września idę do liceum) uczę się gry na gitarze. Przez 4 lata nauczyłam się tylko kilku podstawowych chwytów i nic więcej, niby ćwiczyłam, ale wałkowałam ciągle to samo. Potem zaczęłam sobie stawiać wyzwania typu nauczę się tego i tego w takim czasie. Zadziałało, w końcu nauka przynosiła efekty. :) I nadal przynosi.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/172/2651">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Weronika (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/w-nauce-j%C4%99zyka-obcego-najwa%C5%BCniejszy-jest-czas#comment-2651">Tuesday, July 3, 2012 - 11:13</a></span>
</div>
</div>
<div class="indented"><a id="comment-2658"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Gratuluję Ci sukcesu na gitarze! Myślę, że nauka języka i grania na gitarze ma wiele wspólnego - o wiele więcej niż nauka języka i matematyki. :-) Kiedyś napisałem artykuł o tym jak nauka języka jest podobna do nauki karate:</p>
<p><a href="http://www.linguatrek.com/blog/2011/03/language-learning-is-more-like-karate-than-math" title="http://www.linguatrek.com/blog/2011/03/language-learning-is-more-like-karate-than-math">http://www.linguatrek.com/blog/2011/03/language-learning-is-more-like-ka...</a></p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/172/2658">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/w-nauce-j%C4%99zyka-obcego-najwa%C5%BCniejszy-jest-czas#comment-2658">Thursday, July 5, 2012 - 07:37</a></span>
</div>
</div>
</div><a id="comment-5813"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c16aeb52516aa2dd789fd504b42a64f2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Dobry wieczór.<br/>
Praca z ludźmi chcącymi nauczyć się j.angielskiego jest niełatwym zadaniem i nie każdego można nauczyć posługiwania się językiem obcym.Istnieją jednostki,które mają tzw.,,złe ucho''i nie potrafią powtórzyć za nauczycielem takich słów jak: drink,listen,dream,language itp.Takich słów w/w języku jest wiele i nieumiejętność ich powtórzenia znacznie ogranicza rozumienie tekstu słuchanego.W związku z tym zainteresowani językiem uczą się tylko wyrażeń łatwych,unikając wypowiedzi trudnych.Owe podejście jest szybko dostrzeżone podczas zajęć,ale na to nie ma sposobu,bo jak mówią:,,klient nasz pan''.Spotkałam się z uwagami typu-,,ty masz mnie tego nauczyć,bo ja tobie za to płacę''.Niestety niektóre osoby nie mają żadnych predyspozycji słuchowych i głosowych i ten deficyt uniemożliwia im przyswoić język obcy.Osoby tego typu mogą tylko nauczyć się dobrze języka pisanego wraz z jego gramatyką.Natomiast nigdy nie opanują języka mówionego i słyszanego.W ich wypadku jest to niemożliwe.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/172/5813">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Jagoda (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/w-nauce-j%C4%99zyka-obcego-najwa%C5%BCniejszy-jest-czas#comment-5813">Sunday, January 12, 2014 - 15:44</a></span>
</div>
</div>
</div>
