---
permalink: /blog/2012/06/śladem-polskich-akcentów-w-filmach-amerykańskich/
layout: blog-old
title: 'Śladem polskich akcentów w filmach amerykańskich'
day: 19
month: Jun
year: 2012
category: Poland
tags: 
  - 'movies'
language: en
translation: /blog/2012/06/%C5%9Bladem-polskich-akcent%C3%B3w-w-filmach-ameryka%C5%84skich/
---
<div class="content">
<p><em>Dzisiaj mamy ciekawy artykuł od Marcina z firmy <a href="http://www.sprachcaffe.com/polski/main.htm">sprachcaffe.com</a>, która oferuje kursy i obozy językowe zagranicą. To mieszanina turystyki i nauki. :-)</em></p>
<p><em>(Uwaga: NIE zarabiam na umieszczenie tego artykułu ani na te linki do ich strony - tylko dostałem ten fajny artykuł!)</em></p>
<hr/>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/manwithvideocamera.jpg" rel="lightbox"><img alt="Mężczyzna z kamerą filmową" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/manwithvideocamera.jpg" title="Zdjęcie autorstwa woodleywonderworks"/></a><div class="caption"><a href="http://www.flickr.com/photos/73645804@N00/3994475649">Zdjęcie</a> autorstwa <a href="http://www.flickr.com/photos/wwworks/">woodleywonderworks</a></div></div>
<p>Wszyscy wiemy, że oglądanie anglojęzycznych filmów pomaga w nauce języka angielskiego. Wszyscy również wiemy z jakim zdziwieniem wiąże się każdy występujący w nich polski akcent!</p>
<p>Jakiekolwiek nawiązanie do Polski, w filmach produkcji USA jest dla nas zwykle zaskakujące... pozytywnie lub negatywnie. Oto szybki przegląd i wycieczka po polskich akcentach w filmach produkcji amerykańskiej.</p>
<p><strong>Czytaj więcej żeby się dowiedzieć o nich!</strong></p>
<h2>Plakaty</h2>
<a href="http://img7.imagebanana.com/img/a87qlisy/rfflJv.jpg"><img align="right" border="0" height="153" src="http://img7.imagebanana.com/img/a87qlisy/rfflJv.jpg" style="margin: 10px" width="160"/></a>
<p>Dość wyraźny, choć drugoplanowy, polski akcent odnaleźć można w różnych scenach filmu „Debiutanci”. Otóż mieszkanie głównego bohatera filmu, granego przez Ewana McGregora, ozdabia wiele polskich plakatów.</p>
<p>Skąd zamiłowanie bohatera do polskiej sztuki plakaciarskiej? Otóż reżyser <a href="http://www.filmweb.pl/person/Mike+Mills-121348">Mike Mills</a> prywatnie jest grafikiem i miłośnikiem starego polskiego plakatu.</p>
<p>Chapeau bas dla polskich plakacistów i ich dzieł widocznych w filmie: "Siedem razy kobieta" Andrzeja Krajewskiego czy, "Wielka majówka" Marii Ihnatowicz, zdobiących ściany stylowego mieszkania bohatera.</p>
<p><em>Jeśli kiedyś znajdziesz się w Nowym Jorku koniecznie zajrzyjcie do PHILIP WILLIAMS POSTERS największego na świecie muzeum plakatu znajdującego się na Manhattanie.</em></p>
<h2>Muzyka</h2>
<p>Pamietacie film „Miasto Aniołów” z Nicolasem Cage’m i Meg Ryan? Kiedy główny bohater Seth, będący aniołem, zstepuje na ziemie skacząc z drapacza chmur w Los Angeles, w tle słyszymy muzykę i polska modlitwę „Zdrowaś Maryjo”. To nie tylko modlitwa ale cały utwór skomponowany przez polskiego kompozytora i twórcę muzyki filmowej Wojciecha Kilara.</p>
<p><em>Jeśli dzięki filmowi spodobało Ci się miasto aniołów koniecznie pomyśl o kursie angielskiego w Los Angeles i znajdź swojego anioła!</em></p>
<p>Również w dreszczowcu „Burzliwy poniedziałek" odnaleźć można akcenty polskie. W produkcji, właściciel klubu jazzowego grany przez samego Stinga, zaprasza do występu polski zespół <em>Cracow Ensemble</em>, przedstawiony jako „ulubiony zespół papieża”.</p>
<h2>Kuchnia</h2>
<p>Po sztuce graficznej i muzyce filmowej czas na polską kuchnię. To ona jest jednym z najczęściej (oprócz przekleństw i zwrotu „Na zdrowie!”) powtarzającym się motywem obecnym w wielu filmach i serialach na całym świecie.</p>
<p>Bohaterowie „Ostrego dyżuru” w przerwach w pracy zajadają się hotdogami z polska kiełbasą, „Faceci w czerni” zamawiają w barze „pirogi”, a „Rodzina Soprano” mimo miłości do swoich włoskich przysmaków w supermarkecie krąży wokół polskiej kiełbasy.</p>
<p>Jeśli więc wybieracie się z wizytą do USA i zatęsknicie za polskim jedzeniem, w każdym większym mieście z pewnościa traficie na polskie sklepy oferujące rodzime przysmaki popularne również wśród amerykanów. <em>(Od Davida: to prawda nawet u nas w naszym małym mieście, Milwaukee.)</em></p>
<h2>Nazwiska i barwy narodowe</h2>
<a href="http://img7.imagebanana.com/img/spfj0j7g/KcZBNr.jpg"><img align="right" border="0" height="160" src="http://img7.imagebanana.com/img/spfj0j7g/KcZBNr.jpg" style="margin: 10px" width="159"/></a>
<p>W związku z Euro 2012 czas wspomnieć o polskich barwach narodowych. W komedii „Sztuka zrywania” z <a href="http://www.filmweb.pl/person/Jennifer.Aniston">Jennifer Aniston</a>, główny bohater grany przez <a href="http://www.filmweb.pl/person/Vince.Vaughn">Vince Vaughna</a> z pochodzenia jest Polakiem, ma polskie nazwisko - Grobowski i nosi T-shirty z polskimi emblematami i barwami - jeden z godłem polski a drugi z napisem „Polish and proud”.</p>
<p>Przyjmuje się również, że imię i nazwisko głównego bohatera „Terminalu”, którego gra Tom Hanks - Wiktor Nawarski,  ma polskie brzmienie. Natomiast kraj, z którego przybywa to fikcyjna a jednak znajomo brzmiąca Krakozja.</p>
<p>Bohater przedstawiony jest jako wyjątkowy, bezinteresowny mężczyzna w przeciwieństwie do obywateli USA, czym ujmuje piekną Amerykankę. Sceny do tego filmu kręcone były w Los Angeles, Montrealu i w Nowym Jorku.</p>
<p><em>Jeśli chcesz poczuć klimat filmu wybierz się na kurs <a href="http://www.sprachcaffe.com/polski/kursy_angielskiego/usa.htm">języka angielskiego do USA</a> i poznaj przy okazji swojej podróży największe terminale lotniskowe na świecie tak jak Tom Hanks.</em></p>
<p><strong>To tylko <em>kilka z setki</em> przykładów wykorzystywania motywów polskich w filmach Amerykańskich. Warto równiez zauwazyć, że wszelkie przejawy polskości często przedstawiane są pozytywnie, co przełamuje stereotypy i miło zaskakuje.</strong></p>
<p><strong>Co myślisz o tych przykładach? Czy znasz więcej? Proszę napisz komentarz!</strong></p>
</div>

<div id="comments">
<a id="comment-2487"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://about.me/tomfrompoland" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3cdbaa2914c95444fc7968fe42ddfa2b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Witaj,</p>
<p>Pamiętam taką scenę w "Ściganym" (The Fugitive) - ukrywający się Harrison Ford wynajmuje pokój od polskich imigrantów.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/175/2487">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://about.me/tomfrompoland" rel="nofollow">TomFromPoland</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/%C5%9Bladem-polskich-akcent%C3%B3w-w-filmach-ameryka%C5%84skich#comment-2487">Tuesday, June 19, 2012 - 10:45</a></span>
</div>
</div>
<div class="indented"><a id="comment-2488"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki za przykład! Tego w ogóle nie zauważyłem. Od dawna nie widziałem tego filmu, może to już czas znowu go obejrzeć. :-) Pozdrawiam, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/175/2488">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/%C5%9Bladem-polskich-akcent%C3%B3w-w-filmach-ameryka%C5%84skich#comment-2488">Tuesday, June 19, 2012 - 11:19</a></span>
</div>
</div>
</div><a id="comment-2497"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/73d3b9ad79b745f7a859311f7d4797c0?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>A film "The peacemaker" z George'm Clooney'em? Tam z tego co pamiętam też jest scena, gdzie żołnierze Nato? wchodzą do domu i okazuje się, że słychać tam język polski. Nigdy nie oglądalem tego filmu, ale ta scena mnie tak zadziwiła, że utkwiła w pamięci. :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/175/2497">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">kasado (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/%C5%9Bladem-polskich-akcent%C3%B3w-w-filmach-ameryka%C5%84skich#comment-2497">Tuesday, June 19, 2012 - 11:55</a></span>
</div>
</div>
<a id="comment-2500"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/73d3b9ad79b745f7a859311f7d4797c0?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>o kurcze no teraz to nie jestem pewien, czy to nie była scena ze ściganego :/ Ale z Peacemaker'ze też był jakiś polski akcent z żolnierzami. :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/175/2500">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">kasado (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/%C5%9Bladem-polskich-akcent%C3%B3w-w-filmach-ameryka%C5%84skich#comment-2500">Tuesday, June 19, 2012 - 12:08</a></span>
</div>
</div>
<div class="indented"><a id="comment-2520"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>No, to jest OK. :-) Widziałem film Peacemaker parę miesięcy temu ale nie pamiętam polskiego akcentu w tym filmie. Muszę go obejrzeć jeszcze raz!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/175/2520">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/%C5%9Bladem-polskich-akcent%C3%B3w-w-filmach-ameryka%C5%84skich#comment-2520">Tuesday, June 19, 2012 - 22:33</a></span>
</div>
</div>
</div><a id="comment-2502"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://pepkin88.me/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/dc0ee67be0257e746479b188f9b01fac?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Proszę bardzo, cała scena po polsku :)<br/>
<a href="http://www.youtube.com/watch?v=JM7WG9C5HTg" title="http://www.youtube.com/watch?v=JM7WG9C5HTg">http://www.youtube.com/watch?v=JM7WG9C5HTg</a></p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/175/2502">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://pepkin88.me/" rel="nofollow">pepkin88</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/%C5%9Bladem-polskich-akcent%C3%B3w-w-filmach-ameryka%C5%84skich#comment-2502">Tuesday, June 19, 2012 - 12:23</a></span>
</div>
</div>
<div class="indented"><a id="comment-2516"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hehe, nie wiem dlaczego tego nigdy nie widziałem. :-) Dzięki za linka! Pozdrawiam, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/175/2516">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/%C5%9Bladem-polskich-akcent%C3%B3w-w-filmach-ameryka%C5%84skich#comment-2516">Tuesday, June 19, 2012 - 22:16</a></span>
</div>
</div>
</div><a id="comment-2504"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/000721a84c0079b563e8f4dd6f5b8bd1?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Wiem, ze chodzi o filmy, ale ja mam jeden przykład z serialu.<br/>
W Gossip Girl jest Dorota, służąca- gosposia. Akurat nie jestem zadowolona z kreowanego w tym serialu obrazu Polaka... Pomijając pozytywny akcent, że bohaterowie lubią pierogi, Dorota jest ciągle poniżana, traktowana jak kupiony kawał mięsa, zachowuje się jak pies, który jest zadowolony nawet jeśli smagnie się go po pysku. Przedstawienie służącej, która wielbi swoich właścicieli, bo są dla niej "szlachtą" jest rażące o tyle, że gdy przebywa za długo w ich towarzystwie straszą ją, że odeślą ją do Polski (tożby była tragedia...niech się Polka cieszy, że jej pozwalają służyć "w raju" ).<br/>
Poza tym, Dorota cytuje polskie powiedzenia, które nie istnieją. Są wymyślone przez scenarzystów i kompletnie nie mają sensu, nie wiem, czy chodzi o to, że niby Polacy to tacy kretyni...</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/175/2504">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Agata (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/%C5%9Bladem-polskich-akcent%C3%B3w-w-filmach-ameryka%C5%84skich#comment-2504">Tuesday, June 19, 2012 - 13:00</a></span>
</div>
</div>
<div class="indented"><a id="comment-2509"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/964f52c034f42f5cd0a231843a061fd8?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>"Poza tym, Dorota cytuje polskie powiedzenia, które nie istnieją."</p>
<p>:-)<br/>
Dawno temu, jeszcze w telewizji epoki PRL polskich widzów bawił film <a href="http://en.wikipedia.org/wiki/Banacek" title="http://en.wikipedia.org/wiki/Banacek">http://en.wikipedia.org/wiki/Banacek</a></p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/175/2509">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">RobertP (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/%C5%9Bladem-polskich-akcent%C3%B3w-w-filmach-ameryka%C5%84skich#comment-2509">Tuesday, June 19, 2012 - 15:28</a></span>
</div>
</div>
<div class="indented"><a id="comment-2512"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/000721a84c0079b563e8f4dd6f5b8bd1?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>No taak, ale mądrości Banacka były celowo takie zagmatwane, nie można tego porównać, do polskich przysłów Doroty:<br/>
"Love is like a headwound, it makes you dizzy, you think you gonna die, but you will recover"<br/>
to jest po prostu głupie.<br/>
Oczywiście Dorota nie używa żadnych czasów, oprócz "present simple" i to bez końcówki -s w trzeciej osobie.<br/>
i cytat z jej "właścicielki"<br/>
"potrzebuję rady, która nie kończy się na "...i w tedy wyjechałam do Ameryki". Ucieranie w świadomości Amerykanów, że Polska to jakiś trzeci świat, średniowieczne państwo, w którym ludzie chodzą skuci łańcuchami przez własne rodziny...</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/175/2512">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Agata (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/%C5%9Bladem-polskich-akcent%C3%B3w-w-filmach-ameryka%C5%84skich#comment-2512">Tuesday, June 19, 2012 - 17:08</a></span>
</div>
</div>
<div class="indented"><a id="comment-2515"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Nie sądzę, że większość Amerykanów tak myśli! Faktycznie nie znam żadnego Amerykanina, który myśli, że "Polska to jakiś trzeci świat." :-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/175/2515">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/%C5%9Bladem-polskich-akcent%C3%B3w-w-filmach-ameryka%C5%84skich#comment-2515">Tuesday, June 19, 2012 - 22:10</a></span>
</div>
</div>
</div></div><a id="comment-2514"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Agata!</p>
<p>Ale fajnie byłoby gdyby ktoś mnie odesłał do Polski! ;-) To szkoda, że Polka jest tak pokazana w tym serialu. Nigdy nie słyszałem o nim, ale teraz jestem ciekaw jednak nie w sposób pozytywny. :-/</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/175/2514">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/%C5%9Bladem-polskich-akcent%C3%B3w-w-filmach-ameryka%C5%84skich#comment-2514">Tuesday, June 19, 2012 - 22:08</a></span>
</div>
</div>
</div><a id="comment-2505"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/832ae307ab5064011dd194661017e346?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>A Franka Sobotke ktoś kojarzy? Postać z jednego z najlepszych seriali, którego cały drugi sezon kręcił się wokół polskiej (i nie tylko) społeczności dokerów w porcie w Baltimore.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/175/2505">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Malina (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/%C5%9Bladem-polskich-akcent%C3%B3w-w-filmach-ameryka%C5%84skich#comment-2505">Tuesday, June 19, 2012 - 14:43</a></span>
</div>
</div>
<div class="indented"><a id="comment-2518"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Sam nie znam tego serialu ("The Wire" - muszę się przyznać, że nie oglądam zbyt dużo telewizji!) ale trochę poczytałem o nim na Wikipedii. :-) Dzięki za przykład!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/175/2518">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/%C5%9Bladem-polskich-akcent%C3%B3w-w-filmach-ameryka%C5%84skich#comment-2518">Tuesday, June 19, 2012 - 22:24</a></span>
</div>
</div>
</div><a id="comment-2507"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d18ab6040b33845829a669071e6023e3?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Idąc dalej, w "Rodzinie Soprano" u Tony'ego w domu sprząta emigrantka z Polski. W jednym odcinku pojawia się tam też jej przyjaciel "Staszek", który naprawia Tony'emu bodajże bojler. Jednak gdy słyszymy rozmowę między sprzątaczką a Staszkiem nie przypomina to języka polskiego, ma coś z niego ale słychać tam strasznie wschodnie zaciąganie.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/175/2507">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/%C5%9Bladem-polskich-akcent%C3%B3w-w-filmach-ameryka%C5%84skich#comment-2507">Tuesday, June 19, 2012 - 14:57</a></span>
</div>
</div>
<div class="indented"><a id="comment-2521"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Zawsze jestem tak rozczarowany, kiedy tak się staje! W wielu filmach/serialach są postaci np. z Polski albo z Rosji (jedyne dwa języki obce, które znam), którzy mówią jakimś fikcyjnym językiem (albo po prostu innym językiem) zamiast prawdziwego. :-/</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/175/2521">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/%C5%9Bladem-polskich-akcent%C3%B3w-w-filmach-ameryka%C5%84skich#comment-2521">Tuesday, June 19, 2012 - 22:36</a></span>
</div>
</div>
</div><a id="comment-2510"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a6635c58ce6e995bec863361756ededa?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p><a href="http://www.youtube.com/watch?feature=player_embedded&amp;v=wUoIX9-rdO0" title="http://www.youtube.com/watch?feature=player_embedded&amp;v=wUoIX9-rdO0">http://www.youtube.com/watch?feature=player_embedded&amp;v=wUoIX9-rdO0</a><br/>
z kolei polski akcent w amerykańskim wykonaniu. David, jesteś w stanie zauważyć odmienność akcentowania?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/175/2510">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Sokolowski (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/%C5%9Bladem-polskich-akcent%C3%B3w-w-filmach-ameryka%C5%84skich#comment-2510">Tuesday, June 19, 2012 - 15:32</a></span>
</div>
</div>
<div class="indented"><a id="comment-2517"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hehe, chyba wszyscy byli obcokrajowcami! :-) Dzięki za linka. Pozdrawiam serdecznie, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/175/2517">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/%C5%9Bladem-polskich-akcent%C3%B3w-w-filmach-ameryka%C5%84skich#comment-2517">Tuesday, June 19, 2012 - 22:22</a></span>
</div>
</div>
</div><a id="comment-2511"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3b091c1d403d947dc954eee088db1cc5?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>ja mam przykład z filmu pt. "Gry małżeńskie" [Mandy Moore i Kellan Lutz]  - Jest tam bohaterka o imieniu Kasia - nawet mówi po polsku i gra ją nasza polska aktorka Marta Żmuda Trzebiatowska ;d</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/175/2511">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wiola (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/%C5%9Bladem-polskich-akcent%C3%B3w-w-filmach-ameryka%C5%84skich#comment-2511">Tuesday, June 19, 2012 - 15:34</a></span>
</div>
</div>
<div class="indented"><a id="comment-2519"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Musiałem dość długo szukać, żeby znaleźć nazwę tego filmu po angielsku! To jest "Love, Wedding, Marriage." To całkiem nie przypomina tytułu po polsku. :-)  Dziękuję bardzo za przykład!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/175/2519">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/%C5%9Bladem-polskich-akcent%C3%B3w-w-filmach-ameryka%C5%84skich#comment-2519">Tuesday, June 19, 2012 - 22:31</a></span>
</div>
</div>
</div><a id="comment-2522"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Podam dwa przykłady od siebie:</p>
<p>(1) Serial "30 Rock" - jest wiele małych odniesień do Polski, zaczynając od wstępu, w którym widzimy polską flagę. Myślę, że rodzice jednej z głównych aktorek są z Polski i z tego powodu te akcenty się pojawiają.</p>
<p>(2) Film "Inland Empire" - to jest bardzo dziwne, artystyczny film, więc trudno coś powiedzieć o fabule. Ale jest dużo polskich postaci i j. polskiego w nim.</p>
<p>Mam krótką historyjkę co do "Inland Empire". Kiedy go obejrzeliśmy, nie wiedzieliśmy, że będzie w nim j. polski. Na samym początku jest głośny szum i ciche szepty, które było ledwie słuchać.</p>
<p>Powiedziałem mojej żonie, "Te szepty są po polsku!" Ale one nie wierzyła mnie.  Powiedziała po prostu, "To po angielsku, tylko masz obsesję na punkcie Polski i myślisz, że wszystko jest związane z Polską." :-)</p>
<p>Ale okazało się, że miałem rację. ;-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/175/2522">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/%C5%9Bladem-polskich-akcent%C3%B3w-w-filmach-ameryka%C5%84skich#comment-2522">Tuesday, June 19, 2012 - 22:44</a></span>
</div>
</div>
<div class="indented"><a id="comment-2524"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/73d3b9ad79b745f7a859311f7d4797c0?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>David, ale coś mi się zdaje, że Twoja żona też miała rację. Przyznaj masz trochę obsesje na punkcie j. polskiego ;)</p>
<p>Odnośnie filmu "The Shrine", taka ciekawostka. Ta mała dziewczynka jest rodowitą Polką. Nazywa się Julia Dębowska i mieszka w Kanadzie. W tym filmie gra jeszcze jeden Polak - Wiesław Dziuba vel Vieslav Krystyan, który tez wyemigrował do Kanady.</p>
<p>Oto scena z Wiesiem(+ Ojcze nasz w j.polskim :))<br/>
<a href="http://www.youtube.com/watch?v=0DHYvM_58B0&amp;feature=related" title="http://www.youtube.com/watch?v=0DHYvM_58B0&amp;feature=related">http://www.youtube.com/watch?v=0DHYvM_58B0&amp;feature=related</a></p>
<p>Uwaga dla ludzi o mocnych nerwach ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/175/2524">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">kasado (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/%C5%9Bladem-polskich-akcent%C3%B3w-w-filmach-ameryka%C5%84skich#comment-2524">Wednesday, June 20, 2012 - 11:20</a></span>
</div>
</div>
<div class="indented"><a id="comment-2549"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>No, przyznaję się, że mam trochę obsesję. :-) Ale miałem rację co do tego filmu!</p>
<p>Dzięki za informację o filmie "The Shrine".</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/175/2549">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/%C5%9Bladem-polskich-akcent%C3%B3w-w-filmach-ameryka%C5%84skich#comment-2549">Monday, June 25, 2012 - 07:29</a></span>
</div>
</div>
</div></div><a id="comment-2527"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/80cba913aa8819de858adb2c0256adc7?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Tutaj dość długa lista filmów:<br/>
filmweb.pl/user/Campbells/blog/313923</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/175/2527">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Agnieszka (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/%C5%9Bladem-polskich-akcent%C3%B3w-w-filmach-ameryka%C5%84skich#comment-2527">Wednesday, June 20, 2012 - 14:12</a></span>
</div>
</div>
<div class="indented"><a id="comment-2550"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Aha, fajnie! Dziękuję bardzo za linka. 258 przykładów jest naprawdę imponujące. :-) Pozdrawiam serdecznie, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/175/2550">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/%C5%9Bladem-polskich-akcent%C3%B3w-w-filmach-ameryka%C5%84skich#comment-2550">Monday, June 25, 2012 - 07:32</a></span>
</div>
</div>
</div><a id="comment-2530"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://pepkin88.me/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/dc0ee67be0257e746479b188f9b01fac?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>W filmie <a href="http://www.imdb.com/title/tt0218094/">Cheaters</a> (<a href="http://www.filmweb.pl/film/Nieuczciwi-2000-33045">Nieuczciwi</a>) paru polaków gra polskie role, pamiętam też scenę z niego odbywającą się właśnie po polsku.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/175/2530">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://pepkin88.me/" rel="nofollow">pepkin88</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/%C5%9Bladem-polskich-akcent%C3%B3w-w-filmach-ameryka%C5%84skich#comment-2530">Thursday, June 21, 2012 - 20:47</a></span>
</div>
</div>
<div class="indented"><a id="comment-2551"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki za przykład! Wcześniej nie słyszałem o tym filmie ale zwiastun wygląda dobrze. :-) Pozdrawiam, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/175/2551">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/%C5%9Bladem-polskich-akcent%C3%B3w-w-filmach-ameryka%C5%84skich#comment-2551">Monday, June 25, 2012 - 07:35</a></span>
</div>
</div>
</div><a id="comment-2677"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://publicysta.blogspot.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/52f696dab8aac8138a439395563639d1?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>pamiętam jak w jednym z filmów amerykańskich bohater poruszał się przez pewien czas samochodem marki Fiat 125p czyli tzw. dużym fiatem</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/175/2677">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://publicysta.blogspot.com" rel="nofollow">Łukasz</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/%C5%9Bladem-polskich-akcent%C3%B3w-w-filmach-ameryka%C5%84skich#comment-2677">Sunday, July 8, 2012 - 10:38</a></span>
</div>
</div>
<a id="comment-3311"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.sprachcaffe.com/polski/main.htm" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/fb9d0b667c8a3d63dd4e0a35f343bd03?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Miło nam, że aspekt  polskich akcentów w amerykańskiej kinomatografii tak się wam spodobał;-)<br/>
W związku z ostatnim Bondem myślę, że warto również zwrócić uwagę na wszelkie polskie akcenty właśnie w Bondach! Poniżej ciekawe podsumowanie w Radio Zet.<br/>
<a href="http://wiadomosci.radiozet.pl/Raporty/Bond/Wiadomosci/Polskie-akcenty-w-filmach-o-Bondzie" title="http://wiadomosci.radiozet.pl/Raporty/Bond/Wiadomosci/Polskie-akcenty-w-filmach-o-Bondzie">http://wiadomosci.radiozet.pl/Raporty/Bond/Wiadomosci/Polskie-akcenty-w-...</a></p>
<p>pzdr<br/>
Sprachcaffe</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/175/3311">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.sprachcaffe.com/polski/main.htm" rel="nofollow">Kursy angielskiego - Sprachcaffe</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/%C5%9Bladem-polskich-akcent%C3%B3w-w-filmach-ameryka%C5%84skich#comment-3311">Tuesday, December 11, 2012 - 05:27</a></span>
</div>
</div>
<a id="comment-3490"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/af917b4e008b4526865ccd068a8df3b0?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Pozwolę sobie przytoczyć jeszcze jeden przykład :-) :<br/>
<a href="http://www.youtube.com/watch?v=lTWmLMzIEVE&amp;list=LLeohu_9cbzdldMVLxjbzyOQ" title="http://www.youtube.com/watch?v=lTWmLMzIEVE&amp;list=LLeohu_9cbzdldMVLxjbzyOQ">http://www.youtube.com/watch?v=lTWmLMzIEVE&amp;list=LLeohu_9cbzdldMVLxjbzyOQ</a><br/>
To scena z filmu Alex - sam w domu (Home Alone 3). W filmie występuje polski aktor Olek Krupa. Najwyraźniej producenci filmu zgodzili się na ten drobny, polski akcent. Szkoda tylko, że akurat przypadła mu rola czarnego charakteru...</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/175/3490">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Grzegorz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/%C5%9Bladem-polskich-akcent%C3%B3w-w-filmach-ameryka%C5%84skich#comment-3490">Tuesday, January 15, 2013 - 13:17</a></span>
</div>
</div>
<div class="indented"><a id="comment-3512"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Grzegorz!</p>
<p>Dzięki. :-) Nie wiedziałem o tym! Tylko obejrzałem pierwszą i drugą część tych filmów.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/175/3512">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2012/06/%C5%9Bladem-polskich-akcent%C3%B3w-w-filmach-ameryka%C5%84skich#comment-3512">Thursday, January 17, 2013 - 21:43</a></span>
</div>
</div>
</div><a id="comment-5614"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/245105d651d8ebc24581f9ee91a709b6?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć znalazłem coś ciekawego, w filmie Delta force pojawia się polski pistolet maszynowy (PM 63) <a href="http://odkrywca.pl/forum_pics/picsforum26/500pxdf6.jpg" title="http://odkrywca.pl/forum_pics/picsforum26/500pxdf6.jpg">http://odkrywca.pl/forum_pics/picsforum26/500pxdf6.jpg</a></p>
<p>podobnie jak w Rambo 3 </p>
<p><a href="http://www.imfdb.org/images/b/be/Rambo3-PM63a.jpg" title="http://www.imfdb.org/images/b/be/Rambo3-PM63a.jpg">http://www.imfdb.org/images/b/be/Rambo3-PM63a.jpg</a></p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/175/5614">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Krystian (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/%C5%9Bladem-polskich-akcent%C3%B3w-w-filmach-ameryka%C5%84skich#comment-5614">Sunday, December 22, 2013 - 18:55</a></span>
</div>
</div>
<a id="comment-5895"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/549dbcbe0fe57db32078fbe980d71f06?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>W filmie ,,Woda dla słoni'' główny aktor (Robert Pattinson) pochodzi z polskiej rodziny i mówi po polsku (choć bardzo sztucznie) :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/175/5895">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Angelika (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2012/06/%C5%9Bladem-polskich-akcent%C3%B3w-w-filmach-ameryka%C5%84skich#comment-5895">Wednesday, February 5, 2014 - 09:09</a></span>
</div>
</div>
</div>
