---
permalink: /blog/2011/04/5-english-mistakes-commonly-made-by-poles/
layout: blog-old
title: '5 English mistakes commonly made by Poles'
day: 12
month: kwi
year: 2011
category: learn English
tags: 
  - 'mistakes'
language: pl
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/default/files/imagecache/Large/image/2011/04/theyalsohavelife.jpg" rel="lightbox"><img alt="" src="http://www.linguatrek.com/sites/default/files/imagecache/Small/image/2011/04/theyalsohavelife.jpg" title="Mistake?  Or genius!?  Photo by Tuija Aalto"/></a><div class="caption">Mistake?  Or genius!?  <a href="http://www.flickr.com/photos/28214861@N00/28542300">Photo</a> by <a href="http://www.flickr.com/photos/tuija/">Tuija Aalto</a></div></div>
<p>While teaching English in Poland and having language exchanges with Polish people over Skype, I've noticed that there are a few English mistakes that a lot of Poles seem to make.</p>
<p>While other nationalities certainly make these mistakes too, because of my familiarity with Polish, in most cases I can point to some characteristic of the Polish language that the speaker could be <a href="http://en.wikipedia.org/wiki/Language_transfer">transferring</a> to English.</p>
<p>Don't worry, none of the mistakes I'm going to discuss are critical!  Native speakers will still understand, even if you make a few of these mistakes. :-)</p>
<p><strong>Read more to see five mistakes that Poles commonly make when speaking or writing English!</strong></p>
<h2><a name="do-vs-make">do vs. make</a></h2>
<p>Like many languages, Polish only has one word that means both "do" and "make" (<em>robić</em>).  It's always challenging when your native language only has one word, but the language you're learning has two or more corresponding words!  English speakers learning Polish will encounter this as well: in English, we have just one word for "know" but in Polish there are two (<em>wiedzieć</em> and <em>znać</em>).</p>
<p>The basic difference is:</p>
<ul>
<li>We use "make" when the object is created as a result; for example: "make dinner."</li>
<li>We use "do" for activities in general; for example: "do taxes," or "do homework."</li>
</ul>
<p>Confusion arises because both words are used in many expressions which don't follow these rules.  You simply have to memorize them!  For example:</p>
<ul>
<li>make a mistake</li>
<li>make a decision</li>
<li>do someone a favor</li>
<li>do harm</li>
</ul>
<h2><a name="learn-vs-teach">learn vs. teach</a></h2>
<p>"Trevor <del>learns</del> <em>teaches</em> us English!"</p>
<p>This is very similar to <em>do vs. make</em>.  In Polish there is a word for "teach" (<em>uczyć</em>), but the word for "learn" (<em>uczyć się</em>) could be interpreted as "teach oneself."</p>
<p>There are actually dialects of English where people <em>do</em> use "learn" like the example above!  But this is not standard English.</p>
<h2><a name="advices-informations">advices/informations</a></h2>
<p>Both Polish and English have countable and uncountable nouns (meaning some words have plural forms and some do not).  Sometimes these are the same words; for example, these words are uncountable in both languages: water (<em>woda</em>), music (<em>muzyka</em>) and coffee (<em>kawa</em>).  But sometimes words that are countable in Polish are not countable in English.</p>
<p>The two most common examples I hear used incorrectly are "<span style="color: red">advices</span>" and "<span style="color: red">informations</span>."  In Polish, these words are used very frequently in the plural form (<em>porady</em> and <em>informacje</em>).  But in standard English, they can only be used in the singular form: "advice" and "information."</p>
<h2><a name="helper-verb">"He running" / "He done it"</a></h2>
<p>I've noticed that some Polish people sometimes drop the helper verb in sentences that require one.  In Polish, there are no helper verbs.</p>
<p>But I think the problem stems from contractions in English.  It can be difficult to hear a native speaker say the helper verb at all!</p>
<table>
<thead>
<tr>
<th>Sentence</th>
<th>With contraction</th>
<th>Can sound like</th>
<tr>
</tr></tr></thead>
<tr>
<td>He is running</td>
<td>He's running</td>
<td>"<span style="color: red">He running</span>"</td>
</tr>
<tr>
<td>He has done it</td>
<td>He's done it</td>
<td>"<span style="color: red">He done it</span>"</td>
</tr>
<tr>
<td>John had already been there</td>
<td>John'd already been there</td>
<td>"<span style="color: red">John already been there</span>"</td>
</tr>
</table>
<h2><a name="from-where">"From where are you coming?"</a></h2>
<p>The correct version is: "Where are you coming from?"</p>
<p>(<em>Note [2011-09-13]: As pointed out in the comments by <a href="http://www.markshepherd.eu/">Mark Shepherd</a>, in some dialects keeping the preposition in front of the question word is always acceptable.</em>)</p>
<p>Some Poles don't like to end sentences with prepositions.  In Polish, you always put the preposition in front of the object it affects.  But in English, in questions, sometimes you move the preposition to the end of the sentence.</p>
<p><strong>Do you know any other common English mistakes?  Write a comment!</strong></p>
</div>

<div id="comments">
<a id="comment-259"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://blog.krzysztofszumny.pl" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/2acbf0ee0888104f1c90a85266682990?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Do you mean that I can't write "thanks for this informationS?"</p>
<p>Wow, I am in a little shock.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/259">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://blog.krzysztofszumny.pl" rel="nofollow">Krzysztof Szumny - noisy</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-259">wtorek, kwiecień 12, 2011 - 09:02</a></span>
</div>
</div>
<div class="indented"><a id="comment-282"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Yep!  In standard English, "information<em>s</em>" is <strong>never</strong> correct.  Regards, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/282">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-282">czwartek, kwiecień 14, 2011 - 11:50</a></span>
</div>
</div>
<div class="indented"><a id="comment-779"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/a1c56e468866a4b08a2982204b20a54a?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Is sentence "pieces of information/advice" correct?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/779">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">gri (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-779">poniedziałek, wrzesień 12, 2011 - 13:09</a></span>
</div>
</div>
<div class="indented"><a id="comment-780"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Yes!  You can say, for example: "I'll give you two pieces of information" or "two pieces of advice".</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/780">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-780">poniedziałek, wrzesień 12, 2011 - 13:13</a></span>
</div>
</div>
<div class="indented"><a id="comment-781"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/a1c56e468866a4b08a2982204b20a54a?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>I thought so, because I'm almost certain that I've listen to some podcast, where this problem was touched. I can share with you that podcast, but I don't want to offence you, by putting here link.</p>
<p>I'd like to ask you a question about commas. Should I put one of these before e.g. "that" (pol. że; patrz pierwsze zdanie)? </p>
<p>I think, that maybe "won't" and "want" can be confusing too.</p>
<p>Correct my mistakes if you'll be so kind.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/781">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">gri (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-781">poniedziałek, wrzesień 12, 2011 - 13:21</a></span>
</div>
</div>
<div class="indented"><a id="comment-784"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Don't worry, putting a link in a comment won't cause offense so long as it's relavant to the conversation! :-)</p>
<p>No, you don't have to put a comma before "that" (like you do with "że" in Polish).  The rules for commas in English are totally different than in Polish and I have to admit that I make lots of mistakes with them. ;-)</p>
<p>As far as you mistakes in the comment above:</p>
<ul>
<li>I've listen -&gt; I've listened</li>
<li>touched -&gt; touched on</li>
<li>with you that podcast -&gt; that podcast with you</li>
<li>offence you -&gt; offend you</li>
<li>putting here link -&gt; putting the link here</li>
</ul>
<p>But those are all very small mistakes!  You are doing very well. :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/784">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-784">poniedziałek, wrzesień 12, 2011 - 13:33</a></span>
</div>
</div>
<div class="indented"><a id="comment-812"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/a1c56e468866a4b08a2982204b20a54a?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>So, here it is: <a href="http://teacherluke.podomatic.com/" title="http://teacherluke.podomatic.com/">http://teacherluke.podomatic.com/</a> The one before last, named "Common Errors/Typical Mistakes"</p>
<p>I try to use commas in common sense, and I must admit that is a part  of some serious lack of my knowledge ;)</p>
<p>Thanks for pointing me my mistakes, and good word:) </p>
<p>Someone mentioned about pronunciation: <a href="http://www.bbc.co.uk/worldservice/learningenglish/grammar/pron/" title="http://www.bbc.co.uk/worldservice/learningenglish/grammar/pron/">http://www.bbc.co.uk/worldservice/learningenglish/grammar/pron/</a> Pretty good material from the BBC - British accent of course. </p>
<p>There are tons of listen-to (can I say that?) material on iTunes. Some of it is really good - pretty much everything from the BBC is nice, clear spoken etc. </p>
<p>I think I'll look through your site - looks interesting.  </p>
<p>"Tough", "through", "though" are also problematic to me - mainly by spelling - this "-ough-" thing is weird. How can it be: "Tough" [taff] and "though" [doł]?:)</p>
<p>Can you hint me some synonym to "pretty" in meaning like here "You've got pretty nice job here!"</p>
<p>Also, does anyone even use "got" anymore?</p>
<p>Sorry for so long post. Again, can you correct my possible mistakes?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/812">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">gri (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-812">poniedziałek, wrzesień 12, 2011 - 14:51</a></span>
</div>
</div>
<div class="indented"><a id="comment-823"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Thanks for the links!  They look very nice. :-)</p>
<p>"listen-to material" might be "listenable material"?  I'm not entirely sure what you want to say.</p>
<p>Yes, the pronunciation of words with "ough" is very inconsistent.  You simply have to memorize how they are pronounced.  I mentioned these words in a recent post BTW:</p>
<p><a href="http://www.linguatrek.com/blog/2011/09/is-spelling-easier-for-non-native-speakers" title="http://www.linguatrek.com/blog/2011/09/is-spelling-easier-for-non-native-speakers">http://www.linguatrek.com/blog/2011/09/is-spelling-easier-for-non-native...</a></p>
<p>You could also say: "You have a rather nice job".  I can't think of any other synonyms.</p>
<p>Yes, lots of people use "got"!  Such as: "I got a raise", "I got home late last night", etc..</p>
<p>Sure, here are the mistakes I noticed:</p>
<ul>
<li>in common sense -&gt; with common sense</li>
<li>mentioned about pronunciation -&gt; mentioned pronunciation</li>
<li>problematic to me -&gt; problematic for me</li>
<li>mainly by spelling -&gt; mainly because of spelling</li>
<li>can you hint me -&gt; can you give me</li>
</ul>
<p>Hope that helps!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/823">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-823">poniedziałek, wrzesień 12, 2011 - 16:10</a></span>
</div>
</div>
</div></div></div></div></div></div></div><a id="comment-267"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/e2ce83dafdf4d874cb6cce585f48a9ad?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Now I can remember only one mistake: Poles have a tendency to use "actually" instead of "currently", because of polish word "aktualnie". :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/267">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">petrus (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-267">środa, kwiecień 13, 2011 - 15:13</a></span>
</div>
</div>
<a id="comment-279"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/65eedd3d5031d3a52ff4b9772beb40e8?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Eventually in English means finaly - in Polish there is word "ewentualnie" which means "or, as another (less obvious) possibility ...". Like "He should go by bus which is cheap, ewentualnie by train."</p>
<p>Poles often use eventually in English in its Polish meaning. I </p>
<p>I've been also told that Poles often ommit "the" and "a" in sentences or use one when another is required - which is easy to understand, because there's no "the" nor "a" equivalent in Polish.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/279">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-279">czwartek, kwiecień 14, 2011 - 09:39</a></span>
</div>
</div>
<div class="indented"><a id="comment-283"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Good example!  Native speakers of English make the same mistake but in reverse! :-)  I've heard people say "ewentualnie" when they meant "w końcu".</p>
<p>I left "the" and "a" out of this article because I think all nationalities make mistakes with them in English, even when their language has equivalent words.  For example, in Spanish there is "el/la" and "un/una" but even they make similar mistakes in English.  I think "the" and "a" are just plain hard!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/283">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-283">czwartek, kwiecień 14, 2011 - 11:55</a></span>
</div>
</div>
</div><a id="comment-281"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/82360ad58c3452d57ee9214468714f2f?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>I've heard that one of the biggest mistakes, which Poles make, is that Poles say "mep", "plen" instead of "maep", "plaen".</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/281">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-281">czwartek, kwiecień 14, 2011 - 11:15</a></span>
</div>
</div>
<a id="comment-331"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/0d005d9c8c523438be26e82b29935e63?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>And now think of the way Poles pronounce the word "comfortable". If you didn't notice that - write it down and ask them to read. I'd say it's pretty common :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/331">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Tomek (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-331">wtorek, maj 17, 2011 - 13:37</a></span>
</div>
</div>
<div class="indented"><a id="comment-332"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Yes, I've noticed that with several other nationalities too.  That word is just spelled badly! :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/332">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-332">wtorek, maj 17, 2011 - 14:26</a></span>
</div>
</div>
<div class="indented"><a id="comment-785"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/2bb9dc6d4115b5c424a2cb0484d81ef3?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Yes. Very often we (The Poles) spell that word like "comfort-table". It's very hard to us to say it in proper way :) Please forgive us :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/785">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Krzysiek (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-785">poniedziałek, wrzesień 12, 2011 - 13:33</a></span>
</div>
</div>
<div class="indented"><a id="comment-798"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Actually, I don't think it's a matter of the word being hard to pronounce.  Because it's actually quite easy!  It's just that many non-native speakers simply don't know that the pronunciation is so different from the spelling.</p>
<p>If the word had been spelling "comfterble" (the way it's actually pronounced) I don't think anyone would have any problems!</p>
<p>So, no forgiveness necessary.  Maybe it's the non-native speakers who need to forgive the people responsible for creating English spelling. ;-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/798">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-798">poniedziałek, wrzesień 12, 2011 - 14:19</a></span>
</div>
</div>
</div></div></div><a id="comment-368"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/40279ec9d16a8ce40219165a29dc7070?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Pierwszy raz spotykam sie z maep i plaen. O czym tu mowa?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/368">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-368">niedziela, maj 29, 2011 - 16:42</a></span>
</div>
</div>
<div class="indented"><a id="comment-369"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Myślę, że autorowi tego komentarzu chodziło o symbol fonetyczny "æ" (wygląda trochę jak "ae"), ktory reprezentuje dźwięk "a" w słowach "plan" i "map" po angielsku.  Oto jest artykuł o tym dźwieku na Wikipedii <a href="http://pl.wikipedia.org/wiki/Samog%C5%82oska_prawie_otwarta_przednia_niezaokr%C4%85glona">po polsku</a> i <a href="http://en.wikipedia.org/wiki/Near-open_front_unrounded_vowel">po angielsku</a>.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/369">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-369">poniedziałek, maj 30, 2011 - 06:07</a></span>
</div>
</div>
<div class="indented"><a id="comment-1243"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/f174cc157a6d16fe914aefc85fc8f5b1?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>komentarza :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/1243">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-1243">poniedziałek, styczeń 23, 2012 - 14:59</a></span>
</div>
</div>
<div class="indented"><a id="comment-1245"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Dzięki za poprawkę. :-) Pozdrawiam serdecznie, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/1245">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-1245">poniedziałek, styczeń 23, 2012 - 18:20</a></span>
</div>
</div>
</div></div><a id="comment-786"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/2bb9dc6d4115b5c424a2cb0484d81ef3?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Chodzi o wymowę. Słowa takie jak "plan" oraz "map" nie wymawia się ani przez A ani przez E (wymawiane jak w polskim), to brzmi jak połączenie tych dwóch samogłosek ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/786">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Krzysiek (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-786">poniedziałek, wrzesień 12, 2011 - 13:35</a></span>
</div>
</div>
</div><a id="comment-370"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/40279ec9d16a8ce40219165a29dc7070?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Dziękuję za odpowiedź. Tak na marginesie powinno być " tego komentarza".<br/>
Pozdrawiam.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/370">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-370">poniedziałek, maj 30, 2011 - 18:35</a></span>
</div>
</div>
<div class="indented"><a id="comment-371"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Aha!  Dziękuję za poprawkę. :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/371">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-371">poniedziałek, maj 30, 2011 - 21:02</a></span>
</div>
</div>
<a id="comment-995"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/44dd8bf4f9fa103244dd103e5bad6810?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>I wish my english was so "bad" as your polish! ;-)</p>
<p>Regards!</p>
<p>Fabulous job you have done for us!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/995">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-995">piątek, październik 28, 2011 - 18:05</a></span>
</div>
</div>
<div class="indented"><a id="comment-996"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Thanks for the kind words! :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/996">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-996">piątek, październik 28, 2011 - 20:02</a></span>
</div>
</div>
<a id="comment-1339"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.boshka-art.blogspot.com" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/8b6885c2dd3a8c459c143dcad2dd5e58?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Yes I totally agreed with you.Few monts ago-when I found him on YT -I feel in love in this dude- because of his imagination,big big heart for us - other "poor" people trying to learn foreign language;)))And his sunny,bright  personality ;-))how nice he is, isn't?....in a few simply words of his advance - he is  giving us a big KICK on our hard way of learning ;-))</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/1339">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.boshka-art.blogspot.com" rel="nofollow">Boshka</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-1339">wtorek, luty 21, 2012 - 07:14</a></span>
</div>
</div>
</div></div><a id="comment-391"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/40279ec9d16a8ce40219165a29dc7070?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Ja tak z innej beczki ( tzn. zupełnie nie na temat). Interesuje mnie jak powiedzieć po angielsku  "jesień życia". Czyli wiek w którym starsi ludzie są na emeryturze i cieszą się jej urokami.<br/>
Z góry dziękuję za odpowiedziedź.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/391">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-391">czwartek, czerwiec 2, 2011 - 14:55</a></span>
</div>
</div>
<div class="indented"><a id="comment-396"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć!</p>
<p>Nie jestem pewien, że to znaczy dokładnie tak samo, ale kiedy ktoś jest na emeryturze, mówi się, że to są ich "golden years" ("złote lata").</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
<p>PS: Dziękuję bardzo za wyjaśnienie frazy "z innej beczki". :-)  Słyszałem to już wiele razy a nie byłem pewien co to znaczy.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/396">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-396">piątek, czerwiec 3, 2011 - 06:46</a></span>
</div>
</div>
<div class="indented"><a id="comment-772"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/403a92aadb07bca35aeb75ab0ff6ed62?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Monty Python's "And Now For Something Completely Different" jest przetłumaczone na "A teraz coś z zupełnie innej beczki". Dla fanów Monty Pythona to zdanie jest kultowe :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/772">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-772">poniedziałek, wrzesień 12, 2011 - 07:44</a></span>
</div>
</div>
<div class="indented"><a id="comment-850"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/dc4e7b3b725b7ab213107c578019248e?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>A wymyślił je nieodżałowany Tomasz Beksiński. Gdyby nie on i jego nieprzeciętne umiejętności przeniesienia bardzo specyficznego humoru Pythonów pewnie nigdy latający cyrk i filmy tej grupy nie zdobyły by w u nas takiej popularności.<br/>
Widziałem odcinki w innych tłumaczeniach i to już zdecydowanie nie było to...</p>
<p>Pozdrowienia.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/850">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">adameq (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-850">wtorek, wrzesień 13, 2011 - 02:08</a></span>
</div>
</div>
</div></div></div><a id="comment-513"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/4ad4a9306cb1af2bd9d113c217a09125?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Moim osobistym zdaniem prawdopodobnie większość Polaków ma problem z poprawna wymowa angielskich samoglosek jak również dwuch sepleniacych dźwięków jakich nie ma w polskim. Mowa o th w takich wyrazach jak: the, this, third, fifth czy that, those etc. Pamietam, będąc w Polsce gdzie uczyłem się angielskiego, za skarby swiata żadna osoba ani książka nie potrafiła efektywnie wyjaśnić jak poprawnie zbudować ten dźwięk, podczas gdy po przyjeździe do USA znajoma Amerykanka nauczyła mnie wszystkiego w 2 minuty. Większość studentów mowila tank you, sank you lub fank you. Nikt nie potrafił powiedzieć thank. Problem z samogloskami w angielskim dla odmiany jest taki, ze reprezentują one wiele bardzo podobnie brzmiacych dla Polaka dźwięków których subtelnych różnic polskie ucho nie wylapuje. Polskie A, E, O czy I  wypwiada się zawsze tak samo, podczs gdy angielskiem samogloskom odpowiada na ogol kilka różnych dźwięków. Aby wyjaśnić.  Slyszac rodowitego amerykanina wypowiadajacego grass i cup słyszę ze w obu wyrazach A brzmi jakoś inaczej, niemniej nie potrafię krystalicznie precyzyjnie zarejstrowac i w konsekwencji zreprodukowac różnicy. Mój mózg rejestruje A w obu wyrazach jako ten sam dźwięk - polskie A. Wyrazy wypowiedziane przeze mnie bedą brzmieć w konsekwencji: grAs, cAp, no i oczywiście nie zadko usłysze: Mike, in this country we saying graaaaass, baaaaaasss not grus. Ktoś wspomniał już o AE - kolejny dzwiek jakiego polski nie ma. Istnieją równiez inne klopotliwe dla polaka dzwieki jak wybuchowe K np w cat (szczegolnie brytyjski angielski), czy SH ktore zupelnie nie odpowiada polskiemu SZ. Analogicznie bardzo niewielu obcokrajowcow potrafi poprawnie wymowic polskie SZ, czesto używając dźwięku bardziej przypominajacego Ś niz SZ.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/513">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Michał H (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-513">niedziela, lipiec 3, 2011 - 01:52</a></span>
</div>
</div>
<div class="indented"><a id="comment-514"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Dziękuję za komentarz!</p>
<p>Dźwięk TH jest problemem dla większości narodów uczących się angielskiego ale również dla Polaków. :-)</p>
<p>Oto są dwa dobre filmiki na YouTube'ie o tym, jak wymawiać ten dźwięk:</p>
<ul>
<li><a href="http://www.youtube.com/watch?v=Y30HHD6IdMc">Ynglisz Tips: /th/ bezdźwięczny</a></li>
<li><a href="http://www.youtube.com/watch?v=NQpSQAKIC34">Ynglisz Tips: /th/ dźwięczne</a></li>
</ul>
<p>To prawda, mamy sporo samogłosek, o wiele więcej niż w języku polskim.  To może cały nowy artykuł!  Dziękuję za pomysł. :-)</p>
<p>Ja sam mam problemy z różnicą między SZ i Ś (jak wyraźniej słychać w moich filmikach) ale moim zdaniem, robię to odwrotnie.  Wydaje mi się, że dobrze wymawiam SZ i najczęściej wymawiam Ś tak samo jak SZ.  Ale oczywiście jest trudno sam to ocenić. ;-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/514">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-514">poniedziałek, lipiec 4, 2011 - 07:06</a></span>
</div>
</div>
<div class="indented"><a id="comment-787"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/2bb9dc6d4115b5c424a2cb0484d81ef3?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>"Ale oczywiście jest trudno sam to ocenić. ;-)"</p>
<p>Powinno być "samemu to ocenić" :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/787">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Krzysiek (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-787">poniedziałek, wrzesień 12, 2011 - 13:40</a></span>
</div>
</div>
<div class="indented"><a id="comment-799"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Dziękuję bardzo za poprawkę! :-) Pozdrawiam, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/799">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-799">poniedziałek, wrzesień 12, 2011 - 14:20</a></span>
</div>
</div>
</div></div><a id="comment-793"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/a85a2602e4950ad4b2dc4899ed9b969e?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>...A wielu Polaków ma problem z ortografią. DWÓCH bo DWOJE. A za  "Moim osobistym" polonistka też by mnie objechała :).</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/793">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Informatyk (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-793">poniedziałek, wrzesień 12, 2011 - 14:05</a></span>
</div>
</div>
<div class="indented"><a id="comment-800"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Właśnie napisałem artykuł o tym, że ortografia jest trudniejsza dla native speakerów danego języka:</p>
<p><a href="http://www.linguatrek.com/blog/2011/09/is-spelling-easier-for-non-native-speakers" title="http://www.linguatrek.com/blog/2011/09/is-spelling-easier-for-non-native-speakers">http://www.linguatrek.com/blog/2011/09/is-spelling-easier-for-non-native...</a></p>
<p>Jak o tym sądzisz? :-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/800">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-800">poniedziałek, wrzesień 12, 2011 - 14:23</a></span>
</div>
</div>
<div class="indented"><a id="comment-807"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/087f948f3ec5d6a51e7737d5cfcf364d?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>"Co o tym sądzisz?" or "Co sądzisz?"/"Jak sądzisz?" (rare)</p>
<p>And I think that you are quite right.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/807">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-807">poniedziałek, wrzesień 12, 2011 - 14:40</a></span>
</div>
</div>
<a id="comment-808"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/2bb9dc6d4115b5c424a2cb0484d81ef3?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>"Jak o tym sądzisz?" - powinno być tak jak w angielskim "CO o tym sądzisz? / WHAT do You think?"</p>
<p>Bardzo dobrze się czyta Twojego bloga i Twój polski ! :) Pozdrawiam.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/808">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Krzysiek (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-808">poniedziałek, wrzesień 12, 2011 - 14:40</a></span>
</div>
</div>
<div class="indented"><a id="comment-810"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Dzięki za poprawkę. :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/810">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-810">poniedziałek, wrzesień 12, 2011 - 14:42</a></span>
</div>
</div>
</div></div></div></div><a id="comment-771"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/e0e5739b9a821af49d0852e989ab304d?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Many of polish people do this mistake: I have a right.<br/>
Correct: I am a right.</p>
<p>If I did mistake please correct me ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/771">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous666 (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-771">poniedziałek, wrzesień 12, 2011 - 07:29</a></span>
</div>
</div>
<div class="indented"><a id="comment-774"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Almost correct! :-)  It should be: <em>I am right.</em> (Without the "a")</p>
<p>Thanks for sharing!  I had forgotten about this mistake.</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/774">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-774">poniedziałek, wrzesień 12, 2011 - 10:07</a></span>
</div>
</div>
<div class="indented"><a id="comment-788"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/2bb9dc6d4115b5c424a2cb0484d81ef3?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Because our polish word "mieć" (have in english) ... In polish we say "Mam rację" - that is a reason of our mistakes ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/788">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Krzysiek (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-788">poniedziałek, wrzesień 12, 2011 - 13:42</a></span>
</div>
</div>
<a id="comment-820"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/27e4e3763855c5fae1f1a9fdb590de39?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Hello!<br/>
Is it correct to say "I had forgotten"? I thought that Past Perfect is used when we do something after doing something in the past :) Isn't correct "I have forgotten" in that particural example?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/820">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Michal (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-820">poniedziałek, wrzesień 12, 2011 - 15:54</a></span>
</div>
</div>
<div class="indented"><a id="comment-826"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Both can be correct, it depends on what the speaker means.  "I have forgotten" means that it concerns something that is relavant NOW (ie. I still can't remember now).   "I had forgotten" means that it concerns something that was relavant in the past (ie. I had forgotten but now I remember).</p>
<p>Hope that helps!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/826">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-826">poniedziałek, wrzesień 12, 2011 - 16:19</a></span>
</div>
</div>
</div></div><a id="comment-822"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/f06bc8f8cd8de78e8c3f82d8fc0e6310?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Actually you made mistake twice. When you wrote "do this mistake" and "If I did mistake" (see first example in article) :-)</p>
<p>Am I right this time?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/822">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">mario_orcus (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-822">poniedziałek, wrzesień 12, 2011 - 15:58</a></span>
</div>
</div>
</div><a id="comment-773"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/ee1d29cad3c4d3f72fb24a166e17b864?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Some polish ppl think that plural form of hair is hairs..</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/773">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">pele (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-773">poniedziałek, wrzesień 12, 2011 - 09:22</a></span>
</div>
</div>
<div class="indented"><a id="comment-775"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Ah, yeah, I had forgotten about that mistake too.  Thanks for sharing! Regards, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/775">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-775">poniedziałek, wrzesień 12, 2011 - 10:08</a></span>
</div>
</div>
<div class="indented"><a id="comment-776"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/4f1dd0755b950a34470bf45fc039852c?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Hi!<br/>
Plural for hair is hairs - one hair, two hairs etc. But when we're talking about collection of hair that's still hair.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/776">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">ejty (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-776">poniedziałek, wrzesień 12, 2011 - 12:54</a></span>
</div>
</div>
<a id="comment-811"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/4dbf050040e6a62313a7fde14995eaf1?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Wait. Hairs IS a proper plural for a hair! It's just that "the whole hairy thing we have on our heads" is called with the uncountable, singular-like form.</p>
<p>This is a hair.<br/>
These are two hairs.<br/>
I have black hair.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/811">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">mackowaty (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-811">poniedziałek, wrzesień 12, 2011 - 14:50</a></span>
</div>
</div>
<div class="indented"><a id="comment-813"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Yes, yes, you are correct!  However, the appropriate use of "hairs" is relatively uncommon.  Probably women use it the most to talk about "stray hairs" (individual hairs that aren't in the place where they should be).</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/813">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-813">poniedziałek, wrzesień 12, 2011 - 14:53</a></span>
</div>
</div>
</div></div></div><div class="item-list"><ul class="pager"><li class="pager-current first">1</li>
<li class="pager-item"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles-page-1" title="Przejdź do strony 2">2</a></li>
<li class="pager-item"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles-page-2" title="Przejdź do strony 3">3</a></li>
<li class="pager-next"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles-page-1" title="Przejdź do następnej strony">następna ›</a></li>
<li class="pager-last last"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles-page-2" title="Przejdź do ostatniej strony">ostatnia »</a></li>
</ul></div><div class="box">
<h2>Dodaj nową odpowiedź</h2>
<div class="content"><form accept-charset="UTF-8" action="/comment/reply/60" id="comment-form" method="post">
<div><div class="form-item" id="edit-name-wrapper">
<label for="edit-name">Nazwisko lub pseudonim: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-name" maxlength="60" name="name" size="30" type="text" value="Anonymous"/>
</div>
<div class="form-item" id="edit-mail-wrapper">
<label for="edit-mail">E-mail: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-mail" maxlength="64" name="mail" size="30" type="text" value=""/>
<div class="description">Zawartość pola nie będzie udostępniana publicznie. If you have a <a href="http://www.gravatar.com">Gravatar</a> account, used to display your avatar.</div>
</div>
<div class="form-item" id="edit-homepage-wrapper">
<label for="edit-homepage">Strona domowa: </label>
<input class="form-text" id="edit-homepage" maxlength="255" name="homepage" size="30" type="text" value=""/>
</div>
<div class="form-item" id="edit-comment-wrapper">
<label for="edit-comment">Odpowiedź: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<textarea class="form-textarea resizable required" cols="60" id="edit-comment" name="comment" rows="15"></textarea>
</div>
<ul class="tips"><li>Adresy internetowe są automatycznie zamieniane w odnośniki, które można kliknąć.</li><li>Dozwolone znaczniki HTML: &lt;a&gt; &lt;em&gt; &lt;strong&gt; &lt;cite&gt; &lt;code&gt; &lt;ul&gt; &lt;ol&gt; &lt;li&gt; &lt;dl&gt; &lt;dt&gt; &lt;dd&gt; &lt;blockquote&gt;</li><li>Znaki końca linii i akapitu dodawane są automatycznie.</li></ul><input id="form-84dd1d69399a04278c4391072bc2c9ec" name="form_build_id" type="hidden" value="form-84dd1d69399a04278c4391072bc2c9ec"/>
<input id="edit-comment-form" name="form_id" type="hidden" value="comment_form"/>
<div class="clear-block"><div class="form-item" id="edit-notify-wrapper">
<label class="option" for="edit-notify"><input checked="checked" class="form-checkbox" id="edit-notify" name="notify" type="checkbox" value="1"/> Notify me when new comments are posted</label>
</div>
<div class="form-radios"><div class="form-item" id="edit-notify-type-1-wrapper">
<label class="option" for="edit-notify-type-1"><input class="form-radio" id="edit-notify-type-1" name="notify_type" type="radio" value="1"/> All comments</label>
</div>
<div class="form-item" id="edit-notify-type-2-wrapper">
<label class="option" for="edit-notify-type-2"><input checked="checked" class="form-radio" id="edit-notify-type-2" name="notify_type" type="radio" value="2"/> Replies to my comment</label>
</div>
</div></div><input class="mollom-session-id" id="edit-mollom-session-id" name="mollom[session_id]" type="hidden" value=""/>
<div style="display: none;"><div class="form-item" id="edit-mollom-homepage-wrapper">
<input class="form-text" id="edit-mollom-homepage" maxlength="128" name="mollom[homepage]" size="60" type="text" value=""/>
</div>
</div><div class="description mollom-privacy">Wysłanie formularza jest równoznaczne z akceptacją <a href="http://mollom.com/web-service-privacy-policy">polityki prywatności usługi Mollom</a>.</div><input class="form-submit" id="edit-preview" name="op" type="submit" value="Podgląd"/>
</div></form>
</div>
</div>
</div>
