---
permalink: /blog/2011/04/5-english-mistakes-commonly-made-by-poles-page-2/
layout: blog-old
title: '5 English mistakes commonly made by Poles'
day: 12
month: Apr
year: 2011
category: learn English
tags: 
  - 'mistakes'
language: en
translation: /blog/2011/04/5-english-mistakes-commonly-made-by-poles/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/default/files/imagecache/Large/image/2011/04/theyalsohavelife.jpg" rel="lightbox"><img alt="" src="http://www.linguatrek.com/sites/default/files/imagecache/Small/image/2011/04/theyalsohavelife.jpg" title="Mistake?  Or genius!?  Photo by Tuija Aalto"/></a><div class="caption">Mistake?  Or genius!?  <a href="http://www.flickr.com/photos/28214861@N00/28542300">Photo</a> by <a href="http://www.flickr.com/photos/tuija/">Tuija Aalto</a></div></div>
<p>While teaching English in Poland and having language exchanges with Polish people over Skype, I've noticed that there are a few English mistakes that a lot of Poles seem to make.</p>
<p>While other nationalities certainly make these mistakes too, because of my familiarity with Polish, in most cases I can point to some characteristic of the Polish language that the speaker could be <a href="http://en.wikipedia.org/wiki/Language_transfer">transferring</a> to English.</p>
<p>Don't worry, none of the mistakes I'm going to discuss are critical!  Native speakers will still understand, even if you make a few of these mistakes. :-)</p>
<p><strong>Read more to see five mistakes that Poles commonly make when speaking or writing English!</strong></p>
<h2><a name="do-vs-make">do vs. make</a></h2>
<p>Like many languages, Polish only has one word that means both "do" and "make" (<em>robić</em>).  It's always challenging when your native language only has one word, but the language you're learning has two or more corresponding words!  English speakers learning Polish will encounter this as well: in English, we have just one word for "know" but in Polish there are two (<em>wiedzieć</em> and <em>znać</em>).</p>
<p>The basic difference is:</p>
<ul>
<li>We use "make" when the object is created as a result; for example: "make dinner."</li>
<li>We use "do" for activities in general; for example: "do taxes," or "do homework."</li>
</ul>
<p>Confusion arises because both words are used in many expressions which don't follow these rules.  You simply have to memorize them!  For example:</p>
<ul>
<li>make a mistake</li>
<li>make a decision</li>
<li>do someone a favor</li>
<li>do harm</li>
</ul>
<h2><a name="learn-vs-teach">learn vs. teach</a></h2>
<p>"Trevor <del>learns</del> <em>teaches</em> us English!"</p>
<p>This is very similar to <em>do vs. make</em>.  In Polish there is a word for "teach" (<em>uczyć</em>), but the word for "learn" (<em>uczyć się</em>) could be interpreted as "teach oneself."</p>
<p>There are actually dialects of English where people <em>do</em> use "learn" like the example above!  But this is not standard English.</p>
<h2><a name="advices-informations">advices/informations</a></h2>
<p>Both Polish and English have countable and uncountable nouns (meaning some words have plural forms and some do not).  Sometimes these are the same words; for example, these words are uncountable in both languages: water (<em>woda</em>), music (<em>muzyka</em>) and coffee (<em>kawa</em>).  But sometimes words that are countable in Polish are not countable in English.</p>
<p>The two most common examples I hear used incorrectly are "<span style="color: red">advices</span>" and "<span style="color: red">informations</span>."  In Polish, these words are used very frequently in the plural form (<em>porady</em> and <em>informacje</em>).  But in standard English, they can only be used in the singular form: "advice" and "information."</p>
<h2><a name="helper-verb">"He running" / "He done it"</a></h2>
<p>I've noticed that some Polish people sometimes drop the helper verb in sentences that require one.  In Polish, there are no helper verbs.</p>
<p>But I think the problem stems from contractions in English.  It can be difficult to hear a native speaker say the helper verb at all!</p>
<table>
<thead>
<tr>
<th>Sentence</th>
<th>With contraction</th>
<th>Can sound like</th>
<tr>
</tr></tr></thead>
<tr>
<td>He is running</td>
<td>He's running</td>
<td>"<span style="color: red">He running</span>"</td>
</tr>
<tr>
<td>He has done it</td>
<td>He's done it</td>
<td>"<span style="color: red">He done it</span>"</td>
</tr>
<tr>
<td>John had already been there</td>
<td>John'd already been there</td>
<td>"<span style="color: red">John already been there</span>"</td>
</tr>
</table>
<h2><a name="from-where">"From where are you coming?"</a></h2>
<p>The correct version is: "Where are you coming from?"</p>
<p>(<em>Note [2011-09-13]: As pointed out in the comments by <a href="http://www.markshepherd.eu/">Mark Shepherd</a>, in some dialects keeping the preposition in front of the question word is always acceptable.</em>)</p>
<p>Some Poles don't like to end sentences with prepositions.  In Polish, you always put the preposition in front of the object it affects.  But in English, in questions, sometimes you move the preposition to the end of the sentence.</p>
<p><strong>Do you know any other common English mistakes?  Write a comment!</strong></p>
</div>

<div id="comments">
<div class="indented"><a id="comment-871"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Actually, my modest little blog has gotten so little traffic that that may have been the first "troll" ever. ;-)  If I start getting a lot of them, maybe I'll start banning them.  But, hey, maybe this means I'm becoming more popular! :-)</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/871">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-871">Tuesday, September 13, 2011 - 15:29</a></span>
</div>
</div>
</div><a id="comment-848"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8f6a1bc8bb62f4c2d875883f40c6aa19?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi.<br/>
Another major mistake done by many people is to incorrect use (or no use at all) English articles: a/the.<br/>
Regards.</p>
<p>Cześć.<br/>
Kolejnym dużym błędem popełnianym przez wielu ludzi jest niewłaściwe używanie (lub nieużywanie) przedimków angielskich: a/the.<br/>
Pozdrawiam.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/848">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-848">Tuesday, September 13, 2011 - 01:09</a></span>
</div>
</div>
<div class="indented"><a id="comment-855"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Absolutely!  While it very easy to understand someone who uses the articles (a/an/the) incorrectly, I don't know any non-native speakers who don't make mistakes with them on a regular basis.  This affects all nationalities, of course, not just Poles. :-)</p>
<p>Thanks for your comment!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/855">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-855">Tuesday, September 13, 2011 - 06:55</a></span>
</div>
</div>
</div><a id="comment-854"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/2fdee0bde70725c35e4571b335537fe8?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi Dave. thanks for your lessons. I love your page. Anyway you do great with learning Polish. I'm in the US for 11 years already, but there is one thing I don't understand in American-English. Would you kindly explain using and meaning of phrase "ain't"? Thank you and best regards.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/854">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Andy Botwin (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-854">Tuesday, September 13, 2011 - 06:50</a></span>
</div>
</div>
<div class="indented"><a id="comment-860"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Andy!</p>
<p>Thanks for the kind words, I'm glad you like my blog. :-)</p>
<p>You can use "ain't" any time you would normal use "am not", "is not" or "are not".  So, for example: I ain't going (I'm not going), He ain't going (He isn't going), They ain't going (They're not going).</p>
<p>Hope that helps!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/860">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-860">Tuesday, September 13, 2011 - 07:15</a></span>
</div>
</div>
<div class="indented"><a id="comment-863"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/2fdee0bde70725c35e4571b335537fe8?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Thank you David. It explains a lot! I hope you will  have a little spare time to explain some "lingo". For example ebonix or even dialect from mid-west. I remember, few years ago schools from Bronx tried to put Ebonix in their classrooms, but it didn'n come through. Interesting, isn't it?  Also someone  mentioned a word " comfortable"- here in NY it sounds like " cOmftybul" with accent on first sylabe. Am I right? Thank you.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/863">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Andy Botwin (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-863">Tuesday, September 13, 2011 - 08:32</a></span>
</div>
</div>
<div class="indented"><a id="comment-864"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Yeah, I think it was very interesting that ebonics was getting some official recognition!  It would have been interesting to see it get further in the education system to see if it would have helped the same way bilingual schools help native Spanish speakers.</p>
<p>I don't know how they say it in New York (I've never been there) but by us we say it sort of like "comfterbul" with the accent on the first syllable.  Based on comedians making fun of New York accents, your respelling looks about right. ;-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/864">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-864">Tuesday, September 13, 2011 - 09:00</a></span>
</div>
</div>
</div></div></div><a id="comment-866"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/2fdee0bde70725c35e4571b335537fe8?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>At least we don't " mumble" here  like Brits for example. ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/866">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Andy Botwin (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-866">Tuesday, September 13, 2011 - 09:17</a></span>
</div>
</div>
<a id="comment-886"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8cf967ac96b3b75ddd0c5d2376ce52dc?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>ja na poczatku nauki angielskiego mialam problem ze znalezieniem slowa 'że' z racji tego ze w polsce 'że' jest uzywane bardzo czesto w roznych kontekstach, a w angielskim jest duzo slow ktore znacza 'że' ale trzeba wiedziec kiedy ich uzywac.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/886">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">lola1212 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-886">Wednesday, September 14, 2011 - 14:49</a></span>
</div>
</div>
<div class="indented"><a id="comment-890"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć!</p>
<p>Dziękuję bardzo za komentarz!</p>
<p>Sam mam ten problem odwrotnie. :-)  Czasem zapominam dodać "że" bo nie jest zawsze potrzebne po angielsku, np: "I know (that) you're comming."  To zdanie jest całkiem poprawne albo z słowem "że" albo bez.  Kiedy mówię po polsku muszę pamiętać, że zawsze muszę go dodać!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/890">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-890">Wednesday, September 14, 2011 - 17:32</a></span>
</div>
</div>
</div><a id="comment-891"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/5e27f65926d4d4caf732748715bfe28c?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>For me the best recognisible thnig about Poles is pronunciation<br/>
of words "chicken" and "spinach". When I was in UK, British used to laugh at the spelling like cziken and spinacz.:)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/891">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-891">Thursday, September 15, 2011 - 05:35</a></span>
</div>
</div>
<div class="indented"><a id="comment-892"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>A jak wymawiają Polacy "chicken" i "spinach"?  Jakby pisały się "cziken" i "spinacz"?</p>
<p>Najprawdopodobniej kiedyś słyszałem jak Polacy te mówią, kiedy uczyłem angielskiego w Polsce ale nie pamiętam dokładnie jak było. :-)  W porównaniu z innymi narodami Polacy mają dość dobrą wymową po angielsku (mówiąc ogólnie).</p>
<p>Dziękuję bardzo za komentarz!</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/892">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-892">Thursday, September 15, 2011 - 06:44</a></span>
</div>
</div>
</div><a id="comment-1085"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/b00137ce6965d02cbbe02e43da1b8bed?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Thank you very much for this website. I just have joined :D<br/>
It's really great. My English is terribly incorrect because I have lived in South Africa for some time and well, I can speak fluently but... not always it is like it should be. I am now preparing myself to CAE egzam. Well, I just started so.. will see. But I think you speak Polish really great, David, and you are in general very talented - this website is a proof for it. Greetings! :)</p>
<p>p.s. did I make some mistakes? :D</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/1085">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">P.o.l.a (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-1085">Thursday, December 8, 2011 - 18:25</a></span>
</div>
</div>
<div class="indented"><a id="comment-1098"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks!  Your English seems very good to me.  Yes, you made some mistakes, but only very small ones.  And actually, they might be correct in South African English, because they do speak quite differently than Americans.  Please let me know if you'd like me to correct the mistakes I see!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/1098">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-1098">Saturday, December 10, 2011 - 09:45</a></span>
</div>
</div>
<div class="indented"><a id="comment-1102"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/b00137ce6965d02cbbe02e43da1b8bed?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Yes, I would be very grateful if you could correct me :)<br/>
I would like to learn American-English.<br/>
Thank you very much :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/1102">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">P.o.l.a (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-1102">Saturday, December 10, 2011 - 10:36</a></span>
</div>
</div>
</div><a id="comment-1103"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Corrections:</p>
<ul>
<li>I just have joined -&gt; I have just joined</li>
<li>not always it is like it should be -&gt; not always like it should be</li>
<li>preparing myself to CAE egzam -&gt; preparing for the CAE exam</li>
<li>this website is a proof for it -&gt; this website is proof of it</li>
</ul>
<p>I hope that helps!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/1103">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-1103">Saturday, December 10, 2011 - 11:24</a></span>
</div>
</div>
<div class="indented"><a id="comment-1104"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/b00137ce6965d02cbbe02e43da1b8bed?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Yes, a lot, thank you :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/1104">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">P.o.l.a (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-1104">Saturday, December 10, 2011 - 18:27</a></span>
</div>
</div>
</div></div><a id="comment-1105"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/6513fc32c9d7b5dc01cc7d6c4001c394?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I just read your post, I don't know why google redirected me here, because originally I was searching for american stereotypes but I read it and found the comments very interesting.<br/>
I am studying at a Polish University in English and because I did my Bachelor's degree in England it's sometimes quite funny to listen to them. I noticed that they like to switch around "it" and "is" in questions - for example instead of "What is it" they ask "What it is", not to mention that stating "What is it" sounds, at least for me, more like a concerned question if everything is alright rather than to ask for any explanation for something.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/1105">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-1105">Sunday, December 11, 2011 - 05:05</a></span>
</div>
</div>
<div class="indented"><a id="comment-1106"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>I recently started a series of articles about American stereotypes!  There are only two so far (more to follow):</p>
<p><a href="http://www.linguatrek.com/tags/american-stereotypes" title="http://www.linguatrek.com/tags/american-stereotypes">http://www.linguatrek.com/tags/american-stereotypes</a></p>
<p>I've also noticed both those errors, although more in writing than in speech.  Thanks for sharing!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/1106">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-1106">Sunday, December 11, 2011 - 14:32</a></span>
</div>
</div>
</div><a id="comment-1193"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/02c65f77d844916e41bde8d96478bddc?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Thanks david,</p>
<p>do you have such a list for native english speakers learning Polish? I have an amazing preposition chart and while I can memorize how to use it along with the corresponding case, I've noticed a difference in how prepositions translate from polish to English (or English to Polish for that matter). For example to say 'on Saturday' is translated 'in Saturday' in Polish.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/1193">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Keela Helstrom (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-1193">Tuesday, January 10, 2012 - 19:04</a></span>
</div>
</div>
<div class="indented"><a id="comment-1200"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>I do not but I wish I did! :-)  Yeah, prepositions rarely line up except in very similar languages.  I make <em>tons</em> of mistakes like that in Polish.  In a recent video I said, "Witamy do naszego mieszkania" (because in English it's: Welcome <em>to</em> our apartment) but in Polish it should be "Witamy w naszym mieszkaniu."</p>
<p>It's been a while since I talked to a lot of non-native speakers of Polish.  Most of them I knew in Poland.  But I'll see if I can't put a list together eventually. :-)</p>
<p>See ya!<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/1200">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-1200">Wednesday, January 11, 2012 - 20:33</a></span>
</div>
</div>
</div><a id="comment-1198"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.fisz.co.uk/index-2.html" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/1e0c0c69693fdb3c03bf5c5f6e4bac38?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>I still make so of these mistakes!!!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/1198">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.fisz.co.uk/index-2.html" rel="nofollow">Polish translation services</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-1198">Wednesday, January 11, 2012 - 16:14</a></span>
</div>
</div>
<a id="comment-1258"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/0d9e89a5214f230f4d019d0eafd7db1d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hello David<br/>
Maybe it isn't the right place to write this comment but it really bother me and I'm pretty sure I'll make mistakes if I don't ask you first. When I want to greet someone who is older than me and I want to sound polite, how should I do this? Is a regular "Good morning/evening" enough? What about saying "Goodbye"? Is it polite as well? What if I want to say "dziękuję za gościnę", does "thank you very much for your hospitality" fit? I must say that it sounds weird for me and a little bit unnaturally.<br/>
Thank you for your help!<br/>
Pozdrawiam,<br/>
Joanna</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/1258">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Joanna (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-1258">Thursday, January 26, 2012 - 05:20</a></span>
</div>
</div>
<div class="indented"><a id="comment-1270"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Joanna!</p>
<p>Yes, "good morning/afternoon/evening/night" are all polite along with "goodbye."  "Thank you for your hospitality," is a good translation and is also very formal.  So you can definitely use them!</p>
<p>But I should note that Americans aren't big on formality.  In fact, many Americans (myself included) actively dislike formality. ;-)  I don't know how the English feel about it.</p>
<p>I'd personally recommend "thanks for everything" rather than "thank you for your hospitality," it's much less formal.</p>
<p>I hope that helps!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/1270">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-1270">Saturday, January 28, 2012 - 09:51</a></span>
</div>
</div>
<div class="indented"><a id="comment-1271"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/0d9e89a5214f230f4d019d0eafd7db1d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hello David,</p>
<p>Thank you very much!!!! I'm going to visit an English family and I just wanted to be nice to them, to not sound rude at all. I also have no idea if they like being more formal or not. We will see.<br/>
My boyfriend is English and he is learning Polish. I showed your videos to him and he was really impressed of what you are doing. Keep doing that!<br/>
Thank you once more.<br/>
Pozdrawiam serdecznie,<br/>
Joanna</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/1271">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Joanna (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-1271">Saturday, January 28, 2012 - 10:05</a></span>
</div>
</div>
</div></div><a id="comment-1265"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://balilanguageschool.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a3b0ab7482fff9062079938d15b0c8d6?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>I teach English in Indonesia,  countable / uncountable noun lesson is always confusing for my students. since we don't have countable or uncountable noun in Indonesian . :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/1265">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://balilanguageschool.com" rel="nofollow">Learn Indonesian in Bali</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-1265">Thursday, January 26, 2012 - 20:51</a></span>
</div>
</div>
<div class="indented"><a id="comment-1276"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>That's very interesting!  All the languages I've ever learned had countable/uncountable nouns - they were just different nouns. ;-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/1276">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-1276">Saturday, January 28, 2012 - 11:59</a></span>
</div>
</div>
</div><a id="comment-1962"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d0a0550a399ed7b6dd80fc206afae53a?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Jest jeszcze problem pożyczać, czyli lend/borrow. W języku Polskim jest tylko jeden wyraz na to, wiec jest to tez dość częsty błąd.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/1962">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Lukasz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-1962">Monday, May 21, 2012 - 04:45</a></span>
</div>
</div>
<div class="indented"><a id="comment-1996"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Różnica między słowa "lend" i "borrow" nie istnieje w każdym dialekcie. Np. w <a href="http://www.linguatrek.com/blog/2011/02/milwaukee-wisconsin-unique-english-dialect">moim ojczystym dialekcie</a> mówi się tylko "borrow" w obu znaczeniach. :-) Ale masz rację - w standardowym angielskim jest taki problem dla Polaków. Pozdrawiam serdecznie, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/1996">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-1996">Wednesday, May 23, 2012 - 12:10</a></span>
</div>
</div>
</div><div class="item-list"><ul class="pager"><li class="pager-first first"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles" title="Go to first page">« first</a></li>
<li class="pager-previous"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles-page-1" title="Go to previous page">‹ previous</a></li>
<li class="pager-item"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles" title="Go to page 1">1</a></li>
<li class="pager-item"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles-page-1" title="Go to page 2">2</a></li>
<li class="pager-current last">3</li>
</ul></div>
</div>
