---
permalink: /blog/2011/04/5-english-mistakes-commonly-made-by-poles-page-1/
layout: blog-old
title: '5 English mistakes commonly made by Poles'
day: 12
month: Apr
year: 2011
category: learn English
tags: 
  - 'mistakes'
language: en
translation: /blog/2011/04/5-english-mistakes-commonly-made-by-poles/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/default/files/imagecache/Large/image/2011/04/theyalsohavelife.jpg" rel="lightbox"><img alt="" src="http://www.linguatrek.com/sites/default/files/imagecache/Small/image/2011/04/theyalsohavelife.jpg" title="Mistake?  Or genius!?  Photo by Tuija Aalto"/></a><div class="caption">Mistake?  Or genius!?  <a href="http://www.flickr.com/photos/28214861@N00/28542300">Photo</a> by <a href="http://www.flickr.com/photos/tuija/">Tuija Aalto</a></div></div>
<p>While teaching English in Poland and having language exchanges with Polish people over Skype, I've noticed that there are a few English mistakes that a lot of Poles seem to make.</p>
<p>While other nationalities certainly make these mistakes too, because of my familiarity with Polish, in most cases I can point to some characteristic of the Polish language that the speaker could be <a href="http://en.wikipedia.org/wiki/Language_transfer">transferring</a> to English.</p>
<p>Don't worry, none of the mistakes I'm going to discuss are critical!  Native speakers will still understand, even if you make a few of these mistakes. :-)</p>
<p><strong>Read more to see five mistakes that Poles commonly make when speaking or writing English!</strong></p>
<h2><a name="do-vs-make">do vs. make</a></h2>
<p>Like many languages, Polish only has one word that means both "do" and "make" (<em>robić</em>).  It's always challenging when your native language only has one word, but the language you're learning has two or more corresponding words!  English speakers learning Polish will encounter this as well: in English, we have just one word for "know" but in Polish there are two (<em>wiedzieć</em> and <em>znać</em>).</p>
<p>The basic difference is:</p>
<ul>
<li>We use "make" when the object is created as a result; for example: "make dinner."</li>
<li>We use "do" for activities in general; for example: "do taxes," or "do homework."</li>
</ul>
<p>Confusion arises because both words are used in many expressions which don't follow these rules.  You simply have to memorize them!  For example:</p>
<ul>
<li>make a mistake</li>
<li>make a decision</li>
<li>do someone a favor</li>
<li>do harm</li>
</ul>
<h2><a name="learn-vs-teach">learn vs. teach</a></h2>
<p>"Trevor <del>learns</del> <em>teaches</em> us English!"</p>
<p>This is very similar to <em>do vs. make</em>.  In Polish there is a word for "teach" (<em>uczyć</em>), but the word for "learn" (<em>uczyć się</em>) could be interpreted as "teach oneself."</p>
<p>There are actually dialects of English where people <em>do</em> use "learn" like the example above!  But this is not standard English.</p>
<h2><a name="advices-informations">advices/informations</a></h2>
<p>Both Polish and English have countable and uncountable nouns (meaning some words have plural forms and some do not).  Sometimes these are the same words; for example, these words are uncountable in both languages: water (<em>woda</em>), music (<em>muzyka</em>) and coffee (<em>kawa</em>).  But sometimes words that are countable in Polish are not countable in English.</p>
<p>The two most common examples I hear used incorrectly are "<span style="color: red">advices</span>" and "<span style="color: red">informations</span>."  In Polish, these words are used very frequently in the plural form (<em>porady</em> and <em>informacje</em>).  But in standard English, they can only be used in the singular form: "advice" and "information."</p>
<h2><a name="helper-verb">"He running" / "He done it"</a></h2>
<p>I've noticed that some Polish people sometimes drop the helper verb in sentences that require one.  In Polish, there are no helper verbs.</p>
<p>But I think the problem stems from contractions in English.  It can be difficult to hear a native speaker say the helper verb at all!</p>
<table>
<thead>
<tr>
<th>Sentence</th>
<th>With contraction</th>
<th>Can sound like</th>
<tr>
</tr></tr></thead>
<tr>
<td>He is running</td>
<td>He's running</td>
<td>"<span style="color: red">He running</span>"</td>
</tr>
<tr>
<td>He has done it</td>
<td>He's done it</td>
<td>"<span style="color: red">He done it</span>"</td>
</tr>
<tr>
<td>John had already been there</td>
<td>John'd already been there</td>
<td>"<span style="color: red">John already been there</span>"</td>
</tr>
</table>
<h2><a name="from-where">"From where are you coming?"</a></h2>
<p>The correct version is: "Where are you coming from?"</p>
<p>(<em>Note [2011-09-13]: As pointed out in the comments by <a href="http://www.markshepherd.eu/">Mark Shepherd</a>, in some dialects keeping the preposition in front of the question word is always acceptable.</em>)</p>
<p>Some Poles don't like to end sentences with prepositions.  In Polish, you always put the preposition in front of the object it affects.  But in English, in questions, sometimes you move the preposition to the end of the sentence.</p>
<p><strong>Do you know any other common English mistakes?  Write a comment!</strong></p>
</div>

<div id="comments">
<a id="comment-778"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/657cc449005ddf2c0416414a8b7d99b7?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Podstawowym problemem są czasy. Wiele z nich nie ma żadnego odpowiednika w polskiej gramatyce. To powoduje że zaczynamy zastanawiać się nad prawidłową formą zdania przez co rozmowa nie jest płynna.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/778">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-778">Monday, September 12, 2011 - 13:06</a></span>
</div>
</div>
<a id="comment-782"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9381849d5c02c570abcd5cb2f09e866d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć David, mam (też "z innej beczki") dwa pytania.<br/>
Po pierwsze w wielu filmach, dałbym sobie rękę uciąć, słyszę "what is that mean?", podczas gdy powinno być poprawnie "what does it mean?"<br/>
Wiem, że wypowiadając wyrażenia szybko zmienia się często ich wymowę, ale żeby aż tak bardzo?</p>
<p>Po drugie, Peter Hammill, brytyjski wokalista w piosence pt. "Killer" śpiewa: "Fishes can't fly, neither can I" - przecież "fish" jest niepoliczalne! To świadomy błąd by rym lepiej brzmiał, czy jednak język angielski w wyjątkowych sytuacjach dopuszcza takie formy?<br/>
Pozdrawiam serdecznie!<br/>
Michał</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/782">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Michał (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-782">Monday, September 12, 2011 - 13:22</a></span>
</div>
</div>
<div class="indented"><a id="comment-789"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć!</p>
<p>Tak, "What is it/that mean" nie ma sensu w ogóle.  Może to był nie-native speaker lub może powiedział "does" tak szybko, że brzmiało blisko do "is".  Zwykle "t" na końcu słowa "what" łączy się z "d" na początku "does", tak, że w sumie brzmi jak "whadduhs" lub coś w tym stylu. :-)</p>
<p>Co do "fishes": wszystko zależy od dialektu. ;-)  W standardowym amerykańskim angielskim, tak, "fish" jest tylko "fish" w liczbie mnogiej.  Np. "I caught two fish".  Ale w niektórych dialektach używa się słowa "fishes".  Napisałem już parę artykułów na moim blogu na temat dialektów w języku angielskim:</p>
<ul>
<li><a href="http://www.linguatrek.com/blog/2011/02/milwaukee-wisconsin-unique-english-dialect">Milwaukee, Wisconsin's unique English dialect</a></li>
<li><a href="http://www.linguatrek.com/blog/2011/04/do-english-speakers-make-mistakes-on-purpose">Do English speakers make mistakes on purpose?</a></li>
</ul>
<p>Mam nadzieję, że moja odpowiedz będzie pomocna. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/789">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-789">Monday, September 12, 2011 - 13:42</a></span>
</div>
</div>
</div><a id="comment-783"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8b3699caffd00c7bb6761e9b51753f39?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hey David,</p>
<p>Could you please clarify for me a few more things? </p>
<p>The first one is pronounciation of the gerund form. I've noticed that certain words ending with -ing sound somehow different than the others. Until recently I thought that all of them should be pronounced /ɪŋ/ instead of /ɪn/ or /iːn/. Now I'm not so sure. </p>
<p>The second thing that is bugging me are formal expressions used in emails such as "thank you in advance" (which indicates that I am not going to thank later) or "enclosed, please find xxx" (which sounds as if I was treating someone like an idiot who cannot see attachments).<br/>
Also, should I use words such as 'hereby' or 'hereinafter'? I've been told that such words are mostly used by foreigners who try to sound smart while english speakers rather avoid them. Are those cliches I should avoid or am I overreacting?</p>
<p>Thank you!</p>
<p>ps. how many mistakes have I made in the comment above?:)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/783">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-783">Monday, September 12, 2011 - 13:26</a></span>
</div>
</div>
<div class="indented"><a id="comment-791"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hello!</p>
<p>In standard American English, the gerund should always be pronounced as /ɪŋ/.  In some dialects, however, the pronunciation may be different. The one I'm most familiar with is /ɪn/.  I've never personally heard it pronounced as /iːn/ but I'd beleive it if you said there was one! :-)</p>
<p>Well, "thank you in advance" and "enclosed, please find xxx" are just polite expressions.  Even though you say "thank you in advance" you still have to thank them afterward. :-)  And it's considered polite to explain what's in the attachments, so the other person knows before they download them.  Of course, they can see the attachments, but they only know the filename, not necessarily the contents.</p>
<p>The words "hereby" and "hereinafter" aren't used in normal, modern speech.  But I'm pretty sure they're still used in legal speech.  I'd recommend avoiding them unless you are a lawyer! ;-)</p>
<p>You didn't make very many mistakes at all!  Congradulations. :-)  Here are the ones I noticed:</p>
<ul>
<li>clarify for me a few things -&gt; clarify a few things for me</li>
<li>first one is pronunciation -&gt; first one is <em>the</em> pronunciations</li>
<li>rather avoid them -&gt; avoid them (rather doesn't belong here)</li>
</ul>
<p>I hope my response was helpful!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/791">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-791">Monday, September 12, 2011 - 13:54</a></span>
</div>
</div>
<div class="indented"><a id="comment-851"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4d25dade1725b6a4de84df3b5c87b9d4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hello David.</p>
<p>Could you please explain why you've used the expression: "Here are the ones I noticed" instead of "Here are the ones I have noticed"?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/851">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-851">Tuesday, September 13, 2011 - 05:21</a></span>
</div>
</div>
<div class="indented"><a id="comment-857"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hello!</p>
<p>Saying "here are the ones I have noticed" sounds like something is missing, perhaps "so far"?</p>
<p>Anyway, I would say "I have noticed" if I were trying to emphasize the influence those things I noticed had on something now.  For example, if I were still reading the comment and these are the only mistakes "I've noticed so far".  But I didn't want to emphasize the influence they had on now, I just wanted to state that I noticed them. :-)</p>
<p>The selection of the tense isn't guided by <em>reality</em> but rather what the speaker/writer wishes to convey.  I could easily have described the same reality using the present perfect instead of the present continuous, but it didn't serve what I was trying to say.</p>
<p>Hope that helps!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/857">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-857">Tuesday, September 13, 2011 - 07:04</a></span>
</div>
</div>
</div></div></div><a id="comment-790"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/76657805f9793d9834284c80d15a530d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hello, David.</p>
<p>Another common mistake made by Poles is "I've been in [Insert city name here]."</p>
<p>Also, seeing that you actively answer the questions posted in comments I'd like to ask you something that I actually never had a opportunity to clarify: adding "a" to various words. Like in "(...) it's been the ruin of many a-poor boy," "Here's where we are a-living" or well-known "It's a-me."</p>
<p>Hope to hear from you soon,<br/>
Dawid</p>
<p>PS Posługujesz się językiem polskim lepiej niż niejeden Polak! Brawo!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/790">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-790">Monday, September 12, 2011 - 13:47</a></span>
</div>
</div>
<div class="indented"><a id="comment-794"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hello!</p>
<p>Ah, yes, because sometimes use of in/to is reversed in Polish and English.  Thanks for the suggestion!</p>
<p>Those cases of use "a" are all different:</p>
<ul>
<li><strong>"(...) it's been the ruin of many a-poor boy,"</strong> - this is just the article "a".  Take the simplified example "a poor boy has been ruined".  To make that sentence plural you can say either "Many poor boys have been ruined" or "many a poor boy has been ruined" - both have the same meaning.</li>
<li><strong>"Here's where we are a-living"</strong> - this adds no additional meaning, <em>maybe</em> a little emphasis.  To be honest I'm not sure where it comes from, but I've heard it almost exclusively in old songs.  People don't normally talk like this (at least not where I'm from!) and I don't think I've ever seen it written down.</li>
<li><strong>"It's a-me"</strong> - Heh, you wrote that it's "well-known" but I've never heard this used by a native speaker. :-)  What is it well-known from?  The only thing I can think of is people imitating the way Italians speak English. ;-)</li>
</ul>
<p>Hope that helps!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/794">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-794">Monday, September 12, 2011 - 14:08</a></span>
</div>
</div>
<div class="indented"><a id="comment-805"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/76657805f9793d9834284c80d15a530d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Actually, <strong>"(...) it's been the ruin of many a-poor boy"</strong> happens to come from the "House of the Rising Sun" lyrics by The Animals, so it indeed is from a old song. Still, your explanation is fascinating and made me come to love "a". Now I will have to refrain from using it too often! :-)</p>
<p><strong>"Here's where we are a-living"</strong> is a (inaccurately-remembered) sentence by Greg Benson that appeared in a movie covering his visit to Poland. He, in fact, explained - just like you did - that "a" has no meaning here.</p>
<p>Here is where you can watch (hear) it: <a href="http://youtu.be/dye6lw05RA8?t=50s" title="http://youtu.be/dye6lw05RA8?t=50s">http://youtu.be/dye6lw05RA8?t=50s</a></p>
<p><strong>"It's a-me,</strong> <em>Mario</em>" is well known thanks to Italian brothers: Mario and Luigi (especially the former) from Super Mario Brothers video game.</p>
<p>Thank you for your time,<br/>
Dawid</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/805">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-805">Monday, September 12, 2011 - 14:35</a></span>
</div>
</div>
<div class="indented"><a id="comment-809"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Aha!  Yeah, Mario says that because that is how English-speakers imitate Italians. :-)  The formula is as follows: every time a word doesn't end in a vowel sound, add an "a". ;-)</p>
<p>For example: "What-a spicy meat-a-ball-a!" (Something else that English-speakers imagine that Italians would say ;-))</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/809">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-809">Monday, September 12, 2011 - 14:41</a></span>
</div>
</div>
</div><a id="comment-827"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/0920203f8ce0682bb8ce5368bab8b102?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>It's a-me Mario!</p>
<p>btw, podczas pisania komentarza wyświetla mi się "E-mail: - Zawartość pola nie będzie udostępniana publicznie. If you have a Gravatar account, used to display your avatar."</p>
<p>Przydałoby się przetłumaczyć ;p</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/827">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-827">Monday, September 12, 2011 - 16:22</a></span>
</div>
</div>
</div></div><a id="comment-792"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9ccf1c5c72daf1a468482d807bca46bf?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Jeszcze jeden błąd (chyba), który popełniają Polacy, to pisanie/mówienie "I'm Polish [...]" zamiast "I'm Pole [...]"</p>
<p>"Teach" można przetłumaczyć jako "nauczać", ale to słowo ma nieco archaiczne zabarwienie i nie zawsze pasuje stylistycznie.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/792">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Bogusław (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-792">Monday, September 12, 2011 - 14:01</a></span>
</div>
</div>
<div class="indented"><a id="comment-795"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/76657805f9793d9834284c80d15a530d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Z mojej wiedzy wynika, że "I'm Polish" jest poprawne i oznacza: "Jestem polskiej narodowości", a dalej: "Jestem Polakiem". Podobnie jak "I'm French", Japanese, Korean, Russian itd.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/795">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-795">Monday, September 12, 2011 - 14:08</a></span>
</div>
</div>
<a id="comment-796"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki za komentarz i słowo "nauczać", którego do tej pory nie znałem! :-)</p>
<p>Po angielsku można powiedzieć lub "I'm Polish" lub "I'm a Pole", oba zdania są poprawne.  W standardowym amerykańskim angielskim pierwsza forma jest częściej używana.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/796">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-796">Monday, September 12, 2011 - 14:12</a></span>
</div>
</div>
<div class="indented"><a id="comment-797"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9ccf1c5c72daf1a468482d807bca46bf?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Również dziękuję za rozwianie wątpliwości. :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/797">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Bogusław (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-797">Monday, September 12, 2011 - 14:14</a></span>
</div>
</div>
<a id="comment-818"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://pepkin88.me/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/dc0ee67be0257e746479b188f9b01fac?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Teoretycznie w języku angielskim jest jeszcze jedno <cite>uczyć się</cite>: <cite>to study</cite>. Tak więc występują w tym języku (podobnie jak w japońskim) aż 3 słowa na różne użycie wyrazu <cite>uczyć</cite>.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/818">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://pepkin88.me/" rel="nofollow">pepkin88</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-818">Monday, September 12, 2011 - 15:42</a></span>
</div>
</div>
<a id="comment-841"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/51f5e18acf1dc9b50c240d65d53c4034?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hej David.<br/>
Taka mała rada co do tego komentarza. Nie jest to może błąd sam w sobie ale po polsku brzmi to trochę topornie:) Chodzi mi mianowicie o "Po angielsku można powiedzieć lub "I'm Polish" lub "I'm a Pole", oba zdania są poprawne." To zdanie też jest jak najbardziej poprawne ale lepiej zamiast lub użyć słowa albo. W języku polskim brzmi to mniej obco, że się tak wyrażę:) Pozdrawiam świetny blog:)</p>
<p>PS. Czy mógłbyś mi przetłumaczyć jak po angielsku powiedzieć " gadać bez ogródek" czyli mniej więcej nie patyczkować się przy rozmowie. Tak btw ludzie z Polski tłumaczą to jako "talk without a garden". Fajne też jest płacić z góry tłumaczone jako "pay from a mountain.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/841">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Lnk (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-841">Monday, September 12, 2011 - 18:09</a></span>
</div>
</div>
<div class="indented"><a id="comment-844"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dziękuję bardzo za poradę! :-)</p>
<p>Jest wiele sposobów do powiedzenia "gadać bez ogródek": to not mince words, to not beat around the bush, to not sugar coat something, to call something by its name i też kilka nudnych bez wyrażeń: to speak directly, itd.</p>
<p>Płacić z góry to "to pay in advance" (tak samo jak: z góry dziękuję - "Thank you in advance!").</p>
<p>Mam nadzieję, że to pomoże!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/844">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-844">Monday, September 12, 2011 - 20:33</a></span>
</div>
</div>
</div></div></div><a id="comment-801"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e6b770cb499a8a0138bed225e87aa6cc?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Why do you say: "make mistake" but not "do mistake"?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/801">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-801">Monday, September 12, 2011 - 14:26</a></span>
</div>
</div>
<div class="indented"><a id="comment-803"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Because "make a mistake" is correct and "do a mistake" is wrong! ;-)</p>
<p>Honestly, there is no reason.  For all the set expressions (of which "make a mistake" is one), you simply have to memorize which words go with "make" and which go with "do".</p>
<p>Here is an article I found online which explains it and gives some pretty good lists of the set expressions:</p>
<p><a href="http://www.learnenglish.de/grammar/doormake.htm" title="http://www.learnenglish.de/grammar/doormake.htm">http://www.learnenglish.de/grammar/doormake.htm</a></p>
<p>I hope that helps!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/803">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-803">Monday, September 12, 2011 - 14:32</a></span>
</div>
</div>
</div><a id="comment-802"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e8487edc6c571ff028a89418563ea850?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hello David.<br/>
I live in South Yorkshire, England. I've met a lot of people who are using "learn" as "teach". "I'll learn you how to do this". I know it's typical for this part of the country, but it may also be confusing if somebody wants to learn a "proper" English.<br/>
Dziękuję i pozdrawiam.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/802">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Basia (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-802">Monday, September 12, 2011 - 14:26</a></span>
</div>
</div>
<div class="indented"><a id="comment-806"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hello Basia!</p>
<p>There are dialects in the USA that do the same.  Most people who speak those dialects do know that it isn't standard American English and can switch if necessary.  But, yes, it can be confusing to non-native speakers who are trying to learn the language.</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/806">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-806">Monday, September 12, 2011 - 14:35</a></span>
</div>
</div>
</div><a id="comment-804"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/087f948f3ec5d6a51e7737d5cfcf364d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>It's funny that for each of these examples<br/>
    make a mistake<br/>
    make a decision<br/>
    do someone a favor<br/>
    do harm</p>
<p>after translation you have different verb:<br/>
   popełnić błąd<br/>
   podjąć decyzję<br/>
   wyrządzić komuś przysługę<br/>
   skrzywdzić</p>
<p>Polish language is so rich. :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/804">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-804">Monday, September 12, 2011 - 14:35</a></span>
</div>
</div>
<div class="indented"><a id="comment-819"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://pepkin88.me/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/dc0ee67be0257e746479b188f9b01fac?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p><cite>Wyrządzić</cite> bardziej pasuje do wyrażenia <cite>wyrządzić komuś krzywdę</cite>. Do przysługi bardziej pasuje czasownik <cite>wyświadczyć</cite>. Pozdrawiam.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/819">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://pepkin88.me/" rel="nofollow">pepkin88</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-819">Monday, September 12, 2011 - 15:48</a></span>
</div>
</div>
<a id="comment-825"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/50a7115d9ee1750185da32738c126b32?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Yes it is rich, and I must say it's hard to keep using it at its full potential in this english driven world (but maybe it is the case just for us, computer scientists :P).</p>
<p>Right, that reminds me: "just" and "only" - is there any particular difference between those two words in english? I got a feeling that there is, but noone has ever explained this to me.</p>
<p>And back to my comment, just to clarify:<br/>
"wyrządzić komuś przysługę" - that doesn't sound right at all.<br/>
"wyrządzić" means to do something wrong, negative in effect ("wyrządzić komuś krzywdę" = "do harm to someone") while "wyświadczyć" means to do something right, positive ("wyświadczyć komuś przysługę" = "do someone a favor").<br/>
In fact I can't think of any other word that I could use "wyświadczyć" with (besides "przysługa") at the moment. :)</p>
<p>P.S. Great blog David!<br/>
I'm glad I clicked the link to it. ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/825">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Adam (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-825">Monday, September 12, 2011 - 16:18</a></span>
</div>
</div>
<div class="indented"><a id="comment-832"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>In the sense of "I have only two apples" and "I have just two apples" they mean exactly the same.  In other situations, they can be a little different.</p>
<p>For example, you can say "I just arrived" but cannot say (at least in my dialect) "I only arrived" (but you CAN say "I only just arrived").</p>
<p>Thanks for the kind words!  I hope my response is helpful!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/832">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-832">Monday, September 12, 2011 - 16:53</a></span>
</div>
</div>
</div></div><a id="comment-815"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8b3699caffd00c7bb6761e9b51753f39?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Thank you for a fast reply! It was very helpful. The gerund pronunciation won't bother me anymore. :)</p>
<p>If I may ask one more thing. How on earth do you pronounce words such as "antiparallel". No matter whether it is /ænti/ or /æntaɪ/ (I guess it's american vs british) I am simply not able to say /pærəlɛl/. Same goes with "rarely". I don't know whether it is teh english "r" that is so different than the polish "r" or it's the combination of r and l separated by vowels but I break my tongue every single time I say it.</p>
<p>Cheers!<br/>
Michał (sorry I forgot to sign myself last time)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/815">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Michał (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-815">Monday, September 12, 2011 - 15:00</a></span>
</div>
</div>
<div class="indented"><a id="comment-824"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>I would pronounce "antiparallel" as /æntipærəlɛl/ but that probably doesn't help you any. ;-)  Lots of r's close to each other can be difficult for native speakers as well.  For example, many pronunciations of the word "library" drop one of the r's.</p>
<p>Best of luck with your English!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/824">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-824">Monday, September 12, 2011 - 16:14</a></span>
</div>
</div>
</div><a id="comment-821"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.markshepherd.eu" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/6a09a2fa27a234de5c6b9ec162b9c51f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Cześć David!</p>
<p>Forgive me, but with regard to prepositions at the end of questions, I am afraid you are quite mistaken!</p>
<p>It is not true to say that "From where are you coming?" is wrong - it's perfectly acceptable, and actually quite elegant. To say that 'The correct version is: "Where are you coming from?"' is also not strictly true. It is not incorrect, but it is one of several correct possibilities. Putting the preposition at the end is usually OK if the question is short and not very complex, but the choice becomes more difficult as the question becomes more complex. </p>
<p>The simplest way to get around this is to put the preposition first.<br/>
Since when was this a problem? From where did you get the idea that it should go at the end? To what can we ascribe this behaviour? With who (or whom) were you talking when this subject arose? At what point should I stop giving examples? :)</p>
<p>The other thing about doing it this way, is that it is very easy for a Pole to remember, since it's actually the same in Polish! When you have a separate preposition as part of the question (n.p. 'z kim'), it's at the start of the question.</p>
<p>Does this mean that you should change, if you are naturally doing it a different way? No, it certainly doesn't! However, if you aren't sure, you can always confidently put the preposition first. It may not be what the other guy is doing, but it's definitely correct. </p>
<p>I hope this is helpful!</p>
<p>Regards</p>
<p>Mark<br/>
(Native-speaker English teacher (and jazz musician), living and working in Warsaw)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/821">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.markshepherd.eu" rel="nofollow">Mark Shepherd</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-821">Monday, September 12, 2011 - 15:56</a></span>
</div>
</div>
<div class="indented"><a id="comment-830"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Mark!</p>
<p>Since I'm not an expert on standard English (as far as I'm concerned, it's a dialect that no one really speaks as a native) and you are actively an English teacher, I will concede the point that this is acceptable in standard English.  In any case, a reference to a reputable source would be much appreciated! :-)</p>
<p>I've encountered the usage "with whom" in older texts.  I don't think you can break up the proposition and it's object in "since when" and "at what point".  So, I will also concede to over simplifying the situation in my article, as you don't <em>always</em> move the preposition to the end.</p>
<p>But I can't recall ever having  personally encountered two of the other usages (from native speakers, that is!) which you demonstrate in your examples above: "from where" and "to what".</p>
<p>While I would understand what the person saying them intends to say, absolutely no native speaker of my native dialect of English (Milwaukee, WI, USA) would produce those sentences!</p>
<p>But this may just be a case of unknown dialect bias on my part. :-)  Just because it's not acceptable in my dialect doesn't mean it's non-standard.  If you can give me a good reference, I'll update the article to that effect -- I certainly don't want to lead learners astray!</p>
<p>If you're interested, I've written a few articles about English dialects:</p>
<ul>
<li>One showing some of the peculiarities in my dialect: <a href="http://www.linguatrek.com/blog/2011/02/milwaukee-wisconsin-unique-english-dialect" title="http://www.linguatrek.com/blog/2011/02/milwaukee-wisconsin-unique-english-dialect">http://www.linguatrek.com/blog/2011/02/milwaukee-wisconsin-unique-englis...</a></li>
<li>And another more general one: <a href="http://www.linguatrek.com/blog/2011/04/do-english-speakers-make-mistakes-on-purpose" title="http://www.linguatrek.com/blog/2011/04/do-english-speakers-make-mistakes-on-purpose">http://www.linguatrek.com/blog/2011/04/do-english-speakers-make-mistakes...</a></li>
</ul>
<p>Poland is a great place for a jazz musician!  I wish you the best of luck! :-)</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/830">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-830">Monday, September 12, 2011 - 16:44</a></span>
</div>
</div>
<div class="indented"><a id="comment-852"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4d25dade1725b6a4de84df3b5c87b9d4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Could you please explain the construct you used: "a reference a reputable source"? Why two "a"'s in such a little distance? Honestly, I see something like this for the first time.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/852">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-852">Tuesday, September 13, 2011 - 05:39</a></span>
</div>
</div>
<div class="indented"><a id="comment-858"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>That was a type-o! :-)  I meant to write "a reference <em>to</em> a reputable source" but I forgot the "to".  I'll fix the comment in a moment. ;-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/858">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-858">Tuesday, September 13, 2011 - 07:06</a></span>
</div>
</div>
</div><a id="comment-853"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4d25dade1725b6a4de84df3b5c87b9d4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>And one more question regarding your comment. Why do you use "But this may just be A case" instead of "But this may just be THE case"? Could you please explain. Thanks in advance. :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/853">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-853">Tuesday, September 13, 2011 - 05:43</a></span>
</div>
</div>
<div class="indented"><a id="comment-859"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>I could have written "But this may be the case" period (full stop), end of sentence.  That's something of an expression.</p>
<p>However, I wanted to convey that this could be "a case" (synonyms: an instance, an occurance) of something, which is one of the basic (non-expression) meanings of the word.</p>
<p>We very frequently use the article "a" when describing one of something.  For example: a game of chance, a test of strength, a theory of existance (if there were only one theory, I could say: THE theory of existance), etc.</p>
<p>Hope that helps!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/859">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-859">Tuesday, September 13, 2011 - 07:13</a></span>
</div>
</div>
</div><a id="comment-862"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.markshepherd.eu" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/6a09a2fa27a234de5c6b9ec162b9c51f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hi David</p>
<p>Thanks for your reply. I'm actually approaching this issue from the other side of the 'Standard English' argument, which is to say that the idea of standard English may be one of academic interest in the oak-paneled studies of professors, but that Standard English 'on the street' is only standard on your own street, so there really isn't a need to get too worried about some of the small stuff that was allegedly 'important' at school. </p>
<p>Almost all of my students in Poland have two things in common: <br/>
their ability to understand English is much better than their ability (or rather their confidence in their ability) to speak it<br/>
they have been taught English in a very rule-based, dogmatic way, with a frequently bewildering and unnecessary level of complexity.<br/>
They have also been taught some stuff which is, frankly, bullshit. All of this conspires to rob them of their confidence when it comes to opening their mouths and communicating. This is true not just for my pre-intermediate students, but all the way to the top! The more time people spend in an English-language environment, the more they notice discrepancies between what they hear and read, and what they were taught.</p>
<p>I'm about to publish a book on this subject, specifically aimed at busting some of the myths that many Poles are burdened with by the time they finish their education (myths such as: 'I must' is not the same as 'I have to'; you really need 16 [or more] tenses to be fluent in English). Here is an extract from the part that deals with our topic. </p>
<p>Extract 1..................</p>
<p>“What do we do with 'with'?</p>
<p>The other difficult thing about questions in English is that if we use a preposition (with, from, to, since, above etc.), it can move! We need to decide where to put it. Of course, this is often very easy. We could say:</p>
<p>Who were you with at the party?</p>
<p>OR</p>
<p>Who were you at the party with?</p>
<p>OR</p>
<p>With who* were you at the party?</p>
<p>All three of these are fine, but sometimes in longer, more complex sentences the choice is much more difficult:</p>
<p>[with] who were you [with] at the party [with] in the kitchen [with] next to the vodka [with] when the dog got into the microwave oven [with] and exploded[with]?</p>
<p>OK, it's a slightly strange example but you understand the point – the choice is not always simple, and you can't always put the preposition p anywhere you like. So what's the solution?</p>
<p>It's (once again) very simple – put the preposition at the start of the question.</p>
<p>For example:</p>
<p>Since when has he been here?		In which bar did you drink?</p>
<p>This works! Like some of the tenses, you might find that the person you are talking with does it in a different way, but THAT DOESN'T MATTER!! It's always correct, and occasionally even quite elegant. The other important point is that is basically the same structure we use in Polish, so it's easier to remember when you're under pressure. The preposition and the open question word stay together at the beginning. This is one of the biggest reasons for suggesting that you use this pattern! </p>
<p>Some of you might be asking another question. You might be thinking “I'm perfectly comfortable about where I put the prepositions in many questions – should I change?”</p>
<p>NO!! - if you're confident, then keep doing what you're doing. This is simply to give confidence on the occasions when you aren't sure. For some people that will be most of the time, for other people almost never. As we say in English “If it works, don't fix it!”. </p>
<p>So – is it worth looking at the exceptions? On this particular occasion, we think it is, for these reasons:<br/>
- There aren't many, but they are very common questions<br/>
- You probably already know them, so you wouldn't want to use the formula version<br/>
- If you change to the formula version, they sound a bit strange!</p>
<p>Here they are:<br/>
1) Column 2 questions<br/>
What happened?<br/>
Who broke (made/did/ate/drank etc.) it?</p>
<p>2) Short versions where the context is already known<br/>
What?			short for:	What do you want? What did I do? etc.<br/>
Who cares?		short for:	Who cares what I did? Who cares what you think? etc.<br/>
Why worry?		short for:	Why should I (you/we etc.) bother?<br/>
Why not?</p>
<p>There are probably a few others (which we will think of the day after this is printed). You may be thinking “OK, but what about this one or that one?” Remember – if you already know it and you are  confident, then keep doing what you're doing!”<br/>
End of extract................</p>
<p>As you will see from this, my point is NEVER to place constraints upon students - rather to give them simple tools to use with confidence, particularly when they are under pressure. The tools are designed to be particularly easy for Poles to use, even when this occasionally upsets the professors. As for your comment: "While I would understand what the person saying them intends to say, absolutely no native speaker of my native dialect of English (Milwaukee, WI, USA) would produce those sentences!", I am happy to take your word as authoritative for Milwaukee. However, I have lived in several places where the (slightly older and more formal) preposition-first convention is the norm, both in spoken and written English. I have also lived in many places where it isn't, but that's beside the point. The point is that it is a more natural, and therefore easier-to-use construction for a Polish speaker of English. In my experience comfort and confidence have a lot more to do with fluency than adherence to some local version of correctness. As you said yourself: "...I would understand what the person saying them intends to say...", an dats kinda the point, doncha think? People will naturally pick up the local variations in English if they spend long enough in a place, but they don't necessarily need to start off with the local version in order to be understood. </p>
<p>Here's another extract from my book:<br/>
Extract 2.........<br/>
 “David Beckham is a very talented, successful footballer, with a beautiful, wealthy wife. He is famous all over the world. He seems to be a very nice chap with a good sense of humour. He is respected by his teammates as a good captain. I am genuinely sorry if this offends him, but you DO NOT want to speak English like David Beckham. Thierry Henry speaks better international standard English than David Beckham. Of course, if you and Thierry went to the area where David grew up, you would initially have more difficulty communicating with local people than David would.</p>
<p>Even if you want to live and work in Leytonstone, Essex (where David is from), there is not much point trying to learn the local version of English. If you arrived with international English, everything would be fine, and after 10 years you might even sound like a local. The best place to learn London idiom is London. The best place to learn Calcutta idiom is Calcutta. The point is, it makes more sense to learn to speak a version of English that can be understood wherever you go.”<br/>
End of extract.........</p>
<p>As for references in support of my position, a short search on the internet will provide a bewildering array of opinions across the entire spectrum, some of whom would want me to run for president, some who would burn me as a heretic - and everything in between. However, if you would like something a little more specific, I recommend reading "The Use of English" (professors Quirk, Gimson and Warburg) and "Using functional grammar : an explorer's guide" (David Butt ... [et al.]).</p>
<p>Oh - yous might know da guy who came up wid dese quotes, all of which I am in complete agreement with :)</p>
<p>"What is a mistake? There is a lot of debate on this topic! Depending on who you ask, you'll get a different answer. But I would contend that "we gonna" is not a mistake. It's definitely not standard English but that doesn't mean it's wrong."</p>
<p>"English (like all languages) is in a constant state of flux and what was correct or incorrect in the past, is different now. There are also many, many, MANY competing dialects.What is correct or incorrect in one dialect, is different in another."</p>
<p>"Standard English is a dialect too, which actually, I think no one really speaks natively! :-) We all speak slightly different dialects and most people can speak or at least understand more than one."</p>
<p>Cheers!</p>
<p>Mark</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/862">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.markshepherd.eu" rel="nofollow">Mark Shepherd</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-862">Tuesday, September 13, 2011 - 07:55</a></span>
</div>
</div>
<div class="indented"><a id="comment-865"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>I'm all for anything that gives people more confidence to speak!  I'd love to see your book when finished.  Please let me know when it's available and very possibly I'll review it here on my blog. :-)</p>
<p>Also, I just added a note that section of the article, saying that keeping the prepositions in front of question words is acceptable in some dialects.</p>
<p>Regards,<br/>
David.</p>
<p>PS: We don't say things like "doncha" by us, that's more Minnesota or the UP. ;-)  My "don't you" sounds like "don'ya" where the appostrophe is a glottal stop similar to the way many (most?) Americans pronounces the "t" in Clinton.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/865">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-865">Tuesday, September 13, 2011 - 09:13</a></span>
</div>
</div>
</div></div></div><a id="comment-828"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://finesavings.blogspot.com/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8d44753d9c6422895ee0c9572cc73073?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hi lads,</p>
<p>I live in Ireland where Polish with Romanians and Asians are the largest minority in the country. I know my english is not perfect, but sometimes when you deal with Polish you can't stop laughing. Few examples:<br/>
1. Once guy buing in hot deli a sandwitch asked for "four pomidores (tomatos) and tree ogóres (cucumbers)".<br/>
2. The other one trying to buy some condoms, asked for "preservatives" :D<br/>
3. I think this is very common - mixing english with german, e.g. "You have zigaretten fire?" (asking for lighter) + grammar.<br/>
4. And there is the best one - some english and polish words sounds similar but have a different meaning. One of mobile networks has introduced a new service for their cutomers - tup up your mobile by text. A friend of mine tried to use that service sereral times within one day and keep recieving message: "your request is invalid". Because I introduced that service to him, he was complaining to me, saying: "Do you know what they want me to do? They want me to top up a disabled person (inwalide)! I tried many times and they keep saying about that disabled person!" I was laughing all day, and next day, and next one... ;)<br/>
Regards</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/828">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://finesavings.blogspot.com/" rel="nofollow">Bart</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-828">Monday, September 12, 2011 - 16:33</a></span>
</div>
</div>
<div class="indented"><a id="comment-831"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Heh, some very entertaining examples! :-)  Thanks for sharing!  Regards, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/831">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-831">Monday, September 12, 2011 - 16:45</a></span>
</div>
</div>
</div><a id="comment-833"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d2e800c6fe1e28c5923011add9d1fa48?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi there</p>
<p>I've decided to join your conversation and suggest a very common<br/>
mistake that Polish and some English ppl(sorry about this sms thing, but i couldn't resist ;) )make, namely "to borrow" and "to lend".<br/>
Bloody hell even the old generation (which is my favorite) have significant issues with that one.<br/>
There is a funny thing with "do me a favour" and "give me a favour",<br/>
pierwsze, jest nawiązaniem do w/w tematu, a drugie kiedyś wypowiedziałem do pewnej urodziwej Angielki i zrobiła się ekstremalnie czerwona (gone red ;), jak się później okazało to tutejsze: "czy jesteś gotowa COŚ dla mnie zrobić w sexualnym kontekście".</p>
<p>Keep it up Dave.</p>
<p>All the best.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/833">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Glock (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-833">Monday, September 12, 2011 - 16:55</a></span>
</div>
</div>
<div class="indented"><a id="comment-834"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi!</p>
<p>Yeah, in standard English there is a difference between "lend" and "borrow".  But in my dialect (and many others) we simply don't use "lend" and say "borrow" for both meanings. :-)  So, Poles should just move to my city and they won't have any problems! ;-)</p>
<p>Heh, that must be an English thing.  "Give me a favor" doesn't mean anything in particular in American English.  But a very entertaining story nonetheless! :-)</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/834">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-834">Monday, September 12, 2011 - 17:01</a></span>
</div>
</div>
<div class="indented"><a id="comment-838"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d2e800c6fe1e28c5923011add9d1fa48?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I don't wanna be nasty but... What I meant was... actually I'm gonna give you an example.<br/>
"Can I borrow your car?"  "Could you lend me some money?", w moim zamyśle i ludzi (native speakers of course)znaczy to mniej więcej: "Czy pożyczysz mi samochód? " lub "Twój samochód" (dla czepialskich ;)<br/>
"Pożyczysz mi trochę kasy?" niby w polskim bez różnicy, ale zależy co, kto i od kogo :)Jeżeli dobrze zrozumiałem to w Twoich okolicach, mówi się po prostu: " Could you borrow me some money?" Tutaj w Anglii jest to uważane za poważny błąd, ale fajnie,że stworzyłeś miejsce, w którym można swoje wąpliwości rozwiać.<br/>
You wrote:<br/>
"So, Poles should just move to my city and they won't have any problems! ;-)"<br/>
You don't really want it, do you ? hehehe<br/>
Pozdrawiam.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/838">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Glock (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-838">Monday, September 12, 2011 - 17:40</a></span>
</div>
</div>
<div class="indented"><a id="comment-839"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>No, właśnie to powiedzielibyśmy w naszym dialekcie: "Could you borrow me some money?"  Nie "stworszyliśmy" to miejsce specjalnie, po prostu tak się rozwija nasz dialekt i w bardziej ogólnym sensie angielski język w Stanach (bo wydaje mi się, że tak się używa słowa "borrow" w większości dialektów tutaj).  Oczywiście on będzie rozwijać inaczej niż w Anglii!</p>
<p>No, i tak, chciałbym, żeby Polacy przyjechali do mojego miasta bo wtedy mógłbym rozmawiać więcej po polsku. ;-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/839">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-839">Monday, September 12, 2011 - 17:50</a></span>
</div>
</div>
<div class="indented"><a id="comment-861"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.markshepherd.eu" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/6a09a2fa27a234de5c6b9ec162b9c51f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>One simple way to remember this:</p>
<p>'Lend' is in the same direction as 'Send'.</p>
<p>:@ )</p>
<p>Cheers,<br/>
Mark</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/861">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.markshepherd.eu" rel="nofollow">Mark Shepherd</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-861">Tuesday, September 13, 2011 - 07:41</a></span>
</div>
</div>
</div></div></div></div><a id="comment-837"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/55248cf5e5c6cd2544fef7b81995ea80?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Nie mogę oprzeć się wrażeniu, że robi się z komentarzy jedna wielka klasówka ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/837">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">koniczynek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-837">Monday, September 12, 2011 - 17:38</a></span>
</div>
</div>
<a id="comment-842"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/202eaa9b2d1316db07787093ba9e738f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Well, people here in Poland are fucking uneducated!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/842">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">bulek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-842">Monday, September 12, 2011 - 19:14</a></span>
</div>
</div>
<div class="indented"><a id="comment-843"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hrm, I'm not entirely sure how to respond to this comment.  Looking at the <a href="http://en.wikipedia.org/wiki/List_of_countries_by_literacy_rate">list of countries by literacy rate</a> shows that Poland has a literacy rate of 99.3% compared to 99.0% in the USA.  So, clearly, there is some education going on. ;-)</p>
<p>I don't think any country has a <em>perfect</em> educational system (in fact, I'd say most are far from perfect) but when compared to other countries Poland is near the top of the pack!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/843">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-843">Monday, September 12, 2011 - 20:26</a></span>
</div>
</div>
<div class="indented"><a id="comment-849"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8f6a1bc8bb62f4c2d875883f40c6aa19?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>It's the comment from a frustrated teenager :)<br/>
The educational system in Poland is bad, but many people can go beyond it, learn by themselves and have a great success in their life.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/849">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-849">Tuesday, September 13, 2011 - 01:16</a></span>
</div>
</div>
<div class="indented"><a id="comment-856"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>I think you could make that same statement about the education system in any country:</p>
<p>"The education system in Poland/USA/Canada/XXX is bad, but many people can go beyond it, learn by themselves and have great success in their life." :-)</p>
<p>Thanks for your comment!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/856">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-856">Tuesday, September 13, 2011 - 06:57</a></span>
</div>
</div>
</div></div><a id="comment-868"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d2e800c6fe1e28c5923011add9d1fa48?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Sorry Dave I had to...</p>
<p>"trolling"	</p>
<p>Being a prick on the internet because you can. Typically unleashing one or more cynical or sarcastic remarks on an innocent by-stander, because it's the internet and, hey, you can.</p>
<p>It's like a pest and if you want to keep proper level of your blog,<br/>
just simply get rid of people like this by banning them :)<br/>
Just a little suggestion, your blog is your castle...</p>
<p>Regards</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/60/868">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Glock (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles#comment-868">Tuesday, September 13, 2011 - 11:44</a></span>
</div>
</div>
</div><div class="item-list"><ul class="pager"><li class="pager-first first"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles" title="Go to first page">« first</a></li>
<li class="pager-previous"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles" title="Go to previous page">‹ previous</a></li>
<li class="pager-item"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles" title="Go to page 1">1</a></li>
<li class="pager-current">2</li>
<li class="pager-item"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles-page-2" title="Go to page 3">3</a></li>
<li class="pager-next"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles-page-2" title="Go to next page">next ›</a></li>
<li class="pager-last last"><a class="active" href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles-page-2" title="Go to last page">last »</a></li>
</ul></div>
</div>
