---
permalink: /blog/2011/04/do-english-speakers-make-mistakes-on-purpose/
layout: blog-old
title: 'Do English speakers make mistakes on purpose?'
day: 19
month: Apr
year: 2011
category: learn English
tags: 
  - 'mistakes'
language: en
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/04/mistake1.jpg" rel="lightbox"><img alt="Ad for print shop in a newspaper" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/04/mistake1.jpg" title="Language mistakes can be ironic!  Photo by hugovk on Flikr."/></a><div class="caption">Language mistakes can be ironic!  <a href="http://www.flickr.com/photos/44124404848@N01/1531354421">Photo</a> by <a href="http://www.flickr.com/photos/hugovk/">hugovk</a> on Flikr.</div></div>
<p>I recently received the following message from <a href="http://www.youtube.com/user/VloganieToTakieDanie">VloganieToTakieDanie</a> on YouTube:</p>
<blockquote>
<p>Hello, David</p>
<p>I was thinking about something recently: making language mistakes on purpose. In Poland, many people get annoyed when someone makes a language mistake, especially when it's a very common mistake. We hardly ever make mistakes on purpose and when we do, it's only as a joke.</p>
<p>In English, I see mistakes made on purpose quite often, such as in the title of the Timbaland song "The way I are" or when I hear someone say "we gonna" instead of "we're gonna."  Don't native English speakers get irritated when they hear such things?  I'd like to know the general opinion as well as your opinion.</p>
<p>Have a nice day,<br/>
M.</p>
</blockquote>
<p><strong>Read more for my response!</strong></p>
<h2><a name="response">My response</a></h2>
<p>In normal speech, I don't think that people make mistakes on purpose.  In songs, definitely.  Sometimes the artist has to make the words fit the rhythm of the music or rhyme.</p>
<p>In the case of "the way I are," it's <a href="http://en.wikipedia.org/wiki/Poetic_license">poetic license</a>.  In normal speech, that would definitely be incorrect.  But in the song, it's used to mirror the phrase: "the way you are."  In poetry and music, almost anything goes!</p>
<blockquote>
<p>Baby if you strip, you could get a tip<br/>
'Cause I like you just the way you are<br/>
I'm about to strip and I want it quick<br/>
Can you handle me the way I are?</p>
</blockquote>
<p><em><a href="http://www.youtube.com/watch?v=U5rLz5AZBIA">Listen</a> to the full song or <a href="http://www.metrolyrics.com/the-way-i-are-lyrics-timbaland.html">read</a> the lyrics.</em></p>
<h2><a name="mistakes">What is a mistake?</a></h2>
<p>There is a lot of debate on this topic!  Depending on who you ask, you'll get a different answer.</p>
<p><strong>But I would contend that "we gonna" is not a mistake.</strong>  It's definitely not standard English but that doesn't mean it's <em>wrong</em>.</p>
<p>English (like all languages) is in a constant state of flux and what was correct or incorrect in the past, is different now.  There are also many, many, <strong>MANY</strong> competing dialects.  What is correct or incorrect in one dialect, is different in another.</p>
<p>Standard English is a dialect too, which actually, I think no one really speaks natively! :-)  We all speak slightly different dialects and most people can speak or at least understand more than one.</p>
<p>For example, in my native dialect we can say a number of things that would be incorrect in standard English.  I recently wrote a <a href="http://www.linguatrek.com/blog/2011/02/milwaukee-wisconsin-unique-english-dialect">full article</a> about it, but here are a few examples: "I was by grandma on Sunday", "What do yous guys think?", "It's cold out today, aina?"</p>
<p>"We gonna" is perfectly acceptable in certain dialects.  (<em>On the other hand, I don't know any dialect where "the way I are" is acceptable.</em>)</p>
<h2><a name="school">In school, my teacher said it was wrong!</a></h2>
<p>In school, they attempt to teach you standard English and will evaluate you accordingly.  That said, when your teacher gets out of school, they speak their own dialect just like everyone else!</p>
<p>According to linguists, anything a native speaker says which they consider to be acceptable, cannot -- <em>by definition</em> -- be a mistake!  The rules (ie. grammar) we create for a language, exist mostly to <em>describe</em> it, not <em>define</em> it.</p>
<p>However, in a formal context or in writing, you should strive to use standard English.  Dialects can be very localized and using standard English helps more people understand you.  And it will make you appear smarter and more educated!</p>
<p>If you're learning English as a foreign language, I would recommend always sticking with standard English.</p>
<h2><a name="evolution">Languages evolve</a></h2>
<p>Language is changing all of the time.  Even though Shakespeare spoke modern English just like us, his dialect (with thee/thou, "art" instead of "are", etc) has died out and is no longer standard.  That doesn't mean that today's standard English is any less correct!</p>
<p>In 50-100 years, some language features that were once in a nonstandard dialect <em>will</em> become part of standard English.  We could all be saying "we gonna!"</p>
<h2><a name="annoyed">Will people get annoyed?</a></h2>
<p>To finish answering your question: some people will get annoyed when others don't use standard English.  But this is definitely the minority!  Most people (assuming they understand you!) will simply accept it.</p>
<p>The bigger problem really is understanding.  If someone is unfamiliar with the dialect you speak, they simply might have no idea what you are saying! :-)</p>
<p><strong>What do you think about all the different dialects of English?  Do you know something that is correct in some dialects but not in standard English?  Write a comment below!</strong></p>
</div>

<div id="comments">
<a id="comment-875"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.wholesaleonelectronics.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/0651af7b87299c9ac72a11e7f7aeda6b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Of course, everyone makes mistakes, online posts, and speakers will be, even if the English professor, I think he will still make such a mistake,</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/61/875">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.wholesaleonelectronics.com" rel="nofollow">lincanthony</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/do-english-speakers-make-mistakes-on-purpose#comment-875">Tuesday, September 13, 2011 - 20:57</a></span>
</div>
</div>
<div class="indented"><a id="comment-878"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>That's true!  People can misspeak, or make a type-o, or switch thoughts mid-stream, etc.</p>
<p>However, that's not really what this article was about. ;-)  It's more about defining what a mistake is.  Because from a linguistic perspective, if something is acceptable to a native speaker, it isn't a mistake.  But your teacher in school might tell you it's wrong!</p>
<p>Anyway, it's all in the article! :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/61/878">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/do-english-speakers-make-mistakes-on-purpose#comment-878">Tuesday, September 13, 2011 - 21:26</a></span>
</div>
</div>
</div><a id="comment-897"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/1a395139f701369edc4c785a7cae62a0?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Artists in Poland also make the mistakes while writing their lyrics on purpose. Kazik Staszewski from Kult in song "Grzesznik" sings:</p>
<p>Kto ma rozum, ten często błądzi<br/>
Kto ciągle szuka winy ten zabłądzi<br/>
Niech życie płynie zgodnie z własnym sumieniem<br/>
Kierując się odruchu sercem </p>
<p>It should be "Kierując się odruchem serca", but he left the incorrect version because it better fit to the song's rhythm and as he said, everyone understand it anyway. :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/61/897">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">chari (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/do-english-speakers-make-mistakes-on-purpose#comment-897">Monday, September 19, 2011 - 09:26</a></span>
</div>
</div>
<div class="indented"><a id="comment-908"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks so much for the example!  I think artists in all languages do that, but I have never heard (or noticed) an example in Polish before.  If you know any others, please let me know!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/61/908">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/do-english-speakers-make-mistakes-on-purpose#comment-908">Tuesday, September 20, 2011 - 12:25</a></span>
</div>
</div>
</div><a id="comment-3871"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/93cf2e9c7488695a29557c4d063f61e7?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Sorry,I think the first learn standard English and then dialect...</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/61/3871">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Tadeusz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/do-english-speakers-make-mistakes-on-purpose#comment-3871">Saturday, February 9, 2013 - 02:09</a></span>
</div>
</div>
<div class="indented"><a id="comment-3877"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Tadeusz,</p>
<p>I agree! Learners of English should always focus on learning standard English. In fact, I see no reason why a non-native speaker should <em>speak</em> a dialect - they just need to understand the ones that are important to them.</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/61/3877">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/do-english-speakers-make-mistakes-on-purpose#comment-3877">Saturday, February 9, 2013 - 07:27</a></span>
</div>
</div>
</div><a id="comment-3953"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/5f168f2914b83444dea75ea5e982429e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>It's a very interesting topic... I gotta say I don't like it when artists make a "mistake" in lyrics of a song, poetic licence or not! It's just irritates me every time it happens (now, it would be really awkward to find out that I did some mistakes in this text, wouldn't it? I hope I didn't any mistake :D) Poor me!</p>
<p>BTW, in almost every french song artists pronounce the last vowels of nouns, even though in spoken French, one absolutely can not do it. This way the language becomes much easier to sing, I guess.</p>
<p>Sorry for possible mistakes. ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/61/3953">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Monika (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/do-english-speakers-make-mistakes-on-purpose#comment-3953">Wednesday, February 13, 2013 - 13:54</a></span>
</div>
</div>
<div class="indented"><a id="comment-3955"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Monika!</p>
<p>That's really interesting about French music! Something I've always found interesting in English music is that accent mostly disappears when singing. For example, I can't understand Ozzy Osborne talking with his British accent. But he sounds clear as day when he's singing!</p>
<p>BTW, the only mistake I noticed was that it's always "make a mistake" in English - not "do a mistake". I hope that helps!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/61/3955">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/do-english-speakers-make-mistakes-on-purpose#comment-3955">Wednesday, February 13, 2013 - 14:26</a></span>
</div>
</div>
</div><a id="comment-3986"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4f191686b3516a57fed5f375eff18279?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hym... Hymn... I don't know exactly how to understand it. What I think about people who do mistake in own language or what I think about people who do mistake in other language, but I hope it`s about first.</p>
<p>I think everybody can do mistake and this is not wrong. If somebody is from Poland or other countries, and do mistake on his own language I think it's okay. No body it`s perfect and sometimes, some word are esecialy difficult. In my opinion only people who represent country or   sing should take care of your language. So in the world should be one language, I think that will be easier for everybody and nobody will thinking about mistake. If I understoond person who taking to me it`s okay, I don`t have problem with his mistake. I would forget! Teachers, who learn languages should be too take care about it to not doing mistakes :)</p>
<p>It`s all. :D</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/61/3986">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Ada (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/do-english-speakers-make-mistakes-on-purpose#comment-3986">Saturday, February 16, 2013 - 09:50</a></span>
</div>
</div>
<div class="indented"><a id="comment-3988"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Ada!</p>
<p>Thanks for sharing your opinion. :-) Yeah, it's about people making "mistakes" in their own language.</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/61/3988">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/do-english-speakers-make-mistakes-on-purpose#comment-3988">Saturday, February 16, 2013 - 10:24</a></span>
</div>
</div>
</div><a id="comment-4189"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/cb5b490615a423f1da6135060c942b85?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I highly recommend that learners read the reference book titled Practical English Usage by Michael Swan to reduce making mistakes in English. This reference book contains short clear articles on all the grammatical problems which regularly cause difficulty to foreign learners. In addition, it deals with selected points of vocabulary, idiom, style, pronunciation and spelling. The main differences between British and American usage are also dealt with. At the end of the book there is an alphabetical index of all the articles (entries) that are also arranged alphabetically in the book so that a learner or a teacher of English can easily find the topic or the word that present a problem for them. The book is intended for intermediate and advanced students, and for teachers of English.<br/>
It is the most useful and comprehensive English reference book for foreign learners of English. No other book or online materials can match this book in terms of useful and comprehensive content.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/61/4189">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Mike (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/do-english-speakers-make-mistakes-on-purpose#comment-4189">Friday, March 1, 2013 - 10:03</a></span>
</div>
</div>
<a id="comment-4199"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/380f3371433e13195a5f2d7f061772b9?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hello :)</p>
<p>It's a good article :) But I have one (huh - and now be ready for my mistake!) reservation? stipulation? Goooshhhh... I hate, when I don't know some word, and the translator or vocabulary gives me so many options of this one word, and i don't know, which option is adequate :/ Chodziło mi o słowo "zastrzeżenie" (w kontekście "...ale mam jedno zastrzeżenie").<br/>
I think, that we shouldn't mix the poethic language (poets, singers, etc) with "standard english" from school, and with normal, everyday english. Each of them have a different goal (target? huh, again...). Poethic language is a conscious work with words, rhythms, etc. In some meaning we can say, that this is a kind of working language. Not everyone uses this kind of language, especially for normal, everyday conversation. "Standard english" is used mostly in schools (especially in non-english-speaking countries) for teaching grammatical rules, etc. And - as you wrote, David - Even teachers, when go out from the school - they use this everyday english (if they need to speak in english, of course). Remains a matter of everyday language. This kind of language always have a many dialects, slangs, no matter what the language is. And even I have some certificate from language school here in Poland, when I go abroad - I can have problems with understanding language of "local peoples" (i.e. - when I was in Ireland - my first astonishment was, that Irish peoples in Dublin mostly pronounce "u" as "u", not as "a" - they say "Dublin" not "Dablin", or "bus", not "bas" - as we were teaching in school). And as I think - this is normal situation. I'm writing with my friends from Indonesia, Mexico, Korea (friends from work), and often we make a mistakes. But I know, that I don't know english very well, and they don't know it too. But we are writing, speaking, and we understand each others. </p>
<p>Summary - everyone are using own language, everyone have rights for mistakes (we are only human, yes?), but the important thing is - no matter which dialect we are using, and how many mistakes we do - we can talk and we understand each other :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/61/4199">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">KrzysztofD (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/do-english-speakers-make-mistakes-on-purpose#comment-4199">Sunday, March 3, 2013 - 01:43</a></span>
</div>
</div>
<div class="indented"><a id="comment-4200"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/380f3371433e13195a5f2d7f061772b9?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>huh.. and the next mistake:</p>
<p>"And even I have some certificate from language school here in Poland, when I go abroad" - should be: And even IF i have..."</p>
<p>Sorry for that.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/61/4200">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">KrzysztofD (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/do-english-speakers-make-mistakes-on-purpose#comment-4200">Sunday, March 3, 2013 - 02:25</a></span>
</div>
</div>
<a id="comment-4236"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Krzysztof!</p>
<p>For "zastrzeżenie", I think "stipulation" or "condition" would be good.</p>
<p>I agree that poetic English probably shouldn't be used in everyday life. :-) And learners should probably focus on standard English, because you can never go wrong. Native speakers of pretty much any dialect can understand standard English. But if you learn a dialect, well, some native speakers might not be able to understand you.</p>
<p>And, of course, so many people you will speak English with, won't be native speakers!</p>
<p>So, we are in complete agreement. :-)</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/61/4236">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/do-english-speakers-make-mistakes-on-purpose#comment-4236">Monday, March 4, 2013 - 16:15</a></span>
</div>
</div>
</div>
</div>
