---
permalink: /blog/2011/04/the-history-of-easter/
layout: blog-old
title: 'The History of Easter'
day: 26
month: Apr
year: 2011
category: culture
tags: 
  - 'Easter'
  - 'holidays'
language: en
translation: 
---
<div class="content">
<iframe allowfullscreen="" frameborder="0" height="317" src="http://www.youtube.com/embed/eJYXMIJrhRI?rel=0" style="margin-bottom: 20px" title="YouTube video player" width="510"></iframe>
<p><strong>Read more for the transcript!</strong></p>
<h2><a name="transcript">Transcript</a></h2>
<ul>
<li>Easter - the holiest day of the Christian calendar</li>
<li>A celebration of Jesus Christ's resurrection from the dead</li>
<li>So what does this miracle have to do with a bunny delivering painted eggs?</li>
<li>The answer lies in a hundred generations of rituals and customs</li>
<li>According to the gospels of the New Testament</li>
<li>Jesus Christ and his apostles entered Jerusalem to observe Passover, the Jewish holy season that celebrates the Hebrews' release from slavery</li>
<li>After the Passover supper, Jesus was arrested</li>
<li>And on what is now called Good Friday, he was crucified</li>
<li>Two days later he rose from the dead</li>
<li>Those of Jewish origin were the first to celebrate the resurrection, likely as a new facet of the Passover festival</li>
<li>In fact, the Easter celebration was called "pascha"</li>
<li>It's derived from the word "pesach," the Jewish translation for Passover</li>
<li>Originally, Easter was celebrated two days after Passover, so it fell on any day of the week</li>
<li>But Easter Wednesday just didn't feel right</li>
<li>In 325 A.D., <a href="http://en.wikipedia.org/wiki/Constantine_the_Great">Roman Emperor Constantine</a> and the <a href="http://en.wikipedia.org/wiki/First_Council_of_Nicaea">Council of Nicaea</a> ruled the Easter must fall only on a Sunday, the day when Christ rose</li>
<li>Easter Sunday would be the first Sunday to follow the full moon after the spring equinox</li>
<li>It could occur anywhere between March 22nd and April 25th</li>
<li>Around this same time, Christians began one of the first recorded rituals of the modern Easter celebration: the lighting of the paschal candle</li>
<li>Its flame a reminder of Christ's resurrection: light out of darkness</li>
<li>As Christianity spread throughout Europe, different pagan customs blended into the holidays</li>
<li>In fact, the actual word Easter may have come from <a href="http://en.wikipedia.org/wiki/%C4%92ostre">Eostre</a>, the goddess of spring and fertility, which brings us to the Easter egg</li>
<li>Eggs have been a mythological symbol of birth for thousands of years</li>
<li>Christians adopted the egg as an Easter custom sometime around the 13th century</li>
<li>The yolk inside a shell represented Christ's emergence from the tomb</li>
<li>Eggs were painted red to represent the blood Christ shed on the cross</li>
<li>The colorful Easter egg soon hatched its own traditions</li>
<li>A popular one was egg rolling</li>
<li>In 1876, congress prohibited kids from playing on the capitol grounds</li>
<li>So president Rutherford B. Hayes opened the White House lawn to the little rollers</li>
<li>After that, the White House Easter Egg Roll became a tradition</li>
<li>So when did that Easter bunny hop into the scene</li>
<li>The fertile rabbit had long been a symbol of new life in European pagan celebrations</li>
<li>Beginning around the 16th century parents told children that if they behaved, on the eve of Easter, the "osterhase" would come and lay colorful eggs</li>
<li>Children built nests in their homes to entice the rabbit to visit and so began the customs of the Easter egg hunt and the Easter basket</li>
<li>To help fill out those baskets, 19th century European chocolatiers began making egg-shaped chocolates</li>
<li>The sweet trend quickly spread throughout the world</li>
<li>Today billions of dollars are spent each year on Easter candy</li>
<li>Easter - it's a joyful day when Christians celebrate the resurrection</li>
<li>For two thousand years customs have been added - some spiritual and some fun</li>
<li>But Easter is also the time for families to gather and welcome spring, when new life emerges after the dead of winter</li>
</ul>
</div>

<div id="comments">
<a id="comment-942"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/fd2d5bc8a39c869d317e295fe3e4fd56?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Bardzo przłdało by mi się całe tłumaczenie powyższego tekstu, nie jestem wstanie zrozumieć i przetłumaczyć sobie wszystkich zdań takjak zapewnie powynny być tłumaczone.<br/>
Przydało by się tłumaczenie wszystkich tekstów. Jeśli ktoś mo,że niech to wklei gdzieć ale żeby było bez błendów.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/62/942">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">rekda (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/the-history-of-easter#comment-942">Friday, September 30, 2011 - 12:49</a></span>
</div>
</div>
<div class="indented"><a id="comment-945"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Niestety nie mówię po polsku na tyle dobrze, żeby przetłumaczyć cały ten tekst bezbłędnie. :-/  Możesz spróbować Google Translate ale na pewno będą w tym błędy.  Może lepiej zacząć z łatwiejszym tekstem w j. angielskim?</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/62/945">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/the-history-of-easter#comment-945">Friday, September 30, 2011 - 18:29</a></span>
</div>
</div>
</div><a id="comment-1072"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8c9a62caefd2b028403ca48f24c499ac?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>W razie potrzeby tłumaczenia proszę o kontakt, z chęcią to zrobię.<br/>
:) <a href="mailto:bestkjl@gmail.com">bestkjl@gmail.com</a></p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/62/1072">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kewin (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/the-history-of-easter#comment-1072">Sunday, December 4, 2011 - 16:24</a></span>
</div>
</div>
<div class="indented"><a id="comment-1076"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć! Dziękuję bardzo za propozycję. :-) Jeśli przetłumaczysz ten tekst na polsku chętnie go opublikuję.  Pozdrawiam, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/62/1076">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/the-history-of-easter#comment-1076">Tuesday, December 6, 2011 - 10:29</a></span>
</div>
</div>
</div>
</div>
