---
permalink: /blog/2011/04/ubezpieczenie-zdrowotne-w-usa/
layout: blog-old
title: 'Vlog: Ubezpieczenie zdrowotne w USA'
day: 29
month: kwi
year: 2011
category: learn-polish
tags: 
  - 'vlog'
language: pl
translation: /blog/2011/04/vlog-ubezpieczenie-zdrowotne-w-usa/
---
<div class="content">
<p>Dzisiaj mówię o ubezpieczeniu zdrowotnym w Stanach Zjednoczonych z mojego osobistego doświadczenia jako Amerykanin.</p>
<iframe allowfullscreen="" frameborder="0" height="317" src="http://www.youtube.com/embed/kfWQhK5IGkI?rel=0" style="margin-bottom: 20px" title="YouTube video player" width="510"></iframe>
<p>Zrobiłem tym razem strasznie dużo błędów, już przepraszam za to! :-)  Ale były w tym dla mnie trudne słowa: zapłacić/płacić, tysiąc/tysiące/tysięcy, pieniądze/pieniędzy, wszystkie te liczby, itd.</p>
<p><strong>Czytaj transkrypcję poniżej!</strong></p>
<h2><a name="transcript">Transkrypcja</a></h2>
<ul>
<li>Dzień dobry</li>
<li>Znowu przed kamerą internetową mówi David Snopek</li>
<li>Dość dużo razy ludzie <del>zapytali</del> [pytali] mnie o <del>ubezpieczeniu zdrowotnym</del> [ubezpieczenie zdrowotne] w Stanach Zjednoczonych</li>
<li>To <del>jest</del> dość skomplikowana sprawa</li>
<li>Bardzo trudno wyjaśnić to tylko w mailu</li>
<li>Ale mam nadzieję, że będzie łatwiej w formie wideo</li>
<li>Na początku muszę dodać, że <del>te</del> reformy wprowadzone przez prezydenta Obamę w zeszłym roku mogą zmienić wszystko</li>
<li>Ale większość tych zmian <del>zacznie się</del> [zostanie wprowadzone] dopiero za kilka lat</li>
<li>I w ogóle nie wiadomo czy te reformy będą na stałe</li>
<li>Bo ludzie walczą przeciw nim w sądzie</li>
<li>I następny prezydent może po prostu <del>usunąć</del> je [wycofać]</li>
<li>Poza tym, nawet gdyby te reformy przetrwały, nie wiem jak to byłoby w praktyce</li>
<li>Bo tylko żyłem osobiście tylko w obecnej sytuacji</li>
<li>Więc będę mówił wyłącznie o obecnej sytuacji i przeszłości</li>
<li>Dobrze</li>
<li>Najpierw podstawowe koszty</li>
<li>Wizyta u lekarza kosztuje między 100 (sto) i 300 (trzysta) dolarów</li>
<li>U specjalisty kosztuje trochę więcej</li>
<li>Jeśli lekarz prowadzi jakieś <del>testy</del> [badania], musisz zapłacić za <del>każdy test</del> [każde badanie]</li>
<li>Ceny są różne: może 20 (dwadzieścia) dolarów, może 1.000 (tysiąc)</li>
<li>To zależy od rodzaju <del>testu</del> [badania]</li>
<li>Jeśli lekarz <del>pisze</del> [wypisze] Ci receptę, lek kosztuje średnio między 50 (pięćdziesiąt) i 100 (sto) dolarów</li>
<li>Najgorzej, pobyt w szpitalu kosztuje <del>ileś</del> [kilka] tysięcy dolarów</li>
<li>To są zwykłe ceny niezależnie od tego, czy Ty płacisz za wszystko czy <del>ubezpieczenie płaci za</del> [ubezpieczyciel pokrywa] część tego</li>
<li>Jakość służby zdrowotnej w Stanach jest bardzo wysoka</li>
<li>Ale widać, że koszty też są <del>zbyt</del> wysokie</li>
<li>Kiedy masz ubezpieczenie zdrowotne zawsze jest jakaś opłata miesięczna</li>
<li>Ostatnim razem jak sam kupiłem ubezpieczenie zdrowotne -- to znaczy, nie przez pracę -- osobiście płaciłem 111 (sto jedenaście) dolarów miesięcznie</li>
<li>Też jest "co-pay", to jest suma, którą płacisz <del>każdy raz</del> [za każdym razem] jak jesteś u lekarza</li>
<li>Osobiście miałem "co-pay" [w wysokości] 30 (trzydzieści) dolarów</li>
<li>Na koniec ale najważniejszy jest "deductible"</li>
<li>Ja miałem "deductible" 5.000 (pięć tysięcy) dolarów</li>
<li>To jest minimalna suma w ciągu roku, którą Ty płacisz z własnej kieszeni <del>przed tym, jak</del> [zanim] ubezpieczenie <del>płaci</del> [zapłaci] cokolwiek</li>
<li>Właśnie to jest bardzo trudno wyjaśnić, więc podam więcej przykładów</li>
<li>Powiedzmy, że w ciągu roku chodzę do lekarza dwa razy</li>
<li>Pierwszym razem płacę 30 (trzydzieści) dolarów "co-pay" i wizyta kosztuje, powiedzmy, 200 (dwieście) dolarów </li>
<li>Drugim razem znowu płacę "co-pay" i za wizytę 200 (dwieście) dolarów</li>
<li>I jeszcze 50 (pięćdziesiąt) dolarów za <del>test</del> [badanie] krwi, powiedzmy</li>
<li>Więc w sumie 450 (czterysta pięćdziesiąt) dolarów</li>
<li>W tym "co-pay" nie liczy się</li>
<li>I ta suma jest mniejsza od tej sumy więc ja zapłacę za wszystko</li>
<li>W całości w tym roku, zapłacę:</li>
<li>111 (sto jedenaście) dolarów miesięcznie więc 1.332 (<del>sto</del> [tysiąc] trzysta trzydzieści dwa)</li>
<li>60 (sześćdziesiąt) dolarów za "co-pay"</li>
<li>I 450 (czterysta pięćdziesiąt) dolarów za wizyty u lekarza</li>
<li>W sumie 1.842 (tysiąc osiemset <del>czterysta</del> [czterdzieści] dwa) dolarów</li>
<li>I w tym przykładowym roku ja zapłacę za wszystko</li>
<li><del>Ubezpieczenie</del> [ubezpieczyciel] nie zapłaci za nic, nie zapłaci w ogóle</li>
<li>To był był zwykły rok, nic strasznego nie stało się</li>
<li>Ale powiedzmy, że w następnym roku <del>zostaję</del> [będę] poważnie chory i <del>jestem</del> [będę] w szpitalu przez tydzień</li>
<li>I to <del>kosztuje</del> [będzie kosztować] na przykład 8.000 (osiem tysięcy) dolarów</li>
<li>Ja zapłacę tylko 5.000 (pięć tysięcy) dolarów bo to jest "deductible"</li>
<li>I ubezpieczenie zapłaci za resztę, czyli 3.000 (trzy <del>tysięcy</del> [tysiące]) dolarów</li>
<li>Więc z takim ubezpieczeniem z takim "deductible", zwykle ubezpieczenie nic nie płaci</li>
<li>Ale kiedy coś naprawdę strasznego się zdarzy, to <del>pomaga</del> [pomoże]</li>
<li>Bo 3.000 (trzy tysiące) dolarów nie jest niczym, nie?</li>
<li>To jest sporo <del>pieniądze</del> [pieniędzy]</li>
<li>Ale też możesz <del>kupić</del> [wykupić] ubezpieczenie z mniejszym "deductible", np. 2.000 (dwa tysiące), 1.000 (tysiąc), 500 (pięćset), nawet 0 (zero)</li>
<li>Ale wtedy miesięczna opłata jest wyższa, np. powiedzmy 200 (dwieście) dolarów, 300 (trzysta) dolarów, 500 (pięćset) i 1000 (tysiąc)</li>
<li>To tylko są przykłady bo prawdziwa cena zależy nie tylko od firmy, która sprzedaje to ubezpieczenie</li>
<li>Ale też zależy od osoby, która [je] kupuje <del>to</del></li>
<li>Jeśli jesteś starszy, na przykład, na ten sam "deductible" miesięczna opłata będzie wyższa</li>
<li>Jeśli jesteś bardzo <del>tłusty</del> [otyły], będzie wyższa</li>
<li>Jeśli palisz, będzie wyższa, itd.</li>
<li>Ale te liczby są prawdziwe</li>
<li>Kiedyś miałem dokładnie takie ubezpieczenie, które sam kupiłem</li>
<li>Najlepsza sytuacja jest kiedy masz ubezpieczenie zdrowotne przez pracę</li>
<li>Bo wtedy nie tylko Ty płacisz coś miesięcznie, ale firma też coś płaci</li>
<li>I ceny w ogóle są mniejsze bo jesteś w grupie razem z wszystkimi w Twojej pracy</li>
<li>I zawsze w grupie wszystko jest taniej, nie?</li>
<li>Ostatnim razem jak osobiście miałem ubezpieczenie zdrowotne przez pracę, nie pamiętam dokładnie, ale może płaciłem 80 (osiemdziesiąt) dolarów miesięcznie</li>
<li>Nie wiem ile firma płaciła ale może tę samą sumę</li>
<li>Ale "deductible" był całkiem dobry może 2.000 (dwa tysiące) lub 1.000 (tysiąc) </li>
<li>Już nie pamiętam, ale sytuacja wyglądała o wiele lepiej</li>
<li>Ale firma nie musi <del>mieć dla pracowników ubezpieczenie zdrowotne</del> [wykupić pracownikom ubezpieczenia zdrowotnego]</li>
<li>Kupiłem to ubezpieczenie właśnie z powodu, że pracowałem w firmie takiej bez ubezpieczenia zdrowotnego</li>
<li>To jest dość normalne</li>
<li>Przez ostatnich 10 lat, miałem ubezpieczenie zdrowotne może przez połowę</li>
<li>Właśnie <del>we</del> [w] chwili obecnej nie mam ubezpieczenia zdrowotnego</li>
<li>Ale jest OK, nadal jestem młody i zdrowy</li>
<li>Ale czasem oczywiście mogą nastąpić naprawdę poważne problemy kiedy nie masz ubezpieczenia zdrowotnego</li>
<li>Bo jeśli już jesteś poważnie chory, nie możesz kupić ubezpieczenia</li>
<li>Te firmy odmówiłyby <del>Ciebie</del> [Tobie]</li>
<li>Bo wtedy cały system straci sens</li>
<li>Bo musisz ciągle płacić jak jesteś nadal zdrowy, żeby mieli <del>pieniędzy</del> [pieniądze] na to</li>
<li>I oczywiście większość ludzi płaci przez całe swoje życie więcej niż im dają</li>
<li>Bo w ten sposób działa ubezpieczenie, nie?</li>
<li>Ale kiedy chorujesz na raka na przykład, chemoterapia kosztuje około 10.000 (dziesięciu tysięcy) dolarów za każdy raz</li>
<li>Więc w ogóle nie jest możliwe zapłacić za to bez ubezpieczenia zdrowotnego</li>
<li>Więc warto mieć</li>
<li>No, myślę, że to wszystko co dzisiaj mam do powiedzenia</li>
<li>Dziękuję za uwagę</li>
<li>Do widzenia</li>
</ul>
</div>

<div id="comments">
<a id="comment-294"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/be982193590e8362725477db3deb5e3a?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Za drobne błędy nie przepraszaj ;). Cała wypowiedź jest bardzo zrozumiała. Odnoszę wrażenie, że potrafisz się lepiej wysłowić niż niejeden Polak.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/64/294">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Regis (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/ubezpieczenie-zdrowotne-w-usa#comment-294">niedziela, maj 1, 2011 - 18:24</a></span>
</div>
</div>
<a id="comment-316"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/af8c6addede1b7cb920e800210a81655?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Mógł by pan nagrać filmik jak spędza się wakacje w USA lub dla mnie ciekawe było by też film o Milwaukee taka przejażdżka po centrum. :) Pozdrawiam Bartek.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/64/316">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Bartek (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/ubezpieczenie-zdrowotne-w-usa#comment-316">wtorek, maj 10, 2011 - 08:43</a></span>
</div>
</div>
<div class="indented"><a id="comment-317"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>To fajny pomysł!  Mógłbym nagrać krótki "turystyczny" filmik o Milwaukee lub coś w tym stylu. :-)  Pozdrawiam, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/64/317">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/ubezpieczenie-zdrowotne-w-usa#comment-317">wtorek, maj 10, 2011 - 09:01</a></span>
</div>
</div>
</div><a id="comment-344"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/dffbd9c153a00c85ec398aea2049f569?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Wasz system ubezpieczeń jest totalnie nie do wyobrażenia. Gdyby coś takiego obowiązywało w Polsce, 90% polskich obywateli byłoby bankrutami po jednej bądź dwóch wizytach w szpitalu. Domyślam się, że w stanach ciężkie choroby typu nowotwór muszą być dla wielu ludzi jak wyrok - 10.000 za jedną sesję chemioterapii. Szok. :|</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/64/344">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">gr (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/ubezpieczenie-zdrowotne-w-usa#comment-344">piątek, maj 20, 2011 - 20:52</a></span>
</div>
</div>
<a id="comment-345"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/dffbd9c153a00c85ec398aea2049f569?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Czy mógłbyś jeszcze podać, jaka jest średnia miesięczna płaca w USA?<br/>
U nas w Polsce to około 1200 dolarów brutto miesięcznie.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/64/345">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">gr (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/ubezpieczenie-zdrowotne-w-usa#comment-345">piątek, maj 20, 2011 - 21:04</a></span>
</div>
</div>
<div class="indented"><a id="comment-350"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Według Wikipedii (artykuł pod tytułem <a href="http://en.wikipedia.org/wiki/Personal_income_in_the_United_States">Personal Income in the United States</a>) to około $25.000 dolarów rocznie. To dla﻿ mnie brzmi w porządku.</p>
<p>Z podatkami, oczywiście, będziesz miał mniej na koncie, i ceny za prawie wszystko w Stanach są wyższe niż w Polsce (zwłaszcza czynsz). Jedyne wyjątki, które znam, są: komputery, telewizory, elektroniki, itp i również samochody i benzyna. Z jakiegoś nieznanego powodu te rzeczy są tańsze w Stanach!  Ale codzienne rzeczy kosztują więcej.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/64/350">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/04/ubezpieczenie-zdrowotne-w-usa#comment-350">sobota, maj 21, 2011 - 09:51</a></span>
</div>
</div>
<div class="indented"><a id="comment-351"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/dffbd9c153a00c85ec398aea2049f569?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>$25.000 to nie za wiele - szczerze mówiąc, to oczekiwałem wyższych zarobków.<br/>
W tej sytuacji to współczuję tym Amerykanom, których nie stać na ubezpieczenie zdrowotne.<br/>
U nas pracodawca ma obowiązek płacić składkę zdrowotną za każdego zatrudnionego pracownika i wtedy pobyty w szpitalach czy wizyty u lekarzy mamy darmowe. Może służba zdrowia nie jest u nas na porywającym poziomie, ale podstawowe leczenie mamy zapewnione za darmo.<br/>
Oczywiście, każdy może sobie wykupić dodatkowo różnego rodzaju prywatne usługi medyczne. Najdroższe są u nas usługi stomatologiczne.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/64/351">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">gr (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/04/ubezpieczenie-zdrowotne-w-usa#comment-351">sobota, maj 21, 2011 - 11:05</a></span>
</div>
</div>
</div></div><div class="box">
<h2>Dodaj nową odpowiedź</h2>
<div class="content"><form accept-charset="UTF-8" action="/comment/reply/64" id="comment-form" method="post">
<div><div class="form-item" id="edit-name-wrapper">
<label for="edit-name">Nazwisko lub pseudonim: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-name" maxlength="60" name="name" size="30" type="text" value="Anonymous"/>
</div>
<div class="form-item" id="edit-mail-wrapper">
<label for="edit-mail">E-mail: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-mail" maxlength="64" name="mail" size="30" type="text" value=""/>
<div class="description">Zawartość pola nie będzie udostępniana publicznie. If you have a <a href="http://www.gravatar.com">Gravatar</a> account, used to display your avatar.</div>
</div>
<div class="form-item" id="edit-homepage-wrapper">
<label for="edit-homepage">Strona domowa: </label>
<input class="form-text" id="edit-homepage" maxlength="255" name="homepage" size="30" type="text" value=""/>
</div>
<div class="form-item" id="edit-comment-wrapper">
<label for="edit-comment">Odpowiedź: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<textarea class="form-textarea resizable required" cols="60" id="edit-comment" name="comment" rows="15"></textarea>
</div>
<ul class="tips"><li>Adresy internetowe są automatycznie zamieniane w odnośniki, które można kliknąć.</li><li>Dozwolone znaczniki HTML: &lt;a&gt; &lt;em&gt; &lt;strong&gt; &lt;cite&gt; &lt;code&gt; &lt;ul&gt; &lt;ol&gt; &lt;li&gt; &lt;dl&gt; &lt;dt&gt; &lt;dd&gt;</li><li>Znaki końca linii i akapitu dodawane są automatycznie.</li></ul><input id="form-c99da736b89a0b431f1b126616773198" name="form_build_id" type="hidden" value="form-c99da736b89a0b431f1b126616773198"/>
<input id="edit-comment-form" name="form_id" type="hidden" value="comment_form"/>
<div class="clear-block"><div class="form-item" id="edit-notify-wrapper">
<label class="option" for="edit-notify"><input checked="checked" class="form-checkbox" id="edit-notify" name="notify" type="checkbox" value="1"/> Notify me when new comments are posted</label>
</div>
<div class="form-radios"><div class="form-item" id="edit-notify-type-1-wrapper">
<label class="option" for="edit-notify-type-1"><input class="form-radio" id="edit-notify-type-1" name="notify_type" type="radio" value="1"/> All comments</label>
</div>
<div class="form-item" id="edit-notify-type-2-wrapper">
<label class="option" for="edit-notify-type-2"><input checked="checked" class="form-radio" id="edit-notify-type-2" name="notify_type" type="radio" value="2"/> Replies to my comment</label>
</div>
</div></div><input class="mollom-session-id" id="edit-mollom-session-id" name="mollom[session_id]" type="hidden" value=""/>
<div style="display: none;"><div class="form-item" id="edit-mollom-homepage-wrapper">
<input class="form-text" id="edit-mollom-homepage" maxlength="128" name="mollom[homepage]" size="60" type="text" value=""/>
</div>
</div><div class="description mollom-privacy">Wysłanie formularza jest równoznaczne z akceptacją <a href="http://mollom.com/web-service-privacy-policy">polityki prywatności usługi Mollom</a>.</div><input class="form-submit" id="edit-preview" name="op" type="submit" value="Podgląd"/>
</div></form>
</div>
</div>
</div>
