---
permalink: /blog/2013/10/review-memrisecom-i-started-learning-a-little-chinese/
layout: blog-old
title: 'Review: Memrise.com (I started learning a little ... Chinese?!)'
day: 15
month: Oct
year: 2013
category: language learning
tags: 
  - 'Memrise.com'
  - 'review'
  - 'vlog'
language: en
translation: /blog/2013/10/recenzja-memrisecom-zacz%C4%85%C5%82em-si%C4%99-uczy%C4%87-troch%C4%99-chi%C5%84skiego/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2013/10/memrise.jpg" rel="lightbox"><img alt="Memrise.com Logo" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2013/10/memrise.jpg" title=""/></a></div>
<p>For a while now I've been trying to decide what language to learn next.</p>
<p>Of course, I'll keep learning Polish! I've been reading the <em>Song of Ice and Fire</em> books (ie. <em>Game of Thrones</em>) in Polish and practicing speaking at the end of <a href="https://en.bibliobird.com/node/16345">our weekly voice chat meetings on Bibliobird.com</a>.</p>
<p>It's just that I'm already at a pretty advanced level and it's no longer as challenging as it used to be.</p>
<p>But which language to learn? They <em>ALL</em> seem interesting! But learning a language is a big commitment and no languages excite me as much as Polish did. :-/</p>
<p>A few weeks ago, I was talking to a friend and he told me he was learning <a href="http://www.memrise.com/course/749/learn-basic-chinese-read-a-menu/">how to read Chinese menus on Memrise.com</a>. This sounded really awesome, because:</p>
<ol>
<li><strong>I'd be able to use it right away!</strong> While I have no connection to China or the Chinese people, I do eat Chinese food often and the menus at Chinese restaurants are always written in both English and Chinese.</li>
<li><strong>It doesn't require much commitment.</strong> Learning a whole new language will take lots of time and effort - but just learning to read a menu is a simple way to get started.</li>
</ol>
<p>So, I decided to review <a href="http://www.memrise.com/">Memrise.com</a> by learning to read a little Chinese!</p>
<p><strong>Today's article also includes a <u>video</u> where I show you how Memrise works and <u>we go to a Chinese restaurant to try out what I've learned!</u></strong></p>
<p>Of course, you can learn many more languages on Memrise.com than Chinese, including: English, <a href="http://www.memrise.com/courses/english/polish/">Polish</a> and dozens of others. <em>Maybe it'll help you learn your next language?</em></p>
<p><strong>Read more to find out!</strong></p>
<h2>How does Memrise.com work?</h2>
<p>Memrise helps you learn words and phrases in a foreign language. It uses a <a href="http://www.linguatrek.com/blog/2011/01/what-is-spaced-repetition">spaced repetition system</a>, much like <a href="http://ankisrs.net/">Anki</a>, which is a program I've used in my language learning for a long time.</p>
<p><strong>The site is <em>completely free</em> and all the materials are contributed by other users!</strong></p>
<p>You start by selecting a course, for example, <a href="http://www.memrise.com/course/749/learn-basic-chinese-read-a-menu/">Learn Basic Chinese: read a menu!</a> or <a href="http://www.memrise.com/course/48407/upper-intermediate-english/">Upper-intermediate English</a>.</p>
<p>Each course is made up of several "levels", which each contain several "items" that you'll learn. For example, here are the items in the first level of the Chinese menu course:</p>
<a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/image/2013/10/selection_024.png" rel="lightbox">
<img alt="Screenshot of the items in the first level" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Wide/image/2013/10/selection_024.png"/>
</a>
<p>Memrise uses a really strange metaphor: you "plant" new levels and then "water" them periodically. Every time you log in, it'll tell you how many items need to be "watered" and you can click a button to review them.</p>
<a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/image/2013/10/selection_025.png" rel="lightbox">
<img alt="Screenshot of the 'water' button" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Wide/image/2013/10/selection_025.png"/>
</a>
<p>Each time a new item is introduced, you're given the opportunity to pick a "mem" to help you remember it. All the "mems" are created by other users and you can create you own too. Here are some examples for learning the Chinese character for "sauce":</p>
<div class="clear-block">
<a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/image/2013/10/selection_020.png" rel="lightbox" style="float: left; margin: 10px;">
<img alt="" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Medium/image/2013/10/selection_020.png"/>
</a>
<a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/image/2013/10/selection_019.png" rel="lightbox" style="float: left; margin: 10px;">
<img alt="" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Medium/image/2013/10/selection_019.png"/>
</a>
</div>
<p>Then it will ask (in many different ways) to translate the items to or from the language you are learning. This can be clicking one of many options or even typing the correct answer. Depending on well you do on each item, it'll decide how soon you need to "water" that item again.</p>
<div class="clear-block">
<a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/image/2013/10/selection_023.png" rel="lightbox" style="float: left; margin: 10px;">
<img alt="" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Medium/image/2013/10/selection_023.png"/>
</a>
<a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/image/2013/10/selection_021.png" rel="lightbox" style="float: left; margin: 10px;">
<img alt="" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Medium/image/2013/10/selection_021.png"/>
</a>
</div>
<h2>Video: Using Memrise and going to a Chinese restaurant</h2>
<p>Here is a quick video walk-through showing you how Memrise works. It ends with Carrie (my wife) and I going to a Chinese restaurant to try out what I learned. :-)</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/jInMkPpnOjA?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/jInMkPpnOjA?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p><em>(There are subtitles in English - <a href="http://amara.org/en/videos/7TmXXbCTz3v1/info/recenzja-memrisecom-zaczalem-sie-uczyc-troche-chinskiego/">click here</a> to help me translate them into Polish!)</em></p>
<h2>The good</h2>
<p>Here are the things I like about Memrise:</p>
<ol>
<li><strong>Everything is contributed by the community:</strong> All the content is from users, which means it'll keep growing and getting better.</li>
<li><strong>Most courses include audio:</strong> <a href="http://www.linguatrek.com/blog/2012/01/the-importance-of-listening">Listening is by far one of the most important activities</a> in language learning! Although, the Chinese menu course I tried didn't have audio. :-(</li>
<li><strong>Really cool web 2.0 awesome sauce:</strong> The application is very well built, beautiful and easy to use.</li>
</ol>
<h2>The bad</h2>
<p>And here are the things I don't like:</p>
<ol>
<li><strong>Everything is contributed by the community:</strong> Because everything comes from other users, the courses are of varying quality - especially the audio. Also, while the content is continuing to grow, some important things are missing.</li>
<li><strong>Not the best "personal study" tool:</strong> Finding a cool course is great, but what if you want to review words you encountered while reading or listening in a foreign languageg (like I did with Harry Potter)?  While it is possible to create a "personal vocab list" on Memrise, I still think that Anki is the better tool for this.</li>
</ol>
<h2>Conclusion</h2>
<p>I had a lot of fun learning some Chinese that I could actually use in real life! :-) And, overall, using Memrise was a very enjoyable experience.</p>
<p>I'd recommend it to you, if ...</p>
<ul>
<li><strong>you're just starting to learn a new language</strong> and you want to do something (for free!) that doesn't require a lot of time or commitment, or</li>
<li><strong>you find a really high-quality course</strong> for the language you are learning, or</li>
<li><strong>you want to create your own course</strong> for others to use</li>
</ul>
<p>But if not, Memrise might not be the best tool for you.</p>
<p><strong>Have you tried Memrise.com? Please write a comment and let me know what you thought of it!</strong></p>
</div>

<div id="comments">
<a id="comment-5304"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/b6a5f033e3914926e3cb006e6c3838ff?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć Dawid!</p>
<p>Actually, Memrise does indeed have Polish courses: <a href="http://www.memrise.com/courses/english/polish/" title="http://www.memrise.com/courses/english/polish/">http://www.memrise.com/courses/english/polish/</a></p>
<p>You may not have been able to find them because they are categorized under Languages\Slavic rather than Languages\European.</p>
<p>Pozdrawiam!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/254/5304">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Duan (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/10/review-memrisecom-i-started-learning-a-little-chinese#comment-5304">Thursday, October 10, 2013 - 12:12</a></span>
</div>
</div>
<div class="indented"><a id="comment-5308"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Duan!</p>
<p>Thanks! That is exactly why I didn't find them! It blows my mind that Basque is under European (while not actually being in the Indoeuropean language family) but the Slavic languages are not. :-/</p>
<p>I can see that you are very active over at Memrise! When I finally publish this article (it's actually not finished, it got published by accident), I'll add a link to that section. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/254/5308">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/10/review-memrisecom-i-started-learning-a-little-chinese#comment-5308">Friday, October 11, 2013 - 08:43</a></span>
</div>
</div>
</div><a id="comment-5324"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/5fbfff5f3162ca52ac9fd8d22944ff27?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Not too bad. I'd recommend taking a look at the abcsofchinese.com if you're serious about learning to read and write. It's the best site I've found as it doesn't encourage you to learn characters randomly. You learn the radicals and components and move from there to more complicated ones.</p>
<p>Once you start to see the characters as being composed of little pieces that are everywhere, it becomes much easier to learn things like 龍 or 鹿.</p>
<p>Learning on a site like memrise isn't bad, but it's not very well suited for Chinese characters.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/254/5324">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Thomas (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/10/review-memrisecom-i-started-learning-a-little-chinese#comment-5324">Tuesday, October 15, 2013 - 13:10</a></span>
</div>
</div>
<div class="indented"><a id="comment-5327"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Thomas!</p>
<p>Thanks for the suggestion! I'm not serious ... yet. :-) We'll see. For now, I might learn some more on Memrise because it's fun and easy. I haven't yet "fallen in love" with Chinese:</p>
<p><a href="http://www.linguatrek.com/blog/2013/02/how-to-find-motivation-that-is-powerful-enough-to-succeed" title="http://www.linguatrek.com/blog/2013/02/how-to-find-motivation-that-is-powerful-enough-to-succeed">http://www.linguatrek.com/blog/2013/02/how-to-find-motivation-that-is-po...</a></p>
<p>Take care!<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/254/5327">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/10/review-memrisecom-i-started-learning-a-little-chinese#comment-5327">Tuesday, October 15, 2013 - 16:36</a></span>
</div>
</div>
<div class="indented"><a id="comment-5329"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/5fbfff5f3162ca52ac9fd8d22944ff27?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>To each his own. Chinese definitely isn't for everybody, but the grammar is relatively straight forward and once you get the hang of the tones, it's actually a lot of fun.</p>
<p>But, it definitely does take a certain type of a person to try and learn to read it. Not so much hard as a lot of work over a relatively long period of time.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/254/5329">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Thomas (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/10/review-memrisecom-i-started-learning-a-little-chinese#comment-5329">Tuesday, October 15, 2013 - 19:52</a></span>
</div>
</div>
</div></div><a id="comment-5325"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/15a8a5e73b9def997db642e6ac60ad60?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>hi david<br/>
I might use this to learn a bit of Japanese,my wife and I together with a few friends are planning a holiday to japan next year so wanted to learn some basic greetings and other usefull stuff.<br/>
also when is the next polish bibliobird meeting?was a good experience for me last time even tho I coudnt really understand much of the polish being spoken.:-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/254/5325">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Roy (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/10/review-memrisecom-i-started-learning-a-little-chinese#comment-5325">Tuesday, October 15, 2013 - 13:50</a></span>
</div>
</div>
<div class="indented"><a id="comment-5328"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Roy!</p>
<p>About your trip to Japan - that sounds awesome! :-) I see that you already found the info about the next Bibliobird meeting, but in case someone is wondering the same thing as you, here is the link:</p>
<p><a href="https://en.bibliobird.com/node/16345-page-1#comment-16873" title="https://en.bibliobird.com/node/16345-page-1#comment-16873">https://en.bibliobird.com/node/16345-page-1#comment-16873</a></p>
<p>See ya!<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/254/5328">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/10/review-memrisecom-i-started-learning-a-little-chinese#comment-5328">Tuesday, October 15, 2013 - 16:38</a></span>
</div>
</div>
</div><a id="comment-5330"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a7bdd072183f6c9d98af9ef5c84f11b5?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Dzięki David za inspirację do nauki j. chińskiego. Ciekawa forma, zrobiłam pierwszą próbę. Podoba mi się. Przy okazji można szlifować angielski.<br/>
Dzięki też za piękny filmik.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/254/5330">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">krystynaM (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/10/review-memrisecom-i-started-learning-a-little-chinese#comment-5330">Tuesday, October 15, 2013 - 19:56</a></span>
</div>
</div>
<a id="comment-5332"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/999886e2ba2f15233eb42150d422adb8?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>David czesc!<br/>
Hope you are doing well!<br/>
I found you (your videoblog) some half year ago when I was seeking any sources of Polish learning for my master degree in Warsaw.<br/>
I enjoyed and still enjoy your videos and articles! Especially your ambition "pokonac jezyka polskiego" :)</p>
<p>Regarding memrise and chinese, well I used almost one year memrise to learn chinese, it is quite interesting and easy to catch the new information via memrise strategy of learning foreign language.<br/>
However, after some time I found out a more practicable site that seems for me ONE of the most perfect and recommended and useful to learn chinese - <a href="http://www.fluentu.com/" title="www.fluentu.com/">www.fluentu.com/</a></p>
<p>I hope my opinion will help you somehow.<br/>
Good luck and take care!<br/>
Ghenadie</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/254/5332">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Ghenadie (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/10/review-memrisecom-i-started-learning-a-little-chinese#comment-5332">Wednesday, October 16, 2013 - 00:53</a></span>
</div>
</div>
<a id="comment-5336"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/bc9251a3e31aa0bcb39f584067565968?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi David </p>
<p>I've been using Memrise in two different ways. I'm doing an intermediate French course to brush up my vocab - it's good for learning new words but really I'm at the stage where I need to be talking, so perhaps not the best tool for me. It's almost daunting to be faced with so many words where perhaps I could just learn them naturally in conversation or from literature. Still, when I'm reading or talking and I come across words that I've learned on Memrise, it's pretty exciting. Where else would I have learned the French for 'hurtle past' and 'turn down your collar'?</p>
<p>I've also done the basic Arabic course and learned to read Arabic in just a couple of weeks. I'm now beginning to learn some words and sentences from the follow on course, in conjunction with the free podcasts on arabicpod.net. I'd say this combined method has helped me gain confidence but without the Memrise lessons on pronouncing the letters, I'd still be struggling. </p>
<p>So it's great for learning new characters but possibly a bit slow for syntax. After nailing Arabic script, I had an urge to learn Chinese and Hindi and... well the list could go on. One step at a time. Need to develop the Arabic into something vaguely conversational first.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/254/5336">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Jimio (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/10/review-memrisecom-i-started-learning-a-little-chinese#comment-5336">Wednesday, October 16, 2013 - 16:48</a></span>
</div>
</div>
<div class="indented"><a id="comment-5357"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Jimio,</p>
<p>Thanks for sharing your experience! Arabic is also a language I'm a little interested. At one point I learned how to write the alphabet which was really interesting, but I never learned any words. ;-)</p>
<p>I wish you the best with all your languages!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/254/5357">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/10/review-memrisecom-i-started-learning-a-little-chinese#comment-5357">Wednesday, October 23, 2013 - 11:40</a></span>
</div>
</div>
</div><a id="comment-5379"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/7a47663fc8004092ce10fa21f51d12e7?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi again! thanks for the review and a lovely video. I had a look at that page, and must say it's quite allright. for me, the big minus is that this service is most efficient only when you're using is everyday and have a net connection at home, because then you may practice pronunciation. but even though, I'm going to use it ;)<br/>
as for your Chinese lessons - have fun, and hope to hear more of it. today one of my friends sent me sth funny connected with English-Chinese translations, so I thought I should drop you a line and the link: <a href="http://9gag.com/gag/aYbyWL7?ref=android" title="http://9gag.com/gag/aYbyWL7?ref=android">http://9gag.com/gag/aYbyWL7?ref=android</a>  enjoy! cheers</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/254/5379">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Gosia (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/10/review-memrisecom-i-started-learning-a-little-chinese#comment-5379">Thursday, October 31, 2013 - 03:57</a></span>
</div>
</div>
<div class="indented"><a id="comment-5497"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hehe, that link was very funny! Thanks! :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/254/5497">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/10/review-memrisecom-i-started-learning-a-little-chinese#comment-5497">Tuesday, November 26, 2013 - 14:18</a></span>
</div>
</div>
</div><a id="comment-5391"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e77cfb75560093420afb2a184320b7b4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Can anyone suggest me some good website for French begginers?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/254/5391">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">2701 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/10/review-memrisecom-i-started-learning-a-little-chinese#comment-5391">Monday, November 4, 2013 - 04:35</a></span>
</div>
</div>
<div class="indented"><a id="comment-5506"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/6e08b53b47381c18492ee8859b43d7d7?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Try News in Slow French (there is a beginner French option somewhere I think) or Duolingo.com</p>
<p>Norm</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/254/5506">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Norm (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/10/review-memrisecom-i-started-learning-a-little-chinese#comment-5506">Thursday, November 28, 2013 - 14:15</a></span>
</div>
</div>
</div><a id="comment-5409"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/ac2f4ffbe167066f30a0a70856cfa026?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Thanks for sharing the link. I have been using duolingo.com for spanish for a while, and it seems very good to me. Even though you don't learn a lot from such things, you learn a bit. I read about how you learned polish, it's amazing. I wish I was able to put in the same effort for learning spanish, then polish and then probably russian. I see memrise.com has basic polish, so I will try that when I got some time. Thanks!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/254/5409">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Emil M (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/10/review-memrisecom-i-started-learning-a-little-chinese#comment-5409">Wednesday, November 13, 2013 - 03:07</a></span>
</div>
</div>
<a id="comment-7609"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/bc615e19758f4898e5c0e4427e45172f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi all.  I am learning Polish for the long haul as my boyfriend's family is Polish and I am also learning French for an upcoming trip (2 weeks in France!!)  I am much more advanced in Polish but I am motivated because my oral comprehension is still basically terrible.  </p>
<p>Memrize has great French content, but the Polish content needs some work.  Most do not have audio or it is really basic stuff.  I love the memorization technique with the pictures and the make your own option.  However, most of the Polish courses do not have audio, rendering them useless for my purposes.  Comprehensive Polish does have audio.  I am also on the Realpolish site a lot for listening.. </p>
<p>Now who is going to get on Memrize and improve its Polish content?  Any suggestions for intermediate courses with good audio?</p>
<p>Do zobaczenia!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/254/7609">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Colleen (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/10/review-memrisecom-i-started-learning-a-little-chinese#comment-7609">Sunday, August 10, 2014 - 10:16</a></span>
</div>
</div>
<a id="comment-8061"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://beijingchinese.com.sg/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/b7ce21673b38b38cb6319c457275f8ea?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Our teaching approach was based on latest technology and most updated chinese learning theories which is developed in many years of research.  <a href="http://beijingchinese.com.sg/">Learn Chinese in Singapore</a> for the new concepts of Mandarin teaching methodology.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/254/8061">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://beijingchinese.com.sg/" rel="nofollow">learn chinese</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/10/review-memrisecom-i-started-learning-a-little-chinese#comment-8061">Tuesday, November 11, 2014 - 20:56</a></span>
</div>
</div>
<a id="comment-8083"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://beijingchinese.com.sg/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/55f2c5e1fdd76212c21c74a417d98c34?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Primary language for today's age is English that's why most people in Singapore want to learn english and there are people in singapore want to <a href="http://beijingchinese.com.sg/">Learn Chinese in Singapore</a> which is the new concepts of Mandarin teaching methodology.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/254/8083">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://beijingchinese.com.sg/" rel="nofollow">Learn Chinese in Singapore</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/10/review-memrisecom-i-started-learning-a-little-chinese#comment-8083">Wednesday, December 3, 2014 - 21:21</a></span>
</div>
</div>
<a id="comment-8090"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/abd05e5c0807273fe93632b308d99f31?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Recently I used www.bellsenglishonline.com,it';s an online platform to study English.It helped me a lot to improve my speech and vocabulary.I recommend it to every one,beginners and more advanced students.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/254/8090">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/10/review-memrisecom-i-started-learning-a-little-chinese#comment-8090">Wednesday, December 17, 2014 - 04:43</a></span>
</div>
</div>
<a id="comment-8102"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://beijingchinese.com.sg/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/55f2c5e1fdd76212c21c74a417d98c34?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>If you want your children learn in different languages that International learning schools well there are companies who focus on chinese topic where you can <a href="http://beijingchinese.com.sg/">Learn Chinese in Singapore</a></p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/254/8102">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://beijingchinese.com.sg/" rel="nofollow">Learn Chinese in Singapore</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/10/review-memrisecom-i-started-learning-a-little-chinese#comment-8102">Tuesday, January 6, 2015 - 21:23</a></span>
</div>
</div>
<a id="comment-8195"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.prosklitirio-eshop.gr" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/ce30ee23c4aa43100302bd4878aa1d9b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>I'm a little bit skeptical about this type of software. I occasionally use flashcards (old style, paper cards...) and although i feel that it helps, i can't see any great contribution to my progress.<br/>
I really enjoy the review of this service (Memrise) and i will give it a try.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/254/8195">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.prosklitirio-eshop.gr" rel="nofollow">προσκλητηρια γαμου</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/10/review-memrisecom-i-started-learning-a-little-chinese#comment-8195">Thursday, August 6, 2015 - 12:22</a></span>
</div>
</div>
</div>
