---
permalink: /blog/2011/09/is-spelling-easier-for-non-native-speakers/
layout: blog-old
title: 'Is spelling easier for non-native speakers? '
day: 6
month: Sep
year: 2011
category: language learning
tags: 
  - 'spelling'
language: en
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/09/notecknolegy.jpg" rel="lightbox"><img alt='Sign which reads "No Tecknolegy"' src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/09/notecknolegy.jpg" title="This guy clearly doesn't use a spell checker! Photo by Sammy0716"/></a><div class="caption">This guy clearly doesn't use a spell checker! <a href="http://www.flickr.com/photos/28438258@N08/3005591006">Photo</a> by <a href="http://www.flickr.com/photos/sammy0716/">Sammy0716</a></div></div>
<p>I receive lots of comments on the videos of me speaking Polish like:</p>
<blockquote><p>"You speak pretty good Polish.  But can you spell?  It's really hard, even for native Poles!"</p></blockquote>
<p>The first time I saw this, I was really surprised!  The <a href="http://www.linguatrek.com/blog/2010/11/polish-alphabet-easy">Polish alphabet</a> is very straightforward and I have no problems spelling in Polish.  In fact, I spell much better in Polish than I do in English!</p>
<p>Personally, I've always thought English spelling was really hard.  But I've had non-native speakers tell me that spelling in English is <em>much easier</em> than in their native language.</p>
<p>So, I've started to wonder: is spelling simply easier for non-native speakers?</p>
<p><strong>Read more for my whole theory!</strong></p>
<h2>English spelling</h2>
<p>English spelling is terribly inconsistent.  The same combination of letters in one word sounds completely different in another word.</p>
<p>For example, the "o" in "to" is pronounced like /u/ but in the word "go" it's pronounced like /oʊ/.  The "ough" is pronounced differently in each of these words: thought, enough, through, though, cough, bough.  Or how about the "oo" in these words: book, soon, door, flood?</p>
<p>There are also tons of words that are pronounced the same, but spelled differently.  For example:</p>
<ul>
<li>to, two, too</li>
<li>there, their, they're</li>
<li>sea, see</li>
<li>sense, cents, scents</li>
<li>new, knew</li>
<li>no, know</li>
</ul>
<p>Personally, I spell terribly in English!  I constantly confuse "there," "their" and "they're."  If I didn't spend time editing my work, I'd use them incorrectly every time.  Despite the fact that each of those words has a drastically different meaning and function, in my mind they're all the same word. :-)</p>
<p>I'm also very confused by words with doubled letters.  For example, "tomorrow."  I remember that it has doubled letters, but I can never remember if it's "tommorow" or even "tommorrow."  Every time I need to write the word "tomb" (which is more often than you'd think!), I have to ask my wife how it's spelled. ;-)</p>
<p>(<em>Note: I use a spell checker and a friend corrects my articles before I publish them, so there are very few spelling mistakes on my blog.  You just don't get to see the first draft!</em>)</p>
<p>Here are some entertaining articles/videos about English spelling:</p>
<ul>
<li><a href="http://vimeo.com/17561068">102-year-old Ed Rondthaler on English spelling</a></li>
<li><a href="http://www.say-it-in-english.com/SpellHome.html">Absolutely ridiculous English spelling</a></li>
<li><a href="http://www.greaterthings.com/Humor/Spelling_Chequer.htm">Eye halve a spelling chequer</a></li>
</ul>
<h2>Polish spelling</h2>
<p>In my opinion, Polish spelling contains far fewer inconsistencies.  But there are some!  For example, these letters are pronounced the same: u/ó, ch/h, ż/rz.  Also, the letter "ę" is pronounced as /ɛ/ at the end of a word or /ɛ̃m/ and /ɛ̃ŋ/ in the middle of a word (depending on what letter follows it).</p>
<p>So there are some complications.  But, the rules are few and simple and I <em>personally</em> have no problems with them.</p>
<p>I'd never confuse "może" (maybe) and "morze" (sea), even though they are pronounced the same, because the ideas are so different.  I've also never been tempted to write "ruże" instead of "róże" (roses) or "wachać" instead of "wahać" (to hesitate).  Or "kacze" instead of "kaczę" (duckling), "dzienkuję" instead of "dziękuję" (thank you) or "dembowa" instead of "dębowa" (made of oak).</p>
<p>But based on the comments I receive, it seems that native speakers can have trouble with these spellings!</p>
<p>Here are some entertaining articles/videos about Polish spelling (in Polish):</p>
<ul>
<li><a href="http://www.youtube.com/watch?v=T-p5RFe3a_U">ORTOGRAFIA: MaturaToBzdura.TV odc. #25</a></li>
<li><a href="http://nonsensopedia.wikia.com/wiki/Ortografia">Ortografia - Nonsensopedia</a></li>
</ul>
<h2>Is it easier for non-native speakers?</h2>
<p>When learning Polish, I learned the spelling <em>before</em> hearing the word (if I was reading) or at about the same time (when I looked it up in the dictionary after hearing it).  So, I was familiar with each word's spelling from the very beginning.</p>
<p>But when I learned English (my native language), I knew a great many words before ever seeing them written.  My young mind had already decided there was only one word for there, their and they're.  So when I went to school and learned these were all different words, it was confusing and strange.</p>
<p>I think it's probably the same for native Polish speakers.  Polish spelling is hard because they learned it after they already spoke Polish.</p>
<p>Also, non-native speakers are more likely to learn the spelling rules.  Personally, I don't know the spelling rules for English.  Are there any?  :-)  I simply try to memorize how each word is spelled.  But I know many of the spelling rules for Polish.</p>
<p><strong>What do you think?  Is spelling in your native language hard?  Is it easier for non-native speakers?  Why do you think that's the case?  Or why isn't it?  Write a comment!</strong></p>
</div>

<div id="comments">
<a id="comment-756"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/65eedd3d5031d3a52ff4b9772beb40e8?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I think it depends on how you've learned language.</p>
<p>I've learned English by reading and writing, so I make few spelling mistakes (for example there, their and they're are completely different things in my mind, I even pronounce them differently).</p>
<p>On the other hand my spoken "English" probably sounds very funny to natives :)</p>
<p>In Polish it's objectively much easier - there are small number of exceptions, a few general rules, and that's all. But still - Polish native speakers often make spelling mistakes (like -om/-ą suffix).</p>
<p>I think your theory is correct, because we learn foreign languages mostly by reading/writing, and native language mostly by speaking and listening.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/90/756">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/09/is-spelling-easier-for-non-native-speakers#comment-756">Tuesday, September 6, 2011 - 11:10</a></span>
</div>
</div>
<div class="indented"><a id="comment-759"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi!</p>
<p>I'd love to hear how you pronounce the words: there, their and they're!  Care to make a video or a recording? ;-)</p>
<p>While different dialects of American English can pronounce there/their/they're differently than each other -- for example, in some dialects it can be like "der" or "theyer" -- I'm pretty sure they still pronounce them all the same.  The fact that you found a way to pronounce them all differently is intriguing! :-)</p>
<p>The -om/-ą mistake is another interesting one!  I should have mentioned in my article.  For me, I don't have any problems because -om is plural and -ą is singular, so even if they sound the same (which, actually, they don't to me but that could just be a problem in my Polish), I know which one to write.</p>
<p>Thanks for your comment!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/90/759">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/09/is-spelling-easier-for-non-native-speakers#comment-759">Wednesday, September 7, 2011 - 07:16</a></span>
</div>
</div>
<div class="indented"><a id="comment-764"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/79a516fafb69fafdd4f8e88dc0428b45?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>For almost 20 years I have thought the pronunciation is different. Here is a very trifling and a bit silly example - <a href="http://w642.wrzuta.pl/audio/2xT4xFNAiE5/there_their_they_re" title="http://w642.wrzuta.pl/audio/2xT4xFNAiE5/there_their_they_re">http://w642.wrzuta.pl/audio/2xT4xFNAiE5/there_their_they_re</a> .</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/90/764">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Mike;) (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/09/is-spelling-easier-for-non-native-speakers#comment-764">Wednesday, September 7, 2011 - 14:34</a></span>
</div>
</div>
<div class="indented"><a id="comment-765"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks for the recording!  The difference is very subtle (I had to listen a few times to really hear it) and I think any native speaker would definitely understand you.</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/90/765">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/09/is-spelling-easier-for-non-native-speakers#comment-765">Wednesday, September 7, 2011 - 16:11</a></span>
</div>
</div>
</div></div></div><a id="comment-758"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/79a516fafb69fafdd4f8e88dc0428b45?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Guys who are taught using Callan method also have the problem in question;).</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/90/758">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Mike;) (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/09/is-spelling-easier-for-non-native-speakers#comment-758">Tuesday, September 6, 2011 - 16:31</a></span>
</div>
</div>
<div class="indented"><a id="comment-760"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Heh, maybe they should put that in the Callan advertisements?  "Make the same mistakes as native speakers!" ;-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/90/760">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/09/is-spelling-easier-for-non-native-speakers#comment-760">Wednesday, September 7, 2011 - 07:17</a></span>
</div>
</div>
</div><a id="comment-762"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/18844d24b71ee84d831bfc6dd8f4c51e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Video o osobach, które nauczyły się polskiego bądź był to dla nich 2 język<br/>
<a href="http://www.youtube.com/watch?v=ANLfat5YNnc" title="http://www.youtube.com/watch?v=ANLfat5YNnc">http://www.youtube.com/watch?v=ANLfat5YNnc</a></p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/90/762">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">noname (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/09/is-spelling-easier-for-non-native-speakers#comment-762">Wednesday, September 7, 2011 - 10:31</a></span>
</div>
</div>
<div class="indented"><a id="comment-763"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki za linka!  To ciekawe jak język jest problemem dla sportowców.  Też sprawia problemy dla obcokrajowców-sportowców w Stanach.  Ale to chyba większy problem w Europie gdzie sportowiec może tak łatwo zmienić na zespół w innym kraju!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/90/763">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/09/is-spelling-easier-for-non-native-speakers#comment-763">Wednesday, September 7, 2011 - 12:43</a></span>
</div>
</div>
</div><a id="comment-816"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://pepkin88.me/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/dc0ee67be0257e746479b188f9b01fac?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Zauważyłem drobną pomyłkę, pewnie niezamierzoną, jest „o/ó”, lecz powinno być „u/ó”. Pozdrawiam.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/90/816">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://pepkin88.me/" rel="nofollow">pepkin88</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/09/is-spelling-easier-for-non-native-speakers#comment-816">Monday, September 12, 2011 - 15:16</a></span>
</div>
</div>
<div class="indented"><a id="comment-817"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Ach, dzięki!  Już poprawiłem artykuł. :-) Pozdrawiam, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/90/817">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/09/is-spelling-easier-for-non-native-speakers#comment-817">Monday, September 12, 2011 - 15:21</a></span>
</div>
</div>
</div><a id="comment-829"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a661e33d41c0540d2edff35d3be8247c?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Warto zaznaczyć że np "h" oraz "ch"; "ż" oraz "rz" itp. były wymawiane kiedyś zupełnie inaczej, słuchając jak ktoś mówi np. "alkohol" można było "usłyszeć" jakie "h" tam występuje, dziś musimy uczyć się na pamięć słówek które zawierają "h", tzw. wyjątków :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/90/829">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">SzymSzejdi (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/09/is-spelling-easier-for-non-native-speakers#comment-829">Monday, September 12, 2011 - 16:41</a></span>
</div>
</div>
<div class="indented"><a id="comment-835"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Język rozwija ale ortografia się nie zmienia!  W ten sposób ortografia w wielu językach została nonsensowna. :-)  Dziękuję bardzo za komentarz!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/90/835">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/09/is-spelling-easier-for-non-native-speakers#comment-835">Monday, September 12, 2011 - 17:08</a></span>
</div>
</div>
<div class="indented"><a id="comment-1474"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f8acf1f301d9492f7375837752347907?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Czasem się jednak zmienia ;) "Nie" z czasownikami piszemy oddzielnie  (np. "palić" --&gt; pali - nie pali). Ale mamy imiesłowy - to w zasadzie formy czasowników, a "nie" z imiesłowami przymiotnikowymi możemy zawsze pisać łącznie (niepalący - imiesłów czynny; niepalony - imiesłów bierny). Jeszcze parę, może paręnaście lat temu "nie" z imiesłowami w znaczeniu czasownikowym trzeba było pisać oddzielnie, a w znaczeniu przymiotnikowym - razem. A zgadnij, które jest które, bo czasem nie jest to takie jednoznaczne ;) (sama musiałam się dłużej zastanowić, co to właściwie znaczy; a i nie zawsze można być pewnym znaczenia).<br/>
Oczywiście można stosować starą regułę, ale nie jest błędem, jeśli napiszemy "nie" i imiesłów w znaczeniu czasownikowym łącznie.</p>
<p>Skoro doszłam mniej więcej, o co chodzi w znaczeniu czasownikowym (czynnościowym) i przymiotnikowym (cechy), to podam przykład:<br/>
- Na całym świecie przybywa ludzi nieczytających [takich, którzy w ogóle nie czytają, w domyśle książek]. - znaczenie przymiotnikowe<br/>
- Nie czytający/Nieczytający [w danej chwili, np. na lekcji] mogą wyjść z sali. - znaczenie czasownikowe<br/>
- nieczytana książka [książka, której nikt nie czyta, nie lubi] - znaczenie przymiotnikowe: "Krzyżacy" H. Sienkiewicza od lat jest nieczytaną książką. (czyt.: od lat nikt nie czyta "Krzyżaków" - zmyślone przeze mnie, tak dla ścisłości, choć jest w tym trochę prawdy)<br/>
- nie czytana/nieczytana książka (w danej chwili) - znaczenie czasownikowe: Biorąc do ręki "Mistrza i Małgorzatę", odłożyła na półkę nie czytaną/nieczytaną akurat "Panią Bovary" (nie czytaną nieczytaną akurat książkę "Pani Bovary" - ale to sformułowanie brzmiałoby trochę sztucznie w tym kontekście).<br/>
Mam jednak problem, jak zaklasyfikować książkę, której nie przeczytałam. Czy jest to nieczytana przeze mnie książka (bo jest to w pewnym sensie cecha książki z mojej perspektywy), czy nie czytana przeze mnie książka (bo stwierdzam wtedy, że jej nie czytałam, ale wciąż mogę). Choć akurat nowa zasada pozwala mi napisać "nieczytana", niezależnie od tego, co mam na myśli. </p>
<p>Ale też trzeba przyznać, że w tym wypadku rozróżnienie pomaga czytelnikowi we właściwym odczytaniu intencji piszącego.</p>
<p>Była też jakaś reforma ortografii bodajże przed II wojną światową. Pamiętam jedynie, że zmieniono pisownię imienia "Jakób" na "Jakub" (i analogicznie "Kóba" na "Kuba"). Na pewno reforma dotyczyła większej liczby słów, ale już nie pamiętam jakich. Wiem też, że kiedyś w języku polskim oprócz "ó" było też "á" i "é", których dziś już nie ma. Ortografia ewoluuje, tylko znacznie wolniej, niż gramatyka :) (choć przyznam, że wcale nie chciałabym, żeby ewoluowała szybciej).</p>
<p>A skoro już i tak się rozpisałam, to jeszcze nawiążę do głównego tematu wpisu: masz rację, że języka obcego zwykle uczymy się od razu z nauką pisowni i dlatego mamy zwykle mniej problemów z ortografią języka obcego, niż ojczystego. I akurat zgadzam się, że angielska ortografia jest trudniejsza od polskiej (może po polsku nie zawsze piszemy tak, jak mówimy, ale zwykle mówimy tak, jak piszemy i ortografia, jak nic innego w tym języku, jest względnie regularna; a w angielskim nawet native speaker nie zawsze jest pewny, jak wymówić jakieś słowo, kiedy widzi je na piśmie). Ja akurat ogólnie nie mam większych problemów z pisownią w jakimkolwiek języku, który znam (ot, ma się choć jeden talent ;) ), ale np. mój chłopak, który jest dwujęzycznym Walijczykiem (mówi po walijsku i angielsku) zawsze pisze "your" w znaczeniu you're (a także w znaczeniu "your", więc czasem robi błąd, a czasem nie ;). I przyznam, że nie jest pierwszą osobą, u której zauważyłam ten błąd.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/90/1474">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kora (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/09/is-spelling-easier-for-non-native-speakers#comment-1474">Monday, March 19, 2012 - 17:36</a></span>
</div>
</div>
<div class="indented"><a id="comment-1485"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki za komentarz i wyjaśnienie. :-)</p>
<p>To fajnie, że było kilka reform w polskiej ortografii!  Nie wiedziałem o tym.  Bardzo chciałbym coś takiego (ale bardziej drastycznego!) w języku angielskim. :-)</p>
<p>Tak, wydaje mi się, że wszyscy native speakerzy mają problemy z your/you're i their/there/they're itd.  Np. dla mnie your i you're są tym samym słowem, tylko z dwoma znaczeniami.  Jest normalne, że słowo ma kilka różnych znaczeń, więc dlaczego nie?! ;-)  Kiedy coś piszę, muszę ciągle poprawić te same błędy.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/90/1485">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/09/is-spelling-easier-for-non-native-speakers#comment-1485">Wednesday, March 21, 2012 - 07:02</a></span>
</div>
</div>
<div class="indented"><a id="comment-1509"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f8acf1f301d9492f7375837752347907?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>A ja by jednak nie chciała ^^' Jak już mówiłam, nie jestem zwolenniczką zmian w pisowni. Tu będę trochę surowa, ale problemy z ortografią to kwestia do wypracowania. Fakt, angielski jest wyjątkowo niekonsekwentny w pisowni, ale uważam, że da się i tu wypracować poprawność. Zresztą pisownia amerykańska jest nieco inna od brytyjskiej i już tu dąży do uproszczenia.</p>
<p>Hm, tak mi przyszło do głowy: czy w USA uczy się dzieci w szkole gramatyki? Bo wiem, że w Anglii się nie uczy (albo nie jest to obowiązkowe, więc mało kto wybiera tak "nudną" dziedzinę języka) i mam wrażenie, że to nieznajomość gramatyki powoduje problemy z ortografią.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/90/1509">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kora (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/09/is-spelling-easier-for-non-native-speakers#comment-1509">Thursday, March 22, 2012 - 14:14</a></span>
</div>
</div>
<div class="indented"><a id="comment-1595"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Myślę, że to kwestia marnotrawstwa. :-) Teraz wszyscy, którzy piszą po angielsku muszą wydać dodatkowego wysiłku żeby wybrać poprawne słowo their/there/they're. Sumując wszystkie te małe wysiłki - to rzeczywiście bardzo dużo! Moglibyśmy używać tego marnego wysiłku do czegoś naprawdę pożytecznego.</p>
<p>I przecież to MY stworzyliśmy ortografię! Dlaczego to my musimy być jej niewolnikami? Stworzyliśmy ją, żeby NAM pomagać w komunikacji, możemy ją zmienić. ;-)</p>
<p>W odpowiedzi do Twojego pytania: nie, w szkole w Stanach dzieci nie uczą się gramatyki j. angielskiego.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/90/1595">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/09/is-spelling-easier-for-non-native-speakers#comment-1595">Friday, March 30, 2012 - 10:38</a></span>
</div>
</div>
</div></div></div></div></div><a id="comment-4895"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://markrass.wordpress.com/2013/07/03/extremely-embarrassing-spelling/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] how to write.  This helps explain why native speakers of English often have such a hard time with There, Their and They’re, or two, too, and [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/90/4895">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://markrass.wordpress.com/2013/07/03/extremely-embarrassing-spelling/" rel="nofollow">Extremely Embarrassing Spelling | The DMZ Linguist</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/09/is-spelling-easier-for-non-native-speakers#comment-4895">Tuesday, July 2, 2013 - 19:23</a></span>
</div>
</div>
</div>
