---
permalink: /blog/2011/09/vlog-trzy-lata-na-youtube-pięć-lat-z-j-polskim/
layout: blog-old
title: 'Vlog: Trzy lata na YouTube, pięć lat z j. polskim!'
day: 27
month: wrz
year: 2011
category: personal
tags: 
  - 'vlog'
language: pl
translation: /blog/2011/09/vlog-trzy-lata-na-youtube-pi%C4%99%C4%87-lat-z-j-polskim/
---
<div class="content">
<p>Dokładnie trzy lata temu w dniu 27 września 2008 przesłałem <a href="http://www.youtube.com/watch?v=5NA29HFBC68">mój pierwszy filmik</a> po polsku do YouTube'a!  I pięć lat temu w wrześniu 2006 zacząłem uczyć się j. polskiego.</p>
<p>W tym filmiku, trochę mówię o wpływie, który miały YouTube i j. polski na moje życie.</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/GGrZGT7Evvo?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/GGrZGT7Evvo?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Proszę podaj mi poprawki do tego filmiku <a href="http://lang-8.com/10069/journals/1115281/Trzy-lata-na-YouTube%2527ie%252C-pi%25C4%2599c-z-j-polskim">w serwisie Lang-8</a>.</p>
<p><strong>Czytaj transkrypcję poniżej!</strong></p>
<ul>
<li>Dzień dobry</li>
<li>Znowu przed kamerą internetową mówi David Snopek</li>
<li>Dokładnie trzy lata temu w dniu dwudziestym siódmym września 2008 roku, przesłałem mój pierwszy filmik po polsku do YouTube'a.</li>
<li>Tylko mówiłem po polsku chyba dwie minuty ale tak zdenerwowałem się, tak martwiłem się o błędy</li>
<li>Nawet nie zamierzałem nagrać żadnych innych filmików po polsku</li>
<li>Tylko chciałem nagrać jeszcze jeden filmik po rosyjsku, bo wtedy też uczyłem się rosyjskiego</li>
<li>Chciałem mieć na moim blog dwa filmiki, w których mówiłem tymi językami, których się uczyłem</li>
<li>I to miało być koniec</li>
<li>Nie spodziewałem się, że aż tyle osób będzie oglądało ten pierwszy filmik</li>
<li>Nie spodziewałem się, że dostanę tak dużo pozytywnych komentarzy</li>
<li>I właśnie były te komentarze, które zachęciły mnie do dalszego działania na YouTube'ie</li>
<li>Teraz mam 60 filmików, ponad <s>sto</s> [tysiąc!] sześćset subskrybentów</li>
<li>Niektóre filmiki miały ponad... nie ponad, około 20 tyś. wyświetleń, co jest dla mnie zupełnie nie wiarygodnie</li>
<li>Poznałem przez YouTube wielu ciekawych ludzi, dużo się nauczyłem, dobrze się bawiłem</li>
<li>Teraz YouTube jest ważną częścią mojego codziennego życia</li>
<li>Chciałbym podziękować społeczności YouTube'a, społeczności Wykopu, społeczności internetu w ogóle za wspieranie, za kreatywność, za pozytywność</li>
<li>Dziękuję Wam bardzo</li>
<li>Co więcej w wrześniu 2006 roku, to 5 lat temu, zacząłem uczyć się języka polskiego</li>
<li>To też była wielka przygoda!</li>
<li>Na początku nawet nie mówiłem jednym obcym językiem tak dobrze</li>
<li>Wtedy uczyłem się rosyjskiego i nawet myślałem, że mówiłem po rosyjsku dość dobrze</li>
<li>Ale prawda jest taka, że wtedy nie wiedziałem jak długa jest ta droga</li>
<li>Więc było całkiem teoretycznie, że mógłbym mówić dowolnym językiem obcym</li>
<li>J. polski brzmiał mi jak jakiś piękny ale bezsensowny dźwięk</li>
<li>Ale tylko parę lat później kiedy nagrałem ten filmik po polsku, nawet nie mogłem wyobrazić sobie świat, w którym nie rozumiem polskiego</li>
<li>Od lipca 2009 r. do październiku 2010 r. mieszkaliśmy w Polsce i wreszcie mogłem używać tego języka w codziennym życiu</li>
<li>Poznałem wielu fajnych ludzi, poznałem polską kulturę, no, w miarę jak mogłem przez tylko rok</li>
<li>Widziałem wiele pięknych/ciekawych rzeczy własnymi oczami</li>
<li>Miałem szansę spotkać się z dalekimi krewnymi</li>
<li>Dałem sobie radę z polską biurokracją wyłącznie po polsku </li>
<li>To chyba bardzo mała rzecz ale dla mnie wielkie osiągnięcie językowe</li>
<li>No w sumie dzisiaj bardzo się cieszę, że zacząłem uczyć się j. polskiego</li>
<li>Mogę powiedzieć szczerze i bez zastanowienia się, że nauka j. polskiego zmieniła moje życie na lepsze</li>
<li>Jeszcze jedna rzecz na koniec</li>
<li>Niedawno znalazłem kanał innego Amerykanina, który nagrywa filmiki na YouTube'ie po polsku</li>
<li>To <a href="http://www.youtube.com/ryansocash">ryansocash</a></li>
<li>Mieszka w Krakowie, jest muzykiem i teraz jest bardzo aktywny na YouTube'ie</li>
<li>Nagrywa filmik przynajmniej tygodniowo czasem więcej</li>
<li>Zapraszam do oglądania!</li>
<li>Dziękuję bardzo za uwagę</li>
<li>Do widzenia</li>
</ul>
</div>

<div id="comments">
<a id="comment-933"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/a236b08cdb173ebeb131a8f5bf584f85?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>miło się ciebie słucha! bardzo cię podziwiam, że chciałeś się uczyć polskiego, i że uważasz go za ładnie brzmiący... to coś nowego i niezwykle przyjemnego dla mnie jako polki;)życzę ci nadal takich postępów i wytrwałości w nauce naszego zawiłego języka!<br/>
pozdrawiam gorąco,<br/>
ania</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/93/933">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anna (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/09/vlog-trzy-lata-na-youtube-pi%C4%99%C4%87-lat-z-j-polskim#comment-933">środa, wrzesień 28, 2011 - 13:45</a></span>
</div>
</div>
<div class="indented"><a id="comment-938"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Ania!</p>
<p>Dziękuję bardzo miłe słowa. :-) Jeśli jesteś ciekawa, oto jest filmik o tym, dlaczego zdecydowałem się uczyć polskiego:</p>
<p><a href="http://www.linguatrek.com/blog/2011/03/vlog-dlaczego-ucz%C4%99-si%C4%99-polskiego" title="http://www.linguatrek.com/blog/2011/03/vlog-dlaczego-ucz%C4%99-si%C4%99-polskiego">http://www.linguatrek.com/blog/2011/03/vlog-dlaczego-ucz%C4%99-si%C4%99-...</a></p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/93/938">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/09/vlog-trzy-lata-na-youtube-pi%C4%99%C4%87-lat-z-j-polskim#comment-938">piątek, wrzesień 30, 2011 - 10:44</a></span>
</div>
</div>
</div><a id="comment-934"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/51f5e18acf1dc9b50c240d65d53c4034?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Hej David:) Pełen szacunek za filmik. Ale jak zwykle ja muszę się do czegoś przyczepić.<br/>
"Dokładnie trzy lata temu dnia dwudziestego siódmego września 2008 roku, przesłałem mój pierwszy filmik po polsku na YouTube'a."<br/>
"Chciałem mieć na moim blogu dwa filmiki, w których mówiłem tymi językami, których się uczyłem."<br/>
"Nie spodziewałem się" Mówisz nie spowiedziałem się. Zamieniasz kolejność liter. Spodziewać się a nie spowiedzieć się.<br/>
"Ale tylko parę lat później kiedy nagrałem ten filmik po polsku, nawet nie mogłem wyobrazić sobie świata, w którym nie rozumiem polskiego."<br/>
Tak poza tym ogólnie w miarę poprawnie:) Ja po prawie 10 latach nauki w szkole tak płynnie po angielsku na pewno bym nie śmigał:) Pozdrawiam:)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/93/934">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Lnk (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/09/vlog-trzy-lata-na-youtube-pi%C4%99%C4%87-lat-z-j-polskim#comment-934">środa, wrzesień 28, 2011 - 16:22</a></span>
</div>
</div>
<div class="indented"><a id="comment-939"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć!</p>
<p>Dziękuję bardzo za poprawki!  Jeśli masz na to czas, najlepiej byłoby dodać je do poprawek w serwisie Lang-8:</p>
<p><a href="http://lang-8.com/10069/journals/1115281/Trzy-lata-na-YouTube%2527ie%252C-pi%25C4%2599c-z-j-polskim" title="http://lang-8.com/10069/journals/1115281/Trzy-lata-na-YouTube%2527ie%252C-pi%25C4%2599c-z-j-polskim">http://lang-8.com/10069/journals/1115281/Trzy-lata-na-YouTube%2527ie%252...</a></p>
<p>Tam jest dobry interfejs do poprawiania tekstów.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/93/939">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/09/vlog-trzy-lata-na-youtube-pi%C4%99%C4%87-lat-z-j-polskim#comment-939">piątek, wrzesień 30, 2011 - 10:47</a></span>
</div>
</div>
</div><a id="comment-935"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/7905f2a797a0ab4b455fd326defdddcf?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Gratuluję jubileuszu! Świetnie wykorzystałeś ten czas, możesz być z siebie dumny. Ty nie wyobrażasz sobie świata bez znajomości j. polskiego, a ja bez zaglądania na Twoj blog. </p>
<p>"Dalem sobie radę z polską biurokracją" - o to jest na prawdę wielki sukces, na miarę nauczenia się obcego języka. Polska biurokracja to jest prawdziwa hydra. :D</p>
<p>"sześćset", "dwadzieścia tysięcy" - polskie liczebniki, to jest masakra, co? :P</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/93/935">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Piotr PLrc (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/09/vlog-trzy-lata-na-youtube-pi%C4%99%C4%87-lat-z-j-polskim#comment-935">czwartek, wrzesień 29, 2011 - 12:35</a></span>
</div>
</div>
<div class="indented"><a id="comment-940"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć!</p>
<p>Dziękuję bardzo za miłe słowa. :-)</p>
<p>Jakoś mam ciągłe problemy z liczebnikami.  Też w ogóle nie jestem dobry w matematyce, może to jest jakoś związane? ;-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/93/940">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/09/vlog-trzy-lata-na-youtube-pi%C4%99%C4%87-lat-z-j-polskim#comment-940">piątek, wrzesień 30, 2011 - 10:50</a></span>
</div>
</div>
<div class="indented"><a id="comment-943"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/7905f2a797a0ab4b455fd326defdddcf?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>To o liczebnikach, to nie była z mojej strony żadna złośliwość, chodziło mi o to, że zawierają one mnóstwo głosek typu: "sz", "cz", "ć" i "ś", które są chyba trudne do wymówienia przez użytkownika języka angielskiego, ponieważ polskie "sz" i "cz" są bardziej twarde od angielskich "sh" i "ch", a "ś" i "ć" bardziej miękkie. pozdrawiam!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/93/943">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Piotr PLrc (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/09/vlog-trzy-lata-na-youtube-pi%C4%99%C4%87-lat-z-j-polskim#comment-943">piątek, wrzesień 30, 2011 - 12:35</a></span>
</div>
</div>
</div></div><a id="comment-937"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.sodastudio.pl" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/ea6b516396c99e1c7a4959c84c911a3e?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>David, widziałeś tą stronę: <a href="http://doyouknowpolska.com/" title="http://doyouknowpolska.com/">http://doyouknowpolska.com/</a></p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/93/937">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.sodastudio.pl" rel="nofollow">Dominik</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/09/vlog-trzy-lata-na-youtube-pi%C4%99%C4%87-lat-z-j-polskim#comment-937">piątek, wrzesień 30, 2011 - 01:38</a></span>
</div>
</div>
<div class="indented"><a id="comment-941"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Nie, też nie znałem słów "zonk" i "fazowo". :-) To fajnie, właśnie zdawałem ten quiz.  Dziękuję bardzo za linka!  Pozdrawiam, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/93/941">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/09/vlog-trzy-lata-na-youtube-pi%C4%99%C4%87-lat-z-j-polskim#comment-941">piątek, wrzesień 30, 2011 - 10:58</a></span>
</div>
</div>
<div class="indented"><a id="comment-946"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://pepkin88.me/" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/dc0ee67be0257e746479b188f9b01fac?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Żebyś się przypadkiem nie nabawił złych nawyków już sprostowuję. Powinno się mówić/pisać <strong>tę stronę</strong>. Ostrzegam, że dużo Polaków robi ten błąd, więc łatwo jest się nauczyć błędnej odmiany tego zaimka.<br/>
Pozdrawiam.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/93/946">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://pepkin88.me/" rel="nofollow">pepkin88</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/09/vlog-trzy-lata-na-youtube-pi%C4%99%C4%87-lat-z-j-polskim#comment-946">sobota, październik 1, 2011 - 10:34</a></span>
</div>
</div>
<div class="indented"><a id="comment-958"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Dziękuję bardzo za tę uwagę. :-) Kiedy zacząłem uczyć się polskiego też zrobiłem ten sam błąd, bo to jest jakoś logiczny. Np. "Widziałem dobr<strong>ą</strong> stronę", to jest -ą więc łatwo myśleć, że powinno być "tą". :-) Po dużym czytaniu przyzwyczaiłem się do "tę" i teraz to mówię/piszę. Przynajmniej mam taką nadzieję. ;-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/93/958">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/09/vlog-trzy-lata-na-youtube-pi%C4%99%C4%87-lat-z-j-polskim#comment-958">poniedziałek, październik 3, 2011 - 07:17</a></span>
</div>
</div>
</div><a id="comment-948"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/e825ef4c17c6302174732cabd93ba20d?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Jestem Polakiem i nie używam słowa "fazowo" i raczej go nie słyszę. Jak już to "faza" w sensie np. "niezła faza" - ale to jest mowa potoczna. Co do zonka - to też słówko potoczne. Nie używa się go często. Wzięło się z teleturnieju "Idź na całość" z lat 1997-2001. Amerykańska wersja nazywa się "Let's Make a Deal". "Zonk" to była nazwa tego kota, który oznaczał zły wybór. Wyglądał tak:<br/>
<a href="http://slubowisko.pl/files/userslibraryphoto/1289825750_zonk.jpg" title="http://slubowisko.pl/files/userslibraryphoto/1289825750_zonk.jpg">http://slubowisko.pl/files/userslibraryphoto/1289825750_zonk.jpg</a><br/>
Wyrazu tego można użyć czasem zamiennie z "ale wpadka!" :). Tylko wtedy nie piszemy, czy mówimy "ale zonk", a po prostu "zonk!" :).<br/>
Ogólnie ten test jest trochę komiczny - widać, że stworzyły je osoby, które chciały być młodzieżowe, ale im nie wyszło. Nikt nie mówi "ale myk" :). Określenie "ale bomba" też trochę infantylne, poza tym nie wiem co jest takiego bombowego w przedstawionej tam sytuacji. Zamiast "ale bomba!" Polak prędzej użyje jakiegoś wulgaryzmu ;p. Więc jak dla mnie to jest bardziej test z języka używanego w kreskówkach, etc. :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/93/948">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Sebastian (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/09/vlog-trzy-lata-na-youtube-pi%C4%99%C4%87-lat-z-j-polskim#comment-948">niedziela, październik 2, 2011 - 07:10</a></span>
</div>
</div>
<div class="indented"><a id="comment-954"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/7905f2a797a0ab4b455fd326defdddcf?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Dokładnie.<br/>
Takie same mam odczucia po obejrzeniu tej strony: silenie się na bycie młodzieżowym. Dokładnie jak w tej reklamie: <a href="http://www.youtube.com/watch?v=h2C2aTh6DA8&amp;feature=player_embedded" title="http://www.youtube.com/watch?v=h2C2aTh6DA8&amp;feature=player_embedded">http://www.youtube.com/watch?v=h2C2aTh6DA8&amp;feature=player_embedded</a></p>
<p>Obejrzyj do Dawid, żebyś wiedział jak NIE mówić po polsku.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/93/954">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Piotr PLrc (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/09/vlog-trzy-lata-na-youtube-pi%C4%99%C4%87-lat-z-j-polskim#comment-954">niedziela, październik 2, 2011 - 15:24</a></span>
</div>
</div>
<div class="indented"><a id="comment-959"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hehe, "bakterie idą <em>out</em>"? :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/93/959">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/09/vlog-trzy-lata-na-youtube-pi%C4%99%C4%87-lat-z-j-polskim#comment-959">poniedziałek, październik 3, 2011 - 07:19</a></span>
</div>
</div>
<div class="indented"><a id="comment-961"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/e825ef4c17c6302174732cabd93ba20d?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Fakt, w ostatnich latach w Polsce wśród młodzieży jest straszna moda na zapożyczenia z angielskiego. Często mówi się, że na facebooku coś "lajkujemy" zamiast "lubimy". Znajoma mówiła lubić "smajl" zamiast "uśmiech", choć pewnie pisałaby po prostu "smile" :). Niektóre wyrazy z angielskiego lubimy pisać tak, jak słyszymy, a niektóre w oryginale, a często też raz tak, raz tak.<br/>
Wyraz taki jak "cool" był modny, ale krótko i dawno temu, dzisiaj jakby ktoś ze z moich znajomych tak powiedział, to bym parsknął śmiechem :). Mimo to w telewizji do znudzenia powtarzają go, jako wyraz młodzieżowy, od wielu lat, co wywołuje u mnie zażenowanie... Z innych zapożyczeń - często mówimy "fon" zamiast "telefon" - "odbierz fona" itd. W przypadku gier nigdy nie mówimy "zapisać stan gry", a "zasejwować". Zamiast "dobrze" często mówimy "git", choć pochodzenie tego wyrazu jest dla mnie nie do końca jasne, bo nie brzmi jak "good" :). Git, gites, ewentualnie gicior :). Nastolatkowie często zamiast szkoła używają takiego trochę dziwnego skrótu "sql", ale to bardziej w Internecie. Tutaj szczególnie lubimy zapożyczenia z angielskiego :). Prawie od zawsze mówimy i piszemy "link", a nie żadne "hiperłącze", jakie od dawna forsuje Microsoft. Przykłady można mnożyć w nieskończoność, ciężko tak z głowy powymieniać...</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/93/961">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Sebastian (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/09/vlog-trzy-lata-na-youtube-pi%C4%99%C4%87-lat-z-j-polskim#comment-961">poniedziałek, październik 3, 2011 - 07:50</a></span>
</div>
</div>
<div class="indented"><a id="comment-962"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/e825ef4c17c6302174732cabd93ba20d?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>oczywiście miało być "lubiła mówić" a nie "mówiła lubić" :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/93/962">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Sebastian (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/09/vlog-trzy-lata-na-youtube-pi%C4%99%C4%87-lat-z-j-polskim#comment-962">poniedziałek, październik 3, 2011 - 07:53</a></span>
</div>
</div>
<a id="comment-966"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/7905f2a797a0ab4b455fd326defdddcf?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Ja osobiście nie słyszałem, żeby ktoś powiedział "fon" zamiast "telefon", a wszyscy moi znajomi mają telefony :) Mówię też "zapisać grę" a nie "zasejwować". Już wcześniej bym powiedział "zapisać stan gry. </p>
<p>Ale ja jestem z Torunia i tu się mówi trochę inaczej, nawet zamiast "tak", się mówi "jo".</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/93/966">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Piotr PLrc (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/09/vlog-trzy-lata-na-youtube-pi%C4%99%C4%87-lat-z-j-polskim#comment-966">wtorek, październik 4, 2011 - 16:32</a></span>
</div>
</div>
</div></div></div><a id="comment-960"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Dziękuję bardzo za te wyjaśnienia!  W ogóle nie znam słów potocznych tak dobrze więc to jest bardzo pożyteczne dla mnie. :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/93/960">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/09/vlog-trzy-lata-na-youtube-pi%C4%99%C4%87-lat-z-j-polskim#comment-960">poniedziałek, październik 3, 2011 - 07:24</a></span>
</div>
</div>
<div class="indented"><a id="comment-963"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d0ec7dbdd1ead7fb16d8425d4b95d09d?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Polecam tę stronę, można poznać wiele slangowych słów używanych przez młodzież: <a href="http://www.miejski.pl/" title="http://www.miejski.pl/">http://www.miejski.pl/</a> Jako że nie ma praktycznie żadnej selekcji dodawanych wyrazów, wiele haseł to efekty radosnej twórczości pojedynczych jednostek, niemniej jednak, warto przejrzeć.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/93/963">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kamil (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/09/vlog-trzy-lata-na-youtube-pi%C4%99%C4%87-lat-z-j-polskim#comment-963">poniedziałek, październik 3, 2011 - 09:15</a></span>
</div>
</div>
<div class="indented"><a id="comment-967"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Dziękuję bardzo za linka!  Bardzo podoba mi się definicja słowa <a href="http://www.miejski.pl/slowo-Hipster">"hipster"</a> (też mamy to słowo po angielsku). :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/93/967">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/09/vlog-trzy-lata-na-youtube-pi%C4%99%C4%87-lat-z-j-polskim#comment-967">środa, październik 5, 2011 - 17:59</a></span>
</div>
</div>
</div></div></div></div></div><a id="comment-947"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/e825ef4c17c6302174732cabd93ba20d?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>"Zapraszam do mojego blogu" brzmi bardzo nienaturalnie, nikt w Polsce tak nie mówi ani nie pisze. O wiele lepiej brzmi "Zapraszam na mojego bloga".<br/>
Pozdrawiam :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/93/947">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Sebastian (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/09/vlog-trzy-lata-na-youtube-pi%C4%99%C4%87-lat-z-j-polskim#comment-947">niedziela, październik 2, 2011 - 06:57</a></span>
</div>
</div>
<div class="indented"><a id="comment-950"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/e825ef4c17c6302174732cabd93ba20d?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Wcześniej miałeś "Czytaj mój blog" i to właśnie ja Cię poprawiłem :). Mimo że u nas nie używa się takiej formy, to i tak brzmi to lepiej, niż "Zapraszam do mojego blogu". "Czytaj" to taki trochę tryb rozkazujący, a u nas w języku się raczej prosi i zaprasza, niż rozkazuje :). I brzmi jakoś tak zbyt prosto jak na polski język. Choć ja doskonale wiem, że to dosłowne tłumaczenie z angielskiego, ale jak wiadomo dosłowne tłumaczenia często nie są najlepsze :).<br/>
U nas mówi się "zapraszam do odwiedzania mojego bloga", ale można krócej: "zapraszam na mój blog" albo właśnie "zapraszam na mojego bloga" - nie jestem językoznawcą i nie wiem, która forma jest bardziej poprawna. Najlepszą chyba będzie jednak "zapraszam na mój blog" :).</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/93/950">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Sebastian (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/09/vlog-trzy-lata-na-youtube-pi%C4%99%C4%87-lat-z-j-polskim#comment-950">niedziela, październik 2, 2011 - 07:24</a></span>
</div>
</div>
<div class="indented"><a id="comment-955"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Dziękuję bardzo za poprawkę i wyjaśnienie. :-)  Następnym razem będzie "Zapraszam na mój blog"!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/93/955">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/09/vlog-trzy-lata-na-youtube-pi%C4%99%C4%87-lat-z-j-polskim#comment-955">poniedziałek, październik 3, 2011 - 06:54</a></span>
</div>
</div>
</div></div><a id="comment-952"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/ded755ca0554c814853a89c24d9847bc?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Podziwiam Cię za chęci i za efekty, bo postęp w nauce jest ogromny :) Życzę Ci wytrwałości i sukcesów i oczywiście zapraszam do Polski :)</p>
<p>P.S<br/>
Polecam Ci do przeczytania komedię Aleksandra Fredry "Zemsta", na pewno będzie to dla Ciebie ciekawe i miłe doświadczenie z językiem polskim :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/93/952">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Maciej (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/09/vlog-trzy-lata-na-youtube-pi%C4%99%C4%87-lat-z-j-polskim#comment-952">niedziela, październik 2, 2011 - 09:12</a></span>
</div>
</div>
<div class="indented"><a id="comment-953"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/7905f2a797a0ab4b455fd326defdddcf?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Fredry są też dobre Śluby panieńskie, ale to okropnie stara lektura i dla obcokrajowcy moze być frustrująca. Z tego co pamiętam mnóstwo archaizmów i na pewno jeszcze obowiązkowy tryb zaprzeszły: "zrobił był" - dziś już nikt tak nie mówi.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/93/953">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Piotr PLrc (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/09/vlog-trzy-lata-na-youtube-pi%C4%99%C4%87-lat-z-j-polskim#comment-953">niedziela, październik 2, 2011 - 15:19</a></span>
</div>
</div>
<div class="indented"><a id="comment-957"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Aha, w starszych rosyjskich tekstach też jest ten tryb zaprzeszły! Pamiętam, że było w odpowiadaniu Выстрел (może "wystrzał" po polsku?) Puszkina, którego część przeczytaliśmy w kursie rosyjskiego. Ale niestety już nie pamiętam czego to oznacza. ;-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/93/957">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/09/vlog-trzy-lata-na-youtube-pi%C4%99%C4%87-lat-z-j-polskim#comment-957">poniedziałek, październik 3, 2011 - 07:15</a></span>
</div>
</div>
</div><a id="comment-956"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Dziękuję bardzo za miłe słowa i polecenie. :-) Kiedyś obejrzałem film "Zemsta" ale to już tylko lat temu i już na pamiętam go zbyt dobrze.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/93/956">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/09/vlog-trzy-lata-na-youtube-pi%C4%99%C4%87-lat-z-j-polskim#comment-956">poniedziałek, październik 3, 2011 - 07:05</a></span>
</div>
</div>
</div><div class="box">
<h2>Dodaj nową odpowiedź</h2>
<div class="content"><form accept-charset="UTF-8" action="/comment/reply/93" id="comment-form" method="post">
<div><div class="form-item" id="edit-name-wrapper">
<label for="edit-name">Nazwisko lub pseudonim: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-name" maxlength="60" name="name" size="30" type="text" value="Anonymous"/>
</div>
<div class="form-item" id="edit-mail-wrapper">
<label for="edit-mail">E-mail: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-mail" maxlength="64" name="mail" size="30" type="text" value=""/>
<div class="description">Zawartość pola nie będzie udostępniana publicznie. If you have a <a href="http://www.gravatar.com">Gravatar</a> account, used to display your avatar.</div>
</div>
<div class="form-item" id="edit-homepage-wrapper">
<label for="edit-homepage">Strona domowa: </label>
<input class="form-text" id="edit-homepage" maxlength="255" name="homepage" size="30" type="text" value=""/>
</div>
<div class="form-item" id="edit-comment-wrapper">
<label for="edit-comment">Odpowiedź: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<textarea class="form-textarea resizable required" cols="60" id="edit-comment" name="comment" rows="15"></textarea>
</div>
<ul class="tips"><li>Adresy internetowe są automatycznie zamieniane w odnośniki, które można kliknąć.</li><li>Dozwolone znaczniki HTML: &lt;a&gt; &lt;em&gt; &lt;strong&gt; &lt;cite&gt; &lt;code&gt; &lt;ul&gt; &lt;ol&gt; &lt;li&gt; &lt;dl&gt; &lt;dt&gt; &lt;dd&gt; &lt;blockquote&gt;</li><li>Znaki końca linii i akapitu dodawane są automatycznie.</li></ul><input id="form-98445f3aeb94e9a09ba015f82e1f4a9c" name="form_build_id" type="hidden" value="form-98445f3aeb94e9a09ba015f82e1f4a9c"/>
<input id="edit-comment-form" name="form_id" type="hidden" value="comment_form"/>
<div class="clear-block"><div class="form-item" id="edit-notify-wrapper">
<label class="option" for="edit-notify"><input checked="checked" class="form-checkbox" id="edit-notify" name="notify" type="checkbox" value="1"/> Notify me when new comments are posted</label>
</div>
<div class="form-radios"><div class="form-item" id="edit-notify-type-1-wrapper">
<label class="option" for="edit-notify-type-1"><input class="form-radio" id="edit-notify-type-1" name="notify_type" type="radio" value="1"/> All comments</label>
</div>
<div class="form-item" id="edit-notify-type-2-wrapper">
<label class="option" for="edit-notify-type-2"><input checked="checked" class="form-radio" id="edit-notify-type-2" name="notify_type" type="radio" value="2"/> Replies to my comment</label>
</div>
</div></div><input class="mollom-content-id" id="edit-mollom-contentId" name="mollom[contentId]" type="hidden" value=""/>
<input class="mollom-captcha-id" id="edit-mollom-captchaId" name="mollom[captchaId]" type="hidden" value=""/>
<div style="display: none;"><div class="form-item" id="edit-mollom-homepage-wrapper">
<input autocomplete="off" class="form-text" id="edit-mollom-homepage" maxlength="128" name="mollom[homepage]" size="60" type="text" value=""/>
</div>
</div><div class="description mollom-privacy">By submitting this form, you accept the <a class="mollom-target" href="//mollom.com/web-service-privacy-policy" rel="nofollow">Mollom privacy policy</a>.</div><input class="form-submit" id="edit-preview" name="op" type="submit" value="Podgląd"/>
</div></form>
</div>
</div>
</div>
