---
permalink: /blog/2013/01/a-blog-in-crisis-what-should-i-write-about/
layout: blog-old
title: 'A blog in crisis! What should I write about?!'
day: 15
month: Jan
year: 2013
category: LinguaTrek
tags: [ ]
language: en
translation: /blog/2013/01/kryzys-na-blogu-o-czym-powinienem-pisa%C4%87/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2013/01/blogideas_0.jpg" rel="lightbox"><img alt="Blog ideas" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2013/01/blogideas_0.jpg" title="Photo by owenwbrown"/></a><div class="caption"><a href="http://www.flickr.com/photos/owenwbrown/4857508633/">Photo</a> by <a href="http://www.flickr.com/photos/owenwbrown/">owenwbrown</a></div></div>
<p><em>First of all, thank you for reading my blog. I really appreciate it. :-)</em></p>
<p>Once a week I publish an article with language learning advice. I hope these articles are helpful in your language learning journey.</p>
<p>Lately, I've noticed that fewer people are reading and commenting. It isn't really a "crisis" - that was just a sweet-sounding title. ;-) But I'd like to turn this around before it becomes a real crisis.</p>
<p>I don't just blog for myself (although it is a lot of fun). I write these articles for YOU! If they aren't helping you make progress in learning a language - <em>I'm failing.</em></p>
<p>Tell me how I can make my articles more helpful for you!</p>
<p><strong>Please fill out <a href="http://www.linguatrek.com/node/232">this survey</a> and let me know:</strong></p>
<ol>
<li>What do you want more of?</li>
<li>What do you want less of?</li>
<li>What is your biggest problem with the language you're learning right now?</li>
</ol>
<p>I'll use the results to decide what I should focus on in 2013! I think it's going to be a great year. :-)</p>
<p><em>Thanks in advance in advance for your help!</em></p>
</div>

<div id="comments">
<a id="comment-3500"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3ca6d45db1806e16ae7b7e13ff1e1fa0?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>1. I want to progress more in speaking language that I am learning.<br/>
2. I want to spend time less to study language that I am learing.<br/>
3. I can not speak automatically language that I am learning.<br/>
I mean that if I have some time to make sentence in my mind, I can speak quite well. but while making conversation, I don't have time to make sentences. what is best way to sutdy in order to speak automatically?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/229/3500">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Han Seong Kyo (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/a-blog-in-crisis-what-should-i-write-about#comment-3500">Thursday, January 17, 2013 - 10:20</a></span>
</div>
</div>
<div class="indented"><a id="comment-3509"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks for sharing your goals!</p>
<p>I think that lots and lots of listening helps with speaking automatically. Eventually, you start to form sentances in your mind without trying - at first, with more mistakes than usual, but it gets better over time.</p>
<p>I've written about it a couple times:</p>
<p><a href="http://www.linguatrek.com/blog/2012/04/natural-language-learning-without-a-teacher" title="http://www.linguatrek.com/blog/2012/04/natural-language-learning-without-a-teacher">http://www.linguatrek.com/blog/2012/04/natural-language-learning-without...</a></p>
<p>Of course, in a real conversation you also have to deal with the stress and fear that frequently accompany speaking in a foreign language:</p>
<p><a href="http://www.linguatrek.com/blog/2013/01/get-over-your-fear-of-speaking-in-a-foreign-language-without-leaving-your-house" title="http://www.linguatrek.com/blog/2013/01/get-over-your-fear-of-speaking-in-a-foreign-language-without-leaving-your-house">http://www.linguatrek.com/blog/2013/01/get-over-your-fear-of-speaking-in...</a></p>
<p>I hope that helps!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/229/3509">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/a-blog-in-crisis-what-should-i-write-about#comment-3509">Thursday, January 17, 2013 - 20:59</a></span>
</div>
</div>
<div class="indented"><a id="comment-3518"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3ca6d45db1806e16ae7b7e13ff1e1fa0?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Thank you for your advise of speaking language.</p>
<p>In order to improve speaking language, listening is essential..<br/>
That's what I am thinking.</p>
<p>I have been spending time a lot reading books not listening.<br/>
That's why my speaking skill is not improved as much as I expected.</p>
<p>I will read your articles that you linked then try to apply in learning language.<br/>
It definitely will be helped for me..</p>
<p>Thanks again..</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/229/3518">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Han Seong Kyo (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/a-blog-in-crisis-what-should-i-write-about#comment-3518">Friday, January 18, 2013 - 00:30</a></span>
</div>
</div>
</div></div><a id="comment-3501"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e77cfb75560093420afb2a184320b7b4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I am reading every blog entry, but I just don't comment. Maybe I am not the only one user with such a usage path. But to the point:<br/>
- I want to change my accent<br/>
- I want to be able to switch faster between languages. Currently I have comparable level of German, and when I want to say something in English first what comes to my mind is a German word...It takes a few minutes until I can speak English sufficiently fluent.</p>
<p>Greetings,</p>
<p>Piotr Majka</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/229/3501">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Piotr Majka (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/a-blog-in-crisis-what-should-i-write-about#comment-3501">Thursday, January 17, 2013 - 11:42</a></span>
</div>
</div>
<div class="indented"><a id="comment-3502"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Piotr!</p>
<p>Thanks for your comment. Is there anything I could do to encourage you to comment more in the future? :-)</p>
<p>Switching languages is extremely difficult for me too, even just going between English and Polish. Some people are great at it! I'd love to learn their secret.</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/229/3502">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/a-blog-in-crisis-what-should-i-write-about#comment-3502">Thursday, January 17, 2013 - 12:24</a></span>
</div>
</div>
<div class="indented"><a id="comment-3503"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/bc581d36e535006cf431a7aad17e1c66?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Switching between languages may be a real struggle. I used to have some problems with it but now I can have conversation with two people at once and each in different language. English and Polish that is. :)</p>
<p>Every time I'm using internet, I use both languages, I read articles, watch videos and when I'm going out I take English podcasts with me. Having those two languages around at all times, has helped me to get used to them and use them without thinking about switching.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/229/3503">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kacper Wojtyniak (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/a-blog-in-crisis-what-should-i-write-about#comment-3503">Thursday, January 17, 2013 - 16:09</a></span>
</div>
</div>
</div></div><a id="comment-3504"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e77cfb75560093420afb2a184320b7b4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>When talking about switching I meant switching between two foregin languages. Currenty I am able to have two conversations in Polisch and German  simultaneusly (Polish is my mother tongue) and it works flawlessly.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/229/3504">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Piotr Majka (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/a-blog-in-crisis-what-should-i-write-about#comment-3504">Thursday, January 17, 2013 - 16:18</a></span>
</div>
</div>
<div class="indented"><a id="comment-3508"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Then you are better than me. :-) If I speak Polish long enough it takes me a couple minutes to fully switch back to English (my native language). And, of course, vice versa.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/229/3508">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/a-blog-in-crisis-what-should-i-write-about#comment-3508">Thursday, January 17, 2013 - 20:54</a></span>
</div>
</div>
</div><a id="comment-3507"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://notjustajd.wordpress.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/23d5ba8e200b43304276d42213806e96?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>My biggest problem is that my written language is much better than my spoken language.  I have plenty of time to think of the exact word I want to use, and check to verify that it's accurate, but in speech, I certainly don't have that much time!  Because you have a pretty good spoken level in Polish, I would be really interested in reading more about how you learned to speak so well.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/229/3507">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://notjustajd.wordpress.com" rel="nofollow">Tara H</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/a-blog-in-crisis-what-should-i-write-about#comment-3507">Thursday, January 17, 2013 - 20:47</a></span>
</div>
</div>
<div class="indented"><a id="comment-3510"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Tara!</p>
<p>Thanks for sharing! I think I will definitely need to write more articles about this.</p>
<p>In short, the key for me was extensive listening. At some point I started being able to form sentances automatically in my mind. Of course, there were lots of mistakes but it got better and better with time. Well, I still make lots of mistakes. ;-)</p>
<p>I think the intro to my ebook provides a good blueprint:</p>
<p><a href="http://www.linguatrek.com/blog/2012/04/3-steps-to-speaking-a-language-fluently-ebook-excerpt" title="http://www.linguatrek.com/blog/2012/04/3-steps-to-speaking-a-language-fluently-ebook-excerpt">http://www.linguatrek.com/blog/2012/04/3-steps-to-speaking-a-language-fl...</a></p>
<p>It's that first step of getting the language in your brain. After that, it's more about psychology and practice. :-)</p>
<p>I hope that helps!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/229/3510">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/a-blog-in-crisis-what-should-i-write-about#comment-3510">Thursday, January 17, 2013 - 21:03</a></span>
</div>
</div>
</div><a id="comment-3523"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e90ccf9fb4dad1af722bd47de76cfdd4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I think you should install a chat on your page where language learners can interact with eachother. With that, the conversation would be faster, and the people may get used to the circumstances where they must react fast. If there is already a chat here, I`m sorry,I missed that. Just keep on helping the language learners. :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/229/3523">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/a-blog-in-crisis-what-should-i-write-about#comment-3523">Saturday, January 19, 2013 - 15:01</a></span>
</div>
</div>
<div class="indented"><a id="comment-3537"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks, that's a very interesting idea! We've got voice chat for all users on Bibliobird, but nothing here. I'll think about it. :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/229/3537">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/a-blog-in-crisis-what-should-i-write-about#comment-3537">Monday, January 21, 2013 - 18:37</a></span>
</div>
</div>
</div><a id="comment-3524"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/bd3df01417a85a2600040f480e4eca51?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hey there, I recently began studying Polish and it's not too difficult just that I have less time due to exams, homework, and all that annoying such. I want to be able to speak, write, as well direct my Polish friends in my English lesson without thoroughly explaining a word to it's root. I read some of the comments above and to be quite honest, there is no secret to switching languages fast. I speak English, Creole, a little bit of Spanish and at the beginner level of french. I can only speak and write in English, Spanish, and a little bit of French due to the amount of time I have to study. Creole comes in play due to my parents who I observed and held conversations with in both languages (English and Creole). But overall, I can jump from Spanish to English when I'm at school with my Hispanic friends in Miami or Creole with my Haitian friends, the same for my American friends who speak English. I just have to start targeting Polish, it's important since I have someone there who is important to me.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/229/3524">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Stephene (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/a-blog-in-crisis-what-should-i-write-about#comment-3524">Saturday, January 19, 2013 - 16:50</a></span>
</div>
</div>
<div class="indented"><a id="comment-3538"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Stephene!</p>
<p>Thanks for sharing your story. :-) Learning to speak a language so that you can talk to someone who's important to in their native language is a WONDERFUL motivation.</p>
<p>Best of luck!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/229/3538">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/a-blog-in-crisis-what-should-i-write-about#comment-3538">Monday, January 21, 2013 - 18:39</a></span>
</div>
</div>
</div><a id="comment-3565"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] temu czułem się trochę przygnębiony, że mniej osób czyta i [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/229/3565">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety" rel="nofollow">Wielkie zmiany do blogu! (wyniki ankiety) | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/a-blog-in-crisis-what-should-i-write-about#comment-3565">Tuesday, January 22, 2013 - 12:55</a></span>
</div>
</div>
</div>
