---
permalink: /blog/2013/01/big-changes-to-my-blog-results-of-the-survey/
layout: blog-old
title: 'Big changes to my blog! (results of the survey)'
day: 22
month: Jan
year: 2013
category: LinguaTrek
tags: [ ]
language: en
translation: /blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2013/01/bigchanges.jpg" rel="lightbox"><img alt="Big changes are underway" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2013/01/bigchanges.jpg" title="Photo by milena mihaylova"/></a><div class="caption"><a href="http://www.flickr.com/photos/25758374@N00/4061225640">Photo</a> by <a href="http://www.flickr.com/photos/minchki/">milena mihaylova</a></div></div>
<p>Thanks to everyone who completed the survey about what they'd like to see on my blog in 2013!</p>
<p>Last week <a href="http://www.linguatrek.com/blog/2013/01/a-blog-in-crisis-what-should-i-write-about">I was feeling a little depressed</a> that fewer people were reading and commenting.</p>
<p>But I received lots of good critiques on the survey - both positive and negative. It was sometimes difficult to read, but it's exactly that kind of honest feedback that I needed.</p>
<p><strong>This week I'm feeling very optimistic that I can use what I've learned to make my blog even more helpful for you!</strong></p>
<p><em>So, thanks again. :-)</em></p>
<p>Today, I'm going to share the results of the survey and announce some changes and future plans.</p>
<p>I spent a lot of time analyzing your responses and learned many interesting and unexpected things.</p>
<p><strong>Read more to find out what they are!</strong></p>
<h2>4 distinct groups</h2>
<p>One of the most surprising conclusions was discovering that there are several groups of readers with <em>totally different</em> needs:</p>
<ol>
<li><strong>English learners</strong> (58%) - They want advice specific to English and information about American culture. Surprisingly, a large percentage also want information about Polish culture. These are Poles who want to hear about Polish culture from the perspective of a foreigner. :-)</li>
<li><strong>Polish learners</strong> (13%) - They want advice specific to Polish and information about Polish culture. They DO NOT want information about American culture.</li>
<li><strong>General language learners</strong> (22%) - They want general advice for learning any language and would like less specific Polish/English advice and cultural information.</li>
<li><strong>Cultural enthusiasts</strong> (7%) - They want ONLY articles about US or Polish culture and are sick of all this language learning stuff. ;-)</li>
</ol>
<p>I always knew that the first three groups existed, but the 3rd group is much bigger than I expected and the 4th group was a complete surprise to me!</p>
<h2>74% want more videos!</h2>
<p>Making videos takes a lot more time and effort than writing articles. Lately, I've been so busy that I've had to take a break from recording videos.</p>
<p><strong>However, it's clear that most people want more of them!</strong></p>
<p>What surprised me is how many people want videos <em>in English.</em> Of those who want more videos, <strong>80% want them in English.</strong></p>
<p>In the past my YouTube videos in English have gotten an extremely small number of views (hundreds) where my videos in Polish usually get thousands or tens of thousands. That's why I've done so few of them.</p>
<p>In 2013, I'll record more videos and I'll even try some in English to see what happens!</p>
<h2>All new articles in both Polish and English</h2>
<p>Many people requested that I write less in Polish and more in English. Or vice versa.</p>
<p><strong>However, for some time (since April of last year) I've been publishing all my articles in BOTH Polish and English and I plan to continue to do so!</strong></p>
<p>On the top of the page, you can click "English" or "Polski" to switch languages:</p>
<p style="text-align: center;"><img src="http://www.linguatrek.com/files/image/2013/01/selection_028.png" style="border: 3px dashed grey;"/></p>
<p>Apparently, lots of people don't see these links, so I've added a new link at the bottom of every article to its translation.</p>
<p style="text-align: center;"><img src="http://www.linguatrek.com/files/image/2013/01/selection_029_1.png" style="border: 3px dashed grey;"/></p>
<p>Also, if you're a subscriber to my blog you can choose which version gets e-mailed to you. <a href="http://www.linguatrek.com/options">Click here</a> to change your subscriber options.</p>
<h2>Get fewer e-mails... but more of what YOU want!</h2>
<p>It turns out that few people actually want to read <em>everything</em> that I write. Most fall into one of the four groups described above and only want to read certain types of articles.</p>
<p><strong>So, I've added more <a href="http://www.linguatrek.com/options">options for subscribers</a> to allow you to choose EXACTLY what you want sent to your inbox.</strong></p>
<p><em>(If you subscribed after the 17th, you've already chosen these options.)</em></p>
<p>For example, if you say that you're interested in <em>Language learning</em> and you are learning <em>English</em>, I'll e-mail you articles with explanations of specific aspects of English (vocabulary, idioms, grammar, etc). If not, you won't get those e-mails!</p>
<p>This means fewer annoying e-mails and more of what you actually want to read!</p>
<p><strong>Next week I'll start sending based on your choices, so please <a href="http://www.linguatrek.com/options">update your subscription</a> now!</strong></p>
<p>This is the biggest change and the one I'm most excited about. It will give me the freedom to write on more specific topics, without worrying about alienating certain readers.</p>
<h2>Thanks again!</h2>
<p>It really means a lot to me that you took the time to fill out the survey.</p>
<p>I'm looking forward to an awesome 2013!</p>
<p><strong>What do you think of the results? How about my changes? Please write a comment below!</strong></p>
</div>

<div id="comments">
<a id="comment-3561"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/0f52569dc4bbb8de842e0d2176b7ab90?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Thanks for all your effort in improving your site. It must be extremely difficult not to get immediate feedback in your endeavors.</p>
<p>I am attempting to learn Polish. Over time I have I have signed up for several email instructions. However what I have found is that I do not have enough time to do justice to all the information that I am receiving.</p>
<p>This year I am concentrating on just a couple of sites to see if that helps my learning experience.  What I am looking for are Polish articles with Polish audio and an English translation. Videos are nice but must take a lot more effort to produce.</p>
<p>Thanks and keep up the good work.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/233/3561">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">George Zeltner (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/big-changes-to-my-blog-results-of-the-survey#comment-3561">Tuesday, January 22, 2013 - 11:45</a></span>
</div>
</div>
<div class="indented"><a id="comment-3564"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi George!</p>
<p>Thanks for the kind words. :-)</p>
<p>I have similar problems! I recently subscribed to a whole bunch of marketing blogs and, while they all have good info, it's hard to deal with the flood of e-mails I'm getting about marketing now. ;-) I end up having to ignore most of them.</p>
<p>Do you know about Real Polish? I wrote a review sometime back:</p>
<p><a href="http://www.linguatrek.com/blog/2011/05/real-polish-excellent-polish-content-for-learners" title="http://www.linguatrek.com/blog/2011/05/real-polish-excellent-polish-content-for-learners">http://www.linguatrek.com/blog/2011/05/real-polish-excellent-polish-cont...</a></p>
<p>I don't know if Piotr does English translations, but he's constantly publishing great Polish content with audio!</p>
<p>I highly recommend it. :-)</p>
<p>Take care!<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/233/3564">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/big-changes-to-my-blog-results-of-the-survey#comment-3564">Tuesday, January 22, 2013 - 11:52</a></span>
</div>
</div>
</div><a id="comment-3566"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4cad61152eccb9f1384134b5af2564fe?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>My favorite videos of yours are these in which there's live action because it shows real life and how things in US are, for example the ones with Broszka. </p>
<p>Maybe some videos with accent tips would be good idea? How from perspective of native speaker and Polish speaker we should change our pronunciation to better match your English accent.</p>
<p>I think videos in Polish are better for you because you're pushed to use Polish however English videos are nice for me because I'm able to hear how you speak naturally. For example I love video where you shave your beard not because of beard but because there is real-life conversation between you and your wife.<br/>
I think dialogs with her in English would be fantastic idea.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/233/3566">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Milosz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/big-changes-to-my-blog-results-of-the-survey#comment-3566">Tuesday, January 22, 2013 - 12:12</a></span>
</div>
</div>
<div class="indented"><a id="comment-3567"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Milosz!</p>
<p>Thanks for the feedback. :-)</p>
<p>What did you think of my "gun shooting" video?</p>
<p><a href="http://www.linguatrek.com/blog/2011/10/vlog-learning-how-to-shoot-bro%C5%84-w-usa-cz-2" title="http://www.linguatrek.com/blog/2011/10/vlog-learning-how-to-shoot-bro%C5%84-w-usa-cz-2">http://www.linguatrek.com/blog/2011/10/vlog-learning-how-to-shoot-bro%C5...</a></p>
<p>That one had lots of natural conversation and was lots of fun to "shoot" (a pun! - you shoot a video and shoot a gun).</p>
<p>I'd love to do more similar ones!</p>
<p>Take care!<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/233/3567">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/big-changes-to-my-blog-results-of-the-survey#comment-3567">Tuesday, January 22, 2013 - 13:03</a></span>
</div>
</div>
</div><a id="comment-3568"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4cad61152eccb9f1384134b5af2564fe?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>OMG, this video is amazing! I have no idea how could I missed that one before. This is exactly kind of video I was talking about :)</p>
<p>This is exciting to see real life and real people, not actors. You should definetely make more videos like that even something so trivial (though it's just example) like a shopping in supermarket would be exciting to see. I'm serious :)</p>
<p>You too take care! :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/233/3568">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Milosz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/big-changes-to-my-blog-results-of-the-survey#comment-3568">Tuesday, January 22, 2013 - 13:21</a></span>
</div>
</div>
<a id="comment-3570"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/455f859f977249517d4dc1d734f7b5e2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>You're doing great job. I didn't find anything similar in the net. It's really kind of you to share with us yours tips and experience! </p>
<p>I wish you luck!<br/>
M.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/233/3570">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Magdalena (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/big-changes-to-my-blog-results-of-the-survey#comment-3570">Tuesday, January 22, 2013 - 13:37</a></span>
</div>
</div>
<div class="indented"><a id="comment-3572"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Magdalena,</p>
<p>Thanks so much for the kind words. :-)</p>
<p>Take care!<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/233/3572">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/big-changes-to-my-blog-results-of-the-survey#comment-3572">Tuesday, January 22, 2013 - 14:10</a></span>
</div>
</div>
</div><a id="comment-3577"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://howlearnspanish.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/378451a8d6aab6e56c0caa50495bd976?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>"Surprisingly, a large percentage also want information about Polish culture. These are Poles who want to hear about Polish culture from the perspective of a foreigner. :-)"</p>
<p>Haha! I'm not surprised at all, I love hearing about how American culture is perceived by foreigners, especially those from highly dissimilar cultures (e.g. Japan, Iran, Turkey, Russia, etc.).</p>
<p>I've thought about allowing people to customize which e-mails they get when they sign up (like having maybe 3 or 4 different series of e-mails and you get to pick which ones you want) but I suspect this would be a very complicated and time-consuming endeavor so I haven't really seriously looked into it, it's just been one of many noted "to-do"s for my website in the back of my mind.  I'm really curious to see how you implement it.</p>
<p>With regards to these three groups: people learning Polish, those learning English, and general language learners--you can typically write articles that will appeal to all 3, that is the article is either a general language learning article that's useful to anyone learning any language or it's a language-specific article that, although it focuses on one particular language, can still be easily applied to any other language with a few simple modifications and is therefore still useful to anyone learning any language, even though it's just a tiny bit more useful to those learning the language that it focuses on.</p>
<p>Cheers,<br/>
Andrew</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/233/3577">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://howlearnspanish.com" rel="nofollow">Andrew</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/big-changes-to-my-blog-results-of-the-survey#comment-3577">Tuesday, January 22, 2013 - 14:53</a></span>
</div>
</div>
<div class="indented"><a id="comment-3579"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Andrew!</p>
<p>Thanks for your input. :-)</p>
<p>Yeah, it shouldn't have been a surprise - sometimes articles about Poland/Polish for learners end up being waaay more popular with Poles! For example, the one about a particular Polish swear word:</p>
<p><a href="http://www.linguatrek.com/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87" title="http://www.linguatrek.com/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87">http://www.linguatrek.com/blog/2011/07/how-to-swear-like-a-pole-pierdoli...</a></p>
<p>I do my e-mails/subscriptions with Mailchimp, so it's just going to be sending to different Mailchimp segments for different articles. If you're interested in seeing how I laid out those segments, it's the subscriber options:</p>
<p><a href="http://www.linguatrek.com/options" title="http://www.linguatrek.com/options">http://www.linguatrek.com/options</a></p>
<p>In the past, I did what you are suggesting but I feel like it may have sometimes made my articles <em>too</em> generic. There really is something freeing about being able to unabashedly write directly to learners of English, for example.</p>
<p>People constantly ask me about English tenses (which I actually have a lot to say about, despite not loving grammar) which will sort of morph into an article about how focussing directly on grammar isn't the best use of your time. Now, I feel like can finally write the handful of articles I have in me about English tenses! ;-)</p>
<p>And, of course, people who want to read everything still can.</p>
<p>I'm an aspiring analytics freak and so the real test for me is seeing how this affects how many subscribers open/click the e-mails, write comments, unsubscribe, etc. I want people to actually be excited to hear from me. :-)</p>
<p>Take care!<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/233/3579">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/big-changes-to-my-blog-results-of-the-survey#comment-3579">Tuesday, January 22, 2013 - 15:21</a></span>
</div>
</div>
</div><a id="comment-3581"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/0bf2f5da294ce1b88f686b80aadfe294?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi David,<br/>
I think you've exercised great user focus and should be applauded. I am in the 'sweet spot' of users who are learning Polish and Polish culture. Well done and thank you!<br/>
J</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/233/3581">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Jeremy Walters (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/big-changes-to-my-blog-results-of-the-survey#comment-3581">Tuesday, January 22, 2013 - 15:39</a></span>
</div>
</div>
<div class="indented"><a id="comment-3582"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Jeremy!</p>
<p>Thanks for the kind words. :-)</p>
<p>I've got some plans for some new Polish language and culture articles (based, of course, on the survey!) that I'll be publishing in the coming weeks and months. I can't wait to hear what you think of them!</p>
<p>Take care!<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/233/3582">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/big-changes-to-my-blog-results-of-the-survey#comment-3582">Tuesday, January 22, 2013 - 15:42</a></span>
</div>
</div>
</div><a id="comment-3587"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/6e6e7c39c580214930945371016e6c4a?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I think that vlogs are very helpful when you learning English. You can hear right pronounciation and it's very important :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/233/3587">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Ola (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/big-changes-to-my-blog-results-of-the-survey#comment-3587">Wednesday, January 23, 2013 - 02:28</a></span>
</div>
</div>
<div class="indented"><a id="comment-3607"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Ola!</p>
<p>I agree. :-) I watch lots of vlogs in Polish. Because I do it for fun, it's hard to say exactly how much of an effect it's had on my Polish, but I'm sure it's had some positive effect!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/233/3607">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/big-changes-to-my-blog-results-of-the-survey#comment-3607">Thursday, January 24, 2013 - 10:27</a></span>
</div>
</div>
</div>
</div>
