---
permalink: /blog/2013/01/discover-the-perfect-language-learning-goal-for-2013-3-simple-questions/
layout: blog-old
title: 'Discover the PERFECT language learning goal for 2013! (3 simple questions)'
day: 1
month: sty
year: 2013
category: language learning
tags: 
  - 'New Year''s resolution'
language: pl
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 142px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2013/01/2013.jpg" rel="lightbox"><img alt="Dog with 2013 hat" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2013/01/2013.jpg" title="Photo by HackBitz"/></a><div class="caption"><a href="http://www.flickr.com/photos/78341294@N00/8326634109">Photo</a> by <a href="http://www.flickr.com/photos/mgewalden/">HackBitz</a></div></div>
<p><strong>Happy New Year! I hope you had a great holiday season. :-)</strong></p>
<p>You may have noticed that I haven't published any articles for a few weeks. Instead I've been relaxing and reconnecting with friends and family. I've also been reflecting on my successes and failures from the previous year and <em>thinking about my goals for the new year.</em></p>
<p>Like many people, I have tendency to set many, overly-ambitious goals for myself that are impossible to achieve. <em>Have you ever done this?</em> ;-)</p>
<p>That's why this year I've decided to systematically choose only ONE PERFECT language learning goal. To be "perfect" it should:</p>
<ol>
<li><strong>Make a big difference</strong> in my language learning journey, and</li>
<li><strong>Be <em>actually</em> achievable</strong>.</li>
</ol>
<p>In this article I present <em>three simple questions</em> that I used to choose the perfect language learning goal for me in 2013.</p>
<p>Don't make any more empty promises to yourself!</p>
<p><strong>Read more and use the same questions to discover the perfect goal for YOU!</strong></p>
<h2>1. What is your current situation?</h2>
<p>You can't plan where to go next if you don't know where you've been! Reflect on your progress so far and your motivation for learning the language (which may have changed since you last thought about it).</p>
<p>What is your current level? Why are you learning the language? What are your strengths and weaknesses?</p>
<p>In the rush of daily life we don't spend much time reflecting, but it's very valuable in goal setting. <strong>Do it now!</strong></p>
<h2>2. What is the biggest problem you face?</h2>
<p>One year is a long time and you can accomplish many things! However, I recommend picking only ONE problem and focusing on that.</p>
<p>While you will definitely improve in other areas in the process, addressing only a single problem will make it more <strong>achievable.</strong> And picking the biggest problem will ensure that making progress in it will <strong>make a big difference.</strong></p>
<p>This should be something big and <em>general</em>, for example:</p>
<ul>
<li>Overcoming your fear of speaking</li>
<li>Improving your vocabulary</li>
<li>Increasing your listening comprehension</li>
<li>Maintaining your motivation</li>
</ul>
<h2>3. What is ONE thing you can do everyday for the next 30 days?</h2>
<p>Setting a dozen goals for the next 365 days is unrealistic.</p>
<blockquote>
<p><strong>The best goals are small, short-term and regular.</strong></p>
</blockquote>
<p>So, pick one specific thing that you can do everyday for the next 30 days that will get you closer to solving your main problem.</p>
<p>You can always do more! But this one thing will be your required minimum. If you can't do anything else, be sure to do this one thing!</p>
<p>Obviously, after 30 days you should choose something new for the next 30, and so on.</p>
<h2>My answers</h2>
<p><strong>2012 was an amazing year for me!</strong> I <a href="http://www.linguatrek.com/blog/2012/05/natural-language-learning-my-free-ebook-is-finished">published my FREE ebook</a> and we <a href="http://www.linguatrek.com/blog/2012/10/real-life-in-the-usa-our-product-for-learning-english-has-launched">launched a paid English course</a>. <em>I spent more time helping more people in their language learning journeys than any other year!</em></p>
<p>My Polish is already at an advanced level, but there is still lots of room for improvement. I started learning Polish to get to know <a href="http://www.linguatrek.com/blog/2011/03/how-long-have-i-been-obsessed-with-poland">my roots</a>, but I've since fallen in love with this beautiful language. I have a pretty big vocabulary and can understand a lot, but I still have trouble expressing myself eloquently.</p>
<p><strong>Ironically, spending so much time helping <em>other people</em> has meant that I have practically no time for <em>my own</em> language learning efforts!</strong></p>
<p><a href="http://www.linguatrek.com/blog/2012/12/dlaczego-moja-motywacja-zawiod%C5%82a-i-jak-mo%C5%BCesz-unikn%C4%85%C4%87-tej-samej-pu%C5%82apki#comment-3307">One of the comments</a> to my last article has helped me realize that while I'm trying to make Bibliobird a success, I will have to spend less time on my own language learning. After all, there's only 24 hours in a day! <em>(BTW, I really value your comments - thanks!)</em></p>
<p><strong>My biggest problem is: finding time to study regularly.</strong> I know I can't spend as much time on it as I used to - but I don't want to stop learning! <em>Polish is too important to me.</em></p>
<p>So, I've chosen an activity that is so fun, easy and achievable, it would be silly if I wasn't able to do it everyday. :-)</p>
<blockquote>
<p><strong>My goal:</strong> Listen to something FUN in Polish everyday for 30 days (if only for 15 minutes).</p>
</blockquote>
<p>That goal may sound TOO modest or boring to you! But it is the perfect goal for me in my situation. I will be very proud when I achieve it!</p>
<h2>Write your answers in the comments!</h2>
<p>While many of these questions are very personal, I really encourage you to write your answers in the comments below.</p>
<p>There is power in writing down your goals for others to see. It makes them more real and helps you stick to them. This is a technique I've used in the past and something that <a href="http://www.fluentin3months.com/start-a-blog/">the biggest language learning bloggers swear by</a>!</p>
<p><strong>I hope that 2013 is the year that you finally make a <em>giant leap forward</em> in the language you are learning!</strong></p>
</div>

<div id="comments">
<a id="comment-3394"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/b23042b452d0007af43d93961441286f?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>1.  Learning Spanish, High School classes 20+ years ago and recently traveled to Guatemala in December 2012 for vacation and 1-on-1 Spanish.  Currently, at a beginner level.  Need more vocabulary and future/past tenses.</p>
<p>2. Improving Vocabulary: I bought the Spanish Frequency dictionary by Mark Davies.  I also bought The Lion, The Witch and the The Wardrobe in print and audio in Spanish.  I will be using your technique to increase vocabulary.  I'm not sure which method to use on tracking vocabulary - Goldlist or Anki.  Thought?</p>
<p>3.  Spend 1 hour a day reading, listening and identifying words in Spanish to establish this much needed study habit plus work on that vocabulary.</p>
<p>-Shawn</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/224/3394">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Shawn (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/discover-the-perfect-language-learning-goal-for-2013-3-simple-questions#comment-3394">wtorek, styczeń 1, 2013 - 12:57</a></span>
</div>
</div>
<div class="indented"><a id="comment-3397"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Shawn!</p>
<p>Thanks for sharing. :-) Awesome to hear about your trip to Guatemala - I'm jealous! ;-)</p>
<p>As far as Goldlist vs. Anki: The only person qualified to answer that question is YOU! Both can be very effective. The main differentiating factor is which one do you enjoy more, hence which will you stick with better. I'd recommend trying each for a period of time and closely monitoring your motivation.</p>
<p>I wish you success with your goal!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/224/3397">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/discover-the-perfect-language-learning-goal-for-2013-3-simple-questions#comment-3397">wtorek, styczeń 1, 2013 - 13:48</a></span>
</div>
</div>
</div><a id="comment-3396"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/7f3665a38cb757e1e0db23b50280fcb1?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Hello David!!!My goals in 2013</p>
<p>Is it possible to improve spoken and understanding English with your course. I have to pass an IELTS, but books are boring;-(.Written I could agree, but other parts of English oof those books look like a boring hard work. I need your help David. My tecaher has said to me that a University very imported is a written language,but I have to master spoken, written one. Please help me if is possible or give me a good advice ;-)</p>
<p>Kind regards</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/224/3396">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Peter (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/discover-the-perfect-language-learning-goal-for-2013-3-simple-questions#comment-3396">wtorek, styczeń 1, 2013 - 13:26</a></span>
</div>
</div>
<div class="indented"><a id="comment-3398"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Peter,</p>
<p>We're currently restructuring our course a little bit (there'll be more information about that next week!) but if you also purchase and engage in the premium meetings over voice chat - yes.</p>
<p>"Real Life in the USA" will help with understanding AND writing - each text has a writing exercise which we will correct. And twice a week we meet over voice chat for discussions about the texts in English. We've seen some learners make really great progress with not only their speaking ability, but also overcoming their fear of speaking!</p>
<p>However, besides our course there are lots of ways to work on both writing and speaking! For writing, you should read a lot of the types of texts you are planning to write, and then try your own and get corrections. I really like Lang-8 for that:</p>
<p><a href="http://www.linguatrek.com/blog/2011/06/use-lang-8-to-practice-writing" title="http://www.linguatrek.com/blog/2011/06/use-lang-8-to-practice-writing">http://www.linguatrek.com/blog/2011/06/use-lang-8-to-practice-writing</a></p>
<p>Speaking is very complex (includes many parts: listening, vocabulary, pronunciation, non-verbal communication, fear, etc) and unfortunately it's hard to know what to suggest without knowing more about exactly what your problems are.</p>
<p>I hope that helps!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/224/3398">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/discover-the-perfect-language-learning-goal-for-2013-3-simple-questions#comment-3398">wtorek, styczeń 1, 2013 - 13:57</a></span>
</div>
</div>
<div class="indented"><a id="comment-3423"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/7f3665a38cb757e1e0db23b50280fcb1?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Look forward to seeing your product in the next week am going to bay it ;-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/224/3423">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Peter (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/discover-the-perfect-language-learning-goal-for-2013-3-simple-questions#comment-3423">piątek, styczeń 4, 2013 - 19:27</a></span>
</div>
</div>
</div></div><a id="comment-3399"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://want2speakthai.com" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/df9c20bc10c424116379310d07a6c6a0?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Short and sweet:<br/>
1. Learn Samoan, because my wife is half samoan and I want my kids to appreciate their heritage<br/>
2. I know nothing and the only resources are old manuals from the 70's or 80's that are now copied as pdfs<br/>
3. Read and practice every morning on my commute to work.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/224/3399">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://want2speakthai.com" rel="nofollow">Justin Travis Mairf</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/discover-the-perfect-language-learning-goal-for-2013-3-simple-questions#comment-3399">wtorek, styczeń 1, 2013 - 14:20</a></span>
</div>
</div>
<div class="indented"><a id="comment-3403"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Justin!</p>
<p>Thanks for sharing! Wow, Samoan. I'm sure learning it will help you connect with your wife's family in a deeper way and that's awesome that your children will have the experience of growing up bilingual. :-)</p>
<p>Commutes are a great time for language learning!</p>
<p>I wish you luck!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/224/3403">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/discover-the-perfect-language-learning-goal-for-2013-3-simple-questions#comment-3403">wtorek, styczeń 1, 2013 - 15:53</a></span>
</div>
</div>
</div><a id="comment-3402"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://notjustajd.wordpress.com" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/23d5ba8e200b43304276d42213806e96?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>1.  Polish:  Near complete beginner.  It's very different from what I'm used to, and is taking a good bit of time to get to even a basic level.  I can understand things that I read, but I cannot write very well.  </p>
<p>2.  There are A LOT of rules, and many exceptions as well.  I need to actually sit there and write out my own sentences (not just copy the exercises in a textbook) in order to make sense of all of them.  </p>
<p>3.  Choose simple topics and write a passage about them each week (for example, family members, going to the store, etc.).  It doesn't have to be pretty, just on paper.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/224/3402">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://notjustajd.wordpress.com" rel="nofollow">Tara H</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/discover-the-perfect-language-learning-goal-for-2013-3-simple-questions#comment-3402">wtorek, styczeń 1, 2013 - 15:36</a></span>
</div>
</div>
<div class="indented"><a id="comment-3404"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Tara!</p>
<p>I'm glad your continuing with your Polish! Things can be slow in the beginning but it sounds like you have a strong commitment to learn - I'm sure you'll get there. :-)</p>
<p>Definitely, making the experience personal and meaningful to you by writing your own thing is a great idea!</p>
<p>I wish you success in your Polish journey!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/224/3404">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/discover-the-perfect-language-learning-goal-for-2013-3-simple-questions#comment-3404">wtorek, styczeń 1, 2013 - 15:56</a></span>
</div>
</div>
</div><div class="box">
<h2>Dodaj nową odpowiedź</h2>
<div class="content"><form accept-charset="UTF-8" action="/comment/reply/224" id="comment-form" method="post">
<div><div class="form-item" id="edit-name-wrapper">
<label for="edit-name">Nazwisko lub pseudonim: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-name" maxlength="60" name="name" size="30" type="text" value="Anonymous"/>
</div>
<div class="form-item" id="edit-mail-wrapper">
<label for="edit-mail">E-mail: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-mail" maxlength="64" name="mail" size="30" type="text" value=""/>
<div class="description">Zawartość pola nie będzie udostępniana publicznie. If you have a <a href="http://www.gravatar.com">Gravatar</a> account, used to display your avatar.</div>
</div>
<div class="form-item" id="edit-homepage-wrapper">
<label for="edit-homepage">Strona domowa: </label>
<input class="form-text" id="edit-homepage" maxlength="255" name="homepage" size="30" type="text" value=""/>
</div>
<div class="form-item" id="edit-comment-wrapper">
<label for="edit-comment">Odpowiedź: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<textarea class="form-textarea resizable required" cols="60" id="edit-comment" name="comment" rows="15"></textarea>
</div>
<ul class="tips"><li>Adresy internetowe są automatycznie zamieniane w odnośniki, które można kliknąć.</li><li>Dozwolone znaczniki HTML: &lt;a&gt; &lt;em&gt; &lt;strong&gt; &lt;cite&gt; &lt;code&gt; &lt;ul&gt; &lt;ol&gt; &lt;li&gt; &lt;dl&gt; &lt;dt&gt; &lt;dd&gt; &lt;blockquote&gt;</li><li>Znaki końca linii i akapitu dodawane są automatycznie.</li></ul><input id="form-719d794ba570aee2dfb7ed66d33b47c2" name="form_build_id" type="hidden" value="form-719d794ba570aee2dfb7ed66d33b47c2"/>
<input id="edit-comment-form" name="form_id" type="hidden" value="comment_form"/>
<div class="clear-block"><div class="form-item" id="edit-notify-wrapper">
<label class="option" for="edit-notify"><input checked="checked" class="form-checkbox" id="edit-notify" name="notify" type="checkbox" value="1"/> Notify me when new comments are posted</label>
</div>
<div class="form-radios"><div class="form-item" id="edit-notify-type-1-wrapper">
<label class="option" for="edit-notify-type-1"><input class="form-radio" id="edit-notify-type-1" name="notify_type" type="radio" value="1"/> All comments</label>
</div>
<div class="form-item" id="edit-notify-type-2-wrapper">
<label class="option" for="edit-notify-type-2"><input checked="checked" class="form-radio" id="edit-notify-type-2" name="notify_type" type="radio" value="2"/> Replies to my comment</label>
</div>
</div></div><input class="mollom-content-id" id="edit-mollom-contentId" name="mollom[contentId]" type="hidden" value=""/>
<input class="mollom-captcha-id" id="edit-mollom-captchaId" name="mollom[captchaId]" type="hidden" value=""/>
<div style="display: none;"><div class="form-item" id="edit-mollom-homepage-wrapper">
<input autocomplete="off" class="form-text" id="edit-mollom-homepage" maxlength="128" name="mollom[homepage]" size="60" type="text" value=""/>
</div>
</div><div class="description mollom-privacy">By submitting this form, you accept the <a class="mollom-target" href="//mollom.com/web-service-privacy-policy" rel="nofollow">Mollom privacy policy</a>.</div><input class="form-submit" id="edit-preview" name="op" type="submit" value="Podgląd"/>
</div></form>
</div>
</div>
</div>
