---
permalink: /blog/2013/01/get-over-your-fear-of-speaking-in-a-foreign-language-without-leaving-your-house/
layout: blog-old
title: 'Get over your fear of speaking in a foreign language (without leaving your house!)'
day: 9
month: Jan
year: 2013
category: language learning
tags: 
  - 'fear of speaking'
language: en
translation: /blog/2013/01/pokonaj-sw%C3%B3j-l%C4%99k-przed-m%C3%B3wieniem-w-obcym-j%C4%99zyku-bez-wychodzenia-z-domu/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2013/01/fear.jpg" rel="lightbox"><img alt="FEAR" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2013/01/fear.jpg" title="Photo by wilderdom"/></a><div class="caption"><a href="http://www.flickr.com/photos/wilderdom/266650346/">Photo</a> by <a href="http://www.flickr.com/photos/wilderdom/">wilderdom</a></div></div>
<p><em>Have you ever tried to speak in a foreign language ... but your mind just went blank?</em></p>
<p><em>Then afterwards the words simply came to you?</em></p>
<p><strong>You are not alone!</strong></p>
<p>Fear of speaking a foreign language is sooo common that psychologists have even given it name: <a href="http://en.wikipedia.org/wiki/Foreign_language_anxiety">Foreign language anxiety</a>.</p>
<p>According to linguistic Stephen Krashen - one of the foremost experts on how humans naturally learn languages - this anxiety has a strong <a href="http://en.wikipedia.org/wiki/Input_hypothesis#Affective_filter_hypothesis">negative impact</a> on your ability to use a language!</p>
<p><strong>If you want to actually speak in the language you are learning, you will NEED to get over this fear.</strong></p>
<p>However, it's almost never addressed directly in language learning courses!</p>
<p>Today, I'm going to give you some tips for getting over your fear of speaking (without even leaving your house)!</p>
<p><strong>Read more to find out how!</strong></p>
<h2>It's a RIDICULOUSLY common problem!</h2>
<p>I receive <a href="http://www.linguatrek.com/blog/2012/03/email-problem-i-need-your-help">A LOT of e-mail</a> from people asking for language learning advice - probably about 50 messages a day.</p>
<p>I've never done the math but I'd guess that about 50% mention having a fear of speaking! And probably even more have it but don't mention it.</p>
<p>A very, very small number of people are naturally so confident and social that this isn't a problem!</p>
<p>However, the vast majority of us must overcome this fear - especially when learning our first foreign language.</p>
<h2>How I overcame my fear of speaking Polish</h2>
<p>I personally had to struggle with this fear when I was learning Polish. For me the process took years because I DIDN'T KNOW how to do it! In most situations I avoided saying very much and I constantly worried that I'd make some terrible mistake and everybody'd laugh at me.</p>
<p>However, after a while I discovered that I could talk sort of comfortably with certain people. <strong>Not with everyone!</strong> But with a friendly enough person in a comfortable situation.</p>
<p>And you know what? I made many mistakes - VERY many mistakes. ;-) But I realized that it wasn't a big deal. The world didn't end.</p>
<p>Slowly the fear subsided when talking with these friendly people. And as my confidence grew, I made fewer and fewer errors.</p>
<p><strong>It turns out that you speak better when you aren't worrying about it!</strong></p>
<p>Step by step, it became less scary in more and more unfamiliar situations - and with less and less friendly people, for example, at the tax office (<em>Urząd Skarbowy</em>) in Poland. ;-)</p>
<h2>The best place to conquer this fear ISN'T in a foreign country!</h2>
<p>Many believe it's best to be in the country where the language is spoken, because there <em>you are forced to speak.</em></p>
<p>In a way this is true. There are many situations, for example, in the USA where you can't get by without speaking English.</p>
<p><strong>However, if you're really afraid to speak, you're going to avoid the situations where you're forced to speak.</strong></p>
<p><strong>In fact, those situations are sometimes so uncomfortable that <u>they can even be traumatic!</u></strong></p>
<p>You can best take advantage the language learning opportunities in a foreign country AFTER you've gotten over your fear.</p>
<h2>So, the best place to get over your fear is ...</h2>
<p>... in the most comfortable place in the world: <strong>At home!</strong></p>
<p>Using the tools like <a href="http://www.skype.com">Skype</a> and <a href="http://www.mumble.com">Mumble</a>, you can <a href="http://www.linguatrek.com/blog/2011/11/how-to-practice-speaking-over-the-internet">use the internet to practice speaking</a> with people from all over the world.</p>
<p>Here is <a href="http://www.linguatrek.com/blog/2011/05/how-to-overcome-your-fear-of-speaking#advice">my advice for you</a>:</p>
<ol>
<li><strong><a href="http://www.linguatrek.com/blog/2012/08/how-to-find-a-language-exchange-partner">Find a language exchange partner</a> or a teacher, who is very friendly and you are comfortable with.</strong> This may take several tries!</li>
<li><strong>Create the most comfortable situation possible.</strong> For example, plan the topics of your meetings in advance so you feel ready for them.</li>
<li><strong>Talk as much as possible!</strong>
</li></ol>
<p>With each meeting you'll become more and more comfortable and confident. Over time that confidence will extend to more difficult situations!</p>
<h2>If you're learning English: meet with my wife and me!</h2>
<p>For over 3 months, we've been offering paid meetings over voice chat to English learners.</p>
<p>The original purpose was to help independent language learners maintain their motivation, which can be difficult when you're learning on your own.</p>
<p><strong>However, we quickly noticed that these meetings helped the participants make HUGE progress in overcoming their fear of speaking!</strong></p>
<blockquote>
<p><em>"This makes it increasingly easy for me to overcome my anxiety associated with expressing myself in English. What's more - with each meeting I'm more motivated to continue learning English, which is why I encourage everyone who wants to learn this language to participate!"</em></p>
<p><strong>-- Maciek</strong> (about our premium meetings - translated from Polish)</p>
</blockquote>
<p>We meet twice a week in a small group for a one hour conversation in English.</p>
<p>We try to create the most supportive and friendly environment environment possible. We'll never laugh at you for making a mistake!</p>
<p><strong>It only costs 11.87 PLN per meeting!</strong></p>
<p>And if you join us on the premium meetings, you'll also get access to our English course <a href="https://pl.bibliobird.com/real-life-in-the-usa">Real Life in the USA</a> for FREE (usually 49 PLN)!</p>
<p><strong><a href="https://pl.bibliobird.com/node/16150">Click here</a> to learn more!</strong></p>
<h2>Conquer your fear!</h2>
<p><a href="http://www.linguatrek.com/blog/2013/01/discover-the-perfect-language-learning-goal-for-2013-3-simple-questions">Last week</a> we talked about setting your language learning goals for 2013. If you still haven't decided on a goal, why not conquer your fear!</p>
<p><strong>Are you afraid to speak the language you are learning? Or have you defeated it already? If so, how? If not, what's standing in your way? Please write a comment below!</strong></p>
</div>

<div id="comments">
<a id="comment-3450"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c0fc411ee0971e6ace61841fbb11afa2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Yeah I've been suffering from this quite a lot. I've come to a point where my pronunciation of French words is enough to get me understood but I cannot overcome my speaking anxiety enough to actually talk to him. I instantaneously become flustered and can't get a word out. I am still working on French every day but I'd like to finally feel comfortable enough to take the wheel and try a conversation because I know after that point it will only get easier</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/226/3450">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/get-over-your-fear-of-speaking-in-a-foreign-language-without-leaving-your-house#comment-3450">Wednesday, January 9, 2013 - 11:41</a></span>
</div>
</div>
<div class="indented"><a id="comment-3452"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks for sharing!</p>
<p>Yeah, absolutely! Once you get over your fear of speaking you'll have a whole lot of new learning opportunities and awesome experiences. :-) Please let me know how it goes!</p>
<p>Good luck!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/226/3452">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/get-over-your-fear-of-speaking-in-a-foreign-language-without-leaving-your-house#comment-3452">Wednesday, January 9, 2013 - 13:23</a></span>
</div>
</div>
<div class="indented"><a id="comment-3630"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c0fc411ee0971e6ace61841fbb11afa2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I ran into a funny situation last night. I realised that when I try to say french words while holding a conversation in English I tend to 'americanise' my pronounciation. The added idea that my pronounciation and accent are so off results in more speaking anxiety. It's like I can't switch my tongue to a more neutral or french accent without warming it up first. </p>
<p>On the bright side I did go to Quebec city two weeks ago and after my initial deer in headlights experiences with being surrounded by only francophones and wanting to cling to English(one who was particularly rude) I convinced myself that I would for at least one excursion overcome my anxiety to at least exchange some money at the bank. It took a lot of self pep talk beforehand and maybe it is only 2-3 phrases I had to come up with but I successfully managed to do the exchange only in French and ACTUALLY was understood. </p>
<p>Still anxious about speaking with my boyfriend (it's predominantly over skype) but I think that's more to do with expecting too much too soon of myself which makes the situation more stressful.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/226/3630">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Evelina (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/get-over-your-fear-of-speaking-in-a-foreign-language-without-leaving-your-house#comment-3630">Friday, January 25, 2013 - 10:13</a></span>
</div>
</div>
<div class="indented"><a id="comment-3650"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Evelina!</p>
<p>Thanks for sharing your story. :-) I also have lots of problems with switching languages and it takes me some time to warm up to each language. I even need to time warm to English (my native language) after I've been speaking Polish for a while.</p>
<p>That's awesome about your experience in Quebec! If you keep slowly increasing the frequency and length of your French attempts, I'm sure you'll get there!</p>
<p>Having a boyfriend who speaks the language you're learning is a great motivation. ;-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/226/3650">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/get-over-your-fear-of-speaking-in-a-foreign-language-without-leaving-your-house#comment-3650">Sunday, January 27, 2013 - 13:25</a></span>
</div>
</div>
<a id="comment-4500"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/fd789580a2aa67d1656d07c2cad59ecc?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I found this thread by googling "tips to warm up quickly in a foreign language" . I have to go between English and Portuguese a lot &amp; I need a minute to warm up in Portuguese. Then when I have to go back to English (I'm English) I seem to lose lots of words &amp; continue speaking to English people in Portuguese! Like it takes time for the dictionary to load.</p>
<p>If it's just one other person then it's no issue - but if there are a few people you can suddenly forget everything!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/226/4500">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">jakejake (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/get-over-your-fear-of-speaking-in-a-foreign-language-without-leaving-your-house#comment-4500">Monday, May 6, 2013 - 17:51</a></span>
</div>
</div>
</div></div></div><a id="comment-3453"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://howlearnspanish.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/378451a8d6aab6e56c0caa50495bd976?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Yup, completely agreed, I've been saying for years now that I think the single most useful resource for a language learner is a language exchange site (plus skype, of course).</p>
<p>You can even start off easy by sort of doing it "half way" by chatting with natives in Spanish first and then moving on to actually talking to them in real time via skype.</p>
<p>Great post, keep up the good work.</p>
<p>Cheers,<br/>
Andrew</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/226/3453">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://howlearnspanish.com" rel="nofollow">Andrew</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/get-over-your-fear-of-speaking-in-a-foreign-language-without-leaving-your-house#comment-3453">Wednesday, January 9, 2013 - 14:46</a></span>
</div>
</div>
<div class="indented"><a id="comment-3454"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks, Andrew!</p>
<p>BTW, do you have a favorite language exchange website? I quick searched on your blog and couldn't find anything under "language exchange" (hint, hint - maybe it's time for an article! ;-)).</p>
<p>I'm always looking for more good ones to recommend.</p>
<p>Take care!<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/226/3454">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/get-over-your-fear-of-speaking-in-a-foreign-language-without-leaving-your-house#comment-3454">Wednesday, January 9, 2013 - 17:54</a></span>
</div>
</div>
<div class="indented"><a id="comment-3455"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Er, actually on second look it appears to be part of the "bribe" for signing up for your mailing list. :-) I never did it because I'm not learning Spanish, but I just decided to give it go out of curiosity.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/226/3455">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/get-over-your-fear-of-speaking-in-a-foreign-language-without-leaving-your-house#comment-3455">Wednesday, January 9, 2013 - 17:57</a></span>
</div>
</div>
<div class="indented"><a id="comment-3461"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://howlearnspanish.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/378451a8d6aab6e56c0caa50495bd976?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Yup, I've been meaning to do an article on language exchanges for a long time now, it's just a time issue (I'm spending almost all my time right now on my book).</p>
<p>By far the best language exchange I've tried (and I've tried most of them) is iTalki, hands down.  Seriously, go there first before you try anywhere else.</p>
<p>Cheers,<br/>
Andrew</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/226/3461">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://howlearnspanish.com" rel="nofollow">Andrew</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/get-over-your-fear-of-speaking-in-a-foreign-language-without-leaving-your-house#comment-3461">Thursday, January 10, 2013 - 21:22</a></span>
</div>
</div>
<div class="indented"><a id="comment-3486"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>This contradicts what you just sent me in your e-mail autoresponder sequence. :-)</p>
<blockquote><p>
"1. The Mixxer - This is the largest, most popular, and, in my opinion, best language exchange site out there.  Start with this one."
</p></blockquote>
<p>In any case, there were a few in the e-mail that I didn't know previously! Great stuff, thanks!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/226/3486">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/get-over-your-fear-of-speaking-in-a-foreign-language-without-leaving-your-house#comment-3486">Sunday, January 13, 2013 - 12:10</a></span>
</div>
</div>
<div class="indented"><a id="comment-3533"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://howlearnspanish.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/378451a8d6aab6e56c0caa50495bd976?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Yup, that's old, I need to edit that.  I need to update my whole e-mail series but I'm spending all my time on my book right now.</p>
<p>Cheers,<br/>
Andrew</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/226/3533">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://howlearnspanish.com" rel="nofollow">Andrew</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/get-over-your-fear-of-speaking-in-a-foreign-language-without-leaving-your-house#comment-3533">Monday, January 21, 2013 - 15:30</a></span>
</div>
</div>
<div class="indented"><a id="comment-3542"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Ah, do you have an estimated timeline for your book? I'd love to read it! If it's not too Spanish specific, I'd be happy to do a review here too. :-)</p>
<p>Good luck with your writing!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/226/3542">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/get-over-your-fear-of-speaking-in-a-foreign-language-without-leaving-your-house#comment-3542">Monday, January 21, 2013 - 19:00</a></span>
</div>
</div>
<div class="indented"><a id="comment-3543"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://howlearnspanish.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/378451a8d6aab6e56c0caa50495bd976?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Thanks so much David, I will definitely be looking for people (mostly fellow language learners) to review rough copies before it's published, I will definitely talk to you then.</p>
<p>No clue on when it'll be ready, a few months at least.  The potential publication date keeps getting pushed back over and over as I find more stuff I want to add or change, haha.</p>
<p>Again, thank you, I mean it.</p>
<p>Cheers,<br/>
Andrew</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/226/3543">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://howlearnspanish.com" rel="nofollow">Andrew</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/get-over-your-fear-of-speaking-in-a-foreign-language-without-leaving-your-house#comment-3543">Monday, January 21, 2013 - 21:01</a></span>
</div>
</div>
</div></div></div></div></div></div></div><a id="comment-3457"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/1fdaf56b9c870c741933c1e09dff5cfb?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>A website I like using for language exchange is interpals.net.  It's kind of like myspace for people interested in other cultures</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/226/3457">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Eloise (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/get-over-your-fear-of-speaking-in-a-foreign-language-without-leaving-your-house#comment-3457">Wednesday, January 9, 2013 - 18:52</a></span>
</div>
</div>
<a id="comment-3472"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://findvn.net" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/ad10357259d14281ff813948580570ba?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Great post!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/226/3472">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://findvn.net" rel="nofollow">Jacob</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/get-over-your-fear-of-speaking-in-a-foreign-language-without-leaving-your-house#comment-3472">Saturday, January 12, 2013 - 12:53</a></span>
</div>
</div>
<div class="indented"><a id="comment-3473"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks! Your blog looks interesting but unfortunately I don't speak Vietnamese. :-) So, I guess it's the Google Translate of your blog that looks interesting. ;-)</p>
<p>Take care!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/226/3473">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/get-over-your-fear-of-speaking-in-a-foreign-language-without-leaving-your-house#comment-3473">Saturday, January 12, 2013 - 14:20</a></span>
</div>
</div>
</div><a id="comment-3476"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.languageninjas.com/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c3f6bf66121abafb3175e0987138ee53?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>People always have the idea that you have to be in the country to speak to a native speaker, but technology has made it possible for us to sit at home and speak to a native whenever we want. You forgot to mention Verbling, this site has speaking practice on demand. Also I didn't know about Mumble before thanks for that.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/226/3476">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.languageninjas.com/" rel="nofollow">Jade</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/get-over-your-fear-of-speaking-in-a-foreign-language-without-leaving-your-house#comment-3476">Saturday, January 12, 2013 - 16:33</a></span>
</div>
</div>
<div class="indented"><a id="comment-3478"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Jade!</p>
<p>Absolutely! BTW, I took a look at your blog - looks interesting! I love ninjas. :-) It's great that you have multiple contributors who are learning different languages. You can cover a lot of ground that way!</p>
<p>I've subscribed and I look forward to seeing your future post. :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/226/3478">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/get-over-your-fear-of-speaking-in-a-foreign-language-without-leaving-your-house#comment-3478">Saturday, January 12, 2013 - 19:13</a></span>
</div>
</div>
</div><a id="comment-3487"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.languageninjas.com/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c3f6bf66121abafb3175e0987138ee53?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Thanks and I've subscribed to your feeds too.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/226/3487">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.languageninjas.com/" rel="nofollow">Jade</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/get-over-your-fear-of-speaking-in-a-foreign-language-without-leaving-your-house#comment-3487">Sunday, January 13, 2013 - 13:39</a></span>
</div>
</div>
<a id="comment-3629"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://simple-english.net/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c85408506eb991084d1b92f303ca54b3?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Great content, great blog and great teacher also !</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/226/3629">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://simple-english.net/" rel="nofollow">Simple English</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/get-over-your-fear-of-speaking-in-a-foreign-language-without-leaving-your-house#comment-3629">Friday, January 25, 2013 - 09:30</a></span>
</div>
</div>
<a id="comment-3933"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2013/02/how-to-get-started-learning-polish-from-zero" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] of course, all of my more advanced advice starts to apply to you! For example, how to get over your fear of speaking and how to practice speaking over the [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/226/3933">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2013/02/how-to-get-started-learning-polish-from-zero" rel="nofollow">How to get started learning Polish (from zero!) | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/get-over-your-fear-of-speaking-in-a-foreign-language-without-leaving-your-house#comment-3933">Tuesday, February 12, 2013 - 10:08</a></span>
</div>
</div>
<a id="comment-3987"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4f191686b3516a57fed5f375eff18279?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi.</p>
<p>I`m not afraid to speak in english. I know a lot words and it`s make me confident. I do a lot of mistakes, but it`s not problem for me, beacause I`m still learning and I know the people can understand me. If I will be in England I will not have problem with communication. Does not scare me.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/226/3987">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Ada (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/get-over-your-fear-of-speaking-in-a-foreign-language-without-leaving-your-house#comment-3987">Saturday, February 16, 2013 - 10:56</a></span>
</div>
</div>
<div class="indented"><a id="comment-3989"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Ada!</p>
<p>That's really great that you don't have a fear of speaking English! Congrats! I still have a fear of speaking Polish in certain situations. :-) But I'm good in most of them now.</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/226/3989">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/get-over-your-fear-of-speaking-in-a-foreign-language-without-leaving-your-house#comment-3989">Saturday, February 16, 2013 - 11:25</a></span>
</div>
</div>
</div><a id="comment-4305"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.SpeakIndonesianUbud.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/7c757eabc56d105039032081a25b405c?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>If you want to be more confident and wise in learning foreign languages you must first know the purpose of learning. Learn Bahasa Indonesia Ubud is good for me which I am able to interact with the locals effectively. However, learning bahasa  you’ll be a bit particular with accents and stresses on each word.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/226/4305">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.SpeakIndonesianUbud.com" rel="nofollow">Anonymous</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/get-over-your-fear-of-speaking-in-a-foreign-language-without-leaving-your-house#comment-4305">Tuesday, March 19, 2013 - 02:03</a></span>
</div>
</div>
<a id="comment-4469"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.UbudIndonesianTeacher.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/6ed45943e2511b203df7afd200be9326?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>If you are going to learn other languages you must be confident enough and know the reason why you are going to learn a certain language. I have my <a href="http://www.UbudIndonesianTeacher.com">Ubud Indonesian teacher</a> where instructors are very passionate to teach their students about Bahasa Indonesia. Through this, I’ve learn a lot especially the correct use of grammar, phrases, and vocabularies and also in speaking wherein I am able to communicate with others.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/226/4469">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.UbudIndonesianTeacher.com" rel="nofollow">Nancie Baxter</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/get-over-your-fear-of-speaking-in-a-foreign-language-without-leaving-your-house#comment-4469">Sunday, April 14, 2013 - 22:35</a></span>
</div>
</div>
<a id="comment-4537"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://e-suplementydiety.com/ziola-od-a-do-z/guarana/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/7a2a35a81b2818bbee32c1a06dcd619a?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Really nice article!</p>
<p>I agree with your Skype/Mumble/Internet advice for people afraid of speaking, my mom is a living example. Twice per week she has a Polish-Russian conversation hour with a friend from Moscow and since then her (and his) fear of speaking reduced a lot.</p>
<p>For me, on the other hand, it works way better to go abroad and practice there. I have a strong phobia/hatred towards all kinds of voice devices/programs - phones, Skype etc. etc. I barely talk to my own husband when he goes abroad, so you can imagine how much I avoid talking on the phone ;) But - going abroad and talking to people on the streets works just fine for me, though with every new language it's a challenge repeating :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/226/4537">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://e-suplementydiety.com/ziola-od-a-do-z/guarana/" rel="nofollow">Guarana</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/get-over-your-fear-of-speaking-in-a-foreign-language-without-leaving-your-house#comment-4537">Tuesday, May 28, 2013 - 08:53</a></span>
</div>
</div>
</div>
