---
permalink: /blog/2013/01/klucz-do-zrozumienia-czasów-w-angielskim/
layout: blog-old
title: 'Klucz do zrozumienia czasów w angielskim!'
day: 29
month: Jan
year: 2013
category: learn English
tags: 
  - 'grammar'
  - 'tenses'
language: en
translation: /blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 107px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2013/01/alarmclock.jpg" rel="lightbox"><img alt="Alarm clock" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2013/01/alarmclock.jpg" title="Zdjęcie autorstwa Alan Cleaver"/></a><div class="caption"><a href="http://www.flickr.com/photos/11121568@N06/4293345631">Zdjęcie</a> autorstwa <a href="http://www.flickr.com/photos/alancleaver/">Alan Cleaver</a></div></div>
<p>Każdy język ma <em>jakąś</em> trudną część.</p>
<p>To jest aspekt danego języka, nad którym będziesz pracował raz po raz przez cały czas trwania nauki.</p>
<p>W angielskim to są <em>czasy.</em></p>
<p>Licząc w taki sposób, w jaki zwykle liczą nauczyciele, <strong>jest 14-16 czasów w angielskim.</strong> <em>(Jest wiele sposobów ich liczenia!)</em></p>
<p>Dokładna liczba jest nieważna - faktem jest, że język angielski ma bardzo złożony system czasowników. Dostaję DUŻO pytań od uczących się o to, który czas jest poprawny w jakimś zdaniu.</p>
<p>Parę tygodni temu podczas jednej z naszych <a href="https://pl.bibliobird.com/spotkania-premium-przez-czat-g%C5%82osowy">lekcji przez czat głosowy</a>, uczący się (<em>cześć Marcin!</em>) spytał:</p>
<blockquote>
<p>Dlaczego powiedziałeś: "I was using it as an example?" Dlaczego nie: "I used it as an example?" Nie mówiłeś o tym długo - czy to nie powinno być <em>past simple</em> zamiast <em>past continuous</em>?</p>
</blockquote>
<p><strong>Odpowiedź jest bardzo prosta. I to NIE wyjaśnienie gramatyczne. ;-) Naprawdę! Nie będę musiał rysować na tablicy ani pokazać żadnej tabeli.</strong></p>
<p>Faktycznie ten problem pochodzi od <em>fundamentalnego nieporozumienia</em> o czasach angielskich, które jest spowodowane szczególnego rodzaju wyjaśnieniami stosowanymi przez nauczycieli.</p>
<p>Dzisiaj <em>wreszcie</em> wyjaśnię to nieporozumienie!</p>
<p><strong>Czytaj więcej, żeby poznać klucz do rozumienia czasów w angielskim!</strong></p>
<h2>To NIE chodzi o rzeczywistość!</h2>
<p><em>Ale o sposób wyrażania się.</em></p>
<p>Podczas lekcji gramatycznych nauczyciele (nieumyślnie!) przekonują swoich uczniów, że czasy precyzyjnie opisują jakieś zdarzenie, dokładnie jak to się stało w rzeczywistości.</p>
<p>Wyjaśniając czasy <em>past simple</em> i <em>past continuous</em>, nauczyciel zwykle rysuje <em>timelines</em> (taśmy czasu), żeby obrazować różnice między nimi. Na przykład:</p>
<p><img alt="Past continuous timeline" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/image/2013/01/pastcontinuous.png"/></p>
<p><img alt="Past continuous timeline" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/image/2013/01/pastsimple.png"/></p>
<p>Wiem - bo jako nauczyciel j. angielskiego, rysowałem dziesiątki z nich. :-)</p>
<p><em>(Przy okazji: powiedziałem, że NIE będę musiał niczego rysować, żeby to wyjaśnić - i nie muszę! Rysunek powyżej jest przykładem tego, jak nauczyciele <u>zwykle</u> wyjaśniają czasy. Przepraszam, jeśli to przywraca złe wspomnienia!)</em></p>
<p><strong>Prawda jest taka, że nie ma znaczenia co się stało w rzeczywistości! To mogłoby trwać <em>10 sekund</em> lub <em>10 godzin.</em></strong></p>
<p>W tym przypadku, <em>zdecydowałem</em> użyć czasu <em>past continuous</em> ("I was using"), bo chciałem <em>dać wrażenie</em>, że to trochę trwało.</p>
<h2>Kilka czasów może być użyte poprawnie</h2>
<p>Te oba zdania są poprawne gramatycznie:</p>
<ul>
<li>I was using it as an example. <em>(past continuous)</em></li>
<li>I used it as an example. <em>(past simple)</em></li>
</ul>
<p><strong>Chociaż mają trochę odmienne znaczenia, czasem możesz użyć albo pierwszego albo drugiego, żeby opisać TĘ SAMĄ SYTUACJĘ!</strong></p>
<p>Na lekcjach angielskiego nauczano, że w danej sytuacji tylko jeden czas jest "poprawny" a cała reszta jest zła. I czasem zdarzają się, oczywiście, takie sytuacje.</p>
<p>Ale często kilka czasów <em>może</em> być użyte, zależnie od tego, co mówiący chce przekazać.</p>
<h2>Czasem różnica jest <em>bardzo mała!</em></h2>
<p>Na przykład:</p>
<ul>
<li>As an English teacher, I drew dozens of them. <em>(past simple - użyłem tego zdania w <a href="http://www.linguatrek.com/blog/2013/01/the-key-to-understanding-english-tenses">angielskiej wersji tego artykułu</a>)</em>
</li><li>As an English teacher, I've drawn dozens of them. <em>(present perfect)</em>
</li></ul>
<p><strong>Te zdania mają prawie to samo znaczenie - mógłbym napisać dowolną wersję!</strong></p>
<p>Jedyna różnica jest tym, że w drugiej wersji również <em>zdecydowałem się Wam powiedzieć</em>, że nadal jestem nauczycielem angielskiego. Mogę też powiedzieć pierwszą wersję - w tym przypadku, nie mówię niczego o tym czy nadal jestem nauczycielem czy nie.</p>
<p><strong>Mój zawód w rzeczywistości nie ma żadnego znaczenia!</strong></p>
<p>To chodzi o to, co chcę Wam przekazać.</p>
<h2>Zmień swój sposób myślenia!</h2>
<p>Jest wiele metod do nauki czasów w angielskim.</p>
<p>Osobiście polecam <a href="http://www.linguatrek.com/blog/2011/03/language-learning-is-more-like-karate-than-math">przyswojenie ich naturalnie</a> przez czytanie i słuchanie - <a href="http://www.linguatrek.com/blog/2011/08/what-is-grammar-good-for">tylko patrząc na zasady gramatyczne</a> od czasu do czasu. (Opisuję to o wiele bardziej szczegółowo <a href="http://www.linguatrek.com/blog/2012/04/vlog-naturalna-nauka-j%C4%99zyka-bez-nauczyciela">w moim ebooku</a>).</p>
<p>Oczywiście jest również tradycyjna metoda z tabelami, ćwiczeniami i testami.</p>
<p>Ale niezależnie od metody, będzie o wiele łatwiej jeśli pamiętasz, że: <em>czasy w angielskim wyrażają zamysły mówiącego - nie opisują rzeczywistości!</em></p>
<p><strong>Czy masz problemy z czasami w angielskim? Co jest w tym najtrudniejsze? Napisz komentarz poniżej!</strong></p>
</div>

<div id="comments">
<a id="comment-3666"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3c2afac3c2e44815dc2f93dff23d9a7e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Ja w ogóle mam potężny problem z angielskim już nie wspominając o czasach :)<br/>
Dla mnie to by było cudownie kiedy językiem międzynarodowym był francuski :)<br/>
Ale angielski...sorry David wiem że to Twój ojczysty język ale dla mnie to najtrudniejszy język na świecie, właśnie angielski...</p>
<p>Pozdrawiam Serdecznie ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/3666">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Tomek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-3666">Tuesday, January 29, 2013 - 11:20</a></span>
</div>
</div>
<div class="indented"><a id="comment-3671"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Tomek!</p>
<p>No, nie musisz nauczyć się angielskiego jako języka międzynarodowego! Możesz po prostu nauczyć wszystkich pojedynczych języków. ;-) Oczywiście, żartuję... Ale chętnie to zrobiłbym, gdybym żył wiecznie! :-)</p>
<p>Jeśli znajdziesz odpowiednio silną motywację - nie myślałbyś o trudności. Planuję napisać artykuł o tym, jak znaleźć dobrą motywację do nauki danego języka, jeśli go nie masz!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/3671">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-3671">Tuesday, January 29, 2013 - 12:36</a></span>
</div>
</div>
<div class="indented"><a id="comment-8158"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/6b6555ee036850d9d7bdbddeefa14562?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Wiesz Dawidzie, ja również miałem totalny problem z nauką angielskiego... w szkole oczywiście. Jednak później w życiu gdy zaczął mi być potrzebny język po prostu zacząłem zapamiętywać słówka z SuperMemo, English Translator i SystemTL+; powoli, systematycznie, bez nerwów, zjadliwego oceniania mnie i dołowania przez nauczycieli, którzy już u matki w brzuchu płynnie mówili po angielsku. Teraz jestem 1-szym oficerem marynarki, przez cale miesiące posługuję się wyłącznie angielskim i co? Z ludźmi nie ma problemu, wszyscy popełniają błędy i wszyscy chcą zrozumieć innych, zauważyłem jednak, że prawdziwy problem tkwi jedynie w rodowitych anglikach-snobach, nadpobudliwych nauczycielach, oraz zawistnych Polakach, którzy zjedliby drugiego jedynie dlatego, że pamiętają jedno słówko więcej od Ciebie.<br/>
W normalnym świecie trzeba nauczyć się koślawego minimum, a potem na spokojnie je ćwiczyć, poprawiać i powiększać. Jeśli ktoś sądzi inaczej to najwyraźniej po angielsku komunikuje się wyłącznie z ... Polakami ;-&gt;</p>
<p>PZDR, Krzysiek (aktualnie: Lagos w Nigerii)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/8158">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Krzysiek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-8158">Sunday, April 26, 2015 - 03:34</a></span>
</div>
</div>
</div></div><a id="comment-3667"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/b7be2641039451ae1de098d4cb582453?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Wow, dzięki za tą notkę. Rzeczywiście jest to niezwykle istotne a jeszcze nikt nie powiedział mi tego wprost. Niby to się odrobinę czuje. ale nie jest to takie oczywiste.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/3667">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">tytan (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-3667">Tuesday, January 29, 2013 - 11:21</a></span>
</div>
</div>
<div class="indented"><a id="comment-3672"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki. :-) No, nie winię nauczycieli w tej sprawie. Myślą o tym, jak dzisiaj wyjaśnić dany czas - nie przychodzą im do głowy przypominać uczniów o co chodzi z tymi wszystkimi czasami. ;-) Sam o tym zapomniałem kiedy uczyłem na tradycyjnym kursie.</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/3672">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-3672">Tuesday, January 29, 2013 - 12:41</a></span>
</div>
</div>
</div><a id="comment-3668"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://biter.bartoszrakowski.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8edb38c99fa153f352cb167b5a6cbf6d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Bardzo ładne i przystępne wyjaśnienie, dzięki! Przyznam że też mam z tym problem jako że próbuje robić bezpośrednie analogie do czasów polskich :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/3668">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://biter.bartoszrakowski.com" rel="nofollow">Biter</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-3668">Tuesday, January 29, 2013 - 11:30</a></span>
</div>
</div>
<div class="indented"><a id="comment-3674"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki. :-)</p>
<p>Tak, lepiej nie szukać analogii i po prostu przyswoić sobie sam język. Gdybyś dużo słuchał lub czytał, miałbyś dużo dobrych przykładów w mózgu i w nieświadomości.</p>
<p>Życzę Ci sukcesu w nauce!</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/3674">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-3674">Tuesday, January 29, 2013 - 12:52</a></span>
</div>
</div>
</div><a id="comment-3669"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/451e04227d8e455cd2f6181a88d2a200?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>"Na lekcjach angielskiego nauczano, że w danej sytuacji tylko jeden czas jest "poprawny" a cała reszta jest zła. I czasem zdarzają się, oczywiście, takie sytuacje." - bardzo liczyłabym na przykłady takich sytuacji. Myślę, że to bardzo pomogłoby jeszcze lepiej utrwalić sobie lekcję zawartą w tej notce :)</p>
<p>Bardzo się cieszę, że poruszyłeś ten temat, szczególnie (subtelną) różnicę pomiędzy Past Simple a Present Perfect. Mieszkam w anglojęzycznym kraju ale nadal uczę się języka - zawsze bardzo przejmowałam się tym, że rozmawiając z ludźmi trudno jednocześnie swobodnie się wyrażać i uważać na czasy. Wydawało mi się, że ośmieszę się, używając PP zamiast PS, że to bardzo zauważalna różnica. Już widzę, że moi przeszli nauczyciele bardzo wyolbrzymiali tę kwestię.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/3669">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Karolina (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-3669">Tuesday, January 29, 2013 - 11:33</a></span>
</div>
</div>
<div class="indented"><a id="comment-3677"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Karolina!</p>
<p>Hrm, to tylko bardzo podstawowe sytuacje. Np. "I'm running now" vs "I run now" - tylko pierwsze zdanie jest poprawne, możesz powiedzieć "I run everyday" albo coś w stylu, ale kiedy to chodzi o to, co robisz w chwilę obecną - to tylko może być <em>present continuous</em>.</p>
<p>Niestety (albo może: na szczęście - to zależy od Twojej perspektywy) w mniej podstawowych sytuacjach wiele opcji jest możliwe. Ale tak jak napisałaś: różnica jest czasem bardzo subtelna i w biegu szybkiej rozmowy czasem nawet całkiem niezauważalna. ;-)</p>
<p>Mam nadzieję, że to pomoże!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/3677">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-3677">Tuesday, January 29, 2013 - 13:09</a></span>
</div>
</div>
<div class="indented"><a id="comment-3735"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a746dba270f6f72ccc097cbdbd7abba8?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Panie Dawidzie, skoro został poruszony temat czasów angielskich to prosiłbym o wyjaśnienie takiego zdania:<br/>
"Before I left I wrote a letter" Czy nie powinien być tu użyty czas zaprzeszły "Before I left I had written a letter"? List został napisany napisany przed wyjściem, a jednak często widzę taką konstrukcję zdania z 'before'. Będę wdzięczny za odpowiedź i pozdrawiam :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/3735">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Krakus (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-3735">Monday, February 4, 2013 - 14:49</a></span>
</div>
</div>
<div class="indented"><a id="comment-3736"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć!</p>
<p>To dobry przykład! Bo tak jak wyjaśniłem w artykule, oba zdania są poprawne gramatycznie ale mają trochę odmienne znaczenia.</p>
<p>"Before I left I wrote a letter" - to bardzo podstawowe zdanie. Tylko znaczy, że napisałem list przed wyjściem.</p>
<p>Ale "Before I left I had written a letter" daje wrażenie, że coś jeszcze się stało z tym listem po napisaniu ale przed teraźniejszością. Spodziewałbym się takiej kontynuacji: "... but I'd lost it by the time I got to the post office."</p>
<p>Mam nadzieję, że to pomoże!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/3736">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-3736">Monday, February 4, 2013 - 15:38</a></span>
</div>
</div>
<div class="indented"><a id="comment-4361"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/6d1eab89afed561f2a8213d7533ad25f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Ale to nie jest taka sama sytuacja. Te przykłady właśnie udowadniają, że różnica w użyciu czasów wynika z różnic pomiędzy sytuacjami Chociaż są one subtelne, to jednak istnieją. Podobnie jest z ilością przekazanej informacji - Present Perfect zasugerował w Twoim poście, że "nadal jesteś nauczycielem", a w powyższym, że coś się jeszcze stało z listem.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/4361">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-4361">Tuesday, April 2, 2013 - 15:08</a></span>
</div>
</div>
</div></div></div><a id="comment-5371"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/5351be9182c8b5264bac856462491483?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Nie zgadzam się z Twoją wypowiedzią.Od sześciu lat uczę języka angielskiego w gimnazjum i kładę duży nacisk na naukę czasów.Dzieci muszą opanować czasy takie jak: Present Simple,Present Continuous,Present Perfect,Past Simple,Past Continuous,Past Perfect i Future Simple.Nauka gramatyki angielskiej jest bardzo istotna podczas ładnej,bezbłędnej komunikacji słownej i pisemnej.To o czym Ty pisałaś,jest byle jaką formą posługiwania się językiem angielskim.Zgadzam się z tym,że Anglicy nie zwracają większej uwagi na czasy angielskie.Jednak nie wszyscy Anglicy rozmawiają na tak niskim poziomie.W Londynie możesz spotkać wiele osób,które bardzo precyzyjnie wyrażają swoje myśli poprzez zastosowanie odpowiednich czasów.Nie wszyscy ludzie wyjeżdżają do Angli zbierać warzywa i rozmawiać na temat swojej rodziny.Inteligentni ludzie zawsze używają szesnastu czasów i Ja osobiście tylko z takimi ludźmi się przyjaźnię.Z takich i innych powodów Polacy uczący się j.angielskiego muszą znać reguły gramatyczne i często je stosować w swoich wypowiedziach,aby jak najbardziej się utrwaliły.Nie lubię ludzi którzy chcą uczyć się języka obcego ,,drogą na skróty''.Takie podejście źle świadczy o takiej osobie.<br/>
Pozdrawiam</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/5371">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Aldona (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-5371">Friday, October 25, 2013 - 18:13</a></span>
</div>
</div>
<div class="indented"><a id="comment-5401"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/dd46cb3e7c354adf2d2bb6cb8cadf133?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Dramat. Po prostu żal ogarnia, jak się czyta takie wypowiedzi.</p>
<p>Ja też nie lubię tych, którzy NIE CHCĄ się nauczyć języka kraju, w którym mieszkają, i który daje im chleb (będąc u siebie, nauka języka to jak nauka gotowania bez posiadania kuchni, chcesz czy nie chcesz - zawsze to będzie droga na skróty), i ograniczają się do podstawowych zwrotów, a resztę załatwiają krótkim "fuck off, spierd..., nie pierd...". Ale od tego do używania 16 czasów gramatycznych jest BARDZO daleka droga.</p>
<p>I tak, drodzy nauczyciele, uczcie dzieci przede wszystkim gramatyki, wmawiajcie, że jest najważniejsza. Niech ją wkuwają, a potem i tak nie potrafią jej użyć, bo podstawowym problemem staje się zwykłe ODEZWANIE SIĘ, otworzenie paszczy w celu wydukania czegokolwiek.<br/>
Inaczej mówiąc, ze szczątkową gramatyką sobie poradzę, jeśli znam słowa - z samej gramatyki nie ulepię nic.</p>
<p>Ponadto, nawet ludzie, którzy znają gramatykę bardzo dobrze, podczas normalnej rozmowy lecą tym, co im pierwsze przyjdzie do głowy. I jeden pies, czy to jest Present Simple czy Continous, ważne, żeby być KOMUNIKATYWNYM w danym momencie. Jasne, potem sobie przemyślą i stwierdzą, że głupotę palnęli. A potem palną ją jeszcze ze dwadzieścia razy, zanim w końcu użyją tego czasu, którego mieli użyć. A potem i tak kolejne 10 razy użyją go źle.<br/>
Trzeba lat osłuchania i praktyki, żeby to poprawne weszło w nawyk. A David pokazuje, jak być przede wszystkim komunikatywnym, nie uniwersytecko poprawnym.</p>
<p>A, i nie martw się, człowiek, który nie używa wszystkich 16 czasów w swoich angielskich wypowiedziach, najprawdopodobniej nie będzie szukał przyjaźni u tak płytkiej i w ten sposób oceniającej innych osobie. Tak więc nadmiar prostaczków w bliskim otoczeniu Ci nie grozi.<br/>
Zresztą, kto chciałby się przyjaźnić z kimś, kto nie potrafi poprawnie używać interpunkcji w języku polskim... </p>
<p>Żal cycki ściska.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/5401">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">vio (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-5401">Sunday, November 10, 2013 - 07:33</a></span>
</div>
</div>
<div class="indented"><a id="comment-5871"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/268957e976f234daf6ac33d94c2aafbd?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Piekna odpowiedz. Nie o to chodzi, zeby sie popisywac literacka znajomoscia jezyka obcego-ale o komunikacje!!!<br/>
Mnie z powodu gramatyki tak sie namieszalo w glowie, ze stracilam calkiem wiare w to co sie dotychczas nauczylam. Mialam okazje rozmawiac z obcokrajowcem po ang. i wypadlam blado. Dlaczego? bo zamiast go uwaznie sluchac, panicznie uczepialam sie pojedynczych slow i gubilam caloksztalt wypowiedzi. Sama wydukalam troche zdan, bo zamiast walic z mostu, kali byc, kali chciec, to ja skupialam sie na konstrukcji zdania.... Wmawianie ludziom, ze gramatyka jest wazniejsza od znajomosci slowek to moim zdaniem zly pomysl :)<br/>
Trzeba przekonywac, zeby mowili, byle jak, ale mowili :) zeby nie stracili pewnosci siebie. W przeciwnym razie cala nauka idzie w eter.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/5871">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-5871">Friday, January 24, 2014 - 13:42</a></span>
</div>
</div>
</div><a id="comment-6021"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f11f9e3b08ca083b5751a88c28ddb2ef?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>hehe śmieszna i egoistyczna jestes! bylas kiedyś w UK?? gadaj z nimi w 16 czasach..powodzenia!!:))))) eh widać ze uczysz w gimnazjum bo wyżej..no cóż:)) swoją drogą to nie chciałbym się z taka osobą kolegować pomimo iż zanam 16 czasów:))</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/6021">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-6021">Monday, March 31, 2014 - 10:29</a></span>
</div>
</div>
<a id="comment-8152"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4da84ca90b7e016f7b64d9b2e801f094?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>...."Ja osobiście tylko z takimi ludźmi się przyjaźnię"...--współczuję pychy, może kiedyś zrozumiesz jak ktoś zarabiający miliony powie do Ciebie, nie rozmawiam z Tobą, takie jak ty u mnie sprzatają WC.(np)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/8152">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">wiesiekadam (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-8152">Monday, April 13, 2015 - 13:51</a></span>
</div>
</div>
</div></div><a id="comment-3670"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/bb895ee735732da95307cf9d969a5782?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Świetnie wytłumaczone :)<br/>
Ja większość czasów już opanowałem, ale czasem zdarza się, że muszę się zastanowić dłuższą chwilkę.</p>
<p>Mam do Ciebie pytanie Dawid. Czy amerykanie (ogólnie ludzie mówiący po angielsku od urodzenia) naprawdę zrozumieją "As an English teacher, I've drawn dozens of them" inaczej niż "As an English teacher, I drew dozens of them"? Chodzi mi o to czy, automatycznie rozumiecie to pierwsze zdanie, że ciągle tam pracuje? Ja się muszę zastanawiać chwilkę :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/3670">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Soob (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-3670">Tuesday, January 29, 2013 - 11:43</a></span>
</div>
</div>
<div class="indented"><a id="comment-3676"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki. :-)</p>
<p>Tak, Amerykanin zrozumiałby od razu czy mówiący nadal był nauczycielem czy nie. Może później nie pamiętałby ale to zupełnie inna sprawa. ;-)</p>
<p>To normalnie, że musisz zastanawiać się chwilę. W Twoim języku takie informacje nie jest przekazane. To tak samo jak czytam po polsku muszę specjalnie zwrócić uwagę na to, czy piszący jest mężczyzną czy kobietą. W polskim ta informacja jest przekazana często i wcale nie uważam tego automatycznie. :-)</p>
<p>Z czasem to staje się coraz lepiej!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/3676">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-3676">Tuesday, January 29, 2013 - 12:59</a></span>
</div>
</div>
</div><a id="comment-3673"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/7f3665a38cb757e1e0db23b50280fcb1?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hello David I have sent to you an e-mail. Did you get my email about english lessons based on your course via Skype??</p>
<p>Kind regards</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/3673">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Radek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-3673">Tuesday, January 29, 2013 - 12:46</a></span>
</div>
</div>
<div class="indented"><a id="comment-3675"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Radek!</p>
<p>I did get your e-mail but I haven't had to time read it yet - I'm sorry. I get so much e-mail and at the end of the month I'm always extra busy with my programming work. I'll read it and get back to you soon!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/3675">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-3675">Tuesday, January 29, 2013 - 12:54</a></span>
</div>
</div>
<div class="indented"><a id="comment-3689"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/7f3665a38cb757e1e0db23b50280fcb1?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Look forwad to hearing from you ;-)</p>
<p>Regards</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/3689">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Radek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-3689">Wednesday, January 30, 2013 - 05:42</a></span>
</div>
</div>
</div></div><a id="comment-3684"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/16af56cb1cb7d2fbb86789e739a1dfc1?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witaj David,<br/>
Po pierwsze dziękuje za dużo ciekawych i pożytecznych informacji którymi dzielisz się ze wszystkimi. I dla mnie czasy angielskie to twardy orzech ;) - o ile czasy Present/Past/Future Simple są bezproblemowe o tyle mój umysł stawia duży opór przed czasami Perfect :) Oczywiście dla każdego sprawdzi się inna metoda - mam w związku z tym pytanie: w jednym z Twoich filmików wspominałeś że uczyłeś się języka polskiego poprzez czytanie książki właśnie po polsku. Idąc za Twoim przykładem spróbowałem przeczytać w miarę prostą książkę po angielsku - wybór padł na The Lion, the Witch and the Wardrobe - mimo że to książka dla dzieci to całkiem przyjemnie się ją czyta i po przeczytaniu 3/4 spokojnie rozumiem fabułę aczkolwiek mniejszą uwagę przykładam do analizowania zdań pod kątem czasów - w jaki sposób Ty się uczyłeś poprzez czytanie ? Zrozumienie słówek w zdaniu to sprawa oczywista, a jak z czasami ? Określać czas w każdym zdaniu czy jakoś inaczej ?</p>
<p>Dzięki za wszelkie wskazówki</p>
<p>Pozdrawiam<br/>
Adam</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/3684">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Adam (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-3684">Tuesday, January 29, 2013 - 17:25</a></span>
</div>
</div>
<div class="indented"><a id="comment-3716"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Adam!</p>
<p>To fantastycznie, że przeczytałeś już 3/4 książki "The Lion, the Witch and the Wardrobe." Przeczytałem tę książkę kiedy byłem dzieckiem i z tego, co pamiętam, bardzo spodobała mi się. :-)</p>
<p>Sam nie wróciłem zbyt dużo uwagi na gramatykę. Od czasu do czasu zajrzałem się do podręczniku o gramatyce i to pomogło mi zauważyć nowe rzeczy. Ale przeważnie tylko budowałem poczucie do gramatyki. Po pewnym czasie coś "brzmiało" dobrze. To nie znaczy, że zawsze miałem rację ;-) - ale z czasem to poczucie stało się coraz lepsze.</p>
<p>Jeśli chcesz, możesz określać czas w każdym zdaniu. Nawet na tylko parę stronach to byłoby ciekawe. Ale nie polecam zrobienia tego na wszystkich stronach - to byłoby uciążliwe. Ludzki mózg jest naturalnie zaprojektowany do nauki struktury języka - łatwiej po prostu pozwolić mu to zrobić. :-)</p>
<p>Mam nadzieję, że to pomoże!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/3716">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-3716">Friday, February 1, 2013 - 16:54</a></span>
</div>
</div>
</div><a id="comment-3688"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/866eee6d18fde213a58eda8e64588f41?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>moja opinia co do unikalnych cech językowych . powiedzmy że mamy do wyboru 16 czasów + masę słówek (angielski) , specyficzną ortografię(polski) , 30 przypadków(węgierski) czy 50 tysięcy znaków + tony(chiński). co z tego może być trudniejsze ?</p>
<p>&gt;&gt;odpowiedź jest prosta . to zależy przede wszystkim od własnych predyspozycji oraz otrzaskania języka (chodzi o nabranie biegłości) . Szczerze gdyby języki były wszystkie takie same to by nie było różnorodności i by było nudnie :).</p>
<p>duże znaczenie to obecność lub  brak literatury do danego języka.powszechność języka . ogólnie obszerne zagadnienie</p>
<p>a teraz sam wypowiem się o czasach w angielskim . akurat ja nie mam za bardzo problemów z czasami bo dużo tekstów się naczytałem w języku angielskim i jakoś je powiedzmy umiem podświadomie rozróżniać ale brak opanowanego słownictwa robi swoje :(</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/3688">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">bitowo/zed16 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-3688">Wednesday, January 30, 2013 - 05:14</a></span>
</div>
</div>
<div class="indented"><a id="comment-3717"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Ooo, zgadzam się zupełnie z tym: "gdyby języki były wszystkie takie same to by nie było różnorodności i by było nudnie". :-)</p>
<p>Gratuluję Ci podświadomej umiejętności rozumienia czasów angielskich! To właśnie jest cel nauki kiedy chodzi o gramatykę.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/3717">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-3717">Friday, February 1, 2013 - 16:59</a></span>
</div>
</div>
</div><a id="comment-3690"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/572dc718bfde72d2d2cc3e2620458162?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Osobiście powiedziałabym, że problemem nie jest samo podejście nauczycieli do tłumaczenia czasów czy związane z tym trudności - tylko to, że w większości przypadków nauka jest nastawiona na umiejętność rozwiązywania nieraz niekoniecznie sensownych testów zamiast na faktyczne rozumienie języka i posługiwanie się nim. A to się raczej nieszybko zmieni...</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/3690">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Dominika (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-3690">Wednesday, January 30, 2013 - 16:55</a></span>
</div>
</div>
<div class="indented"><a id="comment-3718"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Dominika!</p>
<p>Tak, myślę, że masz rację - wszystkie problemy z kursami w szkole pochodzą z tego samego źródła: skupiają się na testach a nie na rozumieniu języka i posługiwaniu się nim. Z tego mamy takie korekty i wyjaśnienia itd.</p>
<p>Zgadzam się, że system szybko się nie zmieni, ale przynajmniej możemy uczyć się lepiej w naszym wolnym czasie! :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/3718">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-3718">Friday, February 1, 2013 - 17:04</a></span>
</div>
</div>
</div><a id="comment-3723"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/5f168f2914b83444dea75ea5e982429e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>No proszę, nie zdawałam sobie sprawy z  tego niuansu Present Perfect, tzn. sugerowania ciągłości do chwili obecnej. Zawsze wydawało mi się, że to po prostu czas do czynności definitywnie zakończonej i jednorazowej, a Past Simple - do czynności niedokończonej i/lub regularnie powtarzającej się w przeszłości. Zawsze się człowiek czegoś nowego uczy. :) Dzięki!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/3723">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Monika (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-3723">Saturday, February 2, 2013 - 13:31</a></span>
</div>
</div>
<div class="indented"><a id="comment-3748"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Monika!</p>
<p>Bardzo się cieszę, że artykuł był pomocny. :-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/3748">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-3748">Tuesday, February 5, 2013 - 11:00</a></span>
</div>
</div>
</div><a id="comment-3728"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://motywacja-blog.pl" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/1925935d88d4f98573b4c39016d69090?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Ja mam pytanie nieco z innej beczki. </p>
<p>Jakie testy lub egzaminy poświadczają znajomość języka na poziomie C1 lub C2? Jak na razie jedyny pomysł jaki przychodzi mi do głowy to egzamin CAE - Certificate in Advanced English.</p>
<p>Czy Twoim zdaniem da się przygotować do takiego egzaminu bez specjalistycznych kursów wymagających stacjonarnej nauki 2x w tygodniu po 2h? </p>
<p>Jestem obecnie na poziomie B2 i chciałbym wejść na poziom C2. Drażni mnie trochę, że naukę języka utożsamia się z etykietką w postaci stopnia B1,B2,C1.. Trochę to nie sprawiedliwe, bo pomimo tego, że można umieć angielski na zdecydowanie wyższym poziomie - trzeba mieć certyfikat poświadczający nasze umiejętności.</p>
<p>Moje pytania:<br/>
1. W jaki sposób można zdobyć certyfikat poświadczający znajomość j. angielskiego na poziomie C2?<br/>
2. Z jakich materiałów korzystać, żeby nauczyć się na taki egzamin? Przyznam szczerze, że kurs stacjonarny byłby dla mnie ostatecznością, bo chcę uczyć się własnym tempem - szybszym niż w ławce w szkole.</p>
<p>Dzięki i pozdrawiam!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/3728">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://motywacja-blog.pl" rel="nofollow">Michał</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-3728">Monday, February 4, 2013 - 04:34</a></span>
</div>
</div>
<div class="indented"><a id="comment-3756"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Michał!</p>
<p>Powinienem napisać cały artykuł o tym. :-)</p>
<p>Tutaj powiem, że są dwa sposoby, żeby przygotowywać się na egzamin językowy:</p>
<ol>
<li><strong>Przygotować się bezpośrednio na konkretny egzamin</strong> - możesz zdać egzamin na wyższy poziom, nawet nie mając tego poziomu! Są kursy, które mogą z tym pomóc. Takie są strasznie popularne w Azji. W końcu będziesz miał certyfikat, ale prawdziwy poziom niekoniecznie się polepszy.</li>
<li><strong>Pracować nad językiem w ogóle</strong> - możesz po prostu uczyć się języka (korzystając z metod na moim blogu czy innych) do tego stopnia, że egzamin nie będzie sprawiał Ci żadnych problemów.</li>
</ol>
<p>Nie ma tylko jednego odpowiedniego wyboru! To zależy od Twojego celu.</p>
<p>Mam nadzieję, że to pomoże! Teraz planuję cały artykuł na temat egzaminów. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/3756">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-3756">Tuesday, February 5, 2013 - 11:38</a></span>
</div>
</div>
<a id="comment-3791"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8e46a424ef851443923096aada8ddccf?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>@Michał<br/>
A ja się zapytam, po co Ci w ogóle jakieś certyfikaty ze znajomości angielskiego? Przecież wystarczy krótka rozmowa, aby zweryfikować poziom znajomości języka. Nigdy nie mogłem zrozumieć tej popularności certyfikatów językowych, to jakiś nonsens.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/3791">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Darek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-3791">Tuesday, February 5, 2013 - 16:43</a></span>
</div>
</div>
<div class="indented"><a id="comment-4363"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/6d1eab89afed561f2a8213d7533ad25f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Czasem osoba rekrutująca kandydata albo sam szef nie znają języka na tyle dobrze, żeby móc ocenić, czy dana osoba rzeczywiście za język na poziomie, dajmy na to, C1 czy C2, a potrzebuje tłumacza. W takim przypadku certyfikat, jeśli nie ma dyplomu neofilologii, to jedyny sposób. Poza tym sam proces przygotowywania się do jakiegoś egzaminu jest wydajniejszy, jeśli mamy na horyzoncie jakiś "deadline" w postaci egzaminu na certyfikat, który jest ładną pamiątką i nagrodą po tej kilkumiesięcznej "walce" czy "przygodzie".</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/4363">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-4363">Tuesday, April 2, 2013 - 15:11</a></span>
</div>
</div>
</div></div><a id="comment-3868"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a746dba270f6f72ccc097cbdbd7abba8?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć David<br/>
 Od dłuższego czasu próbuję rozgryźć kilka wątpliwości w sprawie j. angielskiego. Podobno czas present perfect służy do opisywania czynności, które zaczęły się kiedyś w przeszłosci i trwają do dziś, albo do opisywania doświadczeń np. 'nigdy nie byłem w Rzymie", czynności które przed chwilą się skończyły. W jednym z przykładów widziałem zdanie "You've always been" a raz "You were always". I've just seen" i "I just saw",  czy jest jakś zasada?<br/>
2. W present perfect zamiast "In" stoduje się "To" a raz na tvp polonia w napisach było: "I've been 2 days in bed" Czy to "in" zamieniamy na "to" jeśli chodzi o państwa, miasta itp?<br/>
3. Dlaczego czasami przed rzeczownikami niepoliczalnymi pojawia się rodzajnik? Widziałem w zdaniu takie słówka jak np 'part' i 'a part", tak samo 'life' i 'a life', lub też "love' i 'a burning love".<br/>
4. Czy podczas dłuższych zdań np "I woke up early and am hungry" trzeba później powtórzyć "I" między 'and" i am"?<br/>
5. jaka jest różnica między "I'll share with you" i "I'' ll go shares with you"</p>
<p>Z góry dziękuję i pozdrawiam :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/3868">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Krakus (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-3868">Friday, February 8, 2013 - 17:20</a></span>
</div>
</div>
<div class="indented"><a id="comment-3894"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć!</p>
<p>Zadałeś dość dużo pytań, niezwiązanych ze sobą, i niestety nie mam czasu naprawdę odpowiedzieć na nie.</p>
<p>Tak więc odpowiem przeważne na pierwsze, bo jest związane z tym artykułem... Jest różnice w znaczeniu między tymi zdaniami, np: "You've always been" i "You were always". W pierwszym przypadku mówiący zwraca uwagę na to, że Ty nadal tak jest. W drugim nic nie mówi o teraźniejszości (ale to nie znaczy, że już tak nie jest - tylko, że mówiący nie wraca na to uwagi).</p>
<p>Nie ma "zasady", która kieruje mówiącego do wybrania danego czasu. To wszytko zależy od tego, co chcę przekazać. Jeśli chce zwracać uwagę na teraźniejszość, wybiera "present perfect". Jeśli nie, będzie "past simple".</p>
<p>Oto parę uwag do reszty pytań:</p>
<p>2. Nie musisz to zmienić na "to" jednak zwykle tak robią native speakerzy kiedy chodzi o miasto czy państwo. Ale obie wersje: "I've never been to Rome" i "I've never been in Rome" - są poprawne gramatycznie!</p>
<p>3. Te rzeczowniki są policzalne! part/parts, life/lives, love/loves. Ale masz rację, że zwykle nie można używać "a" przed rzeczownikiem niepoliczalnym. Oczywiście wiele niepoliczalnych słów, są policzalne w specjalistycznym znaczeniu. Np. "money" jest niepoliczalny w zwykłej mowie ale osoby, które zajmują się wymianą międzynarodowej waluty, używają słowa "monies" w specjalistycznym znaczeniu.</p>
<p>4. Nie, nie musisz powtórzyć "I" między "and" i "am" - ale możesz, jeśli chcesz. Obie wersje są poprawne.</p>
<p>5. Nigdy nie słyszałem wyrażenia "I'll go shares with you". To chyba używane w nieznanym mi dialekcie. U nas można powiedzieć "Let's go halfsies" - ale to prawie wyłącznie używane przez dzieci. ;-)</p>
<p>Mam nadzieję, że to pomoże!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/3894">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-3894">Sunday, February 10, 2013 - 09:49</a></span>
</div>
</div>
</div><a id="comment-3893"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/41059db6c8146fe6db966c42ef45b927?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć.<br/>
Zamierzam się w końcu nauczyć angielskiego ponieważ wyjeżdzam do pracy w wakacje.<br/>
Wybrałem twoje materiały mam nadzieje,że dobrze mi pójdzie !<br/>
DZIĘKI !</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/3893">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Dawid (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-3893">Sunday, February 10, 2013 - 08:54</a></span>
</div>
</div>
<div class="indented"><a id="comment-3895"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Dawid!</p>
<p>Mam nadzieję, że moje materiały będą Ci pomocne! Proszę daj mi znać jak Ci pójdzie.</p>
<p>Życzę miłego wyjazdu i udanej pracy!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/3895">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-3895">Sunday, February 10, 2013 - 09:52</a></span>
</div>
</div>
</div><a id="comment-3945"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a746dba270f6f72ccc097cbdbd7abba8?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Dzięki David za szybką odpowiedź! :)</p>
<p>  Chciałbym się jeszcze odnieść do tego przykładu z "before I left I wrote a letter". Taką konstrukcję mogę zastosować tylko jeśli zdanie jest krótkie i nie ma dalszej informacji co się stało później, czy tak?  Jeśli nie zajmę dużo czasu to mam jeszcze pytanie do tych rzeczowników niepoliczalnych. Jaka jest różnica między "You are a part of ..." i "you are part of ..." oraz "life" z/bez rodzajnika "a" np. "water is life" i "a new life"? Z góry wielkie dzięki :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/3945">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Krakus (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-3945">Tuesday, February 12, 2013 - 14:13</a></span>
</div>
</div>
<div class="indented"><a id="comment-4008"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć!</p>
<p>Tak jak powiedziałem wcześniej obie wersje są w porządku ze strony gramatycznej. Długość zdania i ilość informacji nie ma znaczenia. W wersji "past perfect" tylko daje wrażenie, że coś dodatkowego się stało. Może mówiący chce dać to wrażenie ale nie chce podać szczegółów? Ale może chce, żeby druga osoba zapytała o to zamiast powiedzieć dalsze informacje od razu? W każdym razie to nie chodzi o poprawną gramatykę ale o to, co mówiący chce przekazać...</p>
<p>Przedimki to bardzo skomplikowany temat. To może lepiej o tym rozmawiać w osobnym artykule... Ale spróbuję krótko tutaj!</p>
<p>Po pierwsze: słowa "part" i "life" są policzalne. Tylko "water" jest niepoliczalne ale wiele osób go używa jako słowa policzalnego kiedy zamawiają butelki wody w restauracji, np: "We'll have 2 waters." W tym kontekście to jest dozwolone.</p>
<p>Bardzo dosłownie (ale znaczą w zasadzie to samo):</p>
<p>"You are a part of ..." - Jesteś jedną z części (czegoś)<br/>
"You are part of..." - Jesteś częścią (czegoś)</p>
<p>W przypadku "water is life" to nie chodzi o jedno z kilku "żyć" ale tylko, że woda jest życiem. Ale "a new life" to właśnie chodzi o jedno z kilku. W naszym życiu jest wiele etapów i w j. angielskim można powiedzieć, że są osobne życia jeśli chcesz dać wrażenie, że zmiany na nowym etapie były wielkie.</p>
<p>Mam nadzieję, że to pomoże!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/4008">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-4008">Tuesday, February 19, 2013 - 09:33</a></span>
</div>
</div>
<div class="indented"><a id="comment-4338"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a746dba270f6f72ccc097cbdbd7abba8?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Dziekuję David za odpowiedź w poprzednim poście. Nawiązując do tematu zrozumienia czasów angielskich mam kilka pytań. Czy to prawda, że present continuous można używać do opisywania sytuacji, które dzieją się w obrębie teraźniejszosci? W programie Jerry'ego Springer'a często pojawia się zdanie "I'm sleeping with your husband/wife". Czytałem gdzieś, że do opisywania czynnosci które zaczęły sie w przeszłości i trwają do tej chwili lub niedawno się skończyły używa sie czasu present perfect continuous. Czy w wyżej wymienionym przykładzie może też byc użyty present perfect contin.? Rozwiązując testy z j. angielskiego było takie ćwiczenie: było podanych 10 zdań. Niektóre zawierały błędy i trzeba było je poprawić. Było np takie zdanie: "Mrs. Johnson is asleep now. She is very tired because she is working on a new symphony". Domyślam się, że powinien tu byc użyty present perfect cont. Czy mam rację? Z góry dziękuję za odpowiedź i pozdrawiam :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/4338">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Krakus1986 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-4338">Friday, March 29, 2013 - 15:32</a></span>
</div>
</div>
</div></div><a id="comment-8047"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/bac7d6589fc3a10a61e5af19bf85f6e3?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Czasy angielskie nie należy tłumaczyć polskimi nazwami gramatycznymi. Angielski czas dokonany(Perfective) wyraża czynności zakończone (to są Simple/Perfect Simple + Stany(stan trwa sam z sobie)+ czynności powtarzające się) To zakończenie to ramy czasowe, czyli czynność ujęta jako całość/punkt i po przetłumaczeniu na j. polski w tym zamkniętym okresie czasu mogą być polskie czasowniki dokonane i niedokonane. Angielskie Imperfective to inaczej ASPEKT Niedokonany(angielski) i nie ma przedziałów/ograniczeń trwania ,,coś się zaczęło  nie wiadomo kiedy, trwa i nie wiadomo kiedy się zakończy" - akcja w środku trwania. Czasownik w j. ang. opisuje teoria lexical aspect.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/238/8047">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim#comment-8047">Saturday, October 11, 2014 - 16:31</a></span>
</div>
</div>
</div>
