---
permalink: /blog/2013/01/kryzys-na-blogu-o-czym-powinienem-pisać/
layout: blog-old
title: 'Kryzys na blogu! O czym powinienem pisać?!'
day: 15
month: sty
year: 2013
category: LinguaTrek
tags: [ ]
language: pl
translation: /blog/2013/01/a-blog-in-crisis-what-should-i-write-about/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2013/01/blogideas_0.jpg" rel="lightbox"><img alt="Blog ideas" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2013/01/blogideas_0.jpg" title="Zdjęcia autorstwa owenwbrown"/></a><div class="caption"><a href="http://www.flickr.com/photos/owenwbrown/4857508633/">Zdjęcia</a> autorstwa <a href="http://www.flickr.com/photos/owenwbrown/">owenwbrown</a></div></div>
<p><em>Na początku dziękuję za czytanie mojego blogu. Naprawdę to doceniam. :-)</em></p>
<p>Co tydzień publikuję artykuł z poradami dotyczącymi nauki języka obcego. Mam nadzieję, że te artykuły są pomocne w Twojej przygodzie z językiem.</p>
<p>Ostatnio zauważyłem, że mniej osób czyta i komentuje. Tak naprawdę, nie jest to "kryzys" - to po prostu był fajnie brzmiący tytuł. ;-) Ale chciałbym to zmienić zanim stanie się prawdziwym kryzysem.</p>
<p>Nie bloguję tylko dla samego siebie (jednak przy tym świetnie się bawię). Piszę te artykuły dla CIEBIE! Jeśli nie pomagają Ci robić postępów w nauce języka - <em>ten blog nie jest udany.</em></p>
<p>Powiedz mi jak sprawiać, żeby moje artykuły były dla Ciebie pożyteczniejsze!</p>
<p><strong>Proszę wypełnij <a href="http://www.linguatrek.com/node/231">tę ankietę</a> i daj mi znać:</strong></p>
<ol>
<li>Czego chcesz więcej?</li>
<li>Czego chcesz mniej?</li>
<li>Jaki jest Twój największy problem z językiem, którego obecnie się uczysz?</li>
</ol>
<p>Użyję wyników, żeby zdecydować, na którym będę się skupiał w 2013 roku! Myślę, że będzie fantastyczny rok. :-)</p>
<p><em>Dziękuję z góry za Twoją pomoc!</em></p>
</div>

<div id="comments">
<a id="comment-3488"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.ebiznesgrafika.pl" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/24adcd698153ea4857b5b8d98876371f?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Chciałabym pomóc :) ale link do ankiety nie działa.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/230/3488">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.ebiznesgrafika.pl" rel="nofollow">Iwona</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/kryzys-na-blogu-o-czym-powinienem-pisa%C4%87#comment-3488">wtorek, styczeń 15, 2013 - 11:16</a></span>
</div>
</div>
<div class="indented"><a id="comment-3489"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Ach, przepraszam! Poprawiłem linka i teraz powinno działać. :-)</p>
<p>Dziękuję bardzo, Iwono, za poinformowanie mnie!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/230/3489">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/kryzys-na-blogu-o-czym-powinienem-pisa%C4%87#comment-3489">wtorek, styczeń 15, 2013 - 11:19</a></span>
</div>
</div>
</div><a id="comment-3495"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/866eee6d18fde213a58eda8e64588f41?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>wiesz . szczerzę co do ankiety to mnie kilka  rzeczy interesuje. jak reagujesz gdy ludzie ci mówią coś w stylu . dlaczego uczyłeś się języka polskiego !! to strata czasu lepiej hiszpański albo francuski . jaki ludzie zareagowali gdy nauczyłeś się tego języka. co robisz gdy widzisz takie pytania ?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/230/3495">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">bitowo/zed16 (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/kryzys-na-blogu-o-czym-powinienem-pisa%C4%87#comment-3495">wtorek, styczeń 15, 2013 - 16:52</a></span>
</div>
</div>
<div class="indented"><a id="comment-3496"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Ludzie ciągle mnie zadają takie pytania i zwykle przesyłam link do tego filmiku:</p>
<p><a href="http://www.linguatrek.com/blog/2011/03/vlog-dlaczego-ucz%C4%99-si%C4%99-polskiego" title="http://www.linguatrek.com/blog/2011/03/vlog-dlaczego-ucz%C4%99-si%C4%99-polskiego">http://www.linguatrek.com/blog/2011/03/vlog-dlaczego-ucz%C4%99-si%C4%99-...</a></p>
<p>... pod tytułem: "Dlaczego uczę się polskiego" :-)</p>
<p>Również jest ten artykuł:</p>
<p><a href="http://www.linguatrek.com/blog/2011/05/4-reasons-to-learn-polish" title="http://www.linguatrek.com/blog/2011/05/4-reasons-to-learn-polish">http://www.linguatrek.com/blog/2011/05/4-reasons-to-learn-polish</a></p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/230/3496">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/kryzys-na-blogu-o-czym-powinienem-pisa%C4%87#comment-3496">wtorek, styczeń 15, 2013 - 16:59</a></span>
</div>
</div>
</div><a id="comment-3497"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://mice.mine.nu" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/87b1bf86cc037cb46d583f5febb39217?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Hi David<br/>
Witaj Dawidzie<br/>
Speaking of studying english<br/>
Jeśli chodzi o naukę angielskiego<br/>
I dream about something like this:<br/>
Marzę o czymś takim:<br/>
Interlinear layout of text in two languages.<br/>
Układ interlinearny tekstu w dwóch językach.<br/>
I have never saw anything like that<br/>
Nigdy się z czymś takim nie spotkałem<br/>
However it could be a good idea<br/>
A może byłby to dobry pomysł<br/>
A way to memorize most useful phrases<br/>
Sposób na zapamiętywanie najczęściej używanych zwrotów<br/>
One eyesight, and you know...<br/>
Jeden rzut oka i już wiesz...<br/>
The point is, that common, colloquial or informal phrases<br/>
Rzecz w tym, że najczęściej używane, potoczne zwroty<br/>
cannot be translated word-by-word.<br/>
nie mogą być tłumaczone słowo w słowo.<br/>
For example: "give me a break!"<br/>
Na przykład: "daj spokój!"<br/>
can't translate as "daj mi przerwę!"<br/>
nie można przetłumaczyć jako "give me peace!"<br/>
So much for today. Have a mice day.<br/>
To może tyle na dziś... Mysiego dnia :-) (bardzo lubię to pozdrowienie)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/230/3497">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://mice.mine.nu" rel="nofollow">Kazimierz</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/kryzys-na-blogu-o-czym-powinienem-pisa%C4%87#comment-3497">wtorek, styczeń 15, 2013 - 17:13</a></span>
</div>
</div>
<div class="indented"><a id="comment-3517"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Kazimierz!</p>
<p>Thanks for the reply. It's one of the most interesting I've ever gotten. :-) I definitely think interlinear texts like that have potential! Thanks for sharing the idea.</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/230/3517">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/kryzys-na-blogu-o-czym-powinienem-pisa%C4%87#comment-3517">czwartek, styczeń 17, 2013 - 22:25</a></span>
</div>
</div>
</div><a id="comment-3532"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/9b8d7e498b9191323d9ecacb10c7e7ed?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Muszę kategorycznie zaprotestować w sprawie używania wyrazu w przypadkach nieuzasadnionych"Amerykanie".Oznacza on Brazylijczyków,Peruwiańczyków itd.a nie tylko mieszkańców USA.<br/>
Mam też inne złe a ściślej gorsze wiadomości.<br/>
Po 1 kryzys na świecie przypuszczalnie nie skończy się ze względu na brak paliw i surowców.Jedynie można liczyć na paliwa typu jak z rzepaku które i tak będą droższe niż standardowe paliwa.Co i tak lepsze niż zupełna zagłada transportu.<br/>
Po 2 klimat się ociepla a stany zjednoczone z tego powodu mogą dostać solidnego łupnia.<br/>
Po 3  chodzą słuchy że macie mieć jawny reżim dyktatorski.<br/>
A mam podstawy sądzić ze już teraz jest zakamuflowana dyktatura.Przecież wystarczy że  1 da łapówki 2 partiom i już rządzi.Czy jakakolwiek z tych 2 partii ostatnio protestowała przeciw kryminalistom z banków albo koncernów farmaceutycznych?<br/>
Co do koncernów farmaceutycznych polecam opracowania:<br/>
<a href="http://www.youtube.com/watch?v=7oRFNbhbJoE" title="http://www.youtube.com/watch?v=7oRFNbhbJoE">http://www.youtube.com/watch?v=7oRFNbhbJoE</a><br/>
<a href="http://www.faceci.com.pl/r_rak_metody_konwencjonalne.html" title="http://www.faceci.com.pl/r_rak_metody_konwencjonalne.html">http://www.faceci.com.pl/r_rak_metody_konwencjonalne.html</a><br/>
Nawet jak są jakieś błędy to przesłanie jest słuszne.<br/>
dodam na pocieszenie że znam sporo metod na nowotwory i nie tylko.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/230/3532">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Blekota (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/kryzys-na-blogu-o-czym-powinienem-pisa%C4%87#comment-3532">poniedziałek, styczeń 21, 2013 - 15:21</a></span>
</div>
</div>
<a id="comment-3536"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/9b8d7e498b9191323d9ecacb10c7e7ed?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>A jeżeli chodzi o temat to polecam opisać sytuację związaną z zagrożeniami związanymi z przestępcami.Na pewno tam jest gorzej niż w Polsce.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/230/3536">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Blekota (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/kryzys-na-blogu-o-czym-powinienem-pisa%C4%87#comment-3536">poniedziałek, styczeń 21, 2013 - 15:53</a></span>
</div>
</div>
<a id="comment-3552"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/2247078d50c2c7bac7e05bd3f639ad52?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Witam. Bardzo przydałby się artykuł opisujący sposób wypowiedzi pisemnej- formal/semi-formal. Różni się on znacznie od mowy potocznej i jest to pewna nisza w nauce angielskiego, o której jest stosunkowo mało informacji w Internecie.                               pozdrawiam, Rafał</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/230/3552">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Rafal (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/kryzys-na-blogu-o-czym-powinienem-pisa%C4%87#comment-3552">wtorek, styczeń 22, 2013 - 10:51</a></span>
</div>
</div>
<div class="indented"><a id="comment-3554"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Cześć Rafał!</p>
<p>Dzięki, to dobry pomysł! :-) Mógłbym napisać ogólne informacje na ten temat (jak nauczyć się danego "trybu" języka, np. formalnej) i konkretne porady dla nauki j. angielskiego. Będę więcej o tym myślał.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/230/3554">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/kryzys-na-blogu-o-czym-powinienem-pisa%C4%87#comment-3554">wtorek, styczeń 22, 2013 - 10:59</a></span>
</div>
</div>
</div><a id="comment-4241"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/b6958af3a4e8a683cfff7ab13ab3cfa8?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Hi!<br/>
Rafal, contrary to what you have said, I think that there is a lot of places on the internet which describe how official, written English should look. Well, perhaps they are not so much devoted concretely to that issue but just take a look at any technical article - it should give you good feeling of formal language. Though, some guidelines would be useful, of course.</p>
<p>But David, you have said that you don't know what you should write about. Well... there is a lot and lot of things you could write. What I mean are some specific English constructions which are hard for Polish people to formulate. Of course, I don't mean standard grammar courses which can be found on so many sites that creating next would be just a waste of time. But precisely grammar issues with which Polish people have difficulties. I can send you many of such problems :). An example:</p>
<p>"Weź klucze, byśmy mogli wejść"</p>
<p>I guess that the proper translation of that sentence is as follows:</p>
<p>"Take keys so we can get in"</p>
<p>Am I right?</p>
<p>In another thread I asked a question about conditionals. You answered, but I suppose that many people still have doubts how conditionals should look correctly in non-standard situations (manuals usually give us only very basic situations). I think that extensive, detailed discussion of conditionals would be what everyone would find useful. </p>
<p>On the other hand, perhaps you have some sentences which you don't know how they should look in Polish (due to grammatical difficulties) or you have some doubts? Feel free to ask :)</p>
<p>Best regards,<br/>
Paweł.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/230/4241">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Paweł (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/kryzys-na-blogu-o-czym-powinienem-pisa%C4%87#comment-4241">środa, marzec 6, 2013 - 07:03</a></span>
</div>
</div>
<a id="comment-4269"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/b6958af3a4e8a683cfff7ab13ab3cfa8?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Well,<br/>
I have just found that Google Translator can nicely serve that job - if used reasonably. Although it is necessary to check if the sentences it generates are really correct and really used in the real world. But I saw an example of how a similiar, early translator was working some years ago, and comparing to that, the results which Google Translator returns are awesome.<br/>
Well, I think that it could freely translate technical books if tuned to appropriate technical field.<br/>
But, about the formal language (about which the idea of a discussion was given above): I have noticed some interesting things.<br/>
For example: it seems that English still prefer a short, more dynamic language in official technical documents while Polish prefer long, complex phrases.</p>
<p>For example:</p>
<p>English: "it tell a compiler"</p>
<p>Polish: "do kompilatora wysyłana jest informacja"<br/>
(information is being sent to the compiler)</p>
<p>Well, perhaps it would be interesting to do some more research :).</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/230/4269">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Paweł (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/kryzys-na-blogu-o-czym-powinienem-pisa%C4%87#comment-4269">poniedziałek, marzec 11, 2013 - 12:05</a></span>
</div>
</div>
<div class="box">
<h2>Dodaj nową odpowiedź</h2>
<div class="content"><form accept-charset="UTF-8" action="/comment/reply/230" id="comment-form" method="post">
<div><div class="form-item" id="edit-name-wrapper">
<label for="edit-name">Nazwisko lub pseudonim: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-name" maxlength="60" name="name" size="30" type="text" value="Anonymous"/>
</div>
<div class="form-item" id="edit-mail-wrapper">
<label for="edit-mail">E-mail: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-mail" maxlength="64" name="mail" size="30" type="text" value=""/>
<div class="description">Zawartość pola nie będzie udostępniana publicznie. If you have a <a href="http://www.gravatar.com">Gravatar</a> account, used to display your avatar.</div>
</div>
<div class="form-item" id="edit-homepage-wrapper">
<label for="edit-homepage">Strona domowa: </label>
<input class="form-text" id="edit-homepage" maxlength="255" name="homepage" size="30" type="text" value=""/>
</div>
<div class="form-item" id="edit-comment-wrapper">
<label for="edit-comment">Odpowiedź: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<textarea class="form-textarea resizable required" cols="60" id="edit-comment" name="comment" rows="15"></textarea>
</div>
<ul class="tips"><li>Adresy internetowe są automatycznie zamieniane w odnośniki, które można kliknąć.</li><li>Dozwolone znaczniki HTML: &lt;a&gt; &lt;em&gt; &lt;strong&gt; &lt;cite&gt; &lt;code&gt; &lt;ul&gt; &lt;ol&gt; &lt;li&gt; &lt;dl&gt; &lt;dt&gt; &lt;dd&gt; &lt;blockquote&gt;</li><li>Znaki końca linii i akapitu dodawane są automatycznie.</li></ul><input id="form-249d427fcd1b94e658e13095beabc378" name="form_build_id" type="hidden" value="form-249d427fcd1b94e658e13095beabc378"/>
<input id="edit-comment-form" name="form_id" type="hidden" value="comment_form"/>
<div class="clear-block"><div class="form-item" id="edit-notify-wrapper">
<label class="option" for="edit-notify"><input checked="checked" class="form-checkbox" id="edit-notify" name="notify" type="checkbox" value="1"/> Notify me when new comments are posted</label>
</div>
<div class="form-radios"><div class="form-item" id="edit-notify-type-1-wrapper">
<label class="option" for="edit-notify-type-1"><input class="form-radio" id="edit-notify-type-1" name="notify_type" type="radio" value="1"/> All comments</label>
</div>
<div class="form-item" id="edit-notify-type-2-wrapper">
<label class="option" for="edit-notify-type-2"><input checked="checked" class="form-radio" id="edit-notify-type-2" name="notify_type" type="radio" value="2"/> Replies to my comment</label>
</div>
</div></div><input class="mollom-session-id" id="edit-mollom-session-id" name="mollom[session_id]" type="hidden" value=""/>
<div style="display: none;"><div class="form-item" id="edit-mollom-homepage-wrapper">
<input class="form-text" id="edit-mollom-homepage" maxlength="128" name="mollom[homepage]" size="60" type="text" value=""/>
</div>
</div><div class="description mollom-privacy">Wysłanie formularza jest równoznaczne z akceptacją <a href="http://mollom.com/web-service-privacy-policy">polityki prywatności usługi Mollom</a>.</div><input class="form-submit" id="edit-preview" name="op" type="submit" value="Podgląd"/>
</div></form>
</div>
</div>
</div>
