---
permalink: /blog/2013/01/the-key-to-understanding-english-tenses/
layout: blog-old
title: 'The key to understanding English tenses!'
day: 29
month: Jan
year: 2013
category: learn English
tags: 
  - 'grammar'
  - 'tenses'
language: en
translation: /blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 107px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2013/01/alarmclock.jpg" rel="lightbox"><img alt="Alarm clock" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2013/01/alarmclock.jpg" title="Photo by Alan Cleaver"/></a><div class="caption"><a href="http://www.flickr.com/photos/11121568@N06/4293345631">Photo</a> by <a href="http://www.flickr.com/photos/alancleaver/">Alan Cleaver</a></div></div>
<p>Every language has <em>some</em> difficult bit.</p>
<p>It's that one aspect of the language that you'll be working on over and over again the whole time that you're learning it.</p>
<p>For English, it's <em>verb tenses.</em></p>
<p>Counting the way the teachers usually do, <strong>English has 14-16 tenses.</strong> <em>(There's many ways to count them!)</em></p>
<p>No matter what the exact number - the point is that English has a very complex verb system. I get TONS of questions from English learners about which tense is correct in a particular sentence.</p>
<p>A couple weeks ago, during one of our <a href="https://pl.bibliobird.com/spotkania-premium-przez-czat-g%C5%82osowy">English lessons over voice chat</a>, a learner (<em>Hi Marcin!</em>) asked me:</p>
<blockquote>
<p>Why did you say: "I was using it as an example?" Why not: "I used it as an example?" You weren't talking about it very long - shouldn't it be <em>past simple</em> instead of <em>past continuous</em>?</p>
</blockquote>
<p><strong>The answer is actually quite simple. And it ISN'T a grammar explanation. ;-) Really! I won't need to draw a picture or show you a chart.</strong></p>
<p>In fact, all this confusion comes from a <em>fundamental misunderstanding</em> about English tenses, which itself stems from years and years of teachers explaining the tenses in a particular way.</p>
<p>Today, I'm <em>finally</em> going to clear up this misunderstanding!</p>
<p><strong>Read more to learn the key to understanding English tenses!</strong></p>
<h2>The tenses AREN'T about reality!</h2>
<p><em>They're about expression.</em></p>
<p>During grammar lessons, English teachers (unintentionally!) convince their students that the tenses accurately describe some event as it occurred in reality.</p>
<p>When teaching the <em>past simple</em> and <em>past continuous</em> tenses, it's common for the teacher to draw timelines to illustrate the differences between them. For example:</p>
<p><img alt="Past continuous timeline" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/image/2013/01/pastcontinuous.png"/></p>
<p><img alt="Past continuous timeline" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/image/2013/01/pastsimple.png"/></p>
<p>I know because as an English teacher, I drew dozens of these. :-)</p>
<p><em>(BTW, I know I said I wouldn't need to draw you a picture to explain this - I don't! The picture above is an example of how teachers <u>usually</u> explain the tenses. Sorry if it brings back unhappy memories!)</em></p>
<p><strong>The truth is, it doesn't really matter what happened in reality!</strong> It could have lasted <em>10 seconds</em> or <em>10 hours.</em></p>
<p>In this case, I <em>chose</em> to use the past continuous tense ("I was using"), because I wanted to <em>express the idea</em> that it lasted a while.</p>
<h2>More than one tense can be "correct"</h2>
<p>Both of these sentences are grammatically correct:</p>
<ul>
<li>I was using it as an example. <em>(past continuous)</em></li>
<li>I used it as an example. <em>(past simple)</em></li>
</ul>
<p><strong>And, while they mean something slightly different, they both could be used to describe the EXACT SAME EVENT!</strong></p>
<p>In English class, you're trained to think that in a given a situation one tense is "right" and all others are wrong. And, sure, sometimes there are situations like that.</p>
<p>But frequently, many different tenses <em>could</em> be used, depending on what the speaker is trying to express.</p>
<h2>Sometimes the difference is <em>very small!</em></h2>
<p>For example:</p>
<ul>
<li>As an English teacher, I drew dozens of them. <em>(past simple)</em>
</li><li>As an English teacher, I've drawn dozens of them. <em>(present perfect)</em>
</li></ul>
<p><strong>Both sentences mean roughly the same thing - I could've written either of them!</strong></p>
<p>The only difference is that in the 2nd one, I'm also <em>choosing to telling you</em> that I'm still an English teacher. I could say the first one too - in which case, I'm not telling you anything about whether I'm still an English teacher or not.</p>
<p><strong>The reality of my profession doesn't matter!</strong></p>
<p>It's all about what I want to say to you.</p>
<h2>Change your mindset!</h2>
<p>There are lots of ways to learn the verb tenses.</p>
<p>Personally, I recommend trying to <a href="http://www.linguatrek.com/blog/2011/03/language-learning-is-more-like-karate-than-math">get a feel for them naturally</a> by doing a lot of reading and listening - <a href="http://www.linguatrek.com/blog/2011/08/what-is-grammar-good-for">only looking at the grammar rules</a> from time to time. (I talk about this in MUCH more detail <a href="http://www.linguatrek.com/blog/2012/04/natural-language-learning-without-a-teacher">in my ebook</a>).</p>
<p>Of course, there's also the traditional way with charts and exercises and tests.</p>
<p>But what ever way you choose, it will be much easier if you remember: <em>the tenses are about expression - not reality!</em></p>
<p><strong>Do you have problems with English tenses? What is the most difficult part? Write a comment below!</strong></p>
</div>

<div id="comments">
<a id="comment-3663"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I listen a lot. I read even more! If I had to give you an example of an English tense I rarely come across, it would be future perfect tenses. Maybe I'm mistaken and they became a part of me, but I'm fairly sure they're seldom.</p>
<p>So it is important that you expose yourself to many kinds of content: radio, (audio)books (not only novels! that tend to contain more past tenses), vlogs, etc.</p>
<p>Now I'm aware how stupid it is to teach from A-Z in a classroom. I hope we are in the process of changing this paradigm in learning languages. On the one hand it has made a lot of damage, on the other, it can be awesome how one idea became used worldwide - it became a paradigm. It's time for Edu 2/3/4/5.0/whatever - you name it!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/237/3663">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/the-key-to-understanding-english-tenses#comment-3663">Tuesday, January 29, 2013 - 10:36</a></span>
</div>
</div>
<div class="indented"><a id="comment-3664"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Wojtek!</p>
<p>Yeah, I agree - the future perfect and future perfect continuous tenses are probably the rarest. They're used mostly in personal conversations about your career or studies or marriage or something else that's in progress and lasting a long time.</p>
<p>For example: "In September, I will have been learning Polish for 6 years!"</p>
<p><em>(I think that's true - it's been so long now that I'm losing track, it could be 7 years? Anyway, it was in September, I know that!)</em></p>
<p>Because of that, they're even more rare to read. Unless a character in a novel happens to be talking about one of those topics. Maybe in personal blogs?</p>
<p>I'm also planning on an article about the relative frequency of the different English tenses, where I'll talk about this in more detail. :-)</p>
<p>Take care!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/237/3664">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/the-key-to-understanding-english-tenses#comment-3664">Tuesday, January 29, 2013 - 10:47</a></span>
</div>
</div>
</div><a id="comment-3678"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a27560ef1a10a3979db3690d97ab10aa?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Thanks a lot! It may come in useful during my exam, tomorrow. ;) Best regards :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/237/3678">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Maja (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/the-key-to-understanding-english-tenses#comment-3678">Tuesday, January 29, 2013 - 13:15</a></span>
</div>
</div>
<div class="indented"><a id="comment-3679"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Maja!</p>
<p>I wish you the best of luck on your exam!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/237/3679">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/the-key-to-understanding-english-tenses#comment-3679">Tuesday, January 29, 2013 - 13:17</a></span>
</div>
</div>
</div><a id="comment-3681"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] an English teacher, I drew dozens of them. (past simple - użyłem tego zdania w angielskiej wersji tego artykułu) As an English teacher, I've drawn dozens of them. (present [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/237/3681">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2013/01/klucz-do-zrozumienia-czas%C3%B3w-w-angielskim" rel="nofollow">Klucz do zrozumienia czasów w angielskim! | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/the-key-to-understanding-english-tenses#comment-3681">Tuesday, January 29, 2013 - 16:03</a></span>
</div>
</div>
<a id="comment-3685"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/ba39e7ab83372f3c16ac3b9176a2e56c?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Thanks David for a compelling explanation. I've already changed my mindset.</p>
<p>(BTW, I've learnt today the word "compelling", and it came to my mind after reading your entry. I think it suits here very well.)</p>
<p>Regards,<br/>
Piotr</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/237/3685">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">piogrystol (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/the-key-to-understanding-english-tenses#comment-3685">Tuesday, January 29, 2013 - 17:27</a></span>
</div>
</div>
<div class="indented"><a id="comment-3711"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Piotr!</p>
<p>Awesome! "Compelling" is a really great word, in fact, it's one of my favorites. :-)</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/237/3711">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/the-key-to-understanding-english-tenses#comment-3711">Friday, February 1, 2013 - 16:24</a></span>
</div>
</div>
</div><a id="comment-3686"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/07c6f0f07fda79c236e83a133a622efd?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>In general, the English verb tenses convey much more information than, for instance, Polish tenses. Personally, I've observed that correct and natural use of the perfect tenses is the most difficult aspect for Poles learning English. Perhaps this is because of the fact that we don't have an equivalent of the perfect tenses in Polish (or do we? :)). Well, there is "czas zaprzeszly" but it's very uncommon and sounds pretty odd to modern ears. I'm curious what are your observations in that matter.</p>
<p>I think that you made a very good point about trying to "feel" the tenses naturally, rather than struggling to memorize and follow the grammar rules. It is utterly useless to put in so much effort into teaching/learning grammar by heart. In fact, these 14-16 tenses can be explained in detail on no more than 3-4 A4 pages (including some fancy examples). Unarguably, there is no better way to develop ability to use tenses properly than by experiencing language both actively and passively. </p>
<p>I also have to say that I truly admire anyone who is not a slavic language speaker taking up the challenge of learning Polish. Your Polish is far better than half of the Polish population. I wish my English was half that good.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/237/3686">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Maciek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/the-key-to-understanding-english-tenses#comment-3686">Tuesday, January 29, 2013 - 17:29</a></span>
</div>
</div>
<div class="indented"><a id="comment-3712"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Maciek!</p>
<p>Thanks for the kind words. :-)</p>
<p>Actually, it goes both ways! Polish verbs convey some things that English verbs don't, for example, the gender of the people involved. When I'm reading Polish I have to focus in order to notice the gender markers, but I'm sure it comes naturally to Poles without thinking! Just like the extra information in English verbs comes naturally to me.</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/237/3712">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/the-key-to-understanding-english-tenses#comment-3712">Friday, February 1, 2013 - 16:27</a></span>
</div>
</div>
<div class="indented"><a id="comment-3975"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9fe6c269d033e8aa2396a51484ada45c?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Yeah,I agree. But I am also curious about why Polish people<br/>
emphasize so much about the gender which involved<br/>
(n.p the past tense of the verb).I know there won't be answers,but if they care about gender, why isn't there gender differentiation in the present tense verb ;-D?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/237/3975">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Krzysztof/Morris (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/the-key-to-understanding-english-tenses#comment-3975">Friday, February 15, 2013 - 13:34</a></span>
</div>
</div>
</div></div><a id="comment-3687"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://blog.albitos.eu" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/5bdffa7da2b8a3442308002f1299a9ea?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>I can see that new series of posts based on poll is coming out. I must admit - this is the right direction, at least for me. Posts about general language learning are great, but some intresting things about english language will be even better!</p>
<p>Thanks :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/237/3687">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://blog.albitos.eu" rel="nofollow">Albi</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/the-key-to-understanding-english-tenses#comment-3687">Tuesday, January 29, 2013 - 17:50</a></span>
</div>
</div>
<div class="indented"><a id="comment-3713"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks, I'm really glad you like it! This is exactly the type of feedback I was hoping for. :-)</p>
<p>It's also clear from my analytics that it's working! By only sending English language related posts to those interested in them, a much greater percentage of people actually read them. It went from like 10% to 50%. ;-)</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/237/3713">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/the-key-to-understanding-english-tenses#comment-3713">Friday, February 1, 2013 - 16:30</a></span>
</div>
</div>
</div><a id="comment-3691"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3c5c43871cdde00d49f5213209d40b13?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Thank You for your help. I have already read your book its very helpful for me. Now I understand my slow progress. Sorry for my short answer but I'm not feel good in talking maybe why I have still problems in my English, Bea</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/237/3691">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Bea (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/the-key-to-understanding-english-tenses#comment-3691">Thursday, January 31, 2013 - 01:59</a></span>
</div>
</div>
<div class="indented"><a id="comment-3714"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Bea,</p>
<p>I'm glad it was helpful for you! Thanks for writing a comment - your written English is rather good! :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/237/3714">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/the-key-to-understanding-english-tenses#comment-3714">Friday, February 1, 2013 - 16:32</a></span>
</div>
</div>
</div><a id="comment-3693"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4f191686b3516a57fed5f375eff18279?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Thank for Your message. I have problem with past tenses, it is difficult for me and I always do much mistake. This not mean, I don`t have problems with other tenses, but past tenses especiali are mine bad side.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/237/3693">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Ada (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/the-key-to-understanding-english-tenses#comment-3693">Thursday, January 31, 2013 - 14:41</a></span>
</div>
</div>
<div class="indented"><a id="comment-3715"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks for sharing! I'll try and come up with an article about the past tenses. :-)</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/237/3715">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/the-key-to-understanding-english-tenses#comment-3715">Friday, February 1, 2013 - 16:33</a></span>
</div>
</div>
</div><a id="comment-3727"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3ca6d45db1806e16ae7b7e13ff1e1fa0?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Thank you for your explanation of English verb tenses.<br/>
I have been thinking every continues tenses give sentence activity.<br/>
So I really agree with you.<br/>
And I appreciate you changing your plain about blog posting.<br/>
It is very helpful for me especially when I read about learning English.<br/>
Thank you again your fine work..</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/237/3727">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Han (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/the-key-to-understanding-english-tenses#comment-3727">Sunday, February 3, 2013 - 22:11</a></span>
</div>
</div>
<div class="indented"><a id="comment-3755"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Han!</p>
<p>I'm really glad you liked it. :-) This post was pretty popular - I can definitely say there will be more like it!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/237/3755">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/the-key-to-understanding-english-tenses#comment-3755">Tuesday, February 5, 2013 - 11:24</a></span>
</div>
</div>
</div><a id="comment-3920"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4743d59abcf34b4bf5b690fabe11ea46?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi David, I only partially agree with what you wrote. I mean, your reasoning is ok. and I tend to agree with it but I'd rather apply it to upper-intermediate, advanced learners. You can't say to a beginner- "forget about grammar rules, just feel the tense" ;-). Beginners who have no clue about the Present Perfect and who need to quickly understand some basics need at least a short explanation to understand the use of the tense (=timelines ;-). Secondly, reading, listening and other extra learning activities are great but these are more for passionate and very motivated people. Not every learner is like this. If it was the case, nobody would need English language teachers ;-).<br/>
So again, it's quite true what you wrote but bear in mind it might not be suitable for everyone.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/237/3920">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Maria (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/the-key-to-understanding-english-tenses#comment-3920">Tuesday, February 12, 2013 - 08:07</a></span>
</div>
</div>
<div class="indented"><a id="comment-3935"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Maria!</p>
<p>Thanks for sharing your opinions!</p>
<p>However, I think I may have explained badly in this article, because I didn't intend to say most of the things you are responding to. :-/  In fact, I think we actually agree on everything! I'll look over the article later and see if I can make it more clear... Suggestions are welcome!</p>
<p>In any case: I'm not telling learners to "feel the tenses" but rather "LEARN to feel the tenses". That's the ultimate GOAL (and I suggest a method to acheive it) - but obviously not where you start. :-)</p>
<p>I'm also not trying to say that you should NEVER look at grammar rules! But that you should use the grammar for what it's good for:</p>
<p><a href="http://www.linguatrek.com/blog/2011/08/what-is-grammar-good-for" title="http://www.linguatrek.com/blog/2011/08/what-is-grammar-good-for">http://www.linguatrek.com/blog/2011/08/what-is-grammar-good-for</a></p>
<p>In fact, in my ebook and several articles, I write that it's good to review the grammar rules from time to time (I even wrote it my article today about Polish!).</p>
<p>What I intend to say is only that the grammar rules shouldn't be the main focus (the content in the language itself should be) and that the learner shouldn't lose sight of what the grammar actually is about.</p>
<p>In the case of the tenses, many learners forget that they are about <em>expression</em>. When a grammar book says: present perfect describes things that started in the past and continue even in the present - many learners begin to believe that now they need to use present perfect for every case this could possibly apply to! The grammar isn't a commandment ;-) - but a description of what a language structure <em>expresses</em>.</p>
<p>In fact, this article doesn't make any sense unless you already know the grammar rules. :-)</p>
<p>To your second point:</p>
<blockquote><p>
Secondly, reading, listening and other extra learning activities are great but these are more for passionate and very motivated people. Not every learner is like this. If it was the case, nobody would need English language teachers. ;-)
</p></blockquote>
<p>I guess we see the problem a little differently. :-) When I encounter a learner who isn't motivated, I don't think, "How can I help him learn, even though he has no motivation." I think, "How can I help him get motivated!"</p>
<p>And there is definitely still a role for English teachers! I'm an English teacher. :-) We (my wife and I) give English lessons over voice chat. And, yes, we do discuss grammar from time to time!</p>
<p>My goal is to empower learners to do the majority of the learning on their own and come to the teacher as expert (to answer questions) and guide (to motivate and direct) - rather than "teach".</p>
<p>Anyway, I hope I cleared that up. :-) Take care!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/237/3935">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/the-key-to-understanding-english-tenses#comment-3935">Tuesday, February 12, 2013 - 10:15</a></span>
</div>
</div>
</div><a id="comment-3936"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4743d59abcf34b4bf5b690fabe11ea46?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi David, I agree with what you wrote in response to my comment. I just wanted to make the distinction between advanced learners methods and the other ones.<br/>
Regarding motivation- it's very, very true what you are saying and I actually dislike the "traditional" method of explaining grammar and doing exercises- it's boring for everyone! I also think that the teacher is here rather to guide and motivate and make the students as autonomous as possible. My teaching experience has probably nothing to do with yours (it's simply quite short) but I already came across students who, no matter what you do to motivate them, cannot get motivated at all. This is, for example, the case of children and teenagers who participate in private courses because their parents want them to. It would be interesting to know how you motivate your students.<br/>
I would love to hear more about the reasons why you chose to teach over voice chat, and, in general, about its advantages and disadvantages. Best regards, Maria</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/237/3936">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Maria (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/the-key-to-understanding-english-tenses#comment-3936">Tuesday, February 12, 2013 - 10:39</a></span>
</div>
</div>
<div class="indented"><a id="comment-3947"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Maria!</p>
<p>I'm glad that we are in agreement. I suspect that we always were! :-)</p>
<p>Yeah, the situation with kids or teenagers who are forced by their parents or the school to be in a language class is very difficult. At the end of the day, no one can do the learning for them - they have to decide to do it themselves.</p>
<p>This is one of the reasons I like teaching as I do now - everyone actually wants to learn. :-)</p>
<p>But even people who really do want to learn can have trouble finding a strong enough motivation! I have some advice and techniques I usually recommend... but maybe that should be the topic of my next article! ;-)</p>
<p>There's a lot of advantages to teaching over voice chat from both the teacher's and students' perspectives. Since we're talking about teaching, I'll give some from the teachers perspective:</p>
<ul>
<li>No need to commute to the lessons</li>
<li>Ability to work with students from many different cities/countries</li>
<li>Easily share things with students (no drawing on the board or making copies - we can just send everything to them)</li>
</ul>
<p>Some of the disadvantages include:</p>
<ul>
<li>Occasional technical problems (this is probably the worst disadvantage!)</li>
<li>You lose the ability to use visual cues (hand motions, facial expressions) - but you get used to it!</li>
<li>In group lessons, you always work in a "whole group mode" - you can't very easily do "pair work" - so you have to structure your group lessons with that in mind</li>
</ul>
<p>It's actually not very dissimilar from classroom-based lessons of a certain type. I've reused lessons from a discussion class I taught in person with some group discussion lessons over voice chat. :-)</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/237/3947">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/the-key-to-understanding-english-tenses#comment-3947">Tuesday, February 12, 2013 - 15:05</a></span>
</div>
</div>
</div><a id="comment-3948"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4743d59abcf34b4bf5b690fabe11ea46?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I found your feedback very valuable, thank you! And I'm looking forward to an article on how to motivate students or simply, how to become motivated (and maintain this motivation!) to learn languages. I failed at it when I was self-studying Russian.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/237/3948">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Maria (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/the-key-to-understanding-english-tenses#comment-3948">Tuesday, February 12, 2013 - 15:26</a></span>
</div>
</div>
<a id="comment-4507"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/cfce4a5d28d4e102096c33db0fe3e11d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I'm so dumb :( It's very hard for me to understand tenses. I'm confused. I have 60 pages homework I want to learn but I don't know where to start. Sorry I'm not good in English. but I really want to learn. :(</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/237/4507">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Sarah Jane (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/the-key-to-understanding-english-tenses#comment-4507">Friday, May 10, 2013 - 05:32</a></span>
</div>
</div>
<a id="comment-4870"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9cd431096f97c57701747e51bbe7a2e1?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi! Good day!</p>
<p>I'm really frustrated to learn verb tenses correctly, I don't know why  I couldn't get it. I did a lot of studying, researching and watching to better understand it but still it doesn't enough....I have printed materials about verb tenses the rules and how it applies,but I really have a hard time understanding what is the best tense to use....</p>
<p>I got so many questions and I'm so confuse like for example will I use Present perfect or Simple Past / another one is<br/>
Simple past or Past Perfect tense/ Present perfect or past continuous/ though it seems easy but everytime I will apply it to words or if I try to compose or write stories I really get lost.I always have fear because somebody might laugh at my grammar, that's why I can't even express my thoughts and feelings.</p>
<p>Any help from you I will appreciate...thank you</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/237/4870">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Daenerys (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/the-key-to-understanding-english-tenses#comment-4870">Thursday, June 27, 2013 - 01:48</a></span>
</div>
</div>
<div class="indented"><a id="comment-4872"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Daenerys like in Game of Thrones? :-) I'm reading that book right now in Polish!</p>
<p>The main thing: no one will laugh at you because of your grammar. No one. So, this isn't something to worry about!</p>
<p>The tenses are difficult, but in most cases the change in meaning is very small. It is rare that using the "incorrect" tense would lead the person you are speaking with to think that you meant something entirely different than what you wanted to say.</p>
<p>My advice: focus on communicating and after spending enough time listening to English you will develop a feel for the tenses.</p>
<p>I hope that helps!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/237/4872">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/the-key-to-understanding-english-tenses#comment-4872">Thursday, June 27, 2013 - 06:57</a></span>
</div>
</div>
</div><a id="comment-5018"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://smittenbylanguage.wordpress.com/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/86054443020a1abecf71f13ebf3344e0?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hi, Dave.</p>
<p>This is a great website you are running. I got here through the <a href="http://www.blogparty.pl" title="www.blogparty.pl">www.blogparty.pl</a> which aggregates language blogs. I hope I'll come here often. Teaching and learning tenses is a difficult job. I'm also thinking of several ways how to change my and my students' mindset about them. One possible solution is limiting the number of tenses by the notion of grammatical aspect: Simple, Continuous, Perfect. Well, I must think it over carefully.</p>
<p>See you.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/237/5018">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://smittenbylanguage.wordpress.com/" rel="nofollow">Piotr</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/the-key-to-understanding-english-tenses#comment-5018">Saturday, July 27, 2013 - 14:33</a></span>
</div>
</div>
</div>
