---
permalink: /blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety/
layout: blog-old
title: 'Wielkie zmiany do blogu! (wyniki ankiety)'
day: 22
month: Jan
year: 2013
category: LinguaTrek
tags: [ ]
language: en
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2013/01/bigchanges.jpg" rel="lightbox"><img alt="Big changes are underway" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2013/01/bigchanges.jpg" title="Zdjęcie autorstwa milena mihaylova"/></a><div class="caption"><a href="http://www.flickr.com/photos/25758374@N00/4061225640">Zdjęcie</a> autorstwa <a href="http://www.flickr.com/photos/minchki/">milena mihaylova</a></div></div>
<p>Dziękuję wszystkim, którzy wypełnili ankietę dotyczącą tego, o czym chcą czytać na moim blogu w roku 2013!</p>
<p>Tydzień temu <a href="http://www.linguatrek.com/blog/2013/01/a-blog-in-crisis-what-should-i-write-about">czułem się trochę przygnębiony</a>, że mniej osób czyta i komentuje.</p>
<p>Ale otrzymałem dużo konstruktywnych krytyk - i pozytywnych i negatywnych. Czasem było trudno je czytać ale potrzebowałem właśnie takich szczerych opinii.</p>
<p><strong>W tym tygodniu jestem bardzo optymistycznie nastawiony i ciszę się, że mogę użyć tego, czego się dowiedziałem, aby uczynić mój blog bardziej przydatnym dla Was!</strong></p>
<p><em>Tak więc dziękuję jeszcze raz. :-)</em></p>
<p>Dzisiaj podzielę się z Wami wynikami ankiety i ogłoszę parę zmian oraz przyszłe plany.</p>
<p>Spędziłem dużo czasu nad analizą Waszych odpowiedzi i odkryłem kilka ciekawych i niespodziewanych rzeczy.</p>
<p><strong>Czytaj więcej, żeby się dowiedzieć!</strong></p>
<h2>4 odrębne grupy</h2>
<p>Jednym z najbardziej zaskakujących wniosków było odkrycie, że jest kilka grup czytelników z <em>całkowicie odmiennymi</em> potrzebami:</p>
<ol>
<li><strong>Uczący się angielskiego</strong> (58%) - Chcą porad specyficznych dla nauki j. angielskiego i informacji o kulturze amerykańskiej. Niespodziewanie duży procent również chce informacji o polskiej kulturze. To Polacy, którzy chcą usłyszeć o Polsce z perspektywy obcokrajowca. :-)</li>
<li><strong>Uczący się polskiego</strong> (13%) - Chcą porad specyficznych dla nauki j. polskiego i informacje o polskiej kulturze. NIE CHCĄ informacji o amerykańskiej kulturze.</li>
<li><strong>Uczący się innych języków</strong> (22%) - Chcą ogólnych porad do nauki dowolnego języka - nie interesują ich język polski/angielski i informacje kulturalne.</li>
<li><strong>Entuzjaści kulturalni</strong> (7%) - Chcą TYLKO artykułów o kulturze amerykańskiej lub polskiej i mają dość tych wszystkich materiałów o nauce języków. ;-)</li>
</ol>
<p>Zawsze wiedziałem, że istnieją te pierwsze trzy grupy, ale trzecia grupa jest o wiele większa niż się spodziewałem, a czwarta grupa była dla mnie kompletną niespodzianką!</p>
<h2>74% chce więcej filmików!</h2>
<p>Nagrywanie filmików zajmuje o wiele więcej czasu i wysiłku niż pisanie artykułów. Ostatnio byłem tak zajęty, że musiałem zrobić sobie przerwę w nagrywaniu.</p>
<p><strong>Jednak to jasne, że większość chce ich więcej!</strong></p>
<p>Co bardziej mnie zaskoczyło, to ilość osób, które chcą filmików <em>po angielsku.</em> Z tych, którzy chcą więcej filmików, <strong>80% chcą ich po angielsku.</strong></p>
<p>W przeszłości moje filmiki na YouTubie po angielsku miały strasznie mało wyświetleń (setki), natomiast filmiki po polsku zwykle mają tysiące albo dziesiątki tysięcy wyświetleń. To dlatego, że nagrywam ich tak mało.</p>
<p>W 2013 r. będę nagrywał więcej filmików i nawet spróbuję po angielsku - zobaczymy jaki będzie skutek!</p>
<h2>Wszystkie nowe artykuły zarówno po angielsku, i jak po polsku</h2>
<p>Wielu ludzi poprosiło o mniej artykułów po polsku i więcej po angielsku. Albo odwrotnie.</p>
<p><strong>Jednak od jakiegoś czasu (chyba od kwietnia zeszłego roku) publikuję wszystkie artykuły zarówno po angielsku, i jak po polsku. I zamierzam tak robić dalej!</strong></p>
<p>Na górze strony możesz kliknąć na "English" lub "Polski", żeby zmienić język:</p>
<p style="text-align: center;"><img src="http://www.linguatrek.com/files/image/2013/01/selection_028.png" style="border: 3px dashed grey;"/></p>
<p>Wygląda na to, że wiele osób nie zauważyło tych linków, więc dodałem nowy link u dołu każdego artykułu do jego tłumaczenia:</p>
<p style="text-align: center;"><img src="http://www.linguatrek.com/files/image/2013/01/selection_029_1.png" style="border: 3px dashed grey;"/></p>
<p>I jeśli jesteś subskrybentem, możesz wybrać wersję, którą dostajesz przez mail. <a href="http://www.linguatrek.com/options">Kliknij tutaj</a>, żeby zmienić opcje subskrybenta.</p>
<h2>Będziesz dostawał mniej maili... ale więcej tego, co chcesz!</h2>
<p>Okazuje się, że mało osób naprawdę chce czytać <em>wszystko</em>, co piszę. Większość jest w jednej z tych czterech grup opisanych powyżej i chcą czytać tylko pewne rodzaje artykułów.</p>
<p><strong>Z tego powodu dodałem <a href="http://www.linguatrek.com/options">nowe opcje dla subskrybentów</a>, które pozwolą Ci wybrać DOKŁADNIE to, co będzie przesłane do Twojej skrzynki odbiorczej.</strong></p>
<p><em>(Jeśli zasubskrybowałeś od 17.I, już to wybrałeś.)</em></p>
<p>Na przykład, jeśli wybierzesz temat <em>Nauka języka obcego</em> i język <em>Angielski</em> przesyłam Ci artykuły przez mail z wyjaśnieniami konkretnych aspektów angielskiego (tzn. słownictwo, idiomy, gramatyka). Jeśli tego nie wybierzesz, tych maili nie dostaniesz!</p>
<p>To oznacza mniej irytujących maili i więcej tego, co naprawdę chcesz czytać!</p>
<p><strong>W następnym tygodniu zacznę przesyłać maile na podstawie tych opcji, więc proszę <a href="http://www.linguatrek.com/options">zaatkualizuj swoje opcje</a> teraz!</strong></p>
<p>To jest największa zmiana i ta, którą jestem najbardziej podekscytowany. To mi powoli na pisanie więcej specyficznych artykułów i nie będę musiał martwić się, że alienuję niektórych czytelników.</p>
<h2>Jeszcze raz dziękuję!</h2>
<p>To dużo dla mnie znaczy, że spędziliście czas na wypełnienie ankiety.</p>
<p>Rok 2013 będzie naprawdę świetny!</p>
<p><strong>Co myślisz o wynikach? O zmianach? Proszę napisz komentarz poniżej!</strong></p>
</div>

<div id="comments">
<a id="comment-3553"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/596bbe0b42829c829b4b4c5879dc183c?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Ten Rok zapowiada się bardzo ciekawie :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3553">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Mariusz z Gdyni (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3553">Tuesday, January 22, 2013 - 10:55</a></span>
</div>
</div>
<div class="indented"><a id="comment-3555"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Bardzo się cieszę, że tak sądzisz. :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3555">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3555">Tuesday, January 22, 2013 - 11:00</a></span>
</div>
</div>
</div><a id="comment-3556"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/5baef8225cdacbb1442cf55cb8820587?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć</p>
<p>Miałbym taką sugestię, żeby do filmików po języku angielskim dodawać napisy, również w języku angielskim. </p>
<p>W końcu osoba, jeżeli jest już bardzo zaawansowana w języku angielskim nie będzie musiała zwracać na to uwagi. Więc myślę, że problemu nie byłoby. Chociaż to naddałoby trochę pracy. </p>
<p>Pozdrawiam :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3556">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Szymon (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3556">Tuesday, January 22, 2013 - 11:05</a></span>
</div>
</div>
<div class="indented"><a id="comment-3558"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Szymon!</p>
<p>To dobry pomysł i faktycznie to zrobiłem parę razy dla niektórych filmików. :-)</p>
<p>Ale pisanie napisów (i dodanie ich do odpowiednich miejsc w filmiku) to STRASZNIE dużo pracy!</p>
<p>Czy ktoś z Was miałby ochotę mi pomóc z tym?</p>
<p>Praca mogłaby podzielona między kilkoma ludzi - i ten sposób, to zrobiłbym o wiele częściej. ;-)</p>
<p>Co myślicie o tym?</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3558">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3558">Tuesday, January 22, 2013 - 11:12</a></span>
</div>
</div>
<div class="indented"><a id="comment-3560"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Zgadzam się. Dopasowanie napisów tak by zgadzały się z czasem to bardzo dużo pracy nawet przy kilkuminutowych filmikach. Osobiście bym odradzał tego, bo szkoda na to czasu. Już lepszym rozwiązaniem jest to, co czasem robi Steve Kaufmann - czasem nagrywa filmiki w kilku wersjach językowych. Podejrzewam, że nagranie obu wersji zajęłoby znaczniej mniej czasu niż utworzenie napisów.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3560">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3560">Tuesday, January 22, 2013 - 11:33</a></span>
</div>
</div>
<div class="indented"><a id="comment-3563"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Wojtek!</p>
<p>Zgadzam się! Żeby nagrać 6 minutowy filmik, tylko trzeba ... 6 minut. ;-) Dodanie napisów do tego samego filmiku może trwać np. 3 godziny.</p>
<p>Ale trudno byłoby w sensie, że na pewno powiedziałbym trochę odmienne rzeczy w dwóch wersjach. Mój pamięć nie jest tak dobry. ;-) No, i to tylko działałoby dla filmików, w którym mówię na zaplanowany temat do kamery. Czasem nagrywam na miejscu lub rozmawiam z innymi, itd...</p>
<p>Będę myślał o tym więcej! Może pojawią się chętni, którzy chcą mi pomóc z tymi napisami. ;-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3563">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3563">Tuesday, January 22, 2013 - 12:48</a></span>
</div>
</div>
<div class="indented"><a id="comment-3600"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f65882a7054a90cebb9428d70f410124?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>"Mój pamięć nie jest tak dobry. ;-)" Moja ...... dobra</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3600">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">pico (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3600">Wednesday, January 23, 2013 - 16:17</a></span>
</div>
</div>
<div class="indented"><a id="comment-3619"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Aha, dzięki za poprawkę. :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3619">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3619">Thursday, January 24, 2013 - 12:21</a></span>
</div>
</div>
</div></div><a id="comment-3588"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/7e4f2456027d01813cb0053addb66768?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>wg mnie warto jednak dawać napisy, praca jest i owszem, ale liczy się efekt dla userów.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3588">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3588">Wednesday, January 23, 2013 - 03:32</a></span>
</div>
</div>
</div></div></div><a id="comment-3557"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/32b9399537788710109aa0e21bbea0ed?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Super zmiany, filmiki po angielsku się bardzo przydadzą ;) Tylko jeśli to możliwe staraj się pomału mówić, wtedy początkujący będą mieli troszkę łatwiej.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3557">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3557">Tuesday, January 22, 2013 - 11:11</a></span>
</div>
</div>
<div class="indented"><a id="comment-3559"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki. :-) No, mógłbym nagrać dwa rodzaje filmików: te, w którym mówię naturalnie, i te, w którym mówię trochę wolniej? Podobnie robimy z tekstami na Bibliobirdzie!</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3559">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3559">Tuesday, January 22, 2013 - 11:14</a></span>
</div>
</div>
</div><a id="comment-3569"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/bbeaf6884c64bdd31b684d1360d9f9d6?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Super! Dużo zmian! Zmiany są dobre, a po wynikach będzie już widać czy były to dobre decyzje:) Ja nie mogę się doczekać artykułów na temat nauki innych języków:) Powodzenia! Pozdrawiam:)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3569">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3569">Tuesday, January 22, 2013 - 14:25</a></span>
</div>
</div>
<div class="indented"><a id="comment-3574"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Bardzo się cieszę, że zmiany Ci się podobają! :-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3574">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3574">Tuesday, January 22, 2013 - 15:13</a></span>
</div>
</div>
</div><a id="comment-3571"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/7f3665a38cb757e1e0db23b50280fcb1?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hello David You should write more about your english lessons, which are not free. </p>
<p>Kind regards</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3571">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Radek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3571">Tuesday, January 22, 2013 - 14:38</a></span>
</div>
</div>
<div class="indented"><a id="comment-3573"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Radek,</p>
<p>Heh, you know lots of people asked that I stop writting about my paid English lessons. ;-) Although, I definitely think I've written about them plenty lately. I need to find a balance!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3573">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3573">Tuesday, January 22, 2013 - 15:11</a></span>
</div>
</div>
</div><a id="comment-3575"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/95bb692545f673e335828d128f0c1cb2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>To jest moja ulubiona strona jezykowa;) dla mnie kazdy artykul jest przemyslany i ciekawy.<br/>
Dobra robota Panie Davidzie!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3575">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Sylwia (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3575">Tuesday, January 22, 2013 - 15:26</a></span>
</div>
</div>
<div class="indented"><a id="comment-3576"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Sylwia!</p>
<p>Dziękuję bardzo za miłe słowa. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3576">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3576">Tuesday, January 22, 2013 - 15:34</a></span>
</div>
</div>
</div><a id="comment-3578"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/2d191c16f7e77ba412c63e32c44b8b0c?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witam,<br/>
Jestem początkującym i największą trudność sprawia mi wyłapywanie słówek ze słuchu. Rozumiem, że zgrywanie tekstu z filmem jest czasochłonne, ale zależy mi aby do każdego filmiku po angielsku była szczegółowa transkrypcja pod filmikiem.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3578">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Tomek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3578">Tuesday, January 22, 2013 - 16:16</a></span>
</div>
</div>
<div class="indented"><a id="comment-3580"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Tomek!</p>
<p>Rozumiem to doskonale. :-)</p>
<p>Na pewno będzie przynajmniej transkrypcja! Wszystkie moje filmiki mają transkrypcje tutaj na moim blogu (zawsze podaję linka do tego w opisie na YouTubie, jeśli tam je oglądasz).</p>
<p>Na przykład oto filmik o strzeleniu broni (ten nawet ma integracja z Bibliobirdem!):</p>
<p><a href="http://www.linguatrek.com/blog/2011/10/vlog-learning-how-to-shoot-bro%C5%84-w-usa-cz-2" title="http://www.linguatrek.com/blog/2011/10/vlog-learning-how-to-shoot-bro%C5%84-w-usa-cz-2">http://www.linguatrek.com/blog/2011/10/vlog-learning-how-to-shoot-bro%C5...</a></p>
<p>Zapraszam do oglądania!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3580">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3580">Tuesday, January 22, 2013 - 16:31</a></span>
</div>
</div>
<a id="comment-3593"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="https://tomasz.jadowski.net" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3cdbaa2914c95444fc7968fe42ddfa2b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Jeżeli największą trudność sprawia Ci wyłapywanie ze słuchu, to jedyna rada to słuchać jak najwięcej audio z transkrypcją (wielokrotnie).</p>
<p>Są dwa godne polecenia serwisy do tego (oprócz strony Davida :-)) - <a href="http://eslpod.com" title="http://eslpod.com">http://eslpod.com</a> (transkrypcje płatne 10$/mies.) i sekcja Learning English na <a href="http://voanews.com" title="http://voanews.com">http://voanews.com</a></p>
<p>Jak będziesz bardziej zaawansowany to spróbuj poszperać na stronie <a href="http://NPR.org" title="http://NPR.org">http://NPR.org</a> Tam widziałem też transkrypcje do niektórych podcastów.</p>
<p>A, zapomniałbym jeszcze o <a href="http://spotlightradio.net/" title="http://spotlightradio.net/">http://spotlightradio.net/</a></p>
<p>Rada, najlepiej słuchać jednego podcastu aż do znudzenia, tj. jak nie będziemy wyłapywać nowych zwrotów, nieznanych słów. Takie wielokrotne przesłuchanie powoduje budowanie naszej "pamięci słuchowej".</p>
<p>Ja właśnie przez słuchanie na znane mi tematy (nauka języków lub podcasty z transkrypcją z eslpod.com) zauważyłem ostatnio, że nie mam problemu ze zrozumieniem ze słuchu wykładów Richarda Stallmana, mimo że używa nieznanych mi słów (te wyłapuję z kontekstu).</p>
<p>Pozdrawiam i słuchaj jak najwięcej<br/>
Tomek</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3593">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="https://tomasz.jadowski.net" rel="nofollow">Tomek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3593">Wednesday, January 23, 2013 - 07:22</a></span>
</div>
</div>
<div class="indented"><a id="comment-3613"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hej cześć Tomek!</p>
<p>Od dawna nie słyszałem od Ciebie. :-) Co słychać? Mam nadzieję, że wszystko u Ciebie jest w porządku.</p>
<p>Dzięki za linki i porady. Zgadzam się z wszystkim, co tutaj napisałeś! Ale na pewno to już wiesz. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3613">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3613">Thursday, January 24, 2013 - 11:48</a></span>
</div>
</div>
<div class="indented"><a id="comment-3620"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="https://tomasz.jadowski.net" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3cdbaa2914c95444fc7968fe42ddfa2b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Cześć David :-)</p>
<p>Dzięki za pamięć, żyję i mam się dobrze :-) A szczegóły wysłałem mailem :-)</p>
<p>Pozdrawiam serdecznie<br/>
Tom</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3620">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="https://tomasz.jadowski.net" rel="nofollow">Tomek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3620">Thursday, January 24, 2013 - 12:32</a></span>
</div>
</div>
</div></div></div><a id="comment-3583"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e578cda891bbc5d0c0951929312f5d15?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Davidzie,</p>
<p>Zmiany idą w bardzo dobrym kierunku, zwłaszcza opcja z wyborem subskrypcji materiałow najbardziej interesujących czytelnika . Mnie interesują wszystkie aspekty :) Chciałabym więcej filmików po angielsku, mówionych z Twoją naturalną szybkością, ponieważ najbardziej zależy mi na nauce żywego języka mówionego. I przepadam za Tobą i Twoją żoną :) </p>
<p>Pozdrawiam serdecznie z mroźnej i zaypanej śniegiem Warszawy,<br/>
Ola</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3583">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Olala (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3583">Tuesday, January 22, 2013 - 17:24</a></span>
</div>
</div>
<div class="indented"><a id="comment-3584"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Ola!</p>
<p>Dzięki. :-) Bardzo się cieszę, że podobają Ci się zmiany.</p>
<p>Zazdroszczę Ci śniegu! U nas jest bardzo zimno ale nie ma śniegu. :-/</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3584">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3584">Tuesday, January 22, 2013 - 17:37</a></span>
</div>
</div>
</div><a id="comment-3590"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c122569b3d4a2059f5cd549a67119a91?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Myślę,że po zmianach Twoja strona będzie jeszcze ciekawsza.Ja jako osoba niezbyt jeszcze zaawansowana podobnie jak Tomek oczekuję najbardziej filmików pozwalających się osłuchać z językiem mówionym.Gdyby jeszcze można było prosić o wypisanie trudniejszych zwrotów wraz z polskim tłumaczeniem.Byłoby fajnie.<br/>
Dziękuję za dotychczasowe materiały.Od niedawna odwiedzam Twoją stronę i z pewnością zostanę tu na dłużej.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3590">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Marta (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3590">Wednesday, January 23, 2013 - 03:58</a></span>
</div>
</div>
<div class="indented"><a id="comment-3612"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Marta!</p>
<p>Bardzo się cieszę, że podobają Ci się zmiany. :-) Już wymyślam tematy na przeszłe filmy po angielsku!</p>
<p>Dzięki za pomysł z wypisaniem trudniejszych zwrotów i tłumaczeniem. Będę o tym myślał!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3612">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3612">Thursday, January 24, 2013 - 11:45</a></span>
</div>
</div>
</div><a id="comment-3596"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/161651b0fa1ba6e5f81d765c8b43d3c3?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>ŚWIETNE POMYSLY Z TYMI FILMIKAMI,MYŚLĘ ZE GDYBY BYLY NAPISY NIE W FORMIE TXT ALE JAKO ZWYKLY ARTYKUŁ OSOBNO KAŻDY MÓGŁBY I TAK ŚLEDZIĆ CO DAWID MÓWI..</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3596">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Mariusz (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3596">Wednesday, January 23, 2013 - 08:47</a></span>
</div>
</div>
<div class="indented"><a id="comment-3614"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Mariusz!</p>
<p>Dzięki za komentarz i podzielenie się Twoją opinią. :-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3614">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3614">Thursday, January 24, 2013 - 11:50</a></span>
</div>
</div>
</div><a id="comment-3597"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/5f168f2914b83444dea75ea5e982429e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witam serdecznie, dopiero co zasubskrybowałam Twojego bloga, jak również Twój kanał na YouTube, ale korzystałam z nich obu już sporo wcześniej. :)<br/>
Uważam, że ta ankieta (jak rozumiem, to nowość) przy subskrybowaniu a propos tego, co chcemy czytać, to b.dobry pomysł! Ja, choć uczę się też angielskiego, wybrałam opcję "po polsku", jeśli chodzi o linki do artykułów - to dlatego, że sprawia mi przyjemność obserwować, jak pięknie obcokrajowiec może pisać w moim języku ojczystym. Chciałabym być tak dobra w angielskim, jak Ty jesteś w polskim! Niestety teraz nie mam czasu na naukę akurat tego języka...</p>
<p>Piszesz, że czytelnicy chcą więcej filmików i że w związku z tym będziesz ich więcej kręcił w tym roku. Jednak dodałeś też, że produkcja filmików jest dużo bardziej pracochłonna niż pisanie artykułów i teraz trochę mi głupio, że będziesz dla nas nadkładał pracy. Wielkie dzięki za tyle dobrej woli! </p>
<p>Pozdrawiam i życzę dużo optymizmu na cały 2013 rok. :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3597">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Monika (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3597">Wednesday, January 23, 2013 - 12:33</a></span>
</div>
</div>
<div class="indented"><a id="comment-3616"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Monika!</p>
<p>Dzięki za miłe słowa. :-)</p>
<p>No, tak, produkcja filmików jest bardziej pracochłonna i wymaga więcej wysiłku i planowania. Na przykład, mogę napisać artykuł kiedy i gdzie chcę! Ale tylko mogę nagrać filmiki kiedy jest dobre światło (w środku dnia) i muszę ustawić dodatkowe lampy i zreorganizować pokój. ;-)</p>
<p>Na pewno będzie oznaczało, że będę pisał mniej artykułów. ALE z tymi zmianami, wszyscy nie będą dostawali maili dla wszystkich artykułów. Więc to mniej ważne, że piszę coś tygodniowo.</p>
<p>Najbardziej chcę, żeby ludzie byli naprawdę podekscytowani kiedy dostają coś nowego ode mnie! Nie chcę wysyłać w miesiącu 3 irytujących rzeczy i jedną dobrą rzecz. Wolałbym, żeby była tylko ta dobra. ;-)</p>
<p>ALE również nie chcę, żeby a nowsza sytuacja była nudna! To dlatego, że zacząłem wysyłać moje ulubione artykuły/filmy do nowych subskrybentów automatycznie przez pierwszy miesiąc subskrypcji. (Nie wiem czy jesteś w tej grupie, to zależy od kiedy zasubskrybowałaś.)</p>
<p>Mam nadzieję, że to wszystko razem będzie sprawiało, że wszyscy są bardziej zadowoleni. ;-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3616">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3616">Thursday, January 24, 2013 - 12:12</a></span>
</div>
</div>
</div><a id="comment-3598"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/51f42057f1697d3f992ff3ac888acb11?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Naprawdę pozytywne zmiany. Odnośnie napisów do filmików to wydaję mi się, że to za dużo pracy. Mam dwa pomysły jak z tego można wybrnąć.<br/>
Na końcu filmików można wkleić kilka najtrudniejszych słówek z tłumaczeniem,<br/>
na przykład: Pies - dog, speed - szybkość, prędkość<br/>
albo<br/>
Na końcu trudniejsze słówka z wyjaśnieniem "słownikowym" w języku wktórym jest dane słówko.<br/>
Example: overtime - extra time that you work after your usual working hours.</p>
<p>p.s. Życzę wiele ciekawych pomysłów i dalszego zapału w tym co robisz w 2013 roku.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3598">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Maciej (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3598">Wednesday, January 23, 2013 - 13:33</a></span>
</div>
</div>
<div class="indented"><a id="comment-3617"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Maciej!</p>
<p>Dzięki za życzenia i pomysły. :-)</p>
<p>Będę o tym myślał - spróbuję jedną z  opcji, o którym wspominaliśmy tutaj w komentarzach, z następnym filmikiem. Może najpierw to będzie grupowe dodawanie napisów bo wygląda na to, że wielu osób chce napisy. Jednak jeśli nie uda nam się, spróbuję jeszcze coś z kolejnym filmikiem.</p>
<p>(Ale na pewno będzie transkrypcja, jak zawsze jest!)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3617">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3617">Thursday, January 24, 2013 - 12:19</a></span>
</div>
</div>
</div><a id="comment-3601"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f65882a7054a90cebb9428d70f410124?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Lublin caly w sniegu - chodniku tez. Skandal.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3601">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">pico (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3601">Wednesday, January 23, 2013 - 16:41</a></span>
</div>
</div>
<div class="indented"><a id="comment-3618"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Jestem zazdrosny! :-) Wczoraj u nas spadało trochę śniegu ale niewiele. :-/</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3618">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3618">Thursday, January 24, 2013 - 12:21</a></span>
</div>
</div>
</div><a id="comment-3606"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/47fab4b41d091115a25626cb804e54cd?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witaj,<br/>
nie wiem jak dodaje się napisy do filmików, ale jeśli podałbyś mi instrukcje (a wszystko tłumaczysz doskonale:)) to mogłabym Wam trochę pomóc. Oczywiście nie mam zbyt dużo czasu, ale jeśli byłoby to z większym wyprzedzeniem to myślę, że w ramach ćwiczenia mojego "niedosłuchu anglojęzycznego" zrobiłabym też coś dla wszystkich. Pozdrawiam :)<br/>
Juka</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3606">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">juka (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3606">Thursday, January 24, 2013 - 09:05</a></span>
</div>
</div>
<div class="indented"><a id="comment-3615"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Juka!</p>
<p>Dziękuję bardzo za ofertę pomocy. :-)</p>
<p>Jest aplikacja webowa, której czasem używam, żeby dodać napisy do filmików:</p>
<p><a href="http://universalsubtitles.org/" title="http://universalsubtitles.org/">http://universalsubtitles.org/</a></p>
<p>Według autorów tej aplikacji, grupa osób może pracować nad dodawaniem napisów razem. Osobiście tylko użyłem jej sam. Ale następnym razem moglibyśmy to spróbować!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3615">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3615">Thursday, January 24, 2013 - 11:58</a></span>
</div>
</div>
</div><a id="comment-3621"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f48f84874e0dc09b2c89f90e6337fdb5?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć David,</p>
<p>zasubskrybowałam Twojego bloga, bo jest bardzo ciekawy :-) jednak nie jestem w stanie pobrać e-booka pdf ani w formacie audio. Po pobraniu kiedy próbuję go otworzyć dostaję komunikat, że plik jest uszkodzony. Czy jesteś w stanie sprawdzić co się dzieje? </p>
<p>Pozdrawiam!<br/>
P.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3621">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Patimag (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3621">Thursday, January 24, 2013 - 13:34</a></span>
</div>
</div>
<div class="indented"><a id="comment-3622"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć!</p>
<p>Hmm. Właśnie pobrałem PDF i dla mnie działa. :-/ Czy to na komputerze czy na smartphonie? Jakiej przeglądarki używasz?</p>
<p>Jeśli nie możemy znaleźć problem, po prostu wyślę Ci przez mail w załączniku.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3622">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3622">Thursday, January 24, 2013 - 14:16</a></span>
</div>
</div>
<div class="indented"><a id="comment-3623"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f48f84874e0dc09b2c89f90e6337fdb5?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Na komputerze, używam Mozilli&gt; Próbowałam 2x ściągnąć i żadna ze ściągniętych wersji nie działała :-( Jeżeli możesz mi je podesłać, to będę wdzięczna.</p>
<p>Pozdrawiam z Krakowa!<br/>
P.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3623">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Patimag (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3623">Thursday, January 24, 2013 - 14:36</a></span>
</div>
</div>
<div class="indented"><a id="comment-3624"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Przesłano! To bardzo dziwne, że nie działa. :-/ Mam nadzieję, że to jest problem specyficzny do Twojego komputera - gdyby wszyscy nie byli w stanie tego pobrać...</p>
<p>W każdym razie życzę miłej lektury!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3624">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3624">Thursday, January 24, 2013 - 15:23</a></span>
</div>
</div>
<div class="indented"><a id="comment-3626"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f48f84874e0dc09b2c89f90e6337fdb5?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Dzięki wielki, e-book dotarł! Spróbuję jeszcze ściągnąć wersję audio i będzie wszystko :-)</p>
<p>Biorę się do czytania.</p>
<p>Miłego dnia!</p>
<p>P.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3626">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Patimag (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3626">Friday, January 25, 2013 - 03:03</a></span>
</div>
</div>
</div></div></div></div><a id="comment-3625"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/890c07e6469a48ac09111b96b175d7d3?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć Dawid!</p>
<p>Odwalasz tutaj dużo dobrej roboty! Przeczytałem Twojego ebooka i zastosowałem się do rad w nim zawartych. Niestety wybrałem chyba zbyt ciężką lekturę (Game of Thrones, A Song of Ice and Fire) i dość szybko się zrazilem. Czy uważasz ze dobrym pomysłem jest czytanie książek specjalistycznych? Na pewno są trudniejsze od opowiadan, ale te nie bardzo mnie interesują;/ A może warto by było stworzyć jakiś dział w którym ludzie dzieliliby się informacjami o książkach dobrych do nauki? Swoją drogą podziwiam za przeczytanie Harry Pottera, ja bym chyba nie wytrzymał pierwszej strony:)</p>
<p>Pozdrawiam i gratuluje pomysłowości:)<br/>
Paweł</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3625">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Pawel (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3625">Thursday, January 24, 2013 - 15:54</a></span>
</div>
</div>
<div class="indented"><a id="comment-3647"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Paweł!</p>
<p>Dzięki za miłe słowa. :-) To szkoda z "Game of Thrones" ale tak się zdarza! Nigdy nie wiesz czy dany materiał jest za trudny bez spróbowania:</p>
<p><a href="http://www.linguatrek.com/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna" title="http://www.linguatrek.com/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna">http://www.linguatrek.com/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka...</a></p>
<p>Książki specjalistyczne niekoniecznie są trudniejsze od opowiadań. Takie książki zwykle są ograniczone do swojego specjalistycznego słownictwa i podstawowego słownictwa. Nie ma takich bogatych opisów jak w opowiadaniach. Po nauczeniu się specjalistycznego słownictwa, są nawet łatwe. ;-)</p>
<p>Ale największa wada jest tym, że często nie ma audiobooka. I słuchanie jest strasznie ważne!</p>
<p><a href="http://www.linguatrek.com/blog/2012/01/the-importance-of-listening" title="http://www.linguatrek.com/blog/2012/01/the-importance-of-listening">http://www.linguatrek.com/blog/2012/01/the-importance-of-listening</a></p>
<p>Na Bibliobirdzie rozmawialiśmy o wyborze książki na forum kilka razy:</p>
<ul>
<li><a href="https://pl.bibliobird.com/node/5529" title="https://pl.bibliobird.com/node/5529">https://pl.bibliobird.com/node/5529</a></li>
<li><a href="https://pl.bibliobird.com/node/16110" title="https://pl.bibliobird.com/node/16110">https://pl.bibliobird.com/node/16110</a></li>
<li><a href="https://pl.bibliobird.com/node/5260" title="https://pl.bibliobird.com/node/5260">https://pl.bibliobird.com/node/5260</a></li>
</ul>
<p>Mam nadzieję, że to pomoże!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3647">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3647">Sunday, January 27, 2013 - 10:20</a></span>
</div>
</div>
</div><a id="comment-3631"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/1e91caf0d8daa44515badea6b377ab3d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Witaj :)</p>
<p>Wszyscy Cię wychwalają ale nie ja :)<br/>
Dla mnie cudu nie odkryłeś w nauce języków obcych :) Twój e - book mnie nie zaskoczył ;p<br/>
Sorry za taką opinie, nie jestem jak reszta Polskich rodaków co idą za każdym (jak bydło). Dla mnie nie odkryłeś nic rewelacyjnego :)<br/>
Nie wierzę w to że nauczyłeś się Polskiego tylko z czytania i słuchania, sorry ale dla mnie to zwykła bujda :)<br/>
Kolega Paweł napisał wyżej że "Odwalasz tutaj dużo dobrej roboty..." hehe ja uważam że się powtarzasz bo od wieków wiadomo o co chodzi w nauce języków obcych :) </p>
<p>Nie robisz nic wielkiego :) ja nauczyłem się angielskiego i francuskiego metodą tradycyjną na kursie i posługuje się językami biegle ;p trzeba chcieć i zasuwać z nauką a nie szukać cudownych metod :D </p>
<p>Pozdrawiam i życzę sukcesów ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3631">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Darek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3631">Friday, January 25, 2013 - 11:50</a></span>
</div>
</div>
<div class="indented"><a id="comment-3633"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3aa8d7b12e8f902718f6fb484b5da59f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Nie idziesz jak bydło, ale poszedłeś na tradycyjny kurs, na który uczęszcza wg Ciebie niewiele osób. Ciekawa koncepcja. :)</p>
<p>A ebooka też chyba zbyt uważnie nie przeczytałeś, bo tam nie ma mowy o cudownej metodzie tylko o ciężkiej pracy. :)</p>
<p>Później się dziwić, że Polacy mówią o sobie, że tylko narzekamy. ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3633">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Wojtek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3633">Friday, January 25, 2013 - 13:29</a></span>
</div>
</div>
<a id="comment-3642"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/890c07e6469a48ac09111b96b175d7d3?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Tak, napisałem ze odwala dużo dobrej roboty, bo po nauczeniu się języka polskiego mógł nie zrobić nic, żeby podzielić się wiedzą. Jak wiesz, w internecie jest mnóstwo informacji ze wskazówkami co do nauki języków. Gdyby każdy wychodził z Twojego założenia, informacji(nieodpłatnych) nie było by wcale. Mimo wszystko gratuluje opanowania dwóch języków i pozdrawiam</p>
<p>Paweł</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3642">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Pawel (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3642">Saturday, January 26, 2013 - 13:42</a></span>
</div>
</div>
<a id="comment-3643"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d0ec7dbdd1ead7fb16d8425d4b95d09d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>A czymże jest kurs językowy, jak nie czytaniem i słuchaniem treści narzuconych przez wykładowców i to jeszcze za ciężkie pieniądze? Stresujące, lub wręcz przeciwnie - nudne zajęcia, na których często jest się zmuszanym do do rozwiązywania bezużytecznych krzyżówek, rysowanek i innych wisielców. Nie lepiej pouczyć się języka w domu, za darmo lub pół-darmo, w swoim tempie, czytając interesujące materiały lub próbując zastosować w rozmowie chociażby na jakimś forum wyłapane w filmie zdania? Ja sobie nie wyobrażam, żeby zmuszano mnie do czytania tekstu na temat, który mnie w najmniejszym stopniu nie pasjonuje. To prawda, czynne posługiwanie się językiem jest bardzo ważne do tego, by go opanować, ale czy konieczne są do tego kursy językowe?<br/>
Jeśli to pomogło Ci utrzymać dyscyplinę, to proszę bardzo. Każda metoda jest dobra, jeśli jest skuteczna. Ale jak już wspomniał mój przedmówca - David nigdy nie mówił, że nauka języka jest lekka, łatwa i przyjemna. To setki, tysiące godzin spędzonych nad książkami, filmami w obcym języku czy chociażby rozmowami z obcokrajowcami na Skype.<br/>
"bo od wieków wiadomo o co chodzi w nauce języków obcych"- owszem, jest to motywacja i ciężka praca. Reszta to niuanse.<br/>
Jeszcze mam jedno pytanie: czy polskiego również nauczyłeś się na kursie językowym? :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3643">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kamil (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3643">Saturday, January 26, 2013 - 15:52</a></span>
</div>
</div>
<a id="comment-3648"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Darek!</p>
<p>Gratuluję Ci sukcesów w nauce angielskiego i francuskiego!</p>
<p>Naprawdę mało osób skutecznie uczy się języka na tradycyjnym kursie. Ale to rzeczywiście działa dla niektórych!</p>
<p>Nie sądzę, że jest tylko jedna efektywna metoda. Oczywiście są efektywniejsze i mniej efektywne. Ale najefektywniejsza metoda dla Ciebie zależy od Ciebie! To właśnie temat ebooka: Jak krok po kroku stworzyć własną metodę nauki.</p>
<p>Mój blog i ebook są dla większości z nas, którym nie udało się nauczyć się języka na tradycyjnym kursie. No, więc to nie dla Ciebie. :-)</p>
<p>W każdym razie życzę Ci powodzenia w Twoich przyszłych projektach językowych!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
<p>PS: Dzięki Wojtkowi, Pawłowi i Kamilowi za wsparcie! To wiele dla mnie znaczy. :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3648">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3648">Sunday, January 27, 2013 - 11:40</a></span>
</div>
</div>
</div><a id="comment-3634"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/1eeb5343da1913e07c558e91b243abdf?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Właśnie znalazłam tego bloga ;] i myślę ,że będzie bardzo pomocny w mojej żmudnej nauce języka angielskiego... Zabieram się do czytania ebooka ;D  </p>
<p>I gratuluje opanowania języka polskiego ;D</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3634">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Agata (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3634">Friday, January 25, 2013 - 15:29</a></span>
</div>
</div>
<div class="indented"><a id="comment-3649"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Agata!</p>
<p>Dzięki. :-)</p>
<p>Daj mi znać jak Ci pójdzie! Zwłaszcza jeśli spróbujesz coś w ebooku albo znajdziesz coś, które działa dla Ciebie ale tego nie ma w ebooku.</p>
<p>Życzę sukcesu w nauce!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/234/3649">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety#comment-3649">Sunday, January 27, 2013 - 11:44</a></span>
</div>
</div>
</div><div class="item-list"><ul class="pager"><li class="pager-current first">1</li>
<li class="pager-item"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety-page-1" title="Go to page 2">2</a></li>
<li class="pager-next"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety-page-1" title="Go to next page">next ›</a></li>
<li class="pager-last last"><a class="active" href="/blog/2013/01/wielkie-zmiany-do-blogu-wyniki-ankiety-page-1" title="Go to last page">last »</a></li>
</ul></div>
</div>
