---
permalink: /blog/2011/08/heinrich-schliemann-a-famous-polyglot’s-method/
layout: blog-old
title: 'Heinrich Schliemann: a famous polyglot’s method'
day: 2
month: Aug
year: 2011
category: language learning
tags: 
  - 'famous poliglot'
  - 'method'
language: en
translation: /blog/2011/08/heinrich-schliemann-a-famous-polyglot%E2%80%99s-method/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 112px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/08/heinrich_schliemann.jpg" rel="lightbox"><img alt="Portrait of Heinrich Schliemann" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/08/heinrich_schliemann.jpg" title=""/></a></div>
<p>As a language learner, it’s always interesting to hear about accomplished polyglots.  One such historical figure is a 19th-century German amateur archeologist and businessman by the name of <strong>Heinrich Schliemann</strong>.</p>
<p>Schliemann learned at least fourteen languages during his lifetime.  He claims that (after some time learning languages, of course) he could learn a new language in only six weeks!</p>
<p>So the question is: <strong>How could he possibly learn so many languages or learn any language so quickly?  And can we learn anything from his method?</strong></p>
<p>(<em>Special thanks to <a href="http://www.youtube.com/user/skorway">skorway</a> on YouTube - also the author of <a href="http://www.linguatrek.com/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87">this guest post</a> - who suggested this topic and did much of the research!</em>)</p>
<p><strong>Read more to learn about Schliemann’s language learning method and my thoughts on his techniques!</strong></p>
<h2>Language learners aren’t just lucky</h2>
<p>I’ve said many times that <a href="http://www.linguatrek.com/blog/2011/03/you-dont-need-talent-to-learn-a-language">anyone can learn a language</a> and how fast you learn a language depends on <a href="http://www.linguatrek.com/blog/2011/06/how-long-does-it-take-to-learn-a-foreign-language">how much time you devote to it</a>.</p>
<p>That said, yes, it appears there are also a few individuals out there who seem to pick up lots of languages, and with great speed.  So, should we write off polyglots like Heinrich Schliemann as simply lucky geniuses?</p>
<p><em>Well, no – not exactly.  ;-)</em></p>
<p>Just like anyone else, Schliemann had what I believe to be <a href="http://www.linguatrek.com/blog/2011/03/the-three-ingredients-for-successful-language-learning">the three ingredients to successful language learning<a>: <strong>time</strong>, <strong>motivation</strong> and an <strong>effective method.</strong></a></a></p>
<h2>Time + Motivation = Dedication</h2>
<p>Though it’s possible that Schliemann had above average intelligence, he most definitely had <strong>well above average dedication</strong>, as he discusses here:</p>
<blockquote><p>“I applied myself with extraordinary diligence to the study of English… My memory was bad, since from my childhood it had not been exercised upon any object; but I made use of every moment, and even stole time for study.  In order to acquire a good pronunciation quickly, I went twice every Sunday to the English church, and repeated to myself in a low voice every word of the clergyman's sermon.  I never went on my errands, even in the rain, without having my book in my hand and learning something by heart; and I never waited at the post-office without reading.”</p></blockquote>
<p>As you can see, Schliemann didn’t magically begin to speak English – and it appears he wasn’t even predisposed to language learning at all!  Instead, he dedicated any and all time he had available in order to learn English more quickly than most.</p>
<h2>Learning through memorization</h2>
<p>Like any devout language learner, Schliemann employed a particular method to successfully learn languages:</p>
<blockquote><p>“Necessity taught me a method which greatly facilitates the study of the language. This method consists in reading a great deal aloud, without making a translation, taking a lesson every day, constantly writing essays upon subjects of interest, correcting these under the supervision of a teacher, learning them by heart, and repeating in the next lesson what was corrected on the previous day.”</p></blockquote>
<p>So, Schliemann’s initial method consisted of reading aloud, working with a native speaker to better learn the language and a lot of rote memorization.  These techniques can be used even easier today and all <a href="http://www.linguatrek.com/blog/2011/07/you-dont-need-to-live-in-a-foreign-country-to-learn">without traveling to the country</a>!</p>
<p>You can get your writing corrected by native speakers <a href="http://www.linguatrek.com/blog/2011/06/use-lang-8-to-practice-writing">using Lang-8</a>.  Reading aloud and repeating after the clergyman at mass sounds a lot like <a href="http://www.linguatrek.com/blog/2011/06/experiment-in-shadowing">shadowing</a>. Memorization is much easier with <a href="http://www.linguatrek.com/blog/2011/01/what-is-spaced-repetition">spaced repetition</a> software like <a href="http://ankisrs.net/">Anki</a>. And, of course, you can find native speakers to talk with over Skype!</p>
<p>Schliemann also incorporated native literature into his language learning efforts, preferring to memorize pages and pages (and pages!) of books, allowing his memory to accumulate massive amounts of detail on grammar and vocabulary, that he could call to reference whenever necessary.</p>
<h2>Comparing methods</h2>
<p>While I enthusiastically suggest using audio and print books to learn language (I made my biggest progress with Polish by <a href="http://www.linguatrek.com/blog/2010/12/harry-potter-the-book-that-taught-me-polish">reading and listening to Harry Potter</a>!), my methods do vary from Schliemann’s in some ways.</p>
<p>Whereas Schliemann relied heavily on memory recall, I only memorize vocabulary using flashcards, when needed.  And, after all, I can’t recite Harry Potter word-for-word by any means.  But reading and listening to books in Polish definitely allowed me to develop a more <em>natural</em> understanding of the Polish language.  Overall, Schliemann's techniques sound very familiar!</p>
<p>Remember, there isn't only ONE right method; it’s about <a href="http://www.linguatrek.com/blog/2011/03/the-three-ingredients-for-successful-language-learning">finding the method that works for YOU</a>!</p>
<h2>See also</h2>
<ul>
<li><a href="http://www.language-learning-tips.com/17_Schliemanns_method.htm">Heinrich Schliemann's method of language learning</a></li>
<li><a href="http://en.wikipedia.org/wiki/Heinrich_Schliemann">Wikipedia page on Schliemann</a></li>
<li><a href="http://anglofan.felberg.pl/?dzial=10&amp;art=22">Portety poliglotów: Odkrywca Troi władał 14 językami</a> (Polish)</li>
</ul>
<p><strong>What do you think about Schliemann the polyglot and his methods?  Leave a comment below!</strong></p>
</div>

<div id="comments">
<a id="comment-681"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.wekanun.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4571efce8543c5933bdc2ec5ba0842de?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hi!!</p>
<p>Just a quick note to let you know of a new language learning tool.</p>
<p>It's a... game! Yes, Wekanun is a game that allows you to practise and improve 24 different languages.</p>
<p>Well, that's a change. Learning and having fun!!!</p>
<p>It also runs competitions every now and then. I've found it helps me a lot with vocabulary (English, Spanish, French and Polish)  and it has a competitive side to it that is different to any other language game I know of.</p>
<p>Here is the link: <a href="http://www.wekanun.com" title="http://www.wekanun.com">http://www.wekanun.com</a></p>
<p>and they are also in Facebook: <a href="http://apps.facebook.com/wekan" title="http://apps.facebook.com/wekan">http://apps.facebook.com/wekan</a>...</p>
<p>I hope you enjoy it and find it useful.</p>
<p>Regards,</p>
<p>Lex</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/85/681">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.wekanun.com" rel="nofollow">Lexo Armesro</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/08/heinrich-schliemann-a-famous-polyglot%E2%80%99s-method#comment-681">Thursday, August 4, 2011 - 07:05</a></span>
</div>
</div>
<div class="indented"><a id="comment-683"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks for letting me know about this application, I always like to hear about new language learning tools!</p>
<p>However, this comment reads like you work for Wekanun and you're just trying to get free advertising on my blog.  Now, I might be wrong and maybe you aren't working for Wekanun and are just really enthusiatic about it. :-)</p>
<p>Since it does support Polish, I may eventually write a review about it.  But this comment does make me feel a little wary of the application. :-/</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/85/683">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/08/heinrich-schliemann-a-famous-polyglot%E2%80%99s-method#comment-683">Thursday, August 4, 2011 - 16:38</a></span>
</div>
</div>
<a id="comment-5845"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/b684730a0a12bce1a19451f6921546ae?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>1) you obviously work for this company or own it, or designed it or some such.<br/>
2) A word of warning to anyone intent on learning a language, if you want to learn a language and you do not find it 'fun' in and of itself then games like this that purport to make language learning fun are pointless and will not really teach you anything. Learning anything, be it science, literature or languages is either enjoyable to you or it isn't, and if you lack the dedication to break past the tedious stages of language learning until you become proficient enough to enjoy the benefits of speaking said language then don't bother.<br/>
There is no way to make learning a language fun if the learning of a language is not enjoyable to you except by diluting the learning process to such a point that it removes the difficulties inherent within learning. Memorisation, grammar etc are unavoidable and if you are not willing to engage in this aspect then don't bother at all, it is akin to learning a musical instrument by playing simon, and never taking any time to learn chords or scales, an exercise in futility, if you want to play a game I suggest you play a proper one that will actually be fun.<br/>
This is totally speaking from experience, I am proficient in 4 languages (not including english) and capable of basic conversation in a further 3, and never have a found language learning games to be of the slightest use.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/85/5845">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/08/heinrich-schliemann-a-famous-polyglot%E2%80%99s-method#comment-5845">Saturday, January 18, 2014 - 10:35</a></span>
</div>
</div>
</div><a id="comment-685"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8d1a562208cf811822d6a386d69628f0?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi Davidzie:)</p>
<p>I'd like to tell you that your vlog and videos are really great.I am really into it.I was really happy when ive encountered your videos.I think that your passion is amazing.And Id like to ask your something- I've picked up recently your way to learn language.I've downloaded the ebook and audio book 'Anne of Green Gables' but i dont know if this book is good idea because of hard words(E.g gauntlet,ponder...Im not sure if those words are useful in everyday english)please tell me if this book is good for me..And could you correct me if i wrote something incorrect please.<br/>
Regards,<br/>
Estera</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/85/685">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Estera (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/08/heinrich-schliemann-a-famous-polyglot%E2%80%99s-method#comment-685">Saturday, August 6, 2011 - 06:54</a></span>
</div>
</div>
<div class="indented"><a id="comment-686"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>I've never read Anne of Green Gables, so I don't know very much about it.  I can tell you that the word "ponder" is used in everyday English, and even "gauntlet" but probably in a different sense. There is a common idiom: "run the gauntlet", which means to go through something difficult, sometimes as a test.  But the word "gauntlet" on it's own is very uncommon because the item it refers to (an armored glove worn by knights) is no longer part of modern life.</p>
<p>Anyway, the biggest question is: Do you enjoy reading/listening to this book?  If so, you'll probably read it to the end and, certainly, you will learn a lot of English!  Some of it won't be everyday English, but that is true of any book.  Let me know how it goes and what you decide.</p>
<p>I didn't notice any mistakes in your comment. :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/85/686">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/08/heinrich-schliemann-a-famous-polyglot%E2%80%99s-method#comment-686">Sunday, August 7, 2011 - 07:35</a></span>
</div>
</div>
</div><a id="comment-745"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a236b08cdb173ebeb131a8f5bf584f85?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>hi,<br/>
id like to say i agree with the article about methods of learning new languages. i started to learn english a few years ago because i needed to communicate with some foreigners. even though i was doing a lot of self study, i made a progress quite quickly so that i could speak and write with people. the most important thing is to combine time, motivation and right methods. the sad thing about learning languages though is that it seems to be a never ending process of acquiring millions of new words and then realize you will never speak like a native speaker anyway...<br/>
btw, great blog!;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/85/745">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anna (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/08/heinrich-schliemann-a-famous-polyglot%E2%80%99s-method#comment-745">Thursday, September 1, 2011 - 10:15</a></span>
</div>
</div>
<div class="indented"><a id="comment-746"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Anna!</p>
<p>Thanks for your comment!  It is sad that we'll probably never speak as well as native speakers, yes.  But it's the journey and the experience that is the most fun anyway! :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/85/746">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/08/heinrich-schliemann-a-famous-polyglot%E2%80%99s-method#comment-746">Thursday, September 1, 2011 - 16:59</a></span>
</div>
</div>
</div>
</div>
