---
permalink: /blog/2014/03/vlog-wakacje-w-meksyku-en/
layout: blog-old
title: 'Vlog: Vacation in Mexico (Polish)'
day: 4
month: Mar
year: 2014
category: personal
tags: [ ]
language: en
translation: /blog/2014/03/vlog-vacation-in-mexico-in-polish/
---
<div class="content">
<p>In January we were on a short vacation in Mexico! Here are the videos we recorded there. :-) We were at a market, sitting on the beach, Carrie (my wife) learned how to surf and we walked on Isla Mujeres. Check it out!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/oUjSqdMO9gk?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/oUjSqdMO9gk?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Sorry, this time I didn't have time to write a transcript. :-/ But at least I finally uploaded the video. ;-)</p>
<p><strong>If someone is willing to write a transcript or <a href="http://www.amara.org/en/videos/I6ix0jHPbj3B/info/wakacje-w-meksyku/">add subtitles</a> for Polish learners - let me know in the comments!</strong></p>
</div>

<div id="comments">
<a id="comment-5964"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/b2e92d5521076aa624747a6e93151e43?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Fajnie, że znalazłeś chwilkę, aby podzielić się doświadczeniami z urlopu. Życzę pięknej pogody i pozdrawiam :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/261/5964">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2014/03/vlog-wakacje-w-meksyku-en#comment-5964">Wednesday, March 5, 2014 - 07:01</a></span>
</div>
</div>
<a id="comment-5969"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8e802d028ec15036361922b8529c491d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Pogoda jak w Polsce nad Bałtykiem! Pozdrowienia!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/261/5969">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Becia (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2014/03/vlog-wakacje-w-meksyku-en#comment-5969">Thursday, March 6, 2014 - 14:32</a></span>
</div>
</div>
<a id="comment-6016"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://nietylkorosyjski.blogspot.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/1df8bc1828698936ceffb5ff18bf3dea?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>chess set = zestaw szachowy<br/>
pozdrawiam z niespokojnej Ukrainy!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/261/6016">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://nietylkorosyjski.blogspot.com" rel="nofollow">Dima</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2014/03/vlog-wakacje-w-meksyku-en#comment-6016">Friday, March 28, 2014 - 07:40</a></span>
</div>
</div>
<div class="indented"><a id="comment-6017"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki! :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/261/6017">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2014/03/vlog-wakacje-w-meksyku-en#comment-6017">Friday, March 28, 2014 - 07:45</a></span>
</div>
</div>
</div><a id="comment-8100"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/76f3f406fdfd947652d0515825acd5e6?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hey David !I saw your blog a long time ago but I did not say anything, now I want to tell u that u have a very big heart and you're so positive person.You are very good at Polish and u have all done it by yourself and spread it around the world.I just want to share with you some an other blogs interested in Polish, which you can probably know.I do not promote them, just want to show.<br/>
<a href="https://www.youtube.com/user/FoodEmperor" title="https://www.youtube.com/user/FoodEmperor">https://www.youtube.com/user/FoodEmperor</a> - He's HILARIOUS for every Pole, he's accent and the way he speaks.Hard not to laugh:)<br/>
<a href="https://www.youtube.com/playlist?list=PLB23B3D17C5492D86" title="https://www.youtube.com/playlist?list=PLB23B3D17C5492D86">https://www.youtube.com/playlist?list=PLB23B3D17C5492D86</a> this guy is so funny and interesting,too.<br/>
If you do not want to see it, don't. Really I do not have bad intention with sharing it with you :) I am happy there are people like you in this world :) I wish you good luck :)<br/>
Ps.I am sorry for my mistakes in English<br/>
Stefan, the fan from the Poland.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/261/8100">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Stefan (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2014/03/vlog-wakacje-w-meksyku-en#comment-8100">Sunday, January 4, 2015 - 16:02</a></span>
</div>
</div>
<a id="comment-8168"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/350514b7466c2eb79738fff785edc652?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Czy mogę coś dla pana podpowiedzieć? Śnieg się wymawia jako śniek, i teraz się wymawia jako teras. Są takie zasady w polskim gdzie litery na końcu się wymawia inaczej. Druga rzecz, proszę wymawiaj sz i cz. To bardzo mi przeszkadza kiedy ktoś nie wymawia tych liter. Poza tym twój polski jest dość dobry. </p>
<p>Ja nie jestem polakiem bo się urodziłem w USA, ale ja rozmawiałem po polsku z moją rodziną od małego. Ja też robię trochę błędów tak jak "poszłem" zamiast poszedłem, albo używam angielsko polskie słowa tak jak clean-uje zamiast czyszczę, albo za-order-uje zamiast zamówię, ale myślę że to jest od przyzwyczajenia.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/261/8168">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2014/03/vlog-wakacje-w-meksyku-en#comment-8168">Wednesday, June 3, 2015 - 06:33</a></span>
</div>
</div>
<a id="comment-8209"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f5fb814838e38251a6a6125410882ad7?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>thank you</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/261/8209">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">antonio vinyard (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2014/03/vlog-wakacje-w-meksyku-en#comment-8209">Wednesday, September 9, 2015 - 03:18</a></span>
</div>
</div>
<a id="comment-8228"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://fce.pl" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/fc90528d27c11b1b6fd82b25f434c128?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>David, when are you going to be back?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/261/8228">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://fce.pl" rel="nofollow">FCE</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2014/03/vlog-wakacje-w-meksyku-en#comment-8228">Tuesday, October 20, 2015 - 01:25</a></span>
</div>
</div>
</div>
