---
permalink: /home-page-2/
layout: base-old
title: 'LinguaTrek | A journey in language learning'
language: pl
translation: 
---
<div class="view view-frontpage view-id-frontpage view-display-id-page view-dom-id-1">
<div class="view-content">
<div class="views-row views-row-1 views-row-odd views-row-first">
<div class="node node-story clear-block" id="node-207">
<h2 class="node-title"><a href="/blog/2012/09/rzeczy-kt%C3%B3re-kocham-w-polsce-nr-06-jedzenie-na-mie%C5%9Bcie" title="Rzeczy, które kocham w Polsce, nr 06: Jedzenie na mieście!">Rzeczy, które kocham w Polsce, nr 06: Jedzenie na mieście!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">25</strong> <strong class="month">wrz</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_3 first"><a href="/tags/things-i-love-about-poland" rel="tag" title="">Things I Love About Poland</a></li>
<li class="taxonomy_term_33 last"><a href="/category/culture/poland" rel="tag" title="">Poland</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="pl" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 147px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/09/zapiekanka.jpg" rel="lightbox"><img alt="Zapiekanka" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/09/zapiekanka.jpg" title="Zapiekanka. Zdjęcie autorstwa Mariuszjbie."/></a><div class="caption">Zapiekanka. <a href="http://commons.wikimedia.org/wiki/File:Zapiekanka_2..jpg">Zdjęcie</a> autorstwa Mariuszjbie.</div></div>
<p><strong>To jest <em>szósty</em> artykuł z serii "<a href="http://www.linguatrek.com/tags/things-i-love-about-poland">Rzeczy, które kocham w Polsce</a>," w której omawiam różnice między Polską a USA.</strong></p>
<p>Trochę minęło, od kiedy napisałem ostatni artykuł z tej serii! Zaraz po powrocie z naszej ostatniej wycieczki do Polski (w październiku 2010), zrobiłem listę ponad <em>dwudziestu tematów</em> do opisania. :-)</p>
<p>Miałem nadzieję odwiedzić Polskę ponownie w jesień tego roku, ale z nawałem pracy, którą mamy przy Bibliobirdzie, nie wydaje się to możliwe. :-/</p>
<p><em>(A propos, nasz płatny produkt do pomocy Polakom w nauce angielskiego - "Real Life in the USA" - startuje w poniedziałek, 1 października. <a href="https://en.bibliobird.com/node/14452">Tutaj</a> dowiesz się więcej i dostaniesz zniżkę!)</em></p>
<p><strong>Teraz, kiedy nadeszła jesień, nachodzi mnie nostalgia!</strong></p>
<p>W moim <a href="http://www.linguatrek.com/blog/2010/11/things-i-love-about-poland-01-waiters-leave-you-alone">pierwszym artykule z tej serii</a>, opisałem jedną z rzeczy, które uwielbiam w jedzeniu na mieście w Polsce - a dzisiaj opowiem o jeszcze trzech!</p>
<p><strong>Czytaj dalej, aby dowiedzieć się o co chodzi!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/09/rzeczy-kt%C3%B3re-kocham-w-polsce-nr-06-jedzenie-na-mie%C5%9Bcie#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">17 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2012/09/rzeczy-kt%C3%B3re-kocham-w-polsce-nr-06-jedzenie-na-mie%C5%9Bcie" title="Wyświetla dalszą część wpisu Rzeczy, które kocham w Polsce, nr 06: Jedzenie na mieście!.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F09%2Frzeczy-kt%25C3%25B3re-kocham-w-polsce-nr-06-jedzenie-na-mie%25C5%259Bcie&amp;linkname=Rzeczy%2C%20kt%C3%B3re%20kocham%20w%20Polsce%2C%20nr%2006%3A%20Jedzenie%20na%20mie%C5%9Bcie%21" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
</div>
<div class="views-row views-row-2 views-row-even">
<div class="node node-story clear-block" id="node-205">
<h2 class="node-title"><a href="/blog/2012/09/jak-nauczy%C4%87-si%C4%99-j%C4%99zyka-technicznego-lub-innego-specjalistycznego" title="Jak nauczyć się języka technicznego (lub innego specjalistycznego)?">Jak nauczyć się języka technicznego (lub innego specjalistycznego)?</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">18</strong> <strong class="month">wrz</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_29 first"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_90 last"><a href="/tags/specialized-language" rel="tag" title="">specialized language</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="pl" data-to-lang="en">
<p><em>(Nie martw się, to jest artykuł z poradami odnośnie nauki języka! Chciałem jednak dać znać, że mój płatny produkt do pomocy Polakom w nauce angielskiego - „Real Life in the USA” - startuje w poniedziałek, 1 października. <a href="https://pl.bibliobird.com/node/14654">Tutaj</a> możesz dowiedzieć się więcej i dostać zniżkę!)</em></p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/09/technology.jpg" rel="lightbox"><img alt="Pokój pełen komputerów" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/09/technology.jpg" title="Zdjęcie autorstwa ClintJCL"/></a><div class="caption"><a href="http://www.flickr.com/photos/clintjcl/3109105564/in/photostream/">Zdjęcie</a> autorstwa <a href="http://www.flickr.com/photos/clintjcl/">ClintJCL</a></div></div>
<p>Ja osobiście uczyłem się polskiego <a href="http://www.linguatrek.com/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego">czytając i słuchając książek o „Harrym Potterze”</a> po polsku. Podczas, gdy książka fantasy, taka jak „Harry Potter” jest świetna do ogólnej nauki języka, nie będzie ona najlepszym wyborem, jeśli masz na celu naukę języka specjalistycznego.</p>
<p>W <a href="http://www.linguatrek.com/blog/2012/04/vlog-naturalna-nauka-j%C4%99zyka-bez-nauczyciela">moim darmowym ebooku</a>, wyjaśniam, że do nauki powinieneś wybrać książkę, w której użyty jest taki rodzaj języka, jakiego chcesz się nauczyć.</p>
<p><strong>Mimo, że jest to ogólnie świetna porada, wiele osób ma problem z wdrożeniem jej w praktyce!</strong></p>
<p>W zasadzie, <em>tak często</em> otrzymywałem następujące pytanie, iż postanowiłem, że nadszedł czas, aby napisać na ten temat pełny artykuł:</p>
<blockquote>
<p>W jaki sposób mogę nauczyć się słownictwa technicznego? Chcę nauczyć się pisania programów komputerowych, ale większość materiałów i dokumentacji jest po angielsku. Czy użycie tej samej metody, którą Ty uczyłeś się polskiego, jest możliwe?</p>
<p>Nie ma oczywiście żadnych audiobooków dla literatury technicznej. Ale napisałeś, że <a href="http://www.linguatrek.com/blog/2012/01/the-importance-of-listening">słuchanie jest niesamowicie istotne</a>! Jak mogę to zrobić?</p>
</blockquote>
<p>Znalezienie dobrych materiałów do czytania i słuchania dla języka programistycznego - i większości innych języków specjalistycznych - z pewnością jest możliwe!</p>
<p><strong>Czytaj dalej, aby dowiedzieć się jak to zrobić!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/09/jak-nauczy%C4%87-si%C4%99-j%C4%99zyka-technicznego-lub-innego-specjalistycznego#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">5 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2012/09/jak-nauczy%C4%87-si%C4%99-j%C4%99zyka-technicznego-lub-innego-specjalistycznego" title="Wyświetla dalszą część wpisu Jak nauczyć się języka technicznego (lub innego specjalistycznego)?.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F09%2Fjak-nauczy%25C4%2587-si%25C4%2599-j%25C4%2599zyka-technicznego-lub-innego-specjalistycznego&amp;linkname=Jak%20nauczy%C4%87%20si%C4%99%20j%C4%99zyka%20technicznego%20%28lub%20innego%20specjalistycznego%29%3F" id="da2a_2"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
</div>
<div class="views-row views-row-3 views-row-odd">
<div class="node node-story clear-block" id="node-203">
<h2 class="node-title"><a href="/blog/2012/09/w-wiadomo%C5%9Bciach-recenzja-mojego-ebooku-wywiad-najtrudniejsze-j%C4%99zyki-i-polyglotlinkcom" title="W wiadomościach: recenzja mojego ebooku, wywiad, najtrudniejsze języki i PolyglotLink.com!">W wiadomościach: recenzja mojego ebooku, wywiad, najtrudniejsze języki i PolyglotLink.com!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">4</strong> <strong class="month">wrz</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_89 first"><a href="/tags/in-the-news" rel="tag" title="">in the news</a></li>
<li class="taxonomy_term_34 last"><a href="/category/linguatrek" rel="tag" title="A meta-tag - when we are talking about LinguaTrek itself.">LinguaTrek</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="pl" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/09/newsdesk.jpg" rel="lightbox"><img alt="" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/09/newsdesk.jpg" title="Zdjęcie autorstwa penelopejonze"/></a><div class="caption"><a href="http://www.flickr.com/photos/55754281@N00/4230788532">Zdjęcie</a> autorstwa <a href="http://www.flickr.com/photos/penelopejonze/">penelopejonze</a></div></div>
<p>Zwykle piszę artykuły z poradami o nauce języków albo z informacjami o amerykańskim i polskim kulturze. Dzisiaj będzie trochę inaczej.</p>
<p>Przez ostatnie dwa tygodnie, LinguaTrek (mój blog) i Bibliobird (moja aplikacja webowa do nauki języków) zostały wspomniane kilka razy w internecie.</p>
<p><strong><em>Oto krótki przegląd!</em></strong></p>
<h2>Recenzja mojego darmowego ebooku!</h2>
<p>J. Snider, autor wyśmienitego bloga <a href="http://polyglottally.com/">Polyglotally.com</a>, właśnie napisał recenzję <a href="http://www.linguatrek.com/blog/2012/04/vlog-naturalna-nauka-j%C4%99zyka-bez-nauczyciela">"Naturalnej nauki języka bez nauczyciel"a</a>, w której <a href="http://polyglottally.com/blog/extreme-language-learning/natural-language-learning-without-teacher">piszę</a> (przetłumaczone z angielskiego):</p>
<blockquote>
<p>Ta książka jest tej samej wysokiej jakości jak inne e-produkty (np. The Language Hacking Guide i Everyday Language Learner) ale w dużo lepszej cenie. Znakomita zawartość za darmo!</p>
</blockquote>
<p>Jeśli masz wolną chwilę, gorąco polecam jego blog! Jest tam dużo interesujących informacji o nauce języków i nie tylko!</p>
<h2>Wywiad z PolakPotrafi.pl</h2>
<p><a href="http://polakpotrafi.pl/project/Bibliobird">Projekt crowdfundingowy</a>, który prowadziliśmy na stronie <a href="http://polakpotrafi.pl/">PolakPotrafi.pl</a> (podobna do KickStarter.com), żeby przedsprzedać nasz <a href="http://www.linguatrek.com/blog/2012/06/temat-naszego-p%C5%82atnego-produktu-przedsprzeda%C5%BC-zacznie-si%C4%99-za-par%C4%99-dni">pierwszy płatny produkt</a> dla <a href="http://pl.bibliobird.com">Bibliobirda</a> był <em>"jednym z najbardziej spektakularnych sukcesów polskiego crowdfundingu!"</em></p>
<p>Wczoraj był <a href="http://blog.polakpotrafi.pl/post/30803902667/ponad-200-wsparcia-dla-bibliobird-david-snopek">wywiad ze mną na blogu PolakPotrafi.pl</a>, w którym opisuję szczegóły projektu i rozmawiam o tym, dlaczego moim zdaniem odnieśliśmy taki sukces.</p>
<p><strong>Czytaj dalej, żeby dowiedzieć się o ostatnich dwóch rzeczach!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/09/w-wiadomo%C5%9Bciach-recenzja-mojego-ebooku-wywiad-najtrudniejsze-j%C4%99zyki-i-polyglotlinkcom#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">13 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2012/09/w-wiadomo%C5%9Bciach-recenzja-mojego-ebooku-wywiad-najtrudniejsze-j%C4%99zyki-i-polyglotlinkcom" title="Wyświetla dalszą część wpisu W wiadomościach: recenzja mojego ebooku, wywiad, najtrudniejsze języki i PolyglotLink.com!.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F09%2Fw-wiadomo%25C5%259Bciach-recenzja-mojego-ebooku-wywiad-najtrudniejsze-j%25C4%2599zyki-i-polyglotlinkcom&amp;linkname=W%20wiadomo%C5%9Bciach%3A%20recenzja%20mojego%20ebooku%2C%20wywiad%2C%20najtrudniejsze%20j%C4%99zyki%20i%20PolyglotLink.com%21" id="da2a_3"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
</div>
<div class="views-row views-row-4 views-row-even">
<div class="node node-story clear-block" id="node-201">
<h2 class="node-title"><a href="/blog/2012/08/jak-znale%C5%BA%C4%87-partnera-do-wymiany-j%C4%99zykowej" title="Jak znaleźć partnera do wymiany językowej">Jak znaleźć partnera do wymiany językowej</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">28</strong> <strong class="month">sie</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_88 first"><a href="/tags/language-exchange" rel="tag" title="">language exchange</a></li>
<li class="taxonomy_term_29"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_60 last"><a href="/tags/speaking" rel="tag" title="">speaking</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="pl" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/08/searching.jpg" rel="lightbox"><img alt="Mężczyzna z chłopcem czegoś szukają" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/08/searching.jpg" title="Zdjęcie autorstwa ll.wynn"/></a><div class="caption"><a href="http://www.flickr.com/photos/23045955@N02/3267952345">Zdjęcie</a> autorstwa <a href="http://www.flickr.com/photos/23045955@N02/">ll.wynn</a></div></div>
<p>Dwa tygodnie temu <a href="http://www.linguatrek.com/blog/2012/08/4-tips-for-effective-language-exchange">udostępniłem kilka porad</a> na temat rozpoczynania <em>wymiany językowej.</em></p>
<p>Wymiana językowa polega na komunikacji (<a href="http://www.linguatrek.com/blog/2011/02/immersion-tips-how-to-meet-natives#language-exchange">bezpośredniej</a> bądź <a href="http://www.linguatrek.com/blog/2011/11/how-to-practice-speaking-over-the-internet">przez internet</a>) z native speakerem wybranego przez Ciebie języka, który jednocześnie uczy się Twojego języka ojczystego.</p>
<p><a href="http://www.linguatrek.com/blog/2012/08/jak-prawid%C5%82owo-rozpocz%C4%85%C4%87-wymian%C4%99-j%C4%99zykow%C4%85#comment-2870">Ktoś napisał</a> w komentarzu:</p>
<blockquote>
<p>Łatwo szukać kolejnych partnerów językowych, jeśli twoim rodzimym językiem jest angielski. W końcu cały świat uczy się tego języka. Co zrobić, jeśli nikt nie chce się uczyć polskiego? Nie sądzę, żebym znalazł choć jednego Szweda, który chciałby mówić po polsku.</p>
</blockquote>
<p>Często spotykam się z taką opinią - właściwie to za każdym razem, kiedy piszę na temat wymiany językowej.</p>
<p>Zgadzam się, że jest trudniej, jeśli Twój język ojczysty należy do mniej popularnych. Jednak na pewno wciąż można znaleźć kogoś online!</p>
<p><strong>Czytaj dalej, aby poznać trzy sposoby znalezienia partnera do wymiany językowej online!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/08/jak-znale%C5%BA%C4%87-partnera-do-wymiany-j%C4%99zykowej#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">11 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2012/08/jak-znale%C5%BA%C4%87-partnera-do-wymiany-j%C4%99zykowej" title="Wyświetla dalszą część wpisu Jak znaleźć partnera do wymiany językowej.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F08%2Fjak-znale%25C5%25BA%25C4%2587-partnera-do-wymiany-j%25C4%2599zykowej&amp;linkname=Jak%20znale%C5%BA%C4%87%20partnera%20do%20wymiany%20j%C4%99zykowej" id="da2a_4"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
</div>
<div class="views-row views-row-5 views-row-odd">
<div class="node node-story clear-block" id="node-198">
<h2 class="node-title"><a href="/blog/2012/08/strategie-m%C3%B3wienia-odpowiadaj-na-wszystko" title="Strategie mówienia: Odpowiadaj na wszystko!">Strategie mówienia: Odpowiadaj na wszystko!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">21</strong> <strong class="month">sie</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_29 first"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_60"><a href="/tags/speaking" rel="tag" title="">speaking</a></li>
<li class="taxonomy_term_76 last"><a href="/tags/speaking-strategies" rel="tag" title="">speaking strategies</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="pl" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 131px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/08/onthephone.jpg" rel="lightbox"><img alt="Dziewczyna rozmawiająca przez telefon komórkowy" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/08/onthephone.jpg" title="Zdjęcie autorstwa Eddy Van 3000"/></a><div class="caption"><a href="http://www.flickr.com/photos/23566085@N00/4034975331">Zdjęcie</a> autorstwa <a href="http://www.flickr.com/photos/e3000/">Eddy Van 3000</a></div></div>
<p>We <a href="http://www.linguatrek.com/blog/2012/04/3-kroki-do-p%C5%82ynnego-m%C3%B3wienia-fragment-e-booka">wstępie</a> do <a href="http://www.linguatrek.com/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC">mojego DARMOWEGO ebooka</a>, wspomniałem, iż rozwój <em>strategii mówienia</em> jest bardzo ważnym krokiem w kierunku osiągnięcia płynności w języku obcym.</p>
<p>Ale niestety, nie było to tematem ebooka, więc wtedy tego nie omówiłem - z tego właśnie powodu, teraz chcę się skupić na tym na moim blogu (zobacz <a href="http://www.linguatrek.com/tags/speaking-strategies">poprzednie artykuły</a>).</p>
<p><strong>W niektórych sytuacjach trudniej jest mówić niż w innych!</strong></p>
<p>Dwie najtrudniejsze sytuacje to:</p>
<ul>
<li>Przez telefon, oraz</li>
<li>W grupie native speakerów.</li>
</ul>
<p>Mimo tego, że uczę się języka polskiego już od 5 lat, <em> nadal</em> mam problemy w obu tych sytuacjach. Jednak strategia, którą dzisiaj zaprezentuję, pomaga ogromnie!</p>
<p><strong>Czytaj dalej, aby dowiedzieć się, co to za strategia!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/08/strategie-m%C3%B3wienia-odpowiadaj-na-wszystko#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">12 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2012/08/strategie-m%C3%B3wienia-odpowiadaj-na-wszystko" title="Wyświetla dalszą część wpisu Strategie mówienia: Odpowiadaj na wszystko!.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F08%2Fstrategie-m%25C3%25B3wienia-odpowiadaj-na-wszystko&amp;linkname=Strategie%20m%C3%B3wienia%3A%20Odpowiadaj%20na%20wszystko%21" id="da2a_5"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
</div>
<div class="views-row views-row-6 views-row-even">
<div class="node node-story clear-block" id="node-196">
<h2 class="node-title"><a href="/blog/2012/08/jak-prawid%C5%82owo-rozpocz%C4%85%C4%87-wymian%C4%99-j%C4%99zykow%C4%85" title="Jak prawidłowo rozpocząć wymianę językową">Jak prawidłowo rozpocząć wymianę językową</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">14</strong> <strong class="month">sie</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_88 first"><a href="/tags/language-exchange" rel="tag" title="">language exchange</a></li>
<li class="taxonomy_term_29"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_24"><a href="/tags/mailbag" rel="tag" title="">mailbag</a></li>
<li class="taxonomy_term_60 last"><a href="/tags/speaking" rel="tag" title="">speaking</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="pl" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/08/sharing.jpg" rel="lightbox"><img alt="Dwa chomiki dzielące się marchewką" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/08/sharing.jpg" title="Wymiana językowa polega na dzieleniu się! Zdjęcie autorstwa ryancr"/></a><div class="caption">Wymiana językowa polega na dzieleniu się! <a href="http://www.flickr.com/photos/33128961@N00/142455033">Zdjęcie</a> autorstwa <a href="http://www.flickr.com/photos/ryanr/">ryancr</a></div></div>
<p><em>Nic</em> nie zastąpi rozmowy z native speakerem języka obcego. „Wymiana językowa” (zwana też „tandemem”) jest świetnym sposobem na ćwiczenie języka obcego z jego native speakerem, który jednocześnie uczy się Twojego języka.</p>
<p>Podczas każdego spotkania ze swoim partnerem z wymiany językowej, po kolei mówicie oboma językami. W odróżnieniu od lekcji, bądź pracy z nauczycielem, spotkania takie przebiegają w przyjaznej atmosferze, są nieformalne oraz (ponieważ przynoszą obustronne korzyści) są całkowicie darmowe. ;-)</p>
<p><strong>Nie przejmuj się: nie musisz mieszkać w pobliżu native speakerów ani <a href="http://www.linguatrek.com/blog/2011/07/you-dont-need-to-live-in-a-foreign-country-to-learn">w kraju</a>, w którym używa się danego języka!</strong></p>
<p>Jak pisałem już wcześniej, wymiana językowa może przebiegać zarówno <a href="http://www.linguatrek.com/blog/2011/02/immersion-tips-how-to-meet-natives#language-exchange">osobiście</a> jak i <a href="http://www.linguatrek.com/blog/2011/11/how-to-practice-speaking-over-the-internet">przez Internet</a>.</p>
<p>Ostatnio, poprzez <a href="http://www.linguatrek.com">formularz kontaktowy</a>, otrzymałem następujące pytanie (przetłumaczone z angielskiego):</p>
<blockquote>
<p>Uczę się polskiego od około roku i właśnie zdecydowałem się na nawiązanie kontaktu z polskim native speakerem poprzez <a href="http://language-exchange.gregloby.com/">Language|Exchange Project</a>. Trochę się denerwuję, ale doszedłem do wniosku, że może mi to tylko pomóc. Zastanawiałem się, czy mógłbyś udzielić mi jakichś rad odnośnie tego, w jaki sposób wynieść jak najwięcej z takiej wymiany.</p>
</blockquote>
<p><strong>Świetne pytanie!</strong></p>
<p>Zajmuję się wymianą językową już od kilku lat (zarówno z Polakami jak i Rosjanami) i rzeczywiście miałem parę złych doświadczeń. Metodą prób i błędów doszedłem do tego, jak uczynić wymianę językową możliwie efektywną. W niniejszym artykule udzielę Wam kilku porad, jak uniknąć często spotykanych pułapek.</p>
<p><strong>Czytaj dalej, aby zapoznać się z czterema poradami odnośnie rozpoczynania nowej wymiany językowej!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/08/jak-prawid%C5%82owo-rozpocz%C4%85%C4%87-wymian%C4%99-j%C4%99zykow%C4%85#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">10 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2012/08/jak-prawid%C5%82owo-rozpocz%C4%85%C4%87-wymian%C4%99-j%C4%99zykow%C4%85" title="Wyświetla dalszą część wpisu Jak prawidłowo rozpocząć wymianę językową.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F08%2Fjak-prawid%25C5%2582owo-rozpocz%25C4%2585%25C4%2587-wymian%25C4%2599-j%25C4%2599zykow%25C4%2585&amp;linkname=Jak%20prawid%C5%82owo%20rozpocz%C4%85%C4%87%20wymian%C4%99%20j%C4%99zykow%C4%85" id="da2a_6"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
</div>
<div class="views-row views-row-7 views-row-odd">
<div class="node node-story clear-block" id="node-194">
<h2 class="node-title"><a href="/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna" title="Czy ta książka, piosenka lub ekranizacja jest za trudna?">Czy ta książka, piosenka lub ekranizacja jest za trudna?</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">24</strong> <strong class="month">lip</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_87 first"><a href="/tags/finding-content" rel="tag" title="">finding content</a></li>
<li class="taxonomy_term_29"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_8 last"><a href="/tags/motivation" rel="tag" title="">motivation</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="pl" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/07/selfawareness.jpg" rel="lightbox"><img alt="" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/07/selfawareness.jpg" title="Zdjęcie autorstwa Yannis"/></a><div class="caption"><a href="http://www.flickr.com/photos/8291053@N08/3192165661">Zdjęcie</a> autorstwa <a href="http://www.flickr.com/photos/yannisag/">Yannis</a></div></div>
<p>Czytanie książek, oglądanie filmów czy słuchanie muzyki w obcym języku to świetny sposób na jego naukę! Właściwie, jest to podstawa metody, której sam użyłem, aby nauczyć się języka polskiego (<a href="http://www.linguatrek.com/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego">czytałem i słuchałem książek Harry'ego Pottera</a> po polsku).</p>
<p><strong><a href="http://www.linguatrek.com/blog/2011/01/how-to-pick-your-first-book-to-read-in-a-foreign-language">Wybór odpowiednich materiałów</a> jest trudny.</strong> <em> (Poświęciłem temu tematowi około 15 stron w swoim <a href="http://www.linguatrek.com/blog/2012/04/vlog-naturalna-nauka-j%C4%99zyka-bez-nauczyciela">DARMOWYM ebooku</a>.)</em></p>
<p>Najtrudniejszą częścią - obok znajdowania czegoś, co Cię zainteresuje (a to bardzo osobista decyzja) - jest dobranie materiałów na odpowiednim poziomie.</p>
<p>Idealnie byłoby znaleźć coś <em>tuż ponad</em> Twoim obecnym poziomem językowym. Jeśli tekst będzie zbyt łatwy - nie nauczysz się niczego nowego. Chociaż materiały, które są lekko poniżej lub dokładnie na Twoim poziomie, też są całkiem pomocne!</p>
<p><strong>Tak czy siak, jeśli to jedna z pierwszych książek/piosenek/ekranizacji, które czytasz/słuchasz/oglądasz, i tak nie będzie łatwo!</strong></p>
<p>Odpowiednie pytanie brzmi: <em>Czy nie jest ZBYT trudno?</em></p>
<p><strong>Przeczytaj więcej, aby dowiedzieć się, po czym to poznać!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">47 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2012/07/czy-ta-ksi%C4%85%C5%BCka-piosenka-lub-ekranizacja-jest-za-trudna" title="Wyświetla dalszą część wpisu Czy ta książka, piosenka lub ekranizacja jest za trudna?.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F07%2Fczy-ta-ksi%25C4%2585%25C5%25BCka-piosenka-lub-ekranizacja-jest-za-trudna&amp;linkname=Czy%20ta%20ksi%C4%85%C5%BCka%2C%20piosenka%20lub%20ekranizacja%20jest%20za%20trudna%3F" id="da2a_7"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
</div>
<div class="views-row views-row-8 views-row-even">
<div class="node node-story clear-block" id="node-192">
<h2 class="node-title"><a href="/blog/2012/07/vlog-golenie-brody" title="Vlog: Golenie brody!">Vlog: Golenie brody!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">21</strong> <strong class="month">lip</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_9 first"><a href="/tags/bibliobird" rel="tag" title="">BiblioBird</a></li>
<li class="taxonomy_term_84"><a href="/tags/polakpotrafipl" rel="tag" title="">PolakPotrafi.pl</a></li>
<li class="taxonomy_term_4"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
<li class="taxonomy_term_31 last"><a href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="pl" data-to-lang="en">
<p>Tak jak <a href="http://www.linguatrek.com/blog/2012/07/vlog-dzi%C4%99kujemy-je%C5%9Bli-osi%C4%85gniemy-200-zgol%C4%99-brod%C4%99">powiedziałem</a>: jeśli osiągniemy 200% naszego celu <a href="http://polakpotrafi.pl/project/Bibliobird">na PolakPotrafi.pl</a>, zgolę brodę. I to zrobiłem!</p>
<p><strong>Dziękuję Wszystkim za wsparcie!</strong></p>
<p>Rozpocząłem <a href="http://en.bibliobird.com/wiki/Thank_you_for_your_support">stronę na Bibliobirdzie</a> z oficjalnymi podziękowaniami ale niestety ponad połowa wspierających jeszcze nie odpowiadało na <a href="http://www.linguatrek.com/blog/2012/07/przedsprzeda%C5%BC-bibliobirda-jest-udana-216-co-dalej">email Karoliny!</a> Musisz odpowiedzieć, żeby dostać podziękowania, pocztówkę albo odznakę na profilu.</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/dpa5iQS1mdk?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/dpa5iQS1mdk?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Nagrywanie tego filmiku było bardzo zabawne! Sam początek i koniec są po polsku ale reszta jest po angielsku bo to jest język, którym zwykle z żoną rozmawiamy ze sobą.</p>
<p><strong>Proszę mi powiedzcie co myślicie o moim wyglądzie bez brody w komentarzach!</strong></p> </div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/07/vlog-golenie-brody#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">16 odpowiedzi</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F07%2Fvlog-golenie-brody&amp;linkname=Vlog%3A%20Golenie%20brody%21" id="da2a_8"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
</div>
<div class="views-row views-row-9 views-row-odd">
<div class="node node-story clear-block" id="node-190">
<h2 class="node-title"><a href="/blog/2012/07/przedsprzeda%C5%BC-bibliobirda-jest-udana-216-co-dalej" title="Przedsprzedaż Bibliobirda jest udana! 216%! Co dalej?">Przedsprzedaż Bibliobirda jest udana! 216%! Co dalej?</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">17</strong> <strong class="month">lip</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_9 first"><a href="/tags/bibliobird" rel="tag" title="">BiblioBird</a></li>
<li class="taxonomy_term_84"><a href="/tags/polakpotrafipl" rel="tag" title="">PolakPotrafi.pl</a></li>
<li class="taxonomy_term_31 last"><a href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="pl" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/07/polakpotrafiend_0.png" rel="lightbox"><img alt="" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/07/polakpotrafiend_0.png" title=""/></a></div>
<p><em>Wow. Nie wierzę, że to się naprawdę dzieję!</em></p>
<p>Półtora roku temu <a href="http://www.linguatrek.com/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego">rozpoczęliśmy projekt</a> <a href="http://pl.bibliobird.com">Bibliobird</a>, darmowa (i Open Source) aplikacja webowa do nauki języka oparta na metodzie, której sam używałem do nauki polskiego</p>
<p>Od tej pory stała się ona na tyle popularna, że praca nad nią zajmuje cały nasz wolny czas. To jasne, że ten pomysł jest bardzo obiecujący: wielu Polaków skorzystało z niego, aby dokonać przełomu w ich nauce języka angielskiego!</p>
<p>Zdaliśmy sobie jednak sprawę, że jeśli kiedykolwiek miałby on osiągnąć swój pełny potencjał, musielibyśmy poświęcić na to więcej czasu i zasobów. Z takim wyjątkiem, że już to wszystko wyczerpaliśmy! Z tego powodu zdecydowaliśmy stworzyć i sprzedawać płatne teksty dla Bibliobirda, aby wspomóc naszą pracę nad projektem.</p>
<p><em>Jeśli uda nam się osiągnąć sukces, będziemy mogli spelnić <a href="http://www.linguatrek.com/blog/2012/03/vlog-dlaczego-o-ma%C5%82o-nie-przesta%C5%82em-blogowa%C4%87-i-nasze-wielkie-marzenie">nasze marzenie</a> pracy na pełny etat, aby pomóc ludziom uczących się języków!</em></p>
<p>Trzy tygodnie temu rozpoczęliśmy <a href="http://polakpotrafi.pl/projekt/Bibliobird/">projekt crowdfundingowy na PolakPotrafi.pl</a>, aby <a href="http://www.linguatrek.com/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku">przedsprzedać</a> <a href="http://www.linguatrek.com/blog/2012/06/nasz-pe%C5%82ny-pomys%C5%82-na-produkt-prosz%C4%99-o-pomoc-z-cen%C4%85">pierwszy pakiet płatnych tekstów</a> oraz zbudować grupę entuzjastycznych <em>"założycieli"</em>, aby pomóc nam go stworzyć i testować (tak jak wszystkie inne płatne produkty w przyszłości).</p>
<p><strong>Projekt na PolakPotrafi okazał się niewiarygodnym sukcesem!</strong></p>
<p>Osiągnęliśmy nasz pierwszy cel 10.000 PLN tylko w dwa dni! W momencie zakończenia projektu wczoraj w nocy, osiągnęliśmy <strong>21.585 PLN</strong>, <strong>216%</strong> pierwotnego celu (co oznacza, że <a href="http://www.linguatrek.com/blog/2012/07/vlog-dzi%C4%99kujemy-je%C5%9Bli-osi%C4%85gniemy-200-zgol%C4%99-brod%C4%99">ogolę brodę</a>!) z <strong>210 osobami</strong>, którzy wsparli nasz projekt.</p>
<p><strong>Wielkie dzięki za Wasze wsparcie! Nigdy bym sobie nie wyobraził, że może nam pójść tak dobrze.</strong></p>
<p>Dzisiaj opowiem wam o tym co się wydarzy, np: kiedy zamierzam ogolić brodę, kiedy otrzymacie Wasze pocztówki, kiedy pierwszy produkt będzie gotowy, itd...</p>
<p><strong>Czytaj dalej, aby się dowiedzieć!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/07/przedsprzeda%C5%BC-bibliobirda-jest-udana-216-co-dalej#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">10 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2012/07/przedsprzeda%C5%BC-bibliobirda-jest-udana-216-co-dalej" title="Wyświetla dalszą część wpisu Przedsprzedaż Bibliobirda jest udana! 216%! Co dalej?.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F07%2Fprzedsprzeda%25C5%25BC-bibliobirda-jest-udana-216-co-dalej&amp;linkname=Przedsprzeda%C5%BC%20Bibliobirda%20jest%20udana%21%20216%25%21%20Co%20dalej%3F" id="da2a_9"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
</div>
<div class="views-row views-row-10 views-row-even views-row-last">
<div class="node node-story clear-block" id="node-188">
<h2 class="node-title"><a href="/blog/2012/07/nikt-nie-b%C4%99dzie-si%C4%99-%C5%9Bmia%C4%87-z-ciebie-naprawd%C4%99" title="Nikt nie będzie się śmiać z Ciebie! Naprawdę!">Nikt nie będzie się śmiać z Ciebie! Naprawdę!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">13</strong> <strong class="month">lip</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_79 first"><a href="/tags/fear-of-speaking" rel="tag" title="">fear of speaking</a></li>
<li class="taxonomy_term_29"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_86 last"><a href="/tags/learner-stories" rel="tag" title="">learner stories</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="pl" data-to-lang="en">
<p><em>Tak jak <a href="http://www.linguatrek.com/blog/2012/05/3-super-simple-speaking-strategies">napisałem</a> kilka tygodni temu, chcę skupić się na rzeczach<em>, o których nie napisałem </em> w moim darmowym <a href="http://www.linguatrek.com/blog/2012/04/3-steps-to-speaking-a-language-fluently-ebook-excerpt">ebooku</a>, głównie na: <a href="http://www.linguatrek.com/blog/2011/05/how-to-overcome-your-fear-of-speaking">strachu przed mówieniem</a> i strategiach w ćwiczeniu mówienia.</em></p>
<p><em>Chciałbym również zacząć dzielić się z Wami historiami o innych uczących się. Mam okazję usłyszeć Wasze historie związane z nauką języka (przeważnie w prywatnym emailu). Wy już słyszeliście moją historię na sto różnych sposobów. Ale nie mieliście jeszcze okazji usłyszeć siebie nawzajem. </em></p>
<p><em>Dzisiaj mamy gościnny artykuł od <a href="http://www.questforepicness.com/">Ilhana</a> - studenta inżynierii lotnictwa i kosmonautyki w Monachium, Niemcy, a także czytelnika tego bloga - dzieli się on swoją historią i opowiada o swoim strachu przed mówieniem, co go powoduje wraz z pomocnymi strategiami, poradą oraz przemyśleniami, aby go pokonać. Miłego czytania!</em></p>
<hr/>
<p style="text-align: center;"><a href="http://smg.photobucket.com/albums/v487/Aquilion/?action=view&amp;current=nobodywilllaughatyou.jpg" target="_blank"><img alt="Photobucket" border="0" src="http://img.photobucket.com/albums/v487/Aquilion/nobodywilllaughatyou.jpg"/></a><br/>Zdjęcie dzięki uprzejmości <a href="http://www.freedigitalphotos.net">FreeDigitalPhotos.net</a></p>
<p>Znowu to samo. Ręce drżały. Było mi sucho w ustach. Patrzyłem na ziemię. Moje ramiona opadły. Moja głowa opuściła się ze wstydu. Zaledwie pięć minut temu miałem świetną rozmowę z Francisco, jednym z moich najlepszych kumpli. Rozmowa była w języku hiszpańskim, mój "język docelowy" od kilku już lat.</p>
<p>Ale teraz mój język był związany, a mój umysł był przepełniony. Nie mogłem wydusić ani słowa w języku hiszpańskim. Ilekroć mówiono do mnie, odpowiadałem w języku niemieckim. Wstydziłem się tego faktu. Co się ze mną działo?</p>
<p><strong>Czytaj dalej, aby dowiedzieć się więcej!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/07/nikt-nie-b%C4%99dzie-si%C4%99-%C5%9Bmia%C4%87-z-ciebie-naprawd%C4%99#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">4 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2012/07/nikt-nie-b%C4%99dzie-si%C4%99-%C5%9Bmia%C4%87-z-ciebie-naprawd%C4%99" title="Wyświetla dalszą część wpisu Nikt nie będzie się śmiać z Ciebie! Naprawdę!.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F07%2Fnikt-nie-b%25C4%2599dzie-si%25C4%2599-%25C5%259Bmia%25C4%2587-z-ciebie-naprawd%25C4%2599&amp;linkname=Nikt%20nie%20b%C4%99dzie%20si%C4%99%20%C5%9Bmia%C4%87%20z%20Ciebie%21%20Naprawd%C4%99%21" id="da2a_10"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
</div>
</div>
<div class="item-list"><ul class="pager"><li class="pager-first first"><a class="active" href="/" title="Przejdź do pierwszej strony">« pierwsza</a></li>
<li class="pager-previous"><a class="active" href="/home-page-1" title="Przejdź do poprzedniej strony">‹ poprzednia</a></li>
<li class="pager-item"><a class="active" href="/" title="Przejdź do strony 1">1</a></li>
<li class="pager-item"><a class="active" href="/home-page-1" title="Przejdź do strony 2">2</a></li>
<li class="pager-current">3</li>
<li class="pager-item"><a class="active" href="/home-page-3" title="Przejdź do strony 4">4</a></li>
<li class="pager-item"><a class="active" href="/home-page-4" title="Przejdź do strony 5">5</a></li>
<li class="pager-item"><a class="active" href="/home-page-5" title="Przejdź do strony 6">6</a></li>
<li class="pager-item"><a class="active" href="/home-page-6" title="Przejdź do strony 7">7</a></li>
<li class="pager-item"><a class="active" href="/home-page-7" title="Przejdź do strony 8">8</a></li>
<li class="pager-item"><a class="active" href="/home-page-8" title="Przejdź do strony 9">9</a></li>
<li class="pager-ellipsis">…</li>
<li class="pager-next"><a class="active" href="/home-page-3" title="Przejdź do następnej strony">następna ›</a></li>
<li class="pager-last last"><a class="active" href="/home-page-17" title="Przejdź do ostatniej strony">ostatnia »</a></li>
</ul></div>
</div>

