---
permalink: /home-page-7/
layout: base-old
title: 'LinguaTrek | A journey in language learning'
language: en
translation: 
---
<div class="view view-frontpage view-id-frontpage view-display-id-page view-dom-id-1">
<div class="view-content">
<div class="views-row views-row-1 views-row-odd views-row-first">
<div class="node node-story clear-block" id="node-110">
<h2 class="node-title"><a href="/blog/2012/01/8-reasons-to-use-youtube-to-learn-a-language" title="8 reasons to use YouTube to learn a language">8 reasons to use YouTube to learn a language</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">10</strong> <strong class="month">Jan</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_29 first"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_68 last"><a href="/tags/youtube" rel="tag" title="">YouTube</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/01/youtube.jpg" rel="lightbox"><img alt="David in a cardboard cut of a YouTube window" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/01/youtube.jpg" title="My costume from Halloween 2010."/></a><div class="caption">My costume from <a href="http://www.linguatrek.com/blog/2010/10/halloween-adults">Halloween 2010</a>.</div></div>
<p>As most of you probably know, I've been using <a href="http://www.youtube.com/">YouTube</a> in my effort to learn Polish for <a href="http://www.linguatrek.com/blog/2011/09/vlog-trzy-lata-na-youtube-pi%C4%99%C4%87-lat-z-j-polskim">over three years now</a>.</p>
<p>YouTube is a massive service, with "hundreds of millions of users from around the world."  According to <a href="http://www.youtube.com/t/faq">their FAQ</a>, "48 hours of video are uploaded every minute, resulting in nearly 8 years of content uploaded every day."</p>
<p>Using YouTube has led to many very positive things in my life and, in my opinion, has also significantly improved my language abilities.</p>
<p><em>I strongly encourage <strong>YOU</strong> to try using YouTube in your language learning!</em></p>
<p><strong>Read more to find out why!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/01/8-reasons-to-use-youtube-to-learn-a-language#comments" title="Jump to the first comment of this posting.">10 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/01/8-reasons-to-use-youtube-to-learn-a-language" title="Read the rest of 8 reasons to use YouTube to learn a language.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F01%2F8-reasons-to-use-youtube-to-learn-a-language&amp;linkname=8%20reasons%20to%20use%20YouTube%20to%20learn%20a%20language" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
</div>
<div class="views-row views-row-2 views-row-even">
<div class="node node-story clear-block" id="node-108">
<h2 class="node-title"><a href="/blog/2012/01/the-importance-of-listening" title="The Importance of Listening">The Importance of Listening</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">3</strong> <strong class="month">Jan</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_29 first"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_26 last"><a href="/tags/listening" rel="tag" title="">listening</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 116px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/01/ear.jpg" rel="lightbox"><img alt="Woman whispering into giant ear" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/01/ear.jpg" title="Photo by Hans van Rijnberk"/></a><div class="caption"><a href="http://www.flickr.com/photos/21992903@N02/2598234846">Photo</a> by <a href="http://www.flickr.com/photos/hansvanrijnberk/">Hans van Rijnberk</a></div></div>
<p>I receive many questions from people looking for advice on how to use <a href="http://www.linguatrek.com/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego">the method I used to learn Polish</a> in their own language studies.</p>
<p>The main misconception is that reading (with your eyes) is enough.  This is partly my fault, since I think of listening to a book or text to still be "reading," so I've used that word to describe both activities.</p>
<p>But <em>listening</em> is not just as important as <em>reading</em> - <strong>listening is even more important!</strong></p>
<p>If possible (especially when beginning to learn a language) <strong>you should spend <em>significantly more</em> time listening than reading</strong>.</p>
<p><strong>Read more to find out why!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/01/the-importance-of-listening#comments" title="Jump to the first comment of this posting.">39 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/01/the-importance-of-listening" title="Read the rest of The Importance of Listening.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F01%2Fthe-importance-of-listening&amp;linkname=The%20Importance%20of%20Listening" id="da2a_2"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
</div>
<div class="views-row views-row-3 views-row-odd">
<div class="node node-story clear-block" id="node-109">
<h2 class="node-title"><a href="/blog/2011/12/mail-stereotypy-o-polakach" title="Mail: Stereotypy o Polakach">Mail: Stereotypy o Polakach</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">30</strong> <strong class="month">Dec</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_67 first"><a href="/tags/polish-stereotypes" rel="tag" title="">Polish Stereotypes</a></li>
<li class="taxonomy_term_33 last"><a href="/category/culture/poland" rel="tag" title="">Poland</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/12/z_krakowskie.jpg" rel="lightbox"><img alt="Polacy tancerzy w stroju krakowskim" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/12/z_krakowskie.jpg" title=""/></a></div>
<p><strong>To jest pierwszy artykuł z <a href="http://www.linguatrek.com/tags/mailbag">serii</a>, który jest bezpośrednio wzięty z ogromnej ilości maili, które dostaję na temat nauki języków, Stanów i Polski.</strong></p>
<p>Kilka dni temu dostałem ten mail:</p>
<blockquote>
<p>Witam David.</p>
<p>Chciałbym zadać ci jedno pytanie odnośnie stereotypów o Polakach. Nie wiem czy już o tym mówiłeś w swoich filmach(nie widzałem ich wszystkich bo jest ich całkiem sporo) więc jeśli już o tym mówiłeś to przepraszam. Więc...</p>
<p>Tutaj w Polsce często słyszę, że Amerykanie, Niemcy, Brytyjczycy śmieją sie z nas, że kradnimy, że pijemy i wiele innych obraźliwych opini.</p>
<p>Wiem, że kochasz Polske i wiem, że masz o nas dobrą opinie ale czy słyszałeś żeby inni Amerykanie mówili tak o nas? Jestem bardzo ciekaw czy jest to prawda, że mamy tak złą opinie za granicą. Z niecierpliwościa czekam na odpowiedź. Pozdrawiam.</p>
</blockquote>
<p><strong>Czytaj dalej, żeby poznać moją odpowiedź!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/12/mail-stereotypy-o-polakach#comments" title="Jump to the first comment of this posting.">31 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/12/mail-stereotypy-o-polakach" title="Read the rest of Mail: Stereotypy o Polakach.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F12%2Fmail-stereotypy-o-polakach&amp;linkname=Mail%3A%20Stereotypy%20o%20Polakach" id="da2a_3"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
</div>
<div class="views-row views-row-4 views-row-even">
<div class="node node-story clear-block" id="node-107">
<h2 class="node-title"><a href="/blog/2011/12/my-language-goals-for-2012" title="My language goals for 2012">My language goals for 2012</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">27</strong> <strong class="month">Dec</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_94 first"><a href="/tags/new-years-resolution" rel="tag" title="">New Year's resolution</a></li>
<li class="taxonomy_term_31 last"><a href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 106px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/12/fireworks.jpg" rel="lightbox"><img alt="Fireworks!" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/12/fireworks.jpg" title="Photo by Trey Ratcliff"/></a><div class="caption"><a href="http://www.flickr.com/photos/95572727@N00/2374904960">Photo</a> by <a href="http://www.flickr.com/people/stuckincustoms/">Trey Ratcliff</a></div></div>
<p>I know a lot of people think New Year's Resolutions are stupid.  Personally I've always liked them and I <em>try</em> to make some every year.  Unfortunately, I can't remember the resolutions I made for 2011. :-/</p>
<p>But that old, tired year will be behind us soon.  It's time to start thinking about the wonderful New Year!</p>
<p>While I have a number of New Year's Resolutions - including to start flossing my teeth more often :-) - the main topic of this blog is language, so I'm only going to talk about my language learning goals.</p>
<p><strong>Read more to see my language goals for next year!</strong></p><p>
</p> </div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/12/my-language-goals-for-2012#comments" title="Jump to the first comment of this posting.">37 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/12/my-language-goals-for-2012" title="Read the rest of My language goals for 2012.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F12%2Fmy-language-goals-for-2012&amp;linkname=My%20language%20goals%20for%202012" id="da2a_4"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
</div>
<div class="views-row views-row-5 views-row-odd">
<div class="node node-story clear-block" id="node-106">
<h2 class="node-title"><a href="/blog/2011/12/vlog-kongres-polonii-ameryka%C5%84skiej" title="Vlog: Kongres Polonii Amerykańskiej">Vlog: Kongres Polonii Amerykańskiej</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">21</strong> <strong class="month">Dec</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_32 first"><a href="/category/culture/usa" rel="tag" title="">USA</a></li>
<li class="taxonomy_term_4 last"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Tydzień temu spotkałem się z prezesem Kongresu Polonii Amerykańskiej w Wisconsin na kawę. W tym filmiku mówię o tym, czego się nauczyłem o tej organizacji!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/ej83Q1lqB5U?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/ej83Q1lqB5U?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Proszę podaj mi poprawki w serwisie Lang-8 <a href="http://lang-8.com/10069/journals/1235198/Vlog%253A-Kongres-Polonii-Ameryka%25C5%2584skiej">tutaj</a>.</p>
<p>Linki do więcej informacji:</p>
<ul>
<li><a href="http://www.pac1944.org/">http://www.pac1944.org/</a></li>
<li><a href="http://pacwisconsin.com/">http://pacwisconsin.com/</a></li>
</ul>
<p><strong>Czytaj transkrypcję poniżej!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/12/vlog-kongres-polonii-ameryka%C5%84skiej#comments" title="Jump to the first comment of this posting.">8 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/12/vlog-kongres-polonii-ameryka%C5%84skiej" title="Read the rest of Vlog: Kongres Polonii Amerykańskiej.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F12%2Fvlog-kongres-polonii-ameryka%25C5%2584skiej&amp;linkname=Vlog%3A%20Kongres%20Polonii%20Ameryka%C5%84skiej" id="da2a_5"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
</div>
<div class="views-row views-row-6 views-row-even">
<div class="node node-story clear-block" id="node-105">
<h2 class="node-title"><a href="/blog/2011/12/goenglishgocom-virtual-english-school" title="GoEnglishGo.com: Virtual English school">GoEnglishGo.com: Virtual English school</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">13</strong> <strong class="month">Dec</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_21 first"><a href="/tags/language-school" rel="tag" title="">language school</a></li>
<li class="taxonomy_term_2 last"><a href="/category/language-learning/learn-english" rel="tag" title="">learn English</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/12/goenglishgo.png" rel="lightbox"><img alt="GoEnglishGo Logo" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/12/goenglishgo.png" title=""/></a></div>
<p>Real world English schools are great.  You enter a new environment where the primary language is English.  It's easy to forget that you're still in your native country.  And you get to make new friends who also share your passion and interest in English.</p>
<p>But traveling to an English class is also very inconvenient.  Depending on where you live and work, it probably takes considerable time to get there.  And when you leave, the English lesson ends.  You might have a homework assignment, but outside the magic of the classroom, it's less compelling.</p>
<p>With a virtual school, you lose the effect of the environment and much of the social interaction.  But you are able to study at any time of the day or night.  And you don't have to lose any time traveling there!</p>
<p>This article is about an online language school, <a href="http://www.goenglishgo.com">GoEnglishGo.com</a>, which is run by an American from Texas, who now lives in Kraków, Poland.</p>
<p>(<em>Full disclosure: while the founder of this school is a personal friend of mine, I'm not receiving any monetary benefits or commissions for writing this review.</em>)</p>
<p><strong>Read more the full review!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/12/goenglishgocom-virtual-english-school#comments" title="Jump to the first comment of this posting.">9 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/12/goenglishgocom-virtual-english-school" title="Read the rest of GoEnglishGo.com: Virtual English school.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F12%2Fgoenglishgocom-virtual-english-school&amp;linkname=GoEnglishGo.com%3A%20Virtual%20English%20school" id="da2a_6"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
</div>
<div class="views-row views-row-7 views-row-odd">
<div class="node node-story clear-block" id="node-104">
<h2 class="node-title"><a href="/blog/2011/12/unique-american-religions" title="Unique American Religions">Unique American Religions</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">7</strong> <strong class="month">Dec</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_66 first"><a href="/tags/religion" rel="tag" title="">religion</a></li>
<li class="taxonomy_term_32 last"><a href="/category/culture/usa" rel="tag" title="">USA</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/12/church.jpg" rel="lightbox"><img alt="Inside of a church" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/12/church.jpg" title="Photo by Marc."/></a><div class="caption"><a href="http://www.flickr.com/photos/30982194@N05/3952192361">Photo</a> by <a href="http://www.flickr.com/photos/marcp_dmoz/">Marc</a>.</div></div>
<p>A few interesting religions began in the United States, including Mormonism and the Jehovah’s Witnesses.  The Amish religion did not originate in the United States, but this interesting cultural group is now only found in the U.S. (and a bit of Canada).</p>
<p>Though these three religions are very different, they are all based in the U.S., so I’ve received many questions about them from LinguaTrek readers.  All three of these religions are based in <a href=" http://en.wikipedia.org/wiki/Christianity">Christianity</a>.</p>
<p><strong>Read more to learn about these interesting religious groups!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/12/unique-american-religions#comments" title="Jump to the first comment of this posting.">12 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/12/unique-american-religions" title="Read the rest of Unique American Religions.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F12%2Funique-american-religions&amp;linkname=Unique%20American%20Religions" id="da2a_7"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
</div>
<div class="views-row views-row-8 views-row-even">
<div class="node node-story clear-block" id="node-103">
<h2 class="node-title"><a href="/blog/2011/11/how-to-learn-two-languages-at-once" title="How to learn two languages at once">How to learn two languages at once</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">29</strong> <strong class="month">Nov</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_29 first last"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 130px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/11/balance.jpg" rel="lightbox"><img alt="Woman with textbooks on her head" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/11/balance.jpg" title="How to balance your learning?  Photo by Corrie"/></a><div class="caption">How to balance your learning?  <a href="http://www.flickr.com/photos/33370236@N06/3912978696">Photo</a> by <a href="http://www.flickr.com/photos/33370236@N06/">Corrie</a></div></div>
<blockquote>
<p><em>Can I learn two languages at once?  Or should I only learn one at a time?</em></p>
</blockquote>
<p>I see these questions often.</p>
<p>Many people have successfully learned more than one language at a time.  But many, many more have failed.</p>
<p>Personally, I have experience both succeeding and failing!</p>
<p><strong>Please read more for my advice!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/11/how-to-learn-two-languages-at-once#comments" title="Jump to the first comment of this posting.">12 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/11/how-to-learn-two-languages-at-once" title="Read the rest of How to learn two languages at once.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F11%2Fhow-to-learn-two-languages-at-once&amp;linkname=How%20to%20learn%20two%20languages%20at%20once" id="da2a_8"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
</div>
<div class="views-row views-row-9 views-row-odd">
<div class="node node-story clear-block" id="node-102">
<h2 class="node-title"><a href="/blog/2011/11/vlog-nasze-mieszkanie-w-usa" title="Vlog: Nasze mieszkanie w USA">Vlog: Nasze mieszkanie w USA</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">22</strong> <strong class="month">Nov</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_4 first"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
<li class="taxonomy_term_31 last"><a href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Dzisiaj razem z żoną pokazujemy nasze mieszkanie!</p>
<p>Przepraszam, że to zrobiliśmy tak w pośpiechu ale moja żona tylko miała 5 minut żeby mi pomóc z tym, musiała od razu wyjechać na spotkanie. I z tego powodu zrobiłem strasznie dużo błędów. :-) Ale wreszcie możecie widzieć nasze mieszkanie!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/ScB5bUnBTpk?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/ScB5bUnBTpk?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p><strong>Czytaj transkrypcję poniżej</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/11/vlog-nasze-mieszkanie-w-usa#comments" title="Jump to the first comment of this posting.">20 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/11/vlog-nasze-mieszkanie-w-usa" title="Read the rest of Vlog: Nasze mieszkanie w USA.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F11%2Fvlog-nasze-mieszkanie-w-usa&amp;linkname=Vlog%3A%20Nasze%20mieszkanie%20w%20USA" id="da2a_9"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
</div>
<div class="views-row views-row-10 views-row-even views-row-last">
<div class="node node-story clear-block" id="node-101">
<h2 class="node-title"><a href="/blog/2011/11/translating-or-native-dictionaries" title="Translating or native dictionaries?">Translating or native dictionaries?</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">15</strong> <strong class="month">Nov</strong> <strong class="year">2011</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_65 first"><a href="/tags/dictionaries" rel="tag" title="">dictionaries</a></li>
<li class="taxonomy_term_29 last"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/11/oldbook.jpg" rel="lightbox"><img alt="An old book" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/11/oldbook.jpg" title="Photo by Jon Ragnarsson"/></a><div class="caption"><a href="http://www.flickr.com/photos/50534569@N00/2159843888">Photo</a> by <a href="http://www.flickr.com/photos/jonragnarsson/">Jon Ragnarsson</a></div></div>
<p>Which is better?  A dictionary which translates into your native language or a dictionary which gives the definition in the native language itself?</p>
<p>This is an often discussed and frequently controversial topic.  Both students and teachers have strong opinions on both sides of the issue.  But I suspect it comes to more to personal preference than anything else.</p>
<p>In this article I'll tell you which I prefer and why, then open it up to your comments.  Which do you prefer?</p>
<p><strong>Read more to join the discussion!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2011/11/translating-or-native-dictionaries#comments" title="Jump to the first comment of this posting.">15 comments</a></li>
<li class="node_read_more"><a href="/blog/2011/11/translating-or-native-dictionaries" title="Read the rest of Translating or native dictionaries?.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2011%2F11%2Ftranslating-or-native-dictionaries&amp;linkname=Translating%20or%20native%20dictionaries%3F" id="da2a_10"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
</div>
</div>
<div class="item-list"><ul class="pager"><li class="pager-first first"><a class="active" href="/" title="Go to first page">« first</a></li>
<li class="pager-previous"><a class="active" href="/home-page-6" title="Go to previous page">‹ previous</a></li>
<li class="pager-ellipsis">…</li>
<li class="pager-item"><a class="active" href="/home-page-3" title="Go to page 4">4</a></li>
<li class="pager-item"><a class="active" href="/home-page-4" title="Go to page 5">5</a></li>
<li class="pager-item"><a class="active" href="/home-page-5" title="Go to page 6">6</a></li>
<li class="pager-item"><a class="active" href="/home-page-6" title="Go to page 7">7</a></li>
<li class="pager-current">8</li>
<li class="pager-item"><a class="active" href="/home-page-8" title="Go to page 9">9</a></li>
<li class="pager-item"><a class="active" href="/home-page-9" title="Go to page 10">10</a></li>
<li class="pager-item"><a class="active" href="/home-page-10" title="Go to page 11">11</a></li>
<li class="pager-item"><a class="active" href="/home-page-11" title="Go to page 12">12</a></li>
<li class="pager-ellipsis">…</li>
<li class="pager-next"><a class="active" href="/home-page-8" title="Go to next page">next ›</a></li>
<li class="pager-last last"><a class="active" href="/home-page-17" title="Go to last page">last »</a></li>
</ul></div>
</div>

