---
permalink: /home-page-3/
layout: base-old
title: 'LinguaTrek | A journey in language learning'
language: en
translation: 
---
<div class="view view-frontpage view-id-frontpage view-display-id-page view-dom-id-1">
<div class="view-content">
<div class="views-row views-row-1 views-row-odd views-row-first">
<div class="node node-story clear-block" id="node-185">
<h2 class="node-title"><a href="/blog/2012/07/thank-you-if-we-get-200-ill-shave-off-my-beard" title="Thank you! If we get 200% - I'll shave off my beard. :-)">Thank you! If we get 200% - I'll shave off my beard. :-)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">9</strong> <strong class="month">Jul</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_9 first"><a href="/tags/bibliobird" rel="tag" title="">BiblioBird</a></li>
<li class="taxonomy_term_84"><a href="/tags/polakpotrafipl" rel="tag" title="">PolakPotrafi.pl</a></li>
<li class="taxonomy_term_31 last"><a href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<p>Two weeks ago, <a href="http://www.linguatrek.com/blog/2012/06/buy-our-product-to-help-us-create-it-our-dream-is-sooo-close">we began</a> the presale of our first paid product on PolakPotrafi.pl. We were able to acheive our original goal of 10.000 PLN (about $2900) in <strong><em>only two days!</em></strong></p>
<p>Because crowdfunding is not very well known or trusted in Poland - this means we actually broke the record for crowdfunding in Poland. For the time being, we are the fasted project funded to 100%. <em>(Hopefully, some other awesome project will beat us in not too long!)</em></p>
<p><strong>There's one more week left in our project and (as <a href="http://www.linguatrek.com/blog/2012/06/presale-at-94-more-opportunities-to-become-a-founding-member">I said</a> a bit ago) I'm adding a new goal</strong>: If we reach 200% or 20.000 PLN (about $5800) by 2012-07-16, I'll shave off my beard. We already have 154%!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/RjYt2xmDjX4?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/RjYt2xmDjX4?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p><strong>The video is in Polish but there are English subtitles (click the "CC" on the bottom right).</strong> <em>I recommend it!</em> My wife and I had a lot of fun recording this one.</p>
<p><strong>Here is our <a href="http://polakpotrafi.pl/projekt/Bibliobird/">project page on PolakPotrafi.pl</a>.</strong> If you want to contribute, but don't speak Polish - check out <a href="http://www.youtube.com/watch?v=-XFEND9dHDg">this video</a>.</p>
<p>Here are the links I mention in the film about the record we broke (in Polish):</p>
<ul>
<li><a href="http://blog.polakpotrafi.pl/post/26131802776/rekordowy-projekt-jezyk-angielski-z-prawdziwego">Rekordowy projekt - "Język angielski z prawdziwego życia"</a>
</li><li><a href="http://crowdfunding.pl/2012/06/29/polacy-na-zagranicznym-portalu-i-obcokrajowcy-na-polskim-portalu/#.T_rKpqScgxU">Polacy na zagranicznym portalu i obcokrajowcy na polskim portalu</a></li>
</ul>
<p><strong>Read more for the transcript!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/07/thank-you-if-we-get-200-ill-shave-off-my-beard#comments" title="Jump to the first comment of this posting.">2 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/07/thank-you-if-we-get-200-ill-shave-off-my-beard" title="Read the rest of Thank you! If we get 200% - I'll shave off my beard. :-).">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F07%2Fthank-you-if-we-get-200-ill-shave-off-my-beard&amp;linkname=Thank%20you%21%20If%20we%20get%20200%25%20-%20I%27ll%20shave%20off%20my%20beard.%20%3A-%29" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
</div>
<div class="views-row views-row-2 views-row-even">
<div class="node node-story clear-block" id="node-183">
<h2 class="node-title"><a href="/blog/2012/07/are-you-getting-too-many-e-mails-from-me-new-subscriber-options" title="Are you getting too many e-mails from me? New subscriber options!">Are you getting too many e-mails from me? New subscriber options!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">5</strong> <strong class="month">Jul</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_34 first last"><a href="/category/linguatrek" rel="tag" title="A meta-tag - when we are talking about LinguaTrek itself.">LinguaTrek</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 152px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/07/angrymail.jpg" rel="lightbox"><img alt="" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/07/angrymail.jpg" title="Photo by D. Sharon Pruitt"/></a><div class="caption"><a href="http://www.flickr.com/photos/pinksherbet/2927494753/">Photo</a> by <a href="http://www.flickr.com/photos/pinksherbet/">D. Sharon Pruitt</a></div></div>
<p>It's recently come to my attention that many people feel that I'm sending too many e-mails to subscribers of this blog. Up until now, an e-mail would get sent for every article I write, on the day I write it.</p>
<p>This became particularly apparent during the <a href="http://www.linguatrek.com/blog/2012/06/buy-our-product-to-help-us-create-it-our-dream-is-sooo-close">presale</a> because many people are only interested in language learning advice and cultural information - not Bibliobird, the presale, or other "personal" articles.</p>
<p><em>(BTW, the presale's going great! I haven't written anything about it recently because I needed to solve this problem first. I'll write something in a few days after people have a chance to update their subscriber options.)</em></p>
<p>So, I'm adding new subscriber options, which will allow you to:</p>
<ul>
<li><strong>Only receive e-mails for articles that have to do with language learning or cultural information.</strong></li>
<li><strong>Receive only a weekly digest of articles - rather than getting an e-mail for every article I write.</strong> I tend to write 1-2 articles a week.</li>
</ul>
<p>If you are a subscriber of this blog and wish to change your options, <a href="http://www.linguatrek.com/options">click here</a> and enter your e-mail address.</p>
<p><strong>It is not my intention to send spam!</strong> If you're a subscriber and you're no longer interested in my blog, you can use <a href="http://linguatrek.us2.list-manage.com/unsubscribe?u=6b5f39a01108c2e0115b129fb&amp;id=490d27bd0c">this link</a> to unsubscribe.  If you have any problems, you can reply to any of the e-mails I've sent you or use the <a href="http://www.linguatrek.com/contact">contact form</a> and I'll help you.</p>
<p><strong>Thanks and sorry for the inconvenience!</strong></p> </div>
<ul class="links inline"><li class="comment_add first"><a href="/comment/reply/183#comment-form" title="Add a new comment to this page.">Add new comment</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F07%2Fare-you-getting-too-many-e-mails-from-me-new-subscriber-options&amp;linkname=Are%20you%20getting%20too%20many%20e-mails%20from%20me%3F%20New%20subscriber%20options%21" id="da2a_2"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
</div>
<div class="views-row views-row-3 views-row-odd">
<div class="node node-story clear-block" id="node-181">
<h2 class="node-title"><a href="/blog/2012/06/presale-at-94-more-opportunities-to-become-a-founding-member" title="Presale at 94%! More opportunities to become a founding member!">Presale at 94%! More opportunities to become a founding member!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">28</strong> <strong class="month">Jun</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_9 first"><a href="/tags/bibliobird" rel="tag" title="">BiblioBird</a></li>
<li class="taxonomy_term_84"><a href="/tags/polakpotrafipl" rel="tag" title="">PolakPotrafi.pl</a></li>
<li class="taxonomy_term_85"><a href="/tags/presale" rel="tag" title="">presale</a></li>
<li class="taxonomy_term_31 last"><a href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/nintyfourpercent.png" rel="lightbox"><img alt="Status on PolakPotrafi" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/nintyfourpercent.png" title=""/></a></div>
<p><strong>Thanks everyone for your support! This has been amazing!</strong></p>
<p>In general, I didn't expect the presale on <a href="http://polakpotrafi.pl/project/Bibliobird">PolakPotrafi</a> would go so well. :-) I also didn't think that the option to become a "founding member" would be so popular!</p>
<p>I ran <a href="http://www.linguatrek.com/blog/2012/06/results-of-the-survey-the-winner-is-very-surprising">a survey</a> a couple weeks ago and I came to the conclusion that the package itself, "Real Life in the USA," would be the most popular and would make the most money.</p>
<p><strong>However, it turned out to be the complete opposite!</strong> The first 20 places to become a founder were bought up within 5 hours of the official start. :-) When I added more, those were bought up in less than a day. I know that if I add more new, they will also be bought very quickly. And the extra money would certainly help us start out!</p>
<p>Unfortunately, when I added more places last time, a few people in the first group were unhappy, because it was supposed to be an exclusive group. They were first so they got the best deal. In a sense it's unfair that the later people got the same deal. <strong><em>I understand that perfectly.</em></strong></p>
<p>So, when I again add more opporutunities, the people in the first and second groups must get something special. Like I said <a href="http://www.linguatrek.com/blog/2012/06/buy-our-product-to-help-us-create-it-our-dream-is-sooo-close#comment-2584">a few</a> <a href="http://www.linguatrek.com/blog/2012/06/buy-our-product-to-help-us-create-it-our-dream-is-sooo-close#comment-2603">times</a> in the comments and in <a href="http://polakpotrafi.pl/projekt/Bibliobird/aktualnosc/79">an update</a> on PolakPotrafi, I seriously cosidered making the price higher for the new people. But after lots of thinking, I decided that maybe that wasn't the best idea.</p>
<p>I don't want to create bad relations in the future between the people in the first two groups and the people in last. Afterall, the people in the third group would pay more (and in a way support the project more), so why should they have a lower status among the founding members? That would also be unfair.</p>
<p><strong>Of course, there must be some limit! We need to have someone to sell the product to in the future. If everyone had lifetime access to everything, we'd have a problem! ;-)</strong></p>
<p>After the presale we aren't ever going to sell founding memberships again - it wouldn't make sense. We'll have to concentrate on creating and selling the products themselves.</p>
<p>However, I think that even 100 founding members would be OK. Looking at the data, if I don't add any new places, will get to 10.000 PLN ($2900) in a week and in the end only a little higher. But if I add some more opportunities to become a founding member, we have a chance to even get twice that! That's why this decision was so hard but also important.</p>
<p>So, I decided on this solution...</p>
<p><strong>Read more to find out what it is! Or visit <a href="http://polakpotrafi.pl/project/Bibliobird">our page</a> on PolakPotrafi to become a founding member!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/06/presale-at-94-more-opportunities-to-become-a-founding-member#comments" title="Jump to the first comment of this posting.">5 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/06/presale-at-94-more-opportunities-to-become-a-founding-member" title="Read the rest of Presale at 94%! More opportunities to become a founding member!.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F06%2Fpresale-at-94-more-opportunities-to-become-a-founding-member&amp;linkname=Presale%20at%2094%25%21%20More%20opportunities%20to%20become%20a%20founding%20member%21" id="da2a_3"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
</div>
<div class="views-row views-row-4 views-row-even">
<div class="node node-story clear-block" id="node-179">
<h2 class="node-title"><a href="/blog/2012/06/buy-our-product-to-help-us-create-it-our-dream-is-sooo-close" title="Buy our product to help us create it! (our dream is sooo close!)">Buy our product to help us create it! (our dream is sooo close!)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">26</strong> <strong class="month">Jun</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_9 first"><a href="/tags/bibliobird" rel="tag" title="">BiblioBird</a></li>
<li class="taxonomy_term_84"><a href="/tags/polakpotrafipl" rel="tag" title="">PolakPotrafi.pl</a></li>
<li class="taxonomy_term_31 last"><a href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/polakpotrafi.png" rel="lightbox"><img alt="Screenshot of PolakPotrafi" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/polakpotrafi.png" title=""/></a></div>
<p>I can't believe our presale is finally happening! Back in January, <a href="http://www.linguatrek.com/blog/2012/03/why-i-almost-shut-down-linguatrek-and-bibliobird-and-our-big-dream">I decided</a> that I was going to try to turn my hobby of helping people learn languages into my job. And I had to give up a lot to do it.</p>
<p>We have until 2012-07-16 in order to raise enough money to create the product. If we don't, all the money will be refunded and we won't create it.</p>
<p><strong>But if the presale of our first paid product is a success, my wife and I will finally acheive our dream!</strong></p>
<p>We're conducting the presale on a Polish crowdfunding website called <strong>PolakPotrafi.pl</strong> (<a href="http://polakpotrafi.pl/projekt/Bibliobird">click here</a> to see our page there).</p>
<p>I chose this site because it has the best payment options for Poles and allows project descriptions in Polish. This makes sense because the first product is aimed at Polish native speakers learning English and they make up the majority of my readers and fans.</p>
<p><strong>But there are plenty of reasons to get involved in the presale even if you aren't Polish or aren't learning English!</strong></p>
<ul>
<li><strong>For 20 PLN (about $6)</strong> you can  get a postcard from the USA.</li>
<li><strong>For 100 PLN (about $30)</strong> you can get access to an exclusive webinar and Q&amp;A; session that I'll do about learning a language on your own. I'll do it twice: once in English and once in Polish.</li>
<li><strong>For 200 PLN (about $60)</strong> you can become a "founding member" of Bibliobird and <strong><em>receive every paid product we ever make in the future!</em></strong> This will include products for learning other languages and for different learner groups. Something for English speakers learning Polish is almost a certainty. ;-) <strong>This is limited to 20 people, so if you're interested, buy right away!</strong> <em>(Update: this sold out almost immediately but I decided to increase the limit by 20 - I won't increase it again so buy quickly if you want to be a "founding member"!)</em></li>
<li>Or maybe you thought my free ebook was useful and just want to give something to thank me!</li>
</ul>
<p><a href="http://polakpotrafi.pl/projekt/Bibliobird">Click here</a> (in Polish!) to learn more or to help us either financially or by spreading the word! Thanks so much!</p>
<p><strong>If you don't speak Polish, click the "Read more" link to see a video I made to show you how to contribute.</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/06/buy-our-product-to-help-us-create-it-our-dream-is-sooo-close#comments" title="Jump to the first comment of this posting.">18 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/06/buy-our-product-to-help-us-create-it-our-dream-is-sooo-close" title="Read the rest of Buy our product to help us create it! (our dream is sooo close!).">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F06%2Fbuy-our-product-to-help-us-create-it-our-dream-is-sooo-close&amp;linkname=Buy%20our%20product%20to%20help%20us%20create%20it%21%20%28our%20dream%20is%20sooo%20close%21%29" id="da2a_4"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
</div>
<div class="views-row views-row-5 views-row-odd">
<div class="node node-story clear-block" id="node-177">
<h2 class="node-title"><a href="/blog/2012/06/the-topic-of-our-paid-product-the-presale-starts-in-a-couple-days" title="The topic of our paid product (the presale starts in a couple days!)">The topic of our paid product (the presale starts in a couple days!)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">22</strong> <strong class="month">Jun</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_9 first"><a href="/tags/bibliobird" rel="tag" title="">BiblioBird</a></li>
<li class="taxonomy_term_84"><a href="/tags/polakpotrafipl" rel="tag" title="">PolakPotrafi.pl</a></li>
<li class="taxonomy_term_31 last"><a href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/reallife_1.png" rel="lightbox"><img alt="American flag, Bibliobird logo and text 'Real Life in the USA'" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/reallife_1.png" title=""/></a></div>
<p><a href="http://www.linguatrek.com/blog/2012/06/finally-our-full-product-idea-i-need-your-help-with-the-price">Two weeks ago</a> I told you about our idea for a paid language learning product. There was a survey about the price and format for this product. A few hundred people filled out the form - thanks so much!</p>
<p><a href="http://www.linguatrek.com/blog/2012/06/results-of-the-survey-the-winner-is-very-surprising">Last week</a> I told the results of the survey and asked for ideas for the topic of the product.</p>
<p>Today I'm just going to give you a short note with the topic we decided on and let you know that the presale is going to start on <strong>Monday, June 25th!</strong> The topic is going to be <strong>"Real Life in the USA"</strong>:</p>
<ul>
<li>There will be texts (and films with transcripts!) about many aspects of life in the USA, for example: work, fun and sport, and other daily activities.</li>
<li>There will be normal articles as well as stories and dialogs!</li>
<li>Some of the materials will be taken directly from real conversations with native speakers.</li>
<li>We'll also talk about immigration, stereotypes and music.</li>
</ul>
<p><strong>Everything will be <strong>in English</strong>, with <strong>native speakers</strong> and prepared to be read, watched and listened to <strong>on <a href="http://www.bibliobird.com">Bibliobird</a>!</strong></strong></p>
<p>I will publish more information on Monday!  <em>Thanks in advance for your support!</em></p> </div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/06/the-topic-of-our-paid-product-the-presale-starts-in-a-couple-days#comments" title="Jump to the first comment of this posting.">6 comments</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F06%2Fthe-topic-of-our-paid-product-the-presale-starts-in-a-couple-days&amp;linkname=The%20topic%20of%20our%20paid%20product%20%28the%20presale%20starts%20in%20a%20couple%20days%21%29" id="da2a_5"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
</div>
<div class="views-row views-row-6 views-row-even">
<div class="node node-story clear-block" id="node-176">
<h2 class="node-title"><a href="/blog/2012/06/traces-of-poland-in-american-movies" title="Traces of Poland in American movies">Traces of Poland in American movies</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">19</strong> <strong class="month">Jun</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_83 first"><a href="/tags/movies" rel="tag" title="">movies</a></li>
<li class="taxonomy_term_33 last"><a href="/category/culture/poland" rel="tag" title="">Poland</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<p><em>Today we have an interesting article from Marcin at <a href="http://www.sprachcaffe.com/english/main.htm">sprachcaffe.com</a>, which offers language courses and camps abroad. It's a mix of tourism and language learning. :-)</em></p>
<p><em>(Note #1: I don't receive any kind of payment for publishing this article or the links to their page - I only received this awesome article!)</em></p>
<p><em>(Note #2: I translated this article from the <a href="http://www.linguatrek.com/blog/2012/06/%C5%9Bladem-polskich-akcent%C3%B3w-w-filmach-ameryka%C5%84skich">original Polish version</a>.)</em></p>
<hr/>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/manwithvideocamera.jpg" rel="lightbox"><img alt="Man with video camera" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/manwithvideocamera.jpg" title="Photo by woodleywonderworks"/></a><div class="caption"><a href="http://www.flickr.com/photos/73645804@N00/3994475649">Photo</a> by <a href="http://www.flickr.com/photos/wwworks/">woodleywonderworks</a></div></div>
<p>We all know that watching films in English helps us learn the language. We also know the surprise that comes with seeing traces of Poland in them!</p>
<p>Any reference to Poland in American films usually suprises Poles... postively or negatively. Here is a quick overview of Polish references found in American films.</p>
<p><strong>Read more to find out about them!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/06/traces-of-poland-in-american-movies#comments" title="Jump to the first comment of this posting.">7 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/06/traces-of-poland-in-american-movies" title="Read the rest of Traces of Poland in American movies.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F06%2Ftraces-of-poland-in-american-movies&amp;linkname=Traces%20of%20Poland%20in%20American%20movies" id="da2a_6"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
</div>
<div class="views-row views-row-7 views-row-odd">
<div class="node node-story clear-block" id="node-173">
<h2 class="node-title"><a href="/blog/2012/06/results-of-the-survey-the-winner-is-very-surprising" title="Results of the survey! (the winner is very surprising)">Results of the survey! (the winner is very surprising)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">16</strong> <strong class="month">Jun</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_31 first last"><a href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/crowd.jpg" rel="lightbox"><img alt="Crowd in New York City" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/crowd.jpg" title="Photo by Gary McCabe"/></a><div class="caption"><a href="http://www.flickr.com/photos/25652598@N06/5217078170">Photo</a> by <a href="http://www.flickr.com/photos/garyisajoke/">Gary McCabe</a></div></div>
<p>Thanks so much to everyone who responded to <a href="http://www.linguatrek.com/blog/2012/06/finally-our-full-product-idea-i-need-your-help-with-the-price">the survey</a> from last Saturday about our upcoming paid language learning product!</p>
<p>The responses were really great for two main reasons:</p>
<p>
<ul>
<li><strong>I was looking for an honest reaction and I got one!</strong> Many people put a lot of emotion into their survey comments. When asking for opinions, there is always the risk that people will just say what the person asking wants to hear. <em>This was not the case with this survey!</em></li>
<li><strong>I was completely surprised by the results!</strong> Every time I do a survey, I have a preconceived idea of how you're going to respond, because, well, I've talked with many of you extensively via the comments, sometimes Skype, and especially e-mail. <em>And every time I'm completely wrong!</em></li>
</ul>
</p><p><strong>Today I'm going to tell you about the results of the survey and the final format and price we've decided on for our upcoming paid language learning product.</strong></p>
<p>Like always, we need YOUR help deciding even more details for the first product!</p>
<p><strong>Read more to find out the results!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/06/results-of-the-survey-the-winner-is-very-surprising#comments" title="Jump to the first comment of this posting.">21 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/06/results-of-the-survey-the-winner-is-very-surprising" title="Read the rest of Results of the survey! (the winner is very surprising).">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F06%2Fresults-of-the-survey-the-winner-is-very-surprising&amp;linkname=Results%20of%20the%20survey%21%20%28the%20winner%20is%20very%20surprising%29" id="da2a_7"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
</div>
<div class="views-row views-row-8 views-row-even">
<div class="node node-story clear-block" id="node-171">
<h2 class="node-title"><a href="/blog/2012/06/learning-a-foreign-language-is-all-about-time" title="Learning a foreign language is all about time!">Learning a foreign language is all about time!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">12</strong> <strong class="month">Jun</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_29 first"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_82 last"><a href="/tags/time" rel="tag" title="">time</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<p><em>Today I have the pleasure of publishing a guest post from Wojtek Ryrych, a long-time reader of my blog and a frequent commenter. He already contributed an article to the blog a few weeks ago when I published <a href="http://www.linguatrek.com/blog/2012/05/czytamy-w-oryginale-wielkie-powie%C5%9Bci-great-material-for-learners-of-english-or-polish">an e-mail</a> from him about a great dual language Polish-English reader that he had recently bought.</em></p>
<p><em>Wojtek is a web developer and designer. You can visit his website at <a href="http://ryrych.pl">ryrych.pl</a>, which is still under construction but he hopes something will appear there soon. As the saying goes, "The cobbler's children have no shoes." :-)</em></p>
<hr/>
<div class="diag align-right" style="float: right; width: 107px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/superman.jpg" rel="lightbox"><img alt="Man dressed as superman" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/superman.jpg" title="Photo by Thomas Hawk"/></a><div class="caption"><a href="http://www.flickr.com/photos/51035555243@N01/6849283819">Photo</a> by <a href="http://www.flickr.com/photos/thomashawk/">Thomas Hawk</a></div></div>
<p>In this short article I would like to share some things with you that many of you probably haven't thought about. I'll tell you a particular truism.</p>
<p>Here it is:</p>
<p><blockquote>To achieve success you have to practice.</blockquote></p>
<p><em>Practice a lot.</em> Some people claim that you have to devote 10,000 hours.</p>
<p><em>Is it true?</em> <strong>Read on!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/06/learning-a-foreign-language-is-all-about-time#comments" title="Jump to the first comment of this posting.">16 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/06/learning-a-foreign-language-is-all-about-time" title="Read the rest of Learning a foreign language is all about time!.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F06%2Flearning-a-foreign-language-is-all-about-time&amp;linkname=Learning%20a%20foreign%20language%20is%20all%20about%20time%21" id="da2a_8"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
</div>
<div class="views-row views-row-9 views-row-odd">
<div class="node node-story clear-block" id="node-167">
<h2 class="node-title"><a href="/blog/2012/06/finally-our-full-product-idea-i-need-your-help-with-the-price" title="Finally - our FULL product idea (I need your help with the price!)">Finally - our FULL product idea (I need your help with the price!)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">9</strong> <strong class="month">Jun</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_31 first last"><a href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<p>In <a href="http://www.linguatrek.com/blog/2012/06/my-next-big-project-after-the-ebook">my last article</a> on Tuesday, I told you about our plan to create a paid language learning product. <strong>But I didn't actually tell you what the product is!</strong></p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/catinbag.jpg" rel="lightbox"><img alt="A cat in a bag" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/catinbag.jpg" title="A cat in a bag! Photo by Freddy."/></a><div class="caption">A cat in a bag! <a href="http://www.flickr.com/photos/41894173046@N01/4060779">Photo</a> by <a href="http://www.flickr.com/photos/freddy/">Freddy</a>.</div></div>
<p>Someone <a href="http://www.linguatrek.com/blog/2012/06/m%C3%B3j-nast%C4%99pny-wielki-projekt-po-ebooku#comment-2260">commented</a> on that article, saying:</p>
<blockquote>
<p>"Polacy zazwyczaj nie kupują kota w worku"</p>
</blockquote>
<p>In English, that's literally: "Poles generally don't buy a <em>cat in a bag.</em>" It means that Poles don't buy something without seeing what it is first. I think intelligent and rational people of all nationalities behave this way. :-)</p>
<p><strong>Sorry for being so mysterious about this!</strong></p>
<p>I wasn't trying to be deceptive; I simply wanted to explain it just right. In fact, I have to warn you in advance that I think this is the <em>longest</em> article I've ever written! It even includes a video to help illustrate the idea.</p>
<p>This project is extremely important to us.  If it's successful, we'll be living our dream!  If not, well ... it's back to the drawing board. :-)</p>
<blockquote>
<p style="font-size: 110%"><strong>Today I'm FINALLY going to explain our FULL idea for the paid language learning product!</strong></p>
<p style="font-size: 110%"><strong>But we need YOUR help deciding many important details for the new product, including what format it will take and the price.</strong></p>
</blockquote>
<p>In this article, I'm going to share EXACTLY what we're thinking (including the potential prices). <strong>Please help us design this product by filling out the survey at the end!</strong></p>
<p><strong>Read more and tell me (honestly!) what you think of our idea!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/06/finally-our-full-product-idea-i-need-your-help-with-the-price#comments" title="Jump to the first comment of this posting.">18 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/06/finally-our-full-product-idea-i-need-your-help-with-the-price" title="Read the rest of Finally - our FULL product idea (I need your help with the price!).">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F06%2Ffinally-our-full-product-idea-i-need-your-help-with-the-price&amp;linkname=Finally%20-%20our%20FULL%20product%20idea%20%28I%20need%20your%20help%20with%20the%20price%21%29" id="da2a_9"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
</div>
<div class="views-row views-row-10 views-row-even views-row-last">
<div class="node node-story clear-block" id="node-164">
<h2 class="node-title"><a href="/blog/2012/06/my-next-big-project-after-the-ebook" title="My next BIG project after the ebook!">My next BIG project after the ebook!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">5</strong> <strong class="month">Jun</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_31 first last"><a href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="en" data-to-lang="pl">
<p>I know that a lot of new people have subscribed to my blog recently. I want to assure you that I <em>usually</em> write articles or record videos with language learning advice or information about Polish or American culture. :-)</p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/06/paandi.jpg" rel="lightbox"><img alt="Me and my Pa at a bar" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/06/paandi.jpg" title="My Pa (father) and I at my wedding reception."/></a><div class="caption">My Pa (father) and I at my wedding reception.</div></div>
<p><strong>Today is going to be something much more personal.</strong></p>
<p>My Pa (father) likes to say:</p>
<blockquote>
<p><strong>Everything takes twice as long as you think it will - even if you take that into account.</strong></p>
</blockquote>
<p>Back in March, <a href="http://www.linguatrek.com/blog/2012/03/our-big-announcement-we-need-your-help">I told you</a> that my wife and I wanted to quit our jobs and work full-time to create a paid language learning product.</p>
<p>To celebrate this HUGE decision and to thank all of you for your continuous support over the years, I decided to write a <a href="http://www.linguatrek.com/blog/2012/04/natural-language-learning-without-a-teacher">FREE ebook</a> about language learning for you. I really thought I'd publish it 2-3 weeks after that announcement, but it wasn't <a href="http://www.linguatrek.com/blog/2012/05/ebook-available-for-e-readers-like-kindle-and-in-polish">completely finished</a> until May 10th (exactly 6 weeks after the initial announcement).</p>
<p><strong><em>It seems my father was right!</em></strong></p>
<p>In general, the ebook project was much more difficult than I thought was going to be.  I was a little disappointed with how long it took.  But when I finally published it, many people were amazed that I accomplished all that in even 6 weeks. :-) It seems they thought it was going to take me even longer!</p>
<p>In any case, I needed a few weeks after the ebook to rest. <strong>But now I'm ready to start talking about our paid product!</strong></p>
<p>I can't wait to hear what you think!  Please read this article and tell me honestly if this is something you'd be interested in.</p>
<p><strong>Read more to learn about our upcoming paid language learning product!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/06/my-next-big-project-after-the-ebook#comments" title="Jump to the first comment of this posting.">32 comments</a></li>
<li class="node_read_more"><a href="/blog/2012/06/my-next-big-project-after-the-ebook" title="Read the rest of My next BIG project after the ebook!.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F06%2Fmy-next-big-project-after-the-ebook&amp;linkname=My%20next%20BIG%20project%20after%20the%20ebook%21" id="da2a_10"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
</div>
</div>
<div class="item-list"><ul class="pager"><li class="pager-first first"><a class="active" href="/" title="Go to first page">« first</a></li>
<li class="pager-previous"><a class="active" href="/home-page-2" title="Go to previous page">‹ previous</a></li>
<li class="pager-item"><a class="active" href="/" title="Go to page 1">1</a></li>
<li class="pager-item"><a class="active" href="/home-page-1" title="Go to page 2">2</a></li>
<li class="pager-item"><a class="active" href="/home-page-2" title="Go to page 3">3</a></li>
<li class="pager-current">4</li>
<li class="pager-item"><a class="active" href="/home-page-4" title="Go to page 5">5</a></li>
<li class="pager-item"><a class="active" href="/home-page-5" title="Go to page 6">6</a></li>
<li class="pager-item"><a class="active" href="/home-page-6" title="Go to page 7">7</a></li>
<li class="pager-item"><a class="active" href="/home-page-7" title="Go to page 8">8</a></li>
<li class="pager-item"><a class="active" href="/home-page-8" title="Go to page 9">9</a></li>
<li class="pager-ellipsis">…</li>
<li class="pager-next"><a class="active" href="/home-page-4" title="Go to next page">next ›</a></li>
<li class="pager-last last"><a class="active" href="/home-page-17" title="Go to last page">last »</a></li>
</ul></div>
</div>

