---
permalink: /home-page-13/
layout: base-old
title: 'LinguaTrek | A journey in language learning'
language: en
translation: 
---
<div class="view view-frontpage view-id-frontpage view-display-id-page view-dom-id-1">
<div class="view-content">
<div class="views-row views-row-1 views-row-odd views-row-first">
<div class="node node-story clear-block" id="node-4">
<h2 class="node-title"><a href="/blog/2010/11/american-music-cracker-big-dipper" title="American Music: Cracker - Big Dipper">American Music: Cracker - Big Dipper</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">2</strong> <strong class="month">Nov</strong> <strong class="year">2010</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="http://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Read this text with BiblioBird!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_2 first"><a href="/category/language-learning/learn-english" rel="tag" title="">learn English</a></li>
<li class="taxonomy_term_5 last"><a href="/tags/music" rel="tag" title="">music</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/default/files/imagecache/Large/image/2010/11/david_lowery.jpg" rel="lightbox"><img alt="Man on stage playing guitar." src="http://www.linguatrek.com/sites/default/files/imagecache/Small/image/2010/11/david_lowery.jpg" title="David Lowery of Cracker (singer, guitarist, song writer)"/></a><div class="caption">David Lowery of Cracker (singer, guitarist, song writer)</div></div>
<p>One of my favorite American bands is <a href="http://en.wikipedia.org/wiki/Cracker_%28band%29">Cracker</a>.  They have an <a href="http://en.wikipedia.org/wiki/Alternative_rock">alternative rock</a> sound mixed with some <a href="http://en.wikipedia.org/wiki/Country_music">country</a> stylings and intelligent but frequently funny lyrics.  "Big Dipper" is a sad song but one of my favorites.  Listen to the video and read the lyrics below!</p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2010/11/american-music-cracker-big-dipper#comments" title="Jump to the first comment of this posting.">3 comments</a></li>
<li class="node_read_more"><a href="/blog/2010/11/american-music-cracker-big-dipper" title="Read the rest of American Music: Cracker - Big Dipper.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2010%2F11%2Famerican-music-cracker-big-dipper&amp;linkname=American%20Music%3A%20Cracker%20-%20Big%20Dipper" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
</div>
<div class="views-row views-row-2 views-row-even">
<div class="node node-story clear-block" id="node-3">
<h2 class="node-title"><a href="/blog/2010/11/wszystkich-%C5%9Bwi%C4%99tych-w-polsce" title="Wszystkich Świętych w Polsce">Wszystkich Świętych w Polsce</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">1</strong> <strong class="month">Nov</strong> <strong class="year">2010</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="http://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Read this text with BiblioBird!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_39 first"><a href="/tags/all-saints-day" rel="tag" title="">All Saints Day</a></li>
<li class="taxonomy_term_40"><a href="/tags/all-souls-day" rel="tag" title="">All Souls Day</a></li>
<li class="taxonomy_term_6"><a href="/tags/holidays" rel="tag" title="">holidays</a></li>
<li class="taxonomy_term_33 last"><a href="/category/culture/poland" rel="tag" title="">Poland</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/default/files/imagecache/Large/image/2010/11/all_saints_day.jpg" rel="lightbox"><img alt="Nocą w cmentarzu, znicze na grobach, kobieta stoi tyłem do nas" src="http://www.linguatrek.com/sites/default/files/imagecache/Small/image/2010/11/all_saints_day.jpg" title="Wszystkich Świętych (Oświęcim, 1984).  Autor zdjęcia: John Thaxter."/></a><div class="caption">Wszystkich Świętych (Oświęcim, 1984).  Autor <a href="http://pl.wikipedia.org/w/index.php?title=Plik:All_Saints_Day,_1984,_Oswiecim,_Poland_Img871.jpg">zdjęcia</a>: <a href="http://commons.wikimedia.org/wiki/User:John_Thaxter">John Thaxter</a>.</div></div>
<p><strong>Zaadaptowany od <a href="http://pl.wikipedia.org/wiki/Wszystkich_%C5%9Awi%C4%99tych#Wsp.C3.B3.C5.82czesno.C5.9B.C4.87">artykułu na Wikipedii</a>:</strong></p>
<blockquote>
<p>Pierwszy dzień listopada jest w Polsce <a href="http://pl.wikipedia.org/wiki/Dni_wolne_od_pracy" title="Dni wolne od pracy">dniem wolnym od pracy</a>, co powoduje, że wiele osób podróżuje nawet na wielkie odległości, aby odwiedzić groby swoich bliskich. Ludzie odwiedzają <a href="http://pl.wikipedia.org/wiki/Cmentarz" title="Cmentarz">cmentarze</a>, aby ozdobić groby kwiatami, zapalić znicze i <a href="http://pl.wikipedia.org/wiki/Modlitwa" title="Modlitwa">pomodlić się</a> w intencji swoich zmarłych. To święto ma charakter religijny, głównie katolicki, ale dobrym zwyczajem obchodzi je także wiele osób innych wyznań, albo nie wyznających żadnej religii. Jest to wyrazem <a href="http://pl.wikipedia.org/wiki/Pami%C4%99%C4%87" title="Pamięć">pamięci</a> oraz oddania czci i szacunku zmarłym.</p>
</blockquote> </div>
<ul class="links inline"><li class="comment_add first"><a href="/comment/reply/3#comment-form" title="Add a new comment to this page.">Add new comment</a></li>
<li class="node_read_more"><a href="/blog/2010/11/wszystkich-%C5%9Bwi%C4%99tych-w-polsce" title="Read the rest of Wszystkich Świętych w Polsce.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2010%2F11%2Fwszystkich-%25C5%259Bwi%25C4%2599tych-w-polsce&amp;linkname=Wszystkich%20%C5%9Awi%C4%99tych%20w%20Polsce" id="da2a_2"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
</div>
<div class="views-row views-row-3 views-row-odd views-row-last">
<div class="node node-story clear-block" id="node-2">
<h2 class="node-title"><a href="/blog/2010/10/halloween-adults" title="Halloween for Adults!">Halloween for Adults!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">31</strong> <strong class="month">Oct</strong> <strong class="year">2010</strong></span>
<div class="bibliobird-has-annotation">
<img alt="BiblioBird" src="http://en.bibliobird.com/iconSmall2.png"/>
<div class="caption">Read this text with BiblioBird!</div>
</div>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_41 first"><a href="/tags/halloween" rel="tag" title="">Halloween</a></li>
<li class="taxonomy_term_6"><a href="/tags/holidays" rel="tag" title="">holidays</a></li>
<li class="taxonomy_term_32 last"><a href="/category/culture/usa" rel="tag" title="">USA</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-left" style="float: left; width: 160px; margin: 10px 10px 10px 0"><a href="http://www.linguatrek.com/sites/default/files/imagecache/Large/image/2010/10/halloween-2010-01.jpg" rel="lightbox"><img alt="Adults dressed in costumes." src="http://www.linguatrek.com/sites/default/files/imagecache/Small/image/2010/10/halloween-2010-01.jpg" title="Adults at a Halloween costume party."/></a><div class="caption">Adults at a Halloween costume party.</div></div>
<p><a href="http://en.wikipedia.org/wiki/Halloween">Halloween</a> has always been one of my favorite holidays.  Kids get to dress up as superheroes, ghosts or monsters, go door-to-door with their friends saying "Trick or Treat" and get lots of candy.  What kid wouldn't love that?  Frequently, when we were children, I dressed up as a knight with a shield and sword and my sister dressed up as a princess.</p>
<p>But Halloween isn't only for children!</p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2010/10/halloween-adults#comments" title="Jump to the first comment of this posting.">2 comments</a></li>
<li class="node_read_more"><a href="/blog/2010/10/halloween-adults" title="Read the rest of Halloween for Adults!.">Read more</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2010%2F10%2Fhalloween-adults&amp;linkname=Halloween%20for%20Adults%21" id="da2a_3"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
</div>
</div>
<div class="item-list"><ul class="pager"><li class="pager-first first"><a class="active" href="/" title="Go to first page">« first</a></li>
<li class="pager-previous"><a class="active" href="/home-page-12" title="Go to previous page">‹ previous</a></li>
<li class="pager-ellipsis">…</li>
<li class="pager-item"><a class="active" href="/home-page-5" title="Go to page 6">6</a></li>
<li class="pager-item"><a class="active" href="/home-page-6" title="Go to page 7">7</a></li>
<li class="pager-item"><a class="active" href="/home-page-7" title="Go to page 8">8</a></li>
<li class="pager-item"><a class="active" href="/home-page-8" title="Go to page 9">9</a></li>
<li class="pager-item"><a class="active" href="/home-page-9" title="Go to page 10">10</a></li>
<li class="pager-item"><a class="active" href="/home-page-10" title="Go to page 11">11</a></li>
<li class="pager-item"><a class="active" href="/home-page-11" title="Go to page 12">12</a></li>
<li class="pager-item"><a class="active" href="/home-page-12" title="Go to page 13">13</a></li>
<li class="pager-current last">14</li>
</ul></div>
</div>

