---
permalink: /home-page-5/
layout: base-old
title: 'LinguaTrek | A journey in language learning'
language: pl
translation: 
---
<div class="view view-frontpage view-id-frontpage view-display-id-page view-dom-id-1">
<div class="view-content">
<div class="views-row views-row-1 views-row-odd views-row-first">
<div class="node node-story clear-block" id="node-143">
<h2 class="node-title"><a href="/blog/2012/04/vlog-napisz%C4%99-darmowy-ebook-i-cud-wielkanocny" title="Vlog: Napiszę darmowy ebook (i cud wielkanocny!)">Vlog: Napiszę darmowy ebook (i cud wielkanocny!)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">12</strong> <strong class="month">kwi</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_25 first"><a href="/tags/ebook" rel="tag" title="">ebook</a></li>
<li class="taxonomy_term_29"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_4 last"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="pl" data-to-lang="en">
<p><strong>Ten filmik jest kontynuacją <a href="http://www.linguatrek.com/blog/2012/04/vlog-naturalna-nauka-j%C4%99zyka-bez-nauczyciela">tego filmiku</a> z dnia 2012-04-06.</strong></p>
<p>Dzisiaj mówię o wynikach ankiety - napiszę darmowy ebook, o którym mówiłem w ostatnim filmiku! Był cud wielkanocny!</p>
<p>Podaję parę szczegółów: kiedy zamierzam go skończyć, itd. Zapraszam do oglądania!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/dkiEEZ1HW-Q?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/dkiEEZ1HW-Q?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Jeśli chcesz dostać mój ebook, kiedy jest skonczony, proszę <a href="http://www.linguatrek.com/subscribe">zasubskrybuj mój blog</a>!</p>
<p>Proszę podaj mi poprawki <a href="http://lang-8.com/10069/journals/1419423/Vlog%253A-Cud-wielkanocny-napisz%25C4%2599-darmowy-ebook%2521">w serwisie Lang-8</a>!</p>
<p><strong>Czytaj transkrypcję poniżej!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/04/vlog-napisz%C4%99-darmowy-ebook-i-cud-wielkanocny#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">8 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2012/04/vlog-napisz%C4%99-darmowy-ebook-i-cud-wielkanocny" title="Wyświetla dalszą część wpisu Vlog: Napiszę darmowy ebook (i cud wielkanocny!).">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F04%2Fvlog-napisz%25C4%2599-darmowy-ebook-i-cud-wielkanocny&amp;linkname=Vlog%3A%20Napisz%C4%99%20darmowy%20ebook%20%28i%20cud%20wielkanocny%21%29" id="da2a_1"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
</span></li>
</ul></div>
</div>
<div class="views-row views-row-2 views-row-even">
<div class="node node-story clear-block" id="node-141">
<h2 class="node-title"><a href="/blog/2012/04/vlog-naturalna-nauka-j%C4%99zyka-bez-nauczyciela" title="Vlog: Naturalna nauka języka (bez nauczyciela!)">Vlog: Naturalna nauka języka (bez nauczyciela!)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">6</strong> <strong class="month">kwi</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_25 first"><a href="/tags/ebook" rel="tag" title="">ebook</a></li>
<li class="taxonomy_term_29"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_4 last"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="pl" data-to-lang="en">
<p><strong>Ten filmik jest kontynuacją <a href="http://www.linguatrek.com/blog/2012/03/vlog-nasze-wielkie-og%C5%82oszenie-i-potrzebujemy-waszej-pomocy">tego filmiku</a> z dnia 2012-03-29.</strong></p>
<p>W tym filmiku opisuję temat, który wybrałem dla darmowego ebooku, który chciałbym napisać - i chcę dowiedzieć się, czy go chcesz czy nie!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/cuc-WjlQ0Xg?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/cuc-WjlQ0Xg?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Już wiem, że dość dużo osób jest zainteresowane <u>jakimś ebookiem</u> ode mnie. Ale wszyscy chcieli ebook na inne tematy.</p>
<p><strong>Proszę <a href="http://www.linguatrek.com/node/140">wypełnij tę NOWĄ ankietę</a> jeśli jesteś zainteresowany WŁAŚNIE TYM ebookiem!</strong> Pamiętaj, że tylko go stworzę, jeśli dość dużo osób go chce!</p>
<p>Proszę podaj mi poprawki <a href="http://lang-8.com/10069/journals/1408656/Vlog%253A-Naturalna-nauka-j%25C4%2599zyka-%2528bez-nauczyciela%2529">w serwisie Lang-8</a>.</p>
<p><strong>Czytaj transkrypcję poniżej!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/04/vlog-naturalna-nauka-j%C4%99zyka-bez-nauczyciela#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">10 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2012/04/vlog-naturalna-nauka-j%C4%99zyka-bez-nauczyciela" title="Wyświetla dalszą część wpisu Vlog: Naturalna nauka języka (bez nauczyciela!).">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F04%2Fvlog-naturalna-nauka-j%25C4%2599zyka-bez-nauczyciela&amp;linkname=Vlog%3A%20Naturalna%20nauka%20j%C4%99zyka%20%28bez%20nauczyciela%21%29" id="da2a_2"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
</div>
<div class="views-row views-row-3 views-row-odd">
<div class="node node-story clear-block" id="node-137">
<h2 class="node-title"><a href="/blog/2012/03/vlog-nasze-wielkie-og%C5%82oszenie-i-potrzebujemy-waszej-pomocy" title="Vlog: Nasze wielkie ogłoszenie (i potrzebujemy Waszej pomocy!)">Vlog: Nasze wielkie ogłoszenie (i potrzebujemy Waszej pomocy!)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">29</strong> <strong class="month">mar</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_25 first"><a href="/tags/ebook" rel="tag" title="">ebook</a></li>
<li class="taxonomy_term_4"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
<li class="taxonomy_term_31 last"><a href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="pl" data-to-lang="en">
<p><strong>Ten filmik jest kontynuacją <a href="http://www.linguatrek.com/blog/2012/03/vlog-dlaczego-o-ma%C5%82o-nie-przesta%C5%82em-blogowa%C4%87-i-nasze-wielkie-marzenie">tego filmiku</a> z dnia 2012-03-27.</strong></p>
<p>Najpierw chciałbym podziękować wszystkim za życzenia urodzinowe dla mojej żony! Przetłumaczyłem dla niej wszystkie po polsku na angielski i wiele dla niej znaczyło.</p>
<p><em>Dziękujęmy bardzo!</em></p>
<p><strong>Wreszcie przyszedł czas na nasze wielkie ogłoszenie! Zapraszam do oglądania!</strong></p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/dkGlsBPa4U0?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/dkGlsBPa4U0?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p><strong>Proszę <a href="http://www.linguatrek.com/node/135">wypełnij tę ankietę</a> jeśli jesteś zainteresowany ebookiem!</strong> Pamiętaj, że tylko go stworzę, jeśli dość dużo osób go chce!</p>
<p>Proszę podaj mi poprawki <a href="http://lang-8.com/10069/journals/1393247/Vlog%253A-Nasze-wielkie-og%25C5%2582oszenie-%2528i-potrzebujemy-Waszej-pomocy%2521%2529">w serwisie Lang-8</a>.</p>
<p><strong>Czytaj transkrypcję poniżej!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/03/vlog-nasze-wielkie-og%C5%82oszenie-i-potrzebujemy-waszej-pomocy#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">16 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2012/03/vlog-nasze-wielkie-og%C5%82oszenie-i-potrzebujemy-waszej-pomocy" title="Wyświetla dalszą część wpisu Vlog: Nasze wielkie ogłoszenie (i potrzebujemy Waszej pomocy!).">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F03%2Fvlog-nasze-wielkie-og%25C5%2582oszenie-i-potrzebujemy-waszej-pomocy&amp;linkname=Vlog%3A%20Nasze%20wielkie%20og%C5%82oszenie%20%28i%20potrzebujemy%20Waszej%20pomocy%21%29" id="da2a_3"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
</div>
<div class="views-row views-row-4 views-row-even">
<div class="node node-story clear-block" id="node-134">
<h2 class="node-title"><a href="/blog/2012/03/vlog-dlaczego-o-ma%C5%82o-nie-przesta%C5%82em-blogowa%C4%87-i-nasze-wielkie-marzenie" title="Vlog: Dlaczego o mało nie przestałem blogować (i nasze wielkie marzenie!)">Vlog: Dlaczego o mało nie przestałem blogować (i nasze wielkie marzenie!)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">27</strong> <strong class="month">mar</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_4 first"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
<li class="taxonomy_term_31 last"><a href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="pl" data-to-lang="en">
<p>Zwykle nagrywam filmiki na temat nauki języków obcych albo kultury amerykańskiej. Zawsze są trochę osobiste.</p>
<p>Opowiadałem historie o tym <a href="http://www.linguatrek.com/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego">jak nauczyłem się języka polskiego</a> wiele wiele razy - na przykład tydzień temu kiedy nagrałem <a href="http://www.linguatrek.com/blog/2012/03/o-mnie-i-mojej-misji">filmik „O mnie”</a>.</p>
<p><strong>Ale dzisiejszy filmik będzie bardziej osobisty niż kiedykolwiek wcześniej!</strong></p>
<p>Od początku tego roku <a href="http://www.linguatrek.com/blog/2012/02/vlog-zasubskrybuj-m%C3%B3j-blog-i-dosta%C5%84-prezent">robiłem aluzje</a>, że mamy jakieś duże plany i ...</p>
<p style="font-size: 110%; text-align: center;"><strong>Wreszcie przyszedł czas, żeby podzielić się nimi z Wami!</strong></p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/rQ5PUw7A1Jc?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/rQ5PUw7A1Jc?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Proszę podaj mi poprawki <a href="http://lang-8.com/10069/journals/1388429/Vlog%253A-Dlaczego-o-ma%25C5%2582o-nie-przesta%25C5%2582em-blogowa%25C4%2587-%2528i-nasze-wielkie-marzenie%2521%2529">w serwisie Lang-8</a>.</p>
<p><em>PS: Dzisiaj są urodziny mojej żony! Proszę życzcie jej wszystkiego najlepszego z tej okazji w komentarzach! ;-)</em></p>
<p><strong>Czytaj transkrypcję poniżej!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/03/vlog-dlaczego-o-ma%C5%82o-nie-przesta%C5%82em-blogowa%C4%87-i-nasze-wielkie-marzenie#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">11 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2012/03/vlog-dlaczego-o-ma%C5%82o-nie-przesta%C5%82em-blogowa%C4%87-i-nasze-wielkie-marzenie" title="Wyświetla dalszą część wpisu Vlog: Dlaczego o mało nie przestałem blogować (i nasze wielkie marzenie!).">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F03%2Fvlog-dlaczego-o-ma%25C5%2582o-nie-przesta%25C5%2582em-blogowa%25C4%2587-i-nasze-wielkie-marzenie&amp;linkname=Vlog%3A%20Dlaczego%20o%20ma%C5%82o%20nie%20przesta%C5%82em%20blogowa%C4%87%20%28i%20nasze%20wielkie%20marzenie%21%29" id="da2a_4"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
</div>
<div class="views-row views-row-5 views-row-odd">
<div class="node node-story clear-block" id="node-133">
<h2 class="node-title"><a href="/blog/2012/03/vlog-dzi%C4%99kuj%C4%99-i-zapraszam-na-rozmowy-po-angielsku" title="Vlog: Dziękuję i zapraszam na rozmowy po angielsku">Vlog: Dziękuję i zapraszam na rozmowy po angielsku</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">24</strong> <strong class="month">mar</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_2 first"><a href="/category/language-learning/learn-english" rel="tag" title="">learn English</a></li>
<li class="taxonomy_term_4 last"><a href="/tags/vlog" rel="tag" title="">vlog</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<p>Tylko chciałbym podziękować wszystkim za świetną odpowiedź na mój ostatni blog i filmik. I zapraszam Was na nasze <a href="http://pl.bibliobird.com/wiki/Harmonogram_spotka%25C5%2584_po_angielsku">cotygodniowe rozmowy po angielsku</a> na Bibliobirdzie.</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/dJFEteuQWdY?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/dJFEteuQWdY?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Oto jest <a href="http://pl.bibliobird.com/wiki/Harmonogram_spotka%25C5%2584_po_angielsku">harmonogram spotkań</a> na czacie głosowym i <a href="http://pl.bibliobird.com/wiki/Czat_g%25C5%2582osowy">instrukcje</a>, żeby połączyć się z serwerem.</p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/03/vlog-dzi%C4%99kuj%C4%99-i-zapraszam-na-rozmowy-po-angielsku#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">13 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2012/03/vlog-dzi%C4%99kuj%C4%99-i-zapraszam-na-rozmowy-po-angielsku" title="Wyświetla dalszą część wpisu Vlog: Dziękuję i zapraszam na rozmowy po angielsku.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F03%2Fvlog-dzi%25C4%2599kuj%25C4%2599-i-zapraszam-na-rozmowy-po-angielsku&amp;linkname=Vlog%3A%20Dzi%C4%99kuj%C4%99%20i%20zapraszam%20na%20rozmowy%20po%20angielsku" id="da2a_5"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
</div>
<div class="views-row views-row-6 views-row-even">
<div class="node node-story clear-block" id="node-130">
<h2 class="node-title"><a href="/blog/2012/03/o-mnie-i-mojej-misji" title="O mnie (i mojej misji)">O mnie (i mojej misji)</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">20</strong> <strong class="month">mar</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_31 first last"><a href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="pl" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/03/me.jpg" rel="lightbox"><img alt="Portret Davida" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/03/me.jpg" title=""/></a></div>
<p><strong>Właśnie zdałem sobie sprawę, że nie mam żadnej strony na moim blogu, na której naprawdę przedstawiam się i wyjaśniam dlaczego robię to co robię. :-)</strong></p>
<p>Piszę artykuły i nagrywam filmiki o nauce języków i kulturze amerykańskiej i polskiej od ponad trzech lat, i jeśli je śledziłeś/aś, znasz już całą moją historię - <em>ale nie wiesz dlaczego to robię!</em></p>
<p><strong>(Specjalnie dla długoletnich fanów: w pełnym artykule jest zdjęcie, na którym mam długie włosy! Zapraszam!)</strong></p>
<p>Jeśli mnie nie znasz, oto jest mój krótki, <em>oficjalny</em> profil:</p>
<blockquote>
<p>David Snopek jest amerykańskim przedsiębiorcą, programistą oraz nauczycielem i uczącym się języków obcych, który urodził się i wychował się w Milwaukee w stanie Wisconsin. Chociaż ma polskie nazwisko (dzięki dalekim polskim przodkom, którzy wyemigrowali do USA ok. 100 lat temu), dorósł mówiąc tylko w jednym języku: angielskim.</p>
<p>W końcu jako dorosłemu udało mu się dojść do całkiem wysokiego poziomu w nauce j.polskiego, korzystając z nietradycyjnej metody. Zainspirowany tym sukcesem, stworzył <a href="http://www.linguatrek.com/">Linguatrek</a>, blog na którym dzieli się swoim doświadczeniem i <a href="http://pl.bibliobird.com">Bibliobird</a>, aplikację internetową, która pomaga Polakom w nauce j. angielskiego.</p>
</blockquote>
<p><strong>Pierwotnie nie chciałem napisać tego artykułu bo wiedziałem, że będę musiał opowiedzieć o "mojej misji".</strong></p>
<p>Prawdę mówiąc rzeczywiście <em>mam misję</em>.  Obawiałem się jednak ogłaszania jej publicznie. Duże korporacje i politycy mają misje. I mówiąc delikatnie, zwykle są to same <em>bzdury</em> (chciałem napisać słowo na "g" ;-)).</p>
<p>Martwiłem się, że pomyślicie, że moja misja również jest bzdurą.  Ale nauka języków jest <a href="http://www.linguatrek.com/blog/2012/01/vlog-skupianie-si%C4%99-na-tym-co-jest-dla-mnie-wa%C5%BCne">moją prawdziwą pasją</a> i czułem, że wreszcie przyszedł czas, żeby podzielić się tym z Wami.</p>
<p><strong>Czytaj dalej aby dowiedzieć się więcej o mojej misji!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/03/o-mnie-i-mojej-misji#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">285 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2012/03/o-mnie-i-mojej-misji" title="Wyświetla dalszą część wpisu O mnie (i mojej misji).">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F03%2Fo-mnie-i-mojej-misji&amp;linkname=O%20mnie%20%28i%20mojej%20misji%29" id="da2a_6"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
</div>
<div class="views-row views-row-7 views-row-odd">
<div class="node node-story clear-block" id="node-128">
<h2 class="node-title"><a href="/blog/2012/03/british-vs-american-english" title="British vs. American English">British vs. American English</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">13</strong> <strong class="month">mar</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_70 first"><a href="/tags/american-english" rel="tag" title="">American English</a></li>
<li class="taxonomy_term_71"><a href="/tags/british-english" rel="tag" title="">British English</a></li>
<li class="taxonomy_term_2 last"><a href="/category/language-learning/learn-english" rel="tag" title="">learn English</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/03/americaengland.jpg" rel="lightbox"><img alt="American and English flags" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/03/americaengland.jpg" title="Photo by Alf"/></a><div class="caption"><a href="http://www.flickr.com/photos/98765712@N00/3974127808">Photo</a> by <a href="http://www.flickr.com/photos/ellyll/">Alf</a></div></div>
<p>I frequently receive emails or comments like:</p>
<blockquote><p>I just started learning English but it's British English.  Will I have trouble communicating with someone from the USA?  Can you easily understand British people?  What is the difference between American and British English?</p></blockquote>
<p>It's true that there are lots of dialects (I wrote about <a href="http://www.linguatrek.com/blog/2011/02/milwaukee-wisconsin-unique-english-dialect">my dialect</a> a while back), accents and other <a href="http://en.wikipedia.org/wiki/World_Englishes">variations of English</a> (ex. creoles, such as Jamaican).</p>
<p>But is the variation of English that you learn important?</p>
<p><strong>Read more for my response!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/03/british-vs-american-english#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">37 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2012/03/british-vs-american-english" title="Wyświetla dalszą część wpisu British vs. American English.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F03%2Fbritish-vs-american-english&amp;linkname=British%20vs.%20American%20English" id="da2a_7"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
</div>
<div class="views-row views-row-8 views-row-even">
<div class="node node-story clear-block" id="node-127">
<h2 class="node-title"><a href="/blog/2012/03/email-problem-i-need-your-help" title="Email problem - I need your help!">Email problem - I need your help!</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">8</strong> <strong class="month">mar</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_31 first last"><a href="/category/personal" rel="tag" title="">personal</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/03/mail.jpg" rel="lightbox"><img alt="Letters on a table" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/03/mail.jpg" title="Everyone loves to get mail! Photo by Donovan Beeson."/></a><div class="caption">Everyone loves to get mail! <a href="http://www.flickr.com/photos/79334698@N00/5527935353">Photo</a> by <a href="http://www.flickr.com/people/donovan_beeson/">Donovan Beeson</a>.</div></div>
<p><strong>I love receiving emails and comments from <a href="http://www.linguatrek.com/blog/2011/02/milwaukee-wisconsin-unique-english-dialect">yous guys</a>!</strong></p>
<p>It's great to hear about your language learning journeys and to help when I can!  Language learning is my passion and I want to help as many people succeed as possible.</p>
<p><strong>That's why I try to respond to every single email and comment</strong> - if nothing else to let you know that I'm listening and I appreciate it.</p>
<p>The problem is that lately I've been getting <a href="http://pl.bibliobird.com/node/8366">so many</a> that I'm having trouble finding time to respond to them all.</p>
<p><strong>In fact, I spend 1-2 hours per day just responding to emails and comments but I still haven't responded to messages from as far back as <em>March 2nd (6 days ago)</em>.</strong></p>
<p>It's gotten to a point where, not only is it nearly impossible to catch up - but I'm having trouble finding time to write new articles, record new videos and improve <a href="http://www.bibliobird.com">Bibliobird</a>.</p>
<p>I have a few ideas about how to fix this but I want to hear your ideas and make sure that you're OK with whatever I decide.</p>
<p><strong>I need your help!  Please read the rest of this article and leave a comment!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/03/email-problem-i-need-your-help#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">21 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2012/03/email-problem-i-need-your-help" title="Wyświetla dalszą część wpisu Email problem - I need your help!.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F03%2Femail-problem-i-need-your-help&amp;linkname=Email%20problem%20-%20I%20need%20your%20help%21" id="da2a_8"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
</div>
<div class="views-row views-row-9 views-row-odd">
<div class="node node-story clear-block" id="node-126">
<h2 class="node-title"><a href="/blog/2012/03/do-i-need-to-understand-everything" title="Do I need to understand everything?">Do I need to understand everything?</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">6</strong> <strong class="month">mar</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_29 first"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
<li class="taxonomy_term_36 last"><a href="/tags/method" rel="tag" title="">method</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 120px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/03/legoland.jpg" rel="lightbox"><img alt="Giant lego globe" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/03/legoland.jpg" title="Photo by Tim Bradshaw"/></a><div class="caption"><a href="http://www.flickr.com/photos/18353284@N00/276376336">Photo</a> by <a href="http://www.flickr.com/photos/timbradshaw/">Tim Bradshaw</a></div></div>
<p><a href="http://www.linguatrek.com/blog/2010/12/harry-potter-the-book-that-taught-me-polish">My method</a> for learning Polish involved mainly reading and listening to books in Polish.  There are <a href="http://www.linguatrek.com/blog/2011/03/the-three-ingredients-for-successful-language-learning#effective-method">many variations</a> on this method that involve the use of movies, podcasts or even video games instead of books.</p>
<p>As long as the method focuses on <em>understanding</em> real language and there is some <a href="http://www.linguatrek.com/blog/2012/01/the-importance-of-listening">listening component</a> - it will be very effective.</p>
<p><strong>The main challenge is <em>understanding</em> this language when you are still learning (especially <a href="http://www.linguatrek.com/blog/2012/01/how-to-listen-effectively">listening</a>).</strong></p>
<p>Lately, I've been receiving a lot of emails that say something like:</p>
<blockquote>
<p>When we are listening to podcasts (for example), do you think it's worth it to try and understand as much as possible?  Should we listen to the same recording over and over until we understand everything?</p>
</blockquote>
<p><strong>Read more for my response!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/03/do-i-need-to-understand-everything#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">16 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2012/03/do-i-need-to-understand-everything" title="Wyświetla dalszą część wpisu Do I need to understand everything?.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F03%2Fdo-i-need-to-understand-everything&amp;linkname=Do%20I%20need%20to%20understand%20everything%3F" id="da2a_9"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
</div>
<div class="views-row views-row-10 views-row-even views-row-last">
<div class="node node-story clear-block" id="node-125">
<h2 class="node-title"><a href="/blog/2012/02/how-to-become-a-self-directed-language-learner" title="How to become a self-directed language learner">How to become a self-directed language learner</a></h2>
<div class="side-icons">
<span class="node-date"><strong class="day">28</strong> <strong class="month">lut</strong> <strong class="year">2012</strong></span>
</div>
<div class="terms terms-inline"><ul class="links inline"><li class="taxonomy_term_29 first last"><a href="/category/language-learning" rel="tag" title="">language learning</a></li>
</ul></div>
<div class="content bibliobird-content" data-from-lang="" data-to-lang="en">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2012/02/gettingstarted.png" rel="lightbox"><img alt="Cover and ad for the guide" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2012/02/gettingstarted.png" title=""/></a></div>
<p><strong>Most people associate language learning with school and a classroom and - above all - with a teacher.</strong></p>
<p>When you're taking a traditional course, the teacher <em>guides</em> you through the language: "Today, we're going to work on the past tense.  Next week, there is going to be a test.  You need to work on your pronunciation of the <em>th</em> sound."</p>
<p>The student is passive and just along for the ride.  This can be both good and bad.</p>
<p>On the positive side, everything is planned for you - you don't need to worry about finding good resources.  You also have a great source of advice and feedback.</p>
<p>But on the negative side:</p>
<ul>
<li>The topics might not be connected with your personal needs and interests - it could be boring</li>
<li>The course might move too quickly or too slowly</li>
<li>There tends to be too much focus on what is easy to test or evaluate, i.e. grammar</li>
</ul>
<p><strong>And let's face it: some people just don't learn well in classrooms!</strong> A few might excel in this environment, but the rest learn better from experience and self-guided exploration.</p>
<p><strong>But how do you get started as a self-directed language learner?</strong>
</p><p>Today I'm going to review <a href="http://www.everydaylanguageguides.com/edll-guide-to-getting-started.html">The Everyday Language Learner's Guide to Getting Started</a>.  It's a cheap ($8) e-book that can guide you from not knowing how to start to being a totally self-sufficient language learner.</p>
<p>(<em>Full disclosure: While I did receive a free copy of the e-book to review, I don't receive any money if you decide to purchase it.</em>)</p>
<p><strong>Read more for the full review!</strong></p>
</div>
<ul class="links inline"><li class="comment_comments first"><a href="/blog/2012/02/how-to-become-a-self-directed-language-learner#comments" title="Przejdź do pierwszej odpowiedzi do wpisu.">22 odpowiedzi</a></li>
<li class="node_read_more"><a href="/blog/2012/02/how-to-become-a-self-directed-language-learner" title="Wyświetla dalszą część wpisu How to become a self-directed language learner.">Czytaj dalej</a></li>
<li class="addtoany last"><span>
<a class="da2a_button" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.linguatrek.com%2Fblog%2F2012%2F02%2Fhow-to-become-a-self-directed-language-learner&amp;linkname=How%20to%20become%20a%20self-directed%20language%20learner" id="da2a_10"><img alt="Share this" height="16" src="/sites/all/modules/addtoany/images/share_save_171_16.png" width="171"/></a>
</span></li>
</ul></div>
</div>
</div>
<div class="item-list"><ul class="pager"><li class="pager-first first"><a class="active" href="/" title="Przejdź do pierwszej strony">« pierwsza</a></li>
<li class="pager-previous"><a class="active" href="/home-page-4" title="Przejdź do poprzedniej strony">‹ poprzednia</a></li>
<li class="pager-ellipsis">…</li>
<li class="pager-item"><a class="active" href="/home-page-1" title="Przejdź do strony 2">2</a></li>
<li class="pager-item"><a class="active" href="/home-page-2" title="Przejdź do strony 3">3</a></li>
<li class="pager-item"><a class="active" href="/home-page-3" title="Przejdź do strony 4">4</a></li>
<li class="pager-item"><a class="active" href="/home-page-4" title="Przejdź do strony 5">5</a></li>
<li class="pager-current">6</li>
<li class="pager-item"><a class="active" href="/home-page-6" title="Przejdź do strony 7">7</a></li>
<li class="pager-item"><a class="active" href="/home-page-7" title="Przejdź do strony 8">8</a></li>
<li class="pager-item"><a class="active" href="/home-page-8" title="Przejdź do strony 9">9</a></li>
<li class="pager-item"><a class="active" href="/home-page-9" title="Przejdź do strony 10">10</a></li>
<li class="pager-ellipsis">…</li>
<li class="pager-next"><a class="active" href="/home-page-6" title="Przejdź do następnej strony">następna ›</a></li>
<li class="pager-last last"><a class="active" href="/home-page-17" title="Przejdź do ostatniej strony">ostatnia »</a></li>
</ul></div>
</div>

