---
title: 'Untitled'
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ language }}" lang="{{ language }}" dir="ltr">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{{ title }} | LinguaTrek</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="canonical" href="https://www.linguatrek.com{{ permalink }}" />
<link rel="shortcut icon" href="/misc/favicon.ico" type="image/x-icon" />
  <link type="text/css" rel="stylesheet" media="all" href="/sites/www.linguatrek.com/files/css/css_0f31b43930940e068635f2e41d110bc7.css" />
<style type="text/css">
#block-linguatrek-subscribe {
  border: 2px solid black;
}
#block-search-0 table,
#block-search-0 tr,
#block-search-0 td {
  border: 0;
  margin: 0;
}
#block-search-0 .gsc-control-cse {
  padding: 0;
}
#block-search-0 .gsc-search-box {
  margin: 0;
}
</style>
<script type="text/javascript" src="/sites/www.linguatrek.com/files/js/js_b843c96e1d568d981a11b6418920aca7.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, { "basePath": "/", "googleanalytics": { "trackOutgoing": 1, "trackMailto": 1, "trackDownload": 1, "trackDownloadExtensions": "7z|aac|arc|arj|asf|asx|avi|bin|csv|doc|exe|flv|gif|gz|gzip|hqx|jar|jpe?g|js|mp(2|3|4|e?g)|mov(ie)?|msi|msp|pdf|phps|png|ppt|qtm?|ra(m|r)?|sea|sit|tar|tgz|torrent|txt|wav|wma|wmv|wpd|xls|xml|z|zip" }, "lightbox2": { "rtl": "0", "file_path": "/(\\w\\w/)sites/www.linguatrek.com/files", "default_image": "/sites/all/modules/lightbox2/images/brokenimage.jpg", "border_size": 10, "font_color": "000", "box_color": "fff", "top_position": "", "overlay_opacity": "0.8", "overlay_color": "000", "disable_close_click": true, "resize_sequence": 0, "resize_speed": 400, "fade_in_speed": 400, "slide_down_speed": 600, "use_alt_layout": false, "disable_resize": false, "disable_zoom": false, "force_show_nav": false, "show_caption": true, "loop_items": false, "node_link_text": "View Image Details", "node_link_target": false, "image_count": "Image !current of !total", "video_count": "Video !current of !total", "page_count": "Page !current of !total", "lite_press_x_close": "press \x3ca href=\"#\" onclick=\"hideLightbox(); return FALSE;\"\x3e\x3ckbd\x3ex\x3c/kbd\x3e\x3c/a\x3e to close", "download_link_text": "", "enable_login": false, "enable_contact": false, "keys_close": "c x 27", "keys_previous": "p 37", "keys_next": "n 39", "keys_zoom": "z", "keys_play_pause": "32", "display_image_size": "original", "image_node_sizes": "()", "trigger_lightbox_classes": "", "trigger_lightbox_group_classes": "", "trigger_slideshow_classes": "", "trigger_lightframe_classes": "", "trigger_lightframe_group_classes": "", "custom_class_handler": 0, "custom_trigger_classes": "", "disable_for_gallery_lists": true, "disable_for_acidfree_gallery_lists": true, "enable_acidfree_videos": true, "slideshow_interval": 5000, "slideshow_automatic_start": true, "slideshow_automatic_exit": true, "show_play_pause": true, "pause_on_next_click": false, "pause_on_previous_click": true, "loop_slides": false, "iframe_width": 600, "iframe_height": 400, "iframe_border": 1, "enable_video": false }, "extlink": { "extTarget": "_blank", "extClass": "ext", "extSubdomains": 1, "extExclude": "(feedburner|feedproxy)", "extInclude": "", "extAlert": 0, "extAlertText": "This link will take you to an external web site. We are not responsible for their content.", "mailtoClass": "mailto" }, "mollomPathPrefix": "" });
//--><!]]>
</script>
</head>

<body class="not-logged-in one-sidebar sidebar-right i18n-{{ language }} {{ body_classes }}">
  <div id="page" class="container-16 clear-block">
    <div id="main" class="column ">
      <div id="site-header" class="clear-block">
	<div id="branding">
			  <div id="site-name"><a href="/" rel="home">LinguaTrek</a></div>
			</div>

            </div>

              <div id="content-top">
          <div id="content-top-region" class="region clear-block">
            <div id="block-block-7" class="block clear-block">
  <div class="inner">
      <div class="hd">
      <h2>Download my FREE ebook about language learning!</h2>
    </div>
  
    <div class="bd"><div style="background-color: #b7d4ee; border: 1px solid #57ABE6; float: right; width: 50%; padding: 10px; margin-right: 10px;">
<p style="text-align: center; font-size: 16px;"><em><strong>Natural Language Learning<br />Without a Teacher!</strong></em></p>
<p style="font-size: 14px;"><em>A step-by-step guide about how to learn a language naturally on your own!</em></p>
<p style="font-size: 16px;"><strong><a href="/nll-ebook-en">Download it now for FREE!</a></strong></p>
</div>
<img src="/sites/www.linguatrek.com/files/imagecache/Medium/image/2012/05/nll-fauxbookstack.png" /></div>
  </div>
</div>
          </div>
        </div>
      
                        
<div id="main-content" class="region clear-block">
{{ content | safe }}
</div>

</div>
      <div id="sidebar-right" class="column sidebar region grid-5 omega">
      <div id="block-locale-0" class="block clear-block">
  <div class="inner">
  
    <div class="bd">
	<ul>
		{% set en_link = permalink if language == 'en' else translation %}
		{% set pl_link = permalink if language == 'pl' else translation %}
		<li class="en first {{ 'active' if language == 'en' else '' }}"><a href="{{ en_link }}#lang=en" class="language-link {{ 'active' if language == 'en' else '' }}" rel="alternative" lang="en"><img src='/sites/all/modules/languageicons/flags/en.png'  class="language-icon" alt="English" title="English" width="16" height="12" /> English</a></li>
		<li class="pl last {{ 'active' if language == 'pl' else '' }}"><a href="{{ pl_link }}#lang=pl" class="language-link {{ 'active' if language == 'pl' else '' }}" rel="alternative" lang="pl"><img src='/sites/all/modules/languageicons/flags/pl.png'  class="language-icon" alt="Polski" title="Polski" width="16" height="12" /> Polski</a></li>
    </ul>
	</div>
  </div>
</div>

<div id="block-search-0" class="block clear-block block-lod block-top">
  <div class="inner">
  
    <div class="bd">
	  <script async src="https://cse.google.com/cse.js?cx=efe86106be2e12bd3"></script>
      <div class="gcse-search"></div>
    </div>
  </div>
</div>

<div id="block-block-1" class="block clear-block block-lod">
  <div class="inner">
      <div class="hd">
      <h2>About this blog</h2>
    </div>
  
    <div class="bd"><img class="linguatrek-profile-image" align="left" title="David Snopek" src="/photo-david-snopek.jpg" /><strong><a href="/blog/2012/03/about-me-and-my-mission">David Snopek</a></strong> is an American entrepreneur, language teacher and learner.  On this blog you'll find language learning advice, videos and information about Polish and American culture. <a href="/blog/2012/03/about-me-and-my-mission">Click here</a> to learn more!

<div style="text-align: center; margin-top: 15px;">
<a href="http://bab.la/news/top-25-language-learning-blogs-2012" target="_blank" alt="Top 25 Language Learning Blogs 2012"><img src="/sites/www.linguatrek.com/files/image/2012/05/top10-learn-blog12.gif" width="140" height="53" border="0" alt="Top 10 Language Learning Blogs 2012" /></a>
<a href="http://bab.la/news/top-25-language-learning-blogs-2011" target="_blank" alt="Top 25 Language Learning Blogs 2011"><img src="/sites/www.linguatrek.com/files/image/2011/top25-learn-blog11.gif" width="140" height="53" border="0" alt="Top 25 Language Learning Blogs 2011" /></a>
</div>

<div id="contact-link"><a href="/contact">Send me a message!</a></div></div>
  </div>
</div>

<div id="block-block-2" class="block clear-block">
  <div class="inner">
      <div class="hd">
      <h2>Read with Bibliobird!</h2>
    </div>
  
    <div class="bd"><p><center><a href="http://www.bibliobird.com/about"><img src="/bibliobird-pink.png" border="0" /></a></center></p>

<p>I created <a href="http://www.bibliobird.com/">BiblioBird&trade;</a>, a <em>web application</em> for learning languages, based on my experience learning Polish.</p>

<p><strong>Watch <a href="http://www.linguatrek.com/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego">this video</a> (in Polish) about it!</strong></p></div>
  </div>
</div>

<div id="block-views-promoted-block_1" class="block clear-block">
  <div class="inner">
      <div class="hd">
      <h2>Popular articles</h2>
    </div>
  
    <div class="bd"><div class="view view-promoted view-id-promoted view-display-id-block_1 view-dom-id-1">
    
  
  
      <div class="view-content">
      <div class="item-list">
    <ul>
          <li class="views-row views-row-1 views-row-odd views-row-first">  
  <div class="views-field-title">
                <span class="field-content"><a href="/blog/2012/05/vlog-m%C3%B3j-ebook-jest-dost%C4%99pny-i-po-polsku-r%C3%B3wnie%C5%BC">Vlog: Mój ebook jest dostępny (i po polsku również)</a></span>
  </div>
</li>
          <li class="views-row views-row-2 views-row-even">  
  <div class="views-field-title">
                <span class="field-content"><a href="/blog/2012/05/natural-language-learning-my-free-ebook-is-finished">Natural Language Learning (my FREE ebook) is finished!</a></span>
  </div>
</li>
          <li class="views-row views-row-3 views-row-odd">  
  <div class="views-field-title">
                <span class="field-content"><a href="/blog/2012/01/the-importance-of-listening">The Importance of Listening</a></span>
  </div>
</li>
          <li class="views-row views-row-4 views-row-even">  
  <div class="views-field-title">
                <span class="field-content"><a href="/blog/2011/07/how-to-swear-like-a-pole-pierdoli%C4%87">How to swear like a Pole: pierd*lić</a></span>
  </div>
</li>
          <li class="views-row views-row-5 views-row-odd">  
  <div class="views-field-title">
                <span class="field-content"><a href="/blog/2011/05/how-to-overcome-your-fear-of-speaking">How to overcome your fear of speaking</a></span>
  </div>
</li>
          <li class="views-row views-row-6 views-row-even">  
  <div class="views-field-title">
                <span class="field-content"><a href="/blog/2010/12/harry-potter-the-book-that-taught-me-polish">Harry Potter: The book that taught me Polish</a></span>
  </div>
</li>
          <li class="views-row views-row-7 views-row-odd">  
  <div class="views-field-title">
                <span class="field-content"><a href="/blog/2011/04/5-english-mistakes-commonly-made-by-poles">5 English mistakes commonly made by Poles</a></span>
  </div>
</li>
          <li class="views-row views-row-8 views-row-even">  
  <div class="views-field-title">
                <span class="field-content"><a href="/blog/2010/11/things-i-love-about-poland-01-waiters-leave-you-alone">Things I Love About Poland #01: Waiters leave you alone</a></span>
  </div>
</li>
          <li class="views-row views-row-9 views-row-odd">  
  <div class="views-field-title">
                <span class="field-content"><a href="/blog/2010/12/vlog-jak-uczy%C4%87-si%C4%99-angielskiego-w-ten-sam-spos%C3%B3b-jak-ucz%C4%99-si%C4%99-polskiego">Vlog: Jak uczyć się angielskiego w ten sam sposób jak uczę się polskiego</a></span>
  </div>
</li>
          <li class="views-row views-row-10 views-row-even views-row-last">  
  <div class="views-field-title">
                <span class="field-content"><a href="/blog/2011/01/vlog-w-szczebrzeszynie-chrz%C4%85szcz-brzmi-w-trzcinie">Vlog: W Szczebrzeszynie chrząszcz brzmi w trzcinie</a></span>
  </div>
</li>
      </ul>
</div>    </div>
  
  
  
  
  
  
</div> </div>
  </div>
</div>
<div id="block-menu-menu-categories" class="block clear-block">
  <div class="inner">
      <div class="hd">
      <h2>Categories</h2>
    </div>
  
    <div class="bd"><ul class="menu"><li class="leaf first"><a href="/category/linguatrek" title="A meta-tag - when we are talking about LinguaTrek itself.">LinguaTrek (11)</a></li>
<li class="expanded"><a href="/taxonomy/term/29%202%201" title="language learning (91)">language learning (91)</a><ul class="menu"><li class="leaf first"><a href="/category/language-learning/learn-english" title="learn English (13)">learn English (13)</a></li>
<li class="leaf last"><a href="/category/language-learning/learn-polish" title="learn Polish (18)">learn Polish (18)</a></li>
</ul></li>
<li class="expanded"><a href="/taxonomy/term/30%2032%2033" title="culture (39)">culture (39)</a><ul class="menu"><li class="leaf first"><a href="/category/culture/usa" title="USA (24)">USA (24)</a></li>
<li class="leaf last"><a href="/category/culture/poland" title="Poland (15)">Poland (15)</a></li>
</ul></li>
<li class="leaf last"><a href="/category/personal" title="personal (31)">personal (31)</a></li>
</ul></div>
  </div>
</div>
<div id="block-tagadelic-2" class="block clear-block">
  <div class="inner">
      <div class="hd">
      <h2>Tags</h2>
    </div>
  
    <div class="bd"><a href="/tags/audiobook" class="tagadelic level2" rel="tag">audiobook</a> 
<a href="/tags/bibliobird" class="tagadelic level5" rel="tag">BiblioBird</a> 
<a href="/tags/commercial" class="tagadelic level2" rel="tag">commercial</a> 
<a href="/tags/ebook" class="tagadelic level4" rel="tag">ebook</a> 
<a href="/tags/fear-of-speaking" class="tagadelic level3" rel="tag">fear of speaking</a> 
<a href="/tags/grammar" class="tagadelic level3" rel="tag">grammar</a> 
<a href="/tags/holidays" class="tagadelic level2" rel="tag">holidays</a> 
<a href="/tags/mailbag" class="tagadelic level3" rel="tag">mailbag</a> 
<a href="/tags/memrisecom" class="tagadelic level1" rel="tag">Memrise.com</a> 
<a href="/tags/motivation" class="tagadelic level1" rel="tag">motivation</a> 
<a href="/tags/new-years-resolution" class="tagadelic level1" rel="tag">New Year&#039;s resolution</a> 
<a href="/tags/personal" class="tagadelic level4" rel="tag">personal</a> 
<a href="/tags/polakpotrafipl" class="tagadelic level4" rel="tag">PolakPotrafi.pl</a> 
<a href="/tags/profanity" class="tagadelic level1" rel="tag">profanity</a> 
<a href="/tags/review" class="tagadelic level4" rel="tag">review</a> 
<a href="/tags/speaking" class="tagadelic level3" rel="tag">speaking</a> 
<a href="/tags/tenses" class="tagadelic level2" rel="tag">tenses</a> 
<a href="/tags/things-i-love-about-poland" class="tagadelic level1" rel="tag">Things I Love About Poland</a> 
<a href="/tags/top-100-language-lovers" class="tagadelic level1" rel="tag">Top 100 Language Lovers</a> 
<a href="/tags/vlog" class="tagadelic level6" rel="tag">vlog</a> 
<div class='more-link'><a href="/tagadelic/chunk/2">more tags</a></div></div>
  </div>
</div>
<div id="block-block-5" class="block clear-block">
  <div class="inner">
      <div class="hd">
      <h2>Links</h2>
    </div>
  
    <div class="bd"><ul>
<li><a href="http://www.blogparty.pl/" title="Katalog blogów językowych">Katalog blogów językowych</a></li>
<li><a href="http://www.meetenglish.pl/">MeetEnglish.pl</a></li>
<li><a href="http://www.polygloto.com/">Polygloto Polish</a></li>
<li>My blog is on <a href="http://polyglotlink.com" title="Polyglot Link - Discover Language Learning & Polyglot Blogs">Polyglot Link</a></li>
</ul></div>
  </div>
</div>
    </div>
  
  </div>

  <div id="footer">
    
          <div id="footer-message">
        &copy; Copyright 2010-{{ now|date('YYYY') }} David Snopek      </div>
      </div>

<script type="text/javascript">
<!--//--><![CDATA[//><!--
var _gaq = _gaq || [];_gaq.push(["_setAccount", "UA-19528117-1"]);_gaq.push(['_require', 'inpage_linkid',  '//www.google-analytics.com/plugins/ga/inpage_linkid.js']);_gaq.push(["_trackPageview"]);(function() {var ga = document.createElement("script");ga.type = "text/javascript";ga.async = true;ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(ga, s);})();
//--><!]]>
</script>
</body>
</html>
