---
layout: base-old
body_classes: page-node node-type-story
---
<div class="node node-story clear-block" >
  <h1 class="node-title">{{ title }}</h1>

  <div class="side-icons">
    <span class="node-date"><strong class="day">{{ day }}</strong> <strong class="month">{{ month }}</strong> <strong class="year">{{ year }}</strong></span>
			{% set permalink_old = permalink|replace(r/\/$/, '') %}
            <div class="social-buttons">
    <div class="wykop-button"><iframe src="http://www.wykop.pl/dataprovider/diggerwidget/?url={{ 'http://www.linguatrek.com/' + permalink_old |urlencode }}&title={{ title|urlencode }}&bg=FFFFFF&type=standard" style="border:none;width:72px;height:65px;overflow:hidden;margin:0;padding:0;" frameborder="0" border="0"></iframe></div>

<div class="facebook-button">
<iframe src="http://www.facebook.com/plugins/like.php?href=http://www.linguatrek.com{{ permalink_old }}&amp;layout=button_count&amp;show_faces=false&amp;width=80&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;" allowTransparency="true"></iframe>
</div>
    </div>
      </div>

      <div class="terms terms-inline"><ul class="links inline">
	  {% if category %}
	  <li><a href="/category/{{ category|slug }}" rel="tag" title="">{{ category }}</a></li>
	  {% endif %}
	  {% for tag in tags %}
      <li><a href="/tags/{{ tag|slug }}" rel="tag" title="">{{ tag }}</a></li>
	  {% endfor %}
      </ul></div>

{{ content | safe }}

</div>

