---
title: 'Untitled'
redirect: '/'
---
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="refresh" content="0;url={{ redirect }}" />
</head>
<body>
<p>Redirecting to <a href="{{ redirect }}">{{ title }}</a></p>
</body>
</html>

