---
permalink: /blog/2010/11/learn-history-american-music-we-didnt-start-fire/
layout: blog-old
title: 'Learn History with American Music: We Didn''t Start The Fire'
day: 9
month: Nov
year: 2010
category: USA
tags: 
  - 'music'
language: en
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 159px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/11/billyjoel_fire.jpg" rel="lightbox"><img alt="Cover of Billy Joel's album &quot;We Didn't Start The Fire&quot;" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/11/billyjoel_fire.jpg" title="Cover of Billy Joel's album &quot;We Didn't Start The Fire&quot;"/></a><div class="caption">Cover of Billy Joel's album "We Didn't Start The Fire"</div></div>
<p>In 1989, the American musician <a href="http://en.wikipedia.org/wiki/Billy_Joel">Billy Joel</a> turned forty.  Reflecting on his life, he wrote the song <a href="http://en.wikipedia.org/wiki/We_Didn't_Start_the_Fire">"We Didn't Start the Fire,"</a> which makes reference to 119 cultural and historical events that occurred during his lifetime.  Some of the things are of world importance, others pertain only to American pop culture.</p>
<p>Listen to the song and learn about all the events below!</p>
<h2>Video with song</h2>
<object height="344" width="425"><param name="movie" value="http://www.youtube.com/v/E8lrRvuwczk?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="344" src="http://www.youtube.com/v/E8lrRvuwczk?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="425" wmode="opaque"/></object>
<p><em>Video from <a href="http://www.mrallsophistory.com/fire.html">Mr. Allsop History.com</a></em></p>
<h2>References</h2>
<p><b>1940s</b></p>
<ul>
<li><b><a href="http://en.wikipedia.org/wiki/Harry_S._Truman" title="Harry S. Truman">Harry Truman</a></b> is inaugurated as <a href="http://en.wikipedia.org/wiki/President_of_the_United_States" title="President of the United States">U.S. president</a> after being elected in 1948 to his own term; previously he was sworn in following the death of <a href="http://en.wikipedia.org/wiki/Franklin_D._Roosevelt" title="Franklin D. Roosevelt">Franklin D. Roosevelt</a>. He authorized the use of atomic bombs on Hiroshima and Nagasaki, Japan during <a href="http://en.wikipedia.org/wiki/World_War_II" title="World War II">World War II</a>, on August 6 and August 9, 1945 respectively.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Doris_Day" title="Doris Day">Doris Day</a></b> enters the public spotlight with the films <i><a href="http://en.wikipedia.org/wiki/My_Dream_Is_Yours" title="My Dream Is Yours">My Dream Is Yours</a></i> and <i><a href="http://en.wikipedia.org/wiki/It%27s_a_Great_Feeling" title="It's a Great Feeling">It's a Great Feeling</a></i> as well as popular songs like "<a href="http://en.wikipedia.org/wiki/It%27s_Magic" title="It's Magic">It's Magic</a>"; divorces her second husband.</li>
<li><b><a href="http://en.wikipedia.org/wiki/People%27s_Republic_of_China" title="People's Republic of China">Red China</a></b> as the <a href="http://en.wikipedia.org/wiki/Communist_Party_of_China" title="Communist Party of China">Communist Party of China</a> wins the <a href="http://en.wikipedia.org/wiki/Chinese_Civil_War" title="Chinese Civil War">Chinese Civil War</a>, establishing the <a href="http://en.wikipedia.org/wiki/People%27s_Republic_of_China" title="People's Republic of China">People's Republic of China</a>.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Johnnie_Ray" title="Johnnie Ray">Johnnie Ray</a></b> signs his first recording contract with <a href="http://en.wikipedia.org/wiki/Okeh_Records" title="Okeh Records">Okeh Records</a>, although he would not become popular for another two years.</li>
<li><i><b><a href="http://en.wikipedia.org/wiki/South_Pacific_(musical)" title="South Pacific (musical)">South Pacific</a></b></i>, the prize winning musical, opens on <a href="http://en.wikipedia.org/wiki/Broadway_theatre" title="Broadway theatre">Broadway</a> on April 7.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Walter_Winchell" title="Walter Winchell">Walter Winchell</a></b> is an aggressive radio and newspaper <a href="http://en.wikipedia.org/wiki/Journalist" title="Journalist">journalist</a> credited with inventing the <a href="http://en.wikipedia.org/wiki/Gossip_columnist" title="Gossip columnist">gossip column</a>.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Joe_DiMaggio" title="Joe DiMaggio">Joe DiMaggio</a></b> and the <a href="http://en.wikipedia.org/wiki/New_York_Yankees" title="New York Yankees">New York Yankees</a> go to the <a href="http://en.wikipedia.org/wiki/World_Series" title="World Series">World Series</a> five times in the 1940s, winning four of them.</li>
</ul>
<p><b>1950</b></p>
<ul>
<li><b><a class="mw-redirect" href="http://en.wikipedia.org/wiki/Joe_McCarthy" title="Joe McCarthy">Joe McCarthy</a></b>, the <a href="http://en.wikipedia.org/wiki/United_States_Senate" title="United States Senate">US Senator</a>, gains national attention and begins his anti-communist crusade with his <a href="http://en.wikipedia.org/wiki/Lincoln_Day" title="Lincoln Day">Lincoln Day</a> speech.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Richard_Nixon" title="Richard Nixon">Richard Nixon</a></b> is first elected to the <a href="http://en.wikipedia.org/wiki/United_States_Senate" title="United States Senate">United States Senate</a>.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Studebaker" title="Studebaker">Studebaker</a></b>, a popular car company, is beginning its financial downfall.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Television" title="Television">Television</a></b> is becoming widespread (in black and white format) and becomes the most popular means of advertising.</li>
<li><b><a href="http://en.wikipedia.org/wiki/North_Korea" title="North Korea">North Korea</a>, <a href="http://en.wikipedia.org/wiki/South_Korea" title="South Korea">South Korea</a></b> engage in warfare as North Korea attacks on June 25, beginning the <a href="http://en.wikipedia.org/wiki/Korean_War" title="Korean War">Korean War</a>.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Marilyn_Monroe" title="Marilyn Monroe">Marilyn Monroe</a></b> soars in popularity with five new movies including <i><a href="http://en.wikipedia.org/wiki/The_Asphalt_Jungle" title="The Asphalt Jungle">The Asphalt Jungle</a></i> and <i><a href="http://en.wikipedia.org/wiki/All_About_Eve" title="All About Eve">All About Eve</a></i>, and attempts suicide after the death of lover <a href="http://en.wikipedia.org/wiki/Johnny_Hyde" title="Johnny Hyde">Johnny Hyde</a>. Monroe would later (1954) be married for a brief time to Joe DiMaggio (mentioned in the previous verse).</li>
</ul>
<p><b>1951</b></p>
<ul>
<li><b><a class="mw-redirect" href="http://en.wikipedia.org/wiki/Ethel_and_Julius_Rosenberg" title="Ethel and Julius Rosenberg">Ethel and Julius Rosenberg</a></b> were convicted on March 29 for <a href="http://en.wikipedia.org/wiki/Espionage" title="Espionage">espionage</a>. They maintained that they were innocent even at their executions, but decoded Soviet cables have confirmed Julius acted as a courier and recruiter for the Soviets.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Nuclear_weapon" title="Nuclear weapon">H-Bomb</a></b> is in the middle of its development as a nuclear weapon, announced in early 1950 and first tested in late 1952.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Sugar_Ray_Robinson" title="Sugar Ray Robinson">Sugar Ray</a> Robinson</b>, a champion welterweight boxer.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Panmunjom" title="Panmunjom">Panmunjom</a></b>, the border village in Korea, is the location of truce talks between the parties of the <a href="http://en.wikipedia.org/wiki/Korean_War" title="Korean War">Korean War</a>.</li>
<li>Marlon <b><a href="http://en.wikipedia.org/wiki/Marlon_Brando" title="Marlon Brando">Brando</a></b> is nominated for the <a href="http://en.wikipedia.org/wiki/Academy_Award_for_Best_Actor" title="Academy Award for Best Actor">Academy Award for Best Actor</a> for his role in <i><a href="http://en.wikipedia.org/wiki/A_Streetcar_Named_Desire_(1951_film)" title="A Streetcar Named Desire (1951 film)">A Streetcar Named Desire</a></i>.</li>
<li><i><b><a href="http://en.wikipedia.org/wiki/The_King_and_I" title="The King and I">The King and I</a></b></i>, musical, opens on <a href="http://en.wikipedia.org/wiki/Broadway_theatre" title="Broadway theatre">Broadway</a> on March 29.</li>
<li><i><b><a href="http://en.wikipedia.org/wiki/The_Catcher_in_the_Rye" title="The Catcher in the Rye">The Catcher in the Rye</a></b></i>, a controversial novel by <a href="http://en.wikipedia.org/wiki/J._D._Salinger" title="J. D. Salinger">J. D. Salinger</a>, is published.</li>
</ul>
<p><b>1952</b></p>
<ul>
<li><b><a href="http://en.wikipedia.org/wiki/Dwight_D._Eisenhower" title="Dwight D. Eisenhower">Dwight D. Eisenhower</a></b> is first elected as U.S. president, winning by a landslide margin of 442 to 89 electoral votes.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Polio_vaccine" title="Polio vaccine">Vaccine</a></b> for <a class="mw-redirect" href="http://en.wikipedia.org/wiki/Polio" title="Polio">polio</a> is privately tested by <a href="http://en.wikipedia.org/wiki/Jonas_Salk" title="Jonas Salk">Jonas Salk</a>.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Coronation_of_Queen_Elizabeth_II" title="Coronation of Queen Elizabeth II">England's got a new queen</a></b> (then Princess Elizabeth) succeeds to the throne of the <a href="http://en.wikipedia.org/wiki/United_Kingdom" title="United Kingdom">United Kingdom</a> and the <a class="mw-redirect" href="http://en.wikipedia.org/wiki/Commonwealth_Realms" title="Commonwealth Realms">Commonwealth Realms</a> upon the death of <a href="http://en.wikipedia.org/wiki/George_VI_of_the_United_Kingdom" title="George VI of the United Kingdom">George VI of the United Kingdom</a>.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Rocky_Marciano" title="Rocky Marciano">Rocky Marciano</a></b> defeats <a href="http://en.wikipedia.org/wiki/Jersey_Joe_Walcott" title="Jersey Joe Walcott">Jersey Joe Walcott</a>, becoming the world <a class="mw-redirect" href="http://en.wikipedia.org/wiki/Heavyweight_champion" title="Heavyweight champion">Heavyweight champion</a>.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Liberace" title="Liberace">Liberace</a></b> has a popular 1950s television show for his musical entertainment.</li>
<li><b><a href="http://en.wikipedia.org/wiki/George_Santayana" title="George Santayana">George Santayana</a></b>, <a class="mw-redirect" href="http://en.wikipedia.org/wiki/Philosopher" title="Philosopher">philosopher</a>, <a class="mw-redirect" href="http://en.wikipedia.org/wiki/Essayist" title="Essayist">essayist</a>, <a href="http://en.wikipedia.org/wiki/Poet" title="Poet">poet</a>, and <a class="mw-redirect" href="http://en.wikipedia.org/wiki/Novelist" title="Novelist">novelist</a>, dies on September 26.</li>
</ul>
<p><b>1953</b></p>
<ul>
<li><b><a href="http://en.wikipedia.org/wiki/Joseph_Stalin" title="Joseph Stalin">Joseph Stalin</a></b> dies on March 5, yielding his position as leader of the <a href="http://en.wikipedia.org/wiki/Soviet_Union" title="Soviet Union">Soviet Union</a>.</li>
<li><b><a class="mw-redirect" href="http://en.wikipedia.org/wiki/Georgy_Maksimilianovich_Malenkov" title="Georgy Maksimilianovich Malenkov">Georgy Maksimilianovich Malenkov</a></b> succeeds Stalin for six months following his death. Malenkov had presided over Stalin's purges of party "enemies", but would be spared a similar fate by Nikita Khrushchev mentioned later in verse.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Gamal_Abdel_Nasser" title="Gamal Abdel Nasser">Gamal Abdel Nasser</a></b> acts as the true power behind the new <a href="http://en.wikipedia.org/wiki/Egypt" title="Egypt">Egyptian</a> nation as <a href="http://en.wikipedia.org/wiki/Muhammad_Naguib" title="Muhammad Naguib">Muhammad Naguib</a>'s minister of the interior.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Sergei_Prokofiev" title="Sergei Prokofiev">Sergei Prokofiev</a></b>, the composer, dies on March 5, the same day as Stalin.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Winthrop_Rockefeller" title="Winthrop Rockefeller">Winthrop Rockefeller</a></b> and his wife Barbara are involved in a highly publicized divorce, culminating in 1954 with a record-breaking $5.5 million settlement.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Roy_Campanella" title="Roy Campanella">Roy Campanella</a></b>, an African American baseball catcher for the <a class="mw-redirect" href="http://en.wikipedia.org/wiki/Brooklyn_Dodgers" title="Brooklyn Dodgers">Brooklyn Dodgers</a>, receives the National League's <a class="mw-redirect" href="http://en.wikipedia.org/wiki/Most_Valuable_Player_Award" title="Most Valuable Player Award">Most Valuable Player</a> award for the second time.</li>
<li><b><a class="mw-redirect" href="http://en.wikipedia.org/wiki/Communist_bloc" title="Communist bloc">Communist bloc</a></b> is a group of <a href="http://en.wikipedia.org/wiki/Communism" title="Communism">communist</a> nations dominated by the Soviet Union at this time. Probably a reference to the <a href="http://en.wikipedia.org/wiki/Uprising_of_1953_in_East_Germany" title="Uprising of 1953 in East Germany">Uprising of 1953 in East Germany</a>.</li>
</ul>
<p><b>1954</b></p>
<ul>
<li><b><a href="http://en.wikipedia.org/wiki/Roy_Cohn" title="Roy Cohn">Roy Cohn</a></b> resigns as <a href="http://en.wikipedia.org/wiki/Joseph_McCarthy" title="Joseph McCarthy">Joseph McCarthy</a>'s chief counsel and enters <a href="http://en.wikipedia.org/wiki/Roy_Cohn#Later_career" title="Roy Cohn">private practice</a> with the <a href="http://en.wikipedia.org/wiki/Joseph_McCarthy#Censure_and_the_Watkins_Committee" title="Joseph McCarthy">fall of McCarthy</a>.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Juan_Per%C3%B3n" title="Juan Perón">Juan Perón</a></b> spends his last full year as <a href="http://en.wikipedia.org/wiki/President_of_Argentina" title="President of Argentina">President of Argentina</a> before a September 1955 coup.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Arturo_Toscanini" title="Arturo Toscanini">Arturo Toscanini</a></b> is at the height of his fame as a conductor, performing regularly with the <a href="http://en.wikipedia.org/wiki/NBC_Symphony_Orchestra" title="NBC Symphony Orchestra">NBC Symphony Orchestra</a> on national radio.</li>
<li><b><a class="mw-redirect" href="http://en.wikipedia.org/wiki/Dacron" title="Dacron">Dacron</a></b> is an early artificial fiber made from the same plastic as <a href="http://en.wikipedia.org/wiki/Polyester" title="Polyester">polyester</a>.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Battle_of_Dien_Bien_Phu" title="Battle of Dien Bien Phu">Battle of Dien Bien Phu</a></b>. A village in North Vietnam falls to <a href="http://en.wikipedia.org/wiki/Viet_Minh" title="Viet Minh">Viet Minh</a> forces under <a href="http://en.wikipedia.org/wiki/Vo_Nguyen_Giap" title="Vo Nguyen Giap">Vo Nguyen Giap</a>, leading to the creation of <a href="http://en.wikipedia.org/wiki/North_Vietnam" title="North Vietnam">North Vietnam</a> and <a href="http://en.wikipedia.org/wiki/South_Vietnam" title="South Vietnam">South Vietnam</a> as separate states.</li>
<li><b>"<a href="http://en.wikipedia.org/wiki/Rock_Around_the_Clock" title="Rock Around the Clock">Rock Around the Clock</a>"</b> is a hit single released by <a href="http://en.wikipedia.org/wiki/Bill_Haley_%26_His_Comets" title="Bill Haley &amp; His Comets">Bill Haley &amp; His Comets</a> in May, spurring worldwide interest in <a href="http://en.wikipedia.org/wiki/Rock_and_roll" title="Rock and roll">rock and roll</a> music.</li>
</ul>
<p><b>1955</b></p>
<ul>
<li><b><a href="http://en.wikipedia.org/wiki/Albert_Einstein" title="Albert Einstein">Albert Einstein</a></b> dies on April 18 at the age of 76.</li>
<li><b><a href="http://en.wikipedia.org/wiki/James_Dean" title="James Dean">James Dean</a></b> achieves success with <i><a href="http://en.wikipedia.org/wiki/East_of_Eden_(film)" title="East of Eden (film)">East of Eden</a></i> and <i><a href="http://en.wikipedia.org/wiki/Rebel_Without_a_Cause" title="Rebel Without a Cause">Rebel Without a Cause</a></i>, gets nominated for an <a href="http://en.wikipedia.org/wiki/Academy_Award_for_Best_Actor" title="Academy Award for Best Actor">Academy Award for Best Actor</a>, and dies in a car accident on September 30.</li>
<li><b><a href="http://en.wikipedia.org/wiki/1955_World_Series" title="1955 World Series">1955 World Series</a></b> as the <a href="http://en.wikipedia.org/wiki/History_of_the_Brooklyn_Dodgers" title="History of the Brooklyn Dodgers">Brooklyn Dodgers</a> win the <a href="http://en.wikipedia.org/wiki/World_Series" title="World Series">World Series</a> for the only time before <a href="http://en.wikipedia.org/wiki/History_of_the_Brooklyn_Dodgers#Move_to_California" title="History of the Brooklyn Dodgers">their move to Los Angeles</a>.</li>
<li><i><b><a href="http://en.wikipedia.org/wiki/Davy_Crockett#Legacy" title="Davy Crockett">Davy Crockett</a></b></i> is a <a class="mw-redirect" href="http://en.wikipedia.org/wiki/Disney" title="Disney">Disney</a> <a class="mw-redirect" href="http://en.wikipedia.org/wiki/Television_series" title="Television series">television series</a> about the legendary frontiersman of <a href="http://en.wikipedia.org/wiki/Davy_Crockett" title="Davy Crockett">the same name</a>. The show was a huge hit with young boys and inspired a short-lived "coonskin cap" craze.</li>
<li><i><b><a href="http://en.wikipedia.org/wiki/Peter_Pan" title="Peter Pan">Peter Pan</a></b></i> is broadcast on TV live and in color from <a href="http://en.wikipedia.org/wiki/Peter_Pan_(1954_musical)" title="Peter Pan (1954 musical)">the 1954 version of the stage musical</a> starring <a href="http://en.wikipedia.org/wiki/Mary_Martin" title="Mary Martin">Mary Martin</a> on March 7. <a href="http://en.wikipedia.org/wiki/Walt_Disney_Animation_Studios" title="Walt Disney Animation Studios">Disney</a> released <a href="http://en.wikipedia.org/wiki/Peter_Pan_(1953_film)" title="Peter Pan (1953 film)">an animated version</a> the previous year.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Elvis_Presley" title="Elvis Presley">Elvis Presley</a></b> signs with <a href="http://en.wikipedia.org/wiki/RCA_Records" title="RCA Records">RCA Records</a> on November 21, beginning his pop career.</li>
<li><b><a class="mw-redirect" href="http://en.wikipedia.org/wiki/Disneyland_Park_(Anaheim)" title="Disneyland Park (Anaheim)">Disneyland</a></b> opens on July 17 as Walt Disney's first theme park.</li>
</ul>
<p><b>1956</b></p>
<ul>
<li><b><a href="http://en.wikipedia.org/wiki/Brigitte_Bardot" title="Brigitte Bardot">Brigitte Bardot</a></b> appears in her first mainstream film <i><a href="http://en.wikipedia.org/wiki/And_God_Created_Woman_(1956_film)" title="And God Created Woman (1956 film)">And God Created Woman</a></i> and establishes an international reputation as a French "sex kitten".</li>
<li><b><a href="http://en.wikipedia.org/wiki/Budapest" title="Budapest">Budapest</a></b> is the site of the <a class="mw-redirect" href="http://en.wikipedia.org/wiki/1956_Hungarian_Revolution" title="1956 Hungarian Revolution">1956 Hungarian Revolution</a>.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Alabama" title="Alabama">Alabama</a></b> is the site of the <a href="http://en.wikipedia.org/wiki/Montgomery_Bus_Boycott" title="Montgomery Bus Boycott">Montgomery Bus Boycott</a> which ultimately led to the removal of the last race laws in the USA. <a href="http://en.wikipedia.org/wiki/Rosa_Parks" title="Rosa Parks">Rosa Parks</a> and <a class="mw-redirect" href="http://en.wikipedia.org/wiki/Martin_Luther_King,_Jr" title="Martin Luther King, Jr">Martin Luther King, Jr</a> figure prominently.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Nikita_Khrushchev" title="Nikita Khrushchev">Nikita Khrushchev</a></b> makes his famous <a href="http://en.wikipedia.org/wiki/On_the_Personality_Cult_and_its_Consequences" title="On the Personality Cult and its Consequences">Secret Speech</a> denouncing Stalin's "cult of personality" on February 23.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Grace_Kelly" title="Grace Kelly">Princess Grace Kelly</a></b> releases her last film, <i><a href="http://en.wikipedia.org/wiki/High_Society_(1956_film)" title="High Society (1956 film)">High Society</a></i>, and marries <a href="http://en.wikipedia.org/wiki/Rainier_III,_Prince_of_Monaco" title="Rainier III, Prince of Monaco">Prince Rainier III of Monaco</a>.</li>
<li><i><b><a href="http://en.wikipedia.org/wiki/Peyton_Place_(novel)" title="Peyton Place (novel)">Peyton Place</a></b></i>, the best-selling novel by <a href="http://en.wikipedia.org/wiki/Grace_Metalious" title="Grace Metalious">Grace Metalious</a>, is published. Though mild compared to today's prime time, it shocked the reserved values of the '50s.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Suez_Crisis" title="Suez Crisis">Suez Crisis</a></b> The Suez Crisis boils as <a href="http://en.wikipedia.org/wiki/Egypt" title="Egypt">Egypt</a> nationalizes the <a href="http://en.wikipedia.org/wiki/Suez_Canal" title="Suez Canal">Suez Canal</a> on October 29.</li>
</ul>
<p><b>1957</b></p>
<ul>
<li><b><a href="http://en.wikipedia.org/wiki/Little_Rock_Nine" title="Little Rock Nine">Little Rock, Arkansas</a></b> is the site of an anti-integration standoff, as <a class="mw-redirect" href="http://en.wikipedia.org/wiki/Governor_of_Arkansas" title="Governor of Arkansas">Governor</a> <a href="http://en.wikipedia.org/wiki/Orval_Faubus" title="Orval Faubus">Orval Faubus</a> stops the <a href="http://en.wikipedia.org/wiki/Little_Rock_Nine" title="Little Rock Nine">Little Rock Nine</a> from attending <a href="http://en.wikipedia.org/wiki/Little_Rock_Central_High_School" title="Little Rock Central High School">Little Rock Central High School</a> and President <a href="http://en.wikipedia.org/wiki/Dwight_D._Eisenhower" title="Dwight D. Eisenhower">Dwight D. Eisenhower</a> deploys the <a href="http://en.wikipedia.org/wiki/101st_Airborne_Division" title="101st Airborne Division">101st Airborne Division</a> to counteract him.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Boris_Pasternak" title="Boris Pasternak">Boris Pasternak</a></b>, the Russian author, publishes his famous novel <i><a class="mw-redirect" href="http://en.wikipedia.org/wiki/Doctor_Zhivago_(novel)" title="Doctor Zhivago (novel)">Doctor Zhivago</a></i>.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Mickey_Mantle" title="Mickey Mantle">Mickey Mantle</a></b> is in the middle of his career as a famous <a href="http://en.wikipedia.org/wiki/New_York_Yankees" title="New York Yankees">New York Yankees</a> outfielder and American League <a href="http://en.wikipedia.org/wiki/Major_League_Baseball_All-Star_Game" title="Major League Baseball All-Star Game">All-Star</a> for the sixth year in a row.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Jack_Kerouac" title="Jack Kerouac">Jack Kerouac</a></b> publishes his first novel in seven years, <i><a href="http://en.wikipedia.org/wiki/On_the_Road" title="On the Road">On the Road</a></i>.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Sputnik_1" title="Sputnik 1">Sputnik</a></b> is the first <a class="mw-redirect" href="http://en.wikipedia.org/wiki/Artificial_satellite" title="Artificial satellite">artificial satellite</a>, launched by the <a href="http://en.wikipedia.org/wiki/Soviet_Union" title="Soviet Union">Soviet Union</a> on October 4, the start of the <a class="mw-redirect" href="http://en.wikipedia.org/wiki/Space_race" title="Space race">space race</a>.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Zhou_Enlai" title="Zhou Enlai">Zhou Enlai</a></b>, <a href="http://en.wikipedia.org/wiki/Premier_of_the_People%27s_Republic_of_China" title="Premier of the People's Republic of China">Premier of the People's Republic of China</a>, survives an assassination attempt on the charter airliner <i><a href="http://en.wikipedia.org/wiki/Kashmir_Princess" title="Kashmir Princess">Kashmir Princess</a></i>.</li>
<li><i><b><a href="http://en.wikipedia.org/wiki/The_Bridge_on_the_River_Kwai" title="The Bridge on the River Kwai">The Bridge on the River Kwai</a></b></i> is released as a film adaptation of <a href="http://en.wikipedia.org/wiki/The_Bridge_over_the_River_Kwai" title="The Bridge over the River Kwai">the 1954 novel</a> and receives seven Academy Awards.</li>
</ul>
<p><b>1958</b></p>
<ul>
<li><b><a href="http://en.wikipedia.org/wiki/Lebanon" title="Lebanon">Lebanon</a></b> is engulfed in a <a class="mw-redirect" href="http://en.wikipedia.org/wiki/Lebanon_Crisis_of_1958" title="Lebanon Crisis of 1958">political and religious crisis</a> that eventually involves U.S. intervention.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Charles_de_Gaulle" title="Charles de Gaulle">Charles de Gaulle</a></b> is elected first president of the <a href="http://en.wikipedia.org/wiki/French_Fifth_Republic" title="French Fifth Republic">French Fifth Republic</a> following the <a class="mw-redirect" href="http://en.wikipedia.org/wiki/May_1958_crisis_(France)" title="May 1958 crisis (France)">Algerian Crisis</a>.</li>
<li><b><a href="http://en.wikipedia.org/wiki/California" title="California">California</a> <a href="http://en.wikipedia.org/wiki/Baseball" title="Baseball">baseball</a></b> begins as the Brooklyn Dodgers and New York Giants move to California and become the <a href="http://en.wikipedia.org/wiki/Los_Angeles_Dodgers" title="Los Angeles Dodgers">Los Angeles Dodgers</a> and <a href="http://en.wikipedia.org/wiki/San_Francisco_Giants" title="San Francisco Giants">San Francisco Giants</a>. They are the first major league teams west of <a href="http://en.wikipedia.org/wiki/Kansas_City,_Missouri" title="Kansas City, Missouri">Kansas City</a>.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Charles_Starkweather" title="Charles Starkweather">Charles Starkweather</a> homicides</b> capture the attention of Americans, killing eleven people before he is caught in a massive manhunt in <a href="http://en.wikipedia.org/wiki/Douglas,_Wyoming" title="Douglas, Wyoming">Douglas, Wyoming</a>.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Thalidomide" title="Thalidomide">Thalidomide</a></b>: Mothers taking the drug Thalidomide had children born with congenital <a class="mw-redirect" href="http://en.wikipedia.org/wiki/Birth_defects" title="Birth defects">birth defects</a> caused by the sleeping aid and <a href="http://en.wikipedia.org/wiki/Antiemetic" title="Antiemetic">antiemetic</a>, which was also used at times to treat <a href="http://en.wikipedia.org/wiki/Morning_sickness" title="Morning sickness">morning sickness</a>.</li>
</ul>
<p><b>1959</b></p>
<ul>
<li><b><a href="http://en.wikipedia.org/wiki/Buddy_Holly" title="Buddy Holly">Buddy Holly</a></b> dies in <a href="http://en.wikipedia.org/wiki/The_Day_the_Music_Died" title="The Day the Music Died">a plane crash</a> on February 3 with <a href="http://en.wikipedia.org/wiki/Ritchie_Valens" title="Ritchie Valens">Ritchie Valens</a> and <a href="http://en.wikipedia.org/wiki/The_Big_Bopper" title="The Big Bopper">The Big Bopper</a>, in a day that had a devastating impact on the country and youth culture.</li>
<li><i><b><a href="http://en.wikipedia.org/wiki/Ben-Hur_(1959_film)" title="Ben-Hur (1959 film)">Ben-Hur</a></b></i>, a film based around the <a href="http://en.wikipedia.org/wiki/Old_Testament" title="Old Testament">Old Testament</a> starring <a href="http://en.wikipedia.org/wiki/Charlton_Heston" title="Charlton Heston">Charlton Heston</a>, wins eleven <a class="mw-redirect" href="http://en.wikipedia.org/wiki/Academy_Awards" title="Academy Awards">Academy Awards</a>.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Monkeys_in_space" title="Monkeys in space">Monkeys in space</a></b>: Able and Miss Baker are the first living beings to successfully return to Earth from space aboard the flight <a class="mw-redirect" href="http://en.wikipedia.org/wiki/Jupiter_IRBM#Biological_flights" title="Jupiter IRBM">Jupiter AM-18</a>.</li>
<li><b><a href="http://en.wikipedia.org/wiki/American_Mafia" title="American Mafia">Mafia</a></b> are the center of attention for the <a href="http://en.wikipedia.org/wiki/Federal_Bureau_of_Investigation" title="Federal Bureau of Investigation">FBI</a> and public attention builds to this organized crime society with a historically Sicilian-American origin.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Hula_hoop" title="Hula hoop">Hula hoops</a></b> reach 100 million in sales as the latest toy fad.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Fidel_Castro" title="Fidel Castro">Fidel Castro</a></b> comes to power after a revolution in <a href="http://en.wikipedia.org/wiki/Cuba" title="Cuba">Cuba</a> and visits the United States later that year on an unofficial twelve-day tour.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Edsel" title="Edsel">Edsel</a></b>: Production of this car marque ends after only three years due to poor sales.</li>
</ul>
<p><b>1960</b></p>
<ul>
<li><b><a href="http://en.wikipedia.org/wiki/Lockheed_U-2" title="Lockheed U-2">Lockheed U-2</a></b>: An American U-2 spy plane piloted by <a href="http://en.wikipedia.org/wiki/Francis_Gary_Powers" title="Francis Gary Powers">Francis Gary Powers</a> was shot down over the <a href="http://en.wikipedia.org/wiki/Soviet_Union" title="Soviet Union">Soviet Union</a>, causing the <a class="mw-redirect" href="http://en.wikipedia.org/wiki/U-2_Crisis_of_1960" title="U-2 Crisis of 1960">U-2 Crisis of 1960</a>.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Syngman_Rhee" title="Syngman Rhee">Syngman Rhee</a></b> was rescued by the <a href="http://en.wikipedia.org/wiki/Central_Intelligence_Agency" title="Central Intelligence Agency">CIA</a> after being forced to resign as leader of <a href="http://en.wikipedia.org/wiki/South_Korea" title="South Korea">South Korea</a> for allegedly fixing an election and embezzling more than twenty million U.S. dollars.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Payola" title="Payola">Payola</a></b>, illegal payments for radio broadcasting of songs, was publicized due to <a href="http://en.wikipedia.org/wiki/Dick_Clark" title="Dick Clark">Dick Clark</a>'s testimony before Congress and <a href="http://en.wikipedia.org/wiki/Alan_Freed" title="Alan Freed">Alan Freed</a>'s public disgrace.</li>
<li><b><a href="http://en.wikipedia.org/wiki/John_F._Kennedy" title="John F. Kennedy">John F. Kennedy</a></b> beats <a href="http://en.wikipedia.org/wiki/Richard_Nixon" title="Richard Nixon">Richard Nixon</a> in the November 8 general <a class="mw-redirect" href="http://en.wikipedia.org/wiki/U.S._presidential_election,_1960" title="U.S. presidential election, 1960">election</a> amongst allegations of vote fraud.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Chubby_Checker" title="Chubby Checker">Chubby Checker</a></b> popularizes the dance <a href="http://en.wikipedia.org/wiki/Twist_(dance)" title="Twist (dance)">The Twist</a> with his song of the same name (see "<a href="http://en.wikipedia.org/wiki/The_Twist_(song)" title="The Twist (song)">The Twist</a>").</li>
<li><i><b><a class="mw-redirect" href="http://en.wikipedia.org/wiki/Psycho_(1960_film)" title="Psycho (1960 film)">Psycho</a></b></i>: An <a href="http://en.wikipedia.org/wiki/Alfred_Hitchcock" title="Alfred Hitchcock">Alfred Hitchcock</a> thriller, based on a pulp novel by <a href="http://en.wikipedia.org/wiki/Robert_Bloch" title="Robert Bloch">Robert Bloch</a> and adapted by <a href="http://en.wikipedia.org/wiki/Joseph_Stefano" title="Joseph Stefano">Joseph Stefano</a>, which becomes a landmark in graphic violence and cinema sensationalism. The screeching violins heard briefly in the background are a trademark of the film's soundtrack.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Congo_Crisis" title="Congo Crisis">Congo Crisis</a></b>: The <a href="http://en.wikipedia.org/wiki/Democratic_Republic_of_the_Congo" title="Democratic Republic of the Congo">Democratic Republic of the Congo</a> was declared independent of <a href="http://en.wikipedia.org/wiki/Belgium" title="Belgium">Belgium</a> on June 30, with <a class="mw-redirect" href="http://en.wikipedia.org/wiki/Joseph_Kasavubu" title="Joseph Kasavubu">Joseph Kasavubu</a> as President and <a href="http://en.wikipedia.org/wiki/Patrice_Lumumba" title="Patrice Lumumba">Patrice Lumumba</a> as Prime Minister. The Belgians, however, had other plans (see <a href="http://en.wikipedia.org/wiki/Congo_Crisis#Secession_of_Katanga" title="Congo Crisis">Secession of Katanga</a>).</li>
</ul>
<p><b>1961</b></p>
<ul>
<li><b><a href="http://en.wikipedia.org/wiki/Ernest_Hemingway" title="Ernest Hemingway">Ernest Hemingway</a></b> commits suicide on July 2 after a long battle with <a class="mw-redirect" href="http://en.wikipedia.org/wiki/Clinical_depression" title="Clinical depression">depression</a>.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Adolf_Eichmann" title="Adolf Eichmann">Adolf Eichmann</a></b>, a "most wanted" <a href="http://en.wikipedia.org/wiki/Nazi_Party" title="Nazi Party">Nazi</a> <a class="mw-redirect" href="http://en.wikipedia.org/wiki/War_crimes" title="War crimes">war criminal</a>, is traced to <a href="http://en.wikipedia.org/wiki/Argentina" title="Argentina">Argentina</a> and captured by <a href="http://en.wikipedia.org/wiki/Mossad" title="Mossad">Mossad</a> agents. He is covertly taken to <a href="http://en.wikipedia.org/wiki/Israel" title="Israel">Israel</a> where he is put on trial for <a class="mw-redirect" href="http://en.wikipedia.org/wiki/Crimes_against_humanity" title="Crimes against humanity">crimes against humanity</a> in <a href="http://en.wikipedia.org/wiki/Nazi_Germany" title="Nazi Germany">Germany</a> during <a href="http://en.wikipedia.org/wiki/World_War_II" title="World War II">World War II</a>, convicted, and hanged.</li>
<li><i><b><a href="http://en.wikipedia.org/wiki/Stranger_in_a_Strange_Land" title="Stranger in a Strange Land">Stranger in a Strange Land</a></b></i>: Written by <a href="http://en.wikipedia.org/wiki/Robert_A._Heinlein" title="Robert A. Heinlein">Robert A. Heinlein</a>, is a breakthrough best-seller with themes of sexual freedom and liberation.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Bob_Dylan" title="Bob Dylan">Bob Dylan</a></b>: After a <i><a href="http://en.wikipedia.org/wiki/The_New_York_Times" title="The New York Times">New York Times</a></i> review by critic <a href="http://en.wikipedia.org/wiki/Robert_Shelton_(critic)" title="Robert Shelton (critic)">Robert Shelton</a>, Bob Dylan is signed to <a href="http://en.wikipedia.org/wiki/Columbia_Records" title="Columbia Records">Columbia Records</a>.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Berlin" title="Berlin">Berlin</a></b>: The <a href="http://en.wikipedia.org/wiki/Berlin_Wall" title="Berlin Wall">Berlin Wall</a>, which forcibly separated <a href="http://en.wikipedia.org/wiki/West_Berlin" title="West Berlin">West Berlin</a> from <a href="http://en.wikipedia.org/wiki/East_Berlin" title="East Berlin">East Berlin</a> and the rest of <a href="http://en.wikipedia.org/wiki/East_Germany" title="East Germany">East Germany</a>, was erected on August 13 to prevent citizens escaping to the West.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Bay_of_Pigs_Invasion" title="Bay of Pigs Invasion">Bay of Pigs Invasion</a></b>: Failed attempt by <a href="http://en.wikipedia.org/wiki/United_States" title="United States">United States</a>-trained <a href="http://en.wikipedia.org/wiki/Cuban_exile" title="Cuban exile">Cuban exiles</a> to invade <a href="http://en.wikipedia.org/wiki/Cuba" title="Cuba">Cuba</a> and overthrow <a href="http://en.wikipedia.org/wiki/Fidel_Castro" title="Fidel Castro">Fidel Castro</a>.</li>
</ul>
<p><b>1962</b></p>
<ul>
<li><i><b><a href="http://en.wikipedia.org/wiki/Lawrence_of_Arabia_(film)" title="Lawrence of Arabia (film)">Lawrence of Arabia</a></b></i>: The <a class="mw-redirect" href="http://en.wikipedia.org/wiki/Academy_Awards" title="Academy Awards">Academy Award</a>-winning film based on the life of <a href="http://en.wikipedia.org/wiki/T._E._Lawrence" title="T. E. Lawrence">T. E. Lawrence</a> starring <a href="http://en.wikipedia.org/wiki/Peter_O%27Toole" title="Peter O'Toole">Peter O'Toole</a> premiers in America on <span class="mw-formatted-date" title="12-16"><a href="http://en.wikipedia.org/wiki/December_16" title="December 16">December 16</a></span>.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Beatlemania" title="Beatlemania">Beatlemania</a></b>: <a href="http://en.wikipedia.org/wiki/The_Beatles" title="The Beatles">The Beatles</a>, a <a href="http://en.wikipedia.org/wiki/United_Kingdom" title="United Kingdom">British</a> pop/rock group, gain <a href="http://en.wikipedia.org/wiki/Ringo_Starr" title="Ringo Starr">Ringo Starr</a> as drummer and <a href="http://en.wikipedia.org/wiki/Brian_Epstein" title="Brian Epstein">Brian Epstein</a> as manager, and join the <a href="http://en.wikipedia.org/wiki/EMI" title="EMI">EMI</a>'s <a href="http://en.wikipedia.org/wiki/Parlophone" title="Parlophone">Parlophone</a> label. They soon become the world's most famous rock band , with the word "Beatlemania" adopted by the press for their fans' unprecedented enthusiasm. It also began the <a href="http://en.wikipedia.org/wiki/British_Invasion" title="British Invasion">British Invasion</a> in the United States.</li>
<li><b><a href="http://en.wikipedia.org/wiki/University_of_Mississippi" title="University of Mississippi">University of Mississippi</a></b>: <a href="http://en.wikipedia.org/wiki/James_Meredith" title="James Meredith">James Meredith</a> <a href="http://en.wikipedia.org/wiki/Desegregation" title="Desegregation">integrates</a> the University of Mississippi (known as Ole Miss).</li>
<li><b><a href="http://en.wikipedia.org/wiki/John_Glenn" title="John Glenn">John Glenn</a></b>: Flew the first American manned orbital mission termed "<a class="mw-redirect" href="http://en.wikipedia.org/wiki/Mercury_Atlas_6" title="Mercury Atlas 6">Friendship 7</a>" on February 20.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Sonny_Liston" title="Sonny Liston">Sonny Liston</a> beats <a href="http://en.wikipedia.org/wiki/Floyd_Patterson" title="Floyd Patterson">Floyd Patterson</a></b>: Sonny Liston and Floyd Patterson fight for the world <a href="http://en.wikipedia.org/wiki/Heavyweight" title="Heavyweight">heavyweight</a> championship on September 25, ending in a first-round knockout. This match marked the first time Patterson had ever been knocked out and one of only eight losses in his 20-year professional career.</li>
</ul>
<p><b>1963</b></p>
<ul>
<li><b><a href="http://en.wikipedia.org/wiki/Pope_Paul_VI" title="Pope Paul VI">Pope Paul VI</a></b>: Cardinal Giovanni Montini is elected to the papacy and takes the regnal name of Paul VI.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Malcolm_X" title="Malcolm X">Malcolm X</a></b> makes his infamous statement "The chickens have come home to roost" about the Kennedy assassination, thus causing the <a href="http://en.wikipedia.org/wiki/Nation_of_Islam" title="Nation of Islam">Nation of Islam</a> to censure him.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Profumo_Affair" title="Profumo Affair">Profumo Affair</a></b>: The British Secretary of State for War has a relationship with a showgirl, and then lies when questioned about it before the <a class="mw-redirect" href="http://en.wikipedia.org/wiki/British_House_of_Commons" title="British House of Commons">House of Commons</a>. When the truth came out, it led to his own resignation and undermined the credibility of the Prime Minister.</li>
<li><b><a href="http://en.wikipedia.org/wiki/John_F._Kennedy_assassination" title="John F. Kennedy assassination">John F. Kennedy assassination</a></b>: President <a href="http://en.wikipedia.org/wiki/John_F._Kennedy" title="John F. Kennedy">John F. Kennedy</a> is <a href="http://en.wikipedia.org/wiki/John_F._Kennedy_assassination" title="John F. Kennedy assassination">assassinated</a> on November 22 while riding in an open convertible through Dallas.</li>
</ul>
<p><b>1965</b></p>
<ul>
<li><b><a href="http://en.wikipedia.org/wiki/Birth_control" title="Birth control">Birth control</a></b>: In the early 1960s, oral contraceptives, popularly known as "the pill", first go on the market and are extremely popular. <a href="http://en.wikipedia.org/wiki/Griswold_v._Connecticut" title="Griswold v. Connecticut">Griswold v. Connecticut</a> in 1965 challenged a Connecticut law prohibiting contraceptives. In 1968, <a href="http://en.wikipedia.org/wiki/Pope_Paul_VI" title="Pope Paul VI">Pope Paul VI</a> released a papal <a href="http://en.wikipedia.org/wiki/Encyclical" title="Encyclical">encyclical</a> entitled <i><a href="http://en.wikipedia.org/wiki/Humanae_Vitae" title="Humanae Vitae">Humanae Vitae</a></i> which declared artificial birth control a sin.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Ho_Chi_Minh" title="Ho Chi Minh">Ho Chi Minh</a></b>: A <a href="http://en.wikipedia.org/wiki/Vietnam" title="Vietnam">Vietnamese</a> communist, who served as <a href="http://en.wikipedia.org/wiki/President_of_Vietnam" title="President of Vietnam">President of Vietnam</a> from 1954-1969. March 2 Operation Rolling Thunder begins bombing of the Ho Chi Minh Trail supply line from North Vietnam to the Vietcong rebels in the south. On March 8, the first U.S. combat troops, 3,500 marines, land in South Vietnam.</li>
</ul>
<p><b>1968</b></p>
<ul>
<li><b><a href="http://en.wikipedia.org/wiki/Richard_Nixon" title="Richard Nixon">Richard Nixon</a></b>: Former Vice President Nixon is elected in the <a href="http://en.wikipedia.org/wiki/United_States_presidential_election,_1968" title="United States presidential election, 1968">1968 presidential election of the United States</a>.</li>
</ul>
<p><b>1969</b></p>
<ul>
<li><b><a href="http://en.wikipedia.org/wiki/Space_Race" title="Space Race">Space Race</a></b>: <a href="http://en.wikipedia.org/wiki/Apollo_11" title="Apollo 11">Apollo 11</a>, the first manned lunar landing, successfully lands on the moon.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Woodstock_Festival" title="Woodstock Festival">Woodstock Festival</a></b>: Famous rock and roll festival of 1969 that came to be the epitome of the <a href="http://en.wikipedia.org/wiki/Counterculture" title="Counterculture">counterculture</a> movement.</li>
</ul>
<p><b>1974</b></p>
<ul>
<li><b><a href="http://en.wikipedia.org/wiki/Watergate_scandal" title="Watergate scandal">Watergate scandal</a></b>: Political scandal involving a hotel break-in, eventually leading to President Nixon's resignation.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Punk_rock" title="Punk rock">Punk rock</a></b>: The <a href="http://en.wikipedia.org/wiki/Ramones" title="Ramones">Ramones</a> form, with the <a href="http://en.wikipedia.org/wiki/Sex_Pistols" title="Sex Pistols">Sex Pistols</a> following in 1975, bringing in the punk era.</li>
</ul>
<p><b>1977</b></p>
<ul>
<li><b><a href="http://en.wikipedia.org/wiki/Menachem_Begin" title="Menachem Begin">Menachem Begin</a></b> becomes <a href="http://en.wikipedia.org/wiki/Prime_Minister_of_Israel" title="Prime Minister of Israel">Prime Minister of Israel</a> in 1977 and negotiates the <a href="http://en.wikipedia.org/wiki/Camp_David_Accords" title="Camp David Accords">Camp David Accords</a> with <a href="http://en.wikipedia.org/wiki/Egypt" title="Egypt">Egypt</a>'s president in 1978.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Ronald_Reagan" title="Ronald Reagan">Ronald Reagan</a></b>: President of the United States from 1981 to 1989; first attempted in 1976 to run for president.</li>
</ul>
<p><b>1976</b></p>
<ul>
<li><b><a class="mw-redirect" href="http://en.wikipedia.org/wiki/Palestine_(region)" title="Palestine (region)">Palestine</a></b>: a United Nations resolution that calls for an independent Palestinian state and to end the Israeli occupation .</li>
<li><b><a href="http://en.wikipedia.org/wiki/Aircraft_hijacking" title="Aircraft hijacking">Aircraft hijacking</a></b>: Numerous <a href="http://en.wikipedia.org/wiki/Aircraft_hijacking" title="Aircraft hijacking">aircraft hijackings</a> took place, specifically, the Palestinian hijack of <a class="mw-redirect" href="http://en.wikipedia.org/wiki/Air_France_Flight_139" title="Air France Flight 139">Air France Flight 139</a> and the subsequent <a href="http://en.wikipedia.org/wiki/Operation_Entebbe" title="Operation Entebbe">Operation Entebbe</a> in <a href="http://en.wikipedia.org/wiki/Uganda" title="Uganda">Uganda</a></li>
</ul>
<p><b>1979</b></p>
<ul>
<li><b><a href="http://en.wikipedia.org/wiki/Ayatollah" title="Ayatollah">Ayatollahs</a> in <a href="http://en.wikipedia.org/wiki/Iran" title="Iran">Iran</a></b>: During the <a href="http://en.wikipedia.org/wiki/Iranian_Revolution" title="Iranian Revolution">Iranian Revolution</a> of 1979, the West-backed and U.S.-installed <a href="http://en.wikipedia.org/wiki/Mohammad_Reza_Pahlavi" title="Mohammad Reza Pahlavi">Shah</a> is overthrown as the Ayatollah <a href="http://en.wikipedia.org/wiki/Ruhollah_Khomeini" title="Ruhollah Khomeini">Ruhollah Khomeini</a> gains power after years in exile.</li>
<li><b><a class="mw-redirect" href="http://en.wikipedia.org/wiki/Soviet_invasion_of_Afghanistan" title="Soviet invasion of Afghanistan">Soviet invasion of Afghanistan</a></b>: Following their move into <a href="http://en.wikipedia.org/wiki/Afghanistan" title="Afghanistan">Afghanistan</a>, Soviet forces fight a ten-year war, from 1979 to 1989.</li>
</ul>
<p><b>1983</b></p>
<ul>
<li><i><b><a href="http://en.wikipedia.org/wiki/Wheel_of_Fortune_(U.S._game_show)" title="Wheel of Fortune (U.S. game show)">Wheel of Fortune</a></b></i>: A hit television <a href="http://en.wikipedia.org/wiki/Game_show" title="Game show">game show</a> which has been TV's highest-rated syndicated program since 1983.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Sally_Ride" title="Sally Ride">Sally Ride</a></b>: In <a href="http://en.wikipedia.org/wiki/STS-7" title="STS-7">1983</a> she becomes the first <a href="http://en.wikipedia.org/wiki/United_States" title="United States">American</a> woman in space. Dr. Ride's quip from space "Better than an <a href="http://en.wikipedia.org/wiki/E_ticket" title="E ticket">E-ticket</a>", harkens back to the opening of Disneyland mentioned earlier, with the E-ticket purchase needed for the best rides.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Heavy_metal_music" title="Heavy metal music">Heavy metal</a> <a href="http://en.wikipedia.org/wiki/Suicide" title="Suicide">suicide</a></b>: In the 1980s <a href="http://en.wikipedia.org/wiki/Ozzy_Osbourne" title="Ozzy Osbourne">Ozzy Osbourne</a> and the bands <a href="http://en.wikipedia.org/wiki/Metallica" title="Metallica">Metallica</a> and <a href="http://en.wikipedia.org/wiki/Judas_Priest" title="Judas Priest">Judas Priest</a> were brought to court by parents who accused the musicians of <a href="http://en.wikipedia.org/wiki/Backmasking" title="Backmasking">hiding subliminal pro-suicide messages in their music</a>.</li>
<li><b><a class="mw-redirect" href="http://en.wikipedia.org/wiki/Trade_deficit" title="Trade deficit">Trade deficit</a></b>: Persistent U.S. trade deficits.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Homelessness" title="Homelessness">Homeless Vietnam veterans</a></b>: Veterans of the <a href="http://en.wikipedia.org/wiki/Vietnam_War" title="Vietnam War">Vietnam War</a>, including many disabled ex-military, are reported to be left homeless and impoverished, the country unable to yet handle its failure to succeed.</li>
<li><b><a href="http://en.wikipedia.org/wiki/AIDS" title="AIDS">AIDS</a></b>: A collection of symptoms and infections in humans resulting from the specific damage to the immune system caused by infection with the human immunodeficiency virus (<a href="http://en.wikipedia.org/wiki/HIV" title="HIV">HIV</a>). It is first detected and recognized in the 1980s, on its way to becoming a <a href="http://en.wikipedia.org/wiki/Pandemic" title="Pandemic">pandemic</a>.</li>
<li><b><a href="http://en.wikipedia.org/wiki/Crack_cocaine" title="Crack cocaine">Crack cocaine</a></b> was a popular drug in the mid-to-late 1980s.</li>
</ul>
<p><b>1984</b></p>
<ul>
<li><b><a href="http://en.wikipedia.org/wiki/Bernhard_Goetz" title="Bernhard Goetz">Bernhard Goetz</a></b>: On December 22, Goetz shot four young men who he said were threatening him on a New York City subway. Goetz was charged with attempted murder but was acquitted of the charges, though convicted of carrying an unlicensed gun.</li>
</ul>
<p><b>1988</b></p>
<ul>
<li><b><a href="http://en.wikipedia.org/wiki/Syringe_Tide" title="Syringe Tide">Syringe Tide</a></b>: Medical waste was found washed up on <a href="http://en.wikipedia.org/wiki/Beach" title="Beach">beaches</a> in <a href="http://en.wikipedia.org/wiki/New_Jersey" title="New Jersey">New Jersey</a> after being illegally dumped at sea. Before this event, waste dumped in the oceans was an "out of sight, out of mind" affair. This has been cited as one of the crucial turning points in popular opinion on <a href="http://en.wikipedia.org/wiki/Environmentalism" title="Environmentalism">environmentalism</a>.</li>
</ul>
<p><b>1989</b></p>
<ul>
<li><b>China's <a href="http://en.wikipedia.org/wiki/Martial_law" title="Martial law">Martial law</a></b>: On May 20, China declares martial law, enabling them to use force of arms against protesting students to end the <a href="http://en.wikipedia.org/wiki/Tiananmen_Square_protests_of_1989" title="Tiananmen Square protests of 1989">Tiananmen Square protests</a>.</li>
<li><b><a class="mw-redirect" href="http://en.wikipedia.org/wiki/Cola_wars" title="Cola wars">Cola wars</a></b>: Soft drink giants <a href="http://en.wikipedia.org/wiki/Coca-Cola" title="Coca-Cola">Coke</a> and <a href="http://en.wikipedia.org/wiki/Pepsi" title="Pepsi">Pepsi</a> each run marketing campaigns using rock and roll and popular music stars to reach the young adult demographic.</li>
</ul>
<p><em>Taken from the <a href="http://en.wikipedia.org/wiki/We_Didn't_Start_the_Fire#Historical_items_referred_to_in_the_song">Wikipedia article</a>.</em></p>
</div>

<div id="comments">

</div>
