---
permalink: /blog/2010/11/lets-stop-saying-fluent-fluently-and-fluency-too/
layout: blog-old
title: 'Let''s stop saying "fluent"! ("fluently" and "fluency" too)'
day: 16
month: Nov
year: 2010
category: language learning
tags: [ ]
language: en
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/11/no_fluent.png" rel="lightbox"><img alt="No Fluent!" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/11/no_fluent.png" title='Just say No to "Fluent"!'/></a><div class="caption">Just say No to "Fluent"!</div></div>
<p>The word "fluent" is used to sell products, as well as, feed or crush egos.  Since everyone has their own definition of the word, it's very hard (if not impossible) to have useful conversations about it, because we will be talking about different things.  So, let's stop just stop using the word fluent!</p>
<p><strong>Read more to learn about the discussion and see the alternative words I propose.</strong></p>
<h2><a name="what_does_it_mean_to_be_fluent">What does it mean to be fluent in a language?</a></h2>
<p>There has been a lot of discussion lately about what it means to be fluent in a language.  <a href="http://www.anthonylauder.com/">Anthony Lauder</a> of <a href="http://www.youtube.com/user/FluentCzech">FluentCzech</a> on YouTube, explains in a <a href="http://www.youtube.com/watch?v=1PY1MC0fva8">recent video</a> that he subscribes to the traditional definition and quotes the <a href="http://en.wikipedia.org/wiki/Fluency">Wikipedia article on "fluency"</a>:</p>
<blockquote>
Fluency is a speech language pathology term that means the smoothness or flow with which sounds, syllables, words and phrases are joined together when speaking quickly.
</blockquote>
<p>This definition is used mostly by linguists and speech therapists.  Among people in the language learning community, fluency is used to describe various levels of language proficiency.  Cody of <a href="http://www.youtube.com/user/Codylangaugesblog">Codylanguagesblog</a> on YouTube, <a href="http://www.youtube.com/watch?v=8NkGf8uCdxM">explains</a> that to him fluency is about how much you understand when exposed to unfamiliar content.  According to Cody, if you understand "75%, I would consider that basic fluency, 90% I'd say you're really, really fluent."</p>
<p>Others in the language learning community have different definitions, ranging from the number of words you know, to how good your accent is or what topics you are able to comfortably discuss.  Some (like Cody) focus more on the ability to understand, others on the ability to speak.  For some its a self-critique, for others its something only native speakers or other learners can judge.</p>
<p>Among non-linguists and people outside of the language learning community, "fluent" means something else.  To most ordinary people, speaking a language fluently means you speak perfectly, just like a native speaker.  If you are fluent in a language, there is nothing more to learn.  You are done.</p>
<p>But Cody makes the point that "no one can be just like a native speaker.  You can only hope to achieve ... what is called near-native fluency.... It's just not possible, you can never be that good."  I'm not sure I'm ready to believe its impossible but I think people who have never spent a lot of time learning a language don't realize that even people who speak a language very well, still won't be mistaken for native speakers.</p>
<h2><a name="fluent_is_meaningless">The word "fluent" is meaningless</a></h2>
<p>I agree with Andrew at <a href="http://howlearnspanish.com">How to Learn Spanish</a>, when he <a href="http://howlearnspanish.com/2010/11/what-does-it-mean-to-be-fluent-in-a-language/">writes</a> that the term is "so widely open to differing interpretations that it is just short of <strong>meaningless</strong>."</p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/11/no_fluent.png" rel="lightbox"><img alt="No Fluent!" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/11/no_fluent.png" title='Just say No to "Fluent"!'/></a><div class="caption">Just say No to "Fluent"!</div></div>
<p><strong>The word "fluent" is used to sell products, as well as, feed or crush egos.  Since everyone has their own definition of the word, it's very hard (if not impossible) to have useful conversations about it, because we will be talking about different things.  So, let's stop just stop using the word fluent!</strong></p>
<p>I propose two alternative words to "fluency" (I'm not the first to make this proposal, <a href="#more_discussion">see below</a>):</p>
<ul>
<li><strong>fluidity (adj. fluid, adv. fluidly)</strong> - Describes the ability to speak naturally, without pauses.  To be able to respond without delay and maintain the flow of conversation.  It says nothing about vocabulary, grammar or pronunciation.  This is closest to the original definition of "fluent" but without all the new emotional and marketing baggage.</li>
<li><strong>proficiency</strong> - Describes language ability at a certain level, assessing any aspects. This could mean grammar, vocabulary, accent and ability to read, write, speak or listen.  You can use any description of proficiency you like, for example: beginner, intermediate, advanced.  You can even get more specific and talk about passive/active vocabulary, accent, fluidity, etc...</li>
</ul>
<p>One of the advantages of talking about proficiency is that it demands further explanation.  I can't say: "I speak Polish proficiently," because it has no preconceived meaning (at least not to me!).</p>
<p>I have to add more information, like: "I speak Polish at an intermediate level, but understand at an advanced level.  My accent is very good but it is easy to spot that I am not a native speaker after less than a minute of conversation.  My grammar is good in writing and passable in speaking.  I have serious problems with fluidity when it comes to numbers and dates (I have to stop and think, I stutter as I try to remember)."</p>
<p>It is obvious that the above is a self-critique.  Other people could comment on my critique, but I think the conversation would be much more productive (and civil!) than if I had used the word "fluent".</p>
<h2><a name="more_discussion">More discussion:</a></h2>
<ul>
<li><a href="http://how-to-learn-any-language.com/forum/forum_posts.asp?TID=22382&amp;PN=5&amp;TPN=1">Please, proficiency not fluency</a> (forum, 59 messages over 8 pages) - several people make similar (or the same) proposals for alternate words
</li><li><a href="http://www.youtube.com/watch?v=J6DCcLuYkPI">Fluency and Confrontations I Have Had With That Word</a> (video, 10:53)</li>
<li><a href="http://www.learn-a-new-language.com/when-are-you-fluent-in-a-foreign-language/">When Are You Fluent in a Foreign Language</a> (text, 306 words)</li>
<li><a href="http://langwitches.org/blog/2010/11/10/what-does-it-mean-to-be-fluent/">Skilled? Literate? Fluent?</a> (text, 959 words)</li>
</ul>
</div>

<div id="comments">
<a id="comment-13"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2010/12/you-dont-need-to-speak-like-a-native-speaker" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] my article Let's stop saying "fluent!", I discussed the popular belief that being "fluent" means speaking just like a native speaker. Some [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/16/13">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2010/12/you-dont-need-to-speak-like-a-native-speaker" rel="nofollow">You don&amp;amp;#039;t need to speak like a native speaker | Lin</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/lets-stop-saying-fluent-fluently-and-fluency-too#comment-13">Tuesday, December 7, 2010 - 08:12</a></span>
</div>
</div>
<a id="comment-149"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2011/02/immersion-tips-how-to-meet-natives" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] for a year and coming back able to speak the language "fluently." (I don't like that word, read this article to find out [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/16/149">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2011/02/immersion-tips-how-to-meet-natives" rel="nofollow">Immersion tips: How to meet natives | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/lets-stop-saying-fluent-fluently-and-fluency-too#comment-149">Tuesday, February 22, 2011 - 10:56</a></span>
</div>
</div>
<a id="comment-409"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2011/06/how-long-does-it-take-to-learn-a-foreign-language" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] as I've said in the past, I'm not a big fan of the word "fluent." The word can have different meanings depending on who is using it. This is [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/16/409">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2011/06/how-long-does-it-take-to-learn-a-foreign-language" rel="nofollow">How long does it take to learn a foreign language? | LinguaT</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/lets-stop-saying-fluent-fluently-and-fluency-too#comment-409">Tuesday, June 7, 2011 - 09:20</a></span>
</div>
</div>
<a id="comment-1115"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2011/12/my-language-goals-for-2012" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] focus too much on obscure grammar points. In general, I believe it's more important to be able to fluidly express your ideas and understand what people say - even if you make a lot of [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/16/1115">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2011/12/my-language-goals-for-2012" rel="nofollow">My language goals for 2012 | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/lets-stop-saying-fluent-fluently-and-fluency-too#comment-1115">Tuesday, December 27, 2011 - 09:59</a></span>
</div>
</div>
<a id="comment-1692"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/04/3-kroki-do-p%C5%82ynnego-m%C3%B3wienia-fragment-e-booka" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] reguły unikam bezpośredniej odpowiedzi na to pytanie ponieważ (1) nie lubię słowa "fluently" :-) i (2) wymaga BARDZO złożonej [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/16/1692">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/04/3-kroki-do-p%C5%82ynnego-m%C3%B3wienia-fragment-e-booka" rel="nofollow">3 kroki do płynnego mówienia (fragment e-booka!) | LinguaTre</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/lets-stop-saying-fluent-fluently-and-fluency-too#comment-1692">Thursday, April 19, 2012 - 09:56</a></span>
</div>
</div>
<a id="comment-1787"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/01/language-learning-guide" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] is your goal? (i.e. discussion of "fluency" and aiming for [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/16/1787">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/01/language-learning-guide" rel="nofollow">Language learning guide? | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/lets-stop-saying-fluent-fluently-and-fluency-too#comment-1787">Wednesday, May 2, 2012 - 19:10</a></span>
</div>
</div>
<a id="comment-1814"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/04/3-steps-to-speaking-a-language-fluently-ebook-excerpt" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] I avoid answering this question directly because (1) I don't like the word fluently :-) and (2) it's a BIG [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/16/1814">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/04/3-steps-to-speaking-a-language-fluently-ebook-excerpt" rel="nofollow">3 steps to speaking a language fluently (ebook excerpt!) | L</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/lets-stop-saying-fluent-fluently-and-fluency-too#comment-1814">Wednesday, May 2, 2012 - 19:30</a></span>
</div>
</div>
<a id="comment-2046"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/05/3-super-simple-speaking-strategies" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] to my FREE ebook, I talked about the three steps to speaking a language "fluently" (although, I'm not fond of this word!): (1) get the language in your brain, (2) overcome your fear of speaking and (3) [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/16/2046">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/05/3-super-simple-speaking-strategies" rel="nofollow">3 super simple &amp;amp;quot;speaking strategies&amp;amp;quot; | Lin</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/lets-stop-saying-fluent-fluently-and-fluency-too#comment-2046">Tuesday, May 29, 2012 - 05:53</a></span>
</div>
</div>
<a id="comment-3548"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/03/about-me-and-my-mission" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] years of Spanish and three years of Russian and I'd only mastered grammar tests. Fluidly speaking and understanding a language was still little more than a [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/16/3548">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/03/about-me-and-my-mission" rel="nofollow">About me (and my mission) | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/lets-stop-saying-fluent-fluently-and-fluency-too#comment-3548">Tuesday, January 22, 2013 - 09:29</a></span>
</div>
</div>
<a id="comment-4024"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/796e37d09e53f8d21e3e9e3ba43bfb9b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I agree that it's kind of a useless word...I also think it's possible for a non-native speaker to be better at a language than the natives in some regards, while still making certain errors in speech that native speakers would never make. For example, when I was studying at university, I had many professors whose first language was not English. Yes, they spoke with an accent, misused articles, etc. But they could articulate their views on complex subjects better than your typical native speaker and maybe even had a broader vocabulary from reading.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/16/4024">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Riva (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/lets-stop-saying-fluent-fluently-and-fluency-too#comment-4024">Tuesday, February 19, 2013 - 13:53</a></span>
</div>
</div>
<div class="indented"><a id="comment-4084"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Riva!</p>
<p>Thanks for your comment. :-) Yeah, I agree - what matters is the ability to express yourself, not correctness.</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/16/4084">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/11/lets-stop-saying-fluent-fluently-and-fluency-too#comment-4084">Saturday, February 23, 2013 - 10:56</a></span>
</div>
</div>
</div>
</div>
