---
permalink: /blog/2010/11/matter-of-time-an-original-song-by-david-snopek/
layout: blog-old
title: '"Matter Of Time" - An original song by David Snopek'
day: 20
month: Nov
year: 2010
category: personal
tags: 
  - 'music'
language: en
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 117px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/default/files/imagecache/Large/image/2010/11/alspainting.jpg" rel="lightbox"><img alt="Painting, room with volcano" src="http://www.linguatrek.com/sites/default/files/imagecache/Small/image/2010/11/alspainting.jpg" title="By Allison Snopek"/></a><div class="caption">Painting by <a href="http://www.allisonsnopek.com">Allison Snopek</a></div></div>
<p>I wrote "Matter Of Time" in the summer of 2004.  At the time I was depressed and drinking very heavily.  I was also very lonely.  I hadn't had a girlfriend for over a year ("10,000 lonely nights" is an exaggeration, 400 would be more accurate) -- which isn't surprising because I was drunk all the time.  I did a lot of things that I regret.  The song is about frustration about my life and who I had become.</p>
<p>But it's a hopeful song!  I promise myself that I won't always be this way.  Which is, of course, how it turned out. ;-)  I don't have any of those problems anymore.</p>
<p>Read more to listen to the song and read the lyrics.</p>
<h2>Video (with song)</h2>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/VYHtQsgA4fU?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/VYHtQsgA4fU?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p><em>The painting behind me was done by my sister, <a href="http://www.allisonsnopek.com">Allison Snopek</a>.</em></p>
<h2><a name="lyrics">Lyrics</a></h2>
<h3>Verse I</h3>
<p><sent>I won't always be a drunk</sent><br/>
<sent>I won't always be a liar</sent><br/>
<sent>I won't always be a failure, in my own eyes</sent></p>
<p><sent>I don't need your cold intentions</sent><br/>
<sent>Right on,<br/>
Uh-huh</sent></p>
<p><sent>Some day I'll write a song<br/>
And someone will sing along</sent><br/>
<sent>Some day I'll make it too</sent><br/>
<sent>Some day I'll be telling you</sent></p>
<p><sent>About all my old addictions</sent><br/>
<sent>About 10,000 lonely nights</sent><br/>
<sent>Come on,<br/>
Uh-huh</sent></p>
<h3>Refrain</h3>
<p><sent>It's only a matter of time now</sent><br/>
<sent>I'm picking up, picking up, picking up,<br/>
the scent of it all.</sent></p>
<h3>Verse II</h3>
<p><sent>I won't always be so vain</sent><br/>
<sent>I won't always play the creep</sent><br/>
<sent>I won't always follow the pretty girl<br/>
from room to room to room, yeah.</sent></p>
<p><sent>Heaven hold your apathy</sent><br/>
<sent>Right on,<br/>
Uh-huh</sent></p>
<p><sent>Some day I won't shy away</sent><br/>
<sent>Some day I'll accept my place</sent><br/>
<sent>Some day I'll wake up<br/>
and realize all this.</sent></p>
<p><sent>Storm clouds don't frighten me,</sent><br/>
<sent>Some things will [can] never<br/>
be free.</sent></p>
</div>

<div id="comments">
<a id="comment-10"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2010/11/vlog-historia-piosenki-matter-of-time-i-plany-na-nast%C4%99pne-filmiki" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] tym filmik mówię na temat historii piosenki, którą grałem w zeszłym filmiku. Też wspominam stare czasy kiedy byłem bardziej zaangażowany muzyką. ;-) Obiecam, że za [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/19/10">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2010/11/vlog-historia-piosenki-matter-of-time-i-plany-na-nast%C4%99pne-filmiki" rel="nofollow">Vlog: Historia piosenki &amp;amp;quot;Matter of Time&amp;amp;quot; i</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/matter-of-time-an-original-song-by-david-snopek#comment-10">Sunday, November 21, 2010 - 16:26</a></span>
</div>
</div>
</div>
