---
permalink: /blog/2010/11/polish-is-not-the-hardest-language-in-the-world/
layout: blog-old
title: 'Polish is NOT the hardest language in the world!'
day: 23
month: Nov
year: 2010
category: learn Polish
tags: [ ]
language: en
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/11/pawel_wolak_mistrzem_iba.jpg" rel="lightbox"><img alt="Polish boxer being declared campion" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/11/pawel_wolak_mistrzem_iba.jpg" title="Photo by M. Zurawicz"/></a><div class="caption">Polish is the campion!  <a href="http://commons.wikimedia.org/wiki/File:Pawel_Wolak_mistrzem_IBA.jpg">Photo</a> of <a href="http://en.wikipedia.org/wiki/Pawe%C5%82_Wolak">Paweł Wolak</a> by <a href="http://en.wikipedia.org/wiki/pl:Wikipedysta:Bubell">M. Zurawicz</a>.</div></div>
<p><a href="http://hubpages.com/hub/Most_Difficult_Languages_-_Polish">All</a> <a href="http://claritaslux.com/blog/polish-hardest-language-learn/">over</a> <a href="http://claritaslux.com/blog/the-hardest-language-to-learn/">the internet</a>, people are saying that Polish is the hardest language in the world.  Especially Polish people!  The perceived difficulty of Polish is a point of national pride.</p>
<p>Most Polish people are simply amazed when a foreign can speak any Polish at all.  My Polish is good, but not perfect.  Yet I constantly get over-the-top compliments about it!  If Polish is "the hardest language in the world" I must be a super genius, right?  I wish!  I'd love to believe that but it simply isn't true.</p>
<p>Polish is NOT the hardest language in the world!  Read more to find out why.</p>
<h2><a name="equally_hard">All Languages Are Equally Hard</a></h2>
<p>I have a theory, that all languages are equally hard.</p>
<p>People can point to something difficult in every language.  Polish has a complex noun and adjective system, with seven cases and three genders.  Mandarin Chinese has four tones.  English has sixteen verb tenses and two articles.  Wow!  Hard, hard, hard...</p>
<p>But here is my theory: For everything that is more difficult in a given language, something gets easier.</p>
<p>In Polish there are all those cases, but there are only five verb tenses (compare to English's sixteen!) and no articles.  In Chinese there are tones, but (from what I understand, I don't speak Chinese) there are NO verb conjugations or cases or gender at all (there is only one word representing "he", "she" and "it").</p>
<h2><a name="native_language">It depends on your native language...</a></h2>
<p>Depending on your native language, some languages can be <em>easier</em> for you.  <strong>That's not because the language is actually easier, it's because you are cheating!</strong>  You are bringing things from your native language that still apply and using them in the new language.</p>
<p>If you come from a language that already has cases (for example, Russian), you'll be able to catch on to those quicker.  But you will also have to be careful not to use Russian grammar rules in Polish!</p>
<p>Also, most European languages share a lot of vocabulary.  Much of it historically comes from Latin or French, these days there are a lot of words imported from English.  Speaking English will make some Polish vocabulary easier.</p>
<p>But again, this isn't because the language is easier.  It's because of the unfair advantage you brought with you.</p>
<h2><a name="doesnt_matter">Everything doesn't matter, not all at once!</a></h2>
<p>I've talked to many foreigners learning Polish.  They do tend to complain about how hard it is to get the cases right.  They try to do so much <a href="http://www.linguatrek.com/blog/2010/11/dont-start-learning-polish-grammar#mental_math">mental mathematics</a> to speak and understand them!</p>
<p>But here's the thing:</p>
<ul>
<li><strong>Much of time, you can figure out the meaning without the case, using other clues in the sentence.</strong>  Namely there's prepositions and context.  Of course, there are a few tricky situations with prepositions, for example: "z Krakowa" (from Cracow) and "z Krakowem" (with Cracow), but I'd say its rare when both could make sense in the same context.</li>
<li><strong>If you say the wrong case, there are very few situations where the person listening will think you meant to say something different than you intended.</strong>  Certain situations <em>require</em> that a certain case is used.  For example, the preposition "od" is always followed by Genitive case.  If you accidentally used Instrumental case, it would be gramatically wrong, but it won't change the meaning of the sentence.  The person listening will simply assume you meant to use the Genitive.</li>
</ul>
<p>Yes, you should strive to speak correctly.  But the cases aren't as critical as people make them out to be.  Relax!  Anyone can learn them in time.  <strong>But you have to speak badly, before you can speak well!</strong></p>
<p>Don't worry about all this <em>hard grammar</em>.  Eventually, your brain will internalize it, and you will be able to use the cases without thinking.</p>
<h2><a name="every_child">Every Polish child learns Polish and so will you!</a></h2>
<p>All it takes is time and motivation.  The brain is designed to learn languages, it one of our basic human functions.</p>
<p>Every single Polish child, even the not-so bright ones, learn Polish.  The same could be said for any human language.  So how can one language really be harder than the others?</p>
</div>

<div id="comments">
<a id="comment-46"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/ec92af97e8e82794825c3dd1c9d24e6e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>All languages are created equal:)<br/>
If a nation, wich is millions of people, uses language it is foolish to say "it's impossible". Learning grammar is a good way to improve ones understanding of language and can be fun itself but children who speak polish don't know concepts of verbs an nouns yet they use it. Rules of grammar were written to describe what was already there.<br/>
Yesterday I started learning finnish and sentences are like extremly long words to me. One day I'll be able to teach it but until then.. 100% curiosity and fun:)<br/>
I also want to improve my english and polish skills before going back to college in october.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/46">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">ERRoR (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-46">Saturday, January 8, 2011 - 00:43</a></span>
</div>
</div>
<div class="indented"><a id="comment-47"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks for the comment!  I'm glad I'm not the only one who thinks this way. ;-)  Good luck with your language studies!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/47">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-47">Saturday, January 8, 2011 - 12:24</a></span>
</div>
</div>
</div><a id="comment-49"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2011/01/vlog-polski-nie-jest-jednym-z-najtrudniejszych-j%C4%99zyk%C3%B3w-na-%C5%9Bwiecie" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] możesz czytać ten artykuł, który napisałem wcześniej na ten sam temat z tymi samymi [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/49">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2011/01/vlog-polski-nie-jest-jednym-z-najtrudniejszych-j%C4%99zyk%C3%B3w-na-%C5%9Bwiecie" rel="nofollow">Vlog: Polski NIE jest jednym z najtrudniejszych języków na ś</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-49">Saturday, January 22, 2011 - 05:28</a></span>
</div>
</div>
<a id="comment-375"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2011/06/4-reasons-to-learn-polish" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] who have learned Polish to an advanced level. But many Poles still believe that Polish is the hardest language in the world and are simply amazed to hear a foreigner speaking Polish [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/375">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2011/06/4-reasons-to-learn-polish" rel="nofollow">4 reasons to learn Polish! | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-375">Tuesday, May 31, 2011 - 10:04</a></span>
</div>
</div>
<a id="comment-534"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.evictionresources.com/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a71c6d750d1ce5135930d39bf4daf1bc?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Many a language are discarded being hard to learn.  But, for a dissecting mind, no language is hard enough to learn.  It is the motivation, devotion and love for a language that differentiate it from the die-hard.  I appreciate your point of view towards Polish language.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/534">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.evictionresources.com/" rel="nofollow">Eviction Forms</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-534">Sunday, July 10, 2011 - 13:13</a></span>
</div>
</div>
<a id="comment-735"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/986dc397e5fbeed0a6872ca7791b2715?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>"The perceived difficulty of Polish is a point of national pride." I'm Polish, and I definitely don't agree with You, I'm 19 years old and still can't speak perfect Polish, but it only took me 2 years to learn English. I have never heard Polish person brag about Polish language, and reading your article made me feel like reading thoughts of a very upset person. I dont know what is the hardest language in the world there are undiscovered languages which may be amazingly hard to learn, but I think that people who labelled Polish as most difficult, considered the fact that if an average person who is learning two languages would take longer to learn Polish than e.g Chinese. I have met a lot of English speaking people who can speak Chinese or Japaneese but never Polish, maybe few basic words.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/735">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-735">Wednesday, August 31, 2011 - 09:39</a></span>
</div>
</div>
<div class="indented"><a id="comment-741"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hello!</p>
<p>I'm sorry that I've insulted you, that was not my intent.  But this article is very controversial and maybe it's unavoidable. :-/</p>
<p>I guess it depends on what you mean by "perfect Polish".  According to linguists, as a native speaker of Polish, you speak perfect Polish by definition!  If you mean that your language doesn't perfectly match the standard dialect, that's an entirely different issue.  I wrote <a href="http://www.linguatrek.com/blog/2011/04/do-english-speakers-make-mistakes-on-purpose">an article</a> about dialects and errors as it relates to English.</p>
<p>And while it's possible to learn English (or Polish or any other language) to a very proficient level in two years, I doubt that you speak "perfect English". :-)  There is a <a href="http://www.linguatrek.com/blog/2011/01/the-speed-of-language-learning">diminishing returns</a> in language learning.  At first you learn very quickly.  You can get to 80-90% in two years.  But to cross that last 10-20% could take 10 years!</p>
<p>For example, here is a video of me speaking Polish after learning for only two years:</p>
<p><a href="http://www.youtube.com/watch?v=5NA29HFBC68" title="http://www.youtube.com/watch?v=5NA29HFBC68">http://www.youtube.com/watch?v=5NA29HFBC68</a></p>
<p>And here is a video I recorded recently:</p>
<p><a href="http://www.linguatrek.com/blog/2011/06/vlog-locust-street-days-i-festiwale-w-milwaukee" title="http://www.linguatrek.com/blog/2011/06/vlog-locust-street-days-i-festiwale-w-milwaukee">http://www.linguatrek.com/blog/2011/06/vlog-locust-street-days-i-festiwa...</a></p>
<p>It's been three years since the first video, but I don't really speak that much better. ;-)</p>
<p>I think the reason you haven't personally met many foreigners who speak good Polish is because not that many people study it.  Overally, there are always way more beginners in any language.  But if a <em>lot of people</em> study a particular language, you start to see more and more people at higher levels.</p>
<p>When we were in Poland, I knew many foreigners who spoke extremely good Polish -- much, much, MUCH better than me!  Of course, they have all lived in Poland for 10+ years.</p>
<p>Anyway, I don't mean to insult you or the Polish language!  I love Polish and I want more people to learn it.  But if everyone goes around saying "it's the hardest language" and "you will never learn it" than people won't want to.</p>
<p>What can we do to inspire more people to start learning Polish?</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/741">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-741">Wednesday, August 31, 2011 - 10:25</a></span>
</div>
</div>
<div class="indented"><a id="comment-2879"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c9069153b4d47c3983613e71a7f98968?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I think what you said is not true- that being Polish means, by definition, speaking perfect Polish .<br/>
I am Polish and I think I  was pretty good about speaking/writing my language, but there are many instances when I am not sure about the correct way of saying certain things.<br/>
I found English and German extremely easy compared to Polish.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/2879">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Halina (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-2879">Wednesday, August 15, 2012 - 16:00</a></span>
</div>
</div>
<div class="indented"><a id="comment-2891"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>According to the definition used by linguists it is! :-) Linguistics is descriptive (this is how the language <em>is</em> used) not prescriptive (this is how the language <em>should</em> be used).</p>
<p>Of course, there are lots of different perspectives and definitions. Teachers in school have a different definition of correctness. They will say all sorts of things (even stuff "that everyone says") is incorrect. In business, there are certain mistakes that will cause people to think you are unprofessional (ex. their/there/they're). And so on.</p>
<p>But since I'm interested in language learning and linguistics, I favor the linguistic definition of correctness.</p>
<p>We'll simply have to agree to disagree! :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/2891">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-2891">Thursday, August 16, 2012 - 14:44</a></span>
</div>
</div>
<div class="indented"><a id="comment-2895"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c9069153b4d47c3983613e71a7f98968?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Maybe you are right, but I am a purist and I do not like even minor mistakes.</p>
<p>What really irked me about your post was what you wrote about Polish people being proud  of the difficulty of our language - we are somewhat proud as complexity and richness of language reflects ( I think) the wealth of culture.<br/>
 Poland has been so persecuted by media that we are a bit sensitive  ( for example, there is a book by Biskupski, Polish- American historian, about discrimination of Poles/Poland by Hollywood - amazing work, also shows how American cinematography- already- almost 100 years ago was not much more free than that in USSR -the scripts written and re- written to suit  Politburo etc)</p>
<p>But a lot of nations are proud of their languages, it is evident after surfing the web a bit;<br/>
oddly I did not see many Chinese bragging...</p>
<p>BTW your Polish is really good.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/2895">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Halina (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-2895">Saturday, August 18, 2012 - 12:51</a></span>
</div>
</div>
<div class="indented"><a id="comment-2897"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>I apologize if I insulted you - that was not my intention.</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/2897">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-2897">Sunday, August 19, 2012 - 09:30</a></span>
</div>
</div>
</div></div></div><a id="comment-3382"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f7a5595901152b30b7a47b5a0fa49192?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Napisz coś po polsku mondralo</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/3382">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-3382">Sunday, December 30, 2012 - 16:15</a></span>
</div>
</div>
</div><a id="comment-3381"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f7a5595901152b30b7a47b5a0fa49192?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>i to jest prawda, człowiek młody a inteligentny. This is true</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/3381">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-3381">Sunday, December 30, 2012 - 16:14</a></span>
</div>
</div>
<a id="comment-4028"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/796e37d09e53f8d21e3e9e3ba43bfb9b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I'm just extrapolating from what I've seen with Czech, but I think the reason some native speakers think it's the hardest language in the world is from seeing foreigners only speak a few basic words of it, like you said. But from observing a lot of foreigners living in the Czech Republic, I would also say that most foreigners don't try. They usually see their time here as only a temporary stay, or in some cases as a working vacation that they just want to spend in the bars getting drunk with other English-speaking expats. Since I had an actual interest in the language, I put in the effort and over a year and a half have gotten to a level where reading the newspaper or trying sample university entrance exams is not difficult and I only have problems with literary fiction and films that use a lot of slang or regional dialect. I think it's mostly a question of the average learner's motivation than objective "difficulty."</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/4028">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Riva (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-4028">Tuesday, February 19, 2013 - 15:36</a></span>
</div>
</div>
<div class="indented"><a id="comment-4086"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Riva,</p>
<p>Yeah, I find the behavior of some groups of expats to be very strange! We were in Kraków, Poland for about a year. There were people who lived there for crazy long periods of time (ex. 5-10 years) who simply had no interest in learning Polish. Most of them were from Great Britian.</p>
<p>On the other hand, there were other people who really tried to integrate. I met an Italian who lived in Poland for 7 years and a Korean who was only there for 2. Both spoke excellent Polish and no English. ;-) Of course, there were others, but they also spoke good English and it was difficult to avoid falling back on it when we were talking (especially if they were Americans).</p>
<p>In any case, it's great that your learning the language and the culture while you're in the Czech Republic! For me, that's really the best of part of traveling/living abroad. :-)</p>
<p>Take care!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/4086">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-4086">Saturday, February 23, 2013 - 12:05</a></span>
</div>
</div>
</div></div><a id="comment-747"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/823c6333449d97f81ce82045dc24095c?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I'm a Polish native speaker as well and I completely agree with you. Difficulty is relative to your native language but also to your attitude towards learning. Lots of native speakers speak carelessly and incorrectly, but that's a problem with their attitude and not with the language. Also, the reason English is universally considered "easy" is because of the influence of the Anglo-sphere on the world. First, English is so prevalent that lots of words and expressions are already familiar even to beginners. Second, the standard of acceptable speech has been lowered by swarms of foreign speakers. For instance, it's acceptable to speak with a strong foreign accent as long as your grammar is OK. Actually, speaking with a perfect American or British pronunciation with correct stress, intonation, and so forth is extremely difficult for non-native English speakers. If you want an example of the difficulty check out <a href="http://ncf.idallen.com/english.html">this link</a>.</p>
<p>Aside from that I think you did make progress between the first and second video. The foreign accent is audible but your grammar is quite good and you seem much more comfortable speaking the language.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/747">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Bartek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-747">Friday, September 2, 2011 - 16:56</a></span>
</div>
</div>
<div class="indented"><a id="comment-749"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>A great link, thanks!  I think you're right about the standard of acceptable English being relatively low.  Living in the USA, I speak with non-native speakers <em>everyday</em> and so long as I can understand them, it's OK. :-)  Even grammar and vocabularly mistakes are generally accepted.</p>
<p>Yes, I think I did make progress between the videos.  But the amount of progress was very different.  In the first two years, I made a HUGE amount of progress and then recorded that first video.  In the next three years, I definitely made progress, but not much compared to the first two.</p>
<p>Particularly, in the last 1.5 years, my comfort with Polish has increased immensely.  But I don't think any of the <em>technical</em> parts have changed much, ie. my pronounciation, grammar, vocabulary are all about the same.</p>
<p>Thanks for the comment!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/749">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-749">Sunday, September 4, 2011 - 11:13</a></span>
</div>
</div>
</div><a id="comment-1142"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/6c7e0baff946eb67973581d37097252a?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I agree that learning a second language is difficult no matter the language.  However, I disagree that they are all equally difficult (or equally easy).  The US state department has a long history of teaching foreign languages to their foreign officers (native english speakers) who staff the consulates.  The course lengths (in hours of instruction) vary greatly depending on the language taught.  Last time I checked, Korean took the most hours of instruction followed by Japanese.  The slavic languages weren't far behind requiring over 1200 hours of instruction.  Spanish and Italian were the shortest at 500 hours.  German and French were also relatively short.<br/>
   Sir, you may not consider yourself a genius but there is no doubt that you have an amazing talent for language. You have mastered the language quickly.  I have searched the last 5 years for a native english speaker who can speak a slavic language fluently and who's parents or grandparents were not  native speakers. Or who was not a professor of the language.  Invariably, just when I thought I had found someone, I would learn that either they learned the language as a youth, or were in academics. You are the first person I have encountered who as a native english speaker can speak a slavic language.  Sir, you are in rare company. I have been studying and practicing Polish for 5 years and I cannot carry a conversation in Polish or read a Polish newspaper or book without significant translation.  It is not due to a lack of desire or effort.  I live in Georgia (USA) but I listen to Polish radio every day (radio Trojka) and I watch Polish serials on TV Polonia (both via the internet).  I also attempt to read Rzeczpospolitika.  I don't have anyone to converse with unfortunately.<br/>
   I will say, the older you become the more difficult it is to train one's mind to think in another language.  That is my struggle.  42years of reading english literature has erected a very tall and protective fence around the language center of my brain.  I am hammering at it every day but the fence is tall and thick.  I have concluded that I do not have a talent for language but that has not impaired my effort.  I will heed your advice with the utmost respect as I have learned that native Polish speakers struggle to teach non-native speakers the Polish language.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/1142">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Oldman (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-1142">Friday, December 30, 2011 - 22:23</a></span>
</div>
</div>
<div class="indented"><a id="comment-1154"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thank you for your comment!</p>
<p>My whole point is that the difficulty of a language depends more on who you are, than what the language is.  I would contend that since the US state departments courses are geared at native English speakers, they are all from the perspective of an English speaker.  If there were a course in Polish for native Czech speakers it would be much shorter. :-)  The Polish language is always the same, but changing who the learner is, changes the difficulty.</p>
<p>Of course, motivation is as much a factor as native language.  But you can't adjust a whole course for personal motivation!  You could do that in your personal study or with a one-on-one tutor, though.</p>
<p>Does it count that my great grandparents were native speakers of Polish? :-)  They passed away when I was really young and I can't recall ever hearing them speak Polish.</p>
<p>It's a shame that you haven't encountered other Americans who have successfully learned Polish!  I can tell you, there a more than you think!  Unfortunately, most of them live in Poland which is understandable - I would too if I could. :-)</p>
<p>But if we are going to talk about slavic languages in general, I've met <em>even more</em> Americans who speak excellent Russian.  But I think that's only because Russian is more popular to learn.  I don't think it's any easier...</p>
<p>Thank you for the kind the words!  I recorded a video about why I don't believe I personally have a talent for languages (in Polish):</p>
<p><a href="http://www.linguatrek.com/blog/2011/02/vlog-nie-trzeba-mie%C4%87-talentu-%C5%BCeby-nauczy%C4%87-si%C4%99-j%C4%99zyka" title="http://www.linguatrek.com/blog/2011/02/vlog-nie-trzeba-mie%C4%87-talentu-%C5%BCeby-nauczy%C4%87-si%C4%99-j%C4%99zyka">http://www.linguatrek.com/blog/2011/02/vlog-nie-trzeba-mie%C4%87-talentu...</a></p>
<p>To summarize: I've made several attempts to learn several languages and in all cases except the most recent one (Polish) I failed to learn to the language.  But what I did eventually learn was how to learn a language, which is what helped me finally learn Polish.  If I had an innate talent, I would have learned Spanish, French and Russian.  But I didn't!</p>
<p>There are lots of people to converse with over the internet!  Do you have a microphone and Skype?  Check out this article about practicing speaking over the internet:</p>
<p><a href="http://www.linguatrek.com/blog/2011/11/how-to-practice-speaking-over-the-internet" title="http://www.linguatrek.com/blog/2011/11/how-to-practice-speaking-over-the-internet">http://www.linguatrek.com/blog/2011/11/how-to-practice-speaking-over-the...</a></p>
<p>Yes, the wall of "it should work this way because that's how it works in my language" can be very difficult to surmount - for adults of all ages, in fact.  I think it actually has more to do with the mindset of the person than the age (although age can have an influence on mindset).  I've known some 20-year-olds who can't seem to get over this wall and some 60-year-olds who have no problems!</p>
<p>In any case, I wish you the best of luck!  Stay in touch and let me know if there is anything I can help you with!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/1154">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-1154">Saturday, December 31, 2011 - 11:05</a></span>
</div>
</div>
</div><a id="comment-1512"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/03/o-mnie-i-mojej-misji" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] nauczyć się na pamięć skomplikowanych zasad gramatycznych. Albo, że niektóre języki są o wiele trudniejsze od innych. Albo, że jesteś zbyt stary, żeby nauczyć się języków. Wszystkie te przekonania są [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/1512">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/03/o-mnie-i-mojej-misji" rel="nofollow">O mnie (i mojej misji) | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-1512">Thursday, March 22, 2012 - 15:34</a></span>
</div>
</div>
<a id="comment-1907"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/97a86c4d4879989e87126fd81f835a76?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I'm Polish and that's true that most of people saying that Polish language is the most difficult in the world are... Polish. But I wouldn't say it's completely untrue statement. I don't believe that so many people voted it, because... how many foreigners speak Polish? Very few, so that seems to be a myth. But hey! Polish language is really crazy and I'm a person crazy about my language. I always care to treat my language with respect. And believe me (or not) that about 95% of Polish people can NOT speak this language great. Most of people do very serious grammar and lexical mistakes, perhaps worse that my English which is nothing more that second language. :D</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/1907">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Krzyś (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-1907">Tuesday, May 15, 2012 - 15:51</a></span>
</div>
</div>
<div class="indented"><a id="comment-1909"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Krzyś!</p>
<p>Thanks for your comment.  I don't keep writing posts like this because I disrespect the Polish language - my goal is to motivate more people to learn it!  In fact, I'd be fine with Poles saying that Polish is one of the hardest languages if no foreigners ever heard them say this. ;-)</p>
<p>I could make a linguistic argument about <a href="http://www.linguatrek.com/blog/2011/04/do-english-speakers-make-mistakes-on-purpose">what a "mistake" actually is</a>. :-) I know that teachers will obviously tell you that something is right or wrong. But according to linguists, anything acceptable to a native speaker is correct in their dialect. If your teachers rules disagree, it means either: (1) they represent a different dialect, ie. the standard language, which isn't the language spoken by the person speaking or (2) the language has changed since those rules were written (all languages are constantly changing!).</p>
<p>In any case, I'm simply hoping that more people will be motivated to learn Polish, which is a very beautiful language. :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/1909">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-1909">Wednesday, May 16, 2012 - 07:13</a></span>
</div>
</div>
<div class="indented"><a id="comment-1910"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/97a86c4d4879989e87126fd81f835a76?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>David,</p>
<p>thank you for your reply. I know that you don't disrespect Polish - nor any other - language.</p>
<p>You know what, Polish language is not as flexible as e.g. English in terms of what is correct and what is not. There are obviously some cases where some words changed their meaning a little bit with time passing by, but by "mistakes" I meant something little bit different. There are some popular constructions which are using by many people in Poland and which are driving people like me crazy. And they are NOT correct even though. I'll give you one example: KAZAĆ and POZWOLIĆ. The first one means "to force somebody to do something" and the second one is "to let somebody do something". Many people use KAZAĆ as equivalent for POZWOLIĆ, which as popular, as... ridiculous.</p>
<p>What is more, Polish orthography is a nightmare. I usually the only kid in my class who didn't have problem with it. There are pairs of phones which are read in the same way, but written differently. These are: H / CH, Ż/RZ, U/Ó and many more. ŻÓŁW (turtle) could be written as any combination of: (Ż/RZ)(Ó/U)Ł(W/F).</p>
<p>Even our president and prime minister were caught on making orthographic bugs :D</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/1910">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Krzyś (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-1910">Wednesday, May 16, 2012 - 07:55</a></span>
</div>
</div>
<div class="indented"><a id="comment-1911"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Well, why couldn't the definition of kazać be changing?  For example, in English the word "artificial" used to mean "beautiful" and now it means "fake."  But while it was changing, both meanings probably existed and then one eventually died out.</p>
<p>Dictionaries exist to <em>describe</em> the meaning of words as people use them.  They don't <em>perscribe</em> what the meaning should be.  If suddenly everyone started using kazać to mean pozwolić, then it's the dictionary that's wrong, not the people.</p>
<p>That's the linguistic perspective at least. :-) I know that teachers would disagree.</p>
<p>We have similar problems with spelling in English.  I really wish we could reform our orthography, but that's not a very popular idea. :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/1911">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-1911">Wednesday, May 16, 2012 - 10:13</a></span>
</div>
</div>
<div class="indented"><a id="comment-1912"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/97a86c4d4879989e87126fd81f835a76?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>David,</p>
<p>I think that the best solution for most problems is to find so-called "golden middle". Too much language freedom can be as harmful as being too strict.</p>
<p>You are right about spelling in English. One of my favourites is QUEUE.</p>
<p>By the way, do you have some Polish origin? Your last name sounds very Polish. I'm sure you've already heard that and you know what does "snopek" mean. I have a friend whose last name is Snopek :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/1912">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Krzyś (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-1912">Wednesday, May 16, 2012 - 11:58</a></span>
</div>
</div>
<div class="indented"><a id="comment-1913"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Krzyś,</p>
<p>Well, I think the thing is we already have language freedom! I don't think it's possible for someone to force a language not to change. It will become what it becomes, whether we want it to or not. :-)</p>
<p>Yes, I do! My ancestors immigrated to the USA about 100 years ago. I talk about it in these articles:</p>
<p><a href="http://www.linguatrek.com/blog/2011/03/vlog-dlaczego-ucz%C4%99-si%C4%99-polskiego" title="http://www.linguatrek.com/blog/2011/03/vlog-dlaczego-ucz%C4%99-si%C4%99-polskiego">http://www.linguatrek.com/blog/2011/03/vlog-dlaczego-ucz%C4%99-si%C4%99-...</a></p>
<p><a href="http://www.linguatrek.com/blog/2011/03/how-long-have-i-been-obsessed-with-poland" title="http://www.linguatrek.com/blog/2011/03/how-long-have-i-been-obsessed-with-poland">http://www.linguatrek.com/blog/2011/03/how-long-have-i-been-obsessed-wit...</a></p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/1913">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-1913">Wednesday, May 16, 2012 - 12:38</a></span>
</div>
</div>
</div></div></div></div></div><a id="comment-2597"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/84edae0304134dcb80ef731f9a5e741a?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Język polski bywa trudny - może nie chodzi o samą gramatykę (Polacy też mają z nią problem) - ale wymowę. Przyznaj, że dla Ciebie opanowanie polskiej wymowy było nie lada wyzwaniem. Ale przyznam, że mówisz całkiem poprawnie. Słychać, że polski nie jest Twoim językiem ojczystym, ale są fragmenty, że brzmisz jak urodzony Polak:) Gratuluję i życzę powodzenia w szlifowaniu polskiego:)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/2597">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Błażej (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-2597">Wednesday, June 27, 2012 - 03:10</a></span>
</div>
</div>
<div class="indented"><a id="comment-2614"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Błażej!</p>
<p>Prawdę mówiąc jeszcze nie spędziłem zbyt dużo czasu nad wymową. To wyraźnie widać bo większość poprawek, którą dostaje w komentarzach, jest do mojej wymowy. :-) Np. zbyt dużo 'rrr', różnice między 'i' i 'y', itd.</p>
<p>Prawda jest taka, że wymowa nie jest dla mnie tak ważna. Jeśli ludzie mnie rozumieją, to wystarczy dla mnie. ;-) Parę razy spróbowałem skupić się na wymowie ale szybko zrezygnowałem, bo takie ćwiczenia są dla mnie nudne. Trochę napisałem o tym na forum Bibliobirda i w artykule na moim blogu:</p>
<p><a href="http://en.bibliobird.com/node/6171" title="http://en.bibliobird.com/node/6171">http://en.bibliobird.com/node/6171</a></p>
<p><a href="http://www.linguatrek.com/blog/2011/06/experiment-in-shadowing" title="http://www.linguatrek.com/blog/2011/06/experiment-in-shadowing">http://www.linguatrek.com/blog/2011/06/experiment-in-shadowing</a></p>
<p>Ale na pewno kiedyś spróbuj jeszcze raz!</p>
<p>W każdym razie dziękuję za miłe słowa. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/2614">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-2614">Thursday, June 28, 2012 - 15:53</a></span>
</div>
</div>
</div><a id="comment-2700"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://realpolish.pl/rp045-polski-nie-jest-najtrudniejszym-jezykiem-na-swiecie/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] Polish is NOT the hardest language in the world! [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/2700">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://realpolish.pl/rp045-polski-nie-jest-najtrudniejszym-jezykiem-na-swiecie/" rel="nofollow">RP045: Polish is not the hardest language in the world (Poli</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-2700">Thursday, July 12, 2012 - 14:30</a></span>
</div>
</div>
<a id="comment-3379"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f7a5595901152b30b7a47b5a0fa49192?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>What are you even talking about??? Do you know anything about Polish grammar? Just because you talk that's not all. 17 grammatical forms for the number 2</p>
<p>1. dwa<br/>
2. dwie<br/>
3. dwoje<br/>
4. dwóch (or dwu)<br/>
5. dwaj<br/>
6. dwiema<br/>
7. dwom (or dwóm)<br/>
8. dwoma<br/>
9. dwojga<br/>
10. dwojgu<br/>
11. dwojgiem<br/>
12. dwójka<br/>
13. dwójki<br/>
14. dwójkę<br/>
15. dwójką<br/>
16. dwójce<br/>
17. dwójko<br/>
For you, probably English and Spanish are the most difficult. I'm Polish and I do not think that is the most difficult language but I'm sure it's in the top five most difficult languages ​​in the world. I'd like to hear your good Polish language. For example, as you say Grzegorz Brzęczyszczykiewicz. I think that you have no idea what you're talking about.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/3379">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-3379">Sunday, December 30, 2012 - 14:10</a></span>
</div>
</div>
<div class="indented"><a id="comment-3380"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks for your comment and the forms of the number 2! :-)</p>
<p>I don't think any language is the hardest. My main point in the article is that all languages are equally difficult. You are right that I don't know as much about Polish grammar as I'd like, but I'm slowly getting there. ;-)</p>
<p>I have video where I say "W Szczebrzeszynie chrząszcz brzmi w trzcinie":</p>
<p><a href="http://www.linguatrek.com/blog/2011/01/vlog-w-szczebrzeszynie-chrz%C4%85szcz-brzmi-w-trzcinie" title="http://www.linguatrek.com/blog/2011/01/vlog-w-szczebrzeszynie-chrz%C4%85szcz-brzmi-w-trzcinie">http://www.linguatrek.com/blog/2011/01/vlog-w-szczebrzeszynie-chrz%C4%85...</a></p>
<p>And towards the end of this video I say "Grzegorz Brzęczyszczykiewicz":</p>
<p><a href="http://www.youtube.com/watch?v=-q1neyPGmqk" title="http://www.youtube.com/watch?v=-q1neyPGmqk">http://www.youtube.com/watch?v=-q1neyPGmqk</a></p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/3380">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-3380">Sunday, December 30, 2012 - 14:49</a></span>
</div>
</div>
<div class="indented"><a id="comment-3383"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f7a5595901152b30b7a47b5a0fa49192?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Muszę przyznać że mi zaimponowałeś tymi filmikami :) gratuluje znajomości naszego języka, ale jak sam napewno przyznasz żaden język nie ma tylu form gramatycznych które przedstawiłem ci na przykładzie 2(dwa) co polski, oczywiścię mogę się mylić. Ale musisz mi chyba przyznać że nam polakom łatwiej przychodzi nauka języków obcych. Znasz Karola Wojtyłę? Wiesz kim był? Wiesz iloma językami posługiwał się biegle? pozdrawiam</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/3383">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">michal (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-3383">Sunday, December 30, 2012 - 16:24</a></span>
</div>
</div>
<div class="indented"><a id="comment-3385"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Michał!</p>
<p>Oczywiście wiem kim był Karol Wojtyła. :-) Według Wikipedia nauczył się 12 języków. Ale niestety nie wiem iloma posługiwał się biegle. W każdym razie był wyjątkową osobą z wielu powodów!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/3385">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-3385">Sunday, December 30, 2012 - 17:12</a></span>
</div>
</div>
</div></div></div><a id="comment-3384"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f7a5595901152b30b7a47b5a0fa49192?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>anyway I am very weak in English but i do not think anyone has been able to learn Polish in such a short time, of course, at the same level as my English. Maybe not so great but I can communicate in five languages​​, I am 28 years old.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/3384">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">michal (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-3384">Sunday, December 30, 2012 - 16:50</a></span>
</div>
</div>
<div class="indented"><a id="comment-3386"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Congrats! I hope to one day learn as many languages as you. :-) So far I can only speak three including my native language.</p>
<p>I wish you success in your future endeavors!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/3386">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-3386">Sunday, December 30, 2012 - 17:14</a></span>
</div>
</div>
</div><a id="comment-3436"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f7a5595901152b30b7a47b5a0fa49192?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>There is not nothing to congratulate, my tough situation forced me to learn foreign languages, It is easy to write but it is not easy to speak in several languages. I think you learn Polish without any major problems. But find someone who talks in as many languages ​​as Karol Wojtyla</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/3436">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">michal (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-3436">Saturday, January 5, 2013 - 20:22</a></span>
</div>
</div>
<a id="comment-3460"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3231b505e8dd4a88e6751f63876b46b3?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>David,</p>
<p>I was wondering if I could have your email address so I could ask you a couple questions on how you've been so successful on learning the Polish language. My girlfriend of 6 years is Polish and I'd like to see what techniques you've used. </p>
<p>Thanks, Gary</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/3460">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Gary  (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-3460">Thursday, January 10, 2013 - 18:52</a></span>
</div>
</div>
<div class="indented"><a id="comment-3463"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Gary!</p>
<p>I don't like to publish my e-mail address online, but you can send me a message via the contact form:</p>
<p><a href="http://www.linguatrek.com/contact" title="http://www.linguatrek.com/contact">http://www.linguatrek.com/contact</a></p>
<p>Or if you're a subscriber, you can just hit reply to any of the e-mails I've sent you!</p>
<p>I already discuss how I learned Polish pretty extensively in my ebook and on this blog, but if you have a specific question about the techniques that I used I'd be happy to answer it!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/3463">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-3463">Friday, January 11, 2013 - 09:07</a></span>
</div>
</div>
</div><a id="comment-3547"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/03/about-me-and-my-mission" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] is spoken. Or that memorizing confusing grammar rules is essential. Or that some languages are drastically harder than others. Or that you're too old to learn a language. All of these things are false: anyone can learn any [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/3547">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/03/about-me-and-my-mission" rel="nofollow">About me (and my mission) | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-3547">Tuesday, January 22, 2013 - 10:28</a></span>
</div>
</div>
<a id="comment-4528"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/98fab4d6a925630da1d0bc2d158ba750?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>At start I would sorry 'couse my English isn't the best and probably there will be many mistakes. </p>
<p>Ok, now I'm upset. *upset polka mode on* Ok, I'm only joking. </p>
<p>Let's start that people from Poland often are being popular in internet. We have some kind of power on this area. For exaple: we were in Twitter's Top Sth when ours teenagers wanted One Direction to have concert in Poland; In YT I would many times see things like "Polska przejmuje filmik!"("Poland takes over the video!"), so maybe you could see informations like that, but I don't think it's the hardest. Polish isn't easy language to learn and even our people can't speak perfect. You are/was learning this, so you should know about many grammatical form to only one word, letters with the same speaking(for example: ż-&gt; rz; h-&gt; ch;) etc. And one of my nightmares - polish interpunction.<br/>
There are languages what, like German, heve simple rules, but Polish not, BUT in almost all the lists of the hardest languages Polish was on end(if was) and under the Hungarian!<br/>
It's always categories "the hardest 'couse of:...". One language have diffrent speech then spellings, other have 'strange' letters(Japanesse)and other something else. . . </p>
<p>"Most Polish people are simply amazed when a foreign can speak any Polish at all. My Polish is good, but not perfect. Yet I constantly get over-the-top compliments about it! If Polish is "the hardest language in the world" I must be a super genius, right? I wish! I'd love to believe that but it simply isn't true."</p>
<p>Now I will show you my point of view.<br/>
If I would met you I would be amazed, too, but mostly because of what you WANTED to learn THIS language and you've SPEND so many time of THIS language. Unlike German, English or Spanish it isn't language you can use in many places. We are not that strong like before and our people are going to other countries, but hardly ever opossite(yes, in this point I would start conwersation about polish government).<br/>
Genius? Ha, I don't think like that. Some people's brain is better in languages, other in math. You don't have to be a genius to put your energy in learning. </p>
<p>"The perceived difficulty of Polish is a point of national pride."<br/>
For me it's not all because of difficult, but maybe a history. Maybe you was something learning about polish history on your own and know that our past wasn't that simply. Our grandparents were dying for this country and language. It wasn't that long time ago and I don't think I'm the only one that is pround of this country and language 'couse so many people that were fighting. If not they I would talikng in German or Russian right now.<br/>
But, after all, why not be pround 'couse of difficult? I would like to develop this topic, but I don't think my English is that good. Ups.</p>
<p>"I have a theory, that all languages are equally hard."<br/>
I can't agree. It's differance between English that have only the basic letters and possible to hear in any pleace in the world(songs for exaple) and Chinese what has unusual sings(maaany sings) and tones :) </p>
<p>"Every single Polish child, even the not-so bright ones, learn Polish."</p>
<p>But it's not that easy to aduld human. Children learns really fast in their earlies. I don't remember so good now, but I was reading about it. When we were... I don't know... Maybe 3 years old, we could learn so much in year like now in 3 years for exaple. And if one of parents was born in France, the second in Spanish, child really often would know both language perfect, right? But when people are older they have to spend a lot ofmore time to learn only one foreign language. </p>
<p>Of course you don't have to agree with me. But I'm only a teenager(a woman by the way), so, like all earth know, so anyway I know the best ;P</p>
<p>Once again: sorry for all my wrongs.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/4528">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">DageRee (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-4528">Monday, May 20, 2013 - 08:44</a></span>
</div>
</div>
<div class="indented"><a id="comment-4532"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/22cc5ec8a8a4295a931d4e7e16284642?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Some languages are on the deep end when it comes to hardness, but for the most part, most are in the middle. Chinese has tones and logograms, but no morphological grammar(no tense, declension, conjugation, or anything) while English has a simpler morphological grammar than most IE languages but has difficult spelling, consequently, Spanish has many subject verb conjugations but it is very phonetic. </p>
<p>Oh, and to the above poster: your unfamiliarity with Chinese does not make it hard in comparison to English which you claim has "basic letters" despite the fact vowels are out of place. I may of misread what you've written, (Chinese sings? what?) but be humble with what you think you know.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/4532">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-4532">Thursday, May 23, 2013 - 23:19</a></span>
</div>
</div>
</div><a id="comment-5148"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8e8840a569a30a16dc244018ba975567?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I would say it doesn't depend on what language but rather who is about to learn it.</p>
<p>First of all, learning any foreign language requires patience. That's, I believe, beyond any doubt. I find many people struggling even with some basic concepts, but only because it's very hard for them to express themselves in their native language. Well, that's of course only one of the reasons, but I think it's one of the most significant for sure.</p>
<p>I myself, being a Pole, was trying to catch up some of the 'Slavic' languages and found out that since I can read Polish, I can also read Croatian, because it sounds exactly the same (couple of different characters, but still have their Polish equivalent and only a little bit different pronounciation of letter 'L'). So I should say - hey, Croatian is so easy, but it becomes tricky in other aspects, as the Polish 'lipiec' is Croatian 'srpanj', and Polish 'sierpień' is their 'kolovoz'. And I found myself being more interested in Scandinavian languages, even if they're not even related to Polish, and I think they're 'easier', just because I put much more emphasis on them and feel like I'm actually acquiring more and more with every new word or sentence I see and try to translate it myself. </p>
<p>But it is great that you had a lot of patience to learn Polish. And as you probably know, people in Poland are actually really happy to hear their language spoken by a foreigner and are very helpful in expressing his or her thoughts. But it only means we just care for our language, dosn't mean we think it's the worst to learn at all. Although for some reasons we do have that feeling, that it is easier for a random Pole to learn English, than for random English guy learn Polish. </p>
<p>And 'polish' means also 'to glance', and it doesn't have to be necessarily the question of our pride, as it may look at first... glance. :)</p>
<p>Cheers!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/5148">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Rico (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-5148">Friday, September 6, 2013 - 12:17</a></span>
</div>
</div>
<div class="indented"><a id="comment-5159"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks! I agree with everything you wrote ... except for one thing: "it is easier for a random Pole to learn English, than for random English guy learn Polish."</p>
<p>Most people in Poland who speak English have been learning it for a very, very long time. I've met people who were only in their twenties but claimed to have been learning English for 15 years! I know that most of that time was very light learning, however, it gives Poles a huge advantage having had familiarity with English for so long.</p>
<p>I personally beleive if we got 100 Poles who never heard English, and 100 Americans who never learn Polish, and they started learning at the same time - on average they would have similar levels of success.</p>
<p>Of course, I've never done that experiment! :-) So, it's just my personal feeling.</p>
<p>In any case, I absolutely agree with the main point of your comment which was: "it doesn't depend on what language but rather who is about to learn it."</p>
<p>Thanks for again for your comment!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/5159">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-5159">Monday, September 9, 2013 - 04:56</a></span>
</div>
</div>
</div>
</div>
