---
permalink: /blog/2010/11/polish-alphabet-easy/
layout: blog-old
title: 'The Polish Alphabet is Easy!'
day: 10
month: Nov
year: 2010
category: learn Polish
tags: 
  - 'spelling'
language: en
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/11/polish-alphabet.png" rel="lightbox"><img alt="Letters in Polish alphabet" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/11/polish-alphabet.png" title="Image by Faxe on Wikimedia.org"/></a><div class="caption">Letters in the Polish alphabet.  <a href="http://commons.wikimedia.org/wiki/File:Polish-alphabet.png">Image</a> by <a href="http://commons.wikimedia.org/wiki/User:Faxe">Faxe</a> on Wikimedia.org</div></div>
<p>When people unfamiliar with Polish see it written, they are often struck by the strange marks and all the consonants in a row.  How can you pronounce words like "<em>szczęśliwy</em>" or "<em>brzmieć</em>"?  Although it looks a little strange, the Polish alphabet is actually quite easy.</p>
<p>In English, spelling doesn't relate to pronunciation in a consistent way.  For example, compare the pronunciation of "oo" in the following words: book, soon, door, flood.  It's different in every word!  And there's no way to know that from looking at the words.</p>
<p>I am a native speaker of English, but even I have had the following situation happen to me several times:  I know a few words from reading which I have never heard out loud.  Later, I'll hear someone say a word and have no idea what it means, only to find out that I know the word, I just imagined that it was pronounced differently.  Or even more embarrassingly, sometimes I'll try to say one of these words, but with with the wrong pronunciation -- and other people don't know what I'm talking about!</p>
<p><strong>This can never happen in Polish!</strong>  Once you have the hang of all the pronunciation rules, you will always be able to correctly pronounce any word from the spelling.</p>
<p><strong>Keep reading to see resources and advice for learning the Polish alphabet!</strong></p>
<h2>Learning the alphabet</h2>
<p>The best way to learn the Polish alphabet (or any alphabet) is to hear how words are pronounced, while at the same time seeing how they are spelled.  Do this is as much as possible as possible and occasionally reviewing the pronunciation rules.</p>
<p>This is much easier and more effective than trying to memorize tables or reading descriptions of every letter (ie. "b = b as in bad, c = ts as in cats").</p>
<p>Over time you will internalize the rules and no longer need to think about them.  This should be done along with other learning in Polish and will probably take you about a month.</p>
<p><strong>Warning: If you are just starting to learn Polish, don't try to "learn the alphabet first"!  Seriously.</strong></p>
<p>Most beginning Polish textbooks and courses start with the alphabet.  Even if this weren't the case, many learners consider themselves "visual learners" and chose to try and <em>master the alphabet before moving on</em>.</p>
<p>This is a terrible idea!</p>
<ul>
<li><strong>Without having exposure to Polish, some rules won't make sense.</strong>  You need to learn Polish and its alphabet at the same time.</li>
<li><strong>Internalizing the rules happens gradually.</strong>  If you try to master all the rules at once, you will never move on!  It will frustrate you and seem like there are <em>tons</em> of rules.  Yes, there are a few rules, but once you internalize a rule, you forget it even exists.</li>
</ul>
<h2>Resources</h2>
<p>There are many great resources on the web.</p>
<p>Below are two videos from <a href="http://learn-polish.gregloby.net/">Learn Polish with Greg</a> which introduce the Polish alphabet:</p>
<p><strong>"Polish Sounds" Part 1:</strong></p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/WGwRUFK4UVk?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/WGwRUFK4UVk?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p><strong>"Polish Sounds" Part 2:</strong></p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/PCUV4jJrEFY?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/PCUV4jJrEFY?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p><strong>More video lessons (covering the same material as above):</strong></p>
<ul>
<li><a href="http://www.youtube.com/watch?v=6s-vMd_pBks">Polish Lessons -- Unit 1</a> - This first video goes over all the letters at once.  If you follow links to the subsequent units, there is a video for every letter/combination.  In all, there are 45 units.  Each video is about one minute in length and contains 17 Polish words.</li>
<li><a href="http://www.youtube.com/watch?v=aJI6JDAxUd4">Polish Pronunciation Guide</a> - Includes an example word and sentence with each letter/combination.</li>
</ul>
<p><strong>Non-video resources:</strong></p>
<ul>
<li><a href="http://en.wikibooks.org/wiki/Polish/Polish_pronunciation">"Polish pronunciation" from WikiBooks</a> - Just like the traditional alphabet description you find at the beginning of most Polish textbooks, but also includes IPA spellings and audio for each letter.  Very complete, but dry.</li>
<li><a href="http://www.forvo.com/languages/pl/">Polish on Forvo</a> - Audio of Polish native speakers pronouncing almost 7,000 words.  You can also request new words (click "Add word") to be pronounced by native speakers.  Very useful if you hit a problematic word but don't have a teacher or native speaker around to ask.</li>
</ul>
</div>

<div id="comments">
<a id="comment-196"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/67e95a9f39ca77775476341aa60ba650?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Z całym szacunkiem dla autora zamieszczonych filmików, zawierają one <strong>zasadnicze</strong> błędy i mogą prowadzić do utrwalania błędów w wymowie (szczególnie w przypadku osób anglojęzycznych).<br/>
W polskim głoski dźwięczne (<em>voiced</em>) zamieniają się w bezdźwięczne (<em>voiceless</em>) na końcu wyrazu (czasem tak się nie dzieje, jeśli kolejny wyraz zaczyna się od dźwięcznej spółgłoski, ale rzadko). Zatem przytoczone tu przykłady (np. dąb) wprowadzają w błąd ("dąb" w rzeczywistości wymawiany jest jak "dąp", a więc nie może służyć do ilustrowania dźwięku "b"). To ważne, bo w angielskim "dock" i "dog" wymawiane są inaczej, w polskim "buk" (drzewo) i Bug (rzeka) dokładnie tak samo. Co gorsza, wbrew filmikowi inaczej wymawia się "ę"! Na końcu wyrazu nosowość zanika zupełnie, a więc "idę" wymawia się "ide", a w środku wyrazu zmienię się w "eɳ" (to drugie to głoska, która w angielskim występuje przed "g" w wyrazie "doing") jak w "rękę" (wym. "reɳke") lub w "em" jak w wyrazie "zręb" (wym. "zremp"). Podobnie jest z "ą", chociaż w mniejszym stopniu, bo przy starannej wymowie głoska <em>nosowe o</em> wciąż ma się dobrze. Taka wymowa jak w filmiku, nie dość, że trudniejsza, to jeszcze brzmi nienaturalnie albo archaicznie (bo kiedyś nosowość ę "szanowano" bardziej). To mi przypomina sytuację, jakby komuś kazano koniecznie wymawiać "n" w słowie "government".</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/12/196">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Konrad (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-alphabet-easy#comment-196">Saturday, March 19, 2011 - 05:15</a></span>
</div>
</div>
<div class="indented"><a id="comment-205"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki za komentarz -- ale może bardziej pożyteczny byłby na filmiku, żeby Grzegorz mógł go zobaczyć. :-)</p>
<p>Znowu obejrzałem filmiki i zauważyłem jeden z tych błędów, które wspominasz tutaj - to "idę" z wyrazniej wymawionym "ę" na końcu.  Ale nie zauważyłem wszyskich, np: wydaje mi się, że Grzegorz poprawnie wymawia bezdźwięczne głoski na końcu słow i literki "ę" i "ą" w tych innych pozycji słowa.</p>
<p>Moim zdaniem to nie jest tak źle.  To rzadko spotykany ktoś, kto wymawia "ę" na końcu słów ale faktycznie niektórzy naprawdę tak wymawiają.  Więc nie usunę filmiki w tym artykule.</p>
<p>W każdym razie, dziękuję za komentarz!  Wyjaśnienia wymowy w nim (właszcza "ę" i "ą" w innych pozycji słowa) są naprawdę dobre i pewnie przyda się ktoś, kto uczący się polskiego. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/12/205">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-alphabet-easy#comment-205">Monday, March 21, 2011 - 08:39</a></span>
</div>
</div>
</div><a id="comment-198"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/67e95a9f39ca77775476341aa60ba650?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Oprócz tego, że nie ma słowa "zręb" :) Jakaś zaćma mnie dopadła :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/12/198">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Konrad (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-alphabet-easy#comment-198">Saturday, March 19, 2011 - 05:23</a></span>
</div>
</div>
<div class="indented"><a id="comment-2922"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/7ede57871bef42283228727d34019774?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Ale jest "zrębem" :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/12/2922">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">GJG (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-alphabet-easy#comment-2922">Thursday, August 23, 2012 - 01:45</a></span>
</div>
</div>
</div><a id="comment-755"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2011/09/is-spelling-easier-for-non-native-speakers" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] first time I saw this, I was really surprised! The Polish alphabet is very straightforward and I have no problems spelling in Polish. In fact, I spell much better in [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/12/755">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2011/09/is-spelling-easier-for-non-native-speakers" rel="nofollow">Is spelling easier for non-native speakers? | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-alphabet-easy#comment-755">Tuesday, September 6, 2011 - 09:05</a></span>
</div>
</div>
<a id="comment-1002"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2011/11/review-polygloto-polish" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] alphabet is taught slowly, over multiple lessons - many textbooks start with only a page showing how to [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/12/1002">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2011/11/review-polygloto-polish" rel="nofollow">Review: Polygloto Polish | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-alphabet-easy#comment-1002">Tuesday, November 1, 2011 - 12:09</a></span>
</div>
</div>
<a id="comment-1984"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.fluentin3months.com/polish/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] the other hand, the Polish alphabet is almost entirely phonetic. Once you know the rules, you can look at any word and know how to pronounce [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/12/1984">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.fluentin3months.com/polish/" rel="nofollow">What makes learning Polish so easy? | Fluent in 3 months - L</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-alphabet-easy#comment-1984">Tuesday, May 22, 2012 - 10:30</a></span>
</div>
</div>
<a id="comment-3927"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2013/02/how-to-get-started-learning-polish-from-zero" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] Click here to read my full article about learning the alphabet. [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/12/3927">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2013/02/how-to-get-started-learning-polish-from-zero" rel="nofollow">How to get started learning Polish (from zero!) | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-alphabet-easy#comment-3927">Tuesday, February 12, 2013 - 09:08</a></span>
</div>
</div>
<a id="comment-5105"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/1b94b7410ac6877eccb89c5f31e67bc0?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Can you help me write my last name in polish? It is SCIOG</p>
<p>Thank you :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/12/5105">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Ssciog (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-alphabet-easy#comment-5105">Tuesday, August 27, 2013 - 19:01</a></span>
</div>
</div>
<div class="indented"><a id="comment-5107"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Sure, in the Polish alphabet it'd be: Ścióg</p>
<p>Here you can see a map of the concentration of your last name in Poland (on the moikrewni.pl site that is):</p>
<p><a href="http://www.moikrewni.pl/mapa/kompletny/%25C5%259Bci%25C3%25B3g.html" title="http://www.moikrewni.pl/mapa/kompletny/%25C5%259Bci%25C3%25B3g.html">http://www.moikrewni.pl/mapa/kompletny/%25C5%259Bci%25C3%25B3g.html</a></p>
<p>Do you know where in Poland your ancestors are from?</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/12/5107">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-alphabet-easy#comment-5107">Tuesday, August 27, 2013 - 21:39</a></span>
</div>
</div>
</div><a id="comment-5108"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/1b94b7410ac6877eccb89c5f31e67bc0?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Thank you David! </p>
<p>I have little to no knowledge of my anscestory, my grandfather was taught not to speak much of life before Canada. </p>
<p>I know very little of the polish language, does it make sense that it is pronounced as SH-T-OO-K ? </p>
<p>Once again, thank you for your help! </p>
<p>Stetson</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/12/5108">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Ssciog (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-alphabet-easy#comment-5108">Tuesday, August 27, 2013 - 22:49</a></span>
</div>
</div>
<div class="indented"><a id="comment-5114"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>In Polish it would be pronounced sort of like "SH-CH-YOU-K" - but most Polish names' pronunciation evolves after emigrating to a new language environment. :-)</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/12/5114">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-alphabet-easy#comment-5114">Wednesday, August 28, 2013 - 19:20</a></span>
</div>
</div>
</div><a id="comment-7867"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/320d7f4b8cf5378a929887f98ee871d6?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>A co z wyrazami takimi jak "odzew" (od-zew, nie o-dz-ew), "jabłko" (japko), "ławka" (łafka), które wymawiane są inaczej niż pisane? Wszystkie wyrazy z końcówką "-ął" czytane są właściwie tak samo jak gdyby kończyły się na "-oł" (por. np. nieistniejący "warchął" i "warchoł").</p>
<p>Ktoś wyżej w komentarzach wspomniał o ubezdźwięcznianiu, warto pamiętać że ten proces może także mieć miejsce w środku słów, np. rybka, sąsiadka, żabka, kózka.</p>
<p>A wymowa na filmiku... cóż, może i mówi nieźle (ale wciąż sporo błędów), ale każdy rodowity Polak będzie wiedział po trzech słowach że rozmówca jest albo powolny albo zza granicy.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/12/7867">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-alphabet-easy#comment-7867">Wednesday, September 3, 2014 - 12:42</a></span>
</div>
</div>
<div class="indented"><a id="comment-8069"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/1667219b2573e0b812e03f76d6da9b23?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>No dobra, dobra, ale angielska pisownia jest i tak dużo trudniejsza. Oprócz wspomnianego problemu book/soon/flood też mają wiele procesów językowych (np. sandwich to tak na prawdę samwich, "law and order" wymawia się "lawRanorder" i tak dalej). Polski czasem jest nie taki straszny w porównaniu z innymi językami.<br/>
(A tak przy okazji: czy celem nauki języka obcego jest mówienie, jak rodowity Anglik/Polak/Chińczyk?)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/12/8069">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Maciek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-alphabet-easy#comment-8069">Tuesday, November 18, 2014 - 15:36</a></span>
</div>
</div>
<div class="indented"><a id="comment-8071"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/320d7f4b8cf5378a929887f98ee871d6?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Angielska pisownia jest inna - niekoniecznie trudniejsza; na pewno jednak polska pisownia jest <em>bardziej</em> zbliżona do rzeczywistej wymowy. Ale np. w koreańskim pisownia jest <em>jeszcze bardziej</em> zbliżona (chociaż mają własne wyjątki [na szczęście są dość regularne], niektóre w obydwie strony - "je" czytane jak "e" i na odwrót, obrazowane przez mojego nauczyciela jako "cuker w cukernicy" i "na Pragie" [Pragę]).</p>
<p>"Zlewanie się" wyrazów w Polskim też występuje, ale jako <em>native speakerzy</em> tego tak nie zauważamy. Przykłady: "z rzadka", "na stacji", "z rozgrzanego", "z niej", "do niej", "z żelaza", "a w jednym", "szafy i stoły", "koło za kołem", itd. - jak widać samej "<em>Lokomotywy</em>" Tuwima można wypisać całkiem sporo...</p>
<p>Celem nauki języka obcego na pewno <strong>nie jest</strong> mówienie jak obcokrajowiec, co - moim zdaniem - zawsze będzie cechowało większość ludzi uczących się Polskiego (choć przypuszczam, że np. Czechom lub Rosjanom z ich przypadkami i gramatykami może być łatwiej niż Anglikom przyzwyczajonym do dwóch przypadków i braku odmian).</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/12/8071">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-alphabet-easy#comment-8071">Wednesday, November 19, 2014 - 05:01</a></span>
</div>
</div>
</div></div>
</div>
