---
permalink: /blog/2010/11/polish-is-not-the-hardest-language-in-the-world-page-1/
layout: blog-old
title: 'Polish is NOT the hardest language in the world!'
day: 23
month: Nov
year: 2010
category: learn Polish
tags: [ ]
language: en
translation: /blog/2010/11/polish-is-not-the-hardest-language-in-the-world/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/11/pawel_wolak_mistrzem_iba.jpg" rel="lightbox"><img alt="Polish boxer being declared campion" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/11/pawel_wolak_mistrzem_iba.jpg" title="Photo by M. Zurawicz"/></a><div class="caption">Polish is the campion!  <a href="http://commons.wikimedia.org/wiki/File:Pawel_Wolak_mistrzem_IBA.jpg">Photo</a> of <a href="http://en.wikipedia.org/wiki/Pawe%C5%82_Wolak">Paweł Wolak</a> by <a href="http://en.wikipedia.org/wiki/pl:Wikipedysta:Bubell">M. Zurawicz</a>.</div></div>
<p><a href="http://hubpages.com/hub/Most_Difficult_Languages_-_Polish">All</a> <a href="http://claritaslux.com/blog/polish-hardest-language-learn/">over</a> <a href="http://claritaslux.com/blog/the-hardest-language-to-learn/">the internet</a>, people are saying that Polish is the hardest language in the world.  Especially Polish people!  The perceived difficulty of Polish is a point of national pride.</p>
<p>Most Polish people are simply amazed when a foreign can speak any Polish at all.  My Polish is good, but not perfect.  Yet I constantly get over-the-top compliments about it!  If Polish is "the hardest language in the world" I must be a super genius, right?  I wish!  I'd love to believe that but it simply isn't true.</p>
<p>Polish is NOT the hardest language in the world!  Read more to find out why.</p>
<h2><a name="equally_hard">All Languages Are Equally Hard</a></h2>
<p>I have a theory, that all languages are equally hard.</p>
<p>People can point to something difficult in every language.  Polish has a complex noun and adjective system, with seven cases and three genders.  Mandarin Chinese has four tones.  English has sixteen verb tenses and two articles.  Wow!  Hard, hard, hard...</p>
<p>But here is my theory: For everything that is more difficult in a given language, something gets easier.</p>
<p>In Polish there are all those cases, but there are only five verb tenses (compare to English's sixteen!) and no articles.  In Chinese there are tones, but (from what I understand, I don't speak Chinese) there are NO verb conjugations or cases or gender at all (there is only one word representing "he", "she" and "it").</p>
<h2><a name="native_language">It depends on your native language...</a></h2>
<p>Depending on your native language, some languages can be <em>easier</em> for you.  <strong>That's not because the language is actually easier, it's because you are cheating!</strong>  You are bringing things from your native language that still apply and using them in the new language.</p>
<p>If you come from a language that already has cases (for example, Russian), you'll be able to catch on to those quicker.  But you will also have to be careful not to use Russian grammar rules in Polish!</p>
<p>Also, most European languages share a lot of vocabulary.  Much of it historically comes from Latin or French, these days there are a lot of words imported from English.  Speaking English will make some Polish vocabulary easier.</p>
<p>But again, this isn't because the language is easier.  It's because of the unfair advantage you brought with you.</p>
<h2><a name="doesnt_matter">Everything doesn't matter, not all at once!</a></h2>
<p>I've talked to many foreigners learning Polish.  They do tend to complain about how hard it is to get the cases right.  They try to do so much <a href="http://www.linguatrek.com/blog/2010/11/dont-start-learning-polish-grammar#mental_math">mental mathematics</a> to speak and understand them!</p>
<p>But here's the thing:</p>
<ul>
<li><strong>Much of time, you can figure out the meaning without the case, using other clues in the sentence.</strong>  Namely there's prepositions and context.  Of course, there are a few tricky situations with prepositions, for example: "z Krakowa" (from Cracow) and "z Krakowem" (with Cracow), but I'd say its rare when both could make sense in the same context.</li>
<li><strong>If you say the wrong case, there are very few situations where the person listening will think you meant to say something different than you intended.</strong>  Certain situations <em>require</em> that a certain case is used.  For example, the preposition "od" is always followed by Genitive case.  If you accidentally used Instrumental case, it would be gramatically wrong, but it won't change the meaning of the sentence.  The person listening will simply assume you meant to use the Genitive.</li>
</ul>
<p>Yes, you should strive to speak correctly.  But the cases aren't as critical as people make them out to be.  Relax!  Anyone can learn them in time.  <strong>But you have to speak badly, before you can speak well!</strong></p>
<p>Don't worry about all this <em>hard grammar</em>.  Eventually, your brain will internalize it, and you will be able to use the cases without thinking.</p>
<h2><a name="every_child">Every Polish child learns Polish and so will you!</a></h2>
<p>All it takes is time and motivation.  The brain is designed to learn languages, it one of our basic human functions.</p>
<p>Every single Polish child, even the not-so bright ones, learn Polish.  The same could be said for any human language.  So how can one language really be harder than the others?</p>
</div>

<div id="comments">
<a id="comment-8048"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://krzysiu.net" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/408981f06ab44e70acec3d30b36cc8f6?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hey! I'm from Poland. I think your article insul... No, wait, it's fine. I've been reading comments. Don't be sorry, David. It's clear you don't want to insult anybody. If nation X says they are the best, then clearing it out might be insulting for X citizens, but that would be only because that pride you are talking about.</p>
<p>Why are we saying it's most difficult? I don't know, but I see where people use that statement:<br/>
1) when they want to say "we are better"<br/>
2) excuse for doing a lot of language mistakes - ohhh, it's soooo hard - I can't write simple sentence. Really, guys? :/<br/>
3) excuse when somebody want to correct our mistakes in other languages - yeah, my English is bad, but I know Polish, you don't know Polish, Poland, Poland, Poland.</p>
<p>Many Poles don't know Polish enough. I mean... They can write even simple things. But it's not because it's hard. People need to have a good example and when somebody's reading bulletin boards, comments and other things from Internet + newspapers (which should be OK, but sadly their language is very bad), but not any proper source (not only books!), then that person won't talk good Polish. And it's the case of every country. We lose our ability to comunicate. Words with inproper meaning, bizzare syntax (like mine here, I guess ;)) and... Too much swearing. </p>
<p>[offtopic] We have a lot of swearwords and I take it as a very important part of language or even life _when used properly_. I take the way of my girlfriend as ideal - she swears when something strong emotionaly happened :) Like "even stronger grammatical particle". Swearwords should cause or be caused by emotions. When I hit my thumb, "kurrrrwa" indeed helps, as it causes angryness&gt;adrenaline&gt;less pain. And when you use "kurwa" every two words, what would you use when you'll be angry? "Kurwa kurwa"? ;)</p>
<p>Thanks for the article and really - it's all fine in my opinion. Whatever you'd wrote, some of Poles will feel bad, because you don't agree with them. And also that case is not unique to Poland :P </p>
<p>Sorry, guys we aren't that unique. Thinking that way is both the result and the cause of xenophobia.</p>
<p>PS: English is simple, but is it caused by grammatic of English or by the fact it's kind of lingua franca and we are close to it, wherever we are? Also "simple" might mean that it's easy to start talk, as I do (he he he), but to talk correctly... Well, that's another story ;) What do you think, David?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/8048">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://krzysiu.net" rel="nofollow">Krzysiu</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-8048">Saturday, October 18, 2014 - 16:35</a></span>
</div>
</div>
<a id="comment-8060"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8867763f9fe4e9465b01cc52446b2e30?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I don't think people understand what Polish people mean by saying the language is hard. Yes you can learn the language and be able to speak it, but to speak it correctly it is hard. That's like me saying I speak English, it's easy but I'll say things like "Today is sun day" instead of sunny or "People calling me Ana" instead of "People call me Ana"</p>
<p>Anyone who thinks Polish isn't hard, most likely does not speak proper Polish. My mother finished Polonistics (Polish studies) and she can catches even news reporters making grammatical errors on a daily bases on the Polish tv station. </p>
<p>Is Polish hard to learn? No but it's hard to be fluent at</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/8060">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-8060">Tuesday, November 11, 2014 - 13:49</a></span>
</div>
</div>
<a id="comment-8104"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d0c48b44f9af4481764df93553acfa0e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>As a native Polish I find this article a little bit insulting. But I know you didn't mean to offend us. I have never heard anyone boasting about the difficulty of our mother tongue. But personally, I do think that it is one of the hardest languages. Yeah, grammar and pronunciation aren't easy... but man, look at the orthography! Many people say that Poles themselves can't speak their language properly. In fact, I am 19 and I love my language. I am able to speak/write very well. But I also use "not proper" Polish during casual conversations with friends! It just depends on who you talk to. Being a Polish native speaker enabled me to learn quickly many foreign languages, and that's what I love :) Greetings from Silesia!<br/>
Btw, I watched you speaking our tongue twister. You did great!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/8104">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Izabela (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-8104">Tuesday, January 13, 2015 - 08:10</a></span>
</div>
</div>
<a id="comment-8120"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/aadbb0d681b45804bfc438b0c3f15a46?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Well, at first I must admit I'm no expert or whatsoever; I'm only surprised seeing so many "insulted Poles" in the comments. But when I think about it, it's still less than what could have been expected.<br/>
As a native Polish speaker I couldn't agree more that all languages are equally difficult. I don't know how many languages faced my fellow citizens above, but a statistic Pole can speak (not so exceptionally good) English and eventually a few phrazes in German or Russian. Well, it's quite hard to compare Polish with any other language with such a "knowlegde", isn't it? On the other hand I have a neighbour, who comes from Great Britain and even though he's been living in Poland for at least 16 years, he hasn't managed to learn more than the daily usage vocabulary. It is NOT because he tried hard and failed; on the contrary he's never needed to, as he works as a native speaker in language school and his daughter, who was born already here, can always translate him anything.<br/>
What I mean by that is even Chinese can be simple, if one just puts their heart into learning it. For example, if I'd spent some more time on French, which I had at school for 5 years, I could've been more confident in using it. Apparently, I'm more fluent in German after just a year of learning it. Polish is nothing different from that.<br/>
What makes Polish SOUND so difficult is most commonly the way we, native speakers, talk. We tend to skip grammar, on the Internet we don't bother writing "ą, ć, ę, ł, ń, ó, ś, ż, ż", neither paying attention to ortography, and in result even some of us cannot understand a thing in our own language. But that's not the fault of the languange, only its' users. It has come to my notice the same happens to English as well. In the past I've often searched my notes and dictionaries from A to Z, trying to understand a message from my English-speaking friends, but with no effects. If someone creates shorts from every single word he has in mind, then I assume without capability to read his mind I simply cannot understand them, no matter what.<br/>
I'm afraid we're losing (if we haven't lost it already) respect to our own language. It's very upsetting to hear for a linguist, nevertheless it is of highest importance now that those, who want to maintain the culture of a language, to instruct their native-speaking collegues and correct them. Not in a rude way, just for their own sake. If I make a mistake, I would like to learn from it. Too bad not many people see it this way, though.</p>
<p>As for your Polish, it seems to me perfectly correct. Unlike my English, I suppose. But there again, no one can never know 100% of a language. Not even prof. Miodek~ ;)</p>
<p>With best regards,<br/>
Elizabeth</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/8120">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Taka tam Elka (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-8120">Sunday, February 8, 2015 - 16:33</a></span>
</div>
</div>
<a id="comment-8177"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/2b863727666df182ae8083c3b8f66679?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>At first, I'd like to apologise for my English. /: Don't be angry if you'll find any mistakes.<br/>
Well, I must admit that this post insulted me. A bit. However, when I started to think about it... Perhaps you're right. I've seen a lot of posts ( I'd like to stress - POLISH posts) where Poles tried to make rankings about the hardest languages. And, of course, Polish was first... I couldn't believe it, so I started to read foreigns' websides. And I've read your one, David.<br/>
Maybe foreigns think that Poles brag about their language a lot because of their rankings ( I have mentoned about it). I believe that most of Poles' opinions are based on subjective observations. Who wouldn't think mothers tongue is the best and the most beautiful? I'm sure we would find a lot of other websides, where foreigns praise their language! We shouldn't treat it literally.</p>
<p>"Most Polish people are simply amazed when a foreign can speak any Polish at all."<br/>
But do you know why?? If I were , for example, an English, I  wouldn't think about learn though one Polish word! It's a waste of time for average English ( I don't want to offend English, but it's true...). Who learns Polish nowadays? It's useless. I'd prefer to learn language I could use. So, this is the reason why we're AMAZED.</p>
<p>"Every Polish child learns Polish and so will you!"<br/>
When you're 2-3 years old, you can learn even severals languages ( for child it doesn't marret if it's hard). Believe me, I know person who was born in Poland, but went abroad. Do you think that it was impossible to her to learn other languages? No, so I think that it hasn't a lot in common with topic of your post.</p>
<p>To sum up, if you're a polyglot, there isn't hard language for you. For me ( I'm Polish), English's harder than Polish! Yes, English, known as one of the easiest languages in the world. I don't claim Polish's the most difficult language, but I'm proud of my mother tongue and don't think Poles are more proud of this than other nations.</p>
<p>Best wishes,<br/>
A.D.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/8177">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-8177">Saturday, June 27, 2015 - 11:33</a></span>
</div>
</div>
<a id="comment-8190"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/fa728eab585e8863d8734e84e5a51e7a?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Well, I think something contrary. There are many factors which can shape the hardness of language. Usually in science, when we want to measure something, which is characterized by many parameters we simply take a statistic approach. In this case: we take some people, check the time of learning of them etc. Of course there is effect of approach to learning. The main thing is, that Polish in most cases is definitely unlogical or logical-hidden language. It comes from the evolution of language(drift of logical creatures in language and making language simple etc). When u look on some other languages they seem at least more logical and transparent. Take in polish cut message: "Proszę niech Pani się nie martwi..."  and "Proszę Pani, wszyscy są martwi..." etc. These are some artefacts but, please just try to look on polish language more deeply and u will probably have the same opinion, because logic in language is most important factor on time and success of learning the languge.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/21/8190">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Tymek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world#comment-8190">Thursday, July 23, 2015 - 18:53</a></span>
</div>
</div>
<div class="item-list"><ul class="pager"><li class="pager-first first"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world" title="Go to first page">« first</a></li>
<li class="pager-previous"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world" title="Go to previous page">‹ previous</a></li>
<li class="pager-item"><a class="active" href="/blog/2010/11/polish-is-not-the-hardest-language-in-the-world" title="Go to page 1">1</a></li>
<li class="pager-current last">2</li>
</ul></div>
</div>
