---
permalink: /blog/2010/11/review-pimsleur-quick-simple-polish/
layout: blog-old
title: 'Review: Pimsleur Quick & Simple Polish'
day: 26
month: Nov
year: 2010
category: learn Polish
tags: 
  - 'review'
language: en
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 143px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/11/pimsleurpolish.jpg" rel="lightbox"><img alt="Cover of Pimsleur Quick &amp; Simple CDs" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/11/pimsleurpolish.jpg" title=""/></a></div>
<p>Pimsleur is a popular series of audio courses for learning a variety of languages.  They come in two types: "Comprehensive" and "Quick &amp; Simple".  Basically, the "Quick &amp; Simple" version is the first 8 lessons of the "Comprehensive" version.</p>
<p>I used "Comprehensive Russian I" when I started learning Russian and later "Quick &amp; Simple Polish" when I started with Polish.  This article is a review of my experience with these programs.</p>
<h2>Overview of the course</h2>
<p>The programs come in audio cassette, CD and SD card format.  I only have experience with the CDs.  The "Comprehensive" versions also come with a short booklet to help you learn to read and write in the language.  Otherwise the course is 100% audio.</p>
<p>Each lesson starts by introducing a short dialog between two native speakers.  The lesson then proceeds to break down the conversion into individual parts.</p>
<p>The narrator asks the listener to say things they learned in previous lessons and invites the listener to respond to the native speaker.  By the end of the lesson, the listener is participating in the dialog.  So, you are actually speaking out loud along with the recording.</p>
<p>The lessons are based on <a href="http://www.linguatrek.com/blog/2011/01/what-is-spaced-repetition">spaced repetition</a> and try to review words around the time when you would start to forget them.  The repetitions happen at increasing intervals as you progress through the lessons.</p>
<p>You can listen to the first lesson for free <a href="http://www.pimsleurdirect.com/products/pimsleur-polish-1">here</a>.</p>
<h2>My Opinion</h2>
<p>It is a great method for just starting a language from nothing.  It helps you get used to the sound of the language and teaches you basic vocabulary: greetings, basic verbs (ex. want, eat, drink), some tourist phrases.  And as a pure audio course, it can be done while doing other things: driving, washing dishes, etc.</p>
<p>However, it's not perfect:</p>
<ul>
<li><strong>The content is rather lame</strong>: Basically, you will learn how go to a restaurant and order.  The plot seems to center around asking someone out to dinner.  Are you looking to date a Polish man or woman?  If so, this course is for you! ;-)</li>
<li><strong>It moves very slowly</strong>: If you have no exposure to Polish what-so-ever, this is probably a good thing, and why I recommend it for complete beginners.  However, as your level grows, you will become bored with the pace.</li>
<li><strong>The PRICE!</strong>: The "Comprehensive" courses are really expensive.  Around $270 on CD and $120 on SD card.  Waaay too much money.  But you can get the "Quick &amp; Simple" version for <a href="http://www.amazon.com/Polish-Understand-Pimsleur-Language-Programs/dp/0743528875">around $20</a>.</li>
</ul>
<p>What I found when I was using Pimsleur for Russian, was that it was really useful at the very beginning and then not useful at all afterwards.  Purchasing the "Comprehensive" course was a waste of money.</p>
<p>That is why I bought "Pimsleur Quick &amp; Simple Polish" when I started learning Polish.  By the time you get through those 8 lessons, you've probably already gotten everything there is to get from this program.</p>
<p>Also, check your local library.  I found out later that my library already had "Comprehensive Russian I" and "Quick &amp; Simple Polish".  I could have just borrowed both of them!</p>
<p><strong>Have you tried the Pimsleur Programs?  What do you think?  Leave a comment!</strong></p>
</div>

<div id="comments">
<a id="comment-42"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2011/01/what-is-spaced-repetition" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] This same idea of increasing the interval at which you review information is also the basis of the Pimsleur Approach which I wrote about in a previous review. [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/25/42">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2011/01/what-is-spaced-repetition" rel="nofollow">What is spaced repetition? | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/review-pimsleur-quick-simple-polish#comment-42">Tuesday, January 4, 2011 - 11:45</a></span>
</div>
</div>
<a id="comment-504"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2011/06/review-polish-through-legends" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] reasonably priced compared to other beginner courses like Pimsleur, which costs up to $270! (See my review for more [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/25/504">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2011/06/review-polish-through-legends" rel="nofollow">Review: Polish Through Legends | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/review-pimsleur-quick-simple-polish#comment-504">Tuesday, June 28, 2011 - 10:19</a></span>
</div>
</div>
<a id="comment-3926"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2013/02/how-to-get-started-learning-polish-from-zero" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] products. The one I personally like best at this stage is Pimsleur Quick &amp; Simple Polish. Click here to read my [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/25/3926">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2013/02/how-to-get-started-learning-polish-from-zero" rel="nofollow">How to get started learning Polish (from zero!) | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/review-pimsleur-quick-simple-polish#comment-3926">Tuesday, February 12, 2013 - 10:08</a></span>
</div>
</div>
</div>
