---
permalink: /blog/2010/11/should-i-learn-english-callan-method/
layout: blog-old
title: 'Should I learn English with the Callan Method?'
day: 18
month: Nov
year: 2010
category: learn English
tags: 
  - 'Callan'
  - 'method'
language: en
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/11/callanschool.jpg" rel="lightbox"><img alt="Callan School sign" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/11/callanschool.jpg" title="Photo by Shht! on Flickr"/></a><div class="caption"><a href="http://www.flickr.com/photos/shht/416297552/">Photo</a> by <a href="http://www.flickr.com/people/shht/">Shht!</a> on Flickr</div></div>
<p>There are many different approaches to language teaching.  When choosing a school or a course, it can be difficult for the student to decide which method is best.  <a href="http://www.callanschoollondon.com/en/about-the-method/">Callan Method</a> is very popular.  In this article I will explain what the method is and its advantages/disadvantages.</p>
<h2>DISCLAIMER!</h2>
<p><strong>While many people feel very strongly about language learning/teaching methods, there are no methods that I would say are always right or always wrong.</strong>  As a teacher, I have taught using many different methods (including <a href="http://en.wikipedia.org/wiki/Direct_method_(education)">direct methods</a> like Callan Method).  I have seen students make progress using just about every possible method (including watching soap operas or listening to Metallica).</p>
<p><strong>What works depends on the student.</strong>  In fact, any method will likely work, given enough time and motivation.  If you find a method you like, you will do it more.  This will lead to more time spent with the language and more motivation to continue.</p>
<p>So find a method you like!</p>
<h2>What is it?</h2>
<p>In the Callan Method there are 7 books, one for each level in the method.  The books contain lists of questions.  The teacher reads each question twice and points to a student to answer.  The student is expected to answer as written in the book and will be prompted by the teacher if they stray from this format.</p>
<p>Each lesson consists of two 50 minute sessions separated by a 10 minute break.  The sessions consist of the following parts:</p>
<div class="diag align-right" style="float: right; width: 126px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/11/callanbookpage.jpg" rel="lightbox"><img alt="Page from Callan Book" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/11/callanbookpage.jpg" title="A page from one of the Callan books"/></a><div class="caption">A page from one of the Callan books</div></div>
<ul>
<li><strong>Review</strong>: The teacher starts by asking questions a few pages before the point where the class ended last lesson.</li>
<li><strong>New material</strong> (only in the second 50 minute session): The teacher briefly explains new vocabulary and asks questions the students haven't heard before.</li>
<li><strong>Reading</strong>: The students open their books and take turns reading the questions and answering to each other.</li>
<li><strong>Dictation</strong>: The teacher reads a short text using vocabulary words recently learned and the students write it down.  Later they compare what they wrote to the text in the book.  This is to work on listening and spelling.</li>
</ul>
<p>Here is a short video from a Callan Method lesson:</p>
<object height="344" width="425"><param name="movie" value="http://www.youtube.com/v/1D2K-3WprHA?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="344" src="http://www.youtube.com/v/1D2K-3WprHA?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="425" wmode="opaque"/></object>
<p>You can also <a href="http://www.callanschoollondon.com/en/method-in-action/">watch a few videos</a> on the Official Callan School of London website.</p>
<h2>Advantages</h2>
<ul>
<li><strong>It is largely spoken.</strong>  Some students don't like grammar, writing or long readings and listenings.</li>
<li><strong>It can be very fast-paced.</strong>  If you get bored by the slow moments in class, you may find that Callan Method helps to keep you awake!</li>
<li><strong>Lots of review.</strong>  Every lesson begins with review of previous material.  This helps to reinforce what you learn.</li>
<li><strong>No homework.</strong>  If you don't have a lot of time for language study, it can be difficult to study at home.  This method is done entirely in class.</li>
</ul>
<h2>Disadvantages</h2>
<ul>
<li><strong>Some of the vocabulary can be rather old or rare.</strong>  I heard (but can't find a link to verify it) that Robin Callan (the creator of the method) doesn't want the books to be updated and so they contain some out-dated material.</li>
<li><strong>The questions can be unusual or artificial</strong> -- it isn't real communication.  If you want to want to express yourself more naturally or be creative with English, you will not enjoy it.</li>
<li><strong>The lessons have no topic or theme</strong> -- the questions are completely unrelated to each other.  Again, making this unlike real communication.  If you want interesting content in English, you won't find it in a Callan lesson.</li>
</ul>
<h2>Conclusion?</h2>
<p>If you have tried lessons using more traditional methods and you didn't enjoy them, try a Callan Method lesson.  Most Callan schools (like the <a href="http://www.callan.krakow.pl/">one in Kraków</a>) will let you try one lesson for free to see if you like it.</p>
<p>It is not for everyone.  For example, I wouldn't enjoy learning Polish with this method.  But if you like it more and find it easier to stay committed to studying than with other methods, it may be what helps you finally improve your English.</p>
<p><strong>Have you tried Callan method?  What do you think?  Please leave a comment below!</strong></p>
</div>

<div id="comments">
<a id="comment-177"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4743d59abcf34b4bf5b690fabe11ea46?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi David,<br/>
You already answered the question I wanted to ask you about the Callan Method. I agree with most of your remarks about this method and would like to add a few more. I was teaching English using this method in Poland and in Ireland for 2 years. Here is what I would add to the disadvantages you mentioned:<br/>
- the method can become boring for students<br/>
- students learn questions by heart by repeating them but are not able to speak English when it comes to real situations<br/>
- what I observed in Poland- due to the enormous popularity of the method in Poland, the Callan schools were recruiting everyone who was more or less able to speak English correctly. There were many "teachers" who didn't enjoy teaching and who didn't use the method properly  because they simply didn't care. The result was, for example, advanced students making basic pronunciation and grammar mistakes<br/>
- the method doesn't use any other interesting/interactive elements (Internet, movies, songs etc...) but hey, that's why it's the direct method, isn't?<br/>
- no time for questions from the students who sometimes don't understand what the teacher says or simply have questions regarding a particular grammar/vocabulary point<br/>
- too much teacher-student interaction<br/>
- the teacher can easily become lazy with the Method, doesn't improve his or her English (if he/she is not a native-speaker)</p>
<p>The big advantage is that the method is really quick. Students learn quite quickly basic grammar and vocabulary.<br/>
There is an interesting forum about the Callan Method in which I participated on <a href="http://www.english-test.net/forum/ftopic30015.html" title="http://www.english-test.net/forum/ftopic30015.html">http://www.english-test.net/forum/ftopic30015.html</a>. You can find there more information about what teachers think about the method.<br/>
Pozdrowienia z Tuluzy!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/18/177">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Maria (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/should-i-learn-english-callan-method#comment-177">Thursday, March 10, 2011 - 05:41</a></span>
</div>
</div>
<a id="comment-5974"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3fec70decf09220cf79b5ea3b8d5af06?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>The Callan Method Books have all recently been updated with the last book, covering Stages 11 and 12, published in Feb 2014. The updates take account very many of the comments and criticisms of the old books received from the 450 schools in over 35 countries and the feed back from those schools has been excellent. </p>
<p>Recent tests of the Callan Method by a university in Japan proved it still out performed all other ESL teaching approaches used in that university</p>
<p>You should always learn in a Callan Method Accredited School as these schools have been approved by the Callan Method Organisation because their teacher teach the Callan Method properly. You will find these Accredited schools at <a href="http://www.callan.co.uk" title="www.callan.co.uk">www.callan.co.uk</a>.</p>
<p>Callan Method Organisation has a training programme for Callan Method teachers so there is no excuse for any school not being accredited or teaching the Callan Method properly.</p>
<p>Please take great care when choosing which of the Direct Methods you choose to learn English.</p>
<p>For example, Direct Method for English who are being sued by Callan Method Organisation for breach of copyright, teaches 3,950 English words in 8,077 questions in their six books. The Callan Method teaches 6,212 English words in 5,492 questions in their equivalent books. This means that Direct Method for English is teaching only 65% of the words in the Callan Method Course. It also means that a Direct Method for English student has to spend 45% more time in the classroom - to learn 35% less English. In summary the Callan Method teaches 1.13 English words a question whereas the Direct Method for English teaches 0.48 English words a question which means that the Callan Method is more than twice as efficient as the Direct Method for English. It might also explain why schools teaching with Direct Method for English are closing rapidly in Poland</p>
<p>Brainrush, a gaming company which teaches using games, has reported that students learn 10x faster if they are kept under pressure. The Callan method teacher keep the pupil under pressure in the classroom which is why they learn so fasts. Brainrush has also discovered that repetition is the success to learning and never forgetting. The Callan Method has repetition built into its programme which is why Callan Method Students remember what the have been taught. </p>
<p>Fifty years on Callan Method remains the best method / approach to learning English.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/18/5974">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Andrew James (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/should-i-learn-english-callan-method#comment-5974">Sunday, March 9, 2014 - 05:00</a></span>
</div>
</div>
<a id="comment-8044"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c8847991c9e2556ddb55d86a92da8bd8?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>That school teachers are verryyyy bad. They have big ego and some teachers are racist. They dont like the turkish and muslim countries students. Because of that they dont accept student apart from European countries.  Thats really incredible. Method is fine but teachers and systems are very bad.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/18/8044">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous34 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/should-i-learn-english-callan-method#comment-8044">Monday, October 6, 2014 - 11:48</a></span>
</div>
</div>
</div>
