---
permalink: /blog/2010/11/things-i-love-about-poland-01-waiters-leave-you-alone/
layout: blog-old
title: 'Things I Love About Poland #01: Waiters leave you alone'
day: 4
month: Nov
year: 2010
category: Poland
tags: 
  - 'Things I Love About Poland'
language: en
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/11/waitress_taking_an_order.jpg" rel="lightbox"><img alt="Waitress taking order at a restaurant" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/11/waitress_taking_an_order.jpg" title="Photo by Alan Light"/></a><div class="caption">Waitress taking order at a restaurant.  <a href="http://www.flickr.com/photos/alan-light/261015500/">Photo</a> by <a href="http://www.flickr.com/photos/alan-light/">Alan Light</a>.</div></div>
<p><strong>This is the first in a series of articles called "<a href="http://www.linguatrek.com/tags/things-i-love-about-poland">Things I Love About Poland</a>."  In this article, I talk about the differences between America and Poland when it comes to restaurants.</strong></p>
<p>In Poland, if you only order one round of drinks, food and then pay, the waiter will come to your table exactly four times:</p>
<ol>
<li>To take your order (usually food and drinks are ordered at the same time)</li>
<li>To bring your drinks</li>
<li>To bring your food</li>
<li>To give you the bill  (<strong>Note</strong>: <em>This doesn't happen automatically!  You have to flag the waiter down and ask them for the bill</em>)</li>
</ol>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/11/carrie_david_restaurant.jpeg" rel="lightbox"><img alt="My wife and I at a restaurant in Warsaw" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/11/carrie_david_restaurant.jpeg" title="My wife and I at a restaurant in Warsaw."/></a><div class="caption">My wife and I at a restaurant in Warsaw.</div></div>
<p>In the USA, the waiter can come to your table ten or more times.  Sometimes just to ask if everything is OK!  In Poland, everything is assumed to be OK until you say that it isn't.  If you want anything else, wave to the waiter and ask for it.  You can sit and enjoy your food and the company of the people you came with, without being interrupted by the waiter.</p>
<p>Believe it or not, most Americans prefer to be bothered constantly by the waiter.  It is considered good <a href="http://en.wikipedia.org/wiki/Customer_service">customer service</a>.</p>
</div>

<div id="comments">
<a id="comment-143"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://blog.KrzysztofSzumny.pl" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/2acbf0ee0888104f1c90a85266682990?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>In Poland the waiter will not give you a bill automatically, because maybe later you will decide that you want to buy something more. In that case, everyone save time :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/6/143">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://blog.KrzysztofSzumny.pl" rel="nofollow">noisy - Krzysztof Szumny</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/things-i-love-about-poland-01-waiters-leave-you-alone#comment-143">Sunday, February 20, 2011 - 20:35</a></span>
</div>
</div>
<a id="comment-339"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/df1019af76771f9d8710ef59a1f5151f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>bardzo ładne zdjęcie :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/6/339">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">viddhi108 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/things-i-love-about-poland-01-waiters-leave-you-alone#comment-339">Thursday, May 19, 2011 - 17:13</a></span>
</div>
</div>
<a id="comment-668"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9d79ca1a98072b83084eaaedfb61bcd1?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>It's a interesting article :).I haven't a clue that it is different culture between two nations.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/6/668">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">mjosek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/things-i-love-about-poland-01-waiters-leave-you-alone#comment-668">Monday, August 1, 2011 - 12:28</a></span>
</div>
</div>
<a id="comment-1338"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.boshka-art.blogspot.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8b6885c2dd3a8c459c143dcad2dd5e58?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hi everyone ;-)<br/>
I extremely agree with people who don't want to be bothered constantly by the waiter;-))) Here,were I'm living the situation is the same like in States.....wrrr.....I go to the restaurant to enjoy the taste and the nice companion of my friends.I don't like when someone interrupting me still.....wrr;-))<br/>
Greetings for polish waitress and for all of you here of course ;-))))</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/6/1338">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.boshka-art.blogspot.com" rel="nofollow">Boshka</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/things-i-love-about-poland-01-waiters-leave-you-alone#comment-1338">Tuesday, February 21, 2012 - 06:57</a></span>
</div>
</div>
<a id="comment-2827"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://unfamusic.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/685c7e4ea5428fbf4e762f6ff9324f38?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>If a waitress were asking me if I'm OK every 5 minutes I would ask her: "Yes, I'm alright. Do I look like I'm about to die?"</p>
<p>Greetings from Poland!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/6/2827">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://unfamusic.com" rel="nofollow">unfa</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/things-i-love-about-poland-01-waiters-leave-you-alone#comment-2827">Monday, July 30, 2012 - 12:16</a></span>
</div>
</div>
<a id="comment-2841"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/18cf33b3b22e712733f66fe38e4982df?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Ciekawe spostrzeżenie. Rzeczywiście w większości przypadków jest tak jak mówisz, jedynym chyba wyjątkiem jest Pizza Hut, gdzie ostatnio zmienili politykę wobec klientów i jest dokładnie tak jak mówisz o Ameryce. Więc jeśli chcesz polecić Amerykaninowi jakąś knajpę gdzie możesz się czuć jak w domu to własnie Pizza Hut(notabene mają tam chyba najlepszą pizzę).<br/>
Ola</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/6/2841">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">marglytta (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/things-i-love-about-poland-01-waiters-leave-you-alone#comment-2841">Sunday, August 5, 2012 - 17:28</a></span>
</div>
</div>
<div class="indented"><a id="comment-2858"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Ola!</p>
<p>Hehe, dzięki za informację o Pizza Hut. To będę pamiętał!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/6/2858">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/11/things-i-love-about-poland-01-waiters-leave-you-alone#comment-2858">Wednesday, August 8, 2012 - 17:20</a></span>
</div>
</div>
</div><a id="comment-3870"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://Ideas.Lang-Learn.org" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/17cfd61515001d39963ffeb09867c522?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>I get a lot of e-mail at that address, but your subscription thingy did not arrive.</p>
<p>I'm going to Italy soon, so I am concentrating on Italian right now.  </p>
<p>But my wife and sister-in-law are Polish (genetically) so it is on my list.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/6/3870">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://Ideas.Lang-Learn.org" rel="nofollow">Wes Groleau</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/things-i-love-about-poland-01-waiters-leave-you-alone#comment-3870">Saturday, February 9, 2013 - 00:33</a></span>
</div>
</div>
<div class="indented"><a id="comment-3878"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Wes!</p>
<p>I just checked and I see that you started a subscription but didn't click the link in the confirmation e-mail. I've confirmed it manually for you!</p>
<p>If you want to download my ebook, it's at this link:</p>
<p><a href="http://www.linguatrek.com/nll-ebook-en" title="http://www.linguatrek.com/nll-ebook-en">http://www.linguatrek.com/nll-ebook-en</a></p>
<p>I hope it's helpful in your language learning journey!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/6/3878">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/11/things-i-love-about-poland-01-waiters-leave-you-alone#comment-3878">Saturday, February 9, 2013 - 08:33</a></span>
</div>
</div>
</div><a id="comment-5116"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/ed2313c0aa1d11fc5d0e23ac45bd294b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I have been to Poland on 5 separate extended vacations, and I respectfully disagree. Of course, I have become used to this cultural difference, though I still find it to be rather inconvenient. </p>
<p>The problem that I frequently encounter is that its rarely possible to wave your server to your table. Instead you must get up from your seat in order to go and locate this person. This tends to be a much larger interruption than having your server occasionally stop by your table to see if you are in need of anything. </p>
<p>Restaurants and servers that cater to foreign customers do not seem to understand that this lack of attention actually costs them money. It costs the restaurant because I will naturally spend less money in their establishment, due to simple fact that there is less opportunity to do so. Even moreso, it costs the server, as they are likely to receive a lower tip from me because a) a lower final bill total negatively impacts the normally percentage-based tip I will pay, and b) having to chase after the server tends to lower the percentage that I would normally tip, even when the food is very good.   </p>
<p>At the end of the day, a good server should be able to guage the disposition of his/her patrons, and adjust their level of service accordingly.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/6/5116">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">tenkris (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/things-i-love-about-poland-01-waiters-leave-you-alone#comment-5116">Thursday, August 29, 2013 - 17:26</a></span>
</div>
</div>
<div class="indented"><a id="comment-5136"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Heh, I guess it's a matter of personal preference! :-) I prefer to really dig in at the restaurant and hang out for a very long time, talking and relaxing. The constant interruptions by waiters in the USA really bother me. Although we don't go out to eat very often.</p>
<p>In any case, thanks for sharing your perspective!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/6/5136">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/11/things-i-love-about-poland-01-waiters-leave-you-alone#comment-5136">Tuesday, September 3, 2013 - 16:40</a></span>
</div>
</div>
</div><a id="comment-8220"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://warsaw-guide.com/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/62a17497d627051981e2b09b9671e4bf?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>For me the most beautiful is Warsaw with history and nice places to see, nice pubs and special climate. The most easily recognized piece of Warsaw architecture is The Palace of Culture. It’s been my dream to visit a good place with <a href="http://warsaw-guide.com/" title="http://warsaw-guide.com/">http://warsaw-guide.com/</a>. I heard there are so many great places and monuments to see for example the rainbow, the palm tree at Rondo Charles’a de Gaulle’a, the Ulica Francuska in Praga and the palace of culture and scienec at night.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/6/8220">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://warsaw-guide.com/" rel="nofollow">Smith Caroline</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/things-i-love-about-poland-01-waiters-leave-you-alone#comment-8220">Friday, September 25, 2015 - 07:29</a></span>
</div>
</div>
</div>
