---
permalink: /blog/2010/11/things-i-love-about-poland-02-kiosks/
layout: blog-old
title: 'Things I Love About Poland #02: Kiosks!'
day: 12
month: Nov
year: 2010
category: Poland
tags: 
  - 'Things I Love About Poland'
language: en
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/11/2349854120_4b6bb6bd37_o.jpg" rel="lightbox"><img alt="Polish Kiosk" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/11/2349854120_4b6bb6bd37_o.jpg" title="Photo by urbanlegend on Flickr"/></a><div class="caption">A Polish kiosk.  <a href="http://www.flickr.com/photos/17989497@N00/2349854120/">Photo</a> by <a href="http://www.flickr.com/photos/17989497@N00">urbanlegend</a> on Flickr.</div></div>
<p><strong>This is the second in a series of articles called "<a href="http://www.linguatrek.com/tags/things-i-love-about-poland">Things I Love About Poland</a>," where I discuss differences between Poland and the USA.  In this article, I talk about Polish <a href="http://en.wikipedia.org/wiki/Kiosk">kiosks</a>!</strong></p>
<p>It's 4.30pm and you finished work a short while ago.  You're walking home from the bus (or tram) stop.  Do you need any vegetables or bread for dinner?  Maybe you just remembered that you've run out of soap or shampoo?  Or how about a movie to watch?  Need more minutes for your cell phone?  How about cigarettes?  Recipes?  Headache medicine?  <em>ANYTHING?</em></p>
<p>Just stop at any one of the <strong>dozen</strong> kiosks you pass along the way!</p>
<div class="diag align-left" style="float: left; width: 160px; margin: 10px 10px 10px 0"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/11/362786581_a2094f0997_o.jpg" rel="lightbox"><img alt="Polish Kiosk with vegetables" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/11/362786581_a2094f0997_o.jpg" title="Photo by Magic Madzik on Flickr"/></a><div class="caption">Polish Kiosk with vegetables in Łódź.  <a href="http://www.flickr.com/photos/cefeida/362786581/">Photo</a> by <a href="http://www.flickr.com/photos/cefeida/">Magic Madzik</a> on Flickr.</div></div>
<p>Besides kiosks you probably also walked by a lot of small specialized shops, including the bakery, butcher, "fishmonger" (sorry for the British English, but do we have an American word for this?) and grocery store.  In my walk home from the tram stop I passed at least two of each and probably four small grocery stores.  We're talking about a <em>five minute walk</em>.</p>
<p>In the USA, we mainly have big supermarkets.  And most people do not live within walking distance of one.  So, you have to drive there, deal with crowds and long lines.  Big stores means lots of time searching for what you want.  Americans tend to plan their shopping in big trips where they buy a lot at once.</p>
<p>When we were living in Poland, we bought individual things when we needed them.  You're always walking to and from the bus or tram stop.  You can just pop into a small store or even buy things right on the street -- from a kiosk!</p>
</div>

<div id="comments">
<a id="comment-647"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2011/07/you-dont-need-to-live-in-a-foreign-country-to-learn" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] in the country, you have basically unlimited resources. Want a newspaper in the language? Just walk to a kiosk and a buy one! Want a book? Go to the library, they're free! People to practice speaking with? [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/14/647">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2011/07/you-dont-need-to-live-in-a-foreign-country-to-learn" rel="nofollow">You don&amp;amp;#039;t need to live in a foreign country to lear</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/things-i-love-about-poland-02-kiosks#comment-647">Tuesday, July 26, 2011 - 10:04</a></span>
</div>
</div>
<a id="comment-682"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9d79ca1a98072b83084eaaedfb61bcd1?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Sprawdziłem w moim słowniku i mam taki tekst i wklejam ten tekst wg.słownika Are the shops within walking distance? Czy do sklepów można dojść na piechotę?<br/>
The house is within walking distance (w pobliżu) of the shops.</p>
<p>Mam pytanie within walking distance - czy te słowa znaczą po polsku "odległość do przejścia" czy "w pobliżu" czy coś innego .... bo nie wiem ....?<br/>
Pozdrawiam</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/14/682">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">mjosek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/things-i-love-about-poland-02-kiosks#comment-682">Thursday, August 4, 2011 - 13:21</a></span>
</div>
</div>
<div class="indented"><a id="comment-684"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Kiedy coś jest "within walking distance" to znaczy, że możesz spokojnie tam dojść piechotą.  Kiedy coś nie jest "within walking distance" to znaczy, że musisz tam dojechać autobusem/samochodem/itd.  Oczywiście, to zależy od osoby!  Np dla mnie coś jest "within walking distance" ale dla mojej matki, nie.</p>
<p>Mam nadzieję, że to pomoże!  Zaakualizuję tłumaczenie w BiblioBirdzie kiedy mam wolną chwilę. :-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/14/684">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/11/things-i-love-about-poland-02-kiosks#comment-684">Thursday, August 4, 2011 - 17:20</a></span>
</div>
</div>
</div><a id="comment-2731"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c592ff44ae88805d49c1fec58fac96bd?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hej</p>
<p>Artykuł fajny ale zdjęcia straszne i jakby nie z tej epoki. Wiem że nadal są takie odstraszające kioski ale coraz częściej spotyka się takie jak w tym linku <a href="http://www.pawilonybudotechnika.com.pl/" title="http://www.pawilonybudotechnika.com.pl/">http://www.pawilonybudotechnika.com.pl/</a> Może by tak zmienić zdjęcia w tekście? Chyba że to są Twoje autorskie fotki to rozumiem.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/14/2731">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Szpak (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/things-i-love-about-poland-02-kiosks#comment-2731">Wednesday, July 18, 2012 - 02:56</a></span>
</div>
</div>
<div class="indented"><a id="comment-2748"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć!</p>
<p>Nie sądzę, że te zdjęcia są tak straszne - jak się mówi po angielsku: "they have character." :-)</p>
<p>To nie są moje zdjęcia ale tylko mogę używać zdjęć z pozwoleniem więc mam dość mały wybór. Znalazłem te w artykule przez tę wyszukiwarkę zdjęć z licencją CC (creative commons):</p>
<p><a href="http://flickrcc.bluemountains.net/flickrCC/index.php" title="http://flickrcc.bluemountains.net/flickrCC/index.php">http://flickrcc.bluemountains.net/flickrCC/index.php</a></p>
<p>Gdybyś znalazł lepsze zdjęcia CC, chętnie ich używałbym!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/14/2748">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/11/things-i-love-about-poland-02-kiosks#comment-2748">Thursday, July 19, 2012 - 13:00</a></span>
</div>
</div>
</div>
</div>
