---
permalink: /blog/2010/11/turkey-day-isnt-the-same-for-everyone/
layout: blog-old
title: 'Turkey Day isn''t the same for everyone!'
day: 25
month: Nov
year: 2010
category: USA
tags: 
  - 'holidays'
  - 'Thanksgiving'
language: en
translation: 
---
<div class="content">
<p>Today is Thanksgiving!</p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/11/traditionalthanksgiving.jpg" rel="lightbox"><img alt="Table set with food." src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/11/traditionalthanksgiving.jpg" title="Photo by Ben Franske"/></a><div class="caption">Traditional Thanksgiving dinner. <a href="http://commons.wikimedia.org/wiki/File:TraditionalThanksgiving.jpg">Photo</a> by <a href="http://commons.wikimedia.org/w/index.php?title=User:BenFranske">Ben Franske</a>.</div></div>
<p>Traditionally, that means families gather together to eat a gigantic home-cooked dinner consisting of: turkey, stuffing, mashed potatoes, gravy, cranberry sauce and pumpkin pie.  Everyone eats until they can't eat anymore.  Then they play and watch American football.  Is there a more American holiday? ;-)</p>
<p>That is what every single American family will be doing tonight.  Well, in the movies at least!</p>
<p>Like all things American (and holidays in particular), they are very individual.  Celebrations vary from family to family and year to year.</p>
<p>In my family, Thanksgiving isn't a family holiday.  My parents have Thanksgiving dinner with friends.  Since its not a family function, I am free to go or not go.  Sometimes instead I spend Thanksgiving with my wife's family or my friends.</p>
<p>On the other hand, Thanksgiving is an important time for my wife's family.  They all gather at her grandmother's house in Illinois for the entire holiday weekend (Thursday to Sunday).  However, they don't cook at home, they go to a restaurant.</p>
<p>In neither celebration is there any mention of American football!</p>
<p>As far as turkey, sometimes it's there, sometimes not.  At one Thanksgiving we ate Mexican enchiladas instead.  There are also the occasional Thanksgiving fads.  For a few years, deep-fried turkeys were very popular.  At an other time, it was the turducken: a duck stuffed inside a chicken stuffed inside a turkey.</p>
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2010/11/tofurkey.jpg" rel="lightbox"><img alt="Tofurkey in box" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2010/11/tofurkey.jpg" title="Photo by Whitebox on the Wikipedia"/></a><div class="caption">A Tofurkey still in the packaging!  <a href="http://en.wikipedia.org/wiki/File:Stuffed_Holiday_Roast_AuraPro_Turkey_flavor.jpg">Photo</a> by <a href="http://en.wikipedia.org/wiki/User:Whitebox">Whitebox</a> on the Wikipedia.</div></div>
<p>Of course, I am a vegetarian.  This means at Thanksgiving I eat mostly sides.  My favorite Thanksgiving foods are stuffing (when not cooked inside the turkey) and pumpkin pie (my Ma makes the best!).  One year I did have a tofurkey (a turkey made of tofu) when I celebrated the holiday with my friends.</p>
<p>The one thing we will all have in common tonight?  We will all be eating a lot.</p>
</div>

<div id="comments">
<a id="comment-39"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2010/12/christmas-without-presents" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] of the great things about American culture, is how diverse it is. Like I said previously, every family has their own way of celebrating the holidays. This means we can basically decide to [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/24/39">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2010/12/christmas-without-presents" rel="nofollow">Christmas without presents? | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/turkey-day-isnt-the-same-for-everyone#comment-39">Tuesday, December 28, 2010 - 17:12</a></span>
</div>
</div>
<a id="comment-5502"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2013/11/what-are-you-thankful-for-happy-thanksgiving-day" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] years ago, I recorded a video about Thanksgiving in Polish and wrote an article in English. If you haven't been following my blog for 3 years, well, then it's new to you! [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/24/5502">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2013/11/what-are-you-thankful-for-happy-thanksgiving-day" rel="nofollow">What are you thankful for? Happy Thanksgiving Day! | LinguaT</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/turkey-day-isnt-the-same-for-everyone#comment-5502">Thursday, November 28, 2013 - 10:57</a></span>
</div>
</div>
<a id="comment-5503"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2013/11/za-co-jeste%C5%9B-wdzi%C4%99czny-%C5%BCycz%C4%99-mi%C5%82ego-dnia-dzi%C4%99kczynienia" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] lata temu nagrałem filmik na temat Dnia Dziękczynienia po polsku i napisałem artykuł po angielsku. Jeśli nie śledzisz mojego blogu od trzech lat, no, będzie to dla Ciebie coś nowego! [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/24/5503">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2013/11/za-co-jeste%C5%9B-wdzi%C4%99czny-%C5%BCycz%C4%99-mi%C5%82ego-dnia-dzi%C4%99kczynienia" rel="nofollow">Za co jesteś wdzięczny? Życzę miłego Dnia Dziękczynienia! | </a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/turkey-day-isnt-the-same-for-everyone#comment-5503">Thursday, November 28, 2013 - 10:58</a></span>
</div>
</div>
</div>
