---
permalink: /blog/2010/11/vlog-dzień-dziękczynienia-święta-w-usa-w-ogóle-i-para-innych-rzeczy/
layout: blog-old
title: 'Vlog: Dzień Dziękczynienia, święta w USA w ogóle i para innych rzeczy'
day: 27
month: Nov
year: 2010
category: USA
tags: 
  - 'holidays'
  - 'Thanksgiving'
  - 'vlog'
language: en
translation: /blog/2010/11/vlog-dzie%C5%84-dzi%C4%99kczynienia-%C5%9Bwi%C4%99ta-w-usa-w-og%C3%B3le-i-para-innych-rzeczy/
---
<div class="content">
<p>Dzisiaj Amerykanin mówiący po polsku rozmawia na temat Dnia Dziękczynienia, który właśnie odbył w czwartek.  Też mówi w ogóle o tym, jak się różnią sposoby do obchodzenia świąt między Amerykanów.  I na końcu, jest para innych rzeczy nie na temat, ale mam nadzieję, jeszcze ciekawa!  Zapraszam do oglądania!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/4gL5lZGHnSc?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/4gL5lZGHnSc?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Czytaj transkrypcję poniżej!</p>
<h2><a name="transcript">Transkrypcja:</a></h2>
<ul>
<li>Dzień dobry!</li>
<li>Znowu przed kamerą internetową mówi David Snopek</li>
<li>Dwa dni temu był Dzień Dziękczynienia</li>
<li>Zawsze jest trudno mówić o świętach amerykańskich</li>
<li>Bo nie można powiedzieć, że na to święto robimy to</li>
<li>Bo wszyscy obchodzą święta w własny sposób</li>
<li>Tradycyjnie, przynajmniej w filmach</li>
<li>Na Dzień Dziękczynienia cała rodzina się zbiera na wielki obiad</li>
<li>I jemy indyka, "stuffing" - w internecie mówi się, że to jest "farsz" po polsku ale nie wiem, co to jest,więc nie wiem</li>
<li>Też "cranberry sauce" - sos żurawinowy, "pumpkin pie" - to ciasto dyniowe</li>
<li>Po obiedzie w domu, gramy w football amerykański i oglądamy mecz w telewizji</li>
<li>Bo zawsze jest wielki mecz na Dzień Dziękczynienia</li>
<li>Ale tak nie jest, w całości nie jest</li>
<li>Bo, na przykład, w mojej rodzinie Dzień Dziękczynienia w ogóle nie jest rodzinnym świętem</li>
<li>To znaczy, że moi rodzice spędzają to święto razem z przyjaciółmi</li>
<li>Więc mogę razem z nimi obchodzić to święto lub nie</li>
<li>Nie jest tak ważne</li>
<li>Bo to nie jest rodzinne święto</li>
<li>Więc ja spędzam Dzień Dziękczynienia lub z rodzicami i ich przyjaciółmi lub z rodziną mojej żony lub z moimi przyjaciółmi</li>
<li>Z drugiej strony, w rodzinie mojej żony Dzień Dziękczynienia jest bardzo ważnym rodzinnym świętem</li>
<li>Cała rodzina się zbiera u babci, która mieszka w Illinios</li>
<li>Jakąś godzinę w kierunku południowym od Chicago</li>
<li>Więc trzy godziny jedzie się od Milwaukee do tego miasteczka</li>
<li>I tam spędzają cały ten długi weekend, licząc w tym piątek</li>
<li>Zwykle musisz o dzień wolny od pracy w tym dniu bo automatycznie nie jest</li>
<li>No, przez cały ten długi weekend wszyscy tam są, to znaczy cztery dni</li>
<li>Ale nie jedzą obiadu w domu, jeżdżą do restauracji</li>
<li>W całości nie jest tak samo jak filmach, jak tradycyjnie powinno być</li>
<li>Nie jest tak jak w Polsce, że na przykład możemy powiedzieć, że na Bożego Narodzenia my Polacy robimy to i większości przypadków tak jest</li>
<li>W tym roku byłem z rodzicami i obiad był u ich przyjaciół</li>
<li>Był bardzo blisko do tradycyjnego obiadu</li>
<li>Tam był indyk, był sos żurawinowy, ciasto dyniowe, i tak dalej</li>
<li>Ale zawsze tak nie jest</li>
<li>Pamiętam w pewnym roku, zamiast indyka, był enchiladas -- były enchiladas</li>
<li>No, to trudno z hiszpańskim słowem to powiedzieć po polsku</li>
<li>I oczywiście jestem wegetarianinem, nie jem indyka</li>
<li>Jem tylko te "sides" -- nie wiem jak to powiedzieć</li>
<li>Było fajnie w tym roku</li>
<li>Rano w samym Dniu Dziękczynienia razem z żoną poszliśmy do sklepu</li>
<li>Dzień dobry!</li>
<li>Dzisiaj jest Dzień Dziękczynienia</li>
<li>Razem z żoną idziemy do sklepu</li>
<li>Bo w przeciwieństwie do Polski na świętach sklepy są otwarte</li>
<li>Tam zobaczymy co mają na Dzień Dziękczynienia</li>
<li>Bo chciałem nagrywać filmik tych produktów, specjalnie <del>robionych</del> [zrobionych] na Dzień Dziękczynienia</li>
<li>Tutaj w naszej dzielnicy nie ma chodników</li>
<li>Więc musimy przez trawę</li>
<li>Ale okazało się, że właśnie po tym, jak <del>wszliśmy</del> [weszliśmy] do sklepu kobieta tam powiedziała mi, że nie wolno tak nagrywać <del>filmik</del> [filmiku] i, że muszę wyjść</li>
<li>Wygląda na to, że jest nie wolno nagrywać <del>filmiki</del> [filmików] w sklepach</li>
<li>Więc nie nagrywaliśmy, niestety</li>
<li>To wszystko!</li>
<li>Więc nie mam niczego na ten temat dla Was</li>
<li>Para innych rzeczy na końcu, nie na temat</li>
<li>Mój ojciec nadal <del>rzeźbia</del> [rzeźbi] dynie</li>
<li>Nawet jak, jest miesiąc po Halloween'ie</li>
<li>On po prostu lubi to robić</li>
<li>Też mam pewną dynię, która sama robi się "<a href="http://en.wikipedia.org/wiki/Jack-o'-lantern">Jack-O-Lantern</a>"</li>
<li>Można tam widzieć twarz</li>
<li>Też tydzień temu moja żona wygrała konkurs</li>
<li>Jakaś firma marketingowa prowadziła konkurs, żeby nazwać piwo, które tam się robi</li>
<li>I ona podała parę nazw i wybrali jedną z nich</li>
<li>I też ona <del>robiła</del> [zrobiła] obraz dla butelek</li>
<li>Dwa tygodni temu, byłem na spotkaniu, gdzie rozmawialiśmy ze Steve'em Wozniakiem -- Woźniakiem, powinno być Woźniak</li>
<li>Bo to jest rzeczywiście polskie nazwisko, ale mówimy po angielsku "Wozniak", "The Woz"</li>
<li>On jest jednym ze <del>złożycieli</del> [założycieli] firmy Apple'a</li>
<li>Steve Jobs był ze strony biznesowej i Steve Wozniak był ze strony technologicznej</li>
<li>Było dość ciekawe</li>
<li>Tam było może 100 (sto) osób</li>
<li>Zadawaliśmy -- to znaczy, ludzie tam zadawali, osobiście nie zadawałem -- pytania do Steve'a</li>
<li>No, było bardzo ciekawe</li>
<li>Myślę, że to wszystko, co mam, do powiedzenia dzisiaj</li>
<li>Dziękuję bardzo za uwagę</li>
<li>Do widzenia</li>
</ul>
</div>

<div id="comments">
<a id="comment-178"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4743d59abcf34b4bf5b690fabe11ea46?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>"Stuffing" to po polsku "farsz" albo "nadzienie" :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/26/178">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Maria (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/vlog-dzie%C5%84-dzi%C4%99kczynienia-%C5%9Bwi%C4%99ta-w-usa-w-og%C3%B3le-i-para-innych-rzeczy#comment-178">Thursday, March 10, 2011 - 12:28</a></span>
</div>
</div>
<div class="indented"><a id="comment-181"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Aha!  Dziękuję bardzo za słówka. :-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/26/181">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/11/vlog-dzie%C5%84-dzi%C4%99kczynienia-%C5%9Bwi%C4%99ta-w-usa-w-og%C3%B3le-i-para-innych-rzeczy#comment-181">Thursday, March 10, 2011 - 17:04</a></span>
</div>
</div>
</div><a id="comment-3849"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/5e3dbc9ac4e5485caddd5a6874344cac?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>HAHAHA najlepsza była końcówka "to kosztuje 20 dolarów" XD</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/26/3849">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Sandra (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/vlog-dzie%C5%84-dzi%C4%99kczynienia-%C5%9Bwi%C4%99ta-w-usa-w-og%C3%B3le-i-para-innych-rzeczy#comment-3849">Thursday, February 7, 2013 - 11:47</a></span>
</div>
</div>
<a id="comment-5511"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4743d59abcf34b4bf5b690fabe11ea46?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>"Sides" po polsku to "dodatki". Bardzo ciekawe, pozdrawiam!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/26/5511">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Maria (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/vlog-dzie%C5%84-dzi%C4%99kczynienia-%C5%9Bwi%C4%99ta-w-usa-w-og%C3%B3le-i-para-innych-rzeczy#comment-5511">Friday, November 29, 2013 - 06:50</a></span>
</div>
</div>
<div class="indented"><a id="comment-5521"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki. :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/26/5521">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2010/11/vlog-dzie%C5%84-dzi%C4%99kczynienia-%C5%9Bwi%C4%99ta-w-usa-w-og%C3%B3le-i-para-innych-rzeczy#comment-5521">Saturday, November 30, 2013 - 12:30</a></span>
</div>
</div>
<a id="comment-5523"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/b354b95c2cde0183d2dc82cdffdf0eb3?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>bardziej pasuje "przystawka"</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/26/5523">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">matt (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/vlog-dzie%C5%84-dzi%C4%99kczynienia-%C5%9Bwi%C4%99ta-w-usa-w-og%C3%B3le-i-para-innych-rzeczy#comment-5523">Saturday, November 30, 2013 - 15:47</a></span>
</div>
</div>
</div><a id="comment-5531"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4743d59abcf34b4bf5b690fabe11ea46?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>@Matt- nie jestem pewna co tu jest lepiej użyc, bo "przystawka- danie poprzedzające posiłek główny" czyli "starter" po angielsku. Domyślam się, że David jadł nie tylko przystawki ale również dodatki do dań w trakcie całego posiłku. Dlatego napisałam "dodatki".</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/26/5531">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Maria (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2010/11/vlog-dzie%C5%84-dzi%C4%99kczynienia-%C5%9Bwi%C4%99ta-w-usa-w-og%C3%B3le-i-para-innych-rzeczy#comment-5531">Monday, December 2, 2013 - 09:58</a></span>
</div>
</div>
</div>
