---
permalink: /blog/2010/11/vlog-historia-piosenki-matter-of-time-i-plany-na-następne-filmiki/
layout: blog-old
title: 'Vlog: Historia piosenki "Matter of Time" i plany na następne filmiki'
day: 21
month: lis
year: 2010
category: personal
tags: 
  - 'music'
  - 'vlog'
language: pl
translation: /blog/2010/11/vlog-historia-piosenki-matter-of-time-i-plany-na-nast%C4%99pne-filmiki/
---
<div class="content">
<p>W tym filmik mówię na temat historii piosenki, którą grałem w <a href="http://www.linguatrek.com/blog/2010/11/matter-of-time-an-original-song-by-david-snopek">zeszłym filmiku</a>.  Też wspominam stare czasy kiedy byłem bardziej zaangażowany muzyką. ;-)  Obiecam, że za tydzień wracamy do normalnych tematów.</p>
<p>Przepraszam za długość tego filmiku!  Już usunąłem kilka rzeczy z niego, żeby robić go trochę krótszy (z tego powodu, jest tak dużo edycji w filmiku).</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/SeRflRDtBdU?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/SeRflRDtBdU?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p>Czytaj transkrypcję poniżej!</p>
<h2><a name="transcript">Transkrypcja</a></h2>
<ul>
<li>Dzień dobry</li>
<li>Znowu przed kamerą internetową mówi David Snopek</li>
<li>Najpierw chciałbym dziękować wszystkim za takie miłe komentarze i komplementy na moim pierwszym filmiku, w którym pośpiewałem i pograłem trochę na gitarze</li>
<li>Co zainspirowało mnie nagrać pełną wersję jednej z tamtych piosenek</li>
<li>I też chciałbym dziękować wszystkim za takie miłe komentarze na tamtym filmiku, w którym gram całą piosenkę</li>
<li>Dziękuję bardzo</li>
<li>To bardzo miło z Waszej strony</li>
<li>W tym filmiku chciałbym mówić trochę o historii tej piosenki, którą grałem w filmiku wczoraj</li>
<li>Więc zachęcam wszystkim do oglądania tego filmiku</li>
<li>Też możesz czytać tekst piosenki na moim blogu</li>
<li>Tam możesz kliknąć na słowo i wyświetla się tłumaczenie po polsku</li>
<li>Dobrze</li>
<li>Nazwa tej piosenki jest "Matter of Time"</li>
<li>Po polsku to byłoby "kwestia czasu"</li>
<li>Napisałem tę piosenkę latem 2004 (dwa tysiące czwartego) roku</li>
<li>To już... no jest dość dawno temu, ale wydaje mi się, że to było jak wczoraj</li>
<li>Chociaż moje życie jest teraz zupełnie inne</li>
<li>Bo wtedy byłem w głębokiej depresji i piłem bardzo dużo alkoholu</li>
<li>Też byłem bardzo samotny, nie miałem dziewczyny od długiego czasu</li>
<li>Ale to jest całkiem rozumiałe, bo byłem cały czas byłem pijany</li>
<li>W tamtych czasach robiłem przykre rzeczy, które naprawdę żałuję</li>
<li>Ta piosenka jest o frustracji z moim życiem i z osobą, którą zostałem</li>
<li>Ale to jest optymystyczna piosenka</li>
<li>Bo w tym obiecam samemu sobie, że nie zawsze będę taki</li>
<li>Pierwsza linia piosenki jest "I won't always be a drunk"</li>
<li>To znaczy "Nie będę zawsze pijakiem"</li>
<li>I to wszystko okazało się, że tak!</li>
<li>Już nie mam żadnych tych problemów</li>
<li>W ogóle nie piję alkoholu teraz i mam wspaniałą żonę</li>
<li>Ale ta piosenka nadal ma wielkie znaczenie dla mnie</li>
<li>Gram tę piosenkę tylko raz na koncercie</li>
<li>To było 2 (drugiego) stycznia 2005 (dwa tysiące piątego) roku</li>
<li>To jest bardzo zła data na koncert</li>
<li>Bo <del>trzeciego</del> [trzydziestego!] pierwszego grudnia wszyscy imprezują</li>
<li>Potem też trochę imprezują pierwszego stycznia i trochę odpoczynają</li>
<li>I też <del>tego roku</del> [w tym roku] drugiego stycznia to była niedziela</li>
<li>Więc w niedzielę tylko dzień po nowym roku</li>
<li>Ale wybraliśmy tę datę bo Maggie Davis, dziewczyna, z którą grałem w przeszłości</li>
<li>Na końcu lat 90-ych (dziewięćdziesiątych) graliśmy razem w kilku zespołach, kiedy byliśmy jeszcze w gimnazjum</li>
<li>I trochę po gimnazjum, przynajmnie dla mnie po gimnazjum, bo Maggie jest o dwa lata młodza ode mnie</li>
<li>Wydaje mi się, że razem graliśmy do 2002 (dwa tysiące drugiego) roku</li>
<li>I potem ona przeprowadziła się do nowego miasta, w nowym stanie</li>
<li>Kiedy ona wróciła do Milwaukee <del>tego roku</del> w tamtym roku -- on na święta była w Milwaukee i tylko może dwa lub trzy tygodnie -- i bardzo chciałem zorganizować koncert</li>
<li>Bo dawno nie graliśmy razem</li>
<li>Nawet dawno nie widzieliśmy się</li>
<li>Ta data była wolna, w wszystkich lokalach nie było niczego tego dnia</li>
<li>Jeszcze mam ulotki, reklamujące to wydarzenie, na pamiątkę</li>
<li>"January 2nd" - <del>drugiego stycznia</del> [drugi stycznia]</li>
<li>"Linneman's Riverwest Inn" - to jest bar</li>
<li>"David Snopek" - to ja</li>
<li>"Maggie Davis", o której, już wspominałem</li>
<li>Ona śpiewa i też gra na skrzypce</li>
<li>"Anna Brinck" - to piosenkarka, która gra głównie na pianinie, ale też śpiewa i gra na różnych innych instrumentach, na akordianie, na gitarze trochę</li>
<li>I też "Emily Forest", która też jest piosenkarką, śpiewa i gra na gitarze</li>
<li>Teraz ona mieszka w Nowym Jorku, i wydaje mi się, że ona nadal ...</li>
<li>No, wszyscy oprócz mnie jeszcze są aktywni, aktywnymi muzykami</li>
<li>Koncert wyglądał tak, że na samym początku ja grałem z Anną</li>
<li>Tylko trzy piosenki: jedną z moich, jedną z jej, jeden cover</li>
<li>Potem ja grałem razem z perkusistą</li>
<li>I to właśnie z jego powodu, że -- oh, nie powiedziałem -- to był najlepszy koncert w moim życiu</li>
<li>Z powodu, że grałem z tym perkusistą</li>
<li>On grał tak dynamycznie i naprawdę słuchał i komunikował się ze mną, jak graliśmy</li>
<li>Nigdy przedtem, nigdy potem [nie] grałem z takim dobrym perkusistą</li>
<li>Z tego powodu, moje piosenki brzmiały jak najlepiej</li>
<li>To wielka szkoda, że on nie jest na ulotce</li>
<li>Wszyscy nazywali go "Honkey" ale jego prawdziwe nazwisko było Charles Moore</li>
<li>Nie wyjaśnię co znaczy "Honkey" po angielsku, to brzydkie słowo</li>
<li>Nie mówcie, proszę, nie mówcie tego słowa po angielsku</li>
<li>Ale, no, wtedy grałem razem z Honkey'm godzinę</li>
<li>Potem dołączyła do nas Maggie i graliśmy jeszcze godzinę</li>
<li>Potem Anna razem z Emily grały, wydaje mi się, że tylko godzinę</li>
<li>Oficjalnie ten koncert był <del>nasz koncert</del> naszym koncertem</li>
<li>To znaczy ja razem z Maggie i Honkey'm, </li>
<li>To dlatego graliśmy tak długo</li>
<li>Ale osobiście nie lubię grać ostatni, więc jak ja zorganizowałem koncert, zdecydowałem, że gramy jako pierwsi</li>
<li>Obiecam, że w następnych filmikach wracamy do normalnych tematów</li>
<li>To znaczy temat Polski, Stanów Zjednoczonych, różnic między nimi, nauki języków obcych</li>
<li>W następnym tygodniu planuję zrobić filmik na temat Dnia Dziękczynienia</li>
<li>Bo będzie Dzień Dziękczynienia za tydzień</li>
<li>Też chciałbym zrobić filmik domu moich rodziców i okolic</li>
<li>Wtedy możecie zobaczyć, jak wygląda normalny amerykański dom i dzielnicę</li>
<li>Też chciałbym zrobić filmik na temat komunikacji miejskiej w moim mieście</li>
<li>I w przyszłości chciałbym kiedyś śpiewać piosenkę po polsku</li>
<li>Jestem otwarty na sugestie, proszę piszcie w komentarzy <del>co</del> czego chcecie słuchać ode mnie</li>
<li>No, to wszystko!</li>
<li>Dziękuję za uwagę</li>
<li>Do widzenia!</li>
</ul>
</div>

<div id="comments">
<div class="box">
<h2>Dodaj nową odpowiedź</h2>
<div class="content"><form accept-charset="UTF-8" action="/comment/reply/20" id="comment-form" method="post">
<div><div class="form-item" id="edit-name-wrapper">
<label for="edit-name">Nazwisko lub pseudonim: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-name" maxlength="60" name="name" size="30" type="text" value="Anonymous"/>
</div>
<div class="form-item" id="edit-mail-wrapper">
<label for="edit-mail">E-mail: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-mail" maxlength="64" name="mail" size="30" type="text" value=""/>
<div class="description">Zawartość pola nie będzie udostępniana publicznie. If you have a <a href="http://www.gravatar.com">Gravatar</a> account, used to display your avatar.</div>
</div>
<div class="form-item" id="edit-homepage-wrapper">
<label for="edit-homepage">Strona domowa: </label>
<input class="form-text" id="edit-homepage" maxlength="255" name="homepage" size="30" type="text" value=""/>
</div>
<div class="form-item" id="edit-comment-wrapper">
<label for="edit-comment">Odpowiedź: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<textarea class="form-textarea resizable required" cols="60" id="edit-comment" name="comment" rows="15"></textarea>
</div>
<ul class="tips"><li>Adresy internetowe są automatycznie zamieniane w odnośniki, które można kliknąć.</li><li>Dozwolone znaczniki HTML: &lt;a&gt; &lt;em&gt; &lt;strong&gt; &lt;cite&gt; &lt;code&gt; &lt;ul&gt; &lt;ol&gt; &lt;li&gt; &lt;dl&gt; &lt;dt&gt; &lt;dd&gt; &lt;blockquote&gt;</li><li>Znaki końca linii i akapitu dodawane są automatycznie.</li></ul><input id="form-4457f175931107ccd1195f434ca65f40" name="form_build_id" type="hidden" value="form-4457f175931107ccd1195f434ca65f40"/>
<input id="edit-comment-form" name="form_id" type="hidden" value="comment_form"/>
<div class="clear-block"><div class="form-item" id="edit-notify-wrapper">
<label class="option" for="edit-notify"><input checked="checked" class="form-checkbox" id="edit-notify" name="notify" type="checkbox" value="1"/> Notify me when new comments are posted</label>
</div>
<div class="form-radios"><div class="form-item" id="edit-notify-type-1-wrapper">
<label class="option" for="edit-notify-type-1"><input class="form-radio" id="edit-notify-type-1" name="notify_type" type="radio" value="1"/> All comments</label>
</div>
<div class="form-item" id="edit-notify-type-2-wrapper">
<label class="option" for="edit-notify-type-2"><input checked="checked" class="form-radio" id="edit-notify-type-2" name="notify_type" type="radio" value="2"/> Replies to my comment</label>
</div>
</div></div><input class="mollom-session-id" id="edit-mollom-session-id" name="mollom[session_id]" type="hidden" value=""/>
<div style="display: none;"><div class="form-item" id="edit-mollom-homepage-wrapper">
<input class="form-text" id="edit-mollom-homepage" maxlength="128" name="mollom[homepage]" size="60" type="text" value=""/>
</div>
</div><div class="description mollom-privacy">Wysłanie formularza jest równoznaczne z akceptacją <a href="http://mollom.com/web-service-privacy-policy">polityki prywatności usługi Mollom</a>.</div><input class="form-submit" id="edit-preview" name="op" type="submit" value="Podgląd"/>
</div></form>
</div>
</div>
</div>
