---
permalink: /blog/2011/05/4-reasons-to-learn-polish/
layout: blog-old
title: '4 reasons to learn Polish!'
day: 31
month: May
year: 2011
category: learn Polish
tags: [ ]
language: en
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/06/flags.jpg" rel="lightbox"><img alt="Row of world flags" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/06/flags.jpg" title="Which language should I learn?  Why not Polish!  Photo by Enric Archivell."/></a><div class="caption">Which language should I learn?  Why not Polish!  <a href="http://www.flickr.com/photos/10652225@N00/309629966">Photo</a> by <a href="http://www.flickr.com/people/enricarchivell/">Enric Archivell</a>.</div></div>
<p>Motivation is <a href="http://www.linguatrek.com/blog/2011/03/the-three-ingredients-for-successful-language-learning">very important</a> when learning a language.  So, it's best to learn the language which you are most interested in.</p>
<p>But before you decide to learn Spanish, French or German (<em>just like everyone else</em>), consider the following reasons for learning Polish instead!</p>
<p><strong>Read more for 4 reasons to learn Polish.</strong></p>
<h2><a name="beautiful">Polish is beautiful</a></h2>
<p>Polish is a beautiful language with a strong literary tradition.  It is a very soft language that easily lends itself to poetry and music.</p>
<p>If you study Polish, one day you'll be able to read the great works of Polish literature in the original language, such as <em><a href="http://pl.wikisource.org/wiki/Pan_Tadeusz">Pan Tadeusz</a></em> by <a href="http://en.wikipedia.org/wiki/Adam_Mickiewicz">Adam Mickiewicz</a> or <em><a href="http://pl.wikisource.org/wiki/Quo_vadis">Quo Vadis</a></em> by <a href="http://en.wikipedia.org/wiki/Henryk_Sienkiewicz">Henryk Sienkiewicz</a>, which I'm reading right now!</p>
<p>Eventually you will understand the lyrics by awesome Polish bands, such as <a href="http://www.youtube.com/watch?v=sGYgbQvLacc">Kult</a>, <a href="http://www.youtube.com/watch?v=25ggLQJiqVs">Myslowitz</a> or <a href="http://www.youtube.com/watch?v=TjIk7ii8hwI">Bratanki</a>.  (Each link takes you to a song on YouTube!)  Plus, you'll get the jokes in many fantastic Polish comedies, like <a href="http://www.youtube.com/watch?v=1Tn1aq3cWqI">Seksmisja</a> (<em>Sex mission</em>) or <a href="http://www.youtube.com/watch?v=r3BvhGg7eVc">Jak Rozpetałem II Wojnę Światową</a> (<em>How I Unleashed World War II</em>).</p>
<h2><a name="root">Your ancestry</a></h2>
<p>Over the last 200 years, Poles have immigrated to every corner of the world.  It's hard <em>not</em> to have some distant Polish roots!</p>
<p>Poles and Polish Americans were critical in the history of the United States and many other countries.  In the USA, <a href="http://en.wikipedia.org/wiki/Tadeusz_Ko%C5%9Bciuszko">Kościuszko</a> and <a href="http://en.wikipedia.org/wiki/Kazimierz_Pu%C5%82aski">Puławski</a> were heroes of the American Revolution, even though they themselves were not Americans.  Polish immigrants played a big role in building the country into what it is today.</p>
<p>Learn the language of your ancestors!  That's <a href="http://www.linguatrek.com/blog/2011/03/how-long-have-i-been-obsessed-with-poland">why I started learning Polish</a>. (I've talked about it <a href="http://www.linguatrek.com/blog/2011/03/vlog-dlaczego-ucz%C4%99-si%C4%99-polskiego">in Polish too</a>.)</p>
<h2><a name="poland-poles">Poland and Poles</a></h2>
<p>Poland is a beautiful country, complete with stunning mountains, forests, lakes and rivers.  It has a <a href="http://www.linguatrek.com/blog/2011/05/things-i-love-about-poland-05-history-is-everywhere">rich history</a> too.  I've written at length about the <a href="http://www.linguatrek.com/tags/things-i-love-about-poland">Things I Love About Poland</a> in a series of articles.</p>
<p>The Polish people are some of the most social and hospitable people in the world.  They love to talk, visit friends and entertain guests.  And a Pole will never pass up a good argument! :-)</p>
<p>If you ever have the pleasure of being invited to someone's home in Poland, you will be treated like a king.</p>
<h2><a name="rock-star">You will be a rock star!</a></h2>
<p>I have personally met dozens of foreigners who have learned Polish to an advanced level.  But many Poles still believe that Polish is the <a href="http://www.linguatrek.com/blog/2010/11/polish-is-not-the-hardest-language-in-the-world">hardest language in the world</a> and are simply <em>amazed</em> to hear a foreigner speaking Polish well.</p>
<p>You will be very popular at parties in Poland!</p>
<p>But a word of warning: They will probably make you say a <a href="http://www.linguatrek.com/blog/2011/01/vlog-w-szczebrzeszynie-chrz%C4%85szcz-brzmi-w-trzcinie">tongue twister</a> in Polish. ;-)</p>
<p><strong>Did I miss anything?  Do you know any other good reasons to learn Polish?  Leave a comment below!</strong></p>
</div>

<div id="comments">
<a id="comment-376"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://gregloby.net" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8da2c3f5bd8322d29829e204972492ac?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>David, just a trifle, "Seksmisja" is written together.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/72/376">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://gregloby.net" rel="nofollow">gregloby</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/4-reasons-to-learn-polish#comment-376">Tuesday, May 31, 2011 - 16:04</a></span>
</div>
</div>
<div class="indented"><a id="comment-377"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Aha, thanks, Grzegorz!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/72/377">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/4-reasons-to-learn-polish#comment-377">Tuesday, May 31, 2011 - 16:18</a></span>
</div>
</div>
</div><a id="comment-378"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/2683618b735f09bdddcd72278aeac8f9?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I am really struggling with my Polish!  I am trying to find people who will speak to me in Polish, but they all want to practice their English with me.  I am at a wall and am not sure how to break through.  Any suggestions?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/72/378">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/4-reasons-to-learn-polish#comment-378">Wednesday, June 1, 2011 - 03:36</a></span>
</div>
</div>
<div class="indented"><a id="comment-379"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>This can definitely be a serious problem!  The first two times I was in Poland, I encountered it frequently.</p>
<p>But, eventually, I started having the problem in reverse!  For example, when we were living in Poland and my parents and sister came to visit us, we went out to eat a lot in old town.  Obviously, all the waiters in old town speak good English and even some German, Russian, etc.  They would start out speaking to everyone in English but when they found out that I spoke Polish, they would start relaying every communication through me!  It was very annoying. :-)</p>
<p>Here are a couple things that seemed to help for me:</p>
<ul>
<li><strong>Begin every interaction/relationship in Polish:</strong>  Once a relationship is established in one language, it is extremely hard to change it.  Only at the beginning is it really flexible.</li>
<li><strong>Act very confident and like you are having a great time speaking Polish:</strong> If you look like you are struggling or suffering, people will switch to English because they think they are helping you.  So, smile really big and confidently declare every sentance even if it is riddled with obvious errors! :-)</li>
<li><strong>Tell people you really need to practice Polish:</strong> If someone starts speaking to you in English, tell them about your problem (in Polish!  Something like: <em>Nikt nie chce z mną rozmawiać po polsku, tylko chcą ćwiczyć swój angielski.  Nigdy nie nauczę się polskiego!</em>) and ask them to speak Polish.  They'll understand.  If it's someone at party and you know you'll be talking for a long time, offer to switch languages in 30 minutes.  But speak in Polish first. ;-)</li>
</ul>
<p>Also, when we were in Poland, I got a lot of speaking practice by having language exchanges (where you speak half the time in Polish and then the other half in English).  If you put an ad on GumTree, you will find <em>tons</em> of willing partners!</p>
<p>I wrote a bit about it in my article about meeting natives:</p>
<p><a href="http://www.linguatrek.com/blog/2011/02/immersion-tips-how-to-meet-natives" title="http://www.linguatrek.com/blog/2011/02/immersion-tips-how-to-meet-natives">http://www.linguatrek.com/blog/2011/02/immersion-tips-how-to-meet-natives</a></p>
<p>I hope that helps!  Let me know how it goes and if you find a solution that works for you.</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/72/379">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/4-reasons-to-learn-polish#comment-379">Wednesday, June 1, 2011 - 06:00</a></span>
</div>
</div>
<a id="comment-425"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3dc923f74c0d5d50a772b56cfd09ccf2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I can speak with you! Please, write to my mail <a href="mailto:ciastek.cool@gmail.com">ciastek.cool@gmail.com</a></p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/72/425">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Adrian Kędzierski (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/4-reasons-to-learn-polish#comment-425">Friday, June 10, 2011 - 12:37</a></span>
</div>
</div>
<a id="comment-457"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/1c6ba21811785c3056f19b624604a484?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Czesc nieznajomy...<br/>
Jesli chcesz moge ci pomoc w polskim,ale tez bym chciala pogadac z toba po angilelsku, by podszkolic sie w nim.<br/>
Jesli jestes zainteresowany odpisz na moj e-mal <a href="mailto:agusiag@hotmail.com">agusiag@hotmail.com</a></p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/72/457">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/4-reasons-to-learn-polish#comment-457">Tuesday, June 21, 2011 - 05:59</a></span>
</div>
</div>
</div><a id="comment-428"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/ded70ac389174b18c43a5deff3852581?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>We can also speak to each other. You can contact me via e-mail on <a href="mailto:paula421@o2.pl">paula421@o2.pl</a> ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/72/428">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/4-reasons-to-learn-polish#comment-428">Sunday, June 12, 2011 - 14:37</a></span>
</div>
</div>
<a id="comment-431"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2011/06/experiment-in-shadowing" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] day, I will walk in the park listening to a recording of Quo Vadis, which I am reading right [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/72/431">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2011/06/experiment-in-shadowing" rel="nofollow">Experiment in &amp;amp;quot;shadowing&amp;amp;quot; | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/4-reasons-to-learn-polish#comment-431">Tuesday, June 14, 2011 - 10:26</a></span>
</div>
</div>
<a id="comment-969"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9e49b5d73e4e719f345993c30bec3f3f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hey</p>
<p>You are in comfortable situation because you know very popular language in this f....n world (it`s your nativ  language) Polish language isn`t very popular :((( but perhaps  one day.... . Every information, every news is in English so many peoples talking in English but not in Polish. This is one basic reason that WE (POLISH)must or should learn English. That`s basic difference.</p>
<p>Best regards</p>
<p>MrVaders</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/72/969">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">mrVaders (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/4-reasons-to-learn-polish#comment-969">Friday, October 7, 2011 - 08:25</a></span>
</div>
</div>
<div class="indented"><a id="comment-970"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Yes, unfortunately, many native English speakers are TOO comfortable in this situation.  They see that everyone is trying to learn English so they decide that they don't need to learn any foreign languages.  But I think they are missing out!  If no language is going to be as useful as English, why not learn Polish? ;-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/72/970">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/4-reasons-to-learn-polish#comment-970">Friday, October 7, 2011 - 08:36</a></span>
</div>
</div>
</div><a id="comment-1982"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.fluentin3months.com/polish/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] I think Polish is one of the most beautiful languages in the world! There are many great reasons to learn Polish. For me, learning this language has been a joy and, honestly, has changed my life [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/72/1982">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.fluentin3months.com/polish/" rel="nofollow">What makes learning Polish so easy? | Fluent in 3 months - L</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/4-reasons-to-learn-polish#comment-1982">Tuesday, May 22, 2012 - 11:30</a></span>
</div>
</div>
<a id="comment-2648"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.polonus-lodz.com/home.html" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c184175f01f58889163e403df7cdd428?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hey do you mind if I quote some stuff from this post? I'm trying to find reasons to learn Polish and honestly, it's hard to convince people to learn something hard that wouldn't necessarily be useful long-term</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/72/2648">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.polonus-lodz.com/home.html" rel="nofollow">Arif Johari</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/4-reasons-to-learn-polish#comment-2648">Tuesday, July 3, 2012 - 07:11</a></span>
</div>
</div>
<div class="indented"><a id="comment-2649"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Of course! If you quote it publicly, please let me know - I'd like to see your article. :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/72/2649">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/4-reasons-to-learn-polish#comment-2649">Tuesday, July 3, 2012 - 07:13</a></span>
</div>
</div>
</div><a id="comment-4515"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/7099ce05467d44293ee68edf5f56a89b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Great site! Don't forget Coma polish progressive rock band! They're amazing even if you don't have a clue about their lyrics. :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/72/4515">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Tamás (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/4-reasons-to-learn-polish#comment-4515">Tuesday, May 14, 2013 - 09:09</a></span>
</div>
</div>
<a id="comment-4911"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/comment/reply/72" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/ddc2f3961c6936b76b650213d0267d1b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hello David. I am mexican and currently trying to learn polish, i think it's a beautiful language but i am struggling at the moment if you could please suggest a website to learn it or some forum i could practice with polish people please let me know my email is : <a href="mailto:fashionista_stella@hotmail.com">fashionista_stella@hotmail.com</a> . by the way i really loved reading your article !<br/>
  Best regards. Estela.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/72/4911">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/comment/reply/72" rel="nofollow">Estela</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/4-reasons-to-learn-polish#comment-4911">Thursday, July 11, 2013 - 23:28</a></span>
</div>
</div>
<div class="indented"><a id="comment-4914"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Estela,</p>
<p>That's awesome that you're learning Polish!</p>
<p>If you haven't yet, I recommend you read my ebook. There's some general advice about language learning and a very detail description of how I learned Polish. And this site is also really great:</p>
<p><a href="http://realpolish.pl/" title="http://realpolish.pl/">http://realpolish.pl/</a></p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/72/4914">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/4-reasons-to-learn-polish#comment-4914">Sunday, July 14, 2013 - 16:30</a></span>
</div>
</div>
</div><a id="comment-5053"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/3448b108d29515b2c895ecb80ac0ff39?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>"It is a very soft language that easily lends itself to poetry and music."<br/>
I have to disagree with you on that, Polish is not a soft language. Every foreigner whom I have asked what Polish sounds like to them has said that polish sounds very rough. My favorite comment was that Polish sounds like someone is trying to kill you with their teeth. </p>
<p>But good luck to everyone on learning polish! Its a really hard language. I moved to Poland when I was 10, but even with cultural immersion and lessons it took me a very long time to become reasonably proficient. </p>
<p>If anyone wants a polish penpal for language practice, email me at <a href="mailto:arianadelano@gmail.com">arianadelano@gmail.com</a></p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/72/5053">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Ari (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/4-reasons-to-learn-polish#comment-5053">Friday, August 9, 2013 - 01:06</a></span>
</div>
</div>
<a id="comment-5975"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/af864855b605c812d2d28f2d170e197d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Another great reason to learn Polish is to be able to speak Kasia's native language.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/72/5975">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/4-reasons-to-learn-polish#comment-5975">Sunday, March 9, 2014 - 20:21</a></span>
</div>
</div>
</div>
