---
permalink: /blog/2011/05/black-is-the-color-a-folk-song/
layout: blog-old
title: '"Black Is the Color" - A folk song'
day: 13
month: May
year: 2011
category: learn English
tags: 
  - 'music'
language: en
translation: 
---
<div class="content">
<p>I heard this song for the first time when I was in Ireland in 2004.  It's a folk song of <a href="http://en.wikipedia.org/wiki/Black_Is_the_Colour_(Of_My_True_Love's_Hair)">unknown origin</a> but most likely from Scotland because of the reference to the <a href="http://en.wikipedia.org/wiki/River_Clyde">Clyde</a>.  Like most folk songs, no two versions are exactly alike and my version is no exception. :-)</p>
<p><strong>Watch me perform "Black Is the Color":</strong></p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/3PurHBvEATk?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/3PurHBvEATk?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p><strong>Read the lyrics below!</strong></p>
<h2><a name="refrain">Refrain</a></h2>
<p><sent>Black is the color<br/>
of my true love's hair</sent><br/>
<sent>Her lips are like<br/>
some roses fair</sent></p>
<p><sent>The sweetest smile,<br/>
and the gentlest hands</sent><br/>
<sent>I love the ground<br/>
where on she stands</sent></p>
<h2><a name="verse-1">Verse I</a></h2>
<p><sent>I love my love<br/>
and well she knows</sent><br/>
<sent>I love the ground<br/>
where on she goes</sent></p>
<p><sent>I hope the day<br/>
will one day come<br/>
when she and I<br/>
will be as one</sent></p>
<p><em>[Refrain]</em></p>
<h2><a name="verse-2">Verse II</a></h2>
<p><sent>I go to the Clyde<br/>
for to mourn and weep,<br/>
for satisfied<br/>
I never can be</sent></p>
<p><sent>I write her a letter,<br/>
just a few short lines,<br/>
and suffer death<br/>
a thousand times</sent></p>
<p><em>[Refrain]</em></p>
</div>

<div id="comments">
<a id="comment-323"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/80cba913aa8819de858adb2c0256adc7?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hello!<br/>
Once day I've seen in useing "a" and "an" an exception: an hour. I'm interested if are more this words.. Could you give me more examples?<br/>
Agnes</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/67/323">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Agnieszka (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/black-is-the-color-a-folk-song#comment-323">Sunday, May 15, 2011 - 06:45</a></span>
</div>
</div>
<div class="indented"><a id="comment-324"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Yes!  With we say "an hour" because "hour" is pronounce without the "h" sound as if it were spelled "our".  You use "an" when the first letter is <em>pronouned</em> as a vowel.</p>
<p>Here are some more examples:</p>
<ul>
<li>an honor (pronounced "aner")</li>
<li>an X-ray (pronounced "eks-rey")</li>
<li>a one-day flu ("one" is pronounced "won")</li>
<li>a university (pronounced "yuniversity")</li>
</ul>
<p>I hope that helps!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/67/324">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/black-is-the-color-a-folk-song#comment-324">Sunday, May 15, 2011 - 07:49</a></span>
</div>
</div>
</div><a id="comment-703"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/97544ca595bd0b1fa0611b004c75957f?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Dziękuję David!<br/>
Przepiękna pieśń.</p>
<p>Twoja grunge'owa wersja na początku mi się całkiem podobała, ale później jak przesłuchałem różne covery, to już nie tak bardzo :) Myślę, że znasz swoje plusy i minusy więc nie będę Ci truł co mi się nie podobało.</p>
<p>Zamiast tego spróbuję się odwdzięczyć.<br/>
Jeśli masz ochotę na piękną, polską muzykę posłuchaj Jacka Kaczmarskiego. Jacek jest mistrzem słowa, więc jego teksty powinny bardzo Ci się spodobać, no i cóż - przydać się, bo to dobry materiał do nauki. Żeby Cię zaciekawić, powiem, że Jacek był zmuszony w czasie stanu wojennego mieszkać za granicą. Rozterki emigranta kochającego swój kraj Jacek wyrażał w swoich tekstach. Możliwe, że pomogą Ci lepiej zrozumieć co czuli twoi przodkowie, którzy mieszkali w USA.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/67/703">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Mors (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/black-is-the-color-a-folk-song#comment-703">Thursday, August 18, 2011 - 16:12</a></span>
</div>
</div>
<div class="indented"><a id="comment-709"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć!</p>
<p>Dziękuję bardzo za polecenie!  Właśnie wysłuchałem piosenki Jacka Kaczmarskiego na YouTube'ie (Nasza klasa).  Była bardzo piękna ale tekst - bardzo smutny.</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/67/709">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/black-is-the-color-a-folk-song#comment-709">Friday, August 19, 2011 - 07:05</a></span>
</div>
</div>
</div><a id="comment-770"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.swiatdominika.pl.tl/Strona-startowa.htm" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/90d261001bd8edb84978bc74c41d76c2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Super grasz na gitarze i śpiewasz! jesteś the Best muszę ci powiedzieć. Też gram na gitarze... A tak w ogóle rób jak najwięcej filmików np. możesz uczyć polaków języka angielskiego. Ta strona jest super i bardzo mi pomogła w nauce języka angielskiego, mam też swoją stronę pod tytułem - Guitar And Music tytuł po angielsku ale strona po polsku. Strona: </p>
<p><a href="http://www.swiatdominika.pl.tl" title="http://www.swiatdominika.pl.tl">http://www.swiatdominika.pl.tl</a></p>
<p>Tak więc zapraszam na moją stronę i pozdrawiam Serdecznie!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/67/770">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.swiatdominika.pl.tl/Strona-startowa.htm" rel="nofollow">Dommi</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/black-is-the-color-a-folk-song#comment-770">Saturday, September 10, 2011 - 13:15</a></span>
</div>
</div>
<div class="indented"><a id="comment-836"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dziękuję bardzo za miłe słowa. :-)  Poczytałem trochę na Twojej stronie ale jest tam bardzo dużo informacji!  Czy jest tam miejsce dla nagrań, w których Ty grasz lub coś w tym stylu?  Chętniej trochę posłuchałbym. :-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/67/836">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/black-is-the-color-a-folk-song#comment-836">Monday, September 12, 2011 - 17:19</a></span>
</div>
</div>
</div><a id="comment-869"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.swiatdominika.pl.tl/Strona-startowa.htm" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/90d261001bd8edb84978bc74c41d76c2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>A czy wiesz jak ściągnąć ten program ANKI? gdzie można uczyć się na pamięć?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/67/869">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.swiatdominika.pl.tl/Strona-startowa.htm" rel="nofollow">Dommi</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/black-is-the-color-a-folk-song#comment-869">Tuesday, September 13, 2011 - 12:06</a></span>
</div>
</div>
<div class="indented"><a id="comment-876"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Na tej stronie możesz pobrać program Anki:</p>
<p><a href="http://ankisrs.net/" title="http://ankisrs.net/">http://ankisrs.net/</a></p>
<p>Jakiś czas temu też napisałem artykuł o tym programie (po angielsku):</p>
<p><a href="http://www.linguatrek.com/blog/2011/01/what-is-spaced-repetition" title="http://www.linguatrek.com/blog/2011/01/what-is-spaced-repetition">http://www.linguatrek.com/blog/2011/01/what-is-spaced-repetition</a></p>
<p>Mam nadzieję, że to pomoże!</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/67/876">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/black-is-the-color-a-folk-song#comment-876">Tuesday, September 13, 2011 - 22:09</a></span>
</div>
</div>
</div><a id="comment-885"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.swiatdominika.pl.tl/Strona-startowa.htm" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/90d261001bd8edb84978bc74c41d76c2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Thank you. A mógłbyś mi wyjaśnić co  to jest że amerykanie muwią słowa - Of, for,as itp.?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/67/885">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.swiatdominika.pl.tl/Strona-startowa.htm" rel="nofollow">Dommi</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/black-is-the-color-a-folk-song#comment-885">Wednesday, September 14, 2011 - 11:02</a></span>
</div>
</div>
<div class="indented"><a id="comment-888"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Niestety, te słowa mają ogromnie dużo znaczeń - wszystko zależy od kontekstu.  Więc lepiej byłoby sprawdzić w dobrym słowniku.</p>
<p>Np. "King of France" - "Król Francji" ale "One of two" - "Jeden z dwóch" i "I was thinking of her" - "Myślałem o niej", itd.</p>
<p>Przyimki są trudne w każdym języku i j. angielski nie jest wyjątkiem!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/67/888">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/black-is-the-color-a-folk-song#comment-888">Wednesday, September 14, 2011 - 17:19</a></span>
</div>
</div>
</div><a id="comment-993"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/cb232dfa0462dd6c80bb8bab776fdb3e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Czołem ;) mam otóż pytanie jakie chwyty zastosowałeś do tej pieśni?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/67/993">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">4Kenji (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/black-is-the-color-a-folk-song#comment-993">Sunday, October 23, 2011 - 06:37</a></span>
</div>
</div>
<div class="indented"><a id="comment-994"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Nie wiem jak Polacy to piszą, ale osobiście napisałbym to tak: Am-F-G, Am-F-G, E-F-G, E-F-G. Mam nadzieję, że to pomoże!</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/67/994">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/black-is-the-color-a-folk-song#comment-994">Monday, October 24, 2011 - 14:03</a></span>
</div>
</div>
</div><a id="comment-1011"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/cc53687f9f03c4b27e9d17388d73db26?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Super... podoba mnie się  pieśń. Jejku dziś odkryłam tę stronkę przez przypadek i strasznie mnie się podoba... jestem nią zachwycona. Dobrze, że są tacy dobrzy jeszcze ludzie na świecie, co chcą pomagać innym... Jesteś wspaniały... Dziękuję Ci za to :*</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/67/1011">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/black-is-the-color-a-folk-song#comment-1011">Monday, November 7, 2011 - 16:30</a></span>
</div>
</div>
<div class="indented"><a id="comment-1015"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dziękuję bardzo za miłe słowa!  Dobrze, że są tacy mili ludzie, którzy piszą takie zachęcające komentarze. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/67/1015">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/black-is-the-color-a-folk-song#comment-1015">Wednesday, November 9, 2011 - 10:30</a></span>
</div>
</div>
</div><a id="comment-1286"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/866eee6d18fde213a58eda8e64588f41?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>dzień dobry . Nie wiem czy powinien pisać to tutaj ale mam 1 problem. Zawsze mnie coś zastanawiało.Dlaczego Polacy chcą "z angielszczyć" język polski. Według mnie to nie jest dobre rozwiązanie, ponieważ wtedy nasz język traci pewną unikalność(chodzi mi to u wyjątkowość). A i zauważyłem pewne negatywne tendencje w stosunku do języka angielskiego. Poprzez popularność języka angielskiego(język ogólnoświatowy) teoretycznie każdy człowiek może przekształcać język(powstanie dialektu). To stwarza zagrożenie w stosunku do rozwijania się języka angielskiego.Nie jestem filologiem ale bardzo zaciekawił mnie ten temat i dlatego postanowiłem się wypowiedzieć.</p>
<p>Pisałem szybko więc przepraszam za błędy.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/67/1286">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Zed16 (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/black-is-the-color-a-folk-song#comment-1286">Monday, January 30, 2012 - 16:26</a></span>
</div>
</div>
<a id="comment-1659"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f0b5408a4379e8483224d0f04a3eed3d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Zastanawiam się, czy mógłby Pan przetłumaczyć piosenkę Jacka Kaczmarskiego, pt." Mury" ;-p</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/67/1659">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">PatiKoSka (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/black-is-the-color-a-folk-song#comment-1659">Thursday, April 12, 2012 - 17:24</a></span>
</div>
</div>
<div class="indented"><a id="comment-1683"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Właśnie teraz słucham tej piosenki pierwszym razem. Bardzo mi się podoba! :-) Niestety nie mogę bez pomocy rozumieć tekstu. Ale na szczęście jest tłumaczenie na Wikipedii. ;-)</p>
<p>http://en.wikipedia.org/wiki/Mury_(song)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/67/1683">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/black-is-the-color-a-folk-song#comment-1683">Tuesday, April 17, 2012 - 17:28</a></span>
</div>
</div>
</div><a id="comment-1660"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f0b5408a4379e8483224d0f04a3eed3d?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Bay the way, stronka jest świetna. Dobrze, ze niektórym ludziom się chce")</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/67/1660">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">PatiKoSka (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/black-is-the-color-a-folk-song#comment-1660">Thursday, April 12, 2012 - 17:33</a></span>
</div>
</div>
<a id="comment-1672"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/791610d5376ce0dc3896c6a064c680f4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Zed16, „dlaczego Polacy chcą "z angielszczyć" język polski"</p>
<p>Myślę, że USA jak kiedyś Cesarstwo Rzymskie kusi ludzi swymi osiągnięciami (drogi, Internet itd.), delikatnie narzucając swój sposób życia min język. I nie jest to złe pod warunkiem, że nie traci sie swych wartości, równości, sprawiedliwości i bardzo ważne religii dalej WIARY.<br/>
Uważam że o naszą cywilizacje, religię, język trzeba chronić walczyć, ponieważ upadek cywilizacji to cofniecie sie człowieka w rozwoju. Człowiek istnieje od 150tyś lat (ostatnio odkryto palenisko sprzed 1 miliona lat) a mimo wszystko nasza świadoma historia gatunku sięga czasów starożytnego Egiptu 6 tysięcy lat w wstecz. 150&gt;6<br/>
Być może Internet i stację kosmiczne już w starożytnej Atlantydzie mieli a mimo wszystko Atlantyda jest tylko mitem</p>
<p>William James Durant powiedział<br/>
"Wielką cywilizację można pokonać od zewnątrz, dopiero, gdy ulega rozkładowi od wewnątrz"</p>
<p>pozdrawiam</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/67/1672">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">mecenatura (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/black-is-the-color-a-folk-song#comment-1672">Monday, April 16, 2012 - 13:29</a></span>
</div>
</div>
<a id="comment-3047"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.facebook.com/sylwia.a.robak" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/95bb692545f673e335828d128f0c1cb2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Piekne wykonanie, takie czysto angielskie, w dobie gdzie kazdy piosenkarz, nie wazne skad, spiewa po angielsku i bardzo krzywdzi ten jezyk.</p>
<p>Przepraszam, za brak polskich znakow.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/67/3047">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.facebook.com/sylwia.a.robak" rel="nofollow">Sylwia</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/black-is-the-color-a-folk-song#comment-3047">Monday, October 1, 2012 - 07:34</a></span>
</div>
</div>
<a id="comment-3270"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/0d250ca3822d84fd924704a9ca07bc63?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>SUPER!!! Jak możesz to dodaj więcej piosenek. Dzięki</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/67/3270">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Agnieszka (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/black-is-the-color-a-folk-song#comment-3270">Tuesday, December 4, 2012 - 07:14</a></span>
</div>
</div>
<div class="indented"><a id="comment-3271"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dzięki! Bardzo się cieszę, że podoba Ci się. :-)</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/67/3271">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/black-is-the-color-a-folk-song#comment-3271">Tuesday, December 4, 2012 - 09:09</a></span>
</div>
</div>
</div>
</div>
