---
permalink: /blog/2011/05/how-to-overcome-your-fear-of-speaking/
layout: blog-old
title: 'How to overcome your fear of speaking'
day: 24
month: May
year: 2011
category: language learning
tags: 
  - 'fear of speaking'
  - 'speaking'
language: en
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/05/panic.jpg" rel="lightbox"><img alt="Woman with panicked look on her face" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/05/panic.jpg" title="&quot;I want to speak but I'm afraid!&quot;  Photo by Nate Steiner."/></a><div class="caption"><em>"I want to speak but I'm afraid!"</em> <a href="http://www.flickr.com/photos/44124484443@N01/321938695">Photo</a> by <a href="http://www.flickr.com/photos/nate/">Nate Steiner</a>.</div></div>
<p><em>No matter how well you know a language, you can't communicate with anyone if you're afraid to use it.</em></p>
<p>While it might not seem like this has anything to do with <em>language learning</em>, this is a problem that affects a lot of people.  <em>Even me</em>!</p>
<p>For a long a time, I was afraid to speak the languages I was learning (Polish and Russian).  I still have trouble getting the courage to speak in certain situations (ex. on the telephone) or with certain people.  It isn't something that I got over immediately, but I've slowly improved over several years.</p>
<p><strong>Read more to learn how I got over my fear of speaking and how <em>you</em> can too!</strong></p>
<h2><a name="mistakes">What are you afraid of?</a></h2>
<p>In my case, I was afraid of one thing: making mistakes.</p>
<p>I felt that if I made a mistake something terrible would happen.  I don't know what, but something terrible.  People would laugh.  Or they would think I said something embarrassing or stupid.  Maybe the world would explode!</p>
<p>But being anxious or uncomfortable will simply make your language ability worse, increasing the likelihood that you'll a mistake.  It's a self-fulfilling prophecy.</p>
<h2><a name="me">How did I get over it?</a></h2>
<p><em>By making a ton of mistakes!</em></p>
<p>The more I made myself speak, the more mistakes I made.  And you know what?  <em>Nothing bad happened!</em>  Everything was fine.</p>
<p>The year we spent living in Poland helped increase my confidence more than anything else.  <em>I was forced to speak</em>.  At first, I was very nervous in government offices.  But we had to take care of business there in order to legally stay in the country.  <em>There was no other choice.</em></p>
<p>Now I'm a master of the tax office (<em>Urząd skarbowy</em>), immigration office (<em>Urząd spraw cudzoziemskich</em>), city hall (<em>Urząd miasta</em>) and social security (<em>Zakład Ubezpieczeń Społecznych</em>).  There is <em>a lot</em> of bureaucracy in Poland, <em>especially</em> for foreigners.</p>
<p>Recording videos of myself speaking in Polish on YouTube has helped a lot too.  In every video I make several mistakes and some videos are watched by <em>thousands of people</em>.  I'm sometimes very nervous to post them.</p>
<p>But you know what?  Everyone understands and everything is fine.  Every single time.</p>
<h2><a name="advice">Advice for you</a></h2>
<p>Not everyone can travel to the country where their target language is spoken.  And being forced to speak can be a pretty bad experience in itself.</p>
<p>So here is what I recommend:</p>
<ol>
<li>Find one person you are comfortable speaking with in your target language (ex. your spouse, friend, a good teacher, etc).</li>
<li>Create the most comfortable situation possible (ex. in your home with a cup of herbal tea).</li>
<li>Talk with them as much as you can!</li>
</ol>
<p>You will make mistakes - and that's ok!  You'll soon see that nothing bad happens and you'll learn to be less afraid.</p>
<p>For me, I'm more comfortable talking to other non-native speakers, meaning people who are also learning the language.  Of course, you'll want to talk to native speakers eventually, but you have to start somewhere.</p>
<p><strong>Were you afraid to speak in your target language?  How did you get over your fear?  What is your advice?  Write a comment!</strong></p>
</div>

<div id="comments">
<a id="comment-355"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/dffbd9c153a00c85ec398aea2049f569?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I'm most afraid of not being understood due to my poor pronunciation.<br/>
Most of english words I know I've learned from reading texts -- I've always preferred reading to listening. But recently I've  started to listen to ESL podcasts. I hope it will help me.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/355">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">gr (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-355">Tuesday, May 24, 2011 - 13:03</a></span>
</div>
</div>
<div class="indented"><a id="comment-358"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Aha!  With English, knowing how to pronounce words is a serious problem.  Even as a native speaker, I don't know how to pronounce words that I have never heard aloud.  So, you probably aren't the only person with this same fear. :-)</p>
<p>Listening will definitely help!  Like "Dev" <a href="http://www.linguatrek.com/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-357">says below</a>, watching videos can help too.  If you like reading more than listening (I know some people find it boring), that might be a good thing to try.  A <a href="http://angielski.gregloby.net/">friend of mine</a> likes to watch <a href="http://www.cnn.com/studentnews/">CNN student news</a>: its got simpler language than the normal news and includes transcripts.</p>
<p>Also, don't limit yourself to only ESL podcasts -- they might be boring or artificial.  Try some normal podcasts too, they might be more interesting.</p>
<p>Hope that helps!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/358">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-358">Wednesday, May 25, 2011 - 05:14</a></span>
</div>
</div>
</div><a id="comment-357"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a643814312744cbc1bebc142f678aa6c?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>gr - Try to watch videos/series with subtitles. First you can start with Polish, and when you get used to it, switch to English, or even disable them at all. It's superb way to improve pronunciation by listening how it should sound! :)<br/>
btw, Check out this site<br/>
<a href="http://www.ted.com/" title="http://www.ted.com/">http://www.ted.com/</a><br/>
It contains tons of very interesting videos. You can of course enable subtitles. Each of them contain also an interactive transcript.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/357">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Dev (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-357">Wednesday, May 25, 2011 - 04:43</a></span>
</div>
</div>
<div class="indented"><a id="comment-359"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>I <strong>love</strong> the TED videos! :-)  If anyone is looking for interesting video content, I agree, that is a great place to look.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/359">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-359">Wednesday, May 25, 2011 - 05:21</a></span>
</div>
</div>
<div class="indented"><a id="comment-360"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/dffbd9c153a00c85ec398aea2049f569?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Thanks guys for the links. TED is great!. That's I was looking for. Sometimes I watch videos on academicearth.org, but subtitles are not available there.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/360">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">gr (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-360">Wednesday, May 25, 2011 - 09:02</a></span>
</div>
</div>
</div></div><a id="comment-361"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://realpolish.wordpress.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/9cd173db3c34291605fc39d2da3e19b2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>I encourage everyone to listen to language without subtitles, but more then just once this same content. There are no subtitles in real world :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/361">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://realpolish.wordpress.com" rel="nofollow">RealPolish</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-361">Wednesday, May 25, 2011 - 09:46</a></span>
</div>
</div>
<div class="indented"><a id="comment-362"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f19badc9694d312d1900d332fafd3ebd?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Maybe there aren't subs in real world, but for learners sometimes it's easier to remember new words by listening and reading at once.<br/>
And not everyone has enough time to watch content several times.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/362">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Dev (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-362">Wednesday, May 25, 2011 - 11:47</a></span>
</div>
</div>
</div><a id="comment-363"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/97996ab4822223e45bda744500ba9114?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Cześć David! Trafiłem na twój blog kilka dni temu i od razu mi się spodobał. Fajny z ciebie gość, fajne masz pomysły, fajnie się ciebie słucha i ogląda. Myślę, że jesteś bardziej polski od wielu Polaków. Jakbyś chciał sobie posłuchac polskich radiostacji FM w internecie to tu jest lista: <a href="http://www.listenlive.eu/poland.html" title="http://www.listenlive.eu/poland.html">http://www.listenlive.eu/poland.html</a> Jest też tam lista radiostacji angielskich, jeśli ktoś się uczy angielskiego.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/363">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">seve (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-363">Wednesday, May 25, 2011 - 13:48</a></span>
</div>
</div>
<div class="indented"><a id="comment-364"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Dziękuję bardzo za linka!  Na pewno przyda się i mi i innym. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/364">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-364">Wednesday, May 25, 2011 - 15:14</a></span>
</div>
</div>
</div><a id="comment-381"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://ojezykuchinskim.blogspot.com/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/2f47b5764794b15dd07bff21486e94b1?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hi,<br/>
great blog! </p>
<p>I do have a fear.. but it isn't the one mentioned in your article. I have a fear of public writing in foreign languages.. and I do not know what to do :/ I have no problem with talking at all. I love to speak in foreign languages even if it comes with a great difficulty BUT I can't force myself to write.. though I know quite well the grammar rules, vocabulary and so on.. Some people suggest writing a diary in a target language is a great solution- but again - I have a fear of making mistakes and not being aware of their existence. I should like to be able to write (even making lots of mistakes) but there is something stopping me, so I continue being defeated.. :/</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/381">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://ojezykuchinskim.blogspot.com/" rel="nofollow">Anonymous</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-381">Wednesday, June 1, 2011 - 14:43</a></span>
</div>
</div>
<div class="indented"><a id="comment-385"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi!</p>
<p>That is a very interesting fear.  Thanks for sharing! :-)  I'm glad you were able to write to us about it, even with your fear of public writing. ;-)</p>
<p>How about this: find a teacher you trust and who you feel comfortable letting read what you write.  Then write your diary in the target language, but let your teacher correct it.  Then you won't make any mistakes while not being aware of their existence.  And over time, you will become more confident in your writing.</p>
<p>Hope that helps!  Good luck with your languages!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/385">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-385">Wednesday, June 1, 2011 - 18:47</a></span>
</div>
</div>
</div><a id="comment-458"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/c6e6c9c2f6df332885a29fba0d7caf8a?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I live in Quebec so naturally it's required that I speak French. And I can, just fine!...with strangers. It's super strange. I have this crazy anxiety about speaking a foreign language with people I know personally, even my parents. Which is an issue, because my boyfriend is French. </p>
<p>Tonight I have to try and force myself to speak french with him. Eep! It feels weird when I try, almost like it's become a physical inability when I plan a sentence and go to say it, it's like my throat locks up. Crazy. </p>
<p>Anyone experience such things? I feel dumb often because of it. @_@ only one solution, I know, but still. xD</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/458">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-458">Tuesday, June 21, 2011 - 12:56</a></span>
</div>
</div>
<div class="indented"><a id="comment-460"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hello!</p>
<p>That is a very interesting problem!  But don't worry, it's not only you.  I got an e-mail once from a lady who was very anxious when speaking English (she's a Pole) with her husband - but was better with other people. :-)</p>
<p>For different people, it's different fears.  In your case I think the same exercise <em>should</em> work -- only in reverse.  First, talk to as many strangers as possible.  Then, try talking in French to people you know a little bit.  And slowly work up to people you know very well.  If that's possible! :-)</p>
<p>If you actually attempt that, please, <em>please</em> let me know!  Or if you manage to get over your fear in some other way or even if not, please post back with your progress. :-)</p>
<p>Thanks for sharing!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/460">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-460">Tuesday, June 21, 2011 - 20:29</a></span>
</div>
</div>
<a id="comment-8043"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f8e7e9c0ce25dfa155aff3c0af846ad2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I have the same problem except we're not married. I'm polish, living in the US and im afraid to speak English to my bf who is part american part polish. I'm afraid he's gonna laugh at my accent. It's been like this for 2 years now.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/8043">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-8043">Thursday, October 2, 2014 - 21:18</a></span>
</div>
</div>
</div><a id="comment-509"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/02c41775fa4b426e0c2fe2ff6512021b?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi, I'm a Pole, who moved to USA last month. I have a fear all time when I need to speak English with Americans, in shops, restaurants, offices. Talking on the phone is a nightmare!</p>
<p>I was shocked, when I came here because in Europe I hadn't this problem at all! I've been traveling a lot and speaking in many countries. I know my English isn't perfect but wherever I went in Europe (even England!) I spoke without stress, talked with people fluently, and it gave me the real pleasure.</p>
<p>But here... I can't get used to American pronunciation. It's difficult to me understand Americans when they are speaking fast, much more difficult than understand English in England:( I am very anxious...<br/>
It's the big different between American English and British.</p>
<p>David I'm going to try your method with listening the book everyday, hope it will help me:)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/509">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Monika (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-509">Thursday, June 30, 2011 - 12:51</a></span>
</div>
</div>
<div class="indented"><a id="comment-511"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Monika!</p>
<p>You'll get used to the pronunciation, don't worry! :-)</p>
<p>Do you have any American friends or acquaintances you can practice speaking with?  If you can speak with someone who you are more comfortable with, you can slowly learn to the pronunciation and at the same time feel less anxious.</p>
<p>If you're having trouble meeting people, check out this article I wrote about <a href="http://www.linguatrek.com/blog/2011/02/immersion-tips-how-to-meet-natives">meeting natives in a foreign country</a>.  It talks about how I finally managed to make friends in Poland and have people to really talk with.  Hopefully, some of those ideas will work for you as well.</p>
<p>I think listening to a book will help too!  The average audiobook is over 20 hours long.  That much listening to an American accent should really help you get used to it.</p>
<p>Anyway, let me know how it goes!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/511">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-511">Saturday, July 2, 2011 - 09:22</a></span>
</div>
</div>
</div><a id="comment-726"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8a338dddec6ee344ceeda2ac5b49601e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Great post! Unless we step out of our comfortable zone we will never realise how irrational are our fears, and that actually it's not as bad as we thought.</p>
<p>I am offering free workshops to overcome the fear of speaking if anyone is interested ---- <a href="http://www.gumtree.com/p/community/free-confidence-workshops-to-overcome-your-fear-of-speaking-a-second-language/86382057" title="http://www.gumtree.com/p/community/free-confidence-workshops-to-overcome-your-fear-of-speaking-a-second-language/86382057">http://www.gumtree.com/p/community/free-confidence-workshops-to-overcome...</a></p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/726">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">SAMY (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-726">Saturday, August 27, 2011 - 01:42</a></span>
</div>
</div>
<a id="comment-840"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/a661e33d41c0540d2edff35d3be8247c?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I think that speaking to natives is always the biggest problem :)<br/>
I was terrified, when I had to say anything in English, especially to someone who's British or American, i convinced myself that my English is awful, but when I went to my friend to Budapest a few months ago, and I've met his friend, who was in England for some time, we started to speak in English and I found my English being quite good, at least better than I expected. So in my case, it helped me a lot, because i knew he wouldn't mind my mistakes, because he's English was not perfect too :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/840">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">SzymSzejdi (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-840">Monday, September 12, 2011 - 17:50</a></span>
</div>
</div>
<div class="indented"><a id="comment-846"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Even though I already know I'm not alone in having these problems, it's still great to hear from other people with similar experiences. :-)  Thanks for sharing!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/846">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-846">Monday, September 12, 2011 - 21:05</a></span>
</div>
</div>
</div><a id="comment-989"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f16ce311606d8a11eddb79849f6e68f1?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>well im living in Paris since one year ,i learned french and i have a good vocabulary , but as you mentioned its much easier to start a conversation with non-native speaker than a native one .. so now i will start working at the hospital which means i'll be in touch with doctors , nurses, patients and i think the situation is getting worse ,, in my opinion i would not trust a doctor who doesn't communicate with my in my maternal language ,, knowing the french attitude of non french ppl will increase my fears !!! i understand very well a normal conversation and inside me i think i can answer but when i try to do that i just stutter and eventually they know that am not a french speaker and so i get that look :(</p>
<p>i really love french but i have experienced many bad reactions because of the mistakes i commit ,, like " ohh my god she speaks a terrible french " or " ohh,, sorry i cant understand what you are saying at all " etc </p>
<p>please help me </p>
<p>p.s: please excuse my language i guess am loosing my English too !</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/989">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">samah (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-989">Thursday, October 20, 2011 - 16:44</a></span>
</div>
</div>
<div class="indented"><a id="comment-991"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>I sympathize with you!  And yes, unfortunately, the French are known for being unkind to foreigners who don't speak perfectly.  But they can't all be like that!</p>
<p>Have you tried my advice in the article?  Finding one person you feel very comfortable talking with and talking as much as possible?  The idea is, you start there and slowly introduce yourself to less comfortable situations.</p>
<p>I that helps!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/991">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-991">Friday, October 21, 2011 - 13:40</a></span>
</div>
</div>
</div><a id="comment-1212"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.everydaylanguagelearner.com/2011/12/22/great-posts-from-for-language-learners-bit-more/" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] How To Overcome Your Fear Of Speaking – Lingua Trek [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/1212">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.everydaylanguagelearner.com/2011/12/22/great-posts-from-for-language-learners-bit-more/" rel="nofollow">35 Great Posts from 2011 for Language Learners and a Bit Mor</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-1212">Tuesday, January 17, 2012 - 08:06</a></span>
</div>
</div>
<a id="comment-1591"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/03/our-big-announcement-we-need-your-help" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] An extended guide for getting over your fear of speaking. [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/1591">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/03/our-big-announcement-we-need-your-help" rel="nofollow">Our BIG announcement! (We need your help!) | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-1591">Thursday, March 29, 2012 - 10:43</a></span>
</div>
</div>
<a id="comment-1694"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/04/3-kroki-do-p%C5%82ynnego-m%C3%B3wienia-fragment-e-booka" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] Rozszerzony przewodnik o tym jak pokonać strach przed mówieniem. [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/1694">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/04/3-kroki-do-p%C5%82ynnego-m%C3%B3wienia-fragment-e-booka" rel="nofollow">3 kroki do płynnego mówienia (fragment e-booka!) | LinguaTre</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-1694">Thursday, April 19, 2012 - 10:56</a></span>
</div>
</div>
<a id="comment-1780"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/01/8-reasons-to-use-youtube-to-learn-a-language" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] helped me get over my fear of speaking. At first I was afraid to speak because I know I make a lot of mistakes in Polish. However, lots of [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/1780">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/01/8-reasons-to-use-youtube-to-learn-a-language" rel="nofollow">8 reasons to use YouTube to learn a language | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-1780">Wednesday, May 2, 2012 - 20:08</a></span>
</div>
</div>
<a id="comment-1790"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/01/language-learning-guide" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] Fear and confidence are also big factors! [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/1790">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/01/language-learning-guide" rel="nofollow">Language learning guide? | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-1790">Wednesday, May 2, 2012 - 20:10</a></span>
</div>
</div>
<a id="comment-1808"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/04/natural-language-learning-without-a-teacher" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] There was also a significant group of people who wanted advice on getting over their fear of speaking. Unfortunately, it didn't get enough votes to be the topic of this ebook, but I promise to make [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/1808">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/04/natural-language-learning-without-a-teacher" rel="nofollow">Natural Language Learning (without a teacher!) | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-1808">Wednesday, May 2, 2012 - 20:27</a></span>
</div>
</div>
<a id="comment-1816"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/04/3-steps-to-speaking-a-language-fluently-ebook-excerpt" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] An extended guide to getting over your fear of speaking. [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/1816">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/04/3-steps-to-speaking-a-language-fluently-ebook-excerpt" rel="nofollow">3 steps to speaking a language fluently (ebook excerpt!) | L</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-1816">Wednesday, May 2, 2012 - 20:30</a></span>
</div>
</div>
<a id="comment-1834"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/4129265a9100449d51594425c173172a?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>jestem pod wrazeniem tego co robisz - cos... az ciezko znalezc wlasciwe slowa - okreslenie "cos niesamowitego" ... nie koniecznie oddaje to co chcialoby sie rzec.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/1834">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">adam (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-1834">Thursday, May 3, 2012 - 20:24</a></span>
</div>
</div>
<div class="indented"><a id="comment-1866"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Adam!  Dziękuję bardzo za miłe słowa. :-) Pozdrawiam serdecznie, David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/1866">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-1866">Saturday, May 12, 2012 - 09:24</a></span>
</div>
</div>
</div><a id="comment-2161"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://subliminalcd.net" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/985c96c34285faff6ff8f8e466f6ad8a?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>I think when it comes to speaking in public most of us have a fear of making a mistake. however if you're sitting in the audience you're 100% behind the speaker. The same applies when you're speaking, everyone is supporting you as we all know just how difficult it is to speak in front of large crowds. By using hypnotherapy techniques <a href="http://subliminalcd.net/fear-of-speaking/" title="http://subliminalcd.net/fear-of-speaking/">http://subliminalcd.net/fear-of-speaking/</a> I believe we can stop this fear &amp; give a great speech.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/2161">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://subliminalcd.net" rel="nofollow">John</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-2161">Sunday, June 3, 2012 - 07:44</a></span>
</div>
</div>
<div class="indented"><a id="comment-2186"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi John!</p>
<p>Thanks for your comment. I know a lot of people like these sort of techniques: hypnosis, "learn while you sleep", <a href="http://www.sita.pl/index.php">SITA</a> and so on. I'm glad it works for them!</p>
<p>However, I personally prefer <a href="http://en.wikipedia.org/wiki/Mindfulness_(psychology)">mindfulness</a> and gradually adjusting via experience. I should actually try some of the afformentioned techniques before I pass judgement on them,  but they always seem to trigger my "too good to be true" alarm. :-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/2186">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-2186">Sunday, June 3, 2012 - 15:01</a></span>
</div>
</div>
<div class="indented"><a id="comment-2261"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://subliminalcd.net" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/985c96c34285faff6ff8f8e466f6ad8a?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>Hi David<br/>
           I understand your skepticism, most people would feel the same. However i was a skeptic too at one stage but I began to realize that Affirmations can change your thought process if you use them often enough. I believe that by using subliminal affirmations we can bypass the over analytical part of the mind and directly access the subconscious. Its basically like accelerated learning, the more you listen the faster the positive messages will sink in. Anyway, just my 2 cents on the subject.</p>
<p>Rgds</p>
<p>John.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/2261">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://subliminalcd.net" rel="nofollow">John</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-2261">Wednesday, June 6, 2012 - 07:30</a></span>
</div>
</div>
</div></div><a id="comment-2627"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e2fd7c3a9a7b23def7cf5ffdcc06cc81?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hello David,<br/>
Thanks so much for providing so much useful information.</p>
<p>In regards to speaking my second language (German) I have no fear of making mistakes.  Primarily because the native speakers and other students are well aware that I am learning.  However, my problem is that I cannot think of what to say in German.  Typically, the native speaker will provide a topic, i,e., weather, health, wife and children, the whole bit.  Once I get started I do a fair job.  Of course with a lot of assistance.  I have been using Pimsleur's Language Program for German and it seems to do a very good job.  It takes a lot dedication and hard work to learn a new language, so one must not become discouraged.  Thanks for reading.</p>
<p>Tony</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/2627">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Tony J. Tarquinio (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-2627">Friday, June 29, 2012 - 18:42</a></span>
</div>
</div>
<div class="indented"><a id="comment-2638"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Tony!</p>
<p>Thanks for the comment. :-) That's great that you don't have a fear of making mistakes. That's one less thing to get over! I agree that a lot of dedication is necessary.</p>
<p>I wish you further successes with your German!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/2638">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-2638">Saturday, June 30, 2012 - 21:01</a></span>
</div>
</div>
</div><a id="comment-2652"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d29816c4586fe0af4604270b71f18014?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I'm kind of in the same boat as some others.  Speaking with strangers doesn't bother me too much but speaking with people I know on any level is like murder. I'm not sure why but I think I fear they will think less of me if I show any "weakness". The big problem is that I am horrible at meeting new people, even back home in America. I have Tourette's and a bi-product of the disease is both OCD and social anxiety issues (not related to looking like an idiot whenever you're ticking in front of people). Not everyone has these but I do to some extent. Social situations and meeting new people can really stress me out. This places me in a weird middle ground.</p>
<p>The shame is I live in Japan, where people are really very friendly. After 2 years my Japanese is around the level of some friends I know who majored in Japanese. The fluidity of my speaking is far behind, however. My accent is horrible and I generally repeat phrases or words a few times when speaking because I say them incorrectly and I KNOW it so I double back to correct it. This is all because while I hear it a lot and have studied quite a bit I just don't have the hours of speaking practice.</p>
<p>One thing that I try to keep in mind is the times when people wanting to learn English talk to me (like co-workers, etc). I've never been put off nor felt burdened by the fact they take up to a minute to conjure up a few sentences. It delights me they just want to try to speak my language. So, if that's how I feel about the whole thing isn't it reasonable to think they probably feel the same way? </p>
<p>I think another thing that creeps in is the idea that you just can't express yourself in a second language like you can in your native language. This can be frustrating and lead to feeling "burdened" by the second language, which can cause fear in trying to produce it. Sometimes it just helps to laugh at your own inadequacies and accept you might have to talk like a baby for a long time. </p>
<p>The best advice, as stated, is to put yourself into situations where you have to use the language. This seems to help override the part of your brain that fears speaking because the necessity of what you need to accomplish is a bigger problem. I find my Japanese always gets better when I go to the doctor's office or something similar. </p>
<p>Thanks for the post.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/2652">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Shaun (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-2652">Wednesday, July 4, 2012 - 02:16</a></span>
</div>
</div>
<div class="indented"><a id="comment-2659"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Shaun!</p>
<p>Thanks for your comment, there's some really interesting stuff in there. For example: I feel the complete opposite about strangers.</p>
<p>I'm totally fine talking to be people I know, but I have trouble with strangers. I always worry crazy things, like maybe they don't realize I'm a foreigner and just think I'm very stupid, or something like that. ;-) Part of that comes from having a Polish name. But I know it's totally unfounded because they probably recognize immediately that I'm a foreigner.</p>
<p>But yeah, you're absolutely right that no one else feels burdened by your level in speaking Japanese. That's a good thing to try and focus on to give you some perspective.</p>
<p>I personally did better by practicing extensively in situations that I felt comfortable in (ex. with close friends) rather than jumping in the deep end (like with the doctor). But you know, if you actually feel more comfortable talking with the doctor, then I guess the effect is probably the same! :-)</p>
<p>Please let me know how your situation evolves! I'd love to hear a retrospective AFTER you've made a breakthrough in your fear of speaking.</p>
<p>Thanks again!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/2659">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-2659">Thursday, July 5, 2012 - 08:17</a></span>
</div>
</div>
</div><a id="comment-2653"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e2fd7c3a9a7b23def7cf5ffdcc06cc81?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Greetings to everyone,<br/>
In my experiences with my English students, it finally occurred to me what they need to try doing in order help with speaking the language.  I simply tell them to put their Mothertongue in a box and place it on a shelf.  Each day, beginning with getting out of bed, they are to think in English.  For example: The alarm clock went off, I am now moving toward the shower, I am now taking a shower.  After my shower, I will have some breakfast, and head to the office. Even something as mundane as housework.  Now I am dusting the living room, vacuuming the floors, doing the dishes, you get the idea.  I tell them they cannot speak their native tongue unless absolutely necessary.  Many of them have tried this during their daily routines and seem to be experiencing substantial progress.  I try to do this everyday with my German.  I hope this helps, and I hope this finds everyone well. </p>
<p>Auf Wiedersehen,<br/>
Tony</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/2653">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Tony J. Tarquinio (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-2653">Wednesday, July 4, 2012 - 13:38</a></span>
</div>
</div>
<div class="indented"><a id="comment-2660"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Tony!</p>
<p>Yeah, I've heard other people say this method worked for them! I've never personally tried it but I definitely think it's worth a try.</p>
<p>Thanks for the comment!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/2660">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-2660">Thursday, July 5, 2012 - 08:18</a></span>
</div>
</div>
<div class="indented"><a id="comment-8183"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d4dc90b48f62a9009c8a6db7db8cf8f7?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I'm a massive advocate of this method! I'm Danish and I currently speak English, French, and Japanese fluently or close to anyway. I only just started getting interested in learning Polish, but I can definitely say that I've used this method whilst learning French and especially Japanese. It helped me learn the languages really well, but unfortunately I didn't actually find that it helped with the fear of actually having a conversation or speaking with natives of the language... I know my Japanese, for instance, is really good, but I've yet to actually have a proper conversation with a native, even though I've been learning the language for a few years, hell I was even approached by a Japanese woman in a bookstore in London once, and even there I choked up at couldn't say much... </p>
<p>The bottom line of this rant is that even if this method does not help overcoming the fear of speaking, it will definitely helpyou learn a languge fast, especially if not knowing a specific word nags you enough f you to look it up everytime, and then never forget about it again because it nagged you so much! :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/8183">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Niclas (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-8183">Friday, July 10, 2015 - 18:56</a></span>
</div>
</div>
</div></div><a id="comment-2703"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/07/nobody-will-laugh-at-you-really" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] I wrote a few weeks ago, I want to focus on the things I didn't write about in my ebook, mainly: fear of speaking and strategies to practice [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/2703">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/07/nobody-will-laugh-at-you-really" rel="nofollow">Nobody will laugh at you, really! | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-2703">Friday, July 13, 2012 - 10:14</a></span>
</div>
</div>
<a id="comment-2708"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2012/07/nikt-nie-b%C4%99dzie-si%C4%99-%C5%9Bmia%C4%87-z-ciebie-naprawd%C4%99" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] chcę skupić się na rzeczach, o których nie napisałem  w moim darmowym ebooku, głównie na: strachu przed mówieniem i strategiach w ćwiczeniu [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/2708">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2012/07/nikt-nie-b%C4%99dzie-si%C4%99-%C5%9Bmia%C4%87-z-ciebie-naprawd%C4%99" rel="nofollow">Nikt nie będzie się śmiać z Ciebie! Naprawdę! | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-2708">Friday, July 13, 2012 - 10:17</a></span>
</div>
</div>
<a id="comment-2840"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/18cf33b3b22e712733f66fe38e4982df?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Jestem Polką ucząca się rosyjskiego. Dla Ciebie jako Amerykanina który język jest trudniejszy, polski czy rosyjski? Pewnie z początku brzmiały dla Ciebie tak samo, ponieważ oba są słowiańskie a angielski jest germański. Rosyjskiego uczyłeś się po tym jak zacząłeś polskiego? Przepraszam jeśli odpowiedziałeś na te pytania gdzieś indziej ale nie przeczytałam jeszcze wszystkich artykułów. Bardzo inspirujący blog.<br/>
Pozdrawiam, Ola.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/2840">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">marglytta (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-2840">Sunday, August 5, 2012 - 17:20</a></span>
</div>
</div>
<div class="indented"><a id="comment-2856"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Cześć Ola!</p>
<p>Dzięki za miłe słowa. :-)</p>
<p>Nie, najpierw uczyłem się rosyjskiego i potem polskiego. Niestety nie udało mi się nauczyć się rosyjskiego.</p>
<p>Jeśli chodzi o gramatykę i wymowę: polski jest trudniejszy. Ale miałem o wiele więcej motywacji, żeby nauczyć się polskiego, więc dla mnie był łatwiejszy. :-)</p>
<p>Pozdrawiam serdecznie,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/2856">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-2856">Wednesday, August 8, 2012 - 17:14</a></span>
</div>
</div>
</div><a id="comment-2842"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/15d4892623f6bbba9e7c6532bc495ada?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>My problem is speaking :) I can watch movies or tv shows with english subs and I can understand what they said, but the problem is when i listen language and I heard slang. At the moment I make "facepalm" and I've had it. :) When I feel than I doing progress i again heard slang and in this situation I really hate english :)<br/>
When I watch interview in Youtube with some actor or singer i can't understand nothing exepct a several words :( Why?</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/2842">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Lynn (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-2842">Monday, August 6, 2012 - 06:29</a></span>
</div>
</div>
<div class="indented"><a id="comment-2857"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Lynn!</p>
<p>Thanks for your comment. :-) You write in English rather well!</p>
<p>The best way to learn more slang and colloquial language is to listen to more of it! If you like watching interviews with actors or singers on YouTube, you should listen to more of them and write down the things you don't understand.</p>
<p>Then you could ask people on a language forum for help with them. Over time, you'd learn the most common slang. I recommend the Bibliobird forum (but I'm biased):</p>
<p><a href="http://www.bibliobird.com/forum" title="http://www.bibliobird.com/forum">http://www.bibliobird.com/forum</a></p>
<p>Also, if you haven't read my free ebook yet - you should check it out. It discusses how to create a good language learning method for and particularly, how to focus it on the things YOU want to learn (like slang).</p>
<p>I hope that helps!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/2857">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-2857">Wednesday, August 8, 2012 - 17:18</a></span>
</div>
</div>
</div><a id="comment-3097"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/581f8a15be165ff009c810368d130ac4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi David!</p>
<p>Very good idea put this text to Bibliobird.<br/>
This article is for me. My huge problem, not huge but HUGE, is speaking. The problem is also listening.<br/>
What vocabulary as hard to talk about?</p>
<p>Polakom polecę rozmowy z Davidem i jego żoną, Carry o życiu w Stanach Zjednoczonych. Pierwsza była najcięższa, ale dzięki Davidowi są znośne, i - nie tylko ja - dostaję potężny impuls do nauki. Trochę to chaotyczne, ale chciałbym się uczyć wszystkiego związanego z angielskim. Wstyd mi, że David "szczebrzeszyni" po polsku, a ja nie gadam (to nie pomyłka językowa ;) ) po angielsku. </p>
<p>Na Bibliobirdzie, a raczej przy pomocy komunikatora, rozmawiamy 2x w tygodniu nominalnie po godzinie a praktycznie dużo dłużej. </p>
<p>Za 2 tygodnie mam wylot do kraju anglojęzycznego i dukaniem na spotkaniach dźwiękowych z wolna usuwam strach przed mówieniem. Na pewno będzie lepiej! Może nawet jak w Moskwie! (Kto jest ciekawy mojej przygody językowej w Moskwie niech zajrzy na Bibliobirda.)</p>
<p>Czasami mam wrażenie, że jestem o krok od mówienia po angielsku i za niedługo zacznę mówić, ale... Strach przed mówieniem powoduje, że znane słownictwo gdzieś znika, pozostaje za mną i nie mogę z niego skorzystać. Te spotkania na pewno przyspieszą gadanie po angielsku, usuną strach przed błędami w mówieniu. (Davidzie, jest różnica pomiędzy mówieniem a gadaniem, więc chodzi mi o gadanie.) </p>
<p>Thank you, David, for your great job!</p>
<p>Arek</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/3097">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Arek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-3097">Monday, October 15, 2012 - 14:16</a></span>
</div>
</div>
<a id="comment-3302"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.facebook.com/maciej.raniszewski.5" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/01e5bca5ce2904227a9c34254842a0fd?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>When I was in Spain someone stole my bag. And I had to make complain in the police office. I don't know Spanish, but fortunately a policewoman knew English and I did it somehow.<br/>
But often I have problems with speaking and people don't understand me for the first time. If my speach could be as good as writting, maybe communication with people would be easier for me.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/3302">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.facebook.com/maciej.raniszewski.5" rel="nofollow">Maciej</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-3302">Saturday, December 8, 2012 - 10:19</a></span>
</div>
</div>
<div class="indented"><a id="comment-3327"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Hi Maciej!</p>
<p>While getting your bag stolen isn't a great experience, it's amazingly helpful to have some other "thing" distract you from the fear of speaking. For example, when we were in Poland I had to go to various government offices to solve various problems. Normally, I'd probably be afraid to speak but it was very important that we solve the problem so I just HAD to speak and not worry about it.</p>
<p>Of course, it's still the best to practice in a situation where you are comfortable. :-)</p>
<p>Your writing is very good! I'm sure your speaking is good too - people always think they are worse than they actually are. ;-)</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/3327">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-3327">Friday, December 14, 2012 - 10:59</a></span>
</div>
</div>
<div class="indented"><a id="comment-3331"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.facebook.com/maciej.raniszewski.5" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/01e5bca5ce2904227a9c34254842a0fd?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>No, I speak too slow and I have problems with some words. Here you have a samples of my speaking in English:<br/>
<a href="http://www.youtube.com/watch?v=GLn3DjZlrfc" title="http://www.youtube.com/watch?v=GLn3DjZlrfc">http://www.youtube.com/watch?v=GLn3DjZlrfc</a> ,<br/>
<a href="http://www.youtube.com/watch?v=KOl7d_g4_jo" title="http://www.youtube.com/watch?v=KOl7d_g4_jo">http://www.youtube.com/watch?v=KOl7d_g4_jo</a> .</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/3331">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.facebook.com/maciej.raniszewski.5" rel="nofollow">Maciej</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-3331">Friday, December 14, 2012 - 11:27</a></span>
</div>
</div>
</div></div><div class="item-list"><ul class="pager"><li class="pager-current first">1</li>
<li class="pager-item"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking-page-1" title="Go to page 2">2</a></li>
<li class="pager-next"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking-page-1" title="Go to next page">next ›</a></li>
<li class="pager-last last"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking-page-1" title="Go to last page">last »</a></li>
</ul></div>
</div>
