---
permalink: /blog/2011/05/how-to-overcome-your-fear-of-speaking-page-1/
layout: blog-old
title: 'How to overcome your fear of speaking'
day: 24
month: maj
year: 2011
category: language learning
tags: 
  - 'fear of speaking'
  - 'speaking'
language: pl
translation: /blog/2011/05/how-to-overcome-your-fear-of-speaking/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/05/panic.jpg" rel="lightbox"><img alt="Woman with panicked look on her face" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/05/panic.jpg" title="&quot;I want to speak but I'm afraid!&quot;  Photo by Nate Steiner."/></a><div class="caption"><em>"I want to speak but I'm afraid!"</em> <a href="http://www.flickr.com/photos/44124484443@N01/321938695">Photo</a> by <a href="http://www.flickr.com/photos/nate/">Nate Steiner</a>.</div></div>
<p><em>No matter how well you know a language, you can't communicate with anyone if you're afraid to use it.</em></p>
<p>While it might not seem like this has anything to do with <em>language learning</em>, this is a problem that affects a lot of people.  <em>Even me</em>!</p>
<p>For a long a time, I was afraid to speak the languages I was learning (Polish and Russian).  I still have trouble getting the courage to speak in certain situations (ex. on the telephone) or with certain people.  It isn't something that I got over immediately, but I've slowly improved over several years.</p>
<p><strong>Read more to learn how I got over my fear of speaking and how <em>you</em> can too!</strong></p>
<h2><a name="mistakes">What are you afraid of?</a></h2>
<p>In my case, I was afraid of one thing: making mistakes.</p>
<p>I felt that if I made a mistake something terrible would happen.  I don't know what, but something terrible.  People would laugh.  Or they would think I said something embarrassing or stupid.  Maybe the world would explode!</p>
<p>But being anxious or uncomfortable will simply make your language ability worse, increasing the likelihood that you'll a mistake.  It's a self-fulfilling prophecy.</p>
<h2><a name="me">How did I get over it?</a></h2>
<p><em>By making a ton of mistakes!</em></p>
<p>The more I made myself speak, the more mistakes I made.  And you know what?  <em>Nothing bad happened!</em>  Everything was fine.</p>
<p>The year we spent living in Poland helped increase my confidence more than anything else.  <em>I was forced to speak</em>.  At first, I was very nervous in government offices.  But we had to take care of business there in order to legally stay in the country.  <em>There was no other choice.</em></p>
<p>Now I'm a master of the tax office (<em>Urząd skarbowy</em>), immigration office (<em>Urząd spraw cudzoziemskich</em>), city hall (<em>Urząd miasta</em>) and social security (<em>Zakład Ubezpieczeń Społecznych</em>).  There is <em>a lot</em> of bureaucracy in Poland, <em>especially</em> for foreigners.</p>
<p>Recording videos of myself speaking in Polish on YouTube has helped a lot too.  In every video I make several mistakes and some videos are watched by <em>thousands of people</em>.  I'm sometimes very nervous to post them.</p>
<p>But you know what?  Everyone understands and everything is fine.  Every single time.</p>
<h2><a name="advice">Advice for you</a></h2>
<p>Not everyone can travel to the country where their target language is spoken.  And being forced to speak can be a pretty bad experience in itself.</p>
<p>So here is what I recommend:</p>
<ol>
<li>Find one person you are comfortable speaking with in your target language (ex. your spouse, friend, a good teacher, etc).</li>
<li>Create the most comfortable situation possible (ex. in your home with a cup of herbal tea).</li>
<li>Talk with them as much as you can!</li>
</ol>
<p>You will make mistakes - and that's ok!  You'll soon see that nothing bad happens and you'll learn to be less afraid.</p>
<p>For me, I'm more comfortable talking to other non-native speakers, meaning people who are also learning the language.  Of course, you'll want to talk to native speakers eventually, but you have to start somewhere.</p>
<p><strong>Were you afraid to speak in your target language?  How did you get over your fear?  What is your advice?  Write a comment!</strong></p>
</div>

<div id="comments">
<a id="comment-3303"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.facebook.com/maciej.raniszewski.5" title="View user website."><img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/01e5bca5ce2904227a9c34254842a0fd?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></a></div>
<p>Now I not afraid of speaking in English, but sometimes I afreid of person who I talk with :).</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/3303">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.facebook.com/maciej.raniszewski.5" rel="nofollow">Maciej</a> (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-3303">sobota, grudzień 8, 2012 - 10:22</a></span>
</div>
</div>
<a id="comment-3340"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/1eca9745b86d78701c39378971074869?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>I heard that if you wanna speak english you must think in english. Is it true? I have problem with it. I translate sentences from polish to english but in english there's diffrent<br/>
structure of it.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/3340">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Sareth (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-3340">sobota, grudzień 15, 2012 - 12:47</a></span>
</div>
</div>
<div class="indented"><a id="comment-3343"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>If you want to speak fluidly and naturally, you have to start thinking in the target language, yes.</p>
<p>There are two main pieces of advice I have for getting into this habit:</p>
<ol>
<li>Listen to TONS of material in the target language that you can understand. When you're listening you don't have time to translate in your head. Over time your mind gets tired and stops trying to!</li>
<li>Don't worry about mistakes! Even if you can starting thinking in English when you're listening, it may still be hard to do in conversation because you're worried about making a mistake. The truth is, once you start thinking in English your level will actually appear to go down at first because you haven't <em>unconsciously</em> learned everything you know consciously. But this is OK! Over time it will get better.</li>
</ol>
<p>I talk about this in more detail in my free e-book! If you haven't read it yet, I highly recommend it. You'll receive it if you subscribe to my blog here:</p>
<p><a href="http://www.linguatrek.com/subscribe" title="http://www.linguatrek.com/subscribe">http://www.linguatrek.com/subscribe</a></p>
<p>I hope that helps!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/3343">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-3343">niedziela, grudzień 16, 2012 - 09:20</a></span>
</div>
</div>
<div class="indented"><a id="comment-3347"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/1eca9745b86d78701c39378971074869?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Oh, thank you so much.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/3347">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Sareth (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-3347">wtorek, grudzień 18, 2012 - 16:37</a></span>
</div>
</div>
</div></div><a id="comment-3732"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/b38476a9bf7df524a954466d5e6a6a76?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>David, What does word mean: bouffant-'n'-bullet-belt-set </p>
<p>(Sentence: "The smattering of industrial fans in the crowd - as well as few converts from the bouffant-'n'-bullet-belt-set  -  got their first taste of Nine Inch Nails")</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/3732">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Paulina  (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-3732">poniedziałek, luty 4, 2013 - 12:35</a></span>
</div>
</div>
<div class="indented"><a id="comment-3734"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Paulina!</p>
<p>Unfortunately, I have no idea. :-) What did that come from? Maybe someone who's really into pop music would understand what that means? Or a regular reader of that magazine or whatever the source was?</p>
<p>Sorry I couldn't help more!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/3734">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-3734">poniedziałek, luty 4, 2013 - 14:30</a></span>
</div>
</div>
</div><a id="comment-3994"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/380f3371433e13195a5f2d7f061772b9?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Hello all :)<br/>
I wrote some comments below some articles, but i did it in polish. Because this article is about fear of speaking/writing in foreign language, that's why now i'm writing in english (haha, or at least - i try :P). Because i'm not afraid! :D I know, that i'm learning, so i have rights for mistakes. Peoples said, that don't make mistakes only a man, who don't do anything (or something like this ;P).<br/>
I agree with reasons of fear, which you described, David. I don't know english grammar (only a little piece of basics), but when i try to learn english - i use for it all sentences, not a single words. I'm listening all sentence, so i have some view, how to build a sentences. Maybe it sounds funny, but is very effective for me :) More pleasant for me is reading books, than rote some grammatical rules. </p>
<p>Can i share with You all "my first time" with my independent english? ;)</p>
<p>MY FIRST TIME ;P ;)</p>
<p>The story was in 2008 year. I visited my friends from Ireland - in Dublin. After the breakfast my friend (i.e. Piotrek) said:<br/>
- Krzysztof, i have a big mission for you. Near from my house is a shop, in which i saw a promotion for beer "lech" and "tyskie". Take a money and go there, buy 5 cans of beer (lech or tyskie - whatever).</p>
<p>OK. So i took money and bag, i dressed (that was in february), and go out. On the way i thought how to ask about the beer. Ok, now i'm in the shop. </p>
<p>- Good morning. Five beers "lech" in cans, please.</p>
<p>(the seller give me it, i'm so happy: "it's working!! he understand me!!" :D)</p>
<p>..but my happiness was short, because he asked:</p>
<p>- Blablablablabla?? (so fast that i didn't understand any word!)<br/>
- What?? :O<br/>
- Blablablabla?? (the same speed...)<br/>
- Yyyy... (biiiig thunderstorm in my head... :P)<br/>
- Are you Polish??<br/>
- Yeeeeessss... (resigned :P)<br/>
- Chcesz jakąś siatkę?  (from this moment the dialogue was in polish :P)<br/>
- Nie, dziękuję, mam swoją (i said pulling out from my pocket)<br/>
- 9,50 euro<br/>
- Ok, proszę.<br/>
- Dzięki<br/>
- Dzięki również :)<br/>
- Cześć!<br/>
- Cześć!</p>
<p>Hahaha :P Sorry for so long comment, but i had to write this very funny situation (which was very stressful for me at the beginning).<br/>
This situation showed me, that making mistakes don't causes the end of this world. Is it better to try speaking - even with mistakes, or shut the mouth and don't say anything?<br/>
I think - this first is better :)<br/>
And you? :)</p>
<p>Greetings :)</p>
<p>Krzysztof</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/3994">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">KrzysztofD (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-3994">sobota, luty 16, 2013 - 15:11</a></span>
</div>
</div>
<div class="indented"><a id="comment-3999"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Krzysztof!</p>
<p>Thanks for sharing your story. It's both entertaining and inspiring! :-) I hope that more people will share their stories so that we can all see that MOST people feel this stress and that making mistakes isn't the end of the world. It's almost like a simple "right of passage" and we shouldn't dread it - but be happy that we went through it so that we can move on to the next step and eventually reach our goals.</p>
<p>Thanks again!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/3999">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-3999">niedziela, luty 17, 2013 - 09:28</a></span>
</div>
</div>
</div><a id="comment-4332"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/d5c92fd5be2327d4419f28535b63675b?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Amazing post, just what I was looking for. I'm finishing an english course (for foreigners, because I'm brazilian). I love talking to my friends in english and to people on web chats but when natives come at me personally I just don't know how to act or what to say. It is really bad that we're so afraid of making some mistakes because afraid or not, we're going to make them :-D My teacher named me for a task in which I must interview some Americans who are coming here to an event next week. At first I wasn't going to accept, but after reading this post and realizing I'm not alone I'll definitively do it; it's a great opportunity and learning is never too much!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/4332">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Carol (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-4332">środa, marzec 27, 2013 - 21:16</a></span>
</div>
</div>
<div class="indented"><a id="comment-4339"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Hi Carol,</p>
<p>Thanks. :-)</p>
<p>Your interview project sounds awesome! Please let me know how it goes.</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/71/4339">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking#comment-4339">sobota, marzec 30, 2013 - 10:57</a></span>
</div>
</div>
</div><div class="item-list"><ul class="pager"><li class="pager-first first"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking" title="Przejdź do pierwszej strony">« pierwsza</a></li>
<li class="pager-previous"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking" title="Przejdź do poprzedniej strony">‹ poprzednia</a></li>
<li class="pager-item"><a class="active" href="/blog/2011/05/how-to-overcome-your-fear-of-speaking" title="Przejdź do strony 1">1</a></li>
<li class="pager-current last">2</li>
</ul></div><div class="box">
<h2>Dodaj nową odpowiedź</h2>
<div class="content"><form accept-charset="UTF-8" action="/comment/reply/71" id="comment-form" method="post">
<div><div class="form-item" id="edit-name-wrapper">
<label for="edit-name">Nazwisko lub pseudonim: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-name" maxlength="60" name="name" size="30" type="text" value="Anonymous"/>
</div>
<div class="form-item" id="edit-mail-wrapper">
<label for="edit-mail">E-mail: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-mail" maxlength="64" name="mail" size="30" type="text" value=""/>
<div class="description">Zawartość pola nie będzie udostępniana publicznie. If you have a <a href="http://www.gravatar.com">Gravatar</a> account, used to display your avatar.</div>
</div>
<div class="form-item" id="edit-homepage-wrapper">
<label for="edit-homepage">Strona domowa: </label>
<input class="form-text" id="edit-homepage" maxlength="255" name="homepage" size="30" type="text" value=""/>
</div>
<div class="form-item" id="edit-comment-wrapper">
<label for="edit-comment">Odpowiedź: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<textarea class="form-textarea resizable required" cols="60" id="edit-comment" name="comment" rows="15"></textarea>
</div>
<ul class="tips"><li>Adresy internetowe są automatycznie zamieniane w odnośniki, które można kliknąć.</li><li>Dozwolone znaczniki HTML: &lt;a&gt; &lt;em&gt; &lt;strong&gt; &lt;cite&gt; &lt;code&gt; &lt;ul&gt; &lt;ol&gt; &lt;li&gt; &lt;dl&gt; &lt;dt&gt; &lt;dd&gt; &lt;blockquote&gt;</li><li>Znaki końca linii i akapitu dodawane są automatycznie.</li></ul><input id="form-788b7aa3aa66b1ef170dec67c3c5a129" name="form_build_id" type="hidden" value="form-788b7aa3aa66b1ef170dec67c3c5a129"/>
<input id="edit-comment-form" name="form_id" type="hidden" value="comment_form"/>
<div class="clear-block"><div class="form-item" id="edit-notify-wrapper">
<label class="option" for="edit-notify"><input checked="checked" class="form-checkbox" id="edit-notify" name="notify" type="checkbox" value="1"/> Notify me when new comments are posted</label>
</div>
<div class="form-radios"><div class="form-item" id="edit-notify-type-1-wrapper">
<label class="option" for="edit-notify-type-1"><input class="form-radio" id="edit-notify-type-1" name="notify_type" type="radio" value="1"/> All comments</label>
</div>
<div class="form-item" id="edit-notify-type-2-wrapper">
<label class="option" for="edit-notify-type-2"><input checked="checked" class="form-radio" id="edit-notify-type-2" name="notify_type" type="radio" value="2"/> Replies to my comment</label>
</div>
</div></div><input class="mollom-content-id" id="edit-mollom-contentId" name="mollom[contentId]" type="hidden" value=""/>
<input class="mollom-captcha-id" id="edit-mollom-captchaId" name="mollom[captchaId]" type="hidden" value=""/>
<div style="display: none;"><div class="form-item" id="edit-mollom-homepage-wrapper">
<input autocomplete="off" class="form-text" id="edit-mollom-homepage" maxlength="128" name="mollom[homepage]" size="60" type="text" value=""/>
</div>
</div><div class="description mollom-privacy">By submitting this form, you accept the <a class="mollom-target" href="//mollom.com/web-service-privacy-policy" rel="nofollow">Mollom privacy policy</a>.</div><input class="form-submit" id="edit-preview" name="op" type="submit" value="Podgląd"/>
</div></form>
</div>
</div>
</div>
