---
permalink: /blog/2011/05/real-polish-excellent-polish-content-for-learners/
layout: blog-old
title: 'Real Polish: Excellent Polish content for learners!'
day: 3
month: May
year: 2011
category: learn Polish
tags: 
  - 'review'
language: en
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 124px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/05/realpolish2.png" rel="lightbox"><img alt="Real Polish logo" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/05/realpolish2.png" title=""/></a></div>
<p>Since far fewer people study Polish than, say Spanish, Russian or Arabic -- it can be hard to find really great material <em>in Polish</em> for <em>learners</em>.</p>
<p>On the one end of the spectrum, there's no lack of textbooks, grammar references, phrasebooks or vocabulary lists.  On the other end, it's easy to get books, movies or podcasts intended for native speakers of Polish.  But it's difficult to find something in between.</p>
<p>Today I'm going to review <a href="http://realpolish.wordpress.com/">Real Polish</a>.  It's a collection of <strong>videos and podcasts</strong> (audio) -- <strong>all in Polish!</strong> -- for learners at <strong>any level</strong> (beginner, intermediate, advanced).  And almost all of the material is <strong>completely free</strong>!</p>
<p><strong>Read more for the full review!</strong></p>
<h2><a name="video-for-beginners">Video lessons for beginners</a></h2>
<p>At the time of this writing, there are 45 short <a href="http://pl.wordpress.com/tag/beginner/">video lessons for beginners</a>.  Each is only a couple minutes long, which you can also <a href="">download</a> as one 72-minute video.</p>
<p>They are entirely in Polish, making great use of the video format to <em>show</em>, rather than explain.</p>
<p><strong>Video #32: How to make coffee</strong></p>
<iframe allowfullscreen="allowfullscreen" frameborder="0" height="317" src="http://www.youtube.com/embed/1g0acTTR4RQ?rel=0" style="margin-bottom: 20px" title="YouTube video player" width="510"></iframe>
<p>This video includes very conversational, polite vocabulary that would be useful every day!</p>
<p>Here are some more examples:</p>
<ul>
<li><a href="http://realpolish.wordpress.com/2011/04/02/lekcje-polskiego-dla-poczatkujacych-38/">New vs. old (nowy/stary)</a>: very simple and short vocabulary lesson</li>
<li><a href="http://realpolish.wordpress.com/2011/02/27/lekcje-polskiego-dla-poczatkujacych-wideo-08/">Full vs. empty (pełny/pusty)</a>: also includes some question/answer (What is in the box?  There is something in the box) and other vocabulary</li>
<li><a href="http://realpolish.wordpress.com/2011/03/02/lekcje-polskiego-dla-poczatkujacych-10/">Top vs. bottom, up vs. down</a></li>
</ul>
<h2><a name="interesting-stuff">"Interesting Stuff"</a></h2>
<p>At the time of this writing, there are 10 items in the "Interesting Stuff" series for intermediate learners.  They are mostly podcasts (audio) about interesting topics, for example:</p>
<ul>
<li><a href="http://realpolish.wordpress.com/2011/03/03/learn-polish-%E2%80%93-interesting-stuff-02/">Tłusty Czwartek</a>: <em>Fat Thursday</em>, the Thursday before Lent begins, which is a very interesting day in Poland!</li>
<li><a href="http://realpolish.wordpress.com/2011/04/06/learn-polish-interesting-stuff-08/">Legenda o księciu Popielu</a>: the <em>Legend of Prince Popiel</em>, a legendary 9th century ruler.</li>
<li><a href="http://realpolish.wordpress.com/2011/03/19/learn-polish-interesting-stuff-05-samochod/">Kłopoty z samochodem</a>: A short story about having car problems and going to the mechanic.</li>
</ul>
<p>All of the podcasts include a transcript and usually follow this format:</p>
<ol>
<li>First, the story is told slowly and simply.</li>
<li>Next, some difficult words are explained.</li>
<li>And finally, the story is told quickly and naturally, as a native Polish speaker would normally speak.
</li></ol>
<p>If you are a user of iTunes, you can subscribe to the Real Polish podcasts <a href="http://itunes.apple.com/md/podcast/id426014666">here</a>.</p>
<p><strong>Interesting stuff #10: Wielkanoc (Easter):</strong></p>
<iframe allowfullscreen="allowfullscreen" frameborder="0" height="317" src="http://www.youtube.com/embed/IEwPxenhdl4?rel=0" style="margin-bottom: 20px" title="YouTube video player" width="510"></iframe>
<p>The most recent item is a video, which shows the Polish Easter tradition of taking a basket of food to church to be blessed.</p>
<h2><a name="business-polish">Business Polish</a></h2>
<p>Recently, a 52 lesson <strong>paid course</strong> in business Polish was added.  It is currently the only thing on the site that isn't free.  I haven't bought the course, so I can't review it.  But in the interest of supporting the author of all this great free material, I thought I'd mention it.  You can find more information <a href="http://realpolish.wordpress.com/sklep/biznes-po-polsku-w-52-tygodnie/">here</a>.</p>
<h2><a name="conclusion">Conclusion</a></h2>
<p>I think that Real Polish is fantastic!</p>
<ul>
<li>The video format is used very well</li>
<li>The lessons are clear and well organized</li>
<li><strong>Everything is in Polish!</strong></li>
<li>The language is very natural and authentic</li>
<li>The audio is high quality and easy to understand</li>
<li>The topics are interesting and useful</li>
</ul>
<p><strong>Give it a <a href="http://realpolish.wordpress.com/sklep/biznes-po-polsku-w-52-tygodnie/">try</a>!</strong></p>
</div>

<div id="comments">
<a id="comment-301"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8a21774263f0f26bd8bd2492e266f0ef?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>As this post is in english my reply will be in this language too. </p>
<p>I'm native and find this video very fake and funny. It might be useful for beginners but I don't think it's the right level for you. I've seen some of your youtube videos and think that your skill level is high enough to watch polish movies that show how the language is being used in the real life. It's a good chance to learn slang as well.</p>
<p>I think watching american movies with polish lector might be a good idea. We have lots of those:). </p>
<p>I think you're doing a great job. Keep it up!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/63/301">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">n (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/real-polish-excellent-polish-content-for-learners#comment-301">Tuesday, May 3, 2011 - 09:17</a></span>
</div>
</div>
<div class="indented"><a id="comment-302"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>I agree!  I'm not suggesting this to myself, but rather to other people who are learning Polish. :-)  Personally, I watch ordinary Polish movies and television shows without problems.</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/63/302">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/real-polish-excellent-polish-content-for-learners#comment-302">Tuesday, May 3, 2011 - 09:23</a></span>
</div>
</div>
</div><a id="comment-304"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/8a21774263f0f26bd8bd2492e266f0ef?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>So you're just spreading the love to the Polish language! That is brilliant:). Do you know any other non-native person that speaks Polish?</p>
<p>I must say that I'm very impressed with your ability to learn the language. Polish is not as easy as you say. And to be completely honest it's useless if you don't live in Poland.</p>
<p>Anyway good job! I love the BiblioBird as well. I'll try to find some time and test it. I'm sure it'll help me to learn some new words.</p>
<p>Do you have any advice how to practice accent? At the moment it's - as my British friend said - indeterminate. Mostly similar to the American, but as I'm living in the UK it's starting to get a little messy and mixed:). I'd rather focus on American accent as I find it easier.</p>
<p>Regards,<br/>
Adrian</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/63/304">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">n (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/real-polish-excellent-polish-content-for-learners#comment-304">Tuesday, May 3, 2011 - 16:55</a></span>
</div>
</div>
<div class="indented"><a id="comment-306"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>I know several non-native speakers of Polish!  Some of them even speak much better than me. :-)</p>
<p>When we were living in Poland, I met several foreigners who had been living there for 5+ or even 10+ years.  Most them spoke excellent Polish!  And I know a handful of other people in Milwaukee and near by who are also learning Polish.  But they are mostly lower level: beginner, intermediate.</p>
<p>Honestly, I don't have a lot of advice for learning accent, because personally, I haven't spent any time on it (yet!).  I know my accent isn't that good (I get the most comments about how my accent could be better!) but people always understand me so I haven't been terribly motivated to work on it.</p>
<p>I've heard people say that singing in a foreign language helps your accent!  That is something I do occasionally in Polish.  But I haven't really noticed it help much.</p>
<p>Since I'm not an accent expert, maybe I should ask for advice from others!  This might be a good topic for the BiblioBird forum. :-)</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/63/306">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/real-polish-excellent-polish-content-for-learners#comment-306">Wednesday, May 4, 2011 - 05:34</a></span>
</div>
</div>
</div><a id="comment-325"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2011/05/rozmowa-z-piotrem-na-podka%C5%9Bcie-real-polish" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] mojej recenzji Real Polish, Piotr zaprosił mnie na rozmowę na jego podkaście. Rozmawialiśmy na temat mojego [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/63/325">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2011/05/rozmowa-z-piotrem-na-podka%C5%9Bcie-real-polish" rel="nofollow">Rozmowa z Piotrem na podkaście Real Polish! | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/real-polish-excellent-polish-content-for-learners#comment-325">Sunday, May 15, 2011 - 08:27</a></span>
</div>
</div>
<a id="comment-502"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2011/06/review-polish-through-legends" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] long ago, I reviewed the free content on Real Polish. Today, I'm going to review one of the paid courses by the same author: Polish [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/63/502">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2011/06/review-polish-through-legends" rel="nofollow">Review: Polish Through Legends | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/real-polish-excellent-polish-content-for-learners#comment-502">Tuesday, June 28, 2011 - 09:18</a></span>
</div>
</div>
<a id="comment-3929"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2013/02/how-to-get-started-learning-polish-from-zero" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] my personal recommendation for someone who is just starting out with Polish, is Real Polish. (click here to read my [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/63/3929">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2013/02/how-to-get-started-learning-polish-from-zero" rel="nofollow">How to get started learning Polish (from zero!) | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/real-polish-excellent-polish-content-for-learners#comment-3929">Tuesday, February 12, 2013 - 09:08</a></span>
</div>
</div>
<a id="comment-5639"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2013/12/5-blogs-by-americans-living-in-poland" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] also used Real Polish, which is a Polish language blog and series of courses that I [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/63/5639">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2013/12/5-blogs-by-americans-living-in-poland" rel="nofollow">5 blogs by Americans living in Poland | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/real-polish-excellent-polish-content-for-learners#comment-5639">Tuesday, December 31, 2013 - 08:25</a></span>
</div>
</div>
<a id="comment-5640"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2013/12/5-blog%C3%B3w-napisanych-przez-amerykan%C3%B3w-mieszkaj%C4%85cych-w-polsce" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] użył kursów (które osobiście polecam!) na Real Polish, blogu o nauce języka [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/63/5640">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2013/12/5-blog%C3%B3w-napisanych-przez-amerykan%C3%B3w-mieszkaj%C4%85cych-w-polsce" rel="nofollow">5 blogów napisanych przez Amerykanów mieszkających w Polsce </a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/real-polish-excellent-polish-content-for-learners#comment-5640">Tuesday, December 31, 2013 - 08:25</a></span>
</div>
</div>
</div>
