---
permalink: /blog/2011/05/review-polishpod101-com/
layout: blog-old
title: 'Review: PolishPod101.com'
day: 10
month: May
year: 2011
category: learn Polish
tags: 
  - 'review'
language: en
translation: 
---
<div class="content">
<div class="diag align-right" style="float: right; width: 136px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/05/polishpod.jpg" rel="lightbox"><img alt="PolishPod101 logo" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/05/polishpod.jpg" title=""/></a></div>
<p><em>This is the third installment in a <a href="http://www.linguatrek.com/taxonomy/term/7,1">series</a> of reviews of products for learning Polish.</em></p>
<p>Today I'm going to review <a href="http://www.polishpod101.com">PolishPod101.com</a>.  It's a collection of audio and video lessons for beginners and advanced learners (at this time, they don't have any intermediate materials).  Most of the material is <strong>available for free</strong> and includes <strong>transcripts</strong>.</p>
<p><strong>Read more for the full review!</strong></p>
<h2>For beginners</h2>
<p>PolishPod101 has one series of <a href="http://www.polishpod101.com/index.php?cat=Absolute+Beginner">audio lessons for beginners</a> and two video series <a href="http://www.polishpod101.com/index.php?cat=Absolute+Beginner+Videos">for absolute beginners</a> and <a href="http://www.polishpod101.com/index.php?cat=Beginner+Videos">beginners</a>.</p>
<h3>Audio lessons</h3>
<p>From the perspective of language learning, the audio lessons are <em>terrible</em>.  There are 43 lessons, each about 10 minutes long.  I reviewed two of them: <a href="http://www.polishpod101.com/2011/05/02/survival-phrases-43-buying-a-polish-sim-card/">#43: Buying a Polish SIM Card</a> and <a href="http://www.polishpod101.com/2011/04/18/survival-phrases-41-foreign-exchange/">#41: Foreign exchange</a>.</p>
<p>In the first lesson I reviewed, you learn <em>exactly two Polish phrases</em>.  That's it, in 10 minutes of audio!  In the second lesson, you learn five.  Even for beginners, that is way too little Polish, especially if you've already completed the previous 40 lessons.  Most of each lesson is in English.</p>
<p>That said, the lessons <em>do</em> contain a lot of useful information for tourists traveling to Poland.  In the lesson about buying a SIM card, you learn about the different telephone companies in Poland, what kind of telephone you will need to use a Polish SIM card and where to go to buy one.  But you don't learn very much Polish!</p>
<h3>Video lessons</h3>
<p>The videos lessons <a href="http://www.polishpod101.com/index.php?cat=Absolute+Beginner+Videos">for absolute beginners</a> are the best material they have for beginners.</p>
<p>There are 17 lessons and each is about 3 minutes long.  I reviewed two of them: <a href="http://www.polishpod101.com/2011/01/07/learn-with-pictures-and-video-s2-1-talking-about-your-daily-routine-in-polish/">#1: Talking about your daily routine</a> and <a href="http://www.polishpod101.com/2011/04/29/learn-with-pictures-and-video-s2-17-polish-expressions-that-help-with-the-housework-1/">#17: Expressions that help with the housework</a>.

</p><p>They are vocabulary lessons.  First, they give you a subject, verb and object. Then, using these words, they create an example sentence.  When each word is introduced, they show you a picture to define it (rather than a translation).  The images are marked with a type (ex. "action") and each noun with its gender.  The example sentence is illustrated with a short video.</p>
<p>At the end of the lesson, they show you the videos and you are prompted to say the example sentences.</p>
<p>Each lesson contains a decent amount of vocabulary and very little English (basically only the image labels).  I think these are great lessons for absolute beginners!</p>
<p>The <a href="http://www.polishpod101.com/2010/06/11/video-1-learning-polish-vocabulary-for-common-animals-is-a-walk-in-the-park/">beginner videos</a> aren't quite as good.  There are 25 lessons but only the first 3 are free.  Each lesson is 2 to 3 minutes long and covers 5 vocabulary words.  I reviewed two lessons <a href="http://www.polishpod101.com/2010/06/11/video-1-learning-polish-vocabulary-for-common-animals-is-a-walk-in-the-park/">about</a> <a href="http://www.polishpod101.com/2010/06/25/video-3-polishpod101com-will-help-keep-you-afloat-with-polish-marine-life-vocabulary/">animals</a>.  Each animal is introduced with a video and an example sentence describing what they are doing.  The sentences are kind of silly and the vocabulary isn't that great (in both amount and usefulness).</p>
<h2>For advanced learners</h2>
<p>The <a href="http://www.polishpod101.com/index.php?cat=Advanced">audio lessons for advanced learners</a> are quite good!</p>
<p>There are 10 lessons, each containing about 3:30 of actual content (not counting the intro/outro in English in each lesson).  They are entirely in Polish with guidebook-style topics.  They talk about a number of major Polish cities, the <a href="http://en.wikipedia.org/wiki/Bialowieza_Forest">Białowieża forest</a>, the Polish mountains, Piast's way and many other interesting attractions.  Despite being a guidebook, the lessons are actually quite fun and playful!</p>
<p>The only downside is that there are so few of them.  I went for a 40-minute walk and listened to them all on my MP3 player!</p>
<h2>Other resources</h2>
<p>There are a few other resources on PolishPod101, including a dictionary, an alphabet reference and smart phone applications - but all of these are paid features.</p>
<p>The only other resources available to free users are the <a href="http://www.polishpod101.com/polish-phrases/">Word of the day service</a> and a list of the <a href="http://www.polishpod101.com/polish-word-lists/?coreX=100">most commonly used 2000 words</a> in Polish, given in groups of 100.  Paid users can review these words as flashcards.</p>
<h2>Conclusion</h2>
<p>Some of the material on PolishPod101 isn't worth your time - but some of it is rather nice!</p>
<p>However, the main downside is the overall lack of content.  As a beginner, you could work through the content in 3 to 8 weeks (depending upon how much time you devote to Polish).  As a lower-advanced learner, it'll probably only take you 10 days at the most.</p>
<p><strong>Have you ever tried PolishPod101?  What do you think?  Leave a comment below!</strong></p>
</div>

<div id="comments">
<a id="comment-319"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/86d2c8cb05042f9b1837126b8d1a9c56?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I had the Spanish version of this course, and it was pretty bad. I hate courses that spend more time talking slowly in English that they do actually teaching you the language. It makes me switch off really quickly, and I lost interest. In my view, a good course is one which haves you speaking and joining in as quickly as possible</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/65/319">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">antek (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/review-polishpod101-com#comment-319">Wednesday, May 11, 2011 - 05:05</a></span>
</div>
</div>
<div class="indented"><a id="comment-320"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Yeah, that's definitely the problem with most of the beginner lessons in this course -- too much English!  But like I said, the advanced podcasts are pretty nice, however, knowing your level of Polish, you'd probably listen to them all in 40 minutes just like I did. :-)</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/65/320">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/review-polishpod101-com#comment-320">Wednesday, May 11, 2011 - 05:34</a></span>
</div>
</div>
</div><a id="comment-399"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/10a909d04f57413a62c1d4195abb3ea8?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>12 months after it's launch and still no intermediate content. A lot of phrases for the occasional tourist to learn parrot-style, and some advanced content, but nothing for those of us who want to seriously start learning the language. It's the same story with their GreekPod101. Don't waste your money.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/65/399">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Graham (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/review-polishpod101-com#comment-399">Sunday, June 5, 2011 - 12:10</a></span>
</div>
</div>
<div class="indented"><a id="comment-402"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Yeah, I definitely see no reason to spend any money there.  But in the free advanced content, there is some pretty good stuff (although, very little of it).  Unfortunately, there are far fewer people at the advanced level than intermediate!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/65/402">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/review-polishpod101-com#comment-402">Sunday, June 5, 2011 - 16:11</a></span>
</div>
</div>
</div><a id="comment-503"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2011/06/review-polish-through-legends" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] problems with Polish courses is that they contain too much English or are simply very short. (See my review of PolishPod101 for an example!) This is NOT a problem with Polish Through [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/65/503">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2011/06/review-polish-through-legends" rel="nofollow">Review: Polish Through Legends | LinguaTrek</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/review-polishpod101-com#comment-503">Tuesday, June 28, 2011 - 09:19</a></span>
</div>
</div>
<a id="comment-893"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/6609a0ac13ab14c8e573266fef242fc4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>That's really a pity, I've also recently tried PolishPod101, it's so frustrating having these long English introductions, that's really a pity as I've found their (innovativelanguage . com 's) Russian podcasts are really really useful (the Intermediate level).<br/>
 They're also being not that fair to their paying costumers, having gained some good rep with their other language podcasts, and having so little (and low quality) material after a year</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/65/893">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kobi Kai Calev (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/review-polishpod101-com#comment-893">Saturday, September 17, 2011 - 15:22</a></span>
</div>
</div>
<div class="indented"><a id="comment-894"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Yeah, unfortunately, since not that many people learn Polish, it can end up being a 2nd class citizen.  Languages like Russian, where there are a lot of people learning it, usually have more materials and of a higher quality.</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/65/894">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/review-polishpod101-com#comment-894">Monday, September 19, 2011 - 05:56</a></span>
</div>
</div>
<div class="indented"><a id="comment-903"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/6609a0ac13ab14c8e573266fef242fc4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Agreed, Russian resources are plentiful and top quality (esp. online). I do believe there's quite a lot of learners though (Polish ain't Basque)...<br/>
firstly - thank you so much for reviewing learning material, I could add my own review of polish-learning books soon (I've learnt most of my Polish round 2001, and have recently polished it up in Warsaw)</p>
<p>The RealPolish blog is great indeed (esp polish through legends, yeah!)<br/>
I can add the<br/>
"Univ. of Pittsburgh - Polish Language site" (with a proper Grammar and a "NutShell" grammar)<br/>
<a href="http://polish.slavic.pitt.edu/" title="http://polish.slavic.pitt.edu/">http://polish.slavic.pitt.edu/</a><br/>
<a href="http://polish.slavic.pitt.edu/other/" title="http://polish.slavic.pitt.edu/other/">http://polish.slavic.pitt.edu/other/</a></p>
<p>Also, listening to Polish Radio is quite useful:<br/>
<a href="http://delicast.com/radio/Poland" title="http://delicast.com/radio/Poland">http://delicast.com/radio/Poland</a><br/>
<a href="http://www.listenlive.eu/poland.html" title="http://www.listenlive.eu/poland.html">http://www.listenlive.eu/poland.html</a></p>
<p>My favourite radiostation at the time was "Radio BIS - Bardzo Inna Stacja", webarcheology yields a promo alone...<br/>
<a href="http://www.youtube.com/watch?v=sH00b91Vfcw" title="http://www.youtube.com/watch?v=sH00b91Vfcw">http://www.youtube.com/watch?v=sH00b91Vfcw</a><br/>
<a href="http://www.youtube.com/user/radiobis" title="http://www.youtube.com/user/radiobis">http://www.youtube.com/user/radiobis</a></p>
<p>wish I could find their podcasts from 2005/6...</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/65/903">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kobi Kai Calev (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/review-polishpod101-com#comment-903">Monday, September 19, 2011 - 17:49</a></span>
</div>
</div>
<div class="indented"><a id="comment-905"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks for all the links!  Lots of good stuff. :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/65/905">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/review-polishpod101-com#comment-905">Tuesday, September 20, 2011 - 05:45</a></span>
</div>
</div>
</div><a id="comment-904"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/6609a0ac13ab14c8e573266fef242fc4?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>another thing, someone should really talk to the polish ministry of culture or whatever, no-one it seems is really helping foreigners learn Polish (neither in Poland nor abroad), a little push could work marvels.<br/>
cheers</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/65/904">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kobi Kai Calev (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/review-polishpod101-com#comment-904">Monday, September 19, 2011 - 17:51</a></span>
</div>
</div>
</div></div><a id="comment-1136"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://diylanguage.wordpress.com" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/e5ff3ca24e827fcfa8ba6d0aede748f2?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>in my opinon, the languagepod101.com series is worth it if you are buying the first language in the series. Japanesepod is definitely worth it, there are lots of lessons and you can skip the audio and just do the lessons (which are only available if you pay, which is what I have done). As for the rest, I'd wait 2 to 4 years before buying the new packages like Portuguese or even Indonesian. Would be great to get some feedback from those that have bought the other language packages.<br/>
That said, it is great to have a brief review of the lessons and I agree that the series is packed with lots of cultural tips. xx Layinka</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/65/1136">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://diylanguage.wordpress.com" rel="nofollow">Layinka</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/review-polishpod101-com#comment-1136">Friday, December 30, 2011 - 13:10</a></span>
</div>
</div>
<div class="indented"><a id="comment-1144"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Thanks for the comment!  I'll have to check out JapanesePod if (when?) I decide to learn Japanese. :-)</p>
<p>BTW, I just took a look at your blog.  It looks very interesting!  Chinese is also a language I would like to learn someday. (Honestly, I'd love to learn every language but there is only so much time in the day.)  Anyway, I've subscribed and I look forward to reading more of your articles!</p>
<p>Best regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/65/1144">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/review-polishpod101-com#comment-1144">Saturday, December 31, 2011 - 07:58</a></span>
</div>
</div>
</div><a id="comment-1773"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d223964c0e26c5773b26c0a226138243?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>I wrote them 3 times over a period of 3 months asking about their services. Never got a response to any of them. It seems like the website was set up to run itself, no customer service and no indications that they have intentions of expanding their lessons. Compared to a company like ChinesePod/SpanishPod it leaves a lot to be desired.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/65/1773">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Bobby (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/review-polishpod101-com#comment-1773">Friday, April 27, 2012 - 06:33</a></span>
</div>
</div>
<a id="comment-3373"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/2ddba1139d9e51df0220240d2603bb89?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Their content is OK, nothing special - although the word of the day is nice.  You will however get sick of the two or three e-mails every day promoting 'offers' on paid courses.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/65/3373">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">GrahamK (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/review-polishpod101-com#comment-3373">Friday, December 28, 2012 - 17:40</a></span>
</div>
</div>
<div class="indented"><a id="comment-3374"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>Heh, yeah, I'm still getting plenty of e-mails from them too. :-)</p>
<p>Thanks for sharing your opinion!</p>
<p>Regards,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/65/3374">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/review-polishpod101-com#comment-3374">Friday, December 28, 2012 - 18:04</a></span>
</div>
</div>
</div>
</div>
