---
permalink: /blog/2011/05/rozmowa-z-piotrem-na-podkaście-real-polish/
layout: blog-old
title: 'Rozmowa z Piotrem na podkaście Real Polish!'
day: 15
month: May
year: 2011
category: learn Polish
tags: 
  - 'podcast'
  - 'Real Polish'
language: en
translation: /blog/2011/05/rozmowa-z-piotrem-na-podka%C5%9Bcie-real-polish/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/05/radiotelescope.jpg" rel="lightbox"><img alt="" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/05/radiotelescope.jpg" title="Właśnie o tym myślę, kiedy myślę o podkastach. :-)  Zdjęcie przez Tom Blackwell."/></a><div class="caption">Właśnie o tym myślę, kiedy myślę o podkastach. :-)  <a href="http://www.flickr.com/photos/8185633@N07/4863532315">Zdjęcie</a> przez <a href="http://www.flickr.com/photos/tjblackwell/">Tom Blackwell</a>.</div></div>
<p>Po <a href="http://www.linguatrek.com/blog/2011/05/real-polish-excellent-polish-content-for-learners">mojej recenzji</a> <a href="http://realpolish.wordpress.com/">Real Polish</a>, Piotr zaprosił mnie na rozmowę na jego podkaście.  Rozmawialiśmy na temat mojego doświadczenia w nauce języka polskiego.  Wyszło tak dobrze, że może będziemy w przyszłości nagrywać jeszcze podkastów. :-)</p>
<p><strong>Zapraszam do słuchania <a href="http://realpolish.wordpress.com/2011/05/15/learn-polish-interesting-stuff-14-david/">tutaj</a>!</strong></p>
<p><em>(Dla tych, którzy uczą się polskiego, jest tam transkrypcja.)</em></p>
</div>

<div id="comments">
<a id="comment-327"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/f96b351767464fe737961441022603bd?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Hi!<br/>
Your blog has been nominated for our Top 100 Language Lovers 2011 competition.<br/>
Read more here: <a href="http://www.lexiophiles.com/featured-articles/top-100-language-lovers-2011-competition-starts-today-%E2%80%93-nominate-your-favorite" title="http://www.lexiophiles.com/featured-articles/top-100-language-lovers-2011-competition-starts-today-%E2%80%93-nominate-your-favorite">http://www.lexiophiles.com/featured-articles/top-100-language-lovers-201...</a> </p>
<p>Good luck!</p>
<p>Giulia - On behalf of the bab.la and Lexiophiles team</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/68/327">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Giulia De Dominicis (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/rozmowa-z-piotrem-na-podka%C5%9Bcie-real-polish#comment-327">Monday, May 16, 2011 - 10:49</a></span>
</div>
</div>
<div class="indented"><a id="comment-330"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="David Snopek's picture" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="David Snopek's picture"/></div>
<p>I waited to say anything until I knew that "nominated" meant my blog was actually in the competition! ;-)  I'm honored to have been included.</p>
<p>Thanks!<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/68/330">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/rozmowa-z-piotrem-na-podka%C5%9Bcie-real-polish#comment-330">Tuesday, May 17, 2011 - 11:08</a></span>
</div>
</div>
</div><a id="comment-333"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/1f6fdb7ced1fb535e886c414826deaf5?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></div>
<p>Very interesting interview!! It's pretty cool and inspiring to know about your experience learning polish! :) You speak so naturally and fluently. You know, generally it's easier for a foreigner to learn to understand the language but not to speak by their own so naturally as you do!  I will be looking forward for new podcasts! ;))) and Thank you for sharing!! :) Greetings!!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/68/333">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Lore (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/rozmowa-z-piotrem-na-podka%C5%9Bcie-real-polish#comment-333">Tuesday, May 17, 2011 - 15:11</a></span>
</div>
</div>
</div>
