---
permalink: /blog/2011/05/vote-for-linguatrek-top-100-language-blogs/
layout: blog-old
title: 'Vote for LinguaTrek: Top 100 Language Blogs!'
day: 17
month: May
year: 2011
category: LinguaTrek
tags: 
  - 'Top 100 Language Lovers'
language: en
translation: /blog/2011/05/zag%C5%82osuj-na-linguatrek-100-najlepszych-blog%C3%B3w-na-temat-nauki-j%C4%99zyk%C3%B3w/
---
<div class="content">
<div class="diag align-right" style="float: right; width: 160px; margin: 10px 0 10px 10px"><a href="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Large/image/2011/05/top100lovers_logo1.gif" rel="lightbox"><img alt="Logo for the competiton" src="http://www.linguatrek.com/sites/www.linguatrek.com/files/imagecache/Small/image/2011/05/top100lovers_logo1.gif" title=""/></a></div>
<p>LinguaTrek was nominated in the <a href="http://www.lexiophiles.com">Lexophile</a> <a href="http://www.lexiophiles.com/language-lovers-toplist/time-to-vote-top-100-language-lovers-2011">Top 100 Language Lovers 2011 competition</a>.  Of the hundreds of  blogs nominated, only 200 were selected for the competition.  I'm very honored that my blog is among those 200!</p>
<p><strong>Go to <a href="http://www.lexiophiles.com/language-lovers-toplist/time-to-vote-for-your-favorite-language-learning-blog-2011">this page</a> to vote!</strong></p>
</div>

<div id="comments">
<a id="comment-386"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<a href="http://www.linguatrek.com/blog/2011/06/linguatrek-got-12th-place-among-language-learner-blogs-2011" title="View user website."><img alt="Anonymous's picture" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&amp;s=85&amp;r=G" title="Anonymous's picture"/></a></div>
<p>[...] Every year Lexiophiles and bab.la organize a contest recognizing language blogs. This year, LinguaTrek was in the competition! [...]</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/69/386">reply</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author"><a href="http://www.linguatrek.com/blog/2011/06/linguatrek-got-12th-place-among-language-learner-blogs-2011" rel="nofollow">LinguaTrek got 12th place among Language Learner Blogs 2011!</a> (not verified)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/vote-for-linguatrek-top-100-language-blogs#comment-386">Thursday, June 2, 2011 - 08:12</a></span>
</div>
</div>
</div>
