---
permalink: /blog/2011/05/zagłosuj-na-linguatrek-100-najlepszych-blogów-na-temat-nauki-języków/
layout: blog-old
title: 'Zagłosuj na LinguaTrek: 100 najlepszych blogów na temat nauki języków '
day: 19
month: maj
year: 2011
category: unknown
tags: 
  - 'vlog'
language: pl
translation: /blog/2011/05/zag%C5%82osuj-na-linguatrek-100-najlepszych-blog%C3%B3w-na-temat-nauki-j%C4%99zyk%C3%B3w/
---
<div class="content">
<p>W skrócie: Ten blog został nominowany do konkursu "Top 100 Language Lovers 2011" - tzn 100 najlepszych blogów na temat nauki języków. Proszę <a href="http://www.lexiophiles.com/language-lovers-toplist/time-to-vote-for-your-favorite-language-learning-blog-2011">zagłosuj</a>!</p>
<object height="311" width="510"><param name="movie" value="http://www.youtube.com/v/BbgjZKZSjLI?fs=1&amp;hl=en_US&amp;rel=0"/><param name="wmode" value="opaque"/><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><embed allowfullscreen="true" allowscriptaccess="always" height="311" src="http://www.youtube.com/v/BbgjZKZSjLI?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="510" wmode="opaque"/></object>
<p><strong>Czytaj transkrypcję poniżej!</strong></p>
<h2><a name="transcript">Transkrypcja</a></h2>
<ul>
<li>Dzień dobry</li>
<li>Znowu przed kamerą internetową mówi David Snopek</li>
<li>To nie będzie normalnym filmikiem, normalnym odcinkiem</li>
<li>Będzie tylko krótka prośba</li>
<li>Mój blog - <a href="http://www.linguatrek.com">LinguaTrek</a> został nominowany do konkursu "Top 100 Language Blogs"</li>
<li>To znaczy sto najlepszych blogów na temat nauki języków</li>
<li>To jest dla mnie wielki zaszczyt, być w tej grupie</li>
<li>Mam nadzieję, że przez to, mój blog zostanie trochę lepiej znany w świecie angielsko-mówiącym</li>
<li>Bo do pory mój blog jest bardziej znany wśród Polaków</li>
<li>Ale bardzo chciałbym zmotywować więcej ludzi właśnie do nauki języka polskiego</li>
<li>I pokazać im co jest wspaniale w Polsce i w polskiej kulturze</li>
<li>Oczywiście, wszystko nie jest doskonale, nigdzie nie jest doskonale</li>
<li>Ale w Polsce naprawdę są wspaniałe rzeczy i chciałbym, żeby więcej ludzi wiedziało o tym</li>
<li>Więc proszę zagłosuj na LinguaTrek w konkursie</li>
<li>Jest link poniżej w opisie</li>
<li>Zobaczymy <del>na jakie miejsce</del> [na jakim miejscu] wylądujemy</li>
<li>Dziękuję bardzo za uwagę</li>
<li>Do widzenia</li>
</ul>
</div>

<div id="comments">
<a id="comment-337"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/11a1c3c2776f5251f9bf03054a01c065?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Witaj,</p>
<p>mały błąd się  wkradł<br/>
zamiast:<br/>
"Zobaczymy na jakie miejsce wylądujemy"<br/>
powinno być :<br/>
"Zobaczymy na jakim  miejscu wylądujemy"</p>
<p>Pozdrawiam</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/70/337">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Kacper (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/zag%C5%82osuj-na-linguatrek-100-najlepszych-blog%C3%B3w-na-temat-nauki-j%C4%99zyk%C3%B3w#comment-337">czwartek, maj 19, 2011 - 12:17</a></span>
</div>
</div>
<div class="indented"><a id="comment-338"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika David Snopek" src="http://www.gravatar.com/avatar/eb92a49faba304e01dede4c15f40b3a7?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika David Snopek"/></div>
<p>Ach!  Dziękuję bardzo za poprawkę. :-)  Zmieniłem to w transkrypcji.</p>
<p>Pozdrawiam,<br/>
David.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/70/338">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">David Snopek</span> |
    <span class="date"><a class="active" href="/blog/2011/05/zag%C5%82osuj-na-linguatrek-100-najlepszych-blog%C3%B3w-na-temat-nauki-j%C4%99zyk%C3%B3w#comment-338">czwartek, maj 19, 2011 - 12:52</a></span>
</div>
</div>
</div><a id="comment-343"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/df1019af76771f9d8710ef59a1f5151f?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>wylądujesz na pierwszym miejscu! trzymam kciuki! zasługujesz na wygraną!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/70/343">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">viddhi108 (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/zag%C5%82osuj-na-linguatrek-100-najlepszych-blog%C3%B3w-na-temat-nauki-j%C4%99zyk%C3%B3w#comment-343">piątek, maj 20, 2011 - 18:12</a></span>
</div>
</div>
<a id="comment-346"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/b3c35130512c590c91e9d7ec28bd950c?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Głos oddany :)<br/>
Powodzenia. Widzę, że wiele osób oddaje na głos na ten portal, więc mamy dużą szansę wygrać :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/70/346">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Ligo (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/zag%C5%82osuj-na-linguatrek-100-najlepszych-blog%C3%B3w-na-temat-nauki-j%C4%99zyk%C3%B3w#comment-346">sobota, maj 21, 2011 - 02:18</a></span>
</div>
</div>
<a id="comment-347"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/207a3a4470a869254fbe0d82a959f372?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Wykop pozdrawia ! Pierwsze miejsca masz jak w banku ! ;)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/70/347">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Anonymous (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/zag%C5%82osuj-na-linguatrek-100-najlepszych-blog%C3%B3w-na-temat-nauki-j%C4%99zyk%C3%B3w#comment-347">sobota, maj 21, 2011 - 03:23</a></span>
</div>
</div>
<a id="comment-349"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/5ca590cc68851670c45f4893cf407f78?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Serdeczne pozdrowienia dla Ciebie David!!!<br/>
Jesteś niesamowity gość!!! Już oddałem głos na Twojego bloga!<br/>
Jak powiedział mój poprzednik, wygrasz ten konkurs!</p>
<p>Wykop efekt!</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/70/349">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Matteo (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/zag%C5%82osuj-na-linguatrek-100-najlepszych-blog%C3%B3w-na-temat-nauki-j%C4%99zyk%C3%B3w#comment-349">sobota, maj 21, 2011 - 07:34</a></span>
</div>
</div>
<a id="comment-352"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/0963118a1f797f8d8fbb4a6b255c18d1?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Powodzenia! Moim zdaniem zasługujesz na zwycięstwo.</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/70/352">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Marcin (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/zag%C5%82osuj-na-linguatrek-100-najlepszych-blog%C3%B3w-na-temat-nauki-j%C4%99zyk%C3%B3w#comment-352">niedziela, maj 22, 2011 - 06:59</a></span>
</div>
</div>
<a id="comment-353"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/b2b366991416380f24dfe7e119af0332?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Ja również zagłosowałem za Twoim blogiem i trzymam kciuki za wygraną. Powodzenia Zygmunt :-)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/70/353">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">Zygmunt Jaworski (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/zag%C5%82osuj-na-linguatrek-100-najlepszych-blog%C3%B3w-na-temat-nauki-j%C4%99zyk%C3%B3w#comment-353">niedziela, maj 22, 2011 - 07:11</a></span>
</div>
</div>
<a id="comment-354"></a>
<div class="comment comment-published clear-block">
<div class="content clear-block">
<div class="picture">
<img alt="Portret użytkownika Anonymous" src="http://www.gravatar.com/avatar/27d2530ff17139a256b7667bb1b102bf?d=identicon&amp;s=85&amp;r=G" title="Portret użytkownika Anonymous"/></div>
<p>Oddałem na Ciebie swój głos, a poza tym rozpropagowałem Twoj blog na forum sympatyków Janusza Korwin-Mikkego (to taki polski libertarianin), na Frizonie: <a href="http://frizona.pl/threads/7853-J%C4%99zykowy-Blog-Roku-potrzebna-pomoc" title="http://frizona.pl/threads/7853-J%C4%99zykowy-Blog-Roku-potrzebna-pomoc">http://frizona.pl/threads/7853-J%C4%99zykowy-Blog-Roku-potrzebna-pomoc</a></p>
<p>Korwin Mikke ma bardzo duże poparcie wśród internautów, więc myślę że sporo osób na Ciebie odda swój głos za pośrednictwem Frizony :)</p>
</div>
<ul class="links"><li class="comment_reply first last"><a href="/comment/reply/70/354">Odpowiedz</a></li>
</ul>
<div class="meta">
    Posted by: <span class="author">PLrc (niezweryfikowany)</span> |
    <span class="date"><a class="active" href="/blog/2011/05/zag%C5%82osuj-na-linguatrek-100-najlepszych-blog%C3%B3w-na-temat-nauki-j%C4%99zyk%C3%B3w#comment-354">niedziela, maj 22, 2011 - 14:22</a></span>
</div>
</div>
<div class="box">
<h2>Dodaj nową odpowiedź</h2>
<div class="content"><form accept-charset="UTF-8" action="/comment/reply/70" id="comment-form" method="post">
<div><div class="form-item" id="edit-name-wrapper">
<label for="edit-name">Nazwisko lub pseudonim: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-name" maxlength="60" name="name" size="30" type="text" value="Anonymous"/>
</div>
<div class="form-item" id="edit-mail-wrapper">
<label for="edit-mail">E-mail: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<input class="form-text required" id="edit-mail" maxlength="64" name="mail" size="30" type="text" value=""/>
<div class="description">Zawartość pola nie będzie udostępniana publicznie. If you have a <a href="http://www.gravatar.com">Gravatar</a> account, used to display your avatar.</div>
</div>
<div class="form-item" id="edit-homepage-wrapper">
<label for="edit-homepage">Strona domowa: </label>
<input class="form-text" id="edit-homepage" maxlength="255" name="homepage" size="30" type="text" value=""/>
</div>
<div class="form-item" id="edit-comment-wrapper">
<label for="edit-comment">Odpowiedź: <span class="form-required" title="Wypełnienie pola jest wymagane.">*</span></label>
<textarea class="form-textarea resizable required" cols="60" id="edit-comment" name="comment" rows="15"></textarea>
</div>
<ul class="tips"><li>Adresy internetowe są automatycznie zamieniane w odnośniki, które można kliknąć.</li><li>Dozwolone znaczniki HTML: &lt;a&gt; &lt;em&gt; &lt;strong&gt; &lt;cite&gt; &lt;code&gt; &lt;ul&gt; &lt;ol&gt; &lt;li&gt; &lt;dl&gt; &lt;dt&gt; &lt;dd&gt;</li><li>Znaki końca linii i akapitu dodawane są automatycznie.</li></ul><input id="form-b5c4ca35de4ace10a9e1b371e5288acc" name="form_build_id" type="hidden" value="form-b5c4ca35de4ace10a9e1b371e5288acc"/>
<input id="edit-comment-form" name="form_id" type="hidden" value="comment_form"/>
<div class="clear-block"><div class="form-item" id="edit-notify-wrapper">
<label class="option" for="edit-notify"><input checked="checked" class="form-checkbox" id="edit-notify" name="notify" type="checkbox" value="1"/> Notify me when new comments are posted</label>
</div>
<div class="form-radios"><div class="form-item" id="edit-notify-type-1-wrapper">
<label class="option" for="edit-notify-type-1"><input class="form-radio" id="edit-notify-type-1" name="notify_type" type="radio" value="1"/> All comments</label>
</div>
<div class="form-item" id="edit-notify-type-2-wrapper">
<label class="option" for="edit-notify-type-2"><input checked="checked" class="form-radio" id="edit-notify-type-2" name="notify_type" type="radio" value="2"/> Replies to my comment</label>
</div>
</div></div><input class="mollom-session-id" id="edit-mollom-session-id" name="mollom[session_id]" type="hidden" value=""/>
<div style="display: none;"><div class="form-item" id="edit-mollom-homepage-wrapper">
<input class="form-text" id="edit-mollom-homepage" maxlength="128" name="mollom[homepage]" size="60" type="text" value=""/>
</div>
</div><div class="description mollom-privacy">Wysłanie formularza jest równoznaczne z akceptacją <a href="http://mollom.com/web-service-privacy-policy">polityki prywatności usługi Mollom</a>.</div><input class="form-submit" id="edit-preview" name="op" type="submit" value="Podgląd"/>
</div></form>
</div>
</div>
</div>
